[2016-12-03 04:06] nikitarockz commented on #530
@KHarshawat Please look at these and make sure I captured your plan.
@shanear check it out.

[2016-12-03 04:07] nikitarockz commented on #529
@KHarshawat Please look at these and make sure I captured your plan.
@shanear check it out.

[2016-12-03 04:07] nikitarockz commented on #528
@KHarshawat Please look at these and make sure I captured your plan.
@shanear check it out.

[2016-12-03 04:07] nikitarockz commented on #527
@KHarshawat Please look at these and make sure I captured your plan.
@shanear check it out.

[2016-12-03 04:07] nikitarockz commented on #526
@KHarshawat Please look at these and make sure I captured your plan.
@shanear check it out.

[2016-12-03 04:07] nikitarockz commented on #525
@KHarshawat Please look at these and make sure I captured your plan.
@shanear check it out.

[2016-12-03 04:08] nikitarockz commented on #524
@KHarshawat Please look at these and make sure I captured your plan.
@shanear check it out.

[2016-12-03 04:08] nikitarockz commented on #523
@KHarshawat Please look at these and make sure I captured your plan.
@shanear check it out.

[2016-12-03 04:08] nikitarockz commented on #522
@KHarshawat Please look at these and make sure I captured your plan.
@shanear check it out.

[2016-12-03 04:08] nikitarockz commented on #521
@KHarshawat Please look at these and make sure I captured your plan.
@shanear check it out.

[2016-12-03 04:08] nikitarockz commented on #520
@KHarshawat Please look at these and make sure I captured your plan.
@shanear check it out.

[2016-12-03 04:08] nikitarockz commented on #518
@KHarshawat Please look at these and make sure I captured your plan.
@shanear check it out.

[2016-12-03 04:08] KHarshawat commented on #530
@nikitarockz LGTM!

[2016-12-03 04:09] nikitarockz commented on #530
What does LGTM! stand for?

[2016-12-03 04:09] KHarshawat commented on #529
LGTM!

[2016-12-03 04:10] KHarshawat commented on #528
LGTM!

[2016-12-03 04:11] KHarshawat commented on #527
LGTM!

[2016-12-03 04:17] KHarshawat commented on #526
@nikitarockz A couple changes...
- For clarity I would change "EP Cancellation page" to "EP Cancellation modal"
- The word "escalated" should be in red (USWDS `secondary`) on the user's page

[2016-12-03 04:18] KHarshawat commented on #525
LGTM!

[2016-12-03 04:18] KHarshawat commented on #524
lgtm!

[2016-12-03 04:21] KHarshawat commented on #523
lgtm

[2016-12-03 04:22] nikitarockz commented on #526
@KHarshawat Updated.

[2016-12-03 04:22] KHarshawat commented on #522
@nikitarockz for this and other issues related to the "Establish Next Claim" button we should verify that when there are no more claims left in the queue to work on, the button should be disabled. I'm just going to write this comment here but it applies to all stories like this.

[2016-12-03 04:23] KHarshawat commented on #521
lgtm

[2016-12-03 04:26] KHarshawat commented on #520
I wold change the wording displayed form "In Hold" or "Placed on Hold" to just "On Hold" for consistency.

The status in the "Work history" section should update once the claim EP has been created, after being On Hold.

[2016-12-03 04:27] KHarshawat commented on #530
Looks Good To Me :)

[2016-12-03 04:28] KHarshawat commented on #518
I'd also add that

[2016-12-03 15:11] joofsh commented on #516
@shanear Acceptance criteria says we should be displaying username (but we probably mean name?). Does CSS have an API for retrieving that information? Otherwise we'd have to start saving user names in our DB, duplicating sources of truth

[2016-12-03 15:12] joofsh commented on #517
@shanear I assume you mean the css_id (not our internal user id)? Does that have any meaning to a manager?

[2016-12-03 15:13] joofsh commented on #387
@nikitarockz The title says "Show More/Search", but the acceptance criteria seem focused on Show More.  If we don't have any current plans for search, can we split that out to a separate ticket in the backlog?

[2016-12-03 15:16] joofsh commented on #403
@nikitarockz The latest comments say this is on hold. Is this truly "ready for dev"? Are we continuing in this direction?

CC @abbyraskin @KHarshawat @lakohl

[2016-12-03 15:28] joofsh commented on #472
@KHarshawat It's definitely a bigger lift to persist the EP form to the DB. Given how short the form is & the unknown future of EPs, I don't believe it's worth the level of effort. I would recommend we have them refill the form if they return to an appeal on Hold.

[2016-12-03 19:18] nikitarockz commented on #522
@KHarshawat Good catch.  I will update this and the other stories.

[2016-12-05 13:57] nikitarockz commented on #403
Agreed.  I am going to move this one back.

[2016-12-05 14:49] astewarttistatech commented on #392
**PASSED**

Looks good. See attached.
<img width="1117" alt="screen shot 2016-12-05 at 9 48 52 am" src="https://cloud.githubusercontent.com/assets/23038505/20889214/1f9d8c20-bad0-11e6-82c6-9d51aab7d91e.png">

[2016-12-05 14:49] #392 closed

[2016-12-05 14:55] KHarshawat commented on #518
Update: We decided we will not save work if you place the appeal on hold since this will require quite a bit of engineering lift. We should make sure the text is updated to what's shown in the previous comment.

[2016-12-05 14:55] KHarshawat commented on #472
Sounds good! I'll update the #518 to reflect we won't be saving the form.

[2016-12-05 15:18] astewarttistatech commented on #417
Moved back to "Current Sprint" due to it being currently incomplete.

[2016-12-05 15:31] cmgiven commented on #476
One note here is that we're currently looking into a seam here, cases where VBA says they've returned them to the board but BVA has not picked them up. Addressing that and ensuring that everything is owned by someone at all times is the potential reason to add recertification.

[2016-12-05 15:34] shellicious commented on #476
very interesting, @cmgiven! Is there an issue tracking that discovery work?

[2016-12-05 15:43] shanear commented on #403
@lakohl blocked until we answer whether VACOLS decisions can be used for the Claims Establishment process. My understanding was that this was not acceptable.

[2016-12-05 15:49] cmgiven commented on #476
Not at the moment. Using "we" broadly. The initial impetus for this one was a list created by VBA, and while I have provided some input to help the Board with triaging that list, it's currently being handled outside the appeals modernization team.

[2016-12-05 15:58] shellicious opened #531 "VACOLS: "Dispatch Appeals" link launches Caseflow"
A DRO we interviewed on 12/1/16 told us that sometimes when he clicks on "Dispatch Appeal" in VACOLS, it launches Caseflow. According to @shanear this should not happen. The DRO couldn't say exactly when it occurred. He said he recalled it happening with cases that were not certified in Caseflow.

### Reproductive Steps

## Related Issues
_Product Support Issue:_  https://github.com/department-of-

[2016-12-05 16:01] lakohl commented on #403
Need to confirm with Nicholas re: pulling decisions from VACOLS vs. VBMS.

[2016-12-05 16:13] mdbenjam commented on #526
@nikitarockz --- Pushing back because this is closely related to Hold.

[2016-12-05 16:26] mdbenjam commented on #520
@nikitarockz Update mock to remove value in the Work history section.

[2016-12-05 16:42] amprokop commented on #482
https://github.com/department-of-veterans-affairs/caseflow/pull/499 fixed this

[2016-12-05 16:47] mdbenjam commented on #522
@lakohl Will double check to make sure this is the flow we want to go with, in terms of having this page at all.

[2016-12-05 16:51] mdbenjam commented on #529
@nikitarockz Update mockup to have the value "On Hold".

[2016-12-05 17:02] mdbenjam commented on #529
@lakohl @nikitarockz There needs to a new mockup/story for allowing the user to continuously go in to a task that is on hold.

[2016-12-05 17:58] amprokop commented on #478
Have we verified this? If we have, can we add that info in the issue? If not, can we verify it before it goes into the current sprint? Not sure this is really "Ready for dev"

[2016-12-05 18:00] amprokop commented on #342
Option 2 sounds right to me. Should we modify the description body to add that?

[2016-12-05 18:07] shanear commented on #342
We'll go with that, update the description if it's helpful to you, but no need from my perspective.

[2016-12-05 19:17] shanear commented on #400
tested this over the weekend. Worked!

[2016-12-05 19:17] #400 closed

[2016-12-05 19:17] shanear commented on #482
agreed. Also, this one is going to be hard to reproduce, so well call it fixed and keep an eye out for tickets

[2016-12-05 19:18] #482 closed

[2016-12-06 14:09] lakohl commented on #166
@orischwartz what actions did the user perform to get this message?/ when would it show?

[2016-12-06 15:28] abbyraskin commented on #476
@shellicious I pinged Matt at AMC again about connecting us with a DRO/VSR/RVSR at AMC.

Also, to overlap with some of the ongoing Dispatch discovery...I was thinking we could also ask RO folks today whether the signed decision documented is ever missing from VBMS as they work on a remand, and what they do in this scenario.

[2016-12-06 15:28] orischwartz commented on #166
@lakohl I don't know of a way to recreate this message consistently -- it comes up if the SAML flow (our single-signon provider) is misconfigured.

I'd say it's safe to close this as `wontfix` for now and revisit if a user ever reports it.

[2016-12-06 16:04] nikitarockz commented on #359
I updated the user story to correctly reflect the final decision on priority order.

[2016-12-06 17:52] lakohl commented on #166
OK

[2016-12-06 20:01] nemodjuric opened #535 "Google Analytics | Certification | Add user cancellation and completion tracking"
As Product Owner, I would like to track when users are cancelling out of certifying based on the following scenarios so that I obtain metrics, monitor activity and/or make additional improvements.

This will include:
- How many users have started a case in Caseflow and have not finished certifying it in Caseflow
- How many users have started a case in Caseflow and have finished certifying it in Ca

[2016-12-06 20:40] amprokop opened #536 "Investigate non-deterministically failing tests."
There is a strong suspicion among our lovely team that some certification-related tests fail non-deteministically. This is a difficult problem to reproduce, but it definitely causes a lot of development friction. Ten or twenty minutes spent fruitlessly debugging a PR here and there adds up! We should investigate this and see if there's a fix. Even if you take this task on and **don't** fix anythin

[2016-12-06 22:55] mdbenjam opened #539 "Move EFolder to use S3Service from Caseflow-Commons"
We recently migrated the S3Service code to Caseflow-Commons. In order to not duplicate, let's use this version instead.

[2016-12-07 12:14] #295 closed

[2016-12-07 17:09] shellicious commented on #476
@abbyraskin What do you think about closing this issue since we've completed interviews with ROs, and then opening another to track AMC interviews about remands?

[2016-12-07 17:11] #476 closed

[2016-12-07 19:12] nikitarockz commented on #520
Mockups have been updated.

[2016-12-07 20:54] astewarttistatech commented on #446
**PASSED**

Please see attached.
<img width="1043" alt="screen shot 2016-12-07 at 3 54 30 pm" src="https://cloud.githubusercontent.com/assets/23038505/20986171/7da6d8b4-bc95-11e6-9a66-ccaaf7b322ad.png">

[2016-12-07 20:55] #446 closed

[2016-12-07 21:42] askldjd opened #543 "Allow vbms logging configurations to be specified"
Currently, `connect_vbms` does not log req/res SOAP message. Because of the recent VBMS issues (https://github.com/department-of-veterans-affairs/appeals-pm/issues/1034), we need the following enhancements

- [ ] Logging of raw req/res SOAP messages.
- [ ] Allow this feature to be toggled by environment variable.
- [ ] Customization of logging path based on configuration.

Because of PII, the logs

[2016-12-07 21:55] askldjd opened #544 "Support "Out of Service" mode"
When external dependencies go down, we need to quickly declare the application to be out of service. Ideally, if `OUT_OF_SERVICE` is defined, it will prevent user from making changes to the site.

See also https://github.com/department-of-veterans-affairs/appeals-deployment/issues/270

[2016-12-08 14:18] nikitarockz commented on #387
@joofsh I just updated the title.  Sorry for the delay in responding to your request.  :smile:

[2016-12-08 15:04] amprokop commented on #272
@KHarshawat @shanear  — I'm pretty far into implementing this but it looks inconsistent to me. We use radio buttons elsewhere in the certification form instead of dropdowns, and for other similar-looking cases, the label for the custom field says "Specify other {xxxx}:" Attached is a screenshot of another part of the form that looks analagous to me. Do we really want to use a dropdown & this diffe

[2016-12-08 15:15] astewarttistatech commented on #359
@lakohl are there still no mocks to go off of or are we just not using them for this issue?

[2016-12-08 15:19] astewarttistatech commented on #359
@lakohl Can this be tested in Dev? It doesn't seem I cannot make anything thats not a Full Grant.

[2016-12-08 15:25] KHarshawat commented on #272
@amprokop good catch! I can't think of a good reason we should no make this radio buttons besides saving space. Apologies for not seeing this earlier and for the work you've already put in to make this a dropdown!

[2016-12-08 15:33] amprokop opened #546 "Bring up production Feedback environment"

[2016-12-08 15:42] amprokop commented on #272
no review necessary yet

[2016-12-08 16:48] lakohl commented on #359
@astewarttistatech for Milestones 1 & 2 Caseflow Dispatch is only going to handle Full Grants

[2016-12-08 17:16] nikitarockz commented on #529
Based on the direction we are going now (no holding of issues), this issue is being placed in the ice box.

[2016-12-08 17:16] nikitarockz commented on #522
Based on the direction we are going now (no holding of issues), this issue is being placed in the ice box.

[2016-12-08 17:17] nikitarockz commented on #530
Based on the direction we are going now (no holding of issues), this issue is being placed in the ice box.

[2016-12-08 17:17] nikitarockz commented on #520
Based on the direction we are going now (no holding of issues), this issue is being placed in the ice box.

[2016-12-08 17:18] nikitarockz commented on #521
Based on the direction we are going now (no holding of issues), this issue is being placed in the ice box.

[2016-12-08 19:02] astewarttistatech commented on #359
This issue is being moved to blocked due to the fact it currently cannot be tested. Please refer to Lara's comment above.

@shanear next steps?

[2016-12-08 19:44] nikitarockz opened #549 "Manager Home: Work History: Isn't showing the most recent task completed at the top of the list"
While on the Demo site I noticed that the latest completed task isn't show up in the Manager's Work History section.  In fact, it doesn't appear to be updating at all.

### Related Issues
#386 Manager View: Show History of completed cases

[2016-12-08 22:49] joofsh opened #551 "Add state-machine to Tasks"
Currently the Tasks model handles its transitions manually, checking via the date columns that the task is in the appropriate state to accept the transition from Unassigned => Assigned => Started => Completed

This will become unwieldy if we add more states, and before then we should consider implementing a state machine. So we'd newly add a `state` column, and that column would dictate it's curre

[2016-12-09 14:41] lakohl commented on #403
@nikitarockz We are going to look for the doc in VBMS. This issue is for Milestone 2. For Milestone 1 - if there is no decision doc in VBMS for that claim we will surface a message where the decision would be saying 'there is currently no decision document in VBMS in the date range x-y.'
@abbyraskin Do you you agree we should look for a decision withing a date range (how many days?) or should we j

[2016-12-09 14:44] lakohl commented on #412
@nikitarockz RO Routing is not happening anymore in the manner of the original mocks. For Milestone 2 we are going to have AMC create all Full Grant EPs. The EPs that they create for ROs will possibly be assigned to a specific Station. @abbyraskin Need to investigate exactly how this will work.

[2016-12-09 19:32] nikitarockz commented on #523
@lakohl @joofsh I updated this story and mockups to match what is needed for Milestone 1.  Refer to AC2 & 3.

[2016-12-09 21:31] shanear commented on #535
@shellicious can you confirm what we need to track here?

[2016-12-09 21:36] shanear commented on #544
this is a duplicate of #248. closing

[2016-12-09 21:36] #544 closed

[2016-12-09 21:36] nemodjuric commented on #535
I created this per slack conversation, but it was confirmed by @shellicious that is no longer needed.

[2016-12-09 21:39] shanear commented on #268
@shellicious what do you think about this?

[2016-12-09 21:41] shellicious commented on #535
I believe we have answers to the first two questions, but we don't have metrics on the cancellation link. So we still need to know the answer to the 3rd question.

I also don't recall confirming this issue isn't needed, can you refresh my memory @nemodjuric about the conversation?

[2016-12-09 21:43] shellicious commented on #268
@shanear this sounds like a good feature to pursue. Is there more context around this -- users requesting this, stakeholders bringing it up, progress made since May 6, etc.?

[2016-12-09 21:50] shanear commented on #531
This will require us to follow up with Jed.

[2016-12-09 21:50] nemodjuric commented on #535
This was from engineering chat room on Dec 6:

Shane Russell [5:34 PM]
it means, it wasn't completed

Shelly Ni [5:34 PM]
ohh

[5:34]
got it

Shane Russell [5:34 PM]
could mean the cancel button

[5:34]
could mean they closed the browser

Shelly Ni [5:34 PM]
3% is low, that’s good

Nemo Djuric [5:35 PM]
I can add tracking for cancel button them, if Shelly needs it then

Shane Russell [5:36 PM]
upl

[2016-12-09 21:55] shanear commented on #268
@shellicious I think we had some users in the beginning complain about loosing their form data after closing out. I thought this would be a good way to mitigate that. I could dig fro the exact feedbacks, but it'd be difficult since Sharepoint has become hard to access these days.

[2016-12-09 21:59] askldjd commented on #248
@shanear

Definitely a good idea. However, I don't think we have any pub/sub infrastructure (e.g. zookeeper) in our architecture today. Since all our apps have scaling group of 1, I would say just keep it simple for now and allow a ENV to be set. We can write a simple ansible role to restart all apps.

[2016-12-09 22:04] shanear commented on #248
@askldjd I like that solution. Short and simple.

[2016-12-09 22:06] shellicious commented on #535
Thanks for digging that up, @nemodjuric. I thought the metrics for cancellation issue had already been created earlier that day, given a conversation in #appeals-discovery, and was reassuring Shane that it was OK that the dashboard was not accessible to people outside the VA network. I see how the slack conversation was ambiguous.

I (and probably other folks!) would like to see metrics on how oft

[2016-12-09 22:07] shanear commented on #535
@shellicious Do we want to track both clicks to the cancel button, and actual manual cancellations of certifications?

[2016-12-09 22:09] shellicious commented on #535
What are manual cancellations of certifications @shanear?

[2016-12-09 22:44] #387 closed

[2016-12-09 22:45] shanear commented on #535
@shellicious

The first is clicking the button here,
<img width="1554" alt="screen shot 2016-12-09 at 5 44 07 pm" src="https://cloud.githubusercontent.com/assets/1596259/21067075/1bd13730-be37-11e6-919e-65984e768287.png">

And the second is clicking "Yes, I'm sure" here. Which would manually cancel the appeal
<img width="1554" alt="screen shot 2016-12-09 at 5 43 45 pm" src="https://cloud.githubuse

[2016-12-09 22:51] shanear opened #553 "Understand how NWQ routes EPs"
There's kind of a complex set of rules around how the NWQ is routing an EP after we create it. We should make sure that:

1) All EPs created by AMC should be assigned a stationOfJurisdiction of "499" for NWQ.
2) When an EP should be created on behalf of an RO, is it correct to assign a stationOfJurisdiction of the value corresponding with that RO, even though NWQ may reassign it due to business ru

[2016-12-09 22:56] shanear commented on #553
@lakohl @abbyraskin @KHarshawat @ariperez any idea on the right people to ask here?

[2016-12-10 02:43] shellicious commented on #535
@shanear @nemodjuric Yes, it would be great to track both clicks.

[2016-12-12 12:44] amprokop commented on #272
@KHarshawat — I updated the requirements for this based on our discussion. Would you confirm that the updated issue body description reflects what we want? Thanks!

[2016-12-12 13:50] lakohl commented on #179
@RTOLSON @Sjones352 Do you want to take a stab at this when you finish the eX NSD requirements?

[2016-12-12 13:51] lakohl commented on #166
Closing. not fixing this right now.

[2016-12-12 13:51] #166 closed

[2016-12-12 14:27] Sjones352 commented on #179
@lakohl I will definitely work on this issue

[2016-12-12 14:33] RTOLSON commented on #179
I will help as well

[2016-12-12 15:40] sharonwarner commented on #359
VA data can't be mocked in our test database.

[2016-12-12 15:41] abbyraskin commented on #553
happy to help tackle this with you @joofsh. i don't have any NWQ contacts. @ariperez do you have any ideas? I think @shanear mentioned Laura Finley and Brad Houston at VBA...

[2016-12-12 16:24] abbyraskin commented on #403
@lakohl we spoke about this briefly in person but wanted to follow up and see if any of the requirements changed? it sounded like we're going to truly handpick cases for milestone 1 so the "no signed decision" view might not be necessary after all.

for milestone 2...on the backend, we may want to use a date range of +/-3 days in case the VBMS scan/upload date doesn't exactly match the decision da

[2016-12-12 16:28] joofsh commented on #466
From Lara:

Make it similar to eFolder unauthorized. Except we can't have the 'Click Here' to find out how to get access (not yet). Instead we could say ... 'Speak to your manager or ISO about getting to permission to use Caseflow Dispatch.'

[2016-12-12 16:47] joofsh commented on #553
@abbyraskin Yes it would be great to have help with this. If we don't know anyone directly, then based on our call with the VBMS tech team, they recommended reaching out to Laura Finley or Brad Houston initially, as they would be able to connect us with the right people internally at VBMS.

Do we have either of their email addresses?

[2016-12-12 16:51] ariperez commented on #553
@joofsh @abbyraskin , I"m actively working on getting the best contact. Give me till early afternoon.

[2016-12-12 16:55] abbyraskin commented on #553
thanks @ariperez! @joofsh let's work together to organize/nail down all our NWQ related questions. i can take an initial stab later this afternoon.

[2016-12-12 17:21] abbyraskin commented on #553
- After a claim has been established at AMC, how does NWQ pick it up? What are they looking for/filtering by to identify it (EP code?)
- If we set the jurisdiction to a specific RO station during claim establishment, will NWQ still pick it up/reassign? Possible to bypass/ignore Caseflow?
- How do ROs know if a claim has been assigned to them?
- How does NWQ know how to route a claim, what are thei

[2016-12-12 17:50] lakohl commented on #553
adding to your questions...
What about special issues that are not handled by ROs? (pensions?) Who handles these? How are they routed to them?

[2016-12-12 18:54] sharonwarner commented on #517
This was fixed in a previous PR.

[2016-12-13 15:59] Sjones352 commented on #179
@lakohl I talked to @KHarshawat and he says that we should close this issue because we don't control VACOLS.

[2016-12-13 16:12] orischwartz commented on #462
Log rollover [logic to remove](https://github.com/department-of-veterans-affairs/caseflow/blob/master/config/initializers/logger.rb#L21-L32):

[code]

[2016-12-13 16:16] lakohl commented on #179
That's true! Closing

[2016-12-13 16:16] #179 closed

[2016-12-13 16:50] abbyraskin commented on #553
Call has been scheduled for 3pm today with the NWQ Deputy Director, Astrid Perez.

Agenda is to understand a) the current state and how NWQ routes EPs today and b) implications for future state - would they prefer we send all previously-rerouted EPs to NWQ or assign to specific RO location at point of CEST?

[2016-12-13 19:12] joofsh opened #560 "Parallelize tests across travis nodes"
Tests run pretty slow in travis. This slows down developer productivity.

It would be great if we can run the tests in parallel such that they finish faster on Travis.

[2016-12-13 19:52] #462 closed

[2016-12-14 12:54] #457 closed

[2016-12-14 16:44] astewarttistatech commented on #516
"Worked by" column is still not populated with any user data.

Please see attached. Moving this back to current sprint.
<img width="634" alt="screen shot 2016-12-14 at 11 42 34 am" src="https://cloud.githubusercontent.com/assets/23038505/21191271/9ad7ad8e-c1f2-11e6-95cc-fa4f7d7e39f9.png">

[2016-12-14 17:53] astewarttistatech commented on #255
**PASSED**

Please see attached.
![Uploading Screen Shot 2016-12-14 at 12.31.21 PM.png…]()
<img width="1147" alt="screen shot 2016-12-14 at 12 31 50 pm" src="https://cloud.githubusercontent.com/assets/23038505/21194007/5008d4b8-c1fc-11e6-9a2a-af4901bc6a48.png">

Moving this issue to closed.

[2016-12-14 17:54] #255 closed

[2016-12-14 18:14] astewarttistatech commented on #507
**PASSED**

No double-click enabled, loading image added. Please see attached.
![screen shot 2016-12-14 at 1 09 20 pm](https://cloud.githubusercontent.com/assets/23038505/21194788/39f20a5c-c1ff-11e6-9f51-031e9d60131e.png)

Moving this to closed.

[2016-12-14 18:14] #507 closed

[2016-12-14 18:26] astewarttistatech commented on #472
**PASSED**

When changing the information on the Create End Product form, hitting the Back to Preview button, and returning back to the Create End Product form, nothing on the page changes.

![Uploading Screen Shot 2016-12-14 at 1.18.42 PM.png…]()

[2016-12-14 18:27] #472 closed

[2016-12-14 22:06] amprokop opened #565 "Stats page in Caseflow should only be available to users with role "System Admin""
Currently, anyone can access it. No bueno!

Acceptance criteria:
-User without "System Admin" role should see the unauthorized page when attempting to access Caseflow stats (the `/stats` route)
-User with "System Admin" role should be able to see Caseflow statistics on the `/stats` route

[2016-12-14 22:24] shanear commented on #546
dup

[2016-12-14 22:24] #546 closed

[2016-12-15 00:20] nikitarockz commented on #272
I have updated the mockup to contain radio buttons.

[2016-12-15 16:41] cmgiven opened #568 "GA is not tracking pageviews"
No pageviews have been recorded since Nov 17.

[2016-12-15 17:08] aroltsch commented on #342
PR: https://github.com/department-of-veterans-affairs/caseflow/pull/557

[2016-12-15 17:51] askldjd opened #569 "Inconsistency between development.rb and demo.rb is breaking deployment build"
This is how RAILS_ENV map to AWS env today.
RAILS demo -> AWS demo
RAILS production -> AWS UAT and Prod

Recently, a new [change](https://github.com/department-of-veterans-affairs/caseflow/commit/cb68525db1bdc4c4c666df81342648eeef3812f5) was introduced to the rails `development` environment. The changes were only applied to `development.rb` and not `demo.rb`. In the AWS deployment `demo` environme

[2016-12-15 17:55] joofsh commented on #569
development.rb  = local development. It's with non-compiled assets.

demo.rb represents a hosted environment with compiled assets. I added demo specifically so that we could verify things in the asset compilation step worked properly before elevating them to UAT.

Coupling our local dev configuration to the same as a hosted environment will cause issues long term. I think we just need to be more c

[2016-12-15 20:01] astewarttistatech commented on #517
**PASSED**

Please see attached.
<img width="652" alt="screen shot 2016-12-15 at 2 59 48 pm" src="https://cloud.githubusercontent.com/assets/23038505/21240006/660384b2-c2d7-11e6-8b0f-4817fa38dc78.png">

[2016-12-15 20:02] #517 closed

[2016-12-15 20:13] shanear commented on #569
We can also put config changes related to all environments in `config/application.rb`

[2016-12-15 20:45] astewarttistatech commented on #342
@aroltsch @cmgiven  said that the stats are showing every document is a missing doc. Moving this back

[2016-12-15 21:39] astewarttistatech commented on #494
**PASSED**

Please see attached.
<img width="1155" alt="screen shot 2016-12-15 at 4 35 42 pm" src="https://cloud.githubusercontent.com/assets/23038505/21242963/cd9c77fc-c2e4-11e6-949e-abbc3d6a7ad8.png">
<img width="1073" alt="screen shot 2016-12-15 at 4 35 53 pm" src="https://cloud.githubusercontent.com/assets/23038505/21242964/cd9d6504-c2e4-11e6-9771-63f2652044b0.png">

[2016-12-15 21:39] #494 closed

[2016-12-15 21:41] #516 closed

[2016-12-15 22:17] mdbenjam opened #572 "Add base React class"
Add a base React class to extend functionality from. Specifically move the handleFieldChange function into it.

[2016-12-16 15:35] amprokop opened #575 "Add logging message if you're not using the latest version of Caseflow Commons"
We're having a problem where devs forget to update the ref of Caseflow Commons.

[2016-12-16 15:36] mdbenjam opened #576 "Add test for modal focus capture"
It is difficult to test the modal focus capture in a unit test since it involves capturing tab events on the document. See if there is a way to do this, or if a feature test is necessary.

[2016-12-16 15:41] #503 closed

[2016-12-16 15:42] mdbenjam commented on #503
Addressed in #537

[2016-12-16 15:47] astewarttistatech commented on #243
@amprokop only a scrollbar is added to the textbox, the box itself does not auto-expand.

[2016-12-16 17:56] nikitarockz opened #577 "End Product: Decision Date: Change to be editable value"
As a Caseworker, I would like to be able to change the defaulted _"Decision Date"_ so that it contains the correct value since sometimes the VACOLS Decision Date is not accurate.

# Acceptance Criteria
1. Verify that the field _“Decision Date”_ defaults to the VACOLS decision date.
1. Verify that field _"Decision Date"_ can be edited.

### Mockups
![image](https://cloud.githubusercontent.com/asset

[2016-12-16 18:12] nikitarockz opened #578 "End Product: Claim Label: Should be labeled as "EP & Claim Label""
The _"Claim Label"_ field is labeled incorrectly.  It should be labeled as "EP & Claim Label".

# Reproductive Steps
1. Click on the **_Establish Next Claim_** button.
1. Click on the _**Create End Product**_ button.
1. The label for "Claim Label" is wrong.  (Refer to mockups and related stories)
### Mockups
![image](https://cloud.githubusercontent.com/assets/23063044/21273041/bcc3fbca-c38f-11e6-9

[2016-12-16 18:22] nikitarockz commented on #549
**_Closed:_**  This issue has been resolved during Sprint 6 and is no longer needed.

[2016-12-16 18:22] #549 closed

[2016-12-16 18:58] joofsh commented on #553
@shanear Based on our conversation with Astrid the recent responses from the VBMS tech team, I believe we have all the information we need towards understanding the NWQ and creating EPs.

Going to close this ticket.

[2016-12-16 19:07] #518 closed

[2016-12-16 21:42] joofsh opened #579 "User dropdown broken on React pages"
User dropdowns (controlled by jQuery) are broken on react pages.

Steps to reproduce:
1) Login as Dispatch Manager
2) Go to Dispatch Landing Page
3) Click user dropdown in top right corner
4) Result = no affect. Dropdown does not open

[2016-12-16 23:04] joofsh opened #580 "Ensure form8 exists locally before serving it"
We encountered a bug in production during a deploy where a form8 file did not exist locally

This will occur on a deploy when the app servers are being rotated in/out of the LB

<img width="1092" alt="screen shot 2016-12-16 at 6 01 55 pm" src="https://cloud.githubusercontent.com/assets/2256237/21281377/1be81832-c3ba-11e6-8638-35442924c4bb.png">

For more information can check in Sentry
https://loc

[2016-12-16 23:46] askldjd opened #581 "Send user ID and email address to sentry"
Currently, Caseflow is only sending user IP address to Sentry, and not email address and/or CSS ID.  Without these identifiers, product support team can not reach out to the users when they experience failures.

Efolder is doing this correctly.

# Related Stories
**_Product Support Issue:_**  https://github.com/department-of-veterans-affairs/appeals-pm/issues/1092
Ensure form8 exists locally befor

[2016-12-19 14:05] shanear commented on #553
@joofsh I want to do a little more testing with this in UAT. I can pick this one up from here.

[2016-12-19 14:26] shanear commented on #419
@nikitarockz this should work the same as the form8 form?

[2016-12-19 15:11] shanear commented on #579
also have a feature test

[2016-12-19 16:13] nikitarockz commented on #478
I have tried to reproduce this issue in the demo environment, but I am unable to reproduce it.  I vote we close this ticket.  @shellicious

[2016-12-19 16:22] shanear opened #583 "Record User email addresses"
As a Product Owner, I would like to have the email addresses for the users that log into Caseflow captured, so that we can contact them in case of an error.

# Acceptance Criteria
1. Verify that when the user logs into Caseflow, their email address is captured. (Does this mean the login screen is changed?)
1. Verify that the captured user's email can be retrieved.

# Related Stories
**_Product Sup

[2016-12-19 16:23] shellicious commented on #478
I'm ok closing it @nikitarockz, thanks for trying to reproduce it.

[2016-12-19 17:01] nemodjuric commented on #568
Security filter hostname was blocking traffic. Removing protocol from the hostname (https://) fixed events. Also, page tracking did not include path, I will include that in PR.

[2016-12-19 17:11] amprokop opened #585 "Install Rails Prometheus client and have custom counters report to Prometheus"
UAT/Prod Caseflow, Feedback, and eFolder should report some simple custom counters to the Prometheus servers in UAT and Prod.

Metrics we want:
current thread count
DB connection count
????

Let’s install the Prometheus client in each of the Rails apps and report to the Prometheus servers. This issue covers eFolder, Feedback, and Caseflow.

https://github.com/prometheus/client_ruby

[2016-12-19 18:27] KHarshawat opened #588 "Caseflow Certification Nav Bar is shorter than other Caseflow apps"
This is very small but I can't figure out what's causing it and it's driving me nuts. The nav bar height on Caseflow Certification is shorter than on other Caseflow apps. See the gif below (look at the curser) for a demonstration. I've dug through the CSS in the DOM but can't tell what the difference is.

![navbar height](https://cloud.githubusercontent.com/assets/6335546/21324243/e9f33d20-c5ee-11

[2016-12-19 18:39] #478 closed

[2016-12-19 19:15] #568 closed

[2016-12-19 20:23] shanear commented on #580
This requires S3 to be configured and set up in production to complete this issue.

[2016-12-19 22:20] mdbenjam commented on #419
@nikitarockz  Based on conversation I'm not making modifier or segmented lane required since they have defaults selected. I can change that if desired.

[2016-12-20 16:06] kierachell commented on #577
Done.

Checked to be editable; (can be edited to an invalid date e.g. 14/33/0109)

[2016-12-20 16:07] #577 closed

[2016-12-20 16:08] kierachell commented on #578
Label looks fixed: "EP & Claim Label"

[2016-12-20 16:08] #578 closed

[2016-12-20 18:23] astewarttistatech commented on #466
Current view. Please see attached. @mdbenjam Could you please revise?

<img width="824" alt="screen shot 2016-12-20 at 1 22 11 pm" src="https://cloud.githubusercontent.com/assets/23038505/21362691/83d39174-c6b7-11e6-85e3-c0d27b198901.png">

[2016-12-20 19:11] lakohl commented on #466
From the Style Guide... Links are only underlined in their hover state.
<img width="250" alt="screen shot 2016-12-20 at 2 10 31 pm" src="https://cloud.githubusercontent.com/assets/4975959/21364266/1d5cef56-c6be-11e6-9449-2ac728746253.png">

[2016-12-20 19:30] mdbenjam opened #595 "Add S3 Bucket ENV to Prod and UAT"
Add the environment variables to enable S3

[2016-12-20 19:37] mdbenjam opened #596 "Add logging and update config for S3 on UAT and Prod"
We need to change the s3_enabled check to look for the AWS_BUCKET_NAME rather than the access key since the prod environment don't have an access key.

[2016-12-21 01:35] shanear commented on #342
<img width="973" alt="screen shot 2016-12-20 at 8 27 25 pm" src="https://cloud.githubusercontent.com/assets/1596259/21374309/d1ff9424-c6f3-11e6-841a-eaa9896e3fe9.png">

This is looking real-ish in prod. @cmgiven can you confirm?

[2016-12-21 02:06] kierachell commented on #523
Verified that Action is set to "Cancelled" on worker's Work History page.
Verified that the claims left count does not go down.
Verified that Manager's Work History displays the claim as Status: "Cancelled"

To note: when cancelling a claim; if "Case Explanation" field is filled with just spaces the user is redirected back to 'establish-claim/:id' route with a flash alert: "Error There was an erro

[2016-12-21 02:26] kierachell commented on #524
Verified the page title and subtext upon successful cancellation.
Options available are "View History" (should it be explicitly "View Work History" ?) and "Establish Next Claim" (as button).

[2016-12-21 02:33] #524 closed

[2016-12-21 02:46] kierachell commented on #525
1. Verified that clicking on _Establish Next Claim_ redirects to the next claim in the queue
2. Verified that _Decision Review_ page is displayed for the appropriate claim
3. Verified that _View History_ redirects to work history for the appropriate user. (should it be _View Work History_?)
**4.** The _Establish Next Claim_ button is not disabled. Clicking it redirects _Decision Review_ page for t

[2016-12-21 13:44] cmgiven commented on #342
I can fully confirm once I have access to the prod DB. Beyond that, yes, looks "real-ish". Let's close this one out. Great work, @aroltsch.

[2016-12-21 13:44] #342 closed

[2016-12-21 13:45] aroltsch commented on #342
"Real-ish" lol. Love it!

[2016-12-21 15:47] amprokop commented on #243
this is now merged @astewarttistatech

[2016-12-21 16:00] kierachell commented on #525
4. Is working correctly now.

[2016-12-21 18:04] lakohl commented on #523
Top portion of your comment sounds good.

For bottom portion 'when cancelling a claim' and the field is left blank we should follow this convention for messaging: https://github.com/department-of-veterans-affairs/caseflow-feedback/issues/60#issuecomment-268260102

[2016-12-21 18:43] #459 closed

[2016-12-21 18:54] kierachell opened #600 "Dispatch/Establish Claim: Cancel Case - Whitespace Case Explanation Text Error"
A Caseworker presses _Cancel_ from the _Review Decision_ page;

<img width="856" alt="screen shot 2016-12-21 at 13 50 23" src="https://cloud.githubusercontent.com/assets/18075411/21402130/1c31f708-c785-11e6-839a-0c2706ea606c.png">

Then enters whitespace in the _Cancel Explanation_ text field; then presses _Cancel EP Establishment_ button; an invalid error format is shown and the Caseworker is red

[2016-12-21 18:57] #523 closed

[2016-12-21 18:57] #525 closed

[2016-12-21 20:37] mdbenjam commented on #466
@astewarttistatech The link at the bottom is only on visible in development environments, it won't be there in prod environments. What else is wrong with the page?

[2016-12-22 02:23] kierachell commented on #600
Verified against whitespace and other potential input.
<img width="791" alt="screen shot 2016-12-21 at 21 22 31" src="https://cloud.githubusercontent.com/assets/18075411/21413199/9fc4d2f0-c7c3-11e6-9b24-3d57acfd729e.png">

[2016-12-22 02:23] #600 closed

[2016-12-22 02:27] kierachell commented on #435
Verified that field __10B__ is pre-populated based on field __10A__ selection.
<img width="690" alt="screen shot 2016-12-21 at 21 25 51" src="https://cloud.githubusercontent.com/assets/18075411/21413295/2c34851e-c7c4-11e6-8a3b-16e9c133b603.png">

Subsequent fields also auto-expand.

[2016-12-22 02:27] #435 closed

[2016-12-22 02:29] kierachell commented on #243
This was held up because it was not merged;

Correct behavior verified for all fields.
<img width="626" alt="screen shot 2016-12-21 at 21 29 10" src="https://cloud.githubusercontent.com/assets/18075411/21413353/92105282-c7c4-11e6-9e40-84ef28e7a06e.png">
<img width="603" alt="screen shot 2016-12-21 at 21 29 24" src="https://cloud.githubusercontent.com/assets/18075411/21413352/920f46ee-c7c4-11e6-88b

[2016-12-22 02:29] #243 closed

[2016-12-22 02:39] kierachell commented on #565
Is there a User with the admin role available for validating Stats page?

[2016-12-22 03:35] kierachell commented on #579
Verified to work on all pages that are available to this role

<img width="593" alt="screen shot 2016-12-21 at 22 34 44" src="https://cloud.githubusercontent.com/assets/18075411/21414479/c1c8b5a6-c7cd-11e6-9b13-2a0058502110.png">

[2016-12-22 03:36] #579 closed

[2016-12-22 03:50] kierachell commented on #419
1. Verified that the following fields has the text "(Required)" next to their labels:
        EP & Claim Label
        Decision Date
        Segmented Lane **need clarification on the latest specs**
        Modifier **need clarification on the latest specs**
<img width="588" alt="screen shot 2016-12-21 at 22 39 31" src="https://cloud.githubusercontent.com/assets/18075411/21414544/64985778-c7ce-11e

[2016-12-22 15:34] aroltsch commented on #583
This can be validated on demo. However, should be validated on UAT as well.

[2016-12-22 15:40] amprokop commented on #560
assigning this to @shanear in case he wants to take a look at it

[2016-12-22 16:00] kierachell commented on #419
Specifications have been verified and adjusted.

Validated on my end.

[2016-12-22 16:01] #419 closed

[2016-12-22 16:01] nikitarockz commented on #419
Update Acceptance Criteria.  _"Removed Modifier"_ and _"Segmented lane"_ as being required fields because the dropdown doesn't allow for a blank option value.

[2016-12-22 17:11] nikitarockz commented on #531
### Closing:  Based on final Investigation

**_Shelly's comments:_**
Daravann responded, and it appears that he misunderstood what was happening. He wanted to tell us that Caseflow does NOT launch when he is certifying a remand, which is a known problem that we are working to resolve.

[2016-12-22 17:11] #531 closed

[2016-12-22 23:12] amprokop opened #603 "Add more tests for Form8PdfService"
The spec is pretty barren. We should unit test more of this. In general, if it's possible to unit test services, we should do that.

[2016-12-22 23:12] #272 closed

[2016-12-23 05:01] joofsh commented on #580
@shanear can you clarify what you mean? This bug is already occurring in production.

[2016-12-27 14:18] aroltsch commented on #581
This can only be tested in production because production environment is the only one that has a Sentry server.

[2016-12-27 15:24] astewarttistatech commented on #565
@nemodjuric Can the System Admin role be accessed on the Dev side?

[2016-12-27 15:26] astewarttistatech commented on #583
@kierachell this has been validated in Demo but we need someone to validate in UAT. @shanear any suggestions?

[2016-12-27 15:27] astewarttistatech commented on #581
@shanear This can only be tested in Prod, see Anya's comment, so how would you like to proceed?

[2016-12-28 14:08] aroltsch commented on #581
Alan set up Sentry server in UAT so can be tested in UAT now

[2016-12-28 16:21] kierachell opened #606 "Demo Environment System Admin Seed"
- Add a _System Admin_ user with appropriate role and access to the ```dev/users``` page (is there a roles table?)
This will allow for testing of _System Admin_ role and access paths
[related issue #565](https://github.com/department-of-veterans-affairs/caseflow/issues/565)

[2016-12-28 16:38] kierachell opened #607 "Demo Environment User Seeds"
As a Developer, I want to make sure our development/testing environment seeds resemble production as close as possible:

For that we need to change some of the seeded users and tasks:
<img width="907" alt="screen shot 2016-12-28 at 11 05 12" src="https://cloud.githubusercontent.com/assets/18075411/21525794/89e93528-cced-11e6-8696-90df72a9a293.png">

1. Rename the users based on their role the way

[2016-12-28 18:26] #581 closed

[2016-12-28 22:49] kierachell commented on #565
As per #608:
new "System Admin" user is the only one able to access the ```/stats``` route; So, working as intended.
Not sure if requires UAT testing.
<img width="1212" alt="screen shot 2016-12-28 at 17 40 19" src="https://cloud.githubusercontent.com/assets/18075411/21533187/0597a096-cd26-11e6-8b29-5fd404d6a2cb.png">

[2016-12-29 03:20] kierachell commented on #607
Here's an mockup with a few changes to the seeds and view for dev_users (on my local setup)

<img width="907" alt="screen shot 2016-12-28 at 22 14 29" src="https://cloud.githubusercontent.com/assets/18075411/21536019/1fe2756e-cd4b-11e6-8c23-1fa7d647189e.png">

This way it's easy to confirm which Caseworker worked on which task.

<img width="1011" alt="screen shot 2016-12-28 at 22 16 32" src="https

[2016-12-29 13:48] nikitarockz opened #609 "Form 8 Preview: Questions 5b, 6b, 7b: Automatically populating when no value in counterpart question A."
On the Form 8 Preview page, the date is automatically being pre-populated for questions 5b, 6b, & 7b when there is no comment/value in its counter part question 5a, 6a, 7a.  There should not be a date when there is no value in 5a, 6a, and/or 7a.  This has been confirmed for working like this in the demo and production environments.

# Reproductive Steps
Scenario 1
1. Enter only values for required

[2016-12-29 14:00] kierachell commented on #607
Relevant check found:
- ```verify_authentication``` does not happen for dispatch/establish_claim; so users with multiple ROs still have acess

[2016-12-29 14:07] kierachell commented on #606
The build exploded; locally works as intended;

[2016-12-30 15:04] kierachell commented on #359
Where/how can we see the priority anyway?
<img width="868" alt="screen shot 2016-12-30 at 10 03 08" src="https://cloud.githubusercontent.com/assets/18075411/21567074/4c0f43c4-ce77-11e6-87c6-4d9389235a6e.png">
The only ordering I see is by vacols_id.

Can we get deidentified data and preload that?

[2016-12-30 15:10] kierachell commented on #607
Here's the changes I made so far to make tests easier:
Station ID 316 maps to multiple ROs
<img width="954" alt="screen shot 2016-12-29 at 10 13 06" src="https://cloud.githubusercontent.com/assets/18075411/21567173/f6fbf0e8-ce77-11e6-8ba1-b471e7b3f70a.png">
added certification routes for quick manual checks

[2016-12-30 16:09] shanear opened #610 "Form 8 | Pre-populated Fields | Missing data (completely blank) and unable to manually enter"
# Description
User is having any issues with form 8. The pre-populated slots are not being populated, nor can she enter some fields manually. User can not enter the file number, question#2, nor can she enter into questions 15 and 16. However, she can enter information into question #3. See the screenshot below
User URL is: https://certification.cf.ds.va.gov/certifications/new/3030564

_We've gotte

[2016-12-30 16:18] kierachell commented on #565
@shanear said he will be able to look into this.

[2016-12-30 16:26] nikitarockz commented on #609
@shellicious @shanear Check this issue out.  It is ready to be moved forward (Ready for Dev) unless you have any additional questions.

[2016-12-30 16:58] nikitarockz opened #611 "Form 8 Preview: Question 13 Other Specified: Isn't displaying value entered"
When a value is entered for 13 Other Specified on the Electronic Form 8 page, that value isn't displayed on the Form 8 Preview page.  This issue seems to be only occurring in the Production environment.  It is working properly in the Demo environment.

# Reproductive Steps
Scenario 1
1. Launch Certification.  Electronic Form 8 page will be displayed.
1. Enter required values for questions 1 - 12.

[2016-12-30 17:12] nikitarockz commented on #611
@shellicious @shanear Check this issue out. It is ready to be moved forward (Ready for Dev) unless you have any additional questions.

[2016-12-30 17:28] lakohl commented on #359
@kierachell I'm not sure that I am understanding your question. But, I'll take a stab...

Right now to gather the cases they need to work, AMC caseworkers run a number of reports in VACOLS. One is for cases in 'history/archive status' within a specified date range. These are always Full Grants as full grants are assigned to 'history' once they have a BVA decision. Other kinds of grants e.g. Partia

[2016-12-30 18:34] nikitarockz opened #612 "Form 8: Rename "Cancel Certification" link to "Cancel""
As a Product Owner, I would like to have the link "Cancel Certification" renamed to "Cancel" on the Electronic Form 8 page so that it is consistent with the application standards and doesn't conflict with the button on the Cancellation page.

# Acceptance Criteria
1. Verify that on the Electronic Form 8 page the link **_"Cancel Certification"_** has been rename to **_"Cancel"_**.

## Mockup
**_Vie

[2016-12-30 19:47] nikitarockz commented on #450
@lakohl @KHarshawat Do we have a final mockup for this page?  This story will stay in Feature Definition until the mockup has been added and the Acceptance Criteria updated.  Just let me know when you are ready, I can make the changes and move this one forward.

[2016-12-30 22:49] kierachell commented on #565
`demo` uses sqlite, which does not support `INTERVAL` - so it's breaking the page.
Related issue [#313 from at deployment](https://github.com/department-of-veterans-affairs/appeals-deployment/issues/313)

[2016-12-30 22:54] shanear commented on #565
<img width="1512" alt="screen shot 2016-12-30 at 5 53 57 pm" src="https://cloud.githubusercontent.com/assets/1596259/21573962/f4cda744-ceb8-11e6-8a42-014f16de4134.png">

Validated on UAT

[2016-12-30 22:54] #565 closed

[2016-12-30 22:55] kierachell commented on #606
Well; it's working properly as per specifications; a separate issues was found at deployment [#313](https://github.com/department-of-veterans-affairs/caseflow/issues/565)

[2016-12-30 22:55] #606 closed

[2017-01-03 13:18] lakohl commented on #450
@nikitarockz the final design is above.

[2017-01-03 14:42] kierachell opened #614 "Form 8: Overflow Text from fields 5a,6a,7a, and 14"
## Issue Description
When filling out Electronic Form 8, it allows for a 1000+ character limit on some fields.  These are used on page 1 of _Form 8_ PDF; in case of overflow they are redirected to page 2 of the PDF.  If all fields are maxed out, page 2 of the PDF will overflow. However, there is no page 3.   Form 8 should allow for generating as many additional pages as necessary.  There should al

[2017-01-03 15:40] lakohl commented on #408
Design is here: https://marvelapp.com/1j37g4b

[2017-01-03 15:48] lakohl opened #615 "Decision Review: Create EP: Show potential EP duplicates"
As a Caseworker, I would like to view a list of existing EPs that could be a potential duplicates before I create the new EP so that I am confident I am not recreating an existing EP.

## Acceptance Criteria
1. Verify that after clicking on the **_Create End Product_** button on the Decision Review page, search for potential duplicates based on EPs - pending/open that could be associated with post

[2017-01-03 15:49] lakohl commented on #615
https://marvelapp.com/1j3336d

[2017-01-03 16:23] lakohl opened #616 "Decision Review | Ability to view multiple Decision Documents"
As a Caseworker, I would like to be able to view multiple decision documents from VBMS within a given date range so that I can select and create an EP for the correct decision document.

# Acceptance Criteria

1. Verify that all the decisions documents within the assigned date range are displayed one per tab.
1. Verify that each decision is displayed with a label title in the following format:

[2017-01-03 16:26] lakohl commented on #616
https://marvelapp.com/project/1112802/

[2017-01-03 16:26] shanear commented on #583
None of our users have emails in UAT, I will validate this in prod after the deploy this afternoon

[2017-01-03 16:33] lakohl opened #617 "App Canvas | Header | Add Progress Indicator"
As a Caseworker, I would like to have a Progress Indicator at the top of each Dispatch page indicating the three major steps:  1) Review Decision, 2) Route Claim 3) Confirmation so that I know where I am at all times and understand how much more work I still need to do.

# Acceptance Criteria
1. Verify that the Progress Indicator has the following 3 steps (refer to Mockup):

1. Verify that the Pro

[2017-01-03 16:56] kierachell commented on #614
As per @KHarshawat:
- The document should keep adding pages(3..n) for the overflow text.

[2017-01-03 17:06] #560 closed

[2017-01-03 17:46] KHarshawat commented on #408
@lakohl which manager would see this page? The AMC manager or the one working at BVA (Denise)?

If it's the latter, how would we provide them access to this page?

[2017-01-03 17:59] lakohl commented on #408
@KHarshawat I designed this with Denise (BVA Dispatch Manager) in mind, so she can act on cases missing decisions. I'm presuming she would have access to this Caseflow Dispatch page based on her login credentials.
We are planning not to serve up cases that do not have a VBMS decision to AMC caseworkers, thus I don't see a need this table to AMC managers.

[2017-01-03 18:43] sharonwarner opened #619 "Error Handling for Form Component"

[2017-01-03 18:46] sharonwarner opened #620 "ScrollToAndFocusFirstError Bug"
https://github.com/department-of-veterans-affairs/caseflow/pull/618

Described in comment on this PR.

[2017-01-03 19:57] lakohl commented on #615
Updating design based on conversation with @shanear and @cmgiven

[2017-01-03 19:57] lakohl commented on #616
Updating design based on conversation with @shanear, @joofsh and @cmgiven

[2017-01-03 20:14] lakohl opened #621 "End Product: Existing EP: Assign existing EP to complete Establish Claim task"
As a Caseworker, I would like to have the selected existing EP assigned to the current Establish Claim task so that it is marked as completed.

## Acceptance Criteria
1. Verify that after clicking on the **_Assign to Claim_** button for the selected claim, that claim ID is associated with the current Establishment Claim task.
1. Verify that after clicking on the **_Assign to Claim_** button, the c

[2017-01-03 20:17] lakohl opened #622 "End Product: Don't display already used modifiers"
As a Caseworker, I would like to limit the the Modifers eligible for selection based on the selected EP Code so that I can reduce the possibility of human error.

# Acceptance Criteria
1. Verify that if the EP Code (concatenated value **_"EP & Claim Label"_**) is 170 and no other EPs exist, the following Modifier options are available: 170, 171, 175, 176, 177, 178, 179
1. Verify that if the EP Cod

[2017-01-03 20:19] lakohl opened #623 "End Product: Decision Type determines EP & Claim Label"
As a Caseworker, I would like to have the "EP & Claim Label" value determined by the "Decision Type" selected on the Decision Review page and cannot be edited so that it reduces the chance of user error.

## Acceptance Criteria
1. Verify that the when the value of _"Decision Type"_ is "Full Grant" on the Decision Review page, the _"EP & Claim Label"_ value is to "172BVAG - BVA Grant" on the End Pr

[2017-01-03 20:22] lakohl opened #624 "Decision Review: Add "Decision Type" dropdown and prepopulated from VACOLS"
As a Casework, I would like to have the field "Decision Type" added as a dropdown and pre-populated by the claim's Decision Type value from VACOLS on the Decision Review page so that I am aware of the current value.

## Acceptance Criteria
1. Verify that there is a new field "Decision Type" displayed as an editable dropdown.
1. Verify that the "Decision Type" dropdown contains the following values

[2017-01-03 20:22] lakohl commented on #624
@cmgiven can you provide the logic rules?

[2017-01-03 20:26] cmgiven commented on #624
We're looking at the dispositions of the individual issues (ISSDC from the ISSUES table).

If it has at least one '1' and no '3's it is a full grant.
If it has at least one '3' and no '1's it is a remand.
If it has at least one '1' and at least one '3' it is a partial grant.

[2017-01-03 20:28] cmgiven commented on #624
<img width="640" alt="screen_shot_2016-10-26_at_11 50 49_am" src="https://cloud.githubusercontent.com/assets/5375557/21621923/3687dbec-d1c9-11e6-8b4f-3c319a55825f.png">

[2017-01-03 20:34] lakohl opened #625 "Decision Review | Add Special Issue Categories"
As a Caseworker, I would like the ability to select any special issues categories associated with the selected Decision Type so that I can provide additional classification to the end product.

 ## Acceptance Criteria
1. Verify that there is a Special Issue Category section (refer to mockup).
1. Verify that when the Decision Type is "Full Grant", the following list of Special Categories are displa

[2017-01-03 20:34] lakohl commented on #625
<img width="497" alt="screen shot 2017-01-03 at 3 28 31 pm" src="https://cloud.githubusercontent.com/assets/4975959/21622147/1852db44-d1ca-11e6-9cf7-55d7dade41f0.png">

[2017-01-03 20:35] lakohl commented on #625
I'm looking for the two different lists of Special Issue categories and will post them asap

[2017-01-03 20:52] #572 closed

[2017-01-03 21:48] nikitarockz opened #626 "Certification: Cancellation Modal: Ability to view instructions and report issues"
As a Regional Office Caseworker, I want to understand how to cancel a certification and report problems that led to the cancellation in a modal view, so that I can quickly cancel and report problems to the Caseflow team.

## Acceptance Criteria
1. Verify that after clicking the **_"Cancel"_** link on the Electronic Form 8 page, the Certification Cancellation Modal is displayed.
1. Verify that the

[2017-01-03 22:18] lakohl commented on #615
<img width="724" alt="screen shot 2017-01-03 at 5 18 13 pm" src="https://cloud.githubusercontent.com/assets/4975959/21625228/a6db3a2e-d1d8-11e6-8085-4def8fe9a444.png">

[2017-01-03 22:48] lakohl commented on #621
<img width="563" alt="screen shot 2017-01-03 at 5 48 17 pm" src="https://cloud.githubusercontent.com/assets/4975959/21626040/de8c1a2a-d1dc-11e6-9281-e5c830d7694f.png">

[2017-01-03 22:49] lakohl commented on #615
<img width="563" alt="screen shot 2017-01-03 at 5 48 17 pm" src="https://cloud.githubusercontent.com/assets/4975959/21626055/f169423a-d1dc-11e6-9d51-4c748bd3e24e.png">

[2017-01-03 22:54] lakohl opened #627 "Confirmation: Existing EP: Display acknowledgement of Assigned to Claim"
As a Caseworker, I would like to receive a confirmation that my current EP Establishment task was assigned to the selected Existing EP so that I am confident that the case has been processed.

##  Acceptance Criteria
1. Verify that on the Existing EP page after clicking the **_Assign to claim_** button, the Existing EP Confirmation page is displayed.
1. Verify that on EExisting EP Confirmation pag

[2017-01-03 22:55] lakohl commented on #627
<img width="738" alt="screen shot 2017-01-03 at 5 55 10 pm" src="https://cloud.githubusercontent.com/assets/4975959/21626200/cac4a4ac-d1dd-11e6-9c14-a662ce7ae372.png">

[2017-01-03 23:01] lakohl commented on #625
*Special Issue categories:*

**Full Grants**
Rice Compliance (routed to ROJ)
Private Attorney (routed to ROJ)
Waiver of Overpayment (routed to ROJ)
Pensions (routed to regional PMC)
VAMC (routed to 51 or 54)
Incarcerated Veterans(routed to ROJ)
DIC - death, or accrued benefits (routed to PMC)
Education or Vocational Rehab (if it's an education debt issue, gets routed to 307, 316, 331, 351, otherwi

[2017-01-03 23:02] lakohl commented on #625
*For Milestone 1 we will create EPs only for Special Issue categories that are routed to the ROJ.

[2017-01-03 23:16] lakohl commented on #622
Assigning it to myself for error message

[2017-01-03 23:17] lakohl commented on #617
working on refining this design

[2017-01-03 23:21] lakohl commented on #408
<img width="879" alt="screen shot 2017-01-03 at 6 20 38 pm" src="https://cloud.githubusercontent.com/assets/4975959/21626798/5b2d01bc-d1e1-11e6-970a-145e9af04e99.png">

[2017-01-03 23:23] lakohl commented on #403
See rule in above comment. For milestone 1 we will handpick cases with VBMS decisions. We will never assign a claim Establishment task to a case that does not have a VBMS decision.

[2017-01-03 23:26] lakohl commented on #622
This seems related to: https://github.com/department-of-veterans-affairs/caseflow/issues/475

[2017-01-04 00:05] lakohl commented on #616
@cmgiven @shanear Does this look like what we discussed for multiple VBMS Decisions?
![fg two decisions criteria](https://cloud.githubusercontent.com/assets/4975959/21627683/786da5be-d1e7-11e6-9167-0e3c2b61071b.png)

[2017-01-04 00:17] lakohl opened #628 "End Product: Default Station Code value to ROJ based on Special Issue Category"
As a Caseworker, I would like to have the "Station Code" value on the End Product page to default to the claim's Regional Office Jurisdiction (ROJ) when a "Special Issue Category" has been selected on the Decision Review page so that it reduces the chance of user error.

## Acceptance Criteria
1. Verify that the when one of the following Special Issue Category has been selected on the Decision Rev

[2017-01-04 00:20] lakohl commented on #628
See below for list of Special Issues for whom EPs will be routed to the ROJ (assigned to the ROJ Station).

Full Grants
Rice Compliance (routed to ROJ)
Private Attorney (routed to ROJ)
Waiver of Overpayment (routed to ROJ)
Pensions (routed to regional PMC)
VAMC (routed to 51 or 54)
Incarcerated Veterans(routed to ROJ)
DIC - death, or accrued benefits (routed to PMC)
Education or Vocational Rehab (

[2017-01-04 00:20] cmgiven commented on #616
Yes. Two notes:

1. A decision can have multiple issues, so we probably shouldn't list the decision type as a column.
2. I feel like it might be worth noting the provenance of this info (VACOLS), as we're asking someone to make a judgment based on info that may be wrong or incomplete. Maybe the header could be "VACOLS Issues"?

[2017-01-04 00:21] cmgiven commented on #616
Also remember to delete that "Level 1" and "Level" text.

[2017-01-04 00:26] lakohl commented on #616
@cmgiven I'm not sure I'm following you exactly - understand about the many issues, but less about the decision type, and nthe levels, but I made some quick fixes:
<img width="692" alt="screen shot 2017-01-03 at 7 24 33 pm" src="https://cloud.githubusercontent.com/assets/4975959/21628054/79bd8d28-d1ea-11e6-9874-f1f5e58e03cd.png">

[2017-01-04 01:15] nikitarockz opened #629 "Certification: Cancellation Modal: Add required field validation"
As a Regional Office Caseworker, I want to have certain fields mandatory for completing the cancellation of a certification so that I will be guaranteed that certain information is captured when canceling a certification.

## Acceptance Criteria
1. Verify that the following fields has the text "(Required)" next to their labels:
     - _**Why can't this case be certified in Caseflow?**_
     - **_W

[2017-01-04 02:24] nikitarockz opened #630 "Certification Cancellation: Ability to view confirmation"
As a Regional Office Caseworker, I would like to permanent cancel the certification of the current case and receive a confirmation message that case I was certifying has been successfully cancelled so that I am confident that the case now needs to be certified outside of Caseflow.

###  Acceptance Criteria
1. Verify that after clicking the **_Cancel Certification_** button on the Certification Can

[2017-01-04 02:31] cmgiven commented on #616
I mean that it doesn't make sense for there to be a decision type column, as it would be repeated for each issue in the decision. Better separate from the table?

[2017-01-04 02:58] nikitarockz opened #631 "Certification: Cancellation Modal: Cancel Certification: Ability to submit cancellation"
As a Regional Office Caseworker, I would like to permanently cancel the processing of a case certification and save cancellation reason information so that I can certify the case outside of Caseflow.

## Acceptance Criteria
1. Verify that the current certification case task has been updated to a cancellation state.
1. Verify that after clicking the **_Cancel Certification_** button on the Certific

[2017-01-04 04:28] nikitarockz commented on #615
@lakohl I have finished updating this story, please read through the ACs carefully to make sure I capture information correctly.
Is this page being launched from the Decision Review page when the user clicks on the Create End Product button?

[2017-01-04 06:04] nikitarockz commented on #623
@lakohl This is done.

[2017-01-04 06:39] nikitarockz opened #632 "Manager Dashboard: Reports: Ability to limit and show more Missing Document Claims"
As a BVA Manager, I would like to limit the list displayed to 10 items and have the ability to Show More items as I desire so that I am not scrolling a whole lot unless I want to.

## Acceptance Criteria
1. Verify that after navigating to the Missing Documents page, no more than 10 claim items are displayed.
1. Verify that after clicking on the **_"Show More"_** link under the the list, the next 1

[2017-01-04 06:52] nikitarockz opened #633 "Manager Dashboard: Header: User Menu: Ability to logout"
As a Manager, I would like to have a "Sign Out" option under the Username Menu in the Header of all so that I may logout when I am finished with my tasks.

# Acceptance Criteria
1. Verify that after clicking on the Username Menu, the only option available is "Sign Out".
1. Verify that after clicking on the "Sign Out" menu option, the user is logged out of the system.

### Mockups
![image](https://

[2017-01-04 06:53] nikitarockz commented on #633
@lakohl This is a new one added. New page needs to be able to sign out.

[2017-01-04 06:54] nikitarockz commented on #632
@lakohl This is a new one.

[2017-01-04 07:10] nikitarockz commented on #621
@lakohl updated.

[2017-01-04 12:56] nikitarockz commented on #630
@shellicious Sorry, I changed this mockup for this story as we had briefly talked about it being consistent with Dispatch. We can keep this one or if you can whip up a new mockup soon similar. I would like to push this forward. Planning is at 3 pm.   Thanks.

[2017-01-04 14:29] shanear commented on #471
@KHarshawat @nikitarockz This error makes more sense on the form page, so they can resubmit the form.

However the general error page will also be useful because when we load the end product creation form, we will be querying BGS for claims. If that call fails, we should have some way of dealing with that error.

It might be helpful to have a discussion about error handling.

[2017-01-04 14:59] shanear commented on #408
@lakohl What the "Decision Uploaded" checkboxes are supposed to do? If the decision was uploaded, shouldn't it be taken off the report?

[2017-01-04 15:08] shanear commented on #633
This already exists. Closing

[2017-01-04 15:09] #633 closed

[2017-01-04 15:14] shanear commented on #623
@lakohl Should this field also be grey like "Benefit Type" and "Payee"?

[2017-01-04 15:19] shanear commented on #615
AC 1. (all EPs in the last 30 days) seems to conflict with AC 3. (all EP's in +/- 3 days)

@lakohl can you specify?

[2017-01-04 15:22] shanear commented on #621
For AC 3. shouldn't action be "Preexisting EP" or something like that to distinguish tasks where an EP was created with caseflow, and ones where a preexisting EP was assigned to the task?

@lakohl @nikitarockz

[2017-01-04 15:24] nikitarockz opened #634 "Decision Review: Create End Product: Display Special Issue Cancellation Warning modal"
As a Caseworker, I would like to have a warning message displayed when I attempt to create an End Product and have selected a Special Issue Category that can not be handled within Caseflow Dispatch so that I have an option to cancel the claim establishment process or correct my selection.

## Acceptance Criteria
1. Verify that after clicking on the **_Create End Product_** button on the Decision R

[2017-01-04 15:46] #553 closed

[2017-01-04 15:51] lakohl commented on #615
I made a couple adjustments above. We should display all Pending or Cleared EPs within 30 days +/- of the decision date.

[2017-01-04 15:55] lakohl commented on #615
I updated the mocks above.

[2017-01-04 15:56] shanear opened #635 "Better designed 404 page"
Our 404 (not found) page looks very janky. Might want to make it more informative:

Current state:
<img width="1505" alt="screen shot 2017-01-04 at 10 44 00 am" src="https://cloud.githubusercontent.com/assets/1596259/21648644/ad93dc7e-d26c-11e6-93fb-2ca61e72a4e9.png">

[2017-01-04 15:58] mmlumba commented on #509
@astewarttistatech @kierachell Instructions for testing listed in above PR

[2017-01-04 15:58] shanear commented on #635
@lakohl thoughts?

[2017-01-04 16:02] lakohl commented on #621
@shanear I updated the description above to record the action as 'Assigned Existing EP' and I deleted AC 4.

[2017-01-04 16:06] lakohl commented on #623
@shanear yes, let's try to having the EP & Claim label appear pre-selected and uneditable. In this case it does not have to be a dropdown.

[2017-01-04 16:16] nikitarockz commented on #624
Sprint planning Notes:  @lakohl update mockup showing Decision Type dropdown values.

[2017-01-04 16:21] nikitarockz commented on #625
Sprint Planning Notes;  @nikitarockz Remove values within ( ) from category list.

[2017-01-04 17:05] shanear opened #636 "Existing EP: Error if there are no valid modifiers"
As a Caseworker, I would like to be prevented and receive an error message that there are no valid modifiers available when attempting to create a new End Product on the Existing EP page so that I inadvertently create an invalid EP Code.

# Acceptance Criteria
1. Verify that if there's no more valid/available modifiers for the EP Code corresponding to the select _"Decision Type"_, the following al

[2017-01-04 17:11] shanear commented on #475
Covered with existing issues. closing

[2017-01-04 17:11] #475 closed

[2017-01-04 17:12] shanear commented on #411
We aren't routing to ROs. Closing

[2017-01-04 17:12] #411 closed

[2017-01-04 17:12] shanear commented on #409
We aren't routing to ROs. Closing

[2017-01-04 17:12] #409 closed

[2017-01-04 17:12] shanear commented on #422
We aren't routing to ROs. Closing

[2017-01-04 17:12] #422 closed

[2017-01-04 17:12] shanear commented on #424
We aren't routing to ROs. Closing

[2017-01-04 17:12] #424 closed

[2017-01-04 17:13] shanear commented on #415
We aren't routing to ROs. Closing

[2017-01-04 17:13] #415 closed

[2017-01-04 17:13] shanear commented on #414
We aren't routing to ROs. Closing

[2017-01-04 17:13] #414 closed

[2017-01-04 17:13] shanear commented on #412
We aren't routing to ROs. Closing

[2017-01-04 17:14] #412 closed

[2017-01-04 17:14] shanear commented on #356
Not happening (via @lakohl)

[2017-01-04 17:14] #356 closed

[2017-01-04 17:27] lakohl commented on #616
@cmgiven I see. Got it!

[2017-01-04 17:36] shanear opened #637 "Caseworker: EC Task: Prefetch decision documents when creating Claims Establishment jobs"
As a Caseworker, I only want an Establishment Claim (EC) task created when an appeal has an available decision document. Otherwise continue checking for the document each day.  So that no EC task is queued up without a decision document.

# Acceptance Criteria
1. Verify that an Establishment Claim Task is created only when an appeal has a decision document in VBMS.
2. Verify that when an appeal ca

[2017-01-04 17:52] lakohl commented on #624
@nikitarockz did it in real time!

[2017-01-04 18:02] nikitarockz commented on #624
Cool Beans!!!

[2017-01-04 18:29] shellicious commented on #630
@nikitarockz mock updated with header color changes!

[2017-01-04 20:16] kierachell commented on #609
See [comment with additional info](https://github.com/department-of-veterans-affairs/appeals-pm/issues/1125#issuecomment-269806167)

[2017-01-04 20:19] nikitarockz commented on #626
**_Sprint Planning Notes_**
@KHarshawat We would like to make sure of the placement of the "Required" text.  Can you verify that in the mockup it is correct.

[2017-01-04 20:29] KHarshawat commented on #626
@nikitarockz @lakohl and I made a design decision yesterday that all required fields appear in parenthesis after the input label

[2017-01-04 20:29] KHarshawat commented on #626
![image](https://cloud.githubusercontent.com/assets/6335546/21657966/9facfeee-d292-11e6-8052-cfe2fdaa1fbf.png)

[2017-01-04 20:34] kierachell commented on #626
Required on Feedback:

<img width="503" alt="screen shot 2017-01-04 at 15 32 01" src="https://cloud.githubusercontent.com/assets/18075411/21658090/24888e8a-d293-11e6-8485-1ccc0aaef137.png">

Required in dispatch?
<img width="455" alt="screen shot 2017-01-04 at 15 32 08" src="https://cloud.githubusercontent.com/assets/18075411/21658091/2494676e-d293-11e6-9912-660127daff37.png">

just put this in co

[2017-01-04 21:03] #596 closed

[2017-01-04 21:38] shanear commented on #466
The link seems to be the only bad part of the page and is a development only link, so I'm ok with it not being perfect. The bigger issue here is that the title still says "Caseflow Certification" (see the tab in the screen shot).

<img width="1554" alt="screen shot 2017-01-04 at 4 37 12 pm" src="https://cloud.githubusercontent.com/assets/1596259/21660142/32538cdc-d29c-11e6-88c9-e7bbfaaadbac.png">

[2017-01-04 21:46] shanear commented on #583
validated in prod DB. New users are getting emails!

[2017-01-04 21:46] #583 closed

[2017-01-05 15:01] aroltsch commented on #477
Cancel link should be at the left bottom, same as other pages

[2017-01-05 15:08] kierachell commented on #509
See [this comment](https://github.com/department-of-veterans-affairs/caseflow-commons/pull/27#issuecomment-270662683) for screenshots from `dev`

Will it work upstream?

[2017-01-05 17:03] mmlumba commented on #509
@KHarshawat Here are the following PR's to add this favicon to the apps
Certification: https://github.com/department-of-veterans-affairs/caseflow/pull/640
efolder: https://github.com/department-of-veterans-affairs/caseflow-efolder/pull/349
feedback: https://github.com/department-of-veterans-affairs/caseflow-feedback/pull/92

[2017-01-05 18:35] shellicious opened #641 "Modals: Polish modals throughout Caseflow"
As an engineer, I want to build modals in any Caseflow app consistently, so that designs can be implemented quickly and to USWDS/VA Appeals standards.

## Acceptance Criteria
1. Modals should follow spacing, type treatment, button placement, and styling as shown in the mocks below.
2. UI that isn't shown in the mocks below should follow USWDS / VA style guide standards.

## Mocks

Example of modal

[2017-01-05 18:37] shellicious commented on #641
@KHarshawat, perhaps you can provide more guidance on exact spacing? These mocks came from a style guide Sketch file you posted pre-holiday break.

Context is, as engineers are building modals for Dispatch and Certification cancellation flows, they are in need of guidance to make sure modals are consistent.

[2017-01-05 19:53] kierachell commented on #612
Looks correct on my end:
<img width="956" alt="screen shot 2017-01-05 at 14 52 20" src="https://cloud.githubusercontent.com/assets/18075411/21695186/b56ee232-d356-11e6-84f9-bc596b72e064.png">

[2017-01-05 19:53] #612 closed

[2017-01-05 20:01] kierachell commented on #477
The only endpoint I see this implemented on is the appeals with mismatched documents.
<img width="984" alt="screen shot 2017-01-05 at 14 57 18" src="https://cloud.githubusercontent.com/assets/18075411/21695375/89c02a32-d357-11e6-9451-7746f9862ed7.png">
So this works according to specifications.

Are there other pages that need the cancellation link? @shellicious

<img width="942" alt="screen shot

[2017-01-05 20:08] kierachell commented on #509
I am seeing different favicons between the apps:
**Feedback** 👍
<img width="150" alt="screen shot 2017-01-05 at 15 04 58" src="https://cloud.githubusercontent.com/assets/18075411/21695570/69d3a464-d358-11e6-8c7b-3f8933e0f4f8.png">

**eFolder** 👍
<img width="129" alt="screen shot 2017-01-05 at 15 06 04" src="https://cloud.githubusercontent.com/assets/18075411/21695613/9c329a6e-d358-11e6-962b-bf607c

[2017-01-05 20:34] #509 closed

[2017-01-05 20:51] mdbenjam commented on #624
@nikitarockz What does this mean:

"Verify that after clicking on the Create End Product button, the "Decision Type' value is saved in the database."

I don't think we have a database for dispatch. We're just creating an end product right?

[2017-01-05 21:46] shanear commented on #483
@shellicious can you confirm that we want to do this? I'm not 100% sure and I can't remember.

[2017-01-05 23:11] shanear commented on #580
This issue was blocked because the solution required s3. Which wasn't yet deployed, this is ready to be developed

[2017-01-06 14:56] kierachell opened #643 "Form 8: Fields 5b/6b/7b date validation"
Blocks 5b,6b and 7b are not checking for a valid date input(e.g. 33/33/9999). Date fields are not emptied upon corrections
- Invalid dates can be entered but will not render on the PDF: 33/33/9999 will be blank on the PDF
- Incorrect dates can be entered and will render on the PDF: 10/10/1010 will render on the PDF

The minimum year should be 1/1/1850.

**Type of Bug:**
- [ ] Performance
- [ ] Sec

[2017-01-06 16:01] astewarttistatech opened #646 "Manager View Queue link font bolded"
While on Caseflow Dispatch in a **Manager View**, the user sees the link to the queue of cases as a bolded link currently. Please see attached for reference.

<img width="833" alt="screen shot 2017-01-06 at 11 03 35 am" src="https://cloud.githubusercontent.com/assets/23038505/21723840/f09f036a-d3ff-11e6-9909-3b6f676f738e.png">

[2017-01-06 17:21] #619 closed

[2017-01-06 17:21] #620 closed

[2017-01-06 18:41] kierachell commented on #646
It's not a link at the moment, right?

[2017-01-06 18:43] kierachell commented on #477
Works per original specifications;

[2017-01-06 18:43] #477 closed

[2017-01-06 19:05] kierachell commented on #595
I'm sure it's there and works perfectly!
Tagging @askldjd @shanear to the rescue

[2017-01-07 01:30] kierachell commented on #576
@mdbenjam
Since we're adding a few modals; are you talking about the current Cancellation modal or?

I can put something together as a feature test probably.

[2017-01-07 01:39] kierachell commented on #624
Ay, I didn't see this change happen!

[2017-01-07 01:59] astewarttistatech commented on #646
@kierachell Not to my knowledge but @KHarshawat referred to it as one.

[2017-01-07 02:13] astewarttistatech commented on #624
@mdbenjam no one on our end tested this. 👎  I'm disappointed in you lol

[2017-01-07 15:40] kierachell commented on #607
I am not seeing the updated PDF (actual sanitized version) in **Review Decision** on `demo`  - are there separate ones being served/cached somewhere else?

next up - add different PDFs to serve;
refactor tasks/appeals to utilize new `type` property

[2017-01-08 22:12] kierachell commented on #603
There are additional pdf_service tests in `models` for some reason;
will move/refactor those to services

[2017-01-09 15:00] astewarttistatech commented on #607
@shanear You would probably be the best person to answer @kierachell 's question.

Other than that this ticket looks great in dev, has additional roles and Anne Merica will never go away it seems.   @kierachell  can you confirm these were intended since they go against the mock?

<img width="853" alt="screen shot 2017-01-09 at 9 59 00 am" src="https://cloud.githubusercontent.com/assets/23038505/21

[2017-01-09 15:12] mdbenjam commented on #576
I'm talking about the Cancel EP modal. That's written in React and will be what we use going forward. I think a feature test would be good. I would love to write it as a react test using the Enzyme testing framework (see EstablishClaim-test.js) but was having a lot of trouble controlling focus in that. So it'll probably have to be a feature test.

[2017-01-09 15:12] mdbenjam commented on #466
Yeah I can take care of that.

[2017-01-09 15:13] mdbenjam commented on #624
Ahh oh no! Good catch. I must have put fixed in the PR. I'll make sure to just use connect in the future.

[2017-01-09 15:17] kierachell commented on #603
So uh, to validated this.
@amprokop is to blame 'cause he wanted this. :D

[2017-01-09 15:20] astewarttistatech commented on #607
Based on my conversation with @kierachell the changes made are indeed correct. Moving this ticket to closed.

**PASSED**

[2017-01-09 15:20] #607 closed

[2017-01-09 15:24] kierachell commented on #576
I'll see what we can do

[2017-01-09 15:49] shanear opened #650 "Convert certification & form 8 to use React"
Right now we are straddling two different javascript styles in Caseflow. We have committed to React, and should convert the Form 8 form.

[2017-01-09 15:50] mdbenjam opened #651 "Page title is caseflow certification on non-certification pages."
The title of every page in Caseflow is caseflow certification. We need to individualize these.

[2017-01-09 15:51] mdbenjam commented on #466
Actually, this is a broader problem that we should address in a separate ticket. #651

[2017-01-09 15:54] shanear commented on #595
This will be validated vicariously through https://github.com/department-of-veterans-affairs/caseflow/issues/580.

Will go ahead and close this issue out to remove the clutter

[2017-01-09 15:54] #595 closed

[2017-01-09 16:05] abbyraskin commented on #417
@shanear handling fields hidden in the UI:
**Claim Type** should default to **Claim**.
Ignore **Intake Site**, **Suspense Date**, and **Suspense Reason**.

Ignore POA and POA Code for now. We have usability testing on Wednesday and will investigate hiding these fields.

[2017-01-09 16:11] shanear commented on #466
Cool, let's close this one out then

[2017-01-09 16:11] #466 closed

[2017-01-09 16:20] shanear commented on #483
Per @KHarshawat, This is already happening in a VACOLS dialog before Caseflow is launched. Going to chat with Jed to confirm.

[2017-01-09 16:22] mdbenjam commented on #615
@lakohl what text should we show under EP Code for each of these:

170APPACT
170APPACTPMC
170PGAMC
170RMD
170RMDAMC
170RMDPMC
172GRANT
172BVAG
172BVAGPMC
400CORRC
400CORRCPMC
930RC
930RCPMC

Can we just use these codes directly?

[2017-01-09 16:23] mdbenjam commented on #615
Also, I was looking at EP codes and it appears there is a code CAN. Presumably this means canceled. Should we allow association with canceled EPs?

[2017-01-09 16:40] amprokop commented on #603
Looked at the PR. Rad. Thanks. Validated.

[2017-01-09 16:40] #603 closed

[2017-01-09 16:42] shanear commented on #615
@mdbenjam

170APPACT - Appeal Action170APPACTPMC
170APPACTPMC - PMC-Appeal Action
170PGAMC - AMC-Partial Grant 
170RMD - Remand 170RMDAMC - AMC-Remand
 170RMDPMC - PMC - Remand
 172GRANT - Grant of Benefits
 172BVAG - BVA Grant
 172BVAGPMC - PMC - BVA Grant 
400CORRC - Correspondence
 400CORRCPMC - PMC-Correspondence
 930RC - Rating Control
 930RCPMC - PMC - Rating Control

[2017-01-09 17:27] kierachell commented on #623
The dropdown appears correctly:
<img width="1098" alt="screen shot 2017-01-09 at 11 44 40" src="https://cloud.githubusercontent.com/assets/18075411/21776059/a30781b8-d666-11e6-8577-8d084eda6f86.png">

And has 3 selectable values:
<img width="1156" alt="screen shot 2017-01-09 at 11 45 44" src="https://cloud.githubusercontent.com/assets/18075411/21776066/a877d0c6-d666-11e6-9514-1a5262164ed4.png">

T

[2017-01-09 17:29] #623 closed

[2017-01-09 18:03] kierachell commented on #624
<img width="457" alt="screen shot 2017-01-09 at 13 01 43" src="https://cloud.githubusercontent.com/assets/18075411/21777234/03b7b3e8-d66c-11e6-8128-ca575831762c.png">
one thing to add: make the __"Full Grant"__ be the first item in the dropdown

[2017-01-09 20:40] kierachell opened #652 "End Product: Decision Type determines "Modifier" based on "EP & Claim Label""
As a Caseworker, I would like to have the "Modifier" value determined by the "Decision Type" selected on the Decision Review page and cannot be edited so that it reduces the chance of user error.

## Acceptance Criteria
1. Verify that the when the value of _"Decision Type"_ is "Full Grant" on the Decision Review page, the _"Modifier"_ value set to "172" corresponding to "EP & Claim Label" value of

[2017-01-09 23:01] mdbenjam commented on #615
Thanks Chris. @lakohl Another question is what should the back to review button look like if there were associated EP's? Should it be a back to EP select page?

[2017-01-10 00:23] kierachell commented on #652
@lakohl If you have clarifications on the specifications, feel free to edit the issue.

[2017-01-10 00:54] kierachell commented on #650
@nemodjuric and @mdbenjam and @sharonwarner !
There are some modals being developed right now and I don't want us to redo them when it can be done right from the start and not add to the backlog.
What's the plan for current sprint's modals?

[2017-01-10 14:17] kierachell opened #656 "Form 8: Fields 5B/6B/7B date caching irregularities"
# Description:
As a User filling out an empty Form 8 the date in fields 5B/6B/7B exhibits irregular caching behavior when switching between Form 8 Preview (PDF rendering) and Editing (actual editable form).  This irregular behavior changes based on browser.

@aroltsch reports that `dev` environment does not save the date at all; so when she clicks _Go back to make edits_ the value resets to previo

[2017-01-10 14:50] lakohl commented on #628
@nikitarockz Do we need to clarify the list above - e.g. which ones go to ROJ and which ones cancel?

[2017-01-10 14:51] lakohl commented on #622
@abbyraskin could you confirm that what is listed at the top is correct?

[2017-01-10 14:51] mmlumba commented on #625
@lakohl @nikitarockz Does the order matter for the special issue checkboxes?

[2017-01-10 14:57] lakohl commented on #471
@shanear Is this the same as #635?

[2017-01-10 16:04] abbyraskin commented on #622
@lakohl looks good to me!

[2017-01-10 16:33] abbyraskin commented on #622
@lakohl I added 177 as a modifier option.

[2017-01-10 17:00] nemodjuric commented on #629
@KHarshawat @nikitarockz @lakohl @shanear @shellicious
Just to confirm - we want no default radio button selected?

[2017-01-10 17:07] lakohl commented on #629
Good question @nemodjuric . @shellicious is there any case where more than one of these reasons might be valid?

[2017-01-10 19:06] shanear commented on #650
@kierachell we have a modal in jQuery (non-react) too. We will use that for now. It won't require any waisted work.

[2017-01-10 19:10] shanear commented on #471
@lakohl nope. 404 is "Not Found", which basically means the URL you tried doesn't work and was never intended to work.

This story is basically for the 500 page, which is "System Error", which means that the URL you entered should have worked and something went wrong on our end.

[2017-01-10 19:21] shellicious commented on #629
@nemodjuric Yes, we want no default radio button selected.

I can't think of existing cases where more than one reason may be valid. I'm OK with launching this as-is and changing it to multiple-choice boxes if RO staff would like to submit more than 1 reason. What do you think, @lakohl?

[2017-01-10 19:32] lakohl commented on #471
@shanear thanks for the clarification!

[2017-01-10 19:41] lakohl commented on #629
@shellicious that sounds fine. I prefer experiences that pre-select a radio button for the user rather than leaving them all blank. We may not have enough info to make that call right now, but once we have some data on why most people cancel we could consider that modification.

[2017-01-10 20:37] aroltsch commented on #580
I think @shanear will be testing this.

[2017-01-10 20:43] shanear opened #660 ""System Admin" should be able to change roles"
We need a way for people with "System Admin" see what it's like to have different sets of roles.

- If the user has "System Admin" they should see a "Change Functions" link in the menu bar.
- If that link is clicked it should show a screen with a list all possible functions that caseflow looks for (we will have to create this list).
- Each function will say whether the User currently has that func

[2017-01-10 21:17] nemodjuric commented on #629
![caseflow certification 6](https://cloud.githubusercontent.com/assets/4960030/21824943/96b8d5e4-d74f-11e6-802c-b154d245151f.png)

@lakohl @shellicious @KHarshawat @nikitarockz
Note: When there is no default radio option selected, USWDS usa-input-error class produces screen shot above.

[2017-01-10 21:19] shellicious commented on #629
@nemodjuric that shows up when the user tries to submit without selecting an option, right?

[2017-01-10 21:20] nemodjuric commented on #629
@shellicious Correct.

[2017-01-10 21:30] shellicious commented on #629
@nemodjuric works for me!

@lakohl think it best to leave a survey-like interaction unbiased by leaving the radio buttons blank. Google Forms, for instance, defaults to inputs that are blank by default. I'm concerned it would be too easy to leave the selected radio button and click through the modal, and we'd get bad data as a result.

[2017-01-10 21:35] shanear commented on #483
Sent an email to Jed about it.

[2017-01-10 22:22] kierachell commented on #651
AYYY! I wanted to fix this so bad!

[2017-01-10 22:27] kierachell commented on #651
<img width="443" alt="screen shot 2017-01-10 at 17 23 09" src="https://cloud.githubusercontent.com/assets/18075411/21827495/e31424d4-d759-11e6-9cd6-fbef996697b7.png">
<img width="1000" alt="screen shot 2017-01-10 at 17 23 16" src="https://cloud.githubusercontent.com/assets/18075411/21827497/e3212972-d759-11e6-92eb-4f74a6516275.png">
<img width="1020" alt="screen shot 2017-01-10 at 17 23 24" src="h

[2017-01-10 22:28] kierachell commented on #651
Even tab title
<img width="467" alt="screen shot 2017-01-10 at 17 27 46" src="https://cloud.githubusercontent.com/assets/18075411/21827554/27a4183e-d75a-11e6-9cbb-a72fc77d37fc.png">

[2017-01-10 22:28] #651 closed

[2017-01-10 23:45] kierachell commented on #624
<img width="592" alt="screen shot 2017-01-10 at 18 44 29" src="https://cloud.githubusercontent.com/assets/18075411/21829573/dd1e9e96-d764-11e6-94b4-d92cbbbcd7c0.png">
looks good in `demo` 👍

[2017-01-10 23:46] kierachell commented on #624
To Validate that the values are collected from VACOLS we need @shanear or someone else to check.

[2017-01-11 01:10] kierachell opened #663 "Demo Environment: More and better seeds!"
We should have more appeals to test!
<img width="968" alt="screen shot 2017-01-10 at 20 02 37" src="https://cloud.githubusercontent.com/assets/18075411/21831163/d415028a-d76f-11e6-9bf0-91bf1064308e.png">

Add duplicate EP type seeds!
<img width="751" alt="screen shot 2017-01-17 at 08 22 05" src="https://cloud.githubusercontent.com/assets/18075411/22022007/0f00e350-dc8e-11e6-8901-e936b90b5b6b.png">

[2017-01-11 01:20] kierachell opened #664 "Create End Product: "Decision Date" prepopulated date formatting"
When a Caseworker processing an EP reaches the __Create End Product__ form, the _Decision Date_ field is prepopulated with an incorrect format of _m/d/yyyy_.  It should be in the form of _mm/dd/yyyy_ format.

**Type of Bug:**
- [x] Functional
- [ ] Design
- [ ] Security
- [ ] Tech Improvement

**Severity Level:**
**`ENVIRONMENT`**
- [ ]    5 - Data loss, data corruption or system unavailable
- [ ]

[2017-01-11 01:25] kierachell commented on #576
Well, right now it doesn't capture focus at first (it does after tabbing through all the background elements and landing within the modal); so the tests will break the deploys;

Make sure it captures right away and then we can add the tests.

[2017-01-11 14:00] kierachell commented on #483
So I reckon this is still In Progress?

[2017-01-11 15:26] shanear commented on #483
From Jed:

<img width="433" alt="screen shot 2017-01-11 at 10 25 52 am" src="https://cloud.githubusercontent.com/assets/1596259/21854335/579b7bde-d7e8-11e6-825c-79e7273527b3.png">

Looks like we are good here.

[2017-01-11 15:26] #483 closed

[2017-01-11 15:58] #569 closed

[2017-01-11 16:40] astewarttistatech opened #667 "Caseworker Success Page Button/Link Placement/Alignment"
**Description:**
Currently, if you go through the flow to establish a claim as a caseworker, the success page's "View History" and "Establish a Claim" button/links are misaligned to each other. Also the "Establish Next Claim" button also looks a bit too far to the left of the page.

**Steps to Recreate**

1. Log into Dispatch under the function of a Caseworker
2. Select the option to "Establish Ne

[2017-01-11 18:34] shanear opened #669 "Prod DB dump script & accompanying jenkins job"
Have a way to dump and sanitize prod DB PII.
   - The script would have a hash of the current migration to keep it from getting out of date.
   - Incorporate it into a jenkins job which uploads the dump to s3, so any developer can download locally.

See the full conversation here: https://github.com/department-of-veterans-affairs/caseflow-efolder/issues/345

[2017-01-11 19:35] lakohl commented on #667
@astewarttistatech see screenshot:
<img width="494" alt="screen shot 2017-01-11 at 2 35 04 pm" src="https://cloud.githubusercontent.com/assets/4975959/21863375/368b6832-d80b-11e6-9282-644606a62f7c.png">

[2017-01-11 21:27] astewarttistatech commented on #615
@shanear @mdbenjam should I be able to test all of the EP codes?

Currently this is what displays

<img width="1033" alt="screen shot 2017-01-11 at 4 25 47 pm" src="https://cloud.githubusercontent.com/assets/23038505/21867134/d6d277ea-d81a-11e6-801c-900365496095.png">

[2017-01-12 15:10] kierachell commented on #646
Need to know if this is actually supposed to be a link or just plain text or header text; then we'll pass it on to reimplement

[2017-01-12 18:34] astewarttistatech commented on #621
**PASSED IN DEMO, BUT STILL NEEDS TO BE VALIDATED IN UAT**

@shanear

Caseworker is prompted to duplicate EP page, after "Assign to Claim" button is selected the Caseflow loading animation appears and takes caseworker to success page. Please see below.

<img width="1033" alt="screen shot 2017-01-11 at 4 25 47 pm" src="https://cloud.githubusercontent.com/assets/23038505/21902926/cf714e66-d8cb-11e6-

[2017-01-12 18:49] joofsh opened #673 "Resolve test failures with phantomJS crash"
On master, one specific test seems to fail non-deterministically. When it fails, phantomJS has crash.

Will fail on the test `Cancel an Establish Claim task returns me to landing page` with output:

PhantomJS client died while processing {"id":"42f919e5-a25e-4f94-b675-a097ec110bef","name":"click","args":[1,5]}
If you run poltergeist with debug mode on (verbose), you will see output "phantomjs has

[2017-01-12 19:02] lakohl commented on #646
@kierachell it's not a link.
Here is a later design (prob, soon to change also).  I would prefer it be dark grey so that people don't mistake it as a link.
<img width="663" alt="screen shot 2017-01-12 at 1 34 31 pm" src="https://cloud.githubusercontent.com/assets/4975959/21903871/720ba68c-d8cf-11e6-94e0-e3f66173096e.png">

[2017-01-12 19:11] lakohl opened #674 "Existing EP: Remove "Send to RO" link and reposition "Cancel" link"
As Product Owner, I would like to have the link "Send to RO" removed and the "Cancel" link reposition so that the Existing EP page more accurately reflects current available tasks.

# Acceptance Criteria
1. Verify that the link "Send to RO" has been removed from the Existing EP page.
1. Verify that the link "Cancel" has been moved.  (refer to mockup)

# Mockups
View - Existing EP Page - Before
![i

[2017-01-12 19:15] lakohl commented on #674
Old link and button copy and placement:
<img width="791" alt="screen shot 2017-01-12 at 2 13 25 pm" src="https://cloud.githubusercontent.com/assets/4975959/21904359/515e3b28-d8d1-11e6-8910-f72338df4b68.png">
New link and button placement:
<img width="929" alt="screen shot 2017-01-12 at 2 15 21 pm" src="https://cloud.githubusercontent.com/assets/4975959/21904428/959d4d74-d8d1-11e6-98cc-96138632e83b

[2017-01-12 19:45] mdbenjam commented on #615
I could add more fake data to show all of them, if that would be helpful.

[2017-01-12 19:57] lakohl commented on #616
<img width="665" alt="screen shot 2017-01-12 at 2 56 54 pm" src="https://cloud.githubusercontent.com/assets/4975959/21905966/6612873a-d8d7-11e6-8c46-fa3481cc2942.png">

[2017-01-12 20:12] shanear commented on #359
Works! validated on UAT

[2017-01-12 20:12] #359 closed

[2017-01-12 20:35] lakohl commented on #622
@abbyraskin are you sure 177 is an option? I have a feeling that @cmgiven thought it might not apply?

[2017-01-12 20:36] shanear opened #677 "Open up new BGS endpoints in Production"
Contacting Michael Taylor about what is needed for this waiting on a reply

[2017-01-12 20:40] cmgiven commented on #622
I don't recall that, but my mind these days...

[2017-01-12 20:47] shanear opened #678 "System Admin form for creating a task for a specific VBMS id"
This will be used for Milestone 1 so we don't have to SSH into the box to create tasks for specific appeals

[2017-01-12 20:52] abbyraskin commented on #622
The manual says...

<img width="514" alt="screen shot 2017-01-12 at 3 52 13 pm" src="https://cloud.githubusercontent.com/assets/4042181/21907812/2755c75c-d8df-11e6-929c-c106807112b3.png">

[2017-01-12 20:54] cmgiven commented on #622
Praise be to the manual, source of all truth and goodness in the land!

[2017-01-12 20:58] lakohl commented on #622
Thank you both! Sorry for the confusion.

[2017-01-12 21:27] lakohl commented on #408
<img width="549" alt="screen shot 2017-01-12 at 4 26 37 pm" src="https://cloud.githubusercontent.com/assets/4975959/21908957/f4d3d1a2-d8e3-11e6-9648-4096c69cb072.png">

[2017-01-12 21:29] #624 closed

[2017-01-12 21:30] astewarttistatech commented on #615
Yes please! @mdbenjam

[2017-01-12 21:31] #621 closed

[2017-01-12 21:34] shanear commented on #624
@kierachell Validated this with VACOLS

[2017-01-12 21:42] astewarttistatech commented on #627
@sharonwarner no one tested this

[2017-01-12 21:55] lakohl commented on #637
@shanear we have issues that go beyond this milestone - e.g. multiple EPs and multiple decisions. Do you want to include them in UAT or not?

[2017-01-12 21:57] lakohl commented on #617
<img width="412" alt="screen shot 2017-01-12 at 4 57 21 pm" src="https://cloud.githubusercontent.com/assets/4975959/21909988/39cbb17c-d8e8-11e6-8c09-0c120d2fc708.png">

[2017-01-13 03:04] kierachell commented on #458
I guess I should've seen this... Oh well. I'll address it tomorrow along with the other testing stuff.

[2017-01-13 14:05] kierachell commented on #627
Can't validate this; we need Preexisting EP seeds to properly validate this.

[2017-01-13 14:14] kierachell commented on #634
Checked that the modal shows up for the cases listed above.
<img width="1076" alt="screen shot 2017-01-13 at 09 04 26" src="https://cloud.githubusercontent.com/assets/18075411/21932743/157e3d2a-d970-11e6-8a3b-eccc233bd65f.png">
<img width="1023" alt="screen shot 2017-01-13 at 09 07 06" src="https://cloud.githubusercontent.com/assets/18075411/21932745/1596defc-d970-11e6-9c1a-7c4a35a2112f.png">
<img

[2017-01-13 14:19] kierachell commented on #634
I can open a separate issue to fix all the modals - if necessary;

[2017-01-13 14:27] kierachell commented on #417
Unable to check the code because...unable.
Do not see "Submit End Product" button.
We have multiple "Create End Product" pages.

[2017-01-13 15:11] #634 closed

[2017-01-13 15:18] kierachell opened #680 "All Modals | Not proprely capturing focus"
# Description
This issue happens across all applications.  Any time a modal is triggered to open, it is possible to use `TAB` and `SPACE` to interact with the elements in the background.

**Confirmed Environment(s)**
- [x] Dev
- [x] Demo
- [ ] UAT
- [ ] Prod

**Type of Bug**
- [x] Functional
- [ ] Design
- [ ] Security
- [ ] Tech Improvement

**Severity Level**
- [ ]    5 - Data loss, data corrupt

[2017-01-13 15:35] astewarttistatech opened #681 "Caseflow Dispatch when hovered over creates odd link"
**Description:**
When in Caseflow Dispatch, as any user, and the header logo is hovered over with a cursor, the logo becomes a link with a small underscore to the left of it.

**Steps to Recreate:**
1. Go to Dispatch in Demo, any page will work as long as it has the header
2. Hover over Dispatch logo on header with cursor
3. Validate link has a small underscore to the left of it.

**Browser Found:

[2017-01-13 15:52] kierachell commented on #660
It works!
<img width="888" alt="screen shot 2017-01-13 at 10 51 24" src="https://cloud.githubusercontent.com/assets/18075411/21936189/47a47036-d97e-11e6-93a8-09fe44b2b6f5.png">
<img width="962" alt="screen shot 2017-01-13 at 10 51 53" src="https://cloud.githubusercontent.com/assets/18075411/21936202/51a884fa-d97e-11e6-911d-c3328ea57655.png">

[2017-01-13 15:52] #660 closed

[2017-01-13 16:09] mdbenjam commented on #652
This is a duplicate of https://github.com/department-of-veterans-affairs/caseflow/issues/622

[2017-01-13 16:09] #652 closed

[2017-01-13 16:57] astewarttistatech opened #683 "Caseworker | Spacing for "Special Issue Category" header and above dropdown is close"
**Description:**
Currently, if you go through the flow to establish a claim as a caseworker, on the Review Decision page, the Special Issue Category header is very close to the above drop down menu.

**Steps to Recreate**

1. Log into Dispatch under the function of a Caseworker (Establish Claim at Station 318)
2. Select the option to "Establish New Claim"
3. Scroll down the Review Decision page to

[2017-01-13 16:59] nikitarockz opened #684 "End Product: Hide "POA" and "Segmented Lane" fields and labels"
As a Product Owner, I would like to have the "Segmented Lane" and "POA" fields/radio options hidden so that they are temporarily disabled until the integration rules have been defined.

# Acceptance Criteria
1. Verify that the label "Segmented Lane" is no longer visible.
1. Verify that the label "POA" is no longer visible.
1. Verify that the "POA" radio options are no longer visible.
1. Verify tha

[2017-01-13 17:12] astewarttistatech opened #685 "Caseworker | Establish Claim | Special Issue Categories Transfer over different Decision Types"
**Description:**

When in Caseflow Dispatch, as a Caseworker trying to establish a claim, on the Review Decision page, the caseworker can change decision types and if they have any Special Issue Categories selected they will transend the different decision type.

**Steps to Recreate:**

1.Go to Dispatch as a Caseworker (Establish Claim at station 318).
2. From the Work History page, select to "Est

[2017-01-13 17:15] shellicious commented on #268
@shanear @nikitarockz since this is a warning message that appears when a user tries to exit Certification (navigating to a new page, closing the window or tab), it will be an alert box, not a modal.

Proposed text:

Title: Leaving Certification?

Text: Your changes to this case have not been saved. Are you sure you want to leave this page?

Buttons: Stay on this page, Leave this page

[2017-01-13 17:22] astewarttistatech opened #686 "EP Cancellation | Cancel EP Establishment | Loading favicon moves across page"
# Description
When a Caseworker is in Dispatch, establishing a claim and decides to cancel, the loading favicon shifts from the bottom right of the page to the left.

**Environment:**
- [ ] Production
- [ ] UAT
- [X] Demo
- [ ] Development

**Type of Bug:**
- [ ] Performance
- [ ] Design
- [ ] Security
- [x] Functional

**Severity Level:**
- [ ]    5 - Data loss, data corruption or system unavaila

[2017-01-13 18:33] kierachell commented on #609
Without any entry, the dates do no show up in PDF.
<img width="573" alt="screen shot 2017-01-13 at 13 29 22" src="https://cloud.githubusercontent.com/assets/18075411/21940956/9249a7f8-d994-11e6-9c82-07e6503605a0.png">
<img width="897" alt="screen shot 2017-01-13 at 13 29 32" src="https://cloud.githubusercontent.com/assets/18075411/21940958/925ac5b0-d994-11e6-92c3-7931de48083a.png">

Going back to

[2017-01-13 18:33] #609 closed

[2017-01-13 19:22] nemodjuric opened #687 "Remove old cancellation modal and release Cancel button"
While developing New Certification Cancellation modal, we decided to keep old one as well. Only System Admin can a new modal currently. Once full functionality of a new modal is deployed, we should refactor code to use new modal only (and not just for Admins).

[2017-01-13 19:23] kierachell commented on #458
Well, there are checks on it and it might be needed later on;
Closing this after an approval from @joofsh

[2017-01-13 19:24] #458 closed

[2017-01-13 22:34] abbyraskin opened #689 "SPIKE: Routing EPs: investigate adding EP labels and/or stations in VBMS"
Talk to VBMS about:
- Adding labels to EPs
- Adding stations for special issue centers
- VBMS notes integration

We currently have unique EP labels for AMC and for PMC - can we add unique labels in 170s series for other specialty centers? e.g., BVA Grant Education.

If not, can we create additional VBMS stations so every location (unique in VACOLS) has a unique VBMS station?

[2017-01-16 23:16] nikitarockz commented on #636
**_Shane's Original Comments_**
We should check to see if there are any available modifiers for the EP Code corresponding to the select Decision Type, when they are on the Existing EPs page. If there aren't any available modifiers:

- Disable the "Create New EP" page.
- Change the text inside of the "Existing EP" alert box at the top. Exact copy to be provided by @lakohl

[2017-01-17 03:01] nikitarockz opened #690 "Decision Review: Remove "Send to RO" link and reposition "Cancel" link"
As Product Owner, I would like to have the link "Send to RO" removed and the "Cancel" link reposition so that the Decision Review page more accurately reflects current available tasks.

# Acceptance Criteria
1. Verify that the link "Send to RO" has been removed from the Decision Review page.
1. Verify that the link "Cancel" has been moved.  (refer to mockup)

# Mockup
**_View - Decision Review - B

[2017-01-17 03:37] nikitarockz commented on #205
@KHarshawat Under what circumstances would this occur? Why would the need to do 2 form 8s?

[2017-01-17 13:51] kierachell commented on #630
As a _Caseworker_ I am seeing the following messages during the cancellation process:
<img width="1174" alt="screen shot 2017-01-17 at 08 45 25" src="https://cloud.githubusercontent.com/assets/18075411/22022841/9a147490-dc91-11e6-8470-dd0a479f3e39.png">

<img width="1082" alt="screen shot 2017-01-17 at 08 45 32" src="https://cloud.githubusercontent.com/assets/18075411/22022764/58e38baa-dc91-11e6-9

[2017-01-17 13:58] kierachell commented on #629
@nemodjuric mentioned that the design for the modal is not finalized.
Here's what I am seeing:

<img width="1141" alt="screen shot 2017-01-17 at 08 42 17" src="https://cloud.githubusercontent.com/assets/18075411/22023093/c51beb7c-dc92-11e6-9526-fc8ef49770cc.png">

Then I tried to mess with it:

<img width="949" alt="screen shot 2017-01-17 at 08 56 48" src="https://cloud.githubusercontent.com/asset

[2017-01-17 14:00] #629 closed

[2017-01-17 14:02] kierachell commented on #626
@KHarshawat @nemodjuric @nikitarockz  I was told that the design for the modal is not finalized?
<img width="1141" alt="screen shot 2017-01-17 at 08 42 17" src="https://cloud.githubusercontent.com/assets/18075411/22023272/80543142-dc93-11e6-8318-0168b2899c2d.png">

Probably should not look like this.

[2017-01-17 14:03] kierachell commented on #615
I messed around some and @mdbenjam added proper seeds (and then I refactored them ;) )
<img width="751" alt="screen shot 2017-01-17 at 08 22 05" src="https://cloud.githubusercontent.com/assets/18075411/22023343/cf6b3514-dc93-11e6-8301-2597e2b1769b.png">

[2017-01-17 14:45] #615 closed

[2017-01-17 14:58] abbyraskin commented on #628
@sharonwarner for UAT testing this week, we're hoping to test the scenario where an EP is assigned to an RO that is not the ROJ -- not for specialty centers with shared stations, but for scenarios where a specific RO always handles a specific type of claim.

when a remand (or partial grant) is selected, if the Mustard Gas box is checked, the EP goes to Muskogee (Station 351) - is it possible to ha

[2017-01-17 15:03] sharonwarner commented on #628
make sure the location gets saved

[2017-01-17 15:33] kierachell commented on #664
Tested on multiple forms:
<img width="533" alt="screen shot 2017-01-17 at 10 32 36" src="https://cloud.githubusercontent.com/assets/18075411/22026973/5319ec46-dca0-11e6-9674-0a4ca44ed546.png">

The date is prepopulated correctly 👍

[2017-01-17 15:33] #664 closed

[2017-01-17 15:43] lakohl commented on #636
Existing EP, all EP & Claim Label Modifiers in use
We found one or more existing EP(s) created within 30 days of this decision date.  You may assign an existing EP from the table below to this claim.

A new [_display EP & Claim label_] EP cannot be created for this Veteran ID as all EP modifiers are currently in use.

See design below.
<img width="812" alt="screen shot 2017-01-17 at 10 39 54 am" s

[2017-01-17 15:50] lakohl commented on #626
@shellicious could you make a design for this more in line with our other modals?

[2017-01-17 16:09] nikitarockz commented on #403
Duplicate Item:
Refer to #637

[2017-01-17 16:09] #403 closed

[2017-01-17 16:09] abbyraskin commented on #628
@sharonwarner if the EP is not getting routed to an RO, it goes to station 397, not 499. This is AMC's station in VBMS.

[2017-01-17 16:23] shanear commented on #689
Asked VBMS about these:

New EP Codes/Labels:
https://github.com/department-of-veterans-affairs/dsva-vbms/issues/67

Notes:
https://github.com/department-of-veterans-affairs/dsva-vbms/issues/66

[2017-01-17 16:27] kierachell commented on #684
On the back end: what are the default values (if any) will be passed for now?

[2017-01-17 17:03] shanear opened #694 "Use `--deployment` with `bundle install` in Travis"
This will force Gemfile.lock to be correct

[2017-01-17 18:10] shellicious commented on #626
@kierachell is there something I can help clear up with the mockups posted under "Mockup" at the start of this issue? Those are the most recent/final designs, and are in line with USWDS.

@lakohl is there something that needs to be changed about the mockups posted under "Mockup" at the top of this issue to be in line with other modals? I used the most recent sketch file of the modal style guide --

[2017-01-17 19:03] lakohl commented on #626
I'm posting the image of the design from @shellicious's Sketch  file - it looks right to me there!
@kierachell @nemodjuric note the h1 font weight, width of the modal, button color, and 'Required' styling
@KHarshawat could you give guidance on modal width - this appears to be 534px? and confirm that t

<img width="537" alt="screen shot 2017-01-17 at 1 57 27 pm" src="https://cloud.githubusercontent

[2017-01-17 19:31] nemodjuric commented on #626
As per conversation I had with @shanear we will postpone changes to modal looks for later. We had css interfering with modal for dispatch, so we decided to leave it as is and refactor code for all modals as a separate issue. There is issue created for that: #641

[2017-01-17 21:59] kierachell commented on #626
Ok; letting this pass... for now

[2017-01-17 21:59] #626 closed

[2017-01-18 02:51] joofsh commented on #678
To QA this you'll need to be a System Admin user and go to "/admin/establish_claim". From there you can enter a valid vbms_id to create a task

[2017-01-18 14:58] kierachell commented on #628
When checking the following special issues, I am able to proceed through the create EP process:
<img width="533" alt="dispatch_rojrouting_partial531" src="https://cloud.githubusercontent.com/assets/18075411/22068668/c05636fc-dd63-11e6-8579-93f624f07efb.png">

Mustard Gas gives the following result:
<img width="1285" alt="dispatch_mustardgas_partial351" src="https://cloud.githubusercontent.com/asse

[2017-01-18 15:01] #628 closed

[2017-01-18 15:03] kierachell commented on #622
Able to test Partial/Remand modifiers.
<img width="422" alt="screen shot 2017-01-18 at 10 02 26" src="https://cloud.githubusercontent.com/assets/18075411/22069123/568c3814-dd65-11e6-8955-0b92e151a451.png">

Can't test 172 because there are no test data for that (blocked by duplicate EP)

[2017-01-18 15:04] kierachell commented on #636
Don't have a Mockup, don't know what to validate.

[2017-01-18 15:09] kierachell commented on #678
<img width="808" alt="screen shot 2017-01-18 at 10 08 25" src="https://cloud.githubusercontent.com/assets/18075411/22069331/160968ce-dd66-11e6-823c-41aeecc0c93f.png">

Not sure what "valid vbms_id" is; I get 404 no matter what the input is:
<img width="855" alt="screen shot 2017-01-18 at 10 09 12" src="https://cloud.githubusercontent.com/assets/18075411/22069361/2dbb24b2-dd66-11e6-8726-357d25b2926

[2017-01-18 16:20] astewarttistatech opened #702 "Existing XP | Assign to Claim | Caseworker cannot assign existing EPs in Firefox/IE browsers"
## Description
If user, using Firefox, tries to Assign an EP as a caseworker in Dispatch, the Assign to EP button doesn't work when clicked.

**Steps to Recreate:**
1. Open Dispatch in Firefox
2. Establish a full grant claim, w/o Special Issues as a caseworker
3. Try clicking "Assign to EP" button, notice it is unresponsive.

**Expected Results:**
User should be able to assign the existing EPs.

*

[2017-01-18 16:25] lakohl commented on #636
<img width="543" alt="screen shot 2017-01-18 at 11 24 38 am" src="https://cloud.githubusercontent.com/assets/4975959/22072555/bc1a949a-dd70-11e6-8959-ff62ebdcba71.png">

[2017-01-18 16:27] lakohl commented on #628
@kierachell for NCA (National Cemetaries) the user can't create an EP

[2017-01-18 17:00] kierachell opened #704 "Existing EP | "Assign to Claim" button changing other claim's EP Code"
# Description:
When a Caseworker is on the `Existing EP` page and clicks on the **_Assign to Claim_** button for a specific claim, some of other Claim's EP Code value changes while waiting for the next page to render.  Not sure if this a UI bug or actual functionality is affected.

**Environment:**
- [ ] Production
- [ ] UAT
- [x] Demo
- [ ] Development

**Type of Bug:**
- [ ] Performance
- [x] De

[2017-01-18 18:06] astewarttistatech commented on #627
Related issue: 704

[2017-01-18 18:12] astewarttistatech commented on #627
Other than the related issues, it looks good on chrome. Please see success screen below
<img width="973" alt="screen shot 2017-01-18 at 1 11 58 pm" src="https://cloud.githubusercontent.com/assets/23038505/22076832/c8a4c4ce-dd7f-11e6-911d-3e4f88fa96cf.png">

[2017-01-18 18:59] kierachell commented on #630
@nemodjuric
1. "Close window" Link not necessary.
2. The new `Cancel Certification` modal should be used for all _Caseworkers_, not just for _System Admins_
3. Header needs to display **Caseflow Certification**, and _Not Certified_

currently that is missing:
<img width="589" alt="screen shot 2017-01-18 at 13 58 26" src="https://cloud.githubusercontent.com/assets/18075411/22078531/4ab9c580-dd86-11

[2017-01-18 19:03] nikitarockz commented on #630
## Acceptance Criteria and Mockup Update
Removed the following 2 ACs as they are no longer needed.
     1. Verify that the following link is displayed: **_close this window_**.
     1. Verify that after clicking the **_close this window_**, the Certification Cancellation Confirmed page is closed and the Certification Home page is displayed for the Caseworker to start certifying a new case.

[2017-01-18 19:21] nikitarockz commented on #630
@kierachell @nemodjuric The path of this story should follow that of a Caseworker; however, based on what I am seeing it is following the System Administrator.  The Certification modal and Cancellation page currently displayed for the System Administrator should be displayed as the Caseworker.

[2017-01-18 19:38] nikitarockz commented on #636
## Acceptance Criteria and Mockup Updated

1. Updated AC 1 with alert text.
2. Updated Mockup with new image.

[2017-01-18 19:46] kierachell commented on #636
When creating a new 172 grant EP; I am not seeing 2nd part of the message:
<img width="910" alt="screen shot 2017-01-18 at 14 44 18" src="https://cloud.githubusercontent.com/assets/18075411/22080223/c2f7ca46-dd8c-11e6-9def-949b269b622d.png">

The following message is not showing up:
[code]

[2017-01-18 20:27] kierachell commented on #678
I figured it out!
I edited the page on my end to show what VBMS_ID actually means:
<img width="923" alt="screen shot 2017-01-18 at 15 23 31" src="https://cloud.githubusercontent.com/assets/18075411/22081698/8fcf0cc8-dd92-11e6-92b6-2c4eb7d29889.png">
<img width="928" alt="screen shot 2017-01-18 at 15 26 15" src="https://cloud.githubusercontent.com/assets/18075411/22081699/8fd35f4e-dd92-11e6-8e85-3d

[2017-01-18 20:27] #678 closed

[2017-01-18 20:58] kierachell commented on #673
Is this still failing? I am unable to reproduce the failure to check.
It's been passing with all kinds of weird selectors.

[2017-01-18 21:49] astewarttistatech commented on #681
@mdbenjam Hey did you fix this already?

[2017-01-19 20:53] shanear commented on #622
Two issues with this:
1) Cleared EPs should not block the usage of a modifier.
2) This is only taking into account EPs made in the last 30 days, which is not correct. Any open EP (regardless of claim date) should block the modifier.

[2017-01-19 20:57] shanear commented on #702
Confirmed to work

[2017-01-19 20:57] #702 closed

[2017-01-19 20:58] shanear commented on #627
confirmed in UAT testing

[2017-01-19 20:58] #627 closed

[2017-01-19 20:58] shanear commented on #417
confirmed in UAT testing

[2017-01-19 20:58] #417 closed

[2017-01-19 21:01] shanear commented on #677
Had a call with BGS on this today.

We will have to fill out a prod change request, and do some preprod testing. Next step is to fill out the prod change request and get preprod testing scheduled

[2017-01-19 22:04] lakohl opened #711 "App Actions | Show Loading Indicator during button click"
As a Product Owner, I would like to have the Loading indicator is displayed while the system is performing actions after clicking on any action button within the Dispatch product so that there is an indication that something is happening.

# Acceptance Criteria
1. Verify that after clicking **_Establish next claim_** button on the `Caseworker Home` page, a loading indicator is displayed while the

[2017-01-19 22:07] lakohl opened #712 "Existing EP | Assign Claim | Disable all buttons that are not loading"
As a case worker, when I click a button "Assign to Claim" or "Create New EP", I should not be able to make any other actions on this page.

## Acceptance Criteria
- Verify that when any "Assign to Claim" button is clicked on the Assign Claim page, the other buttons are disabled while the action is loading.

*Note: The disabled state a for secondary button is 25% opacity at this time.*

DEMO:
![ass

[2017-01-19 22:08] lakohl commented on #712
Assigning to myself to provide design

[2017-01-19 22:14] lakohl opened #713 "App Canvas | Error message should not persist on following page"
# Description
General error message needs to clear when users moves (forward or backward) to the next page. If error is triggered again, a new error message will appear.

**Environment:**
- [x] Production
- [x] UAT
- [ ] Demo
- [ ] Development

**Type of Bug:**
- [ ] Performance
- [ ] Design
- [ ] Security
- [x] Functional

**Severity Level:**
- [ ]    5 - Data loss, data corruption or system unav

[2017-01-19 22:14] lakohl commented on #713
@shanear  to provide screenshots

[2017-01-19 22:17] lakohl opened #714 "App Actions | Add link "Back to Decision Review""
As a Caseworker, I would like the ability to go back to the `Decision Review` page when I am on either the `Existing EP` or `EP Creation` page so that I don't get stuck.

# Acceptance Criteria
1. Verify that on the `Existing EP` page there is a link **_Back to Decision Review_**.
1. Verify that when the **_Back to Decision Review_** link is clicked `Existing EP` page , the Decision Review page is

[2017-01-19 22:20] lakohl opened #715 "Decision Review | Special Issues | Show all issues regardless Decision Type"
As a Caseworker, I want to be able to see the complete and correct list of Special Issues for all Decision Types so that I am certain I am selecting all that apply regardless of the Decision Type.

# Acceptance Criteria
1. Verify that the following list of all of the Special Issue categories are always displayed regardless of the Decision Type (Full Grants, Partial Grants, and Remands) (Refer to m

[2017-01-19 22:24] lakohl commented on #617
Resolve moving back and forth between all pages

[2017-01-19 22:28] lakohl opened #716 "Existing EP | Assign to Claim | Loading Indicator incorrect position and styling"
# Description
The Loading Indicator icon displayed after clicking on the **_Assign to Claim_** button on the `Existing EP` page is messed up.  It is not in the correct position and the favicon icon is not overlapping properly.  The Loading Favicon should be centered within the dimensions of the **_Assign to Claim_** button and the favicon icon should be overlapped properly (refer to Expected Resul

[2017-01-19 22:28] lakohl commented on #716
@shanear to provide screenshot

[2017-01-19 22:28] shanear commented on #713
Original error
<img width="1554" alt="screen shot 2017-01-19 at 5 09 56 pm" src="https://cloud.githubusercontent.com/assets/1596259/22128023/a778f192-de6c-11e6-903d-488969ae4843.png">

After clicking "Back to Review"
<img width="1554" alt="screen shot 2017-01-19 at 5 07 33 pm" src="https://cloud.githubusercontent.com/assets/1596259/22128020/a67a4034-de6c-11e6-8b25-5303b1458b40.png">

[2017-01-19 22:29] shanear commented on #716
<img width="434" alt="screen shot 2017-01-19 at 5 27 50 pm" src="https://cloud.githubusercontent.com/assets/1596259/22128063/d5b971d0-de6c-11e6-9636-a6e8a8c3e01d.png">

[2017-01-19 22:35] lakohl opened #717 "End Product | Missing RO location name in the Station field"
# Description
The "Station of Jurisdiction" field isn't always showing the Station code concatenated with RO Location Name.  This appears to occur when certain Special Issue selected on the `Decision Review` page.   on the "Special Issue" selected on the Decision Review page, it doesn't show the RO Location Name (City and state for some).

**Environment:**
- [ ] Production
- [ ] UAT
- [x] Demo
- [

[2017-01-19 22:38] lakohl opened #719 "CSS Login | Navigate user to Dispatch Caseworker Home page"
As a Caseworker, when I attempt to access the Dispatch homepage when not logged in, I would like to be navigated to the CSS login page. Upon successful login, I would like to be returned to the Dispatch homepage

# Acceptance Criteria
1. Verify that when a user tries to load the dispatch homepage, they are navigated to the CSS login page first. After logging in, they are redirected back to dispatc

[2017-01-19 22:47] lakohl opened #720 "Decision Review: Diary Note and UI for Partial/Remand with Special Issues in VACOLS"
When user attempts to create an EP for Remands and Partial grants with x Special Issues do not allow them to create the EP, but do change the location in VACOLS and attach a diary note noting the special issue.

NOTE: we only route special issues in VACOLS this way

1. We should also add a diary note for Partial Grants and Remands to the case.
1. If we can create an EP for the special issue, we sh

[2017-01-19 22:48] lakohl commented on #720
Assigning to @abbyraskin for a list of special issues to which this rule applies,  routing instructions, and Diary note copy

[2017-01-19 22:49] lakohl commented on #720
I will provide a design for the modal

[2017-01-19 22:52] shanear opened #721 "End Product | Set Station Code to "Louisville RO" based on Special Issue Category"
As a Caseworker, I would like to always have the "Station" value on the `End Product` page set to the Louisville RO when the _Special Issue Category_ "Contaminated Water at Camp LeJeune" has been selected on the `Decision Review` page so that it reduces the human error and the EP is routed to the correct Regional Office for handling of all decision type appeals -- full grants, remands, and partial

[2017-01-19 22:53] shanear commented on #721
@abbyraskin can you follow up with more detail here?

[2017-01-19 22:55] lakohl opened #722 "Route Claim | Display Informational Route Claim unable to create EP (Full Grants with Special Issues/RO Email)"
As a Caseworker, when I am working a case that is a Full Grant with a special issue for whom we cannot create an EP in Caseflow but for whom we do have an RO/Center of Jurisdiction email address available, I would like to have message displayed so that I am aware of the situation.

# Acceptance Criteria
1. Verify that after clicking the **_Route Claim_** button on the `Decision Review` page and th

[2017-01-19 23:00] lakohl opened #723 "End Product | Create End Product | Set Location code in VACOLS for Partial and Remand grants"
As a Caseworker, I would like to set the _"Location Code"_ in VACOLS based on specific _"Station"_ code for all remands and partial grants so that when the Regional Office receives the EP it can be picked up by a specific team.

# Acceptance Criteria
1. Verify that when the _"Station"_ code value is 397 (AMC), no Special Issues have been selected and the **_Create End Product_** button has been cl

[2017-01-19 23:00] lakohl commented on #723
@abbyraskin can you confirm or adjust the instructions above?

[2017-01-19 23:08] lakohl opened #724 "Confirmation | Add message text when Establish Next Claim disabled"
As a Caseworker, I would like to have a message next to the disabled Establish Next Claim button on the End Product Confirmation page so that I understand why I am unable to get the next claim in the queue.

# Acceptance Criteria
on both the "EP Cancellation Page" and the "EP Created Page" and "Claim Assigned to EP Page"
1. Verify the styling and position for the "View Work History" button and the

[2017-01-19 23:10] shanear commented on #471
<img width="1554" alt="screen shot 2017-01-19 at 5 07 33 pm" src="https://cloud.githubusercontent.com/assets/1596259/22129196/82b81c2e-de72-11e6-8c55-bd27cf0210ad.png">

The way it currently looks is fine right now

[2017-01-19 23:10] shanear commented on #471
@lakohl to update copy

[2017-01-23 14:07] shanear opened #725 "Integration testing frequency and notifications (Discussion on 01/27)"
Now that we have some amazing integration tests (thanks Artem and Alan!), we need to make some decisions surrounding their purpose and how they should be set up:

1) How frequently should integration tests be run? Should they be triggered by an event like a deploy to UAT, or as a gate before a prod deploy?
1) Should we run integration tests against the demo environment as well as UAT?
1) Where sho

[2017-01-23 14:35] askldjd commented on #725
Item 3 is addressed. @kierachell is testing #dev_null, and shouldn't spam the channels anymore.

[2017-01-23 14:54] abbyraskin commented on #721
@shanear I edited the description above.

[2017-01-23 15:11] shanear commented on #689
Got answers here! Pursuing each of these options separately.

[2017-01-23 15:11] #689 closed

[2017-01-23 15:43] amprokop commented on #725
Why not both? One thing to keep in mind if we shunt UAT integration tests off to a separate channel is that devs might not see it. Maybe we can post to `appeals-engineering` only if tests fail?

[2017-01-23 15:52] kierachell commented on #725
1. What @amprokop said

2. I basically run those like 20 times per hour manually; Depends on how different you want to keep `demo` from `UAT`. On `demo` my tests go through a lot more endpoints/scenartios at this time;

3. What @askldjd said. Can confirm, do not subscribe to `#dev_null` if you want to stay sane.

[2017-01-23 16:06] askldjd opened #727 "Caseflow returns 500 when it loses connection to VACOLS"
This incident was observed during integration testing. It is unclear if Caseflow recovers.

Here's the call stack
[code]

At a glance, it doesn't seem like ActiveRecord automatically reconnects.
http://stackoverflow.com/questions/26165681/activerecord-how-to-reconnect-to-postgresql-automatically-when-connection-drops

[2017-01-23 16:08] abbyraskin commented on #717
@lakohl do we want to include the words Regional Office (or RO) at the end? e.g., Muskogee, OK Regional Office (to prepare for potential future routing to shared stations and for general clarity)?

[2017-01-23 16:44] amprokop commented on #725
Re: 2, ideally we would always run them against UAT, since it's much more similar to prod, right? I can see the maintenance time being high if we want to maintain integration tests against both demo and UAT in perpetuity. Not sure what other folks think tho

[2017-01-23 18:04] lakohl commented on #717
@abbyraskin I def think we should include the name of the city and state on the Station of Jurisdiction. e.g. '351 - Muskogee, OK' I'm assuming all VBMS stations are ROs (is that correct?) f you think in the future we might have station codes for Centers or other non-RO locations then we could expand the label to say '351 - Muskogee, OK RO'

[2017-01-23 18:21] abbyraskin commented on #717
also note: if the claim is not getting routed to an RO it goes to AMC. So it would read: "397 - Appeals Management Center" (or whatever their name is by then...).

[2017-01-23 18:28] lakohl commented on #717
Good point. In that case I would say we should say '351 - Muskogee, OK RO' and '397 - Appeals Management Center'.
*We should check on whether the AMC labels are going to incorporate AMC's new name?!

[2017-01-23 19:07] joofsh commented on #673
looks like it's stopped failing on master. Closing this issue

[2017-01-23 19:07] #673 closed

[2017-01-23 19:15] astewarttistatech commented on #674
**PASSED**

Steps for Validation:
1. Go into dispatch as a caseworker, establishing a claim
2. On the Review Decision doc page, take the first step to establish a full grant w/o any Special Issues
3. Assign EP page pops up showing that the "Send to RO" link has been removed and the "Cancel" link has been re positioned.

Screenshots:
<img width="1277" alt="screen shot 2017-01-23 at 2 12 04 pm" src=

[2017-01-23 19:15] #674 closed

[2017-01-23 19:18] astewarttistatech commented on #690
**PASSED**

Steps to Validate:

1. Go into dispatch as a casworker establishing a claim.
2. On the review decision page, the bottom of the page revealed the "Send to RO" link had been removed and the "Cancel" link re-positioned.

Screenshots:
<img width="1204" alt="screen shot 2017-01-23 at 2 16 27 pm" src="https://cloud.githubusercontent.com/assets/23038505/22218912/c2cb2cd2-e176-11e6-955d-6a5d71

[2017-01-23 19:18] #690 closed

[2017-01-23 21:09] lakohl commented on #625
@mmlumba are you still working on this? @abbyraskin I can provide some more info on how to display Special Issues

[2017-01-23 21:51] shanear opened #732 "Add test endpoint to reset data for dispatch integration test"

[2017-01-23 23:14] abbyraskin commented on #720
Below is my current understanding of special issues not yet supported for EP creation in Caseflow (subject to change pending feedback from AMC stakeholders), their corresponding location change in VACOLS:

Education Debt - Location 50
Waiver of Overpayment - Location 50
Insurance - Location 50
Foreign Claim - Location 50
Pension - Location 50
DIC, death, accrued benefits - Location 50
VAMC - Locat

[2017-01-23 23:15] abbyraskin commented on #720
oops, one more question for you @cmgiven: do you know the character limit on diary notes?

[2017-01-23 23:21] joofsh opened #733 "Refactor EstablishClaim code"
Rushing to reach UAT integration deadlines, we incurred some technical debt within our EstablishClaim react page.

Potential refactors:
- [x] Clean up buttons. Make buttons unique to each page
- [x] Split `handlePageChange` routing method into unique methods for each page (i.e. navigateToReview)
- [x] Make each page its own true component. Shift code from parent EstablishClaim into child pages as

[2017-01-23 23:21] lakohl commented on #720
Super helpful. Thanks!

[2017-01-24 12:31] cmgiven commented on #720
I see two potential fields in the ASSIGN table:

1. "Requested Activity," TSKRQACT, 280 characters
2. "Response Notes," TSKRSPN, 200 characters

[2017-01-24 13:55] shanear commented on #733
Added the other refactor we talked about yesterday

[2017-01-24 14:08] shanear commented on #725
1. Love the idea to make UAT integration test failures loud and in #appeals-engineering or #appeals-development. Any time there is an integration test failure, it's important and someone should be working towards fixing it. Also, so we don't get a bunch of noise, we should make sure the only loud errors are on integration tests that should pass, not experimental tests.

2. I agree with you @amprok

[2017-01-24 14:31] shanear opened #734 "How do we validate and verify released issues? (Discussion on 2/1)"
There are a couple problems we're having right now.

1) We are deploying twice a week, sometimes without validating that PRs correctly complete the issues they are completing.
1) The support team and other stakeholders cannot easily tell when an issue has been deployed or released.

I believe these two issues are interlaced and there is a way we can help resolve both of them.

## Outcomes
- Each d

[2017-01-24 14:37] kierachell commented on #684
And... it's gone!

<img width="1101" alt="screen shot 2017-01-24 at 09 36 14" src="https://cloud.githubusercontent.com/assets/18075411/22251384/91ee5ea2-e218-11e6-9996-ed7477e0a73b.png">
<img width="1138" alt="screen shot 2017-01-24 at 09 36 40" src="https://cloud.githubusercontent.com/assets/18075411/22251407/a26e7654-e218-11e6-82d7-a2df8310889e.png">

[2017-01-24 14:38] #684 closed

[2017-01-24 15:26] askldjd commented on #585
As of yesterday, Prometheus ruby client is now part of Caseflow.

![image](https://cloud.githubusercontent.com/assets/3258724/22253431/981f7a20-e21f-11e6-8d83-5a0658bcfc99.png)

[2017-01-24 15:26] #585 closed

[2017-01-24 15:49] shanear commented on #725
Also, we're going to have the live discussion about this after standup on Friday 11/27

[2017-01-24 15:52] cmgiven commented on #720
"Remand NCA" is 53.

"Remand VAMC" is 51. 54 is "Remand VHA CO."

As far as I know, no reason to checkout to 98. Staying in 97 until routing to 50 or 98 as appropriate is more consistent with historical data, although 97 -> 98 -> 50 does happen.

[2017-01-24 15:58] kierachell commented on #725
1. I'm experimenting with different Slack message formats - I can throw just a generic "something is wrong!" or a backtrace like:
<img width="443" alt="screen shot 2017-01-24 at 10 19 55" src="https://cloud.githubusercontent.com/assets/18075411/22254614/1f302df4-e223-11e6-9cbe-bf4b8f0b6605.png">
Which, I reckon, is more informative; and louder.

[2017-01-24 16:06] kierachell commented on #630
Here are the latest results:
<img width="926" alt="screen shot 2017-01-24 at 11 01 18" src="https://cloud.githubusercontent.com/assets/18075411/22255348/1fd17c8e-e225-11e6-8b8d-a6616427583b.png">
Looks good on my end 👍

[2017-01-24 16:07] #630 closed

[2017-01-24 17:02] kierachell commented on #631
The modal appears correctly as per updated specifications.
<img width="573" alt="screen shot 2017-01-24 at 11 39 20" src="https://cloud.githubusercontent.com/assets/18075411/22257119/0d37a70a-e22b-11e6-915c-560180f441a5.png">
Table is generated for the appropriate certification.

However, a few bugs have come up:
- No whitespace trimming or error:
<img width="954" alt="screen shot 2017-01-24 at 11

[2017-01-24 17:19] nikitarockz opened #735 "Decision Review | Display an alert when there multiple decisions available"
As a Caseworker, I would like to have an alert displayed on the Decision Review page when there multiple decisions available so that I can be warned of the task at hand and view instructions on how to proceed.

# Acceptance Criteria
1. Verify that when there are multiple decisions available for the current case, an alert is displayed. (Refer to Mockup)
1. Verify that a Multiple Decision Alert is d

[2017-01-24 17:22] nemodjuric commented on #631
- Pressing back button... We should find a way to handle the error message, however, it's expected behavior when it comes to db table - there shouldn't be more than one cancellation per certification.  @shanear What is the official stance on character limit and white space?

[2017-01-24 17:27] nikitarockz opened #736 "Decision Review | Ability to view Decision Criteria information when Multiple Decisions available"
As a Caseworker, I would like ability to view Decision Criteria information (Decision Type and VACOLS Issues) about the current case when there are multiple decisions available so that I have a clearer picture of the current case and am better prepared to select the correct decision.

#  Acceptance Criteria
1. Verify that there is a VACOLS Decision Criteria section only when there are multiple dec

[2017-01-24 17:36] abbyraskin commented on #720
thanks @cmgiven!

[2017-01-24 18:09] shanear commented on #631
Good catches @kierachell!

1) We should trim the input before validating. Shouldn't be too difficult to do.

2) The back button issue can be solved via the following update:
[code]

[code]

[2017-01-24 18:30] kierachell commented on #734
Does this relate to the current practice of validating only after merges into master?

As in, can we have a separate `prod` or `dev` branch that is merged only after validation? that will provide a history of "worked on" features and "implemented and validated" issues.

[2017-01-24 18:40] abbyraskin commented on #720
@lakohl maybe something like this for diary copy?

The AMC* is transferring this claim to [VACOLS RO code] for further development as it contains a [special issue] issue. EP 170 [label] has been established in VBMS station [station #] for this claim.

*ARC?

[2017-01-24 20:35] kierachell opened #738 "Certification Cancellation Modal: Whitespace validation and character limit"
# Description:
As a Regional Office Caseworker, when filling out the Cancel Certification form using _Other_ as the reason;
I fill out the _Tell us more about your situation_ field with whitespaces `  ` and/or unlimited amount of text.
**I expect** an error message to be displayed in both cases; character limit to be 2000.
**Actual result:** the cancellation is generated normally.

**Environment:*

[2017-01-24 21:03] kierachell opened #739 "Form 8 | Question 13 Other Specified | Isn't clearing values selected after edit"
# Description:
Edits made to the "Other Specified" fields
When the user puts a check in the "Other" checkbox and supplies an "Other Specified" value for Question 13 on the Electronic Form 8 page, then goes to the Form 8 PDF Preview page, the
they are rendered on the Form 8 PDF.  However, if a Caseworker clicks "Go back and make edits" button on the  *Review Form 8* page, unchecks any of the boxes

[2017-01-24 22:17] nemodjuric opened #741 "Handle PG::UniqueViolation error when canceling certification"
Right now if you click back button after Canceling certification and trying to resubmit, it will show:
<img width="1389" alt="pg--uniqueviolation" src="https://cloud.githubusercontent.com/assets/4960030/22269309/db55d0d0-e258-11e6-9b87-556e95191bf8.png">

Refer to #631

[2017-01-24 23:12] nikitarockz opened #742 "End Product | Change the "Required" label styling"
As the Product Owner, I would like the "Required" label repositioned and without parenthesis so that it is consistent with the application stylization.

# Acceptance Criteria
1. Verify that the "Required" label next to the field "Decision Date" has been updated to match application stylization as follows (refer to mockup):
- Italicized
- Red text
- Aligned to the right of field box

# Mockup
**_Vi

[2017-01-25 14:02] #631 closed

[2017-01-25 14:40] shanear opened #748 "Configure PDF.js to not be verbose during tests"
That way we don't have to see all of this extra stuff in our test output

[code]

[2017-01-25 14:54] kierachell opened #750 "Form 8 | Whitespace text field trimming"
# Description:
As a Regional Office Caseworker, when filling out Form 8;
If I input white space into any of the text fields (even required);

**Expected:** that the whitespace will be trimmed and an error will show up and PDF not be generated
**Actual Result:** PDF is generated with empty fields; for questions 5A/6A/7A the corresponding dates are not generated (implying that the whitespace does ge

[2017-01-25 15:40] KHarshawat commented on #734
Regarding 2: Is there some way we can be more formal around release notes to make the communication of what is launched and what is visible to the user easier to track? We don't really take advantage of our "What's new" indicator in our apps either but it would be nifty to use it too.

[2017-01-25 15:53] joofsh commented on #734
1. Can you provide more info on this? We have an "In Validation" column and a QA team. Are you saying it needs to be vetted by someone from product/design as well?

2. The lowest level of effort to solve this is to extend our Jenkins slack integration. Right now we post that we are doing a deploy to prod, but it doesn't say _what_ we are deploying. We could have it do a git log diff between the cu

[2017-01-25 16:00] mmlumba commented on #625
@lakohl yes

[2017-01-25 16:09] kierachell commented on #536
This one fails about every 20 runs - Travis and Locally

<img width="732" alt="screen shot 2017-01-24 at 15 31 55" src="https://cloud.githubusercontent.com/assets/18075411/22298431/82ce92a8-e2ee-11e6-997c-5f968d6f97a0.png">
<img width="677" alt="screen shot 2017-01-25 at 10 26 07" src="https://cloud.githubusercontent.com/assets/18075411/22298433/83c93d8e-e2ee-11e6-9c58-ff134f7f20ed.png">

[2017-01-25 16:24] astewarttistatech opened #751 "Wrong Repo"
wrong repo issue. Don't mind me, just passin' through.

[2017-01-25 17:15] amprokop commented on #536
interesting, @kierachell! great find.

[2017-01-25 17:18] amprokop commented on #536
[code]

The test in question. The only thing I can think of offhand is that the resource might not be loaded when we're checking the headers? Capybara is usually so good with waiting tho.

[2017-01-25 17:55] kierachell opened #752 "Feedback Form Character Limit"
# Description:
As a User and/or member of the Support team:
when submitting feedback
the message body text area does not have a character limit;
the `admin` page for the resulting feedback is kinda broken (see screenshots)

**Expected:** limit the amount of text that can go into the message body
**Actual:** no character limit and a broken `admin` page

**Type of Bug:**
- [X] Functional

- [X] UI

[2017-01-25 18:21] kierachell commented on #536
Another random failure after 40 more builds on Travis.
<img width="945" alt="screen shot 2017-01-25 at 12 59 28" src="https://cloud.githubusercontent.com/assets/18075411/22303402/24d333b2-e301-11e6-9eb1-71d587ef2d64.png">

[2017-01-25 18:29] mdbenjam commented on #536
Yeah, I had a test last week that checked database values before checking screen content after submitting a post request. The database values were not changed before I arrived on the page. I'd be curious what would happen if we:

1) put a sleep after the visit
2) change our expect to be something like

[code]

Not sure if that syntax is right, but I wonder if putting page inside expect forces capy

[2017-01-25 18:47] amprokop commented on #536
good call. @kierachell, since you seem to have a rig set up to run the specs continuously, can you try @mdbenjam's suggestion?

[2017-01-25 18:48] amprokop commented on #536
it would be
[code]

i think

[2017-01-25 19:48] kierachell commented on #536
So here's an updated error: I suspected that `pdf_href` was not generated:
<img width="703" alt="screen shot 2017-01-25 at 14 47 21" src="https://cloud.githubusercontent.com/assets/18075411/22306443/4c86f9dc-e30d-11e6-8a92-601da25dadf9.png">

[2017-01-25 23:39] kierachell commented on #536
It seems like `content_header = page.response_headers["Content-Disposition"]` gets lost sometimes and no matter how long you wait it won't load.

[2017-01-25 23:50] #752 closed

[2017-01-25 23:56] #663 closed

[2017-01-26 13:33] lakohl commented on #625
@mmlumba we are thinking of having one longer list of special issue categories (the one you are using for Remands/Partial Grants) for all types of grants. You can implement that change. I have another issue open for Special Issue ordering and styling.

[2017-01-26 13:51] lakohl commented on #722
@abbyraskin I took a stab at the copy for this, would you mind taking a look?

'You selected a Full Grant with a Special Issue Category not handled by AMO. This type of case cannot be processed in Caseflow at this time.

Please select Cancel Claim Establishment and send the following email to the RO associated with this case in VACOLS.

RO Email: specialissuesStPeteRO@va.gov

Message: Claim #12345

[2017-01-26 13:52] lakohl commented on #722
@abbyraskin next we'll have to work on determining routing/email addresses for all full grant special issues : 0

[2017-01-26 14:49] abbyraskin commented on #625
@lakohl @mmlumba I'm editing the list slightly to reflect feedback from AMO.

[2017-01-26 15:13] abbyraskin commented on #722
@lakohl is it possible to actually generate the email for them (in their own Outlook, even though we don't actually send the email through our system)?

[2017-01-26 15:18] lakohl commented on #625
@abbyraskin which list did you edit? very top? User suggestion was for these three issues to appear at the top of the list:
Rice
Manlicon
Pension
DIC
Education
Attorney Rep/Agent

[2017-01-26 15:25] abbyraskin commented on #625
Yep, the very top. I didn't reorder but will do that now. Pension has a few different permutations now, so I will put that one after the other popular issues.

[2017-01-26 15:32] #694 closed

[2017-01-26 15:49] abbyraskin commented on #722
I would also include the date and claimant's name in the email.

The BVA decision dated 01/01/2017 for John Doe, ID 123456789, was sent to the AMO but cannot be processed here, as it contains [special issue category] in your jurisdiction. Please proceed with implementing this grant.

[2017-01-26 15:50] abbyraskin commented on #722
I would also include the date and claimant's name in the email.

The BVA decision dated 01/01/2017 for John Doe, ID 123456789, was sent to the AMO but cannot be processed here, as it contains [special issue category] in your jurisdiction. Please proceed with control and implementation of this claim.

[2017-01-26 16:10] lakohl commented on #722
Good point about the name.
Last I heard the dev team wanted to do this in incremental steps. Generating the email in our system would come later I think Outlook link may be doable now though. Will double check

[2017-01-26 18:25] kierachell commented on #622
Trying a Full Grant:
<img width="613" alt="screen shot 2017-01-26 at 11 26 23" src="https://cloud.githubusercontent.com/assets/18075411/22341082/8cc8ed24-e3bd-11e6-94b0-1ff071864552.png">

Partial/Remand with no other EPs:
<img width="644" alt="screen shot 2017-01-26 at 11 23 50" src="https://cloud.githubusercontent.com/assets/18075411/22341103/9b1532fc-e3bd-11e6-99ba-076ae4d70c20.png">
<img width

[2017-01-26 18:43] lakohl commented on #724
Adding mock and message: There are no more claims to be worked.

[2017-01-26 19:21] #622 closed

[2017-01-26 19:26] #751 closed

[2017-01-26 21:05] nikitarockz opened #757 "Decision Review | Special Issue | Add new category "Contaminated Water at Camp Lejeune""
As a Caseworker, I would like to add a new _"Special Issue Category"_ checkbox "Contaminated Water at Camp Lejeune" on the `Decision Review` page so that it contains a category for Louisville.

# Acceptance Criteria
1. Verify that the following _"Special Issue Category"_ has been added a checkbox (Refer to Mock).
     - Contaminated Water at Camp LeJeune
1. Verify the "Contaminated Water at Camp L

[2017-01-26 21:11] nikitarockz commented on #757
prioritize - top

[2017-01-26 21:12] nikitarockz commented on #750
prioritized - bottom

[2017-01-26 21:14] nikitarockz commented on #739
prioritized - low

[2017-01-26 21:16] nikitarockz commented on #738
prioritize - under 268

[2017-01-26 21:24] nikitarockz opened #758 "App Canvas | Cancel | Change "Cancel" link label to "Cancel Certification""
As Product Owner, I would like to change the "Cancel" link label to 'Cancel Certification" on the _Missing Documents_ and _Electronic Form 8_ pages so that it more accurately matches the action and eliminates confusion.

# Acceptance Criteria
1. Verify that on the _Missing Documents_ page, the "Cancel" link has be changed to "Cancel Certification" (Refer to Mock).
1. Verify that on the _Electronic

[2017-01-26 22:28] amprokop opened #759 "Monitor threads with a custom metric"
We should add a Prometheus metric to monitor thread information in our apps.

Sample:
[code]

[code]

[2017-01-27 13:31] aroltsch commented on #734
Regarding 1: One solution to this problem is to have two main branches: master and develop. Master is to be the branch where the source code always reflects a production-ready state. Develop is to be the branch where the source code always reflects the latest delivered development changes. When the source code in the develop branch reaches a stable point and is ready to be released, all of the cha

[2017-01-27 13:59] aroltsch opened #762 "Create a migration to update `record_other_explanation` to have "Unknown" value for empty records"

[2017-01-27 14:19] kierachell commented on #739
Now that the text appears, it decides to stay after edits:
<img width="1018" alt="screen shot 2017-01-27 at 09 17 24" src="https://cloud.githubusercontent.com/assets/18075411/22373872/b6c2550c-e471-11e6-9bb7-747d03154c29.png">
<img width="952" alt="screen shot 2017-01-27 at 09 17 39" src="https://cloud.githubusercontent.com/assets/18075411/22373875/b6cbe93c-e471-11e6-9a0c-4408d16419df.png">
<img w

[2017-01-27 14:20] kierachell commented on #611
It appears now...
<img width="1018" alt="screen shot 2017-01-27 at 09 17 24" src="https://cloud.githubusercontent.com/assets/18075411/22373906/da416da6-e471-11e6-8060-c344b28f897c.png">
<img width="952" alt="screen shot 2017-01-27 at 09 17 39" src="https://cloud.githubusercontent.com/assets/18075411/22373907/da4dc8f8-e471-11e6-996e-4c272582edcf.png">

but doesn't disappear (see #739 )

[2017-01-27 14:21] #611 closed

[2017-01-27 14:42] mdbenjam opened #763 "Finish polished e-reader prototype for testing"
1) Implement Kavi's designs for an e-reader prototype.
2) Integrate with VBMS
3) Test on real e-reader documents

To-Do List:
- [ ] Fix saving to document DB/Make sure we can see the documents in UAT/Prod
~~Move cache to e-folder express' S3 bucket~~
- [x] Merge in UI changes
- [x] Merge in label changes

Nice to haves To-Do List:
- [ ] Open documents in new tabs
- [ ] Comment view where you can s

[2017-01-27 15:22] amprokop commented on #759
Still trying to figure out how this will works. We need to

1. add the methods above to count threads
2. make sure the prometheus client includes thread count info
3. expose that info on the /metrics route.

[2017-01-27 15:41] lakohl opened #766 "SPIKE: Investigate BGS Integration for adding a VBMS Note to an EP created in Caseflow Dispatch"
Investigate the technical feasibility of adding a VBMS note via Caseflow. When a user creates an EP (especially for a Full Grants) adding a VBMS note to the Claim (ideal) or to the Vet Profile (second best) explaining the special issue would help the RO understand why it has been assigned to their station. The note would read: 'The BVA Full Grant decision dated 01/01/2017 for John Doe, ID# [123456

[2017-01-27 16:05] lakohl commented on #722
Hold for update.

[2017-01-27 16:14] shanear commented on #725
1. Integration tests have to pass before a prod deploy. We will be connecting these jobs in Jenkins. There is a race condition here, which can be solved by passing the commit hash of the current AMI, however slack will have to do until that is implemented.
1. Save all prod AMIs, don't worry about UAT AMIs since they are not all validated
1. Integration test failures should be "louder" than success

[2017-01-27 17:27] lakohl commented on #766
Also would be good to know:
1) if VBMS notes are Visible in Share?
1) which fields from the VBMS EP are visible in Share?

[2017-01-27 18:34] shanear opened #769 "SPIKE: Investigate VVA integration"
We need to connect to VVA and they've given us documentation on their API and the proper endpoints.

The outcome of this spike should be to have made a successful read request to a VVA document. We can do this either through a SOAP client, or by creating a `connect_vva` library.

[2017-01-27 20:29] kierachell commented on #636
<img width="1083" alt="screen shot 2017-01-27 at 15 22 40" src="https://cloud.githubusercontent.com/assets/18075411/22386483/54518292-e4a5-11e6-982a-106e8d200b3b.png">
👍

[2017-01-27 20:29] #636 closed

[2017-01-27 21:58] shanear commented on #641
Work with @KHarshawat on this.

[2017-01-28 00:08] lakohl commented on #635
<img width="665" alt="screen shot 2017-01-27 at 7 05 31 pm" src="https://cloud.githubusercontent.com/assets/4975959/22392096/d57d8b54-e4c3-11e6-831b-134a0e2f4fb5.png">

Above is the Design for eX. For other Caseflow products the name of that product would appear instead.

[2017-01-28 00:14] lakohl commented on #724
<img width="485" alt="screen shot 2017-01-27 at 7 14 27 pm" src="https://cloud.githubusercontent.com/assets/4975959/22392204/dca0b1f8-e4c4-11e6-94c5-9f8cb10811d6.png">

[2017-01-28 20:04] lakohl commented on #646
This design is changing. Will remove current cases in favor of assigning to employees.

[2017-01-30 03:55] nikitarockz commented on #711
1. Verify that after clicking **_Create End Product_** button on the `Decision Review` page, a loading Favicon is displayed while the system loads the `End Product` page.
1. Verify that after clicking **_Cancel_** button on the `Decision Review` page, a loading Favicon is displayed while the system loads the `EP Cancellation` page.
1. Verify that after clicking **_Cancel_** button on the `End Prod

[2017-01-30 12:52] lakohl opened #773 "Decision Review | Update styling above and below the Decision document"
As Product Owner, I would like the styling on the `Decision Review` page updated so that it is consistent with the Caseflow style guide.

# Acceptance Criteria
1. Verify that the light grey background space between Decision Review title box and the Decision Document has been removed.
2. Verify that a dark grey bar has been added below the Decision Document, so that there is a rectangular frame of

[2017-01-30 13:18] lakohl commented on #646
New design for the top of this page is as follows.  'X cases in queue, total of y cases completed today' is in dark grey and not a link.

<img width="800" alt="screen shot 2017-01-29 at 8 57 10 am" src="https://cloud.githubusercontent.com/assets/4975959/22424451/9fb15b7e-e6c4-11e6-8307-7ffda36bdecb.png">

[2017-01-30 13:22] lakohl commented on #635
@nikitarockz this one is ready to go

[2017-01-30 13:50] shanear opened #774 "Styleguide page"
As a designer, I want to be able to see the the common components available to developers. I should be able to alter these styles and impact every usage of these

As a developer, I want to be able to see the proper React components and/or html/css required to create common UI components as they are designed.

## Acceptance Criteria
- When a system admin navigates to `/admin/styleguide` they should

[2017-01-30 14:08] shanear commented on #773
@lakohl this is the same style for viewing a PDF in Caseflow Certification. Additionally, @shellicious will be adding yet another PDF view in Caseflow Certification.

Maybe this is a chance to look at styling and guidance for viewing PDFs all over the app, and how to style them?

[2017-01-30 14:16] kierachell commented on #450
Certification completion:
<img width="1223" alt="screen shot 2017-01-30 at 09 12 20" src="https://cloud.githubusercontent.com/assets/18075411/22426198/76cd1c22-e6cc-11e6-8831-ca8d17b34d17.png">
👍

For reference current UI in Dispatch:
Dispatch Establishment and Assignment:
<img width="1229" alt="screen shot 2017-01-30 at 09 12 52" src="https://cloud.githubusercontent.com/assets/18075411/22426197/7

[2017-01-30 14:16] #450 closed

[2017-01-30 14:29] shanear opened #775 "Prepare application and test data for Preprod test"
We will need to set up the appropriate smoke tests and test data for the preprod smoke tests next week.

[2017-01-30 14:31] kierachell commented on #536
Got a new one popping up now:
<img width="815" alt="screen shot 2017-01-30 at 09 31 18" src="https://cloud.githubusercontent.com/assets/18075411/22426840/e1f8fc6c-e6ce-11e6-8267-463341531273.png">

[2017-01-30 14:34] amprokop commented on #536
@kierachell — yeah I agree that revisiting is hacky. if there are other PDF tests failing like the above ^, perhaps this is a PDF.js bug.

[2017-01-30 14:43] shanear commented on #725
Just a "@here" should be loud enough. Besides that, do what you think is most helpful. Also can you make another issue for this? I'm going to close this out.

[2017-01-30 14:44] #725 closed

[2017-01-30 14:51] shanear commented on #734
@joofsh 1. is regarding a problem where we have stories that are still in "In Validation" that are being deployed to production with out being vetted by anyone. That's because the code was merged to master and not QA'ed

[2017-01-30 15:01] shanear commented on #734
@aroltsch what you are describing is typically called "git flow", and it adds a lot of complexity with branching and merging which can be very cumbersome. Vets.gov tried this in the beginning and found that to be true. I'd prefer to stick with "Trunk Based Development" if we can help it.

@KHarshawat I think you are on to something. I think @kierachell or @astewarttistatech could check all the iss

[2017-01-30 15:20] shanear commented on #734
Also we will be dicussing this Wed, Feb 1 after standup

[2017-01-30 15:24] nikitarockz commented on #616
# Sprint Planning
Update ACs to match mockup.

[2017-01-30 15:34] nikitarockz commented on #723
Sprint Planning
@nikitarockz Add End Product page to mockup.

[2017-01-30 15:43] shanear commented on #677
Sent emails to both the SIO team notifying them of our release, as well as a Tina Edwards with the WSCR document. Now just playing the waiting game until preprod.

[2017-01-30 16:02] nikitarockz commented on #704
# Sprint Planning
Since this issue is based on results of using FireFox, this will not be addressed at this time. Returning back to Triage.

[2017-01-30 16:27] kierachell commented on #610
Edge case; will reopen if shows up again.

[2017-01-30 16:43] mmlumba commented on #641
@lakohl @abbyraskin The current text for Dispatch is the following:
![screen shot 2017-01-30 at 11 42 22 am](https://cloud.githubusercontent.com/assets/4773320/22431920/39847940-e6e1-11e6-8c6b-5fd5711807f9.png)

For this specific Dispatch modal would you like me to update the text as well?

[2017-01-30 16:46] KHarshawat commented on #646
@lakohl questions/feedback about the design:

- What do the checkboxes do? Are they interactive?
- How does the manager actually assign cases?
- I think the "ARC Dispatch WorkFlow" heading is redundant with the "Work Assignments for..." title. I would stick with the latter.
- We haven't really used cammel case for WorkFlow ever ... is this something we're looking at doing? Not sure how I feel abou

[2017-01-30 16:57] askldjd commented on #775
Is this related to https://github.com/department-of-veterans-affairs/appeals-deployment/issues/391

[2017-01-30 17:11] lakohl commented on #646
@KHarshawat I appreciate the feedback.

During our last usability session we learned that the coaches would like to divide the work equally between their employees each day. At the start of the day employees need to be notified how many cases they are expected to complete on that day. After they are done with their individual queue of cases, employees go on to do other kinds of work.

The boxes al

[2017-01-30 17:17] lakohl commented on #723
second mock added above

[2017-01-30 17:23] lakohl commented on #641
@mmlumba the most recent copy and for the required field styling are shown in the mock below:
<img width="591" alt="screen shot 2017-01-30 at 12 21 29 pm" src="https://cloud.githubusercontent.com/assets/4975959/22433594/e8754e20-e6e6-11e6-9035-8a74cdf497b9.png">

[2017-01-30 19:12] shanear commented on #775
yes, working on getting the data prepared with Jennifer Powell from VBMS. I think we have some file numbers and logins to use in the meantime

[2017-01-30 20:02] shanear opened #783 "The browser back button should work in claims establishment"

[2017-01-30 20:05] shanear opened #784 "EP Creation: Add back button links to EP creation flow"
As a case worker, when I am on any of the EP Creation pages, I would like a button to go back to the Decision review page.

## Acceptance Criteria
1. Verify that the link is present on both EP Creation page (seen in the mocks below) and that copy is the following:  '< Back to Decision Review'
1. Verify that the link is positioned in the lower left below the EP creation stage.
1. Verify that when y

[2017-01-30 20:10] lakohl commented on #784
screenshots and copy added above

[2017-01-30 20:24] nikitarockz commented on #769
# Sprint Planning
Add link to the VVA issue which has the links.

[2017-01-30 20:33] astewarttistatech commented on #625
Tested in UAT but format is off @mmlumba

There are no two columns for the Special Issue Categories. Please see attached image.
<img width="927" alt="screen shot 2017-01-30 at 1 15 01 pm" src="https://cloud.githubusercontent.com/assets/23038505/22440396/4bb62346-e701-11e6-86bd-7f0afae94dcc.png">

[2017-01-30 21:05] lakohl commented on #617
Newest version of the progress indicator is at the top.

[2017-01-30 23:24] joofsh commented on #733
@shanear I looked at the code, but this seems like a fine place for that code for now. Moving it anywhere else would cause another loop through the array. I think there's also value in maintaining the "original" response from BGS.  But feel free to split this out to another ticket if you disagree.

I looked at getting `EstablishClaim.jsx` under 400 lines but it did not seem feasible. Will consider

[2017-01-30 23:25] joofsh commented on #733
To QA:

This was just refactoring, w/o any real changes to functionality. Just a quick smoke test of dispatch should be sufficient

[2017-01-31 00:29] mdbenjam commented on #736
@lakohl Should this really be a table view? I'm trying to implement it now, but am running into a problem where we only have the VACOLS record associated with the Create EP Task. We don't necessarily have the records corresponding to the other decision documents. Don't we just want to present the information from the VACOLS record we have, and then let the caseworker look through the decisions to

[2017-01-31 13:44] lakohl commented on #616
@nikitarockz I updated the mock and acceptance criteria above. Could you review? thanks

[2017-01-31 13:46] lakohl commented on #616
@mdbenjam  I took out the radio buttons. Let me know if you have questions!

[2017-01-31 13:47] lakohl commented on #616
also, sorry to move things around on you! Hadn't refreshed my browser since last night and didn't see that it was in the In Progress column.

[2017-01-31 13:48] lakohl commented on #773
@shanear good point. I will sync with the design team on this issue on Thursday.

[2017-01-31 13:50] lakohl opened #788 "Clean up Dispatch Designs"
Clean up Dispatch Designs

[2017-01-31 13:53] lakohl commented on #788
closing should be in the design repo

[2017-01-31 13:53] #788 closed

[2017-01-31 14:07] astewarttistatech commented on #625
Apparently this is undergoing a redesign. @lakohl Can you confirm? If so, I will put this as blocked until this is done.

[2017-01-31 14:23] kierachell commented on #732
Will be validated by [UAT Dispatch scripts](https://github.com/department-of-veterans-affairs/appeals-qa/issues/14)

[2017-01-31 14:25] lakohl commented on #736
@mdbenjam as you said, the problem that we are trying to solve is:  we are asking the caseworker to pick the correct .pdf decision from VBMS, but in order to do that we need to surface enough information in VACOLS for them to make that call.  A table seemed the best route because there may be several issues associated with a single claim/decision, some granted some not. We are only showing informa

[2017-01-31 14:40] lakohl commented on #625
@astewarttistatech there we always supposed to be two columns for the special issue categories. (The latest design is below.) If it's possible to make two evenly spaced columns now that would be grand.  I also created another issue: #715 to clean up styling and to put the issues in alphabetical order, so we can also incorporate the 2 column task into that issue.

<img width="443" alt="screen shot

[2017-01-31 14:41] mmlumba commented on #536
I've started to have this test fail on me from time to time:
<img width="764" alt="screen shot 2017-01-31 at 9 40 19 am" src="https://cloud.githubusercontent.com/assets/4773320/22469238/4f832eea-e799-11e6-8d34-11d22ccab0d3.png">

[2017-01-31 15:23] kierachell commented on #733
Are these failures related to the refactored code:
<img width="706" alt="screen shot 2017-01-31 at 10 07 23" src="https://cloud.githubusercontent.com/assets/18075411/22471048/3763294a-e79f-11e6-90a9-5f3265fad04f.png">
<img width="713" alt="screen shot 2017-01-31 at 10 07 38" src="https://cloud.githubusercontent.com/assets/18075411/22471047/37612ad2-e79f-11e6-8860-f0ebf985dbac.png">
?

[2017-01-31 15:54] mdbenjam commented on #616
Not a problem, haven't gotten to that part yet. Still working on the tabs.

[2017-01-31 16:24] shanear commented on #580
<img width="953" alt="screen shot 2017-01-31 at 11 22 51 am" src="https://cloud.githubusercontent.com/assets/1596259/22473744/d0d1d092-e7a7-11e6-8ee5-8848ce59a792.png">

So it does reload the PDF from s3. But PDF.js thinks the pdf is corrupted. Need to look into this.

[2017-01-31 19:26] shanear opened #790 "Add Timestamp to our logs"
We need a timpstamp to be added to all of our Rails logs. Also assess whether this can be done in Caseflow Commons. If it can, do it there and update eFolder and Feedback too.

[2017-01-31 19:41] shanear opened #791 "Stats | Make room for the Dispatch stats page"
As a system administrator I want to be able to see all the business stats about how people are using Caseflow Dispatch.

## Acceptance Criteria
- Verify that the certification stats pages currently at `/stats/*` are moved to `/certification/stats/*` (so `/stats` should be moved to `/certification/stats`, and `/stats/daily` should be moved to `/certification/stats/daily`)
- Verify that `/dispatch/s

[2017-01-31 19:47] #748 closed

[2017-01-31 20:13] mdbenjam opened #793 "Fix non-deterministicly failing switch-user test"
The test: "We can switch between test EP data in dev mode" non-deterministically fails because we check the database before the webserver can respond.

[2017-01-31 20:52] astewarttistatech commented on #732
Currently, the issue persists.

When testing in UAT, Caseflow Dispatch, the scenario where a caseworker is trying to establish a partial grant on the review decision page is greeted by an error (see attached). This is after the cache has been reset. Modifier was 170, just for reference.
<img width="1130" alt="screen shot 2017-01-31 at 12 02 40 pm" src="https://cloud.githubusercontent.com/assets/23

[2017-01-31 22:10] mdbenjam commented on #536
Darn, yeah I was afraid of that when I added the test. I think I know what's going on. I made a ticket to fix it. #793

[2017-01-31 22:29] abbyraskinUSDS opened #794 "SPIKE: investigate creating EPs for deceased vets (BGS)"
Connect with BGS about opening an endpoint to create EPs for deceased veterans.

We'd like to create EPs for deceased vets and assign them to the appropriate PMC. Currently you cannot do so in VBMS, so they're created in Share.

[2017-01-31 22:40] nikitarockz commented on #625
# Updating Acceptance Criteria
Following has been AC **_removed_**
1. Verify that the following list of Special Category check boxes are displayed.
     - _Manlincon_ Compliance
     - _Rice_ Compliance
     - Education - GI Bill, dependents educational assistance, scholarship, transfer of entitlement
     - Vocational Rehab
     - Private Attorney or Agent
     - DIC - death, or accrued benefits

[2017-01-31 22:45] lakohl commented on #625
@nikitarockz I'm not sure what you mean in the comment above

[2017-01-31 23:18] kierachell commented on #732
[UAT_logs.gz](https://github.com/department-of-veterans-affairs/caseflow/files/743439/out.gz)

[2017-02-01 14:10] #762 closed

[2017-02-01 14:14] kierachell commented on #686
<img width="944" alt="screen shot 2017-02-01 at 09 09 30" src="https://cloud.githubusercontent.com/assets/18075411/22510132/c38bfd4c-e85e-11e6-9099-d080b4295817.png">
Look real bad - is css messed up or what?

[2017-02-01 15:06] kierachell commented on #686
UAT right now:
<img width="447" alt="screen shot 2017-02-01 at 10 05 19 am" src="https://cloud.githubusercontent.com/assets/18075411/22512173/17801288-e866-11e6-8b7d-e9605b480f87.png">

[2017-02-01 15:12] astewarttistatech commented on #625
Tested in UAT | Still broken :eyes:

Screenshot:
<img width="1229" alt="screen shot 2017-02-01 at 10 11 37 am" src="https://cloud.githubusercontent.com/assets/23038505/22512413/ed908c36-e866-11e6-8e5b-6db9c2671a92.png">

[2017-02-01 15:48] KHarshawat-gov commented on #641
@mmlumba

![image](https://cloud.githubusercontent.com/assets/25437276/22514016/f4956614-e86b-11e6-9029-9f830319c29a.png)

[2017-02-01 15:56] mmlumba commented on #625
@astewarttistatech The latest PR has been merged to make the special issues into two columns...please take a look.

[2017-02-01 16:32] mmlumba commented on #641
@KHarshawat What are the border radius/drop shadow specs?

[2017-02-01 16:45] lakohl opened #796 "Create EP for additional Special Issues"

[2017-02-01 17:17] astewarttistatech commented on #625
**PASSED**

Environment Tested in: UAT

Steps to Validate:
1. Log on to Caseflow Dispatch as a caseworker
2. Establish a new claim
3. Scroll down from the Review Decision page and verify that Special Issue Categories are divided into columns

Screenshots:
<img width="1289" alt="screen shot 2017-02-01 at 11 45 47 am" src="https://cloud.githubusercontent.com/assets/23038505/22517771/43e3e0b8-e878-11

[2017-02-01 18:17] KHarshawat-gov commented on #641
I would make `border-radius: 3px`
I would use the exact same `box-shadow` we used for the dropdown the other day.

[2017-02-01 18:33] nemodjuric commented on #643
@KHarshawat What is expected behavior here (if user types in invalid date and clicks 'Preview Completed Form 8')?

[2017-02-01 18:35] KHarshawat-gov commented on #643
@nemodjuric we should prevent the user from submitting and show an error on the form (the ones with the red border and red text) asking the user to enter a valid date.

[2017-02-01 18:35] KHarshawat-gov commented on #643
If no text is entered, don't show the date

[2017-02-01 18:43] joofsh commented on #723
@lakohl @abbyraskin

From Chris:

Do we need to be updating the location for VHA too? We don't currently offer that as a special issue in the dispatch UI

[2017-02-01 19:02] kierachell commented on #732
Need to update `test_data_service` to change the date for partial EP to show up 2nd in queue

[2017-02-01 20:11] shanear opened #799 "SPIKE: Can we change ROJ in VACOLS?"
Can we change the ROJ in VACOLS safely, without loosing existing data?

It seems like RO's are already doing this, so we probably should be able to.

If it's determined that we can, we should be creating a story for updating the ROJ in the case of certain special issues.

[2017-02-01 20:19] shanear opened #800 "Decision Review | Support additional special issues"
As a case worker, I want to create an EP instead of being forced to cancel out for the following Special Issues:
- Foreign Issues (non Pension)
- U.S. Territory (Philippines)
- U.S. Territory - Puerto Rico and Virgin Islands
- U.S. Territory - American Samoa, Guam, Northern Mariana Islands (Rota, Saipan & Tinian)

## Acceptance Criteria
1. Verify that when creating the EP for Full, Partial, and Re

[2017-02-01 20:19] #796 closed

[2017-02-01 20:24] shanear commented on #720
Blocked until we confirm we can add notes in BGS

[2017-02-01 20:28] joofsh opened #801 "Warm up VACOLS"
This is the resulting fix for https://github.com/department-of-veterans-affairs/appeals-deployment/issues/156

We need to add a script that warms up all the VACOLS connections. VACOLS throttles making connections to the DB, preventing our puma threads from handling requests properly until VACOLS connections have been made.

This script should check the max number of connections to the VACOLS DB, a

[2017-02-01 20:43] shanear opened #802 "Update messaging for special issues that cannot be processed"
@lakohl to provide copy and rules

current state:
<img width="1554" alt="screen shot 2017-02-01 at 3 41 37 pm" src="https://cloud.githubusercontent.com/assets/1596259/22525452/307dbe46-e895-11e6-820b-b28c7268b512.png">

[2017-02-01 20:53] shanear commented on #802
duplicate of #722 closing

[2017-02-01 20:57] shanear commented on #720
@lakohl provide UI for what happens

[2017-02-01 20:58] shanear commented on #722
@lakohl to add what is shown, and when?

[2017-02-01 21:18] shanear commented on #722
"I have sent the email" should be the button text

[2017-02-01 21:22] shanear opened #803 "Decision Review | Don't allow changing Decision Type"
As a Caseworker, I don't want to be able to update the "Decision Type" on the `Decision Review` page so that I can, instead, cancel and escalate the case when the value is incorrect since the "Decision Type" value in VACOLS can not be updated.

# Acceptance Criteria
1. Verify the _"Decision Type"_ field label has been changed to "Decision Type" instead of 'Select Decision Type'.
1. Verify the _"De

[2017-02-01 21:32] #802 closed

[2017-02-01 21:34] lakohl commented on #715
@abbyraskin could you take a look at this list of special issues and make any adjustments to the naming or add any issues I may have missed? thnx!

•	Contaminated Water at Camp LeJeune
•	DIC - death, or accrued benefits - United States
•	Education - GI Bill, dependents educational assistance, scholarship, transfer of entitlement
•	Foreign claim - compensation claims, dual claims, appeals
•	Foreign

[2017-02-01 21:36] lakohl commented on #800
Foreign Issues (non Pension) - Pittsburg RO
U.S. Territory (Phillipines) - Manila RO
U.S. Territory claim - Puerto Rico and Virgin Islands - San Juan RO
U.S. Territory claim - American Samoa, Guam, Northern Mariana Islands (Rota, Saipan & Tinian) Honolulu, RO

[2017-02-01 22:00] abbyraskin commented on #715
@lakohl I added in Manila (these are all handled by Manila RO) and a little styling - as I'm comparing to the worksheets they use today, they have a decent amount more keywords provided to them. I think we can start light with this list and see if we need to add more context for any of the issues.

[2017-02-02 02:28] kierachell commented on #536
added a small PR:
Adjusted the reader test;
Apparently `google-analytics` was not disabled fully, so sometimes the tests would fail because they couldn't reach Google...yeah
Removed a couple of random warnings that are obnoxious

There is a pending test and no one is owning up to it. Want me to delete it or what's up?

[2017-02-02 02:30] kierachell commented on #734
[generated issues for QA](https://github.com/department-of-veterans-affairs/appeals-qa/issues/32)

[2017-02-02 02:30] #734 closed

[2017-02-02 03:00] joofsh commented on #536
@kierachell You can look through git history to see who added (or in this case skipped) a test. I commented out because it did not make sense with the existing codebase, but will be a feature we reintroduce in the near future

[2017-02-02 14:13] lakohl commented on #799
@shanear from a UX perspective we def can do this. We need to figure out the technical feasibility. Assigning this to you.

[2017-02-02 14:17] lakohl commented on #722
@shanear when we talked yesterday I completely forgot that Abby had another - good idea for handling this. Same functionality, but instead of asking the user to email the RO, in the cases where we create and EP we would ask the user to go into VBMS and manually add a BGS note. This would get them in the habit of using the BGS notes for transferring Full Grants and would give us more of a trail. Ev

[2017-02-02 15:32] cmgiven commented on #791
Here's the initial list. Next step is to write up the details for each.

**Tasks Identified** (blue)
All Decisions
Full Grants
Partials/Remands

**Activity** (blue)
Active Users
Tasks Started
Tasks Completed

**Completion Rate** (blue)
All Decisions
Full Grants
Partials/Remands

**Time to Claim Establishment** (green)
All Decisions (median/95th percentile)
Full Grants (median/95th percentile)
Part

[2017-02-02 16:12] lakohl commented on #712
@shanear @nikitarockz this is ready to go

[2017-02-02 16:17] lakohl commented on #723
@joofsh It's somewhat confusing bc VACOLS has two locations one for VAMC (VA Medical Care) and one for VHA so we are trying to figure out which one we should send medical claims to. @abbyraskin and I have this on our list to answer in our mtg with AMC tomorrow.

[2017-02-02 16:54] lakohl commented on #803
@nikitarockz @shanear this is ready

[2017-02-02 17:02] lakohl commented on #715
@abbyraskin Do you think we should say 'Select a Special Issue Category' or 'Select Special Issue Categories'?

[2017-02-02 17:08] lakohl opened #806 "Change Design & Research Labels use the same colors and naming convention as Caseflow"
Change Design & Research Labels to mimick the colors and naming convention of Caseflow labels

[2017-02-02 17:10] abbyraskin commented on #715
How about **Select any special issue(s) contained in this appeal:** otherwise i'd just say **Select Special Issue(s):**

Also, should we add Other as an explicit option? I was thinking it might be useful in figuring out anything we're explicitly missing (and in case their "why are you canceling" reason isn't clear enough).

[2017-02-02 18:15] cmgiven commented on #791
Full grant —We'd want to use  `appeal.full_grant?` for this, but that's currently subject to a problem in that it uses the status of the case to determine. This works at the moment it is being dispatched, but after a remand is worked, it will be placed in `HIS` status and be marked as a full grant. We need to replace this method to instead use a count of the issues on the case. If the number of is

[2017-02-02 19:30] amprokop commented on #650
@shanear — can we hold on this task? we're talking to leadership about removing the form8 tomorrow and on tuesday, so we might never need to convert it

[2017-02-02 19:33] amprokop commented on #759
This task may be outdated. @askldjd, do we still want to do this? Perhaps it would be better to monitor db connections?

[2017-02-02 20:42] abbyraskin commented on #800
https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Projects/Dispatch/Routing%20EPs/Special%20Issue%20Routing%20Table.md

[2017-02-02 21:32] shanear commented on #650
For sure. Lets wait on this until the Form 8 settles down.

[2017-02-02 21:38] shanear opened #810 "Integration bug with Admin Establish Claim"
Trying to create an end product task manually on `admin/establish_claim` causes a 500 because the integration code isn't quite correct.

[2017-02-02 21:44] shanear opened #811 "Decision Review | Create End Product.. | Save selected Special Issues for an unsupported Special Issue Cancellation"
As a Product Owner, I want to be able to see which special issues an appeal had when it was cancelled so that I will be able to monitor the frequency of special issues related to cancelled claims establishments.

# Acceptance Criteria
1. Verify that when a claims establishment is cancelled via the unsupported special issue screen (shown below), all checked special issues are saved to the database

[2017-02-02 23:27] astewarttistatech commented on #810
@shanear I don't know if your description is for UAT or for the Dev environment. Also I don't know if that's what should be happening or what shouldn't be happening.

[2017-02-02 23:29] astewarttistatech commented on #810
Currently in UAT:

A 404 error is thrown back when visiting /admin/establish_claim page for caseflow.

<img width="1351" alt="screen shot 2017-02-02 at 6 28 17 pm" src="https://cloud.githubusercontent.com/assets/23038505/22573119/714d92e4-e975-11e6-89a8-cfe9f4b9ae51.png">

[2017-02-02 23:43] astewarttistatech commented on #735
Dispatch was down on and off today, so unable to validate.

[2017-02-02 23:45] astewarttistatech commented on #757
Dispatch was up and down today, was unable to verify.

[2017-02-03 01:16] #733 closed

[2017-02-03 14:00] kierachell commented on #551
Confirmed that column exists.

[2017-02-03 14:00] shanear commented on #810
@astewarttistatech your screenshot shows `admin/establish-claim` not `admin/establish_claim`

[2017-02-03 14:00] #551 closed

[2017-02-03 14:10] shanear opened #814 "Feature toggle for turning Task creation on for just Full Grants (and all decisions)"
As a developer, I want to be able to turn on the automated job for processing all full grant decisions while leaving partial grants & remands disabled

I'll leave the mechanism up to yall. We just need to be able to turn this on sometime on or before the weekend of Feb 24, when the full grant launch goes live.

[2017-02-03 15:10] nikitarockz commented on #580
@shanear Is this issue going to be worked?  It is a fix for a support ticket.

[2017-02-03 15:13] shanear commented on #715
@lakohl Can you add a mock for where the 'Describe the Special Issue' field should go and what it should look like?

[2017-02-03 15:24] aroltsch commented on #580
@shanear to troubleshoot, I can try setting up S3 access on my local machine and use the actual s3_service instead of the fake one.

[2017-02-03 15:25] shanear opened #817 "Consolidate test data links onto one page"
Right now the test data setup links show up on actual screens. This makes the code for these screens messy (because test code is scattered inside of them), and it also makes it so we are unable to see the screens as end users would see them (because there are links there that would be hidden to test users).

We should move all these links to one page in `test/setup_controller`, and only show that

[2017-02-03 15:36] lakohl commented on #715
@shanear see above. Sorry I thought I'd already done that. Must have forgotten to hit the Comment button.

[2017-02-03 15:51] shanear commented on #715
@lakohl also, what does this mean?

I assume if they click other, then we should automatically force it to be cancelled.

[2017-02-03 16:06] astewarttistatech commented on #810
**Failed**

@shanear Your description is still unclear, I don't know if I am supposed to be looking for that error or not. Pushing back to "Current Sprint" until description is clarified.

Screenshots:

<img width="1366" alt="screen shot 2017-02-03 at 11 03 55 am" src="https://cloud.githubusercontent.com/assets/23038505/22598271/dea8146e-ea00-11e6-8a5e-21fcc7c4d5b2.png">

[2017-02-03 16:12] joofsh commented on #810
@astewarttistatech Maybe I can help.

Currently when you load that page, you see "No existing tasks". We want to verify you _can_ add a real task.

Steps:
-  Find a valid UAT vbms_id that has a decision uploaded. Can maybe ask Artem for help on a valid user in this scneario
- Enter that vbms id in the field & click create
- Verify the page reloads and you now see that task in the "Existing Tasks"

[2017-02-03 16:20] astewarttistatech commented on #750
**PASSED**

Environment Validated In: UAT

Steps to Validate:
1. Go to https://certification.cf.uat.ds.va.gov/certifications/new/2765748
2. Fill in all the required fields w/ white space.
3. Try to submit Form 8
4. Validate that Form 8 reloads with error messages prompting the user to fill in the fields with actual text.

Screenshots:
<img width="1311" alt="screen shot 2017-02-03 at 11 18 55 am" s

[2017-02-03 16:20] #750 closed

[2017-02-03 16:45] shanear commented on #810
@astewarttistatech Sorry, this was a quick issue to solve a minor integration issue, I will take care of validating.

[2017-02-03 16:47] joofsh commented on #723
@kierachell This PR made some changes to the establish claim integration code. It would be good if your integration scripts could verify everything still works. thank you!

[2017-02-03 16:54] lakohl commented on #715
@shanear Sorry for the back and forth. Abby and I just spoke and we decided to take out Other for now.

[2017-02-03 17:02] lakohl commented on #715
@shanear it's ready to go now!

[2017-02-03 18:27] shanear opened #819 "Dispatch Stats | Display stats charts"
As a system administrator I want to be able to see all the business stats about how people are using Caseflow Dispatch.

## Acceptance Criteria
1. Verify that there are bar charts in the style of the certification stats page for the following categories and metrics. The bars on the chart should match the color specified below for that category.
[code]

2. Verify that for each statistic, for each t

[2017-02-03 19:21] kierachell commented on #723
Can't validate no `UAT` test data to work with in Dispatch

[2017-02-03 19:28] shanear commented on #810
<img width="1554" alt="screen shot 2017-02-03 at 2 27 37 pm" src="https://cloud.githubusercontent.com/assets/1596259/22605227/eff14a12-ea1c-11e6-96cb-c2d42c3a14e5.png">
Confirmed this works on preprod. Closing.

[2017-02-03 19:28] #810 closed

[2017-02-03 19:32] kierachell opened #821 "Form 8 | Incorrect Completion directions"
# Description
At the top of the `Form 8` page in the instructions, there is a statement that says click **continue** button, which does not exist.  The instructions should say click **_Preview Completed Form 8_**.

**Environment:**
- [x] Production
- [x] UAT
- [x] Demo
- [ ] Development

**Type of Bug:**
- [ ] Performance
- [x] Design
- [ ] Security
- [ ] Functional

**Severity Level:**
- [ ]    5

[2017-02-03 19:34] shanear commented on #784
@lakohl Certification will also have a progress bar added, and they aren't quite the same style. Want to sync up with @shellicious and get a consistent style?

[2017-02-03 19:44] nikitarockz commented on #677
Please provide the following:

-	Implementation plan
-	Test Plans
-	Test Results
-	Back-out plan

Note:  The attached document is a page from the SIPT slides that has information.
[CO Requests.pptx](https://github.com/department-of-veterans-affairs/caseflow/files/751409/CO.Requests.pptx)

[2017-02-03 20:11] mmlumba commented on #774
@Chingujo @KHarshawat-gov I'm ready to tackle creating the layout of the style guide. Let's sync sometime on what the style guide should look like.

[2017-02-06 14:45] astewarttistatech opened #825 "Caseworker | Reset Test Data Failure/Time Out"
**Description**

When Dispatch is accessed by a caseworker in UAT, there are no claims to establish. When the caseworker clicks the link to reset the claims, the page goes blank. This seems to be caused by duplicate test data in VACOLS.

Link to error log: https://dsva.slack.com/files/kierachell/F40PS2V88/duplicatevacolsdata.txt

**Expected**
1.There are no duplicates of test data in VACOLS
2. A c

[2017-02-06 14:51] cmgiven opened #826 "Time to Certify stats should use created_at time"
When we updated stats to account for the form_8_started_at timestamp not being logged for cases with missing documents (#342) we neglected to update the Time to Certify stats, which attempt to differentiate between the total time to certify cases with and without missing documents. Although cases are correctly grouped, the time tracking needs to use the date the case was first accessed.

[2017-02-06 15:40] Chingujo commented on #774
@KHarshawat @mmlumba

Sent a meeting invite for tomorrow (February 7 2016) at 10:00 am to discuss layout and other related issues.

[2017-02-06 16:43] #721 closed

[2017-02-06 16:45] joofsh commented on #766
See https://github.com/department-of-veterans-affairs/dsva-vbms/issues/68 for more details

[2017-02-06 18:02] #826 closed

[2017-02-06 18:47] #801 closed

[2017-02-06 19:15] astewarttistatech commented on #719
@joofsh Can you take a look at this again?

When signed-out of caseflow and cookies cleared, I tried to access Dispatch (https://certification.cf.uat.ds.va.gov/dispatch/), logged in and was taken to the unauthorized page.

Screenshots:
<img width="1372" alt="screen shot 2017-02-06 at 2 13 26 pm" src="https://cloud.githubusercontent.com/assets/23038505/22662341/9ed98c96-ec76-11e6-81b3-65b12908f88c.

[2017-02-06 20:34] mmlumba commented on #774
Styleguide Mockup:
![caseflow commons example](https://cloud.githubusercontent.com/assets/4773320/22665180/c7e56988-ec81-11e6-991d-d670a27a2e96.png)

[2017-02-06 22:09] lakohl opened #833 "Update modal copy for Special Issues not handled by AMR"
Update modal copy for Special Issues not handled by ARC.

When a user selects a Special Issue not currently supported by Caseflow Dispatch, (no matter the type of grant) verify that when they select the 'Create End Product' button, the following modal shows:

<img width="734" alt="screen shot 2017-02-06 at 4 40 28 pm" src="https://cloud.githubusercontent.com/assets/4975959/22668617/578804c6-ec8f-1

[2017-02-06 22:14] lakohl commented on #833
@abbyraskin this modal would address Special Issues that we will cancel out of during the first month. Could you take a look at the copy?

[2017-02-06 22:38] lakohl commented on #833
@abbyraskin assigning this to you to give another pair of eyes to copy.

[2017-02-06 23:55] joofsh commented on #719
@astewarttistatech This happens because we do special magic with System Admins (where you can switch your "functions"). When you initially login, you start with zero functions and have to add them through the functions page first.

Unfortunately I don't think there's an easy way to test this w/o a user that specifically has the "Establish Claim" role.

@shanear Probably a dumb question, but is the

[2017-02-07 00:17] lakohl commented on #800
@shanear this turned out to be more like an epic, but it's ready to go. Assigning it to you.
@nikitarockz  feel free to reword AC

[2017-02-07 00:20] lakohl commented on #800
Diary note from: https://github.com/department-of-veterans-affairs/caseflow/issues/720

[2017-02-07 00:22] lakohl commented on #722
@shanear I'm still working on this, but it's now less of a priority than https://github.com/department-of-veterans-affairs/caseflow/issues/833

[2017-02-07 00:39] lakohl commented on #712
@nikitarockz @shanear I changed the logic on this as the user has the right to change their mind. That being the case, I'm not sure we actually need this issue, but may be useful to clarify the action.

[2017-02-07 13:25] astewarttistatech commented on #616
Current view in UAT:

<img width="1374" alt="screen shot 2017-02-07 at 8 21 47 am" src="https://cloud.githubusercontent.com/assets/23038505/22692859/d88242c4-ed0e-11e6-8a67-ac1773cf9346.png">

@mdbenjam please revisit this issue

[2017-02-07 13:39] astewarttistatech commented on #735
Current View:
<img width="1374" alt="screen shot 2017-02-07 at 8 21 47 am" src="https://cloud.githubusercontent.com/assets/23038505/22693341/df645b16-ed10-11e6-9273-7fb3fa35d4af.png">

Either there aren't enough EPs or whatever change was made is not implemented. Please take another look @mdbenjam

Moving back to In Progress

[2017-02-07 13:45] kierachell commented on #758
<img width="1251" alt="screen shot 2017-02-07 at 08 44 32" src="https://cloud.githubusercontent.com/assets/18075411/22693568/c96a6908-ed11-11e6-812a-887997961713.png">
<img width="1298" alt="screen shot 2017-02-07 at 08 44 57" src="https://cloud.githubusercontent.com/assets/18075411/22693569/c96f7dee-ed11-11e6-9c7b-afd02d82d80c.png">
👍

[2017-02-07 13:45] astewarttistatech commented on #757
**PASSED**

Steps to Validate:
1. Go to Dispatch as a caseworker and try to establish a claim
2. Verify on the Decision document page that "Contaminated Water at Camp Lejeune" is one of the Special Issue Categories

Screenshot:
<img width="1347" alt="screen shot 2017-02-07 at 8 36 32 am" src="https://cloud.githubusercontent.com/assets/23038505/22693570/ca31db32-ed11-11e6-8895-5139c5c9d700.png">

[2017-02-07 13:45] #758 closed

[2017-02-07 13:45] #757 closed

[2017-02-07 13:48] astewarttistatech commented on #723
Can't validate in VACOLS as of yet, passing this off to @shanear

[2017-02-07 13:59] shanear opened #834 "Update layout for missing documents page"
As a user, when the appeal I am certifying is missing required documents, I want the information to be presented to me in a way that I can better understand what's going on and take the appropriate action.

## Acceptance Criteria
- Verify that the title of the page is "Check Documents" instead of "Find Missing Documents"
- Verify that the error alert is moved inside of the white content panel, and

[2017-02-07 14:00] shanear opened #835 "App Canvas | Header | Add Progress Indicator"
As an RO Caseworker, I want to be able to see where I am in the process of certifying an appeal via a progress bar that shows the major steps (1. Check Documents, 2. Confirm Claim Details, 3. Sign & Certify) so that I know where I am at all times and understand how much more work I still need to do.

# Acceptance Criteria
1. Verify that the Progress Indicator has the following 3 steps (refer to ):

[2017-02-07 14:04] astewarttistatech commented on #408
Current View:

<img width="1293" alt="screen shot 2017-02-07 at 9 01 31 am" src="https://cloud.githubusercontent.com/assets/23038505/22694211/4951a04e-ed14-11e6-81d1-7af071864356.png">

There is no "View Dashboard" button, as pictured, as that part of this issue's scope? @lakohl

[2017-02-07 14:34] abbyraskin commented on #833
I'm struggling to think of a better word than "cancel" here...in our initial rounds of usability testing it was perceived as a bit loaded, particularly in the context of canceling a claim.

I'm still a little concerned they won't actually realize what's going on here (i.e., they'll think they're canceling an EP, or not realize what it means to process a claim manually), but with most of these more

[2017-02-07 14:35] abbyraskin commented on #833
i'll try to keep my feedback less long-winded/roundabout next time :-)

[2017-02-07 15:12] kierachell commented on #732
Works manually 👍
now time to setup tests!

[2017-02-07 15:12] #732 closed

[2017-02-07 15:15] mmlumba commented on #774
@KHarshawat @shanear Were you thinking this would be one long page controlled with anchors, or have everything split up into pages like standards.usa.gov?

[2017-02-07 15:19] kierachell commented on #723
Also, any attempt to create an EP with SIC set to _VAMC_ or _National Cemetery Association_ creates a _Cancellation_ modal, no location will be set anyway.
<img width="969" alt="screen shot 2017-02-07 at 10 18 02" src="https://cloud.githubusercontent.com/assets/18075411/22697240/e4a9c9ea-ed1e-11e6-9a5a-00c532a831e6.png">
<img width="947" alt="screen shot 2017-02-07 at 10 18 08" src="https://cloud.

[2017-02-07 15:53] lakohl commented on #774
I would put Modals on one page and messages on another, each accessible from the left nav.

[2017-02-07 15:59] shanear opened #836 "Feature flag system for specific Regional Offices"
As a developer, I want to be able to turn on features only for users of specific ROs.

This feature is open ended and the mechanism with which we turn on and off RO's access to features can be discussed by the engineers as part of this issue.

## Notes
- This will be an internal feature and unable to be verified until we utilize it.
- Tech Talk:  @kierachell
The basis for this is what's called "A/

[2017-02-07 16:26] shanear commented on #580
Yeah, I'm going to try and have it figured out by the end of the week

[2017-02-07 16:51] mdbenjam commented on #536
Just saw a new one:

![screen shot 2017-02-07 at 11 51 31 am](https://cloud.githubusercontent.com/assets/3885236/22701507/ce48b744-ed2b-11e6-9f9c-986e06d528a6.png)

[2017-02-07 17:28] shanear commented on #719
@joofsh Yeah, I usually email Raul (Saldivar, Raul E., OEDAUSTIN <Raul.Saldivar@va.gov>)

[2017-02-07 17:33] shanear commented on #712
@lakohl There are technical limitations to a user changing their mind while the EP is being assigned. Clicking multiple buttons could cause erratic behavior in the app. That's why I created this issue.

[2017-02-07 17:40] shanear commented on #774
I'm thinking it's easiest to keep it all on one page, but I'm cool with whatever

[2017-02-07 18:20] shanear commented on #614
There are some pretty intense technical limitations to doing that. We should just shorten the character limits to where this is impossible.

[2017-02-07 18:28] sharonwarner opened #841 "Admin Create Task Bug"
Admins should be able to create tasks that go straight to the 'unassigned' state.

[2017-02-07 18:46] kierachell commented on #686
<img width="795" alt="screen shot 2017-02-07 at 13 43 23" src="https://cloud.githubusercontent.com/assets/18075411/22706059/dd15467e-ed3b-11e6-8293-8420b6706431.png">

AMAZING STYLING
5 OUT OF 7
WOULD RECOMMEND

[2017-02-07 18:47] #686 closed

[2017-02-07 19:01] #841 closed

[2017-02-07 19:15] shanear commented on #742
![Uploading Screen Shot 2017-02-07 at 2.14.39 PM.png…]()

This was done as a part of another issue. Closing.

[2017-02-07 19:15] #742 closed

[2017-02-07 19:45] kierachell commented on #716
<img width="981" alt="screen shot 2017-02-07 at 13 49 00" src="https://cloud.githubusercontent.com/assets/18075411/22708372/05eb35e2-ed44-11e6-9cbf-394a52b91595.png">
<img width="1273" alt="screen shot 2017-02-07 at 13 50 13" src="https://cloud.githubusercontent.com/assets/18075411/22708371/05e89c56-ed44-11e6-9dfe-15f221136226.png">
👎

[2017-02-07 19:48] shanear commented on #580
confirmed the storage in S3 is busted

[code]

[2017-02-07 19:48] kierachell commented on #637
Need to see if we have appropriate test data to validate this in `uat`

[2017-02-07 19:50] kierachell commented on #736
Need claims with multiple documents to test this in `uat`

[2017-02-07 19:52] shanear commented on #716
Yep, I noticed this too. A pretty high priority to fix since we can't really deploy until we do. @mdbenjam