[2017-05-04 14:42] abbyraskin commented on #1573
FYI @gnakm moved the comment error handling here: https://github.com/department-of-veterans-affairs/caseflow/issues/1854

[2017-05-04 14:47] joofsh commented on #1820
To QA:
- Go to `/sidekiq` in your environment
- You should get asked for basic authentication. The login info for uat, preprod, and prod are in 1Password
- Once authed, you should see the Sidekiq UI, with information all our jobs, crons, and when they were last run

[2017-05-04 14:50] abbyraskin commented on #1831
@joofsh here are the IDs we have so far, will try to figure out the rest:

![image](https://cloud.githubusercontent.com/assets/4042181/25709474/7628bc4c-30b7-11e7-8d38-be4fa275417d.png)

[2017-05-04 14:50] askldjd commented on #1814
Only 2 jobs ran on May 4th.

Looks like CreateEstablishClaimTasksJob didn't run.
[code]

[2017-05-04 14:56] Sjones352 commented on #1677
### Screenshot
<img width="766" alt="screen shot 2017-05-04 at 10 54 59 am" src="https://cloud.githubusercontent.com/assets/23080951/25709751/299f950c-30b8-11e7-8505-73881e55cef9.png">

<img width="1275" alt="screen shot 2017-05-04 at 10 43 51 am" src="https://cloud.githubusercontent.com/assets/23080951/25709724/159c33d0-30b8-11e7-8705-2b23fa6e39bc.png">

[2017-05-04 15:00] joofsh commented on #1831
@abbyraskin awesome thanks abby! After today's prod deploy (~3pm) I will whitelist those 14 users. We'll have to whitelist the rest as they login to our system. It might be helpful to ask all pilot users to login now so that we can catch their css ids?

[2017-05-04 15:01] kierachell commented on #1566
**PASSED**
<img width="690" alt="screen shot 2017-05-04 at 11 01 06 am" src="https://cloud.githubusercontent.com/assets/18075411/25710019/fc3c2b6a-30b8-11e7-9774-f463019a0e05.png">

[2017-05-04 15:01] #1566 closed

[2017-05-04 15:03] abbyraskin commented on #1831
OK! that's everyone with Reader access so far, so I don't think anyone else can log in.

[2017-05-04 15:23] astewarttistatech commented on #1518
**PASSED**

Validated in: Preprod
Browsers: FF and Chrome

Steps to Validate:
1. Access a document in reader over 10 pages
2. Scroll rapidly through the pages and see that the pages after the first 5 are not rendered.
3. At the end of your scrolling verify that the pages render

Screenshots:
![readerscroll](https://cloud.githubusercontent.com/assets/23038505/25711105/1d29f58e-30bc-11e7-8810-b88df2

[2017-05-04 15:27] #1518 closed

[2017-05-04 15:47] mmlumba opened #1863 "Add new CSS from Caseflow repo into commons"
Since starting the style guide, it was agreed upon that new styles will be added to new/existing UI components first in the main Caseflow repo before being merged into commons. Many more components have been added in the Style Guide and the Caseflow apps since then, so now its time to go through all the style sheets and add all the reusable parts to commons.

[2017-05-04 15:58] abbyraskin commented on #1831
@joofsh the folks we are missing are actually supervisors who haven't actually been active participants in the pilot -- will remove their names from above list in description.

[2017-05-04 16:03] NickHeiner commented on #1790
@mdbenjam I don't totally understand what the problem is here. Can we chat about this?

[2017-05-04 16:50] slj commented on #1659
Sentry reported this issue again on 5/4/2017 at 7:16am

[2017-05-04 17:02] slj opened #1864 "Certification: DB operation violates index_appeals_on_vacols_id constraint"
Sentry: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/186/

<img width="627" alt="screen shot 2017-05-04 at 12 57 39 pm" src="https://cloud.githubusercontent.com/assets/1053255/25715413/5dc9b1c6-30c9-11e7-9b6c-defda82e41ce.png">

[2017-05-04 17:05] slj opened #1865 "Certification: DB operation violates index_document_views_on_document_id_and_user_id constraint"
Sentry: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/180/

<img width="627" alt="screen shot 2017-05-04 at 1 03 32 pm" src="https://cloud.githubusercontent.com/assets/1053255/25715634/26fe6c62-30ca-11e7-9cee-dd602742649f.png">

[2017-05-04 17:10] slj opened #1866 "Dispatch: getting stale object error while establishing claim"
Sentry: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/162/

<img width="636" alt="screen shot 2017-05-04 at 1 07 45 pm" src="https://cloud.githubusercontent.com/assets/1053255/25715862/00c0794a-30cb-11e7-88bb-d99eee0f4792.png">

[2017-05-04 17:25] mdbenjam commented on #1790
Updated the above description, let me know if it still doesn't make sense.

[2017-05-04 17:33] mdbenjam commented on #1865
This is a Reader error. Putting the corresponding labels on it.

[2017-05-04 17:42] mdbenjam opened #1867 "Redis | Isolate namespaces in test mode"
We currently don't isolate our namespaces which can result in tests affecting one another. For example in metric_service_spec we set a value in the request store that can be overwritten by another test when run in parallel.

When this is fixed reenable the skipped test and remove the :nocov: in metrics_service_spec.rb.

[2017-05-04 18:20] lakohl opened #1868 "Review Decision | Handle Substitute Claims"
Claim Assistants would like to be able to send Substitute Claims to the right station for processing. Currently Substitute Claims decisions involving pension benefits are sent to PMC, but they should be routed to the ROJ Instead.

## AC

1. On the Review Decision page, **add a new special issue and checkbox** for 'Substitute Claims' below 'Spina Bifidia' and above 'U.S. Territory claim - American

[2017-05-04 19:59] kierachell commented on #1775
Yeah, I have an action item to use IE for some tests; so this is fine to close now

[2017-05-04 19:59] #1775 closed

[2017-05-04 20:03] kierachell opened #1872 "Sign and Certify | 500 Errors displayed incorrectly"
# Description
When there is an error during a VBMS/VACOLS or any other network request that causes a code 500 page to show up. It does not look like a normal Caseflow error page.

@shellicious what should it look like?

## Reproduction Steps

**Scenario 1 -**

1. Go to Certification v2
1. Cause error
1. See lame looking 500 error page
**Validated in the following Envrionment(s)**
- [ ] Dev
- [ ] U

[2017-05-04 21:02] slj opened #1873 "BGS Requests getting 500 Response"
Sentry: https://sentry.ds.va.gov/department-of-veterans-affairs/efolder/issues/187/

[2017-05-04 21:05] slj commented on #1638
Revised stats:
![dispatch_stats](https://cloud.githubusercontent.com/assets/1053255/25724953/c9bd2698-30eb-11e7-8e2a-09a893421b2b.gif)

[2017-05-04 21:05] gnakm opened #1875 "Document Viewer | Issue tags textbox size"
When I type in super duper long issues, the text box expands

## AC
- [ ] Validate that the text box width is fixed to the default size
- [ ] Validate that when the issue text gets very long, the text falls on the next rows fits within the width of the text box width

## Mockups
_**Current**_
![stutter](https://cloud.githubusercontent.com/assets/18075411/25508170/3b9387d0-2b7e-11e7-84df-515a161b45

[2017-05-04 21:05] gnakm commented on #1767
@kierachell I'm writing out a separate issue for the text box part of this issue here #1875

[2017-05-04 21:06] slj commented on #1873
According to @askldjd eFolder is down - he reached out to the BGS POC but hasn't gotten a response yet.

[2017-05-04 21:15] slj commented on #1873
Refiled at https://github.com/department-of-veterans-affairs/appeals-deployment/issues/600

[2017-05-04 21:15] #1873 closed

[2017-05-04 23:52] Sjones352 commented on #1089
**Actions Section**
<img width="790" alt="screen shot 2017-05-04 at 7 32 53 pm" src="https://cloud.githubusercontent.com/assets/23080951/25729308/8b0ccce8-3102-11e7-86d3-1bd929b4e157.png">
**Margin-Right For Cancel button**
<img width="1244" alt="screen shot 2017-05-04 at 7 34 26 pm" src="https://cloud.githubusercontent.com/assets/23080951/25729330/af0e6fde-3102-11e7-8bfa-2f3bc1eb242d.png">
**Marg

[2017-05-05 01:57] amprokop commented on #1872
Yep, we have a story for this!

[2017-05-05 03:20] mdbenjam opened #1877 "Comments | On the edge of a page can behave strangely"
Placing comments on the edge of a page can result on them hanging off the edge, and sometimes changing where the blue outline appears.

See Appeal: 1499662 on Preprod

![](https://cloud.githubusercontent.com/assets/18075411/25507548/aa975e08-2b7a-11e7-864f-ff4bef95edff.gif)

[2017-05-05 03:22] mdbenjam commented on #1713
I think this is a bug outside of the scope of this ticket. I made #1877 to track it. Moving it back to in validation.

[2017-05-05 03:25] mdbenjam commented on #1470
@kierachell What entries should have been shown for the Evidence search? I just tried partial searching and it worked fine. And as Abby said, there is no alert for searching.

[2017-05-05 13:14] kierachell commented on #1841
**PASSED**
Went to Styleguide...didn't see errors

[2017-05-05 13:14] #1841 closed

[2017-05-05 13:24] kierachell commented on #1840
**PASSED**
Didn't see that one either.

[2017-05-05 13:24] #1840 closed

[2017-05-05 13:47] kierachell commented on #1767
**PASSED**
whitespace issue fixed, there rest is captured
![whitespacetags](https://cloud.githubusercontent.com/assets/18075411/25748080/dc787c88-3177-11e7-9f12-1b33d1ff8da2.gif)

[2017-05-05 13:47] #1767 closed

[2017-05-05 14:51] kierachell commented on #1713
**PASSED**
<img width="938" alt="screen shot 2017-05-05 at 10 50 28 am" src="https://cloud.githubusercontent.com/assets/18075411/25750765/b7bf1cc2-3180-11e7-9197-6bdef42f84ea.png">
![Uploading Screen Shot 2017-05-05 at 10.50.49 AM.png…]()

[2017-05-05 14:51] #1713 closed

[2017-05-05 14:58] joofsh opened #1881 "Create integration with VACOLS for hearing data"
Create integration for retrieving hearings records from VACOLS.  Sync with Chris on translating the columns & values to human-friendly form

Technical Notes:
- `hearsched` table in VACOLS

[2017-05-05 15:03] joofsh opened #1882 "Organize hearing records by Docket day"
On the backend, create a Docket model. Associate hearings with a Docket by their assigned date & judge.

Technical Notes:
- Dockets should be scoped to judge & date
- Should include a `to_hash` method for returning backend information to frontend

[2017-05-05 15:04] kierachell commented on #1514
**PASSED**
stuff is still being clicked 👍

[2017-05-05 15:04] #1514 closed

[2017-05-05 15:08] astewarttistatech commented on #1677
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Go to the living style guide and navigate to the Layout section
2. In inspector verify the sizing and padding of the section
3. Verify the text under says "App Canvas".

Screenshots:
<img width="1206" alt="screen shot 2017-05-05 at 11 04 36 am" src="https://cloud.githubusercontent.com/assets/23038505/25751407/e3bc5946-318

[2017-05-05 15:08] #1677 closed

[2017-05-05 15:09] joofsh opened #1883 "Create Judge Schedule page"
- Create a new page at `/hearings/dockets`

Technical Notes:
- Page should be created with React, follow example from Certification V2 for how to set up new page
- The route `/hearings/dockets` will already exist
- The ERB template in `/app/views/hearings/dockets` will already have the data populated
- `slot` and `start time` should be hardcoded for now. They will be updated in future tickets
- `V

[2017-05-05 15:35] kierachell commented on #1795
**PASSED**
all deploys are working

[2017-05-05 15:35] #1795 closed

[2017-05-05 15:42] gnakm commented on #1851
I think the USWDS blue is good

![image](https://cloud.githubusercontent.com/assets/13420618/25752935/d115c214-3187-11e7-97ce-2c2de3db6bc1.png)

[2017-05-05 15:46] gnakm commented on #1851
@abbyraskin
I just added in the AC. I think we should just stick with default focus from USWDS

[2017-05-05 16:00] kierachell commented on #1167
### The font sizes for the "cases completed today" are off
<img width="968" alt="screen shot 2017-05-05 at 11 55 31 am" src="https://cloud.githubusercontent.com/assets/18075411/25753580/195083aa-318a-11e7-8fe0-0a43fef10cf7.png">

### Update button is misaligned with the textbox and text
<img width="698" alt="screen shot 2017-05-05 at 11 55 20 am" src="https://cloud.githubusercontent.com/assets/180

[2017-05-05 16:01] gnakm opened #1884 "Document Viewer | Ability to change page in document"
**Story**

As a user, I want the ability to skip to a specific page without having to scroll through the document.

## AC
- Verify that there is box where a user can adjust the page number they want to be in
- Verify that if a user enters a valid page number, then presses enter/return on keyboard, they are navigated to the page they specified
- Verify that if a user enters an invalid page number (

[2017-05-05 16:29] nemodjuric opened #1885 "Hookup certificationId to Redux store in Certification V2 [1]"
Make sure certificationId is connected to Redux store and it should be refactored on all pages/components that use this property .
To verify - make sure cancelling certification at any point is successful.

[2017-05-05 16:37] kierachell opened #1886 "Prepare Tasks Job | Checking for `nil` disposition or changes to issues before assigning task"
Currently we are not checking for `nil` disposition for prepared tasks after the job runs:
from prod:
[code]

So it causes errors in some cases and blocks users from progressing.

## Sentry:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/190/

## Reasons
It is also possible for issues to change between the time of task preparation and Dispatch workers getting

[2017-05-05 17:21] askldjd commented on #1732
So I pinged Honolulu RO for clarification on this matter.

The receipt_date in VBMS is actually the date the letter was prepared and uploaded to VBMS. However, the date _printed_ on the letter itself is actually the next business day. The date on the letter is what VACOLS stores in its database.

This is why Caseflow will see a date mismatch between VBMS and VACOLS.

[2017-05-05 17:23] joofsh commented on #1525
Spoke with @lakohl and it looks like this has been addressed. Closing

[2017-05-05 17:23] #1525 closed

[2017-05-05 17:28] cmgiven commented on #1732
What is the logic behind the date printed on the letter? And is there any reason why the VBMS date doesn't use that date?

Keeping in mind that we are able to certify most appeals, trying to figure out whether this issue is specific to Honolulu and how they do things.

[2017-05-05 17:34] askldjd commented on #1732
From Honolulu RO

[2017-05-05 17:38] cmgiven commented on #1732
Gotcha. So this is just outbound (SOC, SSOC).

And why can't they use the same date in VBMS?

[2017-05-05 17:39] cmgiven commented on #1732
Oh, right, because it's in the future.

[2017-05-05 17:39] askldjd commented on #1732
More Update:

The system they use to generate letters is called ADL. ADL defaults the letter to the next business day. The RO is not sure if the date configuration can be changed.

In the older system that generate letters for older cases, they use a system called MAP-D. This system allows the date to be adjusted.

From RO

[2017-05-05 17:56] astewarttistatech commented on #1839
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Go to the style guide
2. Open console
3. Validate that no errors are appearing.
<img width="1400" alt="screen shot 2017-05-05 at 1 54 49 pm" src="https://cloud.githubusercontent.com/assets/23038505/25757944/9cf62146-319a-11e7-9af2-f83d03b92b14.png">

[2017-05-05 17:56] #1839 closed

[2017-05-05 17:57] amprokop commented on #1732
It sounds like we should count VACOLS dates as matching VBMS dates if the VBMS `received_at` date is equal to the VACOLS date OR is 1, 2, or 3 days before the VACOLS date. Does that sound right to you, @askldjd @shellicious @cmgiven?

Next, should this fuzzy date matching apply to both documents sent by the VA (SOC, SSOC) and documents sent by the Veteran ( NOD, Form 9)? Sounds like this problem *

[2017-05-05 18:00] amprokop commented on #1732
Also, is this big enough of a policy change to loop in AMO? cc @laurjpeterson

[2017-05-05 18:00] astewarttistatech commented on #1838
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Go to the Style Guide
2. Open the browser's console
3. Validate that no errors are found.

Screenshots:
<img width="1400" alt="screen shot 2017-05-05 at 1 54 49 pm" src="https://cloud.githubusercontent.com/assets/23038505/25758118/3bc0141c-319b-11e7-9b05-e2208d03e726.png">

[2017-05-05 18:00] #1838 closed

[2017-05-05 18:01] amprokop commented on #1732
(ccing you because maybe that's something you would be interested in taking on as you build your bridge to AMO)

[2017-05-05 18:13] kierachell commented on #1638
**PASSED**

<img width="1122" alt="screen shot 2017-05-05 at 2 10 40 pm" src="https://cloud.githubusercontent.com/assets/18075411/25758460/a81b33d4-319c-11e7-9f98-1a3cb95ad06d.png">

[2017-05-05 18:13] #1638 closed

[2017-05-05 18:17] cmgiven commented on #1732
Yes, we should loop in AMO, specifically Amy Chelgren. Shelly has worked with her on the NY pilot stuff. Let's put together a nice email explaining what we propose to do. Don't expect much pushback.

That will also be a good way of synthesizing the logic behind this approach for the team.

Does someone want to take that on?

[2017-05-05 19:37] kierachell commented on #1831
I reckon this is to be properly validated in prod, assignign @abbyraskin

[2017-05-05 19:47] amprokop commented on #1732
@laurjpeterson, any interest? Shelly or I can do it as well, but this might be a good thing to start to get involvement in.

[2017-05-05 20:08] amprokop opened #1889 "SOC and SSOC dates should use fuzzy date matching to check if documents match [5]"
Interviews with the Honolulu ROs have uncovered a problem that results in low Caseflow usage there. Basically, due to circumstances out of their control, the VBMS date is very often 1-3 days before the VACOLS date.

Additionally, we should pass the VBMS date down to the client from the server. This will require saving those dates in the DB, so we'll need to run a data migration.

See https://githu

[2017-05-05 20:23] amprokop commented on #1118
The problem is likely in

  def toggle_admin_roles(role:, enable: true)
    return if role == "System Admin"
    if role == "CertificationV2"
      enable ? FeatureToggle.enable!(:certification_v2) : FeatureToggle.disable!(:certification_v2)
    end
    enable ? admin_roles << role : admin_roles.delete(role)
  end

[2017-05-05 20:26] amprokop opened #1891 "[1] Ensure that static fields on Sign And Certify page are prefilled from server data, and are not user-modifiable."
The "Name and location of certifying office:", "Organizational elements certifying appeal", and "Date" fields should all be prepopulated from server data, should be visibly disabled, and should not be user-modifiable. They should not be included in the update request to the Rails server, and should not be whitelisted as params from the Rails server.

These fields should appear like the disabled Di

[2017-05-05 20:32] laurjpeterson commented on #1732
@amprokop yep I can take stab at writing this out - thanks for looping me in! Will get this to you guys on Monday so we can send early next week

[2017-05-05 20:48] amprokop opened #1892 "[1] Prevent the user from skipping past the documents check page by manually entering a URL"
Right now, it's possible to bypass the documents check page. For example, if you're on local dev and go to `certifications/new/456C`, you see the mismatched documents page, but you can still manually navigate to `certifications/456C/confirm_case_details` and continue to certification.

On every page load, we should check if the certification status is not `:started`, and redirect to documents chec

[2017-05-05 20:52] amprokop commented on #1891
Assigning to @shellicious to verify and add comments on what disabled fields should appear like.

[2017-05-05 21:22] amprokop opened #1893 "[1] Ensure that a certification can’t be updated after it’s certified"
In `start!` in certification.rb, we currently update `vacols_hearing_preference` and `vacols_representative_name` even if a user is trying to recertify an appeal. We're saving these fields for analytics purposes, so we shouldn't let them be mutated after an appeal is complete.

In the demo and local environments, we should continue to be able to re-certify appeals, however.

Acceptance steps:
- Fi

[2017-05-05 21:31] amprokop opened #1894 "[2] Check that needed info is present before attempting to certify"
If all the necessary fields are not filled out (hearing preference, representative type, etc etc), throw a 500 from the server when the user is attempting to certify.

Acceptance criteria:
- If you manually skip from `certifications/ID/check_documents` to `certifications/ID/sign_and certify`, then attempt to certify, a 500 page should be displayed.

[2017-05-05 21:41] shellicious opened #1895 "[1] Apply style guide changes to app canvas to V2"
Review this style guide ticket https://github.com/department-of-veterans-affairs/caseflow/issues/1677. There should be 40px padding on all sides of the app canvas. I *think* this can be accomplished just by adding the id "app-canvas".

Acceptance criteria:
Reference the style guide ticket. We should have 40px padding on all sides of the app canvas.

[2017-05-05 21:52] amprokop opened #1896 "Determine frontend analytics approach (discussion on 6/28)"
What kind of analytics should we capture across our apps, and what tools should we use? We currently have Google Analytics running, but it's seldomly used at the moment and not set up with our React SPAs.

[2017-05-05 21:54] amprokop opened #1897 "Add stats page stats for certification v2"
As stewards of Certification, we'd like to create a temporary  V2  stats page so we can easily track our new changes.

Initial stats for the stats page:
- V2 certifications started
- V2 certifications completed
- V2 certifications completed in the same period
- V2 time to certify (will most likely go up)
- V2 median time to certify

This will be a temporary page that we'll remove once V2 fully rol

[2017-05-05 22:24] mdbenjam opened #1898 "Filter Component | Set overflow-y and max-width"
The current filter dropdown component has a scrollbar when it's unnecessary. We should set the overflow-y and max-width to prevent this.

![image](https://cloud.githubusercontent.com/assets/3885236/25766352/173c4f5a-31c0-11e7-9b23-7b90afe53a08.png)

## AC
1. Filter dropdown component shouldn't have a horizontal scrollbar
1. Filter dropdown component should have a maximum width of 218px

## Related

[2017-05-05 22:27] mdbenjam commented on #1898
@gnakm Could you fill in the maximum width?

[2017-05-05 22:27] mdbenjam commented on #1477
Opened up #1898 to deal with this. Otherwise I think we're good to go here. Moving back to in validation.

[2017-05-05 22:31] mdbenjam commented on #1470
NVM I see what you're saying. I don't know that this is a bug. Other evidence is just marked as "other" in the metadata, so it has no concept of evidence. I think it's okay that we don't come up with anything for "evidence". @abbyraskin if you agree, can you move this back to in validation?

[2017-05-05 22:34] mdbenjam commented on #1780
I think we decided this was likely due to the null comments. Now that we've fixed that, I want to move this back to in validation.

[2017-05-05 23:31] #1712 closed

[2017-05-05 23:33] mdbenjam opened #1899 "List View | Scroll to last read document on < Back to All Documents"
A recent change made the < Back to all documents button no longer scroll to the most recently opened document. It is likely due to the change that made the table scrollable.

## AC
1. Verify when a user hits `< Back to all documents` they should return to the same scroll position they were in when they opened the document from the doc list, with the last read document indicator in view.
1. Verify

[2017-05-08 04:09] laurjpeterson commented on #1732
@cmgiven @amprokop @shellicious @askldjd I took a stab at an email draft to Amy. Would love your to review it given your closeness to this issue (and because this will be my first interaction with her). It also sounds to me like this only affects SOCs and SSOCs, so I didn't include it in this draft. Let me know if you think Amy is the right person to answer the question on if it affects NODs and F

[2017-05-08 13:53] kierachell commented on #1313
**PASSED**

[code]

[2017-05-08 13:53] #1313 closed

[2017-05-08 13:54] kierachell commented on #1114
**PASSED**
    BFKEY              BF41STAT BFTBIND            BFDCERTOOL
1 2765717 2017-05-08 00:00:00.0    <NA> 2017-05-08 00:00:00.0

Ayyyy

[2017-05-08 13:54] #1114 closed

[2017-05-08 13:55] gnakm commented on #1898
@mdbenjam Added above!

[2017-05-08 14:27] joofsh commented on #1704
todo: talk to abby and figure out what to do with edge cases

[2017-05-08 15:12] gnakm opened #1903 "Error message | Wrong VACOLS ID"
As a user, I want to know if I entered the wrong VACOLS ID and be alerted a message that will give context to what I should do next.

## AC
- [ ] Verify that this error comes up when the wrong VACOLS ID is entered
- [ ] Verify that it has the new copy (see below)
- [ ] Verify that it follows the [status message style guide component ](https://github.com/department-of-veterans-affairs/caseflow/blob

[2017-05-08 15:28] abbyraskin opened #1904 "Document Viewer | PDF rendering: find (control+f) in browser should search the entire document"
**Description**
Currently, our app renders pages as they become visible (see pdf.jsx component). This means that if a user performs "Find" in the browser (control+F from a PC keyboard), the search will only surface results from those pages a user has already viewed.

A user effectively has to scroll through the entire contents of a document before they can find what they're looking for. We need to

[2017-05-08 15:28] lakohl commented on #1575
Alternate option is to make the spacing above and below the dividing line 30px (see below)
<img width="741" alt="screen shot 2017-05-08 at 11 24 21 am" src="https://cloud.githubusercontent.com/assets/4975959/25811450/57a1b4ea-33e1-11e7-9f30-7c9e7edfcf00.png">
@shellicious do you remember what you were using in Certification?

[2017-05-08 15:40] gnakm opened #1905 "Error Message | Document does not exist"
As a user, I want to be alerted when a document I am looking for does not exist.

## AC
- [ ] Verify that this error comes up when user clicks on a document that does not exist
- [ ] Verify that it has the new copy (see below)
- [ ] Verify that document list in the copy is a text link to the case document list page
- [ ] Verify that it follows the [status message style guide component ](https://gi

[2017-05-08 16:03] kierachell commented on #1692
**PASSED**
<img width="985" alt="screen shot 2017-05-08 at 11 59 19 am" src="https://cloud.githubusercontent.com/assets/18075411/25813068/466d7830-33e6-11e7-9fe8-55d846216a07.png">
<img width="1191" alt="screen shot 2017-05-08 at 12 02 23 pm" src="https://cloud.githubusercontent.com/assets/18075411/25813066/462cb304-33e6-11e7-9651-546ac87512c8.png">
<img width="1034" alt="screen shot 2017-05-08 at

[2017-05-08 16:03] #1692 closed

[2017-05-08 16:10] abbyraskin commented on #1831
Jane Nichols and Nicholas Holtz also need access as sys admin -- BVANHOLTZ and BVAJNICHOLS

[2017-05-08 16:15] abbyraskin commented on #1831
@kierachell I just added a section for users w/ sys admin access to the description above.

[2017-05-08 16:25] kierachell commented on #1660
**PASSED**

even if it looks a bit wonky:
<img width="465" alt="screen shot 2017-05-08 at 12 25 08 pm" src="https://cloud.githubusercontent.com/assets/18075411/25813921/6e4e39fe-33e9-11e7-942a-37571dc01f41.png">

[2017-05-08 16:25] #1660 closed

[2017-05-08 16:30] gnakm opened #1907 "Style guide component | Searchable dropdown double scroll bug"
Description
The searchable scroll bar in style guide has two scroll bars! It's buggin out!

## Mockup
![image](https://cloud.githubusercontent.com/assets/13420618/25813898/51e7c154-33e9-11e7-9be3-8c71b7a8af49.png)

## AC
- [ ] Verify that there is only one scroll bar in the searchable dropdown

[2017-05-08 16:31] kierachell opened #1908 "Cancellation Modal | Cleanup: Remaining Character text, Button alignment"
# Description
1. Right now, the character limit appears when text in being typed in the box. This is causing a clutter in space with the text field immediately below it. For best practices, it is better to have the 2000 character limit text from the start.

2. Placement of Cancel certification button is not aligned with cancel text link

## Reproduction Steps

**Scenario 1 -**

1. Go to Certificat

[2017-05-08 16:33] gnakm commented on #1907
/cc: @amprokop @tejans24 Not sure if I should assign this to whiskey or foxtrot.

[2017-05-08 16:34] lakohl commented on #1693
We do not want to allow the manager to leave any claims unassigned. When there are 5 employees working, the manager may edit the assignments of 4 of those employees. They will be blocked from editing the assignment of the fifth.

[2017-05-08 16:42] lakohl commented on #1694
Instead of automatically updating, I would like to try showing the manager a warning if there are employees that have not logged in by a certain time in the day (11am or 12pm).

@avrildavid could you take a look at the warning copy?
<img width="659" alt="screen shot 2017-05-08 at 12 42 05 pm" src="https://cloud.githubusercontent.com/assets/4975959/25814510/c52fefcc-33eb-11e7-9b90-32b5e2efa6ab.png"

[2017-05-08 16:42] kierachell commented on #1695
**PASSED**
<img width="1037" alt="screen shot 2017-05-08 at 12 39 06 pm" src="https://cloud.githubusercontent.com/assets/18075411/25814515/c6a6d76c-33eb-11e7-95c0-6f07c0dde3c6.png">
<img width="1094" alt="screen shot 2017-05-08 at 12 41 53 pm" src="https://cloud.githubusercontent.com/assets/18075411/25814514/c6a43822-33eb-11e7-9679-96eefeef7c50.png">

[2017-05-08 16:42] #1695 closed

[2017-05-08 16:43] lakohl commented on #1693
Removed older mock from AC as it is no longer relevant

[2017-05-08 16:59] kierachell commented on #1881
column names
[code]

[2017-05-08 17:04] abbyraskin commented on #1851
@gnakm is the focus for comment icons the same as the blue we use when selected? and what about for documents? the same highlight as "add comment" flow, or different?

[2017-05-08 17:06] gnakm commented on #1908
@shellicious for your awareness -- @kierachell originally made this issue and I edited it to fit style guide. Basically right now characters remaining come ups once a user starts typing. This causes weird spacing issues. I think it's better if we have the 2000 character limit text to begin with that way it's not as jarring for users and we won't have to worry about spacing. I also have a style gui

[2017-05-08 17:07] amprokop commented on #1312
@astewarttistatech — what's the status of this? Can you link to the PR in this issue?

[2017-05-08 17:13] amprokop opened #1909 "[2] Add Redux logger in Certification V2 for easy debugging"
Link up with JD or Mark or Teja about what Redux logger does (prints the state to the console) and enable it only for local development (demo and UAT too if that's easy, but not prod!)

[2017-05-08 17:14] kierachell commented on #1909
From Dispatch:
<img width="1420" alt="screen shot 2017-05-08 at 1 13 09 pm" src="https://cloud.githubusercontent.com/assets/18075411/25815848/2cbd383a-33f0-11e7-94b2-ffc3c722df0b.png">

[2017-05-08 17:32] amprokop commented on #1688
needs details from @shellicious re: invalid characters

[2017-05-08 17:34] avrildavid commented on #1694
@lakohl – my only suggestion is to highlight that they haven't logged in to work claims - just in case there are employees who have logged in, but haven't finished a claim yet (they were interrupted or it's a tricky case that took longer to review, etc.) it could read:

“Two employees have not logged in today”.

I think the rest of the instructional text looks good. Might also consider making “emp

[2017-05-08 17:57] cmgiven commented on #1732
* Identify us as the Appeals Modernization team.
* I should be specific about the issue originating with how ADL sets dates.
* We need to match up to four days, in order to account for three-day weekends.
* I would articulate this as "we're considering" not "we propose." The latter suggests we're looking for sign-off. The former suggests we're looking to identify issues if they see them, and will

[2017-05-08 17:59] amprokop opened #1910 "Consider persisting some values that show that mismatched dates were corrected"

[2017-05-08 18:05] amprokop commented on #1118
The implementation of #1645 might fix this. We should assign this to the same dev.

[2017-05-08 18:06] shellicious commented on #1732
Thanks for putting that together, @laurjpeterson! No feedback from me, just +1ing @cmgiven!

While discussing this in storytime just now with @kierachell and @amprokop:
- We're considering expanding the documents covered by the fuzzy date match to NOD, Form 9, SOC and SSOC. This is because we have not heard of date differences of more than a few days causing trouble at BVA for Form 9s, NODs, SOCs,

[2017-05-08 18:09] amprokop commented on #1710
This issue needs to be updated with new info.

[2017-05-08 18:15] cmgiven commented on #1732
The difference being that this also covers NODs and Form 9s? I don't have concerns. You probably have the best perspective from discussing with Ivy.

[2017-05-08 18:17] abbyraskin commented on #1904
Wait until 1817 is merged

[2017-05-08 18:22] nemodjuric commented on #1398
#<Form8 id: 20634, certification_id: 29434, vacols_id: "3209941", appellant_name: nil, appellant_relationship: nil, file_number: "440702011S", veteran_name: "DAVIS-CARRUTH, STAPHANIE, L", insurance_loan_number: nil, service_connection_for: nil, service_connection_notification_date: "2015-05-22", increased_rating_for: nil, increased_rating_notification_date: "2015-05-22", other_for: nil, other_noti

[2017-05-08 18:27] kierachell opened #1911 "Metrics Controller in UAT redirects to 500 error"
# Description
There seems to be some kind of misconfiguration between prometheus and metrics in UAT/preprod. All calls to `/metrics` redirect to 500. And then there's a `force_ssl` error on top of that.

## Reproduction Steps

**Scenario 1 -**

1. Use `awslogs` to watch any of the UAT/preprod instances. Notice a bunch of 500s all the time as shown below

**Validated in the following Envrionment(s)

[2017-05-08 18:28] abbyraskin commented on #1581
Add link to styleguide

[2017-05-08 18:28] kierachell commented on #1885
**PASSED**

was able to cancel from every page
[code]

[2017-05-08 18:28] #1885 closed

[2017-05-08 18:36] kierachell commented on #1831
**FAILED**

Unauthorized users should see an *Unauthorized* page, but currently there's a DoubleRender error:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/196/

<img width="1107" alt="screen shot 2017-05-08 at 2 36 38 pm" src="https://cloud.githubusercontent.com/assets/18075411/25819362/c61973b2-33fb-11e7-8123-f6181d676aeb.png">

[2017-05-08 18:39] kierachell commented on #1820
Whoa
Cool:
<img width="1320" alt="screen shot 2017-05-08 at 2 38 47 pm" src="https://cloud.githubusercontent.com/assets/18075411/25819485/1a2bcf18-33fc-11e7-929e-8d87af4ab4a2.png">

[2017-05-08 18:42] leannammiller opened #1912 "creating issue to tag myself in this thread"

[2017-05-08 18:44] kierachell commented on #1820
<img width="1248" alt="screen shot 2017-05-08 at 2 41 38 pm" src="https://cloud.githubusercontent.com/assets/18075411/25819699/c8e3b6f6-33fc-11e7-8540-6bde9022661e.png">
SUPERCOOL

@astewarttistatech should still check it out, 'cause it's cool!

[2017-05-08 18:45] kierachell commented on #1470
**PASSED**
Then it works :D

[2017-05-08 18:45] #1470 closed

[2017-05-08 18:46] abbyraskin commented on #1877
Possible this was fixed -- need to investigate

[2017-05-08 18:46] abbyraskin commented on #1320
These have been broken out into smaller stories, closing this one out.

[2017-05-08 18:47] #1320 closed

[2017-05-08 18:52] abbyraskin commented on #1666
This appears to be fixed

[2017-05-08 18:53] joofsh commented on #1886
It seems as though the issues related to this appeal were changed after being pulled into Dispatch. Based on the issues, it should never have reached Caseflow Dispatch (no non-N&M issues were granted).

We should check for this when invalidating tasks

[2017-05-08 18:53] amprokop opened #1913 "Return hearings information on the appeals endpoint"
## Acceptance Criteria
- Return hearings information for all hearings related to the appeals returned by the appeals endpoint in accordance with the API docs.

## Technical Notes
API Doc link https://github.com/department-of-veterans-affairs/appeals-pm/pull/1289/files

[2017-05-08 18:54] abbyraskin commented on #1666
The headers themselves (for sortable columns) should look clickable, not just the icons

[2017-05-08 18:55] amprokop opened #1914 "Successfully return a 200 and "Hello"

[2017-05-08 18:56] amprokop opened #1915 "Implement API key authentication"
## Acceptance criteria
- Enforce that a valid API key is passed with each call to the appeals endpoint
- If an invalid or missing key is passed, return a 401 response code

## Technical notes
- API keys should be encrypted in the DB

[2017-05-08 18:56] #1914 closed

[2017-05-08 18:57] amprokop opened #1916 "Setup demo environment for Vets.gov testing"
Vets.gov engineers should successfully be able to ssh into boxes in their UAT environment and curl the appeals status API.

[2017-05-08 19:00] nicholasholtz commented on #1732
@shellicious - I don't have concerns based on that. This makes the docs more likely to be present pre-Cert - that is only a positive thing.

[2017-05-08 19:07] kierachell commented on #1828
**PASSED**
![nilcomment](https://cloud.githubusercontent.com/assets/18075411/25820632/f709705e-33ff-11e7-96a7-a46e0e814758.gif)

[2017-05-08 19:07] #1828 closed

[2017-05-08 19:08] amprokop commented on #1709
@kierachell — #1484 should take care of this.

[2017-05-08 19:13] amprokop opened #1917 "Investigate CPU spikes on Caseflow"
Every 30min or so, we have a pretty significant spike on Caseflow load. This sometimes triggers some latency PagerDuty alarms, so it'd be nice to know why it's happening.

Screenshot of the spikes from Graphana
<img width="718" alt="screen shot 2017-02-16 at 9 11 00 am" src="https://cloud.githubusercontent.com/assets/1596259/23024374/ff6505aa-f427-11e6-969c-350114564241.png">

Note: this report is

[2017-05-08 19:15] amprokop commented on #1716
In the PR post screenshots so @shellicious can approve.

[2017-05-08 19:15] amprokop commented on #1716
We should mimic the pages currently in Certification.

[2017-05-08 19:15] kierachell commented on #1780
**PASSED**
<img width="1107" alt="screen shot 2017-05-08 at 3 15 33 pm" src="https://cloud.githubusercontent.com/assets/18075411/25820970/3a374e0e-3401-11e7-9474-9e6fab43f372.png">

[2017-05-08 19:15] #1780 closed

[2017-05-08 19:18] kierachell commented on #1477
**PASSED**
<img width="1143" alt="screen shot 2017-05-08 at 3 18 12 pm" src="https://cloud.githubusercontent.com/assets/18075411/25821057/99c8b1aa-3401-11e7-81b9-2a11ff73e215.png">

[2017-05-08 19:18] #1477 closed

[2017-05-08 19:18] amprokop commented on #1710
Work closely with @amprokop on this. Blocked until @shellicious adds updated mocks and details.

[2017-05-08 19:23] amprokop commented on #1035
We'll make this change and let the style guide folks know, and give them a chance to review it.

[2017-05-08 19:24] kierachell commented on #1035
actually the radio button might be already fixed

[2017-05-08 19:41] amprokop opened #1919 "[1] Restrict the Change Functions page in prod to the "CSFLOW" user"
Get Nicholas to test this straight up in prod

[2017-05-08 19:52] amprokop commented on #1500
Look on the styleguide for the HTML and CSS to do this.

[2017-05-08 19:59] amprokop commented on #1896
The approach isn't quite clear here. Research options and start a discussion in this thread before implementation.

[2017-05-08 20:14] amprokop opened #1920 "Discussion: Foxtrot story points"
Let's collect some thoughts about story points here.

A summary of the current approach to story points we're trying out:

- Story points are used only as forward-facing estimation tools (we're not going to look back on a sprint and say "the team only got X points done, something must be wrong")
- Only well-defined development tasks are story pointed, while investigation tasks are not, since most

[2017-05-08 20:23] shanear commented on #1889
@laurjpeterson @shellicious lets talk about whether we should release this for just V2, or V1 and V2.

I'm leaning towards V1 and V2 because:
- This is an annoyance for a lot of RO's and it'd be nice to fix it ASAP
- It's more difficult to just change it for V2

[2017-05-08 20:27] lakohl commented on #1524
In the event there are no more cases left in the queue, the message would show as follows:

You can now close Caseflow or return to your Work History.

<img width="581" alt="screen shot 2017-05-08 at 4 24 40 pm" src="https://cloud.githubusercontent.com/assets/4975959/25823721/ea76f4c8-340a-11e7-89b9-4ea0a8837360.png">

*you would also see the Way to Go! + emojis at the bottom

[2017-05-08 20:29] amprokop commented on #1908
Hold on this until next sprint, when hopefully the style guide team will have fixed it.

[2017-05-08 20:33] amprokop commented on #1312
duplicate of #1497

[2017-05-08 20:33] #1312 closed

[2017-05-08 21:13] shellicious commented on #1889
@shanear i'm also into releasing this for V1 before V2. We may need to get AMO to sign off on it, since I'm not sure what The Manual has to say about how closely dates need to match.

[2017-05-08 21:42] nemodjuric commented on #1398
There were 2 tries created in parallel to certify this appeal. certification_id: 29434 and certification_id: 29435. They were created at the same time: 2017-03-31 14:06:17
29435 was completed, 29434 was not.
Possible cause - quick reload. @shanear

[2017-05-08 21:50] laurjpeterson commented on #1732
@cmgiven @shellicious thanks for the feedback! we have time to discuss this solution in further detail tomorrow. will send on to amy with our final thoughts and the above edits

[2017-05-08 21:51] shellicious commented on #1889
Mocks of the new Check Documents page for a world with fuzzy date matching / an excuse to make the content on this page more clear:

**What's changed for a Check Documents page with errors:**
- Content in error message is more specific
- Table heading for the icons is more specific
- If no date is found, text says "Not found" under "VBMS date"
- Instructions for document date include an explanatio

[2017-05-08 22:07] cmgiven commented on #1889
Note that we need it to be up to four days, as it might be a three day weekend.

On the open question, I see where you're coming from in wanting to draw attention to the thing that needs correcting, but I'm not sure this does that. Maybe it even does the opposite, by surrounding it with additional text?

[2017-05-08 22:16] gnakm commented on #1851
- The focus for comment icons were separately made, so those are SVGs. @NickHeiner Wondering if those SVGs still need a focus on top of the selected state?
- The document has a different color. I didn't make it the USWDS color because it has a different opacity.
- Add comment is USWDS

[2017-05-08 23:19] gnakm opened #1924 "Style guide component | Radio button fieldset enhancement"
**Description**
For form fields, we want to make sure that all form fields have a 40px space between each component. This is not to be confused with spacing between each radio button -- those are great!

## AC
- Verify that the `fieldset` has `margin-bottom` of 40px below it

[2017-05-08 23:20] gnakm opened #1925 "Style guide component | Checkbox fieldset enhancement"
**Description**
For form fields, we want to make sure that all form fields have a 40px space between each component. This is not to be confused with spacing between each radio button -- those are great!

## AC
- Verify that the `fieldset` has `margin-bottom` of 40px below it

[2017-05-08 23:58] slj opened #1926 "Certification action buttons are not properly aligned"
<img width="461" alt="screen shot 2017-05-08 at 5 11 23 pm" src="https://cloud.githubusercontent.com/assets/1053255/25830046/2a6705e2-3428-11e7-9de5-55dfb4f67242.png">

Regardless of how you change the browser width, the buttons stay unaligned.

[2017-05-09 00:03] slj commented on #1926
Issue already mentioned in https://github.com/department-of-veterans-affairs/caseflow/issues/1908

[2017-05-09 00:03] #1926 closed

[2017-05-09 00:06] slj commented on #1908
The button mis-alignment is problematic on other certification pages besides the modal.  For example, Form 8:

<img width="461" alt="screen shot 2017-05-08 at 5 11 23 pm" src="https://cloud.githubusercontent.com/assets/1053255/25830290/db13eecc-3429-11e7-8032-ef9019fd5798.png">

[2017-05-09 03:22] astewarttistatech commented on #1827
**PASSED**

Validated in: Dev, UAT, and Preprod
Browsers: Chrome and FF

Steps to Validate:
1.Shrink browser to its smallest view
2.Validate navbar doesn't overlap content in style guide.

Screenshots:
Smallest width
<img width="399" alt="screen shot 2017-05-08 at 11 21 00 pm" src="https://cloud.githubusercontent.com/assets/23038505/25834330/36f10b4c-3445-11e7-9194-059bcf982928.png">

[2017-05-09 03:22] #1827 closed

[2017-05-09 03:27] astewarttistatech commented on #1523
@mmlumba could you take a look at the spacing found in UAT currently?

Current View:
<img width="1019" alt="screen shot 2017-05-08 at 11 25 43 pm" src="https://cloud.githubusercontent.com/assets/23038505/25834435/d5b2a7c2-3445-11e7-933b-328eb86ce7c4.png">

[2017-05-09 03:32] astewarttistatech commented on #1412
**PASSED**

Validated In: Dev
Browsers: FF and Chrome

Steps to Validate:
Follow AC

Screenshots:
<img width="1078" alt="screen shot 2017-05-08 at 11 31 11 pm" src="https://cloud.githubusercontent.com/assets/23038505/25834531/9bfbcbf2-3446-11e7-8e0a-777cac78a194.png">

[2017-05-09 03:32] #1412 closed

[2017-05-09 03:34] astewarttistatech commented on #1685
**PASSED**

Validated in: Dev
Browsers: FF and Chrome

Steps to Validate:
1. Access style guide
2. Validate Typography section against mocks and AC

Screenshots:
![sgtypography](https://cloud.githubusercontent.com/assets/23038505/25834565/cfb3b07c-3446-11e7-8014-3ce62e2415e5.gif)

[2017-05-09 03:34] #1685 closed

[2017-05-09 03:36] astewarttistatech commented on #1089
**PASSED** due to change in AC

Validated in: UAT, Dev, and Preprod
Browsers: FF and Chrome

Steps to Validate:
1. Access style guide
2. Validate Layout: Actions section against mocks and AC

Screenshots:
See above comments.

[2017-05-09 03:36] #1089 closed

[2017-05-09 03:38] astewarttistatech commented on #1099
@mmlumba The current UI doesn't match the mocks. Currently there is no stats on in the Dashboard section of the style guide. Could you let me know if the current view wasn't supposed to include the mock, referenced above?

Current view:
<img width="1153" alt="screen shot 2017-05-08 at 11 37 02 pm" src="https://cloud.githubusercontent.com/assets/23038505/25834663/78db408e-3447-11e7-9736-371080bf3b7

[2017-05-09 03:40] slj commented on #1684
Screenshot:

<img width="415" alt="screen shot 2017-05-08 at 11 38 25 pm" src="https://cloud.githubusercontent.com/assets/1053255/25834694/aafb8a06-3447-11e7-9769-ad5e244366d6.png">

[2017-05-09 12:11] kierachell commented on #1820
**PASSED**

We should document this somewhere.

[2017-05-09 12:18] kierachell commented on #1820
Hangon, I didn't check prod. This is not set up in prod.
[code]

[2017-05-09 12:23] mmlumba commented on #1099
@astewarttistatech The dashboard section of the style guide just contains the description, and the "view source code" button just links to the stats page of eFolder express. The mock just shows what the actual stats pages should look like in terms of header pixel sizes (ie `/dispatch/stats`, `/certification/stats`, `/stats` on eFolder)

[2017-05-09 12:53] slj opened #1928 "StyleGuide: improve alignment of section header and source code button"
The section header (H2/H3) and the source code button could be better horizontally aligned.  The current view:
<img width="381" alt="screen shot 2017-05-09 at 8 13 39 am" src="https://cloud.githubusercontent.com/assets/1053255/25850730/59562b30-3491-11e7-8c8b-87161aba2046.png">

can be improved by:
- Giving the parent container a `line-height` bigger than the children
- Making the section header a

[2017-05-09 12:53] slj commented on #1928
Fix in action:
![better_secsrc_align_action](https://cloud.githubusercontent.com/assets/1053255/25851744/f30bffa4-3494-11e7-92db-161a0fa11953.gif)

[2017-05-09 13:05] amprokop opened #1930 "Return all appeals associated with a veteran"
## Acceptance Criteria
- The endpoint `/api/v1/appeals` should return a list of all appeals associated with the veteran with the passed SSN (it's passed in the header according to the API docs below).
- The response should be JSON API compliant, and return the following attributes along with the appeal according to the API spec:
    - active
    - type
    - events
- Events with the following type

[2017-05-09 14:01] nicholasholtz commented on #1889
A thought - what if the "(Mismatch)" was to the right of the date? @cmgiven, would that change your opinion?

Chris's point on 4 days makes sense.

[2017-05-09 14:21] abbyraskin commented on #1704
@joofsh is the current error message the same regardless of whether it's a full grant or a remand? I have:

Header: At this time, we are unable to assign or create a new EP for this claim.
Body: An EP with that modifier was previously created for this claim. Try a different modifier or select Cancel at the bottom of the page to release this claim and proceed to process it outside of Caseflow.

We

[2017-05-09 14:24] #1703 closed

[2017-05-09 14:32] #1398 closed

[2017-05-09 15:24] NickHeiner commented on #1896
Reader is having similar discussions about this as well. @abbyraskin, would you like to merge our discussion with this one? Or maybe we need to figure out what we want on our own first?

We should at least have Google Analytics. It's trivial to implement. We'll get information like page views for free. We can also track specific events, although I think a tool like Mixpanel is better suited to in-

[2017-05-09 15:39] shellicious commented on #1889
Thanks for feedback, working on another round of designs today

[2017-05-09 17:15] kierachell commented on #1573
So I changed the `annotations` table to make it unusable and tried to create a new comment:
[code]
No `Alert` or error showed up.

Sentry did throw an error:
internal-dsva-appeals-sentry-uat-102776152.us-gov-west-1.elb.amazonaws.com/sentry/caseflow-uat/issues/187/

[2017-05-09 17:16] mmlumba commented on #1524
Original AC for 2:

 Name Last Name's] claim has been processed.

[2017-05-09 17:19] sharonwarner opened #1933 "Remove old form8"
Once we officially move to the new form8, we can remove the FeatureToggle and the old form8. This is mostly found in app/services/form8_pdf_service.rb.

https://github.com/department-of-veterans-affairs/caseflow/issues/1715

[2017-05-09 17:26] lakohl commented on #1524
@mmlumba At the top of the page (currently in the header) do we show the middle initial, or just the first and last name?

[2017-05-09 17:30] kierachell commented on #1672
**PASSED**
Zooming does not reset position;...but...zooms weird?
![zoomabout](https://cloud.githubusercontent.com/assets/18075411/25863952/a4b1dcee-34bb-11e7-8279-2f0f3ac3303d.gif)

[2017-05-09 17:30] #1672 closed

[2017-05-09 17:34] joofsh commented on #1212
@kierachell a dispatch grafana chart does exist for this. Let's sit down sometime tomorrow determine how to validate it

[2017-05-09 17:35] joofsh commented on #1911
@kierachell  This was just 1 rogue instance that was messed up (someone monkeying with it?)

Not directly related, but I've added code  to ensure error pages don't  cause SSL redirect loops

[2017-05-09 17:38] mmlumba commented on #1524
@lakohl we also show the middle initial in the header:
![screen shot 2017-05-09 at 1 37 38 pm](https://cloud.githubusercontent.com/assets/4773320/25864240/ba8cb150-34bc-11e7-8e8d-5e03813e47e5.png)

[2017-05-09 17:46] lakohl commented on #1524
Ok. Then you can show it in the Confirmation page copy as well. We should try to be consistent.

[2017-05-09 17:47] joofsh commented on #1704
@abbyraskin yes it's the same error text if it's a remand or full grant. It's not worth the complexity to change that (all errors go through the same generic code path). It sounds like the 2nd scenario would work well with a full grant or remand (with us auto-incrementing).

Does that sound right to you?

[2017-05-09 17:48] lakohl opened #1935 "BVA Dispatch Manager view - update column header"
BVA Dispatch Manager view - change 'Days in Queue' column header to 'Days Since Outcoding'.

When a claim is outcoded it is not always uploaded at the same time. It is not technically in the Dispatch queue until it has been uploaded to VBMS, this is sometimes days later.

[2017-05-09 17:49] joofsh commented on #1886
@kierachell so now when you go to assign a task without a decision_type, it will invalidate it and assign you the next one

[2017-05-09 17:50] abbyraskin commented on #1704
Yep, that was my thinking as well 👍

[2017-05-09 17:50] joofsh commented on #1559
@kierachell 2 things are changed:
- The "success!" page will not properly show you an error (if one occurs)
- We've added  "retry" logic. So now it will try to assign you the _next_ task if there is a race condition. You'll still end up with a generic error if that was the last task in the queue

[2017-05-09 17:51] lakohl opened #1936 "ARC Manager View - Add link to missing decisions page"
Add a link to the Missing Decisions page so that the ARC manager can easily see what claims are missing decisions (and they don't have to call us).

## AC
- h2 'ARC Reports' is added to the manager view
- Link is added to manager view
- Link opens the missing decision page in another tab

## Mock

<img width="571" alt="screen shot 2017-05-22 at 2 11 06 pm" src="https://cloud.githubusercontent.com/

[2017-05-09 17:51] kierachell commented on #1664
#### When clicking fit-to-screen the page should be zoomed such that the height of the page is equal to the height of the PDF view window.

That is not happening
![zoomabout](https://cloud.githubusercontent.com/assets/18075411/25864725/7ce19512-34be-11e7-990e-eeaf7da5e7f0.gif)

[2017-05-09 17:54] kierachell commented on #1649
## Zooming out to multiple pages move the scrollbar

I guess that's not exactly what you want to happen?

![shiftingzoom](https://cloud.githubusercontent.com/assets/18075411/25864870/00e73b0a-34bf-11e7-90d7-67ca1a66ab3d.gif)

[2017-05-09 18:07] lakohl opened #1937 "ARC Manager page: Add Work History"
Give the ARC manager more visibility into which claims his team is currently working. Show claims that have been cested in the last 1.25 months?

**AC**
On the ARC Manager page:

1. Add link to Work History
2. Create a table showing which claims (by vet ID) have been worked and by whom (employee name/initials) and type of claim (full, partial, remand), date worked

**Mock:**
![screen shot 2017-12-

[2017-05-09 18:16] gnakm commented on #1690
@shanear added the link to svg under AC.

[2017-05-09 18:21] aroltsch commented on #1920
I like everything you said, except I think investigation stories should also have points.

[2017-05-09 18:21] shellicious commented on #1889
Revisions!

What's changed:
- Changed text to 4 business days
- Less text in the error message so RO staff attention is focused on the specific document error
- Created a "status" column next to the "VBMS date" column that describes the exact problem.
- Styled error text in "status" column to focus attention there.

Potential problem states to be aware  of:
- Document not found in VBMS
- Document

[2017-05-09 18:21] shellicious commented on #1732
Design and development work on this ticket is being discussed here: https://github.com/department-of-veterans-affairs/caseflow/issues/1889

[2017-05-09 18:25] cmgiven commented on #1889
Ooh, that looks good! "Date out of range" feels a bit wonky. Would "Dates do not match" work?

[2017-05-09 18:29] sharonwarner commented on #1920
Agreed that investigation stories should have points. We're already sort of estimating how much time we think it will take by giving the developer fewer story points. Why not formalize it?

If we do have the investigation story pointed, then if the investigation takes longer than the points allotted, it can be brought up as a blocker, or we can discuss how to continue.

[2017-05-09 18:31] amprokop commented on #1889
Looks great!

Re: `All documents found in VBMS with valid dates.`

Could this be more precise?
Maybe—
header:`Matching documents found in VBMS for all VACOLS documents.`
more text:`A VBMS document date is considered matching if it's within 3 business days of the VACOLS date.`

[2017-05-09 18:39] abbyraskin commented on #1896
I'm fine with turning the conversation into a broader team meeting if we think it'll be useful. The design team is also discussing the topic this week. Is this Wisdom Wednesday Worthy?

I think it'll depend a bit on the individual projects, but it would be great to align on Caseflow-wide goals, tools, things to avoid (e.g., storing PII in GA), and maybe some general guidelines around implementatio

[2017-05-09 18:42] lakohl commented on #1694
I spoke to George, the ARC manager. He says that everyone working that day should have logged in by 9:30 a.m. Given that we show the employee's name once they have worked their first claim, it seems safe to show the warning at 10am.

[2017-05-09 18:52] NickHeiner commented on #1649
@gnakm @abbyraskin can you take a look at this? I agree that the behavior @kierachell pointed out is not ideal, but I think we've made an improvement from what it was before. Should we keep working on it in this ticket, or open a new ticket?

[2017-05-09 18:53] NickHeiner commented on #1573
@kierachell, alerts for annotations are out of scope for this ticket. We moved that to be #1854. This ticket is only for changing document category and tags.

[2017-05-09 18:54] NickHeiner commented on #1851
I'm not sure what you're asking me.

[2017-05-09 18:58] gnakm commented on #1649
@NickHeiner Yowza. We should open a new ticket for it. Let's get the original pain passed!

[2017-05-09 19:01] gnakm opened #1938 "Zooming | Scroll and page jump"
**Description**
When zooming in and out of multiple pages, the scrollbar jumps and page number changes.

Complementary gif by Artem
![shiftingzoom](https://cloud.githubusercontent.com/assets/18075411/25864870/00e73b0a-34bf-11e7-90d7-67ca1a66ab3d.gif)

## Related Issue

#1649

[2017-05-09 19:14] Sjones352 commented on #1090
- [ ] Verify that the below copy is beneath the title (see Copy below)
- [ ] Verify that that the living style guide has the correct UI components (see mock)
- [ ] Verify that clicking on this takes you to the right section.
- [ ] On the side nav, `Footer` can be found under `Layout`.

<img width="759" alt="screen shot 2017-05-09 at 3 12 10 pm" src="https://cloud.githubusercontent.com/assets/23080

[2017-05-09 19:30] gnakm commented on #1851
@NickHeiner I would like to take back the question that I asked because I answered it in my head.

[2017-05-09 19:31] gnakm opened #1940 "Style guide component | Add gray-light to color palette"
**Description**
Add `gray-light` and `gray` to color palette

## AC
- Verify that `gray-light` (`#aeb0b5`) is added to the primary colors section of color palette
- Verify that `gray` (`#5b616b`) is added to the primary colors section of color palette
- Verify that it looks like the mock below

## Mockup
![image](https://cloud.githubusercontent.com/assets/13420618/26058732/241755dc-394d-11e7-9ad4-

[2017-05-09 19:50] abbyraskin commented on #1467
here it is, @Sjones352 😄

[2017-05-09 19:53] lakohl commented on #1694
Old AC:
As a manager, I would like to ensure that all the cases available to ARC are completed on a given day.  At a set time each day, I would like Caseflow to check to see if the number of employees I set as working today matches the number of people who have logged in. If the number of people who have logged in is less than the number of employees entered as working today, I would like Caseflow

[2017-05-09 19:54] lakohl commented on #1694
@shanear can you verify - do the employee's names show in the ARC Work Assignments table when they log in? or once they have completed a claim?

[2017-05-09 20:45] laurjpeterson commented on #1732
@cmgiven @askldjd @shanear @amprokop @shellicious

Based on the above, we know for SOCs and SSOCs, the VBMS date could be 0-4 days **before** the VACOLS date. And Shelly suggested that the Form 9 and NOD VBMS date could be 24 hours **after** the VACOLS date based on upload.

Can we confirm which we propose to implement?

(1) fuzzy date match for SOCs, SSOCs should be with VBMS date 0-4 days **befo

[2017-05-09 20:48] cmgiven commented on #1732
What's the story on why we need to match when VBMS > VACOLS? As far as I know, there's no reason VBMS dates can't be set before the upload date.

[2017-05-09 21:12] kierachell commented on #1573
**PASSED**
K; I changed the AC to reflect that @abbyraskin
## Messing with tags and labels works
<img width="415" alt="screen shot 2017-05-09 at 4 54 13 pm" src="https://cloud.githubusercontent.com/assets/18075411/25872963/8a9f40b6-34da-11e7-8dae-1f572bf359f8.png">

[2017-05-09 21:12] #1573 closed

[2017-05-09 21:13] kierachell commented on #1911
**PASSED**

haven't see any 500s:

[2017-05-09 21:13] #1911 closed

[2017-05-09 21:57] kierachell commented on #1559
**PASSED**
It worked!

[code]

Did not see a Sentry error 👍

[2017-05-09 21:57] #1559 closed

[2017-05-09 21:59] laurjpeterson commented on #1732
@cmgiven the 'after' VACOLS state was introduced with @shellicious's post above - so the story is mainly for NODs and Form 9s. my option 2 above includes before and after for all forms for simplicity

* We're considering expanding the documents covered by the fuzzy date match to NOD, Form 9, SOC and SSOC. This is because we have not heard of date differences of more than a few days causing trouble

[2017-05-10 02:12] gnakm commented on #1853
@abbyraskin Would like your design input on this!

Right now the only headers we have for is related issues and comments but I wouldn't want a user who is using a screen reader to assuming content starts from those sections. I think issues and comments should be `h2`, which leaves us to make a `H1`. I think something like "Document Menu" is good in that it describes where you have landed.

**_Opti

[2017-05-10 02:17] gnakm commented on #1741
@avrildavid Revisiting our little content situation. Could use your content help here.

Title: Leaving? vs. Unsaved Comments
Body: You have unsaved comments. Are you sure you want to leave this page without saving?
Cancel text: Oops! Go back
Confirm text: Ok, leave page

![image](https://cloud.githubusercontent.com/assets/13420618/25880371/ed43933c-3504-11e7-9c9d-2a1d982ac884.png)

![image](https:

[2017-05-10 02:49] mmlumba commented on #1863
Validation: compare screenshots of components from "before" state to what they currently look like in UAT

[2017-05-10 11:47] cmgiven commented on #1732
If there's nothing preventing them from setting the correct date in VBMS, I'd suggest that we prefer fixing the VBMS date. How long it takes to upload is immaterial, the issue is that the document has the wrong received at date.

[2017-05-10 12:02] astewarttistatech commented on #1099
Based on above comment, this issue has

**PASSED**

Validated in: Preprod
Browsers: FF and Chrome

Steps to Validate:
1. Access the living Style Guide.
2. Validate the section for "Dashboard"
3. Validate copy against what is provided in the AC

Screenshot:
see above

[2017-05-10 12:02] #1099 closed

[2017-05-10 12:25] astewarttistatech commented on #1524
Based on the AC above,

**PASSED**

Validated in: Preprod
Browsers: FF and Chrome

Steps to Validate:
1. Access Dispatch as a caseworker
2. Go through the happy path of establishing an EP
3. Verify the Success page doesn't show the Veteran ID

Screenshots:
<img width="1433" alt="screen shot 2017-05-10 at 8 09 01 am" src="https://cloud.githubusercontent.com/assets/23038505/25898461/3e99df70-355a-11

[2017-05-10 12:25] #1524 closed

[2017-05-10 13:20] mmlumba opened #1945 "Add all icon.jsx files to RenderFunctions.jsx"
Add the following .jsx files to RenderFunctions.jsx:
CommentIcon
FoundIcon
NotFoundIcon

[2017-05-10 13:31] avrildavid commented on #1741
Hey @gnakm - even though I agreed earlier that "leaving?" sounds better, I'm concerned that someone might just see that title, not read the descriptive text below it and click the "ok, leave page", button just so they can move on. If "unsaved comments" is the first thing they see, they immediately know that there's still an action they should take before leaving (it's not just a confirmation pop-u

[2017-05-10 13:33] astewarttistatech commented on #1523
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Go to Dispatch as a caseworker
2. Go through the happy path flow
3. On the success page, validate the spacing in inspector (of the browser) between the button and cases assigned/completed against the specs in the AC.

Screenshots:
<img width="1398" alt="screen shot 2017-05-10 at 9 28 56 am" src="https://cloud.githubuserco

[2017-05-10 13:33] #1523 closed

[2017-05-10 13:37] mmlumba commented on #1409
@gnakm what should the label be for the text area? so far I have this:
![screen shot 2017-05-10 at 9 37 21 am](https://cloud.githubusercontent.com/assets/4773320/25901278/4a0c99e2-3564-11e7-9621-86d0b92841ee.png)

[2017-05-10 13:39] astewarttistatech commented on #1684
**PASSED**

Validated: UAT
Browser: FF and Chrome

Steps to Validate:
1. Access the living style guide
2. Validate the typography section against the AC

Screenshots:
<img width="1372" alt="screen shot 2017-05-10 at 9 37 37 am" src="https://cloud.githubusercontent.com/assets/23038505/25901341/83e1c836-3564-11e7-96bd-a5b0ed184c6c.png">

[2017-05-10 13:39] #1684 closed

[2017-05-10 13:47] astewarttistatech commented on #1928
**PASSED**

Validated: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access the Style Guide
2. Validate Source Code button is aligned with its respective header.

Screenshots:
![sg_5_10_17](https://cloud.githubusercontent.com/assets/23038505/25901743/b01a4562-3565-11e7-91b7-22e01cea73c0.png)

[2017-05-10 13:47] #1928 closed

[2017-05-10 14:05] laurjpeterson commented on #1732
@shellicious what do you think about not implementing the 'after' VACOLS date solution for Form 9s and NODs

So we propose to implement only:
(1) fuzzy date match for SOCs, SSOCs should be with VBMS date 0-4 days before VACOLS date

cc: @amprokop

[2017-05-10 14:13] mmlumba commented on #1411
@gnakm Is the number for character limits flexible or will it always be 2000?

[2017-05-10 14:14] amprokop commented on #1732
@shellicious felt we should expand it to being before and after. I'll ping her to add her justification here, then we can discuss.

[2017-05-10 14:36] shellicious commented on #1732
@cmgiven @amprokop @laurjpeterson It's currently not possible to move the VBMS date forward in time due to VBMS limitations. But I don't think that moves the needle here...thinking out loud...this affects situations in which the VBMS date is several days before the VACOLS date.

There is the situation in which the VBMS document takes 24 hours to "show up in VBMS". We don't know if this means the r

[2017-05-10 14:46] askldjd commented on #1814
Jobs ran correctly from May 7-10th

[2017-05-10 14:47] astewarttistatech commented on #1863
**PASSED**

Validated in: UAT
Browser: Chrome and FF

Validation:
Before
![styleguide5_9_17](https://cloud.githubusercontent.com/assets/23038505/25904578/a5d8cbf2-356d-11e7-8d4c-b56c50f4bf56.png)
<img width="785" alt="screen shot 2017-05-08 at 11 28 13 pm" src="https://cloud.githubusercontent.com/assets/23038505/25904600/b9aac2ca-356d-11e7-818f-36598ab4facb.png">

After
![sg_5_10_17](https://cloud

[2017-05-10 14:48] #1863 closed

[2017-05-10 14:58] astewarttistatech opened #1947 "Required Checkboxes cause errors in console"
**Description:** When inspecting the section for Required Checkboxes in the style guide, errors appear in the console of the inspector.

**Expected:** No errors should appear in the console.

**Browser:** FF and Chrome
**Environment:** UAT

**Steps to Reproduce:**
1. Access the Style Guide
2. Scroll to the Checkbox section
3. Navigate to the Required Checkboxes
4. In your browser, open the inspect

[2017-05-10 15:16] NickHeiner commented on #1920
I do not find story points to be helpful and recommend against their use.

For years, my team dutifully poured resources into story points: estimation sessions, allocation planning based on points, retrospective analysis based on points, etc. Then, someone in our eng support group did an analysis and found 0 correlation between story points and time spent on task across the entire company. The mom

[2017-05-10 15:53] kierachell commented on #1212
**PASSED**
[code]

[2017-05-10 15:53] #1212 closed

[2017-05-10 16:05] amprokop commented on #1920
@NickHeiner — what about tasks that are less than a day's work? How did you handle that?

`The purpose of using an abstract measure like story points is that it's not a fixed measure of wall clock time, so we can analyze a team's velocity in terms of points / sprint. If that is not something we're interested in, we might as well simplify and just use wall clock time directly. ("This is a 1-day tic

[2017-05-10 16:11] shellicious commented on #1688
Discussed this with @cmgiven and other member of the design team. We think limiting special characters is over-optimizing, and we should not enforce a limit until it proves to be a problem.

[2017-05-10 16:14] gnakm commented on #1411
@mmlumba Can we keep it flexible?

[2017-05-10 16:16] kierachell commented on #1497
<img width="1052" alt="screen shot 2017-05-10 at 12 16 34 pm" src="https://cloud.githubusercontent.com/assets/18075411/25909240/8826f57c-357a-11e7-9501-8995d14e5e66.png">

[2017-05-10 16:20] shellicious commented on #1889
Updated mocks below, to reflect yesterday's conversation with @laurjpeterson and @shanear, where we concluded that we'll open another issue to discuss/define the content in the "Status" column. There are some edge cases we didn't realize existed to accommodate.

Once we decide on # of days, let's adhere to these mocks. I've made minor content changes to the heading of the first column in the table

[2017-05-10 16:20] astewarttistatech commented on #1497
Based on updated AC changes, this ticket is now Obsolete.

[2017-05-10 16:24] nicholasholtz commented on #1732
This might be understood, but the Date of Receipt on VBMS docs can move forward - just not beyond the date of upload. Generally speaking, the Date of Receipt should almost never be the date of scan/upload, so there is usually some leeway to move them forward.

[2017-05-10 16:25] astewarttistatech opened #1949 "Remove VBMS ID from Success page message"
To make success pages consistent along all of the products of Caseflow, the VBMS-ID of the veteran in Certification should be removed on the Success page to reduce redundancy.

**Acceptance Criteria:**
Success message should read, ' "_____'s case has been certified. You can now close this window and open another appeal in VACOLS.'

**Screenshots:**
<img width="961" alt="screen shot 2017-05-10 at 1

[2017-05-10 16:27] #1497 closed

[2017-05-10 17:08] shanear commented on #1920
To add to what @NickHeiner said, points are also independent of the person working on it. So a 2 point back-end story may take one person a week (because they are unfamilar with it) and another person 2 hours (because they are a back-end guru like @aroltsch).

When you move to wall clock time, it has to be personalized to the dev working on the story. At that point, each dev can decide for themsel

[2017-05-10 17:16] kierachell commented on #1715
**PASSED**
new FORM8 was uploaded to VBMS
<img width="1384" alt="screen shot 2017-05-10 at 1 15 16 pm" src="https://cloud.githubusercontent.com/assets/18075411/25911686/ca263228-3582-11e7-9c56-87e6672afb0e.png">

[2017-05-10 17:16] #1715 closed

[2017-05-10 17:20] shellicious commented on #1710
From a conversation with @shanear, @nicholasholtz, @amprokop, and @laurjpeterson, we've determined that BGS is not an accurate source of information about the representative.

**Assumptions resulting from conversations:**
- If VACOLS and VBMS (which is essentially the same thing as BGS) have matching representative information, we'll assume that the representative information is correct. We'll dis

[2017-05-10 17:24] cmgiven commented on #1732
Even if it does affect the received date, this is our opportunity to correct that date, yes? The goal I've seen to implement fuzzy date matching is because VBMS prevents entering the correct date, due to the fact that it can't be after the upload date. I don't think the goal is to allow ROs to avoid correcting VBMS when it can be corrected.

[2017-05-10 17:32] cmgiven commented on #1710
"Other" is the POA 0.6% of the time.

My note was that at some point, Caseflow will have to become the authoritative source of truth for POA, because it will be the only system that can associate POA on a per-issue basis. Rather than asking users to select a single POA, when in fact there could be multiple POAs, perhaps this will push us to assume responsibility for authoritative POA information.

[2017-05-10 17:44] shanear commented on #1710
@cmgiven What do you think about this statement for now:

[2017-05-10 17:49] cmgiven commented on #1710
That's news to me. VBA is splitting appeals with multiple reps? Has that been common practice? It seems counterproductive, as they'll just be merged back on the Board side.

[2017-05-10 17:50] shanear commented on #1710
According to @nicholasholtz and another attorney who I can't remember her name, yes. They also won't be merged back, this is the practice that the Board uses as well.

[2017-05-10 17:56] abbyraskin commented on #1649
@kierachell I'm moving this back, per conversation and new ticket above.

[2017-05-10 17:59] shanear commented on #1710
@shellicious A couple other assumptions we picked up that weren't listed:

1) The main problem is the VACOLS PoA being incorrect. VBMS can be assumed to be correct, since they are diligent to update VBMS with a new 21-22.

2) It's much less risky and difficult to update VACOLS than it is to update BGS/VBMS/CorpDB. If we accidentally update BGS with the wrong PoA it can cause lots of problems. I do

[2017-05-10 18:09] amprokop commented on #1710
@cmgiven @shanear — the other attorney was Brianne Ogilvie. And yes, from our discussions, those appeals do not get merged back together, the only way to support multiple POAs is with multiple VACOLS appeals.

[2017-05-10 18:11] amprokop commented on #1710
@shellicious — Agree that the page as written looks strange, but maybe that's because we're not showing details on the page. Didn't we specifically add a documents check success page? Is this different in some other way?

[2017-05-10 18:32] laurjpeterson commented on #1732
Since we should get this communication to Amy sooner rather than later, let's table the discussion of fixing dates for Form 9 and NODs until we have some more usability research on that issue (for both VBMS dates before and after VACOLS dates), and can gain wider buy-in across this group.

In my email, I'll highlight the proposal (that we're "considering") for SOCs and SSOCs: fuzzy date match for

[2017-05-10 18:35] abbyraskin commented on #1664
@kierachell putting this back into validation, per our conversation. I will create a ticket to reexamine the fit to screen interaction, e.g., to only have a single page in view

[2017-05-10 18:42] abbyraskin commented on #1438
#1538 incorporates the new table sizing - removing those AC from this ticket.

[2017-05-10 18:44] abbyraskin commented on #1438
re: dropdown width, now covered by  #1899

[2017-05-10 18:53] kierachell commented on #1649
**PASSED**

[2017-05-10 18:53] #1649 closed

[2017-05-10 18:54] kierachell commented on #1664
**PASSED**

[2017-05-10 18:54] #1664 closed

[2017-05-10 18:55] kierachell commented on #1438
**PASSED**

[2017-05-10 18:55] #1438 closed

[2017-05-10 19:08] amprokop commented on #1920
That sounds like an argument for assigning each ticket an estimate only when we assign it to a developer, which is actually what we did last time.

[2017-05-10 19:35] abbyraskin opened #1954 "Document Viewer | Display page count after document has rendered"
**Description**
Currently, when opening a large document, the page count increases as the page loads, causing confusion for users. Instead, we should show the total page count (after the document has rendered???) rather than adjusting the count as the page loads.

## Acceptance Criteria
- exact implementation TBD by engineers
- The total page count on the bottom toolbar in the PDF viewer does not

[2017-05-10 19:38] laurjpeterson commented on #1889
@amprokop based on conversations on the other fuzzy date issue ( #1732), we're moving forward with SOCs and SSOCs with VBMS dates 0-4 days before VACOLS dates. We could extend to NODs and Form 9s, but at a later time with more input and buy in.

Since the title of this issue includes Form 9s and NODs, confirming that the scope of this ticket and change you made is just for SOCs and SSOCs.

[2017-05-10 19:47] abbyraskin commented on #1904
Apparently we can't reproduce this (perhaps #1817 fixed it after all); closing this out.

[2017-05-10 19:47] #1904 closed

[2017-05-10 20:06] abbyraskin commented on #1853
@gnakm sorry for the slow response on this one!

Good thinking!! I like option 2 because of the vertical space constraints you mentioned. I also think it's logical for the hide menu to be in the top right, since it's a common placement for "close" actions.

- My only concern here is that the menu label looks almost identical to the clickable button. Wondering if we could distinguish these more (mo

[2017-05-10 20:10] abbyraskin commented on #1831
@joofsh Nicholas and Jane are no long able to log in to Reader. Are their User IDs on the whitelist as sys admin users (in the ticket description)?

[2017-05-10 20:10] abbyraskin commented on #1831
(I can create a new ticket if not)

[2017-05-10 20:14] abbyraskin commented on #1853
sorry, more thoughts:

- Annotation Menu rather than Document Menu?
- Do we need a header for the document itself...? I wonder if that section could be confusing. The document type would work, except it's also a link. hm.

[2017-05-10 20:51] abbyraskinUSDS opened #1957 "Document Viewer | Find: hard to see highlighted results on document page"
**Context**
Nick observed an attorney using Reader, and noticed that it was difficult to see the highlighted text when performing find (ctrl+f).

**Description**
Customize the way text highlighting appears on the page so it's easier to see.

[2017-05-10 20:59] laurjpeterson commented on #1732
We're a go!

Response from Amy:

Relevant excerpt from my email for transparency:

[2017-05-10 21:00] joofsh commented on #1831
Unrelated to this ticket, was due to block all System Admins except CSFLOW

[2017-05-10 21:00] abbyraskin opened #1958 "Documents List | Loading feedback"
**Story**
As a user, I want feedback to know when my document list is being loaded.

## AC
- Verify that Reader shows on white canvas when documents list are loading
- Verify that it says [Loading document list in Reader…] below the loader _(note: this is the correct copy, not what is in the mock)_

## Mockup
![image](https://cloud.githubusercontent.com/assets/13420618/25966796/127a26ec-365a-11e7-

[2017-05-10 23:26] kierachell commented on #1954
Should there also be a loader for the first time render? Like Dispatch?

[2017-05-10 23:34] kierachell opened #1959 "Document Viewer | Artifacts when rendering large documents and causing `scrollWindow` errors"
Probably do not want the following to happen:
<img width="974" alt="screen shot 2017-05-10 at 7 11 10 pm" src="https://cloud.githubusercontent.com/assets/18075411/25925598/83e9c8b2-35b7-11e7-9905-5602723eede1.png">

Usually this happens when a document is loading and then you navigate away from it. Upon return, the document seems to be stuck in this "semi-loaded" state.

## Steps

1. Get a big PDF

[2017-05-10 23:37] kierachell opened #1960 "Document Viewer | Switching between documents eats up memory"
So this is hard to fully debug and solution is not 100% obvious.

## Steps:

1. Go to Document Viewer
1. Open up developer console and start recording memory usage
1. Switch around documents a bunch
1. Scroll for some documents
1. Go back and forth between documents
1. Watch memory usage climb like crazy

I ran some benchmarks via Firefox console to see how much memory Reader is eating up and here

[2017-05-11 00:13] kierachell commented on #1960
Can confirm, just crashed my machine doing this... had a bit of a heart attack

[2017-05-11 00:26] kierachell commented on #1958
There's quite a humongous DB spam on Document List load and it definitely tends to time out with anything more than 200 documents.
Try in `preprod` VACOLS ids:
1505661 - timesout
1520165 - timesout
and
892756 - this one works...usually

With just a couple of these we generate 20mb+ of logs in under 15 mins.
Below is a **tiny** sample of a 42000+ page logfile.

[code]

Between VACOLS/VBMS and our o

[2017-05-11 00:29] kierachell commented on #1957
Is this browser specific?

<img width="592" alt="screen shot 2017-05-10 at 8 28 37 pm" src="https://cloud.githubusercontent.com/assets/18075411/25926803/5081ce5e-35bf-11e7-96fc-bde581d9c67f.png">
<img width="619" alt="screen shot 2017-05-10 at 8 28 50 pm" src="https://cloud.githubusercontent.com/assets/18075411/25926804/5088dd2a-35bf-11e7-9c47-d3b7b349c747.png">

[2017-05-11 10:54] slj commented on #1704
Since the other error headers are sentences, I changed the one for this issue to:

`We were unable to assign or create a new EP for this claim.`

[2017-05-11 11:37] tejans24 opened #1961 "Refactor Tags Controller to move more of the logic to the model"
See https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/controllers/establish_claims_controller.rb for an example

[2017-05-11 11:49] gnakm commented on #1741
@avrildavid Yeah I agree that the title should give more context.
@abbyraskin I'm going for option 1.

[2017-05-11 12:21] aroltsch commented on #1118
##Old Acceptance Criteria:

This task only requires writing code if the dev finds that the current code has a bug.

We need to be able to run:

FeatureToggle.enable!(:certification_v2, ["RO1213"]
and have Certification enabled only for RO 1213.
Then, we need to be able to run FeatureToggle.enable!(:certification_v2)
and have v2 enabled for all ROs.

Acceptance criteria

Enable certification v2 for

[2017-05-11 12:25] aroltsch commented on #1118
Hey @kierachell and @astewarttistatech, this ticket will resolve two issues:
1. https://github.com/department-of-veterans-affairs/caseflow/issues/1118#issue-212250976
2. https://github.com/department-of-veterans-affairs/caseflow/issues/1118#issuecomment-297698201

[2017-05-11 12:30] gnakm commented on #1852
This was originally in the above comment but dropping here:
Adding a comment: alt+c to get into add comment state,  places it in center of doc, press space to enter it...alt+enter to save. Returns to focus on document.

[2017-05-11 12:52] kierachell commented on #1803
**PASSED**
Started a task one day, completed next...didn't explode

[2017-05-11 12:52] #1803 closed

[2017-05-11 13:21] kierachell commented on #1522
Seems like this was already fixed
<img width="701" alt="screen shot 2017-05-11 at 9 20 38 am" src="https://cloud.githubusercontent.com/assets/18075411/25951278/2c4e892a-362b-11e7-83c1-a2d4b3dfda5e.png">

[2017-05-11 13:21] #1522 closed

[2017-05-11 13:25] amprokop commented on #1732
Awesome, thanks Lauren!

On Wed, May 10, 2017 at 4:59 PM, Lauren Peterson <notifications@github.com>
wrote:

[2017-05-11 13:25] kierachell commented on #1522
<img width="384" alt="screen shot 2017-05-11 at 9 25 48 am" src="https://cloud.githubusercontent.com/assets/18075411/25951463/d41a6070-362b-11e7-9393-545b207376eb.png">

[2017-05-11 13:51] astewarttistatech commented on #1409
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access the living style guide
2. Access the Text Area section
3. Validate the copy and marginal area against the AC

Screenshots:
<img width="1432" alt="screen shot 2017-05-11 at 9 32 15 am" src="https://cloud.githubusercontent.com/assets/23038505/25952727/72675352-362f-11e7-9b98-b3d7af38af4c.png">

[2017-05-11 13:51] #1409 closed

[2017-05-11 13:57] mmlumba commented on #1394
Shade and I worked on an issue that addresses a similar concern: https://github.com/department-of-veterans-affairs/caseflow/issues/1416

The message to handle that exception is here: https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/app/containers/EstablishClaimPage/EstablishClaim.jsx#L54

[2017-05-11 14:04] astewarttistatech commented on #1411
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access the living style guide
2. Navigate to the Character Limit section
3. In the text field, max out the text field until the character limit has been reached.
4. Validate that the behavior matches what is listed in the AC

Screenshots:
![sgcharacterlimit](https://cloud.githubusercontent.com/assets/23038505/25953383/29b

[2017-05-11 14:04] #1411 closed

[2017-05-11 14:18] astewarttistatech commented on #1899
Its wonky, because if you sit after the page scrolls to the last read (say it's at the bottom) it wil scroll to the top a few seconds after.  watch the last seconds. @NickHeiner
![readerlastread](https://cloud.githubusercontent.com/assets/23038505/25954057/23ce1aec-3633-11e7-9120-f2bcda9cdee1.gif)

[2017-05-11 14:26] kierachell commented on #1820
**PASSSED**
Prod works now too:
<img width="1154" alt="screen shot 2017-05-11 at 10 22 07 am" src="https://cloud.githubusercontent.com/assets/18075411/25954375/1a20aa18-3634-11e7-9ec1-5b8ec62f6947.png">

[2017-05-11 14:26] #1820 closed

[2017-05-11 14:27] kierachell commented on #1831
**PASSED**

Well, no one is complaining so just gonna close this.

[2017-05-11 14:27] #1831 closed

[2017-05-11 14:27] lakohl commented on #1883
@slj I learned that Reader is using a stage that takes up 85% of the canvas. I would like to use that size for Hearing Prep as well. It's a bit wider than what we use in the rest of Caseflow, but the extra space will be very valuable for later pages of Hearing Prep which are crammed with info and need to be printable. Hearing Prep feeds into reader, so there we will also be preserving continuity i

[2017-05-11 14:40] mmlumba commented on #1085
@gnakm @shanear I was thinking for the entire "Layout" section we could reference the `application.html.erb` file for our "View source code" link: https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/views/layouts/application.html.erb

What do you think?

[2017-05-11 14:59] nicholasholtz commented on #1710
Sent these questions to Christa Schriber, the attorney who runs the OGC Accreditation database:

•	Is there a requirement that attorneys, agents, and VSOs keep their address updated to maintain accreditation? We are looking for a source of truth for representative contact information.
•	Who maintains control of database on the IT side?
•	Do you know if it is possible to obtain access to the underl

[2017-05-11 15:08] mmlumba opened #1963 "Modal fix in style guide"
**Description:**

When in Caseflow Commons, as any user, and the user scrolls to "Modals", the Modal is does not pop up as the button is clicked.
![modal-error](https://cloud.githubusercontent.com/assets/4773320/25956554/09dcee7c-363a-11e7-8987-88d663355570.gif)

**Steps to Recreate:**

1. Go to style guide in Demo
2. Click on "Modals" in the side nav
3. Click the "Launch modal" button and notice

[2017-05-11 15:14] joofsh commented on #1651
@mmlumba  I think you fixed this in a ticket this sprint? If so can you verify & move this ticket to in validation?

[2017-05-11 15:18] joofsh commented on #1833
@cmgiven @kierachell I'm not aware of this occurring in production yet. Do we know of any real cases that are RO99?

Chris, are you saying anything that is assigned RO99 is automatically an NHA case? If so, do we want to automatically flag that special issue based on the appeal's RO value? Otherwise we are depending on the user to notice and assign it the NHA special issue.

[2017-05-11 15:19] mmlumba commented on #1651
Fixed in https://github.com/department-of-veterans-affairs/caseflow/issues/1524

[2017-05-11 15:33] abbyraskin commented on #1741
The header in the mock and the AC are off (which is fine as long as we call it out), so just want to make sure -- should the title say unsaved changes or unsaved comments?

[2017-05-11 15:35] abbyraskin commented on #1954
yes, we have a ticket for this.

[2017-05-11 15:37] abbyraskin commented on #1954
Yes, we have a ticket for this.

I will leave the implementation details up to our devs :) I can make the AC less descriptive in meantime

[2017-05-11 15:41] kierachell opened #1965 "App Canvas | What is our landing page after user logs out?"
# Description
When a user logs out or just goes to `https://appeals.cf.uat.ds.va.gov/` they land on a crappy-looking page. Should they be redirected to **What's New?**

<img width="936" alt="screen shot 2017-05-11 at 11 41 08 am" src="https://cloud.githubusercontent.com/assets/18075411/25958498/bed408d4-363e-11e7-91b0-a9240218660d.png">

## Reproduction Steps

**Scenario 1 -**

1. Go to `https://a

[2017-05-11 15:43] abbyraskin commented on #1957
The person was using Firefox. I wonder if it could be monitor related -- needs more investigation.

[2017-05-11 16:08] amprokop commented on #1920
Looks like the consensus might be —

- Continue estimating when ticket is assigned, so we can make sure it fits everyone's context/background
- Move to wall clock time for features. We could we assign each issue 1/2, 1, 2, or 2+ days (anything bigger should be broken down)
- Assign timeboxes to investigation items. So we'll explicitly say something like — "spend at most 1/2 day on this, then add y

[2017-05-11 16:08] cmgiven commented on #1833
Maybe @abbyraskin can confirm?

[2017-05-11 16:17] abbyraskin commented on #1833
yeah, anything without an existing VBMS station doesn't get an EP (tier 3 special issue -- even the VBMS station listed for the PMCs is misleading because it's shared w/ the entire RO), so I don't think this would ever happen (NCA is piloting VBMS and may have a station by now, but we are not creating EPs for them).

[2017-05-11 16:17] gnakm commented on #1741
@abbyraskin thanks. Didn't update the mock from bottom comment. It should be unsaved comments because changes can imply other things like categories, etc..

[2017-05-11 16:28] abbyraskinUSDS opened #1966 "Document Viewer | Advanced comment error handling"
**Description**

Right now if you add, edit, move, or delete a comment, users get the same generic message. We want issues to have errors tailored to each comment error situation (see #1854).

When there is an error in the backend, we should just try again once or twice but then those fail, show the follow errors for each type of action.

## AC

- When a user tries to **save** or **edit a comment*

[2017-05-11 16:47] slj commented on #1704
Solution in action (RSpec test):

![imod 2](https://cloud.githubusercontent.com/assets/1053255/25961310/d76fbc40-3647-11e7-8536-cc8ef3e01d3c.gif)

[2017-05-11 16:47] abbyraskin commented on #1966
This calls for a markdown box!

### Current state
Generic "unable to save" at top of comments section. This message disappears if a user performs another comment action successfully, or if they navigate away from the page.
![image](https://cloud.githubusercontent.com/assets/4042181/25961268/b3e9593e-3647-11e7-9d8c-1744865d18b5.png)

Action | Comment box behavior on fail | Message behavior on fail

[2017-05-11 18:36] kierachell commented on #1886
**PASSED**
Ran the job a few times, change the dispositions, didn't get errors

[2017-05-11 18:36] #1886 closed

[2017-05-11 18:38] gnakm commented on #1853
@abbyraskin Eureka! I learned something new. I talked to Shane and he said that we can have a screen reader that calls out something without existing on the page. Ex. For the mockup above, before it goes through all the toolbar (<back to all docs, zoom, etc..), we can have a screen reader just read "C&P exam document" or "Document of C&P exam." Then we can make the other side menu things `h2`

I d

[2017-05-11 18:41] gnakm commented on #1853
I wonder if we should also add in the screen reader "Annotation menu."
It will be helpful differentiate it from the toolbar.

[2017-05-11 18:43] abbyraskin commented on #1853
I concur!

[2017-05-11 18:46] gnakm commented on #1853
Back to `h1` what are your thoughts on the following:
- "Viewing [name of document type]" (This is the most accurate but i find this extremely ironic).
- "Reviewing [name of document type]"
- "Inside [name of doc type]"

[2017-05-11 18:57] gnakm commented on #1958
Original issue note:

**Context**
Nick observed an attorney using Reader and noticed it took a long time for the document list view to load, and we don't currently provide any feedback to users.

**Description**
- Add a loader icon _or some sort of indication that loading is happening_ to the empty documents list page as the documents load

[2017-05-11 19:08] nicholasholtz commented on #1710
Christa responded:

•	Is there a requirement that attorneys, agents, and VSOs keep their address updated to maintain accreditation?

•	Who maintains control of database on the IT side?

•	Do you know if it is possible to obtain access to the underlying data?

•	Am I correct in my assumption that there would be no PII concerns, since the database search is public.

•	Looking at the Excel file extra

[2017-05-11 20:22] joofsh commented on #1896
I think we can safely capture the product info we need within GA alone (avoiding PII). I don't see enough value in switching to something like Snowplow.

Things that I believe should apply to all Caseflow products:
- all url changes as the user navigates within mini-SPAs (dispatch is lacking this for sure)
- any sort of core submit success/failure events

Beyond that, I think what events we'll wan

[2017-05-11 20:40] tejans24 commented on #1808
This is resolved by PR #1900 on the backend.

[2017-05-11 20:48] tejans24 opened #1972 "Remove duplicates from Documents Tags columns in the join table before creating unique index"

[2017-05-11 21:37] NickHeiner commented on #1920
Those tasks are also single tickets. In practice, there weren't enough of them for that lack of granularity to matter.

[2017-05-11 21:41] abbyraskin opened #1973 "Document Viewer | Progress indication"
## Story

As a user, I want to know which document I am from the total number of document as from the document viewer

## AC
- Verify that at the bottom of the document viewer toolbar, there is a progress indicator in the order of Document [number of current document] of [total number of documents].
- Verify that if a user has filtered the documents list and opens a document, the document count is

[2017-05-11 21:42] abbyraskin commented on #1973
I suppose this is more of a "where am i" indicator than progress, but may serve a dual purpose their first pass through a case.

[2017-05-11 21:45] NickHeiner commented on #1899
@astewarttistatech I am not able to repro this. Are you at BVA on May 12th? Can you show me in person then?

[2017-05-11 21:47] #1972 closed

[2017-05-11 21:56] tejans24 commented on #1972
#1808 resolved this issue by querying the prod and fixing this issue manually before a unique index is created.

[2017-05-11 22:02] abbyraskin opened #1974 "Add Google Analytics in Reader"
### Tasks
- Figure out what we're already tracking, if anything, in GA
- Set up tracking for specific page elements.

### Questions to consider:
- How often are users searching (# of searches per case)? What are they entering into search?
- How are they using categories? Are they ever selecting multiple categories, and what combination(s)?
- How are they using the category filters? What combinatio

[2017-05-11 22:02] tejans24 commented on #1808
If there are existing duplicates in the document_tags table (document_id, tag_id), a unique index cannot be created. That is resolved by removing the duplicates before running the unique index migration.

[2017-05-12 05:13] tejans24 commented on #1243
@gnakm do we plan on replacing all dropdowns in caseflow with this dropdown?

[2017-05-12 13:10] astewarttistatech commented on #1651
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Reproduce:
1. Access Dispatch as a caseworker
2. Go through the happy path flow
3. Validate the Success page title is "Success" and not " Congratulations"

Screenshots:
<img width="1433" alt="screen shot 2017-05-10 at 8 09 01 am" src="https://cloud.githubusercontent.com/assets/23038505/25999288/85c7758a-36f2-11e7-809d-069d7f5db671.png

[2017-05-12 13:10] #1651 closed

[2017-05-12 13:20] astewarttistatech commented on #1090
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access the style guide
2. Navigate to the Layout section
3. From Layout section, validate the footer matches the specs found in the AC above.

Screenshot:
<img width="1375" alt="screen shot 2017-05-12 at 9 14 56 am" src="https://cloud.githubusercontent.com/assets/23038505/25999704/2bd88404-36f4-11e7-8f7e-0148fd5e09b2.png"

[2017-05-12 13:24] #1090 closed

[2017-05-12 13:29] astewarttistatech commented on #1500
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access certification v2
2. Go through the happy path flow
3. Validate that appropriate titles have grey line breaks under them (see the AC and mocks)

Screenshots:
![cv2greyline](https://cloud.githubusercontent.com/assets/23038505/26000068/7670ab8a-36f5-11e7-9979-8c4340d7b83f.gif)

[2017-05-12 13:29] #1500 closed

[2017-05-12 13:52] astewarttistatech commented on #1963
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access the style guide
2. Navigate to modals
3. Validate the modal behavior via AC

Screenshots:
![sgmodals](https://cloud.githubusercontent.com/assets/23038505/26000875/83070c4c-36f8-11e7-99fd-475b97bb514a.gif)

[2017-05-12 13:52] #1963 closed

[2017-05-12 14:00] abbyraskin commented on #1740
Moving this up in priority, as it applies both to issue tags and comments (a couple users have mentioned this as confusing)

[2017-05-12 14:37] gnakm commented on #1958
@kierachell @NickHeiner @abbyraskin

- Does this happen when 0 documents are showing?
- Are there instances when there are only some documents loaded?
- @abbyraskin I sorta talked about this -- we should consider when something new comes in while in Reader.

[2017-05-12 14:44] gnakm commented on #1958
^ questions answered.

- First step, we will invest why this is taking time
- Loader design will be used in case as a stop gap.

[2017-05-12 14:48] abbyraskin commented on #1851
@gnakm i'm moving this back in to triage until we finalize headings/order

[2017-05-12 15:00] NickHeiner commented on #1896
Also, what about [Hotjar](https://www.hotjar.com)? I have no idea if it's good; I just found it from the ads on the lodash docs.

[2017-05-12 15:10] gnakm commented on #1078
@Sjones352 Hey! I took out the max-width in the AC for this issue. Design team will revisit and probably put it back next sprint.

[2017-05-12 15:30] gnakm commented on #1085
1. To me that makes sense but I defer to @shanear for best answer for devs.
2. The idea was to have messages as a subsection of layout :)

[2017-05-12 16:03] kierachell commented on #1899
Seems like when switching documents around it will take you to last view, not last visited document.:

![lastreadswitch](https://cloud.githubusercontent.com/assets/18075411/26006561/e7e80316-370a-11e7-9d23-2dbf5d64ccc5.gif)

[2017-05-12 16:07] lakohl commented on #1940
Add gray #5b616b?
Also, when do we use the base #212121? I believe our default text color is #323a45

[2017-05-12 16:23] gnakm commented on #1940
@lakohl Adding `gray`I don't think #212121 is being used. I think that was added because of it was in the original caseflow style guide. I do wonder if we should use them for icons. Would love your thought on that.

[2017-05-12 16:52] mmlumba commented on #1467
@Sjones352 @abbyraskin I added the AC to have both the "Introduction" and "Training Videos" sub-copy to be lead paragraphs as specified by @gnakm

[2017-05-12 16:53] kierachell commented on #1118
**PASSED**

this API sucks, yo (why `enable!` requires array of strings, `enabled?` takes only models?); but whatever, no my problem.

<img width="1041" alt="screen shot 2017-05-12 at 12 52 53 pm" src="https://cloud.githubusercontent.com/assets/18075411/26008272/06088170-3712-11e7-8966-23792885a2e1.png">

[code]

<img width="1011" alt="screen shot 2017-05-12 at 12 53 25 pm" src="https://cloud.gith

[2017-05-12 16:53] #1118 closed

[2017-05-12 17:00] kierachell opened #1978 "Document Viewer | Unable to move comments between pages"
# Description
When viewing multi-page documents, a created comment does not move between pages.

## Reproduction Steps

**Scenario 1 -**

1. Go to Document Viewer
1. Make a comment
1. Try to move it to another page within that document
1. See it move to the same coordinates but on the page it already was.

**Validated in the following Envrionment(s)**
- [ ] Dev
- [X] UAT
- [X] Preprod
- [x] Prod

[2017-05-12 17:08] lakohl commented on #1940
I think that we are currently using #000000 for icons (in the footer) it's pretty close to #212121 we should decide on one or the other

[2017-05-12 17:33] abbyraskin commented on #1899
@NickHeiner I added some clarifying AC for the scenario where a user navigates to a document beyond the last saved scroll position. in this case (and only this case), we'll scroll the last read doc to the top of the list.

[2017-05-12 17:42] abbyraskin commented on #1978
thanks for documenting this one!

[2017-05-12 17:48] abbyraskin commented on #1960
@mdbenjam curious how you think we should approach this one

[2017-05-12 18:13] abbyraskin commented on #1431
Closing this out -- we can revisit if needed but it isn't looking likely.

[2017-05-12 18:14] #1431 closed

[2017-05-12 18:23] Sjones352 commented on #1467
### Screenshot

<img width="1280" alt="screen shot 2017-05-12 at 2 21 39 pm" src="https://cloud.githubusercontent.com/assets/23080951/26011262/6580e65e-371e-11e7-8277-c4d6ed9f3819.png">

[2017-05-12 18:27] astewarttistatech commented on #1302
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Go to Style Guide
2. Navigate to text field input
3. Verify the behavior based on AC above

Screenshots:
![sgtextfield](https://cloud.githubusercontent.com/assets/23038505/26011430/121b8a7c-371f-11e7-8c2c-2ccb870105db.gif)

[2017-05-12 18:27] #1302 closed

[2017-05-12 18:32] astewarttistatech commented on #1408
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access the style guide
2. Navigate to the text field error section
3. Validate the behavior based on the AC above

Screenshots:
![sgtextfielderr](https://cloud.githubusercontent.com/assets/23038505/26011601/c3f138a0-371f-11e7-8df5-fdd19afd299d.gif)

[2017-05-12 18:32] #1408 closed

[2017-05-12 19:37] tejans24 commented on #1201
The searching in the application is really slow because of the amount of redux store updates being made.
When a store has a lot of documents, every time a reducer returns a new state by performing a shallow-copy of the store, the app feels much slower and clunky.

Few ways to fix the problem:
* Don't update the store as frequently (use component state)
* Look into immutability js

[2017-05-12 19:44] kierachell commented on #1854
**PASSED**

checked adding/deleting/moving/editing/etc.
![failannotatte](https://cloud.githubusercontent.com/assets/18075411/26014085/30f33242-3729-11e7-8e2e-d1fa576d08bd.gif)

<img width="491" alt="screen shot 2017-05-12 at 3 40 00 pm" src="https://cloud.githubusercontent.com/assets/18075411/26014281/e0732b1e-3729-11e7-83f4-7789b9bd328e.png">

[2017-05-12 19:44] #1854 closed

[2017-05-12 20:14] nicholasholtz commented on #1959
Happened on a 20 page doc today.

[2017-05-12 20:40] NickHeiner commented on #1854
lol I love that you have your certificate of completion as a test doc.

[2017-05-12 21:03] abbyraskin opened #1982 "Speed | Investigate: faster document list loading"
The first time you open a case, it's slow to load the documents list.

Investigate ways to improve the speed by which we display the document list.

[2017-05-12 21:10] abbyraskin opened #1983 "Speed | Investigate: Almost all in-page interactions are slow when there are many documents"
All in-page interactions that use redux are delayed when viewing a case with many documents.

Investigate ways to increase the speed -- e.g., using a new library, such as immutable-js.

[2017-05-12 21:15] abbyraskin opened #1984 "Document Viewer | Investigate: speed when navigating between docs"
Currently, documents are slow to load when navigating between documents in the viewer.

Investigate ways to smooth/speed up navigation between documents.

## Dependent Story
#1983

## Related Story
#1959

[2017-05-12 21:15] abbyraskin commented on #1984
@NickHeiner can you add some engineering love to this 🙏

[2017-05-12 21:17] NickHeiner commented on #1983
To reproduce this locally, use `reader_id2`, which has many documents: http://localhost:3000/reader/appeal/reader_id2/documents.

The problem, as @tejans24 first discovered, is that when we have many documents, the redux reducer is slow, because copying all that data takes a long time.

Here's a [JSPerf test](https://jsperf.com/immutability-helper-v-immutablejs) for various ways we can implement t

[2017-05-12 21:56] abbyraskin opened #1985 "Annotations not saving properly to backend"
A couple users have reported problems saving comments. I noticed that when a new tab is open and a category is added, if I refresh the other tab with the same doc open, the category does not appear.

Investigate what is happening and if/how all these errors are related.

![image](https://cloud.githubusercontent.com/assets/4042181/26219188/d73c436c-3bdb-11e7-8012-f8153e7d277b.png)

[2017-05-12 21:56] NickHeiner commented on #1983
Based on the advice on [redux.js.org](http://redux.js.org/docs/faq/Performance.html#do-i-have-to-deep-clone-my-state-in-a-reducer-isnt-copying-my-state-going-to-be-slow), we may wish to investigate making our state shallower, so fewer copies are necessary.

![image](https://cloud.githubusercontent.com/assets/829827/26018326/30605c02-373c-11e7-820f-8e91013b8d5f.png)

In this example, we can see tha

[2017-05-12 22:33] NickHeiner commented on #1201
After an in-person discussion, we are going to close this for now. It is better to address the root cause with #1983.

[2017-05-12 22:33] #1201 closed

[2017-05-12 22:51] gnakm commented on #1958
dropping this here:
![image](https://cloud.githubusercontent.com/assets/13420618/26019546/0c8b04b4-3744-11e7-9aff-8ca7a874c55b.png)

[2017-05-13 01:34] kierachell commented on #1959
This is also causing production errors like:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/207/

![scrollwindow](https://cloud.githubusercontent.com/assets/18075411/26021433/d34f48ba-375a-11e7-9c6f-d73e01a28efe.gif)

[2017-05-13 19:28] kierachell commented on #1740
While I wholeheartedly approve of the commit messages...currently, only navigation within the comment works:
![keysonly](https://cloud.githubusercontent.com/assets/18075411/26028541/c2e5e2ae-37f0-11e7-829b-afce5982095e.gif)
## Does not work:

[2017-05-13 19:34] kierachell commented on #1909
**PASSED**
Superfun!
<img width="862" alt="screen shot 2017-05-13 at 3 31 42 pm" src="https://cloud.githubusercontent.com/assets/18075411/26028577/9ec6d346-37f1-11e7-9c39-22ab75496bfa.png">
<img width="838" alt="screen shot 2017-05-13 at 3 33 01 pm" src="https://cloud.githubusercontent.com/assets/18075411/26028576/9ec65c4a-37f1-11e7-81e2-99752b254a6c.png">
<img width="266" alt="screen shot 2017-05

[2017-05-13 19:34] #1909 closed

[2017-05-13 19:39] kierachell commented on #1808
**PASSED**
[code]

[2017-05-13 19:39] #1808 closed

[2017-05-13 19:58] kierachell commented on #1606
**PASSED**
seems to be fixed now
<img width="772" alt="screen shot 2017-05-13 at 3 57 22 pm" src="https://cloud.githubusercontent.com/assets/18075411/26028769/e13ad9d6-37f4-11e7-93c1-9bab77d88728.png">

[2017-05-13 19:58] #1606 closed

[2017-05-13 20:01] kierachell commented on #1983
Probably related to:
https://github.com/department-of-veterans-affairs/caseflow/issues/1958

[2017-05-13 20:10] kierachell commented on #1872
Not seeing that story linked here so just gonna keep dumping stuff into this

[2017-05-13 20:13] kierachell commented on #1949
**PASSED**
BEcause I can
<img width="963" alt="screen shot 2017-05-13 at 4 12 39 pm" src="https://cloud.githubusercontent.com/assets/18075411/26028886/0a882fda-37f7-11e7-8b5f-4a8bd2935e7e.png">

[2017-05-13 20:13] #1949 closed

[2017-05-13 20:20] kierachell opened #1987 "Confirm Hearing | Hearing Cancellation passes incorrect values to Form8"
# Description
When filling out Certification v2 questions about hearing cancellation
If *Yes* is selected for _Was a hearing cancellation or request added after <date>?_
And _They cancelled their hearing request_ is selected,
Then an incorrect value will be passed for Form8 which will cause server-side errors.

## Reproduction Steps

**Scenario 1 -**

1. Go to make a certification
1. On **Confirm

[2017-05-15 12:00] astewarttistatech commented on #1704
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Dispatch as a caseworker
2. Go through the steps of establishing a claim with a remand
3. When the caseworker lands on the 'Route Claim' page, verify that the modifier is "read-only" by trying to manipulate it and then select "continue"

Screenshots:
<img width="1144" alt="screen shot 2017-05-15 at 7 55 39 am" src=

[2017-05-15 12:00] #1704 closed

[2017-05-15 14:20] shanear opened #1988 "Process Private Attorney full grants in Dispatch"
As a Caseworker, I want to process Private Attorney full grants in Dispatch and properly route them to Regional Offices.

## Acceptance Criteria
- The Create Establish Claim should create tasks for Full grants with a private attorney marked in VACOLS.
- If a Private Attorney is marked in VACOLS (`BFSO` is `"T"`), the "Private Attorney or Agent" checkbox should be automatically checked on the Revie

[2017-05-15 14:21] cmgiven commented on #1988
Note that we need to vet this change with AMO before moving forward.

[2017-05-15 14:55] mdbenjam commented on #1606
Has the commons gem reference been updated? This will only show up when that happens. I'm not sure when that will be, but eventually I think this will come back.

[2017-05-15 14:56] mdbenjam commented on #1960
@abbyraskin I'm not sure yet, but it's probably fairly high priority. I'm wondering if we need to explicitly clean up stuff from pdfjs.

[2017-05-15 15:00] NickHeiner commented on #1740
I am not convinced that this is even supported in `react-select`. If you go to the demo page, the arrow keys do not move between tags: http://jedwatson.github.io/react-select/. I think we should remove this AC and then the ticket will pass.

@mdbenjam @abbyraskin @gnakm thoughts?

[2017-05-15 15:03] NickHeiner commented on #1958
@gnakm I like the "retrieving files" messaging but by default we won't have enough information to add a deterministic loader. We could add that info, but it'll make this task take longer.

[2017-05-15 15:07] gnakm commented on #1907
@tejans24 Sounds like this was already done? Can you confirm and close please 😁

[2017-05-15 15:08] NickHeiner commented on #1984
@abbyraskin what specifically would you like? :smile:

We should do #1983 before we do this, since #1983 will affect all client-side interactions.

[2017-05-15 15:10] gnakm commented on #1425
This is a super WIP issue because the expanded comments like look different based on feedback.

[2017-05-15 15:13] astewarttistatech commented on #1690
@shanear Could you take another look at the AC? Based off the mocks there is no mention of an edit /save button next to the lock in the manager view. Is this in scope? Because this changes how the functionality works (there are different button clicks).

 Current view:
<img width="1347" alt="screen shot 2017-05-15 at 11 05 01 am" src="https://cloud.githubusercontent.com/assets/23038505/26064331/a2

[2017-05-15 15:16] lakohl commented on #1091
https://va-gov.invisionapp.com/d/main/#/projects/prototypes/11033393 for mocks

[2017-05-15 15:20] gnakm opened #1989 "Styleguide component enhancement | Label spacings"
## Description
Currently the form field component text labels are still too close to the. We need to do a scrub and add 8px spacing between text and fields

## AC
- [ ] Verify that the following have text and required labels have 8px `margin-bottom`
  - Dropdown Menus
  - Character limit
  - Text area
  - Text input
- [ ] Verify that the following have text and required labels have 20px `margin-bo

[2017-05-15 15:24] tejans24 commented on #1437
Double scrolling is fixed

[2017-05-15 15:29] tejans24 commented on #1907
#1976 fixes this issue

[2017-05-15 15:29] astewarttistatech commented on #1467
Hey @Sjones352 the spacing in "Coming Soon" is off.

Current view:
![readerhelp](https://cloud.githubusercontent.com/assets/23038505/26065371/b830d2f2-3961-11e7-9877-ed1e73a2271c.png)

[2017-05-15 15:35] mdbenjam commented on #1958
We'd be able to do something like that progress bar much more easily after we prefetch the files using eX. Though, we may not even need a spinner in that case.

[2017-05-15 15:36] gnakm commented on #1958
I also like retrieving files because it provides a little more information on what is actually happening and currently the other time we use is for eX and eventually that is what we will be doing.

Investigating speed would be step 1 but if we need to, we can put the starwave loader as a stop gap before adding the retrieving files message. On the contrary, this might be more work then necessary.

[2017-05-15 15:41] astewarttistatech commented on #1078
@Sjones352 where can I access the spacing? Inspector isn't showing it currently.

[2017-05-15 15:43] shanear commented on #1889
Changing AC to match the conversation.

## Old AC
    If the VACOLS date for NOD, SOC, any SSOCs, or the Form9 is 1-3 days after the VBMS date for NOD
        The success page should show up when visiting /certifications/new/ID
        The user should be able to certify the appeal
        The non-matching dates should both be displayed in the table.
        Some explanatory text should appear expl

[2017-05-15 15:59] kierachell commented on #1907
**PASSED**

<img width="594" alt="screen shot 2017-05-15 at 11 55 02 am" src="https://cloud.githubusercontent.com/assets/18075411/26066603/6bbccd96-3965-11e7-8ce5-d365877f2d56.png">

<img width="547" alt="screen shot 2017-05-15 at 11 55 15 am" src="https://cloud.githubusercontent.com/assets/18075411/26066590/63958e28-3965-11e7-8919-307be4009733.png">

<img width="727" alt="screen shot 2017-05-15 a

[2017-05-15 15:59] #1907 closed

[2017-05-15 16:19] NickHeiner opened #1992 "Discussion: ImmutableJS"
Reader would like to add [ImmutableJS](https://facebook.github.io/immutable-js/) as our way of storing Redux state, and anything else that makes sense. We are doing this because we are experiencing performance problems for cases that have large numbers of documents, annotations, and tags, which make the Redux state very large, which makes updating it slow.

I did a [performance test](https://jsper

[2017-05-15 16:24] abbyraskin commented on #1884
- We probably want to account for errors, e.g., if they enter a page that doesn't exist in the document

[2017-05-15 16:51] askldjd commented on #1992
My thoughts:

ImmutableJS comes with a lot of tradeoff. It works great for optimizing very specific scenarios, but often backfire when it leaks to other simple components. It makes code harder to read, unit test harder to write, and interoperability issue with other library (have to use `toJS()`, which is sloowww).

I think Redux covers the Cons of this library a lot better. http://redux.js.org/do

[2017-05-15 17:24] mmlumba commented on #1940
@gnakm @lakohl `grey-light` is actually #a3b0b5 in USWDS

[2017-05-15 17:34] lakohl commented on #1940
@mmlumba indeed you are correct about grey-light. Thanks for updating!

[2017-05-15 17:46] lakohl commented on #1940
Wait, @mmlumba grey-light is actually: #aeb0b5

[2017-05-15 18:21] mmlumba commented on #1940
@lakohl  you're right! changing that

[2017-05-15 18:46] gnakm opened #1996 "Document Viewer | Top Toolbar Redesign"
## Context
We revisited everything from a 508 POV and reordered the top toolbar accordingly. Document name is h1 and we wanted it to come before the zoom options. We also added the download option on the toolbar.

## Acceptance Criteria
-  Verify the new ordering of buttons:
1. Back to document list
2. Category tabs
3. Document type
4. zoom + download icons  (_note_: _Note:_ the download icon shou

[2017-05-15 18:46] avrildavid commented on #1896
@amprokop - what google analytics do we already have in place for the Certification V2 NYRO pilot? Is there anything else that should be added?

cc @wturne @laurjpeterson

[2017-05-15 18:49] Sjones352 commented on #1078
@astewarttistatech try Inspector now. It's working right.

[2017-05-15 18:53] gnakm opened #1997 "Document Viewer | Receipt date edit option"
## Description
We've heard from many users that receipt dates may be wrong and we want to allow users to edit and update the date in VBMS through reader.

## AC

- [ ] Verify that users can go into edit mode by clicking the "edit" link next to receipt type
- [ ] Verify that user can edit date using the date input component that will be added to [style guide](https://github.com/department-of-vetera

[2017-05-15 18:55] Sjones352 commented on #1467
### Fixed
<img width="1080" alt="screen shot 2017-05-15 at 2 55 15 pm" src="https://cloud.githubusercontent.com/assets/23080951/26074081/9215f5c6-397e-11e7-9960-5bfadde9b305.png">

[2017-05-15 18:57] gnakm opened #1998 "Documents List | Claims folder details"
**Description**
It would be awesome if we can get information of a brief face at the top of the documents lists.

## AC
- [ ] Verify that there is an accordion labeled `Case details` that is in the style of the USWDS accordion with border with all of claim detail information inside See [accordions in style guide](https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/sty

[2017-05-15 19:00] gnakm opened #1999 "Reader | Welcome gate"
## Description
This is operation, **"Let's get rid of URL hack!"** Currently users have to type in the Veteran ID number in the URL in order to access Reader. Let's give them a better experience!

## AC
### Welcome message
- [ ] Welcome message `h1` from [styleguide](https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/styleguide#typography)
- [ ] Body message in lead

[2017-05-15 19:02] gnakm opened #2000 "Document list | Docs newest to oldest by default"
Currently, the Receipt Date is displayed oldest to newest. Instead, we should display this list newest-oldest by default.

## AC
- The Receipt Dates are displayed newest (most recent date) to oldest by default

[2017-05-15 19:13] abbyraskin commented on #1984
I think I was concerned about the vagueness -- but understanding the order is helpful, thanks.

[2017-05-15 19:25] amprokop commented on #1907
Ay! Nice

On Mon, May 15, 2017 at 12:00 PM, Artem Vovk <notifications@github.com>
wrote:

[2017-05-15 19:38] kierachell opened #2001 "App Canvas | Continue button loading animation in IE"
# Description
When clicking **Continue** buttons or any other button that makes an API call
The **Loading** indicator is not animated as expected

Seems to be IE-specific

Accompanied by
[code]

## Reproduction Steps

**Scenario 1 -**

1. Go to Certification v2
1. Click **Continue**
1. Watch a lame loading non-animation

**Validated in the following Envrionment(s)**
- [ ] Dev
- [X] UAT
- [ ] Prepr

[2017-05-15 19:41] kierachell opened #2002 "Review Decision | Special Issue Categories show up as one column in IE"
# Description
When reviewing a decision document in dispatch,
_Special Issue Categories_ show up as one column in IE

## Reproduction Steps

**Scenario 1 -**

1. Go to Dispatch using IE
1. Start establishing next claim
1. Scroll down on **Decision Review** page
1. See _SIC_ as one column

**Validated in the following Envrionment(s)**
- [ ] Dev
- [ ] UAT
- [ ] Preprod
- [ ] Prod

## Screenshots
**_

[2017-05-15 20:07] NickHeiner commented on #1983
Update on the value of flattening the data:

With #1994 applied, I've anecdotally tested the reducer update time for:

[code]

Anecdotally, this takes around `~20-30ms`.

If I flatten it to:

[code]

then it takes around `~2-5ms`. So speaking very roughly, we may see a `4x-10x` speedup in reducer time by flattening our data structure.

Note that if reducer time is not the hotspot, then this is not

[2017-05-15 20:27] amprokop opened #2003 "Fetch POA info from BGS and VACOLS and display it in the ConfirmCaseDetails UI."
Create the backend infrastructure for fetching, processing, and displaying POA information.

We’ll want to make a class named PowerOfAttorney. That class should handle the following operations:

- fetching POA from VACOLS and converting it into our format
- fetching POA from BGS and converting it into our format

## Acceptance Criteria ##
- The ConfirmCaseDetails page should display POA informatio

[2017-05-15 20:35] amprokop opened #2004 "Fetch POA address information from BGS and VACOLS and save it on the backend."
Context: https://github.com/department-of-veterans-affairs/caseflow/issues/1710

When starting Certification, the VACOLS POA address and the BGS POA address should both be saved in our DB (or should we wait until certification and fetch the addresses on the fly?)

[2017-05-15 20:42] amprokop opened #2005 "Update POA address information in VACOLS from BGS POA address if necessary"

[2017-05-15 20:42] amprokop opened #2006 "Allow user to choose if BGS or VACOLS POA info is correct, and update VACOLS on certification if necessary"

[2017-05-15 22:15] mdbenjam commented on #1958
@gnakm that sounds good to me. Also should it say `Loading document list` without the s on documents?

[2017-05-16 01:41] kierachell commented on #1899
**PASSED**
AYYY!
![lastread](https://cloud.githubusercontent.com/assets/18075411/26086203/477b3ac4-39b7-11e7-949e-37a026fac466.gif)

[2017-05-16 01:41] #1899 closed

[2017-05-16 01:46] kierachell commented on #1437
## Issue tags should take up width of searchable dropdown. If it passes the width, it should extend to next row.
![longissues](https://cloud.githubusercontent.com/assets/18075411/26086276/bdbf24d4-39b7-11e7-8aab-ae09f834db9b.gif)

sorry @tejans24 ... I had to...

[2017-05-16 12:05] #1833 closed

[2017-05-16 13:04] kierachell commented on #1806
**PASSED**
font size 18px
<img width="720" alt="screen shot 2017-05-16 at 9 03 15 am" src="https://cloud.githubusercontent.com/assets/18075411/26107228/8e2fbcce-3a16-11e7-8681-b7fc7e7f4a4e.png">
space between the text and the bar is high enough (impossible to measure).

[2017-05-16 13:04] #1806 closed

[2017-05-16 13:15] NickHeiner commented on #1984
I'm actually happy with the level of specificity – it's an open-ended ticket.

[2017-05-16 13:27] abbyraskin commented on #1984
👍 great - it didn't get the usual "story time" vetting so just wanted an engineer's eye on it. thank you!

[2017-05-16 13:49] astewarttistatech commented on #1243
@tejans24 Mocks are still not updated. Pushing this back.

[2017-05-16 13:54] astewarttistatech commented on #1078
**FAILED**

Spacing found in inspector between elements is incorrect.

Current view of spacing in inspector:
![sgtypography1](https://cloud.githubusercontent.com/assets/23038505/26109448/9c43cfba-3a1d-11e7-9f3f-5dbba9d5c65f.gif)

[2017-05-16 14:02] astewarttistatech commented on #1467
**PASSED**

Validated In: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access /reader/help
2. Verify UI and copy against mocks

Screenshots:
![readerhelp](https://cloud.githubusercontent.com/assets/23038505/26109918/b75e9f2c-3a1e-11e7-9a2e-444b1d10f2eb.png)

[2017-05-16 14:02] #1467 closed

[2017-05-16 14:05] astewarttistatech commented on #1940
**PASSED**

Validated in: UAT
Browsers: Chrome and FF

Steps to Validate:
1. Access /styleguide
2. Verify the colors have been added per Mocks and AC

Screenshots:
<img width="1374" alt="screen shot 2017-05-16 at 10 04 02 am" src="https://cloud.githubusercontent.com/assets/23038505/26110051/27d8c5de-3a1f-11e7-9879-ec971b0d4a5e.png">

[2017-05-16 14:05] #1940 closed

[2017-05-16 14:06] kierachell commented on #1690
## The flow between the lock and Edit/Save is mildly confusing. It is unclear if the lock means `uneditable` or `save` or `non-recomputable`

## Also, the table shifts all weird, as shown above

[2017-05-16 14:16] gnakm commented on #1958
@mdbenjam yes let's go with Loading document list

[2017-05-16 14:24] gnakm opened #2010 "Document list | The life and death of Categories"
We are testing the usability and effectiveness of the categories feature for the pilot.

If we decide to go with them, here are the next steps:
- Users should be able to choose/edit categories and filter documents on list page
- Cannot use color to denote meaning so we're going to have to tag or use text somewhere that is not hidden

[2017-05-16 14:31] NickHeiner commented on #1992
I agree that it's important to have perf data indicating that the reducer is the hotspot. We thought we had initial data showing this, but as we've dug in more, it appears that `render` is indeed the bottleneck. I'm going to close this for now, but we may revisit later.

[2017-05-16 14:31] #1992 closed

[2017-05-16 14:41] shanear commented on #1690
@gnakm @lakohl thoughts on the first bullet?

The second bullet is my bad.

[2017-05-16 14:43] tejans24 commented on #1437
@kierachell There is a another issue; #1875 covers that.

[2017-05-16 15:27] lakohl opened #2012 "Route Claim: Create EP, re-label EP codes"
ARC has implemented new EP codes without warning. They are now live. Therefore we need to re-label the EPs we create in Dispatch so that they are in sync with the new EP label structure and can be processed correctly.

**When we have all the necessary info we should make this update behind a feature flag as AMO will need to be alerted before we implement the change.**

## AC
When we create an EP f

[2017-05-16 15:38] abbyraskin commented on #1740
@NickHeiner I removed the AC. (This is not ideal from an accessibility standpoint, but it sounds like this would require a lot of effort, particularly for a feature that may change. So +1 to holding off on this right now.)

[2017-05-16 16:28] kierachell commented on #1740
**PASSED**
based on updated AC

[2017-05-16 16:28] #1740 closed

[2017-05-16 17:09] gnakm commented on #1690
@shanear I revisited the flow of this and I think this might make more sense. It is also Lara-approved. I'm going to break it down so I the logic written out. Let me know if this makes sense to you.

Everything will be defaulted to unlocked and user will have the option to lock it or edit the case assigned number.
![image](https://cloud.githubusercontent.com/assets/13420618/26118383/b454b2b2-3a37-

[2017-05-16 17:18] lakohl commented on #2012
@kierachell is checking with the VBMS team on the appropriate claim label code for Remands and Partial Grants

[2017-05-16 17:19] lakohl commented on #2012
@kierachell once this issue gets implemented we should probably include a new EP labels in our next UAT test with Jennifer Powell

[2017-05-16 17:36] nemodjuric commented on #1895
@shellicious Should/does Header.jsx with officer's name and appeal ID(see pic below) belong to app canvas? The css id used in referenced ticket is cf-app-segment--alt which makes background white. Neither our Header nor our Progress Bar components have white background.
![caseflow certification 2](https://cloud.githubusercontent.com/assets/4960030/26119009/c43468ba-3a39-11e7-91d8-8a6273943321.png)

[2017-05-16 17:53] mmlumba commented on #1895
Ok...I'm gonna take a stab at this based on previous style guide work. Please correct me @gnakm if I'm wrong.

The term "App Canvas" contains most of the information that the user interacts with in order to go through a workflow. See this ticket for details: https://github.com/department-of-veterans-affairs/caseflow/issues/1088

The Header (containing progress bar and officer name) is _not_ a part

[2017-05-16 18:38] nemodjuric commented on #1895
If that stands, this issue is already fixed. @shellicious
<img width="1248" alt="screen shot 2017-05-16 at 2 27 02 pm" src="https://cloud.githubusercontent.com/assets/4960030/26122399/57e3f4c6-3a45-11e7-941f-4c9ee8c57348.png">

[2017-05-16 18:42] gnakm commented on #1973
Original comment:

[2017-05-16 19:04] shanear commented on #1690
@kierachell e, pi and tao are numbers 😄

[2017-05-16 19:37] kierachell opened #2015 "Document Viewer | Dropdown shows "create new tag" when it's actually being assigned"
# Description

When there is an existing tag (tag1) on one+ documents,
and I go to add a tag to a new document and type in the same text as on tag1 but add a space at the end, the dropdown shows that I will be "creat(ing) a new tag" even though it is actually assigning tag1

## Reproduction Steps

**Scenario 1 -**

1. Go to Document Viewer
1. take document 1 and create tag `a`
1. go to document 2

[2017-05-16 19:49] Sjones352 commented on #1575
@lakohl Should I change this too. <h1> Route Claim <h2> Send Email Notification

<img width="1071" alt="screen shot 2017-05-16 at 3 46 52 pm" src="https://cloud.githubusercontent.com/assets/23080951/26125147/1c4c5f2a-3a4f-11e7-8369-1d9b1cc17ed9.png">

[2017-05-16 20:01] kierachell commented on #1437
**PASSED**
made issue #2015 for follow up and to avoid scope creep

[2017-05-16 20:01] #1437 closed

[2017-05-16 20:04] lakohl commented on #1575
@Sjones352 Yes! Good catch. I updated the AC.

[2017-05-16 20:17] kierachell commented on #1729
**PASSED**
![tagstate](https://cloud.githubusercontent.com/assets/18075411/26126307/1cf35c54-3a53-11e7-8ea8-d487ceb94170.gif)

[2017-05-16 20:17] #1729 closed

[2017-05-16 20:38] gnakm commented on #1997
Things to investigate:

- Should the document type be a typeahead? What is it currently in VBMS? Dropdown?
- Will changing the date input field effect how data is changed in VBMS?

[2017-05-16 21:09] joofsh commented on #1531
No problem from me either. As long as this works with our npm caching server, this should be feasible. I'd love to get rid of the npm shrinkwrap file 👍

[2017-05-16 21:12] joofsh commented on #1992
Looks like I'm late to the party, but +1 what @askldjd said. I've generally found the performance gains from ImmutableJS to not be worth it. It adds yet another layer of abstraction to our frontend, making the barrier of entry for new engineers to the team even higher. I think we should be really careful with adding new tools like this.

We can get larger performance gains by flattening or redux s

[2017-05-16 21:15] kierachell opened #2016 "Document Viewer | Can't add comments if the list of tags is big"
# Description
When there are a bunch of tags; the Add/Delete/Edit Comment functionality scrolls off screen

## Reproduction Steps

**Scenario 1 -**

1. Go to a document
1. Add a bunch of tags
1. Try to add comments
1. Try to edit comments
1. Be sad

**Validated in the following Envrionment(s)**
- [ ] Dev
- [ ] UAT
- [X] Preprod
- [ ] Prod

## Screenshots
**_Scenario 1 - [Comment scrolls]_**
![disa

[2017-05-16 21:24] NickHeiner commented on #1992
For what it's worth, my perf tests suggest that moving from immutability-helper to ImmutableJS will give approximately a 7x improvement, whereas flattening the redux structure and staying on immutability-helper will give close to a 2x improvement. So I don't agree that we can get larger gains by flattening the redux shape as opposed to switching to ImmutableJS, but I agree that focusing on wasted

[2017-05-16 21:42] kierachell commented on #2012
Sent a question to VBMS team; they have not replied with any information yet.
Can you post the documented proposed changes here - @lakohl @nicholasholtz ?
Meanwhile I will explore VBMS

[2017-05-16 21:45] gnakm opened #2018 "Document List | Receipt date sort"
## Description
Currently the receipt date sort is defaulted from oldest to newest but we heard from user research that they usually start from newest to oldest

## AC
- [ ] Verify that search is defaulted from newest to oldest

[2017-05-16 21:55] gnakm commented on #1999
Can we get the FAQ in for Milestone 2?
What will be the requirement for entering ID?

[2017-05-17 13:00] kierachell opened #2021 "Document List | Infinite recursion breaks Internet Explorer and causes BaseContainer errors"
# Description
When anyone uses IE to view Document List,
The browser or whatever runs out of stack space on render - probably due to infinite recursion

## Reproduction Steps

**Scenario 1 -**

1. Get IE
1. Go to Reader with 100+ documents
1. Watch sentry
1. Watch page barely load

**Validated in the following Environment(s)**
- [ ] Dev
- [ ] UAT
- [X] Preprod
- [X] Prod

## Logs:

[code]

## Sent

[2017-05-17 13:55] abbyraskin commented on #1959
Curious to see if #1984 fixes this.

[2017-05-17 14:13] abbyraskin commented on #1997
Technical feasibility investigation here -- https://github.com/department-of-veterans-affairs/appeals-design-research/issues/211

[2017-05-17 14:14] abbyraskin commented on #1997
We also need to think about error handling, since it will require specific/constrained inputs.

[2017-05-17 14:16] mmlumba commented on #1082
@gnakm Link to invision doesn't work

[2017-05-17 14:21] askldjd commented on #1992
The issue is already closed, but the topic of performance always interest me. Just throwing out my thoughts on this.

The benchmark above highlights the strength of ImmutableJS. It is really really good at doing immutable updates. But whenever there is a data structure change, there is usually a trade-off. For immutable, in addition to programming complexity, you pay for it at access time.

Here's

[2017-05-17 14:22] abbyraskin commented on #1851
Note: top toolbars are changing, see #1851

[2017-05-17 14:36] abbyraskin opened #2022 "Document Viewer | Add download functionality"
**Story**
When reviewing documents, I want to download occasionally so I can print specific pages for my VLJ on request.

## Acceptance Criteria
- Verify that the download icon appears to the right of the zoom icons on the to toolbar
- Selecting download icon downloads the current document with default document type and ID

## Design
[Download icon in white](https://github.com/department-of-vetera

[2017-05-17 14:48] abbyraskin commented on #1670
Closing as a duplicate of #2022

[2017-05-17 14:48] #1670 closed

[2017-05-17 14:54] abbyraskin commented on #2000
Closing, duplicate of #2018 :)

[2017-05-17 14:54] #2000 closed

[2017-05-17 14:59] shanear commented on #1920
- Everyone agrees on timeboxing investigative tasks
- 1,2,3,5: throw up numbers after every story.
- reassess how it's working in a month.

[2017-05-17 15:00] #1920 closed

[2017-05-17 15:11] kierachell commented on #1484
## It was all going great...
<img width="472" alt="screen shot 2017-05-17 at 11 09 56 am" src="https://cloud.githubusercontent.com/assets/18075411/26161301/8dedd6e8-3af1-11e7-8865-03047c9ac2e0.png">
<img width="605" alt="screen shot 2017-05-17 at 11 10 00 am" src="https://cloud.githubusercontent.com/assets/18075411/26161300/8debf832-3af1-11e7-9764-d88eb3d5b25b.png">
<img width="546" alt="screen sh

[2017-05-17 15:44] mmlumba commented on #1575
Original AC for 7 (changed to make clearer technical requirements):

[2017-05-17 16:47] kierachell commented on #1690
Yes, but it only allows me to put `e`...not `pi` and `tao`..that's why I was sad

[2017-05-17 16:55] amprokop opened #2023 "Standardize `configureStore` across apps."
And other React/Redux configuration where approps.

[2017-05-17 17:19] kierachell commented on #1690
### Boxes are still exploding:
<img width="477" alt="screen shot 2017-05-17 at 1 02 10 pm" src="https://cloud.githubusercontent.com/assets/18075411/26166297/111ae25e-3b01-11e7-91d1-4db7dcbb1f5e.png">

### The `Edit` button and the `lock` placement does not match the mocks...
<img width="107" alt="screen shot 2017-05-17 at 1 15 31 pm" src="https://cloud.githubusercontent.com/assets/18075411/2616683

[2017-05-17 17:26] kierachell commented on #1666
![clickableornot](https://cloud.githubusercontent.com/assets/18075411/26167256/5540e886-3b04-11e7-99cb-f9db8af015b9.gif)

[2017-05-17 17:48] nikitarockz commented on #1250
At my previous job we used OneClick to remotely install our apps.

[2017-05-17 17:56] shanear commented on #1690
@kierachell fixed the issues you mentioned

[2017-05-17 17:59] shellicious commented on #1484
@kierachell @sharonwarner copy nit:

Instead of the error message "Please select a Form or statement", let's use the copy "Please select one of the options below." Sorry there wasn't guidance on this front before!

Should I open a new issue for the copy change?

[2017-05-17 18:23] shellicious commented on #1895
Ah yes, @nemodjuric, looks like there is 40px of padding within the app canvas. Great! Should we go ahead and close the issue @amprokop?

[2017-05-17 18:36] tejans24 commented on #1758
This is fixed in #1729

[2017-05-17 18:38] amprokop commented on #1872
@nemodjuric can you link to that here

[2017-05-17 18:44] joofsh opened #2026 "Standardizing frontend practices (React/Redux)"
Now that we have a few React/Redux SPAs, we should try and unify around common practices and standardize them.

Summary of React/Redux Standards:
- validations. Looked at 2 examples today, will wait and see with a 3rd use case what pattern we want to follow
- Redux middleware. Do we all agree to use `perf-logger` and remove the older `logger`?
- Create "generator" for configuring storage, to stand

[2017-05-17 19:42] shanear commented on #2026
- using the `initialState` variable vs calling `mapDataToInitialState` with no args.

[2017-05-17 19:58] mdbenjam opened #2028 "Scrolling | Settle on rendering behavior on initial load, and on scroll"
Changes to zooming created a new bug where pages are rendered with 1px width. These pages are considered scrolledTo and we start rendering them all. Instead, we should render only pages that are in view or almost within view. Currently, the initial call to renderInViewPages is not useful since all of the 1px width pages are in view. We should also un-render pages as we scroll past pages. This will

[2017-05-17 20:37] gnakm commented on #1973
Things to consider:
- Arrows in side bar
- Doc # of total Docs when filtered.

[2017-05-17 21:16] shanear opened #2029 "UnconnectedDocumentsCheck isRequired propTypes will always warn you"
I think it's being rendered once with no props. Which will throw a warning.

[2017-05-17 21:20] shanear commented on #1917
Didn't find any immediate reason, and we amped up the horsepower to deal with this issue. Moving back to ready for dev

[2017-05-17 21:32] shellicious commented on #1710
Design changes I'm gonna make:
- Flesh out the "matching" situation so there is more content. We could display the representative name and type underneath the green success message so there is a point to showing this page.
- I'm gonna move forward with the table layout for showing representative info if VACOLS/VBMS doesn't match, unless someone has a strong opinion against it.

Remaining open ques

[2017-05-17 23:12] kierachell commented on #1768
**PASSED**
Working now 👍

[2017-05-17 23:12] #1768 closed

[2017-05-17 23:14] kierachell commented on #1758
**PASSED**
![createme](https://cloud.githubusercontent.com/assets/18075411/26180042/fb59f6a6-3b34-11e7-8b67-51dd2b33a871.gif)

[2017-05-17 23:14] #1758 closed

[2017-05-18 00:06] joofsh opened #2030 "Add cancelled EP manager page"
As a manger, I would like to see the recently cancelled EPs. This new page should use the same styling as the missing decision page.

AC:
- Shows all cancelled tasks in the last 5 weeks
- Cancelled tasks are ordered by most recent first
- Table columns include:  Vet name (Vet ID), decision type,
decision date, cancel date, and cancel reason

[2017-05-18 00:08] joofsh opened #2031 "ARC Manager View - Add link to cancelled tasks page"
As a manager, I would like to be able to easily navigate from my main page to the cancelled tasks page

## AC
1. Add the h2 'BVA Reporting'
1. Add a link to open the Cancelled task page in a new tab

## Mock
<img width="610" alt="screen shot 2017-05-22 at 2 01 43 pm" src="https://cloud.githubusercontent.com/assets/4975959/26322277/34bcd5a0-3ef8-11e7-8b1a-0af980d953c2.png">

[2017-05-18 00:11] joofsh opened #2032 "Create Hearings Worksheet table & API"
Create hearings worksheet table with all fields savable in hearings worksheet (see designs)

Create read/save API endpoints to connect to frontend

AC:
- Hearing & Issue tables are created/updated
- persisting VACOLS fields like rep name & issues will be handled in **future tickets**

Raw Notes:
Fields:
- Rep Name: Pull from VACOLS hearing record, editable, persisted back to VACOLS
- Witness: new

[2017-05-18 01:49] joofsh opened #2033 "Create page for judge to save their "VLJ ID""
As a judge, I want to be able to save my "VLJ ID" to the Caseflow database

AC:
- Create new page a `/hearings/user`
- User is able to enter their "VLJ ID"
- Upon submit, if the input is empty they receive an error "Please enter a valid VLJ ID"
-  For now, on submit do nothing but redirect to the main `/hearings/docket` page

[2017-05-18 01:52] joofsh opened #2034 "Add validation & submit for VLJ ID"
Prerequisite ticket: #2033

From the `/hearings/user` page, when submitting a VLJ ID, it should be validated against VACOLS' `STAFF` table & save the `STAFKEY` as our users `vacols_id`.

AC:
- Look up staff member in STAFF table by `SATTYID`.
- On success save the `STAFKEY` to the User's table `vacols_id`
- If no user is found, return a 404 error

[2017-05-18 02:09] joofsh opened #2035 "Add check for User's vacols_id"
Ensure we have the current user's `vacols_id` saved in the database before allowing them to access the Hearings docket page `/hearings/dockets`. If they do not have a vacols_id, redirect them to the `/hearings/user` page

[2017-05-18 02:30] joofsh opened #2037 "Create "Daily Docket" page"
As a judge, I would like to see a list of all my hearings for a given docket day.

AC:
- Navigating to `/hearings/dockets/<YYYY-MM-DD>` will show a list of hearings for the current user on that given date
- Page is visually rendered properly with the correct information
- No click interaction is needed (no saving, etc), other than the link at the bottom back to hearing schedule

Technical Notes:
-

[2017-05-18 12:50] shanear commented on #1710
We should break this down into iterations. Updating either system will be technically challenging and fraught with edge cases. I propose:

# Iteration 1
- Get POA from BGS & VACOLS, compare them, and tell the user if they are the same or different. If they are different, warn them, and tell them to update in VACOLS if they need to and reload the page.
- Default the "Attorney, Agent, Organization,

[2017-05-18 13:27] gnakm commented on #1998
Gina to check in with Lara so that top information is consistent with hearing prep worksheet.

[2017-05-18 13:45] #1919 closed

[2017-05-18 13:49] gnakm commented on #1690
@kierachell This what @shanear and I discussed.

- We are going to stick to just showing the lock button
- In order to unlock, you can click the lock and it will disappear
- In order to lock, you can click the edit, you can change the case assignment by changing the number in inform box and clicking the save the link button will save the new number and lock it
- There may be cases where there are

[2017-05-18 14:20] abbyraskin commented on #1973
@gnakm added a note about total # of docs when filtered

[2017-05-18 14:23] astewarttistatech commented on #1889
**FAILED**

Steps to Reproduce:
1. Change dates of documents to 4 days earlier than the VACOLS date
![changingdates](https://cloud.githubusercontent.com/assets/23038505/26206653/6ba9656c-3bb3-11e7-8cf5-1232ff7769fe.gif)

[2017-05-18 14:47] Sjones352 commented on #1575
Some screenshots

**Add VBMS Note**
<img width="1043" alt="screen shot 2017-05-16 at 4 30 17 pm" src="https://cloud.githubusercontent.com/assets/23080951/26207861/b016465e-3bb6-11e7-91a4-5606595712a5.png">

**Send Email Notification**
<img width="880" alt="screen shot 2017-05-17 at 10 18 45 pm" src="https://cloud.githubusercontent.com/assets/23080951/26207938/e66c0982-3bb6-11e7-854d-3d9532944e9d.p

[2017-05-18 15:03] Sjones352 commented on #1078
Everything is fixed.
The italic Body copy inherits its properties from the p tag.

[2017-05-18 15:09] kierachell opened #2038 "ARC Work Assignments | Cases remaining can be negative?"
# Description
When assigning tasks to a Caseworker who already completed their queue, it is possible to assign less than they've done which then displays negative values for **Cases Remaining**

## Reproduction Steps

**Scenario 1 -**

1. Go to Dispatch as a Caseworker
1. Do some work
1. Go to Dispatch as Manager
1. Assign 0 cases to that Caseworker
1. Scratch head.

**Validated in the following E

[2017-05-18 15:12] amprokop commented on #1895
sounds good!

[2017-05-18 15:12] #1895 closed

[2017-05-18 15:12] nemodjuric commented on #1872
https://github.com/department-of-veterans-affairs/caseflow/pull/2007

[2017-05-18 15:17] kierachell opened #2039 "ARC Work Assignments | Assigning less than total amount of tasks changes the total in the header"
# Description
Assigning less than total amount of tasks changes the total in the header:

## Reproduction Steps

**Scenario 1 -**

1. Go to Dispatch
1. Have a queue of X cases
1. Assign a bunch of tasks to add up to less than X
1. See the total change to less than X

**Validated in the following Envrionment(s)**
- [ ] Dev
- [X] UAT
- [ ] Preprod
- [ ] Prod
## Screenshots
**_Scenario 1 - [Good Tota

[2017-05-18 15:46] kierachell opened #2041 "ARC Work Assignments | Customizing multiple quotas only updates one"
# Description
When a Manager wants to customize multiple quotas at a time,
Only one of them will actually be saved

## Reproduction Steps

**Scenario 1 -**

1. Go to Manager page
1. Click to edit multiple quotas
1. Select all the pretty numbers
1. Click save and see only one saved

**Validated in the following Envrionment(s)**
- [ ] Dev
- [X] UAT
- [ ] Preprod
- [ ] Prod

## Screenshots
**_Scenari

[2017-05-18 15:46] kierachell commented on #1690
**PASSED**
Made a bunch of issues from this to avoid scope creep

[2017-05-18 15:46] #1690 closed

[2017-05-18 15:57] astewarttistatech commented on #1575
So far current view
![h1andh2tags](https://cloud.githubusercontent.com/assets/23038505/26211651/fe7c7d22-3bc0-11e7-957e-267715d272bf.gif)

[2017-05-18 16:04] Sjones352 commented on #1575
@astewarttistatech your current view is wrong.

[2017-05-18 16:29] astewarttistatech commented on #1575
I am not seeing these changes in the current layout of UAT.

The licecap that shows all of this is too large.

[2017-05-18 17:17] amprokop opened #2044 "Ensure formal and informal form 9s show up on demo, local"
![image](https://cloud.githubusercontent.com/assets/3781835/26214928/3f5e6868-3bcc-11e7-8314-eab2d23dae99.png)

informal form9 - 124C
formal form9 - 123C

[2017-05-18 18:08] astewarttistatech commented on #1078
@gina which is correct the copy in the AC or the mocks?

[2017-05-18 18:44] joofsh opened #2045 "Add current user as VLJ to Hearing Schedule page"
On the dockets list view, I want to see that the current VLJ is myself.
@joofsh fails at AC

@astewarttistatech
You can use CF_Q_317 user to access this page in UAT

Technical Notes:
- Create a User model `to_hash`
- Pass current user from backend to React

ACTUAL AC:
- Login as CF_Q_317
- Visit `/hearings/dockets`
- Currently logged in user's name shows up as VLJ in docket list view

[2017-05-18 18:59] gnakm commented on #1078
@astewarttistatech The fonts in the mock reflect the AC. The orange bars underneath each header type is the margin-bottom.

[2017-05-18 19:06] abbyraskin commented on #1974
Note: we need to investigate which of these have already been added into GA

[2017-05-18 19:30] amprokop opened #2046 "[5] Confirm Case Details Front-end Step 3: Add ability to enter new POA information."
After we display the POA information on the Confirm Case Details page from BGS and VACOLS, and after we've implemented the option to choose whether BGS or VACOLS is correct, then let's implement a feature that gives the user the ability to enter in new POA information.

### Acceptance Criteria ###
- If "None of the above" is selected on the question "Which information source shows the correct repr

[2017-05-18 19:31] mdbenjam commented on #1958
@NickHeiner suggested we remove the now at the end of the message. Thoughts @gnakm @abbyraskin

[2017-05-18 19:35] mdbenjam opened #2047 "Refactor | PDFListView to reorganize table and reduce file size"
PDFListView has gotten unmanageably large. Let's try to reduce the size of the file by.
1. Breaking things up into new components
2. Possibly using a different table component

[2017-05-18 19:38] joofsh opened #2048 "Include private attorney full grants in Dispatch"
In our full grant establish claim background job, include private attorney appeals. This should be put behind a feature flag that can be enabled when ready

[2017-05-18 19:41] amprokop commented on #2046
@shellicious — can you take a pass here and update any of the text if it's not what we want? I sorta did it from memory :)

[2017-05-18 19:44] shanear opened #2049 "Return informative error messages"
## Acceptance Criteria
Return JSON Api compliant error response under the following conditions
- The veteran was not found in VACOLS (404)
- There was an application error (500)
- The request authorization was not successful (403)

[2017-05-18 19:47] shanear opened #2050 "Return CAVC decision event on Appeals API"
## Acceptance criteria
- Verify that for appeals that are CAVC remands, add an event with the type `"cavc_decision"` to the `events` array on the appeals api with the date of the cavc decision the appeal is a remand of.

## Technical Notes
- Chat with @cmgiven about how to calculate this.

[2017-05-18 19:48] mdbenjam opened #2051 "PDFViewer | Fix rendering on scroll"
We want to render pages whenever they are scrolled to. However, right now we have a bug that initially shows many many pages on the screen as very thin pages. These are all visible and therefore are rendered. As they are size corrected, they are pushed to the correct location, but take up unneeded memory. We should only render on scrolling. When this is fixed we can un-skip the test in reader_spec

[2017-05-18 19:52] amprokop opened #2052 "[1] Confirm Case Details front-end Step 1: Display mock POA information from BGS and VACOLS"
Let's display mock POA information from BGS in VACOLS to get the styling right.

Let’s put mock values in “mapDataToInitialState” so all we need to do is pass them from the server to the client when we hook it up. From the server, these values will be called`bgs_representative type` (let's hardcode to "Attorney"), `bgs_representative_name` (let's hardcode to "Anne Merica"), `vacols_representative_

[2017-05-18 19:53] amprokop commented on #2052
@shellicious — can you add a link to the appropriate wireframe?

[2017-05-18 19:59] joofsh opened #2053 "Create Hearing Worksheet page"
Dates:
- SSOC, show the newest date only

Inputs:
- All text inputs, border should be hidden when printing

[2017-05-18 20:02] amprokop opened #2054 "[3] Confirm Case Details Front-end Step 2: Indicate whether POA info matches or choose which one is correct"
We want to let the user choose which POA information is correct from BGS or VACOLS.

### Acceptance Criteria ###
- VBMS and BGS POA data (name and type) should appear on the page with a layout matching the mock.
- On pageload, a question appears with text: "Does the representative information from VBMS and VACOLS match? Answer yes if the only differences are due to typos or differences in punctuat

[2017-05-18 20:04] amprokop commented on #2054
@shellicious — can you look over this text and update where necessary (I made up the question text so it's probably not exactly what we want)

[2017-05-18 20:26] gnakm commented on #1958
@mdbenjam I think taking out now is fine.

[2017-05-18 20:26] joofsh opened #2056 "Preflag hearings related documents as procedural"
When loading the daily docket, if we have not already, kick off a background job to flag all hearings-related documents as procedural for Reader

[2017-05-18 20:27] lakohl commented on #2037
LK to add dropdown info and Save button

[2017-05-18 20:31] gnakm commented on #1618
This is currently happening 🙍
![image](https://cloud.githubusercontent.com/assets/13420618/26222264/577dacf4-3be7-11e7-94c6-a4fe3b836df4.png)

[2017-05-18 20:31] joofsh opened #2057 "Change Judge Schedule column to reference regional_office"
Instead of showing the field office (where the hearing will be held), instead show the regional office

## AC
1. Verify that the column header is changed from 'Field Office' to 'Regional Office'.
1. Verify that the [city, state] (e.g. Newark, NJ) of the Regional Office holding the hearing is displayed in each date row.

## Mock
<img width="709" alt="screen shot 2017-05-26 at 4 29 36 pm" src="https

[2017-05-18 20:34] joofsh commented on #2048
CC @lakohl Let me know when conversations happen with ARC about this

[2017-05-18 20:44] gnakm commented on #1091
@avrildavid Can you take a pass at this?

The horizontal line can be used in multiple ways across Caseflow apps. It can be used to separate different sections and UI components and provide space for balance and legibility. There should always be a 40px space between the bottom of the component or text to the top of the horizontal line.

[2017-05-18 21:18] amprokop opened #2058 "Fix link on mismatched documents page"
I think `<a href="/help#mismatched-documents”>` -> `<a href=“/help/certification#mismatched-documents”>` should do it

### Acceptance Criteria ###
-The "labeled correctly" link on the mismatched documents Certification page leads the user to the section of the help page that deals with mismatched documents

[2017-05-18 21:20] amprokop opened #2059 "Ensure that V2 users cannot navigate to V1"
If the feature toggle is on for v2, the v1 routes should not work!

### Acceptance Criteria ###
- The user cannot navigate to v1 routes if v2 is enabled
  - Example: `/certifications/XXX` leads the user to the Form 8 PDF. it shouldn't work in V2.

[2017-05-18 21:25] abbyraskin commented on #1988
@lakohl did you bring this up with AMO? did they have any feedback?

[2017-05-18 21:29] amprokop opened #2060 "Update VACOLS POA from “representative_type” and “representative_name” fields on certification."

[2017-05-18 21:30] amprokop opened #2061 "[3] POA Backend Step 2: Save POA address from BGS and return `bgs_address_found?` to client"
For V2, we want to use the endpoint added in https://github.com/department-of-veterans-affairs/ruby-bgs/pull/34 to find the address of any representative with a participant id, and also handle the cases where we can't find an address.

For VSOs, we don't expect address information to be present in the BGS API—based on our conversations with BGS, there will likely be no participant id for the power

[2017-05-18 21:30] amprokop opened #2062 "If POA address will be updated in VACOLS, show the user a message saying so"
@shellicious  i think this is a requirement- can we flesh out what this means?

[2017-05-18 21:30] amprokop opened #2063 "If address should be updated in VACOLS but we can’t find it in BGS, show the user a message saying so"
@shellicious — we need this, right? Wanna mock it out? Low-pri compared to other bgs stuff

[2017-05-18 21:32] amprokop opened #2064 "Enable breadcrumbs on Sentry"
Breadcrumbs are a really neat Sentry feature that will hopefully help us a lot in debugging!

https://blog.sentry.io/2016/05/04/breadcrumbs.html

Evaluate whether we need to install Raven.js (we have the ruby raven). We might need to install Raven from NPM as well to use this.

[2017-05-18 21:32] amprokop opened #2065 "Extract configureStore into a reused function across Reader, Dispatch, and Certification"

[2017-05-18 21:32] amprokop opened #2067 "Enable source maps on UAT"
Let's enable source maps on UAT for faster debugging.

For webpack, we only have test/development/production NODE_ENVs currently. We need to add a UAT NODE_ENV so source maps are only enabled there.

Read: https://stackoverflow.com/questions/30870830/how-do-i-generate-sourcemaps-when-using-babel-and-webpack

After the deployment of this ticket, the dev should take a pass through UAT and ensure tha

[2017-05-18 21:33] amprokop opened #2068 "Add Sentry logging of redux actions"
We should log any errors from redux actions on Sentry!

This should work across Reader, Hearings Status, Certification, and Dispatch.

https://blog.sentry.io/2016/08/24/redux-middleware-error-logging.html

[2017-05-18 21:37] abbyraskin commented on #1958
tweaked the AC

[2017-05-19 00:00] kierachell commented on #2051
Related to https://github.com/department-of-veterans-affairs/caseflow/issues/1959 ?

[2017-05-19 12:39] kierachell commented on #1764
**PASSED**
[code]

[2017-05-19 12:39] #1764 closed

[2017-05-19 13:50] astewarttistatech commented on #1889
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Certification V2 for a veteran who has all documents
2. Go into VBMS for that veteran in that environment
3. Locate the needed SOC and SSOCs and change the date to be 4 days before the VACOLS date for the document found on the certification check documents page.
4. Reload the check documents page in Certification V

[2017-05-19 14:19] astewarttistatech commented on #1484
**PASSED**

Validated in: UAT
Browser: FF and Chrome

Steps to Validate:
1. Access Certification V2
2. Enter in out of the ordinary data into the required field forms to prompt error messages and then go back to correct them with data that fits the requirements but till isn't correct.
3. Validate behavior against that for the AC

Screenshots:
![fieldscertification](https://cloud.githubusercontent.

[2017-05-19 14:19] #1484 closed

[2017-05-19 14:23] abbyraskin commented on #1884
This is changing based on toolbar redesign, new AC forthcoming

[2017-05-19 14:29] abbyraskin commented on #1853
@gnakm Let's hold off on this until the annotation menu redesign is ready (a couple sprints out)

[2017-05-19 14:51] kierachell opened #2072 "Create End Product | Cancelling a task during the creation API call causes aasm error:"
# Description
Sometimes when creating a new EP; if a user received some kind of VBMS error and then
they try to cancel the task. That task is already transitioned to state `complete` while they are submitting feedback. So there's a race condition to turn the task to either `complete` or `cancelled`

## Reproduction Steps

**Scenario 1 -**

1. Go to Dispatch
1. Start establishing next claim
1. Star

[2017-05-19 14:52] gnakm commented on #1243
@astewarttistatech updated mock.

[2017-05-19 15:54] kierachell opened #2074 "Create End Product | Log EP creation attempts for debugging"
# Description
When attempting to create a new EP, it would be nice to log what is being submitted to VBMS;
This way it will be easier to understand what leads to `InvalidEndProductError` or any other failures

## Logs:

**Current**:
`EstablishClaim::InvalidEndProductError: EstablishClaim::InvalidEndProductError`

kinda... uninformative.

## Sentry:

https://sentry.ds.va.gov/department-of-veterans-

[2017-05-19 15:59] astewarttistatech commented on #1575
**PASSED**

Validated: UAT, Dev, and Preprod
Browsers: FF and Chrome

Steps to Validate:
1. Navigate to the scenarios shown in the AC in Dispatch as a caseworker
2. Validate the header tags implemented.

Screenshots:
![h1andh2tags](https://cloud.githubusercontent.com/assets/23038505/26256324/943adf1a-3c8a-11e7-8260-d070c21cb20e.gif)
![h1andh2tags1](https://cloud.githubusercontent.com/assets/230385

[2017-05-19 15:59] #1575 closed

[2017-05-19 16:55] kierachell commented on #1716
**PASSED**
## Saving to DB error:
[code]
<img width="1108" alt="screen shot 2017-05-19 at 12 46 52 pm" src="https://cloud.githubusercontent.com/assets/18075411/26258140/632aca3c-3c91-11e7-8339-2c770548dd88.png">

## VACOLS error
[code]
<img width="1108" alt="screen shot 2017-05-19 at 12 46 52 pm" src="https://cloud.githubusercontent.com/assets/18075411/26258344/56fb4c2c-3c92-11e7-910d-1e2d21858150

[2017-05-19 16:57] nemodjuric commented on #1716
There should be no header when error is displayed.

[2017-05-19 17:16] abbyraskin commented on #1973
@gnakm note to update w/ new bottom toolbar

[2017-05-19 17:32] gnakm opened #2075 "Document Viewer | Bottom tool bar redesign"
## Description
This is an overview of what the bottom tool bar redesign will look like. The AC has an outline of all the issues of each component.

## AC
- [ ] Previous and next arrows #2076
- [ ] Ability to change page in document #1884
- [ ] Progress indicator #1973

## Mock up

![image](https://cloud.githubusercontent.com/assets/13420618/26259610/c010fa2c-3c97-11e7-875f-39627b96c56b.png)

## Re

[2017-05-19 17:38] gnakm opened #2076 "Document Viewer | New previous and next arrows"
**Description**
Currently, the arrows for going between pages cover some of the context on the doc viewer, especially when document is zoomed in. Moving the arrows to the bottom would be better usability for moving between documents and skimming/ reading content.

## AC
- [x] Verify that the spacing for the arrows and text follow the mock
- [x] Verify that the older arrows in doc viewer are gone
-

[2017-05-19 17:44] avrildavid commented on #1091
Already looks good, @gnakm. One suggestion:

The horizontal line helps provide clarity and improve legibility for users by separating different sections or UI components on a page. Caseflow horizontal lines should always have 40 px of space between the bottom of the section or component and the top of the horizontal line.

[2017-05-19 18:08] kierachell opened #2077 "System Error | What is the user supposed to do if they get an error?"
# Description
When a user encounters server error it is unclear what they are supposed to do;
and going back doesn't quite work.

## Reproduction Steps

**Scenario 1 -**

1. Go Cert v2
1. Get System Error
1. Go back
1. See weirdness.
1. Question life

**Validated in the following Envrionment(s)**
- [ ] Dev
- [X] UAT
- [ ] Preprod
- [ ] Prod

## Screenshots
**_Scenario 1 - [WHAT DO]_**
![errorbar](

[2017-05-19 18:09] nemodjuric commented on #1716
New issue is created - https://github.com/department-of-veterans-affairs/caseflow/issues/2077
Closing this one.

[2017-05-19 18:09] #1716 closed

[2017-05-19 20:04] lakohl commented on #2048
@joofsh I saw there is already a ticket for this: #1988 so am closing this one.

[2017-05-19 20:04] #2048 closed

[2017-05-19 20:06] lakohl commented on #1988
I did bring this up with AMO on 5/16 and they were not really aware that we were not already processing POA claims in Dispatch. They were on board with us going ahead and processing them, so I think we should build that functionality behind a feature flag and alert AMO once it's ready so they can warn the ROs.

[2017-05-19 20:22] lakohl commented on #2012
Asked AMO on 5/16 about whether the label should say the RMD or RMND. They did not know, but said they would investigate. I'm sending a follow up email to AMO now.
This issue is blocked until we get a response from AMO. They have a stop gap measure in place so that no claims get lost, but we should try to solve this soon as it means that ROs are having to look fro two types of EPs at the moment an

[2017-05-19 21:17] nicholasholtz commented on #2012
Spelling!!!!! The current blocker is SPELLING! Sigh….

[2017-05-19 22:47] gnakm opened #2079 "Document Viewer | Menu error handling overview"
@abbyraskin

For the annotation menu redesign, I created a error handling for each subsection. The styling of the errors are slightly different because the boxes bleed through the edges. That's just an enhancement. I put a generic one for all because I think it covers situations for all of the sections. We should discuss this and eventually break these into smaller issues.

![image](https://cloud.

[2017-05-20 15:40] slj opened #2080 "Styleguide sticky navigation bar extends past the app canvas"
As [noted](https://github.com/department-of-veterans-affairs/caseflow/issues/1618#issuecomment-302532530) in #1618, the Styleguide sticky navigation bar should not extend past the app canvas.

[2017-05-21 19:57] shanear opened #2082 "Return activated event on Appeals API"
## Acceptance criteria
- Verify that for appeals that have been activated at the board, add an event with the type `"activated"` to the `events` array on the appeals api with the date of activation.

## Technical Notes
- Chat with @cmgiven about how to calculate this.

[2017-05-22 01:19] lakohl commented on #2030
@JD is decision date from VBMS or VACOLS?

[2017-05-22 03:44] joofsh commented on #2030
@lakohl We use the VACOLS decision date throughout Dispatch, so for consistency I think we should continue to use that.

[2017-05-22 04:48] shellicious commented on #2054
@amprokop updated!

In the flow we've been discussing, when "None of the above" is selected, the user is prompted to enter the representative type (Attorney/Agent/Service org/etc.) via radio buttons. This ticket says that they'll be instructed to go to VACOLS instead. Is that because this ticket is for an MVP in which Caseflow doesn't ask users to input representative type, or is it because this t

[2017-05-22 04:49] shellicious commented on #2054
oh nvm, I just saw https://github.com/department-of-veterans-affairs/caseflow/issues/2046 which answers my question

[2017-05-22 04:59] shellicious commented on #2062
![poa 3 step 9](https://cloud.githubusercontent.com/assets/1178390/26293323/d8d1c0ca-3e89-11e7-9d0b-5307bf1aa9cc.png)

@amprokop is that what you mean?

[2017-05-22 05:02] shellicious commented on #2063
Variations to be decided upon:

![poa 3 step 3c](https://cloud.githubusercontent.com/assets/1178390/26293382/47c24752-3e8a-11e7-89f2-9f1ad4f12b3d.png)

![poa 3 step 3](https://cloud.githubusercontent.com/assets/1178390/26293384/47cc1804-3e8a-11e7-9a0d-9b2443632163.png)

![poa 3 step 3b](https://cloud.githubusercontent.com/assets/1178390/26293383/47c638da-3e8a-11e7-8744-e31bd2d3ca7c.png)

[2017-05-22 05:06] shellicious opened #2084 "[V2] Update error message & instructions on Check Documents step for fuzzy date match"
### Acceptance Criteria
- Error message states: "Some documents could not be found in VBMS."
- Instructional text below table changed to:
"If the document status is marked with an X, try checking:"
- Document date instructional text changed to: "The document date in VBMS.  NOD and Form 9 dates must match their VACOLS dates. SOC and SSOC dates are considered matching if the VBMS date is the same as

[2017-05-22 05:16] shellicious opened #2085 "[V2] Reshuffle table and add status column for Check Documents page"
### Acceptance Criteria
- First column in table is "Document"
- When a date cannot be found in VBMS, display a long dash: —
- Last column in table is "Status"
- Display an X icon and "Not found in VBMS" if the document can't be found
- Display a check icon and "Found in VBMS" if the document is found with a matching date in VBMS
- Copy should match the mock
-  "Learn more about document dates" sho

[2017-05-22 05:22] shellicious opened #2086 "[V2] Update success message for Check Documents"
### Acceptance Criteria
- Table columns appear as in the mocks below
- Check marks and "Found in VBMS" appears in the status column for all documents
- If the SOC/SSOC have dates that are not an exact match between VACOLS and VBMS, the success message has an extra line of text: "SOC and SSOC dates in VBMS can be up to 4 days before the VACOLS date to be considered matching."

### Mocks

Success me

[2017-05-22 05:23] shellicious opened #2087 "[V2] Add/update Caseflow Certification FAQ answer about document dates"
### Acceptance criteria

After they click on a link from the Check Documents page, Caseflow users are taken to the section of the Caseflow Certification Help page that explains document date matching rules.

### Draft of Help page text:

Note: There is a new screenshot embedded below, reflecting the new design of the Check Documents table:

**5. Why does Caseflow say it cannot find documents in th

[2017-05-22 12:10] astewarttistatech commented on #1078
**PASSED**

Validated in: UAT
Browser: FF and Chrome

Steps to Validate:
1. Access the Style Guide
2. Validate the spacing in the Typography section against the AC and the mocks.

Screenshots:
![sgtypographyspacing](https://cloud.githubusercontent.com/assets/23038505/26308111/ce4d7b9e-3ec5-11e7-868c-13ae6cc1abc7.gif)

[2017-05-22 12:10] #1078 closed

[2017-05-22 12:11] amprokop commented on #2086
@shellicious — still "Found with valid date"?  Not sure if the first mock is outdated here.

[2017-05-22 13:18] amprokop opened #2090 "[5] If the POA name is stored in the VACOLS REP table, fetch the name from that table, save it, and send it to the client"
If Other (code: "O"), Attorney (code: "T"), Agent (code "U"), or One Time Representative (code: "W") is found in `brieff.bfso`, the representative name is meant to be stored in a separate table.

We can fetch that table using STAFKEY to look up the CORRES table. Use  https://github.com/department-of-veterans-affairs/appeals-pm/blob/master/VA%20Tech%20System%20Documentation/VACOLS/VACOLS%20Database

[2017-05-22 13:25] lakohl commented on #2037
I've been thinking about how to save updates to the docket - I wonder if we couldn't do something similar to gmail. e.g.  The system automatically saves 3 seconds after a user stops typing in a notes field or after they select from a dropdown and they are messaged accordingly in the top right of the page.
This would be my first choice.

<img width="776" alt="screen shot 2017-05-22 at 9 24 05 am" s

[2017-05-22 13:31] lakohl commented on #2037
Saving option 2, requires the user to click an update button:

<img width="758" alt="screen shot 2017-05-22 at 9 28 37 am" src="https://cloud.githubusercontent.com/assets/4975959/26311110/19b32ae2-3ed1-11e7-821b-e188a7e4f519.png">

<img width="710" alt="screen shot 2017-05-22 at 9 30 56 am" src="https://cloud.githubusercontent.com/assets/4975959/26311191/65fc668e-3ed1-11e7-80ed-3aa35e177286.png">

[2017-05-22 13:35] lakohl commented on #2037
@joofsh see saving options above

[2017-05-22 13:35] Chingujo commented on #1896
Designers have also been documenting some product questions in the following design issue, so far @abbyraskin for Reader and @shellicious for Certification.

[#205 Product Questions for Analytics](https://github.com/department-of-veterans-affairs/appeals-design-research/issues/205)

[2017-05-22 13:51] abbyraskin opened #2091 "Investigate eFolder Express integration"
- Begin investigating eFolder Express integration (with Alex/Shane?)
- Write and share tech spec with team
- Break into smaller tasks for next sprint(s)

[2017-05-22 14:00] lakohl commented on #2031
until we find a more elegant solution...

<img width="578" alt="screen shot 2017-05-22 at 9 58 14 am" src="https://cloud.githubusercontent.com/assets/4975959/26312389/63b45f22-3ed5-11e7-8db5-d023443fbee6.png">

[2017-05-22 14:00] lakohl commented on #1936
until we find a more elegant solution...

<img width="578" alt="screen shot 2017-05-22 at 9 58 14 am" src="https://cloud.githubusercontent.com/assets/4975959/26312389/63b45f22-3ed5-11e7-8db5-d023443fbee6.png">

[2017-05-22 14:06] abbyraskin commented on #1884
@gnakm what happens if they enter an invalid #? e.g., it's a 10 page document and they enter 100.

I'm not sure how this is handled out of the box for the component we're using, but in Certification, if you are on page 10 (so you have a 10 in the box), if you change it to 100 (invalid) and press enter, it replaces the 100 with a 10. We could do something like this?

[2017-05-22 14:09] abbyraskin opened #2092 "Document Viewer | Navigating to next document via down arrow"
**Story**
When I finish reading a document, I want to use the down arrow to navigate to the next document, so I don't have to switch to another hotkey.

## Acceptance Criteria
- When a user navigates to the last page of a document, they can use the down arrow on their keyboard to open the next document, rather than having to click the right arrow (right arrow also still works).

### Scroll to next

[2017-05-22 14:21] joofsh commented on #2037
@lakohl I think option 1 is the better UX. It's more complex but I think worth it in this case given the page length. Working on a similar UI in the past, we implemented option 1 and people still wanted a hard save button (though it essentially did nothing). Just something to keep in mind if we go down this path

[2017-05-22 14:27] amprokop commented on #2062
Covered in another ticket. Closing.

[2017-05-22 14:27] #2062 closed

[2017-05-22 14:34] NickHeiner commented on #2021
@abbyraskin please let us know if this is worth fixing.

[2017-05-22 14:49] lakohl opened #2093 "Missing Decisions - change table header"
Change table header 'Days in Queue' to read 'Days Since Outcoding'
Might require adjusting the column spacing a bit

## Mocks
_Current_
<img width="966" alt="screen shot 2017-05-22 at 10 47 55 am" src="https://cloud.githubusercontent.com/assets/4975959/26314594/7cd18866-3edc-11e7-96d1-759b3834a5c6.png">

_Desired_
<img width="802" alt="screen shot 2017-05-22 at 10 53 41 am" src="https://cloud.gith

[2017-05-22 14:52] cmgiven commented on #2082
Let's use FOLDER.TIDKTIME for this one. Note that this is actually the completion of Case Review, but it'll prevent premature activation.

[2017-05-22 14:53] tejans24 commented on #1243
thanks @gnakm

[2017-05-22 14:53] cmgiven commented on #2050
This is COVA.CVDDEC.

[2017-05-22 14:54] amprokop opened #2094 "Fill out mapping of BGS POA types to our POA types"
See  `BGS_REP_TYPE_TO_REP_TYPE` in `power_of_attorney_mapper.rb` — we need to map all BGS org type names to one of `Attorney, Agent, Service Organization, Other, and No Representative`.

Use the information obtained in https://github.com/department-of-veterans-affairs/ruby-bgs/issues/33 to complete this task.

[2017-05-22 15:04] abbyraskin commented on #2092
cc @gnakm

[2017-05-22 15:07] abbyraskin commented on #2021
@NickHeiner we aren't officially supporting IE, so I would say no. cc: @mdbenjam

[2017-05-22 15:08] gnakm commented on #1966
#2079

[2017-05-22 15:12] amprokop opened #2097 "[2] POA Backend Step 1: Map BGS POA names to VACOLS POA dropdown names"
VACOLS lists some service organizations in a dropdown. We need to map the BGS names of these organizations to the VACOLS codes, and when we convert BGS POA to VACOLS POA, we should save the VACOLS-equivalent name in `representative_name`. This probably needs to be a manual hardcoded mapping, because there are likely to be small capitalization/spacing/punctuation differences between the two.

If th

[2017-05-22 15:15] joofsh commented on #1881
to QA:
- Check the `/app/models/vacols/case_hearing.rb`
- Test using `VACOLS::CaseHearing.upcoming_for_judge()`, verify you get real results back. Note that because UAT has old data, you'll have to set the `date_diff` very high, I was testing with `7.years`

[2017-05-22 15:24] kierachell commented on #1898
**PASSED**
<img width="569" alt="screen shot 2017-05-22 at 11 23 13 am" src="https://cloud.githubusercontent.com/assets/18075411/26316071/12f76b22-3ee1-11e7-847b-0bd7f01a80bf.png">
<img width="572" alt="screen shot 2017-05-22 at 11 23 50 am" src="https://cloud.githubusercontent.com/assets/18075411/26316102/2bd1476c-3ee1-11e7-85cb-99b723255123.png">

[2017-05-22 15:24] #1898 closed

[2017-05-22 15:25] kierachell commented on #1804
**PASSED**
<img width="613" alt="screen shot 2017-05-22 at 11 24 57 am" src="https://cloud.githubusercontent.com/assets/18075411/26316157/537a60e6-3ee1-11e7-94ca-86c928bf4680.png">
<img width="728" alt="screen shot 2017-05-22 at 11 25 00 am" src="https://cloud.githubusercontent.com/assets/18075411/26316156/535071c8-3ee1-11e7-9faf-419bbf2cb434.png">

[2017-05-22 15:25] #1804 closed

[2017-05-22 15:38] amprokop opened #2098 "[5] Update VACOLS POA rep type and rep name information from BGS POA information."
If the user indicates that the BGS (=VBMS) POA is correct, when the user finalizes certification, we need to update VACOLS POA information using our rep type and rep name.

See `REPRESENTATIVES` in case.rb for context.

- If `representative_type` is None, just set the dropdown in VACOLS to "None"— there is no representative name.
- If our value for `representative_type` is "Service Organization",

[2017-05-22 15:44] amprokop opened #2099 "Create vbms_service in services/external_api and refactor appeal_repository to remove all the vbms code"
Our repositories should only handle VACOLS interactions. We should be able to refactor the appeal repository and move the VBMS code there into its own service.

Goals of the refactor:
- isolate the VBMS code
- allow us to build new models/etc that use VBMS without using appeal_repository
- reduce complexity of appeal repository

[2017-05-22 15:48] amprokop opened #2100 "Create mappers directory and move mapping logic inside of it, leaving only interface/border code in the repositories"
The appeal repository currently has a mix of integration code and conversion logic. We should isolate all conversion logic in dedicated `mapper` modules, so we can increase the testability of our code and only leave true border/interface code in the appeal repository.

Let's write some tests for our new appeal mapper as well.

See `power_of_attorney_mapper.rb` in https://github.com/department-of-v

[2017-05-22 15:51] amprokop commented on #2060
closing, dupe

[2017-05-22 15:51] #2060 closed

[2017-05-22 16:00] amprokop opened #2101 "[3] Update VACOLS address information from BGS POA information"
We want to be able to update POA address information using BGS information.

- If we don't have to put the representative name in REPADDR1 (see #2098):
  - `bgs_address_line_1` should be used to populate REP.REPADDR1
  -  BGS addresses can have up to three lines. Concatenate address line 2 and address line 3 and use them to populate REP.REPADDR2.
  - city, state, and zip as well

- If we put the n

[2017-05-22 16:33] lakohl opened #2104 "Allow ARC Manager to cest cases as a Claims Assistant"
ARC Managers sometimes need to cest Dispatch claims themselves. We need a way for the ARC manager to access the Claim Assistant view.

### AC
* Create a separate URL for manager view

[2017-05-22 16:33] slj commented on #2080
Solution in action:

![clip-sticky-nav](https://cloud.githubusercontent.com/assets/1053255/26318926/e60f2e06-3eea-11e7-8aea-e667d49907b5.gif)

[2017-05-22 16:57] Sjones352 commented on #1634
Closing this because it's related to #1085

[2017-05-22 16:57] #1634 closed

[2017-05-22 17:44] mdbenjam commented on #2051
Yes it is.

[2017-05-22 17:45] #2004 closed

[2017-05-22 17:46] amprokop commented on #1732
Already validated. Closing.

[2017-05-22 17:46] #1732 closed

[2017-05-22 17:55] mdbenjam commented on #1938
I actually think this is going to be annoying to implement and is not that high of priority. Have people complained about this? @gnakm @abbyraskin

[2017-05-22 17:57] mdbenjam commented on #1666
This is really the same as #1847. I'm closing this.

[2017-05-22 17:57] #1666 closed

[2017-05-22 18:03] amprokop commented on #2098
The developer should add a list of scenarios used for testing to this ticket upon completion. Feel free to change the AC.

[2017-05-22 18:07] NickHeiner commented on #2021
Cool. In that case I vote to close this for now.

[2017-05-22 18:12] NickHeiner commented on #1269
This is not still relevant.

[2017-05-22 18:12] #1269 closed

[2017-05-22 18:16] mdbenjam commented on #1824
How to deal with race conditions?

[2017-05-22 18:26] NickHeiner commented on #1985
@abbyraskin where did that screenshot come from? What did the user do to elicit that?

[2017-05-22 18:27] kierachell commented on #2012
1. Can you confirm that the BVA Grants, and ARC Remands (with Grants) have changed from 170 to 070?  Confirmed.
2. Can you confirm that the new ARC Remand label is 070RMNDARC and not 070RMDARC? The  documentation is inconsistent.  Confirming that it is 070RMNDARC
3. Also, what are the possible values and modifier combinations for the new claim labels?  070, 071, 072?  They’re serial EPs.  If there

[2017-05-22 18:28] abbyraskin commented on #1985
@tejans24 provided the screenshot -- @tejans24 can you elaborate? i believe this happened specifically when attempting to add a tag from a new tab. the a few users have mentioned their comments/other annotations aren't saving (in a new tab or just in general), but have had trouble reproducing.

[2017-05-22 18:30] gnakm opened #2107 "Document Viewer | View keyboard shortcuts menu"
**Story**
As a user, I want to know all the keyboard shortcuts that will allow me to accomplish all of my tasks when reviewing cases.

## AC

- [ ] Verify that icon and text are 12px apart and centered aligned with the annotation box
- [ ] Verify that selecting the "View keyboard shortcuts" link and icon open the keyboard shortcut modal. At hover, make sure to underline starting from the word "Vie

[2017-05-22 18:46] tejans24 commented on #1985
@abbyraskin @NickHeiner This looks like it might have been fixed or only happens user special cases. I can't seem to reproduce this issue locally as well.

[2017-05-22 18:49] gnakm commented on #1938
@mdbenjam It isn't a high priority and it isn't a user feedback. Good call on pointing that out. However, in general it is pretty annoying. I definitely think we can relabel this as low-priority and also wonder if this problem will get fixed with the new jumping to different page issue #1884

[2017-05-22 19:12] #1710 closed

[2017-05-22 19:20] joofsh commented on #1882
To QA:
- On UAT, should be able to call `HearingDocket.upcoming_for_judge()` and get records back for a user with a properly set `vacols_id` (that of a real judge). On UAT I was using `RDPHILP`

[2017-05-22 20:00] amprokop commented on #2098
Connect with @joofsh on this!

[2017-05-22 21:24] mdbenjam opened #2111 "Sort Order | Make down default"
When switching between sorting by receipt date to sorting by type the sort order should be ascending and the icon should default to down. Currently, the sort order flips every time the user switches which column you sort by.

## AC
1. Verify when sorting by a new column the sort icon is down the sort order is newest to oldest for date and alphabetical for type.
1. Verify when clicking on the sorte

[2017-05-22 22:01] NickHeiner commented on #1824
As we discussed in person: no need to deal with race conditions if we're indexing by text.

[2017-05-22 22:06] NickHeiner opened #2113 "Remove PropTypes warning"
The following warning was introduced in f0cd41d:

![image](https://cloud.githubusercontent.com/assets/829827/26330280/2c370a1a-3f19-11e7-8846-6bdc033c1324.png)

We should find why this is happening and remove the warning. This screenshot was taken on Reader.

[2017-05-23 11:42] kierachell commented on #1881
@joofsh
What date range to do you expect prod data to be? I will make a script to move it up in UAT to keep it proper
+ there's no PR for this :(

[2017-05-23 12:10] kierachell commented on #1930
## Blank SSN check failed:
[code]

## Returning the HTML 404 page instead?
[code]
**Followed by**
[code]

[2017-05-23 12:55] kierachell commented on #1882
Can we have some documentation on the table joins so I can at least setup VACOLS data?
It seems like you look up STAFF by STAFKEY then join with HEARSCHED.BOARD_MEMBER on SATTYID?

- How do our users get `vacols_id`? it's all `null` currently.
- Elsewhere `vacols_id` would refer to BFKEY?
- Why are hearing in their own repository folder away from AppealsRepository?

[2017-05-23 13:51] shanear commented on #1930
404's are out of scope:

will fix the other two issues

[2017-05-23 14:17] gnakm commented on #1998
Reader and Hearing Prep team to chat about this 5/24 :)

[2017-05-23 14:48] joofsh commented on #1881
@kierachell I think that's still in the air as a product requirement. My guess is we'll want to include hearings that were within the last  `7.days`, and then all future ones.

What's the best way for me to document this? I just reverse engineered this from VACOLS documentation but I can definitely help you set up the right data for UAT testing

[2017-05-23 15:00] shanear commented on #1915
@kierachell let me know if you need me to make you an ApiKey. You can also follow the directions here: https://github.com/department-of-veterans-affairs/caseflow/pull/2108

[2017-05-23 15:02] lakohl commented on #407
@shanear we still need to allow managers to cest claims. Right now it doesn't seem possible for them to switch roles. Would a solution be to make the Manager view a different URL - or perhaps you can think of a better way?

[2017-05-23 15:14] amprokop commented on #2005
Duplicate

[2017-05-23 15:15] #2005 closed

[2017-05-23 15:17] lakohl commented on #2037
@joofsh I agree, and understand your point. I like the first version too bc there is better feedback. Let's try without the fake button first, if need be we could have a button and feedback.

[2017-05-23 15:36] gnakm opened #2115 "Document List | Loader fail error message"
**Description**
There may be a time when a loading spinner fails and never goes away. We need to display an error message.

- [ ] Verify that we use [Status Message Styling](https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/styleguide#messages) [Source code](https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/app/containers/StyleGuide/Style

[2017-05-23 15:40] abbyraskin commented on #2115
Could we say "Unable to load documents" just to add a tiny bit more context?
And maybe instead of list: "It looks like Caseflow was unable to load this case. Please refresh the page and try again."

[2017-05-23 15:44] gnakm commented on #2115
@abbyraskin Yar I like that better.

[2017-05-23 15:45] gnakm commented on #2115
@NickHeiner copy is good to go.

[2017-05-23 15:48] gnakm opened #2116 "Style guide | Max Character Width"
**Story**
As a designer and developer, I want to know the max character width of text, which intentions are to provide good readability to users on all of Caseflow apps.

## AC
- [ ] Verify that all of our headings and body text are set at a max character width of 70 rem for **left-aligned text**
- [ ] This doesn't need a subsection. Change source code in text styles
- [ ] Add new copy right under

[2017-05-23 15:50] astewarttistatech commented on #1243
**PASSED**

Validated in UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access the living style guide
2. Navigate to the drop down menus
3. Validate UI against mocks

Screenshots:
<img width="1407" alt="screen shot 2017-05-23 at 11 49 38 am" src="https://cloud.githubusercontent.com/assets/23038505/26363102/1074e49c-3fae-11e7-8bb8-52c7e8f63841.png">
<img width="937" alt="screen shot 2017-05-23

[2017-05-23 15:51] #1243 closed

[2017-05-23 15:53] gnakm opened #2117 "Style guide | New lead paragraph font size"
Description
After testing different header sizes, we decided to change Lead Paragraph from 22px to 19px.

# AC
- [x] Verify that in the style guide under typography > text style, the lead paragraph font-size is 19px in both source code and UI component.
- [x] Change should be applied to all existing apps.

## Mock up
![image](https://cloud.githubusercontent.com/assets/13420618/26363206/5ddb7e1c-3f

[2017-05-23 16:08] gnakm opened #2118 "Style guide | Top navigation bar and footer and responsive to canvas"
**Description**
New apps Hearing Prep and Reader has new canvas width due to use cases of each project.
We want to Navigation bar and footer so that they always align with the width of the app canvas.
**_Note: This means that all the navigation bar and footer will not look the same across apps but that's okay (Artem)._**

## AC
- [ ] Set the top navigation bar so that the left of the caseflow logo

[2017-05-23 16:50] shanear commented on #407
@lakohl I think that is fine. In hindsight, we should have probably always done that (you were right @joofsh 😬)

[2017-05-23 17:28] lakohl commented on #407
Ok. Cool. We should figure out a new URL for the manager and let @nikitarockz know. She is helping get the desktop shortcut links for Dispatch set up.

[2017-05-23 17:35] gnakm commented on #1966
**_Save new comment_** and **_Save edit_**

I think **_save new comment_** and **_save edit_** can be the same message. For save edit, can we have it so that the behavior is the new copy is always saved?
Version 1 allows users to save what they wrote in the comment box and save again by clicking link in the error copy.
![image](https://cloud.githubusercontent.com/assets/13420618/26366422/0dc03f20-

[2017-05-23 17:41] lakohl commented on #2012
Adding the email  Artem wrote this morning to VBMS UAT team (Michael Palmer, Maxim Pilipovskiy, Maria Jones, Jennifer Powell, Dawn Happel, and Jennifer Umberhind):

"...Based on the information, I just wanted to double check a couple of things to make sure our system handles the procedures correctly:

Code `BVAGR` seems to refer to a Full Grant. Based on what I checked in VBMS, it is possible to c

[2017-05-23 18:11] NickHeiner commented on #2115
As you can see in the screenshot on #2119, I messed up the message and inserted a linebreak where there should not have been one. Is it worth fixing?

[2017-05-23 19:00] NickHeiner commented on #1896
Other things that may be useful, if we can use them:

* https://heapanalytics.com/
* https://www.kissmetrics.com

[2017-05-23 19:20] NickHeiner commented on #1974
We did [some investigation](https://dsva.slack.com/archives/C4N3QTLT1/p1495566664380276).

Google Analytics is enabled for all of Caseflow, but it's not working in Firefox. So if our users are on Firefox, GA will not show up for them.

[2017-05-23 19:39] joofsh opened #2124 "Return 404 if user has no vacols_id"
For now, if a user does not have a vacols_id, show them the 404 page.

This prevents getting errors in production

[2017-05-23 20:50] nikitarockz commented on #1250
# Update
There are 3 places for a possible links:

- BVA Intranet Page
- Physical PC (Start Menu/All Programs)
- Citrix Desktops

I have identified the process for getting the **_Physical PC_** (Start Menu/All Programs) option.  It takes about 2 weeks for it to be implemented (process details - [App Shortcut Link | Identify process for enabling and providing link to users #1291](https://github.com

[2017-05-23 20:59] kierachell commented on #1824
**PASSED**
Successfully made it fail with duplicate tag text :D

[2017-05-23 20:59] #1824 closed

[2017-05-23 22:42] kierachell commented on #1915
## Getting token to work:
[code]
So it does authorize, but calls 500 if no SSN is passed. ok

## Let's try with SSN now:
[code]

Why

[2017-05-23 23:41] NickHeiner commented on #1983
We've done a bunch of PRs for this. It is now time to re-evaluate with users to see if we need further perf improvements. If so, let's open a new ticket.

[2017-05-23 23:41] #1983 closed

[2017-05-24 12:52] kierachell commented on #1930
**PASSED**
[code]

[2017-05-24 12:52] #1930 closed

[2017-05-24 12:56] kierachell commented on #1915
**PASSED**

[code]

[2017-05-24 12:56] #1915 closed

[2017-05-24 14:03] Chingujo commented on #1896
My two cents in case its helpful.

[ Kissmetrics](https://www.kissmetrics.com) offers more refined digital marketing side (conversions, marketing funnels and etc). Also good for tracking paths across multiple devices (I think all of our users are desktop). When I used both it was usually google analytics to store session data and Kissmetrics to do more detailed DM analysis.

Where most of the ques

[2017-05-24 14:48] tejans24 commented on #1954
https://github.com/department-of-veterans-affairs/caseflow/pull/2024 - fixes this issue.

For some reason, the issue is not being connected to the PR.

[2017-05-24 15:11] NickHeiner commented on #1896
@Chingujo have you worked with Mixpanel?

[2017-05-24 15:49] kierachell commented on #1881
@joofsh
The best documentation is:
- What are the connecting keys? `STAFKEY` = `vacols_id` => `SATTYID` => `BOARD_MEMBER`
- What is the data that you are pulling and why (e.g. why does `HEARING_DISP` matter? )

[2017-05-24 16:43] Chingujo commented on #1896
@NickHeiner

I have but not an expert. Sat through a demo and created tracking plans for it.  Not an expert.

Some things to consider

Pros:

- [ ] You can run it with Google Analytics (JS doesn't interfere or shouldn't when I did both)
- [ ] Event tracking emphasis over page views. The nice thing is that it is pretty hands off
- [ ] Works with Ruby (thought haven't done technical implementation)

[2017-05-24 17:46] kierachell commented on #2052
@amprokop
`@poas[file_number] ||= get_poa_from_bgs_poa(bgs_poa)` seems to be causing errors:
[code]
## BGS response _does_ happen:
[code]

[2017-05-24 18:47] kierachell commented on #1882
**PASSED**
<img width="1252" alt="screen shot 2017-05-24 at 2 45 54 pm" src="https://cloud.githubusercontent.com/assets/18075411/26420178/db76c296-408f-11e7-973a-9873b0aa00a3.png">

[2017-05-24 18:47] #1882 closed

[2017-05-24 18:48] kierachell commented on #2124
**PASSED**
<img width="1252" alt="screen shot 2017-05-24 at 2 45 54 pm" src="https://cloud.githubusercontent.com/assets/18075411/26420262/1103b018-4090-11e7-89a2-6575ce7dac0d.png">
## removed VACOLS_ID
<img width="1091" alt="screen shot 2017-05-24 at 2 48 07 pm" src="https://cloud.githubusercontent.com/assets/18075411/26420261/10fd6b18-4090-11e7-948b-cab32f960a9e.png">

[2017-05-24 18:48] #2124 closed

[2017-05-24 18:53] kierachell commented on #1881
**PASSED**
[code]

[2017-05-24 18:53] #1881 closed

[2017-05-24 19:08] mmlumba commented on #2022
Original AC for 2: `Selecting download icon downloads the current document with default filename as given by browser`

[2017-05-24 19:21] kierachell opened #2134 "Inline Form | Input validation lets random characters through..."
# Description
When typing random things as I always do into the inline form;
for some reason it lets me input non-numbers like:
`e`, `.`, `+`... but not any other non-numbers...weird.

## Reproduction Steps

**Scenario 1 -**

1. Go to any Inline Form
1. Type `e`
1. Type `a`
1. Type `+`
1. Type random shit and see only the above work

**Validated in the following Envrionment(s)**
- [ ] Dev
- [X] UA

[2017-05-24 19:32] kierachell commented on #1731
**PASSED**
Just seeing this now;
<img width="1006" alt="screen shot 2017-05-24 at 3 31 40 pm" src="https://cloud.githubusercontent.com/assets/18075411/26421995/1ff5a2ba-4096-11e7-880e-836d8e4f4dd0.png">

[2017-05-24 19:32] #1731 closed

[2017-05-24 19:33] gnakm commented on #1966
After our chat, this is where we landed:

**Save new comment** and **Save edit**
![image](https://cloud.githubusercontent.com/assets/13420618/26421219/33ed2b4c-4093-11e7-8ad3-ba54ea70c89f.png)
- [ ] Comment box should be focused
- [ ] Comment should be saved
- [ ] User can try again by clicking save button or the Try saving again link in copy.
- [ ] Alert always above the individual comment box

*

[2017-05-24 19:34] Sjones352 commented on #1085
@mmlumba Messages will remain a section of it's own.

[2017-05-24 19:37] gnakm commented on #1966
^ @abbyraskin The above is what we discussed today between meetings. I want to make sure this is the final verdict so that I can write a detailed AC for the use cases.

[2017-05-24 19:43] abbyraskin commented on #1966
it looks good to me, i think we should run it past engineers first before you detail the AC.

[2017-05-24 19:43] gnakm commented on #1999
Previous AC:

## Description
Currently (for the pilot) users have to type in the Veteran ID number in the URL in order to access Reader. This is prone to error and quite frankly, annoying. Let's give them a better experience!

Operation let's get rid of URL hack!

## AC
- [ ] Verify that entering the Veterans ID in the search box will enter into Reader.

## Mockup

![image](https://cloud.githubuse

[2017-05-24 19:51] gnakm commented on #1966
@NickHeiner @mdbenjam

Could you guys check the previous comments on the mock and answer the following questions:
1. Do they make sense?
2. Are we missing something?
3. How should these issues be broken out? All in one issues? Granular issues?

[2017-05-24 19:53] gnakm commented on #1999
@mdbenjam Could we show users what cases they've already opened vs. new ones that came in? Trying to understand the level of complexity this may entail.

![image](https://cloud.githubusercontent.com/assets/13420618/26422720/fe8f1dba-4098-11e7-9f35-daf7dbba2616.png)

[2017-05-24 20:32] amprokop opened #2135 "Ensure that Form 9 PDF appears on demo and local"
Due to some code changes, the stub Form 9 stopped appearing on local demo. Ensure that we can fetch this document and display it on local and demo envs.

https://cloud.githubusercontent.com/assets/3781835/26214928/3f5e6868-3bcc-11e7-8314-eab2d23dae99.png

### Acceptance Criteria ###
- Ensure that for 123C, `lib/pdfs/Formal_Form9.pdf` is displayed on the Confirm Hearings page on both local and dev/

[2017-05-24 21:02] tejans24 commented on #1966
I think this makes sense. It's probably a typo for the Delete comment failure, but it should probably say 'Please try again' or 'Please try deleting again'?

Should it show up between the Page number and the text box or above the Page number column in the comment?