[2019-03-27 19:51] MeredithStewart commented on #10182
Related support ticket: https://github.com/department-of-veterans-affairs/appeals-support/issues/4650

[2019-03-27 19:51] ShellySmithDSVA commented on #10013
Closing this ticket. See #10139 for the designs, user stories, and requirements.

[2019-03-27 19:51] #10013 closed

[2019-03-27 20:04] MeredithStewart commented on #9858
Update: We expected the San Antonio Veterans to show up under Houston over time since this change was deployed. As of 3/27/19, only 6 Veterans show up in the Houston list matched to the San Antonio, but we think a lot more to this add to this lists, but they don't seem to be moving over.

[2019-03-27 20:59] pkarman commented on #10109
Let's do 2 things:

* [ ] write a script to compare existing EPE and EP codes
* [ ] add a Sentry logging error on sync when we encounter it, to create a little noise for ourselves

[2019-03-27 21:06] #9896 closed

[2019-03-27 22:11] pkarman commented on #9572
All duplicates have been merged in UAT.

[2019-03-27 22:21] shanear opened #10187 "Issues contesting decisions on previous non rating issues show up as rating issues."
In the scenario where a veteran contests a decision on a previous nonrating request issue, the resulting request issue will register as a __rating issue__ instead of a __nonrating issue__. We should fix this.

[2019-03-28 18:08] lowellrex opened #10195 "Make convenience method to clear resource-related caches"
While debugging a production issue we cleared the redis cache for multiple keys related to the `users` table and VACOLS queries. We had to enter the production console and manually run `Rails.cache.delete({{KEY}})` for several cached queries. Since we also store feature toggles and functions in the redis cache running `Rails.cache.clear` would have cleared those. In order to clear all transient ca

[2019-03-28 18:11] pkarman commented on #10195
Might be nice to group cache keys by the resource they front (VACOLS, BGS, etc) so that we could call something like: `Rails.cache.clear(:vacols)` and it would Do The Right Thing.

Probably also useful as an audit of all the ways/places we are caching stuff.

[2019-03-28 19:08] pkarman commented on #10144
Sentry stopped throwing this error after we deployed #10175 so considering this fixed.

[2019-03-28 19:08] #10144 closed

[2019-03-28 19:10] #10177 closed

[2019-03-28 19:16] MeredithStewart commented on #10026
Confirmed that this page: https://appeals.cf.ds.va.gov/hearings/schedule/docket/94 still won't open in both Hearing Schedule and Hearing Prep for Judge Wills.

[2019-03-28 19:36] MeredithStewart opened #10199 "BUG: Veteran shows on wrong hearing day in Hearing Prep for 4/2"
Judge sees a false hearing day in Hearing Prep for 4/2/19 -- https://appeals.cf.ds.va.gov/hearings/dockets/2019-04-02

This Veteran shows up on Hearing Schedule Daily docket for: https://appeals.cf.ds.va.gov/hearings/schedule/docket/128, which is correct.

This hearing was previously the one that was Manila RO and was showing up incorrectly. We can't update the time to correctly show.

Bottom line

[2019-03-28 19:57] pkarman opened #10200 "Flakey noncomp test"
https://circleci.com/gh/department-of-veterans-affairs/caseflow/55266

[2019-03-28 20:26] leikkisa commented on #10059
Martina has not heard back from the user.  I sent an email to Jennifer to see if she could add the claimant.

[2019-03-28 20:36] leikkisa opened #10202 "Improve copy for when to email CorporateDB to add a claimant"
Jennifer is getting requests that she is unable to support, such as that we're not listing POAs in claimants, or getting a message that someone got a not found error when searching for a Veteran (but without any more information such as an ID).

If Jennifer continues to mostly gets Caseflow requests, and not requests to make changes to the Corporate DB, then we may want to consider directing users

[2019-03-28 20:46] leikkisa commented on #10202
@carolaponce I think information about POAs would also be good to add to the FAQ. Pasting in a Slack comment from Rachel Sauter:

...sometimes the POA fills out a form for the veteran, but in that scenario, they are standing in the shoes of the veteran - just filling out the form doesn't make them the claimant. The only other thing I can think of is the fee agreement case. In those cases, the rep

[2019-03-28 20:57] Sjones352 opened #10203 "Check for Incident Flash on Intake start"
Incident Flash is a temporary lock on a Veteran record that prevents new claims from being established.

We should check for the presence of that Flash when an intake starts, similar to our checks for other valid Veteran attributes.

## AC

If Veteran has an Incident Flash on their record, halt the intake and present user with error message about contacting {{TODO identify contact}} to remove the

[2019-03-28 21:00] leikkisa commented on #9559
I think we'll still have edits to make in the future, but I'm going to go ahead and close this issue!

[2019-03-28 21:00] #9559 closed

[2019-03-28 21:05] leikkisa commented on #10203
We are waiting for an update from Nate about this.

[2019-03-28 21:40] #7612 closed

[2019-03-28 21:43] #10041 closed

[2019-03-28 21:49] leikkisa commented on #10059
@Sjones352 The error should happen on this screen after you click "Submit". So you don't have to fully establish the claim, you just have to try to go to the next page.

[2019-03-28 21:50] leikkisa commented on #10059
It looks like this:

![Screen Shot 2019-03-28 at 2.49.20 PM.png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/f66ef8db-965e-4934-96cd-4b0398f57319)

[2019-03-28 21:52] carolaponce commented on #10202
@leikkisa I don't understand the use case fully but, I do agree if this this a clarification users need to understand it should be documented somewhere.  The FAQs as we have them, explain how to use intake.  This might be more of a procedural documentations.

I will follow up in Slack about where to house this documentation with Sadia who I think is updating caseflow and AMA documentation.

[2019-03-28 23:11] leikkisa commented on #9649
This is failing for rating issues (see Appeal 151 and 152). It seems like it's because the issues are not still categorized as rating on the remand supplemental claim.  I don't know if this is specific to the way I'm doing this in UAT, but the decision issue still has the correct designation for rating?, and it gets lost on creating the remand supplemental claim.

[2019-03-28 23:23] Sjones352 commented on #10059
**Passes UAT**

<img width="1372" alt="Screen Shot 2019-03-28 at 7 22 19 PM" src="https://user-images.githubusercontent.com/23080951/55199044-ec1c6300-518e-11e9-8682-d6c815d4cd01.png">

[2019-03-28 23:24] leikkisa commented on #9649
Phew, this is validated! See EPE 1061

Here's the script that was used for creating the decisions

[code]

[2019-03-28 23:25] #9649 closed

[2019-03-28 23:26] #10059 closed

[2019-03-28 23:30] leikkisa commented on #9789
#### Validation instructions
- Do a HLR or Appeal intake
- Add an old issue. If there's not an old rating issue, add a nonrating issue and make it's decision date a couple of years before the receipt date
- It should ask you if the Veteran requests a timeliness exemption with a radio button, but not have a notes field.  If you select "Yes" it should show the notes field.

That's it!

[2019-03-28 23:34] carolaponce commented on #10202
@leikkisa Per Sadia's response, your original recommendation to include in the FAQs is better.  I'll review with Rachel and Will. I don't understand the use case fully, so I'll figure out what information should go on the help page.

[2019-03-28 23:43] leikkisa commented on #9643
Sorry, I thought I had commented on this earlier, this revealed a bug unrelated to the timing, https://github.com/department-of-veterans-affairs/caseflow/issues/10171

There's a PR in for that one now, so we can try to validate them at the same time, woot.

[2019-03-29 00:03] Sjones352 commented on #9679
@leikkisa validated this Issue. Please refer to https://github.com/department-of-veterans-affairs/caseflow/pull/10132
<img width="744" alt="Screen Shot 2019-03-28 at 8 01 44 PM" src="https://user-images.githubusercontent.com/23080951/55200418-5e437680-5194-11e9-88f2-669fb70d9c9e.png">

[2019-03-29 00:03] #9679 closed

[2019-03-29 00:39] leikkisa commented on #9643
Doesn't seem to be working in UAT:
Got this error for a remand supplemental claim
The data value of the ClaimDateDt within the claimToEstablish did not satisfy the following condition: The ClaimDateDt value must be a valid date for a claim.
https://sentry.uat.ds.va.gov/sentry/caseflow-uat/issues/1451/

The claim date is: Fri, 29 Mar 2019
The Sentry date is 12:02AM On March 29th
The establishment_s

[2019-03-29 00:40] leikkisa commented on #10171
Oh, I shouldn't validate this one, but I was trying to validate another one, and created: HLR 1326 with an education issue, and made a decision on it, and it created the remand SC 451

[2019-03-29 00:42] leikkisa commented on #9794
Validated that the remand SC has a delayed submit_for_processing (See SC 452), however, it is not sufficient, at least not in UAT to avoid the claim date issue.

The data value of the ClaimDateDt within the claimToEstablish did not satisfy the following condition: The ClaimDateDt value must be a valid date for a claim.
https://sentry.uat.ds.va.gov/sentry/caseflow-uat/issues/1451/

The claim date i

[2019-03-29 00:52] Sjones352 commented on #9643
@leikkisa if I were to do an  Appeal intake with a  processed_in_vbms, there is no business_line for compensation and pension.

[2019-03-29 00:59] Sjones352 commented on #10171
**Validated in UAT and it passes**
![Screen Shot 2019-03-28 at 8.57.50 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58209eeb97c65e0e00e4cfa6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5700b77206456fb6b7191a370f1172c4f5a5f5ecc3c4a4356bcbbd671f3e57862804e0ee5d33c5d22c33413a5b8d41bbf50bd208b1d87b3bc891ed2f42f67b6d5db1063474f4dcbed5727a19141c95df348e94f54a41a

[2019-03-29 00:59] #10171 closed

[2019-03-29 01:09] Sjones352 commented on #9789
**Passes UAT**

<img width="1431" alt="Screen Shot 2019-03-28 at 9 04 53 PM" src="https://user-images.githubusercontent.com/23080951/55202394-9dc29080-519d-11e9-8ef4-eea2493ef92c.png">
<img width="795" alt="Screen Shot 2019-03-28 at 9 06 11 PM" src="https://user-images.githubusercontent.com/23080951/55202395-9dc29080-519d-11e9-803e-9b9287265eb6.png">
<img width="832" alt="Screen Shot 2019-03-28 at

[2019-03-29 01:09] #9789 closed

[2019-03-29 13:46] MeredithStewart opened #10208 "Bug: Disposition on Daily docket can't be updated (Hearing Schedule)"
On the docket: https://appeals.cf.ds.va.gov/hearings/schedule/docket/36
For this hearing: https://appeals.cf.ds.va.gov/hearings/636901/details

Changing disposition on daily docket provides popup about switching but then when the user selects the save button, nothing happens - no error. Refreshing the page wipes the disposition that was selected.

[2019-03-29 13:48] aroltsch commented on #10095
Nicholas Holtz (he/him, appeals)   [3 days ago]
We need to remove issues from Appeal 2 (https://appeals.cf.ds.va.gov/queue/appeals/f859791a-59b0-483b-b116-a1e102e548a5), and delete that appeal.

Then, we need to go into Appeal 1 (https://appeals.cf.ds.va.gov/queue/appeals/25fea1a5-e296-487b-b852-55ab4b74cd84), which has already been dispatched, and add request issues and decision issues to Appeal

[2019-03-29 14:37] shanear opened #10210 "Tech spec | How might we store 1+ decision documents per appeal?"
Currently the logic that processes outcoding for appeals uses the decision document as the central piece of data that connects and manages outcoding related actions. It assumes that each appeal has exactly one decision document (the decision document to be mailed to the veteran).

However, there are instances when the Veteran may have a second decision document mailed to them, and therefore a seco

[2019-03-29 14:44] shanear opened #10211 "Decision Sync | Even rating issues not connected to request issues should be considered decision issues"
According to a conversation with AMO a while back, we discussed what should happen if a veteran submitted an HLR contesting an issue made on a previous HLR rating _but_ was not connected to a request issue. We concluded that even though the issue was not connected to a contention (request issue), the decision should still be considered as a HLR decision for validation purposes (i.e. it can not be

[2019-03-29 14:45] shanear commented on #10211
Assigning to @laurjpeterson for awareness and prioritization

[2019-03-29 14:50] #9968 closed

[2019-03-29 14:53] laurjpeterson opened #10212 "Add due process remand reason for AMA appeals"
We recently learned that AMA appeals actually need a due process remand reason. Let's add it to the Remand Reasons page for AMA appeals.

## AC
- Remand reason category - Due Process
- Remand reason - Other due process deficiency

[2019-03-29 14:59] pkarman commented on #9643
@Sjones352 you are correct. There are no lines of business records for compensation/pension. Those are processed entirely in VBMS. For an Appeal, if you pick a benefit type per-issue, you should be able to pick compensation or pension one issue, and a non-comp LOB for another.

[2019-03-29 15:02] #9495 closed

[2019-03-29 15:06] MeredithStewart commented on #10069
Note that these time issues are causing a lot of issues in Hearing Prep - sometimes organizing hearing days incorrectly when a Judge is on the west coast.

[2019-03-29 15:20] #10095 closed

[2019-03-29 15:53] pkarman opened #10213 "Contention not found on RequestIssuesUpdate"
Examples:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4207/events/286758/
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4207/events/286699/

I suspect these are because the contentions are being worked manually in VBMS.

e.g. missing contention `87867502` on request issue `15453` but there is a contention `87869320` with identical text that is

[2019-03-29 15:57] #10140 closed

[2019-03-29 15:59] lowellrex opened #10214 "Cancel all tasks assigned to old VSO when appellant representation changes"
In [`TrackVeteranTask.sync_tracking_tasks`](https://github.com/department-of-veterans-affairs/caseflow/blob/50a83ce0f8334f639d5caf3dcdffdce5b258a2b2/app/models/tasks/track_veteran_task.rb#L33) we open and close tracking tasks when appellant representation changes (by way of [the `UpdateAppellantRepresentationJob`](https://github.com/department-of-veterans-affairs/caseflow/blob/50a83ce0f8334f639d5c

[2019-03-29 16:14] pkarman opened #10215 "Update error message for Selection Form already processed"
See https://dsva.slack.com/archives/C754H751T/p1553873240030300

Current text is:

New text:

instead of:

[2019-03-29 16:39] aroltsch opened #10216 "When counting task children, count only non cancelled tasks"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4335/
AC: When counting task children, count only non cancelled tasks

[2019-03-29 16:42] MeredithStewart commented on #10199
Related support ticket: https://github.com/department-of-veterans-affairs/appeals-support/issues/4550

[2019-03-29 16:47] MeredithStewart opened #10217 "Bug: Appeal with video hearing in 57 since 2/19, not pulled into Caseflow"
Appeals below has been charged to 57 since 2/15/2019 and hasn't moved into Caseflow, no tasks for scheduling hearing showing up.
1. https://appeals.cf.ds.va.gov/cases/223708
2. https://appeals.cf.ds.va.gov/queue/appeals/2850494

Reported by Sal on 2/29/19. I had him double check that the hearing type is selected, he sent me screenshot confirming this was selected.

Another

[2019-03-29 17:12] MeredithStewart opened #10219 "Bug: 3 AMA appeals no RO/tasks, but need to be scheduled"
In the list of AMA Veterans we've provided to the branch to schedule through May 2019, three appeals don't have an RO associated and don't have Schedule Veteran tasks to complete through search:

1. appeals/cee54423-40ee-4f18-9d0d-3cc1adc96237 (says it's assigned to American Legion)

2. appeals/2d4dc91d-5393-4d40-9159-94ad95958d87 (says it's in case storage)

3. Last one doesn't load -- says there

[2019-03-29 17:22] MeredithStewart commented on #9858
As of 3/29/19 -- still only 6 Veterans show up under Houston legacy list.

[2019-03-29 18:05] #9330 closed

[2019-03-29 18:19] leikkisa commented on #9984
@carolaponce Should the number on the issues be as in the mock, or should the RequestIssues start with 1 also?  (I'm figuring the mock might have been due to copying an element and moving it, but that RequestIssues should still start with 1.

[2019-03-29 19:18] MeredithStewart commented on #10072
Filter is now showing 4/22/18 hearing day for Judge Herman after merging records. The underlying issue is persumed to be the data issue - rather than the filters.

The filters are still split between Uppercase and lowercase, but that resolves for hearings after 4/1/19 - so this will go away. Lower priority among other higher priority work to do.

[2019-03-29 19:18] #10072 closed

[2019-03-29 19:35] sharonwarner commented on #10199
I updated the hearing in VACOLS so that it's now the correct date. It shouldn't show up on 4/2 for that judge anymore.

[2019-03-29 19:35] #10199 closed

[2019-03-29 19:42] allyceh commented on #9904
Closing this issue.

Resolution: @aroltsch manually reassigned this case to the judge, and it's now in his queue.

[2019-03-29 19:42] #9904 closed

[2019-03-29 22:29] #10208 closed

[2019-03-29 22:42] leikkisa commented on #10102
The End Product got cleared on the 26th, but the status didn't get synced until the 27th, and the issue removal was on the 26th, so maybe we need to sync the EP before loading the edit page. Once an EP is cleared, they can't edit anymore.

[2019-03-29 23:01] leikkisa commented on #10203
Notes from an email:
From Colin: We have a case in production with the 2x CADD flash, which prevents address updates. However, claim establishment is allowed. I tested this in prodtest against the record in VBMS and it established properly.

From Peter: Error is coming from VBMS API

From Joe: This is an existing issue in general for VBMS CEST, not specifically the External Claim Service (claims a

[2019-03-30 16:04] laurjpeterson commented on #8936
Progress 3/29:
- Sierra is implementing according to this order of operations:
  1. Remove issue by issue
  2. Withdraw issue by issue
  3. Global withdrawal and removal
  4. Handle stayed issues

<img width="361" alt="Screen Shot 2019-03-30 at 12 03 19 PM" src="https://user-images.githubusercontent.com/27704093/55278530-d8364580-52e3-11e9-9d43-558a30532305.png">

[2019-03-30 18:44] pkarman commented on #10102
yes that makes sense, and is consistent with what we already did at intake start in #9519

[2019-04-01 12:58] lowellrex opened #10225 "Unify type returned from disposition() for hearing classes"
Calling `hearing.disposition` returns either a string or a symbol depending on whether `hearing` is an instance of an AMA `Hearing` or a `LegacyHearing`. `Hearing` objects return the string value [stored in the database](https://github.com/department-of-veterans-affairs/caseflow/blob/429707a2c2bf1ba02945e26b45ae4c7ce64a94a6/db/schema.rb#L536) whereas `LegacyHearing` objects [return symbols](https:

[2019-04-01 13:43] lowellrex opened #10227 "Reduce UpdateAppellantRepresentationJob slack messages"
We [recently changed](https://github.com/department-of-veterans-affairs/appeals-deployment/pull/2016) the `UpdateAppellantRepresentationJob` to run once an hour instead of once a day. As a result we are now sending 24 messages to [the #appeals-app-alerts slack  channel](https://dsva.slack.com/archives/C4JECDLSE/p1554009518116900) every day instead of 1.

![image](https://user-images.githubusercont

[2019-04-01 14:05] allyceh commented on #9904
Closing out this issue.

Resolution: Rachel added the issues to this case. We then manually assigned the case to Judge Senyk so that he could add the dispositions. BVA Dispatch confirmed that the case then appeared in their queue for dispatch.

[2019-04-01 15:50] annekainicUSDS opened #10230 "Error getting appeal hearing"
There was an error getting a particular appeal's hearing when trying to set the most recently held hearing for that appeal (triggered in HearingBadge component). Here is the link to the Sentry alert for this error: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2991/.

Not sure if it is related to the appeal in question or some other issue, but either way we might want to

[2019-04-01 16:01] laurjpeterson opened #10231 "Investigate QR selection again"
March selected only 135 appeals, rather than 137. Let's investigate why that happened again.

[2019-04-01 16:08] #9883 closed

[2019-04-01 16:13] MeredithStewart commented on #10116
Another one from Sal on 4/1/19: I rescheduled the Veteran below immediately and the appeal was charged to loc 55 instead of staying in CaseFlow.  Appeal is currently charged to loc 38.

https://appeals.cf.ds.va.gov/cases/172763

[2019-04-01 16:25] pkarman opened #10233 "Add canceled_at column to asyncable module"
Some asyncable jobs will never successfully finish. Rather than delete them, add a `canceled_at` column that can be set with a `cancel!` method. The normal per-class column name overrides should be supported.

[2019-04-01 16:35] nicholasholtz commented on #10060
[Adding issues - 10060.xlsx](https://github.com/department-of-veterans-affairs/caseflow/files/3030457/Adding.issues.-.10060.xlsx)

[2019-04-01 16:47] allyceh commented on #9561
![image](https://user-images.githubusercontent.com/40216950/55344697-06e72400-547c-11e9-9a28-a0a44e60f5da.png)

Above is an updated "Add decisions" modal that aims to address this issues along with other usability issues. Updates to this modal include research findings from usability sessions with attorneys. See "AMA Issues Feedback Sessions" in Mural for full takeaways from these sessions.

Updat

[2019-04-01 16:49] pkarman commented on #9572
All duplicates have been merged in production.

[2019-04-01 16:50] nemodjuric commented on #10107
@aroltsch Should alert go to Slack? Which channel?

[2019-04-01 16:58] MeredithStewart opened #10234 "Bug: Appeal charged to POA that isn't listed nor IHP writing"
This appeal shows assigned to "National Law School Veterans Clinic Consortium," (a POA VSO) but it is believed that this an error:

https://appeals.cf.ds.va.gov/queue/appeals/3191420

From Sal 4/1/19: The hearing was successfully cancelled, no change in location in VACOLS but is now assigned to the National Law School Veterans Clinic consortium?  There is no POA for this appeal in VACOLS or VBMS.

[2019-04-01 17:01] aroltsch opened #10235 "Implement a retry mechanism on BGS transient error"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3325/
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3171/

Follow the example Intake implemented: https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/exceptions/bgs_sync_error.rb#L48

1. Catch TransientBGSSyncError
2. Retry the request

[2019-04-01 17:03] nicholasholtz commented on #10060
@aroltsch - FYI - the one case identified above not included in the spreadsheet is https://appeals.cf.ds.va.gov/queue/appeals/8f18d094-ff09-49f5-936d-7d13d05c9351. This case is still pending dispatch, though I will note that the request issues are in place on the appeal already. When it is dispatched, I can update the spreadsheet with the issues and dispositions.

[2019-04-01 17:17] nicholasholtz opened #10236 "Remove improperly intaken appeal"
Please remove https://appeals.cf.ds.va.gov/queue/appeals/3d268dff-ebfc-4d4d-9aad-750b620dead0 as it should not have been intaken at the Board.

Please also remove - https://appeals.cf.ds.va.gov/queue/appeals/33ecd291-f482-46e3-ba86-5bf57824c13e
- from support ticket: https://github.com/department-of-veterans-affairs/appeals-support/issues/4527

[2019-04-01 17:17] mc-usds opened #10237 "Appeal Status API Sentry issue"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3882/

[2019-04-01 17:19] carolaponce opened #10238 "Update copy and training materials for Help page"
Updated content a copy for Caseflow intake help page.

[2019-04-01 17:20] leikkisa commented on #8647
Pension issue categories to include:
    "Apportionment",
    "Burial Benefits - NSC Burial",
    "Burial Benefits - Plot or Interment Allowance",
    "Burial Benefits - Transportation Allowance",
    "Burial Benefits - VA Hospitalization Death"

[2019-04-01 17:24] carolaponce commented on #10238
Updated copy:
https://github.com/department-of-veterans-affairs/appeals-training/blob/master/Intake/AMA_training/Intake_helpPage.docx

Updated training material:
Here is the link to the training guide - https://github.com/department-of-veterans-affairs/appeals-training/blob/master/Intake/AMA_training/Intake_training_guide.pdf

[2019-04-01 17:30] laurjpeterson commented on #10231
@lowellrex @aroltsch - FYI. no action now, we can discuss during sprint planning.

[2019-04-01 17:31] leikkisa opened #10239 "BGS/VBMS meeting 4/4"
### Agenda

1. Could not find a veteran -- Sent over the filenumber via encrypted email.
    - https://github.com/department-of-veterans-affairs/caseflow/issues/9741
1. Incident Flash bug
    - INC4529679
    - https://github.com/department-of-veterans-affairs/caseflow/issues/10203
    - VBMS says they cannot fix. Need to figure out next steps.
2. VetRecordWebService.findVeteranByFileNumber - uniq

[2019-04-01 17:42] carolaponce commented on #10202
Todo:

- Reach to Rachel Sauter to better understand copy for FAQ
- Coordinate including traning material with @Will
- Request copy modification in help page

[2019-04-01 17:50] #9774 closed

[2019-04-01 17:54] aroltsch commented on #10060
It is unclear what to do with this appeal: 444fc607-6406-4976-8e6b-df84006c0af5. All
request issues have status of dismissed_death.

[2019-04-01 18:08] youngfreezyVA commented on #9558
@laurjpeterson does this mean that `Assign to Privacy team1

@laurjpeterson does this mean `Assign to Privacy Team` shouldn't be included in the options above?

[2019-04-01 18:15] MeredithStewart commented on #10026
Confirmed work, can close ticket!

[2019-04-01 18:15] #10026 closed

[2019-04-01 18:20] hschallhorn commented on #10230
Did some digging through our aws logs and  found where this 500 came from
`
dsva-appeals-certification-prod/opt/caseflow-certification/src/log/caseflow-certification.out i-0c6e73023416d6a0c [appeals.cf.ds.va.gov] [ed7534b7-79d0-4d0d-aa1f-769ef924a02a] [172.30.83.17] [VACOPEDENN neely.peden@va.gov] [2019-04-01 10:06:52 -0400] ActiveRecord::ConnectionTimeoutError (could not obtain a connection from

[2019-04-01 18:23] carolaponce commented on #9984
@leikkisa The number of the issue is meant to be the same # of the original issue.  If issue #2 would be withdrawn, the withdrawn issues section would show issue #2...and the issues left in the requested issues would show issues #1 and #3.  Does that make sense?

[2019-04-01 18:25] MeredithStewart commented on #10075
Confirmed, this says it's loading, then loads. Confirmed with 4/4/19 Indianapolis hearing date.

[2019-04-01 18:25] #10075 closed

[2019-04-01 18:39] #10237 closed

[2019-04-01 18:45] marvokdolor-gov commented on #8547
## Notes from Allyce & Marvo conversation with Kate (Lit Support) 04/01/2019

### What we learned:
- A motion **cannot** be filed on the ruling from a motion, see answer to question 2. posed [above](https://github.com/department-of-veterans-affairs/caseflow/issues/8547#issuecomment-477247932).
- CUEs have a new docket number
- All other post-decisional motions do **not** have a new docket number

[2019-04-01 18:52] sharonwarner commented on #10116
I've moved both these appeals back to Caseflow. My guess is that these appeals were in the wrong location before postponing, and we didn't move them anywhere while postponing. Following up with Sal next time he tries to postpone a hearing.

[2019-04-01 19:10] hschallhorn commented on #8095
So I've done some looking into adding an admin action to a legacy appeal and there are two separate issues.
1. **The parent task does not show up in the on hold tab**
We don't actually handle the newly created tasks that are returned with the request as we do when we create an admin action on an [AMA task](https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/app/queue/AddC

[2019-04-01 19:40] #10217 closed

[2019-04-01 19:42] sharonwarner commented on #10219
I found 7 AMA hearings appeals that don't have any distribution task or schedule hearing task. They all have fairly low IDs, my guess is that they were intaked before we had the Schedule Hearing Task logic in place, and the backfill missed them for some reason. Will backfill with the following commands:

[code]

[2019-04-01 19:49] pkarman opened #10245 "Cache deceased flag on veteran"
To avoid hitting BGS during every Intake step (e.g. review) explore caching the veteran attributes we need when Intake starts.

e.g. https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4155/

[2019-04-01 20:17] pkarman commented on #9815
https://github.com/department-of-veterans-affairs/appeals-deployment/commit/a60490633a527d325df023bceb95911754c659db

[2019-04-01 20:17] #9815 closed

[2019-04-01 20:25] #9572 closed

[2019-04-01 21:09] aroltsch commented on #10060
The same for this appeal: 7883b2bd-917d-42ec-abe7-b204e486812c

[2019-04-01 21:09] aroltsch commented on #10060
@nicholasholtz done with all appeals except the above 3

[2019-04-01 21:25] sharonwarner commented on #10219
Six out of the 7 AMA appeals that didn't have ScheduleHearingTasks were BEAAM appeals. Chris's script will have to be modified to not return BEAAM appeals.

The remaining AMA appeal (313) with no ScheduleHearingTask was a duplicate. The duplicate has been deleted, and I created a DistributionTask, HearingTask, and ScheduleHearingTask.

[2019-04-01 21:25] #10219 closed

[2019-04-01 22:13] will commented on #10202
I don’t have any training material ready, sorry :(

[2019-04-01 22:41] Sjones352 commented on #10101
@pkarman this has already been done.
<img width="1533" alt="Screen Shot 2019-04-01 at 6 40 34 PM" src="https://user-images.githubusercontent.com/23080951/55364188-affa4280-54ad-11e9-8fb2-71ab981e088c.png">

[2019-04-02 00:08] laurjpeterson commented on #9527
The Board has gotten OGC approval for this, so we can consider it for our next sprint again.

[2019-04-02 01:02] annekainicUSDS opened #10250 "Diagnostic code is an empty string"
Sentry alert: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4074/.  Looks like there was an `ActiveRecord::RecordInvalid` error when trying to update issue dispositions in caseflow. Maybe related to an invalid parameter that as passed: `{ "name": "transaction" }`, but not sure.

[2019-04-02 01:32] leikkisa commented on #8647
I tested the "00" payee_code on a deceased Veteran in UAT and was able to successfully create a claim.

We are investigating how to identify Burial ratings (Mary Kay says they can be rating issues), and which other relationship types besides dependents are eligible to be claimants, so that they are available in the list of claimants.

[2019-04-02 01:41] leikkisa opened #10251 "NCA | Investigate Allowing Non-Veteran Claimants"
With ruby-bgs right now, we're just getting the dependents. However, for pension burial or accrued issues, the claimant might be someone other than one of the Veteran's dependents.  Update the Veteran's relationships to include other eligible claimants (e.g. nephew filing for a deceased Veteran).

There are claims (Supplemental Claims and Higher Level Reviews) that we cannot process because of thi

[2019-04-02 12:24] pkarman commented on #10101
![Screen Shot 2019-04-02 at 7 24 16 AM](https://user-images.githubusercontent.com/1205061/55402154-5a0eb480-5518-11e9-8c99-882ab08e2b8c.png)

thanks @Sjones352 -- confirmed in UAT

[2019-04-02 12:24] #10101 closed

[2019-04-02 13:49] aroltsch opened #10254 "IDT api returns wrong rep info when contesting claimant."
IDT api returns wrong rep info when contesting claimant.
Example: case 3814284.  The Veteran is contesting a claim against the spouse, but the API assigns the Veteran's rep to the spouse and ignores the spouse's rep altogether

[2019-04-02 14:02] aroltsch commented on #10230
Nice find @hschallhorn. Let's close this ticket. We need to implement patch processing for hearings and documents endpoints and see if it helps.

[2019-04-02 14:02] #10230 closed

[2019-04-02 14:03] lowellrex commented on #8547
### Questions

Does that mean that if a motion for reconsideration (for example) is granted, the decision of that readjudication cannot be appealed?

How do judges know they have more work to do for those appeals in VACOLS? Do they just pop back up in some report they run to see what work they have to do?

### Answers

Yes.

No. We [determine whether a case is AOD](https://github.com/department-of

[2019-04-02 14:36] mdbenjam commented on #10234
The problem here is this user doesn't have a POA in BGS and we have a bunch of VSOs with nil for their participant ids. So we think anyone without representation has these VSOs as representation. Should have a fix soon.

[2019-04-02 14:48] annekainicUSDS opened #10255 "ActiveRecord::ConnectionTimeoutError"
This Sentry alert has gone off a few times in the past 24hr: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4040/. The alert says, "could not obtain a connection from the pool within 5.000 seconds (waited 5.000 seconds); all pooled connections were in use". Looks like the request to look up a user by css id and station id is timing out.

[2019-04-02 15:00] #10225 closed

[2019-04-02 15:04] nemodjuric opened #10257 "Feedback Deprecation Effort | Change Feedback Behavior"
# Proposed Solution – Low effort
The Caseflow team would like to have the Feedback Page updated to make users aware Feedback has been deprecated and the new method of submitted support tickets is via YourIT.

### **_Proposed Date of Change_**
May 13th, 2019

## Acceptance Criteria
**_Introduction Section_**
1. Create a new page at `/appeals.cf.ds.va.gov/feedback`
1. When user clicks "Send feedback

[2019-04-02 15:26] laurjpeterson commented on #9558
@youngfreezyVA - i do not think Assign to Privacy Team should be there.

@lowellrex added `Assign to Privacy` to be an option for all Colocated tasks back in Oct/Nov in response to something from VLJ Support, so will ask him to explain further if he wants to keep it.

I recognize removing `Assign to Privacy` might warrant its own separate github issue and if so, you don't need to finish it within

[2019-04-02 15:36] lowellrex commented on #9558
I think it's fine to get rid of that option for schedule hearing tasks.

[2019-04-02 15:40] #8937 closed

[2019-04-02 15:53] MeredithStewart opened #10260 "Bug: Hearing Prep Worksheet not showing AMA issues"
AMA issues aren't showing in Judge's hearing prep worksheets, but do show up on Case details.

Judge Herman:
1. worksheet: https://appeals.cf.ds.va.gov/hearings/5642891f-58d8-4330-9c88-b662a2d7bb13/worksheet shows slots for 1 issue. Issue on Case Details here: https://appeals.cf.ds.va.gov/queue/appeals/a747da33-8578-4c3b-ab75-36520332bfe0

2. worksheet: https://appeals.cf.ds.va.gov/hearings/997a75

[2019-04-02 15:55] #8972 closed

[2019-04-02 16:00] lowellrex opened #10261 "Load Veteran and POA info when case details page loads"
When we [added POA information](https://github.com/department-of-veterans-affairs/caseflow/pull/7061) to the case details page we introduced a pattern where we asynchronously request information for an appeal that comes from BGS after the case details page loads in order to speed up the initial case details page load. Now that we are [making a request to BGS](https://github.com/department-of-veter

[2019-04-02 16:02] MeredithStewart commented on #10260
Related support ticket (third judge): https://github.com/department-of-veterans-affairs/appeals-support/issues/4772#event-2247007412

[2019-04-02 16:10] #10234 closed

[2019-04-02 16:10] hschallhorn commented on #8095
This issue is caused by calling `onReceiveAmaTasks` which [sets all amaTasks](https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/app/queue/reducers.js#L97) rather than [merging as `onReceiveTasks` does](https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/app/queue/reducers.js#L91). This overwrites any colocated tasks from a legacy appeal that th

[2019-04-02 16:27] allyceh commented on #8547
@lowellrex Answer to one of your questions in-line above.

[2019-04-02 16:30] #7922 closed

[2019-04-02 16:44] allyceh commented on #8547
Recapping the options we have, from my understanding:

1) Keep everything in one appeal. When a motion is filed, any work on that motion will be done in the original appeal. When a judge needs to issue a new decision for a motion to vacate or motion for reconsideration, they will do this from the original appeal. Only CUE cases that require review by a judge will be a new appeal stream in VACOLS b

[2019-04-02 16:45] #10260 closed

[2019-04-02 16:54] marvokdolor-gov commented on #8547
@allyceh Does 1. involve a bunch of motion tasks? And only CUEs result in a new appeal stream **and** docket number?
Whereas 2. involves new appeal streams for each motion that all have the same docket number as the original appeal? (Same thing goes for CUEs above - new appeal stream **and** docket number).

[2019-04-02 16:56] allyceh commented on #8547
@marvokdolor-gov That is absolutely correct!

[2019-04-02 17:13] #9026 closed

[2019-04-02 17:14] #9785 closed

[2019-04-02 17:21] lowellrex commented on #8547
I think the approach that maps best to the actual process would be to keep everything in the same appeal and only create a new appeal (with a new docket number) for CUEs. I don't know how feasible this is in terms of creating new decisions and EPs though so maybe that doesn't work from an engineering standpoint. I'll defer to @aroltsch on the decision issue/EP creation question.

[2019-04-02 18:06] MeredithStewart opened #10264 "Bug: RO Schedule Veterans doesn't load"
When you select the RO, Central Office hearing's won't load in the Schedule Veterans view.

Hearing coordinator can't schedule or postpone any CO hearings.

Note that CO hearing dockets do load.

Update: All RO schedule views are timing out. Attempted Baltimore, Seattle, Atlanta. Anchorage did eventually load, but extremely slowly as did White River, VT (no Veterans for that RO).

[2019-04-02 18:07] MeredithStewart commented on #10264
<img width="752" alt="Screen Shot 2019-04-02 at 2 03 42 PM" src="https://user-images.githubusercontent.com/36775274/55425544-b261a880-5550-11e9-8cc9-27b26fbd447a.png">

[2019-04-02 18:52] aroltsch commented on #8547
I think creating a new appeal will work fine with decision issues and EP creation. An EP is associated with a veteran file number in VBMS. @pkarman might have a better insight into the EP creation.

[2019-04-02 20:06] pkarman opened #10270 "Audit schema for columns that need indexes"
Can use New Relic to identify slow queries.

[2019-04-02 20:15] MeredithStewart opened #10271 "Bug: VSOs can't load Hearing Schedule"
VSOs are getting time outs as they are trying to access Caseflow Hearing Schedule - they don't load anything in the app.

[2019-04-02 20:16] MeredithStewart commented on #10271
Related Support ticket: https://github.com/department-of-veterans-affairs/appeals-support/issues/4807

[2019-04-02 20:50] #9558 closed

[2019-04-02 21:46] pkarman commented on #8547
AFAIK we don't create EPs for Appeal request issues currently. Or are we using the word "appeal" here more generally to refer any of the 3 flavors of decision review?

[2019-04-02 21:59] nemodjuric commented on #10107
Look and scheduled alert created: https://caseflow-looker.va.gov/looks/174

[2019-04-02 21:59] #10107 closed

[2019-04-02 22:13] annekainicUSDS commented on #10255
Another related alert: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4413/

[2019-04-02 22:15] annekainicUSDS commented on #10255
And this one: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4419/

[2019-04-02 22:22] annekainicUSDS opened #10275 "Error in `setSavePending`"
We got 2 Sentry alerts about an error when trying to dispatch the action for `setSavePending`:

1. https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4425/
2. https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4426/

It looks like there was a failure to save something, and the response we got back was undefined, so when we check `response.text` [here](http

[2019-04-02 22:51] annekainicUSDS opened #10276 "Failure due to no access to task"
Sentry alert: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3283/

An accounted for error case was hit in the above Sentry alert where a user was unable to modify the appeal data for a given vacols ID. Look into the particular user and vacols ID to investigate the issue.

[2019-04-02 22:52] annekainicUSDS commented on #9899
@monfresh @tomas-nava this Sentry alert was triggered again today: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3283/activity/

[2019-04-02 22:52] annekainicUSDS commented on #10276
Ticket already exists. Will close this one.

[2019-04-02 22:52] #10276 closed

[2019-04-02 22:54] annekainicUSDS opened #10277 "Bug in TablePagination"
Sentry alert: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4410/. A value was undefined, which caused a check on the length of that value to trigger an error. This has only been encountered once, so probably not higher priority, but should be resolved.

[2019-04-02 23:38] tomas-nava commented on #10250
_What happened:_ a user submitted a case review (transaction `6e8e7a20-ce09-4c46-a3c8-540bb9c4590e`) with some empty (`""`) diagnostic codes, and [validation](https://github.com/department-of-veterans-affairs/caseflow/blob/queue/tomas/9885-create-change-disposition-task-and-actions/app/models/decision_issue.rb#L10) failed on the `DecisionIssue` when the review was submitted to [the `case_reviews#c

[2019-04-03 00:14] laurjpeterson commented on #8547
I agree with this!

[2019-04-03 02:11] laurjpeterson opened #10278 "Distinguish legacy merged + closed appeals in case timeline"
If a legacy appeal was merged in VACOLS and therefore one VACOLS record was closed, that closed appeal record's Case Timeline in Casefow is misleading. Caseflow displays the date of that merge as a dispatched BVA decision

https://github.com/department-of-veterans-affairs/appeals-support/issues/4383#event-2243616015

- Investigate if we can distinguish merge from decided appeal / if there is a dec

[2019-04-03 02:40] laurjpeterson commented on #10236
Sierra is working on removal and withdrawal of appeals. Since it's closer, can we wait to use that functionality to remove this appeal and its issues?

[2019-04-03 12:29] annekainicUSDS opened #10279 "Typo in appeals_controller"
Sentry alert: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4433/. This alert caught a typo in the appeals_controller. The code should probably be: `Caseflow::Error::ActionForbiddenError`.

[2019-04-03 13:52] allyceh commented on #8547
I am going to move forward assuming we're keeping everything in the same appeal and only creating a new appeal (with a new docket number) for CUEs-- as outlined above. Design will be based on this approach.

[2019-04-03 13:58] allyceh commented on #7126
@tomas-nava Designs are added (above!)

[2019-04-03 14:45] laurjpeterson commented on #10236
I'd like @pkarman to weigh in.

Option 1: delete this improperly intaken appeal now/this week using the method alex has been using
Option 2: remove this improperly intaken appeal using new remove/withdraw functionality

@pkarman - your best guess, when do you think we'd be ready to do option 2? if in longer than 2 weeks, would you be willing to delete this appeal instead?

[2019-04-03 14:48] pkarman commented on #10236
It's going to be longer than 2 weeks.

Happy to remove according to whatever method @amprokop has been using.

[2019-04-03 14:53] laurjpeterson commented on #10236
thanks @pkarman.

@amprokop - can you share your method (or point us to where you shared it before)?

[2019-04-03 15:03] laurjpeterson commented on #10236
There is another appeal reported in a support ticket that needs to be removed - https://github.com/department-of-veterans-affairs/appeals-support/issues/4527

I've also had email traffic with LRP and the attorney about this.

I asked the attorney to wait until we had the removal functionality in place, but if we are deleting the appeal in the original comment, I'll add this one too.

[2019-04-03 15:04] lowellrex commented on #9964
@marvokdolor-gov Do we know if this is still happening? I can't reproduce it locally.

[2019-04-03 15:10] amprokop commented on #10236
K, i'll delete both

[2019-04-03 15:19] pkarman commented on #10070
handled in #10274

[2019-04-03 15:20] pkarman commented on #10236
via DM
[code]

[2019-04-03 15:53] nicholasholtz opened #10286 "Bug: Not pulling RAMP contentions into Intake"
Case: https://appeals.cf.ds.va.gov/queue/appeals/7faadfaf-05fd-4c17-857b-c7aeeba5bed1

In this case, we are not pulling the issues/contentions from the most recent EP.

- 9/14/2017 - Service connection for PTSD was granted in 9/14/2017 rating decision
- 9/29/2017 - Vet filed appeal for IR PTSD
- 8/9/2018 - RAMP Opt-in for HLR for PTSD
- 12/11/2018 - RAMP Decision denying IR PTSD
- 1/7/2019 - RAMP

[2019-04-03 15:53] lowellrex commented on #9693
Another approach we could take would be checking VSO membership on login (max once per day or something) and then running a job that clears VSO membership if somebody hasn't logged in for a month.

[2019-04-03 15:58] pkarman commented on #9837
HLR created successfully as 6ce7c659-4c92-48f7-89a6-84010231a8d6 with no error.

[2019-04-03 15:58] #9837 closed

[2019-04-03 16:08] marvokdolor-gov commented on #8547
On Lauren's questions:

@lowellrex is this a question for you?

Can decision issues be overwritten? Or, do we need to keep record of the former decision issues (that were vacated, reconsidered, etc.)?
I think the new decision would be on a new appeal (with a new docket number)?
- Either way, I'm thinking we would definitely want to have a record of past decision issues and all actions taken on the

[2019-04-03 16:14] annekainicUSDS opened #10287 "Oracle connections closed when trying to connect"
Sentry alert: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2769/

Looks like Oracle connections were closed when trying to look up records from VACOLS.

[2019-04-03 16:17] allyceh commented on #8547
@marvokdolor-gov @laurjpeterson @lowellrex Since multiple motions can be filed, I feel that it makes the most sense to track them on the task/case timeline (from a design perspective). @lowellrex , curious to get your eng input there.

[2019-04-03 16:39] allyceh opened #10288 "Add field for BVA Receipt Date to Lit Support Queue table"
Lit support team leads use the "BVA Receipt date", or the date when BVA received the mail item, when assigning work to Motions Attorneys. They assigned the oldest mail first.

We need to display the BVA Receipt Date in all Lit Support users' queue tables so that they can prioritize work accordingly.

Open questions:
- Is this creating a "custom queue" for one team, and is this not an optimal appro

[2019-04-03 16:44] Chingujo commented on #9753
@lomaxap @sharonwarner

cc: @MeredithStewart

I updated the above mock to include what happens when there are no veterans to schedule. I know both of you are discussing an approach, however,  understand that this can be quite complex for AMA since it would require varying hearing dates across different AMA schedules.

If after your conversation this is too dificult too implement, please comment he

[2019-04-03 16:47] Chingujo commented on #9752
@sharonwarner @lomaxap

Updated this to show what happens when there is no more vetreans to schedule. I put a time frame in the copy to correlate with when our job runs. Let me know if you have any copy feedback @MeredithStewart .

Also, pending any design changed per the comment in #9753 Heraring Schedule AMA Date

[2019-04-03 16:48] annekainicUSDS opened #10289 "DuplicateOrgTask error"
Sentry alert: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3593/

We hit an error case where a case already has an active task and is already assigned to an organization. Somehow a duplicate task was created.

[2019-04-03 17:32] pkarman commented on #10286
@shanear discovered that the receipt date was off by one year which was masking any issues that were decided after that.

[2019-04-03 17:32] #10286 closed

[2019-04-03 17:57] marvokdolor-gov commented on #9993
This discussion ended up getting moved back to the original ticket, see the 04/03/2019 decision [here](https://github.com/department-of-veterans-affairs/caseflow/issues/8547#issuecomment-479498749).

[2019-04-03 18:18] marvokdolor-gov commented on #9964
@lowellrex Charlene just let me know that she is still unable to assign in Caseflow.
Would you like me to set up time for us to screen share with her?

[2019-04-03 18:47] pkarman commented on #7708
* PR template :yes:
* Danger alert on PR for schema changes
* Remove danger alert on VACOLS change
* create #appeals-schema channel, drop PR link and summary in channel

[2019-04-03 18:59] ShellySmithDSVA opened #10291 "Fix Contrast on VLJ Worksheet Print/Attorney View"
## User Story
As an attorney, I need to be able to view the VLJ Hearing Worksheet in high contrast and view the issue checkboxes easily and quickly. Currently, the Attorney/Print view of the VLJ Hearing Prep worksheet displays very low contrast check boxes, so it is hard to see.

## Acceptance Criteria
- [ ] The background color for the check boxes should be changed to #212121 for better readabili

[2019-04-03 19:13] annekainicUSDS opened #10292 "Issue creating decass record"
Sentry alert: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4464/

A decass record failed to be created due to a validation error, where the field `Deatty` was left blank. I don't know much about this issue, but it seems like we're missing some validation to catch that all required fields are not blank.

[2019-04-03 19:16] MeredithStewart commented on #9753
@Chingujo -- Let's change the copy to, "All Veterans have been scheduled."

[2019-04-03 19:16] MeredithStewart commented on #9752
@Chingujo -- Let's change the copy to, "All Veterans have been scheduled."

[2019-04-03 19:17] ShellySmithDSVA opened #10293 "Print All Worksheets Function for Hearing Prep Daily Docket"
## User Story

As a judge, I need to print all my worksheets for the day in one place. This saves me time and allows me to get all of my materials ready without opening each case and printing from there.

## Mocks
https://va-gov.invisionapp.com/share/JHRCZI2GZF8

## Acceptance Criteria
- [ ] Verify there is a button at the top of the Hearing Prep Daily Docket that when pressed, sends all the VLJ H

[2019-04-03 19:24] MeredithStewart commented on #10217
Appeals have tasks, but still show Assigned to Hearings Management and don't show up in list of Veterans to schedule. Need to check back to see if they get moved over to Schedule Veterans list.

[2019-04-03 19:27] amprokop commented on #10236
Done

[2019-04-03 19:27] #10236 closed

[2019-04-03 19:36] annekainicUSDS commented on #10230
Just FYI we got another one of these alerts this afternoon: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2991/activity/

[2019-04-03 19:38] hschallhorn commented on #10230
`ConnectionTimeoutError`s from Kibana: https://caseflow-kibana.va.gov/_plugin/kibana/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now%2Fd,mode:quick,to:now%2Fd))&_a=(columns:!(_source),index:'*',interval:auto,query:(query_string:(analyze_wildcard:!t,query:ConnectionTimeoutError)),sort:!('@timestamp',desc)) . Looks like we had a bunch in the last hour

[2019-04-03 20:01] MeredithStewart commented on #10264
Loading better on 4/3/19 -- ROs with larger backlogs taking longer.

[2019-04-03 20:01] #10264 closed

[2019-04-03 20:28] leikkisa opened #10294 "Updating address in VBMS"
https://dsva.slack.com/archives/CFBLH2LR4/p1554318719015200

A user at VBMS UAT reported to that if the address is updated in VBMS before the claim is established in Caseflow, Caseflow will revert the address back to the old address and change the address in VBMS.  However, if the claim is established in Caseflow and then the address is updated in VBMS, then the updated address will stay.

This wa

[2019-04-03 20:43] lowellrex commented on #8547
Agreed. I think we may need to create some data in addition to the task to record information specific to motion workflows. I imagine we could replicate the pattern we use for `attorney_case_reviews` and `judge_case_reviews` (among others) where we use the task as a jumping-off point for a more situation-specific workflow.

[2019-04-03 20:55] lowellrex commented on #10234
The incorrect behaviour here was indeed solved by the fix @mdbenjam released in #10256.

[code]

[2019-04-03 21:11] MeredithStewart commented on #10234
Closing, this will be updated when the job runs on these.

[2019-04-03 22:27] pkarman commented on #10147
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4386/events/293420/

[2019-04-03 22:31] pkarman opened #10299 "Backfill decision_date on rating request issues"
We have plugged the data hole in #10274 and now we should backfill `decision_date` for existing rating request issues where that field is nil.

[2019-04-04 01:06] leikkisa commented on #9946
We have not fully diagnosed the problem, but here is my attempt at summarizing what we know so far.

There are 2463 established RAMP Elections that have a successful intake, but that are missing an End Product Establishment.

1668 Are not connected to an existing end product. The last one of these was intaken on.  We believe these are from before using end product establishments and were not backf

[2019-04-04 01:14] monfresh opened #10301 "Move issues_hash and status_hash out of models and into serializers"
This is a follow-up to #10191 so that we can use snake case keys and transform them into camel case in the serializer. See: https://github.com/department-of-veterans-affairs/caseflow/pull/10191#discussion_r271987318

[2019-04-04 02:17] leikkisa commented on #10147
There was an end product canceled on 3/1/2019, and it takes some time for the modifier to become available again (I don't know how long), so this should eventually succeed.

Another issue altogether is that the user has created 4 Supplemental Claims for the same veteran/receipt_date/benefit_type etc.  Although it's possible that there were 4 different forms, they all have one request issue, and al

[2019-04-04 13:01] lowellrex commented on #9964
Was able to reproduce this error just now! Work will resume on this ticket today!

[2019-04-04 13:36] laurjpeterson commented on #9527
Can we use `VSO` CSEM function?

[2019-04-04 14:01] annekainicUSDS commented on #10287
Another related alert: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4476/

[2019-04-04 14:14] ShellySmithDSVA opened #10302 "Bug: Wrong Modal for Reschedule Hearing"
When a user closes a transcription task with a reschedule hearing option, the wrong modal displays. The modal for cancel hearing request displays. See screenshot.
![Screen Shot 2019-04-04 at 10 11 45 AM](https://user-images.githubusercontent.com/45463980/55563144-59fee800-56c3-11e9-925a-0994b799e1e2.png)

[2019-04-04 14:25] ShellySmithDSVA opened #10303 "Remove Instruction Box from Mark as Complete modal on TranscriptionTask"
The Mark as complete: Transcribed resolution to the Transcription task contains a task instructions field. That field is not needed. See screenshot below.

![Screen Shot 2019-04-04 at 10 28 34 AM](https://user-images.githubusercontent.com/45463980/55563720-73546400-56c4-11e9-8ba2-569dbdc61aa2.png)

[2019-04-04 14:26] aroltsch commented on #10279
@annekainicUSDS is this related to what Lowell is working on?

[2019-04-04 14:31] annekainicUSDS commented on #10279
Yep, this is the ticket for the PR he has open now (linked to in this
ticket).

On Thu, Apr 4, 2019 at 10:26 AM Anya Roltsch <notifications@github.com>
wrote:

[2019-04-04 14:34] ShellySmithDSVA opened #10304 "Fix bug: Hearing Transcript Requested for Legacy Cases Appearing in Transcription Queue"
Legacy cases are appearing in the Transcription queue with a "Generictask" that has details about a transcript being requested by the Veteran. All of these tasks seem to be generated by the same user.  Example case here: https://appeals.cf.ds.va.gov/queue/appeals/3640875. We did not expect these tasks to appear in the Transcription queue.

Via Slack: We've got transcription tasks showing up in the

[2019-04-04 14:38] aroltsch commented on #10279
I missed the link! Great

[2019-04-04 14:44] annekainicUSDS commented on #10287
Another one: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2766/

[2019-04-04 14:49] #9832 closed

[2019-04-04 14:52] annienguyenUSDS commented on #9178
@carolaponce regarding VA.gov, I would follow up with Chris on appeal status.

[2019-04-04 15:12] pkarman commented on #10147
This makes me wonder if we need some kind of validation code during intake that tries to identify and prevent "duplicate" intakes, as if the user was just "trying it again because it didn't seem to work."

[2019-04-04 15:20] #10277 closed

[2019-04-04 15:33] lowellrex opened #10306 "Show assigned to label for tasks assigned to organizations"
Currently [we do not show the "assigned to" label](https://github.com/department-of-veterans-affairs/caseflow/blob/51ca798dd93296b484b6fa3089db5cfb93603e1b/client/app/queue/components/TaskRows.jsx#L120) in the task snapshot and case timeline for tasks that are assigned to organizations. We should display the team's name instead. This effort may be aided by [separating the construction and presenta

[2019-04-04 16:11] nemodjuric commented on #9741
@mc-usds will contact BGS about this.

[2019-04-04 16:21] carolaponce commented on #9178
@allyceh - my notes and mocks in this issue

[2019-04-04 17:18] leikkisa opened #10310 "Veteran is employed at same station as claim establishment."
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3467/events/294187/

Error message: An error occurred while establishing the claim: Claim not established; Veteran is employed by this station.

The "station of jurisdiction" is set by us to 499 in this case.  A station ID is also sent with the user who is establishing the claim.

[2019-04-04 17:29] pkarman commented on #10310
same as #10087?

[2019-04-04 17:47] #10310 closed

[2019-04-04 17:51] pkarman opened #10312 "Tasks for Appeals with no eligible issues"
Thread in https://dsva.slack.com/archives/C754H751T/p1554393816027600

When an Appeal has zero eligible issues, it should not be closed until certain tasks are performed outside of Caseflow (e.g. sending letter(s) to the veteran).

Caseflow should create one or more Board Tasks in that case, to track those extra-Caseflow efforts. Details TBD.

[2019-04-04 18:02] ShellySmithDSVA opened #10314 "Print Hearing Prep Worksheet to Single Page"
Re-factor the VLJ Hearing Prep worksheet to print all on one page. Right now the worksheet prints on 2-3 pages depending on the number of issues.

Original user request can be found here: https://github.com/department-of-veterans-affairs/appeals-support/issues/4837#event-2253343701

[2019-04-04 18:04] #9799 closed

[2019-04-04 18:18] leikkisa opened #10316 "Rating issue put on nonrating Board DTA EP"
https://github.com/department-of-veterans-affairs/appeals-support/issues/4841

After investigation, the original Request Issue is a rating issue, with a rating reference ID, so this appears to be a bug.

Appeal: 1040
Remand SC: 4449
Original request issue: 5234

We should switch to previous_request_issue.rating? now that previous_request_issue is available.

There may also be a request for manual

[2019-04-04 18:25] nicholasholtz commented on #10060
Anya, the case that was pending dispatch is included now, at the bottom of the spreadsheet. Note that two of the issues were dismissed.
[Adding issues - 10060.xlsx](https://github.com/department-of-veterans-affairs/caseflow/files/3044923/Adding.issues.-.10060.xlsx)

[2019-04-04 18:27] monfresh commented on #9587
Another performance improvement I worked on was replacing `active_model_serializers` with `fast_jsonapi` (#10191). This is the third-party library we use to present the JSON data that the view consumes or that other services consume (like IDT). `fast_jsonapi` was built by folks at Netflix and they have shown it to be at least 25 times faster than the gem we were using previously.

[2019-04-04 18:30] MeredithStewart commented on #10217
4/4/19 -- Don't see them on any RO or CO Schedule Veterans lists.

[2019-04-04 18:38] carolaponce commented on #10202
Sorry @will I tagged you by mistake.

[2019-04-04 18:50] #9592 closed

[2019-04-04 18:50] mdbenjam commented on #9552
Development setup fixes:
1. Fix freezing rails server (it would freeze for me regularly when I made some types of changes to the backend, and would require a restart)
2. Combine our development and test FACOLS containers into one container. i.e. have two schemas within the database. I think this will reduce the overhead we experience running two containers.
3. Try to reduce resource use of FACOLS.

[2019-04-04 18:55] pkarman commented on #9552
could we turn each of these into its own ticket and make this an Epic?

[2019-04-04 19:01] MeredithStewart opened #10319 "Bug: Appeals not showing in Schedule Veteran lists, but have open schedule hearing tasks"
https://appeals.cf.ds.va.gov/queue/appeals/2850494 -- doesn't appear in Togus, ME list or CO

https://appeals.cf.ds.va.gov/queue/appeals/3031750 - doesn't appear in Phoenix list or CO

Previously these cases were in 57, but hadn't gotten the tasks they needed to schedule Veterans. Now they have tasks, but aren't showing up in the lists to schedule, so the branch wouldn't see them to schedule unles

[2019-04-04 19:03] allyceh commented on #8936
Jumping in to weigh in on some of the Queue open questions.

1. What happens to the issues section of case details?
*Withdrawn/removed issues*
- If we stick to our current modal where the issues on the Case Details page are the issues on appeal + the issues that need review, we would not display withdrawn or removed issues on the Case Details page. The user would see any withdrawn or removed issue

[2019-04-04 19:03] pkarman commented on #10299
proposed backfill script:

[code]

[2019-04-04 19:05] carolaponce commented on #10202
Contacted Rachel Sauter to make sure I understand the right information to include in our training materials + FAQs.

[2019-04-04 19:13] pkarman commented on #10299
run in UAT:
[code]

The 18 exceptions are locked or otherwise unavailable.

[2019-04-04 19:21] aroltsch commented on #10060
Alright. All decision issues were backfilled. I will create another ticket to track three appeals with request issues that have statuses of: dismissed_death and dismissed_matter_of_law

[2019-04-04 19:21] #10060 closed

[2019-04-04 19:23] aroltsch opened #10321 "Appeals with request issues that have status of dismissed_death and dismissed_matter_of_law"
https://appeals.cf.ds.va.gov/queue/appeals/8f18d094-ff09-49f5-936d-7d13d05c9351

444fc607-6406-4976-8e6b-df84006c0af5
7883b2bd-917d-42ec-abe7-b204e486812c

[2019-04-04 19:30] MeredithStewart commented on #8936
@laurjpeterson -- Just a point of clarification for flow on withdrawn appeals  - I thought these do get a distributed to judges to write the dismissal. Just want to make sure this is accounted for.

[2019-04-04 19:31] lowellrex opened #10322 "Hide MailTeam's MailTasks from task list"
When the mail team creates new `MailTask`s, [we create a parent task](https://github.com/department-of-veterans-affairs/caseflow/blob/51ca798dd93296b484b6fa3089db5cfb93603e1b/app/models/tasks/mail_task.rb#L38) of the type they create and assign it to the `MailTeam` before assigning a child task to the correct team. As a result we display an entry for that task in the task snapshot and case timelin

[2019-04-04 19:41] marvokdolor-gov opened #10323 "Lit Support Queue: Create "Notify OGC of Pulac-Cerullo" task"
## User Story
As a Motions Attorney, I need to assign a case to Kate (i.e. our team liaison between OGC/CAVC) if the Veteran also filed a CAVC appeal so that they can make a determination about who has jurisdiction on the case.

### Acceptance criteria:
- A new task type is created - "Notify OGC of Pulac-Cerullo"
- "Notify OGC of Pulac-Cerullo" is an action available to Motions Attorneys in the ac

[2019-04-04 19:44] lowellrex opened #10324 "Stop cascading task closure at organization boundary"
We [cascade task closures](https://github.com/department-of-veterans-affairs/caseflow/blob/3e0639a69202486a15e4b2b8bb763754c14b236e/app/models/task.rb#L22) so that organization-level tasks are completed when the task that is assigned to the individual is completed. This works well in most cases, but fails if the task is assigned from an organization to a different team. Consider the following scen

[2019-04-04 19:44] marvokdolor-gov opened #10325 "Motion to Vacate | Allow judges to log motion to vacate decisions"
As a judge, I need the ability to log my motion to vacate decision in Caseflow so that we have it on record.

(Note: the decision that comes as a result of the motion to vacate decision is out of scope for this ticket.)

### Acceptance criteria:
- Judge can take action - "Determine disposition" - on a Motion to Vacate task when it's assigned to them
- Judge navigates to another screen where they c

[2019-04-04 19:52] nicholasholtz commented on #8936
I do not think we would want a dismissed issue to disappear from view on case details. From the Board's point of view (including the attorney and judge in the checkout flow), the dismissal is how they are handling an issue that is appropriately before them.

[2019-04-04 19:55] lowellrex opened #10328 "Get rid of Task.verify_org_task_unique"
`GenericTask.verify_org_task_unique` [was created](https://github.com/department-of-veterans-affairs/caseflow/issues/7631) in order to prevent the creation of task types that should be truly unique. However, when we implemented that solution we did it in a very generic way that requires us to override it frequently (`$> git grep "def verify_org_task_unique" app`) and do gymnastics to avoid running

[2019-04-04 19:56] allyceh commented on #8547
Update for @sneha-pai : Marvo and I went through these stories this afternoon and there were a few adjustments. The plan for next week is to have the kickoff and for me to wrangle the mocks to support what we need for phase 1!

[2019-04-04 19:59] lowellrex opened #10329 "Set up alert to notify us of non-unique organization tasks"
After we [get rid of `GenericTask.verify_org_task_unique`](https://github.com/department-of-veterans-affairs/caseflow/issues/10328), we open ourselves up to the possibility of creating duplicate organization tasks in the application code. In order to identify those situations we should create a looker alert (perhaps like [the one outlined below](https://caseflow-looker.va.gov/sql/jqpyf5pxgrpvgb))

[2019-04-04 20:12] lowellrex commented on #10328
SMALL (avoid MEDIUM by aggressively moving related work into follow-on tickets where possible).

Remember that there will be plenty of test failures. Make sure that we don't rip all those tests out, but move them to the files that still use the hook. Add test that shows we can create duplicates when we want.

[2019-04-04 20:16] lowellrex commented on #10329
SMALL.

[2019-04-04 20:17] #9150 closed

[2019-04-04 20:25] lowellrex commented on #10324
MEDIUM. Add extensive tests for scenarios we know the task tree could be in.

[2019-04-04 20:29] lowellrex commented on #10322
SMALL. Make sure we have a feature test that exercises this case. Add one if we don't.

[2019-04-04 20:31] lowellrex commented on #10306
SMALL. We can make use of the `task.assignedTo.isOrganization` field.

[2019-04-04 20:36] lowellrex commented on #10214
SMALL. We may be able to take advantage of `update_children_status` similar to [how `RootTask` does](https://github.com/department-of-veterans-affairs/caseflow/blob/fddd1f529b4d5aaa2031e99d4fd3b7aa146e9226/app/models/tasks/root_task.rb#L17).

[2019-04-04 20:40] #8984 closed

[2019-04-04 20:40] lowellrex commented on #10048
SMALL.

[2019-04-04 20:41] pkarman opened #10332 "Edit Request Issue title"
Decision review rating request issues currently have deterministic values for their title text, derived from the contested rating issue. We are now going to give users some editorial control over the title.

This is to allow users to update the contention text of a contention in VBMS.  This should be allowed for rating issues (most importantly), and contestable nonrating issues.

## Definitions

*

[2019-04-04 20:41] lowellrex commented on #10000
XS.

[2019-04-04 20:46] lowellrex commented on #9809
SMALL.

[2019-04-04 20:53] leikkisa commented on #10294
According to BGS when an address is updated in VBMS it is also immediately updated in BGS, so we should make sure we refresh the Veteran's address before establishing a claim.

[2019-04-04 21:01] lowellrex commented on #9693
@laurjpeterson Could we give a member of a VSO admin privileges so that the admin can then add other members of the VSO similar to how all other organizations work? The only difference would be that we would need to manually identify that first VSO admin.

[2019-04-04 22:40] carolaponce commented on #9072
In communications with Rachel Sauter, she's confirming the correct address with an admin at the board.

[2019-04-04 23:05] carolaponce commented on #10332
Not reflected in the mock - Submit button will be grayed out until the user makes a selection, either delete or edit text.

[2019-04-05 12:35] #10279 closed

[2019-04-05 12:53] lowellrex opened #10335 "Fix scenarios that lead to duplicated organization tasks"
While exploring how we could [get rid of `GenericTask.verify_org_task_unique`](https://github.com/department-of-veterans-affairs/caseflow/issues/10328) and [still be notified](https://github.com/department-of-veterans-affairs/caseflow/issues/10329) when duplicated tasks were created, @tomas-nava and I [ran a query on the underlying data](https://caseflow-looker.va.gov/sql/jqpyf5pxgrpvgb) in the `t

[2019-04-05 13:00] lowellrex opened #10336 "Stop creating duplicate TrackVeteranTasks"
We [recently discovered](https://github.com/department-of-veterans-affairs/caseflow/issues/10335) that we have nearly 700 duplicate `TrackVeteranTask`s since 28 March 2019. We released [a refactor of `UpdateAppellantRepresentationJob`](https://github.com/department-of-veterans-affairs/caseflow/pull/10019) (one of the [two places](https://github.com/department-of-veterans-affairs/caseflow/blob/4508

[2019-04-05 13:07] lowellrex opened #10337 "Stop creating duplicate ColocatedTasks"
We [recently discovered](https://github.com/department-of-veterans-affairs/caseflow/issues/10335) that we have created a few dozen duplicate `ColocatedTask`s over the past few months at the rate of a few per week. Duplicate `ColocatedTask`s can result in delays to decisions being dispatched, redundant work being performed by the VLJ support staff (especially if a different administrator is assigne

[2019-04-05 13:35] aroltsch opened #10338 "New relic alerts when certain queries are taking too long"
AC:
New relic alerts when certain queries are taking too long posted on appeals-app-alerts channel

[2019-04-05 13:38] aroltsch opened #10339 "Add IDT route to return veteran info by file number"
https://dsva.slack.com/archives/CD5DAQNCU/p1553542659001900

AC: Add IDT route to return veteran info by file number

[2019-04-05 13:49] laurjpeterson commented on #9693
Yes, let’s do that. We did discuss that option a few weeks ago too. There is another gh issue to add VSO admin users, I’ve got a few ppl already listed out. I thought there were other things that needed to be done in addition to that, though, to allow assignment to individuals.

[2019-04-05 13:56] MeredithStewart opened #10340 "Bugs: No Show tasks shows weird counter of days"
The noshow hearing task shows a very large number of days.

![Screen Shot 2019-04-05 at 9.42.59 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5ab29c21a9c13600143cd2ee/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5700b77276454f66b7191a371f116294f5a565edd3c4a4356bcbbd671f3e57862804e0ee5d33c5d22c33413a5b8d41bbf50bd208b1d87b3bc891ed2f42f67b6d5db1063474f4dcbed572

[2019-04-05 14:04] kevmo opened #10341 "Return error body for ActiveRecord record not found (404) errors."
<img width="1168" alt="404_error" src="https://user-images.githubusercontent.com/1034221/55633135-af053180-5789-11e9-9c45-83d74cd4ecd9.png">

See `app/application_controller.rb` - https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/controllers/application_controller.rb#L19

Current behavior: Empty error message when record not found.
Expected behavior: See error when record

[2019-04-05 15:55] pkarman opened #10343 "improve workflow test coverage"
currently have specs for only 3 of 8 workflow files

[code]

[2019-04-05 16:06] MeredithStewart opened #10344 "Bug: Auto-assign of No-show tasks is going to POAs (we think)"
No show admin tasks look like they might be assigned to POAs instead of Hearing Coordinators.

Shelly to reach out to Hearing Branch to confirm that Hearing coordinators that were listed on the docket are getting tasks.

https://appeals.cf.ds.va.gov/organizations/hearing-admin

Screenshot from the tab "assigned" -- none of the no-show tasks are showing assigned to individual Hearing Coordinators.

[2019-04-05 16:18] MeredithStewart commented on #10344
Add screenshot of search with Assigned to POA

[2019-04-05 16:33] ShellySmithDSVA commented on #10302
This modal should be the following: https://va-gov.invisionapp.com/d/main/#/console/16413695/340365288/preview

![Screen Shot 2019-04-05 at 12 33 12 PM](https://user-images.githubusercontent.com/45463980/55642644-095cbd00-579f-11e9-8e4c-0a5bdfa1c803.png)

[2019-04-05 16:35] ShellySmithDSVA commented on #10303
The modal should follow this design https://va-gov.invisionapp.com/share/MXPXWUDKSP6#/348812996_Transcript_Task_Complete_Confirm_Modal

![Screen Shot 2019-04-05 at 12 34 54 PM](https://user-images.githubusercontent.com/45463980/55642722-41640000-579f-11e9-849b-c2e62b50b962.png)

[2019-04-05 16:37] MeredithStewart opened #10345 "Bug: Dockets aren't locking all dispositions"
On dockets for 4/1/19 (checked by Meredith & Shelly on 4/5/19), not all dispositions are locking overnight and at the same time.

https://appeals.cf.ds.va.gov/hearings/schedule/docket/47

A quick looks seems like all of these hearings were previous postponements that were originally scheduled in VACOLS.

Should we expect this behavior?

[2019-04-05 17:18] lowellrex commented on #10061
Closing this, will reopen if it comes back. Will be solve by #10002.

[2019-04-05 17:18] #10061 closed

[2019-04-05 17:54] youngfreezyVA commented on #8934
have we already explored implementing infinite scrolling/lazy loading for this table, which would require pagination on the backend?

[2019-04-05 18:37] leikkisa opened #10348 "Veteran invalid error on Appeal Add Issues page"
https://github.com/department-of-veterans-affairs/appeals-support/issues/4738

[2019-04-05 19:30] #10345 closed

[2019-04-05 19:37] ShellySmithDSVA commented on #9858
Checked 4/5 - appeals still not moving over. Re-opening ticket.

[2019-04-05 19:42] #9965 closed

[2019-04-05 19:50] #8278 closed

[2019-04-05 19:51] MeredithStewart commented on #10319
Checked on 4/5 and still not seeing these Veterans in the lists of Veterans to schedule for the ROs or CO.

[2019-04-05 19:54] ShellySmithDSVA opened #10352 "Rename Suggested Location Column"
In the Schedule Veterans list, re-name the "Suggested Location" column to "Hearing Location." This corrects the issue of these Veterans being on the schedule and therefore assigned locations. See the screenshot below.
![Screen Shot 2019-04-05 at 3 56 39 PM](https://user-images.githubusercontent.com/45463980/55653184-ba715080-57bb-11e9-9007-5aafbef46bae.png)

[2019-04-05 20:01] ShellySmithDSVA opened #10353 "Bug: Load Times for VSO Hearing Schedule"
VSOs are reporting excessive load times for their views. We are getting reports of up to 3 minutes for the schedule to build.

[2019-04-05 20:17] MeredithStewart commented on #10069
Related support ticket with a lot of hearing time issues: https://github.com/department-of-veterans-affairs/appeals-support/issues/4861#issuecomment-480370028

[2019-04-05 20:54] lowellrex opened #10354 "Create ScheduleHearingTasks for ColocatedTasks with the schedule_hearing action"
Now that we are scheduling hearings for `LegacyAppeal`s using [the `ScheduleHearingTask`](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/tasks/schedule_hearing_task.rb) we should make use of that same task for `ColocatedTask`s with the `schedule_hearing` action instead of [changing the VACOLS location to 57](https://github.com/department-of-veterans-affairs/casef

[2019-04-05 21:00] lowellrex commented on #7974
In order to allow [VSO users to navigate to their queues](https://github.com/department-of-veterans-affairs/caseflow/issues/9693#issuecomment-480282131) we will:
1. Add one member of that VSO to the organization
2. Make that member an admin (using the button that will be created by this PR)
3. Allow that admin to add other folks to the VSO as they see fit

[2019-04-05 21:35] annekainicUSDS commented on #10287
Going to aggregate several more alerts I saw today related to this:
1. https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2766/
2. https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4509/
3. https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4480/
4. https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4511/
5. https

[2019-04-08 04:44] sneha-pai commented on #8936
@allyceh @carolaponce @laurjpeterson

### Provocation design for case search view of global-withdrawn appeal
![status column](https://user-images.githubusercontent.com/31224257/55699110-396eb080-5997-11e9-9cf0-dbe625be22c2.png)

#### Questions:
- Would we introduce a "status column" to display withdrawn appeals (appeals where all issues are withdrawn, either incrementally, or all at once?
- Would

[2019-04-08 12:27] lowellrex commented on #7556
## Appomattox sprint (8-21 Apr) engineering priorities

@kevmo, below are tickets that you and I will be working on related to this sprint's [higher-level priorities](https://dsva.slack.com/archives/C54QCEHAL/p1554306905023400).

### 1. Hearings
1. (TOMAS) Create ChangeHearingDispositionTask class and actions #9885
1. (TOMAS) Create new ChangeHearingDispositionTask for stale hearings #9833

### 2.

[2019-04-08 13:21] aroltsch opened #10355 "Problems with the FACOLS Setup"
### We've encountered a few types of problems with the FACOLS setup.

#### Error starting up VACOLS_DB-development and VACOLS_DB-test containers
[code]

Potential fix:
* increase disk/memory allocation
* `docker system prune --volumes`

#### Oracle credentials error
[code]

Potential fix: `docker system prune --volumes`

#### ORACLE shutdown error

[code]

### Improvement Ideas
1. Combine our deve

[2019-04-08 14:21] allyceh commented on #5445
Thoughts about "Mark case as overtime" and "Remove overtime status" as the link text? I am going for the same meaning but a little more concise since we're putting these in the case header area and want to conserve space.

Looks good!

[2019-04-08 14:31] pkarman commented on #10355
The "waiting for FACOLS" step on CircleCI takes about 90 seconds for each container (about 10% of total time). If we could improve that, we could improve CI throughput.

[2019-04-08 14:49] hschallhorn commented on #9136
Closing as we have not been able to reproduce nor have we seen this issue again in prod.

[2019-04-08 15:19] allyceh commented on #8936
From Rachel, to keep in mind: "When a veteran sends the Board correspondence saying they want to withdraw, sometimes admin staff will mark is as a withdrawal, but they cannot take action on it. It goes the attorney/judge, who decide whether it is a proper withdrawal. If the judge decides that the statement from the vet meets the legal definition of a withdrawal, the judge issues a dissmissal. If t

[2019-04-08 15:31] pkarman commented on #10147
SC 4244 has a EPE w/o a reference_id but with the same code (040SCR) and claim date (3/27/2019) as the EP 71337294.

It's as if the EP got created but the EPE and Request Issue never got updated.

[2019-04-08 15:36] pkarman commented on #10147
SC 4240 (the one missing at EPE) has one request issue marked `duplicate_of_rating_issue_in_active_review` so I wonder if that ineligible effort blocked the user and they started multiple times to try and work around.

[2019-04-08 15:41] pkarman commented on #10147
I see one for 4/1/2019 -- could that comment be a typo?

[2019-04-08 16:03] pkarman commented on #10147
Here's what I think happened.

The veteran (participant id 33649580) has duplicate file numbers. The initial SC 4238 was intaken under one file number, and then the EP was manually canceled and then attempted under the other file number. However, the EPE had not yet synced, so the SC 4240 was marked as an ineligible duplicate.

Then the user tried again a couple times (4318, 4407) to work around,

[2019-04-08 16:12] #9200 closed

[2019-04-08 16:14] carolaponce opened #10358 "At intake confirmation > Edit issue"
We heard from pre AMA user feedback - Users wanted a way to review and edit their intakes before continuing to the next intake:
https://github.com/department-of-veterans-affairs/appeals-design-research/issues/1049

We also heard they would like a dashboard of all their intakes.  This is a first step to provide users the ability to review and edit issues after intake is finished.

![EditIssues_conf

[2019-04-08 16:17] sharonwarner commented on #10302
I updated the wording to say, "This will place the case in the list of veterans to be scheduled for a hearing." I'll create another lower priority ticket to add the Admin Action as an option.

[2019-04-08 16:17] #10302 closed

[2019-04-08 16:19] sharonwarner opened #10359 "Transcription users should be able to add admin action to schedule hearing task"
![55642644-095cbd00-579f-11e9-8e4c-0a5bdfa1c803](https://user-images.githubusercontent.com/4306128/55740176-8afb5780-59f8-11e9-9b1f-7517053ea0f1.png)

[2019-04-08 16:41] #2827 closed

[2019-04-08 16:41] #3953 closed

[2019-04-08 16:42] #4845 closed

[2019-04-08 16:43] #8883 closed

[2019-04-08 16:45] #9491 closed

[2019-04-08 16:56] #5989 closed

[2019-04-08 16:56] #5447 closed

[2019-04-08 17:21] aroltsch commented on #8936
There are two more dispositions that should be treated the same way as withdrawn: `dismissed_death` and `dismissed_matter_of_law`

[2019-04-08 17:30] mc-usds opened #10361 "Clean up Appeal Status AMA feature flag"
remove appeal_status_v3_enabled? feature flag

[2019-04-08 17:46] carolaponce commented on #10202
Clarified with Sally about the FAQ content needed.

Use Case: Power of Attorney holders often fill out an appeal, HLR or SC for a Veteran, they mistakenly use their name and ID instead of the Veterans.  Caseflow assistants don’t know how to intake this information since the POA is not in the list of Claimants.

Solutions: Users need to process these intakes under the Veteran’s name and ID

How to

[2019-04-08 18:03] #10239 closed

[2019-04-08 18:12] aroltsch commented on #9899
It might be one of the ways to reproduce it.
Reproduction steps:
    1. It has to do with the combination of a browser back button and a queue back button
    2. Go through legacy checkout, make sure to click “edit issue” link, delete issue or edit issue
    3. Finish checkout, click browser back button, notice it brings you to the disposition screen - which it should not be happening
    4. Click

[2019-04-08 18:26] msj0nes commented on #9133
[Caseflow_Support_Sustainable_Path.pdf](https://github.com/department-of-veterans-affairs/caseflow/files/3055760/Caseflow_Support_Sustainable_Path.pdf)

[2019-04-08 18:43] pkarman commented on #10332
Some question as to whether this will be applied to Appeals. @carolaponce to work with Allyce.

For now working only on Claim Reviews.

[2019-04-08 18:48] leikkisa commented on #7911
Clarify with VBMS and VACOLS whether they support UTF-8.

[2019-04-08 18:51] leikkisa commented on #10169
Add a database constraint, backfill data before migrating the database

[2019-04-08 18:51] sharonwarner commented on #10344
I confirmed that all NoShowHearingTasks are assigned to the hearing admin organization.

[code]

We want to update our assignment logic for the NoShowHearingTask such that if the hearing's hearing day has a coordinator, we assign the NoShowHearingTask to them, if not, we assign it to the hearing admin organization. I think this is lower priority than some other work, so I'm unassigning this ticket

[2019-04-08 18:53] leikkisa commented on #10166
Check whether any of these have rating decisions.

[2019-04-08 18:55] ShellySmithDSVA commented on #10319
4/8 - This issue persists

[2019-04-08 19:12] leikkisa commented on #10147
Oh, that explains this behavior.  I agree with the manual data update plan.  I don't think we can update the contention text in VBMS, but we can remove the other contention and add a new one, which we can still do.  I wonder if we can prevent this in the future with some training/FAQ information about how long certain processes take so folks know that they can wait to resolve problems like this.

[2019-04-08 19:19] #10116 closed

[2019-04-08 19:20] MeredithStewart commented on #10344
How do we get the front end fixed to show that's it's assigned to Hearing Admin? We've got a ton of no show tasks that showing POA in Assigned to on the No Show tasks.

[2019-04-08 19:23] MeredithStewart commented on #10344
It also doesn't look like the no-show tasks can be worked. There's a task and a very long hold, but no actions to take on the task.

For this one: https://appeals.cf.ds.va.gov/queue/appeals/3164302

<img width="1041" alt="Screen Shot 2019-04-08 at 3 22 05 PM" src="https://user-images.githubusercontent.com/36775274/55750819-2a791400-5a12-11e9-8bb7-98af1ec674d9.png">

[2019-04-08 19:35] MeredithStewart commented on #10302
Tested and works!

[2019-04-08 19:47] pkarman opened #10365 "Backfill decision_document.appeal_type"
https://github.com/department-of-veterans-affairs/caseflow/commit/59b47b56fe9cdb2229418d15eb2eb479f5935563 introduced a new column. Existing data is still nil and so loading an `appeal` fails because `appeal_type` is nil.

[2019-04-08 19:51] pkarman commented on #10365
[code]

[2019-04-08 20:49] laurjpeterson commented on #8547
Agree with your scope for MVP - thank you!

[2019-04-08 20:58] sharonwarner commented on #10344
Sounds like there are three different bugs here:

1) No Show Hearing Tasks are showing up as assigned to the wrong organization. Lowell is working on a fix for this.
2) Hearing admins can't work No Show Hearing Tasks while they're on hold. I've submitted a PR to fix this (#10367).
3) The on hold time for No Show Hearing Tasks is too long. Nobody is working on this yet.

[2019-04-08 21:04] lowellrex opened #10368 "Exclude TrackVeteranTasks from Appeal.assigned_to_location determination"
The [logic in `Appeal.assigned_to_location`](https://github.com/department-of-veterans-affairs/caseflow/blob/5f441cfaf1aa461df3f849aa828a168eebf7e41d/app/models/appeal.rb#L139) incorrectly includes `TrackVeteranTask`s which is causing confusing values to be displayed in the "assigned to" column of some queue table views (see #10344 for an example). Since `TrackVeteranTask`s do not require their as

[2019-04-08 21:07] lowellrex opened #10369 "Throw error if we attempt to create a second RootTask for an Appeal"
Our code currently relies on their being only a single `RootTask` for each `Appeal` but does not enforce that anywhere in the code. This ticket exists to make that reliance explicit by throwing an error if we attempt to create a second `RootTask` for an `Appeal`.

## Acceptance criteria
* [ ] Throw error if we attempt to create a second `RootTask` for an `Appeal`

[2019-04-09 13:56] lowellrex opened #10371 "Restrict list of users on team admin page for VSOs"
We will soon be [giving VSOs the ability to manage membership](https://github.com/department-of-veterans-affairs/caseflow/issues/9693#issuecomment-480062104) in their organizations directly in Caseflow's team management interface. The dropdown menu that team admins can use to add users to their team [includes everybody in the `users` table](https://github.com/department-of-veterans-affairs/caseflo

[2019-04-09 14:02] #10344 closed

[2019-04-09 14:13] lowellrex commented on #10002
We should also fix the [existing tasks that are in a bad state](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3593/events/293964/) to return the task tree to a state where they can be worked on in the Caseflow application.

[2019-04-09 15:46] Sjones352 commented on #10102
@pkarman can you please provide instructions on how I can test this in UAT?

[2019-04-09 15:54] pkarman commented on #10102
Validation would be very similar to #9519

* create a claim review.
* look the console for the claim review's UUID
* clear or cancel its EP in VBMS
* attempt to edit the claim review e.g. `/higher_level_reviews/:uuid/edit`
* confirm you get a message saying it cannot be edited.

[2019-04-09 16:27] laurjpeterson commented on #5445
Can you share why you chose this case title link approach vs. marking the case overtime at the point of assigning - i.e. as part of the the flow where judges/senior counsel actually assign cases to attorneys through the actions dropdown on Case Details?

Note: judges/senior counsel can also assign cases to attorneys in the Assign cases view, in bulk. I understand why we aren't tackling bulk OT ass

[2019-04-09 17:33] allyceh opened #10373 "Case details contrast and accessibility improvements"
We can bump up the contrast (between the gray container and white background) on the Case Details page to make it more accessible. Given the quality of the monitors at BVA, we've also observed that our lightest grays don't show up at all

Places where we can improve the contrast:
- Case header
- Section titles, like Currently Active Tasks, Issues, POA, Hearings, etc
- Page navigation menu (that co

[2019-04-09 17:38] MeredithStewart commented on #10116
Sent an email to the Hearing Branch coordinators and let them know to check the postponement is working correctly now when they send back to the Schedule Veteran lists.

[2019-04-09 18:05] leikkisa commented on #9579
decision dates can also be set in the future

[2019-04-09 18:21] pkarman opened #10374 "Warn when veteran has multiple file numbers"
Follow on to #10147

When a Veteran has multiple file numbers in Caseflow (but a single participant id), add an alert to the Intake Review page (after search) to make sure the user is aware.

[2019-04-09 18:34] marvokdolor-gov commented on #9603
Closing this since all urls have been created.

[2019-04-09 18:34] #9603 closed

[2019-04-09 18:40] pkarman commented on #10147
Data clean up is complete.

[2019-04-09 18:40] #10147 closed

[2019-04-09 18:48] MeredithStewart commented on #10182
On 4/9/19 -- We see more alt hearing locations having matches under Honolulu RO. We've asked the Hearing coordinator to submit a new support ticket if they find Veterans that should match to locations not currently represented (Guam, Saipan).  I suspect that once the Board intakes the rest of the legacy hearing inventory, we will see more Veterans in the backlog that match to these locations.

[2019-04-09 18:48] #10182 closed

[2019-04-09 19:07] MeredithStewart commented on #10344
Tested fix for no show admin actions to have actions -- they all now have actions that users can take! Yay!

[2019-04-09 19:21] #10361 closed

[2019-04-09 19:32] MeredithStewart commented on #10219
-- Create new ticket, these now have Schedule Veteran tasks, but aren't showing up in list of Veterans to schedule.

[2019-04-09 19:36] hschallhorn opened #10376 "Decision issue edited after it was deleted"
Sentry Alert: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3460/events/299482/

[Caused by a PUT request on a decision issue that had just been deleted? ](https://console.amazonaws-us-gov.com/cloudwatch/home?region=us-gov-west-1#logEventViewer:group=dsva-appeals-certification-prod/opt/caseflow-certification/src/log/access.log;stream=i-05d5332fcb7528492;filter=2944494;sta

[2019-04-09 19:41] kevmo commented on #10355
### Caseflow Application Architecture & Local Development Environment setup
I will be editing this comment over time.

The Caseflow application architecture:
![caseflow-2](https://user-images.githubusercontent.com/1034221/55829486-c66f5200-5adc-11e9-8535-85f671eb8954.png)

Commonly seen errors
- system hangs on `docker-compose up vacols-db-development`

Pain point: Instant Client download (for Rub

[2019-04-09 19:54] pkarman commented on #10316
@leikkisa would you include some validation steps here?

[2019-04-09 20:02] pkarman commented on #9734
Validation requires manually toggling feature flag in UAT: `FeatureToggle.enable!(:remove_decision_reviews)`

[2019-04-09 20:07] pkarman commented on #9734
Validated non-comp:

<img width="767" alt="Screen Shot 2019-04-09 at 3 01 32 PM" src="https://user-images.githubusercontent.com/1205061/55831565-03d1e080-5ad9-11e9-8a55-57c1d2dcc7c1.png">
<img width="1085" alt="Screen Shot 2019-04-09 at 3 01 50 PM" src="https://user-images.githubusercontent.com/1205061/55831577-0df3df00-5ad9-11e9-8f3b-a78e40e82ba0.png">

Validated VBMS:

<img width="802" alt="Scre

[2019-04-09 20:07] #9734 closed

[2019-04-09 20:08] pkarman commented on #10173
@leikkisa ideas on validation steps?

[2019-04-09 20:14] pkarman commented on #10163
Validated as part of #9734

[code]

[2019-04-09 20:14] #10163 closed

[2019-04-09 20:15] pkarman commented on #10348
going to close this since we can't duplicate it anyway, and if it happens again we'll try again to duplicate.

[2019-04-09 20:15] #10348 closed

[2019-04-09 20:18] pkarman commented on #9794
@leikkisa is this one really ready for validation or do we still need to adjust the timing?

[2019-04-09 20:24] leikkisa opened #10377 "Investigate logic for active RAMP Elections on RAMP Refiling eligibility"
Investigate if this logic on ramp_refiling_intake is accurate:
[code]

Maybe what we need to check here is if there is at least one cleared RampElection. What we're seeing is that there can be active ones and canceled ones, and it seems to me that if there is an active RampElection (of which there can only be one at a time for each of the two modifiers) and a canceled RampElection, and no cleared

[2019-04-09 20:25] pkarman opened #10378 "RangeError in anonymous function"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4385/events/299653/

JS error, maybe unexpected data?

[2019-04-09 21:26] Sjones352 commented on #9984
@leikkisa with this criteria `The "Save" button should be disabled until a valid date is entered into the prompt.` the Save button stays enabled. The prompt is already showing today's date. When I attempt to change it, the save button is still enabled
<img width="1358" alt="Screen Shot 2019-04-09 at 5 22 35 PM" src="https://user-images.githubusercontent.com/23080951/55836410-697b9800-5aec-11e9-966

[2019-04-09 21:45] #9984 closed

[2019-04-09 21:56] lomaxap commented on #9858
Job was backed up. This should be resolved.

[2019-04-09 21:56] #9858 closed

[2019-04-09 22:18] Sjones352 commented on #10102
Going to wait for the sync job before I can try to edit it
<img width="1678" alt="Screen Shot 2019-04-09 at 6 15 48 PM" src="https://user-images.githubusercontent.com/23080951/55838815-b44cde00-5af3-11e9-9bd2-1d85fb0c6887.png">

[2019-04-09 22:39] pkarman commented on #10102
@Sjones352 the point is *not* waiting for the sync job. It should sync automatically when you try and edit it.

[2019-04-09 22:59] Sjones352 commented on #10102
This how I did it and it can actually be edited
<img width="1387" alt="Screen Shot 2019-04-09 at 6 55 00 PM" src="https://user-images.githubusercontent.com/23080951/55840309-06dcc900-5af9-11e9-9208-970fafb5711e.png">

<img width="1680" alt="Screen Shot 2019-04-09 at 6 54 43 PM" src="https://user-images.githubusercontent.com/23080951/55840308-06443280-5af9-11e9-9c05-75e2082dd903.png">

<img width="

[2019-04-10 13:14] hschallhorn commented on #10289
#10002 should handle these.

[2019-04-10 13:14] #10289 closed

[2019-04-10 13:34] nemodjuric opened #10383 "Fix completed assignments counts to be accurate in Dispatch"
See https://github.com/department-of-veterans-affairs/appeals-support/issues/4351

[2019-04-10 13:49] hschallhorn opened #10384 "Legacy Appeal 3620735 does not have an associated Case in VACOLS"
[Related sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2991/events/299780/). [Logs (transaction id: 65cb5266-357c-4ce7-b86d-71e824ae821e)](https://console.amazonaws-us-gov.com/cloudwatch/home?region=us-gov-west-1#logEventViewer:group=dsva-appeals-certification-prod/opt/caseflow-certification/src/log/caseflow-certification.out;stream=i-0765f6e15d2b7a060;filte

[2019-04-10 14:07] hschallhorn opened #10386 "Judge unable to self assign a task"
[Sentry alrert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3878/events/299711/). [Related logs](https://console.amazonaws-us-gov.com/cloudwatch/home?region=us-gov-west-1#logEventViewer:group=dsva-appeals-certification-prod/opt/caseflow-certification/src/log/caseflow-certification.out;stream=i-03c93e3b20accbac9;filter=%2286745ead-16e2-4f2b-a812-bbb0c18d9d34%22;start=201

[2019-04-10 14:51] Sjones352 commented on #9643
@leikkisa I agree this doesn't seem to be working in UAT.  Maybe we can pair on this and figure out if VBMS server is in a different timezone or maybe ask Colin.

[2019-04-10 14:55] Sjones352 commented on #10187
@leikkisa can you please provide validation instructions

[2019-04-10 14:57] pkarman commented on #10102
ah ok I was wrong in my validation instructions. I didn't realize that "CAN" and "CLR" are treated differently in Caseflow.

Instead of this step:

we should

[2019-04-10 15:28] ShellySmithDSVA opened #10387 "Bug: Veteran matches to wrong Alt location and has wrong distance"
The following Veteran matches to the correct RO, but the wrong alternative hearing location. The hearing location distance is also wrong.
https://appeals.cf.ds.va.gov/queue/appeals/3346867

[2019-04-10 17:17] pkarman commented on #10070
in #10351 and #10380

[2019-04-10 18:01] marvokdolor-gov opened #10389 "EPIC: Backfill Lit Support Tasks"
Litigation Support has been using VACOLS for AMA Lit Support tasks that Caseflow was not able to support on AMA day 02/15/2019.

These include:
- motions to vacate [e.g.](https://github.com/department-of-veterans-affairs/caseflow/issues/10105)
- congressional inquiries
- other motions

Lit Support leadership, currently Kate and Nina, have a list of these cases and should be contacted in order to e

[2019-04-10 18:29] hschallhorn opened #10390 "Issue descriptions do not support some unicode characters"
Sentry alert: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4242/events/300234/

Character was `’` or the right single quotation mark. `”` has also shown up in sentry.

[2019-04-10 18:29] laurjpeterson commented on #10337
Support ticket related to this: https://github.com/department-of-veterans-affairs/appeals-support/issues/4428

[2019-04-10 18:41] leikkisa commented on #9623
#### Validation instructions
- Create a RAMP Election Opt-in for a Veteran
- Create another RAMP election Opt-in for that Veteran (this should cause the End Product to be connected)
- On the confirmation page for the second RAMP Election Opt-In, see if there is an end_product description

[2019-04-10 18:52] leikkisa commented on #9946
#### Validation
This is going to be difficult to manually validate, because in UAT there are no RampElections missing an EndProductEstablishment, and the code doesn't allow new ones to be created like that.

So I suggest we validate it by looking for this error in Slack. Let's take a look at it after Wednesday, April 17th and see if there were any recent instances of this.

[2019-04-10 19:10] hschallhorn commented on #10390
Upon some investigation I've found 2 issues:

### Issues cannot be created with unsupported characters
Steps to reproduce:
1. Select a legacy appeal from BVASCASPER1's queue
2. Select 'Decision ready for review" and hit "Continue" on the special issues page
3. Click "Add Issue"
4. Fill in anything in the Program, Issue, and Level 1 dropdowns
5. In the description field, paste this exact text: `Rig

[2019-04-10 19:43] allyceh commented on #7601
The BVA Dispatch branch chief needs to make a decision in conjunction with the DVCs about the circumstances that require BVA Dispatch to return a case to a judge. The process needs to be defined before we turn the functionality on and give BVA Dispatch free reign to use it.

Email sent to Corey on 4/1:

"A while back, William and Libby requested that they have the ability to assign cases to other

[2019-04-10 20:04] ShellySmithDSVA opened #10393 "On Case details, VLJ Worksheet Link needs line break"
The link to the VLJ Hearing Worksheet is on the wrong line on the case details page.  If there's no disposition, the link shows after the disposition space which is deceptive. This needs a line break to put the link on the next line. See the screenshot below:

![Screen Shot 2019-04-10 at 4 06 53 PM](https://user-images.githubusercontent.com/45463980/55909722-b625a880-5baa-11e9-93f6-36de65f43e7e.pn

[2019-04-10 20:14] ShellySmithDSVA opened #10394 "Change View Hearing Details Link to Say Edit Hearing Details"
On case details, the View Hearing Details link should say "Edit Hearing Details" for Hearing Management Branch users and contain the pencil icon, like the Daily Docket. For all other users it should say View Hearing Details.

**Note** This is on hold until permissions for case details are implemented.
![Screen Shot 2019-04-10 at 4 28 26 PM](https://user-images.githubusercontent.com/45463980/559110

[2019-04-10 20:28] leikkisa commented on #9988
Let's wait until Carola comes back to ask about this. Except for the "this issue:" part, this mock seems to be for withdrawing the entire review.

[2019-04-10 20:30] leikkisa commented on #9986
For the list bullet points I don't think we'll be able to maintain the original index numbers from when the issues were originally withdrawn (they'll change), but that shouldn't negatively impact anything.

[2019-04-10 20:33] MeredithStewart commented on #10304
@laurjpeterson and I are talking to figure out path forward on this.

[2019-04-10 20:33] marvokdolor-gov commented on #8501
Here's the first draft of the Data Dictionary:
[03292019v2_Caseflow_DataDictionary.docx](https://github.com/department-of-veterans-affairs/caseflow/files/3065745/03292019v2_Caseflow_DataDictionary.docx)

And an Entity Relationship Diagram:
![03292019_Caseflow_EntityRelationshipDiagram](https://user-images.githubusercontent.com/31679660/55911283-4c0f0280-5bae-11e9-826b-d7976e8a9e30.png)

Closing.

[2019-04-10 20:33] #8501 closed

[2019-04-10 21:12] leikkisa commented on #9972
@Sjones352 Once these are all merged, could you do another pull request to remove these from appeals_deployment?

https://github.com/department-of-veterans-affairs/appeals-deployment/blob/master/ansible/vars/features-config.yml

[2019-04-10 21:39] leikkisa commented on #10187
#### Validation
Hopefully this works

- Do a Supplemental Claim Intake for UAT Veteran 123458318
- Contest the issue with this information:
    - Decision date: 2018-11-19
    - Text: Evaluation of Ptsd, which is currently 30 percent disabling, is continued.

Check the resulting request issue in the console, and check that it's rating.
RequestIssue.find_by(contested_decision_issue_id: 1).rating?
R

[2019-04-10 21:52] leikkisa commented on #10173
Lol, I found a test Veteran with 24 relationships (3 spouses, 21 children)
### Validation instructions
Do an appeal intake for:
UAT Veteran: 700013444

Select anyone that is not the Veteran as the claimant.

Then we'll need to create a remand decision on the request issue, and see if the payee_code gets populated on the claimant for the remand Supplemental Claim.

[2019-04-10 22:23] leikkisa commented on #10316
This might be very similar to 10187, but this is for a DTA Appeal, so I'll modify those steps here in case there is a difference:

Do an Appeal for UAT Veteran 700032874
Contest the issue with this information:
Decision date: 2019-01-25
Text: "Evaluation of PTSD, which is currently 50 percent disabling, is continued."

Take note of the Appeal ID for the Appeal that is created.

Then create a reman

[2019-04-11 12:42] marvokdolor-gov commented on #10288
Thinking through some of Allyce's questions above:

In a post-AMA deadline world, I think creating a "custom queue" is a solid approach. Particularly since this is likely to help these teams feel less apprehensive about doing their work in Caseflow and leaving VACOLS behind.
As I look back at the [original proposal](https://github.com/department-of-veterans-affairs/caseflow/issues/6573#issue-34925

[2019-04-11 14:23] lowellrex commented on #9809
#7974 provides a work-around for this issue.

[2019-04-11 14:23] #9809 closed

[2019-04-11 14:25] laurjpeterson commented on #9207
@lowellrex - i'm unassigning @amprokop  from this task. let's connect today or tomorrow about how we might finish this ticket this or next sprint!

[2019-04-11 14:27] Sjones352 commented on #9972
Pr in appeals-deployment
https://github.com/department-of-veterans-affairs/appeals-deployment/pull/2039

[2019-04-11 14:34] hschallhorn opened #10402 "Deleting an issue causes an undefined when canceling and returning to edit another issue"
[Sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2613/events/300781/).

Steps to reproduce:
1. Change users to attorney with a legacy appeal assigned to them with 2 or more issues.
2. Select "Decision ready for review" in case details for a legacy case
3. Press continue on the special decisions screen
4. Delete any issue by clicking Edit issue, then Delete iss

[2019-04-11 15:00] #9964 closed

[2019-04-11 15:05] sharonwarner opened #10403 "Hearing details | Edit judge for legacy hearings"
Currently we only allow users to edit a hearing record from the hearing details page for AMA hearings. We'd like to add functionality such that users can edit the judge at an individual hearing level from the hearing details page for legacy hearings.

AC:
- [ ] Users can edit an individual hearing's judge from the hearing details page for a legacy hearing

Current page view:

<img width="1112" alt

[2019-04-11 15:11] sharonwarner opened #10404 "Hearing day updates | Only propagate edited fields to children records"
In the hearing day model, we have an after_update hook that runs the following method. This method needs to be updated to only edit children record fields that have been edited at the parent level. For example, if only the room number was edited at the parent level, we only want to edit the room number of the children records.

[code]

[2019-04-11 17:23] Sjones352 commented on #9985
**Passes Uat**
<img width="1385" alt="Screen Shot 2019-04-11 at 1 21 49 PM" src="https://user-images.githubusercontent.com/23080951/55977501-f9405400-5c5c-11e9-923a-e1fb166bfe9e.png">

[2019-04-11 17:23] #9985 closed

[2019-04-11 17:31] ShellySmithDSVA commented on #10403
Design for Hearing Details for legacy hearings is here in the following Invision prototype.
https://va-gov.invisionapp.com/share/X6RI675QG9M#/357681934_Hearing_Details

[2019-04-11 18:22] leikkisa commented on #9817
I don't believe that we will be able to get access to the ratings while they are locked anytime soon, although this might change with the API they are working on which I believe will operate at the rating issue-level.

For returning all non-locked ratings, we now have this:
[code]

[2019-04-11 18:34] Sjones352 commented on #10102
**Passes UAT**

<img width="1677" alt="Screen Shot 2019-04-11 at 2 31 16 PM" src="https://user-images.githubusercontent.com/23080951/55982398-d6b33880-5c66-11e9-8439-cb1a2b1d002a.png">
<img width="1436" alt="Screen Shot 2019-04-11 at 2 32 34 PM" src="https://user-images.githubusercontent.com/23080951/55982399-d6b33880-5c66-11e9-8780-af20cf5714ba.png">

[2019-04-11 18:34] #10102 closed

[2019-04-11 18:35] Sjones352 commented on #10215
@leikkisa please provide validation instructions.

[2019-04-11 19:00] #10340 closed

[2019-04-11 19:12] sharonwarner opened #10408 "Hearing Prep Merge | Remove travel board hearings"
AC:
- [x] Add alert so that judges know travel board will not be supported
- [x] Update backend to only pull in travel board hearings scheduled for before 5/13

https://va-gov.invisionapp.com/share/RYRI6Y153ZA#/screens/357685923_Schedule_View

[2019-04-11 19:12] sharonwarner opened #10409 "Hearing Prep Merge | View schedule"
Create judge view for viewing the schedule.

[2019-04-11 19:21] sharonwarner opened #10410 "Hearing Prep Merge | Daily docket"
AC:
- [ ] Update previously scheduled hearings such that it pulls hearings that were postponed or canceled *and their dispositions are uneditable*.
- [ ] Add judge views for AMA and legacy hearings

Note that we do not currently have functionality for AOD/AOD reason for AMA hearings. That is included in a separate ticket: #8682 For now, let's just include read only dropdowns for those two fields.

[2019-04-11 19:23] lomaxap opened #10411 "Monthly job: AMA Appeals that are in Docket Range"
[See here](https://github.com/department-of-veterans-affairs/caseflow/pull/10392#discussion_r274579371). We need to keep track of how many appeals should be scheduled up to the current month (aka in docket range)

AC:
- [ ] Add a (date? boolean?) column on Appeal to designate that appeal is `in_docket_range`
- [ ] Write a script that backfills Appeals currently in docket range (through the end of

[2019-04-11 19:38] #4562 closed

[2019-04-11 19:38] sharonwarner commented on #5010
Closed because we're merging hearing prep into hearing schedule.

[2019-04-11 19:38] #5010 closed

[2019-04-11 19:38] #5101 closed

[2019-04-11 19:39] #5102 closed

[2019-04-11 19:39] #5110 closed

[2019-04-11 19:39] #5258 closed

[2019-04-11 19:41] #5414 closed

[2019-04-11 19:41] #7711 closed

[2019-04-11 19:43] sharonwarner commented on #9670
Removing travel board from hearing prep.

[2019-04-11 19:43] #9670 closed

[2019-04-11 19:57] aroltsch commented on #10255
Reopening.

[2019-04-11 20:10] pkarman commented on #10195
[code]

example of clearing all the VACOLS-related caches.

[2019-04-11 20:10] #10195 closed

[2019-04-11 20:11] pkarman commented on #10145
This continues to be an issue https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4073/events/300923/

[2019-04-11 20:25] #7974 closed

[2019-04-11 21:01] laurjpeterson opened #10413 "Manually move case from "case storage" to VLJ"
## AC
- Re-open the JudgeDecisionReviewTask for this case -  https://appeals.cf.ds.va.gov/queue/appeals/c78dae73-7630-49a0-a752-d4f18b1bda7c - and assign to VLJ Thomas O'Shay
- all decision issue data should be unchanged
- all remand reason data should be unchanged

Support ticket context: https://github.com/department-of-veterans-affairs/appeals-support/issues/4964#event-2269684875

We have to do

[2019-04-11 21:05] laurjpeterson opened #10414 "Canceled tasks appear as completed in Case Timeline"
When an AMA task is canceled, the task appears as completed in the Case Timeline. This is because cancel task functionality was added after Case Timeline was implemented, and we have not yet finished designing how to display canceled in it.

## Designs

### Case Timeline "Cancel Task" (isolated view)
![cancel-task-isolated-view](https://user-images.githubusercontent.com/31224257/59079289-0cfce500-

[2019-04-11 21:14] hschallhorn opened #10415 "Unique ID for a VACOLS attorney is blank"
[Sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2584/events/300965/).

[2019-04-11 21:16] hschallhorn opened #10416 "Task is undefined in SubmitDecisionView"
[Sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4606/)

[2019-04-11 21:17] hschallhorn opened #10417 "appeal. assignedAttorney is undefined in EvaluateDecisionView"
[Sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4596/)

[2019-04-12 00:49] leikkisa commented on #10169
@pkarman Can we delegate this to the decision_review's Veteran instead, so it'll still be there if you're looking at a request issue in the console, but we don't store it on request_issues?

[2019-04-12 01:22] pkarman opened #10421 "create contention fails"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4602/events/300982/

I have manually set `establishment_last_submitted_at` to `nil` to avoid creating more text-less contentions.

Supplemental Claim 6319

VBMS appears to create the contention but returns no description so it cannot be matched.

VBMS is investigating.

[2019-04-12 04:45] monfresh commented on #10235
Would it make sense to implement the retries in the BGS gem? Also, do you know what the reasoning is behind a connect timeout of 10 minutes? (https://github.com/department-of-veterans-affairs/ruby-bgs/blob/bc9c89591ac5830939476bd6eb96c1a2b415fdcb/lib/bgs/base.rb#L137)

That means we are blocking requests for 10 minutes while we try to connect. Typically, connect timeouts should be as small as poss

[2019-04-12 11:52] aroltsch commented on #10235
Yes, we can implement a retry on the BGS side. I had a similar code in connect_vva which was removed when we implemented Envoy to retry HTTP requests. Here is the PR: https://github.com/department-of-veterans-affairs/connect_vva/pull/15/files. In theory, Envoy should retry 3 times. I know Enrique and Lisa looked into it and said Envoy should be re-trying. You could connect with them to see if ther

[2019-04-12 12:20] aroltsch opened #10424 "Investigate why users get 'additional access needed' error but they have full access to document in VBMS"
Support ticket: https://github.com/department-of-veterans-affairs/appeals-support/issues/4907

Slack thread: https://dsva.slack.com/archives/C2ZAMLK88/p1554918721214300

AC: Investigate why users get 'additional access needed' error but they have full access to document in VBMS

[2019-04-12 12:35] hschallhorn opened #10425 "Appeal is undefined in CaseDetailsView"
[Sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3630/events/300977/)

[2019-04-12 12:36] hschallhorn opened #10426 "submit() is undefined in QueueFlowModal"
[Sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4470/events/301223/)

[2019-04-12 13:43] allyceh commented on #10288
Is what was used to build out Mail functionality?
If so, would this mean that the Mail team is already manually adding the receipt date to any Mail Task and we need to focus on surfacing this to Lit Support?

The mail team is instructed to manually add BVA receipt date in to each mail task. The user can see this when they expand the "View instructions" link on the task. What Nina and team were req

[2019-04-12 14:18] Sjones352 commented on #9623
@leikkisa do you have any file number that has a RAMP-opt-election document in VBMS. I actually added a document on this file but I still get this error. Can you provide me a file if you have one that is eligible to participate in RAMP?

![Screen Shot 2019-04-12 at 10.14.07 AM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/c8730517-9016-457c-b383-1bcbcff39c47)

[2019-04-12 16:07] hschallhorn opened #10429 "VACOLS case 3620735 does not exist"
[Sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2991/events/299700/).

[code]

[2019-04-12 16:08] hschallhorn commented on #10415
Closing in favor of #7566

[2019-04-12 16:08] #10415 closed

[2019-04-12 16:10] pkarman commented on #10169
It's fine with me to drop the column completely, but it was added to support this query:

https://github.com/department-of-veterans-affairs/caseflow/pull/8301/files#diff-c6fb660217091ee173ec081ec17c29e6R180

so we'd need to change any queries that depend on it to use a `join` instead, since `delegate_to` won't work at the SQL level.

[2019-04-12 16:11] hschallhorn commented on #7566
We've had [~40 more](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2584/events/171258/) of these errors since this issue was closed.

[2019-04-12 16:30] hschallhorn commented on #7566
[The most recent error](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2584/events/300965/). [AWS logs](https://console.amazonaws-us-gov.com/cloudwatch/home?region=us-gov-west-1#logEventViewer:group=dsva-appeals-certification-prod/opt/caseflow-certification/src/log/caseflow-certification.out;stream=i-084e57540d1655ee9;filter=%22ebcbba9b-b59b-4e52-89ef-0f259570f977%22;start

[2019-04-12 18:20] laurjpeterson opened #10431 "Investigate how to pull appellant POA"
When the appellant is not the Veteran, we still need to show the appellant's POA. We've gotten one [support ticket](https://github.com/department-of-veterans-affairs/appeals-support/issues/4977) where VBMS is showing the appellant's POA, but Caseflow show there is no POA.

## AC
- If the appellant is not the Veteran, populate appellant POA in the POA section of Case Details.
- This applies to both

[2019-04-12 18:23] laurjpeterson opened #10432 "Ensure VLJ Support Staff users navigate to their queue when clicking Caseflow logo and not Veteran Case Search page"
In VLJ Support Staff refresher/training on 4/11, VLJ Support users flagged that when they click the Caseflow logo, they are taken to the case search homepage instead of their queue.

Initially, I thought this was because they had the `case_search_home_page` turned on for them because I remember doing this for them last summer. But looking at [features-config.yml](https://github.com/department-of-v

[2019-04-12 18:32] laurjpeterson opened #10433 "Remove VSO legacy tasks from the All cases tab of their team queue"
We added `TrackVeteran` tasks to legacy appeals so VSOs could have a view of Caseflow Hearing Schedule. When we did that, legacy appeals started showing up in VSO organization queues, the All cases tab.

We originally instructed VSOs that they would ONLY see AMA cases in caseflow queue, so this is a change and will cause confusion.

Also, there's risk of VSO queues not being able to load because t

[2019-04-12 18:49] aroltsch commented on #10413
That's interesting that this case is missing JudgeAssignTask:
["BvaDispatchTask", "BvaDispatchTask", "AttorneyRewriteTask", "JudgeDecisionReviewTask", "AttorneyTask", "RootTask"]

Here is what I did:
1. I deleted all BvaDispatchTasks associated with this appeal because we have to fix this first: https://github.com/department-of-veterans-affairs/caseflow/issues/10216
2. I set status to in_progress

[2019-04-12 18:51] aroltsch commented on #10413
@laurjpeterson do we want to update the count for days waiting or is it not a big deal?

![image](https://user-images.githubusercontent.com/3811786/56059602-6eca2400-5d32-11e9-98df-0196e9dadaff.png)

[2019-04-12 22:06] pkarman opened #10437 "Check veteran multiple active phone numbers anywhere accessible check is done"
e.g. https://github.com/department-of-veterans-affairs/caseflow/pull/9662

see https://github.com/department-of-veterans-affairs/appeals-support/issues/4907

Should probably refactor the Veteran model and/or bgs.can_access? to parse differences in the BGS::ShareError.

[2019-04-12 22:07] pkarman commented on #10424
@aroltsch I think this is #10437

[2019-04-14 21:35] Sjones352 commented on #9987
Covers Acceptance Criteria

1.  If an entire decision review is withdrawn, it should behave the same as the "Review Removed" confirmation. Except it should say "Review Withdrawn" (see: https://github.com/department-of-veterans-affairs/caseflow/issues/9734)

![Screen Shot 2019-04-14 at 5.23.48 PM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/9ee06b85-03d9-4f22-81b4-b9581aec3125

[2019-04-14 22:02] Sjones352 commented on #10215
**Passes UAT**

![Screen Shot 2019-04-14 at 6.02.05 PM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/fa73562d-63ce-4e80-855a-93317e273374)

[2019-04-14 22:02] #10215 closed

[2019-04-14 22:32] Sjones352 commented on #10316
**Passes UAT**

<img width="1680" alt="Screen Shot 2019-04-14 at 6 23 29 PM" src="https://user-images.githubusercontent.com/23080951/56100126-4afa1000-5ee3-11e9-9fd3-6958d7690d78.png">

<img width="1680" alt="Screen Shot 2019-04-14 at 6 28 23 PM" src="https://user-images.githubusercontent.com/23080951/56100134-577e6880-5ee3-11e9-963e-e78c375c8d36.png">

[2019-04-14 22:32] #10316 closed

[2019-04-14 22:34] #9987 closed

[2019-04-14 23:56] laurjpeterson commented on #10413
I don't think we need to update the count for days waiting because it's just a few days, and the case had to be sent back to the judge anyway. Plus, 15 days is much less than the 30-60 day time frame that cases usually take.

[2019-04-15 12:01] aroltsch commented on #10413
Ok, it is done then.

[2019-04-15 12:01] #10413 closed

[2019-04-15 14:10] lowellrex opened #10439 "Remove can_access_v2 BGS feature flag"
This feature has been toggled on for all users [since July 2018](https://github.com/department-of-veterans-affairs/appeals-deployment/pull/1592/files), let's remove the code that checks for this feature toggle and instead just default to it being on.

[2019-04-15 14:46] pkarman opened #10442 "Do not require claimant address for non-comp reviews"
Do not validate the claimant's address or send the "claimant_address_required" error to the front end if the review is non-compensation.

Acceptance criteria
For a decision review that is non-compensation with a Veteran or non-Veteran claimant that does not have an address, the user should be able to complete the review without errors.

Related PR that implemented this:
#10091

If the intake /revi

[2019-04-15 15:10] pkarman opened #10444 "async jobs page pagination"
We have too many jobs on the /jobs page to comfortably scroll through them.

Add some pagination.

## Validation steps:

* visit the /jobs page
* if there are more than 50 async jobs there should be links to the multiple pages at the bottom of the page
* there should be links at the top of the page to each type of async job, and those should also be paginated.

[2019-04-15 15:22] laurjpeterson opened #10445 "Consider hiding "Mark task complete" from BVA Dispatchers"
Since the BVA Dispatch task is automatically completed when users complete the IDT flow, we could consider hiding the "Mark task complete" option from the BVA Dispatch task in the actions dropdown.

[2019-04-15 15:28] Chingujo opened #10446 "Hearing Schedule UI Audit"
### Context

Currently, in Caseflow Hearing Schedule, there are a few undstandarized UI elements that do not align with the original design implementation/style guide standards.

The main reason for making these UI updates is to help the user better navigate and digest the information that they are seeing on the page, especially with the Caseflow Hearing Schedule table, where they are multiple mod

[2019-04-15 16:00] lowellrex commented on #9527
@laurjpeterson Do private attorneys write IHPs for appeals? Or are they like Field VSOs in that they do not write IHPs?

Also, do we have any example appeal where the appellant is represented by a private attorney so we can confirm that the implementation will work? (The URL of the case details page would be PII-safe and sufficient to find that appeal).

[2019-04-15 17:10] nicholasholtz commented on #9527
No, private attorneys never will write IHPs.

[2019-04-15 17:25] #10439 closed

[2019-04-15 17:41] #10409 closed

[2019-04-15 17:49] leikkisa opened #10449 "Do not require claimant address for non-comp reviews"
Do not validate the claimant's address or send the "claimant_address_required" error to the front end if the review is non-compensation.

Acceptance criteria
For a decision review that is non-compensation with a Veteran or non-Veteran claimant that does not have an address, the user should be able to complete the review without errors.

Issue:
https://github.com/department-of-veterans-affairs/case

[2019-04-15 17:51] MeredithStewart commented on #10368
@lowellrex -- do we have a timeframe on this one? I just want to be able to communicate this to the Hearing Branch.

[2019-04-15 17:52] tomas-nava commented on #10136
- [ ] Coordinate with @MeredithStewart to make sure that team membership and communications around these changes are managed before merge, as detailed [in this slack thread](https://dsva.slack.com/archives/C42P25D6H/p1555349784006200).

[2019-04-15 17:54] leikkisa commented on #10442
This should also put an error message on the users screen saying that an address is required for the claimant. However, the reason for this is that a claim establishment fails if the claimant doesn't have an address, so this may not be required for intakes processed in Caseflow.

I would also like to find out if the Veteran was the claimant in this instance.

[2019-04-15 17:55] sharonwarner opened #10451 "Hearing Prep Merge | Option to navigate between apps"
Requires #10410

Once the proper judge functionality is in place in hearing schedule, we want to allow users to navigate between hearing prep and hearing schedule so we can tease out bugs before moving all users over to hearing schedule.

In hearing schedule, we want to display the following alert (the button navigates to hearings/dockets) - only for hearing prep users:

<img width="966" alt="Scre

[2019-04-15 17:59] leikkisa commented on #10442
Here's a ticket for this:
https://github.com/department-of-veterans-affairs/caseflow/issues/10449

[2019-04-15 18:05] carolaponce commented on #9988
Confirmation: This would show the issue withdrawn not the review title

[2019-04-15 18:15] carolaponce commented on #9988
@leikkisa This is the updated confirmation format - this is the modular confirmation that gets added to the Reviews needing action page for non-comp LOB or if this confirmation is included in queue.

Since we are changing the add/remove title to Edit issues - the confirmation reflects that and the message is simplified.

![simplified_confirmation](https://user-images.githubusercontent.com/11700545

[2019-04-15 18:16] tomas-nava opened #10452 "write legacy appeal feature tests to backfill test coverage for ChangeHearingDispositionTask flow"
Connects #9833
Connects #9885

Add tests to [`change_hearing_disposition_spec.rb`](https://github.com/department-of-veterans-affairs/caseflow/blob/master/spec/feature/hearing_schedule/change_hearing_disposition_spec.rb) validating the flow for using the change hearing disposition modal to change the disposition on legacy hearings.

[2019-04-15 18:43] sharonwarner commented on #6561
Closed because we aren't pulling days from VACOLS anymore.

[2019-04-15 18:43] #6561 closed

[2019-04-15 18:43] sharonwarner commented on #6552
Closed - that highlighting is necessary for 508 compliance.

[2019-04-15 18:43] #6552 closed

[2019-04-15 18:44] sharonwarner commented on #7245
Already completed through another ticket.

[2019-04-15 18:44] #7245 closed

[2019-04-15 18:45] #7449 closed

[2019-04-15 18:45] #7565 closed

[2019-04-15 18:46] #7972 closed

[2019-04-15 18:47] #8139 closed

[2019-04-15 18:47] #8146 closed

[2019-04-15 18:48] #8359 closed

[2019-04-15 18:50] #9936 closed

[2019-04-15 18:52] sharonwarner commented on #7492
Closing - can  use #6777 to track progress.

[2019-04-15 18:52] #7492 closed

[2019-04-15 18:53] #8678 closed

[2019-04-15 18:53] sharonwarner commented on #8715
Not adding tb functionality for the foreseeable future.

[2019-04-15 18:53] #8715 closed

[2019-04-15 18:56] #8194 closed

[2019-04-15 18:57] #8505 closed

[2019-04-15 18:57] laurjpeterson commented on #8547
Open questions:
- how are motions to vacate or motions to reconsider sent to judge/attorneys/senior counsel
- stories for adding new decision issues and such to get feedback from engineers

[2019-04-15 19:01] #8751 closed

[2019-04-15 19:02] #8791 closed

[2019-04-15 19:02] #8847 closed

[2019-04-15 19:03] #8945 closed

[2019-04-15 19:05] #9056 closed

[2019-04-15 19:06] sharonwarner commented on #9127
Duplicate.

[2019-04-15 19:06] #9127 closed

[2019-04-15 19:07] #9375 closed

[2019-04-15 19:10] sharonwarner commented on #9450
Dup of #10136

[2019-04-15 19:10] #9450 closed

[2019-04-15 19:15] #10271 closed

[2019-04-15 19:17] sharonwarner commented on #10139
Broke into separate tickets. #10410 #10409

[2019-04-15 19:17] #10139 closed

[2019-04-15 19:18] #8542 closed

[2019-04-15 19:30] #6440 closed

[2019-04-15 19:34] ShellySmithDSVA commented on #9333
Closing this ticket as info is now contained in #9168

[2019-04-15 19:34] #9333 closed

[2019-04-15 19:59] #521 closed

[2019-04-15 19:59] #522 closed

[2019-04-15 19:59] #526 closed

[2019-04-15 19:59] #530 closed

[2019-04-15 20:00] #1472 closed

[2019-04-15 20:00] #2074 closed

[2019-04-15 20:00] #1868 closed

[2019-04-15 20:00] #1659 closed

[2019-04-15 20:00] #2719 closed

[2019-04-15 20:00] #3146 closed

[2019-04-15 20:01] #3524 closed

[2019-04-15 20:01] #3610 closed

[2019-04-15 20:01] #3612 closed

[2019-04-15 20:01] #4983 closed

[2019-04-15 20:01] #5052 closed

[2019-04-15 20:01] #6336 closed

[2019-04-15 20:01] #6903 closed

[2019-04-15 20:01] #7366 closed

[2019-04-15 20:03] #2372 closed

[2019-04-15 20:03] #3915 closed

[2019-04-15 20:03] #6915 closed

[2019-04-15 20:06] sharonwarner commented on #10113
As these sentry alerts come up, we need to fix the data. It should be same to assume a hearing task has a hearing association at this point.

[2019-04-15 20:06] #10113 closed

[2019-04-15 20:18] #1151 closed

[2019-04-15 20:18] #6108 closed

[2019-04-15 20:22] pkarman commented on #10421
confirmed that VBMS fully supports UTF-8 character set.

[2019-04-15 20:55] lowellrex commented on #9527
@allyceh @laurjpeterson What should the name of the private attorney's' organizations be? I mocked it up with the CSS ID and with the attorney's full name. Do either of these look good, or should we include some text to indicate that these are tracking tasks for an attorney instead of just the individual (in case the attorney is also staff for a VSO, for example)?

CSS ID | Full name
--- | ---
![i

[2019-04-15 21:39] #9833 closed

[2019-04-15 22:24] pkarman commented on #10421
We sent a string that was 255 characters but that included a multi-byte codepoint, which made it 256 bytes. Apparently VBMS will silently drop the entire text rather than truncating it.

[2019-04-15 22:31] laurjpeterson commented on #9527
Interesting. There will be some private attorney organizations - like "Chisholm Chisholm & Kilpatrick LTD" - in addition to individuals. Are you seeing those?

I think converting the CSS ID into the name is our best bet.

Some other options but I don't like them as much:
- Private bar cases
- Private bar attorney cases
- Attorney representative cases

As for text to explain - are you referring to

[2019-04-15 22:38] lowellrex commented on #9527
Do we have an example of one of these private bar organizations? I have been assuming that the private bar organization and the individual would have the same BGS participant ID, but I'm beginning to think that is a bad assumption.

[2019-04-16 01:12] laurjpeterson commented on #10288
If we have document receipt date data, we could add it as a configurable column (queue configurations ideas tracked here - https://github.com/department-of-veterans-affairs/caseflow/issues/8423)

Data sources for document receipt date:
1. VBMS receipt date (what we display in Reader)
2. manual data entry by person in the mail team

It would be nice to automatically pull document receipt dates, whi

[2019-04-16 01:30] leikkisa commented on #10449
Dupe

[2019-04-16 01:30] #10449 closed

[2019-04-16 12:52] #7506 closed

[2019-04-16 12:56] nicholasholtz commented on #9527
My understanding is that this is not correct:

It should only be individual attorneys, not their organizations.

[2019-04-16 13:56] allyceh commented on #9527
@lowellrex I am not super familiar with the private bar organizations and why they use Caseflow.

1. What are they using Caseflow for?

Can you explain more about the statement above and what tracking tasks are?

This will help me understand how any additional text can help orient users when they open their queue.

[2019-04-16 15:37] allyceh commented on #8547
I have answers to the questions above from our documentation. This is taken from the Lit Support process flow in our Mural (Mural title is: Lit Support: Motions for Reconsideration).

- Depending on the decision, the motions attorney would dispatch/outcode in different ways
    - Grant: they don't outcode in VACOLS. It goes into abeyance for 60 days, and status of the record is changed to "Active"

[2019-04-16 15:46] lowellrex commented on #9527
@allyceh I'll defer to @laurjpeterson here. It appears that we are all still learning what the nature of these folks are (law firms or individual employees) and I think that will determine a lot around implementation.

[2019-04-16 17:21] pkarman commented on #10378
more instances: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4645/events/306114/

[2019-04-16 19:11] allyceh commented on #8547
Met with a Motions Attorney today to get her reaction to our proposed MVP and ask her some questions about outcoding motions.

Outcoding notes:
- Motion dismissals and denials are outcoded in VACOLS, but the Motions Attorney didn't know where this data was stored. Or, who it was "outcoded" to or who used this information. She also couldn't say why they outcoded. It seemed like it was just part of

[2019-04-16 20:08] youngfreezyVA commented on #10255
this just happened again: https://dsva.slack.com/archives/C6E41RE92/p1555445007080500

[2019-04-16 20:20] lowellrex commented on #10214
@laurjpeterson If a Veteran changes VSOs and there is an outstanding task for the previous VSO to write an IHP, does the new VSO get the opportunity to write an IHP as well?

[2019-04-16 22:11] lowellrex commented on #10227
Added datadog monitors to alert if the [runtime of the job is more than 30 minutes](https://app.datadoghq.com/monitors/9547279) and if [no tasks were modified by the job in the past 24 hours](https://app.datadoghq.com/monitors/9547287).

[2019-04-16 22:11] #10227 closed

[2019-04-17 12:24] lowellrex opened #10468 "Send metrics for PrepareEstablishClaimTasksJob to Datadog instead of Slack"
`PrepareEstablishClaimTasksJob` [runs every night at 7 or 8pm](https://github.com/department-of-veterans-affairs/appeals-deployment/blob/ff2d0d25eb8788810cefdfe69b97737d37c093b9/ansible/vars/aws-config.yml#L464) eastern time and sends [two](https://github.com/department-of-veterans-affairs/caseflow/blob/59dcdb99cf6059bba455d7d0d3ad870f9c7cc640/app/jobs/prepare_establish_claim_tasks_job.rb#L34) [me

[2019-04-17 12:28] lowellrex opened #10469 "Send metrics for HearingDispositionChangeJob to Datadog instead of Slack"
`HearingDispositionChangeJob ` [runs every night at midnight or 1am](https://github.com/department-of-veterans-affairs/appeals-deployment/blob/ff2d0d25eb8788810cefdfe69b97737d37c093b9/ansible/vars/aws-config.yml#L548) eastern time and sends [a message](https://github.com/department-of-veterans-affairs/caseflow/blob/59dcdb99cf6059bba455d7d0d3ad870f9c7cc640/app/jobs/hearing_disposition_change_job.rb

[2019-04-17 14:09] allyceh commented on #10288
Assuming the "Receipt date" in Reader is the day that BVA receives the mail. For my own verification, I just checked a case and confirmed that that date is not when the received mail was postmarked.

Does anyone know how Reader gets "Receipt date"? Is it the day that the letter is uploaded to VBMS from the mail portal, OR the day that it's added to the mail portal queue?

[2019-04-17 14:42] lowellrex opened #10470 "[Tech spec] Shared pagination for queue table views"
Caseflow builds queue table views in [a variety of different ways](https://github.com/department-of-veterans-affairs/caseflow/issues/10032), but all of those queue table views share several core components.

![image](https://user-images.githubusercontent.com/32683958/56296432-84599800-60fc-11e9-8e98-c8bd34078628.png)

## Problem statement
Currently we define all of these components in the front-en

[2019-04-17 15:19] sharonwarner opened #10471 "Hearing Prep Merge | Rename Hearing Schedule to Hearings"
We no longer need to differentiate between the two hearings applications, so we can call "Hearing Schedule" "Hearings" now!

AC:
- [ ] Update switch application dropdown to say "Hearings"
- [ ] Update set_application to be "hearings"
- [ ] Update logo colors to be the same for both hearings applications
- [ ] Update page header to say "Hearings"

[2019-04-17 15:54] leikkisa opened #10472 "Double check in_active_review eligiblity code for Appeal"
Double check that ineligiblity is working for issues in active review.

This may be working now, but may not have been fully in place at the time of the Appeals below.

https://dsva.slack.com/archives/C754H751T/p1555514512070800

[code]

[2019-04-17 17:25] ShellySmithDSVA opened #10473 "Correct POA/Address source for Legacy Hearings"
In Hearing Schedule, Legacy cases should load Power of Attorney and address information from BGS, not VACOLS. This will match AMA functionality and make our source of information consistent.

- [x] Verify Legacy cases use BGS as the source on information for POA and Appellant/Veteran Address
- [x] Verify the Schedule Veteran modal uses and displays the BGS address
- [ ] Verify any load messages ma

[2019-04-17 18:52] allyceh commented on #5445
Note: Sneha and I discussed putting a checkbox next to the "Assign to" button in the judge assign view.

[2019-04-17 19:06] sharonwarner opened #10476 "Bug: Overwriting hearing dates"
We have three support tickets of hearing dates that have been overwritten accidentally. We need to update the hearings in VACOLS to the correct hearing date
- [x] https://github.com/department-of-veterans-affairs/appeals-support/issues/5012
- [x] https://github.com/department-of-veterans-affairs/appeals-support/issues/4991
- [x] https://github.com/department-of-veterans-affairs/appeals-support/iss

[2019-04-17 19:26] Sjones352 opened #10477 "RangeError in finding a rating_issue_reference_id"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4666/events/306554/

https://appeals.cf.ds.va.gov/supplemental_claims/71147733/edit

[2019-04-17 20:22] lowellrex commented on #9119
As we [introduce pagination](https://github.com/department-of-veterans-affairs/caseflow/issues/10470), this ticket will include work that will return the user to the correct combination of tab, page, and filter.

[2019-04-17 20:37] lowellrex commented on #9693
Closing this as the development work to enable the workaround mentioned above was implemented as part of #7974.

[2019-04-17 20:37] #9693 closed

[2019-04-18 12:54] laurjpeterson commented on #9527
@nicholasholtz - yep, thanks. I remember us discussing that individuals who work at `Chisholm Chisholm & Kilpatrick LTD` are not allowed to see all  `Chisholm Chisholm & Kilpatrick LTD` cases, just those that they as an individual represent.

however, i'm sure i've seen `Chisholm Chisholm & Kilpatrick LTD` as a POA in Case details. Are you saying that it could never be the POA value in CorpDB? (ev

[2019-04-18 13:16] youngfreezyVA opened #10478 "`issue` is undefined in AddEditIssueView -> LegacySelectDispositionsView"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4676/

based on the URL in this sentry error, the issue is undefined on line `148` of `LegacySelectDispositionsView.jsx`

[2019-04-18 13:17] aroltsch opened #10479 "Create a link under a document ID that links to the IDT document"
Example link: `ms-word:ofe|u|file:////bvacofil.dva.va.gov/dt1/Board/01826/01826-00000162.docx`
Slack discussion: https://dsva.slack.com/archives/CD5DAQNCU/p1554465049013400

AC: Create a link under a document ID that links to the IDT document

[2019-04-18 13:31] aroltsch opened #10480 "Store POA participant ID when AMA appeal is dispatched."
Paul: We need to track cases based on who was the POA when the appeal was decided.  We often need to know how many cases were decided with an DAV rep, for example.  But those reps change after the fact, and BGS only returns current rep

AC:
Store POA participant ID when AMA appeal is dispatched.

[2019-04-18 13:40] aroltsch commented on #10338
https://alerts.newrelic.com/accounts/1788458/policies/435684

[2019-04-18 13:40] #10338 closed

[2019-04-18 13:41] aroltsch commented on #10235
Continue debugging Envoy

[2019-04-18 13:46] lowellrex commented on #9527
We can definitely continue under the assumption that private bar access will be at the individual attorney level and not the law firm level. The question I am trying to determine the answer to is whether the attorney would have two participant IDs in BGS (one for their private bar practice and one for them as an individual who has access to the private bar firm of one person) or whether they would

[2019-04-18 13:53] pkarman commented on #10378
dupe of #10477 which has diagnosis

[2019-04-18 13:53] #10378 closed

[2019-04-18 15:00] #10000 closed

[2019-04-18 15:08] laurjpeterson commented on #9527
We have this!
- Bradley Hennings
- VBAPROHenniB
- His VA email is Bradley.Hennings@va.gov
- His law firm email is bhennings@cck-law.com (cck = Chisholm Chisholm & Kilpatrick LTD)

[2019-04-18 15:11] laurjpeterson commented on #9527
Cool. So let's design for below the heading "Lowell Wood's cases" since that's the end state. Thanks for explaining again.

For copy, maybe we could start with:
"This list contains all AMA cases where Veterans have chosen you as their representative"

[2019-04-18 15:17] laurjpeterson opened #10481 "Give Brad Hennings access to eFolder"
Just like we did for DAV VSO representative Tom Wendel, let's give Brad Hennings access to eFolder Express.

## User info
Name: Bradley Hennings
CSS ID: VBAPROHenniB
His VA email is Bradley.Hennings@va.gov
His law firm email is bhennings@cck-law.com (cck = Chisholm Chisholm & Kilpatrick LTD)

## AC
- Bradley Hennings has access to eFolder express

[2019-04-18 15:36] kevmo commented on #10354
@lomaxap @aroltsch When the VLJ support staff needs to schedule an additional hearing after a Judge or Attorney has received a case, should the case be returned to the same judge who initially received the case or go into redistribution?

[2019-04-18 16:51] lomaxap commented on #10354
When you create a ScheduleHearingTask, the appeal goes back to the hearings branch to be scheduled for a new hearing. The VLJ support staff won't actually do the scheduling.

I'm not sure how that impacts how other tasks are assigned, though it makes sense to me that you shouldn't need to change any other assignments.

[2019-04-18 16:57] youngfreezyVA opened #10482 "State object is undefined when loading queue, and the referrer is reader"
State object is undefined when loading queue, when the referrer is reader
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3177/

[2019-04-18 19:11] lowellrex commented on #10336
Removed the duplicates by running the following commands in prod:

[code]

[2019-04-18 19:20] hschallhorn commented on #10250
Unable to reproduce in dev. Closing until we see this again.

[2019-04-18 19:20] #10250 closed

[2019-04-18 19:38] lowellrex commented on #10371
SMALL. Should be mostly back-end only filtering, may need to hit a different API endpoint to fetch VSO users only.

[2019-04-18 19:43] lowellrex commented on #8169
SMALL.
* [ ] Add validations
* [ ] Add tests
* [ ] Confirm all existing organizations have URLs that are unique.

[2019-04-18 19:44] lowellrex commented on #10369
XS.

[2019-04-18 19:47] lowellrex commented on #10002
MEDIUM.

[2019-04-18 19:48] lowellrex commented on #10354
SMALL.

[2019-04-18 19:49] lowellrex commented on #10368
XS.

[2019-04-18 20:00] lowellrex commented on #10049
LARGE. Limit this to only organization queues to start. Be aggressive in looking for other ways to break up PRs into bite-sized chunks.

[2019-04-18 20:25] lowellrex commented on #10336
Set up the looker alert: https://caseflow-looker.va.gov/looks/183

[2019-04-18 20:25] #10336 closed

[2019-04-18 20:27] ShellySmithDSVA commented on #10319
https://appeals.cf.ds.va.gov/queue/appeals/2850494 is still having an issue. https://appeals.cf.ds.va.gov/queue/appeals/3031750 now appears properly with an alt location on in the RO list.

[2019-04-18 20:55] lomaxap commented on #8657
- [ ] Verify when No Show is selected, the task stays assigned to the user the hearing was assigned to

should [the no show task](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/tasks/disposition_task.rb#L97) be assigned to an actual user?
- [ ] Verify the following task instructions are automatically added to the task "Mail must be received within 14 days of the

[2019-04-18 20:59] #8656 closed

[2019-04-18 23:51] tomas-nava commented on #8657
The way I read this, the `DispositionTask` (or `ChangeHearingDispositionTask`) is the task that "stays assigned to the user the hearing was assigned to". This is the current functionality; you can test by adding a `binding.pry` after [the last line of this test](https://github.com/department-of-veterans-affairs/caseflow/blob/master/spec/feature/hearing_schedule/change_hearing_disposition_spec.rb#L

[2019-04-19 13:10] lowellrex commented on #9527
@laurjpeterson Do we have some other attorneys who will be getting this access?

I tried looking up Hennings and he has a Caseflow account for his VA email but BGS does not recognize the CSS ID associated with that Caseflow account (`BVABHENNINGS`). Caseflow does not have account for Hennings with the other CSS ID or email address.

[code]

[2019-04-19 13:49] aroltsch commented on #10470
Great tech spec! A few questions/comments:

1. Why do we allow two filters?
2. I think we should not implement pagination for queues that contain legacy tasks because we should be moving away from those.
3. Can we hide it behind a feature flag and only deploy to a few users to start with?

[2019-04-19 13:59] lowellrex commented on #10470
I don't know. This tech spec seeks parity to avoid regressions.

Agreed!

Absolutely. The queues that needs back-end pagination most desperately are organization queues (VSOs and VLJ support staff specifically), so I think it makes sense to start there. Starting with organization queues has the added benefit that they do not contain legacy tasks so we can delay dealing with that problem until we i

[2019-04-19 14:33] lowellrex commented on #9207
Rough rollout plan:
* [ ] Create new `TimedHoldTask`
* [ ] Make sure `GenericTask`s respond properly to having a child `TimedHoldTask`
  * "Days on hold" appears correctly
  * Actions display correctly (all of the same actions as before + "Cancel timed hold")
  * Updating the parent task cancels the `TimedHoldTask` (are there any scenarios where this is not true?)
* [ ] Enable creation of `TimedHo

[2019-04-19 14:38] lomaxap opened #10487 "Add Instructions to NoShowTask"
Completing AC from #8657

- [ ] Verify the following task instructions are automatically added to the task "Mail must be received within 14 days of the original hearing date.

Add instructions [here](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/tasks/disposition_task.rb#L102)

[2019-04-19 14:54] lomaxap opened #10488 "Create IHP Task if NoShow is not Completed"
Wrapping up #8657
- [ ] Verify that if the hearing is marked as No Show and doesn’t change to postponement, the appeal is assigned an IHP task

[2019-04-19 15:17] lomaxap opened #10489 "Move VACOLS location Legacy Appeals with NoShowTasks that are released for review"
wrapping up #8657

- [ ] Verify that when no-show task is marked as “mark as complete: released case for review” then legacy cases move from VACOLS location 38 (Awaiting Video Hearing) and VACOLS Location 36 (Awaiting CO Hearing) to VACOLS Location 81 (Case Storage). If co-located VSO or DAV, then Legacy cases move to VACOLS location 55 (Veteran Service Organization).

[2019-04-19 15:25] aroltsch opened #10490 "Combine our development and test FACOLS containers into one container."
AC:
Combine our development and test FACOLS containers into one container. i.e. have two schemas within the database. I think this will reduce the overhead we experience running two containers.

[2019-04-19 15:49] lowellrex commented on #10002
Noting here that #10304 is likely a result of the existing tasks being in a bad state, so we should check to see if that ticket is resolved by the cleanup in this ticket.

[2019-04-19 16:54] lowellrex commented on #8731
SMALL. See a similar change we made in #8944 for reference.

[2019-04-19 17:15] lowellrex commented on #10432
Looks like some of these folks are not identified as members of the VLJ support staff in VACOLS so [`ApplicationController.case_search_home_page` returns true](https://github.com/department-of-veterans-affairs/caseflow/blob/870e4c4c3c2ca523643d0e68c9f6377f4c7e3801/app/controllers/application_controller.rb#L190).

[code]

We can attack this a few different ways. The quickest would be to have somebo

[2019-04-19 17:29] Sjones352 commented on #9795
@leikkisa please provide validation instructions

[2019-04-19 18:06] Sjones352 commented on #9989
** Passes UAT**
<img width="1196" alt="Screen Shot 2019-04-19 at 2 05 51 PM" src="https://user-images.githubusercontent.com/23080951/56437150-5915ab00-62ac-11e9-8b81-368d39e7483a.png">

[2019-04-19 18:07] #9989 closed

[2019-04-19 18:20] lowellrex commented on #9527
Attempted to get BGS information with the Hennings' other CSS ID (and station 101) and the request failed as well.

[code]

@laurjpeterson In order to confirm our assumptions about how to proceed we will need the CSS ID and station IDs of folks who will be using this new private attorney Caseflow access when we roll it out.

[2019-04-19 18:44] Sjones352 commented on #10442
**Passes UAT user does not have address**

**Non-comp**
![Screen Shot 2019-04-19 at 2.33.07 PM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/6f7decc4-25fd-4434-afea-86fa8154860a)

**Appeal**
![Screen Shot 2019-04-19 at 2.39.56 PM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/83d5d8da-e15a-47b7-8c05-b59de55bbafc)

[2019-04-19 18:44] #10442 closed

[2019-04-19 18:45] #10339 closed

[2019-04-19 18:57] nicholasholtz commented on #9527
i don't think he would be station 101

[2019-04-19 19:42] Sjones352 commented on #10187
**Passes Uat**
The request issue does not register as a rating issue but  a nonrating issue.

![Screen Shot 2019-04-19 at 3.38.17 PM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/05c7df4f-be7c-4b7b-82a7-4d6b571251ff)
![Screen Shot 2019-04-19 at 3.40.13 PM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/ca7ec73f-f0d5-4d1a-890b-189f26f0d0ac)

[2019-04-19 19:43] #10187 closed

[2019-04-19 23:14] tomas-nava commented on #10476
All the dates in the support tickets have been fixed; we can close this issue when #10475 is merged.

[2019-04-20 00:05] #10404 closed

[2019-04-20 18:08] kevmo commented on #10470
Good tech spec & follow-up questions. I agree with the granular introduction of the feature (feature flags & doing it for VLJ staff and VSOs first).

Re queston #2 of Anya's -- do most queues contain legacy tasks (which would bar users from getting benefit of pagination if we won't implement for queues that contain them)?

[2019-04-21 05:25] #10408 closed

[2019-04-22 12:16] aroltsch commented on #9741
@lowellrex, does this happen for new_documents endpoint only? We don't have this endpoint anymore.

[2019-04-22 12:49] lowellrex commented on #7556
## Primavera sprint (22 Apr-5 May) engineering priorities

@kevmo @lomky, below are tickets that we will be working on related to this sprint's [higher-level priorities](https://dsva.slack.com/archives/C54QCEHAL/p1554306905023400).

### 1. Queue table view
1. Exclude TrackVeteranTasks from Appeal.assigned_to_location determination #10368
1. ⭐ Pass columns to display in queue table view from back-e

[2019-04-22 13:09] lowellrex commented on #9741
Yup! It looks like [we haven't seen this error](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/?query=ClientRequestError&statsPeriod=14d) since we got rid of this endpoint so I'm going to go ahead and close out this ticket.

[2019-04-22 13:09] #9741 closed

[2019-04-22 13:41] lowellrex commented on #10470
Attorneys and Judges are the only folks whose [queues contain legacy tasks](https://github.com/department-of-veterans-affairs/caseflow/blob/43f867c45c01349bef50d0d691d5043b67803626/client/app/queue/QueueLoadingScreen.jsx#L39). We expect these queues to have very few cases so they should load relatively quickly and would not benefit from pagination much as a result. After we have deprecated DAS (an

[2019-04-22 14:29] laurjpeterson commented on #9527
@lowellrex - can you try station 304 for Bradley Hennings? It looks like this is his station, given this screenshot of CSEM access

![image](https://user-images.githubusercontent.com/27704093/56505397-9155fd00-64e9-11e9-8de2-0b6faa7e9ea3.png)

[2019-04-22 15:00] #10287 closed

[2019-04-22 15:06] pkarman opened #10493 "evaluate alerts in slack"
These channels have lots of alerts that appear to be ignored:

* [ ] #appeals-intake-alerts
* [ ] #appeals-efolder
* [ ] #appeals-reader
* [ ] #appeals-dispatch
* [ ] #appeals-dep-status
* [ ] #appeals-certification
* [ ] #appeals-demo
* [ ] #appeals-idt
* [ ] #appeals-hearings
* [ ] #appeals-queue

We should audit and:

* filter out alerts that are not actionable
* re-route any alerts that deserv

[2019-04-22 15:54] Chingujo commented on #9885
Closing test back fills

[2019-04-22 15:54] #9885 closed

[2019-04-22 16:15] pkarman commented on #9795
Validation instructions:

* identify a Veteran in UAT with duplicate phone number records. IIRC Colin was researching this.
* attempt an Intake for that Veteran
* confirm the special phone number error message
* resolve the duplicate phone numbers in UAT
* immediately try the Intake again in UAT. The error message should not appear.

[2019-04-22 16:16] #10481 closed

[2019-04-22 17:32] laurjpeterson commented on #10288
Reader gets receipt date from VBMS

[2019-04-22 18:51] pkarman opened #10497 "Duplicate phone number error"
When we encounter an error checking a Veteran `can_access` via BGS, present this error message:

See https://github.com/department-of-veterans-affairs/appeals-support/issues/5002#issuecomment-485503076

Depends on #10437

[2019-04-22 19:29] pkarman commented on #10087
More of these:

* [ ] Supplemental Claim 1484
* [ ] Supplemental Claim 5754
* [ ] Higher Level Review 2208

We should see if another EP was created to work around in the meantime, and either way, cancel these async jobs. TBD how best to contact the relevant users.

[2019-04-22 21:38] lowellrex commented on #9527
@laurjpeterson Do we expect multiple attorneys from a single firm to access Caseflow? For example, Hennings is an attorney at CCK, do we expect that he will be the only attorney from CCK to use Caseflow?

Also, since private attorneys and the firms they belong to have different BSG participant IDs (confirmed with the example above), do we have an example appeal ID for an appeal that has elected to

[2019-04-22 22:35] leikkisa opened #10502 "Filenumber does not exist"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3894/events/308951/

File Number does not exist within the system, with FindDocumentVersionReference call.

I looked up one of these Veterans in BGS, and a record was returned.  I think it was trying to rescue this from VBMS::HTTPError, but that wasn't the error class anymore.

[2019-04-23 00:22] monfresh commented on #8942
Closing this as a duplicate of #8752

[2019-04-23 00:22] #8942 closed

[2019-04-23 02:30] #10476 closed

[2019-04-23 14:07] pkarman commented on #10087
Assigned the EPE of each affected claim to user BVAMBRASWELL and was able to establish that way.

[2019-04-23 14:20] pkarman commented on #10087
According to Nate Carlson, BGS may have a service that can correlate whether user and veteran share a RO.

[2019-04-23 15:02] Chingujo opened #10504 "Increasing number of corrupted files in eFolder Express"
### Context
We have been getting increased reports of corrupted files and downloads in eFolder Express. There can be a few reasons for this corruption:

- Large file sizes
- Access levels
- Tiff files (fillable pdf issues)
- Windows vs mac (mostly Windows but there is a known issue where windows zipping can be the cause)

### For support issues:
Please work with the user to gather the above inform

[2019-04-23 15:13] lomaxap opened #10505 "Response Undefined in Worksheet Request Error"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3000/

`Cannot ready property 'body' of undefined`

in [/client/hearings/reducers/index](https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/app/hearings/reducers/index.js#L124)
[code]

`action.payload.err.response` is undefined

[2019-04-23 15:44] #8654 closed

[2019-04-23 15:45] #8650 closed

[2019-04-23 15:52] #10410 closed

[2019-04-23 16:14] hschallhorn commented on #9136
🎉 https://dsva.slack.com/archives/C6E41RE92/p1556035834023600

[2019-04-23 16:55] #10214 closed

[2019-04-23 17:22] monfresh commented on #8752
The hang can usually be reproduced after making a change to a Ruby file, then attempting to reload the browser page. I believe I've seen this happen more often when changing a model, for example, LegacyAppeal (such as adding a `puts` statement), and then reloading an Attorney's queue page.

I believe this is due to threading in Puma and the many simultaneous requests the frontend makes. I am unabl

[2019-04-23 17:32] #9453 closed

[2019-04-23 17:37] monfresh commented on #8752
Some of the posts above also suggest disabling the `wrap_parameters` initializer. Setting `format` to an empty array seems to solve the hanging issue as well, even with 5 threads:
[code]
`params_wrapper` appears in the stack trace when the hang is reproduced.

I'm not sure what the consequences are for not using parameter wrapping for JSON.

[2019-04-23 18:36] leikkisa commented on #9784
https://dsva.slack.com/archives/CFBLH2LR4/p1553271436099900

[2019-04-23 19:27] lowellrex commented on #10002
Example of a task where we've gotten into a bad state with Privacy assigning to VLJ support staff instead of marking the task complete:
[code]

[2019-04-23 19:46] lowellrex commented on #10002
Has anybody used the "Assign to team" option to assign GenericTasks to teams other than PrivacyTeam?

[code]

Let's just get rid of the "Assign to team" option from `GenericTask.available_actions` because it doesn't look like anybody is using it.

[2019-04-23 20:43] monfresh commented on #8752
Reading about [parameter wrapping](https://api.rubyonrails.org/v5.2.3/classes/ActionController/ParamsWrapper.html), it seems to be a convenience for POSTing with less verbose parameters. The tests are all passing with parameter wrapping disabled, so it doesn't appear we are using it. It's possible other consumers of our APIs depend on it being enabled, but that would surprise me. We should double

[2019-04-23 21:10] leikkisa opened #10511 "Ability to intake decision reviews with missing ratings/issues"
## Background
When a claims assistant is intaking an AMA claim for rating issues, Caseflow present a list of past rating issues to the user to select from.  Caseflow first fetches a list of the veteran's promulgated rating profiles, and then fetches the list of issues on each rating profile.  The issues indicate which issues changed from the previous rating profile (disabilities that were "at issu

[2019-04-23 21:53] tomas-nava opened #10513 "bug: submitting multiple hearing admin action tasks of different types creates multiple tasks of the same type"
## Reproduce
Select the **Add admin action** action on a schedule hearing task and submit multiple tasks of different types via the "+ Add another action" button. The banner will report the expected results (two tasks of different types created) but the snapshot will show what actually happened: two tasks with the same type (the first selected in the form) were created. The bug can also be seen by

[2019-04-23 23:15] leikkisa opened #10514 "Fix nonrating category scrollbar"
In the nonrating issues modal, users are experiencing issues with selecting a category using the scrollbar, they are unable to scroll down (it resets and goes back to the top).

This is being seen in Internet Explorer, which in this case was the default browser used to open up the Edit Page from VBMS.

I'm separating this from the below issue since the scrolling issue described is different, and a

[2019-04-23 23:25] Sjones352 commented on #9946
Looked through the alert slack messages since April  17th and I see no errors so closing the issue.

[2019-04-23 23:25] #9946 closed

[2019-04-23 23:35] leikkisa commented on #9623
I _think_ this one might work: 700032068

[2019-04-23 23:40] leikkisa commented on #9623
If it does work, here's a script to help find more in the future:
[code]

And we'd change the .last(100) part as needed.  I only got 5 out of the 100:
["700032068", "700032068", "700034543", "700060390", "700060392"]

[2019-04-23 23:45] leikkisa commented on #9643
The fix was put in 12 days ago, and the last time we saw this error was in Sentry 13 days ago, so I'm going to consider this validated.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4598/events/300668/

[2019-04-23 23:45] #9643 closed

[2019-04-23 23:46] leikkisa commented on #9794
Considering this validated, the last instance of the invalid claim date error was one day before the fix.

[2019-04-23 23:46] #9794 closed

[2019-04-23 23:48] #9972 closed

[2019-04-24 00:10] Sjones352 commented on #9623
First aRAMP Election Opt-in for a Veteran created

<img width="1287" alt="Screen Shot 2019-04-23 at 8 05 47 PM" src="https://user-images.githubusercontent.com/23080951/56623700-5ba53700-6603-11e9-889f-850e809e642b.png">

[2019-04-24 00:57] pkarman opened #10516 "all the flakey tests"
* [x] https://circleci.com/gh/department-of-veterans-affairs/caseflow/59562
* [x] https://circleci.com/gh/department-of-veterans-affairs/caseflow/59503
* [x] https://circleci.com/gh/department-of-veterans-affairs/caseflow/59751
       https://circleci.com/gh/department-of-veterans-affairs/caseflow/64594
* [x] https://circleci.com/gh/department-of-veterans-affairs/caseflow/59776
* [x] https://circl

[2019-04-24 01:11] leikkisa commented on #10173
Colin says that he does not have the ability to do this.

[2019-04-24 01:16] leikkisa commented on #10093
Closing in favor of: https://github.com/department-of-veterans-affairs/caseflow/issues/10516

[2019-04-24 01:16] #10093 closed

[2019-04-24 12:38] marvokdolor-gov commented on #8547
Answers from Josh to the questions posed above:

[2019-04-24 14:19] #10513 closed

[2019-04-24 14:40] allyceh commented on #8547
![IMG_4545](https://user-images.githubusercontent.com/40216950/56668307-4c62cf80-667d-11e9-9f8d-d9ec57f0338d.jpg)

Discussion about judges/attorneys working motion to vacate.

[2019-04-24 15:22] lomaxap opened #10519 "Allow System Admin Role to see Full Schedule in Hearing Schedule"
We're currently limiting system admins to the same view as `Hearing Prep` users on the hearing schedule list. System admin should have the full view.

[2019-04-24 15:35] #10451 closed

[2019-04-24 15:43] pkarman opened #10521 "Document User authorization patterns"
There are multiple ways we authorize users.

* CSUM functions https://github.com/department-of-veterans-affairs/appeals-deployment/blob/master/ansible/vars/functions-config.yml
* User roles

Create a `docs/user-authorization.md` document describing how/why both patterns exist and the proper one to choose for a particular use case.

[2019-04-24 16:07] ShellySmithDSVA opened #10522 "Bug: Null hearing dispositions are showing up in the Schedule Veterans List"
Some null dispositions after the hearing day has passed are showing up in the Schedule Veterans list without the blocking Change Disposition task. These appeals are also not showing up in the Team Queue to be worked.

There is a Schedule Veteran task and when you try to schedule, it does block you from doing so, instead of the modal appearing, there's a banner at the top of schedule Veteran that s

[2019-04-24 17:39] pkarman opened #10523 "RAMP intake referring to wrong user"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3276/events/309792/

For intake 153482 the user is `AMCMAWIL` but the EPE refers to user `AMCAFERG` who is no longer active.

Seems like whatever is associating the Intake with (maybe an existing?) EPE needs to coordinate the `user_id`.

[2019-04-24 18:36] laurjpeterson commented on #9527
We expect multiple attorneys that work for CCK to have access to Caseflow.

But, let's say Brad Hennings represents Joe Snuffy, and Anthony Attorney represents Jane Duffy. Both Brad Hennings and Anthony Attorney work for CCK.

Brad Hennings should NOT see Jane Duffy's data.
Anthony Attorney should NOT see Joe Snuffy's data.

-----

Will get back to you on an appeal for this.

[2019-04-24 18:38] lomaxap opened #10526 "Prevent Postponed Hearings Notes from Being Editable on Schedule Daily Docket"
The notes field should not be editable when the hearing is postponed, and the save button should never appear https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4753/

[2019-04-24 18:57] leikkisa commented on #10358
Putting a note here - will this cause issues if the establishment is still processing and a user attempts to edit their intake?

[2019-04-24 19:11] leikkisa opened #10529 "Processed in Caseflow Edit confirmation"
When a Decision Review that is processed in Caseflow is edited, the user gets redirected to another page with a flash confirmation.  Currently, this is happening when the entire review has been removed or withdrawn.

This ticket is to add the scenario where the review is edited, but the entire review hasn't been removed of withdrawn.  For example, it could remove one issue and withdraw another, or

[2019-04-24 19:18] youngfreezyVA opened #10530 "If an error occurs in `AppealDocumentCount` in the `CaseDetailsView` component, the error shows up within the link"
If an error occurs in `AppealDocumentCount` in the `CaseDetailsView` component, this is how the error currently shows up:
![image (1)](https://user-images.githubusercontent.com/46791771/56687361-15ec7b00-66a4-11e9-80c5-c4c6971cefdb.png)
With "Bad Error" being the error.

We can change the `CaseDetailsView` component to pass down `docCountBelowLink` to the `ReaderLink` component instead of `docCoun

[2019-04-24 19:21] MeredithStewart commented on #9403
Super users for this should be: Denese Flemmings (Yolanda Flemmings), Sal Ambriz, Ryan Saunders, Tamisha Gray, Lori Christian.

[2019-04-24 19:24] lowellrex commented on #9527
Perfect! Thank you @laurjpeterson

[2019-04-24 19:39] leikkisa opened #10533 "Reader Annotation Actions - response is undefined"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3016/events/309951/

[2019-04-24 20:04] lowellrex commented on #10216
Closing this issue as it will be resolved by #10518.

[2019-04-24 20:04] #10216 closed

[2019-04-24 20:18] Sjones352 commented on #9795
Asked Colin to create me a veteran with duplicate phone number.

[2019-04-24 20:25] #8752 closed

[2019-04-24 20:43] leikkisa commented on #10203
Script for finding these:
```drs=HigherLevelReview.where.not(establishment_error: nil).select{|dr| dr.establishment_error.include?("Incident")} + SupplementalClaim.where.not(establishment_error: nil).select{|dr| dr.establishment_error.include?("Incident")}.map(&:veteran_file_number)```

[2019-04-24 20:58] leikkisa commented on #10109
We have confirmed how this is happening.

Closing - A new ticket has been made for this:
https://github.com/department-of-veterans-affairs/caseflow/issues/9784

[2019-04-24 20:58] #10109 closed

[2019-04-24 21:04] leikkisa commented on #10148
It looks like we haven't seen this error in a while for RAMP, and we've made some other changes to this code, so I'm going to close this, and we can re-open if it comes up again.

[2019-04-24 21:04] #10148 closed

[2019-04-24 21:05] leikkisa commented on #9072
@carolaponce Do we know if Rachel has confirmed the address?

[2019-04-24 21:12] carolaponce commented on #9072
Yes she did.  Finally getting back to confirm that the 425 I Street address (not the PO box) should be used for paper files. And they should be sent to the attention of Case Review and Evaluation Branch

We can change the address info to:
421 I St NW Washington, DC 20001
Attention: Case Review and Evaluation Branch

[2019-04-24 21:15] leikkisa opened #10536 "Add Github integration to Sentry"
We would like to be able to create or link Github issues for Sentry alerts.

![Screen Shot 2019-04-24 at 12.40.54 PM.png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/932bbf64-3c0e-46d0-b4ec-6cd9fa01460e)

![Screen Shot 2019-04-24 at 12.41.21 PM.png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/4c3e54b5-e2e2-47c0-ad13-77b3298d6a71)

[2019-04-24 21:26] pkarman commented on #10070
Validation steps:

* identify a locked rating in UAT
* attempt to edit an existing Claim for the affected veteran
* should receive an error message asking you to try again in 24 hours.

[2019-04-24 21:30] pkarman commented on #10233
Validation steps:

* On the jobs page, pick one of the oldest jobs. Hover over the "Restart" button to find out its ID value.
* Via the Rails console, find the record and call the `.canceled!` method on it.
* Reload the jobs page and verify the job no longer appears there.

[2019-04-24 21:31] #10200 closed

[2019-04-24 22:12] pkarman opened #10538 "move GH status integrations to appeals-app-alerts channel"
They are currently in the #appeals-engineering channel.

https://dsva.slack.com/archives/CHX8FMP28/p1556134337011800

[2019-04-24 23:00] carolaponce commented on #10358
@leikkisa I am not sure, does that mean multiple EPs can be created?

[2019-04-25 00:24] carolaponce commented on #10358
I had a conversation with @shanear about this user need a while back.  A better experience would be if we can provide users a dashboard of their intakes and give them time to make updates before the reviews are processed.  We can further discuss this.

[2019-04-25 00:29] leikkisa commented on #10374
Closing, this must have been a dupe, but this is done now.

[2019-04-25 00:29] #10374 closed

[2019-04-25 00:36] leikkisa commented on #10472
It sounds like LP is going to clean these up in prod (we turned on the remove and withdraw feature toggles for her), but I'm going to keep this open as a reminder to double check the instances of this.

[2019-04-25 01:13] shanear commented on #10145
I spoke with Jane about this this morning and she said most of these are claims that had decisions, but were incorrectly cleared, because the RAMP process was to clear the EP and manually create the 040. Because this will cause a good amount of data corruption, She and I both believe we should attempt too backfill them.

[2019-04-25 11:23] nemodjuric opened #10541 "Catch BGS transient errors"
We already catch some of the transient errors but in different context (see https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/exceptions/bgs_sync_error.rb)
We should catch it and make them transient.
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4751/
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3936/
https://sentry.ds.v

[2019-04-25 13:33] laurjpeterson opened #10542 "Customer Effort Score v1 (Survey via email)"
## Background
Every month, the team needs to report metrics about Caseflow for OIT and OMB. One of these metrics has to look at "customer satisfaction." OIT proposed the following: "Average System Usability Scale (SUS) score of all systems in the investment that are currently in the target architecture." This would be reported annually. If you're not familiar (I wasn't): https://www.usability.gov/

[2019-04-25 13:41] msj0nes commented on #10504
# Issue Folder

https://efolder.cf.ds.va.gov/downloads/420989

[2019-04-25 14:24] Sjones352 commented on #9795
This is going to be a hard one to validate as VBMS does not create Veteran with phone number records. @leikkisa do you know anyone at BGS who might be able help us?
<img width="282" alt="Screen Shot 2019-04-25 at 10 21 18 AM" src="https://user-images.githubusercontent.com/23080951/56743246-3bc95c80-6744-11e9-8d3b-072117a8bd54.png">

[2019-04-25 14:59] allyceh commented on #8547
If we go the "overwrite" route (aka, judges editing or overwriting BVA decision issues when they want to vacate all or part of a decision, here is a prototype I put together yesterday to represent that flow: https://va-gov.invisionapp.com/share/63RPUKL28UP

It leverages existing designs we have for AMA issues.

[2019-04-25 15:05] #10519 closed

[2019-04-25 16:19] laurjpeterson commented on #9704
@lowellrex @marvokdolor-gov - FYI, the ideas I laid out above don't seem to work as is...yet!

I was trying to see if an SCC could assign/reassign cases for her judge.

I impersonated a judge, added her senior counsel (SSC) to her team, and made that SSC a team admin. The SSC shared her screen with me, and she could not navigate to her judge's queue, so could not assign her judge's cases to anyone

[2019-04-25 17:02] leikkisa commented on #9795
@Sjones352 I think we should validate in prod with our users. I asked someone about that, and they're getting an error trying to update the Veteran's phone numbers in VBMS, so we probably can't validate this anyway until that issue is fixed.

[2019-04-25 17:09] laurjpeterson opened #10546 "Do not show removed reviews in search results/case list"
When a user has removed all issues from an appeal/HLR/SC and removed the review entirely, we should not show the appeal/HLR/SC in Caseflow's search results, so we don't confuse users that the appeal is still relevant.

## AC
- Removed appeals/HLRs/SCs do not show in Caseflow search results (or Caseflow case list)

[2019-04-25 17:12] laurjpeterson opened #10547 "Remove VLJ and attorney names from case title for removed appeals"
When appeals have been removed, also remove attorney and judge names from the case title, to prevent confusion about this appeal.

Here is the case title:
![image](https://user-images.githubusercontent.com/32683958/49970117-5834cd00-fef8-11e8-92c8-9974be445a56.png)

[2019-04-25 17:21] laurjpeterson commented on #9527
So I got an appeal from Brad, but the POA listed in Caseflow looks like Chisolm the organization rather than Brad himself. https://appeals.cf.ds.va.gov/queue/appeals/3880485

[2019-04-25 17:21] lowellrex commented on #9704
Correct. We will need to do some additional development work to make this work, but it shouldn't be all that intensive.

[2019-04-25 17:30] leikkisa opened #10548 "Remove "Edit in Caseflow" button for non-editable claims"
VBMS will be implementing this. I am putting a ticket here to also track it and confirm when it is completed.  It sounds like it is planned for the 18.1 release.

VBMS will stop showing the "Edit in Caseflow" button for the follow End Product Codes:
##### Board grants
030BGR
030BGRNR
030BGRPMC
030BGNRPMC

##### DTA
040BDER
040BDENR
040HDER
040HDENR
040BDERPMC
040BDENRPMC
040HDERPMC
040HDENRPMC

[2019-04-25 17:30] pkarman commented on #10547
is this the same thing as closing all the tasks? I assume that's where the names derive.

[2019-04-25 17:31] laurjpeterson commented on #10547
It seems like the tasks are being canceled as it's been implemented today (like the JudgeAssignTask or JudgeDecisionReviewTask or AttorneyTask), but the judge and attorney names in case title aren't.

I did remove all issues and then the entire appeal, and confirmed that the case no longer showed in the Judge or Attorney's queue.

[2019-04-25 17:34] laurjpeterson commented on #9704
Got it. Here's what I think we need from the user's perspective:

As a team admin, I can navigate to my judge's `Assign Cases` view, so I can either (1) assign cases to attorneys on my judge's team (2) reassign cases from one attorney to another on my judges team and (3) request cases on behalf of my judge.

Shall I create another gh issue for this? Or, can you let me know if this should be multip

[2019-04-25 17:34] lowellrex commented on #9704
Another github issue would be perfect! Thanks LP!

[2019-04-25 17:46] leikkisa opened #10550 "Change legacy opt in radio button copy"
Change the copy for the legacy opt in "Yes" radio button.

Did they agree to withdraw their issues from the legacy system?
- N/A
- Yes (SOC/SSOC Opt-in)

[2019-04-25 17:46] laurjpeterson opened #10551 "Write tech spec to allow DVC & their Administrative Assistants to view and action on that DVC's work"
As a team admin, I can navigate to my judge's Assign Cases view, so I can either (1) assign cases to attorneys on my judge's team (2) reassign cases from one attorney to another on my judges team and (3) request cases on behalf of my judge.

The primary use case for this right now is DVC Admins being part of DVC judge teams.

## AC
- Team admins have the option to `Switch views` to their judge's A

[2019-04-25 17:47] laurjpeterson commented on #9704
Closing this issue because the discussion/exploration is done. Dev work will happen here: https://github.com/department-of-veterans-affairs/caseflow/issues/10551

[2019-04-25 17:47] #9704 closed

[2019-04-25 17:49] leikkisa commented on #10089
I am not sure when this happens, because it doesn't happen when we create the contention, or fetch the contention, at least not in UAT.  I will look for specific examples of this in Prod next.

[2019-04-25 17:51] lowellrex commented on #10551
Note: We need to make sure that there is still only one judge per judge team and that we can identify who that judge is by calling `JudgeTeam.find().judge`

[2019-04-25 17:54] laurjpeterson commented on #3865
I think this is done - because I was given Global Admin and can impersonate users! Closing.

[2019-04-25 17:54] #3865 closed

[2019-04-25 17:57] pkarman commented on #10550
see #10544

[2019-04-25 17:57] #10550 closed

[2019-04-25 17:58] laurjpeterson commented on #8636
@msj0nes - do you know the station IDs for the above users? I tried to impersonate them with Station 101 and it did not work.

[2019-04-25 17:59] pkarman commented on #10089
If you look for contentions with the description `UNIDENTIFIED ISSUE - Please click` that's the clue.

[2019-04-25 18:00] laurjpeterson opened #10553 "Manually delete erroneously docketed appeals"
[Delete Caseflow Appeal Stream list (1).docx](https://github.com/department-of-veterans-affairs/caseflow/files/3118235/Delete.Caseflow.Appeal.Stream.list.1.docx)

[2019-04-25 18:01] leikkisa commented on #9769
@carolaponce Did you mean to close this issue (based on that last comment?)

[2019-04-25 18:11] msj0nes commented on #8636
@laurjpeterson added

[2019-04-25 18:20] pkarman commented on #10089
try contention 88716695 in prod

[2019-04-25 18:23] tomas-nava opened #10554 "Caseflow::Error::DuplicateOrgTask on duplicate ChangeHearingDispositionTasks"
[Sentry issue](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4673/events/)

The HearingDispositionChangeJob [is pulling in `ChangeHearingDispositionTask`s as well as `DispositionTask`s when collecting tasks to act on](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/jobs/hearing_disposition_change_job.rb#L18); it should only pull in `DispositionT

[2019-04-25 18:58] MeredithStewart commented on #10522
We looked, but couldn't find another appeal doing the same thing. Tamisha apparently reported this in a support ticket already.

[2019-04-25 19:15] MeredithStewart opened #10555 "Optimize print so the Hearing Prep Worksheet doesn't cut off issues"
User story: As a Judge, I need to be able to print the Hearing worksheets as a back up if Caseflow is unavailable so that I am prepared for a hearing if the system goes down.

Background: Currently, the worksheets print and cut off hearing notes and issues so that it pushes to another page in an disorganized way, needs a cleaner page break.

Example page: https://appeals.cf.ds.va.gov/hearings/6441

[2019-04-25 19:17] pkarman commented on #10089
e.g. https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4669/events/310224/

[2019-04-25 19:26] MeredithStewart opened #10556 "Bug: Judge can postpone from case details"
Judge shouldn't be able to postpone from Case details -- with options. They should only be able to postpone from the daily docket.

This Veteran: https://appeals.cf.ds.va.gov/queue/appeals/cb64e0f5-2d57-4466-8ae5-14f11e3e6ce6

Logged in as judge, they have ability to postpone from Case Details (which only the hearing branch should be able to do).

[2019-04-25 19:27] MeredithStewart commented on #10556
Confirmed, second judge also has these options.

[2019-04-25 19:30] ShellySmithDSVA commented on #10556
Logged in as a judge, and have Postpone options in case details for case. https://appeals.cf.ds.va.gov/queue/appeals/3691667

[2019-04-25 19:46] lomaxap opened #10557 "BUG: Prepped checkbox on Hearings Worksheet returns 400 error when Posting"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4759/

[2019-04-25 20:15] #10354 closed

[2019-04-25 20:16] ShellySmithDSVA opened #10558 "Bug: Incorrect Banners on Hearing Prep Schedule/Daily Docket"
Currently there are 2 banners that display for judges when they log into Hearing Prep. The following banner is displayed on the schedule view:

![Screen Shot 2019-04-25 at 4 18 24 PM](https://user-images.githubusercontent.com/45463980/56765920-2ec56100-6776-11e9-8975-a0f7b09bb958.png)

And the following banner is displayed on the Daily Docket:

![Screen Shot 2019-04-25 at 4 22 18 PM](https://user-

[2019-04-25 20:56] lowellrex commented on #10049
Started a branch for some progress on this PR: [`10049/wip_pull_tab_configs_out`](https://github.com/department-of-veterans-affairs/caseflow/tree/10049/wip_pull_tab_configs_out)

[2019-04-25 20:58] leikkisa opened #10560 "Veteran relationships failing when the Veteran is missing a POA"
For support ticket:
https://github.com/department-of-veterans-affairs/appeals-support/issues/5085

Sentry error:
Legacy POA for vet not found on Corporate Database. The POA data was not stored on the Corporate Database, however, the rest of the transaction was stored on the Corporate Database
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4757/events/310372/

The relations

[2019-04-25 21:16] ShellySmithDSVA opened #10561 "Bug: Judge View Hearing Schedule & Daily Docket Errors"
The implementation of the new Judge view of the Daily Docket has several errors:

- [ ] Legacy hearings no longer have the Hold Open option. This should be added back to Legacy hearings.
- [ ] Legacy hearings have an AOD reason option. This should be removed and only apply to AMA hearings.
- [ ] The switch to old view banner should be on the schedule page rather than the Daily Docket pages.

Pleas

[2019-04-25 21:40] ShellySmithDSVA commented on #10558
Screenshots from the mocks:

![Screen Shot 2019-04-25 at 5 39 10 PM](https://user-images.githubusercontent.com/45463980/56770109-2292d100-6781-11e9-89cc-bd4e70de8c07.png)

![Screen Shot 2019-04-25 at 5 39 23 PM](https://user-images.githubusercontent.com/45463980/56770126-2a527580-6781-11e9-95d0-ebd55c76305f.png)

[2019-04-25 21:41] ShellySmithDSVA commented on #10561
Here is the mock for a Legacy hearing
![Screen Shot 2019-04-25 at 5 41 25 PM](https://user-images.githubusercontent.com/45463980/56770239-6ab1f380-6781-11e9-8374-604f432be6c9.png)

[2019-04-25 21:42] MeredithStewart opened #10562 "Allow judges to "Correct Issues" from Case Details when they are assigned a hearing"
User story: A judge needs to be able to correct AMA issues in advance of or on the day of the hearing.

This functionality was not deployed prior to checkout to a Judge. An appeal is assigned to a judge in a hearing, but that's prior to checkout for a decision.

Investigate how easy it is to turn the "correct issues" link on for judges/attorneys when they aren't assigned a task.

## Idea
- When a

[2019-04-25 21:42] ShellySmithDSVA commented on #10561
Switch to old view banner on Schedule page
![Screen Shot 2019-04-25 at 5 39 23 PM](https://user-images.githubusercontent.com/45463980/56770271-84ebd180-6781-11e9-9c3e-793d05ff2852.png)

[2019-04-25 21:44] ShellySmithDSVA commented on #10561
Front end filtering option on schedule view
![Screen Shot 2019-04-25 at 5 43 25 PM](https://user-images.githubusercontent.com/45463980/56770343-b6fd3380-6781-11e9-8bb2-fcbe5bd8de56.png)

[2019-04-25 21:53] ShellySmithDSVA opened #10563 "Filtered Judge View of Hearing Schedule"
Currently, judge view of the hearing schedule is (1) hearing days that are assigned to them, and (2) hearing days with individual hearings that are assigned to them. We could give judges the entire hearing schedule and allow them to filter. But, they wouldn't be able to see their assigned hearings (as opposed to hearing days), so **we think we should do this filtering for them.**

## User Stories

[2019-04-25 21:59] leikkisa commented on #10560
This was a known issue in UAT and happens for a deceased Veteran.  Pinging Nathan Jolly for follow up.

[2019-04-25 22:15] ShellySmithDSVA opened #10564 "Keyboard Responsive Table Filtering"
The default table filters should be keyboard responsive. See the screenshot below for the specific filter example in hearings schedule (`/hearings/schedule`).

![Screen Shot 2019-04-25 at 6 24 01 PM](https://user-images.githubusercontent.com/45463980/56772241-5f61c680-6787-11e9-949d-5cee58496ba4.png)

[2019-04-25 23:00] pkarman opened #10566 "Does VBMS gender value affect can_access? visibility"
See https://github.com/department-of-veterans-affairs/appeals-support/issues/4851

[2019-04-26 13:54] pkarman opened #10569 "Engineering topics for discussion"
A running agenda of things to discuss:

* [x] FACOLS
* [x] Guidelines for when it is okay to ignore GitHub's pre-merge status checks
* [x] Code Climate
* [x] Kibana space recycling automation (https://dsva.slack.com/archives/C2ZAMLK88/p1556580882067200)
* [x] Coding standards (design patterns, naming, etc.)
* [x] Property-based testing
* [x] How to make transitioning to unfamiliar parts of the cod

[2019-04-26 15:05] #10424 closed

[2019-04-26 15:10] pkarman commented on #10497
dupe of #10424

[2019-04-26 15:10] #10497 closed

[2019-04-26 16:27] pkarman opened #10571 "Investigation | Contention cannot be deleted because it is connected to a rating issue"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4669/events/310757/

Exact error message: `contention cannot be deleted because it is connected to a rating issue`

We thought this was fixed by syncing EPs at Claim Review edit time but apparently not. See #10102

[2019-04-26 16:29] lowellrex opened #10572 "Distinguish between reassigned and completed tasks in Case Timeline"
Currently we display all closed tasks with green check marks in the case timeline regardless of whether they were cancelled or completed. When we re-assign a task from one person to another we cancel the original task. This results in the original task being added to the case timeline and suggests that the task was completed when in reality it may not have been (see [a related support issue](https

[2019-04-26 16:29] pkarman opened #10573 "Bad UTF-8 encoding prevents EPE sync"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3943/events/310774/

[2019-04-26 16:32] pkarman opened #10574 "VBMS error on Vet and POA establishment"
[code]

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4403/events/310763/

[2019-04-26 16:33] pkarman commented on #10574
possible dupe of #10560?

[2019-04-26 16:37] lowellrex opened #10575 "Show reassigned ColocatedTasks in AttorneyQueue"
A [recent support ticket](https://github.com/department-of-veterans-affairs/appeals-support/issues/5016) reveals a bug in [the way `AttorneyQueue` selects `ColocatedTask`s](https://github.com/department-of-veterans-affairs/caseflow/blob/6f7f9160e4b9ace479118ce2b6bc37f64d21c2cf/app/models/queues/attorney_queue.rb#L12) to display in the "on hold" tab for attorneys when those `ColocatedTask`s have be

[2019-04-26 16:49] leikkisa commented on #9741
I see that this is closed - I just wanted to add that we provided the Vet's personal information from VACOLS to John Dell at BGS, and they still weren't able to find a record for this Veteran.

[2019-04-26 16:54] pkarman opened #10576 "selectForm fails to detect Intake form type"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4029/events/310783/

Not clear why `formObject` would be null but you can't argue with JS.

[2019-04-26 17:59] lomky commented on #10355
### Caseflow Application Architecture & Local Development Environment setup, Ubuntu

Same local dev setup as above. Same may-be-edited caveat.

#### Issues Encountered:

 - Latest Oracle Instaclient (18_5) not functional. Ended up following [ruby-oci8 gem directions](https://github.com/kubo/ruby-oci8/blob/master/docs/install-instant-client.md) and installed v12.
 - Command `bundle exec rake local:

[2019-04-27 00:04] leikkisa commented on #10560
The previous fix was SR# 842273

This is working in preprod. BGS folks are looking into it.  I'm wondering if the fix didn't get deployed, but there have been many successful CPD claims in Prod, so it might be due to a data problem.

Jinmay Patel at BGS says the fix for this issue (SR# 912452) is going with May Release, but we're still investigating due to the difference between prod and prodtest.

[2019-04-27 00:05] leikkisa commented on #10574
The Veteran is not deceased, and it's not happening on the relationships call, so this seems like a different issue.  The other ticket might be due to data issues though, so that could be affecting this one as well.

[2019-04-27 17:45] #10561 closed

[2019-04-27 17:45] #10526 closed

[2019-04-29 14:19] allyceh commented on #9382
Initial proposal is in Mural and out for feedback. In Mural, search: "Case Timeline Refresh Designs".

[2019-04-29 14:39] ShellySmithDSVA commented on #10319
https://appeals.cf.ds.va.gov/queue/appeals/2850494 is still having an issue.

[2019-04-29 15:03] #10471 closed

[2019-04-29 16:26] pkarman opened #10586 "Intake | Add reminder to use encrypted email for PII when adding claimants"
## Description
When users are doing an intake, if they don't see a dependent claimant, they email VACaseflowIntake@va.gov with a request, which is handled by Jennifer Umberhind.

Users have been sending clear text email with PII (names and file numbers).  So we'd like to add some instructions to remind them to use encrypted email.

## Acceptance criteria
- [ ] Update claimant selection help copy (

[2019-04-29 17:30] MeredithStewart commented on #10116
Tamisha confirmed that this was working.

[2019-04-29 17:49] pkarman commented on #10299
the lack of data doesn't seem to have generated any errors, so I am closing this under the assumption that now that we catch locked ratings and present a UI error, that's good enough.

[2019-04-29 17:49] #10299 closed

[2019-04-29 18:08] ShellySmithDSVA opened #10589 "Date Range Error for VSO Hearing Schedule View"
VACOLS can only handle 1000 hearing days requests, so we should show an error to users if they selected a date range that has more than 1000 hearing days.

## Acceptance Criteria

- [ ] Verify that when over 1000 hearing days are queried the error displays asking the user to limit their date range further.

## Mocks
https://va-gov.invisionapp.com/share/QARRMSMUJDW#/360595099_VSO_Over_1000_Error

!

[2019-04-29 19:06] pkarman opened #10592 "participantPersonId does not match"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3276/events/314254/

throws a missing required data error during RAMP election completion.

[2019-04-29 19:24] lomky commented on #10371
Lucky us, we already do this!

https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/controllers/organizations/users_controller.rb#L11

VSO role orgs can only see other VSO role org users. Marking closed.

[2019-04-29 19:24] #10371 closed

[2019-04-29 19:56] Sjones352 commented on #9623
@leikkisa  I keep getting this error whenever I try this file 700060392 that I had orginally created the first  RAMP Election Opt-in. Do I need to clear the first RAMP I had created and try again?
<img width="1057" alt="Screen Shot 2019-04-29 at 3 53 04 PM" src="https://user-images.githubusercontent.com/23080951/56922729-eb7d3200-6a96-11e9-964c-f0f5294eb1fc.png">

[2019-04-29 20:08] Sjones352 commented on #10444
**Passes UAT**
https://appeals.cf.uat.ds.va.gov/jobs

<img width="1367" alt="Screen Shot 2019-04-29 at 4 05 01 PM" src="https://user-images.githubusercontent.com/23080951/56923473-a823c300-6a98-11e9-9db4-cb035117ce29.png">
<img width="1265" alt="Screen Shot 2019-04-29 at 4 04 43 PM" src="https://user-images.githubusercontent.com/23080951/56923472-a823c300-6a98-11e9-9fed-846f9df281dd.png">

[2019-04-29 20:08] #10444 closed

[2019-04-29 20:40] pkarman opened #10594 "Add Edit Contention Title form"
First step in allowing users to edit contention text.

## Acceptance criteria

* Change the "Add Issues" page title to "Edit Issues"
* In the UI, the title will be edited in place (not in a modal). Add a "Edit contention title" link below each issue on the page
* When the user clicks the "Edit contention title" link a form should appear with the current title text in a textarea field
* The form sh

[2019-04-29 21:32] Sjones352 commented on #9817
<img width="1671" alt="Screen Shot 2019-04-29 at 5 31 56 PM" src="https://user-images.githubusercontent.com/23080951/56928444-d3141400-6aa4-11e9-98bb-4ef4904d88d3.png">

[2019-04-29 21:46] Sjones352 commented on #10233
@pkarman I reloaded the page and the job still exists

![Screen Shot 2019-04-29 at 5.44.47 PM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/c5912230-d56c-4662-bc52-a2d99c077109)

[2019-04-29 21:54] pkarman opened #10596 "New column for edited contention text"
Step 2 of editing request issue title. In Step 1 we added the UI element. In this step, we add the database column and server-side changes.

## Definitions

* "original text" here means the generated title text derived from the contested rating issue description.
* "edited text" here means the user-entered title text

## Acceptance criteria

* When a new request issue description is sent to the se

[2019-04-29 21:57] pkarman opened #10597 "Save edited contention text"
This is Step 3 of editing contention text. In Step 1 we created the UI, in Step 2 the database and server-side code. In this step, we wire them together by enabling the Submit button.

## Definitions

* "original text" here means the generated title text derived from the contested rating issue description.
* "edited text" here means the user-entered title text

## Acceptance criteria

* In the UI,

[2019-04-29 21:57] #9817 closed

[2019-04-29 22:33] Sjones352 commented on #10070
@pkarman I used this file that has a locked rating to validate `984562385` but I never get the error message. Wondering if I am missing something here

[2019-04-30 13:55] lowellrex opened #10601 "Create module for creating root tasks for appeals"
We currently create `RootTask`s using [a series of class methods](https://github.com/department-of-veterans-affairs/caseflow/blob/254b25166796ebd96cccf586ff1bc88b6a6ee470/app/models/tasks/root_task.rb#L44). In order to reduce the size of that file and more cleanly separate concerns, we should move this set of functions into its own module for creating `RootTask`s from an appeal.

## Acceptance cri

[2019-04-30 14:42] lomky commented on #10601
Remove the reek config ignoring this issue as a part of this ticket.

See #10587

[2019-04-30 15:00] #10369 closed

[2019-04-30 15:33] MeredithStewart commented on #10562
Someone should investigate and weigh either doing this for judges through Case details, or just doing this through the Hearing Prep worksheet. We had originally planned (now a backlog ticket) to do this on the worksheet, but had de-prioritized because we thought the correct issues link would be there on Case details for judges for hearings.

[2019-04-30 15:33] monfresh commented on #10255
And again: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4706/

[2019-04-30 15:35] monfresh commented on #10255
@aroltsch Should we try caching the `User.find_by_css_id` method, like you did recently for VACOLS?

[2019-04-30 16:49] aroltsch commented on #10231
Is it for legacy or AMA appeals?

[2019-04-30 17:17] pkarman opened #10607 "Withdrawal date restrictions"
When a user edits a Decision Review and enters a withdrawal date, the date must obey some rules. See full history in #9178

## Acceptance criteria

* [ ] If the date is after today, display the error "We cannot process your request. The Withdrawal date may not be in the future". (Note this error message is different than the mock below.)
* [ ] If the date is before the receipt date (NOD), display