[2019-11-22 16:34] jcq opened #12784 "Upgrade PDFjs"
## Description
We are using an old version of PDFjs (1.10.97, 2+ years old), and it has since undergone a rewrite to fit in better with native ES6 imports

## Technical Notes
The backend creates an endpoint using the pdfjs_viewer-rails gem; ensure that won't be negatively impacted by this change, and upgrade that if possible

## Acceptance Criteria
- [ ] Upgrade to latest pdfjs-dist
- [ ] Adjust i

[2019-11-22 16:45] jcq opened #12785 "Migrate Legacy Mocha Tests to Jest"
## Description
We only have three files being used in "legacy" Mocha tests. Let's migrate these to Jest

## Background/context/resources
The React community has overwhelmingly adopted Jest as the test suite of choice, and we should follow suit. Caseflow currently has a number of frontend tests written using Karma and a few using Mocha.

## Technical notes
Migrating two of the Mocha tests will be f

[2019-11-22 19:06] jcq opened #12786 "Implement <Switch> for Routes"
## Description
Various top-level components have a large number of `react-router` routes (`QueueApp` is a good example). In most cases we use the `exact` prop to ensure that multiple routes don't render at the same time, but due to the way the code is structured, the React component tree gets populated with a whole lot of unused route components. We should wrap most of our route declarations in th

[2019-11-22 19:30] #12216 closed

[2019-11-22 19:30] #12781 closed

[2019-11-22 20:50] pkarman opened #12789 "ETL Sweeper"
Sometimes records are hard deleted from the production database. The ETL sync process should sweep up any corresponding records from the ETL database and delete them. Garbage collection for ETL records.

[2019-11-22 20:55] #12657 closed

[2019-11-22 20:55] #12616 closed

[2019-11-22 23:02] alisan16 opened #12791 "Case was deleted in VACOLS, but Caseflow tasks still exist"
VACOLS allows deletion of appeals but it's limited to certain individuals like the Branch Chiefs.
Also the ROs can delete an appeal if it's still in the NOD stage.

When a case is deleted in VACOLS, the associated colocated Caseflow tasks are not being deleted and still appearing in users' queue, but the user gets an error message when trying to access it. So far, we have manually been looking at

[2019-11-22 23:59] leikkisa opened #12792 "Stop sending decision issue sync alerts to Slack"
## Description
We would like to stop reporting the following Sentry alerts to Slack.

- RequestIssue::NoAssociatedRating
  - https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6648/
- RequestIssue::MissingContentionDisposition
  - https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6647/
- RequestIssue::ErrorCreatingDecisionIssue
  - https://sentry.ds.va.go

[2019-11-23 00:03] leikkisa commented on #11737
Closing this ticket, it was handled in:
https://github.com/department-of-veterans-affairs/caseflow/pull/12277

[2019-11-23 00:03] #11737 closed

[2019-11-23 00:34] leikkisa commented on #11724
@rutvigupta-design Can this issue be closed? I believe the deny/dismiss/withdraw workflow is complete.

[2019-11-23 00:36] leikkisa commented on #12296
@jimruggiero @rutvigupta-design I believe this was closed by
https://github.com/department-of-veterans-affairs/caseflow/pull/12638

The above ticket is for "Complete", which I think is the same in closed this case.

So I think we can close this ticket.

[2019-11-23 00:39] leikkisa commented on #12283
@geronimoramos @rutvigupta-design I think this ticket resolves the concern that Straight Vacate tasks might not come from the mail portal.

I think we need to decide who should be able to create these tasks, and then if we want different actions for the different types of post decision motions, and then another page where they select, or if we want to have a separate action for each post decision

[2019-11-23 00:41] leikkisa commented on #11723
@geronimoramos I think this is done too - so it can probably be closed (woo!)

[2019-11-23 00:44] leikkisa commented on #11720
I think this ticket is dated after the VacateMotionMailTask was created, so I'm not sure if this ticket means there is additional work needed.

However, currently there is an action that mail team members can take to start the motion to vacate flow, so part of me thinks this is complete.

[2019-11-23 00:45] leikkisa commented on #11725
I'm checking if this ticket is still relevant, because I think the latest guidance is that dismissal letters do not need to be sent to dispatch.

[2019-11-23 00:46] leikkisa commented on #11969
Checking if this ticket is still relevant. Pulac-Cerullo reminders have been implemented, but this ticket looks like it may be for additional enhancements on top of that.

[2019-11-23 00:50] leikkisa commented on #11727
I think this is obsolete now that deny/withdrawn don't go to dispatch and can be closed.

[2019-11-23 01:11] leikkisa opened #12793 "MTV - add Straight Vacate option to flow"
## User or job story
As a judge user, I would like to have the option to vacate decision issues without creating new decisions on them.

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: [review_motion_to_vacate]
- [ ] Update copy and code to rename Straight Vacate and Readjudication to Vacate and Readjudication
- [ ] Add a Straight Vacate option to the MTVJudgeDispositi

[2019-11-23 02:00] yoomlam commented on #12666
Used something like the following to get appeal data in json format into a file.
[code]

[2019-11-23 02:03] yoomlam commented on #12666
Ran into some issue for appeal retrieved with `Appeal.offset(30459).limit(1)`.
Appeal id 42788 has docket_type=nil.

[2019-11-23 02:06] yoomlam commented on #12666
30866 total appeals - 1 appeal with nil docket_type - 1 appeal that borked json parsing = 30864 appeals for use in generating documentation.

[2019-11-23 03:29] yoomlam commented on #12666
Install Conda
https://docs.conda.io/projects/conda/en/latest/user-guide/install/macos.html
https://docs.conda.io/en/latest/miniconda.html

Initialize project (environment) from scratch
[code]

Initialize project from environment.yml
[code]

Install JupyterLab using Conda
`conda install -c conda-forge jupyterlab`

Run JupyterLab
`jupyter lab`

[2019-11-23 04:20] yoomlam commented on #12666
Useful for rendering `md` files locally: https://github.com/joeyespo/grip

[2019-11-24 17:07] msj0nes commented on #2023
# Ticket Out of Date

Not enough ticket information to further ticket implementation.

[2019-11-24 17:07] #2023 closed

[2019-11-24 17:09] msj0nes commented on #2065
# Ticket Out of Date

No information within GH ticket.

[2019-11-24 17:09] #2065 closed

[2019-11-25 14:24] lomky opened #12795 "Stop Tasks from being `assign_to_type` `Vso`"
## Description

Tasks should have the `assigned_to_type` value of either `User` or `Organization`, however we discovered a handful assigned to `Vso`.

## Background/context/resources

 - [Slack thread fixing the previously found ones](https://dsva.slack.com/archives/CJL810329/p1574441390035500)

![image (3)](https://user-images.githubusercontent.com/6129479/69548202-e74dc000-0f64-11ea-9afa-9a36c5b

[2019-11-25 14:33] lowellrex commented on #12795
We could alternatively put a constraint on the database to only those two values (`enum(Organization, User)`).

[2019-11-25 15:10] rutvigupta-design commented on #11724
@leikkisa yes this can be closed!

[2019-11-25 15:12] rutvigupta-design commented on #11727
@leikkisa agreed!

[2019-11-25 15:36] lomaxap opened #12797 "Handle Disposition Updating and Saving better"
### Background

We made the decision to only send changed fields in update requests so we could better implement virtual hearings logic that only happens if a field was changed. In order to do this we could have either:

1. stored updated values in a separate state from initial states on update, something like
[code]
2. Store the entire initial state of the hearing and compare the initial value an

[2019-11-25 15:44] #12560 closed

[2019-11-25 15:49] eric-nava commented on #12557
@chandracarney are we okay closing this out? I'd be good closing it out once the findings are enshrined in GH later today

[2019-11-25 16:22] lomaxap opened #12799 "Use Alerting Pattern for HearingDayController and update errors"
#12772 introduced a pattern that assumes that the backend generates what ever user-facing message that shows up after an update fails or succeeds.

We need to update the `hearing_day_controller` to also return `alerts` in the response and also update all `catch` blocks from request errors to use
[code]

[2019-11-25 16:39] lomaxap commented on #12266
is this specifically for VetText @pshahVA ?

[2019-11-25 16:55] pshahVA commented on #12266
I believe the error is stemming from our data, but it was discovered as part of VetText. Currently, we are filtering these out so they will not get a text message.

[2019-11-25 17:15] #12750 closed

[2019-11-25 17:57] lomky opened #12802 "Prevent creation of redundant JudgeDecisionReviewTasks"
## Description
Occasionally when we create the JudgeDecisionReviewTask & its child AttorneyTask, we do this twice. This can lead to confusion on the part of the Attorney and/or Judge this is assigned to, and will have unknown behavior if the Judge pushes through checkout twice.

## Background/context/resources

Tomas has done some research and found that we are doing two distinct POSTs, creating t

[2019-11-25 17:59] kevmo commented on #11607
Eliminating final acceptance criteria - there is already a factory called `task`, and the one unique role that the `generic_task` factory fulfills (it is for AMA appeals, basically, whereas `task` is created with a LegacyAppeal) remains. The need to rename it is nebulous, so: Canceling that criteria, closing ticket.

[2019-11-25 17:59] #11607 closed

[2019-11-25 18:05] jimruggiero commented on #12802
@lomky Can I assume steps to reproduce and perceived severity are included in the Investigation steps that are linked above?

[2019-11-25 18:06] lomky commented on #12802
@jimruggiero no, we have not yet reproduced the issue, only investigated existing appeals with the issue

[2019-11-25 21:08] pkarman opened #12804 "Plan for next 3 reports"
Now that we have ETL infrastructure in place, let's focus on identifying and designing for the next 3 Tableau reports.

## AC

- [x] Identify next 3 Tableau reports
- [x] Obtain existing reporting SQL
- [ ] Define ETL schema changes to support each report

## Artifacts

Attach existing Tableau SQL statements to this ticket, and link to any new schema definitions.

[2019-11-25 21:48] lowellrex commented on #10896
There are no more tasks on hold with the old-style hold! https://caseflow-looker.va.gov/sql/7vrsydq8xs2dd2

[2019-11-25 21:55] pkarman commented on #12404
This turned out to be an ELB config issue.

[2019-11-25 21:55] #12404 closed

[2019-11-25 21:57] pkarman opened #12805 "BGS API endpoint for older rating profile data"
Follow on to #11840

Explore a new BGS API endpoint that may contain the missing rating_issue_id values for these non service connected decisions. This requires some additional infrastructure work in Caseflow in order to allow us to preview this API endpoint with production-like data while it is in development.

[2019-11-25 21:58] pkarman commented on #11840
We have included all the rating decision data possible from the existing BGS API endpoint. Closing this ticket and opened #12805 to reflect the yet-untried new endpoint.

[2019-11-25 21:58] #11840 closed

[2019-11-26 00:15] jcq opened #12808 "Migrate to USWDS 2.X"
## Background/context
Caseflow currently uses version 1.x of the US Web Design System (USWDS) for its basic design system. USWDS 2.0 was released in April 2019, and brings a number of improvements. It also brings quite a few breaking changes, however, which would necessitate updating all of our core UI components.

### USWDS Improvements
- Modern grid system using flexbox

## Goals

## Success cri

[2019-11-26 05:06] #3366 closed

[2019-11-26 05:11] #5595 closed

[2019-11-26 05:12] #5848 closed

[2019-11-26 05:12] #5846 closed

[2019-11-26 05:15] #6005 closed

[2019-11-26 05:16] #5849 closed

[2019-11-26 05:17] #6042 closed

[2019-11-26 06:36] #7455 closed

[2019-11-26 06:56] msj0nes commented on #7053
# Ticket Closure
Closing ticket. No recent reports of this issue from users. If issue re-emerges ticket can be reopened.

[2019-11-26 06:56] #7053 closed

[2019-11-26 13:59] jimruggiero commented on #10210
@msj0nes Apologies, I thought this was a different issue when we were talking the other day. This one is foxtrot.

[2019-11-26 14:28] lomaxap opened #12810 "Data Integrity Check for Legacy Appeals with No Corresponding Vacols Record"
On Legacy Appeals, we will occasionally attempt to access a vacols record that has been deleted (example: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7387/). We should create a DataIntegrity job that finds all legacy appeals with active tasks that do not have vacols records.

[2019-11-26 15:44] pkarman commented on #10586
We should remove vacaseflowintake@va from the bcc list.

[2019-11-26 16:02] pshahVA commented on #12442
closing in favor of #12810

[2019-11-26 16:02] #12442 closed

[2019-11-26 16:11] erluti opened #12812 "API v3 - Implement Issues endpoint"
Implementation the issues endpoint based on the [spec](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/controllers/api/docs/v3/decision_reviews.yaml) and designed in this [issue](https://github.com/department-of-veterans-affairs/caseflow/issues/12194).
This endpoint will return contestable issues that could be used for creating a decision review.

## Description
A "stand

[2019-11-26 17:37] edmangimelli opened #12813 "v3 API - /legacy_appeal_issues spec has incorrect type for description field"
`GET /legacy_appeal_issues` spec has incorrect type for the `description` field (should be an array of strings).

In discussing with @erluti, decided we should also include the `codes` and `labels` fields

[2019-11-26 18:03] rajinderbhanot commented on #12804
Tableau sql
[tableau_attorney_judge_production_report.sql.txt](https://github.com/department-of-veterans-affairs/caseflow/files/3893322/tableau_attorney_judge_production_report.sql.txt)

[2019-11-26 18:18] jimruggiero commented on #9590
Estimated at a 3 in lieu of additional context regarding Anya's suggestion to do this in multiple PR's and not know enough about what's involved with removing these from appeals deployments.

[2019-11-26 18:19] jimruggiero commented on #9590
@Sjones352 Can you provide any additional context to finalize estimation and next steps?

[2019-11-26 20:09] lomky commented on #12644
Making it so the last task other than root task closing _also_ closes the root task has some difficulty.

If we close the root task right now it implies the appeal is dispatched.
If we cancel the root task it implies the appeal was withdrawn.

Until we un-link the status of the appeal from the status of the root task, we are hesitant to make any other task status changes affect the state of the ro

[2019-11-26 20:11] lomky commented on #12644
Closing this in favor of a larger conversation about decoupling the appeal state & root task state.

[2019-11-26 20:11] #12644 closed

[2019-11-26 20:17] lomky commented on #12802
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

**Context**
Could we put a before create hook on JDRT to not allow creation in the case of another existing?
Looker query to find these exists (KAT TODO)

Estimating at 2, scoped to preventing the creations of duplicates and cleaning up existing, rather than trying to track down the root cause.

[2019-11-26 20:25] lomky commented on #12782
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

**Context**
Generally, it is valid to put an Org task on hold, and then we shouldn't hide that org task from the org queue. [Fix goes here](https://github.com/department-of-veterans-affairs/caseflow/blob/fa3b54e647df08d46285755109051c1b183100d7/app/models/queue_tabs/organization_on_hold_tasks_t

[2019-11-26 20:32] lomky commented on #12725
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

**Context**
Currently in data gather mode; analysis and some scriptable changes to follow, possibly spinning off a discussion if results are mixed.

Estimating at 2

[2019-11-26 21:42] pkarman commented on #12644
see #12713

[2019-11-26 21:48] pkarman commented on #10516
- [ ] https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/94569

[code]

[2019-11-26 21:49] jcq opened #12817 "Upgrade React Router to 5.1+"
## Description
React Router 5.1+ brings support for hooks and other improvements. There are no known breaking changes.

## Background/context/resources
We recently upgraded to React Router 5.0.x, but this release has come out since.

[2019-11-26 22:05] #12759 closed

[2019-11-26 23:25] #12817 closed

[2019-11-26 23:56] jcq commented on #12241
### Updated Screenshot
<img width="1063" alt="Screen Shot 2019-11-26 at 15 49 51" src="https://user-images.githubusercontent.com/2581274/69681908-71c91900-1064-11ea-893c-f749abbade6e.png">

[2019-11-27 00:21] #12659 closed

[2019-11-27 14:10] #12339 closed

[2019-11-27 14:10] #12760 closed

[2019-11-27 14:35] yoomlam commented on #12795
Example of need for #12773.

[2019-11-27 19:28] pshahVA commented on #12791
@D-L-Ware do you know the history behind deleting cases from VACOLS.  It seems that simply deleting them causes undesirable effects in Caseflow.  I know that you had mentioned that we probably cannot tell the Board that a blanket statement "do not delete from VACOLS" would not go over well.  Can we think through some alternate strategies where we turn off that feature in VACOLS, but then enable it

[2019-11-27 19:39] alisan16 opened #12824 "Duplicate tasks causing case to return to user's queue"
See discussion here: https://dsva.slack.com/archives/CHX8FMP28/p1574876465434700

Before resolution
[code]

Originally there were two JudgeAssignTasks, one that was cancelled and one that was assigned/being sent to user's queue. Then there were 2 JudgeDecisionReviewTasks created, one that was cancelled that spawned another JudgeAssignTask and one that was actually being acted on. When the active s

[2019-11-27 20:14] pshahVA commented on #12168
@nicholer  for awareness

[2019-11-27 20:15] #10957 closed

[2019-11-27 20:21] pshahVA commented on #8986
@nicholer, I'm going to close this.
no user requirement and not in long term priority.

[2019-11-27 20:21] #8986 closed

[2019-11-27 20:27] pshahVA commented on #12345
@nicholer, we will use your rough draft in the upcoming sprint.   Do you want to attach it here?

[2019-11-27 20:43] pshahVA commented on #12348
@ferristseng, can we please add a screenshot, either in the ticket or the pull request.

[2019-11-27 20:49] pshahVA opened #12825 "Design for create individual virtual hearing docket days"
## User story
As a Hearing Branch team member (with the ability to create the hearing schedule), I need the ability to create and view hearing docket days that are virtual-only.

## Problem statement
We think virtual hearings will need to be represented on the Daily Docket differently from how video and central hearings are represented. The aim is to reinforce to users that they're operating in di

[2019-11-27 20:50] pshahVA commented on #12825
@nicholer , a starting ticket for what we talked about last week.

[2019-11-27 21:05] pshahVA opened #12826 "Design for Board converts unscheduled Travel Board hearing to video or virtual"
## User story
As a Hearing Coordinator, I need to be able to convert the type of an unscheduled Travel Board hearing to virtual or video, so that the hearing can be scheduled in Caseflow.

## Success criteria
From a user experience perspective, these designs will be successful if Board staff can quickly and easily change an unscheduled hearing request to virtual. We'll know the redesign is working

[2019-11-27 21:06] pshahVA commented on #12826
@nicholer , what we talked about this week. Just a rough draft.

[2019-11-27 21:23] jimruggiero commented on #12662
@jcq Would this be Foxtrot or Echo work?

[2019-11-28 00:28] jcq commented on #12793
## Updated Screen Shot
<img width="557" alt="Screen Shot 2019-11-27 at 16 27 24" src="https://user-images.githubusercontent.com/2581274/69767821-e5d1f280-1132-11ea-9e5d-a245a640bb30.png">

[2019-11-28 00:47] jcq commented on #12662
@jimruggiero I labeled it as Foxtrot simply so it didn't get lost. I'd be happy for it to go wherever you think is best.

[2019-11-29 18:49] kevmo commented on #12680
There are 4 teams with 1 member, 25 with 0. Going to mark only those with 0 as `inactive`.

[2019-11-30 16:38] Sjones352 commented on #9590
@jimruggiero this may take a little while because they are multiple feature toggles and tests may need to change. I will look into it further on Monday

[2019-12-02 02:02] yoomlam commented on #12279
Found a few dozen occurrences but many are not relevant:
[code]

After making obvious changes, I'm left with these that I need help with (I think I can ignore files under `db` and `spec`):
[code]

[2019-12-02 13:50] D-L-Ware commented on #12791
I know there has been some discussion, see slack referenced above, of preventing Board user from deleting records but there are many reasons records should be deleted.  Below are some examples.

•The RO processes a NOD twice (easy, this is what most people think of)
•The RO processes the vet’s appeal under both a C number and a SSN.  Happens more with VHA, but still happens in elsewhere.  The info

[2019-12-02 14:06] lomky commented on #7556
## [Operation Crossbow](https://en.wikipedia.org/wiki/Operation_Crossbow) Sprint (Dec 3 - 12)  Engineering Priorities

@hschallhorn @lomky @yoomlam @ajspotts @jimruggiero priorities for this sprint!

### Special Case Movement #11801
1. :five: ⭐️ (KAT) Update Code using JudgeTeam Admin to Determine Judge / Attorney #12422
1. :three: ⭐️ (ALEC) Add Judge & Attorney Selectors to JudgeTeam Team Page #1

[2019-12-02 15:14] ferristseng commented on #12348
@pshahVA added it to the pull request in the description

[2019-12-02 19:00] rubaiyat22 opened #12830 "disable HearingTypeDropdown & DispositionDropdown until async job is completed"
User should not change hearing type or cancel a virtual hearing while the background job is still running. The field `jobCompleted` in `VirtualHearingSerializer` indicates whether or not background job was completed.

[Screen Shot 2019-12-02 at 1.56.08 PM.png](https://images.zenhubusercontent.com/5d518fc3e04e3134e624281f/f4508456-fd53-4a3c-9787-3ed271a00ee2)
[Screen Shot 2019-12-02 at 1.53.44 PM.p

[2019-12-02 19:00] #12813 closed

[2019-12-02 19:18] #12600 closed

[2019-12-02 19:22] nicholer opened #12831 "Email Copy for Virtual Hearing Cancellations and Reminders"
### User story

Do we need different copy if a email is postponed vs. cancelled? (As in: your virtual hearing has been postponed for a later date, you will receive another email later detailing a new hearing date/time).

This ticket addresses the following use cases:
- As a representative/veteran/judge I need an email notifying me that a virtual hearing was cancelled or postponed

### Email conten

[2019-12-02 19:50] leikkisa commented on #12453
We are still getting the same error.

[2019-12-02 20:18] rubaiyat22 opened #12832 "remove success alert on any updates to virtual hearings"
We're no longer using green success alerts for virtual hearings. Since any updates to virtual hearings are not saved until async job completes, we will not be showing this alert. However, this alert still shows for any other changes made to hearings like when user changes the assigned judge or hearing locations.

Design:
https://va-gov.invisionapp.com/share/8AUO95JMRW7#/screens/391731030
https://v

[2019-12-02 20:32] rubaiyat22 opened #12833 "ensure link to virtual hearing shows on HearingDetails page"
Currently link does not show on HearingDetails page
![Screen Shot 2019-12-02 at 3.24.56 PM.png](https://images.zenhubusercontent.com/5d518fc3e04e3134e624281f/46fe36d8-b0a0-4739-b1b7-f97c7c4adef6)

but it does show on DailyDocket
![Screen Shot 2019-12-02 at 3.26.05 PM.png](https://images.zenhubusercontent.com/5d518fc3e04e3134e624281f/6f102104-e614-4a80-96fa-e568af73f6ba)

Suspecting it has to do wi

[2019-12-02 21:23] pkarman opened #12834 "Sign off from B3 on initial ETL schema"
Our initial version of an ETL schema is in production. We need B3 to kick the tires on the schema to see whether it will support their efforts.

## AC

- [ ] Populate production ETL data
- [ ] Provide URL to B3
- [x] Designate point of contact for B3 evaluation
- [ ] B3 acceptance

[2019-12-02 22:36] jcq opened #12836 "Bug: React Ref Bug in EvaluateDecisionView"
## Description
If the form is submitted when complexity of case is selected but "quality of work" is null (no radio selected), this error is tossed:
`Argument appears to not be a ReactComponent. Keys: current`

## Background/context/resources
- [Sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6477/)

## Technical notes
This appears to be due to an issue with r

[2019-12-02 23:39] nicholer commented on #12345
@pshahVA We need help from the Board determining what Veteran information can be sent via email to Representatives and Judges, who will need some indication of which Veteran the email is referring to.

We can assume all Judges are Caseflow users. But is that a safe assumption for Representatives?

[2019-12-03 07:36] tomas-nava opened #12840 "make the available_actions method private on all tasks, and refactor code where it's called from other classes"
Connects #10894

## Description
The `available_actions` method on the `Task` class and its subclasses returns actions without calling `actions_available?`, which is used for access control based on task or user state. This means that calling `available_actions` for a user on a task may not return the same actions that user would see for the task in the Caseflow interface.

To reduce the risk that

[2019-12-03 15:11] pkarman commented on #12773
IMO the team responsible for data integrity is the new Delta team, with input from the Data Functional Lead.

[2019-12-03 15:39] ferristseng opened #12843 "Daily docket doesn't show "Virtual, Video" request type in some cases"
## Description

Daily docket doesn't show "Virtual, Video" request type if the hearing day only has legacy virtual hearings.

## Technical notes

The query doesn't check if there are any virtual hearings for legacy hearings, so it needs to be added.

[2019-12-03 15:45] #12761 closed

[2019-12-03 16:18] yoomlam commented on #12840
Highly related to #9055.

[2019-12-03 18:05] jcq opened #12846 "Bug: Error Handling for Null Address for Hearings"
## Description
When fetching hearing locations, we geomatch on vet's address. If that's nil, a `VaDotGovNullAddressError` is created and returned, but not raised. This means that error handling via `rescue` never gets triggered.

## Background/context/resources
- This showed up in a [Sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6689/) in Slack, which should

[2019-12-03 18:59] #12712 closed

[2019-12-03 19:13] pshahVA opened #12849 "AMA transcription automation"
User story: As a hearings branch user, I need to be able to send AMA cases to transcription automatically.
 (This is a stub ticket to record this requirement that came from the hearings branch)

Job story: When a [user] does [x], they need [y], so that [z]
## Acceptance criteria
- [ ] Please put this work behind the feature toggle: [toggle name]
- [ ] This feature should be accessible to the follo

[2019-12-03 19:14] pshahVA commented on #12849
@nicholer, @carodew  this may be a research topic to look into if/when we get approval.

[2019-12-03 19:50] jcq commented on #12846
Closing due to it being invalid (see notes in Slack):
https://dsva.slack.com/archives/CHX8FMP28/p1575396642483500

[2019-12-03 19:50] #12846 closed

[2019-12-03 19:55] #12843 closed

[2019-12-03 20:10] geronimoramos commented on #12283
@jimruggiero @leikkisa

@rutvigupta-design and I are noodling on this functionality right now and looking to learn where a Straight Vacate may be initiated. From our current knowledge, it would be a Lit Support lead who would initiate a Straight Vacate (no readjudicate) flow and we've been thinking about how would they create this task type? Would it be from the case details page actions dropdown

[2019-12-03 20:11] rutvigupta-design commented on #11725
@leikkisa correct, this ticket isn't relevant anymore because Motions Attorneys will upload the dismissal letters to VBMS and send them out to the veteran.

[2019-12-03 20:21] rutvigupta-design commented on #11720
@leikkisa I'd like to keep this open for us to research further. It's out of scope for current MTV work but I think it can help shed light on the Mail Team's process for future motions.

[2019-12-03 20:42] leikkisa opened #12851 "Add rating_profile.find_in_date_range to BGSService"
## User or job story
User story: As a user, I would like to be able to add ratings that are missing from the current rating service as contested issue to a decision review.

## Acceptance criteria
- [ ] BGSService has the ruby-bgs request for rating_profile.find_in_date_range added

## Release notes
N/A

### Out of scope
- Handling the response (will do this in subsequent rating_profile class)
- I

[2019-12-03 20:52] pshahVA commented on #12768
We need to investigate what the API returns for that particular hearing.

[2019-12-03 21:04] #12670 closed

[2019-12-03 21:04] #12689 closed

[2019-12-03 21:04] #12524 closed

[2019-12-03 21:05] #12124 closed

[2019-12-03 21:23] geronimoramos commented on #11969
@leikkisa I believe these are future state ideas that could be visited potentially 3-months after everything is launched or if issues arise around PC checks/jurisdictional conflict.

[2019-12-03 23:17] lomaxap opened #12853 "Tango / Hearings Codebase Frustrations and Confusions"
### Description
This ticket is a place to note frustrations or confusion in the Tango codebase or with hearings logic generally. These frustrations can create stop energy, and may also reveal some tech debt. This will help us get a better sense of areas of technical improvement that we can focus on to improve our experience with coding.

We will collect some issues here before deciding on how to p

[2019-12-04 05:39] msj0nes opened #12855 "Product Brief | Missing Ratings"
**

[2019-12-04 13:32] pshahVA commented on #12329
We have a trial license where we can continue to work.

[2019-12-04 13:33] #12329 closed

[2019-12-04 14:51] lomaxap commented on #12832
had a brief discussion with @nicholer about this [here](https://dsva.slack.com/archives/C3EAF3Q15/p1574434774154300). She said this is fine for now, and we can wait for feedback from users if we want to remove it. @nicholer does this still work for you?

[2019-12-04 15:05] nicholer commented on #12832
I agree that if a user edits something unrelated to virtual hearings (like the judge), and also makes changes to the virtual hearing (like the POA email address), both alerts can display.

Above where it says "We're no longer using green success alerts for virtual hearings", I took that to mean we're not showing the success alert just because a virtual hearing async job finished. And that also sou

[2019-12-04 15:07] alisan16 commented on #12096
Closing issue per conversation above

[2019-12-04 15:21] rubaiyat22 commented on #12832
I'm going to close this issue for now as it seems like we want to show both alerts in most cases. I feel like we should revisit this after some user feedback. Does that sound right to ya'll? @lomaxap & @nicholer

[2019-12-04 15:27] nicholer commented on #12832
Works for me!

[2019-12-04 15:55] #12830 closed

[2019-12-04 16:27] jcq opened #12856 "Bug: Validation Fails for PreRoutingFoiaColocatedTask"
## Description
We see an alert indicating that validation failed during task reassignment with this error:
```Validation failed: Colocated subtype is not included in the list```

## Background/context/resources
- [Sentry Alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6953/)
- [Code that performs validation](https://github.com/department-of-veterans-affairs/caseflow/

[2019-12-04 16:30] ferristseng commented on #12853
### React components are difficult to unravel

(This might also be an issue outside of the hearings codebase) It's difficult to get a full understanding of how a frontend page works because of how separated the code is. To understand how a change gets propagated in a form, you might have to open 4-5 files to finally get to the update method. I'm wondering if we can reduce this friction, and make i

[2019-12-04 16:48] jcq commented on #9676
Reopening due to seeing it again in a Sentry alert:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7533/

[2019-12-04 18:02] jimruggiero commented on #12791
Should this be moved to Define pipeline for further discussion and requirements definition, or moved to Ready for Dev for Echo estimation?

[2019-12-04 18:10] #12833 closed

[2019-12-04 18:23] pkarman commented on #12791
If we take @D-L-Ware options as exhaustive, then (1) doesn't require any technical changes to Caseflow, only a process change for BVA to implement. If we think (2) is the better option then it should go to Echo.

This ticket, on its own, isn't really actionable, so there's nothing really to estimate. If you move it to ready for dev, I expect that Echo will want to create multiple tickets, includin

[2019-12-04 18:48] wturne opened #12862 "Create Veteran IDs for Use in Caseflow Intake on the Caseflow Demo Site"
Need to have Veteran IDs that can be used for Caseflow Intake on the Caseflow Demo site.  At one time, there was a list of usable Veteran IDs in the Caseflow Intake section of the [Caseflow Environment Styles and Information](https://github.com/department-of-veterans-affairs/appeals-deployment/wiki/Caseflow-Environment-Styles-and-Information) page.  However, they do not seem to work any longer.  T

[2019-12-04 18:49] D-L-Ware opened #12863 "Add Status API as a Separate Component Called-out on https://caseflow.statuspage.io/"
## Description
 https://caseflow.statuspage.io/
Provides information on Caseflow, specifically calling out the operational status for Reader, Certification, Intake, Hearings, eFolder Express, Dispatch, and Queue.  Additionally, specific incidents are logged and notifications are posted about expected outages.  It would be helpful for some of our dependencies if Status API's operational status was

[2019-12-04 18:51] D-L-Ware commented on #12863
@alisan16 and @pkarman I assigned this to myself but peter suggested one of you could assist me with actually adding Status API to  https://caseflow.statuspage.io/.

[2019-12-04 19:15] tomas-nava commented on #12840
An alternative to the approach I describe above that'd solve the problem would be to move all access control logic off of `available_actions_unwrapper` and on to `available_actions`.

[2019-12-04 19:35] pkarman commented on #12863
I didn't know how to do it till I looked. The admin page is https://manage.statuspage.io/pages/g6mh29rqlfqy/incidents

I went ahead and added the "Caseflow - Status API" component via the "Components" nav menu option on the left.

[2019-12-04 19:35] #12863 closed

[2019-12-04 19:52] lomaxap commented on #12329
can we use that trial license in production?

[2019-12-04 20:18] jcq commented on #10799
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7079/

[2019-12-04 20:28] jcq opened #12864 "Caseflow::Error::AttorneyJudgeCheckoutError: Appeal is missing decision issues"
## Description
A POST to `/case_reviews/501156/complete` yielded this error:
```Caseflow::Error::AttorneyJudgeCheckoutError: Appeal is missing decision issues```

## Background/context/resources
- [Sentry Alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6987/)

[2019-12-04 20:31] jcq commented on #10632
[Another!](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6166/)

[2019-12-04 20:35] #12456 closed

[2019-12-04 21:20] msj0nes opened #12866 "Product Brief | Asynchronous Claims"

[2019-12-04 21:25] yoomlam commented on #10516
I created a page https://github.com/department-of-veterans-affairs/caseflow/wiki/Flakey-Test-Remedies to start collecting solutions for flakey tests.

[2019-12-04 22:59] jimruggiero opened #12867 "Need to update AMA case QR code so that it replicates Legacy case QR code"
## User story
User story: As a member of the Quality Review (QR) team at the Board, I need the AMA quality review monthly limit and selection probability to match was is currently set in Caseflow for Legacy, so that I can reliably receive 130+ AMA cases to review monthly, up to 137 case per month.

130+ of each, both capped at 137...code for legacy and AMA should be identical when this work is com

[2019-12-04 23:09] yoomlam commented on #12279
Searching for `action:`, I found these relevant occurrences and fixed them:
[code]

[2019-12-04 23:12] yoomlam commented on #12279
Searching for `.action` did not find anything relevant:
[code]

[2019-12-05 14:21] lomky commented on #12867
Relevant prior ticket #8320 & PR #8578

[2019-12-05 14:45] lomky commented on #12867
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Scoped at a 2.
Scope: This ticket is to adjust the AMA number and implement an AMA cap. We will file a followup to refactor the logic to actually match across Legacy/AMA on the implementation aspect.

Notes
We think the work here is just change the number in the code?

No we also need to implem

[2019-12-05 15:56] #12585 closed

[2019-12-05 16:36] alisan16 opened #12871 "Enable aria-roles Axe rule on Caseflow"
## Description
This task is for enabling the `aria-roles` rule: Ensures all elements with a role attribute use a valid value

## Background/context/resources
See Epic #12884

[2019-12-05 16:37] alisan16 opened #12872 "Enable definition-list Axe rule on Caseflow"
## Description
This task is for enabling the `definition-list` rule: Ensures <dl> elements are structured correctly

## Background/context/resources
See Epic #12884

[2019-12-05 16:38] alisan16 opened #12873 "Enable aria-required-parent Axe rule on Caseflow"
## Description
This task is for enabling the `aria-required-parent` rule: Ensures elements with an ARIA role that require parent roles are contained by them

## Background/context/resources
See Epic #12884

[2019-12-05 18:09] alisan16 commented on #10569
Closing this issue in favor of using a Google doc to track discussion

[2019-12-05 18:24] jcq opened #12875 "Incorporate Frontend Toolkit into Main Caseflow Repo"
Frontend toolkit may cause certain problems as a result of being separate.

Is also used in eFolder, so would require refactoring in that repository as well.

[2019-12-05 18:25] jcq opened #12876 "Frontend Working Group Tech Improvements"
Tickets for the frontend working group

[2019-12-05 18:25] jcq opened #12877 "Update ESLint Config"
Our ESLint config is being inherited from [@department-of-veterans-affairs/eslint-config-appeals](https://github.com/department-of-veterans-affairs/eslint-config-appeals), which hasn't been updated in over two years. We should assess what changes make sense and determine if we should  implement those in that repo or move more stuff into the main Caseflow repo.

Additionally, we should look at impl

[2019-12-05 18:26] leikkisa commented on #12283
I updated the title/scope of this ticket to just handle motions to vacate (not all post-decisional motions).  I figure we worry about the other types when work is being done on those flows.

[2019-12-05 18:37] alisan16 opened #12879 "Enable listitem Axe rule for Caseflow"
## Description
This task is for enabling the `listitem` rule: Ensures <li> elements are used semantically

## Background/context/resources
See Epic #12884

[2019-12-05 18:38] alisan16 opened #12880 "Enable aria-allowed-attr Axe rule for Caseflow"
## Description
This task is for enabling the `aria-allowed-attr` rule: Ensures ARIA attributes are allowed for an element's role

## Background/context/resources
See Epic #12884

[2019-12-05 18:38] alisan16 opened #12881 "Enable duplicate-id-aria Axe rule for Caseflow"
#12742 updated the Sniffybara and Axe versions that run accessibility scans in the codebase. In order to meet Section 508 compliance, the Caseflow codebase should run cleanly with all `section 508`, `wcag2aa` and `wcag2a` rules enabled. [Axe rule descriptions can be found here](https://github.com/dequelabs/axe-core/blob/develop/doc/rule-descriptions.md)

## Description
This task is for enabling th

[2019-12-05 18:39] alisan16 opened #12882 "Enable aria-input-field-name Axe rule for Caseflow"
## Description
This task is for enabling the `aria-input-field-name` rule: Ensures every ARIA input field has an accessible name

## Background/context/resources
See Epic #12884

[2019-12-05 18:40] alisan16 opened #12883 "Enable aria-required-children Axe rule for Caseflow"
#12742 updated the Sniffybara and Axe versions that run accessibility scans in the codebase. In order to meet Section 508 compliance, the Caseflow codebase should run cleanly with all `section 508`, `wcag2aa` and `wcag2a` rules enabled. [Axe rule descriptions can be found here](https://github.com/dequelabs/axe-core/blob/develop/doc/rule-descriptions.md)

## Description
This task is for enabling th

[2019-12-05 18:42] alisan16 opened #12884 "Enable required Axe rules for Section 508 accessibility compliance"
#12742 updated the Sniffybara and Axe versions that run accessibility scans in the codebase, which are run on rspec feature tests. In order to meet Section 508 compliance, the Caseflow rspec tests should run cleanly with all `section 508`, `wcag2aa` and `wcag2a` rules enabled. [Axe rule descriptions can be found here](https://github.com/dequelabs/axe-core/blob/develop/doc/rule-descriptions.md)

##

[2019-12-05 18:48] alisan16 opened #12885 "Enable list Axe rule for Caseflow"
## Description
This task is for enabling the `list` rule: Ensures that lists are structured correctly

## Background/context/resources
See Epic #12884

[2019-12-05 18:49] alisan16 opened #12886 "Enable color-contrast Axe rule for Caseflow"
## Description
This task is for enabling the `color-contrast` rule: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds

## Background/context/resources
See Epic #12884

[2019-12-05 18:50] alisan16 opened #12887 "Enable scrollable-region-focusable Axe rule fo rCas"
## Description
This task is for enabling the `scrollable-region-focusable` rule: Elements that have scrollable content should be accessible by keyboard

## Background/context/resources
See Epic #12884

[2019-12-05 18:51] alisan16 opened #12888 "Enable duplicate-id-active Axe rule for Caseflow"
## Description
This task is for enabling the `duplicate-id-active` rule: Ensures every id attribute value of active elements is unique

## Background/context/resources
See Epic #12884

[2019-12-05 19:34] pshahVA opened #12889 "Setup UAT for Virtual Hearings Dogfooding"
User Story:
Setup the UAT environment to have the proper users, data and permission for testing the virtual hearings phase II.

Please refer the the following document for more requirements:
https://docs.google.com/document/d/1QJo2u9JmKvH1b_vEiXLeDoQtPrsr_Gf4k-vZw9k05UA/edit

[2019-12-05 20:11] pkarman commented on #12802
Recent evidence. Note the nil `assigned_by_id`.

I cancelled it manually.

[code]

[2019-12-05 20:29] #12506 closed

[2019-12-05 22:28] rubaiyat22 opened #12891 "Pre-populate rep & vet email on virtual hearing modal if exists in system"
Design: https://va-gov.invisionapp.com/share/8AUO95JMRW7#/screens/391731033

Currently, the veteran and representative emails are not pre-populated on the VirtualHearingModal.
The case details page is populating representative and veteran data [here](https://github.com/department-of-veterans-affairs/caseflow/blob/064d4c876d5ce18cc50f848ec029590db397a49d/client/app/queue/CaseDetailsView.jsx#L118).

[2019-12-06 14:24] yoomlam commented on #12802
Pasting relevant details from Slack.

Kat wrote:

Tomas wrote:

First POST at 11:26:14

Chad wrote:

Tomas:

[2019-12-06 14:56] yoomlam commented on #12802
Kat says to "clean up existing" appeals, cancel the task being "careful not to cascade wrong". "also we should chat with Jim Ruggiero, as the change is user visible to the judges / attorneys (the redundant task disappears from their queue)"

So my approach is:
1. identify appeals that have this problem (since I'll clean them later anyway) and document commonalities for future investigation
2. prev

[2019-12-06 15:00] pkarman opened #12894 "Stuck decision issue sync jobs"
We continue to have 20k+ RequestIssue jobs that cannot sync decision issues. In the past these have required some manual data backfill coordination.

Since we are turning off the alerts about decision issue sync in #12792 this ticket represents the task of identifying any underlying issues between BGS and Caseflow and determining how best to un-stick these RequestIssue jobs.

In the past @pkarman

[2019-12-06 16:01] pkarman commented on #12824
Another example:

[code]

[2019-12-06 16:01] pkarman commented on #12824
Recent evidence. Note the nil assigned_by_id.

I cancelled it manually.

[code]

[2019-12-06 16:02] pkarman commented on #12802
Possibly related to #12824

[2019-12-06 16:31] rubaiyat22 commented on #12762
[code]

[code]

[code]

HearingTasks of ids` [47055, 105364, 114033]` were assigned at one point but never moved forward. Subsequent hearing tasks were created to address the hearing process for each appeal so it seems that the hearings have progressed.
Since `HearingTask` is created upon the creation of `ScheduledHearingTask,` it is odd that these tasks do not have a subtask of `ScheduledHearingT

[2019-12-06 17:10] rubaiyat22 commented on #12832
reopening to address showing blue alerts only when virtual hearing related stuff is updated

[2019-12-06 17:57] jcq opened #12896 "[Sentry] ArgumentError: bad value for range in AdvanceOnDocketMotion"
## Description
It looks like there is an invalid date range error for this query:
[code]
Perhaps this indicates a problem with (an invalid) `appeal_receipt_date`?

## Background/context/resources
- [Sentry Alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7534/)

[2019-12-06 18:01] lomky commented on #12824
Possibly the same issued being worked in #12802

[2019-12-06 18:04] jcq opened #12897 "[Sentry Alert] "Cannot read property 'value' of null" in NonratingRequestIssueModal"
## Description
We are seeing an alert for this error:
[code]

The issue appears to be that `SearchableDropdown` called `onChange` with a null, with the error being thrown here:
[code]

## Background/context/resources
- [Sentry Alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7536/)

## Technical notes

[2019-12-06 18:22] yoomlam commented on #12802
Pulling in #12824 into this ticket. https://dsva.slack.com/archives/CJL810329/p1575655744226300?thread_ts=1575648213.218100&cid=CJL810329

[2019-12-06 18:27] jcq commented on #12864
## Additional alerts
- [Alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7055/)

[2019-12-06 18:37] ajspotts commented on #12126
This issue actually addresses two separate problems: sort functionality and filter functionality.  I have been able to correct the sort problem with #12898, however the filter problem does not manifest itself during Voiceover testing, only with JAWS.  I've spent a bit of time attempting to track down an appropriate solution but have come up empty handed thus far and am at a stopping point.

I woul

[2019-12-06 19:34] #12862 closed

[2019-12-06 20:04] pkarman commented on #10516
[code]

[2019-12-06 20:35] #12279 closed

[2019-12-06 20:40] #12866 closed

[2019-12-06 21:42] ajspotts opened #12902 "Filter button functionality not accessible using JAWS keyboard navigation (End: 7/10)"
## Description

We think this is filter functionality on a more generic table component.

This issue connects to #12126 which was partially solved by #12898.  It was discovered that while using JAWS in Chrome, the filter button would not activate.

## Background
Below is a list of discoveries made while investigating the initial ticket:
- When navigating the page with the keyboard without JAWS, fi

[2019-12-06 22:08] yoomlam commented on #12902
The sort button was straight-forward to fix by adding `role="button" tabindex="0"` to the button's `span` element. However the filter button is more complex -- it must first be clicked to open a modal dialog for the user to select filter options. "Clicking" (by using the space or Enter keys) on the filter button does not work *while JAWS is on*.
A difference is the sort button has a typical `onCli

[2019-12-06 22:10] yoomlam commented on #12902
A11y testing can be done by using or modifying a simple page, e.g., http://pauljadam.com/demos/button.html to mimic the component in question. In this case, we changed the `<a href="#" role="button">` to a `span` element to mimic the sort button.

[2019-12-06 22:53] ferristseng opened #12903 "Research upgrading version of Ruby"
## Description

Look into whether or not it's worth upgrading versions of Ruby

## Background/context/resources

N/A

## Technical notes

N/A

[2019-12-09 15:12] pkarman commented on #12903
fwiw I typically let Ruby versions get to the `.1` patch release before I think about upgrading. Also, I would plan to say at 2.x until 3.x can be thoroughly tested.

[2019-12-09 16:22] pkarman opened #12907 "ETL appeals.decision_status_sort_key"
Create integer sort key for ETL appeals.status so that Tableau can sort for presentation.

This requires a new column and a change to `BvaAppealStatus` service class.

[2019-12-09 16:36] yoomlam commented on #12802
@lomky If a second non-active `JudgeQualityReviewTask` exists, do we want to allow creation of the new one since it should be obvious which one is active?
To be explicit, we don't want to re-activate the existing task, right?

[2019-12-09 16:45] lomky commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/95906

[2019-12-09 16:58] ajspotts commented on #12902
It was suggested by Carolyn that submitting a ticket to the helpdesk using this [link](https://yourit.va.gov/va?id=sc_home) could prove useful as there is a contracted team dedicated to JAWS related issues per [these docs](https://github.com/department-of-veterans-affairs/appeals-team/blob/master/caseflow-team/0-how-we-work/accessibility.md#resources-and-support)

[2019-12-09 18:38] #12666 closed

[2019-12-09 19:30] pkarman commented on #12709
Suggesting we use the visual design in https://www.w3schools.com/howto/howto_js_treeview.asp instead.

[2019-12-09 19:46] pshahVA commented on #12791
On a similar flavor of the same problem, we've seem hearings deleted in VACOLS and then recreated, but they lose the association for this record.

[2019-12-09 20:15] #12907 closed

[2019-12-09 20:30] pshahVA opened #12912 "Modify VEText for virtual hearings"
## User story
As a consumer of the VEText API, I need to change the text that is sent for virtual hearings.  The current text message indicates the hearing location that the veteran needs to show up with.

## Problem statement
As a consumer of the VEText API, I need to change the API to indicate that this is a virtual hearing.

## What are the unknowns?

How should we capture this in the API? Does

[2019-12-09 20:44] leikkisa opened #12913 "Stress test nonrating request issue decision date validation"
## Description
We had a nonrating issue get saved without a decision date.  This ticket is to stress test the validation, to see if you can manage to save a nonrating request issue where the decision date doesn't get saved.

To do this, start a decision review and add several nonrating request issues where you try creating them with various types of invalid decision dates. They will get saved once

[2019-12-09 21:21] pshahVA commented on #12653
@ferristseng can you please update this with the database fields to look for?

[2019-12-09 21:21] pshahVA commented on #12912
@ferristseng can you add the relevent fields?

[2019-12-09 21:23] lomky commented on #12802
That is correct. We never want to re-activate tasks. This ticket is to prevent the creation of multiple active Tasks

[2019-12-09 21:56] rubaiyat22 commented on #12762
Cancelled the above HearingTasks [47055, 105364, 114033]
`HearingTask.where(id: [47055, 105364, 114033]).map { |hearing_task| hearing_task.update!(status: Constants.TASK_STATUSES.cancelled) }`

[code]

[2019-12-09 21:56] #12762 closed

[2019-12-09 21:59] alisan16 commented on #12554
Certification usage notebook from 2017: https://department-of-veterans-affairs.github.io/appeals-data/notebooks/intake/certification-usage.nb.html

[2019-12-09 22:06] yoomlam opened #12916 "Clean up task status code"
## Description

Implementation of `task.open?`, `task.active?`, `Task.closed_statuses`, and `Task.open_statuses` is convoluted and can be simplified. If additional status values were added, the code will be more susceptible to bugs.

Once corrected, update https://github.com/department-of-veterans-affairs/caseflow/wiki/Tasks#task-status accordingly.

## Technical notes

  * Possible task status va

[2019-12-09 23:55] leikkisa opened #12917 "Update copy for legacy issue opt-in selection"
## User or job story
As a claims assistant, when I am creating an intake, I sometimes miss checking the option "Did they agree to withdraw their issues from the legacy system?".  It would be clearer what this selection is for if the label were more closely matched to the form.

## Acceptance criteria
- [ ] Update the copy for this selection to `Did the Veteran check the "OPT-IN from SOC/SSOC" box

[2019-12-10 05:28] msj0nes commented on #12805
@pkarman can this be marked closed considering #11840?

[2019-12-10 05:40] #8590 closed

[2019-12-10 13:08] D-L-Ware opened #12919 "Update Caseflow Data Dictionary"
## Description
As a user of Caseflow data, it would be helpful to have an updated Caseflow data dictionary.

## Background/context/resources
VBA Policy Analysis & Integrity has started publishing the AMA metrics publicly as required by the law.  The reports include Caseflow data.  Given that this information has been released to the public we should expect request for deidentified data by members

[2019-12-10 13:19] D-L-Ware opened #12920 "Remove Congressional Inquiries as a Blocking Task"
## Description
As a user, I need Congressional Inquiry tasks to not block case distribution or other tasks.

## Background/context/resources
Congressional Inquiries are requests from a Congressperson or Senator on the status of a constituents claim.  A decision by the Board is actually a response to that inquiry, therefore, Congressional Inquiry tasks need not be blocking tasks as there is nothing

[2019-12-10 14:22] pshahVA commented on #12176
@alisan16 , I noticed you placed a bug label on this, but this is a new feature that we need to work on.

[2019-12-10 15:55] #12422 closed

[2019-12-10 15:55] alisan16 commented on #12176
@pshahVA I was mass migrating `bug-medium-priority` to `bug` and `priority-medium` labels since you originally added `bug-medium-priority`. Feel free to remove if it's not accurate.

[2019-12-10 17:39] pkarman commented on #12805
@msj0nes #12851 supercedes this.

[2019-12-10 17:39] #12805 closed

[2019-12-10 17:41] pkarman commented on #12919
fwiw when data dictionary was created several months ago we realized that maintenance was going to be difficult, so we opted instead to require comments on our schema migrations for each column so that a "dictionary" could be automatically produced.

e.g. https://github.com/department-of-veterans-affairs/caseflow/blob/master/db/schema.rb

[2019-12-10 17:52] pshahVA commented on #12176
@alisan16 , then I originally mislabeled it.  I just didn't want to break any kind of system you were working on.

[2019-12-10 17:58] yoomlam commented on #12824
Reading the issue description, it sounds like if #12802 was implemented, then we wouldn't see an extraneous `JudgeAssignTask`.
What triggers the creation of a `JudgeAssignTask`?

[2019-12-10 19:09] leikkisa opened #12926 "Follow up job messaging work"
## User or job story
User story: As an intake user, I need to be able to communicate to veterans when their end product establishment is failing, through uploading a screenshot of their job details page. I would like the job details page to include the inbox messages in notes, because the inbox messages page includes information for other veterans.

## Acceptance criteria
- [x] When we add an inbo

[2019-12-10 19:21] nicholer opened #12927 "Display Veteran's state of residence on the daily docket"
## User story
As an RO Coordinator, I need to be able to quickly identify veterans that are coming from out of state (or were not originally assigned to this RO at intake time) are on my docket. I need to do this so that I can make sure that the out-of-state representative is notified and coordinated with.

## Problem statement

## What is out of scope?

## Background/context

## What are the unkn

[2019-12-10 19:22] leikkisa opened #12928 "NCA | Business Line | Allow NCA claims to proceed without a claimant"
##NCA POC
Jennifer Kelly - NCA (New NCA Supervisor per Richard Byers II)
Email: Jennifer.kelly@va.gov

## User or job story
User story: As an NCA user, I need to be able to intake claims where the claimant is not the veteran, without selecting a claimant from the veteran's dependents.

## Acceptance criteria
- [ ] If the user selects "National Cemetery Administration" as the business line on the i

[2019-12-10 19:22] leikkisa commented on #12928
This is currently de-prioritized due to priorities at the Board and relationship management, but I wanted to capture this in a ticket.

[2019-12-10 19:28] #11859 closed

[2019-12-10 19:53] msj0nes commented on #12650
Hi @hschallhorn I haven't seen this alert since reported. Can you confirm whether or not this can be closed?

[2019-12-10 19:56] lomky opened #12929 "Consolidate QR Selection and Limit Code"
## Description

Refactor the code around Quality Review selection & limit to use shared logic.

## Background/context/resources

In the past we handled Quality Review selection differently for AMA & Legacy appeals. (see  #8320 & PR #8578) We have since updated AMA behavior to match legacy (see #12867 & PR #12915) and do not foresee a future where we want them to behave differently in the future.

[2019-12-10 20:17] lomky commented on #12617
[Papertrail: Saving a new version manually](https://github.com/paper-trail-gem/paper_trail#saving-a-new-version-manually)

[2019-12-10 20:31] nicholer commented on #12648
Next steps from 12/10/19 internal sync:
- Determine whether this problem affects only Legacy cases or both AMA and Legacy cases.
  - "Original Regional Office" is not a piece of data we have for AMA cases because they're established differently from Legacy cases
- Confirm what the most important pieces of information are: knowing the Original RO name vs knowing that the original RO state and POA o

[2019-12-10 20:33] hschallhorn commented on #12617
hm. I'm getting a NoMethodError on this

[2019-12-10 20:34] lomky commented on #12617
We're on PaperTrail 8. We could look into bumping the gem, or using some work arounds others have developed [See StackOverflow](https://stackoverflow.com/questions/27804421/papertrail-manually-create-version)

[2019-12-10 20:37] hschallhorn commented on #12617
Doesn't seem to be saving the object or the changes
[code]

[2019-12-10 21:24] jcq opened #12931 "[Sentry Alert] BvaDispatchTaskCountMismatch: Expected 1 BvaDispatchTask received 0"
## Description
Error:
```Caseflow::Error::BvaDispatchTaskCountMismatch: Expected 1 BvaDispatchTask received 0 tasks for appeal 9550, user 2142```

Looks like the task assigned to the user in question (2142) was cancelled, and another one assigned to user 2120 was completed:

[code]

## Background/context/resources
- [Sentry Alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/is

[2019-12-10 21:32] #11724 closed

[2019-12-10 21:32] #12296 closed

[2019-12-10 21:33] #11723 closed

[2019-12-10 21:33] #11725 closed

[2019-12-10 21:34] #11727 closed

[2019-12-10 21:35] kevmo opened #12932 "Stop blocking case distribution when a single DistributedCase fails."
## Description

All case distribution fails whenever a single attempt to create a new `DistributedCase` model fails.  These new models fail to be created due to a unique constraint on the `case_id` column in the `distributed_cases` table.

Case distribution should not generally fail in the event that a single model creation attempt fails. At the same time, the development team needs to be made awa

[2019-12-10 21:50] hschallhorn commented on #12650
Yep! If this pops back up we can always reopen the issue.

[2019-12-10 22:20] #12867 closed

[2019-12-10 22:22] lomky commented on #12867
@jimruggiero This is now merged and should be released tomorrow morning!

[2019-12-11 00:42] leikkisa commented on #8451
@msj0nes I haven't done any work on contested claims, but as far as I know, this ticket is still relevant.

[2019-12-11 00:44] leikkisa commented on #9549
@msj0nes I am going to close this ticket due to low priority and I don't see us getting to it anytime soon. It's still potentially a tech improvement ticket we could work on, but let's add a new ticket then.  Right now we test this code against UAT BGS and VBMS before we merge it.

[2019-12-11 00:44] #9549 closed

[2019-12-11 00:46] leikkisa commented on #10172
@msj0nes I am going to close this ticket, although I may work on it in another related PR.

[2019-12-11 00:46] #10172 closed

[2019-12-11 00:47] leikkisa commented on #7734
@msj0nes I'm going to keep this ticket open for now, especially since there's a clear idea of what to do. I haven't seen this issue come up lately, but I could see it coming up again in the future.

[2019-12-11 00:49] leikkisa commented on #7911
@msj0nes Closing this ticket since the existing issue was resolved, and if further issues come up we can create a new ticket to handle that one.

[2019-12-11 00:49] #7911 closed

[2019-12-11 00:49] leikkisa commented on #11540
@msj0nes Closing this ticket. We never did do usability testing but we did ask for feedback after the VBMS testing and it was positive.

[2019-12-11 00:49] #11540 closed

[2019-12-11 00:50] leikkisa commented on #10815
@msj0nes This ticket is still relevant and will be relatively high priority when it's ready.  We are waiting for DOO EP codes from AMO/VBMS.

[2019-12-11 00:55] leikkisa commented on #11128
@msj0nes I'm not sure about this one, I would have to defer to product. Technically, we consider these two different appeals (as mentioned by LP).  We use that date for validation and deciding which issues are eligible to be selected.  I believe it is connected to requirements in the AMA law, so I am hesitant to provide the ability to update this to the receipt date of another form.  My inclinatio

[2019-12-11 07:50] leikkisa commented on #12350
Closing this ticket. Something got into a weird state, maybe the first time it ran it partially succeeded and then got disconnected.  Adding notes here in case it ever happens again.

First the remanded issue is opted in to AMA.  After it was opted in, we checked and there were no other active issues and determined the entire legacy appeal could be closed as an AMA opt in. So the remanded issue ne

[2019-12-11 16:19] nanotone opened #12934 "Improve performance of veterans list on /test/users"
## Description
The `/test/users` page contains a list of all veterans by file number and a description of which artifacts are available for each. However, this causes a pretty significant performance hit (adding 10-20 seconds in local dev) on a page with many other uses, e.g. switching users, toggling features.

## Acceptance criteria
- [ ] Make a `/test/data` page and move the list of veterans to

[2019-12-11 17:09] kevmo opened #12935 "Litigatation Support Team has lost ability to create tasks."
## Description

 The litigation team is [reporting that they have lost the ability to add tasks](https://dsva.slack.com/archives/CHX8FMP28/p1575663281058100).

This ticket exists to re-enable this functionality.

## Background/context/resources

 Lit Support reports that they lost this ability on 12/2 or 12/3.

[2019-12-11 17:11] msj0nes commented on #12307
Ticket INC7600300  is now assigned to BGS PROD SUPP in YourIT for the BGS Team to properly resolve. Will monitor for resolution.

[2019-12-11 17:21] pkarman commented on #12934
try

`touch tmp/caching-dev.txt`

to fix. there's already caching support.

[2019-12-11 18:24] msj0nes commented on #12592
This issue is linked to VBMS Defect #751403

[2019-12-11 18:38] yoomlam commented on #12802
Found 10 appeals with JDRT duplication problem:
[code]

[2019-12-11 19:18] yoomlam commented on #12824
FYI: I ran `Appeal.select { |a| a.tasks.open.select{ |t| t.type == "JudgeAssignTask" }.count >= 2 }` and got no results. So no appeals need to be fixed for this ticket.

I'll be fixing appeals for a related ticket: #12802

[2019-12-11 19:48] ferristseng opened #12937 "Identify and remove tests that care about AMA day"
## Description
See discussion here: https://dsva.slack.com/archives/C2ZAMLK88/p1576092047024500

Some Caseflow-wide tests case about before/after AMA, and were used to test what would happen after the AMA flip was switched.

## AC
- [ ] Change tests so that they don't cause breaking changes in the future

[2019-12-11 20:19] pshahVA commented on #12912
@pkarman , the team may be reaching out to you.

[2019-12-11 20:33] msj0nes commented on #11978
@vacohitchs please provide more info regarding the ticket. The requestor from MOPH requesting. Which team you belong (no full name exist in your Github profile).  How does this involve Caseflow? Is this a dependency, API association? If you have worked with a specific Caseflow group who can shed light on your request please @ them.

[2019-12-11 23:00] pkarman commented on #12709
Example design using the treeview

![Screen Shot 2019-12-11 at 4 24 18 PM](https://user-images.githubusercontent.com/1205061/70667878-a24dad00-1c37-11ea-9a68-69eb565a4d2f.png)

[2019-12-11 23:24] jimruggiero commented on #12802
@yoomlam Thank you for all the due diligence and reaching out to solicit my feedback proactively - very much appreciated in this case! Please hold off from taking action on this ticket (i.e. deleting duplicative tasks) until I circle back with a go ahead. Since we have tasks that have actually been completed by multiple attorneys in this mix, I need to work with our stakeholders and their leadersh

[2019-12-11 23:43] pshahVA commented on #12853
@lomaxap, should we turn this into a running epic?

[2019-12-11 23:53] hschallhorn opened #12940 "Remove inactive users from all organizations"
As a followup to #12303, we would like to remove a user from their organizations when they are marked inactive. This excludes removing judges from their `JudgeTeam`s as that will be handled in another ticket

## AC
- [ ] When a user is made inactive, they are removed from every organization they are a member or admin of, other than judges from `JudgeTeam`s

## Notes
As judge teams are the only org

[2019-12-11 23:58] pshahVA opened #12941 "Design for Schedule Veteran flow for virtual hearings (without virtual-only queues)"
## User story
As a Hearing Coordinator, I need to be able to schedule Veterans directly for virtual hearings if I know they have opted-in/requested virtual hearings.

## What is out of scope?
Filling a virtual-only docket day and selecting from a queue of Veterans that have requested virtual will be addressed by #14625.

## Success criteria
From a user experience perspective, these designs will be

[2019-12-11 23:59] pshahVA commented on #12941
@nicholer, this is the ticket to help design how to schedule veterans when they are not tied to a physical office.

[2019-12-12 00:00] hschallhorn opened #12942 "Mark judge teams inactive when the judge becomes inactive"
In an effort to remove a user from any organizations they are a part of (#12940), `JudgeTeam`s should be handled separately. Rather than removing an inactive judge from a `JudgeTeam`, we should mark these `JudgeTeam`s as inactive

## AC
- [ ] When a judge is made inactive, so is their corresponding `JudgeTeam`

[2019-12-12 00:06] hschallhorn opened #12943 "Ensure new tasks are only assigned to active users"
Since the ability to mark users inactive was deployed (#12212), we have removed inactive users from organizations that automatically assign tasks to their members (#12303) to ensure they do not get assigned more tasks. We will also remove them from all other organizations to cut down on ways they can be assigned tasks while inactive ( #12940). At task creation, we should validate that the assignee

[2019-12-12 00:12] leikkisa commented on #12691
Closing this ticket, we think it's not necessary.

[2019-12-12 00:47] jcq opened #12944 "Upgrade Karma"
## Description
While we ultimately may want to move ourselves to Jest for frontend testing, we should keep Karma updated until such time as we migrate.

## Background/context/resources
- Currently running Karma v1.7.x
- Current version of Karma is v4.4.x
- Old version of Karma is responsible for [security vulnerability](https://github.com/department-of-veterans-affairs/caseflow/network/alert/clien

[2019-12-12 00:51] #11776 closed

[2019-12-12 01:00] jcq opened #12945 "Implement Storybook"
## Description
There has been a lot of excitement around being able to create and/or view components in isolation. An investigation was performed by @aplybeah that weighed multiple options and the decision was made that [Storybook](https://storybook.js.org/) met our requirements.

Once Storybook is set up, we should begin implementing "stories" for our core UI components (those that are found in t

[2019-12-12 01:19] leikkisa commented on #11009
Duplicate intakes with the same veteran file number and receipt day can exist for valid reasons:
1. The veteran sends in multiple forms that get received on the same day
1. Right now, users also do this if they a review got manually cleared, or they might want to remove a review to cancel the EP due to a mistake, and create a new one.

So unfortunately, we can't just send the user an error in this

[2019-12-12 01:25] leikkisa commented on #10202
I am closing this ticket, we have another ticket open to stop sending an email and figure out another system (such as YourIT).

[2019-12-12 01:25] #10202 closed

[2019-12-12 01:29] leikkisa commented on #11112
Closing as dupe of #11787

[2019-12-12 01:29] #11112 closed

[2019-12-12 01:34] leikkisa commented on #11104
I only see two related errors in Sentry (both on the same day this ticket was created back in June), closing.

[2019-12-12 01:34] #11104 closed

[2019-12-12 01:41] leikkisa commented on #9676
These are both queue errors, so it might be easier for the Echo team, I'll tag them too.

[2019-12-12 01:47] leikkisa commented on #10662
It looks like this stopped happening, the last instance is on May 20.  In the stacktrace, it looks like contention_disposition was nil.  Master today fails the method if contention_disposition is nil.  Closing!

[2019-12-12 01:47] #10662 closed

[2019-12-12 01:53] leikkisa commented on #10145
I'm closing this ticket, the ErrorCreatingDecisionIssue is an error we throw every time we check if there are decision issues for a request issue.  See #12792 for silencing the Slack alert, and #12225 for investigating the expired decision issue sync jobs.

[2019-12-12 01:53] #10145 closed

[2019-12-12 01:54] leikkisa commented on #10104
This was a weird error, I can't really tell what it was about. But this error has stopped happening, so closing this ticket.

[2019-12-12 01:54] #10104 closed

[2019-12-12 01:59] leikkisa commented on #12792
@nanotone I'm still seeing these Sentry alerts in Slack. I'm going to kick it back to in progress and we can investigate more. I don't know much about this code or if we need to do anything extra with appeals-lambdas.

[2019-12-12 02:15] leikkisa commented on #9925
This looks like it's fixed, no new instances since August 15th.

[2019-12-12 02:15] #9925 closed

[2019-12-12 02:20] leikkisa commented on #10828
I think there was a PR for this, I have fuzzy memories of looking at it with Sandra.  We also haven't seen this since May, so closing.

[2019-12-12 02:20] #10828 closed

[2019-12-12 03:20] leikkisa opened #12947 "Add "Job note with message" method"
## Description
As an engineer, I often like to add job notes from the console when reviewing stuck claims (instead of in the Caseflow UI).  Adding job notes from here doesn't add the Inbox message though.  It'd be good to make this available through a non-controller method, such as in the JobNote model or a workflow.

## Technical notes
See the AsyncableJobController add_note for current code on h

[2019-12-12 03:21] leikkisa commented on #12947
Open to conversation on whether we should do this if there's no place we're calling it in the code (I can update my personal script).

This can potentially be used in the future for handling known upstream errors, I think that depends on whether we need to individually add cases to YourIT tickets, and it'd be good to ask Peter's opinion.

[2019-12-12 13:42] pshahVA commented on #12176
I am closing this as I see it was addressed by #12418

[2019-12-12 13:42] #12176 closed

[2019-12-12 14:38] lomky commented on #12940
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Estimated at a 2
**Notes**

Might be as simple as removing a caveat (only robin robin vs all) and updating tests. Some unfamiliarity.

[2019-12-12 14:40] hschallhorn commented on #12940
[Here](https://github.com/department-of-veterans-affairs/caseflow/pull/12319/files#diff-4676c008b11a5480d73d4a6de01e45b9R330) is where we select automatically assigned orgs

[2019-12-12 14:49] lomky commented on #12942
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Estimated at a 2.

**Notes**

Do users have versioning? Not currently. Some disagreement on the team whether we want to track this in versions vs log analysis. Do we need to keep the entire version ledger in prods db? Later topic.

Inactive Organizations is new, just finishing PR. Two new fields

[2019-12-12 14:59] kevmo commented on #12943
[Active Record Validations](https://guides.rubyonrails.org/active_record_validations.html)

[2019-12-12 15:00] hschallhorn opened #12949 "Do not show inactive users as options for task assignee"
When a user sees a selection of other users to assign a task to, they should not see inactive users as an option.

## AC
- [ ] Limit available options of task assignees to active users on the front end

## Notes
[Here's some possible context](https://github.com/department-of-veterans-affairs/caseflow/issues/11631#issuecomment-522193687)

[2019-12-12 15:03] lomky commented on #12943
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Estimated at a 2, with precise uncertainty towards a 3.

Might be a 3 because new tests take a bit more lift than editing existing ones.

**Notes**

Validation at Task creation. What does the error path look like? Automatic assignment vs manual? For manual, reasonable error messaging. Ask produc

[2019-12-12 15:08] nanotone commented on #12792
@leikkisa It looks like there is currently no CD in place for lambdas yet. I chatted with @aroltsch but it sounds like we can just deploy it manually by following the repo README: https://dsva.slack.com/archives/CAM9FJ85P/p1576161359012600

[2019-12-12 15:10] lomky commented on #12949
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Estimated at a 3.

Might be a 5 as it will take extensive rspec testing & manual testing, and we're unsure of all the places we have to implement this. Concerned there are places that if we add the active scope, we'll affect other places we actually wanted all the users.

If we get into this and

[2019-12-12 15:30] lomky commented on #12932
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Estimated at a 3.

Might be a 2 if all we have to do is catch the error and let it continue. Might be a 5 for code unfamiliarity and uncertainty around the code. Testing might be gross.

**Notes**

We're thinking we distribute the judge 10 cases rather than shorting one. This case is already bei

[2019-12-12 15:31] lomky commented on #12935
#12938

[2019-12-12 15:46] lomky commented on #12856
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Estimated at a 2.

Lots of uncertainty. Might be easy if JCs solution works. Could have big knock-on affects. Unfamiliarity. This code has given us grief already. Could be a 1 if its as simple as making JC's suggested change and checking we can't create but can reassign. Might already be covered

[2019-12-12 15:53] hschallhorn commented on #12635
Closing in favor of #12856

[2019-12-12 15:53] #12635 closed

[2019-12-12 15:58] hschallhorn commented on #12856
## Context
Change routing of admin actions #11113 (Context behind automatic routing)
Skip VLJ support for schedule_hearing, missing_hearing_transcripts, translation, and foia colocated tasks #11467 (implementation of the above)
Properly handle old versions of automatically routed ColocatedTasks #11849 (context behind why "PreRoutingColocatedTasks" were created)
Create pre routed subclass for old s

[2019-12-12 17:04] #12935 closed

[2019-12-12 17:30] leikkisa opened #12952 "Contested decisions on unidentified issues should go on rating EPs"
## Description
When investigating whether there are places in the code where rating issues were being categorized as nonrating issues for EP establishment, we found that contested decision issues on unidentified request issues are not being categorized as rating issues.

## Acceptance criteria
- [ ] If an unidentified issue gets a decision issue, and that decision issue gets contested and added to

[2019-12-12 17:39] leikkisa commented on #12926
Moving this to "Ready for Dev" since @nanotone is getting a head start on it, with the caveat that we are still waiting for some info from AMO.

[2019-12-12 17:40] #12330 closed

[2019-12-12 17:58] leikkisa opened #12954 "MTV create vacated decision issues"
## User or job story
When a judge grants vacature on issues, it creates new request issues for that decision, and those issues are being decided with a disposition of "vacated".

## Acceptance criteria
- [ ] The request issues contesting the vacated decision issues automatically get decision issues with the disposition of "vacated"
- [ ] The decision issue description is "The following decision ha

[2019-12-12 18:45] leikkisa commented on #12913
We should add some error handling to prevent request issues from being saved without a decision date.

[2019-12-12 19:57] yoomlam opened #12955 "Cancel duplicate JudgeDecisionReviewTasks"
Wraps up #12802

## Description

Pending @jimruggiero 's approval, cancel tasks related to the duplicate JudgeDecisionReviewTasks.

As of Dec 11th, 2019, all 10 appeals with this problem are enumerated here, along with additional commentary: https://github.com/department-of-veterans-affairs/caseflow/issues/12802#issuecomment-564676936

A Google Doc titled "Appeals with JDRT duplication" revealing

[2019-12-12 23:20] jcq commented on #12283
### Investigation
- Currently, the "Add a new task" button shows up if there is an "actionable" `RootTask` for the given user. This is determined by the presence of any actions for the given task/user combo. Effectively, this equates to checking if the length of the array returned by `RootTask.available_actions(user)` > 0
- `RootTask` currently has logic that adds the CREATE_MAIL_TASK action to av

[2019-12-12 23:58] jcq opened #12959 "Add "key" Prop to DecisionDateTimeLine"
## Description
In the `TaskRows` component, there's a conditional that can display the `DecisionDateTimeLine` component. Since this comes within us mapping over an array, we need to have a `key` prop on it to avoid this error:
```Warning: Each child in a list should have a unique "key" prop.```

[2019-12-13 08:11] msj0nes commented on #10665
Associated : #10732 , #6680 , [#1132](https://github.com/department-of-veterans-affairs/caseflow-efolder/issues/1132)

[2019-12-13 10:48] msj0nes commented on #11451
@Sjones352 Is this ticket now safe to close with the merge above or is additional work needed?

[2019-12-13 13:52] #12889 closed

[2019-12-13 14:05] Sjones352 commented on #11451
@msj0nes yes

[2019-12-13 15:14] #11451 closed

[2019-12-13 15:37] nicholer commented on #11508
Design is complete, so moving to `Ready for Dev` pipeline until associated engineering tickets are complete

[2019-12-13 15:38] nicholer commented on #12607
Design is complete, so moving to `Ready for Dev` pipeline until associated engineering tickets are complete

[2019-12-13 15:38] nicholer commented on #12609
Design is complete, so moving to `Ready for Dev` pipeline until associated engineering tickets are complete

[2019-12-13 15:38] nicholer commented on #12610
Design is complete, so moving to `Ready for Dev` pipeline until associated engineering tickets are complete

[2019-12-13 15:39] nicholer commented on #12612
Design is complete, so moving to `Ready for Dev` pipeline until associated engineering tickets are complete

[2019-12-13 15:51] nicholer opened #12960 "Usability testing virtual hearings (Gen2 functionality) with Hearing Coordinators"
### Background / context
The Caseflow Team is conducting usability testing of Gen2 virtual hearings functionality in Caseflow with a small group of Board users as part of a phased release process. This allows the Caseflow Team to identify and fix potential issues at a smaller scale before a full release, thereby mitigating the risk of widespread problems. Testing will aim to (1) determine how well

[2019-12-13 16:00] nicholer opened #12961 "Email copy for virtual hearing reminders"
### User story
As a Veteran / Representative, I need to receive email notifications to remind me about my upcoming virtual hearing.

Possible use cases:
- As a Veteran / Representative, I need an email reminding me of my upcoming hearing (reminders X weeks, X days, X hours before my hearing).
- `split to another ticket` *As a Veteran / Representative, I need an email confirming that I have a virtu

[2019-12-13 19:05] pshahVA opened #12966 "Pexip URL error in virtual hearings"
UAT Test Error

Problem: When you look at the daily docket as a judge, the "virtual hearings Link" is incorrect.  For example the URL for one of the hearings states:

`https://care.evn.va.gov/webapp/%20%20%20%20%20%20?conference=0000004%20%20%20%20%20%20&pin=3319%20%20%20%20%20%20&join=1%20%20%20%20%20%20&role=host`

![image](https://user-images.githubusercontent.com/49729315/70824583-7f92d400-1db

[2019-12-13 19:08] #11658 closed

[2019-12-13 19:15] leikkisa opened #12967 "Intake | Remanded issues should not be contestable"
## Description
When an issue gets a disposition of "remanded" (for Appeals), or a DTA error (for Higher Level Reviews), those are internal, meaning they aren't final decisions sent back to the veteran, but the decision is to send them back for another review. These are automatically contested on Supplemental Claims.  These issues should not show up as contestable on regular reviews that are initia

[2019-12-13 19:36] pshahVA opened #12968 "Virtual hearings type listed incorrectly on the daily docket"
Error from UAT
When there is a daily docket with only one virtual hearing it is still showing at the hearing type as Video/Virtual.
https://appeals.cf.uat.ds.va.gov/hearings/schedule/docket/10
![image](https://user-images.githubusercontent.com/49729315/70826851-ecf53380-1db5-11ea-84d4-a1ae7f8a16f6.png)

[2019-12-13 19:40] pshahVA opened #12969 "Virtual Hearings Change Judge"
UAT testing error
When testing virtual hearings, if the judge is changed, and email is sent to the old judge, not the new one.

Success Criteria:
1. The email should be sent to the new judge.

[2019-12-13 19:45] pshahVA opened #12970 "Virtual Hearing Error joining conference (pin error)"
UAT Testing Error:
Pexip Error when trying to join a conference from the email link.  The error states invalid pin, even thought the proper pin is supplied in the URL.
 URL: https://care.evn.va.gov/webapp/#/?conference=0000001&pin=7930&join=1&role=guest
![image](https://user-images.githubusercontent.com/49729315/70827365-1498cb80-1db7-11ea-8e69-f2f879e3dee8.png)

Success Criteria:
The URL should a

[2019-12-13 19:47] pshahVA opened #12971 "Virtual Hearings toggle to video incorrect email"
UAT Testing Error

When a virtual hearing is toggled back to video, it should send a cancellation email to the judge, poa, and veteran.  Right now it incorrectly sends the same email as to when a virtual hearing is created.

### Background

This should be handled in the `delete_conferences_job.rb`, and it's at a delayed interval (runs once each day). I think this is a bug where it sends the confir

[2019-12-13 20:14] pkarman commented on #12804
From @rajinderbhanot

[code]

[2019-12-13 20:40] #10896 closed

[2019-12-13 21:05] #12418 closed

[2019-12-13 21:22] pshahVA opened #12973 "Virtual Hearings not displayed on the hearings worksheet printout"
UAT error:
When a hearing is virtual, the hearings worksheet still shows the hearing type as Video.
![image](https://user-images.githubusercontent.com/49729315/70828278-13689e00-1db9-11ea-86a4-78e0c99965ef.png)
Acceptance Criteria:
The hearings type on the worksheet should be correct.  Check that it updates when virtual hearings are removed and added to the docket.

[2019-12-13 21:28] pkarman commented on #10516
- [ ] https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/96964

[code]

[2019-12-13 21:32] pshahVA opened #12974 "No Calendar invites are sent in the virtual hearings emails"
UAT Error
Problem: The virtual hearing emails for:
1.) Creation
2.) Update
3.) Cancellation
Don't have have calendar invites.

Acceptance Criteria:
Calendar invites are sent with the emails.

[2019-12-13 21:50] jcq commented on #12283
### Design question:
Did we decide that we want to go with a general UX where we disable submit buttons if form fields are invalid? I was going to use the existing `QueueFlowModal` component here, which has a concept of (optional) form validation, but doesn't currently have a mechanism for disabling the submit button. I think it makes the most sense to just build that capability in, with the butto

[2019-12-13 21:50] pshahVA opened #12975 "Virtual Hearings Incorrect Email for caseflow"
The hyperlink to the POA in the virtual hearings email needs to be corrected.

This is what displays:

[code]

It should be:

[code]

### Acceptance Criteria:
  - [ ] The link will be correct and the POA can log in and see his Veteran's information.

[2019-12-13 22:02] geronimoramos commented on #12283
I defer to @carodew for any potential design system changes globally.

My 2 cents, I want to say yes so we can minimize room for error in the handoff process between users and in the exchange of information.

[2019-12-13 22:07] carodew commented on #12283
What's the norm in the rest of the application? (apologies, that's not a micro-interaction I've noticed).

My suggestion is to follow the established pattern, but I would love to revisit this decision in January, when I'm planning to really focus in on the design system and getting that effort rolling.

[2019-12-13 22:22] jcq commented on #12283
That's a good question! I don't think I have seen an established pattern across the app as a whole, and it seems validation states seem like an afterthought in a lot of cases. I think we have begun to establish a pattern of disabling the submit when invalid on components that we have been developing recently, but that's at least partially because the indications of required fields, invalid states,

[2019-12-13 23:18] nanotone opened #12976 "Add informational copy to Intake Completed screen"
## Description
As feedback tangentially related to async job messaging work (main ticket is #12926), AMO has asked for a few sentences of informational copy to be added to the Intake Completed screen.

## Acceptance criteria
- [ ] New copy added (see below for the requested language)

## Designs
<img width="704" alt="Screen Shot 2019-12-13 at 18 14 20" src="https://user-images.githubusercontent.co

[2019-12-14 01:26] leikkisa commented on #12289
This came up again, added the Slack conversation link. I think we need to check with both BVA and AMO whether to allow these, and maybe some criteria for it (like allow within 1 week after).  Jane and Paul were in the Slack thread, so for now let's wait on a response.

[2019-12-14 13:27] jimruggiero commented on #12283
@carodew Since there doesn’t seem to be a consistent pattern/norm for this
across Caseflow, I’m going to second Geronimo’s recommendation to disable.
Since you’re focusing on design system work starting on Jan and we plan to
run this through the feature rollout process next month too, we’ll all see
what this will look/feel like during that internal testing. We’re also
making users at the Board tes

[2019-12-16 06:37] leikkisa commented on #10119
We already do validation on the front-end, this is to add a second layer on the back end.  We can see if this has been a problem for any board grant effectuations so far, but I haven't heard of any.  I added the tech improvement label.

[2019-12-16 10:17] msj0nes commented on #10181
@Sjones352 when possible can you let me know if this is still a common sentry alert we need to address or if we can close this ticket.

[2019-12-16 10:50] #12855 closed

[2019-12-16 14:14] D-L-Ware opened #12979 "VBMS API Update to Support Correct Display of Labels in Reader"
## Description
As a user, I would like to see the same label displayed for a document in Reader as users see in VBMS.  For the most part this already exists, however, for some recently added document types (specifically AMA documents) they currently default to 'Other' label in Reader despite having a more detailed label in VBMS.

## Background
Caseflow Reader pulls all documents from VBMS.  Each d

[2019-12-16 14:56] hschallhorn commented on #7556
# [SCORE Satellite](https://en.wikipedia.org/wiki/SCORE_(satellite)) Sprint (Dec 16 - 27)
@yoomlam, @ajspotts, @kevmo, @lomky, @jimruggiero , and @hschallhorn, Here are the sprint priorities for this sprint!
## SCM: Acting on Behalf of Others #11801
1. :three: (ALEC) Add Judge & Attorney Selectors to JudgeTeam Team Page #12433 (completion blocked by 12422)
## Inactive Users #12523
1. :three: Do no

[2019-12-16 16:21] pkarman commented on #10901
Example in prod: User has trouble downloading folder for Veteran with 13k+ documents. PID: 3978641

[2019-12-16 16:23] major commented on #10901
Happy Holidays from @major. 😀

_(You mentioned my username accidentally in one of the messages above and GitHub notified me by email.)_

[2019-12-16 16:35] pshahVA opened #12980 "Daily Docket is missing hearing type"
UAT testing error from virtual hearings
Problem:
Hearing type is missing next to the entry in the daily docket.
AC: The daily docket should match the design.
https://va-gov.invisionapp.com/share/8AUO95JMRW7#/screens/391795321

[2019-12-16 16:43] yoomlam opened #12982 "Fix RecordInvalid: Validation failed: Assigned to has to be an attorney"
## Description

When judge assigns case to user, validation error `Assigned to has to be an attorney` occurs. Judge should not be given an option to choose an invalid user (e.g., a non-attorney).

When `app/controllers/judge_assign_tasks_controller.rb in block (2 levels) in tasks at line 17` is called, `app/workflows/attorney_task_creator.rb in tasks at line 20` raises validation error: `ActiveRec

[2019-12-16 18:30] #12802 closed

[2019-12-16 20:13] D-L-Ware commented on #12834
The appeals data working group has indicated that Thomas Boyda, technical, and Ted Mills, buisness, will be doing acceptance of the ETL structure.

[2019-12-16 21:06] ferristseng opened #12987 "Filters for Hearing Schedule treat days with virtual hearings"
## Description

Days with virtual hearings have the label `Video, Virtual`, and the filters on the Hearing Schedule table treats that as distinct from `Video`. In reality, `Video, Virtual` should probably also show when filtering by `Video`.

## Background/context/resources

Uncovered during the UAT dogfooding session.

## Technical notes

The queue table does a naive comparison of labels (IIRC).

[2019-12-16 21:19] leikkisa commented on #12283
Based on this Slack conversation:
https://dsva.slack.com/archives/C54QCEHAL/p1576527665026800

We are updating the AC for this to be to set the assigned_by user on VacateMotionMailTask to the user who creates the task.  We may in the future create a more generic "Create task" modal, where Lit Support sees the specific tasks they need to create. We can change the task types later if we need to diff

[2019-12-16 21:37] yoomlam opened #12988 "Handle undefined tasks in app/queue/OrganizationQueue.jsx"
## Description

In `app/queue/OrganizationQueue.jsx`, an error occurs when `tasks` is `undefined`. Handle this case better: `OrganizationQueue in length error: Cannot read property 'length' of undefined`

Hunter noted:

and

## Background/context/resources

During Bat Teaming, Sentry alert occurred: https://dsva.slack.com/archives/C4JECDLSE/p1576500167013900

Sentry alert: https://sentry.ds.va.gov

[2019-12-16 21:39] pkarman commented on #12709
This has been deployed to production.

Usage for AMA appeals:

[code]

where `:uuid` is the `appeals.uuid` column value.

[2019-12-16 21:44] jcq commented on #12283
Just to confirm, this would just be a default if assigned_by hasn't been specified, right?

[2019-12-16 22:29] leikkisa opened #12989 "Add missing 930 EP codes"
## Description
When we implemented 930 correction EPs, VBMS was missing 6 EP codes for 930 EPs. Those got created in the coordinated install this past weekend, so we're adding those into the code:

 ![image (17).png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/6462bf70-7dc3-44bf-b887-37f4bc264fd2)

[2019-12-16 23:43] leikkisa opened #12991 "Dispatch Stats Page | Deprecate stats pages"
## Description
The stats pages aren't being visited, and their code is old.  In addition, they are a source of accessibility audit violations.

## Acceptance criteria
- [ ] Remove stats pages
- [x] User sees a 404 message if they try to navigate to them

## Background/context/resources
GH issue for deprecating intake stats page:
https://github.com/department-of-veterans-affairs/caseflow/issues/119

[2019-12-16 23:45] leikkisa commented on #12138
It turns out this is for the dispatch stats page, which has pretty old code and is also using a ruby view instead of our regular client code.  @Sjones352 Looked in Google Analytics whether anyone was visiting the dispatch stats page, and we saw 0 views since October 1st, for both the dispatch and certification stats pages.  Intake stats was deprecated, so we decided instead of fixing this accessib

[2019-12-16 23:45] #12138 closed

[2019-12-16 23:47] jcq commented on #12283
Closing due to revised AC already being present — ticket is moot.

[2019-12-16 23:47] #12283 closed

[2019-12-17 02:24] yoomlam opened #12994 "Handle null error.response.body in EstablishClaim.jsx"
## Description

Update code to handle null `error.response.body` in `app/containers/EstablishClaimPage/EstablishClaim.jsx`.

## Background/context/resources

During Bat Teaming, got Sentry alert Slack msg: https://dsva.slack.com/archives/CAP9C43E2/p1576514628001400

Sentry alert: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7176/

## Technical notes
TypeError: app/contai

[2019-12-17 15:25] #12832 closed

[2019-12-17 16:33] yoomlam opened #12995 "Handle RecordNotUnique: app/repositories/appeal_repository.rb in build_appeal"
## Description

For some reason, `appeal_repository.rb` is trying to save an appeal in the context of doing an appeal search -- perhaps it shouldn't in this case and the code could be updated.

## Background/context/resources

During Bat Teaming, https://dsva.slack.com/archives/CLRTL92TW/p1576515461007100.

Sentry alert: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6730/

[2019-12-17 16:51] jcq opened #12996 "Update Frontend Dependencies 2019-12"
## Description
We want to be in the habit of doing routine bumps of our dependencies to ensure that we're staying current with security and other patches. This should include minor or patch updates, or anything without breaking changes.

## Background/context/resources
We've made good progress recently, but `yarn outdated` shows quite a few available updates

[2019-12-17 17:04] aplybeah commented on #12768
I think the way we cache the hearings from bgs combined with the response from the API is where the issue lies.
**In the job:**
* the job we use to cache hearing data uses the time field in the Active Record. The time for the hearings are stored as one UTC date string. I believe the conversion to more specific timezones are done elsewhere. (e.g. RO21 is "America/Chicago")

**API Response:**
*  Aft

[2019-12-17 17:35] pshahVA commented on #12768
Thanks @aplybeah, do we have the timezones of the alternate hearing location?  If so, then we could send that.

[2019-12-17 17:38] leikkisa opened #12997 "Investigation: Missing associated ratings"
## Description

When a rating request issue is processed in VBMS, it gets a contention on an end product.  When it gets decided, the contention gets a disposition, and a new rating should get created that is associated to that end product.  That rating should also have a rating issue that is associated to the contention.

Once we have both the disposition and new rating issue, we create a Caseflow

[2019-12-17 17:59] leikkisa commented on #12997
Some theories:
- The award wasn't completed
- A rating has been created but it hasn't been promulgated
- I believe we only look at ratings promulgated after the EP got cleared.  Maybe the ratings can be promulgated before the EP is cleared
- The rating for the request issue's decision got associated to a different end product
- Are there cases where we should not expect users to create new ratings

[2019-12-17 18:08] yoomlam opened #12999 "Handle undefined attorney in app/queue/AssignedCasesPage.jsx"
## Description

In `app/queue/AssignedCasesPage.jsx `, an error occurs when an attorney is not found and thus is undefined. Handle this case better: `app/queue/AssignedCasesPage in full_name: Cannot read property 'full_name' of undefined`

## Background/context/resources

During Bat Teaming, Sentry alert occurred: https://dsva.slack.com/archives/CLRTL92TW/p1576600351014300

Sentry alert: https://s

[2019-12-17 20:46] leikkisa commented on #12736
RAMP EPs do not all have end product establishments, so some of them are getting built as non-persistent EPEs when they're used. This was an intentional decision once upon the time, but I would be interested in creating persistent end product establishments for all of them so we can clean up some tech debt around "sync!" that we noticed when Sandra and I were working on something.

[2019-12-17 20:50] leikkisa opened #13002 "How to handle external end product code changes"
## Description
Users are capable of changing the claim_type for end products outside of Caseflow, and have been doing so for a while.  AMO sent out a communication asking them to stop doing that, which is resulting in support tickets.

This is an open ticket for investigations on what the EP code changes are, why users do them, and what we should do to resolve them.

## Background/context/resource

[2019-12-17 20:52] msj0nes opened #13003 "Motions to Vacate | Motion Attorney | UAT Fix"
## [Story](https://github.com/department-of-veterans-affairs/caseflow/issues/11252)
**Update to:**
As a Lit Support team member (commonly Motions Attorney, but keeping Lit Support team member to encompass other Lit Support roles we might not know about yet), I need to be able to assign a task to the judge who will decide the Motion to Vacate decision.

**UAT Findings**
[Removed 'A']
- B) Misspelli

[2019-12-17 20:55] #12975 closed

[2019-12-17 21:20] #12943 closed

[2019-12-17 21:42] TedM-BVA commented on #12709
We need the tree as submitted.  New version is not superior to the version that was originally forwarded.  The version originally forwarded has been briefed and approved, and is heuristically superior to the later version.  I'm also told that UUID is not a better path for linking the task structure of the hierarchy.

[2019-12-17 22:11] yoomlam opened #13005 "Handle malformed dates in app/establishClaimAdmin/StuckTasks.jsx"
## Description

Update code to handle malformed dates in the context of `app/establishClaimAdmin`.
Provide actionable feedback to user.

## Background/context/resources

During Bat Teaming, got Sentry alert Slack msg: https://dsva.slack.com/archives/CAP9C43E2/p1576608327003200

Sentry alert: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7610/

## Technical notes

`./app/u

[2019-12-17 22:13] jimruggiero opened #13006 "Motion to Vacate | Granted | Review vacated decision issues action"
## Story
After a judge addresses a motion to vacate, the decision drafting attorney should be able to review the vacated decision issues.

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: [review_motion_to_vacate]
- [ ] After the judge completes the AddressMotionToVacate task, if it is a grant or partial grant, it creates a ReviewVacatedDecisionsTask assigned to the dec

[2019-12-17 23:07] jimruggiero opened #13007 "Motion to Vacate | Granted | Update attorney review screen"
As a decision drafting attorney I want to see a screen that allows me to review granted motions to vacate from a judge.

## Acceptance criteria
- [ ] When the appeal stream_type is Vacate, after a decision attorney selects the "Decision ready for review" action on their AttorneyTask, they should be directed to `/appeals/[uuid]/tasks/[id]/draft_decision/vacatures` (ultimately up to the engineer)

[2019-12-17 23:09] jimruggiero commented on #13007
![image (9).png](https://images.zenhubusercontent.com/5d2748c531297d7d65f8d26b/b872c96b-7f39-4c0c-8df1-5d15f76f2d0a)

[2019-12-17 23:23] pkarman commented on #12709
@TedM-BVA would something like this match more closely to what you were expecting?

![Screen Shot 2019-12-17 at 5 23 27 PM](https://user-images.githubusercontent.com/1205061/71042656-fd791700-20f1-11ea-9ab8-dc97a4070028.png)

[2019-12-17 23:39] jimruggiero opened #13009 "Motion to Vacate | Granted | Incorporate "Submit Draft Decision for Review" screen into granted straight vacate MTV workflow"
As a decision drafting attorney who has reviewed all issues for vacatur on a given appeal, specifically a straight vacature, I want to be able to draft a decision to send to the judge.

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: [review_motion_to_vacate]
- [ ] If vacate type is **Straight Vacate**, clicking Continue creates the DraftVacatureTask, and automatically

[2019-12-17 23:45] jimruggiero commented on #13009
![image (10).png](https://images.zenhubusercontent.com/5d2748c531297d7d65f8d26b/8487e1ca-f7a3-40ef-abc4-cf93c606eb08)

[2019-12-17 23:50] #12804 closed

[2019-12-18 00:48] #12410 closed

[2019-12-18 00:49] #9590 closed

[2019-12-18 00:49] #12210 closed

[2019-12-18 00:49] #12691 closed

[2019-12-18 00:49] #12793 closed

[2019-12-18 00:49] #12241 closed

[2019-12-18 00:49] #12411 closed

[2019-12-18 00:49] #12672 closed

[2019-12-18 01:08] leikkisa commented on #12692
# SCORE Sprint 12/16 - 12/27
Engineering capacity: 64%
Batteam: Sally (12/23)
Holiday and winter break

## Sprint status
:arrow_right_hook: Carryover: 18
:arrow_right_hook: ✅Carryover completed: 13
:arrow_right_hook: Remaining: 5

⭐️ Points pulled in for this sprint: 18
⭐️✅Points from this sprint completed:
⭐️✅Decided not to do: 6
⭐️Remaining: 12

👾Space invaders pulled in: 8
👾✅Space invaders comp

[2019-12-18 08:21] msj0nes commented on #8227
Closing this ticket. Last alert reported Jan 16, 2019 1:54:20 PM EST. Reopen ticket if alert resurfaces.

[2019-12-18 08:21] #8227 closed

[2019-12-18 08:28] msj0nes commented on #10088
Closing ticket. Issue last seen Jun 15, 2019 6:55:16 PM EDT. Ticket can be reopened if alert resurfaces.

[2019-12-18 08:28] #10088 closed

[2019-12-18 08:31] msj0nes commented on #10112
Closing ticket . Last alert was Jul 20, 2019 7:29:49 PM EDT. Reopen ticket if issue resurfaces

[2019-12-18 08:31] #10112 closed

[2019-12-18 13:05] TedM-BVA commented on #12709
Unfortunately no.  This just doesn’t provide the heuristics that are expected.  Happy to discuss.

From: Peter Karman <notifications@github.com>
Sent: Tuesday, December 17, 2019 6:24 PM
To: department-of-veterans-affairs/caseflow <caseflow@noreply.github.com>
Cc: Mills,Ted <Hugh.Mills2@va.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/caseflow] V

[2019-12-18 15:39] nicholer opened #13011 "Updates to email copy for virtual hearing notifications"
### Story
Updates to virtual hearing copy for email notifications and calendar invitations based on feedback from Board stakeholders

### Acceptance Criteria
- Updated copy: https://docs.google.com/document/d/1u3x6KX5uu7V9G4jjctmuy8-AaXVgzo3t4Nm1C3AzMmE/edit?usp=sharing
- Updates are primarily changes/additions to wording, with the exception of one formatting change:
  - For Representatives (1b, 2

[2019-12-18 15:44] carodew commented on #12246
Closing this since this will also be resolved with #12991

[2019-12-18 15:44] #12246 closed

[2019-12-18 16:54] yoomlam opened #13015 "Handle undefined submit() return value in app/queue/components/QueueFlowModal.jsx"
## Description

Update code to handle undefined return value from calling `submit()` in  `app/queue/components/QueueFlowModal.jsx`.

## Background/context/resources

During Bat Teaming, got Sentry alert Slack msg: https://dsva.slack.com/archives/CLRTL92TW/p1576681692019900

Sentry alert: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7614/

## Technical notes

`Cannot read

[2019-12-18 18:35] pkarman commented on #10516
- [ ] https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/97607/parallel-runs/3?filterBy=FAILED

[code]

appears to be an assumption about `.first`

[2019-12-18 18:40] yoomlam opened #13017 "Investigate and provide actionable error msg for DuplicateUserTask: app/models/tasks/judge_decision_review_task.rb"
## Description

Is the error msg (or something like it) shown to the user?
`Appeal XXXX already has an open task of type JudgeDecisionReviewTask assigned to User. No action necessary`

Provide user with an actionable error message.

## Background/context/resources

During Bat Teaming, got Sentry alert Slack msg: https://dsva.slack.com/archives/C4JECDLSE/p1576687881042900

Sentry alerts:
https://se

[2019-12-18 18:48] yoomlam opened #13018 "Investigate and provide actionable error msg for DuplicateOrgTask: app/models/task.rb in verify_org_task_unique"
## Description

Is the error msg (or something like it) shown to the user?
`Caseflow::Error::DuplicateOrgTask: Appeal XXXXX already has an open task of type PrivacyActTask assigned to PrivacyTeam. No action necessary`

Provide user with an actionable error message.

## Background/context/resources

During Bat Teaming, got Sentry alert Slack msg: https://dsva.slack.com/archives/CLRTL92TW/p157668566

[2019-12-18 18:48] yoomlam commented on #13018
Related to #13017

[2019-12-18 18:48] yoomlam commented on #13017
Related to #13018

[2019-12-18 18:51] yoomlam commented on #13018
Update https://github.com/department-of-veterans-affairs/caseflow/wiki/Ignored-Sentry-alerts#duplicateorgtask-appmodelstaskrb-in-verify_org_task_unique as needed.

[2019-12-18 19:25] #12966 closed

[2019-12-18 20:00] jimruggiero commented on #12929
As of today (12/18) I received another request from the Board (specifically Josh Freeman) to again change the AMA probability from .032 to .188, and change the cap/ceiling limit from 137 to 133; official prioritization and approval by Board leadership is pending. Please do not take action on this ticket until I give a green light.

[2019-12-18 20:49] pkarman commented on #12709
@TedM-BVA and I chatted. We agreed to put a modified layout in front of some Board users in order to get their feedback. I am going to:

- [ ] identify 5-6 production cases with representatively complex task trees
- [ ] change the design slightly to round the corners, give the boxes white backgrounds
- [ ] with with @vatboyda to get Tableau configured

[2019-12-18 20:58] pkarman commented on #12709
Latest design:

![Screen Shot 2019-12-18 at 2 57 45 PM](https://user-images.githubusercontent.com/1205061/71122687-cd3f8000-21a6-11ea-8e92-ebbfd5f49e95.png)

[2019-12-18 21:03] pkarman opened #13021 "ETL Users VACOLS columns"
per @vatboyda

[2019-12-18 23:10] ferristseng commented on #12974
@nicholer There are some attributes we can set in the calendar invite that might need some design work. From what I could find, I didn't see these mentioned. I don't think any of these are required, but might be useful:

  - Summary: basically the event title that shows in the calendar
  - Description: detailed description of the event
  - Duration / End time: how long the hearing will take. how l

[2019-12-18 23:55] #12980 closed

[2019-12-19 00:22] leikkisa opened #13033 "Stop reporting sentry errors to Slack"
## Description
We are working on reporting fewer Sentry errors to Slack, so that we notice the errors that need attention.  We can stop reporting the following errors to Slack:

## Acceptance criteria
Stop reporting the following alerts in Slack.
- [ ] VBMS::FileNumberNotFoundForClaimId in Slack
- [ ] Caseflow::Error::DuplicateEp

## Background/context/resources
VBMS::FileNumberNotFoundForClaimId

[2019-12-19 00:53] jcq opened #13035 "Upgrade jsdom"
## Description
We are using a very outdated version of the `jsdom` library. It in turn has multiple subdependencies with security issues. We should upgrade this.

## Background/context/resources
- `jsdom` is used in our Mocha ("legacy") tests (see `test/node/setup.js`)
- While this is a security concern, it affects only the dev environment, and hence isn't a concern for production

## Technical no

[2019-12-19 14:51] jimruggiero opened #13037 "AMA QR code requires a second urgent update"
User story: As a member of the Quality Review (QR) team at the Board, I need the AMA quality review monthly limit and selection probability to be updated to .188, so that I can reliably receive 130+ AMA cases to review monthly, up to **133** case per month, not 137 as is currently set.

### Acceptance criteria
- [ ] The monthly limit of Quality Reviews is set at 133
- [ ] The Quality Review select

[2019-12-19 15:11] pkarman commented on #12510
Relevant thread https://dsva.slack.com/archives/CFBLH2LR4/p1571861537093100

[2019-12-19 15:16] nicholer commented on #12974
@ferristseng Thanks for the heads up! Since I'm updating the email copy overall in response to stakeholder feedback, I'll include another pass on the calendar invites too. There's overlap in the copy, so once it's finalized we can update both the emails and the invites.

In the meantime: in the email copy doc, at the end of each table, I included a section for calendar invite copy: https://docs.go

[2019-12-19 16:31] hschallhorn commented on #13037
#12915 was merged 9 days ago, lets see what the spread looks like in prod
[code]
Looks like .188 is a good number to hit the goal of 137 a month now that we've ramped up.

[2019-12-19 17:41] hschallhorn commented on #13037
@jimruggiero Ran a bunch of tests with October's number of completed cases (850).

1% of the time, the monthly limit was not reached with this probability.
The fewest number of cases sent to QR was 131.

Here's how many AMA cases have been completed in the last few months

Month|QR and Dispatch cases created
---|---
Dec (projected) | 977
Nov | 772
Oct | 850
Sept | 569
Aug | 363
Jul | 214
Jun | 132

[2019-12-19 18:19] leikkisa commented on #9179
Conversation to add an option to do this from the UI:
https://dsva.slack.com/archives/CFBLH2LR4/p1576000153419300

[2019-12-19 18:24] #13037 closed

[2019-12-19 19:30] #12973 closed

[2019-12-19 19:43] jcq opened #13043 "Update USWDS to 1.6.14"
## Description
[USWDS 1.6.14](https://github.com/uswds/uswds/releases/tag/v1.6.14) has no known vulnerabilities

## Background/context/resources
We only use USWDS styles, not scripts, so security impact should actually be minimal, so this should be low priority

[2019-12-19 20:34] pkarman commented on #10516
[code]

[2019-12-19 20:45] #12812 closed

[2019-12-19 21:20] #13021 closed

[2019-12-19 22:46] pkarman opened #13046 "Create add_index helpers for migrations"
https://github.com/department-of-veterans-affairs/caseflow/pull/13039#discussion_r360030031

Since it doesn't seem like these timeout increases are avoidable going forward, is there any way to put the two SET statement_timeout lines in a method/block or other decorator pattern, so that there's one standardized way to wrap heavy indexing work, and the important lines pop out more?

[2019-12-19 23:04] pkarman opened #13047 "Fix VBMS::DocumentTooBig errors"
https://github.com/department-of-veterans-affairs/connect_vbms/pull/241 implements a new PagedDocuments VBMS service.

### AC
- [ ] Upgrade connect_vbms gem
- [ ] Use the new service in our `VBMSService` class instead of `VBMS::Requests::FindDocumentVersionReference`

### Testing

Test in prod with PID 3978641 and any others.

### Related

#10665
#10901
https://github.com/department-of-veterans-af

[2019-12-19 23:05] pkarman commented on #10901
Being implemented in https://github.com/department-of-veterans-affairs/connect_vbms/pull/241

Closing this ticket in favor of #13047

[2019-12-19 23:05] #10901 closed

[2019-12-20 14:21] yoomlam opened #13048 "Handle undefined submit() return value in app/models/judge_team_role.rb"
## Description

Update code to handle nil  `role.organizations_user` in  `app/models/judge_team_role.rb`.

## Background/context/resources

During Bat Teaming, got Sentry alert Slack msg: https://dsva.slack.com/archives/CLRTL92TW/p1576849281006200

Sentry alert: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7633/
Several alerts in short time.

## Technical notes

`NoMetho

[2019-12-20 14:39] #12856 closed

[2019-12-20 15:25] hschallhorn commented on #12134
@alisan16 What should we return for multiple filter selections? Should we add "and"s in between? Build a grammatically correct list? What's your take on the oxford comma?

[2019-12-20 16:18] hschallhorn commented on #13048
We believed that `dependent: :destroy` was not triggering in `organizations_user.rb` for some reason. Did some testing
[code]

[2019-12-20 16:33] hschallhorn commented on #13048
Another option: Adding this to the JudgeTeamRole DataIntegrityChecker

[2019-12-20 17:01] yoomlam commented on #13048
More clues: https://dsva.slack.com/archives/CHX8FMP28/p1576861134046600?thread_ts=1576853747.034000&cid=CHX8FMP28

[2019-12-20 17:02] pkarman commented on #13048
Possibly due to manual user merging yesterday in https://dsva.slack.com/archives/C2ZAMLK88/p1576759584018600

[2019-12-20 17:03] pkarman commented on #13048
Might be prevented via #9347

[2019-12-20 17:09] pkarman commented on #12709
Example Appeals to review with Board for visual check.

https://appeals.cf.ds.va.gov/queue/appeals/4f5abc88-3c84-4449-8ca6-9df7b9a3471d

[2019-12-20 17:25] yoomlam opened #13050 "Handle RecordNotUnique: app/models/organizations/judge_team.rb in add_user"
## Description

Handle `ERROR:  duplicate key value violates unique constraint`

Might just be user error, but we've recently changed code here.

## Background/context/resources

During Bat Teaming, https://dsva.slack.com/archives/C4JECDLSE/p1576712970056100.

Sentry alert: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7608/

## Technical notes
`duplicate key value violat

[2019-12-20 18:14] yoomlam opened #13051 "Prevent users from accessing other user's cached data"
## Description

Due to caching on the backend, some users are able to access veteran appeals that they do not have permissions to access.

Security issue that I found while on Bat Team. Caseflow caches results from queries to external services (in this case BGS). The code I examined simply uses the `vbms_id` as the key to look up the cached value. Since the key doesn't include the user's ID (e.g.,

[2019-12-20 18:21] yoomlam commented on #13051
If we want to replicate this behavior for this exact user, we should do it soon before the user changes their authorization in BGS and/or CSEM.

[2019-12-20 18:26] yoomlam commented on #13051
We should also search other places in the code base where caching is used and create tickets as needed.

[2019-12-20 19:18] alisan16 commented on #12134
Completely up to you! Either of those options sounds good to me.

[2019-12-20 19:34] D-L-Ware opened #13054 "Appeal 1985: Task Clean up for reporting purposes"
## Description
The appeal linked below needs a cancelled JudgeDecisionReviewTask for VLJ Catino changed from cancelled to completed.

https://appeals.cf.ds.va.gov/queue/appeals/7edc1139-dac9-4380-bdcd-7ba807c04255

## Background/context/resources
In response to a help desk ticket, the team cleaned up duplicate tasks that had been assigned to this appeal.  That clean up resulted in all JudgeDecisio

[2019-12-20 20:04] pkarman commented on #13051
Impersonating BVADFLEMMINGS I cannot load https://appeals.cf.ds.va.gov/queue/appeals/2132604 but instead get the expected 403 error. That is true even after I have immediately accessed it as myself. So that part is working as expected.

I believe it is search results specifically that are leaking because `BGSService.can_access?` is not being called consistently. Working on PR to fix.

[2019-12-20 20:37] pkarman commented on #13021
[code]

[2019-12-23 14:27] hschallhorn commented on #12297
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7647/ as well

[2019-12-23 15:02] lomky commented on #12617
@hschallhorn Yeah, I'm pretty disappointed with this functionality! digging back in to look for something to actually capture the state change.

[2019-12-23 16:01] nanotone commented on #12166
Related to #12158

[2019-12-23 16:03] hschallhorn commented on #12802
@yoomlam [Just cancelled a JDRTask](https://dsva.slack.com/archives/CHX8FMP28/p1577115955056300) per a user request and noticed it was not captured in the doc you wrote up. It is however in the original list of appeals you quoted from Kat. Was there any reason This list was pared down to only 10 appeals when the original list contained 34 appeals?

[2019-12-23 16:20] hschallhorn commented on #12802
Here's the task tree for all of these
[code]

[2019-12-23 17:48] yoomlam commented on #12802
@hschallhorn I think I only searched for appeals with 2 or more **open** JDRTs.

[2019-12-23 17:51] hschallhorn commented on #12802
Alright that would definitely be it. I'll see if I can track down ones with completed JDRTasks and or closed dispatch tasks.

You're on leave, get out of here!

[2019-12-23 18:47] hschallhorn commented on #12802
Yoom, those email alerts better be turned off!

Here's the statement I think we need:
[code]

[2019-12-23 20:47] ferristseng commented on #12768
@aplybeah Thanks for looking into this! I had to deal with something similar to display the right time on the calendar invite.

I discovered that on both `hearing` and `legacy_hearing`, there is a `time` method that gives back an instance of `HearingTimeService`. That has a `local_time` method that should convert the time.

There is definitely some weirdness in how we store the scheduled time. For

[2019-12-23 20:51] lomky commented on #12617
It looks like the new function will save the `object` field, but not the `object_changes` field, which is a bit of a bummer for ease of analysis purposes. But PaperTrail's functionality does not rely on the `object_changes` field.

[2019-12-23 21:35] #12974 closed

[2019-12-24 01:03] nanotone commented on #12166
1. PR for the new ShareError subclass: department-of-veterans-affairs/ruby-bgs#86
2. I investigated 5 recent "No records returned" errors, by looking up the participant ID in BGS and seeing if the returned record was usable for each veteran:
- In 4 out of 5 cases, the new record matched our veteran's full name.
  - For 3 of these, the SSN/file number was clearly a corrected typo -- 2 had adjacent

[2019-12-24 16:28] hschallhorn commented on #12802
Grabbing info for Jim:
[code]

[2019-12-24 21:51] lomky opened #13058 "Task Model Callback Untangling"
## Description

Create a tech spec evaluating the options for reimplementing our domain logic that is currently all captured as ActiveRecord callbacks on Task, its subclasses, and it's related objects.

Goals:
 - Clear & Understandable flow
 - Independently testable behavior
 - Ability to skip domain behavior without losing validation behavior.

## Background/context/resources

 - [Ref in Task Mod

[2019-12-26 18:56] leikkisa commented on #12289
Here's another one:
https://dsva.slack.com/archives/CFBLH2LR4/p1576533492022400

[2019-12-26 19:30] leikkisa opened #13059 "Legacy issue opt-in: adjust design for "None of these match""
## User or job story
User story: As an intake user, when I'm selecting the legacy issue to connect to a request issue, the "None of these match" option seems like it belongs to a specific legacy appeal, and isn't an obvious option. I'd like it to be a clearer option.

## Acceptance criteria
- [ ] Add a new section on the legacy opt in modal, titled "None of these match"
- [ ] Change the radio opti

[2019-12-26 22:05] leikkisa opened #13060 "Add method to re-establish canceled remand EPs"
## Description

Remand and DTA Supplemental claims are automatically established. If a user cancels one, they cannot re-establish it themselves.

This ticket is to add a back end method to re-establish these.

## Acceptance criteria
- [ ] An end product establishment has a method called `reestablish` or something like that
  - [ ] This method creates a new EndProductEstablishment, with the persist

[2019-12-27 00:00] jimruggiero commented on #10036
@leikkisa @msj0nes Is this ticket still relevant?

[2019-12-27 13:54] msj0nes commented on #11999
COR contacted via email regarding this issue ticket and whether a recent VBA/AMO impacted issue sparked its creation.

[2019-12-27 22:33] leikkisa commented on #12386
Will the EP600 be connected to the cleared claim? If we can reliably detect it, then we can close the issues waiting for an award.  We're already doing that if the AMA EP gets manually changed to a 400 EP.

I'm assuming the EP600 is created by the user in VBMS after they clear the AMA claim, but I want to confirm that the ability to create EP600's in Caseflow isn't part of the ask.

[2019-12-27 23:26] leikkisa opened #13062 "When establishing a board grant or remand claim, set the status to "RFD""
## Description

In order to process board grants and board remands more quickly, we would like to set the status of the claim to "RFD" when it's established (instead of "PEND").

## Acceptance criteria
- [ ] The EndProduct.to_vbms_hash method sets the status type code to "RFD" if the end product code is for a board grant, or board remand
- [ ] Othewise, it sets the status code to "PEND". This is t

[2019-12-28 20:08] jimruggiero commented on #12894
@leikkisa @msj0nes Can we discuss possible options to address this? As we prep for PI planning, I'd like to better understand the work involved for Caseflow and BGS.

[2019-12-28 21:36] jimruggiero commented on #12917
@Sjones352 can you provide a screenshot with the new copy?
@msj0nes Please copy/paste the release note into Headway with the new screenshot Sandra provides.

[2019-12-28 23:39] jimruggiero commented on #12003
@lomaxap @pshahVA  Can one of you please add a user story and AC's (if appropriate) to this ticket?

[2019-12-28 23:42] jimruggiero commented on #9625
@lomaxap @pshahVA Can one of you please add a user story and the requested context that @nicholer requested in Sept to this ticket? I know this is related to #8622, but wondering if this is still relevant or stale.

[2019-12-28 23:51] jimruggiero commented on #12768
@pshahVA Can you finalize the AC's and other relevant sections of this ticket? Also, should this be in the either the Backlog or Define pipeline until a solution has been decided?

[2019-12-28 23:54] jimruggiero commented on #12146
@pshahVA should this move to the Backlog?

[2019-12-29 00:14] jimruggiero commented on #12678
@pshahVA @lomaxap  If #10630 and #12274 are now closed, can you clarify what scope remains for this specific ticket to address?

[2019-12-29 00:17] jimruggiero commented on #12651
Moving to Define until baseline requirements are documented in the ticket for both Design and ENG.

[2019-12-29 00:19] jimruggiero commented on #12653
Moving to Define until baseline requirements are complete for Design and/or ENG.

[2019-12-29 00:20] jimruggiero commented on #12654
Moving to Define until baseline requirements are complete for Design and/or ENG.

[2019-12-29 00:21] jimruggiero commented on #12655
Moving to Define until baseline requirements are complete for Design and/or ENG.

[2019-12-29 00:26] jimruggiero commented on #11592
@lomaxap @rubaiyat22 @pshahVA With #11981, #12056 and 12083 now merged, can you clarify what scope remains on this specific ticket?

[2019-12-29 00:30] jimruggiero commented on #12009
@jcq and @lomaxap  With #12945 now open, can you clarify what scope remains on this issue? Can this one be closed?

[2019-12-29 00:36] jimruggiero commented on #12059
@ferristseng Given your comment on 9/19/19, can this one be closed? If not, can you work with @pshahVA to update/clarify the current scope of this issue? Also, is there a user story we can add to provide some context? Curious whether this is truly a Tango issue to resolve for hearings cases, or if this is something for Echo? Let me know your thoughts. Thanks!

[2019-12-29 00:45] jimruggiero commented on #7918
@lomaxap @pshahVA Is this ticket still relevant? See LP's comment above from May. Seems this one could be closed?

[2019-12-29 00:48] jimruggiero commented on #10820
@lomaxap @pshahVA Can this one be closed?

[2019-12-29 00:52] jimruggiero commented on #12002
@lomaxap @ferristseng Given the merged PRs noted above, can we tell me if this ticket can be closed? If not, what scope still needs to be done?

[2019-12-29 00:54] jimruggiero commented on #12215
@lomaxap @ferristseng Now that #12706 is open, what scope will be worked on this issue?

[2019-12-29 01:05] jimruggiero commented on #3367
@lomaxap @ferristseng Can you confirm that this is still an issue? If it isn't, can we please close this issue? This one seems stale. Thoughts?

[2019-12-29 01:08] jimruggiero commented on #12266
@pshahVA What is the next step to move this issue forward? Does ENG need to do some investigation?

[2019-12-29 01:11] jimruggiero commented on #12337
@lomaxap @pshahVA @nicholer What is the next step to move this one out of Define? Is there Design work to be done to address the "Hearings Branch-wide" piece of the user story, or is there additional ENG work that c/should be completed before that?

[2019-12-29 01:13] jimruggiero commented on #12717
@pshahVA @ferristseng Can this be moved to Ready for Dev or are there additional requirements needed first?

[2019-12-30 14:06] Sjones352 commented on #12917
<img width="1045" alt="Screen Shot 2019-12-17 at 11 02 21 PM" src="https://user-images.githubusercontent.com/23080951/71055011-15688f00-2122-11ea-800c-b3d7d4a5494b.png">

[2019-12-30 15:20] msj0nes commented on #10906
## Update

New POC for NCA is Jennifer Kelly
Email:  Jennifer.kelly@va.gov

[2019-12-30 16:42] Sjones352 opened #13064 "Remove Edit in Caseflow button for Board Grant ratings"
For Board grant ratings, when user clicks on  Edit in Caseflow button in VBMS, It returns page not found error. We should not set not set the origSrc attribute for Board Grant issues in order to avoid this error. This should also be tested in UAT before it goes into prod.

![Screen Shot 2019-12-30 at 11.40.38 AM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/df0f38d4-a211-4857-

[2019-12-30 16:50] pkarman commented on #13064
Second guessing myself about the `origSrc` attribute. We might want to set it, but set it to something different than we do for other contentions. Need to confirm this with VBMS.

[2019-12-30 17:41] pkarman opened #13066 "Remove contestable_rating_decisions feature toggle"
Our experiment with including rating decisions was successful. Let's remove the feature toggle for `:contestable_rating_decisions`.

[2019-12-30 18:10] msj0nes opened #13067 "Business Line | Display task creator name CSS ID date time in form"
## User or job story
As a Business Line user, I need to be able to see who created the Intake form within the Business line queue.

Where work is needed: Decision_Review task screen

**Business Lines Tasks**
Fiduciary | https://appeals.cf.ds.va.gov/decision_reviews/fiduciary/tasks/
Insurance | https://appeals.cf.ds.va.gov/decision_reviews/insurance/tasks/
Education | https://appeals.cf.ds.va.gov/d

[2019-12-30 19:29] leikkisa opened #13069 "Motion to Vacate | Granted | Add vacated decision issues to new appeal stream"
## User or job story
User story: As a Judge, after I address a motion to vacate, if there are granted issues, the new appeal stream should come pre-populated with the request issues contesting the decisions marked for vacature. Those should also get decision issues with the disposition of "vacated".

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: [review_motion_to_vac

[2019-12-30 19:54] pkarman commented on #12686
existing SQL https://github.com/department-of-veterans-affairs/appeals-team/blob/master/Engineering/looker-archive/looks_sqls/Alert%20-%20Pending%20Decision%20Documents%20not%20uploaded%20to%20VBMS.sql

[2019-12-30 20:12] leikkisa opened #13071 "Motion to Vacate | Granted | Readjudicate | Decision Attorney | Go to Add Decisions screen"
## User or job story
User story: As a decisions attorney, after I review the vacated decision issues selected by the judge, if the vacature is a Vacate and Readjudicate, I need to be able to add new decisions.

## Acceptance criteria
- [ ] Clicking "Continue" on the "review vacated decision issues" for a **Vacate and Readjudicate** vacature type, directs the user to the "Add Decisions page" (draft

[2019-12-30 20:34] leikkisa opened #13072 "Motion to Vacate | Prepopulated new request issues for straight vacate and readjudicate"
## User or job story
User story: As a decisions attorney, when I am adding new decisions to a straight vacate and readjuciate vacature, the request issues should be pre-populated with the issues that got vacated.

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: [review_motion_to_vacate]
- [ ] When the decisions attorney clicks "Continue" on the "Review vacated decision

[2019-12-30 21:03] leikkisa opened #13073 "Motion to Vacate | Success banner after AddressMotionToVacate task is submitted"
## User or job story
User story: As a Judge, after I submit an AddressMotionToVacate task, when I am redirected to queue I'd like to see a success banner.

## Acceptance criteria
- [ ] The "Disposition saved" success banner shows on the next page after the judge submits an AddressMotionToVacate

## Tech notes
See PostDecisionMotionController.

The banner is currently being displayed elsewhere late

[2019-12-30 21:04] leikkisa commented on #13073
@geronimoramos @rutvigupta-design Do you have a design for this success banner, or do you have opinions on the copy above?

[2019-12-30 22:34] jimruggiero commented on #6904
@nicholer and @pshahVA The last person to touch this one was LP last July wondering if this could be closed. Can you confirm that this should be closed at this time?

[2019-12-30 22:36] pkarman commented on #13051
I can no longer reproduce the original problem because that particular user has had their permissions changed in BGS.

I do not believe, if the `.can_access?` method is applied consistently, that users can see things they should not.

The original "unknown server error" bug should be fixed by https://github.com/department-of-veterans-affairs/ruby-bgs/pull/89

What I have found, however, is that VS

[2019-12-30 22:39] jimruggiero commented on #6926
@nicholer @pshahVA Can you confirm if this work is already done? If not, can you update this epic with what work remains?

[2019-12-30 22:49] jimruggiero commented on #9500
@nicholer and @pshahVA Should this issue be closed, since all child tasks described above are closed and no work has occurred on this effort since Andrew's work last April?

[2019-12-30 22:52] pkarman opened #13074 "Record ETL build stats"
Create a `etl_builds` table with something like:

* created_at, updated_at
* statistics (json column like `distributions.statistics`)

and create a new record for each build. This way we have an easy audit trail for when data was last changed, and how many records were updated for each class.

The model class `ETL::Build` would be created by `ETL::Builder`.

[2019-12-30 22:57] jimruggiero commented on #12005
@lomaxap Is this issue still valid and/or needed? If yes, can you please add a user story and some context? If this is issue is no longer required can you please close it? Thanks.

For now, moving this to the Backlog. (cc'ing @pshahVA and @nicholer for awareness)

[2019-12-30 23:48] leikkisa commented on #12928
Closing this ticket in favor of:
https://github.com/department-of-veterans-affairs/caseflow/issues/10906

This ticket was going to be to remove validation so the user could continue without a claimant, but we've decided to allow them to hand-enter a claimant.

[2019-12-30 23:48] #12928 closed

[2019-12-30 23:55] leikkisa commented on #10906
Moving potential solution notes into a comment (in order to replace them in the ticket description with the decided solution):

### Potential solutions
Have them select that the Veteran is the claimant
- This requires no code changes
- The person processing would need to look at the form to get the claimant's information
- This would make our data flawed, but whether that matters depends on how NC

[2019-12-31 00:41] jimruggiero commented on #9205
@pshahVA Is this ticket still relevant? Seems nothing's occurred since it was opened on 2/5/19. If not, please close this one.

[2019-12-31 01:17] jimruggiero commented on #12649
@lomaxap Can you add a story and/or some context to this ticket?

[2019-12-31 01:33] jimruggiero commented on #12441
@lomaxap Can you add a story and some context to this ticket?

[2019-12-31 14:23] msj0nes commented on #10431
# Support Team Update
This issue still impacting users and needs to be prioritized to resolved reported issues.

# YourIT Tickets Impacted

YourIT Ticket  Number | Date Ticket Created | Case Details URL
-- | -- | --
INC8867687 | 12/25/19 |   https://appeals.cf.ds.va.gov/queue/appeals/4008482, https://appeals.cf.ds.va.gov/queue/appeals/556a20f4-9ec1-4178-86b5-ea74f8bad416

[2019-12-31 14:46] hschallhorn commented on #12782
Let's check out if NoShowHearingTasks are the only ones we need to account for
[code]
Well.... It's not out of the realm of possibility that an org task gets put on hold, so let's write something that handles everything

[2019-12-31 15:36] pkarman opened #13075 "Business Lines | Report | Export non-comp LOB tasks CSV"
## User or job story
As an administrator of a non-comp line of business, I need to report regularly on the number and type of completed tasks for my organization.

## Acceptance criteria
- [ ] On my `/decision_reviews/:business_line_slug` page, an "Download completed tasks as CSV" button (similar to asyncable jobs download)
- [ ] The CSV download file should be named in the format `yyyy-mm-dd-busi

[2019-12-31 15:40] pkarman commented on #9205
The Appeals Status API has no product owner at present, so this and the other mentioned tickets have not been touched since DS departure. Rather than close, I suggest grouping all the Status API tickets for evaluation. The va.gov team will be key stakeholder.

[2019-12-31 16:01] pkarman opened #13077 "XHR response uncaught exception"
## Description
XHR requests that have not-ok responses (e.g. 404) are caught in a general exception handling routine that generates not-actionable Sentry/Slack alerts.

Example: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2991/events/584914/

We should:

* [ ] handle the not-ok XHR responses in the code that generates the XHR request and not allow it to bubble up to sup

[2019-12-31 16:09] pkarman opened #13078 "Appeals API | Legacy Appeal with nil decision_date"
## Description

Appeals Status API does a set comparison of appeals by decsion_date and at least one in the set has a nil value.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6679/events/584947/

[2019-12-31 16:48] pkarman commented on #12864
This is happening frequently. Code is here: https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/concerns/issue_updater.rb#L66

[2019-12-31 16:55] pkarman commented on #12302
dupe of #10948

[2019-12-31 16:55] #12302 closed

[2019-12-31 17:09] pkarman opened #13079 "Include only fully established Appeals in search results"
If an Appeal is not yet established (in the middle of Intake, so it exists in the db but Intake is not finished) it will still appear in search results. This causes an error determining AOD.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7534/events/584978/

[2019-12-31 21:17] leikkisa opened #13081 "Missing Ratings | Handle response for decisions at issue service"
## Description
This is to handle the response from the new BGS service for fetching decisions at issue, rating_profile.find_in_date_range.

## Acceptance criteria
- [ ] Add rating_profile.find_in_date_range to Caseflow
- [ ] Handle the response via a feature toggle [decisions_at_issue_service]
- [ ] Implement in a way that the prior services being used are replaced when using the new service (eith

[2019-12-31 22:42] leikkisa commented on #12851
I'm going to combine this into #13081. I think it will be easier to figure out what to return in Fakes.

[2019-12-31 22:42] #12851 closed

[2020-01-01 08:05] msj0nes commented on #9711
# Update
Closing ticket. Design MURAL added to Epic #8451

[2020-01-01 08:05] #9711 closed

[2020-01-01 09:22] msj0nes commented on #10251
# Update
Closing investigation ticket. Direction on request has been established and can be followed via #11162

[2020-01-01 09:22] #10251 closed

[2020-01-01 23:20] Sjones352 commented on #12694
Connected to legcay issue
<img width="1143" alt="Screen Shot 2019-12-31 at 12 42 37 AM" src="https://user-images.githubusercontent.com/23080951/71611415-95511900-2b66-11ea-90ec-5defea41218a.png">

<img width="1013" alt="Screen Shot 2019-12-31 at 12 38 59 PM" src="https://user-images.githubusercontent.com/23080951/71630012-bc433580-2bce-11ea-8ff3-b20ff53582d5.png">

[2020-01-02 15:32] ferristseng commented on #12717
@jimruggiero I think this is actually low priority, unless there's a need for it outside of virtual hearings. I'm not sure the hearing coordinators have access to view this page yet, so we should confirm that as a prerequisite.

[2020-01-02 15:56] ferristseng commented on #12215
I think we will still need to monitor, and see if #12706 actually fixes it. The PR was opened a while ago, so I can't remember what state it was in @lomaxap

[2020-01-02 15:59] ferristseng commented on #12002
I think this is a very broad tech improvement ticket. I think we should log any specific complaints regarding hearings performance, and we can investigate further, but I don't think there's any specific work to be done for this at the moment.

[2020-01-02 16:05] ferristseng commented on #12059
I think this should move to Echo since they are taking on implementing DAS deprecation. This ticket was created to address this part of the tech spec (https://github.com/department-of-veterans-affairs/caseflow/issues/9930):

I think the behavior described in the tech spec already happens, and requires no further modification, but someone from Echo will need to confirm.

[2020-01-02 16:18] nicholer commented on #12337
From a design perspective, the next steps are: start exploring options for how we might display the status of jobs (in an existing team queue? in a new team queue? somewhere else?); understand the technical feasibility; test/refine with Hearing Branch users.

[2020-01-02 16:43] nicholer commented on #6904
Closing - this work was completed.

[2020-01-02 16:43] #6904 closed

[2020-01-02 16:49] nicholer commented on #6926
Closing - this work was completed.

[2020-01-02 16:49] #6926 closed

[2020-01-02 17:16] nicholer commented on #9500
I'm fine with closing

[2020-01-02 18:54] dwhitted commented on #12952
Checking in the status this ticket associated with INC8822007 Where are you with the customer, have they accepted this solution ?

[2020-01-02 19:16] hschallhorn commented on #12802
anddddddd we did not consider JudgeAssignTasks

[code]

[2020-01-02 21:26] pkarman commented on #3920
We are switching to new SSOi system in Q1 2020 so will reapproach then.

[2020-01-02 21:28] pkarman commented on #10255
this issue seems to have gone away. AWS provisioning is still an issue, and we can probably improve our db connection rate, but this particular issue is no longer of high priority.

[2020-01-02 21:28] #10255 closed

[2020-01-02 21:36] tomas-nava commented on #12952
@dwhitted work on this ticket is not yet complete, and will not be merged until after the code freeze has lifted.

[2020-01-02 23:28] kevmo commented on #12949
Sticky spots so far:
* Attorneys are now pulled using judge roles - causes internal error when seeking to get user [lack of parity - we are not removing judge team roles when a user becomes inactive]

[2020-01-03 18:10] hschallhorn opened #13086 "Investigate why multiple JudgeDecisionReviewTasks are being created"
Followup to #12802. We've now got [4 sentry alerts](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7612/) of duplicate tasks we blocked the creation of.

## AC
- [x] Determine what is causing caseflow to create duplicate `JudgeDecisionReviewTask`s

[2020-01-03 19:47] pshahVA commented on #12059
Yes, we can move it.  Tango did some preliminary DAS deprecation work when there was a slow period for tango.  @lomaxap did the knowledge transfer on this to Echo.

[2020-01-03 19:51] pshahVA commented on #12337
Yes, further research has to be done.  For the hearings MVP, we have implemeted

[2020-01-03 20:00] #9500 closed

[2020-01-03 20:05] pshahVA commented on #12005
Yes, this is something that we've identified as a need to clean up the scheduling altorithm, instead of uploading the spreadsheet.  This work has not been prioritized or even discussed with out stakeholders.

[2020-01-03 20:21] hschallhorn commented on #13086
[code]

[2020-01-03 20:24] jimruggiero commented on #12059
Thank you @pshahVA and @ferristseng !

[2020-01-03 20:25] leikkisa commented on #12165
This defect has been fixed! All claims established, closing this ticket.

[2020-01-03 20:25] #12165 closed

[2020-01-03 20:27] leikkisa commented on #12591
This defect has been fixed! All impacted reviews have been established. Closing the ticket.

[2020-01-03 20:39] hschallhorn commented on #13086
Now let's look at the sentry alert appeals
[code]
Sentry alerts occurred at the following times:

Appeal|Original Creation Time|Alert Times| Difference
---|---|---|---
8721 | 7:52:00 | 7:56:58 PM <br> 7:57:11 PM | <5 minutes after original created <br>  >5 minutes
701 | 6:40:29 | 6:40:55 PM <br> 6:41:40 PM | <1 minute <br>  >1 minute
8745 | 8:15:45 | 8:16:15 PM <br> 8:17:45 PM |<1 minute <br>  2 m

[2020-01-03 21:16] hschallhorn commented on #13086
[Could not find logs for 32911](https://caseflow-kibana.va.gov/_plugin/kibana/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-30d,mode:quick,to:now))&_a=(columns:!(_source),index:'*',interval:auto,query:(language:lucene,query:'%22c9d36ca6-5ed2-4cf1-850a-be129bbd436e%22%20%26%26%20%22570755%22'),sort:!('@timestamp',desc)))
Logs for 8745: [Original task creation](https://c

[2020-01-03 22:31] hschallhorn commented on #13086
Let's look at the logs for the most recent appeal where a duplicate task was created
[code]
[code]
Appeal|Original Request|Second Request
---|---|---
12416| [logs](https://console.amazonaws-us-gov.com/cloudwatch/home?region=us-gov-west-1#logEventViewer:group=dsva-appeals-certification-prod/opt/caseflow-certification/src/log/caseflow-certification.out;stream=i-0fcd430cbbd93af9c;filter=%22fd20598d-f

[2020-01-03 23:12] hschallhorn commented on #13086
Things I tried in dev to spawn multiple requests:
1. Assign case to atty from case details page
1. Hit back button
1. Assign to same atty again
Result: No update to the task or duplication or duplication error

1. Assign case to atty from case details page
1. Hit back button
1. Assign to different atty again
Result: Task correctly reassigned

1. Assign case to atty from assign page
1. Click into t

[2020-01-03 23:17] hschallhorn commented on #13086
[Commits before this first started](https://github.com/department-of-veterans-affairs/caseflow/commits/master?after=dc23a997793fa0989480b884429857755498c165+845)

[2020-01-03 23:22] leikkisa opened #13088 "Missing Ratings | Ability to intake decision reviews with missing ratings/issues"
## Background/context
We are missing data for some rating issues in BGS. After the release of the new BGSService that should reduce this, we've found that some of the missing ratings are still missing from the new service.

When unidentified issues are added, we do not send the actual contention text to VBMS.  Unidentified issues are not supposed to get decisions and have not been set up to suppor

[2020-01-05 20:31] msj0nes opened #13090 "Facilitate Lane Switching | Ability to Edit Specific Intake Field | Receipt Date"
## Request
The ability for certain BVA users to edit specific intake fields
o	change the receipt date

**Justification**
Lane switching scenario justification for ability to edit docket change:

Veterans can choose an appeal lane, but can change their mind at any time; Caseflow should always honor the original docket date (i.e. the very first time the 10182 was submitted) each time a lane change h

[2020-01-06 16:21] jcq commented on #12009
@jimruggiero Sorry for delayed response — yup, this one is good to close out, as we have begun actual implementation from the other ticket. Thanks for checking!

[2020-01-06 16:21] #12009 closed

[2020-01-06 18:49] ferristseng commented on #11757
Docs are here: https://github.com/department-of-veterans-affairs/caseflow/wiki/Caseflow-Hearings

[2020-01-06 18:50] #12649 closed

[2020-01-06 18:50] ferristseng commented on #12649
Docs are here: https://github.com/department-of-veterans-affairs/caseflow/wiki/Caseflow-Hearings

[2020-01-06 18:53] ferristseng commented on #12441
Here in the hearings documentation: https://github.com/department-of-veterans-affairs/caseflow/wiki/Caseflow-Hearings#3-assign-a-disposition

[2020-01-06 18:53] #12441 closed

[2020-01-06 19:13] yoomlam commented on #12955
On Dec 18th, appeal 37770 was fixed by Kat: https://dsva.slack.com/archives/CHX8FMP28/p1576688890093400

[2020-01-06 19:35] pshahVA opened #13092 "Update Production Pexip API"
## Description
At the time if initial development,  the production instance of the Pexip API was not in place.  We need to update the virtual hearings code to connect to the production instance.

## Background/context/resources

## Technical notes

[2020-01-06 19:49] pshahVA opened #13093 "Change the "from" email address in virtual hearings"
## Description
The "from" email that virtual hearings sends doesn't make too much sense, so it needs to be changed to BoardofVeteransAppealsHearings@public.govdelivery.com.   We need to contact granicus support to configure this, prior to making the code change.

## Background/context/resources

## Technical notes

[2020-01-06 19:53] pshahVA opened #13094 "Update Granicus email Api Key for production for virtual hearings"
## Description
The Granicus email solution for virtual hearings is using a temporary key, it needs to be updated with the full production license after it is acquired.

## Background/context/resources
## Technical notes

[2020-01-07 08:30] msj0nes commented on #10511
## Stakeholder Meeting
**Discussion**: Rating Issue with Promulgation Dates in the Future of Form Receipt Dates
**Proposal AMO Approved**: Modify promulgation use in Caseflow to restore missing ratings.
[Meeting Minutes](https://github.com/department-of-veterans-affairs/appeals-team/blob/master/Project%20Folders/Caseflow%20Projects/Foxtrot/Meeting%20Minutes/AMO/1_6_2020.md)

[2020-01-07 08:30] msj0nes commented on #13088
## Stakeholder Meeting
**Discussion**: Rating Issue with Promulgation Dates in the Future of Form Receipt Dates
**Proposal AMO Approved**: Modify promulgation use in Caseflow to restore missing ratings.
[Meeting Minutes](https://github.com/department-of-veterans-affairs/appeals-team/blob/master/Project%20Folders/Caseflow%20Projects/Foxtrot/Meeting%20Minutes/AMO/1_6_2020.md)

[2020-01-07 14:40] hschallhorn commented on #12955
The following appeals were fixed by board request on 12/27.
12445, 15081, 3653, 37770, 39812, 41138, 7178, 8460, 8710, 9323

[code]

[2020-01-07 14:44] hschallhorn commented on #12955
7951 was fixed via user request on [1/3L#D](https://dsva.slack.com/archives/CHX8FMP28/p1578081404231400?thread_ts=1578077153.212500&cid=CHX8FMP28)

[2020-01-07 15:14] hschallhorn commented on #12955
Fixing appeals that have been dispatched: 20212, 762, 3054, 19023, 10094, 3416, 6903, 8554, 5684, 11928, 1849, 2808

[code]

[2020-01-07 15:19] hschallhorn commented on #12955
Cancelling 12416 by board request

[code]

[2020-01-07 15:35] hschallhorn commented on #12955
Making sure we've got all of them this time

[code]

[2020-01-07 15:35] #12955 closed

[2020-01-07 16:01] hschallhorn commented on #13086
More alerts on 2 other appeals: [Alerts](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7612)

[code]

**Alert Times**

Appeal|Original Creation Time|Alert Times| Difference
---|---|---|---
4378|21:47:51|21:48:12|< 1 minute after original created
9647|13:46:50|13:48:31 <br> 13:48:43 <br> 13:49:02 <br> 13:49:16 | < 2 minutes <br> < 2 minutes <br> > 2 minutes <br> > 2 minute

[2020-01-07 16:05] hschallhorn commented on #12824
Because these duplicate `JudgeAssignTask`s were due to duplicate `JudgeDecisionReviewTask`s and all the dupes have been handled in #12955, this can be closed

[2020-01-07 16:05] #12824 closed

[2020-01-07 16:12] yoomlam commented on #13086
This conclusion rules out AWS Lambda retries mentioned here: https://github.com/department-of-veterans-affairs/caseflow/issues/12802#issuecomment-562590900

[2020-01-07 17:39] hschallhorn commented on #12955
Verifying these final trees have been fixed. @pshahVA @jimruggiero

[code]

[2020-01-07 18:07] hschallhorn commented on #13086
Looks like this may be happening from the judge assign page when multiple cases are assigned to one user. Let's see if we can confirm that

[code]

Takeaways!
1. Every appeal that created this alert was assigned to an attorney at almost the same time as at least one other appeal. This confirms that the original assignment is being done through the "Assign cases" page
2. Every appeal with the dupli

[2020-01-07 19:00] hschallhorn commented on #13086
Let's look at the logs for the other case assignment to see if we can find anything odd.
[Logs for 8745](https://console.amazonaws-us-gov.com/cloudwatch/home?region=us-gov-west-1#logEventViewer:group=dsva-appeals-certification-prod/opt/caseflow-certification/src/log/caseflow-certification.out;stream=i-0b2ca2656b50d4683;filter=%228a95962e-ee9d-479d-aa48-325e7b4b8965%22;start=2019-12-27T00:16:33Z) -

[2020-01-08 00:09] jcq opened #13102 "Fix Default Props for DateSelector"
## Description
The usage of the `DateSelector` component seems to — in nearly every case — use "date" for the `type` prop. This is alluded to in #4188, but that doesn't appear to have been completed. This As this appears to be our default, we should specify it to be so in default props. This will help with documentation as well as guiding developers on our preferred usage.

## Background/context/r

[2020-01-08 00:25] jcq opened #13103 "Update Props/PropTypes for `ProgressBar`"
## Description
Rewrite the `ProgressBar` component to accept a `current` prop, instead of specifying as part of the `sections` array prop. This would better conform to best practices, as well as making proptypes and documentation much clearer.

## Acceptance criteria
- [ ] Rewrite the logic to use a `current` prop
- [ ] Update proptypes
- [ ] Update existing components that use `ProgressBar` (4 at

[2020-01-08 03:12] jcq opened #13104 "Style/Theme Storybook"
## Description
We have recently [implemented Storybook](https://github.com/department-of-veterans-affairs/caseflow/issues/12945), which we can likely use to replace the Styleguide. However, while its default UI is certainly functional, we lose the branding that we had previously. Fortunately, Storybook supports theming, and we can come up with a custom look & feel for our implementation!

## Backg

[2020-01-08 15:01] hschallhorn commented on #13086
Thoughts on why #13100 may solve this from slack:

The good news is that the fix for this is pretty trivial and costs us nothing to deploy and see if it works.

[2020-01-08 15:40] msj0nes commented on #12952
# YourIT Tickets Impacted

YourIT Ticket  Number | Date Ticket Created | Case Details URL
-- | -- | --
INC0000000 | 00/00/00 |   Add case details page URL here

[2020-01-08 17:19] hschallhorn commented on #7632
Tested. No longer happens. Closing.

[2020-01-08 17:19] #7632 closed

[2020-01-08 17:44] #12637 closed

[2020-01-08 17:47] hschallhorn commented on #10426
closing in favor of #13015

[2020-01-08 17:47] #10426 closed

[2020-01-08 17:48] hschallhorn commented on #13015
closing in favor of #10632

[2020-01-08 17:48] #13015 closed

[2020-01-08 18:24] msj0nes opened #13106 "Business Line | Update Copy For Completed Tab"
## Description
In Caseflow Intake for Business Lines, the completed tab shows completed forms for the last 7 days ONLY per Caseflow engineer for [batteam](https://dsva.slack.com/archives/CHX8FMP28/p1578493701009900) issue raised.

The tab or page requires a copy (similar) to that of the one in Queue for VSO organizations

### Acceptance Criteria:
- Copy should read "Cases completed (last 7 days)"

[2020-01-08 19:25] hschallhorn commented on #12932
closed in #13019

[2020-01-08 19:25] #12932 closed

[2020-01-08 20:32] hschallhorn commented on #13086
### Testing in UAT.
1. [Login](https://github.com/department-of-veterans-affairs/appeals-team/blob/master/Project%20Folders/Caseflow%20Projects/Intake/Validation.md#caseflow-uat).
1. Sign in as user CF_SCOTTY_283 from https://appeals.cf.uat.ds.va.gov/test/users.
1. Create some cases
[code]
4. Go to https://appeals.cf.uat.ds.va.gov/queue/97/assign
1. Try assigning some cases

[2020-01-08 20:58] hschallhorn commented on #13086
[This comment](https://github.com/department-of-veterans-affairs/caseflow/issues/13086#issuecomment-572108693) outlines EXACTLY what happened.

<img width="538" alt="Screen Shot 2020-01-08 at 3 53 05 PM" src="https://user-images.githubusercontent.com/45575454/72015235-6c4c1a80-322f-11ea-87a2-ea5d7310143b.png">

Tasks returned and sent to the redux store from the assignment of case A were received

[2020-01-08 23:14] hschallhorn commented on #10667
Have not seen for many moons. Closing.

[2020-01-08 23:14] #10667 closed

[2020-01-09 14:24] hschallhorn commented on #8382
@carodew Digging through some old tickets. Is this still something we want to implement?

[2020-01-09 14:43] hschallhorn commented on #10761
[code]

Could be a quick fix, as it's a common feature. But in an unfamiliar code space. Could involve more than a trivial amount of refactoring. May need to reach out to design or make decision. Will need an additional test.

Note that we are limiting this to persisting dispositions when adding an issue.

[2020-01-09 14:50] hschallhorn commented on #4843
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Ticket is well written. If all goes as described, should be fairly simple with some additions to the serializer and some front end refactoring. "2-10" lines of code on the back end - Kevin. May want to float changes by design when PR is ready to review. However, this ticket is pretty old, code m

[2020-01-09 14:57] hschallhorn commented on #9638
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Simply removing text.

[2020-01-09 15:08] pshahVA commented on #12648
@nicholer, I will close this since

[2020-01-09 15:09] hschallhorn commented on #6930
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
This is something that should be split up into multiple PRs.
- [ ] Unify task creation
- [ ] Unify task reassignment
- [ ] Cleanup
No new feature tests, but will probably need to clean up/merge controller tests. Up to the dev to split this out into more parsable tickets if work is going to blow

[2020-01-09 15:12] pshahVA commented on #12648
@nicholer, I was reviewing this and it seems that I had incorrectly changed the title.  This is on the docket after it is scheduled which I still think is a relevant task.

[2020-01-09 15:18] hschallhorn commented on #12480
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

For timed holds that have expired, se what would be the new parent to `assigned`. For timed holds that have not expired, move them under the new parent and set the `TimedHoldTask` to assigned.  Double check that this covers all tasks. Open new ticket if we find other tasks that need to be migra

[2020-01-09 15:21] pshahVA commented on #12927
@nicholer, I would like to include this in the sprint ending 2/7,  We probably need a small screenshot or design for this.

[2020-01-09 15:25] hschallhorn commented on #12795
Rather than a data integrity check, let's go [this](https://github.com/department-of-veterans-affairs/caseflow/issues/12795#issuecomment-558182189) route

_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Seems fairly straightforward. Could be as simple as adding one line to the model and a test. Kat is clutching her ~pearls~ ones. Triple chec

[2020-01-09 16:01] leikkisa commented on #12289
We got approval to go ahead with AMO, moving forward.

[2020-01-09 16:19] #12954 closed

[2020-01-09 16:19] leikkisa commented on #12954
Closing as dupe of #13069

[2020-01-09 16:27] leikkisa commented on #12416
Closing as dupe of #12615

[2020-01-09 16:27] #12416 closed

[2020-01-09 16:47] D-L-Ware commented on #12979
This issue came to the attention of Troy Hamilton and he had this suggestion:

VBMS and the other VBA systems update their document type business data on a quarterly (major release) basis.  This artifact is updated by OBPI a few weeks prior to the beginning of a release with an effective date of the changes that matches the release date.  They do out of cycle changes also but that is limited to em

[2020-01-09 16:48] hschallhorn opened #13110 "Handle single failure in batch assignment of attorney tasks"
As noted in [#13100](https://github.com/department-of-veterans-affairs/caseflow/pull/13100#issuecomment-572249616), now that we batch assign ama tasks, to handle when a single case assignment fails we should put the creation of all tasks inside of a transaction to fail when one fails. We should then also show an error that the user can act upon rather than the generic error.

## AC
- [ ] Front end

[2020-01-09 17:36] nicholer commented on #12927
@pshahVA Design hasn't begun on this ticket yet, so moving to the Design Backlog. It's the other half of displaying Veteran state of residence (related ticket: #12648) - this time on the Daily Docket for representatives and RO Coordinators.

We can discuss where this work should fall in priority.

[2020-01-09 18:36] msj0nes commented on #12453
# Per BGS ticket  INC7600300
DEFECT 1188367 was created in RTC and assigned to Cory Easley from BGS Team 1 for resolution.

BGS is recommending closing the ticket. Data was found out of sync and has been corrected.

[2020-01-09 18:37] msj0nes commented on #12453
# Resolution Confirmed in Prod
Confirmed via CSS ID  VACOWENDET the following page is NOW accessible:
https://appeals.cf.ds.va.gov/queue/appeals/7ca0008e-a077-4d73-af2a-10da3280961

[2020-01-09 18:40] msj0nes commented on #12453
@pkarman  and @leikkisa  ready to close when you are

[2020-01-09 18:44] leikkisa commented on #12453
Thanks @msj0nes ! Closing ticket

[2020-01-09 18:44] #12453 closed

[2020-01-09 18:51] hschallhorn commented on #12680
@kevmo What's left to do on this ticket?

[2020-01-09 19:37] pkarman commented on #12927
tech note: we don't currently cache state from BGS in our db, so unless we are already making a BGS call for this endpoint, this will either (a) have a performance impact or (b) require caching that value in our db.

[2020-01-09 19:55] pkarman commented on #12551
Run in production for 2019-09-01..2019-12-31
[code]
which I am interpreting as *16%* -- does that seem right @D-L-Ware ?

[2020-01-09 19:56] nicholer opened #13112 "Contextual inquiry research study with the Hearing Branch"
### Background/context

The Caseflow Team will conduct wider discovery research into Hearing Management Branch workflows and the needs, goals, and pain points of users who interact with the Caseflow Hearings product.

Developing this deep understanding of our users will allow us to continue building virtual hearings functionality upon a solid foundation. The next use case, in which Hearing Coordin

[2020-01-09 19:58] pkarman commented on #12390
Run in production for 2019-09-01..2019-12-31
[code]
which I interpret as *77%* -- does that seem right @D-L-Ware ?

[2020-01-09 20:05] D-L-Ware commented on #12551
So looking at some old DS reports that track this metric the goal was 85% but the actual metric fluctuated from close to 85% to as low as 0.5%.  So 16% is within the realm of possibility.

If correct, it does, however, indicate to me that we are no auto creating these EP as I thought we were following my conversation with Anya.

If we are not autocreating them this metric is almost solely dependen

[2020-01-09 20:13] yoomlam commented on #13110
Also, double check the case counts for each person in the upper-left are correct.

[2020-01-09 20:17] D-L-Ware commented on #12390
In the realm of the possible.  Running old VACOLS reports on past fiscal years usually gives me a show rate of mid-60%, defined as hearings held versus the total of held, cancelled, postponed, and no show.

So I think I need to understand how we are defining Show Rate to better evaluated this one.

[2020-01-09 20:35] D-L-Ware commented on #12551
So dug a little deeper but Anya said that EPs are autocreated for AMA appeals.  Given the majority of appeals decided by the Board are still legacy (that presumably have to have their EPs manually created) 16% is definitely a reasonable result.

[2020-01-09 20:45] pshahVA opened #13113 "Setup UAT for dogfooding virtual hearings"
User Story:
Setup the UAT environment to have the proper users, data and permission for testing the virtual hearings phase II.

Please refer the the following document for more requirements:
https://github.com/department-of-veterans-affairs/appeals-team/blob/master/qa/test-plans/virtualhearingsDogfooding-2020-01-13.md

[2020-01-09 21:06] pshahVA opened #13114 "Setup UAT data for Vettext"
User Story:
Setup UAT environment to allow for testing of Vetext api.  The api is currently already in production, so changes need to be tested in uat.

Please refer the the following document for more requirements:
Allow pexip api calls made to UAT so that changes can be tested.
Setup test conditions for #12768

[2020-01-09 21:17] ferristseng opened #13115 "Fill out Backend Documentation for Concern Pattern"
## Description

Fill out Backend Documentation for Concern Pattern

## Background/context/resources

https://github.com/department-of-veterans-affairs/caseflow/wiki/Backend-Pattern-Concern

## Technical notes

Tip: You can clone the wiki repository locally

[2020-01-09 21:18] ferristseng opened #13116 "Fill out Backend Documentation for Controller Pattern"
## Description

Fill out Backend Documentation for Controller Pattern

## Background/context/resources

https://github.com/department-of-veterans-affairs/caseflow/wiki/Backend-Pattern-Controller

## Technical notes

Tip: You can clone the wiki repository locally

[2020-01-09 21:21] ferristseng opened #13117 "Fill out Backend Documentation for Generator"
## Description

Fill out Backend Documentation for Generator Pattern

## Background/context/resources

https://github.com/department-of-veterans-affairs/caseflow/wiki/Backend-Pattern-Generator

## Technical notes

Tip: You can clone the wiki repository locally

[2020-01-09 21:21] ferristseng opened #13118 "Fill out Backend Documentation for Helper"
## Description

Fill out Backend Documentation for Helper Pattern

## Background/context/resources

https://github.com/department-of-veterans-affairs/caseflow/wiki/Backend-Pattern-Helper

## Technical notes

Tip: You can clone the wiki repository locally

[2020-01-09 21:21] ferristseng opened #13119 "Fill out Backend Documentation for Job"
## Description

Fill out Backend Documentation for Job Pattern

## Background/context/resources

https://github.com/department-of-veterans-affairs/caseflow/wiki/Backend-Pattern-Job

## Technical notes

Tip: You can clone the wiki repository locally

[2020-01-09 21:22] ferristseng opened #13120 "Fill out Backend Documentation for Mapper"

[2020-01-09 21:22] ferristseng opened #13121 "Fill out Backend Documentation for Migration"
## Description

Fill out Backend Documentation for Migration Pattern

## Background/context/resources

https://github.com/department-of-veterans-affairs/caseflow/wiki/Backend-Pattern-Migration

## Technical notes

Tip: You can clone the wiki repository locally

[2020-01-09 21:22] ferristseng opened #13122 "Fill out Backend Documentation for Repository"
## Description

Fill out Backend Documentation for Repository Pattern

## Background/context/resources

https://github.com/department-of-veterans-affairs/caseflow/wiki/Backend-Pattern-Repository

## Technical notes

Tip: You can clone the wiki repository locally

[2020-01-09 21:22] ferristseng opened #13123 "Fill out Backend Documentation for Route"
## Description

Fill out Backend Documentation for Route Pattern

Also could be good to standardize on this since there are a bunch of different approaches.

## Background/context/resources

https://github.com/department-of-veterans-affairs/caseflow/wiki/Backend-Pattern-Route

## Technical notes

Tip: You can clone the wiki repository locally

[2020-01-09 21:22] ferristseng opened #13124 "Fill out Backend Documentation for Support"
## Description

Fill out Backend Documentation for Support Pattern

## Background/context/resources

https://github.com/department-of-veterans-affairs/caseflow/wiki/Backend-Pattern-Support

## Technical notes

Tip: You can clone the wiki repository locally

[2020-01-09 21:22] ferristseng opened #13125 "Fill out Backend Documentation for Validator"
## Description

Fill out Backend Documentation for Validator Pattern

## Background/context/resources

https://github.com/department-of-veterans-affairs/caseflow/wiki/Backend-Pattern-Validator

## Technical notes

Tip: You can clone the wiki repository locally

[2020-01-09 21:22] ferristseng opened #13126 "Fill out Backend Documentation for Workflow"
## Description

Fill out Backend Documentation for Workflow Pattern

## Background/context/resources

https://github.com/department-of-veterans-affairs/caseflow/wiki/Backend-Pattern-Workflow

## Technical notes

Tip: You can clone the wiki repository locally

[2020-01-09 21:44] Sjones352 commented on #12380
Current Screenshot
<img width="511" alt="Screen Shot 2020-01-09 at 1 14 47 AM" src="https://user-images.githubusercontent.com/23080951/72080811-673ca900-32cb-11ea-8c30-598e70b3535d.png">

[2020-01-09 21:52] jcq opened #13128 "Design | Investigate Alternate Designs for Date Input"
## Description
It might be worth investigating alternate ways to provide date inputs in Caseflow. The ultimate goal should be to minimize any possible confusion over date formats, month vs day order, etc, while maximizing the user's efficiency and the overall user experience.

## Background/context/resources
- The Gov.UK Design System has a [good writeup](https://design-system.service.gov.uk/patte

[2020-01-09 22:01] alisan16 commented on #12390
This hovered around 75% between 2015 - Q3 2018 based on the Product Impact Statement: https://drive.google.com/file/d/1iw3QTGzy0I5lZx_xeWwvqkmPEvPyxfQc/view

It also states:

measure is believed to track the Veteran experience of Board hearings, potentially
indicating the effectiveness of VA communication with Veterans about their hearing and
the ease of attending a hearing. The target for this KP

[2020-01-09 22:21] pkarman commented on #12551
I believe this new code is only reporting AMA cases (Appeals) with `BvaDispatchTask` which legacy does not use.

So this number does seem too low.

[2020-01-09 22:23] pkarman commented on #12551
I am wrong. `BvaDispatchTask` could be assigned either LegacyAppeal or Appeal (AMA). I will modify the code to profile both types to clarify.

[2020-01-09 22:37] pkarman commented on #12551
but I was incidentally correct:
[code]

[2020-01-09 22:56] pkarman commented on #12551
Found at least one bug. "non-denial decisions" should be case-insensitive because we have dispositions of both "Denied" and "denied". Re-running is now 26%. So I am looking for other bugs.

[2020-01-09 23:03] pkarman commented on #12551
I also had the date range wrong. Should be Q4 2019-10-01..2019-12-31

Now I get 27%

[2020-01-09 23:08] pkarman commented on #12551
I get 25% for Q3 (2019-07-01..2019-09-30) so I think we're good with 27% for Q4.

[2020-01-09 23:10] pkarman commented on #12390
When I fixed the date range to just Q4 (2019-10-01 .. 2019-12-31) it goes up slightly to 78.7% so I think we're good. wahoo!

[2020-01-09 23:16] pkarman commented on #12390
@D-L-Ware the definition is here: https://github.com/department-of-veterans-affairs/caseflow/pull/12939/files#diff-ea02ec272fafb6f95e557b7406f28231R9

which you gave a +1 to here https://github.com/department-of-veterans-affairs/caseflow/pull/12939#issuecomment-565430606

[2020-01-09 23:18] pkarman commented on #12551
Of note: the 27% is also true when the date range is 2 days, so I think it *is* automated. Why it is not higher then, I do not know, but I think the N-day range is not the determining factor.

[2020-01-10 12:38] D-L-Ware commented on #12390
Yeah, thinking about if it was reasonable or not the minus postponed was what I was missing.  This looks correct to me.

[2020-01-10 13:29] yoomlam opened #13130 "fix FactoryBot's creation of parent tasks assigned to different appeal"
## Description

In many cases, FactoryBot indirectly creates parent tasks when a test wants to create a particular task. However, the appeal for the parent task is not specified during creation, so the parent task is assigned to a new appeal when it should be assigned to the same appeal as the child task.

## Technical notes

Child tasks whose parents are in a different appeal in lines like:
https

[2020-01-10 15:03] D-L-Ware opened #13131 "Intake Appeals with Granted Substitute Appellants to Caseflow automatically"
## Background/context
In the event that a Veteran dies during the pendency of a claim or appeal a surviving spouse, dependent child, or parent (in that order) are eligible to be substituted to pursue the claim or appeal to completion.  Legal they step into the shoes of the Veteran for the duration of the claim or appeal.

VBA makes the initial determination about  a person qualifies as a substitut

[2020-01-10 15:09] msj0nes commented on #12307
# Closure
Issue was linked to #12453 . Now resolved via BGS team.

Engineering: For BGS integration issues, please open a YourIT ticket and assign ticket to "BGS Prod Supp" assignment group.

[2020-01-10 15:09] #12307 closed

[2020-01-10 16:14] pkarman commented on #12071
fixed in larger fix of closed_at tasks.

[2020-01-10 16:14] #12071 closed

[2020-01-10 16:17] nicholer commented on #12968
@pshahVA Should this ticket be moved to Ready for dev, since it's a bug from UAT that doesn't need additional design?

[2020-01-10 16:31] jorozcoVA opened #13132 "Determining Advance on Docket Motion status for AMA Appeals"
For certain reports, I am using the Advance_on_docket_motions table joining through the Claimants table to the Appeals table. But recently it was brought to our attention that some Appeals which appear to be flagged as AOD in Caseflow were not returning an AOD-granted status from such table. The appeals are: 47644, 48466,48476, and 47444.

I tested using the following queries. (Is there one approa

[2020-01-10 16:42] #13132 closed

[2020-01-10 16:47] #13086 closed

[2020-01-10 17:03] pkarman opened #13133 "Appeals with post-dispatch tasks remain open"
## Description

When post-dispatch tasks are opened on an Appeal (e.g. Mail tasks, or `InformalHearingPresentationTask`), the Root Task may remain on hold indefinitely and the Appeal appears "stuck" with no definite status. This is because [the status of the Appeal is derived from the state of its task tree](https://github.com/department-of-veterans-affairs/caseflow/issues/12713#issuecomment-55401

[2020-01-10 17:05] #12912 closed

[2020-01-10 17:20] pshahVA commented on #12968
Did we miss assigning this one? Thanks!  I'll put it in ready for Dev.

[2020-01-10 17:30] #12969 closed

[2020-01-10 17:42] D-L-Ware commented on #9129
The Board sent me an email about SCT and AMA today so they continued to be interested in seeing this functionality developed.  I noted it must be prioritized.

[2020-01-10 17:48] #12971 closed

[2020-01-10 17:56] yoomlam commented on #13130
Also highly related is invocations like `create(:ama_attorney_task, appeal: appeal)`, which don't set the parent task. For example, in https://github.com/department-of-veterans-affairs/caseflow/blob/dc23a997793fa0989480b884429857755498c165/spec/models/appeal_spec.rb#L157, if you insert `puts appeal.structure_render` within the `it` block, the tasks don't print because a parent task was not set to

[2020-01-10 18:41] #12987 closed

[2020-01-10 19:05] pkarman opened #13135 "Redshift monitoring"
## AC

- [x] Add DD monitoring for Redshift instance
- [ ] Monitor widget for Redshift (with basic row counting)

[2020-01-10 19:25] #13047 closed

[2020-01-10 19:47] pshahVA commented on #11378
@ferristseng, is this still a valid ticket?  I don't understand the description.

[2020-01-10 20:09] hschallhorn opened #13136 "Deep dive into limitations of acting judges in caseflow - Queue"
[Relavent slack thread](https://dsva.slack.com/archives/CJL810329/p1578607001034900)
[Previous acting judge work](https://github.com/department-of-veterans-affairs/caseflow/pulls?utf8=%E2%9C%93&q=is%3Apr++%22Acting+judge%22)
[Batteam](https://dsva.slack.com/archives/CHX8FMP28/p1578069080207800) issues [related](https://dsva.slack.com/archives/CHX8FMP28/p1577821139163100) to [avljs](https://dsva.sl

[2020-01-10 20:12] hschallhorn commented on #11988
#11960

[2020-01-10 20:12] #11988 closed

[2020-01-10 20:31] pkarman commented on #12551
I believe the code is accurate and I will merge.

However, this number seems low over all so I think we should investigate why it is so low (is it a tech problem or a business problem).

[2020-01-10 21:04] carodew commented on #13131
Thanks @D-L-Ware! When this gets prioritized I'm happy to help define the research/design approach.

[2020-01-10 21:42] jcq opened #13137 "PropType Error for QueueTable"
## Description
We routinely see PropTypes-related errors in the JS console caused by `QueueTable` and its related components. This is low priority, as it doesn't impede normal usage, but we should fix so it doesn't pollute our logs and cause us to miss other errors.

## Background/context/resources
- [Slack ticket](https://dsva.slack.com/archives/CQNPUG8EQ/p1578604615001300) from @yoomlam
- These

[2020-01-10 21:55] #12367 closed

[2020-01-10 21:55] #12400 closed

[2020-01-10 22:50] ferristseng commented on #11378
Hmm, there's no description. I think we can close because I forget what this was for

[2020-01-10 22:55] #12510 closed

[2020-01-10 23:09] nanotone commented on #12913
I'm going to call this ticket done without any code changes, and create a new ticket for future related engineering work.

With guidance from @jcq and @leikkisa, I stress-tested the date picker in the non-rating issue UI, which uses the browser implementation of `<input type="date">`, and am quite certain that any modern version of Chrome, regardless of unusual OS locale settings, will restrict ou

[2020-01-10 23:09] #12913 closed

[2020-01-10 23:20] #12782 closed

[2020-01-10 23:28] nanotone opened #13138 "Backend validation against RequestIssues wrongly missing decision dates"
## Description
We sometimes see non-rating issues with decision_date set to nil, despite the date picker UI being apparently effective at preventing invalid or incomplete dates from being submitted. This causes frontend problems when a user tries to load a review with such an issue.

## Background/context/resources
Investigation ticket #12913 for stress-testing the date picker did not surface any

[2020-01-11 00:02] jcq commented on #13007
Existing flows use `SelectDispositionsView` within `SelectDispositionsContainer`. Currently copy (which would be different in these designs) is specified directly in `SelectDispositionsView`, but that could be altered to accept props.

[2020-01-13 07:38] tomas-nava opened #13140 "Sorting by "Date Completed" in a user's Completed tab does not work"
## Description
When viewing completed cases in their queue, a user is unable to sort by "Date Completed". Cases are sortable in all the other columns.

sorts | doesn't sort
--- | ---
![yes-sort](https://user-images.githubusercontent.com/45415133/72238788-bb79ae80-3593-11ea-873b-4e038f2eda08.gif) | ![no-sort](https://user-images.githubusercontent.com/45415133/72238777-b3217380-3593-11ea-9776-0b922a

[2020-01-13 13:42] #11378 closed

[2020-01-13 15:20] #12970 closed

[2020-01-13 15:50] #13079 closed

[2020-01-13 16:21] hschallhorn commented on #7556
# [Transcontinental](https://www.sun-sentinel.com/news/fl-xpm-2001-12-24-0112230419-story.html) sprint (Jan 13 - 26) engineering priorities
@yoomlam, @ajspotts, @kevmo, @lomky, @jimruggiero , and @hschallhorn, here are the priorities for this sprint!
## SCM: Acting on Behalf of Others #11801
1. :star: (ALEC) Add Judge & Attorney Selectors to JudgeTeam Team Page #12433 (completion blocked by #12422

[2020-01-13 16:30] #12949 closed

[2020-01-13 17:09] alisan16 commented on #12553
I edited the previous tracking spreadsheet to a simpler interface here: https://docs.google.com/spreadsheets/d/1OAx_eRhwTaEM9aMx7eGg4KMR3Jgx5wYvsVBypHsZq5Q/edit#gid=593310513

For the quarter of 10/1/2019 - 12/31/2019, the mean recovery time was 38 minutes, slightly missing the goal.

[2020-01-13 17:29] pshahVA commented on #12678
@ferristseng, do you think this is still a relevant ticket?

[2020-01-13 17:32] ferristseng commented on #12678
I don't remember what this was for, so I'm a little hesitant to close it. We should try to understand why it was created.

[2020-01-13 17:32] pshahVA commented on #12301
@alisan16 , I just wanted to confirm that you thought this was a tango error.

[2020-01-13 18:38] pshahVA commented on #12797
Isn't this done?  How do we close this?

[2020-01-13 19:18] pshahVA commented on #10820
closing. This ticket has been open for and we have not been able to reproduce it.

[2020-01-13 19:18] #10820 closed

[2020-01-13 19:20] #12002 closed

[2020-01-13 19:21] pshahVA commented on #12002
closed because this ticket isn't actionable.  More tickets can be opened for specific issues.

[2020-01-13 19:25] pshahVA commented on #12003
@ferristseng , do you have any context?

[2020-01-13 19:32] alisan16 commented on #12301
This is not a Tango error, this is an error with Dispatch. I must have assigned Tango on accident. I'll remove it!

[2020-01-13 19:36] pshahVA commented on #9205
@jimruggiero, I think this will provide real value as the Veteran can see his hearing status on the VA.gov page, but this may not necessarily be Tango.

[2020-01-13 19:40] pshahVA commented on #7918
@ferristseng , do you think this may be irrelevant, I remember doing some refactor work to get all the judges from caseflow?

[2020-01-13 19:47] ferristseng commented on #12003
Yes, this has caused a lot of issues while I was on batteam. This was happening when people were deleting hearings in VACOLS. The `LegacyHearing` instances we had would get orphaned, and the application would error out. I don't know if there's a good fix for this outside of making sure that people don't delete hearings in VACOLS.

[2020-01-13 19:50] ferristseng commented on #7918
LP closed the related issue in February

[code]

So I think it can be closed

[2020-01-13 19:52] #7918 closed

[2020-01-13 20:25] #12891 closed

[2020-01-13 20:53] pkarman opened #13145 "UnknownErrorException in pdfjs"
UnknownErrorException

pdfjs-dist/build/pdf in ?
errorBad encoding in flate stream

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7609/events/591998/

[2020-01-13 21:15] pkarman opened #13146 "Investigate dispatch % 7-day non-denials"
Follow on to #12551

[2020-01-13 21:15] #12551 closed

[2020-01-13 21:25] #12553 closed

[2020-01-13 21:58] jcq commented on #11336
Noting that this is still an issue:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7672/

### Tech notes for further troubleshooting
- if the fn fed to `createLoadPromise` prop fails with a status code of 403 or 404, `LoadingDataDisplay` will always work correct
- if it fails with a different status (or w/o one specified), `LoadingDataDisplay` will render out the provided

[2020-01-13 22:34] leikkisa opened #13148 "Intake | Upstream Error | SuffixName has invalid character(s)"
## Description
When attempting to establish a claim, we are getting the following error:
An error occurred while establishing the claim: Unable to establish claim: insertBenefitClaim: SuffixName has invalid character(s)
Claim not established. System error with BGS.

For one of the impacted reviews, the veteran has a suffix of "JR.", and we've been told that punctuation is not allowed.

## Impacted

[2020-01-13 23:52] jcq opened #13149 "Invalid Prop Warning for QueueTable"
## Description
`QueueTable` expects an object for `tabPaginationOptions` prop, but due to the logic in `OrganizationQueue`, it's possible for it to end up with a boolean. We should alter this logic to ensure we always pass the correct prop type.

This is low priority, as it doesn't negatively impact a normal user — this is just to avoid errors in the JS console.

## Background/context/resources
-

[2020-01-13 23:55] #13133 closed

[2020-01-14 00:04] jcq commented on #11434
Likely related:
A 403 response after completing the assign_to_person modal results in invalid props for `tasks`, which means that calculating `totalTaskCount` causes an error.

- [Sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7728/)
- Error is likely occurring [on line 105](https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/app/que

[2020-01-14 00:43] leikkisa commented on #12590
Sent an email to Nate Carlson with additional information, per action items from the meeting on 1/9/2020. CC'd Mark McConville, Aaron Sisk, Dustin Ware, and Dwight Whitted.

[2020-01-14 00:44] leikkisa commented on #12254
During the meeting on 1/9/2020, we determined that a user needs to add the same POA information to BIRLS. I sent an email to Jane Chi and John Dell with the veteran file numbers today.

[2020-01-14 01:18] leikkisa commented on #12327
Sent an email to Nate Carlson (CC John Dell, Dustin Ware, Dwight Whitted) with the veterans experiencing this error so that he can investigate further.

[2020-01-14 02:40] leikkisa commented on #11742
Email sent to Jack Goldberg, CC John Dell, Dustin Ware, and Dwight Whitted with the information for the remaining Duplicate Veterans.

[2020-01-14 09:33] msj0nes commented on #11691
# Tech Debt Reminder

What happens after an attorney fee appeal gets a decision is out of scope. Current BVA guidance is that these appeals are very rare (two in the last two years) and their decisions being contested (on any claim type, including SC and HLR) is even more rare. If the ability to handle contested decisions becomes a requirement and is prioritized in the future, it will be scoped as

[2020-01-14 17:50] jcq commented on #12297
This seems related to #11434

And we continue to see sentry alerts on this:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7734/

[2020-01-14 17:51] jcq commented on #11434
Likely same issue as #12297

[2020-01-14 20:07] pshahVA opened #13153 "Virtual hearings -incorrect link for hearings coordinator"
Description: The hearings coordinator link to the virtual hearing is incorrect.
Observed: Hearing Coordinator link is guest.
Expected: Hearing Coordinator link is VLJ (host) link
![image](https://user-images.githubusercontent.com/49729315/72378514-89756300-36df-11ea-94f9-4155a211d683.png)

Note to developer: Please test in UAT prior to confirming complete.
Feature Flag: Same as all virtual hearing

[2020-01-14 20:27] pshahVA opened #13154 "Vitrual Hearings Daily Docket - Hearing type not reflecting hearings currently on docket"
- Description - On the Daily Docket, the "Hearing type" (in the top right corner) is not reflecting the hearings currently on the docket
- Observed - Changed hearing type to virtual. It's the only hearing on the docket. Hearing type displays as 'Video, virtual'. The print view is also affected.
- Expected: Hearing type displays as 'Virtual'

![image](https://user-images.githubusercontent.com/49729

[2020-01-14 20:32] pshahVA opened #13155 "Virtual Hearings-Hearing type not reflecting hearings currently on docket"
Description: hearing Overview- Hearing type not reflecting hearings currently on docket
The hearing type doesn't display properly on the daily docket.  The following combinations needs to be displayed properly depending on the hearings that are in the docket.

virtual
virtual/video
video
The following image shows incorrectly when the hearing only had a virtual hearing in the docket:
![image](https

[2020-01-14 20:36] pshahVA opened #13156 "Virtual Hearings incorrect time on email reminder"
- Observed: Hearing time (5:30pm EST) displayed in Veteran, Judge, and POA emails doesn't match the time (12:30pm EST) displayed in Caseflow.
- Expected: Hearing time displayed in emails matches the time displayed in Caseflow.

![image](https://user-images.githubusercontent.com/49729315/72380536-a14ee600-36e3-11ea-8d46-f747e233e4ee.png)

[2020-01-14 20:41] pshahVA opened #13157 "Virtual Hearings incorrect link in email"
Description: The link on the email does not have the ‘#’ at the end of the pin. This causes the ‘invalid error’ pin we’ve seen before.
To be: The link should be corrected as it was on the front end in a similar fashion to #12970
![image](https://user-images.githubusercontent.com/49729315/72380929-75803000-36e4-11ea-8b03-668d58621d17.png)

Please refer to #12970

[2020-01-14 20:47] pshahVA opened #13158 "Virtual Hearings previous email is not shown correctly"
- Observed: When a virtual hearing is changed back to video, the emails that were stored in the virtual hearing are no longer displayed.

- To be (expected): If the hearing was virtual at one point, and then converted back to video, the email addresses should be displayed, but not editable.
![image](https://user-images.githubusercontent.com/49729315/72381237-0fe07380-36e5-11ea-974c-60c82f32bdb6.pn

[2020-01-14 20:51] pshahVA opened #13159 "Virtual hearings change copy due to no cal invites"
#### Description
This ticket is to update the copy in Caseflow wherever 'calendar invitations' are referenced. We will no longer be sending calendar invites in the first release.

#### Copy Updates (Acceptance Criteria)
1. On the 'Change to Virtual Hearing' modal that displays over Hearing Details after the Type is switched to Virtual:
    1. Change from _Calendar invites will be emailed to the Ve

[2020-01-14 21:53] pkarman commented on #12238
I have closed all the stuck appeals that I could. These remain for more investigation:

https://appeals.cf.ds.va.gov/queue/appeals/da5cce0c-ea6b-4879-bd61-90bb5e83e711
[code]

https://appeals.cf.ds.va.gov/queue/appeals/638f2513-7592-42f1-9530-9adff14f8ad0
[code]

https://appeals.cf.ds.va.gov/queue/appeals/644f14bd-d319-408f-b0d2-f0b93e0e640c

[code]

https://appeals.cf.ds.va.gov/queue/appeals/0b47

[2020-01-14 22:10] pkarman opened #13163 "Optimize ODS Redshift schema"
https://dsva.slack.com/archives/CPEMQPVKR/p1579039369031700

To get the best performance out of Redshift we need to optimize the schema keys.

[2020-01-14 22:50] yoomlam commented on #12940
Since a `JudgeTeam` is not an organization that automatically assigns tasks to its members, it won't be included in `auto_assign_orgs`: https://github.com/department-of-veterans-affairs/caseflow/blob/a4d7590ba4beccb3031ce749a7d3fdeb8fba5e96/app/models/user.rb#L338-L342
and hence `remove_user_from_organization` won't be called for JudgeTeams regardless of whether the user is a judge or not.

The in

[2020-01-15 00:38] #12373 closed

[2020-01-15 00:39] #12166 closed

[2020-01-15 00:39] #12976 closed

[2020-01-15 00:39] #12996 closed

[2020-01-15 00:40] #13033 closed

[2020-01-15 00:40] #12355 closed

[2020-01-15 00:40] #12917 closed

[2020-01-15 00:40] #12434 closed

[2020-01-15 00:40] #12792 closed

[2020-01-15 00:40] #12414 closed

[2020-01-15 00:40] #12989 closed

[2020-01-15 00:40] #12926 closed

[2020-01-15 00:45] leikkisa commented on #12397
@pkarman There is a front-end ticket coming up once the back end work is complete to allow connecting multiple issues here:
https://github.com/department-of-veterans-affairs/caseflow/issues/12693
If the veteran selects to opt the issues in, then multiple legacy issues will get closed in VACOLS.

Currently, we connect issues even if they don't get opted in, and if they don't get opted in and are co

[2020-01-15 00:45] #12397 closed

[2020-01-15 00:47] #12694 closed

[2020-01-15 00:47] #12945 closed

[2020-01-15 01:13] leikkisa commented on #12692
# Transcontinental Sprint 1/13/2020 - 1/24/2020
Engineering capacity: 80%
Batteam: JC (1/13)
MLK Day (1/20)

## Sprint status
:arrow_right_hook: Carryover: 15
:arrow_right_hook: ✅Carryover completed: 4
:arrow_right_hook: Remaining: 11

⭐️ Points pulled in for this sprint: 22
⭐️✅Points from this sprint completed: 2
⭐️Remaining: 20

👾Space invaders pulled in:
👾✅Space invaders completed:
👾Remaining:

[2020-01-15 15:52] pkarman commented on #13135
https://app.datadoghq.com/monitors/15016398

![Screen Shot 2020-01-15 at 9 44 43 AM](https://user-images.githubusercontent.com/1205061/72448529-c93e5800-377c-11ea-8a83-7dd71f9cd9bf.png)

[2020-01-15 16:27] pkarman commented on #10665
VBMSError::DocumentTooBig solution is deployed. We need to enable it with a feature toggle `:vbms_pagination`. I am going to test that next week.

[2020-01-15 16:40] #12942 closed

[2020-01-15 16:58] #13113 closed

[2020-01-15 17:36] jcq commented on #9899
Just flagging that this error continues to be seen:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6838/

I see similar alerts from Jan 6th, 7th, & 9th as well, to give context on frequency.

[2020-01-15 17:40] jcq commented on #10402
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7660/

[2020-01-15 17:48] pkarman commented on #13051
@jimruggiero @carodew adding you to this ticket per https://dsva.slack.com/archives/C7P7M26QM/p1577809318003400

[2020-01-15 17:52] jcq opened #13164 "Caseflow::Error::AttorneyJudgeCheckoutError: Validation failed: Benefit type is not included in the list"
## Description
```Validation failed: Benefit type is not included in the list```

## Background/context/resources
- [Sentry Alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7366/)
- Error is occurring in [this block](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/concerns/issue_updater.rb#L43)

[2020-01-15 19:09] msj0nes opened #13165 "BVA Intake | No BVA Policy Regarding Same RO or Station | VBA CorpDB Rule To Be Removed"
## Description
Issue escalated to product team. Issue noted in slack [thread](https://dsva.slack.com/archives/C54QCEHAL/p1579009181283200). BVA Intake user experiencing VBA [Corp DB] error message seen below. Error is due to VBA based rules not related to the Board. This rule or restriction should only be associated to 'reviews' and not 'appeals'.

Resolution Test User CSS ID:  BVAIMBUTLER
Resolut

[2020-01-15 19:14] erluti opened #13167 "Api v3 - use a consistent parameter to identify veterans"
## Description
Update v3 endpoints to use a `ssn` parameter to identify relevant veterans.

## Background/context/resources
API V3 endpoints were identifying veterans through different means.
The current v2 appeals status uses `BGSService`'s `fetch_file_number_by_ssn`, so the new v3 endpoints will use that convention.

[2020-01-15 20:53] yoomlam commented on #12940
From Hunter:

I had a brain fart. I think I was down in the weeds and kept misreading/overlooking the first sentence of this ticket. 🥇

[2020-01-15 21:40] #13157 closed

[2020-01-15 22:15] pkarman commented on #13167
I'm not sure this is what we want to do.

The Veteran may be responding to correspondence that reflects a file number (which could be a claim ID or SSN) and IIRC the form instructs them to reference that file number.

I.e. if the form explicitly asks for a SSN, then this change is fine. But if the form asks for a file number, then calling it a SSN will be misleading.

[2020-01-15 22:54] jcq opened #13171 "ActiveRecord::RecordNotUnique index_hearing_appeal_stream_snapshots_hearing_and_appeal_ids"
## Description
We're seeing a sentry alert with this error:
[code]

## Background/context/resources
- [Sentry Alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7503/)

## Technical notes

[2020-01-16 15:06] carodew commented on #13051
Who is a non-VSO employee? Board employees don't work for VSOs but I'm assuming that's not what you meant.

My gut is for a UI to be as accurate and honest as possible (saying 'No search results' is dishonest). The second gut is to not to suggest to users they can do/view something that they can't (current behavior of clicking on a result and then getting a 403).

That leads me to recommend the th

[2020-01-16 15:13] erluti commented on #13167
The form asks for the SSN and also asks for the `VA File Number (if applicable)`.

[2020-01-16 15:14] pkarman commented on #13077
More example: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7774/events/008130426d174724bb989f7aef1f7f81/

[2020-01-16 16:12] hschallhorn opened #13174 "Create scope in organization for judge teams"
As raised in [#13172](https://github.com/department-of-veterans-affairs/caseflow/pull/13172#discussion_r367497689), there are a few places in the code where we filter out judge teams from organizations by using `organizations.reject { |org| org.is_a?(JudgeTeam) }` This instead should be offloaded to the database, either with a scope or by replacing these filters with `.where.not(type: JudgeTeam.na

[2020-01-16 16:29] hschallhorn opened #13175 "Echo engineering team lines of effort 2020"
Starting a new ticket for the new year! This is a continuation of #7556.

[2020-01-16 16:30] hschallhorn commented on #13175
# [Transcontinental](https://www.sun-sentinel.com/news/fl-xpm-2001-12-24-0112230419-story.html) sprint (Jan 13 - 26) engineering priorities
## SCM: Acting on Behalf of Others #11801
1. :star: (ALEC) Add Judge & Attorney Selectors to JudgeTeam Team Page #12433 (completion blocked by #12422)
1. :star: ⛔️ (HUNTER) JudgeTeam Admins can view JudgeTeam Judge's Queues #12423
1. :star: ⛔️ Link Judge Actio

[2020-01-16 16:30] hschallhorn commented on #7556
#13175

[2020-01-16 16:30] #7556 closed

[2020-01-16 16:55] #12617 closed

[2020-01-16 19:57] ferristseng opened #13181 "Create Draft Pull Request for Controller-Level Schema Validations"
## Description

This came out of the engineering huddle on 1/16. This ticket is to do research and create a draft  PR for what this might look like.

The consensus seemed to be to keep these validations light, and that it also might be hard to capture some of the more complex validations in something like OpenAPI/Swagger.

---

  * Schema validation gives us
    * Documentation
    * Colocated Err

[2020-01-16 19:59] ferristseng opened #13182 "Schema"

[2020-01-16 19:59] ferristseng commented on #13182
Mistake issue

[2020-01-16 19:59] #13182 closed

[2020-01-16 20:10] #12037 closed

[2020-01-16 20:39] jcq opened #13184 "Error in DuplicateVeteranParticipantIDFinder from Incorrect Data in BGS Record"
## Description
While doing intake, the user can get a "Something went wrong" error when doing lookup of veteran. This is due to `DuplicateVeteranParticipantIDFinder` doing lookup on multiple possible fields in the veteran's BGS record:
- ssn
- soc_sec_number
- ssn_nbr

In this case, the `ssn` field was correct, but the `soc_sec_number` was off by one on the final digit (`ssn_nbr` was `nil`). Perfo