[2018-07-26 23:26] sneha-pai opened #6388 "Colocated - Table: "On hold" Tab"
### User Stories
- When an administrative action requires further actions before assigning back to an attorney (e.g. extension request, wait for IHP or POA clarification), co-located team members need to put the case on hold.
  - This does not remove the case from the co-located team member's list of work, but recognizes that further work cannot be done on it at this time. It should not count agai

[2018-07-26 23:31] leikkisa commented on #5628
Yes, this is it! It's just a placeholder for now.

[2018-07-26 23:32] #5628 closed

[2018-07-26 23:38] sneha-pai opened #6389 "Co-located Table: "Pending action" Tab"
### User Stories
- When an admin action's hold is up, co-located team members want to be alerted, so they can continue working on the case ASAP and move the appeal along in the process.

### Mocks
##### Pending Action Tab
![colocated-table-pending-action-tab-768](https://user-images.githubusercontent.com/31224257/43294059-7e8bf330-910b-11e8-8e19-8c384e0f231e.png)

[2018-07-27 00:15] #6362 closed

[2018-07-27 02:42] mdbenjam opened #6391 "Queue improved access control"
We need to make a few improvements to our access control checks.

1) Before searching for a Veteran file number or showing a details page we need to
   - Make a call to BGS to see if the user has access to the veteran file
   - If the user is a VSO check to see if the user is part of the VSO/is the rep for the veteran
1) We need to split up the appeal/task endpoints.
   - One for getting tasks tha

[2018-07-27 02:45] mdbenjam opened #6392 "Build organization frontend"
The organization frontend should display all the appeals with tasks assigned to the organization.

[2018-07-27 14:14] evankroske commented on #6077
## Implementation Plan
- [ ] Load the user's colocated tasks into the store. Estimate: 2 days.
- [ ] Add a page component for colocated admins.
- [ ] Add a table with the admin's tasks.
- [ ] Code review. Estimate: 2 days.

[2018-07-27 14:20] #6340 closed

[2018-07-27 14:42] #6383 closed

[2018-07-27 15:09] #6376 closed

[2018-07-27 15:24] sneha-pai commented on #5439
@laurjpeterson can you please review the A/C here that I've x-ed out to ensure that it is accurate till date.

[2018-07-27 15:25] sneha-pai commented on #6032
closing issue as this is redundant with #5439

[2018-07-27 15:25] #6032 closed

[2018-07-27 15:25] amprokop opened #6395 "Return judge information from and user information from IDT API endpoints"
Related to https://github.com/department-of-veterans-affairs/caseflow/issues/6358

# AC
- `/idt/api/v1/judges` should return a list of all judges, with first name, middle name, last name, and attorney id for each judge
- `/idt/api/v1/user` should return user info for the user associated with a token, with first name, middle name, last name, attorney id, vlj status, and css id
- both routes should

[2018-07-27 15:31] mdbenjam opened #6396 "Refactor Queue to enable pulling only basic appeal information from tasks endpoint and task info from the appeals endpoint"
In thinking through access control, we've decided the need to separate basic appeal info (name, docket number etc) from more sensitive information (appellant, rep, issues, etc.) In order to get to this point we need to separate endpoints. The first endpoint is the tasks endpoint which will return basic information on each appeal. This will not do a sensitivity access check before returning. The se

[2018-07-27 15:40] Chingujo opened #6397 "Change logo color"
### User story
As a user, I want the logo to be light purple because idk

### AC
- [ ] Change the color of the hearing schedule logo to #BB87C8

### SVG
https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Projects/Hearings/Hearing%20Schedule/Designs/Icons/Caseflow%20logo.svg

[2018-07-27 15:52] sneha-pai commented on #6031
closing as this is redundant with #5438

[2018-07-27 15:52] #6031 closed

[2018-07-27 17:28] sharonwarner opened #6401 "View Schedule | Start date filter initial value"
We should show the user how we are filtering our initial call for hearings, so the start_date prop should be set to 90 days ago.

[2018-07-27 17:59] laurjpeterson commented on #5590
@allyceh @amprokop and @laurjpeterson connected on 7/27/2018 to discuss scope. We reviewed the ideal state, october scope, and extra ideal flows in this [mural](https://app.mural.co/t/workqueue2001/m/workqueue2001/1532611240488/4b7f2aa967e925a9dd9086ca1b8b4f001d74cb47).

### Next steps
- Alex to ask BGS about POA address updated dates
- Consider relying on BGS for legacy cases
- Allyce to confirm

[2018-07-27 18:30] laurjpeterson commented on #5439
Looks good!

[2018-07-27 18:41] suzchap opened #6402 "AMA Intake | remove issue modal"
## Story

## Acceptance Criteria

## Copy

## Mocks

## Related issues
- https://github.com/department-of-veterans-affairs/appeals-design-research/issues/953

[2018-07-27 19:13] evankroske commented on #6396
Will full_appeal_info store a superset of the information in basic_appeal_info?

[2018-07-28 01:06] laurjpeterson opened #6407 "Support Quality Review"
The Quality Review department reviews the quality of a subset of BVA decisions before they are sent to Veterans. The current rule is:
- every 10th CAVC appeal is reviewed
- every 20th appeal of any other type is reviewed
- a max of 136 cases are sent to QR in a month

There is functionality in DAS and VACOLS that recognizes which cases are sent to QR at the time the judge sends a case to BVA dispa

[2018-07-30 13:50] evankroske opened #6408 "Debug FACOLS-related(?) test flakiness"
## Context
Our test success rate on master has fallen to 69%:

<img width="1254" alt="screen shot 2018-07-30 at 9 40 13 am" src="https://user-images.githubusercontent.com/357369/43400800-a0b0b53a-93dc-11e8-8793-9a4523660f9b.png">

Some of this flakiness is caused by individual tests, but many of the failures seem to be caused by FACOLS issues:

- ```
  Failure/Error: klass.delete_all

  ActiveReco

[2018-07-30 14:04] laurjpeterson commented on #4985
## Auto-case distribution section of 90 day report

The Board remains committed to an average processing time goal of 365 days for direct docket appeals – appeals received under the new framework that do not include a request for a hearing or an opportunity to submit additional evidence. To accomplish this goal, Digital Service is using a technique called Discrete Event Simulation (DES) to model t

[2018-07-30 14:16] cmgiven commented on #6407
This approach makes sense to me.

Small future note: AMA may justify an increase to the number of cases that go to QR. The Board will want to make assertions that its quality is unchanged from legacy to AMA, which the current sample size is not designed to support. We should particularly ask whether they want to oversample post-RAMP appeals in the October period so as to be able to make such claim

[2018-07-30 14:57] MeredithStewart commented on #6319
7/30 -- Updated plan above based on Justin being out and modified the testing plan that Scott and Justin will do (when they are ready with real data).

[2018-07-30 15:03] abbyraskinUSDS commented on #6098
@leikkisa would working on #6234 unblock this?

[2018-07-30 15:04] abbyraskinUSDS commented on #6234
@suzchap this would be a good one to get ready for dev soon if possible

[2018-07-30 15:46] #6062 closed

[2018-07-30 16:03] Chingujo commented on #6381
@sharonwarner  The parsing T-T.

Here are the error messages in order of above to help with copy and pasting. I separated between sections.
### General
- Please select one of the options below to upload your file.

- Please enter an end date that is after the start date

- We have found a previously uploaded file for these dates. Please check your file to make sure you have entered the correct dat

[2018-07-30 16:05] Chingujo commented on #6381
### Mocks for multiple errors
![upload page multiple errors](https://user-images.githubusercontent.com/23316107/43409039-cbb1664e-93f0-11e8-9b4c-ce16bc311adf.png)

[2018-07-30 16:07] dannysellers commented on #5439
@sneha-pai With such a long label for the admin action type dropdown, it butts up against the Required label, creating a line break:
![screen shot 2018-07-30 at 11 39 04 am](https://user-images.githubusercontent.com/8533004/43407641-4a9319d4-93ed-11e8-942b-2afdf7b5b3a3.png)

How about "Select an administrative action type"?
![screen shot 2018-07-30 at 11 40 34 am](https://user-images.githubusercon

[2018-07-30 16:10] Chingujo commented on #6381
@amiklik
Hi rock star Amanda! Caseflow Hearing schedule is currently trying to nail down error messaging for our allocation algorithms. These are mostly upload errors that deal with the data entry in the file they are uploading.

For more context, the users are HMB branch managers who have a pretty good understanding of the terms such as Regional Office and Central Office. We are also trying to fi

[2018-07-30 16:12] #6048 closed

[2018-07-30 16:21] aroltsch commented on #6407
In Caseflow, there is a table `judge_case_reviews`. We can utilize this table to implement a database trigger to count how many case reviews already happened in the month. We will only be counting cases that are sent to BVA Dispatch location.

1. Is the case a CAVC case? If yes, count how many CAVC cases were created within a month. If it is Xth CAVC case, send it for review.
2. Is the case a CAVC

[2018-07-30 16:32] abbyraskinUSDS commented on #6368
My hunch is that this will be difficult to test until #6148 is complete

[2018-07-30 16:34] laurjpeterson commented on #5575
## Auto-case distribution section of 90 day report

The Board remains committed to an average processing time goal of 365 days for direct docket appeals – appeals received under the new framework that do not include a request for a hearing or an opportunity to submit additional evidence. To accomplish this goal, Digital Service is using a technique called Discrete Event Simulation (DES) to model t

[2018-07-30 16:42] laurjpeterson commented on #5439
@dannysellers - the Required text should no longer be there, for all drop downs. We removed it for the submit draft decision page (see: https://github.com/department-of-veterans-affairs/caseflow/issues/5423) but this should hold true for all. Instead, the error would show up if the user tried to advance without filling required text in.

cc: @sneha-pai

[2018-07-30 16:47] laurjpeterson commented on #6407
@aroltsch - agree that we will only count cases sent to BVA dispatch location. re: number 4. I was thinking we would update Jed's VACOLS counter when we sent a case to QR so VACOLS knew to stop sending cases to QR. do you think this is feasible or too much effort?

@cmgiven  re: 20-sided die - do you think there are any issues if we do 20-sided die but jed's methodology is different? separately, d

[2018-07-30 16:57] aroltsch commented on #6407
I think it would make sense to introduce our own counter assuming we will be deprecating DAS and we will need to introduce our counter anyways at some point. As we roll out to more users, we can ask Jed to adjust his numbers accordingly?

[2018-07-30 17:02] #6321 closed

[2018-07-30 17:06] laurjpeterson opened #6413 "AMA Reporting Requirements"
## Background
AMA introduces many new [reporting requirements](https://github.com/department-of-veterans-affairs/appeals-pm/blob/master/VAIMA-Implementation/reporting-breakdown.md) for the Board and VBA to track. This issue tracks investigation around AMA reporting requirements (Section 5, in the law).

## Goals
- Support the Board in complying with new AMA reporting requirements.
   - Note: This

[2018-07-30 17:13] abbyraskinUSDS commented on #6374
Fix broke caseflow details page - further investigation needed

[2018-07-30 17:14] cmgiven commented on #6407
@laurjpeterson Provided we are both looking at different sets of cases (there isn't ever a case that could get grabbed by both Caseflow and VACOLS), the method doesn't matter. I think the random number generator is probably the better way to go for the long term, but there are tradeoffs.

Advantages:

* Doesn't require a counter, easier to implement.
* Independence of draws, so its more difficult

[2018-07-30 17:20] #6345 closed

[2018-07-30 17:34] laurjpeterson commented on #6407
Thanks @cmgiven - can you explain more about the 2nd downside bullet? I spoke with Josh Freeman about QR on Friday, and he explained that over selection of cases for QR is much better than underselection of cases. I'm hesitant to explore an option that leaves QR at risk of underselection.

[2018-07-30 18:11] kahlouie opened #6416 "Clean up failed Ramp Refiling EP data"
There have been 13 cases where the completion of a Ramp Refiling failed mid way through. We can see all 13 currently affected file numbers via the following console query:

[code]

We need to determine a way to clean up this data and then do it.

## Technical notes
This can cause an error when the Refiling is re-processed. Example:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/i

[2018-07-30 18:17] dannysellers commented on #5440
Should this always say "Your IHP has been...", or should "IHP" be replaced by the specific action type? (i.e. the (right-side) values from [`CO_LOCATED_ADMIN_ACTIONS.json`](https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/constants/CO_LOCATED_ADMIN_ACTIONS.json))

[2018-07-30 18:20] leikkisa opened #6417 "Bug with connect_vbms"
Issue sending requests with VBMS5, still investigating

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2143/

[2018-07-30 18:28] aroltsch opened #6419 "Implement a way to select cases for QR when judge sends a case to BVA Dispatch"

[2018-07-30 18:29] #6350 closed

[2018-07-30 18:30] cmgiven commented on #6407
That might be sufficient to rule it out. Here's an example:

Let's say the Board does 10,000 decisions a month. QR wants 200 cases. If we were to use a naive probability of 200/10,000 (2%), 50% of the time (actually 49% of the time, because [binomial probability](https://www.khanacademy.org/math/ap-statistics/random-variables-ap/binomial-random-variable/v/binomial-variables)), we'd grab too few ca

[2018-07-30 18:32] kahlouie commented on #6374
It didn't break caseflow details page, but it did get rolled back in the deploy. Will wait until the next deploy for it to go out in prod. Also fun news is that I should have access to test prod.

[2018-07-30 18:55] kahlouie commented on #6416
These appear to happen directly after the VBMS v5 errors. They may only be nil when VBMS fails OR it could be the other way around where when valid modifiers is nil, it causes VBMS errors. I'm unsure how we get the sentry errors published into slack. We should still continue looking at this one in case that is not true.

[2018-07-30 18:55] leikkisa commented on #6417
Turned of VBMS v5 in Feature toggle, I had turned it on prematurely (thinking it was related to the Germany bug)

[2018-07-30 19:43] #5833 closed

[2018-07-30 19:53] #5691 closed

[2018-07-30 19:56] evankroske opened #6423 "Queue API | /appeals/123/tasks doesn't support appeals assigned to locations"
The case details page for cases that are assigned to locations, not staff, [was failing to load](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2156/) because /appeals/123/tasks was returning a 500 error. The problem: AppealsController.tasks couldn't handle CaseAssignments with the field assigned_to_css_id set to nil.

[2018-07-30 20:37] #6224 closed

[2018-07-30 20:47] suzchap commented on #5878
@abbyraskinUSDS what does this line from above mean? Are there UI implications?
"There is a fixed subset of payee codes that can be applied to 030 and 040. We should confirm with AMO that those are correct and hard code them into our app."

[2018-07-30 21:00] abbyraskinUSDS commented on #5878
For now, we should just include every possible payee code - I believe Sally has the list. Maybe we keep this ticket open for investigating how to make this list "smarter"?

https://github.com/department-of-veterans-affairs/caseflow/issues/6234

[2018-07-30 21:26] #6397 closed

[2018-07-30 21:28] #5854 closed

[2018-07-30 21:32] #6381 closed

[2018-07-30 21:45] tejans24 opened #6426 "Judge Algorithm | Fix the disabled and non-deterministic tests"
It always passes locally but only fails on CircleCI

[code]
![Screen Shot 2018-08-16 at 12.01.47 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/582a398e7d9c5f1300c030ee/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772b6455f56b7191a379ed0c2b50415b49bc21254d58eeb9cb74fce36f34985619e8d96f0e76903818aeb18249bb01eb278b4fd7b4b98a4f92fa2137a5dad11b61435c52dcbd4f

[2018-07-30 21:52] suzchap commented on #5501
LGTM

[2018-07-30 21:52] #5501 closed

[2018-07-30 22:32] leikkisa opened #6427 "Backfill and End product modifier not getting saved to End Product Establishments"
Noticed when poking through UAT that End Products are getting created correctly with the correct modifier, but that the end product modifier in EndProductEstablishments is nil.

[2018-07-30 22:47] leikkisa commented on #5868
Should I keep the "Select from previously rated issues" heading?
<img width="866" alt="screen shot 2018-07-30 at 3 45 50 pm" src="https://user-images.githubusercontent.com/6589610/43427745-d37f1e6a-940f-11e8-9226-6faa3c6f6841.png">

[2018-07-30 23:16] kahlouie commented on #5991
The current work as is in prod behind the intakeAma toggle allows users to submit a decision date that's not complete, like `03/` as the date. We'll need to fix that before continuing forward.

[2018-07-31 00:10] leikkisa commented on #5878
Here is the list of payee codes:
Veteran | 0
First Payee Recipient | 1
Second Payee Recipient | 2
Third Payee Recipient | 3
Fourth Payee Recipient | 4
Fifth Payee Recipient | 5
Sixth Payee Recipient | 6
Seventh Payee Recipient | 7
Eighth Payee Recipient | 8
Ninth Payee Recipient | 9
Spouse | 10
C&P First Child | 11
C&P Second Child | 12
C&P Third Child | 13
C&P Fourth Child | 14
C&P Fifth Child |

[2018-07-31 00:12] leikkisa commented on #5878
Also, asking Kristen if she knows anything about the limited subset for 030's and 040's, and about VBMS-side validation.

[2018-07-31 00:40] leikkisa commented on #6374
For validation, I think @abbyraskinUSDS should try starting one of the BEAAM intakes, and then if she can get to the Review page (meaning the error is fixed), then she can cancel the intake.

[2018-07-31 00:46] leikkisa commented on #6417
I think we need to investigate whether any data clean up needs to happen after these errors.
- Check if the Ramp Refiling/Ramp Election end products got created (and not rolled back)
- If so, then if we re-intake them does it overwrite the existing End Product?
- If so then we're fine. If not, then would we manually finish the intakes?

In terms of validating, we should check if RampRefiling/RampE

[2018-07-31 00:59] leikkisa commented on #6093
Regarding validation, I noticed while looking at UAT data earlier today that the EndProductEstablishments table was not saving the modifier to the DB, although the EndProducts were correctly being created, and other data was being saved to the database.

I checked prod data, and there was a record with a modifier on 7/27, which should have been after this was merged, everything since then is missi

[2018-07-31 03:03] tejans24 opened #6429 "Judge assignment judge_id is not being passed to VACOLS for update"
related to #6425

[2018-07-31 13:48] sharonwarner opened #6430 "View Schedule | Multiple hearings for one day"
Currently, in ListScheduleContainer, we key by date when pulling hearings from the backend. That means we only display one hearing per day. We should key by another attribute and sort by date.

AC:
- Hearings are sorted by date
- Multiple hearings per day are displayed

[2018-07-31 13:49] #6129 closed

[2018-07-31 13:49] #6199 closed

[2018-07-31 13:49] #6429 closed

[2018-07-31 14:00] laurjpeterson commented on #6407
I see, thanks for the explanation. (Though I'll need to watch Rosencrantz and Guildenstern are Dead in follow-up...) I think we should go to 2.5% of the cases. Josh explained that they hit the limit around the 3rd week of the month currently, so I think hitting the limit earlier in the month is ok.

How would we implement this? I'd like to send an explanation to Josh, and give @aroltsch some guida

[2018-07-31 14:10] #6309 closed

[2018-07-31 14:59] sharonwarner opened #6431 "Judge Algorithm | Bug fixes"
- The algorithm can assign a judge to multiple hearings on one day

<img width="409" alt="screen shot 2018-07-31 at 10 51 14 am" src="https://user-images.githubusercontent.com/4306128/43467436-b385c050-94af-11e8-8256-984a7fe320b5.png">

- We don't assign hearings to the final day in the schedule period.

[2018-07-31 15:17] mdbenjam commented on #6370
What should the loading state for the number of documents be? Is the text `Loading number of docs...` okay?

[2018-07-31 15:41] Chingujo opened #6433 "Design Audit for Hearing Schedule"
## Home page - View the Schedule
_Note that this will most likely change in the future as we develop other aspects of hearing schedule and we tighten up design for future iterations_
Title: Welcome to hearing schedule
Body: The below table shows the hearings scheduled for the dates listed in the below date fields. To change the view, please select a new date range using the From and To fields. To

[2018-07-31 15:42] Chingujo commented on #6433
@sharonwarner

Moved this over from appeals design and added a mock. Didn't put any other labels as none of the above are super high priority.

[2018-07-31 15:54] cmgiven commented on #6407
Using the numbers from Lauren's email to Josh, we should take 4% of cases (0.04). Here's the explanation, as could be left in a comment next to that constant (and note that when Caseflow handles everything, this number will need to be revised down).

[code]

[2018-07-31 16:35] #6231 closed

[2018-07-31 17:11] #5917 closed

[2018-07-31 17:21] sharonwarner opened #6436 "Review Assignments | Finalized JudgeSchedulePeriod"
A finalized JudgeSchedulePeriod currently shows an 'Algorithm Unsuccessful Error' instead of an 'Expired' error.

We should update show in schedule_periods_controller.rb to return the correct error.

[2018-07-31 17:41] mkhandekar commented on #6370
We decided to have the loading text on the table, but not in case details.

[2018-07-31 17:43] laurjpeterson commented on #6407
For context, my email to Josh:

Hi Josh,

Thanks again for connecting last Friday. Here's what we're thinking to support Quality Review while piloting Caseflow judge check out to BVA dispatch functionality as soon as this week.

What do you think about this methodology?:
- Divide the 136 cases sent to QR between Caseflow and DAS/VACOLS cases proportionally - 24 judges piloting Caseflow is 1/4th of

[2018-07-31 18:08] #6436 closed

[2018-07-31 18:31] #6374 closed

[2018-07-31 18:31] leikkisa commented on #6374
Abby validated this in Prod

[2018-07-31 18:31] kahlouie commented on #6416
We have not seen this and RAMP intakes have been taken since. Our original theory that these were related to the VBMS errors might be true.

[2018-07-31 18:33] leikkisa commented on #6417
We have verified that this is fixed. Still need to check in on data integrity.

[2018-07-31 18:45] leikkisa commented on #6317
There will be additional rounds of data to test, it sounds like there are two more weeks of VBMS testing, so this will be completed around August 14th.

[2018-07-31 18:52] leikkisa commented on #5878
This is where we can find out which payee codes are valid for which end product type:

StandardDataWebService.findPayeeCdsByBnftClaimTypeCd

shareComndTypeCd = CEST
pgmTypeCd = CPL or CPD (CPL is live veteran, CPD is a death claim)
svcTypeCd = CP
bnftClaimTypeCd = your EP label, eg 030HLRR

[2018-07-31 19:11] lakohl commented on #5110
@annienguyenUSDS when HP demo is stabilized we could ask the 508 team to re-test.

[2018-07-31 19:13] lakohl opened #6440 "SPIKE: Hearing Worksheet | allow users to enter data with a stylus"
SPIKE: What would it take to format our Hearing Worksheet data entry fields so that judges could make entries using a stylus?

Some Judges have indicated that they are slow typers or feel uncomfortable typing in front of a Veteran during the hearing bc it prevents them from making eye contact as often. They would like to use HP to prep and share notes with attorneys, but want to be able to take no

[2018-07-31 19:15] lakohl commented on #6440
I attempted to test the caseflowdemo.com version of Hearing Prep on a Surface Pro, but it did not have Chrome installed, so I wasn't able to open HP.

I was able to test the caseflowdemo.com version of Hearing Prep with a Chrome Pixelbook. The stylus was easy to use within the app, but only generated a cursor. In order to actually write with the stylus within the notes field would require addition

[2018-07-31 19:35] lakohl opened #6441 "Update Environments page with current demo access instructions for each app"
The [Caseflow environments page](https://github.com/department-of-veterans-affairs/appeals-deployment/blob/master/docs/environment-info.md) is out of date. It needs to be updated with instructions for accessing each app. Unless otherwise noted, the demo environment user selection page for the apps listed below is [caseflowdemo.com](http://caseflowdemo.com).

_Below are updates that I've tested and

[2018-07-31 19:41] mdbenjam opened #6443 "Can we use the VSO organization code for board admin teams?"
In order to launch to admin teams at the board we'll need a streamlined way to make new queues. To do this effectively I believe we should move towards very generic queue code where we can store queue parameters in our database to make it simple to spin up new queues. The way we built the VSO queue is the first step in this direction. The VSO queue is built on the idea of organizations within the

[2018-07-31 19:53] nolawi commented on #3260
No @lakohl

[2018-07-31 19:53] #3260 closed

[2018-07-31 20:03] MeredithStewart commented on #6319
# Stakeholder Rollout of MVP

**Objectives:**
* For our stakeholders to be able to check the results of the algorithms, they need to view outputs that would mirror expected results and real dates.
* For the Judge Algorithm, we need them to test before saving to VACOLS for the first half of FY19.
* For the RO Algorithm, we need them to test before saving to VACOLS for the second half of FY19.

**Te

[2018-07-31 20:13] lakohl commented on #6441
_Below are updates that I've tested and confirmed work, other user names may also apply_

### Caseflow Commons (Styleguide)
**User:** BVAAASHIRE at 101, FAKEUSER at 283

**App Selector:**
Miscellaneous -> Style Guide

### Certification
**User:** BVAAASHIRE at 101, FAKEUSER at 283, but any user seems to work

**App Selector:**
Certification ->Matching Dates
Certification ->Fuzzy Matching Dates
Cert

[2018-07-31 20:22] sharonwarner opened #6444 "Testing | RO Algorithm"
1. #### Test that the hearing days are spread evenly throughout the entire schedule period
- [x] Create a schedule period that is 1 year long
- [x] Allocate 2 hearings to each RO
- [x] Confirm the hearing days are spread evenly throughout the year

2. #### Test that RO non-availability days are filtered out
- [x] Create a schedule period that is 1 week long
- [x] Assign 4 non-availability days to

[2018-07-31 20:56] laurjpeterson commented on #6443
To help this discussion, here is a list of appeals processing tasks associated with organizations at the Board:

Organization | Example tasks | Notes
---|---|---
VLJ Support Management Branch / Co-located Admin Support |- Hearing clarification<br>- POA clarification<br>- Edit case data<br>- Arneson letter<br>- other Admin actions, etc.
FOIA/Privacy Act | - Process FOIA request<br>- Process privacy

[2018-07-31 21:01] laurjpeterson commented on #6443
- I like the approach of having organizational queues because of the flexibility it provides - we can choose to show org queues or default to round robin
- The only risk I see is mimicking the BVA org chart too much, and keeping up to date with organizational changes. This could be mitigated by building a configuration UI, where admin users map employees to organizations

[2018-07-31 21:37] kahlouie commented on #5991
@suzchap Looks like if decision date is required, there's a weird formatting issue that occurs. Would you like us to add space to decisionDate so that it has room for the `Required` or would you like to move Required label on all sections to a different place?
![Screen Shot 2018-07-31 at 2.02.59 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b0329701e56750012d0676e/12

[2018-07-31 21:39] sharonwarner opened #6447 "Testing | Judge Algorithm"
#### Test that judges are not assigned hearings on their non-availability days
- [ ] Create 1 judge in FACOLS and our db
- [ ] Create a schedule period that is 1 week long
- [ ] Create 1 hearing for each day
- [ ] Create 1 non-availability day for the judge
- [ ] Confirm the judge algorithm throws an error
- [ ] Create 1 more judge in FACOLS and our db
- [ ] Confirm the hearing days are evenly spl

[2018-07-31 21:41] #6401 closed

[2018-07-31 21:41] #6430 closed

[2018-07-31 22:17] suzchap commented on #5991
We're actually going to remove the required label moving forward. We may introduce an "optional" label at some point but not yet. Does that fully fix your problem?

[2018-07-31 22:45] kahlouie commented on #5991
Yes. Thanks @suzchap I'll leave it as is until we get to that story.

[2018-07-31 22:51] lakohl commented on #5621
This is covered by this ticket: https://github.com/department-of-veterans-affairs/caseflow/issues/6441

[2018-07-31 22:51] #5621 closed

[2018-07-31 22:53] lakohl commented on #5110
I made this ticket to update the environments page with instructions for accessing our apps: https://github.com/department-of-veterans-affairs/caseflow/issues/6441
Once it's updated, we'll need to provide that info to the 508 team as well. See https://github.com/department-of-veterans-affairs/appeals-pm/issues/2101

[2018-08-01 01:04] lakohl opened #6449 "Hearing Worksheet | Display Rating Percentage by Issue"
As a judge I would like to know the Veterans current rating for each issue on the Hearing Worksheet.

## AC
1. Display the rating percentage for individual issues in the issue's notes box.
1. After any pre-populated notes add a semi-colon and display the following: 'Rated at: [x%] on [mm/dd/yyyy]'
1. If no issue rating exists, do not display any rating copy after the pre-populated notes

## Mock
!

[2018-08-01 01:08] lakohl commented on #6449
closing. duplicate of https://github.com/department-of-veterans-affairs/caseflow/issues/5102

[2018-08-01 01:08] #6449 closed

[2018-08-01 01:25] lakohl opened #6450 "Hearing Worksheet | Display sensitivity level error message"
1. If we can't connect to VBMS bc the judge or attorney does not have the proper CSS permissions we should display an error message.
1. If a judge does not have the proper sensitivity level to view a Reader claims file we should display an error message to that effect.

<img width="483" alt="screen shot 2018-07-31 at 9 23 29 pm" src="https://user-images.githubusercontent.com/4975959/43495973-c3e46

[2018-08-01 01:31] lakohl commented on #6450
Error message copy could use a second set of eyes.

It might be helpful to include whom the user should contact in order to have their permissions adjusted. @nikitarockz do you know whom this would be.

Related: https://github.com/department-of-veterans-affairs/appeals-design-research/issues/697

[2018-08-01 02:49] lakohl commented on #4984
We are able to add DIC, but more research needs to be done for cases not covered by DIC.
This does not seem to be a significant problem, so closing for now

[2018-08-01 02:49] #4984 closed

[2018-08-01 03:08] lakohl opened #6451 "eFolder Express | remove VVA copy"
Update eFolder Express homepage copy

## AC

### Home page
- Remove copy indicating that eFolder Express now contains VVA documents

<img width="511" alt="screen shot 2018-07-31 at 11 06 11 pm" src="https://user-images.githubusercontent.com/4975959/43498767-635c6914-9516-11e8-8a74-80b270bffbff.png">

[2018-08-01 03:13] lakohl commented on #5268
My feeling is that we should keep it for now.
@suzchap can provide some context on how they handled this on Vets.gov

[2018-08-01 03:14] lakohl commented on #3254
We are handling these on a case by case basis at the moment.

[2018-08-01 03:14] #3254 closed

[2018-08-01 03:25] lakohl commented on #1868
No updates :(

[2018-08-01 03:27] lakohl commented on #2041
users can now only type numbers

[2018-08-01 03:27] #2041 closed

[2018-08-01 14:15] nolawi opened #6454 "Test Users page ui issues"
Logo missing default props
![screen shot 2018-08-01 at 10 13 46 am](https://user-images.githubusercontent.com/1745984/43527034-9b151196-9573-11e8-89fa-701c343db07b.png)

[2018-08-01 15:19] suzchap commented on #5868
Abby and I discussed... agree the language here is awkward in this scenario but I plan to do a full design/content audit in the next few weeks so I added this to my [Audit & Style Guide ticket](https://github.com/department-of-veterans-affairs/appeals-design-research/issues/938) so we're fine leaving it as-is for now. Thanks for noticing it!

[2018-08-01 18:47] cmgiven commented on #5575
Guidance from Cheri, week of July 23: A minimum of 10% of Board capacity should be assigned to Direct Review, scaling up toward the one year timeliness goal.

[2018-08-01 20:31] dannysellers commented on #5440
Where does the team name come from? / How is the team name correlated with the action type/value?

[2018-08-02 14:12] dannysellers commented on #6033
Closing, dupe of #5440

[2018-08-02 14:12] #6033 closed

[2018-08-02 15:05] amprokop opened #6467 "Return more detailed info about VACOLS appeals from /idt/api/v1/appeals/:appeal_id"
# AC
For an appeal requested from /idt/api/v1/appeals/:appeal_id, return the following information:

- Veteran name: separate fields for Veteran first, middle, last, and suffix
- Veteran gender
- Veteran alive/deceased
- Boolean representing if the appellant is the veteran
- Appellant name: (if different from Veteran) separate fields for first, middle, last and suffix
- Claim Number (SS or C)
- Do

[2018-08-02 15:05] evankroske opened #6468 "Queue Colocated | Add type column"

[2018-08-02 15:51] evankroske opened #6470 "Queue Colocated | Add sorting"

[2018-08-02 16:26] #5438 closed

[2018-08-02 16:26] #5439 closed

[2018-08-02 16:26] #5440 closed

[2018-08-02 16:58] Chingujo opened #6471 "Epic: Schedule Veterans"
With the oncoming AMA legislation, the Board and/or Regional Offices will have to slot veterans to the schedule taking account for docket order, alternate locations and thus geographic locations, AOD, and other priories.

[2018-08-02 17:08] sharonwarner opened #6472 "VACOLS Integrations | Schedule Period Inclusive Date Range"
When we hit VACOLS for hearings from 1/1 to 3/31, we only get the hearings from 1/1 to 3/30. We need to update the selector to pull all hearings.

[2018-08-02 18:05] #6431 closed

[2018-08-02 18:08] sharonwarner opened #6474 "FACOLS Integration | Judge Seedings"
- Determine if judge names are deterministic
- If they are, remove dev/demo logic from user.rb, user_repository.rb, and validate_judge_spreadsheet.rb
- If they aren't, work with mark to make them deterministic and then remove dev/demo logic

[2018-08-02 18:11] sharonwarner opened #6475 "Build Schedule Homepage | Remove unfinalized SPs"
We currently show all schedule periods in the Prior Uploads table. Users aren't interested in schedule periods that they cancelled, so we should filter those out.

AC
- Only show schedule periods if finalized == true

[2018-08-02 18:19] oscarAtNava opened #6476 "Judge assignment should only pass board member value and update date time info"
UPDATE "VACOLS"."HEARSCHED" SET "HEARING_TYPE" = :a1, "BOARD_MEMBER" = :a2, "MDUSER" = :a3, "MDTIME" = :a4 WHERE "VACOLS"."HEARSCHED"."HEARING_PKSEQ" = :a5  [["hearing_type", "V"], ["board_member", "1006"], ["mduser", "AABSHIRE"], ["mdtime", "2018-08-02"], ["hearing_pkseq", 420935]]

Note that the update is passing hearing type and overriding the 'C' value established during the creation of the ro

[2018-08-02 18:34] evankroske opened #6477 "Caseflow probably isn't updating the location of cases correctly when assigning end products"
A few weeks ago, I discovered that if we try to update the VACOLS location (bfcurloc) of a case to a falsy value, Case. update_vacols_location! does nothing. It doesn't update the location, and it doesn't raise an exception. I added a log statement to see whether Caseflow depended on this behavior, and it does.

The request 4601c469-9d11-4b26-88a0-4fa763dbb2fb made at 2018-07-27 12:21:37 was a pos

[2018-08-02 19:04] sharonwarner opened #6479 "Build Schedule Homepage | Refresh Schedule Periods"
We don't refresh schedule periods when schedulePeriods is already set in props. We need to update the logic to refresh so that new schedule periods show up.

[2018-08-02 19:12] mdbenjam opened #6480 "Design questions brought up by refactoring"
1) Is the task list page a list of tasks or list of appeals.
   - i.e. are we grouping multiple tasks for a given appeal in one row, or do we show it in multiple rows.
1) Case details can have multiple tasks, we need a way to take action on all of them.

[2018-08-02 19:52] MeredithStewart opened #6481 "RO Algorithm output | CO hearing rooms assigned bug"
In testing the RO algorithm with Scott in Demo today (8/2), the output showed two ROs were assigned video hearing days and assigned to hearing rooms 1 & 2, which should be reserved for the Central Office hearing rooms.

![cohearingroomsassigned](https://user-images.githubusercontent.com/36775274/43607314-dfd050d6-966b-11e8-959e-9dc63c1572ff.png)

[2018-08-02 19:56] MeredithStewart commented on #6479
Noted in demo with Scott today 8/2/18. We even navigated away from the Build Schedule page and went back a few times and the file he had just uploaded (and associated data) didn't appear.

[2018-08-02 20:10] #6302 closed

[2018-08-02 20:41] wturne commented on #4563
Updated the links and the narrative for the Hearing Prep Training Guide and the Hearing Prep FAQs.

[HearingPrep_FAQs_Jun2018.pdf](https://github.com/department-of-veterans-affairs/caseflow/files/2255085/HearingPrep_FAQs_Jun2018.pdf)

[2018-08-02 21:35] #6077 closed

[2018-08-02 22:03] oscarAtNava commented on #6472
This issue is not in the query. It turns out we have to store the hearing_date in UTC using the VacolsHelper utility class. I also had to fix the JSON Serializer to make sure the date was preserved when the date is converted to a string.

[2018-08-02 22:38] sharonwarner opened #6485 "Success Page | VACOLS failure message"
If the VACOLS upload fails, we should display a message asking the user to try again.

[2018-08-02 22:40] sharonwarner opened #6486 "Review Assignments | Specify algorithm error"
Right now, we only show a generic message when the algorithm fails (listed below). We just added some error handling to the backend to specify which RO has been either allocated too many days or has too many non-availability dates, so we could display more specific error messages on the frontend.

- Add message for which date doesn't have enough judges

Current error message:
Title: 'The assignmen

[2018-08-03 00:30] leikkisa commented on #5868
Can validate this using Veteran 933732230

[2018-08-03 00:38] leikkisa commented on #6093
For validation:
Kara or Sally to look at UAT intakes that have happened after this, and check the EndProductEstablishments table data for correctness
If there isn't a UAT intake for each type of flow, have Suzanne make a new intake for that type of flow so that we can check the data in the database

[2018-08-03 00:41] leikkisa commented on #4197
@suzchap
Validate with Veteran: 561349912

[2018-08-03 00:47] leikkisa commented on #5281
ListContentions does not show data on this. I feel like we need to ask VBMS how to validate this .

Here are a couple of UAT HLRs that we can use to validate what happened after we passed it over to VBMS:
<HigherLevelReview id: 59, veteran_file_number: "123458308", receipt_date: "2018-07-15", informal_conference: false, same_office: true, established_at: "2018-07-25 20:30:51", end_product_referenc

[2018-08-03 01:13] leikkisa commented on #4589
@suzchap the numbers above are still good.  The page is supposed to show an error, the error copy is what is getting validated.

[2018-08-03 01:39] leikkisa commented on #4271
@suzchap
Veteran file number: 523829622

[2018-08-03 14:02] amprokop opened #6492 "Parse and return contesting claimant info and addresses, and return multiple REP rows if they exist"
- Parse appellant and contesting claimant information from the Rep table
 - Our code assumes a 1:1 relationship between BRIEFF and REP, whereas it's actually 1:many — fix that
- Make REP.REPNOTES available so we can use it if we decide to

See https://github.com/department-of-veterans-affairs/dsva-vacols/issues/26

[2018-08-03 14:04] aroltsch opened #6493 "Attorney can complete attorney checkout for ama appeals"

[2018-08-03 14:38] abbyraskinUSDS opened #6495 "Bug: Rotating page jumps user to wrong page"
## Description
From user:

From engineer:

[2018-08-03 15:05] #6312 closed

[2018-08-03 15:25] #6479 closed

[2018-08-03 15:44] sharonwarner opened #6497 "Build Schedule Homepage | Sort schedule periods"
Currently the newest schedule periods are displayed at the bottom of the list. We should sort them in reverse chronological order.

[2018-08-03 15:49] sharonwarner opened #6499 "Review Assignments | Sort algorithm output"
How should we sort the algorithm output? Currently we just display it in the order the algorithm sends it to us which, for the RO algorithm, groups by RO and then sorts by date, and for the judge algorithm, seems to be kind of random.

[2018-08-03 17:17] sharonwarner opened #6501 "View Hearings | Loading spinner"
<img width="1191" alt="screen shot 2018-11-02 at 11 51 19 am" src="https://user-images.githubusercontent.com/4306128/47925923-aa181b00-de95-11e8-95f7-afa34e2cc831.png">

The ui elements above should render in the ListScheduleContainer. A loading spinner should be displayed when sending the API request to the backend for hearing days.

We can do this the same way we updated the AssignHearings page,

[2018-08-03 18:55] mdbenjam commented on #6396
I'm thinking yes. Normally against duplicating state... But I think this might be a reasonable use case. We could also have them store a disjoint set of data.

[2018-08-03 20:09] #6472 closed

[2018-08-03 20:38] oscarAtNava opened #6504 "Ensure date query in View Current Schedule Works"
Even if a time component exists in the database. The VACOLS DB may have rows with time and the query will not work properly.

Oracle function trunc to be used to remove the time from hearing_date.

[2018-08-03 22:25] leikkisa commented on #6251
This is available in VBMS now, reaching out to get documentation or information about what we should be passing and where

[2018-08-06 13:11] lowellrex commented on #5185
I think this was completed by the work in PR #5208. @amprokop can you confirm that?

[2018-08-06 13:11] #5906 closed

[2018-08-06 13:30] lowellrex commented on #5735
@laurjpeterson I'm pretty sure this work has been completed. Can you confirm so I can go ahead and close this ticket out?

[2018-08-06 13:57] lowellrex commented on #5743
@mkhandekar @laurjpeterson What do we want to do when the Veteran only has one case associated with them (and thus, if somebody is viewing a case details page for the Veteran it will be the only case that Veteran has)? Do we still want to display the "View all cases" link and list the one case that is already open, or do we want to do something different?

[2018-08-06 14:07] evankroske commented on #6468
Fixed by https://github.com/department-of-veterans-affairs/caseflow/pull/6496

[2018-08-06 14:07] #6468 closed

[2018-08-06 14:28] suzchap opened #6508 "Editing VBA issues | confirm issue remove modal"
## Story
For users coming from VBMS to edit an issue, when they click the "remove" link, they should be asked to confirm they definitely want to remove it with a description of what will happen to the EP.

## Technical notes

## Acceptance criteria
- Within the editing flow, selecting the "Remove" link will produce a modal overlay.
- Within the modal, clicking "Cancel" will close the modal / revea

[2018-08-06 14:31] laurjpeterson commented on #5743
Good q. I defer to Meghana here. We wouldn't need to show a link, but we might want to include some copy in its place to explain that this is the Veteran's only case.

Side note - if a Veteran has 1 active appeal and 1 appeal in history status, I'd still want to show the view all cases link so the user can see the active and history status appeal.

More q's!
- @mkhandekar - would the case that the

[2018-08-06 14:53] laurjpeterson commented on #6443
## Discussion notes
- db or code? assigning tasks to organizations, so db
- add free text tasks if we don't know what all the tasks are yet? store tasks in another table, add and remove tasks easily
- for other admins, we should mimic what we've done for co-located
- judge assignment to attorneys could be the organization queue concept we're looking for
- can we make "completion" generic for every

[2018-08-06 15:16] evankroske opened #6509 "Queue Colocated | Format veteran names as first name last name"

[2018-08-06 15:28] suzchap commented on #6402
oops, duplicate.

[2018-08-06 15:28] #6402 closed

[2018-08-06 15:35] Chingujo commented on #6485
@sharonwarner

The only question is where we send the user. The logical flow is that we send them one stop back. However, what are the risks that what they are trying to upload needs to be re-sorted if the VACOLS upload fails. If that's the case, we should send them back to the upload file page?

For easy copying =D:

Title:
- We could not complete your VACOLS upload

Body:
- We encountered an err

[2018-08-06 17:27] laurjpeterson commented on #6337
https://github.com/department-of-veterans-affairs/appeals-deployment/pull/1637

[2018-08-06 17:27] #6337 closed

[2018-08-06 17:35] kahlouie commented on #6234
Should be sent at the same time as the other claimant and we should store payee code in our db.

[2018-08-06 17:38] kahlouie commented on #6234
Only adding the payee code selection

[2018-08-06 17:39] oscarAtNava commented on #6504
Implemented the trunc function in the SQL used to query the VACOLS DB. Also changed the logic that generates scheduled hearings to store video hearings with an 8:30 am time, as it is expected in VACOLS.

[2018-08-06 17:44] kahlouie commented on #6427
Maybe the right thing is to drop the end product modifier column as we don't use it, even for getting the end product or for showing end product contentions on the page.

[2018-08-06 17:47] laurjpeterson commented on #5950
Chris reviewed the VBMS SCD.

[0003AE_eFolder v1.0 SCD 15.1[2].pdf](https://github.com/department-of-veterans-affairs/caseflow/files/2263540/0003AE_eFolder.v1.0.SCD.15.1.2.pdf)

[2018-08-06 17:48] laurjpeterson commented on #5581
LRP presentation to Chairman 3/29/2018: [Informal Hearing Presentations for Chair_March29_2018.pptx](https://github.com/department-of-veterans-affairs/caseflow/files/2263543/Informal.Hearing.Presentations.for.Chair_March29_2018.pptx)

[2018-08-06 17:49] kahlouie commented on #6351
@mdbenjam Heard you might be interested in this?

[2018-08-06 17:51] kahlouie opened #6515 "Sync veteran info on a job"
Sync veteran name on a regular basis through some kind of job. Dependent on #6351 and what other fields should we sync? Maybe address?

[2018-08-06 17:56] kahlouie commented on #5994
One day, "release" intake when a user is searching for the veteran to start a new intake for that same veteran.

[2018-08-06 18:30] dannysellers opened #6517 "Queue | Server Error loading Case Details view as Colocated user"
As a colocated user (`BVALSPORER`), going from `/queue` to `/queue/appeals/${appealId}` causes a server error within [`LegacyWorkQueue.tasks_with_appeals_of_vacols_tasks`](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/queues/legacy_work_queue.rb#L36): `undefined method 'from_vacols' for nil:NilClass`.

[slack thread](https://dsva.slack.com/archives/C6E41RE92/p15

[2018-08-06 19:07] mdbenjam commented on #6351
This is needed for Queue by October. So I was thinking of picking it up. If you or anyone else has bandwidth you should go for it! I'm pretty slammed with Queue work this week and then am on vacation the next two weeks. I'll get to it after that if no one else has done it.

[2018-08-06 19:42] kahlouie commented on #6351
Good to know. Thanks.

[2018-08-06 19:57] sharonwarner opened #6520 "Review Assignments | Add flag to send to VACOLS"
Right now, if somebody clicks cancel on the Review Assignments page and then navigates back to the Build Schedule screen, the assignments will get uploaded to VACOLS. We need to add a flag that only gets set when the user clicks 'Confirm' on the Review Assignments page.

[2018-08-06 20:23] sharonwarner opened #6522 "Review Assignments | Cancel Schedule Period"
A user could, theoretically, create a schedule period, cancel out on the Review Assignments page, upload a different schedule period to VACOLS, then return to the cancelled schedule period's page, and accidentally upload more hearings. We need to prevent that from happening.

[2018-08-06 20:29] lowellrex opened #6524 "Ignore errors from new_documents endpoint"
The `/appeals/{ID}/new_documents` endpoint occasionally triggers errors (for example, [this one](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2129/) is the result of a 504 response). Since the call the the `new_documents` endpoint is a user experience enhancement and not critical to the functioning of the application, we should treat errors at this endpoint as non-critic

[2018-08-06 20:30] tejans24 opened #6525 "Non-available date can be nil and judge needs to be considered for assignments"
* If there is a N/A in the spreadsheets, a NonAvailability day is created with date as nil
* That NonAvailability needs to be processed without failing
* That Judge is still assigned hearing days

[2018-08-06 20:32] lowellrex commented on #6524
For reference, Dave Cheney has a presentation with some [best practices for error handling](https://dave.cheney.net/2016/04/27/dont-just-check-errors-handle-them-gracefully) that I find myself returning to frequently.

[2018-08-06 20:38] Chingujo commented on #6499
@sharonwarner  Thanks for catching this

The non - RO availability ordering sounds ace.

For judges, if it is urgent we can sort by last name. If it isn't, we can ask tomorrow during our user interview to get the preference =D

[2018-08-06 20:45] Chingujo commented on #6501
Moving the in progress label as we are thinking on the loading spinner

[2018-08-06 21:00] mkhandekar commented on #5743
Agreed to not show "view all cases" link when there is only 1 case, and thinking on how we can indicate that this is their only case.

@laurjpeterson can you say more about the difference between "active appeal" and "appeal in history status"?

[2018-08-06 21:07] mkhandekar commented on #5743
I'm going to put together a couple views for us to look at that include:

- normal state
  - Veteran has 1 case open
  - Veteran has more than 1 case to their name
- view all cases clicked > view list
  - Veteran has 1 case open
  - Veteran has more than 1 case to their name
- view all cases clicked > view list > indicate that one of the cases in the list is being viewed currently

[2018-08-06 21:08] sharonwarner opened #6529 "Judge Spreadsheet | Allow N/A"
When the spreadsheet has 'N/A' for a judge, we should set the date to nil in the database.

[2018-08-06 21:42] #6520 closed

[2018-08-06 21:43] #6476 closed

[2018-08-07 00:58] tejans24 opened #6533 "Testing | VACOLS integration (in progress)"
Test that the hearing days are saved in VACOLS
- [ ]   Create a RO hearing day schedule for 6 months
- [ ]   Save the schedule to VACOLS
- [ ]   Confirm the hearing days are spread evenly throughout the year
- [ ]   Confirm the hearing date contains date and time (8:30am EST), folder_nr contains "VIDEO ROX", hearing type is "V" and room number is between 4 and 13.
- [ ]   Confirm that these hearin

[2018-08-07 08:35] #4846 closed

[2018-08-07 13:05] #6504 closed

[2018-08-07 13:59] #6529 closed

[2018-08-07 14:03] sharonwarner opened #6534 "Upload Schedule Period | Disable button"
We should disable the 'continue' button after the user clicks it

[2018-08-07 14:07] #6475 closed

[2018-08-07 15:27] sharonwarner commented on #6499
Not urgent! Just let us know when you decide!

[2018-08-07 15:50] #6509 closed

[2018-08-07 16:33] laurjpeterson commented on #5743
@mkhandekar
- active appeal - any appeal that has not been decided yet; it's "active" at the Board
- history appeal - an appeal that has been decided. a decision has been sent to the Veteran, and no further action needs to be done (i.e. there are no remanded issues).

For some more context of where I got the terms from, "active" (ACT) and "history" (HIS) status are fields in VACOLS. You can see ho

[2018-08-07 16:38] MeredithStewart commented on #6522
@sharonwarner I need some help understanding this one. Does finalized == true mean that we've read that the schedule period is already set in VACOLS so we prevent Caseflow from assigning again?

[2018-08-07 17:15] oscarAtNava commented on #6522
I also need more context on this one. Were the items reviewed confirmed? Only when clicking confirm should we set the finalized field to true. Otherwise we will never be able to load hearing days for the period represented by that SchedulePeriod.

Perhaps I misunderstand the issue.

[2018-08-07 17:28] mkhandekar commented on #5743
@laurjpeterson all makes sense - thank you for taking the time to break it down!

[2018-08-07 17:33] #6534 closed

[2018-08-07 18:34] #6396 closed

[2018-08-07 18:54] mdbenjam opened #6540 "Restructure appealDetails"
In our last installment of "Refactoring Hour With-Mark" we introduced the concept of `appeal` vs `appealDetails` which stores basic appeal information (that doesn't require a BGS call) vs all appeal information. The problem is right now `appealDetails` contains a duplication of `appeals` state. `appealDetails` also contains it's state nested within an `attributes` key with underscored variable nam

[2018-08-07 19:54] evankroske commented on #6470
Fixed by https://github.com/department-of-veterans-affairs/caseflow/pull/6510

[2018-08-07 19:54] #6470 closed

[2018-08-07 20:14] #6253 closed

[2018-08-07 20:15] nolawi commented on #6253
tracked in issues

[2018-08-07 20:17] #1310 closed

[2018-08-07 20:18] #635 closed

[2018-08-07 20:46] #6525 closed

[2018-08-07 21:10] leikkisa opened #6543 "Change display date for rated_issues to profile_date"
## Story
The decision date that users see should match the forms, which should be the profile_date, it is currently the promulgation_date

## Technical notes
- In the client intake component for rated issues, change the display date from promulgation_date to profile_date.
- We should also double check that timeliness should be calculated based on promulgation_date (current calculation), and not pr

[2018-08-07 21:29] lowellrex commented on #5743
About to merge the first step for this issue but wanted to attach a screenshot of what the current state looks like for reference as we figure out the remaining items.
![image](https://user-images.githubusercontent.com/32683958/43803581-3e16eb1a-9a67-11e8-93b0-b9ea2b3625ca.png)

[2018-08-07 21:35] shanear commented on #5961
I think we will almost certainly want to do 2 or 3, unless the Board is realllllllly attached to the VACOLS levels system.

I have some comments on some of the assertions you made in those:

Maybe not, we can dig a good amount of the info about the issue from BGS, such as the diagnostic code from BGS if its a disability issue.

I don't think we'd want to copy anything, since it doesn't make since

[2018-08-07 21:47] shanear opened #6545 "Intake | Investigate how to retrieve data for which contentions are connected to rating issues"
VBMS said that their is a way to retrieve which rating issues are connected to which contentions. We need to investigate which endpoint we should call to get this data.

Background here:
https://github.com/department-of-veterans-affairs/appeals-design-research/issues/932

## Acceptance Criteria
- We should know the service required to retreive this data. There should be an issue to add the code ne

[2018-08-07 22:37] leikkisa commented on #6251
The request succeeded, but we checked VBMS and the contentions are still editable in VBMS, so am asking VBMS if this is working alright.

[2018-08-07 22:47] shanear commented on #6351
This seems fairly complex. Why does caching the name not work?

[2018-08-07 23:04] leikkisa commented on #6148
Adding a couple of notes from conversations (not sure if this is part of this ticket, or if contentions would be part of another ticket).
There is a contention_category field on contentions, so it'd be good to check if we can use it for the non-rated issue category.

Also, the Queue team would like to know what happens with the description and category for non-rated issues.

[2018-08-07 23:27] tejans24 opened #6546 "Using back and forward in browser while uploading to VACOLS"
Steps:
1). Upload a validated RO schedule
2). Confirm uploading to VACOLS
3). Click the back button before it finishes
4). Proceed forward again (browser control)

It will keep uploading many many records to VACOLS as long as that process is repeated.

[2018-08-07 23:33] MeredithStewart commented on #6546
Seems like something that should be stopped. Justin and Scott wouldn't purposely try to mess up the system, but seems like we shouldn't let possibly do either.

[2018-08-08 00:38] leikkisa commented on #6543
After looking at the forms, I'm pretty sure we should also be using the profile_date to look up the timely ratings.

[2018-08-08 02:35] laurjpeterson opened #6547 "Replace gender pronoun with just gender"
We currently extrapolate the Veteran's preferred pronoun from the gender field in VACOLS. We'd like to change that to just show gender.

## AC
- Verify that Case details now displays "Gender:" M or F
- If the gender field is null, display ...

[2018-08-08 14:12] #6353 closed

[2018-08-08 14:13] #6497 closed

[2018-08-08 15:03] laurjpeterson opened #6550 "Investigate DOB for BEAAM appeals"
It looks like we might be pulling the wrong date from BGS for Veteran date of birth - there is someone with a DOB from 2006.

[2018-08-08 16:08] sharonwarner opened #6551 "Success Page | Date formats"
The dates should be in mm/dd/yyyy format.

[2018-08-08 16:11] sharonwarner opened #6552 "Review Assignments | Modal styling"
The 'x' in the top righthand corner shouldn't be highlighted.

<img width="526" alt="screen shot 2018-08-08 at 12 10 31 pm" src="https://user-images.githubusercontent.com/4306128/43849737-21c9e6e0-9b04-11e8-8296-ca198e42f26c.png">

[2018-08-08 17:05] #5868 closed

[2018-08-08 17:09] suzchap commented on #4197
LGTM.

[2018-08-08 17:09] #4197 closed

[2018-08-08 17:18] suzchap commented on #5991
I tried to submit with only Issue Category selected and didn't get the in-line... I got this:
![Screen Shot 2018-08-08 at 1.16.14 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/57758753a582050e0017b00d/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772b6454fb6b7191a379f1132d4f5e5b5ecc3c4a4356bcbbd671f3e57862804e0ee5d33c5d22c33413a5b8d41bbf50bd208b1d87b3bc8

[2018-08-08 17:20] kahlouie commented on #5991
Hmmm, I wonder if you get the same if only issue description is filled out.

[2018-08-08 17:39] suzchap commented on #4589
These might be questions for @abbyraskinUSDS....

Neither message matches the AC Copy exactly. Is the election copy newer than this issue maybe? The selection copy is only off by a word or two... fine as-is or should it match the AC copy exactly?

RAMP election, I get this message:
<img width="777" alt="screen shot 2018-08-08 at 1 29 30 pm" src="https://user-images.githubusercontent.com/11219417/4

[2018-08-08 17:53] abbyraskinUSDS commented on #4589
I believe this ticket only relates to the refiling/selection error. The only difference I see is the word "Form" was added, which I _do_ think we should correct before approving - they don't get a decision on the form, they get a decision on the type of review.

[2018-08-08 17:55] abbyraskinUSDS commented on #4589
good catch - also RAMP decision is less redundant in copy provided in ticket

[2018-08-08 17:58] suzchap commented on #4271
@leikkisa Do I need to do something with that test user to make it match the criteria or should it already be ready to go? Because this is the message I get:
![Screen Shot 2018-08-08 at 1.57.46 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/57758753a582050e0017b00d/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772b6454fb6b7191a379f1172c4f5b595ecc3c4a4356b

[2018-08-08 18:01] suzchap commented on #4589
Ok, moving it back to "current sprint" to match RAMP Selection error message to:

"If this Veteran has not yet received a decision for their RAMP Opt-In Election, notify them using the "RAMP Ineligible Letter" (premature election)."

[2018-08-08 18:10] leikkisa commented on #6251
Just validated this with Joe. No changes were made, but it is working now.

[2018-08-08 18:28] leikkisa commented on #5430
We cannot validate this ourselves, because success doesn't mean it shows up on the associated rated issues in VBMS (according to Joe).  It sounds like he would need to manually validate this somehow.

[2018-08-08 18:36] leikkisa commented on #4271
@suzchap
Here's one! 141102026

[2018-08-08 18:39] leikkisa commented on #4271
Ah, I'm noticing the error above doesn't match the ticket description. It is about preventing a refiling that is already in process by someone else, not something that is actually re-filed. Doh.

[2018-08-08 20:40] leikkisa commented on #5991
@kara I think she's talking about the CSS placement, how they're on top of each other instead of side-by-side

[2018-08-08 20:43] tejans24 commented on #6486
**RO assignment errors:**

1). When RO doesn't have enough available days to assign
[code]
We can provide them the RO that didn't have enough available days for Hearing day assignments

**Judge assignment errors:**

1). When hearing days cannot be assigned judges
[code]
We can provide them the Hearing days and the dates that couldn't be assigned to.

[2018-08-08 20:44] suzchap commented on #5991
No, I just missed a few words in my previous comment... I don't get an "in-line error" that explains that the missing field is required... and instead I only get the "something went wrong" alert message.

I'm not worried about the fields lining up horizontally for this ticket (tho we should fix that at some point)

[2018-08-08 20:50] suzchap commented on #4271
This is the message I get:

<img width="782" alt="screen shot 2018-08-08 at 4 47 56 pm" src="https://user-images.githubusercontent.com/11219417/43863498-e31f4e7c-9b2a-11e8-8473-0f7bba6ef357.png">

[2018-08-08 20:55] #6533 closed

[2018-08-08 21:27] oscarAtNava commented on #5953
Quick question. It may be a simpler implementation to have user download the dates already in the View Schedule view. I question why we need to go back to the db for a new date range. Just my two cents.

[2018-08-08 21:35] #6493 closed

[2018-08-08 22:01] kahlouie opened #6556 "CHECK BACK ON AUG. 20: BGS testing for August install"
Testing BGS install doesn't break all of caseflow.

[2018-08-08 22:02] kahlouie commented on #6556
Have tested UAT. Testers meeting on August 16th at 7:30 AM PST and Testing prod on Sunday at 6 AM PST.

[2018-08-09 12:40] tejans24 commented on #6481
I cannot replicate this. This might be a one off thing with some inconsistent data. Video hearing days WILL definitely start at 4.

[2018-08-09 12:41] tejans24 commented on #6486
This needs @Chingujo 's input into what the UI error messages need to be.

[2018-08-09 13:56] #6352 closed

[2018-08-09 14:26] #6085 closed

[2018-08-09 14:45] Chingujo commented on #6486
@tejans24

Please also make sure there is a < Go back link in the bottom left of the error message. I believe we have this pattern already in the app.

## Allocated too many hearing days
- Title: The assignments algorithm was unable to run successfully

- Body: You have allocated too many hearing days to the [Regional office name]. Please check your spreed sheet and upload the file again using the

[2018-08-09 14:46] Chingujo commented on #5954
@sharonwarner

The UI of the filters in the table will stay the same only with the new home page that was mocked in another ticket.

[2018-08-09 15:07] oscarAtNava opened #6561 "Displaying Holidays in the Hearings Calendar"
Today the VACOLS UI displays holidays in its Hearing Schedule list with the text 'HOLIDAY Do Not Sched' displayed across the name and folder_nr columns in their UI. Our Caseflow View Schedule list does not display holidays. Should we?

In the VACOLS DB holidays are identified by a special value in the folder_nr column: 1779233.

[2018-08-09 15:25] Chingujo commented on #5953
@sharonwarner

I updated the mocks to reflect the new home page

@oscarAtNava
That's a great point. When we designed this we weren't sure how far we are going back. So, if the user enters the hearing schedule page and just wanted to download, they can enter a date range. It's something that was requested as useful. This should be reflected in the user story.

If we aren't storing that far back we

[2018-08-09 15:27] #6517 closed

[2018-08-09 15:30] Chingujo opened #6562 "Caseflow Hearing Schedule Home Page"
As a user, I want to be directed to the hearing schedule as a home page as the build schedule page is more of an admin function.

### Acceptance Criteria
- [ ] Verify that there is a title called "Welcome to Hearing Schedule"
- [ ] Verify that there is a "Build schedule" button on the right of the title that is only avaliable to Scott and Justin
- [ ] Verify that there is the following body copy:

[2018-08-09 15:33] Chingujo commented on #6562
@MeredithStewart @sharonwarner

I did not see a ticket for the home page, so making one as this changes due to the download ticket on #5953

[2018-08-09 15:37] Chingujo opened #6563 "Change date inputs on upload file page"
This change is to address issues we are having with error messages where extending the vertical line would cause the red box on the dropdowns to overlap the to. This version betters the copy and helps our error messages to come in line with the style guide and make it consistent across our applications.

### Acceptance Criteria
- On the upload file page remove the "to" in between the dates and add

[2018-08-09 16:17] sharonwarner commented on #6522
Sorry, it's kind of hard to describe:

Let's say a user creates a schedule period for 1/1/18-5/31/18, they see the algorithm output on the Review Assignments page (/build/upload/1), and they decide something is wrong.

They click 'Go back', and create a new schedule period for 1/1/18-5/31/18, and on the Review Assignments page (/build/upload/2), they confirm the upload to VACOLS.

There's nothing

[2018-08-09 16:22] MeredithStewart commented on #6522
I understand more now. I think if they click "go back" than that should cancel that upload and we shouldn't allow them to navigate back and upload that one.  I think it's worth fixing, but it's not high priority.

[2018-08-09 16:22] oscarAtNava commented on #6522
'There's nothing preventing the user from manually navigating to /build/upload/1'
How would they reach this url? Non-finalized schedule periods are not displayed in the UI. Would they type it in?

[2018-08-09 16:22] laurjpeterson commented on #5961
Another reference - Intake team started the discussion around what structured data we coul duse for rated issues. https://github.com/department-of-veterans-affairs/appeals-design-research/issues/835

[2018-08-09 16:29] sharonwarner commented on #6522
Yes, they would have to type the url (I'm mostly picturing a scenario where they're trying to type a different url, but it auto-completes incorrectly.)

[2018-08-09 16:32] #6454 closed

[2018-08-09 17:13] kahlouie commented on #6556
Tested preprod today, but the data that used to be there is no longer there. Will see about getting more data in today so I can approve by tomorrow.

[2018-08-09 17:14] Chingujo opened #6568 "Flow 1| Display judge names as last name, first name`"
As a user, I want to see the judges to be in last name, first name so I can easily sort through the judges as in VACOLS.

### Mock
_Don't think we need one for this_

[2018-08-09 17:17] abbyraskinUSDS commented on #6097
AMO approved...but they are somewhat nervous about it. They would like us to turn it on for 1 day to validate.

[2018-08-09 17:28] abbyraskinUSDS commented on #6205
VBMS sets it as death if the veteran is not alive. VBMS defaults payee code to spouse instead of Veteran in this case. Date of death. If deceased death, the benefit type defaults to death. no reason to change default. So we should probably check if Veteran is deceased and default to 2 if so - and remove Veteran from payee code options?

[2018-08-09 17:36] MeredithStewart commented on #5953
Will the download schedule output also reflect the filtering that has also been done in the UI? If it's not going to, then I think using one data range would be confusing, I would advocate for having the drop down date range specific to the download.

[2018-08-09 17:37] MeredithStewart commented on #6481
So weird!

[2018-08-09 17:39] kahlouie commented on #6416
Still an issue. Moved it back to current sprint.

[2018-08-09 17:41] laurjpeterson commented on #5760
- Remand is an issue disposition for issue.
- Remand of type DTA error should create a Supplemental Claim.
   - This applies to Higher Level Reviews and Appeals (Hearing, Evidence Submission, Direct Review)
- Caseflow Intake creates Supplemental Claim.
- Caseflow Intake then creates the EP for VBA to process the Supplemental Claim in VBMS.

---
- How should we connect a Supplemental Claim to the a

[2018-08-09 17:59] leikkisa commented on #6271
This is working for me. I'm going to document it before I move to "done".

[2018-08-09 18:08] #5179 closed

[2018-08-09 19:25] mdbenjam opened #6573 "Build out generic queues for admin teams"
# Overview
In discussions over the past few weeks we've determined that at our current rate of progress we're not going to be able to rollout Queue to all admin teams in the timeframe required. However, by thinking of queues in the most generic form, we think we can get an MVP into the hands of users, giving us more time to come back and make Queue work for users' specific needs.

**What is a gene

[2018-08-09 19:36] Chingujo opened #6574 "Video and CO Release | Table view | Schedule and Assign Hearings Tabs"
As a central office hearing coordinator, I want to be able quickly see the veterans I have scheduled for that day and a list of veterans to be scheduled. I should also be able to quickly switch between these views quickly.

## Acceptance Criteria
- [x] Verify that there is a table with the following format :
      - Abbreviated day Date (# of slots remaining).
      - Tues 03/12/2018 (6 slots rema

[2018-08-09 19:47] Chingujo opened #6575 "Epic 1 | Slotting Veterans | Regional office and alternate hearing location schedules"
As a hearing coordinator, I want to be able to assign veterans to my Regional Office and associated hearing locations so I can easily manage the schedule of all my locations and send veterans to their closest locations.

### Acceptance Criteria
- [ ] Verify that there is an easy way to display alternate hearing locations associated with a Regional Office
- [ ] Verify that there is an ability to ad

[2018-08-09 20:01] Chingujo opened #6576 "CO and Video Release |Epic Case Details | Confirmation Banner"
As a hearing coordinator, I need a way to confirm the veterans I slotted into the schedule at an individual level.

### Acceptance criteria
- [ ] Verify that when a user assigns a Veteran in Case Details, the following confirmation banner with the following copy appears:
  - Title: You have assigned [Veteran Name] [Hearing Type] on [Date]
  - Body: You have successfully assigned this veteran to a

[2018-08-09 21:06] kahlouie commented on #6416
I figured this out. this was only true for ramp end products because  https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/ramp_review.rb#L58 the #valid_modifiers method is no longer there. I'll need some help figuring out what a valid modifier for ramp appeal end products are. @shanear do you know?

[2018-08-09 21:40] laurjpeterson opened #6580 "Hearing data not showing in Case details"
Judge Kroes identified that hearing cases are not showing up in Case details.

![image](https://user-images.githubusercontent.com/27704093/43927355-406157ee-9bfb-11e8-8488-92798db9de3d.png)

![image](https://user-images.githubusercontent.com/27704093/43927348-3a7758d8-9bfb-11e8-9af4-826ae9f6dedb.png)

[2018-08-09 21:52] aroltsch opened #6581 "Judges can complete the check out flow with an AMA appeal"
Judges can complete the check out flow with an AMA appeal

[2018-08-09 22:10] #6078 closed

[2018-08-09 22:40] shanear opened #6583 "Fix August Wild RAMPS"
There are a bunch of wild RAMPs that need to be fixed for August

[2018-08-10 00:56] tejans24 opened #6584 "Research: How accurate is the veteran address in different VA systems?"
**Question**: In related to fetching the closest hearing location(including alternate hearing places) to the veteran, how accurate are the addresses of the veteran in **BGS**(focus), VBMS and VACOLS?

**Goal** is to find the best source of information about the veteran to accurately fetch the closest location (driving distance or by zip code) to the veteran.

[2018-08-10 01:06] tejans24 opened #6585 "Research: How are AMA appeals associated to a RO?"
**Question**
In order to see the associated RO to a hearing, it will be interesting to find out if AMA appeals are associated to an RO? Since the Legacy Appeals are (https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/legacy_appeal.rb#L32) associated to an RO, it's easier to find that information.

Is this information in BGS?

**Goal**
We want to figure out which RO t

[2018-08-10 01:13] tejans24 opened #6586 "Research: What's the best tool that can be used to fetch the closest hearing location to a veteran?"
**Question**
What's the best tool for fetching the closest hearing location to the Veteran?

What do we have?
* List of all hearing locations (including alternate hearing locations)
* Veteran address

Possible criteria:
* Driving distance
* Zip code search
* How easy is it to integration into our stack/application?
* Usage limit constraints
* Cost

Options:
* Google maps api
* open street maps api

[2018-08-10 01:22] tejans24 opened #6587 "Research: Would the Veteran addresses we send be considered PII?"
**Questions**
* Is veteran address alone considered PII?
* Can we send this information to 3rd party services to get driving distance or distance by miles/km? (Example: Google maps API, Mapbox etc)

[2018-08-10 01:27] tejans24 opened #6588 "Research: Is it ok to make API calls to 3rd party services from prod or VA network?"
**Question**
Can we make API calls to 3rd party services such as Google maps, Mapbox etc from our production servers? If not, what does it take to make it happen?

[2018-08-10 13:11] aroltsch commented on #5760
Where to store issues dispositions and remand reasons.

### Option 1.
HLR and SCs will have issue dispositions and remand reasons on request issues. Appeals will have issue dispositions and remand reasons on decision issues and the final disposition will live on the request issue. Appeals final disposition can be calculated based on the combination of the issue dispositions of decision issues

###

[2018-08-10 13:43] dannysellers commented on #6580
Well, the short answer is that `appeal.hearings` returns no hearings for this appeal. Investigating further

[2018-08-10 13:56] MeredithStewart commented on #6585
There is some complications with the associated RO for **Legacy** cases that we'll need to talk through and learn more about:
* From Justin Madigan, we've learned that appeals have been shifted to be worked on by different ROs that they would have been done traditionally.
* This appears to have also happened for appeals that have hearings. Justin described that some of Colorado's cases were moved

[2018-08-10 14:12] oscarAtNava commented on #6546
@sharonwarner Unless you already started working on this one, it seems related to the 6485 as it is all in the same components. You want me to take a look at this as well?

[2018-08-10 14:55] Chingujo opened #6590 "Epic 1 | Slotting Veterans | A way to switch to the schedule view"
As a hearing coordinator, I want to be able to easily switch to the schedule to see veterans that I have added to the schedule, make any edits, and corrections.

### Acceptance criteria
- [ ] Verify that there is a link, button, or an apparent navigation that sends the user to the hearing schedule view
- [ ] Verify that in the hearing schedule view, there is a way to easily go back to the slotting

[2018-08-10 14:56] #6471 closed

[2018-08-10 15:01] Chingujo opened #6591 "Scheduling Veterans | Release 1 - CO and Video hearings"
With AMA the board will take over scheduling for both legacy and AMA appeals. Release 1 will be geared toward meeting these requirements so a Regional or Board coordinator will have the technical functionality to slot and schedule a veteran into a system.

### Release 1 - CO and Video Hearings
We will be taking over the central office portion of the scheduling process by October 15th. The goal of

[2018-08-10 15:07] Chingujo opened #6592 "Epic 2 | Viewing the schedule | Editing functionality"
As a hearing coordinator, I need to be able to view the confirmed schedule and make any additional edits, deletions, or changes based on Veteran updates or revert any mistakes.

### Acceptance Criteria
- [ ] Verify that there is a schedule view that lists all the scheduled veterans for that regional office
- [ ] Verify that there is the ability to edit the schedule with the following capability:

[2018-08-10 15:10] Chingujo opened #6593 "Epic 2 | Viewing the schedule | Ability to put something on hold"
As a hearing coordinator, I want to be able to keep track of all the postponed hearings so I can manage them in an efficient way and follow up as necessary instead of waiting until the day of the next hearing.

### Acceptance criteria
- [ ] Verify that there is a way to postpone or put a hearing on hold in the schedule
- [ ] Verify that there is a way to keep track of these postponements in the UI

[2018-08-10 15:11] tejans24 commented on #6486
for:
[code]
@Chingujo do we want to let them know the max capacity of hearing days as well?

[2018-08-10 15:14] tejans24 commented on #6486
updated the issue with @Chingujo 's in person input

[2018-08-10 15:17] #6441 closed

[2018-08-10 15:21] Chingujo opened #6594 "Video and CO Release | Epic - Viewing the schedule | Additional hearing information"
As a hearing coordinator, I need to know additional information in the view schedule page to accurately be able to edit and coordinate my hearings.

### Acceptance criteria
- [ ] Verify that the schedule view shows the alternate hearing location
- [ ] Verify that there is hearing coordinator information from RO and Board side
- [ ] Verify that there is a notes field that hearing coordinators can u

[2018-08-10 15:25] Chingujo opened #6596 "Video and CO Release | Epic Viewing the schedule | Search"
As a hearing coordinator, I want to be able to search for a specific Veteran in the schedule view
### Acceptance criteria
- [ ] Verify that there is a search bar placed where the mock shows
    - Verify that the text inside the search box is in light gray italics with the following copy
     - Enter 9 digit Veteran ID
- [ ] Verify that when the user clicks search, it behaves exactly like the exist

[2018-08-10 15:29] Chingujo opened #6597 "Video and CO Release | Epic - Table view"
As a hearing coordinator, I need to be able to see a list of veterans that need to be scheduled and slot them at the appropriate location or alternate hearing location.

### Related issues:

#### Table View
- #6916 Table - Skeleton
- #6905 6905  Table - Button to switch to assign
- #6876 Table - Header Area
- #6574 Table - List of Veterans to be scheduled
- #6877 Table View - Date Selector
- #6878

[2018-08-10 15:36] Chingujo opened #6598 "Video and Co Release | Epic - Viewing the schedule"
As a hearing coordinator, I need to be able to see the confirmed schedule and make any edits or changes based on user error, re-schedules, and postponements.

### Related Issues
- #5954 Schedule Filters
- #6596 View Schedule search
- #6948 Admin view of assign hearings from schedule

[2018-08-10 16:52] kahlouie opened #6600 "Handle when country is not set for veteran"
Apparently sometimes BGS doesn't have enough information about the veteran, including country. We should handle that error earlier than where it's doing country validation for state and or postal code.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2243/events/112633/

[2018-08-10 17:33] shanear commented on #5760
As far as remand reasons, I believe VBMS is going to bake them into the dispositions. I think we may want to do the same for consistency.

[2018-08-10 18:33] MeredithStewart commented on #6594
@Chingujo -- For this one, "Verify that there is hearing coordinator information from RO and Board side," we know they do not put this information in VACOLS today - they have it outside in spreadsheets. I'm not sure I'd prioritize that functionality, but I'm curious to what you're thinking on the matter!

[2018-08-10 18:41] MeredithStewart commented on #6319
Rollout occurred on 12/8/18 via email.

[2018-08-10 18:41] #6319 closed

[2018-08-10 18:46] MeredithStewart opened #6602 "Stakeholder Reviews Test of Judge Algorithm against VACOLS data"
In order to test whether the Judge algorithm is assigning judges to CO hearings and to additional video hearings (in CO hearing rooms 2 & 3), we will generate an ouput of assigned judges against the current production data in VACOLS. Our team will review and we will send to the stakeholders to review.

Note: Stakeholders anticipate using the judge algorithm to assign judges the week of 8/20.

[2018-08-10 18:48] MeredithStewart commented on #6355
@sharonwarner I think this ticket can be closed. Take a look.

[2018-08-10 18:49] MeredithStewart commented on #6499
@Chingujo and @sharonwarner I think this ticket can be closed.

[2018-08-10 18:51] MeredithStewart commented on #6602
Added @oscarAtNava who's working on getting the output to work.

[2018-08-10 18:51] laurjpeterson opened #6604 "Update judge/attorney mapping"
Recent change to judge/attorney mapping for Judge Thomas O'Shay. One of the attorneys is a new hire (Dawn Hite- started about a month ago) and the other was on a different judge's team (Carole Kammel).

## AC
- VLJ Thomas O'Shay can view Dawn Hite and Carole Kammel in the attorney caseload sidebar.
- VLJ Yvette White can view Patti Olson and Meghan Moore in the attorney caseload sidebar.
- VLJ Ang

[2018-08-10 19:57] MeredithStewart commented on #6499
In chronological order by date for both algorithm outputs would be great.

[2018-08-10 19:59] MeredithStewart commented on #6481
We can't replicate this. We've tested extensively and we don't think it's doing this.

[2018-08-10 19:59] #6481 closed

[2018-08-10 20:06] MeredithStewart commented on #6568
Should be on review assignments, and view schedule.

[2018-08-10 20:14] MeredithStewart commented on #5953
@Chingujo -- Change mock to reflect "Download current view" and we've made the decision to go with 1 date filter for view/download, giving users extra filter features with downloads.

[2018-08-10 20:17] MeredithStewart commented on #6562
@Chingujo -- Update to remove copy under header.

[2018-08-10 20:20] MeredithStewart commented on #6501
Let's put this on hold, until we determine other UI aspects of this page. We think we will prefer "apply" becomes a button with a spinner.

[2018-08-10 20:27] MeredithStewart commented on #5860
Add additional related tickets.

[2018-08-10 20:29] #6551 closed

[2018-08-10 21:06] leikkisa opened #6606 "BGS End Product bug"
Handle case when BGS returns [{:number_of_records=>"0", :return_code=>"SHAR 9999", :return_message=>"Records found"}] for end_products

[2018-08-10 21:06] leikkisa commented on #6606
High priority due to VBMS testing deadline of today

[2018-08-10 21:11] laurjpeterson opened #6608 "Update VACOLS fields for judge check out"
We need to ensure cases judges check out to BVA dispatch in Caseflow are showing up on judge DAS reports. We currently aren't updating `DEMEMID`, the judge's number, `DECOMP` the date the judge signed it/marked it as complete, and `DELOCK`.

We should also ensure we're updating the comments that the judge leaves for the attorney back to VACOLS.

## AC
- Update`DEMEMID`, the judge's number, `DECOMP

[2018-08-10 21:19] kahlouie commented on #6556
I approved preprod deploy today. Next test on 8/19.

[2018-08-13 12:28] #6419 closed

[2018-08-13 13:55] amprokop opened #6611 "Refactor POA and return first/middle/last separately for appellant"
Related to https://github.com/department-of-veterans-affairs/caseflow/issues/6358

# AC
- Refactor POA to use a 1:many relationship instead of 1:1.
- Ensure that we're returning the appellant's POA instead of a potential contesting claimant/etc
- Return first/middle/last of POA to IDT API
- Ensure that updates to POA made during certification are safe, and will not update every POA row if there ar

[2018-08-13 14:04] mkhandekar commented on #5306
hi @amprokop + @laurjpeterson! y'all met a couple weeks ago about this right? can one of you post a super quick update about the feasibility of this change?

[2018-08-13 14:06] mkhandekar commented on #5800
@dannysellers @evankroske do you both think this (brand new cases in New tab show up as **bold**, anything that the user has clicked on returns to normal weight) is addressed in y'alls co-located work? if yes, we can close this.

[2018-08-13 14:11] dannysellers commented on #5800
Oops, sorry I missed your question Lauren, but no, I don't think these need to be separate tickets. We currently use a `CaseDetailsLink` component in all tables to link to the case details view, so we should automatically get this behavior everywhere once it's implemented 👍

I have not done any work on this

[2018-08-13 14:55] laurjpeterson commented on #5306
@mkhandekar we're all aligned on this change and @amprokop's proposed implementation! however, since search functionality is working (though not the most up to date design), and with @mdbenjam heading out for a few weeks, we're going to postpone implementing it. @lowellrex will focus on organizational queues and vso work for this sprint.

[2018-08-13 14:56] laurjpeterson commented on #5800
@evankroske - since you're working on co-located users viewing their work in the queue table, do you think you could add this change into one of your upcoming PRs?

[2018-08-13 15:48] oscarAtNava commented on #6588
We would have to submit a formal request to the VA network admin folks. We should plan on the request taking about a month to complete. The request to interact with GitHub took a couple of months to get approved and implemented, as an example.

[2018-08-13 15:59] mkhandekar commented on #5961
This is a cross-post of my [slack message](https://dsva.slack.com/archives/C754H751T/p1533910673000050), with some additional context, so that we are also tracking on github:

I / Queue team are trying to understand what data Intake team has so that we might surface separate fields for each piece of data in Case Details, and make it possible for users to edit it.

- I met with @suzchap re: how add

[2018-08-13 15:59] tejans24 opened #6613 "error when RO doesn't exist for CO hearing days"
![screen shot 2018-08-13 at 11 58 50 am](https://user-images.githubusercontent.com/1976755/44043220-48af2bea-9ef0-11e8-8f8e-9b45b1da2687.png)

[2018-08-13 16:12] shanear opened #6615 "RAMP Intake | Automatically rollback RAMP election when EP is canceled"
In order to make an entire class of wild RAMPs be a little easier to deal with, and test a feature that will be used in the end state, we will be rolling back RAMP elections whenever the corresponding EP is canceled.

## Acceptance Criteria
- When the EP status of a RAMP election is being synced, and the status is updated to canceled from any other status, then the corresponding election should be

[2018-08-13 16:15] laurjpeterson commented on #6604
@amprokop - we just got a support ticket from another judge requesting an update to her attorney mapping. let's hold off on this one until i get that so you can do it all at one time.

[2018-08-13 16:56] lowellrex commented on #6369
PR #6616 includes some--but not all--of the desired changes here. As far as I can tell, the remaining changes are:
* Decrease space between text and sorting indicator carets when column header spans two lines
* Center align text when column header spans two lines
* Constrain column headers to grid

[2018-08-13 17:22] mdbenjam opened #6617 "Unify AmaTasks and LegacyTasks"
There are very few differences between Legacy and Ama Tasks. We would like to unify them on the frontend so that we can use the same components to render them.

[2018-08-13 17:27] kahlouie commented on #6615
Add a feature toggle to turn it on and/or off for testing.

[2018-08-13 17:29] MeredithStewart commented on #6584
Related Mural Here, reflecting information about Vets360. https://app.mural.co/t/workqueue2001/m/workqueue2001/1528997950795/b75955a5390352019a9bc0e35a154024b24c558d

[2018-08-13 17:29] #5612 closed

[2018-08-13 17:29] #6392 closed

[2018-08-13 17:29] #6275 closed

[2018-08-13 17:32] kahlouie commented on #6615
Shane can help pair on this.

[2018-08-13 17:34] MeredithStewart commented on #6584
From our RO Research (July 2018):
* Prior to scheduling a Veteran for a hearing, RO hearing coordinators are checking VBMS to see if there is a discrepancy between the VACOLS address and if there are documents indicating a change of address in VBMS. Houston called this step "Research."
* If a Veteran can't be reached - returned mail - then the RO Hearing Coordinator would try calling the Veteran o

[2018-08-13 17:36] marvokdolor-gov commented on #6587
**Answers**
- Yes a Veteran's address alone is considered PII.
- It would be advisable to use a Ruby Gem that performs this function i.e. calculating driving distance or distance by miles/km. This is preferred to sending this information to 3rd party services like Google or Mapbox.

[2018-08-13 17:37] kahlouie commented on #6600
There should be an existing error message for missing veteran information. Use that.

[2018-08-13 17:39] MeredithStewart commented on #6584
From LP: Queue team is pulling in Veteran addresses from BGS. Because of the Vet360 work, Veteran address updates in other systems will flow through to BGS.

Meredith:
This means that BGS would likely be more up-to-date than VACOLS, because a Veteran would have updated their address more recently in another location than through the Board in VACOLS.

Question: Will the Board have a way to update V

[2018-08-13 17:43] MeredithStewart commented on #6587
@marvokdolor-gov -- Is the source of "Veteran's address alone" for PII, was that a determination that was made by a Privacy Lawyer for Vets.gov purposes? Or is the source somewhere else?

[2018-08-13 17:56] MeredithStewart commented on #6584
**Meredith's current thinking**
* BGS is better than VACOLS, but Queue is only doing AMA appellants before February.
* Checking VBMS is a manual process that is currently done with RO hearing coordinators.
* If necessary, the matching of Veteran home address to hearing location could continue to have a manual VBMS check to see if there was an update. Not ideal.

[2018-08-13 17:57] marvokdolor-gov commented on #6587
Sorry about not providing a source: https://nvlpubs.nist.gov/nistpubs/Legacy/SP/nistspecialpublication800-122.pdf
Executive Summary includes "Examples of PII include, but are not limited to:...Address information, such as street address or email address"

[2018-08-13 18:00] tejans24 commented on #6586
Mapbox examples: https://www.mapbox.com/help/building-a-store-locator/#make-the-map-interactive
Google maps store locator: https://developers.google.com/maps/solutions/store-locator/clothing-store-locator

[2018-08-13 18:24] lowellrex opened #6621 "Limit case search results for VSO users"
Currently, all caseflow users who have access to case search can see every case that matches the results of their search. With the introduction of VSO users we will want to prevent those users from viewing cases for Veterans the user's VSO does not represent.

[2018-08-13 18:37] lowellrex opened #6622 "Prevent requests that assume user works at board when loading Queue"
Currently, we make a handful of requests from the Queue frontend when loading the personalized task queue. Some of these requests assume the user works at the board and fail when the user is neither an attorney nor a judge (or colocated admin?). In order to support VSO users, we need to be able to load the queue for the various VSO organizations.

We can handle this a number of ways, but the simpl

[2018-08-13 18:55] laurjpeterson commented on #6015
@mkhandekar - i moved this back to backlog - unprioritized issues because it is out of scope for our first release/pilot with co-located

[2018-08-13 18:55] lowellrex commented on #6370
Completed by #6571.

[2018-08-13 18:55] #6370 closed

[2018-08-13 19:10] lowellrex opened #6623 "Assign task to VSO during intake of RAMP appeals when Veteran is represented by VSO"
In order for VSOs to see RAMP appeals for Veterans they represent in caseflow, we need to create tasks associated with the appeal and assigned to the VSO that represents the Veteran. We should do this during the intake step for all new appeals (RAMP and later AMA), as well as backfilling tasks for BEAAM cases.

These tasks are only placeholders and do not imply that the VSOs are required to take a

[2018-08-13 19:21] mdbenjam commented on #6621
I think we should expand the scope of this ticket a little. It should be that before running a search we need to check if the user, board of VSO has access to the case. If the board user doesn't have high enough sensitivity, we shouldn't show it to them either. And the check here is the same. Just need to call `can_access?` for the file number.

[2018-08-13 19:37] mdbenjam commented on #6622
This line causes a 403: https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/app/queue/QueueLoadingScreen.jsx#L45 because we can't access that endpoint.

This line makes us not make the call to the endpoint we need, because VSO are not attorneys or judges:
https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/app/queue/QueueLoadingScreen.jsx#L59

Th

[2018-08-13 20:34] evankroske commented on #6079
## Implementation Plan
- [ ] Add selector for pending tasks: 1 hour.
- [ ] Add tab. Estimate: 1 hour.
- [ ] Add column "Total Days Waiting". Estimate: 1 hour.
- [ ] Add a test. Esimate: 1 hour.
- [ ] Get PR approved. Estimate: 1 day.

- Total estimate: 1.5 days.

[2018-08-13 20:49] evankroske commented on #6081
## Implementation Plan
- [ ] Add task assignment information and instructions to CaseSnapshot. Estimate: 2 hours.
- [ ] Add a test for the new information. Estimate: 2 hours.
- [ ] Get PR approved. Estimate: 1 day.

- Total estimate: 1.5 days.

[2018-08-13 20:57] evankroske commented on #6082
## Implementation Plan
- [ ] Add an actions dropdown for colocated admins. Estimate: 1 hour.
- [ ] Add a blank page to mark the start of the place-on-hold flow. Estimate: 2 hours.
- [ ] Add a test for the new dropdown. Estimate: 2 hours.
- [ ] Get PR approved. Estimate: 1 day.

- Total estimate: 2 days.

[2018-08-13 21:09] evankroske commented on #6083
## Implementation Plan
- [ ] Add case information to "Place task on hold". 1 hour.
- [ ] Add preset hold dropdown that stores the selected duration in the state. Estimate: 3 hours.
- [ ] Add custom duration box that stores the selected duration in the state. Estimate: 2 hours.
- [ ] Add place-on-hold button and connect it to the backend. 2 hours.
- [ ] Add error handling and messaging. Estimate: 3

[2018-08-13 21:18] evankroske commented on #6084
## Implementation Plan
- [ ] Display a message when a task is placed on-hold successfully. Estimate: 2 hours.
- [ ] Get PR approved. Estimate: 4 hours.

- Total estimate: 1 day.

[2018-08-13 21:27] evankroske commented on #6086
## Implementation Plan for Assigning Back to Attorney
- [ ] Finish PR. Estimate: 2 more days.
- [ ] Get PR approved. Estimate: 1 day.

- Total estimate: 3 days.

## Implementation Plan for Assigning to Other Teams
[insert plan here]

[2018-08-13 22:53] shanear commented on #6583
All but 6 wild RAMPs are handled. Going to get in touch with Erik tomorrow about those.

[2018-08-13 23:27] laurjpeterson commented on #6407
@aroltsch has implemented support for QR, so closing this issue.

[2018-08-13 23:27] #6407 closed

[2018-08-13 23:30] laurjpeterson commented on #6621
@lowellrex it looks like mark wrote his ideas up in this ticket - should they be consolidated? https://github.com/department-of-veterans-affairs/caseflow/issues/6391

[2018-08-13 23:32] laurjpeterson commented on #6580
Closing, because the hearing was actually associated with the Original appeal, when Nate was assigned the Post Remand.

[2018-08-13 23:32] #6580 closed

[2018-08-13 23:35] laurjpeterson commented on #6443
re: action items:
- tech spec here - https://github.com/department-of-veterans-affairs/caseflow/issues/6573
- mark, lowell, and lp connected on teams 8/8

[2018-08-13 23:41] laurjpeterson commented on #6247
closing, in favor of our VSO epic and subsequent github issues to implement VSO access permissions

[2018-08-13 23:41] #6247 closed

[2018-08-13 23:46] laurjpeterson commented on #6008
Closing, because we are tracking design making and implementation of editing AOD and editing issues in the other github issues, listed above.

[2018-08-13 23:46] #6008 closed

[2018-08-13 23:46] laurjpeterson commented on #6007
Task model!

[2018-08-13 23:46] #6007 closed

[2018-08-13 23:47] laurjpeterson commented on #6004
@lowellrex implemented this last week, closing

[2018-08-13 23:47] #6004 closed

[2018-08-13 23:48] #5933 closed

[2018-08-13 23:52] laurjpeterson commented on #5832
@lowellrex where have we left off on this ticket? are we showing the document count on Case details when the user doesn't have access? i like @evankroske's suggestion to hide the document count and have the user navigate to the standard permissions error.

[2018-08-13 23:53] laurjpeterson commented on #5802
@mkhandekar - since we've implemented a few of these tooltips so far, can we close this issue?

[2018-08-13 23:53] #5779 closed

[2018-08-13 23:55] laurjpeterson commented on #5764
@lowellrex - it looks like you already knew about the support issue I tagged you on today! https://github.com/department-of-veterans-affairs/appeals-support/issues/2773

[2018-08-13 23:59] laurjpeterson commented on #5743
@mkhandekar @lowellrex - since we've implemented this first iteration of view all cases and it meets the current acceptance criteria, shall we close this issue? we can open another when we prioritize enhancements to this feature.

[2018-08-14 00:00] laurjpeterson commented on #5739
this has been implemented, closing

[2018-08-14 00:00] #5739 closed

[2018-08-14 00:02] #5735 closed

[2018-08-14 00:26] laurjpeterson commented on #5597
Both of those statements are true. The second, "this attorney is working overtime, so I can assign a few more cases to them", is the primary motivator for judges requesting this feature.

Attorneys should not work overtime cases during working hours. Senior counsel/chiefs, not judges, assign overtime cases. This is because Chiefs are management while judges are not, and only management can assign

[2018-08-14 00:46] laurjpeterson commented on #5589
@amprokop @mkhandekar @sneha-pai @allyceh - updated this github issue to more succinctly reflect design needs for POA for AMA appeals

[2018-08-14 00:46] #5576 closed

[2018-08-14 00:47] laurjpeterson commented on #4573
duplicate of https://github.com/department-of-veterans-affairs/caseflow/issues/5800

[2018-08-14 00:47] #4573 closed

[2018-08-14 00:47] #5185 closed

[2018-08-14 00:48] laurjpeterson commented on #5203
no issues in demo, closing

[2018-08-14 00:48] #5203 closed

[2018-08-14 00:49] laurjpeterson commented on #5306
closing this issue in favor of https://github.com/department-of-veterans-affairs/caseflow/issues/6111, where implementation details are captured.

[2018-08-14 00:49] #5306 closed

[2018-08-14 00:50] laurjpeterson commented on #5424
we'll revisit if attorneys should edit legacy appeal issues from case details after deciding editing issues flows for AMA appeals. closing.

[2018-08-14 00:50] #5424 closed

[2018-08-14 02:38] mkhandekar commented on #5802
Yes! 🎉

[2018-08-14 02:39] #5802 closed

[2018-08-14 13:31] MeredithStewart commented on #6584
Update based on team convo 8/13:
* Perhaps Tango should consider doing the work to get BGS addresses for legacy appellants before AMA implementation.

[2018-08-14 13:37] MeredithStewart commented on #6586
Explore VA's ERRA tool - can we leverage this internal VA tool that matches a Veteran's address to RO, and VHA locations?

[2018-08-14 13:47] MeredithStewart commented on #6585
For AMA:
* Do we need to assign an RO at intake?
* Do we rely on the BGS station of jurisdiction?
* Meredith: Do we need another data element - location of hearing?

[2018-08-14 14:05] #6613 closed

[2018-08-14 14:53] MeredithStewart commented on #6602
Expecting to get output to send to Stakeholders by afternoon Tuesday 8/14.

[2018-08-14 15:13] lowellrex commented on #6621
@laurjpeterson I think it makes sense to consolidate them. This ticket is just part one of that other two part ticket.

[2018-08-14 15:14] laurjpeterson opened #6632 "Send to other teams (backend) | Support schedule hearing and translation tasks"
Two types of administrative actions require co-located admin support users to put appeals in other VACOLS locations, so the appropriate team can take action.
- Schedule hearing
- Translation

**Schedule hearing**
- Current process: An email is sent to the hearing branch and the appeal is charged to 57. Co-located creates a diary, then closes the diary out immediately.
- Proposal for Caseflow now:

[2018-08-14 17:36] lowellrex commented on #5832
We currently always show the link, even if the current user will be presented with the standard permissions error when the click through that link and end up in Reader (as Evan notes). I think the value of this change is relatively minimal, but it shouldn't be all that difficult to implement (could probably be contained entirely within the `ReaderLink` component) so it is probably worth keeping ar

[2018-08-14 18:13] laurjpeterson commented on #6621
closing in favor of #6391

[2018-08-14 18:13] #6621 closed

[2018-08-14 18:16] #6583 closed

[2018-08-14 18:16] shanear commented on #6583
All done!!

[2018-08-14 18:40] MeredithStewart commented on #6586
The Vets.gov Facility locator has just released an API that we should take a look at: https://www.vets.gov/facilities/. The UI is available here: https://www.vets.gov/facilities/

[2018-08-14 18:53] leikkisa commented on #6416
Going through the validation tickets. Not sure if you already talked since I don't see a response or another PR.

@kara
They're in the ramp_review file, in the END_PRODUCT_DATA_BY_OPTION, it's using the end_product_modifier method.  So either 683 or 682.

[2018-08-14 18:54] kahlouie commented on #6427
Fixed this in https://github.com/department-of-veterans-affairs/caseflow/pull/6619

[2018-08-14 18:56] leikkisa commented on #5903
@suzchap I'm moving this to done because Sandra successfully did it on her last round of VBMS testing.

[2018-08-14 18:56] #5903 closed

[2018-08-14 19:53] laurjpeterson commented on #6604
updated with the other requested mapping

[2018-08-14 20:13] laurjpeterson commented on #5888
https://github.com/department-of-veterans-affairs/caseflow/pull/6637/files

[2018-08-14 20:32] kahlouie commented on #6416
Yep, I had seen what they are. Somehow this issue came back up though :(

[2018-08-14 20:34] kahlouie commented on #6416
reopening since we got another error where valid_modifiers is null. I think I'd like someone else's eyes on this problem since I've been the only one to work on it and my fix didn't solve it all. @shanear @leikkisa

[2018-08-14 21:05] leikkisa commented on #6606
Validated that this is working now with Sandra while she was doing VBMS testing

[2018-08-14 21:05] #6606 closed

[2018-08-14 21:29] #6622 closed

[2018-08-14 22:12] laurjpeterson commented on #6573
## re: Organization view
- we discussed the possibility of this view being the judge assignment view, *if it makes sense*
- this leaves the opportunity open to bulk assign cases to members within the organization
- members within the organization would comprise the current attorney caseload list

## re: Case details page for organization member
- Questions regarding showing Assign to team member a

[2018-08-14 22:18] #5888 closed

[2018-08-14 22:19] mkhandekar opened #6641 "Case details | Header | Enhancements to "view all cases""
We have implemented the ability for users to view a list of Veteran's cases from case details (see https://github.com/department-of-veterans-affairs/caseflow/issues/5743). 🎉

A few more interaction details will enhance this feature's usability and accessibility:

[copied over from the previous issue]:

- normal state
  - Veteran has 1 case open
  - Veteran has more than 1 case to their name
- view

[2018-08-14 22:19] mkhandekar commented on #5743
Sounds good! Opened a new issue ^

[2018-08-14 22:19] #5743 closed

[2018-08-14 22:35] leikkisa commented on #5829
I think this is a file number where the claimant isn't the veteran:
141102030

[2018-08-14 22:49] leahbannon commented on #4340
This looks good.

[2018-08-14 22:49] #4340 closed

[2018-08-14 22:51] leahbannon commented on #4271
We need a space between "Veteran.Please" in the error message.

[2018-08-14 22:52] leahbannon commented on #4206
this looks good!

[2018-08-14 22:52] #4206 closed

[2018-08-14 23:47] kahlouie commented on #5926
@leikkisa I think this is outdated now that we don't keep that on the various appeals and store this in end product establishments table. Mind if we close it?

[2018-08-14 23:53] kahlouie commented on #5121
Is this already true? I think we're storing it in the db as a Date, not a DateTime. Can we close this?

[2018-08-14 23:56] kahlouie commented on #5064
Considering the pending ruby version upgrade and the fact that @ferlatte is helping on that, I'm going to close this. :)

[2018-08-14 23:56] #5064 closed

[2018-08-15 12:44] amprokop opened #6645 "Add additional attributes to /idt/api/v1/appeals/:appeal_id"
The first PR that added the appeal details left out a few attributes.

# AC
- Return all DECASS document assignments (OMO Request & draft decisions) associated with an appeal, including the writing attorney, and document id
- Return a boolean indicating outstanding mail
- Return a boolean indicating if a case has ever been to quality review

[2018-08-15 13:48] lowellrex opened #6646 "Move common LoadingDataDisplay properties into component defaults"
`LoadingDataDisplay` has three properties (`loadingComponentProps`, `failStatusMessageProps`, `failStatusMessageChildren`) that do not vary much if it all in each file where we use this component. This amounts to repetitive boilerplate and leads to a lack of cohesive loading/failure messages across the application.

[code]

[2018-08-15 14:32] tejans24 opened #6647 "Provide specific errors for judge algorithm failures"
![image](https://user-images.githubusercontent.com/1976755/44153493-6238ecfe-a076-11e8-8948-f5ccf41a34a4.png)

[2018-08-15 14:36] allyceh commented on #5590
On August 14, @laurjpeterson , @nicholasholtz , and I briefly discussed giving board members the ability to edit POA. Here is where we landed: Give people (specific board members TBD, but def Dispatchers) the ability to update the POA name. This does not include editing the POA address. Hopefully, we can tie address to POA name so that when the POA name is edited, their address is reflected. If Di

[2018-08-15 14:54] laurjpeterson opened #6650 "Queue table | Show docket type"
When BVA employees are working appeals, they need to see what type of docket the appeal is on, so they know what procedures to follow.

### AC
- D = Direct Review
- E = Evidence Submission
- H = Hearing Request
- L = Legacy

and legacy can just say Legacy

### Mocks
##### Docket types explained
![judge-table-assign-caseload-docket-types-explained](https://user-images.githubusercontent.com/31224257

[2018-08-15 17:14] shanear opened #6652 "RAMP Intake | Fix data where RampElection receipt dates were not being set properly"
I found an issue where we were not properly setting the notice date for incoming Ramp Elections. I fixed the issue here:

https://github.com/department-of-veterans-affairs/caseflow/pull/6644/files#diff-075e7ac6170908de9f266a62655264b5R137

But there is still data that is corrupted because of the problem, as you can see from this prod query:
[code]

We should fix this data.

[2018-08-15 17:16] leikkisa commented on #4271
Here's validation for trying to do the same Ramp Refiling with two users:

![ramp_refiling_validation_4271.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5aa9b7c9e7d70200133c2088/125516c66e82c728ace21e0d46fa959733bd91ac89e0b34aaa5acf82284a2e772810aa247ebab77ae813394d4d1f0cf31b0d0c00eef39b2eaeb46d72dc5902efd86d0970c66c16acb8d01dba01b972995397f4edd4189fb5646fb2c99d452c1f021

[2018-08-15 17:53] leikkisa commented on #5829
@cmgiven Hey Chris, sorry all of the file numbers I post are for UAT, and we are using UAT for validation.  Understood that Prod data is sensitive.  I've been trying to say so when I do so in emails, but I was taking for granted that Suzanne knew that, and I will be more clear going forward to say the file numbers are UAT file numbers.

@shanear I am wondering where the PR is for this ticket?  I w

[2018-08-15 18:09] leikkisa commented on #5829
All data below is fake test data.
I validated this ticket using Veteran 141102030

When I create a LegacyAppeal for them with their vacols_id, and get the ramp_ineligibility_reason, it is :claimant_not_veteran

The SSPARE1 is different from the Veteran's last name (please see note above that I don't think this is the correct way to check for a claimant different than the veteran, but it seems to b

[2018-08-15 18:10] leikkisa commented on #5829
Here is the error if we try to intake them:

![substitute_appeal_5829.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5aa9b7c9e7d70200133c2088/125516c66e82c728ace21e0d46fb819830968abd9afdba7ca54de091284a18267156fa693cc7f33ab0487e021b4d44be44505d15feaf8c22a4bf3c268e5c5aead16d0d76c33d12feaa9e0dfd50e474d412dcfce9c85ecafa3c2ded8a8a4c3a1d001e8ffe593da2985985.PNG)

[2018-08-15 18:11] #5829 closed

[2018-08-15 18:11] Chingujo commented on #6593
don't worry about it - later

[2018-08-15 18:50] shanear commented on #6416
This one is a little beasty, and is the result of half-completed RampRefilings due to errors mid way through the completion process.

We can see all 13 currently affected file numbers here:
[code]

We need to clean up the data with that and possibly start prioritizing the development issues @ferlatte created to solve this problem:

https://github.com/department-of-veterans-affairs/caseflow/issues/

[2018-08-15 19:16] leikkisa commented on #4271
@leahbannon The space has been fixed, if you want to check it again with 141102026 (test data file number). Then this one should be ready to close.

[2018-08-15 19:19] amprokop opened #6655 "Refactor POA to use 1:many relationship instead of 1:1"
# AC
- Change appeal:POA from a 1:1 to a 1:many relationship to match VACOLS
- Our methods to fetch power of attorney should fetch only appellant power of attorney from the REP table (rep.reptype == "A" or "C") for now, and ignore contesting claimant POA
- Our method to determine whether an appeal has a contesting claimant should look through all REP rows

[2018-08-15 19:53] oscarAtNava commented on #6602
Output sent as planned afternoon of 8/14. May we close the ticket?

[2018-08-15 20:00] leikkisa commented on #5926
@kahlouie Makes sense! Yay for EndProductEstablishment DRY'ing up some work.

[2018-08-15 20:00] #5926 closed

[2018-08-15 20:17] oscarAtNava opened #6656 "Modify query for CO and Video Hearings"
As veterans start to get scheduled for hearings the current query to return all master records for CO and Video Hearings is incorrect. We are not returning all CO hearings in the database as the folder_nr field is now not null.

New query where clause should look for all hearings with hearing_type of 'C' for a specific date range but exclude any rows where folder_nr = '1779233' (Holiday marker).

[2018-08-15 20:20] sharonwarner opened #6657 "View Hearings | Group by room number and date"
On the View Hearings and Review Assignments pages, we should group the hearings by date and room number. That way, the central office hearings will be displayed as a group instead of multiple slots per day.

[2018-08-15 21:53] #6656 closed

[2018-08-15 22:50] shanear opened #6661 "RAMP reclosure script is broken"
The script that recloses appeals that should be closed in VACOLS has been broken since July 9th, and this is causing some more wild RAMPS :sad:

We need to determine why it's breaking and fix it.

[2018-08-15 23:06] shanear commented on #5121
If it is true, then we shouldn't have to convert it to a date everywhere we use it and need it to be a date:

Here's an example:
https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/end_product.rb#L81

But my guess is that it isn't always true since we are converting it to a date whenever it's used.

[2018-08-15 23:55] #6485 closed

[2018-08-16 00:04] leikkisa commented on #4216
@leahbannon
Test ID: 561349911, has a Ramp Election where the Veteran selected higher_level_review
Also you already saw this Leah, but I forgot to make us take a screenshot

[2018-08-16 00:05] leikkisa commented on #4064
@leahbannon
Test ID: 561349911

Choose supplemental claim

[2018-08-16 14:14] #6546 closed

[2018-08-16 14:17] #6499 closed

[2018-08-16 14:17] #6486 closed

[2018-08-16 14:31] mkhandekar commented on #5565
**Do we care if its a SC case after it's been assigned to a SCT attorney?**

1. Senior counsel (10 ppl) are responsible for assigning to SCT attorneys
2. Judges care to see if cases are SCT because they have SCT attorneys on their teams
3. Judges who have to signs decisions care
4. Board employees want to track for productivity

[2018-08-16 14:34] mkhandekar commented on #5565
For legacy cases:
- we can point to Jed's designation and design our own indicator for table/case details

For AMA cases:
- no mapping exists

[2018-08-16 16:37] laurjpeterson commented on #5565
Asked Jed a few more questions today in the [dsva-vacols github issue](https://github.com/department-of-veterans-affairs/dsva-vacols/issues/8), also linked in the Resources section of the main comment above.

![image](https://user-images.githubusercontent.com/27704093/44221902-f3878280-a150-11e8-824b-64fbbcce1350.png)

[2018-08-16 17:11] sneha-pai commented on #5565
#### Caseflow needs to Identify the unique attributes for the respective cases, for legacy and AMA cases.

Attributes such as:
- Specialty Cases (determine workload, and who should do it)
- Overtime cases
- Hearings cases
- One-time hearing(?) not in scope right now

Specialty cases: How does this work?
    - Senior counsel are responsible for assigning specialty cases to certain attorneys (presel

[2018-08-16 17:27] leikkisa commented on #6285
Happening for Australia too.

[2018-08-16 18:08] leikkisa commented on #5430
Have asked Joe to help validate this on test file number: 984562385

[2018-08-16 18:13] leikkisa commented on #5281
I just tried to take an intake with this selected, and create_contentions failed. It succeeded without the same office selected.

To do:
Figure out if this is a problem with VBMS or with Caseflow.
Fix it, test it
Create an intake with Same Office selected,
Send the test file number and claim id to Joe for validation on VBMS's side.

[2018-08-16 18:39] leikkisa commented on #4589
@leahbannon You should be able to validate this with test file number 561349913

[2018-08-16 18:44] leikkisa commented on #6251
Validated with test file number: 984562385, test claim 600135831

[2018-08-16 18:44] #6251 closed

[2018-08-16 18:53] #5764 closed

[2018-08-16 18:56] laurjpeterson opened #6666 "Collect queue user feedback"
# Goals
- Understand how our users [attorneys and judges] use Caseflow among their other tools (VBMS and VACOLS) to:
   - track against adoption goals
   - uncover additional user needs
- Seek user feedback more frequently than we do now, and enable fast follows after releases

# Lightweight user research sessions

- Every week, the team observes at least 1 attorney and at least 1 judge using Case

[2018-08-16 18:58] kahlouie commented on #6615
To test this, you'll need to run `FeatureToggle.enable!(:automatic_ramp_rollback)` in the environment's rails console. or you'll need to make a pr to add it into the environment in appeal-deployment repo.

[2018-08-16 20:52] suzchap commented on #6206
Starting to wrap my head around this and have some basic questions... maybe @laurjpeterson knows?

1. Are we incorporating 21-22 and 21-22a or just 21-22a?

2. If a Veteran wants to apply a POA to just one issue out of multiple, how do we know which issue? I don't see a way to specify this on either the 21-22a or on the AMA forms.

[2018-08-16 21:28] amprokop commented on #6206
2. will require a manual step. Intaking the 21-22a probably will require a
staff member to look at issues on open appeals and decide what to apply it
to.

On Thu, Aug 16, 2018 at 16:52 Suzanne Chapman <notifications@github.com>
wrote:

[2018-08-16 21:30] leikkisa commented on #5994
@leahbannon
Note: Validate this before this 4064, because then you'll be able to use the same file number

Test ID: 561349911
Choose supplemental claim

[2018-08-16 21:31] leikkisa commented on #6427
Validated that this is working, still need to backfill data

[2018-08-16 22:05] leikkisa commented on #6600
@leahbannon
For validation, I believe this test file number should work: 564930680
Expected result - an error message saying that the user needs to fill in stuff (one of the fields it should say we need to fill in is country)

[2018-08-16 22:43] leikkisa commented on #5339
I am closing this ticket for validation, because it's a research ticket, and Mark created the development tickets for it above.

[2018-08-16 22:43] #5339 closed

[2018-08-16 23:12] leikkisa commented on #4293
@leahbannon
I think this is ready to validate this on my local environment with test file number 239120550. We'll want to pair on this.

[2018-08-17 12:39] laurjpeterson commented on #6206
1. Just the [21-22a](https://www.vba.va.gov/pubs/forms/VBA-21-22A-ARE.pdf).
2. I agree with Alex's response, based on what we know now. Honestly, it seems hard to do! Since BVA folks process form 21-22a's today, perhaps this is something we could do some research on / ask how they currently know which issues have another POA based on the form.

[2018-08-17 13:51] suzchap commented on #6206
Thanks to you both for quick responses!

2. Ah so it sounds like there's nowhere that we know of where the Veteran would specify X issue should be connected to Y POA. Yes, we should do some research on that. Who should I ask about that -- or are you going to ask @laurjpeterson?

[2018-08-17 14:09] laurjpeterson commented on #5581
8/16 - @lowellrex, @nicholasholtz, and @laurjpeterson met to discuss rollout plans

### RAMP appeals pilot scope - October 2018
- VSOs can search for any **AMA appeal (BEAAM appeal and/or RAMP appeal)** where they are listed as the VSO in VACOLS
- VSOs can view a list of all cases where they are listed as the VSO in VACOLS (regardless of user)
- VSOs can view case details for those cases

### Roll

[2018-08-17 14:36] laurjpeterson commented on #5760
Excerpt from email with Emily Tamlyn, Legislation, Regulation, and Policy, 8/17:

§ 20.802, Remand for Correction of Error.

a) Remand. Unless the issue or issues can be granted in full, the Board shall remand the appeal to the agency of original jurisdiction for correction of an error on the part of the agency of original jurisdiction to satisfy its duties under 38 U.S.C. 5103A, if the error occu

[2018-08-17 15:30] #6080 closed

[2018-08-17 15:51] shanear commented on #6661
Looks like there are a couple appeals that were marked as having been closed as a RAMP opt-in, but in VACOLS they look like they are closed as Remands.

I have no clue why this happened. For the first one, we removed the RampClosedAppeal from caseflow, since it appears to not be appropriate for RAMP. Working with Chris on what to do about the second one.

[2018-08-17 16:05] shanear commented on #6181
After assessing our client code, it looks like there's enough different about the edit flow to warrant it's own React/Redux "application".

However, there is a lot of shared logic between HLR/SC intake and the edit issues page. For that reason, I'm proposing an `intakeCommon` folder in `client/app` where we can put code and components that are used by multiple intake apps.

The folder structure wo

[2018-08-17 16:11] kahlouie commented on #6181
I like that strategy, but also note that this is highly coupled with the work on https://github.com/department-of-veterans-affairs/caseflow/issues/5991 that we may be deferring. I'm not sure if @suzchap and @leikkisa have decided on that. After some discussion with @mdbenjam, it might be better to move some stuff into the selectors file as well to make the client app more in line with what queue i

[2018-08-17 16:16] sneha-pai commented on #5565
Additional notes from our post-standup discussion (08/16/18):

**Caseflow needs to _identify_ the unique attributes for the respective cases, for legacy and AMA cases.**

Attributes such as:
- Specialty Cases (determine workload, and who should do it)
- Overtime cases
- Hearings cases

**Specialty cases: At a table level:**
- Specialty case-team issues (Jed has programmed what cases count as speci

[2018-08-17 17:04] shanear commented on #6661
The other one appears to have never been closed properly with Caseflow, and ended up in a very strange state that we have no clue how it happened. I fixed the data, but after a little digging we still aren't clear how it got into that state.

[2018-08-17 17:04] #6661 closed

[2018-08-17 17:59] amprokop commented on #6206
One more suggestion: I'd love to pursue a solution here that works for both
AMA and legacy appeals, if possible. In my fuzzy imagined scenario where
Caseflow Intake handles 21-22a forms, there are a few possibilities:

1. Save the 21-22a information in the Caseflow DB and then display it on
the Case Details page for every AMA/legacy appeal with that appellant
2. Allow the staff member to immediate

[2018-08-17 18:03] amprokop commented on #6206
Oh, super sorry to just spew words here— just one more thought that I've
verbalized a few times but never written down on GitHub — one scenario that
I *think* is crucial to correctly handle:

1. Veteran starts an appeal for PTSD with American Legion as the
representative
2. Veteran submits a 21-22a stating "Attorney B will represent me for all
mental health-related issues"
3. Veteran starts an app

[2018-08-17 18:47] amprokop opened #6673 "Copy tweaks: Change "Caseflow Status" to "Caseflow status" and add punctuation"
"status page" and "status" are perhaps best considered common nouns (vs proper nouns) and should be lowercased.

![image](https://user-images.githubusercontent.com/3781835/44283396-4bdf8280-a22c-11e8-9673-4fe3c971792e.png)
![image](https://user-images.githubusercontent.com/3781835/44283409-5437bd80-a22c-11e8-8845-4551edb255cc.png)

# AC
- Change references from Status Page to `status page`
- Chang

[2018-08-17 18:57] #1460 closed

[2018-08-17 19:37] lowellrex opened #6674 "Adopt single format for passing dates (and times) from back-end to front-end"
Currently, we serialize dates and times in many different string formats on the back-end and have to appropriately handle each of those format when they are read on the front-end. This leads to errors caused by us expecting a certain date format and receiving a different format (for example, issue #6550). It would be much more convenient to settle on a single that dates (and times) will be in when

[2018-08-17 20:08] nicholasholtz commented on #6673
I am guessing the Status page derived from the fact that it is statuspage.io.

[2018-08-17 20:13] nicholasholtz commented on #6206
@amprokop The sitaution you described here https://github.com/department-of-veterans-affairs/caseflow/issues/6206#issuecomment-413944714 shouldn't happen.

First, the [21-22a](https://www.vba.va.gov/pubs/forms/VBA-21-22A-ARE.pdf) is limited to a particular claim (or appeal):

![image](https://user-images.githubusercontent.com/16781398/44286753-3bcda000-a238-11e8-81ef-917e8b43b0a3.png)

Per 38 CFR

[2018-08-17 20:19] nicholasholtz commented on #6206
Also, you will never see a situation where an entire VSO is appointed pursuant to a 21-22a. This is also due to 38 CFR s 14.630, and what is on the form. The form 21-22a is solely for the appointment of an *individual*:
![image](https://user-images.githubusercontent.com/16781398/44286906-b7c7e800-a238-11e8-81d9-1656002213ac.png)

And, as s 14.630 says, it limits it to a "person" to represent on a

[2018-08-17 21:37] mkhandekar commented on #6666
I love and support option 1!

[2018-08-17 22:27] amprokop commented on #6206
Aha! Thanks for the correction, Nicholas.

On Fri, Aug 17, 2018 at 4:19 PM, nicholas holtz <notifications@github.com>
wrote:

[2018-08-17 22:29] amprokop commented on #6206
In that case, we *can* just apply the 21-22a representative directly to an
issue.

On Fri, Aug 17, 2018 at 6:27 PM, Alex Prokop <alex.prokop@gmail.com> wrote:

[2018-08-17 23:33] #6271 closed

[2018-08-20 10:56] mkhandekar commented on #6666
Additional options for questions:

- Was there a time this week where you thought “ugh, this is more trouble than it’s worth” or were just not able to complete your task in Caseflow?
  - _looking for recent examples where Caseflow is lacking and can improve_
- Was there a time this week where you thought “wow, that was a lot faster/more efficient than before” or something that worked really well?

[2018-08-20 13:27] lowellrex opened #6678 "Task model supports 3 generic task actions"
In order to build [generic organizational task queues](https://github.com/department-of-veterans-affairs/caseflow/issues/6573), the `Task` model needs to support three generic task actions: `Mark complete`, `Assign to team`, `Assign to individual` (I foresee Assign to self just being a shortcut on the frontend for "assign to individual" with the current user's ID in the assignee parameter).

## Ac

[2018-08-20 13:46] lowellrex opened #6679 "Add back-end support for generic task actions dropdown lists"
In order to build [generic organizational task queues](https://github.com/department-of-veterans-affairs/caseflow/issues/6573), we need to pass the list of available teams and users within a team that can be assigned tasks from the back-end to the front (the list of available teams could just be defined in code, but we almost certainly need to go to the back-end for the list of users).

## Accepta

[2018-08-20 14:42] laurjpeterson commented on #6666
discussion notes 8/20:
- Pull previously submitted feedback by users prior to sessions
- Perhaps ask users to figure out which have feedback for us, rather than "cold-calling"
- What about emailing users these questions?

[2018-08-20 14:43] mkhandekar commented on #6666
Snowball recruitment method: Ask each interviewee, if there's someone they recommend someone we should talk to:
- someone they know for whom Caseflow is really not working, and are unhappy with it
- someone they know who has a lot of opinions / thoughts / ideas about what Caseflow could be

[2018-08-20 15:32] nemodjuric opened #6680 "Fix message when file number does not exist"
Currently, when we search for file number that does not exist in VBMS, we display Technical difficulties page with 'try again later' message. This is misleading. We should show either 'Information cannot be found' or something more specific like 'File Number does not exist within VBMS system.'

See Sentry errors for `VBMS::FilenumberDoesNotExist`

[2018-08-20 16:58] lowellrex opened #6683 "Create database table for task actions"
As part of the effort to build [generic organizational task queues](https://github.com/department-of-veterans-affairs/caseflow/issues/6573), we will store actions that can be taken on a given action in the database so we can quickly add new actions and make actions available to different work roles. For the first phase of this effort we will only have three task actions: `Mark complete`, `Assign t

[2018-08-20 17:06] #6556 closed

[2018-08-20 17:10] leikkisa commented on #5430
Joe says it worked!  He checked rated issue ID 113584 (test data)

[2018-08-20 17:10] #5430 closed

[2018-08-20 18:05] leikkisa commented on #6417
Moving to done because in another ticket

[2018-08-20 18:05] #6417 closed

[2018-08-20 19:00] laurjpeterson commented on #5950
@sneha-pai @amprokop @allyceh and @laurjpeterson met 8/20 to review mail murals.

Next steps:
1. understand the feasibility of creating mail tasks based VBMS document types - eng
2. based on feasibility, define/redefine mail routing rules - product,
3. design receiving, processing, and closing mail task (user agnostic, but likely co-located + AOD users)
4. design mail management branch creating ma

[2018-08-20 19:57] #5945 closed

[2018-08-20 20:10] #6082 closed

[2018-08-20 20:11] #6083 closed

[2018-08-20 20:11] #6084 closed

[2018-08-20 20:16] lowellrex opened #6688 "Add hook to create root parent Task from AMA appeals"
The task tree that will enable [generic organizational task queues](https://github.com/department-of-veterans-affairs/caseflow/issues/6573) for AMA appeals relies on a root parent task existing for the entire lifetime of an appeal. The function that creates this root `Task` should be called during the intake process so we can attach child tasks to it as the appeal moves through its life at the boa

[2018-08-20 20:36] #6250 closed

[2018-08-20 20:51] kahlouie opened #6691 "Fix dev environment ratings seeding"
We're getting multiple ratings issues or no ratings issues of the same one with a different date.

[2018-08-20 21:20] kahlouie commented on #6615
Jennifer Williams from AMO wants to see it herself.

[2018-08-20 21:20] #6587 closed

[2018-08-20 21:21] #6588 closed

[2018-08-20 21:23] #6093 closed

[2018-08-20 21:26] kahlouie commented on #5281
We need to get more data on the soap request for what it should be

[2018-08-20 21:30] laurjpeterson opened #6692 "Spec: What's needed to connect Caseflow Queue to Caseflow Dispatch for AMA appeals?"
Cases get into Caseflow Dispatch in two ways:
1. certain fields in VACOLS prove that the case has been outcoded
2. the decision has been uploaded in VBMS

AMA cases won't be in VACOLS. We'd like to spec out how cases might get into Caseflow Dispatch

[2018-08-20 21:32] kahlouie commented on #5991
@suzchap to update the acceptance criteria (although she's already validated it prior).

[2018-08-20 21:38] kahlouie commented on #6285
Sally has emailed VBMS to see if the bug fix on their side got deployed this weekend. Will get a pr up for the revert with the blocked label until we get confirmation.

[2018-08-20 21:52] kahlouie commented on #6416
* issues should get deleted (create a new ticket for this)
* EP establishments shouldn't get deleted
* check whether refiling has been redone -- if it has, cancel the incomplete EP -- if it hasn't, cancel the EP and re-intake it

[2018-08-20 22:02] kahlouie commented on #6210
should follow #6181

[2018-08-20 22:08] kahlouie commented on #6210
Suzanne will create a non-rating issue issue

[2018-08-20 22:19] kahlouie commented on #6385
on hold - we're waiting until we can focus on non-rating together -LB

[2018-08-20 22:28] leikkisa commented on #6212
Wait until edit framework is done to get started on this

[2018-08-21 12:30] #6632 closed

[2018-08-21 14:59] MeredithStewart commented on #6561
@oscarAtNava and @Chingujo I checked with Justin on this one last week and they would like to show if it's a holiday.

@Chingujo - Do we want to create mocks for this now?

An additional user stories: They'd like the ability to manually add to a specific date for not scheduling hearings.  They'd also like the ability to manually override and put in a hearing on a holiday (if it's an AOD and Vetera

[2018-08-21 16:06] #6081 closed

[2018-08-21 17:35] amprokop opened #6699 "Return AMA appeals from /idt/api/v1/appeals"

[2018-08-21 17:36] amprokop opened #6700 "Return AMA appeal details from /idt/api/v1/appeals/:appeal_id"
Related to https://github.com/department-of-veterans-affairs/caseflow/issues/6358

# AC
- If an AMA appeal UUID is passed to /idt/api/v1/appeals/:appeal_id, details for that AMA appeal should be returned
- See https://github.com/department-of-veterans-affairs/caseflow/blob/d51d9dbf564341058787fc8ef8503b5cc55815a1/app/models/serializers/idt/v1/appeal_details_serializer.rb and the task/document seri

[2018-08-21 17:36] amprokop opened #6701 "Allow dispatch users to receive all claimant and POA addresses from BGS for AMA appeals"
# AC
- When requesting appeal details for AMA appeals from /idt/api/v1/appeals/:appeal_id, Dispatch users should be able to receive addresses along with name information for all appellants (including contesting claimants) and POAs for all appellants
- This information should be fetched from BGS
- For now, I'm thinking we should *not* rely on cached information for the addresses — we want the most

[2018-08-21 17:59] leikkisa commented on #6384
Validation test file number: 586864247

[2018-08-21 18:35] laurjpeterson commented on #6666
Discussion with @KCollinsBrown -

- schedule sessions on Wednesdays at 1:30pm for 30 minutes
- schedule sessions for Wednesday 8/22, 8/29, 9/5, 9/12
- one judge, and one attorney per

- attorneys and judges (as of may 16, 2018) are listed in this excel file.
[attorneys_judges_chiefs_may.16.2018.xlsx](https://github.com/department-of-veterans-affairs/caseflow/files/2307575/attorneys_judges_chiefs_m

[2018-08-21 18:40] kahlouie commented on #6210
@suzchap I'm gonna get started on this, but try to ignore all the nonratings issues as previously discussed

[2018-08-21 19:02] lowellrex commented on #6573
We've decided to delay work on a generic task action framework indefinitely. The following assumptions lead us to believe that a generic task action framework (where we store the definitions for those task actions and permissions for those actions in the database) is less favorable than simply defining all of the task actions we will ever need in code without a database component:
* The limited se

[2018-08-21 19:03] lowellrex commented on #6683
Wrote up some thoughts on why we closed this ticket in the tech spec: https://github.com/department-of-veterans-affairs/caseflow/issues/6573#issuecomment-414786211

[2018-08-21 19:24] lowellrex opened #6703 "Add task actions dropdown for organizational queues"
In order to build [generic organizational task queues](https://github.com/department-of-veterans-affairs/caseflow/issues/6573), we need to support a small set of generic task actions for teams and individuals using organizational task queues. On the front-end we need to add a component that is similar to the [task action dropdowns for the existing queues](https://github.com/department-of-veterans-

[2018-08-21 20:09] lowellrex opened #6704 "Add endpoints to receive generic task actions"
In order to build [generic organizational task queues](https://github.com/department-of-veterans-affairs/caseflow/issues/6573), we need to support a small set of generic task actions for teams and individuals using organizational task queues. On the back-end we need to be able to receive requests for each of the three generic task actions. At a bare minimum these actions need to have the following

[2018-08-21 20:19] KCollinsBrown commented on #6666
@laurjpeterson just emailed the above users.  Will track here who is attending and dates:

Name | Date Attending
---| ---

[2018-08-21 21:14] laurjpeterson commented on #6666
## Proposal for these user feedback sessions

- **Begin** with introductions, and by thanking the user for sitting down with us, and explain that we're hoping to observe them use Caseflow and ask a few questions about how they use it to do their work.
- **Observe:** Ask the user to show how they've been using queue that day
- **Ask:** The below questions

Suggested priority order for questions:

1

[2018-08-21 21:55] #6691 closed

[2018-08-21 22:05] sneha-pai commented on #6666
_--- Proposed edits by Sneha below-------_
## Proposal for these user feedback sessions

- **Begin** with introductions, and by thanking the user for sitting down with us, and explain that we're hoping to observe them use Caseflow and ask a few questions.

- **Mention** that nothing they say will offend us. We want them to be as open as possible with their feedback, and that their feedback is esse

[2018-08-21 22:30] shanear commented on #6416
Reran the query. There are now 16 of these 😢

I think we'll probably want to work on the solution before cleaning up the data.

[2018-08-21 22:37] mkhandekar commented on #6666
I like these questions and would appreciate seeing an example of what they are talking about, but let's be conscious of how much time each example / show&tell is taking, and prevent going down rabbit holes. If a workflow seems to be a particularly hairy one, let's pause and ask to set up a follow up conversation for them to take us through it, so that we can get through all the questions.

[2018-08-21 23:52] shanear commented on #6354
`EndProductEstablishment` sort of achieves this goal. I think we can incorporate these concepts in the other issues.

[2018-08-21 23:52] #6354 closed

[2018-08-22 17:00] shanear commented on #6427
Backfilled the data via the following commands:
[code]

This fixed all the data:
[code]

[2018-08-22 17:00] #6427 closed

[2018-08-22 17:16] shanear opened #6709 "Canceling RampRefilings or AMA Reviews should delete issues too"
When we cancel a RampRefilingIntake it deletes the associated RampRefiling, but not the RampIssues associated to that refiling. Those RampIssues should be deleted as well.

As another item on this ticket, we should also clean up any orphaned RampIssues in prod.

[2018-08-22 17:38] kahlouie commented on #6210
@suzchap I'm removing `If you are unable to find one or more issues, enter these in the "other issues" section.` since we're not including unratings issues on this story.

[2018-08-22 18:18] shanear opened #6710 "Case search / Case list | Add Higher Level Reviews and Supplemental Claims"
As a VBA employee I want to be able to see all the higher level reviews, supplemental claims and appeals for a veteran, and the details about those reviews.

### AC
- Users can view a list of SCs and HLRs in search results
- Users can view a list of SCs and HLRS in case list within Case details

### Mocks

#### Option 1 (All data revealed in table form)
![search-results-sc-hlr-1](https://user-imag

[2018-08-22 19:00] kahlouie commented on #6210
@suzchap What should the cancel button do? When should it be used?

[2018-08-22 19:17] leikkisa commented on #5281
Here's the schema, and we think we need to move the issues before the origSrc.

[code]

[2018-08-22 21:01] #6355 closed

[2018-08-22 22:18] suzchap opened #6714 "Non-rated issues in-line error for required fields"
CAs will need to enter the last decision date for each non-rated issue, so these issues can be tracked for timeliness. This story covers what happens when a required field isn't filled out AND if one of the rated issues is selected (if a rated issue isn't selected it doesn't matter because the Create EP button is grayed).

This was originally part of #5991 but was pulled to be done separately beca

[2018-08-22 22:29] suzchap commented on #5991
Removed from AC because it's technically complex and may be moot since we're redesigning this page. New ticket #6714 to remind us to revisit.

[2018-08-22 22:35] suzchap commented on #5991
Validated.

[2018-08-22 22:35] #5991 closed

[2018-08-23 13:13] amprokop opened #6715 "Investigate how VACOLS BVA Dispatch outcoding works, and how we might outcode AMA appeals after BVA Dispatch"
### Raw notes — what happens when BVA Dispatch outcodes in VACOLS?

Walked through [this logic](https://github.com/department-of-veterans-affairs/dsva-vacols/issues/25)

- error if decision is not a valid date
- error if not all issues have dispositions
- check if there are any remanded, granted, in-development, and stayed issues
- error if there are any issues marked "in-development"

- if there

[2018-08-23 13:15] #6678 closed

[2018-08-23 14:41] evankroske commented on #6079
@mkhandekar , I've got a question about the "Total Days Waiting" column. When a case appears on the pending tab because it has new documents, what should be shown in the column?

[2018-08-23 16:35] laurjpeterson commented on #6604
Updating this with another support request from Judge Kessel - https://github.com/department-of-veterans-affairs/appeals-support/issues/2828

[2018-08-23 18:50] mkhandekar commented on #6666
We did 2 sessions yesterday.
- [Raw notes in workflowy](https://workflowy.com/s/WsC.BxBGVcpPY0) (ask one of the designers to send you a link!)
- [Light analysis (so far) of observations in mural ](https://app.mural.co/t/workqueue2001/m/workqueue2001/1534886274809/89a0709cd78e64cd2b3b005e4afc858e26c1996b)

[2018-08-23 18:54] mkhandekar commented on #6710
adding myself to this one so we can circle back in a few weeks

[2018-08-23 19:00] #6079 closed

[2018-08-23 20:25] mkhandekar commented on #6079
Answer to Evan's question is: "#A of #"B . (A = number of overdue days, B = number of total days waiting)

See [slack conversation](https://dsva.slack.com/archives/C6E41RE92/p1535035633000200) for context.

[2018-08-23 20:56] evankroske opened #6720 "Colocated Queue | Add task counts to tabs"

[2018-08-23 21:18] mkhandekar opened #6721 "Design prototype v1 for editing AMA issues"
Part of **Editing AMA appeal issues: #5961**
---

Queue is working on scenarios:

3. "Add" - Post-intake, an attorney can add a decision issue to better reflect what the Veteran is appealing (while maintaining a link to a request issue).
4. "Add and edit" - Post-intake, an attorney can add a decision issue and edit a decision issue to better reflect what the Veteran is appealing (while maintaining

[2018-08-23 22:40] #6720 closed

[2018-08-23 23:06] leikkisa opened #6723 "Move Intake-specific styling to Caseflow"
Look for opportunities to move Intake-specific styling in the _intake.scss file to common styles, or use existing styles.

Suzanne is working on a strategy for this so we should work for her.

[2018-08-23 23:11] shanear commented on #4793
I've validated that this is happening in prod.

[2018-08-23 23:11] #4793 closed

[2018-08-24 13:49] #6704 closed

[2018-08-24 13:50] #6688 closed

[2018-08-24 14:24] lowellrex opened #6724 "Determine which organizations a Caseflow user belong to"
In order to allow folks to visit [generic organizational task queues](https://github.com/department-of-veterans-affairs/caseflow/issues/6573) for various organizations within the Board, we need to know if they are a part of those organizations. The ways by which we determine if somebody can access a queue differs for each queue that currently exists. For VSOs, we check that the user has the [VSO C

[2018-08-24 14:32] lowellrex opened #6725 "Prevent unauthorized users from taking actions on generic tasks"
#6713 enabled back-end support for taking action on generic tasks. However, there are no limits on who can take those actions. We should constrain task actions from happening for generic tasks unless the user is the task owner (if the task is assigned to an individual) or belongs to that organization (if the task is assigned to an organization). In addition to enforcing this on the back-end, we sh

[2018-08-24 14:48] #6584 closed

[2018-08-24 15:26] #2289 closed

[2018-08-24 15:28] #2446 closed

[2018-08-24 17:31] MeredithStewart commented on #6585
We should talk to Shane about this one. Is intake having some sort of association with an RO? Otherwise, we'll need to decide how we want to associate to an RO.

[2018-08-24 17:31] aroltsch commented on #6699
Follow up questions:
1. How do we determine if a user is a dispatch user?
2. What if a user has multiple roles?

[2018-08-24 17:49] sharonwarner opened #6727 "VACOLS Integrations | Pull veterans ready for hearing schedule"
Create a VACOLS integration that pulls all veterans that need to have a hearing scheduled:
- In location 57
- Within docket range

The object pulled should have the following attributes:
- veteran name
- hearing type
- appeal (and associated RO)

[2018-08-24 18:16] leikkisa commented on #6545
It turns out this is most likely in BGS
Ratings sends the contention ID and rated issue ID after finalizing the rating

Nate suggests we look at these:
manageRatingProfile
manageRatingProfileForAwards

I'm noticing these might also have information:
RatingManagementService
RatingInformationService

I think the next step is to look at the WSDL

[2018-08-24 18:26] kahlouie commented on #6181
To test this, visit `https://appeals.cf.uat.ds.va.gov/intake/higher_level_reviews/600132141/edit`. While you are testing this, also validate #6210 as they are highly connected.

[2018-08-24 18:28] kahlouie commented on #6210
Test this at the same time as 6181. Click the edit issues link on the landing page to navigate here and/or go directly to `https://appeals.cf.uat.ds.va.gov/intake/higher_level_reviews/600132141/edit/select_issues`.

[2018-08-24 18:33] #6285 closed

[2018-08-24 19:00] #6604 closed

[2018-08-24 19:06] sunil-sadasivan commented on #6692
Futher notes:

For the EstablishClaim model, we will need to do the following:

update `appeal` model to support:

[2018-08-24 20:28] shanear commented on #6212
@suzchap what happens if a user doesn't change anything and clicks save?

[2018-08-24 20:29] shanear commented on #6212
Asked this in person, the decision is that the Save button should be disabled until a change is made.

[2018-08-24 21:35] suzchap commented on #6384
I still see the primary button -- at least in the HLR flow ---

![Screen Shot 2018-08-24 at 2.30.04 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/57758753a582050e0017b00d/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772b6456f76b7191a37af1112b4f5f5b5ecc3c4a4356bcbbd671f3e57862804e0ee5d33c5d22c33413a5b8d41bbf50bd208b1d87b3bc891ed2f42f67b6d5db1063474f4dcbe

[2018-08-27 13:15] #6550 closed

[2018-08-27 13:30] laurjpeterson opened #6734 "Test attorney-co-located loop with Jed (admin action pilot)"
We've finished developing both the back and front end for the attorney to co-located loop so we'd like to test the whole flow and ensure it updates VACOLS as intended.

- Testing changing VACOLS locations
   - When attorneys assign admin actions to co-located, VACOLS location changes to CASEFLOW
   - When co-located assign translation task to translation, VACOLS location changes to 14
   - When co

[2018-08-27 13:41] laurjpeterson opened #6735 "Adapt attorney to judge loop for AMA appeals"
Ticket to keep track of ensuring each screen for the attorney/judge loop functions with AMA appeals.

[2018-08-27 13:48] laurjpeterson opened #6736 "Add issue dispositions for AMA appeals"
When attorneys are assigning AMA cases to judges, they need to add issue dispositions for each issue, so the judge can review the draft decision.

**Out of scope:**
- Attorneys editing issues
- Attorneys adding dispositions to edited issues

[2018-08-27 13:49] #6735 closed

[2018-08-27 13:54] laurjpeterson opened #6737 "Create data model for legacy + AMA POA at issue level"
Veterans are allowed to elect different representation by issue. This github issue is to define the data model for storing POA at the issue level, as we rely on BGS for POA at the Veteran level.

[2018-08-27 14:03] laurjpeterson opened #6738 "Review Caseflow Dispatch screens - decide AMA appeal designation"
For October RAMP appeals pilot, we are planning to connect Caseflow Queue to Caseflow Dispatch. We are assuming that ARC employees can still use Caseflow Dispatch to route AMA decisions so they can be adjusted.

This github issue is to review all Caseflow Dispatch screens and see where we need to designate the appeal an AMA appeal.

[2018-08-27 14:06] laurjpeterson opened #6739 "Investigate using VBMS document types for mail tasks"
Technical investigation around how we might rely on VBMS document types to create a mail task, within our task model, in Caseflow.

Ideally:
- if a new document of type X is added to a Veteran's efolder, and that Veteran has an open or history status appeal, we would be able to add a corresponding mail task of type X that we can assign to a specific organization's queue

Questions:
- But does it s

[2018-08-27 14:07] #6324 closed

[2018-08-27 14:42] sharonwarner opened #6740 "Date Selector | Prevent 5 digit years"
The date selector should not allow 5 digit years.

[2018-08-27 14:44] sharonwarner opened #6741 "Data Structures | Caseflow parent records and hearing days"
Meet with Oscar, Sharon, and Teja to confirm data structures, and then create them in Caseflow.

[2018-08-27 15:16] lowellrex commented on #5958
When we re-intake these RAMP appeals we will need to create the root task of the task tree (how we will track work that needs to be done on an appeal post-VACOLS). We added a method to create the root task in PR #6689, so all that needs to be done is one call with an `Appeal` object that looks like `Task.create_root_task(appeal)`.

Let me know if there are any questions!

[2018-08-27 15:23] lowellrex opened #6742 "Show BEAAM and RAMP appeals in case search for everybody using queue"
Currently we do not show BEAAM and RAMP appeals for folks who do not have the `queue_beaam_appeals` feature flag on in the case search results. This ticket exists to change that.

[2018-08-27 15:37] sharonwarner opened #6744 "VACOLS Migration | Create child records in Caseflow"
Requires #6741

Currently in Build Hearing Schedule, we create the child records in VACOLS. We should update the logic to create the child records in Caseflow.

[2018-08-27 16:32] leahbannon commented on #6099
We should follow up with Queue team w/ an answer

[2018-08-27 16:53] amprokop commented on #6351
@shanear — I prefer this solution for its predictability. Reasons:

1. Request latency

There are users who are going to need to see 100+ Veteran names every time they interact with Caseflow. It's likely those users will see sporadic timeouts and sporadically very long load times.

2. Downtime

If we cache, BGS downtime is going to bring down Queue, the IDT, and other parts of Caseflow for some us

[2018-08-27 17:45] #6742 closed

[2018-08-27 17:59] kahlouie commented on #6186
Edit: This issue assumed that we were already syncing Claim Reviews, which we weren't. We now need to move sync job to end product establishments table.
This is also changing the way we sync ramp election eps.

Then we can find the source, if it's a claim review, sync the disposition. Don't worry about error handling yet.

[2018-08-27 20:39] evankroske opened #6751 "AMA Attorneys | Case Details | Remove medical review from actions drop-down"

[2018-08-27 20:40] evankroske opened #6752 "AMA Attorneys | Case Details | Add docket type"
See designs here: https://github.com/department-of-veterans-affairs/caseflow/issues/6650

[2018-08-27 20:41] evankroske opened #6753 "AMA Attorneys | Select dispositions | Remove actions column"

[2018-08-27 20:41] evankroske opened #6754 "AMA Attorneys | Select dispositions | Remove add issue button"

[2018-08-27 20:42] evankroske opened #6755 "AMA Attorneys | Select dispositions | Remove vacated checkbox"

[2018-08-27 20:45] evankroske opened #6756 "AMA | Submit draft decision | Test page"

[2018-08-27 20:47] evankroske opened #6757 "AMA Judges | Evaluate decision | Add support for AMA cases"

[2018-08-27 20:48] evankroske opened #6758 "AMA Judges | Evaluate decision | Change confirmation message to not mention DAS"

[2018-08-27 20:50] evankroske opened #6759 "AMA Judges | Assignment AMA support"

[2018-08-27 20:51] evankroske opened #6760 "Queue | Judges | Add support for AMA tasks to review tasks view"

[2018-08-27 21:33] mkhandekar commented on #5597
@laurjpeterson should we include this in the "labels" work this sprint, or should it be deprioritized? cc: @sneha-pai

[2018-08-28 13:41] mdbenjam commented on #6044
We already pull POA from BGS!

[2018-08-28 13:41] #6044 closed

[2018-08-28 13:47] laurjpeterson opened #6763 "Tech discovery: Investigate creating mail task from VBMS document types"
Investigate the feasibility of querying Veteran eFolders to identify folders with new documents, and creating mail tasks based off of those new documents.

Potential flow:
- Caseflow recognizes Veterans with open or closed appeals
- Caseflow recognizes VBMS documents of certain types - e.g.
- Caseflow adds a mail task o

Questions:
- Can we use the VBMS endpoint about fetching new documents withou

[2018-08-28 14:05] #6268 closed

[2018-08-28 14:47] mdbenjam commented on #6274
I propose two main approaches to this. Both approaches require a change in Intake to save the veteran's birthdate in Caseflow. This can be added to https://github.com/department-of-veterans-affairs/caseflow/issues/6351

# Daily job
Our first option is to setup an active job that runs once a day looking at every appeal (or possibly every active appeal, i.e. each appeal with at least one task), and

[2018-08-28 14:47] suzchap commented on #6384
LGTM

[2018-08-28 14:47] #6384 closed

[2018-08-28 14:50] suzchap commented on #6210
@kahlouie The Cancel button should just close the window.

[2018-08-28 14:56] suzchap commented on #4589
LGTM

[2018-08-28 14:56] #4589 closed

[2018-08-28 15:00] cmgiven commented on #6274
I'm pretty strongly inclined toward 2. What's stored in the database is immutable and true, and the determination of whether the claimant is AOD or not is stored in application logic. Avoiding the need for a potentially fragile job is a bonus. The need for devs to need to know the more complex query could be avoided by create an aod scope.

One note is I think it makes the most sense to determine

[2018-08-28 15:04] sunil-sadasivan commented on #6692
Just to update this thread, I am chatting with Shane at 1:30 today.

The biggest question in my mind is whether VBMS will have new EP codes for AMA appeals.  If not, we will be able to expand EstablishClaim to support AMA appeals, if not, this task may include needing to refactor the dispatch app a bit.

[2018-08-28 15:06] mdbenjam commented on #6274
Ah yeah the AOD scope makes a lot of sense 👍

When a claimant asks for a motion to get advanced on the docket, does that apply to all their appeals for ever?

[2018-08-28 15:06] suzchap commented on #6234
I began validation with test user 564930680 and chose payee code 99. When I went to create the EP on the "finish" page, I got the "something went wrong" error so I canceled the intake.

Once that's resolved, I guess I'll need to submit again? Or will we be able to check the last two bullets in the "how to validate" section without actually creating an ep?

@kahlouie or @shanear can one of you help

[2018-08-28 15:32] suzchap commented on #5994
Validation part 1:
I started a SC for the test id ^....

I started the claim with caseflow test user CF_Q_283 and then using caseflow test user CF_KIRK_283, I tried to start a SC for the same test veteran ID and successfully got the message "TEST ONE already started processing this form We noticed that TEST ONE may be in the middle of processing the same form for this Veteran in Caseflow. Please c

[2018-08-28 17:07] tejans24 opened #6768 "Fix error handling location for the judge algorithm"
`HearingSchedule::Errors::CannotAssignJudges` is not being thrown from the correct location.
Thus it doesn't contain all the details needed to show the unassigned dates to the users.

[2018-08-28 18:11] evankroske commented on #6734
## Test Plan
- [ ] Become CASEFLOW_283.
- [ ] Open the case of LAA.
- [ ] Select "add colocated task".

[2018-08-28 18:50] mdbenjam commented on #6274
So maybe we just need to instruct people to change AOD for every open appeal for the veteran?

[2018-08-28 18:57] shanear commented on #6358
##Proposal: Build a Caseflow Decision Uploader in favor of an IDT Outcode API
Instead of having the appeal be outcoded when it's signed, it should be outcoded when it's uploaded to VBMS. We can do this by building a simple Caseflow widget that dispatchers use to upload the document to VBMS and outcode the appeal at the same time. This would automatically link the VBMS document with the Caseflow ap

[2018-08-28 19:05] amprokop commented on #6358
Super nice. Will think / talk this through with some folks tomorrow, @shanear. Thanks!

[2018-08-28 19:05] cmgiven commented on #6274
Yes. Or we do it ourselves?

[2018-08-28 19:11] mdbenjam commented on #6274
Yeah editing aod on the case details page could automatically updated aod on all open appeals.

[2018-08-28 19:53] cmgiven commented on #6274
Side note: it would be great if this was more than a checkbox. Ideally we’d know for what reason the motion was granted (age, illness, financial distress, other). That’s on top of knowing who flipped the box (including if they removed AOD status) and when they did that.

[2018-08-28 20:26] sharonwarner opened #6771 "VACOLS Integrations | Speed up insert / update calls"
When Scott was uploading judges to VACOLS, the call took over 3 minutes. We need to speed that up a bit.

[2018-08-28 20:31] mdbenjam commented on #6274
Will there always be a document in VBMS if it's not-age-related? Maybe we could either say due to age, or link to the document?

[2018-08-28 20:34] cmgiven commented on #6274
I think a judge can grant AOD without a formal motion in a hearing. @annienguyenUSDS would know.

[2018-08-28 21:07] shanear commented on #6351
We can cache the veteran names indefinitely, this seems like it would solve the issues you're talking about. I'm open to chatting about this.

[2018-08-28 21:14] shanear commented on #6234
Let's wait for sally to get back

[2018-08-28 21:19] sharonwarner opened #6773 "Review Assignments | Unset VACOLS upload"
Currently when a user clicks Confirm on the Review Assignments page, we set vacolsUpload to true so we know to upload the data to VACOLS. If a user encounters an error while uploading to VACOLS, and navigates away from the error page, we don't unset vacolsUpload. This could result in accidental uploads to VACOLS.

We need to unset vacolsUpload on unmount.

[2018-08-28 21:23] sharonwarner opened #6775 "Success Page | Timeout issues"
Requires #6771

Currently, the VACOLS upload takes ~3 minutes. If it cannot be reliably sped up to under 1 minute, we need to make the following changes:

1) Move the VACOLS upload to a job
1) Update the frontend confirmation logic to start the job and then poll the backend to see when the job is completed
1) While the job is running, we should prevent the user from making other edits (possibly sh

[2018-08-28 21:41] sharonwarner opened #6776 "Spreadsheet Validations | Remove case-sensitivity"
The spreadsheet validations should not be case sensitive

1) The judge name check in VACOLS
1) RO city / state

[2018-08-28 21:44] sharonwarner opened #6777 "Spreadsheet Validations | Specific errors"
Currently when a hearing scheduling user gets a spreadsheet error, the errors aren't descriptive enough to be useful to the user. We need to make the errors more specific:

1) When a judge is missing from VACOLS, we should show the judge name
1) When a date is out of the date range, we should show the date
1) When there are duplicate dates, we should show the duplicate dates
1) When a date is not

[2018-08-29 00:12] nicholasholtz commented on #5760
Reached out to Mike Palmer last week. Will follow-up on Wednesday, 8/29

[2018-08-29 13:53] amprokop opened #6778 "Adapt AMA attorney checkout flow for RAMP appeals"
- Get basic AMA attorney flow working for appeals where all issues are granted or denied
- Verify requirements for `on_hold` tasks and ensure they're correctly filtered out for an attorney if necessary
- Allow remand reasons to be chosen for AMA appeals during attorney checkout (https://github.com/department-of-veterans-affairs/caseflow/issues/5760)
- Investigate and address errors in the console

[2018-08-29 14:12] mdbenjam commented on #6351
I'm generally against storing duplicate data in Caseflow that we can get from BGS. But I think for these kinds of *almost* never changing fields it makes sense. Another example where we'll need this is for birthdates. We need that in PG rather than Redis since we'll have to run queries on which Veterans are older than 75 to determine who is eligible to be advanced on the docket.

[2018-08-29 15:10] laurjpeterson opened #6780 "Investigate hearing data in Case details"
We've gotten some support tickets about certain appeal records in Caseflow not showing hearing data. It seems to be related to a Post Remand record vs. the Original appeal record - the hearing is on the Original appeal record but the data is not on the Post Remand record.

Let's add some copy in the Hearing section of Case details to direct users to `View all cases` so they can see other cases ass

[2018-08-29 15:18] lowellrex opened #6782 "Ensure GenericTasks are assigned by human beings"
When we create a child task for a GenericTask, we use the [parent's assignee to set the child's assigner](https://github.com/department-of-veterans-affairs/caseflow/blob/8e9f6bba985c0f927a69202286b35e955502fe0a/app/models/tasks/generic_task.rb#L22). This is mostly correct except in the case where the parent task is assigned to an organization. In that case, we should set the child task's assigner

[2018-08-29 15:59] leahbannon commented on #4216
I'm not getting an error for HLR, I'm guessing we need to set up the test data again

[2018-08-29 16:07] laurjpeterson opened #6784 "Turn on feature toggle for co-located/attorney admin action pilot"
Turn on feature toggle for co-located/attorney admin action pilot

**Pilot Participants**
- 2 co-located admin
  - [x] Tim Owens
  - [x] Randy Seay
- 10 attorneys
  - [ ] Julie Unger
  - [x] Nakiya Whitaker
  - [x] Robert Burriesci
  - [x] Claire Davidoski
  - [ ] Martin Peters
  - [x] Paul Bametzreider
  - [x] David Jemerfield
  - [x] Merry Wulff
  - [x] Bentom Komins

## AC
- Feature toggle `col

[2018-08-29 16:11] laurjpeterson commented on #5760
Email from Emily Tamlyn, LRP, this morning about issue dispositions and remand reasons

---
Good morning,

We met with Dustin Ware yesterday to discuss Section 5, the spreadsheet you sent us regarding Section 5 and IT requirements, and your mural.

We agreed that for legacy cases, the pre and post cert remand and decision reasons need to stay tracked. Even though there will not be a form 8, there

[2018-08-29 16:50] leahbannon commented on #6543
hey I think some of the ratings have been closed out - I need a few more to really validate this, right?

<img width="981" alt="screen shot 2018-08-29 at 12 49 50 pm" src="https://user-images.githubusercontent.com/4323988/44802573-1753bb00-ab8a-11e8-99b8-b4fe5a5c8f95.png">

[2018-08-29 16:52] kahlouie commented on #6543
@leahbannon I don't think you need more ratings, just need to know that it's using the profile date instead of the promulgation date. Do you have that in VBMS UAT?

[2018-08-29 17:50] sneha-pai commented on #6650
@allyceh @laurjpeterson @mkhandekar : I've added two variants for displaying docket type (AMA lanes and legacy). I'd love your feedback as comments below, and or we can chat about it in a call. Would love to know who will be in charge of developing the front-end of this, to verify and clarify that one or both of these treatments are accurate to the way we want to display docket numbers in Queue ta

[2018-08-29 18:37] laurjpeterson commented on #6666
Interviewed Judge Jonathan Kramer - notes in workflowy and light analysis in Mural (see links above)

[2018-08-29 18:49] suzchap commented on #5994
Validation part 2: I returned 25 hrs later, again as CF_KIRK_283 and tried to start intake for this test user --- and was able to just fine. Validation complete.

[2018-08-29 18:49] #5994 closed

[2018-08-29 18:54] mdbenjam opened #6787 "Restrict VSO access to only view appeals they are assigned to"
VSOs should only be able to see appeals where the appellant has selected them as a power of attorney.

[2018-08-29 18:57] amprokop commented on #6358
@laurjpeterson, mind taking a look at Shane's proposal and offering thoughts?

[2018-08-29 19:00] amprokop commented on #6358
I remember there being some rules associated with decision uploads to VBMS — like for example, if it's after 3pm the document doesn't get uploaded until the next day? Is that right?

[2018-08-29 19:03] aroltsch opened #6788 "Colocated Queue | Mark cases in_progress when a user clicks into a case details"
AC:

When a user clicks into a case detail, mark cases as in_progress using ```PATCH /tasks/:id { status: :in_progress }```

[2018-08-29 20:31] lowellrex opened #6789 "Fix master_record_helper_spec.rb"
In order to downgrade the version of ruby we are using in Circle CI builds, we had to skip [a test in master_record_helper_spec.rb](https://github.com/department-of-veterans-affairs/caseflow/blob/27d4043b449363d8a318c810f446b688abe4b9b0/spec/helpers/master_record_helper_spec.rb#L26) because it failed consistently. This test should be fixed or removed. Until then it will be skipped.

## Acceptance

[2018-08-29 21:55] #6768 closed

[2018-08-29 23:56] laurjpeterson commented on #6650
Thanks @sneha-pai!
- I like where you've placed the case labels
- I prefer Variant A because it is easier for me to distinguish the docket type from the docket number
- The case labels are more noticeable to me, likely because of the colors. I wonder if in the long run, it's more important for the docket type to be more noticeable because of the different procedural considerations attorneys and ju

[2018-08-30 01:40] #6789 closed

[2018-08-30 12:44] oscarAtNava commented on #6741
Meeting took place, Below are the notes, which are also in the tech spec.

August 28, 2018
Merge Central Office and Video Hearing Day into one table and move hearing_type to consolidated table.
appeal_id - how do we associate to both LegacyAppeal and Appeal models.
How is team assigned? Do we need it? In VACOLS UI the team field is populated based on what is on the staff table for the judge.
Remov

[2018-08-30 13:47] tejans24 opened #6793 "Make transactions work when schedule period is finalized"
Right now, the current transaction block between two databases doesn't work properly.

We need to be able to create nested transactions for both VACOLS submission an also for changing attributes in Postgres once the VACOLS submission is completed.

[2018-08-30 14:34] amprokop commented on #6358
Yeah — we discussed this with Paul. The interesting bit here is that it might actually be the lowest-effort way to hook up Caseflow Dispatch.

[2018-08-30 14:46] sneha-pai commented on #6650
Thanks @sneha-pai!

I like where you've placed the case labels
I prefer Variant A because it is easier for me to distinguish the docket type from the docket number
The case labels are more noticeable to me, likely because of the colors. I wonder if in the long run, it's more important for the docket type to be noticeable (compared with case labels) because of the different procedural consideration

[2018-08-30 15:08] mkhandekar commented on #6650
#### Labels:
- 👍 for Variant A
- 👍 for light docket label (which will be present for each row) and darker case labels (which will be scattered/fewer) with hover for each
- 👍 for having this column be sortable. @dannysellers with the table/sorting library we are using, what are the options available for possibly clicking on the sort arrow and a dropdown appeaing with the 4 AMA lane options... or so

[2018-08-30 15:15] amprokop opened #6796 "Add new Fiduciary issues"
![image](https://user-images.githubusercontent.com/3781835/44861151-f51f7300-ac45-11e8-8b8a-0aeb19986e39.png)

[2018-08-30 15:17] amprokop commented on #6796
02 Hub Manager removal of a fiduciary under 13.500
03 Hub Manager misuse determination under 13.400
04 RO Director decision upon recon of a misuse determ
05 Dir of PFS negligence determination for reissuance

[2018-08-30 15:19] mdbenjam commented on #6650
This doesn't seem very hard to implement, though it does add two new stylings that aren't in the styleguide. It looks like the docket type is within the docket number. I think this is 👍 , sorting will just be sort by docket type then docket number.

[2018-08-30 15:25] amprokop commented on #5842
This is complete.

[2018-08-30 15:25] #5842 closed

[2018-08-30 15:32] laurjpeterson commented on #6274
- Option 2 seems great to me, too.
- I agree with editing AOD on the Case details page could automatically update AOD on all open appeals (if this is allowed - [slack thread](https://dsva.slack.com/archives/CA1QBDLEL/p1535478824000100) for more info from LRP). cc: @allyce because she will design this functionality. we may need to incorporate some copy to explain this
- @mdbenjam - I believe there

[2018-08-30 15:34] amprokop commented on #6274
Given Chris's comments, would it make sense to have an AODGrants table with

`reason`
`created_by`
`created_at`
`veteran_id`
`active` (<- to enable a toggle back and forth)

Then if we want to know if an appeal is AOD, we could just:

- determine if the Veteran is over 75, or
- query this table to see if a row exists that was created after the appeal was established

[2018-08-30 15:35] #6522 closed

[2018-08-30 15:40] mdbenjam commented on #6274
I like this idea. Allows us to separate out the AOD information. At some point I think it'd be cool to add a document_id field to let us link to the document in VBMS.

[2018-08-30 16:13] allyceh commented on #6650
@sneha-pai These look good!
I also prefer option A like the rest of the group.

A thought for the future: It seems like we're putting a lot of information into these table rows. And arguably, it's all very useful for judges and attorneys to have when they're assigning or reviewing cases. Is there any information in these table rows that we can just display on the Case Details page one level deeper

[2018-08-30 16:17] allyceh commented on #6650
Last thought: If we have the ability to remove any of these data points (per the comment above) in the table and keep them at the Case Details level, we could use full words (ex: Hearing, Specialty) in one set of our tags. That would allow us minimize the different groups of abbreviated tags that a user would have to remember and would help to distinguish them a little more (?).

[2018-08-30 16:50] allyceh commented on #6358
Good stuff here!

@laurjpeterson @amprokop The date on the letter must match the day a letter is mailed. This date must also match the date it's uploaded to VBMS.

Mail is picked up daily at 3:30 pm. If it's after this time, Dispatchers can still prepare decision letters, but they must date the letter for the following day. They mail and upload the decision letter on the following day because VBMS

[2018-08-30 17:11] allyceh commented on #6358
@amprokop I like your tweak because it reduces the burden on the Dispatcher. Before we go that route, I am wondering if we might need some sort of date selection for this or way to "back out" of an automatic outcode/upload? See below.

1. Most common use case: It's business as usual, and a Dispatcher prepares a decision letter that will be mailed today. It's outcoded and uploaded to VBMS automatic

[2018-08-30 18:06] #6782 closed

[2018-08-30 19:39] #6086 closed

[2018-08-30 19:40] nolawi opened #6799 "Hearing Worksheet Header contrast"
<img width="1502" alt="screen shot 2018-08-30 at 3 36 30 pm" src="https://user-images.githubusercontent.com/1745984/44874905-9fa98d00-ac6a-11e8-994a-747c34f971c7.png">

Select veteran and Hearing Prepped text on the grey background does not have enough contrast

![screen shot 2018-08-31 at 10 59 38 am](https://user-images.githubusercontent.com/1745984/44920118-15fecb80-ad0d-11e8-9945-e27a9fda3faf.

[2018-08-30 20:34] mdbenjam commented on #6274
@amprokop I think this thread confirms it: https://dsva.slack.com/archives/CA1QBDLEL/p1535478824000100

[2018-08-30 20:45] mdbenjam commented on #6274
Also I think AOD applies to a claimant not a veteran, right?

[2018-08-30 23:14] shanear commented on #6351
I'm cool with this, especially if we need to query on it, but I think we don't want to get involved in any background jobs or anything. We set it the same time we set participant id on the veteran table, once when it's created and never again, and we assume it never changes.

[2018-08-31 00:15] amprokop commented on #6351
👍

On Thu, Aug 30, 2018 at 19:14 Shane Russell <notifications@github.com>
wrote:

[2018-08-31 13:52] dannysellers commented on #6788
Related to https://github.com/department-of-veterans-affairs/caseflow/issues/5800

[2018-08-31 14:36] laurjpeterson opened #6803 "Updated judge/attorney mapping"
Update judge/attorney mapping based on a few judge support requests and for the new attorneys at the Board.

## AC
- New attorneys are mapped to the judges as listed in the two excel spreadsheets
- Laura Stepanick has been removed from Judge Simone Krembs mapping

## Resources
[Reader - BVA NH Aug group 1.xlsx](https://github.com/department-of-veterans-affairs/caseflow/files/2340410/Reader.-.BVA.N

[2018-08-31 14:46] dannysellers commented on #6778
- [ ] Get basic AMA attorney flow working for appeals where all issues are granted or denied
- [x] Verify requirements for `on_hold` tasks and ensure they're correctly filtered out for an attorney if necessary (#6750)
- [ ] Allow remand reasons to be chosen for AMA appeals during attorney checkout (https://github.com/department-of-veterans-affairs/caseflow/issues/5760)
- [ ] Investigate and addres

[2018-08-31 14:46] nolawi opened #6804 "Menu Dropdown trigger doesn't work only in styleguide view"
![screen shot 2018-08-31 at 10 46 04 am](https://user-images.githubusercontent.com/1745984/44919272-1b5b1680-ad0b-11e8-9c7d-71b9529b6885.png)

[2018-08-31 15:15] #6679 closed

[2018-08-31 16:12] shanear commented on #6358
I pitched this when chatting with Sunil, but he seemed to think that it wasn't possible, but I'm all for it.

[2018-08-31 17:32] mdbenjam commented on #6763
# Tech spec

![image](https://user-images.githubusercontent.com/3885236/44925872-9d543b00-ad1d-11e8-8b22-5345782be9be.png)
^ It's mail time

# Overview
We are currently getting a list of documents from VBMS for every appeal in a user's Queue whenever they view their Queue. The new document tab is shown to users based on comparing the list of documents, and the time each of those documents was rece

[2018-08-31 17:57] sunil-sadasivan commented on #6358
Wasn't sure of what was possible via word macros 🤷‍♀️. Changed my view on this after chatting with Alex and realized Paul (S) was already asking about that possibility.

[2018-08-31 21:28] laurjpeterson commented on #6257
Related: https://github.com/department-of-veterans-affairs/caseflow/issues/6274

[2018-09-01 06:11] amprokop commented on #6358
I’ll talk to Paul about this. Fallback is probably manual processing due to
the number of appeals, but Anya and I can see if we can get this done for
Oct

On Fri, Aug 31, 2018 at 13:57 Sunil Sadasivan <notifications@github.com>
wrote:

[2018-09-04 15:06] #6657 closed

[2018-09-04 15:34] laurjpeterson commented on #6763
The alternative to this approach is to ask a BVA employee to manually create a mail task, just like the Mail team currently creates a mail tab in VACOLS today.

[2018-09-04 15:37] shanear opened #6810 "Fix bad data associated with RAMP appeal reclose script"
There is some bad data that's causing the the RAMP reclosure script to break down, look into that and clear it back up:

Here's the error
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2325/

[2018-09-04 15:49] shanear opened #6811 "Transaction in EndProductEstablishment.sync can time out due to BGS call"
It looks like we are making a BGS call in the middle of a transaction in `EndProductEstablishment.sync`. This is causing a timeout when BGS is #ultraslow.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2355/

[2018-09-04 15:54] nicholasholtz commented on #6763
@laurjpeterson In the alternative scenario, what sort of development lift is necessary to permit that sort of task creation? Is this a scenario where a manual mail processing could occur to begin with, with task creation, and the heavier lift of automation occurs later, post-October 1 sometime?

@mdbenjam You indicate a month's worth of work - is that one engineer working alone?

[2018-09-04 16:43] shanear commented on #6810
This was caused by an appeal that was closed with RAMP and immediately reopened and reclosed as merged. The RAMP election was rolled back as the appeal is in the jurisdiction of the board. This has cleared up the issue.

[2018-09-04 16:43] #6810 closed

[2018-09-04 16:46] shanear commented on #6377
This is a dup of https://github.com/department-of-veterans-affairs/caseflow/issues/6810

closing

[2018-09-04 16:46] #6377 closed

[2018-09-04 16:48] shanear commented on #6615
This was validated by Erik Tonne and me in prod. Turning the feature on in prod today

[2018-09-04 16:48] #6615 closed

[2018-09-04 16:48] laurjpeterson opened #6812 "Case details | Add POA address"
We want to show the Power of Attorney address in Case details to help BVA dispatchers (and likely other BVA staff) complete tasks that require mailing to an appellant's POA.

## Mocks
- https://github.com/department-of-veterans-affairs/caseflow/issues/6812#issuecomment-419995260

## AC
- POA address from BGS exists in the POA section of Case details

[2018-09-04 16:56] mdbenjam commented on #6763
@nicholasholtz I would budget one month for me to do it.

[2018-09-04 17:36] sunil-sadasivan commented on #6358
@amprokop yeah I was thinking about that too.  Though in building a widget within Caseflow, we would then have to onboard the BVA staff who outcode on to the Caseflow UI since they wouldn't have access to Caseflow for the October pilots?  Is that correct?

If there's a way around that snag (can we help onboard them on to Caseflow?) I think a widget within Caseflow would make sense esp as it may be

[2018-09-04 17:43] sharonwarner opened #6813 "Spreadsheet Integrations | New S3 bucket"
The bucket we're storing spreadsheets in right now has a configuration that deletes files after 5 days. We need to create a new bucket for hearing schedule that doesn't delete files.

[2018-09-04 17:53] laurjpeterson opened #6814 "Support quality review"
AMA appeals will need to be routed to quality review before dispatching appeals in order to monitor decision-writing quality and consistency.

- Learn logic for sending an AMA appeal for quality review from Josh Freeman
- When case is selected for quality review, add `Quality review` task
   - Q: Should this be created as a child task for dispatch decision?
- Create quality review organizational q

[2018-09-04 18:59] shanear opened #6817 "Add appeal vacols id to AppealNotValidToReopen error"
When we get an `AppealNotValidToReopen` error it's usually due to prod data being bad. (see https://github.com/department-of-veterans-affairs/caseflow/issues/6810 for an example)

However, the error doesn't tell us the id of the appeal, so it's really difficult to figure out what prod data is causing it.

To fix this, we should start including the vacols_id of the appeal in the error.

[2018-09-04 19:26] shanear commented on #6097
dup of https://github.com/department-of-veterans-affairs/caseflow/issues/6615

closing

[2018-09-04 19:26] #6097 closed

[2018-09-04 19:43] shanear commented on #6096
This is obsoleted by https://github.com/department-of-veterans-affairs/caseflow/issues/6615. Closing.

[2018-09-04 19:43] #6096 closed

[2018-09-04 19:50] shanear commented on #6515
This is not the proper way to sync veteran info, and it's far to vague. Closing and we can discuss the solution in the linked ticket.

[2018-09-04 19:50] #6515 closed

[2018-09-04 20:06] allyceh commented on #6358
@sunil-sadasivan the BVA Staff who are our pilot users will have access to Caseflow! Specifically, the Case Details page to view veteran/appeal information. Unless we think there's a better place for the widget, we could put it on the Case Details page. It seems like we would need to ensure that only BVA Dispatchers can click and/or see this widget. We wouldn't want anyone accidentally uploading--

[2018-09-04 20:56] #6562 closed

[2018-09-04 21:06] laurjpeterson commented on #6763
@nicholasholtz - the alternatives are:

Option 1: Create a Caseflow task
- mail employee clicks upload in VBMS (note, sometimes takes 24 hours for document to show in VBMS)
- mail employee searches for Veteran in Caseflow - *development complete*
- mail employee clicks button (or something) to add a mail task - *would need to build*
- mail employee enters in information about the mail task - *woul

[2018-09-04 21:23] lowellrex opened #6821 "Fix build_schedule_spec.rb test failure"
When running the two following tests in order (even running only the [queue search test on line 279](https://github.com/department-of-veterans-affairs/caseflow/blob/4e48f8c5b0de256b5ddc72c5be7d8dfd0a43cd59/spec/feature/queue/search_spec.rb#L279)) will cause the latter test to fail because [`params["schedule_period"]`](https://github.com/department-of-veterans-affairs/caseflow/blob/4e48f8c5b0de256b

[2018-09-04 21:48] shanear opened #6822 "Add removed_at and rating_issue_associated_at to request issues"
We need to record in the caseflow DB when certain VBMS actions for request issues succeeded. This way we know if we need to revert or retry.

## Acceptance criteria
- When the contention for a request issue is successfully removed, set `removed_at` on that request issue with the timestamp
- If the removal of the contention fails, `removed_at` should not be set.
- If the request issue is a rating r

[2018-09-04 22:53] #6187 closed

[2018-09-05 02:33] amprokop commented on #6763
This tech spec looks great. A few thoughts:

- How sure are we that we can fully capture the Mail team's activities through a mapping of VBMS document type to some type of action? If we were later to find out that there are some or many ambiguous edge cases that need manual user intervention, it surely would not be the first time.

- If we are not fully sure that we can automatically and correctly

[2018-09-05 12:13] laurjpeterson commented on #6650
@mdbenjam - can you weigh in on the feasibility of sorting functionality by docket number _and_ docket type? thinking that on one click, the user could view cases grouped by docket type (either with some pre-determined ranking or alphabetical) then by docket number (oldest to newest / newest to oldest depending on the direction clicked)

@sneha-pai - looking back through some materials. i think th

[2018-09-05 12:37] aroltsch opened #6824 "[Discussion] How can we QA our products better?"
We've had situations where we've piloted a feature without fully testing it. We have Capybara automated tests but it is not always enough. What can we do to improve our user experience and catch bugs before we pilot?

1. When we are ready to pilot a feature, should we dedicate time for a few people (2 designers, 2 engineers) to test end to end user experience?
2. Each time we pilot a feature, we c

[2018-09-05 12:39] laurjpeterson commented on #6763
Thanks @amprokop, all good thoughts. More about the idea itself and how it solves (or doesn't completely solve) the business problem than the technical feasibility of it, so I'll weigh in.

- We've gotten this indication from the Mail team's SOP and routing sheet. They look at the VBMS document and create a mail task based on the document type or based on where the appeal is at the Board.
   - [ro

[2018-09-05 12:49] laurjpeterson commented on #6824
Thanks for writing this up! I agree with #1 here, in order to catch not only bugs but also potential gaps in meeting business requirements. We could add that this should precede testing with Jed.

Would this QA happen in UAT or demo?

[2018-09-05 12:50] nicholasholtz commented on #6824
Just for alternative views, this is the Intake validation process: https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Projects/Intake/Validation.md

Specifically worth noting is item 4 in the validation process:

[2018-09-05 13:07] amprokop commented on #6763
Potentially we should only ask them about the email option- I’m not super
confident we will have bandwidth to handle building a Mail solution before
October.

On Wed, Sep 5, 2018 at 08:39 Lauren Peterson <notifications@github.com>
wrote:

[2018-09-05 13:56] abbyraskinUSDS commented on #4795
Deprioritized as this is specific to RAMP -  closing this

[2018-09-05 13:56] #4795 closed

[2018-09-05 14:15] nolawi opened #6825 "Update styleguide buttons to reflect UWDS updates"
<img width="1060" alt="screen shot 2018-09-05 at 10 11 54 am" src="https://user-images.githubusercontent.com/1745984/45098979-33a8a800-b0f4-11e8-974f-2c8371b560ba.png">
Removes the `usa-button-outline` and uses `usa-button-secondary`

[2018-09-05 14:16] laurjpeterson commented on #6814
From Josh Freeman, 9/5/2018, when asked about logic for AMA quality review.

At this point, there is no logic.  The volume of Post RAMP NODs is simply too low to do an accurate estimation.  Since we calculate the accuracy rate on a monthly basis, if we clear 100 in October, we’ll need to QR 59 of them.  That’s less QR’ing than checking up on people.  I’m trying to put together a pitch to managemen

[2018-09-05 14:16] #6799 closed

[2018-09-05 14:19] laurjpeterson commented on #5581
@lowellrex @mdbenjam - these are the VSOs that write IHPs, and therefore will be the organizations where the Board assigns tasks to, and where they complete the IHP task:

1. **Armed Forces Services Corporation, Room 2W.240J
1. **American Legion (AL), Room 2E.102B
1. **American Red Cross (ARC), Room 2W.240K
1. **American Veterans (AMVETS), Room 2W.240G
1. **Blinded Veterans Association (BVA), Room

[2018-09-05 14:19] nolawi commented on #4118
This has been resolved `<NavigationBar wideApp>` makes stage wide

[2018-09-05 14:19] #4118 closed

[2018-09-05 14:29] mdbenjam commented on #6650
Wait so is the question can we sort by docket type and then within type docket number? That answer is yes. Easy to do. Or is the question can we sort by docket type with one click, and a second click to sort by docket number? That answer is no, much harder to do.

[2018-09-05 14:41] amprokop commented on #6358
Update: @sunil-sadasivan, @laurjpeterson, and i had a long discussion about this. We are considering setting a definite date to start dispatching of RAMP appeals, and considering proposing that it be November 1st. This would give us a bit more certainty and room to plan a solution.

[2018-09-05 14:44] amprokop commented on #6814
Thanks! Also tagging @aroltsch who will likely be leading this effort.

[2018-09-05 14:45] amprokop commented on #6814
Not sure I follow the seeming statement that they need to do QR on 59 out of 100 appeals — but all in time, I suppose!

[2018-09-05 14:49] #6568 closed

[2018-09-05 15:02] lowellrex commented on #6824
Whenever we pilot a feature with a group of users I think it should be as small a group as possible (2? 3?) and we should check in with every one of our initial group of pilot users every single day (preferably in person so we can identify ways they are using the feature we did not expect and that they may not be aware of enough to mention in an skype message or email).

We should certainly be try

[2018-09-05 15:19] amprokop commented on #6824
@lowellrex's suggestion sounds pretty similar to the efforts @laurjpeterson already leads, correct me plz if not.

A validation column might be good as well.

[2018-09-05 15:29] lowellrex commented on #6824
@amprokop I guess what is different with what I am suggesting is that the programmers be the ones checking in with our alpha testers. And that they do it every day. Maybe this is already happening, but I have never once had a face-to-face with an alpha tester.

[2018-09-05 17:51] aroltsch opened #6830 "[IDT API] Return first and last names for appellant instead of a full name"
Query BGS to return first and last names for appellant. Use https://github.com/department-of-veterans-affairs/ruby-bgs/blob/master/lib/bgs/services/person.rb#L30

[2018-09-05 17:54] aroltsch opened #6831 "[IDT API] Return if veteran is deceased for AMA appeals"
Check if BGS returns this information for a veteran.

[2018-09-05 18:32] #6581 closed

[2018-09-05 18:52] leikkisa commented on #6709
These should be deleted in our database.

[2018-09-05 18:54] leikkisa commented on #6356
Requires #6357

[2018-09-05 19:48] nolawi opened #6834 "Remove borderless table overrides."
ours
<img width="1029" alt="screen shot 2018-09-05 at 3 47 14 pm" src="https://user-images.githubusercontent.com/1745984/45117229-01fb0580-b123-11e8-93aa-869ec48c7817.png">

uswds
<img width="936" alt="screen shot 2018-09-05 at 3 46 49 pm" src="https://user-images.githubusercontent.com/1745984/45117249-0cb59a80-b123-11e8-9a3a-2f51399cfec2.png">

do we want the left padding?

[2018-09-05 19:49] evankroske commented on #5544
Just logged in as the user and visited the address, and I was unable to reproduce this issue. I think it's been fixed on the VBMS side.

[2018-09-05 19:49] #5544 closed

[2018-09-05 19:51] #6825 closed

[2018-09-05 20:45] evankroske commented on #5317
This issue seems to be fixed. Here's how I tried to reproduce it:

1. caseflowdemo.com
1. Become Bvascasper.
1. http://www.caseflowdemo.com/queue/appeals/3626186/
1. Select action "Decision Ready for Review".

[2018-09-05 20:45] #5317 closed

[2018-09-05 21:21] sharonwarner opened #6838 "View Hearings | Remove comma when judge isn't set"
We currently display just a comma on the View Hearings page when a judge isn't set. We should remove the comma.

[2018-09-05 21:39] dannysellers commented on #6796
| Program        | Issue           | Level 1  | Level 2 |
|:------------ |:------------ |:------- |:------- |
| 12 | 02 | Hub Manager | removal of a fiduciary under 13.500 |
| 12 | 03 | Hub Manager | misuse determination under 13.400 |
| 12 | 04 |  RO Director | decision upon recon of a misuse determ |
| 12 | 05 | Dir of PFS | negligence determination for reissuance |

[2018-09-05 22:00] laurjpeterson commented on #5581
some updates from this morning's BVA leadership meeting re: VSOs
1. cheri has decided to wait until the start of the RAMP appeals pilot, october 2, to experiment with co-located VSO IHP turnaround times. this means:
   - we don't need to rush to get VSO users access to caseflow (outside of testing in prod with a few of them)
   - we'll have fewer cases that are ready to work right on oct 2 because

[2018-09-05 23:22] shanear opened #6842 "Intake | Only show valid payee codes for HLRs and SCs"
Right now, we are showing the complete list of possible payee codes. However there is only a subset of payee codes that are valid for any EP code. There are a variety of BGS endpoints where we can retrieve this, but it might be worth hard coding them in for now.

## Acceptance Criteria
- On the HLR and SC intake flow, the list of payee codes is filtered to only valid payee codes for those EPs & be

[2018-09-05 23:26] shanear commented on #6003
Deprioritizing this since AMO doesn't seem to care about it

[2018-09-05 23:33] abbyraskinUSDS commented on #5375
This is not a priority, and will be accounted for in other improvements to the issues selection flow. Closing.

[2018-09-05 23:33] #5375 closed

[2018-09-05 23:35] abbyraskinUSDS commented on #6158
This was done a while ago - closing.

[2018-09-05 23:35] #6158 closed

[2018-09-05 23:37] shanear commented on #6135
dup of a bunch of other tickets. We are monitoring these as they roll in. Closing

[2018-09-05 23:37] #6135 closed

[2018-09-05 23:44] allyceh commented on #6812
Adding what we've learned about POA to date. @laurjpeterson @amprokop , please confirm. cc: @sneha-pai @mkhandekar for design feedback.

**What we know about POA:**
- POA name and address for private attorneys: Lives in BGS
- POA name and address for VSOs: POA name lives in BGS, address pulled into the IDT and populated on decision letters lives in VACOLS
- POA info that lives in BGS must be edite

[2018-09-06 00:05] laurjpeterson commented on #5581
RAMP appeal VSOs as of 9/5/2018. **Bolded = co-located VSO that writes IHPs**

  | direct_review | evidence_submission | hearing | total
-- | -- | -- | -- | --
**AMERICAN LEGION | 5 | 1 | 21 | 27**
**AMVETS | 1 |   | 1 | 2**
ARIZONA DEPARTMENT OF VETERANS' SERVICES |   |   | 1 | 1
CALIFORNIA DEPARTMENT OF VETERANS AFFAIRS |   |   | 3 | 3
**DISABLED AMERICAN VETERANS | 8 | 5 | 10 | 23**
FLORIDA DEP

[2018-09-06 00:13] laurjpeterson commented on #6650
@mdbenjam was asking about the first scenario you walked through. Thanks for answering for both options, though, it helps!

[2018-09-06 00:19] laurjpeterson commented on #6824
For attorney check out, we did start with 3 users and designers and I checked in with them (though not daily). For judge pilots, we were ambitious with a larger pilot group (24 users). Designers and I checked in and shadowed a few of them first, then we started our user feedback initiative because it wasn't enough, and to include engineers as well.

I like @lowellrex's idea for engineers to sit wi

[2018-09-06 13:57] #6778 closed

[2018-09-06 14:36] nolawi opened #6846 "Add Reader zoom keyboard functionality to keyboard shortcuts"
`cmd + +` `cmd + -` zooms in an out.
![screen shot 2018-09-06 at 10 36 16 am](https://user-images.githubusercontent.com/1745984/45164570-b7c86180-b1c0-11e8-8351-bbb23b0dfc3c.png)

[2018-09-06 15:58] laurjpeterson commented on #6734
@dannysellers - can we run through this test locally?
- When the case was assigned back to the attorney, the days waiting counter restarted at 0 in the attorney's queue?

[2018-09-06 16:07] lowellrex opened #6847 "Hide Veteran Documents column in VSO task queue table"
Also hide the following two links on the case details page.

![image](https://user-images.githubusercontent.com/32683958/45170233-670b3580-b1cd-11e8-8514-33712b3f84b5.png)

[2018-09-06 16:58] dannysellers commented on #6734
@laurjpeterson Confirmed!

<details><summary>gif</summary>
<img src="https://user-images.githubusercontent.com/8533004/45172846-848fcd80-b1d4-11e8-9f14-3335332f485f.gif">
</details>

[2018-09-06 16:58] #6734 closed

[2018-09-06 17:10] abbyraskinUSDS commented on #6221
From AMO call:
Basically, it sounds like we should explore getting BGS to change their service
- Mike Palmer: What constitutes it being locked? You can have several claims pulled in, but only actively working on one. Big difference -- "locked" vs. actively working on it.
- Joshua Will thinks it's locked if it's pulled into the VBMS-R queue...

[2018-09-06 17:12] abbyraskinUSDS commented on #6094
From AMO call:
- Jennifer: Create HLR with no classification code if possible.

[2018-09-06 17:42] shanear commented on #6094
No change required due to this. Closing

[2018-09-06 18:28] shanear commented on #6145
All the consistently failing syncs have been fixed. The only ones we are still seeing are timeouts which happen sporadically. Closing.

[2018-09-06 18:28] #6145 closed

[2018-09-06 18:32] lowellrex opened #6851 "Unify front-end task action dropdown components"
While implementing [generic task actions](https://github.com/department-of-veterans-affairs/caseflow/issues/6573), I noticed that we were repeating a lot of the same patterns and code that already existed for the [attorney](https://github.com/department-of-veterans-affairs/caseflow/blob/857e9c05eb55ce738f930977b855e50ef7670a71/client/app/queue/components/AttorneyActionsDropdown.jsx), [judge](https

[2018-09-06 18:34] abbyraskinUSDS commented on #5584
We aren't going to continue developing the stats page, closing this out.

[2018-09-06 18:34] #5584 closed

[2018-09-06 20:00] allyceh commented on #6257
Open questions about editing from design sync up about editing across Caseflow: @mdbenjam

- Advantages of editing AOD in a modal versus opening a new screen to edit AOD?
- Accessibility of editing in modals?
- When you edit AOD in a modal, what part of the screen would it refresh? Load time?
- Level of difficulty in including editing permissions (for AOD, for example)?

[2018-09-06 21:02] allyceh commented on #6257
Discussed AOD editing with @mdbenjam

Open questions:

- How is displaying the reason for being AOD useful to Caseflow users or to the board? Is this more for reporting reasons? ( @cmgiven )
- How would displaying the timestamp for AOD effective date helpful to Caseflow users? Is this a must have? ( @cmgiven )
- Depending on the date on which AOD was granted, any newer appeals might not be AOD. Wh

[2018-09-06 21:10] laurjpeterson opened #6854 "Create attorney special issues page"
For the RAMP appeals pilot, we want to experiment with attorneys entering special issues (that today are entered by ARC staff in Caseflow Dispatch) because (1) this simplifies the amount of work we have to do for dispatching RAMP appeals today and (2) we plan to deprecate Caseflow Dispatch down the line anyway.

## AC
- Create a screen titled `Select special issues`
- `Select special issues` scree