[2017-02-07 20:05] shanear commented on #723
Lets do this as part of preprod testing tomorrow.

[2017-02-07 20:07] KHarshawat-gov commented on #635
@lakohl, @shanear asked me to take a pass at this too. WDYT?

![generic 404](https://cloud.githubusercontent.com/assets/25437276/22708579/ded98fac-ed44-11e6-898d-819f60d8abf6.png)

[2017-02-07 20:13] kierachell commented on #683
<img width="874" alt="screen shot 2017-02-07 at 15 12 57" src="https://cloud.githubusercontent.com/assets/18075411/22709490/eee17b46-ed47-11e6-84da-ac1b9d663145.png">
BOOM!
quickest validation yet?

[2017-02-07 20:14] #683 closed

[2017-02-07 20:51] shanear commented on #580
Validated on the terminal and in the browser.
[code]

[2017-02-07 20:51] #580 closed

[2017-02-07 21:05] shanear commented on #39
fixed with #580, closing

[2017-02-07 21:06] #39 closed

[2017-02-07 21:06] shanear commented on #62
duplicate. closing

[2017-02-07 21:06] #62 closed

[2017-02-07 21:07] shanear commented on #251
fixed by #580, closing.

[2017-02-07 21:07] #251 closed

[2017-02-07 21:08] shanear commented on #278
The RO list is current and up to date. Closing

[2017-02-07 21:08] #278 closed

[2017-02-07 21:11] shanear commented on #324
This is being handled by devops god @askldjd

[2017-02-07 21:11] #324 closed

[2017-02-07 21:14] amprokop opened #845 "Hide most of the Form 8 on the `certifications/XXX/new` page"
First step towards removing the form 8.

### Mock ###
![image](https://cloud.githubusercontent.com/assets/3781835/22711258/7f41247e-ed4e-11e6-99d0-a6e342ca482f.png)
- Remove questions 1-14 from the `/new` route.
- Remove question #s from the remaining questions.
- Make other updates to match the mock.
-  @shellicious says she is not wedded to the "Title of certifying official" question (17B on exi

[2017-02-07 21:27] shanear commented on #821
good catch @kierachell

[2017-02-07 21:36] amprokop opened #847 "Remove the PDF preview page if ENV[]"
## Remove this page entirely ##
![image](https://cloud.githubusercontent.com/assets/3781835/22710702/62b29628-ed4c-11e6-804c-424e14a80f8e.png)

[2017-02-07 21:45] amprokop opened #848 "Remove the PDF preview page if ENV["HIDE_FORM_8"] is true"
We're going to want to remove the following page entirely if `ENV["HIDE_FORM_8"]` is true:
![image](https://cloud.githubusercontent.com/assets/3781835/22710702/62b29628-ed4c-11e6-804c-424e14a80f8e.png)

- The user should go straight from the first form (the one that ends with "Name of Certifying Official", "Title of Certifying Official", "Date" to the "Congratulations! Your case has been certified

[2017-02-07 21:57] shanear commented on #784
this is a duplicate of #714. closing

[2017-02-07 21:57] #784 closed

[2017-02-07 22:42] shanear commented on #847
this is a duplicate of #848

[2017-02-08 05:03] lakohl commented on #720
When EP cannot be created, one approach would be to message the user on separate page:

![screen shot 2017-02-07 at 11 52 40 pm](https://cloud.githubusercontent.com/assets/4975959/22724029/767816ac-ed91-11e6-980b-f2a6187e5398.png)

Followed by:
![screen shot 2017-02-08 at 12 01 37 am](https://cloud.githubusercontent.com/assets/4975959/22724079/d024b41c-ed91-11e6-8853-911d5b3fa98e.png)

@abbyraskin

[2017-02-08 05:07] lakohl commented on #720
When an EP is established, the user would travel from the EP creation form page to this Congratulations page:

![screen shot 2017-02-08 at 12 05 59 am](https://cloud.githubusercontent.com/assets/4975959/22724155/6aad3d74-ed92-11e6-85c0-9e5bd31875e1.png)

[2017-02-08 05:32] lakohl commented on #722
Possible solution:
![screen shot 2017-02-08 at 12 08 46 am](https://cloud.githubusercontent.com/assets/4975959/22724699/f60bac36-ed95-11e6-986e-70f56e214f35.png)

![screen shot 2017-02-08 at 12 08 54 am](https://cloud.githubusercontent.com/assets/4975959/22724702/ff5fecde-ed95-11e6-9403-c6848dc01788.png)

![screen shot 2017-02-08 at 12 10 55 am](https://cloud.githubusercontent.com/assets/4975959/2

[2017-02-08 06:02] lakohl commented on #723
I think the trouble you are having here is that we are tackling Special Issues in two Phases.
1) For Phase 1, we will only be handling Special Issues grants for whom we create an EP and which have a single station code on the EP Creation Page. **We should be changing the VACOLS location for those special issues only.** All other Special Issues will trigger a modal that asks the user to process tha

[2017-02-08 14:22] lakohl commented on #712
@shanear I spoke to @KHarshawat about this ealier and the design above would be the more expected experience. Let's discuss technical limitations and how long it takes for this step to be completed. Ideally there really shouldn't be an interstitial state when you click on a button, but I know VPN etc.can be a factor

[2017-02-08 15:04] KHarshawat-gov commented on #774
I'm also in favor of keeping it on one page for now. If it gets too complex we can always break it out on pages later. Also based on past experience it's easier for developers to navigate a single page.

[2017-02-08 15:40] joofsh commented on #719
@astewarttistatech to validate this:
- Hit the dispatch url not logged in
- Verify it redirects you to CSS login

That's sufficient to verify the code changes here

[2017-02-08 21:28] astewarttistatech commented on #736
**PASSED**

Steps to Validate:
1. Go into Dispatch and try to establish a claim that has multiple docs
2. Validate the message shown

Screenshots:
<img width="1355" alt="screen shot 2017-02-08 at 4 24 40 pm" src="https://cloud.githubusercontent.com/assets/23038505/22758173/8e13f0f8-ee1b-11e6-92ba-f956064464fb.png">

[2017-02-08 21:28] #736 closed

[2017-02-09 01:41] kierachell commented on #775
Next steps:
- cross-check our VACOLS data with Test Cases: which order to use
- manually go through all the IDs/Cases: update VBMS as needed
- reset VACOLS data
- party

[2017-02-09 01:53] kierachell commented on #717
So this works mostly, but...
<img width="1004" alt="screen shot 2017-02-08 at 20 44 28" src="https://cloud.githubusercontent.com/assets/18075411/22765794/27ec0c82-ee40-11e6-984e-6b54bcdff0b2.png">
<img width="1185" alt="screen shot 2017-02-08 at 20 45 27" src="https://cloud.githubusercontent.com/assets/18075411/22765791/27e53010-ee40-11e6-8340-7857b30d6d70.png">
<img width="1218" alt="screen shot

[2017-02-09 02:01] kierachell commented on #667
<img width="1270" alt="screen shot 2017-02-08 at 20 57 56" src="https://cloud.githubusercontent.com/assets/18075411/22766066/754e545c-ee41-11e6-8194-385018dc59ae.png">
<img width="1141" alt="screen shot 2017-02-08 at 21 00 26" src="https://cloud.githubusercontent.com/assets/18075411/22766114/a8050d14-ee41-11e6-82ef-5cd34cf63a45.png">

:( **View History** != **View Work History**

[2017-02-09 02:09] kierachell commented on #643
**PASSED**
<img width="613" alt="screen shot 2017-02-08 at 21 04 51" src="https://cloud.githubusercontent.com/assets/18075411/22766300/b61cbcb6-ee42-11e6-98b6-69d593064363.png">
<img width="892" alt="screen shot 2017-02-08 at 21 05 28" src="https://cloud.githubusercontent.com/assets/18075411/22766301/b61e5260-ee42-11e6-8017-db69eaca6fa0.png">
<img width="800" alt="screen shot 2017-02-08 at 21 05 4

[2017-02-09 02:10] #643 closed

[2017-02-09 15:07] shanear commented on #847
yeah this is a dup

[2017-02-09 15:07] #847 closed

[2017-02-09 15:17] shanear opened #859 "Manager Dashboard | Set number of Caseworkers for today"
As a Dispatch Manager, I want to be able to set the number of caseworkers available for work today, so that I can create a quota for each caseworker based on that number.

# Acceptance Criteria
1. Verify that under the Header, there is a new section with the following label (refer to mockup):

1. Verify that in this new section, there is a new field ([TotalCaseworkersToday]) with the label _"Numbe

[2017-02-09 15:28] shanear opened #860 "Manager Dashboard | Hide "Work History" section"
As a Dispatch Manager, I would like the "Work History" section on the `Manager Dashboard` page hidden so that I only see the most important information necessary for me to manage my team.

# Acceptance Criteria
1. Verify that the "Work History" section on the `Manager Dashboard` page is no no longer visiable.

## Mockup
**_View - Manager Dashboard page - Work History sect to be hidden_**
    <img

[2017-02-09 15:34] lakohl opened #861 "EP Creation: Decision Date should not be editable"
EP Creation: Do not allow user to edit decision Date on the EP Creation form.

[2017-02-09 15:55] joofsh commented on #861
Questions for Jed
- Any sanity check on the manually entered decision date
- Use outcoding date for queries to determine recent full grants

[2017-02-09 16:05] mdbenjam opened #863 "Pull issue information from VACOLS"
Currently we're just using fake VACOLS information in #736. We need to pull in the real information.

[2017-02-09 17:02] shanear commented on #610
It popped up again: https://github.com/department-of-veterans-affairs/appeals-support/issues/52

[2017-02-09 17:13] nikitarockz opened #865 "Form 8 | Pre-populated Fields | Missing data and unable to manually enter"
# Description
User is having any issues with form 8. The pre-populated slots are not being populated, nor can she enter some fields manually. User can not enter the file number, question#2, nor can she enter into questions 15 and 16. However, she can enter information into question #3. See the screenshot below
User URL is: https://certification.cf.ds.va.gov/certifications/new/3030564

**Environmen

[2017-02-09 17:58] astewarttistatech commented on #717
**PASSED**

Validated on: Preprod
Steps to Validate:
1.Go to dispatch as a caseworker
2.Establish a full grant claim with a working SIC on the Review Decision page
3.Validate on the next page that the SOJ has a code with it's corresponding location.

Screenshots:
<img width="1044" alt="screen shot 2017-02-09 at 10 06 38 am" src="https://cloud.githubusercontent.com/assets/23038505/22795953/8fa3163c

[2017-02-09 17:58] #717 closed

[2017-02-09 18:03] nikitarockz commented on #865
@orischwartz I assigned this one to you because the word on the street is that you have a quick fix. As this is a production issue, please pick it up at your earliest convenience.

[2017-02-09 18:24] shanear opened #867 "Manager Dashboard | Current | Change table information and section header to "Work Assignments""
*slight updates in the last comment @nikitarockz to verify

As a Dispatch Manager, I would like the "Current" section changed to "Work Assignments" and the table information replaced with the caseworker's work assignment metrics (completion goal, completed, remaining) to so that I am able to see how many claims each caseworker will be responsible for completing today, as well as what they have don

[2017-02-09 18:29] shanear opened #868 "Caseworker Dashboard | Show claims established in terms of today's quota"
As a Caseworker, I want to see on the `Caseworker Dashboard` page how many claims I've established today and how many more I need to meet today's expected goal of assigned cases so that I am aware of what I have done and what still needs to be done.

# Acceptance Criteria
1. Verify that the **_Establish next claim_** button is sentence case.
1. Verify that the **_Establish next claim_** button and

[2017-02-09 18:33] shanear opened #869 "Manager Dashboard | Update copy of page header and subtext"
As a Dispatch Manager, I want the page header and it's subtext changed on the `Manager Dashboard` page so that they are in terms I understand and more effectively express appropriately important information.

# Acceptance Criteria
1. Verify that the `Manager Dashboard` page header and subtext has changed to the following:  (Refer to Mockup)
     **_Header_**

     **_Subtext_**

1. Verify that whe

[2017-02-09 18:35] shanear opened #870 "Manager View: Show total claims established for the week"
As a manager, I want to be able to see the total number of claims established this week.

[2017-02-09 18:36] kierachell commented on #716
**PASSED**
<img width="1256" alt="screen shot 2017-02-09 at 13 34 34" src="https://cloud.githubusercontent.com/assets/18075411/22797527/9565c686-eecc-11e6-9406-34a2710698d6.png">
<img width="687" alt="screen shot 2017-02-09 at 13 35 45" src="https://cloud.githubusercontent.com/assets/18075411/22797555/af7f0262-eecc-11e6-9724-f2797a0d8458.png">

[2017-02-09 18:36] #716 closed

[2017-02-09 18:40] shanear commented on #865
@nikitarockz this is a duplicate of #610, which i re-opened in response to this incident

[2017-02-09 18:40] shanear commented on #865
going to go ahead and close this one.

[2017-02-09 18:40] #865 closed

[2017-02-09 19:28] askldjd commented on #790
Ping @shanear.

This is very much needed.

[2017-02-09 20:27] shanear commented on #870
We're just going to open up #819 to managers. Closing this one

[2017-02-09 20:27] #870 closed

[2017-02-09 20:34] joofsh opened #872 "Cache BGS end products request"
#### Part 1
https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/appeal.rb#L257-L269

Within 1 request to Caseflow, we are making the same request twice to BGS. We should cache the request so it is only made once

#### Part 2
We should add a `MetricService.timer` wrapper to these requests to BGS. This will help improve prod debugging if/when issues come up

[2017-02-09 20:35] lakohl opened #873 "EP Creation | Page to add VBMS note when creating Full Grant EPs"
As a Caseworker, when an EP is created for a Full Grant with a Special Issue (currently handled in Caseflow) I would like to have a subsequent page displayed that prompts me to add a VBMS note  so that the Appeals team that will be receiving this message is warned of this new EP. This new page will appear between the EP Creation Form and the Congratulations Page.

## Acceptance Criteria
1. Verify

[2017-02-09 20:35] lakohl commented on #873
LK to provide mock

[2017-02-09 20:46] joofsh opened #876 "Update task to_hash, reduce API calls"
Follow up to https://github.com/department-of-veterans-affairs/caseflow/pull/852/files

A few pages now still use task.to_hash which makes 2 calls to BGS.

We should make the `to_simple_hash` the norm, and use the extended `to_hash` only on the task show page where we need the extra API calls.

[2017-02-09 20:48] shanear commented on #876
this is related to #872

[2017-02-09 20:49] lakohl commented on #715
@abbyraskin did you say we were missing one issue here?

[2017-02-09 20:56] abbyraskin commented on #715
yes, not sure where it disappeared to :) Committee on Waivers

[2017-02-09 20:57] lakohl opened #877 "Fix result of Cancellation page"
Change language on what was formerly the EP Cancellation modal and language and styling on the page that comes after the cancel modal.

**_Currently:_**
<img width="567" alt="screen shot 2017-02-09 at 7 18 00 pm" src="https://cloud.githubusercontent.com/assets/4975959/22808899/9dbfd9f4-eefc-11e6-8732-9b6d9cf78803.png">

^^We need to adjust the copy so that it skirts the words 'cancel' and 'EP Esta

[2017-02-09 21:00] kierachell commented on #685
**PASSED**
Changing Decision Type functionality will be deprecated!

[2017-02-09 21:00] #685 closed

[2017-02-09 21:39] lakohl commented on #715
Thanks @abbyraskin !

[2017-02-09 22:07] lakohl commented on #722
List of RO emails is being collected here: https://github.com/department-of-veterans-affairs/appeals-design-research/issues/22#issuecomment-278786304

[2017-02-09 22:10] shanear opened #880 "Change VACOLS location when assigning an existing EP"
As a case worker, when I assign an existing EP to a partial grant or remand, it should also update the VACOLS location appropriately.

## Acceptance Criteria
1. When assigning an existing EP to a partial grant or remand, verify that that appeal was moved to the appropriate location (based on the rules in https://github.com/department-of-veterans-affairs/caseflow/issues/723)

[2017-02-09 22:15] shanear opened #881 "Update test data script to move partial grants and remands back to location 97 in VACOLS"

[2017-02-09 22:58] lakohl commented on #863
Gotcha. No a big deal, but in demo, under the Disposition it currently says 'Granted'. Turns out this is the wrong terminology. It should say 'Allowed'.

[2017-02-09 23:31] lakohl commented on #617
@shanear why can't people use the progress indicator to move forward to pages where they've already been?

[2017-02-09 23:38] lakohl opened #882 "Decision Review | Create End Product | Change button copy"
As a Product Owner, I would like the **_Create End Product_** button changed to **_Route Claim_** on the `Decision Review` page so that it more accurately represents the action being taken.

# Acceptance Criteria
1) Verify that the **_Create End Product_** button has been changed to **_Route Claim_**.
1) Verify that, when the appeal has multiple decisions, the **_Create End Product_** button has b

[2017-02-09 23:55] lakohl opened #883 "Manager Dashboard | View Dashboard | Launch Dispatch Stats page"
As a Manager, I would like to see the `Dispatch Stats` page so that I can monitor how the Dispatch process.

# Acceptance Criteria
1. Verify that when the link **_View Dashboard_** on the `Manager Dashboard` page is clicked, the `Dispatch Stats` page is displayed in a new web browser tab.
1. Verify that managers have permission to see the Dispatch Stats page and no other stats pages.

## Mockup
**

[2017-02-10 00:28] lakohl commented on #877
@abbyraskin @avrildavid @wturne would love your eyes and suggestion on the copy above.

[2017-02-10 00:50] lakohl opened #884 "Route Decision | Route Claim | Partial Grants & Remands with no EP | Change Location, Add Diary note"
As a Caseworker, I would like to have a message informs me of how the appeal will be routed to the appropriate place via VACOLS when I am working on a Partial Grant or Remand case that has a special issue for which we cannot create an EP, so that I am aware of next steps.

# Acceptance Criteria
1.  Verify that after clicking the **_Route Claim_** button on the `Decision Review` page for a Partial

[2017-02-10 01:00] lakohl commented on #884
@shanear adding you for awareness

[2017-02-10 01:21] kierachell opened #885 "System Admin | Cancel Certification Modal Design Cleanup"
connects #641
<img width="503" alt="screen shot 2017-02-09 at 20 00 37" src="https://cloud.githubusercontent.com/assets/18075411/22810183/4250b134-ef05-11e6-937b-6723ae04f937.png">

- This modal needs a red button instead of blue
- Title should be capitalized for both words: **Cancel Certification**

[2017-02-10 01:22] #641 closed

[2017-02-10 01:26] lakohl commented on #884
This is very similar to https://github.com/department-of-veterans-affairs/caseflow/issues/720 shall we combine them?

[2017-02-10 01:27] kierachell commented on #735
**PASSED**
double check on `preprod` as well
<img width="1216" alt="screen shot 2017-02-09 at 20 26 55" src="https://cloud.githubusercontent.com/assets/18075411/22810341/1f17227e-ef06-11e6-912a-b41c9237825a.png">

[2017-02-10 01:27] #735 closed

[2017-02-10 01:28] kierachell commented on #616
**PASSED**
Works with 4+ documents in `preprod`
<img width="1278" alt="screen shot 2017-02-09 at 20 27 53" src="https://cloud.githubusercontent.com/assets/18075411/22810360/4011b516-ef06-11e6-8517-b090cb52dd84.png">
Might have to check for 20+

[2017-02-10 01:28] #616 closed

[2017-02-10 01:30] kierachell commented on #637
**PASSED**
Checked in `preprod` via the `missing-decision` page.

[2017-02-10 01:30] #637 closed

[2017-02-10 01:35] kierachell commented on #723
1. Has been validated to function correctly; the rest of the cases are not implemented and require further revision; pushing this back until we are ready to implement this.

[2017-02-10 01:35] lakohl commented on #773
We will use the .pdf viewer styling currently in use in Certification and Dispatch, but should remove some of the unnecessary functionalities in the future.

Currently:
<img width="956" alt="screen shot 2017-02-09 at 8 33 43 pm" src="https://cloud.githubusercontent.com/assets/4975959/22810525/4d5daf4e-ef07-11e6-8eea-bad4278a5e84.png">

[2017-02-10 02:09] #817 closed

[2017-02-10 02:41] nikitarockz commented on #610
@shanear , diagnostic information below:
[code]

@orischwartz ; I put this technical information here in the engineering story and removed it from the support ticket.

[2017-02-10 13:57] shanear commented on #884
@lakohl Yes. They look the exact same. Also, can we take out the ROJ routing into another issue?

[2017-02-10 14:01] shanear commented on #617
@lakohl it's possible, it will just be complicated. Can we add it as a seperate story?

[2017-02-10 14:09] shanear opened #886 "Existing EP | Display claims with BGS Status of "RDC" as "Redacted" status"
As a Caseworker, I want to see claims with a BGS Status Code of "RDC" displayed as "Redacted" on the `Existing EP` page so that the Status value more accurately reflects its meaning.

# Acceptance Criteria
1. Verify that claims retrieved from BGS with a status code of "RDC" has a _"Status"_ value as "Redacted"  on the `Existing EP` page.

## Mockups
![image](https://cloud.githubusercontent.com/ass

[2017-02-10 14:20] shanear commented on #723
@kierachell They are implemented, just unable to be tested because it's dependent on future issues. This is blocked until then.

[2017-02-10 14:54] abbyraskin commented on #715
@lakohl arg so sorry for the confusion - we had it listed as "Waiver of Overpayment." I'm erasing Committee on Waivers now.

[2017-02-10 14:59] kierachell opened #888 "VACOLS queries generating a thread snowball"
Currently attempting to Reset Established Claims on Dispatch can cause a massive spike in threads and break the whole app as seen from the logs:
[resetDispatchlogs.txt](https://github.com/department-of-veterans-affairs/caseflow/files/767010/resetDispatchlogs.txt)

Code in question:
[code]

just watch active threads rise after this call.

[goes_up_to_18_then_restarts______perhaps_no_one_deployed_.t

[2017-02-10 15:42] amprokop opened #889 "SPIKE | Investigate whether "Ready for hearing" box is being correctly checked in VACOLS on certification"
During a user interview today, a user reported that for Travel Board hearings, her team has to go to VACOLS after certifying with Caseflow and manually check the "Ready for Hearing" box, otherwise it won't ever be seen by the hearing schedulers. It was my impression that we automated this step. We should investigate if this is actually working properly, perhaps by a screenshare with a user who is

[2017-02-10 15:50] avrildavid commented on #877
@lakohl - a few suggestions below. Thanks for looping us in:

- Stop/End/Discontinue EP Creation Process
- Stop/End/Discontinue EP Establishment

"If you choose to discontinue the EP creation process, your work will not be saved and an EP will not be established for this claim.

Please tell us why you would like to stop/end/discontinue this process.

Explanation (removed "cancel" - "explanation" o

[2017-02-10 16:04] abbyraskin commented on #877
I think we should avoid the word "aborting." How about "halting"?

[2017-02-10 16:38] shanear commented on #889
It does. see: https://github.com/department-of-veterans-affairs/caseflow/issues/199

[2017-02-10 16:39] shanear commented on #268
Postponing this one because the form8 may be going away soon.

[2017-02-10 16:39] shanear commented on #656
postponing this because the form8 may be going away soon.

[2017-02-10 16:55] amprokop commented on #889
Yeah, I'm just wondering why two people at an RO reported today that they still do this step manually. Think this is worth a follow-up with them, @shanear? Or are you confident that this is user error.

[2017-02-10 17:13] aroltsch commented on #539
Testing Notes:
Test Caseflow and eFolder on UAT and demo to ensure nothing breaks.

[2017-02-10 17:19] astewarttistatech commented on #719
Discovery! Since I cannot set a function, it might be the reason i keep getting the "Drat!" page. @joofsh Does that makes sense?

[2017-02-10 17:33] lakohl commented on #617
After discussing with @shanear leaving this as is.

[2017-02-10 18:03] shanear commented on #889
We should follow up and see the error in action.

[2017-02-10 20:17] astewarttistatech commented on #719
@nikitarockz see the above comment. This is to be expected behavior based on the current functionality, this ticket, in order to work, would require a general user scenario aside from the different functions that can be toggled on and off.

[2017-02-11 03:28] lakohl opened #892 "EP Creation | Create End Product | Change the VACOLS ROJ value"
As a Caseworker, I would like the ROJ in VACOLS updated for Partial Grants and Remands claims with Special Issues that are _NOT_ routed to the existing ROJ so that the claim is routed to its proper destination. (Refer to [Assigning a Station and Transferring Cases](https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Projects/Dispatch/Routing%20EPs/Special%20Issue%

[2017-02-11 13:14] kierachell commented on #723
I suggest updating original acceptance criteria for the passing case;
splitting off the rest of the cases (with appropriate criteria) into separate tickets referencing the blocking future issues

[2017-02-11 13:24] kierachell commented on #876
Note: this required a `hotfix` for preprod testing.

[2017-02-11 13:27] kierachell commented on #716
Note, merging a PR for this issue created a `bug`

[2017-02-13 00:05] lakohl commented on #617
@nikitarockz 'Verify that when on the EP Creation page, the Progress Indicator is set to "Route Claim" as the current step.' This should be also be the case on the 'Route Claim' page which substitutes the EP Creation page for Special Issues when an EP is not created. e.g. https://github.com/department-of-veterans-affairs/caseflow/issues/884

[2017-02-13 00:27] lakohl commented on #877
@nikitarockz I adjusted the copy in the mocks at the top to better describe an action taken from either the Decision Review Page or the EP Creation/Route Claim page and to address scenarios when an EP may not be in the process of being created.

[2017-02-13 03:11] lakohl commented on #723
I would suggest taking out AC:
3) Verify that when "VAMC" has been selected as the Special Issue and the Create End Product button has been clicked, set the "Location Code" in VACOLS to "51".
4) Verify that when "National Cemetery Administration" has been selected as the Special Issue and the Create End Product button has been clicked, set the "Location Code" in VACOLS to "53".

Instead, I would s

[2017-02-13 03:40] lakohl opened #893 "Decision Review: Update copy in modal for special issues not handled by Caseflow"
When a user select a Special Issue not currently handled by Caseflow and they click the Route Claim button (formerly the Create End Product button) they are served a modal telling them that the claim cannot be processed within Caseflow. The copy and button CTA of this modal need to be updated.

# Acceptance Criteria
1. Verify that the following Title and Subtext has been changed to the following:

[2017-02-13 14:08] shanear commented on #724
This is obsoleted by https://github.com/department-of-veterans-affairs/caseflow/issues/868, closing

[2017-02-13 14:08] #724 closed

[2017-02-13 14:17] lakohl opened #894 "EP Creation | Create End Product | Add Diary Note in VACOLS for Partial and Remands w/ Special Issues"
When an EP is created in Caseflow for a Partial Grant or a Remand with a Special Issues add a Diary Note in VACOLS to help route this claim.

Once the EP has been created and the VACOLS Location has been updated

1) Verify that the following note is added to the VACOLS Diary Note field:

# Note
Is there a character limit in VACOLS field Diary Note?  280 character limit.

[2017-02-13 14:27] kierachell commented on #739
**PASSED**
Checkboxes clear and show up appropriately.
![form8q13checks](https://cloud.githubusercontent.com/assets/18075411/22886376/8b392da4-f1cb-11e6-9c2b-698917b704ad.gif)

[2017-02-13 14:30] #739 closed

[2017-02-13 14:56] shanear commented on #723
Lets just have this story blocked for validation until https://github.com/department-of-veterans-affairs/caseflow/issues/884 is complete.

[2017-02-13 14:57] mdbenjam commented on #863
What are the other options? Remanded? And is Denied an option?

[2017-02-13 14:58] nikitarockz commented on #882
Original
On the Decision Review page, change the button copy from 'Create End Product' to 'Route Claim'.

1) Verify that the button copy says: Route Claim.
1) Very that the blue button is less wide to accommodate a shorter CTA.

**Currently:**
<img width="672" alt="screen shot 2017-02-09 at 6 35 09 pm" src="https://cloud.githubusercontent.com/assets/4975959/22807866/3807272a-eef7-11e6-870c-98bd317

[2017-02-13 15:29] abbyraskin commented on #715
@lakohl @nikitarockz i edited AC for italicized words

[2017-02-13 16:33] lakohl commented on #863
that sounds right to me. Keep in mind we are speaking now about the issues within a claim, not the appeal as a whole. @cmgiven is probably in the best position to answer your question as I don't have access to VACOLS

[2017-02-13 16:45] cmgiven commented on #863
1 - Allowed
3 - Remanded
4 - Denied
5 - Vacated
6 - Dismissed, Other
8 - Dismissed, Death
9 - Withdrawn

Anything that's not one of those codes (i.e. is a letter, not a number) was decided in the field, and can be dropped.

[2017-02-13 16:50] kierachell commented on #704
**PASSED**
Works on Chrome/Firefox/IE now
![dispatchassignshift](https://cloud.githubusercontent.com/assets/18075411/22892560/0d717eb0-f1e1-11e6-8ec7-f3749dd8c725.gif)

[2017-02-13 16:53] #775 closed

[2017-02-13 16:59] shanear commented on #646
This is obsoleted by https://github.com/department-of-veterans-affairs/caseflow/issues/869

closing.

[2017-02-13 16:59] #646 closed

[2017-02-13 17:12] #704 closed

[2017-02-13 17:47] kierachell opened #897 "Update `uncertify` and `test/setup` to handle more than one appeal"
connects [#373](https://github.com/department-of-veterans-affairs/appeals-deployment/issues/373)

In order to properly test scaled up Certification, we need to be able to handle multiple test appeals; QA repo has a list of Certifications used in `uat` which we can use for our test cases.
- [ ] Update `setup_controller` to handle different appeals
- [ ] Update `test/setup` to take a `BFKEY` as inpu

[2017-02-13 18:17] aroltsch commented on #610
Should we add validation at the DB level so it would throw an error when form8 is  saved with empty values?

[2017-02-13 18:19] lakohl commented on #715
Thanks @abbyraskin !

[2017-02-13 18:37] lakohl commented on #722
@abbyraskin and @avrildavid Would you mind taking a look at the copy/styling of the last two mocks yellow warning at the top of this issues. They serve the function of a general release claim message for Full Grants with Special Issues not handled in Caseflow for which we have not yet located email addresses.

[2017-02-13 18:39] lakohl commented on #722
@sharonwarner I just updated the AC at the top to reflect our conversation this am. Am waiting on feedback on copy fro the more general modal that is served up when we don't have an email address.

[2017-02-13 19:05] abbyraskin commented on #722
I would reword "Send the following email message to the RO associated with this case in VACOLS" because a) these won't apply to ROs -- specialized centers + NCA/VHA b) the "correct" destination may not be listed on the appeal in VACOLS if there was a hearing.

Maybe..."Send the following email message to office responsible for implementing this grant."

[2017-02-13 19:35] amprokop commented on #889
Ok @shanear — we got another independent report from St. Petersburg about this today. We should put this in this sprint IMO.

[2017-02-13 19:46] kierachell commented on #408
criteria has been updated to remove the "View Dashboard" thingy.

[2017-02-13 19:46] #408 closed

[2017-02-13 20:44] amprokop commented on #889
Here are some steps to validate this on a screenshare with a user:

1. Verify that in VACOLS, that "Travel Board" or "Video Hearing" is selected in the hearing type radio buttons section
2. Start a new certification with Caseflow (it must be a new certification, not resuming an old one)
3. Complete the certification
4. Verify that in VACOLS, the "Ready for Hearing" bug is checked.

[2017-02-13 21:07] avrildavid commented on #722
The above makes sense to me.

[2017-02-13 22:21] lakohl commented on #722
@abbyraskin @avrildavid thanks for the feedback. I realized that the mocks with yellow warning messages didn't 'stick' earlier. Would you mind taking a look at those too?

[2017-02-13 22:46] abbyraskin commented on #722
@lakohl I think the ordering in the instructions at the end ("Please select Release Claim and proceed to process this case manually") is a little confusing, given that they can't actually select the button until they've checked a box saying they processed the case - what if we said something like “Please process this case manually and select Release Claim when you are finished" instead?

[2017-02-14 00:14] mmlumba commented on #536
Another one:
<img width="1280" alt="screen shot 2017-02-13 at 7 11 56 pm" src="https://cloud.githubusercontent.com/assets/4773320/22909161/8064818a-f220-11e6-83d2-43b6379b0877.png">

[2017-02-14 00:14] kierachell commented on #783
**PASSED**
the PDF is being PDF; but the back button works now!
![dispatchbackbutton](https://cloud.githubusercontent.com/assets/18075411/22909174/92b8dffc-f220-11e6-94e9-dadd4c76c505.gif)

[2017-02-14 00:14] #783 closed

[2017-02-14 00:20] kierachell commented on #885
In Caseflow:
- [x] Titles shall be title case.
- [ ] Prose shall be sentence case.
- [x] Buttons shall also be sentence case.

<img width="686" alt="screen shot 2017-02-13 at 19 15 56" src="https://cloud.githubusercontent.com/assets/18075411/22909232/dee7e5c6-f220-11e6-80b2-c27afd7059f7.png">

2/3

[2017-02-14 01:47] mdbenjam commented on #873
@lakohl According to AC 5 there is a close link, but I don't see it in the mock. What does the close link do? And where is it supposed to go?

[2017-02-14 01:51] mdbenjam commented on #873
And for AC 7, it says red. I assume that means the button should be red?

[2017-02-14 02:37] kierachell commented on #885
**PASSED**
and **bold** too!
<img width="528" alt="screen shot 2017-02-13 at 21 36 11" src="https://cloud.githubusercontent.com/assets/18075411/22912660/9cfa05cc-f234-11e6-8137-c62a8db5a091.png">

[2017-02-14 02:38] #885 closed

[2017-02-14 13:40] #790 closed

[2017-02-14 14:46] #719 closed

[2017-02-14 15:18] kierachell commented on #539
Having a hard time checking if this is an issue with this particular change or VBMS in general:
<img width="1129" alt="screen shot 2017-02-14 at 10 17 48" src="https://cloud.githubusercontent.com/assets/18075411/22934956/e39f62d2-f29e-11e6-97dd-bd880303bc97.png">
<img width="1075" alt="screen shot 2017-02-14 at 10 18 00" src="https://cloud.githubusercontent.com/assets/18075411/22934955/e399af5e-f2

[2017-02-14 15:22] #833 closed

[2017-02-14 16:20] lakohl commented on #873
Good catches @mdbenjam My apologies. This used to be a modal and now it's a page. Thus the Close link is no longer needed. Also the button should be blue in this case. I will update the AC.

[2017-02-14 16:30] lakohl commented on #722
Thanks @abbyraskin

[2017-02-14 16:34] lakohl commented on #722
@sharonwarner copy and AC mocks (with yellow warning bar) have been updated to include @abbyraskin's most recent comments. Thanks for your patience!

[2017-02-14 16:51] mmlumba opened #909 "Master ticket: style guide improvements and bug fixes"
Current to-do list:
- [x] Fix modal close feature bugs
- [ ] Examine code syntax highlighter options:
* Rouge (ruby gem): http://rouge.jneen.net/
* Highlight.js (npm package): https://highlightjs.org/
- [ ] Fix sidebar navigation for current links and scroll through (possible new React component)
- [ ] Dropdown menus
- [ ] Tabs
- [ ] Progress bar
- [ ] Document viewer
- [ ] 508 compliance for each

[2017-02-14 17:04] kierachell opened #910 "Preview Form 8 | Upload and Certify | Incorrect VBMS integration error displayed"
# Description
When an VBMS integration error is encountered during the uploading of a Form 8, the incorrect error message is displayed.

**Current Result:**
[code]

**_Expected Results:_**  Should show the generic Caseflow Error page.
Like here:
https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/certifications/new/000ERR

**Type of Bug:**
- [ ] Performance
- [ ] Secu

[2017-02-14 17:17] shanear commented on #876
@sharonwarner the issue is still present here:

https://github.com/department-of-veterans-affairs/caseflow/blob/34ab99ff896dd2313b4973b7ea9d1e2b5796a269/app/controllers/tasks_controller.rb#L19

is this being solved in a caching issue?

[2017-02-14 18:08] amprokop commented on #897
I don't see `setup_controller`. Where does this live?

[2017-02-14 18:32] abbyraskin opened #911 "Decision Review | Multiple Special Issues Rules"
As a caseworker, I want to select multiple special issues and route them to a single location.

## Description

**Single Issue:**
- If a single issue level is selected, route the claim to a station with that same level (_e.g. a level 1 issue would be routed to a level 1 station_)

**Multiple Issues:**
- If a level 2 issue is selected in addition to a level 1 or a level 3 issue, route the claim to

[2017-02-14 18:58] mdbenjam opened #913 "Add better testing to React logic"
We've moved a lot of our logic into the frontend. This means we're not unit testing dispatch to the same level as we unit test our backend heavy certification. We should consider how we want to test going forward, if there is a good way (maybe Enzyme) to unit test our frontend better.

[2017-02-14 19:12] nikitarockz commented on #859
Original
As a manager, I want to be able to set the number of case workers present at work today, so that I can create a quota for each caseworker based on that number.

# Acceptance Criteria
1. Verify that I can set the number of case workers working today by inputting a the number in the box and clicking the Update button.
- Verify that I can see the # of case workers I've set in the box
- Verif

[2017-02-14 20:01] aroltsch opened #914 "Timestamp in the logs does not change"

[2017-02-14 20:10] orischwartz-gov commented on #914
The timestamp [here](https://github.com/department-of-veterans-affairs/caseflow-commons/blob/master/config/initializers/logger.rb#L8) is evaluated once on startup and then never again:

[code]

Could use a lambda or a rails built-in tag if one exists.

[2017-02-14 20:11] aroltsch commented on #914
@orischwartz  yes, using lambda fixes the issue:
`log_tags << lambda { |req| Time.now }`

[2017-02-14 20:14] nikitarockz commented on #867
Original
As a Dispatch Manager, I want to see how many claims have been established by each of the case workers on my team, and how many they have to go

Verify that table shows Employee Name, Cases Assigned, Cases Completed, Cases Remaining.
## Acceptance Criteria Needs
Round up the total assigned.
See mock below for scenario when
- When no quota has been set for today
- When no cases have been d

[2017-02-14 20:16] orischwartz-gov opened #915 "AppealRepository#fetch_documents_for makes a lot of DB round-trips"
`fetch_documents_for` calls ` Document.from_vbms_document` which calls `find_or_create_by` for every single document.

`find_or_create_by` involves a select and possibly an insert. Up 2 DB round trips per doc, which seems excessive. Could batch the operation:

1. Load all docs (with a lock if necessary but it's probably harmless to insert multiple times and ignore dupes)
2. Insert the ones that ar

[2017-02-14 20:54] #914 closed

[2017-02-14 20:59] amprokop opened #918 "Investigate logorrhea on local dev app boot"
Thousands of log lines on app boot.

[localhost] [localhost] [2017-02-14 15:53:36 -0500] [Fake User america@example.com]   CACHE (0.0ms)  SELECT  "documents".* FROM "documents" WHERE "documents"."vbms_document_id" = $1 LIMIT 1  [["vbms_document_id", "4"]]
[localhost] [localhost] [2017-02-14 15:53:36 -0500] [Fake User america@example.com]   CACHE (0.0ms)  SELECT  "documents".* FROM "documents" WHER

[2017-02-15 00:48] kierachell commented on #539
**PASSED**
Seems like VBMS is back up to speed;
outside of regular eFolder errors functionality seems to be intact

[2017-02-15 00:48] #539 closed

[2017-02-15 02:41] kierachell commented on #882
**PASSED**
lgtm
<img width="729" alt="screen shot 2017-02-14 at 21 41 25" src="https://cloud.githubusercontent.com/assets/18075411/22958612/5c8a63d6-f2fe-11e6-880e-4df33680f3ce.png">

![claimroutebutton](https://cloud.githubusercontent.com/assets/18075411/22958581/294f4734-f2fe-11e6-8517-a120d14b760f.gif)

[2017-02-15 02:43] kierachell commented on #774
Bookmarked for QA reference;
I'll let @KHarshawat and @Chingujo validate this

[2017-02-15 02:43] kierachell commented on #863
Need to resolve Dispatch test data problems before this can be validated

[2017-02-15 13:23] nikitarockz commented on #869
Original
As a manager, I want the headers and copy on the dashboard page to look good and be worded in terms I understand

- Verify that the header 'ARC Workflow' displays at the top of the page.
- Verify that '[ number] out of [number] cases completed today' displays to the right of 'ARC Workflow'.
- Verify that Enter the number of people working today displays below 'ARC Workflow'.
- Verify that

[2017-02-15 14:23] nikitarockz opened #920 "Cancellation | Turn on feature flag"
As Product Owner, I would like the feature flag turned on for the new cancellation features so that the users can start using this new feature and Caseflow team starts capturing valuable information.

# Acceptance Criteria
1. Verify that the following features are active in production environment:

- Certification: Cancellation Modal: Ability to view instructions and report issues - [#626](https:/

[2017-02-15 15:32] nikitarockz commented on #677
We are no longer blocked, and progressing on as expected.

[2017-02-15 15:59] nikitarockz commented on #893
# Closing
This is no longer needed.  Removed from milestone.

[2017-02-15 15:59] #893 closed

[2017-02-15 16:44] nikitarockz commented on #868
As a Caseworker, I want to see how many claims I've established today and how many I need to meet today's expected goal of assigned cases so that I am aware of what I have done and what still needs to be done.

# Acceptance Criteria

**_Historical Comments_**
As a caseworker, I want to see how many claims I've established today and how many I need to meet today's quota (have been assigned to me).

[2017-02-15 17:27] nikitarockz opened #924 "EP Confirmation | Show claims established in terms of today's quota"
As a Caseworker, I want to see on the `EP Confirmation` page how many claims I've established today and how many more I need to meet today's expected goal of assigned cases so that I am aware of what I have done and what still needs to be done.

# Acceptance Criteria
1. Verify that when the case assignment goal ([TotalCasesAssigned] > 0) has _**NOT**_ been met and there are cases available in the

[2017-02-15 20:58] mdbenjam opened #925 "Selecting National Cemetery Administration box has weird artifact"
When you select the National Cemetery Administration checkbox on the review page, there's a weird artifact in chrome where the checkbox is split between the two columns. I think this might be a Chrome bug, but worth taking a look at.

[2017-02-15 20:59] mdbenjam commented on #925
<img width="962" alt="screen shot 2017-02-15 at 3 57 10 pm" src="https://cloud.githubusercontent.com/assets/3885236/22995164/c1821998-f397-11e6-9ed4-05c4abf94e9c.png">

[2017-02-15 23:12] joofsh opened #929 "Update SQL query used in CreateEstablishClaimJob"
Currently the `CreateEstablishClaimJob` job uses the appeal's decision date to find new full grants. We instead want to find new full grants via the outcoding_date. This will require:
- Update reference from "decided_after" to  something "outcoding" in the Job & AppealsRepository
- Update `VACOLS::Case.amc_full_grants` SQL query to filter by dates greater than 'TIOCTIME' instead of `BFDDEC`

Ask @

[2017-02-16 02:31] mdbenjam opened #932 "Add seeding to tests"
Currently we don't force a seed in our tests. This means a change can break the seed script and the code can blow up UAT.
connects #933

[2017-02-16 02:34] kierachell opened #933 "Reseed the database to ensure migrations do not break deployments"
In relation to [pull #931](https://github.com/department-of-veterans-affairs/caseflow/pull/931)

The tasks were updated with a new state, but because the database is not reseeded in the tests - deployments exploded with errors:
[code]

Probably should have a `before(:all)` reseed of the database to catch errors like these.

[2017-02-16 11:18] kierachell commented on #774
`x` button on the modal don't work!
![screenshot_2017-02-15_21-01-50](https://cloud.githubusercontent.com/assets/18075411/23019308/ae76e996-f40f-11e6-8df2-31fb628e872d.png)

[2017-02-16 14:37] shanear opened #934 "Log both the beginning and the end of VACOLS requests"
Right now, VACOLS requests are only logged when the database request resolves.

The problem here is that if a request is taking an obscenely long time (or it's just straight up hanging), we don't know what the offending request it is.

We should log before we launch VACOLS requests, as well as after they resolve.

[2017-02-16 14:39] shanear opened #936 "Assess problematic side effects of Rake Timeout"
During some probing of how the rake timeout works, we noticed that if the Rake Timeout destroys a thread while it's in the middle of a Postgres SQL transaction, it will leave both a zombie thread and a zombie DB connection to PSQL.

This is a pretty big deal, and might be a reason to remove the rake timeout mechanism. Assess whether that is necessary, and if not, how we can avoid the problem descr

[2017-02-16 14:42] shanear opened #937 "Validate that we have timeouts for all our dependencies"
Since there is a chance for outages, hangs, or major lag time from any of our dependencies, we should have a timeout to prevent those issues from causing serious problems in Caseflow. For VBMS and BGS, these are http requests and may already be there. We just need to validate it.

For VACOLS, since it's an Oracle connection, we may need to add some sort of timeout mechanism.

- [x] BGS  https://gi

[2017-02-16 14:49] shanear opened #938 "Should test files be .jsx instead of .js?"
All of the test files for our client javascript code are `.js` files but it seems like they use `.jsx` features. (see: https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/test/containers/EstablishClaim-test.js#L26)

This confuses my text editor :smile:

Should we rename them to `.jsx` files?

[2017-02-16 14:49] shanear commented on #938
@joofsh you may know the answer to this

[2017-02-16 15:08] shanear opened #939 "Investigate cause for ActiveRecord => VACOLS slowness"
ActiveRecord queries to VACOLS are god forsakenly slow (minimun 300ms, max 9s).

Through some probing, this seems to be with the oracle ActiveRecord adapter we are using. How do we know?
- SQL Developer queries to VACOLS are ⚡️
- Raw RubyOCI requests from AWS servers are ⚡️
- Raw queries using the VACOLS ActiveRecord connection object are :turtle:

For reference, this is the query we tested:
[code

[2017-02-16 15:09] joofsh commented on #936
Happy to remove this, but I think this still serves a valid purpose. It's normal to have some sort of global timeout to avoid runaway threads. This may also serve a practical debugging purpose (did it help us get to the bottom of things yesterday?).  Independently, all DB/API integrations do need their own timeout (and shorter than this one).

[2017-02-16 15:13] joofsh commented on #938
Imo no, but really it's a preference thing (react/webpack don't care how you end your files). Going forward all our JS code will be in react components files, so they will be a mix of JS and JSX. For me, naming the files `.jsx` improves my text editors support for JSX but worsen the JS code.

If it improved things for the majority of people then we can change it. But I think you just need to enabl

[2017-02-16 15:58] cmgiven commented on #929
Note that the key difference here is that TIOCTIME is set once, using systime, and does not change. As a result, we no longer would need to use an approach that repeatedly scans the past, nor would we encounter cases again if BFDDEC is moved forward in time.

[2017-02-16 16:15] shanear commented on #939
The plot thickens. The request which was taking ~9s on AWS using the ActiveRecord connection is taking around 10ms when run from my machine:

[code]

With this new info, here are my biggest theories to pursue:
1) some combo effect between NSOC & oracle_enhanced_adapter
2) OS or package difference

[2017-02-16 18:50] joofsh commented on #894
"VACOLS Notes" are really 1-time flash notices, they are stored in the ASSIGN table.

[2017-02-16 19:04] slj opened #944 "TabWindow component needs fullPage option"
The `TabWindow` component by default applies a full page CSS class to tabs, causing them to extend to content borders, like so:

<img width="325" alt="screen shot 2017-02-16 at 1 04 37 pm" src="https://cloud.githubusercontent.com/assets/1053255/23036299/4b16abfc-f450-11e6-8c29-a2d5005aa954.png">

Instead, the component should apply the class when provided a flag.

[2017-02-16 19:41] joofsh commented on #894
TSKSTAT - pending when initially created
TSKRSPN - leave blank
TSKSTAT -  P  (pending) - Verify with Jed that this is okay
TSKDTC - Days to complete - ask lara how many days
TSKTFAS -  person assigned to do work - Can we safely assign it to the RO? Is this future proof?
TSKCLASS - (Active / Closed) - Should it be active?
TSKATCD - Reference to ACTCODE table. Ask Jed which one is appropriate for di

[2017-02-16 19:49] mdbenjam commented on #800
Not going to do AC 3 on this ticket. Will wait for #720.

[2017-02-16 19:58] abbyraskin commented on #625
@mmlumba i noticed in the demo environment that "Guaranty" for "Home Loan Guarantee" is misspelled. Reopening this issue for the fix.

[2017-02-16 20:02] abbyraskin commented on #625
@mmlumba on second thought, i'm going to open a new issue to keep it clean/easier to prioritize.

[2017-02-16 20:02] #625 closed

[2017-02-16 20:04] abbyraskin opened #946 "Decision Review | Special Issues | Change Home Loan "Guarantee" to Home Loan "Guaranty""
As a Caseworker, I would like the spelling of the Special Issue "Home Loan Guarantee" changed to "Home Loan Guaranty" on the `Decision Review` page so that it accurately reflects the proper wording.

# Acceptance Criteria
1. Verify that on `Decision Review` page in the Special Issues Category section the special issue "Home Loan Guarantee" has been changed to "Home Loan Guaranty".

2. Foreign Pens

[2017-02-16 20:19] mmlumba commented on #774
Validated by @KHarshawat-gov and sprint demo'd. Closing this ticket, and all ongoing web work for the styleguide will be tracked here: https://github.com/department-of-veterans-affairs/caseflow/issues/909

[2017-02-16 20:24] lakohl commented on #774
@mmlumba noticed 2 little things in Sprint Demo...
1) Now that we are using 'Close' instead of 'Go Back' in modals, I think we can get rid of the back arrows.
1) The red button text style would be 'Proceed with action' not 'Proceed with Action'.

[2017-02-16 23:09] sharonwarner commented on #722
@lakohl @abbyraskin do we need to save the special issues in the database after completing the task?

[2017-02-16 23:22] mdbenjam commented on #884
@abbyraskin  Do we have a list of ROJ codes? I used this list for locations from #720:

Education Debt - Location 50
Waiver of Overpayment - Location 50
Insurance - Location 50
Foreign Claim - Location 50
Pension - Location 50
DIC, death, accrued benefits - Location 50
VAMC - Location 51
National Cemetery Administration - Location 53

[2017-02-16 23:38] lakohl commented on #722
@sharonwarner yes. when in doubt, always save the special issues.

[2017-02-17 01:47] lakohl commented on #859
@sharonwarner I discussed updating the styling of this section with Nikita this afternoon and hadn't realized you'd picked it up. (I"m sorry this keeps happening to you.) Let us know where you are at with it. If you have already built for the AC above we'll make a new ticket for these changes. If not let's use the mock/AC below.

@nikitarockz pls sign off on the new AC below. thanks.

# Acceptance

[2017-02-17 01:54] kierachell opened #951 "Review Decision | VBMS::ClientError in `fetch_document_file`"
When attempting to establish a claim for a Remand
I am unable to see the documents:
![pdfjserr](https://cloud.githubusercontent.com/assets/18075411/23049343/66785e5c-f489-11e6-981e-4bb61285e231.png)
![pdfjserr2](https://cloud.githubusercontent.com/assets/18075411/23049344/66861aa6-f489-11e6-9684-72528b314e0b.png)
See backtrace below:
[code]
![backtrace](https://cloud.githubusercontent.com/assets/1

[2017-02-17 01:55] lakohl commented on #869
@mdbenjam sorry to move the pieces around while you are working on things:(  I have a slight copy update to header on this issue:

As a Dispatch Manager, I want the page header and it's subtext changed on the `Manager Dashboard` page so that they are in terms I understand and more effectively express appropriately important information.

@nikitarockz for awareness

# Acceptance Criteria
1. Verify

[2017-02-17 02:08] lakohl commented on #867
As a Dispatch Manager, I would like the "Current" section changed to the Work Assignments table and the table information replaced with the caseworker's work assignment metrics (completion goal, completed, remaining) to so that I am able to see how many claims each caseworker will be responsible for completing today, as well as what they have done and how many are remaining.

# Acceptance Criteria

[2017-02-17 02:26] kierachell commented on #803
**PASSED**
The field is not editable in `uat`

[2017-02-17 02:26] #803 closed

[2017-02-17 02:50] kierachell opened #953 "Review Decision | Task state change error when Routing Claim with SIC"
When creating a Full Grant EP for a decision with a special category
I receive an error and am unable to `Finish Routing Claim` or move on to the next task
![hah](https://cloud.githubusercontent.com/assets/18075411/23050639/a5e9c8ac-f491-11e6-8420-1fe03caaf29d.png)
![routeerror](https://cloud.githubusercontent.com/assets/18075411/23050644/acd196b8-f491-11e6-9b84-2bf675d6c267.png)
**BACKTRACE**
![a

[2017-02-17 03:03] kierachell commented on #715
AC does not reflect a new issue:
https://github.com/department-of-veterans-affairs/caseflow/issues/946
![aasmerror](https://cloud.githubusercontent.com/assets/18075411/23051003/bb767b1e-f493-11e6-9ffc-348c5135284d.png)

Update to address both. Easy enough.

[2017-02-17 03:08] kierachell commented on #877
![kavidecree](https://cloud.githubusercontent.com/assets/18075411/23051054/1c9302aa-f494-11e6-9c9c-41c08224398a.png)
# AC is not compliant!
need update from @lakohl
![cancelclaim1](https://cloud.githubusercontent.com/assets/18075411/23051074/4ddbbef6-f494-11e6-9ecb-8c5478e220e3.png)
![cancelclaim2](https://cloud.githubusercontent.com/assets/18075411/23051086/5e9b2182-f494-11e6-99ef-c2646f7de3d0.pn

[2017-02-17 03:11] kierachell commented on #877
![cancelclaim3](https://cloud.githubusercontent.com/assets/18075411/23051144/c37969d8-f494-11e6-987e-53443eae9f42.png)
Last page is correct by AC.

[2017-02-17 03:27] kierachell commented on #861
**PASSED**
![hah](https://cloud.githubusercontent.com/assets/18075411/23051453/1b1dfab2-f497-11e6-9ca3-7c13798d4d6c.png)

[2017-02-17 03:27] #861 closed

[2017-02-17 03:33] kierachell opened #955 "Create End Product | Error when creating new Remand EP"
As a Caseworker creating a new EP for a Remand
I am unable to create it!
![createeperror](https://cloud.githubusercontent.com/assets/18075411/23051525/c566ac58-f497-11e6-83fd-31822638a1a9.png)
**BACKTRACE**

Seems like update location code is funky
![createeperrortrace](https://cloud.githubusercontent.com/assets/18075411/23051537/e225f2a4-f497-11e6-90ea-ac351878cecd.png)

[2017-02-17 03:35] #667 closed

[2017-02-17 03:36] kierachell commented on #800
They show up but I am not sure if fully supported yet.

[2017-02-17 03:53] kierachell commented on #825
duplicate of https://github.com/department-of-veterans-affairs/caseflow/issues/888

[2017-02-17 03:53] #825 closed

[2017-02-17 03:54] kierachell commented on #881
connects https://github.com/department-of-veterans-affairs/appeals-qa/issues/41

[2017-02-17 04:55] lakohl commented on #877
@kierachell Good point about the words, probably can take out halting in a later version!

[2017-02-17 10:14] kierachell commented on #953
ReassignOldTasksJob fails:
[code]

[2017-02-17 10:38] kierachell commented on #953
[code]
Will this be a proper fix? @shanear

[2017-02-17 11:25] #882 closed

[2017-02-17 12:26] kierachell commented on #873
This currently shows up as the first step in _Establish Next Claim_ procedure, is that expected?
![vbmsnote](https://cloud.githubusercontent.com/assets/18075411/23065196/4f006bf8-f4e2-11e6-8afd-15031c53e1d2.png)

Also, you know I am going to do this; you know it:
![vbmsnotecharlim](https://cloud.githubusercontent.com/assets/18075411/23065203/5975dc30-f4e2-11e6-9b61-aa38a996061e.png)
Character limi

[2017-02-17 14:24] lakohl commented on #873
@kierachell @mdbenjam this step should happen after the Create EP form page and before the Congratulations page.
As for character limit, we should check what the character limit is for the Notes field in VBMS as that is where we will eventually auto-populate this note.

[2017-02-17 14:53] #715 closed

[2017-02-17 15:30] nikitarockz opened #957 "Route Claim | Display Alert Route Claim unable to create EP (Full Grants w/ Special Issue, & no RO Email)"
As a Caseworker, when I am working a case that is a Full Grant with a special issue for whom we cannot create an EP in Caseflow and we _do not_ have an email address, I would like to have message displayed so that I am aware of the situation.

# Acceptance Criteria
1. Verify that after clicking the **_Route Claim_** button on the `Decision Review` page and the case is a Full Grant with unsupported

[2017-02-17 16:33] nemodjuric commented on #834
@shanear Just to confirm since it's omitted from the mock - we are keeping certification layout (Appeal type, File type and Representative)?
![caseflow certification 19](https://cloud.githubusercontent.com/assets/4960030/23073873/e02b5242-f504-11e6-886d-93728a7a7c27.png)

[2017-02-17 16:42] nemodjuric commented on #834
![caseflow certification 20](https://cloud.githubusercontent.com/assets/4960030/23074200/1c4acb26-f506-11e6-8da2-f2e4a86bdd23.png)

[2017-02-17 16:42] aroltsch commented on #273
Upgrading to 2.4.0

[2017-02-17 18:22] lakohl commented on #722
@sharonwarner Abby created a table with all the RO email addresses here: https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Projects/Dispatch/Routing%20EPs/Email%20Routing%20Table.md

[2017-02-17 19:05] aroltsch opened #962 "Remove PDF error messages from the console and test output"
Remove the following output from the test output:
```PDF 8a18d1168b280972c850b385e297c9aa [1.7 itext-paulo-155 (itextpdf.sf.net-lowagie.com) / pdftk 2.02 - www.pdftk.com] (PDF.js: 1.3.91)```

We are also getting this message now:
[code]

which is even more annoying

[2017-02-17 19:06] shanear commented on #962
yesss!

[2017-02-17 19:09] mdbenjam opened #963 "Move BGS caching into request store"
Currently BGS caching happens at the appeal level. Consider moving it to the request level.

[2017-02-17 19:23] shanear opened #964 "Add moment.js for processing dates in React"
Right now we use the native javascript `Date` object which can cause some strange behavior, especially when it comes to timezones. Consider adding moment.js to process dates

[2017-02-17 22:18] kierachell commented on #873
**PASSED**

![mustardgassuccess](https://cloud.githubusercontent.com/assets/18075411/23085325/1d10727a-f535-11e6-8ea9-0b7ed0234c78.png)
![mustardgasenote](https://cloud.githubusercontent.com/assets/18075411/23085326/1d110a96-f535-11e6-95c9-4841ee38f94e.png)

[2017-02-17 22:22] kierachell commented on #873
As I understand there is no integration for this note yet

[2017-02-17 22:22] #873 closed

[2017-02-17 22:23] kierachell commented on #877
**PASSED**
![epcancel](https://cloud.githubusercontent.com/assets/18075411/23085420/c1c2145e-f535-11e6-88a8-a8a24be3a801.png)

[2017-02-17 22:23] #877 closed

[2017-02-17 22:34] kierachell commented on #911
As I understand the behaviour below is what is expected:
![level1_3_soj](https://cloud.githubusercontent.com/assets/18075411/23085586/8aa4d42e-f536-11e6-9491-fa37e7937d8a.png)
![level1_3](https://cloud.githubusercontent.com/assets/18075411/23085587/8aa9904a-f536-11e6-8e74-865c5eee68f7.png)
Sent based on **Level 3**

HOWEVER
Based on AC, the behaviour below is **NOT** expected:
Level 2 and 3 goes b

[2017-02-17 22:39] kierachell commented on #800
Not seeing `Foreign Issues (non pension)`?
Other ones seem to route appropriately
![foreignmissing](https://cloud.githubusercontent.com/assets/18075411/23085840/f83e3268-f537-11e6-885d-a748feca90ec.png)

US Territories:
![phil358](https://cloud.githubusercontent.com/assets/18075411/23085845/01472c5c-f538-11e6-80a9-9af9f3df58f5.png)

[2017-02-17 22:40] kierachell commented on #811
**PASSED** on `uat` - @mdbenjam had to make a small fix to actually unblock this - so, clearly, the SIC were being saved.

[2017-02-17 22:40] #811 closed

[2017-02-17 22:44] kierachell commented on #248
@nemodjuric Would you be able to add a link to `test/users` or maybe `test/setup` where we can toggle this feature?

[2017-02-17 22:55] kierachell commented on #911
Further investigation shows that Selecting Levels 2 and 3 defaults to Level 3 (cancel EP)
Selecting all levels defaults to Level 2.
![levels2_3](https://cloud.githubusercontent.com/assets/18075411/23086309/351980f0-f53a-11e6-9467-d45f9529ee09.png)
![levels1_2_3_to2](https://cloud.githubusercontent.com/assets/18075411/23086310/351f7690-f53a-11e6-8683-dda2ee1f6cdf.png)
![levels1_2_3](https://cloud.g

[2017-02-18 15:16] #897 closed

[2017-02-18 19:55] kierachell commented on #955
Sorta blocked by the `document_id` bug

[2017-02-19 22:12] slj commented on #944
### Verification
- Select **Switch User** from main menu
- Click **Establish Claim at station 283** under Switch User
- Click **Establish Claim** under Page Links/Dispatch
- Click **Establish Next Claim** button

This should get you to the screenshot view above; the tabs should extend as far as the PDF tool below it.

[2017-02-21 12:59] kierachell commented on #955
**PASSED**
As far as I am able to tell - I was able to create a new Remand.

![successremand](https://cloud.githubusercontent.com/assets/18075411/23165744/9e25005a-f80b-11e6-87ae-ab2c77fc8f75.png)

![successremand2](https://cloud.githubusercontent.com/assets/18075411/23165743/9e233aae-f80b-11e6-87ec-6605acefd5bb.png)

[2017-02-21 12:59] #955 closed

[2017-02-21 13:34] kierachell commented on #863
**PASSED**
It's pulling something...
![dispallowed](https://cloud.githubusercontent.com/assets/18075411/23166258/ef06c38a-f80d-11e6-9d4d-ca1d1da37a23.png)
![dispallowed2](https://cloud.githubusercontent.com/assets/18075411/23166916/9741c2d2-f810-11e6-8162-f87b23398051.png)

Matches the data in VACOLS;

[2017-02-21 13:56] kierachell commented on #880
Am unable to get into VACOLS to validate myself :(

[2017-02-21 14:29] kierachell commented on #944
**PASSED**
Looks awesome, good catch 👍
![tabcomponent](https://cloud.githubusercontent.com/assets/18075411/23168996/203b9912-f818-11e6-96be-9f63fe887722.png)
![tabcomponent2](https://cloud.githubusercontent.com/assets/18075411/23169027/3dc79454-f818-11e6-9565-08627a7eeeff.png)

[2017-02-21 14:29] #944 closed

[2017-02-21 14:43] shanear opened #968 "Handle transaction cutoff more gracefully while deploying"
When we deploy, we're getting 5 to 6 500's due to transactions from the destroyed machine being cut off. This is throwing a PagerDuty error

<img width="731" alt="screen shot 2017-02-21 at 9 42 55 am" src="https://cloud.githubusercontent.com/assets/1596259/23169582/44c890e4-f81a-11e6-9ad1-a3cfe0cf7ecf.png">

See:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues

[2017-02-21 14:47] shanear commented on #968
This might be caused by the database migration happening while the other instance is still live:
http://stackoverflow.com/questions/2783813/postgres-8-3-error-cached-plan-must-not-change-result-type

[2017-02-21 15:06] astewarttistatech opened #969 "EP Creation | Shouldn't be able to cancel during the creation of an EP"
**Description:**
Currently as a caseworker establishing an EP on the Create End Product page you can select the Establish Claim  button and while it is loading select the Cancel button and watch the Create End Product button process to the Success or Route page.

**Environment found:** UAT
**Browser Found:**Chrome/Firefox

**Steps to Reproduce:**
1. Go to Dispatch in UAT as a caseworker
2. Establi

[2017-02-21 15:26] abbyraskin commented on #884
@mdbenjam are you interested in the RO field in VACOLS or the location field? anything that gets routed to the ROJ goes to location 50.

[2017-02-21 15:27] abbyraskin commented on #884
@mdbenjam are you interested in the list of RO codes in VACOLS or the location codes? anything that gets routed to the ROJ goes to location 50.

[2017-02-21 15:48] astewarttistatech opened #970 "Caseworker | Mustard Gas SIC preselected on Review Decision page"
**Description:**

As a caseworker on Dispatch, when I access the Decision Review page, the Mustard Gas SIC is already preselected for the user.

**Environment Found:** UAT
**Browser Found:**Chrome and FF

**Steps to Recreate:**
1. As a caseworker go to the Review Decision page on Dispatch
2. Scroll down to the SIC's to see "Mustard Gas" pre-selected.

**Expectations:** None of the SIC should prese

[2017-02-21 16:06] lakohl commented on #863
@kierachell the decision type is missing and lines should be lighter grey (like in the tab).
The VACOLS Decision Criteria should look like this:
<img width="640" alt="screen shot 2017-02-21 at 11 05 01 am" src="https://cloud.githubusercontent.com/assets/4975959/23172968/a101a37c-f825-11e6-8d51-d33fd387fa4c.png">

[2017-02-21 16:09] mdbenjam commented on #800
@kierachell I talked to @lakohl about this last week and Foreign Issues (non pension) is the same issue as Foreign claim - compensation claim, dual claim appeals.

[2017-02-21 16:12] kierachell commented on #800
Then we good 👍

[2017-02-21 16:12] #800 closed

[2017-02-21 16:45] mdbenjam commented on #884
@abbyraskin I'm interested in both. Do I just base these values off what Sharon used in her ticket for emailing offices for the full grant case? The information in these lists? https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Projects/Dispatch/Routing%20EPs/Email%20Routing%20Table.md

[2017-02-21 18:30] astewarttistatech commented on #859
Currently with the manager view toggled "enabled" when the https://certification.cf.uat.ds.va.gov/dispatch/establish-claim/ is accessed the page displayed is the "Drat!"/unauthorized page.

Screenshot:
<img width="1348" alt="screen shot 2017-02-21 at 1 27 33 pm" src="https://cloud.githubusercontent.com/assets/23038505/23178826/d4a3f626-f839-11e6-8f7d-ddaa0bd1b75c.png">

Moving back to in progress.

[2017-02-21 18:55] shanear commented on #939
From Nicolas, apparently VPN VACOLS users also sometimes experience slow connections. Worth investigating:

[2017-02-21 19:04] mdbenjam commented on #867
@lakohl Since you requested the main header to be ARC Work Assignments, do you want this secondary heading to also say Work Assignments?

[2017-02-21 19:05] nicholasholtz commented on #939
FYI, to the extent it could be related - BVA attorney and administrative support VACOLS users over vpn are experiencing increasingly slow responses, to the point of timeout.

[2017-02-21 19:22] lakohl commented on #867
@mdbenjam good question! Sorry for the confusion. Per the AC in the comment above your last one, there is now only one header at the top of the page. Apologies,  the mocks at the top should have updated.

This is the whole page:
<img width="570" alt="screen shot 2017-02-21 at 2 21 34 pm" src="https://cloud.githubusercontent.com/assets/4975959/23180937/1949012a-f841-11e6-9cd4-7bf857681f62.png">

[2017-02-21 19:26] mdbenjam commented on #867
@lakohl Thanks for the clarification! Also, AC 6:

Should we still have the footer with the totals? The mock suggests not, but just want to double check.

[2017-02-21 19:29] lakohl commented on #867
@mdbenjam There will not be any employee names in this state, so I think we can skip the Totals for now on the state when no cases have been assigned.

<img width="603" alt="screen shot 2017-02-21 at 2 27 31 pm" src="https://cloud.githubusercontent.com/assets/4975959/23181187/fd6dcd40-f841-11e6-8aba-4a3b8d441613.png">

[2017-02-21 19:29] lakohl commented on #867
Sorry you keep getting the issues with moving parts!

[2017-02-21 19:43] lakohl opened #973 "Update Route Claim and Confirmation page for auto-populated VBMS note"
Update Route Claim and Confirmation page for auto-populated VBMS note

[2017-02-21 19:46] nikitarockz commented on #773
@lakohl add a mock.

[2017-02-21 19:47] lakohl commented on #892
@abbyraskin can you help with the criteria for this.

[2017-02-21 19:53] shanear opened #974 "Resolve Claims Establishments where the EP creation erroed out."
Claims Establishment for two of the five pilot appeals failed today, both for the same reason:

[code]

According to @abbyraskin, the EP also failed in the VBMS UI. We are putting in a support ticket for the issue.

[2017-02-21 19:59] mdbenjam commented on #867
Moving parts make life fun!! ⚙️ ⚙️

[2017-02-21 20:33] lakohl commented on #883
Add back button to stats

[2017-02-21 20:46] lakohl commented on #711
add mock

[2017-02-21 20:57] nikitarockz opened #976 "Decision Review | Decision Document | Show large Caseflow Loading indicator"
As a Product Owner, I would like to have a spinning large Caseflow loading indicator displayed while the system is loading the Decision Document(s) on the `Decision Review` page so that there is an indication that something is happening.

# Acceptance Criteria
1. Verify that during the loading of the Decision Document on the `Decision Review` page, a spinning large Caseflow loading indicator is di

[2017-02-21 20:58] nikitarockz commented on #976
@lakohl please add loading favicon.

[2017-02-21 21:47] nikitarockz commented on #892
@abbyraskin what does the "(when applicable)" mean?

[2017-02-21 21:53] orischwartz-gov commented on #968
Is there a reason this code needs to be in a transaction block? Couldn't we force ActiveRecord to fetch all the required fetching upfront outside the transaction block:

### Before
[code]

### After
[code]

[2017-02-21 21:54] kierachell commented on #860
**PASSED**
and it's gone!
![manager](https://cloud.githubusercontent.com/assets/18075411/23186817/73b83a62-f856-11e6-82a4-37cd6a4cd9aa.png)

[2017-02-21 21:54] #860 closed

[2017-02-21 21:55] joofsh commented on #894
@lakohl @abbyraskin @cmgiven From a product perspective, do you have any suggestions on the following:

- What should the default "days to complete" the diary note be? Existing diary notes have a default ranging between 30 - 180 days. Something on the lower end sounds best to me?

- What should the due date be? Note: this does not have any actual affect in VACOLS, other than showing up in "overdue

[2017-02-21 22:06] kierachell commented on #869
We don't exactly have workers to assign the tasks to:
thus, unable to validate in `uat`.
![noworkers](https://cloud.githubusercontent.com/assets/18075411/23187112/a7d516ac-f857-11e6-833d-6580284607af.png)

[2017-02-21 22:27] lakohl commented on #894
My thoughts below @abbyraskin feel free to chime in

- What should the default "days to complete" the diary note be? Existing diary notes have a default ranging between 30 - 180 days. Something on the lower end sounds best to me?

- What should the due date be? Note: this does not have any actual affect in VACOLS, other than showing up in "overdue diaries" reports. Existing diary notes range betwe

[2017-02-21 22:31] joofsh commented on #894
Here are the current 95 diary note categories:

1A - IME Request to Dean
D - Diary
R - Remand
B - Advance on Docket (VLJ)
A - Abeyance
H - Hearing
T - Thurber
O - Outside BVA
P - Pending Outside Transfer
S - Schedule Hearing
U - Video Hearing
C - Clear & Unmistakable Error
2 - VHA
3 - AFIP
1B - IME Request to Doctor
1 - IME Request
2A - VHA Request to VA Medical Center
3A - AFIP Request
1C - IME 6

[2017-02-21 22:37] abbyraskin commented on #894
I will run these questions past the ARC appeals coach. My initial thoughts:

- What should the due date be? Note: this does not have any actual affect in VACOLS, other than showing up in "overdue diaries" reports. Existing diary notes range between 30-120 days.

- Diary notes get assigned to a staff member, either a specific employee or an RO. Do we know what rules we want to use for determining w

[2017-02-21 22:41] mdbenjam commented on #869
@kierachell I think AC 2 is just referring to the '2 out of 5 cases completed today.' Can you complete one more task and see if goes to 3 out of 5?

[2017-02-21 22:45] kierachell commented on #722
There's no _Required_ in the mocks.
And if it should be there, probably not like this:
![noterequired](https://cloud.githubusercontent.com/assets/18075411/23188640/798811a4-f85d-11e6-986c-27ee13e6b94c.png)

[2017-02-21 22:53] lakohl commented on #722
also, in production hopefully the message will list only the relevant special issue(s) not all that apply

[2017-02-21 23:05] abbyraskin commented on #892
"When applicable" means only for claims that are _NOT_ routed to the ROJ. If they're going to the ROJ, there's no need to make a change.

This applies to level 2 and level 3 issues based on [special issue hierarchy.](https://github.com/department-of-veterans-affairs/appeals-design-research/issues/49)

[2017-02-21 23:07] mdbenjam opened #980 "Footer has scroll bar"
![screen shot 2017-02-21 at 6 08 44 pm](https://cloud.githubusercontent.com/assets/3885236/23189448/f3438296-f860-11e6-9096-70f6ab3be1ed.png)
A recent addition to the footer CSS has made the footer have a scroll bar. I think the overflow rule should be removed or modified.

[2017-02-21 23:08] lakohl commented on #722
@sharonwarner @kierachell I updated my comment above in case the wording was confusing

[2017-02-22 00:23] kierachell commented on #980
I was just about to create an issue for it :D

[2017-02-22 01:51] kierachell commented on #869
I am not seeing the following:
[code]
as per @nikitarockz
or have the AC changed?

[2017-02-22 01:54] #869 closed

[2017-02-22 02:03] kierachell commented on #722
![rocodenocity](https://cloud.githubusercontent.com/assets/18075411/23193860/fd7addfa-f878-11e6-8f14-1e2eb85cc4f6.png)
 : do we have an up-to-date list of RO Codes - Cities?
@lakohl @abbyraskin
![specialissuenote](https://cloud.githubusercontent.com/assets/18075411/23193903/1bc17ab2-f879-11e6-9703-30505065d658.png)

[2017-02-22 02:41] kierachell commented on #911
can't even create a Level 2 Full Grant
![level2fullgrant](https://cloud.githubusercontent.com/assets/18075411/23194835/7e2afa8e-f87e-11e6-8904-277b3791fa23.png)
No logs on Sentry, just error.

[2017-02-22 14:17] abbyraskin commented on #722
@kierachell I have [this list](https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Projects/Dispatch/Routing%20EPs/Station%20Codes.csv).

[2017-02-22 14:21] kierachell commented on #722
Currently I see no City/State shown for any of the RO codes

[2017-02-22 14:34] cmgiven commented on #894
Yeah, we might be able to answer all of these questions if we had a screenshot of how they fill this out in VACOLS today.

[2017-02-22 16:29] abbyraskin commented on #974
Filed a ticket with NSD, who will pass along the request to the VBMS team.

[2017-02-22 16:57] abbyraskin commented on #974
I spoke to the VBMS Tier 2 NSD support team. They don't have access to Share, but said that most likely the user did not actually "p-change" the EP in Share prior to canceling it. It seems like a strange workaround, but basically you have to change the EP code to a different code prior to canceling it for it to be truly removed from the system

I don't know why this isn't happening in lower enviro

[2017-02-22 17:18] astewarttistatech commented on #867
Blocked because there isn't a manager view that is accessible in UAT

[2017-02-22 17:27] astewarttistatech commented on #867
**PASSED**

Steps to Validate:
1.  Select the manager and caseworker roles in dispatch
2. Go to dispatch
3. Validate the mocks match the live view.
Screenshots:

<img width="1094" alt="screen shot 2017-02-22 at 12 22 17 pm" src="https://cloud.githubusercontent.com/assets/23038505/23223813/0f79067c-f8fa-11e6-868a-c8473e7a6d1c.png">

[2017-02-22 18:31] kierachell commented on #980
**PASSED**
![footerisok](https://cloud.githubusercontent.com/assets/18075411/23226324/254bf9a6-f903-11e6-9630-8e1c2bcc91a6.png)

[2017-02-22 18:31] #980 closed

[2017-02-22 18:49] lakohl opened #986 "Clean up Demo Designs"
Clean up Demo Designs

[2017-02-22 19:45] amprokop opened #988 "Verify or ensure that Prometheus data is used to monitor length of requests in Grafana"
Check on this in Grafana.

[code]

[2017-02-22 20:48] slj commented on #588
@KHarshawat I cannot reproduce this locally.  @kierachell can you?

[2017-02-22 20:52] kierachell opened #989 "Route Claim | Vocational Rehab"
# Description:
As a Caseworker I have no idea where to email or send any claim with SIC _Vocational Rehab_

**Type of Bug:**
- [X] Functional

- [ ] UI

- [ ] Security

- [ ] Tech Improvement

**Severity Level:**

**`uat`**

# Reproductive Steps
**Scenario 1:**
**`uat`**

1. Start Establishing Claim

2. Review Decision and select _Vocational Rehab_ SIC

3. Click **Route Claim**

4. Observe that th

[2017-02-22 20:56] kierachell commented on #588
![headersize](https://cloud.githubusercontent.com/assets/18075411/23231915/7c6d8452-f917-11e6-8c15-3a05af41ae13.gif)

[2017-02-22 20:59] slj commented on #588
Height is consistent (cannot reproduce locally and QA verified consistency)

Logo position is a different issue.

[2017-02-22 20:59] #588 closed

[2017-02-22 21:02] kierachell opened #990 "Header | Application Name and Icon Centerin"

[2017-02-22 21:02] #990 closed

[2017-02-22 21:16] nikitarockz commented on #892
@abbyraskin  Checkout what I created for the AC.  I copied what you had in the 2 documents and put them in excel.  Let me know if I filtered on the correct ones.  I can change the image easily if I am missing some.

[2017-02-22 22:59] joofsh commented on #894
Below is a screenshot of adding a diary note in VACOLS:
![vacols_diary_add](https://cloud.githubusercontent.com/assets/2256237/23236799/a24f375e-f928-11e6-9156-6c4adb1ac0bd.png)

[2017-02-23 01:48] shanear opened #992 "Avoid all the VACOLS calls on the case worker landing page"
Each load of the caseworker landing page can take up to 3 seconds longer because it fires off
a VACOLS request for each completed establish claim task.

We should be caching some of the values displayed here in Redis to avoid so many calls

[2017-02-23 14:36] kierachell commented on #880
**PASSED**

<img width="563" alt="screen shot 2017-02-23 at 9 29 29 am" src="https://cloud.githubusercontent.com/assets/18075411/23263188/77c5e5a4-f9ab-11e6-8349-15351ab2e811.png">
Middle few Remands/Partials were assigned, locations updated it seems.

[2017-02-23 14:36] #880 closed

[2017-02-23 14:53] abbyraskin commented on #892
@nikitarockz I updated the master routing rules table [here](https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Projects/Dispatch/Routing%20EPs/Special%20Issue%20Routing%20Table.md).

[2017-02-23 14:54] abbyraskin commented on #892
My understanding is that we'll want to change the ROJ even if we don't create an EP.

[2017-02-23 15:07] abbyraskin commented on #894
@joofsh the claim assistant I met with yesterday said he selects "Other" as the diary note code, but I would like to check with the coach today to see if this is the preferred code (seems generic to me!).

re: days, it currently defaults to 30 days and they don't change it, so let's keep it at 30.

[2017-02-23 15:26] shanear commented on #989
Yeah, we probably are just missing the mapping here. Can you take a look @sharonwarner

[2017-02-23 15:27] #888 closed

[2017-02-23 15:29] shanear commented on #989
This is captured here: https://github.com/department-of-veterans-affairs/caseflow/issues/957

closing this one.

[2017-02-23 15:29] #989 closed

[2017-02-23 15:34] nikitarockz commented on #677
**_Success._**

[2017-02-23 15:34] #677 closed

[2017-02-23 15:47] mdbenjam commented on #867
@astewarttistatech I'm sorry, but what is missing? Isn't that button and field there? As a note, changing the number there, only changes the quota, it doesn't insert that number of rows in the table. People are only shown in the table once they actually work on a case.

[2017-02-23 15:57] tejans24 opened #995 "Move reusable react components into module that can be npm packaged"

[2017-02-23 16:05] kierachell commented on #911
waiting for #957 to finish this

[2017-02-23 16:49] nemodjuric opened #996 "Cancellation | Remove old cancellation modal"
See #920 and #984
Beside removing old code, refactor cancel_certification_modal_new into cancel_certification_modal

[2017-02-23 21:30] shanear commented on #889
@kierachell & @astewarttistatech want to take this on?

[2017-02-23 21:34] amprokop commented on #889
We've gotten more than one report of this now.
On Thu, Feb 23, 2017 at 4:30 PM Shane Russell <notifications@github.com>
wrote:

[2017-02-23 21:37] shanear commented on #909
@mmlumba I'm gonna split this out into seperate tickets

[2017-02-23 21:38] astewarttistatech commented on #774
So since caseflow commons isn't matching the mocks, I'm pushing this back.

[2017-02-23 21:40] joofsh commented on #889
We saw this issue come up in Baltimore today during our RO visit. There were certified cases that were in limbo since they were not "ready for hearing". They may not have been Caseflow certified cases though.

[2017-02-23 21:41] shanear opened #998 "Add links to code examples"
As a developer, I want to have a link to the usage examples of the components in the style guide.

## Acceptance Criteria
- Validate that for each Styleguide section, there is a link in the top right to the source code file in Github (@gnakm to add the mock)
- Bonus Points for a github emoji in the link

## Technical Notes
- We may want to autogenerate this link in a StyleguideSection base class.

[2017-02-23 21:46] shanear opened #999 "Styleguide Component | User dropdown Menu"
As a user, I want to be able to click a dropdown button that is easy to find with options that are clear to understand.

As a developer and designer, I want clear and consistent actions to increase design and development efficiency across apps.

## Acceptance Criteria

1. Verify that the title "User dropdown menu" appears
1. Verify that there is a horizontal line above the title
1. Verify that the

[2017-02-23 21:48] shanear opened #1000 "Styleguide Component | Tabs"
As a developer and designer, I want nav actions in a living style guide built with react components so I can consistently and easily apply nav changes across our Apps.

# Acceptance Criteria
1. Verify that the title "Tabs" appears
1. Verify that there is a horizontal line above the title
1. Verify that the below copy appears underneath the title
1. Verify that the "Tabs" appears under the copy wit

[2017-02-23 21:52] shanear opened #1001 "Styleguide Component: Loading Button"
Add the loading button to the style guide. Ideally this would be a react component that captures the functionality of turning a submit button into a loading button when clicked. Confirm the design with @KHarshawat.

# Technical Notes
There should be an example of the component in the styleguide, but the code should be in caseflow commons.

[2017-02-23 21:52] shanear commented on #909
see: https://github.com/department-of-veterans-affairs/caseflow/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22Living+Styleguide+V1%22

[2017-02-23 21:54] lakohl commented on #892
@Abby can you take a look at the AC above? It seems like there could be scenarios where the ROJ in VACOLS might not be the home base RO. Do we still want to base assignments on the ROJ or do we want to base them on the home base RO and if its the latter, where can the devs find this info?

[2017-02-23 21:57] shanear opened #1002 "Styleguide | Fixed sidebar navigation for current links and scroll through"
As a developer I want to always be able to see the sidebar when I'm using the Styleguide so I can navigate around easily.

# Technical Notes
This could involve creating a react component

[2017-02-23 22:07] abbyraskin commented on #974
Need better error handling for this scenario...

[2017-02-23 22:13] shanear opened #1003 "Caseworker Landing: Show VBMS File Number instead of VACOLS id"
As a caseworker, I want to see the VBMS file number in my history instead of the VACOLS id for the appeal, because I don't know what the VACOLS number is.

# Acceptance Criteria
- Verify that on the history page, the VACOLS ids shown in the current state screenshot below, are VBMS ids instead.

<img width="955" alt="screen shot 2017-02-24 at 10 19 29 am" src="https://cloud.githubusercontent.com/as

[2017-02-23 22:22] shanear opened #1004 "EP Creation: Station name disappears for a split second after submission"
When clicking "Create End Product" on the EP Creation page, the station name in the "Station of Jurisdiction" field disappears while the EP is being created. This is confusing users.

For example "397 - AMC", will change to "397" for a split second. This appears to happen for all EPs.

<img width="1554" alt="screen shot 2017-02-23 at 5 20 53 pm" src="https://cloud.githubusercontent.com/assets/1596

[2017-02-23 22:33] shanear opened #1005 "SPIKE | Investigate if we can change Claim Status using BGS"
We can't set this value via the API or the VBMS UI. They currently use a fun little program called MAPD to do this. It's likely that we can do this from BGS, It's worth investigating.

<img width="1232" alt="screen shot 2017-02-23 at 5 30 52 pm" src="https://cloud.githubusercontent.com/assets/1596259/23282219/44bcfe66-f9ee-11e6-8060-dcbab30cf491.png">

[2017-02-23 22:50] shanear opened #1006 "ARC Login doesn't work because we don't have station 397 recorded."
We need to find out what VACOLS RO # that they are to do this.

[2017-02-23 22:58] shanear commented on #970
@astewarttistatech can you verify that this isn't a test data problem? reproduce the issue with another case?

[2017-02-23 23:00] shanear commented on #951
can you verify the PR fixed this issue?

[2017-02-23 23:07] abbyraskin commented on #892
Unfortunately I don't think VACOLS keeps a record of ROJ outside of whatever is currently listed on the appeal in VACOLS. @cmgiven can you confirm?

[2017-02-23 23:08] abbyraskin commented on #892
I suppose we could figure it out based on current address, but I can't think of another way...

[2017-02-23 23:10] abbyraskin commented on #1006
Emailed George Byrd (coach) to confirm station code.

[2017-02-24 00:01] amprokop commented on #889
Thanks for the info. Yeah, I suspect this is a legit problem then. Artem or
Alexis, can you do a smoke test to verify if you can reproduce?

Background:
Caseflow is supposed to check the "Ready for Hearing" box in VACOLS if the
appellant has requested a Travel Board hearing or a video hearing. We're
hearing from users that this might not be the case.

The steps would be:
Case 1:
- Select "Travel B

[2017-02-24 01:04] kierachell commented on #951
Yes fixed, this issue was never labeled properly so it just stayed in backlog.

[2017-02-24 01:04] #951 closed

[2017-02-24 01:07] kierachell commented on #970
It's not a test data problem.
This was fixed by a #958
Except that PR/Issue never went through Validation (see label history and uchecked box); so it was  "implemented" but never used in code.
My fix for this is in #881 Which is being validated, waiting for deployment update.

[2017-02-24 02:15] joofsh commented on #876
Just to comment on this, this shouldn't be an issue anymore. `to_hash` was updated to be the version that does _not_ make any API calls https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/task.rb#L223-L231

[2017-02-24 12:23] kierachell commented on #863
This issue relates to purely back-end functionality as I understand; the original issue #736 did not include the AC listed in the comment above. Probably needs to be a new issue

[2017-02-24 12:23] #863 closed

[2017-02-24 12:29] kierachell commented on #876
We'll see.

I finally got access to console/logs.

[2017-02-24 12:32] kierachell commented on #889
I wouldn't even know where that box is. It never shows up in Caseflow/VBMS. And VACOLS is a database - it has no checkboxes

[2017-02-24 12:32] kierachell commented on #881
Blocked because `preprod` vs `uat` disparity

[2017-02-24 13:11] abbyraskin commented on #1006
@shanear Jed says AMC's RO is 97 (when all else fails, go straight to the source!)

[2017-02-24 13:16] shanear opened #1008 "Styleguide | Radio Buttons"
As a developer and designer, I want a want a clear and consistent way to implement radio buttons across our apps so our users can select important options.

# Acceptance Criteria
1.  Verify that in the living style guide there is a section with the title `Radio Buttons`
1. Verify that the correct description appears below `Radio Buttons` (see copy section)
1. Verify that the horizontal and vertica

[2017-02-24 13:19] shanear opened #1009 "Styleguide Component | Progress Indicator"
As a designer and developer, I want to know what it looks like for a user to see what a past, current and future step in a process looks like.

# Acceptance Criteria

- [x] Verify that the height of the process bars are 7px height
- [x] Verify that current and past completed steps is in  `gray-dark` (#323A45) and future step is in `gray-light` (#AEB0B5)
- [x] Verify that the text for all process,

[2017-02-24 13:22] shanear opened #1010 "Styleguide Component | Document Preview"
[WIP]
For reader, we took out the option to print and download because we want to refrain users from doing so. We also learned from research that users were printing and downloading as a workaround for working from home or working offline.

1. Do we want to add options for printing and downloading or do we want our products biased against doing so?
1. It looks like right now on Dispatch and Certif

[2017-02-24 13:25] shanear commented on #909
All of the checkboxes have been captured as issues in the milestone! Closing this one.

[2017-02-24 13:25] #909 closed

[2017-02-24 13:35] shanear commented on #614
Deprioritizing this since the Form8 is going bye bye

[2017-02-24 13:36] shanear commented on #301
@lakohl could you look into this one?

[2017-02-24 13:42] cmgiven commented on #892
We could possibly determine the RO that originated the appeal in VACOLS by using the PRIORLOC table. This probably won't have 100% accuracy, though.

[code]

[2017-02-24 13:52] amprokop commented on #889
Yep, this box should be checked programmatically, by the code. It's not
visible in the Caseflow UI and doesn't correspond to anything in VBMS.

You've probably only used the DB, but VACOLS also has a UI. @shanear, does
anyone on our team have access to the VACOLS via the interface? If not,
maybe @chinguo can get on a call with a user who is experiencing this
problem and screenshare.

On Fri, Feb 2

[2017-02-24 13:53] amprokop commented on #889
@kierachell , here's the line of code that should do it:
https://github.com/department-of-veterans-affairs/caseflow/blob/773f6c41fffad201597781da8f4fb6adc6fcebb3/app/services/appeal_repository.rb#L221

[2017-02-24 14:12] shanear opened #1011 "How should we deploy code with migrations? (Discussion on 3/6)"
Right now, if we deploy code that adds columns to certain tables, it can cause a stream of 500's and possibly data inconsistencies between VBMS, VACOLS.

How should we:
1) Be aware that a deployment contains a problematic DB migration?
2) Deploy code that contains problematic DB migration?

It should be noted that we can almost entirely alleviate this problem if:
a) We refactor these long lived PS

[2017-02-24 15:42] askldjd commented on #1011
"We refactor these long lived PSQL transactions to be much shorter"

I think this will resolve one of the issue, but doesn't resolve everything entirely. Since we deploy during business hours, our changes needs to allow for _hot compatibility_. And in order to achieve this, development side needs to ensure all changes are future compatible. [See video](https://www.youtube.com/watch?v=R6bVTthtnZ0).

[2017-02-24 16:13] kierachell commented on #876
**PASSED**
Refreshed work history, see only one call at a time.

[2017-02-24 16:13] #876 closed

[2017-02-24 16:15] kierachell commented on #881
**PASSED**
<img width="1034" alt="screen shot 2017-02-24 at 10 39 34 am" src="https://cloud.githubusercontent.com/assets/18075411/23311002/8230d3be-fa82-11e6-8106-3f72d0a579e1.png">

Created an SQL monster to do this.

[2017-02-24 16:15] #881 closed

[2017-02-24 16:43] abbyraskin commented on #946
@tejans24 additional edit for grammatical consistency if possible:

Foreign Pension, DIC - Mexico, Central and South America, Caribbean

(currently it says "American")

[2017-02-24 17:02] joofsh commented on #894
@abbyraskin awesome abby, thanks for the info. I'll hold off merging code until I hear back from you on the diary note code

[2017-02-24 17:03] mdbenjam opened #1017 "Caseflow headers have blue text"
I'm not positive, but this looks like a bug.

[2017-02-24 17:10] cmgiven commented on #1017
Link styles taking precedence, perhaps?

[2017-02-24 17:17] lakohl commented on #1017
Bug!

[2017-02-24 18:36] joofsh commented on #894
@abbyraskin @lakohl The example diary note above is 251 characters. With real special issues we'll definitely break the 280 character limit for diary notes. The existing diary notes are typically very short & casual. Is there a shorter version we can use to ensure it fits?

[2017-02-24 18:45] KHarshawat-gov commented on #774
@mmlumba concur with @lakohl on both of the above

[2017-02-24 18:58] joofsh commented on #894
Also, is there any UI for the user to see/edit this note. Or is this note entirely created behind the scenes?

[2017-02-24 19:01] aroltsch commented on #273
We need to hold off on that. Rails 4.2.8 has security vulnerability:

[code]

[2017-02-24 20:07] kierachell commented on #970
**PASSED**
SIC are properly cleared now

[2017-02-24 20:07] #970 closed

[2017-02-24 20:28] abbyraskin opened #1018 "EP Creation | Update EP labels for Partial Grants and Remands - EPs routed to RO"
As a Caseworker, I would like to have the "EP & Claim Label" value determined by the "Decision Type" and destination, so that partial/remand EPs created at ARC and EPs created at the ROs can be distinguished from one another.

## Acceptance Criteria
1. Verify that the when the value of "Decision Type" is "Full Grant" on the Decision Review page, the "EP & Claim Label" value is set to `172BVAG - BV

[2017-02-24 20:28] abbyraskin opened #1019 "EP Creation | Update EP labels for Partial Grants and Remands - EPs created at ARC"
As a Caseworker, I would like to have the "EP & Claim Label" value determined by the "Decision Type" and destination, so that partial grant/remand EPs created at ARC and EPs created at the ROs can be distinguished from one another.

## Acceptance Criteria
1. Verify that the when the value of "Decision Type" is "Full Grant" on the Decision Review page, the "EP & Claim Label" value is set to `172BVA

[2017-02-25 01:11] kierachell commented on #920
**PASSED**
used a modal focus non-capture bug to validate
![nonadminmodal](https://cloud.githubusercontent.com/assets/18075411/23326608/5e3c5474-facd-11e6-84bc-bf71a26af913.png)

[2017-02-25 01:11] #920 closed

[2017-02-25 18:02] kierachell commented on #957
Functionality is there but:
![95b4c708-f675-11e6-892a-c4585281b8f1](https://cloud.githubusercontent.com/assets/18075411/23333502/83790e48-fb5a-11e6-849a-ebfebf02d6de.png)

The mocks are not following the **Lara's Decree**
@nikitarockz @lakohl please confirm if the mocks are correct.

Otherwise, functionality is confirmed on `uat`

![screenshot_2017-02-25_12-59-26](https://cloud.githubusercontent.c

[2017-02-25 18:04] kierachell commented on #957
@nikitarockz
Also, need an update if the following view in **Work History** displays correct _Action_ information based on **Release Claim** use case:
![screenshot_2017-02-25_13-03-39](https://cloud.githubusercontent.com/assets/18075411/23333522/e2272efc-fb5a-11e6-96a6-2a68ef459ef6.png)

[2017-02-25 18:38] kierachell commented on #953
Fixed with new and finalized implementations.

[2017-02-25 18:38] #953 closed

[2017-02-25 18:39] kierachell commented on #933
Tests work now.

[2017-02-25 18:39] #933 closed

[2017-02-25 18:43] kierachell commented on #910
Note, this is a more general issue than just Form 8:

<img width="928" alt="screen shot 2017-02-25 at 1 43 17 pm" src="https://cloud.githubusercontent.com/assets/18075411/23333808/679d7dac-fb60-11e6-933e-6eebb22348ed.png">

A **lot** of VBMS/VACOLS timeouts are returning generic web-browser HTTP 500 error. We need to implement some kind of _user-friendly_ handling for this (imho). Otherwise suppor

[2017-02-25 22:19] kierachell commented on #1017
Not finding any blue headers on `uat`

[2017-02-26 02:30] kierachell commented on #248
![screenshot_2017-02-25_21-26-50](https://cloud.githubusercontent.com/assets/18075411/23336555/7c5e7430-fba1-11e6-8a73-c7153ba73b6f.png)
And with **APP BRANDING**
![screenshot_2017-02-25_21-27-55](https://cloud.githubusercontent.com/assets/18075411/23336557/80a86c6c-fba1-11e6-9aae-d0d37c45b184.png)

[2017-02-26 02:33] kierachell commented on #248
However, it seems like I am unable to log out when the "site is down". Is that intended?
I will need confirmation from @orischwartz and @askldjd that Nemo's work satisfies the AC.
![peek 2017-02-25 21-31](https://cloud.githubusercontent.com/assets/18075411/23336582/f4c2447e-fba1-11e6-98c9-b252eaf28eea.gif)

[2017-02-26 03:42] kierachell commented on #834
That face when implementation looks better than the mock 👍
![screenshot_2017-02-25_22-34-44](https://cloud.githubusercontent.com/assets/18075411/23336866/a281a11a-fbaa-11e6-86f7-8aee5986e8a1.png)

Nitpick: _Cancel Certification_ link on bottom left should be _Cancel certification_ and **Refresh Page** should be *Refresh page**
as per:
![lara_decree](https://cloud.githubusercontent.com/assets/18075

[2017-02-26 16:24] kierachell commented on #722
**PASSED**
All appropriate ROs display Cities/States.
At least the ones we know.

[2017-02-26 16:24] #722 closed

[2017-02-26 16:49] kierachell commented on #992
**Initial Load**

[code]

**After Task Completed**
[code]

**PASSED** `cached` value is being called

[2017-02-26 16:49] #992 closed

[2017-02-26 22:04] lakohl commented on #712
@shanear we need to hash this out together.

[2017-02-26 22:45] lakohl opened #1025 "Caseworker Dashboard | Establish Next Claim | Reposition button and change subtext"
As a Caseworker, I would like the location of the Establish next claim button moved and subtext changed so that it provides better information.

# Acceptance Criteria
1. Verify that the **_Establish next claim_** button has been been moved the right side of the page.
1. Verify that the **_Establish next claim_** button's subtext "[number] of claims in your queue, [number] of claims completed" has

[2017-02-26 23:07] lakohl opened #1026 "Decision Review | Decision Type | Incorrect styling"
# Description
On the `Decision Review` page, the "Decision Type" field and label have styling issues:

1. Label should be in sentence case = "Decision type", not 'Decision Type'

**Environment:**
- [x] Production
- [x] UAT
- [x] Demo
- [x] Development

**Type of Bug:**
- [ ] Performance
- [x] Design
- [ ] Security
- [ ] Functional

**Severity Level:**
- [ ]    5 - Data loss, data corruption or sys

[2017-02-26 23:22] lakohl opened #1027 "App Actions | Update buttons to sentence case"
As Product Owner, I would like to update all buttons on the Dispatch pages to sentence case so that they are in compliance with the Caseflow Styling guide.

# Acceptance Criteria
1. Verify that the following buttons have been update to sentence case:

| Page | Current Verbiage | New Button Verbiage |
| --- | --- | --- |
| Caseworker Dashboard | Establish Next Claim | **_Establish next claim_** |
|

[2017-02-26 23:30] kierachell commented on #712
I think this needs to have a more general issue with browser back button functionality, because at the moment there's only one page that stops the users from going back (has a **Cannot edit end product** flash) and doing some other action.

Related bugs, all happen during the **Loading** animation:
- After clicking **Create new EP** and then **Create End Product** I am able to go back and click **

[2017-02-27 13:51] shanear opened #1028 "Log VBMS 500's to Sentry"
When establishing a claim in VBMS, and VBMS returns a 500, this is an exceptional problem, and we should be logging it in sentry.

[2017-02-27 14:05] kierachell commented on #1027
# Obligatory

![lara_decree](https://cloud.githubusercontent.com/assets/18075411/23364152/d32bb2e8-fccb-11e6-9816-5719c75b89b1.png)

[2017-02-27 14:11] lakohl opened #1029 "Route Claim | VBMS Note | Incorrect "VBMS Note" text box positioning and size"
# Description
The text box for "VBMS Note" field is sized and positioned incorrectly on the `Route Claim - VBMS Note` page.  It should match the Caseflow styling guidelines for UI Components.

**Environment:**
- [ ] Production
- [x] UAT
- [x] Demo
- [ ] Development

**Type of Bug:**
- [ ] Performance
- [x] Design
- [ ] Security
- [ ] Functional

**Severity Level:**
- [ ]    5 - Data loss, data cor

[2017-02-27 14:13] kierachell commented on #1006
Not sure how to test this outside of `prod`?

[2017-02-27 14:16] shanear commented on #1006
@kierachell you can test in demo. Create a test user in station 397 and make sure everything looks good.

[2017-02-27 15:21] lakohl commented on #986
closing - represented in other issues

[2017-02-27 16:08] astewarttistatech commented on #867
@lakohl the buttons on the screenshot you posted last are different from what is currently displayed for "number of people working today". Is that a blocker for this issue?

[2017-02-27 16:40] lakohl commented on #867
This is my fault, as I updated the issue in the comments while Mark was working on this.
This issue is exclusively for the table. So discrepancy in the number of workers section is not a blocker.

However, since you asked... what exists in dev today for the 'number of people working today' section  is a bit of a hybrid. We no longer need the update button, such a large box indicating the number of

[2017-02-27 16:48] astewarttistatech commented on #867
**PASSED**

Tested in: UAT
Steps to Validate:
1. Go to dispatch as a manager after EPs have been created as a caseworker
2. Verify the manager view

Screenshots:
<img width="1362" alt="screen shot 2017-02-27 at 11 46 40 am" src="https://cloud.githubusercontent.com/assets/23038505/23370416/99887e42-fce2-11e6-8582-eeb8fcb91a68.png">

[2017-02-27 16:48] #867 closed

[2017-02-27 17:03] Sjones352 opened #1030 "Create pull request for in-app training videos"
The training team is working on recording short videos for eFolder Express and an edited video(s) for Certification. Once these videos are finalized ,we will link to the videos from the application.

Refer to #1192 in appeals-pm

[2017-02-27 17:34] kierachell commented on #1006
**PASSED**

![screenshot_2017-02-27_12-33-21](https://cloud.githubusercontent.com/assets/18075411/23372285/fb1e96ae-fce8-11e6-8670-ce46916a38dc.png)

I'm a monkey, I can go anywhere.

[2017-02-27 17:34] #1006 closed

[2017-02-27 18:19] kierachell commented on #872
**PASSED**
Tested on `uat` found only one call to:
`[certification.cf.uat.ds.va.gov] [172.30.71.242] [2017-02-27 13:14:30 -0500] [CASEFLOW1 ] get end products for vbms id: 516517680: 0.020000 0.000000 0.020000 ( 0.881628)`

[2017-02-27 18:19] #872 closed

[2017-02-27 19:05] sharonwarner opened #1032 "Work History | Make values in "Action" column clearer"
As a Caseworker, I want to see actions that make sense to me. Currently there are some action names that are awkwardly named. Here is the complete list:

- Completed (means Created ARC EP)
- Released (this never happens anymore)
- Canceled
- Expired (somebody held an issue for too long)
- Routed to Ro (probably should be "Special Issue EP")
- Assigned Existing EP
- Special Issue Emailed
- Special

[2017-02-27 19:38] #248 closed

[2017-02-27 20:44] shellicious commented on #834
@kierachell:

- the header should be "Check Documents", not the current "Mismatched Documents"
- the button should say "Refresh page". The "Continue" button is from wireframes of a future version of Caseflow Certification, and it doesn't yet make sense from a UX perspective to change it to "Continue" without implementing other features.

[2017-02-27 20:45] shellicious commented on #834
and yes -- keep the Appeal type, file type, and representative in this current implementation. They will go away in a future iteration of Caseflow, but will stay today. cc @kierachell @nemodjuric

[2017-02-27 20:47] Chingujo commented on #301
So this just needs new copy?

This is what exists? "If you continue to see this page, please contact the help desk"

Here's my stab it. Thoughts @lakohl ?

## 500 error page:

"If you continue to see this error, please contact the help desk and ask the representative to assign the ticket to the _Caseflow team_" We will resolve this issue as quickly as possible.

## 404 page:

"If you continue to s

[2017-02-27 21:24] #986 closed

[2017-02-27 21:28] lakohl opened #1033 "App Canvas | Header | Update Route Claim page titles"
As a Product Owner, I would like to have the tiltes on the Route Claim pages updated to include the words "Route Claim" and/or added description so that the tile reflects the process stage and clear activity for the current claim.

# Acceptance Criteria
1. Verify that the following Route Claim pages have been updated with the new title:

| Page | Current Page Title | New Page Title |
| --- | --- |

[2017-02-27 21:50] kierachell commented on #834
**PASSED**
new issue will be created for buttons

[2017-02-27 21:50] #834 closed

[2017-02-27 21:51] lakohl commented on #957
The veteran's name should show as first name last name, in title case, not sentence case.

The line below the checkbox can be wider than the word 'Congratulations.'
See mock for copy:
<img width="635" alt="screen shot 2017-02-27 at 4 48 34 pm" src="https://cloud.githubusercontent.com/assets/4975959/23381500/b076d8ae-fd0c-11e6-8708-fa15a6325c0d.png">

[2017-02-27 22:34] shellicious commented on #920
@kierachell sorry for the late response, I didn't see this 'til now and have a couple nitpicks:
- There should be a question mark after "Why can't this case be certified in Caseflow"
- This wasn't in the style guide, but after a brief discussion with @KHarshawat @lakohl and @chingujo, additional lines of text next to radio buttons should be indented, so that all of the text of "VBMS and VACOLS dat

[2017-02-27 22:51] lakohl commented on #301
@Chingujo I updated the above. Just took out the last sentence to keep things brief, because there is usually another sentence before this one.

[2017-02-27 23:41] kierachell commented on #920
@shellicious
This will have to be a new separate issue:
- can we have up-to-date mocks for that?

[2017-02-27 23:47] kierachell opened #1035 "[1] Cancellation Modal | Incorrect styling and punctuation"
# Description
When canceling a Certification, there are a couple of styling and punctuation issues.  the first question is missing a question mark, radio button text is not aligned.

- Missing a question mark for 1st question and grammar is wrong - the question should read "Why can't this case be certified in Caseflow?"
- Radio button text is not indented/aligned properly.  The text following a ra

[2017-02-27 23:51] kierachell opened #1036 "Mismatched Documents | Incorrect button label"
# Description
On the missing or mismatched documents page, the **_Refresh Page_** button isn't in the correct style.

_Expected Results_
- Uncapitalize the word "page" on the "Refresh Page" button, so that it reads **_Refresh page_**

**Environment:**
- [x] Production
- [x] UAT
- [x] Demo
- [x] Development

**Type of Bug:**
- [ ] Performance
- [X] Design
- [ ] Security
- [ ] Functional

**Severity

[2017-02-28 14:28] lakohl commented on #920
This is a question... is certification a proper name in the way that End Product is? and a process (thus would it be capitalized). It's a tricky one.

[2017-02-28 16:42] kierachell opened #1040 "Review Decision | Route Claim not functional for Partial/Remand type Decisions with Level 1 SIC"
# Description
When something happens....

**Environment:**
- [ ] Production
- [X] UAT
- [X] Demo
- [ ] Development

**Type of Bug:**
- [ ] Performance
- [ ] Design
- [ ] Security
- [X] Functional

**Severity Level:**
- [ ]    5 - Data loss, data corruption or system unavailable
- [X]    4 - Important functionality is unavailable with no workaround
- [ ]    3 - Important functionality is unavailabl

[2017-02-28 16:50] shanear opened #1041 "Cache decision documents in task creation job"
As a caseworker, I don't want to have to wait for decisions to be loaded from VBMS in order to start processing an appeal. They should have been loaded and cached, so they load much faster.

[2017-02-28 17:51] aroltsch commented on #836
Usage Examples are in README.

[2017-02-28 17:53] aroltsch opened #1042 "Upgrade to rails 5.0.1"

[2017-02-28 17:56] aroltsch commented on #273
blocked by #[1042](https://github.com/department-of-veterans-affairs/caseflow/issues/1042)

[2017-02-28 18:48] shellicious commented on #920
@lakohl I'm thinking of it as a process, not the name of the app (Caseflow Certification), and therefore not a proper noun. Can check with nicholas to verify that VA folks don't proper-noun the process Certification.

[2017-02-28 18:56] lakohl opened #1043 "Non ARC Partial Grants/Remands with EP: Add VBMS Note & VACOLS Update"
There was a request from the Dispatch ARC folks to add a VBMS note to all EPs that ARC creates for the field (ROs). We already add a VBMS note for Full Grants with EPs not worked at ARC. This ticket is to add a VBMS Note to (non-ARC) Special Issue Partial Grants and Remands for whom we create an EP.
Based on the discussion below we will create a single page titled 'Route Claim: Update VACOLS and V

[2017-02-28 20:29] nikitarockz opened #1044 "Route Claim | Send Email | Email Link | Incorrect "Message" text box positioning and size"
# Description
The text box for "Message" field is sized and positioned incorrectly on the `Route Claim - Send Email` page.  It should match the Caseflow styling guidelines for UI Components.

**Environment:**
- [ ] Production
- [x] UAT
- [x] Demo
- [ ] Development

**Type of Bug:**
- [ ] Performance
- [x] Design
- [ ] Security
- [ ] Functional

**Severity Level:**
- [ ]    5 - Data loss, data corr

[2017-02-28 23:07] joofsh commented on #1043
The problem is for each permutation of Dispatch, what is the point of "submit" and the point of no return. Dispatch is approaching the point of unmaintainable complexity with the number of permutations and the number of submission points.

#### Scenario 1: Partial Grant & create EP
Steps:
Decision Review -> Route Claim: Create EP -> Add VBMS Note -> Update VACOLS -> Confirmation

In this flow we c

[2017-02-28 23:41] nikitarockz opened #1045 "Caseworker Dashboard | Work History | Separation lines are too thick"
# Description
The row separation lines within the Work History table are too thick.  The should be the equivalent of 1px thick and USWDS gray-light #D6D7D9 so they are not distracting.

**Environment:**
- [x] Production
- [x] UAT
- [x] Demo
- [ ] Development

**Type of Bug:**
- [ ] Performance
- [x] Design
- [ ] Security
- [ ] Functional

**Severity Level:**
- [ ]    5 - Data loss, data corruption

[2017-03-01 02:15] kierachell opened #1046 "404 Page | 404 errors causing DB connection hang."
I don't even know why this happens; however, here's the deal.
It seems like missing assets or any sort of 404 error will leave a hanging DB connection associated with that request:
This happens on `dev`, `uat` and etc.

## First Log is the 404 errors currently caused by missing fonts
[code]

## Second log, resulting 500 error:
[code]

The connection is eventually restored, but you pretty much lose

[2017-03-01 03:16] kierachell commented on #1046
Yes about 30 sec later

[2017-03-01 14:20] mmlumba commented on #774
@lakohl : You can view the change in demo. Go to the following and select "Launch Modal": http://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/styleguide

[2017-03-01 14:24] lakohl commented on #774
@mmlumba I took a look at the modal in demo. Looks great!

[2017-03-01 14:24] #774 closed

[2017-03-01 14:25] lakohl commented on #774
I believe in that in the Caseflow  apps if you click in the grey area outside the modal the modal closes. We should have the style guide work this way too.

[2017-03-01 14:36] kierachell commented on #1003
**PASSED**
checked in `uat` but I can't show you what it says
<img width="961" alt="screen shot 2017-03-01 at 9 33 00 am" src="https://cloud.githubusercontent.com/assets/18075411/23464284/85952d96-fe62-11e6-92c0-d0d685054531.png">

[2017-03-01 14:36] #1003 closed

[2017-03-01 14:55] amprokop commented on #889
From Jed:
[code]

[2017-03-01 14:57] kierachell commented on #889
FYI `BFHA` column has values other than 1,2,6.

[2017-03-01 15:01] amprokop commented on #889
@Chingujo is going to follow up with a user— we *only* check the "Ready For Hearing" box if the hearing type is "Travel Board", but the user appears to be referencing BVA hearings.

[2017-03-01 15:05] amprokop commented on #889
@Chingujo — here's the PM issue discussing this— https://github.com/department-of-veterans-affairs/appeals-pm/issues/112

Jed sez: ```the ROs don’t schedule Central Office hearings so they can’t mark those as ready. ``` which is why we don't check the "Ready For Hearing" box for BVA hearings.

[2017-03-01 16:08] askldjd commented on #1046
By tracing inside the Rails DB connection pool, I can confirm that on error 404, the database connection _could_ be retrieved and never released. It doesn't _seem_ to happen every time, but when it does happens, we lose a DB connection.

When the .woff files were missing, you can hang the demo env by refreshing the home page 3-4 times. I artificially created a few fake .woff files in the EC2's ass

[2017-03-01 16:34] kierachell commented on #889
So, what's not working?

[2017-03-01 16:51] shanear opened #1051 "Dispatch: Tasks being assigned to multiple users"
If User A has completed a task, that completed task appears to be showing up in all other User's work queues.

[2017-03-01 17:00] Chingujo commented on #889
Good question and following up. We also have a user testing sessions tomorrow and Friday we can ask and verify. Also have a planned meeting with the specific user this coming Monday as well.

[2017-03-01 18:08] kierachell commented on #946
Aaaaah! The ever changing AC! Needs to be in the original issue!

[2017-03-01 18:28] kierachell commented on #836
Waiting for https://github.com/department-of-veterans-affairs/caseflow/pull/1020 to merge to validate this properly.

[2017-03-01 18:40] kierachell commented on #1004
**PASSED**
![peek 2017-03-01 13-35](https://cloud.githubusercontent.com/assets/18075411/23475130/85cfd906-fe84-11e6-907d-48bdf25889a5.gif)

[2017-03-01 18:40] #1004 closed

[2017-03-01 18:56] astewarttistatech commented on #610
**PASSED**

Validated in: UAT

Steps to validate:
1. Go to Caseflow and enable the certify appeal role from the functions page
2. Access a new form 8 page, https://certification.cf.uat.ds.va.gov/certifications/new/2765723
3. Scroll down and validate that information is being pre-populated from VACOLS.

Screenshots:
<img width="1085" alt="screen shot 2017-03-01 at 1 51 11 pm" src="https://cloud.git

[2017-03-01 18:56] #610 closed

[2017-03-01 19:40] sharonwarner commented on #1051
I wasn't able to reproduce this. It looks like users are completing tasks correctly.

[2017-03-01 20:44] astewarttistatech commented on #859
Failed. Text field too wide. See screenshots @sharonwarner

Environment Validated in: UAT

Steps to Recreate:
1. Go to Dispatch and set the user as being a caseworker and a manager
2. Go to establish a claim
3. View manager dashboard
4. Validate against mocks

Screenshots:
<img width="1178" alt="screen shot 2017-03-01 at 3 39 06 pm" src="https://cloud.githubusercontent.com/assets/23038505/23480434

[2017-03-01 20:46] shanear commented on #859
@lakohl can you make sure whatever decision we make here is duplicated in the styleguide?

[2017-03-01 20:48] amprokop commented on #889
Assigning this to @Chingujo—can you post an update here when you get more info from the users?

[2017-03-01 20:52] KHarshawat-gov commented on #859
@astewarttistatech This is very very wrong but we're going to pass it so Shane and I can work on it next week as a case study for the style guide. We want to make sure the style guide is meeting the needs of problems like these. Would you mind creating an issue and assigning it the "Living Style Guide Version 1" milestone?

[2017-03-01 22:03] askldjd opened #1055 "Caseflow Help images sizes are too large, and hurts performance"
The Caseflow home page is now over **1.5MB**. A significant portion of the download comes from the png files. While png files offer higher quality, it is not suitable these screenshots.

A quick batch conversion from png to jpg results in 60% reduction in size, and has very little loss in quality,

### Batch conversion using Quality = 75
[code]

### Size comparison
[code]

### 1.5 MB to load the C

[2017-03-01 23:36] kierachell commented on #946
@askldjd @tejans24 We will need to work out our migration process before this is validated. Hopefully, tomorrow afternoon after deploys.

[2017-03-02 00:10] mdbenjam opened #1058 "Fix usage of keys in React"
In many points in our code, we generate arrays of React components and assign keys to integer index values. This is a bad pattern and can cause performance errors.

http://blog.arkency.com/2014/10/react-dot-js-and-dynamic-children-why-the-keys-are-important/

[2017-03-02 01:36] kierachell commented on #1040
**PASSED**
YAAAY
![screenshot_2017-03-01_20-36-16](https://cloud.githubusercontent.com/assets/18075411/23489125/bf418326-febe-11e6-9f6d-26953b4b9870.png)
![screenshot_2017-03-01_20-36-07](https://cloud.githubusercontent.com/assets/18075411/23489126/bf46b8dc-febe-11e6-880a-af24368aa0ab.png)

[2017-03-02 01:36] #1040 closed

[2017-03-02 01:57] kierachell commented on #723
@lakohl This is still not fully implemented, but I am checking if the AC have changed since 16 days ago.
Can you update the original issue with the latest iteration of expected results - for clarity.

[2017-03-02 15:03] astewarttistatech commented on #859
No prob @KHarshawat-gov

[2017-03-02 15:12] shanear opened #1062 "Task model is very coupled to EstablishClaim"
Right now, a lot of logc inside of `Task` and `TasksController` is very coupled to `EstablishClaim`. This makes sense, because it is the only current task, but it's confusing if you expect `Task` to be more generic.

[2017-03-02 15:15] shanear commented on #913
Files like `EstablishClaim.jsx` have a lot of untested logic. Bugs like this could have been prevented/discovered:

https://github.com/department-of-veterans-affairs/caseflow/issues/1040

[2017-03-02 15:16] lakohl commented on #723
@kierachell you are too awesome! I updated the AC above for VAMC. This is good to go.

[2017-03-02 15:18] shanear opened #1063 "Record JS errors in Sentry"
Sometimes Javascript errors can break the entire application. Like this bug:

https://github.com/department-of-veterans-affairs/caseflow/issues/1040

Right now, we won't be able to know about any Javascript errors that happen in production. We should be sending them to Sentry.

[2017-03-02 15:28] shanear opened #1064 "Refactor Fakes::AppealsRepository"
We do an overwhelming amount of mocking and data setup in Fakes::AppealsRepository.

I'm noticing more and more that its very difficult to see how fake Repository data is being set up in the tests and how to correlate it with fake pSQL data. We should clean this up and make it more straightforward

# Refactors to go
- [x] Add Generators and refactor certification specs
- [x] Move data templates ou

[2017-03-02 15:53] shanear opened #1065 "`Document#file_name` and `Document#filename`: there can only be one"
`Document` has both `file_name` and `filename` methods which both do different things. This is deeply confusing and we should refactor it

[2017-03-02 16:19] #859 closed

[2017-03-02 16:22] astewarttistatech commented on #996
Any UI changes? @nemodjuric

[2017-03-02 16:23] nemodjuric commented on #996
No UI changes, just removing code.

[2017-03-02 16:26] shanear opened #1066 "Add date format where applicable"
Instead of using `strftime` we should be using `to_formatted_s` with a predefinded date format to maintain consistency.

See:
https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/views/tasks/worker_index.html.erb#L43

[2017-03-02 16:30] astewarttistatech commented on #996
**PASSED**

Steps to Validate:
1. Go to app/views/certifications/mismatched_documents.html.erb
2. Validate the removal of code per #984 and the adding of new code.

Validated locally

[2017-03-02 16:31] #996 closed

[2017-03-02 17:28] shellicious commented on #1035
![screen shot 2017-03-02 at 12 24 47 pm](https://cloud.githubusercontent.com/assets/1178390/23519022/75e579dc-ff43-11e6-931c-eb730a9c552f.png)

Updated with screenshot. Changes to be made:
- Add question mark to "Why can't this case be certified in Caseflow?"
- Indent radio button text so that text following a radio button starts to the right of the radio button
- Except for the title, "certificat

[2017-03-02 17:31] shellicious commented on #1036
The change here is to uncapitalize the word "page" on the "Refresh Page" button, so that it reads "Refresh page."

[2017-03-02 18:24] joofsh opened #1067 "Improve CreateEstablishClaimTasksJob date mechanism"
Since we are now using TIOCTIME, we should use a more sophisticated mechanism for tracking the last full grant dated used.

Consider storing the time the job is run in Redis. Then, on next job run, check Redis for the previous time the job was run and date scope the full grant queries to that. This will improve speed/efficiency without losing any appeals.

[2017-03-02 19:36] shanear commented on #1051
We investigated the data and everything looks ok and this appears to be because of a misunderstanding.

[2017-03-02 19:36] #1051 closed

[2017-03-02 22:10] Chingujo commented on #889
@amprokop see below from our quick sync
cc: @shellicious for context and to clarify

Talking with New York City RO, this box should be checked ready along with video when relevant before they can be dispatched to the BVAs. Will update after more user testing.

[2017-03-02 22:23] amprokop commented on #889
This message confuses me, I'd love a brief explainer of something that seems like it might be inconsistent.

This message from Jed (emphasis mine):
```No need to worry about any of the other fields, the ROs don’t schedule Central Office hearings so they can’t mark those as ready. **RO Travel Boards and Video TBs both have the same BFHR which is ‘2’***. So to simplify: If (BRIEFF.BFHR=2) then (BRIE

[2017-03-03 03:11] Sjones352 commented on #1030
I still need to align these videos, align Training videos to the horizontal line and add a scroll bar too.

<img width="1280" alt="screen shot 2017-03-02 at 10 07 44 pm" src="https://cloud.githubusercontent.com/assets/23080951/23536695/ba8fa5ca-ff94-11e6-9dfd-e6e9446615ba.png">

[2017-03-03 13:34] shanear commented on #929
Took a look over the PR and this looks like it should be done. I'm going to move into In Validation. Correct me if I'm wrong JD

[2017-03-03 14:26] kierachell commented on #911
**PASSED***
functionality confirmed for full grants.

[2017-03-03 14:26] #911 closed

[2017-03-03 14:26] shanear commented on #1019
@tejans24 this is really similar to #1018, I'm going to assign it to you cause you may be able to do both in one swoop.

[2017-03-03 14:34] shanear opened #1069 "Move EstablishClaimController.total_assigned_issues logic to model and add unit tests"
see comments here: https://github.com/department-of-veterans-affairs/caseflow/pull/1053#pullrequestreview-24983997

for more information.

[2017-03-03 14:51] mmlumba commented on #1025
@lakohl ,
In #868 the mocks and AC for that issue specified that both the text and the button for the Caseworker Dashboard page are placed to the right side. Would you still like both the text and the button to be on opposite sides?

[2017-03-03 15:54] shanear commented on #974
This issue is basically unsolvable:

https://github.com/department-of-veterans-affairs/dsva-vbms/issues/72#issuecomment-283987117

might be worth adding a better error message for errors we know about from VBMS.

[2017-03-03 15:54] #974 closed

[2017-03-03 15:59] kierachell commented on #946
This requires #1011 to be figured out.

[2017-03-03 20:15] mdbenjam commented on #884
Waiting on the resolution to this: https://github.com/department-of-veterans-affairs/caseflow/issues/1043 before proceeding.

[2017-03-03 20:48] astewarttistatech commented on #1045
@lakohl the header is the same from the wrong scenario but the lines are okay. Can you give some input.

Steps to Validate:
1. Go to Dispatch as a caseworker
2. Go to the Establish Claim homepage

Screenshots:
<img width="1290" alt="screen shot 2017-03-03 at 3 42 40 pm" src="https://cloud.githubusercontent.com/assets/23038505/23568533/e2199cd8-0028-11e7-8e25-321df4f64462.png">

[2017-03-03 20:50] mmlumba commented on #471
@nikitarockz @lakohl @KHarshawat The current message at the top of the issue reads:

Is it supposed to be "Something went wrong **on** our end." ?

[2017-03-03 21:00] lakohl commented on #471
@mmlumba yes! please make the adjustment. thanks.

[2017-03-03 21:05] lakohl commented on #1045
I believe the line below the button was fixed here: https://github.com/department-of-veterans-affairs/caseflow/pull/1070#event-986018796

All the lines should be color #D6D7D9

[2017-03-03 22:39] lakohl commented on #1043
New Mock for RO EP, PArtial Grants and Remands is here: https://invis.io/V8AMYN32D

[2017-03-04 01:22] kierachell commented on #868
@nikitarockz @lakohl please update AC
![lara_decree](https://cloud.githubusercontent.com/assets/18075411/23574695/254495f0-004f-11e7-8fbc-2299e9c39304.png)

[2017-03-04 17:16] askldjd commented on #1055
The compressed images.

[compressed.zip](https://github.com/department-of-veterans-affairs/caseflow/files/818790/compressed.zip)

[2017-03-05 23:39] Sjones352 commented on #1030
## Tasks To do
1.Link youtube videos to the app.
2.Adding thumbnails to the youtube videos.
3.Add a scroll to top link.
4. Show video in a modal when you click on it.

**Screenshot**
The first video is linked to youtube
<img width="1156" alt="screen shot 2017-03-05 at 6 32 11 pm" src="https://cloud.githubusercontent.com/assets/23080951/23592644/1d09b440-01d2-11e7-94aa-e1fb4fb7a9d7.png">

[2017-03-06 14:24] lakohl commented on #868
@kierachell I added the sentence case button to the AC above

[2017-03-06 15:13] kierachell opened #1075 "EP Creation | Station of Jurisdiction disappears when creating new EP for a Partial Grant with a special issue routing"
# Description
When something happens....

**Environment:**
- [ ] Production
- [X] UAT
- [ ] Demo
- [ ] Development

**Type of Bug:**
- [ ] Performance
- [X] Design
- [ ] Security
- [ ] Functional

**Severity Level:**
- [ ]    5 - Data loss, data corruption or system unavailable
- [ ]    4 - Important functionality is unavailable with no workaround
- [ ]    3 - Important functionality is unavailabl

[2017-03-06 15:26] kierachell commented on #957
Currently on `uat`:

<img width="1042" alt="screen shot 2017-03-06 at 10 15 13 am" src="https://cloud.githubusercontent.com/assets/18075411/23616240/2214515e-0257-11e7-8307-47b166bb4f94.png">

![screenshot_2017-03-06_10-25-37](https://cloud.githubusercontent.com/assets/18075411/23616281/493f2c36-0257-11e7-8d1f-b5258072b432.png)

[2017-03-06 16:07] gnakm opened #1076 "Styleguide Component | Caseflow tables"
As a designer and developer, I want to able to have tables in a living style guide with react components so I can consistently add tables across apps and easily change them when necessary.

# Acceptance Criteria
1. Verify that the title Tables appears in the living style guide
1. Verify that there is a horizontal line that creates a separate section above the table
1. Verify that the Table copy ap

[2017-03-06 16:09] gnakm commented on #1010
Copy:

Document Preview (all caps)

Caseflow often pulls documents from other systems and displays them to users so that they don’t have to use multiple applications to accomplish their work. We display these documents in a preview pane over a dark grey background to make documents (which are often mostly white) jump out. The document preview usually takes up the same width as a normal white conta

[2017-03-06 16:13] gnakm commented on #1009
**_View -  Decision Review page - Current Step Progress Indicator_**
<img width="702" alt="screen shot 2017-02-09 at 6 28 47 pm" src="https://cloud.githubusercontent.com/assets/4975959/22807569/af647e00-eef5-11e6-9263-80cd4e612fe1.png">

**_View -  EP Creation page - Current Step Progress Indicator_**
<img width="682" alt="screen shot 2017-02-09 at 6 29 03 pm" src="https://cloud.githubusercontent.

[2017-03-06 16:14] gnakm commented on #1009
@lakohl Could you add a copy title and description for the progress indicator in the style guide?

[2017-03-06 16:15] gnakm commented on #1008
<img width="386" alt="screen shot 2017-03-06 at 11 14 47 am" src="https://cloud.githubusercontent.com/assets/13420618/23618372/28a6f844-025e-11e7-95ff-4b3c47c47660.png">
<img width="388" alt="screen shot 2017-03-06 at 11 14 54 am" src="https://cloud.githubusercontent.com/assets/13420618/23618373/28a9a742-025e-11e7-8c23-778685dd5842.png">

[2017-03-06 16:26] shanear opened #1077 "Create retry loop/solid error handling for big writes"
If any part of actions like certifying an appeal, or establishing a claim fail, we should be able to capture the appropriate exception and retry.

[2017-03-06 16:27] KHarshawat-gov commented on #1008
![image](https://cloud.githubusercontent.com/assets/25437276/23618792/822db820-025f-11e7-9fd9-97ef39b2bcea.png)

![image](https://cloud.githubusercontent.com/assets/25437276/23618876/d83c463c-025f-11e7-8d7c-a0bbd33ee792.png)

[2017-03-06 16:27] shanear commented on #1011
## Outcomes
1) Start daily deploys now
2) Only backwards compatible DB changes
3) Audit certification and dispatch for big writes and create a retry mechanism for them (captured here: https://github.com/department-of-veterans-affairs/caseflow/issues/1077)

[2017-03-06 16:27] #1011 closed

[2017-03-06 16:32] gnakm commented on #1001
@lakohl @KHarshawat-gov Let's talk about this together!

[2017-03-06 16:34] KHarshawat-gov commented on #999
![image](https://cloud.githubusercontent.com/assets/25437276/23619201/e960a146-0260-11e7-8ca6-f978c5fba6a9.png)

[2017-03-06 16:42] gnakm opened #1078 "Styleguide component | Typography - Spacing"
As a developer or designer, I want a guideline for typography sizing and spacing, so that it is
consistent through every app.

## Note Note Note!
- We do NOT need to display this in the style guide. This is for the code
- We are retiring the previous h1 (44px). Please check the new heading sizes:

Display 1 - 52px (font-weight: 700)
Display 2 - 44px (font-weight: 400)
Heading 1 - 34px (font-weight

[2017-03-06 16:43] gnakm opened #1079 "Styleguide component | Colors"
As a developer and content writer, I want to see the order of how the color section and subsection will look like in the living style guide.

## Acceptance Criteria

* NOTE: due to several revisions, please refer to the approved [screenshots](https://github.com/department-of-veterans-affairs/caseflow/issues/1079#issuecomment-297414077) during validation.

- [x] Verify that there a title for Colors

[2017-03-06 16:47] gnakm opened #1080 "Styleguide component | Link button"
As a user, I want to know that a button is clickable.

As a developer and designer, I want clear and consistent actions to increase design and development efficiency across apps.

## Acceptance Criteria
1.  Verify that in the living style guide that there is a title called Link Buttons with description below For visual reference: #1138
1.  On the side navigation, Link buttons will be under Buttons

[2017-03-06 16:52] gnakm opened #1081 "Styleguide component | Searchable dropdown"
As a developer and designer, I want clear and consistent actions to increase design and development efficiency across apps. I want to know what the interaction looks like for a searchable dropdown so I know how to implement it.

# Description
The searchable dropdown has two behaviors -- an option can be picked by either clicking the arrow icon and scrolling through choices or by clicking into the

[2017-03-06 16:53] gnakm opened #1082 "Styleguide component | Date Input"
As a designer and developer, I want to quickly and consistently create date inputs for apps and understand what the interaction should look like.

# Description
The date input is currently being used in Caseflow Intake. Currently there are a couple of bugs with the. For best practices, we should always make sure that there is an example with date before the component.

[Code for date input
](https

[2017-03-06 16:56] gnakm opened #1083 "Styleguide component | Required fields"
![image](https://cloud.githubusercontent.com/assets/13420618/23620098/cb328178-0263-11e7-8aef-29ee69272bb5.png)

![image](https://cloud.githubusercontent.com/assets/13420618/23620470/00f3b5ec-0265-11e7-93a7-827098342e41.png)

[2017-03-06 16:58] KHarshawat-gov commented on #1083
Similar to the USWDS we mark fields with a “required” or “optional” label to the top fight of the form input type. Our required text has the color `secondary` as we’ve done research showing that this makes the demarcation more noticeable.

For form fields with radio buttons, checkboxes, or longer text than just a simple label, we place the required indicator immediately after the text in red (`sec

[2017-03-06 17:07] gnakm opened #1084 "Styleguide component | Banner Alerts"
As a developer and designer, I want a consistent and easy way to implement Alert Banners so users can identify if important tasks were completed correctly.

## Note
The banner alert styles are just like the ones from the USWDS except the title typeface is Source San Pro (bold). Previously, we were using Merriweather but it's not being used anywhere else across out apps.

## Acceptance Criteria

1.

[2017-03-06 17:12] gnakm opened #1085 "Styleguide component | Introduction to layouts"
As a developer, I want clear and consistent guideline for how the layout of all Caseflow apps should look like.

## Acceptance Criteria

- Verify that the description copy is below the title
- Verify that layouts has the following subsections. **_Note: These sections don't have to be completed but it's good to have the title placeholder._**
  1. Navigation bar
  1. User dropdown menu
  1. Main con

[2017-03-06 17:31] Chingujo commented on #889
More context here. @shellicious and I got a full walkthrough of a certification with Caseflow from St. Petersburg where the above comments as made. We can confirm (recorded) that the "ready" box is not being automatically checked.

The Coach was also able to confirm with her Nashville and Roanoke colleagues that this was not working on their end as well.

[2017-03-06 17:46] kierachell commented on #714
**PASSED**
Doesn't look pretty, but that's what the mocks are.

<img width="1071" alt="screen shot 2017-03-06 at 11 55 20 am" src="https://cloud.githubusercontent.com/assets/18075411/23621865/5d09ca88-026a-11e7-89c6-e912952f46fa.png">

[2017-03-06 17:46] #714 closed

[2017-03-06 18:15] gnakm opened #1086 "Styleguide component | Layout section - Navigation bar and Header"
As a designer and developer, I want to quickly and consistently create navigation bars across our apps.

# Acceptance Criteria
1. Verify that in the living style guide there is a section with the title `Navigation Bar`
1. Verify that the correct description appears below 'Navigation Bar" (see copy section)
1. Verify that the components appears below the copy (see mocks)
1. Verify that clicking on

[2017-03-06 18:17] gnakm opened #1087 "Styleguide component: Layout section - Main Content Area"
**Hex #: F9F9F9**

Copy:

Main Content Area (all caps)

The main content area is where we put all the application-specific interaction. This includes things like a Queue of tasks for the user to perform, workflow specific actions, document previews, confirmation messages, and more. The background of the main content area is `#f9f9f9`

[2017-03-06 18:20] gnakm opened #1088 "Styleguide component: Layout section - App Canvas"
Copy:

App Canvas (all caps)

Almost all of the interaction in Caseflow takes place in an App Canvas.  The content starts off with a page title and minimal instructions for what the user needs to do to complete their task on the page. It then contains any interaction that well help this to accomplish their task including forms, document previews,  tables, error messages, and more.

![image](https:

[2017-03-06 18:26] gnakm opened #1089 "Styleguide component | Layout section - Actions"
As a developer and designer, I want clear and consistent actions to implement actions across our application so users can complete tasks and move through apps more accurately.

## Acceptance Criteria

1. Verify that there is a section called `Layout` in the style guide
1. The dimensions of the white canvas on the style guide should be 708 x 37px
1. Verify that there is a section called `Actions` u

[2017-03-06 18:29] gnakm opened #1090 "Styleguide component | Layout section - Footer"
As a developer and designer, I want clear and consistent actions to increase design and development efficiency across apps.

## Acceptance Criteria

- [x] Verify that the below copy is beneath the title (see Copy below)
- [x] Verify that that the living style guide has the correct UI components (see mock)
- [x] Verify that clicking on this takes you to the right section.
- [x] On the side nav, `Fo

[2017-03-06 18:32] gnakm opened #1091 "Styleguide component | Horizontal Rule, Borders, Dividing Lines"
Story
As a developer or designer, I want to know the specs for the dividers for all of our products.

## AC
- [x] Make a subsection called "Horizontal Rule" under Layout section
- [x] Color: `grey-lighter`
- [x] 30px `margin-bottom`
- [ ] Verify that the copy is above UI component in style guide

## Mockup

![image](https://cloud.githubusercontent.com/assets/13420618/23623795/53248588-0271-11e7-8c

[2017-03-06 18:35] lakohl commented on #1009
done!

[2017-03-06 18:36] gnakm opened #1092 "Styleguide component: Queues"
Copy:

Queues (all cap)

Another common layout in Caseflow is the Queue, a list of work items for a user to take action on. Queues are shown in the standard App Canvas and are shown in tables.

A user picks the next item to work on by using an button at the top of their queue. By using this button, we can dynamically re-assign work items to other users if the user takes too long to work on an item

[2017-03-06 18:37] gnakm opened #1093 "Styleguide component | Splash page Messages"
As a developer and designer, I want to understand how messages are used and what types of messages we are using across all cashflow apps to clearly communicate task completion and errors.

# Acceptance Criteria
1. Verify that there is a title for Messages
1. Verify that the below copy is beneath the title Messages
1. Verify that there is Messages in the side nav of the style guide
1. Verify that c

[2017-03-06 18:39] gnakm opened #1094 "Styleguide component | Messages Splash page - Success Messages"
As a developer and designer, I want clear and consistent actions to implement success messages across our apps so users can confirm key tasks have been completed correctly.

## Acceptance Criteria

1.  Verify that in the living style guide `Success Messages` appears first under the Message section in the style guide.
1. Verify that the correct description appears below `Success Messages` (see copy

[2017-03-06 18:41] gnakm opened #1096 "Styleguide component | Messages Splash page - Alert Messages"
As a developer and designer, I want clear and consistent actions to create alert messages across our apps so users can know when tasks were not done correctly, when data is destroyed from canceling a claim, and so forth.

## Acceptance Criteria
1.  Verify that in the living style guide that a section called `Alert Messages`appears second after Success Messages in the style guide.
1. Verify that th

[2017-03-06 18:42] gnakm opened #1097 "Styleguide component | Messages Splash page - Status messages"
As a developer and designer, I want clear and and consistent way to show the Status of our apps to our users.

## Acceptance Criteria

1.  Verify that in the living style guide there is a section called `Status Messages`that appears last in the Messages section of the style guide.
1. Verify that the correct description appears below `Status Messages`(see copy section)
1. Verify that the components

[2017-03-06 18:57] lakohl commented on #1009
Sorry I did it in Issue: #617
Do you want me to copy and paste it above too?

[2017-03-06 19:08] gnakm opened #1099 "Styleguide component | Dashboard"
As a user, I want to be able to track the performance of an application. I want to be able to view it hourly, daily, weekly, and monthly.

As a developer and designer, I want clear and consistent guidelines for how the dashboard page for our apps should look like and be implemented.

## Acceptance Criteria

- Verify that that title of the Dashboard should always be [App name] Dashboard with the ap

[2017-03-06 19:31] kierachell commented on #929
**PASSED**
Well, it broke all my test setup scripts; and I got it fixed in `uat` so yeah!

[2017-03-06 19:31] #929 closed

[2017-03-06 19:33] lakohl opened #1100 "EP Confirmation | Partial & Remands SIC | Update checklist order"
As a Product Owner, I would like the checklist updated on the `EP Confirmation` (Assigned/Created flavors) page for Partial Grants and Remands with Special Issues for whom we create an EP so that the list reflects the proper ordering.

# Acceptance Criteria
1. Verify that the checkmarks list the following items as completed:

1. Verify the items are listed in the following order:

## Mocks

**_Vie

[2017-03-06 19:40] KHarshawat-gov opened #1101 "[WIP] Styleguide component: Short Text Input"
Sometimes we ask the user to input a very minimal amount of text like the number of employees who are working. Using the normal width of a text input would be too much so we use a short text input.

![image](https://cloud.githubusercontent.com/assets/25437276/23626380/aa25869e-027a-11e7-9f40-4e1843bce5f6.png)

_Note: Perhaps the width should be adjustable as a part of the react component? @shanear

[2017-03-06 19:41] gnakm commented on #1000
Here is each tab for active (bold), inactive (bold), disabled (regular or 500 weight).
- File name header should be white when on active tab
- Active icon should always be blue
- Inactive/ disabled text is `dark-grey`

![image](https://cloud.githubusercontent.com/assets/13420618/23626361/97fe2a20-027a-11e7-9ad2-6188da785477.png)

[2017-03-06 19:48] gnakm opened #1102 "Styleguide component: Modal copy"
Edit copy:

Modals are 490 pixels in width with 30px padding around the border and contain the following: a title, explanation text, a divider, and action buttons. There are modal-specific classes that must be included in your modal (see below code snippets). add: **Whenever possible, use a close link as the left action.**

[2017-03-06 19:50] gnakm opened #1103 "Styleguide component: Modal bug"
The modal should close when user clicks outside of box. Currently, it remains open.

![image](https://cloud.githubusercontent.com/assets/13420618/23626795/1a1746ee-027c-11e7-9f51-a57677a74f2b.png)

[2017-03-06 19:55] kierachell commented on #471
**PASSED**
validated on `uat`
<img width="1041" alt="screen shot 2017-03-06 at 2 48 50 pm" src="https://cloud.githubusercontent.com/assets/18075411/23626951/bc4c92f2-027c-11e7-901f-8c18dd287502.png">

[2017-03-06 19:55] #471 closed

[2017-03-06 20:21] amprokop opened #1104 "Preview Form 8 | Hide page and proceed to Confirmation"
As an RO Caseworker, I would like to no longer see the `Preview Form 8` page and go directly to the `Confirmation` page so that my process is streamlined since I am not using the Form 8.

# Acceptance Criteria
1. Verify that after clicking the **_Certify appeal_** button on the `Sign & Certify` page, the `Confirmation` page is displayed instead of the `Preview Form 8` page.
2. The radio buttons on

[2017-03-06 20:24] amprokop opened #1106 "Claim Details | Create new page with the header "Confirm claim details""
As an RO Caseworker, I would like the ability to provide information about the appellant's representative on a new page (`Claim Details`) with the Header "Confirm claim details" so that I can make changes if necessary.

# Acceptance Criteria
1. Verify that after clicking the **_Continue_** button on the `Check Documents` page, the new `Confirm Case Details` page is displayed.

1. Verify that on th

[2017-03-06 20:24] amprokop opened #1107 "Check Documents | Show page even on a successful documents check"
As an RO Caseworker, I would like to have the `Check Documents` page to show a successful documents check page when all the required documents are found so that I can see that all required documents have been found.

# Acceptance Criteria
1. Verify that after logging into Certification and the following required documents have been found, the successful version of the `Check Documents` page is dis

[2017-03-06 20:45] amprokop opened #1108 "SPIKE | Where does VBMS Label appear in the UI and how to find a document using the API"

[2017-03-06 20:46] amprokop opened #1109 "SPIKE | Can POA information be obtained from VBMS via API."
Investigate whether or not POA information can be obtained from VBMS via API.
Contact the VBMS team.

[2017-03-06 20:48] amprokop opened #1110 "Confirm Hearing | Check in a Form 9 to repo and display it only in local dev environments-placeholder"
As a Developer, I would like to have a fake Form 9 pdf and a fake "Statements in lieu of form 9" pdf stored in the repo that can be displayed on the `Confirm Hearing` page only in the local dev and demo environments so that we have something to work with.

# Acceptance Criteria
1. Verify that there is a filled out fake Form 9 pdf stored in the repo.
1. Verify that there is a "Statements in lieu of

[2017-03-06 20:53] amprokop opened #1111 "Confirm Details | Confirm Hearing | Fetch and display most recent document labeled "Form 9" in VBMS"
As an RO Caseworker, I would like the most recent Form 9 for the case retrieved from VBMS and displayed on the `Confirm Hearing` page so that I can validate its contents for accuracy.

# Acceptance Criteria
1. Verify that the Form 9 with the latest date has been retrieved from VBMS.
1. Verify that the retrieved Form 9 is displayed in the Form 9 PDF section on the `Confirm Hearing` page.

## Mock(s

[2017-03-06 20:56] amprokop opened #1112 "Confirm Hearing | Ability to validate details found on Form 9"
As an RO Caseworker, I would like to confirm the details about an appellant's hearing captured in the Form 9 so that I can make sure it was filled out correctly.

Refer to https://github.com/department-of-veterans-affairs/appeals-design-research/issues/25 for the most recent mocks (seen near the bottom of the issue)

# Acceptance Criteria
1. Verify that after clicking on the **_Continue_** button

[2017-03-06 20:56] amprokop opened #1113 "Save UI selections on the Confirm Claim Details page to the DB."
Decide where this data should live— should it be in the certifications table or the form8 table? We should make DB columns, create a migration, and save the UI selections to the DB.

# Acceptance Criteria
When reloading or navigating back to `/certifications/new/123C` (relative to demo), the fields on the Confirm Case Details page should be persisted—these fields should no longer be wiped on reloa

[2017-03-06 20:57] amprokop opened #1114 "Update VACOLS with the hearing request selection on the Confirm Hearings page. [5]"
Update VACOLS based on the selection in the Confirm Hearing page.

Acceptance criteria:
- If the user has a selection for hearing on the Confirm Hearings page that is not a video hearing, after certification is complete and the user has seen the Successful Certification page, `BRIEFF.BFHR` should contain the corresponding value for that hearing choice. (DC/none/travel board).
- If the user selects

[2017-03-06 20:57] amprokop opened #1115 "Sign & Certify | Remove no longer needed questions and propagate information to PDF (formerly eForm8)"
As an RO Caseworker, I would like to have several questions removed from the `eForm 8` page so that it is more focused on my acknowledgement of reviewing the Form 9 details.

# Acceptance Criteria

- [x] 1. Verify that after the **_Continue_** button has been clicked on the `Confirm Hearing` page, the `Sign & Certify` page  (formerly `eForm 8`) is displayed.
- [x] 2. Verify that the Header and Ins

[2017-03-06 20:57] amprokop opened #1116 "Create progress bar"
Note that the current mock shows 4 steps, but at this point we want it to only show 3 steps. "Confirm Case Details" will not be in the progress bar yet since we won't have built it.

[2017-03-06 21:11] amprokop opened #1118 "[2] FeatureToggle issues"
We need to be able to run:

`FeatureToggle.enable!(:certification_v2, regional_offices: ["RO1213"])`
and have Certification v2 enabled only for RO 1213.
Then, we need to be able to run `FeatureToggle.disable!(:certification_v2, regional_offices: ["RO1213"])`
and have certification v2 **disabled** globally

[2017-03-06 21:29] nemodjuric commented on #738
@kierachell @nikitarockz  I assume this includes character counter message and the limit is 2000 as in https://github.com/department-of-veterans-affairs/caseflow-feedback/issues/103

[2017-03-06 21:48] kierachell commented on #1103
There's an old #680 issue for this.

[2017-03-06 23:14] shellicious commented on #1110
@amprokop what does ditching the rails PDF viewer mean? Assuming it's to display the PDF without all the bells and whistles of the current PDF viewer? if so, I 👍

[2017-03-06 23:43] #1075 closed

[2017-03-07 04:39] mmlumba commented on #1009
@lakohl can you add the title/description in a comment on this ticket?

[2017-03-07 12:54] slj commented on #711
1. Verify that after clicking Establish next claim button on the Caseworker Home page, a loading indicator is displayed while the system loads the Decision Review page.  **NEW Component needed**

2. Verify that after clicking Route claim button on the Decision Review page, a loading indicator is displayed while the system loads the Route Claim page. **Clicking the button changes the client state s

[2017-03-07 13:45] shanear commented on #1108
We call label "type" sometimes in the code:

See `Appeal#documents_with_type`:
https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/appeal.rb#L226

This function gets all documents with the label passed.

[2017-03-07 13:52] shanear commented on #1109
You can get it from BGS, I've actually done this before. It's a tad tricky but I can help show you how it's done.

[2017-03-07 13:58] shanear commented on #1116
Is this a duplicate of: https://github.com/department-of-veterans-affairs/caseflow/issues/835?

[2017-03-07 14:03] amprokop commented on #1109
ok word!

[2017-03-07 14:32] lakohl commented on #1009
I think I'm not understanding what you need. IT seems to be something other than the AC in in #617. Can you elaborate?

[2017-03-07 14:34] Sjones352 commented on #1030
## Tasks

[ ]  show video in a modal when you click on it.

**Screenshot**
<img width="1280" alt="screen shot 2017-03-07 at 9 27 45 am" src="https://cloud.githubusercontent.com/assets/23080951/23660791/92d99fc2-0318-11e7-9753-d903a91da014.png">

[2017-03-07 14:37] gnakm commented on #1009
@lakohl We're adding a little description next to ever UI component and we were wondering if you could put one together for the Progress Indicator.

The title would be `Progress Indicator` and we need a mini description of it's purpose!

![image](https://cloud.githubusercontent.com/assets/13420618/23661060/78bdec0a-0319-11e7-836d-a63636c73ce4.png)

[2017-03-07 14:40] lakohl commented on #711
@slj I'll take a look at this shortly.

[2017-03-07 14:43] lakohl commented on #1009
Gotcha, sorry for the confusion!

[2017-03-07 16:12] amprokop commented on #1116
yep, closing

[2017-03-07 16:12] #1116 closed

[2017-03-07 17:24] lakohl opened #1124 "Route Claim | VACOLS Note | Replace numbered list with lettered list"
As Product Owner, I would like to replace the number step labels with letters so that it reads easier and to be consistent.

# Acceptance Criteria
1 Verify that the numbered labels for the steps are replaced with letters as indicated below:

_A._ replaces _1._
_B._ replaces _2._
_C._ replaces _3._

## Mocks
**_View - Route Claim -  VACOLS Note - Current_**
![screen shot 2017-03-07 at 12 24 06 pm](

[2017-03-07 17:47] lakohl opened #1125 "Route Claim | VBMS Note | Update instructional text"
As a Caseworker, I would like to have the instructional text update on the `Route Claim - VBMS Note` page so that it provides better guidance as to what I need to do.

# Acceptance Criteria
1. Verify page title is "Route Claim: Add VBMS Note

1. Verify that the instructional text below the page title displays:

## Mock(s)
**_View - Route Claim - VBMS Note - Before_**
<img width="750" alt="screen s

[2017-03-07 17:50] lakohl commented on #1043
I just re-ordered a couple words in the 'Add VBMS Note instructions' for consistency. Mocks above are updated.

[2017-03-07 20:08] shanear commented on #1076
These tables all use the same component (there's just different stuff in the cells), so I'm just going to add one. How's that sound?

[2017-03-07 20:15] gnakm commented on #1076
I think we should have queues #1092 as a subsection under tables. Queues are build the same way but the instructions and purposes are a bit more unique. Could build two tables?

Tables:
![image](https://cloud.githubusercontent.com/assets/13420618/23675866/c599ef9a-0348-11e7-925d-12db2de27ba9.png)

Queues (under tables):
![image](https://cloud.githubusercontent.com/assets/13420618/23675886/d4adc556

[2017-03-07 20:32] shanear commented on #1076
@gnakm only issue with queues is that we don't actually implement any queues this way. We use tables to show a case workers history, but no assignment is done via the table.

[2017-03-07 21:26] kierachell commented on #1019
**PASSED**
## Full Grant
![screenshot_2017-03-07_15-48-16](https://cloud.githubusercontent.com/assets/18075411/23677295/8de7ac86-034d-11e7-926d-dfb18efc7220.png)

## Partial Grant

![screenshot_2017-03-07_16-00-44](https://cloud.githubusercontent.com/assets/18075411/23678065/879fc6c6-0350-11e7-86d2-114851ad934e.png)

## Remand
![screenshot_2017-03-07_16-14-47](https://cloud.githubusercontent.com/a

[2017-03-07 21:26] #1019 closed

[2017-03-07 21:29] kierachell commented on #868
**PASSED**
Completed some cases:
![screenshot_2017-03-07_16-27-44](https://cloud.githubusercontent.com/assets/18075411/23678688/2f15b666-0353-11e7-9f59-f4e784af1a69.png)

## BONUS:
reassigned and made myself into an overachiever.
![screenshot_2017-03-07_16-28-57](https://cloud.githubusercontent.com/assets/18075411/23678723/474a11fa-0353-11e7-93af-66ac7d52b858.png)

[2017-03-07 21:29] #868 closed

[2017-03-07 21:33] kierachell commented on #1018
**PASSED**
## Remands that turns into a Partial Grant or whatever
![screenshot_2017-03-07_16-01-00](https://cloud.githubusercontent.com/assets/18075411/23678852/b46bebc8-0353-11e7-8605-2e5207cc1da7.png)
## Full Grant
![screenshot_2017-03-07_15-48-16](https://cloud.githubusercontent.com/assets/18075411/23678884/c748a1d2-0353-11e7-9c13-20c658942ca3.png)
## Remand Remand
![screenshot_2017-03-07_16-22

[2017-03-07 21:33] #1018 closed

[2017-03-07 21:41] kierachell commented on #924
Missing link for _Return to the homepage_.
![screenshot_2017-03-07_16-37-15](https://cloud.githubusercontent.com/assets/18075411/23679043/79dbca54-0354-11e7-8cae-a5e02a8546c9.png)

[2017-03-07 22:31] slj commented on #711
1. Verify that after clicking Create End Product button on the Decision Review page, a loading Favicon is displayed while the system loads the End Product page. **WORKING NOW**
2. Verify that after clicking Cancel button on the Decision Review page, a loading Favicon is displayed while the system loads the EP Cancellation page. **Do we really need this one? This looks like another client-side tran

[2017-03-07 23:15] kierachell commented on #814
Currently there is a problem with running `CreateEstablishTaskJob` as it checks `FeatureToggle.enabled?` without passing a `user:` parameter. Which causes `FeatureToggle::UserIsRequiredError:`

[2017-03-07 23:24] shanear commented on #946
@tejans24 based on #1011, we should break the migration into 3 backwards compatible migrations, instead of one non-backwards compatible migration (ie. renaming columns)

[2017-03-07 23:31] kierachell opened #1129 "Create End Product | Partial Grant modifier out of order?"
# Description
As a Caseworker,
when I am creating a new End Product for a Partial Grant or Remand,
when there are existing End Products for Partial/Remand decisions,
when those End Products have modifiers higher than 170 (e.g. 171,175)
the new End Product I create will have a modifier of 170 and not subsequent higher modifier.

**Environment:**
- [ ] Production
- [X] UAT
- [ ] Demo
- [ ] Developme

[2017-03-08 00:32] tejans24 commented on #924
I had a quick chat with Lara about when the button is actually disabled, she said:
"Workers are allowed to work past their quota -we should not block them. The only time the button is disabled is when there are no more claims left in the overall (shared) queue"

[2017-03-08 00:35] sharonwarner commented on #924
@lakohl Should we update the messages on the completion page? Right now, if a worker has completed more tasks than they were assigned, it says 'Way to go! You have completed 10 out of the 5 cases assigned to you today. You can now establish the next claim or go back to your work history.'

[2017-03-08 01:08] sharonwarner commented on #617
@lakohl When running unit tests, I'm getting an accessibility error: 'Elements must have a contrast ratio of above 4.5:1'. It's complaining that the unactivated parts of the progress bar aren't contrasting enough with the background. Is there another color we could use for the unactivated parts?

[2017-03-08 01:41] kierachell commented on #1041
**PASSED**
Checked via console in `uat` by calling the job repeatedly and clearing out the cache.

[2017-03-08 01:41] #1041 closed

[2017-03-08 13:43] lakohl commented on #711
@slj You are correct re: Cancel. It is not be a button, but rather a link, and should not require the loading favicon.
Are you testing in prod? I'm asking cause we've observed that it can be significantly slower. I would set a rule that the loading favicon appears after 2? secs. If the next page displays before that we don't have to show the loading favicon, but it should exist for slow days.

[2017-03-08 13:44] lakohl commented on #1129
@abbyraskin the above sounds right, but can you confirm?

[2017-03-08 13:46] lakohl commented on #617
Gotcha. We suspected this might be the case. Can you use what exists for now and we will update the colors by the end of the week. @gnakm do you want to take a stab at this?

[2017-03-08 13:50] lakohl commented on #924
@sharonwarner good call. @avrildavid do you want to take a stab at some copy for this?This is a scenario when users have completed all the cases in their individual queue but can (and may want to)  work additional cases. We should let them know they have completed all that is assigned to them for the day, but also make it clear they can continue working claims if they like.

For context, we're tal

[2017-03-08 14:29] avrildavid commented on #924
@lakohl -

“Way to go! You have completed all of the total cases assigned to you today. You can now go back to your work history or establish an additional claim if you’d like.”

[2017-03-08 14:51] abbyraskin commented on #1129
@lakohl @kierachell looks good to me too.

[2017-03-08 15:00] astewarttistatech commented on #1045
**PASSED**

Validated in: UAT

Steps to Validate:
1. Go to Dispatch as a caseworker, once a few EPs have been created.
2. Validate work history lines width as well as color in inspector.

Screenshots:
<img width="1363" alt="screen shot 2017-03-08 at 9 58 26 am" src="https://cloud.githubusercontent.com/assets/23038505/23709031/10adcc5c-03e6-11e7-8509-b73d701dfb99.png">

[2017-03-08 15:00] #1045 closed

[2017-03-08 16:32] Chingujo commented on #617
Some mock variants based on the contrast test results @gnakm @lakohl @KHarshawat

<img width="590" alt="screen shot 2017-03-08 at 11 30 28 am" src="https://cloud.githubusercontent.com/assets/23316107/23713084/c5f60726-03f2-11e7-8f35-2b55ce4427bb.png">

[2017-03-08 16:37] gnakm commented on #617
I vote the 3rd, the one in canvas with blue and grey. I think the progress bar pops more and there is more contrast between blue, grey and white.

What color will `3. Confirmation` be? I think as long as the color of that text passes the color contrast checker, we're good.

[2017-03-08 17:25] lakohl commented on #924
@avrildavid Thanks! Looks good. @sharonwarner you can use what Avril wrote above.

[2017-03-08 18:08] Chingujo commented on #617
Good call. If we darken the color to "gray" instead of "light-gray" which  passes the test (the next color up) it passes the contrast. Here is what it would like it.

For reference here is the link: http://webaim.org/resources/contrastchecker/. Thanks @gnakm for this =D

<img width="766" alt="screen shot 2017-03-08 at 12 04 13 pm" src="https://cloud.githubusercontent.com/assets/23316107/23717023/3

[2017-03-08 18:16] kierachell commented on #738
**PASSED**
spacing between the fields could be better, but will wait for directions from designers.
![cancelcert](https://cloud.githubusercontent.com/assets/18075411/23717301/4733344a-0401-11e7-806c-f43e850ac3bd.gif)

[2017-03-08 18:16] #738 closed

[2017-03-08 19:45] gnakm commented on #1076
@shanear Gotcha. We should still show all 3 tables. They're all references to show how tables can be used. Going back to your comment, we should not add a queue section.

[2017-03-08 19:47] gnakm commented on #1092
Closing this because we will add the above mock as an example as a table in the table section.

[2017-03-08 19:47] #1092 closed

[2017-03-08 20:01] slj commented on #1001
Styleguide example is in place, but code still needs to go in commons

[2017-03-08 20:18] kierachell commented on #1102
**PASSED**
looks good
![screenshot_2017-03-08_14-50-19](https://cloud.githubusercontent.com/assets/18075411/23721065/a038e398-040e-11e7-807b-b177dd689719.png)

## bonus feature:
![screenshot_2017-03-08_14-41-23](https://cloud.githubusercontent.com/assets/18075411/23721082/aef6a384-040e-11e7-92e8-8dbf775f7f08.png)

[2017-03-08 20:18] #1102 closed

[2017-03-08 20:24] gnakm commented on #1002
The side nav will be outside the canvas so that it is sticky and canvas is the only thing scrolling. Also ignore all the white space below.

For v1. we won't have _branding,_ _typography_ and _colors_ ready.

![side nav closed](https://cloud.githubusercontent.com/assets/13420618/23722404/3dfb4ef0-0413-11e7-89d3-78b5e5f43f6d.png)

![side nav open](https://cloud.githubusercontent.com/assets/13420618

[2017-03-08 20:30] gnakm commented on #1099
Please ignore the graphs. They are inaccurate.

![dash](https://cloud.githubusercontent.com/assets/13420618/23722637/255a87c0-0414-11e7-9f4c-c40c12a44ea1.png)

[2017-03-08 20:38] gnakm opened #1133 "Styleguide component | Button for source code"
As a developer, I want to have a link to the usage examples of the components in the style guide.

## Acceptance Criteria
- Validate that for each Styleguide section, there is a link in the top right to the source code file (ie: StyleGuideTables.jsx) in Github (see mocks below)
- Bonus Points for a github emoji in the link

## Technical Notes
- We may want to autogenerate this link in a Styleguide

[2017-03-08 22:47] nikitarockz commented on #1092
@gnakm So, was this issue actually implement by the engineering team?

[2017-03-08 23:11] nikitarockz commented on #924
## Acceptance Criteria Updated

@lakohl @sharonwarner @tejans24 @avrildavid
All of you bring up a good point.  I have updated the ACs to reflect these changes.  I would like to point out that there are actually 4 scenarios:

1. Goal not met and more items in the queue.
1. Goal met and more items in the queue.
1. Goal not met and no items remaining in the queue.
1 Goal met and no items remaining in

[2017-03-09 14:04] kierachell commented on #723
Currently not working on `uat`:

Not seeing location change in VACOLS for _VAMC_ or _National Cemetery_

[code]

<img width="1037" alt="screen shot 2017-03-09 at 8 58 46 am" src="https://cloud.githubusercontent.com/assets/18075411/23753366/352979fc-04a7-11e7-96c0-9fbbf14a164a.png">

[2017-03-09 14:09] kierachell commented on #884
Same issue as #723:
[code]
UI is lame, though: @lakohl I see no clear mocks for this page, please update:
<img width="1012" alt="screen shot 2017-03-09 at 9 07 52 am" src="https://cloud.githubusercontent.com/assets/18075411/23753580/073eb498-04a8-11e7-895a-234a76acc60e.png">

[2017-03-09 14:23] kierachell commented on #884
Same issue as #723:
## Cloudwatch Log:
[code]
## Sentry: https://10.236.66.247/sentry/caseflow-uat/issues/114/
UI is lame, though: @lakohl I see no clear mocks for this page, please update:
<img width="1012" alt="screen shot 2017-03-09 at 9 07 52 am" src="https://cloud.githubusercontent.com/assets/18075411/23753580/073eb498-04a8-11e7-895a-234a76acc60e.png">

[2017-03-09 14:26] nikitarockz commented on #1035
@shellicious I added a screen shot of the current Cancellation modal and the issue about certification being  capitalized outside of the title isn't present.  Are you saying that in the last sentence add the phrase "Caseflow certification"?

[2017-03-09 14:35] astewarttistatech commented on #976
wrong color @mdbenjam

Validated in: UAT

Steps to Validate:
1. As a caseworker, go to dispatch and start the process to establish a claim
2. As the Review Decision page loads, where the decision document is loading, the large favicon appears.
3. Verify the favicon matches what is intended in the mocks.

Screenshots:
<img width="785" alt="screen shot 2017-03-09 at 9 32 38 am" src="https://cloud.gi

[2017-03-09 14:41] gnakm commented on #1092
@nikitarockz I chatted with Kavi and we decided to take this component out of the styleguide and have it under the tables section instead #1076

@mmlumba @slj I should have checked with you guys first to make sure you didn't start on this.

[2017-03-09 15:26] mdbenjam opened #1137 "Log User Role"
We believe that the CSS user role for managers is Manage Claim Establishme. Which won't match our Manage Claim Establishment. To confirm this, we'll log the user role every time a user is sent to the unauthorized screen.

[2017-03-09 15:27] mdbenjam commented on #1081
Before anyone works on this, chat with me. I started doing something like this a while ago, and can provide my code as a starting point.

[2017-03-09 15:31] gnakm opened #1138 "Styleguide | Layout UI Tweaks"
As an engineer, I need to know the specs of the layout of Caseflow commons :)

## Acceptance Criteria

- When user clicks on a component on the menu, the section should jump to the top.
- Add source code button next to each title
- Verify that titles are `h1
- Verify that subtitles for sub sections are `h3`
- Verify that body copies are `p`'s

## Mockups

![image](https://cloud.githubusercontent.c

[2017-03-09 15:36] joofsh commented on #1077
@shanear Do you have a vision for what this would look like?

One of the benefits of the new EP form / review page split is that each page's submit is doing less on the backend, so I don't know if this is really needed anymore for Dispatch (at least in its current variant), but would certainly still be good long-term for other features

[2017-03-09 16:01] shanear commented on #1077
Yeah, maybe the first step here is to audit any complex transactions and see whether something like this is necessary. I'm not sure if it is or not because I haven't investigated it deeply.

If not, we can punt for now.

[2017-03-09 16:05] shanear commented on #1129
I believe this is intended functionality

[2017-03-09 16:18] shanear commented on #814
This worked, I talked with @aroltsch about making a tweak to the feature flag functionality.

[2017-03-09 16:18] #814 closed

[2017-03-09 16:43] joofsh commented on #1077
Initial thoughts:
- Break a given transaction down into the smallest atomic units (e.g. single VBMS request, single VACOLS insert query)
- Create a sidekiq job for each of these atomic units. When necessary, ensure the jobs are sequentially linked (the first must pass before the next begins execution)

[2017-03-09 16:49] joofsh commented on #1067
After discussion with shane, neither of us see the value added from making this change. It doesn't solve a real need atm.  Closing for now

[2017-03-09 16:49] #1067 closed

[2017-03-09 17:09] mmlumba commented on #1133
@gnakm can you send me the logo via slack?

[2017-03-09 17:14] kierachell commented on #894
**PASSED**

Validated on `uat` with 4 different cases/types/SICs.
![remandnote](https://cloud.githubusercontent.com/assets/18075411/23761726/c1c480e0-04c1-11e7-855d-c96948f0d647.gif)

[2017-03-09 17:14] #894 closed

[2017-03-09 17:15] kierachell commented on #884
**PASSED**

validated on `uat`
![partialnote](https://cloud.githubusercontent.com/assets/18075411/23761777/eef92c46-04c1-11e7-9886-1ec60d37495d.gif)
![remandnote](https://cloud.githubusercontent.com/assets/18075411/23761778/ef2a6996-04c1-11e7-91b3-ded622ea248d.gif)

all specified SIC work with Note and Location updated in VACOLS

[2017-03-09 17:15] #884 closed

[2017-03-09 17:15] kierachell commented on #723
**PASSED**
works on `uat`;

there's a couple of UI issues that will be generated from this

[2017-03-09 17:15] #723 closed

[2017-03-09 17:22] kierachell commented on #957
**PASSED**
validated on `uat`

<img width="1065" alt="screen shot 2017-03-09 at 12 20 36 pm" src="https://cloud.githubusercontent.com/assets/18075411/23762087/fc4896f6-04c2-11e7-9c74-6839c316ac6d.png">

going to make a separate *Back to Decision Review* link issue

[2017-03-09 17:22] #957 closed

[2017-03-09 18:42] shanear opened #1141 "Fix boot up lag when booting up locally"
The first request when booting up `rails s` locally seems to take 15 seconds to process the first request. This is sort of annoying, and we should look into the cause and try to remove it.

[2017-03-09 18:46] shanear opened #1142 "Assess url pattern for API endpoints"
We have a handful of JSON API endpoints for the establish claim flow. Right now we sort of just add them as needed in whatever controller that seems right.

We should reassess where these API endpoints should go, and if we should try and make them more widely available.

[2017-03-09 18:49] shanear opened #1143 "Refactor and add tests for all special issues"
Right now, there is some janky logic to convert DB keys for the special issues into the proper react names. (see: https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/app/containers/EstablishClaimPage/EstablishClaim.jsx#L119)

This almost caused us to mess up some of our special issues in a story. We should make this a lot cleaner and better tested.

[2017-03-09 18:53] lakohl opened #1144 "Confirmation | Congratulations | Add more information about the Established Claim"
As a Product Owner, I would like to have the all of the Congratulation `Confirmation` pages' title, subtext, checklist, and action button subtext updated so that they describe in better detail all of the actions that have occurred during processing the claim.

# Acceptance Criteria
1. Verify that the title has been changed to "Success!".
1. Verify that the header subtext displays the following:

Y

[2017-03-09 18:54] lakohl commented on #1144
will add mock and define AC

[2017-03-09 19:01] lakohl opened #1146 "Adjust footer position"
Footer should be lower than it currently is and consistent in it's positioning.

## **AC**
Footer should start 150px from the lowest element on the page.

[2017-03-09 19:07] Chingujo commented on #617
@gnakm @lakohl

# Progress Bar:

- [ ] All text color is 5B616B
  - Bold for completed steps and regular weight for future steps
- [ ] Completed Bar Color is 5B616B and to be completed is AEB0B5

<img width="586" alt="screen shot 2017-03-09 at 2 03 34 pm" src="https://cloud.githubusercontent.com/assets/23316107/23766017/400a709a-04d1-11e7-8dfb-e0a2a91419a5.png">

[2017-03-09 19:08] shanear opened #1147 "Remove unsupported special issue modal code"
There's a bunch of code related to cancelling unsupported special issues. With new features, like the email page, and VACOLS routing, we don't actually display that modal anymore.

We should delete any code that relates to it:
see: https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/app/containers/EstablishClaimPage/EstablishClaimDecision.jsx#L355

[2017-03-09 19:09] shanear opened #1148 "Linters are running twice in CI"
Linters are running twice in CI. We only need them to run once :smile:

[2017-03-09 19:11] shanear opened #1149 "Use either underscores or hyphens to seperate urls"
Right now in our URLs, we use underscores sometimes:

`https://appeals.cf.ds.va.gov/admin/establish_claim`

and hyphens sometimes:

`https://appeals.cf.ds.va.gov/dispatch/missing-decision`

We should pick a convention and stick with it. I think underscores might work better with the Rails magic, but might be good to investigate.

[2017-03-09 19:13] shanear opened #1150 "Remove history from react unit tests"
Our React unit tests are getting causing the browser history to do weird things during the tests. We should find a solution to be able to unit test our React business logic without involving the browser history.

see: https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/app/containers/EstablishClaimPage/EstablishClaim.jsx#L166

[2017-03-09 19:15] shanear opened #1151 "Investigate state machine restrictions"
We could be more restrictive with our Task state machine transitions which would prevent developers from doing state transitions on the back end that are not allowed.

I'm thinking testing should ensure that we don't mess up state transitions, but I'm open to the idea that this is an extra safeguard to ensure data integrity.

[2017-03-09 19:51] nemodjuric commented on #910
@kierachell
app/helpers/application_helper.rb:132:in `current_ga_path'
Rails recognize_path was causing RoutingError inside of application_helper current_ga_path method. recognize_path was missing method parameter which would allow him to recognize 'POST' requests.

[2017-03-09 20:12] gnakm commented on #1035
@nikitarockz Chiming in here. Could you show me the screen shot that you added?

I think Shelly's mock and 3rd change statement are aligned. I don't think she added anything but changed the capitalization in the body copy. I broke it down in this image:

![image](https://cloud.githubusercontent.com/assets/13420618/23768596/97ceb558-04da-11e7-933d-8010cc09175c.png)

[2017-03-09 22:09] shellicious commented on #1035
thank you for chiming in, @gnakm! Yes, that is what I originally meant. :)

[2017-03-10 15:04] kierachell commented on #968
**PASSED**
Ran a stress test during a deploy; did not see errors

[2017-03-10 15:04] #968 closed

[2017-03-10 18:35] gnakm commented on #1076
@shanear let's show 2 tables. I added a description for queues.

# Tables

We use tables to display information across Caseflow. For aesthetic purposes, tables in Caseflow are borderless. Table headings should be bold but with a white background.

Often tables will contain an primary action a user can take on the table item. These actions should always be placed in the right most column of the tab

[2017-03-10 19:02] astewarttistatech commented on #924
**PASSED**

Tested in: UAT

Steps to Validate:
1. Log into Dispatch as a caseworker
2. Establish a claim
3. Validate the messages on the success page.

Screenshot:
<img width="1377" alt="screen shot 2017-03-10 at 10 23 20 am" src="https://cloud.githubusercontent.com/assets/23038505/23809073/36436746-059a-11e7-942e-0645f0ac490a.png">

[2017-03-10 20:12] mdbenjam commented on #976
@nikitarockz What color is this indicator supposed to be? If it's purple I'll need color values. I also think we should keep this consistent. The button loading symbol is always blue, and I just used the same one here.

[2017-03-10 20:33] #924 closed

[2017-03-10 21:15] astewarttistatech commented on #617
**PASSED**

Validated in: UAT

Steps to Validate:
1. Go to Dispatch as a caseworker and go through the steps of creating an EP
2. Validate that Review Decision, Create End Product and Confirmation pages reflect the corresponding progress bar changes.

Screenshots:
![caseflow dispatch 1](https://cloud.githubusercontent.com/assets/23038505/23813386/a6b82bbc-05ac-11e7-956e-fc9b8ffea753.png)
<img widt

[2017-03-10 21:15] #617 closed

[2017-03-10 21:36] lakohl opened #1160 "Route Claim | Hide ROJ routing notificaiton"
As a Caseworker, I only want to see the ROJ information on the `Route Claim - VACOLS Update` page when the ROJ is required to be updated so that I am not confused.

# Acceptance Criteria
1. Verify that when the ROJ is not changed, the ROJ update is not updated.
1. Verify that when the ROJ is not changed, the field _"Changed to ROJ"_ (item C.) is always hidden and not displayed.

## **Mocks**
_**Sp

[2017-03-10 21:43] lakohl commented on #1144
Review language

[2017-03-10 21:59] lakohl commented on #720
this seems like a duplicate and we have already built this.

[2017-03-11 01:40] lakohl opened #1162 "Review Decision | Second line of Special Issue names not aligned properly"
# Description
On the `Review Decision` page, the second line of Special Issue names are not aligned properly under first line.  The names should be indented and not run under the checkbox.

_Expected Results_
- When a Special Issue title spans two lines, the second line of a special issue title is indented to start directly under the first letter of the first line.

**Environment:**
- [x] Producti

[2017-03-11 02:29] lakohl commented on #1125
The title may not need updating. May already be right.

[2017-03-11 03:37] kierachell commented on #821
**PASSED** 💯
<img width="1005" alt="screen shot 2017-03-10 at 10 36 43 pm" src="https://cloud.githubusercontent.com/assets/18075411/23820221/22dd936e-05e2-11e7-8431-5c5722e727c8.png">

[2017-03-11 03:37] #821 closed

[2017-03-13 12:18] nikitarockz commented on #1104
### Original Comment

Context: we're removing the Form 8 preview page in certification v2 because we're phasing out the Form 8.

We want to go straight from this page:
![image](https://cloud.githubusercontent.com/assets/3781835/23626752/fe8abf0a-027b-11e7-9325-8db7382fb08a.png)
to this page:
![image](https://cloud.githubusercontent.com/assets/3781835/23626778/0b060122-027c-11e7-9f72-dc97f232d53a.p

[2017-03-13 12:56] lakohl opened #1167 "Manager Dashboard (ARC) | Update UI"
As an ARC Manager, I would like to change the layout of several items on the `Manager Dashboard` page so that the page is more consistent with the Caseflow style guide.

# Acceptance Criteria
1. Verify that the label "x out of y cases completed today" is right aligned.
1. Verify that the label "Number of people" above the number field is removed.
1. Verify that the [number of people] field is an "

[2017-03-13 13:01] nikitarockz commented on #1115
We basically want to remove a lot of the inputs from the form 8 page, while continuing to fetch the information associated with those inputs from VACOLS and send them to the Form 8 PDF.
![image](https://cloud.githubusercontent.com/assets/3781835/23631334/1ab2aeb2-028c-11e7-8060-9873f6f99cfc.png)

[2017-03-13 13:19] kierachell commented on #889
# FIRST OF ALL:

Form 8 is not being updated properly.
![form8hearing](https://cloud.githubusercontent.com/assets/18075411/23855723/3772cc30-07cd-11e7-9c16-1997c31f7927.gif)
The checkboxes are not updating Form 8 correctly; especially if you go back and forth editing the form. Just look above.

Questions *10A* and *10B* have no effect on *Form 8* or any data in VACOLS.

# Expected behavior:

When

[2017-03-13 13:26] amprokop commented on #889
[code]

This might be reasonable behavior, but it's not actually the behavior we expect here :)  Our code only updates the Ready For Hearing box to "Yes" if the data we fetched from VACOLS when starting the certification indicates the type of the hearing. The selection on the Form 8 should have no effect on VACOLS.

See the instructions I posted here:

[2017-03-13 13:30] amprokop commented on #889
cc @Chingujo

[2017-03-13 13:32] kierachell commented on #889
Yes I ran through those cases; our code does what it does;

There's still no clarity on what it is _supposed_ to do, though. So - you guys figure it out.

[2017-03-13 13:34] kierachell commented on #1129
@shanear @abbyraskin
During testing with VBMS team - I was notified that it was not the expected behavior. I need clarification.

[2017-03-13 13:39] shanear commented on #720
I believe so too. Closing.

[2017-03-13 13:39] #720 closed

[2017-03-13 13:42] lakohl commented on #889
Looping in @shellicious who is working on designs for this

[2017-03-13 13:58] Chingujo commented on #889
Gotcha. So the data is being pulled from VACOLs and not the form 8.  I looked over the recording again and the case the user certified through Caseflow did not update the ready box in VACOLs despite a hearing being requested. It might be helpful to look through the recording and the specific appeal in question to rule out user error?

[2017-03-13 14:14] amprokop commented on #889
Hmm. We should be able to reproduce this given the instructions I wrote
down, right? Shouldn't have to rely on a user video. Whatcha think?

On Mon, Mar 13, 2017 at 9:59 AM, Phillip Jo <notifications@github.com>
wrote:

[2017-03-13 14:24] lakohl commented on #976
@mmlumba @Chingujo this is in the flat style guide guide, can you guys provide a color and guidance for @mdbenjam

[2017-03-13 14:26] lakohl commented on #1025
@mmlumba mock is correct to stay consistent with Manager view styling

[2017-03-13 14:39] Chingujo commented on #889
Agreed! Just for context.

The cases you have match the flow =D.

Artem ran through them this morning and we did see an 'X' or a "yes" for the BFTBIND column when the hearing was a travel board or set to equal 2. Unfortunately, we don't know what BFTBIND column is lol T-T. Does this correspond to the "ready check box"?

[2017-03-13 14:47] Chingujo commented on #976
@mdbenjam

The loading indicator should be purple to match the color of the app. The hex value is #844E9F

[2017-03-13 14:52] joofsh commented on #1167
Note: If we are making an API request to save the value on every input change, we either need it to be throttled, *or* only on blur (worse UX tho). Both of these add a lot more complexity than the current "update" button, so just want to make sure there is a real problem to solve here.

[2017-03-13 15:29] lakohl commented on #1167
@joofsh This page should not be overly complex. What if we keep the new design and add back the update button? Something along the lines of this:
<img width="337" alt="screen shot 2017-03-13 at 11 29 26 am" src="https://cloud.githubusercontent.com/assets/4975959/23861415/5b3ed83a-07e0-11e7-947b-4e76e5b45d6e.png">

[2017-03-13 15:32] joofsh commented on #1167
That looks great to me and a lot less complex, thanks for being flexible! 👍

[2017-03-13 15:46] kierachell commented on #1160
**PASSED**
Not seeing RO in any case.

<img width="1009" alt="screen shot 2017-03-13 at 11 17 28 am" src="https://cloud.githubusercontent.com/assets/18075411/23861371/37a6d896-07e0-11e7-9108-7a1a1faadeea.png">

<img width="1024" alt="screen shot 2017-03-13 at 11 46 04 am" src="https://cloud.githubusercontent.com/assets/18075411/23862171/ba6ea860-07e2-11e7-8ba7-5058ef239dd7.png">

[2017-03-13 15:50] nikitarockz commented on #1144
# Sprint Planning Notes
Removed the following AC since ROJ is not being handled:
1. Verify that when a claim (_Partial/Remand, w/Special Issue, No EP, VACOLS Updated, ROJ Changed_) has been processed, the following checklist items are displayed (refer to View 6 Mock):

     - Reviewed [Decision Type] decision
     - VACOLS Updated: Changed Location to [location code]
     - VACOLS Updated: Added D

[2017-03-13 15:54] kierachell opened #1169 "Route Claim | Update VACOLS and VBMS | Remands/Partial Grants | Diary note text shows incorrect Decision Type"
# Description
When Routing Claim for a Remand/Partial decision type;
After selecting a Special Issue that required adding a Diary Note and/or VACOLS note;
I see that Decision Type written does not match the Decision Type for the case I am working on
*Expected behavior* to match the EP&Claim Label of the decision I am working on.

**Environment:**
- [ ] Production
- [X] UAT
- [x] Demo
- [ ] Develop

[2017-03-13 16:00] nikitarockz commented on #1106
Original Comments
Just show the header of this page. The rest of it will be built out in future tickets. This ticket is so small because we should think through how best to introduce this change, hide it behind a feature flag, and avoid creating a tangle of technical debt.

![image](https://cloud.githubusercontent.com/assets/3781835/23630925/d07bcb36-028a-11e7-8ae7-d63f5e14c575.png)

[2017-03-13 16:01] cmgiven commented on #889
See this issue for conversation with Jed: https://github.com/department-of-veterans-affairs/appeals-pm/issues/112

[2017-03-13 16:01] shanear commented on #1129
@kierachell we still think this is correct. We can chat with VBMS about this if they have an issue. Closing.

[2017-03-13 16:01] #1129 closed

[2017-03-13 16:02] amprokop commented on #889
Thanks @cmgiven! That's how I got context on this originally :)

[2017-03-13 16:03] cmgiven commented on #889
These are the codes for BFHR:

[code]

[2017-03-13 16:04] cmgiven commented on #889
@amprokop: Yeah, the issue is that we're using Hearing Action (BFHA) instead of Hearing Request (BFHR) to determine the kind of hearing that's been requested. Hearing Action is null until the hearing occurs.

[2017-03-13 16:07] amprokop commented on #889
aha. good catch

[2017-03-13 17:13] #1160 closed

[2017-03-13 17:30] nikitarockz commented on #1112
**_Original Comments_**

We need to build out the formal/informal Form 9 UI and all the buttons around it.

Full wireframes of the flow here:
https://github.com/department-of-veterans-affairs/appeals-design-research/issues/25

For now, we don't need to associate this with any fields of the DB.

[2017-03-13 17:53] shellicious commented on #889
From the St Petersburg feedback session, we saw that RO staff mark the hearing in some way that a hearing request date is filled out in VACOLS, but they leave the "ready" checkbox blank. I'm not sure where they input the hearing request date -- I can Lync a St Petersburg Coach and find out. This might relate to the actions that @cmgiven is referring to above.

Here's what it looks like:

![screen

[2017-03-13 18:06] shanear opened #1173 "Add certification cancellations to the stats page"
Now that we are recording cancellations, it would be nice to see the # of cancelled ceritifications and the reasons on the stats page or somewhere like that

[2017-03-13 18:06] shanear commented on #1100
This is a dup of https://github.com/department-of-veterans-affairs/caseflow/issues/1144. Closing

[2017-03-13 18:06] #1100 closed

[2017-03-13 18:57] astewarttistatech opened #1174 "Form 8 is still viewable w/o user role selected"
**Description:**
In UAT, logged on as any of the SSO users, the caseworker can navigate to form 8, as to certify an appeal without having had select the certify appeal user role.

**Expected:** User should have to select a user role corresponding to the function they are trying to do from the "/functions" page before being able to view user-specific pages. User should generally view an error page

[2017-03-13 19:24] aroltsch opened #1176 "Migrate Caseflow to use VBMS eFolder Service Version 1"

[2017-03-13 19:31] amprokop opened #1177 "Show Certification v2 in deployed environment for testers."
We need to show Certification v2 to testers so they can validate tickets as they get released. We could create a CertificationV2 role and trigger it on the admin page. Sync with @kierachell and @astewarttistatech to see what would be easier for them.

[2017-03-13 19:34] #1108 closed

[2017-03-13 22:57] slj commented on #1001
Move to commons will be in another sprint.

[2017-03-14 01:15] ariperez-gov commented on #1033
https://github.com/department-of-veterans-affairs/caseflow/pull/1171

[2017-03-14 01:16] ariperez-gov commented on #1033
https://github.com/department-of-veterans-affairs/caseflow/pull/1171

[2017-03-14 11:33] kierachell commented on #1177
We have a `/functions` page where you can add/remove extra roles that users have.
Previously, @nemodjuric created two versions of the "Cancel Certification" modal - one was visible to all users, the other only to "System Admin" role. It worked out pretty well. If that is easy to set up for you, then just add an extra "function" called "Certify Appeal v2" or something like that and it can be toggle

[2017-03-14 12:57] kierachell opened #1181 "Form 8 | Question 10A and 10B selection triggers incorrect display and does not update Form8"
# Description
When I fill out _required_ fields for Form 8;
When selecting Yes for questions *10A* and *10B*
Additional question shows up (Hearing on File?)
If I select _No_ for question *10A* after that, the _Hearing on File?_ question remains visible.
*Expected behaviour:* The additional questions *10B* and _Hearing on File?_ need to disappear when _No_ is selected for question *10A*
##  Additio

[2017-03-14 13:07] kierachell commented on #1066
**PASSED**
validated proper date formats in VACOLS and reports:
![screenshot_2017-03-14_09-06-52](https://cloud.githubusercontent.com/assets/18075411/23901925/a229a62a-0895-11e7-9d54-857f97891063.png)

[2017-03-14 13:07] #1066 closed

[2017-03-14 13:14] kierachell commented on #836
**PASSED**
Validated on `uat`
[code]

[2017-03-14 13:14] #836 closed

[2017-03-14 13:59] astewarttistatech commented on #791
**PASSED**

Validated in : UAT

Steps to Validate:

1. Go to all of the listed links to see if their new locations have the their corresponding stat pages
2. Visit the "/stats/" page to see there is nothing there anymore. (sparking a 404?) @sharonwarner @lakohl

Screenshots:
<img width="1373" alt="screen shot 2017-03-14 at 9 46 46 am" src="https://cloud.githubusercontent.com/assets/23038505/239040

[2017-03-14 14:19] abbyraskin opened #1182 "Browser compatibility bugs"
We observed a few browser related bugs during user testing yesterday:

## Internet Explorer
- [x] Unable to open multiple document windows
- [x] Not pulling documents from cache

## Chrome
- [x] All-text PDFs not displaying properly

Depending on how easily we can resolve IE issues, we may need to explore the possibility of piloting in Chrome or Firefox.

[2017-03-14 14:39] joofsh commented on #1147
https://github.com/department-of-veterans-affairs/caseflow/pull/1154

[2017-03-14 15:00] nicholasholtz commented on #1182
Saw the same issues in IE yesterday when using Decisions.

[2017-03-14 15:05] kierachell commented on #1148
**PASSED**
watched a bunch of recent Travis builds.
Now need to remove double brakeman :D

![screenshot_2017-03-14_11-01-18](https://cloud.githubusercontent.com/assets/18075411/23906986/115ae1de-08a6-11e7-9013-8c324ada00d9.png)
saw only those above

[2017-03-14 15:05] #1148 closed

[2017-03-14 15:38] mdbenjam commented on #976
Thanks @Chingujo. Two more questions on this ticket.
1) Is the six pointed caseflow logo cool for the loading indicator. The original mock had the four pointed symbol. But we don't have a spinning version of that.
2) Should the loading indicator on buttons also be purple for dispatch pages?

[2017-03-14 15:44] kierachell commented on #934
**PASSED**
validated on `uat`
[code]

[2017-03-14 15:44] #934 closed

[2017-03-14 15:58] kierachell commented on #910
**PASSED**
Validated on `uat`
![screenshot_2017-03-14_11-53-04](https://cloud.githubusercontent.com/assets/18075411/23909576/79cfd1dc-08ad-11e7-9e02-fd05c43aa821.png)

[2017-03-14 15:58] #910 closed

[2017-03-14 16:04] gnakm commented on #1084
For design review -
- Write specs of how it should be used
- When it is being used
- Spec template

[2017-03-14 16:44] ariperez-gov commented on #1124
@lakohl , it appears this is already live on production.

![image](https://cloud.githubusercontent.com/assets/25468798/23911643/d0e4b2ca-08b3-11e7-829d-47a05cb02f8a.png)

[2017-03-14 16:46] lakohl commented on #1124
Great!

[2017-03-14 16:47] lakohl commented on #1124
But styling is wrong... A. and B. are rendered in bold in the mocks.

[2017-03-14 16:48] gnakm commented on #1044
@lakohl Didn't we decide to add a red _Required_ note right after the checkbox message?

[2017-03-14 16:49] abbyraskin opened #1187 "Bug: Receipt Date is 1 day behind"
**Current**
The Receipt Date is behind by one day (displays receipt date as one day earlier than date in VBMS).

**Expected**
The Receipt Date should match the document's Receipt Date in VBMS.

[2017-03-14 16:54] abbyraskin opened #1188 "Documents List | Hide notes icon when there are no notes"
**Currently**
The note icon appears next to every document on the `Documents List` page.
<img width="178" alt="screen shot 2017-03-14 at 12 51 18 pm" src="https://cloud.githubusercontent.com/assets/4042181/23912092/12ba5802-08b5-11e7-8167-e4a2c71a372d.png">

**Expected**
The notes icon only appears when there is at least one note saved to a document.

[2017-03-14 16:55] lakohl commented on #1044
yup!

[2017-03-14 17:20] ariperez-gov commented on #1026
@lakohl , I made changes 1 & 2 on the attached PR.  I would like to bump 3 as it contradicts label to text box spacing on other forms across the site (see pic below).

![image](https://cloud.githubusercontent.com/assets/25468798/23913300/dc5c4190-08b8-11e7-8599-8930eaa01e93.png)

There are other issues we could also address collectively through caseflow-commons.

[2017-03-14 17:30] ariperez-gov commented on #1124
Got it, moving back to in progress to make the change.

[2017-03-14 17:32] lakohl commented on #1026
@ariperez I see your point on 3. I don't think we should start a new style. I'm trying to introduce some continuity between the label and the item(s) below it - be it a text field or checkbox. Interestingly, what's live in Certification looks a bit different spacing-wise from what's live in Dispatch.
<img width="509" alt="screen shot 2017-03-14 at 1 29 31 pm" src="https://cloud.githubusercontent.c

[2017-03-14 17:49] mdbenjam opened #1191 "Add missing document types"
Currently we only see document types for the following:

Correspondence
NOD
SOC
SSOC
VA 21-4138 Statement In Support of Claim
Form 8
Form 9
Third Party Correspondence
NOD
NOD
Form 9
BVA Decision

Any other document type is represented as other. We need to add the other types from here: https://github.com/department-of-veterans-affairs/appeals-pm/blob/master/other%20systems/VBMS/document_types.txt

[2017-03-14 18:03] gnakm commented on #1044
@nikitarockz These are the latest mocks!

**_Scenario 1 - Route Claim - Send Email - Correct size/position - Added Requirement text_**

![image](https://cloud.githubusercontent.com/assets/13420618/23915047/48839260-08be-11e7-9b48-2a385c617c25.png)

View when checkbox is selected
![image](https://cloud.githubusercontent.com/assets/13420618/23915260/f1ab4a9a-08be-11e7-80f9-0a1b9857c15f.png)

[2017-03-14 18:28] abbyraskin opened #1192 "Documents List | Add read document indicator"
**Story**
When reviewing documents, I want to know whether I've already reviewed a document or not, so I can easily keep track of progress while reviewing a long case.

**Description**
Add a column to the documents list noting whether a document has been opened. When a user opens a document and returns to the documents list page, they should see an icon next to each read document:

[screenshot]

[2017-03-14 19:09] Chingujo commented on #976
Just adding what we talked about earlier on the issue @mdbenjam and @lakohl  =D

1.) Large spinner:
- [ ] 4 point logo with Purple (#844E9F) for the large indicator
- [ ] Spin opp directions as in eFolder Express

2.) Button spinners:
- [ ] 4 point logo
- [ ] Replace the dark gray of the spinner with the dispatch color (#844E9F)

[2017-03-14 19:13] ariperez-gov commented on #1026
Understood.  I made a ticket for myself in Caseflow Commons and we can discuss further to make sure it's addressed:
https://github.com/department-of-veterans-affairs/caseflow-commons/issues/69

Pushing this forward for Approval and Validation.

[2017-03-14 19:42] mdbenjam opened #1195 "When single document is open the 'View all documents' button disappears"
We need a flag to toggle the visibility of the button. So that we can hide it only when the user opens a document in a new tab.

![screen shot 2017-03-14 at 3 42 00 pm](https://cloud.githubusercontent.com/assets/3885236/23919326/cde6057e-08cc-11e7-8045-e1352212d034.png)

[2017-03-14 19:54] abbyraskin opened #1196 "Unable to add or move comments"
**Current**
Users are inconsistently able to add notes to documents. Notes are sometimes stuck to the top of the page, or do not appear at all after writing a note. This bug was browser agnostic (I think?).

**Expected**
Users should be able to add notes to any document, and to move the note icon freely across a page after saving a note.