[2020-01-16 21:34] leikkisa commented on #13184
I agree with this. A good fix would be not trying to access ptcpnt_id on a nil response, instead of error handling. The goal of this code is to get all of the available participant_ids for a veteran with duplicate records, so we just won't get one from the nil person record.

`BGSService.new.fetch_person_by_ssn(ssn)[:ptcpnt_id]`

[2020-01-16 22:10] jcq commented on #13184
YourIT ticket created:
INC9154840

[2020-01-16 22:15] monfresh commented on #12725
This is great work! I'd love to know if there have been any updates since November. One thing I noticed is that y'all are measuring the total build runtime, which includes various setup steps, such as spinning up the environment and the pre-test steps. For better accuracy, I would recommend only looking at the RSpec portion of the build, and picking the longest time of the 5 different nodes. I'm n

[2020-01-16 22:20] ferristseng commented on #13156
See https://dsva.slack.com/archives/C2ZAMLK88/p1579210928228200 for a lot of context.

This appears to be an issue with how the timezone is configured on the server. The rails server is configured to be EST time, whereas the rails console is loading in UTC time.

[2020-01-16 23:06] leikkisa opened #13188 "Claim not found when cancelling EP"
## Description
When canceling an end product, we are getting the following response:
`{:cancel_benefit_claim_response=>{:return=>{:benefit_claim_record=>{:pre_dschrg_type_cd=>nil}, :life_cycle_record=>nil, :participant_record=>nil, :return_code=>"GUIE50004", :return_message=>"Benefit Claim not found on Corporate Database", :suspence_record=>nil}, :"@xmlns:ns2"=>"http://services.share.benefits.vba.

[2020-01-17 13:13] D-L-Ware opened #13190 "Epic: Record Before the Agency (RBA) Preparation"
## Background/context
BLUF: The Board is looking for a technology solution for the preparation of the record before the agency (RBA) in the event a Board decision is appealed to CAVC.

Background: In the event that a Board decision is appealed to CAVC OGC is currently responsible for providing the Veteran/Rep and CAVC a copy of all documents that were in VBMS at the time of the decision.  Currentl

[2020-01-17 13:48] D-L-Ware commented on #12238
I looked at the three remaining and the all had an IHP tasks opened following the appeal being dispatched.  I know of no reason why this should occur so I expect we should cancel the IHP tasks.  I am checking with the Board.

Additionally, of the three, two were assigned by the same person and the third does not list who assigned so this may be a case of user error.

[2020-01-17 16:02] jcq commented on #12053
Here's a new Sentry alert (VACOLS ID 677353):
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7089/

[2020-01-17 16:09] jcq commented on #12982
This occurred again:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7547/?referrer=webhooks_plugin

At @hschallhorn recommendation, I set Sentry to ignore that alert for a couple of months in order to give time to address this ticket.

[2020-01-17 17:50] #12940 closed

[2020-01-17 18:19] hschallhorn commented on #12982
This list of assignable users should also include acting judges (all attorneys, not all "non judges"). `AttorneyRepository.find_all_attorneys` does not solve this as it also returns all judges. We could write a new function in AttorneyRepository to solve this without pinging vacols for every user

_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[cod

[2020-01-17 18:21] hschallhorn commented on #13050
May be fixed in #13191

[2020-01-17 18:24] hschallhorn commented on #13017
PR that may have solved this: #13100
Action that can be taken by user is refreshing the page.

_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
One line copy fix.

[2020-01-17 18:29] hschallhorn commented on #13018
Timebox investigating why users have the ability to send tasks to a team that already has a task. Possibly look at the sentry alert date and time vs when the original task was created. Papertrails too!
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

[2020-01-17 18:39] hschallhorn commented on #13136
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Blarg, acting judges making votes skew high.

[2020-01-17 18:43] hschallhorn commented on #13174
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Could be a 2 because change is done in more than one place. Probably needs a test or two. We hold our ones for a true one.

[2020-01-17 18:51] hschallhorn commented on #12916
Ensure we're using these scopes in the code as well. If we don't want to change anything, add some clarification comments._[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Possible one because this may be a few lines to change. We rely on this code basically everywhere. Need to ensure we're not breaking everything. `.STATUS` appears 700+ times.

[2020-01-17 18:54] hschallhorn commented on #10840
Could leverage default_assignee to set the selected org.
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Sounds FUN! Don't know how that translates into votes, but hey. 2 because it may not be as clean as originally thought.

[2020-01-17 19:31] monfresh commented on #12725
By the way, the reason I'm interested in these developments is because I'm speaking on this subject at a Ruby conference in Paris next month: https://2020.rubyparis.org/#speakers 😄

I few more thoughts came to my mind:

I think we can all agree that the selective DB cleaning sped up the test suite. The question is, at what cost? I think the most accurate and least time-consuming way to determine i

[2020-01-17 19:34] hschallhorn commented on #12395
Time check should be AT LEAST 120 days to allow for evidence submission. Alert should be used to ensure the appeal is not stuck due to caseflow.

[2020-01-17 19:34] hschallhorn commented on #12395
@pkarman Is this still echo or is this something for delta to handle?

[2020-01-17 19:34] hschallhorn commented on #8251
@pkarman Is this still echo or is this something for delta to handle as well?

[2020-01-17 19:45] #13153 closed

[2020-01-17 20:07] pkarman commented on #12395
delta can take this on.

[2020-01-17 20:09] pkarman commented on #8251
delta can take. we have implemented some of this already in other ways but good to refer to this to make sure we have covered the same problem space.

[2020-01-17 20:37] pkarman opened #13193 "Improve error handling for BGS calls in team assignment"
There is currently no error handling for BGS::ShareError thrown on calls to `BGSService.new.get_participant_id_for_css_id_and_station_id`

This will result in unexpected UX on the client side when support is looking up users.

To replicate the problem, pass in an non-existent CSS id:

[code]

[2020-01-17 22:14] leikkisa commented on #10815
From Jane, the DOO codes (for 930s only).  We're still waiting on the 040 DOO codes.
https://dsva.slack.com/archives/CFBLH2LR4/p1579296500001400

930AMADOR            930 AMA Difference of Opinion – Rating
930AMADONR         930 AMA Difference of Opinion – NR
930DORPMC             930 PMC AMA Difference of Opinion – Rating
930DONRPMC          930 PMC AMA Difference of Opinion – NR (edited)

[2020-01-17 23:54] jcq opened #13198 "Motion to Vacate | Allow AddressMotionToVacate Task to Appear in Judge Queue"
## Description
By default, while a judge can act on an `AddressMotionToVacateTask` from the case details page, it does not show up in their queue due to existing filtering rules. We need to alter things so that these show up correctly.

## Background/context/resources
Existing Queue code filters this list to just a few specific task types instead of displaying all tasks that are assigned to a judg

[2020-01-17 23:58] jcq commented on #13198
@lomky or @hschallhorn, could one of you shed light upon the existing logic (link in tech notes above)? I can obviously just add `AddressMotionToVacateTask` to the list of allowed tasks in that filter, but I figure it's better to understand the purpose before just adding stuff willy-nilly.

[2020-01-20 06:57] msj0nes opened #13200 "Motion to Vacate | Litigation Support | Denied Dismiss"
## Background/context

#### Process / Workflow
✅ Completed       :question:  Open Question Remaining
- Litigation support team creates motion to vacate task
- Litigation support team member assigns tasks to team member
- Assigned litigation support team member (motion attorney) provides recommendation, sends case to judge [send_to_judge]
- Judge reviews recommendation/details and returns final den

[2020-01-20 07:15] msj0nes commented on #13200
# Stories

### Litigation support team creates motion to vacate task

- As a Team Lead, I need to see all of the incoming motions mail (or, motions tasks) in the Lit Support team queue so that I can distribute them to different Motions Attorneys on the team.
<br>**_Acceptance criteria:_**
All motions attorneys are added to Lit Support "team" in Caseflow ✅
- As a Team Lead, I need the ability to cr

[2020-01-20 07:42] msj0nes commented on #13200
# Litigation Support Team (Motion Attorney)
![MTVmotionsattorneyflow.gif](https://images.zenhubusercontent.com/5d080bf47b35df3ba36deb06/344abb14-92be-438e-8b67-213929e5cf23)

[2020-01-20 07:43] msj0nes commented on #13200
# Litigation Support Team
Create a task
(https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/23f013fa-280e-47fc-a2f6-6d310a4ce2dc)

[2020-01-20 08:18] msj0nes commented on #13200
# Echo Assistance

- As a Caseflow user viewing the Case Details for a veteran, the page should indicate the VLJ assigned the case.

**_Acceptance Criteria_**
The Case Details 'VLJ' section available in other Caseflow workflows should show the VLJ name, that is currently assigned to complete the

![image](https://user-images.githubusercontent.com/41164406/72709210-71b03b80-3b32-11ea-8335-a2bd4b1cc

[2020-01-21 15:47] lomky commented on #12126
No remaining work to be done on this ticket; #12902 will handle the remaining functionality split off. This ticket can either be closed (work complete), or left open to track the larger effort and closed when #12902 is completed.

[2020-01-21 16:31] #13092 closed

[2020-01-21 17:00] pkarman commented on #13135
I don't think adding the widget to the monitor app would give us any more information than what we now have in DD so closing this as implemented.

[2020-01-21 17:00] #13135 closed

[2020-01-21 17:51] pkarman commented on #12238
[code]

[code]

[code]

[2020-01-21 17:51] #12238 closed

[2020-01-21 18:58] msj0nes opened #13202 "Motion to Vacate | Denied Dismissed | New Appeal Stream For Motion to Vacate Task"
## Description

## Background/context/resources

## Technical notes

[2020-01-21 19:04] leikkisa commented on #12591
Reopening, due to there being a new instance of this

[2020-01-21 19:27] msj0nes opened #13205 "Motion to Vacate | Deny | Change Denial URL Field"
## Background/context
The URL field provided for in the motion to vacate denial flow needs to be reassessed for the reasons below.

- Motion decisions are emailed to Litigation Support
- Users during UAT did not understand the 'URL' being referred to in workflow

- Litigation Support and VLJs currently do not work from a shared folder on the BVA network.

This section can be short -- even one or t

[2020-01-21 19:40] #12141 closed

[2020-01-21 19:41] carodew commented on #12126
I think if there's no more work on this ticket, my preference would be to close it, since we're tracking the larger effort anyway via #12095. Then I can tell the Section 508 office that this one is complete. :)

[2020-01-21 20:28] hschallhorn opened #13207 "Cannot find issue with vacols ID: and sequence ID: in VACOLS"
[Sentry alert](http://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7034/events/latest/).

Looks like all of these were spawned from a user deleting an issue in caseflow that does not exist in VACOLS. The question is, why are we displaying issues in caseflow that do not exist in vacols?

[2020-01-21 20:59] hschallhorn commented on #12791
Sentry alerts we've been getting on this:
[Here](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7769/events/latest/)
[Here](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6988/)

[2020-01-21 21:07] monfresh commented on #12725
Here's a script that should surface any DB cleanup issues:
[code]
I've only tested this on another project that uses Postgres. I'm not sure if the Oracle table names (vftypes and issref) are correct. You can verify by running `ActiveRecord::Base.connection.tables` in the Rails console and see what the Oracle table names are.

Since all tests are run in the same order every time, in alphabetical or

[2020-01-21 21:10] hschallhorn commented on #12053
Here's another flavor of alert due to a deleted appeal in vacols: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7869/?referrer=webhooks_plugin

[2020-01-21 21:19] hschallhorn opened #13208 "Cannot read property 'disposition' of undefined"
Sentry Alerts
[Here](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7869/?query=is%3Aunresolved%20%22Cannot%20read%20property%20%27disposition%27%20of%20undefined%22)
[Here](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6352/?query=is%3Aunresolved%20%22Cannot%20read%20property%20%27disposition%27%20of%20undefined%22)
[Here](https://sentry.ds.va.go

[2020-01-21 21:34] hschallhorn commented on #12791
Opened #13208 to handle alerts related to this

[2020-01-21 22:33] pkarman commented on #12554
Background: https://github.com/department-of-veterans-affairs/appeals-data/blob/master/notebooks/intake/certification-usage.Rmd

[2020-01-21 22:36] pkarman commented on #12554
#13082 implemented this

documented in https://github.com/department-of-veterans-affairs/caseflow/wiki/Writing-DB-migrations

[2020-01-21 22:40] pkarman commented on #13046
https://github.com/department-of-veterans-affairs/caseflow/wiki/Writing-DB-migrations

implemented in #13082

[2020-01-21 22:40] #13046 closed

[2020-01-21 22:58] hschallhorn commented on #13198
😄 This got lost in my emails. This selector exists because we technically have 2 queues for judges, their "assign" queue and their "decision" queue. Their assign page lists only judge assign tasks, both legacy and ama and their decision queue holds all other tasks they can take action on (reviewing and modifying decisions). `judgeDecisionReviewTasksSelector` grabs all tasks that should be shown in

[2020-01-22 00:03] leikkisa opened #13211 "Motion to Vacate | Granted | Support multiple AMA appeal streams"
## User or job story
At the board, multiple appeal streams need to be supported in order to support post-decision motions.

## Acceptance criteria
**Docket Number**
- [ ] Create a new field on Appeal, called docket_number
- [ ] Populate docket_number when creating an appeal (at the same time as populating the receipt date), with the current format `"#{receipt_date.strftime('%y%m%d')}-#{id}"`
- [ ]

[2020-01-22 01:00] leikkisa commented on #11754
I think this got fixed incidentally in this PR, or maybe even before.
https://github.com/department-of-veterans-affairs/caseflow/pull/13061/files

I confirmed that a task is not being created with a Fiduciary HLR with only ineligible request issues.

Closing.

[2020-01-22 01:00] #11754 closed

[2020-01-22 15:21] pkarman opened #13213 "Cache notice of death on people table"
See https://github.com/department-of-veterans-affairs/dsva-vacols/issues/100

Add new column to track notice of death.

[2020-01-22 16:12] #12126 closed

[2020-01-22 17:20] nicholer opened #13215 "Email addresses for virtual hearings are editable after hearing date"
### Summary
I noticed in UAT that I'm still able to (1) edit the Veteran and POA/Representative email addresses and (2) send emails to those edited addresses _after_ the date on which the hearing occurred. It's unclear if this issue affects all virtual hearings. But I would expect that the email addresses would not be editable after the hearing date. (If the hearing was postponed and rescheduled,

[2020-01-22 17:21] hschallhorn commented on #10516
- [ ] https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/100715
[code]

[2020-01-22 17:31] hschallhorn opened #13216 "Cannot read property 'isLegacyAppeal' of undefined in SelectRemandReasonsView"
[Sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7805/?referrer=webhooks_plugin)

### To replicate
1. Sign in as an attorney
1. Start decision draft of a legacy appeal
1. Remand one of the issues
1. Cancel checkout
1. White screen of death

![ezgif-2-2a95946d649b](https://user-images.githubusercontent.com/45575454/72999718-c3c0bd80-3dcd-11ea-8000-a9a34214154a.

[2020-01-22 17:57] hschallhorn opened #13217 "Add tests for SpecialIssuesController"
As found in #13214, we don't have any controller tests for special issues

### AC
- [ ] Complete tests for the special issues controller

[2020-01-22 18:27] alisan16 commented on #12554
Based on the comment, I think this was closed on accident. Re-opening cc @pkarman

[2020-01-22 18:41] nicholer opened #13218 "Hearing type dropdown doesn't display after hearing date"
### Summary
In UAT, on the Hearing Details page for a hearing (virtual or video) that has a hearing date in the past, the Hearing Type dropdown disappears and instead reverts to a 'label' in the top section of the page. I would expect that the Hearing Type field would always remain in the same position, and the only thing that varies is whether it is enabled / disabled.

### Observed

_(screenshot

[2020-01-22 19:13] nicholer opened #13219 "Time of virtual hearing is editable after hearing date"
### Summary
I noticed in UAT that I'm still able to (1) edit the hearing time and (2) send emails _after_ the date on which the hearing occurred. I would expect that the hearing time would not be editable after the hearing date. (If the hearing was postponed and rescheduled, and therefore the hearing date was in the future, I would expect the time to be editable again.)

### Observed
_(screenshots

[2020-01-22 21:13] pshahVA commented on #13219
I thought that this may only be editable until the hearing is locked (24 hours after the hearing) however, I checked a hearing in production from a week ago and the time field is editable.  We need to investigate why this is the case.  It didn't matter until this triggered an email to be sent.

[2020-01-22 21:14] jcq commented on #13198
This makes sense. I wonder if it might make sense to refactor things a bit with the goal of being a bit more future proof, but that's not at all critical to do at the moment.

[2020-01-22 21:16] hschallhorn commented on #13211
Related! #11678

[2020-01-22 21:21] leikkisa opened #13222 "Motion to Vacate | Granted | After AddressMotionToVacate, create appeal stream if granted"
## User or job story
When the Judge addresses a motion to vacate, and it is granted, it should move onto a new appeal stream.

## Acceptance criteria
- [ ] After the AddressMotionToVacateTask, if the judge selects grant, or partial grant, create a new appeal stream
- [ ] Add the original appeal's claimants to the new appeal
- [ ] Add a RootTask
- [ ] Add a JudgeAssignTask, which is a child of Root

[2020-01-22 22:23] lomky opened #13225 "Remove begin_decision_review_phase method from JudgeAddingTask model"
## Description

Last year we changed how JudgeDecisionReviewTasks are handled, creating them independently rather than transforming the JudgeAssignTask. At the time we left the function `begin_decision_review_phase` in place to alert Sentry if we saw this still happening.

## Background/context/resources

[The code to remove](https://github.com/department-of-veterans-affairs/caseflow/blob/476f5069

[2020-01-22 22:25] #9899 closed

[2020-01-22 22:38] jcq commented on #13007
@nanotone In order to (ever-so-slightly) reduce clutter in `QueueApp`, I propose we have a single route that handles both this and #13009. We can create a container component that itself includes the two sub/child routes. Does that work with your thinking?

[2020-01-22 23:00] hschallhorn commented on #12455
I agreed with your take on what timestamps to reset. Interesting wrench from an ask from VLJ support:

[2020-01-22 23:45] #12768 closed

[2020-01-23 05:48] msj0nes commented on #13165
# OIT Consulted For Advisement
COR contacted for advisement as issue is now policy based requiring stakeholder business process changes.

**OIT Update Provided**
From:  S. Salvato (OIT)
Wednesday, January 22, 2020 9:04 AM

Details to be discussed with T. Hamilton for next steps.

[2020-01-23 13:28] pshahVA commented on #12768
@jimruggiero, this is a bug fix ticket and I've included the AC, as well as how it needs to be tested prior going to production.

[2020-01-23 13:34] caseflowsentryprod[bot] opened #13227 "RequestIssue::MissingContentionDisposition: RequestIssue::MissingContentionDisposition"
Sentry Issue: [CASEFLOW-5G5](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6647/?referrer=github_integration)

[code]

[2020-01-23 13:36] aroltsch commented on #13227
test sentry

[2020-01-23 13:36] #13227 closed

[2020-01-23 13:41] hschallhorn commented on #8275
[Colocated tasks](https://github.com/department-of-veterans-affairs/caseflow/blob/ae315032af37b69756dddd8533792ad04496c34a/app/models/tasks/colocated_task.rb#L52) are now the only tasks that override this logic

[2020-01-23 13:41] #8275 closed

[2020-01-23 14:00] hschallhorn commented on #12424
I think we should also confirm that the 'whodunnit' field in the papertrail is the actual user, not the judge

[2020-01-23 14:29] leikkisa opened #13228 "Motion to Vacate | Make draft decision URL optional"
## User or job story
As a motions attorney and a judge user, the draft decision documents are not shared through URL to shared drives. They are typically sent instead through email.

## Acceptance criteria
- [ ] Make the field for submitting a drive URL to the draft decision document optional
- [ ] Add instructions for submitting via email
  - [ ] This is on the "Send to judge" action for the Vaca

[2020-01-23 14:41] hschallhorn commented on #13130
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Could be a 2 because optimism! Echo team is pretty smart tbh. Any issue in tests will be a similar fix everywhere. May break a lot of tests.

[2020-01-23 14:41] leikkisa commented on #13222
Blocking currently until we learn whether denials/dismissals should get their own appeal stream, since in the current flow they do not get a decision document.

If they do _not_ get a new appeal stream, the contents of this ticket will be replaced by starting the new appeal stream only after AddressMotionToVacate.

[2020-01-23 14:45] hschallhorn commented on #13216
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Could be a 3 because legacy appeal madness. May have a hard time tracking down where state is losing the legacy appeal on the front end.

[2020-01-23 14:48] hschallhorn commented on #10402
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Could be a two because it may be a simple fix fingers crossed.

[2020-01-23 14:51] hschallhorn commented on #10632
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

[2020-01-23 14:56] hschallhorn commented on #12999
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7686/?query=is%3Aunresolved%20%22app%2Fqueue%2FAssignedCasesPage%20in%20full_name%22

[2020-01-23 14:58] hschallhorn commented on #12999
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Timebox this to a two as it has only occurred twice to a couple of users.

[2020-01-23 15:04] pkarman commented on #10665
The rest of these errors are are similar to those in efolder. I am going to close this ticket and open a separate ticket for each error type.

[2020-01-23 15:04] #10665 closed

[2020-01-23 15:08] hschallhorn commented on #13110
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
The way the back end code works is when we have an error on assignment, we return an error, would take a good back end refactor to return the correctly assigned tasks along with the tasks that errored out. Will also take a large front end refactor to handle both the error and the correctly assig

[2020-01-23 15:12] hschallhorn commented on #10927
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Could be a simple addition after a conditional, very straightforward. Unsure what information we have about the user on the front end.

[2020-01-23 15:18] hschallhorn commented on #10479
Ensure we are handling all formats of decision doc ids. Ensure we have the correct document url format. (Dustin).
Run through design to confirm how this should look to the user.

_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Really just building a string. Discovery for formatting and design moves this up to a 3. _Some_ people on the team ar

[2020-01-23 15:34] hschallhorn commented on #13217
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Very small controller, just testing responses for 2 functions. Controller tests take a bit longer to ensure we're _just_ testing controller functionality. Could be a three because _ugh_ code climate.

[2020-01-23 16:01] caseflowsentryprod[bot] opened #13230 "TypeError: Cannot read property 'getBoundingClientRect' of null"
Sentry Issue: [CASEFLOW-6JK](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7888/?referrer=github_integration)

[code]

[2020-01-23 16:50] caseflowsentryprod[bot] opened #13231 "Caseflow::Error::ActionForbiddenError in verify_user_can_update!"
Sentry Issue: [CASEFLOW-5KG](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6777/?referrer=github_integration)

[code]

In the last two issues both users had previously been correctly updated to their intended status. Why are users still seeing tasks they cannot perform actions on after they've successfully completed those actions?

[code]

[2020-01-23 16:53] msj0nes commented on #13200
## Remaining Work
- Appeal stream work
- Case not showing in Judges queue after 'VLJ to Litigation support #13198
- Queues (VLJ, Litigation Support) require refresh after being assigned motion task.

[2020-01-23 17:01] caseflowsentryprod[bot] opened #13232 "TypeError: Cannot read property 'description' of undefined in IntakeEdit."
Sentry Issue: [CASEFLOW-6JR](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7895/?referrer=github_integration)

[code]

[2020-01-23 17:06] caseflowsentryprod[bot] opened #13233 "Limit length of judge comments to 600 characters"
VACOLS limits the number of allowable characters in DEBMCOM to 600. We should be validating that before sumbit.

Sentry Issue: [CASEFLOW-5YD](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7177/?referrer=github_integration)

[code]

### AC
- [ ] Judges cannot submit comments longer than 600 characters

[2020-01-23 17:36] #13205 closed

[2020-01-23 17:42] leikkisa commented on #13228
Holding off, Jim is going to suggest a business process change.

Instead, we should not make this mandatory for users who don't know how to use this (in case they are still using email).

[2020-01-23 18:52] msj0nes opened #13236 "Motion to Vacate | Denied | Remove URL Field Requirement Condition"
## Description

Currently, the URL field for both the litigation support 'Review Motion to Vacate' and the VLJ (Judge) 'Address Motion to Vacate' task are mandatory to complete each workflow. We need to remove the condition until the Board acknowledges and/or establishes a process for storing denial documents. There is no current process in place to store denial documents in a BVA digital space  a

[2020-01-23 19:47] hschallhorn opened #13237 "[EPIC] View individual queues of other users"
## Background/context
There have been multiple instances where users have requested to see the queues of other users
1. As a VLJ support admin, viewing the individual queues of other team members would eliminate the need for the employee to self-report the information in their queues
1. As a DVC, supervisor, or assistant, viewing the queue of another user will allow me to act on behalf of other ju

[2020-01-23 19:50] pshahVA opened #13238 "UAT setup for usability testing for virtual hearings"
#### User Story
Setup the UAT environment to have the proper users, data, and permissions for testing in UAT with Hearing Branch users. (Usability testing is scheduled for 1/29 and 1/30)

#### Requirements
##### Data
- [x] At least 5 different hearing docket days (e.g. Mon, Tues, Wed, Thurs, Fri), one for each of the 5 test participants
- [x] Ideally the hearing docket days are for a regional offi

[2020-01-23 20:17] msj0nes opened #13240 "Duplicate Veteran Records Found | Update Error Message"
## Description
The current error message directs users to open a YourIT ticket. The correct next step is for users to contact their local regional office.<br>

From: Chi, J
Sent: Thursday, January 23, 2020 4:17 PM

**Related**
https://github.com/department-of-veterans-affairs/caseflow/issues/11742
https://github.com/department-of-veterans-affairs/caseflow/issues/12077

### Acceptance Criteria
As a

[2020-01-23 20:31] rubaiyat22 commented on #11336
Seeing these in `/hearings/schedule/assign`
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7771/?referrer=webhooks_plugin

It looks like it's being caused by 504 error code.

[2020-01-23 20:48] pkarman commented on #10516
https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/100930/parallel-runs/2?filterBy=FAILED

[code]

[2020-01-23 20:55] #13155 closed

[2020-01-23 21:11] jcq commented on #13003
@msj0nes @leikkisa
A couple of questions here:
- "Return to Motions Attorney" isn't applicable to this view, right? This is the attorney screen, prior to it getting to the judge
- Are we adding some sort of text (as noted in first AC), or is this stating that we want to leave out the context/instructions from the display (noted as "A" in the image)?

[2020-01-23 21:18] msj0nes commented on #13003
@jcq

'Return to motion attorney' is actually after the judge addresses the task, it gets returned to Lit Support (Motion Atty) . The issue is referring to the message seen below. As shown currently the radio button for 'deny' shows the message seen, however for **dismiss** it does not.

![image](https://user-images.githubusercontent.com/41164406/73024407-87a45180-3dfb-11ea-9701-780a96380306.png)

[2020-01-23 21:20] #13011 closed

[2020-01-23 21:30] jcq commented on #13003
@msj0nes I think that's actually a screen grab from the judge (`AddressMotionToVacate`) task. That is indeed the functionality in the `MTVJudgeDisposition` component. If I'm understanding correctly, we want to display that message for both `denied` and `dismissed` dispositions on the "judge address motion" view. Would it be OK if we split that off into a separate ticket since it's a different comp

[2020-01-23 21:39] msj0nes opened #13243 "Motion to Vacate | VLJ | Address Motion | Display Return to Motion Attorney Option For Dismiss"
## Description
We want to display that message for both denied and dismissed dispositions on the "judge address motion" view.

### Acceptance Criteria
- [x] Show "Return to Motions Attorney" option when "dismiss" radio button is selected

## Background/context/resources

The issue is referring to the message seen below. As shown currently the radio button for 'deny' shows the message seen, however

[2020-01-23 21:39] leikkisa commented on #13003
@jcq I'm okay with that, do you mind creating the ticket for it?

[2020-01-23 21:39] msj0nes commented on #13243
@jcq

[2020-01-23 21:40] msj0nes commented on #13003
@jcq @leikkisa just created a ticket https://github.com/department-of-veterans-affairs/caseflow/issues/13243

[2020-01-23 21:42] leikkisa commented on #13003
@jcq We want to leave the context/instructions in the display, but make it optional for granted

[2020-01-23 21:45] msj0nes commented on #13003
@jcq removed 'A' . Its aesthetic and can be dealt with later on.

[2020-01-23 21:50] jcq commented on #13003
Oh, just to be clear I was referring to the context/instructions for the *current* attorney task, not the text field for the attorney to fill out. The context/instructions for the current task are what show at the top (indicated as "A"). I agree that there likely is no reason to have them there, and likely will never exist.

[2020-01-23 22:34] jcq commented on #13243
Updated UX:

![MotionsAttorneyDisposition-updates](https://user-images.githubusercontent.com/2581274/73029965-75bbb200-3ded-11ea-955c-387f6c8f3447.gif)

[2020-01-23 22:35] jcq commented on #13003
Updated UX:

![MotionsAttorneyDisposition-updates](https://user-images.githubusercontent.com/2581274/73029965-75bbb200-3ded-11ea-955c-387f6c8f3447.gif)

[2020-01-24 00:20] jcq commented on #13243
Updated screens:

<img width="532" alt="Screen Shot 2020-01-23 at 15 28 10" src="https://user-images.githubusercontent.com/2581274/73035236-3d6fa000-3dfc-11ea-98c1-c9186dbdfdc1.png">
<img width="554" alt="Screen Shot 2020-01-23 at 15 27 52" src="https://user-images.githubusercontent.com/2581274/73035237-3d6fa000-3dfc-11ea-9888-aa0cdc801abd.png">

[2020-01-24 00:31] leikkisa commented on #13006
Closing this ticket. On the new appeal streams, this is going to be replaced with the regular JudgeAssignTask.

[2020-01-24 00:31] #13006 closed

[2020-01-24 00:34] leikkisa commented on #13069
@jcq This work is still relevant, so let's keep this ticket open until we get to the point of adding decision issues.

[2020-01-24 00:38] leikkisa commented on #10210
I am closing this ticket because for Motions to Vacate, we've learned that this will be handled through creating a new appeal stream, so there will still be a 1:1 relationship between Appeal and DecisionDocument.

[2020-01-24 00:38] #10210 closed

[2020-01-24 00:48] leikkisa commented on #13009
I am going to close this ticket, we'll be using the existing page for this.

[2020-01-24 00:48] #13009 closed

[2020-01-24 00:51] leikkisa commented on #13007
In light of the changes re: appeal streams, we won't be building a new screen for this anymore. I'm going to keep this ticket open temporarily until there's a ticket to account for the modifications to the existing screen for an attorney to review decisions.

[2020-01-24 00:53] jcq commented on #13236
Updated UI:

<img width="561" alt="Screen Shot 2020-01-23 at 16 48 14" src="https://user-images.githubusercontent.com/2581274/73036376-3fd3f900-3e00-11ea-8530-f1ce46d6fa2c.png">
<img width="535" alt="Screen Shot 2020-01-23 at 16 48 24" src="https://user-images.githubusercontent.com/2581274/73036377-3fd3f900-3e00-11ea-8e63-727daeb62663.png">

[2020-01-24 01:26] leikkisa opened #13247 "Intake | Use user station for station of jurisdiction during claim establishment"
## Description
When we establish HLR and SC claims, we set the station of jurisdiction to 499.  We've learned that this is not a viable station for routing claims.  When these claims are established by the system user, they are instead getting routed to the system user's station, 283 (Hines), which is not the correct station.

## Acceptance criteria
- [ ] Anywhere the end product establishment sta

[2020-01-24 09:07] msj0nes opened #13248 "Capability to Support ITF for Supplemental Claims"
# Background/Context
For supplemental claims that are received within a year of the initial decision, the effective date of the claim is the same as the effective date of the prior decision.  Thus, the application of Intent to File (ITF) to supplemental claims received within a year is not necessary, as it does not benefit the Veteran (the Veteran's effective date is earlier under AMA/supplemental

[2020-01-24 12:23] caseflowsentryprod[bot] opened #13249 "RequestIssue::ErrorCreatingDecisionIssue: Request Issue 736932 cannot create decision issue due to not having any matching rating issues or..."
Sentry Issue: [CASEFLOW-6F6](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7759/?referrer=github_integration)

[code]

[2020-01-24 15:49] hschallhorn commented on #10431
[Slack chatta](https://dsva.slack.com/archives/CHX8FMP28/p1579612996036300)

[2020-01-24 16:39] lomky opened #13251 "Write Task Available Actions Tech Spec"
## Description
We have found a multitude of issues and heartache around the Task model functions [`available_actions_unwrapper`](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/task.rb#L279), [`actions_available?`](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/task.rb#L288), and [`actions_allowable?`](https://github.com/departme

[2020-01-24 17:35] hschallhorn commented on #12897
[Related](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7911/?referrer=webhooks_plugin):

[2020-01-24 18:42] leikkisa opened #13252 "Legacy opt in processing bug"
## Description

A legacy issue opt-in was marked as processed, but still had a disposition of "nil" in VACOLS.

Also, the "error" column is not currently being used for legacy issue opt-ins. It'd be good to use it, or remove it as tech debt.

## Acceptance criteria
- [ ] Investigate if there's a way to confirm an opt-in was successful before marking it as processed
- [ ] Implement above
- [ ] Eith

[2020-01-24 20:20] alisan16 opened #13254 "Static appeals statistics"
As a Caseflow project lead, I need to be able to understand basic metrics about the appeals process to identify bottlenecks and inform future product strategy.

## Acceptance criteria
- [ ] Static table of where appeals (AMA and legacy) are in the process at the current point in time

Example of chart:
<img width="549" alt="Screen Shot 2020-01-24 at 1 30 44 PM" src="https://user-images.githubuserc

[2020-01-24 20:56] pkarman commented on #13254
FYI the `etl` database has Appeals status summary readily available for visualizing. Look at `ETL::Appeal.status`

[2020-01-24 20:59] alisan16 opened #13255 "Strategy for Caseflow product data and metrics tooling"
The goal of this issue is to define the internal data and metrics needs for Caseflow products and evaluate whether the current state of data is meeting those needs, ultimately producing an analytics strategy. There are a number of disparate tools and in order to better organize the information and render it usable, we need an overview of the current state. The primary audience of these data and me

[2020-01-24 22:40] rajinderbhanot commented on #13163
-- Post DMS job steps
-- APPEALS TABLE
-- drop old backup table
DROP TABLE IF EXISTS appeals_bk;
-- backup table
ALTER TABLE appeals RENAME TO appeals_bk
-- create table with distribute & sort keys
CREATE TABLE appeals(LIKE appeals_bk)
DISTKEY(appeal_id)
SORTKEY(active_appeal,decision_status_sort_key,appeal_id);
-- gather stats on table
ANALYZE appeals;

-- TASKS TABLE
-- drop old backup table
DRO

[2020-01-24 22:45] jcq opened #13257 "Investigate Form-Management Libraries"
## Description
Currently, we roll our own forms, with every component handling things differently. Some do validation, some don't; some use controlled components, some don't — there's no coherent best practices. We should look into adopting a form-management library that helps to standardize how we handle forms while reducing the burden of building form-based components.

## Background/context/res

[2020-01-25 16:33] yoomlam commented on #10516
Fixed by #13253

[2020-01-25 23:05] #13159 closed

[2020-01-27 14:24] hschallhorn commented on #13175
# [Coast Guard](https://en.wikipedia.org/wiki/United_States_Coast_Guard) sprint (Jan 27 - Feb 9) engineering priorities
@yoomlam, @ajspotts, @kevmo, @lomky, @jimruggiero , and @hschallhorn, here are the priorities for this sprint!
## Priorities
### SCM: Acting on Behalf of Others #11801
1. :star: (ALEC) Add Judge & Attorney Selectors to JudgeTeam Team Page #12433 (completion blocked by #12422)
###

[2020-01-27 15:06] kevmo opened #13261 "Document count numbers are not the same in Queue and Reader."
## Description
At least one user has reported that document counts have large discrepancies  between the Case details page in Queue, and the document count in Reader.

## Background/context/resources

VLJ user is reporting that there is a  document count discrepancy between the Case details page in Queue, and the document count in Reader. Case URL: https://appeals.cf.ds.va.gov/queue/appeals/400737

[2020-01-27 15:14] yoomlam commented on #13261
The "View 716 docs" appears on https://appeals.cf.ds.va.gov/queue/appeals/4007370, so labeling this ticket as 'echo'. Either Queue or Reader needs to update the document count.

[2020-01-27 15:15] hschallhorn opened #13262 "Fix assigned_to_location returning "Case storage" for legacy appeals"
VLJ support has reported that the "Assignee" filter in their organization table contains assignees that should not be there, such as "Case storage". This is caused by our preference to grab the assigned_to_label of an [active task over one that is on hold](https://github.com/department-of-veterans-affairs/caseflow/blob/2da86f8f58addc7c464d33967039c3e52adde58e/app/models/legacy_appeal.rb#L742).

Fo

[2020-01-27 15:18] ferristseng commented on #12968
This should be fixed now, but reopen if it pops up again

[2020-01-27 15:18] #12968 closed

[2020-01-27 15:32] hschallhorn opened #13264 "Data integrity check for legacy appeal location code"
We appear to have a few legacy appeals with open colocated tasks that do not have a "CASEFLOW" location code.

[code]

### AC
- [ ] Data integrity check for appeals being worked in caseflow without a "CASEFLOW" location code

[2020-01-27 15:42] D-L-Ware opened #13265 "Investigation: Issue Disposition Codes Exposed to Users"
## Description
Confirm what is available as a issue disposition in Caseflow and whether the available dispositions vary depending on role, i.e. attorney vs. judge.

## Background/context/resources
The Board reached out because a judge indicated that, in regard to coding an issue as dismissed, they only had access to "dismissed, death" when they case was dismissed not for death but as a matter of l

[2020-01-27 15:43] hschallhorn opened #13266 "Clean up PreRoutingFoiaColocatedTasks"
PreRoutingColocatedTasks have been plaguing users since their inception after #11113. All other types have been completed or cancelled other than `PreRoutingFoiaColocatedTask`s.

## AC
- [ ] All PreRoutingFoiaColocatedTasks are cancelled

PrivacyActTask|Solution
---|---
None|Cancel PreRoutingFoiaColocatedTasks. Create FoiaColocatedTask assigned to the privacy team with previous task instructions.

[2020-01-27 15:57] msj0nes commented on #12991
@Sjones352 is this ticket entirely complete? Can you close it if so.

[2020-01-27 15:59] msj0nes commented on #12947
@nanotone Is this issue fully complete? If so please close the ticket.

[2020-01-27 16:00] msj0nes commented on #9948
@leikkisa is this ticket ready for closure?

[2020-01-27 16:03] pkarman commented on #13163
Rather than create/re-create backup tables, could we just alter the tables in place?

[code]

[2020-01-27 16:05] Sjones352 commented on #12991
@msj0nes I removed the Intake stat code from caseflow and disabled the Dispatch/ Certification code to return 404. This was done in phases as the it was a lot of files to remove. I will remove the rest of this code this sprint.

[2020-01-27 16:07] rajinderbhanot commented on #13163
You can only DISTRIBUTE table at the time of table creation

[2020-01-27 16:13] msj0nes commented on #12289
@sally and @Sjones352 is this work fully complete?

[2020-01-27 16:14] #12947 closed

[2020-01-27 16:21] yoomlam commented on #13261
Tips from Peter: https://dsva.slack.com/archives/CHX8FMP28/p1580140720071300?thread_ts=1580136098.066200&cid=CHX8FMP28

[2020-01-27 16:27] pkarman commented on #8603
We ended up doing

via the ETL/ODS process.

[2020-01-27 16:27] #8603 closed

[2020-01-27 16:30] hschallhorn opened #13268 "Investigate tasks with type "Task" in production"
There are currently 54 tasks in production on 34 appeals with a type of "Task"
[code]

## AC
- [ ] Investigate how or why tasks without a more specific type were created
- [ ] File ticket to fix if needed

[2020-01-27 16:37] hschallhorn opened #13269 "Investigate odd mail task trees"
Found some odd task trees while investigating VLJ support issues
[code]

## AC
- [ ] Investigate how or why task trees got to this state
- [ ] File ticket to fix if needed

[2020-01-27 17:04] Sjones352 commented on #12289
@msj0nes Yes it is done

[2020-01-27 17:07] ferristseng commented on #13238
|    Day    |        RO        |
|-----------|------------------|
| 2/10/2020 | New York, NY     |
| 2/11/2020 | Montgomery, AL   |
| 2/12/2020 | Oakland, CA      |
| 2/13/2020 | Albuquerque, NM  |
| 2/14/2020 | Boise, ID        |

| ID  | CSS ID          | Name                   | Jobs Page |
|-----|-----------------|------------------------|-----------|
| 123 | CF_LAFORGE_317  | CF_LAFORGE_317 T

[2020-01-27 18:22] hschallhorn opened #13271 "Extend completed task range to a full year"
For organizations that use pagination, we can return more tasks to the front end. VLJ support would like to be able to see a full years worth of complete tasks.

## Open questions
- [ ] How will the affect performance?
   - [ ] How many tasks are we talking here?
   - [ ] Mock that many in dev and test timing/performance
- [ ] Because these tasks are no longer open, much of the information in the

[2020-01-27 18:31] hschallhorn opened #13272 "Do not reset assigned_at when task type is changed"
As detailed [here](https://github.com/department-of-veterans-affairs/caseflow/issues/12455#issuecomment-577426483), when the type of a task is changed, we should preserve the `assigned_at` timestamp of the original task. This happens in two places, in [ColocatedTasks](https://github.com/department-of-veterans-affairs/caseflow/blob/ae315032af37b69756dddd8533792ad04496c34a/app/models/tasks/colocated

[2020-01-27 19:56] ferristseng opened #13273 "Update LegacyHearing#scheduled_for to consistently pull from either VACOLS or Hearing Day"
## Description

Research whether or not `LegacyHearing#scheduled_for` could return the time from either the Hearing Day or VACOLS consistently.

## Background/context/resources

https://dsva.slack.com/archives/C3EAF3Q15/p1579903786034600

## Technical notes

Right now, `LegacyHearing#scheduled_for` is treated as an `EST` timezone time in many places. Changing it to delegate to `HearingDay#schedule

[2020-01-27 20:34] yoomlam commented on #13171
Another one: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7503/

<img width="542" alt="image" src="https://user-images.githubusercontent.com/55255674/73211521-0b1eb500-4112-11ea-8bf6-f015b7edfda7.png">

[2020-01-27 20:34] pkarman commented on #10516
- [ ] https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/101313/parallel-runs/2?filterBy=FAILED

[code]

[2020-01-27 20:42] yoomlam commented on #11336
This alert popped up twice today and reappears regularly: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7771/events/

[2020-01-27 20:43] pkarman opened #13274 "VeteranRecordRequest tasks not completed"
The https://dsva.slack.com/archives/CN3FQR4A1/p1580119232002300 `DecisionReviewTasksForInactiveAppealsChecker` daily job identifies open tasks for closed appeals. These are non-comp LOB tasks outside the usual Appeal task tree.

Several times in the last couple weeks we've seen instances where the Appeal was closed with a decision, but the record request task was left incomplete. Either (a) Voc Re

[2020-01-27 20:45] pkarman commented on #11336
Assigned this to Echo. Reader needs to be adopted. @jimruggiero @alisan16

[2020-01-27 23:46] leikkisa commented on #11787
Per this conversation with Martina, one of these EPs has been canceled and therefore is no longer causing the error. We looked into the other EP, which got cleared a long time ago. It was a Ramp Election, and the syncing process at this point was used to create the ramp issues.  The RE does already have Ramp Issues created.

I decided to update the RampElection EndProductEstablishment's synced_sta

[2020-01-28 15:26] yoomlam opened #13276 "[Sentry alert] Handle undefined property 'type' of `task` in TaskPage.jsx"
## Description

Check if `task` is null or make sure it is defined in order to fix:
`Cannot read property 'type' of undefined`
in `./app/nonComp/pages/TaskPage.jsx in render at line 42:14`

## Background/context/resources

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7995

## Technical notes

[code]

[2020-01-28 16:59] pkarman commented on #13054
[code]

`BVATCATINO` is user id `812`

There were 2 cancelled `JudgeDecisionReviewTask` tasks so I changed the later one to `completed`:

[code]

[2020-01-28 17:00] pkarman commented on #13054
@D-L-Ware if that looks correct to you, feel free to close this ticket.

[2020-01-28 17:13] pkarman commented on #3920
https://github.com/department-of-veterans-affairs/caseflow-efolder/issues/1178

[2020-01-28 17:31] yoomlam opened #13278 "[Sentry alert] Don't alert if RootTask is already on_hold or RootTask should be updated"
## Description

In `when_child_task_created`, we update the RootTask's status to `on_hold` if the task is active. We alert when the RootTask is not `active?`.

Also Peter suggested to "add logic to `when_child_task_created` to account for a safelist of child task names to actually change the root task status when it is not open."
(See this thread https://dsva.slack.com/archives/CJL810329/p15802321

[2020-01-28 18:30] #13219 closed

[2020-01-28 19:34] hschallhorn opened #13279 "Move completed AttorneyTasks to new JudgeDecisionReviewTask on reassign"
Tableau reporting and some places in our code assumes and active or completed `JudgeDecisionReviewTask` will have a child `AttorneyTask`. In many cases this is not true.

[code]

It would appear that all of these cases have a cancelled `JudgeDecisionReviewTask`, implying that these `JudgeDecisionReviewTask`s were reassigned after the `AttorneyTask` was completed. Currently, we only [move open chil

[2020-01-28 20:07] yoomlam opened #13281 "Do not offer "Assign to Team" action for BvaDispatchTask"
## Description

BvaDispatchTask should not be assigned to another team.

Also before making the fix, make error message more palatable. See https://dsva.slack.com/archives/C2ZAMLK88/p1580233586100800

Create a ticket to:

## Background/context/resources

https://dsva.slack.com/archives/C2ZAMLK88/p1580233586100800

## Technical notes

[code]

[2020-01-28 20:18] msj0nes opened #13282 "Removing Issues | Prevent Issue or Contention Removal When a Medical Exam Is Scheduled"
## Description
Caseflow should prevent users from removing contentions/issues if there is an active exam scheduled for veteran.

**[Slack Conversation](https://dsva.slack.com/archives/CFBLH2LR4/p1577475410023000)**
**[Field Data Received From BGS - Slack](https://dsva.slack.com/archives/C754H751T/p1580244763001200)**

## Acceptance Criteria
- As a Caseflow Intake user, the option to remove an issu

[2020-01-28 20:20] yoomlam commented on #13281
New error message:
<img width="1236" alt="image" src="https://user-images.githubusercontent.com/55255674/73301898-4cc66300-41d9-11ea-9997-14c1b489dcac.png">

[2020-01-28 21:03] msj0nes commented on #13282
# Update
Received information from J Dell regarding the possible BGS Service field for use.

https://dsva.slack.com/archives/C754H751T/p1580244763001200

[2020-01-28 21:17] ferristseng commented on #13238
This is done

[2020-01-28 21:17] #13238 closed

[2020-01-28 21:30] yoomlam opened #13284 "Reassess default available actions for tasks"
Prompted by #13281 "Do not offer "Assign to Team" action for BvaDispatchTask".

The default available actions for a task include "Assign to team". This allows a user to reassign their task or an org's task to another team. Some of these tasks we do not expect to be assigned to another team and our code disallows it (in the case of the BvaDispatchTask reassignment error). We should not be showing

[2020-01-28 21:32] #11933 closed

[2020-01-28 21:32] #12289 closed

[2020-01-28 21:34] #12380 closed

[2020-01-28 21:35] #12991 closed

[2020-01-28 21:44] pkarman opened #13286 "Appeals Status API with nil decision date"
Veteran id: 110169

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7763/

Raising error:
[code]

[2020-01-28 21:49] yoomlam commented on #11507
Popped up again: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6909/
(https://dsva.slack.com/archives/C4JECDLSE/p1580237538068100)
`app/controllers/sessions_controller.rb in update at line 45`
`current_user` is nil.

[2020-01-28 21:52] leikkisa commented on #12692
# Coast Guard Sprint 1/27/2020 - 2/6/2020
Engineering capacity: 100%

## Sprint status
:arrow_right_hook: Carryover: 16
:arrow_right_hook: ✅Carryover completed:
:arrow_right_hook: Remaining: 16

⭐️ Points pulled in for this sprint: 24
⭐️✅Points from this sprint completed: 6
⭐️Decided not to do:
⭐️Remaining: 18

👾Space invaders pulled in:
👾✅Space invaders completed:
👾Remaining: 0

Total to do: 41
T

[2020-01-28 21:57] leikkisa commented on #13090
Slack conversation about implementation details and questions:
https://dsva.slack.com/archives/CFBLH2LR4/p1579883108011900

[2020-01-28 22:09] yoomlam commented on #12053
Another one (VACOLS ID 715639): https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7890

[2020-01-28 22:53] hschallhorn commented on #10431
[code]
[Logs](https://console.amazonaws-us-gov.com/cloudwatch/home?region=us-gov-west-1#logEventViewer:group=dsva-appeals-certification-prod/opt/caseflow-certification/src/log/caseflow-certification.out;stream=i-0bc55680454551ff9;filter=%223a4d0a55-a209-41d5-9e9b-a6c19c4052cb%22;start=2019-12-12T16:49:00Z) for BVARSPICER attempting to access appeal 1af32f64-2814-4bce-aa6b-53d1fc8bb27d.
[code]

Loo

[2020-01-28 22:55] #12433 closed

[2020-01-28 23:06] yoomlam commented on #13278
Also consider the case where all tasks are not open (https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/8012)
[code]
Would be good to include the `child_task.id` in the error message -- What child_task was created in this appeal (can't tell by the dates)?

[2020-01-28 23:55] #13286 closed

[2020-01-29 03:44] leikkisa commented on #13222
Moved to current sprint since due to priority, but we marked it as not originally being pulled in.

[2020-01-29 04:11] leikkisa commented on #11255
I believe this ticket can be closed.

[2020-01-29 04:14] leikkisa commented on #11254
I believe this ticket can be closed.

[2020-01-29 04:16] leikkisa commented on #13202
Closing this ticket - we discovered this isn't necessary after doing some research in VACOLS

[2020-01-29 04:16] #13202 closed

[2020-01-29 04:23] leikkisa commented on #10181
It looks like this error is still happening:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7758/events/d597d70eb4574e9d8d7496c72c1ff434/

[2020-01-29 04:26] leikkisa commented on #11726
This looks like a duplicate of: https://github.com/department-of-veterans-affairs/caseflow/issues/11830, which has the same information in it (I don't see extra information in here), so closing as a dupe.

[2020-01-29 04:26] #11726 closed

[2020-01-29 04:29] leikkisa commented on #12270
Closing this ticket, as it will be handled by appeal-streams

[2020-01-29 04:29] #12270 closed

[2020-01-29 05:58] leikkisa commented on #13007
This ticket has been updated from the original scope of the ticket

[2020-01-29 06:08] leikkisa commented on #13069
The scope of this ticket has been updated to reflect adding these issues to a new appeal stream.

[2020-01-29 07:03] leikkisa commented on #13072
I am closing this ticket, I don't think we should make a second set of request issues.

[2020-01-29 07:03] #13072 closed

[2020-01-29 07:05] leikkisa commented on #13073
I think this banner might exist, but that it wasn't getting triggered at the correct time.

[2020-01-29 09:05] msj0nes opened #13291 "Manual Fix | Board Grant Effectuations | Update Issue/Contention Titles That Cannot Be Currently Edited"
## Description
**From AMO:**
Here’s an ongoing issue users have been struggling with.  Specifically, these are the claims coming over from the Board and the contentions cannot be edited.  Please see the screenshots below.

Can you have a look at this to determine why Caseflow is establishing these contentions with those specific titles?  This is something that we have raised before and we will nee

[2020-01-29 14:10] #13281 closed

[2020-01-29 14:35] #13167 closed

[2020-01-29 16:54] ferristseng opened #13292 "Upgrade rubocop dependency"
Seeing this warning when installing gems:

[code]

We are on RuboCop 0.52, so it might be worth upgrading. We do declare the `rubocop-performance` gem in the Gemfile, so maybe there's a version mismatch or something.

[2020-01-29 16:56] ferristseng opened #13293 "Look into Gemfile warnings"
Seeing multiple warnings when settings up Gems:

[code]

[2020-01-29 18:15] msj0nes commented on #13064
@leikkisa considering the future plans to allow user to edit the Board Grant EPs (issue title), should we close this ticket?

[2020-01-29 19:11] jcq commented on #13059
Screenshot of Updated UI:
<img width="748" alt="Screen Shot 2020-01-29 at 10 32 06" src="https://user-images.githubusercontent.com/2581274/73385808-a8006000-4282-11ea-9fd5-cfbb1f7d1a60.png">

[2020-01-29 19:15] yoomlam commented on #12650
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/8032

[2020-01-29 19:34] yoomlam commented on #13261
Another related support issue: https://dsva.slack.com/archives/CHX8FMP28/p1580326239095400

[2020-01-29 19:37] jcq commented on #11342
It looks like `ruby-bgs` repo already has the new exception class...?
https://github.com/department-of-veterans-affairs/ruby-bgs/blob/master/lib/bgs/errors.rb#L98

[2020-01-29 19:56] rajinderbhanot commented on #13163
Post DMS steps
[ods_redshift.sql.txt](https://github.com/department-of-veterans-affairs/caseflow/files/4130423/ods_redshift.sql.txt)

[2020-01-29 20:24] pkarman commented on #11342
yep this ticket is outdated. feel free to close.

[2020-01-29 20:44] aplybeah commented on #13218
@nicholer just to double check, the desired outcome is something like this:
<img width="979" alt="Screen Shot 2020-01-29 at 3 43 23 PM" src="https://user-images.githubusercontent.com/37313082/73395811-350cde80-42ae-11ea-9868-329d625ab256.png">

[2020-01-29 20:45] #10886 closed

[2020-01-29 22:11] nicholer commented on #13218
@aplybeah Yes, the dropdown looks good on both of those.

On the first image, when the hearing is Video, ideally the Type would never display as a label in that top bar. But that should probably be another (lower priority) ticket, correct?

[2020-01-29 22:31] yoomlam commented on #13261
To get the document counts, the two web pages are querying eFolder differently, but it's unclear why eFolder is returning different counts for the same appeal and user. We can make the counts the same by querying eFolder in the same manner, but we want to make sure we're getting all the documents from eFolder.

**Pages in question:**
Page 1 = "Case Details" = https://appeals.cf.ds.va.gov/queue/app

[2020-01-29 23:00] pkarman commented on #13261
Wondering if maybe https://github.com/department-of-veterans-affairs/caseflow-efolder/issues/1137 is at play?

[2020-01-29 23:49] jcq commented on #13059
Upping the estimate from 1 to 2 due to having to deal with updating numerous tests.

[2020-01-30 00:01] #11342 closed

[2020-01-30 16:00] yoomlam commented on #9676
Another one: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7850
`./app/queue/SubmitDecisionView.jsx in nextStepHook at line 114:15`

`task` is undefined:
[code]

Either ensure `task` is defined or handle the case where `task` is not defined.

[2020-01-30 16:17] yoomlam opened #13303 "[Sentry] Make alert message actionable for AppealNotValidToReopen failures in appeal_repository.rb"
## Description

Make sentry alert message actionable (or state that alert is simply FYI) or prevent failure from sending a sentry alert.

## Background/context/resources

Got the sentry alert message: `AppealRepository::AppealNotValidToReopen: Appeal id 315333 is not valid to reopen`

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7356

## Technical notes

Several failures

[2020-01-30 16:20] yoomlam commented on #12350
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7685
`Caseflow::Error::RemandReasonRepositoryError: Remand reasons must be present when issue disposition is remanded`
Please make Sentry alert message actionable.

[2020-01-30 17:16] msj0nes opened #13305 "Recycle"
.

[2020-01-30 17:24] msj0nes opened #13306 "Recycle"
.

[2020-01-30 18:22] ferristseng opened #13307 "Changing a cancelled virtual hearing back to virtual has wrong existing email"
##  Description

![Screen Recording 2020-01-30 at 1 00 54 PM](https://user-images.githubusercontent.com/1298274/73477866-056bde00-4363-11ea-9464-44622dfa71f1.gif)

Steps to reproduce:

  1. Convert Video to Virtual, and change the existing veteran email from BGS
  2. Convert the hearing back to a virtual hearing. The email in the input should be the one you used in the first step
  3. Try to switc

[2020-01-30 18:50] #13158 closed

[2020-01-30 19:26] #13306 closed

[2020-01-30 19:26] #13305 closed

[2020-01-30 20:32] yoomlam commented on #13208
Found this ticket and the referenced solution for this [Bat Team support ticket](https://dsva.slack.com/archives/CHX8FMP28/p1580416217111100?thread_ts=1580409702.108100&cid=CHX8FMP28)

Thanks Hunter!

[2020-01-30 20:33] pshahVA opened #13310 "Investigate cases where the VEText and the daily docket don't match times"
## User or job story
There have been a handful of instances in production where the hearings branch is stating that the VEText sent a different time then what was scheduled.

## Acceptance criteria
- [ ] Investigate the issue.

## Background
https://appeals.cf.ds.va.gov/queue/appeals/2901779 , the 10/29/19 hearing was scheduled at 9:00 AM EST, but the message said 12:00 pm EST

https://appeals.cf.

[2020-01-30 21:11] yoomlam commented on #13230
https://dsva.slack.com/archives/CLRTL92TW/p1580418021008900

[2020-01-30 21:18] yoomlam commented on #10732
FYI: https://sentry.ds.va.gov/department-of-veterans-affairs/efolder/issues/7927

[2020-01-30 21:51] leikkisa opened #13311 "Clean up new lines in description before saving contention text"
## Description
When saving an issue's description, if the rating issue has new lines `\r\n` or characters like that, when we create a contention in VBMS, the description is failing to save. They are getting saved as a blank description, and then cannot be removed in the UI because blank descriptions are not allowed.

## Acceptance criteria
- [ ] Do not create contentions with newline characters in

[2020-01-30 22:08] leikkisa opened #13312 "Checking for existing claim before re-attempting establishment"
## Description
There is a bug in VBMS that is causing it to return us an error, but then successfully establish the claim. Because it is succeeding, but we think it failed, we are re-attempting and establishing another one.

Instead, we should check if there is an active claim with the same claim_type_code, and claim_date for the veteran. If there is, we should save that claim's claim_id as the en

[2020-01-30 22:50] #13218 closed

[2020-01-31 00:09] jcq opened #13313 "Motion to Vacate | Granted | Add Pulac-Cerrulo Alert to Appeals with "vacate" Stream Type"
## Description
Attorneys and judges working on "vacate" appeal streams need to be shown the Pulac-Cerrulo alert to be reminded to check CAVC for possible conflicts of jurisdiction.

## Background/context/resources
Current logic displays `PulacCerulloReminderAlert` if the current appeal's task tree includes a `VacateMotionMailTask`. This won't be true of the new appeal stream.

## Technical notes
-

[2020-01-31 00:15] jcq commented on #13313
Screenshot of `PulacCerulloReminderAlert`:

<img width="965" alt="Screen Shot 2020-01-30 at 16 13 52" src="https://user-images.githubusercontent.com/2581274/73501720-a1094880-437b-11ea-86cc-0f5cbcd17fa1.png">

[2020-01-31 00:25] leikkisa commented on #13291
@msj0nes I looked up this EP and it's actually a remand - these issues were already editable in Caseflow at their regular URL.  I had just assumed earlier it was a BGE, because those are not editable.

I went ahead and fixed these in the backend though, because there were 7 issues, and it wasn't possible to tell which one was which in the front end because their descriptions were bogus.  I checked

[2020-01-31 15:09] yoomlam opened #13314 "[Sentry] undefined method `user_represents_claimant_not_veteran' for Appeal"
## Description

`NoMethodError: undefined method `user_represents_claimant_not_veteran' for #<Appeal:0x00007fe05a00c890>`

## Background/context/resources

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/8059

## Technical notes

## AC

- [ ] Add AppealConcern or add `user_represents_claimant_not_veteran` method to AMA appeals?

[2020-01-31 15:18] D-L-Ware commented on #13054
So I check with the business and we marked the correct task completed, however, contrary to what I told you (sorry), they do care about the date recorded as the date the that task was closed.  I believe it is currently 1/28/2019, it apparently now looks on reporting like the judge sat on the appeal for more than 100 days, when they did not.  Can we change the completed date on that task to 10/21/2

[2020-01-31 15:48] carodew opened #13315 "EPIC: Design system re-kick off, discovery and strategy"
## Background/context

The user experience is inconsistent across Caseflow products and has caused confusion internally (when designers or engineers don’t know which elements should be used in a given scenario) and externally (when users see different patterns for the same task in different areas of Caseflow).

### Current challenges

Style guide is outdated and hasn’t been maintained. Patterns in

[2020-01-31 16:55] pkarman commented on #13054
No problem.
Now:
[code]

[2020-01-31 16:55] #13054 closed

[2020-01-31 16:55] yoomlam opened #13316 "Create integrity checker to make sure Distribution jobs are not stalled"
## Description

A judge could not Request more cases because a Distribution job for her was stuck in a 'started' state -- it should have finished in a 'completed' or 'error' state. Not sure why it did not finish. An integrity/liveness checker would detect (and could fix) such problems before the user witnesses the problem.

## Background/context/resources

From Bat Team issue:
https://dsva.slack.c

[2020-01-31 17:07] ferristseng opened #13317 "Refactor Hearing Details Page to use React Context API"
## Description

The hearing details page is incredibly context, and it's not clear how data moves from component to component. The frontend best practices mentions that the React context is a good place to store data across components, which would be much easier to understand than trying to reason about global state.

## Background/context/resources

https://github.com/department-of-veterans-affai

[2020-01-31 17:24] jcq opened #13318 "Motion to Vacate | Set Up Container Component for MTV Workflow"
## Description
The workflow for handling of post decision motions (MTV) is intended to be done in a largely similar way to the normal handling of judge and attorney tasks, but with a few key differences. Various UI and copy changes are present, and it is desired to use different routes. Due to these and the need for different views/workflows based on disposition, appeal stream type, etc, it makes

[2020-01-31 17:37] jcq opened #13319 "Motion to Vacate | Create Progress Bar for MTV Workflows"
## Description
Create a component (or multiple, if that makes more sense) that creates the correct sections for the MTV progress bar based on the URL and vacate type of the particular case.

## Background/context/resources
Here are the various sections needed based on the current state of the case:
#### Straight Vacate
- Review vacated decision issues
- Submit draft decision for review

#### Vacat

[2020-01-31 17:59] leikkisa commented on #13066
Blocking this PR for now, because adding this was potentially a temporary solution to missing ratings. I am getting asked about the extra options that wouldn't normally be there, so we might eventually want to take them back out.
https://dsva.slack.com/archives/CFBLH2LR4/p1580491161070300

[2020-01-31 18:08] ajspotts commented on #13279
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Good team knowledge around this space.  Quite a bit of work, folks with less familiarity may glean some good info here.

[2020-01-31 18:15] ajspotts commented on #13262
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
This logic is fairly complex because it is based on the board's business need to determine who was last responsible for an appeal, rather than just who the task is currently assigned to, so we should be careful to only change the logic as intended in this ticket and no more.

[2020-01-31 18:20] yoomlam commented on #13266
@hschallhorn The team would appreciate any context on this, but the ticket seems straightforward, so we went ahead and estimated it.

[2020-01-31 18:21] ajspotts commented on #13266
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Potential lack of understanding from some team members, uncertainty around potential side effects.

[2020-01-31 18:23] yoomlam commented on #13269
This might be useful: https://github.com/department-of-veterans-affairs/appeals-team/blob/master/Project%20Folders/Tasks/tasktrees/alltasks.md

[2020-01-31 18:26] ajspotts commented on #13269
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Time-boxing to a 2.  Don't spend more than a 2's level of effort investigating this ticket.

[2020-01-31 18:34] yoomlam commented on #13284
Related to #13251

[2020-01-31 18:37] ajspotts commented on #13284
Punting until more information can be gathered.
- How do we split this ticket up?
- Who do we talk to do determine what actions are available for each of these tasks?

[2020-01-31 18:39] yoomlam commented on #13284
cc @hschallhorn @jimruggiero

[2020-01-31 18:47] ajspotts commented on #13316
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Fear/uncertainty.  Example of previous implementation of a checker can be found here https://github.com/department-of-veterans-affairs/caseflow/issues/12157

[2020-01-31 18:52] ajspotts commented on #13314
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Seems easy, however there is unfamiliarity with this particular bit of code.

[2020-01-31 18:53] #11678 closed

[2020-01-31 18:54] leikkisa commented on #11678
Closed, see #13211

[2020-01-31 19:55] D-L-Ware commented on #13265
Responded in email.  I had to use demo (because using production would have required moving an appeal to dispatch), however, I have been assured respecting this functionality demo and production match.  I confirmed that both attorneys and judges have the same disposition options in the UI when coding a disposition for an issue.

I did make clear to the Board that the dispositions table they refere

[2020-01-31 19:55] #13265 closed

[2020-01-31 20:00] pshahVA opened #13321 "Scheduling Veterans shows undefined address"
## User or job story
User story: As a caseflow hearings branch user, I need to be able to see the address of the veteran when I try to schedule. The following error is displayed:

![image](https://user-images.githubusercontent.com/49729315/73570335-3539e500-443a-11ea-957c-50682b453f7d.png)

Link to example:
https://appeals.cf.ds.va.gov/queue/appeals/2732956/?hearingDate=2020-01-31&regionalOffice=R

[2020-01-31 20:29] yoomlam opened #13322 "[Sentry] RecordNotUnique, PG::UniqueViolation: ERROR: duplicate key"
## Description

Investigate why this happens and follow-up on TODO in the code comment.

[code]

[code]

## Background/context/resources

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/8085

## Technical notes

`app/repositories/appeal_repository.rb in build_appeal at line 170`
This is code from 2018:
[code]

## AC
- [ ] Code handles the error condition

[2020-01-31 20:32] yoomlam commented on #12995
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/8085

[2020-01-31 20:35] yoomlam commented on #13322
Duplicate of #12995

[2020-01-31 20:35] #13322 closed

[2020-01-31 20:37] yoomlam commented on #12810
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/8079

[2020-01-31 20:48] yoomlam commented on #12846
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6689
Can the Sentry alert message include instruction to ignore this error, if that's desirable?
Otherwise, Bat Team is repeatedly spending time to investigate these Sentry alerts.

[2020-01-31 21:21] ferristseng commented on #13156
#13302 did not work. The timezone in UAT is still UTC for jobs. I'm wondering if the initializers are not running. Will pick this up the following week

[2020-01-31 21:43] yoomlam commented on #12864
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6987

[2020-01-31 21:47] carodew opened #13323 "Design audit of Caseflow and the design system"
## Problem statement

The style guide is outdated and hasn’t been maintained. Patterns in the style guide don’t match what is in Caseflow, and the same pattern is handled differently in different areas of Caseflow. This makes maintenance and updates difficult and creates an inconsistent user experience.

It is difficult to prioritize work on the style guide against desire to ship new features. How

[2020-01-31 22:07] carodew opened #13324 "Style guide discovery: Design tooling and process"
## Problem statement

The current technological support for the style guide make it difficult to both build a component in Caseflow itself and then build it in the style guide – it is currently a manual process to make sure both are in sync.

It is difficult to prioritize work on the style guide against desire to ship new features. However, spending some time maintaining the style guide can help f

[2020-01-31 23:14] kevmo commented on #13261
Related Sentry alert https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7307/

[2020-02-02 16:32] msj0nes commented on #11999
# Ticket Closure
This work was ompleted via https://github.com/department-of-veterans-affairs/caseflow/issues/9709

[2020-02-02 16:32] #11999 closed

[2020-02-03 15:27] #13314 closed

[2020-02-03 15:30] ferristseng commented on #10883
Same error appearing again:

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/8157/events/624461/

[2020-02-03 15:57] ferristseng opened #13328 "Can't change a formerly virtual video hearing back to virtual"
## Description

Steps to reproduce:

  1. Change video hearing to virtual
  2. Change the hearing back to video
  3. Try changing the video hearing back to virtual, and nothing happens

## Background/context/resources

N/A

## Technical notes

This is an issue with how `deep_diff` interacts with the changes made in #13289. The server now always sends `virtual_hearing` to the frontend even after a

[2020-02-03 17:49] lomky commented on #12301
These alerts have been increasing lately. https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6695/

![image](https://user-images.githubusercontent.com/6129479/73677048-7b35b980-4683-11ea-9236-bcc3a580f717.png)

[2020-02-03 18:15] #13215 closed

[2020-02-03 20:52] hschallhorn opened #13332 "Create better seed data and fakes for BGSService"
As we extend functionality for VSO users, we need to have better seed data and bgs mock functionality to properly test functionality

## Examples of the limitations of our BGS mocking

### `can_access?`
In `Fakes::BGSService`, we determine if a vso user can [view an appeal's case details](https://github.com/department-of-veterans-affairs/caseflow/blob/821e92c411cbb72778cac5b21fe4ce3ceb670a87/app/c

[2020-02-03 21:04] nanotone opened #13333 "Motion to Vacate | Serialize appeal stream information"
## Description

In order to support UI flows for MTV, the frontend needs serialized appeal objects to include the appeal's stream type and vacate type.

## Acceptance criteria

- [ ] Appeal serializer includes `type`
- [ ] Appeal serializer includes `vacate_type` when stream type is `Vacate`

## Background/context

Appeal streams are separate Appeal objects that share the same docket number but di

[2020-02-03 21:50] pshahVA commented on #13154
@ferristseng, didn't we check this in UAT?  I believe we can close this right?

[2020-02-03 21:54] ferristseng commented on #13154
Yes, I checked when I was doing setup...closing!

[2020-02-03 21:54] #13154 closed

[2020-02-03 22:03] yoomlam commented on #13254
@alisan16
Appeals can be group into categories by using any of the following characterizations:
- AMA vs Legacy
- docket_type
- Virtual vs. Onsite vs. ...
- hearing location or other location/region
- who worked on the case and in what role/capacity (e.g., appeals grouped by judge)
- final appeal decision (granted, denied, partial, ...) or other decisions along the appeal process
- claimant type (

[2020-02-03 22:07] yoomlam commented on #13254
In thinking about appeal categorizations, I also came up with some other appeal stats:

1. Appeal counts grouped by stage in the appeal process (e.g., at regional office, intake, establishment, hearing, judge decision, quality review, dispatch, and completed)
2. How long an appeal stays in each stage
3. Time for appeals to get to each stage
4. A count of new appeals per day or week
5. Count of cas

[2020-02-03 22:12] pshahVA opened #13335 "Adjust Alternate Regional Offices"
## User or job story
User story: As a hearings branch coordinator,I need to be able to schedule alternate regional offices properly.

Technical Notes:

1. I need to remove the White River Alternate Regional Office (VBA_405) from the Manchester, NH Regional Office so that no Veterans can be scheduled there. (vba_373)
- Though hearings coordinators haven't been scheduling Veterans here, ensure that

[2020-02-03 22:17] yoomlam commented on #13254
AMA Appeals data collected on: Feb 3rd

Status | direct_review | evidence_submission | hearing | Grand Total
-- | -- | -- | -- | --
*1. Not distributed* | 10262 | 4681 | 18281 | 33224
*2. Distributed to judge* | 214 | 70 | 63 | 347
*3. Assigned to attorney* | 507 | 134 | 81 | 722
*4. Assigned to colocated* | 225 | 68 | 64 | 357
*6. Decision ready for signature* | 364 | 79 | 34 | 477
*7. Decision s

[2020-02-03 22:23] yoomlam commented on #13254
Legacy Appeals stats:

Count | Status (as reported by VACOLS columns `bfmpro`, table `brieff`)
-- | --
67,679 | "ACT" => "Active", # Case currently at BVA
71,151 | "ADV" => "Advance", # NOD Filed. Case currently at RO
880,073 | "HIS" => "Complete", # BVA action is complete
80,143 | "REM" => "Remand", # Case has been Remanded to RO or AMC
325 | "MOT" => "Motion", # appellant has filed a motion for

[2020-02-03 22:41] nanotone opened #13336 "Motion to Vacate | Create "De Novo" appeal stream"
## Description / Acceptance criteria

When a judge grants a Motion to Vacate with disposition "Vacate and de novo",
- [ ] Create a new De Novo appeal stream with these attributes (see tech notes):
  - [ ] stream type `De Novo`
  - [ ] docket number same as that of the original appeal
- [ ] Create the request issues contesting the vacated decision issues (see tech notes)
- [ ] Create initial tasks

[2020-02-04 13:54] jimruggiero commented on #11397
@hschallhorn It appears that all work on this epic is complete. Can you confirm? If yes, can/should this epic be closed and a new epic started when we hear back from JW and JG at BVA?

[2020-02-04 15:03] msj0nes opened #13338 "Upstream Errors | Resolution Time Reduction and Reporting"
### Description
This epic is here to connect all of the individual upstream error issues, describe the overall process for handling them, and connect work done regarding manual fixes, engineering tickets, reports, etc.

### Goals
- Identify errors and ensure that they all have Incident reports, GitHub issues and job notes. We will use these as a form of communication to clients and users. Ultimate

[2020-02-04 15:53] ferristseng opened #13339 "NoMethodError in FetchDocumentsForReaderUserJob"
##  Description

Seeing this error:

[code]

in `FetchDocumentsForReaderUserJob`. It appears to be an error from the VBMS client (?)

## Background/context/resources

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/8110/events/24b7a58b24fd48c8aa687e70f4510c62/

## Technical notes

N/A

[2020-02-04 16:29] jimruggiero commented on #12558
@chandracarney Is all work on this Epic now complete? Can this be closed?

[2020-02-04 16:31] msj0nes commented on #13338
# YourIT Tickets Impacted

YourIT Ticket  Number | Date Ticket Created | Case Details URL
-- | -- | --
INC0000000 | 00/00/00 |   Add case details page URL here

[2020-02-04 16:35] msj0nes commented on #13338
## Engineering Integration Tickets

YourIT Ticket  Number | Date Ticket Created | Case Details URL | Notes
-- | -- | --
INC0000000 | 00/00/00 |   Add case details page URL here | Example

[2020-02-04 17:41] jcq commented on #13007
@leikkisa If this screen is for the attorney to simply review/verify that dispositions are already set for the issues the judge selected, what is the behavior of the `edit` button? And if the user (atty) deletes (removes) an issue, what happens? Is it sufficient to keep track of the issues that remain, send those as part of our payload in the future step, and update the decision IDs on `PostDecisi

[2020-02-04 17:51] leikkisa commented on #13007
@jcq

We want to hide the "delete" button. I hadn't yet updated the screenshot, but added it to the AC.  I feel like we could hide the "edit" button here too, but I think in conversation with design, we decided to keep it in case the decision text needed to be edited.

I haven't confirmed at what point things get saved in the database, if that happens within different steps of the task, or not unt

[2020-02-04 18:36] yoomlam commented on #13254
AC 2 removed. Alisa will take the data back to the project leads.

[2020-02-04 18:36] #13254 closed

[2020-02-04 19:29] msj0nes opened #13342 "Iterate Issues Modal | Organize Ratings Displayed"
## Issue Reported
**_Reported By_** Lauren Sylvia<br>
 Good Afternoon - we received an email from St. Pete DROC stating when establishing an HLR, Caseflow provided options to select that were not on the previous rating decision.  Claim ID  76778364 The only rating eligible for HLR at this time was the rating dated 10/09/2019 which ONLY denied service connection for coronary artery disease and serv

[2020-02-04 19:53] hschallhorn commented on #11397
Phase 4 and 5 are not complete, they  need to have tickets written and prioritized/worked. We do know that JW specifically said they wanted Phase 4.

[2020-02-04 20:10] #13216 closed

[2020-02-04 20:49] #12609 closed

[2020-02-04 20:50] #12607 closed

[2020-02-04 20:51] ferristseng opened #13343 "HearingDay#scheduled_for method does not exist for legacy hearing before AMA"
## Description

This is happening in production. The user is trying to access a hearing that is before AMA date, and the code is throwing an error because it is looking for a hearing day. The hearing day relationship only exists for legacy hearings past AMA date.

[code]

## Background/context/resources

Related to #13270

https://dsva.slack.com/archives/CHX8FMP28/p1580841744184200

## Technical n

[2020-02-04 20:51] #12612 closed

[2020-02-04 20:52] #12610 closed

[2020-02-04 20:57] jcq commented on #13333
We will also need to provide the `vacated_issues` for the `PostDecisionMotion` associated with the task/appeal to the frontend. Does it make sense to add that here?

If this seems out of scope, we could always create another ticket for it.

**Context**
https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/post_decision_motion.rb#L24

[2020-02-04 21:07] nanotone commented on #13333
@jcq Good catch! Yeah, it could totally go here -- would it be okay to include as an extra field on the serialized appeal?

[2020-02-04 21:26] jcq commented on #13333
After talking to @leikkisa, my question might actually be moot. While obtaining them from the *original* appeal is a bit complicated (and what I was thinking with my first question), it's trivial to get them from the *new* appeal stream — they will just be *the* decision issues for that appeal.

[2020-02-04 22:28] jcq opened #13348 "Allow Webpack Imports of JSON w/o Extension"
## Description
Webpack defaults allow importing `.json` files w/o extension. This functionality was lost when Caseflow's Webpack config was updated to add `.jsx` as a resolved extension. Given that we import things like COPY.json all over the place, it would be nice to restore this capability.

## Background/context/resources
- [Webpack docs](https://webpack.js.org/configuration/resolve/#resolveex

[2020-02-05 06:27] msj0nes commented on #11603
Can we close this ticket to indicate the work mentioned is already completed?

[2020-02-05 06:27] msj0nes commented on #11830
Can we close this ticket to indicate the work mentioned is already completed?

[2020-02-05 06:33] msj0nes commented on #13243
@jcq great work.

[2020-02-05 06:33] #13243 closed

[2020-02-05 06:33] msj0nes commented on #13003
Much appreciated @jcq

[2020-02-05 06:33] #13003 closed

[2020-02-05 06:41] msj0nes commented on #11812
@geronimoramos this ticket is from August . Can it be closed?

[2020-02-05 06:41] #11812 closed

[2020-02-05 06:41] msj0nes commented on #11831
@geronimoramos this ticket is from august 2019 , can it be closed?

[2020-02-05 06:43] #11255 closed

[2020-02-05 06:47] msj0nes commented on #11721
# Ticket Closure

Closing ticket. This functionality is already available.
![image](https://user-images.githubusercontent.com/41164406/73817638-7b37d580-47b9-11ea-92fc-fdceafcdc055.png)

[2020-02-05 06:47] #11721 closed

[2020-02-05 07:06] #13200 closed

[2020-02-05 07:46] msj0nes commented on #8547
# Motion to Vacate Status
As of 2/5/2020, 27 of 36 Issues completed

### New Issues
#13319 Motion to Vacate | Create Progress Bar for MTV Workflows
### Ready for dev
#13071 Motion to Vacate | Granted | Readjudicate | Decision Attorney | Go to Add Decisions screen
#13073 Motion to Vacate | Success banner after AddressMotionToVacate task is submitted
#13228 Motion to Vacate | Replace URL for draft d

[2020-02-05 10:52] msj0nes opened #13351 "Motion to Vacate | Replicate 'Add New Task' Functionality Available to Mail Team for Litigation Support Org"
## Description

Currently the BVA Mail Department and Litigation Support share functionality under the 'Mail' team org in Queue. departmentally this is not sustainable. Reasons are provided below. With releasing 'Motion to Vacate' the need for Litigation Support team members to be added to both 'Litigation Support' and 'Mail Team' needs to be eliminated.

- BVA Departments or leadership did not ag

[2020-02-05 10:53] #11254 closed

[2020-02-05 14:31] msj0nes commented on #11373
# Open Questions

- Obtain a **list from BVA** as it relates to additional decision types needed in Caseflow
- Cross reference list with requirements from AMO to pinpoint similarities.

Finalize a concise list.

[2020-02-05 14:51] msj0nes commented on #13351
@leikkisa when possible can I hear your insights on this ticket and we can discuss in our next meeting.

[2020-02-05 14:55] #13343 closed

[2020-02-05 16:05] msj0nes commented on #10164
# YourIT Tickets Impacted

YourIT Ticket  Number | Date Ticket Created | Case Details URL
-- | -- | --
INC0000000 | 00/00/00 |   Add case details page URL here

[2020-02-05 16:19] ferristseng commented on #11336
Again here: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7771/events/1db468cd479a4e91ad578a3c80494bf0/

[2020-02-05 16:26] ferristseng commented on #12931
Happens here too with a similar task tree: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7307/?referrer=webhooks_plugin

[code]

[2020-02-05 16:28] msj0nes commented on #11998
# Update
Per @carolinejavornisky @geoffreystienblock lets discuss topic mentioned by BVA. BVA mentioned they already track this information and have reports with PAI available and are willing to share. Lets facilitate a conversation between BVA and AMO to confirm BVA PAI reporting available meets AMO needs or if anything additional is needed.

[2020-02-05 18:08] leikkisa commented on #13351
@msj0nes I think it makes sense to discuss in our meeting today. Lit Support users are not also Mail Team users, and do not have the same permissions in general.  Both the Mail Team and the Lit Support team have something called `users_can_create_mail_task?` set to true.

If we want to differentiate those, I would need a list of which Mail Tasks Lit Support should not be able to create.

[2020-02-05 20:01] msj0nes commented on #13342
# Update

- AMO needs to be able to distinguish each rating seen by date. Sally still reviewing.

[2020-02-05 20:44] ferristseng opened #13354 "AppealRepository::AppealNotValidToClose returns 500 error"
## Description

The frontend creates a sentry alert for posting to this route. From browsing the logs, it looks like the error is a `AppealRepository::AppealNotValidToClose` error. This doesn't seem like it shouldn't return a 500 error, maybe a 400? I think it might be useful to report to the user too

## Background/context/resources

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflo

[2020-02-05 21:13] yoomlam commented on #12982
Any ideas on how to replicate this problem?
I'm assuming the problem occurs on the Assign Cases page when http://localhost:3000/queue/3/assign is being requested, but I can't replicate the problem where non-attorneys are listed in the dropdown.
In https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/controllers/users_controller.rb#L47, only the judge's attorneys are returned

[2020-02-05 21:35] hschallhorn commented on #12982
I assume this is from either a judge being on another judge's judge team or the user is selecting a judge from the "Other" dropdown. If the user selects "Other", another dropdown of all attorneys and judges pops up.

[2020-02-05 21:44] nanotone opened #13355 "Motion to Vacate | Associate PostDecisionMotion to Appeal"
## Description

Change the PostDecisionMotion schema so that it is associated with an appeal with type "Vacate", not a task.

## Acceptance criteria

- [ ] ~~Remove post_decision_motions.task_id~~
- [ ] Add post_decision_motions.appeal_id
- [ ] For motions to vacate, the associated appeal should be the "Vacate" stream

## Context

The PostDecisionMotion is currently associated with a task, because

[2020-02-05 21:56] yoomlam commented on #12982
Thanks Hunter! An answer to question 3 would also be helpful to check how my changes affect other components.

[2020-02-05 22:06] yoomlam commented on #12982
@hschallhorn Could `AttorneyRepository.find_all_attorneys - JudgeRepository.find_all_judges` work to populate the "Other" dropdown of attorneys on the Case Assign page?
[code]

[2020-02-05 22:07] msj0nes opened #13356 "Intake | Restrict Non-BVA MailTeam Members From Starting Board Appeals"
## Description
Only BVA employees, specifically the BVA Intake Team (MailTeam in Queue) is allowed to intake appeals. To reinforce this rule, an access restriction is needed. Considering the restriction cannot be made at the station or CSEM division level for reasons provided below

Reasons other restriction ideas may have been ruled out:
- **Restrict by Station Number**- There are two station 101

[2020-02-05 22:08] msj0nes commented on #10511
# Update
Caseflow data gathering needed to evaluate missing ratings success.

[2020-02-05 22:23] nanotone opened #13358 "Lowercase appeal types"
## Description

Update appeal types to be lowercase, and shift the responsibility of making appeal types human-readable to the frontend, at render time.

## Acceptance criteria

- [ ] Appeal types changed from `Original`, `Vacate`, and `De Novo` to `original`, `vacate`, and `de_novo`
- [ ] `original?`, `vacate?`, and `de_novo?` magic methods are available on the Appeal object
- [ ] Frontend has re

[2020-02-05 23:25] nanotone opened #13359 "Add filter by veteran ID to /jobs"
## Description

Add a text field on the "Background Jobs" admin page, to filter the results by veteran file number.

## Acceptance criteria

- [ ] Search field added to the rendered page
- [ ] Submitting search query navigates to a new URL with the appropriate query string, e.g. appending `?veteran_file_number=QUERY` (see Technical Notes for implementation considerations)
- [ ] Async jobs controll

[2020-02-06 01:58] jimruggiero commented on #12902
@ajspotts @hschallhorn Has the help desk ticket referenced above been completed/closed? If no, should this be in Current Sprint or the Backlog? If it stays in Current Sprint, can this be estimated?

[2020-02-06 02:50] jimruggiero commented on #6369
@carodew For awareness, moving this to the design backlog.

[2020-02-06 02:52] jimruggiero commented on #6977
@carodew For awareness, moving this to the design backlog.

[2020-02-06 14:15] hschallhorn commented on #12982
3. Occurs from the case details page. It is the modal that pops up after selecting Assign to attorney

[2020-02-06 14:28] ajspotts commented on #12902
It has not been opened as that's considered part of the work on the ticket.  If @hschallhorn is ok with keeping in the current sprint and estimating I'm on board with that.

[2020-02-06 14:43] hschallhorn commented on #13193
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Error is going to be the same 99% of the time (user cannot be found in BGS).Error handling should also be straightforward.

[2020-02-06 15:01] hschallhorn commented on #5597
Release notes! Ensure users know only legacy cases will have the overtime badge until followup work is done on marking ama cases as overtime. Do we want to put this behind a feature flag until that's done?
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Can add a field to the serializer for legacy appeals. Can also replicate design for hearin

[2020-02-06 15:05] hschallhorn commented on #12662
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Could be a one because it could be a one or two line change. Blows up to a two because it may take time to find those two lines. Lotta monkey-ing.

[2020-02-06 15:12] hschallhorn commented on #12448
Feel free to split up the AC into tech spec and implementation.
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Ticket writer may have missed something, even though this is a very comprehensive ticket. Seems like this could be a lot of digging into code/configs/databases.

[2020-02-06 15:18] hschallhorn commented on #13058
Include documentation on how current model callbacks work in spec.
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Although is a tech spec, seems like it requires more research than a normal one. _Untangling_.

[2020-02-06 15:23] yoomlam commented on #11336
May be solved by PR #13353

[2020-02-06 15:28] hschallhorn commented on #13231
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Could be a five based on the usual uncertainty. Could be a tough investigation to track down what's causing this.

[2020-02-06 15:30] janechi1 commented on #11998
For the Section 5, Congressional Mandated Reporting per PUBLIC LAW 115–55:  here's the needed information for this report.   The metrics are for these sections:  Part 1, Sections H and I.  VBA's data business division - PA&I is unable to code this because Caseflow data does not store document receipt data for medical opinions.

(H) The Average Number of Days between date of Board Remand for an Adv

[2020-02-06 15:31] yoomlam commented on #12871
Some more background:
- https://a11yproject.com/posts/getting-started-aria/
- https://www.w3.org/TR/wai-aria/#roles_categorization

[2020-02-06 15:50] #11336 closed

[2020-02-06 15:55] nanotone commented on #13211
I'm going to go ahead and call this issue done for the sake of sprint planning; the one remaining open PR is blocked externally, isn't very relevant to upcoming MTV work, and is outside of what we expected with the original 3-point estimate.

[2020-02-06 16:29] #10569 closed

[2020-02-06 16:53] lomky opened #13362 "Reword and Clarify 'Cancel Task' action on AttorneyTask"
## Description

Several times now we have had users contact support & bat team asking for help returning a case from Attorney Drafting to the assigning VLJ. This is something the attorney user can do! But the action is labelled `Cancel Task` in the actions and is not intuitive for the user. Instead, we should name it based on what will happen to the appeal, something along hte lines of "Cancel thi

[2020-02-06 16:59] lomky opened #13363 "Improve Case Timeline 'Dispatch from BVA pending' messaging"
## Description
Case Timeline always shows the current status of dispatch, regardless of the state of the appeal. It also conveys the message that a case is _at_ BVA dispatch for LegacyAppeals without another open Caseflow task, which is incorrect.

LegacyAppeal, not even in caseflow
![image](https://user-images.githubusercontent.com/6129479/73959660-a57fb500-48d7-11ea-9674-c04bbca57cc6.png)

## AC

[2020-02-06 17:38] leikkisa commented on #13313
Make sure the user also has the ability to take the pulac cerrulo action on the appeal

[2020-02-06 17:43] leikkisa commented on #13228
@msj0nes Does the AC for this ticket look correct to you based on what you learned about the MTV decision document process?

[2020-02-06 17:54] leikkisa commented on #13138
Hold off on relaying an error to the front end, because it makes more sense to do that using controller-level validation.

[2020-02-06 20:45] ferristseng commented on #10799
Here too: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7878/?referrer=webhooks_plugin

[2020-02-06 22:38] pkarman commented on #12554
These ROs are not listed in the [list of ROs](https://github.com/department-of-veterans-affairs/appeals-data/blob/master/data/ro.csv) that the older reporting code used to identify [how VACOLS certifications were measured](https://github.com/department-of-veterans-affairs/appeals-data/blob/master/notebooks/intake/certification-usage.Rmd#L25).

[code]

Do they matter? is the list from the original

[2020-02-06 23:22] pkarman commented on #12554
Run in production:

[code]

[2020-02-07 01:46] leikkisa commented on #13351
After talking yesterday, I think we decided this was no longer needed since their permissions are now separated in Caseflow.

[2020-02-07 01:46] #13351 closed

[2020-02-07 14:31] D-L-Ware commented on #12554
I see some possibilities for why those were excluded.  Those location all handle what, from the perspective of appeals, are edge cases that the Board does not get a lot of.  First, despite having and RO code, in actual business practice none of those locations are actual ROs, they serve a different business function.  Nevertheless, the can certify appeals to the Board.  However, the appeals that c

[2020-02-07 14:37] yoomlam commented on #10516
- [ ] https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/102457/parallel-runs/4/steps/4-120
[code]

[2020-02-07 14:56] pkarman commented on #12554
based on my reading of the VACOLS schema and the existing code, that's what we can do. The numbers I posted earlier all ignore the RO completely. I think the existing RO logic is a `left join` meaning the RO will be included in the summary if present, but not limited to the RO list.

[2020-02-07 15:10] pkarman commented on #12554
The original code has the concept of "eligible" certifications which seems to mean "paperless". So I am going to adjust the code to report 2 metrics: caseflow certifications as the numerator, and then all certifications and all paperless certifications as 2 different denominators.

[2020-02-07 15:11] pkarman commented on #12554
Run in production:
[code]

[code]

[2020-02-07 16:04] alisan16 commented on #12554
Can we refine the metric to remove those ROs? Based on @D-L-Ware's comment it sounds like those ROs may not even be eligible for Caseflow Certification and we should focus on

Which could mean just the paperless certifications in eligible ROs.

[2020-02-07 16:08] pkarman commented on #12554
Yes, I have ignored RO completely. The original code seemed to use the RO list only for grouping by RO for more granular reporting, not for filtering out cases based on RO. So I think we're ok to ignore them completely for the purposes of this metric.

[2020-02-07 16:09] chandracarney opened #13370 "Display more info about sent Virtual Hearings emails"
### User story
As a Hearing Coordinator, I need to see a history of the virtual hearing notification emails that Caseflow has sent, along with the user who sent them, so that I can respond to inquiries from Veterans and POAs and troubleshoot any issues.

### Designs
Figma: https://www.figma.com/file/V87TZArfdurCGJiEjQ73ES/Virtual-Hearings?node-id=109%3A17309

### Acceptance criteria
- ##### On Hea

[2020-02-07 16:12] chandracarney opened #13371 "Refresh page data after virtual hearing job is completed"
### User story
As a Hearing Coordinator creating or updating a virtual hearing, I need to see that my changes were successful as soon as possible (without manually refreshing the page), so that I feel confident I'm seeing the most up-to-date information.

### Background / context
Based on usability testing findings (#12960):
- The expiring info alert combined with the requirement to manually refre

[2020-02-07 16:16] chandracarney opened #13372 "Fix typo on "change to video" hearings modal"
## Description
There is a typo on the Change to Video Hearing modal. Text should read:

## Background/context/resources
[](url)![appeals.cf.uat.ds.va.gov_hearings_81bf9621-c5e1-4deb-9765-d6dfa0b4fcef_details (9).png](https://images.zenhubusercontent.com/5da884e8e252b50001ba2722/6de817de-812c-49ba-81b1-aac8e35c29a9)

[2020-02-07 16:17] D-L-Ware commented on #12554
Looks good to me.  My preliminary analysis of the drop off on the certification usage is the lines of business using Caseflow certification are lines of business more likely to have prepared better for AMA, i.e. they made a concerted effort to certify as many of their legacy appeals pre-AMA as possible.  As such, as the legacy inventory decreases, eventually to zero, Caseflow certification usage a

[2020-02-07 16:27] chandracarney opened #13373 "Edit the field label text of the virtual hearing link"
### Description
Change the field label text of the "Virtual Hearing Link" on the Hearings Details and Daily Docket pages to "VLJ Virtual Hearing Link"

### Background/context
Usability testing (#12960) revealed that Hearing Coordinators found the current field label unclear - they weren't sure if it was a test link or the link for the actual hearing videoconference

### Design Screenshots
#### Hea

[2020-02-07 16:30] chandracarney opened #13374 "Usability testing virtual hearings (Gen2 functionality) with Judges"
### Background / context
The Caseflow Team is conducting usability testing of Gen2 virtual hearings functionality in Caseflow with a small group of Board users as part of a phased release process. This allows the Caseflow Team to identify and fix potential issues at a smaller scale before a full release, thereby mitigating the risk of widespread problems. Testing will aim to (1) determine how well

[2020-02-07 16:46] alisan16 commented on #12554
@D-L-Ware not urgent, but we should be clear with OIT what direction these metrics should be moving to demonstrate positive impact. In the original definition, the target was 90% (baseline was 85.7%) and the measurement condition was "over target", probably because they were focused on adoption of Caseflow Certification. Now that all eligible ROs have presumably adopted it, what we expect is the m

[2020-02-07 17:15] msj0nes commented on #8547
# Training Documentation

- [ ] Motion to Vacate - Denied / Dismissed
- [ ] Motion to Vacate - Granted

[2020-02-07 17:58] D-L-Ware commented on #12554
Agree.

[2020-02-07 20:18] leikkisa opened #13376 "Manual Fix | Clean up data from End Products that Caseflow thought failed"
## Description
Clean up EPs that were established in VBMS, but returned an error to Caseflow.

## Acceptance criteria
- [ ] Look for active Caseflow end products that do not have reference IDs in EndProductEstablishment
- [ ] If there is a successfully established EPE, cancel the extra EP that we do not have recorded.
- [ ] First check that it does not have contentions. If it does have contentions

[2020-02-07 20:35] shahlam636 opened #13377 "Manual Fix | Contentions Missing Texts in VBMS"
## Description
- [x] Find request issues and decision issues that have contentions and that have new line characters in their description
- [x] Update the contention in VBMS with the newline characters removed

## Background/context/resources
This is the issue for bug fix
https://github.com/department-of-veterans-affairs/caseflow/issues/13311

## Technical notes

[2020-02-07 21:01] msj0nes commented on #13261
# YourIT Tickets Impacted

YourIT Ticket  Number | Date Ticket Created | Case Details URL
-- | -- | --
INC0000000 | 00/00/00 |   Add case details page URL here

[2020-02-07 21:42] pkarman commented on #13261
This is a bug in the new pagination service for VBMS. I can reproduce. I have opened https://github.com/department-of-veterans-affairs/connect_vbms/issues/249 to fix.

[2020-02-07 22:41] pkarman commented on #13261
This should be fixed in the next release of caseflow efolder.

[2020-02-10 15:45] hschallhorn commented on #13175
# [Friendship 7](https://en.wikipedia.org/wiki/Mercury-Atlas_6) sprint (Feb 10 - 24) engineering priorities
@yoomlam, @ajspotts, @kevmo, @lomky, @jimruggiero, @araposo-tistatech, and @hschallhorn, here are the priorities for this sprint!
## Priorities
### Queue
1. ⭐️ Deep dive into limitations of acting judges in caseflow #13136
### Batteam Needs
1. TypeError thrown when validation for AssignWidge

[2020-02-10 16:31] pkarman commented on #13261
Confirmed fixed in production with example from https://github.com/department-of-veterans-affairs/caseflow/issues/13261#issuecomment-579992680

[2020-02-10 16:31] #13261 closed

[2020-02-10 17:00] pkarman commented on #3920
seems to be fixed now in SSOi IAM version of efolder.

[2020-02-10 17:00] #3920 closed

[2020-02-10 17:15] ferristseng commented on #13335
@pshahVA @chandracarney

It looks like this is already the case (and has been for awhile). Can't find `vba_273` being used anywhere. Were there cases of White River being an option recently for scheduling?

[code]

No veterans are ready to schedule in RO03 (White River)

[code]

[2020-02-10 19:55] #9943 closed

[2020-02-10 21:10] ajspotts commented on #13278
If the task that attempts to reopen the root task is a mail task then the root task should remain closed (https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/8288)

Background: https://dsva.slack.com/archives/CLRTL92TW/p1573137212057100

[2020-02-10 21:34] yoomlam commented on #10516
- [ ] https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/102710/parallel-runs/0/steps/0-116

[code]

[2020-02-10 21:51] yoomlam commented on #10516
- [ ] https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/102713/parallel-runs/3/steps/3-120

[code]

[2020-02-11 15:18] nicholer commented on #12345
This work was completed.

[2020-02-11 15:18] #12345 closed

[2020-02-11 15:50] nicholer opened #13383 "Update virtual hearing email copy with new test site link"
### Story
Update the virtual hearing email notifications with the URL to the new "Test Your Connection" site: `https://vc.va.gov/webapp2/conference/test_call?name=Veteran&join=1`

### Acceptance Criteria
The "Test Your Connection" section of emails to Veterans and Representatives reads as follows:

The update applies to the following emails:

1. Email to Veteran when virtual hearing is scheduled o

[2020-02-11 15:58] nicholer commented on #13383
@pshahVA Can you confirm this is the correct test site URL:
https://vc.va.gov/webapp2/conference/test_call?name=Veteran&join=1

Some additional questions:
- Will the videoconference site used for the actual hearings also be moving to this new format? Currently, it's care.va.gov and looks quite different.
- Will these changes affect the Apple App Store download link, currently pointing to https://i

[2020-02-11 16:15] #10632 closed

[2020-02-11 17:28] hschallhorn opened #13384 "Investigate cache job runtime increase, part 2!"
Runtimes for [the `UpdateCachedAppealsAttributesJob`](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/jobs/update_cached_appeals_attributes_job.rb) increased from significantly after [recent changes](https://github.com/department-of-veterans-affairs/caseflow/pull/13285). Short runtimes allow us to run the job more frequently and keep the cache more up-to-date. This ticke

[2020-02-11 17:29] hschallhorn commented on #13384
Appears to be a pretty clear case of an introduction of a few N+1 queries

[2020-02-11 17:30] janechi1 commented on #11490
To establish a baseline for this missing functionality, is there data available specifically showing users changing the EP claim label?

[2020-02-11 17:53] pshahVA commented on #13383
I am fairly certain that the test link is correct, but I've asked the Pexip team to confirm one more time on both questions.

[2020-02-11 19:25] yoomlam commented on #10516
- [ ] https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/102753/parallel-runs/2/steps/2-120

[code]

[2020-02-11 19:43] jcq opened #13385 "Motion to Vacate | Granted | Readjudicate | Decision Attorney | Submit Decisions Screen"
## Description
This is the final step/route in the checkout workflow (see #13007, #13071). This could either reuse or replace the `SubmitDecisionView` component that is used in non-MTV workflows. It serves as a final confirmation step, and handles triggering of the save to the API.

## Technical notes
The current behavior (using `SubmitDecisionView`) creates a payload using `buildCaseReviewPayload

[2020-02-11 20:55] #13211 closed

[2020-02-11 20:55] #12952 closed

[2020-02-11 20:55] #13291 closed

[2020-02-11 20:55] #13236 closed

[2020-02-11 20:55] #13198 closed

[2020-02-11 20:55] #13165 closed

[2020-02-11 20:55] #13059 closed

[2020-02-11 20:55] #13062 closed

[2020-02-11 20:55] #12382 closed

[2020-02-11 21:00] leikkisa commented on #12692
# Friendship 7 Sprint 2/10/2020 - 2/21/2020
Engineering capacity:

## Sprint status
:arrow_right_hook: Carryover:
:arrow_right_hook: ✅Carryover completed:
:arrow_right_hook: Remaining:

⭐️ Points pulled in for this sprint:
⭐️✅Points from this sprint completed:
⭐️Decided not to do:
⭐️Remaining:

👾Space invaders pulled in:
👾✅Space invaders completed:
👾Remaining:

Total to do:
Total points completed:

[2020-02-11 21:27] pshahVA commented on #13335
I just checked and if you try to schedule a Veteran that is assigned to Manchester, NH, you get the option to assign the Veteran to White River.

[2020-02-11 21:27] pkarman commented on #13163
First step is scheduling daily ODS sync: https://github.com/department-of-veterans-affairs/appeals-lambdas/pull/45

Second step is adding a job to check for when the DMS task is finished and then execute the SQL. I've asked @enriquemanuel to help with this second step. The high-level flow would be:

* [ ] check if DMS task `dsva-appeals-ods-redshift-onetime` is running
* [ ] if it has finished, ex

[2020-02-11 22:23] msj0nes opened #13389 "Same Station Conflict Check | Add CSEM Station 101 Restriction | Feature Toggle to Station Controlled"
### Description
Apply CSEM access station 101 restriction when handling bypass of same-station conflict check for intaking appeals.

Currently Caseflow access is managed via CSEM (CSS) and segmented via VA stations. Station 101 is specifically dedicated to cover access for BVA. Per OIT COR, OBPI has approved BVA to bypass the '_[Same-station conflict](https://github.com/department-of-veterans-affa

[2020-02-11 22:26] msj0nes commented on #13389
@leikkisa or @nanotone let me know your thoughts on this and if anything additional is needed.

[2020-02-11 22:49] leikkisa commented on #13389
@msj0nes This looks great! I'll look if there are tech notes regarding BVA permissions and the testing plan which you noted.

[2020-02-11 23:10] pkarman commented on #12554
Considering this one done.

[2020-02-11 23:10] #12554 closed

[2020-02-12 00:24] yoomlam commented on #13266
Which colocated task types have been deprecated?
Please update docs here: https://github.com/department-of-veterans-affairs/appeals-team/blob/master/Project%20Folders/Tasks/tasktrees/descr/tasks-overview.md#decision-phase

[2020-02-12 00:29] tomas-nava commented on #13156
#13350 worked; jobs in UAT are now running with the `America/New_York` timezone.
[code]

[2020-02-12 01:32] leikkisa opened #13391 "Intake | Validate veteran name_suffix"
## Description
If a veteran's suffix has "JR." with a dot in it, their claims are failing to establish.

## Acceptance criteria
- [ ] During intake when searching for a veteran, if the veteran's suffix has punctuation, return an error to the user asking them to remove the punctuation instead of allowing them to proceed

## Background/context/resources
This is to prevent this upstream error:
https:

[2020-02-12 02:01] leikkisa opened #13392 "Manual Fix | Close request issues on claims that were changed to a 400 EP and cleared"
## Description

When claims have their claim_type_code changed to one of the 400 series, we do not expect to get decision issues for that claim.

## Background/context/resources
This is a reach of my memory, but I think this happens when the veteran did not submit additional evidence required with their claim.

Closing the request issues is handled when the end product establishment gets synced, b

[2020-02-12 02:03] leikkisa commented on #13392
Code for processing these:
[code]

[2020-02-12 02:15] jimruggiero commented on #12433
@ajspotts Can you attach a screenshot to this ticket?

[2020-02-12 02:16] leikkisa commented on #12592
Current cases of this are resolved. We expect more of these, so I'm going to keep this ticket open for now. We have learned that it is due to validation issues with either the veteran's address, or the claimant's address.

The short term fix is to have someone update the invalid address in Share or VBMS, and then re-attempt establishment.

The long term fix it to determine what the rules are so th

[2020-02-12 02:22] leikkisa opened #13393 "Intake | Validate veteran address"
## Description
When a veteran's address has certain conditions it fails validation in VBMS.  Examples include multiple spaces in a row, or the presence of back slashes.

We'd like to detect these and prevent the user from continuing in intake until they've fixed the address.

## Acceptance criteria
- [ ] If the veteran's address does not meet the validation rules below, return an error to the user

[2020-02-12 02:22] leikkisa commented on #13393
We are waiting to hear back from VBMS if there is a service we can call to tell if an address is valid, or otherwise what their validation rules are.

[2020-02-12 02:33] leikkisa opened #13394 "Intake | Validate claimant address"
## Description
When a claimant's address is invalid, the claim fails to establish in VBMS.

We'd like to detect these and prevent the user from continuing in intake until they've fixed the address.

## Acceptance criteria
- [ ] If the claimant's address is invalid, return an error asking them to update the claimant's address in VBMS, and prevent them from continuing the intake

# Javascript Regex

[2020-02-12 02:43] leikkisa commented on #13148
Three veterans are impacted by this. I emailed these to Jane to see if she can fix their data and we can get those resolved. Another ticket has been added to detect punctuation in the veteran name suffix. Once that is completed and all cases are resolved we'll be able to close this ticket.

[2020-02-12 03:04] leikkisa commented on #10164
@msj0nes Do you know if support folks can check a user's CSEM or CSUM profile to check their permissions? It still seems compelling to me that this is due to a permissions issue since often they resolve themselves over time.

I think we can ask Jane to fix the permissions, but she might need more information on what they should look like. The Caseflow permissions are correct, I think it's either B

[2020-02-12 06:50] msj0nes commented on #13240
Please provide screenshot of new message once complete.

[2020-02-12 12:56] D-L-Ware opened #13396 "Legacy Appeals: Add special issues"
## User or job story
User story: As a attorney and or/judge, I need to be able to flag the following special issues, so that the data can be captured for reporting purposes:
- Burn Pit
- Military Sexual Trauma (MST)
- Blue Water
- US Court of Appeals for Veterans Claims (CAVC)

A "No Special Issues" checkbox needs to be added as a selection must be made on this page.

## Acceptance criteria
- [x]

[2020-02-12 12:58] D-L-Ware commented on #13396
![Special Contentions](https://user-images.githubusercontent.com/23197424/74336999-6fc24c80-4d6d-11ea-8b3e-fa1cb1772ca6.png)

[2020-02-12 15:44] hschallhorn commented on #12791
Deleted vacols records causing more issues: https://dsva.slack.com/archives/CJL810329/p1581433711251600

[2020-02-12 16:00] #11814 closed

[2020-02-12 16:03] pkarman commented on #10164
As of last week we can check BGS security profiles via the BGS API. Not sure if that helps here, but wanted everyone to be aware.

The relevant API calls are here:
https://github.com/department-of-veterans-affairs/ruby-bgs/blob/master/lib/bgs/services/common_security.rb#L28

[2020-02-12 16:52] hschallhorn commented on #13266
No colocated tasks have been deprecated.

[2020-02-12 17:04] ferristseng commented on #13321
Looks like this is being caused by an issue where the appellant's address is not in BGS.

Linking this PR which changed where the appellant's address is populated from

https://github.com/department-of-veterans-affairs/caseflow/pull/11143

[2020-02-12 17:09] yoomlam commented on #13266
When will PreRoutingFoiaColocatedTasks be used in the future?
Please update here: https://github.com/department-of-veterans-affairs/appeals-team/blob/master/Project%20Folders/Tasks/tasktrees/descr/PreRoutingFoiaColocatedTask_Organization.md

[2020-02-12 17:53] pshahVA commented on #13321
Nice. So the PR above is for POA, do we need to do something similar for the appellant?  This didn't change the geomatching, so I assume that it was pulling the address from another location for that?

[2020-02-12 19:21] rajinderbhanot commented on #13074
Following tables/structures will be good to capture ETL load stats
**ETL_BATCH**  - Table to capture ETL batch load information
BATCH_ID  -  Batch ID
BATCH_NAME -  Batch Name
STARTED_AT - Batch load started at
FINISHED_AT - Batch load finished at
STATUS - Batch load status
TABLE_LOAD_CNT - Number of tables loaded
COMMENTS - Batch load comments

**ETL_JOBS** Log information at table/file level
JOB_

[2020-02-12 19:27] nanotone commented on #13240
Edited the issue description with a screenshot of the new error message.

[2020-02-12 19:35] shahlam636 opened #13399 "Manual Fix|Fix request issue withdrawals that were not processed."
- [] Fix request issue withdrawals that were not processed.
- [] Need an expedited review on this one as a station has an inquiry on it:  Claim ID: 76876440.  Here's the situation, EP040 supplemental claim for 1 issue but the Veteran submitted a request to withdraw the claim/issue.  User went into Caseflow and withdrew the issue but the EP040 is still in VBMS.   Does withdrawing the only issue her

[2020-02-12 19:54] ferristseng commented on #13321
Here's the original issue: https://github.com/department-of-veterans-affairs/caseflow/issues/10473

The PR (#11143) is updating our code to pull both appellant and POA address info from BGS. I think it should've affected geomatching, but not totally sure.

[2020-02-12 20:00] #13373 closed

[2020-02-13 01:36] leikkisa commented on #13389
The BvaIntake organization doesn't seem like it's being appropriately used in the code right now. It only has 3 users. I checked the last 1000 Appeals intaken, and it was done by 33 unique users at 14 different stations and 12 different regional offices.

I think before we complete this work, we should make sure that all of the appropriate users are added to the BvaIntake organization.

[2020-02-13 01:51] leikkisa commented on #10164
Oh yass, thank you @pkarman! I think there's a good chance it'll be helpful to see if we can rule out permissions, and if this is caused by permissions we'll be able to prevent the intake.

[2020-02-13 02:00] #12982 closed

[2020-02-13 04:46] msj0nes commented on #13389
@leikkisa can you email me the list showing the employees and their station. BVA users only have one method of obtaining CSEM access and its via station 101 change management, even Ivy is entering station 101 via the CSS login so something is amiss.

[2020-02-13 15:30] nicholer opened #13404 "Enhancements to display of virtual hearing job in-progress states"
### User story
As a Hearing Coordinator creating or updating a virtual hearing, I want to know how my actions affect the virtual hearing URL. Distinguish between type of async state.

### Background / context
Based on usability testing findings (#12960):
- The in-progress state when the hearing is being updated is misleading. 'Scheduling in-progress' placeholder text displays for the VLJ Virtual H

[2020-02-13 17:22] ajspotts opened #13405 "EstablishClaim returns a TypeError for null error object"
EstablishClaim returns `TypeError
Cannot read property 'error_code' of null` when the error object is null.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7176
https://dsva.slack.com/archives/CHX8FMP28/p1581609716309200

[2020-02-13 17:36] jjohni commented on #13405
YourIT Ticket Number
INC9449308

Product
Dispatch

User Type
Intake VBA User

CSS ID
AMCLWOOD

Urgency
 No Workaround - Medium Priority

What was the user trying to accomplish?
The user is trying to access dispatch. The product goes in and out for her and she will get an error message with a code.

Issue Description
I have attached a picture in the thread to display the error message she  is recei

[2020-02-13 17:38] jjohni commented on #13405
![Uploading INC9449308.png…]()

[2020-02-13 17:39] jjohni commented on #13405
I clicked "close and comment" in error

[2020-02-13 17:47] pkarman commented on #12521
ssn is a valid file number. See https://github.com/department-of-veterans-affairs/caseflow-efolder/issues/1137

[2020-02-13 17:47] #12521 closed

[2020-02-13 19:07] leikkisa commented on #13389
I can confirm that the MailTeam users are all station 101, VACO.  @msj0nes suggests the access be restricted based on being on the MailTeam AND at station 101.

Slack thread for more details:
https://dsva.slack.com/archives/C54QCEHAL/p1581620376416000

[2020-02-13 19:56] chandracarney commented on #11757
Path we chose for pagination: no feature flag, deploy straight to production. Why? Request for a feature flag came in after development started and would add ~3+ days to dev time.
Everything is in one PR, easy to roll back

- Put PR up for review now so Tomas can review while finishing testing
- Pull benchmarks from NewRelic - Ferris? Rubaiyat?
- Seed data to test on UAT** - Tomas
- Be ready to ro

[2020-02-13 20:01] msj0nes commented on #13240
# Completed

AMO notified of completion along with screenshots of new error message.

Subject: GH 13240 - Caseflow Intake - Duplicate Veteran Record Found | Update to Error Message [Post-BGS Call] - COMPLETE

[2020-02-13 20:02] #13240 closed

[2020-02-13 20:51] chandracarney opened #13412 "11132"

[2020-02-13 21:00] #13412 closed

[2020-02-13 21:06] pkarman commented on #10516
- [ ] https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/103171

[code]

[2020-02-13 22:35] yoomlam commented on #13255
@alisan16 Here's my write-up so far: https://docs.google.com/document/d/1s-akZeibptmhb4HF0Z5B8GrYG4ukYI81gq0ms1d2BXQ/edit?usp=sharing
I'd like some feedback to make sure I'm providing what you are expecting before I spend time writing up the epic. Thanks!

[2020-02-13 22:56] chandracarney opened #13413 "Initiate hearings as virtual"
## Epic
As a Hearing Coordinator I can find an eligible unscheduled Veteran and schedule them for a virtual hearing.

## Background/context
Unscheduled Veterans can be scheduled for a virtual hearing: the Board has a separate "docket" for virtual hearings so they can realize the full benefits of virtual hearings not requiring physical space at the Board

## Goals and user flow
Hearing Coordinators

[2020-02-14 14:19] yoomlam opened #13414 "[Documentation] Map Views to Controllers to Tasks"
## Description

We have an organized listing of task types in the [Tasks Overview page](https://github.com/department-of-veterans-affairs/appeals-team/blob/master/Project%20Folders/Tasks/tasktrees/descr/tasks-overview.md). Now I'd like to know how do steps in the business processes/workflow map to these tasks? What is happening on the users' end that causes a task to be created, completed, and can

[2020-02-14 14:56] araposo-tistatech opened #13415 "Mark Cases as OT"
## User or job story
User story: As a Supervisory Senior Counsel (SSC) & Veteran Law Judge (VLJ), I need the ability to designate a case as overtime at the point of assigning to an attorney, so that Attorney productivity/performance can be tracked efficiently. I also need the ability to edit that designation after assignment.

## Acceptance criteria
- [ ] Please put this work behind the feature to

[2020-02-14 14:57] yoomlam opened #13416 "`BvaDispatchTask` created before `QualityReviewTask` closes"
## Description

Immediately after the JudgeDecisionReviewTask was completed at 2020-02-06 14:19:28, a QualityReviewTask was (correctly) created and eventually assigned on 2020-02-10.  Upon completion of the QR on 2020-02-11 21:31:59, a BvaDispatchTask was (correctly) created.
The problem is that a separate BvaDispatchTask was created earlier on 2020-02-06 20:19:36 for some unknown reason; BVALRENE

[2020-02-14 14:57] araposo-tistatech opened #13417 "Show Overtime Cases"
## User or job story
Job story: When a VLJ or SSC assigns a case to their attorney, they need to see if cases currently part of their attorney's caseload are overtime, so they know they can continue to assign more cases to them.

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: :overtime_revamp
- [ ] This feature should be accessible to the following user groups: VLJs,

[2020-02-14 14:58] araposo-tistatech opened #13418 "Queue: Mark & Display OT Cases"
## Background/context

Attorney productivity/performance is tracked at the Board as they must meet strict criteria to apply for OT and have it approved. When OT is approved a specific number of hours are allotted for the attorney. Judges/SSCs review the approved allotment of time and mark specific cases as OT for the respective attorney. The judges/SSCs attempt to pick cases they believe each atto

[2020-02-14 14:59] yoomlam commented on #13416
We may have detected this earlier if we had data-integrity or state machine checks in place and could have prevented the appeal from being dispatched before all tasks were completed or cancelled.
Related ticket #12773

[2020-02-14 17:33] hschallhorn opened #13420 "Keep "assigned_at" timestamp of parent when assigning org task to user"
Brought up by VSOs in training.

## AC
- [ ] The `assigned_at` timestamp of a user task is the same as the org parent task
- [ ] Production data is updated

[2020-02-14 17:34] chandracarney opened #13421 "Schedule Veterans page enhancements"
## Epic
As a hearings coordinator, I need additional information now that a Veteran is geomatched to help me build a schedule with eligible Veterans.

## Background

Now that Veterans are geomatched to their closest RO or alternate location, there are improvements that can be made to the Schedule Veterans page to give the Hearing Coordinators more information about the Veteran's state of residence

[2020-02-14 17:38] araposo-tistatech opened #13422 "Adding Contention Button Blue Water"
Support the ability to add Blue Water as a contention in Case Flow

[2020-02-14 17:38] araposo-tistatech opened #13423 "Queue: Adding New Contentions"
## Background/context
Under law and regulations, a Veteran who served in Vietnam from January 9, 1962, to May 7, 1975 is presumed to have been exposed to herbicides. Furthermore, a particular set of medical conditions are presumed to be service connected for anyone who has been exposed to herbicide. Historically, the definition of "served in Vietnam" has been limited to Veterans who served on the

[2020-02-14 18:05] #13372 closed

[2020-02-14 18:06] ajspotts commented on #13251
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Standard 3 for Tech Spec.

[2020-02-14 18:10] ajspotts commented on #13420
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Let Product know.  Make sure this is only for tasks that are being assigned from an org so not every child task should keep the assigned at timestamp, just tasks of the same type of their parent org task.  This is for all org tasks that have an org user - child relationship.

[2020-02-14 18:12] ajspotts commented on #13272
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

[2020-02-14 18:18] ajspotts commented on #13416
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Seems like a straight forward data integrity check.  Tracking down what is/isn't allowed to be open and determining at what point we want the check to happen could be tricky.

[2020-02-14 18:24] ajspotts commented on #13278
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Investigate root cause and make error msg more actionable.  Could also look into what tasks we do expect do get created after a request has been closed.  Do we expect other mail tasks to be created on appeals that have been dispatched?  Might be a 2 if it turns out to be more straightforward.

[2020-02-14 18:27] ajspotts commented on #13233
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Create tests. All front end, maybe ask design for wording on "error"
https://github.com/department-of-veterans-affairs/caseflow/wiki/VACOLS-DB-Schema

[2020-02-14 18:33] ajspotts commented on #13362
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
"Cancel Task" is used by other views, so may have to create custom button string for different views.  In case we want to update the string to allow interpolation of the user that the task is being sent back to.

[2020-02-14 18:39] ajspotts commented on #13414
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Grepping isn't going to be sufficient due to duck typing.  We don't have one standard way that our Controllers are architected which may pose challenges and different approaches that may have to be taken.  Even if we just keep it at the grepping level of investigation, that would still provide

[2020-02-14 18:45] ajspotts commented on #13332
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Note: demo data = dev data. UAT data = ?

Mock-talking with BGS presents issues.  Doing a complete overhaul of seed data but also updating how Fake BGS responds to functions.

[2020-02-14 19:06] araposo-tistatech opened #13427 "Investigation: IHP-writing VSOs brokering cases"
Investigate what needs to occur in caseflow to implement the following for VSOs:

- [ ] assign cases to users in their organization
- [ ] write IHPs and route to downstream users

[2020-02-14 19:07] araposo-tistatech opened #13428 "IHP-writing–- VSOs brokering cases Build/Test"

[2020-02-14 19:08] araposo-tistatech opened #13429 "Plan & Scope: IHP-writing VSOs brokering cases"
## Background/context

## Goals
Provide VSOs the ability to assign cases to individuals in their organization, to write IHPs and then advance those IHPs to others in the downstream process.

## Success criteria
TBD

## Stakeholders
TBD

## Requirements/stories
TBD

## Open questions
TBD

## References/Resources
Clarify determination of which VSOs write IHPs #[12448](https://github.com/department-o

[2020-02-14 19:18] araposo-tistatech opened #13430 "Queue: Legacy Task Investigation"
## Background/context
Continue work to enhance Caseflow’s ability to manage tasks systems supporting both Legacy and AMA cases, such that the overall volume of issues and types of errors commonly experienced by judges and attorneys can be reduced.

Investigate Caseflow’s shortcomings regarding legacy task assignment (i.e. legacy appeal case assignment). Do an investigation to determine for legacy

[2020-02-14 20:27] chandracarney opened #13431 "Research: new hearing type of virtual"
## Context
Engineering research needed for new hearing type of "virtual hearing." Hearing Coordinators need to be able to schedule a virtual hearing from the start of the scheduling process.

Hearing branch's end goals:
- Increase capacity to perform hearings with virtual hearing or Regional Office (no mixed dockets).
- The Intake form identifies whether the Veteran is willing to have a virtual he

[2020-02-14 20:56] hschallhorn commented on #12423
This ticket has been re-scoped to just allowing the SCM team to view judge assign queues

[2020-02-14 20:59] hschallhorn commented on #12424
This ticket has been re-scoped to give these actions to the SCM team _ONLY_. Also, the actual user who made these changes should be credited in the assigned_by column of tasks assigned/reassigned and the whodunnit column of the versions table.

[2020-02-14 21:09] chandracarney opened #13432 "Transfer Veteran from one (geomatched) docket to another"
## User story
As a Coordinator scheduling Veterans for hearings at a Regional Office (RO), I need to 'transfer' some geomatched Veterans from my RO's docket to another RO's docket, so that another Coordinator can schedule those Veterans in the docket order of their Regional Office or alternate location.

## Problem statement
We observed that when a Veteran needs to be scheduled for a hearing at a

[2020-02-14 21:15] hschallhorn opened #13433 "Give judge assign queues human readable urls"
After work on #12423, users will be able to view the judge assign page of a judge. This url is formed as "/queue/<user_id>/assign". Users cannot be expected to know the caseflow user id of a judge. We should use their css id instead.

## AC
- [ ] Judge Assign queue url is "/queue/<user_css_id>/assign"

[2020-02-14 21:19] chandracarney opened #13434 "Research: weight geomatching with other criteria"
## Description
Research if we have the ability on the backend to weight geomatching according to better criteria:
- If an in-state and out-of-state RO are both in a similar distance, geomatch to in-state RO
- if Veteran has POA, match Veteran to in-state RO
- capacity of office (number of days allocated on the Hearings Schedule)

## Background/context/resources
Veterans are matched to the closest

[2020-02-14 21:48] #5336 closed

[2020-02-14 22:18] yoomlam commented on #13266
@hschallhorn For an active PrivacyActTask, creating a FoiaColocatedTask triggers creation of a child FoiaTask. Should I prevent triggering that child creation? If not, who should I assign it to?

[2020-02-14 22:31] hschallhorn commented on #13266
Great question! The workflow for active PrivacyActTask doesn't make sense as the closure of the PrivacyActTask will not trigger the closure of the FoiaColocatedTask. Let's, rather than create a FoiaColocatedTask, just change the PrivacyActTask's parent to the org PreRoutingFoiaColocatedTask's parent. I'll update the ticket.

[2020-02-14 22:34] chandracarney opened #13435 "Build Hearing Schedule includes virtual hearings"
## Story
Virtual-only docket days can be bulk-created through the build schedule process. Building the hearing schedule takes virtual hearing days and capacity into account. Create new virtual hearing dates through the Build Hearing schedule flow, rather than manual docket days created individually.

## Background/context

The Board currently uses a spreadsheet to import availability based on room

[2020-02-14 22:50] chandracarney opened #13436 "Virtual hearings pilot production monitoring, logging, and alerting"
## Description
Monitor pilot functionality for any major issues and begin to add automated monitoring, logging, and alerting around areas that might aid our ability to troubleshoot issues.

## Background/context/resources

## Technical notes

Examples of known areas that Caseflow can add logging:
- Monitor breakdown and deletion of virtual hearing rooms and add alerting, along with how many were d

[2020-02-14 23:09] geronimoramos commented on #11831
@msj0nes yes, this is done!

[2020-02-14 23:09] #11831 closed

[2020-02-14 23:48] hschallhorn commented on #12480
Looks like we've lost one task! Lets fix these geese.
[code]

[2020-02-14 23:53] hschallhorn opened #13438 "Clean up open tasks with closed parents"
As found in [#12480](https://github.com/department-of-veterans-affairs/caseflow/issues/12480#issuecomment-586522506) (notably task 226709) there are open tasks with closed parents

[code]

These tasks should be investigated and closed if possible.

## AC
- [ ] There are no open tasks with closed parents

[2020-02-14 23:56] hschallhorn opened #13439 "Data integrity check for open tasks with closed parents"
As noted in #13438, we should not have open tasks with closed parent tasks. We need a data integrity checker to ensure this does not happen in the future and to alert us when this is occurring

## AC
- [ ] Data integrity checker for open tasks with closed parents

[2020-02-15 01:32] yoomlam commented on #13266
@hschallhorn  If there are no PrivacyActTasks and the child tasks are completed, do we still want to "Create FoiaColocatedTask assigned to the privacy team with previous task instructions."?

[2020-02-15 01:41] hschallhorn commented on #13266
Nope! Let's close those as well. Concerning that there are org foia colocated tasks open with a closed child user foia colocated task.

Concerning that I've said concerning so many times today.

On Feb 14, 2020 8:32 PM, Yoom Lam <notifications@github.com> wrote:
This message originated outside of the TISTA email domain. Confirm the sender's identity before replying, or clicking on links or attachm

[2020-02-15 03:03] yoomlam commented on #13266
@hschallhorn For the complete PrivacyActTasks scenario, should an in_progress `TrackVeteranTask` be ignored when checking if there are opened tasks?

[code]

[2020-02-15 04:00] yoomlam commented on #13266
Not sure what to do with these:

[code]

[2020-02-17 16:07] pkarman commented on #10732
We think we've fixed this. Closing until it recurs.

[2020-02-17 16:07] #10732 closed

[2020-02-17 16:08] #6680 closed

[2020-02-18 14:57] msj0nes opened #13444 "Asynchronous Claims | Resolution Time Reduction and Reporting"
## Background/context
In an effort to calculate ROI and properly account for issue resolution time as it relates to 'Asynchronous Claims', the Caseflow team is task with depicting and and highlighting progression via a stakeholder report.

**Report Content**
_In Progress_
- Async Error Name
- Time between error creation and resolution
- Calculation of total time to resolve over one month
- Histori

[2020-02-18 15:08] msj0nes commented on #12276
# Ticket Closure

Marking this work as complete as all related issues are closed. Stakeholder is aware of end product 'background jobs page'.

[2020-02-18 15:08] #12276 closed

[2020-02-18 15:10] hschallhorn commented on #13266
Yes. We're only talking about open tasks on the `PreRoutingFoiaColocatedTask` specific trees.

👀-ing the specific appeals in a sec

[2020-02-18 15:40] yoomlam commented on #13266
@hschallhorn For active PrivacyActTask scenario, should I move the *open* parent PrivacyActTask as well? The ticket description explicitly states *active* but I want to double-check.

[code]

After moving only the *active* PrivacyActTask:
[code]
Should I cancel task 375555?

[2020-02-18 15:42] hschallhorn commented on #13266
We want to move the whole PrivacyActTask tree. So the PrivacyActTask org task, child user task, and any timed hold tasks. We'd just change the parent id of the org PrivacyActTask, which shifts the whole tree over to the FoiaColocatedTask

[2020-02-18 15:47] yoomlam commented on #13266
Corrected:
[code]

[2020-02-18 15:49] hschallhorn commented on #13266
367152 - No work has been started on a privacy act task - 1st scenario - Cancel PreRoutingFoiaColocatedTasks. Create FoiaColocatedTask assigned to the privacy team with previous task instructions. Ensure a FoiaTask was automatically created.

584318 - Active PrivacyActTask (assuming all these were intentionally created, and privacy work needs to be done on this case still) - 2nd Scenario - Cancel

[2020-02-18 15:51] #12480 closed

[2020-02-18 16:02] hschallhorn commented on #13266
201224 - Based on the instructions of the tasks, this should indeed be with the transcription team. Scenario 2 - Cancel PreRoutingFoiaColocatedTasks. Create FoiaColocatedTask assigned to the privacy team with previous task instructions. Ensure no FoiaTask is created. Move open PrivacyActTask org tree (with all descendants) under FoiaColocatedTask.

We could also update the type of 176395 to "Priva

[2020-02-18 16:04] hschallhorn commented on #13266
@yoomlam , we shouldn't be [moving these under the root task](https://github.com/department-of-veterans-affairs/caseflow/issues/13266#issuecomment-587527681). We should still keep the same branch structure of other colocated tasks on legacy appeals where the colocated org task has no parent

[2020-02-18 17:05] #13439 closed

[2020-02-18 17:22] leikkisa commented on #13311
@nanotone FYI I'm seeing this happening originating from Caseflow too, with \n\n in a decision issue description, from the issue that Martina reported here:
https://dsva.slack.com/archives/C54QCEHAL/p1581710985442800

I think that's a potential reason for making the change in the Contention model.

[2020-02-18 17:23] leikkisa commented on #13377
A note for data cleanup,  these are also coming from decision issues going onto board grant effectuations.

[2020-02-18 17:23] leikkisa commented on #13377
https://dsva.slack.com/archives/C54QCEHAL/p1581710985442800

[2020-02-18 17:38] yoomlam commented on #13266
Noting the appeals I'm changing:
[code]

Cleaned up per your instructions with some commentary.
[code]

[2020-02-18 17:57] hschallhorn commented on #13266
for 367152, a FoiaTask should have automatically been created. Looks like there is no FoiaTask on the appeal

[2020-02-18 18:55] alisan16 commented on #13255
@yoomlam Thanks for putting that proposal together and gathering information from each team about what their needs are! You're on the right track, and I encourage you to focus on exploring the tooling that best meets the team's needs. I don't imagine that we would be able to streamline our analytics to use a single tool, but the team needs more guidance to understand how each of the existing tools

[2020-02-18 19:19] pkarman commented on #13074
Ran successfully today for the first time w/o error:

[code]

[2020-02-18 19:19] #13074 closed

[2020-02-18 19:28] nanotone commented on #13311
@leikkisa Yes, I think the Contention model should be the one-stop shop for readying any contention text, whether it needs to be cleared of newlines or truncated to 255 bytes.

[2020-02-18 19:32] pkarman commented on #13279
fyi researching this for the original ticket I wrote this AR query that may help identify existing data problem:

[code]

[2020-02-18 19:44] yoomlam commented on #13266
Oops! Fixed:
[code]

[2020-02-18 20:18] yoomlam commented on #13266
This one has 2 PrivacyActTasks:

Before:
[code]

After:
[code]

[2020-02-18 22:37] yoomlam commented on #13266
Remaining to be cleaned up:
[code]
Manually cleaned them.

[2020-02-18 23:43] yoomlam commented on #13266
Concluding stats to double-check:
[code]

Yay!  Let' triple-check:
[code]

[2020-02-18 23:46] yoomlam commented on #13266
No more open PreRoutingFoiaColocatedTasks:
[code]

[2020-02-18 23:46] #13266 closed

[2020-02-19 00:19] leikkisa commented on #13377
Script for cleaning up board grant effectuations:
[code]

Two board grant effectuations had their contention text fixed
BGE id:[2535, 1092]

Note: there were 30 other BGEs that had newline characters that were successfully created in VBMS in the first place. I'm not sure what the difference was that caused some of them to succeed and some of them to have blank text.

[2020-02-19 01:29] leikkisa commented on #13377
Code for cleaning up request issue contentions:
[code]

Request issues which had their contentions fixed:
IDs:

[2020-02-19 04:14] #13377 closed

[2020-02-19 04:14] #13392 closed

[2020-02-19 15:51] ferristseng opened #13454 "[Flaky Test] TaskFilter.filtered_tasks when filtering by regional office"
## Background/context/resources

[code]

 - Circle CI Error:  https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/103171
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    + N/A

## Approach

Time box this investigation and fix.

Remember that if a test has been skipped for a decent amount of time, it may no longer

[2020-02-19 16:14] araposo-tistatech commented on #13422
duplicate, closing

[2020-02-19 16:14] #13422 closed

[2020-02-19 16:30] araposo-tistatech commented on #13396
@D-L-Ware is the board still granting a "stay" on these? I found the the below ticket and was wondering if implementing stays would need to be considered in this request:

#11288

[2020-02-19 18:23] alisan16 opened #13455 "Thread for uploading images to Caseflow Wiki"
Issue to store images uploaded to the Caseflow wiki following these steps: https://ardalis.com/add-images-easily-to-github

[2020-02-19 18:24] alisan16 commented on #13455
![Bat Team Decision Tree (1)](https://user-images.githubusercontent.com/1198106/74862971-1339d100-531b-11ea-90bb-a32287dfa83f.png)

[2020-02-19 18:26] alisan16 commented on #13455
Closing this issue, but future comments can be made with other images to upload to the wiki.

[2020-02-19 18:26] #13455 closed

[2020-02-19 19:09] #11603 closed

[2020-02-19 19:31] tomas-nava commented on #10516
- [ ] https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/103562/

[code]
[code]

[2020-02-19 20:45] #13335 closed

[2020-02-19 22:14] ferristseng opened #13459 "[Flaky Test] Higher-Level Review Add / Remove Issues page Veteran with future ratings"
## Background/context/resources

[code]

 - Circle CI Error: https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/102457/parallel-runs/4/steps/4-120
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [x] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remember that if a test has been skipped for a decent amount of

[2020-02-19 22:16] ferristseng opened #13460 "[Flaky Test] User when the status is updated with a valid status"
## Background/context/resources

[code]

 - Circle CI Error:  https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/101313/parallel-runs/2?filterBy=FAILED
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remember that if a test has been skipped for a decent amou

[2020-02-19 22:19] ferristseng opened #13462 "[Flaky Test] HearingsController PATCH update when updating the AOD should return a 200"
## Background/context/resources

[code]

 - Circle CI Error:  https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/92731
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remember that if a test has been skipped for a decent amount of time, it may no longer map

[2020-02-19 22:20] ferristseng opened #13463 "[Flaky Test] Higher-Level Review Creates an end product and contentions for it"
## Background/context/resources

[code]

 - Circle CI Error:  https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/90902/parallel-runs/3?filterBy=FAILED
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remember that if a test has been skipped for a decent amoun

[2020-02-19 22:21] ferristseng opened #13464 "[Flaky Test] HearingTimeService with a legacy hearing and a hearing scheduled for 12:00pm PT #local_time returns time object encoded in local time"
## Background/context/resources

[code]

 - Circle CI Error:  https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/90781/parallel-runs/1?filterBy=FAILED
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remember that if a test has been skipped for a decent amoun

[2020-02-19 22:23] ferristseng opened #13465 "[Flaky Test] TaskSorter.sorted_tasks when there are tasks and we specify a column to sort by when sorting by case details link column"
## Background/context/resources

[code]

 - Circle CI Error:  https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/90368
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    + [TaskSorter.sorted_tasks when there are tasks and we specify a column to sort by when sorting by case details link column sorts by veteran last

[2020-02-19 22:52] ferristseng opened #13466 "[Flaky Test] AppealTaskHistory#history when Task changes records the changeset"
## Background/context/resources

[code]

 - Circle CI Error:  https://circleci.com/gh/department-of-veterans-affairs/caseflow/86602?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remember that if a te

[2020-02-19 22:53] ferristseng opened #13467 "[Flaky Test] Hearing Schedule Daily Docket for Build HearSched Daily Docket with one AMA hearing User can update fields"
## Background/context/resources

[code]

 - Circle CI Error:  https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/86543/parallel-runs/1/steps/1-116
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remember that if a test has been skipped for a decent amount of

[2020-02-19 22:55] ferristseng opened #13468 "[Flaky Test] AmaQueue Judge has a case to assign to an attorney judge can reassign the review judge tasks to another judge"
## Background/context/resources

[code]

 - Circle CI Error:  https://circleci.com/gh/department-of-veterans-affairs/caseflow/86254
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remember that if a test has been skipped for a decent amount of time, it may no longer map to the exact

[2020-02-19 22:57] ferristseng opened #13469 "[Flaky Test] RetrieveDocumentsForReaderJob.perform a user exists who have been recently active if there are active and inactive users"
## Background/context/resources

[code]

 - Circle CI Error:  https://circleci.com/gh/department-of-veterans-affairs/caseflow/84152
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remember that if a test has been skipped for a decent amount of time, it may no longer map to the exact

[2020-02-19 22:59] ferristseng opened #13470 "[Flaky Test] TaskFilter.filtered_tasks when filtering by docket type when filter includes direct review"
## Background/context/resources

[code]

 - Circle CI Error:  https://circleci.com/gh/department-of-veterans-affairs/caseflow/82502
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remember that if a test has been skipped for a decent amount of time, it may no longer map to the exact

[2020-02-19 23:01] pkarman commented on #13459
fix for this in #13448

[2020-02-20 15:24] ferristseng commented on #10516
Please refer to this new process when creating flaky test issues: https://github.com/department-of-veterans-affairs/caseflow/wiki/Backend-Process-Flaky-Tests

Going to close this!

[2020-02-20 15:24] #10516 closed

[2020-02-20 15:28] yoomlam commented on #13438
OpenTasksWithClosedAtChecker found 374 open Task(s) with a closed parent Task:
https://dsva.slack.com/archives/CJL810329/p1582211740324200

[2020-02-20 15:31] ferristseng opened #13473 "[Flaky Test] RecordSyncedByJob.next_records_to_process when the limit is 1 only returns appeal without synced record"
## Background/context/resources

[code]

[code]

 - Circle CI Error:  https://circleci.com/gh/department-of-veterans-affairs/caseflow/79755?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remember that

[2020-02-20 15:39] leikkisa opened #13474 "Motion to Vacate | Return to Judge front-end"
## User or job story
User story: As a decision drafting attorney, if I think the Judge made a mistake on his vacate decision, I want to send the AddressMotionToVacate Task back to the judge.

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: review_motion_to_vacate
- [ ] Implement the "Return to Judge" banner on the review vacatures page
- [ ] Clicking "Return to Judge"

[2020-02-20 15:45] leikkisa opened #13475 "Motion to Vacate | Return to Judge (back end)"
## User or job story
User story: As a decision drafting attorney, I want to be able to return the judge to the JudgeAddressMotionToVacateTask if there was a mistake.

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: review_motion_to_vacate
- [ ] When a decision drafting attorney submits the "Return to Judge" modal, it creates a new JudgeAddressMotionToVacate task on the

[2020-02-20 15:47] rutvigupta-design opened #13476 "Motions to Vacate - Investigate URL Handoff Process"
<img width="1312" alt="Screen Shot 2020-02-20 at 10 10 40 AM" src="https://user-images.githubusercontent.com/51714306/74954787-45097100-53c9-11ea-941a-bbad10cd390a.png">

## User story

When motions attorneys submit a recommendation of a denial or dismissal to a VLJ, they need a way to submit a URL of a draft letter that the VLJ can view, and sign. The VLJ then needs a way to re-submit a URL of th

[2020-02-20 15:49] ferristseng opened #13477 "[Flaky Test] TeamManagementController GET /team_management when current user is a member of the Bva organization"
## Description

## Background/context/resources

[code]

 - Circle CI Error:  https://circleci.com/gh/department-of-veterans-affairs/caseflow/78682?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remem

[2020-02-20 15:50] rutvigupta-design commented on #13476
cc @msj0nes @leikkisa I am creating an issue for us to better track the progress on this work.

[2020-02-20 15:52] ferristseng opened #13478 "[Flaky Test] Organization.assignable when current task is assigned to a user returns a list without that organization"
## Background/context/resources

[code]

Updated 3/19/2021
The test has been moved to line 108

 - Circle CI Error: https://circleci.com/gh/department-of-veterans-affairs/caseflow/78528
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    + #13479
    + #13480
    + #13481
    + #13482

## Approach

Time box this investigation and fix.

Reme

[2020-02-20 15:54] ferristseng opened #13479 "[Flaky Test] Organization.assignable when current task is assigned to an organization"
## Background/context/resources

[code]

Updated 3/19/2021
This test has been to moved to line 116

 - Circle CI Error:  https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/78528/tests
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    + #13478
    + #13480
    + #13481
    + #13482

## Approach

Time box this inve

[2020-02-20 15:56] ferristseng opened #13480 "[Flaky Test] Organization.assignable when current task is assigned to a user and its parent is assigned to a user to an organization"
## Background/context/resources

[code]

Updated 3/19/2021
This test has been moved to line 125

 - Circle CI Error:  https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/78528/tests
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    + #13478
    + #13479
    + #13481
    + #13482

## Approach

Time box this investi

[2020-02-20 15:57] ferristseng opened #13481 "[Flaky Test] Organization.assignable when there is a named Organization as a subclass of Organization"
## Background/context/resources

[code]
Updated 3/19/2021
This test has been moved line 134.

 - Circle CI Error:  https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/78528/tests
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    + #13478
    + #13479
    + #13480
    + #13482

## Approach

Time box this investigat

[2020-02-20 15:58] ferristseng opened #13482 "[Flaky Test] Organization.assignable when organization cannot receive tasks"
## Background/context/resources

[code]

Updated 3/19/2021
This test has been moved to 143.

 - Circle CI Error:  https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/78528/tests
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    + #13478
    + #13479
    + #13480
    + #13481

## Approach

Time box this investigati

[2020-02-20 15:59] leikkisa opened #13483 "Intake | Bug | Fix asynchronous request issue withdrawals in VBMS"
## Description
There is a bug in request issue withdrawals which is causing them to not be processed correctly in VBMS unless they're processed synchronously.

## Acceptance criteria
- [ ] In RequestIssuesUpdate, withdrawn issues still have their contentions removed in VBMS if processed asynchronously

## Background/context/resources
Data cleanup ticket: https://github.com/department-of-veterans-a

[2020-02-20 16:04] yoomlam commented on #13438
Out of curiosity:
[code]

[2020-02-20 16:05] ferristseng opened #13484 "[Flaky Test] Postpone hearing legacy appeal and reschedule on the same day"
## Background/context/resources

[code]
Updated 3/19/2021
This test has been moved to line 161.
 - Circle CI Error:  https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/76273
 - Has the test already been skipped in the code?
   - [x] Skipped
   - [ ] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remember that if a test has been ski

[2020-02-20 16:22] pkarman opened #13485 "Add columns to etl_builds"
Metadata columns to add to ETL build tables.

* `etl_builds.name`
* `etl_build_tables.src_count`

[2020-02-20 16:34] ferristseng opened #13486 "[Flaky Test] Hearing Schedule Daily Docket Daily docket for RO view user User can only update notes"
## Description

**THIS TEST HAS MOVED TO:**

https://github.com/department-of-veterans-affairs/caseflow/blob/1af7b34d42bec9b3645bea0255a58fa6763716bc/spec/feature/hearings/daily_docket/ro_viewhearsched_spec.rb#L8

## Background/context/resources

[code]

 - Circle CI Error:  https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/72938/tests
 - Has the test already been skippe

[2020-02-20 17:22] leikkisa commented on #13474
@rutvigupta-design Can you add information about the design/copy for the task assignment modal?

[2020-02-20 18:40] ferristseng commented on #13310
https://appeals.cf.ds.va.gov/queue/appeals/3224311

  * Veteran got text saying 12:00 AM
    * `LegacyHearing` record was updated `Tue, 26 Nov 2019 16:43:48 UTC +00:00` (after the hearing)
      * Do not know what this change was
      * Updated by a Hearings Coordinator
  * Rails console shows `scheduled_for` of `Tue, 26 Nov 2019 09:00:00 UTC +00:00` (matches time veteran got)
    * Raw date from

[2020-02-20 18:49] leikkisa commented on #12593
We've learned this is because the user is a relative of the veteran at the same station. The last one of these was in October, so maybe this has been fixed in the code.

For the outstanding ones if we can get a different user to establish them they should be able to succeed.

[2020-02-20 19:21] leikkisa opened #13488 "Intake | Add Contention service to ruby-bgs"
## Description
We cannot delete contentions that have an exam scheduled, but the data returned from VBMS does not have this information. However, there is a BGS service where we can get this information.

- [ ] Add the Contention service to ruby-bgs
  - [ ] Update `ruby-bgs/lib/bgs/services.rb` to include the new service
  - [ ] Add the new service to `appeals-deployment/ansible/vars/va-services.y

[2020-02-20 20:07] ferristseng opened #13489 "Research if Caseflow can retrieve email status from govdelivery"
## Description

Research if Caseflow can retrieve email status from Granicus to improve how the email status gets reported for #13370.

Currently when we receive a `200` status code, we mark the email as "sent" (using flags on the `VirtualHearing` model). The `200` from Granicus is more like an "accepted" status code, but does not actually indicate that the email was sent successfully -- it could

[2020-02-20 20:10] pkarman opened #13490 "Upgrade raven.js"
Our raven.js is old and officially deprecated:

https://docs.sentry.io/clients/javascript/

The newer version is 2 major steps away:

https://docs.sentry.io/error-reporting/quickstart/?platform=browser

We should clarify with ourselves if we need to coordinate client JS version with the version of the server we are hosting (9.1.2).

[2020-02-20 20:24] ferristseng opened #13491 "[Flaky Test] HearingAdminActionVerifyAddressTask Address Verify Workflow with Legacy Appeal UI tests with a hearing admin member in cancel task modal"
## Description

Treating these couple as the same failure, since it seems like they are all part of the same shared examples group.

## Background/context/resources

[code]

[code]

[code]

[code]

[code]

[code]

 - Circle CI Error:  https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/71526/tests
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ]

[2020-02-20 20:25] pkarman commented on #12810
What is the LegacyAppeal record has open assigned/active tasks?

[2020-02-20 20:26] pkarman commented on #12810
What action should be taken on these LegacyAppeal records that are orphaned? Should they just be deleted?

[2020-02-20 20:29] ferristseng opened #13492 "[Flaky Test] HearingAdminActionVerifyAddressTask Address Verify Workflow with Legacy Appeal UI tests with a regular member has no actions"
## Background/context/resources

[code]

 - Circle CI Error:  https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/71526/tests
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    + #13491

## Approach

Time box this investigation and fix.

Remember that if a test has been skipped for a decent amount of time, it may n

[2020-02-20 20:32] ferristseng opened #13493 "[Flaky Test] Task queue attorney user with assigned tasks displays a table with a row for each case assigned to the attorney"
## Background/context/resources

[code]

 - Circle CI Error: https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/70595/tests
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    + #13494

## Approach

Time box this investigation and fix.

Remember that if a test has been skipped for a decent amount of time, it may no

[2020-02-20 20:33] ferristseng opened #13494 "[Flaky Test] AmaQueue Judge has a case to assign to an attorney judge"
## Background/context/resources

[code]

[code]

 - Circle CI Error:  https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/70595/tests
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remember that if a test has been skipped for a decent amount of time, it may

[2020-02-20 20:37] ferristseng opened #13495 "[Flaky Test] Withdrawing an appeal"
## Background/context/resources

[code]

[code]

[code]

[code]

 - Circle CI Error: https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/70474/tests
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remember that if a test has been skipped for a decent amount o

[2020-02-20 20:38] ferristseng opened #13496 "[Flaky Test] AmaQueue user with case details role should be able to search for a case"
## Background/context/resources

[code]

 - Circle CI Error:  https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/69785/tests
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remember that if a test has been skipped for a decent amount of time, it may no longe

[2020-02-20 20:40] ferristseng opened #13497 "[Flaky Test] Task task timer relationship returns and destroys related timers"
## Background/context/resources

[code]

 - Circle CI Error:  https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/67668/tests
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [x] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remember that if a test has been skipped for a decent amount of time, it may no longe

[2020-02-20 20:42] ferristseng opened #13498 "[Flaky Test] Task.create_and_auto_assign_child_task when the task is assigned to an organization that automatically assigns tasks to its members"
## Background/context/resources

[code]

 - Circle CI Error:  https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/66869/tests
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [x] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remember that if a test has been skipped for a decent amount of time, it may no longe

[2020-02-20 20:44] ferristseng opened #13499 "[Flaky Test] Reader Short list of documents Rotating documents"
## Background/context/resources

[code]

 - Circle CI Error:  https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/64702/tests
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [ ] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remember that if a test has been skipped for a decent amount of time, it may no longe

[2020-02-20 21:15] jcq commented on #13490
It looks like there are some migration tips in this forum post:
https://forum.sentry.io/t/switching-to-sentry-javascript/4732

[2020-02-20 21:30] rutvigupta-design opened #13500 "Motions to Vacate - Return to Judge Banner + Modal (instructions copy)"
## User story

When a decisions attorney is reviewing vacated decision issues and they disagree with the VLJ's decision to vacate specific issues or discover evidence that warrants denying or dismissing the Motion to Vacate, they need a way to return the case to the judge so the judge can address this.

## Problem statement

Decisions attorneys have the ability to correct issue text, however since

[2020-02-20 22:16] hschallhorn commented on #12081
Saw only once and have not seen again. Closing.

[2020-02-20 22:16] #12081 closed

[2020-02-20 22:16] hschallhorn commented on #9924
Have not seen for 10 months. Closing

[2020-02-20 22:16] #9924 closed

[2020-02-20 22:42] pkarman commented on #13278
More today
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/8568/
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/8567/
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/8566/

[2020-02-20 23:49] leikkisa commented on #13248
I think the two things I would need for this are:
1. The new EP codes
1. More information on ITFs:
  - Are these for any supplemental claims a veteran files, or are they for specific issues?
  - If a veteran files an ITF, and then files a SC at the less than a year mark, should the ITF still be marked with "Claim received?"
  - If a veteran files another supplemental claim after an ITF has been ma

[2020-02-21 01:20] jcq opened #13503 "Refactor SelectDispositionsView to use AddEditDecisionIssueModal"
## Description
Currently `SelectDispositionsView` component def includes a modal for adding/editing a particular decision issue. This makes `SelectDispositionsView` very long, and that rightfully should be split out into its own component. We have done the heavy lift of creating the new component as part of MTV work.

## Technical notes
- New component is `AddEditDecisionIssueModal`, currently loc

[2020-02-21 01:21] yoomlam commented on #13255
@alisan16 For your review, I documented tool guidance and tool applicability on a new wiki page: https://github.com/department-of-veterans-affairs/caseflow/wiki/Collecting-Data.

[2020-02-21 01:30] leikkisa commented on #12242
Between the conversations above, and that menu being fully keyboard accessible to me now, I believe this issue can be closed.

[2020-02-21 01:30] #12242 closed

[2020-02-21 02:02] jcq opened #13504 "Migrate to React Router 6.x"
## Background/context
React Router v6 is currently in alpha, but set to release in the not-too-distant future. It brings numerous changes, and there are a number of things that we'll need to do to properly configure our code to work with it.

## Goals

## Success criteria

## Stakeholders

## Requirements/stories

## Open questions

## References/Resources
- [Migration Guide](https://github.com/Re

[2020-02-21 05:52] msj0nes commented on #13389
Solution merged.

[2020-02-21 05:52] #13389 closed

[2020-02-21 07:49] msj0nes opened #13505 "Contested Claims | Attorney Fees | Ability to Intake Attorney Fees Claims"
# Background/Context
The Board of Veteran's Intake team requires the ability to intake 'Attorney Fees' contested claims. These claims are submitted by the Veteran's attorney (past or present) for VA legal services rendered, requesting payment.

**Claimant Type**: Private Attorney

**Contested Claim Types**: Non-Apportionment >  Attorney fees

# Goals
Caseflow BVA users can intake claims belonging

[2020-02-21 10:46] msj0nes commented on #13505
## Open Questions / Research Required

- [ ] The option would also exist for the BVA user to update this information in VBMS. Do we want to make it editable in Caseflow and would that info update VBMS.
- [ ] What conditions require Caseflow to block or prevent the user from proceeding in the Intake flow ?

### Design / Research Team Findings
[to be added here]

[2020-02-21 14:57] pkarman commented on #12791
@D-L-Ware wrote:

Is there any reason not to delete a `LegacyAppeal` record that no longer points to a VACOLS case? If the VACOLS case is removed, the BVA is essentially saying they don't want/need to track the history of that particular case record anymore. Could Caseflow just do the same?

*NOTE* that I am not referring here to hearings or hearing association records. Those are a separate issue.

[2020-02-21 15:29] D-L-Ware commented on #12791
No reason from a business perspective.  As @pkarman said, the business has made the decision to permanently delete them from the legacy system of record so Caseflow could mimic that.  My statement above really just came from an assumption about Caseflow whether to delete or not in Caseflow come down to whatever the team thinks is best and is comfortable with.

[2020-02-21 16:03] #12810 closed

[2020-02-21 17:23] leikkisa opened #13507 "Motion to Vacate | Code audit"
## Description
Because Motions to Vacate is a significant feature with a lot of code, and there was some discovery and changes happening during development, it would be good to do an overall code audit to look for things that could be cleaned up.

This is not an attempt to make the code perfect, but is an opportunity to look at the whole feature holistically and look for opportunities to organize,

[2020-02-21 17:32] yoomlam commented on #13269
Only 1 child org task was found: `=> {"User"=>3743, "Organization"=>1}`
[code]

Here's its appeal tree:
[code]

My interpretation of events that resulted in the tree:
* On 2019-08-20, 3 tasks were created consecutively, 341040 through 341042.
  * 341042 was auto-assigned(?) to HALL within 10 seconds
* On 2019-10-11 14:33:12, 465588 was created and assigned to Colocated team.
  * 8 seconds later, a

[2020-02-21 17:36] jcq commented on #13073
@rutvigupta-design What should the "detail" message be for this alert?

I'm setting the title to "Disposition Saved", but I need to override the detail (smaller text) with something

[2020-02-21 18:10] kevmo commented on #12979
Anything Caseflow doesn't recognize is "other" by default.  Supposedly exhaustive list of categories exists in email (cc @jimruggiero) and will be attached to this  ticket.

No new labels are expected anytime soon (list was made during AMA) - this is about bringing Caseflow into compliance.

[2020-02-21 18:12] kevmo commented on #12979
# Estimation: 3

_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

[2020-02-21 18:15] kevmo commented on #13438
Investigation: Different types of tasks will require different handling (e.g. different status changes). Most can probably be closed.

[2020-02-21 18:17] kevmo commented on #13438
# Estimation: 3

_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Why is this a 3? Decent quantity of work, reasonably well-defined. Why a 5? Investigating all the different types isn't _that_ well-defined.

[2020-02-21 18:18] ferristseng commented on #12648
@nicholer Would it be fine to use the state abbreviation in the new column? Most, if not all, of the veteran's addresses have state stored as the abbreviated value. We could create a mapping from the abbreviated value to, but just wondering if that's necessary.

[2020-02-21 18:23] kevmo commented on #13433
Make sure old URLs continue to workwhile defaulting to displaying new URLs.

[2020-02-21 18:27] kevmo commented on #13433
# Estimation: 3

_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Why a 2?  Straightforward!!!  This is what Rails does, "add one line, change another line, make a test..."

Why a 5? Could blow up because this URL is going through React Router.  Pass through many different components.  Front-end refactoring could dramatically expand the amoun

[2020-02-21 18:32] kevmo commented on #12871
🔍 Find ~760 elements missing aria roles & add aria roles! However, this _could_ potentially just be a regex find and replace. The epic includes a listing of the number of errors. See the w3 link above for types of aria roles.  --> There will be some investigation.

[2020-02-21 18:34] kevmo commented on #12871
# Estimation: 5

_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Potentially tedious ticket with much double-checking.

[2020-02-21 18:38] kevmo commented on #13225
# Estimation: 1

_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Why is this a 1? This isn't complicated -- the code just had to be left in because production data was in a state that required this code.  Ensure prod data is no longer in this state, then make that change! 🎶

[2020-02-21 18:48] kevmo commented on #12681
Beginning point of this ticket:

[2020-02-21 18:50] kevmo commented on #12681
# Estimation: 3

_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Document manual process. Then investigate impacts and what we should do in the future.

Why could this be a 5? Lot of discovery re who we need to talk to, coordinate with --> overhead costs.  Why could this be a 2? Could already be a decent amount of discussion in Github/Slack a

[2020-02-21 18:50] rutvigupta-design commented on #13073
Attaching designs for the success banner for denied and dismissed motions.
![Judge-Deny-Success](https://user-images.githubusercontent.com/51714306/75062620-c97ef100-54a8-11ea-8bf7-d0f9ec2ff1d0.jpg)
![Judge-Dismiss-Success](https://user-images.githubusercontent.com/51714306/75062622-cab01e00-54a8-11ea-8c2d-f26aab8459da.jpg)

[2020-02-21 18:54] kevmo commented on #10948
What is the ask here? The ask is Investigate the issue and stop sending Sentry alerts to Slack -- do this validation elsewhere (so don't do it on backend).  If we find out diagnostic code isn't needed, catch this error instead of sending it to Sentry.

[2020-02-21 18:56] nicholer commented on #12648
@ferristseng Abbreviations are fine!

[2020-02-21 18:57] kevmo commented on #10948
# Estimation: 3

_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Why is this a 3?  Fair amount of investigation - where/why it's happening + intended result.

[2020-02-21 18:58] kevmo commented on #10980
Probably need to check on how Redux is updating, then make the fix from there.

[2020-02-21 19:00] rutvigupta-design commented on #13073
@jcq here is the banner for granted motions (full or partial vacaturs).
![Judge-Grant-Success](https://user-images.githubusercontent.com/51714306/75063251-1f07cd80-54aa-11ea-8118-ac8dd017d898.jpg)

[2020-02-21 19:00] kevmo commented on #10980
# Estimation: 2

_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Why could this be a 1? The most immediate cause is clear - calling a method on a null object!

Why could this be a 3? Could be hard to replicate - what is the order of events causing this?  Tracking and replicating could elevate this to a 3!

[2020-02-21 19:52] yoomlam commented on #13269
@hschallhorn What is considered odd mail task tree?

[2020-02-21 20:05] alisan16 commented on #13255
Amazing! Can you move this to the appeals-team wiki? I am putting together updated guidelines for documentation, but since the purpose of this guide is for the Caseflow team to improve how we work and what we work on, it should go into the appeals-team wiki. The caseflow wiki is for technical documentation related to the Caseflow application.

[2020-02-21 20:36] jcq commented on #13228
@rutvigupta-design @leikkisa Do we have designs and/or copy for the instructions for submitting via email?

[2020-02-21 21:18] yoomlam commented on #13255
Moved to https://github.com/department-of-veterans-affairs/appeals-team/wiki/Collecting-Data and added a link in the sidebar.

@alisan16 What's left to do on this ticket? Do you have any feedback regarding the epic: https://docs.google.com/document/d/1s-akZeibptmhb4HF0Z5B8GrYG4ukYI81gq0ms1d2BXQ/edit#heading=h.u2ipswaytb2v?

[2020-02-21 21:26] hschallhorn commented on #13279
Fixed [here](https://dsva.slack.com/archives/CJL810329/p1582306169365000). Waiting for response [here](https://github.com/department-of-veterans-affairs/dsva-vacols/issues/99) to ensure this is fixed

[2020-02-21 22:07] alisan16 commented on #13255
Re-read the proposal and added some comments, but in general let's pause the creation of the epic and implementation. I've updated this ticket to just focus on the data and metrics tooling, and once we make more progress on defining the specific data needs, that's when we can revive defining an analytics strategy.

The wiki you created above fulfills the AC on this issue and it can be closed.

[2020-02-21 22:07] #13255 closed

[2020-02-21 23:49] jcq commented on #13313
## Screenshot
(Attorney checkout is the current live task)

<img width="892" alt="Screen Shot 2020-02-21 at 15 47 41" src="https://user-images.githubusercontent.com/2581274/75080759-ca704c80-54c1-11ea-9740-8f535e6eab65.png">

[2020-02-22 01:58] msj0nes commented on #13505
## Foxtrot
Showcasing the information with the overall 'Contested Claims' umbrella notion. As a team we can decide whether to pursue the umbrella or just the 'Attorney Fees' provided on our roadmap. Tackling in its entirety now eliminates having to eliminate in the future. If contested claims umbrella becomes the direction, a discussion with stakeholder regarding our timeline will follow.  Timelin

[2020-02-24 13:21] msj0nes commented on #13505
## Engineering Research - Sample Cases

Provided by B. Cannon: I have spoken to two experts.  They have confirmed that attorney fees decisions typically take the form of a “Summary of the Case” document.  These may be titled as “Administrative Decision,” “Notification Letter,” or “Correspondence.”   Some examples below.  Sometimes, a decision will be made in the notice letter following a rating de

[2020-02-24 16:48] hschallhorn commented on #13175
# [Peace Corps](https://en.wikipedia.org/wiki/Peace_Corps) sprint (Feb 24 - Mar 8) engineering priorities
@yoomlam, @ajspotts, @kevmo, @lomky, @jimruggiero, @araposo-tistatech, and @hschallhorn, here are the priorities for this sprint!
## Priorities
### Special case movement #11801
1. :star: SCM: SCM Team can view Judge's Assign Queue #12423
1. :star: SCM: Allow SCM Team members to perform actions

[2020-02-24 19:21] #13279 closed

[2020-02-24 20:42] ferristseng commented on #13310
One discovery is that the timezone for the `/api/v2/hearings/:date` alternates in the local dev environment.

It's also possible to get the API controller in a situation where it thinks `Time.zone` is on the West Coast:

[code]

[2020-02-24 22:47] leikkisa opened #13518 "Motion to Vacate | Return to Lit Support Banner"
## User or job story
When a judge is addressing a Motion to Vacate, if the Lit Support team did not provide their draft decision proposal, the Judge can return the task to them to request it.

Currently, the banner implemented was not implemented according to design and is using a flash message, which doesn't work properly for queue.

## Acceptance criteria
- [ ] Please put this work behind the fe

[2020-02-25 01:26] #13069 closed

[2020-02-25 01:28] leikkisa commented on #12692
# Peace Corps Sprint 2/24/2020 - 3/9/2020
Engineering capacity: 63%

## Sprint status
:arrow_right_hook: Carryover: 23
:arrow_right_hook: ✅Carryover completed:
:arrow_right_hook: Remaining: 23

⭐️ Points pulled in for this sprint: 14
⭐️✅Points from this sprint completed:
⭐️Decided not to do:
⭐️Remaining: 24

👾Space invaders pulled in:
👾✅Space invaders completed:
👾Remaining:

Total to do:
Total poi

[2020-02-25 01:31] #13318 closed

[2020-02-25 01:31] #13333 closed

[2020-02-25 01:31] #13222 closed

[2020-02-25 01:33] #13007 closed

[2020-02-25 01:34] #13355 closed

[2020-02-25 01:34] #13311 closed

[2020-02-25 01:34] #10815 closed

[2020-02-25 01:35] #12143 closed

[2020-02-25 01:38] #13319 closed

[2020-02-25 01:40] #13385 closed

[2020-02-25 01:40] #13071 closed

[2020-02-25 01:42] #12786 closed

[2020-02-25 07:07] msj0nes commented on #10164
Support has no access to CSEM/CSUM. Access is restricted to only local CSEM designated initiators and Information Security Officers.

[2020-02-25 07:10] tomas-nava opened #13521 "[Flaky Test] TaskFilter.filtered_tasks when filtering by case type when filter includes Original and Supplemental and AOD returns tasks with Original or Supplemental case types or AOD cases"
## Background/context/resources
[code]

 - Circle CI Error:  [TaskFilter.filtered_tasks when filtering by case type when filter includes Original and Supplemental and AOD returns tasks with Original or Supplemental case types or AOD cases](https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/104085/parallel-runs/4?filterBy=FAILED)
 - Has the test already been skipped in the

[2020-02-25 07:29] msj0nes commented on #12593
@leikkisa  for this ticket considering VBA does indeed have a same station policy and we've resolved it for BVA recently (to allow same station), is there any engineering intervention to resolve this when it occurs outside of providing clear error messaging.

Error message, rather than displaying **not authorized**, provide 'Same station error' so user(s) know the specific reason? If there is a VB

[2020-02-25 08:42] msj0nes commented on #12254
@leikkisa is this safe to close now. Considering duplicate vets is resolved outside of Caseflow (business process based) and the latest error https://app.zenhub.com/workspaces/caseflow-5915dd178f67e20b5553ba0c/issues/department-of-veterans-affairs/caseflow/13240 message provides clear instructions, was there anything additional engineering had remaining to complete.

[2020-02-25 08:43] msj0nes commented on #11742
@leikkisa is this safe to close now. Considering duplicate vets is resolved outside of Caseflow (business process based) and the latest error https://app.zenhub.com/workspaces/caseflow-5915dd178f67e20b5553ba0c/issues/department-of-veterans-affairs/caseflow/13240 message provides clear instructions, was there anything additional engineering had remaining to complete.

[2020-02-25 14:39] hschallhorn commented on #13269
We don't expect colocated org tasks to be children of a colocated user's task

My concern is with reporting and these tasks possibly not closing correctly when complete.

[2020-02-25 14:58] araposo-tistatech commented on #12979
Attached is the list of document types that need to be added to Reader.

[Copy of 64827- Master Document Type Categories R18.1.xlsx](https://github.com/department-of-veterans-affairs/caseflow/files/4250606/Copy.of.64827-.Master.Document.Type.Categories.R18.1.xlsx)

[2020-02-25 15:50] #13321 closed

[2020-02-25 15:52] pkarman opened #13522 "[Flaky Test]"
## Background/context/resources

[code]

[2020-02-25 16:11] ferristseng opened #13523 "Figure out code paths that are not well tested for Hearings-related code"
## Description

This issue came out of one of our retros. We had a deployment issue for the external facing hearings API that VEText consumes that ended up being caused by a method that did not exist. We were brainstorming ways to prevent this from happening in the future, and one idea was to improve testing on code paths that weren't well tested. In order to do that, we need to review the hearing

[2020-02-25 16:16] ferristseng opened #13524 "Research retrying for flaky feature tests"
## Description

From the Backend Workgroup Discussion on Flaky Tests: we discussed potentially adding a retry for flaky feature tests to improve the reliability of the test suite. Adding a retry for feature tests should be OK (won't cause false positives) because flaky feature tests usually fail from timing issues, that already might not be realistic in a non-test environment.

Keep this effort ti

[2020-02-25 16:22] chandracarney opened #13525 "Update Pexip URL and theme ID"
## Description
Change Pexip URL and theme ID to support the new Pexip updates and changes after they're rolled out by Pexip. Once this work is finished, verify connection and to verify that we can still schedule and break down hearings in the dev environment

## Acceptance criteria
- [ ] ~~Change the API url to use /v2/*~~
- [ ] Update Pexip URL from / webapp to /bva-app
- [ ] Update theme ID

##

[2020-02-25 17:24] rubaiyat22 commented on #13525
Since we've already confirmed that the production credentials work in prod, I want to hold off on this until we find out exactly why we need to do this for uat.

[2020-02-25 18:20] ajspotts commented on #12145
@alisan16 I was unable to recreate the problem listed in the ticket.  Utilizing JAWS I was able to successfully navigate with the keyboard to both the Categories and Issue Tags and interact.
Here is the interaction with the Categories filter:

![ezgif com-crop](https://user-images.githubusercontent.com/18618189/75271762-bb8fdf80-57ca-11ea-95da-f0913de576d6.gif)

Here is the interaction with the Is

[2020-02-25 19:59] rubaiyat22 commented on #13525
Holding off on this until we understand why we need to make these changes on UAT

[2020-02-25 20:09] pshahVA commented on #13525
@rubaiyat22 One part of the test in production is to test a hearing with the new version of the pexip.  Since we are a little behind schedule in production rollout, I thought it would be good to connect to the prod url create hearing rooms and then actually log in as a Judge and veteran to see how this integration works.  It would also be easier to test with non veterans in uat (edited)

[2020-02-25 20:31] rubaiyat22 commented on #13525
@pshahVA Thanks for clarifying! What does v2 and has changed with v2 for Pexip? Does this also apply to UAT?

[2020-02-25 20:34] pshahVA commented on #13525
Apparently in production, they want us to use V2, which will change the look and feel for the Veteran and Judge.  They just never told us.

[2020-02-25 21:47] alisan16 commented on #12145
@ajspotts This ticket is actually about Caseflow Reader, which is the document viewer that opens when you click on one of the documents. The categories/issues section on the right hand side bar:

<img width="1332" alt="Screen Shot 2020-02-25 at 4 46 28 PM" src="https://user-images.githubusercontent.com/1198106/75290493-6e256980-57ee-11ea-9a8c-ee0ee793114f.png">

[2020-02-25 22:42] rubaiyat22 commented on #13524
There's a rspec gem [rspec-repeat](https://github.com/rstacruz/rspec-repeat#attaching-to-features) that allows us to add retries only on feature tests with a retry count. This gem is built on top of another fully featured gem [rspec-retry](https://github.com/NoRedInk/rspec-retry#installation) which allows for the same. You can also retry specific examples with these gems.

Some unknowns about usin

[2020-02-25 23:02] ferristseng commented on #13524
Agreed. `rspec-retry` looks like it's used by more projects as well.

Yes, good call on this. Do you want to make a small PR that integrates `rspec-retry` into our test suite?

[2020-02-25 23:04] rubaiyat22 commented on #13524
+1 will work on it in an upcoming PR

[2020-02-25 23:20] leikkisa opened #13532 "Manual fix | Manually cleared claim with no decisions"
## Description
This ticket is to track end products that were manually cleared where no decision is expected.

When a claim is cleared, we keep the request issues active until decision issues have been synced, which requires a disposition, as well as a new rating issue (for rating issues).

If no decision is expected, we need to close the decisions with "no_decision" so that the issues are availab

[2020-02-26 00:14] leikkisa commented on #13532
- [x] claim id: 73552171

From https://dsva.slack.com/archives/CFBLH2LR4/p1582661613023500

[2020-02-26 02:10] leikkisa opened #13533 "Transaction failed for unknown reasons"
## Description
Error message:
An error occurred while establishing the claim: Unable to establish claim: GUIE99999TRANSACTION FAILED FOR UNKNOWN REASONS - An unexpected error was encountered.  Please contact the System Administrator. Error is: GUIE99999TRANSACTION FAILED FOR UNKNOWN REASONS
Claim not established. System error with BGS.

## Impacted reviews:
SC 290347 - Resolved

[2020-02-26 02:13] #13533 closed

[2020-02-26 03:04] leikkisa commented on #11742
@msj0nes There's still 4 left that need to get resolved before we should close this ticket.

[2020-02-26 03:25] leikkisa commented on #12590
We have heard this is because the veteran's birthdate has a "5" instead of an "05".

[2020-02-26 03:46] yoomlam commented on #13269
I assume you are referring to PrivacyTeam's org `Task` 467229 being a child of user BVALLEWIS's `ExtensionRequestMailTask` 465589. (I'm assuming the PrivacyTeam's org task is considered a Colocated org task.)

Some more info:
* 341042 was cancelled by css_id: `CASEFLOW1` at the exact same time 465589 was created.
  * Perhaps this was done by a BatTeam member?
* 465589's status changed from `assign

[2020-02-26 03:47] leikkisa commented on #12593
Moving this to comments:

[2020-02-26 03:50] leikkisa commented on #12593
These need to get switched to a different user.  Hopefully we don't see any more of these, but if we do, here's how to process them:

Cancel the establishment with the note that this intake needs to be processed by a different user due to permissions. See `ClaimReview.cancel_with_note!`

Other than that, this ticket can be closed.

[2020-02-26 03:50] #12593 closed

[2020-02-26 03:52] hschallhorn commented on #13269
I was actually referring to the ExtensionRequestMailTask assigned to colocated with a ExtensionRequestMailTask assigned to colocated parent (465588 and 341041). Essentially an org task where we would expect a user task to be (definitely misspoke, apologies)

This was probably done by @kevmo when migrating GenericTask to Task

[2020-02-26 04:08] leikkisa commented on #11742
One more YourIT ticket for the last 3:
INC9671124
https://yourit.va.gov/va?id=ticket&table=incident&sys_id=49533cccdb978450f37af50d0f96193d

[2020-02-26 15:22] hschallhorn opened #13535 "Api::V2::HearingsController GET hearings by hearing day with valid API key response for hearing day with hearings ama hearings is virtual returns a 200 and has expected response"
## Description

## Background/context/resources

 - Circle CI Error:  [Api::V2::HearingsController GET hearings by hearing day with valid API key response for hearing day with hearings ama hearings is virtual returns a 200 and has expected response](https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/104233/parallel-runs/4?filterBy=FAILED)
[code]
 - Has the test already be

[2020-02-26 15:38] ferristseng commented on #13310
Including a fix for the issue of the timezone not being reset after any request to a route that inherits from `ApplicationController` in this PR: https://github.com/department-of-veterans-affairs/caseflow/pull/13187

[2020-02-26 15:52] rutvigupta-design opened #13536 "Motions to Vacate - URL instructions copy (for motions attorney and VLJ)"
## User story

Motions Attorneys and Judges need a way to understand the value of adding their draft and signed denial/dismissal letters in the Shared Drive to help streamline communication and their workflow.

## Problem statement

Litigation Support requested the feature of using URLs to handle denial and dismissal draft letters between motions attorneys and VLJs. Currently, it is unknown where

[2020-02-26 17:14] yoomlam commented on #12423
For this ticket, after SCM assigns to judge, user will be redirected to the judges assign queue.
Context: https://dsva.slack.com/archives/CJL810329/p1582728819042700

[2020-02-26 19:55] #13521 closed

[2020-02-26 20:08] ajspotts commented on #12145
@alisan16 I was also able to navigate the Reader sidebar Categories and Issue tags sections using JAWS without issue.

![Feb-26-2020 14-57-51](https://user-images.githubusercontent.com/18618189/75382413-72ae5880-58a8-11ea-872a-37174f162347.gif)

[2020-02-26 20:18] ferristseng opened #13539 "Add validation for hearing day model"
## Description

The data in our UAT environment was corrupted during a security assessment by OIT. The result was that the `request_type` field on the `HearingDay` table was overwritten with malicious data. Rails was able to sanitize the data to prevent any type of SQL attack, but the field now has erroneous data that causes the frontend to crash.

## Acceptance criteria
- [ ] Add validation to th