[2017-04-12 21:34] gnakm commented on #1400
I'm going to close this because this has been fixed and the button is being worked on. Please feel free to open if you feel it's necessary!

[2017-04-12 22:00] gnakm commented on #1090
Add this spec #1523

[2017-04-12 22:00] gnakm commented on #1523
@lakohl Thanks! I'll add this spec into the existing issue. #1090

[2017-04-12 22:10] joofsh opened #1557 "Upgrade Caseflow node/npm version"
Our version of node used by Caseflow is very old and outdated. We should upgrade to the newest LTS.

Ensure that the newest version can be installed/run on travis

[2017-04-13 01:40] kierachell opened #1559 "Work History | Stale Object Error"
# Description
When two Caseworkers click **Establish next claim** for the same task - only one of them wins. And the other causes a StaleObjectError

## Reproduction Steps

1. Login as Caseworker 1

1. Login as Manager

1. Login as Caseworker 2

1. Load up the queue with 1 task

1. As a Manager set number of workers to 2

1. Click **Establish next claim** as Caseworker1 and quickly as Caseworker2

[2017-04-13 01:43] kierachell commented on #1416
**PASSED**
![precompleted](https://cloud.githubusercontent.com/assets/18075411/24986585/1552653e-1fc9-11e7-862a-1fc2c60f971d.gif)

[2017-04-13 01:43] #1416 closed

[2017-04-13 02:04] kierachell commented on #1433
I am...sorry to do this...

but

<img width="1238" alt="screen shot 2017-04-12 at 10 03 42 pm" src="https://cloud.githubusercontent.com/assets/18075411/24987084/ea035b56-1fcb-11e7-8a41-a1a1118de635.png">

please note the verbiage in the document displayed.

[2017-04-13 12:19] astewarttistatech commented on #1287
**PASSED**

Tested in: UAT
Browser: FF

Steps to Validate:
1. Find a valid VACOLS ID and add it to the referenced link above, in between the two forward slashes with space between them.
2. Validate the UI of the header appears as the AC and mock described.

Screenshots:

<img width="1412" alt="screen shot 2017-04-12 at 2 51 46 pm" src="https://cloud.githubusercontent.com/assets/23038505/25004345/e

[2017-04-13 12:19] #1287 closed

[2017-04-13 12:25] astewarttistatech commented on #1528
@tejans24 is the header referenced in this ticket, the Caseflow Reader header from issue #1287 ?

[2017-04-13 12:37] astewarttistatech commented on #1282
**PASSED**

Validated in: UAT
Browser: FF

Steps to Validate:
1. Go to a valid VACOLS ID for reader (with documents).
2. Select a document out of the list
3. If there are no comments already, select "Add a Comment" button
4. Select on the PDF viewer, where you would like to comment
5. Add copy in the Edit Comments section to the right of the PDF viewer.
6. Select Save
7. Validate the icon matches

[2017-04-13 12:40] astewarttistatech commented on #1104
Thanks @shellicious !

[2017-04-13 12:47] astewarttistatech commented on #1104
**PASSED**

Validated in: UAT
Browser: FF and Chrome

Steps to Validate:
1. In Certification V2, go through the flow of certifying an appeal (that has all needed forms).
2. The Sign and Certify page should show up without having a viewable Form8 generated. (this should only be done backend)
3. Select Continue from this page to see the success page.

Screenshots:
![caseflow certification](https://c

[2017-04-13 12:47] #1104 closed

[2017-04-13 12:49] astewarttistatech commented on #1081
@tejans24 I added a header to allow clearer viewing of the comment. In the future, could you add it to the actual AC at the top of the comment.

[2017-04-13 12:49] astewarttistatech commented on #1081
**PASSED**

Validated in Demo
Validated on FF (Chrome browser is experiencing issues)

Steps to Validate:

   1. Go to Style Guide and verify the section for searchable dropdown

Screenshots:
<img width="1347" alt="screen shot 2017-04-13 at 8 48 05 am" src="https://cloud.githubusercontent.com/assets/23038505/25005269/28a4b8b4-2026-11e7-9c35-f1f8cf3916ab.png">

[2017-04-13 12:49] #1081 closed

[2017-04-13 13:40] kierachell commented on #1176
**PASSED**
<img width="1141" alt="screen shot 2017-04-13 at 9 36 30 am" src="https://cloud.githubusercontent.com/assets/18075411/25007064/14818e14-202d-11e7-9669-67d10a4b7031.png">
uploaded 2 form 8s!

<img width="1412" alt="screen shot 2017-04-13 at 9 39 42 am" src="https://cloud.githubusercontent.com/assets/18075411/25007085/25c5afe8-202d-11e7-92f4-dca836ad3814.png">

EP created:
<img width="106

[2017-04-13 13:40] #1176 closed

[2017-04-13 13:50] kierachell commented on #1270
**PASSED**
@slj is right.
The last scenario is covered by #1280

[2017-04-13 13:50] #1270 closed

[2017-04-13 14:00] Sjones352 commented on #1400
@gnakm re-opening issue as I work off the Acceptance Criteria.

[2017-04-13 14:16] cmgiven commented on #819
There's an issue here. The logic assumes that there is not more than one task per appeal, but this is not necessarily the case. If a task expires (completion status of 2), it'll be recreated.

[2017-04-13 14:38] NickHeiner commented on #1442
Have we considered using something like Flow or Typescript instead?

[2017-04-13 15:08] mmlumba commented on #1418
@lakohl upon further discussion @shanear and I concluded that the error should notify the user that the task has no decisions (or the decisions could not be loaded), and that the user should cancel out of the task

[2017-04-13 15:33] gnakm opened #1562 "Caseworker Landing | No more assigned"
**Story**

As a caseworker, I want to know if I have completed all the claims assigned to me and if there aren't or aren't any more claims in the queue for me to work on.

This happens in two scenarios:
1. No more assigned, still more claims in queue
1. No more assigned, no claims in queue

## Description
In these cases, x assigned, y completed numbers are the same. At this point, a caseworker can

[2017-04-13 15:38] lakohl commented on #1418
If there is no decision in VBMS the case should never be picked up by Caseflow. So this scenario would cover a scenario when the decision could not be uploaded. I agree let's use an error message (red bar) to indicate this.

[2017-04-13 15:45] gnakm opened #1564 "Caseworker Landing | Assigned claims, no claims in queue"
**Story**

As a caseworker, I want to know if I have claims assigned to me but there aren't any claims in the queue for me to work on.

## Description
This is a case where x assigned > y completed and there are currently no more claims to be established in the queue. At this point, a caseworker cannot work on anything but will need to come back to check if there are any available at another time.

[2017-04-13 15:47] gnakm commented on #1562
@lakohl I split up the issues in this repo. Can you review these?

[2017-04-13 15:47] gnakm commented on #1501
@lakohl I split up the issues in this repo. Can you review these?

[2017-04-13 15:47] gnakm commented on #1564
@lakohl I split up the issues in this repo. Can you review these? For this one, I'm specifically concerned about the title.

[2017-04-13 15:58] lakohl commented on #1564
@gnakm this looks good to me. @avrildavid can you lend a second pair of eyes to the title.
We are trying to describe a scenario where there are no more cases in the overall queue/ no more cases left for ARC to work that day

[2017-04-13 15:58] mmlumba commented on #1086
@gnakm Just to give background context, we currently have 3 different styles for headers:

[Icon] **Caseflow** `Application Name`

On the work queue page there doesn't need to be a page title.
On workflow pages we have the option of including the page title using the following format (the title should reflect any navigation, like progress bars, that are used in the app)

[Icon] **Caseflow** `Appli

[2017-04-13 16:01] gnakm commented on #999
This menu indicates which user is signed in and contains links to submit feedback, view the application’s help page, see newly launched features, and log out. Users can view their names on the navigation bar at all times and click on the dropdown icon to view options.

[2017-04-13 16:01] mdbenjam opened #1565 "Change name of DecisionReviewer to Reader"
We initially called the Reader DecisionReviewer. This is a terrible name... Remove it and change it to Reader!

[2017-04-13 16:03] lakohl commented on #1562
@gnakm @avrildavid This looks good, but on the third line lets be consistent with how we message no more claims in the queue on #1564 e.e. if we say 'There are no more claims in the queue.' we should use that verbige on the third line here. Likewise if we say 'There are no more claims to pick up' on #1564 we should use that here.

[2017-04-13 16:07] joofsh commented on #819
To QA: Sharon is out on vacation, ping me if you find any issues

[2017-04-13 16:09] mdbenjam commented on #1324
This is probably easiest to do after #1268 is merged

[2017-04-13 16:09] lakohl commented on #1562
@gnakm the ARC team seemed to like the emojis as a way to indicate that they finished their daily assigned cases. I'm thinking that they might also be a good visual indicator here maybe next to Congratulations or to 'You have finished all the cases assigned to you'.

@avrildavid Also to consider, using 'Way to go!' vs. 'Congratulations'

[2017-04-13 16:14] lakohl commented on #1501
@gnakm @avrildavid lets keep the messaging consistent with #1562 (except for the No more claims left part)

[2017-04-13 16:46] aroltsch commented on #1442
@amprokop ^^

[2017-04-13 16:50] lakohl opened #1566 "Confirmation page | Update emoji styling"
As a case worker I would like to know when I finish my assigned cases for the day. I would like to receive a congratulatory message when all my cases have been completed.

## AC
1. Verify that the emojis appear in the correct order (add pic): Flex biceps, Laptop, flag
1. Verify that the Emojis are above `Way to go!` text
1. Verify that Way to go! is in`h2`
1. Verify that the Emojis and End product

[2017-04-13 16:51] lakohl commented on #1566
We need to use the right emojis and put them in the right order. They could also be bigger!

[2017-04-13 17:17] NickHeiner commented on #1527
This work overlaps with #1274, because both are updating the Categories column. Now I'm having merge issues and it looks like @tejans24 and I duplicated effort.

[2017-04-13 17:25] amprokop commented on #1442
We haven't seriously considered either option although folks chatter about them from time to time. We should make a discussion issue to talk about it!

For now, I think we should continue using PropTypes though, as it accomplishes (some of) the same thing and adding a new tool entirely, propagating that info to the team, training everyone up, etc will be much more involved.

Thoughts, @NickHeiner

[2017-04-13 17:34] NickHeiner commented on #1274
Does this ticket include persisting the category selection for a document to the server?

[2017-04-13 18:22] abbyraskin commented on #1274
@NickHeiner in my mind, yes. but if you think it should be broken out separately let me know...

[2017-04-13 18:23] NickHeiner commented on #1274
Nope, that's fine, just wanted to clarify.

[2017-04-13 18:27] abbyraskin commented on #1274
@NickHeiner I added a dev note at the top

[2017-04-13 18:41] aroltsch commented on #1442
I have very limited knowledge about ReactJS so I will go with whatever is decided.

[2017-04-13 18:45] shanear commented on #1256
Updating AC for technical reasons:

### Old AC

Now tasks are invalidated nightly, instead of when the Missing Decision page is visited, for performance reasons.

[2017-04-13 18:48] NickHeiner commented on #1274
👍 sounds good.

Is there a UI spec for what happens if the persisting to the server fails?

[2017-04-13 18:56] shanear commented on #1417
The mystery is finally solved. Turns out this is a bug in VBMS and these claims can only be established via the UI. We should show an error message to the user notifying them of this.
@lakohl @abbyraskin can you provide copy?

[2017-04-13 18:56] shanear commented on #1417
Added AC

[2017-04-13 18:59] mdbenjam commented on #1268
@gnakm @abbyraskin This ticket is already really large and fixing the table header isn't trivial. I'm making  new ticket for it.

[2017-04-13 19:00] mdbenjam opened #1567 "Documents List | Fix the Table Header"
We want the table header to always be visible while scrolling. Fix it on the screen.

[2017-04-13 19:09] abbyraskin commented on #1268
@mdbenjam there's a ticket for that here #1471

[2017-04-13 19:12] abbyraskin commented on #1268
I'll remove that piece from the AC so it passes

[2017-04-13 19:13] #1567 closed

[2017-04-13 19:13] mdbenjam commented on #1567
Same as #1471

[2017-04-13 19:20] abbyraskin commented on #1433
updated AC. I owe you 🍦@mdbenjam...

[2017-04-13 19:20] NickHeiner commented on #1274
@abbyraskin it would make things simpler if each doc could only have a single category. What if we said for now, that's a constraint, and we can open it up to having multiple categories if that need arises?

[2017-04-13 19:38] aroltsch commented on #1448
Example:

[code]

[2017-04-13 19:40] abbyraskin commented on #1417
The EP for this claim must be created outside Caseflow.

This veteran does not have a social security number, so their claim cannot be established in Caseflow.

Select Cancel at the bottom of the page to release this claim and proceed to process it outside of Caseflow.

[2017-04-13 19:56] abbyraskin commented on #1274
re: error state...paging @gnakm!

we should probably have as subtle a handling here as possible, perhaps some sort of inline message/call to retry rather than one of the larger alert messages?

@NickHeiner as far as providing users with feedback it succeeded...is it possible to only show the bookmark in the toolbar (next to the document type) only if/after saving it to the db succeeds? or would th

[2017-04-13 20:00] abbyraskin commented on #1274
@NickHeiner just to make sure...we're specifically talking about the call that is made when the category checkbox is selected in the PDF viewer?

[2017-04-13 20:02] abbyraskin commented on #1274
Wondering if it's enough feedback to just not have the checkboxes select until it sends, or if that could be frustrating...

[2017-04-13 20:10] abbyraskin commented on #1274
Also, how do we handle this for comments?

[2017-04-13 20:23] amprokop opened #1570 "Eliminate the need to delete the case record's vbms id in fakes"
In `lib/fakes/appeal_repository.rb`, `load_vacols_data` has the line `record.delete(:vbms_id) if Rails.env.development? && !appeal.vbms_id.nil?`

See https://github.com/department-of-veterans-affairs/caseflow/pull/1545, which was a fix for an issue created by the `record.delete(:vbms_id)` line, which was itself a quick fix for local dispatch being broken. Investigate how to mitigate the need for t

[2017-04-13 20:42] NickHeiner commented on #1274
Yes.

I would recommend against this. I think you're right that it'll make the UI feel sluggish. The typical best practice is to optimistically update the UI, assuming that the backend call will work.

We could not show anything for success, and just have that be the assumed state. Or we could have a little spinner / checkmark that says something like "saving changes ... all changes saved" that ap

[2017-04-13 21:07] gnakm commented on #1274
I don't think we need to show anything for successes. We tested with users without them and it was the assumed state. For the Categories, success is assumed when user sees the icons change in the toolbar, for issue tags, the issues in a box and for saved comments, a new comment box added to the list.

I do see that we may need something for latency. :cringe:

As for straight up errors, what about

[2017-04-13 21:18] gnakm commented on #1274
@NickHeiner I thought about your Google doc "saving..." idea. We currently have loading buttons on the style guide. For Categories and Issues, I wonder if we could have it not in a box and just text with spinner and for the Save button in comment, we can have the button version.

/cc: @abbyraskin
![image](https://cloud.githubusercontent.com/assets/13420618/25024719/007cd29e-206d-11e7-8493-48330de1

[2017-04-13 21:23] NickHeiner commented on #1274
I agree with your idea that success is the assumed state. How about we say:

1. User changes the checkbox.
1. Client fires a request to save to the server.
1. Client immediately updates the UI to make it look like the UI succeeded.
1. If the request succeeds: nothing happens
1. If the request fails: the checkbox goes back to its original state, and the Error Lite appears.

[2017-04-13 21:23] lakohl commented on #1417
mock added above

[2017-04-13 21:43] mdbenjam commented on #1259
@gnakm @abbyraskin Can we remove the actually hide/show menu criteria since it seems #1261 has that as well?

[2017-04-13 21:51] mdbenjam commented on #1259
And what's the gray color behind the Hide Menu button?

[2017-04-13 21:55] gnakm opened #1573 "Document Viewer | Side Menu component Errors"
**Story**

As an attorney who wants to label categories to documents before making a decision, I want to know  when I am unable to add or edit label(s).

## Acceptance Criteria
- Verify that an error pops up in these 3 scenarios:
   1. Request to add or edit Categories failed
   1. Request to add or delete Issue tags failed
- Verify the specs of Error lite component in mock below
- Verify that it

[2017-04-13 21:57] gnakm commented on #1274
I moved the Error Lite issue here #1573

[2017-04-13 21:57] abbyraskin commented on #1259
yep, done.

[2017-04-13 21:59] gnakm commented on #1259
@mdbenjam hex #E4E2E0

[2017-04-13 22:30] lakohl opened #1575 "Make h1 size consistent, introduce h2, define spacing around them"
Currently the size of the page headers is not consistent. As a case worker, I would like to be able to see what page I am on and understand what I am supposed to do there.  I would like the the hierarchy of the page to be easily discernible due to the use of consistent styling across the application.

## **AC**

Page headings:
1. Verify that all page titles follow the new* h1 style: Title Case, So

[2017-04-14 00:46] kierachell commented on #1502
There have been quite a few `dev`-breaking PRs recently; I totally understand if something breaks in `UAT` - that's why QA is here (I go through as many possible permutations of `as real as possible data` to validate new features/fixes). At last `UAT` is finally resembling `prod` in most functional ways - which has been my goal.

However, if something breaks `dev` - I don't know how to help that.

[2017-04-14 00:59] kierachell commented on #1543
assigned @shanear because he added Chromedriver
assigned @joofsh because of all the nodejs updates
assigned @NickHeiner cause yarn and he recently had to go through the pains of using outdated documentation - so he is most likely to remember all the workarounds

[2017-04-14 01:05] kierachell commented on #1433
<img width="210" alt="screen shot 2017-04-13 at 9 04 47 pm" src="https://cloud.githubusercontent.com/assets/18075411/25029593/dd1a4294-208c-11e7-808a-b54495000dd8.png">
👁

hmmmmmm.....

[2017-04-14 02:35] Sjones352 commented on #1430
@nikitarockz @avrildavid @wturne the pdf link takes them to the training repo in github. This poses a question "Do users have github accounts to access it because you have to actually need to be login-ed to access this pdf.

[2017-04-14 12:39] tejans24 commented on #1528
@astewarttistatech No, this is the header for Document List table

[2017-04-14 13:24] avrildavid commented on #1430
Hey @Sjones352 @nikitarockz @wturne - was wondering if there's an asset library where we can save the PDF so that users can view it? Or, the eX PDF guide is up on TMS (though I think that's a process to get it to happen), we could maybe look into having it uploaded to TMS and linking to it that way, but our own asset library seems better for managing it internally.

[2017-04-14 13:54] Sjones352 commented on #1430
@Chingujo what is your take on this. I will be changing the icon to show purple caseflow dispatch
<img width="536" alt="screen shot 2017-04-14 at 9 49 04 am" src="https://cloud.githubusercontent.com/assets/23080951/25044963/be28dcf4-20f7-11e7-8421-1f821f20d67a.png">
 the certification help page has the same although it doesn't say certification.
<img width="504" alt="screen shot 2017-04-14 at 9 49

[2017-04-14 14:01] gnakm opened #1581 "Search | Empty state"
**Story**
When drafting a decision on a case, I want to know if my search words match 0 documents.

**Description**
- Show an empty state that explains 0 results have been found

## Acceptance Criteria
- Validate that the # of document next to search box is always 0
- Validate that `go back to the documents list` is a text link that clears filter
- Validate that expand all button is disabled
- Val

[2017-04-14 14:28] NickHeiner commented on #1442
PropTypes are definitely less involved than Flow or TypeScript. I'm fine sticking with that for now.

[2017-04-14 14:29] joofsh commented on #1557
Deploys work, so this should be auto-QA'd

[2017-04-14 14:31] mdbenjam commented on #1433
@abbyraskin wait, what changed? @kierachell there's another ticket for that.

[2017-04-14 14:32] joofsh commented on #1366
Redux *has* been added to Dispatch officially (via 2 PRs)
https://github.com/department-of-veterans-affairs/caseflow/pull/1452
https://github.com/department-of-veterans-affairs/caseflow/pull/1413

Will follow up with smaller tickets for others pieces of state that still need to be ported over

[2017-04-14 14:36] abbyraskin commented on #1433
@mdbenjam just the "Confirm delete" button text in sentence case

[2017-04-14 14:41] mdbenjam commented on #1182
These issues should all be fixed. Use #1196 to track the only remaining issue.

[2017-04-14 14:41] #1182 closed

[2017-04-14 14:42] mdbenjam commented on #1433
Ah okay cool :)

[2017-04-14 14:44] mdbenjam opened #1584 "UI Tests | Remove error output"
Currently our tests output a lot of errors. This makes the test output hard to follow, and should be cleaned up.

[2017-04-14 14:54] avrildavid commented on #1501
@lakohl, outlining the copy for all three scenarios below:

- Scenario 1: All assigned claims completed. Still claims left in the queue.
**Way to go!**
**Description:** You have completed all the claims assigned to you.  Feel free to pick up an another claim. _(suggesting this text because one user asked if he could continue working claims, so might be good to provide this direction)_
- Scenario 2

[2017-04-14 15:00] mmlumba commented on #1096
@Chingujo What is the ticket for the alert banners? Is it "ready for dev"?

[2017-04-14 15:01] NickHeiner commented on #1532
I'm happy to be part of this discussion, but I think it would be most productive to do it as a synchronous session.

One pitfall off the top of my head: my last company, Opower, had a lot of outbound communications. There were several incidents in which code that was not properly tested resulted in elderly people in Massachusetts receiving IVR calls every 15 minutes from 11pm to 6am the next day.

[2017-04-14 15:09] NickHeiner commented on #1543
No need to mention `yarn` yet until we actually do #1531.

If chromedriver is only being used from Node, we don't even need to `brew install` it, because we can use [`chromedriver`](https://www.npmjs.com/package/chromedriver). But I think we are using it from Ruby, right?

The docs actually worked fine for me. There were no workarounds other than #1483, but that's resolved now.

[2017-04-14 15:18] mdbenjam opened #1585 "Frontend | Better logging"
Currently we use the occasional console.log, but have to allow it via an ES-Lint exception. It would be nice to have a common logging library we could use.

[2017-04-14 15:31] gnakm commented on #1405
Closing this because there is no action item.

[2017-04-14 15:31] #1405 closed

[2017-04-14 16:03] Chingujo commented on #1096
@mmlumba

#1084 is the issue for banner alerts. It is in progress and not ready for dev. However, the styling for alerts should be straight from USWDS

[2017-04-14 16:07] Sjones352 commented on #1400
@gnakm
currently are positioned on top of the textarea. Do you want them on the left of the textarea. Asking because it is not in acceptance Criteria.
<img width="582" alt="screen shot 2017-04-14 at 11 56 41 am" src="https://cloud.githubusercontent.com/assets/23080951/25048433/7e78daf6-210a-11e7-9f5c-654ef4a1bcb6.png">

[2017-04-14 16:33] gnakm commented on #1400
Thanks for bring this to my attention. I fixed it on the AC that message: and the textbox should be side by side.

[2017-04-14 17:04] Chingujo commented on #1084
@gnakm

Updated the issue with use case, AC, and a description. Can you please put the ready for dev label after review? Thanks =D

[2017-04-14 17:10] gnakm commented on #1084
That's perfect @Chingujo We can review better descriptions for each once reviewed with whole team.

[2017-04-14 17:32] amprokop opened #1586 "Add certification v2 test cases with SSOCs [2]"
We should have test cases that have SSOCs for certification V2.

Make sure
- unit tests cover the SSOC-related parts of the React component
- if necessary, feature tests cover a scenario with SSOCs.
- the fake appeals repository should contain an appeal with SSOCs

[2017-04-14 17:44] amprokop opened #1587 "Ensure that DocumentsCheckTable.jsx correctly handles the case with mismatched documents. [1]"
It looks like we handle the scenario where documents match correctly, but it doesn't seem like the logic is correct for the documents check table in the scenario where VACOLS and VBMS dates don't match.

If the documents don't match, in the VBMS column we should display "Not found"

Certification v1 code:
[code]

Certification v2 code:
[code]

Also, let's add a unit test for the new `ssoc_dates_wi

[2017-04-14 17:52] amprokop commented on #1532
@NickHeiner — yep, sorry if I didn't make that clear. The pattern that I've seen work well is:

1. make a github discussion issue
2. ask people to read and think about it and add comments asynchronously to get juices flowing
3. if there's no clear group consensus from async input (for anything complicated there will likely not be), have a synchronous discussion at some point in the future to discu

[2017-04-14 18:48] nemodjuric commented on #1587
ssoc_dates_with_matches unit test seems to belong to appeal_spec.rb, no?

[2017-04-14 19:06] NickHeiner commented on #1532
I think that works well in general. For me, I'm still missing a lot of context, and I think it would be tough to get it asynchronously. But we don't need to do a sync session just for me.

[2017-04-14 19:39] gnakm commented on #1501
@lakohl @avrildavid
Mocks and copy are updated!
Added Emojis

[2017-04-14 19:39] gnakm commented on #1562
@lakohl @avrildavid
Mocks and copy are updated!
Added Emojis

[2017-04-14 19:39] gnakm commented on #1564
@lakohl @avrildavid
Mocks and copy are updated!

[2017-04-14 19:44] avrildavid commented on #1562
@gnakm - super small  update - this one should read "all the **claims**" instead of "all the cases" for consistency.

[2017-04-14 20:33] shanear commented on #1378
From VBMS:

[2017-04-14 20:42] askldjd commented on #1532
My take on this:

 - Setup vets.gov and Appeals VPC peering so they can talk to us without having to open up public endpoints
 - Vets.gov polling Appeals with `GET /appeals-status-changes?time=123` once a day sounds fine to me.
 - I don't have much thought on caching strategy yet without knowing the traffic pattern. I pinged @J-Quag for daily/hourly traffic earlier, so hopefully the data can give

[2017-04-14 21:18] shanear opened #1592 "Allow bangbang (!!) for creating booleans in Rubocop"
Rubocop currently doesn't like the use of `!!value` to convert something into a boolean. However me and @joofsh were chatting about it, and we both like `!!`.

See this PR https://github.com/department-of-veterans-affairs/caseflow/pull/1577/files for context.

Let's take that rule out if everyone agrees.

[2017-04-14 21:53] shanear commented on #1278
Can you reproduce this. Currently I can't see a way to do so.

[2017-04-14 21:55] shanear commented on #1362
styleguide to the rescue @gnakm

[2017-04-14 21:56] shanear commented on #1393
this should have been resolved by https://github.com/department-of-veterans-affairs/caseflow/issues/1281

please re-test

[2017-04-14 21:58] shanear commented on #1424
is this a dup of #964 ?

[2017-04-14 22:00] shanear commented on #1360
this was resolved by https://github.com/department-of-veterans-affairs/caseflow/issues/1429

closing

[2017-04-14 22:00] #1360 closed

[2017-04-14 22:02] shanear commented on #1466
This is a dup of #1559

closing.

[2017-04-14 22:02] #1466 closed

[2017-04-15 00:00] kierachell commented on #1527
What am I validating here? There's no _Issue Tags_ to add here.
<img width="1035" alt="screen shot 2017-04-14 at 7 59 45 pm" src="https://cloud.githubusercontent.com/assets/18075411/25058918/f3fe64fc-214c-11e7-9705-3faeff8a1bc4.png">

[2017-04-15 00:46] kierachell commented on #1315
**PASSED**

_Missing Docs_ works
<img width="960" alt="screen shot 2017-04-14 at 8 07 45 pm" src="https://cloud.githubusercontent.com/assets/18075411/25059049/3fdc2a98-214e-11e7-9c73-2d01a08532eb.png">

_Mismatched dates_ works
<img width="956" alt="screen shot 2017-04-14 at 8 33 44 pm" src="https://cloud.githubusercontent.com/assets/18075411/25059332/9fc49fe0-2152-11e7-8fa2-905b3e61c2ba.png">

_A

[2017-04-15 00:46] #1315 closed

[2017-04-15 00:46] #1393 closed

[2017-04-15 01:04] kierachell commented on #1444
@astewarttistatech
I added the following to test in Preprod:

| BFKEY | BFCORLID/VBMS_ID | First Name | Last Name | Comments |
| ----- | ---------------- | ---------- | --------- | -------- |
| 1010146 | 911011300 | FREDDY | TEST | Ready |
| 1154402 | 123111082 | LYNNE | ROSE | Missing Docs |
| 1499662 | 123111027 | WALSH | MARCIA | Already Certified |
| 1505661 | 123111778 | HARRY | FOSTER | Read

[2017-04-15 01:10] kierachell commented on #1557
**PASSED**
Deploys didn't work.
Then they worked.
Then everyone's `npm` broke
So it works

[2017-04-15 01:10] #1557 closed

[2017-04-15 18:42] kierachell commented on #1433
**PASSED**
Checked on preprod.
![deletecomment](https://cloud.githubusercontent.com/assets/18075411/25066060/9c3da7b2-21e9-11e7-92e8-5caebf291f42.gif)

There's only one bug that is captured by: #680

[2017-04-15 18:42] #1433 closed

[2017-04-15 18:43] kierachell commented on #1417
Talking with Josh on Monday to recreate the data and get a real test case.

[2017-04-15 20:14] kierachell commented on #1256
So I changed TIOCTIME for a claim that had a task and upon visiting *Decision Review* page I get this:
<img width="1286" alt="screen shot 2017-04-15 at 4 12 37 pm" src="https://cloud.githubusercontent.com/assets/18075411/25066540/5db5f65e-21f6-11e7-8147-3c0d25c994f0.png">

coming from this:
https://github.com/department-of-veterans-affairs/caseflow/blob/2737247bab5440c495bf8b87115bcaa91ec67872/cli

[2017-04-16 01:02] kierachell commented on #1543
And/or you already added the changes (like nvm version fix)

[2017-04-16 19:32] kierachell commented on #1080
<img width="1228" alt="screen shot 2017-04-16 at 3 32 25 pm" src="https://cloud.githubusercontent.com/assets/18075411/25073704/ed0c7d3c-22b9-11e7-8970-b6e053cdabe4.png">

well, then...

[2017-04-17 13:23] lakohl commented on #1501
@gnakm I love the emojis! Thanks for updating.
I'm starting to have second thoughts about having 'Way to go!' in green on this page.  It makes the confirmation primary, when really the Work History should be the focus of the page. The emojis might serve the same purpose as the green. Wondering if we could try a version with 'Way to go' as a dark grey h2 (24 px). We can sit down an look at it toget

[2017-04-17 14:30] #1448 closed

[2017-04-17 14:32] joofsh opened #1598 "Sample Production - Number of documents after certification"
For Case Prep design phase, we want to get a sample of the median number of documents after certification date

[2017-04-17 14:41] tejans24 commented on #1527
This needs to be validating that the table shows up with the correct styling and has the right columns.

[2017-04-17 14:42] abbyraskin opened #1599 "Work History | Completed tasks display twice in a row on Work History table"
**Description**
A user reported that the Work History page displayed a duplicate claim after each completed task (see example below). This happened while working claims over the weekend, on 4/15.

**Example**
![image](https://cloud.githubusercontent.com/assets/4042181/25092029/ef8cee5c-2359-11e7-86b7-f32e1c98e159.png)**

[2017-04-17 14:43] abbyraskin commented on #1599
@kierachell have you seen this one before?

[2017-04-17 14:50] shanear commented on #1256
@kierachell  This code isn't addressing the situation where a task is already assigned. It only will prevent them from being assigned or prepared.

[2017-04-17 14:58] shanear commented on #1532
@amprokop in an ideal world, there should be an endpoint we could send a "veteran notification" to, and it would be responsible for determining how to send that notification to the veteran.

That endpoint/service needs to do many things we don't currently do (maybe vets.gov does?):
- send emails
- send SMS messages
- has veterans' contact info and prefered contact method

Once we have that endpoin

[2017-04-17 15:01] mmlumba commented on #1418
<img width="980" alt="screen shot 2017-04-17 at 11 00 34 am" src="https://cloud.githubusercontent.com/assets/4773320/25092779/25ef2e80-235d-11e7-9dba-81811b334322.png">
This is the more "error-y" message....please specify styles and copy as necessary

[2017-04-17 15:17] NickHeiner commented on #1324
Marking as blocked on #1268.

[2017-04-17 15:26] #1598 closed

[2017-04-17 15:27] sharonwarner commented on #1532
Do the appeal status changes come from VACOLS? What's writing the status changes? Do we have enough control over that process to send push notifications instead of polling for current statuses?

I'm not sure what AWS services we're allowed to use, but I've done something similar to this in the past and used AWS's SQS. It was really easy to set up.

https://aws.amazon.com/sqs/

[2017-04-17 15:27] kierachell commented on #1256
**PASSED**

[code]
I tested using above values and refreshing *Work History* page and the task was removed. So I guess that works.

[2017-04-17 15:27] #1256 closed

[2017-04-17 15:31] mmlumba commented on #1502
Since we've been introducing a lot of npm packages too with the whole Redux conversion, it would be helpful to add which packages have been added (along with a brief summary of why they've been added) with each PR. This can also apply for new ruby gems that anyone decides to add.

[2017-04-17 15:41] NickHeiner commented on #1268
Why is this AC on this ticket? It seems unrelated.

[2017-04-17 15:50] abbyraskin commented on #1268
@NickHeiner it's suggesting the expanded comments view does not include a "see more" link if the issue tags exceed the available space -- instead, all issue tags are shown in the UI, as if the "see more" link had been clicked at the same time as the comments expand link.

this was not super clear in the AC -- we can create a new issue if it wasn't implemented this way.

[2017-04-17 16:03] lakohl commented on #1418
@mmlumba wouldn't the .pdf viewer load even if the document fails to load?
I updated the error message to the following:

@avrildavid could you take a look^^? thx

<img width="704" alt="screen shot 2017-04-17 at 12 00 39 pm" src="https://cloud.githubusercontent.com/assets/4975959/25094559/be79f222-2365-11e7-8a97-56e24b1285cd.png">

[2017-04-17 16:04] NickHeiner commented on #1268
Ok – are there mockups for what you're describing? I want to be sure that we're on the same page.

I think perhaps this could be a separate issue – what do you think @mdbenjam?

[2017-04-17 16:13] kierachell commented on #1032
<img width="956" alt="screen shot 2017-04-17 at 12 13 23 pm" src="https://cloud.githubusercontent.com/assets/18075411/25094938/4a39a4dc-2367-11e7-91f9-e361ff8a3665.png">

[2017-04-17 16:27] #1032 closed

[2017-04-17 16:31] nemodjuric opened #1603 "Certification v2: Create React component for Certification Cancellation page"
![caseflow certification 6](https://cloud.githubusercontent.com/assets/4960030/25095456/ccdd5cce-2369-11e7-9231-e67b5d52104c.png)

[2017-04-17 16:32] nemodjuric commented on #1318
Right now there is no success page, when you submit cancellation, it takes you to the previous page (similar if you close the modal or click Cancel). However, the certification_cancellation record is created in database.
For success page refer to: #1603

[2017-04-17 16:44] shanear commented on #1599
@abbyraskin I can't reproduce this.

Is the issue still happening? Do we know any more details about when/how it happened? Was it just once? Is it a persistent issue?

[2017-04-17 17:03] kierachell commented on #1442
Date picker seems to go crazy:
https://github.com/department-of-veterans-affairs/caseflow/blob/9a7090cad781c56435a8bbc010d51f9f78fbd200/client/app/certification/SignAndCertify.jsx#L72

[code]
<img width="1372" alt="screen shot 2017-04-17 at 12 59 29 pm" src="https://cloud.githubusercontent.com/assets/18075411/25096446/40b0df50-236e-11e7-8997-1216b286e54c.png">

[2017-04-17 17:05] abbyraskin commented on #1599
@shanear he noticed it when he ran out of claims this past Saturday, then returned to the Work History page. He said there are no claims in his queue to work so he can't check if it's still happening.

[2017-04-17 17:08] aroltsch commented on #1442
@kierachell this is a separate issue. It existed before my changes.

[2017-04-17 17:35] abbyraskin commented on #1268
#1438 describes the "show more" link, but I'm not seeing a clickthrough describing this exact scenario. I can put one together, just need @gnakm's mocks (when she's feeling better!)

[2017-04-17 17:37] kierachell opened #1604 "Stats | Page not displaying due to Template Error"
# Description
When trying to access the Stats page...I get nothing.

## Reproduction Steps

**Scenario 1 -**

1. Go to`certification/stats`

1. Expect to see stats

1. See **Something went wrong**

**Validated in the following Envrionment(s)**
- [ ] Dev
- [ ] UAT
- [X] Preprod
- [ ] Prod

## Logs:

[code]

## Sentry:

n/a

## Screenshots
**_Scenario 1 - [Stats Page]_**
<img width="1017" alt="scree

[2017-04-17 17:46] mmlumba commented on #1418
@lakohl Is this mock flexible even if the PDF viewer doesn't show up? I'm not sure that the PDF viewer would load if the document doesn't load.

[2017-04-17 17:53] nicholasholtz opened #1605 "Dispatch: Potential future changes related to NWQ"
This is advance notice on some requests that will ultimately come in related to NWQ. No response needed at this time.

I spoke with Josh Will of NWQ (Joshua.Will@va.gov) on Thursday, 4/13.
- NWQ for appeals is (currently) expected to go live in September release (though this could easily get pushed to the December release).
- Appeals created in 499 are not a concern; NWQ could pick them up.
- Conc

[2017-04-17 18:00] NickHeiner commented on #1478
If we want to be accessible, everything needs to be operable via the keyboard. We should be writing ACs that either are input agnostic, or if they're going to specifically call out clicking, should also specifically call out keyboard usage.

[2017-04-17 18:09] mdbenjam opened #1606 "Search Button has magnifying glass symbol underneath the Search text"
When the commons reference is updated we see a magnifying glass behind the Search button. This is because our button uses the USWDS search classes, but also writes search as the text. We should do one or the other.

<img width="980" alt="screen shot 2017-04-17 at 2 08 31 pm" src="https://cloud.githubusercontent.com/assets/3885236/25098695/84c247de-2377-11e7-80f3-cd9785b537b2.png">

[2017-04-17 18:38] mdbenjam opened #1608 "Refactor | Use refs instead of interacting with native javascript calls."
In PDF.jsx we currently use getElementById and getElementsByClassName to interact directly with dom elements created with React. We should use Refs instead.

[2017-04-17 18:38] kierachell commented on #819
![dispatchstats](https://cloud.githubusercontent.com/assets/18075411/25099611/0d541dfe-237b-11e7-8591-38deb203d993.gif)

Why are the displayed stats not changing on clicking different time periods?

Why is **Time to Claim Establishment** in minutes?

And that last box is wonky...

[2017-04-17 18:51] kierachell commented on #1274
**PASSED**
checked on `preprod`
values persist upon reload
<img width="320" alt="screen shot 2017-04-17 at 2 42 50 pm" src="https://cloud.githubusercontent.com/assets/18075411/25100241/51d56af8-237d-11e7-85da-59567aa9c8a7.png">
<img width="636" alt="screen shot 2017-04-17 at 2 42 59 pm" src="https://cloud.githubusercontent.com/assets/18075411/25100242/51ddf498-237d-11e7-8863-bcb72bc81308.png">
<im

[2017-04-17 18:51] #1274 closed

[2017-04-17 19:03] NickHeiner commented on #1478
![checkboxes](https://cloud.githubusercontent.com/assets/13420618/24911812/3e0db210-1e9a-11e7-9900-523f91abb95f.png)

![image](https://cloud.githubusercontent.com/assets/829827/25100681/02daadf8-237f-11e7-8019-25d323c516ef.png)

Do we care about the position of the checkboxes relative to the labels being consistent?

[2017-04-17 19:05] kierachell commented on #1318
Pages other than `check_documents` are missing `certification_id` so cannot cancel from there.

<img width="741" alt="screen shot 2017-04-17 at 3 02 21 pm" src="https://cloud.githubusercontent.com/assets/18075411/25100655/e8bb36c2-237e-11e7-9cfa-91c6f73ac22f.png">

<img width="940" alt="screen shot 2017-04-17 at 3 03 29 pm" src="https://cloud.githubusercontent.com/assets/18075411/25100688/0a156d38

[2017-04-17 19:08] kierachell commented on #1599
I have not seen that. Will investigate.

[2017-04-17 19:21] kierachell commented on #1080
2 things:

- `Signup` vs `Sign Up`
- Underline goes through `g` and `p`
<img width="823" alt="screen shot 2017-04-17 at 3 17 44 pm" src="https://cloud.githubusercontent.com/assets/18075411/25101194/458b5a06-2381-11e7-9128-5467f1d2163e.png">

[2017-04-17 19:22] #1570 closed

[2017-04-17 19:57] kierachell commented on #1378
Apparently @wturne 's appeal won't get processed by Caseflow

this is in `preprod`

123111097S

<img width="791" alt="screen shot 2017-04-17 at 3 55 06 pm" src="https://cloud.githubusercontent.com/assets/18075411/25102420/6c65d50c-2386-11e7-891c-c2bba1eac787.png">

[code]

[2017-04-17 20:27] sharonwarner commented on #1516
I read through a lot of documentation of Redux/React testing this afternoon. It seems like there are two main paths we can take: Jest/Enzyme or Chai/Mocha/Enzyme.

Redux's documentation recommends using Jest/Enzyme. It's definitely the cooler of the two options. It uses snapshot testing, so it compares the HTML output of the previous test run to the current test run. If the HTML doesn't match, the

[2017-04-17 20:28] NickHeiner commented on #1478
Clicking on either of these things resets the filters, right?

![image](https://cloud.githubusercontent.com/assets/829827/25103505/d3d02e14-238a-11e7-9d34-bd91fdc9b247.png)

Or did you want the "x" to make the dropdown go away?

[2017-04-17 20:58] NickHeiner commented on #1478
If the user clicks outside of the dropdown filter, should it be closed?

[2017-04-17 20:59] NickHeiner commented on #1478
Also, am I correct that this ticket doesn't cover actually filtering the list of documents?

[2017-04-17 21:01] NickHeiner commented on #1478
Can you give me a mockup of what the hover state is supposed to be? This doesn't seem right:

![image](https://cloud.githubusercontent.com/assets/829827/25104730/786b1700-238f-11e7-8a9b-816e16c83567.png)

[2017-04-17 21:02] amprokop commented on #1516
yeah i'm fine to stick with chai/mocha/enzyme. jest is definitely an interesting option though.

[2017-04-17 21:27] NickHeiner commented on #1530
Closing because the tests passed on CI.

[2017-04-17 21:27] #1530 closed

[2017-04-17 21:31] NickHeiner commented on #1478
ping @abbyraskin @gnakm on the questions above.

[2017-04-17 22:48] shanear opened #1611 "Certain job failures should be more loud"
This morning, the prepare establish claim task failed. Which was pretty bad and we didn't notice it. We need a better way to alert us if important jobs fail rather than.

Or maybe we just need a smarter retry mechanism.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/144/

[2017-04-18 01:02] kierachell commented on #1527
Which columns are right? Which columns are wrong? Should the **Issue Tags** column be so narrow?

What does "right" styling mean? Two lines for header is right or wrong (i.e. **Receipt Date**)? Is the arrow next to **Document Type** right or wrong? Should the **Document Type** links be bold until clicked?

[2017-04-18 01:21] kierachell commented on #964
**PASSED**
Deploy passed...good job?

[2017-04-18 01:21] #964 closed

[2017-04-18 01:32] kierachell commented on #1535
Oooh, sounds fun. I can do that!

[2017-04-18 02:01] kierachell commented on #1489
@shellicious currently the column is so wide that the easiest solution is to center the whole thing
<img width="963" alt="screen shot 2017-04-17 at 9 43 07 pm" src="https://cloud.githubusercontent.com/assets/18075411/25111096/edf206b0-23b6-11e7-859b-3dac280f8dbb.png">
<img width="936" alt="screen shot 2017-04-17 at 9 43 12 pm" src="https://cloud.githubusercontent.com/assets/18075411/25111097/edf53

[2017-04-18 11:55] kierachell opened #1613 "Document Viewer | Going between document causes Category labels to act weird"
# Description
When switching between documents and adding category labels the documents get relabeled in a strange manner.

## Reproduction Steps

**Scenario 1 -**

1. Go view a document

1. Label it.

1. Go left or right to another document.

1. Label it too.

1. Go to another document (left or right) and find it already labeled???

1. Go to *View all documents* and find that documents are labele

[2017-04-18 12:11] kierachell commented on #1274
added a related bug issue: #1613

[2017-04-18 12:49] kierachell commented on #1533
I think I commented on that here:
https://github.com/department-of-veterans-affairs/caseflow/issues/819

[2017-04-18 13:04] kierachell commented on #1611
It shows up pretty much every night on `uat`
internal-dsva-appeals-sentry-uat-102776152.us-gov-west-1.elb.amazonaws.com/sentry/caseflow-uat/issues/185/

[2017-04-18 13:46] mmlumba commented on #1002
Shorter nav sections (for iteration 1):
- Introduction
- Typography
- Colors
- Buttons
- Search
- Dropdown Menus
- Checkboxes and Radio Buttons
- Date Input
- Tables
- Tabs
- Accordions
- Forms fields
- Loading indicators
- Alerts
- Layout
- Messages
- Branding
- Dashboard
- Modals

[2017-04-18 14:18] lakohl commented on #1418
@mmlumba doesn't the .pdf viewer load first and then the document?

[2017-04-18 14:26] gnakm commented on #1527
The spacing should follow this mockup from issue #1538
I adjusted the specs to accommodate for long Document Type Titles.

![image](https://cloud.githubusercontent.com/assets/13420618/25135729/25019dea-2421-11e7-80b4-8aeddb360076.png)

- The header column should not be double lined.
- The Icon next to Document Type is incorrect. It should be the same as the one used in Receipt Date
- The Document

[2017-04-18 14:28] astewarttistatech commented on #999
@mmlumba

Current view of style guide:

<img width="1347" alt="screen shot 2017-04-18 at 10 28 21 am" src="https://cloud.githubusercontent.com/assets/23038505/25135972/c714f7ee-2421-11e7-9002-a34003d8a4d4.png">

[2017-04-18 14:36] astewarttistatech commented on #999
**PASSED**

Validated in DEV
Browsers validated on: FF

Steps to Validate:
1. Go to the living style guide and verify that the "User Dropdown Menu" matches the mock's copy and UI.

Screenshots:
<img width="791" alt="screen shot 2017-04-18 at 10 32 19 am" src="https://cloud.githubusercontent.com/assets/23038505/25136390/d89366a8-2422-11e7-8447-6757892f8782.png">
<img width="776" alt="screen shot 20

[2017-04-18 14:37] #999 closed

[2017-04-18 14:42] astewarttistatech commented on #1401
Hey sorry to be a butthole but what am I checking for by "?" in AC @abbyraskin ?

[2017-04-18 14:45] abbyraskin commented on #1401
@astewarttistatech sorry, you can remove that if you want. the important part is to make sure the change applies anywhere the Vet ID is shown in the app

[2017-04-18 14:46] astewarttistatech commented on #1401
The success page is blocking complete verification of this issue in Preprod.

Current pages based on AC:
<img width="1058" alt="screen shot 2017-04-18 at 10 39 33 am" src="https://cloud.githubusercontent.com/assets/23038505/25136900/404875ee-2424-11e7-8f2e-c128c5a35a08.png">
<img width="1031" alt="screen shot 2017-04-18 at 10 39 46 am" src="https://cloud.githubusercontent.com/assets/23038505/25136

[2017-04-18 15:00] NickHeiner commented on #1613
Yes, this is fixed by #1602.

[2017-04-18 15:01] gnakm commented on #1478
@NickHeiner Thank you for your patience!

- I will add to AC that all drop downs should be keyboard accessible by tabbing through
- The clear category filter should reset filter and clicking outside of dropdown options should exit dropdown
- Yes this ticket isn't for actually filtering but for the visual and UX of the dropdown
- Here is the mock for dropdown with hover. I will add specs and detail

[2017-04-18 15:10] kierachell opened #1616 "[V2] Sign and Certify | Date picker"
# Description
When selecting a date in Certification V2 the formatting is not consistent between expected input and suggestion

## Reproduction Steps

**Scenario 1 -**

1. Go to Certification v2

1. Get to **Sign and Certify** page

1. Look at the prepopulated date format

1. Clear the date and look at suggested format

1. Enter the date and be forced into suggested format

**Validated in the foll

[2017-04-18 15:11] kierachell commented on #1366
**PASSED**
Checked by going back and forth; messing with issues; all the usual weirdness and did not find any new errors.

[2017-04-18 15:11] #1366 closed

[2017-04-18 15:26] astewarttistatech commented on #1496
<img width="1202" alt="screen shot 2017-04-18 at 10 51 15 am" src="https://cloud.githubusercontent.com/assets/23038505/25138926/d1278ce4-2429-11e7-9318-d4bb03b2573b.png">

[2017-04-18 15:48] kierachell commented on #1496
Matching fields from VACOLS
<img width="976" alt="screen shot 2017-04-18 at 11 44 13 am" src="https://cloud.githubusercontent.com/assets/18075411/25140013/ea4e8364-242c-11e7-9a5a-32251cc54002.png">

Validated with 3 other cases.

[2017-04-18 15:49] #1496 closed

[2017-04-18 15:55] KCollinsBrown opened #1617 "This page can't be displayed error message at Manila RO"
Copying the email thread and attachment below for reference.
[Caseflow Error.docx](https://github.com/department-of-veterans-affairs/caseflow/files/930280/Caseflow.Error.docx)

From: Crucillo, Roel M. (Region 5 MPI RO) [mailto:roel.crucillo@va.gov]
Sent: Monday, April 17, 2017 7:01 PM
To: Wagner, Jed
Cc: Russell, Shane; Schwartz, Ori (DISABLED ACCT); Canlas, Marie June E., VBAMPI
Subject: RE: VACO

[2017-04-18 16:00] gnakm commented on #1080
@tejans24 @kierachell

Sign up should be two words and underline going through g and p is fine. The sketch version is weird.

[2017-04-18 16:22] shanear commented on #1556
- One of them has a file number that needs a 0 padded in the beginning
- The others seem to be legitimately missing a decision (@lakohl to confirm)

[2017-04-18 16:23] kierachell commented on #1235
**FIXED**
by some other issue

[2017-04-18 16:23] #1235 closed

[2017-04-18 16:38] lakohl commented on #1556
I reached out to Rolandus to see if he is still experiencing this issue.

[2017-04-18 16:41] NickHeiner commented on #1478
Ok, that's great, thanks. So just to confirm, you're saying that clicking on the `x` clears the filter?

[2017-04-18 16:48] gnakm opened #1618 "Styleguide | Side Navigation version 2 with sub nav"
**Story**
As a developer and designer, I want to easily and quickly find various components through the side navigation menu.

## AC
Dropdown behavior
- [ ] When clicking the title, the side nav should expand to show the list of level two and jump to level 1 section.
- [ ] At any point, when clicking on the title, the page should jump to that section.

List of Improvements
- [ ] Make the following

[2017-04-18 17:01] gnakm commented on #1268
Dropping the mockup here but let me know where is the best place to put it.
The max height of a row should be 110px max (this should fit about 3 rows of issue tags).
The max width of the issue tags column should be 225px (see #1538)
- When the issue tags cannot fit any more issues within those parameters, there should be a `See more...` (takes up 12 characters) at the end of the 3rd row.
- When us

[2017-04-18 17:34] joofsh commented on #1559
This has happened enough times in production that we should investigate further. Adding it to the upcoming sprint

[2017-04-18 17:46] gnakm commented on #1478
@nicholasholtz

Yes. It should hover the same way as the other options. All text and icon should be white.
![image](https://cloud.githubusercontent.com/assets/13420618/25144881/5726511e-243d-11e7-8662-763db7153259.png)

[2017-04-18 18:12] gnakm commented on #1501
Yes and when we discuss, let's talk about what size both Confirmation and Work History should be. That's a good point that both should be equal in hierarchy.

[2017-04-18 18:13] gnakm commented on #1562
@avrildavid Thanks! Will change the copy!

[2017-04-18 18:27] gnakm commented on #1362
Closing this because I added it to the AC and mock in the style guide issue #1094

[2017-04-18 18:27] #1362 closed

[2017-04-18 19:15] kierachell commented on #1535
**PASSED**
[code]
I changed the `BFKEY` for an unassigned task and it was skipped, yay.

[2017-04-18 19:15] #1535 closed

[2017-04-18 19:43] mdbenjam commented on #1259
What should we do with the controls in full screen. Move all the way left and right or like it is here: ![screen shot 2017-04-18 at 2 36 28 pm](https://cloud.githubusercontent.com/assets/3885236/25149813/b8928f8e-244d-11e7-8205-d567410d7121.png)

[2017-04-18 19:49] kierachell commented on #1280
**PASSED**
validated in `preprod`
![iroutemyclaimbackandforth](https://cloud.githubusercontent.com/assets/18075411/25150027/8f816434-244e-11e7-8165-35370c9f629c.gif)

[2017-04-18 19:49] #1280 closed

[2017-04-18 19:50] nemodjuric commented on #1490
@shellicious I noticed that text 'appellant's eFolder' has different coloring suggesting a link. If that is relevant to this issue, what exactly has to be done (i.e. link url)?

[2017-04-18 19:52] nicholasholtz commented on #1478
I think you meant @NickHeiner

[2017-04-18 19:54] shellicious commented on #1490
@nemodjuric thanks for bringing that up! the link text should be a separate issue. It should link to the appellant's eFolder in VBMS< but I'm not sure it's possible.

@amprokop is it within scope of a future V2 milestone to link to the appellant's eFolder from Caseflow? Should I write a ticket and couple it with a future milestone?

[2017-04-18 20:03] mdbenjam commented on #1321
@abbyraskin The plus icon doesn't seem to be right. Shows up as a box.

[2017-04-18 20:11] mdbenjam commented on #1377
This is already fixed.

[2017-04-18 20:23] abbyraskin commented on #1321
@mdbenjam hmm, I'll look into it. could you send a screenshot?

[2017-04-18 20:32] KCollinsBrown commented on #1617
Should I close this, since it's a duplicate of an issue being handled by support.

[2017-04-18 20:32] #1617 closed

[2017-04-18 21:08] mdbenjam commented on #1321
@abbyraskin You can just click on the svg link above.

[2017-04-18 21:11] kierachell commented on #1488
**PASSED**
it's gone!

<img width="1024" alt="screen shot 2017-04-18 at 4 48 13 pm" src="https://cloud.githubusercontent.com/assets/18075411/25153279/085fbcb0-245a-11e7-85fa-7547dc199d0a.png">
<img width="1074" alt="screen shot 2017-04-18 at 4 48 18 pm" src="https://cloud.githubusercontent.com/assets/18075411/25153278/085eed30-245a-11e7-9082-a9bc85fd7894.png">

[2017-04-18 21:11] #1488 closed

[2017-04-18 21:32] abbyraskin commented on #1321
OK, I did that, but can't see what's causing the problem...I think it's Gina's file. @gnakm can you help diagnose? 🙏

[2017-04-18 21:58] kierachell opened #1626 "Application Controller | Metrics/Health-Check/404 and other pages overriding log timestamp formats"
## Problem

Currently our aws log agent expects a specific date format as configured here:
https://github.com/department-of-veterans-affairs/appeals-deployment/pull/584

However, routes configured by `ApplicationController` somehow override the date format, which causes a bunch of errors for the logging agent and our logs look messed up:
- `[18/Apr/2017:17:48:20 -0400] "GET /404 HTTP/1.0" 301 - 0.

[2017-04-18 22:47] NickHeiner commented on #1478
Also @gnakm can I get an answer to this question?

![image](https://cloud.githubusercontent.com/assets/829827/25156249/7591aaca-2467-11e7-9e85-d4c8b597e11f.png)

[2017-04-18 22:51] NickHeiner commented on #1478
Are you sure the SVG you linked to is correct? It just looks like a box to me.

![image](https://cloud.githubusercontent.com/assets/829827/25156345/f6102460-2467-11e7-905f-f6089393c7fe.png)

[2017-04-18 22:52] NickHeiner commented on #1478
Can you be a little more specific about this? How does the checkbox change on hover?

[2017-04-19 02:18] shanear commented on #1062
Planned changes:

- Move `Task.hash_with_
- Remove TasksController and move everything their into `EstablishClaimsController`. This might be controversial. But the line is too muddy between them, and I think it's best to drop false pretenses, so we can abstract logic from `EstablishClaimsController` into a real `TasksController` when the second type of task comes up

For example, this method is in

[2017-04-19 12:42] kierachell commented on #1517
Well,
This blocks all Reader stories validation for the foreseeable future.

[2017-04-19 12:58] astewarttistatech commented on #1401
**PASSED**

Validated in : Preprod
Browser: FF

Steps to Validate:
1. Go through Dispatch as a caseworker and establish the next claim in the queue.
2. On the Review Decision page, make sure that the Veteran ID on the header does not include a 'S' or a 'C' at the end of the number.
3. Validate this on all pages in the Dispatch caseworker flow.
4. Validate that the Veteran ID doesn't include a 'S'

[2017-04-19 12:58] #1401 closed

[2017-04-19 13:01] astewarttistatech commented on #1528
@tejans24 do you have any information on this header? Any mocks? Any description as to what it looks like? Any tickets that reference it elsewhere? This is too vague to test.

[2017-04-19 13:29] astewarttistatech commented on #1444
@amprokop findings show that you cannot "reload" the page because the "/mismatcheddocuments"  gets added to the end of the URL whenever it is missing docs so it will give you a "Page not found" error. Could you change the AC to show when you "revisit the page"?

[2017-04-19 13:32] astewarttistatech commented on #1444
**PASSED**

Validated in: Preprod
Browser: FF

Steps to Validate:
1. In Certification, visit a "/checkdocuments" for a veteran missing all or some of the documents needed to certify an appeal.
2. In the environment's corresponding, VBMS uploaded the necessary documents based on the VACOLS/VBMS dates.
3. **Revisit the page** to see that all documents have been loaded and the user is able to move on

[2017-04-19 13:40] astewarttistatech commented on #1451
**PASSED**

Validated in: Preprod
Browser: FF and Chrome

Steps to Validate:
1. Go to Certification with a veteran who is ready to certify.
2. On the Confirm Case Details page, select "Other" and fill in the "Other Representative" text field.
3. Select "Continue"
4. From Confirm Hearing page, navigate back to the Confirm Case Details page, via browser, and validate that the value in the Other Repr

[2017-04-19 13:41] #1451 closed

[2017-04-19 14:11] abbyraskin commented on #1321
hm, it looks correct to me, now that i'm back on a real computer and not my phone...

[2017-04-19 14:24] tejans24 commented on #1527
There is a separate issue for formatting the table column widths: https://github.com/department-of-veterans-affairs/caseflow/issues/1538

[2017-04-19 14:32] joofsh opened #1630 "Remove reviewForm from dispatch React state"
Migrate the existing reviewForm from react state to Redux

[2017-04-19 14:33] #1498 closed

[2017-04-19 14:48] NickHeiner commented on #1613
Addressed in  9476e44.

[2017-04-19 15:06] shanear commented on #1502
- check that things look right (add a screenshot or .gif of the feature if relevant, http://www.cockos.com/licecap/)
- any integration cases that you ran (file numbers, test setup)
- Any additional assumptions have I made about why this doesn't break things?

[2017-04-19 15:16] shanear commented on #1502
Added guidance to:
https://github.com/department-of-veterans-affairs/caseflow/blob/master/docs/pipeline.md

[2017-04-19 15:16] #1502 closed

[2017-04-19 15:39] shanear opened #1632 "Dispatch | Sensitivity Error"
Somehow a sensitivity issue made it through, need to check this out:

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/153/

[2017-04-19 15:41] shanear commented on #1599
@abbyraskin sending this your way, closing if we don't see the error again and can't reproduce.

[2017-04-19 15:41] shanear commented on #1247
@lakohl assigning to you to close if we aren't seeing it.

[2017-04-19 15:44] lakohl commented on #1247
closing until it comes up again

[2017-04-19 15:44] #1247 closed

[2017-04-19 15:45] abbyraskin commented on #1599
I'll check with our users.

[2017-04-19 16:14] gnakm commented on #1478
I uploaded new link! It should work!

[2017-04-19 17:14] shanear commented on #1418
There are a lot of ways to handle this and we need to go back to the drawing board to decide what to do.

[2017-04-19 17:30] shanear commented on #1632
We are doing introduced a user bug again. Updating this to high priority and adding a PR for the fix ASAP.

[2017-04-19 17:38] kierachell commented on #1613
**PASSED**
![categories](https://cloud.githubusercontent.com/assets/18075411/25193402/03523e04-2505-11e7-8942-ef3921f1d92f.gif)

[2017-04-19 17:38] #1613 closed

[2017-04-19 17:41] kierachell commented on #1377
**PASSED**
![readdoc](https://cloud.githubusercontent.com/assets/18075411/25193660/d7ec3e80-2505-11e7-818e-e31d7b2d33f3.gif)

[2017-04-19 17:41] #1377 closed

[2017-04-19 17:48] mmlumba opened #1634 "Refactor StyleGuideLayout.jsx container in style guide"
Currently we have several style guide issues that cover different parts of the main Caseflow application layout that are to be added to the style guide:
#1085 - Introduction to layouts
#1086 - Navigation bar and header
#1089 - Actions
#1090 - Footer

All parts of the main layout (as described above) live in `app/views/layouts/application.html.erb`.
Questions:
1. Should we break parts of their layo

[2017-04-19 18:01] gnakm commented on #1259
@mdbenjam Could we have it so that <View all documents is always 30px from the left and the document types are always 30px from the right?

[2017-04-19 18:16] kierachell commented on #1378
**PASSED**
<img width="954" alt="screen shot 2017-04-19 at 1 46 43 pm" src="https://cloud.githubusercontent.com/assets/18075411/25194622/06da0ee0-2509-11e7-9678-27f55554e033.png">
IT WORKS!
<img width="1171" alt="screen shot 2017-04-19 at 2 15 04 pm" src="https://cloud.githubusercontent.com/assets/18075411/25195147/b37b0e32-250a-11e7-8f49-c3c54917fb29.png">
<img width="1086" alt="screen shot 2017-

[2017-04-19 18:16] #1378 closed

[2017-04-19 18:18] gnakm commented on #1478
@NickHeiner I just want to make sure that the hover doesn't have a 0 fill and that at hover, if the checkbox is unchecked, the empty box shows as white.

[2017-04-19 18:35] kierachell commented on #1527
**PASSED**
<img width="1015" alt="screen shot 2017-04-19 at 2 34 53 pm" src="https://cloud.githubusercontent.com/assets/18075411/25196041/61088bc2-250d-11e7-9875-c281c0abcf03.png">

[2017-04-19 18:35] #1527 closed

[2017-04-19 19:07] amprokop commented on #1444
@astewarttistatech — can you test this again after https://github.com/department-of-veterans-affairs/caseflow/pull/1621#pullrequestreview-33591062 is merged. That will address the issue you pointed out with the `mismatched_documents` route since we're getting rid of that route.

However, I intentionally left that case out of the acceptance criteria because I knew we would be refactoring that bit.

[2017-04-19 19:43] kierachell commented on #1517
**PASSED**
blocked us out! and then unblocked! :D

[2017-04-19 19:43] #1517 closed

[2017-04-19 19:50] kierachell commented on #1489
<img width="880" alt="screen shot 2017-04-19 at 3 48 50 pm" src="https://cloud.githubusercontent.com/assets/18075411/25199138/c39a5c16-2517-11e7-855d-030727604d61.png">
<img width="1027" alt="screen shot 2017-04-19 at 3 49 50 pm" src="https://cloud.githubusercontent.com/assets/18075411/25199164/d98f73c6-2517-11e7-9408-2e68baf7b8c6.png">

[2017-04-19 19:54] astewarttistatech commented on #1489
**PASSED**

Validated: Preprod
Browser: Chrome and FF

Steps to Validate:
1. In Certification V2, visit the check documents page for a veteran who has all required documents and visit the check documents page for a veteran who has none of the required documents to certify an appeal.
2. Verify that the Found in VBMS column has centered X's or check marks.

Screenshots:
See above

[2017-04-19 19:54] #1489 closed

[2017-04-19 20:13] shanear commented on #1556
@lakohl should we pad all 8 digit file numbers with a 0 in the UI too?

[2017-04-19 20:18] mdbenjam commented on #1259
Sounds good I'll add that in #1624

[2017-04-19 20:24] shanear opened #1638 "Stats Page | Add Establish Claim Tasks Prepared for ARC"
As a manager or a Caseflow team member, I would like to know stats on how many tasks were prepared in a given day.

## AC
1. Verify that there is a section on the dispatch stats page for tasks ready for Claims Establishment called "Establish Claim Tasks with Decisions Uploaded to VBMS for {TIME_PERIOD}" that has the following stat boxes:
  - All
  - Full Grants
  - Partial Grants & Remands
2. Veri

[2017-04-19 20:27] gnakm commented on #1501
Closing this because I consolidating this with issue #1562 and changed story. @lakohl Let me know if this makes sense! I leave it to you to add to ready for dev!

[2017-04-19 20:27] #1501 closed

[2017-04-19 20:27] NickHeiner commented on #1478
Ok, great. I've added that SVG, and it looks good, and I believe I have the hover matching what you want. Also, when you get a chance, it would be nice to get confirmation on the following:

![image](https://cloud.githubusercontent.com/assets/829827/25200641/0f89a636-251d-11e7-973e-800b15356fb5.png)

[2017-04-19 20:42] abbyraskin commented on #1478
@NickHeiner just chatted with Gina, and we're weighing whether the use cases are different enough to warrant inconsistent positioning...We're going to bring it up in our design team meeting tomorrow and will circle back!

[2017-04-19 20:50] mdbenjam commented on #1283
@gnakm I don't think the stuff in #1089 works well for this. It's pretty off from this mock, and would push the cancel/save much further down. Thoughts?

[2017-04-19 20:51] abbyraskin commented on #1599
Closing this -- hasn't happened since last week, we can reexamine if it reemerges.

[2017-04-19 20:52] #1599 closed

[2017-04-19 21:05] joofsh opened #1639 "npm run test:karma:watch is broken"
Running `test:karma:watch` does not properly run the test suite.

Steps to reproduce:
- Run `test:karma:watch` on mater, all tests pass
- Save a file, let the tests run again. Tests 54 will fail

Also: Is there a way to get better output from karma? Preferably both in the console and in the browser

[2017-04-19 21:11] mdbenjam commented on #1283
@gnakm Also, #4A4A4A is not a USWDS color. Should we use that anyway?

[2017-04-19 21:27] mdbenjam commented on #1321
Added the last three AC in response to our Slack conversation

[2017-04-19 21:28] NickHeiner commented on #1639
from https://github.com/department-of-veterans-affairs/caseflow/pull/1589:

![image](https://cloud.githubusercontent.com/assets/829827/25203017/970f9c52-2525-11e7-90bb-b3a8d4ac2e56.png)

Well, I guess that answers that question. :smile:

[2017-04-19 22:19] NickHeiner commented on #1639
To make the tests pass every time you run them, apply the following diff:

[code]

This test is validating behavior of going to different browser pages. Karma wants us to stay on the same page, because that's the page that it sets up to run the unit tests. We have a few options here:

1. Declare that Karma tests will henceforth only test unit logic, and tests that involve modifying `window.locatio

[2017-04-19 22:20] NickHeiner commented on #1639
I will look into getting more test output on the command line as well.

[2017-04-19 22:27] kierachell commented on #1259
- Doesnt play well with long document types.
![toolong](https://cloud.githubusercontent.com/assets/18075411/25204873/981a71b4-252d-11e7-9bfe-4e94cd36dc27.gif)

- Sentence case!
<img width="107" alt="screen shot 2017-04-19 at 6 26 12 pm" src="https://cloud.githubusercontent.com/assets/18075411/25204910/bfcb50ac-252d-11e7-9672-71b2fbe7abd9.png">
<img width="365" alt="screen shot 2017-04-19 at 6 26 5

[2017-04-19 22:37] kierachell commented on #1259
- What's the final verdict on the `View all documents`? Is it `Back to all documents` or `View all documents`?

[2017-04-19 23:06] kierachell commented on #1268
@gnakm @abbyraskin Still no issue tags implemented. Should I wait for them to exist before validating?

[2017-04-19 23:11] kierachell commented on #1268
- One picky thing is that the expanded comment boxes in the List View seem to shift based on number of digits in the page #
![comments](https://cloud.githubusercontent.com/assets/18075411/25206039/b3dcf600-2533-11e7-88d0-6b666da1ae9d.gif)

- some comments disappear sporadically, but I think you know that.

Padding looks good.
<img width="878" alt="screen shot 2017-04-19 at 7 02 32 pm" src="https:/

[2017-04-19 23:28] kierachell commented on #1450
@gnakm
- Should the `Page #` be #000000 (true black) or #323A45 (the near black) as referenced here: https://github.com/department-of-veterans-affairs/caseflow-commons/issues/12

- Should it be `Delete | Edit` or `Edit | Delete`?
<img width="130" alt="screen shot 2017-04-19 at 7 24 35 pm" src="https://cloud.githubusercontent.com/assets/18075411/25206425/df213248-2535-11e7-8c1d-1ae33874cc29.png">

[2017-04-19 23:42] kierachell commented on #1086
## AC 5
Not sure how/if it's implemented:
<img width="1019" alt="screen shot 2017-04-19 at 7 39 40 pm" src="https://cloud.githubusercontent.com/assets/18075411/25206821/40365426-2538-11e7-8635-897cb8eda61c.png">

[2017-04-20 01:20] kierachell commented on #1632
Requested varying sensitivity users from Raul...waiting on response...

[2017-04-20 11:21] kierachell commented on #1417
@shanear
Sample error:
https://10.236.66.249/sentry/caseflow-uat/issues/186/

[2017-04-20 12:55] amprokop commented on #1317
closing, a migration for this was merged in

[2017-04-20 12:55] #1317 closed

[2017-04-20 13:03] amprokop opened #1641 "Confirm Hearing Save choices to DB"
- Create an actions/ConfirmHearing file and move the actions there. See `actions/ConfirmCaseDetails.js` and `ConfirmCaseDetails.jsx` for an example of this refactor
- Rename `hearingType` or `hearingTypes` to `hearingPreference` or `hearingPreference` everywhere in `ConfirmHearing` (and also in `reducer/index.js` and `constants/constants.js`
   - This is because we want the front-end name to match

[2017-04-20 13:11] amprokop opened #1642 "Confirm Hearing | Save choices to DB [2]"
We should save the choices on the Confirm Hearing page to the DB when the user clicks "Continue".

See `update_v2` in `certifications_controller`— the fields we need already exist in the DB, they were added by the `AddCertificationV2Fields` migration.

Here are some tips:

- Generally, we can follow the patterns in `ConfirmCaseDetails.jsx`, as this page now saves the user's choices to the DB.
- Cr

[2017-04-20 13:18] shanear commented on #1417
@kierachell That is a different error. This is just when a vet has no SSN. They still have a file number and there record can still be found. We haven't experienced an error of that nature in prod.

[2017-04-20 13:18] shanear commented on #1417
@kierachell see the error posted in the issue description

[2017-04-20 13:27] joofsh commented on #1062
Sounds good to me

[2017-04-20 13:54] shanear commented on #1556
Update. After a little more digging. I realized the vet in question has a C file number in vacols instead of an S type. Will be fixing that.

[2017-04-20 13:59] shanear commented on #1556
That vet is fixed and should be processed correctly. Assigning to @lakohl to get the low down on any others that should be going through.

[2017-04-20 14:06] shanear commented on #1611
dup of https://github.com/department-of-veterans-affairs/appeals-deployment/issues/586, closing

[2017-04-20 14:06] #1611 closed

[2017-04-20 14:49] abbyraskin commented on #1437
cleaning this up a bit to remove any AC alluding to adding new issue tags, as that functionality was previously broken out by #1515

[2017-04-20 14:53] mdbenjam commented on #1259
Nice catch on the long document types. @gnakm What do you think about truncating the doc type after like 30 characters and maybe show the full thing on the sidebar? And I think it is Back to all documents. I'll fix all that.

[2017-04-20 15:26] aroltsch opened #1645 "Implement FeatureToggle UI"
Implement UI to turn on the FeatureToggles for specific features.

We need a way to tell that a specific feature exists in the list if it isn't enabled. We'll likely need to have a cross-team eng discussion to get buy in from everyone. One possibility is to implement a `FeatureToggle.register` and to make devs call the `register` method to register a feature.

Let's:
- rename the System Admin-only

[2017-04-20 15:29] gnakm commented on #1086
@mmlumba
I changed #5 in AC

@kierachell I took out that like of 90px tall. I copied and pasted from the description we had and realized it doesn't make any sense.

[2017-04-20 16:10] nicholasholtz opened #1647 "Reader issue: Scroll bar scroller hidden by header & footer"
Putting in issue at @mdbenjam's request.

The document header and footer is covering the scroll bar in Reader, resulting in a situation where the scroller gets hidden.

It is less obvious on docs with fewer pages, but still present. Single page:
![single page scroll bar](https://cloud.githubusercontent.com/assets/16781398/25240711/9074e59a-25c1-11e7-81de-0f8fc77cb032.PNG)

For documents with more

[2017-04-20 16:20] NickHeiner commented on #1639
@joofsh can I get your feedback on the above when you get a chance?

[2017-04-20 16:28] joofsh commented on #1639
I would probably prefer option 2. I imagine testing rich UIs (like Reader) would require navigating between pages (doesn't the URL change when you click into a document?).

If we go with option 1, we should post it in #appeal-engineering to get feedback. I'm hesitant to go with this option because it makes us further depending on a monolith rails/react hybrid stack. It will make it more difficult

[2017-04-20 16:30] joofsh commented on #1639
In this specific case though, these tests do feel more appropriate in capybara...

[2017-04-20 16:31] mdbenjam opened #1649 "Zooming | When zoomed out the pages don't provide an accurate size prediction"
When a document is zoomed out, the non-rendered pages are too large, making it difficult to know where in the document you've scrolled. As pages render the scroll bar moves. We should use different page sizes for different zoom levels.
AC
- When zoomed in or out, the non-renderd pages should be similar in size to the rendered pages.
- When zoomed out in a large document, the scroll bar should be a

[2017-04-20 16:37] NickHeiner commented on #1639
This will enable browser console logging to show up in the terminal:

[code]

[2017-04-20 16:40] kierachell opened #1650 "Document View | Scrollbar hides behind header"
# Description
When viewing a document with many pages (15+) the scrollbar is not  visible because it's behind the header

## Reproduction Steps

**Scenario 1 -**

1. Go to view a document with a bunch of pages

1. Try to click on the side to scroll down

1. Not find the scrollbar

1. Scroll some other way

1. Find the scrollbar peek from under the header.

**Validated in the following Envrionment(

[2017-04-20 16:43] kierachell opened #1651 "Success page | Assigned EP confirmation has incorrect title"
**Scenario 1 -**

1. Go to Dispatch and start a new claim

1. Assign the claim to existing EP

1. See "Congratulations!" instead of "Success!"

**Validated in the following Envrionment(s)**
- [ ] Dev
- [ ] UAT
- [X] Preprod
- [ ] Prod

## Screenshots
**_Scenario 1 - [Current View]_**

<img width="555" alt="screen shot 2017-04-20 at 11 37 53 am" src="https://cloud.githubusercontent.com/assets/18075

[2017-04-20 16:52] lakohl commented on #1556
I asked Rolandus about this again (and explained about the one with the missing zero. He said 'looks like once we address the Veteran whose name persist on the report due to the leading “0” we’ll be on track.'

It sound like if you implement the fixes above we'll be good (at least for now)!

[2017-04-20 17:06] kierachell commented on #1321
**PASSED**
nice save with the scrollbar, @mdbenjam
![addcomment](https://cloud.githubusercontent.com/assets/18075411/25243155/16872a28-25ca-11e7-90f9-98fb969f9b1a.gif)

[2017-04-20 17:06] #1321 closed

[2017-04-20 17:39] joofsh opened #1652 "Convert String keys to symbols"
There are areas where we represent states via strings instead of symbols such as https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/vacols/case.rb#L13-L23
and

We currently use these strings 1) for looking up the value (knowing if a case is of the type we expect) and 2) for rending in the UI. This tightly couples 2 very different responsibilities.

We should move to

[2017-04-20 17:41] joofsh commented on #1543
Closing this. Documentation changes related to node & chromedriver are done. We haven't started using yarn yet

[2017-04-20 17:42] joofsh commented on #1421
This one might be hard to validate. Let me know if you need help @kierachell

[2017-04-20 18:00] abbyraskin commented on #1478
@NickHeiner we are good with keeping the checkbox are the lefthand side. @gnakm has some slight edits to make to the "clear category filter" section that came out of our discussions -- given that this is already in progress, but for the sake of keeping everything in one place...are you cool with us making those changes/updating the mocks in this ticket directly?

[2017-04-20 18:05] abbyraskin commented on #1477
We're moving the checkboxes to the left for consistency, asking Gina for review.

[2017-04-20 18:07] abbyraskin commented on #1438
Note: we made some style changes to the issue tag filter component in #1477

[2017-04-20 18:10] nicholasholtz commented on #1650
This bug was beaten by #1647.

[2017-04-20 18:11] abbyraskin commented on #1467
Might be able to pull in Sandra for dev help on this one, as she created the Dispatch help page.

[2017-04-20 18:12] abbyraskin commented on #1196
@mdbenjam was this fixed already?

[2017-04-20 18:19] gnakm commented on #1477
@abbyraskin I added new mock and added the change to the AC. Switching back to ready for dev.

[2017-04-20 18:23] gnakm commented on #1478
I updated the mock above and adjusted the AC to match it.

[2017-04-20 18:37] amprokop commented on #1484
@shellicious — just thought of something. after the button is disabled, what should trigger re-validation? Should it happen on any change to any field?

[2017-04-20 18:40] astewarttistatech commented on #1444
I will re-arrange the ticket for you. @amprokop

[2017-04-20 18:42] kierachell commented on #1421
**PASSED**
I changed some some issues and codes around was able to make a Partial Grant into a Remand and back
<img width="958" alt="screen shot 2017-04-20 at 2 27 48 pm" src="https://cloud.githubusercontent.com/assets/18075411/25246991/7dfff556-25d7-11e7-88bc-02f808fe56d9.png">
<img width="943" alt="screen shot 2017-04-20 at 2 29 49 pm" src="https://cloud.githubusercontent.com/assets/18075411/252

[2017-04-20 18:42] #1421 closed

[2017-04-20 18:44] astewarttistatech commented on #1444
Retested on 4/20/17. Reload is now working as expected.

[2017-04-20 18:44] #1444 closed

[2017-04-20 18:47] #1639 closed

[2017-04-20 18:48] kierachell commented on #1543
+ seems like @aroltsch and @slj contributed too 👍

[2017-04-20 18:48] #1543 closed

[2017-04-20 19:09] astewarttistatech commented on #1440
**PASSED**

Validated in Preprod
Browsers: Chrome and FF

Steps to Validate:
1. Access Certification V2 (Check Documents page) with a veteran who is missing all or some of their documents
2. Open another window and add the missing documents in the corresponding environment of  VBMS.
3. Reload the Check Documents page to find that all of the veteran's documentation is now there.

Screenshots:
<img

[2017-04-20 19:09] #1440 closed

[2017-04-20 19:12] mdbenjam commented on #1196
@abbyraskin Yes, just checked today. It seems to be fixed!

[2017-04-20 19:14] abbyraskin commented on #1196
wooooo!

[2017-04-20 19:19] astewarttistatech commented on #1430
**PASSED**

Validated in: Preprod
Browsers: Chrome and FF

Steps to Validate:
1. Go to help/dispatch and validate that the help page matches the current Caseflow help page and the distinct factors of this help page  found in the mocks of the AC above.

Screenshots:
![help dispatch](https://cloud.githubusercontent.com/assets/23038505/25248573/bdb71e7c-25dc-11e7-8534-3b67bc327778.gif)

[2017-04-20 19:19] #1430 closed

[2017-04-20 19:24] gnakm commented on #1450
Page number should be `gray-dark` @mdbenjam and I confirmed this. Thanks for checking 👍

[2017-04-20 19:43] astewarttistatech commented on #1196
**PASSED**

Validated: Preprod
Browser: FF and Chrome

Steps to Validate:
1. In Reader, create comments and move them around on the page.

Screenshots:
![reader](https://cloud.githubusercontent.com/assets/23038505/25249529/2104c5bc-25e0-11e7-8589-fee2f35ab7b3.gif)

[2017-04-20 19:43] #1196 closed

[2017-04-20 19:49] joofsh opened #1659 "VBMS Error on Dispatch EP submit - 302 response"
From Sentry: https://localhost:8095/department-of-veterans-affairs/caseflow-certification/issues/154/activity/

302 is a weird response from VBMS. So hopefully just a random blip in their API, though we should keep an eye on it

[2017-04-20 19:49] NickHeiner commented on #1266
![svg magic](https://media4.giphy.com/media/12NUbkX6p4xOO4/giphy.gif)

[2017-04-20 19:51] nemodjuric opened #1660 "Hook up Cancellation Modal to Redux in Certification V2 [2]"
The link 'If you can’t find the document, cancel this certification', displayed when the user is trying to certify an appeal without matching documents, does not work since we don't have the certification modal hooked up to Redux. We should refactor the CancelCertificationModal to be triggered by Redux.

![cantfinddocs](https://cloud.githubusercontent.com/assets/4960030/25249795/35bcff78-25e1-11e7

[2017-04-20 19:53] gnakm commented on #1266
@NickHeiner https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Projects/Styleguide/Design%20files/Icons/Caret%20right%20icon.svg

[2017-04-20 19:56] lakohl commented on #1556
@shanear I think we can close this?

[2017-04-20 19:56] NickHeiner commented on #1266
Oh sorry for the confusion. Mark already have the SVG. I just wanted to make a joke about the phrase "svg magic". :smile:

[2017-04-20 20:01] NickHeiner commented on #1477
Can we update the mock to match what #1478 now looks like?

[2017-04-20 20:04] abbyraskin commented on #1187
@nicholasholtz obviously it isn't ideal, but what are your thoughts on launching with this bug?

[2017-04-20 20:07] shanear commented on #1556
Ill keep it open until tomorrow if the missing zero one goes away we should be good

[2017-04-20 20:09] abbyraskin commented on #1320
Holding on any future 508 enhancements until Milestone 2

[2017-04-20 20:12] mdbenjam opened #1662 "Deep Linking | Add deep links to Reader"
Currently Reader does not have deep linking so the back and refresh keys do not work. We should add React Router to our stack to fix this.
AC:
- When a user clicks on a document, the document should have a specific deep linked URL
- When a user clicks on the back button from the documents page, it should return to the list view page

[2017-04-20 20:12] aroltsch commented on #1114
@amprokop, could you please map these values to VACOLS values:
VIDEO: 'VIDEO',
TRAVEL_BOARD: 'TRAVEL_BOARD',
WASHINGTON_DC: 'WASHINGTON_DC',
HEARING_TYPE_NOT_SPECIFIED: 'HEARING_TYPE_NOT_SPECIFIED',
NO_HEARING_DESIRED: 'NO_HEARING_DESIRED',
HEARING_CANCELLED: 'HEARING_CANCELLED'

[2017-04-20 20:15] NickHeiner commented on #1515
Is handling backend errors completely out of scope for this issue, and should be handled by #1573 instead?

[2017-04-20 20:16] abbyraskin opened #1663 "Send Feedback: send feedback from Reader"
- Update "Send Feedback" link so any submitted feedback is registered as a Reader ticket

[2017-04-20 20:17] amprokop commented on #1114
yes—

VIDEO— BFHR: '2' & BFDOCIND: 'X'

[2017-04-20 20:18] mdbenjam opened #1664 "Zooming | Improve rendering while zooming"
Currently we render pages when you scroll to within view. This doesn't work well with zoomed out PDFs since lots of pages get rendered all at once. Instead, we should render pages one at a time so it is more orderly.

AC
- When zoomed out, all pages visible have been rendered.
- When clicking fit-to-screen the page should be zoomed such that the height of the page is equal to the height of the PDF

[2017-04-20 20:21] NickHeiner opened #1665 "Add more lint rules"
We have quite a few lint rules. Let's add a few more.

I'll add each lint rule in its own PR, to minimize merge conflicts.

[2017-04-20 20:34] mdbenjam opened #1666 "Documents List | Cursor: sortorder for Receipt Date and Document Type"
#### Description
When you mouse over the Document List and Receipt Date headers, the mouse should look like a clickable link -- the words themselves should look clickable, not just the icons.

#### Current State
![clickableornot](https://cloud.githubusercontent.com/assets/18075411/26167256/5540e886-3b04-11e7-99cb-f9db8af015b9.gif)

## Related
#1847

[2017-04-20 20:34] shellicious commented on #1114
Commenting to say that an unspecified hearing request should be a video hearing

[2017-04-20 20:36] mdbenjam opened #1667 "Modal | Delete modal is behind the pdf"

[2017-04-20 20:36] shellicious commented on #1484
@amprokop it should be enabled when all of the required fields are filled out (and if they are text fields, they should be filled with text, not just blank spaces). If a user fills them out and them clears them again such that not all of them are filled out, ideally the "Continue" button would be disabled again.

[2017-04-20 20:41] amprokop commented on #1114
Hmm.

I may have goofed.

For the question shown on an informal form 9, `What optional board hearing preference,
if any, did the appellant request?`, one of the answers is `Wants a board hearing and did not specify what type.`, and I mapped that to a constant `HEARING_TYPE_NOT_SPECIFIED`.

For the question for the formal Form 9, `Which box did the appellant select for the Optional
Board Hearing qu

[2017-04-20 20:43] mdbenjam opened #1669 "Document Viewer | Focus page so users can navigate up/down"
**Current state**
When a user uses the keyboard right/left arrows to move between documents, the page is not focused on the document, so they can't use the up/down arrows unless they select the document to manually focus it.

**Expected**
Focus on the document so people can use the hotkeys

## AC
- When a user opens a document or navigates between documents, we should focus the page so the  up/dow

[2017-04-20 20:45] abbyraskin opened #1670 "Document Viewer | Side menu: selecting the download button downloads the pdf"
If a user clicks on the download icon on the side menu, the browser downloads the current document to the user's computer.

- Validate that selecting the download icon initiates download of the current document

[2017-04-20 20:45] mdbenjam opened #1671 "XML | Take out XML documents"
Remove XML documents since they don't render properly

## AC
- XML documents are not shown in Reader

[2017-04-20 20:49] mdbenjam opened #1672 "Fit to Screen | Moves back to first page"
Currently, when a user clicks on the "fit to screen" icon from inside a document, they are jumped to the first page in the document.

This shouldn't happen.

Instead, they should remain on the page they're actively viewing.

## Acceptance Criteria
- If a user clicks the "fit to screen" icon, they remain on the page they're currently viewing, rather than jumping them back to the first page in the d

[2017-04-20 20:51] shellicious commented on #1114
@amprokop I'm thinking "No box selected" = no hearing wanted, or the No Hearing Desired state.

[2017-04-20 20:54] NickHeiner commented on #1477
The SVG does not work for me. @gnakm can you re-upload?

![image](https://cloud.githubusercontent.com/assets/829827/25252189/0b8238fa-25ea-11e7-8fc0-3f03eb99439b.png)

[2017-04-20 20:58] amprokop commented on #1114
Yep, agreed. @arolsch can we go with this?

On Thu, Apr 20, 2017 at 4:51 PM, Shelly <notifications@github.com> wrote:

[2017-04-20 21:02] NickHeiner commented on #1432
Is the "selected" state for the filter icon for when there is a filter applied, or when the dropdown filter is open, or both?

![image](https://cloud.githubusercontent.com/assets/829827/25252487/2ac00480-25eb-11e7-997c-cdb6055738ee.png)

[2017-04-20 21:14] abbyraskin opened #1673 "Document Viewer | Comments: add comment"
**Context**
Currently, when a user goes to add a comment to the page, the cursor does not change in any way, so the user has no visual feedback they are can add a comment to the page.

## Acceptance criteria
- When a user selects the `Add a comment` button, the cursor is replaced by the comment icon, and the user can place the comment anywhere on the page.

[2017-04-20 21:14] gnakm commented on #1091
@shellicious Could you help us put together a story for this, related to certification for style guide?

[2017-04-20 21:16] gnakm commented on #1138
Closing this because it's been implemented.

[2017-04-20 21:16] #1138 closed

[2017-04-20 21:18] shellicious commented on #1091
@gnakm yes!

[2017-04-20 21:18] gnakm commented on #1101
Closing this because we solved this problem with number input inline with text label for dispatch.

[2017-04-20 21:18] #1101 closed

[2017-04-20 21:22] amprokop commented on #1484
ok, that's a good common pattern for user-friendly validation. sounds good. @shellicious i updated the ticket to make this so, can you give it a once-over to make sure our expectations are aligned?

@sharonwarner, is this clear enough?

[2017-04-20 21:28] shellicious commented on #1484
sgtm!

[2017-04-20 21:33] abbyraskin commented on #1673
- Do we need to highlight the comment box? Are we already doing so?

[2017-04-20 21:38] abbyraskin commented on #1673
This was captured by https://github.com/department-of-veterans-affairs/caseflow/issues/1282 but not implemented correctly. Closing out this issue as a dup

[2017-04-20 21:38] #1673 closed

[2017-04-20 21:41] abbyraskin commented on #1282
I will also move the clarification comments into the description.

The current AC said:
- When document reader is open, cursor should be the icon
- When icon is clicked in the document, comment box should jump to top

[2017-04-20 22:01] gnakm commented on #1432
@NickHeiner Both!

[2017-04-20 22:02] NickHeiner commented on #1432
:+1: thanks!

[2017-04-20 22:20] gnakm commented on #1477
@NickHeiner  Updated!

[2017-04-20 22:24] gnakm commented on #1515
@NickHeiner I cannot give a 100% answer because I don't know what other backend errors could possibly happen.

I think for this scope, it makes sense to handle all in document viewer errors as you mentioned, in issue #1573. For document list view, probably be handled with the default VMBS error in red as Artem once shared on slack.

[2017-04-21 11:40] nicholasholtz commented on #1114
Definitely "No box selected" = no hearing wanted :)

[2017-04-21 11:42] nicholasholtz commented on #1187
If it was inconsistent, I'd be more concerned, but not fatally so.

I think it is something we can just be up front about and let them know it is something we are working on, and will let them know if it changes during the pilot.

Launch away.

[2017-04-21 13:04] lakohl commented on #1546
I'm re-designing the table on this page, so let's not fix this yet.

[2017-04-21 13:09] #1528 closed

[2017-04-21 13:24] lakohl opened #1674 "Route Claim: Create End Product - supress acknowledgement letter"
Bug. We should default to Suppressing the Acknowledgement Letter by checking the 'Suppress Acknowledgement Letter' box at the bottom of the EP Creation page.

## **AC**
1. Verify that the 'Suppress Acknowledgement Letter' box on the Route Claim: Create End Product page is checked by default.

## **Mock**
<img width="823" alt="screen shot 2017-04-21 at 9 27 16 am" src="https://cloud.githubuserconte

[2017-04-21 13:28] lakohl commented on #1674
@abbyraskin can you verify that the above should indeed be our default?

[2017-04-21 13:40] mdbenjam opened #1675 "Reader | Fix non-deterministic test failure"
This issue should be used to document any non-deterministic test failures in Reader.

1) We think we understand why this test was failing, and it has been skipped until we can fix it. #2028

[code]

2) Shane has seen this:https://dsva.slack.com/files/shane-russell-va/F5H8XRR7A/screen_shot_2017-05-25_at_10.13.32_am.png
![image](https://cloud.githubusercontent.com/assets/3885236/26453933/7897c590-41

[2017-04-21 13:44] astewarttistatech commented on #1400
@Sjones352

Current View:
<img width="1190" alt="screen shot 2017-04-21 at 9 43 34 am" src="https://cloud.githubusercontent.com/assets/23038505/25280201/1b14bcf6-2677-11e7-8501-afe57fbfe09b.png">

[2017-04-21 14:00] gnakm opened #1677 "Styleguide Component | Layout section - App Canvas"
As a developer, I want to know what the specs of an App Canvas should be.

## Acceptance Criteria

**_Note there isn't UI component to build out for this section._**
- Verify that the canvas has 40px padding top, bottom, left and right in the code.
- Verify the description copy below is under the title App Canvas
- Verify that App Canvas is under the Layout section

## App canvas

Almost all of th

[2017-04-21 14:07] slj commented on #1435
Solution in action:
![context-help](https://cloud.githubusercontent.com/assets/1053255/25281079/3808c480-267a-11e7-9c04-5106df3953a9.gif)

[2017-04-21 14:18] slj opened #1679 "Validate user on help page request?"
While working on #1435 and #1525 this came up.  There are benefits to making the pages publicly accessible.  @lakohl cited one in particular where new VA employees can do some training with the information while awaiting their login credentials.

[2017-04-21 14:19] joofsh opened #1681 "Add Hot Module Reloading to webpack"
Add hot module reloading so that we can get quicker feedback/iteration on development changes locally. With hot module reloading, we can save a file and instantly see the change in the browser.

[2017-04-21 14:31] shanear commented on #1556
worked! closing this out.

[2017-04-21 14:31] #1556 closed

[2017-04-21 14:53] Sjones352 commented on #1400
@astewarttistatech
Current view
<img width="1079" alt="screen shot 2017-04-21 at 10 48 18 am" src="https://cloud.githubusercontent.com/assets/23080951/25283129/b0e372e6-2680-11e7-9f0a-cba2e2de3935.png">

[2017-04-21 14:55] astewarttistatech commented on #1424
**PASSED**

Validated in: Preprod
Browsers: Chrome and FF

Steps to Validate:
1. Go to Certification V2 with a valid veteran's information.
2. Validate the date format.

Screenshot:
<img width="1255" alt="screen shot 2017-04-21 at 10 54 28 am" src="https://cloud.githubusercontent.com/assets/23038505/25283241/16ee3dfa-2681-11e7-839e-d957e6a5073e.png">

[2017-04-21 14:55] #1424 closed

[2017-04-21 15:02] abbyraskin commented on #1187
OK, thanks @nicholasholtz!

[2017-04-21 15:02] abbyraskin commented on #1187
@avrildavid @wturne this is a bug we'll probably want to bring up in training if it still exists when we launch, which it likely will.

[2017-04-21 15:07] abbyraskin commented on #1674
@lakohl yep, correct! and just double checked with George who says the same.

[2017-04-21 15:09] avrildavid commented on #1187
Thanks for the heads up @abbyraskin - we can mention it's a temporary bug in the prototype. For clarification, does this only happen in the document list view or does it happen anywhere else receipt date is shown (if there are any other places, not sure)?

[2017-04-21 15:13] abbyraskin commented on #1515
@NickHeiner curious if you'd recommend a different handling?

[2017-04-21 15:21] NickHeiner commented on #1515
No, that's fine, just wanted to make sure I understood the scope of each ticket properly.

[2017-04-21 15:25] shanear commented on #1674
I can work on this now.

[2017-04-21 15:25] nicholasholtz commented on #1187
@avrildavid We are probably going to have a small list of identified bugs that will be present, so may want to go ahead and plan in that direction as far as tracking these things goes (but you might already be doing so!). :)

[2017-04-21 15:32] gnakm opened #1684 "Styleguide component | Typography - Font Family"
As a developer or designer, I want a guideline Caseflow typeface so that I know what to use for future applications.

## Acceptance Criteria
- Verify that this is under the Typography section in style guide
- Verify that the texts below are all in font size 24px
- Verify that each text resembles the Source Sans Pro weight it's supposed to be

**_Note: No description_**

## Mockup
![image](https://

[2017-04-21 15:36] abbyraskin commented on #1187
@avrildavid good call...it happens everywhere the Receipt Date is shown.

[2017-04-21 15:37] gnakm opened #1685 "Styleguide component | Typography - Text Styles"
As a developer or designer, I want a guideline for the typography styling so that I know what to use for future applications.

## Note Note Note!
We are retiring the previous h1 (44px)!

## Mockup

- Verify that Text Styles is under the Typography section in style guide
- Verify that each text resembles the Source Sans Pro weight and size it's supposed to be
- Verify that font-family, font-weight,

[2017-04-21 15:39] avrildavid commented on #1187
Thanks, @abbyraskin

[2017-04-21 15:43] astewarttistatech commented on #1400
**PASSED**

Validated in: Preprod
Browsers: FF and Chrome

Steps to Validate:
1. Go to Dispatch as a caseworker and assign a Full Grant to a Tier 1 or Tier 2 special issue.
2. On the Route Claim page, continue to the next page
3. On the VBMS Note page, verify that the Copy Note button UI matches the mocks displayed above in the AC.

Screenshots:
<img width="1197" alt="screen shot 2017-04-21 at 11

[2017-04-21 15:43] #1400 closed

[2017-04-21 16:12] astewarttistatech opened #1688 "Special Characters/Numbers allowed in manipulative required fields"
**Description:**
Currently, a user can insert special characters into the text fields in Certification V2 and it works.

**Environment:** Preprod
**Browsers:** FF and Chrome

**Steps to Replicate:**
1. Open Certification V2 for a veteran who has all of their required documents needed to certify an appeal.
2. Go through the flow on the Confirm Case Details page.
3. On the Confirm Hearing and Sign a

[2017-04-21 17:06] kierachell commented on #1632
**PASSED**
Tried different sensitivity levels and it didn't seem to affect different user accounts we have.

[2017-04-21 17:06] #1632 closed

[2017-04-21 17:30] kierachell commented on #1335
**PASSED**
tested on a few IDs by changing document type

<img width="648" alt="screen shot 2017-04-21 at 1 25 26 pm" src="https://cloud.githubusercontent.com/assets/18075411/25289104/4bb76c2c-2696-11e7-9965-e2091e5b82ba.png">
<img width="705" alt="screen shot 2017-04-21 at 1 26 31 pm" src="https://cloud.githubusercontent.com/assets/18075411/25289105/4bbe116c-2696-11e7-8164-b30b000d18eb.png">

[2017-04-21 17:30] #1335 closed

[2017-04-21 17:45] kierachell commented on #1674
When did this start happening?
<img width="1091" alt="screen shot 2017-04-21 at 1 44 59 pm" src="https://cloud.githubusercontent.com/assets/18075411/25289708/c8b6b802-2698-11e7-9a59-5a56d5af68aa.png">

still happening

[2017-04-21 17:47] #1674 closed

[2017-04-21 17:50] lakohl opened #1689 "Change cases assigned to 'goal for today'"
Change cases assigned to 'goal for today' all over Dispatch. We are no longer assigning a specific number of cases to each claims assistant, but rather are giving them a 'goal' or a number of cases they should try to complete that day. They receive points for each kind of work they do and this could be distributed in different ways.

**Old Mock** (we need to replace language)

<img width="516" alt

[2017-04-21 18:07] lakohl commented on #1689
@avrildavid would love your wordsmith magic on this ^^?

Also looking for a new name for the manager page as a result...
<img width="808" alt="screen shot 2017-04-21 at 2 05 36 pm" src="https://cloud.githubusercontent.com/assets/4975959/25290362/c7dbb358-269b-11e7-8d2c-e8d7e00d3fee.png">

[2017-04-21 18:20] kierachell commented on #1113
**PASSED**

[code]
<img width="766" alt="screen shot 2017-04-21 at 2 10 01 pm" src="https://cloud.githubusercontent.com/assets/18075411/25290570/9e11b1e8-269c-11e7-8f5e-dff05bfcc90d.png">

[code]
<img width="691" alt="screen shot 2017-04-21 at 2 13 24 pm" src="https://cloud.githubusercontent.com/assets/18075411/25290605/c3e81e8e-269c-11e7-8897-cd140657e411.png">

[2017-04-21 18:20] #1113 closed

[2017-04-21 18:38] kierachell commented on #1086
**PASSED**
Looks awesome

[2017-04-21 18:38] #1086 closed

[2017-04-21 18:47] lakohl commented on #1689
Closing for now

[2017-04-21 18:48] #1689 closed

[2017-04-21 18:49] shanear opened #1690 "Manager View | Allow manager to set custom goals"
As a manager, when needed, I would like to manually adjust the number of cases assigned to each employee.

## **AC**
1. Verify that at the start of the day, an 'unlocked' icon and an "Edit" link displays next to the Claims Assigned number for each employee.

2. Verify when a manager clicks on "Edit" (for a locked or unlocked quota), the Claims Assigned number becomes an editable number field, and

[2017-04-21 18:49] lakohl opened #1691 "Manager View | When more people complete a task than what was set in "Number of people working today", bump the number"
As a claims assistant I would like to see an accurate estimate of the number of cases I am assigned to work for the day. As a manager, I would like the queue to be distributed evenly across the claims assistants who log in - even if that number is larger than the number of employees I originally entered as working today.

## **AC**
When the number of claims assistants that have completed a task is

[2017-04-21 18:49] shanear opened #1692 "Manager View | Account for remainders when automatically setting task assignments"
## AC
1. Verify that when the manager initially distributes cases for the day, if there is a remainder, it should be distributed one at a time from the top employee to the bottom.
2. Verify that when a user starts a task, they are added to the manger page and receive a quota
3. Verify that until a user starts a task in a day, they do not see a numeric quota, and instead see: "Get Started!" and "Th

[2017-04-21 18:50] shanear opened #1693 "Manager View | Don't allow managers to assign fewer than total tasks"
As a manager, if I edit the Claims Assigned to each employee and as a result, I leave some claims in the queue unassigned, I would like to receive a warning.

## **AC**
1. Verify that if the total Claims Assigned are less than the total number of claims in the queue
the following warning is displayed:

[2017-04-21 18:50] lakohl opened #1694 "Not enough people start by a certain time in the day"
As a manager, I would like to ensure that all the cases available to ARC are completed on a given day.  At a set time each day, I would like Caseflow to check to see if the number of employees I set as working today matches the number of people who have logged in. If the number of people who have logged in is less than the number of employees entered as working today, I would like Caseflow to show

[2017-04-21 18:55] lakohl opened #1695 "ARC Work Assignments: Show people who have not yet logged in (with numbers)"
As a manager, I would like to see the total number of rows for employees working that day, even if Caseflow does not yet know who they are yet.

## **AC**

1. Verify that at the start of the day, the number of 'employee' rows in the ARC Work Assignments table matches to the number of employees the manager has set as working today. (e.g. if the manager has set the number of employees as working to

[2017-04-21 18:56] lakohl opened #1696 "Manager View: change column structure"
As a manager, I would like to see how many of each type of case (e.g. full grants, remands, partial grants) my employees work in a day.

## AC

1. Verify that on the manager page, the ARC Work Assignments table now has six columns.
1. Verify that the column headers have the following new names:
  - Employee Name
  - Full Grant
  - Partial Grant
  - Remand
  - Completed
  - Claims Assigned
3. Verif

[2017-04-21 19:04] abbyraskin commented on #1491
@gnakm how does "expand all" interact with filters? i would think ideally if a user has filtered by category or issue tag, it only expands what is showing in the filtered doc list view.

[2017-04-21 20:12] abbyraskin commented on #1674
@shanear is a wizard

[2017-04-21 21:38] gnakm commented on #1491
@abbyraskin I agree that expand all should shows filtered view only. I think for the pilot, this will be okay but for v2 let's think about the placement and consider hierarchy.

[2017-04-21 21:38] lakohl commented on #1546
This issue may be mute as we are re-designing this table now.

[2017-04-21 23:33] tejans24 commented on #1437
Since we don't have pre-populated tags, the tag has to be typed in and the dropdown won't show a list of options. Do we need to update the AC for this?

[2017-04-21 23:37] abbyraskin commented on #1437
They can only select an existing tag if the user has added it.

[2017-04-23 22:42] lakohl opened #1701 "Manger View | Reset queue"
As a manager, if I have manually adjusted the number of cases assigned to my employees, I would like the option to reset the queue and once again distribute today's cases evenly amongst my employees.

## **AC**
1. Verify that after editing the number of Claims Assigned to an employee, a manager can reset/redistribute the queue evenly again by undertaking the following steps:

- Clicking on the ico

[2017-04-23 23:01] shanear commented on #1691
## Originally AC
When the number of claims assistants logged in is larger than the number of employees the manager entered in the numeric text box as working today:

1. Verify that the number in the numeric text box is updated to reflect the number of employees who have logged in that day.

1. Verify the total number of claims in the queue is evenly distributed across the number of employees logge

[2017-04-23 23:03] lakohl commented on #1694
@shanear in the AC above I wrote that at 11 am Caseflow should redistribute the remaining cases amongst the employees who are logged in bc I worry that if they've already logged out they might think that they are finished for the day and have no way of knowing that they have been assigned more work.

I will check with George first thing Monday am to see if 11am is the right time to check for this.

[2017-04-23 23:19] shanear commented on #1694
## Original AC
As a manager, I would like to ensure that all the cases available to ARC are completed on a given day.  At a set time each day, I would like Caseflow to check to see if the number of employees I set as working today matches the number of people who have logged in. If the number of people who have logged in is less than the number of employees entered as working today, I would like C

[2017-04-24 11:50] shanear commented on #1695
@lakohl

#9b9b9b fails accessibility color contrast rules, and is also not a color in the USWDS.

Can we use #5b616b (gray) instead?

[2017-04-24 11:52] shanear commented on #1695
"Not logged in" is not a perfectly accurate way to describe it. Users won't appear there even if they are logged in, because they might not yet have completed a Claim Establishment today.

Something like "No completed cases", "None completed" would be more accurate.

@lakohl let me know if you'd like to change.

[2017-04-24 11:53] shanear commented on #1695
1. Verify that the 'employee rows' are numbered chronologically *by the first case completed that day* from top to bottom.

@lakohl is this correct?

[2017-04-24 12:01] shanear commented on #1690
It makes more sense to me for them to all start out as "locked" (which means they are automatically set) @gnakm @lakohl, can we chat about this?

[2017-04-24 12:04] shanear commented on #1693
@lakohl this situation would only occur if all the fields were "unlocked" not when they were "locked"

[2017-04-24 12:05] shanear commented on #1690
We should also not allow users to assign more cases than there are for that day.

[2017-04-24 12:05] astewarttistatech commented on #1080
Pushing back since no change has been made to the "Sign Up" button

[2017-04-24 12:08] shanear commented on #1692
## Original **AC**
1. Verify that when the manager edits and employee's Claims Assigned number the remaining cases in the queue (e.g. queue total - edited Claims Assigned = remaining cases) are re-distributed evenly amongst the unlocked rows in the Claims Assigned column.
1. Verify that if there is an odd number of cases to redistribute, the 'extra cases' will be distributed one at a time to the u

[2017-04-24 12:22] shanear commented on #1692
Changing AC to reflect that this story should be done before https://github.com/department-of-veterans-affairs/caseflow/issues/1690.

[2017-04-24 12:22] shanear commented on #1692
@lakohl we should update the mock accordingly.

[2017-04-24 12:26] astewarttistatech commented on #1490
**PASSED**

Validated In: Preprod
Browser: FF and Chrome

Steps to Validate:
1. In Certification V2, navigate to confirm hearing page
2. Verify the date is bolded, based on the AC.

Screenshots:
<img width="1344" alt="screen shot 2017-04-21 at 12 03 52 pm" src="https://cloud.githubusercontent.com/assets/23038505/25336866/6d79a7e8-28c7-11e7-8095-8fa3d1e649cb.png">

[2017-04-24 12:36] #1490 closed

[2017-04-24 12:43] shanear opened #1703 "NEW STANDUP NORMS 👍"
There were some concerns last retro about standup not being useful, or there being ways we could improve it. Here are my rough notes:

- know more about specifics of how things are going in standup
- standups are supposed to talk about blockers
- investigate different formats for standup
- many people don't have context on what other people are working for standup to be useful
- peoples mind is on

[2017-04-24 12:56] astewarttistatech commented on #1002
Current view on the right vs. the mocks on the left
<img width="1133" alt="screen shot 2017-04-24 at 8 54 53 am" src="https://cloud.githubusercontent.com/assets/23038505/25338004/c5661ffa-28cb-11e7-812c-5160272e9032.png">

@mmlumba Could you take a look at the Style Guide and make the appropriate changes.

[2017-04-24 13:34] shanear commented on #1701
No longer needed.

[2017-04-24 13:34] #1701 closed

[2017-04-24 13:38] mmlumba commented on #1002
@astewarttistatech the navigation is scrollable on the left side so you can scroll on the nav to see the rest of the items in the navigation

[2017-04-24 13:50] gnakm commented on #1002
It's scrollable and there will be a 2nd version for sidenav with more specific ACs for length of the horizontal bars and spacing.

[2017-04-24 13:59] abbyraskin opened #1704 "Create End Product | Make "Modifier" field read-only"
## Story
Currently, the **Modifier** field is an editable dropdown. Instead, it should be read-only, so users don't change it accidentally/unnecessarily. The styling should match other read-only fields on the page (such as **Station**)

## Acceptance Criteria
- **Modifier** field on the Create End Product page displays in read-only format, and cannot be changed by the user
- Update `duplicate_ep`

[2017-04-24 14:04] abbyraskin commented on #1704
FYI, just snuck this one in to Triage @lakohl @shanear (should be a quick fix)

[2017-04-24 14:08] lakohl opened #1705 "Allow ARC Manager to sign in as a Claims Assistant"
Allow ARC Manager to also sign in as a Claims Assistant. Sometimes George needs to cest a particularly tricky claim.

[2017-04-24 14:16] amprokop commented on #1688
@shellicious — should we prevent this?

[2017-04-24 14:44] NickHeiner commented on #1703
I think that the full-team standup provides value for handing out unassigned work, and for announcements that truly concern everyone.

What if we do the following format:

1. Team-wide announcements, led by @shanear or whomever is driving
    * "Git got messed up last night. You may need to pull from X".
    * "Welcome this new person to the team"
    * "We're going to make a new advance team to d

[2017-04-24 14:54] tejans24 opened #1706 "Rethink the logic when a new tag is created in Reader"
Right now, when a tag is created, the POST returns a JSON with the newly created tags as response. Then the response is merged into to the redux state of documents.

Alternatively, we can make a get call /{document_id}/tags call after a successful POST, fetch all tags related to a document and update the redux state.

[2017-04-24 14:58] shanear commented on #1693
More discussion on actual solution here with @lakohl

[2017-04-24 15:06] kierachell commented on #1559
Sample error from another page:
<img width="1396" alt="screen shot 2017-04-24 at 11 05 57 am" src="https://cloud.githubusercontent.com/assets/18075411/25343795/141ef650-28de-11e7-8d7f-4599410d5db1.png">

[2017-04-24 15:31] amprokop commented on #1312
Mostly done, a few tweaks that are captured in https://github.com/department-of-veterans-affairs/caseflow/issues/1497.

[2017-04-24 15:43] shanear commented on #1703
Pretty much agree with everything you proposed @NickHeiner. I like the idea of more in depth convos with only the relevant parties right after standup, these conversations should be called out in larger standup so the relevant parties all know the convo is happening (the relevant parties don't always fall neatly along sprint team lines)

[2017-04-24 15:43] amprokop commented on #1529
We should pick up this issue even though we'll be hiding the Form 8, because we need to make sure changes in the UI are reflected in Form 8. First step is to try to reproduce. Does this issue happen only when we navigate back in the browser to the Form 8 preview page, maybe?

[2017-04-24 15:47] amprokop opened #1709 "Sign And Certify | Populate changes to the DB [2]"
Populate Sign and Certify data to the DB. See `certification/ConfirmCaseDetails.jsx`, `actions/ConfirmCaseDetails.js`, and `reducers/ConfirmCaseDetails.js` for a pattern to follow.

Acceptance Criteria:

Make selections on /certifications/VACOLS_ID/sign_and_certify.
Click continue.
Reload the page.
Your selections should now be populated with the data from the db.

[2017-04-24 15:48] lakohl commented on #1679
@slj lets discuss. It sounds like we may need a general Caseflow Help page that links our to the app specific Help pages

[2017-04-24 15:54] amprokop opened #1710 "Get POA information from BGS [5]"
We should fetch POA information using BGS.

This is a complex issue that will likely take awhile to get right. The dev should feel free to adjust requirements, second-guess this ticket description, etc.

`VetRecordService` will give us a POA code for a single Veteran, which we need cross reference with a list of POA names and types cached to get the human-readable name and type of the organization

[2017-04-24 15:59] shellicious opened #1711 "Add "Refresh Page" button to Mismatched docs page for V2 [1]"
If documents for an appeal are mismatched or missing, the call to action button in the bottom right should be active (blue) and say "Refresh Page". Clicking on the button refreshes the page.

If the documents are found, the user will then see a confirmation page stating that the documents have been found. If the documents are not found, on page refresh they will continue to see the mismatched docs

[2017-04-24 16:05] kierachell commented on #819
**PASSED**

![dispatchstats](https://cloud.githubusercontent.com/assets/18075411/25346662/30707d94-28e6-11e7-8bc1-ef3041732eba.gif)

[2017-04-24 16:05] #819 closed

[2017-04-24 16:58] lakohl commented on #1694
@shanear I talked to Abby and am thinking that we should maybe hold off on implementing this ticket. Maybe start by showing a warning instead.

[2017-04-24 17:13] shanear commented on #1694
@lakohl k I will postpone working on it and you can take a crack at the new AC.

[2017-04-24 17:19] mdbenjam opened #1712 "Scroll | To last read document on `< Back to All Documents`"
Currently when you hit the `Back to all documents` button we don't scroll to the most recently read. It's annoying to scroll back down.

AC:
- When a user clicks on `< Back to all documents` the page should be scrolled so that the last read document is visible.

[2017-04-24 17:20] amprokop commented on #1710
This is blocked on validating until alexis and artem have BGS accounts, but we can start development.

[2017-04-24 17:34] joofsh commented on #1703
+1 everything Nick said

[2017-04-24 17:34] amprokop commented on #1118
Assigning to Alexis and Artem so that they can figure out how to accomplish this between them. We apparently don't have many user accounts from different ROs in UAT or preprod.

[2017-04-24 17:35] gnakm opened #1713 "Document Viewer | Adding comment document highlight"
**Story**

As a user, I want to see a visual indicator that shows that I am at the active state for adding a comment on a document viewer.

## Old AC

- Verify that there is a 10px border outline around the document viewer in `focus` or hex #3E94CF after a user clicks on add a comment button
- Verify that once the comment is saved, the border disappears

## ------------ Updated AC -----------

- V

[2017-04-24 17:40] amprokop commented on #1312
@astewarttistatech will get rid of this!

[2017-04-24 17:41] amprokop commented on #1495
Duplicate

[2017-04-24 17:41] #1495 closed

[2017-04-24 17:47] amprokop commented on #1529
This will start as an investigation, but the dev may need to fix an issue if there is one.

[2017-04-24 17:55] mdbenjam opened #1714 "New Tab | Ensure robustness"
When a user ctrl + clicks (PC) or command+click (Mac)  it should open a document in a new tab. When a new tab is opened, it should only contain that one file, and not load the entire case.

# AC
1. Verify that `ctrl/command/middle + click` on a document opens it in a new tab.
1. Verify there is no loading spinner in the new tab, that it loads just the one document.
1. Verify there is no back to al

[2017-04-24 18:11] #1062 closed

[2017-04-24 18:23] astewarttistatech commented on #1266
**PASSED**

Validated In: Preprod
Browser: FF and Chrome

Steps to Validate:
1. View a veteran's file with documents in Reader.
2. Click on one of the documents in the list view.
3. From the PDF viewer, navigate back to the list view of documents.
4. Validate that the "last read icon" is placed on the last document accessed.

Screenshots:
![lastread_reader](https://cloud.githubusercontent.com/asse

[2017-04-24 18:23] #1266 closed

[2017-04-24 18:43] amprokop opened #1715 "Use new version of the Form 8 [5]"
We should put this issue behind a feature flag that's different from the `certification_v2` feature toggle, because we're not going to switch to the new form8 until after the pilot is finished.

[VA8_4.pdf](https://github.com/department-of-veterans-affairs/caseflow/files/952802/VA8_4.pdf)

## Acceptance Criteria

1. You will need to `FeatureToggle.enable!(:form8_v2)` in UAT/preprod
1. Certify an a

[2017-04-24 18:51] amprokop opened #1716 "Display server-side errors in Certification v2 [2]"
Make sure appropriate error pages are rendered for server-side errors.

- if there's an error saving to the DB
- if there's an error certifying the appeal to VACOLS or uploading the docs to VBMS

This is blocked by #1313 and #1642

[2017-04-24 19:18] NickHeiner commented on #1261
What does "the button" refer to in this AC?

[2017-04-24 19:24] mdbenjam commented on #1259
Updated AC:
- The Document Type in both the sidebar and top toolbar should have ellipses when it is too long to fit.
- The `Back to all documents` button should also have ellipses when it is too long to fit.

@gnakm

[2017-04-24 19:27] nicholasholtz commented on #1715
There is an updated version of this - same questions, but different layout. See slack. WIll upload here

[2017-04-24 19:29] nicholasholtz commented on #1715
[VA8 (3-21-17 Rev.).pdf](https://github.com/department-of-veterans-affairs/caseflow/files/952882/VA8.3-21-17.Rev.pdf)

[2017-04-24 19:32] gnakm commented on #1259
@mdbenjam 👍 I added it to new AC at the top

[2017-04-24 19:37] amprokop commented on #1710
Anya will do the ruby bgs issue, another dev might do the Caseflow integration.

[2017-04-24 19:38] aroltsch commented on #1114
@amprokop these changes https://github.com/department-of-veterans-affairs/caseflow/issues/1114#issuecomment-295902565 will be done as part of this ticket:
https://github.com/department-of-veterans-affairs/caseflow/issues/1642

[2017-04-24 19:42] amprokop commented on #1660
`DISPLAY_CANCELLATION_MODAL`
`START_MODAL_SUBMIT`
`SUCCESS_MODAL_SUBMIT`
`FAILURE_MODAL_SUBMIT`

[2017-04-24 19:46] amprokop commented on #1398
Try to timebox this to an hour— this only happened once according to @aroltsch

[2017-04-24 19:56] slj commented on #1079
@gnakm can the boxes be smaller, like 110x110?

[2017-04-24 19:59] slj commented on #1079
@gnakm here are snapshots with the boxes at 110px x 110px:
<img width="694" alt="screen shot 2017-04-24 at 3 57 03 pm" src="https://cloud.githubusercontent.com/assets/1053255/25356064/e7686f14-2906-11e7-8d2d-a529898de46d.png">
<img width="575" alt="screen shot 2017-04-24 at 3 57 33 pm" src="https://cloud.githubusercontent.com/assets/1053255/25356065/e96159b6-2906-11e7-99e5-64968b6930ad.png">
<img

[2017-04-24 20:37] abbyraskin commented on #1486
Closing this out and moving some of the AC to #1470 and #1469

[2017-04-24 20:37] #1486 closed

[2017-04-24 20:50] NickHeiner opened #1717 "Issue tags stutter a bit when you add them"
![tag stutter](https://cloud.githubusercontent.com/assets/829827/25358052/0c2cb2a4-290e-11e7-94db-b572d73e67a5.gif)

When you add a new tag, instead of the view updating immediately, the tag disappears and then is re-added. This is because we don't update the client, but instead send a request to the server and wait for it to tell us what the new tags are. We can make this a smoother experience at

[2017-04-24 23:56] slj commented on #1350
Screenshot:

<img width="683" alt="screen shot 2017-04-24 at 4 37 58 pm" src="https://cloud.githubusercontent.com/assets/1053255/25363379/04d02f1c-2928-11e7-8bd1-08444bcbefa1.png">

[2017-04-25 01:44] slj commented on #1079
@gnakm `gray-lighter` was way too light - here's some shots with `gray-medium`:
<img width="466" alt="screen shot 2017-04-24 at 9 42 03 pm" src="https://cloud.githubusercontent.com/assets/1053255/25365489/142df598-2937-11e7-98d2-0571e7ce0c9f.png">
<img width="448" alt="screen shot 2017-04-24 at 9 42 24 pm" src="https://cloud.githubusercontent.com/assets/1053255/25365491/167271ee-2937-11e7-938e-c8e

[2017-04-25 12:17] #1533 closed

[2017-04-25 12:27] kierachell commented on #1703
1. how about: https://github.com/binaryberry/seal

1. I kinda feel like I'd want to be on every team's standup just to have perspective of "stuff that's coming your way." Which is currently the biggest value I get from standup at this moment (since pretty much every team's issues/PRs are somewhat relevant to what I will be looking at).

1. Would we need to more liberally use the `blocked` label or

[2017-04-25 12:29] Sjones352 commented on #1566
### Tasks to do
- [ ] Verify that the emojis appear in the correct order (add pic): Flex biceps, Laptop, flag
- [ ] Verify that the Emojis are above `Way to go!` text
- [ ] Verify that Way to go! is in`h2`
- [ ] Verify that the Emojis and End product has been created line are 30px apart
- [ ] Verify that the copy shown before the emojis reads:

<img width="727" alt="screen shot 2017-04-25 at 8 22

[2017-04-25 13:01] shanear commented on #1703
@kierachell

1. Using an online/async status tool would mitigate one of the biggest benefits to standup, which is to have everyone in the same place to facilitate discussion.

2. I agree. There are a lot of issues with each swim lane having a separate standup. I think the current leading thought is that we'd reduce the time of standup via @NickHeiner's suggestions, and you could know which post-st

[2017-04-25 13:10] shanear commented on #1703
A couple more notes on my thoughts about standup:

This is not a sound assumption to make in my experience. PRs and issues get forgotten about all the time and stand up is a good time to tease out what we should do with them while everyone is present.

Also, we run a **very** management light team. In lieu of that, each team member must do a lot more self managing. People have varying degrees of p

[2017-04-25 13:15] kierachell commented on #1703
My point 1 was more as a suggestion for status checks if teams want to have their own standups

And I agree: on some level, it's the point of standup to "poke" you about things that you have on your plate - how many times have we heard the phrase "oh! I have a PR! Ok, I will look at that" at standup?

[2017-04-25 13:15] shanear commented on #1703
🦀 🦀 🦀 🦀 🦀

[2017-04-25 14:21] gnakm commented on #1084
Add Error lites from reader!

[2017-04-25 14:33] gnakm commented on #1079
@slj I didn't even know we had a `grey-medium` but that works!

[2017-04-25 14:37] gnakm commented on #1261
@NickHeiner Button is really a text link
Hide Menu > and Open Menu

[2017-04-25 14:37] nemodjuric opened #1722 "[1] Create a React component for Cancellation modal success page"
Convert this view into a React component (jsx page):
![caseflow certification 11](https://cloud.githubusercontent.com/assets/4960030/25391006/267adfec-29a3-11e7-870e-91f48e7084b1.png)

Acceptance criteria:
After merge, check that the cancellation success page still renders properly.

[2017-04-25 14:37] laurjpeterson commented on #1703
Relating to Nick's point 3, it could be helpful to report out by advanced team to reduce switching from product to product, instead of in alphabetical order. Open to thoughts about how those who span teams could report out - wouldn't want this suggestion to cause repetition.

[2017-04-25 14:38] kierachell commented on #1667
**PASSED**
It's back!
<img width="1059" alt="screen shot 2017-04-25 at 10 32 09 am" src="https://cloud.githubusercontent.com/assets/18075411/25390780/7ca18caa-29a2-11e7-9f40-e0d850ca33dd.png">

[2017-04-25 14:38] #1667 closed

[2017-04-25 14:58] kierachell commented on #1265
**PASSED**
do I get brownie points for validation backend with a GIF!?
![annotationuserinfo](https://cloud.githubusercontent.com/assets/18075411/25392167/f1b4d08a-29a5-11e7-80da-e321ee4a1b3d.gif)

[2017-04-25 14:58] #1265 closed

[2017-04-25 15:05] kierachell opened #1724 "Document Viewer | Adjacent annotations featuring identical text show up as one in Menu"
# Description
When creating Annotations for a single document. If I add a comment in adjacent order to a comment with identical text, they will not show up as separate comments in the menu.

## Reproduction Steps

**Scenario 1 -**

1. Create "comment" in Document Viewer
1. Create "comment2"
1. Create "comment" again away from first "comment"
1. Create "comment" near one of the other "comment"-s

*

[2017-04-25 15:13] kierachell commented on #1724
Bonus:
**COMMENT SPAWN**

![spawncomment](https://cloud.githubusercontent.com/assets/18075411/25392984/3aad1674-29a8-11e7-82ae-4d9e7874bf00.gif)

[2017-04-25 15:42] kierachell commented on #1649
![zoomcrawl](https://cloud.githubusercontent.com/assets/18075411/25394521/395fcfb0-29ac-11e7-9ab6-6c1a42b5d389.gif)

bonus: with comments crawling around

[2017-04-25 15:46] kierachell commented on #1664
Not sure what's going on?
![zoomingaround](https://cloud.githubusercontent.com/assets/18075411/25394674/b4e9da5e-29ac-11e7-9c49-d94346958ba3.gif)

[2017-04-25 16:49] slj opened #1727 "AWS Console access for Shade Lawrence Jenifer"
Email: shade.jenifer@va.gov

[2017-04-25 18:00] mdbenjam opened #1729 "Issues | Moving between documents, issue state is maintained"
Currently the dropdown stores the state of the issue box on the previous document.

![issues2](https://cloud.githubusercontent.com/assets/3885236/25400161/b26ab916-29bf-11e7-9ec9-e2489a470f5a.gif)

Acceptance Criteria
- [ ] When a user starts typing an issue and moves between documents, the issue should no longer appear.
- [ ] When a user unfocuses the dropdown any content they typed should remain

[2017-04-25 18:42] NickHeiner commented on #1703
🐼 ok, well if that's the reality, then we should work with that. But I think it would be a good growth area for people to be organized and self-sufficient, where we can mentor people to be that way. :smile: For instance, I have a [github query](https://github.com/department-of-veterans-affairs/caseflow/issues?utf8=%E2%9C%93&q=is%3Aopen%20assignee%3ANickHeiner%20) I keep refreshing to show me all o

[2017-04-25 18:43] NickHeiner commented on #1703
I also am in favor of in-person standups above slack-based tools. If nothing else, it's nice to be able to look your teammates in the eye once a day and get a read on their emotions.

[2017-04-25 18:51] amprokop opened #1730 "Refactor `certification.complete!`, `appeal.certify!`, and `Appeal.certify`"
We should take a look at these three methods and simplify them. These methods have been through a few iterations and we could probably refactor.

Consider getting rid of the class methods.

Context:
![image](https://cloud.githubusercontent.com/assets/3781835/25402348/6ac31782-29c6-11e7-8eb5-1a705362e9d0.png)

[2017-04-25 19:03] NickHeiner opened #1731 "[2] Fix JS console warnings"
**Impact:** Minor annoyance for devs now; blocks us from upgrading our version of React in the future.

When we upgraded to `react@15.5.4`, we started seeing the following errors:

![image](https://cloud.githubusercontent.com/assets/829827/25402535/f9001fe0-29c6-11e7-8822-6a4c8cfb0793.png)

## To fix the `PropTypes` warning

1. Read [Don't Call PropTypes Warning](https://facebook.github.io/react/w

[2017-04-25 19:13] kierachell commented on #1350
**PASSED**
LOOKING FLY
<img width="728" alt="screen shot 2017-04-25 at 3 12 47 pm" src="https://cloud.githubusercontent.com/assets/18075411/25403252/c6f55602-29c9-11e7-9101-4b2f9429883a.png">

[2017-04-25 19:13] #1350 closed

[2017-04-25 19:26] askldjd opened #1732 "Certification: Allow fuzzy date matches when verifying documents"
This is an action item from the [Honolulu RO interview](https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Projects/Certification/User%20research/Honolulu%20RO/interview-notes.md).

Currently, the [Caseflow Certification logic](https://github.com/department-of-veterans-affairs/caseflow/blob/8f2a862e7ab62367c3cfe74334c908095ae092bf/app/models/appeal.rb#L134-L144)

[2017-04-25 19:31] amprokop commented on #1732
Cool. Would this consist of allowing Form9/NOD/SOC/etc dates to match in VACOLS/VBMS if they're only one day apart?

[2017-04-25 19:51] askldjd commented on #1732
One _business_ day. According to Honolulu RO, if the letter date is Friday, it could show up as `received_at` on Monday in VBMS.

[2017-04-25 19:53] kierachell commented on #1587
The error shows that `documents were not found in VBMS`.
Is there a scenario where the document is present, but dates mismatch?
1. VACOLS date for NOD is `03/29/2001` but in VBMS it's uploaded at `04/01/2001`?
<img width="1049" alt="screen shot 2017-04-25 at 3 51 05 pm" src="https://cloud.githubusercontent.com/assets/18075411/25404823/4a8d43da-29cf-11e7-836f-3da4d83c2adf.png">
<img width="979" alt

[2017-04-25 20:16] lakohl commented on #1694
@shanear I just spoke to George and he feels the manager should do the task of assigning these claims manually. I think we may want to handle this with a warning to the manager rather than auto-reassign

[2017-04-25 20:32] kierachell commented on #1318
**PASSED**

# From Sign and Certify
[code]
<img width="1006" alt="screen shot 2017-04-25 at 4 13 22 pm" src="https://cloud.githubusercontent.com/assets/18075411/25405733/39052ba2-29d2-11e7-910b-8a39dfb7864e.png">

# From Confirm Hearing Details
[code]

# Confirm Case Details

[code]

[2017-04-25 20:32] #1318 closed

[2017-04-25 21:05] kierachell opened #1734 "Document List | Opening a document using keyboard or in new Tab/Window leads to Not Found error"
# Description
When opening a document from Document List using keyboard...things...go awry

## Reproduction Steps

**Scenario 1 -**

1. Go to Document list
1. Tab around and select a document using your keyboard
1. Press Enter
1. Not see a document

![arrows](https://user-images.githubusercontent.com/18075411/27181462-ae7ab1d6-51a5-11e7-99f9-1e33a44aacc5.gif)

**Bonus: Going Back in History**
<img

[2017-04-26 02:57] Sjones352 commented on #1089
### Tasks to do
- [ ]  Verify that there is a section called `Layout` in the style guide
- [ ] The dimensions of the white canvas on the style guide should be 714 x 50px
- [ ] Verify that there is a section called `Actions` under `Layout`
- [ ] Verify that the description for `Actions` appears under the title (see copy)
- [ ] Verify that the component appears under the description (see mocks)
- [

[2017-04-26 13:21] gnakm commented on #1478
@NickHeiner

1. Right now, when you click on categories and click/unclick an option, there is a slight glitch where it looks like it is being double clicked. Could you take a look at that?

2. This is a cosmetic fix but could you add a little more padding for each option in the dropdown menu? Right now it is looking a bit tight. 14px margin for each option?
![image](https://cloud.githubusercontent

[2017-04-26 13:26] #1069 closed

[2017-04-26 13:26] #1592 closed

[2017-04-26 13:27] slj commented on #1079
As directed by @gnakm, the **Primary** and **Secondary** swatches will also include the USWDS color variables that developers can copy and paste when writing SASS rules.

[2017-04-26 13:48] slj commented on #1079
Approved Screenshots:
<img width="680" alt="screen shot 2017-04-26 at 9 45 11 am" src="https://cloud.githubusercontent.com/assets/1053255/25437662/1af30bc8-2a65-11e7-8e18-ba9e60e9ef3c.png">

<img width="720" alt="screen shot 2017-04-26 at 9 45 55 am" src="https://cloud.githubusercontent.com/assets/1053255/25437705/3da71c86-2a65-11e7-8558-5cdedb035b44.png">

<img width="725" alt="screen shot 2017-0

[2017-04-26 14:21] #1399 closed

[2017-04-26 14:26] kierachell commented on #1691
- manager assigns
<img width="994" alt="screen shot 2017-04-26 at 10 08 41 am" src="https://cloud.githubusercontent.com/assets/18075411/25439564/c3bf6d32-2a6a-11e7-92a6-d38b6469771b.png">

- additional 3rd worker completes task.
<img width="996" alt="screen shot 2017-04-26 at 10 18 32 am" src="https://cloud.githubusercontent.com/assets/18075411/25439565/c3c1cbcc-2a6a-11e7-81bb-cb29e6dce45e.png">

[2017-04-26 14:53] astewarttistatech commented on #1080
**PASSED**

Validated in: Preprod
Browsers: FF and Chrome

Steps to Validate:
1. Access the living style guide.
2. Verify that the buttons match the mocks provided.

Screenshots:
<img width="853" alt="screen shot 2017-04-26 at 10 44 52 am" src="https://cloud.githubusercontent.com/assets/23038505/25440846/9cdee496-2a6e-11e7-8021-db700fbc2f04.png">

[2017-04-26 14:53] #1080 closed

[2017-04-26 14:57] astewarttistatech commented on #1112
**PASSED**

Validated in: Preprod
Browsers: FF and Chrome

Steps to Validate:
1. Access Certification V2 and go through the flow posted in the AC
2. Verify elements listed, are viewed.

Screenshots:
![cv2_flow](https://cloud.githubusercontent.com/assets/23038505/25441003/0ef65db6-2a6f-11e7-83d1-bf1735a498ba.gif)

[2017-04-26 14:57] #1112 closed

[2017-04-26 15:01] shanear commented on #1703
- allow designers to pass
- reassess how valuable it is for designers to be there
- review your in progress issues personally, but only say important things about your tickets, you don't have to talk about all of them.
- 5-10 min full team (and optional full team discussions), 5 min sprint team huddle (or other post-standup convos)
- keep invalidation as is. But maybe be a little more choppy about

[2017-04-26 15:03] astewarttistatech commented on #1002
**PASSED**

Validated in: Preprod
Browsers: FF and Chrome

Steps to Validate:
1. Go to living style guide
2. Scroll over the navbar

Screenshots:
![styleguidescroll](https://cloud.githubusercontent.com/assets/23038505/25441318/d5ac52c6-2a6f-11e7-8e6f-ab01cb384afb.gif)

[2017-04-26 15:03] #1002 closed

[2017-04-26 15:04] amprokop commented on #1587
hmmm

@kierachell —

Basically, if there is no VBMS date that matches a VACOLS date, then we should display "Not found" in the VBMS column. Can you test this again? I think it should be right

[2017-04-26 15:16] gnakm commented on #1478
FYI
@kierachell I'm creating a separate ticket for flickering category thing and putting it in the backlog. As for the specs, I'll make a separate ticket for that as well and for best practices will add them from the beginning to the AC moving forward.

[2017-04-26 15:21] gnakm opened #1738 "Document list | Categories dropdown flicker"
**Story**

When selecting and deselecting categories in the dropdown, there is a flicker.

## AC
- [ ] Verify that when you click on each category, there isn't a flickering effect.

![image](https://cloud.githubusercontent.com/assets/13420618/25442267/927668fe-2a72-11e7-92fa-ece520260877.png)

[2017-04-26 15:30] gnakm opened #1739 "Document list | dropdown paddings"
**Story**
As a user, I want to be able to use a clean and clear dropdown

**Description**

This is a cosmetic fix for the dropdown styling that wasn't added in the previous ACs

## AC
- [ ] Verify that both Categories and Issues dropdown have 14px padding for each option while Clear category filter and Clear tag filter have 14px margin (right, left and bottom).

## Mockup
![image](https://cloud.gi

[2017-04-26 15:48] mdbenjam opened #1740 "Document Viewer | Right/Left Arrows: shouldn't move between documents when focused on UI"
![leftright](https://cloud.githubusercontent.com/assets/3885236/25443749/c286c8e6-2a76-11e7-8f8c-ea4c9a288bab.gif)
^Example of hitting the right arrow.

## Description
Currently right/left are bound to the window, so you can move left and right between the documents. However, when you're focused on the issue tags or an open comment box, the left and right should move issue tags or comment text in

[2017-04-26 15:54] gnakm opened #1741 "Document viewer | Unsaved comment autosave"
**Description**
As a user, I may be going back and forth between pages and closing out tabs before saving all comments. Instead of showing an impersonal, hard to quickly read, default browser alerts, unsaved comments should be autosaved.

## AC
- [ ] Verify that an unsaved comment is autosaved when user 1. hits the back to documents list link or 2. escapes tab.

[2017-04-26 17:37] NickHeiner opened #1744 "Chromedriver 58 breaks builds"
As soon as Chromedriver 58 was published, our rspec tests started failing with the following error:

[code]

We fixed this by using the previous version of Chromedriver we were on, which is 53.
Versions here: https://launchpad.net/ubuntu/trusty/amd64/chromium-chromedriver
It would be better if we were not locked to an old version of Chromedriver. Possible solutions:

1. Wait to see if a later vers

[2017-04-26 17:40] #1691 closed

[2017-04-26 19:00] joofsh opened #1747 "Move dispatch cancelFeedback modal to Redux"
- Move cancelFeedback modal and its state to dispatch.

- Move related action functions out of EstablishClaim.jsx

[2017-04-26 19:08] NickHeiner commented on #1744
Lol, I did mean to fix this with #1743.

[2017-04-26 20:00] tejans24 opened #1749 "Refactor documents from the state in DecisionReviewer to redux store"
* This is needed for sorting of documents and searching

[2017-04-26 20:19] gnakm opened #1750 "Document list | Sort/comment icons: missing svgs"
Noticed that some of the icons on the document list view are still in font awesome instead of svg.

## AC
- Verify that the following mockups need to be replaced by appropriate svg files
- Get rid of the double ended arrow icon and replace it with double arrow icon

## Mockups
![image](https://user-images.githubusercontent.com/13420618/27437213-8b230cc6-572f-11e7-92c5-7a4a7135a69b.png)
^ this has

[2017-04-26 22:33] abbyraskin opened #1752 "Document Viewer | Improve the horizontal scroll/hotkeys UX"
Currently, if you're zoomed in on a document you can't see the entire document horizontally and there's no way to move the view to see it, without closing the righthand menu.

[2017-04-26 23:08] gnakm opened #1753 "Document viewer | Issue description"
As a user, I want to know that I have the apply to Select or tag issues to the document I have open, without any confusion.

## AC

- [x] Change the issue tag description to the text below.

## Mock
![image](https://cloud.githubusercontent.com/assets/13420618/25460855/ac699024-2ab3-11e7-8b05-8c9d335eec56.png)

## Copy
Select or tag issues

[2017-04-27 11:26] kierachell commented on #1484
## Confirm Case Details

- Able to proceed with whitespace input
<img width="1033" alt="screen shot 2017-04-27 at 7 21 15 am" src="https://cloud.githubusercontent.com/assets/18075411/25481209/204c1622-2b1a-11e7-8f11-6582da6491e1.png">

## Sign and Certify

- Able to proceed with an invalid date (00/00/000)
- Able to proceed with whitespace input for text fields
<img width="1045" alt="screen shot 2

[2017-04-27 11:35] kierachell commented on #1079
**PASSED**
looks smooth!

[2017-04-27 11:35] #1079 closed

[2017-04-27 12:21] kierachell commented on #1118
- Does not work for individual Regional Offices.
[code]
<img width="1075" alt="screen shot 2017-04-27 at 8 12 15 am" src="https://cloud.githubusercontent.com/assets/18075411/25482792/40141fb6-2b21-11e7-922b-6789a2755642.png">

- Works when enabled for _all_ locations:
[code]
<img width="1066" alt="screen shot 2017-04-27 at 8 12 58 am" src="https://cloud.githubusercontent.com/assets/18075411/254828

[2017-04-27 12:23] kierachell commented on #1118
- Does not work for individual Regional Offices.
[code]
<img width="1075" alt="screen shot 2017-04-27 at 8 12 15 am" src="https://cloud.githubusercontent.com/assets/18075411/25482792/40141fb6-2b21-11e7-922b-6789a2755642.png">

- Works when enabled for _all_ locations:
[code]
<img width="1066" alt="screen shot 2017-04-27 at 8 12 58 am" src="https://cloud.githubusercontent.com/assets/18075411/254828

[2017-04-27 13:59] shellicious commented on #1010
I like the lighter version for Certification @gnakm!

[2017-04-27 14:07] askldjd commented on #1727
Moved issue to appeals-deployment. See https://github.com/department-of-veterans-affairs/appeals-deployment/issues/592

[2017-04-27 14:07] #1727 closed

[2017-04-27 14:36] astewarttistatech commented on #1259
**PASSED**

Validated In: Preprod
Browsers: FF and Chrome

Steps to Validate:
See AC

Screenshots:
<img width="978" alt="screen shot 2017-04-27 at 10 33 16 am" src="https://cloud.githubusercontent.com/assets/23038505/25488542/4d88bca6-2b35-11e7-931c-cd915316f4aa.png">

[2017-04-27 14:36] #1259 closed

[2017-04-27 14:45] amprokop commented on #1114
@kierachell — let's hold off on verifying this til Monday.

[2017-04-27 14:46] astewarttistatech commented on #1283
**PASSED**

Validated In: Preprod
Browsers: FF and Chrome

Steps to Validate:
1. Go into reader and create a comment and validate the behavior based on AC

Screenshots:
![readercomment](https://cloud.githubusercontent.com/assets/23038505/25489071/c5376170-2b36-11e7-9849-ead4b558a506.gif)

[2017-04-27 14:46] #1283 closed

[2017-04-27 14:49] astewarttistatech commented on #1261
**PASSED**

Validated in: Preprod
Browsers: FF and Chrome

Steps to Validate:
1. Access Reader
2. Click the Hide Menu > button
3. Once the menu disappears, open the menu back up.
4. Validate behavior against AC

Screenshots:
![readercommentmenu](https://cloud.githubusercontent.com/assets/23038505/25489235/31bffe10-2b37-11e7-8ac4-04e073c3cb3d.gif)

[2017-04-27 14:49] #1261 closed

[2017-04-27 14:54] astewarttistatech commented on #1450
**PASSED**

Validated In: Preprod
Browsers: FF and Chrome

Steps to Validate:
1. Access Reader
2. Access a document that has multiple pages
3. Add comments to multiple pages
4. Validate that each comment has it's corresponding page number associated with it.

Screenshots:
![readercommentpage](https://cloud.githubusercontent.com/assets/23038505/25489432/d199832a-2b37-11e7-95ef-6e82910cac47.gif)

[2017-04-27 14:54] #1450 closed

[2017-04-27 14:56] astewarttistatech commented on #1324
**PASSED**

Validated In: Preprod
Browsers: FF and Chrome

Steps to Validate:
1. In Reader, create/select comments
2. Validate the behavior and color against mocks and AC.

Screenshots:
![readercommentpage](https://cloud.githubusercontent.com/assets/23038505/25489551/25948cea-2b38-11e7-8cad-2abedf180e42.gif)

[2017-04-27 14:56] #1324 closed

[2017-04-27 15:09] mmlumba commented on #1094
Original AC for 4 and 5:
Verify that Success Messages has to be under Messages in styleguide side nav
Verify that clicking on Success Messages in side nav takes you to the right section

[2017-04-27 15:13] mmlumba commented on #1096
Original AC for 4 and 5:
1. Verify that `Alert Messages` appears below messages in the styleguide side nav
1. Verify that clicking on `Alert Messages` in side nav takes you to the right section

[2017-04-27 15:13] mmlumba commented on #1097
Original AC for 4 and 5:
1. Verify that `Status Messages` appears below the Messages in styleguide side nav
1. Verify that clicking on `Status Messages` in side nav takes you to the write section

[2017-04-27 15:15] mmlumba commented on #1089
Original AC for 6:
1. Verify that there is a `Layout` section in the side nave and `Actions` appears under layout

[2017-04-27 16:01] kierachell commented on #1663
**PASSED**

<img width="594" alt="screen shot 2017-04-27 at 12 00 50 pm" src="https://cloud.githubusercontent.com/assets/18075411/25492493/2becf3bc-2b41-11e7-97ae-936ba8bc90b5.png">

[2017-04-27 16:01] #1663 closed

[2017-04-27 16:37] abbyraskin opened #1758 "Document Viewer | Bug: issues dropdown suggests you create the issue tag you just added"
**Description**
Currently, if you create a new issue tag, navigate to another document and click into the issues search box, it suggests you create the same tag you just added.

**Expected**
The issues search/dropdown should be blank until the user starts typing in a new issue; the suggested text should reflect the issue name you type into the box, rather than the one you just created (or should b

[2017-04-27 16:38] abbyraskin commented on #1515
@kierachell 🙏 don't push this back for the bug noted here (basically, the search/dropdown suggests you create the tag you just created if you navigate to a new doc): https://github.com/department-of-veterans-affairs/caseflow/issues/1758

[2017-04-27 16:58] gnakm commented on #1029
Closing this because it was fixed in #1400

[2017-04-27 16:58] #1029 closed

[2017-04-27 19:29] slj opened #1762 "Re-evaluate root request"
It has been suggested by some that, upon visiting `/`, the user is routed to a page within the application connected to his/her role.  @shanear suggested the following approach:

What we want to do is choose a "default application" for a user. We already have a `users` table in the DB, and we really want to avoid storing anything besides a user identifier and whatever we get back from SSO in the s

[2017-04-27 19:55] shanear commented on #1762
Thanks @slj!

[2017-04-27 20:26] mdbenjam commented on #1647
This is a duplicate of #1650. Closing and fixing in #1763

[2017-04-27 20:26] #1647 closed

[2017-04-27 20:35] kierachell commented on #1712
**PASSED**
![lastread](https://cloud.githubusercontent.com/assets/18075411/25503210/7733c870-2b67-11e7-9aed-45224fb203e8.gif)

[2017-04-27 20:47] gnakm commented on #1084
Some thoughts on errors after chatting with @lakohl last week.

- Changed error header title to Source Sans Pro because Merriweather is not being used anywhere else
- Changed font sizes (header = h2, body copy = body copy) so they match with the ones we have in our new typography part of style guide
- Add the rules "add periods at the end of each sentence," Keep the titles short
- Added a lighter

[2017-04-27 20:51] joofsh opened #1764 "Cache user roles in DB"
AC:

- Add a new roles column to the user table
- On user successful login, save the user's roles to that new column

This will help us with debugging role-related issues. Plus, more data is always better

[2017-04-27 20:59] mdbenjam opened #1765 "Clean up BindActionCreators"
We're using BindActionCreators which has resulted in confusion about which actions are actually used in a given file. Instead, we've decided to just import the needed actions, and bind them individually as is being done in certification.

# AC
1. Verify all mapDispatchToProps functions use bindActionCreators.

[2017-04-27 21:10] shellicious commented on #1084
+1 to source sans!

[2017-04-27 21:24] kierachell commented on #1650
**PASSED**
NOICE
![scrollyayy](https://cloud.githubusercontent.com/assets/18075411/25505067/4d9b7e0c-2b6e-11e7-9345-3eb536bb65b6.gif)

[2017-04-27 21:24] #1650 closed

[2017-04-27 21:59] abbyraskin commented on #1084
+2!

[2017-04-27 22:52] kierachell commented on #1713
**PASSED**
there's one hard to reproduce oddity, but otherwise it's good
![addcomment](https://cloud.githubusercontent.com/assets/18075411/25507548/aa975e08-2b7a-11e7-864f-ff4bef95edff.gif)

[2017-04-27 23:08] kierachell commented on #1478
**PASSED**
![filtermeh](https://cloud.githubusercontent.com/assets/18075411/25507922/d3107a98-2b7c-11e7-86b0-c029602f0214.gif)

[2017-04-27 23:08] #1478 closed

[2017-04-27 23:14] kierachell commented on #1717
**PASSED**
Checked on Chrome and FF
![stutter](https://cloud.githubusercontent.com/assets/18075411/25508058/ae04c956-2b7d-11e7-94d8-dc26c152c133.gif)

[2017-04-27 23:14] #1717 closed

[2017-04-27 23:20] kierachell opened #1767 "Document Viewer | Issue tags text length, whitespace validation, and textbox size"
# Description
When adding issues for a document, the UI breaks a bit when adding long issues.
When adding issues whitespace validation is a bit inconsistent?

## Reproduction Steps

**Scenario 1 -**

1. Go to view a document
1. Start typing like mad cause this dude's got a lot of issues
1. Note that whitespace is not trimmed
1. ~~Note that textbox size affects the whole UI~~ Moved to #1875
1. ~~No

[2017-04-27 23:29] kierachell opened #1768 "Document Viewer | Add comment behavior should not persist across documents"
# Description
When I "missclick" **Add a comment** button and don't want to add one
OR when I click elsewhere on the page while **Add a comment** functionality is in place...

1. When **Add a comment** button is clicked and document viewer is in add comment/edit mode, users have the option to cancel from this mode by clicking anywhere outside the document page

# AC
- Verify when a user clicks any

[2017-04-27 23:31] kierachell commented on #1282
The current functionality is still a bit misleading as commented in #1768
Probably need more detail on the flow. So either update AC here or in #1768

[2017-04-27 23:37] kierachell commented on #1516
Well,
the build doesn't fail, so, presumably, it's alright

[2017-04-27 23:37] #1516 closed

[2017-04-28 00:42] shanear commented on #1692
Added AC for technical reasons

[2017-04-28 13:25] astewarttistatech commented on #1268
@mdbenjam I believe this failed again. Issue tags are not being taken from the pdf viewer on to the expanded view on the documents list page.

Also there's a couple of bugs that sprouted from this: Once on the document list view, if you expand the view for one of the documents, all other buttons like it, are disabled. (In the licecap, if the cursor was hover for more than a second, I was trying to

[2017-04-28 13:29] astewarttistatech opened #1773 "Unable to expand the view on documents after one has already been selected"
**Description:**
In Reader, on the List Documents page, if a user expands the view for a document that has comments, they will not be able to toggle between other like documents.

**Expected:** Users should be able to expand all documents on the List Document view.

**Steps to Reproduce:**
1. Go to Reader
2. Expand a document that has comments, in the List Documents view.
3. Try to do the same man

[2017-04-28 13:32] astewarttistatech commented on #1268
@abbyraskin for this ticket, should the 'Expand All' button work?

[2017-04-28 13:41] astewarttistatech commented on #1515
**FAILED**

Cannot add issue tag

Current view:
![readerissueindoc](https://cloud.githubusercontent.com/assets/23038505/25531159/cc5a20e4-2bf6-11e7-9c8c-39faba0e8fbc.gif)

[2017-04-28 14:09] joofsh opened #1774 "Re-enable Sauce Labs"
Reader is officially supported only on Chrome, but Certification & Dispatch need to work on IE. In order to properly test in all these scenarios, we need to re-enable sauce labs so that our tests run against both Chrome & IE.

AC:
- Have travis run our tests using sauce labs against Chrome & IE

NOTE: We *may* need to "split" our tests such that Reader tests run on Chrome only

[2017-04-28 14:12] abbyraskin commented on #1268
@astewarttistatech no

[2017-04-28 14:12] abbyraskin commented on #1268
@astewarttistatech no, it's tracked here https://github.com/department-of-veterans-affairs/caseflow/issues/1491

[2017-04-28 14:24] slj opened #1775 "Removal of babel-polyfill package crashed production"
Around **4/28/2017 at 6:45am** [this alert](https://dsva.slack.com/archives/C4JECDLSE/p1493376314907139) (followed by similar ones around **30 minutes** apart) citied this error:

`TypeError: Object doesn't support property or method 'assign'`

Around **8:30am** it was confirmed that **Dispatch** was reporting an alarming volume of errors.

As explained in [this pull request](https://github.com/de

[2017-04-28 14:42] astewarttistatech commented on #1094
@mmlumba is this supposed to have both images (from the mocks)?

Current View:
<img width="1026" alt="screen shot 2017-04-28 at 10 41 54 am" src="https://cloud.githubusercontent.com/assets/23038505/25533674/65fe295e-2bff-11e7-83dc-1f7ec4edc8e4.png">

[2017-04-28 14:53] mdbenjam commented on #1268
@astewarttistatech sorry I didn't see the issue tag AC. Teja is already working on that in #1491. I'm going to move the AC there.

[2017-04-28 15:03] mdbenjam opened #1776 "Open in New Tab | Document should be marked as read"
## Description
Currently when you open a document in a new tab, it remains bolded as unread.

## Dev Notes
Update the Redux store when the document is selected.

## AC
- Validate that when I open an unread document in a new tab, the Document Type link is unbolded ("read" state)

[2017-04-28 15:04] mdbenjam opened #1777 "Open in New Tab | Should go to document not document list view"
Currently opening a document in a new tab opens up the document list view with one document. We should go directly to the document and not allow access to the list view.

[2017-04-28 15:14] Sjones352 commented on #1089
<img width="516" alt="screen shot 2017-04-27 at 7 42 49 pm" src="https://cloud.githubusercontent.com/assets/23080951/25535060/dbdca2e6-2c03-11e7-9a80-14327f0b5e23.png">

[2017-04-28 15:40] #1094 closed

[2017-04-28 15:42] astewarttistatech commented on #1268
Due to the change in AC, this ticket has **PASSED**

Validated in: Preprod
Browsers: FF and Chrome

Steps to Validate:
1. Access Reader and expand the section in documents that have comments, issue tags, etc.
2. Validate the behavior based on the AC above.

Screenshots:
See above.

[2017-04-28 15:42] #1268 closed

[2017-04-28 16:30] gnakm opened #1780 "Document list | Alert for filters"
As a user, I want to know when my search results have been filtered.

## Dependent story
#1432 Documents List | Categories: filter by one or more category
#1438 Documents List | Issue tags: filter Documents List view by issue tag(s)

## AC
- Styling should be in USWDS information status
- Copy text below

## Mockups
![image](https://cloud.githubusercontent.com/assets/13420618/25537799/03643aa4-2c0

[2017-04-28 16:41] tejans24 opened #1781 "Tag has to be deleted twice before being deleted after being added from the dropdown"
Steps to reproduce:
* Select a tag from the dropdown menu.
* Try to delete the tag.
* Delete has to be clicked twice before it goes away.

[2017-04-28 21:03] slj commented on #1435
@marian I spoke with @lakohl, and for now homepage requests will be routed to a Help index page:

<img width="570" alt="screen shot 2017-04-27 at 10 55 27 am" src="https://cloud.githubusercontent.com/assets/1053255/25547336/a3bb0570-2c34-11e7-8c89-a3ff7094e769.png">

[2017-04-28 22:23] mdbenjam opened #1788 "Filter Dropdown | Should update position"
![screen shot 2017-04-28 at 6 23 31 pm](https://cloud.githubusercontent.com/assets/3885236/25549460/cfadc69e-2c3f-11e7-81ee-9e514b7dfd2a.png)
Currently when the filter alert is shown, the page gets pushed down and the filter box is unaligned.

[2017-04-28 22:30] mdbenjam opened #1789 "Documents List | Search: receipt date shouldn't require formatting"
Currently, you have to enter the format YYYY-MM-DD to search by date.

Searching by receipt date should work with different date forms. For example. 4/17/2017, 04/17/2017, and 4-17-2017 should all work.

## AC
1. Verify searching by MM/DD/YYYY format returns documents with receipt dates on that day.
1. Verify searching by MM-DD-YYYY format returns documents with receipt dates on that day.
1. Verif

[2017-04-28 22:43] #1679 closed

[2017-04-28 23:20] slj commented on #1435
Updated Description with acceptance criteria.

[2017-04-28 23:23] slj commented on #1525
We haven't gotten anywhere with this during the last 1.5 sprints, either it's been solved elsewhere or this simply isn't a priority.

[2017-04-28 23:23] slj commented on #1525
Confident that this will resurface in due time.

[2017-04-29 12:51] kierachell commented on #1417
**PASSED**

Found one finally...

[2017-04-29 12:51] #1417 closed

[2017-04-30 13:44] kierachell commented on #1780
Seems to be causing a lot of JS errors:
<img width="863" alt="screen shot 2017-04-30 at 9 43 35 am" src="https://cloud.githubusercontent.com/assets/18075411/25564835/8d567b74-2d89-11e7-8c29-0571185699f5.png">

[code]

[2017-04-30 14:18] kierachell commented on #1432
## Returning from Document View:
1. Click filter
1. See it work
1. Open document
1. Move to next document
1. Go Back to all documents
1. Click filter
1. Be sad
![buttondies](https://cloud.githubusercontent.com/assets/18075411/25565028/d4530b38-2d8d-11e7-9e77-8c9095bd50e9.gif)

## Dropdown started showing up in weird positions:
### Expected:
<img width="285" alt="screen shot 2017-04-30 at 10 17 21

[2017-04-30 14:20] kierachell commented on #1470
blocked by bug in #1780

[2017-04-30 21:37] mdbenjam opened #1790 "Redux | Add documents to store on creation"
We currently add documents to the store in the DecisionReviewer constructor. However, this is too late, since the first call to render will not have access to the documents. We then have to do a null check before rendering. Once the redux store is updated, we'll get triggered again with the documents and can render on that call. Instead we should add documents to the store on initialization, so th

[2017-05-01 01:28] tejans24 opened #1792 "Tag filter div reloads and scrolls to the top after updating"
When a tag from the bottom is selected from the tag filter when scrolling is enabled, the dom refreshes and the view goes back to the top of the filter div.

Instead, the view should stay where it is.

## AC
- When a user selects an issue tag below the scroll in the filter menu, the view stays put/does not scroll to top

## Related
 #1791

[2017-05-01 05:11] #1749 closed

[2017-05-01 13:06] slj commented on #1775
@kierachell do you validate or close post-mortems?  Can I close this?  Please advise.

[2017-05-01 13:48] amprokop commented on #1732
Hm, can we drill into this — do we think this is an issue where timezones are causing date mismatches (e.g., a document uploaded at 530am ET on 12/10/2000 would have been uploaded at 1130pm HST on 12/09/2000)— or is this something else?

It sounds like based on your description that this might be a process problem, where the date in VBMS and the date in VACOLS mean different things—one is, the dat

[2017-05-01 14:07] askldjd commented on #1732
I think it might be a combination of problems based on the RO's description. However, to fully understand the issue, we might need to screen-share with the user.

From what I gathered, **letter receive date** !=  **letter upload date**. Here's my speculation.

After the letter is received, it appears that there is a batching job that uploads them to VBMS. This job appears to be scheduled during bu

[2017-05-01 14:12] mdbenjam commented on #1780
I am not seeing these errors? How did you get them? Just by filtering and searching?

[2017-05-01 14:15] mdbenjam commented on #1282
I think everything in this ticket has been addressed. Updating the AC in #1768, we'll use that ticket for further tracking.

[2017-05-01 14:17] mdbenjam commented on #1432
@kierachell Ah, good catch. We went back and forth on that AC. It was written as and here, but we later decided on or. @abbyraskin @gnakm

I've also fixed the weird positioning bug in another merge

[2017-05-01 14:19] lakohl commented on #1525
@slj we should solve this, or the portions that were not addressed by: https://github.com/department-of-veterans-affairs/caseflow/pull/1656

[2017-05-01 14:23] lakohl commented on #1084
@gnakm can you post an example of an error lite versions in context?

[2017-05-01 14:30] abbyraskin commented on #1752
Sounds like this may already be fixed, but need to think about how horizontal scroll interacts w/ right-left nav between documents

[2017-05-01 14:31] abbyraskin commented on #1670
We removed this functionality as we don't need think it's absolutely necessary for now -- putting this in backlog for now. We can reevaluate once we have more user feedback during the pilot.

[2017-05-01 14:36] joofsh commented on #1747
To QA: No changes to functionality, just ensure things didn't break

[2017-05-01 14:36] joofsh commented on #1681
for QA: production builds still work so I think we can close this as working

[2017-05-01 14:37] joofsh commented on #1630
To QA: No changes to functionality, just ensure things didn't break

[2017-05-01 14:53] abbyraskin commented on #1781
@tejans24 does this happen every time?

[2017-05-01 14:58] slj opened #1795 "Zero-Downtime-Migration is currently a development-only gem"
Around 10:17am 5/1/2017 deployments to `dev`, `uat` and `preprod` failed because a migration was calling a helper method from a locally-installed gem.

@joofsh knows and committed to implement the fix.

[2017-05-01 15:00] abbyraskin commented on #1432
@mdbenjam this AC is referring to the relationship between issue and category tags, when they're both selected -- I think it's still accurate? i think we decided it's "or" between search and filters, but and between filter types.

[2017-05-01 15:12] gnakm commented on #1767
@mdbenjam and I just talked about this in person.
The issue tags should always be in one line. If it is too long to fit in the dropdown text box, it should be in the second line.
Incorrect:
![image](https://cloud.githubusercontent.com/assets/13420618/25583234/fa823a3c-2e5e-11e7-849e-94048df4989f.png)

Correct:
![image](https://cloud.githubusercontent.com/assets/13420618/25583208/d117ecdc-2e5e-11e7

[2017-05-01 15:20] amprokop opened #1798 "Add logging to determine how often we can programatically find hearing requests"

[2017-05-01 15:23] gnakm commented on #1084
@lakohl Right now, this only happens once. We created a mini-alert for reader for times systems might be down from this page

![image](https://cloud.githubusercontent.com/assets/13420618/25582940/a8f1ebaa-2e5d-11e7-9890-4d848cf0470e.png)

[2017-05-01 15:34] tejans24 commented on #1491
NOTE: See more button has been removed. Currently, all tags are shown in the table.

[2017-05-01 15:58] gnakm commented on #1432
^ yes on "we decided it's "or" between search and filters, but "and" between filter types."

[2017-05-01 20:36] slj opened #1803 "Unhandled/unexpected Nil UserQuota instance"
Sentry Trace [here](https://files.slack.com/files-pri/T03FECE8V-F57SPD2S2/image.png)

[2017-05-01 20:59] gnakm opened #1804 "Document list | Remove icon in search box when field is empty"
**Story**
As a user, I want to know when my doc list is being filtered with the x indicator

**Description**
Currently x icon is in search box even when search is not being used.

## AC
- [ ] Verify that x icon is not in search box when search is not being used
- [ ] Verify that it is there when search is being used

## Mockup
![image](https://cloud.githubusercontent.com/assets/13420618/25594621/5

[2017-05-01 21:41] gnakm opened #1806 "Styleguide component | Progress Bar edits"
**Story**
As a developer or designer, I want to know what the progress bar should look like across all caseflow apps.

The progress bar in the living style guide needs edits that match new AC

## AC
- [ ] Bump up text size from 17px to 18px
- [ ] Make sure that the spacing between the text and progress bar is 11px

## Mockups
![image](https://cloud.githubusercontent.com/assets/13420618/25596107/82

[2017-05-01 22:02] abbyraskin commented on #1781
I haven't been able to reproduce this...

[2017-05-01 22:06] gnakm opened #1807 "Styleguide component | Banner Alert Lite"
As a developer and designer, I want a consistent and easy way to implement Alert Banners so users can identify if important tasks were completed correctly.

## Acceptance Criteria

1. Verify that in the living style guide that there is a title called Alerts lite
1. Verify that this is a subsection of Alerts
1. Verify that clicking on the side nave takes you to the appropriate section
1. Verify tha

[2017-05-01 22:15] tejans24 opened #1808 "A document shouldn't have the same tag assigned twice"
A document should not have the same tag twice.

This needs server side validation

AC:
* Checkout a document in a PDF view in Reader
* Try to enter the same tag name sequentially (vary rapidly)
* Only one tag with the same text shows up for the document, this can optionally be verified in the database.

[2017-05-01 22:16] abbyraskin commented on #1777
It looks like this was fixed -- can you verify @mdbenjam?

[2017-05-01 22:20] gnakm opened #1809 "Document list | Issue tag dropdown hover"
Currently there is no hover for the issue tag drop down.

![image](https://cloud.githubusercontent.com/assets/13420618/25597110/f154e068-2e9a-11e7-8f7c-80b218531270.png)

## Related issue
#1438

[2017-05-01 22:24] gnakm commented on #1438
FYI Right now the issue tags dropdown doesn't show a hover. If this is already being address through this issue, please close this: #1809

[2017-05-01 22:25] abbyraskin commented on #1758
Duplicate of #1729, closing

[2017-05-01 22:29] abbyraskin commented on #1729
@mdbenjam would it make sense to combine this with https://github.com/department-of-veterans-affairs/caseflow/issues/1758?

[2017-05-01 22:47] ToddStumpf commented on #1803
From:
  https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/171/

This looks like an application edge case of establish_claims_controller.rb#user_quota returning nil due to current_user lacking a quota for today (or perhaps current_user is invalid).

[2017-05-02 12:09] tejans24 commented on #1781
@abbyraskin I can't reproduce it either right now. I'll close it until I see this happen again.

[2017-05-02 12:09] #1781 closed

[2017-05-02 12:16] slj commented on #1803
Issue re-occurred on 5/2 at 8:10am:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/171/

[2017-05-02 12:26] slj opened #1811 "VBMS Appeals Service Request yielding 500 Error"
Sentry trace: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/154/

[2017-05-02 12:31] astewarttistatech commented on #1515
Moving back since it was assigned to another developer

[2017-05-02 13:14] astewarttistatech commented on #1243
@tejans24 This is currently not found in the living style guide. Please put this back into "In Validation" when it is able to be tested.

[2017-05-02 13:19] astewarttistatech commented on #1491
@tejans24

Current Functionality:
![readerflow](https://cloud.githubusercontent.com/assets/23038505/25619313/652f2c0a-2f18-11e7-8eb5-afbd5fce1848.gif)

[2017-05-02 13:21] astewarttistatech commented on #1469
Blocked by the ability to not create issue tags

[2017-05-02 13:22] astewarttistatech commented on #1437
@tejans24  please view the current functionality of issue tags in reader
![readerflow](https://cloud.githubusercontent.com/assets/23038505/25619420/cb63424a-2f18-11e7-8072-1187e8e29761.gif)

Blocked by the ability to not create issue tags

[2017-05-02 13:22] astewarttistatech commented on #1438
Blocked by the ability to not create issue tags

[2017-05-02 13:28] astewarttistatech commented on #1243
AC/Mocks need to be updated.

[2017-05-02 13:34] mmlumba commented on #1093
Original AC for 5:
1. Verify that there are subsections for the types of messages in this order:

## Messages

### Success messages - #1094

### Alert messages - #1096

### Status messages - #1097

[2017-05-02 13:34] astewarttistatech commented on #1477
Current view of issue tags:

![readerflow](https://cloud.githubusercontent.com/assets/23038505/25619830/4a00f4f2-2f1a-11e7-9134-27b2899c4866.gif)

[2017-05-02 13:36] astewarttistatech commented on #1097
Color isn't the same. @mmlumba

Current view:
<img width="991" alt="screen shot 2017-05-02 at 9 35 27 am" src="https://cloud.githubusercontent.com/assets/23038505/25619984/c804c982-2f1a-11e7-87ca-af69a363b920.png">

[2017-05-02 13:47] astewarttistatech commented on #1282
**PASSED**

Note @abbyraskin the whole PDF viewer is highlighted upon clicking the "Add a Comment" button. I don't know if that was intended

Validated in: Preprod
Browsers: FF and Chrome

Steps to Validate:
1. While accessing the document viewer, click "Add a Comment" button.
2. Move the cursor to where the comment should be on the document reader (notice that the icon follows the cursor)
3. Vali

[2017-05-02 13:47] #1282 closed

[2017-05-02 13:51] astewarttistatech commented on #1518
Reader still renders all pages. Moving back to In Progress.

Current view:
![readerscrolling](https://cloud.githubusercontent.com/assets/23038505/25620530/be62c4ea-2f1c-11e7-9291-9205c6ebee26.gif)

[2017-05-02 13:56] astewarttistatech commented on #1097
Based on @gnakm 's change to AC, referring to the screenshot above.

**PASSED**

Validated in: Dev
Browsers: Chrome and FF

Steps to Validate:
1. Go to the living style guide
2. Validate the Message splash page and copy for Status Messages.

Screenshots:
see above.

[2017-05-02 13:56] #1097 closed

[2017-05-02 14:19] askldjd opened #1814 "Sidekiq | We need to loudly log/announce/report failures and successes."
1. This ticket will focus on PrepareEstablishClaimTasksJob.
2. If "preparation" of the task fails, we will catch VBMS error and continue with the next task.
3. We will keep track of the tasks that failed and log them to the log file.
4. We will have Slack integration to log to the devops-alerts channel “PrepareEstablishClaimTasksJob successfully ran. 10 tasks prepared. 3 tasks failed”
5. The Prepa

[2017-05-02 14:33] astewarttistatech commented on #1096
@mmlumba  Based off the AC above, there isn't an "Alert Messages" indicator in the side nav.

Please see the current functionality and tell me if this is what you meant.

![sgalerts](https://cloud.githubusercontent.com/assets/23038505/25622495/963caad4-2f22-11e7-93aa-dea250e18153.gif)

[2017-05-02 14:55] shanear commented on #1811
This is due to a vet lacking an SSN (which we handle correctly because of https://github.com/department-of-veterans-affairs/caseflow/pull/1571). Maybe we should suppress that error.

[2017-05-02 14:55] #1811 closed

[2017-05-02 14:57] mmlumba commented on #1096
@astewarttistatech The `Alert Messages` indicator isn't in the side nav, its under the main section "Messages"

[2017-05-02 15:26] NickHeiner commented on #1201
@mdbenjam can we chat about this? I'd like to know more about the problem we're trying to solve.

[2017-05-02 15:41] NickHeiner commented on #1538
@gnakm I didn't see this when I did #1800, and that kinda addressed this. Can you take a look at what the app currently looks like and tell me if you'd still like changes made?

The mockup is also currently inaccurate because it's missing the last read indicator column.

[2017-05-02 15:52] astewarttistatech commented on #1096
Based on the thread in this ticket,

**PASSED**

Validated in: Dev
Browsers: FF and Chrome

Steps to Validate:
1. Go to the living style guide
2. Validate the Alert Messages section under the Messages section against the AC listed above

Screenshots:
see above

[2017-05-02 15:52] #1096 closed

[2017-05-02 15:53] astewarttistatech commented on #1566
Blocked due to Dispatch acting wonky.

[2017-05-02 15:55] gnakm commented on #1538
@NickHeiner At this point, the mock we had above is totally outdated because we changed canvas size. I think what we currently have is better!

[2017-05-02 15:55] #1538 closed

[2017-05-02 16:48] askldjd commented on #1811
@shanear Do you mean we should suppress the error in Sentry, or in the code?

[2017-05-02 16:56] askldjd commented on #1460
This error is likely caused by prod deployment. I was able to trace back the last set of errors lining up with the ASG rolling deploy stage.

It is likely because we don't support client side hot compatibility. The JS is likely not loading correctly (because of hashed name), and jquery happens to be the victim of this issue.

![image](https://cloud.githubusercontent.com/assets/3258724/25629079/578

[2017-05-02 17:17] askldjd commented on #1460
I think we might be able to resolve this by serving the previous version of assets. This way, the user will gracefully transition to the new version during the deployment.

Plan of attack, during deployment bake process, do the following:

1. After assets are compiled, save a copy in S3 under a version tag.
1. Query the prod EC2s to determine the current asset version tag.
1. Get the assets from S

[2017-05-02 18:31] amprokop commented on #1484
Yeah we should definitely do that @kierachell. We should be able to just add a class to each of them on rendering the React component that will do it.

[2017-05-02 19:00] #1681 closed

[2017-05-02 19:32] kierachell commented on #1780
From `preprod`:

So this one seems to filter ok: 890983
Whereas this case causes errors: 1499662

One potential case is that there's an `unknown` and `other` doctypes that do not seem to filter alphabetically in order (end up being places after all the other doctypes in the list)

[2017-05-02 19:33] mdbenjam opened #1819 "Metrics | Add prometheus metrics"
We currently don't have any metrics for Reader. As we move into production we should have more ways to debug.

## AC
- Verify there is a metric for files downloaded
- Verify there is a metric for eFolder metadata grabbed

[2017-05-02 19:40] joofsh opened #1820 "Add Sidekiq UI"
Add sidekiq UI for better information on the stats related to our background jobs and when they last ran

connect https://github.com/department-of-veterans-affairs/caseflow/pull/1815

[2017-05-02 20:58] kierachell commented on #1587
**PASSED**

<img width="969" alt="screen shot 2017-05-02 at 4 42 14 pm" src="https://cloud.githubusercontent.com/assets/18075411/25639044/7fba72ba-2f58-11e7-8f92-61f6881e7568.png">
<img width="1057" alt="screen shot 2017-05-02 at 4 43 45 pm" src="https://cloud.githubusercontent.com/assets/18075411/25639043/7fb431ca-2f58-11e7-8a19-6e9ad706f92f.png">

[2017-05-02 20:58] #1587 closed

[2017-05-02 21:16] joofsh opened #1823 "Cache node_modules on travis"
On travis, right now we do a full fresh install of all node_modules between test runs. Like our ruby gems, we should cache these so travis builds are faster

[2017-05-02 21:40] kierachell commented on #1709
Populating the fields with invalid values (00/00/0000) causes an interesting 500 error:
[code]

<img width="1139" alt="screen shot 2017-05-02 at 5 39 25 pm" src="https://cloud.githubusercontent.com/assets/18075411/25640668/6e4c7cca-2f5e-11e7-8887-811dfa5bb181.png">

[2017-05-02 21:44] mdbenjam opened #1824 "Tags | Index DB by text"
We currently do not index our tags table by text, yet we look up tags by the text within them. We should index tags by text.

## AC
1) Verify that there's an index on the `text` column of the `tags` table.

[2017-05-02 21:46] slj commented on #1709
@amprokop is on it.

[2017-05-02 22:04] mdbenjam commented on #1518
Updated the AC, to more accurately describe what we're trying to see.

[2017-05-02 23:04] kierachell commented on #1432
**PASSED**

Seems to be working in `preprod`

[2017-05-02 23:04] #1432 closed

[2017-05-02 23:15] kierachell commented on #1491
**PASSED**
![expandmeh](https://cloud.githubusercontent.com/assets/18075411/25643104/bc1fdda4-2f6b-11e7-894b-d9a73bbd9b7a.gif)

[2017-05-02 23:15] #1491 closed

[2017-05-02 23:18] kierachell commented on #1471
**PASSED**
it scrolls!
![scrollmeh](https://cloud.githubusercontent.com/assets/18075411/25643184/2a86a750-2f6c-11e7-8a62-1bf707f6f4b4.gif)

[2017-05-02 23:18] #1471 closed

[2017-05-02 23:36] kierachell commented on #1566
- Emojis are way smaller than the mocks
- Not sure what AC #4 refers to?
<img width="880" alt="screen shot 2017-05-02 at 7 34 52 pm" src="https://cloud.githubusercontent.com/assets/18075411/25643596/a324e83c-2f6e-11e7-98fa-6c5fc3001cc7.png">

[2017-05-02 23:40] kierachell commented on #1435
**PASSED**
AYY!
<img width="1052" alt="screen shot 2017-05-02 at 7 39 34 pm" src="https://cloud.githubusercontent.com/assets/18075411/25643736/37f80c0a-2f6f-11e7-8a2a-55f73d2d826d.png">
<img width="1014" alt="screen shot 2017-05-02 at 7 40 15 pm" src="https://cloud.githubusercontent.com/assets/18075411/25643735/37f37ed8-2f6f-11e7-8c69-2d69d5e1863a.png">

[2017-05-02 23:40] #1435 closed

[2017-05-02 23:48] cmgiven commented on #1732
We match on the `:received_at` date from VBMS, not the upload date. So I'm not sure that that's the issue.

But for some additional context, the scripts we use to detect errors in the seam use a fuzzy match of three days. That choice precedes me, so I'm not sure how it was arrived at.

[2017-05-03 00:11] kierachell commented on #1630
## Remand with Manlincon Compliance
<img width="564" alt="screen shot 2017-05-02 at 8 10 04 pm" src="https://cloud.githubusercontent.com/assets/18075411/25644357/71322286-2f73-11e7-9859-9186b6fa99b8.png">

[2017-05-03 00:18] slj opened #1827 "Fix a couple of CSS quirks in StyleGuide"
1. At a small enough width, the content and nav menu overlap:
<img width="571" alt="screen shot 2017-05-02 at 9 46 56 am" src="https://cloud.githubusercontent.com/assets/1053255/25644417/ca2cf532-2f73-11e7-9000-2c3b33c25b2d.png">

2. The container for the title and `View source code` button do not render consistently.  Most of the time the dividing line is not flush against the button, but sometim

[2017-05-03 00:25] kierachell commented on #1515
The basic functionality is there, but does not fit the mocks:
- Grey line is not compliant with the specs
- Text above the dropdown/textfield is not the same as the mocks
<img width="371" alt="screen shot 2017-05-02 at 8 23 05 pm" src="https://cloud.githubusercontent.com/assets/18075411/25644593/6a4072e6-2f75-11e7-9d5e-dd2ec9f80291.png">

[2017-05-03 00:56] kierachell commented on #1711
**PASSED**
EVEN SENTENCE CASE! YEAH!
<img width="803" alt="screen shot 2017-05-02 at 8 55 56 pm" src="https://cloud.githubusercontent.com/assets/18075411/25645188/c49c185e-2f79-11e7-8380-522f2fb167da.png">

[2017-05-03 00:56] #1711 closed

[2017-05-03 00:57] kierachell commented on #1788
**PASSED**
Noticed it working well today :D

[2017-05-03 00:57] #1788 closed

[2017-05-03 01:17] kierachell commented on #1493
**PASSED**
Although `page x out of x` kinda gets stuck

[2017-05-03 01:17] #1493 closed

[2017-05-03 01:19] kierachell commented on #1662
**PASSED**
NICE 👍

Although it kinda messes with issue tagging

[2017-05-03 01:19] #1662 closed

[2017-05-03 01:32] tejans24 commented on #1515
the text is related to: #1753

[2017-05-03 03:15] askldjd commented on #1732
Do we know how `received_at` is set in VBMS? The RO said that the date written on the letter itself differs from the date in VBMS (which I assume `received_at`).

[2017-05-03 03:31] Sjones352 commented on #1566
@kierachell the Emojis are small because we failed to get the free svgs to actually use big emojis. @gnakm maybe I should change `Way to go!` to maybe an h4 and then it would match with the emojis.
@gnakm having svgs would be helpful coz this issue also calls for emojis
https://github.com/department-of-veterans-affairs/caseflow/issues/1562

[2017-05-03 11:13] kierachell commented on #1515
**PASSED**
just saw the change in 1753 :D
Nah, just saw it. np

[2017-05-03 11:13] #1515 closed

[2017-05-03 11:13] kierachell commented on #1753
**PASSED**

[2017-05-03 11:13] #1753 closed

[2017-05-03 12:48] kierachell commented on #1642
**PASSED**
## WASH DC
[code]
## No hearing
[code]

## Form 9 changes
[code]

[2017-05-03 12:48] #1642 closed

[2017-05-03 12:50] astewarttistatech commented on #1093
**PASSED**

Verified: Dev
Browsers: FF and Chrome

Steps to Validate:
1. Access the Style Guide
2. Verify that each section of messages match the tickets found in the AC

Screenshots:
![sgmessages](https://cloud.githubusercontent.com/assets/23038505/25661100/1fdfcfae-2fdd-11e7-8fa0-b21d91a64a61.gif)

[2017-05-03 12:50] #1093 closed

[2017-05-03 12:53] astewarttistatech commented on #1089
The title is incorrect based on AC. @Sjones352

Current View:
<img width="1084" alt="screen shot 2017-05-03 at 8 52 48 am" src="https://cloud.githubusercontent.com/assets/23038505/25661272/fbb3c5ee-2fdd-11e7-8545-42a4f1a3ec87.png">

[2017-05-03 13:01] kierachell commented on #1437
With multiple tags there seems to be .... **double scrollbars!**
<img width="435" alt="screen shot 2017-05-03 at 9 01 07 am" src="https://cloud.githubusercontent.com/assets/18075411/25661551/1fad212e-2fdf-11e7-8478-f4469ae8897d.png">

[2017-05-03 13:20] kierachell opened #1828 "Document List | Nil Comments cause JS errors and limit functionality"
## AC
1. Verify there is non-nil constraint on the comment field in the annotation table.
1. Verify that saving an empty comment on the frontend acts as cancelling the comment.
1. Verify that editing a comment to contain no text triggers the delete flow (delete modal -> cancel/delete)

# Description
Using preprod cases such as:
- 1499662

more here: https://github.com/department-of-veterans-affair

[2017-05-03 13:28] kierachell commented on #1477
Does there need to be a scrollbar for just one tag?
<img width="360" alt="screen shot 2017-05-03 at 9 27 43 am" src="https://cloud.githubusercontent.com/assets/18075411/25662502/c6c08fde-2fe2-11e7-8159-dbcf1684a91f.png">

[2017-05-03 13:35] kierachell commented on #1747
**PASSED**
Cancel Task modal seems to be working

[2017-05-03 13:35] #1747 closed

[2017-05-03 13:40] gnakm commented on #1562
@Sjones352 FYI I updated the mock above to match #1566

[2017-05-03 14:04] cmgiven commented on #1732
@abbyraskin @shellicious ^

[2017-05-03 14:20] slj commented on #1827
Improvement in action:
![sg_less_quirky](https://cloud.githubusercontent.com/assets/1053255/25664923/1528a7d6-2fea-11e7-8b02-8c4da183d9e3.gif)

[2017-05-03 14:26] joofsh commented on #1630
Are there any other special issues checked? I can't repro this
![Uploading Screen Shot 2017-05-03 at 10.25.24 AM.png…]()
<img width="631" alt="screen shot 2017-05-03 at 10 25 30 am" src="https://cloud.githubusercontent.com/assets/2256237/25665206/e1e06430-2fea-11e7-88e9-62a2bc600f34.png">

[2017-05-03 14:41] mmlumba commented on #1099
Original AC for 1.2:
Rows of graphs for Activities, Searches, Timing, Errors

[2017-05-03 15:09] sharonwarner commented on #1484
This card is on hold until we confirm what we want the validation to look like. Here's some code in the meantime: https://github.com/department-of-veterans-affairs/caseflow/tree/sharon-whitespace

[2017-05-03 15:14] shanear commented on #1811
@askldjd This is a known error that we handle in the best way we know. It's possible we should suppress those types of errors in the code. Thoughts?

[2017-05-03 15:25] kierachell commented on #1630
**PASSED**
Checked with existing RegOffs and Stations. is working now.

Will follow up on missing Station IDs with Chris.

[2017-05-03 15:25] #1630 closed

[2017-05-03 15:36] kierachell commented on #1438
<img width="528" alt="screen shot 2017-05-03 at 11 32 29 am" src="https://cloud.githubusercontent.com/assets/18075411/25668347/6f6cd794-2ff4-11e7-90ec-547942ef2905.png">
<img width="359" alt="screen shot 2017-05-03 at 11 32 39 am" src="https://cloud.githubusercontent.com/assets/18075411/25668348/6f6e8b48-2ff4-11e7-9bfa-69dfefccbe5c.png">
<img width="846" alt="screen shot 2017-05-03 at 11 34 16 am"

[2017-05-03 15:48] gnakm commented on #1438
@kierachell We decided to take out `see more...` for the pilot. We adjusted the table so that there is more room for issue tags and because see more is kinda complicated. We will allow the tables to show all issues. Our hypothesis is that users at average won't be putting more than 3, rare use case ~8.

[2017-05-03 15:48] abbyraskin opened #1831 "Limit Reader access to pilot users"
Currently, there are a few users with access to Reader who should not have access. We should navigate users to the "unauthorized" view if they are not on the list of pilot users below.

## Pilot CSS IDs with "Reader" function
BVACBOYD
BVAEBRANDAU
BVAMBRUCE
BVAMHARRIGAN
BVAMLAVAN
BVAMLKANE
BVAMNYE
BVAMPETERS
BVANKROES
BVAPRUBIN
BVARCOSTELLO
VACOPARSOA
VACOSCARDR
VACOTIMBEM
BVADWIGHT
BVAKHUBERS
BVAL

[2017-05-03 15:49] gnakm commented on #1437
That is a bug. @tejans24 can you fix the double scrolly?

[2017-05-03 15:52] mdbenjam opened #1832 "Comments | Disallow nil comments"
Currently we can leave nil comments. This should be disallowed.

## AC
1. Verify there is non-nil constraint on the comment field in the annotation table.
2. Verify that saving an empty comment on the frontend acts as cancelling the comment.

[2017-05-03 15:55] mdbenjam commented on #1832
Closing as a duplicate of #1828

[2017-05-03 15:55] #1832 closed

[2017-05-03 16:05] kierachell commented on #1469
**PASSED**
<img width="1282" alt="screen shot 2017-05-03 at 12 02 21 pm" src="https://cloud.githubusercontent.com/assets/18075411/25669834/cbc12c3a-2ff8-11e7-8c52-c9d1fb8274ca.png">
<img width="1304" alt="screen shot 2017-05-03 at 12 02 30 pm" src="https://cloud.githubusercontent.com/assets/18075411/25669833/cbc07c22-2ff8-11e7-90e5-ad6e57ad7af9.png">
<img width="1386" alt="screen shot 2017-05-03 a

[2017-05-03 16:05] #1469 closed

[2017-05-03 16:52] kierachell commented on #1187
**PASSED**
<img width="657" alt="screen shot 2017-05-03 at 12 51 21 pm" src="https://cloud.githubusercontent.com/assets/18075411/25671803/4298fd50-2fff-11e7-9127-6129200e1520.png">
<img width="941" alt="screen shot 2017-05-03 at 12 51 27 pm" src="https://cloud.githubusercontent.com/assets/18075411/25671804/429b81b0-2fff-11e7-83a8-c639d8e25a19.png">

[2017-05-03 16:52] #1187 closed

[2017-05-03 17:00] gnakm commented on #1089
Layout makes sense and Action is a subsection of Layout.

[2017-05-03 17:03] kierachell commented on #1470
## partial search works inconsistently: 'Evidence' <- "Other Evidence" vs 'cedural' <- "Procedural"
<img width="1278" alt="screen shot 2017-05-03 at 1 02 36 pm" src="https://cloud.githubusercontent.com/assets/18075411/25672261/cffff684-3000-11e7-9ef3-1094fc545980.png">
<img width="1215" alt="screen shot 2017-05-03 at 1 02 44 pm" src="https://cloud.githubusercontent.com/assets/18075411/25672262/d00

[2017-05-03 17:10] kierachell opened #1833 "Create New EP | Regional Office to Station of Jurisidiction mapping"
# Description
We have this RO to Station table that is used to determine the Station of Jurisdiction:
https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Projects/Dispatch/Routing%20EPs/Station%20Codes.csv

There are several ROs with missing Stations, which results in `null` value for Station when Creating New EP

- What do we do with that?
- Does this happen in p

[2017-05-03 17:47] cmgiven commented on #1833
Has this been observed in the wild? NHA cases are special issues, so they shouldn't reach this screen.

[2017-05-03 18:18] abbyraskin commented on #1470
@kierachell the alert is shown only if a filter has been selected -- it doesn't look like the filters are in the selected state in your screenshot.

[2017-05-03 18:25] askldjd commented on #1814
Jobs ran correctly on May 3rd.
[code]

[2017-05-03 18:41] nicholasholtz commented on #1187
woooohooooooo!

[2017-05-03 19:39] NickHeiner commented on #1269
Is this still relevant?

[2017-05-03 19:43] abbyraskinUSDS opened #1835 "Documents List | Search: fuzzy search library"
Currently, search is somewhat delayed when searching within a large document (200+ pages). Our current approach naively goes through every doc's metadata and looks for inclusion of the query string(s). It seems that we should explore what libraries are available to search more efficiently.

A quick look suggests: http://fusejs.io/ might be a good place to start. It's unclear if fuzzy searching is

[2017-05-03 19:58] gnakm opened #1837 "Document Viewer | Loader"
**Story**
As a user, I want to know when the document files are still loading in the viewer

## AC
- [ ] Add loader (4 pt stars) with [reader green from style guide](https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/styleguide#loaders)
- [ ] Copy underneath the loader is "Loading document in Reader…"

**_NOTE: 1. Mock has the word "now" but take that out 2. The tool

[2017-05-03 20:00] slj opened #1838 "Duplicate key throwing warning for StyleGuideMessages"
<img width="1435" alt="screen shot 2017-05-03 at 3 53 08 pm" src="https://cloud.githubusercontent.com/assets/1053255/25678949/98c8a404-3019-11e7-882f-caa8f0f46745.png">

[2017-05-03 20:02] slj opened #1839 "StyleGuideLayout component causes ValidDOMNesting warnings"
<img width="1435" alt="screen shot 2017-05-03 at 3 53 08 pm" src="https://cloud.githubusercontent.com/assets/1053255/25679008/d0e178c0-3019-11e7-9781-b3fcd4da6f69.png">

## Acceptance Criteria
Please visit `/styleguide` with the developer console open - you should **not** see these warnings.

[2017-05-03 20:04] slj opened #1840 "TextField component causes Failed Prop Type Warning"
<img width="1435" alt="screen shot 2017-05-03 at 3 53 08 pm" src="https://cloud.githubusercontent.com/assets/1053255/25679097/1b9e6cce-301a-11e7-9cd8-1db2889d9114.png">

## Acceptance Criteria
Please visit `/styleguide` with the developer console open - you should **not** see this warning.

[2017-05-03 20:06] slj opened #1841 "CheckboxGroup component causing Failed Prop Type warning"
<img width="549" alt="screen shot 2017-05-03 at 4 05 25 pm" src="https://cloud.githubusercontent.com/assets/1053255/25679185/6033320c-301a-11e7-88b5-cb5d26215c1d.png">

## Acceptance Criteria

Please visit `/styleguide` with the developer console open - you should **not** see this warning.

[2017-05-03 20:18] slj opened #1842 "eFolder Express PDF Service can't find file(s)"
Sentry [details](https://sentry.ds.va.gov/department-of-veterans-affairs/efolder/issues/175/)

<img width="630" alt="screen shot 2017-05-03 at 4 11 11 pm" src="https://cloud.githubusercontent.com/assets/1053255/25679462/73b7948e-301b-11e7-9645-abf127294bc0.png">

[2017-05-03 20:21] slj commented on #1842
Refiled at https://github.com/department-of-veterans-affairs/caseflow-efolder/issues/478

[2017-05-03 20:21] #1842 closed

[2017-05-03 20:25] gnakm opened #1843 "Style guide component | Loaders"
**Story**
As a user, I want to know when my application or page is loading so that I can wait for my information or task without getting confused.

## Note
- For the style guide, let's use the one for dispatch as an example since it is currently the only app that is using it correctly and I like displaying something with two colors as an example, opposed to using the default
- We shouldn't fix the

[2017-05-03 20:56] tejans24 opened #1845 "Removing a tag before it's saved on the server throws an error in the browser"
* Create a tag
* remove it before it's saved on the server and has an Id assigned
* Notice a console error

<img width="827" alt="screen shot 2017-05-03 at 4 44 35 pm" src="https://cloud.githubusercontent.com/assets/1976755/25681204/7b8bd21e-3021-11e7-819a-118ca9113693.png">

<img width="596" alt="screen shot 2017-05-03 at 4 55 12 pm" src="https://cloud.githubusercontent.com/assets/1976755/2568121

[2017-05-03 21:08] NickHeiner commented on #1845
Ha, nice catch. Yes, hiding the `x` tag sounds like a good idea.

[2017-05-03 22:00] abbyraskin opened #1847 "Documents List | Accessibility: Receipt Date and Document Type should be buttons"
**Story**

As a user, I want to be able to sort by receipt date and document type by using my keyboard. Current functionality is this:
![image](https://cloud.githubusercontent.com/assets/3885236/26321857/968f5642-3ef6-11e7-9886-63f7e791114e.png)

## AC

- [ ] Enable Receipt Date and Document Type as buttons
- [ ] Verify that they can be focused via tab on the keyboard
- [ ] Pressing enter on the k

[2017-05-03 22:01] abbyraskin opened #1848 "Documents List | Accessibility: remain focused"
**Story**
When tabbing through the documents list, I want to be able to select buttons on the page without the select order resetting to the top.

**Description**
Currently, everything that is a button resets to the top. Instead, it should remain focused on whatever I just selected. For example, if I tab to the filter icon and press enter, then press tab again, I should move to the next selectable

[2017-05-03 22:02] abbyraskin opened #1849 "Documents List | Accessibility: unread/read aria label"
**Story**
When using a screen reader, I want to know which documents are read or unread.

## AC
- [ ] Add an aria label/description to opened or unopened documents
- [ ] Verify that with a screen reader, a document title that is bold is "unopened" and a document title that is regular (not bold) is "opened."

[2017-05-03 22:08] abbyraskin opened #1851 "Document Viewer | Accessibility: add focus on toolbar buttons"
## Story
When tabbing through areas within a document, I want an indication that an element is in focus so I know where I am on the page.

## Description
Currently, the focus is set to 0 for buttons in the document toolbar, and the document
itself lacks focus. We need a visual indicator for each button when tabbing through, and make sure the document itself, have focus.

- Document itself has focu

[2017-05-03 22:09] abbyraskin commented on #1851
@gnkm for the focus state, should we stick w/ the same blue as the hover state, or something else?

[2017-05-03 22:12] abbyraskin opened #1852 "Document Viewer | Accessibility: adding comments from keyboard"
**Story**
As a user, I want to be able to add comments in the document viewer with a keyboard

## AC

The following AC are to be verified with Chrome, IE and Firefox on Macs and Windows machines:
- [x] Verify that Pressing Alt+C puts user in "add comment" state
- [x] Verify that when the user enters the "add comment" state, the comment icon appears in a page that is currently in view
- [x] Verify

[2017-05-03 22:21] NickHeiner commented on #1573
I'm just going to use our existing `Alert` component for the error messages. Hopefully that looks and feels correct.

[2017-05-03 22:25] NickHeiner commented on #1808
The user-facing impact of this is resolved by #1818. @tejans24, please close this ticket if you think it is no longer necessary.

[2017-05-03 22:32] abbyraskinUSDS opened #1853 "Document Viewer | Accessibility: use heading tags in righthand menu"
## Description
Currently our headers in the righthand menu (issue tags/comments) don't have heading tags, so there's no explicit hierarchy on the page for users with a screen reader.

## AC
- [x] Verify that the headers are tagged according to this order:
  - H1 - Document type name (In document viewer top toolbar)
  - H2 - Annotation menu (not shown but have screen reader say it)
  - H3 - Documen

[2017-05-03 22:39] gnakm opened #1854 "Document Viewer | Side Menu errors for comments"
As a user, I want to know when I cannot add a comment and still have the ability to save the text I typed in.

Scenarios:
I tried saving a comment but there was a system error and I couldn't save
I tried editing a comment but there was a system error and I couldn't save
I tried deleting a comment but there was a system error and I couldn't save
I tried dragging and dropping a comment icon but ther

[2017-05-03 23:50] Sjones352 commented on #1566
@kierachell after speaking to Gina, please see the updated AC and hopefully it resolves this issue.

[2017-05-04 00:16] tejans24 commented on #1437
@gnakm yea, I'm taking a look at it.

[2017-05-04 00:23] kierachell commented on #1820
So, uh... what are we validating? Is there a related PR just for context?

[2017-05-04 00:51] kierachell commented on #1823
**PASSED**
Travis still runs :)

[2017-05-04 00:51] #1823 closed

[2017-05-04 12:47] slj commented on #1803
Issue re-occurred on 5/4 at 8:37am

[2017-05-04 14:03] astewarttistatech commented on #1827
Failed. Still wonky, sorry @slj

Validated in: Dev
Browsers: Chrome and FF

Steps to Validate:
1. Access the Living Style Guide
2. Manipulate the height and width of the style guide to see if anything overlaps or breaks.

Screenshots:
![sgmanipulation](https://cloud.githubusercontent.com/assets/23038505/25707176/b8b8411a-30b0-11e7-8719-05664e5d2a81.gif)

[2017-05-04 14:42] joofsh commented on #1820
Hey sorry, yes. my fault. This change is related to the bug here https://github.com/department-of-veterans-affairs/caseflow/issues/1814
It was resolved in a PR here: https://github.com/department-of-veterans-affairs/caseflow/pull/1815