[2017-07-26 01:15] kierachell commented on #2698
**PASSED**
[code]
Job does attempt to run, now just need to have it not explode on missing SSNs:

[2017-07-26 01:15] #2698 closed

[2017-07-26 09:16] kierachell commented on #2338
@mdbenjam
### This is a lot of documents to download, how to handle failures?

- It seems like the job assumes that `vbms_id` aka `BFCORLID` is a valid way to look up the files. Do I understand that correctly?
[code]
- What happens if it is not a filenumber/ssn and it might need to be checked with BGS? (look up filenumber by SSN?)
- Should the job "fail fast" or swallow some errors? the Above erro

[2017-07-26 09:57] kierachell commented on #2681
Yes, my smoke tests make sure that we do what the code does; they do not check business logic. So if we're happy to write wrong data to VACOLS, then it will pass.

- I can add business logic validation, but if I am told that column A should be marked `X` then I will follow that. If we find out later it should've been `V` then...well...shit.
- Another issue is refactoring and "make sure everything

[2017-07-26 10:44] mogrenAtWork commented on #2338
@kierachell this job will change now that we have the eFolder API to pull from.

Does eFolder have the same problems as 1 + 2 mentioned above?

To your remaining points:
- The job should fail fast. Since we'll be using eFolder, what we can do is keep track of failed requests. If 5 or so consecutively, we can stop the job
- The previous point applies if VBMS is down. If we get errors from eFolder b

[2017-07-26 11:33] astewarttistatech commented on #2161
Looks like the spacing is off. @NickHeiner

Env: UAT
Browsers: FF, Chrome, and IE

Steps to Validate:
1. Access a document in Reader
2. Access the left side menu
3. Validate the accordions, their spacing to the start/end of content, as well as their color.

Screenshots:
<img width="1440" alt="screen shot 2017-07-26 at 7 20 51 am" src="https://user-images.githubusercontent.com/23038505/28619047-ad9

[2017-07-26 13:43] astewarttistatech opened #2721 "Preprod | Dispatch | "full_name" values are all CASEFLOW1"
**Description:**
Currently, if a user logs into preprod with one of the designated css_id's logins the full name value will always be CASEFLOW1 and be a system admin.

**Expected:**
Each CSS_ID should have different roles and values for the "full_name"

**Found in:** Preprod
**Browser:** Chrome

**Steps to Recreate:**
1. Log into preprod Dispatch with one of the css logins as well as the service a

[2017-07-26 13:53] kierachell commented on #2338
### BFCORLID != SSN
[code]
- So what I am seeing is that you're looking up Documents by sanitized BFCORLID and not SSN?

[2017-07-26 14:00] kierachell commented on #2532
FYI this is crashing my machine pretty regularly.
Chrome/IE
VM or not

[2017-07-26 14:02] mdbenjam opened #2722 "Memory Leak? | Look into reports of a memory leak"
https://github.com/department-of-veterans-affairs/appeals-support/issues/211

[2017-07-26 14:14] joofsh opened #2723 "[Dispatch Refactor] Refactor EstablishClaimEmail.jsx"
This ticket is part in a series to refactor Dispatch with the broad goals of 1) reducing the number of lines in EstablishClaim.jsx, 2) Removing React state from Dispatch (moving it to redux), 3) Moving methods into utility functions where possible to be more easily unit tested

#### Acceptance Criteria
- Move EstablishClaimEmail submit down a level from EstablishClaim to EstablishClaimEmail
- Move

[2017-07-26 14:40] mdbenjam opened #2724 "Analytics | Add expand comments button"
We currently don't have an analytics event for the expand individual document's comments button.

![](https://user-images.githubusercontent.com/829827/28596355-17c05300-7166-11e7-90c9-e55a7f978eaf.png)

# AC
1. Verify when clicking on toggle button for a single document's comment that we fire an analytics event.

[2017-07-26 14:43] amprokop commented on #2216
@Sjones352 — please do! Thanks!

[2017-07-26 14:48] kierachell commented on #2338
So what I am seeing is that `FindDocumentSeriesReference` fails fast, but `GetDocumentContent` keeps going
[code]
It _does_ run tho...

[2017-07-26 14:52] kierachell commented on #1814
The timer is there:
<img width="1234" alt="screen shot 2017-07-26 at 10 50 55 am" src="https://user-images.githubusercontent.com/18075411/28627651-71b968ee-71f0-11e7-8974-ade83fa0e646.png">
but no webhook in `dev_null`

[2017-07-26 15:09] mdbenjam commented on #2338
Probably just need to strip the ending character from BFCORLID. @mogrenAtWork look at the appeal.sanitized_vbms_id function

[2017-07-26 15:31] aroltsch opened #2725 "Hearing model: implement vacols_attr_accessor for attributes stored in memory"
AC:

Hearing model: in-memory attributes should be loaded from Vacols

[2017-07-26 15:31] slj commented on #2473
I've gotten this to a place where I need to discuss things with some engineers before doing any more.  I like the direction it's going if it's not acceptable I need to know now.

[2017-07-26 16:26] astewarttistatech opened #2727 "Demo | eFolder | All Demo users have no documents in their eFolders"
**Description:**
Currently, if you access eFolder in the Demo environment and use any of the "Demo" users they all return no documents in the eFolder.

**Expected:** Demo users, "DEMO1, DEMO2, DEMO3, and DEMO4" should all have documents unless otherwise indicated.

Found in: Demo
Browser: IE, FF, and Chrome

Steps to Recreate:
1. Access eFolder in Demo
2. Enter "DEMO1" as a efolder to search
3. Ve

[2017-07-26 16:39] kierachell commented on #1814
**PASSED**

WOOOOOOOOOO
<img width="436" alt="screen shot 2017-07-26 at 12 38 33 pm" src="https://user-images.githubusercontent.com/18075411/28632705-6920194e-71ff-11e7-97e9-9caf67cc4cf1.png">

[2017-07-26 16:39] #1814 closed

[2017-07-26 17:20] sharonwarner opened #2728 "Replace sidekiq-cron"
Sidekiq-cron has been too unreliable. We need to find a replacement.

[2017-07-26 17:22] sharonwarner opened #2729 "CreateEstablishClaimTasksJob updates"
As discussed in https://github.com/department-of-veterans-affairs/caseflow/issues/2625, we need to alert Slack if the CreateEstablishClaimTasksJob fails to finish successfully.

- Alert Slack if job doesn't finish successfully

[2017-07-26 17:30] slj opened #2730 "Update Certification to use updated layout CSS"
This came up during a code search:
<img width="530" alt="screen shot 2017-07-26 at 1 24 03 pm" src="https://user-images.githubusercontent.com/1053255/28634828-78ee17f2-7206-11e7-8e44-fa548ae2a891.png">
The classes should be `cf-actions` and `cf-app-width`

**For Context**

"cf--alt" was for the alternate template which has now been out-phased. "cf-app-width" replaces the functionality. Overall upd

[2017-07-26 18:11] astewarttistatech commented on #2508
Currently Google Analytics are not turned on for UAT.

[2017-07-26 18:13] kierachell commented on #2508
<img width="442" alt="screen shot 2017-07-26 at 2 12 02 pm" src="https://user-images.githubusercontent.com/18075411/28636578-9471d40e-720c-11e7-8fc8-6c20632401e0.png">

[2017-07-26 18:42] slj commented on #2730
Solution in action:
![fix-cert-class-use](https://user-images.githubusercontent.com/1053255/28637726-8c6b56dc-7210-11e7-8776-f8e6fe70e6a9.gif)

[2017-07-26 19:57] kierachell commented on #2669
**PASSED**

Worked for me locally, did not check demo... not sure if needed.

[2017-07-26 19:57] #2669 closed

[2017-07-26 22:18] NickHeiner commented on #2508
Ah, sorry, I could have been more clear about that. When GA is not enabled for an environment, you will see the following fake GA events in the console:

![image](https://user-images.githubusercontent.com/829827/28646264-d5428696-722e-11e7-9acc-075c6eded517.png)

If you see this, you can assume that GA is working.

[2017-07-26 22:31] NickHeiner commented on #2681
So @askldjd we have no capability to do snapshots on our own?

If we have snapshots, we still only have as much safety as the freshness of the snapshot. Imagine that snapshots are taken every hour, and the following timeline occurs:

* 4:00 – Snapshot taken
* 4:23 – VACOLS app writes data to a row
* 4:43 – Caseflow writes bad data to that same row

We cannot fully recover that data, since we don't

[2017-07-26 22:36] NickHeiner commented on #2161
@astewarttistatech, can you be more specific about what's wrong with the spacing?

@gnakm, do you think it's worth spending dev time to change the spacing from how it looks now?

[2017-07-26 23:01] kierachell commented on #2508
**PASSED**

- Text dragged
- No errors seen
- GA event attempted to fire
<img width="847" alt="screen shot 2017-07-26 at 7 00 56 pm" src="https://user-images.githubusercontent.com/18075411/28647379-d54940c0-7234-11e7-89d9-29f7461746a4.png">

[2017-07-26 23:01] #2508 closed

[2017-07-26 23:29] kierachell commented on #2722
I suspect it's related to PDF workers going haywire with all the documents.
- crashes my VM (windows)
- crashes my real Mac

- Basically browsing between documents generates a weird thread snowball
<img width="628" alt="screen shot 2017-07-26 at 7 24 05 pm" src="https://user-images.githubusercontent.com/18075411/28647927-347a8772-7238-11e7-9234-1068c8f8fe07.png">

- Here's a snapshot of just a min

[2017-07-26 23:31] kierachell commented on #2586
**PASSED**

GLORIOUS!
![awdamnlookatdat](https://user-images.githubusercontent.com/18075411/28648053-072a49c8-7239-11e7-9031-3172204990c9.gif)

[2017-07-26 23:31] #2586 closed

[2017-07-27 01:17] Sjones352 commented on #2216
Currently eFolder looks like this.

<img width="1263" alt="screen shot 2017-07-26 at 9 14 00 pm" src="https://user-images.githubusercontent.com/23080951/28650151-b3fc977e-7247-11e7-9e6e-5e0f39827d79.png">

[2017-07-27 01:41] kierachell commented on #2517
**PASSED**
pretty sure this was fixed a long time ago

[2017-07-27 01:41] #2517 closed

[2017-07-27 01:46] kierachell commented on #2436
- Waiting on a Kubernetes patch: https://github.com/jenkinsci/kubernetes-plugin/blob/master/CHANGELOG.md#012
- Waiting for production deployment of the whole builder

[2017-07-27 13:35] astewarttistatech commented on #2161
Sorry, I thought the top screenshot made it clear. The top and bottom spacing of the content from the inside of the accordions are 14px instead of 20px. @NickHeiner

[2017-07-27 13:45] gnakm commented on #2161
@NickHeiner @astewarttistatech The 14px spacing is NBD. Let's go with it. Changing AC now.

[2017-07-27 13:47] Sjones352 commented on #2216
Since there are many mocks on this issue. @lakohl  can you please verify which one is correct and update the mock on the original ticket with the latest. Thanks

[2017-07-27 14:01] sharonwarner opened #2734 "Dispatch Stale Element Test Failure"
![image](https://user-images.githubusercontent.com/4306128/28674135-82965452-72b2-11e7-9942-e46cd5db4a7a.png)

[2017-07-27 15:05] NickHeiner commented on #2161
Thanks @gnakm.

@astewarttistatech, it was unclear to me. I saw the `14px` measurement in your screenshot. But that measurement was measuring a different stretch than what Gina had measured in the AC. The `14px` is the yellow section in this screenshot:

![image](https://user-images.githubusercontent.com/829827/28677165-afc01ffa-72ba-11e7-9e5e-ac6f47345d54.png)

But the `14px` does not include the

[2017-07-27 15:15] astewarttistatech commented on #2161
Due to the change in AC, this issue is now considered...

 **PASSED**
Please see above comment for credentials used to verify this issue.

[2017-07-27 15:15] #2161 closed

[2017-07-27 15:56] nikitarockz commented on #2620
@nemodjuric Do you need Station number?

[2017-07-27 18:34] sharonwarner commented on #2705
https://github.com/department-of-veterans-affairs/caseflow/issues/1394

[2017-07-27 18:34] #2705 closed

[2017-07-27 18:37] kierachell opened #2736 "Create End Product | Missing RO70 Station"
# Description
When we get an appeal from RO70.
creating an EP for it that will go to its station of jurisdiction.

## Reproduction Steps

**Scenario 1 -**

1. Get a claim from RO70
1. Try to create an EP that goes to RO
1. Get error because Station is `nil`

**Validated in the following Environment(s)**
- [ ] Dev
- [ ] UAT
- [ ] Preprod
- [X] Prod

## Sentry:

https://sentry.ds.va.gov/department-o

[2017-07-27 18:42] joofsh opened #2737 "Create admin page for viewing FeatureToggles & out of service status"
Create a simple admin page so non-engineers can know the status of certain features and out of service apps

#### Acceptance Criteria
- Page should only be accessible by `System Admin`
- Page should be viewable even if app is "out of service"
- Page should show a read-only view of all feature toggles and their details
  -  Show if the feature toggle is enabled/disabled
  - Show if it is specifical

[2017-07-27 18:48] kierachell opened #2738 "Prepare Establish Claim tasks | Catch exceptions and continue on failure"
# Description
When Prepare job fails, it just stops.
Is there a way to catch exceptions and let it move on so that at least "most" tasks can be prepared?

## Reproduction Steps

**Scenario 1 -**

1. Have Prepare job explode
1. See that none of the tasks were prepared after it errors
1. Be forced to manually rerun the job and spend 2 hours trying to find that one case that failed

**Validated in th

[2017-07-27 18:52] kierachell commented on #886
no needed

[2017-07-27 18:52] #886 closed

[2017-07-27 18:55] #2072 closed

[2017-07-27 18:55] kierachell commented on #1394
dup of https://github.com/department-of-veterans-affairs/caseflow/issues/2072

[2017-07-27 19:00] shellicious opened #2739 "[V2] Remove copy about updating POA address"
### Story

As a Caseflow Certification V2 user on the Confirm Case Details page, I want to be confident that V2 has updated the POA type in VACOLS. I do not want to be given instructions about updating POA address in VACOLS if it is optional.

### AC
On the Confirm Case Details page:
- When the user selects "None of the above" in response to the 2nd question on the page, and selects "Attorney", "A

[2017-07-27 19:07] gnakm opened #2740 "Reader | Add footer"
## Description
Reader needs a footer so that we have a place for a link where users can send us feedback.

## AC
- [ ] Verify that there is a footer that follows the [style guide footer](http://dsva-appeals-certification-demo-1715715888.us-gov-west-1.elb.amazonaws.com/styleguide#layout).
- [ ] Verify that the Send feedback link opens to feedback form.

## Mock up

![image](https://user-images.gith

[2017-07-27 19:16] lakohl opened #2741 "Add employee name/initials to each claim on the missing Decisions page"
Rolandus would like to see which employee outcoded each claim on the Missing Decisions page.

Add a column for the employee name/initials to each claim on the missing Decisions page. This pulls directly from a VACOLS field which indicates who outcoded the case at Dispatch.

[2017-07-27 19:20] NickHeiner commented on #2712
[Relevant Slack conversation](https://dsva.slack.com/archives/C4N3QTLT1/p1501180016435529):

![image](https://user-images.githubusercontent.com/829827/28688182-05a03774-72df-11e7-80f7-60058a902c5d.png)

[2017-07-27 19:29] nolawi commented on #2741
<img width="1257" alt="screen shot 2017-07-27 at 3 28 36 pm" src="https://user-images.githubusercontent.com/1745984/28688582-589eb80a-72e0-11e7-95bd-3958bcb1120e.png">

[2017-07-27 19:33] gnakm opened #2743 "Style guide | Fix Footer bug"
## Description
The footer in style guide under the layout section is sad :(

![image](https://user-images.githubusercontent.com/13420618/28688392-c1fb2834-72df-11e7-8184-df5375618046.png)

## AC
- [ ] Fix the footer in the layout section so that the digital service and send feedback links are in one line

![image](https://user-images.githubusercontent.com/13420618/28688701-bd975884-72e0-11e7-8a4f-

[2017-07-27 19:36] nikitarockz commented on #2552
Abbey's Original comments:
We're working on updating the content for the FAQs, ahead of the next release.  The format of the page should remain the same; only the copy is changing.

See updated content below (forthcoming):

[2017-07-27 19:44] laurjpeterson opened #2744 "Scroll to top of Hearing Worksheet"
Currently, when the user navigates to the Daily Docket and Hearing Worksheet, they land where they were  located on the previous page.

The user should be at the top of the page when landing on the Daily Docket and Hearing Worksheet pages

AC
- When loading Daily Docket page, the user should be at the top of the page.
- When loading Hearing Worksheet pages, the user should be at the top of the pag

[2017-07-27 19:46] laurjpeterson commented on #2744
FYI @lakohl @annienguyenUSDS

[2017-07-27 20:07] mmlumba commented on #2492
@gnakm Do you have relevant copy for this section or are you working on that?

[2017-07-27 20:08] gnakm opened #2745 "Document Viewer | Doc type edit option"
## Description
We've heard from many users that Document types may be wrong and we want to allow users to edit and update document type in VBMS through reader.

## AC
- [ ] Verify that users can go into edit mode by clicking the "edit" link next to document type
- [ ] Verify that we are pulling documents list from VBMS api and populating it in our dropdown
- [ ] Verify that users can click the arr

[2017-07-27 20:10] gnakm commented on #2492
@mmlumba Sorry. Pushing this back because it's not ready.

[2017-07-27 21:06] laurjpeterson opened #2747 "Update User Permissions for Hearing Prep"
As a Hearing Prep user, I need access to nagvigate to Reader, so that I can review a Veteran's eFolder while I prep a hearing

AC
- Verify that a user whose CSS_ID has the Role (Function) of  "Hearing prep", they can launch Reader.

[2017-07-27 21:08] laurjpeterson opened #2748 "Add button to access Reader"
Add button to bottom of Hearing Worksheet page to allow users to navigate to Reader

Mock:
- https://va-gov.invisionapp.com/d/main/#/console/11372263/240352628/preview

AC
- 'Review eFolder' button at bottom of Hearing Worksheet

[2017-07-27 21:24] lakohl opened #2749 "[Frontend] Update Saving styling"
Hearing Worksheet saving functionality on this page should be styled in the same as appears on the Daily Docket page

[2017-07-27 21:25] #2244 closed

[2017-07-27 21:30] lakohl opened #2750 "Move Docs in eFolder"
Move the copy 'Docs in eFolder' and the [number of docs] to the space under 'Docs since Certification'.

**Mock**
<img width="882" alt="screen shot 2017-07-27 at 5 46 43 pm" src="https://user-images.githubusercontent.com/4975959/28693614-a206d49c-72f3-11e7-8fcb-984b482853e4.png">

[2017-07-27 21:39] gnakm opened #2751 "Reader | implement doc type and receipt backend changes"
## Description
We need to implement new API to connect to VBMS to update [document type](https://github.com/department-of-veterans-affairs/caseflow/issues/2745) and [receipt date](https://github.com/department-of-veterans-affairs/caseflow/issues/1997). According to the VBMS team this is possible.

- [ ] Investigate and see if we need to be using - VBMS old or new version of APIs.
- [ ] Implement A

[2017-07-27 21:41] gnakm opened #2752 "Reader | New category colors"
## Description
We needed a forth color for VLJS to label hearings related documents while they prep for and analyze during hearings. Whilst doing that, we had to adjust the other colors a bit to balance all four and we discovered that the existing colors that we had were not user-friendly for low visibility.

## AC

- [ ] Add and make adjustments of following colors:
   - Hearing = Hex #FDC231

[2017-07-27 21:45] laurjpeterson opened #2753 "[Backend] Pull in Appellant Information"
Pull appellant information from VACOLS for Daily Docket and Hearing Worksheet pages.

[2017-07-27 21:51] laurjpeterson opened #2754 "[Backend] Update upcoming_for_judge query"
Pull in appellant and hearing data from VACOLS onto the Daily Docket page. Notes also come from VACOLS.

[2017-07-28 00:07] shanear commented on #2430
Validated in prod. Moving documentation and dashboards to another ticket.
Also moving header GA events to another ticket

[2017-07-28 00:07] #2430 closed

[2017-07-28 02:34] tejans24 opened #2755 "AOD method in fakes/appeal_repository should be overridable"
https://github.com/department-of-veterans-affairs/caseflow/pull/2645/files#diff-d38fdc00b17f61e0a6e1bd027f26224cR197

To create interesting test data, aod should be able to return true or false

[2017-07-28 02:37] tejans24 opened #2756 "Refactor appeal generated data used for tests, appeal controller and case select in Reader"
- lib/fakes/appeal_repository.rb
- lib/fakes/case_assignment_repository.rb
- lib/generators/appeal.rb

[2017-07-28 10:21] kierachell commented on #2625
I think we're mostly covering this with webhooks and @sharonwarner has a couple more issues to catch job failures and manage retries. So this can probably be closed.

[2017-07-28 12:36] kierachell commented on #2723
So in the spirit of not repeating the https://github.com/department-of-veterans-affairs/caseflow/issues/2292 snafu:
- Should I validate that _all_ SIC are routed properly based on their Tiers?
- Or does this only related to cases where there is an email to be sent?
- When should the Email page _not_ appear?
- Does "move toggle button to Redux" I will see its action in the Redux tools?

[2017-07-28 12:55] kierachell commented on #2684
[code]

The AC in the parent ticket sucks (aka doesn't exist so...)

[2017-07-28 12:57] kierachell commented on #2618
**PASSED**
HOLYSHIT FINALLY
![fuckyeah](https://user-images.githubusercontent.com/18075411/28718159-bc881bb2-7372-11e7-82c9-fd6d73086114.gif)

[2017-07-28 12:57] #2618 closed

[2017-07-28 14:14] joofsh commented on #2723
- The code touched/moved should only be related to special issues where an email is sent. Though 1 non-email case should also be tested
- The email text is unrelated to the VACOLS note. We only do emailing when we can't route via VBMS or VACOLS. So you _either_ get the email page (special issue full grants) *or* you'd get the VACOLS diary note page. That said, submitting a vacols diary note should

[2017-07-28 14:16] lakohl opened #2759 "Follow up on Dispatch Private Attorney snafu"
Follow up on Dispatch Private Attorney snafu
What happened
What we can do to prevent this in the future
How we fixed it
What we learned

[2017-07-28 14:19] nolawi commented on #2741
@lakohl Can we the exact text for the fifth column. I am not sure if we have just the initial.? Will check.

[2017-07-28 14:20] joofsh commented on #2723
And more broadly, our test coverage for Dispatch is pretty decent. I would not expect a bug to surface from refactoring in general. #2292 occurred, in part, because it's related to the integration part of the code that we _can't_ test in our current setup. So with each refactor it's probably worth specifically verifying the VACOLS note looks right, and that a real EP can be created

[2017-07-28 14:24] lakohl commented on #2741
Sadly, I don't have access to VACOLS. Pehaps @sharonwarner or @cmgiven can provide an example from VACOLS

[2017-07-28 14:43] nolawi commented on #2741
right, what did you want the column header to say. 'Employee'?

[2017-07-28 14:45] aroltsch commented on #2684
@kierachell the parent ticket is to give a full overview of what needs to happen

[2017-07-28 14:47] NickHeiner opened #2761 "Add more analytics to Reader"
Some Reader events are not being captured in GA. In particular, we'd like to know how often people open docs in new tabs.

## AC
1. Validate that GA events are fired when viewing Reader in "single document mode"
    1. Go to the claims folder
    1. Right click on a document type and choose "open in new tab"
    1. See that one (and only one) GA event is fired that looks like:
[code]

1. Validate

[2017-07-28 14:49] NickHeiner commented on #2593
![image](https://user-images.githubusercontent.com/829827/28722619-5d1ba346-7382-11e7-9011-716331bbcf0e.png)

Is it intentional that the comma is not red?

[2017-07-28 14:55] gnakm commented on #2593
Sorry that was a mockup typo -- Can we make it red?

[2017-07-28 15:11] lakohl commented on #2741
How about 'Outcoded By'?

[2017-07-28 15:19] nikitarockz opened #2764 "Navigation | Help | Add Introduction and Training Video sections"
As a Product Owner, I would like to have the Welcome and Training Video sections added to the page so that it is consistent with the other products' help page.

# Acceptance Criteria
1. Verify that the following two sections and their sub-copy have been created at the top of the page as the first 2 sections. (refer to mockup View 2 - **_eFolder Express Help Page sample_**):

     Section |Header|S

[2017-07-28 15:26] cmgiven commented on #2741
`FOLDER.TIOCUSER` is the field from VACOLS that we want to show. If we join on `STAFF.STAFKEY` we can get the first and last name (`STAFF.SNAMEF` and `STAFF.SNAMEL`), instead of the VACOLS user name.

[2017-07-28 15:30] nemodjuric commented on #2620
No station number is necessary, @nikitarockz
ROs have been added.

[2017-07-28 15:41] #2620 closed

[2017-07-28 16:25] Sjones352 commented on #2216
@Lara for this part in the AC, 'Verify that the veteran name and ID number currently to the the right of the application name 'eFolder Express' are removed' do you want them to be removed from all the other pages of eFolder too just like it is in certification?

[2017-07-28 17:17] mmlumba commented on #2353
@gnakm What do you think about closing this issue? It seems like some of these can be separate tickets:
* Engineering perspective - Add more documentation of use cases (Marian)
* Adding a section with sketch file and icon (Gina)
* Instructions on how to update Style guide (Gina/Marian)

And some of these are ongoing responsibilities that should be added to some doc somewhere:
* Demo for updates (G

[2017-07-28 17:18] gnakm commented on #2353
yeah let's do that!

[2017-07-28 17:18] #2353 closed

[2017-07-28 17:40] gnakm opened #2767 "Style guide | Add new colors"
## Story
As a designer or developer, I want an easy way to find ALL the colors being used in our applications.

## AC
- [ ] Add subsection `Reader Categories` under the [Colors section](http://dsva-appeals-certification-demo-1715715888.us-gov-west-1.elb.amazonaws.com/styleguide#colors) of style guide after Logos with the following four colors
  - #fdc231 Hearing
  - #5a94ec Procedural
  - #ff6868

[2017-07-28 17:58] kierachell commented on #2750
**PASSED**
<img width="1247" alt="screen shot 2017-07-28 at 1 58 01 pm" src="https://user-images.githubusercontent.com/18075411/28730123-d65eda10-739c-11e7-93ed-dc7e86261017.png">
<img width="1232" alt="screen shot 2017-07-28 at 1 58 10 pm" src="https://user-images.githubusercontent.com/18075411/28730124-d65f8bc2-739c-11e7-9f05-731aa06d5e6d.png">

[2017-07-28 17:58] #2750 closed

[2017-07-28 18:07] lakohl opened #2768 "Move Docs in eFolder Again"
Move Docs in eFolder. Again. We realized that the existing 'new' placement won't work well when we have to add multiple appeal streams. So we are moving it once again. Apologies.

**AC**
1. Add a single instance of Docs in eFolder left-aligned under Relevant Documents and before Appeal Stream 1.
1. Move Docs Since Certification back up to the top row of the 5th column for each Appeal Stream.
1. En

[2017-07-28 18:37] nolawi commented on #2768
@lakohl basically u want to revert this ticket https://github.com/department-of-veterans-affairs/caseflow/issues/2750 right ?

[2017-07-28 19:35] lakohl commented on #2768
Not exactly. 'Docs in efolder' is now going to be the first item under Relevant Documents not the last item under Appellant/Veteran Information. Also, I just realized we may have spelled Appellant wrong so adding that to the AC.

[2017-07-28 22:55] nolawi commented on #2768
got it

[2017-07-29 02:11] kierachell commented on #1998
### Ya done broke the Welcome Gate! :(

- Unable to see the welcome gate anymore :( sad...
- Seems like `appeal.to_hash` got new methods/fields and for some reason the Lazy Loading is turned off???
[code]
https://sentry.uat.ds.va.gov/sentry/caseflow-uat/issues/340/

### What about no issues?
<img width="1216" alt="screen shot 2017-07-28 at 2 24 12 pm" src="https://user-images.githubusercontent.com

[2017-07-29 02:26] kierachell commented on #2684
Thank you for updating AC 👍

[2017-07-29 16:12] kierachell opened #2769 "AppealRepository | VBMS_ID not being set for certain appeals - breaks `next_assignable` Task call"
# Description
We have 433 appeals that for some reason do not have VBMS ID set for them:
[code]
When EstablishClaim parses for `assignable` tasks, it finds some of them and tries to retireve the `sanitized_vbms_id`...but...there isn't one.

The Appeals above _do_ in fact have VBMS IDs of some sort in VACOLS (doesn't matter `C` or `S` or what), because it is possible to get `case_record` and `build

[2017-07-29 16:23] nemodjuric commented on #2666
@amprokop If app server returns that data is still loading, what do we do? Do we keep poking the server repeatedly (until one of the following happens: 1. we get data back, 2. request fails 3. time out)
Or do we treat that response as request failed?

[2017-07-29 22:47] nolawi commented on #2768
<img width="1404" alt="screen shot 2017-07-29 at 6 46 53 pm" src="https://user-images.githubusercontent.com/1745984/28749225-56b989ac-748e-11e7-8b1a-686fe5b315a9.png">
like this ?

[2017-07-30 21:46] kierachell commented on #2769
Triple confirmed that Status API is generating VBMS_ID-less Appeals.
There was one created around 19:16 UTC today via a Status API call.

[2017-07-30 23:09] nolawi opened #2770 "Refactor Hearing Worksheet Relevant Docs into separate component"
connects 2768

[2017-07-31 12:16] astewarttistatech commented on #2743
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Style Guide
2. Navigate to Layouts section
3. Validate the footer section against the mocks and AC.

Screenshots:
<img width="1246" alt="screen shot 2017-07-31 at 8 07 55 am" src="https://user-images.githubusercontent.com/23038505/28777305-94c5cb6c-75c8-11e7-9262-6448bd532147.png">

[2017-07-31 12:17] #2743 closed

[2017-07-31 13:22] #2754 closed

[2017-07-31 13:23] #2753 closed

[2017-07-31 13:33] sharonwarner commented on #2468
More details from Jed:

a) video
video master records are designated by hearing_type = "c" but folder_nr = "Video RO##"
can't have multiple master records for same room/day/time
same room/day is fine, but the restrictions on offices would need to change so we don't schedule 11 hearings for a 1 hour master record
b) central
central office hearings don't have the same concept of a master record. jed

[2017-07-31 13:39] astewarttistatech opened #2773 "Reader's back button loads JSON"
**Description:**

If you are in Reader and use the browser's back button, the whole page starts to resemble what happens when you do the same thing in VBMS

**Expected:** Not that (see screenshot)

**Env:** UAT
**Browsers:** FF and Chrome

**Steps to Recreate:**
1. Access Reader
2. On any page within the document viewer, use the browser's back button

**Screenshots:**
![claims folder caseflow read

[2017-07-31 13:43] sharonwarner commented on #2748
For now, the link doesn't need to go anywhere. I'll update that in another issue.

[2017-07-31 14:01] astewarttistatech commented on #2229
**PASSED**  I don't know if this has made it passed @gnakm 's eyes for the UI but tagging her in here as reference

Env: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Reader for a test veteran
2. Toggle the "Documents | Comments" button
3. Verify that the results filter out based on comments or shows all documents if "Documents" is toggled on.

Screenshots:
![readerheading](https://use

[2017-07-31 14:01] #2229 closed

[2017-07-31 14:03] gnakm commented on #2229
@astewarttistatech yup! I've been checking and looks good!

[2017-07-31 14:26] lakohl commented on #2768
That is the right spot, but can you make sure that there is the same amount of padding between the line below 'Relevant Documents' and 'Docs in eFolder' as there is between the line below 'Appellant/Veteran Information' and 'Appellant Name:'? It looks too tight right now.
Also, 'Docs in eFolder' should be Regular (not bold) type. Thanks!

[2017-07-31 14:39] joofsh commented on #2744
Handling scroll with react router:

https://reacttraining.com/react-router/web/guides/scroll-restoration

[2017-07-31 14:42] abbyraskin commented on #2271
This was already completed - closing.

[2017-07-31 14:42] #2271 closed

[2017-07-31 15:02] tejans24 opened #2774 "Fix initialize_appeal_without_lazy_load and data being passed from fakes/AppealRepository for Welcome Gate"
[code]

[2017-07-31 15:25] gnakm commented on #2492
Closing this and will have a WIP issue in design repo.

[2017-07-31 15:25] #2492 closed

[2017-07-31 15:34] astewarttistatech commented on #2730
**PASSED**

Env: Local
Browsers: FF, Chrome, IE

Steps for Validation:
1. Access Certification
2. Go through the happy path and sad path
3. Notice any CSS issues with the UI (none)
4. Go into the source code for the certifications folder to see if there are any "cf--alt" remaining within the code of that folder.
5. Check the merge file to see if all "cf--alt" has been changed to "cf" to indicate t

[2017-07-31 15:34] #2730 closed

[2017-07-31 15:37] gnakm commented on #1299
@lakohl Can we close this?

[2017-07-31 15:47] #2752 closed

[2017-07-31 16:22] nolawi commented on #2744
![giphy](https://user-images.githubusercontent.com/1745984/28787581-bd4d7dd8-75ea-11e7-8654-d3c8b92d9697.gif)
@joofsh

[2017-07-31 17:01] gnakm opened #2776 "Style Guide | Moving from displaying "required" to "optional""
## Description
As a designer and engineer, I want to know what the best practices for what required fields should look like. What we've discovered is that most of the fields are required and the "required" red text is jarring when it's being repeated multiple times on a page.

## AC

- [ ] Change subsection title **Text Input Error** to **Text Input Requirement and Error**
- [ ] Change the Text In

[2017-07-31 17:08] mmlumba opened #2777 "Style guide | Adding a section with sketch file and icon"
This is to add the designer sketch file and an appropriate icon to the style guide.

From the styleguide survey action items: #2353

[2017-07-31 17:12] mmlumba opened #2778 "Style guide | Engineering perspective - Add more documentation of use cases"
This is to address the feedback that we need to add more documentation to the technical aspects of the UI components.

From the style guide survey action items: #2353

[2017-07-31 17:16] lakohl commented on #1299
This is still a desire, but not currently in our near term plans. closing.

[2017-07-31 17:16] #1299 closed

[2017-07-31 17:37] astewarttistatech commented on #1044
Blocked due to VBMS error, see Sentry error: https://sentry.uat.ds.va.gov/sentry/caseflow-uat/issues/282/

Current view:
<img width="1114" alt="screen shot 2017-07-31 at 1 35 06 pm" src="https://user-images.githubusercontent.com/23038505/28789971-5a07d682-75f5-11e7-8ef8-53ca4b37459a.png">

[2017-07-31 17:41] abbyraskinUSDS opened #2779 "Welcome Gate | Consistent button widths"
## Description
The button widths look very different on the welcome page. We want things to look more consistent without having to change our style guide button styling.

## AC
- Change `New` button label to `Start case`

## Mockup

![image](https://user-images.githubusercontent.com/13420618/30662610-a64fdb78-9e15-11e7-9073-321b492503ec.png)

[2017-07-31 17:42] abbyraskin commented on #2779
@gnakm does this look right to you?

[2017-07-31 17:53] aroltsch commented on #2693
How to determine #1 in AC
If `bfhr == '1',` then `bfha = '1'` 2) If `bfhr == '2' && bfdocind != 'V'` , then `bfha = '2'` 3) If `bfhr == '2' && bfdocind == 'V'`, then `bfha = '6'`

[2017-07-31 18:38] gnakm commented on #2779
lgtm! After this, we should brainstorm style guide buttons.

[2017-07-31 19:54] NickHeiner opened #2782 "Refactor Reader Analytics"
[From Slack](https://dsva.slack.com/archives/C4N3QTLT1/p1501265112448431):

![image](https://user-images.githubusercontent.com/829827/28795400-b95118e4-7607-11e7-8c8b-fbeff589f207.png)

## Acceptance Criteria
Validate that nothing that could be PII is logged. For instance, we should not be logging the text of issues, comments, or searches.

Validate that events follow this pattern:
* Category = th

[2017-07-31 20:33] abbyraskin commented on #2751
Added some technical notes above.

[2017-07-31 20:37] gnakm opened #2783 "Style guide | We need to talk about buttons + spacing"
We are running into a style guide problem where spacing should be standardized and buttons should be consistent.

## Thoughts 🤔

### Spacing

- No spacing (but wrap it in a spacing object).
- Custom spacing
- Default spacing

### Button
- Mini audit of buttons and sizing
- small, med, large

[2017-07-31 21:12] tejans24 commented on #1998
@kierachell I addressed the color comments in a PR, it's merged into master now

[2017-07-31 21:36] gnakm opened #2787 "Document List | No issues"
## Description
There are situations where an appeal will reach the board without any issues on it.

## AC
- [ ] When there aren't any issues on an appeal, show "No issues on appeal" under Issues in both the landing page and documents list page

## Mockups

Landing page
![image](https://user-images.githubusercontent.com/13420618/28799858-380ec3ba-7618-11e7-8bfa-069af6554c86.png)

Document list page

[2017-07-31 21:50] mdbenjam opened #2789 "Reader | Make New Tabs Great Again"
When opening a document in a new tab we've done some hack-y work to avoid having to make a request to VACOLS and VBMS to load all the necessary data. Instead we've been passing the required metadata in the URL. Then on the backend we check to see if that metadata is passed, if it is, we just use that, otherwise we trigger a reload. In this view we also disable the main document list page since it

[2017-07-31 21:51] gnakm commented on #1998
@kierachell the no issues issue can be found here: https://github.com/department-of-veterans-affairs/caseflow/issues/2787. As for not showing the state of the ROs, we've only heard ROs being called by the city and it's much more specific so I don't see the need for adding it.

[2017-08-01 04:11] nemodjuric commented on #2739
@shellicious There's nothing about this, but wanted to double check - do you still want to keep:
"Great! Caseflow will update the representative type and name
             information for the selected service organization in VACOLS. After
             this appeal is certified in Caseflow, the representative’s address
             will need to be updated in VACOLS."

[2017-08-01 11:11] mogrenAtWork commented on #2497
Looks like this was taken care of with #1998

<img width="1317" alt="screen shot 2017-08-01 at 7 02 17 am" src="https://user-images.githubusercontent.com/10132008/28822741-7492e29c-7688-11e7-8092-c136dfe487a3.png">

@gnakm was there anything else you had in mind for this ticket?

[2017-08-01 11:54] kierachell commented on #2340
I think you have this configured to point to prod in all envs
[code]

[2017-08-01 12:05] kierachell commented on #2723
Blocked right now because we can't even make EPs in UAT or get veteran info in Preprod.

VBMS knows.

[2017-08-01 12:08] kierachell commented on #2339
### You might need to set EFOLDER endpoint based on `deploy_env` vs `rails_env`

In UAT right now:
[code]

[2017-08-01 12:10] kierachell commented on #2684
The functionality of writing stuff to VACOLS is there, but:
Based on discussion with @cmgiven true integration of this will have to be tested with the other 3 remaining sibling(?) tickets, because these writes will trigger further changes in VACOLS.

[2017-08-01 12:19] gnakm commented on #2497
lgtm!

[2017-08-01 13:20] #2497 closed

[2017-08-01 13:52] mogrenAtWork commented on #2339
@mdbenjam can you help with this? I don't think I have access to the vault where these variables are stored so I don't know which to use

[2017-08-01 13:54] mogrenAtWork commented on #2340
Relates to the issues in #2339

[2017-08-01 14:14] mdbenjam commented on #2339
Gah I have the wrong variable setup in the uat vars. Give me ten minutes.

[2017-08-01 15:07] shellicious commented on #2739
Good catch @nemodjuric! That sentence should be: "Great! Caseflow will update the representative type and name information for the selective service organization in VACOLS." Adding this copy change to the AC.

[2017-08-01 15:36] gnakm opened #2792 "Document Viewer | Error message when claims folder detail fails"
## Story
There are 2 different types of error/ latency feedback we should show when there is a delay retrieving the claims folder detail.

## AC

- [ ] Add a horizontal like between receipt date and VACOLS information.
- [ ] Show the following errors for each situation:

1.  **Scenario 1 -** Currently, it is faster to retrieve the API for documents list than the VACOLs claims detail information. W

[2017-08-01 15:58] nolawi commented on #2744
might have to take this out of the react-router
https://github.com/ReactTraining/react-router/issues/3956 location.key is not preserved as of v4 react router

 working on another solution.

[2017-08-01 16:26] lakohl commented on #2216
@shellicious @amprokop working on styling of the Veteran Name and ID across our apps. It seems that in Certification it currently appears Last Name, First Name, Middle Initial. Is this your desired order? Have you received any user feedback about how they prefer the name displayed e.g. FirstName Last Name or  LastName, First Name ?

[2017-08-01 16:43] shellicious commented on #2216
@lakohl woo, glad you are taking this on! I haven't received user feedback about Veteran Name (or the username in the upper right corner). I'm down with whatever helps us be consistent across apps.

[2017-08-01 17:07] amprokop opened #2794 "Make the asynchronous certification loader a reusable component"
Make the https://github.com/department-of-veterans-affairs/caseflow/pull/2772 loader reusable across applications.

## Dev AC
A reusable component called `AsynchronousDataLoader` can:
- Poll an endpoint provided via prop at an interval provided via prop
- Show a spinner with color and a message provided via prop
- Change the message to a different one if the spinner has been up for >X seconds if o

[2017-08-01 17:25] gnakm opened #2795 "Style guide | Small loader"
## Description
As a designers and developer, I want to know what a small loading indicator ought to look and function across Caseflow applications.

## AC
- [ ] Add a section titled "Small Loader" between Loader and Loader buttons
- [ ] Loading default message on style guide should say **_Loading..._** in font-weight 700, italicized and in 1.9 rem.
- [ ] Use spinner from Loader button and change s

[2017-08-01 17:39] NickHeiner commented on #2794
This looks like it could be useful to me. The two suggestions I'd have for changes to the above spec are:

First off, instead of an endpoint to poll, allow the parent to pass a promise. I think that this will make it easier to share this component across apps, because then each app can define for itself what it's waiting for. For instance, Reader does not poll an endpoint; it simply makes a single

[2017-08-01 17:43] amprokop commented on #2794
@NickHeiner — good points to note.

[2017-08-01 17:50] kierachell commented on #2734
**PASSED**

master build passed, I'm sure we will know within minutes if it's actually fixed.
![Uploading Screen Shot 2017-08-01 at 1.49.35 PM.png…]()

[2017-08-01 17:50] #2734 closed

[2017-08-01 18:18] mdbenjam commented on #2794
This definitely seems useful. We might be moving to polling in Reader so the extended wait time message is great.

[2017-08-01 19:40] gnakm opened #2799 "Document List | Fixed spacing for filtered message"
## Description
Currently, the filtered and search message is not fixed and is pushing down the document list, which looks weird and feels jarring.

https://files.slack.com/files-pri/T03FECE8V-F6GN8PN4C/bouncy_house.gif

## AC
- [ ] Make sure that the documents list is fixed and stays in the same place whether there is or isn't a filtered message.
- [ ] Make sure that there are 20px space between s

[2017-08-01 19:59] sharonwarner commented on #2137
@lakohl do you know what the document type is in vbms for the original claim?

[2017-08-01 20:23] kierachell commented on #2593
**PASSED**

I need a quick win today pls... :headhurts:
<img width="536" alt="screen shot 2017-08-01 at 4 22 30 pm" src="https://user-images.githubusercontent.com/18075411/28845337-acb0f3a6-76d5-11e7-85b7-87b758df2a19.png">

[2017-08-01 20:23] #2593 closed

[2017-08-01 20:58] kierachell opened #2801 "Document List | Text selection in the table rolls over to another comment"
# Description
When selecting text in the Issues column,
for some reason the selection spills over into the header of the other columns...
kinda weird.

## Reproduction Steps

**Scenario 1 -**

1. Go to Document List
1. Double click Docket Number or some other field
1. See selection spill over to another column
1. Be forced to reselect the text.
1. Be sad.

**Validated in the following Environment(

[2017-08-01 21:10] tejans24 opened #2802 "Change docket number mapper in AppealRepository"
Folder record mapper is currently incorrect for docket number, it needs to be changed to tinum.

[2017-08-01 21:34] kierachell commented on #2802
**PASSED**
[code]

and
 in vacols:
[code]

[2017-08-01 21:34] #2802 closed

[2017-08-01 21:41] kierachell commented on #1998
K, the reason I was asking is that Hearings Prep shows both

[2017-08-01 21:42] kierachell commented on #1998
**PASSED**
last little bit fixed by
https://github.com/department-of-veterans-affairs/caseflow/pull/2803

[2017-08-01 21:42] #1998 closed

[2017-08-01 22:51] wturne commented on #2552
@nikitarockz, FAQs have been updated and saved to PDF. They are stored in the Training Repo as Reader FAQs_Aug2017.

[2017-08-02 00:24] mogrenAtWork commented on #2339
Blocked by https://github.com/department-of-veterans-affairs/appeals-deployment/issues/732

[2017-08-02 00:25] mogrenAtWork commented on #2338
Blocked by https://github.com/department-of-veterans-affairs/appeals-deployment/issues/732

[2017-08-02 00:38] kierachell opened #2804 "Case Assignments | Previously created Appeals "reinserted" on CaseAssignments load?"
# Description
When going to Case Assignments page (aka Welcome Gate) it seems like Appeals already in our DB are "reinserted" in certain cases

Potentially related to https://github.com/department-of-veterans-affairs/caseflow/issues/2769

## Reproduction Steps

**Scenario 1 -**

1. Go to `/reader/appeal` aka Welcome Gate aka Case Assignments
1. Observe you get "Welcome gate cannot be loaded" page

[2017-08-02 00:38] kierachell commented on #2774
related? https://github.com/department-of-veterans-affairs/caseflow/issues/2804

[2017-08-02 01:52] nolawi commented on #2744
@joofsh fyi https://github.com/ReactTraining/react-router/blob/master/packages/react-router-dom/docs/guides/scroll-restoration.md

I don't know how we would attach it to `history` if we needed to with react router.

[2017-08-02 02:00] Sjones352 commented on #2216
@lakohl Currently Certification V2 is looking like this.

<img width="1232" alt="screen shot 2017-08-01 at 9 57 09 pm" src="https://user-images.githubusercontent.com/23080951/28854316-7009acc0-7704-11e7-90a6-bc5df4ad723f.png">

[2017-08-02 13:35] kierachell opened #2807 "Document View | PDF Header looks a bit weird in IE"
# Description
When, someday, we support IE, might wanna fix that:
- Zoom `+` and `-` don't show up
- Back to documents button has a weird box next to it
- Document is truncated on the whole page so there's never a chance to see the whole string

## Reproduction Steps

**Scenario 1 -**

1. Go to Reader using IE
1. If it doesn't crash, open a document view
1. Try to zoom
1. Be sad.
1. Try to find Do

[2017-08-02 13:36] nolawi commented on #2770
waiting till another pr gets merged.

[2017-08-02 13:40] kierachell commented on #2769
This is fucking up reader too :( ? https://github.com/department-of-veterans-affairs/caseflow/issues/2804

[2017-08-02 13:48] mogrenAtWork commented on #2340
This broke because a cert needed to be set in both environments to allow them to send requests/responses over HTTPS. This was completed with https://github.com/department-of-veterans-affairs/appeals-deployment/pull/730

Now I need to add the appropriate SSL settings to the HTTPI request in EfolderService

[2017-08-02 13:54] kierachell opened #2808 "eFolder Integration | HTTPI not communicating between Caseflow <-> eFolder"
# Description
This is to enable the last bit of Caseflow <-> eFolder connection

- Currently Caseflow is required to use revproxy to talk to eFolder: https://github.com/department-of-veterans-affairs/appeals-deployment/issues/732 so it would be nice to fix that in addition to the following
- HTTPI is not using the right SSL format:
![image 1](https://user-images.githubusercontent.com/18075411/2887

[2017-08-02 13:55] kierachell commented on #2339
This technically works and will be revalidated using https://github.com/department-of-veterans-affairs/caseflow/issues/2808

[2017-08-02 13:57] kierachell commented on #2339
**PASSED**
Will be revalidated using: https://github.com/department-of-veterans-affairs/caseflow/issues/2808

[2017-08-02 13:57] #2339 closed

[2017-08-02 14:14] astewarttistatech commented on #2498
**PASSED**

Env: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Reader
2. Validate the count viewed to the Document List view is right aligned to the accordion menu and is visible

Screenshots:
<img width="1174" alt="screen shot 2017-08-02 at 10 09 36 am" src="https://user-images.githubusercontent.com/23038505/28877767-5e358430-776b-11e7-9e10-9c508a0f1923.png">

[2017-08-02 14:14] #2498 closed

[2017-08-02 14:25] abbyraskinUSDS opened #2810 "Google Analytics | Add event tracking for new UI elements"
**Context**
Currently, we aren't tracking some UI elements that will help us understand how people use Reader during the beta (and beyond).

## Elements to track
**Claims folder page**

[2017-08-02 14:45] astewarttistatech commented on #1044
Adding the correct SIC for the scenario based on SIC Tiers.

[2017-08-02 15:15] kierachell opened #2812 "Hearing Worksheet | URL contains VBMS ID"
## Description
URL CONTAINS PII
<img width="541" alt="screen shot 2017-08-02 at 10 51 34 am" src="https://user-images.githubusercontent.com/18075411/28880640-ae08f7a0-7773-11e7-9ced-0b86f0ca5ece.png">

## Less lazy AC
- Change id in the url to be the Caseflow DB's hearing's id (the worksheet's id)

[2017-08-02 15:27] astewarttistatech commented on #1044
**PASSED**

Env: UAT
Browser: FF and Chrome

Steps to Validate:
1. Access Dispatch as a caseworker
2. Try to establish an EP with a full grant and a 3rd tier SIC (reference: https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Projects/Dispatch/Routing%20EPs/Special%20Issue%20Tiers.md)
3. Validate that on the Route Claim: email page that the text field is an approp

[2017-08-02 15:27] #1044 closed

[2017-08-02 15:27] #2625 closed

[2017-08-02 15:30] joofsh opened #2813 "Daily Docket | Integrate Daily Docket frontend hearing save with backend"
Using the new saving component, connect the save triggers to an API request to the backend. This ticket ties together the frontend & backend for the Daily Docket page

#### Acceptance Criteria
- The relevant saving mechanism described [here](https://github.com/department-of-veterans-affairs/caseflow/issues/2475) triggers an API request to `PUT /hearings/:hearing_id`
- All hearing fields displayed

[2017-08-02 15:32] astewarttistatech opened #2814 "Dispatch | Caseworker | Missing "Required" text in Email Route Claim"
**Description**

Currently, when in Dispatch as a caseworker and have a special issue category selected, routing the claim is missing the "Required" red text that accompanies the checkbox at the bottom of the modal.

**Expected:** There is a "Required" text there in red.

**Reference Mocks:**
**_Scenario 1 - Route Claim - Send Email - Correct size/position - Added Requirement text_**

![image](htt

[2017-08-02 15:42] joofsh opened #2815 "[Backend/Frontend] Hearing Worksheet | Save rep name, witness, contentions, periods, evidence, comments"
#### Acceptance Criteria
- Witness, contentions, periods, evidence, comments should save to our database every 30 seconds or when the user exits the page
- Rep name should save to vacols every 30 seconds or when the user exits the page

[2017-08-02 15:50] sharonwarner opened #2816 "Flaky Javascript test"
![image](https://user-images.githubusercontent.com/4306128/28882226-a1e0f662-7778-11e7-93f2-038abaa20f93.png)

[2017-08-02 15:58] astewarttistatech commented on #2739
**PASSED**

Env: UAT
Browser: FF and Chrome

Steps to Recreate:
1. Access Certification V2 with an appeal that is ready to be certified
2. Go through the scenarios in the AC
3. Validate the copy on the pages, matches what is in the AC and mocks.

Screenshots:
![confirmdeets1](https://user-images.githubusercontent.com/23038505/28882666-eb967632-7779-11e7-9b03-a473ef132f5c.png)
![confirmdeets2](http

[2017-08-02 15:58] #2739 closed

[2017-08-02 15:58] joofsh commented on #2769
To validate:
- Create new appeal without a vbms_id
- Call `appeal.vbms_id`
- Verify it returns a vbms_id & saves it to the database

[2017-08-02 16:19] astewarttistatech commented on #2761
**PASSED**

Env: UAT
Browser: Chrome

Steps to Validate:
1. Access Reader
2. Go through the scenarios listed in the AC
3. In console, verify that these events are indeed firing.

Screenshots:
<img width="1254" alt="screen shot 2017-08-02 at 12 13 26 pm" src="https://user-images.githubusercontent.com/23038505/28883528-cd5c05c6-777c-11e7-950d-b1dbd523fe35.png">
<img width="1254" alt="screen shot 201

[2017-08-02 16:19] #2761 closed

[2017-08-02 16:24] astewarttistatech commented on #2216
**PASSED**

Env: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access eFolder
2. Search an appropriate file number
3. On the results page, verify the new Veteran name and ID implementation
4. Access Certification V2
3. Verify the new Veteran name and ID implementation

Screenshots:
<img width="1256" alt="screen shot 2017-08-02 at 12 21 26 pm" src="https://user-images.githubusercontent.com/230

[2017-08-02 16:24] #2216 closed

[2017-08-02 16:52] kierachell commented on #2725
- When are they in memory?
- What attributes?
- When are they loaded from VACOLS?
- Are they lazy loaded or together?
- Does Status API load them?
- Does loading an Appeal load them?
- Is there a curl/http call to make to trigger that with certain parameters?

[2017-08-02 16:58] aroltsch commented on #2725
I am going to close this as this ticket will be validated with other tickets.

[2017-08-02 16:58] #2725 closed

[2017-08-02 17:02] gnakm opened #2817 "Document list | Jump to section page numbers are not in order"
## Description
When looking at the expanded comment view you should see jump to comment links in page order. Currently the order seems random. See how the comment on page 20 comes before the comment on page 1.

![screen shot 2017-08-23 at 6 20 08 pm](https://user-images.githubusercontent.com/3885236/29641109-04bd97f0-8830-11e7-9979-48904289b102.png)

## AC
- [ ] Verify that the pages in jump to se

[2017-08-02 17:10] kierachell commented on #2684
### So updating a hearing doesn't validate any inputs data:

and just tries to write no matter what
[code]

[2017-08-02 17:18] gnakm opened #2819 "Document list | Text alignment adjustment"
## Description
Right now the Jump to section link and page are top-aligned with the comment box. This cosmetic change to make the texts align will make our application look less buggy :)

## AC
- [ ] Verify that Page number and jump to document link are aligned with the first line of text in the comment section (see mockup).

## Mockups
![image](https://user-images.githubusercontent.com/13420618/2

[2017-08-02 17:20] kierachell commented on #2769
**PASSED**

## Start with
[code]

## Attempt:
[code]

## Saw VACOLS selects

## End with:
[code]

[2017-08-02 17:20] #2769 closed

[2017-08-02 17:24] gnakm opened #2820 "Landing page | Table alignment"
## Description
Right now the text and button aligned in a row are not aligned and it's hard to follow when reading across.

## AC
- [ ] Verify that all text and button are aligned at the top.

## Mockup
![image](https://user-images.githubusercontent.com/13420618/28885956-b4397a7a-7785-11e7-8c5e-74bb3df924a6.png)

[2017-08-02 18:03] joofsh opened #2821 "[Wednesday 8/9 ~10:40am] Should we manage our own permissions?"
@kierachell @nikitarockz and I had a conversation today about the future of Caseflow permissions.

## Background

Currently, users of Caseflow have to go through CSEM to gain "functions".

## Current CSEM Process
1.  We need to request that the new "Function" and/or "Role" be added to CSEM.  This allows for the CSEM user to select the options from a drop down.

2.  Supervisors at each RO with user

[2017-08-02 19:52] evankroske commented on #2821
@joofsh , we might be able to avoid creating the background job by stripping the "System Admin" role when someone tries to use it after 90 days of inactivity

[2017-08-02 20:24] amprokop opened #2823 "Create separate readme for Reader"
## AC
- description of the problem/product
- ways to test/enter reader
- link to it from the main readme

[2017-08-02 20:27] amprokop opened #2824 "Create separate readme for Hearings Prep"
## AC
- description of the problem/product
- ways to test/enter hearings prep
- link to it from the main readme

[2017-08-02 20:27] amprokop opened #2825 "Break out certification into separate readme and add summary of Caseflow overall"
## AC
- description of the problem/product
- ways to test/enter certification
- link to it from the main readme

[2017-08-02 20:32] mdbenjam opened #2826 "Refactor | Pdf.jsx"
The monstrosity that is PDF.jsx is due for a good ole fashion refactor. I don't want to be too prescriptive, but some thoughts:

# AC
- [ ] Verify there is a new CommentLayer component that is in charge of drawing comments and receiving clicks for placing new annotations.
- [ ] Verify there is a new PdfPage component that is in charge drawing the div/canvas that are used by PDFJS to place the imag

[2017-08-02 20:34] amprokop opened #2827 "Break out dispatch into separate readme"
## AC
- description of the problem/product
- ways to test/enter dispatch
- link to it from the main readme

[2017-08-02 20:36] mdbenjam opened #2828 "Refactor | PdfSidebar.jsx"
PdfSidebar.jsx isn't too big, but it would still be nice to make it more succinct.

Move each accordion into its own component in its own file.

# AC
- [ ] Verify each accordion is defined as its own component in its own file.

[2017-08-02 20:41] mdbenjam opened #2829 "Refactor | Reducer"
We have one giant global reducer. We should split this up into several smaller reducers.

# AC
- [ ] Verify the reducers is split into many logical sub-reducers.

# QA AC
- [x] Verify Reader works as expected.

[2017-08-02 20:43] mdbenjam opened #2830 "Refactor | Actions"
We have one giant actions file. We should split these up into separate action files that correspond to the reducer files. See https://github.com/department-of-veterans-affairs/caseflow/issues/2829

# AC
- [x] Verify actions are split into multiple logical files.
- [x] Verify these action files correspond to the reducer files in #2829

# AC for QA
- [x] Verify everything in Reader works the way it'

[2017-08-02 20:54] mdbenjam opened #2831 "Dev Environment | Figure out how to dev with multiple services"
Now that we have Caseflow calling eFolder, how can we make this dev experience easier?

Thoughts:
1. Have a flag to connect to demo
1. Use docker or VMs

[2017-08-02 22:08] joofsh commented on #2821
Good catch @evankroske ! That sounds like a better way to do it. Will update the description

[2017-08-02 22:38] lakohl commented on #1273
low priority. closing

[2017-08-02 22:38] #1273 closed

[2017-08-02 23:08] lakohl commented on #1418
@mmlumba @shanear is this still an issue, or can we close this?

[2017-08-02 23:09] lakohl commented on #2038
Cases remaining should not be allowed to be negative. @kierachell is this still happening?

[2017-08-02 23:13] lakohl commented on #2039
This is no longer happening as far as I can tell @kierachell can you verify?

[2017-08-02 23:15] kierachell commented on #2821
I am 1000% for this
Caseflow:
 - deprecates old VA systems
 - runs on Sidekiq

[2017-08-02 23:17] kierachell commented on #2038
Can probably close this, it's 2 months old so who knows...

Here's a more current issue:
https://github.com/department-of-veterans-affairs/caseflow/issues/2719

[2017-08-02 23:18] lakohl commented on #1546
@kierachell I think we can close this as the table has been reworked. Can you confirm that this is no longer a problem?

[2017-08-02 23:19] lakohl commented on #407
url was created. Closing

[2017-08-02 23:19] #407 closed

[2017-08-02 23:20] lakohl commented on #1937
@cmgiven is this history info covered in your monthly AMO report?

[2017-08-02 23:26] kierachell commented on #2808
### Working so far!
[code]

[2017-08-02 23:47] lakohl commented on #2038
closing

[2017-08-02 23:47] #2038 closed

[2017-08-02 23:58] kierachell commented on #2808
### 60+ second timeouts: related to https://github.com/department-of-veterans-affairs/caseflow/pull/2834
- If I go more than 500 documents: the time out is 60s:
[code]
VMBS_ID: 500501028
Document count: 525

- Note that if new API ever comes along (DocumentSeriesBlah) then the requests will become EVEN LONGER... so.... yeah...
- However, Retrieve job might mitigate that
- Still... 60s is not gonna

[2017-08-03 00:11] kierachell commented on #2340
**PASSED**

Remaining integration issues captured in https://github.com/department-of-veterans-affairs/caseflow/issues/2808

[2017-08-03 00:11] #2340 closed

[2017-08-03 00:16] #1546 closed

[2017-08-03 00:16] #2039 closed

[2017-08-03 03:10] mdbenjam commented on #2808
# 60 second timeout
I'll look into it more. Maybe there is something that's taking too long on the eFolder side. Since I don't think the API takes that long. Even VBMS hasn't been THAT slow for Reader.

# Document ID comes back as nil?
This document id is the id of the local record. It doesn't have one yet because when you call it through `fetch_documents_for` it's calling `new` without a `save`.

[2017-08-03 03:22] mogrenAtWork commented on #2808
Re: Document ID comes back as nil?
I don't think any changes here are necessary. Document IDs are returned by the reader/documents endpoint.

Re: Document endpoint
This is because the [`content_url`](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/document.rb#L180) of the document isn't loading the [`efolder_id`](https://github.com/department-of-veterans-affairs/c

[2017-08-03 03:52] mogrenAtWork commented on #2338
This will need to be refactored once efolder is enabled. I'll need to provide the user on the query to efolder now as well and disable document fetching since efolder will handle that automatically.

[2017-08-03 03:54] mogrenAtWork commented on #2338
It also is failing because it's picking up Appeals without VBMS IDs set. I don't know if that's a problem with this job or a problem with our prod data.

[2017-08-03 10:29] kierachell commented on #2338
So I double checked and the job is definitely generating Appeals without VBMS IDs when it looks up case assignments.

- I updated all Appeals to have VBMS ID in our database about 1 min before the job ran for 2 days in a row
- The job still exploded with missing VBMS ID.
- Check how you are creating the Appeals models. @joofsh made it so that calling `vbms_id` method will pull the BFCORLID from VA

[2017-08-03 11:16] mogrenAtWork commented on #2338
Thanks @kierachell!

[2017-08-03 11:37] kierachell commented on #2808
## Retrieve Job not passing User.css_id whe eFolder service is enabled?
[code]

causes:
[code]

[2017-08-03 11:39] mogrenAtWork commented on #2808
Fixing the batch job issue with #2338

[2017-08-03 12:23] kierachell commented on #2338
yeah,sorry I was looking at the older code. :(

[2017-08-03 12:49] aroltsch commented on #2684
@cmgiven I am going to add validation to hold_open. What is the biggest integer we would allow?

[2017-08-03 12:50] nolawi commented on #2736
@kierachell how does one get a claim from an RO70. ?

[2017-08-03 12:58] cmgiven commented on #2684
90.

[2017-08-03 13:10] astewarttistatech commented on #2723
**PASSED**

Env: UAT
Browsers: FF and Chrome

Steps to Validate:
Scenario #1:
1. Access Dispatch as a caseworker
2. Using a full grant, select a third teir SIC
3. Navigate to the Route Claim: Email page
4. Validate the page, appears where appropriate in the expected path

Screenshots:
![emaildispatch](https://user-images.githubusercontent.com/23038505/28923297-866e795a-782b-11e7-8ede-f2750f6f00c2.

[2017-08-03 13:10] #2723 closed

[2017-08-03 13:25] astewarttistatech commented on #2496
**PASSED**

Env: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Reader
2. Toggle comments on
3. Filter by Issue tags and Categories
4. Verify that the sentence reflects what has been filtered.

Screenshots:
![newfilterf](https://user-images.githubusercontent.com/23038505/28923910-adbed34a-782d-11e7-80ec-5abbec694bb2.gif)

[2017-08-03 13:25] #2496 closed

[2017-08-03 13:32] astewarttistatech commented on #2666
**PASSED**

Env: UAT
Browser: FF and Chrome

Steps to Validate:
1. Access Certification V2 with a VBMS ID that is ready to certify
2. Verify that the spinner is present
3. If VBMS is taking too long, verify that the Technical Difficulties page is displayed

Screenshots:
![certification spinner](https://user-images.githubusercontent.com/23038505/28924139-aa01e0ca-782e-11e7-88c3-c944cb8c9952.gif)

[2017-08-03 13:32] #2666 closed

[2017-08-03 13:42] astewarttistatech commented on #2137
**PASSED**

Env: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Reader
2. In the Categories dropdown, verify that "Case Summary" is present
3. Verify that the document list is filtered when "Case Summary" is selected

Screenshots:
<img width="1202" alt="screen shot 2017-08-03 at 9 41 26 am" src="https://user-images.githubusercontent.com/23038505/28924532-1e3d4190-7830-11e7-83ce-4b917e9a

[2017-08-03 13:42] #2137 closed

[2017-08-03 14:00] astewarttistatech commented on #2748
**PASSED**

Env: UAT
Browser: FF and Chrome

Steps to Validate:
1. Access Hearings
2. Select a docket
3. Navigate to the hearing worksheet
4. Verify at the bottom of the page there is a button, right-aligned that says 'Review eFolder'

Screenshots:
<img width="1255" alt="screen shot 2017-08-03 at 9 58 26 am" src="https://user-images.githubusercontent.com/23038505/28925334-976c98de-7832-11e7-8caa-9

[2017-08-03 14:00] #2748 closed

[2017-08-03 14:09] sharonwarner opened #2838 "[Frontend] Hearing Worksheet : Persist Issues Information to redux re-open, vha"
Hook up part of the editable fields in the Issues section on the hearing worksheet page to the Redux store

Acceptance Criteria:

- Ensure  `re-open`, and `vha` in the Issues section are initially saved to redux store on pageload.
- On user input change, update the redux store accordingly
- The fields should be saved within an appeal in the 'streams' object. The appeal number can be hardcoded.

No

[2017-08-03 14:12] sharonwarner opened #2839 "[Frontend] Hearing Worksheet : Persist textbox input to redux"
Hook up the editable fields in the Issues section on the hearing worksheet page to the Redux store

Acceptance Criteria:
- On page load, copy initial worksheet object to the `worksheet` key in Redux
- Ensure the input in the textboxes at the bottom of the page (Contentions, Periods and circumstances of service, Evidence, Comments and special instructions to attorneys) are initially saved to redux

[2017-08-03 14:23] NickHeiner commented on #2821
Well, we're not talking about a viable way to deprecate a VA system now. We're talking about adding yet another permissions management system at the VA. Caseflow is not going to expand to replace all of CSEM.

I am interested in hearing from people who have had to deal with CSEM, to get a sense of how much of a pain this is. Managing permissions on our own certainly seems like it could be a good i

[2017-08-03 14:28] kierachell commented on #2690
Is this a stored procedure? What method would cause this chain of updates?
- Looking in the PR
<img width="812" alt="screen shot 2017-08-03 at 10 28 16 am" src="https://user-images.githubusercontent.com/18075411/28926681-80b7e05e-7836-11e7-8404-badf1453c51d.png">
- Not seeing any testing directions or AC there either
- What do?

[2017-08-03 14:31] kierachell commented on #2693
- When does this happen?
- Is there a method to call to cause this chain of events?
- Are the values read at any point?
- Looking in the PR for AC or Testing recommendations:
<img width="904" alt="screen shot 2017-08-03 at 10 30 11 am" src="https://user-images.githubusercontent.com/18075411/28926782-d561235e-7836-11e7-973e-550d968576e1.png">
- Nothing

[2017-08-03 14:32] shanear commented on #2458
donesies

[2017-08-03 14:32] #2458 closed

[2017-08-03 14:42] aroltsch commented on #2693
@kierachell
Steps to Validate:
1. Start `rails c` and ensure you are connected to Vacols dev env
2. Find a hearing in the hearings table (make sure it exists in Vacols)
`h = Hearing.find(id)`
3. Update the disposition on the hearing object:
[code]
4. BRIEFF.BFHA associated with that hearing should be updated in accordance with the AC above

[2017-08-03 14:48] sharonwarner commented on #2218
Spoke with @kierachell , just one thing needs to be fixed still.

The box highlighting is inconsistent. Some boxes are highlighted on all 4 sides while others are just 1, 2, or 3 sides. We need to have all sides highlighted.

[2017-08-03 14:52] aroltsch commented on #2690
@kierachell
Steps to Validate:

1. Start `rails c`` and ensure you are connected to Vacols dev env
2. Find a hearing in the hearings table (make sure it exists in Vacols)
`h = Hearing.find(id)`
3 Update any field on the hearing object which will trigger an update on the HEARSHED table. For example,
h.update(disposition: :held)
h.update(hold_open: 30)
h.update(aod: :granted)
h.update(notes: "test")

[2017-08-03 14:53] abbyraskinUSDS opened #2840 "Investigate: "pending scanning" alert"
Currently, VBMS alerts users (via a banner) when an eFolder has documents that are pending scanning.

- Because Reader does not currently inform users if documents are pending scanning, they're still reliant on VBMS for this information
- We should explore the technical feasibility of a scanning banner alert - is this something we get from the VBMS api?

Context from @nicholasholtz:

[2017-08-03 14:55] kierachell commented on #2218
Double checked the highlighting this morning:
<img width="1236" alt="screen shot 2017-08-03 at 10 54 57 am" src="https://user-images.githubusercontent.com/18075411/28928065-43d12336-783a-11e7-8926-7b4eb37de86f.png">
<img width="339" alt="screen shot 2017-08-03 at 10 55 03 am" src="https://user-images.githubusercontent.com/18075411/28928064-43cf3580-783a-11e7-9940-a6c638a02d07.png">

[2017-08-03 15:34] mmlumba commented on #1418
When I was still working on this @shanear mentioned this is an extreme edge case. I think we can close this.

[2017-08-03 15:34] mmlumba commented on #2156
@gnakm What are the buttons supposed to look like if disabled?

[2017-08-03 15:57] nickheiner-usds commented on #2458
IT SURE IS

![image](https://user-images.githubusercontent.com/25331532/28931071-e7e4a648-7842-11e7-8089-3d53b25698b8.png)

[2017-08-03 15:58] gnakm commented on #2156
Just take them out @mmlumba

[2017-08-03 16:40] cmgiven commented on #1937
I send AMO a monthly report of cases in the frontend seam. I don't presently generate any other reports for AMO.

This would be fairly straightforward to make a script for, but it sounds like the kind of thing they want to check routinely?

[2017-08-03 17:26] #1418 closed

[2017-08-03 17:39] kierachell opened #2844 "Hearing Prep | Allow users with `Hearing Prep` role to access `/hearings/dockets`"
# Description
As a user with `Hearing Prep` role I want to be able to access hearings...
I can't :)

## Reproduction Steps

**Scenario 1 -**

1. Take a user with `Hearing Prep` role assigned by css
1. Got to `/hearings/dockets`
1. Get Unauthorized
1. Be sad

**Validated in the following Environment(s)**
- [ ] Dev
- [X] UAT
- [X] Preprod
- [ ] Prod

## Logs:

[code]
nuff said

[2017-08-03 18:01] kierachell commented on #2821
### Current Pains:
- All of our users got `System Admin` in role for no reason whatsoever
- Many times "relevant" ISO do not know what Caseflow is or what the form means or what functions/roles/permissions are
- A simple signature takes weeks because ISO needs to feel important
- Nobody on this team can see our application in Production

### Solution:
- ISO still get to grant user-app access and f

[2017-08-03 18:05] aroltsch commented on #2684
Validation:
1. notes get cut off at length of 100
2. disposition allowed values: :held, :cancelled, :postponed, :no_show, nil
3. aod allowed values: :granted, :filed, :none, nil
4. hold_open must be an integer between 0 and 90 or nil
5. transcript_requested allowed values: false, true, nil

[2017-08-03 18:15] joofsh commented on #2629
@astewarttistatech can you take a look at this again? It appears to be resolved

[2017-08-03 18:16] joofsh commented on #2627
As @slj mentioned, this is being changed so that we no longer need to set a user's vacols_id. Will close

[2017-08-03 18:16] #2627 closed

[2017-08-03 18:40] NickHeiner opened #2847 "Analytics: Add user id"
If we provide GA with a user id, then it can provide [more accurate results](https://support.google.com/analytics/answer/3123663). It will also allow us to combine data we see in GA with data in our own database to get deeper insights into user behavior.

## Acceptance Criteria
See that the `uid` field of the Google Analytics request is set to the current user's ID:

![image](https://user-images.g

[2017-08-03 18:58] joofsh opened #2849 "Daily Docket | [Frontend] Add reference to currently edited hearing in Redux"
Within the redux store, we want to keep a reference to the currently edited hearing so that we can determine if it has been updated since last save.

#### Acceptance Criteria
- Create a new redux store key `currentlyLiveHearing`
- When rendering the Daily Docket, the "currently live hearing" should reference the `currentlyLiveHearing` redux state to render it's values. That is, do not reference th

[2017-08-03 18:58] joofsh commented on #2849
Todo: Sharon will write tech spec to ensure we get this right

[2017-08-03 19:03] mdbenjam commented on #2156
@gnakm I think that moving between pages should just take you out of annotation writing mode. That way it is consistent with our behavior for placing annotations. Also, we need to leave annotation placing mode if we hit the back to all documents button.

[2017-08-03 19:20] joofsh opened #2851 "Hearing Worksheet | [Frontend] Implement appeal streams"
Update currently hardcoded appeals stream info to reference the `appeals` array returned within each hearing object.

#### Acceptance Criteria
- On the hearing worksheet, all "active appeals" (returned within the hearing object) have their document information rendered
- On the hearing worksheet, all "active appeals" (returned within the hearing object) have their issues information rendered

Note

[2017-08-03 21:32] nolawi commented on #2736
[bfregoff: "DSUSER",](https://github.com/department-of-veterans-affairs/caseflow/blob/edc20c71b877a95739efe28d6df8b8ad4c86c1c4/spec/services/appeals_repository_spec.rb#L44)

 [station-codes](https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Projects/Dispatch/Routing%20EPs/Station%20Codes.csv)

[2017-08-04 02:13] askldjd commented on #2821
I see both side of the argument. The current ISO process is ridiculous, but at the same time, we can not replace CSEM. If we do, we are yet another lonewolf VA system in 10 years. For security purposes, I think authority of grant/revoke Caseflow should reside in VA AD.

However, I think @kierachell's hybrid solution is a good compromise for both world.

- CSEM controls who gets "Caseflow" access.

[2017-08-04 13:26] kierachell commented on #2629
**PASSED**
<img width="606" alt="screen shot 2017-08-04 at 9 25 20 am" src="https://user-images.githubusercontent.com/18075411/28970534-e4dae552-78f6-11e7-85af-85aa07c16eec.png">
<img width="921" alt="screen shot 2017-08-04 at 9 25 34 am" src="https://user-images.githubusercontent.com/18075411/28970535-e4de5e6c-78f6-11e7-89f5-364a7c622334.png">

[2017-08-04 13:26] #2629 closed

[2017-08-04 13:40] nikitarockz commented on #2821
I have just update the description above and added what the PM team is currently doing.

I don't necessarily agree with the second Con. Now that I have established a relationship with the team that implements this, it really doesn't take that long.  We give them a date when to have it done, and it gets done.  They actually can do it within minutes; however, lets just say about 2 days.  The only ho

[2017-08-04 13:52] gnakm commented on #2156
@mdbenjam I see what you were saying. That makes more sense to me.

Changing the AC from
-  When you enter “placing annotation” mode, next and previous buttons should be disabled (not on the page) until annotation is either saved or cancelled.

to

- When a user is in annotation mode and switches to another document, document should be automatically taken out of annotation mode.

[2017-08-04 14:46] #2821 closed

[2017-08-04 15:16] nemodjuric commented on #2688
FeatureToggle.enable!(:certification_v2, regional_offices: ["RO13","RO01","RO07","RO08","RO15","RO73","RO06","RO09","RO10","RO11","RO04","RO14","RO02","RO05","RO18"])
=> true

[2017-08-04 15:16] #2688 closed

[2017-08-04 15:18] kierachell commented on #2690
### Wrong disposition has beautiful error 👍
[code]

### Update to nil? is OK?
[code]

### Should MDUSER be updatable without `current_user`?

Right now MDUSER is updated _once_ and just set to SLOGID from STAFF (not from what is in Caseflow)

### Should MDTIME and MDUSER update on _every_ model update?

- Call `h.update` once: MDUSER is set to SLOGID from STAFF (not current user) and MDTIME is upd

[2017-08-04 15:41] amprokop opened #2856 "What tech improvements should we prioritize?"
The Foxtrot team has some bandwidth in the coming sprints and we'll be tackling some tech improvement issues overall. We need input from all the teams. Please add ideas for tech improvements to this issue. If your idea is already in the Tech Improvements column, you don't have to add it here, we'll be taking a pass through that column (but if you think it's really important, feel free to mention h

[2017-08-04 15:46] joofsh opened #2857 "[Frontend/Backend] Hearing Worksheet | Connect page to real data from backend Part 1"
Prerequisite backend tickets:

https://github.com/department-of-veterans-affairs/caseflow/issues/2953
https://github.com/department-of-veterans-affairs/caseflow/issues/2954
https://github.com/department-of-veterans-affairs/caseflow/issues/2955

Populate the hearing worksheet page redux store with real data from the backend

### Acceptance Criteria
- Update the `Hearings::WorksheetsController` `hea

[2017-08-04 15:48] joofsh commented on #2218
@kierachell I've updated the AC to be more clear. The data being hardcoded is okay for the sake of this ticket

[2017-08-04 16:22] kierachell commented on #2693
### Can disposition be nullable?
[code]
returns TRUE,
sets DISP and BFHA to `NULL`

[code]

[2017-08-04 16:37] kierachell commented on #2684
### What about `false` for hold open?
[code]

:trollface:

[2017-08-04 17:36] #2505 closed

[2017-08-04 17:49] NickHeiner opened #2858 "Reader Redux is showing up everywhere"
If you open the Redux Dev Tools on any Caseflow React page, you'll see Reader's redux state:

![image](https://user-images.githubusercontent.com/829827/28980268-328b8e04-791b-11e7-84aa-13176220cdd9.png)

This is annoying to every team that is not Reader.

The problem is this line in `BaseContainer`, that gets called on every page load:

[code]

In `reader/index.jsx`, at the top level, we create th

[2017-08-04 18:38] nolawi commented on #2856
- move static assets to the react app

[2017-08-04 19:01] shanear opened #2859 "vbms_id is saving unsaved appeals"
Not sure how to recreate this. Might want to skip validation and see if the Sentry alerts stop rolling in.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/340/

[2017-08-04 19:07] NickHeiner commented on #2782
I just merged a change so that analytics will be sent for real, instead of the fake console logging. To verify that events are being sent, look at the network traffic:

![image](https://user-images.githubusercontent.com/829827/28940121-9e21d944-7861-11e7-84d7-5ab33a6ef425.png)

[2017-08-04 19:18] aroltsch commented on #2690
Question: Should MDUSER be updatable without current_user?
Answer: mduser is set to SLOGID from STAFF - correct

Question: Should MDTIME and MDUSER update on every model update?
Answer: MDTIME and MDUSER should be updated on every update of disposition, hold_open, aod, notes, transcript_requested. MDUSER stays the same until SLOGID from STAFF is changed  (@cmgiven can confirm)

Question: What the

[2017-08-04 19:21] cmgiven commented on #2690
Yup, that's right.

[2017-08-04 19:23] nemodjuric opened #2861 "Post to appeals-devops if apps are out of service"
Related to #2702 (its prerequisite)

Every three hours, a job should run checking the out of service status of various applications and posting to the #appeals-devops channel in Slack if apps are out of service, so we can't forget. To avoid spamming the cannel, only post if some applications are out of service.

### AC:

<img width="427" alt="screen shot 2017-08-15 at 6 28 12 am" src="https://user

[2017-08-04 19:42] aroltsch commented on #2693
@kierachell you cannot update type through our Hearing model: `h.update(type: :travel)`- this will not work. You need to directly update HEARSHED `hearing_type` value. You can try this:
```VACOLS::CaseHearing.find_by(hearing_pkseq: 345501).update(hearing_type: "C")```

[2017-08-04 19:44] aroltsch commented on #2693
@cmgiven Can we clear disposition (set to `nil`). What happens to `BRIEFF.BFHA`  if we set disposition to `nil`?

[2017-08-04 19:53] cmgiven commented on #2693
Clearing the disposition would make it look as though the hearing is still pending. That probably should not happen. BFHA is one of the problems it would cause. An appeal can have multiple hearings, but there's only one BFHA. So if we were to overwrite BFHA with nil, we would potentially be overwriting not just the current hearing but also a previous one. We could reconcile that by looking for oth

[2017-08-04 20:00] #2770 closed

[2017-08-04 20:36] shanear commented on #2859
Not sure how to recreate this. Might want to skip validation and see if the Sentry alerts stop rolling in.

[2017-08-04 20:37] mdbenjam opened #2864 "StaleObjectError when hitting document endpoint"
https://sentry.uat.ds.va.gov/sentry/efolder-uat-u4/issues/361/

# AC
1. Verify when going to the single document view (opening a new tab of a document) that tags can be left.
1. Verify when going to the single document view there exists a back to all documents button, that the view is a full Reader instance and not just a single page.

[2017-08-04 20:45] NickHeiner opened #2865 "Google Analytics: Add Page Speed Timings"
We would like to instrument our page speed timings so we can get a sense of what our browser performance is. In the past, we've had reports of Reader being unusably slow, so we'd like to stay ahead of that going forward.

Things to instrument include:
1. How long the page takes to become initially usable
1. How long the reducer takes to process actions
1. How long React takes to update the page af

[2017-08-04 21:06] joofsh commented on #2856
- Add tests to `ruby-bgs` gem. Right now the gem is completely untested. It's a core dependency of all our applications, and making changes to it is risky!

[2017-08-04 21:07] joofsh commented on #766
Verified that we are able to pull a Veteran's periods of service from BGS 's `VetRecordWebService` which we already integrate with in production!

The information exists within the `VetRecordService`'s `find_by_file_number` method. In order to retrieve this information, we will need to make updates to `ruby-bgs` which is done in this PR: https://github.com/department-of-veterans-affairs/ruby-bgs/p

[2017-08-04 21:11] joofsh commented on #2469
Verified that we are able to pull a Veteran's periods of service from BGS 's `VetRecordWebService` which we already integrate with in production!

The information exists within the `VetRecordService`'s `find_by_file_number` method. In order to retrieve this information, we will need to make updates to `ruby-bgs` which is done in this PR: https://github.com/department-of-veterans-affairs/ruby-bgs/p

[2017-08-05 01:31] kierachell commented on #2514
Obsoleting this since there will be a discussion about this stuff with appropriate action items

[2017-08-05 01:31] #2514 closed

[2017-08-05 01:32] kierachell commented on #2445
**PASSED**

I mean...it was done via another ticket so...

[2017-08-05 01:32] #2445 closed

[2017-08-05 01:38] kierachell commented on #2175
**PASSED**

This was done a while ago

[2017-08-05 01:38] #2175 closed

[2017-08-05 01:39] kierachell commented on #614
it's not but....meh

[2017-08-05 01:39] #614 closed

[2017-08-05 01:43] kierachell commented on #1604
**PASSED**

They fine now

[2017-08-05 01:43] #1604 closed

[2017-08-05 14:08] kierachell commented on #2859
- Just open Reader's Welcome Gate page after using Status API to generate a bunch of Appeals (some of which might be assigned to that attorney/judge).
- Do the same for Dispatch - look up a ready-to-dispatch Appeal in Status. Then try to work/assign/prepare it in Dispatch.

[2017-08-05 21:40] kierachell opened #2868 "PrepareEstablishClaimTasksJob | The job goes into a retry loop instead of failing and reporting failure"
# Description
When PrepareEstablishClaimTasksJob runs and fails to `prepare` at task,
e.g. when
[code]

call errors (why is it even called?).
The job goes into a retry loop instead of reporting failure

## Reproduction Steps

**Scenario 1 -**

1. Go run the job from Sidekiq UI
1. Wait it cause error (logged to Sentry)
1. Wait for Slack notification
1. Wait...
1. Wait...
1. Got to Sidekiq UI
1. See

[2017-08-06 20:38] kierachell opened #2870 "VBMSService | `fetch_documents_for` doesn't expect `current_user`"
# Description
When fetching documents for an appeal,
current user is not an expected parameter.
This causes errors.

- Can't fetch documents no more :(
- Can't create Tasks no more :(
- Can't really do much no more :(
- Smoke tests are broke

## Reproduction Steps

**Scenario 1 -**

1. Go to `admin/establish-claim`
1. Try to make a new task for an appeal
1. Fail
1. See sentry
1. Get sad

**Scenari

[2017-08-06 20:49] kierachell commented on #2668
Currently the job runs and seems to make VACOLS calls but then:
[code]

- There's two jobs or? Why is it happy failing? :(
<img width="1123" alt="screen shot 2017-08-06 at 4 49 47 pm" src="https://user-images.githubusercontent.com/18075411/29006927-46086954-7ac7-11e7-890e-39726ae2ca32.png">

[2017-08-07 12:15] mdbenjam opened #2872 "Files Endpoint | Invalid File Number"
Currently if a bad File Number is passed to the files endpoint then a sentry error is thrown. We need to catch this error and return a bad request to the user. See: https://github.com/department-of-veterans-affairs/caseflow/issues/2808

# AC
1. When passing an invalid file number (i.e. 999) the endpoint doesn't throw an error.
1. When passing an invalid file number (i.e. 999) the endpoint returns

[2017-08-07 12:23] mdbenjam opened #2873 "Files Endpoint | List of files not cached within 3 hours"
Currently on UAT (not locally) the files endpoint is not properly cached. The API is supposed to look at the most recent manifest fetch time and only go to VBMS if it has been 3 hours since the last manifest was fetched. Currently it always fetches the manifest again.

# AC
1. Verify when the API is called twice within 3 hours, the second call returns immediately and does not call VBMS.

[2017-08-07 12:32] mdbenjam commented on #2808
So we've addressed the timeout (we were using the wrong eFolder API in UAT). The document id being nil is not a bug. The feature toggle has been turned on for all reader users now. I created #2872 to address sending bad VBMS ids. We've fixed calling the wrong documents endpoint. The problem with caching in S3 is a more long term problem that I'll be writing a tech spec about.

[2017-08-07 12:47] kierachell commented on #2859
They did not:

Starts happening now, breaks Dispatch:
https://github.com/department-of-veterans-affairs/caseflow/issues/2870

[2017-08-07 12:53] astewarttistatech commented on #2218
**PASSED**

Env:UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Hearings
2. Select a docket
3. Select an Appellant
4. Verify that the next page that appears is the Hearings Worksheet page
5. Verify the UI against mocks and AC

Screenshots:
![hearingworksheet](https://user-images.githubusercontent.com/23038505/29027256-e756928c-7b4d-11e7-9497-1681ef431579.png)

[2017-08-07 12:53] #2218 closed

[2017-08-07 13:04] astewarttistatech commented on #2782
**FAILED**

@NickHeiner Events are not firing anywhere in the network console for any of the actions in the Events list. Please see below.

![analyticsrefactor](https://user-images.githubusercontent.com/23038505/29027583-4a1b99fc-7b4f-11e7-89fe-6514ef0a7e44.gif)

[2017-08-07 13:07] aroltsch commented on #2693
Ok, I will disallow clearing of disposition.

[2017-08-07 13:13] mogrenAtWork commented on #2338
Blocked by #2804

[2017-08-07 13:25] astewarttistatech commented on #2744
**PASSED**

Env: UAT
Browser: FF and Chrome

Steps to Validate:
1. Access Hearings
2. Select a docket and verify that you land at the top of the page
3. Select an appellant
4. Verify that the page loads you at the top of it.

Screenshots:
![hearingpages](https://user-images.githubusercontent.com/23038505/29028442-58979b18-7b52-11e7-9822-0c1514d170df.gif)

[2017-08-07 13:25] #2744 closed

[2017-08-07 14:08] astewarttistatech commented on #2768
**PASSED**

Env: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Hearings
2. Select a Docket
3. Select an appeallant
4. Navigate to the Related Documents section in the Hearing Worksheet page
5. Verify the "Docs in eFolder" section

Screenshots:
<img width="1242" alt="screen shot 2017-08-07 at 10 06 26 am" src="https://user-images.githubusercontent.com/23038505/29030212-5047a4e8-7b58-11e

[2017-08-07 14:08] #2768 closed

[2017-08-07 14:22] astewarttistatech commented on #2870
**PASSED**

Env: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Dispatch /test/setup (reset time and location)
2. Navigate to /admin/establish-claim
3. Create a task
4. Verify creating that task was successful

Screenshots:
![admin establish-claim](https://user-images.githubusercontent.com/23038505/29030675-ebe59076-7b59-11e7-9031-0eebd9ab9cd7.gif)

[2017-08-07 14:22] #2870 closed

[2017-08-07 14:45] abbyraskinUSDS commented on #2342
note: the "see more" expand shown in mock is out of scope for this ticket - see: https://github.com/department-of-veterans-affairs/caseflow/issues/2597

[2017-08-07 14:53] astewarttistatech commented on #1853
@tejans24 All of the H1, H2, and H3 tags are there but are not being read by a screenreader.

[2017-08-07 15:14] abbyraskinUSDS opened #2875 "Welcome Gate | Handling when issues on appeal have different reps"
## Context
Sometimes issues on appeal won't have the same rep. For example, a 6 issue claim could have 2 issues with one rep, and 4 issues that have no rep. In this scenario, an attorney needs to write 2 separate decisions. In "Attorney check in" in VACOLS today, an appeal like this would be listed twice -- once for the 2 issues with a representative, and another time for the rest of the issues.

[2017-08-07 15:15] abbyraskinUSDS opened #2876 "Claims folder | Add more information to claims folder details"
## Description
Attorneys have expressed the importance of seeing the representative on their claims folder. This will be one less reason to open up VACOLS.

## AC
- [ ] Add a section after Regional Office with title Representative and the representative below it.

## Mockup
![image](https://user-images.githubusercontent.com/13420618/29080104-ed329c16-7c2c-11e7-937b-d8ea3d92080e.png)

## Related
ht

[2017-08-07 15:20] aroltsch commented on #2684
Issue: `h.update(hold_open: false)`
Answer: I will fix it

Issue: `False for AOD? = nil ?`
Answer: I will fix it

Issue: `h.update(hold_open: -0)`
Answer: Ruby treats `-0` as `0`. If the value already had `0`, ActiveRecord won't update the value again. However, we should still update MDTIME.

[2017-08-07 15:26] astewarttistatech commented on #2844
**PASSED**

Env: UAT, Preprod
Browser: FF and Chrome

Steps to Validate:
1. From the /functions page enable the Hearings role
2. Navigate to /hearings/docket
3. Validate that the Hearings page is visible

Screenshots:
![hearingpages](https://user-images.githubusercontent.com/23038505/29033464-2c74dc10-7b63-11e7-8258-8153094a9454.gif)

[2017-08-07 15:32] #2844 closed

[2017-08-07 15:34] astewarttistatech commented on #2747
AC is written incorrectly, please indicate if this is css_id with the hearings role only or a system admin.

[2017-08-07 15:45] astewarttistatech commented on #2341
So far files have stayed around pass 3 days (4) but will wait longer to validate that they stick around for 2 weeks.

[2017-08-07 15:54] mdbenjam opened #2878 "EFolderService | Rename"
Currently EFolderService is either ExternalApi::EfolderService or Fakes::VBMSService. This is confusing. We should rename EFolderService to something more generic like DocumentService or something.

[2017-08-07 17:33] shanear commented on #2856
#devops

https://github.com/department-of-veterans-affairs/appeals-deployment/issues/738

[2017-08-07 18:30] mdbenjam opened #2881 "Reader making extra calls to document endpoint"
Because of a race condition we currently can call the documents endpoint several times in a row. Now we add a set of promises and setTimeouts to wait for the first request to finish and then use the result.

We also add a config flag to add to make local development against an efolder instance easier.

Reproduction Steps:
- Run latest master of eFolder express on localhost:4000
- Change use_efolde

[2017-08-07 18:58] astewarttistatech commented on #2873
**PASSED**

Env: UAT
Browser: FF and Chrome

Steps to Validate:
1. Access eFolder Express
2. Search a valid eFolder
3. Go back to search and delete cache on the recently searched eFolder.
4. Re-search that eFolder.
5. Verify it doesn't take more than 2 seconds to download

[2017-08-07 18:58] #2873 closed

[2017-08-07 19:07] evankroske commented on #2703
@amprokop , what's AC? It's not in the glossary: http://www.navapbc.com/glossary/#ac

[2017-08-07 19:09] NickHeiner commented on #2856
* https://github.com/department-of-veterans-affairs/caseflow/issues/1531 or upgrade to the latest `node` / `npm`
* Consider re-architecting repo to have a cleaner separation between different apps or a better-defined contract with a core platform.
* Fix outstanding `prod-alert` errors
* Upgrade to Rails 5 (are there things that will be useful for us?)

[2017-08-07 19:15] kierachell commented on #2856
- remove old FeatureToggles that we don't need (dispatch, etc)
- remove functions for Cert v2 and v2 (they are FeatureToggles now?)

[2017-08-07 19:40] nikitarockz commented on #2747
I updated the AC to reflect @astewarttistatech request.

[2017-08-07 19:44] astewarttistatech commented on #2747
**PASSED**

Env: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Log into Hearings in a enabled role css_id
2. Access hearings/dockets
3. Navigate to Reader
4. Verify that Reader appears and not an error page for access.

Screenshots:
![hearingreaderstuff](https://user-images.githubusercontent.com/23038505/29042987-430e7ea8-7b87-11e7-8ab3-84038de67e07.gif)

[2017-08-07 19:44] #2747 closed

[2017-08-07 20:41] sharonwarner opened #2883 "Add documents to the Case Summary Reader filter"
We need to add the following documents to the case_summary filter:
- "VA 21-526EZ, Fully Developed Claim (Compensation)"
- "VA 21-527EZ, Fully Developed Claim (Pension)"

## Acceptance Criteria

In the Reader Document List view, if the document is one of the types above, a case summary flag (currently yellow/gold) will appear to its left

[2017-08-07 21:02] mogrenAtWork commented on #2856
I'll second some things I've seen earlier on this list and some obvious/generic improvements that may have already been checked:
- Upgrade node and rails
- Fixing outstanding prod-alerts
- Fixing skipped tests
- Adding tests to ruby-bgs
- Analyzing our worst queries and seeing if we can improve them

Some new things to investigate:
- Refactor AppealsRepository to include CaseAssignmentRepository f

[2017-08-07 21:07] annienguyenUSDS opened #2884 "[Frontend] Daily Docket: Add "Add on" checkbox"
Daily Docket: Add "Add on" checkbox.

Description: As a judge, would need to know if case was an "add on" to the daily docket.
AC: Show a checkbox with copy "Add on" to the right for every claim aligned below "Disposition" drop down. Be able to add check to the box similar to "Transcript Requested." See mock.

In the mock, also moved "Transcript Requested" to align below "Hold Open" drop down".
<i

[2017-08-07 21:14] mogrenAtWork commented on #2774
@kierachell this has the same acceptance criteria as #2804

[2017-08-07 23:03] cmgiven opened #2887 "Missing decisions report for denials"
Re: https://github.com/department-of-veterans-affairs/appeals-design-research/issues/330

Report should create a CSV showing all denied appeals in the last 120 days that are missing a decision in VBMS. Essentially the unprepared report for those appeals that are not brought into dispatch.

Denied appeals are those that are either a `'1'` or `'4'` `BRIEFF.BFDC` and have no remanded or allowed (with

[2017-08-07 23:04] lakohl commented on #2759
Agree to make separate tickets for feature flags in the future, to avoid confusion.

[2017-08-07 23:04] #2759 closed

[2017-08-07 23:40] lakohl commented on #713
It's true, the error should not persist when the user goes back to the previous screen.
@kierachell Do you know if this still happening?

[2017-08-07 23:58] lakohl opened #2890 "[Frontend] Hearing Worksheet: Make witness box expandable and scrollable"
As a user I would like to be able to add the name of more than one Witness in the witness box.

Use the same flexible styling (expandable vertically and scrollable) on the witness box as is used on the Notes section of the Daily Docket.

[2017-08-08 00:01] lakohl opened #2891 "Hearing type should be consistent from Daily Docket to Hearing Worksheet"
AC:
Ensure that the hearing type is the same on the Daily Docket and Hearing Worksheet.

[2017-08-08 00:04] lakohl opened #2892 "[Frontend] Back to Docket on Daily docket - should say back to Upcoming Hearing Days"
AC
Link in the lower left of the Daily Docket page that allows the user to move backwards should read:
Back to Upcoming Hearing Days (not Back to Docket).

[2017-08-08 00:08] lakohl opened #2893 "Daily Docket Notes UI clean up"
1. Left align the word 'Notes' so it starts directly under the vet ID number.
1. Remove colon after 'Notes'
1. Adjust the Notes box accordingly.

Note: color going in/out is side-effect of animated GIF):
![fix-notes-ac](https://user-images.githubusercontent.com/1053255/29781004-bc1405d4-8be5-11e7-9b96-4e9333c40cdc.gif)

[2017-08-08 00:11] lakohl opened #2894 "Open Hearing Worksheet in a different tab"
As a judge I would like to be able to view the Daily Docket and the Hearing Worksheet at the same time.

AC
1. When a Veteran ID is clicked on the Daily Docket page, open the Hearing Worksheet for that Veteran ID in a different browser tab.

[2017-08-08 00:16] lakohl opened #2895 "[Backend] Hearing Worksheet | Character of Service"
We currently only pull in the veteran's branch and service dates. We'd like to also pull in character of service.

AC:
In the rails console, when we load a veteran's military_service, it pulls in character of service.

[2017-08-08 00:21] mdbenjam commented on #2856
- I support refactoring the repositories to make the code testable. We should keep as little as possible  in the actual interaction with dependencies.
- An audit of all our React components. I have a lot of thoughts here and am not sure it's appropriate for this 'summer' refactor.
- I like looking at making our APIs restful
- Adding audit tables

[2017-08-08 00:41] kierachell commented on #2808
**PASSED**
- Document list endpoint is working
- Fetch document endpoint is working
- Documents are saved to S3
- Redundant calls are being addressed
- FeatureToggle addressed

[2017-08-08 00:41] #2808 closed

[2017-08-08 00:45] kierachell commented on #2774
you now why :D

[2017-08-08 00:51] kierachell commented on #2469
Sample return
[code]

[2017-08-08 10:25] kierachell commented on #2469
**PASSED**
Just make sure you know how to handle `no BIRLS record found` error

[2017-08-08 10:25] #2469 closed

[2017-08-08 10:28] kierachell commented on #2736
**PASSED**

Made one yesterday with VBMS team! :D

[2017-08-08 10:28] #2736 closed

[2017-08-08 10:51] mogrenAtWork commented on #2595
Closing this since we're sticking with Travis for now

[2017-08-08 10:51] #2595 closed

[2017-08-08 11:47] kierachell commented on #2693
- Woot
[code]

[2017-08-08 11:56] kierachell commented on #2693
### If bfhr == '1', then bfha = '1':
[code]

Checking vacols:
[code]

## If bfhr == '2' && bfdocind != 'V' , then bfha = '2':

[code]
Nope...

What am I missing?

[2017-08-08 12:07] aroltsch commented on #2693
Artem, please re-test this. Ignore `bfhr` and `bfdocind`. Use HEARSHED.hearing_type to determine the hearing type.

[2017-08-08 12:11] aroltsch commented on #2693
@cmgiven we would like to clarify https://github.com/department-of-veterans-affairs/caseflow/issues/2693#issuecomment-320338875 you said that ```So if we were to overwrite BFHA with nil, we would potentially be overwriting not just the current hearing but also a previous one.```. However, in AC, you say ```If the disposition is 'P' (postponed), BRIEFF.BFHA should be set to null.``` Please clarify.

[2017-08-08 12:16] kierachell commented on #2693
## Before:
[code]

- So it's already postponed?
- Let's...repostpone it

[code]

[2017-08-08 12:36] kierachell commented on #2881
### When switching to a new document that was not rendered before:

- If it's more than 10 documents away from current view, the new document is loaded a bunch of times still
![fastswitch](https://user-images.githubusercontent.com/18075411/29072042-1f03e768-7c14-11e7-9e13-fd58f3116dea.gif)

- There seems to be some kind of locking/delay when rendering a PDF, which bugs out the whole document loadi

[2017-08-08 12:44] kierachell commented on #2690
**PASSED**

Will be retested with full integration;
Listed validations are there:
[code]

[code]

Loving the error types :D

[2017-08-08 12:44] #2690 closed

[2017-08-08 12:45] kierachell commented on #2684
**PASSED**

Based on discussion, keeping MDTIME updated :D

[code]

[2017-08-08 12:45] #2684 closed

[2017-08-08 13:20] cmgiven commented on #2693
If a hearing is marked as 'P', BFHA should be nulled. This is to mark that a hearing is still pending. 'P' indicates that the hearing will be rescheduled for another time, as opposed to canceled or no-show, which indicate that the case will proceed without a hearing.

You're right to note that this is contradictory with my previous comment. If we assume that the existence of a HEARSCHED row withou

[2017-08-08 13:28] aroltsch commented on #2472
@cmgiven Would you know know how to get `notes` for issues?

[2017-08-08 13:31] cmgiven commented on #2472
That's `ISSUES.ISSDESC`.

[2017-08-08 13:36] kierachell commented on #2693
**PASSED**

Based on `HEARING_TYPE` I am seeing `BFHA` set correctly.

[2017-08-08 13:36] #2693 closed

[2017-08-08 14:19] mdbenjam opened #2898 "Invalid character"
There is very little information here:
<img width="836" alt="screen shot 2017-08-08 at 10 18 33 am" src="https://user-images.githubusercontent.com/3885236/29076247-f3582b74-7c22-11e7-8a43-5b9e33de384b.png">

Only two events in the last 24 hours.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/345/

[2017-08-08 14:29] shanear commented on #2859
The linked issue is unrelated. Can you send the UAT sentry log for the breakage?

This issue hasn't recurred in prod since this code has been deployed
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/340/events/
<img width="1174" alt="screen shot 2017-08-08 at 10 27 59 am" src="https://user-images.githubusercontent.com/1596259/29076766-75489ffa-7c24-11e7-9a0e-6

[2017-08-08 14:33] astewarttistatech commented on #2782
**PASSED**

Env: UAT
Browser: FF and Chrome

Steps to Validate:
1. Access Reader
2. Go through each Event scenario with the network tab open
3. Verify the events are firing

Screenshots:
![reader analytics](https://user-images.githubusercontent.com/23038505/29076980-09679fa6-7c25-11e7-81a3-9e2bd0c25284.gif)
![reader analytics2](https://user-images.githubusercontent.com/23038505/29076988-09965904-7

[2017-08-08 14:33] #2782 closed

[2017-08-08 14:37] kierachell commented on #2859
Cause I haven't deployed :D

[2017-08-08 14:38] #2859 closed

[2017-08-08 14:48] astewarttistatech opened #2900 "Hearings | Spinner for Hearings isn't in the middle of the page"
**Description:**
Currently, in Hearings Prep the loading spinner for the Hearings page is closer to the top of the page then the center of the page.

**Expected:** The spinner should be centered on the page.

**Env:** UAT
**Browser:** Chrome

**Steps to Recreate:**
1. Access Hearings
2. Verify that the spinner is closer to the top of the page than it is the center.

**Screenshots:**
<img width="13

[2017-08-08 14:51] astewarttistatech commented on #2702
**PASSED**

Env: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Toggle the out of service feature on in Terminal (I took screenshots of the functions page as a clearer reference) and check to see if the page for that application still works

Screenshots:

<img width="1308" alt="screen shot 2017-08-08 at 10 36 06 am" src="https://user-images.githubusercontent.com/23038505/29078077-724d6440-7c27

[2017-08-08 14:52] astewarttistatech commented on #2847
@NickHeiner Could you walk me through how to test this when we get back to the office?

[2017-08-08 14:54] shanear commented on #2898
<img width="845" alt="screen shot 2017-08-08 at 10 53 49 am" src="https://user-images.githubusercontent.com/1596259/29078284-e3fc9728-7c27-11e7-8d65-90d629226550.png">

these breadcrumbs seem legit

[2017-08-08 15:00] astewarttistatech commented on #2552
**PASSED**

Env: UAT
Browser: Chrome

Steps to Validate:
1. Access Reader Help page, and compare it to eFolder Help page

Screenshots:
Efolder:

![efolderhelp](https://user-images.githubusercontent.com/23038505/29078558-bae9d782-7c28-11e7-933c-f33b70de0650.png)

Reader:
![readerhelp](https://user-images.githubusercontent.com/23038505/29078573-c59a9716-7c28-11e7-83b1-b6e1579d50da.png)

[2017-08-08 15:00] #2552 closed

[2017-08-08 15:33] gnakm opened #2901 "Document Viewer | Add representative field to annotation menu"
## Description
Attorneys have expressed the importance of seeing the representative on their claims folder. This will be one less reason to open up VACOLS.

## AC
- [ ] Add a section after Regional Office with title Representative and the representative below it.

## Mockup
![image](https://user-images.githubusercontent.com/13420618/29080278-611680fc-7c2d-11e7-91ee-180aa9b99e42.png)

## Related
ht

[2017-08-08 16:27] tejans24 commented on #2342
We might need a few other UI changes to the mocks for the following cases:
* What if we can't find the veteran with the ID?
* What if the API returns an error while searching for appeals for the veteran?
* Should we restrict the search input to max 9 characters? Does the input need any other validations?

[2017-08-08 16:57] kierachell commented on #2702
That is not the correct way to validate this

[2017-08-08 17:03] kierachell commented on #2702
### Hearing prep != Hearings prep

I know, picky but let's keep it consistent - I asked about the `s` like 20 times in Slack
[code]

<img width="1260" alt="screen shot 2017-08-08 at 1 01 46 pm" src="https://user-images.githubusercontent.com/18075411/29084406-e14f4540-7c39-11e7-99a8-e8257b264f7a.png">

[2017-08-08 17:17] lakohl opened #2903 "Add Hearing Prep to the environments page"
As a user, I would like to see Hearing Prep links to demo, uat, and prod environments on the environments page: https://github.com/department-of-veterans-affairs/appeals-deployment/blob/master/docs/environment-info.md

[2017-08-08 17:33] amprokop commented on #2702
@nemodjuric — my AC may have been wrong here. I'll let you and @kierachell figure it out, looks like `hearing prep` is a more accurate name

[2017-08-08 17:35] lakohl opened #2904 "Get a list of hearing days for each of the Hearing Prep Pilot users"
We need to know the judges' hearing schedules in order to enter it into the Hearing Prep app and to schedule follow up interviews. Most of the pilot will take place in September, but given that we are pushing the pilot out to start after Labor Day it could include a few days at the beginning of October.

AC
1. Get a list of hearing days for September for each of the Hearing Prep Pilot users.
1. Ge

[2017-08-08 17:59] ghost opened #2906 "Feeling bored? | Convert all `canceled`-s to `cancelled`s"
<img width="339" alt="screen shot 2017-08-08 at 1 49 13 pm" src="https://user-images.githubusercontent.com/18075411/29086807-cd0c3e5a-7c41-11e7-9303-36dda37ae8ef.png">

[code]

Nuff said

[2017-08-08 18:04] kierachell commented on #2668
### Method signature is different and `current_user` is still not passed to the job:
[code]

- Where is current user coming from?
[code]

[2017-08-08 19:00] mdbenjam opened #2908 "Is a directory @ rb_sysopen - /opt/caseflow-certification/src/tmp/pdfs/"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/344/

Don't know this code path, but it looks like it might be due to something that is missing a filename, so we try to write to the directory instead:

![screen shot 2017-08-08 at 2 59 21 pm](https://user-images.githubusercontent.com/3885236/29089431-321e0d16-7c4a-11e7-9412-23e1d2c071f0.png)

[2017-08-08 19:04] mdbenjam opened #2909 "Task::UserAlreadyHasTaskError"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/343/
Only one instance of this.

![screen shot 2017-08-08 at 3 03 12 pm](https://user-images.githubusercontent.com/3885236/29089605-c50f1570-7c4a-11e7-9333-b4a4950b6a9e.png)

[2017-08-08 20:20] cmgiven commented on #2342
It should not be restricted to 9 characters. It might contains spaces and/or a trailing 'S'.

[2017-08-08 20:41] nolawi opened #2913 "Remove Docker/Config and Documentation"
1. Remove all references and documentation

[2017-08-08 20:43] nolawi commented on #2913
duplicate

[2017-08-08 20:43] #2913 closed

[2017-08-08 21:14] nolawi commented on #2736
cool it works.. wasn't able to test

[2017-08-08 21:53] shanear commented on #2909
This is an unavoidable race condition due to a click happy user I believe 😄

best we could do is rescue the error?

[2017-08-08 22:27] amprokop opened #2916 "How should we handle our jobs interacting with their dependencies?"
The BGS API needs `current_user` information. We're currently temporarily using `RequestStore[:current_user]` to pass it through. We had to put in a pretty messy hotfix (https://github.com/department-of-veterans-affairs/caseflow/pull/2915/files) to make cert work again, but it's probably not the cleanest way to handle passing user info to the job.

How should we best handle that?
Also, what inform

[2017-08-08 22:31] mogrenAtWork opened #2917 "Remove Document.fetch_content once eFolder is enabled"
Remove Document.fetch_content() once the eFolder API is being used 100% of the time.

Blocked until the eFolder API for Reader is deemed stable.

[2017-08-08 22:35] mogrenAtWork opened #2918 "Sidekiq/Slack | Change the name of SLACK_DISPATCH_ALERT_URL environment variable"
Change the name of the `SLACK_DISPATCH_ALERT_URL` environment variable since it's now being used in Dispatch and Reader,
and it's used by Certification.

[2017-08-08 23:54] kierachell commented on #2702
**PASSED**
Wooo!
<img width="940" alt="screen shot 2017-08-08 at 7 54 04 pm" src="https://user-images.githubusercontent.com/18075411/29099443-651248e4-7c73-11e7-99d0-148e0484c77a.png">

[2017-08-08 23:54] #2702 closed

[2017-08-08 23:57] kierachell commented on #2804
**PASSED**
that was easy :D
<img width="452" alt="screen shot 2017-08-08 at 7 56 41 pm" src="https://user-images.githubusercontent.com/18075411/29099491-bead9840-7c73-11e7-939b-a157de75305e.png">

[2017-08-08 23:57] #2804 closed

[2017-08-08 23:57] kierachell commented on #2583
**PASSED**

Validated while checking other issue that was blocking Certification

[2017-08-08 23:57] #2583 closed

[2017-08-08 23:58] kierachell commented on #2864
I need to setup a test where I hit the API and download in eFolder at the same time

[2017-08-08 23:58] kierachell commented on #2668
**PASSED**
whew....
<img width="1131" alt="screen shot 2017-08-08 at 6 53 15 pm" src="https://user-images.githubusercontent.com/18075411/29099529-f2f9af26-7c73-11e7-8c35-7d4e5db30e8b.png">

[2017-08-08 23:58] #2668 closed

[2017-08-09 00:52] kierachell commented on #713
Yes it is

[2017-08-09 02:35] mogrenAtWork commented on #2916
Just for reference, the eFolder API needs the user's [CSS-ID and STATION-ID](https://github.com/department-of-veterans-affairs/caseflow/blob/609790f0a42ff3551b6d77a8ad84522b6133a21e/app/services/external_api/efolder_service.rb#L42) for requests to the eFolder API.

The eFolder API uses this to (there might be more to this list that I don't know about):
- [Authenticate](https://github.com/departmen

[2017-08-09 12:40] mogrenAtWork commented on #2722
Mark probably did the same work when he first started looking into this but here's what I did + found:
- I checked heap allocation on documents list for appeal with 400 docs
     - Even though we make requests to retrieve all of the documents  in the Documents List page, we're not storing these in the array. Instead, we're letting Chrome cache these on the disk.
- I recorded a performance profile

[2017-08-09 13:03] slj opened #2919 "Hearings Worksheet: reference to classNames causing error"
The page should not generate this error:
<img width="554" alt="screen shot 2017-08-09 at 8 54 18 am" src="https://user-images.githubusercontent.com/1053255/29122492-86ba1356-7ce0-11e7-996d-ac1dbf2b83d0.png">

[2017-08-09 13:05] gnakm opened #2920 "Welcome Gate | Search error: invalid veteran ID entered"
## Story
As a attorney or judge, I want to know if I entered a wrong Veteran ID in the welcome search bar.

## AC
- [ ] When an incorrect Veteran ID is entered (one that does not actually exist), show the error message below using [style guide error alert](http://dsva-appeals-certification-demo-1715715888.us-gov-west-1.elb.amazonaws.com/styleguide#alerts)

## Mockup
![image](https://user-images.gi

[2017-08-09 13:06] slj commented on #2919
This problem is solved by using `className` instead of `classNames` - `classNames` is not needed here b/c the class is static.

[2017-08-09 14:13] abbyraskinUSDS commented on #2342
@gnakm we also need to capture the scenario where the ID is correct, but the person has no active appeals.

[2017-08-09 14:16] abbyraskinUSDS commented on #2920
@gnakm 👍 👍 👍

[2017-08-09 14:21] mdbenjam opened #2923 "Reader Prod Outage"
We are currently forking the code on passing the content_url to the frontend.

[code]

This means we were passing the new efolder url even when we shouldn't be.

[2017-08-09 14:22] abbyraskinUSDS commented on #2810
Sounds like we're good on tracking for now but should keep an eye out for new elements

[2017-08-09 14:24] abbyraskinUSDS opened #2924 "Welcome Gate | Search error: veteran ID has no active appeals"
## Story
As a attorney or judge, I want to know whether the veteran ID I searched for on the Welcome Gate isn't associated with any active appeals.

## AC
- [ ] Show the following alert when Veteran ID exists but doesn’t have any associated appeals
- [ ] Use [Style guide informative status alert](http://dsva-appeals-certification-demo-1715715888.us-gov-west-1.elb.amazonaws.com/styleguide#alerts) p

[2017-08-09 15:16] astewarttistatech commented on #2749
**PASSED**

Env: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Hearings
2. From the Dockets page view the saving functionality
3. Navigate to the Hearings Worksheet page and verify that the saving functionality mimics what is present on the Dockets page.

Screenshots:
![savinghearings](https://user-images.githubusercontent.com/23038505/29129240-251ce164-7cf4-11e7-9fad-66638373d662.gif)

[2017-08-09 15:16] #2749 closed

[2017-08-09 15:30] astewarttistatech commented on #2919
**PASSED**

Env: UAT
Browser: FF and Chrome

Steps to Validate:
1. Access Hearings
2. Navigate to a Hearings Worksheet
3. On the Hearings Worksheet page, using the browser's "Inspect" tool, view the console and see if any errors appear on the page.
4. Refresh the Hearings Worksheet while having the console open to double-check.

Screenshots:
<img width="1440" alt="screen shot 2017-08-09 at 11 21 4

[2017-08-09 15:30] #2919 closed

[2017-08-09 15:52] mdbenjam opened #2925 "Reader Broken in Prod 8-9-17 Post-Mortem"
# Cause
- The content_url method in document.rb which gets the url the frontend needs to hit to retrieve document content was wrong.
  - In https://github.com/department-of-veterans-affairs/caseflow/pull/2866/files#diff-da766db961b1ebe7e7e8de051dac4096R182 it was changed to stop looking for the feature toggle
- The feature toggle, :efolder_docs_api, was enabled in UAT for testing. Therefore this w

[2017-08-09 15:53] mdbenjam opened #2926 "Refactor eFolder API feature toggle code"
See Post-Mortem: https://github.com/department-of-veterans-affairs/caseflow/issues/2925

We should refactor how we look at the :efolder_docs_api Feature Toggle to prevent future errors. Each fork of the toggle should be very clear and should avoid other conditions. Specifically examine this code: https://github.com/department-of-veterans-affairs/caseflow/pull/2922/files#diff-da766db961b1ebe7e7e8de

[2017-08-09 16:39] #1376 closed

[2017-08-09 16:57] kierachell commented on #2774
**PASSED**

Got to Welcome Gate...no errors at last!
<img width="1124" alt="screen shot 2017-08-09 at 12 57 26 pm" src="https://user-images.githubusercontent.com/18075411/29133695-4f003cd4-7d02-11e7-813a-0d96e9a6159c.png">

[2017-08-09 16:57] #2774 closed

[2017-08-09 16:59] kierachell commented on #2923
**PASSED**

Well..it works now?

[2017-08-09 16:59] #2923 closed

[2017-08-09 17:27] kierachell commented on #2925
- Sounds like another vote for a more UI-friendly FeatureToggle. At this point having to SSH into Rails console 3 times for every validation ticket is becoming a pain.
- I need an outline of what Features are to be toggled in Production for which use cases so I know what is `bleeding-edge` code and what is `production-ready` code.
- My next task is to setup Preproduction for Prod parity.

[2017-08-09 17:40] abbyraskinUSDS opened #2928 "Document viewer | Keyboard shortcut for saving a comment"
**Story**
When writing a comment, I want a keyboard shortcut that saves my comment so I can move quickly to the next task.

**Acceptance Criteria**
- Entering `alt+enter` on keyboard when a comment is active saves the active comment

## Related
#3083 | Add new shortcuts to modal

[2017-08-09 17:52] joofsh commented on #2925
CC @evankroske since he had some ideas around this & storing our feature toggles in source control. Piggybacking off that idea:
- Store feature toggles in source control
- Production reads from the source control file for its feature toggles
- In UAT, we could have the ability to override these and temporarily enable bleeding edge features. However, we'd also have a function to `FeatureToggles.res

[2017-08-09 18:14] mmlumba commented on #2820
@gnakm What's the space between the red line and the divider underneath the column names? 30px?

[2017-08-09 18:20] evankroske commented on #2925
Could you add more context on the issue? "Summary" and "Impact" sections would be helpful

[2017-08-09 18:35] joofsh opened #2930 "Track last login timestamp for users"
Prerequisite eFolder ticket: https://github.com/department-of-veterans-affairs/caseflow-efolder/issues/589

As an internal Caseflow admin, I'd like to track the time that each user last logged in.

#### Acceptance Criteria
- Add a last login timestamp column to the User table
- When looking up the `current_user` from the session cookie, check the last login timestamp attribute. If it does not matc

[2017-08-09 18:46] joofsh opened #2931 "Re-enable System Admin role"
Prerequisite tickets:
https://github.com/department-of-veterans-affairs/caseflow-efolder/issues/589
https://github.com/department-of-veterans-affairs/caseflow/issues/2930

Currently the System Admin role is essentially [disabled](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/user.rb#L66). We'd like to re-enable System Admin role and only grant it to internal Cas

[2017-08-09 19:07] NickHeiner commented on #2847
I've updated the ticket with AC. Sorry about omitting it originally! :smile:

[2017-08-09 19:20] aroltsch commented on #2691
@cmgiven could you please clarify, when you say "When AOD is checked on the daily docket", do you mean `granted`? We have 3 options for aod:
[code]

Also, if aod is set to `nil` or `:none` do we want to delete a diary entry?

[2017-08-09 19:48] kierachell commented on #2864
**PASSED**

Will recreate the issue when I can truly reproduce it.

[2017-08-09 19:48] #2864 closed

[2017-08-09 19:54] kierachell commented on #2722
### Reproducible steps:

- open a 1 page document
- wait for it to start rendering
- Try to navigate to another page
- see the page lock up for a second
- Open a 99 page document
- Try to navigate away when it start rendering
- Wait for a long time

[2017-08-09 20:58] mdbenjam commented on #2679
Seems to be the same as this issue: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/347/

[2017-08-09 21:05] gnakm commented on #2820
Marian and I discussed in person that we should use default style guide spacing.

[2017-08-09 23:35] kierachell commented on #2925
- I added a `feature toggler` to the `/test/setup` page a while back but it has evolved so much since then that I did not keep up. I will make an issue to bring it up to date.
- I would need more than a reset, but a list of "production-ready" features since we have very specific combinations of how we use it.

[2017-08-10 00:19] kierachell opened #2935 "Document Viewer | Refresh page resets Document Viewer to single document view and clears Document List"
# Description
When viewing a Document,
if I refresh the page...
the document is no longer fetched.

## Reproduction Steps

**Scenario 1 -**

1. Go to view a document
1. Refresh page
1. Not see the PDF
1. Go to Document List
1. See only one document????

**Validated in the following Environment(s)**
- [ ] Dev
- [X] UAT
- [ ] Preprod
- [ ] Prod

## Logs:

[code]

## Screenshots
**_Scenario 1 - [Refr

[2017-08-10 00:25] kierachell opened #2936 "Document Viewer | Blank comments cause sentry/DB errors that look ugly"
# Description
When leaving empty Comments (blank, or just line breaks),
there's no need to invalidate it at DB level and cause Sentry alerts

## Reproduction Steps

**Scenario 1 -**

1. Go to Document view
1. Start leaving a comment
1. Enter only whitespace or only linebreaks
1. Try to save
1. Get error that looks ugly
1. See Sentry alerts

**Validated in the following Environment(s)**
- [ ] Dev
-

[2017-08-10 00:35] kierachell opened #2937 "Document Viewer | Moving between documents with eFolder service enabled is laggy af"
POTENTIAL DUPLICATE FEEL FREE TO IGNORE I made this to separate from "extra network calls" issue

# Description
When viewing a document in peace,
sometimes rendering of a document locks up the whole UI making it unresponsive

## Reproduction Steps

**Scenario 1 -**

## Steps
- Open PDF viewer
- Browser between documents
- Browser between a lot of documents
- Listen to the machine start to work
- H

[2017-08-10 00:39] kierachell commented on #2436
sadface

[2017-08-10 00:39] #2436 closed

[2017-08-10 01:48] kierachell opened #2938 "Prometheus | External API calls made on Sidekiq jobs are not logged in /metrics"
why? beats me

- Start a background Sidekiq job in EX
- go to Prometheus dashboard
- not see VBMS/BGS/VACOLS requests made
- scratch head

[2017-08-10 09:42] lakohl opened #2939 "Ensure that we are routing Camp LeJeune cases correctly"
We should not be routing to RO 70 as it is just used as a place to store and keep track of Contaminated Water at Camp LeJeune appeals in VACOLS.

Instead, we should be routing them to RO 327, as they only have one RO code in VBMS.

Backstory and more context here: https://github.com/department-of-veterans-affairs/appeals-design-research/issues/362#issuecomment-321002536

[2017-08-10 10:12] kierachell commented on #2939
There is no RO 327. There is RO27 which maps to station 327. Which is where those cases go already. What we do have is cases that come from RO70. Should they get CWCL marked automatically ?

[2017-08-10 10:18] lakohl commented on #2939
@kierachell we have cases that come from RO70 in Dispatch?
What is CWCL?

[2017-08-10 10:42] kierachell commented on #2939
So in VACOLS an appeal will have Regional Office 70 (BFREGOFF column). It will come to us and depending on the Special Issue Category selected in Dispatch - the End Product created for that Appeal will be sent to a Station of Jurisdiction corresponding to that Regional Office.

Previously, we didn't have a Station of Jurisdiction for Regional Office 70. So it was causing errors in Dispatch. After

[2017-08-10 10:55] lakohl commented on #2939
@kierachell this sound right to me. @Chingujo and @abbyraskinUSDS to confirm.

[2017-08-10 12:54] astewarttistatech commented on #2792
Current View:

![readermenu1](https://user-images.githubusercontent.com/23038505/29171050-1dbea2bc-7da9-11e7-82e9-6bddeedd9677.gif)

[2017-08-10 13:11] cmgiven commented on #2691
If AOD is either granted or filed, we should create the diary. Yes, I think it's appropriate to delete it, using the same logic as for the hold open.

[2017-08-10 13:52] astewarttistatech commented on #2847
**PASSED**

Env: UAT
Browser: Chrome

Steps to Validate:
1. Access Reader with a unique css_id
2. In the Network tab of the browser's Inspector tool, look for the UID value.
3. Perform a few tasks in the flow of reader to validate that the UID value is constant.
4. Log out of that css_id and log back in as another css_id
5. Check the UID value in the Network tab to make sure it is a different valu

[2017-08-10 13:52] #2847 closed

[2017-08-10 13:54] astewarttistatech commented on #2375
**FAILED**

Env: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Reader
2. In the side menu under Document Information, make sure the variables listed in the AC/Mocks are present.

Current view:
![readermenu1](https://user-images.githubusercontent.com/23038505/29173637-ebf31e08-7db1-11e7-962b-4e400d05840c.gif)

[2017-08-10 14:05] #2887 closed

[2017-08-10 14:09] mdbenjam opened #2940 "Remove respond to code from Reader::AppealController#show"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/338/

We currently check for what format the request comes in, but then ignore html requests. Instead we should redirect the user to a useful URL.

# AC
1) Verify when a user goes the URL: reader/appeal/:id we forward them to reader/appeal/:id/documents

[2017-08-10 14:24] lakohl opened #2941 "Feature Flag | VVA | Enable for RMC users"
RMC users would like access to eX + VVA

Suggestion is to enable the VVA feature flag for RMC users in phases starting on Thursday, Aug 24, 2017.

## Acceptance Criteria
1.	Verify that the feature flag has been enabled for the following Reader users only on the following days/times:

     Date | Time |User Group | User ID | Name
     ---|---|---|---|---|

# Related Stories
EPIC: IP | eFolder Expre

[2017-08-10 14:41] tejans24 commented on #2375
* Editing fields is out of scope for this issue. AC should be updated accordingly.
* If there are no issues, A "No issues on appeal" message is shown. This needs to be added to the AC as well.

[2017-08-10 15:03] astewarttistatech commented on #2375
@tejans24  AC is still not updated.

[2017-08-10 15:09] lakohl commented on #2941
Sent Kyle an email on 8/9 requesting a list of employees.

[2017-08-10 15:11] gnakm commented on #2924
@tejans24 Clarification needed! What exactly are the parameters of the search right now? Are we able to see only active appeals vs. appeals that have decisions.

[2017-08-10 15:13] gnakm commented on #2375
@astewarttistatech AC updated.

[2017-08-10 15:21] kierachell commented on #2198
## Detecting PMC-routed EPs:
Is happening now, so that's done:
<img width="923" alt="screen shot 2017-08-10 at 11 20 31 am" src="https://user-images.githubusercontent.com/18075411/29177907-fda05628-7dbd-11e7-92fa-6c2771736bba.png">
<img width="723" alt="screen shot 2017-08-10 at 11 21 30 am" src="https://user-images.githubusercontent.com/18075411/29177934-137feb52-7dbe-11e7-8172-f0066220c6e8.png">

[2017-08-10 15:22] joofsh commented on #2198
@kierachell  The second part of the issue **Detecting existing EPs is inconsistent?**. It looks like the "172 - BVA Grant" is the existing EP that we do not detect, correct? Do you know what the `claim_type_code` is for that EP?

[2017-08-10 15:33] joofsh commented on #2198
Spoke with Artem and both issues have been addressed. Closing this issue for now!

[2017-08-10 15:33] joofsh commented on #2198
**PASSED**

[2017-08-10 16:47] kierachell commented on #2472
**PASSED**
Just know that it gets a bunch of notes:
[code]

[2017-08-10 16:47] #2472 closed

[2017-08-10 16:57] sharonwarner opened #2943 "[Backend] Save Add On to VACOLS"
Requires #2956

The HEARSCHED table has a new field: 'addon'. We need to create a mapper to accept true/false from the frontend and send 'Y' or 'N' to VACOLS.

Acceptance Criteria:
- Send a mocked hearing with addOn to VACOLS and save it correctly in the Rails console

Technical Notes:
- No need to connect it to the frontend yet

[2017-08-10 17:13] lakohl commented on #2939
sounds like this is taken care of

[2017-08-10 17:13] #2939 closed

[2017-08-10 17:18] joofsh commented on #2034
Closing this issue, no longer needed

[2017-08-10 17:18] #2034 closed

[2017-08-10 19:03] abbyraskinUSDS commented on #1957
Haven't seen/heard this again. Closing.

[2017-08-10 19:03] #1957 closed

[2017-08-10 19:29] kierachell commented on #2692
### When `hold_open` set to 0 the Note should be deleted
<img width="470" alt="screen shot 2017-08-10 at 3 28 22 pm" src="https://user-images.githubusercontent.com/18075411/29188269-a0c8e6cc-7de0-11e7-9534-090f9b4c247d.png">

[2017-08-10 19:32] kierachell commented on #2819
**PASSED**
LGTM
<img width="641" alt="screen shot 2017-08-10 at 3 31 45 pm" src="https://user-images.githubusercontent.com/18075411/29188437-0e836250-7de1-11e7-8119-b52874b17d05.png">

[2017-08-10 19:32] #2819 closed

[2017-08-10 19:35] kierachell commented on #2156
**PASSED**

![annotaitons](https://user-images.githubusercontent.com/18075411/29188571-81bba0d4-7de1-11e7-8d20-0b19804c8828.gif)

[2017-08-10 19:35] #2156 closed

[2017-08-10 19:41] kierachell commented on #2724
**PASSED**

<img width="679" alt="screen shot 2017-08-10 at 3 41 17 pm" src="https://user-images.githubusercontent.com/18075411/29188815-67bcc252-7de2-11e7-904e-d5e3048f41b8.png">

[2017-08-10 19:41] #2724 closed

[2017-08-10 19:43] kierachell commented on #2792
# The `!` is missing
<img width="428" alt="screen shot 2017-08-10 at 3 42 19 pm" src="https://user-images.githubusercontent.com/18075411/29188878-97ab862e-7de2-11e7-8bd3-ec2aef9721ab.png">

[2017-08-10 19:49] gnakm opened #2947 "Welcome page | Change search ui component"
## Description
Right now the search in the welcome page works the way the search in document list works (type ahead...). This is the wrong feature for this task because a user can type in (the wrong) valid ID for a shorter number without completely typing in an ID.

## AC
- [x] Switch the search so that it is using the [Style guide big search](http://dsva-appeals-certification-demo-1715715888.us-g

[2017-08-10 19:56] abbyraskinUSDS opened #2948 "Claims Folder | Investigate alternatives to double-scroll interaction on list view"
We currently have 2 scroll bars on the documents list view, which is not great from a usability standpoint. Users sometimes tried scrolling on the outer scrollbar and were initially confused about how to scroll through their entire document list.

![doublescrollbar](https://user-images.githubusercontent.com/3885236/29641581-3bc334f6-8832-11e7-997a-c4cb35498bda.gif)

Note: When we encountered this

[2017-08-10 20:06] mdbenjam commented on #2406
This should be fixed now.

[2017-08-10 20:07] mdbenjam commented on #2016
This should no longer be a problem.

[2017-08-10 20:59] gnakm commented on #2792
@kierachell I made an exception for no spinner in this one because the grey in the spinner is the same color as menu background color and don't want to change what's been standardized.

@tejans24 You are missing the ! icon.

[2017-08-10 21:10] joofsh opened #2950 "[Frontend] Hearing Worksheet : Persist Issues Information to redux allow, deny, remand, and dismiss"
prerequisite backend ticket: https://github.com/department-of-veterans-affairs/caseflow/issues/2961

Hook up the remaining editable fields in the Issues section on the hearing worksheet page to the Redux store

Acceptance Criteria:
- Connect the `allow`, `deny`, `remand`, and `dismiss` checkboxes to the redux state on initial pageload. These should all map to boolean attributes in the store
- On u

[2017-08-10 21:13] gnakm opened #2951 "Document list | Remove search button from search box"
## Description
Right now, the search button is not functional for the search feature in documents list. It is confusing and according to our google analytics, it is hardly clicked on.

## AC
- [ ] Remove the search button in the search box
- [ ] Add in search box "Type to search..." (italicized)

## Mockup
![image](https://user-images.githubusercontent.com/13420618/29192359-2aa50476-7def-11e7-802a

[2017-08-10 21:17] gnakm opened #2952 "Style guide component | Add type ahead search"
## Description
As a designer and developer, I want to know every kind of search feature available on caseflow style guide.

## AC
- [ ] Add a search type ahead from reader under small search in the [search section](http://dsva-appeals-certification-demo-1715715888.us-gov-west-1.elb.amazonaws.com/styleguide#search)
- [ ] Add in search box "Type to search..." (italicized)

## Mockup
![image](https:/

[2017-08-10 21:25] joofsh opened #2953 "[Backend] Hearing Worksheet | Update Hearing Worksheet controller to return real data Part 2"
We want to show real data on the hearing worksheet page. In order to do that, we need to update the hearing to_hash method with the correct attributes

### Acceptance Criteria
- _Conditionally_ add nested `appeals` array to hearing model `to_hash` method. Default to _not_ adding the appeal sub-object.
- Appeals array should be hooked up to the `active_appeal_streams` completed in [this ticket](htt

[2017-08-10 21:31] joofsh opened #2954 "[Backend] Hearing Worksheet | Update Hearing Worksheet controller to return real data Part 3"
We want to show real data on the hearing worksheet page. In order to do that, we need to update the hearing to_hash method with the correct attributes

#### Acceptance Criteria
- Add an `issues` attribute to the `hearing.to_hash.issues` nested object. This key maps to an array of issue sub-objects. The issue object should include the following keys:
   - Values from VACOLS DB: (Program, type, leve

[2017-08-10 21:35] kierachell commented on #2016
**PASSED**
SCROLLBARS FOR THE WIN
<img width="405" alt="screen shot 2017-08-10 at 5 34 55 pm" src="https://user-images.githubusercontent.com/18075411/29193203-44aab1a6-7df2-11e7-9bbb-7efc6cae0361.png">

[2017-08-10 21:35] #2016 closed

[2017-08-10 21:38] kierachell commented on #2406
**PASSED**
It's an edge case anyway

[2017-08-10 21:38] #2406 closed

[2017-08-10 21:54] joofsh opened #2955 "[Backend] Hearing Worksheet | Update Hearing Worksheet controller to return real data Part 4"
We want to show real data on the hearing worksheet page. In order to do that, we need to update the hearing worksheet controller to connect to real data

#### Acceptance Criteria
- Add two new keys to the "deep" `hearing.to_hash` method. Those keys:
  - a "total documents in eFolder". This should be a count of all documents in the Veteran's eFolder
  - a "total documents since certification date".

[2017-08-11 12:37] Chingujo commented on #2939
Sorry for missing this but yes that sounds right. RO 327 owns both 70 and 24. For camp L they should be routed to RO 324. 70 is just a location they use to dump appeals but in terms of VBMS Louisville only has one code which is 327.

[2017-08-11 13:08] sharonwarner opened #2956 "[Frontend] Save Add On to Redux"
Requires #2884

Acceptance Criteria:
- Ensure addOn is initially saved to redux store on pageload
- On user input change, update the redux store accordingly

Technical Notes:
- Do not update any of the backend code
- Do not update any backend calls

[2017-08-11 14:04] tejans24 commented on #2792
I am reusing the alert component. That should show up automatically. This is working locally for me. Are there any errors in the network tab?

[2017-08-11 14:07] tejans24 commented on #1853
@abbyraskinUSDS What's supposed to happen with these headers in correlation with the screen readers?

[2017-08-11 14:14] sharonwarner opened #2957 "[Frontend] Daily Docket | Pre-save 'edited' field on hearings redux state"
When we need to update Redux, we need to mark what's been updated so we can know whether or not to send a request to the backend.

Example:

![Screen Shot 2017-08-14 at 10.02.17 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/582a398e7d9c5f1300c030ee/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b772b6455f76b7191a379ef0c2b53415e49bc30254d58eeb9cb74fce36f349

[2017-08-11 14:46] sharonwarner opened #2959 "[Frontend] | Daily Docket post-save redux updates"
Requires #2475

When we trigger a save, we need to update the Redux state to reflect the save.

Acceptance Criteria:
- After a successful call to the backend, the 'edited' field on the hearing's state should be reset to `false`

Tech notes:
- The backend call should be stubbed out for now

[2017-08-11 14:49] mdbenjam opened #2960 "UI lockup when using eFolder endpoint"
Currently when we turn on the eFolder integration, EVERYTHING HANGS when switching PDFs.

# AC
1. Verify when moving between PDFs, the UI doesn't hang.
1. Verify that the PDFs are still being cleaned up (i.e. there is no JS memory leak).

[2017-08-11 15:12] kierachell commented on #2792
**PASSED**

<img width="412" alt="screen shot 2017-08-11 at 11 11 48 am" src="https://user-images.githubusercontent.com/18075411/29219423-fa2b2c48-7e85-11e7-8d14-e8ca87dae7d6.png">

[2017-08-11 15:12] #2792 closed

[2017-08-11 15:14] joofsh opened #2961 "[Backend] Hearing Worksheet | Update database columns"
Add new columns to store information about judge's impressions regarding an appeals issues

#### Acceptance Criteria
- Delete current `hearing_worksheet_status` and related code from the Issue model/table
- Add 4 new boolean columns to the `Issue` table: `allow`, `deny`, `remand`, and `dismiss`

[2017-08-11 15:15] mdbenjam opened #2962 "Reader making unneccessary calls to get documents"
If you move between documents somewhat quickly you can start loading a document then switch to the next document before the first request finishes. We should stop trying to load the first document since it uses up one of our network requests.

Look at calling `.destory` here:
https://mozilla.github.io/pdf.js/api/draft/PDFDocumentLoadingTask.html

[2017-08-11 15:32] kierachell commented on #2375
## Not seeing AOD/CAVC show up in the Menu
<img width="412" alt="screen shot 2017-08-11 at 11 11 48 am" src="https://user-images.githubusercontent.com/18075411/29220339-be098608-7e88-11e7-86d4-36d00d09e5b8.png">
<img width="448" alt="screen shot 2017-08-11 at 11 15 15 am" src="https://user-images.githubusercontent.com/18075411/29220338-be08290c-7e88-11e7-97d7-ca1c70939d20.png">
<img width="567" al

[2017-08-11 15:46] joofsh opened #2963 "[Backend] Hearing Worksheet | Update Hearing Worksheet controller to return real data Part 1"
We want to show real data on the hearing worksheet page. In order to do that, we need to update the hearing to_hash method with the correct attributes

#### Acceptance Criteria
- Update hearing model `to_hash` to include additional information about the veteran
  - Veteran age (must map date of birth from VACOLS and then calculate)
  - Veteran name
  - Appellant City & State  (must newly map these

[2017-08-11 15:47] joofsh commented on #2219
Closing. Better tickets exist

[2017-08-11 15:47] #2219 closed

[2017-08-11 15:54] joofsh opened #2964 "[Frontend/Backend] Hearing Worksheet | Connect page to real data from backend Part 2"
Prerequisite backend tickets:

https://github.com/department-of-veterans-affairs/caseflow/issues/2953
https://github.com/department-of-veterans-affairs/caseflow/issues/2954
https://github.com/department-of-veterans-affairs/caseflow/issues/2955

Prerequisite frontend ticket:
https://github.com/department-of-veterans-affairs/caseflow/issues/2857

Populate the hearing worksheet page "top section" wit

[2017-08-11 16:01] joofsh opened #2966 "[Frontend/Backend] Hearing Worksheet | Connect page to real data from backend Part 3"
Prerequisite backend tickets:

https://github.com/department-of-veterans-affairs/caseflow/issues/2953
https://github.com/department-of-veterans-affairs/caseflow/issues/2954
https://github.com/department-of-veterans-affairs/caseflow/issues/2955

Prerequisite frontend ticket:
https://github.com/department-of-veterans-affairs/caseflow/issues/2857
https://github.com/department-of-veterans-affairs/case

[2017-08-11 16:02] joofsh opened #2967 "[Frontend/Backend] Hearing Worksheet | Connect page to real data from backend Part 4"
Prerequisite backend tickets:

https://github.com/department-of-veterans-affairs/caseflow/issues/2953
https://github.com/department-of-veterans-affairs/caseflow/issues/2954
https://github.com/department-of-veterans-affairs/caseflow/issues/2955

Prerequisite frontend ticket:
https://github.com/department-of-veterans-affairs/caseflow/issues/2857
https://github.com/department-of-veterans-affairs/case

[2017-08-11 16:26] astewarttistatech commented on #2820
**PASSED**

Env: UAT
Browser: FF and Chrome

Steps to Validate:
1. Log into Reader with a Judge or Attorney's css_id
2. Navigate to the Welcome Gate
3. Verify that the all of the table is top aligned

Screenshots:
![readertablealign1](https://user-images.githubusercontent.com/23038505/29222401-519dd46c-7e90-11e7-9093-c4d731f4fb45.png)

[2017-08-11 16:26] #2820 closed

[2017-08-11 16:44] mmlumba opened #2969 "Document Viewer | Moving annotations in Firefox redirects to empty page"
# Description
Using Firefox
When moving a created Annotation across a PDF page
I am redirected to an invalid URL; probably coordinates are not parsed correctly

## Reproduction Steps

**Scenario 1 -**

1. Go to Document Viewer
1. Use Firefox
1. Make a comment
1. Save it.
1. Drag it.
1. Crash

**Validated in the following Environment(s)**
- [x] Dev
- [x] UAT
- [ ] Preprod
- [ ] Prod

## Screenshots

[2017-08-11 16:44] mmlumba commented on #2969
@Sjones352 originally found the bug and I and @kierachell can confirm

[2017-08-11 17:04] astewarttistatech commented on #2712
**PASSED**

Env: UAT
Browser: Chrome

Steps to Validate:
1. Access Reader
2. Open a document that doesn't have any issue tags
3. Open Inspector for the browser
4. Open the Console tab
5. Create an issue tag for the document
6. Verify that no errors are triggered

Screenshots:
![issuetags](https://user-images.githubusercontent.com/23038505/29223744-a96ee122-7e95-11e7-9954-ce6096b56e07.gif)

[2017-08-11 17:45] nolawi opened #2970 "Change dockets hearing notes to global textarea component"

[2017-08-11 17:47] nolawi commented on #2719
this should be closed @kierachell I think

[2017-08-11 20:22] nemodjuric commented on #2694
FeatureToggle.enable!(:certification_v2, regional_offices: ["RO62", "RO21", "RO49", "RO39", "RO50", "RO23", "RO36", "RO42", "RO41", "RO51"])
=> true

[2017-08-11 20:25] #2694 closed

[2017-08-11 22:18] kierachell commented on #2939
### So uh.... nobody answered this:

Kind of like we do for Private Attorney cases?
@cmgiven @lakohl @Chingujo ... anyone?

[2017-08-11 22:57] kierachell commented on #2960
related? https://github.com/department-of-veterans-affairs/caseflow/issues/2937

[2017-08-13 12:37] kierachell commented on #2727
wrong repo

[2017-08-13 12:37] #2727 closed

[2017-08-13 12:39] kierachell commented on #1046
**PASSED**

fixed by a nginx server

[2017-08-13 12:39] #1046 closed

[2017-08-13 19:36] kierachell commented on #2962
That or the browser cache is not working?

[2017-08-14 03:22] joofsh opened #2974 "SPIKE: Verify Hearing Schedule Pilot Plan on VACOLS dev"
Before conducting the hearing schedule AM/PM shift pilot, we want to verify creating 2 master hearing records for the same room will not break VACOLS GUI.  On VACOLS dev:

- [x] manually insert 2 master records assigned to the same room/day but different ROs, verify it does not break the VACOLS GUI for either RO
- [x] manually insert 2 master records assigned to the same room/day and to the same R

[2017-08-14 11:06] astewarttistatech commented on #2473
**FAILED** @sharonwarner

Current view (UAT):
<img width="1436" alt="screen shot 2017-08-14 at 7 02 55 am" src="https://user-images.githubusercontent.com/23038505/29269287-ab3df9fe-80be-11e7-9b3d-c9c9043da83d.png">

Console output:
<img width="1430" alt="screen shot 2017-08-14 at 7 04 04 am" src="https://user-images.githubusercontent.com/23038505/29269364-0de96732-80bf-11e7-8fa4-9b5c6eca7e2e.png">

[2017-08-14 11:15] astewarttistatech commented on #2421
**PASSED**

Env: UAT
Browser: FF and Chrome

Steps to Reproduce:
1. Log into the UAT environment of Caseflow with a css_id that has a name associated it with it (found in Rails or VACOLS)
2. Access Certification V2 with an appeal that is ready to certify
3. Navigate to the Sign and Certify page
4. Validate upon page upload, the DRO's name is preloaded
5. Select that text field and edit the text.

[2017-08-14 11:15] #2421 closed

[2017-08-14 11:17] astewarttistatech commented on #2741
@aroltsch In the process of uploading missing decisions

[2017-08-14 12:51] kierachell commented on #2692
**PASSED**

- Checked with no notes
- Overriding notes
- 0 holddays
- nil holddays

[2017-08-14 12:51] #2692 closed

[2017-08-14 13:23] Chingujo commented on #2939
TLDR: Normally yes. However, there could be routing changes in the mix with Camp L according to Louisville coach. Less we have a way of receiving routing changes from AMO, might want to avoid auto checking until we find out what and when.

Normally yes...as there is only one VACOLS code with Camp L and according to the coach at Louisville there is one location for these type of appeals and only on

[2017-08-14 13:25] kierachell commented on #2691
**PASSED**

- Checked setting to `nil`
- Checked with BFSO=G and without
- Checked changing Filed to Granted and back
- Checked deleting manually

[2017-08-14 13:25] #2691 closed

[2017-08-14 15:14] evankroske commented on #2703
It's "Acceptance Criteria"

[2017-08-14 15:14] NickHeiner commented on #2712
@astewarttistatech those are not the right validation steps. I can follow the validation steps listed here and follow the gif, and even before the bugfix was merged (at `f8501b5e~1`), I do not reproduce the issue.

The key problem was opening the doc in "single document mode". That's the point of refreshing the page in the repro steps listed in the issue description:

We need to specifically see t

[2017-08-14 15:14] abbyraskinUSDS opened #2975 "Welcome Gate | VLJ case assignments list is incomplete"
**Context**
A couple VLJs have mentioned they aren't seeing all their checked in cases in Reader. We met with a user, and it looks like cases that haven't been assigned in the DCASS table (no assigned date) aren't showing up on the Welcome Gate.

**Story**
When opening Reader, I want to see a full list of cases in my station, so I can use Reader to prepare for hearings and to pre-screen cases befo

[2017-08-14 15:23] mdbenjam opened #2976 "Remove remaining single document page code"
Connects: https://github.com/department-of-veterans-affairs/caseflow/pull/2871#issuecomment-322216604

In the above ticket, Nick pointed out dead code we forgot to remove.
<img width="786" alt="screen shot 2017-08-14 at 11 21 29 am" src="https://user-images.githubusercontent.com/3885236/29278482-da250036-80e2-11e7-9e08-3b0406be4f57.png">

# AC
1. Verify the above dead code is removed.
1. Verify th

[2017-08-14 15:28] evankroske commented on #2703
A similar change: https://github.com/department-of-veterans-affairs/caseflow/pull/2867

[2017-08-14 15:32] abbyraskinUSDS opened #2977 "Document List | Read/unread doc state reset"
### Description
A couple users mentioned that documents they had previously opened in Reader appeared as unread when they opened Reader today (Monday 8/14).

## Expected behavior
- If a document was previously opened by a user, it should not reset to bold (unread).

[2017-08-14 15:45] slj commented on #2956
This is handled in https://github.com/department-of-veterans-affairs/caseflow/pull/2968

[2017-08-14 15:46] kierachell commented on #2221
**PASSED**
I guess all the other tickets passed? or something... not sure why the UI is here

[2017-08-14 15:46] #2221 closed

[2017-08-14 15:51] abbyraskinUSDS opened #2978 "Welcome Gate | Sort order"
Judges may have many cases assigned to them at once (around 50); we should add a sort order to make this list easier to navigate.

## Acceptance Criteria
Welcome Gate is sorted by:
- date charged/assigned? oldest date at the top

[2017-08-14 15:56] kierachell commented on #2338
**PASSED**

<img width="526" alt="screen shot 2017-08-14 at 11 56 33 am" src="https://user-images.githubusercontent.com/18075411/29280008-a4303626-80e7-11e7-8b3b-3a08bce67110.png">

[2017-08-14 15:56] #2338 closed

[2017-08-14 16:03] slj commented on #2812
I think a more RESTful url would be `/hearings/<id>/worksheet`

[2017-08-14 16:10] astewarttistatech commented on #2712
Revalidated on 8/14/17

**PASSED**

Env: UAT
Browser: Chrome

Steps to Validate:

1. Access Reader
2. Open a document that doesn't have any issue tags
3. Open that document in a new tab, click the "open in new tab" icon next to the Document Type on the top of the PDF viewer.
4. In the new tab with the document open, open Inspector for the browser
5. Open the Console tab
6. Create an issue tag for

[2017-08-14 16:11] #2712 closed

[2017-08-14 16:14] astewarttistatech commented on #2473
@sharonwarner Any particular reason why this was moved back to in validation? It's still failing.

[2017-08-14 16:29] astewarttistatech commented on #2861
Changed AC for clarity.

[2017-08-14 16:40] Sjones352 commented on #2767
<img width="669" alt="screen shot 2017-08-14 at 12 39 14 pm" src="https://user-images.githubusercontent.com/23080951/29281616-c18171e4-80ed-11e7-8519-50a38951e393.png">

[2017-08-14 17:00] tejans24 commented on #2375
This should be good after https://github.com/department-of-veterans-affairs/caseflow/pull/2979 is merged into master.

[2017-08-14 17:19] tejans24 commented on #2375
#2979 is merged

[2017-08-14 17:30] amprokop commented on #2898
Removing this from Foxtrot and putting it in the Whiskey queue, since the Sentry breadcrumbs seem to show that this is a Reader error

[2017-08-14 17:31] gnakm commented on #2767
lgtm! @Sjones352

[2017-08-14 17:35] #2510 closed

[2017-08-14 17:58] astewarttistatech commented on #2741
**PASSED**

Env: UAT
Browser: Chrome

Steps to Validate:
1. Create a task in Dispatch
2. Change the attributes of that task in rails console (UAT) making the date created over the amount of days needed to be a "Missing Decision".
3. Access the Missing Decisions page as a manager in Dispatch
4. Validate that the Missing Decision has a name and initials associated with it.

Screenshots:
<img width="

[2017-08-14 17:58] #2741 closed

[2017-08-14 18:13] mmlumba commented on #2952
_For searches in general_
1. Are _all_ searches supposed to have [x] to the left of the search button when a user types in text?

_For Search Ahead_
1. Is there supposed to be no search button to the right of the search bar?
2. Do I need to add the toggle buttons for the search ahead component also?

[2017-08-14 18:45] astewarttistatech commented on #2375
**PASSED**

Env: UAT
Browser: FF and Chrome

Steps to Validate:
1. Access Reader with different Remands, Full Grants, and Partial Grants
2. Navigate to the a document in the document list
3. Verify in the menu that the DAS information is shown
4. Verify that CAVC/AOD's are mentioned in red text.
5. Verify that the information appears in the summary found on the Document Lists page as well as insid

[2017-08-14 18:45] #2375 closed

[2017-08-14 19:08] nolawi commented on #2838
<img width="441" alt="screen shot 2017-08-14 at 3 05 30 pm" src="https://user-images.githubusercontent.com/1745984/29287055-2f44cad2-8102-11e7-9b5e-a886d0f2494a.png">
is each box seperately true or false

[2017-08-14 19:40] gnakm commented on #2952
For searches in general
- yes

For Search Ahead
- no search bar
- > Do I need to add the toggle buttons for the search ahead component also?
    - confused by this @mmlumba

[2017-08-14 19:45] mmlumba commented on #2952
@gnakm Am I adding these to the style guide too:
![29192359-2aa50476-7def-11e7-802a-6c90727b826f](https://user-images.githubusercontent.com/4773320/29288651-86c2d57e-8107-11e7-94b0-c5344eaf8901.png)

[2017-08-14 19:58] gnakm commented on #2952
@mmlumba I am still confused. The search ahead component doesn't need a button. Do you mean adding the toggle button to style guide?

[2017-08-14 19:58] mmlumba commented on #2952
@gnakm Yes adding the toggle buttons to the search bar like in the mock

[2017-08-14 20:00] gnakm commented on #2952
Oh. No. That's just a mockup specifically for reader.

[2017-08-14 21:16] abbyraskinUSDS opened #2983 "Comments | Add optional date field to comments"
When adding comments to documents in Reader, I sometimes want to add a date to a comment, so I can note the date a fact in a case took place, and so I can later sort my comments chronologically.

## Acceptance Criteria
- After clicking + Add a comment, there should be an optional field for adding date (Style guide : [Date input](https://github.com/department-of-veterans-affairs/caseflow/issues/108

[2017-08-14 21:20] abbyraskinUSDS opened #2984 "Document list | Comments toggle: ability to sort by comment date"
When I've finished reviewing a file in Reader, I want to organize my comments chronologically so I can figure out the correct timeline of events in a veteran's appeal.

## Acceptance Criteria
- [ ] Verify that clicking on the comments toggle sorts the comments chronologically by relevant date (oldest to newest)
- [ ] All comments without relevant date goes to bottom and sorts by receipt date
- [ ]

[2017-08-14 21:25] abbyraskinUSDS commented on #2876
I think we should verify that we want to show the VACOLS representative vs. the POA (in VBMS, from BGS)

[2017-08-14 21:33] abbyraskinUSDS opened #2985 "Make page down great again"
https://github.com/department-of-veterans-affairs/caseflow/issues/3824 should be worked first.

**Current behavior**
A handful of users have reported frustrations with page down in Reader. They're frustrated by (a) the speed of scrolling within a document and (b) the apparent inability to view only 1 complete pdf page at at a time and scroll page by page.

**Expected behavior**
Users can navigate

[2017-08-14 21:38] abbyraskinUSDS opened #2986 "Welcome Gate | Add a cases count"
**Story**
When opening Reader, I want to know how many cases are checked in to me, so I have an idea of how many cases I have to complete. This is especially true for VLJs who tend to have many cases in their station.

**Mocks**

[2017-08-14 22:51] slj commented on #2956
@kierachell / @astewarttistatech this is essentially the same as #2884

[2017-08-14 22:55] joofsh opened #2987 "Spike: Investigate running VACOLS locally"
Related to running VACOLS on RDS: https://github.com/department-of-veterans-affairs/caseflow/issues/2680

Investigate how we could run VACOLS locally in development mode:

- How can we easily install & run oracle DB on mac? Dockerized?
- How can we load the VACOLS schema locally? How can we keep this schema up-to-date
- How can we easily pre-populate our local VACOLS DB with relevant data (from UA

[2017-08-15 00:17] mmlumba commented on #1807
Notes for Marian:
320x62px for Banner Lite
Font size 22px
Space between icon and text is 19px

[2017-08-15 12:46] kierachell commented on #2918
Retrieve job is posting under Dispatch's name
<img width="366" alt="screen shot 2017-08-15 at 8 44 47 am" src="https://user-images.githubusercontent.com/18075411/29316481-38052376-8196-11e7-97d7-92fd7e3f19c5.png">

[2017-08-15 13:39] nolawi opened #2990 "[Frontend] Hearing Worksheet : Persist Issues Information to redux descriptions"
connects #2838
Hook up part of the editable fields in the Issues section on the hearing worksheet page to the Redux store

Acceptance Criteria:

- Ensure `description` in the Issues section are initially saved to redux store on pageload.
- On user input change, update the redux store accordingly

Notes:
- Do not add the other preliminary impression checkboxes to redux
- Do not send the information

[2017-08-15 14:17] kierachell opened #2991 "Accordions | Accordions without kids causing JS errors... empty nest syndrome?"
# Description
Accordions are causing JS errors on all the pages where they are present.

## Reproduction Steps

**Scenario 1 -**

1. Go to Styleguide
1. Open JS console
1. See error
1. Go to Reader
1. Open page with Accordions
1. See errors

**Validated in the following Environment(s)**
- [X] Dev
- [X] UAT
- [ ] Preprod
- [ ] Prod

## Logs:

[code]

## Screenshots
**_Scenario 1 - [Lame]_**
<img wi

[2017-08-15 14:49] astewarttistatech commented on #2892
Because of hearing prep being down with https://github.com/department-of-veterans-affairs/caseflow/issues/2473. This ticket is blocked.

[2017-08-15 14:49] astewarttistatech commented on #2884
Because of hearing prep being down with #2473. This ticket is blocked.

[2017-08-15 15:04] nemodjuric commented on #2918
That is correct. Please include this one as well - ENV["SLACK_OUT_OF_SERVICE_REMINDER_URL"]
https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/jobs/out_of_service_reminder_job.rb#L26

[2017-08-15 15:14] kierachell commented on #2918
Yeah, you can modify message to anything necessary: so let's stick with one ENV var:

### Actions
- Get all the Slack VARs from Caseflow and Appeals-deployment
- Rename them all to one generic SALCK_ALERT_URL or whatever
- Make sure all webhooks use just that one var

[2017-08-15 15:40] abbyraskinUSDS commented on #1853
The screenreader doesn't need to read the tags themselves (e.g., "H1"), but it should read through each item in heading order as listed in the AC.

[2017-08-15 17:30] aroltsch opened #2994 "Out of stack space - Reader Internet Explorer issues"
Sentry links:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/328/
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/359/
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/357/

Note: we don't support IE and told ppl to use Chrome

[2017-08-15 18:54] joofsh commented on #2960
Mark and Alex spent the evening and afternoon debugging.'

In Pdf.jsx, the line `_.omit(this.predrawnPdfs, pdfsToKeep);` was found to be very slow (on the order of 1500 ms). This line runs several times.

If we roll our own implementation, it seems to fix the problem:
[code]

[2017-08-15 19:00] abbyraskinUSDS commented on #2787
@gnakm @tejans24 for the sake of prioritizing, do you know what it looks like to users today if there are no issues?

[2017-08-15 19:43] aroltsch commented on #2938
It seems as the link between push gateway <=> prometheus is broken. I am seeing that the metrics is set correctly in the EX sidekiq job
```@name=:vva_request_latency_summary, @docstring="latency of completed VVA requests", @base_labels={}>, :vva_request_attempt_counter=>#<Prometheus::Client::Counter:0x0055f5ca3dd6a8 @mutex=#<Thread::Mutex:0x0055f5ca3dd680>, @validator=#<Prometheus::Client::LabelSe

[2017-08-15 20:29] aroltsch commented on #2245
@cmgiven and @joofsh do you know which field in `brieff` should I be using to determine that an appeal is ready for hearing (a form 9 has been submitted, but no decision has yet been made). Can I use `brieff.bfha`?

[2017-08-15 20:48] tejans24 opened #2998 "Append 'C' or 'S' to veteran ids when searched in Case Select of reader"
When veteran id is searched by the user on the Case select page, the veteran id might need an 'S' or a 'C' based on how vbms_ids are stored in Vacols.

[2017-08-15 21:00] joofsh commented on #2245
we should be able to use `brieff.bfdec`. See us referencing it in [appeal repository](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/services/appeal_repository.rb#L109)

[2017-08-15 22:20] cmgiven commented on #2245
`BRIEFF.BFDDEC` is the decision date, yes. I believe we generally check for whether the stream has been finalized by looking for whether `BRIEFF.BFDC`, the appeal disposition, is null, but these should be set simultaneously. We know if a Form 9 has been submitted if `BRIEFF.BFD19 is not null`.

[2017-08-16 00:04] nolawi opened #2999 "Hearing Prep Redux Dev Tools seeing multiple instance"
<img width="1039" alt="screen shot 2017-08-15 at 8 02 34 pm" src="https://user-images.githubusercontent.com/1745984/29341813-d5124ec4-81f4-11e7-8a02-14dcc75a777a.png">

[2017-08-16 11:12] astewarttistatech commented on #2861
@nemodjuric  I had certification set to out of service all yesterday and monitored the #appeals-devops channel and slack and did not see any reminders.

**FAILED**

[2017-08-16 12:18] astewarttistatech commented on #2767
**PASSED**

Env: UAT
Browser: FF and Chrome

Steps to Validate:
1. Access Styleguide
2. Navigate to the colors section
3. Validate the new colors based on their HEX codes as well as AC and Mocks.

Screenshots:
<img width="1337" alt="screen shot 2017-08-16 at 8 16 37 am" src="https://user-images.githubusercontent.com/23038505/29362834-807cac1c-825b-11e7-8b06-6b6f36dc1b34.png">

[2017-08-16 12:18] #2767 closed

[2017-08-16 13:45] astewarttistatech commented on #2473
**FAILED** Sorry  @sharonwarner

Current View:

<img width="1437" alt="screen shot 2017-08-16 at 9 44 06 am" src="https://user-images.githubusercontent.com/23038505/29366280-9deb5594-8267-11e7-8cf4-011059f82682.png">

Resulting Sentry: https://sentry.uat.ds.va.gov/sentry/caseflow-uat/issues/419/

[2017-08-16 14:27] astewarttistatech opened #3000 "IE | Efolder | Coachmarks don't automatically start on start of session"
**Description:**

Currently, if logged into a eFolder with a css id that has coachmarks enabled and they do not start at the beginning of the session.

**Expected:**
Coachmarks start at the beginning of the session.

**Env:** UAT
**Browser:** IE

**Notes:** Conflicts with: https://github.com/department-of-veterans-affairs/caseflow-efolder/issues/517

**Steps to Reproduce:
1. Access an eFolder with

[2017-08-16 14:43] nemodjuric commented on #2457
@mdbenjam @amprokop This issue does not seem to be current anymore. These tests are part of current build and they are passing.

[2017-08-16 14:45] nemodjuric commented on #2861
@astewarttistatech Validation for this issue should wait for https://github.com/department-of-veterans-affairs/caseflow/issues/2918 to be fixed.

[2017-08-16 14:48] astewarttistatech commented on #2341
**FAILED**

Documents have been cleared and the latest document is from August 9th.

Sorry @tejans24

[2017-08-16 14:57] tejans24 commented on #2341
Weird, I'll look into this issue.

[2017-08-16 15:21] slj commented on #2893
@lakohl or @annienguyenUSDS is this what you're expecting?

![fix-dd-notes](https://user-images.githubusercontent.com/1053255/29370930-db7dc1a0-8274-11e7-8579-d9442254a9a2.gif)

[2017-08-16 15:59] slj commented on #2894
Is this a definite requirement?  If we train judges to use the browser's built-in capability to open in new tabs, then we satisfy those who prefer the two-tab workflow w/o aggravating those users who may not care for it.  Thoughts?

[2017-08-16 16:04] astewarttistatech commented on #1807
**PASSED**

Env: UAT
Browser: FF and Chrome

Steps to Validate:
1. Access Styleguide
2. Navigate to the Alerts section
3. Validate that the Alerts-lite section roughly matches the AC and mocks posted

Screenshots:
<img width="1440" alt="screen shot 2017-08-16 at 11 50 19 am" src="https://user-images.githubusercontent.com/23038505/29373095-1ca3b940-827b-11e7-9a35-af389d507f31.png">

[2017-08-16 16:04] #1807 closed

[2017-08-16 16:23] sharonwarner opened #3001 "Remove vacols_id references from Users"
In the hearings repository, we reference a removed column from the Users table.

https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/repositories/hearing_repository.rb#L49

This is causing Sentry errors:

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/362/

[2017-08-16 16:41] aroltsch commented on #2938
More debugging - confirms that stats make it successfully to the Push gateway: http://prometheus.uat.ds.va.gov:9091

![image](https://user-images.githubusercontent.com/3811786/29374671-3ade709e-8280-11e7-819a-e37900d2d8fa.png)

![image](https://user-images.githubusercontent.com/3811786/29374673-3eb5960c-8280-11e7-9f1c-6760db41f16f.png)

[2017-08-16 18:06] aroltsch commented on #2938
Shane fixed it! Stats should be showing up in Prometheus.

[2017-08-16 18:42] mdbenjam commented on #2975
The issue here is we're doing an inner join between DECASS and BRIEFF but should do a left join. We probably need to write some raw SQL. I think I know the change, but would prefer to wait until I'm back online next Wednesday to implement it. Don't want this to break something else while Artem and I are out.

[2017-08-16 19:43] tejans24 commented on #2947
@gnakm So, should we not search if user presses the 'enter' key in the search bar?

[2017-08-16 19:49] tejans24 commented on #2947
#2952 might also be a dependency of this issue.

[2017-08-16 19:55] Sjones352 commented on #2795
<img width="740" alt="screen shot 2017-08-16 at 3 54 47 pm" src="https://user-images.githubusercontent.com/23080951/29382653-44b1f5e4-829b-11e7-9fcf-49c2770a6a1e.png">

[2017-08-16 19:58] annienguyenUSDS commented on #2893
@slj 1 & 2 looks good. I don't know what "3. Adjust Note box accordingly" since it's the UI is not responsive, it all looks a little wonky. Can you clarify a bit more if possible?

[2017-08-16 20:43] abbyraskinUSDS opened #3004 "Document viewer | Bug: copy/paste removes spaces between words"
**Current behavior**
When a user copies text from a document in Reader, then pastes it into Word (e.g., if they want to quote part of a document in their final decision), all formatting is removed from the text (so it's all one big word). Some users have also reported this happening when pasting from the document to a comment in Reader.

**Expected behavior**
- We should keep all formatting to the

[2017-08-17 13:09] astewarttistatech commented on #2590
**PASSED**

Env: UAT (console)

Steps to Validate:
1. Open Rails console for the UAT environment
2. Run the VACOLS::CaseHearing.upcoming_for_judge query with the css_ids we have for Hearing prep.
3. Validate that hearings do return as a result of the query.

Screenshots:
CF_SCOTTY_398
<img width="1432" alt="screen shot 2017-08-17 at 9 05 51 am" src="https://user-images.githubusercontent.com/230385

[2017-08-17 13:14] #2590 closed

[2017-08-17 15:04] joofsh opened #3008 "Post Mortem: [08/17/2017] - Appeal status API partial outage"
Date: 08/17/2017
Authors: JD Pagano
Status: Resolved

## Summary
Caseflow was deployed to production on 08/17/2017 including a DB migration removing a column. Code still existed that referenced this column,  causing requests to the appeals status API to result in 500 status codes. This occurred **only** for appeals with an associated hearing. The code in question was linked to a ticket that had no

[2017-08-17 15:14] nemodjuric commented on #2861
@astewarttistatech https://github.com/department-of-veterans-affairs/caseflow/pull/3007 unblocked this issue. It's ready for verification.

[2017-08-17 17:21] amprokop opened #3010 "Reader job incorrectly logs documents that we've already cached in S3 as failures"
For each document we fetch in the RetrieveDocumentsForReader job, we call `record_doc_outcome` with the output of `fetch_document_content`:

[code]

[code]

^ If `doc` is not present, we record it as a failure.

`fetch_document_content` returns `doc.fetch_content_unless_cached` if the eFolder API isn't enabled.

Unfortunately, `fetch_content_unless_cached` will return nil if we find the file cache

[2017-08-17 17:40] amprokop commented on #2457
cool, closing

[2017-08-17 17:40] #2457 closed

[2017-08-17 17:40] slj commented on #2475
After some thought, I've prototyped a simpler component than the one requested.  It cares about 3 properties only:
- `app` (string name of the app / used to determine spinner color)
- `isSaving` (boolean)
- `beforeWindowClosesActionCreator` (function)

The idea is that this component doesn't know anything about timings or other UI events.  If you call it with `true` it renders "Saving..." with an

[2017-08-17 17:43] joofsh opened #3011 "Add unit tests for real hearing_repository"
A couple of the methods in hearing_repository are unit testable, so we should test them. Lack of unit tests around these methods caused a [production outage](https://github.com/department-of-veterans-affairs/caseflow/issues/3008)

### Acceptance Criteria
- For the methods that we can unit test, add them! This includes `set_vacols_values` and `hearings_for`. See [appeal repository spec](https://git

[2017-08-17 18:19] sharonwarner commented on #2475
Yeah, submit a 'WIP' PR so I can take a look.

[2017-08-17 19:00] abbyraskinUSDS commented on #2985
@mdbenjam can you weigh in on this?

[2017-08-18 12:31] mogrenAtWork commented on #3010
Returning a value for `fetch_content_unless_cached` in every case would cause the batch job to loop over the same 1500 documents each time it's executed.

I've moved the functionality of this method into the batch job.

There's still a problem of not being able to tell how many documents were pulled from VBMS when we start using eFolder.

[2017-08-18 15:12] mogrenAtWork opened #3016 "Disable nightly Reader job"
Disable the 9pm retrieve_docs_for_reader_job until we have a discussion with the VBMS team about how we can handle the load on VBMS

# AC
- The job is disabled
    - Open the rails console
    - Execute `Sidekiq::Cron::Job.all.select { |j| j if j.name == "retrieve_documents_for_reader_job" }` to ensure that the job is no longer active
         - This will return an empty array (i.e. `[]`) if the j

[2017-08-18 15:13] evankroske commented on #2703
I don't think that the benefits of posting reminders to appeals-devops while the banner is up outweigh the cost to implement and maintain the feature:
1. If we need to leave the banner up for more than three hours, the reminder would be noise.
1. If we forget to disable the banner, someone will probably tell us.
1. If we forget to disable the banner, people will still be able to do their work.

[2017-08-18 15:22] evankroske commented on #2728
How about `cron`? We would need to extract our jobs into their own programs, but that seems like a benefit to me. Separating our jobs would make them more readable and thus more maintainable

[2017-08-18 15:32] amprokop commented on #2703
Sounds good, we can forget the job then

[2017-08-18 15:32] amprokop commented on #2703
Feel free to edit the Acceptance Criteria to remove it

[2017-08-18 15:33] askldjd commented on #2728
I have a few questions cron's availability and reliability.

 - Where do you run it? If you run it in the app instance, it must be done in one of the machine. Do you need leader election?
 - What happens if the cron instance goes down? Who provision this?

[2017-08-18 16:02] askldjd commented on #2728
So there are two issues I see:
 1. How to make sure the job actually starts?
 1. How to make sure the job retries on failure?

For the first issue, we could use AWS Cloudwatch to trigger an AWS Lambda task. The lambda task just runs the sidekiq job. This combo is essentially same as Jenkins, except it is highly available and reliable.

For the second issue, I think we need to fix our Sidekiq job t

[2017-08-18 16:23] slj opened #3019 "Clean up some Karma tests"
These errors/warnings currently appear while running Karma tests:
[code]
[code]
[code]

[2017-08-18 17:29] amprokop opened #3021 "Travis sporadically can't find AWS credentials"
![image](https://user-images.githubusercontent.com/3781835/29470129-292796c4-8419-11e7-88e1-69c7a2dbeb74.png)

## Acceptance Criteria
- Figure out what the problem is here
- Fix it

[2017-08-18 17:53] amprokop opened #3022 "Automate Dispatch jobs in Jenkins, rather than in sidekiq-cron"
Sidekiq-cron is no good no good.

With our business critical Dispatch jobs, we recently encountered:
- the job running, then getting cut off (possibly by a deploy)
- the job not running at all at 5pm
- the job running, undesirably, at 12:15pm on Friday

Let's **temporarily** move these jobs to Jenkins until we can figure out a better solution.

This is the ansible script that sets Caseflow out of

[2017-08-18 17:56] amprokop opened #3023 "Post to #appeals-devops if Dispatch Jobs do not start or complete"
We currently post if jobs do not start or complete. However, for business critical jobs, we should ensure that they finish, and send an alert if they do not.

[2017-08-18 19:12] joofsh opened #3025 "Spike: Investigate longterm scheduled jobs solutions"
Currently, our background jobs are run via [sidekiq](http://sidekiq.org/) scheduled via [sidekiq-cron](https://github.com/ondrejbartas/sidekiq-cron).

### Problem 1:
There have been several issues with this approach with jobs failing to start. We have lost faith in sidekiq-cron to do a reliable job queue'ing our jobs at the time we request.

Related issues:
https://github.com/department-of-veteran

[2017-08-18 20:12] #2703 closed

[2017-08-18 20:41] gnakm commented on #2795
@Sjones352 👍

[2017-08-18 20:45] gnakm commented on #2947
@tejans24 Users should be able to search by hitting enter and the search button.

[2017-08-18 20:48] gnakm commented on #2947
@tejans24 I changed AC - Verify that user can enter search by pressing the search button or pressing enter on keyboard

[2017-08-18 20:51] sharonwarner commented on #2468
While pulling data for Lauren, I discovered that the original query might be wrong. Going to look into that as well.

Pull upcoming hearings for the pilot judges: https://github.com/department-of-veterans-affairs/appeals-design-research/issues/295

[2017-08-19 01:35] mogrenAtWork opened #3027 "Change RetrieveDocsForReader job to limit requests made by eFolder to VBMS"
Before eFolder is enabled for Reader, the RetrieveDocumentsForReader batch job needs to be adjusted to limit the number of requests made by eFolder to VBMS.

The batch job should run nightly to:
1. Retrieve all active appeals assigned to Reader users (this will need to be limited in the future as well when opened to 700 users)
1. Loop through the appeals
1. For each appeal, retrieve the list of do

[2017-08-19 17:37] mogrenAtWork commented on #3010
I tested this in UAT. The fix correctly accounts for documents cached in S3.

We have two remaining bugs in this:
1. There's still a problem of not being able to tell how many documents were pulled from VBMS when we start using eFolder.
1. The job checks for the `limit` provided after fetching the documents for all appeals for a user, not after each appeal, which causes more load on VBMS than it c

[2017-08-19 20:22] kierachell commented on #3008
Yeah, how about clarifying what `associated hearing` means before expecting that to be part of a smoke test.

Between...
- Never creating a sensible AC for whatever `associated hearing` is (I asked multiple times what constitutes a hearing event that would show up in the API response)
- Dismissing any errors as `bad test data` (note, I reported this bug before deployment)
- Having only 49 out of ~

[2017-08-20 15:39] kierachell opened #3028 "Document Viewer | Creating/deleting issue tags while having multiple tabs open"
# Description
Some users requested ability to view documents in new tabs, but this poses a bunch of issues relating to race conditions when creating tags and whatnot:

- Deleting the last instance of an issue- does it get removed from suggestions list?
- Editing the same document in two tabs?
- Categorizing documents?

Basically, we need a good UX and technical investigation in to how to make this

[2017-08-20 15:40] kierachell commented on #2939
**PASSED**
just have to mark it

[2017-08-20 16:06] kierachell commented on #3001
**PASSED**

![jdpls](https://user-images.githubusercontent.com/18075411/29496405-05c1007a-85a0-11e7-92ab-631ae2759d93.png)

So we good 👍

[2017-08-20 16:06] #3001 closed

[2017-08-20 16:11] kierachell commented on #2961
**PASSED**

Crappy AC leads to crappy validation:
[code]

[2017-08-20 16:11] #2961 closed

[2017-08-20 16:14] kierachell commented on #2892
**PASSED**
<img width="469" alt="screen shot 2017-08-20 at 12 14 39 pm" src="https://user-images.githubusercontent.com/18075411/29496458-2da27ed8-85a1-11e7-9f82-08ce924eccb4.png">

[2017-08-20 16:14] #2892 closed

[2017-08-20 16:15] kierachell commented on #2473
## Why is there two redux stores?
<img width="1242" alt="screen shot 2017-08-20 at 12 14 16 pm" src="https://user-images.githubusercontent.com/18075411/29496462-3f26bc00-85a1-11e7-88cc-1b5e20349957.png">

[2017-08-20 16:18] kierachell commented on #2957
**PASSED**
![changes](https://user-images.githubusercontent.com/18075411/29496481-a4549de0-85a1-11e7-9d79-bb5b394e2009.gif)

[2017-08-20 16:18] #2957 closed

[2017-08-20 16:18] kierachell commented on #2884
**PASSED**

see the ending
![changes](https://user-images.githubusercontent.com/18075411/29496486-b3dee144-85a1-11e7-841e-604f0d23ff5a.gif)

[2017-08-20 16:19] kierachell commented on #2956
**PASSED**
see the ending
![changes](https://user-images.githubusercontent.com/18075411/29496497-cd9f7562-85a1-11e7-82fd-2cfbfc6190a3.gif)

[2017-08-20 16:19] #2956 closed

[2017-08-20 16:20] #2884 closed

[2017-08-20 16:21] kierachell commented on #2938
Because @shanear "fixed up" prometheus, I need to rebuild the whole thing in UAT now...

[2017-08-20 16:21] kierachell commented on #2812
**PASSED**

NOICE
<img width="802" alt="screen shot 2017-08-20 at 12 21 11 pm" src="https://user-images.githubusercontent.com/18075411/29496517-174ed20c-85a2-11e7-8f73-d0fa3ff30bd6.png">

[2017-08-20 16:21] #2812 closed

[2017-08-20 17:39] joofsh commented on #3001
@kierachell That slack conversation was referring to an entirely different PR. In the context of this production error, I _did_ test the code on UAT, but I did not test it comprehensively or correctly. I tested the `VACOLS::CaseHearing` model in isolation from the UAT console. I did not correctly test it in conjunction with the `HearingRepository` which led to this production error

[2017-08-21 14:42] NickHeiner commented on #3008
We do deploy non-validated code to prod all the time. The process is that the QAs look at the in-validation column and see if anything looks particularly problematic, and if not, they deploy.

[2017-08-21 14:47] gnakm commented on #2951
@mmlumba Looks like this issue can be closed? I defer to you!

[2017-08-21 14:52] NickHeiner commented on #3008
@kierachell The points you're bringing up sound valid. I haven't had a chance to dig in fully, but if you have specific Slack conversations / GH comments you'd like to share about our communication breakdown here, that could be useful to figure out where things went wrong.

However, despite the validity of your points, I find your tone to be slightly aggressive. A post-mortem is a sensitive time,

[2017-08-21 15:05] gnakm commented on #2876
@abbyraskinUSDS let's go kindly bug a VLJ either today or Wednesday.

[2017-08-21 15:09] joofsh opened #3030 "Race condition on document mark_as_read"
We are having race conditions during the `DocumentView.find_or_create_by`. Maybe the user opens 2 tabs at the same time?

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/346/

# Dev AC
1) Verify we cannot get this error locally by doing the following:
- [ ] On master change the code in DocumentsController#mark_as_read to:
[code]
Delete all DocumentView records, then open a

[2017-08-21 15:31] abbyraskinUSDS opened #3032 "Support IE8"
In order to complete the e-Reader rollout to the rest of the board, we need all of Caseflow to support IE8. (It's not just Reader because AOD cases require VLJs to go into Dispatch / Certification to finish reviewing the case.)

Our general rollout will happen on 10/1, but we need to have IE8 support in place early so the 508 testers can begin their audit. (Without this, we can't proceed with the

[2017-08-21 15:36] nolawi commented on #2990
holing of submitting PR till we solve issues

[2017-08-21 16:04] nikitarockz commented on #2695
##  Comments from Appeals Foxtrot
Alex Prokop
[5:28 PM] 
enabling v2 for the midwest

[5:28] 

=> {:users=>["VSCKCHIC", "VSCSSHAW", "VBSJHURL", "VBSTWEST", "VSCMLIPP", "VSCHLAM", "VSCDNAYM", "VBSRCOYL", "VBSCFAHE", "VBANYNBlaziM", "VSCMFERR", "VSCJCAPO", "VSCTJORD", "VSCLKOND", "VSCSTUCH", "VSCMDIAM", "VSCKATCH", "VSCGDEES", "vscccarr322", "VSCCWOOS", "VSCCCARR322", "VSCAMERR", "VSCIMORR", "VSCC

[2017-08-21 16:04] #2695 closed

[2017-08-21 16:14] abbyraskinUSDS commented on #3032
thanks for the troll, @NickHeiner

[2017-08-21 16:14] #3032 closed

[2017-08-21 17:40] nolawi opened #3033 "TextField label element htmlfor doesnt match if element has id"

[2017-08-21 18:40] lakohl commented on #2893
Grey background seems to come and go?

[2017-08-21 18:55] joofsh commented on #2658
This has been happening 3-5 times per week in production, causing 500 errors for real users on vets.gov

[2017-08-21 21:13] NickHeiner commented on #3032
Why did you delete the text? :smile:

[2017-08-21 21:20] sharonwarner commented on #2473
That's a Reader issue. If you just click on the second instance you'll see hearings redux info.

[2017-08-21 22:48] #3033 closed

[2017-08-22 01:36] Sjones352 commented on #1425
Currently working on functionality

<img width="760" alt="screen shot 2017-08-21 at 9 29 30 pm" src="https://user-images.githubusercontent.com/23080951/29544725-0c34c824-86b8-11e7-97b3-7b2dfbd58a09.png">

[2017-08-22 01:56] kierachell commented on #2473
**PASSED**

Well, ok... is there a Reader-related ticket to fix this or... feature?

[2017-08-22 01:56] #2473 closed

[2017-08-22 13:29] sharonwarner opened #3037 "[Post Mortem] VBMS SSL Errors"
Date: 08/18/2017
Authors: Sharon Warner
Status: VBMS team debugging issue

## Summary
Starting August 16th, approximately 1% of our VBMS calls have resulted in VBMS errors. We notified the VBMS team, determined this is true across many other applications that hit VBMS, and the VBMS team is working to resolve.

## Root Causes
The VBMS team performed maintenance the night of August 16th which had un

[2017-08-22 13:54] mmlumba commented on #2951
@gnakm I'll move this to "In Validation" for review since its related ticket (#2952) is still "In Validation".

[2017-08-22 14:04] askldjd commented on #3037
Here's some update:

I started with strictly using curl against the VBMS main url (https://services.vbms.vba.va.gov) and could not reproduce this problem.

Then I went on uat and prod and started an infinite loop document fetch using a single thread
[code]

I was able to reproduce this problem in UAT and Prod. Here are the number of requests it takes for this to happen:

Prod: 1352, 1695, 2925
UAT

[2017-08-22 14:21] abbyraskinUSDS commented on #3032
Because this is a public repo and it's shameful! But I saved it to my desktop for eternity.

[2017-08-22 14:27] kierachell commented on #3016
**PASSED**
[code]

Check for name in prod as well..

[2017-08-22 14:27] #3016 closed

[2017-08-22 14:32] kierachell commented on #2903
**PASSED**

[2017-08-22 14:32] #2903 closed

[2017-08-22 14:43] mmlumba opened #3038 "Analytics | Fix category of expand comments button"
Currently the category from the action `TOGGLE_LIST_COMMENT` action is `INTERACTION_TYPES.VISIBLE_UI`; it should be `CATEGORIES.CLAIMS_FOLDER_PAGE`.

From @NickHeiner
 If we look for other usages of the `meta.analytics.category` field, we'll see that it's always set to a value from the `CATEGORIES` constant:

[code]

This shows up incorrectly in the Analytics:

![image](https://user-images.githubu

[2017-08-22 14:53] joofsh opened #3039 "Ensure that Sidekiq saves jobs in Redis and restarts them after the deploy"
During a deploy, autoscaling groups will terminate "old" instances and replace them with new ones. If an old instance is in the middle of running a job, that job will die in the middle and never be re-run.

We should follow the [recommended deployment practices for sidekiq](https://github.com/mperham/sidekiq/wiki/Deployment) to ensure that no jobs are ever lost. This will involve changes to our de

[2017-08-22 15:01] amprokop commented on #3032
hmm i missed something here. unassigning myself because i want no part of ie8 support

[2017-08-22 15:20] tejans24 opened #3040 "Change the routing constraints for Reader/AppealController to keep it consistent with existing codebase"
#3005 - Brought up in this PR by @amprokop

[2017-08-22 15:32] evankroske commented on #3039
The fact that the correct operation of Sidekiq requires that EC2 instances never fail tells me that we should switch to a better tool. When an EC2 instance fails, there's no opportunity to safely shut down anything

[2017-08-22 16:48] lakohl commented on #2941
closing: https://github.com/department-of-veterans-affairs/caseflow-efolder/issues/600

[2017-08-22 16:48] #2941 closed

[2017-08-22 18:04] laurjpeterson commented on #2468
@sharonwarner if it helps, see attached judges and their upcoming hearings for 8/22/2017 - 9/30/2017 Scott pulled earlier today
[Judges current schedule 22 Aug 17.pdf](https://github.com/department-of-veterans-affairs/caseflow/files/1242915/Judges.current.schedule.22.Aug.17.pdf)

[2017-08-22 18:13] aroltsch opened #3044 "[Backend] Implement Vacols attribute accessors for Issue model"
AC:
1. Implement `vacols_attr_accessor` for the `Issue` model
2. Set up fake values for Vacols `issues` values

Steps to Validate
Please test in Demo and UAT:
1. In UAT, login as a judge or in Demo, login as hearing prep user
2. Go to `<url>/hearings/dockets.json`
3. Ensure `issues` key have vacols attributes set: levels, program, type, category, description, disposition, program_description, note

[2017-08-22 18:18] evankroske commented on #3039
—https://github.com/mperham/sidekiq/wiki/Reliability#using-super_fetch

[2017-08-22 21:41] askldjd commented on #3037
Aaron Sisk from VBMS replied and there hasn't been any update. The ESD ticket is I16077948FY17.

[2017-08-22 22:23] NickHeiner commented on #3008
@joofsh can you link the original ticket for the work that caused the problem?

[2017-08-23 03:45] joofsh commented on #3023
To QA:

Can run `MonitorBusinessCriticalJobsJob.perform_now` from the rails console. It should provide output to slack

[2017-08-23 03:58] joofsh commented on #3008
It is already linked in the description

[2017-08-23 12:37] kierachell commented on #2938
prometheus is still broken... trying to fix this shit

[2017-08-23 13:02] kierachell commented on #2861
**PASSED**

<img width="501" alt="screen shot 2017-08-23 at 9 02 04 am" src="https://user-images.githubusercontent.com/18075411/29617140-c9508d42-87e1-11e7-9366-0b4e7c900497.png">

[2017-08-23 13:02] #2861 closed

[2017-08-23 13:22] amprokop commented on #3023
Did we determine that the distinction between jobs not starting and jobs not finishing was not important, or that it was not something that needed to be addressed? Just wondering since the title of this task was changed

[2017-08-23 13:23] amprokop commented on #3023
Or, after looking at the PR, it seems like we actually post if they don't start and if they don't finish? Not sure

[2017-08-23 13:55] astewarttistatech commented on #2900
**FAILED** @nolawi

Env: UAT
Browser: Chrome

Current View:
![hearingsspinner](https://user-images.githubusercontent.com/23038505/29619443-20e795d0-87e9-11e7-958f-5c874ac4d1fa.gif)

[2017-08-23 13:58] astewarttistatech commented on #2795
**PASSED**

Env: UAT
Browser: Chrome and FF

Steps to Validate:
1. Access Style Guide
2. Navigate to the Small Loader section
3. Validate the behavior and text against mocks and AC

Screenshots:
<img width="1306" alt="screen shot 2017-08-23 at 9 57 07 am" src="https://user-images.githubusercontent.com/23038505/29619645-96210bf6-87e9-11e7-850a-142b57f391bc.png">

[2017-08-23 13:58] #2795 closed

[2017-08-23 14:00] kierachell commented on #3019
**PASSED**
Ran `npm run test`... the above errors did not appear

[2017-08-23 14:00] #3019 closed

[2017-08-23 14:01] astewarttistatech commented on #2951
**PASSED**

Env: UAT
Browser: Chrome

Steps to Validate:
1. Access Reader
2. On the Document Lists page, verify that then search bar is without a search button and that the text inside of the box is italicized based on the AC and mocks.

Screenshots:
<img width="1358" alt="screen shot 2017-08-23 at 9 59 13 am" src="https://user-images.githubusercontent.com/23038505/29619775-ef646dc0-87e9-11e7-9a13

[2017-08-23 14:01] #2951 closed

[2017-08-23 14:20] kierachell commented on #2960
**PASSED**
at last!
![working](https://user-images.githubusercontent.com/18075411/29620697-a452aff6-87ec-11e7-8e9f-0a44c7479426.gif)

[2017-08-23 14:20] #2960 closed

[2017-08-23 14:47] NickHeiner opened #3048 "[Discussion] Non-Business Hours Prod Squad (8/24/17)"
Related to #3036.

@aroltsch asked for a discussion, so let's chat about this new plan. We would like to roll this out in a way that works for everyone.

The discussion will happen immediately after standup at on 8/24/17.

[2017-08-23 15:02] astewarttistatech commented on #2839
**FAILED**

Env: UAT
Browser: Chrome

1. Open Hearing Prep
2. Navigate to a Hearing Worksheet
3. Check the page for the worksheet object on load for Redux
4. Check to see when text is entered into text fields that the actions get saved into the Redux store accordingly (**DOES NOT**)
5. Check to see if the Contentions, Periods and circumstances of service, Evidence, Comments and special instruction

[2017-08-23 15:09] #1298 closed

[2017-08-23 15:34] tejans24 opened #3049 "Refactor loadedAppealId variable in Reader"
There is a loadedAppeal object in the reducer, but there is also a loadedAppealId. This needs some minor cleanup.

<img width="619" alt="screen shot 2017-08-23 at 11 32 25 am" src="https://user-images.githubusercontent.com/1976755/29624354-db6ca8e8-87f6-11e7-94bf-7363b17c9e54.png">

[2017-08-23 16:07] astewarttistatech commented on #2208
**PASSED**

Env: Local
Browser: Terminal/Sublime

Steps to Validate:
1. Open the Caseflow app on your local machine
2. In Sublime search the whole Caseflow folder for "unconnected"
3. When no results show, search "export default"
4. For each of the results see that there is just the component instead of unconnected (component)

[2017-08-23 16:30] kierachell commented on #3023
- If the job is triggered from the console, then the new middleware does not write it to Reidis: expected?
- Does it have to be 5 hours? Is that configurable by job?
- What's up with double `@here`s?

<img width="458" alt="screen shot 2017-08-23 at 12 25 19 pm" src="https://user-images.githubusercontent.com/18075411/29627008-9a99002a-87fe-11e7-91bd-f85b6efae4fe.png">

[2017-08-23 16:40] astewarttistatech commented on #2952
**PASSED**

Env: UAT
Browser: Chrome and FF

Steps To Validate:
1. Access the Styleguide
2. Navigate to the Search section
3. Validate the Search Ahead search feature based on UI and mocks.

Screenshots:
<img width="1287" alt="screen shot 2017-08-23 at 12 31 39 pm" src="https://user-images.githubusercontent.com/23038505/29627487-3f169710-8800-11e7-945b-927a7fd9babb.png">

[2017-08-23 16:40] #2952 closed

[2017-08-23 16:49] kierachell commented on #2245
- How does a hearing get associated with an appeal? Currently appeals are not loaded for any of the hearings:
[code]

[2017-08-23 16:53] astewarttistatech commented on #3038
@mmlumba The AC is a tad bit confusing, should I be looking for "CATEGORIES.CLAIMS_FOLDER_PAGE" or is that incorrect based on @NickHeiner comment?

[2017-08-23 17:06] aroltsch commented on #2245
@kierachell a hearing should have an appeal_id in the `hearings` table

[2017-08-23 17:13] slj commented on #2893
Ideally, the UI would be super responsive, but that's not the goal of this ticket.  The only thing that matters is the position of the Notes field and its associated label.  If you're happy with that I think we should get the change into the code and validated by QA.  @lakohl the actual background doesn't change - it's just a bug in the animated GIF.

[2017-08-23 17:23] joofsh commented on #2974
Verified all permutations. We can in fact create 2 "dockets" assigned to the same judge, same room, and RO.

<img width="453" alt="screen shot 2017-08-23 at 11 42 20 am" src="https://user-images.githubusercontent.com/2256237/29629232-1811bb30-8806-11e7-94a7-f73b5122327d.png">
<img width="814" alt="screen shot 2017-08-23 at 11 47 49 am" src="https://user-images.githubusercontent.com/2256237/2962923

[2017-08-23 17:23] mdbenjam opened #3053 "Comments | Adding comment via alt+c should open sidebar"
Currently when adding a comment using the keyboard (alt + c) we will not show the sidebar if it's hidden. We should automatically show the sidebar when you place a comment.
![annotation from keyboard with closed menu](https://user-images.githubusercontent.com/3885236/29629266-3e80fbe6-8806-11e7-90fa-b2f7f90af2b7.gif)

[2017-08-23 17:26] #2208 closed

[2017-08-23 17:43] tejans24 opened #3055 "Revaluate how hisotory and routing is being used in Reader"
This was brought up in a PR discussion:

<img width="693" alt="screen shot 2017-08-23 at 1 42 40 pm" src="https://user-images.githubusercontent.com/1976755/29630101-0cc401a4-8809-11e7-9e9a-fdf5e5c26abb.png">

[2017-08-23 17:48] astewarttistatech commented on #2839
Due to updated AC, this ticket has **PASSED**

Additional Screenshot:
<img width="1397" alt="screen shot 2017-08-23 at 1 47 40 pm" src="https://user-images.githubusercontent.com/23038505/29630291-b264d214-8809-11e7-8d2a-6148d4b02de1.png">

[2017-08-23 17:48] #2839 closed

[2017-08-23 19:53] mdbenjam commented on #3030
Interesting. I'm thinking we should just catch this error and then run it again? @joofsh any thoughts of the right approach here?

[2017-08-23 19:57] mdbenjam commented on #2985
@abbyraskinUSDS I'd like some clarification here. When you say page, do you mean a page in the PDF or the visible portion of the screen. Page up/down uses the second definition. I think this is expected, so that each time you hit it, you scroll to the next viewable section.

[2017-08-23 20:25] lakohl opened #3058 "Daily Docket: Notes Field criteria"
As a judge, I would like to see all the notes in the notes field all the time.

1) Display the notes field like the comments box in Reader. It should automatically expand to show the entire note instead of scrolling.

1) Remove character limit on the notes field? (ideal scenario would be not to have one, unless VACOLS RO view does)

[2017-08-23 20:27] lakohl commented on #3058
@joofsh or @sharonwarner does the notes field in the VACOLS RO view have a character limit?

[2017-08-23 21:22] lakohl commented on #2883
Show most recent rating decision code sheet per @abbyraskinUSDS's attorney, but all rating decision narratives?

[2017-08-23 21:39] tejans24 opened #3059 "Reevaluate redux actions and redux state for Case Search"
<img width="750" alt="screen shot 2017-08-23 at 5 28 02 pm" src="https://user-images.githubusercontent.com/1976755/29639789-f5c17b5a-8829-11e7-8e52-0a12cf6a3c0c.png">

https://github.com/department-of-veterans-affairs/caseflow/pull/3056

[2017-08-23 22:14] mdbenjam commented on #1853
I'm moving this back to in-validation. It seems like having it read out H1 is not intended behavior.

[2017-08-23 22:17] mdbenjam commented on #2977
This really makes no sense to me. I guess this could happen if we fail to make the API call to the server to mark them as read. Seems unlikely though. @abbyraskinUSDS can we ask users to send us the URL of the case they're working on and the names of any specific documents this happens to?

[2017-08-23 22:44] mmlumba commented on #3038
@astewarttistatech The action should be "CATEGORIES.CLAIMS_FOLDER_PAGE"

[2017-08-24 02:52] joofsh commented on #3030
I think catch and re-run seems appropriate, assuming our analysis is correct and there isn't a deeper issue at hand 👍

[2017-08-24 12:54] astewarttistatech commented on #3038
I updated the AC for clarity

[2017-08-24 14:13] abbyraskinUSDS commented on #2985
@mdbenjam They're used to being able to scroll one complete page (PDF page) at a time, which a handful of folks have mentioned they aren't able to do in Reader, even when they adjust the zoom level.

[2017-08-24 14:20] abbyraskinUSDS commented on #2985
(e.g.: "page by page scrolling within a document is slow or delayed and doesn't necessarily go page by page.")