[2020-02-26 20:50] pkarman opened #13540 "Document db schemas"
## Description

We have had repeated requests for updated data dictionary and/or data model documentation. We consistently point people at the auto-generated `schema.rb` files but those are hard to read for non-Rubyists.

Instead, automatically generate .csv and ERD diagrams on demand.

## Acceptance criteria
- [x] ERD pdf file for each of the 3 dbs (Caseflow, VACOLS, ODS/ETL)
- [x] schema.csv fil

[2020-02-27 00:06] leikkisa commented on #10164
When I looked at the security profiles from the BGS API that Peter added, I didn't see any difference between the users.

The error message indicates it's specifically a VBMS permissions thing.  It has been getting resolved itself for most users. There is one user that has been stuck for a while (with two reviews).  I sent these over to Jane with the suggestion to cancel those claims and have anot

[2020-02-27 15:33] alisan16 commented on #12145
Thanks for checking @ajspotts! Perhaps one of our other fixes already solved this problem too. I'm closing this ticket out and going to follow up with @carodew to see if they have issues using JAWS to access this.

[2020-02-27 15:33] #12145 closed

[2020-02-27 16:37] ferristseng commented on #13093
https://support.granicus.com/s/article/Managing-Your-From-Addresses

[2020-02-27 17:50] pkarman commented on #13384
There are multiple reasons for this:

1. suggested_hearing_location triggers multiple SQL calls. Adding `.includes(:available_hearing_locations)` prefetches those.

2. The `power_of_attorney_name` is very expensive. For AMA appeals that is coming from BGS. We were already caching some BGS POA info, but only for 24 hours, and only based on upcoming hearings. We optimized this in a few ways:

 * inc

[2020-02-27 18:10] pkarman commented on #12651
See #13213 and https://github.com/department-of-veterans-affairs/dsva-vacols/issues/100

[2020-02-27 18:15] pkarman opened #13542 "Cache person SSN on people table"
## Description

As with Veteran, we can save a lot of requests to BGS for look up by SSN if we cache the SSN as a column on the People model.

https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/legacy_appeal.rb#L230 for example only uses the SSN in order to find the participant_id. We already cache the participant_id, which means we could save 1000s of BGS calls ever

[2020-02-27 18:19] pkarman commented on #13384
As of today we are caching 43k+ poa names:
[code]

[2020-02-27 19:21] ferristseng opened #13545 "ArgumentError type in LegacyAppeal"
## Description

[code]

The BGS address service is returning a hash with the key `type`. Since this hash is being passed directly into the `Address` constructor, an `ArgumentError` is being thrown.

## Acceptance criteria
- [ ] Reproduce and fix underlying issue

## Background/context/resources

* Sentry alert: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/8752/?referrer=

[2020-02-27 20:40] rubaiyat22 commented on #13383
@pshahVA Did the pexip team get back to you on this?

[2020-02-27 20:58] rutvigupta-design commented on #13500
![Review Vacated Decision Issues_Return to Judge Banner](https://user-images.githubusercontent.com/51714306/75486108-eff5ce00-5979-11ea-8a6a-678dc233fe81.jpg)
![Return to Judge](https://user-images.githubusercontent.com/51714306/75486111-f2582800-5979-11ea-97b4-acec8b64f1c0.jpg)

[2020-02-27 21:43] nicholer opened #13547 "Virtual hearing link for Judge users should be host link"
#### Description
In UAT when logged in as a Judge user, the "Virtual Hearing Link" displayed on the Daily Docket is the guest link. The host "VLJ Virtual Hearing Link" should display for the Judge user.

#### Observed
- Login to UAT as a Judge user (e.g. CF_SCOTTY_397)
- Navigate to a Daily Docket page that contains a virtual hearing
- See that the field label is "Virtual Hearing Link" and clickin

[2020-02-27 21:46] geronimoramos commented on #11969
Should we keep this open as we hope to revisit this down the road for enhancements if there are any problems? @msj0nes

[2020-02-27 21:47] geronimoramos commented on #11738
@jcq I recall us having a conversation around this months ago, did you have ideas for this?

[2020-02-27 22:24] chandracarney opened #13548 "Run through end-to-end virtual hearings flow"
In advance of pilot, run through the end-to-end virtual hearings flow in UAT to ensure seamless connectivity after adjustments to timezones, Granicus, Pexip, and other integrations. Set up UAT and run through test scripts and dogfooding happy/sad paths.

Test email
- [ ] Confirm "from" address
- [ ] Confirm email is sending with new key
- [ ] Confirm timezones by testing hearing scheduled for anot

[2020-02-27 22:50] #13545 closed

[2020-02-28 14:30] nicholer commented on #13548
Here's the test script from our last round of dogfooding / end-to-end testing, for context:
https://github.com/department-of-veterans-affairs/appeals-team/blob/master/qa/test-plans/virtualhearingsDogfooding-2020-01-13.md

[2020-02-28 17:05] #13524 closed

[2020-02-28 17:30] rutvigupta-design commented on #11830
Removing this from the Motions to Vacate work, but keeping it open to revisit.

[2020-02-28 18:28] leikkisa commented on #13532
- [ ] claim_id: 72707406

https://dsva.slack.com/archives/CFBLH2LR4/p1582913629049800

[2020-02-28 19:18] rutvigupta-design commented on #13228
Design for VLJ (denied/dismissed)
![Address MTV _ Deny Final](https://user-images.githubusercontent.com/51714306/75580146-3e1bd780-5a35-11ea-8547-8646e394dc2c.jpg)

[2020-02-28 19:45] rutvigupta-design commented on #13228
Design for motions attorney (denied/dismissed)
![Review Motion _ Revised _ Dismiss](https://user-images.githubusercontent.com/51714306/75582102-da93a900-5a38-11ea-8c04-21ee991027ce.png)

[2020-02-28 20:17] ferristseng commented on #13094
Updated the key in uat, prod, and preprod.

[2020-02-28 20:17] #13094 closed

[2020-02-28 20:42] rutvigupta-design commented on #13536
Designs (2.28.2020)

![Address MTV _ Deny Final.jpg](https://images.zenhubusercontent.com/5d07e8c541e1974be7393f74/d1739571-2467-4e90-8306-0b80658a4bc7)

![Review Motion _ Revised _ Dismiss.png](https://images.zenhubusercontent.com/5d07e8c541e1974be7393f74/7f8481b0-f836-48c1-aed4-c22913eed059)

[2020-02-28 20:42] #13536 closed

[2020-02-28 20:43] #13500 closed

[2020-02-28 20:44] rutvigupta-design commented on #13474
Designs for the banner (the instruction text in the banner has changed slightly) and the modal here:
![Review Vacated Decision Issues_Return to Judge Banner](https://user-images.githubusercontent.com/51714306/75585898-25b1ba00-5a41-11ea-8fbe-c98aa3bff0b6.jpg)
![Return to Judge](https://user-images.githubusercontent.com/51714306/75585903-28141400-5a41-11ea-988e-50fc29efb38a.jpg)

[2020-03-02 17:14] pkarman commented on #13540
First pass merged in #13541 . We opted to check in the .csv files, but not the ERD diagrams. We also opted not to allow custom column ordering at this time.

[2020-03-02 17:29] rubaiyat22 opened #13564 "Judges should not receive virtual hearing emails"
### Description
Per feedback from usability testing with Judges (#13374), Judges do not want to receive emails when virtual hearings are scheduled. We need to (1) remove Judges as email recipients and (2) update the copy on modals and alerts.

### Acceptance criteria
- [ ] remove `judge_email` & `judge_email_sent` field from `VirtualHearing` model
- [ ] remove judge as a recipient for emails

---

[2020-03-02 17:32] hschallhorn commented on #12979
[Where these types are pulled in in Caseflow](https://github.com/department-of-veterans-affairs/caseflow/blob/43562ed9e75b14c6f949802521da9df6a4214c2b/app/models/document.rb#L91)!
[Where we pull these doc names from](https://github.com/department-of-veterans-affairs/caseflow-commons/blob/master/app/models/caseflow/document_types.rb)!
These seem to match `<DCMNT_TYPE_LUP_ID> => <DESCRIPTION_TXT>` i

[2020-03-02 17:40] #13383 closed

[2020-03-02 17:42] rubaiyat22 commented on #12053
Another one (vacols_id: 715845): https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7089/?referrer=webhooks_plugin

[2020-03-02 20:47] carodew commented on #5445
Noting that these designs use the update case details header, which does not match what is in production. We'll either need to complete the work in #8211 (https://github.com/department-of-veterans-affairs/caseflow/issues/8211) OR back-design the designs here to match the old header.

[2020-03-02 20:49] nanotone opened #13571 "eFolder API returning empty/truncated manifest JSON"
The eFolder API appears to be occasionally returning empty or truncated JSON from the `/api/v2/manifests` endpoint.

This causes the JSON parser to raise a `JSON::ParserError` (A JSON text must at least contain two octets!) and could probably be interpreted and re-raised as a `Caseflow::Error::DocumentRetrievalError` instead.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues

[2020-03-02 20:51] pkarman commented on #13459
fixed pulled into #13567

[2020-03-02 21:28] jcq commented on #11738
@geronimoramos I think the major improvement would be to clear the existing search results whenever a new search is performed. It already will show a message stating that "No cases are found" if there aren't any that match the search, so that's covered. The core issue here is just that it's really unintuitive for the prior search results to remain on screen when a new search is performed.

[2020-03-02 22:15] #13459 closed

[2020-03-02 23:23] jcq commented on #13518
### Updated screen:
<img width="893" alt="Screen Shot 2020-03-02 at 15 22 42" src="https://user-images.githubusercontent.com/2581274/75727387-aec32e00-5c99-11ea-8e34-a9bfb530edf5.png">

[2020-03-02 23:38] leikkisa opened #13575 "Intake | Bug investigation - cancel tasks when all issues are removed or ineligible"
## Description
During Batteam, an incident came up indicating that a user both removed all of an appeal's request issues, and added new issues in a request issues update.  All of the new issues added were ineligible.  At this point, the appeal should have been considered closed and its tasks cancelled.

It is not confirmed that this is a bug, because sometimes user have Batteam manually undo "remo

[2020-03-02 23:54] leikkisa opened #13576 "Intake | Show original request issue description on add issues page if edited"
## Description
After a user edits contention text, they are not able to easily see the original contention text.  Sometimes the users make mistakes when editing contention text.

## Acceptance criteria
- [ ] On the "Add issues" page, if a request issue's contention text has been edited, show both the original and new contention text.

## Background/context/resources
In this batteam call, a user ed

[2020-03-03 15:19] ferristseng commented on #13310
Going to close this, since I spent ~2 days investigating the 2nd case. It did not seem like there were any updates to the hearing through Caseflow in the week prior to the hearing, and we could not confirm when the veteran received the text.

Feel free to reopen to investigate the first case. All my findings are in the comment I posted.

[2020-03-03 15:19] #13310 closed

[2020-03-03 15:27] ferristseng opened #13581 "Add VSO user that can view hearings to seed data"
## Description

Add or modify a VSO user so that they can view hearings. This is useful for testing virtual hearings features that are visible for the VSO

## Acceptance criteria

- [ ] VSO user in dev/demo should be able to view hearings page

## Background/context/resources

N/A

## Technical notes

N/A

[2020-03-03 15:40] araposo-tistatech opened #13583 "Case Reassignment"
Please reassign all of Jasmin Freeman's tasks (no exceptions) to Adrian Odya-Weis.

[2020-03-03 16:02] yoomlam commented on #13535
Another one: https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/104935/parallel-runs/1/steps/1-120

[2020-03-03 16:20] #12423 closed

[2020-03-03 16:55] araposo-tistatech opened #13584 "Remove attorney functionality"
## User story
User story: As an attorney, I should not have the ability to designate a case as overtime in Caseflow. Only VLJs or SSCs should have the ability to designate or update overtime cases.

Please remove the "This work product is overtime" checkbox from the submit draft decision for review workflow.

![Attorney OT Functionality](https://user-images.githubusercontent.com/59883609/75810899-

[2020-03-03 17:06] msj0nes opened #13585 "Non-BVA Intake Users | Reduce Rating and Non-Rating Selection Errors | Update Edit Issue Modals"
## Description
The current Intake 'Edit issue' modal workflow has resulted in an uptick of incorrect labels being associated to EPs. Users have primarily found difficulty differentiating between 'rating' and 'non-rating' issues. An additional modal allowing users to first select whether the issue being pursued is 'rating' or 'non-rating' is needed prior to the issues being displayed for selection.

[2020-03-03 17:18] pkarman commented on #13540
B3 has asked for FK column so going to prep a PR to call that out. Will also fix the boolean logic to use `x` for true and `` for false.

[2020-03-03 18:55] rubaiyat22 opened #13586 "Module::DelegationError caused by nil case record"
Delegation to vacols_representatives is throwing an error because the case_record associated with the legacy appeal is nil in caseflow. Found during batteam in sentry alert: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/8848/?referrer=webhooks_plugin

[2020-03-03 19:34] #12561 closed

[2020-03-03 19:34] #12564 closed

[2020-03-03 19:34] #12557 closed

[2020-03-03 20:06] pkarman commented on #13586
See also #12791

[2020-03-03 20:15] #13539 closed

[2020-03-03 20:46] nanotone commented on #12791
Example of nil case record causing a call to `/appeals/VACOLS_ID/hearings` to 404: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/8559

Slack investigation: https://dsva.slack.com/archives/C4JECDLSE/p1583245052073200

[2020-03-03 21:12] #11699 closed

[2020-03-03 21:51] leikkisa commented on #12590
Moving to comments, because this has been resolved. Someone updated the birthdate and it succeeded.
SC 184827
Submitted INC8206152
https://yourit.va.gov/va?id=ticket&table=incident&sys_id=f4e5122bdbf00c54587fff1e0f961940

[2020-03-03 21:59] leikkisa opened #13589 "Upstream error fix | Validate that birthdates values have leading zeros"
## Description
When a veteran's birthdate's day was "5" instead of "05", it gave us an upstream error.

## Acceptance criteria
- [ ] Validate that a veteran's BGS record field "birth_day" has leading zeros before starting an intake
- [ ] If it does not, return an error to the user explaining that they need to update the birthdate
- [ ] Look at some veteran BGS records to see if months also have le

[2020-03-03 22:00] leikkisa commented on #12590
The instance experiencing this error has been resolved. This engineering ticket has been opened to prevent this error in the future:
https://github.com/department-of-veterans-affairs/caseflow/issues/13589

Closing this ticket.

[2020-03-03 22:00] #12590 closed

[2020-03-03 22:02] hschallhorn opened #13591 "Create notification to alert admins of attorneys on an inactive judge team"
## Description
When a judge is made inactive, their judge team is also marked inactive [correction: their attorneys are no longer a part of a judge team]. This could leave attorneys on teams that are inactive. We should alert admins about these orphaned attorneys and instruct them to place the attorneys onto a new judge team.

## Acceptance criteria
- [ ] A notification alerts admins of orphaned a

[2020-03-03 22:07] hschallhorn opened #13592 "Put Inactive Users Development behind a feature flag"
## Description
Put the link to user management behind a feature flag

## Acceptance criteria
- [ ] Users cannot access the user management page without the feature flag enabled

## Technical notes
Change goes [here](https://github.com/department-of-veterans-affairs/caseflow/blob/e21282bd6a16402c20171a6f7f23f29cf360cfdf/app/controllers/application_controller.rb#L47)!

[2020-03-03 22:29] hschallhorn opened #13594 "Remove irrelevant buttons from judge team management pages"
## Description
Judges cannot be removed from their own team and our definition of what a judge is relies on the judge being the first admin on the team. We should not show "Remove from team" next to the judge as this will always return an error. We should also hide "Remove admin rights" next to the judge as this will mess up the structure and assumptions we make about judge teams. Lastly, we shoul

[2020-03-03 22:50] hschallhorn opened #13596 "Investigate why appeals at a judge are in the redistribution pool"
## Description
We get [`RedistributedCase::CannotRedistribute`](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7524/?referrer=webhooks_plugin) errors that [have no actionable resolution](https://github.com/department-of-veterans-affairs/caseflow/wiki/Bat-Team#redistributedcasecannotredistribute-sentry-alert) because they are already where they are supposed to be (at a judg

[2020-03-03 22:59] hschallhorn opened #13597 "Judge Assign page should display the tasks of the user_id provided in the URL"
## Description
In "SCM: SCM Team can view Judge's Assign Queue #12423", we introduced the start of "viewing the queue of another user". Before this, although the url provided another user's id, a judge's assign queue would show the task of the _signed in_ user. Now, the judge's css_id is provided to show that judge's tasks. This is redundant as the provided user_id should match the provided css_id

[2020-03-03 23:59] hschallhorn opened #13600 "Duplicate task in attorney on hold tab after adding admin action"
## Description
After assigning an admin action on a legacy appeal, a duplicate task will appear in the attorney's on hold tab.

## To replicate
1. Sign in as an attorney and go to their queue
2. Note the number of "assigned" and "on hold" cases
3. Click into a legacy appeal
4. Add a single admin action
5. Note the number of assigned cases decreases by one but the number of on hold cases increases

[2020-03-04 00:02] jcq commented on #13474
@rutvigupta-design
Any particular copy desired for a success banner upon submission?

[2020-03-04 01:02] leikkisa commented on #10586
I'd like to suggest directing users to YourIT if that's a viable option.

[2020-03-04 01:03] leikkisa commented on #13356
I'm planning on just removing the "Appeal form" option for users who don't have permissions, instead of a having an option that inevitably causes an error.  And I'm going to put it behind a feature toggle for now because I'm concerned about overlimiting it, until we get more information on the other users that are actively using the Appeal form option.

[2020-03-04 02:30] leikkisa commented on #13356
![Screen Shot 2020-03-03 at 6.30.02 PM.png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/a312c192-91b9-47d5-a3ad-774dfbc73c76)

[2020-03-04 17:18] chandracarney opened #13609 "Run through end-to-end virtual hearings flow"
In advance of pilot, run through the end-to-end virtual hearings flow in UAT to ensure seamless connectivity after adjustments to timezones, Granicus, Pexip, and other integrations.

- [x] Set up UAT
- [x] Run through test scripts

Test email
- [x] Confirm "from" address
- [x] Confirm email is sending with new key
- [x] Confirm timezones by testing hearing scheduled for another (non-east coast) ti

[2020-03-04 17:56] Sjones352 opened #13610 "Motion to Vacate | Frontend clean-up"
## Description

During the Motion to Vacate dogfooding, we discovered a few front-end bugs in the Vacate and De Novo task and  se Motions to Vacate therefore, it would be good to do an overall clean up of things we missed.

## Acceptance criteria
- [x] On the Motion to vacate task page `provide context on which issues should be null` before clicking on any reviews for the motion, the text should b

[2020-03-04 19:55] Sjones352 opened #13611 "Motion to Vacate | Fix Link to Chairman Memorandum and all assets"
## Description
During the Motion to Vacate dogfooding, we discovered that link to chairman memorandum and all assets is broken.

## Acceptance criteria
- [ ] Link to Chairman Memorandum in the yellow CAVC alert opens up the PDF to the Chairman Memorandum
- [ ] Check and fix other assets in the assets folder as well (such as training documents)

## Background/context/resources
This appears to be wo

[2020-03-04 20:01] Sjones352 opened #13612 "Case Details | Task actions should be alphabetized"
## Description
During the Motion to Vacate dogfooding, we discovered that task actions are not alphabetized, it would be good to alphabetize the task actions.

## Acceptance criteria
- [ ] Task actions should be alphabetized

## Background/context/resources
https://docs.google.com/document/d/1IZw48Lby9Ez8MxbXlMv21b9cllpODZOvMT0FiCTsl_k/edit

This will likely impact the rest of queue so it would be

[2020-03-04 20:22] chandracarney opened #13613 "Test POA flow for pilot"
## Description
The Power of Attorney (POA) flow needs to be tested and verified before the pilot. Ensure that the POA receives a participant link, rather than the host link.

## Technical considerations
We are only able to test this in the demo environment.

[2020-03-04 20:46] leikkisa opened #13614 "Motion to Vacate | Hide Motion to Vacate task option until appeal is outcoded"
## Description
Motions to vacate cannot happen on an appeal that has not yet been decided - it's the decisions that are being vacated.  The motions to vacate code depends on the presence of decision issues.

## Acceptance criteria
- [ ] The Motion to Vacate option is not presented under "Create new task" until an appeal is outcoded.

## Open questions
- Can vacates also happen on decision issues o

[2020-03-04 20:53] leikkisa opened #13615 "Motion to Vacate | Fix success banner for "Created Motion to Vacate""
## Description
When the Motion to Vacate Mail task is created, it shows a success banner at the top of the app.  This success banner also shows up in subsequent modals, for example if the user is performing a task action.  It should only show up at the top of the page.

## Acceptance criteria
- [ ] Success banner for "Created Motion to Vacate" does not show up in modals

## Screenshot of current b

[2020-03-04 20:57] araposo-tistatech opened #13616 "Adding attorneys to judge team"
J. Gosnell is unable to add attorneys to J. White's judge team. Problem statement below:

I created a judge team this morning (456), but then I get the below error when trying to add her attorneys.

**JudgeTeam in Team Management page**
<kbd>
![image005](https://user-images.githubusercontent.com/45575454/75922822-ccc39680-5e31-11ea-884e-4dcb8a09d3a5.jpg)
</kbd>

**JudgeTeam Management page errors*

[2020-03-04 20:58] leikkisa opened #13617 "Motion to Vacate | Create only 1 appeal stream after judge addresses motion"
## Description
During dogfooding, we noticed that two duplicate vacate appeal streams were being created after the JudgeAddressMotionToVacate task was completed.  I'm not sure if this was a test data flaw, but this ticket is to check the code and fix this bug.

## Acceptance criteria
- [ ] When a judge completes a JudgeAddressMotionToVacateTask with a granted disposition, only one vacate stream is

[2020-03-04 21:14] chandracarney commented on #13525
Updated with new requirements as the Pexip team has additional changes requested to URL, theme ID, and length of PIN, and has removed the v2 update request.

[2020-03-04 21:16] chandracarney commented on #12648
We'll pick this work up after the pagination work has been deployed.

[2020-03-04 21:38] leikkisa commented on #13356
BvaIntake is in the UI - it's called Case Review

[2020-03-04 21:41] leikkisa commented on #13356
Add Case Review team to folks who can intake appeals

Get everybody who needs to do Appeal intakes who is not on the Mail team added to the Case Review team before we turn it on.

Change the name of the Case Review team to the Board Intake team.

Hold off on merging this ticket.

[2020-03-04 22:05] #13547 closed

[2020-03-04 23:01] nanotone opened #13619 "Handle display of cancelled tasks in VLJ Support completed tab"
## Description
Sometimes a cancelled task shows up in the Completed tab for VLJ Support Staff cases, most recently as a result of cleaning up legacy appeals whose VACOLS records have gone missing (although there may be other reasons).

This causes the frontend to try to load the hearings badge, resulting in a 404 alert in Sentry. It is also probably pretty confusing to the user, as nothing can be

[2020-03-05 01:37] leikkisa commented on #13248
[Notes from a working group kickoff meeting and demo on 3/4/2020](https://docs.google.com/document/d/1whjV_lj5SIffyCgs-IZk68lOAKk9kaZm579ZK0hbYR4/edit)

Caseflow's scope is limited to creating the EPs for Supplemental Claims with the right code indicating whether the issues on it were last decided one year before the receipt date.

If multiple issues are on the SC, and any one of them is greater t

[2020-03-05 01:38] leikkisa commented on #13532
- [ ] claim_id: 73812904
https://dsva.slack.com/archives/CFBLH2LR4/p1583338984083300

[2020-03-05 02:01] leikkisa opened #13622 "Motion to Vacate | Success banner after motions attorney sends recommendation to judge"
## Description
After a motions attorney clicks "Send to judge", fills out their recommendation, and submits it, there is no success banner.

## Acceptance criteria
- [ ] Add a success banner after the motion attorney sends their recommendation to the judge

## Designs
TBD

[2020-03-05 02:14] leikkisa opened #13623 "Motion to Vacate | Do not create De Novo stream without completed judge and attorney tasks"
## Description
This ticket is to make the code for creating De Novo streams more robust.  The De Novo stream relies on the previous vacate stream having a completed JudgeDecisionReview and Attorney Task.  This should always be the case in prod, but let's wrap creation of the de_novo stream in a transaction and throw an error if not, just in case.

## Acceptance criteria
- [ ] A de_novo stream is n

[2020-03-05 14:42] lomky commented on #8213
_[What is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Estimating at a 2.

All the info is already on the front end. QueueTableView already displays the badge. Hearings is the only badge, for now. This ticket is just to show existing badges, not create any new ones.
How many badges do we expect to have to fit? There's one now, and one planned. More

[2020-03-05 14:47] lomky commented on #13584
_[What is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Estimating at a 2.
Could be a 3 if we have cleanup on the controller and the backend. Param clean up, routing in code based on it, etc.

[2020-03-05 14:51] lomky commented on #13583
_[What is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

This is for all active tasks.
Not just updating the `assigned_to` field, but using the `reassign` logic.

Estimating at a 1.
Might be a 2 if task trees are weird.

[2020-03-05 14:52] nanotone opened #13625 "Motion to Vacate | Clean up unused code"
## Description
The implementation of the Motions to Vacate project has taken on many different shapes, there may be code left from previous approaches that are no longer actively being used. Since MTV is largely cemented now, unused code should be removed (we can always dig it up from GitHub).

## Technical notes
This work could take the form of an audit of the following things, and may result in

[2020-03-05 14:56] lomky commented on #13616
_[What is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Timebox to a 3.

Could be a 2 if the impersonation immediately shows the error. General optimism.

[2020-03-05 14:58] lomky commented on #13592
_[What is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

This is a new feature toggle.

Estimating at a 1. We _might_ also have to update a test with the flag.

[2020-03-05 15:04] lomky commented on #13594
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Estimating this at a 3.

Might be a 5 because we're in a code space that is mid-refactor & rollback. Severe pessimism.
Could be a 2 because we have all the info and just need to shuffle info on the front end.

[2020-03-05 15:11] lomky commented on #13596
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

There is logic checking for location code to add things to the distribution pool. That's a good place to start looking.
What does our ACD documentation looks like? When are things ready for distribution? AMA? Legacy? Let's create that documentation as an end product of this investigation.

Esti

[2020-03-05 15:15] lomky commented on #13597
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Estimating at a 3.

Might be a 2 because all we're doing is merging the ids to be used in the same way. Need to return the user css_id as needed on the front end.
Might be a 3 to refactor our existing solution.

[2020-03-05 15:20] lomky commented on #13600
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Estimating at a 3.
A three because front end redux store.
We have documentation for front end debugging. [One](https://github.com/department-of-veterans-affairs/caseflow/wiki/Debugging-Tips) and [two](https://github.com/department-of-veterans-affairs/caseflow/wiki/Queue-Frontend-Development)

[2020-03-05 17:10] nanotone commented on #13625
Oops, dupe of #13507

[2020-03-05 17:10] #13625 closed

[2020-03-05 17:30] leikkisa commented on #13488
@leikkisa to add instructions for testing code

Peter may know how to test this the best.

[2020-03-05 17:47] pkarman commented on #13438
This continues to grow. This morning:

OpenTasksWithClosedAtChecker
403 open Task(s) with a closed parent Task

https://dsva.slack.com/archives/CN3FQR4A1/p1583403263012700

[2020-03-05 17:51] leikkisa commented on #13610
Check with @rutvigupta-design about bolding labels, especially when working on a component that is used elsewhere.

[2020-03-05 17:54] hschallhorn commented on #13417
[Estimating at a 3!](https://github.com/department-of-veterans-affairs/caseflow/issues/5597#issuecomment-582946052)

[2020-03-05 18:50] chandracarney opened #13626 "Tango team planning"
This is an epic to track Tango's sprint goals.

## Emojis
⭐️ - New work
💅 - Design work
☘️- Bonus work (not committed)
✅- Did it!
↪️- Tickets carried over from before
👾 - Extra work pulled in
❌ - Decided not to do
🛑 - Blocked at the end of the sprint

[2020-03-05 18:55] jcq commented on #13615
@hschallhorn, do you have some context to provide on this?
- What were the thoughts/requirements that led to adding the alert to be displayed in `QueueFlowModal`?
- What would be the "correct" way per your understanding as to how to show a "success" alert on the Case Details page but not have it show up in any modals that use `QueueFlowModal`?
- Would it perhaps make sense to add another property

[2020-03-05 19:08] nicholer commented on #12960
Study and synthesis completed, but keeping "in-progress" until new issues created for all findings

[2020-03-05 19:15] hschallhorn commented on #13615
My thoughts on this!
- Modals that stay open after the action is performed
  - On an error
    - Should show the error alert within the modal
    - Should not display the error on the queue page itself
  - On success
    - Should show the success alert within the modal
    - Should not display the alert on the queue page itself
- Modals that close after the action is performed
   - On an error

[2020-03-05 19:25] msj0nes commented on #13488
**Latest from John Dell**

**_Service Name is:_** ContentionService and web method to use in that service is: findContentions
<xs:element name="origSourceTypeCd" type="xs:string" minOccurs="0" />
If it is equal to EXAM

[2020-03-05 19:41] chandracarney opened #13627 "Log unsent or bounced emails"
## Description
Check response from Granicus (through ActionMailer gem) to ensure ability to log and monitor unsent and bounced emails. Log and send alert to Sentry to monitor unsent (and bounced, if possible) Veteran and Representative emails.

## Out of scope
- Tracking email
- Implement job if email hasn't sent
- Notify hearing coordinator that email didn’t go through

## Background/context/reso

[2020-03-05 19:53] leikkisa commented on #13248
I got information that this was one of the proposed EP codes:
040SCRGTY

[2020-03-05 19:56] msj0nes commented on #13488
**Sample Cases w/ Pending Scheduled for Testing**

- https://appeals.cf.ds.va.gov/search?veteran_ids=664326
- https://appeals.cf.ds.va.gov/search?veteran_ids=39881
- https://appeals.cf.ds.va.gov/search?veteran_ids=656869
- Claim ID #77167806
- Claim ID #76150964

[2020-03-05 19:57] msj0nes commented on #13488
@leikkisa sample case above to test the new data point received.

[2020-03-05 20:18] msj0nes commented on #8547
**Current Status:**

Internal testing for the all workflows developed has started with an end date 3/13/20.

_Next_: Final fixes associated with internal testing, UAT and stakeholder demo.

[2020-03-05 20:26] hschallhorn commented on #13415
Did some [research](https://hackmd.io/@hschallh/SJAYxCC4I) into how we already handle overtime cases in caseflow!

## Investigation

### AMA Cases

#### What is getting sent to the backend?

After selecting "This work product is overtime" and submitting, the following payload is sent to /case_reviews/603/complete

[code]
Overtime is indeed [something we expect](https://github.com/department-of-vet

[2020-03-05 20:55] hschallhorn commented on #13417
Check out this [link](https://github.com/department-of-veterans-affairs/caseflow/issues/13415#issuecomment-595430281) for where we can see if an ama case case been marked overtime by an atty.

[2020-03-05 21:00] pkarman opened #13630 "[Flaky Test] HLR Intake edit"
## Background/context/resources

[code]
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [x] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remember that if a test has been skipped for a decent amount of time, it may no longer map to the exact code.

If you reach the end of your time box and don't feel like the solution is in sight:

[2020-03-05 21:57] hschallhorn commented on #12455
We have also head from supervisors that they would like their team members to see this larger "Days waiting" so they can prioritize cases that have been waiting the longest, even if they have only been with the current user for a day

Perhaps the solution here is to clarify to users what days waiting means. I think we should stress to the users that “Days waiting” does not mean “Days waiting on YO

[2020-03-05 22:31] pkarman commented on #12791
As of this morning there are zero open LegacyAppeal records with null pointers. Our daily check will report any new ones.

[2020-03-06 00:56] jcq commented on #13615
@hschallhorn Do you happen to know if the modal in question from #11794 (`LookupParticipantIdModal`) is the only instance where it was intended / deemed necessary to have the success alert show within a `QueueFlowModal`? If so, I propose we change the logic so that we can display some sort of success message within _that particular modal_ instead of having `QueueFlowModal` show an alert whenever i

[2020-03-06 00:59] leikkisa commented on #13617
I haven't been able to reproduce this bug, but I can see in UAT that it definitely happened (see investigation notes below).  I wonder if we want to turn create_motion into a find_or_create_motion, but since the creation timestamps are the same I'm not sure if that would help.

[code]

[2020-03-06 16:07] hschallhorn commented on #13615
To my knowledge this is the only place this is used. 2 sounds like a good option!

[2020-03-06 16:49] pkarman commented on #12791
And today there are dozens more. We have some process creating them.

[2020-03-06 16:50] pkarman commented on #13630
this was not a flake but local fail. #13636 should resolve.

[2020-03-06 16:50] #13630 closed

[2020-03-06 17:10] jcq opened #13637 "Motion to Vacate | Ensure Original Stream Links to Vacate Stream"
## Description
If a user is viewing the vacate stream, both it and the original stream show up in the "All Cases" section at the top of the Case Details page. However, if the user is viewing the original stream, the vacate stream doesn't appear in the "All Cases" section.

## Acceptance criteria
- [ ] Vacate stream shows up in "All Cases" when viewing the original stream
- [ ] Vacate stream gets a

[2020-03-06 17:23] pkarman commented on #13384
![Screen Shot 2020-03-06 at 11 21 22 AM](https://user-images.githubusercontent.com/1205061/76106660-edf4c600-5f9c-11ea-8415-2913048818e1.png)

leveled off.

[2020-03-06 17:23] #13384 closed

[2020-03-06 17:37] #13540 closed

[2020-03-06 19:27] jcq commented on #13622
@rutvigupta-design What do we want the copy to be in the alert?

Below is what I have as a placeholder:

<img width="981" alt="Screen Shot 2020-03-06 at 11 26 15" src="https://user-images.githubusercontent.com/2581274/76115692-7d01de00-5f9d-11ea-8fda-c6e9c76d90ea.png">

[2020-03-06 22:22] #13313 closed

[2020-03-06 22:22] #13228 closed

[2020-03-06 22:23] #13518 closed

[2020-03-06 22:23] #13181 closed

[2020-03-06 22:23] #13336 closed

[2020-03-06 22:23] #13073 closed

[2020-03-06 22:23] #13312 closed

[2020-03-06 22:43] leikkisa commented on #12692
# TBD Sprint 3/9/2020 - 3/20/2020
Engineering capacity: 88%
- JC Batteam week of 3/9

## Sprint status
:arrow_right_hook: Carryover: 20
:arrow_right_hook: ✅Carryover completed:
:arrow_right_hook: Remaining:

⭐️ Points pulled in for this sprint: 27
⭐️✅Points from this sprint completed:
⭐️Decided not to do:
⭐️Remaining:

👾Space invaders pulled in:
👾✅Space invaders completed:
👾Remaining:

Total to do

[2020-03-07 00:09] jcq opened #13641 "Team Management | Need Validation and/or Error Handling on AddPrivateBarModal"
## Description
It looks like the `team_management/add_private_bar` endpoint will throw errors if `name` or `url` field are empty. However, `AddPrivateBarModal` does not set them to required, and does not gracefully handle error responses (Caseflow renders an empty white page and one needs to inspect the network request log to see what the error was).

## Acceptance criteria
- [ ] Frontend validati

[2020-03-09 00:41] yoomlam opened #13642 "Identify impactful metrics to implement"
## User or job story
User story: As a designer/engineer/PM, I need collect metrics, so that I can:
* proactively identify problems with active appeals
* prioritize work to streamline the appeal process

## Acceptance criteria
- [x] Tue, Feb 25: invite folks to identify impactful needs: [echo](https://dsva.slack.com/archives/CJL810329/p1582647597021500?thread_ts=1581085628.222000&cid=CJL810329), [f

[2020-03-09 15:35] #13581 closed

[2020-03-09 16:08] chandracarney commented on #13548
Duplicate of https://app.zenhub.com/workspaces/caseflow-5915dd178f67e20b5553ba0c/issues/department-of-veterans-affairs/caseflow/13609

[2020-03-09 16:08] #13548 closed

[2020-03-09 16:23] hschallhorn commented on #13175
# [American Revolution](https://en.wikipedia.org/wiki/American_Revolutionary_War) sprint (Mar 9 - Mar 23) engineering priorities
@yoomlam, @ajspotts, @lomky, @araposo-tistatech, and @hschallhorn, here are the priorities for this sprint!
## Core Set
### Special case movement #11801
1. (ALEC) :star: SCM: Allow SCM Team members to perform actions for judges #12424
1. Judge Assign page should display

[2020-03-09 17:52] carodew opened #13645 "Design and research for marking cases as overtime"
# Success criteria for the design phase
We'll know our design is successful when we observe senior counsel members successfully mark a case as overtime and remove over time status without confusion in usability testing. Research participants will be able to articulate what marking a case as overtime means for the business (that is, attorneys can work on the case during over time hours).

# Timelin

[2020-03-09 18:06] ferristseng opened #13646 "[Flaky Test] UserInfoController.represented_organizations when the requestor is a BVA admin when the css_id parameter is invalid in the request returns an error"
### Background/context/resources

[code]

 - Circle CI Error:  https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/105528/tests
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [x] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remember that if a test has been skipped for a decent amount of time, it may no lon

[2020-03-09 20:51] leikkisa opened #13647 "Intake | ITF | Support claim label for SCs with issues decided > 1 year ago"
## Description
In order to support processing of "Intent to file" requests submitted by veterans, folks need to be able to differentiate supplemental claims with issues decided more than one year before the claim date.  We will be doing this by giving those a different end product claim type code.

This only applies to compensation EPs and only to rating issues.  If a SC rating EP has multiple iss

[2020-03-09 22:20] leikkisa commented on #13356
Adding "blocked", I am waiting to hear confirmation from Martina before proceeding.

Current implementation shows an alert and disables the submit button instead of hiding the form type.

Currently it grants access to BvaIntake (Case review) and MailTeam. I'm waiting to hear if we also want to grant access to Intake Admins.

![Screen Shot 2020-03-09 at 2.47.34 PM.png](https://images.zenhubusercont

[2020-03-09 23:05] leikkisa commented on #13247
Note - remand supplemental claims' station gets overridden to 397, so we don't have to worry about the ones that come from appeals going to the wrong station.

[2020-03-10 13:51] yoomlam commented on #10995
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/9392

[2020-03-10 13:59] yoomlam commented on #10255
2 occurrences in the last 2 days: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/9377

[2020-03-10 14:04] yoomlam commented on #3192
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/8613

[2020-03-10 14:56] lomky commented on #13136
Work is proving to be quite extensive. Splitting out an investigation into the Hearings capabilities of VLJs & Acting VLJs to a follow up.

[2020-03-10 14:58] lomky opened #13652 "Deep dive into limitations of acting judges in caseflow - Hearings"
Split off of #13136
[Relavent slack thread](https://dsva.slack.com/archives/CJL810329/p1578607001034900)
[Previous acting judge work](https://github.com/department-of-veterans-affairs/caseflow/pulls?utf8=%E2%9C%93&q=is%3Apr++%22Acting+judge%22)
[Batteam](https://dsva.slack.com/archives/CHX8FMP28/p1578069080207800) issues [related](https://dsva.slack.com/archives/CHX8FMP28/p1577821139163100) to [av

[2020-03-10 15:04] yoomlam opened #13653 "[Sentry] Caseflow::Error::QueueRepositoryError: Decass record does not exist for vacols_id"
## Description

`Caseflow::Error::QueueRepositoryError: Decass record does not exist for vacols_id: 3577463 and date created: 2020-02-13`

Looks like this failure prevents judge from assigning case to attorney.

Not taking any action. Waiting for judge to submit Support request.

## Acceptance criteria
- [ ] Documentation for why this happens
- [ ] Updated failure message that is actionable

## Ba

[2020-03-10 15:19] yoomlam opened #13654 "Make cancelled appeals more obvious in appeal search"
## Description
UI problem

At the Board's request, two appeals were modified so that the users will not be able to see or search for them based on the docket number.
(The original request from Martina was to delete them so that users are not confused about cancelled appeals and their assignment to users -- [screenshots in slack](https://dsva.slack.com/archives/CHX8FMP28/p1583761683209100?thread_ts

[2020-03-10 15:23] ferristseng commented on #13613
Just tested in demo, and I'm seeing the right link as VSO:

![Screen Shot 2020-03-10 at 11.22.27 AM.png](https://images.zenhubusercontent.com/569954a5638e718c99601d36/25d39091-6ba9-469f-a4e1-f01656e1362a)

[2020-03-10 15:23] #13613 closed

[2020-03-10 16:15] #13093 closed

[2020-03-10 16:46] msj0nes opened #13657 "Motion to Vacate | Update task dropdown copy"
## Description
The 'Pulac Cerullo' team in Queue org handles NOAs found on CAVC. Considering the cases are correctly routed to that team, the copy should be updated to reflect such.

## Acceptance criteria
As any motion to vacate user, the copy titled "Notify Litigation Support for CAVC Jurisdictional Conflict' seen throughout the motion to vacate flow should be updated to read "**_Notify Pulac Ce

[2020-03-10 17:20] ferristseng opened #13658 "[Flaky Test] TaskPager.filtered_tasks when there are a variety of task assigned to the current organization when filter includes TranslationTasks and FoiaTasks returns all translation and FOIA tasks assigned to the current organization"
## Background/context/resources

[code]

 - Circle CI Error:  https://app.circleci.com/pipelines/github/department-of-veterans-affairs/caseflow/28547/workflows/0a6bd38c-a803-469b-8ce2-3b98c4cdfd96/jobs/105616/tests
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [x] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remember that if a te

[2020-03-10 18:01] rutvigupta-design commented on #13622
@jcq here is the success banner.
![Motions Attorney - Successfully sent review to judge](https://user-images.githubusercontent.com/51714306/76344210-99708400-62d7-11ea-8a8c-65d1a96d218d.jpg)

[2020-03-10 19:08] rubaiyat22 commented on #13328
@ferristseng Do we want to wait until the refactor of the virtual hearing workflow to do this?

[2020-03-10 19:10] ferristseng commented on #13328
@rubaiyat22 I'm fine with either fixing it now or later. Either way, I don't see it as being a huge issue for the time being, since it's not a common workflow.

[2020-03-10 19:21] msj0nes commented on #13505
## Current Workaround

- Make sure a notification is in VBMS with something stating Attorney fee
- Go into caseflow intake, ADD, stroll down to none of these match, see more options
- Click on Compensation
- Then select Contested Claims other than Apportionment (the date will be the date of the letter and the reason should say Improper Calculation fees)

[2020-03-10 21:45] leikkisa commented on #13488
I'm inclined to update this to a 5 because the testing itself will take some extra time and it involves multiple PRs in multiple repos, but I'll wait to check in with folks.

[2020-03-10 21:51] Sjones352 commented on #13488
Yes Lets increase it to a 5.

[2020-03-10 22:13] chandracarney opened #13661 "Observe virtual hearings pilot users"
## Background/context

Virtual hearings Gen2 will roll out a pilot to select users as part of a phased release process to ensure no major issues are found. When the pilot is launched in Caseflow, the Team Tango will conduct user observations for the first users to help guide and troubleshoot, which will allow a direct line to identify areas for improvement for Hearing Coordinators.

## Participant

[2020-03-10 22:21] chandracarney opened #13662 "Refactor Hearing Details and Daily Docket page for Virtual Hearings"
## Description
Refactor virtual hearings front-end in order to prepare for building out virtual hearing dockets.

## Acceptance criteria

## Technical notes

![HearingDetailsFlowChart-2](https://user-images.githubusercontent.com/1298274/77795614-3fe0b700-7044-11ea-9b50-a00266cb0f95.png)

[2020-03-10 22:25] chandracarney opened #13663 "Hearing day endpoint cleanup"
## Description
Clean up Hearing Day endpoint to improve performance as pilot is rolled out to a wider range of users and as we ramp up for further integration with virtual hearing dockets.

## Acceptance criteria

## Background/context/resources

## Technical notes

[2020-03-10 22:41] yoomlam opened #13664 "Fix missing AMA cases after case is put on hold"
## Description
After a judge puts an AMA case on hold, when they return to their queue view (http://localhost:3000/queue), AMA cases are no longer listed until the page is reloaded/refreshed.

Video: https://www.loom.com/share/f1a89f9e914f405fa42bd113b5d8edec
* Queue starts with 29 cases
* After AMA case is put on hold, 17 cases are listed, none of them are AMA cases.
* After manual refresh, 28 ca

[2020-03-10 22:42] yoomlam commented on #13664
Somewhat related to #8095.

[2020-03-10 23:14] chandracarney commented on #13626
# American Revolution sprint (Mar 9 - Mar 23) engineering priorities
- Batteam week of 3/16/20

## Priorities
### Virtual Hearings pilot readiness
1. ↪️Virtual Hearings incorrect time on email reminder
2. ↪️Update Pexip URL and theme ID
3. ↪️Run through end-to-end virtual hearings flow

### Gen2 virtual hearings pilot
1. ⭐️Observe first virtual hearing pilot users

### Rep and state of residence c

[2020-03-10 23:28] jcq opened #13665 "Fix Error in Establish Claim CancelModal"
## Description
There appears to be an issue that causes an invalid response to occur when using the `CancelModal` during the establish claim workflow. The current code expects a valid error response, so a JS error occurs when said invalid response occurs.

## Acceptance criteria
- [ ] Return "default" error response even if the component receives an invalid error response from API

## Background/c

[2020-03-10 23:50] yoomlam commented on #10044
This has been brought up as a result of a Support ticket: https://dsva.slack.com/archives/CHX8FMP28/p1583866360253300.

[2020-03-11 16:31] rutvigupta-design opened #13667 "User Research Study: Contested Claims | Attorney Fees or Full Contested Claims"
## User story
BVA Intake users need a way to intake contested claims in Caseflow, starting with attorney fees claims (which may be one of the more frequent claims we see coming in).

## Problem statement
The team needs to establish an understanding of what contested claims are, the various types, and what the general process is for someone to submit such a claim. Via user research, we need to clar

[2020-03-11 18:55] hschallhorn opened #13671 "Route EvidenceOrArgumentMailTasks to the mail team upon creation"
## User story
As a mail team member, I need to be able to have actions for Evidence & Argument tasks, so that I can close them out

## Acceptance criteria
- [x] `EvidenceOrArgumentMailTask`s are routed to the colocated team if the case has been dispatched
- [x] `EvidenceOrArgumentMailTask`s are routed to the MailTeam otherwise
- [x] `EvidenceOrArgumentMailTask`s are not routed to the hearing branc

[2020-03-11 19:06] rutvigupta-design commented on #13622
UPDATED COPY: Removing (VLJ), so that the success banner reads: "You have submitted your review to [display_name]"

[2020-03-11 19:26] leikkisa commented on #12072
Closing in favor of https://github.com/department-of-veterans-affairs/caseflow/issues/13647

[2020-03-11 19:26] #12072 closed

[2020-03-11 22:05] yoomlam commented on #10164
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/9409/

[2020-03-11 22:29] yoomlam commented on #13278
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/9402

[2020-03-11 22:30] yoomlam commented on #12650
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/9401

[2020-03-11 22:33] yoomlam commented on #9676
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7850

[2020-03-11 23:25] yoomlam opened #13676 "Update `updated_at` when a task is closed"
## Description
While working on Bat Team and [uncancelling tasks for an attorney](https://github.com/department-of-veterans-affairs/caseflow/wiki/Bat-Team#uncancel-an-appeal-accidentally-closed-by-closing-last-issue), I noticed the `closed_at` and `updated_at` timestamps are not consistent:
[code]

It seems like `updated_at` should be updated when a task is closed.

## Acceptance criteria
- [ ] `u

[2020-03-11 23:55] #13657 closed

[2020-03-12 06:44] tomas-nava opened #13678 "[Flaky Test] LegacyAppeal#location_history returns array of date, to_whom, by_whom"
## Background/context/resources
[code]

 - [Circle CI Error](https://app.circleci.com/pipelines/github/department-of-veterans-affairs/caseflow/28617/workflows/745c6186-cb11-4354-b67e-610a492f7f8c/jobs/105807/parallel-runs/2?filterBy=FAILED)
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [x] Not Skipped

## Approach

Time box this investigation and fix.

Remember that if a

[2020-03-12 13:13] lomky opened #13679 "Handle "Request More Cases" for Acting Judges (AVLJs)"
## Description
The `Request More Cases` button on the Judge Assign view currently does not support Acting VLJs, and should be disabled for those users.

We're going to to just remove the drop down to access the Assign page, as the AVLJ don't use that functionality. ~This can be done by removing the button, greying out the button, or having the button return an appropriate error.~

## Acceptance cr

[2020-03-12 14:09] lomky opened #13680 "Allow Acting Judges (AVLJs) to be assigned drafting of Legacy Cases"
## Description
When an attorney on a Judge's team has been tapped to do Acting Judge (AVLJ) work, they still want to be able to accomplish on attorney work. At the moment, these attorneys cannot be assigned Legacy cases to draft decisions for.

## Acceptance criteria
- [ ] Attorneys with AVLJ status can be assigned & work legacy attorney drafting tasks (`AttorneyLegacyTask`s)
- [ ] Create/Update A

[2020-03-12 14:21] lomky opened #13681 "VLJ Support tasks properly identify the AVLJ role"
## Description
When an AVLJ user assigns a legacy case to VLJ support for an admin action, the dropdown to complete that admin task always reads as "Return to Judge", regardless of whether the action was created from a Judge legacy task or Attorney legacy Task.

## Acceptance criteria
- [ ] The `ColocatedTask` dropdown action properly refers to the role the AVLJ was in when they assigned the admin

[2020-03-12 14:28] lomky commented on #13136
## Summary

In Queue when the AVLJ user is acting in the VLJ or Attorney capacity, they are limited by:

  1. Lack of a Judge Team - No change expected
      - Where a true VLJ could choose an attorney on their team or any attorney when assigning or reassigning an AMA drafting task, AVLJ must to choose from a list of all attorneys
      - When a true VLJ user could assign a redrafting DispatchRetu

[2020-03-12 14:31] #13136 closed

[2020-03-12 16:24] ajspotts commented on #12424
@hschallhorn Re: Assign legacy/ama tasks to an attorney by acting on a JudgeAssignTask - I had assumed that we wanted the "Assign to attorney" action in the `CaseDetailsView` return the list of the attorneys assigned to the judge.  However @lomky pointed out that alternatively returning _all_ attorneys could also be what the ticket was asking for (see gif below).  Could you weigh in to clarify?

!

[2020-03-12 16:50] hschallhorn commented on #12424
I would say whichever is the easier lift. SCM users will have the full list of attorneys by selecting "Other". We can file a followup ticket if they'd like to se the judge's attorneys.

[2020-03-12 17:39] chandracarney opened #13683 "Monitor virtual hearings delete job"
## Description
Monitor breakdown and deletion of virtual hearing rooms and add alerting, along with how many were deleted each day.

## Acceptance criteria
- [ ] ~Alerts~ (Exceptions already captured when Pexip returns an exception)
- [ ] Metric for how many were deleted

## Background/context/resources

## Technical notes

[2020-03-12 17:41] chandracarney opened #13684 "Log video to virtual conversions in Datadog"
## Description
Log (count or timestamp) when a user successfully and unsuccessfully tries to convert a video hearing into a virtual hearing.

## Acceptance criteria
- [ ] Update documentation: [link]

## Technical notes

[2020-03-12 17:44] msj0nes opened #13685 "Investigation | Contentions missing a new rating in VBMS"
## Description

Claim ID:73069663.  This was for an EP040 that was cleared on 6/19/2019.  We have received subsequent claim forms (0995 and 0996) but are unable to establish the claim.  Caseflow Queue shows an error message: “Cleared, decision sync failed. Support notified.” The contention was denied, but there’s no rating profile from after the EP was cleared with the new rating issue. The newest

[2020-03-12 17:55] chandracarney opened #13686 "Research email communications with Veterans"
## Description
Describe how well the virtual hearing emails and times are working for Veterans, representatives, and judges.

## Problem statement
Historically hearings are held on a rolling docket, meaning that the day's Veterans all arrive for the morning or afternoon and their hearings are held on a first-come-first served basis. Appointment and time-based functionality is new to the Board and

[2020-03-12 18:00] chandracarney opened #13687 "Set up logging for hearing tasks"
## Description
Track historic, current, and future hearing tasks to chart metrics for hearings. Record when dispositions were set on hearings and what they were.
- Track No Shows
- Track Cancelations
- Track Postponements

## Acceptance criteria
- [ ] Create query
- [ ] Create chart in Metabase

## Background/context/resources
Decrease No Shows, Cancelations, Postponements by introducing virtual h

[2020-03-12 19:47] hschallhorn opened #13688 "Validate document_id when checking if a decision has been written for a case"
## User story
As an AVLJ, I need to see attorney actions on legacy cases assigned to me, so that I can draft decisions. As of right now, if the [document id on the appeals associated decass record](https://github.com/department-of-veterans-affairs/caseflow/blob/8105d0b15856f67b0db9deda34b45495806b8248/app/models/queues/legacy_work_queue.rb#L34) is anything other than `nil`, acting judges are shown

[2020-03-12 20:19] Sjones352 commented on #13610
@rutvigupta-design and @leikkisa on this success banner, wouldn't it be better to use full name instead of initial and lastname. Also can we change the copy to `if you have made a mistake, please email Full name to manage any changes`. I like spelling out the words `have`

<img width="1193" alt="Screen Shot 2020-03-12 at 3 46 16 PM" src="https://user-images.githubusercontent.com/23080951/76562967-

[2020-03-12 20:24] #11757 closed

[2020-03-12 20:43] yoomlam commented on #13017
`Caseflow::Error::DuplicateUserTask: Appeal 19616 already has an open task of type JudgeDecisionReviewTask assigned to User. No action necessary`

[code]

[2020-03-12 20:43] lomky opened #13692 "Document All Existing FeatureFlags"
## Description
Create a wiki page with information on all the current FeatureFlags in the master branch of the Caseflow repo.

## Acceptance criteria
- [ ] Create a wiki page
  - Feature flag name
  - Feature flag proper name, if different
  - Description of the feature
  - Sprint Team that created it [DevOps, Delta, Echo, FoxTrot, Tango, Whiskey]
  - Sprint Team that owns it, if any, if different

[2020-03-12 20:47] yoomlam commented on #13017
Related to #13110.

[2020-03-12 20:59] lomky opened #13694 "Write a script to toggle feature flags on/off in Dev/Demo similar to Prod/UAT"
## Description
We've outgrown turning all feature flags on by default, and need to be able to enable toggle them more precisely!

## Acceptance criteria
- [ ] A YAML config file with sections for Dev & Demo, modeled on the Prod/UAT file in [appeals-deployment](https://github.com/department-of-veterans-affairs/appeals-deployment/blob/master/ansible/vars/features-config.yml)
- [ ] Populate the confi

[2020-03-12 21:06] jimruggiero commented on #13692
This one won't have a Product/Project, so added the team and eng labels in its place.

[2020-03-12 21:48] #13488 closed

[2020-03-12 21:48] #13614 closed

[2020-03-12 21:49] #13247 closed

[2020-03-12 22:05] hschallhorn commented on #13017
NOOOOOO

[2020-03-12 22:20] nanotone commented on #13617
I believe I've reproduced this in the UI, by opening up the Address MTV flow, filling out all the fields, and rapidly clicking on `Submit`. This causes multiple `POST /post_decision_motions` calls to get kicked off until one XHR finishes -- but all of them succeed anyway.

The simplest fix is to patch the frontend, so that clicking on `Submit` disables the button from being re-clicked until the sc

[2020-03-12 22:24] leikkisa commented on #13617
Oooh, good sleuthing! We might want to add this front-end improvement to other submit buttons that make a post as well.

[2020-03-12 23:16] rutvigupta-design commented on #13610
@Sjones352 I like the copy changes you suggested (changing you've to you have, and adding in the users first name)!

[2020-03-12 23:17] rutvigupta-design commented on #13474
@jcq did we still need updated copy for this?

[2020-03-13 01:29] msj0nes opened #13695 "Caseflow Intake | Design | Current State | User Flow"
## Problem statement
In stakeholder communications and improving internal understanding of the Caseflow Intake product and functionality available, there is a need for a current state user flow that can be updated and maintained via mural etc.

## Resources
Please use the resources available [here](https://github.com/department-of-veterans-affairs/appeals-team/tree/master/Project%20Folders/Caseflo

[2020-03-13 14:32] araposo-tistatech opened #13696 "Support AMA CAVC Remands (Build/Test)"
## Background/context

## Goals

## Success criteria

## Stakeholders

## Requirements/stories

## Open questions

## References/Resources

### Designs and workflows

### Business value

### Dependencies

[2020-03-13 14:34] araposo-tistatech opened #13697 "IHP-writing VSOs case assignment (Build/Test)"
## Background/context

## Goals

## Success criteria

## Stakeholders

## Requirements/stories

## Open questions

## References/Resources

### Designs and workflows

### Business value

### Dependencies

[2020-03-13 14:34] araposo-tistatech commented on #13697
should be epic, closing

[2020-03-13 14:34] #13697 closed

[2020-03-13 14:35] araposo-tistatech opened #13698 "IHP-writing VSOs case assignment (Build/Test)"
## Background/context

## Goals

## Success criteria

## Stakeholders

## Requirements/stories

## Open questions

## References/Resources

### Designs and workflows

### Business value

### Dependencies

[2020-03-13 14:38] araposo-tistatech opened #13699 "Echo Queue: FNOD Notifications"
## Background/context
A notification that an appellant has died can occur at any point of the appeals process. If a notification is received the case is processed as a death dismissal.

Currently, in the legacy context, there is a field in VACOLS where an RO or members of the Board can input a FNOD date. When an FNOD date is input an alert pops up (for any user who views the case) indicating the a

[2020-03-13 14:39] araposo-tistatech opened #13700 "Trigger receipt of completed IHPs to Attorneys & VLJs"
## Background/context
At this time IHP writing POAs automatically receive IHP tasks for appellants in the following scenarios:

- When the veteran's 90 day window for evidence submission is complete.
- Post intake for direct docket AMA cases
- Any time Caseflow identifies a new representative for an appellant and they are an IHP writing POA

When the task is assigned to a VSO organization, any mem

[2020-03-13 14:40] araposo-tistatech opened #13701 "Granted substitution claims automatically return to the Board"
## Background/context

## Goals

## Success criteria

## Stakeholders

## Requirements/stories

## Open questions

## References/Resources

### Designs and workflows

### Business value

### Dependencies

[2020-03-13 15:50] ferristseng commented on #13627
From the GovDelivery docs, when an email gets sent, the API sends back a response like this:

[Reference](https://developer.govdelivery.com/api/tms/tutorial/send_an_email/)

[code]

I think the status will always be `"new"` here, but we can at least check to see if the API accepted our request or not. This ultimately won't give us insight into the delivery status of the email, but we can use the r

[2020-03-13 16:15] yoomlam commented on #13278
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/9428

[2020-03-13 16:34] yoomlam opened #13703 "Handle TypeError: Cannot read property 'value' of null in LookupParticipantIdModal.jsx"
Handle `Cannot read property 'value' of null` error.

`./app/queue/LookupParticipantIdModal.jsx in apply at line 88:47`

https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/app/queue/LookupParticipantIdModal.jsx#L88

[code]

Should `this.state.selectedUser` ever be null?

Sentry alert: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7822

## AC
- [

[2020-03-13 17:06] lomky commented on #13688
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Based on when Doc ids are pulled from DAS, which might not be done in Caseflow, so its not validated by us.
Only affects legacy appeals. Where we pull in cases from vacols for a users legacy queue.

Estimating at a 3.

Might be simple as the location is well known, just have to update the value

[2020-03-13 17:08] lomky commented on #13653
Putting this at a 2 timebox!

[2020-03-13 17:09] yoomlam commented on #13653
2 events:

* Mar 9, 2020 10:17:28 AM EDTCaseflow::Error::QueueRepositoryError: Decass record does not exist for vacols_id: 3577463 and date
* Nov 4, 2019 11:35:02 AM ESTCaseflow::Error::QueueRepositoryError: Decass record does not exist for vacols_id: 3961088 and date  

[2020-03-13 17:14] lomky commented on #13654
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
This is specifically about how appeals appear in the search results page. Later we may want to add something to the Case Details page. Backend change to provide the info that the appeal is changed, but this is mostly front end work

Estimated at a 3.

Backend and frontend changes, with a mild am

[2020-03-13 17:21] lomky commented on #13671
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Grandparent task (assigned to mail organization), parent task (assigned to default assignee organization), child task (is assigned to a user).

This mail task will have a different structure than every other mail task, as we don't want it to have a grandparent task (double org task).

Why 3?
* T

[2020-03-13 17:27] lomky commented on #13680
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Looks like the UI thinks we're reassigning to a judge.
The problem exists on both the assign page and the case details page.
The front end is giving an error, unknown if the problem is deeper, as well.
Check in both Judge Assign and Case Details pages.

Why 1?
- Pretty sure we throw the error if

[2020-03-13 17:33] lomky commented on #13679
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Do we just want to remove the link to their assign page and return "unauthorized" if they try to get to it?
Might be good to add some helper functions around "is_only_vlj?" "is_only_atty?". we already have "is_avlj?"

Why 1?
- Seems straightforward, 2 line change
- Seems like a simple logic upda

[2020-03-13 17:37] lomky commented on #12217
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Any objection to just setting this to the pulural "Tasks"? Motion Carried.
If motivated, search for other occurrences and make similar changes.

We think this change is a 1, but we'e going to spend a 2's worth of effort to look for and correct similar occurences!

[2020-03-13 17:40] lomky commented on #13681
We would rather spend our engineering effort to do an overhaul of action labels.

[2020-03-13 17:40] #13681 closed

[2020-03-13 17:47] lomky commented on #13664
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

full reload gets json, after the task is put on hold its from redux. Somethign is improperly resetting the task list without the AMA tasks.

Why 2?
- Might be accidentally clearing ama tasks somewhere

Why 3?
- Because frontend, redux store, ...
- Time to investigate root cause

[2020-03-13 17:53] lomky commented on #13694
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

The final Config for this ticket needs to be informed by #13692

Why 2?
- Just reverting a change we made in the summer maybe?

Why 5?
- Info gathering from the other teams for in-process features

[2020-03-13 17:58] lomky commented on #13692
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Why 2?

Why 3?
- Lots of cross team collaboration
- Reading through closed tickets and PRs to track down to lost context

[2020-03-13 19:32] jcq commented on #13617
Looks like I built in support for it via a prop to `MTVJudgeDisposition`, but apparently never actually passed that prop in from `AddressMotionToVacateView`.

So frontend fix for it would be to just add a state var in `AddressMotionToVacateView` that gets set in `handleSubmit` and passed to `MTVJudgeDisposition`.

[2020-03-13 19:59] yoomlam opened #13704 "Handle TypeError: Cannot read property 'reduce' of undefined"
Getting a lot of `TypeError`s during BatTeam:
[code]

[code]
Called by:
[code]
Called by:
[code]

Sentry alert:
* https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/9379/

Actions:
* Investigate cause
* Fail early and improve error msgs (make them actionable)

[2020-03-13 20:22] yoomlam commented on #13704
Why caseflow-dispatch and not caseflow-intake?
Because:
[code]

[2020-03-13 20:37] yoomlam commented on #13704
Possibly related [another Sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/9425/) that has the same error message about `Cannot read property 'reduce' of undefined` but points to a code block where `reduce` isn't even mentioned.

[2020-03-13 21:44] ferristseng opened #13707 "Revisit performance of assign hearings table"
The assign hearings table lazy-loads data for BGS.

We are doing this for the:

  * Veteran State Residence (#13705)
  * ~POA (#12860)~

We should avoid putting too much load on BGS if possible

[2020-03-13 23:09] leikkisa opened #13708 "Upstream Error | Participant ID does not match"
## Description
When attempting to establish a claim, we are getting the error:
"participantPersonId does not match a dependent or an organization"

## Impacted Reviews
HLR 27759
SCs: 237738, 236114, 246910

YourIT INC9911186
https://yourit.va.gov/va?id=ticket&table=incident&sys_id=d1e19bd5db67c4d0587fff1e0f961940

[2020-03-13 23:16] leikkisa opened #13709 "Upstream Error | Set read error on CDDEV_action_group"
## Description
When a veteran requests an informal conference on their higher level review, we generate a tracked item in BGS. When we are trying to generate tracked items on a claim, after the claim has been established, we are getting the following error:
[code]

## Impacted reviews
HLR 75987 - Resolved, note someone else confirmed that the tracked item actually was created. We did not get the d

[2020-03-13 23:16] leikkisa commented on #13709
John Dell has referred us to Jinmay Patel, and Sally sent Jinmay an email on 3/13/2020

[2020-03-13 23:21] leikkisa opened #13710 "Upstream Error | Null pointer exception has occurred"
## Description
When attempting to establish a claim, we're getting the following error:
A null pointer exception has occurred. Claim creation failed. System error.

## Impacted reviews
SCs: [295760, 285675, 295736, 312714, 281147, 285677, 325744, 325344, 328970, 337112, 334559, 346909]

[2020-03-14 00:40] leikkisa commented on #12254
I think the way to differentiate these from other DuplicateEP errors is to check if the veteran's end products have any past 030 or 040 claims.

[2020-03-16 13:08] msj0nes opened #13711 "Missing Ratings | Investigation | Production Cases | Non-Ratings Inclusion"
## Description
VBA anticipates 'non-ratings' are covered in the missing ratings work being completed. If non-ratings are not included the requirement 'Missing Ratings' is considered incomplete. They have provided examples of non-ratings for further investigation.

- Claim ID: 77553656
040 - PMC Supplemental Claim Rating
![image](https://user-images.githubusercontent.com/41164406/76761195-63af1d80-

[2020-03-16 14:01] yoomlam opened #13712 "Distinguish timeout errors from other errors in appeal_repository.rb"
## Description
Sentry alerts are being caused by query timeout errors like:

`ActiveRecord::StatementInvalid: OCIError: ORA-12609: TNS: Receive timeout occurred: SELECT  "STAFF".* FROM "STAFF" WHERE "STAFF"."SLOGID" = :a1 AND ROWNUM <= :a2 `

`ActiveRecord::StatementInvalid: OCIError: ORA-12609: TNS: Receive timeout occurred: SELECT * FROM (SELECT  DISTINCT "BRIEFF"."BFKEY" FROM "BRIEFF" LEFT OUTE

[2020-03-16 14:23] yoomlam opened #13714 "Improve load times for `organizations/privacy/tasks`"
## Description
As `bvajretan`, the page at https://appeals.cf.ds.va.gov/organizations/privacy took 1.2 mins to transfer 2.1 MB to load 298 unassigned cases, 208 assigned cases, and 50 completed cases.
The endpoint that takes a long time is `organizations/privacy/tasks`.

From Hunter:

## Acceptance criteria
- [ ] Reduced load times

## Background/context/resources

## Technical notes

[2020-03-16 16:09] pkarman commented on #13678
I thought this was fixed already via 9300909d33c0be3569fe74286ba924bba823194d

[2020-03-16 16:20] #13637 closed

[2020-03-16 16:27] tomas-nava commented on #13678
It looks like that change wasn't merged into the branch when this test flaked; closing now.

[2020-03-16 16:27] #13678 closed

[2020-03-16 16:31] pkarman commented on #13676
`updated_at` is automatically set by ActiveRecord. We should only manually set it when we use `update_all`.  See https://stackoverflow.com/a/18873228

[2020-03-16 16:50] yoomlam commented on #13616
Replicated by:
- Log in as TEAM_ADMIN (VACO)
- Go to http://localhost:3000/team_management
- Create new judge team for BVAKKEELING
- Click "Org admin page", which goes to http://localhost:3000/organizations/bvakkeeling/users and I get the following:
<img width="1102" alt="image" src="https://user-images.githubusercontent.com/55255674/76778899-90206500-6778-11ea-8dd5-6e73f28c9e8b.png">

Immediate c

[2020-03-16 18:20] yoomlam commented on #13616
@araposo-tistatech Should John be a [System Admin](https://github.com/department-of-veterans-affairs/caseflow/wiki/Admins-in-Caseflow#system-admin)?

Here's a list of current System Admins: https://github.com/department-of-veterans-affairs/appeals-deployment/blob/master/ansible/vars/functions-config.yml#L113

Also note the **Workaround** in the above comment.

Tech note: We check if user is an `ad

[2020-03-16 20:47] yoomlam commented on #13654
Ultimately [deleted the two appeals](https://dsva.slack.com/archives/CHX8FMP28/p1583862127248300?thread_ts=1583267009.143600&cid=CHX8FMP28) due to reporting errors.

[2020-03-17 13:16] yoomlam commented on #13616
Hunter will create another ticket to address permission consistency:

FYI: John's comment:

[2020-03-17 14:07] araposo-tistatech commented on #13423
@carodew @geronimoramos Can we add the contentions mock-ups we spoke about to this ticket so I can run them by the board for approval. Once that is complete, the engineering team should be able to begin the work on this.

[2020-03-17 17:29] msj0nes opened #13725 "Motion to Vacate | Update Field Name for Hyperlink in Deny/Dismiss Workflow"
## Description

BVA stakeholders in a business demo provided feedback on this element and believe this hyperlink should point to the uploaded decision document in Reader in order to be useful to VLJs in the next stage of the workflow. Currently no shared folder environment exist to use the link as currently designed.

## Acceptance criteria

**1. As a Litigation support team member and VLJ user, t

[2020-03-17 17:44] carodew commented on #13423
@araposo-tistatech I thought we discussed that we didn't need mock ups, since we thought we could just have the engineers put together a page that follows the format of the current "add special issues" page in the check out flow. Am I misunderstanding?

[2020-03-17 17:52] araposo-tistatech commented on #13423
@carodew yes, but I did prefer to have at least screenshots to provide to the board, before engineering begins the work. In any case, I may be able to mock something up myself so feel free to disregard.

Thanks!

[2020-03-17 17:55] carodew commented on #13423
Gotcha – let me know if you need help.

[2020-03-17 18:26] #8213 closed

[2020-03-17 18:48] #13130 closed

[2020-03-17 19:02] #13597 closed

[2020-03-17 19:21] msj0nes commented on #13505
### Pain Points Surfaced
- VACOLS doesn't flag or indicate 'apportionment' contestant claims so its hard to know when and who needs to be notified.
- VACOLS overwrites the main root address on a case with the claimant address
- ROs tend to mess up the notification requirements quite often e.g. routinely fail to notify the contested claimants
- A common Privacy violation currently occurring is givi

[2020-03-17 19:34] msj0nes commented on #13505
## Caseflow Queue Work  - Echo

### Next Phase Contested Claims (Queue) - Echo Team
- Update the case details [page](https://github.com/department-of-veterans-affairs/caseflow/issues/8660#issue-398406038) with an indicator highlighting a found contested claim for both legacy cases and new AMA cases. See https://github.com/department-of-veterans-affairs/caseflow/issues/9132
- Create banner to alert

[2020-03-17 19:38] lomky commented on #13583
Completed. [Slack thread](https://dsva.slack.com/archives/CQCUMFA0H/p1584103109258700)

[2020-03-17 19:38] #13583 closed

[2020-03-17 20:13] jcq commented on #13474
@rutvigupta-design Sorry, I somehow missed this last week. Yeah, if you have any updated copy, we'll get it in there before this gets merged.

[2020-03-17 20:32] pkarman commented on #12791
Appears to be some aggressive clean up happening in VACOLS. Created PR to run a nightly clean up.

[2020-03-17 20:53] leikkisa commented on #13711
Adding a couple of notes:
Currently, we are not aware of a data source for prior decisions on non-rating issues. Martina is going to ask OI&T about where VBMS may be getting data like that.

For pension issues, it's particularly unclear to me the difference between rating and non-rating issues, but I want to add that previous pension denials are a category we're aware of missing rating data for, s

[2020-03-17 21:07] rutvigupta-design commented on #13474
@jcq let's go with this copy, if it isn't too much trouble!

![Return to Judge success banner](https://user-images.githubusercontent.com/51714306/76902166-63984600-6869-11ea-8fef-913bda16ab6d.jpg)

[2020-03-17 21:15] #13156 closed

[2020-03-18 00:15] tomas-nava opened #13732 "In virtual hearing emails sent to judges, show the hearing time in the central office timezone"
## Description
The hearing time in all virtual hearing emails is currently in the regional office timezone. For emails sent to judges, we should use the central office timezone instead.

## Acceptance criteria
- [ ] Emails are observed to be sent in the correct timezone

[2020-03-18 14:11] araposo-tistatech commented on #8781
We haven't seen this error in 8 months, closing as there is no need for a fix at this time.

[2020-03-18 14:11] #8781 closed

[2020-03-18 14:15] #13525 closed

[2020-03-18 14:25] araposo-tistatech commented on #10021
@araposo-tistatech May need design input, touch base w/Peter for better understanding of the context before estimation can occur.

[2020-03-18 14:58] pkarman opened #13733 "VHA ODS tables"
## Description

VHA has reporting needs similar to those of VBA. These include tables:

* HIGHER_LEVEL_REVIEWS: Intake data for Higher level Reviews
* SUPPLEMENTAL CLAIMS: Intake data for Supplemental Claims
* APPEALS: Used to keep track of information for AMA appeals
* DECISION_ISSUES: Issue-level dispositions for AMA claims/appeals
* REMAND_REASONS: Remand reason for decision issues.

In order t

[2020-03-18 16:20] pkarman commented on #13654
I highly recommend leveraging the `appeal.status` method to determine the business logic for this, as it is aligned with what BVA users will expect in their reporting.

[2020-03-18 18:02] araposo-tistatech opened #13735 "Special Issues Page: Add Validation"
## User or job story
Job story: When an attorney or judge clicks continue on the special issues page, and a special issue is not chosen, they need to see an error message noting a selection needs to be made on the page.

## Acceptance criteria
- [ ] add error if no issue is selected "Choose at least one. If no special issues apply to this case, please confirm by selecting “No special issues” (Lega

[2020-03-18 18:08] araposo-tistatech opened #13736 "AMA: Add Special Issues Page"
## User or job story
User story: As a attorney and or/judge, I need to be able to flag the following special issues on AMA cases, so that the data can be captured for reporting purposes:
- Burn Pit
- Military Sexual Trauma (MST)
- Blue Water
- US Court of Appeals for Veterans Claims (CAVC)

A "No Special Issues" checkbox needs to be added as a selection must be made on this page.

## Acceptance cr

[2020-03-18 20:12] leikkisa opened #13738 "Intake | Do not allow removing contentions with exam scheduled"
## Description
When a contention has an exam scheduled, we should prevent the user from removing the contention.

## Acceptance criteria
- [x] Add data to the request issue serializer that includes whether the request issue contention has an exam scheduled
  - [x] Incorporate the new BGS service (see tech notes), and check if origSourceTypeCd has a value of "EXAM"
- [x] If the contention has an ex

[2020-03-18 20:20] jcq commented on #13725
@msj0nes Do these changes apply to the judge ("Address Motion to Vacate") view as well? Currently that has the same field label and help text.

[2020-03-18 20:26] hschallhorn commented on #13654
Yep, looks like we just don't serialize ama appeals' status, so that value doesn't exist on the front end. That may be the only change we need to add for the status portion of this.

[2020-03-18 21:10] geronimoramos commented on #13654
Making the `Canceled` status in red #e31c3d makes a lot of sense to make it obvious for the user.

And just a thought, do we want it to be more obvious as well to the user from the Case Details page? Not sure if it's a problem, but an idea would be using a Warning Status alert component at the top.

[2020-03-18 21:45] pkarman commented on #13654
On case details it seemed important to BVA folks to "unassign" the case if it is cancelled, so whatever logic is setting the "assigned to" value should take the status into account.

[2020-03-19 14:23] geoffreystienblock opened #13744 "Caseflow, VATAS and VACOLS Integration"
## Background/context
Board Managers need a platform that can integrate VATAS, VACOLS, and Caseflow data with manual adjustments to calculate performance levels for overtime assignments and performance appraisals

Paul Saindon has created a spreadsheet tool made for the SSCs to collect data from Caseflow for their attorneys, but they need to have the Postgresql ODBC driver installed for it to work

[2020-03-19 14:54] rutvigupta-design opened #13745 "Contested Claims | Attorney Fees | Design issue category for attorney fees claims"
## User story
 As a BVA Intake user, I need the ability to select a specific issue category to process Attorney Fees claims.
For more, see #13505

## Problem statement

- Currently, users have to default to selecting "contested claims (other than apportionment)" for any contested claims that aren't apportionment claims. This makes it difficult to track specific types of cases, like attorney fees,

[2020-03-19 15:06] yoomlam commented on #12136
@alisan16
Unable to replicate described problems on this page:
<img width="1169" alt="image" src="https://user-images.githubusercontent.com/55255674/77080257-17631800-69c7-11ea-8502-c8d95b77d7f5.png">

The element has `table` with `summary` attribute, `thead` with `th` columns, `tbody` with `td` cells, and `tfoot` as suggested at https://developer.mozilla.org/en-US/docs/Learn/HTML/Tables/Advanced.

[2020-03-19 15:08] msj0nes commented on #13282
# Status
Obtaining 'copy' for UI from AMO

**Ready for dev**
#13738 Intake | Do not allowing removing contentions with exam scheduled

**Closed**
#13488 Intake | Add Contention service to ruby-bgs
#13675 Adding updated ruby-bgs gem to gemfile

[2020-03-19 15:28] hschallhorn opened #13747 "Do not show VLJ or Attorney for cancelled appeal in case details"
### Description
When appeals are cancelled, we should not display the judge or attorney that worked on this case in the case title.

![Screen Shot 2020-03-19 at 11 15 52 AM](https://user-images.githubusercontent.com/45575454/77083630-32885480-69d4-11ea-9857-359cbb617f8a.png)

### AC
- [ ] Judge that worked on case is not shown ic case details when the appeal has been cancelled
- [ ] Attorney that

[2020-03-19 15:50] #13732 closed

[2020-03-19 15:50] hschallhorn opened #13748 "Sync up permissions for creating a team and modifying a team"
As found in #13616, BVA admins can [create teams](https://github.com/department-of-veterans-affairs/caseflow/blob/0de710af8150e3f96893efb102f7aded8e14be31/app/controllers/team_management_controller.rb#L4) but they cannot properly [view or modify members of those teams]( https://github.com/department-of-veterans-affairs/caseflow/blob/4f9db9108334a090775f1b4d682665e0c76c55c2/app/controllers/organiza

[2020-03-19 15:51] #13616 closed

[2020-03-19 15:59] tomas-nava opened #13749 "Make hearing times in virtual hearings emails consistent across templates"
## Description
We're still using `hearing.scheduled_for` in the [representative location changed](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/views/virtual_hearing_mailer/_representative_location_changed.html.erb#L24) and [veteran location changed](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/views/virtual_hearing_mailer/_veteran_locatio

[2020-03-19 16:06] #13617 closed

[2020-03-19 16:06] #13615 closed

[2020-03-19 16:07] #13622 closed

[2020-03-19 16:07] #13475 closed

[2020-03-19 16:09] #13610 closed

[2020-03-19 16:11] #13665 closed

[2020-03-19 16:39] leikkisa commented on #13394
@rutvigupta-design Can you review the copy in Sandra's PR and lend us your design expertise?

[2020-03-19 16:41] rutvigupta-design commented on #13738
I can help with copy design, if needed!

[2020-03-19 16:45] yoomlam commented on #13735
@araposo-tistatech

Which ticket is this? Looking at the Legacy checkout screenshot, has a designer reviewed the placement of "No Special Issues"?

[2020-03-19 16:46] yoomlam commented on #13396
Who/How should we contact/communicate with the reporting team?

[2020-03-19 16:48] leikkisa commented on #13589
@rutvigupta-design Do you have suggestions for the copy on this?

[2020-03-19 16:48] yoomlam commented on #13736
Related to #13396

[2020-03-19 16:49] leikkisa commented on #13391
@rutvigupta-design Please feel free to suggest copy if you're interested

[2020-03-19 16:50] araposo-tistatech commented on #13735
@yoomlam I've had @carodew review the designs and the board has already agreed this is the approach they would like to take design wise. You are correct, I forgot to add the No Special Issues button to the following tickets:

#13396
#13736

Adding now.

[2020-03-19 17:00] araposo-tistatech commented on #13396
@yoomlam my understanding is the team member working this ticket will need to connect with @alisan16 for guidance on how to proceed with working with the reporting team.

[2020-03-19 17:16] yoomlam commented on #13396
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Add some fields/columns in a caseflow model. Add check boxes to Atty/Judge checkout. make those boxes update the caseflow fields. Add to controler flow.

Reporting needs? Hunter to bring up in tech leads. "Data acceptable to reporting team" comes from issue template.

Why 2?
 - Pretty standard

[2020-03-19 17:22] yoomlam commented on #13736
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Needs to _create_ a page for special issues on AMA.
And include it in the checkout workflow.
Create tests for new page and workflow.
Update the model and DB.
Think about how we could update this in the future to have issues live on their own model?

Why 1?

Why 2?

Why 3?
- Borrow a lot from #1

[2020-03-19 17:25] yoomlam commented on #13735
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Reminder: remove "(Optional)" from heading happening in an earlier ticket.
Recommended: Update FE and BE, if its easily doable.

Why 1?

Why 2?k
- Update tests
- FE only?
- Simple frontend validation

Why 3?

Why 5?

[2020-03-19 17:31] yoomlam commented on #13747
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Why 1?
 - Should be able to add appeal.status !== "cancelled" in two places

Why 2?
- because FE
- Could create a helper function like `removed?` to be reused in other places now that we're building out cancelled appeal handling on the front end

[2020-03-19 17:36] yoomlam commented on #13748
@araposo-tistatech Hit up the Board for a decision on action item.

[2020-03-19 17:43] yoomlam commented on #13712
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Convert into DataDog monitor alert. Send timeout alerts to #dev_null

Why 1?

Why 2?

Why 3?
- Create DataDog monitor alert
- Ramp up time

[2020-03-19 17:48] yoomlam commented on #13714
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Need Board buy-in. Does BVA like pagination?
Should we enable for everyone?

Pagination only enabled for certain teams: ColocatedTeam, VSO, PrivacyTeam, etc...

Why 1?
- Change false to true in organization.rb `use_task_pages_api?`

Why 2?
- Ramp up on pagination
- Refactor existing to use pagi

[2020-03-19 17:53] yoomlam commented on #13703
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Why 1?

Why 2?
- Could be straight-forward diagnostics
- Easy validation on the front end if this is indeed the issue

Why 3?
- Investigation time

Why 5?

[2020-03-19 17:53] hschallhorn commented on #13703
![Screen Shot 2020-03-19 at 1 53 08 PM](https://user-images.githubusercontent.com/45575454/77098605-03301280-69e9-11ea-8217-39a6f6b8f3bd.png)

Yep, looks like we just need to add validation to the front end 🎉

[2020-03-19 17:57] yoomlam commented on #13704
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Timebox to a 3.

Why 1?

Why 2?

Why 3?
- First ever echo dispatch ticket! Assume it will take some time to ramp up on dispatch code and workflow

Why 5?

[2020-03-19 18:07] msj0nes commented on #13725
@jcq It applies to the Judge as well. Please see additional changes as well where the 'Caseflow Reader' is hyperlinked. This is in the event Litigation Support provides the wrong URL the VLJ can easily access the vets claims folder.

[2020-03-19 18:13] chandracarney opened #13750 "Allow admin to add Veteran to past hearing day"
## User or job story
User story: As a Hearing Coordinator admin, I need the ability to add a Veteran's appeal to a past docket, so that Veterans who had a hearing are tracked in Caseflow.

## Acceptance criteria
- [ ] This feature should be accessible to the following user groups:
- [ ] Include screenshot(s) in the Github issue if there are front-end changes
- [ ] Update documentation: [link]

##

[2020-03-19 18:25] nanotone commented on #13394
@rutvigupta-design Here are explainers for the two regexes, in case it's helpful for crafting copy.

AddressLine1/2/3:
Max length 20
Cannot contain multiple whitespace characters next to each other.
Must contain only: alphanumerics, whitespaces, and anything in this group `+#@%&()_:',.-/` (excludes some punctuation like `?!";$` which are common in prose)

City:
Max length 30
Seems to allow all pri

[2020-03-19 18:37] chandracarney opened #13751 "Store information related to virtual hearing emails"
### Description
To display information about virtual hearing emails to Veterans and their PoAs, and to triage in bat team, write a tech spec for backend changes in order to create new table to:
- Store email type, email subject line, and/or preview
- The initial hearing time included in the sent email

### Acceptance criteria
- [x] write a tech spec for backend changes ... #13907
- [x] implement s

[2020-03-19 18:44] chandracarney opened #13752 "Hearing Details layout updates"
### Description
Update the layout and information hierarchy of the Hearing Details page.

### Designs
Figma: https://www.figma.com/file/V87TZArfdurCGJiEjQ73ES/Virtual-Hearings?node-id=109%3A17309

### Acceptance criteria
  -  Hearing Details fields are re-arranged into the following sections separated by divider lines:
      - section with `VLJ`, `Hearing Coordinator`, `Hearing Room` fields

[2020-03-19 18:55] chandracarney opened #13753 "Frontend changes to display info about virtual hearing emails sent"
### Description
On Hearing Details, _after_ the hearing type is switched to virtual _and_ the async job is complete, an `Email Notification History` section displays.

### Designs
Figma: https://www.figma.com/file/V87TZArfdurCGJiEjQ73ES/Virtual-Hearings?node-id=109%3A17309

### Acceptance criteria
  - The section is expanded by default. But it can be expanded/collapsed, following Caseflow's `borde

[2020-03-19 19:01] msj0nes opened #13754 "Intake Issue Mitigation | EP Label Changes"
## Description
Make visible to user the current state of an EP type that may or may not have been changed.

## Acceptance criteria
- [ ] Update documentation: [link]

## Background/context/resources

## Technical notes

[2020-03-19 19:32] nicholer opened #13755 "Update character limit on hearing Notes field"
### Description
Increase the character limit on the hearing Notes field that appears on Daily Docket and Hearing Details pages to 1000 characters.

### Background / context
The hearing Notes field currently has a character limit of 100. Hearing Coordinators have reported in a [design review](https://github.com/department-of-veterans-affairs/appeals-team/blob/master/Project%20Folders/Caseflow%20Pro

[2020-03-19 19:43] chandracarney commented on #13564
Context for closing a re-opening: while we pilot with our first users, it's been decided the emails should remain turned on. We can gather user feedback over time and turn them off, if needed.

[2020-03-19 19:45] pkarman opened #13756 "[Flaky Test] UserInfoController.represented_organizations"
## Background/context/resources

 - Circle CI Error:  [UserInfoController.represented_organizations](https://app.circleci.com/pipelines/github/department-of-veterans-affairs/caseflow/28802/workflows/4cf3be33-66b4-463f-85b5-d62c0a07fa59/jobs/106353/parallel-runs/4?filterBy=FAILED)
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [x] Not Skipped
 - Related Flakes
    +

## App

[2020-03-19 19:55] araposo-tistatech commented on #13050
@hschallhorn did this one end up getting fixed in #13191?

[2020-03-19 20:07] alisan16 commented on #12136
There's a chance this was fixed with other a11y fixes. Let's close this and follow up with Linsey to clarify what her comments mean regarding the filter button. My guess is it's only relevant if the table was not being read as a table (original defect), so it might not apply any longer. cc @chandracarney to follow up.

[2020-03-19 21:19] jcq commented on #13474
## Final Screenshots
<img width="911" alt="Screen Shot 2020-03-19 at 14 16 53" src="https://user-images.githubusercontent.com/2581274/77115946-8010bb80-69ec-11ea-9eb5-12b0547857dd.png">
<img width="539" alt="Screen Shot 2020-03-19 at 14 17 10" src="https://user-images.githubusercontent.com/2581274/77115951-81da7f00-69ec-11ea-8acf-80a7889e92c9.png">
<img width="917" alt="Screen Shot 2020-03-19 at 1

[2020-03-19 21:23] yoomlam commented on #13714
Related #10170

[2020-03-19 21:36] msj0nes opened #13761 "Design Recommendation | Caseflow Intake | Displaying External Indicators Impacting Caseflow Action"
## Description
During the Intake process, the Caseflow product not only retrieves data from the CorpDB but the database also provides legitimate error or blockers on claims that prevent user action or requires the user to take action outside of Caseflow in order to proceed with editing issues on the claim. With minimal design work using formatting already available, how can be update this page to

[2020-03-19 21:55] msj0nes opened #13762 "Intake Issue Mitigation | EPs Closed In Share Should Be Closed Automatically Closed In Caseflow"
## Background/context
Cases that are closed in external entities such as SHARE should automatically be closed in Caseflow.

## Open Questions
1. Do HLR or SCs show in search when closed or cancelled
2. If yes, can we show 'Closed in SHARE/VBMS'

[2020-03-19 21:59] chandracarney opened #13763 "Resolve Pexip and credential issues for virtual hearings"
## Description
After behavior seen in the end-to-end testing 3/19/20, work through the following issues related to Pexip and the job(s) associated:

- [ ] Log full response from Pexip API
- [ ] Only send email if conference ID is set
- [ ] Change (in job) to `or` instead of `and` - currently we create the conference if the ID and alias are both nil
- [ ] Increase timeout for Pexip request
- [ ] Ou

[2020-03-19 22:06] yoomlam commented on #10029
Relevant to #13136

[2020-03-20 03:11] jimruggiero commented on #13667
Please add this to your success criteria: Users can successfully enter a claimant other than current spouse or child and who isn't currently listed in Caseflow (i.e. an attorney, an agent, an ex-spouse, etc.)

[2020-03-20 15:26] hschallhorn commented on #8211
Closed in #8213!

[2020-03-20 15:26] #8211 closed

[2020-03-20 15:33] #10170 closed

[2020-03-20 15:34] hschallhorn commented on #10170
Closed as #13714 will handle this for all orgs

[2020-03-20 19:00] hschallhorn commented on #13050
Yes!

[2020-03-20 19:00] #13050 closed

[2020-03-20 19:15] #12648 closed

[2020-03-20 21:40] yoomlam opened #13769 "Report RequestIssues stats to DataDog"
Subticket of #13642

## Description

Purpose: To document how to collect metrics and create DataDog dashboards.

This ticket is meant to exercise/exemplify the documentation by reporting some metrics for Sally, who manually runs a set of Rails queries every month to compile this table:
<img width="1258" alt="image" src="https://user-images.githubusercontent.com/55255674/77207943-ac9a0580-6ac8-11ea

[2020-03-20 22:50] #13763 closed

[2020-03-21 16:31] yoomlam commented on #13642
Updated Collecting Metrics page: https://github.com/department-of-veterans-affairs/appeals-team/pull/1266

[2020-03-23 14:05] rutvigupta-design opened #13775 "Contested Claims | Attorney Fees | Design a way to add a contesting claimant not listed in Caseflow"
## User story
 As a BVA Intake user, I need the ability to select an attorney as the claimant in the Intake workflow. For more, see #13505.

## Problem statement

- Currently, users are unable to select a claimant not listed in Caseflow (typically, listed individuals are spouses and children)
- As a workaround, users select the claimant as the veteran, but this is only possible if the veteran is n

[2020-03-23 14:25] yoomlam commented on #12424
Should this be closed?

[2020-03-23 14:49] hschallhorn commented on #12424
#13726

[2020-03-23 14:53] chandracarney commented on #13626
# American Revolution sprint (Mar 9 - Mar 23) priorities
- Batteam week of 3/16/20

## Priorities
### Virtual Hearings pilot readiness
1. ↪️✅ Virtual Hearings incorrect time on email reminder
2. ↪️✅ Update Pexip URL and theme ID
3. ↪️ Run through end-to-end virtual hearings flow (#13609)
4. 👾✅ Resolve Pexip and credential issues for virtual hearings (#13763)
5. 👾✅ In virtual hearing emails sent to

[2020-03-23 14:57] hschallhorn commented on #13175
# [Sandra Day O’Connor](https://en.wikipedia.org/wiki/Sandra_Day_O%27Connor) sprint (Mar 23 - Apr 5) engineering priorities
@yoomlam, @ajspotts, @lomky, @araposo-tistatech, and @hschallhorn, here are the priorities for this sprint!
## Core Set
### Special case movement #11801
1. ⭐️ (ALEC/HUNTER) Allow SCM Team members to perform actions for judges #12424
1. Give judge assign queues human readable

[2020-03-23 15:05] #13749 closed

[2020-03-23 18:41] ferristseng opened #13778 "Derive status of virtual hearing instead of using the status field"
## Description

The `status` field on the virtual hearing model is redundant since we have the virtual hearing establishment (which tracks the status of the creation of the conference in Pexip), and the `*_email_sent` flags, which tracks the status of the notification emails. We can remove the `status` field from virtual hearings, and, instead, derive the status from the establishment and `*_email

[2020-03-23 18:55] #13507 closed

[2020-03-23 20:17] #9638 closed

[2020-03-24 00:13] #13474 closed

[2020-03-24 00:14] #13725 closed

[2020-03-24 00:14] #13393 closed

[2020-03-24 14:38] araposo-tistatech opened #13780 "CM: Allow CM Team to Expedite Cases with Blocking Tasks (Front end)"
## User or job story
User story: As a CM team member, I need the ability to cancel blocking tasks (policy permitting), so I can advance cases to a VLJ.

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: scm_move_with_blocking_tasks
- [ ] This feature should be accessible to the following user groups: CM Team Members
- CM team members can:
  - [ ] send request to backend

[2020-03-24 15:32] msj0nes opened #13782 "Intake | VBA COVID-19 Update"
## Description
In wake of COVID-19, appeals processing changes are being implemented by various VA entities which impact the ability for many veterans to submit claims within the time frame set by the VA. To accommodate these changes, VBA requires the ability to track these specific claims in Caseflow and allow timeliness exemptions due to COVID-19.

#### VBA - User Story
- [As a VBA user (claims

[2020-03-24 16:25] leikkisa commented on #12692
# Sandra Day O’Connor Sprint 3/23/2020 - 4/3/2020
Engineering capacity: 88%
- Sandra Batteam week of 3/23

## Sprint status
:arrow_right_hook: Carryover: 23
:arrow_right_hook: ✅Carryover completed: 3
:arrow_right_hook: Remaining: 20
:arrow_right_hook: 🛑 (blocked)

⭐️ Points pulled in for this sprint: 17
⭐️✅Points from this sprint completed:
⭐️Decided not to do:
⭐️Remaining:

👾Space invaders pulled

[2020-03-24 17:21] msj0nes commented on #13611
### Status
Ticket is on hold pending BVA SME demo session to discuss with users changes required to this ticket.

[2020-03-24 17:54] chandracarney commented on #9625
Team verified that the final modal ([Invision link](https://va-gov.invisionapp.com/share/TUPWZLI7GBP#/screens/340237341)) confirmation) is not in place but the state before is in place.

[2020-03-24 18:00] ferristseng commented on #12146
Widget: https://docs.headwayapp.co/widget

[2020-03-24 18:06] chandracarney commented on #11966
Changed to low priority as this isn't causing any known issues in Caseflow as it exists.

[2020-03-24 18:10] araposo-tistatech opened #13783 "Legacy Task Investigation Findings (AVLJ Work)"
## Background/context
Following the legacy task investigation we found the following limitations for AVLJs:

In Queue when the AVLJ user is acting in the VLJ or Attorney capacity, they are limited by:

1. Acting as Attorney while AVLJ
- VLJs cannot assign Legacy cases to the AVLJ user to draft
  - AVLJs are still listed as assignable attorneys
- Minor: For Legacy appeals with VLJ Support tasks, th

[2020-03-24 18:12] tomas-nava commented on #13328
may be related to #12765

[2020-03-24 18:18] ferristseng commented on #12003
Related issues that deal with a similar problem with LegacyAppeal: #12791, #12810
PR to add job to discover LegacyAppeals in the dangling state: #13501

[2020-03-24 18:36] #13663 closed

[2020-03-24 18:36] rutvigupta-design commented on #13391
@leikkisa here is my suggestion:
![Suffix Error Message](https://user-images.githubusercontent.com/51714306/77463921-61d40280-6dd4-11ea-882a-edc49058d571.jpg)

[2020-03-24 18:37] araposo-tistatech opened #13784 "Discovery Research Study: CAVC Remands"
## Job story [WIP]
As a litigation support member, when I receive notification of a CAVC remand, I need to intake it so it can be worked in Caseflow.

1. When litigation support receives court orders in their email inbox, they want to organize and sort the items so that they can address them accordingly

## Problem statement
At this time, when CAVC remands a case, there is no way to work the case

[2020-03-24 18:40] chandracarney commented on #12288
This might have been resolved in another ticket.

[2020-03-24 18:57] rutvigupta-design commented on #13394
@nanotone I may have misinterpreted the regexes, so please correct me if I have missed something/communicated something erroneously.
@Sjones352 I used your copy as a base, and worked on refining it just a little!

![Veteran Address Error](https://user-images.githubusercontent.com/51714306/77465798-3c94c380-6dd7-11ea-96b0-67f3d6eec205.jpg)

[2020-03-24 18:57] chandracarney commented on #11592
These changes involve too much comprehensive work throughout Caseflow so we will close this for now.

[2020-03-24 18:57] #11592 closed

[2020-03-24 19:26] rutvigupta-design commented on #13589
For now, I think we can proceed without including which system this should be updated in since as far as I know, we don't include that in most errors. I am assuming that the year is 'xxxx' - is this correct?

![Veteran Birthdate Error](https://user-images.githubusercontent.com/51714306/77468125-2d177980-6ddb-11ea-9426-f80e2f2a4c23.jpg)

[2020-03-24 19:40] ajspotts opened #13785 "IDT API returning cancelled appeals"
## Description
The way that the code is currently setup, `/idt/api/v1/appeals` returns cancelled appeals along with active ones.  The user of the API has requested that the response be changed so that only active appeals are returned.

## Acceptance criteria
- [ ] only active appeals are returned when users hit [list](https://github.com/department-of-veterans-affairs/caseflow/blob/98be94ace99a978a

[2020-03-24 19:44] ferristseng commented on #13684
FYI: I'm defining a constants file with the metric group for virtual hearings in #13776

The metrics I'm expecting to generate are these:

  - `dsva_appeals.virtual_hearings.deleted_conferences.failed`
  - `dsva_appeals.virtual_hearings.deleted_conferences.successful`

[2020-03-24 19:47] rutvigupta-design commented on #13394
Here is a shorter message for city errors:
![Veteran Address - City Error](https://user-images.githubusercontent.com/51714306/77470192-43730480-6dde-11ea-9c62-7d84156d1dc3.jpg)

[2020-03-24 20:10] leikkisa commented on #13391
@rutvigupta-design When I first read it, "check and edit the Veteran's suffix for any punctuation (for example: JR.)", was a little confusing to me, I wasn't sure what the correct state was. Surprisingly my eyes went to that text first.  Here's a suggestion (shorter alert title and says to remove in the text).  What do you think?

Invalid Veteran Suffix
Please check the Veteran's name in VBMS or S

[2020-03-24 20:16] leikkisa commented on #13394
@nanotone Can you add a screenshot of what it looks like now, for reference?  Right now it's an inline error.  I think an alert could be useful too, I think @rutvigupta-design can comment on whether that makes sense or to have one or both.  It will add some complexity to go with a different approach than we're using now.

I think the copy looks good.  It would say the "Claimant's address" instead

[2020-03-24 20:25] leikkisa commented on #13589
@rutvigupta-design I don't how the user enters birthdates in other UIs, like if it's one string or multiple fields. Here's an example of the data we see:
[code]

The issue we had is that the day was missing a leading zero.

For the copy:
I'm more used to seeing "mm/dd/yyyy" which makes it clear which is the month and the day.  It might be valuable to include "(including leading zeros)" after the f

[2020-03-24 20:37] nanotone commented on #13394
@leikkisa @rutvigupta-design I updated the issue description above with screenshots from the PR.

[2020-03-24 20:44] msj0nes commented on #13356
# Status
Awaiting finalization details from the Board surrounding this work. A meeting was requested from 3/11/20 to discuss impact. Business line users will be impacted with this change.

[2020-03-24 21:25] #13683 closed

[2020-03-24 21:26] rutvigupta-design commented on #13394
@leikkisa @nanotone I think having an alert along with the inline error would be helpful, if that doesn't add too much complexity. The inline error is helpful for direct context, but in general, I think it would be good to adopt a practice of giving users more context around how to correct the error, which the alert is helpful for.

I also saw a comment by @leikkisa somewhere else around using "ad

[2020-03-24 21:35] rutvigupta-design commented on #13589
@leikkisa totally agreed with the "mm/dd/yyyy" format - thanks for pointing that out! I think leading zeros is a very technical term, so I just added (please include zeros) and removed the example, since it was a little redundant and the format hopefully makes it clear enough.

![Veteran Birthdate Error](https://user-images.githubusercontent.com/51714306/77479179-4c1f0700-6ded-11ea-95d1-aed674ce26

[2020-03-24 21:44] rutvigupta-design commented on #13391
@leikkisa what do you think of this:
![Veteran Suffix Error](https://user-images.githubusercontent.com/51714306/77479828-863cd880-6dee-11ea-8891-837dbf6e676b.jpg)

Best practice-wise, I think it would be great to keep the title of the alert user-facing and actionable to avoid making it seem punitive. I also played with the text below the title so that it fits in one line. Removing "to create an EP

[2020-03-24 22:25] yoomlam commented on #13735
Actual error banner now looks like this:
<img width="1116" alt="image" src="https://user-images.githubusercontent.com/55255674/77482633-66a8ae80-6df4-11ea-8d28-991939f38793.png">

[2020-03-25 14:16] ajspotts commented on #10799
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/9452/

[2020-03-25 14:51] araposo-tistatech commented on #13396
@lomky please move the "No Special Appeals" checkbox to the above the "About the Appellant" Title instead of the bottom of the page.

[2020-03-25 17:03] rutvigupta-design commented on #13761
@msj0nes here is a design:
![External Error Design Rec](https://user-images.githubusercontent.com/51714306/77564372-9d340700-6e90-11ea-9602-179068344613.jpg)

[2020-03-25 17:46] yoomlam commented on #10799
This happens several times per day and for many users.

[2020-03-25 18:20] pkarman opened #13791 "Refactor db seeds into separate classes"
## Description

We want our db seeds to be testable and repeatable and modular. They are none of those things today.

Refactor the single `seeds.rb` file into separate classes that the `seed.rb` file can call. These would be mostly cut/paste to start with.

## Acceptance criteria
- [ ] Update documentation: [link]
- [ ] `rake db:seeds` runs as before (pure refactor, no new features)

[2020-03-25 18:23] alisan16 commented on #13396
@araposo-tistatech For making sure these changes are compatible with the reporting team, you can check with @pkarman by tagging him here or posting in the #appeals-delta channel.

[2020-03-25 19:14] ferristseng commented on #13489
We can either use Webhooks, or poll the GovDelivery API for updates (https://developer.govdelivery.com/api/tms/tutorial/deliver-report/). Whatever solution we decide on, we will need to remember the message ID that gets returned when we successfully submit an email to GovDelivery.

[2020-03-25 19:14] #13489 closed

[2020-03-25 19:31] msj0nes commented on #10841
ticket being closed.

[2020-03-25 19:31] #10841 closed

[2020-03-25 20:26] pkarman opened #13793 "investigate start distribution appeals select query"
## Description

Is this query slow? Investigate.

https://rpm.newrelic.com/accounts/1788458/applications/80608544/transactions?type=other#id=5b224f746865725472616e73616374696f6e2f4163746976654a6f623a3a53686f7279756b656e2f5374617274446973747269627574696f6e4a6f622f65786563757465222c22225d&app_trace_id=fda2a5fe-6ecd-11ea-a09e-0242ac110007_103016_157156&tab-detail_fda2a5fe-6ecd-11ea-a09e-0242ac110007_

[2020-03-25 20:53] pkarman opened #13794 "[Flaky Test] Supplemental Claim Edit"
## Description

[code]

## Background/context/resources

 - Circle CI Error:  [SC](https://app.circleci.com/pipelines/github/department-of-veterans-affairs/caseflow/29036/workflows/8c58681c-4145-42d9-8bc6-ee7d5f8e9550/jobs/107043)
 - Has the test already been skipped in the code?
   - [ ] Skipped
   - [x] Not Skipped
 - Related Flakes
    +

## Approach

Time box this investigation and fix.

Remem

[2020-03-25 21:09] chandracarney opened #13795 "Turn on virtual hearings toggle for users"
## Description
Turn on virtual hearings feature for users to pilot Caseflow (Gen2) virtual hearings scheduling. Write script to add all VLJs and POAs.

## Acceptance criteria
Virtual hearings scheduling available for:
- [x] 1 Hearing Coordinator

Virtual hearings functionality available for:
- [ ] All VLJs
- [ ] All POAs

[2020-03-25 21:32] pkarman commented on #13793
Small attempt in #13792

[2020-03-25 22:23] pkarman commented on #13794
possible fix in edd0e48

[2020-03-25 23:00] msj0nes opened #13796 "Facilitate Lane Switching | Ability to Edit Specific Intake Field | Docket Date"
## Request
The ability for certain BVA users to edit specific intake fields

o	change the docket date

**Justification**
Lane switching scenario justification for ability to edit docket change:

Veterans can choose an appeal lane, but can change their mind at any time; Caseflow should always honor the original docket date (i.e. the very first time the 10182 was submitted) each time a lane change h

[2020-03-25 23:16] msj0nes commented on #10511
Ticket closure - Use #13088 to track requirement 'Missing Ratings'.

[2020-03-25 23:16] #10511 closed

[2020-03-25 23:23] #12162 closed

[2020-03-25 23:26] msj0nes commented on #11691
# Ticket Closure
The path for attorney fees has changed from this initial request. Changes to the requirement can be followed in #13505

[2020-03-25 23:26] #11691 closed

[2020-03-25 23:46] msj0nes commented on #13711
## Status

Meetings scheduled for 3/26/20 to discuss AMO needs as it related to non-ratings.

[2020-03-26 01:07] leikkisa commented on #13589
@rutvigupta-design Nice suggestion on "please include zeros". This looks great to me.

[2020-03-26 01:17] leikkisa commented on #13391
@rutvigupta-design That looks good to me!

[2020-03-26 12:11] lomky commented on #13396
@alisan16 Done! [Slack convo](https://dsva.slack.com/archives/CPEMQPVKR/p1585061623033900)

[2020-03-26 15:51] pkarman commented on #13793
seems "fast enough" for now.

[2020-03-26 15:51] #13793 closed

[2020-03-26 17:15] lomky commented on #13415
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Removing OT capability for attys in another ticket.
Add OT badge and "Mark/Remove overtime..." to the UI.

Timebox to a 3.

Why 1?

Why 2?
 - Backend already exists, badge area already exists

Why 3?
 - Because FE and new tests
 - Creating a new badge

Why 5?

[2020-03-26 17:21] lomky commented on #9676
Estimating at a standard 3 for digging in and possibly fixing from a sentry issue.

[2020-03-26 17:26] lomky commented on #12177
@leikkisa That is not a list of users on the judge team, but rather a list of all users. Was this behavior you were seeing in production?

[2020-03-26 17:29] lomky commented on #10004
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Timebox to a 3.

Why 1?

Why 2?
 - Code cleanup

Why 3?
 - Frontend

Why 5?

[2020-03-26 17:29] geronimoramos commented on #13415
Did we want to add this to this ticket? Or create a separate one?
Add OT badge next to cases that have been assigned overtime status on the case assignment page

![Badge in case assignment page](https://user-images.githubusercontent.com/49766982/77677158-8ce16200-6f4c-11ea-851c-eea70659babf.png)

[2020-03-26 17:31] lomky commented on #13268
Timeboxing to a 3!

[2020-03-26 17:35] lomky commented on #10996
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Why 1?

 - handle zero value in a couple places, add a test case?

Why 2?

Why 3?
 - Unfamiliarity with ACD
 - Investigate why zero and handling it better

Why 5?

[2020-03-26 17:35] araposo-tistatech commented on #13415
@geronimoramos I believe that request is [here](https://github.com/department-of-veterans-affairs/caseflow/issues/13417), but let me know if I missed anything.

[2020-03-26 17:38] lomky commented on #10972
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Why 1?
 -

Why 2?
 - Straight-forward changes
 - Unknown number of changes

Why 3?
 - Refactoring in a complicated code space

Why 5?

[2020-03-26 17:42] lomky commented on #5603
Timebox to 2.
We're assuming this should be largely copy and paste, with some setup clean up.

[2020-03-26 17:50] araposo-tistatech commented on #13735
@yoomlam updated the AC to reflect legacy only and removed the AMA mockup from the design area.

[2020-03-26 18:57] carodew commented on #12808
I'd like us to assess https://design.va.gov/ as a different option to migrate to. My thinking is that:
- it's built upon USWDS 1.0 and is closer in terms of visual design
- it has has active support from the vets.gov design team (I know that USWDS is rather resource constrained)
- it's more consistent in visual style with the VA branding efforts.

What I don't know is how much of a lift migrating

[2020-03-26 19:40] #13735 closed

[2020-03-26 20:15] #13627 closed

[2020-03-26 20:21] araposo-tistatech opened #13800 "Trigger receipt of completed IHPs (judge/attorney notification)"
Ticket related to [#14909](https://app.zenhub.com/workspaces/caseflow-5915dd178f67e20b5553ba0c/issues/department-of-veterans-affairs/caseflow/14909)

## User story
As a judge or attorney I need to be able to see a notification or indicator when an IHP task is completed so that I know I can proceed with reviewing and processing the case.

## Problem statement
Per the Board, they do not know when an

[2020-03-26 23:03] yoomlam commented on #13433
Since we're overloading `<user_css_id>` in the URL "/queue/<user_css_id>/assign", I'll have to assume that if `<user_css_id>` is an `integer?`, then it is a `<user_id>`. This means that a CSS_ID must **never** be an integer or coercible into an integer.

[2020-03-26 23:29] jcq commented on #12808
There are definite benefits to adopting a system that is under active support and one that is being used for the wider organization's branding efforts. It also has the added benefit of already having officially supported React components, something which isn't true even of uswds 2.x.

That said, the available components aren't necessarily sufficient for our every need (and a few appear to have som

[2020-03-27 01:21] chandracarney opened #13804 "Convert already-scheduled Central Office hearing to Virtual hearing"
## Story
As a Hearing Coordinator, I want to convert a Veteran's already-scheduled Central Office hearing to a virtual hearing.

## Goals
Expand virtual hearings functionality so that Coordinators can convert any already-scheduled hearing _that's managed in Caseflow_ (i.e. Central Office or video hearing types) to a virtual hearing. This epic enables the conversion of already-scheduled Central Off

[2020-03-27 01:53] chandracarney opened #13805 "Enhance virtual hearing email management & tracking capabilities"
## Background/context
Expand virtual hearing email capabilities to track failed or bounced emails, preview the email addresses previously used to send, and notify Hearing Coordinators of errors so that they can send new emails, if needed. Begin to send reminders in advance of the hearing.

## Goals
- Resend email button
- Actual deliverability status of email
- Email subject line/preview
- Explore

[2020-03-27 03:37] msj0nes opened #13806 "Attorney Fees | Select an available attorney as the claimant"
## User or job story
As a BVA Intake user, I need the ability to select an available attorney as the claimant in the Intake workflow

## Acceptance criteria

- [ ] Please put this work behind the feature toggle: [toggle name]
- [ ] This feature should be accessible to the following user groups:
- [ ] Include screenshot(s) in the Github issue if there are front-end changes
- [ ] Update documentatio

[2020-03-27 03:44] msj0nes opened #13807 "Attorney Fees | Specify issue category as ‘Attorney Fees’"
## User or job story
As a BVA Intake user, I need the ability to specify issue category as ‘Attorney Fees’ in the Intake workflow

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: [attorney_fees]
- [ ] This feature should be accessible to the following user groups:
- [ ] the 'contested claims (other than apportionment)' issue category should be replaced with the issue c

[2020-03-27 13:39] carodew commented on #12808
Sure, neither the VA system nor USWDS are built with enterprise applications in mind, they're really both geared towards public-facing, information sites.

I think with either we would need to figure out what styles can be supported via the existing design system and what components would we still need to maintain ourselves.

I can scheduling a meeting with the designer running the va.gov style gu

[2020-03-27 15:07] ajspotts commented on #13207
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/9679/

[2020-03-27 15:50] ferristseng commented on #12011
The related issue was closed, and it seems like there was some uncertainty as to whether or not this might fix the underlying issue anyways. I'm going to close, but if this comes up in batteam again, feel free to reopen.

[2020-03-27 15:50] #12011 closed

[2020-03-27 15:59] jcq commented on #12808
Just to keep a note of it here, @pkarman alerted us that this project is making good progress on its roadmap:
https://github.com/trussworks/react-uswds

[2020-03-27 17:26] leikkisa opened #13809 "Intake | COVID-19 Update | Add COVID-19 timeliness exemption checkbox for HLRs"
## User or job story
User story: As a VBA user (claims assistant, VSR), I need to be able to capture if a timeliness exemption requested by the veteran was related to COVID-19

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: [covid_timeliness_exemption]
- [ ] The timeliness exemption modal shows an additional checkbox above the notes (after the user selects "Yes" to in

[2020-03-27 17:54] rutvigupta-design commented on #13809
@jcq here is a design:
![COVID Extension Modal](https://user-images.githubusercontent.com/51714306/77785355-0f8c1f00-702a-11ea-8692-e141dd7c2c2f.jpg)

[2020-03-27 19:28] Sjones352 opened #13811 "Evidence Submission Window Task closing earlier than 90 days"
Earlier in batteam it was reported that Hearing and Evidence docket cases that are AOD are being distributed before the 90-day evidence submission window period has closed

`Evidence Submission Window Task seems to be getting automatically closed early for AOD cases? It’s been brought to our attention on both Hearing and Evidence docket cases that are AOD that they are being distributed before the

[2020-03-27 19:34] ferristseng commented on #12053
Renaming this since the issue on the case details page should be fixed, but it's still causing issues in other areas.

Ticket to investigate how many hearings this affects: #12003

[2020-03-27 20:01] ferristseng commented on #13662
Ideas:

  - Use React contexts to replace repeated props and shared global state in Redux
    - Hearing's user `Context`
    - Hearing's form `Context`
  - Come up with some guidelines with regards to:
    - Component scope: How "far" should a component be able to touch?
  - Thoughts about experimenting with immutability

[2020-03-27 20:29] rubaiyat22 commented on #13662
- Think about how virtual hearing as a hearing type will affect the Details and DailyDocket
- reassess redux state and how it's being used

[2020-03-27 22:19] geronimoramos opened #13815 "Confirmation modal button copy audit"
When designing an interaction flow, @geronimoramos  noticed that confirmation modals across Caseflow were inconsistent with button copy with yes/no questions.

- [ ] Audit and screenshot confirmation modals across Caseflow

- [ ] Discuss as to how we want to standardize copy across these modals for consistency

[2020-03-28 00:28] leikkisa opened #13817 "Intake | VBA COVID-19 Update | Allow timeliness exemptions for legacy issue opt-ins"
## User or job story
User story: As a VBA user (claims assistant, VSR), I need timeliness exemptions to also apply to legacy issue opt-ins.

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: [covid_timeliness_exemption]
- [ ] The following changes only apply to higher level reviews and supplemental claims
- [ ] The list of matchable legacy issues shown on the decision re

[2020-03-28 07:25] Sjones352 commented on #13589
@rutvigupta-design and @leikkisa I think it would be wise to keep the same message title as the rest of all upstream errors we have in intake. This is because it pertains to the same thing as veteran having invalid information to create an EP. In the screenshot below, it shows the message that is clearly missing to continue with an intake.

<img width="969" alt="Screen Shot 2020-03-28 at 3 20 20 A

[2020-03-28 23:00] #13785 closed

[2020-03-30 04:33] msj0nes commented on #10677
Ticket Closure

AMO reports are provided via third party PAI. Closing ticket at this time. If there are inquiries regarding the data points mentioned this ticket can be reopened.

[2020-03-30 04:33] #10677 closed

[2020-03-30 05:08] msj0nes commented on #13809
# Tracker

. |Research | Design |  Development | Pilot | Release
-- | -- | -- | -- | -- | --
Add COVID-19 timeliness exemption checkbox for HLRs|  :white_circle: |  :white_circle: |  :white_circle: |  :white_circle: |  :white_circle:

**Key:**	Not Started- ⚪️  In Progress 🚧   Complete -  ✅.  Blocked-🔴

[2020-03-30 12:53] araposo-tistatech commented on #9696
Duplicate included in Epic #13423

[2020-03-30 12:53] #9696 closed

[2020-03-30 12:55] araposo-tistatech commented on #9697
@msj0nes do you think this identification should be occurring at Intake? If so, feel free to switch out the Echo label.

[2020-03-30 12:59] araposo-tistatech commented on #5597
Closing, updated requirements on #13417

[2020-03-30 12:59] #5597 closed

[2020-03-30 12:59] araposo-tistatech commented on #5445
Closing, updated requirements on #13418

[2020-03-30 12:59] #5445 closed

[2020-03-30 13:19] araposo-tistatech commented on #13698
Functionality already exists in Caseflow, closing.

[2020-03-30 13:19] #13698 closed

[2020-03-30 13:26] msj0nes commented on #13782
# Tracker
 **Key:**
Not Started ⚪️  <br>   In Progress 🚧   <br>    Complete ✅ <br>  Blocked 🔴

. |Research | Design |  Development | Pilot | Release
-- | -- | -- | -- | -- | --
Add COVID-19 timeliness exemption checkbox for HLRs|  :white_circle: |  :white_circle: |  :white_circle: |  :white_circle: |  :white_circle:
Allow timeliness exemptions for legacy issue opt-ins|  :white_circle: |  :white_ci

[2020-03-30 13:35] araposo-tistatech commented on #13699
Closing, duplicate of #13131

[2020-03-30 14:16] #13609 closed

[2020-03-30 14:40] rutvigupta-design commented on #13589
@Sjones352 great point about the 3 please's, you're right, it's redundant! While I think consistency is great, I think the upstream error is a little vague and would love to work towards making all errors action-oriented. What do you think of this?
![Birthdate Error](https://user-images.githubusercontent.com/51714306/77925363-62ecb000-726a-11ea-8fc5-8926be55471b.jpg)

[2020-03-30 14:42] hschallhorn commented on #5551
No longer exists in the codebase!

[2020-03-30 14:42] #5551 closed

[2020-03-30 14:46] #4475 closed

[2020-03-30 14:46] #5157 closed

[2020-03-30 14:47] #2425 closed

[2020-03-30 15:30] araposo-tistatech opened #13823 "Queue: Task returned to attorney as a 'review' VLJ task"
Issue happens when users bounce between VACOLS and Caseflow functionality to assign legacy cases.

Scenario:

- VLJ assigns legacy case to an attorney in VACOLS [Doesnt show in timeline]
- Attorney uses Caseflow to then assign the case to a co-located team
- Co-located team cancels the task for whatever reason.
- Expectation is the case gets returned to the attorney in the correct 'attorney' forma

[2020-03-30 15:42] nanotone commented on #13823
Links to Bat-team threads:
https://dsva.slack.com/archives/C6E41RE92/p1585342752008100
https://dsva.slack.com/archives/CHX8FMP28/p1585344050063300

[2020-03-30 16:13] chandracarney commented on #9151
Removed myself and Tango based on a conversation with Martina on Slack that Foxtrot is working on this.

[2020-03-30 16:13] chandracarney commented on #9205
Removed myself and Tango based on a conversation with Martina on Slack that Foxtrot is working on this/has it lined up and on their radar.

[2020-03-30 16:22] ferristseng commented on #13431
## WIP WIP WIP WIP WIP WIP WIP WIP

### Research Findings

#### Ensure `HearingDay` can accurately represent a virtual hearing

The current `HearingDay` model looks as follows:

[code]

The only thing I can think of that should probably not apply to virtual hearings is the `room` field. There is some automated logic to find an available room in https://github.com/department-of-veterans-affairs/cas

[2020-03-30 16:59] leikkisa commented on #13589
@Sjones352 Hi Sandra - I am a fan of the error message above. Small comment, Share is not in all caps. I used to think so, but people have mostly spelled it with just the "S" capitalized. Thanks!

[2020-03-30 17:07] Sjones352 commented on #13589
@rutvigupta-design and @leikkisa would this title copy change apply to the `veteranAddressInvalid`, veteranCityInvalidFields, and veteranAddressTooLong since this is on the same review page, that I am working on.

[2020-03-30 19:14] ferristseng commented on #13795
Closing because the VLJs and POAs should have read access without the flag turned on. I confirmed that this morning: https://dsva.slack.com/archives/C3EAF3Q15/p1585582379087600

[2020-03-30 19:14] #13795 closed

[2020-03-30 22:33] #13433 closed

[2020-03-31 01:47] #6413 closed

[2020-03-31 01:49] msj0nes commented on #10468
Scheduled for engineering review.

[2020-03-31 02:00] #6099 closed

[2020-03-31 02:00] #7705 closed

[2020-03-31 02:07] #7736 closed

[2020-03-31 02:07] msj0nes commented on #7736
Closing this investigation ticket.

[2020-03-31 02:11] msj0nes commented on #8647
Closing ticket. Not currently prioritized.

Associated https://github.com/department-of-veterans-affairs/caseflow/issues/11997

[2020-03-31 02:12] msj0nes commented on #8665
Ticket closure. Not prioritized.

[2020-03-31 02:15] msj0nes commented on #8967
Ticket closure. Not prioritized

[2020-03-31 02:16] #8967 closed

[2020-03-31 02:18] msj0nes commented on #10119
Ticket Closure. Will be addressed in a review of VBA and BVA based updates needed .

[2020-03-31 02:18] #10119 closed

[2020-03-31 02:19] msj0nes commented on #8889
Ticket closure. Sentry +1yr old.

[2020-03-31 02:19] #8889 closed

[2020-03-31 02:20] msj0nes commented on #10213
Ticket closure. Sentry alerts for Intake over a yr old will be closed.

[2020-03-31 02:20] #10213 closed

[2020-03-31 13:57] pkarman opened #13830 "IDT dispatch double outcode override"
## User or job story

As an IDT user, I may need to outcode a dispatch more than once. Currently I receive a BvaDispatchDoubleOutcode error if a dispatch has been outcoded already for an appeal.

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: `:idt_double_outcode`
- [ ] Update documentation: [link]
- [ ] Confirm functionality with Paul Saindon

### Technical notes

Ei

[2020-03-31 14:40] #13769 closed

[2020-03-31 15:34] #8451 closed

[2020-03-31 15:34] msj0nes commented on #8451
Closed. This will be addressed in new research for contest claims work.

[2020-03-31 15:45] msj0nes commented on #12285
Being reviewed by engineering

[2020-03-31 16:18] chandracarney commented on #12749
@ferristseng I just noticed a new ticket (#13811) come through, which might indicate this is still happening. Perhaps we can roll these 2 together or link them.

[2020-03-31 16:29] ferristseng commented on #12749
@chandracarney I think these two could be different issues, so I would leave them separate but linked for now.

[2020-03-31 17:15] alisan16 commented on #11356
@edmangimelli Is this still needed based on the changes in the Lighthouse project roadmap?

[2020-03-31 17:19] alisan16 commented on #11340
This error hasn't been seen in 6 months (since Sep 17, 2019 5:17:26 PM EDT). Closing out the issue

[2020-03-31 17:19] #11340 closed

[2020-03-31 17:20] carodew opened #13833 "Caseflow Style Guide &gt; Content"
@amiklik commented on [Wed Dec 19 2018](https://github.com/department-of-veterans-affairs/appeals-team/issues/1104)

### Priorities for editing prior to committing to code:

 - [x] 0.) turn this into a GH issue/.md file
 - [ ]  1.) make determinations for standards of we, us, and you;
 - [x] 2.) make determinations for standards of buttons

----------

# Overview

Content standards in Caseflow are

[2020-03-31 17:21] carodew opened #13834 "Create a Content Style Guide for Caseflow"
@lakohl commented on [Sun Jul 01 2018](https://github.com/department-of-veterans-affairs/appeals-team/issues/925)

## Develop and apply guidance for content within Caseflow

**Create a Plan of Work**
- [x] Review the needs outlined below and identify any additional work required to define and implement a Caseflow Content Strategy
- [x] Create a plan and schedule for tackling the items below + any

[2020-03-31 17:22] carodew opened #13835 "Styleguide | There needs to be a clear visual difference between system errors and alerts, and errors and problems with the intake"
@carolaponce commented on [Tue Nov 20 2018](https://github.com/department-of-veterans-affairs/appeals-team/issues/1089)

After doing a feedback session with our users, we identified they can tell when they are having problems with the system. They are also seeing error messages and alerts.  It is important to make a visual distinction between what is a system error and what is an inline alert or e

[2020-03-31 17:22] alisan16 commented on #3192
Closing this issue since it's so low priority, if the errors occur more frequently we can re-open and actually work on it in the future.

[2020-03-31 17:22] #3192 closed

[2020-03-31 17:33] carodew opened #13836 "caseflow-language-audit"
@amiklik commented on [Mon Oct 22 2018](https://github.com/department-of-veterans-affairs/appeals-team/issues/1036)

Terms which need to be defined in a Caseflow Glossary

---

@amiklik commented on [Mon Oct 22 2018](https://github.com/department-of-veterans-affairs/appeals-team/issues/1036#issuecomment-431869148)

See also AMA language audit #917

- appeal
- disagreement
- Review
- VA regional of

[2020-03-31 17:39] carodew opened #13838 "Style guide | Error behavior in forms"
@gnakm commented on [Wed Nov 15 2017](https://github.com/department-of-veterans-affairs/appeals-team/issues/563)

## Description
Today across our caseflow apps, we use a disabled button when all required fields are not completed.
- It has not always tested well. There has been instances where we've seen users click the disabled button
- It is not 508 compliant. When using a screen reader, the disa

[2020-03-31 17:49] alisan16 commented on #11978
Closing as we do not have enough information to complete this ticket. If more information is provided, we can reopen and work the ticket.

[2020-03-31 17:49] #11978 closed

[2020-03-31 17:50] alisan16 commented on #12194
@edmangimelli Do you have any updates on this ticket? Can it be closed?

[2020-03-31 17:51] alisan16 commented on #12374
Closing this out unless we get more requests about this issue.

[2020-03-31 17:51] #12374 closed

[2020-03-31 18:02] alisan16 commented on #12646
Closing as this was last seen 7 months ago Aug 17, 2019 1:59:45 PM EDT
Work can be tracked in #10980

[2020-03-31 18:02] #12646 closed

[2020-03-31 18:04] alisan16 commented on #12708
cc @sahalliburton in case you're interested!

[2020-03-31 18:10] carodew opened #13839 "Handling contested claimants"
@abbyraskinUSDS commented on [Thu Sep 20 2018](https://github.com/department-of-veterans-affairs/appeals-team/issues/995)

[Placeholder]

Putting a sierra tag as a placeholder, since this will likely need to be tracked during intake, but we can figure out who/how later

Talked to Emily and Rachel

## Scenario
- There are different scenarios. Often, there are two widows claiming the benefits...
- A

[2020-03-31 18:11] carodew commented on #13839
@msj0nes just a heads up that I moved this over to the Caseflow repo to keep all the tickets in the same place.

[2020-03-31 18:13] carodew opened #13840 "AMA Intake | UX Priorities"
@carolaponce commented on [Fri Oct 19 2018](https://github.com/department-of-veterans-affairs/appeals-team/issues/1033)

#833

# **Working **On****

### Initiative: Supporting intake and disposition tracking for non-compensation business lines

Process documentation #1028

- [x] Work on rough draft mocks for development - #893, #906 #920
- [x] User testing future state with non-compensation lines

[2020-03-31 18:39] alisan16 commented on #4145
This hasn't been updated in 2 years. Closing.

[2020-03-31 18:39] #4145 closed

[2020-03-31 18:43] #10564 closed

[2020-03-31 18:56] rutvigupta-design commented on #13589
@Sjones352 as per our conversation, we will have "Check the Veteran's profile for invalid information" as the title for all upstream errors. cc @leikkisa
Low priority - over time, auditing error messages that exist in Intake to check for consistency to eventually create a styleguide for Intake error messages.

[2020-03-31 18:58] pkarman opened #13841 "Cancelled hearing task exception"
## Description

NoMethodError for hearing task
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/9543/events/fae5513231ed4f04bffa54344141ad12/

Possible this is because of a race condition for 2 XHR requests to the same hearing task. Timestamps indicate that might be true.

[2020-03-31 19:12] alisan16 commented on #5268
The missing space is fixed. @jimruggiero @carodew should we go ahead and remove this footer altogether?

[2020-03-31 19:15] alisan16 commented on #6301
Closing as this hasn't been updated in 2 years

[2020-03-31 19:15] #6301 closed

[2020-03-31 19:15] alisan16 commented on #6492
Closing as this hasn't been updated in 2 years

[2020-03-31 19:15] #6492 closed

[2020-03-31 19:15] alisan16 commented on #6646
Closing as this hasn't been updated in 2 years

[2020-03-31 19:15] #6646 closed

[2020-03-31 19:15] alisan16 commented on #6673
Closing as this hasn't been updated in 2 years

[2020-03-31 19:15] #6673 closed

[2020-03-31 19:15] alisan16 commented on #6674
Closing as this hasn't been updated in 2 years

[2020-03-31 19:15] #6674 closed

[2020-03-31 19:17] alisan16 commented on #7331
Related to #12708. Closing this in favor of the newer issue

[2020-03-31 19:17] #7331 closed

[2020-03-31 19:17] carodew commented on #5268
That would be my preference although unsure of the politics of that.

[2020-03-31 19:18] alisan16 commented on #7566
Closing this as the Sentry error hasn't been seen in 6 months

[2020-03-31 19:18] #7566 closed

[2020-03-31 19:18] alisan16 commented on #7928
Closing this as it seems like it was fixed.

[2020-03-31 19:18] #7928 closed

[2020-03-31 19:19] alisan16 commented on #7947
Closing this as it hasn't been updated in a year

[2020-03-31 19:19] #7947 closed

[2020-03-31 19:19] nicholasholtz commented on #5268
I'd say go for it :)  Consider this the approval from the USDS side of things.

Hope y'all are doing well.

[2020-03-31 19:20] rutvigupta-design commented on #10950
Tagging @geronimoramos for visibility

[2020-03-31 19:21] alisan16 commented on #8734
Closing this as it hasn't been updated in a year

[2020-03-31 19:21] #8734 closed

[2020-03-31 19:22] alisan16 commented on #8899
@nanotone Fixed this! https://github.com/department-of-veterans-affairs/caseflow-frontend-toolkit/pull/59

[2020-03-31 19:22] #8899 closed

[2020-03-31 19:23] alisan16 commented on #8953
Doesn't look like this error has occurred recently. Closing.

[2020-03-31 19:23] #8953 closed

[2020-03-31 19:25] alisan16 commented on #9261
Closing this issue as it doesn't have AC. This issue is still searchable as reference.

[2020-03-31 19:25] #9261 closed

[2020-03-31 19:25] alisan16 commented on #9270
Closing as it hasn't been updated in more than a year

[2020-03-31 19:25] #9270 closed

[2020-03-31 19:27] alisan16 commented on #10105
cc @msj0nes @leikkisa

[2020-03-31 19:27] alisan16 commented on #10270
@pkarman Do you want to fold this into the follow-ups from last week's outage?

[2020-03-31 19:29] msj0nes commented on #13840
I believe this should be closed. Design work for foxtrot will be via more current stakeholder communications.

[2020-03-31 19:29] alisan16 commented on #10469
This has been moved to #appeals-job-alerts and is less intrusive. Closing

[2020-03-31 19:29] #10469 closed

[2020-03-31 19:32] alisan16 commented on #10533
This error hasn't been seen in a year (last seen on May 13, 2019 12:54:47 PM EDT). Closing this issue

[2020-03-31 19:32] #10533 closed

[2020-03-31 19:34] alisan16 commented on #10538
We haven't had complaints about this in a while and it seems fine to keep in #appeals-engineering to me. Closing out this issue.

[2020-03-31 19:34] #10538 closed

[2020-03-31 19:35] alisan16 commented on #10678
This error hasn't been seen since it was reported on May 7, 2019 1:48:05 PM EDT. Closing this out.

[2020-03-31 19:35] #10678 closed

[2020-03-31 19:37] alisan16 commented on #10739
This error hasn't been seen for 8 months. Closing out this issue.

[2020-03-31 19:37] #10739 closed

[2020-03-31 19:37] alisan16 commented on #10740
This error hasn't been seen for 9 months. Closing out this issue.

[2020-03-31 19:37] #10740 closed

[2020-03-31 19:38] alisan16 commented on #10741
This error hasn't been seen for 3 months. Closing out this issue.

[2020-03-31 19:38] #10741 closed

[2020-03-31 19:39] alisan16 commented on #10751
This error hasn't been seen in 8 - 10 months (depending on call path). Closing out.

[2020-03-31 19:39] #10751 closed

[2020-03-31 19:41] alisan16 commented on #10844
This was last seen 8 months ago. Closing it out.

[2020-03-31 19:41] #10844 closed

[2020-03-31 19:47] msj0nes commented on #10950
Clarifying

This issue highlighted by Peter above is happening for attorneys on the 'Add Decision' workflow page when 'Decision Ready for Review' task is selected on the Case Details page.

![image](https://user-images.githubusercontent.com/41164406/78068759-facfc400-7366-11ea-87e1-97557865ddbc.png)

[2020-03-31 19:54] alisan16 commented on #11029
This was last seen 10 months ago. Closing out

[2020-03-31 19:54] #11029 closed

[2020-03-31 19:55] alisan16 commented on #11047
This error hasn't been seen in 9 months. Closing out.

[2020-03-31 19:55] #11047 closed

[2020-03-31 19:55] alisan16 commented on #11086
@aroltsch Is this ticket still relevant or can we close it?

[2020-03-31 19:59] alisan16 commented on #11359
This error hasn't been seen in 9 months. Closing out

[2020-03-31 19:59] #11359 closed

[2020-03-31 19:59] alisan16 commented on #11370
This error hasn't been seen in 9 months. Closing out

[2020-03-31 19:59] #11370 closed

[2020-03-31 20:01] alisan16 commented on #11478
This hasn't been seen in 8 months. Closing.

[2020-03-31 20:01] #11478 closed

[2020-03-31 20:01] alisan16 commented on #11481
This hasn't been seen in 8 months. Closing.

[2020-03-31 20:01] #11481 closed

[2020-03-31 20:42] pkarman commented on #10948
This is happening again. The error is that a nil `diagnostic_code` is being sent from the front-end.

![Screen Shot 2020-03-31 at 3 40 30 PM](https://user-images.githubusercontent.com/1205061/78073268-2d2cf180-7366-11ea-9154-effc9e1d5df1.png)

See https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/9479/events/1eefecb7390147b590f3fd1dbe2fede6/

[2020-03-31 20:48] alisan16 commented on #11480
Closing this as the error hasn't been seen in 8 months

[2020-03-31 20:48] #11480 closed

[2020-03-31 20:48] alisan16 commented on #11483
Closing as this error hasn't been seen in 8 months

[2020-03-31 20:48] #11483 closed

[2020-03-31 20:50] alisan16 commented on #11493
Closing as this error hasn't been seen in 8 months

[2020-03-31 20:50] #11493 closed

[2020-03-31 20:50] alisan16 commented on #11496
Closing as this error hasn't been seen in 8 months

[2020-03-31 20:50] #11496 closed

[2020-03-31 20:51] alisan16 commented on #11500
Closing as this error hasn't been seen in 8 months

[2020-03-31 20:51] #11500 closed

[2020-03-31 20:51] alisan16 commented on #11505
Closing as this error hasn't been seen in 7 months

[2020-03-31 20:51] #11505 closed

[2020-03-31 20:51] yoomlam commented on #13278
Almost all of these alerts in the last 7 days is due to MailTask creation: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/?query=is%3Aunresolved+did+not+update+RootTask+status.

PR #13844 should drastically reduce the number of these Sentry alerts.
The remaining alerts should be investigated as part of the Bat Team process.

[2020-03-31 20:54] pkarman commented on #10270
We did the audit, once. We need to push slow query notifications from NR.

I will change the ticket description.

[2020-03-31 20:54] nanotone commented on #13704
I did a little more investigating during my 🦇 shift:

This happens if the corresponding LegacyAppeal is missing a veteran (i.e. `#veteran` returns nil for whatever reason), causing the appeal's serialization to have a null `pending_eps` which results in an error when rendering the React page.

Example: Dispatch::Task 185744 which is associated with LegacyAppeal 1113710.

[2020-03-31 21:00] yoomlam commented on #13278
[Sentry alert 9683](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/9683) is odd in that the HTTP request is a PATCH request (for updating tasks), not a POST request (for creating tasks). This alert should only be possible when a task is created.

[2020-03-31 21:50] chandracarney opened #13845 "Investigate virtual hearing conference rooms not being cleaned up"
## Description
The Pexip conference rooms are sticking around in the interface. The job to cleanup the rooms is attempting to run but may not be properly configured.

## Acceptance criteria
- [ ] Update documentation: [link]

## Background/context/resources
https://dsva.slack.com/archives/C3EAF3Q15/p1584716098443500?thread_ts=1584713571.442100
https://dsva.slack.com/archives/C3EAF3Q15/p15847146114

[2020-03-31 21:55] #12111 closed

[2020-03-31 22:09] chandracarney opened #13846 "Virtual hearing pilot enhancements (switch already-scheduled hearing type to virtual)"
## Background/context
This epic will capture work that is associated with Caseflow virtual hearing enhancements prior to the national rollout, as captured by user feedback relating to the pilot functionality #11508. With the first use case of the pilot live for a small group of users, there are some next steps that will provide high value to Hearing Coordinators, Veterans, PoAs, and VLJs in advanc

[2020-04-01 14:00] hschallhorn opened #13849 "Modify assigner of legacy colocated tasks when reassigning all tasks"
One scenario we did not consider when creating the function to [reassign all tasks](https://github.com/department-of-veterans-affairs/caseflow/pull/12483) of an inactive user are legacy colocated tasks assigned by the user. When these tasks are [completed or cancelled](https://github.com/department-of-veterans-affairs/caseflow/blob/6e341a64406c9ba78a0f6146dbe1c59bcd61b30b/app/models/tasks/colocate

[2020-04-01 14:15] #13714 closed

[2020-04-01 14:27] edmangimelli commented on #12194
@alisan16 , let's close it!

[2020-04-01 14:27] #12194 closed

[2020-04-01 14:27] edmangimelli commented on #11356
@alisan16 , let's close this one too!

[2020-04-01 14:27] #11356 closed

[2020-04-01 15:04] #11811 closed

[2020-04-01 15:19] hschallhorn commented on #13699
Reopening as #13131 is different work!

[2020-04-01 15:55] #13688 closed

[2020-04-01 16:02] pkarman opened #13851 "Refactor DocumentCount endpoint to use a background job"
## Description

Turn the /document_count endpoint into a background job trigger that populates a cache, rather than a synchronous proxy to efolder.

https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/services/external_api/efolder_service.rb#L6

## Acceptance criteria
- [ ] HTTP calls to the document count endpoint return in < 1 second.

[2020-04-01 16:09] jcq commented on #13809
## Screenshot of Updated View
<img width="833" alt="Screen Shot 2020-04-01 at 09 07 21" src="https://user-images.githubusercontent.com/2581274/78160140-631ab600-73f8-11ea-8271-288e7600380f.png">

[2020-04-01 17:13] ajspotts commented on #12979
@araposo-tistatech just double checking we want Caseflow to recognize all of the document types listed in this spreadsheet correct? We currently have approx. 500 of them that we recognize so the list you provided just about doubles that amount

[2020-04-01 17:15] hschallhorn commented on #12979
I assume it's all but the ones that have not been deleted (no strikethrough), but I'll let Ann-Marie confirm

[2020-04-01 17:22] araposo-tistatech commented on #12979
@ajspotts confirming Caseflow should be able to recognize all the document types

[2020-04-01 17:35] chandracarney opened #13854 "Create new non-admin Hearing Coordinator demo user"
## Description
In order to better, more seamlessly conduct training for virtual hearings (live demos and material documentation), a new Hearing Coordinator demo user is needed without admin privileges

## Acceptance criteria
- [ ] Update documentation: [link]

## Background/context/resources
https://dsva.slack.com/archives/C3EAF3Q15/p1581359116241100

[2020-04-01 18:11] chandracarney opened #13855 "Change "from" email address to .gov"
## Description
The Board is working through some issues that are preventing us from switching the "from" email address to a .gov email. Once this is done we need to contact Granicus support to configure the .gov email address.

## Acceptance criteria
- [ ] Email sent in UAT shows .gov "from" email address

## Background/context/resources
https://dsva.slack.com/archives/C3EAF3Q15/p1581103225229400

[2020-04-01 18:17] #13809 closed

[2020-04-01 18:18] #13394 closed

[2020-04-01 18:22] chandracarney opened #13856 "Change length of Pexip pin"
## Description
Change the length of the URL pin number for security purposes. Non urgent for pilot but necessary for national rollout.

## Acceptance criteria
- [ ] Test in UAT to verify guest URL pin is 10 digits, followed by #
- [ ] Test in UAT to verify host URL pin is 7 digits, followed by #

## Background/context/resources
https://dsva.slack.com/files/T03FECE8V/FUS1GFSE4?origin_team=T03FECE8V

[2020-04-01 18:39] leikkisa opened #13857 "Intake | COVID 19 Update | Show untimely issue modal after legacy issue selection"
## Description
Currently, the untimely issue modal that allows the use to enter an exemption appears after adding an issue, and before connecting it to legacy issues.

For the COVID-19 update, we will be expanding the jurisdiction of the exemption to to also allow some legacy issue opt-ins to be eligible that would have been ineligible due to timing of the SOC. The timeliness exemption will apply

[2020-04-01 18:54] araposo-tistatech commented on #13701
Duplicate of #13131

[2020-04-01 18:54] #13701 closed

[2020-04-01 19:16] leikkisa commented on #13817
@rutvigupta-design Do you have any suggestions or feedback for the copy on this modal?

[2020-04-01 19:31] leikkisa opened #13858 "Intake | COVID-19 update | Update eligibility rules"
## Description
This ticket is to implement a second set of rules for determining a legacy issue's eligibility, which will be activated if the COVID-19 checkbox is checked.

## Acceptance criteria
- [ ] When a timeliness exemption related to COVID-19 is entered for an issue, update the eligibility checks for legacy issue opt-ins:
  - [ ] If the legacy appeal has an SOC or SSOC dates, the appeal is

[2020-04-01 19:40] leikkisa commented on #13794
Closing due to fix in:
https://github.com/department-of-veterans-affairs/caseflow/pull/13792

[2020-04-01 19:40] #13794 closed

[2020-04-01 19:42] jcq commented on #13576
@rutvigupta-design Do you have any design suggestions for this? Below is what I have as a starting point:
<img width="793" alt="Screen Shot 2020-04-01 at 12 41 53" src="https://user-images.githubusercontent.com/2581274/78179574-47260d00-7416-11ea-8d03-1545d9ba8e24.png">

[2020-04-01 20:29] alisan16 commented on #11510
This error hasn't been seen in 8 months. Closing.

[2020-04-01 20:29] #11510 closed

[2020-04-01 20:29] alisan16 commented on #11511
This error hasn't been seen in 8 months. Closing.

[2020-04-01 20:29] #11511 closed

[2020-04-01 20:29] alisan16 commented on #11513
This error hasn't been seen in 6 months. Closing.

[2020-04-01 20:29] #11513 closed

[2020-04-01 20:30] alisan16 commented on #11518
This error hasn't been seen in 6 months with 21 total events. Closing.

[2020-04-01 20:30] #11518 closed

[2020-04-01 20:31] alisan16 commented on #11520
This error hasn't been seen in 7 months. Closing.

[2020-04-01 20:31] #11520 closed

[2020-04-01 20:32] alisan16 commented on #11534
Closing this as future work to handle deleted VACOLS cases is being tracked in #12791

[2020-04-01 20:32] #11534 closed

[2020-04-01 20:34] alisan16 commented on #11535
Closing as this error hasn't been seen in 8 months with only 4 events

[2020-04-01 20:34] #11535 closed

[2020-04-01 20:36] alisan16 commented on #11685
Closing this issue as the discussion it links to was inconclusive.

[2020-04-01 20:36] #11685 closed

[2020-04-01 20:37] alisan16 commented on #11752
Closing this as we have not heard complaints or issues caused by this

[2020-04-01 20:37] #11752 closed

[2020-04-01 20:41] alisan16 commented on #11866
I only see 1 more use of `componentWillMount` in `caseflow-frontend-toolkit`: https://github.com/department-of-veterans-affairs/caseflow-frontend-toolkit/blob/master/components/ReduxBase.jsx#L10. Should we create a separate ticket to remove that or continue tracking here?

[2020-04-01 20:41] alisan16 commented on #11889
Closing as this error hasn't been seen in 6 months.

[2020-04-01 20:41] #11889 closed

[2020-04-01 20:43] alisan16 commented on #11891
Closing as this hasn't been seen in 7 months.

[2020-04-01 20:43] #11891 closed

[2020-04-01 20:43] alisan16 commented on #11892
Closing as this hasn't been seen in 7 months.

[2020-04-01 20:43] #11892 closed

[2020-04-01 20:45] alisan16 commented on #11973
Closing as this error hasn't been seen in 7 months with only 2 events

[2020-04-01 20:45] #11973 closed

[2020-04-01 20:46] alisan16 commented on #11992
This looks similar to the investigation here: #12003. Closing this ticket as a duplicate.

[2020-04-01 20:46] #11992 closed

[2020-04-01 20:59] alisan16 commented on #7396
Closing this out as there hasn't been any movement in 1.5 years

[2020-04-01 20:59] #7396 closed

[2020-04-01 21:00] alisan16 commented on #8021
Closing this out based on @pshahVA 's comment above

[2020-04-01 21:00] #8021 closed

[2020-04-01 21:09] alisan16 commented on #11994
Closing this as the remaining work isn't actionable. OIT metrics tracked in https://github.com/department-of-veterans-affairs/caseflow/issues/12748

[2020-04-01 21:09] #11994 closed

[2020-04-01 21:16] pkarman commented on #9587
this is perennial and I think we've hit the biggest offenders according to NR (e.g. https://github.com/department-of-veterans-affairs/caseflow/commit/08e176b0ab7537e180c239551c0766c1acc7426a#diff-fd86a0d6982fc8d827021423d942eab4R57)

[2020-04-01 21:16] #9587 closed

[2020-04-01 21:28] leikkisa commented on #13647
Kicking this back to Ready for Dev due to reprioritization of issues, with MTV feedback from demo, COVID-19, and BvaIntake permissions taking precedence.

[2020-04-01 21:36] yoomlam commented on #12678
While working on #13278, I found this:
[code]

which is similar to (but different than) this situation:
[code]
LegacyAppeal 61638 has since been [manually re-opened based on Ferris's input](https://dsva.slack.com/archives/CLRTL92TW/p1580252271055300?thread_ts=1580228281.051300&cid=CLRTL92TW).

[2020-04-01 21:44] leikkisa opened #13861 "Motion to Vacate | Include draft hyperlink for all vacate types"
## User or job story
User story: As a Motions Attorney, I should be able to include a link to a draft document for all vacate types (deny, dismiss, and granted).

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: [review_motion_to_vacate]
- [ ] When a Motions Attorney is making a recommendation for a motion to vacate, they see a text box for entering the draft hyperlink

[2020-04-01 21:59] leikkisa opened #13862 "Motion to Vacate | Update Return to Motions Attorney"
## User or job story
User story: As a judge, I would like to be able to return a motion to vacate back to the motions attorney for reasons other than not having the draft recommendation document.

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: [review_motion_to_vacate]
- [ ] Judge has the option to return to the motions attorney for all vacate types (always show the y

[2020-04-01 22:00] leikkisa commented on #13862
@rutvigupta-design Tagging you for review on this ticket, in case you have a different understanding or have any edits to the copy suggestions.  Thanks!

[2020-04-01 22:04] rutvigupta-design commented on #13862
@leikkisa as per discussion with @msj0nes I will explore a design variation for this and get feedback from a few stakeholders!

[2020-04-01 22:18] pkarman opened #13863 "[Flaky Test] Hearing Task Pager"
## Description

Random spec order triggers repeatable error:

[code]

## Approach

Time box this investigation and fix.

Remember that if a test has been skipped for a decent amount of time, it may no longer map to the exact code.

If you reach the end of your time box and don't feel like the solution is in sight:
  - [ ] document the work you've done, including dead ends and research
  - [ ] skip

[2020-04-01 22:20] #13278 closed

[2020-04-01 22:40] #13362 closed

[2020-04-01 22:48] leikkisa opened #13864 "Motion to Vacate | Allow partial grant option for Motions Attorneys"
## User or job story
User story: As a motions attorney, I would like to be able to select the "partial grant" recommendation and have that information be available to the judge.

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: [review_motion_to_vacate]
- [ ] Motions attorneys have a radio field for "Grant partial vacatur" when selecting a recommendation to send to the

[2020-04-01 22:50] leikkisa commented on #13864
@rutvigupta-design I don't think this needs any copy or design, but just tagging you in case there's a need to update instructions or anything for the partial grant option.

[2020-04-01 22:51] yoomlam commented on #13362
@hschallhorn Why don't AttorneyTasks for Legacy appeals have an option to cancel: https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/legacy_tasks/attorney_legacy_task.rb#L12

[2020-04-01 22:57] leikkisa commented on #13864
Adding a blocked label, it sounds like we're going to wait from approval from BVA before moving forward on this ticket.

[2020-04-01 23:00] msj0nes commented on #13864
@rutvigupta-design  we'll put this ticket on hold until you get the opportunity to confirm with BVA that this is ok. Just update the ticket once you receive news on this.

[2020-04-01 23:30] msj0nes commented on #13782
# Status
As of 4/1/20
[Add COVID-19 timeliness exemption checkbox for HLRs](https://github.com/department-of-veterans-affairs/caseflow/issues/13809)   - This development work is complete and placed behind a feature flag. AMO to decide when the feature is released to VBA users.

[Allow timeliness exemptions for legacy issue opt-ins](https://github.com/department-of-veterans-affairs/caseflow/issues/

[2020-04-01 23:46] msj0nes commented on #13505
# Tracker
 **Key:**
Not Started ⚪️  <br>   In Progress 🚧   <br>    Complete ✅ <br>  Blocked 🔴

. |Research | Design |  Development | Pilot | Release
-- | -- | -- | -- | -- | --
[Select an attorney as the claimant ](https://github.com/department-of-veterans-affairs/caseflow/issues/13806)|  :construction: | :construction: | :white_circle: | :white_circle:   |  :white_circle:
[Specify issue category

[2020-04-01 23:50] msj0nes opened #13865 "Queue Org | Create new 'Case Review' team and copy permissions | Update Original 'Case Review' team name to 'Intake' team"
## Description
BVA Intake team requires a Queue based team to properly segment functionality in Caseflow. With work requested by BVA to restrict [non-BVA users from starting Board Appeals (NOD)](https://github.com/department-of-veterans-affairs/caseflow/issues/13356) we've noted that their associated teams in Queue require an update before proceeding with the restriction needed. This will ease com

[2020-04-01 23:57] jcq commented on #13861
@leikkisa @rutvigupta-design
Do we want this to be a simple multiline text field (`TextareaField` component)? Or do you want to have a UI that has them add them one-by-one, maybe specifying the name/type of the document separately from the hyperlink? Obviously the former is easier, but just wanted to check. Are we still OK with simply outputting the contents as part of the larger instructions, or

[2020-04-02 00:03] jcq commented on #11866
@alisan16 The 5 instances are still present in the `caseflow` repo, but they have been prefixed with `UNSAFE_` by #11864. So they still need to be rewritten, but folks should look for `UNSAFE_componentWillMount`, etc.

[2020-04-02 12:30] rutvigupta-design commented on #13864
@leikkisa there are two design requirements:
1. Adding a radio button on the Motion Attorney's page that says "Grant partial vacatur" with help text: "e.g. if you do not want to vacate all the issues the veteran is requesting"
2. When the judge receives their task, the first sentence in the instructions should say "I recommend granting a partial vacatur" for partial grants and "I recommend grantin

[2020-04-02 12:40] msj0nes commented on #13864
@rutvigupta-design commented on wrong ticket, the hold is for https://github.com/department-of-veterans-affairs/caseflow/issues/13862. It's fine to complete this work.

[2020-04-02 12:43] rutvigupta-design commented on #13861
@jcq @leikkisa I am exploring designs for this (the URL title copy, whether we should have any help text to guide users, and whether it should be a multiline text field) but this is blocked right now since we need confirmation from BVA that they can set up shared folders.

[2020-04-02 12:44] rutvigupta-design commented on #13862
**Note**: This is currently blocked until we get feedback from stakeholders next week. cc @msj0nes

[2020-04-02 13:21] araposo-tistatech commented on #13748
Confirmed with the Board, they do not need the ability to modify members of judge teams. They only need to create them.

[2020-04-02 13:45] rutvigupta-design commented on #13576
@jcq I like the placement of it and think it makes the most sense to have it there. I also agree with putting it in italics. My only suggestion would be adding parentheses to separate it visually a little bit more (very very minor). Would a user ever edit the contention text more than once? In that case, would "previously" make more sense?
<img width="382" alt="Screen Shot 2020-04-02 at 8 44 53 AM

[2020-04-02 13:52] lomky commented on #13396
@araposo-tistatech @D-L-Ware Questions about each of these new special issues:

 1. Are any of these `unhandled` Special Issues?
    - **Meaning:** do they require specific handling at Dispatch to alert on the case to a specific person/group?
    - Most Special Issues are *not*. Examples of existing unhandled Special Issues would be:
      - VAMC
      - Pension - United States
      - Nation Ceme

[2020-04-02 14:11] rutvigupta-design commented on #13817
@leikkisa is there a reason for saying "isn't usually eligible"? _Usually_ to me is a little confusing because it makes it seem like there are other use cases but there is no further information about them. Would it be inaccurate to simply say "The issue requested isn't eligible because its decision date is older than what is allowed."

I think showing the legacy text up front is okay! It's better

[2020-04-02 14:25] ferristseng commented on #13804
Blocked by an issue with figuring out what timezone to display the time in to the veteran.

[2020-04-02 14:30] #13845 closed

[2020-04-02 14:30] ferristseng commented on #13845
The status code indicates an unauthorized exception, which matches with the credentials issue we were seeing in UAT. I'm going to close this, since the credentials issue is now resolved.

[2020-04-02 14:55] #13851 closed

[2020-04-02 15:09] ajspotts commented on #12979
@araposo-tistatech in the case of encountering a doc type that is in our code but not listed in the spreadsheet (not a strikethrough) what would be your suggestion in terms of leaving or removing it?

[2020-04-02 15:13] araposo-tistatech commented on #12979
@ajspotts I would suggest leaving it for now and pulling a list of the current documents we have in the system. If we can pull a list I should be able to request if any should be removed during future document updates (as VBMS and the other VBA systems update are updated quarterly).

[2020-04-02 15:28] hschallhorn commented on #11917
#11968

[2020-04-02 15:28] #11917 closed

[2020-04-02 15:38] araposo-tistatech commented on #13396
@lomky confirming the new special issues do not require any special handling like those above at the point of dispatch. The designations are solely for reporting purposes at this point.

[2020-04-02 16:16] leikkisa commented on #13611
We can move forward with this

[2020-04-02 16:43] msj0nes commented on #13356
# Tracker
 **Key:**
Not Started ⚪️  <br>   In Progress 🚧   <br>    Complete ✅ <br>  Blocked 🔴

. |Research | Design |  Development | Pilot | Release
-- | -- | -- | -- | -- | --
[Create new 'Case Review' team and copy permissions | Update Original 'Case Review' team name to 'Intake' team](https://github.com/department-of-veterans-affairs/caseflow/issues/13865)| :whit: | ✅   |  ✅  |  🚧  |  :white_ci

[2020-04-02 17:10] hschallhorn commented on #13865
Break this into 2 PRs.
1. Rename `BvaIntake` model to `CaseReview`
2. Create new BvaIntake team

_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Why 3?
 - Unsure if renaming BvaIntake will have any unforseen issues
 - Need to verify and double-check impacts of changes

Why 5?
 - Lots of searches, thorough validating of the state of code, upd

[2020-04-02 17:16] hschallhorn commented on #13849
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Why 2?
 - Straightforward handling of tasks assigned by an attorney. Handling tasks assigned by a judge could be as simple as moving to a location in vacols.

Why 3?
 - Big context, but relatively small scoped change to it
 - Possible unknowns around how to handle tasks assigned by an judge

[2020-04-02 17:19] ferristseng opened #13868 "Move hearings details state from Redux to React Context"
## Description

Connected to #13662

- reassess redux state and how it's being used
- Use React contexts to replace repeated props and shared global state in Redux
  - Hearing's form Context
    - Move all form-related data outside of Redux state
  - Calls to API
    - Move all API calls to `DetailsContainer`
  - `hearing` prop (might not be possible yet, TBD)
    - might not be able to move to Co

[2020-04-02 17:21] hschallhorn commented on #13823
Seems to be an issue with how we determine legacy task types. Could the affected users have been AVLJs in these scenarios?

_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Why 2?
- Believe it could be due to AVLJ issues that Stephen may have fixed already

Why 3?
- Investigation ticket, something about unknowns
- not clear even for folks who

[2020-04-02 17:26] hschallhorn commented on #12301
Timeboxed to a 5 due to unfamiliarity with dispatch. Blocking off time to get spun up on code before even looking into issue.

[2020-04-02 17:28] hschallhorn commented on #13405
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Why 2?
- Could just be add-a-safe-operator `&`

Why 3?
- Maybe this _shouldn't_ be able to be null? In which case, the issue is deeper

[2020-04-02 17:32] hschallhorn commented on #8178
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Why 2?
- Pretty simple additional check before creating a new user
- Testing is also pretty straightforward

Why 3?
- Potential unknowns around checking the e-mail
- reviewing with an eye to security might take a little time

[2020-04-02 17:32] yoomlam commented on #13405
/app/containers/EstablishClaimPage/EstablishClaim.jsx at line 222:67
[code]

Navigation:
to | /dispatch/establish-claim/178434#/form
-- | --
from | /dispatch/establish-claim/178434#/decision

[2020-04-02 17:38] ferristseng opened #13869 "Refactor how VirtualHearingModal is shown"
## Description

Connected to #13662

Low priority, just a style change to make declaring modals cleaner in the component file.

  - Interesting pattens for handling modal show/hide:
[code]

## Acceptance criteria

Confirm no changes to UI

## Background/context/resources

## Technical notes

[2020-04-02 17:40] hschallhorn commented on #8218
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Why 3?
- Front end querying tasks from backend could be fairly tricky

Why 5?
- A lot of modification to the logic of case timeline

[2020-04-02 17:42] ferristseng opened #13870 "Move Transcription input components into DetailsInputs"
## Description

Connected to #13662

  - Remove `DetailsSections`, and move `transcription input components into `DetailsInputs`

## Acceptance criteria

Ensure no changes to UI

## Background/context/resources

## Technical notes

[2020-04-02 17:43] hschallhorn commented on #9016
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Why 1?
- `order_by`

Why 2?
-  Relatively straightforward
-  Add tests

[2020-04-02 17:50] hschallhorn commented on #9068
Choosing to, at the very least, show the search result in the users view. Preference to scroll as little as possible to get there.

_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Why 3?
- May already have reusable functions to scroll vertically and horizontally
- Team-wide Reader unfamiliarity

Why 5?
- I don't know how to do this, at all!

[2020-04-02 17:52] hschallhorn commented on #13641
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Why 1?
- Validation is a very common pattern we use in queue flow modal and can be reused here

Why 2?
- Validating existing UI

Why 3?
- Sometimes our FE state is tricky to validate

[2020-04-02 17:53] ferristseng opened #13871 "Renaming Hearings Details Components"
## Description

  - Renaming components?
    - Details, DetailsOverview, DetailsContainer all sound similar
      - Move DetailsOverview into Details, then have separate components for readonly vs form
    - Rename `DetailsInputs` to `DetailForm`

## Acceptance criteria

Ensure no changes to UI

## Background/context/resources

## Technical notes

[2020-04-02 17:59] ferristseng commented on #13662
We want to make similar refactors to the DailyDocket page in preparation for virtual-only dockets:

[2020-04-02 18:04] ferristseng commented on #13317
Refactoring in favor of #13868

[2020-04-02 18:04] #13317 closed

[2020-04-02 18:27] araposo-tistatech opened #13872 "Fix missing Legacy cases after case is signed"
## Description
After a judge signs a case, when they return to their queue view, legacy cases are no longer listed until the page is reloaded/refreshed.

## Acceptance criteria
- [ ] Legacy cases are present (without a manual page refresh) in the judges queue view after the judge signs a case

## Background/context/resources
Per VLJ User:
"When I finish signing a case, Caseflow loads a page that s

[2020-04-02 18:54] araposo-tistatech commented on #11868
closing based on Kevins comment point 2. decision_reviews/ endpoint doesn’t use pagination.

[2020-04-02 18:54] #11868 closed

[2020-04-02 19:08] alisan16 commented on #12728
Looked at this briefly and didn't see any CodeClimate functionality that did this, outside of these Rubocop linters:

- Unreachable Code: https://rubocop.readthedocs.io/en/latest/cops_lint/#lintunreachablecode
- UnusedBlockArgument (scroll down in link above)
- UnusedMethodArgument (^^)

which are all enabled by default. Are we using those?

[2020-04-02 19:19] ferristseng commented on #12728
Yeah, I think we are using those. I've definitely run into the unreachable code one, and looks like they're also enabled by default.

I tried using this and it turns up some good results: https://github.com/joshuaclayton/unused, but I don't think there's a way to automate it with CodeClimate

[2020-04-02 19:22] ferristseng commented on #11508
Done!!

[2020-04-02 19:22] #11508 closed

[2020-04-02 19:55] #13371 closed

[2020-04-02 19:55] jcq commented on #13576
@leikkisa It would only ever be "original" vs "edited", right? It never saves a "previous" state other than the original one, to my knowledge.

[2020-04-02 19:59] hschallhorn commented on #13417
@araposo-tistatech Can we get clarity on if this is correct, especially given the attorney union discussed today. Do we want to limit this to the assigner, all SSCs, the assigned attorney, etc?

[2020-04-02 20:23] yoomlam commented on #12244
Difference compared to #12136? See comments on that ticket.

[2020-04-02 21:00] msj0nes commented on #13865
@hschallhorn  This looks like it may be a heavy lift.

If there is a way to reduce the echo effort by creating the 'Intake' team and finding a model name for it that would make clear the differences and engineering believes the model names wont be confusing, I'm open to any easier path you find.

[2020-04-02 21:08] #12244 closed

[2020-04-03 01:29] msj0nes commented on #13839
Closing. This ticket is duplicate of [#995](https://github.com/department-of-veterans-affairs/appeals-team/issues/995) already referenced in [Contested Claims - Attorney fees](https://github.com/department-of-veterans-affairs/caseflow/issues/13505) work.

[2020-04-03 01:29] #13839 closed

[2020-04-03 01:34] msj0nes commented on #8171
Closing as aged ticket. Design can reopen and reuse if needed.

[2020-04-03 01:34] #8171 closed

[2020-04-03 01:40] msj0nes commented on #11738
Caseflow search is part of Queue. Updated labels.

[2020-04-03 01:44] msj0nes commented on #7939
Closing this RAMP based ticket.

[2020-04-03 01:44] #7939 closed

[2020-04-03 01:45] msj0nes commented on #11963
Associated tickets are closed.

[2020-04-03 01:45] #11963 closed

[2020-04-03 01:50] msj0nes commented on #11969
Closing @geronimoramos . Pulac Cerullo work  has been completed sometime now. In our continued talks with stakeholders if this is raised we can pursue it at a later date.

[2020-04-03 01:50] #11969 closed

[2020-04-03 01:53] msj0nes commented on #13840
Closing. This isn't work currently prioritized . Will depend on more recent stakeholder feedback to craft UX priorities.

[2020-04-03 01:53] #13840 closed

[2020-04-03 08:47] pkarman opened #13883 "Power of Attorney Tech Spec"
# Power of Attorney data storage
**Drafter**: @pkarman

## Context

Currently we fetch all our POA names from BGS and cache them in Redis for 30 days. We fetch POA address and cache for 24 hours. We also store POA name on the `cached_appeal_attributes` table.

Now we have some reporting needs that might make it advantageous to store POA in a more formal db table that can systematically be checked

[2020-04-03 13:25] chandracarney opened #13884 "Create plan for virtual hearings rollout with Caseflow Training team"
## Description
With the virtual hearing functionality set to be released nationally on May 20, Caseflow team Tango and the Training Team will work together to schedule, coordinate, and develop materials for training all Hearing Coordinators.

## Training timeline
- [x] Training practice run with Hearing Branch (week of 4/6)
- [x] Training sessions scheduled for each Hearing Branch team (between 4/

[2020-04-03 17:58] lomky commented on #13396
UI Changes (currently behind a feature flag!)

User & Page | Before | After
------------------|----------|--------
Attorney @ Checkout | ![Screenshot_2020-04-03 Draft Decision Select special issues(1)](https://user-images.githubusercontent.com/6129479/78360549-fa147900-7584-11ea-9680-55bed52fbc0b.png)  | ![Screenshot_2020-04-03 Draft Decision Select special issues](https://user-images.githubuserco

[2020-04-03 18:54] lomky commented on #13396
@araposo-tistatech
When an attorney checks 'No Special Issues', do we want that value to:
 - be preserved and show as checked to the VLJ, or
 - not be preserved, leaving the VLJ to affirmatively check it again during their checkout?

[2020-04-03 19:29] #13589 closed

[2020-04-03 19:42] rutvigupta-design commented on #11830
@geronimoramos do you want me to move this over to you? Or would you prefer we close this?

[2020-04-03 20:29] jjohni commented on #13872
YourIT Ticket Number | Date Ticket Created | Case Details URL
-- | -- | --
INC0000000 | 00/00/00 | Add case details page URL here
INC10192233 | 04/03/2020 | On the case details page of there queue product
INC10176192 | 04/02/2020 | On the case details page of there queue product
INC10177256 | 04/02/2020 | On the case details page of there queue product
INC10169579 | 04/01/2020 | On the case detail

[2020-04-03 20:46] ferristseng opened #13889 "Determine Veteran's Timezone from Address"
## Description

For #13804, we need to determine the timezone a veteran is in from their address because the hearing location for central office hearings will always be the same (timezone EST). Because the location is always the same, we won't be able to tell the veteran what time their hearing is in in a user-friendly way.

## Acceptance criteria

- [ ] Get the timezone for an address in US + ter

[2020-04-03 21:18] rubaiyat22 opened #13892 "Handle case when pexip throws a 500 even though request succeeds"
## Description
Pexip throws a 400 error with the message `"Virtual Meeting Room with this Name already exists."` which means we're trying to create a conference with an alias that's already been created. The only scenario where this happens is when pexip initially throws a `500` error even though the request succeeds and the job retries (not confirmed if this happens) to create the conference with

[2020-04-03 21:35] msj0nes opened #13893 "Ability to Intake VACOLS claims with G Code Disposition"
## Background/context
In a request submitted by the Board, the Caseflow product currently does not allow intake of claims where a G code disposition is listed in VACOLS.

## Goals
- Develop a solution that allows processing of claims blocked due to 'G Code' disposition and future claims marked with 'G Code' disposition in VACOLS.

## Success criteria

## Stakeholders - BVA
- John Gosnell
- Michael

[2020-04-05 19:18] pkarman commented on #13454
with `ENSURE_STABLE=100` I can make this fail locally about 5% of the time.

The bug seems to be that the `boston_tasks` are not always reliably set to `Boston` in the `cached_appeal_attributes` table.

[2020-04-05 22:42] pkarman commented on #13454
fix in #13896 where I ran `ENSURE_STABLE=1000` with zero errors.

[2020-04-06 06:50] #13396 closed

[2020-04-06 07:30] #13863 closed

[2020-04-06 14:40] #13454 closed

[2020-04-06 15:12] hschallhorn commented on #13175
# [Civil Rights](https://en.wikipedia.org/wiki/Civil_Rights_Act_of_1866) sprint (Apr 6 - Apr 19) engineering priorities
@yoomlam, @ajspotts, @lomky, @araposo-tistatech, and @hschallhorn, here are the priorities for this sprint!
## Core Set
### Special case movement #11801
1. :star: Allow SCM Team members to perform legacy actions for judges #12424
### Special Issues #13423
2. AMA: Add Special Issu

[2020-04-06 15:12] msj0nes commented on #12615
This hasn't been prioritized by either stakeholder. We will add to a sprint when time allows.

[2020-04-06 16:30] msj0nes commented on #13356
# Copy Update

**Not Authorized**
You are not authorized to perform this function.  Please take necessary steps to send this form to the Board.

Mail to **425 I St NW, Washington DC, 20001**
Attention: **Case Review and Evaluation Branch**

[2020-04-06 17:33] msj0nes commented on #8547
# Post BVA Feedback Session
SME Demo 4/1/20 and 4/6/20
### Feedback Received + New Engineering/Design Tickets Related

[2020-04-06 18:34] ajspotts opened #13900 ""Correct Issues" not appearing in AMA case for BVA Intake user"
## Description
BVA Intake user `BVAASANTIAGO` does not see "Correct Issues" option for an AMA appeal.  According to support a BVA Intake user should always have this appeal on AMA cases regardless of where in the workflow the appeal currently is or which user it is currently assigned to.  This is how the case currently appears to the user:
<img width="838" alt="Screen Shot 2020-04-06 at 2 30 32 PM

[2020-04-06 19:01] pshahVA commented on #13505
@msj0nes  Do we have an idea of the volume of this? How often does this happen?

[2020-04-06 19:03] leikkisa commented on #13817
@rutvigupta-design I added a couple of AC to add the "Please note:" and increase the spacing.

[2020-04-06 19:23] leikkisa opened #13901 "Intake | COVID-19 Update | Update NOD date rules"
## Description
Description from AMO:
Issues with an NOD date of 03/01/2019 or later will be available (even if it was more than 372 days from the receipt date). This will not show issues with an NOD date before AMA was launched on February 20, 2019.

## Acceptance criteria
- [ ] Please put this behind the feature toggle: [covid_timeliness_exemption]
- [ ] Create a new method to check a legacy appe

[2020-04-06 21:40] geronimoramos commented on #13645
All of this work has been completed and design decisions have been made. An additional step may be to monitor and evaluate this iteration as real estate in case title/properties section is valuable and limited in considerations for the need to create additional functionality to alter cases.

[2020-04-06 21:40] #13645 closed

[2020-04-06 21:43] geronimoramos commented on #13417
OT badge color specs:
/* Gray-dark */

background: #323A45;
border-radius: 4px;

[2020-04-06 21:43] geronimoramos commented on #13415
OT badge color specs:
/* Gray-dark */

background: #323A45;
border-radius: 4px;

[2020-04-06 22:24] ajspotts opened #13904 ""Correct Issues" link not loading page correctly"
## Description
When logged in as BVAKHADDOCK, navigating to the Case Details page for the appeal with `id: 30847` (`uuid: "146563a9-b88f-405d-bf80-d2c4eb979651"`), and clicking the "Correct issues" link, the page does not load.

During the course of the investigation of [this](https://dsva.slack.com/archives/CHX8FMP28/p1585233702022400) support issue, it was determined that the `legacyIssue` funct

[2020-04-06 22:25] yoomlam commented on #13900
As stated in https://dsva.slack.com/archives/CHX8FMP28/p1586208275220100?thread_ts=1585233702.022400&cid=CHX8FMP28:

[code]

When logged in as BVAKHADDOCK and clicking the "Correct issues" link, the page does not load. Upon [further investigation](https://dsva.slack.com/archives/CJL810329/p1586209772228800), the appeal's `RequestIssue`s refer to legacy appeals:
`appeal.request_issues.map(&:vacols_

[2020-04-06 22:26] yoomlam commented on #13900
Closing due to [Martina's comment](https://dsva.slack.com/archives/CHX8FMP28/p1586208891221300?thread_ts=1585233702.022400&cid=CHX8FMP28):

[2020-04-06 22:26] #13900 closed

[2020-04-06 22:31] yoomlam commented on #13904
See https://github.com/department-of-veterans-affairs/caseflow/issues/13900#issuecomment-610068930 for the appeal that's causing this problem.

[2020-04-06 23:32] geronimoramos commented on #13800
This is super interesting! Conceptually, `Notifications` don't exist (yet) in Caseflow and would change the product/design system considerably cc @carodew

[2020-04-06 23:51] leikkisa commented on #13356
New screenshot with updated copy:

<img width="976" alt="Screen Shot 2020-04-06 at 4 46 34 PM" src="https://user-images.githubusercontent.com/6589610/78615616-e5571000-7826-11ea-8452-7cf367add599.png">

[2020-04-07 00:54] geronimoramos commented on #8382
![New.png](https://images.zenhubusercontent.com/5d080bf47b35df3ba36deb06/2ce3e7ab-b0cd-4dbb-9e32-a078ebaa6d45)

Do we want to remove the table and extract the bare information displayed here? Or just remove details from the table?

[2020-04-07 14:11] lomky commented on #13865
@msj0nes I updated the AC to be agnostic to method; please confirm I haven't lost any details?

The old AC, for record:
[code]

[2020-04-07 14:57] hschallhorn commented on #12455
More context

## What we use these timestamps for
### `assigned_at`
- [ ] [Order decision reviews](https://github.com/department-of-veterans-affairs/caseflow/blob/a0900a333636fb4d4b5318fee5349faafa2ae9dd/app/controllers/decision_reviews_controller.rb#L53) to show to business lines
- [ ] [Determine `ready_for_distribution_at` ](https://github.com/department-of-veterans-affairs/caseflow/blob/dbd1267

[2020-04-07 15:06] hschallhorn commented on #12455
### `placed_on_hold_at`
- [ ] Determining if a [task has a completed hold](https://github.com/department-of-veterans-affairs/caseflow/blob/502058571a5d398f413592dfa3e737c2d9ae6515/client/app/queue/utils.js#L537)
- [ ] Showing [number of days a task has been on hold](https://github.com/department-of-veterans-affairs/caseflow/blob/d1c345ae4a84c7ac0f0ef94f87e0397a1c847655/client/app/queue/components/

[2020-04-07 15:34] msj0nes commented on #13865
@lomky looks good!

[2020-04-07 15:50] hschallhorn opened #13909 "Create a UI for BVA admins to reassign all tasks of an inactive user"
When A BVA admin marks a user inactive, they should also be able to trigger the reassignment of all the user's tasks. We currently have a [rake job](https://github.com/department-of-veterans-affairs/caseflow/blob/689164e647ac2508ea2e17761a7e0f4fa3848fe7/lib/tasks/tasks.rake#L152) to do this.

### AC
- [ ] When a user is marked inactive by an admin, an alert shows that they still have tasks assigne

[2020-04-07 15:59] hschallhorn opened #13910 "Update queues in other browser tabs to display badges added in another browser tab"
As a SSC assigning overtime cases, I typically open my assign queue and open the case details for multiple cases in other browser tabs. I vet these cases to see if any can be completed as overtime work and mark them as overtime if so. I then open the browser tab containing my assign queue to assign all cases marked as overtime to a single attorney rather than assigning them one by one in the case

[2020-04-07 16:05] hschallhorn opened #13911 "Handle bad css_id when navigating to a judge assign queue"
As of #13433, when an invalid css_id is used in /queue/<css_id>/assign, the error is not handled.

Correct css_id
![Screen Shot 2020-04-07 at 12 02 33 PM](https://user-images.githubusercontent.com/45575454/78692321-b2b12400-78c7-11ea-87e8-561eef4f7965.png)
Bad css_id
![Screen Shot 2020-04-07 at 12 03 01 PM](https://user-images.githubusercontent.com/45575454/78692350-c2306d00-78c7-11ea-84d5-b073753

[2020-04-07 16:10] hschallhorn opened #13912 "Handle mixed case css_ids when navigating to a judge's assign queue"
As of #13433, when a mixed case css_id is used in /queue/<css_id>/assign, we claim the css_id is incorrect. Instead, we should upcase all requests to find the right user and fix the URL to display correctly

Correct css_id
![Screen Shot 2020-04-07 at 12 02 33 PM](https://user-images.githubusercontent.com/45575454/78693038-b2fdef00-78c8-11ea-8966-f4a6634c595d.png)

Mixed Case css_id
![Screen Shot 2

[2020-04-07 16:20] hschallhorn opened #13913 "Make /queue/<css_id>/assign the default url to reach a judge's assign page"
In an effort to give judge assign queues human readable urls, we should make these urls the default url for these pages.

### AC
- [ ] When a judge navigates to their assign page from their dropdown, the url uses their css_id
- [ ] When a judge navigates to their assign page using their user id, the url is updated to use their css_id
- [ ] When clicking around the judge assign queue, the URL shoul

[2020-04-07 16:31] hschallhorn opened #13914 "Do not use assigned_to_location to sort and filter by assignee in org queues"
When implementing back end sorting and filtering by assignee in #11780 for pagination, we noticed our [front end did not](https://github.com/department-of-veterans-affairs/caseflow/pull/11780/files#r314458380) sort or filter with the simple task assignee value. We opted to [match what the front end currently did and fix this later](https://dsva.slack.com/archives/CJL810329/p1565898494290900?thread

[2020-04-07 16:48] hschallhorn commented on #12455
More user feedback/questions

This is due to us updating a timestamp any time a task status is changed to the timestamps respective status (assigned and assigned_at in this case) https://github.com/department-of-veterans-affairs/caseflow/blob/761e76a628fb5b5a2ea322755d51133d8e33ffe8/app/models/task.rb#L634-L643

[2020-04-07 16:50] leikkisa commented on #12692
# Civil Rights Sprint Sprint 4/6/2020 - 4/17/2020
Engineering capacity: 88%
- Sally Batteam week of 4/12

## Sprint status
:arrow_right_hook: Carryover: 13
:arrow_right_hook: ✅Carryover completed: 5
:arrow_right_hook: Remaining: 8

⭐️ Points pulled in for this sprint: 17
⭐️✅Points from this sprint completed: 0
⭐️🛑Decided not to do:
⭐️Remaining: 17

👾Space invaders pulled in:
👾✅Space invaders compl

[2020-04-07 16:54] hschallhorn commented on #8382
![Screen Shot 2020-04-07 at 12 53 04 PM](https://user-images.githubusercontent.com/45575454/78697433-ca3fdb00-78ce-11ea-9b02-0d3e08de21df.png)
I believe this refers to the "currently active tasks" header

[2020-04-07 17:40] chandracarney commented on #13626
# __ sprint (April 7 - April _) priorities

## Priorities
### Gen2 virtual hearings pilot
1. ↪️ [in progress] Observe first virtual hearing pilot users (#13661)

### Virtual hearings work
1.↪️ Store information related to virtual hearing emails (#13751)
2.⭐️ Hearing Details layout updates (#13752)
3.⭐️ Create new non-admin Hearing Coordinator demo user (#13854)
4.↪️ [in progress] Switch already-sc

[2020-04-07 17:50] rutvigupta-design commented on #13861
Please find the design prototype for adding an unlimited number of hyperlinks for a **denial/dismissal**
[here](https://www.figma.com/file/VtOG0hibbyJ6T5UcYnn5EP/Motions-to-Vacate_Phase-II_Epic-8547?node-id=494%3A35). This will be the same for dismissals with the exception of replacing "denial" with "dismissal"

**Note: Copy for the VLJs notes in progress.**

### Designed screens:
1. Motions attor

[2020-04-07 17:58] ferristseng opened #13915 "No validation when saving email on Hearing Details page"
## Description

After a virtual hearing is scheduled, when the email is modified, no validations are performed when hitting save. There is no indication of any success or error.

## Acceptance criteria

- [ ] Submitting the form with no email should not open the virtual hearing modal
- [ ] Submitting the form should display an error message to the user that indicates the email is required

## Back

[2020-04-07 18:00] rutvigupta-design commented on #13861
Here is the design for granted (full and partial) motions. The key difference for these is the **removal of the draft hyperlink field**. Adding a hyperlink follows the same pattern as denials/dismissals.
![URL - grant](https://user-images.githubusercontent.com/51714306/78703424-bcd72080-78cf-11ea-8bc8-778a53a37a05.jpg)

[2020-04-07 18:06] rutvigupta-design commented on #13861
### Motion Attorney's notes format

Here is the hyperlink to the draft of the motion:
_[hyperlink]_

Here is the hyperlink to the draft of the denial/dismissal:
_[hyperlink]_

Here is the hyperlink to the [document type name]:
_[hyperlink]_

[2020-04-07 18:15] araposo-tistatech commented on #5592
pulling #11803 from this epic, as this one was completed. Turning #11803 into an epic for the refresh.

[2020-04-07 18:15] #5592 closed

[2020-04-07 18:56] pshahVA commented on #13431
@chandracarney, as we discussed earlier, would we like to investigate a veteran self selecting from their va.gov profile?  I can create a ticket with the VA.gov team to look into this.

[2020-04-07 19:18] #13081 closed

[2020-04-07 19:32] leikkisa opened #13918 "Motion to Vacate | Admin Actions in De Novo flow"
## User or job story
User story: As a decisions attorney, I would like to be able to add admin actions to a De Novo vacate stream during the decision review flow, instead of from the Case Details page.

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: [review_motion_to_vacate]
- [ ] On a De Novo Vacate stream, the decisions attorney navigates to an Add Admin Action page

[2020-04-07 19:34] carodew commented on #13800
@geronimoramos this could be an opportunity to go back and explore/iterate on the 'inbox' concept that team Echo worked on this past fall, unfortunately we didn't have design capacity at that time to provide them with direct support. We have a number of areas in Caseflow where there are things that happen in the background (either an async system task or a process done by someone else), so it may

[2020-04-07 21:16] leikkisa opened #13920 "Motion to Vacate | Add Pulac-Cerullo task action to Judge Task"
## Description
Judge's should have the option to add the Pulac-Cerullo conflict of jurisdiction on an appeal when they are reviewing the decision on a Vacate stream.

## Acceptance criteria
- [ ] The JudgeDecisionReviewTask task has the LIT_SUPPORT_PULAC_CERULLO task action available if the appeal stream_type is "vacate"

## Background/context/resources
The judge can still add the jurisdictional c

[2020-04-07 23:30] pkarman commented on #12791
this appears to be fixed via our nightly sync.

[2020-04-07 23:30] #12791 closed

[2020-04-07 23:57] msj0nes opened #13921 "Intake | ITF | VBMS reflects updated status of an existing ITF from "Active" to "Claim Received" with Caseflow EP 040 establishment"
## User or job story
User story:  As a VBA Caseflow Intake user, VBMS should reflect an updated status of an existing ITF from "Active" to "Claim Received" whenever Caseflow establishes a EP 040 with claim label  “_Supplemental Claim Rating >year_"

## Acceptance criteria
- [ ] In VBMS, the existing ITF status changes from "Active" to "Claim Received" when Caseflow establishes a EP 040 with claim

[2020-04-08 00:09] msj0nes commented on #13248
# Tracker
 **Key:** <br>
Not Started - ⚪️
In Progress -  🚧
Complete -  ✅
Blocked - 🔴
Pending Stakeholder/SME Feedback  ☎️

. |Research | Design |  Development | Pilot | Release
-- | -- | -- | -- | -- | --
[As a VBA Caseflow Intake user, I have the ability to establish EP 040 with Claim Label “Supplemental Claim Rating >year”](https://github.com/department-of-veterans-affairs/caseflow/issues/13647)

[2020-04-08 00:21] msj0nes commented on #13921
# Status
🔴  - Blocked

 Pending the completion of [story](https://github.com/department-of-veterans-affairs/caseflow/issues/13647), we can assess whether VBMS needs anything outside of the EP code transmitted to automatically change the status of ITF.  This work will be address in the testing phase of this [story](https://github.com/department-of-veterans-affairs/caseflow/issues/13647)

[2020-04-08 00:45] #13356 closed

[2020-04-08 14:33] lomky commented on #13865
Awaiting resolution of https://github.com/department-of-veterans-affairs/dsva-vacols/issues/116 before this can continue.

Merge Plan:

[2020-04-08 16:01] araposo-tistatech opened #13924 "Designs needed for CM Team to view Judge's Assign Queue from their own queue"
## User story
As a CM user I should have the ability to view a judges assign queue from my own queue without having to modify the URL in Caseflow.

## Problem statement
Development has been completed to give CM Team members the ability to see all Judge assign queues, currently to navigate to the judges assign queue, the CM team member has to modify the URL using the users CSS ID. Per the Board, th

[2020-04-08 16:30] #13854 closed

[2020-04-08 16:35] araposo-tistatech opened #13925 "Clarify language when the last issue is removed on a case"
## User story
As a user when I remove the last issue on a case I should clearly see a message stating removing the last issue will cancel all tasks and withdraw the case.

Current language displaying is not clear.

## Problem statement
Users are mistakenly canceling tasks and withdrawing cases in Caseflow.

## What is out of scope?

## Background/context
Often times users want to correct issues on

[2020-04-08 17:16] yoomlam commented on #13925
Should emphasize in the popup that case will be closed and removed from their active queue. They will no longer be able to modify or reopen the case.

[2020-04-08 17:57] jcq commented on #13861
@rutvigupta-design I think the design of the modal varies a bit from others... Typically the titles aren't centered and there isn't a divider line between the title and the main contents. Should I work to implement those changes (I could do it here w/o affecting other modals)? FWIW, I like your design better. :)