[2018-09-06 22:29] mdbenjam commented on #6015
Do we need the `assigned to` field? If we're showing them a task, it must be assigned to them right? (Or maybe the organization they belong to)

[2018-09-06 22:34] mkhandekar commented on #6015
Yes! You are totally right @mdbenjam! No need for `assigned to` field for co-located staff.

Tagging @sneha-pai who actually did this work <3 (I just posted 'em!)

Sneha, I remember talking about showing the `assigned to` to all other users as a way to increase transparency around whose court the case is in at any given time. Do you remember this as well?

[2018-09-06 23:10] laurjpeterson commented on #6083
@dannysellers - what is the level of effort to add a notes field for the reason why a case was put on hold? I don't see it in caseflowdemo (I know we discussed removing the scope of co-located adding notes when they assign cases back to the attorney)

see designs here - https://app.mural.co/t/workqueue2001/m/workqueue2001/1533518524532/52ce941ed69a8a4887b2f6d778e00a4c3597c284

[2018-09-06 23:29] cmgiven commented on #6257
I don't have answers to the questions I'm tagged in. I can't think of a clear reason why either of those would be needed, and they also don't exist in VACOLS, but I haven't participated in any attorney research in more than a year, so I defer to those who have.

As for the question I'm _not_ tagged in (🙄), the reason is that if a motion for AOD is granted, it applies to all pending appeals. But if

[2018-09-06 23:35] laurjpeterson opened #6855 "Co-located tweaks"
Tracking some tweaks before launch.

Co-located user
- Add title in header font to co-located queue = "Your Cases"
- Add notes box when co-located user places hold
- Change Pending tab to read Pending action
- Co-located user can add another hold when a case is in the Pending Action tab

Attorney user
- Change copy from "Add Colocated task" to "Add admin action"
@laurjpeterson, shouldn't it say Ad

[2018-09-07 00:20] laurjpeterson opened #6856 "Lightweight Case timeline for RAMP appeals pilot"
Let's try to design and implement a lightweight Case timeline for RAMP appeals pilot (does not need to be ready exactly on Oct 1).

For AMA appeals only.

### AC
- Create another "tab" in Case details for Case timeline
- Case timeline elements:
   - NOD date
   - Decision date

[2018-09-07 00:26] laurjpeterson opened #6857 "Prep reports for pilots"
### Co-located/Attorney loop
- Weekly for DVC Osborne
  - Count of actions attorney assigns to co-located
  - Count of actions co-located puts on hold (or moves)
      - they should not be held accountable for cases that have to move off their plate
      - Focused around: Extension Request / HCL – Hearing Clarification Letter / IHP – Drafting of IHP / OTH – Other Admin Action Needed / POA – POA C

[2018-09-07 14:05] sharonwarner opened #6862 "Review Assignments | Back link is broken"
[code]

That object should be styled like a button, but needs to have the functionality of a link. Right now, the button object doesn't have a 'to' property, so clicking on the button doesn't do anything.

[2018-09-07 14:07] sharonwarner opened #6863 "Spreadsheet Integrations | Number of judges to assign"
Currently, we don't validate the number of judges who are in the spreadsheet, so it's easy for the hearing coordinators to miss a judge. We should add an input to the spreadsheet for number of judges and then add validation to ensure that the spreadsheet contains the correct number of judges.

[2018-09-07 14:09] nolawi opened #6864 "Initial load doesn't have base styles"
With the introduction of hashed css files, initial load doesn't have any cached styles. Its nice for local/dev env but if it happens in prod after every deploy, it looks terrible

![2018-09-06 19 49 15](https://user-images.githubusercontent.com/1745984/45223546-8d8ca780-b285-11e8-9766-7d5cdc5d898a.gif)

1. We should consider having a 'normalize' like base styles, outside of webpack
2. OR, webpack

[2018-09-07 14:28] abbyraskinUSDS opened #6865 "Turn on AMA feature flag for additional Intake users"
In order to translate the RAMP appeals into AMA appeals, the two Board employees responsible for this task will need access to AMA functionality, which is currently hidden behind a feature toggle.

## Acceptance Criteria
- The AMA feature flag is turned on for two users:
  - Linda Maiden
  - Crystal Williams

[Abby note: I don't have their user IDs - is there a way to systematically look them up?

[2018-09-07 15:10] #6831 closed

[2018-09-07 15:15] mdbenjam commented on #6257
@cmgiven though you did mention here: https://github.com/department-of-veterans-affairs/caseflow/issues/6274#issuecomment-416718657 that it'd be interesting to capture the reason. Do you still think that, and what would the use be?

[2018-09-07 15:35] sneha-pai commented on #6855
### Note 1:
![screencapture-caseflowdemo-queue-2018-09-06-16_42_35](https://user-images.githubusercontent.com/31224257/45228713-ed894b00-b291-11e8-953c-c83a5dcd6e64.png)
"When the hold has been completed, the case will automatically move to the Pending Action tab

### Note 2
"Pending" tab should be renamed to "Pending action"

[2018-09-07 15:58] cmgiven commented on #6257
Yes. I think it's important to capture so we can do reporting on how many AODs we're seeing by type, something that we can't easily break down today.

[2018-09-07 16:14] abbyraskinUSDS commented on #6168
Here is the list of AMA end products. It looks like the options for a supplemental claim stemming from a Board remand decision are:
- 040BDE
- 040BDEIMO

![eps for ama](https://user-images.githubusercontent.com/4042181/45230581-e3b21880-b28e-11e8-8ab9-4c680de023fd.png)

[2018-09-07 16:31] abbyraskinUSDS commented on #6167
I'm not sure about the dispositions text. But here is the list of AMA end products. It looks like there are two EP options for a supplemental claim stemming from an HLR decision (to track non-rating and rating):
- 040HDENR
- 040HDR

![eps for ama](https://user-images.githubusercontent.com/4042181/45230581-e3b21880-b28e-11e8-8ab9-4c680de023fd.png)

[2018-09-07 16:58] #6617 closed

[2018-09-07 17:14] allyceh commented on #5590
**High-Level Results from Usability Testing**

*Dispatcher Requests from Usability Testing, likely to be addressed post-Oct*
- Indicate if the veteran is deceased or not (present when there is an About the Appellant section)
- A way to edit veteran name (change the spelling if it’s wrong) or address. A way to change POA or edit address (that's not emailing an admin with SHARE access).
- Other name

[2018-09-07 17:20] abbyraskinUSDS commented on #6003
Closing this - deprioritized indefinitely (can reopen if AMO deems necessary)

[2018-09-07 17:20] #6003 closed

[2018-09-07 17:29] jiahuang opened #6869 "Intake edit higher level review does not render"
# Issue
Going to http://localhost:3000/higher_level_reviews/{id}/edit on dev is blank and gives 2 different errors depending on what issues are filed.

When an unknown issue is filed:

[code]

When only issues with ratings is filed:
[code]
Both issues happen in the same line in [caseflow/client/app/intakeCommon/util/index.js](https://github.com/department-of-veterans-affairs/caseflow/blob/c524922a

[2018-09-07 17:35] mdbenjam commented on #6257
Are there a set of types the user can choose from? I was thinking it was free text.

[2018-09-07 17:54] cmgiven commented on #6257
If there were to be types, they would be:

* age
* serious illness
* financial distress
* other

[2018-09-07 17:54] aroltsch commented on #6734
- [ ] Attorney’s on-hold tasks don’t show up in the queue
- [ ] When attorney assigns an AMA colocated admin task to a user, attorney’s task becomes on hold. A new colocated task is created with a parent ID of the attorney task.
- [ ] When attorney assigns a legacy colocated admin task to a user, attorney’s task becomes on hold. A new colocated task is created without a parent ID of the attorney t

[2018-09-07 17:54] cmgiven commented on #6257
Types would be preferable, because they'll be more useful for analysis later.

[2018-09-07 18:16] dannysellers commented on #5800
Current implementation (leaving for future reference):
- For all AMA/RAMP/BEAAM (non-legacy) tasks and all users / user roles, we will set their status to `in_progress` when the user clicks into the case details view (#6788)
- For colocated users, we will bold the case detail link for `assigned` tasks

#### Eventually
Once DAS is deprecated, we'll be able to store Task information for LegacyAppeal

[2018-09-07 20:07] #6830 closed

[2018-09-08 00:12] leikkisa commented on #6543
I'm moving this to done because the Decision Date appearing matches a profile_date, and not any of the promulgation dates.

[2018-09-08 00:12] #6543 closed

[2018-09-08 00:36] leikkisa commented on #6234
@suzchap Can we try again by selecting Spouse, and payee code 10?  Not all of the payee codes are valid, but it's still a "to do" item to figure out which payee codes are valid per claim type using StandardDataWebService.findPayeeCdsByBnftClaimTypeCd.

I can't remember if I manually validated this in VBMS or not, but it would make sense to do that too so that we can get the error code.

We might a

[2018-09-09 16:27] suzchap commented on #6234
@leikkisa Hmmm, now I can't even get past the ID lookup and keep getting "You don't have permission to view this Veteran's information​".... I tried it with these test caseflow users: CASEFLOW_283, CF_SCOTTY_283, CF_LAFORGE_283, CF_Q_283

[2018-09-09 16:37] suzchap commented on #6181
@leikkisa @kahlouie @shanear -- Do I start at VBMS UAT? I tried searching that for the ID provided above and got this message "Share exception thrown in searchBirlsVeteran for FileNumber."

[2018-09-09 16:44] suzchap commented on #4064
@leikkisa I selected `RAMP Selection (VA Form 21-4138)` and then entered the test id `561349911` and the search box showed the loading icon and then just stopped without producing anything. I tried another ID and it worked as expected. Thoughts?

[2018-09-10 01:23] Chingujo opened #6873 "Video and CO Release | Epic - Daily Docket View"
As a hearing coordinator and an RO hearing support staff on the ground, I need to be able to see
the list of veterans that are there to be scheduled to keep track of changes and ensure veterans get to the right hearings.

#7073 - Daily Docket Default View
#7075 - Editing and dispositions
#7076 - Confirmation banner

[2018-09-10 01:30] Chingujo opened #6874 "Video and CO Release | Epic 2 Case Details - Base Page"
As a hearing coordinator, I want to be able to see detailed information about a Veteran as part of the hearings review process, such as checking the form 9.

### Acceptance Criteria
- [ ] Verify that clicking on a Veteran Name in the table takes you to the case details page
- [ ] Verify that the header of this page is Veteran Name | View Veterans Document | View assign hearings (see mock)
- [ ] Ve

[2018-09-10 01:43] Chingujo opened #6875 "CO Release | Epic 2 Case Details - Assigning Veterans to Hearings"
#### Case Details
- #6874 Case Details
- #7072 Case Details - Assign Hearings
- #7238 Case Details - Assign hearings in line error
- #7245 Case Details - Assign Hearings search
- #6576 Case Details - Confirmation

[2018-09-10 01:50] Chingujo opened #6876 "Video and CO Release | Epic Table view | Header Area"
As a central office hearing coordinator, I need to know the tasks I need to be doing on this page, the "docket" I am viewing, and the current docket date quickly.

### Acceptance Criteria
- [x] Verify that the title of the page is "Assign Hearings"
- [x] Verify that there is a link called "View Hearing Schedule"
  - This should eventually take you to the view hearing schedule page
- [x] Verify tha

[2018-09-10 02:20] Chingujo opened #6877 "Video and CO Release | Table view | Date Selector"
As a central office hearing coordinator, I need to be able to quickly see the next available days I have in the schedule and the number of open slots for those days.

### Acceptance Criteria
- [x] Verify that there is a header container for the date selector called "Hearings to schedule"
- [x] Verify that there is a date selector container labeled "Available Hearing Days"
- [x] Verify that there a

[2018-09-10 02:32] Chingujo opened #6878 "Video and CO Release | Table view | Search Bar"
As a CO hearing coordinator, I need a way to quickly search for an individual veteran to respond to incoming requests for statuses and trouble shoot any CO hearing issues.

### Acceptance Criteria
- [ ] Verify that there is a search bar on the upper right of the page title area
- [ ] Verify that there is in italics "Enter 9 digit veteran id"
- [ ] Verify the following behavior:
 - User enters the

[2018-09-10 14:13] #6773 closed

[2018-09-10 14:13] #5953 closed

[2018-09-10 14:13] #6647 closed

[2018-09-10 14:13] #4563 closed

[2018-09-10 14:28] laurjpeterson commented on #6855
@sneha-pai re: Note 2, I think being able to type is how the dropdown as designed. For example, when an attorney is selecting a different judge to check the case back out to, they can begin searching for a judges name instead of having to scroll through.

@sneha-pai @mkhandekar - are we aligned on co-located queue table being titled "Your cases" and changing attorney queue to read "Your cases" as

[2018-09-10 14:29] amprokop commented on #6812
What about cases with multiple POAs, or cases with more than one claimant with different POA? Are we going to wait on designing that?

Eventually we'll have to transition to some model where POA is noted along with the person if there is more than one claimant— ok if we're saving that for later.

[2018-09-10 15:23] laurjpeterson commented on #6812
@amprokop - tracking showing multiple POA in this github issue. We have early sketches, but we did deprioritize incorporating the POA exceptions after we chatted with Shane about how Caseflow Intake might be the source of these POA exceptions, so we don't have data as we'd use it just yet - https://github.com/department-of-veterans-affairs/caseflow/issues/5589

[2018-09-10 15:37] dannysellers commented on #6855
@laurjpeterson we can prevent searching/typing in the dropdown. I agree that doing so here would probably make this page easier to figure out—otherwise, we wouldn't (by default) validate the input until the user clicks Continue, etc

[2018-09-10 15:55] laurjpeterson opened #6882 "Case details | Put deceased date in About the Veteran section"
We are capturing the Veteran deceased date from BGS for AMA appeals. BVA dispatchers use this to know context about who is receiving the BVA decision.

## AC
- Veteran deceased date exists in About the Veteran section of Case details

[2018-09-10 16:34] shanear commented on #6356
After a discussion with Sally we don't think this is the best way forward.

[2018-09-10 16:34] #6357 closed

[2018-09-10 17:15] aroltsch opened #6883 "[IDT AMA] Return whether there is outstanding mail for AMA appeal"
Return whether there is outstanding mail for AMA appeal

[2018-09-10 17:16] aroltsch opened #6884 "[IDT AMA] Return written_by and document_id for AMA appeals"
Return written_by and document_id for AMA appeals

[2018-09-10 17:31] allyceh commented on #6812
@mkhandekar I updated the verbiage to be more consistent and made it more concise (see below).

<img width="408" alt="screen shot 2018-09-10 at 1 29 16 pm" src="https://user-images.githubusercontent.com/40216950/45313685-92f42700-b4fd-11e8-9826-83b0d2e52b02.png">
<img width="410" alt="screen shot 2018-09-10 at 1 29 06 pm" src="https://user-images.githubusercontent.com/40216950/45313688-938cbd80-b4

[2018-09-10 17:39] amprokop opened #6886 "AMA Judges | Create BVA Dispatch task when judge checkout is compelete"
To ensure that BVA Dispatch team members can view appeals assigned to them, when a judge completes the checkout flow for an AMA appeal, we should create tasks for BVA Dispatch team members. This will probably be using the new organizational queue backend.

# AC
- When judge checkout is complete for AMA appeals, we should create new tasks for BVA dispatch users
- Caseflow perform round-robin assign

[2018-09-10 17:40] sharonwarner opened #6887 "VACOLS Integrations | Hold open diary type"
The hold open diary type should be :ext, not :a.

[2018-09-10 17:42] amprokop opened #6888 "Allow dispatch users to complete their tasks using the IDT API"
At the end of the IDT for BVA Dispatch, the IDT should make an call to Caseflow to complete the BVA Dispatch task, so we can run a query every week to determine which cases to send to ARC.

`/idt/api/v1/appeals/:appeal_id/outcode`?

# AC
- Create a way for the IDT to mark a BVA Dispatch task as complete

[2018-09-10 17:51] amprokop opened #6890 "Ensure BVA Dispatch users can view their AMA appeals when making a call to /idt/api/v1/appeals"
# AC
- When making a call to /idt/api/v1/appeals, BVA Dispatchers should get a list of their AMA appeals
- We don't *need* to return legacy appeals in that queue for now (although how easy is it?)

[2018-09-10 17:51] abbyraskinUSDS commented on #6865
@abbyraskinusds to find CSS IDs

[2018-09-10 18:05] abbyraskinUSDS commented on #6286
@leikkisa to figure out what to do with this

[2018-09-10 18:39] allyceh commented on #5590
Met with @mdbenjam @amprokop @aroltsch @lowellrex @laurjpeterson  to chat about Oct Scope, edge cases, and temporary workarounds, based on recent changes + outcomes from usability testing one user.

Open questions are captured in this mural and below: https://app.mural.co/t/workqueue2001/m/workqueue2001/1535565721180/6fc33e4466b959672928b346bbf07e97a7af9c0a

- Confirm that dispatchers have access

[2018-09-10 18:43] kahlouie commented on #6210
@suzchap I think this is ready for validation. We had decided after I asked that we'd save that for a later story as it's unnecessary for getting the rest of it validated. That said, this'll all change soon, so not sure it's worth validating.

[2018-09-10 19:43] #6793 closed

[2018-09-10 20:07] shanear commented on #6067
This was completed

[2018-09-10 20:07] #6067 closed

[2018-09-10 20:17] shanear commented on #6068
closing this since its upgraded in prod. @enriquemanuel will be handling fixing CI

[2018-09-10 20:17] #6068 closed

[2018-09-10 20:18] #6847 closed

[2018-09-10 21:31] #6869 closed

[2018-09-10 21:48] #6270 closed

[2018-09-10 22:37] leikkisa opened #6897 "Capitalize Veteran name before using as an argument to Establish Claim"
## Story
When a Veteran's name is not capitalized when sending the Veteran's information in the establish_claim VBMS call, it can cause an incident flash error, causing establish_claim to fail

## Acceptance criteria
A Veteran's name is capitalized before sending it to VBMS in establish_claim

## Validation
Monitor incident flash errors to see if any of them being caused have non-capitalized names

[2018-09-10 22:56] leikkisa commented on #6181
@suzchap Hi Suzanne. You want to make the intake in Caseflow first, for 123458303 and then go to VBMS.  Not sure what that error is though.

[2018-09-11 00:01] laurjpeterson commented on #6812
Looks good to me!

[2018-09-11 00:56] leikkisa opened #6900 "Make RampRefiling idempotent"
## Story
Some RampRefilings are failing partially through the complete steps, so they have end_products, but creating contentions fails.  The user gets an error, and cancels the intake.

Instead of giving the user an error, we would like the display a new message to the user that the claim_establishment will be processed.

## Acceptance criteria
1. The RampRefiling table has new fields to track es

[2018-09-11 01:02] leikkisa commented on #5280
Adding blocked because after reviewing the WSDL we feel that we need to set up another meeting with BGS to determine what needs to be done for this.

[2018-09-11 14:45] aroltsch opened #6902 "[IDT API] Add more information to certain fields"
IDT API:
- [x] If veteran_is_deceased is true, I also need the date of death.
- [x] If outstanding_mail is true, I need the type of mail with description
- [x] I need a suffix field for the Veteran (already have one for the Appellant)
- [ ] Need separate last/first name fields  for representatives when they are Agent/Attorney.

[2018-09-11 14:52] laurjpeterson commented on #6857
Related - comprehensive ticket about reporting projects: https://github.com/department-of-veterans-affairs/appeals-design-research/issues/757

[2018-09-11 15:34] laurjpeterson opened #6903 "EP routing for legacy and AMA"
Caseflow Dispatch currently creates EPs (when they can) and routes them to particular ROs for Board grants and partial grants depending on if there are special issues or not. There are quite a few special issues that require emails to be sent, because the AOJs adjusting the claim do not use VBMS - these are most commonly other business lines like VHA, NCA, Fiduciary, etc.

We want to know if this

[2018-09-11 15:35] laurjpeterson commented on #6903
Response from AMO:

[EP routing and claim adjustment questions_09072018 (002) AMO Edits.xlsx](https://github.com/department-of-veterans-affairs/caseflow/files/2371635/EP.routing.and.claim.adjustment.questions_09072018.002.AMO.Edits.xlsx)

[2018-09-11 15:35] laurjpeterson commented on #6903
EDU RO POCs

See below.  Please note that the POCs have changed.

RO91

Buffalo Education Center

307

RO91

Sharon.Judson@va.gov<mailto:Sharon.Judson@va.gov>

edu.vbamus@va.gov<mailto:edu.vbamus@va.gov>

RO93

Muskogee Education Center

351

RO93

dawn.arnold@va.gov<mailto:dawn.arnold@va.gov>

edu.vbamus@va.gov<mailto:edu.vbamus@va.gov>

RO94

St. Louis Education Center

331

RO94

Kristy.Scott@v

[2018-09-11 16:04] mkhandekar commented on #6855
Yes, I'm aligned with co-located and attorney tables being titled "Your cases"

[2018-09-11 16:42] Chingujo opened #6904 "Release 1 CO | Epic - Table view | Navigate from schedule"
As a hearing coordinator, I need to be able to switch to the assign veterans view from the schedule to start slotting veterans.

### Acceptance Criteria
- [ ] Verify that there is a primary button called "Assign Hearing"  next to the title of the page
- [ ] Verify that clicking this button takes you to the Assign Veterans table
- [ ] Verify that there is instructional text with the following copy:

[2018-09-11 16:51] Chingujo opened #6905 "Video and CO Release | Epic - Table View | Switch to assign hearings from schedule"
As a hearing coordinator, I need to be able to switch to the assign veterans view from the schedule to start slotting veterans.

### Acceptance Criteria
- [ ] Verify that there is a primary button called "Assign Hearing"  next to the title of the page
- [ ] Verify that clicking this button takes you to the Assign Veterans table
- [ ] Verify that there is instructional text with the following copy:

[2018-09-11 17:28] sharonwarner commented on #6426
![image (1).png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/582a398e7d9c5f1300c030ee/125516c66e82c728ace21e0d46e1999b2487c3e1dea0fd0fe64de29b234324676b5ee17e28d7e27ab9172253565f18a841095844fcab8b2ea6b56e62964e49bc8f3900299f7744eeaa880dbe06b0218e4c83b0b48c44c9ea3b24ef99c2.png)

[2018-09-11 19:11] sharonwarner opened #6913 "Upcoming Hearings | Missing travel board days"
A judge has travel board hearings from 10/22-10/26. She says that 10/25 and 10/26 aren't showing up on her upcoming hearings page, but we've verified that those dates do show up in our VACOLS query results. We're waiting on user feedback before continuing.

[2018-09-11 19:17] evankroske opened #6914 "Caseflow | Adds test data"
We need an AttorneyCaseReview for each AMA review task in the test data.

[2018-09-11 19:18] sharonwarner opened #6915 "Error Routing | FetchDocumentsForReaderUserJob to whiskey"
Errors from FetchDocumentsForReaderUserJob should go to appeals-whiskey

[2018-09-11 19:23] sharonwarner opened #6916 "Video and CO Release | Epic - Table View | Page skeleton"
Create the skeleton UI (header, footer, blank content) at hearings/schedule/assign that's viewable to anybody with 'Assign HearSched' or 'Build HearSched' permissions

[2018-09-11 19:39] #6855 closed

[2018-09-11 19:43] laurjpeterson commented on #6803
here is the file to update: https://github.com/department-of-veterans-affairs/caseflow/blob/master/lib/constants/attorney_judge_teams.rb#L236

[2018-09-11 20:37] laurjpeterson commented on #6854
@mdbenjam - I got the answer from AMO that these special issues do not apply for RAMP appeals, so we should remove them from the Special issues page:

- Vocational  Rehab
- DIC - death, or accrued benefits - United States
- Education - GI Bill, dependents educational assistance
- Foreign pension, DIC - Mexico, Central and South America,   Caribbean
- Foreign pension, DIC - all other foreign countr

[2018-09-11 20:41] laurjpeterson commented on #6903
Follow-up Questions to ask Caitlin:
1. **Original question** -  Do all end products for AMA   appeal grants without special issues continue to be routed to AMO? Legacy   appeals?
   - **Original answer** - AMA Grants go to DROCs. Legacy grants continue to go to ARC.
   - **Follow-ups:**
       - What are the DROCs and their associated VBMS station numbers? (DC, Seattle, and?)
       - How are gran

[2018-09-11 20:47] jiahuang commented on #6205
@pkarman `date_of_death` was just added to the veteran model: https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/veteran.rb#L12

According to the commit, looks like its nil for alive and has a value for deceased.

[2018-09-11 21:07] #6727 closed

[2018-09-11 21:55] #6887 closed

[2018-09-11 22:36] marvokdolor-gov commented on #6803
Updates completed on my branch from Aug group 2 **except**:
- Judges not found in .rb file to update with new attorneys: Blackwelder, M. Donohue, DiLorenzo, Schwartz, Velez.
- Users with no Judge assigned in Excel file: VACOMMEJEN, VACOVOIGHB

@nikitarockz any thoughts and/or leads?

[2018-09-11 23:53] #6211 closed

[2018-09-11 23:53] shanear commented on #6416
I think the plan here will be to record the file numbers, cancel the EPs and have AMO reprocess them.

[2018-09-12 13:54] #6788 closed

[2018-09-12 14:47] nolawi commented on #6864
@mdbenjam let me me know if you have any thoughts here

[2018-09-12 14:50] mdbenjam commented on #6864
Yes I've noticed this as well. I'm not familiar with either of these solutions, could you elaborate further? I'd love to fix this.

[2018-09-12 14:54] lowellrex opened #6923 "Create individual task queue view for organizational task queue users"
When somebody who has access to an organizational task queue navigates to `/queue` they should see the tasks assigned to themselves as an individual. They currently do not. This ticket exists to enable individual task queues for organizational task queue users.

The `AttorneyTaskListView` and `ColocatedTaskListView` components share a fair amount of similarities and I imagine the design of a hypot

[2018-09-12 14:59] dannysellers commented on #5760
#### Remand reasons to be used in both cases
(codes listed from [`ACTIVE_REMAND_REASONS_BY_ID.json`](https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/constants/ACTIVE_REMAND_REASONS_BY_ID.json))
- Duty to notify
   - No Notice Sent (`"AA"`)
   - Incorrect Notice Sent (`"AB"`)
   - Legally Inadequate Notice (`"AC"`)
- Duty to assist
   - VA records (`"BD"`)
   - Private

[2018-09-12 15:15] nolawi commented on #6864
I think, initial load of our app will everything together, markup shows up before browser can translate the styles. Since the css url is always new on every deploy, it will never use any cached styles hence we see unstyled markup first. We never had an issue before because styles were loaded before. I think wepack solves this by breaking it up in multiple webpack files. https://webpack.js.org/guid

[2018-09-12 15:20] #6862 closed

[2018-09-12 15:44] Chingujo opened #6926 "Co Release | Epic 2 Case Details - Actions | Assign Hearing"
As a central office hearing coordinator, I need to be able to assign a veteran to hearing day and location to the overall schedule in a user friendly way.

### Acceptance Criteria
#### Central Office
- [ ] Verify that when the user selects Assign Hearings the following options are present
   - Hearing location: Should always be Washington D.C. (do not include a change option)
   - Date: Defaults t

[2018-09-12 15:53] mkhandekar commented on #6856
I've added a few questions (yellow with black border - @laurjpeterson can you take a peek?) and sketches to the mural started by LP!

https://app.mural.co/t/workqueue2001/m/workqueue2001/1531849576358/38b753bff1e25963a76d8ebecf9679d6445c39b3

### NOD recieved, decision pending
Since the timeline is pretty sparse, added a line about what to expect in this area soon.
![screenshot 2018-09-12 11 49 11

[2018-09-12 15:54] laurjpeterson commented on #6903
You can find finance POCs here<https://vbaw.vba.va.gov/orm/fin/field_poc.asp>.

330 COWC Chairperson John Guion john.guion@va.gov

331 COWC Chairperson Elmer Linzie elmer.linzie@va.gov

[2018-09-12 16:08] laurjpeterson commented on #5760
- yes, this is because there are different, and more scoped down remand reasons for AMA.

- we shouldn't send anything to VACOLS for AMA appeals

[2018-09-12 16:14] shanear commented on #6811
This isn't a ticket we really need to communicate with BGS about. Removing the BGS label.

[2018-09-12 16:44] laurjpeterson commented on #6856
Oh one more thing! For this initial timeline, I think we should just include the `NOD date` and `BVA decision date`. `Extension request ruling` is an administrative action that co-located would be working on and I agree would eventually be in the Case timeline, but not for this first pass.

I'd suggest the copy is just "BVA decision date".

I prefer the version with the dates before checkbox!

[2018-09-12 17:43] dannysellers commented on #5760
Ok, so we have two similar but different sets of codes, that works.

Right, but we will need to send a code / id to the server indicating which remand reason(s) the user has selected. I meant, should we use the same codes as VACOLS wants to indicate the new reasons (though the data would only be written to the Caseflow database)? For example, should `"BB"` correspond to "Service personnel records"

[2018-09-12 18:16] suzchap commented on #5539
LGTM

[2018-09-12 18:16] #5539 closed

[2018-09-12 18:31] suzchap commented on #4064
LGTM (last line had been omitted but deemed preferable by me)

<img width="1095" alt="screen shot 2018-09-12 at 2 29 57 pm" src="https://user-images.githubusercontent.com/11219417/45445553-8a842380-b698-11e8-8b76-9d30146b7702.png">

[2018-09-12 18:31] #4064 closed

[2018-09-12 18:37] suzchap opened #6929 "Claim review reference ID missing on confirmation page"
While validating #6428, the confirmation screen shows "Establish EP: null" instead of whatever should be there.

<img width="1107" alt="screen shot 2018-09-12 at 2 35 01 pm" src="https://user-images.githubusercontent.com/11219417/45445772-22820d00-b699-11e8-81ed-552429fca0f5.png">

[2018-09-12 18:43] suzchap commented on #6148
Validated with Sally, LGTU

<img width="1419" alt="screen shot 2018-09-12 at 2 43 21 pm" src="https://user-images.githubusercontent.com/11219417/45446187-409c3d00-b69a-11e8-99fc-e286b77fcee8.png">

[2018-09-12 18:43] #6148 closed

[2018-09-12 18:45] amprokop opened #6930 "Refactor PATCH/POST routes for legacy_tasks and tasks to have the same interface"

[2018-09-12 18:47] suzchap commented on #6181
Waiting for edit summary page to get fixed but FYI for later, also works with 888451290... in VBMS, look up then click "claims" in upper right, select one with rating issues to find the button.

[2018-09-12 18:54] suzchap commented on #5281
Getting an error. Tried to validate with Sally so she saw error code.
<img width="1101" alt="screen shot 2018-09-12 at 2 53 57 pm" src="https://user-images.githubusercontent.com/11219417/45446774-bf45aa00-b69b-11e8-865d-8a17200cb7a1.png">

[2018-09-12 18:59] leikkisa opened #6931 "Receipt date allows invalid dates"
## Story
When a user is selecting a receipt date, they can enter a date of 17/33/2018 and it passes the date validation

![Screen Shot 2018-09-12 at 2.17.44 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5aa9b7c9e7d70200133c2088/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772a6455f16b7191a37af1132c4f5b5b5ecc3c4a4356bcbbd671f3e57862804e0ee5d33c5d22c33413

[2018-09-12 19:21] lowellrex opened #6933 "Non-queue users can't access case details page"
Folks with access to Caseflow but without queue access (for example, somebody with access only to the case search home page) cannot view the case details page after searching (or navigating there directly).

## Acceptance criteria
* Somebody with access to the case search page should be able to see the case details page

[2018-09-12 21:10] evankroske opened #6937 "JudgeReviewTaskListView and JudgeAssignTaskListView | Add tests"
Action item from the 5-whys session 2018-09-12

[2018-09-12 21:18] laurjpeterson commented on #5549
Permissions we have right now:
- VACOLS roles
- System admin protections in our code (Caseflow Commons Functions)
- CSEM functions
- Feature toggles
- BGS access controls - Sensitivity levels + VSO restrictions

[2018-09-12 21:45] #6854 closed

[2018-09-12 22:05] leikkisa opened #6938 "RELEASE DEC 9: Add user ID to establish_claim and create_contentions"
## Story
There's an issue where a VBMS claim gets rolled back, but the BGS claim is still being created.  Right now when we create a claim, the user is listed as efolder_express.  We would like to send the actual user ID of the person logged into Caseflow, for both establish_claim and create_contentions, because these two calls use external domains.

VBMS needs to develop the functionality for thi

[2018-09-12 22:10] leikkisa opened #6939 "Editing VBA Issues | Re-associate rated issues on edit issues"
## Story
When a claim review is edited, and issues are added or removed, the entire map for associate_rated_issues needs to be re-sent.  It will replace the previous map.

## Acceptance Criteria
- When a claim review is edited successfully (meaning issues were either added or removed), and contentions were added or removed to any EPs connected to that claim review, Caseflow should call the VBMS re

[2018-09-12 22:35] #6838 closed

[2018-09-12 22:50] #6274 closed

[2018-09-12 23:14] shanear commented on #6385
This is outdated and no longer relevant. Closing

[2018-09-12 23:14] #6385 closed

[2018-09-12 23:17] shanear opened #6940 "Make SC/HLR establishment idempotent"
In order to be able to retry processing the VBMS calls for a claim review, we need that function to be idempotent.

## Acceptance Criteria
- The `process_end_product_establishments!` should be idempotent, and not make calls that have already succeeded.

[2018-09-12 23:23] shanear opened #6941 "Process VBMS requests for SCs/HLR establishments asynchronously"
Instead of processing the VBMS calls for HLRs and SCs synchronously when completing an intake, we should process them asynchronously to save time, since we'll retry failed requests anyways.

## Acceptance Criteria
- On the completion of an HLR/SC intake, a job should be triggered that completes the VBMS establishment actions asynchronously.
- This job should also be used to process the establishme

[2018-09-12 23:28] shanear opened #6942 "Retry failed VBMS requests for HLR and SC establishments"
Once we begin processing VBMS requests for HLR and SC establishments asynchronously, we will need a way to retry them when they fail.

## Acceptance Criteria
- When any part of the VBMS establishment for an HLR or SC fails, a job should periodically attempt to retry processing them.
- An HLR or SC should be retried every 3 hours for 4 consecutive days. After that, it should no longer be retried.

[2018-09-12 23:35] shanear opened #6943 "Update copy on HLR and SC success page to designate that the EP might not be created immediately"
Because we will be establishing EPs in VBMS in a separate job that may fail, or may take close to a minute to process, we should probably tell users that the EP "will be established shortly".

We could also allude to the fact that if the EP does not show up they can attempt to reprocess it and add a button to allow them to do that?

[2018-09-12 23:36] shanear opened #6944 "Page to view and retry failed asyncable operations"
We need a landing page to see all the HLRs and SCs that failed to establish, and potentially an error message about what went wrong. This way a manager can look through them, diagnose the issue and attempt to retry processing them.

## Acceptance Criteria
- There should be a page that shows all Asyncable models that have been attempted, but not successful. It should show the following information

[2018-09-13 00:01] shanear commented on #6652
Fixed by running the following script:

[code]

[2018-09-13 00:02] shanear commented on #6652
Confirmed:

[code]

[2018-09-13 00:02] #6652 closed

[2018-09-13 00:05] #6900 closed

[2018-09-13 00:14] shanear commented on #6416
Cancelled the EPs via the following script

[code]

[2018-09-13 00:14] shanear commented on #6416
All i need to do is send the file numbers to AMO for reprocessing. Will do that tomorrow.

[2018-09-13 00:32] leikkisa opened #6946 "AMA Intake | Rollback AMA reviews when the EP is cancelled"
If someone cancels an end product, we should cancel the associated issues for that end product.

requires https://github.com/department-of-veterans-affairs/caseflow/issues/9188

## Acceptance criteria
- If the status of an end product becomes canceled (CAN), the request issues for that end product should be marked as closed with a `closed_status` of `end_product_canceled` (according to the rules o

[2018-09-13 00:38] shanear opened #6947 "Check for long addresses as part of validating veterans"
BGS does not allow veterans to have addresses with `address_line_1` greater than 20 characters. We should be validating that before the intake begins and adding an appropriate error message.

## Acceptance Criteria
- When searching for a veteran in any intake flow, check to see if the veteran's `address_line_1` is greater than 20 characters. If it is, show the following error message (in the same

[2018-09-13 13:53] Chingujo commented on #6878
@sharonwarner

Would tackle the search last because we have to connect with the broader Queue team to discuss the best way to address how to identify schedulable hearings. For now this ticket is just implementing the existing search =D

[2018-09-13 14:02] Chingujo commented on #5954
@MeredithStewart @oscarAtNava

A quick update on the changes:

- Updated mocks to make them more in line with what exists
- Changed the hearing location from a searchable filter to a regular dropdown.
   - The reasoning is that we have a higher level RO filter at the top that will filter the view. The Hearing location would be to get more granular views in the future. For example: Houston > El Pas

[2018-09-13 14:03] #6594 closed

[2018-09-13 14:29] #273 closed

[2018-09-13 14:32] Chingujo opened #6948 "Video and CO hearing | Epic viewing the schedule | Admin view"
As a branch manager, I need to be able to both assign veterans to the schedule and build it.

### Acceptance criteria
- [ ] Verify that there are two buttons for the different functions as shown
- [ ] Verify that only our "build schedule" users have this view

### Mocks
![minimal download schedule assign button](https://user-images.githubusercontent.com/23316107/45494996-57956a80-b740-11e8-8048-bd

[2018-09-13 15:28] nemodjuric opened #6952 "Fix Dispatch/Work History page in development"
Currently if you go to http://localhost:3000/dispatch/establish-claim, the page won't display work history.
It turns out that views/dispatch/index.html.erb has code in it that gives 500 error.
https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/dispatch/task.rb#L103
Removing web-console seems to fix the issue.

[2018-09-13 15:37] aroltsch opened #6953 "[BE] Implement a way for attorneys and judges to update remand reasons for AMA appeals"

[2018-09-13 15:39] mkhandekar commented on #6856
Brought this into sketch:

### NOD received:
![image](https://user-images.githubusercontent.com/1598889/45499044-83691e00-b749-11e8-81a3-65d6a8ca82d9.png)

### BVA decision made:
![image](https://user-images.githubusercontent.com/1598889/45499048-85cb7800-b749-11e8-9f6e-20dbfd6b9e87.png)

[2018-09-13 15:54] mkhandekar commented on #6882
👋

What do you all think of the placement of the deceased date here, right below date of birth?

Also, what language might be best? "Deceased date" vs "Date of death"?

Also, is there a need to treat this data point more than a data point in this list? Does anyone need to know up front (higher up on case details, or elsewhere) that the Veteran has deceased?

![image](https://user-images.githubuser

[2018-09-13 16:29] suzchap opened #6955 "Select form page: copy and style changes"
## Story
Fine-tuning of content and styles.

## Technical notes

## Acceptance criteria
- "Which form are you processing?" is coded as a form label
- "To get started, choose the form you are processing for intake." has been removed

## Copy
No new copy.

## Mocks
<img width="611" alt="screen shot 2018-09-13 at 12 36 46 pm" src="https://user-images.githubusercontent.com/11219417/45502686-9cc29800-b

[2018-09-13 16:40] allyceh commented on #6882
The placement makes sense to me, and I prefer the lingo "Date of Death" because it's consistent with "Date of Birth" and makes for easy scanning in this data view.

Question @laurjpeterson @mkhandekar : if this data point will be going live on 10/1-ish, should we consider the design/placement of Date of Death in the context of what's live today?
<img width="927" alt="screen shot 2018-09-13 at 12 3

[2018-09-13 17:34] pkarman commented on #6205
Answered via slack: yes, regardless of form, set `benefitTypeCd`

[2018-09-13 17:39] suzchap opened #6960 "Search page: copy and style changes"
## Story
Fine-tuning of content and styles.

## Acceptance criteria
- Label for search box is "Enter the Veteran’s ID"
- "Enter the Veteran’s ID" is coded as a form label

## Copy
- Enter the Veteran’s ID

## Mocks
<img width="610" alt="screen shot 2018-09-13 at 12 59 08 pm" src="https://user-images.githubusercontent.com/11219417/45503444-d72d3480-b754-11e8-9080-21731e3dfa36.png">

## How to Valid

[2018-09-13 17:52] shanear opened #6961 "Script is trying to reprocess ramp refilings for an appeal (which don't actually need to be reprocessed)"
We aren't setting `establishment_processed_at` for ramp refilings that are appeals so they are registering as `need_to_reprocess`, which is incorrect and causing the error below. We should set them.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2432/

[2018-09-13 18:21] mkhandekar opened #6963 "Design universal case title"
Quoting @laurjpeterson from from https://github.com/department-of-veterans-affairs/caseflow/issues/6650:

### Current case title and snanshot area in case details
<img width="1094" alt="screenshot 2018-09-13 14 11 36" src="https://user-images.githubusercontent.com/1598889/45507087-1ceefa80-b75f-11e8-98d2-64e20d8b4c00.png">

### Current Reader

<img width="1130" alt="screen shot 2018-08-29 at 7 52

[2018-09-13 18:33] evankroske opened #6964 "AMA | Evaluate Decision | Show the date that the case was assigned to an attorney"
<img width="687" alt="screen shot 2018-09-13 at 11 39 24 am" src="https://user-images.githubusercontent.com/357369/45508123-04341400-b762-11e8-977a-481242e4a42b.png">

Logic for legacy cases: https://github.com/department-of-veterans-affairs/caseflow/blob/6b02606c71ca03b7f175c2165600c4e82f734a50/app/models/legacy_tasks/judge_legacy_task.rb#L8

[2018-09-13 18:57] suzchap opened #6965 "Intake | Style change to make form labels bold"
## Story
CSS for all intake form labels should be bold (`<strong>`).

## Technical notes
This will require adding the `strongLabel` configuration to `SearchableDropdown`

## Acceptance criteria
- form labels display as bold (style is currently set to just regular, not bold). Note, not all text that's above a form field has been coded as a form label so these won't be affected but we will change th

[2018-09-13 19:21] suzchap opened #6966 "AMA Intake | Create an "Add issues" landing page"
## Story
For any AMA forms, when a user needs to add issues, they will be walked through a multi-screen selection process to help them make the best choice. This landing page will be their starting point. This will address a number of usability issues and set the stage for future additions to accommodate edge cases.

## Technical notes
Even though we are no longer showing the old Add Issues UI, we

[2018-09-13 19:33] allyceh commented on #6257
@mdbenjam @laurjpeterson @sneha-pai @mkhandekar: Below is my first take at "editing AOD", which, for now, is more like granting or denying AOD status. This is based on our design for co-located admin tasks. Since we are going to put granting/denying AOD in the "Actions" drop down for now, I felt like it should mirror the patterns and flow we have for co-located tasks rather than opening in a separ

[2018-09-13 19:57] mkhandekar commented on #6369
@lowellrex should we make a new issue for the 3 bullets you identified?

[2018-09-13 20:12] lowellrex commented on #6369
As far as I can tell, all three of those items still need to be addressed. I think the below screenshot demonstrates all three:
![image](https://user-images.githubusercontent.com/32683958/45513018-8ecf4000-b76f-11e8-88c6-174fbd1f2b7d.png)

As for whether we want to create a new issue or keep that work attached to this ticket, I have no preference either way.

[2018-09-13 20:12] dannysellers commented on #6294
This is not complete, thanks for noticing.

This should be a quick ticket. As far as I can tell, there's just one complication / point to resolve: the Days Waiting column is used in multiple contexts, including both when reviewing a judge's own cases and when looking at cases assigned to attorneys. In the former, it'll say `Calendar days this case has been assigned to you`, but in the case of look

[2018-09-13 20:27] #6846 closed

[2018-09-13 20:31] #6865 closed

[2018-09-13 20:38] laurjpeterson commented on #6666
Updated attorney Allen Kerpan's notes in [workflowy](https://workflowy.com/s/WsC.BxBGVcpPY0)

[2018-09-13 20:47] mdbenjam commented on #6257
Do we need to track denials? Or just grants? Denials don't actually change anything for the Veteran, but maybe we want them for reporting purposes?

[2018-09-13 20:53] shanear commented on #6416
the numbers and a description of the issue have been sent to AMO. This ones all done from our perspective 👐

[2018-09-13 20:53] #6416 closed

[2018-09-13 21:05] #6796 closed

[2018-09-13 21:07] evankroske opened #6971 "ColocatedTaskListView-test | Deflake test"
ColocatedTaskListView-test was disabled due to flakiness. We should deflake it and re-enable it.

[2018-09-13 21:09] mkhandekar commented on #6369
Cool, I'm good with keeping this open!

[2018-09-13 21:12] laurjpeterson commented on #6882
Here's what the demo site looks like for AMA appeals:

<img width="821" alt="screen shot 2018-09-13 at 5 08 41 pm" src="https://user-images.githubusercontent.com/27704093/45515984-b7f3ce80-b777-11e8-8040-a70f42fb4c63.png">

I think the placement of "Date of Death" underneath Date of Birth makes sense, and I don't think it needs to be higher up on the page at this time. (We could get feedback from

[2018-09-13 21:17] allyceh commented on #5590
@nicholasholtz cc: @laurjpeterson and @marvokdolor-gov , I am (intentionally) getting in the weeds after usability testing with the BVA Dispatch team and trying to identify any edge cases they might have to handle when using Caseflow on Oct 1 (so that we have a proposed solution).

Edge case 1: POA is incorrect in Caseflow and needs to be changed.

If POA is incorrect in Caseflow, Lauren and I wer

[2018-09-13 21:33] mkhandekar commented on #6882
@laurjpeterson I hear you and I'm good with reverting to bold normal text like in the demo site! We can just keep the gray text in capitals in case snapshot.

[2018-09-13 21:34] laurjpeterson commented on #6257
Thanks for mocking this up - looks great!

My two cents about copy:
- "AOD Motion" - how about "AOD Motion disposition"? Grant/deny are issue dispositions, so maybe that would language makes sense
- Change "Motion type" to simply "Reason". The motion type = AOD motion.

I agree with your assumptions!

Since you just met the AOD lead this week, I wonder if you could stop by her desk tomorrow or ear

[2018-09-13 21:35] laurjpeterson commented on #6257
@mdbenjam I honestly haven't heard of a time when an AOD motion has been denied, so I'm not 100% sure of the answer to your question. @allyceh maybe this is something we could quickly ask Charlene about too?

[2018-09-13 21:39] mkhandekar commented on #6257
🎉 @allyceh!

Adding on to Mark's question, would a "denial" mean... for instance, the Veteran is now not in extreme financial need?

Quick note on the back/submit buttons, I think currently our code is structured in a way that requires us to keep buttons outside of the white box, like this:

![image](https://user-images.githubusercontent.com/1598889/45517329-c93eda00-b77b-11e8-97aa-6575c64f0eeb.pn

[2018-09-13 21:39] evankroske opened #6974 "Queue | Case Snapshot | Show "assigned to" of AMA tasks"
Today, in the case snapshot, "assigned to" is set to "Not supported for BEAAM appeals" for AMA cases.

![image3](https://user-images.githubusercontent.com/357369/45517354-dfe53100-b77b-11e8-8f54-4ff76a3df0b7.png)

[2018-09-13 21:41] mkhandekar commented on #5592
Consider adding date of motion and user who made the motion for AOD in the timeline, from https://github.com/department-of-veterans-affairs/caseflow/issues/6257#issuecomment-421125993

[2018-09-13 21:44] laurjpeterson commented on #6294
@dannysellers - is this another case where we want uniformity? if so, we could make the tooltip read `Calendar days since this case was assigned` or `Calendar days since this case was assigned to user`. I don't personally like the "to user" part of it.

If we don't need it to be universal, then I agree with `assigned to ${attorneyName`

I changed the copy a bit here, because we have it so the Days

[2018-09-13 22:00] mkhandekar commented on #6294
Thanks for bringing up the complication Danny!

Yes, I like your tweak here Lauren 👍

- if uniformity is needed: `Calendar days since this case was assigned`
- if not: `Calendar days since this case was assigned to ${attorneyName}`

[2018-09-13 22:14] mkhandekar opened #6977 "Enable active state on sidebar"
Currently, there is no indication within the side nav that the user has scrolled up/down case details. It would be helpful to create a visual indication and anchor for users to place where they are within case details, as they browse and are looking for items.

<img width="338" alt="screenshot 2018-10-10 10 10 12" src="https://user-images.githubusercontent.com/1598889/46754014-36a83280-cc76-11e8-9

[2018-09-13 22:28] laurjpeterson commented on #6257
I think a "denial" would mean that the Veteran submitted a motion to be AOD, let's say for financial hardship, but there wasn't evidence in the eFolder to prove that the Veteran was in financial hardship (based on some standard that the judge knows, because judges grant or deny AOD motions when there isn't obvious evidence in the eFolder such that the AOD employee is authorized to grant). We'll ne

[2018-09-13 22:32] shanear commented on #6946
Not sure if we should hard delete them or soft delete them.

[2018-09-13 23:40] shanear commented on #6356
Yeah confirmed we are not doing this

[2018-09-13 23:40] #6356 closed

[2018-09-14 00:00] #6902 closed

[2018-09-14 00:34] leikkisa commented on #6897
Might not need these, we suspect it's not the actual problem.

[2018-09-14 00:42] shanear commented on #6897
Starting to look like this isn't the problem. I'm gonna close this issue and reopen if we end up needing it.

[2018-09-14 00:42] #6897 closed

[2018-09-14 13:14] #6740 closed

[2018-09-14 14:37] allyceh commented on #6257
Thank you! I will update all of these accordingly and plan to swing by Charlene's desk for input next week. She is only in on Thursdays, so I will plan to chat with her then so that I can see her interact with it in person. If that's going to be a blocker for anyone, I will set something up with her via Skype.

[2018-09-14 15:27] suzchap opened #6981 "AMA Intake | Create rated issue modal"
## Story
For any AMA forms, when a user needs to add issues, they will be walked through a multi-screen selection process to help them make the best choice. The landing page created in #6966 will be their starting point and a modal on top of it will walk the user through rated, non-rated, and an "unknown" option.

This ticket is for the first modal after clicking the "+Add issue" button that shows

[2018-09-14 15:32] dannysellers commented on #6294
I'll have to think more about if/how we could have a dynamic tooltip there. But, there're two interrelated issues I see: first, the table component has no idea of the context it's used in, so we'd have to check task assignment info from the row values we pass in (to get whether we're looking at tasks assigned to the current user or not). However, because this tooltip is on a header row cell, it do

[2018-09-14 15:46] suzchap opened #6982 "AMA Intake | Clicking "Add this issue", and displaying added issues"
## Story
For any AMA forms, when a user needs to add issues, they will be walked through a multi-screen selection process to help them make the best choice. The landing page created in #6966 will be their starting point and a modal on top of it will walk the user through rated, non-rated, and an "unknown" option.

This ticket is for activating the "Add this issue" button that's on the rated issues

[2018-09-14 15:57] #6916 closed

[2018-09-14 15:57] suzchap opened #6984 "AMA Intake | Modal specifications"
The modal should scroll to fit large lists of ratings/rating issues. The modal should be completely viewable on different screen sizes and the appropriate width.

## Story
For any AMA forms, when a user needs to add issues, they will be walked through a multi-screen selection process to help them make the best choice. The landing page created in #6966 will be their starting point and a modal on to

[2018-09-14 15:58] suzchap commented on #6984
This should be done after all modals have been created so they can all be validated as being a consistent size.

[2018-09-14 16:12] suzchap opened #6986 "AMA Intake | Add a notes field to the Rated Issues page"
## Story
For any AMA forms, when a user needs to add issues, they will be walked through a multi-screen selection process to help them make the best choice. The landing page created in #6966 will be their starting point and a modal on top of it will walk the user through rated, non-rated, and an "unknown" option.

This ticket is for adding an optional notes field to the first modal for selecting r

[2018-09-14 16:18] nicholasholtz commented on #5590
@allyceh Did Rolandus have thoughts on one of them getting access to SHARE? That seems like it could be a relatively small lift if he was good with it.

[2018-09-14 16:30] #6964 closed

[2018-09-14 16:35] suzchap opened #6987 "AMA Intake | Cancel out of modal"
## Story
For any AMA forms, when a user needs to add issues, they will be walked through a multi-screen selection process to help them make the best choice. The landing page created in #6966 will be their starting point and a modal on top of it will walk the user through rated, non-rated, and an "unknown" option.

When a user initiates adding an issue and opens a modal, they can cancel out of this

[2018-09-14 16:46] suzchap opened #6988 "AMA Intake | Add non-rated issues modal"
## Story
For any AMA forms, when a user needs to add issues, they will be walked through a multi-screen selection process to help them make the best choice. The landing page created in #6966 will be their starting point and a modal on top of it will walk the user through rated, non-rated, and an "unknown" option.

When a user doesn't find a match for an issue written on the form with a non rated i

[2018-09-14 17:03] Chingujo commented on #6876
@sharonwarner @MeredithStewart

Made the mock to accurately reflect the searchable dropdown, which will be important as we add other special RO Codes

[2018-09-14 17:12] Chingujo commented on #5954
@oscarAtNava @MeredithStewart

Updated to explitey show the RO search behavior and to include an All category so users can see the full schedule

[2018-09-14 17:16] nolawi commented on #4296
Looks like $color-gray-lightest:   #f1f1f1 !default; is in USWDS now. we can close this.

[2018-09-14 17:16] #4296 closed

[2018-09-14 17:17] suzchap opened #6990 "AMA Intake | Create "Unidentified Issue" modal and add entry to Add Issues Summary page"
## Story
For any AMA forms, when a user needs to add issues, they will be walked through a multi-screen selection process to help them make the best choice. The landing page created in #6966 will be their starting point and a modal on top of it will walk the user through rated, non-rated, and an "unknown" option.

When a user doesn't find a match for an issue written on the form with a non rated i

[2018-09-14 17:40] leikkisa commented on #6946
I'm wondering, if we are keeping the EndProductEstablishment record with the status of CAN, and the review record (not sure if we are keeping this or not), should we just keep the issues too?  I guess keep all the links in tact.  Is there any downside?

[2018-09-14 17:41] #6294 closed

[2018-09-14 17:42] MeredithStewart commented on #5954
@Chingujo -- I'm not seeing where in the mocks the "All" category is so that users can see the full schedule. Can you point it out?

[2018-09-14 17:42] leikkisa commented on #6545
We believe this is in the RatingInformationService as the rbaIssueContention.  In order to check this, we need to have test data where new decisions/awards come out after a Claim Review.

We also need to figure out tracking contentions that are denied.

[2018-09-14 17:46] MeredithStewart commented on #6876
I'm not sure what the user story would be for an all category in the assign hearings table. I don't have concerns with the two states for the searchable dropdown.

[2018-09-14 18:28] MeredithStewart opened #6991 "Search & AMA Flow Questions for Queue Team"
Use this issue for tracking all questions for Queue team related to Search for 1 pm Monday 9/17 sync.

Agenda
- Questions related to Caseflow Search
- Questions related to AMA flow

Caseflow Search
- Related ticket: https://github.com/department-of-veterans-affairs/caseflow/issues/6878

AMA Flow
- For AMA appeals, what flow patterns are replacing VACOLS locations?
- How much is queue doing to stre

[2018-09-14 18:30] #6784 closed

[2018-09-14 18:55] shanear commented on #6947
Suzanne: talk to ARC or AMO about techniques to do this, and then write those in the message.

[2018-09-14 18:57] shanear commented on #6947
Also explore potentially automatic ways to fix this.

[2018-09-14 19:15] MeredithStewart commented on #6991
Related old thread for AMA flow for hearings: https://dsva.slack.com/archives/C42P25D6H/p1522765065000820

[2018-09-14 19:17] evankroske commented on #6760
Duplicate of https://github.com/department-of-veterans-affairs/caseflow/issues/6914

[2018-09-14 19:17] #6760 closed

[2018-09-14 19:58] shanear commented on #6946
Right now we are virtually deleting RampElections and doing nothing for RampRefilings and AMA reviews. I think this issue might need to be converted into a story for how we should roll back AMA reviews (and RampRefilings) in the database.

[2018-09-14 20:00] #6759 closed

[2018-09-14 21:10] #6914 closed

[2018-09-14 21:30] #6888 closed

[2018-09-14 22:12] shanear commented on #6714
This issue is out of date, closing.

[2018-09-14 22:12] #6714 closed

[2018-09-14 22:28] shanear opened #7000 "AMA Intake | Clicking "Complete Intake" saves and processes claim review"
## Story
For any AMA forms, when a user needs to add issues, they will be walked through a multi-screen selection process to help them make the best choice. The landing page created in #6966 will be their starting point and a modal on top of it will walk the user through rated, non-rated, and an "unknown" option.

This ticket is for when the user clicks "Complete Intake", which should save the int

[2018-09-14 23:43] kahlouie commented on #6351
@amprokop @mdbenjam Can you help validate this is what you wanted? It will deploy to prod on monday morning.

[2018-09-15 01:54] #6776 closed

[2018-09-17 13:53] laurjpeterson commented on #6784
Note: attorney feature toggle is `attorney_assignment_to_colocated`.

Anya implemented this in this PR: https://github.com/department-of-veterans-affairs/appeals-deployment/pull/1686/files

[2018-09-17 14:29] suzchap commented on #6965
This is waiting on me to add a list of all the places where a label needs to be bold.

[2018-09-17 15:01] nolawi opened #7003 "Update caseflow alerts to match uswds"
- Remove alert overwrites.
- update no-title option to use alerts slim

[2018-09-17 15:38] oscarAtNava commented on #6991
1. What attributes does search cover? ssn?, name? case id? vacols id? Others?
2. Is the result set that search returns designed in a way where we can add to it without affecting others? That is inheritance, overriding, overloading?
3. What authorizations are required to search?

[2018-09-17 15:48] #1447 closed

[2018-09-17 17:15] #6701 closed

[2018-09-17 17:49] allyceh commented on #6257
Updates are below:

<img width="736" alt="screen shot 2018-09-17 at 1 48 50 pm" src="https://user-images.githubusercontent.com/40216950/45640382-79645980-ba80-11e8-80bb-81006f2431f4.png">
<img width="732" alt="screen shot 2018-09-17 at 1 48 44 pm" src="https://user-images.githubusercontent.com/40216950/45640383-79645980-ba80-11e8-9939-0cfa04386384.png">

[2018-09-17 18:04] MeredithStewart commented on #6991
**Notes from 9/17**

- Search is on queue table/homepage, but not
- Attributes on current search -- ONLY Veteran ID - 1 ID, 4 names for it
- Future state: Could allow other IDs, other attributes, but not currently planned
- Have not implemented Name search (current users are copying and pasting Veteran ID from other sources)
- If they don't have a Veteran ID (would still be able to search for lega

[2018-09-17 18:33] MeredithStewart commented on #6991
Related Tickets:

- https://github.com/department-of-veterans-affairs/caseflow/issues/6650
- https://github.com/department-of-veterans-affairs/caseflow/issues/6111
- https://github.com/department-of-veterans-affairs/caseflow/issues/5436

[2018-09-17 19:43] mdbenjam opened #7009 "Create person (or participant) table"
We need to store some information about individuals in Caseflow. For example, we need appellants' birthdays to determine if they're eligible to be AOD. We are currently writing these values on the claimants table. However, our claimant records are not unique people. i.e. a person can have multiple claimant records depending on the relationship they have to multiple veterans. Consider a claimant wh

[2018-09-17 19:55] suzchap opened #7010 "AMA Intake | Contentions for Unidentified issue"
As a claims worker, I need to be alerted if there are unidentified issues on a claim review that I need to fix in Caseflow.

requires #6990

## Acceptance criteria
- When a contention is created for unknown issue, it should have the text "UNIDENTIFIED ISSUE - please click "Edit in Caseflow" button to fix"
- These should also always go on the Rating EP, even if there are no other rating issues.

##

[2018-09-17 19:56] suzchap commented on #7010
@shanear this was on our list but I don't think it's a UI ticket so I'll pass back to you to fill out.

[2018-09-17 20:07] suzchap opened #7012 "AMA Intake | disable previously selected issues on Add issues page"
## Story
For any AMA forms, when a user needs to add issues, they will be walked through a multi-screen selection process to help them make the best choice. The landing page created in #6966 will be their starting point and a modal on top of it will walk the user through rated, non-rated, and an "unknown" option.

When a user adds a rated issue, the next time the add an issue, the add rated issues

[2018-09-17 20:10] #6971 closed

[2018-09-17 20:32] #6876 closed

[2018-09-17 20:51] #6933 closed

[2018-09-17 21:27] Sjones352 commented on #6444
@MeredithStewart
1. #### Test that the hearing days are spread evenly throughout the entire schedule period
This test passes validation. I used this spreadsheet
[validRoAlgorithm.xlsx](https://github.com/department-of-veterans-affairs/caseflow/files/2390290/validRoAlgorithm.xlsx) and  after filtering it to 1 year period, I downloaded
[HearingSchedule1yearPeriod.xlsx](https://github.com/department-

[2018-09-17 21:40] #6650 closed

[2018-09-17 23:08] suzchap opened #7014 "AMA intake | dynamic issue numbering"
## Story
For any AMA forms, when a user needs to add issues, they will be walked through a multi-screen selection process to help them make the best choice. The landing page created in #6966 will be their starting point and a modal on top of it will walk the user through rated, non-rated, and an "unknown" option.

This ticket is focused on some dynamic issue numbering that appears on the Add rated

[2018-09-17 23:10] suzchap commented on #7014
@shanear Should I split this into multiple tickets? One for each page? Or 1 for all modals and one for landing page?

[2018-09-18 03:21] mkhandekar opened #7016 "Streamline case search ux"
**https://github.com/department-of-veterans-affairs/caseflow/pull/6932 "Fix case search access control"** inspired a couple of conversations about simplifying how users experience search in Queue as well as how things are organized on the back end.

## Photos from conversation:

![image from ios](https://user-images.githubusercontent.com/1598889/45662402-cc193200-bacf-11e8-820e-4af86da83c54.jpg)

[2018-09-18 13:52] #6700 closed

[2018-09-18 14:26] shanear opened #7023 "RampElectionRollback should not attempt to reopen appeals that are already open"
We have an issue where we are attempting to reopen VACOLS appeals that are already open. This throws the error you can see in the sentry link below.

We should instead skip those.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2440/

## Technical Notes

I believe the fix would be to filter the VACOLS id's to reopen better here:
https://github.com/department-of-veterans-af

[2018-09-18 14:26] #6961 closed

[2018-09-18 14:46] laurjpeterson commented on #6854
@mdbenjam

Option 1: Remove the below for AMA appeals:
- Hearing
- Manlincon Compliance
Both of these are not relevant for AMA.

Option 2: If you don't want to fork these two pages based on if an appeal is legacy or AMA in the future, you can append them
- Hearing ... (legacy appeals only)
- Manlincon Compliance (legacy appeals only)

[2018-09-18 15:17] pkarman commented on #6940
Some notes to make sure I am understanding the scope of this ticket. Please correct/challenge my assumptions.

## Current behavior

The `ClaimReview` `process_end_product_establishments!` method encapsulates 4 tasks:

 1. create an EndProduct corresponding to the Claim via `end_product_establishment.perform!`
 1. create contentions for the new EndProduct
 1. create rated issues for any of the new

[2018-09-18 15:22] suzchap opened #7026 "AMA Intake | Contentions are added in order they are entered in intake"
## Story
For any AMA forms, when a user needs to add issues, they will be walked through a multi-screen selection process to help them make the best choice. The landing page created in #6966 will be their starting point and a modal on top of it will walk the user through rated, non-rated, and an "unknown" option.

When a user enters issues in intake, contentions are added to the database in the or

[2018-09-18 15:34] leikkisa commented on #6940
I'm still looking over the bigger picture, but just to comment on the first part:

1. create an EndProduct corresponding to the Claim via end_product_establishment.perform!
- In our response, we get a claim_id which indicates a success, and we add it to our database
2. create contentions for the new EndProduct
- In the response, we get a contention_id, indicating a success, and then we add it to o

[2018-09-18 15:49] leikkisa commented on #6940
So right now the status of tasks are tracked in three places.  The claim-level successes are being tracked in the end_product_establishmets table, the issue-level successes are being tracked in the request_issues table.  For a claim_review as a whole, the status is tracked in the claim review tables (establishment_processed_at), higher_level_reviews and supplemental_claims).

I am wondering if hav

[2018-09-18 15:54] oscarAtNava commented on #5954
@Chingujo In Reader user can select more than one filter item. I am assuming from mocks that we do NOT want that behavior. Please confirm.

[2018-09-18 15:55] suzchap opened #7028 "AMA Intake | Add Issue Landing page "remove" button"
## Story
For any AMA forms, when a user needs to add issues, they will be walked through a multi-screen selection process to help them make the best choice. The landing page created in #6966 will be their starting point and a modal on top of it will walk the user through rated, non-rated, and an "unknown" option.

When a user adds an issue and it displays on the Add Issue Landing page, they are ab

[2018-09-18 16:29] Chingujo commented on #5954
@oscarAtNava @MeredithStewart

We do want multi filters for the schedule and a way to clear all the selected filters. In this way we are really similar to the reader use case and hopefully we can borrow the behavior there. The ones that Meredith and I found for filters are the following (feel free to add if I am missing anything)

- Filter on date + hearing type (more important for Justin and Scot

[2018-09-18 16:32] Chingujo commented on #5954
@MeredithStewart

It's not mocked up but the view would just be the full schedule listing all the available days and should be ordered in date order =D. I can add one if that helps.

[2018-09-18 16:33] sneha-pai opened #7029 "Front-End Tweak: Attorney Days Waiting | Due on (Change hyphen to a vertical line)"
**Change hyphen " - " to a | (vertical pipe) to match the column header for the Days Waiting | Due On table content text.**
![image 26](https://user-images.githubusercontent.com/31224257/45702134-f9e98f80-bb3e-11e8-8c25-bc033deaac30.png)

[2018-09-18 17:03] oscarAtNava commented on #5954
@Chingujo I do understand the need to filter in multiple columns. My question was if you want to select more than one value in a specific column filter. That would require a checkbox or the use of shift+click to select multiple items in the dropdown.

[2018-09-18 17:12] Chingujo commented on #5954
@oscarAtNava

After a small pow wow with Meredith we don't need it. This is more of an admin feature not a scheduling and can be backlogged since they can do more advanced filtering after they download the template.

[2018-09-18 17:22] mdbenjam opened #7030 "Requested IDT features"
Paul has requested a number of features for the IDT:

1) He wants a boolean indicating if judges are acting or not
2) He wants addresses for congressional inquiry
3) He wants contested claimants
4) He wants a URL for the case details page
5) He wants the participant id for POAs in AMA and the VSO code for Legacy

[2018-09-18 17:33] #6752 closed

[2018-09-18 17:40] sneha-pai commented on #7029
@dannysellers can you please have a look at the above? Lauren mentioned that you'd possibly be able to work on this quick edit.

[2018-09-18 17:46] aroltsch commented on #6890
1. BVA Dispatch user should have access to the case search page - done. We should enable the feature flag for our two BVA Dispatch users when we are ready.
2. BVA Dispatch user should be able to search for both AMA and Legacy appeals and view details - done.
3. When BVA user goes to /queue, we will present with the case search page instead of their queue - done.
4. It will require some more work t

[2018-09-18 17:46] mdbenjam opened #7031 "Citation numbers"
VACOLS stores citation numbers for each decision. This number is the public identifier for each case. Now that Caseflow handles the checkout flow for AMA we'll need to generate these numbers. Their current form is: 2 digit year + 7 digit sequence. For AMA we'll use the same approach and append the docket type initial to the front. i.e. H180000001. For the sequence I suggest we use the database id

[2018-09-18 18:33] pkarman commented on #6940
Thanks @leikkisa

Each of those table-level statuses track, ultimately, Is The Thing Done Or Not. Since we now want to do things async and re-try them, we need some way of tracking Has The Thing Been Tried Or Not, which to my mind is a slightly different question. So I agree with you that it is more convoluted, which async and re-try inevitably is.

[2018-09-18 18:40] #6834 closed

[2018-09-18 19:06] suzchap opened #7035 "AMA Intake | "Complete Intake" button"
"Complete Intake" should save the issues

## Story
For any AMA forms, when a user needs to add issues, they will be walked through a multi-screen selection process to help them make the best choice. The landing page created in #6966 will be their starting point and a modal on top of it will walk the user through rated, non-rated, and an "unknown" option.

When a user is done adding issues and is r

[2018-09-18 19:16] shanear commented on #6940
Couple things:

1. One end product isn't the correct level of granularity, since multiple end products can be created as a result of a single claim review, and we'd want the processing of that entire claim review to be atomic.
2. I think this over complicates things a little bit, right now we are mostly idempotent because we a) skip the ep establishment if `reference_id` is set (here: https://gith

[2018-09-18 19:35] laurjpeterson commented on #4471
Note: We were asked to remove disposition 6 "Dismissed, Other".

[2018-09-18 19:41] pkarman commented on #6940
@shanear if we assume that all the methods within `process_end_product_establishments!` are idempotent, then does this change make sense?

[code]

[2018-09-18 19:50] sneha-pai opened #7036 "Copy audit: Caseflow - Surfaced Copy Areas"
### Change 1: ✅ Resolved by @evankroske  #7038
#### Alex: What should this say when reviewing an AMA case? probably shouldn't mention DAS
![image 25](https://user-images.githubusercontent.com/31224257/45701924-72038580-bb3e-11e8-8dcf-6a10f1790638.png)

-----

### Change 2: @allyceh to work on instruction copy which will sit right below the header.  Micro-copy for each type of special issue is out

[2018-09-18 19:53] pkarman commented on #6940
adding this to the tests, they all continue to pass:
[code]

[2018-09-18 20:15] evankroske opened #7038 "Queue | Judges | Success message for signing a decision for AMA cases mentions DAS"
The message says that the judge can edit the decision in DAS, but they can't for AMA appeals:

![judge-case-review-success-message](https://user-images.githubusercontent.com/357369/45713768-e4379280-bb5d-11e8-9740-455cc1f38a25.png)

[We've decided](https://dsva.slack.com/archives/C6E41RE92/p1537218277000100) to change the message for AMA appeals to "If you need to make any changes, please submit f

[2018-09-18 20:17] evankroske commented on #7038
The flow to add a colocated task also mentions DAS. I'll fix that, too

[2018-09-18 20:31] pkarman commented on #6955
@suzchap it looks like from the mock image that you want the form label to be bold, which seems to be different than the styleguide shows form labels (with no extra font weight). Can you confirm?

[2018-09-18 21:15] shanear commented on #6940
Yeah that looks perfect. Great call on the tests! Very easy

[2018-09-18 21:50] #6741 closed

[2018-09-18 21:52] laurjpeterson opened #7041 "Case details | When multiple appellants (e.g. contesting claimants), show POA for each"
When there are contesting claimants on an appeal, each of those claimants could have different POA. BVA users need to see each claimant's POA so they can send correspondence to the correct place, when necessary.

[2018-09-18 22:11] #6738 closed

[2018-09-19 01:28] laurjpeterson commented on #6753
I reviewed the demo site and this issue looks done and works for AMA appeals. @dannysellers can it be closed?

[2018-09-19 01:28] laurjpeterson commented on #6754
I reviewed the demo site and this issue looks done and works for AMA appeals! @dannysellers can it be closed?

[2018-09-19 01:29] laurjpeterson commented on #6755
I reviewed the demo site and this issue looks done and works for AMA appeals! @dannysellers can it be closed?

[2018-09-19 01:29] laurjpeterson commented on #6751
I reviewed the demo site and this issue looks done and works for AMA appeals! @dannysellers can it be closed?

[2018-09-19 01:30] laurjpeterson commented on #6736
I reviewed the demo site and this issue looks done and works for AMA appeals! @dannysellers can it be closed?

[2018-09-19 01:32] laurjpeterson commented on #6883
@aroltsch - I think the way Paul currently identifies whether there is outstanding mail for legacy appeals in the IDT is because it looks for VACOLS mail "tasks". We don't currently have Caseflow mail tasks ready, so we likely won't be able to identify outstanding mail in the same way for AMA appeals. What were your thoughts here? I do think we can keep this issue for post-October, when we do tack

[2018-09-19 02:49] aroltsch commented on #6883
Yes, this should be post-october. Apologies.

[2018-09-19 10:10] #6890 closed

[2018-09-19 13:17] #6753 closed

[2018-09-19 13:17] #6754 closed

[2018-09-19 13:26] laurjpeterson commented on #6856
Related support ticket about viewing prior locations so co-located knows what judge to email questions to - https://github.com/department-of-veterans-affairs/appeals-support/issues/3040

[2018-09-19 13:27] #6755 closed

[2018-09-19 13:28] laurjpeterson commented on #6856
Related support ticket about task information from the attorney disappearing when the case is put on hold. Co-located user would like to see the attorney's instructions, not only the fact that they moved the case from new to on hold, in the Task information section of case snapshot - https://github.com/department-of-veterans-affairs/appeals-support/issues/3041

Both of these support tickets may no

[2018-09-19 13:30] aroltsch opened #7044 "Remand reason selections disappear after changing the disposition."
If disposition is pre-selected remanded, you see that remand reasons are pre-selected. If you change the disposition to allowed and then back to remanded, remand reasons selections disappear.

Steps to reproduce:
1. Attorney complete draft decision and set remanded disposition for an issue with remand reasons.
2. Log in as judge, check that disposition is remanded and remand reasons are selected
3

[2018-09-19 13:34] #6751 closed

[2018-09-19 13:35] laurjpeterson commented on #6389
This is live. Closing!

[2018-09-19 13:35] #6389 closed

[2018-09-19 13:35] laurjpeterson commented on #6388
This is live. Closing!

[2018-09-19 13:35] #6388 closed

[2018-09-19 13:35] dannysellers commented on #6736
In progress, closing https://github.com/department-of-veterans-affairs/caseflow/pull/7007

[2018-09-19 13:39] laurjpeterson commented on #5931
Moving this to some technical documentation because this has been implemented.

https://github.com/department-of-veterans-affairs/caseflow/wiki/Co-located-interactions-with-other-teams

[2018-09-19 13:39] #5931 closed

[2018-09-19 13:43] laurjpeterson commented on #6757
@evankroske it looks like the demo site works for judges to evaluate AMA appeals. shall we close this?

[2018-09-19 13:45] laurjpeterson commented on #5591
Note: we're pulling in Special issues to the attorney checkout flow for October 1 RAMP appeals pilot because it is easier than connecting to Caseflow Dispatch.

[2018-09-19 15:09] shanear commented on #6351
There is a bug happening with this in prod:

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2465/

[2018-09-19 15:12] mdbenjam commented on #6882
If the veteran is alive, do we want to omit the `date of death` label? Or show it with a blank space after?

[2018-09-19 15:31] mkhandekar commented on #6882
@mdbenjam Good q - let's omit.

[2018-09-19 15:42] Chingujo commented on #6877
@sharonwarner

Updated the mock to show how the date bar should look without an RO with two rooms (St. Petersburg and Winston Salem). The AC is also updated:

- Tue Date

and with two rooms
- Tue Date (Rm 1)
- Tue Same Date (Rm 2)

I did not want to do two separate mocks

[2018-09-19 15:50] Chingujo commented on #5954
@oscarAtNava

Made a quick update based on the slack channel conversation - for the two RO's with multiple rooms (St. Petersburg and Winston Salem), the following logic applies in the date column:

- Day Date (Rm 1)
- Day Date (Rm 2)

** I know that there is a room column that can make this confusing. However, the way this is labeled should be clear that these are Board rooms already. This way we

[2018-09-19 16:01] MeredithStewart commented on #5954
@sharonwarner -- See Oscar's question above about the Download Current View. Want to make sure that the way the filters are implemented corresponds with how the download current view is built.

[2018-09-19 16:09] mdbenjam commented on #6812
Do we want to show the representative type? We currently do this (Attorney, VSO, etc.) or is that not needed.

[2018-09-19 16:38] nikitarockz commented on #6803
@marvokdolor-gov I sent an email and got an update.

VACOVOIGHB —> VLJ Derek Brown
VACOMUCKLP —> VLJ Jennifer Hwa
VACOMMEJEN --> Walker

These are legitimate VLJs.  We are going to need to update our rp file with these VLJs.

**_Mentioned in Aug New Hire - Group 1_**
Amanda Spector—Senior Counsel (Acting VLJ)
Copeland—not a new VLJ
Mays—VLJ within the last 2 years
Reynolds—VLJ within the last 2 ye

[2018-09-19 16:59] MeredithStewart commented on #6444
@Sjones352 --
1. I can't open the second file (the output) on the first test above. Can you see if it works for you or reattach? My computer is saying it's corrupted or not the right file type.
2, 3, and 4 -- You shouldn't get that error for those tests. @sharonwarner spreadsheet or system might need updating.

[2018-09-19 18:35] kencheeto commented on #6212
@suzchap I've got this working and failure modes show an alert (you can see in https://github.com/department-of-veterans-affairs/caseflow/pull/7017). However, I'm not sure what to show when the update succeeds - right now the button becomes disabled again (because there are 'no changes') but there is nothing else to indicate that the save worked.

Completing an intake takes you to a 'Complete' pag

[2018-09-19 19:26] mkhandekar opened #7052 "Judge assignment bug: not able to see attorney dropdown + "assign cases" button"
@allyceh and I interviewed a judge as part of our regular usability sessions, and noticed a bug.

She showed us the case assignment screens. She's able to see the cases to be assigned and checkboxes on the assign table view, but *does not* see the attorney dropdown + "assign case" functionality, once one or more cases are selected.

This led her to use VACOLS to do all assignment related tasks ins

[2018-09-19 19:29] amprokop commented on #7052
Thanks! Do you have the name or css id of the judge?

[2018-09-19 19:31] mkhandekar commented on #7052
Judge Kalpana Parakkal

[2018-09-19 19:34] leikkisa opened #7053 "Null Established EP on Complete page"
When a user establishes a claim, the confirmation page they get sent to says:
Established EP: null

[2018-09-19 20:04] leikkisa opened #7054 "Investigate cause of "Converted or Backfilled rating" error from BGS"
Handle the situation where we get the below response when looking for timely_ratings from BGS.

```{:error_level=>"0", :any_ratings_within_range_flag=>"N", :differences_found=>"N", :multiple_ratings_flag=>"N", :ptcpnt_vet_id=>"123456", :reject_reason=>"Converted or Backfilled Rating - no promulgated ratings found", :rating_profile_list=>nil}```

When a Veteran has no ratings at all, we're still ge

[2018-09-19 20:15] leikkisa commented on #6212
We have green "success" messages that look kind of like the error messages. We could do that. Or we could send them back to the landing page.

[2018-09-19 20:27] lowellrex opened #7055 "Do not overwrite Task instructions when updating Task"
We are overwriting task instructions when we take any action on the task. One common workflow for co-located staffers is receiving a task from an Attorney to grant an extension request, sending the Judge a word doc for their signature via email, putting the task on hold for 1 day as they waits for the Judge to respond to the email and adding a note to that effect in the instructions field. This ov

[2018-09-19 20:31] suzchap commented on #6212
We have plans for a v.2 of the editing flow so if sending back to landing page is easy, go with that and we'll have a fuller solution in the next round. Thanks!

[2018-09-19 20:41] mkhandekar commented on #7036
### For Change 3:

1st line: "You have assigned an administrative action (FOIA Request)"
* the content inside parenthesis should be whatever admin action they just assigned.

2nd line: "If you need to make any changes, please email your administration action team"

[2018-09-19 21:12] shanear opened #7056 "Allow closed CAVC cases to be reopened"
Right now, we are throwing an error whenever we try and reopen a case that was closed while in CAVC. Verified with the Board that it's safe to reopen these back to CAVC.

This is currently causing this error:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2461/

[2018-09-19 21:14] evankroske opened #7057 "Queue | Judges | Cases with dereceive not null and deprod = 'REA' should appear in the assign queue"
Today, these cases incorrectly appear in a judge's review queue. [Details](https://github.com/department-of-veterans-affairs/dsva-vacols/issues/39). You can find cases like this with the following query:

[code]

[2018-09-19 23:44] amprokop opened #7062 "Return only reviewable appeals from the IDT judge API"
For judge users of the IDT API, we currently return all AMA appeals with tasks assigned to that judge. The IDT is meant to walk the judge through reviewing a decision document, so we should only return those appeals.

# AC
- Return only AMA appeals that the judge has to review from the IDT API

[2018-09-19 23:45] amprokop opened #7063 "Return docket type for AMA appeals from the IDT API"
# AC
- Return docket type for AMA appeals

[2018-09-19 23:52] amprokop opened #7064 "BVA Dispatch IDT appeal details returns error"
Steps to reproduce:
- Review a case as a judge
- Find that case's appeal id
- Create a token associated with a BVA dispatch user
- Curl localhost:3000/idt/api/v1/appeals/:appeal_id
- See that an error is returned

When creating BVA Dispatch tasks assigned to the user, it looks like we do not set assigned_by_id, since the task is assigned round robin.

Looks to me like the test seed data we have se

[2018-09-20 00:39] amprokop opened #7065 "Catch unexpected errors from IDT API"
If there's an unexpected IDT API error, we currently return a big ol Rails error HTML page

# AC
- Return a 500 and an "Unexpected Error" message if we have an unhandled error in the IDT API

[2018-09-20 01:09] amprokop commented on #6351
Ooh, nice catch.

[2018-09-20 01:12] amprokop commented on #7057
Nice job tracking this down. Let's fix it!

[2018-09-20 13:57] shanear commented on #6351
Here's another bug happening with this in prod:

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2464/

[2018-09-20 14:15] lowellrex opened #7069 "Display VLJ and senior counsel on case details page"
Many co-located administrative tasks require knowing who the VLJ and senior counsel are for a given case (to send them emails, for instance). This information is not visible on the case details page so co-located staff have to use VACOLS to determine who those folks are. That is an acceptable workaround for legacy appeals, but since AMA appeals will never enter VACOLS we need to add some way to de

[2018-09-20 14:18] #6343 closed

[2018-09-20 14:33] abbyraskinUSDS commented on #5244
We should revisit how we want to handle this check.

[2018-09-20 15:32] Chingujo opened #7072 "Video and CO Release | Epic 2 Case Details - Assign Hearing"
As a hearing coordinator, I need to be able to assign a hearing to a specific slot in the schedule.

### Acceptance Criteria
- [ ] Verify that when a user clicks the Assign Hearings in the action drop down the following populates for central office:
   - Hearing location: Washington D.C. Change
       - If the user change it shows the dropdown of RO's. If selected, it will automatically turn the d

[2018-09-20 15:38] allyceh commented on #6812
@mdbenjam I feel like that would be helpful. I am assuming we are able to clearly distinguish between private attorneys and VSOs. How about this, below:

<img width="809" alt="screen shot 2018-09-20 at 11 36 52 am" src="https://user-images.githubusercontent.com/40216950/45829723-888a1800-bcc9-11e8-9813-06a6eafcd858.png">
<img width="807" alt="screen shot 2018-09-20 at 11 36 39 am" src="https://use

[2018-09-20 15:42] #7056 closed

[2018-09-20 15:42] #7023 closed

[2018-09-20 15:45] leikkisa commented on #7054
Another response we can get that causes a similar problem is:
{:error_level=>"0", :reject_reason=>"Locked Rating Detected "}

[2018-09-20 15:59] Chingujo opened #7073 "Video and CO Release | Epic Daily Docket | Default View"
As a hearing coordinator, I need to able to see all the veterans that are scheduled for a hearing that day.

### Acceptance Criteria
- [x] Verify that the title is Daily Docket ( Day Date)
- [x] Verify that underneath the title there is a "back to schedule" link underneath the title
- [x] Verify that in the far right we have the following fields:
 - VLJ: (not in hearing prep)
 - Coordinator: ( not

[2018-09-20 16:03] #7030 closed

[2018-09-20 16:09] Chingujo opened #7075 "Video and CO Release | Epic Daily Docket | Editing and Dispositions"
As a hearing coordinator, I want to be able to edit the hearing location, date, and disposition of a Veterans slot to account for re-schedules.

### Acceptance Criteria
- [ ] Verify the user can change the "RO"
   - If the user changes the RO, then the Date changes to the match that non availability for the RO
    - Verify this is a searchable dropdown
   - The save button appears
   - Before the

[2018-09-20 16:11] mdbenjam commented on #6812
@allyceh  Cool, I think we should also distinguish between attorney and agent. So how about these options:

`Private Attorney`
`Private Agent`
`Veteran Service Organization` <- also we could split these into `Local/Regional Organization`, `State Organization`, and `National Organization` if that's useful.

[2018-09-20 16:21] Chingujo opened #7076 "Video and CO Hearing | Epic Daily Docket | Confirmation"
As a hearing coordinator, I need to be able to acknowledge that changes to the daily docket were made successfully.

### Acceptance Criteria
- [ ] When a user changes the day of a Veteran
 - Title: You have successfully changed [Veteran's Name] hearing date to [Date]
 - Body: To view or edit your recent changes you can use the “View hearing day" link below. You can also view a history of your chan

[2018-09-20 16:35] #7038 closed

[2018-09-20 17:14] mdbenjam commented on #6812
Actually it looks like we already have this mapping in the code:

    "POA Attorney" => "Attorney",
    "POA Agent" => "Agent",
    "POA Local/Regional Organization" => "Service Organization",
    "POA State Organization" => "Service Organization",
    "POA National Organization" => "Service Organization"

I'm going to keep using these on the right hand side. Omitting `Private` and `Veteran` for n

[2018-09-20 17:28] laurjpeterson commented on #5590
Notes from convo with Rolandus 9/20:
- Request that Will, Libbie, and Corey have access to SHARE so we don't need to wait for a specific person to dispatch the case
   - @nicholasholtz - do you know who we should talk to to initiate their access?
- Think about asking attorneys/judges to help identify contesting claimants and congressional inquiries because they are required to review the eFolder
-

[2018-09-20 17:29] abbyraskinUSDS commented on #6947
AMO gave the OK to break these into multiple lines

[2018-09-20 18:09] nicholasholtz commented on #5590
I believe that Dhonyale should be able to get them set up - standard CSEM stuff. @laurjpeterson

[2018-09-20 18:28] #7055 closed

[2018-09-20 19:24] shanear opened #7081 "Intake | Don't require city and state for military addresses"
We've been getting reports that users can't process veterans with military addresses because we are requiring that they have city and state set. We should get rid of this requirement for military addresses.

## Validation
1. Find a veteran with a military address and no city/state (for example, a non-US military address)
2. Confirm that we can process an intake for this veteran

Or

1. Ask Katlin

[2018-09-20 19:38] leikkisa commented on #7054
This seems to be affecting Veterans which we know have ratings.  I checked a Veteran that does not have ratings, and we're getting the same Savon error as before.  If a Veteran with ratings isn't getting this error, they're getting the locked rating error.  I haven't been able to successfully get ratings for any Veteran since this issue started.

I have asked VBMS and they're going to ask their ra

[2018-09-20 19:42] shanear commented on #7054
This is happening in prod and preventing work, bumping to high priority

[2018-09-20 19:50] pkarman opened #7083 "Add tests for BGS not_found error"
Follow on to #7050 which was a fix for a production error. We need tests to verify the fix.

## Acceptance Criteria

* The code path in #7050 gets exercised in the model tests.

[2018-09-20 20:01] mdbenjam commented on #5581
I don't see NCOA in BGS. But besides that here are the organizations I'm going to add:

[code]

[2018-09-20 20:06] suzchap commented on #6947
This Veteran's address is too long. Please edit it in VBMS or SHARE so each address field is no longer than 20 characters (including spaces) then try again.
Tips:
- Do: use multiple address fields
- Do: abbreviate to St. Ave. Rd. Blvd. Dr. Ter. Pl. Ct.
- Don't: edit street names or numbers

Alt -- Do: abbreviate type of street (ex. Street -> St.)

[2018-09-20 20:38] allyceh commented on #6257
@mbenjam @sneha-pai @laurjpeterson

Charlene is good with this lingo.

She mentioned date was important, but I mentioned how we could aim to capture that in the background. She did not say that she would need to ability to select a "granted" date that's anything other than today's date, so that keeps things simple.

I'd say we're ready for front end dev unless anyone has additional feedback or ave

[2018-09-20 20:46] pkarman commented on #6940
@kahlouie and I paired on a solution and wrote a long unit test to simulate VBMS failures at every step. The results are in #7074

We did find one bug where rated issues would fail to be associated if they did not succeed at VBMS on the first try.

We did some refactoring as well, to make it clearer that `EndProductEstablishment` is the orchestration class for VBMS processes.

[2018-09-20 20:50] #6937 closed

[2018-09-20 20:58] laurjpeterson commented on #6257
Thanks @allyceh! Adding @dannysellers to the chain, too.

[2018-09-20 21:04] laurjpeterson commented on #5590
Sent Dhonyale, Rolandus, @nikitarockz, @nicholasholtz, and @allyceh an email to initiate CSEM access for Will, Libby, and Corey. Dhonyale's out of office reply said she would be back in the office on Monday, September 24th.

[2018-09-20 21:05] laurjpeterson commented on #6257
@allyceh What should the text in the actions dropdown be, for an AOD user to initiate this editing? In this [Mural](https://app.mural.co/t/workqueue2001/m/workqueue2001/1536605643302/759a692551fff392640860e504d25842db09dec7), we brainstormed "Decide AOD Motion". Does that work?

I'll add it to the AC above, please feel free to change if you have other language!

[2018-09-20 21:17] shanear commented on #7035
Duplicate closing

[2018-09-20 21:17] #7035 closed

[2018-09-20 21:46] shanear commented on #5681
This has been deployed for months. We can assume it's working correctly

[2018-09-20 21:46] #5681 closed

[2018-09-20 21:46] shanear commented on #5130
This has been deployed for months. We can assume it's working correctly

[2018-09-20 21:46] #5130 closed

[2018-09-20 21:46] shanear commented on #6709
This has been deployed for months. We can assume it's working correctly

[2018-09-20 21:46] #6709 closed

[2018-09-20 21:46] shanear commented on #4293
This has been deployed for months. We can assume it's working correctly

[2018-09-20 21:46] #4293 closed

[2018-09-20 22:22] amprokop opened #7088 "A man, a plan, a canal: Manual! | Manual RAMP processing~ a manual"
RAMP appeals have to be intaken as RAMPs and as NODs.
We should ideally query if any RAMP rows are older than three days without an appeal row associated with them, these are likely candidates to be lost.
[code]

Set the current user object if you're making BGS calls!
[code]

Assign all non-VSO tasks to judge users.
[code]

Find VSO tasks that need assignment to judge users.

1. Find VSO tasks tha

[2018-09-20 23:20] amprokop opened #7090 "End-to-end test plan"
### 1. Intake RAMP appeal with Caseflow Intake

Ensure the `:ama_intake` feature flag is enabled.
Navigate to Caseflow Intake,
Choose the Notice of Disagreement option.
Go through the flow 3-4 times, so you have enough appeals.
963360019 works as a file number, not sure what else 🤔

### 2. See it show up in the VSO queue - In progress
Setting up this for local testing is not quite finished.

### 3

[2018-09-21 01:30] #7062 closed

[2018-09-21 13:36] cmgiven commented on #5581
Counts as of 9/20/18.

VSO Name                                          | Count
--------------------------------------------------|------
DISABLED AMERICAN VETERANS                        | 48
AMERICAN LEGION                                   | 47
TEXAS VETERANS COMMISSION                         | 19
VETERANS OF FOREIGN WARS OF THE US                | 15
INDIVIDUAL

[2018-09-21 14:07] mkhandekar commented on #7069
[Additional slack thread](https://dsva.slack.com/archives/C6E41RE92/p1537473497000100) with @lowellrex's first pass.

[2018-09-21 14:10] mkhandekar commented on #7052
My understanding is that the toggle for judge assignment did not include the checkboxes, and Judge Parakkal was not one of the judges for whom the feature toggle was turned on.

[We chatted in Slack](https://dsva.slack.com/archives/C6E41RE92/p1537381267000100), and have decided to leave this alone until next week (ish) when we rollout this feature to all judges.

cc: @dannysellers since you _might

[2018-09-21 14:47] laurjpeterson opened #7093 "Feature toggle assignment to attorneys - chiefs and senior counsel"
## AC
- `judge_assignment_to_attorney` is turned on for all chiefs and senior counsel

Just a few changes in the Sr Counsel assignments. Chief Catino’s SC is Karen Kennerly, Chief Scire has Michael Donohue, and Chief Crawford has Kristy Zadora. Everything else is correct.
Thank you!
Jebby

Chief |Chief CSS ID| Email | Senior Counsel | Senior Counsel CSS ID| Email
-- | --| --|--|--|--|
Theresa Cati

[2018-09-21 14:50] #7063 closed

[2018-09-21 14:52] mkhandekar commented on #7036
@sneha-pai's (first?!) copy PR to address change 3! https://github.com/department-of-veterans-affairs/caseflow/pull/7078

[2018-09-21 15:13] dannysellers commented on #7090
Testing results / action items:
- Attorney instructions were missing after placing a task on hold
- For AMA cases: colocated users shouldn't have the option to send a task to the Schedule Hearing team
- for AMA cases: colocated users should only be able to place holds on Translation tasks
- AMA remand reasons aren't populating correctly on load (i.e. after setting reasons, completing attorney chec

[2018-09-21 15:17] kahlouie commented on #6351
I think we need someone from Queue team to validate that it's good enough :)
@amprokop @mdbenjam?

[2018-09-21 16:34] cmgiven commented on #5581
Disaggregated by docket.

VSO Name | Direct Review | Evidence Submission | Hearing | Total
--|--|--|--|--
DISABLED AMERICAN VETERANS | 13 | 10 | 25 | 48
AMERICAN LEGION | 10 | 2 | 35 | 47
TEXAS VETERANS COMMISSION | 5 | 2 | 12 | 19
VETERANS OF FOREIGN WARS OF THE US | 4 | 2 | 9 | 15
INDIVIDUAL | 11 | 2 |  | 13
CALIFORNIA DEPARTMENT OF VETERANS AFFAIRS | 4 |  | 7 | 11
INDIVIDUAL |  | 4 | 4 | 8
FLOR

[2018-09-21 18:06] #7003 closed

[2018-09-21 18:30] #6877 closed

[2018-09-21 19:18] leikkisa opened #7095 "Don't include ratings with no rating issues"

[2018-09-21 19:50] #6882 closed

[2018-09-21 20:31] #6812 closed

[2018-09-21 20:40] #7069 closed

[2018-09-21 20:53] laurjpeterson commented on #5958
Re-intaking is in process! going to close this ticket.

[2018-09-21 20:53] #5958 closed

[2018-09-21 20:54] #6757 closed

[2018-09-21 20:59] mdbenjam commented on #6856
FYI the case status UI resides in vets.gov, which means it's unlikely we'll get much reusability here.

Something I'd love to chat about is displaying tasks in case timeline or maybe their own section. Like a task hierarchy, where we can show all the tasks in the tree. Who completed each of them and when. I think this would solve a number of the issues that co-located users brought up. But maybe i

[2018-09-21 21:33] mdbenjam commented on #6257
Could I get some copy for success?
<img width="605" alt="screen shot 2018-09-21 at 4 44 23 pm" src="https://user-images.githubusercontent.com/3885236/45905237-a8026d00-bdbd-11e8-9316-fd9388b900f3.png">

[2018-09-24 14:02] #6736 closed

[2018-09-24 14:02] #6953 closed

[2018-09-24 14:02] #7044 closed

[2018-09-24 14:38] #6913 closed

[2018-09-24 14:48] amprokop commented on #6351
Steps to validate:
- Find a recently intaked AMA appeal, confirm veteran name fields for the veteran on that appeal were in DB
- Find a veteran row without name fields saved to the DB, confirm that `Veteran.find_or_create_by_file_number` backfills and successfully saves name to DB

@kahlouie @mdbenjam are these the steps you expect?

[2018-09-24 15:10] mdbenjam commented on #6856
Are we building case timeline for both legacy and AMA?

[2018-09-24 15:11] amprokop commented on #7090
[code]

Interesting. Can you fix that?

[2018-09-24 15:19] mdbenjam commented on #6856
Also we currently do not capture which NOD form and decision document correspond to this appeal, so we can't really do the linking thing at the moment.

[2018-09-24 15:27] nolawi opened #7100 "Remove form style overwrites"
Remove unnecessary style overwrites.

[2018-09-24 15:29] evankroske commented on #7057
After talking to Jed about this issue, it turns out that REA records are created by judges when the want to recall a case from an attorney in order to assign it to another attorney. In other words, Caseflow makes REA records obsolete because it supports reassignment of cases without them.

For that reason, I think that Caseflow should ignore Decass records with deprod = 'REA'. This would cause cas

[2018-09-24 15:52] mdbenjam commented on #6351
That sounds good to me! Also reminder that Kara's last day on Caseflow was Friday 😢

[2018-09-24 16:10] laurjpeterson commented on #6856
- Agree on this! Showing tasks should be part of case timeline, but because of the design lift involved, not this initial lightweight version that I'd like to get out during the pilot.

- Eventually, yes. For this ticket, I was thinking just AMA because it would be easier. If you think it's just as easy to do this same thing for legacy, go for it! We'd want to add in Form 9 date (in addition to NO

[2018-09-24 16:11] shanear commented on #7054
This is now no longer happening in prod?? We should investigate why this happens.

[2018-09-24 16:32] mdbenjam commented on #6856
I'll also need some images for this.

[2018-09-24 16:43] mdbenjam opened #7102 "Refactor task action dropdowns"
Currently our task action dropdowns are very specific to role. Each dropdown operates differently. We propose the following pattern:

The initial request to the backend will get a list of actions that user can perform and the URLs those actions take the user to. This helps us solve a couple of problems: 1) If a user has multiple roles, we can give them tasks from all of those roles. 2) We can add

[2018-09-24 17:08] amprokop commented on #6351
Ah sorry. We miss you, Kara!

On Mon, Sep 24, 2018 at 8:53 AM Mark Benjamin <notifications@github.com>
wrote:

[2018-09-24 17:13] #7083 closed

[2018-09-24 17:25] amprokop opened #7103 "Judge Assignment view shows 2 days waiting, case details view shows 3 days waiting, appeal marked as "BEAAM""
![image](https://user-images.githubusercontent.com/3781835/45967850-0f016b00-bfe4-11e8-8f6c-aeb4b571d473.png)

![image](https://user-images.githubusercontent.com/3781835/45967863-16287900-bfe4-11e8-8d43-708eadf40823.png)

# AC
- Days waiting should be the correct number and should match in the judge assignment view and the case details view
- RAMP appeals should not be marked as BEAAM ([set case t

[2018-09-24 17:49] amprokop opened #7105 "Create method to assign RAMP appeals to judges"
# AC
- `JudgeTask` should have a method that queries for non-VSO ramp appeals and assigns them to judges
- this method should have a list of ramp judges and assign round-robin
- this method should accept a dry run parameter for testing in production.
- this method should accept a batch size parameter and assign only the *oldest* N appeals

[2018-09-24 17:58] shanear commented on #7095
We're gonna have the intake folks at BVA try these again and follow up to see if it worked.

[2018-09-24 18:01] Chingujo opened #7106 "CO and Video Release | Epic Table | Validation"
As a hearing coordinator, I need to have a clear visual queue when errors occur during the assign page.

### Acceptance Certieria
- [ ] Verify that there is an error message for when an RO. has no up and coming hearing days but available slots.
  - Title: The [ Name ] Regional Office has not had been assigned any hearing days
  - Body: Please make sure that this RO has been assigned hearings

[2018-09-24 18:04] shanear commented on #6600
![screen shot 2018-09-24 at 2 03 47 pm](https://user-images.githubusercontent.com/1596259/45969765-afff1e80-c002-11e8-9920-bd50b8a9e3f7.png)

lookin' good.

[2018-09-24 18:04] #6600 closed

[2018-09-24 18:07] shanear commented on #6191
![screen shot 2018-09-24 at 2 05 48 pm](https://user-images.githubusercontent.com/1596259/45969874-09674d80-c003-11e8-85c4-1fa2038c7d0b.png)

lookin' good.

[2018-09-24 18:07] #6191 closed

[2018-09-24 18:18] shanear opened #7108 "Modifier being passed incorrectly for HLR and SC"
When I try and establish an HLR or SC in UAT, I'm getting the "something went wrong" error. Looking into sentry, it looks like we are passing an entire array of modifiers into the VBMS request, which is incorrect.

![screen shot 2018-09-24 at 2 17 50 pm](https://user-images.githubusercontent.com/1596259/45970510-bc847680-c004-11e8-9187-f6cba0d4e651.png)

https://sentry.uat.ds.va.gov/sentry/caseflo

[2018-09-24 18:19] shanear commented on #5281
validation is blocked due to https://github.com/department-of-veterans-affairs/caseflow/issues/7108

[2018-09-24 19:05] carolaponce commented on #6955
@shanear what is the URL to review these? I figure there might be a prod URL or would it be Demo?

[2018-09-24 19:14] #7103 closed

[2018-09-24 19:32] shanear commented on #6938
Nathan says this should be ready to go

[2018-09-24 19:55] #7009 closed

[2018-09-24 20:06] mkhandekar commented on #6856
images live here (for the green check mark and gray dot): https://github.com/department-of-veterans-affairs/appeals-design-research/tree/master/Projects/Caseflow%20Queue/images

[2018-09-24 20:42] allyceh commented on #6257
@laurjpeterson @dannysellers @mdbenjam cc: @sneha-pai @mkhandekar  for design feedback.

Mark and I chatted this morning, and based on our convo, it's best for the "edit AOD" feature to live near the AOD label as an edit link rather than in the task dropdown (at least in the interim). I have updated designs to reflect this:

1) <img width="324" alt="screen shot 2018-09-24 at 3 36 39 pm" src="https

[2018-09-24 20:49] allyceh commented on #6257
@mdbenjam For the success status, let's stay "AOD status updated". Do we need a second line? We use this space to tell the user anything else they need to know, but I can't think of anything else to tell them about AOD. If they want to reverse the action they just did, they'd just go to "edit" again, and they can do it themselves (rather than having to email anyone). If this is true, let's go with

[2018-09-24 21:04] allyceh commented on #7036
@laurjpeterson , here is some proposed copy for change 2:

Line 1: Select special issues that are relevant to this case
Line 2: If a case has special issues, it will be routed to a specific group for adjudication. OR If a case has special issues, it will be routed to a group of specialists who adjudicate the case.

Rationale: It would be helpful to tell attorneys (especially those who are new to C

[2018-09-24 21:05] pkarman commented on #6941
As I read the code, the establishment of SCs triggered by DTA errors happens via `SyncReviewsJob` -> `EndProductSyncJob` so it is already async.

[2018-09-24 21:32] mkhandekar commented on #6257
looks/works well from my perspective! 👍

[2018-09-24 21:35] mdbenjam commented on #6856
Is the BVA Decision made when the judge sends it to BVA dispatch or when BVA dispatch sends it out?

[2018-09-24 21:36] mdbenjam commented on #6856
For legacy should we show the same thing that exists in appeals status?

[2018-09-24 21:38] allyceh commented on #7036
@laurjpeterson Cool! I'm good with those tweaks and I feel that it's helpful to mention that it's optional.

How about:

Line 1: Select special issues that are relevant to this case (optional)
Line 2: If a case has special issues, it will be routed to a specific group for adjustment.

[2018-09-24 22:20] shanear commented on #6938
Next steps are to reach out to Nate/Joe about how to pass the information, and how we can test that on UAT.

[2018-09-24 22:38] kencheeto commented on #7081
@shanear you mentioned that there are examples of this, should I look for those in Sentry once I confirm access?

[2018-09-24 22:41] laurjpeterson commented on #6856
It should be the date on the decision doc which should be the same date the decision is mailed. Can you remind me - we get that date from the IDT right?

If not, we can show the date the decision was outcoded - when the BVA dispatcher finished what’s in the IDT. In that case, we can change the copy to say something like “Date dispatched from BVA”

In the future, we may need to ask a user to input

[2018-09-24 22:49] #6813 closed

[2018-09-24 22:53] leikkisa commented on #5134
Closing in favor of #6938

[2018-09-24 22:53] #5134 closed

[2018-09-24 22:54] leikkisa commented on #6938
I sent them a message to ask about this

[2018-09-24 23:07] shanear commented on #7081
Yeah, I think the best thing to do would be to inform Katlin that they can try intaking forms for those vets again and see if it's working for them, (since it doesn't actually throw an exception, it was just incorrectly requiring them to enter a city and state)

[2018-09-24 23:10] shanear commented on #5281
<img width="616" alt="screen shot 2018-09-24 at 7 09 35 pm" src="https://user-images.githubusercontent.com/1596259/45984076-6841bc80-c02d-11e8-9a10-ae70556aec35.png">

Validatarific!

[2018-09-24 23:10] #5281 closed

[2018-09-24 23:19] shanear commented on #6817
since this is a dev help thing, no need stressing to validate

[2018-09-24 23:19] #6817 closed

[2018-09-24 23:20] shanear commented on #6205
I need to get some test data from Colin for a deceased vet before i can validate this

[2018-09-24 23:25] leikkisa opened #7117 "Add Informal Conference BGS calls to Caseflow BGSService"
In order to be able to create an informal conferenced tracked item for Higher-Level Review claims, we need to make a couple of calls to BGS

- Add call to manageClaimantLetter_V2 and generateTrackedItems to BGSService
- Update the ruby_bgs version in the Gemfile

requires https://github.com/department-of-veterans-affairs/ruby-bgs/issues/65

[2018-09-24 23:31] leikkisa commented on #5280
Waiting on response from Anil

[2018-09-24 23:43] shanear commented on #5760
There is only one type of Supplemental Claim EP made for all DTA/Remand/etc so we really don't care what the reason was when we make the follow up Supplemental Claim.

[2018-09-24 23:47] shanear commented on #6368
this is outdated now

[2018-09-24 23:47] #6368 closed

[2018-09-24 23:55] leikkisa opened #7118 "Create Informal Conference tracked item when establishing a claim"
## Story
In order to be able to create an informal conferenced tracked item for Higher-Level Review claims, we need to make a couple of calls to BGS

Add call to manageClaimantLetter_V2 and generateTrackedItems to BGSService
Update the ruby_bgs version in the Gemfile

If a user selects the "Informal Conference" option for a Higher Level Review, then the tracked item should be created as part of es

[2018-09-25 12:15] laurjpeterson commented on #5581
@lowellrex @mdbenjam @amprokop - FYI, the chairman does not want to adhere to VSO turnaround times for October pilot anymore.

From Andrea MacDonald's email:

My response:

It sounds like she does *not* want to hold VSOs accountable for the 30 or 45 day time frame starting October 1. This means that Caseflow should *prevent* distributing cases needing IHPs to judges even if it goes beyond 30 or 45

[2018-09-25 12:27] laurjpeterson commented on #5591
Intake: dispatch related issues:
- https://github.com/department-of-veterans-affairs/appeals-design-research/issues/998
- https://github.com/department-of-veterans-affairs/caseflow/issues/6167

[2018-09-25 12:29] laurjpeterson commented on #6814
Email sent to Josh 9/24:

Connected with Chris and we have some ideas for QR. Here's the spark notes. Are you available to connect sometime Tuesday or Wednesday to dig a little deeper into them?

*Overall idea:* You could suggest that instead of selecting the # of cases to QR based on a monthly sample, sample from the entirety of the RAMP appeals period - October 1st to February 14th. (Or, since t

[2018-09-25 12:30] laurjpeterson commented on #7090
@dannysellers -

| action type | docket | actions |
|--------|-----------|--------|
| schedule hearing | | |
| | legacy | send to team, send to attorney, place hold | |
| | ama | ~send to team~, send to attorney, place hold |
| translation | | |
| | legacy | send to team, send to attorney, place hold | |
| | ama | ~send to team~, send to attorney, place hold |
| all other types | | |
| | legacy |

[2018-09-25 12:37] laurjpeterson commented on #7088
### Distribution criteria

On October 1, we should only distribute cases to judges that meet the following criteria:
- Only Direct Review or Evidence Submission appeals
- Appeals without IHP-writing VSOs
- If Evidence Submission, confirm their evidence window of 90 days has concluded

Throughout the pilot, we must wait until VSOs have completed their IHP before distributing. The Chairman changed h

[2018-09-25 13:45] lowellrex commented on #6547
Yup! Should be a relatively quick tweak (and after I make it we can put this label in `COPY.json`!).

For what it's worth, I think this field is *not* the person's gender but rather their sex. VACOLS has only a field in the database for gender, and not one for sex. I don't know where the information that populates this field comes from (doesn't look like the NOD form has either a gender or a sex f

[2018-09-25 13:59] laurjpeterson commented on #6547
What if we changed the name of the field to Sex instead of Gender? @nicholasholtz @sneha-pai @allyceh what do you think?

[2018-09-25 14:36] lowellrex commented on #5581
I think we're most of the way there. VSO employees can mark tasks complete in their queues now, so I think the only thing left to do is modify the query we use to determine which cases are ready for distribution to judges. It's possible @mdbenjam or @amprokop has already modified the assignment code to properly handle this case (I'm not familiar with where in the code that happens), but if not the

[2018-09-25 14:50] mdbenjam commented on #6856
It looks like we currently only have the date we outcode. So I'm going to change the copy for now to Date dispatched from BVA.

[2018-09-25 15:09] suzchap commented on #6943
@shanear can you say more about the second part? How much is this needed? Would the button only be there if the EP failed/is delayed or would it always be there? If it's always there, I can imagine people might just automatically click it every time.

[2018-09-25 16:57] allyceh commented on #6547
@lowellrex  you bring up a good point. Is there a way that we can find out how this information gets into VACOLS today? Like, where we get it from and what people are asked to fill in (sex or gender)? I feel like it's important to know in order to accurately label.

I haven't seen anything about the veterans gender/sex from Intake, unless I missed it. Would Jed be a good person to ask? Or Ivy, sin

[2018-09-25 17:16] lowellrex commented on #6547
The field label and values have been moved to `COPY.json` so they can be more easily changed. After we deploy tomorrow the labels will read "Gender: Female" or "Gender: Male" and can be edited here: https://github.com/department-of-veterans-affairs/caseflow/blob/01f9bbcf748c1d3267530503c4034ec90108d9bb/client/COPY.json#L57

[2018-09-25 17:49] laurjpeterson opened #7126 "Change task type (front end only)"
Related support ticket - https://github.com/department-of-veterans-affairs/appeals-support/issues/3066#issuecomment-423973823

Stories:
* When a co-located user is assigned a task incorrectly identified by the attorney, they need to be able to change the task type, so they have the right actions available to them for the next step.
* When Litigation Support users are assigned a post-decisional mot

[2018-09-25 17:56] mkhandekar commented on #7016
@lowellrex and I checked in with my sketches that meets the AC that were described above. We decided that it would be much simpler if case search lived on it's own page vs as a accordian style interaction like "view all cases".

Here is where we are at this point:

## User clicks on Search cases icon in the header
Slightly adjusted content in the instructions, to clarify you can enter veteran ID a

[2018-09-25 17:57] cmgiven commented on #7088
Post-hearing appeals by judge. ACT are those cases that have yet to receive a decision. REM are those cases that have received a decision, but may return and will require the same judge.

Note there are several inactive judges that remain in the list.

|id   |name                    | ACT| REM| total|
|:----|:-----------------------|---:|---:|-----:|
|467  |Steven Reiss            | 199| 433|   63

[2018-09-25 18:00] laurjpeterson commented on #7088
@nicholasholtz - could you go through what Chris posted and mark who is a judge vs. senior counsel vs. attorney? You could cross off the rows in his table to signify appeals shouldn't be distributed to those people. I think there are quite a few acting judges that have low legacy hearing backlogs that we should exclude.

[2018-09-25 18:02] lowellrex commented on #7016
I think moving the search icon to the header is totally doable! I foresee it linking to the case search page which would replace the search bar that currently appears on some pages. This would let us retain the search results and get back to them after we navigate into a case details page (for instance) simply by clicking the case search icon.

[2018-09-25 18:08] laurjpeterson commented on #7016
Tagging @Chingujo @sharonwarner @MeredithStewart @oscarAtNava because they had questions about search and Hearing Schedule last week.

@lowellrex - how does this affect our discussion around all searching starting at `/queue`? if the search bar is at the top and the user doesn't have any cases assigned, they will just see a blank page when they log into Caseflow, I think?

This is what a user with

[2018-09-25 18:09] mkhandekar commented on #7016
@lowellrex How might the header work for other products? Would they have to adopt this too, or do we/they have some flexibility in terms of showing search icon in header in some places and not in others?

[2018-09-25 18:09] #6856 closed

[2018-09-25 18:10] mkhandekar commented on #7016
@laurjpeterson when you say "users who don't have cases assigned", do you mean Queue users who have finished all their work, or a search/reader user who doesn't have cases?

[2018-09-25 18:10] lowellrex commented on #7016
@laurjpeterson You're understanding is 100% correct. A user without cases assigned would see a blank screen beneath the header.

@mkhandekar This would be an opt-in change. Other products would have to specifically add the case search icon to the header.

[2018-09-25 18:13] laurjpeterson commented on #7016
thanks @lowellrex. i'm ok with this change if we have something under the header helping a user without cases assigned know what to do next, like search for a case. @mkhandekar - do you have ideas on this copy?

[2018-09-25 18:27] mkhandekar commented on #7016
Generic copy:

1. "You have no cases assigned to you. You can [search for cases]."   [link to search home page]
2. Y"ou can [search for cases]."   [link to search home page]

[2018-09-25 18:45] nicholasholtz commented on #7088
Initial update provided. Most of the ?s are probably Actings. Will need to get confirmation

[2018-09-25 19:07] laurjpeterson commented on #7126
Note: I realized that implementing this change would only add it for co-located users, but we would likely want it for future org queue users. Therefore, we can design this, but hold off on implementing until we decide it's absolutely necessary for co-located.

cc: @aroltsch @mdbenjam @lowellrex

[2018-09-25 19:13] nemodjuric opened #7130 "Fix intermittent failures on CircleCI related to database connections"
Some of our builds seem to fail at database setup step since database is not ready.
Example:
https://circleci.com/gh/department-of-veterans-affairs/caseflow/10529#tests/containers/1

Also, there are builds that have tests failing because of database connectivity.
Example:
https://circleci.com/gh/department-of-veterans-affairs/caseflow/12944#tests/containers/2

These two issues are not necessarily

[2018-09-25 19:19] laurjpeterson commented on #7088
Thanks! @amprokop take a look at what Chris put above. I think we would select judges from Dorilyn Ames' name and above to distribute cases to. How does the affect the queries you've written?

[2018-09-25 20:00] sharonwarner opened #7133 "Assign Hearings | Active date tab"
When a user has selected a date in the left date tab, that section of the table should be styled with a darker background.

![datetab](https://user-images.githubusercontent.com/4306128/46039587-1c018580-c0dc-11e8-8665-a17ae74113be.png)

[2018-09-25 20:01] sharonwarner opened #7134 "Assign Hearings | Default RO"
When a user loads the assign hearings page (hearings/schedule/assign), the RO dropdown should default to Central Office hearings.

[2018-09-25 20:05] sharonwarner opened #7135 "Assign Hearings | Room information"
The room information in the left hand date table and the header for the centered tab should only be displayed if the RO has multiple hearing rooms (St Petersburg and Winston-Salem).

[2018-09-25 20:07] sharonwarner opened #7136 "Assign Hearings | Date format"
The dates in the lefthand tab and the header for the center table should include the day of the week.

![datetab](https://user-images.githubusercontent.com/4306128/46039940-03de3600-c0dd-11e8-9481-ca1ec4b789db.png)

[2018-09-25 20:09] sharonwarner opened #7137 "Assign Hearings | CAVC/AOD formatting"
In the 'Scheduled' and 'Assign Hearings' tabs in the center of the page, if the appeal type is either 'AOD' or 'CAVC, the text should be red.

[2018-09-25 20:13] leikkisa commented on #6938
From Joe today:
This work isn’t complete, the plan is to make available, during establishClaim and createContentions, and user and station number field that we can then pass through to BGS. Once this work is complete we will include some documentation/examples regarding how it will work from the CASEFLOW side

[2018-09-25 20:17] leikkisa commented on #7054
After talking to BGS, we heard that this should only happen for really old ratings (like 10 years old), but BGS also mentioned that it is happening for newer ratings.  They said that we do not want these ratings to show up.  This shouldn't block us from getting other ratings, but we need to confirm that this is the case.

It seems like this might be caused by improper test data set up.

It is some

[2018-09-25 20:34] kencheeto commented on #7081
@shanear okay! I'm looking for "Katlin" but I don't see them in Slack. How do I find them?

[2018-09-25 21:05] shanear commented on #7081
She’s at AMO and not in Slack. I notified her via email. I'll CC you if/when she responds.

[2018-09-25 21:37] laurjpeterson commented on #5592
@mdbenjam @mkhandekar @lowellrex @sneha-pai and @laurjpeterson discussed case timeline on 9/25/2018. we roughly went through (1) each of our ideas around what case timeline is (2) case timeline goals and users (3) what data is available to populate a case timeline and (4) some explorations of how to design and implement.

#### Outcome of the discussion
- Our high level goal for case timeline: tell

[2018-09-25 21:43] shanear commented on #6234
<img width="878" alt="screen shot 2018-09-25 at 5 43 10 pm" src="https://user-images.githubusercontent.com/1596259/46045067-891c1780-c0ea-11e8-9753-eb94e05eaba2.png">
works!

[2018-09-25 21:43] #6234 closed

[2018-09-25 21:44] shanear commented on #6098
<img width="878" alt="screen shot 2018-09-25 at 5 43 10 pm" src="https://user-images.githubusercontent.com/1596259/46045084-96d19d00-c0ea-11e8-9397-35b27cb47596.png">
Works!

[2018-09-25 21:44] #6098 closed

[2018-09-25 21:57] laurjpeterson commented on #7016
I like option 1!

[2018-09-25 22:11] kencheeto commented on #7081
okay, thanks!

[2018-09-25 22:14] kencheeto commented on #6947
I think I need some help again finding a veteran with a long address, but otherwise this will be merged in a bit and ready for validation.

[2018-09-25 22:15] shanear opened #7138 "Fix Edit Issues page in UAT"
The edit issues page is broken for HLR and SC in UAT. Investigating why.

[code]

so this is awkward. It looks like profile date is not always a date 😢

[2018-09-26 00:47] leikkisa commented on #5280
We think we have what we need, so I am closing this in favor of the development tickets:
https://github.com/department-of-veterans-affairs/ruby-bgs/issues/65
https://github.com/department-of-veterans-affairs/caseflow/issues/7117
https://github.com/department-of-veterans-affairs/caseflow/issues/7118

[2018-09-26 00:47] #5280 closed

[2018-09-26 13:36] #6070 closed

[2018-09-26 13:43] aroltsch opened #7142 "[IDT] For legacy cases, expose SSN as well as the file number"

[2018-09-26 13:43] aroltsch opened #7143 "[IDT] Dispatch and Judges users: return days waiting"

[2018-09-26 14:05] mc-usds commented on #6221
Will work with Nikita to submit the SR.

Also as a side note, it seems like this bug would be affecting the Claim for Increase work being done on the Veteran Facing Tools side. I'm going to reach out to the EVSS guys to see if they have encountered it and if they've brought it to up with BGS or how they've worked around it, if at all.

[2018-09-26 14:31] laurjpeterson commented on #5950
[Updated Mail Assignment Sheet - August 2018](https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Projects/Caseflow%20Queue/Research/Documents/Mail%20Assignment%20for%20August%202018%20(August%2020).doc)

[2018-09-26 15:27] nolawi commented on #4314
this is in the styleguide

[2018-09-26 15:27] #4314 closed

[2018-09-26 15:34] nicholasholtz commented on #6897
Provided vet IDs to Jared Mrozinski this morning for VBMS to look into this. @shanear

[2018-09-26 16:10] amprokop opened #7148 "IDT should pass info to /idt/api/v1/appeals/:appeal_id/outcode"
# AC
- POST to /idt/api/v1/appeals/:appeal_id/outcode accepts `citation_number`, `decision_date`, and `redacted_document_location`
- Caseflow validates the presence of `citation_number`, `decision_date`, and `redacted_document_location`
- Caseflow validates `citation_number` is  `A + eight digits`
- Caseflow saves `citation_number` to the decisions table with a uniqueness constraint
- If the valid

[2018-09-26 17:04] leikkisa commented on #6897
Another thing I want to ask about is if the middle initial is missing, if that could potentially be a cause for the Incident Flash.

[2018-09-26 17:04] shanear commented on #6210
validation is blocked on https://github.com/department-of-veterans-affairs/caseflow/issues/7138

[2018-09-26 19:10] lowellrex opened #7150 "Add date picker to "Place task on hold" action"
When entering a custom number of days for a task to be placed on hold, co-located staff sometimes need to do some gymnastics to determine the correct number of days for a task to be put on hold. Two examples:
1. A letter was mailed with an effective date of last Tuesday and the suspense is 90 days from that date.
2. A letter was mailed with an explicit due date.

Currently, to determine the correc

[2018-09-26 19:22] lowellrex opened #7152 "Add "End hold early" to actions for "on hold" tasks"
Sometimes tasks are put on hold while a Board employee waits for a response from a third-party. Currently, there is no way for a Board employee to end a hold early (say the third-party responded on day 18 of 30).

## Acceptance criteria
* Board employees have some way to end holds early for tasks that are on hold.

[2018-09-26 19:38] lowellrex opened #7153 "Display on hold information in case details"
Currently the on hold information (image below) is only visible in the task table and not in the case details page itself. This results in co-located staffers having to bounce back and forth between the screens to see the on hold information and the task details at the same time.

![image](https://user-images.githubusercontent.com/32683958/46104483-71ec3100-c1a1-11e8-9636-fa17163f7736.png)

## Acc

[2018-09-26 20:20] evankroske opened #7157 "Case Review | Judges | Caseflow doesn't set the completion date of OMO reviews"
When a judge reviews an OMO request and creates an OMO, [Caseflow doesn't set the completion date of the corresponding Decass record](https://github.com/department-of-veterans-affairs/caseflow/blob/caccf19a7db3c318d6f9e12de47a9f6f1c40eef1/app/repositories/queue_repository.rb#L76). This keeps attorneys from getting credit for OMO requests.

Also, Caseflow doesn't update deoq, either.

[2018-09-26 20:36] sneha-pai commented on #7152
@lowellrex when a colocated person clicks on "end hold early", what would you imagine happening to that case? Would it move the case to "pending actions"?

Today, any colocated user can "end" the hold by actioning on it at any time.

[2018-09-26 20:50] lowellrex commented on #7152
Correct, ending a hold early would change the status in the database to `in_progress` and move the task in the UI to the "Pending" tab. Currently the only way co-located folks can end a hold early is by assigning it back to the attorney who assigned it to them (since that is the only action available to on hold co-located tasks).

[2018-09-26 21:18] shanear commented on #6940
I'm happy with the automated testing here to say this is good.

[2018-09-26 21:18] #6940 closed

[2018-09-26 21:18] shanear commented on #7095
This fixed the issue they were having in prod. Good enough for me

[2018-09-26 21:18] #7095 closed

[2018-09-27 01:09] leikkisa commented on #7117
Closing to combine with #7118

[2018-09-27 01:09] #7117 closed

[2018-09-27 12:42] mkhandekar commented on #7052
this should be resolved both by https://github.com/department-of-veterans-affairs/appeals-support/issues/3067 and the fact that the assignment toggle is going to be turned on for all judges.

[2018-09-27 12:42] #7052 closed

[2018-09-27 14:16] Chingujo opened #7163 "Schedule - Filter Spacing"
### AC
- [ ] Increase the padding between the to and from date filters (around 30 px)
- [ ] Increase the padding between the from date filter and the apply link (around 20 px)

## Mock
<img width="399" alt="screen shot 2018-09-27 at 10 16 14 am" src="https://user-images.githubusercontent.com/23316107/46152164-70247b00-c23e-11e8-8a7c-98251149f91d.png">

[2018-09-27 14:17] mkhandekar commented on #5592
Here's a picture of the discussion / whiteboard:

![img_0124](https://user-images.githubusercontent.com/1598889/46152170-731f6b80-c23e-11e8-8fb5-33e15171c61d.jpg)

[2018-09-27 14:19] Chingujo opened #7164 "Schedule - Change button color for admin view"
### AC
- [x] For the admin view, make the build schedule secondary
- [x] Increase the padding between the buttons (around 25 px)

### Mock
<img width="473" alt="screen shot 2018-09-27 at 10 19 24 am" src="https://user-images.githubusercontent.com/23316107/46152340-d3161200-c23e-11e8-8a3a-8803c75ecf4a.png">

[2018-09-27 14:21] Chingujo opened #7165 "Schedule - Align filter icons on table"
### AC
- [ ] Verify that the filter icons next to he table headers are are aligned with the labels
(Just an alignment so not including a mock, can if it helps tho =D)

[2018-09-27 14:30] mkhandekar commented on #7016
Perhaps something like this?

![image](https://user-images.githubusercontent.com/1598889/46153031-4ff5bb80-c240-11e8-85d9-3fed01593594.png)

[2018-09-27 14:32] laurjpeterson opened #7167 "RAMP appeals | Interim solution for attorney editing/adding issues"
## Background
For October 1, Caseflow Queue de-scoped attorney ability to add/edit AMA issues. This is for a few reasons (list not exhaustive):
- complexity of connecting decision issues to request issues
- decisions in flight around surfacing other VBMS issue data (e.g. issue type `Service connection`, `Increased rating`; diagnostic code, etc.)
- incomplete user research to validate MVP prototype

[2018-09-27 14:39] nicholasholtz commented on #7167
Right now the plan is for attorneys to email to Del when they have issues that need to be added. That email is just going to be a free-text email that will need to be integrated with the disposition data so EPs can be created, and ultimately will need to be backfilled into Caseflow in ~ a month.

Proposal: since emailing issues is problematic, what if we either:
  1. Provided a free-text field for

[2018-09-27 15:46] suzchap commented on #6955
LGTM

<img width="1105" alt="screen shot 2018-09-27 at 11 45 44 am" src="https://user-images.githubusercontent.com/11219417/46157966-e6c77580-c24a-11e8-96fa-bc226ea3bfc3.png">

[2018-09-27 15:46] #6955 closed

[2018-09-27 16:04] #4610 closed

[2018-09-27 16:07] suzchap commented on #6960
<img width="1100" alt="screen shot 2018-09-27 at 12 07 07 pm" src="https://user-images.githubusercontent.com/11219417/46159277-e7154000-c24d-11e8-8ce7-7e35a77eb64a.png">

[2018-09-27 16:07] carolaponce commented on #6960
LGTM

[2018-09-27 16:07] #6960 closed

[2018-09-27 16:08] carolaponce commented on #6960
Thank you @suzchap for walking me through these!

[2018-09-27 16:31] #7093 closed

[2018-09-27 16:36] laurjpeterson commented on #5581
@lowellrex @mdbenjam @cmgiven @nicholasholtz

@nikitarockz is tracking which specific VSO users are in the process of getting VSO access to Caseflow in issues in the appeals-pm repo

For now, we have a few users in flight for the following VSOs
- PVA - Jamie Rudert
- DAV - Tom Wendel (is out until Oct 9 so I emailed other DAV contacts to see if anyone else needs access. @nicholasholtz will take fo

[2018-09-27 16:52] #2318 closed

[2018-09-27 16:52] #1426 closed

[2018-09-27 17:12] mdbenjam commented on #7072
One pattern we've been using is to make the actions dropdown options open up either a modal or new page, instead of putting the options right in the task area of case details.

[2018-09-27 17:24] laurjpeterson opened #7170 "Update quality review logic for legacy cases"
Now that we've rolled out assignment and check out functionality to all judges, we need to update our quality review selection logic for legacy appeals.

## AC
- Quality review logic is updated per the comments in our code. @cmgiven to support as needed.
- Email Jed (Jed.Wagner@va.gov) and Josh Freeman (Josh.Freeman@va.gov) that our logic has changed so Jed can adjust his quality review selection

[2018-09-27 17:54] MeredithStewart commented on #6585
We talked to Intake about this -- they didn't have a plan for pulling in station of jurisdiction and indicated that we needed to explore that data element further.

For AMA hearings -- Using our geo-location, we will map the the appellants address to a Regional Office based on home address.

[2018-09-27 17:55] #6585 closed

[2018-09-27 20:51] pkarman commented on #6942
Moving the tasks to ActiveJob in #7111 will get us some automatic retries per https://github.com/department-of-veterans-affairs/appeals-deployment/blob/master/docs/setting-up-a-caseflow-cron-job.md#step-1-implement-your-active-job

That only goes to a max of 5 hours though, so #7111 makes it possible to go for days instead.

However, for #6944 we need to capture the last error for any job so this

[2018-09-27 20:54] jiahuang opened #7173 "DISCUSS 10/3: Tech spec discussion"
In a retro we discussed some options around tech specs without google docs. This is a ticket to formalize what we want to do around:  

1. Where should tech specs be located? Should they be in this repo under /docs/tech_specs or in a private repo like appeals-design-research? Or maybe in a private repo by themselves?

    Pros of being in this repo would be that they're easier to find & read, cons

[2018-09-27 20:57] shanear commented on #7173
Here's a place where tech specs are. We could add a folder there?

https://github.com/department-of-veterans-affairs/appeals-pm/tree/1c52406858bf2a5a6633bda0b6e52088430aee7a/caseflow/tech_specs

[2018-09-27 21:03] shanear commented on #7081
validated in Prod this is working! Katlin didn't get the email but told us in the AMO meething.

[2018-09-27 21:03] #7081 closed

[2018-09-27 21:11] kencheeto commented on #7081
🎉 thanks!

[2018-09-27 22:05] shanear opened #7176 "Intake | Create contentions fails if two contentions have identical text"
A bug popped up in prod today where a RampRefiling was created with two contentions with identical texts (see: https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/ramp_refiling.rb#L72). Since we match the issue by text, both created contentions are mapped to the first ramp issue.

This causes us to continually retry creating the contentions. Which is not good.

[2018-09-27 22:55] shanear commented on #6351
I validated both of these in prod. Closing.

[2018-09-27 22:55] #6351 closed

[2018-09-27 23:01] kencheeto commented on #7173
1. I vote separate repo, one of the existing docs repos we have
2. I vote google doc that gets copied into github when more stable, we can leave a link to the gdoc in the markdown file. in general i still think markdown is very limited in density compared to a gdoc, looking at other tech specs we've written, but happy to give it a shot
3. lgtm! would be helpful to have an example tech spec and wal

[2018-09-27 23:04] shanear commented on #6947
I think we can just validate this one by making sure we don't see any `Caseflow::Error::LongAddress` errors. If we do we can always reopen this. That plus automated tests are good enough for me.

[2018-09-27 23:04] #6947 closed

[2018-09-27 23:06] shanear opened #7177 "RemoveContention 404's in prod"
I tried running `VBMSService.remove_contention!` in prod today, and it was returning a 404.

I'm not sure if that's because it's not deployed or if envoy is messing up or what.

When this is working we need to fix the contentions on RampRefiling (id: 627) in prod that were created as a result of https://github.com/department-of-veterans-affairs/caseflow/issues/7176

steps to reproduce

[code]

[2018-09-27 23:06] shanear commented on #7177
Asking #appeals-devops to see if its an envoy issue.

[2018-09-27 23:20] amprokop commented on #6351
Ah thanks for the note — was just looking for this ticket so I could
validate it. Appreciate you beating me to it!

On Thu, Sep 27, 2018 at 3:55 PM Shane Russell <notifications@github.com>
wrote:

[2018-09-27 23:46] shanear opened #7178 "AMA Decisions | Save request issue to resulting rating issue mapping"
When a rating is made (i.e. the decision is made) on a HLR or SC in VBMS-R, users will be forced to map each rating issue to a contention (which would be represented by a request issue generated at intake). We can query and use this mapping to store which rating issues were the result of which request issues (via #6545).

This will allow us to perform certain eligibility checks such as preventing

[2018-09-28 02:40] pkarman commented on #7176
does this address it?

[code]

[2018-09-28 14:10] pkarman commented on #7173
1. +1 to appeals-pm repo
2. +0 on google doc. If the repo is the document-of-record, I don't care what happens before it gets there. I would personally do .md PR and skip the google doc part, since it seems like extra work, but I'm fine if others want to work it out that way. In that sense, the gdoc is like whiteboarding in a async/distributed-team-friendly way.
3. lgtm

[2018-09-28 14:15] #7136 closed

[2018-09-28 15:14] Chingujo commented on #7016
Hello! Upon request adding the mock and some context for hearing search (@mkhandekar and @MeredithStewart)

### Mural
The [mural](https://app.mural.co/t/workqueue2001/m/workqueue2001/1537900082401/9bbc0c4a648779e4dde208826986ccaaf39c6bdc) summarizes a lot of it.

### Potential Hearing Search
Hearing coordinators need a way to identify if they are multiple appeals associated with a Veteran, which o

[2018-09-28 16:07] shanear commented on #7138
![screen shot 2018-09-28 at 12 06 57 pm](https://user-images.githubusercontent.com/1596259/46220064-0cba4c00-c317-11e8-802b-e0f243de3289.png)

This is working now 👍

[2018-09-28 16:07] #7138 closed

[2018-09-28 16:10] shanear commented on #7108
![screen shot 2018-09-28 at 12 09 12 pm](https://user-images.githubusercontent.com/1596259/46220223-75092d80-c317-11e8-9559-4ab09b2ebeed.png)
got there

[2018-09-28 16:10] #7108 closed

[2018-09-28 16:27] shanear commented on #6210
![screen shot 2018-09-28 at 12 26 10 pm](https://user-images.githubusercontent.com/1596259/46220996-d29e7980-c319-11e8-86ff-147bd65e7715.png)
looking good.

[2018-09-28 16:27] #6210 closed

[2018-09-28 16:27] shanear commented on #6212
This appears to be broken 😢

Looking into why.

[2018-09-28 16:30] #7135 closed

[2018-09-28 16:33] shanear commented on #6966
This looks good.
![screen shot 2018-09-28 at 12 30 27 pm](https://user-images.githubusercontent.com/1596259/46221265-9d465b80-c31a-11e8-93c1-aa45a3412c6a.png)

When the claimant isn't the veteran, it's not showing up right:
![screen shot 2018-09-28 at 12 32 27 pm](https://user-images.githubusercontent.com/1596259/46221260-9a4b6b00-c31a-11e8-86f6-ff5965ba64cd.png)

[2018-09-28 16:57] shanear commented on #6205
Sent an email to Colin. Waiting on that

[2018-09-28 17:00] shanear commented on #6212
![screen shot 2018-09-28 at 12 59 53 pm](https://user-images.githubusercontent.com/1596259/46222469-6eca7f80-c31e-11e8-92a1-c38b2ecbbff4.png)

`VBMSService.removeContention` has a syntax error 🙃

[2018-09-28 18:19] shanear commented on #6822
This is blocked on https://github.com/department-of-veterans-affairs/caseflow/issues/6212

[2018-09-28 19:50] oscarAtNava commented on #6905
Completed with 5954.

[2018-09-28 19:50] #6905 closed

[2018-09-28 22:06] pkarman commented on #6811
may be addressed by #7111

[2018-09-28 22:34] mkhandekar commented on #5800
Can we close this?

[2018-09-28 23:00] #6257 closed

[2018-09-29 12:10] #7148 closed

[2018-09-29 12:54] #7153 closed

[2018-10-01 15:34] #7134 closed

[2018-10-01 17:54] leikkisa opened #7199 "EXPECTED DEC 9: WSCR request to open up DocumentService in Prod"
# Story
We added DocumentService to ruby-bgs, and so it's likely that it is not available in BGS prod. So we need to submit the WSCR service request to make it available in Prod.

I am not sure what all this entails, but here is some information that might be useful:
Git version number: 2d0e08ea4157b725242777a6f876fc199f503b61
Pull request: https://github.com/department-of-veterans-affairs/ruby-bg

[2018-10-01 18:36] shanear commented on #6212
Works for adding issues! But removing issues is still bugging out
https://sentry.uat.ds.va.gov/sentry/caseflow-uat/issues/1006/
![screen shot 2018-10-01 at 2 36 19 pm](https://user-images.githubusercontent.com/1596259/46308359-6a54cf80-c587-11e8-8f6d-81665af9988e.png)

looking into it

[2018-10-01 18:50] #7157 closed

[2018-10-01 20:24] shanear opened #7201 "Edit VBA Issues | Too many updates too fast can cause bugs"
When validating #6212, I noticed that submitting 2 or more edits in rapid succession can cause the processing of `RequestIssuesUpdate` to bug out (not being able to find contentions because they were already removed).

I think (?) the solution here might be to prevent going to the edit issues screen if there is a `RequestIssuesUpdate` that is pending processing. There may be other solutions too

[2018-10-01 20:28] shanear commented on #6822
<img width="1428" alt="screen shot 2018-10-01 at 4 27 53 pm" src="https://user-images.githubusercontent.com/1596259/46313860-fae6dc00-c596-11e8-9939-0103a64b04ab.png">

`removed_at` is working 👍

[2018-10-01 20:30] #6822 closed

[2018-10-01 20:31] shanear commented on #6941
This is working! Successfully processed an HLR, SC intake as well as an issues update

[2018-10-01 20:31] #6941 closed

[2018-10-01 20:32] shanear commented on #7176
Validation is blocked on https://github.com/department-of-veterans-affairs/caseflow/issues/7177 so we can clean up the data and try again

[2018-10-01 22:01] shanear opened #7206 "AssociateRatingIssues is not working for non-disability issues"
Whenever I try and intake an HLR or SC with an issue that is not a disability issue, the ClaimService associateRatingIssue request throws an error, preventing the intake from processing.

Here is an example of an error
[code]

[2018-10-01 22:02] shanear commented on #7206
getting in touch with Nate about this

[2018-10-01 22:06] shanear commented on #6212
This is caused by https://github.com/department-of-veterans-affairs/caseflow/issues/7201

Adding that bug to track it.

[2018-10-01 22:20] #7137 closed

[2018-10-01 22:30] shanear commented on #6987
<img width="569" alt="screen shot 2018-10-01 at 6 28 46 pm" src="https://user-images.githubusercontent.com/1596259/46319395-e7903c80-c5a7-11e8-95b7-81d792c6843b.png">
There's a link there.
It works.
It just says the wrong thing 😮
Should say "Cancel adding this issue". Easy fix.

[2018-10-01 22:34] shanear commented on #6966
![screen shot 2018-10-01 at 6 34 21 pm](https://user-images.githubusercontent.com/1596259/46319608-a6e4f300-c5a8-11e8-8f1f-35cf9764a2dd.png)
very nice very nice

[2018-10-01 22:34] #6966 closed

[2018-10-01 22:36] shanear commented on #6981
![screen shot 2018-10-01 at 6 28 33 pm](https://user-images.githubusercontent.com/1596259/46319651-d72c9180-c5a8-11e8-8042-81767a262cf8.png)

I can't select an issue 😢

[2018-10-01 22:42] shanear commented on #6212
<img width="1434" alt="screen shot 2018-10-01 at 6 41 38 pm" src="https://user-images.githubusercontent.com/1596259/46319863-b6b10700-c5a9-11e8-901d-dc726b252af1.png">
works!

[2018-10-01 22:42] #6212 closed

[2018-10-01 23:14] shanear commented on #7199
@nikitarockz should be able to help you out with this.

[2018-10-01 23:28] leikkisa commented on #6981
I think this is possibly handled in the #6982

[2018-10-01 23:30] leikkisa commented on #6986
I believe this requires #7000, since it requires saving to the database, so I am going to wait to continue working on it

[2018-10-02 13:50] lowellrex opened #7210 "Create "Re-assign task to team member" task action"
For tasks assigned to a team (organization) at the board we will present an "Assign task to team member" option in the task actions dropdown which will create a child task assigned to a person on that team. For tasks assigned to a person having that same option ("Assign task to team member") presents an issue because the child task will return to the original assignee. When the original assignee h

[2018-10-02 13:58] lowellrex opened #7211 "Add tab for "Completed" and "On hold" tasks"
When somebody marks a task as complete that case disappears from their queue because we filter out completed tasks from the task table. Our co-located pilot folks have indicated that they often want to reference those cases for a little while after they have marked them as complete (for sending emails, making notes, charging the case back to themselves, etc.). We should allow co-located (and organ

[2018-10-02 14:14] evankroske opened #7212 "Backfill judge case review data for OMO requests"
Now that [Caseflow is asking judges to review OMO requests for quality](https://github.com/department-of-veterans-affairs/caseflow/issues/7157), we should backfill quality data for the OMO requests that were assigned before the fix was merged. [Context](https://dsva.slack.com/archives/C6E41RE92/p1537887827000200).

[2018-10-02 14:32] lowellrex opened #7213 "Add "Recall task" option to recently completed tasks"
Co-located staff have no way to "recall" a task after it has been assigned back to an attorney. Currently, one common occurrence is that a co-located staffer charges a case back to an attorney in VACOLS after completing whatever needed to be done, but remembers one task that they forgot so they charge it back to themselves effectively reclaiming the task as their own. Our current implementation of

[2018-10-02 14:57] oscarAtNava commented on #6744
Updated the descriptions to highlight that the work remaining in the data model is to create the child records in Caseflow

[2018-10-02 15:10] aroltsch opened #7216 "Make copy changes for special issues page for legacy appeals"
Allow attorneys to select special issues during the checkout flow for legacy appeals like we do for AMA appeals. This sets us up to deprecate Caseflow dispatch.

## AC
- Create a screen titled `Select special issues`
- `Select special issues` screen comes after selecting 'Decision Ready for Review' in the attorney checkout flow
- Special issues include all in the below mock EXCEPT `Hearing - inclu

[2018-10-02 15:10] #7143 closed

[2018-10-02 15:31] evankroske commented on #7212
## Proposal
- [ ] Get a list of judge case reviews with location "omo_office".
- [ ] Filter out those with corresponding Decass records with decomp set.
- [ ] Select a review for testing.
- [ ] Run the report "DAS Detail" to confirm that the case isn't shown.
- [ ] Process the Decass record with this code: https://github.com/department-of-veterans-affairs/caseflow/blob/ea459da0abc7860cac69fff6b2a6

[2018-10-02 15:33] lisac-usds commented on #7177
I'll take a look from the envoy / forward proxy angle and report back tonight.

[2018-10-02 15:55] #7163 closed

[2018-10-02 15:55] aroltsch opened #7218 "[IDT] Add documents and assigned by name"
Return documents and assigned by name in the appeals details
Return documents and assigned by name in the appeals list when searching by file number

[2018-10-02 15:59] pkarman commented on #6811
It looks to me like the call is:
https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/higher_level_review.rb#L68

which should now run async and not tie up the psql transaction.

It is called from:
https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/higher_level_review.rb#L51
via
https://github.com/department-of-veterans-affairs/caseflow/b

[2018-10-02 16:01] pkarman commented on #6811
Should the entire `sync` be run async so we can re-try?

[2018-10-02 17:09] shanear commented on #7206
Nate got back to me and thinks it's a bug between VBMS and BGS. Well probably talk about it in our weekly sync.

[2018-10-02 17:35] jiahuang commented on #6981
Yeah, issue selection wasn't implemented as part of this ticket, only the display. #6982 got in though so you should be able to select if you repull from master

[2018-10-02 18:19] sharonwarner opened #7221 "Dropdown component | Styling error"
There should only be one dropdown icon on the righthand side.

<img width="518" alt="screen shot 2018-10-02 at 2 16 33 pm" src="https://user-images.githubusercontent.com/4306128/46368354-021cf100-c64e-11e8-97e7-1afac5fe0f7b.png">

[2018-10-02 18:34] leikkisa commented on #6981
Going to move this to "Done" since Shane validated this (other than issue selection), and issue selection is coming up in #6982

[2018-10-02 18:43] leikkisa commented on #7173
1. 1 to appeals-pm repo, plus making our own "intake" folder
2. +0 on Google doc. Would rather have fewer places to look than more features.
3. Yay, love that there's a template.  Would love a section for connected Github tickets (like the design-research ones) and PRs.  Sometimes I'll find out later that there were a bunch of design tickets related to the thing I'm working on that had useful info

[2018-10-02 19:46] #7221 closed

[2018-10-02 20:20] shanear commented on #6811
yeah this is true

[2018-10-02 20:20] #6811 closed

[2018-10-02 20:52] mdbenjam opened #7229 "Separate reassign and assign logic"
We currently do a lot of work to ensure Judges can both assign and reassign tasks to attorneys. However both assign and reassign goes through the same UI flow. It seems likely that separating these flows, or moving the logic to the backend could make our code simpler. We should hold off on this until we have generic queues working, since I think there may be an opportunity to share code between th

[2018-10-02 21:55] leikkisa commented on #6981
@jiahuang @suzchapman
Oh, I'm noticing that the "None of these match" button is missing in the validation.

Suzanne, the Caseflow modal doesn't allow for this, so we'd want to edit that or make a custom modal.

Should we move this back? We could also make a separate (new) ticket, or I could work on it with the non-rating modal (just noticed this so haven't thought about how long it would take, it

[2018-10-02 21:59] lisac-usds commented on #7177
I'm sorry, wasn't able to take care of this today. Will revisit tomorrow.

[2018-10-02 22:15] leikkisa commented on #6986
@suzchap @carolaponce Should I be displaying the notes on the list of added issues?

[2018-10-03 13:48] amprokop opened #7236 "Return 400 instead of 500 from /outcode when citation number is not unique or if parameters are invalid"
[code]

# AC

- Return 400 instead of 500 from /outcode when citation number is not unique or if parameters are invalid

[2018-10-03 14:24] Chingujo opened #7238 "Case Details - Assign Hearings Modal Error Messaging"
As a hearing coordinator, I want to be able to see error messages in the assign modal to make sure that  all the necessary information before assigning a hearing.

### Acceptance Criteria
- [ ] Verify that all entries need to be filled
- [ ] Verify if there is an error, we are using our in line error messaging (See mock)
- [ ] If no RO is selected
    - Please select a Regional Office
- [ ] If no

[2018-10-03 15:17] nicholasholtz commented on #6947
VA is beginning an effort to change VBA systems from 6x20 to 6x35. I do not have a projected date here.

Per OBPI, BGS will implement this for the February CI.

[2018-10-03 15:17] nicholasholtz commented on #6947
@amprokop FYI

[2018-10-03 15:22] shanear opened #7240 "RAMP Refiling Intake | Validation incorrectly triggering when 1 of 2 RAMP elections is pending"
This is preventing Ivy from intaking one of the forms.

[2018-10-03 15:32] nolawi opened #7241 "Silence karma/legacy test warnings"
fix proptype warnings

1. Cancel Dispatch modal
2, HearingScheduling

<img width="1555" alt="screen shot 2018-10-03 at 11 48 40 am" src="https://user-images.githubusercontent.com/1745984/46422465-70bb8680-c702-11e8-9c28-7f109b626101.png">

[2018-10-03 15:49] sharonwarner opened #7243 "VACOLS Integrations | Hearings for ROs/dates"
- Create VACOLS method that, given an array of master record ids, will pull the master records' associated children records with the following fields:
    -  id
    - veteran_name
    - appellant_name
    - appeal_type
    - docket_number
    - hearing_location
    - hearing_time
    - appeal_issue_count
    - veteran_street
    - veteran_city
    - veteran_state
    - veteran_zipcode
    - vbms_i

[2018-10-03 15:53] pkarman opened #7244 "AMA Intake | Disallow issue from being added multiple times"
Currently we allow the same issue to be added multiple times.

See #7205 and #6982

![screen shot 2018-10-03 at 10 51 38 am](https://user-images.githubusercontent.com/1205061/46422651-6e552e80-c6fa-11e8-8b80-92619478ca2a.png)

[2018-10-03 15:59] Chingujo opened #7245 "Case details - Assign hearing search"
As a user, I need to be able to select the RO and Hearing date if I get to the case details via search to assign the hearing.

### Acceptance Criteria
- [ ] Verify that when a user gets to the Veteran Case Details via the search, they launch the assign modal with dropdowns for the Regional Office and Hearing Date
- [ ] Verify the RO date dropdown is Select Regional Office
- [ ] Verify that the hea

[2018-10-03 16:27] pkarman commented on #7244
dupe of #7012

[2018-10-03 16:27] #7244 closed

[2018-10-03 16:28] aroltsch opened #7248 "[Bug] Do not allow judges to assign the same case to the same attorney as many times as they want from the case details page"

[2018-10-03 16:40] #6821 closed

[2018-10-03 16:47] evankroske commented on #7212
It seems like the only case affected is 3547786. We might be able to ask the judge who assigned the case to fix it using DAS.

[2018-10-03 17:00] #6780 closed

[2018-10-03 17:07] shanear commented on #7118
![screen shot 2018-10-03 at 1 04 43 pm](https://user-images.githubusercontent.com/1596259/46426651-30153a80-c70d-11e8-9cdc-c4c994b5d825.png)
i never thought i would see this day. so happy. 🙂

[2018-10-03 17:07] #7118 closed

[2018-10-03 17:09] shanear commented on #6987
![screen shot 2018-10-03 at 1 09 23 pm](https://user-images.githubusercontent.com/1596259/46426792-913d0e00-c70d-11e8-926c-b39c65634099.png)
copy checks out

[2018-10-03 17:09] #6987 closed

[2018-10-03 17:11] shanear commented on #6982
![screen shot 2018-10-03 at 1 10 33 pm](https://user-images.githubusercontent.com/1596259/46426879-d3664f80-c70d-11e8-84f1-442a8f5e21ba.png)
looking good

[2018-10-03 17:11] #6982 closed

[2018-10-03 17:14] shanear opened #7249 "Intake | What to show when veteran has no relationships and claimant is not veteran"
Right now, if the veteran has no relationships, and the claimant is not the veteran, we show this:

<img width="1139" alt="screen shot 2018-10-03 at 1 12 10 pm" src="https://user-images.githubusercontent.com/1596259/46427053-48d22000-c70e-11e8-9d06-8ed31348b350.png">

We prompt the user for a payee code, but don't allow them to select the claimant.

I believe what we need to do is:

When "Is the c

[2018-10-03 17:50] #7236 closed

[2018-10-03 17:58] oscarAtNava commented on #7243
I want to confirm the source of some of these fields

    -  id (child hearing)
    - veteran_name (appeal)
    - appellant_name (appeal)
    - appeal_type (appeal)
    - docket_number (appeal)
    - hearing_location (parent hearing
    - hearing_time (parent hearing)
    - appeal_issue_count (appeal)
    - veteran_street (appeal)
    - veteran_city (appeal)
    - veteran_state (appeal
    - veter

[2018-10-03 18:30] lisac-usds commented on #7177
hi @pkarman @shanear , could you give me a RampRefiling ID that works in the UAT or Prepared environments? I think it might help me to track what happens in the non-404 cases, to help debug the 404 case in prod. Thanks!

[2018-10-03 19:01] shanear commented on #7177
@lisac-usds

[code]

should get get you a contention to pass into `VBMSService.remove_contention!(contention)`

see:
<img width="1424" alt="screen shot 2018-10-03 at 2 55 32 pm" src="https://user-images.githubusercontent.com/1596259/46432490-6908db80-c71c-11e8-82ba-e953c370cf14.png">

[2018-10-03 19:35] mc-usds commented on #6221
service request id: SR-001373

[2018-10-03 19:53] lisac-usds commented on #7177
@shanear @pkarman is it noteworthy that `FeatureToggle.enabled?(:claims_service_v5)` is`true` in UAT (where we don't get a 404), whereas it's `false` in prod?

I noticed that discrepancy when tracking through the 404 stack trace on prod -
[code]
Looking at `remove_contention!` [L133](https://github.com/department-of-veterans-affairs/caseflow/blob/bb0a2a879b8817d805e4f886b7a131901a174b73/app/servic

[2018-10-03 20:10] pkarman commented on #7177
@lisac-usds it is noteworthy (I had noticed the same thing). I believe that we are not ready to use v5 in prod though, so toggling in UAT would be the most telling.

[2018-10-03 20:18] lisac-usds commented on #7177
thanks @pkarman. I ran into a hurdle testing this on UAT. Can you help me some more with this approach?
What it looks like to me: there are no more contentions available on which to try the `remove_contention!` -

[code]

Is it an option to add a contention to UAT, so that we can try this call with the `:claims_service_v5` disabled? I'm out of my depth with how to add a contention.

[2018-10-03 20:48] lowellrex opened #7254 "TaskEvents: A proposal for keeping track of activity on an appeal"
We currently use `Task`s to describe responsibility for completing the various actions it takes to process an appeal through the Board. This is proving to be a good model for meeting that objective, but less than ideal at the job of describing when they were taken and precisely what those actions were. I propose we adopt an additional model whose explicit purpose is tracking activity that has happ

[2018-10-03 20:59] lisac-usds commented on #7177
hey @pkarman , would you have time to pair on this tomorrow after 4pm ET? I'm getting an issue with the `request_issues` - it's a private method, something like that? - and fumbling in general.

I'm losing confidence that the 404s in prod tie back to a setting in the forward proxy, as that configuration is pretty consistent across environments. Other things on my mind: perhaps a certificate on our

[2018-10-03 21:11] evankroske commented on #7254
See also: [Turning the Database Inside Out](https://www.confluent.io/blog/turning-the-database-inside-out-with-apache-samza/)

[2018-10-03 21:15] #7057 closed

[2018-10-03 22:10] shanear commented on #6186
Validating this with the following EP:

[code]

[2018-10-03 22:29] shanear opened #7255 "AMA Intake | Update form names"
The form names have changed! We need to update them intake to match the names below:

## Acceptance Criteria
- The form types selection should represent the new form names (shown below) for the AMA forms. Those names should be reflected other places where the form is used (such as the review page)

## Copy
Decision Review Request: Supplemental Claim — VA Form 20-0995
Decision Review Request: Highe

[2018-10-03 22:46] shanear opened #7256 "Intake | Investigate how we can know if a rating came from a RAMP EP"
For a future issue eligibility story, we will need to be able to know whether a rating was created from a RAMP EP. I think it is possible to do this, we just need to find out how.

[2018-10-03 23:14] leikkisa commented on #7054
Test file numbers have been sent:
700032764
700032765
700032767
700032768
700032770
700032771
700032773
700032774

[2018-10-03 23:40] kencheeto commented on #6947
thanks, this will be easy and safe to change after BGS implements 6x35 support.

[2018-10-03 23:44] jiahuang commented on #7201
We discussed this and came to the conclusion that on submit we should:

1. Check the submitted_at & processed_at fields for a RequestIssuesUpdate
2. If the submitted_at field is filled but processed_at is not, make the submit action a no-op and flash an error message telling the user to wait a few min.

[2018-10-04 01:33] leikkisa commented on #6545
Test data set up on test file number 123458311, modifier 032

[2018-10-04 14:39] pkarman commented on #6942
looks like it re-ran with no error:
[code]

[2018-10-04 14:44] pkarman commented on #7201
Tech implementation note: could probably add an `submitted?` method to the `app/models/concerns/asyncable.rb` concern so you end up with:

[code]

[2018-10-04 14:46] lowellrex commented on #7254
@evankroske The `TaskEvent` model described above is precisely an append-only event log. In the near future the `TaskEvent` approach would only be adding roughly 10 million rows every year (with generous upper bounds of 100,000 appeals/year x 100 tasks/appeal if we put all events attached to an appeal in the log) which postgres could easily handle for a few years (though we will be doing lookups b

[2018-10-04 16:05] pkarman commented on #7177
v4 and v5 work in UAT:

[code]

[2018-10-04 16:16] mdbenjam opened #7261 "Add new documents prompt to the on_hold tab, but stop moving tasks between tabs as new mail comes in"
For the colocated queue we move things from on hold to in progress based on whether or not they have new documents. However this seems problematic since new documents are determined based on the last time the user has clicked into Reader. Here are two potential cases.
1) The user completes their task without clicking into Reader. They will always have *new documents*. So their task will never go t

[2018-10-04 16:46] #6586 closed

[2018-10-04 16:47] MeredithStewart commented on #6991
Closing this ticket, since search will be captured on another ticket. Creating new ticket for AMA flow research.

[2018-10-04 16:47] #6991 closed

[2018-10-04 17:04] MeredithStewart opened #7263 "Hearings Research -- AMA flow"
AMA appeals will need to flow through all of the processes within the Hearings Management Branch in Caseflow. Besides scheduling for hearings, they will also need ability to be put on hold, disposition marked, and transcription completed, and moved on in the appeals process.

We will need to develop the flow for AMA hearings, which will live entirely in Caseflow, and will not correspond to VACOLS

[2018-10-04 17:29] leikkisa commented on #6545
Looks like it's called cntntnId, and it's in rbaIssueContentions in RatingInformationService.

[2018-10-04 17:53] shanear commented on #6186
This is blowing up 😢

[code]

[2018-10-04 18:41] suzchap opened #7268 "AMA Edit | Add Issue Landing"
## Story
For any AMA forms, when a user needs to edit issues, they will click the "Edit in Caseflow" button in VBMS to return to the "Add issues landing page" where they will be able to add new issues and/or remove issues added previously. There are a few "are you sure?" type modals to help reduce errors. [Entire flow via Mural](https://app.mural.co/t/workqueue2001/m/workqueue2001/1537795938997/f5

[2018-10-04 18:41] shanear commented on #6221
Looks like we'll be waiting on an estimate of when this will be released to UAT. Earliest it could be released to prod would be with the December coordinated install.

[2018-10-04 18:43] suzchap opened #7269 "AMA Edit | Add Issue Landing | save functionality"
## Story
For any AMA forms, when a user needs to edit issues, they will click the "Edit in Caseflow" button in VBMS to return to the "Add issues landing page" where they will be able to add new issues and/or remove issues added previously. There are a few "are you sure" type modals to help reduce errors.

This ticket is focused on the landing page's save button and it's destination page.

requires

[2018-10-04 18:44] suzchap opened #7270 "AMA Edit | Add Issue Landing | Remove alert modal"
## Story
For any AMA forms, when a user needs to edit issues, they will click the "Edit in Caseflow" button in VBMS to return to the "Add issues landing page" where they will be able to add new issues and/or remove issues added previously. There are a few "are you sure?" type modals to help reduce errors. [Entire flow via Mural](https://app.mural.co/t/workqueue2001/m/workqueue2001/1537795938997/f5

[2018-10-04 18:45] suzchap opened #7271 "AMA Edit | Add Issue Landing | Unidentified issue alert modal"
## Story
For any AMA forms, when a user needs to edit issues, they will click the "Edit in Caseflow" button in VBMS to return to the "Add issues landing page" where they will be able to add new issues and/or remove issues added previously. There are a few "are you sure?" type modals to help reduce errors. [Entire flow via Mural](https://app.mural.co/t/workqueue2001/m/workqueue2001/1537795938997/f5

[2018-10-04 18:46] suzchap opened #7272 "AMA Edit | Add Issue Landing | Issue # change alert modal"
## Story
For any AMA forms, when a user needs to edit issues, they will click the "Edit in Caseflow" button in VBMS to return to the "Add issues landing page" where they will be able to add new issues and/or remove issues added previously. There are a few "are you sure?" type modals to help reduce errors. [Entire flow via Mural](https://app.mural.co/t/workqueue2001/m/workqueue2001/1537795938997/f5

[2018-10-04 18:47] suzchap opened #7273 "AMA Edit | Confirmation"
## Story
For any AMA forms, when a user needs to edit issues, they will click the "Edit in Caseflow" button in VBMS to return to the "Add issues landing page" where they will be able to add new issues and/or remove issues added previously. There are a few "are you sure?" type modals to help reduce errors. [Entire flow via Mural](https://app.mural.co/t/workqueue2001/m/workqueue2001/1537795938997/f5

[2018-10-04 18:49] shanear commented on #6938
This should be released to UAT by 10/8, instructions should have been sent from Joe on how to use that service.

[2018-10-04 19:10] mdbenjam commented on #7254
Some thoughts here.

1) Diary concerns me. From what I can tell VACOLS diaries became a place to store tons of different types of data. Maybe it's a necessary evil, but where possible I want to capture that kind of information in a more structured way.
2) Do users need to write this messaging? They may do that now with VACOLS, but do they still need to do with Caseflow? I'm not sure.
3) Is there a

[2018-10-04 20:11] suzchap opened #7276 "AMA Edit | Update edit canceled confirmation page copy"
## Story
For any AMA forms, when a user needs to edit issues, they will click the "Edit in Caseflow" button in VBMS to return to the "Add issues landing page" where they will be able to add new issues and/or remove issues added previously. There are a few "are you sure?" type modals to help reduce errors. [Entire flow via Mural](https://app.mural.co/t/workqueue2001/m/workqueue2001/1537795938997/f5

[2018-10-04 20:11] #7133 closed

[2018-10-04 20:15] leikkisa commented on #6938
Here's how the headers should look:
[code]
After it's been tested, we should let VBMS know so that they can switch it on.

[2018-10-04 20:56] leikkisa commented on #7054
If we get this error,  it means the ratings have to be part of an award and one hasn't yet been generated and authorized.

We still don't understand why some that have worked before broke, and other mysteries, but I am going to close this for now. It seems like this error should still cause an error in Caseflow, and if we need to fix it, we can have someone go into VBMS-A and generate and authoriz

[2018-10-04 21:09] leikkisa opened #7278 "Include the previous contention ID in request_issues"
If a rating is a result of a contention, the rating profile will have the contention ID.  When we save the request_issue, we should also save this contention id.

The field is in the response for BGSService.fetch_rating_profile, in "ratingIssues > rbaIssueContentions > cntntnId" when we fetch the rating profile.  The contention id is called cntntnId.

Here's a (simplified) example response:
[code]

[2018-10-04 21:13] suzchap commented on #7270
@shanear this modal should also appear via the summary during the original intake flow... so should that be added to this ticket or a new one created?

[2018-10-04 21:17] leikkisa commented on #6545
Created development ticket  #7278 and am closing this research ticket.

[2018-10-04 21:17] #6545 closed

[2018-10-04 21:35] #6703 closed

[2018-10-04 21:41] shanear commented on #6186
more blowing up:
[code]

[2018-10-04 21:48] lowellrex commented on #7254
1. Agree completely about trying to capture the events of an appeal in structured way. Maybe a `category` column could add some desired structure to this event log.
2. From what I understand, co-located staff email the assigning attorneys when they complete admin actions in VACOLS, so this would reduce the reliance on email for that regular task. Since folks who use Caseflow will continue to use o

[2018-10-04 23:02] lisac-usds commented on #7177
ooh, this is very interesting, @leikkisa ! I'd love for this to be a permissions / BGS-side thing. I'm stumped about what else to try on our end - it's unlikely to do with the value of `FeatureToggle.enabled?(:claims_service_v5)`, seeing Peter's debugging earlier today; and the only other thing I can think of that could come into play would be certificates, but... very odd that it would manifest i

[2018-10-04 23:05] leikkisa commented on #7177
@lisac-usds We just had a meeting with them today which is why I posted the above comment. So it's on the radar, but we should follow up with VBMS next

[2018-10-04 23:44] shanear commented on #6168
This didn't work 😢

PR incoming.

[2018-10-05 00:39] mdbenjam commented on #7254
For 2, if they still need the messaging, which it seems like they do then doing something like this seems preferable to having them use email.

[2018-10-05 15:13] suzchap opened #7289 "AMA Intake | Add Issue Landing | Include any issue "notes""
## Story
For any AMA forms, either during original intake or during the edit flow, when a user has included optional issue notes when adding rated, non-rated, or unidentified issues, those notes should be display on the Add Issues Landing page.

## Technical notes

## Acceptance criteria

- Rated, non-rated, and unidentified issues should appear consistently on intake and edit flows
- Notes, if pr

[2018-10-05 15:22] lowellrex opened #7290 "Complete QR access to Queue"
[We recently added](https://github.com/department-of-veterans-affairs/caseflow/pull/7281) an organization and task type for Quality Review, changed the judge checkout step to create an instance of the Quality Review task (instead of the BVA Dispatch task), and made it so completing a Quality Review task creates a BVA Dispatch task. As a result we are almost ready to roll Queue access our to the QR

[2018-10-05 16:19] suzchap opened #7291 "Add issue edge cases | Add Issue Landing | if duplicate lane"
## Story
When a user adds issues, they may encounter edge cases where the issue is ineligible. We will not indicate that an issue isn't eligible on any of the add issue selection pages but will indicate it on the Add issue landing page and Confirmation Page so they have the information they need to inform the applicant in the letter they send following intake data entry. If an issue is ineligible

[2018-10-05 16:48] suzchap opened #7292 "Add issue edge cases | if duplicate lane | only save in Caseflow"
## Story
For ALL AMA LANES: When a user adds issues, they may encounter edge cases where the issue is ineligible. We will not indicate that an issue isn't eligible on any of the add issue selection pages but will indicate it on the Add issue landing page and Confirmation Page so they have the information they need to inform the applicant in the letter they send following intake data entry. If an i

[2018-10-05 17:05] suzchap opened #7293 "Add issue edge cases | Add Issue Landing | Ineligible lanes after prior HLR"
## Story
When a user adds issues, they may encounter edge cases where the issue is ineligible. We will not indicate that an issue isn't eligible on any of the add issue selection pages but will indicate it on the Add issue landing page and Confirmation Page so they have the information they need to inform the applicant in the letter they send following intake data entry. If an issue is ineligible

[2018-10-05 17:26] MeredithStewart opened #7294 "Hearing Coordinators listed in View Schedule"
**User story:** Hearings Management Branch managers and hearing coordinators would like to see which Board hearing coordinators are managing each hearing, so that who is managing which hearings. This is helpful on the day of the hearing and if someone is out they can cover the hearings scheduled.

Note: Adding this to the view schedule helps eliminate a report function they currently have.

Needed

[2018-10-05 17:28] MeredithStewart commented on #7294
@Chingujo -- Over to you for a mock & acceptance criteria. Then it can get moved to backlog.

[2018-10-05 17:36] suzchap opened #7295 "Add issue edge cases | Confirmation | ineligible issues"

[2018-10-05 17:43] sharonwarner opened #7296 "Assign Hearings | Remove slots from navigation"
We should remove the number of slots from the navigation panel on the lefthand side.

<img width="339" alt="screen shot 2018-10-05 at 1 42 32 pm" src="https://user-images.githubusercontent.com/4306128/46550981-8bc5fc00-c8a4-11e8-8a43-ec96fde797d1.png">

[2018-10-05 17:48] sharonwarner opened #7297 "Assign Hearings | Appellant name"
We're currently displaying the veteran name on the Assign Hearings tab on the Assign Hearings page. That should be the appellant name. The format should be first_name last_name. No middle initial.

[2018-10-05 17:52] #5860 closed

[2018-10-05 18:02] suzchap commented on #7293
Note: this copy is slightly different than what I sent to AMA for fact checking just in that I rearranged it a little -- so if they have feedback on what was sent, we'll need to map it to this new formulation. Check with Shane before starting this ticket to see if they provided feedback and how to handle rewording task.

[2018-10-05 18:08] Sjones352 opened #7298 "Assign Hearings | Room information(St Petersburg and Winston-Salem)"
Currently we are showing two boxes for each day and both of them get highlighted together in St Petersburg and Winston-Salem . Remove one box and  show room-information for these Ros.

[2018-10-05 18:11] sharonwarner commented on #7106
I think instead of a banner, this should be a display that replaces the lefthand panel and the Scheduled/Assign Hearings tab. The way it's set up right now, if a user selects St Petersburg, and then selects Boise which doesn't have any upcoming hearing days, the dropdown would say Boise, but the upcoming hearing days displayed below would all be for St Petersburg.

[2018-10-05 18:13] suzchap opened #7299 "Add issue edge cases | Show all ratings on add issue modal, not just timely ones"
## Story
When a user adds issues, they may encounter edge cases where the issue is ineligible. We will not indicate that an issue isn't eligible on any of the add issue selection pages but will indicate it on the Add issue landing page and Confirmation Page so they have the information they need to inform the applicant in the letter they send following intake data entry. If an issue is ineligible

[2018-10-05 18:37] suzchap opened #7300 "Add issue edge cases | if untimely | Add issue landing page"

[2018-10-05 18:40] suzchap opened #7301 "Add issue edge cases | if untimely | untimely exemption"

[2018-10-05 18:41] suzchap commented on #7301
requires #7300
requires #7299

[2018-10-05 18:42] shanear commented on #7176
![screen shot 2018-10-05 at 2 42 09 pm](https://user-images.githubusercontent.com/1596259/46553974-e19ea200-c8ac-11e8-9b35-759e046f7cbd.png)
VBMS is looking okay, need to check Caseflow DB

[2018-10-05 18:43] shanear commented on #7028
works like a charm 🍀

[2018-10-05 18:43] #7028 closed

[2018-10-05 18:43] shanear commented on #7255
![screen shot 2018-10-05 at 2 27 48 pm](https://user-images.githubusercontent.com/1596259/46554025-0c88f600-c8ad-11e8-9d41-276018900660.png)
Checked here as well as a bunch more places. Looks great 👍

[2018-10-05 18:43] #7255 closed

[2018-10-05 18:45] shanear commented on #7012
<img width="495" alt="screen shot 2018-10-05 at 2 45 20 pm" src="https://user-images.githubusercontent.com/1596259/46554144-570a7280-c8ad-11e8-98ac-0fdad32b9def.png">
looking good

[2018-10-05 18:46] #7012 closed

[2018-10-05 18:47] shanear commented on #7240
Gonna validate this in prod by having Ivy retry the RAMPs that were failing

[2018-10-05 19:20] amprokop commented on #7290
@lowellrex — do those users have to navigate to ```caseflow.cf.ds.va.gov/queue/quality-review```

[2018-10-05 19:31] lowellrex commented on #7290
QR folks will have to go to `/organizations/quality-review` to view the team's queue.

As for seed data, I haven't added any yet since we don't know which field in the `vacols.staff` table we will be using to identify these folks. I was planning on adding seed data when I add the migration to create the row in the `staff_field_for_organizations` table. We could add that locally and create fake sta

[2018-10-05 19:35] suzchap opened #7303 "AMA Intake Confirmation | Happy path updated design"
(Not technically about the edge cases but needed to complete them.)

## Story
When a user adds issues, they may encounter edge cases where the issue is ineligible. We will not indicate that an issue isn't eligible on any of the add issue selection pages but will indicate it on the Add issue landing page and Confirmation Page so they have the information they need to inform the applicant in the let

[2018-10-05 19:45] amprokop commented on #7290
Sounds good! As long as we have some seeds for testing beforehand, that would be good.

[code]

Is this something we should ask Jed?

[2018-10-05 19:50] suzchap opened #7304 "Add issue edge cases | Confirmation | if Unidentified issue"
(Not technically about the edge cases but needed to complete them.)

## Story
When a user adds issues, they may encounter edge cases where the issue is ineligible. We will not indicate that an issue isn't eligible on any of the add issue selection pages but will indicate it on the Add issue landing page and Confirmation Page so they have the information they need to inform the applicant in the let

[2018-10-05 19:51] lowellrex commented on #7290
Yup! https://github.com/department-of-veterans-affairs/dsva-vacols/issues/42#issuecomment-427170744

[2018-10-05 20:00] mc-usds commented on #7199
Had a call with John regarding access to DocumentService. He said that Caseflow has access to the service on the Internal domain, but not the External domain.

I thought we were using the Internal domain and the only time we were going to the External domain was when we made calls to VBMS. If direct calls are going to Internal domain, we should have access.

I'm not sure why my test call was faili

[2018-10-05 21:08] pkarman commented on #7177
turns out the difference in UAT and prod is that UAT is not using the forward proxy.

in uat
[code]
but in prod
[code]

[2018-10-05 21:20] shanear commented on #6986
[code]

There they are 😄

[2018-10-05 21:20] #6986 closed

[2018-10-05 21:22] shanear opened #7306 "AMA Intake | Don't show "Notes:" on issues that don't have notes"
We are showing "Notes:" regardless of whether there are notes or not:

<img width="1035" alt="screen shot 2018-10-05 at 2 36 57 pm" src="https://user-images.githubusercontent.com/1596259/46560976-a5c30700-c8c3-11e8-90d6-33b6e9efe43f.png">

## Acceptance Criteria
- If there are no notes on an issue, don't show "Notes:" on the add issues page.

[2018-10-05 21:36] shanear commented on #6942
`pretty_inspect`! I'm totally gonna use that in the future lol

![screen shot 2018-10-05 at 5 35 31 pm](https://user-images.githubusercontent.com/1596259/46561313-13bbfe00-c8c5-11e8-8a3f-1a9701149155.png)

[2018-10-05 21:36] #6942 closed

[2018-10-05 21:37] shanear commented on #7176
confirmed this is connecting correctly in the DB as well :+1:

[2018-10-05 21:38] shanear commented on #7000
Validated this in all 3 lanes 👍

[2018-10-05 21:38] #7000 closed

[2018-10-05 21:44] shanear commented on #6205
Looks like this failed:

[code]

[2018-10-05 22:08] shanear commented on #7177
Yeah, BGS has to deploy individual services in prod. That's what the WSCR is for 🙂
https://github.com/department-of-veterans-affairs/caseflow/issues/7199

[2018-10-06 14:35] suzchap opened #7308 "Add issue edge cases | Confirmation | all ineligible issues"
## Story
When a user adds issues, they may encounter edge cases where the issue is ineligible. We will not indicate that an issue isn't eligible on any of the add issue selection pages but will indicate it on the Add issue landing page and Confirmation Page so they have the information they need to inform the applicant in the letter they send following intake data entry. If an issue is ineligible

[2018-10-06 15:42] suzchap commented on #7295
duplicate issue. closing.

[2018-10-06 15:42] #7295 closed

[2018-10-06 23:45] kencheeto commented on #7268
@shanear this means HLR and SC but not appeal, right? Since AMA appeals don't have end products?

[2018-10-07 00:05] kencheeto opened #7311 "AMA intake | Add Issue Landing | Remove alert modal"
## Story
For any AMA intake forms, we want to show an "Are you sure?" modal that shows anytime you click the "Remove" link. This is similar to https://github.com/department-of-veterans-affairs/caseflow/issues/7270, which is adding the same modal to the intake edit flow.

requires #7268

## Technical notes

## Acceptance criteria
- From the Add Issues Landing page, when you click "remove" a modal a

[2018-10-07 00:06] kencheeto commented on #7311
@suzchap @shanear should `The contention you selected will be removed from the EP in VBMS.` be removed from the modal, since during intake there is no EP yet?

[2018-10-07 00:06] kencheeto commented on #7270
They're quite small but it's worth breaking them up anyway. I took a stab here: https://github.com/department-of-veterans-affairs/caseflow/issues/7311

[2018-10-07 01:01] kencheeto commented on #7289
@suzchap @shanear the red here and in https://github.com/department-of-veterans-affairs/caseflow/issues/7293#event-1888622639 is a bit different - do you have a hex code to use or can we find the color in a style guide somewhere?

[2018-10-08 14:49] pkarman commented on #6205
interesting. The error message says:

which is the correct payee code if the veteran is deceased, which according to the record:

they are.

[2018-10-08 17:14] leikkisa commented on #7177
Ah, okay. So if we add a new service to connect_vbms, we should also add it to "appeals-deployment/ansible/vars/va-services.yml".  Very good to know.

[2018-10-08 17:42] leikkisa commented on #7199
Hmm, this doesn't make sense to me because it should be using the same URL as the rest of ruby-bgs (I'm guessing the internal domain).

Maybe he's confusing giving access with turning the service on.

[2018-10-08 18:20] leikkisa commented on #6205
I'm thinking the payee code for this intake should be "10" which is for Spouse the participant ID's claimant is that of the spouse).  The 02 payee code stands for: Second Payee Recipient | 2, no idea what that means.

At one point we had planned on filtering out the payee code list to just the relevant ones, so this seems like fixing this would be related to that ticket.
https://github.com/departm

[2018-10-08 18:31] pkarman commented on #6205
ah you're right @leikkisa -- I was conflating payee code and benefit type code (the latter is the topic of this ticket).

So the benefit type code is being set correctly, but the payee code is now not correct.

[2018-10-08 23:50] shanear commented on #7311
I'm not sure we want to do this for new intakes, since like you said, "The contention you selected will be removed from the EP in VBMS" will not happen.

[2018-10-09 00:11] shanear commented on #7273
The copy here does not reflect that the operation may not happen immediately.

[2018-10-09 00:22] leikkisa opened #7312 "Fix Cancel Intake on Add Issues page"
## Story
When on the Add Issues page, canceling the intake seems to redirect to /intake/add_issues instead of to /intake and does not render a page

## Acceptance criteria
Cancel intake from the add_issues page cancels the intake and redirects to /intake

[2018-10-09 13:42] suzchap commented on #7271
Ooops! Thanks for catching this. I went ahead and updated the mock to be the right one.

[2018-10-09 13:48] suzchap commented on #7311
Is there something useful I can say here instead or should we just cut that line? And do we want to cut it for both new intakes and edits?

[2018-10-09 14:05] suzchap commented on #7273
@shanear I was planning to update this version of the confirmation page in a following ticket to be done after #7308

[2018-10-09 14:18] suzchap opened #7313 "AMA Edit | Confirmation for HLR and SC"
## Story
For any AMA forms, when a user needs to edit issues, they will click the "Edit in Caseflow" button in VBMS to return to the "Add issues landing page" where they will be able to add new issues and/or remove issues added previously. There are a few "are you sure?" type modals to help reduce errors. Entire flow via [Mural](https://app.mural.co/t/workqueue2001/m/workqueue2001/1537791678087/94

[2018-10-09 14:36] suzchap commented on #7289
Good 👀 --- it's the red that's in the [caseflow style guide](http://www.caseflowdemo.com/styleguide) which looks to be #e31c3d

[2018-10-09 14:43] mkhandekar commented on #7016
Thanks @Chingujo!

### Open conversations for @sneha-pai and team to have:
* Discuss Hearing Schedule team's needs re: Search.
  * What information is needed for HS users?
  * Can we hone down on the essential columns and display the same results for Queue and Hearing Schedule users, to ensure as consistent of a user experience as possible?
  * If honing down is not possible, what should be done i

[2018-10-09 14:46] pkarman commented on #6988
If there are no predefined issues to connect on the first tab of the modal, should it automatically skip to the 2nd tab?

![screen shot 2018-10-09 at 9 38 32 am](https://user-images.githubusercontent.com/1205061/46677422-3a6d8380-cba8-11e8-9b1a-9a1ca6aac6a3.png)

[2018-10-09 14:51] suzchap commented on #6988
I think it should just skip to the unrated issue page but would like to check that with @shanear first. Only alternate I could think of would be to have a message that said no rated issues were found which seems like unnecessary work for the user to click through.

[2018-10-09 14:58] pkarman commented on #7177
Confirmed in UAT that enabling the forward proxy with the new envoy config works as expected:

[code]

[2018-10-09 15:36] aroltsch opened #7316 "[bug] Update Judge Task with the current judge"
We have been moving attorneys from one judge to another. What if there is already a JudgeTask and an AttorneyTask created. If we move this attorney to another judge, JudgeTask will still have the old judge assigned to it.

[2018-10-09 15:43] lowellrex commented on #6923
This work was completed in #7251.

[2018-10-09 15:43] #6923 closed

[2018-10-09 16:30] mc-usds commented on #7199
I followed up with John today. I'm reiterated that we are using the internal domain for direct calls to BGS and asked if the service is "on" in the domain. Waiting to hear back from their end.

[2018-10-09 17:34] shanear commented on #7268
yes, appeals will come in a later story

[2018-10-09 18:22] #7173 closed

[2018-10-09 18:40] leikkisa commented on #6938
Adding this comment from Joe:

I'm wondering if it would be possible to add these headers to all calls to the VBMS Claim Service? That may give a better perspective of the user is that is affecting the claim - since the point for BGS is to log which USER_XXXX created/updated a claim, contention, etc. Unless of course those are system-actions rather than user-actions then maybe that'd be a differen

[2018-10-09 18:41] shanear commented on #7177
I think we needed to keep the original 2 around.

[2018-10-09 19:04] evankroske opened #7320 "Caseflow creates duplicate Decass records"
There are a lot of duplicate Decass records in VACOLS that were created by Caseflow. We need to keep Caseflow from creating more and then delete the existing duplicates.

[2018-10-09 19:07] #7296 closed

[2018-10-09 19:17] pkarman opened #7323 "Fix undefined method bug in Rating model"
BGS may return a nil value instead of an empty list, in https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/rating.rb#L72 so we need a little defensive check there. Not sure whether it means we should raise an exception or return an empty array.

ref https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2531/

[2018-10-09 19:19] pkarman commented on #7178
@shanear by

did you mean? https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/higher_level_review.rb#L72

Or some where else?

[2018-10-09 19:42] leikkisa commented on #7323
We should raise an exception, returning an empty array would erroneously make it seem like there are no timely ratings for the Veteran.

[2018-10-09 19:54] shanear commented on #7178
Since it needs to happen for SC and HLR, probably a little further up the call stack. Like here: https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/claim_review.rb#L71

[2018-10-09 19:57] shanear commented on #7323
I think this was due to BGS returning the locked rating error. (it's still a 200 though)

[2018-10-09 20:11] shanear commented on #6186
Making this request to Colin for some new UAT test datas

File Number: 123458316
031 - Higher-Level Review Rating
DTA Error - Fed Recs: Service connection for Back is denied.
DTA Error - PMRs: Service connection for PTSD is granted with an evaluation of 30 percent effective October 1, 2017.

040 - Supplemental Claim Rating
Granted: Service connection for Back is denied.
Denied: Service connection

[2018-10-09 20:13] leikkisa commented on #7256
Here's the section in a rating profile which contains this information (note, this has been simplified a little).  I think the best way to go is to use the endPrdctTypeCd is equal to 682 or 683.
[code]

[2018-10-09 20:18] shanear commented on #7313
So there are a lot of awkward things that make this story weirder than it seems:

1. EPs aren't just updated, they can also be created or removed as a part of this action  (example: If all rating issues are removed as part of the edit, we'd remove the EP)  (another example: If the first non-rating issue was added to the HLR as part of the edit, we'll create a non rating EP)

2. Because of potentia

[2018-10-09 20:20] shanear commented on #7273
cool then we can close this one.

[2018-10-09 20:20] #7273 closed

[2018-10-09 20:27] shanear commented on #6149
subsumed by #7303, closing

[2018-10-09 20:27] #6149 closed

[2018-10-09 20:28] shanear commented on #5244
dup of https://github.com/department-of-veterans-affairs/caseflow/issues/7293, closing

[2018-10-09 20:28] #5244 closed

[2018-10-09 20:31] shanear commented on #7256
sweet, sounds good. I'll link this to the relevant issue.

[2018-10-09 20:31] #7256 closed

[2018-10-09 21:00] shanear commented on #5228
Duplicate of https://github.com/department-of-veterans-affairs/caseflow/issues/7292

[2018-10-09 21:00] #5228 closed

[2018-10-09 21:04] shanear commented on #7289
this is done. and the red & notes for unidentified issues is captured in https://github.com/department-of-veterans-affairs/caseflow/issues/6990

[2018-10-09 21:04] #7289 closed

[2018-10-09 21:08] shanear commented on #7300
- We are not accounting for the case where the issue "is ineligible because the decision was made before the Appeals Modernization Act go live date on Feb 14, 2019"

Here's a good reference for the timeliness rules:

A) If the rating issue is part of a RAMP decision,
then it is untimely if it's more than 1 year ago.
(also do not show the VACOLS matching step)

B) If a VACOLS issue is matched to th

[2018-10-09 21:08] shanear commented on #5499
dup of https://github.com/department-of-veterans-affairs/caseflow/issues/7300

[2018-10-09 21:08] #5499 closed

[2018-10-09 21:09] shanear commented on #6943
subsumed by https://github.com/department-of-veterans-affairs/caseflow/issues/7303 and https://github.com/department-of-veterans-affairs/caseflow/issues/7313

[2018-10-09 21:09] #6943 closed

[2018-10-09 21:16] shanear commented on #6205
<img width="887" alt="screen shot 2018-10-09 at 5 16 20 pm" src="https://user-images.githubusercontent.com/1596259/46699207-12514500-cbe7-11e8-909d-7d1cf532dd00.png">

Nice this works

[2018-10-09 21:16] #6205 closed

[2018-10-09 21:19] shanear commented on #7306
<img width="1074" alt="screen shot 2018-10-09 at 5 18 49 pm" src="https://user-images.githubusercontent.com/1596259/46699313-69efb080-cbe7-11e8-954c-d41e99f5bd21.png">
works like a charm

[2018-10-09 21:19] #7306 closed

[2018-10-09 21:20] shanear commented on #7014
<img width="508" alt="screen shot 2018-10-09 at 5 19 45 pm" src="https://user-images.githubusercontent.com/1596259/46699379-9e636c80-cbe7-11e8-846d-3b4eab31ba92.png">

got there

[2018-10-09 21:20] #7014 closed

[2018-10-09 21:31] shanear commented on #6218
dup, closing

[2018-10-09 21:31] #6218 closed

[2018-10-09 21:31] shanear commented on #6508
dup, closing

[2018-10-09 21:31] #6508 closed

[2018-10-09 21:32] shanear commented on #6216
dup of #7313

[2018-10-09 21:32] #6216 closed

[2018-10-09 22:09] shanear commented on #6988
really good point. I think we need to do some thinking around this, we'll create a follow up issue to support this scenario.

[2018-10-09 22:21] kencheeto commented on #7291
@shanear how do we tell if an issue is already being requested in another AMA lane?

[2018-10-09 22:21] laurjpeterson commented on #7254
I appreciate you separating and defining two entities that I have been referring to both as "notes".
- Diary: Recording actions taken on an appeal that do not result in a change to a task's state.
- Messaging: Communicating from the assignee to the assigner why a task was marked as complete.

Would these two entities populate an equivalent field in the TaskEvent idea, or two separate fields? (I ma

[2018-10-09 22:53] kencheeto commented on #7293
same q as before - how do we know which issues were already processed?

[2018-10-09 23:08] shanear commented on #7291
There is a request issue with the same rating_issue_reference_id is on an active decision review (Appeal, SC, HLR).

For non rating issues, we'll probably need to show open issues as options. @suzchap have you worked on this at all?

[2018-10-09 23:53] kencheeto commented on #7291
okay - I left a technical note about that because i don't think the client currently knows which issues are ineligible or not. let me know if that's off base