[2019-03-04 15:08] lowellrex commented on #9748
Related to #9740.

[2019-03-04 15:31] Chingujo commented on #9501
closing since we are getting this data from appeal status

[2019-03-04 15:31] #9501 closed

[2019-03-04 15:31] Chingujo commented on #9500
closing will be only one ticket

[2019-03-04 16:05] sharonwarner opened #9750 "Hearing tasks | Add labels for Case Details page"
![timeline](https://user-images.githubusercontent.com/4306128/53745604-4fa3c100-3e6d-11e9-8f40-de1c1af90304.png)

The timeline on the case details page displays the name of the task unless a label is explicitly defined. We should define labels for the tasks we've created for hearings.

[2019-03-04 16:36] sharonwarner opened #9751 "Unskip hearings feature tests"

[2019-03-04 16:41] #9594 closed

[2019-03-04 16:53] Chingujo opened #9752 "Display hearing docket date in Legacy tab of Schedule Veterans"
As a hearing coordinator, I need to be able to see when I am scheduling within the docket hearing date to ensure that I maintain the integrity of docket order and ranges.

### Acceptance Criteria
- [ ] Verify that we are reading the hearing docket date from Appeal Status
- [ ] Verify that there is a link with the hearing docket date that updates via changes detected in appeals status
- [ ] Verify

[2019-03-04 16:56] Chingujo opened #9753 "Daily Docket Range Line AMA"
As a hearing coordinator, I need to know what dates to schedule for in the AMA Veterans tab based on the Caseflow Algorithm.

### Acceptance Criteria
- [ ] Verify that we are dispalying the current schedule date based on the Case Distribution algorithm.
- [ ] Verify that we show a gray HZ line with the following copy:
 - Schedule for [date] [year]
- [ ] Verify that line updates as needed to reflec

[2019-03-04 16:56] youngfreezyVA commented on #9332
have been unable to reproduce this. theory is that attorney actually clicked add another action and then submitted the modal @tomas-nava

[2019-03-04 16:59] Chingujo opened #9754 "Scheduling out of hearing docket date warning"
As a hearing coordinator, I want to be warned from scheduling outside the hearing docket date for legacy appeals to maintain docket range and docket order.

### Acceptance Criteria
- [ ] Verify that if the user tries to schedule a veteran outside of the docket date, we render a warning in the schedule veterans modal. Note: This should be in color yellow (not red).
- [ ] Verify the following copy:

[2019-03-04 17:14] Chingujo opened #9755 "No Veterans to Schedule Error"
As a hearing coordinator, i need to see an error when there are no Veterans to schedule for that day while still seeing the pool of schedulable veterans when I select those days.

### Acceptance Criteria
- [ ] Verify that if there is no available hearing days, the user sees an error for that RO in the table.
- [ ] Verify the following copy:
 - Title: This RO has no available hearing days
 - Body:

[2019-03-04 17:25] MeredithStewart opened #9756 "Remove Wilmington DE from Schedule Veteran Views"
Wilmington, DE Veterans are now mapped to the Philadelphia RO for hearings.

We need to remove Wilmington, DE from the drop down of ROs in the Schedule Veterans View.

### Related tickets
* #9755 - No Veterans to schedule error
* https://github.com/department-of-veterans-affairs/caseflow/issues/11091

[2019-03-04 17:26] Sjones352 commented on #9471
Looks like this issue has been resolved in this ticket https://github.com/department-of-veterans-affairs/caseflow/commit/ed479a8e11c9e7e6c36bf544aa77473958db3136

[2019-03-04 17:52] lowellrex opened #9757 "Limit queue table view for Field VSOs to tracking tasks tab"
#9647 added the ability to easily create `FieldVso`s. This ticket exists to make it so their queue table view only shows the "All Cases" tab and none of the other tabs.

## Acceptance criteria
* [ ] Create new `QueueTab` class
* [ ] Only show the "All cases" tab in the organizational queue view for these VSOs
* [ ] Hide tab when there is only a single tab being shown

[2019-03-04 17:52] lowellrex commented on #9647
Closing this out. Work will continue in #9757.

[2019-03-04 17:52] #9647 closed

[2019-03-04 18:40] tomas-nava commented on #9538
Closed with #9683 and #9710

[2019-03-04 18:40] #9538 closed

[2019-03-04 18:50] tomas-nava commented on #9332
Can we put together a query that'll help us figure out whether this has happened more than once?

[2019-03-04 18:50] ShellySmithDSVA opened #9758 "Foreign Veterans Task Flow"
## User Stories
As a Hearings Branch user, I need to be able to investigate a case where a Veteran lives outside the United States and territories, assign them an regional office, and make sure their case is able to be scheduled.

As a Hearings Branch user, I need to make sure I can assign a RO and make notes on the case so that the Veteran's scheduling preferences are captured.

## Mocks
See the

[2019-03-04 19:32] #9283 closed

[2019-03-04 20:27] marvokdolor-gov opened #9761 "VSO concern with Caseflow"
### Concerns from American Legion user:

1. They cannot assign cases to users (users list is blank)  (_from Marvo: not sure they have that functionality yet_)
2. They do not have the 'Switch Views' option on the main page. (_again, I think this is simply functionality they don't have just yet_)

**Sample cases:**
- https://appeals.cf.ds.va.gov/queue/appeals/1e3a26ad-659c-4384-9a72-62ba6863f979
- h

[2019-03-04 21:22] nicholasholtz opened #9764 "Duplicatively intooken appeal - needs removal"
Alex, please remove when you have the chance. https://appeals.cf.ds.va.gov/queue/appeals/42301c36-31c3-443c-8eb9-93d49a83ca83

[2019-03-04 21:27] lowellrex commented on #9693
In addition, the "Assign to person" action has no selectable options because we don't retain the list of members in VSOs in our database and therefore return an empty list [when we build the list of possible assignees](https://github.com/department-of-veterans-affairs/caseflow/blob/ef8465713ffe34056de42b278b6582b504fced02/app/models/task.rb#L283).

Related slack discussion: https://dsva.slack.com/

[2019-03-04 21:27] lowellrex commented on #9761
Closing in favor of #9693.

[2019-03-04 21:27] #9761 closed

[2019-03-04 21:27] marvokdolor-gov commented on #8636
**Update 3/4**: Before reaching out to them, it looks like this issue should be closed: #9693.

[2019-03-04 21:37] nicholasholtz commented on #9527
@lowellrex @laurjpeterson @msj0nes

I received a call from OGC today. They are going to provide new guidance on what access should look like for the private bar. Any tickets around private attorney access should be put on hold for the time being.

[2019-03-04 22:10] pkarman opened #9767 "Intake | Treat closed request issues like processed for decision sync hook"
When a Higher-Level Review has all its request issues processed, then it will trigger the `on_decision_issues_sync_processed` hook.

The check should look for `processed?` or `closed?` since request issues that are already closed will never be processed.

## Validation steps

* Create HLR with one issue
* Edit the HLR, removing the issue and adding a different one
* In VBMS, create DTA decision fo

[2019-03-04 22:19] carolaponce opened #9769 "Withdrawing issues/Removing reviews copy"
Removing reviews  | Withdrawing reviews | Withdrawing issues alert messages copy.  Using this issue to collect feedback on messaging copy.
Goals:
- User understand alerts and can make a decision what they need to do next.
- Messages are consistent throughout Caseflow (voice, language, brand...etc).

[2019-03-04 22:20] carolaponce commented on #9178
Issue to collect feedback on copy #9769

[2019-03-04 22:23] carolaponce commented on #9769
| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
| zebra stripes | are neat      |    $1 |

[2019-03-04 22:29] #9459 closed

[2019-03-04 22:33] pkarman opened #9772 "Intake | Nonrating request issues should not attempt to fetch rating issues on decision sync"
When calling `.sync_decision_issues!` on a nonrating request issue, avoid calling `end_product_establishment.associated_rating` since there will not be an associated rating and it will likely throw a NilRatingProfileError.

[2019-03-04 22:38] lowellrex commented on #9621
@annekainicUSDS I think you're totally correct! I think we could merge the work from #9620 without this backend work, but should definitely hold off on merging #9622 until this work is done.

What the structure of the data passed to this endpoint will need to be determined, and I think we can do that work in this ticket or in #9620, whichever comes first.

[2019-03-04 22:40] oscarAtNava commented on #9750
@MeredithStewart  For Hearing and Disposition tasks, we probably do not want to repeat the word Task in the label, but by themselves the words Hearing and Disposition do not mean much. Any idea on better worded labels?

[2019-03-04 23:08] #9721 closed

[2019-03-04 23:13] sharonwarner opened #9774 "Performance | Daily docket load time"
The daily docket queries need to be optimized.

[2019-03-04 23:15] carolaponce commented on #9769
![remove_review_appeal](https://user-images.githubusercontent.com/11700545/53769295-5263dd80-3e90-11e9-8e46-ffe5cdab8799.png)

[2019-03-04 23:15] carolaponce commented on #9769
![remove_review_hlr-sc](https://user-images.githubusercontent.com/11700545/53769308-5e4f9f80-3e90-11e9-88ec-7e859b523131.png)

[2019-03-04 23:22] carolaponce commented on #9769
|Option:1          | Remove Review/appeal/intake          |
| :------------- |:--------------------------|
| Use-case | User removes all issues from a review or appeal (NOD) and the review/appeal gets removed from system. Information about removed issues will still be available in database, but user could not see them all based on intake data. |
| Copy for  NOD     | Title: Remove review?  </br> C

[2019-03-04 23:23] leikkisa commented on #9709
I'm going to pair with Sandra on this tomorrow.

[2019-03-04 23:43] #9626 closed

[2019-03-04 23:45] carolaponce commented on #9769
![edit issues withdrawn review copy 4](https://user-images.githubusercontent.com/11700545/53770598-9822a500-3e94-11e9-88ad-7f60dd28e318.png)

[2019-03-04 23:46] carolaponce commented on #9769
![withdraw option3 copy 31](https://user-images.githubusercontent.com/11700545/53770623-b12b5600-3e94-11e9-909c-e96487b81231.png)

[2019-03-04 23:49] pkarman commented on #9471
nice!

[2019-03-04 23:49] #9471 closed

[2019-03-04 23:54] carolaponce commented on #9769
|Option:2          |  Withdrawing issues         |
| :------------- |:--------------------------|
| Use-case | User receives request from veteran to withdraw issue(s) |
| Copy     | Title: Withdraw issue?  </br> Copy: If a Veteran or Claimant has requested to withdraw this issue from their review, Caseflow will close all open task in this issue.  Please include the date the withdrawl was requested

[2019-03-04 23:54] carolaponce commented on #9769
|Option:3          | Remove Review/appeal/intake          |
| :------------- |:--------------------------|
| Use-case | User removes all issues from a review or appeal (NOD) and the review/appeal gets removed from system. Information about removed issues will still be available in database, but user could not see them all based on intake data. |
| Copy for  NOD     | Title: Remove review?  </br> C

[2019-03-05 00:01] carolaponce commented on #9769
Larger exploration of these features (WIP)
https://app.mural.co/invitation/mural/workqueue2001/1548889159757?sender=caroladsva8096&key=45119eda-58e5-44f5-b46a-58cceee94985

[2019-03-05 04:27] monfresh opened #9775 "[Tech spec] Move business logic out of controllers and into specialized classes"
**Why**: Having small controllers whose primary concern is to send data to the view has been adopted as a best practice for a long time in the Rails community. To keep controllers small, consistent, and easier to understand, business logic should live in other classes.

References:
https://thoughtbot.com/blog/skinny-controllers-skinny-models
https://www.rubytapas.com/2017/04/11/skinny-controller-d

[2019-03-05 14:50] #9316 closed

[2019-03-05 15:07] leikkisa opened #9778 "Allow the establishment of spina bifida claims"
### Story
From Jane Chi:
Currently Caseflow does not allow for the establishment of spina bifida claims for Veteran's children and grandchildren.  For children, the first child's payee code is 11 and then 12, 13, etc for each subsequent child.  For grandchildren, the payee code is also 11 but there is a running EP400 to track these claims in VBMS.  VBMS will link the spina bifida child to the Vete

[2019-03-05 15:24] oscarAtNava opened #9780 "Suggested Hearing Location dropdown not sorted by distance"
The Suggested Hearing Location dropdown in the Schedule Veteran modal is sorted by available_hearing_locations id and not by distance. It should be sorted by distance ascending.

[2019-03-05 15:30] #9751 closed

[2019-03-05 15:47] MeredithStewart commented on #9750
Here's what I'm thinking:

For hearing task:
Label: All hearing-related tasks
Instructions: This task will be completed when all hearing-related tasks have been completed.

For disposition task:
Label: Hearing disposition to be selected
Instructions: This task will be completed when a disposition for the hearing (Held, Canceled, No Show, Postponed) is selected.

For schedule Hearing task
Label: Sc

[2019-03-05 15:51] lowellrex opened #9781 "Remove cases from attorneys' queues when schedule hearing admin actions are created"
## 🚫 Blocked by
- [x] Change routing of admin actions #11113
#11113 is still up in the air on how we will automatically route schedule hearing admin actions and whether to automatically create a ScheduleHearingTask and HearingTask which should be decided before we plan on what to do with the parent AttorneyTask.

When an attorney creates an admin action to schedule a hearing that attorney is not g

[2019-03-05 15:59] cmgiven commented on #9201
I believe this is describing an event, not a status? Only events have dates.

[2019-03-05 16:00] cmgiven commented on #9480
I believe this is a status, not an alert?

A status is used to describe what's currently happening on an appeal. An alert is used to describe an action that the Veteran can take.

[2019-03-05 16:06] leikkisa commented on #9709
So if the gender is undifferentiated, we don't want to pass a gender attribute at all in the claim_hash in connect_vbms (meaning we should make it an optional argument).

[2019-03-05 16:14] nicholasholtz opened #9782 "Update the case distribution algorithm to soften limit based on pending cases"
The Board has requested changes to the automatic case distribution limitations based on the amount of time cases have been assigned to a judge pending distribution.

Right now, judges can request more cases if they have 8 or fewer cases in their assign queue, but cannot request more cases if they have 1+ cases that have been in their assign queue for 2 weeks (14 days) or more. The Board would like

[2019-03-05 16:14] lowellrex commented on #9603
We can take advantage of the new Caseflow team management page at `http://appeals.cf.ds.va.gov/team_management` to create and update organizations like judge teams and VSOs. Currently only @marvokdolor-gov has access to this page, but we can get anybody access to that page when needed!

[2019-03-05 16:22] pkarman opened #9784 "Intake | Add EP comparison to EPE sync"
Currently an End Product for HLR or SC may change code type upstream in VBMS and the EPE in Caseflow would have the wrong claim type and code. E.g. https://github.com/department-of-veterans-affairs/appeals-support/issues/4332

Add a check as part of the regular status sync that compares the code on the EP against the EPE code and verify they still match. That will at least give us advance notice t

[2019-03-05 16:27] marvokdolor-gov commented on #9201
Ah, thank you. Updated to remove date. Is it good to go?

[2019-03-05 16:29] marvokdolor-gov commented on #9480
Makes sense.
Mind updating the sample code to line up with the correct approach please?

[2019-03-05 16:29] lowellrex opened #9785 "Hide duplicate organization tasks from Task Snapshot"
Currently we display all active tasks in the task snapshot. This results in us displaying some tasks assigned to organizations that duplicate their child tasks assigned to real people (see example below). We should hide these tasks from the task snapshot when there are no actions available for those tasks. We have [an existing ticket](https://github.com/department-of-veterans-affairs/caseflow/issu

[2019-03-05 16:46] cmgiven commented on #9201
Yup!

[2019-03-05 16:50] cmgiven commented on #9480
I'm not clear on what the issue is for. Looks like we already have the status. Is this maybe indicating that the `amaPostDecision` alert does not currently appear for VBA effectuation of Board decisions?

[2019-03-05 16:52] marvokdolor-gov commented on #9480
@mc-usds mind chiming in here whenever you have a minute please?

[2019-03-05 17:03] lowellrex commented on #9775
I'm generally wary of assuming new software design patterns and this appears to be a pretty heavyweight new pattern that has plenty of very solid benefits (taking advantage of Rails validations is particularly clever) but I'm curious if these goals can't be accomplished using the existing patterns in the application.

From a high-level this proposed approach separates the jobs we ask our controlle

[2019-03-05 18:27] leikkisa commented on #9556
Due to https://github.com/department-of-veterans-affairs/caseflow/issues/9767, I would like to do this migration sooner than later, even if that means we have to do it again one after Shane is done backfilling decision issue data.

[2019-03-05 18:44] jiahuang commented on #8953
Error also occurred for not being able to find a hlr:

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3961/

[2019-03-05 18:50] shanear opened #9789 "Issues with timeliness exceptions aren't showing up in Queue"
After migrating all the prior decisions, there are a couple issues remaining that do not have decisions. The thing these issues have in common are that they were untimely, but have exceptions.

It looks like they are not showing up as eligible issues in Queue.

## Technical notes
I believe the reason is because `ineligible_reason` is set, and that's the criteria queue is using to determine whether

[2019-03-05 19:36] oscarAtNava commented on #9656
470 duplicated tasks were created during the period of March 2nd at 7 pm to March 3rd at 6 am. These dates are Saturday and Sunday. 60 other dupe tasks were created on March 5th at 5 am. There were 13 dupe tasks created for one appeal on Feb 26th and this seems to be the only one created during business hours. Does this point to the batch job generating these items?
See this file for the raw data.

[2019-03-05 19:40] pkarman commented on #9195
@carolaponce to follow up on this.

[2019-03-05 19:47] lomaxap commented on #9656
Yes, that sounds right to me. It sounds like the job isn't properly excluding appeals with existing VerifyAddress admin actions. [This is the SQL](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/jobs/fetch_hearing_locations_for_veterans_job.rb#L11-L27) that determines which appeals to geomatch. It _should_ be excluding all appeals that have an active `HearingAdminActionV

[2019-03-05 20:15] leikkisa opened #9793 "Add created_at and updated_at to active models"
If a table doesn't have updated_at and created_at already, add those fields to our tables

[2019-03-05 20:20] pkarman commented on #9142
can probably validate #9303 and this one together.

[2019-03-05 20:23] pkarman commented on #9772
When #9142 is validated, this one is too.

[2019-03-05 20:47] leikkisa commented on #9789
Issue 4568 is ineligible because it is from before_ama

Issue 4725 has a timeliness_exemption of false, but it does has timeliness_exemption_notes filled out with "This issue was raised in conjunction with the IR claim on appeal in the context of Rice "

There are no request issues with timeliness_exemption set to true that have an ineligible_reason of "untimely".  So there isn't really a bug here

[2019-03-05 20:49] pkarman opened #9794 "Intake | DTA SC should have delayed submit_for_processing"
Supplemental claims created as the result of a DTA decision may have a decision date in the future and should have an explicit delay in their `submit_for_processing` call.

### Validation
1. Create a HLR or SC with a benefit type that is not compensation or pension
2. Add a nonrating issue
3. Go to the non-compensation page and make a decision on that issue that is a DTA error, with a decision dat

[2019-03-05 20:51] pkarman opened #9795 "Intake | Bust cache on Veteran multiple phone exception"
When a Veteran suffers from the multiple active phone exception, bust the cache on the `can_access?` BGS call so that if a user fixes the problem in SHARE, they do not need to wait for 24 hours to proceed in Caseflow.

[2019-03-05 20:52] pkarman opened #9796 "Intake | Check feature flags in demo"
The caseflow demo sites should have feature flags in sync with UAT and production so that training materials reflect the same UI.

cc @wturne

[2019-03-05 21:04] pkarman opened #9799 "Intake | Turn off transient upstream errors in Slack"
Increase the signal-to-noise ratio in #appeals-intake-alerts channel and do not log Sentry alerts for Intake-specific errors that look like transient upstream problems.

If we experience these errors during async jobs, they will retry automatically.

If we experience these errors during sync web interaction, we should send a nice message to the user asking them to try again.

Team discussion lead

[2019-03-05 21:16] pkarman opened #9800 "Intake | Remove non-existent contention error"
See https://dsva.slack.com/archives/CCB97HZJL/p1551815313002300

We get a 'NoMethodError` Ruby exception when we attempt to remove a contention that does not exist.

There are multiple ways forward on this and it is unclear why this is happening.

It might be possible to edit a claim review multiple times and queue multiple RequestIssuesUpdate jobs to remove the same contention.

We should flag is

[2019-03-05 21:33] leikkisa opened #9802 "Inquire about Converted Backfilled ratings"
After we get a handful of Converted or Backfilled ratings reported in Sentry, collect them and ask Linda to check in on them and let us know what they are for, and their dates.

Part of the reason for this is because we want to check that they are not converted from the old system, and therefore potentially technically equivalent to promulgated ratings even if they aren't promulgated in the new sy

[2019-03-05 22:04] marvokdolor-gov commented on #9603
@msj0nes mind going into the table above and seeing if you can track down any answers for us please?
Once I have those, we should be able to complete all the new teams!

[2019-03-05 22:14] youngfreezyVA commented on #9332
@lowellrex and I paired and ran multiple queries and verified that this hasn't happened since February 6th. We will keep monitoring, if we need to manually remove the duplicate entries we can, so far have been unable to reproduce locally.

[2019-03-05 22:51] msj0nes commented on #9603
@marvokdolor-gov we added the participant IDs from a data sheet provided by BGS. Im unsure the avenue to take for those BGS could not provide since most of the organizations were unsure of what a 'participant ID' is.

[2019-03-05 22:58] sharonwarner opened #9804 "Daily Docket | Remove autosave"
AC:
- [ ] Remove auto save from hearing prep

[2019-03-05 23:30] #9512 closed

[2019-03-05 23:50] #9782 closed

[2019-03-06 15:30] mc-usds commented on #9480
Oh this was for effectuations that do not have an EP.  At the time I wasn't sure if there needed to be an alert for that case. My understanding is that we will only include an effectuation alert if the effectuation has an EP in VBMS.

Closing this.

[2019-03-06 15:30] #9480 closed

[2019-03-06 15:48] marvokdolor-gov commented on #9349
Resolved by a sierra ticket related to DTA. Marvo to track down issue #.
Closing.

[2019-03-06 15:48] #9349 closed

[2019-03-06 16:01] aroltsch commented on #9330
@youngfreezy do you think we could merge #1 and #2 if you already have a fix for it?

[2019-03-06 16:01] lowellrex commented on #9725
Duplicated existing ticket #9693. Closing this one in favor of that ticket.

[2019-03-06 16:01] #9725 closed

[2019-03-06 16:28] aroltsch opened #9808 "New documents and document count issues"
### Context
We have seen a lot of support tickets and 500 errors for these two particular endpoints.

### Document count
Inaccuracy between VBMS and Caseflow nightly cached documents.

Solution: always query for VBMS for this endpoint. Implement batch processing to improve performance.

### New Documents
The code logic is very complex and has a lot of conditions.  We need to think of ways to simpl

[2019-03-06 16:29] lowellrex opened #9809 "Hide "Assign to person" option from VSO tasks"
VSO users are associated with teams through BGS, not our `organizations_users` table. As a result there are no options available for tasks assigned to VSOs when a VSO employee selects the "Assign to person" action because that field uses the `organizations_users` table to populate that list.

## Acceptance criteria
* [ ] Hide "Assign to person" option from tasks assigned to VSOs until #9693 is com

[2019-03-06 16:31] leikkisa commented on #9623
I'm finding that the Ramp Elections for this user on that day that are missing an end_product_description are either canceled or have an error of "connected_preexisting_ep". If there's connected_preexisting_ep, there is a still a RampElection that says it was established, and there's no End Product Establishment, but if you call End Product Establishment on that Ramp Election it creates a temporar

[2019-03-06 16:47] sharonwarner opened #9810 "Daily Docket | Disposition updates"
AC:
- [ ] Remove postpone functionality from hearing schedule daily docket
- [ ] Add warning when saving a disposition through hearing schedule for a hearing/appeal that's being tracked in Caseflow (i.e. doesn't have a DispositionTask) that the location will have to be updated in VACOLS
- [ ] Add warnings when saving a disposition through hearing schedule and hearing prep that the disposition will

[2019-03-06 16:47] nicholasholtz opened #9811 "Pension Intake: Add selectable forms for SCs during intake process"
Daniel McCargar from VBA's pension LOB provided the following:

In discussions with AMO, we’ve determined that we need a couple of enhancements to Caseflow to make it fully work for our business line.  Namely, we need to add selectable forms for Supplemental Claims during the intake process:

21P-527EZ/21P-527
21P-534EZ/21P-534
21P-535

[2019-03-06 17:03] sharonwarner opened #9812 "Data backfill | Disposition updates"
AC:
- [ ] Confirm that all video hearings post April 1st have HearingTaskAssociations
- [ ] Confirm all video hearing prior to April 1st do not
- [ ] Confirm that all CO hearings with DispositionTasks have HearingTaskAssociations
- [ ] Confirm that there are no stale HearingTaskAssociations (hearings that were postponed through the Caseflow daily docket will be out of date)
- [ ] Confirm any appea

[2019-03-06 17:25] #9242 closed

[2019-03-06 17:55] #9656 closed

[2019-03-06 19:52] laurjpeterson commented on #9781
I agree with cancelling the AttorneyTask and JudgeTask associated with the case. After the hearing is held, the case will be re-distributed, and go to the judge who held the hearing.

[2019-03-06 20:25] ShellySmithDSVA opened #9814 "Bug: Indiana RO Not Loading Hearing Dates In Modal"
Indianapolis RO is not loading hearing days in the Schedule Veterans modal for any veterans in the schedule list. See any Veteran listed in the Legacy or AMA lists to repeat this error. Dates never load.

https://appeals.cf.ds.va.gov/hearings/schedule/assign?roValue=RO26

[2019-03-06 20:38] pkarman opened #9815 "Intake | Investigate sentry alerts to non-intake channels"
e.g. https://dsva.slack.com/archives/C4JECDLSE/p1551896263038400

It may be we need to set the Raven application in the edit claim page.

[2019-03-06 20:46] pkarman opened #9816 "Intake | Legacy opt-in modal multi-click fails to register "None of these match""
In the Legacy issue (VACOLS) opt-in modal during intake, if you:

* click on an issue radio button
* then click change to the "None of these match" radio button
* then click Add Issue

it will fail to register the None of these match and instead apply an eligibility error based on the first selected radio button issue.

We observed this during an Intake ridealong.

[2019-03-06 20:49] lomaxap commented on #9814
Looks like a latency issue. Dropdown occasionally loaded in under 15 seconds, but Indianapolis is oddly taking longer than other ROs with the same number of upcoming hearings or more. Probably worth looking into the performance of [`open_hearing_days_with_hearings_hash`](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/hearing_day.rb#L147)

[2019-03-06 20:53] leikkisa opened #9817 "Return Locked Ratings"
### Story
A Locked Rating means the rating is being worked on. If a Veteran has a Locked Rating, and regular promulgated ratings, we'll just get the regular promulgated ratings.  If a Veteran only has a Locked Rating, we get an error, and catch it and let the Intake proceed with no ratings.

We've been told by BGS that Locked Ratings shouldn't be shown because since they are still being worked on,

[2019-03-06 20:57] leikkisa commented on #7385
I am re-opening this, because we may want to let the user know that there was a locked rating (even if there were regular promulgated ratings), because maybe those do have issues that can be intaken.

related https://github.com/department-of-veterans-affairs/caseflow/issues/9817

[2019-03-06 21:00] leikkisa commented on #9794
We do not allow receipt_dates in the future for Decision Reviews, and the receipt_dates are set to the decision_date, which can be in the future. This makes the specific issue above not a problem.  From what I've seen in appeals, if a decision_issue is created, the remand supplemental claim doesn't seem to be created or processed until after that date has arrived.

I need to check what happens in

[2019-03-06 21:02] aroltsch opened #9818 "Track when we delete decision issues"
We should track decision issues that we delete

Options:
1. Introduce a separate table the same as request_issues_updates
2. Introduce soft delete to decision_issues table

[2019-03-06 21:02] lowellrex commented on #9808
Perfectly stated summary of our current situation, @aroltsch! That's for writing this up so concisely.

My ranked preference for the 4 options you lay out are as follows:
2. **Completely get rid of this icon for now.** I'm not sure this is tenable from a product perspective but I think this approach is the most technically appetizing approach.
1. **Always query VBMS for all pages.** Responses woul

[2019-03-06 21:16] aroltsch commented on #9723
Checked the request for both the attorney and judge and noticed no decision issues were posted

`Parameters: {"tasks"=>{"type"=>"JudgeCaseReview", "location"=>"bva_dispatch", "attorney_id"=>1520, "one_touch_initiative"=>false, "complexity"=>"medium", "quality"=>"outstanding", "factors_not_considered"=>[], "areas_for_improvement"=>[], "comment"=>"first AMA-RAMP case by associate counsel-well-analyz

[2019-03-06 21:26] jiahuang commented on #9730
Talked to Lowell, open tasks should be cancelled by something like `appeal.tasks.active.update_all!(status: Constants.TASK_STATUSES.cancelled)`

Additionally, we may want to differentiate a manually closed appeal from other appeals by either:
1. add a status column in appeal that gets set to "manually removed"
2. setting the existing `establishment_error` field to be "manually removed". We could a

[2019-03-06 22:05] leikkisa commented on #9556
I decided to go ahead and just run this.

[2019-03-06 22:07] #9780 closed

[2019-03-06 22:23] oscarAtNava commented on #9812
Prod Queries and Research Notes:

[code]
29 legacy hearings with no HearingTask associated with them.

[2019-03-06 22:47] shanear commented on #8971
There are now only 2 appeals without decision issues, both of which are a duplicates that the board is dealing with. Closing this one.

[2019-03-06 22:47] #8971 closed

[2019-03-07 01:56] aroltsch commented on #8689
https://github.com/department-of-veterans-affairs/caseflow/issues/8971#issuecomment-470308577

[2019-03-07 01:56] #8689 closed

[2019-03-07 02:26] aroltsch commented on #9748
UniqId won't be correct because task_id must be a pointer to the Caseflow tasks table. Ticket to reference: https://github.com/department-of-veterans-affairs/caseflow/issues/9808

[2019-03-07 02:26] #9748 closed

[2019-03-07 12:33] aroltsch opened #9826 "[IDT] Contested claimants missing representatives"
Examples,
vacols_id: 2695328, 3366989, 2469831, 2811717

[code]
returns only one record that contains information about the contested claimant and their rep in the `repso` field

`repso` field contains a letter that stands for a service organization https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/vacols/case.rb#L46

AC: return representative for contested claimant

[2019-03-07 13:15] nicholasholtz opened #9827 "Capture attorney hours at time of submission of case to judge"
The Board has requested a "mandatory" field in Queue in which attorneys will indicate the number of hours spent on a case. The field would be completed at the time of submission of the case to a judge for review.

[2019-03-07 14:50] #9633 closed

[2019-03-07 15:49] laurjpeterson commented on #9588
Notes:
- Could we go straight to Caseflow tasks instead of backwards compatibility with DAS until we turn off the DAS UI? Like we did for VLJ Support (Co-located) by using the CASEFLOW location in place of updating all of the VACOLS functionality
- Need to have another conversation about Acting Judges again
- Can choose a judge/attorney team where there are no Acting Judges in the meantime

[2019-03-07 16:22] laurjpeterson commented on #9808
When we rely only on Caseflow tasks for all users across legacy and AMA cases (attorneys and judges use legacy Caseflow tasks for legacy cases, whereas VLJ support users rely on Caseflow tasks for legacy cases), will the new documents icon be any easier? Because tracking tasks among the tabs is easier?

[2019-03-07 16:33] lowellrex opened #9832 "Create nightly job to update DispositionTask if hearing disposition changed"
Judges may change the disposition of a hearing multiple times on the day of the hearing, but we expect (and maybe don't even allow) them to not change the disposition of the hearing after the day is over. In order to move the appeal forward in the progress we will run a nightly job that will take the appropriate action (using the set of [actions we've already created](https://github.com/department

[2019-03-07 16:35] aroltsch commented on #9808
Maybe slightly easier. The problem that we are facing that we are spending a ton of time and engineering resources on this and I don't know whether this feature is even very useful to users :).

[2019-03-07 16:37] lowellrex opened #9833 "Create new ChangeHearingDispositionTask for stale hearings"
When a hearing is held, we expect the judge hearing the appeal to update the hearing worksheet with a disposition for the hearing. This ticket exists to create a `ChangeHearingDispositionTask` that will serve as a reminder for judges who have forgotten to set a disposition for a hearing they held if more than 2 days have passed since the hearing was scheduled to be held.

These tasks should be cre

[2019-03-07 17:31] ShellySmithDSVA opened #9834 "Bug: Veteran appears in list to be scheduled, but already scheduled for hearing (duplicate task?)"
The Veteran below only has 1 ACT legacy appeal stream however, and he is scheduled for a hearing for 4/23/2019. However, the Veteran still appears in list of Veterans to be scheduled.

https://appeals.cf.ds.va.gov/cases/190101

Need to check the status of the tasks on this case - is there a duplicate?

[2019-03-07 18:26] nicholasholtz commented on #9583
The Board has provided this information about their needs (high-level analysis in [brackets] where applicable):

- Add a mandatory Caseflow field for business lines to input a tracking number when marking a task as complete.
- Add a field in Caseflow where the Case Review team can verify that the file was received.
- Add an automatic notification to the business line once verification of the recei

[2019-03-07 18:27] shanear commented on #9179
Even though AMO followed up on this and said this would not happen. It has already happened a handful of times in prod. We should figure out a solution to this issue, since it's causing Decision issue syncs to fail.

[2019-03-07 18:28] nicholasholtz opened #9836 "Capturing QR-specific data for reporting purposes"
The Board has requested the following:

More research would need to be done to determine what data points are needed here.

[2019-03-07 18:29] nicholasholtz commented on #5940
@nemodjuric Should this be closed?

[2019-03-07 18:30] leikkisa opened #9837 "Associate rating issues not finding rating"
When we try to associate rating issues to the contentions in VBMS, we are getting the following error:

Unable to associate rated issue, rated issue does not exist.

Sentry example https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3405/events/265269/

This does not prevent the claim from establishing or the contentions from being created, or cause any major known issues, but

[2019-03-07 18:34] nicholasholtz commented on #7774
We have been instructed to hold providing additional access pending written guidance from VA.

[2019-03-07 18:35] nicholasholtz opened #9838 "Expanding eFolder Express access for private attorneys"
Creating a specific issue addressing the question of eX access exclusively, for ease in OIT tracking. This fits in with https://github.com/department-of-veterans-affairs/caseflow/issues/7774 and https://github.com/department-of-veterans-affairs/caseflow-efolder/issues/624#issuecomment-333321781.

[2019-03-07 18:38] leikkisa commented on #9789
I would like to close this, but first I want to ask if there are people that we should report these results to, and if there's any desire to ask a product/design person if we should iterate on the design (and if yes, add a ticket for that).

[2019-03-07 18:40] #9804 closed

[2019-03-07 18:44] pkarman commented on #9796
will.demo site redeployed, using the feature flags set up in the repo for dev envs.

Full thread here: https://dsva.slack.com/archives/CAM9FJ85P/p1551905524037100

[2019-03-07 18:44] #9796 closed

[2019-03-07 18:44] Sjones352 commented on #9709
@leikkisa can you please put instructions on how I can validate this ticket.

[2019-03-07 18:46] ShellySmithDSVA commented on #9814
Load times verified as back to normal. Closing ticket but will re-open if same thing occurs.

[2019-03-07 18:46] #9814 closed

[2019-03-07 18:52] leikkisa commented on #9709
@Sjones352

I don't know if you have the ability to delete the gender from a Veteran in another system, but that would be the easiest way to do it. And then complete a Higher Level Review or Supplemental Claim for them, with Compensation as the business line.  Then we'll have to check the data to see if the claim establishment succeeds.

Other than that, we'll need to find a Veteran that has the o

[2019-03-07 18:55] #5940 closed

[2019-03-07 19:15] aroltsch commented on #9808
Decision made:
1. Always query VBMS for document count to avoid count inaccuracy
2. Remove new documents icon for now

[2019-03-07 19:15] #9808 closed

[2019-03-07 19:16] aroltsch opened #9839 "Document count - Always query VBMS for document count to avoid count inaccuracy"
AC:
Always query VBMS for document count to avoid count inaccuracy

[2019-03-07 19:17] aroltsch opened #9840 "Remove new document icon"
AC:
New document icon is removed

[2019-03-07 19:18] aroltsch opened #9841 "Add code climate to Caseflow repo"
AC:
Code climate is in Caseflow

[2019-03-07 19:22] aroltsch opened #9842 "Add BE validation to throw an error if there are no decision issues during attorney/judge checkout"
AC:
BE validation is added to throw an error if there are no decision issues during attorney/judge checkout
Reference: https://github.com/department-of-veterans-affairs/caseflow/issues/9723#issuecomment-470280048

[2019-03-07 19:50] #9516 closed

[2019-03-07 19:52] Sjones352 commented on #8316
**Passes in UAT**
<img width="1123" alt="screen shot 2019-03-07 at 2 45 00 pm" src="https://user-images.githubusercontent.com/23080951/53985002-8f2a1180-40e8-11e9-94b3-ad6217161655.png">

[2019-03-07 19:52] #8316 closed

[2019-03-07 19:55] jiahuang commented on #9730
@Sjones352 A general approach for the backend portion of this ticket would be to first write failing specs that test the following scenarios when the remove_decision_reviews flag is turned on:
* when there is an appeal intake with multiple active tasks and all request issues are removed, ensure that all active tasks are set to a canceled state
* when there is an appeal intake with multiple active

[2019-03-07 19:55] #8853 closed

[2019-03-07 19:56] laurjpeterson commented on #8915
Note: considering this design for showing the instructions as well https://github.com/department-of-veterans-affairs/caseflow/issues/8340

[2019-03-07 19:58] nicholasholtz commented on #9838
From the Board:

[2019-03-07 20:09] #9548 closed

[2019-03-07 20:09] leikkisa commented on #9548
Martina sent us a screenshot! Considering this Validated.

[2019-03-07 20:11] pkarman opened #9845 "Intake | Filter out ineligible issues from API feeding Appeal Status"
The Caseflow API that feeds the Appeal Status app is currently returning all request issues. It should use the `.eligible` model scope to only return eligible request issues.

[2019-03-07 20:16] allyceh commented on #9723
@aroltsch @laurjpeterson @sneha-pai : I will follow up with Libby tomorrow (since William is out of the office until the 17th) to troubleshoot at her desk.
Things to verify with her:
- Is there a decision letter associated with this appeal?
- If so, what are the issues?

[2019-03-07 20:30] monfresh commented on #9587
Slow DB queries I've fixed so far (not just N+1):
https://github.com/department-of-veterans-affairs/caseflow/pull/9847
https://github.com/department-of-veterans-affairs/caseflow/pull/9807

I'm focusing on the slowest queries first as reported by New Relic, and then any others I find while testing locally.

One of the slowest ones is when creating a bunch of Documents at once in `DocumentFetcher` a

[2019-03-07 20:32] ShellySmithDSVA commented on #8964
Closing this task as research is complete. See #9758 for design.

[2019-03-07 20:32] #8964 closed

[2019-03-07 20:40] #9542 closed

[2019-03-07 20:46] marvokdolor-gov commented on #9579
Hey @mc-usds is #9794 related?

[2019-03-07 21:14] lowellrex commented on #9832
MEDIUM. Reference ticket #7905 for a recently created nightly job.

[2019-03-07 21:16] lowellrex commented on #9833
SMALL.

[2019-03-07 21:18] leikkisa commented on #9623
Confirmed that the current code shouldn't have this problem, because it's saving the EndProductEstablishment to the database.

[2019-03-07 21:19] lowellrex commented on #9613
SMALL.

[2019-03-07 21:20] lisac-usds commented on #3920
Updating with some notes from a Jan 2019 [slack discussion](https://dsva.slack.com/archives/C2ZAMLK88/p1547760961343200?thread_ts=1547745589.332900&cid=C2ZAMLK88):
- on user login, the identity provider (not a Caseflow subdomain) sets a cookie
- because this is not a Caseflow app cookie (and it's not stored in our cookie store), our app has no direct access to it
- because we don't have access to

[2019-03-07 21:23] lowellrex commented on #9741
These appear to all be for the same Veteran ID. Figure out what is going on with this case. SMALL if that holds (if they all are the same Veteran). MEDIUM if there is a more systemic problem here.

[2019-03-07 21:25] lowellrex commented on #9522
SMALL.

[2019-03-07 21:38] lowellrex commented on #9026
Create a way to mark `ColocatedTask`s complete in Caseflow without affecting VACOLS (avoid the [`after_update` hook on `ColocatedTask`](https://github.com/department-of-veterans-affairs/caseflow/blob/7637541741a56cf4529f62ac46b63d0595b4416a/app/models/tasks/colocated_task.rb#L7) that normally runs). Investigate if we can just change the default behaviour of marking a task complete to avoid updatin

[2019-03-07 21:51] ShellySmithDSVA commented on #9486
Confirmed this option exists. Closing ticket.

[2019-03-07 21:51] #9486 closed

[2019-03-07 21:53] pkarman commented on #9623
By "current code" you mean the problem was fixed sometime after the reported bug?

[2019-03-07 22:01] MeredithStewart commented on #9834
Checked with Sharon -- resolution on this one was for the Branch to "withdraw hearing" on that duplicate task. Emailed branch on 3/7/19 to take this action. Veteran should still appear on the docket for 4/23/19.

[2019-03-07 22:02] #9834 closed

[2019-03-07 22:27] lowellrex commented on #8423
Another type of configuration we could add would be to add some visibility into the various actions available on a task's different states to a user. For example, something like the following table could be visible on the VLJ support staff team admin page (perhaps with the option to add rows or actions to cells further down the line):

### `ColocatedTask` actions:

Conditions | User is task assign

[2019-03-07 22:42] MeredithStewart opened #9853 "Remove listing VACOLS RO in "About the Veteran""
In Case Details, we are pulling in the RO listed in VACOLS for legacy Veterans in the "About the Veteran" section.

This is confusing for Hearing Schedule because we are geo-matching Veterans based on their address to ROs for hearings. The Hearing Branch is confused as to why there are discrepancies. Certain appeals are assigned to ROs to work special issues. VBA could also potentially move hearin

[2019-03-07 23:36] lowellrex opened #9856 "Enable folks to visit queues that contain tasks associated with deleted LegacyAppeals"
VLJ support staff are currently unable to load the team queue because the set of tasks it attempts to display includes a task that is associated with a `LegacyAppeal` with a case that is no longer in the `vacols.brieff` table. I am not entirely sure why the case is not in the `brieff` table, however the application should be resilient enough to handle this case and return the rest of the tasks to

[2019-03-07 23:41] lowellrex commented on #9856
For an example of a legacy appeal that appears to have been removed from VACOLS:

[code]

[2019-03-07 23:58] MeredithStewart opened #9857 "BUG: Texarkana, TX address geomatches to Little Rock, AR"
A Veteran that lives on the Texas side of Texarkana is matching to the Little Rock, AR RO in the Schedule Veterans modal. There is no appellant on appeal.

I checked zip code and it's on the Texas side of the Texas/Arkansas boarder.

TEXARKANA, TX 75501

/appeals/2803739

I'm not sure if Caseflow geo-matched to this or if a user navigated to Little Rock and it somehow became sticky on that modal.

[2019-03-08 00:07] MeredithStewart opened #9858 "BUG: Can we change San Antonio Veterans to map to Houston, TX?"
(Bug, but not a bug.)

San Antonio issue - San Antonio Veterans are matching to Waco, TX RO correctly because Waco is closer, but San Antonio is an alt hearing location of Houston, TX.

Should we do something to map the San Antonio Veterans to Houston so these Veterans automatically show up in the Houston list of Veterans to schedule?

[2019-03-08 00:22] MeredithStewart commented on #9853
@laurjpeterson -- Let me do some more research on this to make sure remove is desired by the hearing branch. They might like the fact that it shows a different location - as a trigger for them to look closer at the hearing location then they might otherwise.

[2019-03-08 01:35] #9539 closed

[2019-03-08 13:24] nicholasholtz commented on #7508
Hey @allyceh - on this, a question or two:
![image](https://user-images.githubusercontent.com/16781398/54030936-35265c00-417b-11e9-8df7-9864aefce159.png)

- Is this suggesting that the Board is sending notices to Veterans upon receipt of a non-remand CAVC decision? If we are talking remands, why is an NOD being sent to the Veteran? If it is a remand, I understand holding it 90 days (though, from m

[2019-03-08 14:51] allyceh commented on #7508
Hi @nicholasholtz -- I didn't add that one. This issue is a place to rename tasks/inventory tasks we have/propose new ones, so I am going to remove this. I don't know that we need that task at this point.

And yes, I think we should create a new appeal task for CAVC remands!

[2019-03-08 15:00] ShellySmithDSVA opened #9861 "Verify Address Task Cancelation Flow"
## User Stories
As a Hearings Branch super user, I need to be able to cancel tasks that have been added or generated in error so that our team can proceed with scheduling a hearing for a case.

As a Hearings Branch super user, I need to control access to task cancelations so that tasks aren't erroneously canceled

As a Hearings Branch super user, I need to be able to cancel an Address Verification

[2019-03-08 15:54] Sjones352 commented on #8675
@shanear can you please provide validation instructions

[2019-03-08 16:10] sharonwarner opened #9862 "Daily Dockets | Editable dispositions"
Dispositions on either daily docket should only be editable if either 1) the hearing has no associated HearingTask, or 2) the DispositionTask is open with no children.

[2019-03-08 17:19] Sjones352 commented on #9376
@leikkisa and @pkarman
So I create an EP in UAT and this shows a `synced_status: "PEND"`. When I delete it and re-create an EP with same veteran file number and same rating, I see `synced_status: nil`. Not sure if this is what is supposed to happened.
<img width="1661" alt="screen shot 2019-03-08 at 12 18 36 pm" src="https://user-images.githubusercontent.com/23080951/54044201-5a779200-419c-11e9-9f

[2019-03-08 17:36] Sjones352 commented on #9571
@pkarman validating this in UAT.
I set the decision date for a future date
<img width="1119" alt="screen shot 2019-03-08 at 12 26 34 pm" src="https://user-images.githubusercontent.com/23080951/54044944-3ddc5980-419e-11e9-890a-9369abdcea9d.png">

**Created Ep**
<img width="800" alt="screen shot 2019-03-08 at 12 32 39 pm" src="https://user-images.githubusercontent.com/23080951/54044979-577da100-419e

[2019-03-08 17:46] Sjones352 commented on #9519
@pkarman can an Ep be canceled in VBMS?

[2019-03-08 19:15] #9310 closed

[2019-03-08 19:19] leikkisa commented on #9376
@Sjones352
Hi Sandra! So you're not deleting the End Product Establishment, you're just deleting the synced_status: "PEND" so that it's the same EPE, with a synced_status: nil.  This will cause the software to think that EPE is still in the process of being established.

Steps
1. Create an Higher Level Review or Supplemental claim with a rating issue (remember which rating issue you picked).
2. Fi

[2019-03-08 19:58] pkarman commented on #9571
This step:
"Will need IDT help from Anya"
is the trick. We need @aroltsch to help us step the decision process through its paces so we end up with a DecisionDocument record. I believe she has done that before for Steve so you might just ask her.

[2019-03-08 20:06] Sjones352 commented on #9376
**Currently in UAT**

<img width="1145" alt="Screen Shot 2019-03-08 at 2 51 57 PM" src="https://user-images.githubusercontent.com/23080951/54052912-a7b32e00-41b3-11e9-989e-dba318106146.png">

[2019-03-08 20:17] #9376 closed

[2019-03-08 20:30] #9235 closed

[2019-03-08 20:38] pkarman commented on #9799
Do we want to track actual sensitive violation errors?
e.g. https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3908/events/266193/

[2019-03-08 20:39] leikkisa commented on #9643
Related #9794

[2019-03-08 21:03] leikkisa opened #9870 "Test"
Test

[2019-03-08 21:04] pkarman opened #9871 "Intake | Move Veteran profile validation to later in the flow"
See https://dsva.slack.com/archives/C754H751T/p1552078332077900

Non-comp LOB users may not have permission to edit in VBMS but since non-comp LOB claim reviews do not spawn End Products, it does not matter. Change the veteran profile validation till later in the flow so that the LOB can be detected and the validation errors suppressed if the claim review is for non-comp.

## Acceptance criteria

[2019-03-08 21:07] #9870 closed

[2019-03-08 21:13] MeredithStewart opened #9872 "BUG: Veteran shows Schedule hearing task on hold, no actions"
Sal reported this Veteran needs their hearing request withdrawn, but actions aren't appearing for the Schedule Veteran task. It appears on hold. Need to investigate why this is happening.

appeals/3349547

[2019-03-08 21:20] MeredithStewart opened #9873 "Bug: Manila doesn't have any AMA or Legacy Veterans to Schedule"
Manila isn't showing any Veterans in the AMA or Legacy Veterans to schedule.

Are they all head up in either verify address tasks or foreign Veteran tasks.

3/18 - We think that there are Veterans that are not showing up correctly in the Admin tasks lists. Currently none of the Verify Address tasks or Foreign Veterans Case tasks have Veterans with Manilla addresses. Example: this case has an open

[2019-03-08 22:50] MeredithStewart opened #9874 "Bug: Hearing Team Queues and Individual Queues are missing filterable RO column"
In the team queues for the Hearing Admin Team, we've lost the Regional Office column and filter, so that the Branch can sort tasks by RO.

I believe we had this implemented before, but it doesn't appear in production any longer.

Also, we had designed the RO column and filter on individual queues too for the hearing branch users, but that also doesn't appear.

[2019-03-08 23:07] shanear opened #9875 "Sort out what active and closed mean"
In auditing the DB, i noticed there are different definitions of open and active all over the codebase, and I believe it might be causing issues with the VA.gov API as well as other places in the code.

- For instance, some places in the code are scoping request issues to `open` issues, however the scope should include `open` and `decided` issues. I think we'll want a scope specifically for this.

[2019-03-08 23:11] MeredithStewart opened #9876 "Bug: Time zones are OFF -- Some daily docket times are showing as ET/ET, when it should show PT/ET time"
On the Oakland RO Daily docket for 4/9, the times are showing up as ET/ET for some of the Veterans, instead of ET/PT -- to indicate what the pacific time should be.

https://appeals.cf.ds.va.gov/hearings/schedule/docket/128

Meredith watched this happen as a Veteran was postponed from 4/10 back to 4/9 and the user selected 8:30 am as the hearing time. The time was first saved (incorrectly) as 7:30

[2019-03-09 00:25] #9839 closed

[2019-03-11 13:32] laurjpeterson commented on #8959
@lowellrex - can you give me the access I need to be able to add these admins? I believe it's the same access as Marvo.

[2019-03-11 13:49] allyceh opened #9879 "Create instructional text component"
Create a reusable component for instructional text in our style guide.

Behavior: Default state of instructional text is collapsed with caret pointing to the right. On click of either the caret or the link, caret rotates 90 degrees clockwise, and text displays. See the "Hidden text" section of the [gov.uk](https://design-system.service.gov.uk/components/details/) style guide for clickable example.

[2019-03-11 13:59] Sjones352 commented on #9519
I created an Ep and Cancelled in VBMS

**Created in Caseflow**
<img width="872" alt="Screen Shot 2019-03-11 at 1 00 30 AM" src="https://user-images.githubusercontent.com/23080951/54128901-74ef7c80-43e3-11e9-83a0-592499b2077f.png">

**EP Created in VBMS**
<img width="796" alt="Screen Shot 2019-03-11 at 1 00 22 AM" src="https://user-images.githubusercontent.com/23080951/54128900-7456e600-43e3-11e9-9

[2019-03-11 14:29] lowellrex commented on #7556
## Canine Veterans sprint (11-24 Mar) engineering priorities

### 1. Hearing schedule
1. [Add method to mark a DispositionTask as "held"](https://github.com/department-of-veterans-affairs/caseflow/issues/9540) _MEDIUM_
1. [Create NoShowHearingTask](https://github.com/department-of-veterans-affairs/caseflow/issues/9543) _LARGE_
1. [Create postponement modal for NoShowHearingTask](https://github.com

[2019-03-11 15:29] aroltsch commented on #9670
### Investigation results:

One of the travel board hearings in Vacols:

[code]

It matches with what we show in Caseflow: 12:30 am ET / 9:30 pm PT Portland

[2019-03-11 15:37] youngfreezyVA commented on #9853
hi @MeredithStewart @laurjpeterson I'm not familiar with the change that needs to be made, could you provide screenshots, example user, veteran ID, and also confirm that you were able to follow up based on your above comment @MeredithStewart? thanks! cc: @aroltsch

[2019-03-11 16:28] sharonwarner opened #9883 "Duplicate schedule hearing tasks"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4032/events/269657/

[2019-03-11 16:33] #9272 closed

[2019-03-11 16:51] shanear opened #9884 "Mousewheel does not scroll through searchable dropdown"
From VBA:

[2019-03-11 16:52] shanear commented on #9875
Confirmed this is actually causing a bug where we are unable to reintake closed issues

[2019-03-11 16:54] sharonwarner opened #9885 "Create ChangeHearingDispositionTask class and actions"
<img width="1108" alt="Screen Shot 2019-03-11 at 12 47 07 PM" src="https://user-images.githubusercontent.com/4306128/54141320-d3285980-43fb-11e9-9cb4-149ebde39419.png">

<img width="913" alt="Screen Shot 2019-03-11 at 12 47 46 PM" src="https://user-images.githubusercontent.com/4306128/54141368-e9361a00-43fb-11e9-833b-5bd1fb630fa2.png">

AC:
- [ ] Create a ChangeHearingDispositionTask with `Select

[2019-03-11 17:23] sharonwarner opened #9886 "Hearing disposition rollout"
- [x] Remove autosave from hearing prep (sharon)
- [x] Make dispositions editable on both daily dockets only if the hearing either 1) doesn't have a disposition task, or 2) the associated disposition task is active
- [ ] Remove postpone functionality from hearing schedule daily docket & add vacols and caseflow warnings to hearing schedule & just caseflow warnings to hearing prep (lomax)
- [ ] Back

[2019-03-11 17:29] sharonwarner opened #9887 "Paper case notification"
We should display the same paper case notification that queue uses in their application in the following places:

### AC

- [ ] Add `<span>{COPY.IS_PAPER_CASE}</span>` to left column of daily docket rows

[2019-03-11 17:34] #9386 closed

[2019-03-11 17:36] #9519 closed

[2019-03-11 18:22] laurjpeterson commented on #8436
FYI - with this change, Supervisory Senior Counsel will still need to request cases like judges do. They have this functionality today, because they look like judges in VACOLS. Let me know if I can provide more info when we pick this back up again.

[2019-03-11 18:30] leikkisa commented on #9643
Hopefully #9794 and tickets before it fixes this, but we'll need to wait and see if this error continues to pop up.

[2019-03-11 18:42] annekainicUSDS commented on #8620
@ShellySmithDSVA @sharonwarner @sneha-pai I think we're missing some information that would help us complete this ticket:

1. Do you have mock-ups for what each of the dropdowns in the modal should show? I assume they should only show data that's available in the table (e.g., only regional offices that appear in the unassigned table should be listed as options)? Can you explain who "Hearing Branch

[2019-03-11 19:26] #9862 closed

[2019-03-11 19:32] lowellrex opened #9890 "Working list of data that Caseflow caches"
We cache information from our dependencies in a variety of ways. This ticket is a working list of the various things we cache and how we do it.

## VSO's POA association with an appeal
* How do we build the cache: A nightly `UpdateAppellantRepresentationJob`
* What is the original source: BGS
* How do we store the cache: As a `TrackVeteranTask` associated with an appeal in the Caseflow postgres da

[2019-03-11 19:44] amprokop commented on #9890
# Documents for Reader
- How do we build the cache: Nightly FetchReaderDocumentsForUserJob
- What is the original source: VBMS
How do we store the cache: documents tables
How long does the cache live: ?

[2019-03-11 19:45] #9840 closed

[2019-03-11 19:47] pkarman opened #9891 "Intake | Fix specs for DST"
https://circleci.com/gh/department-of-veterans-affairs/caseflow/50368

Need to make the offset DST-aware.

[2019-03-11 19:50] pkarman commented on #9381
zero clean up to be done in production.

[code]

[2019-03-11 19:50] #9381 closed

[2019-03-11 19:52] amprokop commented on #9207
![image](https://user-images.githubusercontent.com/3781835/54153311-a4b77800-4415-11e9-90fa-77d19fbe92f0.png)
The organization view doesn't have an "on hold" tab for tasks.

[2019-03-11 19:54] pkarman opened #9892 "Intake | Request Issue on decision sync hook race condition"
Follow on to #9767.

If a Request Issue finishes syncing decisions and does not successfully call `on_decision_issues_sync_processed` (e.g. it finished processing at the same time as another Request Issue on the same Claim Review) then the hook will never be called.

Reconsider the logic that triggers the hook. We might need a scheduled job that double-checks, or some other async retry logic that

[2019-03-11 19:55] #9767 closed

[2019-03-11 20:01] pkarman commented on #9556
verified in production:
[code]

[2019-03-11 20:01] #9556 closed

[2019-03-11 20:03] laurjpeterson commented on #9207
here's the ticket to add on hold tab to team queue - https://github.com/department-of-veterans-affairs/caseflow/issues/9341

is this something that you could take on as well?

[2019-03-11 20:05] cmgiven commented on #9890
## Difficult to compute VACOLS info (AOD, DIC, etc.)

* How do we build the cache: On demand, using `cache_attribute` from our custom `CachedAttributes` module
* What is the original source: VACOLS
* How do we store the cache: Redis
* How long does the cache live: ?

[2019-03-11 20:15] aroltsch commented on #9670
Talked to Sharon. We are going to table this for now. Confirmed that there is no bug on our side.

[2019-03-11 20:22] pkarman opened #9894 "Intake | Increase processing window for Request Issue decision sync"
We currently give up attempting to sync decisions after the default 4 days. It may reasonably take longer than that.

Try for 14 days for now, and watch production to consider changing that higher.

### Validation

Peter is watching production to verify that older RequestIssue jobs automatically re-try.

[2019-03-11 20:25] sharonwarner opened #9896 "VSO Schedule - UpdateAppellantRepresentationJob"
We are using TrackVeteranTasks to determine which appeals' hearings to display for each VSO. Currently the UpdateAppellantRepresentationJob only creates TrackVeteranTasks for AMA appeals. We need to update that job to create TrackVeteranTasks for legacy appeals as well.

[2019-03-11 21:21] #9845 closed

[2019-03-11 21:22] lowellrex commented on #9613
We say we are [PATCHing](https://github.com/department-of-veterans-affairs/caseflow/blob/da6437a15641a68fc87210de6d05b923a1b99410/client/app/queue/CaseDetailsLink.jsx#L28) but in reality I am pretty sure we are just [POSTing](https://github.com/department-of-veterans-affairs/caseflow/blob/e9885adeedb6b597bac129187f74eafe53b5565d/client/app/util/ApiUtil.js#L77)

[2019-03-11 21:22] lowellrex commented on #9613
Another example here: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2991/events/269892/

[2019-03-11 21:33] leikkisa commented on #9731
This is handled here:
https://github.com/department-of-veterans-affairs/caseflow/pull/7477

It was added because when we had multiple end products on a Decision Review, even if there was a request issue still on it, all of the request issues on the other EP could be removed so it would need to get canceled.

[2019-03-11 21:33] #9731 closed

[2019-03-11 21:37] ShellySmithDSVA commented on #8620
It was on my list this week to clean up this ticket. Apologies for the confusion.

1. Here are the mocks of the drop downs for the modal (I'm linking to the specific screen in the larger flow) https://va-gov.invisionapp.com/share/REQ7EOZM6JH#/343428920_Bulk_Assign_1. Let me know if you need further details.

2. Yes on the moving to the tasks table and being marked as assigned. In reply to RO - I'l

[2019-03-11 21:38] leikkisa commented on #9789
For the one that has before_ama, if they remove it and re-add it, it should be eligible again for now because we turned off the "before_ama" requirement temporariliy.

[2019-03-11 21:46] carolaponce commented on #9789
Is part of the issue users writing notes about timeliness even though the veteran has not requested a time extension?

[2019-03-11 22:59] laurjpeterson commented on #9853
![image](https://user-images.githubusercontent.com/27704093/54163547-c9b8e480-442f-11e9-9f04-b8e3cef6a6ca.png)

This is from this legacy appeal - https://appeals.cf.ds.va.gov/queue/appeals/2969703

[2019-03-11 23:20] tomas-nava opened #9899 "UserRepositoryError occurs when user tries to get special issues on a legacy appeal"
[Sentry issue here](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3283/)

[2019-03-11 23:23] carolaponce commented on #9178
Click through review with AMO
https://va-gov.invisionapp.com/share/BRQUJR5J5AE#/screens

[2019-03-12 01:21] leikkisa commented on #9789
Yes, we're wondering if it's confusing for folks because there are a bunch of RequestIssues with a note added, but with "no" selected as the option.  This would be relatively easy for me to change too so I can go ahead with it if desired.

![Screen Shot 2019-03-11 at 6.20.00 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5aa9b7c9e7d70200133c2088/125516c66e82c728ace21e0

[2019-03-12 01:22] leikkisa commented on #9789
Looks like it could use some spacing above the radio too :-P

[2019-03-12 13:45] nemodjuric commented on #9741
BGS has no record for this file number. It exists in VACOLS, and it has the same C and S file number, so  we should check with BGS while there is no record for this. @mc-usds

[2019-03-12 14:25] lomaxap opened #9901 "Refactor / Document how we're handling time"
We currently handle time when creating hearings in a couple of different ways.

On the daily dockets ([hearing sched](https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/app/hearingSchedule/containers/DailyDocketContainer.jsx#L176) / [hearings controller](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/controllers/hearings_controller.rb#L13)). I

[2019-03-12 14:45] nicholasholtz commented on #9583
See also: https://github.com/department-of-veterans-affairs/caseflow/issues/9887

[2019-03-12 14:45] pkarman commented on #9890
All these are stored in Rails cache (Redis)

## Slow upstream endpoints

* Ratings for a Veteran
* User can access Veteran

## Slow models

* Intake stats

[2019-03-12 14:46] allyceh opened #9903 "Display issues that are in decided status"
Partially addresses bug documented in #9723 .

Currently, AMA issues that have been outcoded (or, the BVA Dispatch task on a case is complete), do not display on the Case Details page. After some investigation, these issues are in "closed" status in the code.

Allow issues that are in "decided" status to be displayed in the Issues section of the Case Details page.

[2019-03-12 14:53] allyceh opened #9904 "Look into why attorneys/judges can check out ineligible issues"
A user on the BVA Dispatch team reached out to us about this case where decision issues weren't displaying: https://appeals.cf.ds.va.gov/queue/appeals/ae79b19f-44e4-4b9a-8308-b7db8b5acbd6

After taking a closer look, @aroltsch noticed that the issue on this case was ineligible. But, the attorney was able to check the case out to their judge, and the judge was able to sign the decision and check it

[2019-03-12 14:54] allyceh commented on #9904
cc: @aroltsch @laurjpeterson @shanear @pkarman

[2019-03-12 15:14] pkarman commented on #9904
I believe @shanear is actively working on this, and some changes went out this morning in #9893

[2019-03-12 15:17] pkarman commented on #9837
BGS defect# 941039

[2019-03-12 15:18] pkarman commented on #9904
See also #9875

[2019-03-12 15:29] lomaxap opened #9906 "Catch Vet360 503 Errors in HearingsController#find_closest_hearing_locations"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3979/

[2019-03-12 15:33] mdbenjam commented on #9774
Understanding where we're spending our time:

URL | Controller | Average time ms (link to New Relic)
-----|-----------|--------------------------------
`hearings/hearing_day/:id` | `Hearings::HearingDayController#show` | [9200](https://rpm.newrelic.com/accounts/1788458/applications/80608544/transactions#id=5b22436f6e74726f6c6c65722f68656172696e67732f68656172696e675f6461792f73686f77222c22225d)
`reg

[2019-03-12 15:35] mdbenjam commented on #9774
Good news is that `HearingDayController#show` is making BGS calls, so if we can prevent those I think we can reduce load times by over half.

[2019-03-12 15:47] allyceh commented on #9879
@sneha-pai When you have a chance, I am wondering if you can review these specs I added to the ticket. I also provided an .svg for the caret.

Once we're aligned, we can try to get this slotted with the Style Guide Committee.

[2019-03-12 17:21] Sjones352 commented on #9729
**UAT**

**Before I remove decision**
<img width="1177" alt="Screen Shot 2019-03-12 at 1 11 55 PM" src="https://user-images.githubusercontent.com/23080951/54221030-084ead80-44c9-11e9-882c-2870f4d7c75d.png">
**Modal showing Remove issue**
<img width="1082" alt="Screen Shot 2019-03-12 at 1 12 16 PM" src="https://user-images.githubusercontent.com/23080951/54221031-08e74400-44c9-11e9-9866-70b8dc2c21cc

[2019-03-12 17:23] #9729 closed

[2019-03-12 17:28] aroltsch commented on #9571
From what I understand, I need to outcode the appeal with the decision date in the future.

[2019-03-12 18:03] aroltsch commented on #9571
I outcoded the appeal in UAT and set the decision date to 1.day.from_now. Here is what I did in rails console:

[code]

[2019-03-12 18:53] nicholasholtz commented on #9778
Speculation from AMO is that this is dependent on VBMS claims service, which does not currently have the ability to create these claims. This statement deserves further investigation.

[2019-03-12 19:00] shanear commented on #9778
Less than 1000 claims per year are Spina Bifida (meaning the appeals would be less than 150)

They are not processed in VBMS-R, but are processed in VBMS-A

[2019-03-12 19:02] Sjones352 commented on #9571
Created Ep in UAT
<img width="1283" alt="Screen Shot 2019-03-12 at 2 41 14 PM" src="https://user-images.githubusercontent.com/23080951/54226944-3c2fd000-44d5-11e9-983e-718db73bdf93.png">

<img width="1319" alt="Screen Shot 2019-03-12 at 2 41 03 PM" src="https://user-images.githubusercontent.com/23080951/54226942-3c2fd000-44d5-11e9-8e9b-9cb98a2722e3.png">

<img width="1680" alt="Screen Shot 2019-03

[2019-03-12 19:05] #9571 closed

[2019-03-12 19:09] Sjones352 commented on #9643
Hey Sally can you please provide validation instructions.

[2019-03-12 19:27] Sjones352 commented on #9816
@leikkisa Please provide validation instructions. @pkarman I am a little confused about this statement `then click change to the "None of these match" radio button` I thought "None of these match" is a regular button.

[2019-03-12 19:36] Sjones352 commented on #9709
Slacked Colin to get create me a veteran without a gender so I will validate once that is done.

[2019-03-12 19:55] leikkisa commented on #9816
@Sjones352

### Validation
- Choose a Veteran that has Vacols issues (we might need to find one or create one)
- Do an AMA intake
- Add an issue
- The modal for whether it is connected to any Vacols issues should pop up
- First select one of the VACOLS issues
- Then select "None of these match"
- Then finish the intake
- The Request Issue that was added should have nil for vacols_id in the databas

[2019-03-12 20:02] leikkisa commented on #9643
@Sjones352

I think the best way to validate this might be checking if it happens any more in Prod because it seems to be caused by some timezone differences in the servers that will be difficult to reproduce, so I recommend waiting on this and then we can check the alerts for the last time it happened and see if it has happened after this fix.

However, here are some instructions we could try als

[2019-03-12 20:12] lowellrex commented on #9856
Asked Jed: https://github.com/department-of-veterans-affairs/dsva-vacols/issues/54

[2019-03-12 20:19] lowellrex opened #9916 "Bold new tasks in all queues"
Currently, we distinguish between tasks where somebody has visited the case details page and tasks where they have not [only for members of the VLJ support staff](https://github.com/department-of-veterans-affairs/caseflow/blob/65bfc1f3a3d33ada7136bd290ce4452bd709bbd9/client/app/queue/CaseDetailsLink.jsx#L46). This ticket exists to bold/unbold links to the case details page for an appeal in the tas

[2019-03-12 20:19] lowellrex commented on #9613
This ticket is only to do the quick bug fix to stop the error. The work to enable this for all queues will be continued in #9916.

[2019-03-12 22:11] tomas-nava opened #9921 "missing appeal when rendering case details"
[Sentry page](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4059/)

A `TypeError` was raised on a legacy appeal's case details page because the `appeal` object passed to the component was `undefined`. This has only happened once according to Sentry, so low priority.

[2019-03-12 22:48] shanear opened #9922 "Supplemental claims seem to be subject to timeliness validations"
The `before_ama` eligibility check should not be applied to Supplement Claims (form 0995).

We should remove that check for SCs on front and back ends.

### Acceptance

* Create a Supplemental Claim
* Add a nonrating request issue with a date older than Feb 14, 2019
* Should *not* receive the ineligible message for prior to Feb 14.

### Background

From Jane:

[2019-03-12 23:50] tomas-nava commented on #9613
another example: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2991/events/270327/

[2019-03-12 23:57] tomas-nava opened #9924 "Missing appeal when rendering select disposition modal"
[Sentry page](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3823/)

A TypeError was raised when rendering a select disposition modal for a legacy appeal because the appeal object passed to the component was undefined. This has only happened twice according to Sentry, so low priority.

[2019-03-13 00:06] tomas-nava opened #9925 "User is trying to edit an issue that was deleted from Vacols"
[Sentry page](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3617/)

A user is trying to edit an issue that was deleted from VACOLS. It is possible that the user is deleting an issue from Vacols directly and then is trying to edit it in Caseflow. Think about logging we can add to track this problem. If this is exactly what happens that a user deleted it from Vacols, we sho

[2019-03-13 00:26] Sjones352 commented on #9816
Checking for a veteran with Vocals issues, If I don't find one then let's create one.

[2019-03-13 04:20] monfresh opened #9928 "[Tech spec] Don't use exceptions for flow of control"
**Why**: The Ruby community is in general agreement that using exceptions for flow of control is a bad practice. The official community-driven [Ruby Style Guide](https://github.com/rubocop-hq/ruby-style-guide#no-exceptional-flows) explicitly uses "don't" as opposed to "avoid", but it doesn't explain why.

I can think of 3 reasons:
- Readability
- Performance
- Intent

### Readability
Given that co

[2019-03-13 14:24] lowellrex commented on #9856
Jed confirms that appeals can be deleted from the `vacols.brieff` table and that is what happened here. This fix will need to explore some approaches to handling these cases but may end up just implementing a quick fix because it only affects a single appeal at the moment.

[2019-03-13 14:36] aroltsch opened #9930 "[Epic] DAS Deprecation engineering tickets"
Notes:
1. Introduce new feature toggle `legacy_das_deprecation` and hide this code behind this feature.
1. We will enable this feature to one judge group that doesn't have acting judges

1. At appeal automatic distribution, create JudgeAssignTask for a legacy appeal and set the appeal location to Caseflow in VACOLS.
1. Judge's assign and review page must pull both types of cases: legacy appeals fr

[2019-03-13 14:52] ShellySmithDSVA commented on #8682
Moving the original conversation link here:
https://dsva.slack.com/archives/C42P25D6H/p1547479327002000

[2019-03-13 15:01] Sjones352 commented on #9476
@pkarman can you please provide me with a veteran file with legacy eligible ratings.

[2019-03-13 15:11] #9891 closed

[2019-03-13 15:14] pkarman commented on #9699
@msj0nes confirms this is fixed.

[2019-03-13 15:14] #9699 closed

[2019-03-13 15:23] MeredithStewart opened #9932 "Tweaks to RO View of Hearing Schedule"
After testing with Portland RO on 3/13/19, we've identified a few tweaks to make to the RO View of Caseflow:

1. **User needs to save notes** - From Daily Docket, user can't save notes at the child record level. They get the error message, "This save was unsuccessful. Please refresh and try again." Note that refreshing and trying again didn't work.
<img width="679" alt="Screen Shot 2019-03-13 at 1

[2019-03-13 16:51] pkarman commented on #9817
e.g. https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3976/events/270463/

[2019-03-13 16:51] pkarman commented on #7385
e.g. https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3976/events/270463/

[2019-03-13 17:20] mdbenjam commented on #8620
I can also chime in here:

In this case hearing branch users are just users who have been added to the "Hearing Admin" organization. We'll need to add a line here: https://github.com/department-of-veterans-affairs/caseflow/blob/master/db/seeds.rb#L98 to make our hearing user `BVATWARNER` be a part of that organization.
`OrganizationsUser.add_user_to_organization(hearings_member, HearingAdmin.singl

[2019-03-13 18:58] lomaxap opened #9936 "Check to Ensure Regional Office is never undefined on Assign Hearing Modal"
`AppealHearingLocation` dropdown sometimes attempts to fetch closest regional office even if regional office is undefined. Ensure
1. dropdown never attempts to fetch an undefined regional office.
2. Assign hearings modal never passes an undefined regional office to dropdown
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3980/

[2019-03-13 19:45] MeredithStewart opened #9940 "Add SAVE button to Hearing Prep Worksheet"
With the move from auto-save to the save button on the Hearing Prep daily docket, the DVCs think that it is important to also update the Hearing Prep worksheet with a Save button. That way users behavior is consistent and they would be less likely to close the daily docket without saving.

[2019-03-13 20:15] pkarman opened #9943 "Upgrade to Rails 5.2"
Fixes security issue CVE-2019-5420 among other things.

[2019-03-13 20:36] Sjones352 commented on #9476
**Creating the RAMP**
<img width="1086" alt="Screen Shot 2019-03-13 at 2 28 52 PM" src="https://user-images.githubusercontent.com/23080951/54312631-c9deee80-45ad-11e9-98cd-c92993384264.png">
<img width="1213" alt="Screen Shot 2019-03-13 at 2 29 54 PM" src="https://user-images.githubusercontent.com/23080951/54312632-c9deee80-45ad-11e9-80dd-e932739fc879.png">

<img width="1674" alt="Screen Shot 2019

[2019-03-13 21:30] #9613 closed

[2019-03-13 21:50] #7530 closed

[2019-03-13 22:37] pkarman opened #9946 "Intake | RAMP EndProductNotFound error needs EP assignment"
e.g. https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3992/events/270606/

When a new RAMP refiling Intake is started, there is an initial check to see if all existing EPs are active. If the `EndProductEstablishment` for an existing RampElection row has a `nil` `reference_id` then it will raise a `EstablishedEndProductNotFound` error.

Before raising that error, we should tr

[2019-03-13 23:20] #9841 closed

[2019-03-13 23:30] leikkisa opened #9948 "Fix race condition for on_decision_issues_sync_processed"
#### Story
If two decision issues are processed at the same time, they may not kick off the on_decision_issues_sync_processed job that creates remand supplemental claims.

#### Acceptance criteria
If an end product establishment has multiple decision issues, and any of them have a disposition of remanded, creating the remand supplemental claim should be kicked off.  This should not be prevented if

[2019-03-13 23:39] Sjones352 commented on #9816
@pkarman  and @leikkisa unfortunately this fails UAT validation unless I am doing wrong.

<img width="778" alt="Screen Shot 2019-03-13 at 7 09 08 PM" src="https://user-images.githubusercontent.com/23080951/54321366-31edfe80-45c7-11e9-8d4b-69e1a5ebff19.png">
<img width="1252" alt="Screen Shot 2019-03-13 at 7 10 05 PM" src="https://user-images.githubusercontent.com/23080951/54321367-32869500-45c7-11

[2019-03-13 23:52] Sjones352 commented on #8676
@leikkisa and @pkarman can someone be so kind and provide validation instructions for this one. I would to continue with what @steve-gov had done in the previous comment but first I need to understand validation instructions.

[2019-03-14 13:09] MeredithStewart opened #9954 "Bug: Hearing Prep ROs by Day - Judges are seeing a mix of ROs on days post April 1"
Hearing Prep ROs by Day - Judges are seeing a mix of ROs on days post April 1.

Hearing Prep screen shot From first VLJ:
<img width="863" alt="Screen Shot 2019-03-14 at 9 12 52 AM" src="https://user-images.githubusercontent.com/36775274/54359601-626e8080-4639-11e9-8968-376484181d8c.png">

Also note that we are showing increased number of scheduled Veterans (probably due to postponements and cancel

[2019-03-14 13:38] pkarman commented on #9799
![Screen Shot 2019-03-14 at 8.37.27 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/57968125341e740e0048fb83/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5700b77206455f76b7191a370f1112c4f5d585edd3c4a4356bcbbd671f3e57862804e0ee5d33c5d22c33413a5b8d41bbf50bd208b1d87b3bc891ed2f42f67b6d5db1063474f4dcbed5727a19041c95df349e44a55a21a3f6ae7762431.png)

[2019-03-14 13:41] pkarman commented on #9894
[code]

window has gotten larger.

[2019-03-14 13:41] #9894 closed

[2019-03-14 13:43] pkarman commented on #8676
@Sjones352 Do the Validation instructions in the issue description (top) need clarifying? Which step isn't clear?

[2019-03-14 13:46] allyceh commented on #9904
@laurjpeterson This case has been in a BVA Dispatch user's queue for 13 days. I think we should pull this case from his queue (cancel the BVA Dispatch task) since the decision letter should not go out in the mail, and the Veteran should not receive a decision. For the purpose of cleaning up this case's timeline, is there also a way to remove the judge and attorney tasks from the timeline since tho

[2019-03-14 14:00] MeredithStewart opened #9958 "Bug: Hearing Prep showing hearing days for Judge that isn't assigned"
This judge (Scire) is not assigned hearings on 4/10 and 4/11, yet it shows them in Hearing Prep. Manila isn't scheduled for a video hearing until August 2019. I can't determine why 4/11 is showing from some many locations for this judge when they aren't even scheduled for a hearing day.

<img width="949" alt="Screen Shot 2019-03-14 at 10 31 42 AM" src="https://user-images.githubusercontent.com/367

[2019-03-14 14:10] laurjpeterson commented on #9904
@aroltsch - could we cancel all the tasks (so they all have the "canceled" status)? BVA dispatch, attorney, and judge tasks?

As for the case timeline, I suggest we don't make any changes unless it's quite easy to append a word - something like "AttorneyTask - canceled". We'll have to design what a canceled task looks like in the Case Timeline when we have bandwidth to come back to that

[2019-03-14 14:13] pkarman commented on #9572
duplicate prod users

* [ ] ADJBAUST
* [ ] ADJBDJOR
* [ ] ADJEMCCL315
* [ ] ADJGSMIT315
* [ ] ADJJCOTN
* [ ] ADJJKETC
* [ ] ADJLBRIS
* [ ] ADJMCANT
* [ ] ADJNAUST
* [ ] ADJNSETR
* [ ] ADJPDRIS
* [ ] ADJRLILL
* [ ] ADJSCHIT
* [ ] ADJSJOHN437
* [ ] ADJTKRCI
* [ ] BVAAGIBSON
* [ ] BVAAISHIZ
* [ ] BVAASANTIAGO
* [ ] BVABISAACS
* [ ] BVACBOSELY
* [ ] BVACBOYD
* [ ] BVACCYKOWSKI
* [ ] BVADBREDEHORS
* [

[2019-03-14 14:19] nemodjuric commented on #9741
@mc-usds https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3905/

[2019-03-14 14:25] MeredithStewart commented on #9958
Related ticket: https://github.com/department-of-veterans-affairs/caseflow/issues/9954

[2019-03-14 14:26] MeredithStewart commented on #9954
Related ticket: https://github.com/department-of-veterans-affairs/caseflow/issues/9958

[2019-03-14 14:55] MeredithStewart commented on #9958
Could the Judge be switching hearing days and it's now showing up differently in the system?

[2019-03-14 15:23] laurjpeterson opened #9962 "Investigate Hearing badge icon"
Eng ticket to investigate this support ticket. It could turn into an actual engineering task after investigation to fix the bug.

To do: Investigate if hearing information for cases listed in this support ticket (https://github.com/department-of-veterans-affairs/appeals-support/issues/4393) is incorrect and why.

[2019-03-14 15:26] MeredithStewart commented on #9958
Investigated further. Screenshot provided by Hearing Branch must have been out of date. Judge changed hearing dates to 4/8 Houston. I confirmed that Production dates for Judge match in Hearing Prep and Hearing Schedule.

[2019-03-14 15:26] #9958 closed

[2019-03-14 15:51] marvokdolor-gov opened #9964 "Bug: User unable to assign tasks to any individual on their team"
### Description
During refresher training with AOD team, Charlene (AOD Team Lead) was unable to assign a case to anyone on her team, including herself. The error message was unreadable - see below.

Additionally, we confirmed with Nina today that she has been unable to assign cases from the Lit Support queue to users on her team. She's been trying for the past week.

Screenshot:

<img width="1439"

[2019-03-14 16:40] Sjones352 commented on #9709
@leikkisa looks like passing 'undifferentiated' works because an EP was created.  Please see screen-shots below.
<img width="1191" alt="Screen Shot 2019-03-14 at 12 16 40 PM" src="https://user-images.githubusercontent.com/23080951/54373180-32cc7200-4653-11e9-97be-779a4363fde2.png">

<img width="1096" alt="Screen Shot 2019-03-14 at 12 08 22 PM" src="https://user-images.githubusercontent.com/2308095

[2019-03-14 16:42] MeredithStewart opened #9965 "Bug: Hearing Prep shows Veterans previously scheduled editable on the docket"
Judges are seeing postponements and cancelations on Hearing Prep docket - looks like they can still edit dispositions, even though it's been previously scheduled.

This might not be a bug, but more a gap in our design implementation.

After April - goal is to depreciate Hearing Prep daily docket in favor of Hearing Schedule daily docket. However, short term, what can we do?

related ticket: https:

[2019-03-14 16:51] lomaxap commented on #9872
This appeal does not have a closest regional office. My theory is that this is one that was flagged with a "ValidateAddress" admin action before there was a zip code fallback. That action was deleted, but the status was no updated. May need to investigate if this affected other appeals.

[2019-03-14 16:58] lomaxap commented on #9872
Updated veteran's RO and AHLs and changed status to `assigned`

[2019-03-14 17:05] #9872 closed

[2019-03-14 17:18] aroltsch commented on #9904
I will look into it

[2019-03-14 17:30] leikkisa commented on #9948
I manually kicked off the one in Prod that wasn't started, the result is Supplemental Claim 1234

[2019-03-14 17:44] aroltsch commented on #9330
Work should continue on 02/18/2019 week

[2019-03-14 18:09] laurjpeterson opened #9968 "Case timeline tasks out of order"
In this screenshot, the BVADispatch tasks are ordered before the Judge and Attorney tasks, even though those were completed first.

![image (13)](https://user-images.githubusercontent.com/27704093/54380737-9a3dee00-4662-11e9-8f10-643540ed5192.png)

## AC
- Case timeline tasks are ordered newest to oldest, top to bottom

## Resources
Related Case Timeline cleanup ticket: https://github.com/departme

[2019-03-14 18:12] laurjpeterson commented on #9294
This issue could be related - Case timeline does not show dispatched legacy appeals correctly - https://github.com/department-of-veterans-affairs/caseflow/issues/9511

[2019-03-14 18:14] MeredithStewart opened #9969 "Update Case Details to remove "View Docs" link so ROs, call center folks, don't see it"
Remove the "View Docs" link in Case Details for Regional Offices that are accessing their view of Caseflow Hearing Schedule (CSEM function, "RO ViewHearSched")

Note that the user is prevented from accessing reader. They get a Drat message, but it would be more ideal if the link didn't appear.

[2019-03-14 18:14] aroltsch commented on #9294
@laurjpeterson so in this case the case timeline should have "Dispatched from BVA" if the case has a decision date.

[2019-03-14 18:19] laurjpeterson commented on #9294
Yep! See AC in this ticket - https://github.com/department-of-veterans-affairs/caseflow/issues/9511. I didn't realize this was a Case Timeline issue and not a Case Search results issue

[2019-03-14 18:25] youngfreezyVA commented on #9294
these are the results from the VACOLS query which confirm its a case timeline issue: https://dsva.slack.com/files/UF8J4F3C5/FGZ3VF93M/-.txt

[2019-03-14 18:25] #9294 closed

[2019-03-14 18:27] #9932 closed

[2019-03-14 18:27] MeredithStewart opened #9970 "BUG: VLJ Filter not working on View Hearing Schedule"
User story: As a hearing coordinator or Hearing Branch manager, I need to be able to sort the Hearing Schedule by Judge and see their entire schedule.

Judges have two entries - one all CAPS and one in Normal Case on the filter. The entries are not next to each other on the filter drop down, so users don't know that they aren't viewing the judges entire list of days.

Some of the filter results al

[2019-03-14 18:40] carolaponce commented on #9769
These mocks have been updated - closing this issue

[2019-03-14 18:45] #9589 closed

[2019-03-14 18:59] #9903 closed

[2019-03-14 19:19] MeredithStewart commented on #9857
Closing ticket. Veteran appears in list to schedule for Waco. Going directly to Case Details (not through Schedule Veterans), it did show Little Rock saved as the RO, but I was able to switch it back to WACO and it stuck when I opened the modal again.

[2019-03-14 19:19] #9857 closed

[2019-03-14 19:20] carolaponce opened #9971 "Plan for updating training information for Caseflow-intake"
As we continue to develop Caseflow-Intake we will have to update all training materials.
Here is a first pass at all the asset we SHOULD update, and ideas about the most efficient way to do it.

**Roles:**
**Designer or PM:**
Designer will be in charge of communication with training team the new intake features as the get ready to be release. Providing necessary information and screenshots to upda

[2019-03-14 19:40] pkarman commented on #8019
fixed in #9653

[2019-03-14 19:40] #8019 closed

[2019-03-14 19:41] Sjones352 commented on #8676
### Step 1 Higher Level Review
<img width="1680" alt="Screen Shot 2019-03-14 at 3 27 50 PM" src="https://user-images.githubusercontent.com/23080951/54386280-f9096480-466e-11e9-8b2a-bc06975cf395.png">
<img width="1680" alt="Screen Shot 2019-03-14 at 3 28 07 PM" src="https://user-images.githubusercontent.com/23080951/54386282-f9096480-466e-11e9-8783-cad508dc6516.png">
<img width="1421" alt="Screen S

[2019-03-14 19:44] pkarman opened #9972 "Intake | Remove AMA feature flags"
Now that AMA is fully in effect, we should remove all the related feature flags in our code.

These include:

* [x] `intake`
* [x] `intakeAma`
* [x] `intake_legacy_opt_in`

[2019-03-14 19:47] #6575 closed

[2019-03-14 19:48] #6592 closed

[2019-03-14 19:48] #6775 closed

[2019-03-14 19:49] #6878 closed

[2019-03-14 19:50] pkarman commented on #9816
thanks @Sjones352 -- the trick for this one is to click the "Dental" and then click "None of these match" and then the "Add this issue" button.

I validated this locally and it works, so I am going to close.

[2019-03-14 19:50] #9816 closed

[2019-03-14 19:51] #8306 closed

[2019-03-14 19:52] #9709 closed

[2019-03-14 20:12] allyceh commented on #9884
@shanear , @marvokdolor-gov and I observed this with one of our users today, but in her Queue. We also have an open ticket for it: https://github.com/department-of-veterans-affairs/caseflow/issues/9170

Is this something where one fix could fix all instances of this?

cc: @laurjpeterson

[2019-03-14 20:17] allyceh opened #9975 "Update team assignments for Lit Support and AOD"
Charlene (AOD user) and Nina (Lit Support user) all have access to the Mail team's queue. They don't need this access, and they can be removed from the mail team's list.

Charlene CSSID:
Nina CDDIS:

[2019-03-14 20:22] lowellrex commented on #9332
I think we may be seeing this in a postpone hearing modal: https://dsva.slack.com/archives/C42P25D6H/p1552586097054600

Perhaps Board employees using Caseflow have computers with such little horsepower that the browser can't draw the DOM updates as fast as we'd like and they are firing off simultaneous requests and we aren't able to reproduce this behaviour locally because our computers are just s

[2019-03-14 20:42] #4104 closed

[2019-03-14 20:43] #5161 closed

[2019-03-14 20:43] #5371 closed

[2019-03-14 20:44] #5616 closed

[2019-03-14 20:44] #5831 closed

[2019-03-14 20:52] #8740 closed

[2019-03-14 20:53] #3926 closed

[2019-03-14 20:54] #3888 closed

[2019-03-14 20:54] #3537 closed

[2019-03-14 20:55] #3785 closed

[2019-03-14 20:56] #3087 closed

[2019-03-14 20:56] #4221 closed

[2019-03-14 20:57] #4965 closed

[2019-03-14 21:01] #6450 closed

[2019-03-14 21:06] #520 closed

[2019-03-14 21:06] #766 closed

[2019-03-14 21:07] #1537 closed

[2019-03-14 21:07] #794 closed

[2019-03-14 21:07] #1937 closed

[2019-03-14 21:07] #2512 closed

[2019-03-14 21:08] #4876 closed

[2019-03-14 21:08] #2868 closed

[2019-03-14 21:09] #2454 closed

[2019-03-14 21:12] MeredithStewart opened #9979 "BUG: St. Petersburg Hearing day still shows 7:30 AM and can't be saved to 8:30 AM."
This issue persists on the docket here:

https://appeals.cf.ds.va.gov/hearings/schedule/docket/159

Related support ticket: https://github.com/department-of-veterans-affairs/appeals-support/issues/4400

[2019-03-14 21:31] leikkisa opened #9980 "Add Benefit Type to issue text on add issues page"
### Story
On the Appeal Add Issues page, a user can select a Benefit Type for issues, but the Benefit Type does not show up in the issue text on the add issues page

### Acceptance criteria
Show the Benefit Type for each issue in the Requested Issues section, before the Issue Category

[2019-03-14 21:40] pkarman commented on #9922
To find them in the db:
[code]

[2019-03-14 22:29] shanear opened #9983 "Intake Edit | Add select input for removing or withdrawing issues"
Since there are now multiple actions you can take on a request issue on the edit screen, we need to have a select box next to each issue with the options.

All withdrawal/removal mocks: https://va-gov.invisionapp.com/share/BRQUJR5J5AE#/screens/351540954

## Acceptance Criteria
- Next to each issue on the edit issues screen, there should be a select box with two options, "Withdraw issue" and "Remov

[2019-03-14 22:36] shanear opened #9984 "Intake Edit | Set issues to be pending for withdraw"
When "Withdraw issue" is selected, we should add that issue to a list of issue pending withdrawal.

All withdrawal/removal mocks: https://va-gov.invisionapp.com/share/BRQUJR5J5AE#/screens/351540954

requires #9983

## Acceptance Criteria
- When "Withdraw issue" is selected for an issue on the Add/remove issues page, Add that issue to a new section appearing beneath "Requested issues" called "Withd

[2019-03-14 22:49] shanear opened #9985 "Intake Edit | Save withdrawn issues"
We need to save withdrawn issues.

All withdrawal/removal mocks: https://va-gov.invisionapp.com/share/BRQUJR5J5AE#/screens/351540954

requires #9984
requires #9730

## Acceptance Criteria
- When "Save" is pressed on the Add/Remove issues page with one or more issues pending withdraw. Those issues should be closed as withdrawn with closed_at matching the date entered in the field.
- For VBMS based

[2019-03-14 22:55] shanear opened #9986 "Intake Edit | Show saved withdrawn issues on the edit screen"
When the Add/Remove issues page is visited, we should show all issues that have been withdrawn for that decision review, and when they were withdrawn.

All withdrawal/removal mocks: https://va-gov.invisionapp.com/share/BRQUJR5J5AE#/screens/351540954

requires #9985

## Acceptance Criteria
- On the Add/Remove issues page, show any issues that have been withdrawn in the past, with the date that they

[2019-03-14 22:57] shanear opened #9987 "Intake Edit | Withdrawal confirmation for VBMS based decision reviews"
We need to show a confirmation for users that issues were withdrawn.

All withdrawal/removal mocks: https://va-gov.invisionapp.com/share/BRQUJR5J5AE#/screens/351540954

requires https://github.com/department-of-veterans-affairs/caseflow/issues/9985

## Acceptance Criteria
- When a save is processed on the Add/Remove issues screen for a VBMS based review where one or more issues were withdrawn, a s

[2019-03-14 22:58] shanear opened #9988 "Intake Edit | Withdrawal confirmation for Caseflow based decision reviews"
We need to show a confirmation for users that issues were withdrawn.

All withdrawal/removal mocks: https://va-gov.invisionapp.com/share/BRQUJR5J5AE#/screens/351540954

requires https://github.com/department-of-veterans-affairs/caseflow/issues/9985

## Acceptance Criteria
- When a save is processed on the Add/Remove issues screen for a Caseflow based review where one or more issues were withdrawn.

[2019-03-14 22:58] shanear opened #9989 "Intake Edit | Show warning message if entire review will be withdrawn"
If the entire decision review is going to be withdrawn, we should have the UI signal this to the user.

All withdrawal/removal mocks: https://va-gov.invisionapp.com/share/BRQUJR5J5AE#/screens/351540954

requires https://github.com/department-of-veterans-affairs/caseflow/issues/9984

## Acceptance Criteria
On the Add/Remove issues screen, if the last issue of a decision review is set for pending wi

[2019-03-14 23:57] Sjones352 commented on #9794
<img width="1386" alt="Screen Shot 2019-03-14 at 7 20 40 PM" src="https://user-images.githubusercontent.com/23080951/54398619-37178000-4691-11e9-82eb-63e16f15561f.png">
<img width="1449" alt="Screen Shot 2019-03-14 at 7 21 31 PM" src="https://user-images.githubusercontent.com/23080951/54398620-37178000-4691-11e9-966f-6dc903df537d.png">
<img width="1505" alt="Screen Shot 2019-03-14 at 7 21 48 PM" s

[2019-03-15 00:32] Sjones352 commented on #9650
### Validation
1. On the Add/ Remove Issues page.
2. Click a `Add issue`
3. Select a rating
4. Click Add
5. Check if the decision date on the rating is the same as the the past decision date you delected.

[2019-03-15 13:01] msj0nes opened #9990 "Intake Navigation | Help | Update Introduction and Frequently Asked Questions"
As Lead Trainer, I would like to update the Intake Help Page so that the users can obtain additional detailed information on how to use this product.

## Acceptance Criteria
### Introduction Section
1. Verify that in the "Welcome to the Intake Help Page!" section, the copy has been updated to the following:

2. Verify that in the introduction section, the text "Training Videos" is a hyperlink to t

[2019-03-15 13:58] monfresh commented on #9587
Here's another one I fixed yesterday: #9967

[2019-03-15 14:20] #9307 closed

[2019-03-15 14:47] allyceh opened #9993 "Should we create a new appeal stream for motions records in Caseflow?"
Creating a ticket for this open question so that we can track it and so that we can have our engineering team weigh in on technical complexity.

We learned that Lit Support opens a new record for Motions and CAVC cases in VACOLS and they track them separate from Original cases. In Caseflow search results, Nina also mentioned that motions attorneys would like to see a list of cases that are either

[2019-03-15 14:48] allyceh commented on #9993
cc: @laurjpeterson Our convo earlier.

[2019-03-15 14:58] aroltsch commented on #9904
[code]

[2019-03-15 15:05] cmgiven opened #9994 "Images for the ACD wiki page"
Just a thread for uploading images to GitHub.

[2019-03-15 15:05] cmgiven commented on #9994
<img width="875" alt="Screen Shot 2019-03-15 at 10 57 50 AM" src="https://user-images.githubusercontent.com/5375557/54441014-3246e080-4712-11e9-9d30-b9db06a26705.png">

[2019-03-15 15:25] lowellrex opened #9995 "Remove AMA case distribution flag and legacy-only distribution code"
Now that [we've rolled out AMA case distribution](https://github.com/department-of-veterans-affairs/appeals-deployment/blob/e4595d3861b179867a96b969afb960057d14e572/ansible/vars/features-config.yml#L167) to everyone we should remove the `ama_auto_case_distribution` feature flag, make that code path the default, and remove the [legacy-only case distribution code](https://github.com/department-of-ve

[2019-03-15 15:43] cmgiven commented on #9994
[2018-11-14 Automatic Case Distribution UPDATED.pdf](https://github.com/department-of-veterans-affairs/caseflow/files/2971837/2018-11-14.Automatic.Case.Distribution.UPDATED.pdf)

[2019-03-15 15:44] #9994 closed

[2019-03-15 15:49] lowellrex opened #9996 "Distribute dismissals as part of auto-case distribution"
Currently, appeals that are dismissed (for example due to withdrawal or appellant death) are distributed manually outside of the auto-case distribution mechanism. This ticket exists to incorporate the distribution of dismissals into auto-case distribution.

The work required for a dismissal is much lighter than the work required to draft a decision for an appeal that has not been dismissed, as suc

[2019-03-15 15:57] mdbenjam commented on #9774
I don't think there's anything we can do with this since it sounds like we need all the information on this page.

[2019-03-15 15:58] lowellrex opened #9998 "Enable hearings-only case distributions"
Currently, when a judge requests cases [we first distribute cases](https://github.com/department-of-veterans-affairs/caseflow/blob/68c31a63721ccdec7a0a3f1347ada270f8524088/app/models/concerns/ama_case_distribution.rb#L20) that are "tied to that judge" (either because that judge held the hearing or the case is AOD and has been remanded by CAVC) before distributing "genpop" cases (cases that are not

[2019-03-15 16:07] lowellrex opened #9999 "Include hearings docket cases in auto-case distribution"
Hearings will start being held for AMA appeals in the hearings docket on April 1st, so auto-case distribution needs to distribute appeals in the hearings docket on that date as well. In order to do this we will need to build out [the `HearingRequestDocket` class](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/dockets/hearing_request_docket.rb) in the model of [th

[2019-03-15 16:11] lowellrex opened #10000 "Remove attorney_assignment_to_colocated feature toggle"
Now that the AMA effective date has passed an all attorneys are drafting decisions for AMA appeals we have [enabled the ability for all attorneys](https://github.com/department-of-veterans-affairs/appeals-deployment/blob/e4595d3861b179867a96b969afb960057d14e572/ansible/vars/features-config.yml#L143) to assign admin actions to the VLJ support staff through Caseflow. This ticket exists to remove the

[2019-03-15 16:26] shanear opened #10001 "Intake | Sync reviews race condition causes duplicate EPs"
Today Colin noticed a duplicate EP being created for a Higher Level Review. After digging through the logs, it looks like the there was a `DecisionReviewProcessJob` launched as a result of the of the intake on the main thread.

However, before that job finished, a cron'ed `SyncReviewsJob` noticed an unprocessed Higher Level Review, starting a second `DecisionReviewProcessJob`.

Those two jobs got

[2019-03-15 16:28] pkarman commented on #10001
I think this is an argument for only processing jobs via `SyncReviewsJob` and not also calling immediately in the sync flow.

[2019-03-15 16:28] ShellySmithDSVA commented on #9020
Adding Meredith to this task. Is there any further work needed from our team to address this ticket?

[2019-03-15 16:31] shanear commented on #10001
That introduces up to an extra 2-3 minute delay for the happy path, which I don't think is great. The business has said often that some CA's want to be able to see the EP very soon after the intake.

I think we can probably change `requires_processing` to put a bigger buffer for `last_attempted_at`. We should only be retrying Asyncables that failed over 30 min to an hour ago. Thoughts?

[2019-03-15 16:34] lowellrex opened #10002 "Create PrivacyActTask subclass of GenericTask"
Currently, when VLJ support staff assign tasks the Privacy team [we create `GenericTask`s assigned to that team](https://github.com/department-of-veterans-affairs/caseflow/blob/68c31a63721ccdec7a0a3f1347ada270f8524088/app/models/task.rb#L325). However, we've recently run into some issues with this approach when the Privacy team attempts to re-assign the task back to VLJ support instead of marking

[2019-03-15 16:35] pkarman commented on #10001
Maybe we just remove the `never_attempted` condition in the `attemptable` method? That way the cron job would only try things that have failed.

[2019-03-15 16:42] lowellrex commented on #8423
Another configuration that would be nice to pull out of code and into somewhere we (or LRP?) could more easily manipulate it are the constants that are in the auto-case distribution code (examples [here](https://github.com/department-of-veterans-affairs/caseflow/blob/68c31a63721ccdec7a0a3f1347ada270f8524088/app/models/distribution.rb#L22) and [here](https://github.com/department-of-veterans-affair

[2019-03-15 17:02] lowellrex opened #10004 "Separate construction of case timeline data and UI presentation"
Currently we determine what values should populate each field of a case timeline entry at the same place in the code where we determine how those fields should be presented. This causes [the code that does both of these things](https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/app/queue/components/TaskRows.jsx) to be hard to comprehend and [bug prone](https://github.com

[2019-03-15 17:48] nicholasholtz opened #10009 "EP 930s | Establish EP 930s via Caseflow Intake"
## Background
VBA uses 930EPs to track corrections needed to decisions that were previously processed and cleared under their primary EP.

For instance, a 030 EP Higher Level Review EP was cleared and it is found that there was an error on the decision, such as not all claimed issues decided. The station would then establish a 930EP series in order to correct the decision from the 030EP claim.

AM

[2019-03-15 17:50] sharonwarner opened #10010 "Dispositions | Hearing prep/schedule modal"
The warning modal should appear in both hearing prep and hearing schedule regardless of what the disposition is being saved to.

[2019-03-15 17:51] sharonwarner opened #10011 "Dispositions | Postpone button"
The postpone button should be set to a loaded state after it's clicked to prevent the user from double clicking.

[2019-03-15 17:52] sharonwarner opened #10012 "Dispositions | Load hearing day and RO when postponing"
When the user postpones immediately, we should autofill the hearing day and RO in the modal.

[2019-03-15 18:08] ShellySmithDSVA commented on #9887
We are currently speaking with the Queue team since the Paper Case notification seems to have disappeared from the Case Details page. We would like the Paper Case notification to be listed under the Docket Number. See the screenshot below.
![Screen Shot 2019-03-15 at 2 05 49 PM](https://user-images.githubusercontent.com/45463980/54452507-b8bbec00-472b-11e9-88b3-df525b967ca9.png)

[2019-03-15 18:22] MeredithStewart commented on #9887
What's weird, is that I thought we also had this on the Daily docket before and it's now missing.

[2019-03-15 18:36] allyceh commented on #8628
We will hide the About the Appellant section when the Veteran is the same as the appellant. @MeredithStewart just noticed in this case (https://appeals.cf.ds.va.gov/queue/appeals/51b7e5ac-a411-4278-99a4-57f7ef17fc3b) that the Veteran is the appellant (so, his name displays in both the About the Veteran and About the Appellant sections), but the addresses are different in both sections.

The Hearin

[2019-03-15 18:54] #9856 closed

[2019-03-15 18:56] cmgiven commented on #9999
The key differences from the parent class:

* `age_of_n_oldest_priority_appeals` should only return the age of genpop priority cases, while the parent class implementation would return the ages of any priority case.
* `distribute_appeals` needs to be implemented such that if the `genpop` argument is equal to "not_genpop", it will only distribute appeals that are tied to the `distribution.judge`. I

[2019-03-15 19:00] MeredithStewart commented on #6433
If this work was prioritized, this ticket would need to be revisited based on new updates.

[2019-03-15 19:00] #6433 closed

[2019-03-15 19:01] allyceh commented on #8628
Update: We pull this information from VACOLS. To update About the Appellant info, users should go to VACOLS for the time being.

[2019-03-15 19:08] ShellySmithDSVA opened #10013 "Design Research: Hearing Prep"
The purpose of this ticket is to research and fix errors in the Hearing Prep Daily Docket.

## Pre-Refactor
### Immediate/Critical
1. Previously scheduled hearing states - Show in line lock state for previously scheduled Veterans on hearing days
2. Add the Cancel link to the Daily Docket

### Other Priority Levels
* Show Hearing Locations in the Daily Docket and Hearing Days view.

### Triage
* **

[2019-03-15 19:16] hschallhorn commented on #7612
We don't store the type of a user (attorney, judge, acting judge) in our User repository. The current way we fetch the type of a user is by making [a call to vacols](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/user.rb#L252). This seems like a pretty redundant call to make after just retrieving all the attorney users from vacols.

SO. Do we want to
1. Add a vac

[2019-03-15 19:20] lowellrex commented on #7612
We have a ticket to [use `JudgeTeam` membership to determine](https://github.com/department-of-veterans-affairs/caseflow/issues/8436) whether somebody is a judge or an attorney instead of VACOLS roles. Could we use a similar approach here?

[2019-03-15 19:41] MeredithStewart commented on #9965
### User Story
* As a Judge prepping for hearings, I need to be able to clearly see which Veterans are currently on the schedule vs. those that have been previously postponed or canceled. It needs to be clear which Hearing worksheet should be worked (if a Veteran appears on the schedule twice, once postponed and then back on the schedule). As a Judge, I shouldn't be able to edit a disposition that

[2019-03-15 19:49] laurjpeterson opened #10014 "Explore process/dev changes needed for Legacy mail tasks to be created in Caseflow"
Initial exploration of steps required for Legacy tasks to be created in Caseflow.

1. Legacy appeals need RootTasks - vet whether we should do this for mail tasks or a more efficient approach
   - Are any RootTasks created for Legacy appeals right now?
     - Cases with hearing requests get a RootTask during the job from VACOLS Location 57 to CASEFLOW
   - Does it make sense to add a RootTask for

[2019-03-15 19:55] MeredithStewart commented on #8628
Update to the update: We think this info is coming from BGS.

[2019-03-15 20:00] laurjpeterson commented on #9993
I think we should just continue to add tasks to the same appeal in Caseflow. That is, do **not** create a new record (which I think could mean having a new docket number, etc. or defining a whole new type of record), but add tasks (e.g. Motion for Reconsideration) to the Root task for that appeal.

This would be a change, because I think right now we close RootTasks when appeals are dispatched fro

[2019-03-15 20:14] cmgiven commented on #9993
The VACOLS approach to motions makes it difficult to understand what post-decisional motions have been filed against a particular appeal. The advantage in a VACOLS context is that it allows you to record a second decision on the reconsideration, but we potentially have a lot more flexibility in how we record decisions.

I could certainly make an argument for tracking CAVC appeals separately, as it

[2019-03-15 20:31] marvokdolor-gov opened #10016 "Feature Request: Add a field for Mail Team so they can add Type of AOD Motion"
## Description
The AOD Team would like to add a field for the Mail Team to complete that indicates what `Type of AOD Motion` a piece of mail is. This is currently an optional field in VACOLS.

The options would be:
- Age
- Financial Hardship
- Serious Illness
- Other: with a text field to fill out

## Work Around
Since this is a nice-to-have for now, the intermediate approach is the AOD Team askin

[2019-03-15 20:39] MeredithStewart opened #10017 "AMA Hearing details missing hearing location"
In AMA hearing details page, the hearing location is missing, after it was scheduled for McAllen, TX.

https://appeals.cf.ds.va.gov/hearings/608e0653-fe08-47b1-a373-7410b20b5ced/details

[2019-03-15 21:03] MeredithStewart opened #10018 "Scheduled Veterans shows Suggested Hearing location, instead of Hearing location in first tab."
<img width="1022" alt="Screen Shot 2019-05-14 at 11 46 31 AM" src="https://user-images.githubusercontent.com/4306128/57712104-09719780-763e-11e9-9632-c219538f610e.png">

The 4th column in the above view needs the following changes:
1) The label should be Hearing Location
1) The value should be the hearing location, not the suggested hearing location
1) For central office hearings, we should displa

[2019-03-15 21:03] laurjpeterson commented on #9904
Asked Rachel (LRP) about this because I saw another Direct Review docket case for this same Veteran. Two decisions were drafted for this Veteran. One with VLJ Moshiashwili and the other VLJ Senyk. The one assigned to Moshiashwili has 2 eligible issues, and the one assigned to Senyk has 2 ineligible issues. They seem somewhat similar, but I'm not sure which are right.

<img width="927" alt="Screen

[2019-03-15 22:26] pkarman opened #10021 "Show Board Grant Effectuations in Appeal search results"
EPs created as a result of Board decisions on Appeals generate DecisionDocuments in Caseflow, but they are invisible via the UI. That can confuse folks looking to correlate what is in VBMS with Caseflow.

### Acceptance criteria

- [ ] DecisionDocuments should be visible in search results

[2019-03-15 22:32] pkarman commented on #9922
manual clean up performed to resubmit these once-ineligible request issues.

[code]

[2019-03-17 20:18] laurjpeterson opened #10023 "Determine process to cancel Evidence Window Submission tasks when Veterans waive their evidence window"
Based on this [slack thread](https://dsva.slack.com/archives/CA1QBDLEL/p1545148239053500), we know that Veterans will send in correspondence to waive their 90-day evidence window.

Some approaches:
- If the mail team recognizes that the mail item is a waiver of the evidence window
    - Mail team closes the `EvidenceSubmissionWindow` task that is already assigned to their organization
- If the mai

[2019-03-17 21:15] laurjpeterson commented on #8547
See mapping of current state and WIP proposed task flows in this Mural(https://app.mural.co/t/workqueue2001/m/workqueue2001/1549472359563/2e549e062b58704824b8faad5e5de95158de44b1)

[2019-03-17 23:25] laurjpeterson opened #10024 "Deprecating Caseflow Dispatch"
# Background
Caseflow Dispatch is the first product that was launched on this contract to solve the problem of appeals getting lost during the transfer from BVA to VBA post-BVA dispatch. It creates End Products in VBMS so VBA Claims Assistants can adjust Veteran benefits according to the Board's decision. Many VA business lines do not use VBMS so Caseflow Dispatch sends emails instead of creating

[2019-03-18 03:53] laurjpeterson commented on #9930
**Caseflow location**
- Internal and external comms about adding another definition to the CASEFLOW location

**Refactoring**
- Q: Is there any judge and attorney queue refactoring that would make sense to do throughout this, outside of replacing Legacy tasks with Caseflow tasks? If so, there might be more engineering tasks to incorporate.

**Attorney assign OMO task to judge**
- Perhaps the OMO t

[2019-03-18 03:54] laurjpeterson commented on #9588
https://github.com/department-of-veterans-affairs/caseflow/issues/9930

[2019-03-18 14:43] sneha-pai commented on #5385
### Discussion Questions:

Do we need to rely on roles at all (technical part)?

### Activities we need:

**Review cases:**
- Attorney drafting decisions (assigned by Judges) and assigning administrative actions (to VLJ support)
- Attorneys (as Acting Judges) signing cases (assigned by their attorneys), signing motions.

**Assigning cases:**
- Attorneys (as Acting Judges) assigning cases to attorn

[2019-03-18 14:53] MeredithStewart opened #10026 "Bug: Docket won't open"
Hearing Docket for Indianapolis, IN won't open in either Hearing Schedule or Hearing Prep.

https://appeals.cf.ds.va.gov/hearings/schedule/docket/94

Related Support ticket: https://github.com/department-of-veterans-affairs/appeals-support/issues/4524#event-2210420227

We tested a variety of fully scheduled dockets for East Coast/Central/West Coast in Hearing Schedule -- all opened without timeout

[2019-03-18 14:54] MeredithStewart commented on #10026
I've confirmed and had Hearing Branch try, this docket won't open. We get a white screen - maybe a timeout?

Also, Judge is reporting they can't open the Hearing Prep version of this docket.

[2019-03-18 15:10] MeredithStewart commented on #10026
We got a timeout in Hearing Prep as well.
<img width="564" alt="Screen Shot 2019-03-18 at 11 10 20 AM" src="https://user-images.githubusercontent.com/36775274/54540501-7d5d2f80-496e-11e9-9ece-db16eeb8e2e7.png">

[2019-03-18 15:24] laurjpeterson commented on #5385
LP's raw notes:

* Reason for acting judges
	* VACOLS staff record, indicator that they’re an acting judge
* Can we disassociate role type from acting judges entirely?
	* Assigning tasks = team view
		* Ask users to choose what task to assign
	* Queue view = individual
		* All tasks become the individual queue
		* JudgeAssign - org/team view
			* pick a single role?
* Can we delay acting judges af

[2019-03-18 15:24] laurjpeterson commented on #5385
LP's todos:
- external/stakeholder facing overview of DAS deprecation

[2019-03-18 15:32] MeredithStewart opened #10027 "Bug: Hearing Schedule Daily Docket & Hearing Details shows incorrect ROs for Time/RO Column"
For Hearing Schedule: For Central Office hearings, the Time/RO column is showing Veterans RO as opposed to Washington, DC. This seems to be pulling from the previous VACOLS RO to load it, instead of where the Veteran is being scheduled.

https://appeals.cf.ds.va.gov/hearings/schedule/docket/38
<img width="159" alt="Screen Shot 2019-03-18 at 11 32 54 AM" src="https://user-images.githubusercontent.c

[2019-03-18 15:45] carolaponce commented on #9990
@msj0nes - I had proposed some updates to this page, please review:
https://github.com/department-of-veterans-affairs/appeals-training/blob/master/Intake/AMA_training/Intake_helpPage.docx

[2019-03-18 15:52] carolaponce commented on #9990
@msj0nes  also - here is our updated training guide:
[Intake_TrainingGuide_2019.pdf](https://github.com/department-of-veterans-affairs/caseflow/files/2979039/Intake_TrainingGuide_2019.pdf)

[2019-03-18 15:54] carolaponce commented on #9195
Working with @msj0nes  to get this updated:
https://github.com/department-of-veterans-affairs/caseflow/issues/9990

[2019-03-18 15:55] lowellrex opened #10029 "Create organization for acting judges"
In order to fully support acting judges in a post-VACOLS, Caseflow-only world we need to allow acting judges to have the same assignment and decision review functionality as full-time judges. To accomplish this we will create a new `ActingJudgeTeam` organization that is a subclass of the existing `JudgeTeam` class. For now `ActingJudgeTeam` should have exactly the same capabilities as the `JudgeTe

[2019-03-18 16:08] Sjones352 commented on #9794
Checked this morning and I am still getting
`hlr.remand_supplemental_claims
[2019-03-18 11:52:44 -0400]   SupplementalClaim Load (1.2ms)  SELECT  "supplemental_claims".* FROM "supplemental_claims" WHERE "supplemental_claims"."decision_review_remanded_id" = $1 AND "supplemental_claims"."decision_review_remanded_type" = $2 LIMIT $3  [["decision_review_remanded_id", 1306], ["decision_review_remanded_

[2019-03-18 16:10] lowellrex commented on #9402
Resolved by #9167.

[2019-03-18 16:10] #9402 closed

[2019-03-18 16:27] Sjones352 commented on #9643
**Currently staged in Uat**
<img width="1219" alt="Screen Shot 2019-03-18 at 12 21 13 PM" src="https://user-images.githubusercontent.com/23080951/54545749-a71b5400-4978-11e9-9605-2376a2ce72ad.png">
<img width="1336" alt="Screen Shot 2019-03-18 at 12 22 27 PM" src="https://user-images.githubusercontent.com/23080951/54545750-a71b5400-4978-11e9-83f9-c7b68c2ee557.png">
<img width="1424" alt="Screen Sh

[2019-03-18 16:35] MeredithStewart commented on #9873
I'm concerned that there's something going on here where we can't see these Veterans. We should investigate as soon as we can.

From Mark: We should start with looking at VACOLS and finding Veterans that have Manila RO and also have a BGS address for the Phillippines and see what has happened to them so far in Caseflow.

[2019-03-18 16:36] MeredithStewart commented on #8992
Could we add something for Veterans that aren't being geo-matched and aren't getting admin tasks? Or is there a different way to have visibility on those?

[2019-03-18 16:41] MeredithStewart commented on #9752
@cmgiven -- We need to know how to pull the Hearing Docket date as it is calculated by Appeals Status. Can you share?

[2019-03-18 16:45] MeredithStewart commented on #9853
@laurjpeterson -- Let's make this change!

It's confusing for the user, especially since there's a note at the bottom that says the Veteran info is coming from VBMS.

Let's get rid of it on Case Details. Thanks!

[2019-03-18 16:55] shanear commented on #9649
It seems like IMO is no longer necessary. This is the full list of 040's per Jane:

## 040 Supplemental EP
Board DTA Error Non-Rating
Board DTA Error Rating
HLR DTA Error Non-Rating
HLR DTA Error Rating
PMC Board DTA Error Non-Rating
PMC Board DTA Error Rating
PMC HLR DTA Error Non-Rating
PMC HLR DTA Error Rating
PMC Supplemental Claim Non-Rating
PMC Supplemental Claim Rating
Supplemental Claim No

[2019-03-18 16:57] laurjpeterson commented on #9969
We also need to remove this link for folks with the Caseflow Case Details CSEM function. [Slack message](https://dsva.slack.com/archives/C6E41RE92/p1552928084167600) where this was raised.

[2019-03-18 16:58] cmgiven commented on #9753
Priority (AOD) cases should always be ready to schedule.

For nonpriority cases, per #9453, we need to run a monthly (or weekly, or biweekly) job that calls the following:

[code]

And then record that each appeal in `appeals` is now ready to be scheduled for a hearing. Note that `month` is the month for which we are scheduling, not the current month.

[2019-03-18 16:59] hschallh commented on #7612
It looks like we're down to 22 VACOLS judges that do not have a judge team. Would there be any downside to automatically creating a team for each of these judges?

[2019-03-18 17:04] cmgiven commented on #9752
[code]

That'll give you a date corresponding to the first day of the month.

Note that although a new DocketSnapshot is taken every day, the `latest_docket_month` only updates once a week, corresponding to how the Board calculates it.

[2019-03-18 17:07] cmgiven commented on #9752
Also note that this is the Board's docket date. If there are adjustments, I think at one point the hearing docket date was one year after the Board's, those adjustments would still need to be made.

[2019-03-18 17:13] cmgiven commented on #9753
Actually, I just realized there's an issue here, which is that this will include appeals that have already been marked as ready to be scheduled, but have not yet been decided. So the same appeals will get hit multiple times. We need an offset argument.

[code]

Where offset is the index on the docket of the oldest pending appeal that has already been marked as ready.

Sorry for the additional wrin

[2019-03-18 17:14] laurjpeterson commented on #9853
Sounds good! The dev work for this is complete, so @youngfreezyVA will merge!

[2019-03-18 17:15] hschallhorn commented on #7612
It looks like we're down to 22 VACOLS judges that do not have a judge team. Would there be any downside to automatically creating a team for each of these judges?

[2019-03-18 17:17] lowellrex commented on #7612
It's likely that not all of them are judges. See [this recent investigation](https://github.com/department-of-veterans-affairs/caseflow/issues/8436#issuecomment-466144809) into why there is a mismatch between the number of judges we identify with `JudgeTeam`s and judges as determined by the [`User.judge_in_vacols?` method](https://github.com/department-of-veterans-affairs/caseflow/blob/9887a895f97

[2019-03-18 17:30] lowellrex opened #10032 "Consolidate individuals' queue table views"
We have three different ways to display an individual Caseflow user's tasks, [one for attorneys](https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/app/queue/AttorneyTaskListView.jsx), [one for judges](https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/app/queue/JudgeDecisionReviewTaskListView.jsx), and [one for everybody else](https://github.c

[2019-03-18 17:42] MeredithStewart commented on #9752
@cmgiven -- So, there isn't a separate one just for hearings?

[2019-03-18 17:43] MeredithStewart commented on #9969
@laurjpeterson -- Do you know if this was already done for VSO Views of Caseflow?

[2019-03-18 17:51] pkarman commented on #9448
Not getting reports of this anymore, closing subject to more reports.

[2019-03-18 17:51] #9448 closed

[2019-03-18 18:11] pkarman commented on #10001
Closing till we see this issue re-emerge.

[2019-03-18 18:11] #10001 closed

[2019-03-18 18:32] leikkisa commented on #9649
Ask Nate for the actual codes

[2019-03-18 18:39] lowellrex opened #10033 "Be more selective about which appeals to update representation for nightly"
#9190 added [a job that runs nightly](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/jobs/update_appellant_representation_job.rb), hits BGS to see if appellant information for the case has changed, and updates `TrackVeteranTask`s that give visibility into appeals in Caseflow for VSOs if it has. Currently, that job makes requests for every AMA appeal that is active at th

[2019-03-18 18:44] mdbenjam commented on #10033
I like both of these ideas. I think for now a first pass can be bullet 1. But in the future I think doing something with bullet 2 to reduce the number of calls we need to make would be 👌 . I can take over bullet 1 for now since we need to expand this job for hearing schedule.

[2019-03-18 18:49] pkarman commented on #9734
See also #9888

[2019-03-18 18:53] cmgiven commented on #9752
There is not. To date, we’ve only ever described the decision docket to Veterans.

[2019-03-18 18:55] laurjpeterson commented on #9993
@cmgiven to clarify

Post-decisional motions should be considered the same way as tracking CAVC appeals separately? So they should be their own record instead of tasks added to the previous appeal?

[2019-03-18 18:55] aroltsch commented on #9930
I've mentioned that here: "Create JudgeOmoAssignTask record when an attorney creates OMO and assigns it to a judge"

[2019-03-18 18:57] laurjpeterson commented on #9969
Yes, this is already done for VSO views.

[2019-03-18 18:58] aroltsch commented on #9930
At first I thought we could create a new task Type `JudgeOmoReviewTask` when a case comes back from OMO, but I actually like the idea of creating JudgeAssignTask

[2019-03-18 18:58] laurjpeterson commented on #10023
@allyceh @sneha-pai @marvokdolor-gov @lowellrex @MeredithStewart @ShellySmithDSVA - fyi, a new task we'll need. related to all the task naming work we're doing now.

[2019-03-18 18:59] aroltsch commented on #9930
Would colocated users be working these cases?

[2019-03-18 19:00] aroltsch commented on #9930
Good point. We can create a DAS record when a judge creates an OMO request

[2019-03-18 19:27] sunil-sadasivan opened #10035 "When impersonating a user, create a way to log out of user, but not log out of Caseflow"
Issue: Right now, when an internal admin user impersonates another user in `/test/users` there is not a good way to log out of impersonating that user (without logging out of Caseflow).

Here's a suggested flow:
1. After successfully impersonating a user in `/test/user`, let's redirect that user `/help`.
2. When signed in to an impersonated user and going to `/test/user` this should log the admin

[2019-03-18 19:27] laurjpeterson commented on #10024
@shanear @cmgiven - a first stab at writing out what we need to do to deprecate Caseflow Dispatch. Can you both provide feedback by end of this week, 3/22? Feel free to edit the original ticket directly.

[2019-03-18 19:50] #9954 closed

[2019-03-18 19:54] mdbenjam commented on #9896
Blocked on: https://github.com/department-of-veterans-affairs/caseflow/issues/10033

[2019-03-18 20:04] mdbenjam commented on #10033
Been thinking more about this. Here is my plan.

1) Add a new table, RecordUpdatedByJob, with a polymorphic association record_type, record_id, and with the asyncable columns submitted_at, attempted_at, processed_at, error.
2) Add a `has_one` relation between both legacy appeal and appeal to this new RecordUpdatedByJob table.
3) In the UpdateAppellantRepresentationJob set a limit of 2000 cases to

[2019-03-18 20:23] laurjpeterson commented on #8971
Noting that when backfilling decision issues, we took the approach to append the Request issue disposition to the front of the Request issue.

So, decision issues for the RAMP appeal pilot period (Oct - ~Feb) will look something like this:
![image](https://user-images.githubusercontent.com/27704093/54561055-22413200-499a-11e9-9552-59ab3fb56a7d.png)

[2019-03-18 20:26] pkarman commented on #9800
One example:

A SC was created. An unidentified request issue was removed and another added. Then the 2nd unidentified issue was replaced with a rating request issue.

[code]

The 2nd unidentified request issue (9671) re-used the removed contention id assigned to the 1st unidentified request issue (7453). Then when we attempted to remove 9671, because it was pointing to a non-existent contention,

[2019-03-18 21:12] #9543 closed

[2019-03-18 21:20] allyceh opened #10036 "Change decision issues in Caseflow"
An attorney incorrectly added AMA decision issues to their case (https://appeals.cf.ds.va.gov/queue/appeals/22db8689-9ad6-4f13-b3a1-bc5034f6ff5c)

The BVA decision letter in the Veteran's appeal file states that two issues were denied:
Entitlement to service connection for sarcoidosis is denied.
Entitlement to service connection for interstitial pulmonary fibrosis is denied.

However, the attorney

[2019-03-18 21:34] allyceh opened #10037 "Decision issue missing in Caseflow"
Opening this ticket so that we can continue to de-bug missing decision issues in Caseflow.

This case was dispatched from BVA on 3/12. There isn't a decision issue associated with the request issue: https://appeals.cf.ds.va.gov/queue/appeals/55ede599-89bd-46cc-b683-64c4541b173e

[2019-03-18 23:00] leikkisa opened #10039 "User missing CSUM permissions"
User does not have permissions to establish a claim for a Veteran who works at their Regional Office.

We should check for this an put a more useful error message on the search screen.

Example:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3467/events/277130/

[2019-03-18 23:02] leikkisa commented on #10039
It's been a little tough figuring out who to go to for CSUM persmissions, but Raul Saldivar has helped us with this in UAT int he past so I'll see if he can point us to someone who has more information about the process.

[2019-03-18 23:18] leikkisa opened #10040 "Update RequestIssuesUpdate error if contention is not found"
The processing error on RequestIssueUpdate is not populated if it fails due to the contention not being found.

### Acceptance criteria:
Error is stored in RequestIssuesUpdate table
The RequestIssuesUpdate should ideally not be re-attempted since it is going to have the same issue again.

See #10041

[2019-03-18 23:27] #9875 closed

[2019-03-18 23:30] leikkisa opened #10041 "RequestIssuesUpdate saves the wrong contention_reference_id when removing and adding a contention"
When removing a contention from a decision review during edit, and adding another contention at the same time, the removed contention's ID is saved as the contention ID on the new request issue.

#### Acceptance Criteria
In one edit session, remove a request issue that has a contention in VBMS, and add a new request issue.

The removed issue should have its contention removed from VBMS. The added

[2019-03-19 00:14] cmgiven commented on #9993
There are pros and cons both ways. But the argument for making it its own record is that the motion has the potential to have its own set of DecisionIssues, something that becomes more complex if it’s just a task on the original appeal.

[2019-03-19 01:58] lowellrex opened #10043 "Unify individual queue table view titles"
[Attorney](https://github.com/department-of-veterans-affairs/caseflow/blob/e7b449a3cfa29a6a5992cad4f8e0ae92cc45303b/client/app/queue/AttorneyTaskListView.jsx#L101) and [generic queues](https://github.com/department-of-veterans-affairs/caseflow/blob/e7b449a3cfa29a6a5992cad4f8e0ae92cc45303b/client/app/queue/ColocatedTaskListView.jsx#L63) are both titled "Your cases" (they have [different](https://gi

[2019-03-19 02:20] lowellrex opened #10044 "Add tabs to judges' individual queue table views"
Judges' individual queues only show a single table that is the equivalent of attorney and generic queues' "assigned" tabs. Judges can navigate to their "assign cases" view [using the dropdown menu](https://github.com/department-of-veterans-affairs/caseflow/blob/38f4036dbedae0fed89bf4eb5c36349c16be9e57/client/app/queue/JudgeDecisionReviewTaskListView.jsx#L71) in the top right of their queue which p

[2019-03-19 12:35] aroltsch commented on #10037
https://appeals.cf.ds.va.gov/queue/appeals/c2b58452-b4ee-4e05-8c6f-a936f86b417b

[2019-03-19 12:52] aroltsch commented on #10037
Investigation result:

https://appeals.cf.ds.va.gov/queue/appeals/c2b58452-b4ee-4e05-8c6f-a936f86b417b
The appeal has one request issue with a closed status `decided` and closed_at on Thu, 28 Feb 2019 13:45:54 UTC +00:00 even though it was dispatched on 2019-03-12 14:35:23 so the request issue was closed long before it was dispatched. That explains why validation https://github.com/department-of-v

[2019-03-19 14:05] lowellrex opened #10047 "Use single method for collecting assigned tasks for individual queues"
[Attorney queues](https://github.com/department-of-veterans-affairs/caseflow/blob/f4b9a42925dd85eb0a12f52da96d97afcc222d75/client/app/queue/AttorneyTaskListView.jsx#L129), [judge queues](https://github.com/department-of-veterans-affairs/caseflow/blob/f4b9a42925dd85eb0a12f52da96d97afcc222d75/client/app/queue/JudgeDecisionReviewTaskListView.jsx#L95), and [generic queues](https://github.com/departmen

[2019-03-19 14:13] laurjpeterson commented on #9693
@lowellrex - should i create a separate ticket for VSOs to be able to assign tasks to individuals or is it captured here (double checking because of your above comment)?

[2019-03-19 14:16] lowellrex commented on #9693
I think it makes sense to create another ticket for that since the solution might be different. But we should link to this ticket from it in case the solution is the same.

[2019-03-19 14:23] laurjpeterson commented on #9693
Re-opened this old one: Allow VSO users to assign cases to VSO users - https://github.com/department-of-veterans-affairs/caseflow/issues/7480

[2019-03-19 14:26] laurjpeterson commented on #7480
Re-opening because this engineering work still has to be done

[2019-03-19 14:48] lowellrex opened #10048 "Use QueueOrganizationDropdown for judges' queue navigation element"
Currently the queue navigation dropdown selector for [judges' individual queues](https://github.com/department-of-veterans-affairs/caseflow/blob/9887a895f97d976a8107bdc5d0fdb593b27b9693/client/app/queue/JudgeDecisionReviewTaskListView.jsx#L71) is built differently than the similar component for [attorney](https://github.com/department-of-veterans-affairs/caseflow/blob/f4b9a42925dd85eb0a12f52da96d9

[2019-03-19 14:56] lowellrex opened #10049 "Pass columns to display in queue table view from back-end"
In preparation to [consolidate the three individual queues](https://github.com/department-of-veterans-affairs/caseflow/issues/10032) let's pass the set of columns to display in the table from the back-end so the front-end can be agnostic to the user's role. Each of the individual queue views (and the tabs within those queues) differ slightly so passing these from the back-end (where we will always

[2019-03-19 15:09] pkarman opened #10051 "Intake | Close Appeal request issues only if closed tasks"
Per @aroltsch

See thread in https://dsva.slack.com/archives/C754H751T/p1553001634188200

[2019-03-19 15:51] aroltsch commented on #10051
### Appeals that have been dispatched but missing decision issues:

[code]

### Appeals that have not been dispatched but have have `decided` request issues:

[code]

[2019-03-19 15:57] lowellrex commented on #10033
I really like that. I think it would have made sense for `UpdateAppellantRepresentationJob` to have followed the pattern established by [`SyncReviewsJob`](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/jobs/sync_reviews_job.rb) all along.

Would it makes sense to include the name of the job in the `RecordUpdatedByJob` table so that multiple different asyncable jobs can

[2019-03-19 16:03] ShellySmithDSVA opened #10052 "Bug: Placeholder Ticket"

[2019-03-19 16:29] #9842 closed

[2019-03-19 16:53] mdbenjam commented on #10033
Yup I like that. Going to start implementing this.

[2019-03-19 17:40] lowellrex commented on #9693
One thought about how to do this is that we could cache the VSO staff-VSO organization relationship information through a (nightly?) job that adds (and deletes!) a record in the `organizations_users` table in order to but keeps all of the other checks around

[2019-03-19 18:31] pkarman commented on #10051
Clean up included:
[code]

[2019-03-19 18:32] pkarman commented on #10051
this problem was due to #9556 where we should have selectively skipped certain Appeals and not set their request issues to "decided".

[2019-03-19 18:35] pkarman commented on #10051
We identified further Appeals that require decision issues be re-created.

[code]

Affected Appeals: `[1040, 1127, 1203, 1220, 1248, 1296, 1273, 1373, 1394, 534, 1113, 1689, 240, 624, 138, 1096, 1542, 1640, 1082]`

@aroltsch is going to talk with @laurjpeterson about next steps.

[2019-03-19 18:47] leikkisa opened #10059 "Investigate insertBenefitClaim: City is null"
We are getting this error on establishing a claim.

```An error occurred while establishing the claim: Unable to establish claim: insertBenefitClaim: City is null```

We believe this is due to there being a non-Veteran claimant on the claim, and that dependent not having an address populated in the database.

Sentry example:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3

[2019-03-19 18:54] lowellrex commented on #9026
Updated the 6 `ColocatedTask`s that had been completed but not recognized as such in Caseflow. @laurjpeterson can we check with Randy to make sure all of these tasks have disappeared from the VLJ support staff queue?

_Record of what we did:_
[code]

[2019-03-19 18:59] aroltsch opened #10060 "Manually create decision issues and kick off EP creation job"
[code]

[code]

[2019-03-19 19:04] aroltsch commented on #10060
[code]

[2019-03-19 19:12] pkarman commented on #9650
Assigning to myself to validate.

[2019-03-19 19:14] aroltsch commented on #10037
This ticket explains the problem in the comments https://github.com/department-of-veterans-affairs/caseflow/issues/10051

[2019-03-19 19:14] #10037 closed

[2019-03-19 19:16] pkarman commented on #9476
I'm not sure how a different file number would help. I will investigate 700032765

[2019-03-19 19:28] allyceh opened #10061 "Should we prevent users from assigning a task back to the team that assigned it to them?"
@lowellrex originally surfaced an issue where the Privacy team was assigning tasks back to teams who originally assigned the task to them. They were doing this because they didn't have enough information to complete the task and couldn't take action on it. This creates a duplicate task in Caseflow.

In the short term, we told the Privacy team to reach out to the appropriate team for clarifications

[2019-03-19 19:29] leikkisa commented on #9649
Here are the codes:
Board DTA Error Non-Rating - 040BDENR
Board DTA Error Rating - 040BDER
HLR DTA Error Non-Rating - 040HDENR
HLR DTA Error Rating - 040HDER
PMC Board DTA Error Non-Rating - 040BDENRPM
PMC Board DTA Error Rating - 040BDERPMC
PMC HLR DTA Error Non-Rating - 040HDENRPMC
PMC HLR DTA Error Rating - 040HDERPMC
PMC Supplemental Claim Non-Rating - 040SCNRPMC
PMC Supplemental Claim Rating

[2019-03-19 19:32] leikkisa commented on #9649
@Sjones352
The codes are implemented in models/request_issue.rb, in the END_PRODUCT_CODES, and logic for them starts with the end_product_code method.

The tests for this are in spec/models/request_issue.rb for #end_product_code

[2019-03-19 19:35] #9874 closed

[2019-03-19 19:42] MeredithStewart commented on #9970
Closed this ticket -- because this situation, although not ideal, goes away once the View Schedule is post April 1, 2019.

[2019-03-19 19:42] #9970 closed

[2019-03-19 19:48] ShellySmithDSVA commented on #10026
This page is intermittently loading. When it does load the docket is missing addresses and representative information for all Veterans on the docket.

[2019-03-19 20:01] MeredithStewart commented on #9979
Updates allowed me to save to correct times for 8:30 and 12:30 on the St. Petersburg docket. Sent email to branch to let them know to update any other times that are incorrect.

[2019-03-19 20:01] #9979 closed

[2019-03-19 20:16] MeredithStewart commented on #9954
This is fixed.  Now only shows the RO that has been scheduled.

[2019-03-19 22:35] #9540 closed

[2019-03-20 02:17] pkarman commented on #10041
See also #9800

[2019-03-20 11:52] aroltsch commented on #10060
https://github.com/department-of-veterans-affairs/caseflow/issues/10051#issuecomment-474516710

[2019-03-20 12:00] aroltsch commented on #9930
Yes, these tickets imply refactoring.

[2019-03-20 12:15] aroltsch commented on #9930
If the case is randomly selected for a Quality Review, at what point should we create a decass record?
After the QR is complete or when it is selected. What if the QR office sends the case back to the judge to correct things.

[2019-03-20 12:16] aroltsch commented on #9930
@laurjpeterson would you take another look at these comments and ticket description before tomorrow's spring planning please.

[2019-03-20 13:59] pkarman commented on #10041
these contention ids are being assigned to more than one request issue in production:
`["87456051", "87449256", "87271002", "87130493", "87069181", "87087863", "87252459", "87376149", "87536950", "87378529", "87378528", "87378527"]`

[2019-03-20 13:59] #10011 closed

[2019-03-20 13:59] #10012 closed

[2019-03-20 14:27] MeredithStewart commented on #9876
Confirm that the timezones have been updated and are reflecting correctly.

[2019-03-20 14:27] #9876 closed

[2019-03-20 14:40] MeredithStewart opened #10066 "Bug: Judge doesn't see all hearing days assigned in Hearing Prep. Hearing Schedule Filter for Judge doesn't show all of Judges hearing days."
Judge Michael Herman sees different hearing days in Hearing Prep than we see in Hearing Schedule, even though Veterans are scheduled. One of the hearing days that the Judge was changed to (4/22), is not showing up in the filter for that judge on Hearing Schedule, but does show up inline.

What Judge Herman can see for upcoming hearing days in Hearing Prep:
<img width="313" alt="Screen Shot 2019-03

[2019-03-20 14:50] #10010 closed

[2019-03-20 14:50] laurjpeterson opened #10067 "Add Veteran state column and filtering for VSO views"
## AC
- State column exists for VSO organizational and individual queues
- Users can filter by state
- Hover over explanation with copy: "This state comes from the Veteran address in CorpDB. Under AMA,  because AMA doesn't have RO"k

## Technical notes
- Look at Veteran's zip code from CorpDB ?

[2019-03-20 15:01] nemodjuric commented on #10035
And maybe:
3. When clicking on logout while signed in to an impersonated user, log the admin user out of the impersonated user and back in to the admin account and redirect to /test/user page.

[2019-03-20 15:11] laurjpeterson commented on #9993
Discussion 3/20:

- Decision to use a new "record" / a new "appeal" with a specific type:
   - pros: it allows us to only select issues that are being reconsidered, vacated, etc.
   - cons: story of the whole appeal process is more confusing, you have to jump through different appeals streams

- need a flow to intake issues to this Vacate record from the previously decided appeal
- Lit Support fol

[2019-03-20 15:16] MeredithStewart opened #10069 "Bug: Can't save hearing time to reflect 8:30 AM"
On this docket: https://appeals.cf.ds.va.gov/hearings/schedule/docket/128

The first Veteran used to have Manila RO show up (but Veteran is properly scheduled for Oakland. We fixed that, but now the time won't save to reflect 8:30 AM on the docket, it shows 5:30 PM PT.

<img width="107" alt="Screen Shot 2019-03-20 at 11 10 59 AM" src="https://user-images.githubusercontent.com/36775274/54696139-acf

[2019-03-20 15:19] pkarman opened #10070 "Intake | No decision date error on edit"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4141/events/278262/

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4415/events/291850/

Unable to identify a decision date for a rating issue.

This is a Supplemental Claim with one rating request issue. The rating issue has a profile date.

When fetching the ratings there is a "Locked Rating Detected

[2019-03-20 15:27] aroltsch opened #10071 "Do not display available actions on judge evaluation screen"
![image](https://user-images.githubusercontent.com/3811786/54697521-1a9d9c80-4b04-11e9-8160-e7c79bfab59b.png)

AC: Do not display available actions on judge evaluation screen

[2019-03-20 15:34] Sjones352 commented on #9922
**Passes UAT**

<img width="1185" alt="Screen Shot 2019-03-20 at 11 31 50 AM" src="https://user-images.githubusercontent.com/23080951/54697441-f6da5680-4b03-11e9-890b-1ef14e361682.png">
<img width="1142" alt="Screen Shot 2019-03-20 at 11 33 01 AM" src="https://user-images.githubusercontent.com/23080951/54697442-f772ed00-4b03-11e9-8520-48383d50b920.png">

[2019-03-20 15:34] #9922 closed

[2019-03-20 15:35] Sjones352 commented on #9789
@leikkisa can you please add some validation instructions.

[2019-03-20 15:42] Sjones352 commented on #8676
Following up with Colin on this issue.

[2019-03-20 15:43] lowellrex commented on #10061
I outlined one approach for handling the privacy team duplicate task issue [in a recent ticket](https://github.com/department-of-veterans-affairs/caseflow/issues/10002) in case that informs what we do for this ticket.

[2019-03-20 15:43] Sjones352 commented on #9303
Combined with #9142

[2019-03-20 15:44] pkarman commented on #9892
dupe of #9948

[2019-03-20 15:44] #9892 closed

[2019-03-20 15:44] MeredithStewart opened #10072 "Bug: View Schedule filter isn't in sync with assigned hearing days"
The front end filter on judges in the View Schedule on Hearing Schedule, seems to be delayed/not insync with the changes that are made for judges through edits to the hearing day on the Daily docket.

Judge Michael Herman should show up in the filter for 4/22, because he's been added to that day, but we don't display that date when filtering on his name. (It's under the all CAPS version).

When fi

[2019-03-20 15:45] #9522 closed

[2019-03-20 15:49] Sjones352 commented on #9772
Colin validated #9142 and it passes.
<img width="462" alt="Screen Shot 2019-03-20 at 11 47 57 AM" src="https://user-images.githubusercontent.com/23080951/54698741-30ac5c80-4b06-11e9-8b87-d593927767ca.png">

[2019-03-20 15:49] #9772 closed

[2019-03-20 15:51] pkarman commented on #10041
Research on the existing duplicates:

### 87456051

same rating issue
should be 87559687

### 87449256

both unidentified, different text
has 2 contentions, one with text of active RI [87559840] but submit date a month earlier, one with UNIDENTIFIED [87559706] with same submit date. both have same start date.

### 87271002

both unidentified, different text
has 3 contentions, one with UNIDENTIFIED

[2019-03-20 15:51] Sjones352 commented on #9142
Colin Validated and It passes
<img width="462" alt="Screen Shot 2019-03-20 at 11 47 57 AM" src="https://user-images.githubusercontent.com/23080951/54698870-6c472680-4b06-11e9-9faa-85542d28f65f.png">

[2019-03-20 15:51] #9142 closed

[2019-03-20 15:52] aroltsch commented on #10060
[code]

[2019-03-20 15:53] pkarman commented on #8675
@Sjones352 : let @shanear know if the validation instructions are enough to move forward.

[2019-03-20 15:54] Sjones352 commented on #9303
Colin validated #9142 and it passes.
<img width="462" alt="Screen Shot 2019-03-20 at 11 47 57 AM" src="https://user-images.githubusercontent.com/23080951/54699113-d069ea80-4b06-11e9-8f28-4fe39adf367c.png">

[2019-03-20 15:54] #9303 closed

[2019-03-20 15:54] #8655 closed

[2019-03-20 15:54] #9812 closed

[2019-03-20 15:54] #9810 closed

[2019-03-20 15:54] #9886 closed

[2019-03-20 15:56] #10027 closed

[2019-03-20 15:56] pkarman commented on #9650
Validated. Date matches 10/03/2018 on both screens.

![Screen Shot 2019-03-20 at 10 55 46 AM](https://user-images.githubusercontent.com/1205061/54699338-d22fb000-4afe-11e9-8c5c-aea9ffeed494.png)

![Screen Shot 2019-03-20 at 10 56 00 AM](https://user-images.githubusercontent.com/1205061/54699354-d8be2780-4afe-11e9-8339-a9db3d5a1885.png)

[2019-03-20 15:56] #9650 closed

[2019-03-20 15:58] MeredithStewart opened #10073 "Update hearing location in Hearing Details"
Hearing location needs to be updated to reflect Washington, DC for Central Office hearings. It was showing the VACOLS RO as hearing location.

<img width="498" alt="Screen Shot 2019-03-20 at 11 56 25 AM" src="https://user-images.githubusercontent.com/36775274/54699551-9d742680-4b07-11e9-845f-41dc89e81cbd.png">

[2019-03-20 16:14] MeredithStewart opened #10075 "Bug: AMA Hearings need to load POA and full address on Hearing Schedule Daily"
On the Hearing Schedule daily docket, for AMA hearings, we're not loading the Veteran's full address or POA.  From Mark: We are making those calls, we aren't just displaying.

[2019-03-20 16:16] MeredithStewart commented on #10066
Related ticket: https://github.com/department-of-veterans-affairs/appeals-support/issues/4531

[2019-03-20 16:42] monfresh commented on #9928
Here's another example where this pattern has resulted in a production exception:

In `SpecialIssuesController`, we have `before_action :validate_access_to_appeal`:

[code]
This then calls `appeal_has_task_assigned_to_user?` on the `current_user`:
[code]
which then calls ` fail_if_no_access_to_legacy_task!(appeal.vacols_id)`:

[code]
which then calls `fail_if_no_access_to_task!` on the repository:

[2019-03-20 17:00] #9511 closed

[2019-03-20 17:13] aroltsch commented on #9558
@laurjpeterson currently, if it is a hearing schedule task, there is no option to send it back to the attorney. Do we want to add that new option?

![image](https://user-images.githubusercontent.com/3811786/54704806-dc0ede80-4b11-11e9-9f00-7d8c57505abb.png)

[2019-03-20 17:14] #7538 closed

[2019-03-20 17:14] aroltsch commented on #9558
@youngfreezy Test scenarios that should be present in the PR in spec/feature/queue/colocated_task_queue_spec.rb:

1. When a vjj user sends a legacy case to the schedule hearing team, ensure the case location is set to “57”. Case location is saved in BRIEFF.BFCURLOC
2. When a vjj user sends a legacy case to the attorney, ensure the case is visible under attorney’s queue. Follow example here: https:

[2019-03-20 17:35] annekainicUSDS commented on #9621
Tentative plan is to create a new controller, something like `BulkAssignTaskModal`, to specifically handle this feature. We could use the existing task controller, but we might overload it with this bulk assignment, so probably best to create a separate controller for this.

Information we need to send from the front-end is:
1. user_id of assignee
2. `type` of `task`
3. number (integer) of tasks t

[2019-03-20 17:46] mc-usds commented on #9802
Updating with Linda's findings:

All but 698311 did not have a “real” rating.  The entry of certain decisions in Awards currently updates the Rating Profile.  It has been requested that we eliminate Awards from updating the Rating (due to more than one defect), and we have received approval to start the application design.  It is a very large item, and is not planned until after May.  It will requ

[2019-03-20 18:01] ShellySmithDSVA commented on #10066
Judge Kroes is experiencing a similar issue outlined in the ticket below.
https://github.com/department-of-veterans-affairs/appeals-support/issues/4557

Days have been switched and show up correctly on the Daily Docket, but not in the list.

[2019-03-20 18:01] Sjones352 commented on #9476
### Step 1
So this is the error I get while creating a RAMP
<img width="1308" alt="Screen Shot 2019-03-20 at 1 55 32 PM" src="https://user-images.githubusercontent.com/23080951/54707657-f77ce800-4b17-11e9-9f21-cdfd9e495522.png">

### Step 2
I go to the  RAMP Opt-In Election form to process it in Caseflow.
<img width="1396" alt="Screen Shot 2019-03-20 at 1 51 06 PM" src="https://user-images.githubu

[2019-03-20 18:20] #9853 closed

[2019-03-20 18:21] laurjpeterson commented on #9527
Note, had to give OIT a time frame for this. If we get approval for private bar access, I asked for 4 weeks from that date. This date can be pushed out.

[2019-03-20 19:31] mdbenjam commented on #10067
If we decide we want to use zip codes to determine regional office I think it would go something like this:

1) In an hourly job, pick up the next 1000 appeals to process
   - Appeals to process are those in an active state (i.e. open root task)
2) For each appeal get the address from BGS, find the lat/long of the zip code using our mapping.
3) Send this lat long to the facilities API to get the c

[2019-03-20 19:58] youngfreezyVA commented on #9558
Hi @aroltsch for #1, this is what I did to verify. is this correct?
https://www.evernote.com/l/AM5TrrPjjLhFnpQcpsXV96aI3OQp5UhpQIQ

[2019-03-20 20:25] laurjpeterson commented on #8591
@carolaponce - for your feedback!

[2019-03-20 20:58] laurjpeterson opened #10078 "Case search | Withdrawn status for AMA appeals"
When users are searching for appeals, they need to see those appeals have been withdrawn in case search, so they can quickly get context on the case.

# AC
- If all request issues on an AMA appeal have the status of withdrawn, show the status of "Withdrawn" in Case Search

# Designs
Note: yellow is just a highlight

![status column](https://user-images.githubusercontent.com/31224257/55699110-396eb

[2019-03-20 22:28] Sjones352 commented on #9476
I have deleted the Eps for this file number and will check back on the sync job before I try again.
<img width="1680" alt="Screen Shot 2019-03-20 at 5 50 43 PM" src="https://user-images.githubusercontent.com/23080951/54723237-556ff680-4b3d-11e9-82d4-63a3aa675e01.png">

[2019-03-20 23:46] Sjones352 commented on #8675
**Passes UAT**

Link to Case detail page with diagnostic code
https://appeals.cf.uat.ds.va.gov/queue/appeals/748e84b2-01ee-49e3-b09e-5e642d62a51e

<img width="1680" alt="Screen Shot 2019-03-20 at 7 25 00 PM" src="https://user-images.githubusercontent.com/23080951/54725870-04fd9680-4b47-11e9-9a87-47e74a55a44c.png">

<img width="1680" alt="Screen Shot 2019-03-20 at 7 38 54 PM" src="https://user-imag

[2019-03-20 23:46] #8675 closed

[2019-03-21 01:18] leikkisa opened #10081 "Investigate failed RAMP rollbacks"
When we handle wild ramps, we rollback the ramp elections and re-open closed legacy appeals.  If a legacy fails to reopen, it still appears to us as if it succeeded.

We should probably update the code so that the RampClosedAppeal does not get destroyed when we rollback, but updated indicating it has been rolled back, potentially also indicate if it succeeded or failed.

We should also investigate

[2019-03-21 12:52] aroltsch commented on #9558
This is correct as well!

[2019-03-21 12:56] aroltsch opened #10082 "Remand reasons should no longer reference request isssues"
We migrated to use decision issues with remand reasons so we can remove request_issue_is from remand_reasons table

[2019-03-21 14:50] monfresh opened #10085 "Caseflow::Error::UserRepositoryError in SpecialIssuesController"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3283/

This is because the `before_action` ends up running a validation in `user_repository` which raises `Caseflow::Error::UserRepositoryError`, but the controller doesn't rescue it.

[2019-03-21 16:57] laurjpeterson commented on #9930
Some OMO folks will be joining the VLJ Support team. I think that those formerly-OMO users will continue to work these OMO tasks, but they are part of the VLJ Support team.

I realize this could affect our round robin assignment.

[2019-03-21 16:59] laurjpeterson commented on #9930
I think it should be created when the case is sent to BVA dispatch to prevent any need to change the DAS record due to changes required by QR. So, when a BvaDispatch task is created, the DECASS record is created. Does this add complexity, though?

[2019-03-21 17:16] laurjpeterson commented on #9558
What I'm proposing in the original AC is for the following options to be available in the Actions dropdown:

Actions drop down:
- Hearing does not need to be scheduled, send back to attorney (this is what i think answers your question - yes, let's add the send back to attorney option)
- Hearing does need to be scheduled, send to hearing branch (replaces the existing "Send to hearing branch" action

[2019-03-21 17:25] laurjpeterson commented on #7126
@sneha-pai - reminder to please drop in designs

[2019-03-21 18:13] pkarman opened #10087 "Intake | User not authorized error, same RO"
EP creation fails with "User not authorized" error.
Alternate error message: An error occurred while establishing the claim: Claim not established; Veteran is employed by this station.

VBMS investigation reveals that a User may not perform an Intake for a veteran who is an employee in the same RO as the User.

However, the sensitivity check performed early in the intake process does not catch thi

[2019-03-21 18:14] leikkisa commented on #10039
Dupe of #10087

[2019-03-21 18:14] #10039 closed

[2019-03-21 18:20] Sjones352 commented on #9476
Created a RAMP opt-in-election and an EP was created. I am going to cancel this BGS, wait for the sync and attempt creating another EP again.

<img width="1326" alt="Screen Shot 2019-03-21 at 1 34 52 PM" src="https://user-images.githubusercontent.com/23080951/54775376-3a0bf680-4be4-11e9-9f76-02b41ac564fd.png">

<img width="1416" alt="Screen Shot 2019-03-21 at 2 16 31 PM" src="https://user-images.g

[2019-03-21 18:33] leikkisa opened #10088 "EP is canceled before establishment is fully processed"
When an End Product is canceled before the final step of establishment is completed (associate rated issues), then it can be set to processed so that it does not continue to try to associate rated issues.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3405/events/274042/

This is a manual step currently: calling `.canceled!` on the decision review object. We see that a de

[2019-03-21 18:48] Sjones352 commented on #9733
**Validations Vbms**
- Create a higher level review or supplemental claim with a benefit type of compensation/pension
- Go to the Edit page
- Remove all decision reviews
- click on save
- Modal shows message `This will remove the review and cancel all the End Products associated with it.`

**Validations Caseflow**
- Create a higher level review or supplemental claim with a benefit type of non-comp

[2019-03-21 18:56] leikkisa commented on #10059
Martina is going to ask the user to update the claimants address for the current case.

[2019-03-21 19:13] leikkisa commented on #10059
In this specific case, the claimant shows up as one of the Veteran's relationships, but getting the information for the claimant results in:
```{:number_of_award_benes=>"0", :return_code=>"SHAR 0000", :return_message=>"No records found"}```

When I look at a successful call, the address isn't present but there is a mailing and payment address ID (and also, fun, there's a payee code!).

I'm wonderi

[2019-03-21 19:39] pkarman opened #10089 "Intake | UNIDENTIFIED text losing quotation marks"
Our special phrase `"UNIDENTIFIED ISSUE - Please click \"Edit in Caseflow\" button to fix"` is getting broken somehow en route to/from VBMS API. It ends up as `"UNIDENTIFIED ISSUE - Please click ` instead.

Change the text to not use embedded double quotation marks or use HTML entity instead &amp;quot;. Will require some investigation.

Should also test whether double question marks pose a problem

[2019-03-21 19:45] allyceh commented on #8547
![IMG_0189](https://user-images.githubusercontent.com/40216950/54780323-cff94e80-4bef-11e9-840d-cd0415f489dd.JPG)

Sketch from a design chat that @sneha-pai and I had. Outlines assumptions, questions, and the beginning of a flow for Motions Attorneys. All of this is reflected in the stories/AC above.

[2019-03-21 20:08] tomas-nava commented on #5597
Needs design, and detail on source of these parameters: `OT DEC`, `OT VHA`, `OT IME`. Maybe SMALL?

[2019-03-21 20:11] pkarman commented on #10041
Found more and fixed:

* [x] 87395005 -> 87612794
* [ ] 87616524
* [ ] 87377189
* [ ] 87537381

[2019-03-21 20:12] tomas-nava commented on #8591
MEDIUM - have to find the commonality between the existing implementations, and apply the design.

[2019-03-21 20:14] pkarman commented on #10041
script to find duplicates:
[code]

[2019-03-21 20:16] tomas-nava commented on #7126
too early to point...
- need design
- need to confirm that sending a PATCH to the task endpoint is able to update task type (if not, we should do that as part of this task)

[2019-03-21 20:16] Sjones352 commented on #9794
@leikkisa this still fails in UAT. Wondering how I can validate it
` hlr.remand_supplemental_claims
[2019-03-21 16:14:29 -0400]   SupplementalClaim Load (0.6ms)  SELECT  "supplemental_claims".* FROM "supplemental_claims" WHERE "supplemental_claims"."decision_review_remanded_id" = $1 AND "supplemental_claims"."decision_review_remanded_type" = $2 LIMIT $3  [["decision_review_remanded_id", 1306], ["d

[2019-03-21 20:18] tomas-nava commented on #9879
SMALL

[2019-03-21 20:19] laurjpeterson commented on #5597
@tomas-nava - luckily, we'e already designed this!

@sneha-pai - reminder to add your designs to this ticket

[2019-03-21 20:22] tomas-nava commented on #8095
not pointed; we need more investigation to understand whether there's a single cause for every case.

[2019-03-21 20:25] tomas-nava commented on #9968
SMALL ... assuming the date on the tasks is easily accessible

[2019-03-21 20:28] nicholasholtz opened #10090 "Delete improperly intaken appeal"
This appeal should be deleted, as the intake team intook it twice.

https://appeals.cf.ds.va.gov/queue/appeals/e02d5192-5f92-4f91-a779-ae0e69a044cc

[2019-03-21 20:31] tomas-nava commented on #9136
MEDIUM? ...
- not sure how to reproduce
- not sure if "the task was duplicated" is the same bug or another bug

[2019-03-21 20:34] tomas-nava commented on #8937
MEDIUM ... some combination of back- and front-end work

[2019-03-21 20:35] tomas-nava commented on #9785
SMALL (may be able to reuse work done in #8937)

[2019-03-21 20:43] tomas-nava commented on #9170
@allyceh @shanear do you know what browser(s) and platform(s) the users were using when they observed this bug?

[2019-03-22 00:58] pkarman commented on #9688
dupe of #7911

[2019-03-22 00:58] #9688 closed

[2019-03-22 02:49] pkarman opened #10093 "Fix flakey test"
https://github.com/department-of-veterans-affairs/caseflow/pull/10079/commits/9c768e12c94d0394ed9376c003beec97bea8aec9

[2019-03-22 03:01] pkarman commented on #9800
fixed by #10041

[2019-03-22 03:01] #9800 closed

[2019-03-22 03:20] pkarman commented on #10087
cc @msj0nes

[2019-03-22 03:48] pkarman commented on #9884
Agreed we should be able to fix this globally via whatever react component is affected.

[2019-03-22 03:50] pkarman commented on #9837
Should now be in UAT. Fix scheduled for April CI.

[2019-03-22 03:56] pkarman commented on #9374
This will automatically retry. It happens when the upstream server drops the connection and I'm pretty sure that's beyond our control.

[2019-03-22 03:56] #9374 closed

[2019-03-22 13:10] nicholasholtz opened #10095 "Investigation: Correcting Request & Decision Issues on cases dispatched without any issues"
This is a different scenario from #10060 , but some (number unknown) appeals have been dispatched without any request or decision issues. One example:

https://appeals.cf.ds.va.gov/queue/appeals/25fea1a5-e296-487b-b852-55ab4b74cd84

It is unclear why the attorney/judge combo would have not updated the issues, but it has happened at least

[2019-03-22 13:15] nicholasholtz opened #10097 "Duplicate appeal needs deletion"
Appeal was taken in twice by mistake; this appeal needs to be removed.

https://appeals.cf.ds.va.gov/queue/appeals/1829f12b-fabd-4159-9678-3f52b9c6c829

[2019-03-22 14:35] #10035 closed

[2019-03-22 14:35] #9497 closed

[2019-03-22 15:03] youngfreezyVA commented on #9558
hey @lowellrex @aroltsch and I were just discussing, these two methods:
`tasks_controller.rb`
[code]

[2019-03-22 15:29] #9535 closed

[2019-03-22 15:29] #9340 closed

[2019-03-22 15:30] #9392 closed

[2019-03-22 15:30] #9534 closed

[2019-03-22 16:19] pkarman opened #10101 "Intake | Reverse sort intake user stats newest to oldest"
The /intake/manager page should sort user stats newest to oldest.

[2019-03-22 16:33] leikkisa opened #10102 "Cannot delete contention connected to an issue in ratings"
The contention is connected to an issue in ratings and cannot be deleted.  Removing Contention failed. System error.

Sentry alert
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4164/events/279664/

[2019-03-22 16:38] leikkisa opened #10104 "Cache error on creating request issues"
ERROR: cached plan must not change result type
This is occurring on request_issues.reload when creating issues

Sentry alert:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4170/events/279617/

[2019-03-22 16:40] #9339 closed

[2019-03-22 16:41] amprokop commented on #9705
deleted

[2019-03-22 16:41] #9705 closed

[2019-03-22 16:42] #9764 closed

[2019-03-22 16:42] amprokop commented on #9764
Deleted

[2019-03-22 16:43] amprokop commented on #10090
deleted

[2019-03-22 16:43] #10090 closed

[2019-03-22 16:43] amprokop commented on #10097
deleted

[2019-03-22 16:43] #10097 closed

[2019-03-22 16:51] leikkisa commented on #10059
I handled the nil address, since that was the case for this ticket and VBMS implied that if there's an address at all that is what they look for.  However depending on address validations downstream we may need to do more specific checks since the error we were getting implied it was about the city.  Preferably we could do some UAT testing to determine what is really needed.

[2019-03-22 17:10] laurjpeterson opened #10105 "Motion to Vacate | Backfilling Cases Processed Prior to Release"
An AMA Motion to Vacate and new decision were issued manually because Caseflow functionality to support motions was not yet ready. When we have that functionality in place, we need to backfill the information for this case - https://appeals.cf.ds.va.gov/queue/appeals/29dc1b65-ebab-4aef-b2bb-0c65af4dd222

[2019-03-22 17:17] aroltsch opened #10106 "Update Capybara to reduce test flakiness"
AC:
Update Capybara

[2019-03-22 17:23] aroltsch opened #10107 "Create a Looker alert to alert us when there are no decision issues at Dispatch or Quality Review"
AC:
Create a Looker alert to notify when there appeals with BvaDispatchTasks or QualityReviewTasks and have no decision issues
Alert check runs every day at 10am

[2019-03-22 17:59] Sjones352 commented on #9476
I truly don't know why I am having so much trouble validating this ticket.

<img width="1153" alt="Screen Shot 2019-03-22 at 1 57 45 PM" src="https://user-images.githubusercontent.com/23080951/54843385-9a656b80-4caa-11e9-8197-76905856af49.png">

[2019-03-22 18:05] leikkisa opened #10109 "Unexpected EP code in VBMS"
These all have a different claim type code in VBMS than in our End Product Establishments table. We should investigate them to see if we're creating them wrong.   This came about because they have HLR DTA codes, but do not have connected HLRs with DTA dispositions.

This may be getting changed manually by the user in VBMS, but we should confirm that we created the claim with the intended code.  If

[2019-03-22 18:11] nicholasholtz opened #10111 "Delete duplicate appeals"
These appeals were improperly double-intaken. Please delete.

https://appeals.cf.ds.va.gov/queue/appeals/10e8fa2a-0598-4cb5-8d65-b9b9f7a72d4c
https://appeals.cf.ds.va.gov/queue/appeals/dc674e12-f0da-4698-9f89-e7d13dd32b2c
https://appeals.cf.ds.va.gov/queue/appeals/c8cb843b-9844-4cb2-968d-9a3b2380241b
https://appeals.cf.ds.va.gov/queue/appeals/34b45d8c-fe16-4c6e-b594-e0bc9e34a0d9
https://appeals.cf

[2019-03-22 18:30] leikkisa opened #10112 "Multiple Phone Number check issue when Veteran is sensitive"
When checking for multiple phone numbers, checking if there is an access_error on the Veteran is raising an exception for a sensitive Veteran.

For sentry errors:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3908/events/279693/
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4849/

[2019-03-22 18:43] allyceh commented on #10036
Assigning to @nicholasholtz to correct the decision issues.

[2019-03-22 18:51] amprokop commented on #10111
Deleted.

[2019-03-22 18:51] #10111 closed

[2019-03-22 18:52] marvokdolor-gov commented on #9236
@lowellrex going to assign this to you because we'll need to reassign these cases manually please. Corey and Rolandus aren't able to access their management page. I impersonated both of them today (3/22/19)...
<img width="1045" alt="Screen Shot 2019-03-22 at 2 48 42 PM" src="https://user-images.githubusercontent.com/31679660/54846219-be787b00-4cb1-11e9-8707-f2bda37c61d4.png">

and got this page wh

[2019-03-22 18:53] monfresh opened #10113 "undefined method `update' for nil:NilClass in app/models/tasks/disposition_task.rb"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4160/

[2019-03-22 19:06] monfresh commented on #10113
This is because the `mark_postponed` method in `DispositionTask` is assuming a DispositionTask will always have a hearing. However, that seems to be contradicted by the fact that we allow nil hearings at the top of the class:
[code]

[2019-03-22 19:31] #10066 closed

[2019-03-22 19:42] MeredithStewart opened #10116 "Bug: Postpone logic moved to 55 (instead of 57)"
For this case: https://appeals.cf.ds.va.gov/queue/appeals/2916606 It was postponed and the option, "Send back to Schedule Veterans" was selected, but the appeal was sent to VACOLS location 55 instead of VACOLS 57.

From Sal:
When sending a Veteran back to the list to be scheduled should the appeal be charged to location 55??  I thought the appeal would remain in CaseFlow.  The Veteran below was sc

[2019-03-22 20:02] leikkisa commented on #10102
I looked at one instance of this. The Request Issue does not have any decision issues, and none of the Veteran's rating issues that we're getting back have the same contention_reference_id. So at first glance, it does not seem to be caused by the contention getting a new rating issue, unless it is not getting returned to us.

[2019-03-22 20:45] pkarman commented on #10102
#10099 improves the error message (one small step)

[2019-03-22 21:19] pkarman commented on #7708
I think we need a Schema Change Committee that needs to sign off on each PR.

[2019-03-22 21:20] pkarman commented on #8852
@mc-usds I think we can close this?

[2019-03-22 21:31] leikkisa opened #10119 "Add additional backend validation for Veteran validation on Appeals"
Related: #9871
This applies only to Appeal issues which are eventually processed in VBMS (compensation and pension).

The user is prevented from submitting a review when the Veteran is missing information by disabling the submit button.  In the past, we have had some weird edge cases where that didn't seem like enough.

Appeals will still succeed in being intaken, but if they get to the point wher

[2019-03-22 21:50] #9826 closed

[2019-03-25 13:33] mc-usds commented on #8852
Yeah, I think so. BGS pushed out their fix.

[2019-03-25 14:34] ShellySmithDSVA commented on #9887
We checked with Queue about the paper case listing and I will follow up with them today. Do we need to do anything else with this ticket before moving it over to be worked?

[2019-03-25 14:35] ShellySmithDSVA commented on #10052
Closing this ticket due to bug report not needed.

[2019-03-25 14:35] #10052 closed

[2019-03-25 15:33] MeredithStewart commented on #9887
I think this is ready!

[2019-03-25 16:36] #8852 closed

[2019-03-25 16:40] sharonwarner opened #10136 "Hearing organization cleanup"
We currently have 2 different hearing organizations, HearingsManagementBranch and HearingAdmin. Each hearings employee needs to be in both organizations in order to have access to the correct tasks. We want to update these organizations to have different functionality.

AC:
- [x] ScheduleHearingTasks should be updated such that they're assigned to BvaOrganization but can only be completed by Heari

[2019-03-25 16:42] monfresh commented on #9899
This is because the `before_action` ends up running a validation in `user_repository` which raises `Caseflow::Error::UserRepositoryError`, but the controller doesn't rescue it. For some reason, I can't reproduce this locally. If I write a controller test with a user who doesn't have access to the appeal, it raises `Caseflow::Error::VacolsRepositoryError`, which is rescued in `ApplicationController

[2019-03-25 16:43] monfresh commented on #10085
Closing as duplicate of #9899

[2019-03-25 16:43] #10085 closed

[2019-03-25 17:11] shanear commented on #10009
I feel like we probably want to be doing requirements stuff in appeals-design-research or some other non open source repo.

[2019-03-25 17:12] shanear commented on #10009
Also, this is a dup of https://github.com/department-of-veterans-affairs/appeals-design-research/issues/962

[2019-03-25 17:15] ShellySmithDSVA commented on #9126
Closing this ticket and will move this information to larger strategy/planning document.

[2019-03-25 17:15] #9126 closed

[2019-03-25 17:22] pkarman commented on #9476
It worked for me just now. Maybe some timing thing got cleared?

[2019-03-25 17:38] ShellySmithDSVA opened #10139 "Hearing Prep Refactoring - Daily Docket and Schedule View"
## User Stories
As a judge, I need to see the the Daily Docket listed in a way that is easy to read and lists all the information I need for the day at a glance.

As a judge, I need to be able to see my schedule with a complete list of hearing days. I need the option to focus on my schedule first and then filter to see other judges second.

As a judge, I need the ability to mark my hearings with d

[2019-03-25 17:46] laurjpeterson commented on #9026
@lowellrex - unfortunately I don't think this fixed all of the cases for Randy. I impersonated him last week, and he still had a legacy case with a task waiting 140+ days.

[2019-03-25 17:47] pkarman commented on #10051
@aroltsch can we close this one?

[2019-03-25 17:48] mc-usds opened #10140 "Appeal Status API: Filter out remanded Supplemental Claims"
Current bug: The remanded supplemental claims are shown as a separate claim.

The remanded supplemental claims should not be shown separately. Their information and decisions are displayed as part of the original HLR or Appeal that has the remanded decision.

They should be filtered out when the controller gets the list of supplemental claims associated with the Veteran.

[2019-03-25 17:50] laurjpeterson commented on #10067
@mdbenjam can you remind me the issue we found with zip codes? Meredith mentioned they are across state lines, correct?

[2019-03-25 17:51] pkarman commented on #10040
confirmed in prod

[2019-03-25 17:51] #10040 closed

[2019-03-25 17:54] mdbenjam commented on #10067
So VA maintains a list of zip code -> RO mappings. These cross state lines. Our zip code -> RO mappings are within states, and so they don't all match up perfectly.

[2019-03-25 17:55] aroltsch commented on #10051
Yes.

[2019-03-25 17:55] #10051 closed

[2019-03-25 18:15] #9818 closed

[2019-03-25 18:20] laurjpeterson commented on #10067
Ok, that makes me feel more confident in going with the zip code approach. We can explain to VSOs that it's the State based on the Veteran's address, not the RO. I'll have to find a way to get buy-in for that before we build, probably.

[2019-03-25 18:22] pkarman commented on #9195
Will and Martina reviewing PR.

[2019-03-25 18:44] pkarman commented on #9170
@leikkisa thinks this may be an IE issue.

[2019-03-25 18:45] pkarman commented on #9170
from #9884 (which we are closing as a duplicate)

From VBA:

[2019-03-25 18:45] pkarman commented on #9884
closing as a duplicate

[2019-03-25 18:45] #9884 closed

[2019-03-25 19:13] pkarman opened #10144 "Intake | Appeal not valid to reopen"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4143/events/281428/

AppealRepository::AppealNotValidToReopen: Appeal id 65075 is not valid to reopen

[2019-03-25 19:20] pkarman opened #10145 "Intake | cannot create decision issue"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4073/events/281400/

RequestIssue::ErrorCreatingDecisionIssue

Request Issue cannot create decision issue due to not having any matching rating issues or contentions

Affected IDs include:

* 7146
* 10838
* 10440
* 8794
* 7454
* 9311
* 9310
* 9312
* 7144
* 11241

These are all either nonrating or unidentified request issues.

[2019-03-25 19:24] pkarman opened #10146 "Intake | Cannot delete contention"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4164/events/281199/

The contention is connected to an issue in ratings and cannot be deleted.

affected contentions:

* 86925255

[2019-03-25 19:48] Sjones352 commented on #9476
@pkarman you are right. It was timing issue.
I have created the EP again. Since I had deleted the previous Ep, this is the only showing in VBMS at the moment.  I am going to wait for the synced_status: "PEND" to go to success before I can close it.
<img width="1680" alt="Screen Shot 2019-03-25 at 3 39 11 PM" src="https://user-images.githubusercontent.com/23080951/54949205-ed425b80-4f14-11e9-8428-5

[2019-03-25 19:49] pkarman opened #10147 "Intake | PIF exists for EP code"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4203/events/281412/

PIF already in use

[2019-03-25 19:50] pkarman opened #10148 "Intake | Duplicate EP exists"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4205/events/281398/

Claim not established. A duplicate claim for this EP code already exists in CorpDB. Please use a different EP code modifier.

RAMP intake is failing to identify duplicate modifiers during the intake process, and then failing during establishment.

[2019-03-25 19:53] pkarman commented on #10070
another case https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4209/

[2019-03-25 19:57] #9493 closed

[2019-03-25 20:27] pkarman commented on #10145
research:

request issue 7146 has contention 87227327 with no disposition on it yet

[2019-03-25 22:05] tomas-nava opened #10152 "Add protections to ensure that there is a 1:1 association between Hearings and HearingTasks"
We have a [`has_one` association](https://github.com/department-of-veterans-affairs/caseflow/blob/97fde32d60c9fc2ad64d22c1655f04931a2da655/app/models/hearing.rb#L10) between a `Hearing` and a `HearingTask`. It's not clear how Rails enforces this association and it [doesn't look like a constraint on the database exists](https://github.com/department-of-veterans-affairs/caseflow/blob/97fde32d60c9fc2

[2019-03-26 00:06] carolaponce commented on #9178
Updated designs:
Adding undu
![edit issues - withdrawn](https://user-images.githubusercontent.com/11700545/54962001-4cf23400-4f20-11e9-882c-828e5a687161.png)

[2019-03-26 00:18] carolaponce commented on #9178
Date rules: The date entered needs to be < after the receipt intake date and > before tomorrow's date.
Copy for messages:
Withdrawal incorrect date:
If the date is after today’s date -
We cannot process your request. Please select a request date prior to today’s date.
If the date is prior to the receipt date:
We cannot process your request. Please select a date after the Supplemental Claim’s recei

[2019-03-26 00:20] carolaponce commented on #9178
In product confirmation

![confirmation](https://user-images.githubusercontent.com/11700545/54962488-4a90d980-4f22-11e9-897c-8be7c1685ea3.png)

[2019-03-26 13:00] lowellrex commented on #9026
Can we get the URL of the case details page for that task so we can dig into what's happening there?

[2019-03-26 13:24] lowellrex commented on #7556
## Cherry Blosson sprint (25 Mar-7 Apr) engineering priorities

### 1. Hearing schedule
1. (TOMAS) [Create new ChangeDispositionTask for stale hearings](https://github.com/department-of-veterans-affairs/caseflow/issues/9833) _SMALL_
1. (TOMAS) [Create ChangeDispositionTask class and actions](https://github.com/department-of-veterans-affairs/caseflow/issues/9885) _MEDIUM_

### 2. Frontend Bugs 💻🐞👟

[2019-03-26 13:36] lowellrex commented on #9558
Can we train folks to use the "Cancel task" option and update `ColocatedTask.location_based_on_action()` to correctly route the legacy case to the assigner when the task is cancelled?

[2019-03-26 14:13] pkarman commented on #10148
Ramp Refiling 3948 has `nil` modifier on its EPE.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4158/events/281976/

[2019-03-26 14:16] pkarman commented on #10148
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4157/events/282034/

Happens during /intake/:id/complete PATCH request

[2019-03-26 14:42] Sjones352 commented on #9983
**Passes UAT**
<img width="1680" alt="Screen Shot 2019-03-26 at 10 37 14 AM" src="https://user-images.githubusercontent.com/23080951/55006095-8d4ec200-4fb3-11e9-8404-9275783db692.png">
<img width="1438" alt="Screen Shot 2019-03-26 at 10 37 40 AM" src="https://user-images.githubusercontent.com/23080951/55006096-8d4ec200-4fb3-11e9-8893-307f69b74bfe.png">
<img width="1457" alt="Screen Shot 2019-03-26

[2019-03-26 14:42] #9983 closed

[2019-03-26 14:50] Sjones352 commented on #8676
Reached out to Colin again but he has not replied yet

[2019-03-26 14:52] #9157 closed

[2019-03-26 14:56] #9476 closed

[2019-03-26 15:06] Sjones352 commented on #10059
@leikkisa looking at this screenshot, do I create an EP before I can validate the claimant's address in UAT to see  a descriptive error?
<img width="1280" alt="Screen Shot 2019-03-26 at 11 01 36 AM" src="https://user-images.githubusercontent.com/23080951/55008030-c5a3cf80-4fb6-11e9-82d2-fe12f524490e.png">

[2019-03-26 15:12] Sjones352 commented on #8676
Colin has validated this issue so closing it.
<img width="859" alt="Screen Shot 2019-03-26 at 11 09 48 AM" src="https://user-images.githubusercontent.com/23080951/55008815-f5070c00-4fb7-11e9-808f-3f8080396a55.png">

[2019-03-26 15:12] #8676 closed

[2019-03-26 15:13] aroltsch commented on #10032
This looks good to me. Thank you putting it together.

[2019-03-26 15:32] Sjones352 commented on #9871
Waiting on Colin to provide me a file number with missing address.

[2019-03-26 15:56] Sjones352 commented on #9871
Mohi from VBMS created for me Veteran with missing address. This passes UAT

<img width="1514" alt="Screen Shot 2019-03-26 at 11 48 44 AM" src="https://user-images.githubusercontent.com/23080951/55012322-9fcdf900-4fbd-11e9-9053-16e9f5cc0e50.png">

<img width="1651" alt="Screen Shot 2019-03-26 at 11 55 26 AM" src="https://user-images.githubusercontent.com/23080951/55012695-2da9e400-4fbe-11e9-9780-3

[2019-03-26 15:56] #9871 closed

[2019-03-26 16:01] lowellrex commented on #9236
The VLJ support staff queue does not load cases because it takes [more than 5 minutes](https://github.com/department-of-veterans-affairs/caseflow/blob/cf6a53532a6b57a7c3bc58ee0d210fdb1b2a2905/client/app/queue/OrganizationQueueLoadingScreen.jsx#L20) for the server to respond to the browser's request for active tasks assigned to the organization (there are currently more than 2,000 active tasks assi

[2019-03-26 16:07] pkarman commented on #10144
The failure is at the line:

[code]

and the `previous_active_location` value is `62`.

[2019-03-26 16:58] Sjones352 commented on #9643
This has a submitted issue of `establishment_last_submitted_at: "2019-03-18 16:21:20"`. @leikkisa any idea how I can validate this?
<img width="1130" alt="Screen Shot 2019-03-26 at 12 56 26 PM" src="https://user-images.githubusercontent.com/23080951/55017227-aad95700-4fc6-11e9-89a4-c5ddefea8709.png">

[2019-03-26 17:16] marvokdolor-gov commented on #9236
@lowellrex I don't have any input on the possible options but I do have an ask:
Would you be able to find any time this week to reassign all tasks to the current VLJ Support staff please?
This would mean ensuring that all VLJ Support Staff tasks are assigned to one of the following people/ids and no one else:
- BVAPBROWNING
- BVAMWALLACE
- BVATHUNTER
- BVARSEAY
- BVAMJKOROMA

[2019-03-26 18:34] aroltsch opened #10158 "Flakey test: Case details loads colocated task detail views on hold task displays task information"
https://circleci.com/gh/department-of-veterans-affairs/caseflow/54461?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-03-26 18:47] leikkisa commented on #10109
I believe this is due to user error. The logs do not include the claim_hash sent to VBMS, but I did review the code and the other EPEs with the same codes to make sure it wasn't a systematic error.

While investigating, I noticed that some with the code "040BDE" have changed to "040BDER" which is expected due to the new codes we received, but recent ones should get "040BDER" from the get go in our

[2019-03-26 19:07] laurjpeterson commented on #9558
@lowellrex - I think the main motivation behind the ticket was to make sure VLJ Support Staff investigated whether a hearing actually needed to be scheduled, rather than just sending everything to the hearing branch.

I think you're right, we can accomplish this with just the Cancel task option, though we'll need to make sure our users understand it. Options are now:
- `Hearing does need to be sch

[2019-03-26 19:24] leikkisa commented on #9649
#### Validation instructions
- Create an appeal with both a rating and nonrating issue, benefit type "compensation"
- Give both issues a decision of remanded, see Anya's instructions here: https://github.com/department-of-veterans-affairs/caseflow/issues/9571#issuecomment-472115838
- Check that the for the Appeal, check the end product establishments on each of the remand supplemental claims, and

[2019-03-26 19:45] aroltsch commented on #10095
This appeal has no eligible request issues and hence no decision issues. Thread here:

https://dsva.slack.com/archives/C6E41RE92/p1553629472063100

[2019-03-26 19:58] pkarman commented on #9236
given the complexity of (1) I think (3) sounds like a fair approach.

[2019-03-26 20:34] pkarman commented on #9733
Validated for compensation HLR:

![Screen Shot 2019-03-26 at 3 33 33 PM](https://user-images.githubusercontent.com/1205061/55031421-986a1800-4fdc-11e9-8697-f51cb764b246.png)

[2019-03-26 20:36] pkarman commented on #9733
Validated for non-comp in Caseflow:

![Screen Shot 2019-03-26 at 3 35 44 PM](https://user-images.githubusercontent.com/1205061/55031572-df580d80-4fdc-11e9-90a7-d6a50edf7e18.png)

[2019-03-26 20:36] #9733 closed

[2019-03-26 20:39] lowellrex commented on #9558
Agree with your entire comment LP! Sounds like a good path forward.

[2019-03-26 20:40] pkarman commented on #9730
Validated as part of #9733 -- the task created was closed. https://appeals.cf.uat.ds.va.gov/decision_reviews/fiduciary/tasks/1342

[2019-03-26 20:40] #9730 closed

[2019-03-26 20:43] pkarman opened #10163 "Intake | Set task closed_at when cancelling"
Follow on to #9730

When we cancel a task we should set the `closed_at` timestamp. The Task `set_timestamps` hook does not appear be getting triggered.

Example in UAT is DecisionReviewTask id 1342

[2019-03-26 21:20] leikkisa opened #10164 "Intake | Unable to retrieve Veteran information"
Sentry Alert:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3276/events/281438/

[2019-03-26 21:25] #10158 closed

[2019-03-26 21:49] Sjones352 opened #10165 "Intake | User attempts to edit decision document claim"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3964/events/282240/

Claim_id is for a decision document https://appeals.cf.ds.va.gov/higher_level_reviews/71111666/edit

[2019-03-26 22:21] shanear opened #10166 "Board Grant EPs are being cancelled"
In prod there are currently 7 board grant EPs that have been cancelled. Have these grants been effectuated properly? What should we do when a board grant EP gets canceled?

[code]

[2019-03-26 22:24] pkarman opened #10169 "Intake | Make request_issues.veteran_participant_id not null"
Prevent nil values in `RequestIssue.veteran_participant_id`.

[2019-03-26 22:42] leikkisa commented on #10109
For the ones that started as 040BDE, I'm guessing that the user meant to change it to 040BDER or 040BDENR, because we got instructions to stop using 040BDE.

[2019-03-26 23:00] lowellrex opened #10170 "Reduce response times for organization queues with many tasks"
_This issue was forked from [a comment on a related ticket](https://github.com/department-of-veterans-affairs/caseflow/issues/9236#issuecomment-476719461)._

The VLJ support staff queue does not load cases because it takes [more than 5 minutes](https://github.com/department-of-veterans-affairs/caseflow/blob/cf6a53532a6b57a7c3bc58ee0d210fdb1b2a2905/client/app/queue/OrganizationQueueLoadingScreen.js

[2019-03-26 23:16] lowellrex commented on #9236
@marvokdolor-gov I reassigned 375 `ColocatedTask`s that were assigned to users who are not in the `Colocated` organization. Let me know if this looks good and we can close out this ticket!

[code]

[2019-03-27 00:21] marvokdolor-gov commented on #9236
@lowellrex This looks fab. Thank you very much!
Closing.

[2019-03-27 00:21] #9236 closed

[2019-03-27 00:38] leikkisa commented on #9794
Oh, we are only handling the VBMS dispositions right now. I'm glad we did a processed_in_caseflow DTA.

Unfortunately, that's another issue and since the decision date is passed now, we'll have to validate this one again after that issue is fixed.

[2019-03-27 00:42] leikkisa opened #10171 "Handle processed_in_caseflow DTA errors"
Add "processed_in_caseflow" version of DTA error disposition to list of DTA error dispositions.

There are currently no instances of this in prod.

[2019-03-27 01:43] leikkisa opened #10172 "Refactor on_decision_issues_sync_processed"
I don't know if we need this method, or if we need to pass the end product establishment to it.

[2019-03-27 02:01] leikkisa opened #10173 "Get payee_code from claimant information"
Currently the payee_code for Appeal DTAs is getting set from decision_issue.prior_payee_code, which uses the payee_code for the same participant from a previous end product.  If the previous end_product is not available, we should check if the claimant has a payee_code available and use that.  If that is not available, the current behavior (the "No payee code" error) should continue.

Currently, B

[2019-03-27 12:44] pkarman commented on #10087
Moving this to the backlog as I think there are still actionable steps here but this particular issue has been turned over to support.

[2019-03-27 14:23] geoffreystienblock opened #10176 "Test Requirement"
Test for Geoffrey

[2019-03-27 14:36] monfresh commented on #10106
This was resolved in #10063

[2019-03-27 14:36] #10106 closed

[2019-03-27 14:42] monfresh commented on #10170
Option 3 sounds reasonable to me. I've used it before and it is common for APIs to return different amounts of data depending on the context. I've also seen APIs that allow the requestor to specify which fields they want to be returned.

One thing on my to-do list as part of the performance improvement work I'm doing is to replace Active Model Serializers with Netflix's [fast_jsonapi](https://gith

[2019-03-27 15:04] pkarman commented on #9837
These should appear on the /jobs page with error `#<VBMS::RatedIssueMissingError:`

[2019-03-27 15:08] pkarman commented on #10145
thread in https://dsva.slack.com/archives/CFBLH2LR4/p1553549625001400

[2019-03-27 15:42] pkarman opened #10177 "Check for detail before calling .destroy"
See https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3471/

[2019-03-27 15:51] pkarman commented on #10146
dupe of #10102

[2019-03-27 15:51] #10146 closed

[2019-03-27 15:56] pkarman commented on #10102
The case of RequestIssue `11152` on RequestIssuesUpdate `264` is that the issue has a DTA Error disposition on it already.

[2019-03-27 16:10] #10071 closed

[2019-03-27 16:46] lowellrex commented on #8547
I have 2 main questions coming out of this morning's meeting that we will need clarification from lit support on:
1. How do appeals that will be reconsidered currently get distributed to judges/attorneys?
1. Do motions apply to decisions or request issues?
    * If motions apply to decisions can a motion apply to a decision for a request issue if a previous motion has resulted in another decision

[2019-03-27 16:58] marvokdolor-gov commented on #9579
- [ ] @mc-usds to find out if it's only effectuation dates that can be set in the future.
If `decisionIssue: decisionDates` can be set in the future, we'll have to account for this.

[2019-03-27 17:45] allyceh commented on #9904
@laurjpeterson @aroltsch A decision was made about this case. Judge Senyk's decision will be dispatched, and he was asked by the DVC to add decision issues to this case. (See email I forwarded for context around decision).

A BVA Dispatcher (Will) reached out to me this afternoon and said that Judge Senyk reached out to him via email, and he wants the case back so that he can add the issues. Howev

[2019-03-27 17:51] pkarman commented on #9444
@mdbenjam and I have been working on code to merge duplicates with an `undo` column. The plan at this point is to

* [ ] merge all the user accounts to the UPPERCASE css id
* [ ] let the undo column sit for a week, then drop it

[2019-03-27 18:14] pkarman commented on #7708
Proposed template for PRs that affect db/schema.rb

* [ ] Column comments updated
* [ ] #appeals-metrics notified
* [ ] Reviewed by:
  * [ ] @pkarman
  * [ ] @aroltsch

(list of specific folks TBD)

[2019-03-27 18:36] tomas-nava opened #10179 "rename `DispositionTask` to `AssignHearingDispositionTask`"
To be consistent with the new `ChangeHearingDispositionTask` being developed in #9833 and #9885

[2019-03-27 19:03] monfresh commented on #10170
The fast_jsonapi gem makes it easy to specify only certain fields, without having to create a new serializer: https://github.com/Netflix/fast_jsonapi#sparse-fieldsets. I'm not sure if AMS supports that.

[2019-03-27 19:43] Sjones352 opened #10181 "Intake Edit | Established EP not found"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4260/events/283047/

https://appeals.cf.ds.va.gov/supplemental_claims/71117381/edit

[2019-03-27 19:44] leikkisa commented on #10059
Sandra saw this error come up again today, so this requires more investigation still

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4174/events/283038/

[2019-03-27 19:44] monfresh commented on #10170
I've been trying `fast_jsonapi` today and so far, the migration is going swimmingly. I should have a PR ready later tonight.

[2019-03-27 19:50] MeredithStewart opened #10182 "BUG: Honolulu RO isn't showing Veterans matched to all possible locations"
In the list of legacy Veterans, it appears as if there are no Veterans matched to hearing locations in Saipan, Guam, Maui, Lanai, etc.

The Hearing Coordinator working the Honolulu Regional Office says that he's expecting (and I would expect it too) that there would be at least a few Veterans in the backlog at these locations. It could be that there aren't any, but we should investigate to see if