[2016-02-10 16:30] orischwartz opened #1 "Set up master as protected branch"
`Settings >> Branches`

[2016-02-10 16:31] orischwartz commented on #1
@shanear -- also add the team as admins so we can do this. As configured I can't make this change or assign issues.

[2016-02-10 16:35] paultag commented on #1
done

[2016-02-10 16:35] #1 closed

[2016-02-10 16:35] paultag opened #2 "add dsva as admin"

[2016-02-10 16:35] #2 closed

[2016-02-10 16:42] orischwartz opened #3 "Ensure JRuby compatability"

[2016-02-11 18:50] orischwartz commented on #3
We'll delay actually switching to JRuby to make initial development easier.

[2016-02-11 18:51] shanear opened #7 "Add refresh button to mismatched documents page"

[2016-02-11 18:51] shanear opened #8 "Add cancel certification button & modal"

[2016-02-11 18:53] shanear opened #9 "Add login page"

[2016-02-11 18:54] shanear opened #10 "Verify logged in RO matches current appeal RO"
if RO on case does not match current RO render unauthorized 401 page.

[2016-02-11 19:21] shanear opened #11 "On VBMS failure, rescue and show VBMS 502 error page."

[2016-02-11 19:25] shanear opened #12 "Add logout button"

[2016-02-11 19:32] shanear opened #13 "Add updates page with "What's New""

[2016-02-11 19:34] shanear opened #14 "Copy help page from old caseflow"
add link to dropdown menu

[2016-02-12 14:27] shanear opened #15 "Remove dependency on Google Fonts for Source Sans Pro"
Google fonts was loading different weights of Source Sans Pro than the USWDS provides. :confused:

so we're having to use Google fonts for now, which is an unnecessary external dependency.

[2016-02-12 14:54] orischwartz opened #16 "Render form fields for certification"
**Rewrite Goals**
* Reduce complexity and inconsistencies in rendering form fields
* Model dependency relationships among fields to reduce duplication of logic; dependencies are currently defined twice:
    1. Show/hide dependent fields client-side
    2. Validate form submission on server-side

Generally,

* Model mappings from HTML form fields to PDF form fields
    * select-one (radio, select)

[2016-02-12 15:54] shanear opened #19 "Add clipboard JS for vacols_id"

[2016-02-12 19:41] #3 closed

[2016-02-16 15:06] paultag opened #20 "Add in a bunch of logging"
In particular, we should write out structured logs, including who the user is, what they were doing and when. This will be great for sending followups on bugs they may have hit.

[2016-02-16 16:06] orischwartz commented on #16
* Re: Field dependencies: We're going to start simple with this and do all validation client-side initially.
* Re: Form markup: A rewrite with Rails `FormBuilder` will address all of the above concerns.

[2016-02-16 16:06] #16 closed

[2016-02-16 16:06] orischwartz commented on #13
See also https://github.com/department-of-veterans-affairs/caseflow/issues/597

[2016-02-18 21:48] #13 closed

[2016-02-19 21:19] KHarshawat opened #27 "Pre-fill 8A and subsequent questions"
We already have the representative type and name. We should pre-fill the related questions (8A etc) with these details.

[2016-02-22 14:22] shanear opened #28 "Question consistency"
Colons? no Colons?

the question of the ages.

[2016-02-22 20:46] orischwartz opened #30 "Add setup instructions in README"

[2016-02-23 16:12] shanear opened #32 "Focus first invalid form field if form submission doesn't pass validation"

[2016-02-23 20:39] orischwartz opened #33 "Typo in checkbox DEP. ED. F (Ch. 35)"
Misssing closing paren

[2016-02-25 22:51] shanear opened #38 "Install phantom 2.0 on Travis"
it seems to be breaking our pdfjs javascript on the feature tests.

[2016-02-26 17:21] shanear commented on #9
fixed by #35

[2016-02-26 17:21] #9 closed

[2016-02-26 17:24] shanear commented on #12
fixed by #35

[2016-02-26 17:24] #12 closed

[2016-02-26 17:26] shanear opened #39 "Redirect to Form8 if no file exists when visiting the review page"

[2016-02-26 17:28] shanear opened #40 "Show "already certified" message if appeal has been certified"

[2016-02-26 17:28] shanear opened #41 "Handle failed login scenario"

[2016-02-26 17:29] shanear opened #42 "Integrate SSOI with login check"

[2016-02-26 17:29] shanear opened #43 "Integrate VACOLS with authentication service"

[2016-02-26 17:30] shanear opened #44 "Integrate connect_vbms with AppealRepository.certify!"

[2016-02-26 17:30] shanear opened #45 "Deal with overflow formatting on form8"

[2016-02-26 17:31] shanear opened #46 "Save partial form8 data somewhere"
So we don't have to rely on the browser to save fields on the "Go back and edit"

may require the ATO.

[2016-02-29 14:58] paultag opened #47 "Better handling of IAM handoff than caseflow classic"
Ported from:

https://github.com/department-of-veterans-affairs/caseflow/issues/577#issuecomment-189645894

Basically, in the handoff, both Caseflow and IAM forget what case is being worked on.

I've just changed the 404 page in caseflow classic to suggest reloading from VACOLS, but I don't think that's the best solution. I think we should spend some time making this bullet proof on this rewrite

[2016-02-29 15:51] shanear opened #50 "integrate vacols with AppealRepository"

[2016-02-29 16:34] #19 closed

[2016-02-29 16:46] paultag commented on #38
@shanear this got updated somewhere, right?

[2016-02-29 19:08] #38 closed

[2016-02-29 22:44] paultag opened #52 "Add loading indicator to buttons"
Given responses from VBMS can be very slow, we need to provide some visual feedback that Caseflow is making progress. This will help ease frustration but also help drive users away from re-clicking on action buttons.

cc/ @emilyville @maryannbrody and @mollieru for design feedback

We have a few options:
- Gif Overlay on top of the page, while lightboxing the background
- Change the button to a lo

[2016-02-29 22:44] paultag commented on #52
Comments on the old bug @ https://github.com/department-of-veterans-affairs/caseflow/issues/315

[2016-02-29 22:45] paultag opened #53 "Clean up help page"
There are a lot of little issues on the help page.

- Arrows don't render correctly on some screenshots
- Some screenshots need to look prettier
- Some screenshots ought to be cropped
- The fake Appellant ID should be blurred out or pixelated
- There should be more links at the top of the page

# Comments

## Kavi

Draft of new help content

**What is Caseflow Certification?**

Caseflow Certificat

[2016-02-29 22:45] paultag commented on #53
More at https://github.com/department-of-veterans-affairs/caseflow/issues/547

[2016-02-29 22:49] paultag opened #54 "Enable Saucelabs for ongoing UI tests"
https://github.com/department-of-veterans-affairs/caseflow/issues/550

[2016-02-29 22:49] paultag opened #55 "Update Missing Documents Instructions"
Update text on 'Find missing documents' page to include specific labels that are required to be used.

https://github.com/department-of-veterans-affairs/caseflow/issues/606

[2016-03-01 14:14] paultag opened #56 "Determine Form 8 clean up policy"
https://github.com/department-of-veterans-affairs/caseflow/issues/10

[2016-03-01 14:14] paultag opened #57 "Add Monitoring to Caseflow"
https://github.com/department-of-veterans-affairs/caseflow/issues/22

[2016-03-01 14:15] paultag commented on #50
When we add the Diagnostic code, it's worth doing it in a better way than how we found it (Park Rules!) https://github.com/department-of-veterans-affairs/caseflow/issues/26

[2016-03-01 14:16] paultag opened #58 "VBMS File deep-link"
Deep link to documents in VBMS where we can

https://github.com/department-of-veterans-affairs/caseflow/issues/73

[2016-03-01 14:18] paultag opened #59 "Have Caseflow verify POA"
https://github.com/department-of-veterans-affairs/caseflow/issues/88

[2016-03-01 14:20] paultag opened #60 "Add Unicode support to the PDF Filling out code"
https://github.com/department-of-veterans-affairs/caseflow/issues/291

[2016-03-01 14:20] paultag opened #61 "Create certification feedback view"
https://github.com/department-of-veterans-affairs/caseflow/issues/340

[2016-03-01 14:21] paultag opened #62 "Create handler for Certification feedback form"
https://github.com/department-of-veterans-affairs/caseflow/issues/341

[2016-03-01 14:21] paultag opened #63 "Log which auto-populated form fields are modified by user"
https://github.com/department-of-veterans-affairs/caseflow/issues/352

[2016-03-01 14:21] paultag opened #64 "Create a rate Caseflow screen on the congratulations page"
https://github.com/department-of-veterans-affairs/caseflow/issues/417

[2016-03-01 14:22] paultag opened #65 "Verify all the RO Mappings we have"
https://github.com/department-of-veterans-affairs/caseflow/issues/492

[2016-03-01 14:22] paultag opened #66 "Split Caseflow-specific CSS resets into a separate file"
https://github.com/department-of-veterans-affairs/caseflow/issues/506

[2016-03-01 14:22] paultag opened #67 "Explore ways to programmatically include appellant's issues, NOD date to letter"
https://github.com/department-of-veterans-affairs/caseflow/issues/572

[2016-03-01 14:22] paultag opened #68 "Invalid form fields should be focused"
https://github.com/department-of-veterans-affairs/caseflow/issues/607

[2016-03-01 14:36] orischwartz commented on #68
Duplicate of #32

[2016-03-01 14:36] #68 closed

[2016-03-01 16:04] paultag commented on #40
First pass in https://github.com/department-of-veterans-affairs/caseflow-certification/pull/71

[2016-03-01 16:23] orischwartz opened #72 "<input> "maxwidth" isn't a valid attribute, should be maxlength"

[2016-03-01 16:29] orischwartz opened #73 "CaseflowFormBuilder emits invalid <input> attribute "part""
Need to update `CaseflowFormBuilder#trim_options` before passing to `super()` call.

[2016-03-01 16:31] shanear opened #74 "Validate how VACOLS data maps to Appellant Name and Relationship"
The way VACOLS is currently mapped to appellant name and relationship is strange. We need to either look at the DB, or talk to Jed to make sure it's correct.

[2016-03-01 17:21] #8 closed

[2016-03-01 17:38] KHarshawat commented on #57
Listing out the things that I'd like to monitor (will create a separate GH issue for each if needed):

- [ ] VBMS connection (up/down/slow/etc)
- [ ] VACOLS connection (up/down/slow/etc)
- [ ] What fields are being edited?
- [ ] How far are people getting along in the process? Error/Form 8/Preview/Success (see YuleLog)
- [ ] Error pages (508, 404, etc)
- [ ] Log BFKEY so we can investigate further

[2016-03-01 18:38] orischwartz commented on #44
Depends on #50

[2016-03-01 19:05] orischwartz commented on #27
prepopulating 17A with first name and last name of certifying official depends on changes introduced to User/session in #42

[2016-03-01 19:16] #40 closed

[2016-03-01 19:17] #32 closed

[2016-03-01 19:18] #72 closed

[2016-03-01 19:18] #73 closed

[2016-03-01 20:50] paultag commented on #65
Got a copy from VACOLS; confirming in a sec

[code]

[2016-03-01 20:57] paultag commented on #65
word diff:

[code]

[2016-03-01 20:58] paultag commented on #65
So, `RO45` and `RO31` are wrong, too. Good thing we checked.

I'll get a PR up so we match VACOLS.

Sigh.

[2016-03-02 14:05] paultag commented on #65
Verified!

[2016-03-02 14:05] #65 closed

[2016-03-02 14:21] paultag commented on #55
@gmorgana-va I'm gonna assign this to you - we need verbage to throw onto the page.

[2016-03-02 15:15] paultag commented on #53
This depends on #55 - too -- @KHarshawat are you happy with the stuff above?

[2016-03-02 18:19] #50 closed

[2016-03-02 18:19] #27 closed

[2016-03-02 18:19] #43 closed

[2016-03-02 18:21] shanear commented on #10
Fixed via 8e5a5e1521605c91264116416e4136406b3e0632

[2016-03-02 18:21] #10 closed

[2016-03-02 18:21] #33 closed

[2016-03-02 19:57] shanear opened #82 "Exclude production gems by default from bundler"
Using this feature:
https://github.com/bundler/bundler-features/issues/68

[2016-03-02 21:30] #45 closed

[2016-03-03 06:13] KHarshawat commented on #53
@paultag planning on giving you finalized content for this tomorrow morning. Sorry I couldn't get to it tonight.

[2016-03-03 13:12] KHarshawat opened #87 "Add the word required to required questions."
We currently only use a red-asterisck to indicate required questions. Users don't often notice it. We should figure out a way to make these more obvious.

[2016-03-03 13:13] KHarshawat commented on #87
![image](https://cloud.githubusercontent.com/assets/6335546/13495250/9d8c77d8-e117-11e5-853d-44216cb01655.png)

![image](https://cloud.githubusercontent.com/assets/6335546/13495259/aeeb5c06-e117-11e5-80c5-66861b705b61.png)

![image](https://cloud.githubusercontent.com/assets/6335546/13495276/c4a5b4c4-e117-11e5-85c0-a56526922743.png)

[2016-03-03 13:59] KHarshawat commented on #53
@paultag Here's the updated help page content. Still collecting screenshots:

[Caseflow Certification Help Page 20160303.docx](https://github.com/department-of-veterans-affairs/caseflow-certification/files/156851/Caseflow.Certification.Help.Page.20160303.docx)

[2016-03-03 14:50] paultag commented on #53
@KHarshawat Awesome, keep posting away, but I'm going to take the bug to start work on this.

[2016-03-03 15:55] #52 closed

[2016-03-03 15:57] paultag commented on #55
@gmorgana-va I sent in a PR for the help page featuring text @KHarshawat wrote up at #89 - we should likely add it there -- unless you'd like a page just for document updating somehow.

[2016-03-03 15:58] paultag commented on #53
@KHarshawat Sent a PR in with that document content - still need screenshots and stuff. Re-assigning to you, but i think we also need some @gmorgana-va with the bug #55

[2016-03-03 16:59] gmorgana-va commented on #55
@KHarshawat @paultag, summarizing our conversation: hyperlink the "labeled correctly" text and point it to the appropriate FAQ/help content

[2016-03-03 17:11] KHarshawat commented on #20
@paultag see #57

[2016-03-03 19:49] #44 closed

[2016-03-03 20:07] orischwartz opened #91 "Add some contents to the what's new page so it's not blank"
Maybe an introductory announcement, borrow content from @KHarshawat 's announcement letter?

[2016-03-03 20:25] #53 closed

[2016-03-03 20:26] shanear commented on #14
fixed by:

https://github.com/department-of-veterans-affairs/caseflow-certification/pull/89

[2016-03-03 20:26] #14 closed

[2016-03-03 20:37] shanear commented on #20
**Things to log:**
- VBMS requests
- VACOLS queries
- user id per request

[2016-03-03 20:39] paultag opened #92 "Test Caseflow in IE9"
Do the case flow on IE9

[2016-03-03 20:41] paultag commented on #54
Going to do a manual test ( #92 ) and get saucelabs on every commit once we can burn some time on it.

[2016-03-03 21:07] #42 closed

[2016-03-03 21:10] paultag commented on #47
I think this is done? cc @orischwartz

[2016-03-03 21:17] shanear commented on #47
Yeah, theres an automated test for it and everything.

[2016-03-03 21:17] #47 closed

[2016-03-03 22:26] orischwartz opened #95 "Signing out from certify confirm page 404s with The action 'show' could not be found for SessionsController"
Steps to reproduce:

1. Navigate to PDF page, e.g., `/certifications/123C`
2. Click user dropdown menu
3. Click `sign out`

**Expected behavior**: location should be `/logout`
**Actual behavior**: location is `/sessions/123C`

[2016-03-03 22:29] orischwartz commented on #92
Confirmed in IE11 running as IE9 via F12 Developer tools...we'll need more extensive testing via #54

[2016-03-03 22:29] #92 closed

[2016-03-03 22:30] paultag commented on #55
@gmorgana-va wait, what's the actual text to instruct them on what to do? Was that in Kavi's thing?

[2016-03-03 22:45] gmorgana-va commented on #55
Hyperlink to this section of the help page:

https://github.com/department-of-veterans-affairs/caseflow-certification/blob/34557abf1ede33f9546abf38d7892ba81b1ed66a/app/views/help/show.html.erb#L91

[2016-03-04 15:11] paultag commented on #55
PR up in https://github.com/department-of-veterans-affairs/caseflow-certification/pull/98

[2016-03-04 15:12] #41 closed

[2016-03-04 15:36] #55 closed

[2016-03-04 15:54] paultag opened #102 "Links become purple"
We need some CSS to disable the link visited stuff

(from @KHarshawat)

[2016-03-04 15:59] KHarshawat opened #103 "Add screenshots to help page."
Add the following shots into the help page. Use the attached doc to see where.

[Help Content Screenshots.zip](https://github.com/department-of-veterans-affairs/caseflow-certification/files/158968/Help.Content.Screenshots.zip)

[Caseflow Certification Help Page 20160303.docx](https://github.com/department-of-veterans-affairs/caseflow-certification/files/158969/Caseflow.Certification.Help.Page.2016

[2016-03-04 16:34] KHarshawat opened #105 "Add a table of contents to the help page."
Each question should have a tag assocaited with it so you can jump to the question you're looking for by clicking on it's link in the table of contents.

[2016-03-04 16:34] KHarshawat opened #106 "Red asterisk in help page should be red"
In question 8.

[2016-03-04 18:22] KHarshawat opened #109 "Port the VBMS is down error page when a user attempts to certify a case"
https://cloud.githubusercontent.com/assets/354277/12020461/cc98b3c6-ad4a-11e5-8b83-2e1f556b6d01.png

also see https://github.com/department-of-veterans-affairs/caseflow/issues/253

[2016-03-04 18:24] KHarshawat opened #110 "Remove Blue Pilot Bar"
Remove the blue pilot bar.

[2016-03-04 18:27] KHarshawat opened #111 "Catch when VACOLS go down"
and show a VACOLS specific error message

[2016-03-04 18:27] KHarshawat commented on #111
To give the user feedback.

[2016-03-04 20:06] orischwartz commented on #57
We'll log everything in application logs for now. We can also use Google Analytics events to track all of our business metrics:

* How far are people getting along in the process? Error/Form 8/Preview/Success

Currently blocked on Analytics account access

[2016-03-04 21:06] orischwartz opened #113 "wget PhantomJS takes 35 seconds in travis"
via @awong-dev, there are two solutions:

[2016-03-04 21:13] paultag opened #114 "Secure / HttpOnly cookies"

[2016-03-04 21:13] paultag opened #115 "HSTS Header"

[2016-03-04 21:14] orischwartz commented on #113
Actually it looks like phantomjs get is only taking ~5sec? e.g., [this build](https://travis-ci.org/department-of-veterans-affairs/caseflow-certification/builds/113757438)

[2016-03-04 21:19] awong-dev commented on #113
hmm... good catch. Maybe not worth it then.

[2016-03-04 22:03] #115 closed

[2016-03-04 22:04] #114 closed

[2016-03-04 22:04] KHarshawat commented on #91
Welcome to Caseflow Certification!

As many of you know, our organization is facing an unprecedented rise in benefit claims appeals with appeals rising by more than a third over the last three years. The appeals process is cumbersome for veterans and VA employees alike. Our team has turned it's attention toward improving the tools you use everyday to process these appeals.

For the last several mo

[2016-03-05 00:07] KHarshawat opened #117 "Add new Caseflow logo!"
I almost completely forgot, we gotta definitely add the new Caseflow logo to the app before launch :)

[2016-03-06 14:52] KHarshawat opened #118 "Add a 500 page"
I'd like to verify what the 500 page (for when VACOLS is down) looks like. I don't have them tracked based on these issues but I'm sure we have them.

https://github.com/department-of-veterans-affairs/appeals-pm/issues/150
https://github.com/department-of-veterans-affairs/caseflow/issues/190

Can someone please add a screenshot of what it looks like. In the off chance we don't have a good looking

[2016-03-07 01:38] #20 closed

[2016-03-07 02:03] shanear commented on #117
:haircut:

[2016-03-07 16:13] KHarshawat opened #119 "Differentiate between VACOLS login errors"
When a user enters a user-name that isn't in the system:

When a user enters a username but the pw doesn't check out:

[2016-03-07 16:14] KHarshawat opened #120 "Fix login error messaging"
When you fail login, we should change the error message from:

to

[2016-03-07 16:14] KHarshawat commented on #120
Relates to #119

[2016-03-07 18:19] orischwartz opened #124 "Add margin-bottom to heading tags"
We currently remove all top and bottom margins from headings:

[code]

This makes pages like /help and /whats-new look odd when they're not immediately followed by an element with `margin-top`:

![heading-margin](https://cloud.githubusercontent.com/assets/16327036/13578586/ddd679ae-e466-11e5-9514-0abf0e2c2f2c.png)

We can add back the default `margin-bottom: .5em` and it would only adversely impac

[2016-03-07 18:35] orischwartz commented on #117
@KHarshawat The current caseflow text "logo" is 64.67x22px. The navbar it goes into is 83px high.

![navbar](https://cloud.githubusercontent.com/assets/16327036/13579049/6f16e42e-e469-11e5-926d-d038189fe7e5.png)

[2016-03-07 18:45] #120 closed

[2016-03-07 18:58] #91 closed

[2016-03-07 19:03] #124 closed

[2016-03-07 19:13] #110 closed

[2016-03-07 19:46] orischwartz commented on #105
Can auto-generate this by pasting javascript into console if we put unique id's on all h2 tags:

[code]

[2016-03-07 19:50] #103 closed

[2016-03-07 22:18] #105 closed

[2016-03-08 16:07] KHarshawat commented on #117
![caseflow-certification-logo_1x](https://cloud.githubusercontent.com/assets/6335546/13607407/01aacb20-e51e-11e5-9fa4-66c62f986a7d.png)
![caseflow-certification-logo_2x](https://cloud.githubusercontent.com/assets/6335546/13607408/01acc358-e51e-11e5-95ff-d4162263a41c.png)

[2016-03-08 16:12] orischwartz commented on #118
Use errors layout, red for 500, gray for 404

[2016-03-08 18:18] orischwartz opened #128 "Remove legacy SAML URL"
SSOI team is now using `/auth/saml_callback'

[2016-03-08 18:45] orischwartz commented on #95
There's actually a better way to fix this than #100 -- the reason the rails router prefers the url `/sessions/123C` to `/logout` is because we left the default` DELETE` method mapping.

The best way to do it is by restricting the definition in routes.rb to just the methods we use:

[code]

[2016-03-08 18:57] orischwartz commented on #113
We get wildly inconsistent performance from our Travis builds ...e.g., today `libgcj12` took 20+ min. We should look into caching everything we can.

[2016-03-08 19:13] #128 closed

[2016-03-08 19:18] paultag opened #131 "help page requires auth"
it should let users see the help page w/o auth

[2016-03-08 19:18] paultag commented on #131
has login instructions too

[2016-03-08 19:52] paultag opened #133 "SSOi failed login"
[code]

[2016-03-08 19:52] paultag commented on #133
cc @orischwartz

[2016-03-08 20:41] orischwartz commented on #131
not reproducible :smile:

[2016-03-08 20:41] #131 closed

[2016-03-08 21:00] #133 closed

[2016-03-08 21:47] orischwartz commented on #111
duplicate of #118

[2016-03-08 21:47] #111 closed

[2016-03-08 21:49] orischwartz commented on #109
This is mostly done in #134 but we need to adjust the text to match the screenshot.

[2016-03-08 21:54] orischwartz commented on #106
@KHarshawat it's #e31c3d vs #cd2026 (current)

[2016-03-08 21:59] orischwartz commented on #109
Blocked by #134

[2016-03-09 15:34] paultag opened #138 "rails sass helper asset_path doesn't include hash, need to use asset_url (or image_url)"
ActionController::RoutingError (No route matches [GET] "/assets/arrow-down.svg"):

I'm guessing this is the same bug as the old one, needs an asset-path call

[2016-03-09 16:14] shanear commented on #119
@KHarshawat surprisingly, because of the mechanism we're using to log in, this might be technically challenging.

additionally, many login systems won't tell you if the username you entered was valid (i think for security reasons).

[2016-03-09 17:14] orischwartz commented on #138
See also https://github.com/department-of-veterans-affairs/caseflow/pull/601

[2016-03-09 17:23] orischwartz opened #141 "Can't nest <ol> in <p>"
[code]

[2016-03-09 17:29] orischwartz commented on #141
http://stackoverflow.com/questions/5681481/should-ol-ul-be-inside-p-or-outside

[2016-03-09 17:40] orischwartz commented on #138
This actually sounds like the assets aren't precompiled for production...it's in the [deployment script](https://github.com/department-of-veterans-affairs/deployment/blob/47eee5cedc533a4af6e3da2444c10b1f9c3fdb8a/playbooks/caseflow.yml#L157) but maybe was skipped due to all the manual changes lately?

[2016-03-09 17:47] orischwartz commented on #119
Yeah we decided in this situation there was no harm--end users are already SSOI-authenticated and it could increase usability. But agree that this is very low priority given how we're currently authenticating in VACOLS. This falls under nice-to-have.

[2016-03-09 19:06] #138 closed

[2016-03-09 19:10] orischwartz commented on #11
This is included in #134 . Should we really return `502 Bad Gateway` instead of default `500 Internal Server Error` when it's a VBMS error?

[2016-03-09 19:12] #141 closed

[2016-03-09 19:17] orischwartz commented on #30
closed by #77

[2016-03-09 19:17] #30 closed

[2016-03-09 19:18] #117 closed

[2016-03-09 19:29] #95 closed

[2016-03-09 19:31] orischwartz commented on #56
* Delete Form 8 PDF after uploading to efolder.
* Delete any Form 8 PDF that is > 24 hours old
    - Same process, e.g., [`TimerTask`](http://www.rubydoc.info/github/ruby-concurrency/concurrent-ruby/Concurrent/TimerTask) (initiate on Rails startup, destroy on shutdown)
    - Separate process, e.g, `ActiveJob`

[2016-03-09 20:15] orischwartz commented on #60
A bigger concern is pasting Windows-1252 encoded text (**7A** below):

![pdf char encoding](https://cloud.githubusercontent.com/assets/16327036/13649006/88e4febc-e609-11e5-87b7-fc1e016318c9.png)

[2016-03-09 22:36] KHarshawat opened #147 "Add Caseflow Certification Logo as Favicon"
Super important and urgent obviously ... we should add a Caseflow Certification Favicon!

![image](https://cloud.githubusercontent.com/assets/6335546/13653053/79f6fdba-e61d-11e5-9c50-b7fb370b5e7f.png)

[2016-03-10 15:32] orischwartz opened #149 "Log more helpful error messages if any environment configuration variables are missing"
[code]

e.g., Check for nil and log which config vars are missing

[2016-03-10 16:03] orischwartz opened #151 "MetricsService should return the value of specified block"

[2016-03-10 16:05] orischwartz opened #152 "send_and_log_request parameters are reversed in AppealRepository#fetch_documents_for"

[2016-03-10 16:17] #11 closed

[2016-03-10 16:17] #109 closed

[2016-03-10 16:17] #118 closed

[2016-03-10 16:28] #152 closed

[2016-03-10 16:36] orischwartz opened #155 "Backport roadrunner-rails security linting fix"
Yikes...

https://github.com/department-of-veterans-affairs/roadrunner-rails/pull/38/files

Without this, security checks can fail but not fail the build

[2016-03-10 16:39] #151 closed

[2016-03-10 16:41] orischwartz opened #157 "Security lint fails with Dynamic Render Path"
http://brakemanscanner.org/docs/warning_types/dynamic_render_paths/

Probably due to

https://github.com/department-of-veterans-affairs/caseflow-certification/blob/master/app/controllers/errors_controller.rb#L4

[2016-03-10 16:58] #157 closed

[2016-03-10 17:05] #155 closed

[2016-03-10 18:31] #60 closed

[2016-03-10 18:47] orischwartz opened #160 "Use cf-action-refresh class for refresh link on 500 page"
[code]

[2016-03-10 18:49] #149 closed

[2016-03-10 19:02] orischwartz opened #161 "Dates can be nil is _document_match partial"
[code]

[2016-03-10 19:11] #106 closed

[2016-03-10 19:12] paultag opened #162 "upcase the RO on user login before storing in session"

[2016-03-10 19:27] orischwartz opened #163 "Save session[return_to] on unauthorized access"
1. User accesses appeal while signed in as another RO
2. Sees unauthorized page
3. Signs out, back in.

Should be redirect to appeal from step 1.

[2016-03-10 19:55] orischwartz opened #164 "Log which documents were found (if any) in VBMS if mismatched"

[2016-03-10 20:40] orischwartz opened #166 "Better error message on SSOI failure"
This page shouldn't really come up much (either user signs in successfully or is redirected back to SSOI login page) but it did come up in dev/UAT testing:

![image](https://cloud.githubusercontent.com/assets/16327036/13683730/4b091f88-e6d6-11e5-8465-cf6cb14a25ab.png)

Just need to render the error page with appropriate status code and better phrasing.

[2016-03-10 20:51] orischwartz opened #167 "Remarks rollover should be determined by # of lines, not length"
When pasting:

[code]
Get PDF:

![image](https://cloud.githubusercontent.com/assets/16327036/13684014/cc0f239c-e6d7-11e5-89e4-9c3b8f47c5eb.png)
...
![image](https://cloud.githubusercontent.com/assets/16327036/13684055/f8286416-e6d7-11e5-8ceb-b4cc44111677.png)

[2016-03-10 21:38] orischwartz opened #168 "RecordNotFound is logged with level FATAL, should be logged with a lower level"
[code]

[2016-03-10 22:09] orischwartz commented on #162
Our authentication is case-insensitive so a user could log in with lowercase RO.

[2016-03-11 01:04] shanear opened #170 "Animate logo with CSS and not SVG"
found this message in the console :cry:

`SVG's SMIL animations (<animate>, <set>, etc.) are deprecated and will be removed. Please use CSS animations or Web animations instead.`

[2016-03-11 14:42] orischwartz commented on #162
Confirmed, we determine access to appeal by doing a [case-sensitive](https://github.com/department-of-veterans-affairs/caseflow-certification/blob/master/app/models/user.rb#L36) comparison

[2016-03-11 15:33] #162 closed

[2016-03-11 15:49] #163 closed

[2016-03-11 16:02] orischwartz commented on #167
May want to delay this...but something like [`word_wrap`](http://apidock.com/rails/ActionView/Helpers/TextHelper/word_wrap) can help, psuedocode

[code]

[2016-03-11 16:56] orischwartz commented on #168
Marking as wontfix for now, users shouldn't be landing on appeal pages that 404 so we want to track these

[2016-03-11 16:56] #168 closed

[2016-03-11 19:34] orischwartz opened #177 "What's new link is broken in dev/prod/uat/preprod"
Rails application aliases root / to what's new page.

Other environments will 301 to /help.

Because we alias root to whats_new#show, rails url_for prefers that route so in non-dev environments /whats-new is effectively unreachable.

[2016-03-13 14:03] KHarshawat opened #179 "Add "When VACOLS is down help content""
We should provide instructions about what to do when VACOLS is down (AKA proceed to certify appeals by hand)

https://github.com/department-of-veterans-affairs/appeals-pm/issues/117

[2016-03-14 12:07] paultag opened #180 "/feedback is user login protected"

[2016-03-14 14:59] orischwartz commented on #180
We don't host that page, it goes to an internal VA feedback form.

[2016-03-14 14:59] #180 closed

[2016-03-14 15:16] orischwartz commented on #177
Closed by #178

[2016-03-14 15:16] #177 closed

[2016-03-14 18:30] #102 closed

[2016-03-14 20:10] orischwartz opened #183 "When logging ListDocuments VBMS request, use sanitized id"
Log the same id that is sent in the request to VBMS

[2016-03-14 20:28] orischwartz opened #185 "Add unit tests for AppealRepository#sanitize_vbms_id"
Logic is different for `C` and `S` types. /cc @paultag

https://github.com/department-of-veterans-affairs/caseflow/blob/addcb0cb4bd105f1c46baa0428f97364897913f4/app/models/case.rb#L162-L168

[2016-03-14 22:09] #183 closed

[2016-03-15 13:46] #160 closed

[2016-03-15 14:11] orischwartz commented on #87
This is easy to do on text inputs (just add `<span class="usa-additional_text">Required</span>`) in the `label` but the [style guide](https://playbook.cio.gov/designstandards/form-templates/) is unclear how to handle radio inputs. We could add a margin-left when in a `legend`.

[2016-03-15 14:21] orischwartz commented on #185
In order to do this we'd need to move `sanitize_vbms_id` out of `AppealRepository` (so as not to introduce testing dependencies on ConnectVBMS).

@shanear Any thoughts on where it can go? We could add a `vbms_id_padded` method to `Appeal` but that doesn't feel like the best place.

[2016-03-15 14:29] shanear commented on #185
agreed, but i think it might be the best option. The other option is to break all vbms stuff out of AppealRepository, which seems messier.

I'm cool with just adding a `sanitized_vbms_id` method to appeal.

[2016-03-15 15:18] #170 closed

[2016-03-15 15:25] KHarshawat opened #189 "Add more robust fall-back fonts"
Since the VA blocks web-fonts, we should do more than serif/ sans-sarif as fallbacks. Consider using Georgia and Arial.

[2016-03-15 16:15] orischwartz opened #191 "Pass RO, BFKEY to GA events so we can track problems without grepping logs"
Make use of `eventLabel` `eventValue` to pass more data to [event](https://developers.google.com/analytics/devguides/collection/analyticsjs/events).

[2016-03-15 17:56] #185 closed

[2016-03-15 18:04] shanear commented on #119
This was deemed to difficult for the gain. Closing.

[2016-03-15 18:04] #119 closed

[2016-03-15 18:17] shanear commented on #189
using the USWDS defaults, which is :approved:

[2016-03-15 18:17] #189 closed

[2016-03-15 18:39] #28 closed

[2016-03-16 15:38] paultag opened #196 "Rollover on 5A should go to Remarks continued"

[2016-03-16 15:39] paultag opened #197 "NOD date != notification date"

[2016-03-16 20:32] #15 closed

[2016-03-17 14:21] orischwartz opened #199 "Toggle travel-board hearing ready attribute on certification"
See [PM issue](https://github.com/department-of-veterans-affairs/appeals-pm/issues/112) for previous discussion.

[2016-03-17 18:00] #46 closed

[2016-03-17 19:11] shanear commented on #58
this is documented in appeals-pm

[2016-03-17 19:11] #58 closed

[2016-03-17 19:58] #167 closed

[2016-03-17 19:58] #196 closed

[2016-03-18 03:03] #199 closed

[2016-03-18 03:06] shanear commented on #161
closed by:
https://github.com/department-of-veterans-affairs/caseflow-certification/pull/176

[2016-03-18 03:06] #161 closed

[2016-03-18 16:42] #147 closed

[2016-03-21 13:25] orischwartz commented on #197
See NSD incident I8027437FY16

[2016-03-21 13:46] orischwartz opened #203 "Paths to fonts 404 in production"
e.g., `No route matches [GET] "/assets/merriweather.woff"`

See also #138 #143

[2016-03-21 13:55] paultag opened #205 "Show a banner asking the user to do two Form 8s for two Appeals"
Perhaps with a link to the OFO guidance

[2016-03-21 14:29] #203 closed

[2016-03-21 14:40] #197 closed

[2016-03-22 14:55] gmorgana-va opened #211 "Recreation of Caseflow Reports"
Recreation of the original Caseflow reports following the refactoring of the Caseflow codebase (including https://github.com/department-of-veterans-affairs/appeals-pm/issues/85).

[2016-03-23 16:19] orischwartz opened #214 "Saved form8 serialization has no concept of object versioning, which can lead to silent conversion bugs"
1. User accesses form 8
1. Form 8 serialized to session
1. New version of CF deployed, changing the type of a serialized attribute from `String`->`Date`
1. User accesses same case
1. System populates form 8 with `String` instead of `Date`
1. System silently fails to convert date->string, shows blank (`nil`)

Does `ActiveModel::Serialization` have a concept analogous to Java's [`serialVersionUID`](

[2016-03-23 16:32] shanear commented on #214
Rails serialization is pretty sparse, and we're doing something not recommended here, by saving an object in the session. Normally, we'd save it in the DB, and these problems would be handled by the Database Migration system in rails.

We'd need to hand-roll this mechanism.

[2016-03-23 18:10] orischwartz opened #215 "Saved form8 fails to check if saved id matches specified id"
Compares the wrong hash values.

Need to add tests for this.

[2016-03-23 19:02] #214 closed

[2016-03-23 19:02] #215 closed

[2016-03-24 16:06] shanear commented on #113
@orischwartz so it looks like npm downloads phantom from the same source we do:
(see: https://www.npmjs.com/package/phantomjs2)

also, travis has different caches for different branches, and isn't really going to help performance:
https://docs.travis-ci.com/user/caching/#Things-not-to-cache

I think our best bet is to have our own s3 bucket mirror of phantomJS. What do you think of that idea?

[2016-03-24 17:45] #54 closed

[2016-03-24 18:00] awong-dev commented on #113
I will throw out the caveat that we're doing just fine in vets-website with cached node_modules and we use PhantomJS (1.9 not 2, but problem _should_ be roughly the same...).

I also seem to notice that if you cache on master, the cache does seem to get inherited somehow despite what the documentation says.

Maybe try npm first before doing something more esoteric?  It's pretty easy to set up.

[2016-03-24 18:13] shanear commented on #113
@awong-dev  1.9.2 would be the best, cause it's automatically installed on Travis, but our PDF viewer breaks in it.

I'll look into npm, maybe it caches the binary?

[2016-03-24 20:16] #113 closed

[2016-03-25 15:41] shanear commented on #205
assigning to @KHarshawat, for the deets on what this should say

[2016-03-25 16:16] shanear commented on #87
Added an issue in the USWDS:
https://github.com/18F/web-design-standards/issues/1082

in the meantime, I'll show Kavi some options and we can go with one of those.

[2016-03-25 17:34] shanear commented on #87
@KHarshawat

## Option 1:
put required underneath the question:
<img width="490" alt="screenshot 2016-03-25 13 26 30" src="https://cloud.githubusercontent.com/assets/1596259/14049772/bc93b04c-f28d-11e5-875a-592304e13d0c.png">

<img width="532" alt="screenshot 2016-03-25 13 32 31" src="https://cloud.githubusercontent.com/assets/1596259/14049822/1bdcbf4e-f28e-11e5-840e-4ec92eb6da06.png">

## Option

[2016-03-28 14:06] orischwartz opened #224 "Regression: RO/SSOI user are no longer being logged"
I suspect that changes made in #212 are superseding the changes in #107 -- i.e., the new logger is being created in #212 before configuration options in #107 are set.

[2016-03-28 14:08] orischwartz commented on #224
http://guides.rubyonrails.org/configuring.html :

We configure log output in an initializer but create the logger object in the environment-specific file

[2016-03-28 16:33] orischwartz opened #226 "Track analytics pageviews without resource ids"
e.g., track a hit to `/certifications/new/123C` as `/certifications/new`.

This will allow us to measure metrics for specific endpoints more accurately (e.g., time spent on the new certifications page).

[2016-03-28 17:51] orischwartz opened #228 "Treat VBMS doc type "VA Form 21-0958 Notice of Disagreement" as NOD"
Original request from user feedback:

[2016-03-28 18:04] KHarshawat commented on #87
@shanear How about this:

![image](https://cloud.githubusercontent.com/assets/6335546/14085451/ec0916e8-f4ed-11e5-8f8f-04d4afc8e808.png)

![image](https://cloud.githubusercontent.com/assets/6335546/14085454/f2f7ec36-f4ed-11e5-8945-5cff88ddf7ec.png)

[2016-03-28 18:19] #224 closed

[2016-03-28 18:39] orischwartz opened #230 "Large values for form fields can trigger CookieOverflow (via saved forms)"
It's possible to overflow the 4kb limit on cookie values because we're using `ActionDispatch::Session::CookieStore` for arbitrary user data in saved forms,

We can

1. Skip saved form functionality if serialized form exceeds 4kb
2. Use a different [session store](http://guides.rubyonrails.org/action_controller_overview.html#session)
3. Length-check all the fields, ensure that it's impossible to ex

[2016-03-28 18:53] orischwartz commented on #46
Just documenting the original motivation for this:

1. User fills new certification form 8
2. User clicks back button
3. In IE9, edited form fields can be overwritten with default values

All other browsers handle this correctly except IE9

[2016-03-28 20:17] shanear commented on #230
Did this actually happen to users? I assumed we'd never hit the 4kb limit.

[2016-03-28 20:21] orischwartz commented on #230
It did, reported under the ominous subject: _"Caseflow not working?"_ It's easy to reproduce--paste a very large (but valid) block of text into remarks.

![ie9500](https://cloud.githubusercontent.com/assets/16327036/14089081/f5ed35fa-f500-11e5-8564-a9a46e6d7e46.png)

Logged as

[code]

[2016-03-28 20:26] shanear commented on #230
oof, yep thats the problem. hmm... not having a db sucks. lemme check out your fix.

[2016-03-28 21:23] orischwartz opened #232 "Display remaining character count for text fields"
As first described here https://github.com/department-of-veterans-affairs/caseflow-certification/pull/231#issuecomment-202576183

So user isn't surprised when we cut off their input

[2016-03-28 21:24] shanear commented on #87
@KHarshawat well, that would be a departure from the USWDS, and a big motivation for this story was to be on the same page as the USWDS. We want to do that?

If we do, would we want to make the required marks on text fields in red like that too?

[2016-03-28 23:41] shanear commented on #232
Is the only reason we're capping input fields is because of the cookie size restriction?
or is there another reason?

[2016-03-28 23:42] #191 closed

[2016-03-28 23:50] #226 closed

[2016-03-29 13:26] orischwartz commented on #232
No, there's also a limit to the number of character we can fit in the form8 pdf. (We've thought about duplicating and appending as many page 2's as necessary to roll over every field but that's likely out of scope.)

It's actually possible to exceed the 4kb limit without maxing out all the fields.

[2016-03-29 14:49] orischwartz opened #233 "Remove http-specific cookie size check from form8 model"
See previous discussion here: https://github.com/department-of-veterans-affairs/caseflow-certification/pull/231#discussion_r57735155

[code]

[code]

[2016-03-29 15:06] orischwartz opened #234 "17C Date is blank when restoring from a saved form"
See also #216 which fails to correct this.

[2016-03-29 15:12] orischwartz commented on #234
This actually applies to all serialized dates

[2016-03-29 15:36] #230 closed

[2016-03-29 15:37] paultag opened #235 "Don't drop cookies if data is too large"
The stupid 4K bug with Rails sessions is bad.

We need to back our session store with something better. Or use the cache (eww), or use multi-db (eww-er!).

However, us dropping this means users can't do the back and forth questions/view flow, they're stuck re-filling out the Form 8 every time.

[2016-03-29 15:51] orischwartz commented on #235
Makes #233 obsolete if implemented

[2016-03-29 16:13] orischwartz commented on #235
If we swap our session store to `CacheStore`, we can then swap it to `MemCacheStore`after deploying to cloud. `CacheStore` will work fine in current env because we only have 1 instance.

http://api.rubyonrails.org/classes/ActionDispatch/Session/CacheStore.html

[2016-03-29 16:22] KHarshawat commented on #87
@shanear Given that USWDS doesn't support this right now and we don't know when they will I suggest we do this for the time being, then send our implementation back to USDWS as a proposal for how they might implement this more broadly. If they come up with a final design that meets our needs but is different than this approach in a few months, I think we can remove our customization and use theirs

[2016-03-29 16:27] shanear commented on #87
@KHarshawat sounds good

[2016-03-29 16:29] KHarshawat commented on #87
@shanear I added a comment in the USWDS issue you mentioned above.

[2016-03-29 17:02] #234 closed

[2016-03-30 14:45] #233 closed

[2016-03-30 14:45] #235 closed

[2016-03-30 15:02] #87 closed

[2016-03-31 14:44] shanear commented on #56
dealing with this here:
https://github.com/department-of-veterans-affairs/deployment/issues/227

[2016-03-31 14:44] #56 closed

[2016-03-31 15:23] #228 closed

[2016-04-01 14:29] #232 closed

[2016-04-04 13:21] shanear opened #243 "Form 8: Question 5A, 6A, 7A: Automatically expand text area fields as they fill up"
As a Caseworker, I would like to have the text boxes for question 5A, 6A, and 7A to automatically grow as I type so that I see everything I have typed without scrolling or manually stretching the box to fit all of the text.

### Acceptance Criteria
1. Verify that for question 5A when the text box fills up, it automatically expands allowing for viewing all text entered.
1. Verify that for question

[2016-04-05 13:41] KHarshawat commented on #243
Expanding the text box as you type sounds great. Just don't want it to be huge by default.

[2016-04-05 13:41] shanear commented on #243
:+1:

[2016-04-11 14:40] shanear opened #244 "Figure out unaccounted for representatives"

[2016-04-11 14:43] orischwartz opened #246 "Nil access in appeal#from_records due to unknown VSO"
[code]

[2016-04-11 14:48] orischwartz commented on #246
NSD ticket I8307241FY16

[2016-04-11 15:02] orischwartz commented on #244
Per VACOLS systems codes, the only documented VSO we're missing is

[code]

[2016-04-11 15:06] #244 closed

[2016-04-11 15:16] orischwartz commented on #246
Closed by #245

[2016-04-11 15:16] #246 closed

[2016-04-13 13:31] orischwartz opened #247 "Production logs don't roll over after reaching 1MB"
[code]

See #212 and #225 for reference

[2016-04-14 15:26] orischwartz opened #248 "Support "Out of Service" mode"
As a developer, when external dependencies go down, we need to quickly declare the application to be out of service. Ideally, if `OUT_OF_SERVICE` is defined, it will prevent user from making changes to the site.

## Acceptance Criteria
- Verify that the AC in https://github.com/department-of-veterans-affairs/caseflow-efolder/issues/312 are true for Caseflow

## Notes
- The functionality should be

[2016-04-19 16:18] gmorgana-va opened #250 "Accept additional document types for NOD/Form 9"
Two new document labels/types are scheduled to be activated in June for the NOD and Form 9 (in addition to the current labels - for the purpose of capturing non-standard forms).

Update Caseflow to accept the new document type IDs once they are available.

[2016-04-21 14:30] orischwartz opened #251 "Investigate "no such file" stacktrace"
[code]

[2016-04-25 15:41] shanear opened #252 "Add N/A as an option for 10B"
Is it possible to create another radio button for item 10B, N/A?

When I answered 10A as yes, in my case 10B was not applicable because the BVA travel board hearing was not yet held.  I answered 10C instead.  Because I must make a selection for 10B, the VA 8 comes out that the hearing was held and that the transcript was not of record which is not correct.

[2016-04-25 15:41] shanear opened #253 "Consider increasing the character limit for 6A, and 7A"
They are only 140 characters right now. Seems very short.

We're getting feedback on this.

[2016-04-25 17:20] KHarshawat commented on #253
Yep, this was when we had the cookie issue. Totally fine with increasing. Do we have a sense of how much people are filling in?

The only UX concern here is if they go over the amount of space allotted in the F8 but I suspect we can just append a second second page with additional remarks.

[2016-04-25 17:58] shanear commented on #252
We'll keep an eye on more feedback on this, but instead of adding "N/A", we're just making the field not required.

[2016-04-25 18:00] shanear commented on #253
@KHarshawat not really, no data :(

I'll bump it up to 1000 chars. Sound good?

[2016-04-25 18:03] shanear commented on #252
@KHarshawat @gmorgana-va brought up a good point. What if a user accidentally clicks a radio button and wants to remove it?

[2016-04-26 16:36] #253 closed

[2016-04-27 21:42] KHarshawat opened #255 "Make sure Form 8 Preview updates if you make edits"
We received the following feedback via Chris:

When asked when the feedback was collected:

We should verify that the Form 8 Preview does in fact update if the user goes back and makes changes.

[2016-04-27 21:43] KHarshawat opened #256 "Add C-file/VBMS Forward option in Question 13"
We received this feedback via Chris:

We should investigate what this option should look like and add it if necessary.

[2016-04-27 21:45] KHarshawat opened #257 "Verify that Question 8C is working as intended"
We received this feedback via Chris:

We should verify that question 8C is showing up as intended.

[2016-04-27 21:45] KHarshawat commented on #257
FYI this is what the question is on the F8

![image](https://cloud.githubusercontent.com/assets/6335546/14869173/aa62277e-0c86-11e6-8a03-f666581f7d1c.png)

[2016-04-27 21:46] KHarshawat commented on #256
FWIW the current F8 doesn't have this but we should determine if we should add it:

![image](https://cloud.githubusercontent.com/assets/6335546/14869209/ccb4d088-0c86-11e6-8f71-1f400385a942.png)

[2016-04-28 19:07] shanear opened #259 "Add new Document types for NOD and form 9"
L856 - "Notice of Disagreement (Non-Standard Form)"
L857 - "Substantive Appeal (In Lieu of VA Form 9)"

[2016-05-04 19:44] shanear opened #261 "Verify the wording of 10A"
"10A Was hearing requested?"

It's possible that we're only referring to BVA hearings.

[2016-05-05 14:00] #252 closed

[2016-05-05 14:17] orischwartz opened #263 "17C in generated pdf uses yyyy-MM-dd format"
![image](https://cloud.githubusercontent.com/assets/16327036/15045809/97f37c4e-12aa-11e6-822c-a523b21891cf.png)

[2016-05-05 19:26] #263 closed

[2016-05-05 20:04] paultag commented on #261
Merged.

T.hanks!

[2016-05-05 20:04] #261 closed

[2016-05-05 20:05] paultag opened #266 "Add a manual override to the document verification step"
DROs can short circuit Caseflow if they're clever anyway, let's at least capture why the thing was done. Not sure where to put it; in remarks?

[2016-05-05 20:25] shanear opened #267 "Modify to work with new VBMS fields"

[2016-05-05 20:25] shanear commented on #267
they should be deployed to UAT on May 15

[2016-05-06 13:50] shanear opened #268 "Form 8: Browser Exit: Add warning when leaving form 8 after changes were made"
As a RO Caseworker, I would like to see a warning message for when I accidentally close the window after having entered a lot of information so that I don't loose all of that data unknowingly.

# Acceptance Criteria
1. Verify that after adding information to Form 8 and click the browser close button, the following warning message is displayed in a browser alert box:
**_Title:_** Leaving Certificat

[2016-05-06 15:12] shanear commented on #257
This button only shows up if the user selects "Attorney" for 8A, which I think threw him off. Validated with Chris that this is working correctly.

Closing

[2016-05-06 15:12] #257 closed

[2016-05-06 15:35] shanear commented on #266
This is a situation where she wanted a manual override:

    1) it was erroneously closed out in a different jurisdiction (without a form 8?)  -- The oldest  9 was incorrectly thought to be untimely, and the appeal was closed as untimely while the case was at another VARO; however, with the post-mark date, it was received on the last possible timely receipt date. 

    2) you found this case and a

[2016-05-10 13:45] shanear opened #269 "6A and 7A don't rollover to Remarks"

[2016-05-11 02:05] #269 closed

[2016-05-11 14:03] #74 closed

[2016-05-12 13:40] paultag commented on #266
Another:

[2016-05-18 16:13] KHarshawat opened #272 "Form 8: Question17b: Change to a Radio button options"
As a Caseworker, I would like to have question 17B - Title of Certification changed to  a set of radio buttons containing the most commonly used job titles and a the field "Specify other title" added so that a custom title can be provided, quick title selection performed, and form completion is faster.

### Acceptance Criteria
1. Verify that question 17B is a set of radio buttons.
1. Verify that t

[2016-05-18 16:37] joduinn commented on #272
From: Kavi Harshawat [mailto:notifications@github.com]
[snip]

Feedback we received from a user:

Suggestion - It would be useful if under block 17B you created a dropdown box with job titles most commonly used instead of having to type out the user's current job title (i.e. dropdown box containing - Decision Review Officer, Rating Specialist, Veterans Service Representative, Claims Assistant, etc

[2016-05-20 21:18] KHarshawat commented on #272
Yep, that was the hitherto unspoken and never mentioned plan @joduinn ;)

[2016-05-23 16:14] agilesix opened #273 "Upgrade to Ruby 2.4.0"
Writing this up in case anyone else is having an issue running the site on Max OS X El Capitan/Ruby 2.2.4. Bundle Install fails on libv8 (looks like a dependency of therubyracer) with the following:

creating Makefile
Compiling v8 for x64
Using python 2.7.10
Using compiler: /usr/bin/c++ (clang version 6.1.0)
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/lib

[2016-05-24 15:12] shanear opened #274 "Figure out how appeals should be certified with the National Work Queue"
Right now, Caseflow requires that the certifying official be in the same RO as the appeal. With the introduction of National Work Queue, this is no longer the case.

How should we deal with this?

[2016-05-26 14:03] shanear opened #275 "Add character count to "Reason for BVA hearing""
Line for reason BVA hearing not held does not have enough character space to explain type of hearing requested and that the hearing has not yet been scheduled.
Tool limits to 40 characters, 60 would allow us to convey appropriate information.

[2016-05-26 15:19] #275 closed

[2016-05-26 16:41] joduinn opened #278 "Add missing ROs to caseflow popdown menu"
While debugging with @shanear earlier this week, we found the list of ROs used in caseflow are different to the list provided by Jed in a report to John. As users are not able to manually type in ROs into the popdown field, possible this may cause some users to back out of using caseflow if their location is not there?

Two step process to fix:
1) rework the list in regional_office.rb to be sorted

[2016-06-01 15:34] #250 closed

[2016-06-01 15:34] #259 closed

[2016-06-02 15:38] shanear opened #281 "Add "None" as an option for 8A?"
Caseflow does not have an option in the representative field to choose none.  So I picked other, and put none as the name of organization, and N/A as the name of the representative.  It would work better if an option to choose was none for representative

[2016-06-02 15:38] shanear commented on #281
@KHarshawat what do you think?

[2016-06-02 17:15] gmorgana-va opened #282 "Make Caseflow/Certification Logo Clickable"
The top-left logo isn't currently linked back to the homepage

[2016-06-02 19:43] #247 closed

[2016-06-07 04:20] joduinn commented on #278
[snip]
1) rework the list in regional_office.rb to be sorted by RO##. This will make it easier to later tell what has actually changed.
[snip]
This step1 was done last week as part of PR #279 and has been landed.

[2016-06-07 15:12] joduinn commented on #278
[snip]
 2) compare both lists and insert new/missing ROs.
[snip]
This step2 was done as part of PR #284 last night and landed by @paultag just now.

[2016-06-13 21:06] joduinn commented on #278
@shanear when you get a gap-in-time, can you/we look at the popdown menu to see if it shows the new/full list of ROs?

[2016-06-16 20:14] joduinn commented on #278
Also, just emailed Jed to see if there is anything else that needs to be done on his side to enable those new ROs to see/use caseflow.

[2016-06-16 22:33] joduinn commented on #278
1) Jed confirmed that all ROs are enabled for caseflow. This was true on 21apr, and he's been doing this for each new RO created since then.

2) @shanear will deploy the updated code to production AnyDayNow (tm) - in between other work - and update this bug with timestamp, so we can compare with caseflow usage patterns.

[2016-06-22 17:06] orischwartz opened #287 "undefined method `to_date' for nil:NilClass"
[code]

[2016-06-22 17:23] #287 closed

[2016-06-23 21:13] shanear opened #289 "When user marks 8B as No POA, 9A and 9B are irrelevant"
We've received this feedback from a two users.

[2016-06-23 21:44] shanear opened #290 "When 10B is set, and the follow up is blank, 10B is blank"

[2016-06-24 15:05] #290 closed

[2016-06-24 17:46] orischwartz opened #292 "update ruby saml to 1.3"
As reported by @alex . A `bundle update` and check-in of `Gemfile.lock` will fix this.

https://github.com/onelogin/ruby-saml/blob/master/changelog.md#130-june

[2016-06-27 20:09] paultag opened #295 "Form 8: Question 8A: No option for No POA"
As a user filling out a form 8 on Caseflow Certification, I want an option to record that the veteran has no representative, and I would like irrelevant fields to hide.

### Acceptance Criteria
1. Verify that on the Form 8, question 8A has  a "None" option.
1. Verify that when the "None" option is selected on question 8A, questions 8B, 8C, 9A, and 9B are hidden.
1. Verify that when "None" is selec

[2016-06-27 20:49] orischwartz commented on #292
closed via #294

[2016-06-27 20:49] #292 closed

[2016-07-08 16:32] KHarshawat opened #297 "Remove Excessive Details from Confirmation Page"
on the Congratulations page in Caseflow Certification we should ...
- [ ] Remove to header section that lists the appeal type, file type,  rep, and vet name.
- [ ] Center align the check list items
- [ ] Include the veteran name in the congratulations message instead...e.g. `Davy Crocket's appeal has been certified`

[2016-07-08 16:33] KHarshawat commented on #297
![image](https://cloud.githubusercontent.com/assets/6335546/16694418/18ff222c-4508-11e6-8fef-5e2c6d4e0247.png)

vs

![image](https://cloud.githubusercontent.com/assets/6335546/16694423/1fd58d02-4508-11e6-88b2-9aece7a296a1.png)

[2016-07-29 14:19] orischwartz opened #300 "Users that switch between two different ROs are confused by unauthorized wording"
Via NSD support ticket:

Sanitized log output below
[code]

[2016-07-29 14:23] orischwartz commented on #300
I will follow up with user but it looks like VACOLS has this specific case assigned to a different RO.

[2016-07-29 14:28] orischwartz commented on #300
VACOLS lists RO70 (Louisville CLCW) for user is signed in as RO27 (Louisville).

It's possible these two should be treated as the same ... will follow up with user and Jed if necessary.

[2016-07-29 14:39] orischwartz commented on #300
User toggles between the two ROs. Easy fix is to add a prompt on the unauthorized page asking the user to sign in again if necessary. Something like:

And then either link to /logout or embed the login page again and have it overwrite their existing session.

[2016-07-29 15:01] orischwartz commented on #300
Confirmed from user:

[2016-08-10 15:19] orischwartz opened #301 "Instruct users calling help desk to specify the Caseflow team in routing the ticket"
**AC**

On the following pages:
- [500 Error page](https://github.com/department-of-veterans-affairs/caseflow-certification/blob/master/app/views/errors/500.html.erb)
- [404 Not found page](https://github.com/department-of-veterans-affairs/caseflow-certification/blob/master/app/views/errors/404.html.erb)
- [Help page](https://github.com/department-of-veterans-affairs/caseflow-certification/blob/ma

[2016-08-12 13:04] paultag commented on #211
(Unassigning myself from bugs I've dropped and have expired)

There's an open PR with some of this, just needs to likely be rebased and cleaned up :+1:

[2016-08-17 20:48] orischwartz opened #302 "Update to latest rails version to address CVE-2016-6316"
http://weblog.rubyonrails.org/2016/8/11/Rails-5-0-0-1-4-2-7-2-and-3-2-22-3-have-been-released/

[2016-08-17 21:11] orischwartz opened #303 "Create a health-check page that is exempt from force_ssl"
This is required for use with an ELB, and is therefore blocking deployment to AWS.

Or exempt the /help page from SSL

See also
https://github.com/department-of-veterans-affairs/caseflow-efolder/issues/65

[2016-08-22 21:19] KHarshawat opened #304 "Add the "Certify appeal" function in UAT/linktest"
We need to add a "Certify Appeal" function in UAT/Linktest so that we can begin testing bulk addition of Certification Users to CSS:

As mentioned in: https://github.com/department-of-veterans-affairs/appeals-pm/issues/544

[2016-08-23 14:53] shanear opened #305 "If hearing wasn't held, 10B should be blank"

[2016-08-23 15:53] #305 closed

[2016-08-23 15:54] orischwartz commented on #302
Closed via #306

[2016-08-23 15:54] #302 closed

[2016-08-23 19:33] orischwartz commented on #300
Boilerplate response for now:

[2016-08-24 15:37] #303 closed

[2016-08-25 13:59] shanear opened #308 "Connect to Sentry"
We have a sentry server up and running. Just need to add the project and add the proper configurations to Caseflow Certification.

[2016-08-25 17:48] shanear opened #309 "Migrate to Ruby-only Connect VBMS"

[2016-08-25 17:49] #267 closed

[2016-08-25 17:54] shanear commented on #304
Duplicate

[2016-08-25 17:54] #304 closed

[2016-08-25 17:55] shanear commented on #66
closing, cause its old

[2016-08-25 17:55] #66 closed

[2016-08-25 17:56] shanear opened #310 "Integrate with CSS"
Current plan is to redirect to `cf.ds.va.gov`, and have that do the CSS SSO redirect. Thus we can strip all the Omniauth stuff out.

- [x] Add new certification domains to the DNS (NSD ticket created by @gmorgana-va)
- [x] Add permissions security checks
- [x] Modify the user class to work with the CSS user information instead of IAM.
- [x] Add rerouting code
- [x] Update ansible script with the e

[2016-08-25 18:00] shanear opened #311 "Remove VACOLS login"
Instead map CSS Station IDs to RO ids, and use that to know the user's RO.

Depends on #310

Current plan:
- [x] Create a mapping of Station IDs to RO ids
- [x] Show RO id using the mapping instead of the VACOLS id
- [ ] Remove VACOLS login code

[2016-08-25 18:02] shanear commented on #311
@KHarshawat @gmorgana-va do either of yall know where to find this mapping?

[2016-08-25 18:08] shanear opened #312 "Combine ROs where appropriate"
Some ROs have two RO ids for the same location. There is often a need to certify cases for both of these ROs and it would be nice if the users didn't have to log in and log back out.

These are two tickets where the issue has come up:
https://github.com/department-of-veterans-affairs/caseflow-certification/issues/300
https://github.com/department-of-veterans-affairs/appeals-pm/issues/655

NOTE: If

[2016-08-25 18:26] KHarshawat commented on #312
Sent the following email to Chris:

[2016-08-25 20:56] KHarshawat commented on #311
https://github.com/department-of-veterans-affairs/appeals-pm/blob/master/other%20systems/VACOLS/ro_list.xls

[2016-08-25 20:57] KHarshawat commented on #311
Emailed Chris Denno to see if I could get mappings for the remaining ROs with weird edge cases like those that end in something like RACC or COWAC, Pension Center, or Education Center.

[2016-08-25 21:00] shanear commented on #311
@KHarshawat  If it's helpful, we could run some reports on which of these ROs have ever had a ceritfication done with caseflow. That way we'd know which ones to account for

[2016-08-25 21:01] KHarshawat commented on #311
Sure that'd be super helpful! Chris mentioned that may of these are not even used any more.

[2016-08-26 15:56] shanear commented on #312
We need to figure out whether it's possible to have CSS users belong to multiple station ids. And if so, how does that work.

[2016-08-26 18:01] KHarshawat commented on #312
@shanear here's the updated file with all station IDs except General Counsel, NCA, and VHA CO.

[2016-08-26 18:14] KHarshawat commented on #312
Emailed the following to Michael and cc'd Shane

[2016-08-26 19:43] shanear opened #313 "Connect certification to Redis"
- [ ] Deploy and configure a redis instance for certification https://github.com/department-of-veterans-affairs/appeals-deployment/issues/136
- [ ] Add redis URL to deployment role (e.g., `REDIS_URL: "{{ redis_url }}"`)
- [ ] Add a redis library to Gemfile
- [ ] Modify [application.rb](https://github.com/department-of-veterans-affairs/caseflow-certification/blob/master/config/application.rb#L30) t

[2016-08-26 19:44] shanear opened #314 "Add PostgresDB"
- [x] Figure out the database strategy
- [x] Add `POSTGRES_URL` to deploy scripts

[2016-08-26 19:49] orischwartz commented on #313
Currently [cache is backed by in-memory](https://github.com/department-of-veterans-affairs/caseflow-certification/blob/master/config/application.rb#L30) storage. Need to use Redis so that data survives deploys across instance.

[2016-08-29 13:31] shanear commented on #310
@orischwartz we'll also need to request the following domains:

certification.cf.uat.ds.va.gov
certification.cf.preprod.ds.va.gov
certification.cf.ds.va.gov

Can you confirm that the IP's here are correct?
https://github.com/department-of-veterans-affairs/appeals-deployment/blob/master/docs/staging-NAT-mappings-NSOC.md
https://github.com/department-of-veterans-affairs/appeals-deployment/blob/maste

[2016-08-29 18:24] KHarshawat commented on #311
@shanear updated mapping of RO> Station ID is here: https://github.com/department-of-veterans-affairs/appeals-pm/blob/master/bva%20documentation/ro_list.xls

This is currently on hold until we can find an answer to: https://github.com/department-of-veterans-affairs/appeals-pm/issues/679

[2016-08-29 18:25] KHarshawat commented on #312
Currently on hold until we can get an answer to the following: https://github.com/department-of-veterans-affairs/appeals-pm/issues/679

[2016-08-30 13:11] shanear commented on #310
After much frustration, I found out another caveat to sharing sessions in rails is that the `SECRET_KEY_BASE` must be the exact same. This will need to be accounted for in the ansibles.

[2016-08-30 14:46] orischwartz commented on #310
Per discussion with @shanear today, instead of making `CSS_ENABLED` a manual switch, let's have application dynamically determine which SSO platform to use by inspecting the requested hostname. This way, deployment doesn't require coordination between VACOLS rollout and the application--we would only need to update the VACOLS URL.

[2016-09-01 13:56] KHarshawat commented on #311
We've determined that we don't need to restrict usage by RO (department-of-veterans-affairs/appeals-pm#679) so I'm removing the on-hold label and moving this into the sprint backlog.

[2016-09-01 14:19] KHarshawat commented on #312
Re: department-of-veterans-affairs/appeals-pm#679 we don't have to restrict appeals based on user's RO. Removing on hold label and moving this to the current sprint column until Shane is back.

[2016-09-01 15:59] orischwartz commented on #309
Currently use the legacy hybrid Ruby/Java version of connect_vbms (which is [included in this repo](https://github.com/department-of-veterans-affairs/caseflow-certification/pull/86#issuecomment-191805468) under vendor/gems).

Switch to newer pure [Ruby implementation](https://github.com/department-of-veterans-affairs/connect_vbms/commits/cleanroom/no-java) after migrating our deployment to AWS.

c

[2016-09-01 17:16] KHarshawat commented on #300
This will probably become OBE when we move to CSS and stop restricting users by RO.

[2016-09-01 17:20] KHarshawat commented on #272
Include the following options in the drop down:

Decision Review Officer
Rating Specialist
Veterans Service Representative
Claims Assistant
Other

Other would allow users to enter a custom title.

[2016-09-01 17:22] KHarshawat commented on #281
Assigning to @lakohl for her thoughts and design.

[2016-09-01 17:22] KHarshawat commented on #278
@cmgiven this is an example of why we'd want to know which ROs are actively using CF Certification.

[2016-09-01 17:24] KHarshawat commented on #274
As described in https://github.com/department-of-veterans-affairs/appeals-pm/issues/679 we do not need to restrict appeals by RO when we move to CSS so this issue will be OBE.

[2016-09-01 17:24] KHarshawat commented on #274
Closing it now.

[2016-09-01 17:24] #274 closed

[2016-09-01 17:26] KHarshawat commented on #273
@shanear When you get a chance can you take a look at this and see if our documentation needs to be updated. If not, close.

Thx for the feedback @agilesix

[2016-09-01 17:28] KHarshawat commented on #248
If we can figure out a way to show these messages we should still do this. Ideally these are messages we can re-use accross all of Caseflow and so can be a part of Caseflow Commons.

[2016-09-01 17:31] KHarshawat commented on #211
@cmgiven might be up your alley

[2016-09-01 17:32] KHarshawat commented on #166
@lakohl Wanna take a stab at this? If you can come up with better messaging, add it here along with the styles you'd like to use and a contractor can take it from there.

[2016-09-01 17:34] KHarshawat commented on #57
@shanear can you make sure we'll be logging everything here we ought to be in Sentry?

[2016-09-01 17:35] KHarshawat commented on #308
Marking this as a dupe of https://github.com/department-of-veterans-affairs/caseflow-certification/issues/57. Closing and adding a comment on the other issue.

[2016-09-01 17:36] KHarshawat commented on #57
We have a sentry server up and running. Just need to add the project and add the proper configurations to Caseflow Certification.

 (see this issue: https://github.com/department-of-veterans-affairs/caseflow-certification/issues/308)

[2016-09-01 17:36] #308 closed

[2016-09-01 19:42] KHarshawat opened #316 "Collect feedback in app"
@KHarshawat is this the feedback form that @shellicious is working on?

[2016-09-08 18:25] shanear commented on #314
Did some early research and testing on the 2 database rails setup. It turns out to be really easy, so I'm going to close this until we have a concrete use case for PostgresDB (which we probably do somewhere in the backlog).

[2016-09-09 17:27] shanear opened #317 "Remove VACOLS RO access check"
Per https://github.com/department-of-veterans-affairs/appeals-pm/issues/679, we don't actually need to restrict access to appeal by the VACOLS RO of the user.

Remove this check in the code.

[2016-09-09 18:13] shanear commented on #312
This is no longer necessary, because we're removing the RO access check:

https://github.com/department-of-veterans-affairs/caseflow-certification/issues/317

[2016-09-09 18:14] #312 closed

[2016-09-09 18:31] cmgiven opened #318 "Add GA event for modification of default values"
Per outcome of #673.

[2016-09-09 18:35] cmgiven opened #319 "Adapt the EE dashboard for Certification"
Per the outcome of #673.

[2016-09-09 18:40] cmgiven commented on #318
Dupe of #63.

[2016-09-09 18:40] #318 closed

[2016-09-09 18:42] cmgiven commented on #314
Chris and Shane to sync up on what's needed in PM/725.

[2016-09-09 18:42] cmgiven commented on #319
Following completion of #314.

[2016-09-12 13:44] cmgiven commented on #314
So the conclusion of the conversation we had at the end of last week:

* We need to track a certification record that has 1) timestamps for when the certification was first viewed, 2) timestamps for when each of the expected documents was found (which would be equal to timestamp (1) if they were present when first viewed), and 3) a timestamp for when the appeal was certified.
* In addition, we'll

[2016-09-12 13:44] shanear commented on #310
Blocked on the DNS mapping...

[2016-09-12 13:51] shanear commented on #314
@cmgiven yeah, I think each of these should be tracked in separate issues though. I can do those and start coding them.

[2016-09-12 13:55] shanear opened #320 "Begin recording timestamps for certifications"
A certification record should be created locally the first time it's viewed. To start, this record will be used to track timestamps for events on the certification:

- started_at (created_at)
- nod_matching_at
- form9_matching_at
- soc_matching_at
- ssocs_matching_at
- documents_matching_at
- completed_at

[2016-09-12 14:02] shanear commented on #320
@cmgiven this list look good to you? Think it's ok to group all ssocs matching into one timestamp. It simplifies things a lot.

[2016-09-12 14:07] shanear opened #321 "Record edits made to defaults on Form 8"
Start recording changes made to a Form 8 from the defaults. This will be helpful in determining how useful our defaults are.

It's possible the best way to do this is a JSON blob. Might be helpful to know exactly how we'll query the data.

[2016-09-12 14:16] shanear opened #322 "Form 8: Record users involved in certification."
Record the user that completed each certification.

Add the unique id from the Users table as a foreign key to the certifications table.

Acceptance criteria:
QA by manually taking a screen shot.

[2016-09-12 14:18] shanear commented on #321
@cmgiven @KHarshawat what's the prioritization on this one? can we leave this out of the current sprint?

[2016-09-12 14:21] cmgiven commented on #321
Figuring out how to use this data is on my plate for this sprint, but I was already assuming it would be next week at the earliest. In my view, this is far less important than starting to track certifications in postgres. Don't know what else this is competing with.

[2016-09-12 14:22] KHarshawat commented on #321
@shanear @cmgiven also seems like it'd be an easy one for a contractor to start out with. Adding the "contractor-ready" label. Doesn't need to be done this sprint from my perspective though.

[2016-09-12 14:23] cmgiven commented on #314
Just documenting our conversation, there isn't anything that logically qualifies as a "view," so instead will use "Appeals Started" and "Appeals Certified," those first and last timestamps. This is what we needed for the rates, in any case, and just slightly tweaks what the top row of the dashboard looks like.

[2016-09-12 14:26] cmgiven commented on #320
Looks good. One question: how would we know when an SSOC is not expected? Want to be able to remove certifications that do not need an SSOC from both numerator and denominator there.

[2016-09-12 14:28] shanear commented on #320
@cmgiven We could say that they "match" immediately, since (no ssocs == no ssocs)

[2016-09-12 16:02] shanear commented on #57
With all the changes we're making to Certification I think it's really important that we keep a close eye on the application errors. For that reason, I'm going to tackle configuring Sentry for Certification first, and pull this into the current sprint.

@KHarshawat @orischwartz

[2016-09-12 20:01] shanear commented on #57
Closing this issue once we've connected it to sentry. Adding tickets for other unresolved monitoring tasks.

[2016-09-12 20:01] shanear opened #324 "Monitor connection speeds for VBMS and VACOLS"
If VBMS or VACOLS are being slow (or down), we want to know about it.

We'd also like to be able to post a notice to our users.

[2016-09-12 20:15] shanear commented on #57
Going to deploy and test the integration after the following are merged:

https://github.com/department-of-veterans-affairs/appeals-deployment/pull/121
https://github.com/department-of-veterans-affairs/caseflow-certification/pull/323

[2016-09-12 20:16] shanear commented on #57
@orischwartz I think we should prioritize this over the CSS stuff. Since it will be valuable to have when we deploy the CSS stuff (to see if there are any errors).

[2016-09-12 20:18] shanear commented on #310
Holding on Sentry and merging the two pulls mentioned above.

[2016-09-12 21:08] shanear commented on #57
Tested it! Sentry is live in certification.

[2016-09-12 21:08] #57 closed

[2016-09-13 13:37] shanear commented on #314
@orischwartz Should we create a new database, or reuse the efolder-caseflow database (setting the precedent that all Caseflow apps will share the same DB)?

Here are my thoughts so far:

## Pros (new database):
 - eFolder Express and Caseflow Certification don't share any of the same data. Doesn't make sense to share databases right now.
- One less single point of failure for eFolder Express and C

[2016-09-13 13:54] cmgiven commented on #314
Agree that new DB makes the most sense for this specific case (eFolder/Certification), particularly given the complete data incongruency. I think that calculus flips when considering, say, Certification/Activation, where overlap is much more obvious and sharing adds quite a bit of utility. Given that, I think we'll probably be starting "CaseflowDB" sooner rather than later, but I don't think that

[2016-09-13 14:10] KHarshawat commented on #320
Note from standup: Dependent on Postgres and changes in architecture. Was dependent on Sentry for Certification which  is done.

[2016-09-13 16:32] orischwartz commented on #314
The right thing to do is create separate infrastructure for each application: separate memcached cluster, database instance, etc.  Ordinarily, it's a no-brainer. But our database is lightly used ad we're over-provisioned for each app.

Our production instances cost $308.48/month = 3,701.76 US$/year, which isn't enough to sway the decision.

From the application's point-of-view it won't matter. And

[2016-09-13 21:17] orischwartz commented on #310
Deployed https://github.com/department-of-veterans-affairs/caseflow-certification/pull/315 to UAT  (using `-e app_version=css` git version hook) so we can test and hack via `etc/hosts`.

Only concerned about retaining backwards compatibility with SSOI/VACOLS login logic.

[2016-09-14 15:27] shanear commented on #320
@cmgiven So after mulling over this for a little while, I'm having a hard time deciding where to account for some of our events. The line between where we record data is still pretty fuzzy. Here's an example:

There is  a very unlikely scenario where a user tries to start a certification that doesn't have the proper data in VACOLS. I believe the VACOLS UI prevents this, but I'd be nice to know whe

[2016-09-14 16:54] cmgiven commented on #320
Let's rule out the dashboard: it doesn't have much ongoing value. It could be tracked in the database and reported on periodically, but I agree with your view re: awkwardness.

One way to consider whether to use Sentry or GA for this would be severity. I'm assuming we don't track 404s in Sentry. My sense is this is not something that we need to be proactive in identifying: if somehow VACOLS is sen

[2016-09-14 17:01] shanear commented on #320
Well, I've started down the route of having everything tracked in the certification DB. The benefit of a dashboard is that we can optimize it to show what we want to see, how we want to see it.

Yes, GA is already tracking it, but like I said, no one really looks at GA, or knows which of the 100's of GA screens to look at, or knows to click to page 2 to see the small number hits to this URL, or kn

[2016-09-14 21:59] shanear commented on #320
Alright, after some refactoring and adding in of Postgres, I have a Certification model

[2016-09-15 14:45] cmgiven commented on #320
What are the options for first preview timestamp? Seems like it would be useful, as if something was previewed but not submitted, it could indicate that our generated Form 8 was deemed inaccurate for some reason.

[2016-09-15 14:53] shanear opened #325 "Remove IAM logic"
- [ ] Merge `paultag/css` branch of Omniauth-saml-va into master (https://github.com/department-of-veterans-affairs/omniauth-saml-va/tree/paultag/css). Update Gemfiles in
  - [ ] eFolder Express
  - [ ] Caseflow Certification
- [ ] Remove `DEPLOY_ENV` from certification in appeals deployment
- [ ] Change certification to use `COOKIE_DOMAIN` instead of `:all` for sessions
- [ ] Strip IAM related Us

[2016-09-15 15:02] shanear commented on #325
@orischwartz this look good to you?

[2016-09-15 16:18] orischwartz commented on #325
LGTM :+1:

[2016-09-15 20:05] shanear commented on #320
@cmgiven we can record the time when a certification is first previewed. The big thing that would give us is the amount of time between preview and confirmation. We still wouldn't be able to know how many times they go back and forth and make edits.

[2016-09-15 20:25] cmgiven commented on #320
At least for me, I'm not seeing an issue there. If we are interested in that, GA is going to be a better choice; we don't want to reimplement all of analytics.

[2016-09-15 20:55] shanear commented on #320
Config PR: https://github.com/department-of-veterans-affairs/appeals-deployment/pull/129

[2016-09-15 21:36] shanear commented on #322
This is blocked until we start using CSS.

[2016-09-15 21:36] shanear commented on #311
This is blocked until we start using CSS on 9/26

[2016-09-16 20:44] orischwartz opened #327 "Show 3 days of download history (currently just 1)"
[deleted]

[2016-09-16 21:01] orischwartz commented on #327
Wrong repo.

[2016-09-16 21:01] #327 closed

[2016-09-20 16:06] orischwartz commented on #310
@shanear Next steps:

* Confirm CSS login in UAT by modifying local `/etc/hosts`

Then we can start tracking prod requirements.

[2016-09-20 16:56] shanear commented on #310
@orischwartz the `certification.cf.*.va.gov` DNS entries are already in effect, so we shouldn't have to manipulate etc/hosts right?

[2016-09-20 17:34] orischwartz commented on #310
Ah right. Yes, confirmed working in UAT (minus SSL errors for wrong domain).

[2016-09-20 17:36] orischwartz commented on #310
@shanear Safe to close this in favor of the various (private) issues we're using to track rollout?

* Coordinate Rollout of CSS https://github.com/department-of-veterans-affairs/appeals-pm/issues/760
* Migrate Caseflow Certification Users to CSS https://github.com/department-of-veterans-affairs/appeals-pm/issues/643
* Determine How to Bulk Add Users in CSS to Migrate Certification to CSS https://g

[2016-09-20 19:21] #310 closed

[2016-09-20 21:42] shanear commented on #320
@orischwartz alright the correctly configured RDS instance is up. The current config in appeals-deployment should work. The database `caseflow_certification` is also live.

Checked it with psql.

[2016-09-21 15:14] orischwartz commented on #313
Could use https://github.com/redis-store/redis-rails:

#### Gemfile
[code]

#### secrets.yml
[code]

#### application.rb
[code]

[2016-09-21 17:34] shanear commented on #313
@orischwartz sounds great. I just realized efolder express also doesn't use redis for it's cache, so we need to do that there as well.

[2016-09-21 23:07] shanear commented on #314
This is donesies. Deployed this morning.

[2016-09-21 23:11] #314 closed

[2016-09-21 23:11] shanear commented on #320
Deployed this morning to prod

[2016-09-21 23:11] #320 closed

[2016-09-22 14:32] orischwartz commented on #313
@shanear This is a pretty easy ticket that touches both deployment and application code. Any objection to adding a `contractor-ready` label to it and holding off? Or we can bang it out quickly but in my opinion it's not an urgent fix and could be valuable as educational tool.

[2016-09-22 15:03] shanear commented on #313
@orischwartz 👍

[2016-09-23 16:08] #319 closed

[2016-09-23 19:10] cmgiven commented on #63
Dupe of #321.

[2016-09-23 19:10] #63 closed

[2016-09-29 20:50] orischwartz commented on #314
FYI @askldjd

[2016-10-13 14:13] KHarshawat commented on #309
@shanear to connect w/ @orischwartz on when to deploy. Should be careful not to overlap w/ bulk add users to CSS #544

[2016-10-13 19:23] orischwartz opened #335 "Enforce session timeout of 24 hours"
As per findings of SCA.

Similar [eFolder Express issue](https://github.com/department-of-veterans-affairs/caseflow-efolder/issues/182).

[2016-10-14 00:49] #309 closed

[2016-10-14 18:42] #335 closed

[2016-10-18 20:02] #300 closed

[2016-10-18 20:02] #317 closed

[2016-10-18 21:47] orischwartz opened #341 "Track number of clicks to the "help" and "send feedback" items in the user menu"
The quickest and easiest way is to emit a [google analytics event](https://developers.google.com/analytics/devguides/collection/analyticsjs/events) onclick.

cc @KHarshawat

[2016-10-19 12:46] shanear opened #342 "Fix missing doc stats"
The stats for how often a certification was missing documents isn't calculating correctly:

<img width="964" alt="screen shot 2016-10-19 at 8 47 24 am" src="https://cloud.githubusercontent.com/assets/1596259/19519205/eb606908-95d8-11e6-9e04-41c574c99d3e.png">

We should also add light unit tests for all the `Certification.was_missing_X` methods

[2016-10-19 15:34] orischwartz opened #343 "Logged user id is blank after migration to CSS"
[Logger](https://github.com/department-of-veterans-affairs/caseflow-certification/blob/master/config/initializers/logger.rb#L10) should use:

[code]

Log output with blank user:
[code]

It would be a lot cleaner to just use the `User.from_session` model but we'd have to parse more than once (it's memoized in the [application controller](https://github.com/department-of-veterans-affairs/caseflow-ce

[2016-10-19 17:47] shanear opened #346 "Log user in sentry errors"
More info here:
https://docs.sentry.io/learn/context/#capturing-the-user

[2016-10-19 18:41] shanear opened #347 "make health-check return more useful stuff"

[2016-10-20 13:35] #347 closed

[2016-10-20 14:15] #343 closed

[2016-10-21 13:27] shanear commented on #311
After a conversation with Jed, it looks like this one will be tricker than we thought:

- 10 of the 58 Station IDs have multiple regional offices associated to them, and according to Jed, it's important for them to be correct, so we would need to force users in those RO's to disambiguate.
- The regional offices that share the same station ID are always in the same city and state. We've received fe

[2016-10-21 14:45] shanear commented on #316
Closing as a dup

[2016-10-21 17:41] shanear opened #350 "Record form 8 inputs in postgres for data analysis"

[2016-10-21 17:55] shanear opened #351 "Clean out IAM logic from certification"

[2016-10-21 19:06] shanear commented on #351
dup

[2016-10-21 19:06] #351 closed

[2016-10-21 19:14] cmgiven opened #352 "Recreate AMC full grant report from VACOLS"
Obtain details from Jed, and recreate the report in Ruby/SQL.

[2016-10-21 19:22] cmgiven opened #353 "Establish how AMC obtains remands and partial grants"
Since Jed believes the only VACOLS report is for full grants.

[2016-10-21 19:24] shanear commented on #346
@amprokop also, we should do this in efolder. Can you add this issue there too?

[2016-10-21 19:25] shanear opened #354 "Accessibility: PDF.js reads form fields and labels in a confusing order"
Info here: https://github.com/department-of-veterans-affairs/appeals-pm/issues/552

[2016-10-24 12:34] lakohl opened #355 "See all the items in a work queue (manager view)"
A list of cases derived from VACOLS that have been decided and are ready to have an EP created for them. Could start with Full Grants.

[2016-10-24 12:36] lakohl opened #356 "Assign a list/group of cases to a specific employee for processing (auto-routing)"
Replaces the paper excel spreadsheet employees currently use to keep track of the cases for which they have created EP. Instead employees get fed one case at a time.

[2016-10-24 12:38] lakohl opened #357 "Manager View: Show all cases currently being worked"
As a manager,
when I navigate to `/dispatch`

I see every case my employees (that share my station ID) are currently working, (designated by the initial of the employee beside it)

Managers and employees should be designated by CSS function.

See the attached design for fields.
[Current and History.pdf](https://github.com/department-of-veterans-affairs/caseflow-certification/files/556820/Current.a

[2016-10-24 13:13] cmgiven commented on #352
From Jed:

1) SQL select
[code]

2) Filter after rows are retrieved – no Private Attorney cases (bfso=T) or cases where there were remanded issues
[code]

3)  Sort order

![unknown](https://cloud.githubusercontent.com/assets/5375557/19646998/16a9b304-99ca-11e6-8503-a403392d72b8.png)

[2016-10-24 13:16] cmgiven commented on #352
Column names in report:

* Appeal Id
* Name
* RO
* Dec Date
* Disp
* Status
* Loc
* VVA
* VBMS
* VSO
* Remanded Issues

[2016-10-24 13:19] cmgiven commented on #352
<img width="671" alt="screen shot 2016-10-24 at 9 18 47 am" src="https://cloud.githubusercontent.com/assets/5375557/19647179/f0c3bdbe-99ca-11e6-98c6-433690dfd03c.png">

[2016-10-24 13:31] cmgiven commented on #352
Here's the logic for issue_cnt_remand:

[code]

[2016-10-24 14:36] cmgiven commented on #353
The VACOLS Reports > AMC > Remands in Transit appears to be anything that is sitting in location 97. Email into Jed to confirm.

There does not appear to be a separate report for partial grants. Assuming this is defined as "Appeals with at least one issue marked as allowed, although not for the full amount requested, and no remands," these would appear in the full grants report. If they are define

[2016-10-24 14:37] cmgiven commented on #353
Tracking the logic for the full grant report here: #352.

[2016-10-24 14:41] shanear commented on #311
postponing this for #325, since doing that will make this considerably easier

[2016-10-24 17:05] lakohl opened #359 "Caseworker: Priority order of assigned cases"
As a Caseworker, I want the case assigned to me to be in priority order.

### Acceptance Criteria
1. Verify when I click "Establish Next Claim" button, the task assigned to me should be the highest priority task according to the following rules:
  - All full grants (oldest to newest) first.
  - then all remands/partial grants (oldest to newest).

### Implementation Notes:
- Flip order tasks are cr

[2016-10-24 17:22] cmgiven commented on #211
Closing. See #345.

[2016-10-24 17:22] #211 closed

[2016-10-24 17:28] lakohl opened #360 "Provide a History of cases for which an EP has been created"
Allow employees to keep track of which cases they have worked and when.

[2016-10-24 17:37] lakohl opened #361 "At Login a new case is assigned to an employee to be worked"
Cases needing EPs are automatically assigned to employees to be worked. At login the next unassigned case in the queue is assigned to that employee.

[2016-10-24 17:50] lakohl opened #363 "How long does a case stay assigned to an employee before it is auto-released?"
A case stays assigned to an employee for X amt of hours to work (72?). If an EP is not created within that time frame it is release back into the queue at the top of the list.

[2016-10-24 17:52] lakohl opened #364 "Manager can perform a manual release"
A manager can manually release a file from an employee, effectively over-riding the wait time that is part of auto-release.

[2016-10-24 17:54] lakohl opened #365 "Show how many cases were processed today"
Give employees a sense of their progress.

[2016-10-24 17:56] lakohl opened #366 "Employees need a way to release a case/cancel"
Employees need to be able to stop the flow of cases being assigned to them. If they are going home for the day or away for vacation they should be able to log out with no cases assigned to them. Will need a way to release or cancel the last case that was automatically assigned to them.

[2016-10-24 18:03] cmgiven commented on #352
I think this issue is moving from a proof-of-concept, which should be pretty simple, into starting to lay the groundwork for creating items in the dispatch work queue.

@shanear: We had talked about creating a `dispatch` object, analogous to the `certification` object. One thing here, though, is that we're starting work in the middle of the dispatch process. Dispatch begins when a VLJ has signed a

[2016-10-24 18:06] shanear commented on #352
@cmgiven i like #2

we'll be timestamping the shit out of this object, so I'm cool with half recorded dispatches.

[2016-10-24 19:41] amprokop commented on #346
aye aye!

[2016-10-24 19:49] shanear opened #368 "Add an RO picker instead of VACOLS login?"
We are now able to know the list of approved ROs that a user can operate as through CSS. Many have just one RO for their station id, making it easy to know their RO. However, some have up to 5 RO's that match their station ID.

Currently, we're making users with multiple RO's that match their station ID log in via VACOLS to disambiguate. Is there a better way? Like doing a regional office picker?

[2016-10-24 20:50] cmgiven opened #369 "Automate periodic running of seam reports"
Method TBD.

[2016-10-24 21:58] joofsh commented on #352
@cmgiven Do you know how that date-range is input for the query you mentioned? Is the user able to enter a date range in the VACOLS GUI?

[2016-10-24 22:01] cmgiven commented on #352
Yup. It's a pretty common pattern for the VACOLS reports. You select a report from the menu, and you have a dialog box with a few options, including a date range. In the case of the above, it also includes a couple of sort options.

[2016-10-25 12:28] cmgiven opened #370 "Prototype AMC self-EP/RO-EP classifier"
Predict whether a case has a LOC 97–98 handoff (EP creation handled by AMC) or a LOC 97–50 handoff (EP creation handled by RO). Use discovery with Nicholas from 10/24 to create a set of rules.

Although it will be possible to report the type I error rate at the individual rule level, the type II error rate is only possible in aggregate, pending follow up into individual cases.

[2016-10-25 14:21] lakohl opened #371 "Create Designs for EP Dispatch"
Create designs for each stage of EP creation.

[2016-10-25 14:23] cmgiven commented on #353
Jed confirms:

@abbyraskin @lakohl

[2016-10-25 14:36] #311 closed

[2016-10-25 14:36] #325 closed

[2016-10-25 19:56] cmgiven commented on #370
Haven't yet looked at accuracy, but this is my starting point.

[code]

[2016-10-25 20:29] cmgiven commented on #370
My accuracy with the above:

87%.

I have 3% type I errors (false positives, cases that I think should go to the RO that don't).

I have 10% type II errors (false negatives, cases that I think should stay at AMC that instead go to the RO).

[2016-10-25 20:32] cmgiven commented on #370
Type 1 errors by test:

[code]

[2016-10-25 20:33] #370 closed

[2016-10-25 20:38] cmgiven commented on #370
Oh, right, and this is of a sample of 3,520 cases.

[2016-10-25 20:47] cmgiven commented on #370
One last table:

| - | Predicted: RO | Predicted: AMC |
|----| ---------------- | ------------------ |
| **Actual: RO** | 581 correct (16.5%)  | 362 incorrect (10.3%) |
| **Actual: AMC** | 111 incorrect (3.2%) | 2,466 correct (70.1%) |

[2016-10-25 20:54] #353 closed

[2016-10-26 15:13] cmgiven commented on #370
Updating with two changes:

* Expanded the scope to any decision issued in FY16.
* Per Abby, the some cases move 97 -> 98 -> 50. So I've changed the test set methodology to look only for whether a 98 or a 50 came last in a case's history (all must first move through 97 to be included). Somewhat counterintuitively, this brings down the accuracy, as it increases the number that end up at the RO, whi

[2016-10-26 20:16] #282 closed

[2016-10-26 20:44] amprokop opened #376 "Investigate possibilities to replace PDFTK"
The version of PDFTK that is known to work on 10.12 doesn't appear to be linked to from the PDFTK site itself and we found it on Stack Overflow.

From Ori:

We should investigate using another PDF module since it's unclear if PDFTK will be maintained/reliable for the medium-term.

isolated application pdf logic:
https://github.com/department-of-veterans-affairs/caseflow-certification/blob/master/a

[2016-10-27 14:25] KHarshawat opened #377 "Feedback link goes to feedback form"
When I click on the "Give Feedback" link in Caseflow Certification I should be redirected to the feedback form.

[2016-10-27 17:03] shellicious opened #378 "Schedule Override feature interviews"
Interviews have been scheduled with RO staff from Waco, Detroit, Houston, Portland, and Winston-Salem.

[2016-10-27 17:07] shellicious opened #379 "Conduct Override feature interviews"
Interview 6-8 DROs and VSRs from Regional Offices to understand why they are using workarounds for Certification.

[2016-10-27 17:12] shellicious opened #380 "Summarize Override feature research"
Summarize research with VSRs and DROs around Certification workarounds, with the following artifacts:
- types of cases that are difficult to certify with Caseflow
- current workaround workflows
- problem statements to brainstorm new or improved features around

[2016-10-27 17:14] shellicious opened #381 "Sketch ideas related to Override feature"
"Override" is short hand for features that address RO staff working around Caseflow. We'll use findings from #380 to sketch ideas.

[2016-10-27 17:16] shellicious opened #382 "Certification workaround research checklist"
This issue is to keep track of the research and initial sketching tasks for addressing Caseflow workarounds. We're using "Override" as shorthand to refer to this problem.
- [x] #378: schedule interviews with VSRs and DROs at Regional Offices
- [x] #379: conduct interviews
- [x] #380: summarize research
- [x] #381: sketch ideas based on research findings

[2016-10-27 19:05] KHarshawat opened #384 "Change name of repo back to Caseflow"
Rename this repo to caseflow.
- [x] Rename this repo to `caseflow` from `caseflow-certification`
- [x] make sure any dependent integrations still works
- [ ] Make sure waffle still works

[2016-10-27 19:30] lakohl opened #385 "Manager View: show how many cases have been processed today"
Show how many cases have been processed today and how many are in the queue.
<img width="625" alt="screen shot 2016-10-27 at 3 31 24 pm" src="https://cloud.githubusercontent.com/assets/4975959/19782132/7e8c07d2-9c5a-11e6-9d4e-d589791187a9.png">

[2016-10-27 19:41] lakohl opened #386 "Manager View: Show History of completed cases"
Show History with the most recently completed case at the top of the list. Show the fields as in the attached design. (but ignore Search and Show More for now)

[Current and History.pdf](https://github.com/department-of-veterans-affairs/caseflow-certification/files/556852/Current.and.History.pdf)

[2016-10-27 19:58] lakohl opened #387 "Manager View: History: Ability to "Show More" information"
As a Manager, I would like the ability to see more task items in the History section so that I can see the activity on more than just the last 10 tasks in the history.

### Acceptance Criteria
- Verify that when a user clicks on "Show More" under the the "Work History" list, the next 10 completed tasks are added on to the bottom of the list. The whole list should be in reverse chronological order

[2016-10-27 20:02] lakohl opened #388 "Caseworker Landing View"
As an AMC Caseworker,
when I visit `/dispatch`,
then i should see a button "Create End Product"

when I click that button,
then it should assign the oldest case that needs to be processed to me
and i should be redirected to a page relating to that case (to be completed in a future story)

[2016-10-27 20:18] lakohl opened #389 "Caseworker Landing: History"
As a caseworker, when I visit the landing page, I can see a list of the cases I processed with the most recently processed case at the top.

Possible Values for Results: EP Completed, Routed to RO, Cancelled

<img width="693" alt="screen shot 2016-10-27 at 4 10 56 pm" src="https://cloud.githubusercontent.com/assets/4975959/19783981/02400784-9c62-11e6-8c9f-4a67272f7857.png">

[2016-10-27 20:38] lakohl commented on #361
closing

[2016-10-27 20:38] #361 closed

[2016-10-27 20:39] lakohl commented on #365
closing, duplicate

[2016-10-27 20:39] #365 closed

[2016-10-27 20:42] lakohl opened #391 "Caseworker Landing"
What do I see when I land for the first time?

[2016-10-27 20:44] lakohl opened #392 "Caseflow Dispatch Logo: Add Caseflow Dispatch logo"
As a user, when I open up any page in Caseflow Dispatch I should see Caseflow Dispatch and not Caseflow Certification at the top of the page.

### Acceptance Criteria
Verify that the logo and title of the page has changed to Caseflow Dispatch.

### Sub-tasks

- [ ] QA discovery and scripting

[2016-10-27 21:49] lakohl commented on #371
@abbyraskin here are some initial sketches. The Caseworker view starts with two versions of the same page.
[Manager Landing View.pdf](https://github.com/department-of-veterans-affairs/caseflow-certification/files/557123/Manager.Landing.View.pdf)
[Caseworker View.pdf](https://github.com/department-of-veterans-affairs/caseflow-certification/files/557124/Caseworker.View.pdf)

[2016-10-28 12:57] abbyraskin commented on #371
One note for our team is that I'm not sure "Create End Product" will resonate with users as much as "Establish Claim" or "New Claim" (this is the language they use from VBMS + the internal shorthand "CEST"ing). The EP is simply one part of this form submission workflow.

[2016-10-28 15:04] amprokop commented on #350
I'm going to knock this and #321 (which involves recording edits in caseflow certification to form 8 values) out in the same PR.

There are a couple of options for how we want to do this. Will discuss with @cmgiven

[2016-10-28 15:07] cmgiven commented on #350
Also be aware of #342.

[2016-11-01 14:13] orischwartz opened #396 "CSS-Authenticated Certification user redirected to eFolder Express"
See NSD ticket `I11309046FY17` and screenshot in #appeals channel for details. User saw the eFolder Express unauthorized page while attempting to certify a case.

Either a bug or a condition we're not handling with legacy cookies after migrating from IAM->CSS single signon.

Any ideas @shanear ?

[2016-11-01 14:51] orischwartz commented on #396
I'm able to reproduce this every time. It's almost like the `return_to` URL is never set and [`sessions_controller`](https://github.com/department-of-veterans-affairs/caseflow-efolder/blob/master/app/controllers/sessions_controller.rb#L8) defaults to `/`?

Browser requests:

[code]
[code]

[2016-11-01 15:11] orischwartz commented on #396
Culprit is set-cookie header on the initial request:

[code]

Domain is wrong.

[2016-11-01 15:25] orischwartz commented on #396
Fix is in https://github.com/department-of-veterans-affairs/appeals-deployment/pull/181

[2016-11-01 15:25] #396 closed

[2016-11-01 19:06] shanear commented on #384
@orischwartz this is going to involve a lot of changes to the appeals-deployment repo. Mind if i take that on?

[2016-11-02 03:30] joofsh commented on #357
@lakohl @shanear Just to make sure I understand the bigger picture, a couple questions about the ticket:

It mentions employees and managers are defined by "CSS function".
  - Is this based on their `roles`? As in the `/dispatch` landing page will be different based on the user's role?

It says that the manager can see every case assigned to a user with the same station id, but I'm not clear how t

[2016-11-02 03:45] joofsh commented on #388
Question based on the designs linked in [this related ticket](https://github.com/department-of-veterans-affairs/caseflow-certification/issues/389) (Designs look great!)

It sounds like the task is not being assigned to the employee until they click "Create End Product", correct? This is somewhat problematic since we are showing "Next Appeal" but not actually assigning it to the user yet.

Imagine

[2016-11-02 04:06] shanear commented on #357
Yes & yes.

For now there will only be a work queue for AMC end product creation. We can deal with splitting out work queues for different actions when another type of work item is needed (should still be a month or two away).

Good question. I'll let @lakohl answer that one 😄

I think I see where your going here. We should have the discussion about possibly incorporating React. However, for this

[2016-11-02 14:49] #352 closed

[2016-11-02 14:59] joofsh commented on #357
@shanear

Okay perfect, that reduces the upfront efforts.

Sounds good

Yea agreed. ERB can 100% accomplish the goals of the current MVP. We can reassess this in the future.

Good question. I'll let @lakohl answer that one 😄
This is a good question for @lakohl, but whatever the answer, it will be captured in a future story.

[2016-11-02 15:19] shanear commented on #388
Haha, we pointed this out too. This story is only for the button, not anything else. It's possible that we cut the "Next Appeal" part for exactly that reason.

[2016-11-02 15:27] orischwartz commented on #384
@shanear Sure go for it.

[2016-11-02 17:17] #346 closed

[2016-11-03 18:28] lakohl commented on #61
Closing. Duplicate issue.

[2016-11-03 18:28] #61 closed

[2016-11-03 18:29] lakohl commented on #64
@shellicious this may be a duplicate issue, if so, feel free to close.

[2016-11-03 18:42] lakohl commented on #357
(Pending research findings) I am thinking no, we do not split these out, but do label them.
@abbyraskin can you see a good reason for not merging them at this point?

Good point. I will revisit these in another story. Probably don't need the vet name and their number to both be clickable as they will lead to the same place.

[2016-11-03 19:46] amprokop commented on #350
This issue became a lot more complex than first anticipated.

Converting the model to a persisted record is a touch-and-go affair due to all the Rails magic, there were a number of errors. Also guessing at the correct schema took awhile, and figuring out what the `SERIALIZATION` stuff is in the form8 took some investigation.

There were also data model discussions. The best data model is here is a

[2016-11-03 21:11] nikitarockz opened #400 "Caseworker: EC Task: Release all tasks at Midnight"
As a Caseworker, I want to have all assigned tasks that have not been completed by midnight to be automatically released and made available for processing so that no one task item is held hostage by a given caseworker.

### Acceptance Criteria

1. Verify that for any assigned tasks that are in a state of "In Progress", it's assignment is released at midnight.

[2016-11-03 21:26] nikitarockz opened #401 "Caseworker Landing: Establish Next Claim: Retrieve incomplete task"
As a Caseworker, if I have an incomplete Establishment Claim (EC) Task assigned to me, when I click "Establish Next Claim" button it should be send me to that task instead of assigning a new task so that I can cheat the system.

### **Acceptance Criteria**

1. Verify that when the "Establish Next Claim" button on the Caseworker Landing page is clicked and there is an incomplete task assigned to me

[2016-11-03 23:53] nikitarockz opened #403 "Caseworker: Adding Cases with no decisions to Managers report"
As a Caseworker, I only want an Establishment Claim (EC) task created when an appeal has an available decision document. Otherwise continue checking for the document each day.

# Acceptance Criteria
1. Verify that an Establishment Claim Task is created only when an appeal has a decision document in VBMS.
2. Verify that when an appeal can not be associated with a decision document, the appeal is in

[2016-11-04 16:12] #354 closed

[2016-11-04 16:29] nikitarockz opened #404 "EPIC: Decision Review: Ability to review and discern a result for an appeal case"
As a Caseworker, I would like the ability to view case information and designate the next steps results for a final decision case and manage retrieval of the next item in the queue so that I start the process of dispatching an appeal case item.

**Acceptance Criteria**
- [ ] Ability to view veteran’s case information requiring the review of a final decision, such Veteran Name, Case ID, etc.  #405

[2016-11-04 16:34] nikitarockz opened #405 "Decision Review: Show Decision PDF and information"
As a Caseworker, I want to be able to view and verify the latest VBMS .pdf decision document along with pertinent veteran information that has been uploaded to VBMS so that I can determine the next steps for the appeal case.

### Acceptance Criteria
1. Verify that on the Decision Review page, the following appeal information is displayed:  Veteran Last Name, Veteran First Name, Case ID. (Refer to

[2016-11-04 16:39] nikitarockz opened #406 "Decision Review: View Veteran information and begin processing"
As a Caseworker, I want to be able view an appeal's veteran information and processing based on my review results of an End Product creation, Route to RO, or Email RO is required on the Decision Review page so that I am informed and can successfully continue processing appeal to the next appropriate step.

### Acceptance Criteria

1. Verify that on the Decision Review page, the following appeal in

[2016-11-04 17:50] shanear opened #407 "AMC Dispatch: "Managers who also are workers" flow"
Managers might need to work cases, but would they be flipping back and forth between manager view and worker view? Should there be a link to do this?

It's possible that they should just be able to pick their own cases?

Need more guidance on the actual flow & experience.

[2016-11-04 18:49] nikitarockz opened #408 "Manager Dashboard: Reports: Ability to view appeals without a decision document"
As a BVA Dispatch Manager, I would like to view a listing of all appeals the have not been able to be associated with a decision document so that I can manage and escalate the issue to a resolution as necessary.

## Acceptance Criteria
1. Verify that when navigated to the Missing Decision report page, a list of appeals missing a decision is displayed.
1. Verify that only users with "System Admin"

[2016-11-04 20:15] nikitarockz opened #409 "RO Routing: Partial Grant: Ability to manage information (location, explanation) for routing case"
As a caseworker, I want to be able manage routing information (location, explanation) for a partial grant appeal so that I can identify the Regional Office location and provide additional information to help continue the processing.

**Acceptance Criteria**

[2016-11-04 20:17] nikitarockz opened #410 "Cancel: Ability to stop processing current case"
As a Caseworker, I want to be able to Cancel out of the current case that I am working on so that it can be available to another caseworker because I am unable to complete the review for various reasons (needing to take a bio break, speak to supervisor, need more information, etc.).

**Acceptance Criteria**
1. Verify that on the Decision Review page, there is a link to with the following label:  C

[2016-11-04 20:25] nikitarockz opened #411 "RO Routing: Full Grant: Ability to manage information (location, explanation) for routing case"
As a caseworker, I want to be able manage routing information (location, explanation) for a case so that I can identify the Regional Office location and provide additional information to help continue the processing.

### Acceptance Criteria
1. Verify that there is a Destination dropdown.  (Refer to the Mockup for details.)
2. Verify that the Destination dropdown contains the following options:  T

[2016-11-04 20:26] nikitarockz opened #412 "RO Routing: Ability to route case"
As a Caseworker, I want to be able Route the Appeal to the RO that has a Special Issue so that they can continue to process the case.

**Acceptance Criteria**

1. Verify that there is a ‘Re-route Appeal to RO’ button.  (Refer to the Mockup for details)
2. Verify that when the ‘Re-route Appeal to RO’ button is clicked; the Decision Results value is set to “Re-route Appeal to RO”.
3. Verify that whe

[2016-11-05 01:04] nikitarockz opened #414 "RO Routing: Ability to return to Decision Preview page"
As a Caseworker, I want to be able to go back to the Decision Preview page so that I can review again the decision information committing to routing the case to the Regional Office.  (???Not sure if this is the real reason why.)

**Acceptance Criteria**

1. Verify that there is a “Back to preview” link.
2. Verify that when the “Back to preview” link is clicked; the Review Decision page is displaye

[2016-11-05 01:06] nikitarockz opened #415 "RO Routing: Cancel: Ability to stop processing the current case"
As a Caseworker, I want to be able to Cancel out of the current case that I am working on so that it can be available to another caseworker because I am unable to complete the RO Routing for various reasons (needing to take a bio break, speak to supervisor, need more information, etc.).

**Acceptance Criteria**

1. Verify that there is a link to with the following label:  Cancel Processing.   (???

[2016-11-05 01:08] nikitarockz opened #416 "End Product: Collect information for creating an End Product"
As a Caseworker, I want the ability to collect information relevant to an End Product so that I will be able  to generate an End Product.

**Acceptance Criteria**
1. Verify that on the Decision Review page, when the Create End Product button is clicked, the End Product page is displayed.
1. Verify that the following fields are available (refer to mockup for layout details):  Benefit Type; Payee; E

[2016-11-05 01:12] nikitarockz opened #417 "End Product: Submit: Create the End Product Integration"
As a Caseworker, I want to be able to submit information for an End Product so that VACOLS and VBMS systems can be updated.

**Acceptance Criteria**

1. Verify that on the End Product page, there is a “Submit End Product” button.
1. Verify that on the End Product page when the "Submit End Product" button is clicked, all of the collected information is integrated into VBMS.
1. Verify that on the En

[2016-11-05 01:14] nikitarockz opened #418 "End Product: Return to Decision Preview page"
As a Caseworker, I want to be able to go back to the Decision Preview page so that I can review again the decision information before committing to creating the End Product.

**Acceptance Criteria**

1. Verify that there is a “Back to preview” link.
2. Verify that when the “Back to preview” link is clicked; the Review Decision page is displayed for the current case.

### Sub-tasks
- [ ] QA Discove

[2016-11-05 01:16] nikitarockz opened #419 "End Product: Required Fields: Add required field validation"
As a Caseworker, I want to have certain fields mandatory for completing so that the minimum required fields for creating the end product has been captured.

# Acceptance Criteria
1. Verify that the following fields has the text "(Required)" next to their labels:
     - EP & Claim Label
     - Decision Date
1. Verify that after clicking on the **_Create End Product_** button and no value has been s

[2016-11-05 01:18] nikitarockz opened #420 "Confirmation: Successful: End Product: Ability to provide a completion notification"
As a Caseworker, I want to know that my work on this case has been completed successfully so that I can move on to the next case or end my work.

**Acceptance Criteria**

1. Verify that after successfully creating an End Product for an appeal (see: https://github.com/department-of-veterans-affairs/caseflow/issues/417), a Confirmation Congratulations page is displayed.
1. Verify that on the Confirm

[2016-11-05 01:20] nikitarockz opened #421 "Confirmation: Successful: Ability to retrieve the next case or not"
As a Caseworker, I want to be able to quickly move to the next case or stop working after successfully submitting an End Product so that I can continue working case or move onto other tasks.

**Acceptance Criteria**

1. Verify that after clicking on the Establish Next Claim button on the Confirmation Congratulations page, the next Establish Claim task in the queue is assigned to the current user.

[2016-11-05 01:38] nikitarockz opened #422 "Confirmation: Successful: RO Routing: Ability to provide a completion notification"
As a Caseworker, I want to know that I have successfully routed my current case, so that I can move on to the next case or end my work.

### Acceptance Criteria

1. Verify that when a RO Routing has been submitted successfully, a Confirmation “Congratulations” page is displayed.
2. Verify that when a RO Routing has been submitted successfully, the Veteran’s name, Case #, and Routing Destination is

[2016-11-05 02:26] nikitarockz opened #423 "Confirmation: Unsuccessful: End Product: Ability to provide an incompletion notification"
As a Caseworker, I want to know that my work on this case has been completed unsuccessfully so that I correct the issues and re-submit the case.

**Acceptance Criteria**

1. Verify that when an End Product has been submitted unsuccessfully, a Confirmation “Unsuccessful Submission” page/modal is displayed.  (??? Confirm title of page/modal.)
2. Verify that when an End Product has been submitted uns

[2016-11-05 02:27] nikitarockz opened #424 "Confirmation: Unsuccessful: RO Routing: Ability to provide an incompletion notification"
As a Caseworker, I want to know that I have unsuccessfully routed my current case, so that I can correct the issues and resubmit the routing.

**Acceptance Criteria**

1. Verify that when a RO Routing has been submitted unsuccessfully, a Confirmation “Unsuccessful Submission” page/modal is displayed. (??? Confirm title of page/modal.)
2. Verify that when a RO Routing has been submitted successfull

[2016-11-07 01:12] KHarshawat commented on #371
@abbyraskin great point. I'm creating an issue to review all the designs with you Lara and myself to make sure we're incorporating all of the things you've learned from conducting research.  Would you mind scheduling?

[2016-11-07 01:13] KHarshawat commented on #371
@lakohl can we close this issue now that the other issues have been created?

[2016-11-07 02:11] KHarshawat commented on #359
@lakohl is this a dupe of a story we created last sprint? If so could you please mark as such and close?

[2016-11-07 02:11] KHarshawat commented on #360
@lakohl is this a dupe of a story we created last sprint? If so could you please mark as such and close?

[2016-11-07 02:11] KHarshawat commented on #360
@lakohl can you please add appropriate mocks here?

[2016-11-07 02:11] KHarshawat commented on #359
@lakohl can you please add appropriate mocks here?

[2016-11-07 04:05] lakohl commented on #371
First draft of design has been created and coded. Closing this issue.

[2016-11-07 04:05] #371 closed

[2016-11-07 04:38] lakohl commented on #407
@abbyraskin we should discuss this on monday

[2016-11-07 14:03] abbyraskin commented on #407
@shanear @lakohl yes, let's discuss. Managers aren't processing cases day to day (ever, at least in one manager's case - scheduling follow up with second manager), but are technically trained and are expected to be capable of doing so.

[2016-11-07 14:04] abbyraskin commented on #371
(will schedule first thing this AM when I have access to your calendars again!)

[2016-11-07 14:15] abbyraskin commented on #357
@lakohl We need a decision from manager on this (as well as a follow-up with a Claims Assistant - I'm working on scheduling these). The only reason not to merge them completely is that only one employee today processes these grants, so we either need to assign these to his user ID directly, or change today's process at AMC (which, from my understanding, would require some training on the part of o

[2016-11-07 15:09] amprokop commented on #350
I'm in the final stages of implementation. Hoping to have this in review today.

[2016-11-07 15:17] shanear commented on #350
@amprokop agree on wanting to eventually kill the concept of the form8 (and the form8 table). Starting to record this data programmatically will help us figure out exactly how to do that. We can always migrate the data when that happens.

We shouldn't be afraid of quick wins, and incremental improvement, even when it's not perfect.

[2016-11-07 18:05] #378 closed

[2016-11-07 18:07] shellicious commented on #379
Draft of interview questions:

Introduction (5 min)
- Talk through goals of the interview
- Warm-up question: how are you doing? What are you working on today? Walk me through your day.

Types of cases (15 min)
- Tell me about the last case you worked on
- What other types of cases are there?
- What types of cases are difficult to certify with Caseflow?
 - What do you do if documents are missing?

[2016-11-07 18:24] joofsh opened #426 "Create Background Job to import Tasks"
Create a background job that will nightly check for full and partial grants and create establish claim tasks for them.

Prerequisites:
- [x] Manually install and associate a redis instance for dev, UAT and prod (devops task) https://github.com/department-of-veterans-affairs/appeals-deployment/issues/136
- [x] Add redis support in code to caseflow #313
- [x] Add support for background jobs to Casef

[2016-11-07 20:31] KHarshawat commented on #359
Closing as a dupe of https://github.com/department-of-veterans-affairs/caseflow-certification/issues/386

[2016-11-07 20:32] KHarshawat commented on #360
Dupe of https://github.com/department-of-veterans-affairs/caseflow-certification/issues/386

[2016-11-07 20:32] #360 closed

[2016-11-07 21:44] #388 closed

[2016-11-08 13:56] lakohl commented on #359
@KHarshawat mocks have been made for this already - we just needed to answer the research question. My understanding is that Bill does all full grants and the partial grants get divided up among the other employees (and Bill if he is done with the full grants.) @abbyraskin can you confirm?

[2016-11-08 14:06] lakohl commented on #391
[Caseflow Dispatch (AMC) 20161024.pdf](https://github.com/department-of-veterans-affairs/caseflow-certification/files/578331/Caseflow.Dispatch.AMC.20161024.pdf)

[2016-11-08 14:06] #391 closed

[2016-11-08 14:07] lakohl commented on #387
What are the items a manger would want to search on their Current/History page?

[2016-11-08 14:14] lakohl commented on #295
@shanear could you fill @shellicious in on this?

[2016-11-08 14:44] abbyraskin commented on #387
Matt mentioned he may want to search for a specific case number (veteran ID) to check status.

[2016-11-08 14:54] abbyraskin commented on #359
Yes - that is how it works today according to coaches. I am confirming with Bill today as well.

[2016-11-08 16:43] abbyraskin commented on #379
It sounds like a few specific questions came out of the Oakland RO visit. Let's probe on these if they don't come up naturally as they walk us through today's certification process:
- After certifying an appeal, do you dispatch the case? (if so, walk us through what you're doing in VACOLS or elsewhere.)
- Why do you dispatch certified appeals? What happens after you dispatch an appeal? (is it to n

[2016-11-08 16:59] shellicious commented on #379
Sounds good!

[2016-11-08 18:23] shanear commented on #295
@shellicious what do you want to know? would it be better if we chatted about this in person?

[2016-11-08 18:25] #355 closed

[2016-11-08 18:25] #357 closed

[2016-11-08 18:25] #385 closed

[2016-11-08 18:25] #386 closed

[2016-11-08 21:16] nikitarockz commented on #401
**Duplicate Issue:**  It refers to the frame that is already captured for Certification.

[2016-11-08 21:19] nikitarockz commented on #403
Duplicate:  Already captured in as a part of the certification frame.

[2016-11-09 16:49] orischwartz commented on #313
Related to #426

[2016-11-09 16:56] shellicious commented on #295
@shanear let's slack about it. I got tagged on a bunch of certification related issues, and it would be great to understand them all together.

[2016-11-09 18:12] orischwartz commented on #426
(updated root comment with links to related issues)

[2016-11-09 19:00] amprokop opened #431 "Refactoring— use DB id instead of VACOLS id for all routes"
We previously used the VACOLS id for routing, where to save the PDF file, etc. Now that we persist everything, use the certification id and form8 id

see certifications_controller.rb,   ` redirect_to certification_path(id: certification.form8.vacols_id)`

[2016-11-10 15:09] amprokop commented on #350
brought up an edge case on this today: there was previously no way to update the data from vacols once the certification has been started. so, for example, if i visit /certifications/new/123C, then close my browser, then come back in six months and visit /certifications/new/123C, even if the underlying data in vacols has changed, the data displayed in certification will be the data we fetched from

[2016-11-10 16:32] joofsh commented on #389
Completed by https://github.com/department-of-veterans-affairs/caseflow-certification/pull/427

[2016-11-10 16:33] #389 closed

[2016-11-10 19:15] nemodjuric opened #433 "Use sidekiq for background jobs processing"
Related to #426

[2016-11-10 22:44] amprokop opened #435 "Form 8: Question 10B: Pre-populate Hearing Held value"
As a Certification Caseworker, I would like to have question 10B - Hearing Held value to be pre-populated from the appeal so that it reduces errors and speeds up my ability to complete the form faster.

# Acceptance Criteria
1. Verify that when a new form is being filled out, question 10B - Hearing held has been pre-populated with the value from the appeal.

### Mockups
**_View - Question 10B_**
!

[2016-11-10 23:00] amprokop commented on #435
from @shanear

Shane Russell	[5:57 PM]
@alex its entirely possible that were just not setting the defaults correctly here

[5:57]
seems like a product of logic weve had there for over a year, when we knew the mysteries of VACOLS even more poorly than we do today

[5:58]
you're added initial vs actual will help us know for sure

[5:58]
good catch btw

[2016-11-14 15:43] shanear opened #437 "`rake db:seed` should work even when user data exists."
[code]

I am unable to run `rake db:seed` when a user is already there. This command should not error out if the user already exists and continue to create other seed data.

[2016-11-14 16:13] nikitarockz opened #438 "Caseworker Landing: Establish Next Claim: Start processing task"
As Caseworker, I would like to start working on the next claim task available in the queue so that I can begin the process of Reviewing the Decision.

### Acceptance Criteria
1.  Verify that after clicking on the Establish Next Claim button, the next available establish claim task is displayed on the Decision Review.
2.  Verify that after clicking on the Establish Next Claim button, the task is as

[2016-11-14 16:28] nikitarockz opened #439 "Caseworker Landing: Establish Claim: Rename button to Establish Next Claim"
As a Caseworker, I would like to have the button "Establish Claim" on the Caseworker Landing page renamed to "Establish Next Claim" so that the label more accurately reflects its purpose.

Acceptance Criteria

1. Verify that the button "Establish Next Claim" button has been renamed to "Establish Next Claim".

### Mockup
![439 - rename establish claim button](https://cloud.githubusercontent.com/ass

[2016-11-14 16:55] nikitarockz opened #440 "Caseworker Landing: History: Rename column and section headings"
As a Caseworker, I would like the History section and several columns renamed on the Caseworker Landing page so that they more accurately reflect their meaning.

### Acceptance Criteria

1. Verify that the "History" section label is renamed to "Work History".
2. Verify that the column "Results" in the History section is renamed to "Action".
3. Verify that the column "Date" in the History section i

[2016-11-14 17:59] joofsh opened #441 "[Dev Mode] Support way to switch current user"
While developing, we need a way to quickly switching between users.

- Create a new route & page that shows a list of users in the DB (maybe up to ~50)
- Create click action on this new page allowing you to switch to a different user.
- This functionality should be carefully restricted to dev mode only

[2016-11-14 18:57] joofsh opened #442 "Add click functionality to "Establish Claim" button"
From the employee's view of `/dispatch/establish-claim`, clicking "Establish Claim" should assign the task to the current user and redirect them to the task's show page (currently empty)

[2016-11-14 19:02] nikitarockz opened #443 "Caseworker Landing: Work History: Decision Type and Action valid values"
As a Caseworker, I would like the column "Decision Type" in on Work History section table to display specific values so that they more accurately reflect their meaning.

### Acceptance Criteria
1. Verify that on the Caseworker Landing page in the Work History section, the column **Decision Type** only displays the following valid values:  “Full Grant”, “Partial Grant”, and “Remand”.

[2016-11-14 19:38] nikitarockz commented on #438
also, like @shanear and @joofsh discussed, after the task is assigned, the user can be taken to an empty "show" page for that task.

[2016-11-14 19:52] nikitarockz commented on #366
Duplicate

[2016-11-14 19:52] #366 closed

[2016-11-14 20:17] #406 closed

[2016-11-14 20:18] nikitarockz commented on #406
Combined with 405

[2016-11-14 22:14] shellicious commented on #379
Completed! Thanks @abbyraskin @Chingujo @nikitarockz for being part of this!

[2016-11-14 22:14] #379 closed

[2016-11-15 04:21] #350 closed

[2016-11-15 16:45] joofsh commented on #442
Duplicate of #438

[2016-11-15 16:45] #442 closed

[2016-11-15 19:20] shanear opened #446 "Already Certified: Page inappropriately shows "Mismatched Documents" in Header"
On the "Already Certified" page, the header says "Mismatched Documents" in the header.

It should say "Certification"

<img width="1554" alt="screen shot 2016-11-15 at 2 19 33 pm" src="https://cloud.githubusercontent.com/assets/1596259/20320154/dddcc6e8-ab3e-11e6-8f07-97c00892dc6a.png">

[2016-11-15 20:01] joofsh commented on #437
@shanear I am able to reproduce this running `rake db:seed` with existing data in the database. However, running `rake db:setup` works properly as it first wipes the DB before seeding.

I think it is okay as is, but we could potentially make changes to the seeds file if you want to be able to run it more than once (adding more and more records to the DB)? Let me know if you want these changes othe

[2016-11-15 20:22] shanear commented on #437
@joofsh I'm thinking it'd be nice for `rake db:seed` to start by cleaning the db. But I'll defer to whatever you think is best.

[2016-11-15 21:17] #441 closed

[2016-11-15 21:35] mdbenjam commented on #439
@nikitarockz  This is currently Establish Claim not Create End Product. Do we still want it to say Establish Next Claim?

[2016-11-15 21:45] joofsh commented on #410
@nikitarockz @shanear Should we be saving their reason for cancelling out of the appeal?

[2016-11-15 21:49] joofsh commented on #405
@nikitarockz Are there designs that go with this ticket? Want to make sure it visually matches the way you & lara expect

[2016-11-16 03:07] KHarshawat opened #450 "Certification Confirmation: Correct alignment and wording"
The congratulations page contains extra information that is not needed.  Additionally, the list text is not  aligned properly.

1. Remove the Header section that contains the Appeal Type, File Type, and Representative.
1. The text below the words "Congratulations" should read as follows:  [veteran_firstname] [veteran_lastname] ([vbms_id]) case has been certified.
1. The check marked statements sho

[2016-11-16 11:49] nikitarockz commented on #439
Yes, this should be Establish Next Claim.  I will update the story to correctly reflect the current labeling.

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Mark Benjamin <notifications@github.com>
Date: 11/15/16 4:35 PM (GMT-05:00)
To: department-of-veterans-affairs/caseflow <caseflow@noreply.github.com>
Cc: Nikita De Burgo <ndeburgo@tistatech.com>, Men

[2016-11-16 11:51] nikitarockz commented on #410
That is on the agenda but it hasn't been designed out. we figured this would be a first step.

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: JD Pagano <notifications@github.com>
Date: 11/15/16 4:46 PM (GMT-05:00)
To: department-of-veterans-affairs/caseflow <caseflow@noreply.github.com>
Cc: Nikita De Burgo <ndeburgo@tistatech.com>, Mention <mention@norepl

[2016-11-16 11:57] nikitarockz commented on #405
Yes, there are designs and should be attached soon.  Sorry, we gotta he story done before designs being updated.

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: JD Pagano <notifications@github.com>
Date: 11/15/16 4:49 PM (GMT-05:00)
To: department-of-veterans-affairs/caseflow <caseflow@noreply.github.com>
Cc: Nikita De Burgo <ndeburgo@tistatech.com>, Ment

[2016-11-16 14:04] nikitarockz commented on #363
It remains assigned until midnight.  #400   I am closing this issue.

[2016-11-16 14:04] #363 closed

[2016-11-16 15:39] shanear opened #452 "Create rake task that sets up test data on staging for smoke test"

[2016-11-16 19:32] askldjd commented on #437
In the process of adding `db:setup` and `db:seed` to dev environment, I am encountering the following error in `db:seed` stage. (see also https://github.com/department-of-veterans-affairs/appeals-deployment/pull/209)

Since we are baking a clean AMI and using sqlite database as backend, there is no existing data in Caseflow.

[code]

[2016-11-16 19:49] #452 closed

[2016-11-16 20:35] shanear opened #455 "BLOCKING BUG: Certification fails on veterans with large eFolders"
Let me know if you need the vet ID.

[2016-11-16 20:47] joofsh opened #457 "Use database cleaner to speed up tests"
With this PR https://github.com/department-of-veterans-affairs/caseflow/pull/456 we now support using the database cleaner gem. This gem can be used in our testing setup to run each test in a DB transaction. This will make it easier and much faster to wipe the DB between tests. In this ticket:

- Update `spec/rails_helper.rb`, and run tests in a transaction block. See [the gem docs for examples](h

[2016-11-16 20:47] shanear opened #458 "Only expose `AppealRepository.uncertify` in non-prod environments"
`AppealRepository.uncertify` is potentially dangerous and it'd be best to only expose it in non production environments.

See discussion here: https://github.com/department-of-veterans-affairs/caseflow/pull/453#pullrequestreview-8897850

[2016-11-16 20:52] joofsh opened #459 "Clean up scenario layout in `establish_claim_spec.rb`"
The current feature tests for establish claim are non-ideal in their use of context & scenarios. For the manager feature spec, we should merge them into 1 scenario that is more human readable. See Shane's comment for more information https://github.com/department-of-veterans-affairs/caseflow/pull/445#discussion_r88236312

[2016-11-16 22:02] #438 closed

[2016-11-16 22:11] shanear commented on #455
I've committed to having this issue fixed by Nov. 28th, since it's a showstopper for her.

We need to recontact her after the issue is fixed.

[2016-11-17 00:15] joofsh commented on #392
@nikitarockz @shanear Do we have the logo asset for this ticket?

[2016-11-17 00:19] #440 closed

[2016-11-17 02:06] nikitarockz commented on #392
I am going to let Shane answer that one.  That is before my time.  :-)

On Nov 16, 2016 7:15 PM, JD Pagano <notifications@github.com> wrote:

@nikitarockz<https://github.com/nikitarockz> @shanear<https://github.com/shanear> Do we have the logo asset for this ticket?

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/department-o

[2016-11-17 04:03] shellicious commented on #281
Closing this as it covers the same problem as #295

[2016-11-17 04:04] #281 closed

[2016-11-17 04:05] shellicious commented on #380
Done! Summarized here (https://github.com/department-of-veterans-affairs/appeals-pm/blob/master/caseflow/certification/user-research/2016-11%20Findings%20from%20Workaround%20Research.md) and shared with @abbyraskin and @Chingujo on 11/15/16.

[2016-11-17 04:06] #380 closed

[2016-11-17 04:43] shellicious commented on #205
@KHarshawat, can you provide context on a. what user problem this is solving, b. about how often does this situation happen, and c. what are the negative consequences of not fixing this?

[2016-11-17 05:11] shellicious commented on #266
Closing this because it is redundant with our research into why folks are working around Caseflow, and assessing if an override is necessary.  https://github.com/department-of-veterans-affairs/caseflow/issues/382

Taking note of reasons why cases with missing docs go forward in research findings: https://github.com/department-of-veterans-affairs/appeals-pm/blob/master/caseflow/certification/user-r

[2016-11-17 05:11] #266 closed

[2016-11-17 14:00] shanear commented on #392
@KHarshawat can you add the dispatch versions of the certification logo? If there is one?

![caseflow-logo_2x](https://cloud.githubusercontent.com/assets/1596259/20391623/3af427ea-aca2-11e6-93a8-23174a53cca9.png)
![caseflow-logo](https://cloud.githubusercontent.com/assets/1596259/20391622/3af41110-aca2-11e6-8ac1-3965c1cf7dad.png)

@joofsh the dispatch logo will match the dimensions of the existing

[2016-11-17 14:52] #437 closed

[2016-11-17 15:04] astewarttistatech opened #460 "Hello World - Caseflow (QA Automation)"
Create a sample "Hello World" test in Python/Selenium to test a sample page in Caseflow Certification

Browser: Chrome
Functionality: Verify web element

[2016-11-17 15:05] #460 closed

[2016-11-17 15:22] #439 closed

[2016-11-17 16:35] orischwartz commented on #384
Closing, tracking outstanding deployment changes in https://github.com/department-of-veterans-affairs/appeals-deployment/issues/199

[2016-11-17 16:35] #384 closed

[2016-11-17 17:33] orischwartz commented on #455
Relevant log entry shows 45 second request to VBMS:

[code]

I don't see any errors in the log for this user though. Maybe the timeout is happening somewhere else in the chain. ELB and HAProxy timeouts are both 60 seconds.

[2016-11-17 18:20] shanear commented on #455
@orischwartz have you tried loading the form 8 page for this case in prod? does it work?

[2016-11-17 18:22] shanear commented on #416
All of the info required for this should be available in VACOLS. @cmgiven can help with any VACOLS related questions for this.

[2016-11-17 18:23] shanear commented on #417
I can assist with the VBMS integration required for this. I'll be working on the `connect_vbms` integration in parallel.

[2016-11-17 18:28] orischwartz commented on #455
Definitely something odd with the data in this case. Case loads in ~50 seconds but none of the fields are pre-populating correctly.

![image](https://cloud.githubusercontent.com/assets/16327036/20402160/9dcf61c8-acc9-11e6-8f75-ddeac2f31197.png)

[2016-11-17 21:33] nikitarockz opened #461 "Dispatch Header: View veteran Name and ID"
As a Caseworker, I would like to see the Veteran's name and ID on all pages for the current Establish Claim task so that I am certain as to who I am working on.

### Acceptance Criteria
1. Verify that on all Dispatch pages, the veteran's name and id is displayed in the header.

### Mockup
![461 - dispatch page header](https://cloud.githubusercontent.com/assets/23063044/20495091/b297fd96-afed-11e6-

[2016-11-17 22:10] orischwartz opened #462 "Log to stdout instead of rotating log files as part of application"
~~To be deployed in conjunction with https://github.com/department-of-veterans-affairs/ansible-common-roles/issues/17~~ Deployed

Should also remove all logic for rolling over log files in Rails.

Identical to https://github.com/department-of-veterans-affairs/caseflow-efolder/issues/190

Relevant library https://github.com/heroku/rails_stdout_logging (so small it may not be worth adding an additio

[2016-11-17 22:13] lakohl commented on #316
closing in favor of feedback form work

[2016-11-17 22:13] #316 closed

[2016-11-17 22:19] KHarshawat commented on #392
Logo attached here!

[Caseflow Dispatch Logo.svg.zip](https://github.com/department-of-veterans-affairs/caseflow/files/598615/Caseflow.Dispatch.Logo.svg.zip)

[2016-11-17 22:32] #313 closed

[2016-11-18 16:39] shanear commented on #359
Moving this to triage since it's not yet ready for development.

[2016-11-18 16:40] shanear commented on #321
@amprokop this is donsies right?

[2016-11-18 17:00] #341 closed

[2016-11-18 17:23] orischwartz opened #464 "Timing bug: Certifications that encounter a VBMS error after starting will show up as blank for 48 hours"
![image](https://cloud.githubusercontent.com/assets/16327036/20402160/9dcf61c8-acc9-11e6-8f75-ddeac2f31197.png)

This is a Certification that started but encountered an error before ever being populated. It displays as blank for [48 hours](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/certification.rb#L12).

### Example sequence

A request to `/certifications/ne

[2016-11-18 17:26] orischwartz commented on #455
I'll bump the timeouts up to 90 seconds on both ELB and HAProxy (https://github.com/department-of-veterans-affairs/appeals-deployment/issues/215) but the form was coming up blank due to a different bug, now tracking in #464.

After deleting the existing certification record, I am able to bring up the user's case # without a problem.

@shanear now so safe ask user to attempt again. Closing this iss

[2016-11-18 17:26] #455 closed

[2016-11-18 17:42] nikitarockz commented on #443
This has already been implemented.

[2016-11-18 17:42] #443 closed

[2016-11-18 17:55] amprokop commented on #464
thanks @orischwartz

[2016-11-18 18:00] amprokop opened #465 "Refactor to use DB id of certification, not VACOLS id for routes and searches"
Our routing scheme currently relies on the VACOLS id. We should instead use the certification db id.

So, instead of  `certifications/new/VACOLS_ID`, it would be `certifications/new/CERTIFICATION_DB_ID`.

 We should accompany this refactor with changes to eliminate the querying of form8s and certifications based on their vacols id.

[2016-11-18 19:16] abbyraskin commented on #359
The priority today is to process all full grants (oldest to newest), then all remands/partial grants (oldest to newest).

[2016-11-18 21:50] shanear opened #466 "Unauthorized view shouldn't be certification specific"
Right now, if you go to a page you're unauthorized for in dispatch, you get a certification related message. Probably not high priority, but we should probably make the message more generic.

<img width="1554" alt="screen shot 2016-11-18 at 4 49 51 pm" src="https://cloud.githubusercontent.com/assets/1596259/20447881/302425a0-adaf-11e6-9514-c57e3c4a409b.png">

Error Message should match eFolder una

[2016-11-18 22:03] shanear commented on #466
this is a duplicate @lakohl, do with it what you wish :robot:

[2016-11-19 21:08] askldjd opened #470 "SPIKE: Investigate way for caseflow to send email to employees"
Caseflow needs to send email to RO. The result is either a gem or a micro-service that sends email with a simple interface. This issue tracks the design and implementation details on how we solve the problem.

Below is the technical info copied from https://github.com/department-of-veterans-affairs/appeals-pm/issues/905. It will provide a good starting point.

### Setup: msmtp 1.6.5

[code]

### S

[2016-11-21 01:38] mdbenjam commented on #416
@nikitarockz the ticket describes an attached mapping document. However, I don't see one attached.

[2016-11-21 14:49] nikitarockz opened #471 "EP Creation | Create End Product | Update Integration Error Message"
As a Product Owner, I would like to have an updated error message displayed when there is an integration error while trying to create an End Product on the `EP Creation` page so that it is more meaningful and complies with consistent styling.

## Acceptance Criteria
1. Verify that after clicking on the **_Create End Product_** button and there is any integration error, the following error message

[2016-11-21 14:52] nikitarockz opened #472 "End Product: Back Preview: Save any entered information"
As a Caseworker, I would any information I entered on the End Product page to be saved when I go back to review the Decision Preview page so that I do not have to re-type the information upon return to the End Product page.

### Acceptance Criteria
1. Verify that when the “Back to preview” link is clicked; any information entered for End Product page is saved.

### Mockup
*End Product page*
![imag

[2016-11-21 14:54] nikitarockz opened #473 "Confirmation: Successful: RO Routing: Get next case"
As a Caseworker, I want to be able to quickly move to the next case or stop working after successfully submitting an End Product or RO Routing so that I can continue working case or move onto other tasks.

**Acceptance Criteria**

1. Verify that after successfully submitting an RO Routing, there is a “Next Case” button.
1. Verify that after successfully submitting an RO Routing, there is a “Back t

[2016-11-21 15:36] amprokop commented on #321
yep.

[2016-11-21 15:36] #321 closed

[2016-11-21 15:42] askldjd opened #474 "Create a Smoke Test backdoor for UAT to by bypass CSS"
Until CSS endpoints are exposed in AWS, Smoke Test can not access UAT environment. To get around this in the meantime, we need a backdoor that bypass authentication.

For more information, see https://github.com/department-of-veterans-affairs/appeals-pm/issues/999

@astewarttistatech

[2016-11-21 15:43] #377 closed

[2016-11-21 15:59] nikitarockz opened #475 "End Product: Increment Modifier value by 1 for multiple EP codes"
As a Caseworker, I would like the Modifier value to automatically be incremented by 1 whenever there is more than one EP code associated to the appeal so that it is clear that there is more than one of the EP code..

### Acceptance Criteria
1. Verify that the “Modifier” value increments by one (1) if there is more than one matching “EP & Claim Label” value.

### Notes
Retrieve previous end product

[2016-11-21 16:12] shanear commented on #273
@kavih we should look into upgrading ruby which will fix this issue.

[2016-11-21 17:02] askldjd commented on #474
Turns out we already have CSS mapped. Closing issue.

[2016-11-21 17:02] #474 closed

[2016-11-21 17:06] shellicious commented on #289
This is essentially the same issue as https://github.com/department-of-veterans-affairs/caseflow/issues/295, so I'm closing this and elaborating more on this problem in #295

[2016-11-21 17:06] #289 closed

[2016-11-21 17:09] shellicious commented on #295
This issues covers two problems:

- Form 8, question 8A needs to have a "no representative" or "none" option,  in the event that the veteran/claimant does not have a representative.
- questions 8B, 9A, and 9B should be skipped if the answer to 8A is "no rep" or "none"

[2016-11-21 17:34] shanear opened #476 "Investigate how Remands work in VACOLS and VBMS"
It's unclear what needs to happen in VACOLS for a remand to be "re-certified"

Also, do we need to re-upload a new form 8 to VBMS?

We need to figure out exactly whats going on.

See: https://github.com/department-of-veterans-affairs/appeals-pm/issues/165
for more details.

[2016-11-21 17:37] shanear commented on #476
@cmgiven do you have any insight here?

[2016-11-21 17:38] shellicious commented on #381
No longer necessary. After doing research, we learned that the override feature is not currently high priority. Learnings from research here: https://github.com/department-of-veterans-affairs/appeals-pm/issues/985

[2016-11-21 17:38] #381 closed

[2016-11-21 17:40] shellicious commented on #382
Closing! Learnings from research can be found here: https://github.com/department-of-veterans-affairs/appeals-pm/blob/master/caseflow/certification/user-research/2016-11%20Findings%20from%20Workaround%20Research.md

Next steps can be found here: https://github.com/department-of-veterans-affairs/appeals-pm/issues/985

[2016-11-21 17:40] #382 closed

[2016-11-21 17:45] shellicious opened #477 "Cancel link does not appear for a DRO"
DRO from Waco informed us that he sees a message for cancelling out of Caseflow, but does not see the link to do so. We need to investigate the cause of this, and the issue.

Screenshot attached:

![screen shot 2016-11-21 at 12 48 24 pm](https://cloud.githubusercontent.com/assets/1178390/20493977/e85d6218-afe8-11e6-8abe-e012954ecc02.png)

[2016-11-21 17:53] shellicious opened #478 "Form 8: Question skipping from Q7 to Q9"
DRO from Waco was unable to answer question 8 on Form 8, to report that a veteran had a private attorney, because form 8 skipped from Q7 to Q9. Unfortunately, he was not able to provide more detail. We should try to replicate this error. If we can't, we should close this issue, as it was only reported once.

[2016-11-21 17:57] shellicious commented on #59
@shanear @KHarshawat, do you have more context about this issue?

[2016-11-21 18:01] shanear opened #479 "Investigate if Caseflow checks the boolean behind the "VBMS/VVA" box in Caseflow"
DRO's currently need to check the "VBMS/VVA" box in VACOLS when they're certifying an appeal.

We think we might already be doing this, need to investigate.

[2016-11-21 18:03] shanear commented on #479
@cmgiven do you know the table/column behind this field in VACOLS?

[2016-11-21 18:06] cmgiven commented on #476
I do, working on this for an unrelated inquiry. Will post some notes here within the next couple days.

[2016-11-21 18:06] KHarshawat commented on #59
@shellicious Sometimes we may have  Power of Attorney on record (through VACOLS). Today Caseflow Certification shows the Representative at the top of the screen but does not allow the user to edit/change this information. We should actually add a pre-filled field with this information and allow the user to edit as necessary.

The Veteran can be represented by themselves, a private lawyer, an agent

[2016-11-21 19:08] cmgiven commented on #479
There are two.

VBMS: FOLDER.TIVBMS
VVA: FOLDER.TISUBJ2

And I knew that off the top of my head, as an indication of how VACOLS is warping my mind.

[2016-11-21 19:10] cmgiven commented on #479
Reading this, I would adjust the issue, as these are two separate checkboxes. We need to confirm that the VBMS checkbox is checked. We can leave the VVA one as is.

[2016-11-21 20:05] cmgiven commented on #476
This is the starting point. There's more digging that needs to happen here.

The updated form 8 is something that Abby is hearing about from the ROs (and we heard about in Oakland), but it does not appear that AMC bothers with this. Its absence does not prevent activation of a post-remand case.

There are two items in VACOLS that must be updated:

1. The location needs to be set to 96.
2. The mail

[2016-11-21 20:56] shellicious commented on #476
If there's more info that we need on RO workflows, I or a designer can hop on a call with an engineer and dig into this.

[2016-11-22 01:29] abbyraskin commented on #476
FYI - according to The Manual, the person recertifying the case is supposed to add annotations to the Remarks section of the Form 8. The DROs and VSRs we interviewed last week mentioned submitting a new Form 8 entirely when recertifying remands (since they can't use Caseflow on remands).
Re: AMC, it's possible the Claims Assistant we observed simply isn't the one responsible for annotating or uplo

[2016-11-22 14:01] cmgiven commented on #476
This is overloaded terms again. This "dispatch" is different than the "dispatch" on an original certification, which is of course different than the "dispatch" that our team is currently working.

The "dispatch" that doesn't affect activation is for original certifications.

In order to return a remand to the board, AMC/RO will "dispatch" it in VACOLS with the following dialog box:

![remand dispa

[2016-11-22 15:31] shanear commented on #479
@cmgiven we currently don't do anything with either of these two fields. So you're saying we should make sure the VBMS checkbox is checked before the Form 8 screen is displayed. If it is not, we should a) automatically check it and continue to show them the Form 8 screen, or b) show them an error message telling them to correct it in VACOLS?

And also that the VVA field doesn't matter.

[2016-11-22 15:33] abbyraskin commented on #476
@cmgiven is it possible to figure out the breakdown of re-certifications conducted at AMC vs. ROs? I want to make sure our research is covering both groups appropriately, as well as think more about whether we want to eventually include AMC in (re)certification if they work on the majority of remands. (cc: @shellicious)

[2016-11-22 15:37] cmgiven commented on #479
I would suggest that when we certify, we should set FOLDER.TIVBMS to 'Y'. I wouldn't do that before, like when the Form 8 is previewed, because maybe some reason that would cause someone to not proceed with the Form 8 would also be a reason to not indicate that the case is being worked in VBMS. But at the point at which Caseflow has successfully certified a thing, it should definitely be marked as

[2016-11-22 15:43] shanear commented on #476
@abbyraskin @shellicious @cmgiven  Also, do they start a re-certification in the same way in VACOLS (clicking "Certify Appeal")? because it should be opening up Caseflow if that's the case.

Or are they just reuploading a new form 8 and changing the location to 96?

[2016-11-22 15:55] cmgiven commented on #476
No, it's a different dialog, the one screenshotted above. Can't speak to the new form 8 process, but there is no "checkout to 96" option, as they do when they move cases between AMC and ROs. They have to use the dialog.

[2016-11-22 16:16] cmgiven commented on #476
@abbyraskin

In order to answer this question, let's look at each time a case (of cases decided in FY16) was moved into location 96. Each of these moves is grouped by the previous location of the case. Primarily, we're interested in cases that moved to 96 from 50 (RO) and 98 (AMC). Based on these numbers, we can say that AMC handles roughly 75% of all recertifications.

50 | 51 | 54 | 70 | 96 | 98

[2016-11-22 16:28] cmgiven commented on #476
BTW, loc 70 is court remands.

[2016-11-22 16:30] cmgiven commented on #476
R code for this answer:

[code]

[2016-11-22 16:51] nemodjuric commented on #433
Fixed by https://github.com/department-of-veterans-affairs/caseflow/pull/434

[2016-11-22 16:51] #433 closed

[2016-11-22 17:14] shanear commented on #479
@shellicious how does Chris's suggestion above sound?

[2016-11-22 17:41] shanear opened #482 "Bug: Certification Date not being updated correctly"
Certification date, which fills in 17C on the Form 8, is only being updated when the form 8 is first started. If a day passes, it won't update to that day, because `update_from_appeal` is never triggered.

Also we are experiencing an issue in prod where the certification date is just missing. This should never happen.

[2016-11-22 17:42] shellicious commented on #479
Sounds good to me @shanear and @cmgiven!

[2016-11-22 17:46] shanear opened #483 "Automatically check the VBMS Checkbox when certifying an appeal"
As a user, when I certify an appeal I would like it to automatically check the VBMS checkbox so I don't have to.

See #476 for additional information.

### Acceptance Criteria
1. Verify that when an appeal is certified, verify that the VBMS checkbox is checked in VACOLS, if it wasn't already checked.

### Tech Notes
- This is an integration story and will be validated via the VA network
- This is

[2016-11-22 17:51] orischwartz commented on #482
Missing certification date may be caused by #464

[2016-11-22 17:53] shanear commented on #479
Created https://github.com/department-of-veterans-affairs/caseflow/issues/483 for the development. Closing this guy. Thanks all!

[2016-11-22 17:53] #479 closed

[2016-11-22 18:12] shanear commented on #470
@askldjd in the interest of keeping things simple, lets make this a service in caseflow commons? That way we don't need another repo to keep track of.

[2016-11-22 19:45] shanear commented on #476
Another question here is:

If users won't be opening Caseflow Certification by overriding the "Certify Appeal" button in VACOLS (like we currently do it), what will trigger opening caseflow certifications for remands? Will there just be another work queue?

[2016-11-22 20:23] cmgiven commented on #476
We could do pretty much exactly what we did before and override the dispatch dialog. They would just have to know to start there in VACOLS, rather than first uploading an updated Form 8 to VBMS.

[2016-11-22 21:59] joofsh commented on #426
@astewarttistatech fyi I don't think this needs QA efforts. It's completely disabled atm

[2016-11-22 21:59] shanear commented on #450
@KHarshawat This diverges from the designs for the claims establishment success page. Do we want to be shooting for them being consistent?

[2016-11-22 22:06] KHarshawat commented on #450
Yes, I'd like us to make these changes in Caseflow Commons if possible but it's most relevant here.  @lakohl and I actually have a task to re-design this success message a bit so it's less awkard. Perhaps we should wait until that's completed?

[2016-11-22 22:26] shanear commented on #450
ok, backlogging this guy

[2016-11-22 23:19] shanear commented on #476
@shellicious scheduled a meeting to ask some questions of AMC and an RO on 12/1.

It's my understanding that we aren't going to try and tackle the whole Remand Order process with the certification update quite yet. Assuming that. We have some open questions about just the "re-certification" process back to the board:

Open questions:
- Are they re-uploading a Form 8. If yes, how are they doing thi

[2016-11-23 01:23] abbyraskin commented on #476
**Workflow**
- In general it would be great to develop a better high-level view of all the different people at VBA working on a remand at any given time. What are their individual responsibilities? Where do handoffs occur and how are they tracked?
- (Similar to above...) What are all the steps involved in recertification from beginning to end? Who is responsible for each part?
- How do they know w

[2016-11-23 21:07] nikitarockz commented on #405
@mdbenjam I have updated.  Sorry for the delay.

[2016-11-23 21:47] nikitarockz commented on #450
@lakohl We were looking at this congratulations page and noticed that it isn't consistent with what we currently have in Dispatch.  Can we talk about this one and make a decision which way to go?

[2016-11-28 15:22] mdbenjam commented on #405
@nikitarockz

Two questions on this ticket:
- Regarding requirement 1, is this referring to the information at the top of the page?
- Regarding requirement 4, what happens if the decision date in VACOLS is more than 1 day from the date of the uploaded document?

[2016-11-28 15:31] shanear commented on #426
@joofsh I'd like to test this out in UAT on some real data. Do we have a good way of doing that?

[2016-11-28 15:36] shanear commented on #400
@astewarttistatech @sharonwarner since dev gets reseeded on every deploy, this one might be a bit tricky to test. I'll test it tonight.

[2016-11-28 15:37] shanear commented on #401
@astewarttistatech you got this one :smile: let @sharonwarner know if you have any questions about how to test it in dev.

[2016-11-28 15:41] joofsh commented on #426
@shanear You should be able to manually trigger the background job from the UAT console `CreateEstablishClaimTasksJob.perform_now`. This would fetch any real appeals that are full/partial grants and create tasks for them. Just be aware that the side effects of testing this are:

- It will create Appeal db rows for those appeals (not a big deal imo)
- It will create new tasks EstablishClaim tasks t

[2016-11-28 15:58] shanear commented on #426
@joofsh Sounds good, i'll just run the job from the console. We will be using VBMS UAT too (that's why i say "real" data), so it's ok if we create claims there. Also I think we'll want a script to create an appeal that's ready for claims establishment, I can work on that.

For now though, we should test that it makes tasks for any appeals that are ready for Claims Establishment now on UAT.

@cmgiv

[2016-11-28 16:04] amprokop commented on #464
Investigating this now. Here's the code from `certification.rb`:

[code]

Note that we populate the form with appeal data `if form8_started_at.nil? || form8.updated_at < 48.hours.ago`. If `form8.update_from_appeal` raises an exception, then if we reload, `form8.updated_at` will be present since we've already created the form8 row, but `form8_started_at` on the certification model won't be set, sin

[2016-11-28 16:11] cmgiven commented on #426
It should find 443 remands/partial grants ready for cesting. Note that I haven't checked whether EPs exist for these in VBMS UAT, so this is just what it should find on the VACOLS side.

It shouldn't find any full grants, as UAT doesn't include anything decided within the last three days (or even the last three-ish years).

[2016-11-28 16:31] amprokop commented on #464
After discussing with @shanear, we found that the `certification.start!` logged by Sentry in these errors was an old one:
![image](https://cloud.githubusercontent.com/assets/3781835/20676470/cd55c274-b55d-11e6-8ab2-5f46d082daca.png)
The release that this bug was present in had commit hash `cfd779f`, with the latest changes checked in on oct 28th. On November 14th, I merged changes to master that s

[2016-11-28 16:31] #464 closed

[2016-11-28 17:37] nikitarockz opened #494 "Caseworker Home: Establish Next Claim: Disable button when no more claims"
As a Caseworker, I would like to have the Establish Next Claim button disabled when there are no more claims available for processing so that I don't attempt to click on the button.

### Acceptance Criteria
1. Verify that on the Caseworker Landing page, the _Establish Next Claim_ button is disabled when there are no more claims to process.
1. Verify that on the Caseworker Landing page when the _Es

[2016-11-28 17:40] #322 closed

[2016-11-28 18:01] lakohl opened #495 "File being retrieved does not show in History"
File being retrieved does not show in History. I found the following bug while conducting eX UAT tests.

[2016-11-28 18:02] lakohl commented on #495
Normally a file in the process of being retrieved should still show in the History.

I searched for Vera Marshall, then went back to home to search for a new Vet ID. The History section was still not visible on the eX homepage.
<img width="887" alt="screen shot 2016-11-28 at 12 05 44 pm" src="https://cloud.githubusercontent.com/assets/4975959/20678155/b65566aa-b563-11e6-8eda-36d1b3d36f9a.png">
<im

[2016-11-28 18:06] shanear commented on #495
@lakohl this should be `caseflow-efolder`

[2016-11-28 18:25] nikitarockz commented on #475
@abbyraskin  I know where trying to find out how this would work.  I was wondering if you got any additional information I can use to clarify this story.

[2016-11-28 18:44] mdbenjam commented on #416
Waiting for some other stories to get more feature tests before moving to validation.

[2016-11-28 19:01] lakohl commented on #495
@shanear Argh. Sorry!

[2016-11-28 20:03] shanear commented on #476
Scheduled RO interviews on Thursday afternoon

[2016-11-28 21:06] nikitarockz commented on #405
@mdbenjam  I added an 8th verification option that displays a message when there is no signed decision available.

[2016-11-28 21:13] lakohl commented on #495
Closing

[2016-11-28 21:13] #495 closed

[2016-11-28 22:35] shanear commented on #450
@KHarshawat this is also related to https://github.com/department-of-veterans-affairs/caseflow/issues/297

Can we figure out what we want here?

[2016-11-28 22:35] shanear commented on #297
closing, combining with #450

[2016-11-28 22:35] #297 closed

[2016-11-28 22:38] lakohl commented on #450
@nikitarockz let's look at this tomorrow am

[2016-11-28 22:40] KHarshawat commented on #272
Confirming that 17b should be a drop down menu with the following options:

- Decision Review Officer
- Rating Specialist
- Veterans Service Representative
- Claims Assistant
- Other

When "Other" is selected we should show a short text input box that lets the user enter a custom title. This question should still be required.

![image](https://cloud.githubusercontent.com/assets/6335546/20689046/85

[2016-11-28 22:41] KHarshawat commented on #450
@shanear @lakohl at the very least we should remove the excessive details from this page as mentioned in #297

[2016-11-28 22:43] lakohl commented on #450
Agreed. Here is the design from #297
![image](https://cloud.githubusercontent.com/assets/6335546/16694447/539d947c-4508-11e6-8c37-e8637d752ad6.png)

[2016-11-29 00:24] KHarshawat commented on #450
Hi, after looking at the above and re-creating this bug I have a much better understanding for why the text is not aligned properly and what needs to be fixed. I'd like to pair with an engineer to fix this in Caseflow Commons but the gist is as follows:

- Right now the checkmarks are listed as `span` items, not `list-style-image`. This screws up indention
- We can get the desired result when the

[2016-11-29 13:09] lakohl commented on #403
Hold on this. Abby reports that AMC is supposed to create an EP even if there is no signed decision in VBMS.

[2016-11-29 15:36] sharonwarner commented on #359
On hold til the order of tasks is confirmed.

[2016-11-29 15:51] lakohl commented on #450
@KHarshawat  based on the comments above, it's my understanding that the second line (below congratulations) should read:

I'll try to re-mock this to show that, the check marks, and copy for different versions.

[2016-11-29 16:19] KHarshawat commented on #450
@lakohl Correct!

[2016-11-29 19:41] shanear opened #501 "Feedback link should go to Caseflow Feedback"
As a user, I want to leave feedback in the Caseflow App.

### Acceptance Criteria
- Verify that when using "Caseflow Certification" you click on "Send Feedback" in the header bar it redirects to Caseflow Feedback form, configured to leave feedback for Caseflow Certification
- Verify that when using "Caseflow Dispatch" you click on "Send Feedback" in the header bar it redirects to Caseflow Feedback

[2016-11-29 19:57] mdbenjam commented on #405
@shanear @nikitarockz @lakohl @joofsh @sharonwarner @abbyraskin @cmgiven

I wanted to summarize our conversation, and propose a way forward. Please comment with any corrections or thoughts.

A single eFolder can have multiple appeals. Currently we use the decision date to correlate which VACOLS appeal this decision goes with. In some (~1% of) cases there are multiple decisions for one veteran with

[2016-11-29 20:11] lakohl commented on #405
I agree. For the MVP I would vote for solution 1.  It could be useful to build in i
a way of keeping track of these case numbers that require manual processing- both to keep tabs on the frequency of these events and to check back later to see if those cases were actually processed.

[2016-11-29 20:11] abbyraskin commented on #405
@mdbenjam my only concern with solution 1 is that this will be almost always be true. When we visited Dispatch at BVA, they were generally at least 2 days (and up to 10 days) behind on scanning/uploading. Presumably this lag varies based on workload, and we visited during a particularly low workload period. AMC, on the other hand, is often working closer to schedule (meaning: they're able to proce

[2016-11-29 20:13] mdbenjam commented on #405
@abbyraskin So does that mean they're almost always working off the document attached in VACOLS?

[2016-11-29 20:19] KHarshawat commented on #405
I think the no-decision case might be moot because we shouldn't show the users any appeals that we haven't detected a decision for in VBMS. This should be part of the queue logic.

[2016-11-29 20:19] abbyraskin commented on #405
@mdbenjam i think there's often/usually no signed decision in VBMS at the point they go to establish the EP.

i don't have exact stats on how they proceed, but there seems to be some internal disagreement about whether they're "supposed" to move ahead with processing if the signed decision has not yet been uploaded. I think some folks feel more comfortable waiting for the signed decision (a scenar

[2016-11-29 20:20] KHarshawat commented on #405
If there are multiple decisions, rather than previewing both decisions I'd recommend we show the names of both files as links and let the user click into each one to determine which is correct (or perhaps expand and collapse the preview for each potential decision)

[2016-11-29 20:26] KHarshawat commented on #450
@lakohl no need .. re-mocked and attached here:

![congrats certification](https://cloud.githubusercontent.com/assets/6335546/20727605/21e2cbbc-b648-11e6-980c-4dc9b088cba6.png)

[2016-11-29 20:26] mdbenjam commented on #405
@KHarshawat The problem with enforcing a "you cannot work on a decision until it is scanned" workflow, is that I think we will lose cases. If a decision doesn't get scanned for a month, we have no way of surfacing this to a manager. No one will know to track down this case. I think we need some flow here until we control the uploading of decisions.

[2016-11-29 20:37] KHarshawat commented on #405
@mdbenjam makes sense. I'm still comfortable with solution 1 then, even if it'll happen quite regularly at first. Basically note that the decision wasn't found in VBMS, ask the user to check the unsigned decision how they normally would (which may mean manually finding the decision from VACOLS), the proceeding to the EP creation form or re-routing form. If for some reason the decision doesn't look

[2016-11-29 20:43] shanear commented on #405
@mdbenjam we were discussing a way of automatically rechecking for decisions for 3 days (using tasks under the hood). Then, if no decision is found after that, we'd add them to a work queue that could be dealt with by an admin.

[2016-11-29 20:44] shanear commented on #405
@KHarshawat @mdbenjam An MVP could be to leave out them manual work queue for now, and just have a dumb table report of all appeals waiting for a decision.

[2016-11-29 21:03] joofsh commented on #405
We should be _very_ careful with adding escape hatches. This leads to data integrity issues and is exactly why our job implementing this feature is challenging to begin with.

Based on what @abbyraskin has said, Option 3 most closely aligns with the current process & is approved/encouraged by the AMC managers. I fail to see any value in showing the actual PDF document, especially if the VACOLS doc

[2016-11-29 21:06] nikitarockz commented on #243
@shanear What is the maximum character limit for questions 5a, 6a, and 7a?

[2016-11-29 21:09] shanear commented on #243
@nikitarockz 5A: 5500, 6A: 1000, 7A: 1000.

[2016-11-29 21:13] nikitarockz commented on #243
@shanear So, would you say that you would be able to increase the character limit for 6a & 7a to 5500 and 7000 for 5a?

[2016-11-29 21:26] shanear commented on #243
This story isn't about the character limits. It's about having the text field "grow" as you enter enough text into them.

The comment box on github actually does this 😄 . Try entering 8 newlines and youll see the text area get bigger to accomidate for them

[2016-11-29 21:29] nikitarockz commented on #243
Ok, got it.  It is just for viewing more text.

[2016-11-29 21:38] mdbenjam opened #503 "Decision Review: Cache decision document in S3"
Currently, the review page always downloads the decision from VBMS. We want to cache this file in S3 to speed up future downloads.

[2016-11-29 21:40] mdbenjam opened #504 "Unify certification and eFolder's VBMS integration"
Currently some functionality is duplicated in Certification and eFolder. Move this logic to Caseflow-Commons.

[2016-11-29 21:55] abbyraskin commented on #405
At the very least, I'd like to get a BVA attorney's legal perspective before we default to unsigned decisions.

I'm concerned we'd essentially encourage a broken business practice. There *shouldn't* be a delay between dispatching a decision and scanning/uploading the document to VBMS. AMC is using FTP as a workaround, and coaches are inclined to support this practice because it affects how they me

[2016-11-29 23:32] mdbenjam commented on #405
JD and I had another long talk about this, and we have a lot more thoughts. I'm going to try and capture it all here.

JD has me very worried about escape hatches now. The concern is that we would be responsible for tasks that are out of our control to verify. One general pattern we came up with to address this issue is forking workable vs non-workable cases. For example, in the nightly job where

[2016-11-30 14:49] astewarttistatech commented on #322
Can someone add the QA'd screenshot to this?

[2016-11-30 14:50] joofsh commented on #410
@astewarttistatech let me know if you have any questions on how to QA this
I would try to validate:
  - From landing page can click to open new Establish Claim task
  - At bottom of that page, can click cancel to return to landing page

[2016-11-30 15:54] abbyraskin commented on #475
see notes here: https://github.com/department-of-veterans-affairs/appeals-pm/issues/1004#issuecomment-262067007

in general, i would recommend showing the modifier (as an editable dropdown) only if there are actually multiples of the same EP code. for instance, if there's already a 170, the modifier will increment to 1. if there is not a second EP, hide this field. today, VBMS automatically detect

[2016-11-30 15:55] amprokop commented on #322
it's in PR #486

[2016-11-30 15:56] cmgiven commented on #342
Central issue is that the stats logic assumes that `:form8_started_at` corresponds to the date the appeal was first opened in Caseflow. This attribute is not set, however, until all documents match, so as a result, there is never a missing document as far as the stats are concerned. Two options:

1. We could use the minimum date that any document matched.
2. We could begin to log the first date a

[2016-11-30 18:00] KHarshawat commented on #494
@nikitarockz Here is the mock of what the button looks like when it is disabled. Please note that this results in a change to what the text next to the button should look like in both the active and inactive states. See the second mock below.

![establish claim disabled](https://cloud.githubusercontent.com/assets/6335546/20764592/d8528c48-b6fc-11e6-81e2-e2047867b529.png)

![establish claim enabled

[2016-11-30 18:05] lakohl commented on #494
@KHarshawat this solution looks great, thanks for doing it.

[2016-11-30 18:08] KHarshawat commented on #475
@abbyraskin Looking at this screens specifically while trying to figure out the UI: https://marvelapp.com/1fbbefd/screen/16597631

![image](https://cloud.githubusercontent.com/assets/6335546/20764818/e34b7c44-b6fd-11e6-8752-659798031441.png)

Some questions:
- If I'm understanding you correctly, we should only show this when we've detected a previous EP on the backend... is that correct?
- Should

[2016-11-30 18:25] KHarshawat commented on #405
Timeline for e-signed decisions is quite soon since they've been piloting it for several weeks now. Nicholas can chime in with more. The biggest issue is whether the e-signed decisions are actually getting uploaded to the eFolder right now. Once we work on the workflows for the teams involved (judges,co-located staff, and dispatch branch) we can guarantee that signed decisions will be uploaded pro

[2016-11-30 18:49] astewarttistatech commented on #401
Failed. Link to establish new claim takes me to a page not found page. See attached
<img width="1092" alt="screen shot 2016-11-30 at 1 47 57 pm" src="https://cloud.githubusercontent.com/assets/23038505/20766271/be55cff6-b703-11e6-8230-40a19a58a2da.png">

[2016-11-30 19:07] KHarshawat commented on #473
@nikitarockz I'm not sure this issue accuratley captures the scope of what needs to be developed or if there are more issues that need to be created.  The idea of getting to the next case is one that's independent of which confirmation message is displayed. Meanwhile there are multiple permutations of congratulations messages that could be displayed depending on what happened to the EP in earlier

[2016-11-30 19:23] KHarshawat commented on #472
@nikitarockz I don't believe this needs to be defined any further. Should we remove this label and move to triage?

[2016-11-30 19:23] nikitarockz commented on #475
1.  So, are you saying that if the case already has a modifier of 170, then the page will display 171 as the default modifier value and because this is a list the the drop down will show (170,171)?

2. When you say the drop down should be editable, do you mean that the user has the ability to to pick existing options of 170 and 171.  Or, are you saying the user can add a totally different value, i

[2016-11-30 19:24] KHarshawat commented on #471
@nikitarockz The design of this page largely depends on whether we know the cause of the error. For example, if we know that the issue is integration with VBMS we can show a message saying as much.

[2016-11-30 19:30] KHarshawat commented on #471
As a rough first pass here is a mock

![vbms integration error](https://cloud.githubusercontent.com/assets/6335546/20767748/7f4ef8c2-b709-11e6-945c-ce0a70f752de.png)

[2016-11-30 19:33] KHarshawat commented on #403
@abbyraskin assigning to you ... would you mind commenting when you find out if we should only show appeals with decisions that have been uploaded to VBMS?

Also related to https://github.com/department-of-veterans-affairs/caseflow/issues/405#issuecomment-263734810

[2016-11-30 19:34] KHarshawat commented on #408
Related to discussion in https://github.com/department-of-veterans-affairs/caseflow/issues/405

[2016-11-30 19:38] abbyraskin commented on #475
- Correct. If there's an identical EP code (just the code needs to be the same, not necessarily the label after the code) we should display this dropdown. Today, VBMS knows if there's already an EP and increments accordingly, but it also shows what is essentially duplicate info if there isn't a previous EP.
- Note: I'm not seeing any available modifiers for 172 in VBMS in UAT. Might want @shanear

[2016-11-30 19:40] KHarshawat commented on #424
What are the reasons that something could be unsuccessfully routed? If this is because of an integration issue we should show the integration error message. https://github.com/department-of-veterans-affairs/caseflow/issues/471

There are multiple success states for RO routing described in https://github.com/department-of-veterans-affairs/caseflow/issues/422

[2016-11-30 19:43] KHarshawat commented on #422
There are several different states this message can be in depending on the circumstances of the claim.

If the claim is re-routed and is a full grant we should show something like this, where the Station ID (or RO) the appeal is re-routed to is displayed in the second line.

![congrats rerouted - full grant](https://cloud.githubusercontent.com/assets/6335546/20768194/fc95696e-b70a-11e6-9f1d-65ac19

[2016-11-30 19:44] KHarshawat commented on #422
If we're logging the different actions that occur on the appeal we could simply tie the messages we display in the confirmation to the those actions.

[2016-11-30 19:44] KHarshawat commented on #422
@nikitarockz back to you to figure out what you want to do with this.

[2016-11-30 19:45] KHarshawat commented on #473
Update: I see that this covers the Rerouted confirmation message: https://github.com/department-of-veterans-affairs/caseflow/issues/422

[2016-11-30 19:45] abbyraskin commented on #475
Sorry for the lack of clarity. If the veteran's VBMS profile already has a 170 EP associated with it, the page will display the modifier 171.

@KHarshawat as I think through this more, I'm not sure if it makes sense to let them change the modifier. I'd still display it when relevant (and hide when not) but make it display text (incrementing last EP by one), rather than a dropdown.

See above. I wo

[2016-11-30 19:47] abbyraskin commented on #403
Yep. Will let you know when I have clarity.

[2016-11-30 19:48] abbyraskin commented on #405
I will loop around with Nicholas (who is traveling today) and report back.

[2016-11-30 19:57] KHarshawat commented on #412
Assigning to @lakohl since she's working on this one.

[2016-11-30 20:13] nikitarockz commented on #473
Yeah, this is one of my early ones that was not discussed or reviewed.  I was working from a list Abby had given me and I thought of the negative case of this process.  Again, at that time based on limited information this wasn't discussed.  Based on what I know now, this would be different.

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Kavi Harshawat <

[2016-11-30 21:07] joofsh opened #507 "React Loading Button"
Add a new react component that ensures double click submitting of forms is not allowed. While submit is occuring, show fancy spinner.

Can be modeled off current jQuery version

[2016-11-30 21:25] astewarttistatech commented on #401
This has failed due to it has the same response with both a "canceled" and "no work history" status on cases.

[2016-11-30 21:36] astewarttistatech commented on #410
Sounds good. This has been validated.

[2016-11-30 21:37] #410 closed

[2016-12-01 01:53] nikitarockz commented on #471
That is a good mock.  This story was a result of our last Story Time.  It was decided this needed to be separate from the main story.  We need to discuss ideas of where this is going to go.

@shanear I know you have some ideas on this.  What do you think about the direction of where this is going?

[2016-12-01 02:26] nikitarockz commented on #473
@KHarshawat You mentioned that you have the latest RO mockup.  Can you send me that link and I can add them to the RO issues.  I know there are still conversations around how the RO is going to work.  I am not sure if everything has been ironed out.

[2016-12-01 02:39] nikitarockz commented on #424
@abbyraskin  Are you able to answer some of these questions?

[2016-12-01 02:50] nikitarockz commented on #423
Replaced by #471

[2016-12-01 02:50] #423 closed

[2016-12-01 03:01] nikitarockz commented on #419
@abbyraskin  Can you help me out with what error messages and validation should for these required fields?

[2016-12-01 04:00] nikitarockz commented on #404
Moving item to PM board.

[2016-12-01 04:00] #404 closed

[2016-12-01 07:41] shellicious commented on #476
Draft of interview questions for RO interviews:

Introduction (5 min)

- Talk through goals of the interview
- Warm-up question: how are you doing? What are you working on today? Walk me through your day.
- How many cases are you currently responsible for? How many of those are remands? How many are ready to be certified?
- How many other people on your team work on remands? Where do you hand off

[2016-12-01 14:48] lakohl commented on #405
This is obvious, but I just realized that if we use the decision in VACOLS it most likely will not be a .pdf. file. Will we need to convert it into one in order to display it in Caseflow Dispatch?

[2016-12-01 15:19] abbyraskin commented on #419
I'd assume we'd use a similar error treatment as used in Certification, for example:

<img width="499" alt="screen shot 2016-12-01 at 10 18 47 am" src="https://cloud.githubusercontent.com/assets/4042181/20799247/9b05e05c-b7af-11e6-8ca8-d15a5d2f0292.png">

[2016-12-01 15:20] KHarshawat opened #508 "Create cleaner favicon for certification"
Need to create a favicon that reads well on a colored background. Consider adding a shadow or using a bg color.

[2016-12-01 15:21] KHarshawat opened #509 "Create a cleaner favicon for Caseflow"
As a Product Owner, I would like the current favicon replaced and displayed on all pages in the app so that it is consistent and shows the same favicon seen within the application.

# Acceptance Criteria
1. Verify that all pages have the new [Caseflow Favicon.ico.zip](https://github.com/department-of-veterans-affairs/caseflow/files/625532/Caseflow.Favicon.ico.zip) favicon.  (refer to mockup)

###

[2016-12-01 15:49] abbyraskin commented on #424
Right, i think it would be an integration/backend issue.

[2016-12-01 15:50] KHarshawat commented on #473
@nikitarockz @lakohl is working on those mocks. She finished them yesterday and should be sharing them today.

[2016-12-01 15:51] KHarshawat commented on #424
Got it. Then this is redundant with https://github.com/department-of-veterans-affairs/caseflow/issues/471 and we should close this issue.

[2016-12-01 15:55] lakohl commented on #473
@nikitarockz I'm going to go over the RO Routing mocks with Abby this afternoon to make sure they cover all the necessary steps & that the lang is correct then will post them.
@KHarshawat did you do an RO variation on the confirmation page yesterday? If not that's fine, I will include it.

[2016-12-01 16:02] KHarshawat commented on #405
Yeah, I'm not super keen on using the VACOLS decision. It's not desirable long term and is kind of a hack.

[2016-12-01 16:04] astewarttistatech commented on #401
Blocked until further data is created.

[2016-12-01 16:05] KHarshawat commented on #473
@lakohl I do! See below.

![congrats rerouted - full grant](https://cloud.githubusercontent.com/assets/6335546/20801135/dbbd2e6a-b7b5-11e6-9f65-10128f8693a1.png)
![congrats rerouted - partial grant or remand](https://cloud.githubusercontent.com/assets/6335546/20801136/dbc42d00-b7b5-11e6-92d9-6c23a82ce174.png)

And my latest sketch file for editing:

[Caseflow Dispatch (AMC) 20161130.zip](https://g

[2016-12-01 16:09] lakohl commented on #473
@KHarshawat Great, thanks!

[2016-12-01 18:32] shanear commented on #359
@sharonwarner for issues that are blocked like this just add the `blocked` label and keep them in progress

[2016-12-01 18:37] shanear commented on #509
@KHarshawat it's gonna be difficult to change the favicon from feature to feature. Can we have one universal caseflow favicon for now?

[2016-12-01 18:39] shanear commented on #426
There was a bug in the full_grant job. Me and @joofsh discussed. Move it on over to validation when it's ready

[2016-12-01 18:40] KHarshawat commented on #509
Yeah, I can create one.

[2016-12-01 19:04] joofsh commented on #417
example request
[code]

[2016-12-01 19:10] KHarshawat commented on #509
@shanear Please use this favicon for all Caseflow apps. I'll close the other issues.

[Caseflow Favicon.ico.zip](https://github.com/department-of-veterans-affairs/caseflow/files/625532/Caseflow.Favicon.ico.zip)

[2016-12-01 19:11] KHarshawat commented on #508
Closing as we decided to use one favicon for all caseflow apps. See https://github.com/department-of-veterans-affairs/caseflow/issues/509

[2016-12-01 19:11] #508 closed

[2016-12-01 19:11] KHarshawat commented on #415
The actions vary by page. I'll try to document for clarity here.

On the Decision Review page the cancel action should be a link and by itself

![image](https://cloud.githubusercontent.com/assets/6335546/20769546/6848a7d4-b710-11e6-9543-1f78cacb8d70.png)

On subsequent pages, the cancel action should still be a link but accompanied by actions to navigate to the previous step:

![image](https://clo

[2016-12-01 19:30] shanear commented on #392
<img width="340" alt="screen shot 2016-12-01 at 2 29 45 pm" src="https://cloud.githubusercontent.com/assets/1596259/20808998/aca625ba-b7d2-11e6-81a0-6f50455ebcfe.png">

@mdbenjam it doesn't say "Dispatch"

[2016-12-01 19:36] astewarttistatech commented on #418
Looks good. See attached.
<img width="1254" alt="screen shot 2016-12-01 at 2 34 37 pm" src="https://cloud.githubusercontent.com/assets/23038505/20809248/895be2f6-b7d3-11e6-888c-dd29199bde1f.png">

[2016-12-01 19:36] #418 closed

[2016-12-01 21:02] astewarttistatech commented on #405
@nikitarockz AC needs some changing. Let me know when finished. Thanks.

[2016-12-01 21:12] astewarttistatech commented on #461
Looks good. Please see attached. Moving to Done column.

Tested in Chrome and Firefox.
<img width="1092" alt="screen shot 2016-11-30 at 4 21 35 pm" src="https://cloud.githubusercontent.com/assets/23038505/20812803/fda5e424-b7e0-11e6-9472-0a68bad47def.png">

[2016-12-01 21:13] #426 closed

[2016-12-01 21:13] #461 closed

[2016-12-01 22:23] #501 closed

[2016-12-02 16:09] shanear commented on #476
@shellicious do you want to put your notes here?

[2016-12-02 16:26] nikitarockz commented on #405
@astewarttistatech  I updated the ACs as discussed.  Left AC#4, we just have to add data to table to validate this one.

AC Changes
- Removed the last AC regarding message for no decision found
- Removed AC referencing Email RO link (not shown in mockup)

[2016-12-02 17:10] astewarttistatech commented on #416
Looks good.

Verified on Chrome/Firefox browsers.

[2016-12-02 17:10] #416 closed

[2016-12-02 17:16] shanear commented on #476
Alrighty, big take aways:

**Re-certifying remands is a completely new feature** Recertification does not involve recreating a Form 8. They just add a small bit of text explaining new evidence to the "Remarks" question on the Form 8. Most of the time, a new SSOC was also added as part of the remand. They also add a Form 21-0960 as a receipt that new evidence was added (I may not have the wording r

[2016-12-02 18:07] shanear commented on #364
because were releasing everything at midnight, we dont need this anymore

[2016-12-02 18:11] shanear commented on #400
I missed the window on this two nights in a row. Gonna be really trick to test in Dev. Going to test in UAT.

[2016-12-02 18:15] #364 closed

[2016-12-02 18:20] lakohl commented on #359
I think we should go with what Abby says the priority is today: Full Grants first then Partial Grants /Remands. In each instance the oldest case would always be processed first.

*I can foresee one caveat: today, some employees only have the ability to process Partial Grants/Remands. If this persists, using the rule above, can we decide the kind of case they are assigned based on the employees' lo

[2016-12-02 18:40] joofsh commented on #417
Fixed in https://github.com/department-of-veterans-affairs/caseflow/pull/511

[2016-12-02 19:23] abbyraskin commented on #359
The coaches would like all employees to process any type of decision moving forward. Carolyn didn't feel comfortable distributing all full grants to a single user, even though this has been the practice historically. (If this isn't rolled out in practice, some sort of decision-type limitation based on login credentials could prove useful, but I think we're good to move forward without it for now.)

[2016-12-02 19:30] astewarttistatech commented on #420
**PASSED**

It meets the requirements but the spacing is off from the mock. Please see attached.
<img width="617" alt="screen shot 2016-12-02 at 2 27 11 pm" src="https://cloud.githubusercontent.com/assets/23038505/20847402/e4962bc2-b89b-11e6-96e7-5047294a864f.png">

[2016-12-02 19:33] #420 closed

[2016-12-02 19:36] nikitarockz commented on #405
I updated the ACs.  I move the AC referencing the +/- decision to the technical note section which at this time is more relevant there than as an acceptance criteria.

[2016-12-02 19:37] astewarttistatech commented on #405
**PASSED**

Please see attached.
<img width="579" alt="screen shot 2016-12-02 at 2 36 46 pm" src="https://cloud.githubusercontent.com/assets/23038505/20847588/ca7b219c-b89c-11e6-9b1f-13d57db64cda.png">

[2016-12-02 19:37] #405 closed

[2016-12-02 19:41] #401 closed

[2016-12-02 19:43] astewarttistatech commented on #421
**PASSED**

Please see attached.

[2016-12-02 19:45] astewarttistatech commented on #421
**PASSED**

Please see attached.

<img width="617" alt="screen shot 2016-12-02 at 2 27 11 pm" src="https://cloud.githubusercontent.com/assets/23038505/20847892/e8e8384e-b89d-11e6-881f-9d56d5a5fde1.png">

[2016-12-02 19:45] #421 closed

[2016-12-02 19:47] shanear opened #516 "Manager Dashboard: Only show in progress appeals under "Current""
As a manager, I want to see what the caseworkers I am managing are working on. This list shouldn't be long, so there is no need for a search bar.

### Acceptance criteria
- Verify that all appeals that are currently in progress are displayed in the list under "Current"
- Verify that the name of the caseworker assigned to each task is displayed in the "Worked By" column
- Verify that there is no se

[2016-12-02 20:00] shellicious commented on #476
Messy notes are here: https://github.com/department-of-veterans-affairs/caseflow/issues/476#issuecomment-264491246

@shanear let's not close this yet, since we have 2 more remand-related interviews next week with ROs, and pending remand related interviews with AMC folks as well. I'm re-opening.

[2016-12-02 21:39] shanear opened #517 "Manager's Home: Work History: No "Worked By" values being displayed"
"Worked By" column should be filled in with the User ID of the user who the task was assigned to when it was completed.

<img width="979" alt="screen shot 2016-12-02 at 7 35 36 pm" src="https://cloud.githubusercontent.com/assets/1596259/20854997/8e46ee20-b8c6-11e6-9f0d-8c5c02d1db0e.png">

### Sub-Task

- [ ] Has to occur after #516
- [ ] QA Manuel

[2016-12-02 22:16] nikitarockz opened #518 "EP Cancellation: Stop processing EP claim establishment task"
As a Casework, I would like the ability to stop processing the current task of EP establishment so that I can put it on hold to retrieve additional information, escalate it to my coach, or release it back to the queue to be processed by another Caseworker.

### Acceptance Criteria
1. Verify that after clicking on the Cancel button on the Decision Review page, the EP Cancellation page is presented

[2016-12-03 00:23] joofsh commented on #472
@shanear Did you have a preference on how this ticket is accomplished?

Do we care if the data is lost on page reload? If not, we can accomplish this by saving the form information in browser memory (via React). Otherwise we'll have to start persisting the EP form to the database.

CC @KHarshawat @nikitarockz

[2016-12-03 00:45] shanear commented on #472
@joofsh we're on the same page here. I was thinking the same thing.

[2016-12-03 02:45] shellicious commented on #476
@shanear has an excellent summary of the notes. It's too early for me to say that recertifying remands is a completely new feature. We might learn more from AMC staff about remands.

I think there is space in Certification for incorporating remands, and it's worth a whiteboarding session to figure out future Certification flows that can accommodate recertification. I don't think this is a priority

[2016-12-03 03:54] nikitarockz opened #520 "EP Cancellation: Hold: Ability temporarily stop processing current task"
As a Caseworker, I would like the ability to temporarily stop processing the current EP Establishment task so that I can obtain additional information for this task and continue processing later.

###  Acceptance Criteria
1. Verify that on the EP Cancellation page after clicking the **_Hold_** button, the "Status" value is set to "On Hold" for the current case. (Seen on Manager's Home page - Curre

[2016-12-03 03:56] nikitarockz opened #521 "EP Cancel Confirmed-Hold: Display acknowledgement of EP case being held"
As a Caseworker, I would like receive a confirmation that my current EP Establishment task has been held so that I am confident that the case will be available for me to process later.

###  Acceptance Criteria
1. Verify that on the EP Cancellation page after clicking the **_Hold_** button, the EP Cancel Confirmed- Hold page is displayed.
1. Verify that on EP Cancel Confirmed Held page, the Header

[2016-12-03 03:56] nikitarockz opened #522 "EP Cancel Confirmed-Held: Ability to retrieve the next case or not"
As a Caseworker, I want the ability to quickly move to the next case or stop working after placing the my previous case on hold so that I can continue working other cases or move onto other tasks.

## Acceptance Criteria
1. Verify that on the EP Cancel Confirmed-Held page after clicking on the **_Establish Next Claim_** button, the next Establish Claim task in the queue is assigned to the current

[2016-12-03 03:57] nikitarockz opened #523 "EP Cancellation: Establish Claim Task: Permanently stop processing current task"
As a Caseworker, I would like the ability to permanently stop processing the current EP Establishment task so that it can be worked manually and no longer available in the work queue.

#  Acceptance Criteria
1. Verify that on the EP Cancellation page after clicking the **_Cancel EP Establishment_** button, the "_Action_" value is set to "Cancelled" for the current task. (Seen on Caseworker's Home

[2016-12-03 03:58] nikitarockz opened #524 "EP Cancel Confirmed: Display acknowledgement of EP case being cancelled"
As a Caseworker, I would like receive a confirmation that my current EP Establishment task was cancelled so that I am confident that the case has returned to the queue to be processed by another Caseworker.

###  Acceptance Criteria
1. Verify that on the EP Cancellation page after clicking the **_Cancel EP Establishment_** button, the EP Cancel Confirmed page is displayed.
1. Verify that on EP Can

[2016-12-03 03:59] nikitarockz opened #525 "EP Cancel Confirmed: Ability to retrieve the next case or not"
As a Caseworker, I want the ability to quickly move to the next case or stop working after cancelling my previous case so that I can continue working other cases or move onto other tasks.

## Acceptance Criteria
1. Verify that on the EP Cancel Confirmed page after clicking on the **_Establish Next Claim_** button, the next Establish Claim task in the queue is assigned to the current user. (use sam

[2016-12-03 04:00] KHarshawat commented on #359
Yay! This makes things much easier :)

[2016-12-03 04:02] nikitarockz opened #526 "EP Cancellation: Escalate: Ability stop processing and send to Coach current task"
As a Caseworker, I would like the ability to stop processing the current EP Establishment task and sent it to my coach so that the coach can reconcile the challenge and complete the establishment process.

###  Acceptance Criteria
1. Verify that on the EP Cancellation modal after clicking the  "Send claim and explanation ...." field checkbox and the **_Cancel EP Establishment_** button, the "Actio

[2016-12-03 04:03] nikitarockz opened #527 "EP Cancel Confirmed-Escalated: Display acknowledgement of EP case being sent to coach"
As a Caseworker, I would like to receive a confirmation that my current EP Establishment task was escalated and sent it to my coach so that I am confident that the case has been sent to be processed by my coach.

###  Acceptance Criteria
1. Verify that on the EP Cancellation page after clicking the "Send claim and explanation ...." field checkbox and the **_Cancel EP Establishment_** button, the E

[2016-12-03 04:03] nikitarockz opened #528 "EP Cancel Confirmed-Escalated: Ability to retrieve the next case or not"
As a Caseworker, I want the ability to quickly move to the next case or stop working after escalating my previous case so that I can continue working other cases or move onto other tasks.

### Acceptance Criteria
1. Verify that on the EP Cancel Confirmed-Escalated page after clicking on the **_Establish Next Claim_** button, the next Establish Claim task in the queue is assigned to the current use

[2016-12-03 04:04] nikitarockz opened #529 "Caseworker Home: View held claims"
As a Caseworker, I want the ability to view all claims that I placed on hold so the I can process them at a later time.

### Acceptance Criteria
1. Verify that on the Caseworker Home page, there is a new section labeled "Held Claims".
1. Verify that in the Held Claims section, there is a table with the following columns:
   - "Veteran Name"
   - "Decision Date"
   - "Decision Type"
   - "Explanati

[2016-12-03 04:05] nikitarockz opened #530 "Casework Home: Held Claims: Establish Claim: Ability to continue working on task"
As a Caseworker, I want the ability to continue working on a claim that I have previously place on hold so that I can complete the process to Establish an EP.

### Acceptance Criteria
1. Verify that on the Caseworker Home page after clicking the "Establish Claim" link, the Decision Review page is displayed. with the selected task.
1. Verify that on the Decision Review page, the claim information f

[2016-12-03 04:05] KHarshawat commented on #472
@joofsh We also have a "Hold" functionality that's in another issue. We were thinking that "Holding" a claim would also save the data in the form so when the user goes back they woudln't have to re-enter it. I understand this could actually be a much bigger lift b/c it'd require storing EP form in the DB. If this is too much work then I'm happy to just indicate to the user that when they Hold a cl