[2019-04-30 17:23] leikkisa commented on #9623
Oh, I'm sorry I didn't think about that. The RAMP opt-in election closes all of the eligible legacy appeals for the Veteran (and opts them into RAMP).  I re-opened the legacy appeal without canceling the end product, so hopefully it works on the second time around.

[2019-04-30 17:28] pkarman opened #10609 "Do not treat "unidentified" request issues as non-comp BusinessLine"
See https://dsva.slack.com/archives/C2ZAMLK88/p1556644556118700

We should not be attempting to create BusinessLine for unidentified non-comp RequestIssues. That we get to that place in the code smells like a stricter requirement is necessary for tracking unidentified non-comp tasks.

## Acceptance

* [ ] Re-assign existing production env tasks to a real Business Line.
* [ ] Prevent automatic crea

[2019-04-30 17:29] MeredithStewart commented on #7766
@laurjpeterson -- I think we may have already implemented something for this. I think this ticket can be closed.

[2019-04-30 18:09] leikkisa commented on #10145
Update: we have delivered a list of these contentions, and Jane is planning on having a special project for DROs to collect data for them and then we'll have them backfilled in VBMS.

[2019-04-30 18:18] leikkisa commented on #5429
I wanted to add a note that in some cases, the file_number or SSN for a veteran can be used successfully for the some calls to BGS (but not all BGS calls).  The way our code is written, we try the file_number first, and if that doesn't work, we fetch the file_number by SSN.  Due to this, we may have the SSN stored as the file number for some veterans, when there is also a different file number.

[2019-04-30 18:31] leikkisa commented on #8240
I am closing these because they no longer have a nil establishment_processed_at

[2019-04-30 18:31] #8240 closed

[2019-04-30 18:36] #9802 closed

[2019-04-30 18:36] leikkisa commented on #9802
I am closing this, with the note that BGS is doing some work to fix bugs with backfilled ratings, so we will want to check in with them again at some point during our meetings to see how that goes.

[2019-04-30 18:37] #5086 closed

[2019-04-30 18:38] #5230 closed

[2019-04-30 18:38] #5135 closed

[2019-04-30 18:39] #5233 closed

[2019-04-30 18:40] #5301 closed

[2019-04-30 18:41] #6287 closed

[2019-04-30 18:42] leikkisa commented on #5788
I am closing this, there is a similar ticket in the tech improvement backlog for now. We can re-open if needed.

[2019-04-30 18:42] #5788 closed

[2019-04-30 18:44] leikkisa commented on #8952
I am closing this since Jia didn't see another instance of it, and this case was ultimately successful.

[2019-04-30 18:44] #8952 closed

[2019-04-30 18:46] MeredithStewart commented on #9400
In ticket: #9755

[2019-04-30 18:46] #9400 closed

[2019-04-30 18:47] leikkisa commented on #9218
I am closing this because we've learned that decision dates can be in the future.

[2019-04-30 18:47] #9218 closed

[2019-04-30 18:48] leikkisa commented on #10548
This work is in flight with VBMS. We will just want to validate it once it's completed.

[2019-04-30 19:19] MeredithStewart commented on #10411
@cmgiven -- You were saying something today about making sure that this accounts for withdrawn hearing requests so that they don't get distributed prematurely.  Please add that here!

[2019-04-30 20:06] laurjpeterson commented on #10009
Open questions
- What mistakes do users most commonly make?
- What data fields need to be corrected?
   - **contention dispositions?** YES
   - EP code?
   - form type?
   - benefit type?
   - claimant?
   - user?
   - station?
   - other fields?
- Assume it's just editing contention dispositions, do they want to start with all issues?
- Confirm who the users are? Veteran Service Representatives (

[2019-04-30 21:23] #9096 closed

[2019-04-30 21:23] #9103 closed

[2019-04-30 21:23] #9097 closed

[2019-04-30 21:45] shanear commented on #6169
Closing this for now. Was never confirmed as something AMO cared about.

[2019-04-30 21:45] #6169 closed

[2019-04-30 23:02] #10472 closed

[2019-04-30 23:05] shanear commented on #7026
Closing until this is brought up as an actual concern

[2019-04-30 23:05] #7026 closed

[2019-04-30 23:06] shanear commented on #7860
This was completed by https://github.com/department-of-veterans-affairs/caseflow/milestone/71

[2019-04-30 23:06] #7860 closed

[2019-04-30 23:06] lowellrex opened #10614 "Do not allow creation of mail tasks when those operations will fail"
Currently, when somebody on the mail team attempts to create a mail-related task for an appeal that can't have a mail task of that type (certain types of mail can be created for appeals even if they are no longer active at the Board and other types cannot), the front-end will make a request and the back-end [will raise an exception](https://github.com/department-of-veterans-affairs/caseflow/blob/8

[2019-04-30 23:11] lowellrex opened #10615 "Prevent MailRoutingErrors from triggering Sentry alerts"
Longer term fix is #10614, but in the short-term we can prevent `MailRoutingError`s like [this one](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4827/) by catching them in the [`TasksController`](https://github.com/department-of-veterans-affairs/caseflow/blob/8f168920a70b82899c28b4e99e2551774c1c0c64/app/controllers/tasks_controller.rb#L59) (or [`ApplicationController`](h

[2019-04-30 23:19] tomas-nava commented on #10136
closed with #10567

[2019-04-30 23:19] #10136 closed

[2019-04-30 23:35] shanear commented on #9616
@pkarman is this a duplicate? Is this already done?

[2019-04-30 23:35] shanear commented on #8191
Closing, cause we are no longer processing RAMP Refilings

[2019-04-30 23:35] #8191 closed

[2019-04-30 23:54] shanear commented on #4834
closing this since RAMP is winding down

[2019-04-30 23:54] #4834 closed

[2019-05-01 01:47] aroltsch commented on #10231
Ok, I think I got to the bottom of it. We have to add a check here to check if JudgeCaseReview is a legacy case review and only count legacy records for this particular count. https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/judge_case_review.rb#L75
AMA QR selection doesn't happens here.

In March, we marked two AMA judge case reviews to be selected for a legacy QR

[2019-05-01 14:05] pkarman commented on #9616
I think this still affects initial veteran check and RAMP since that is not done async.

[2019-05-01 15:04] hschallhorn opened #10617 "Duplicate DELETE requests sent when issues are deleted"
[Sentry Alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3617/events/315396/).

When a user deletes an issue in a checkout flow, a second delete request appears to be sent, resulting in a "cannot find issue". Have been unable to reproduce.

[2019-05-01 15:19] lowellrex opened #10619 "Use customColumns to build task table for OrganizationQueue"
In order to support of the objective of #10049 (moving task table definitions to the back-end), we will [inject the columns](https://github.com/department-of-veterans-affairs/caseflow/blob/8f168920a70b82899c28b4e99e2551774c1c0c64/client/app/queue/components/TaskTable.jsx#L320) we want the table to display in `OrganizationQueue` instead of [setting properties](https://github.com/department-of-veter

[2019-05-01 15:24] aroltsch commented on #10323
1. "Notify OGC of Pulac-Cerullo" action should be available when a task is assigned to a litigation support organization and is one of this type:
* ClearAndUnmistakeableErrorMailTask
* ReconsiderationMotionMailTask
* VacateMotionMailTask
1. When a motions attorney selects the action, we should create a new task with the same type and assign it to the pulac-cerullo organization which means we have

[2019-05-01 15:31] lowellrex opened #10620 "Build OrganizationQueue from static configuration"
As the final step before we send the configuration from the back-end to the front-end in #10049, let's use a config in [`OrganizationQueue` itself](https://github.com/department-of-veterans-affairs/caseflow/blob/8f168920a70b82899c28b4e99e2551774c1c0c64/client/app/queue/OrganizationQueue.jsx#L36) to describe the set of tables we want to display in tabs.

Work in this direction was started in [a WIP

[2019-05-01 16:18] shanear commented on #8953
We should probably check if this error still occurs

[2019-05-01 16:50] pkarman commented on #10355
Some research on our FACOLS Docker setup:

* we use a distributed base image in the Docker store from Oracle based on version 12.2.0.1-enterprise. There isn't an available source Dockerfile for this that I can find, and the current GH project explicitly says it is old and not maintained. https://github.com/oracle/docker-images/issues/967
* The bug we are seeing with "Waiting for FACOLS" step at CI

[2019-05-01 17:27] monfresh opened #10621 "Checking Hearing Prepped and filling out other info in worksheet reverts prepped attribute"
In this spec: https://github.com/department-of-veterans-affairs/caseflow/blob/master/spec/feature/hearing_prep/hearing_worksheet_spec.rb#L121-L133

If you also check the "Hearing Prepped" checkbox, the Hearing's `prepped` attribute will be set to `nil`. This is because when you click the "Hearing Prepped" checkbox, a PATCH request is made to `HearingsController` with the only parameter being `prep

[2019-05-01 17:40] cmgiven commented on #10411
Yup! This is great, because it should make that additional feature pretty simple to add. We might want to bounce this out to another issue.

When a hearing request is withdrawn, the appeal should remain on the Hearings docket, and should not be assigned a DistributionTask. This is because Hearing docket appeals are distributed as soon as they are ready, and that would allow the appeal to short-cir

[2019-05-01 17:43] laurjpeterson commented on #8693
@allyceh - based on your work with BVA dispatchers, do you have a suggestion for what this task is called? I have "Correct decision data" but maybe it should be more broad?

[2019-05-01 17:58] allyceh commented on #8693
Assuming this task would be judge facing // appear in the judges queue, how about "Revise decision (BVA Dispatch)"? In our refreshed task naming ticket https://github.com/department-of-veterans-affairs/caseflow/issues/7508 , I proposed "Revise decision (quality review)" for when member of the QR team need judges to make a change. This task name would follow the same schema.

For the action availab

[2019-05-01 17:59] laurjpeterson commented on #8693
I love it!

[2019-05-01 18:17] lomky commented on #8693
Should this task then be able to have a corresponding Attorney subtask, or do Judges handle this directly?

[2019-05-01 19:32] mc-usds opened #10625 "Sentry NoMethodError error with Appeal Status"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4642/

[2019-05-01 19:46] lowellrex commented on #10619
LARGE. Ensure we have adequate test coverage. Whoever picks this ticket up should be aggressive about quickly reaching out for context/patterns on front-end code to @lowellrex and others.

[2019-05-01 19:50] lowellrex commented on #10620
SMALL. Should not need to write new tests because it should not change front-end behaviour.

[2019-05-01 19:55] lowellrex commented on #10575
SMALL. Does not apply to judges because they do not have "on hold" tabs.

[2019-05-01 19:56] lowellrex commented on #10601
SMALL.

[2019-05-01 20:01] lowellrex commented on #8408
LARGE. Be on the lookout for opportunities to break this up into smaller PRs as you get into working on it.

[2019-05-01 20:09] lowellrex commented on #9781
Limit this to a MEDIUM amount of effort. Ticket is to draft a tech spec for an engineering solution to this problem.

## Additional questions to answer:
* Do we need to communicate to judges and attorneys that cases were scheduled and taken off their set of cases to be decided?
* Do we need to add an option to send "schedule hearing" `ColocatedTask`s to the hearings management branch? Or does that

[2019-05-01 20:15] lowellrex commented on #8693
MEDIUM. Make sure we have adequate test coverage here since this is a new workflow in Queue for BVA Dispatchers. Will need to create a new task class (something like `JudgeDispatchReturnTask`) a la `JudgeQualityReviewTask`.

[2019-05-01 20:18] youngfreezyVA commented on #10323
also, 5. UI confirmation modal when selecting the "Notify OGC of Pulac-Cerullo" option and 6. verifying access to the `pulac-curello` url

[2019-05-01 20:21] lowellrex commented on #10551
MEDIUM for a tech spec.

[2019-05-01 20:27] lowellrex commented on #10615
SMALL.

[2019-05-01 20:29] lowellrex commented on #10614
MEDIUM.

[2019-05-01 20:34] ferristseng commented on #10387
@lomaxap and I took a look into this, and found that the hearings facility locator was returning a `200` status code, but a multiple address error in the `messages` field. The response still contained the lat/long for the address, but it looked like it was being set to a default value of (0.0, 0.0). That geocode was being used to find the nearby hearing locations, causing the distances to be incor

[2019-05-01 20:53] lowellrex commented on #8693
Yup! I think that makes sense!

[2019-05-01 21:02] laurjpeterson commented on #7637
Closing, because this will be pursued by reporting and Tableau

[2019-05-01 21:02] #7637 closed

[2019-05-01 23:28] lomaxap opened #10630 "Duplicate Schedule/Hearing Tasks"
https://github.com/department-of-veterans-affairs/appeals-support/issues/5128

**Root Cause**
When a ColocatedTask is closed, [it can create a new Schedule/Hearing Task](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/tasks/colocated_task.rb#L136). There is a known issue (#10337) where duplicate ColocatedTasks are being created, which produces duplicate Schedule/H

[2019-05-01 23:48] carolaponce commented on #10009
https://github.com/department-of-veterans-affairs/appeals-design-research/issues/962#issuecomment-442667194

[2019-05-02 00:02] leikkisa commented on #10233
I confirmed Sandra's findings, and it was due to the way "or" was being used in the query, PR out to fix.

[2019-05-02 00:13] leikkisa commented on #10173
I am going ahead and closing this - see comment above.

[2019-05-02 00:13] #10173 closed

[2019-05-02 00:17] leikkisa commented on #9795
I learned during a BGS/VBMS meeting that users cannot update the phone number themselves, so we won't be able to validate this.  Data clean up is being led by a person named Jack Goldberg.  I've heard that they've merged all instances where the multiple phone numbers matched each other. If they didn't match, but were valid, they picked the newest phone number. The remaining cases have invalid phon

[2019-05-02 00:17] #9795 closed

[2019-05-02 00:24] leikkisa commented on #10529
Validated for an Appeal and an education Higher Level Review:
![Screen Shot 2019-05-01 at 5.23.15 PM.png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/774308b8-7af9-4f22-bb0a-1f268b108bc9)

[2019-05-02 00:24] #10529 closed

[2019-05-02 00:27] leikkisa commented on #9986
Passes in UAT:
![Screen Shot 2019-05-01 at 5.27.13 PM.png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/6b931c73-4787-4f63-bc4e-94ac5ac774f5)

[2019-05-02 00:27] #9986 closed

[2019-05-02 00:29] leikkisa commented on #9988
Validated in UAT:
Could use some space below it though.

![Screen Shot 2019-05-01 at 5.29.13 PM.png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/ba9b66ff-0c37-4265-9393-e50f1a55623c)

[2019-05-02 00:38] leikkisa commented on #10421
Validated in UAT:
![Screen Shot 2019-05-01 at 5.37.32 PM.png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/ec3bfe09-d1c0-4e3b-80ba-8571315ccf3d)

[2019-05-02 00:38] #10421 closed

[2019-05-02 11:38] pshahVA commented on #10630
Thanks Andrew. So how do I proceed?

[2019-05-02 13:22] #7766 closed

[2019-05-02 13:29] hschallhorn opened #10632 "TypeError thrown when validation for AssignWidget fails on submit"
[Sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4470/events/316497/).

### Problem
`QueueFlowModal` expects to receive a [`submit()` function that returns a promise](https://github.com/department-of-veterans-affairs/caseflow/blob/8f168920a70b82899c28b4e99e2551774c1c0c64/client/app/queue/components/QueueFlowModal.jsx#L44) from the component it wraps. In the ca

[2019-05-02 13:33] laurjpeterson commented on #9527
Update: Brad Hennings will be in DC, at BVA, on Wednesday, May 29 or Thursday, May 30. Jennifer would like us to give him a demo of queue functionality (being able to see his AMA cases in Caseflow queue) that day. I think this gives us enough time, but would like @lowellrex to weigh in.

[2019-05-02 14:11] #10558 closed

[2019-05-02 17:00] lomaxap commented on #7507
Keys for Vet360 validate responses:

Message Key | Message Code | Description/More Info
-- | -- | --
AddressCouldNotBeCorrected | ADDRVAL109 | The Address could not be corrected
AddressCouldNotBeFound | ADDRVAL112 | The Address could not be found
AddressValidationServiceError | ADDRVAL104 | Vet360 Address Validation Service Error
DualAddressError | ADDRVAL111 | This dual address is not in the prop

[2019-05-02 18:13] aroltsch commented on #10235
Closing in favor of this PR https://github.com/department-of-veterans-affairs/ruby-bgs/pull/77

[2019-05-02 18:13] #10235 closed

[2019-05-02 18:19] #8773 closed

[2019-05-02 18:19] leikkisa commented on #8773
This is a tech improvement ticket, so we can't really validate it. Closing.

[2019-05-02 18:34] #10353 closed

[2019-05-02 18:57] leikkisa commented on #10511
BGS does not have any ratings before 5/3/2003.  If a rating is before that, then a Rater needs to backfill it in a system.

We should try to talk to Jan Ostrum to get more information about this process (like which system this happens in).

If a rating is backfilled/converted, currently those are not returned to us.  BGS could return those to us with permission from Comp Services, but we have been

[2019-05-02 19:01] #8764 closed

[2019-05-02 19:16] #9282 closed

[2019-05-02 19:47] allyceh commented on #8915
@laurjpeterson Do you think that we still want to implement this, or should I close the ticket?

It's not super timely anymore, but I also imagine that it could be helpful for new judges at the Board. Or, to clarify any current misunderstanding about the algorithm.

[2019-05-02 19:52] allyceh commented on #7929
Based on a conversation with @laurjpeterson and @sneha-pai , we determined this is "ready for dev" and does not require additional design investigation at this point. It would be a quick win and improvement for judges and attorneys.

An engineer can add these checkboxes to the attorney evaluation page.

[2019-05-02 19:53] lomaxap commented on #10505
potentially related bug: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4850/

[2019-05-02 20:15] carolaponce commented on #10009
@laurjpeterson and all.  As I'm preparing to talk to users, I have drafted a few questions.  Feel free to provide any feedback you have. I'm trying to understand the process better.

-  How do users create a 930EP?
What does that process look like? (This questions will most likely be answered when talking to users)

-  About the note - _What are examples of “other metrics” for decisions that can b

[2019-05-02 20:36] laurjpeterson commented on #10009
Emailed Jane 5/2.

@carolaponce - your questions look great! a few comments below.

- I think this is a good question for Nate, Jane, or Mike, but not for users. It may also be a question for VBA's reporting team, PA&I.

- I like this question, and I think it's something that we would suggest after digging a bit further into this. Based on how users create EP 930s today, and the flow of how they'd

[2019-05-02 20:40] sharonwarner commented on #10304
Dup of existing ticket.

[2019-05-02 20:44] sharonwarner commented on #10352
Captured here: https://github.com/department-of-veterans-affairs/caseflow/issues/10018

[2019-05-02 20:44] #10352 closed

[2019-05-02 20:50] kevmo commented on #10002
Re "tasks that are in a bad state" - https://github.com/department-of-veterans-affairs/caseflow/issues/10304

[2019-05-02 20:50] sharonwarner commented on #10557
Fixed in separate PR.

[2019-05-02 20:50] #10557 closed

[2019-05-02 20:53] #10304 closed

[2019-05-02 20:53] sharonwarner commented on #10563
This will need more design work.

Our current judge logic displays all hearing days assigned to a judge and all hearing days with individual hearings assigned to a judge. The frontend filters won't display hearing days with individual hearings assigned to a judge. We'll need a different link to go between the two views.

[2019-05-02 21:12] sharonwarner opened #10639 "Remove VACOLS hearing day integrations"

[2019-05-02 21:13] sharonwarner opened #10640 "Remove hearing prep!"

[2019-05-02 21:18] lomaxap opened #10641 "Tasks aren't Updated Completely in Redux when Navigating via CaseDetailsTable"
Issues and tasks do not appear to be updating completely when navigating between cases on the case details page

### steps to reproduce
- go to https://appeals.cf.ds.va.gov/queue/appeals/7614ba3e-f527-4979-a73d-a24a87fe9e1e
- click `view all cases` > `180917-347` and note the tasks in the case timeline
- reload page and see difference in tasks

[2019-05-02 22:13] #10523 closed

[2019-05-02 22:13] leikkisa commented on #10523
I'm seeing a couple of recent examples of this for a Supplemental Claim, but no more for RAMP (this fix is specifically for RAMP), and I don't see how we would validate this otherwise. So I'm closing this for now, and if it comes up again we can re-open.

[2019-05-02 22:30] #10212 closed

[2019-05-03 00:30] #10393 closed

[2019-05-03 02:00] #10231 closed

[2019-05-03 04:17] Sjones352 commented on #9623
Nope I still get the same error. We might need to work through this one together.

[2019-05-03 14:32] ShellySmithDSVA commented on #10563
@Chingujo and @pshahVA will be working on updating this.

[2019-05-03 14:33] lomaxap opened #10643 "Investigate Legacy Hearings with No Associations"
[code]
reveals 35 legacy hearings with no associations (data commented below)

---
if
[code]
we may be able to safely associate the hearing with the unassociated hearing task

---
if
[code]
We may need to create new hearing task trees. We'll also need some way to determine which trees are stale and which should be the latest state of the appeal

---
This still doesn't answer the question around ho

[2019-05-03 14:33] lomaxap commented on #10643
[code]

[2019-05-03 14:43] pkarman opened #10644 "Consistent use of FactoryBot"
See e.g. #10604

Our codebase has been inconsistent about how we set up fixture data in specs. The preferred way is to use the FactoryBot factories with `create()` or `build()`. In some cases we might need to create new factories.

[2019-05-03 15:03] pkarman opened #10645 "Security alert for node tar"
https://github.com/department-of-veterans-affairs/caseflow/network/alert/client/yarn.lock/tar/open

[2019-05-03 15:04] #10556 closed

[2019-05-03 15:25] #10625 closed

[2019-05-03 15:34] allyceh commented on #10323
@youngfreezyVA @aroltsch and @sneha-pai , I added two mocks to the ticket to round out this flow. I also updated the AC.

Sneha, if you have feedback on copy for the confirmation modal or banner, feel free to leave it in the ticket.

[2019-05-03 16:47] sharonwarner commented on #8657
The IHP tasks and VACOLS location logic runs by default from the hearing task when its children tasks are closed. I submitted a PR above to add the instructions to the created no show hearing task.

[2019-05-03 16:55] #963 closed

[2019-05-03 16:56] sharonwarner commented on #963
Closed because it seems like nobody objected when Nick said he was going to close it.

[2019-05-03 17:00] #5968 closed

[2019-05-03 17:24] #8657 closed

[2019-05-03 18:03] leikkisa commented on #10070
@Sjones352 I think after re-reading this, we need the rating that is now locked to be one of the ratings that a user added to an intake (so at the time it wasn't locked), and then lock the rating, and then try to edit it.

I think we'll need to enlist Colin's help on this one. Let's first try to find a Decision Review that has a rating issue on it, and then ask Colin if he can "Lock" that specific

[2019-05-03 18:12] lomky commented on #10645
[Status](https://dsva.slack.com/archives/C2ZAMLK88/p1556906835212400?thread_ts=1556895841.198400&cid=C2ZAMLK88)

[2019-05-03 18:38] Sjones352 commented on #10070
I have created an Ep on this file`700032062` and added a rating. Asking Colin to lock it so that I can try it again

![Screen Shot 2019-05-03 at 2.36.31 PM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/3844937c-be09-4bdb-8dbf-70e314707af5)

[2019-05-03 21:52] laurjpeterson commented on #8915
I think we still should. I agree that it's not the most timely, but I think we should definitely do it when we get some time!

[2019-05-03 22:02] leikkisa opened #10649 "Update messaging for multiple phone number error"
Currently if a Veteran has multiple phone numbers due to records being merged, the user gets a message instructing them to update the phone number in VBMS.  However, we've learned that they do not have the ability to do so. We should update the messaging to indicate that they should try again later.

Related PRs: https://github.com/department-of-veterans-affairs/caseflow/pull/9662

Some other work

[2019-05-03 22:48] laurjpeterson commented on #9527
Noting so I don't forget - Geoffrey got a list of 157 Private Attorneys with VBMS access. I'm surprised it's so few - I think there will likely be more than that who eventually use Caseflow.

[2019-05-06 12:41] lowellrex commented on #7556
## Victoire sprint (6-19 May) engineering priorities

@kevmo @lomky @hschallhorn, below are tickets that we will be working on related to this sprint's [higher-level priorities](https://dsva.slack.com/archives/C54QCEHAL/p1554306905023400).

### 1. Queue table view
1. ⭐ Use customColumns to build task table for OrganizationQueue #10619
1. ⭐ Build OrganizationQueue from static configuration #10620
1

[2019-05-06 13:37] lowellrex commented on #9527
I think that gives us enough time to build this feature but we still need to figure out if the private bar access will be at the organization (private firm) or individual level (single attorney). It looks like it is happening at the organization level, but I think [we wanted to confirm that](https://github.com/department-of-veterans-affairs/caseflow/issues/9527#issuecomment-486762760).

[2019-05-06 13:59] #10319 closed

[2019-05-06 14:45] #8169 closed

[2019-05-06 15:15] #10368 closed

[2019-05-06 17:11] nicholasholtz commented on #9901
@sharonwarner @pshahVA

This is an example of a docket where the times are way off. I note that this is legacy. Are these cases that were scheduled through Caseflow? Is there a way to know?

https://appeals.cf.ds.va.gov/hearings/schedule/docket/282

(cc @lomaxap @laurjpeterson )

[2019-05-06 17:16] nicholasholtz commented on #9901
Another example - https://appeals.cf.ds.va.gov/hearings/schedule/docket/282

[2019-05-06 17:43] sharonwarner commented on #9901
@nicholasholtz anything scheduled on a caseflow hearing day (after 4/1 for video and 1/1 for co) had to have been scheduled for caseflow, so the docket you linked to above was definitely scheduled through caseflow.

[2019-05-06 17:51] laurjpeterson opened #10655 "Discussion: Foxtrot team"
Since December 2018/January 2019, Foxtrot has split into two sub teams - Queue and Decisions. The Queue and Decisions teams have been together for some sprint rituals and separate for some others. Starting this sprint (5/6 - 5/17), Team Sierra has joined the Decisions team.

How should we organize first day of sprint meetings moving forward?

## What is sprint kickoff?
Goals:
* Context sharing abo

[2019-05-06 17:57] nicholasholtz commented on #9901
Ah, of course. Thanks.

[2019-05-06 18:05] pkarman commented on #10255
I don't think this is a problem with the `User` logic. I think that's just the first place Caseflow needs a db connection on any given request cycle so it's the place the problem shows itself.

The real problem is likely how long other queries are taking that they exhaust the number of available db connections. I will research.

[2019-05-06 18:14] leikkisa commented on #10511
My proposal is:

Have a place in the UI for a user to enter the information about the rating that is missing, including the decision text and date.  Have it added as a rated issue that is not associated to a rating.  We may want to use the Unidentified issue modal for this.  It seems to me that users would never use this modal for unidentified nonrating issues, since they can just use the nonratin

[2019-05-06 18:32] pkarman commented on #10655
+1 for proposal 1. I think separate teams should have independent sprint rituals.

[2019-05-06 18:34] youngfreezyVA opened #10657 "503 server at capacity - Reader"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2991/
this happened to this one user multiple times on 5/6/2019, it is logged as one sentry issue however (#2991).

[2019-05-06 18:35] leikkisa opened #10658 "Remove feature flag for remove decision reviews."
Once this is ready and approved by AMO and we know which users are relevant, remove or turn on the remove_decision_reviews feature flag.

dependency: https://github.com/department-of-veterans-affairs/caseflow/issues/10546

AMO gave us the date of June 9th.

Technical notes
Remove feature flag in code, keep tests for "remove decision reviews"
Remove feature flag here:
appeals-deployment/ansible/var

[2019-05-06 18:39] leikkisa opened #10659 "Turn on withdraw_decision_review feature flag"
Turn on the withdraw_decision_review feature flag.
Also turn on the remove_decision_reviews feature flag.

Per the requirements in https://github.com/department-of-veterans-affairs/caseflow/issues/9178
Do not remove the feature flag altogether, because we need the ability to turn this feature on for specific users.

Jane Chi from AMO has requested that we wait on this until June 9th.

### Technica

[2019-05-06 18:47] youngfreezyVA opened #10661 "ensure there is a selected doc before reading the type property - pdf reader"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3011/
TypeError: Cannot read property 'type' of undefined
[code]

[2019-05-06 18:50] #9755 closed

[2019-05-06 19:09] pkarman opened #10662 "NoMethodError on find_or_create_decision_issue"
`undefined method "disposition" for nil:NilClass`

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4841/events/322074/

## Notes
- This is probably generated from a background job when connecting request issues and decision issues. Once a day, we check for rating issues with dispositions that have been created so we can close the loop on that decision review. (If it ends wi

[2019-05-06 19:16] youngfreezyVA opened #10663 "null safe checks in error handling - Reader"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3016/ ✅
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4927/

I think what's happening in sentry issue 4927 above is the SET_DOC_SCROLL_POSITION is not defined since there is no throttle on the scroll, so redux can't read the type on that action.  this redux action gets called _every single time_  the

[2019-05-06 19:17] youngfreezyVA opened #10664 "Reader errors related to mark-as-read endpoint at capacity"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3020/
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2948/
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4834/

## Notes
- We think this is a javascript problem and that it's potentially user visible

[2019-05-06 19:20] #8071 closed

[2019-05-06 19:20] youngfreezyVA opened #10665 "VBMS Reader Errors"
Some of the errors being thrown by VBMS:

- VBMSError::DocumentTooBig
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4396/

- VBMSError::Security
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5132/

- VBMSError::FilenumberDoesNotExist
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4748/
https://sentry.ds.va.gov/department-

[2019-05-06 19:35] pkarman commented on #10665
Depending on what more investigation turns up, some of these could be ignored in Sentry so that we don't see slack alerts any more. Not sure if any of these are actionable.

[2019-05-06 19:57] youngfreezyVA opened #10667 "queue - null safe check in error handling in case list"
check that `error.response` exists before reading the `body` property.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4114/

[2019-05-06 20:25] #9620 closed

[2019-05-06 20:25] #9622 closed

[2019-05-06 20:30] youngfreezyVA opened #10669 "Reader - errors being thrown by PDF JS (node_modules/dependency)"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2142/

[2019-05-06 20:39] allyceh commented on #9382
Note for the team: While onsite at the Columbia RO today, the Booz Allen team showed me POA history field in VBMS. Everytime POA is changed, VBMS displays the date, time, and user who changed it.

I am not sure if this is a VBMS attribute that we'd want to pull in Caseflow? Or, just track POA tasks that happen at BVA? The data is there now if we want to investigate.

[2019-05-06 21:05] laurjpeterson commented on #9382
Yes yes we definitely should! Could you find the API details or a contact person that an engineer on our side can work with? This might be new data that VBMS is now surfacing.

[2019-05-06 21:49] pkarman commented on #10255
Some stats for Caseflow

* we have average of 150 db connections daily to our db master
* 50 connections from each of 3 instances
* 30 connections from shoryuken (Rails worker), 20 from puma (Rails web)
* max db connections is 800+ configured on the server
* last modified https://github.com/department-of-veterans-affairs/appeals-deployment/commit/85f90013aef36af342e6644de0715eb15242aafa#diff-7bdaf

[2019-05-06 21:51] youngfreezyVA opened #10671 "Not enough space for this operation - Reader"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4730/
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2137/
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2991/

[2019-05-06 23:31] leikkisa opened #10672 "Correct Appeal disposition"
Relevant Slack thread:
https://dsva.slack.com/archives/CFBLH2LR4/p1555683903011600

There was an Appeal issue that was incorrectly given the disposition of "allowed" when it should have been "remanded".  This got effectuated, and the other remanded issues got put onto a remand supplemental claim (without the issue that erroneously got "allowed").

To fix this, the following steps were performed:

[2019-05-06 23:33] #10672 closed

[2019-05-07 14:22] laurjpeterson commented on #9999
@cmgiven - @monfresh and i connected yesterday about this gh issue. he mentioned that in order to determine whether or not a judge is active, we thought we would check when they last logged in. If they haven’t logged in in the past 60 days, they would be considered inactive.

for legacy auto-case distribution, i think we determine whether a judge is active through the VACOLS staff table.

(1) shou

[2019-05-07 14:28] cmgiven commented on #9999
This doesn't apply to legacy case distribution. There, the case is tied to the judge, regardless of whether the judge is active or inactive, until the Veteran waives that right or is provided a hearing with a different judge.

I don't think that (2) is a problem. If a judge is taking more than 60 days of leave, I would argue that the case _should_ be assigned to a different judge who can decide it

[2019-05-07 14:31] laurjpeterson commented on #9999
@sharonwarner - to distribute hearings cases, for hearings that have been held, we need to wait for (1) the 90 day evidence window to be complete and (2) the transcription to be complete. could you link to the PRs where tango team implemented the transcription task functionality? i think @monfresh will need it to complete work around distributing hearing docket appeals (note: i realize this could

[2019-05-07 14:36] cmgiven commented on #9999
@laurjpeterson: I believe we don't create the DistributionTask until the evidence window and transcription are complete. That's at least how it works on the New Evidence docket. As a result, those cases don't appear as "ready" for case distribution purposes.

[2019-05-07 14:45] #10387 closed

[2019-05-07 14:48] laurjpeterson commented on #9999
@cmgiven - amazing. thanks for reminding me of that! however, New Evidence docket wouldn't have a TranscriptionTask. do we need to add it in for these hearing docket appeals?

[2019-05-07 14:52] cmgiven commented on #9999
That's the limit of my knowledge. I think it was built out, but I defer to you, @sharonwarner!

[2019-05-07 15:55] laurjpeterson commented on #10655
After talking with @lowellrex and @aroltsch - it sounds like they're both down with proposal 1.

And further, here's what's proposed for sprint rituals:
1. separate sprint kick offs
2. separate sprint estimations (lowell's team does them right now, have not discussed anya's team doing them)
3. shared standups
4. shared retros

lowell and anya suggested to experiment with how this feels this sprint

[2019-05-07 16:31] leikkisa opened #10677 "Add reporting for withdrawn and removed claims"
For a claim-level withdrawal status, if there was at least one issue withdrawn, and every other issue was withdrawn or removed, we'd consider it withdrawn.  If every issue was removed, we'd consider the claim removed.

If there is at least one issue that was not withdrawn or removed, then it would be neither.  This would happen if an issue is not yet closed, or is closed for any of these other rea

[2019-05-07 16:33] leikkisa commented on #10677
Andrew Lomax, Nemo or Sunil can help with Looker.

[2019-05-07 16:51] leikkisa commented on #10546
@laurjpeterson I'm assuming the "Caseflow search results" and the "Caseflow case list" are the same thing, but let me know if there are two places I should check.

[2019-05-07 17:51] youngfreezyVA opened #10678 "JSON::ParserError 784: unexpected token at '<html> <head><title>502 Bad Gateway</title></head> <body bgcolor="white"> <center><h1>502 Bad Gateway</h1></center> <hr><center>nginx/1.12.2</center> </body> </html> '"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4893/

new error popping up today. not sure if related to documents endpoint changes.

cc: @lowellrex

error being thrown is from `generate_efolder_request` at line 21

[2019-05-07 20:38] lomky commented on #8693
A couple questions @laurjpeterson. I provided `Quality Review`'s current behavior for reference.

 - Should these `Dispatch Return` tasks end up in the judge's Review pane or their Assign pane?
   -  `Quality Review` tasks currently end up in the "Review" pane, but not the assign.
   - You can still assign them to an attorney once you go into the case.
 - If the judge creates an attorney task, wha

[2019-05-07 20:48] kevmo opened #10680 "Add rubocop-performance package to Gemfile and rubocop configuration."
Running `bundle install` yields (amongst other things) a warning from Rubocop:

[code]

- [ ]  Determine whether Caseflow is currently using Rubcop's Performance Cops.
- [ ] If it is, make changes suggested in Rubocop's warning message.

[2019-05-07 21:10] youngfreezyVA opened #10681 "flakey test - create_parent_hearing_task"
see first failing test here:
https://circleci.com/gh/department-of-veterans-affairs/caseflow/61696
also,  see this slack thread:
https://dsva.slack.com/archives/CHX8FMP28/p1557256255114300

[2019-05-07 21:30] #8731 closed

[2019-05-07 21:35] pkarman commented on #10655
@laurjpeterson that's a legit worry. We've kept 3 teams for now in order to get through some remaining feature work. Let's get alignment on 2 out of 3 and we can re-assess when we are also re-assessing team org in a month.

[2019-05-07 21:42] lowellrex commented on #10678
This only happened twice and both events were within 30 seconds of one another so I think we can delay looking into this until it comes back.

[2019-05-07 22:19] laurjpeterson commented on #8693
* Dispatch Return tasks should end up in the Review pane. Let's have them display "Revise decision (BVA Dispatch)" to the user. (The only tasks that should be in the Assign pane are `JudgeAssignTask`s
* I think the judge should be able to assign `AttorneyRewriteTask`s to attorneys.

I haven't heard of the `Original` task type. What is that one?

[2019-05-07 22:25] #9403 closed

[2019-05-07 22:40] laurjpeterson commented on #10546
@leikkisa - yep, they're the same thing!

[2019-05-07 23:33] laurjpeterson commented on #9527
One thing I just thought of. @wturne tested eFolder Express access with Brad. He was able to download documents for the case that I posted (which had CCK the law firm as the representative, not Brad), and he could not access a file number where he was not the representative. So, he was accessing Veterans that his firm represented, not accessing Veterans he himself represented.

Your comment before

[2019-05-08 00:45] #9988 closed

[2019-05-08 00:53] leikkisa commented on #9784
@pkarman I'm reluctant to work on this ticket because it'll add noise to the alerts.  I imagine the updated EP code data being used to triage a specific data issue, or to handle a group of them in batch if they're a problem. The alerts won't help with that, but we could get the info other ways when we need it.

How do you feel about moving this to the backlog or closing it?

[2019-05-08 01:07] leikkisa commented on #8739
I'm closing this one - Jia submitted a fix for the specific case of that brought up this ticket. I think the issue then became about not reporting these to Sentry.

I couldn't find this by searching in Sentry for SUBMIT_REVIEW_FAIL or scanning through the last couple of days of intake-alerts, and the link above isn't to a specific event so it goes to something else now.  If it comes up again, then

[2019-05-08 01:07] #8739 closed

[2019-05-08 01:17] leikkisa commented on #9948
Script for detecting these:
[code]

When I checked today there were 197.

Script for fixing them:
[code]

[2019-05-08 02:18] leikkisa commented on #10596
When a nonrating issue gets contested again, it shows up as a contestable issue in the same modal as rating issues, which I believe will have the ability to edit the description.

How about naming this updated_description?

[2019-05-08 13:01] lowellrex opened #10690 "Give AttorneyRewriteTask a label"
`AttorneyRewriteTask.label` currently inherits from `AttorneyTask` and reads "Draft decision" as a result. This ticket exists to give `AttorneyRewriteTask` a specific label that indicates what action attorneys are supposed to take on that task (that is, re-write the decision).

## Acceptance criteria:
* [ ] `AttorneyRewriteTask` has a specific label

[2019-05-08 13:15] lowellrex opened #10691 "Create AttorneyQualityReviewTask class"
Currently, when judge receive a quality review task [and assign it to an attorney](https://github.com/department-of-veterans-affairs/caseflow/blob/bfbe0a16ef455291bf28ed7f4de84eb9704cffbe/app/models/tasks/judge_quality_review_task.rb#L9) the application creates `AttorneyTask`s. We should instead create an instance of a new `AttorneyQualityReviewTask` class so that we can apply a specific label and

[2019-05-08 15:12] laurjpeterson commented on #8936
Connected with Jennifer White (BVA RMP/IT) and Rachel Sauter (LRP) this morning:

Confirmed Board policy/processes
- Veterans can send in any notice (napkin, piece of paper, etc.) to withdraw issues or appeals
- Veterans must send in an NOD when they want to switch dockets
- Judges need to send out a decision for withdrawn appeals
- BVA wants to expedite appeal withdrawal decisions

## Development

[2019-05-08 15:33] laurjpeterson commented on #8936
![UNADJUSTEDNONRAW_thumb_3f04](https://user-images.githubusercontent.com/27704093/57387816-07fb2780-7185-11e9-85af-f94aa2cd90a7.jpg)

[2019-05-08 16:10] #8239 closed

[2019-05-08 16:52] laurjpeterson opened #10696 "Add ability to pre-fill congresspeople to Congressional Inquiry tasks"
When litigation support or mail team users are adding Congressional Inquiry mail tasks, they need to quickly add the Congresspeople and their address, so they can track who needs to get a copies of decisions (and any other information).

Additional context about Congressional addresses:
- During the kickoff meeting with Lit Support leadership on 04/24/2019, they indicated they wanted to have auto-

[2019-05-08 16:55] laurjpeterson opened #10697 "Add document receipt date and source to Congressional Inquiry tasks"
Lit support employees need to see the source of request (mail, fax, phone, email) because different team members work tasks from the different sources.

They also need to see the receipt date.

## Mocks (to be updated)
<img width="254" alt="Screen Shot 2019-05-08 at 12 59 50 PM" src="https://user-images.githubusercontent.com/27704093/57393508-3c74e080-7191-11e9-8fc5-871cc4255afc.png">

[2019-05-08 16:55] carolaponce commented on #8936
Our latest training materials for AMA - https://github.com/department-of-veterans-affairs/appeals-training/blob/master/Intake/AMA_training/Intake_training_guide.pdf

I'll connect with @R-Williams7 to review updates.

[2019-05-08 16:58] youngfreezyVA opened #10698 "better regular expression handling - reader"
invalid regEx being passed here:

`./app/reader/CommentsTable.jsx at line 27:20`

```const query = new RegExp(searchQuery, 'i');```

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2032/

[2019-05-08 16:58] Sjones352 commented on #10233
This is now passing UAT Validation

![Screen Shot 2019-05-08 at 12.53.06 PM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/0703e28d-4c26-4683-9d4f-bb211f5c5b51)

![Screen Shot 2019-05-08 at 12.54.36 PM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/a2b785e1-84df-48ad-a2a0-d7804e2291a7)

Reloaded the jobs page and verified that the job no longer appears there

[2019-05-08 17:02] #10233 closed

[2019-05-08 17:05] laurjpeterson opened #10699 "Add congresspeople to Case details, if congressional inquiry"
Add congresspeople and contact info to Case Details for both Legacy and AMA appeals.

Data source for legacy = VACOLS.
Data source for AMA = Caseflow.

## Mocks (may need to be updated)
<img width="730" alt="screen shot 2019-01-24 at 6 06 07 pm" src="https://user-images.githubusercontent.com/45407522/51714476-55eb8580-2003-11e9-95e8-91f917cacdae.png">

[2019-05-08 17:24] nemodjuric commented on #10257
@laurjpeterson Can you please post a mock of Proposed Feedback page?

[2019-05-08 17:36] leikkisa commented on #10677
Contact for AMO Reporting questions: Christopher.Watts@va.gov

[2019-05-08 18:45] nemodjuric commented on #10257
@laurjpeterson
<img width="1433" alt="Screen Shot 2019-05-08 at 2 44 38 PM" src="https://user-images.githubusercontent.com/4960030/57399752-e6f40000-719f-11e9-9236-e6d76d9321f8.png">

[2019-05-08 18:50] laurjpeterson commented on #10257
@nemodjuric - requesting that we add spaces between the paragraphs.

may 13 is the date we gave to BVA, so let's not deploy this until then.

[2019-05-08 18:57] allyceh opened #10700 "When user clicks "back" in attorney-judge checkout flow, save decision issues"
Placeholder

[2019-05-08 19:05] #10681 closed

[2019-05-08 21:17] pkarman commented on #9784
I'm concerned that we have data changing upstream that we don't know about. As a result we're discovering things weeks after the fact. I had hoped an alert would spur more immediate action. It's a bit of a chicken-and-egg since

we may not know we need it till long after the fact.

In that sense I wouldn't consider it noise but signal. If we found a pattern in these alerts, we could take action to

[2019-05-08 21:22] pkarman commented on #10596
How about `user_description` to indicate it was manually edited? Or `manual_description`? or `edited_description`?

`updated_description` implies a timeliness or something SQL-esque which confuses me a little.

[2019-05-08 21:24] Sjones352 commented on #10596
I think I like `edited_description` as it indicates description has been edited

[2019-05-08 21:42] laurjpeterson commented on #10009
[slack thread](https://dsva.slack.com/archives/CFBLH2LR4/p1557239225074700) where VBMS answers a few questions

[2019-05-09 14:28] youngfreezyVA commented on #10657
paired on this with @lowellrex and these alerts were related to the outages over the last couple of days. https://github.com/department-of-veterans-affairs/appeals-deployment/pull/2076/files

[2019-05-09 14:28] #10657 closed

[2019-05-09 17:24] youngfreezyVA commented on #10661
combining all null safe checks into one issue

[2019-05-09 17:24] #10661 closed

[2019-05-09 17:27] youngfreezyVA opened #10708 "ActiveRecord::StatementInvalid"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4940/

<img width="1299" alt="Screen Shot 2019-05-09 at 1 26 48 PM" src="https://user-images.githubusercontent.com/46791771/57473590-241ec780-725e-11e9-9ec9-6fc6855bc1c3.png">

[2019-05-09 18:28] leikkisa opened #10709 "Show contestable issues"
When a nonrating issue gets decided, it becomes a contestable issue for future intakes.  It should show up on the first "Add issues" modal where rating issues also are presented.

Currently, that modal is disabled for non-compensation lines of business, and it is not showing up.  This prevents users from being able to intake the same issue, and forces them to create a new non-rating issue.  This b

[2019-05-09 19:09] allyceh commented on #10321
UI modifications for this are being discussed in #8936 .

[2019-05-09 19:10] allyceh commented on #9993
Closing this ticket. Decisions on this are being made as part of work in #8547 .

[2019-05-09 19:10] #9993 closed

[2019-05-09 19:11] #9723 closed

[2019-05-09 19:14] allyceh commented on #9561
Removing myself as sole assignee and assigning to @sneha-pai and @laurjpeterson to prioritize for engineering.

[2019-05-09 19:15] allyceh commented on #9382
Assigning to @sneha-pai to update ticket based on usability testing and define user stories for engineering.

[2019-05-09 19:18] allyceh commented on #8915
Assigning to @laurjpeterson to slot for dev.

[2019-05-09 19:25] allyceh commented on #7041
Closing. I ensured that this is a user story that's documented in #8660 , which is our epic ticket.

[2019-05-09 19:25] #7041 closed

[2019-05-09 19:28] allyceh commented on #5571
Closing this. We finished this case details work.

[2019-05-09 19:28] #5571 closed

[2019-05-09 19:29] allyceh commented on #6022
Closing this out. We use the grid template now :)

[2019-05-09 19:29] #6022 closed

[2019-05-09 19:30] allyceh commented on #8451
This ticket is related to #8660

[2019-05-09 20:25] allyceh commented on #7508
Added @sneha-pai as an assignee for this ticket so that this stays on the radar with all of the case timeline design work.

[2019-05-09 21:11] lowellrex commented on #9527
I think that is quite likely.

Absolutely. Do we have a contact I can reach out to at BGS?

I think this is likely to be the situation we are in...

[2019-05-09 21:15] laurjpeterson commented on #9527
@leikkisa - who are the contacts at BGS that you've been working with? I know one is John Dell.

[2019-05-09 21:28] pkarman commented on #10708
this was due to the VACOLS bug. fixed and deployed in #10706

[2019-05-09 21:28] #10708 closed

[2019-05-09 22:35] leikkisa opened #10713 "Backfill data for nonrating request issues missing a decision date"
The following request issues are missing a decision_date. This is due to the dates entered being invalid dates.

```RequestIssue.where.not(nonrating_issue_category: nil).where(decision_date: nil)```
IDs: [22767, 21616, 27696, 43219, 21619]
Descriptions: [" post traumatic  stress disorder", "foot problems", "reduction of VA disability Compensation based on 39 drill days in USAR for FY 2017", "Servi

[2019-05-09 22:40] leikkisa opened #10714 "Fix date validation for nonrating request issues."
### Story
When a user enters and invalid decision date for a new nonrating request issue, they are able to submit the issue, but the date does not get saved to the database.  Future intakes for this veteran will be blocked by a system error due to the missing decision_date.

### Acceptance criteria
  - Users cannot enter an invalid decision date for nonrating request issues
  - Users cannot enter

[2019-05-10 13:05] lowellrex opened #10716 "Release database connections before making HTTP requests to Efolder"
`ExternalApi::EfolderService` [polls Efolder for seconds at a time](https://github.com/department-of-veterans-affairs/caseflow/blob/dc71939c5c084bf027932395b8a01a0f678fd26b/app/services/external_api/efolder_service.rb#L26) waiting for a particular response, holding on to a database connection the whole time. This couples Caseflow's availability with Efolder (and whatever dependencies Efolder is in

[2019-05-10 13:26] lowellrex opened #10717 "Refactor EfolderService calling code to expect immediate response"
`ExternalApi::EfolderService` [sleeps for 1 second](https://github.com/department-of-veterans-affairs/caseflow/blob/dc71939c5c084bf027932395b8a01a0f678fd26b/app/services/external_api/efolder_service.rb#L36) for as many as 10 seconds each time the application does not get  the particular response it wants. The application behaves in this way because we want to return the correct data to the calling

[2019-05-10 14:55] #10403 closed

[2019-05-10 15:56] cmgiven commented on #9418
`allDocketsTotal`: The total number of active appeals on any docket, including legacy and priority appeals.
`total`: The total number of nonpriority appeals on the same docket as this appeal.
`ahead`: The number of nonpriority appeals on the same docket as this appeal that are older than this appeal.
`eta`: An object showing time estimates on each docket (not including legacy) for appeals that wer

[2019-05-10 19:09] lomky commented on #10691
See the similarly structured AttorneyDispatchReturnTask created in #8693 (PR #10670) for reference

[2019-05-10 19:51] carolaponce commented on #8936
Working in training materials, I need clarification.  A withdrawn review will show in queue status.  A withdrawn issues won't, where is that information presented to the judge to finalize the request.  @laurjpeterson

[2019-05-10 20:26] laurjpeterson commented on #8936
What do you mean by this?

[2019-05-10 20:29] laurjpeterson commented on #7366
Emailed AMO today with language that they can send to Caseflow Dispatch users about the change. I'll post here again when we can merge.

[2019-05-10 23:36] carolaponce commented on #8936
Whenever there is a withdrawal request for an issue, or many issues, or the entire review, the final step of this process if for a judge to withdraw it. Correct?
A review that has been withdrawn in intake - the status of the case in queue is withdrawn.
**if an issue is withdrawn, but the rest of the issues in the review are still being processed - where does the judge receive this notification to

[2019-05-11 03:51] Sjones352 commented on #10546
**Fails UAT**

This file had 2 non-ratings removed but when I search the case, I still find it
![Screen Shot 2019-05-10 at 11.48.55 PM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/1491c608-6576-4803-816f-a580dd98b10b)![Screen Shot 2019-05-10 at 11.49.15 PM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/d73068b0-1936-4a9b-baf7-26ecd59211b5)

[2019-05-13 12:21] laurjpeterson commented on #9527
Got this email from Jennifer this weekend. It looks like CCK might be an exception to the rule here. I've asked her to send me another individual private attorney so we can be certain about individual vs. group participant IDs working.

[2019-05-13 14:33] pkarman opened #10723 "Caseflow::Error::VaDotGovMultipleAddressError"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4974/events/331710/

[2019-05-13 14:34] pkarman opened #10724 "nil appeal on isLegacyAppeal call"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3630/events/330561/

[2019-05-13 14:48] pkarman commented on #10663
@youngfreezy if you think it will require more than a trivial fix, I would say "yes"

[2019-05-13 14:49] ferristseng commented on #10723
For context, we added this error in #10668 for #10387. We were getting a bad result when geocoding an address, and not handling the error message returned by the API (the response was still a `200`).

[2019-05-13 14:52] Chingujo commented on #10563
@sharonwarner @pshahVA

Here is my proposed solution to the filtering. If we a agree, I will clean the AC up and create the relevant ticket for the changes to the other views.

This is a good opportunity to standardize some of our styles across queue. Queue uses our "download current view" as the toggle for switch views that was added after we implemented ours. We can use that in the hearing table

[2019-05-13 15:12] laurjpeterson commented on #6777
When will the hearing schedule be built for FY 2020? Usually June/July summer before. @pshahVA to ask Lori (Hearing Branch Deputy Chief)

[2019-05-13 15:15] #10663 closed

[2019-05-13 15:15] laurjpeterson commented on #8716
Note: total rewrite of the algorithm

[2019-05-13 15:17] #8716 closed

[2019-05-13 15:21] laurjpeterson commented on #9106
This can be part of a larger analysis of user permissions/user configurations.

Potentially related to #8436

[2019-05-13 15:22] youngfreezyVA opened #10729 "Add throttle or debounce to redux action SET_DOC_SCROLL_POSITION"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4927/

I think what's happening in sentry issue 4927 above is the SET_DOC_SCROLL_POSITION is not defined since there is no throttle on the scroll, so redux can't read the type on that action. this redux action gets called every single time the PDfFile component updates, as well as when this method is called: PDFJS.renderTextLa

[2019-05-13 15:26] laurjpeterson commented on #6863
Option 1: add a value for total # of judges into the spreadsheet
Option 2: add instructional text in the UI to reiterate that all judges need to be in the spreadsheet
Option 3: rely on Caseflow judge teams to identify which judges are on staff that should be/should not be assigned hearings

Note: needs product/design input to help define the right solution

Why certain judges in VACOLS weren't inc

[2019-05-13 15:41] laurjpeterson commented on #8870
Closing in favor of https://github.com/department-of-veterans-affairs/caseflow/issues/10562

[2019-05-13 15:46] lomky commented on #8693
Discussed Attorney Tasking with @laurjpeterson; we're going with a new distinct Attorney type, mirroring the new Judge type.

[2019-05-13 15:47] laurjpeterson commented on #10562
Note: could be good for teams who know queue to do so they can get context on hearings

[2019-05-13 15:51] laurjpeterson commented on #9940
Note: We haven't gotten any user feedback having issues with saving/auto-save for the Hearing Worksheet, so we are going to close it.

[2019-05-13 15:51] #9940 closed

[2019-05-13 15:53] laurjpeterson commented on #8986
Seems like Styleguide work, doesn't need to be tied to the hearings team to do. Could potentially be beneficial if we rework Hearing Worksheets to have a read-only, print, and editable view.

[2019-05-13 15:58] laurjpeterson commented on #10359
Unclear why they need the add admin action option here. Let's close.

[2019-05-13 15:58] #10359 closed

[2019-05-13 15:59] laurjpeterson commented on #9750
Related to Case Timeline recommendations and redesign, plus #7508 - cc: @sneha-pai

[2019-05-13 16:06] laurjpeterson commented on #9752
There is no place to get the "hearing docket date", we only have the BVA docket date. Since we don't have this field, we can't display it. If hearing docket date is still being used, we suggest hearing coordinators reference that hearing docket date outside of Caseflow.

[2019-05-13 16:06] #9752 closed

[2019-05-13 16:14] laurjpeterson commented on #10563
talked with @sharonwarner and @pshahVA about this one and learned that @Chingujo is doing the design work for it.

@Chingujo - If we are auto-filtering, can we include text so judges understand the view that they're looking at? (i.e. This is a view of your hearing days and hearings, not the entire view of the Board's hearing schedule)

Also, Sharon noted that this could require a much larger refac

[2019-05-13 16:14] enriquemanuel opened #10731 "Include EC2 Instance ID in Sentry"
For troubleshooting purposes, it would be great to get the instance id in the tags of Sentry, at this time we only include Instance hostname and other tags, for example we have right now
[code]

[2019-05-13 16:33] sharonwarner commented on #10152
We should be able to add unique constraints for (hearing & hearing type) & task in the hearing task association table.

[2019-05-13 16:53] monfresh opened #10732 "Retry VBMSError::FilenumberDoesNotExist with claim number?"
A common VBMS error we see in Sentry is `VBMSError::FilenumberDoesNotExist`. I see that in one case (in [fetch_documents_for](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/services/external_api/vbms_service.rb#L43)), we are rescuing the error and trying an alternative claim number instead of the SSN. I’m wondering if we should apply the same logic to other methods, lik

[2019-05-13 16:55] pkarman opened #10733 "nil response body in CaseListActions"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4114/events/331838/

[2019-05-13 16:58] Chingujo commented on #10563
It would have been useful to be in this conversation @laurjpeterson @pshahVA @sharonwarner

So, I could get the feedback first hand. That text can be added and this can be scoped to an easier view

[2019-05-13 17:06] pkarman commented on #10723
@ferristseng thanks -- is this a case where we are just throwing the exception and do not intend to seek further solution? if so I will ignore it in sentry so we don't get pinged about it.

[2019-05-13 17:46] #10257 closed

[2019-05-13 18:13] leikkisa commented on #10546
@Sjones352 This Veteran has 6 HLRs, and one of them is not showing up (probably the removed one), so I think the issue is the validation approach.

I tried this on the same Veteran with a Supplemental Claim, and it showed up on the Case Search page after creating it (there were two Supplemental Claims) and disappeared after removing all of the issues.

[2019-05-13 18:45] ferristseng opened #10736 "Fetch Available Hearing Locations data when alternate address can't be verified"
Needed for #10730.

We don't store any facility data for alternate hearing locations. When we need to set this information manually without the fetch hearing locations job, we need the facility data.

[2019-05-13 19:06] monfresh opened #10737 "Sentry frontend error: superagent/lib/client in u.crossDomainError"
There are a few of these errors in Sentry, mostly in reader URLs like https://appeals.cf.ds.va.gov/reader/appeal/3602932/documents/40963183

Here is an example:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4984/events/331790/

The error being thrown is `throw Error("superagent can't mix .send() and .attach()");`

Sentry says:
[code]
I'm not sure how actionable these are.

[2019-05-13 19:46] laurjpeterson commented on #4278
Looks like a PR was merged here, so going to close.

[2019-05-13 19:46] #4278 closed

[2019-05-13 19:46] laurjpeterson commented on #5361
@pkarman [non-urgent] do you know if we already do this?

[2019-05-13 19:47] laurjpeterson commented on #5809
looks like a PR was merged here, so closing.

[2019-05-13 19:47] #5809 closed

[2019-05-13 19:48] laurjpeterson commented on #5914
Looks like a PR was merged here, so closing.

[2019-05-13 19:48] #5914 closed

[2019-05-13 19:48] #6288 closed

[2019-05-13 19:48] laurjpeterson commented on #6360
This is done.

[2019-05-13 19:48] #6360 closed

[2019-05-13 19:49] #4135 closed

[2019-05-13 19:50] #6361 closed

[2019-05-13 19:50] laurjpeterson commented on #6395
PR was merged, closing.

[2019-05-13 19:50] #6395 closed

[2019-05-13 19:51] lowellrex commented on #9527
Before continuing work on this feature we need a little more information about how BGS models the relationships between private attorneys, firms, and appellants. BGS makes a distinction between organizations and people and with the example case of CCK that can be represented as follows:

[code]

It sounds like CCK is a special case, but we can use it to describe the central question we need to ans

[2019-05-13 19:51] laurjpeterson commented on #6673
Looking in production today and this doesn't look like it was fixed. Moving back to backlog.

[2019-05-13 20:29] monfresh opened #10739 "BGS::ShareError - The Tuxedo service is down in fetch_veteran_info"
A common error in Sentry happens when BGS can't connect to the Benefits Delivery Network. It looks like the End Product Establishment code is [ignoring these errors](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/exceptions/bgs_sync_error.rb), but other parts of the app are not. We should probably handle errors consistently throughout the app, no?

Example: https://sent

[2019-05-13 20:36] monfresh opened #10740 "Savon::SOAPFault Profile Subsystem failed. Persistence exception occurred"
Example: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4627/

I'm not sure what this means. This happened while fetching veteran info. The full message is:
[code]

[2019-05-13 20:39] monfresh commented on #10255
Another instance in the IDT controller:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3757/

In that controller, we are still finding by `css_id`: https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/controllers/idt/api/v1/base_controller.rb#L43

Not that it's necessarily the cause, but perhaps worth making our user lookup consistent?

[2019-05-13 20:45] monfresh opened #10741 "Response timeout of 60000ms exceeded (superagent/lib/request-base in u.r._timeoutError)"
This is one of the most frequent errors in Sentry. Example:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2989/

I think it timed out while fetching document counts.

[2019-05-13 20:46] pkarman commented on #5361
yes! e.g. https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4114/

[2019-05-13 20:46] #5361 closed

[2019-05-13 20:49] pkarman commented on #10739
yes all the Intake-related code ignores transient errors like these. We should ignore them everywhere.

For VBMS we were able to wrap all the errors in a single place https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/services/external_api/vbms_service.rb#L213 but for BGS I think it's been a lot more piecemeal.

[2019-05-13 20:51] pkarman commented on #10741
We have some open tickets to fix this issue:

* https://github.com/department-of-veterans-affairs/caseflow-efolder/pull/1093
* #10717
* #10716

[2019-05-13 22:01] lowellrex commented on #9527
We can test private attorney access to queue without any changes to the code by doing the following two things:
* Creating a `FieldVso` for the organization (we can do this in the Caseflow team management interface or a developer can do it directly in the Rails console)
* Make sure the private attorney has the "VSO" CSEM function

This will not be the way that private attorneys ultimately access Q

[2019-05-14 01:21] monfresh commented on #10516
What does it mean when a checkbox above is checked? If it means that the flake has been fixed, then some of these should be unchecked, like the Hearing Task flake, which happened on my PR today: https://circleci.com/gh/department-of-veterans-affairs/caseflow/63586

The weird thing is it seems to always fail on this particular line in the controller spec, but when I add a `puts` statement locally i

[2019-05-14 14:03] laurjpeterson commented on #9588
Note: Talked with Jennifer White - they stopped OMO requests on 2/19/19. OGC agreed that they no longer needed to do OMO requests for legacy.

[2019-05-14 14:16] pkarman opened #10747 "Update EPE user on request issues update"
When a user edits a Decision Review, update the `user` assigned to the existing End Product Establishments, as they will be re-used and should reflect the user who edited, not the user who originally performed the intake.

See #10746

[2019-05-14 14:22] monfresh opened #10748 "Best way to ensure data saved to VACOLS is in ASCII?"
Here is a Sentry error due to attempting to save a string that couldn't be converted from UTF-8 to ASCII when saving to VACOLS:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4994/events/331753/

In this case, the data already existed in the Caseflow DB in the Certifications table. The bad string looks like this:
`Allsup Vet\u0092s Disability Appeals SVC 300 Allsup Pla`.

[2019-05-14 14:35] monfresh commented on #10255
Another one today while fetching document count:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4671/

[2019-05-14 14:41] pkarman commented on #7911
VACOLS does not support UTF-8.

VBMS (and assuming also CorpDB) does support UTF-8.

BGS may not (at the API level, even if CorpDB does support).

[2019-05-14 14:45] monfresh opened #10749 "Handle 503 errors from VBMS more gracefully"
Here is an example of an error that should probably be retried, or at least excluded from Sentry.  An error with the same message is currently being excluded via our `BGSSyncError` class.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5005/

[code]

[2019-05-14 15:10] pkarman commented on #10748
I think the `\u0092` (that's hex `\x92`) code point is a bad Windows 1252 conversion (it's a right curly single quote), and calling `to_ascii` on it would not do what we expect.

[code]

To really "fix" it we'd have to first map all the bad 1252 codepoints to their UTF-8 equivalents and then manually fix.

[code]

See https://metacpan.org/release/Search-Tools/source/lib/Search/Tools/UTF8.pm#L173

[2019-05-14 15:12] pkarman commented on #10516
the hearing task flake was happening in multiple places. We fixed one, and then another popped up.

I fixed it yesterday in ce376882610bc32f6a5de79146db2af0ab8b8bec

[2019-05-14 15:16] pkarman commented on #10749
bce98ec988499a6e088660f88ad9883d203753c5 will more clearly label these as transient so we can ignore in Sentry.

[2019-05-14 15:20] aroltsch commented on #9621
Assign tasks in bulk endpoint:
* assignee ID
* parent_id
* task type
* appeal id

[2019-05-14 15:21] monfresh commented on #10749
Sweet. Should we close this?

[2019-05-14 15:45] pkarman commented on #10749
yes, I think the ticket on the connect_vbms client lib itself expresses the better fix.

[2019-05-14 15:45] #10749 closed

[2019-05-14 15:49] monfresh opened #10751 "Caseflow::Error::ActionForbiddenError when attempting to update a task's status"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3678/events/332947/

There are several instances of this error in Sentry, and the first few that I've seen all seem to happen when a user is attempting to update a task's status.

I'm not sure if some of these might be legitimate errors because the user indeed does not have access, or if it's a bug where the app is allowing a

[2019-05-14 15:55] #10048 closed

[2019-05-14 16:10] pkarman opened #10752 "BusinessLine organizations should redirect from /organizations/:name/tasks"
The `BusinessLine` Organization type should not have access to any /organizations/:name/tasks. They are designed for `/decision_reviews` only.

If a request comes in for a `/organizations/:name/tasks` and the org is a BusinessLine type, redirect to the `/decision_reviews/:name` URL instead.

[2019-05-14 16:17] lomky commented on #8693
@laurjpeterson

When the judge is finished with this task, do they need to go back through AMA checkout, or just mark the task complete?

[2019-05-14 16:50] leikkisa commented on #10752
Is this true for appeals?

[2019-05-14 17:05] laurjpeterson commented on #8693
Yep, it should go through the same checkout flow! Thankya

[2019-05-14 17:08] pkarman commented on #10752
Do you mean if the BusinessLine org has tasks that relate to Appeals?

I don't think it matters. In this example, the Education LOB has only tasks of type DecisionReviewTask. Would a BusinessLine org ever have tasks that were not of that type? They should not be assigned any afaik.

[2019-05-14 17:11] tomas-nava opened #10754 "blank screen when clicking veterans waiting tabs in schedule veterans when an RO has no available hearing days"
[Sentry error](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5004/events/332926/)

A user loads the _Schedule veterans_ page (`/hearings/schedule/assign`) for an RO that has no available hearing days (`RO13` in this case) and clicks on the _Legacy Veterans Waiting_ or _AMA Veterans Waiting_ tabs. The result is a blank screen and a `TypeError` in the console: "Cannot read

[2019-05-14 17:12] pkarman commented on #9397
Moved back to ready-for-dev as they have requested 3 users remain enabled, off for everyone else.

[2019-05-14 17:21] #9901 closed

[2019-05-14 18:45] pkarman opened #10756 "Send source contention ID for contentions on DTA claims"
Required https://github.com/department-of-veterans-affairs/connect_vbms/issues/219

When we create contentions as a result of a DTA error on an HLR, we should send the original contention_ids (from the request issues that got a DTA error) when we create the contentions.

If there are multiple prior contentions resulting in a single contention, send an array of the prior contention IDs.

[2019-05-14 19:14] sneha-pai commented on #5740
- [VBMS Flashes Categories](https://www.notion.so/VBMS-Flashes-Categories-1d357e9e76f249da8964f805e407580f
) from [this va resource/guide](https://www.knowva.ebenefits.va.gov/system/templates/selfservice/va_ssnew/help/customer/locale/en-US/portal/554400000001018/content/554400000036570/Appendix-C.-Index-of-Claim-Attributes#2)

- [VBMS Flashes screenshot from a real claim case](https://www.notion.s

[2019-05-14 19:18] Sjones352 commented on #10546
**Passes UAT*
https://appeals.cf.uat.ds.va.gov/cases/1604. The Supplemental Claim does not show up on search page

![Screen Shot 2019-05-14 at 3.12.05 PM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/97d09a43-f4c5-4947-a9c6-f09d17b0af03)
![Screen Shot 2019-05-14 at 3.13.26 PM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/17045f93-81bd-4488-bc87-e2b073265c6

[2019-05-14 19:18] #10546 closed

[2019-05-14 19:20] sneha-pai commented on #5740
![image](https://user-images.githubusercontent.com/31224257/57725447-26689380-765b-11e9-89c4-bbc2c333fcd5.png)

[2019-05-14 19:30] laurjpeterson commented on #8591
Re-opening because I don't think Anne's PR was able to be merged.

[2019-05-14 19:35] #10752 closed

[2019-05-14 19:39] laurjpeterson opened #10760 "Add withdrawn dispositions to request issues in Case Details"
Sometimes, request issues have dispositions. Veterans can opt to withdraw a request issue, or a request issue could be stayed. Judges and other VA employees need to see that request issues already have dispositions, and therefore don't need a decision.

There are three places where we want to show request issue dispositions, if they exist:
- Case details
- Attorney check out flow
- Judge check out

[2019-05-14 19:46] pkarman opened #10761 "Editing dispositions are not sticky/persistent"
See full user report in https://github.com/department-of-veterans-affairs/appeals-support/issues/4568

When editing or adding issues to an Appeal Task, adding a new issue will clear out any dispositions that have been set locally in the browser but not yet saved.

[2019-05-14 19:47] laurjpeterson opened #10762 "Reflect withdrawn appeals in Case Timeline (backend)"
When an entire appeal has been withdrawn, users need to be able to see that event reflected in Case Timeline, so they don't add actions to an appeal that are not needed.

## AC
- If all issues on an appeal are withdrawn, use the maximum withdraw date. Show the withdrawn icon and event in Case Timeline per mocks below
- So, if multiple issues are withdrawn on different dates over time, use the date

[2019-05-14 19:55] laurjpeterson opened #10764 "Spike: Allow withdrawn appeals to be distributed to judges as part of automatic case distribution"
When Veterans have withdrawn their appeal, per Board policy, judges still need to write a decision for that case, so the Veteran get a decision on their appeal.

Currently, when all issues have been withdrawn and then the entire appeal has been withdrawn, Caseflow cancels all tasks associated with the appeal.

We need to update this logic such that these withdrawn appeals can be distributed via au

[2019-05-14 20:04] laurjpeterson opened #10766 "Change mail task routing for withdrawn appeals"
When Veterans send in correspondence to withdraw their appeals, we currently route those mail tasks to VLJ Support (see routing [here](https://github.com/department-of-veterans-affairs/caseflow/issues/7906#issuecomment-440442213)). Board policy has changed, and these withdrawal of appeal mail tasks should be routed to a BVA Intake queue for BVA Intake users to process.

~Note: BVA Intake does not

[2019-05-14 20:06] laurjpeterson opened #10767 "Create BVA Intake team queue"
Though the majority of BVA Intake's work now is establishing AMA appeals through Caseflow Intake, there are some tasks, like withdrawal of appeal mail tasks, that will be assigned to them to work. Therefore, they need a team queue.

## AC
- An organization called Case Review has been created
- A queue is created at `/organizations/case-review`

[2019-05-14 20:07] laurjpeterson commented on #8936
Created a lot of github issues according to my comment above.

@carolaponce

they will be able to see in Case Details that the request issue has the disposition of withdrawn.
@sneha-pai is going to finalize designs for #10760

[2019-05-14 20:12] #10649 closed

[2019-05-14 20:12] Sjones352 commented on #6931
I validated this issue and the decision_date for non-rated issues with an invalid date still lets you create an Ep.
![Screen Shot 2019-05-14 at 4.08.55 PM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/9440e889-2129-4507-8691-f9b9a9252587)
![Screen Shot 2019-05-14 at 4.10.33 PM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/e4b96675-9fa3-4acc-b53a-ae9d18d01a

[2019-05-14 20:55] #8435 closed

[2019-05-14 21:11] leikkisa commented on #6931
@Sjones352 We have another ticket now for the non-rating issue decision date:
https://github.com/department-of-veterans-affairs/caseflow/issues/10714

So I'll remove that from this ticket's description, and this one can be just for the receipt date.  It is possible the receipt date has been fixed since this ticket was open since it's pretty old and I think this issue was causing some Sentry errors

[2019-05-14 21:51] #10437 closed

[2019-05-14 22:07] laurjpeterson commented on #8936
Note to @laurjpeterson - need to create more tickets for removal and withdrawal of entire review. Also take a look at Stayed request issues again.

[2019-05-14 22:09] laurjpeterson commented on #9179
Jane and @leikkisa are going through closed/cleared EPs on a weekly basis to continue investigating.

[2019-05-14 22:11] laurjpeterson commented on #9298
Sally: we should try to fetch by file number first instead of assuming SSN is the file number.

[2019-05-14 22:23] laurjpeterson commented on #10088
Moving to backlog. Will revisit if we notice an uptick in these.

[2019-05-14 22:30] laurjpeterson commented on #10165
We want VBMS to change the Edit in Caseflow link to respect that some things cannot be edited in Caseflow. There is another ticket already for this, so closing.

[2019-05-14 22:30] #10165 closed

[2019-05-14 22:32] #6931 closed

[2019-05-14 22:40] leikkisa commented on #10294
*Validation instructions*
There are two situations worth testing:

User updates address while intake is in progress (after intake was started)
1. Start an intake that is processed in VBMS (HLR or SC, Compensation)
2. Change the Veteran's address in VBMS
3 Complete the intake

User updates address after intake is completed
For a different Veteran:
1. Complete an intake that is processed in VBMS
2.

[2019-05-14 22:44] laurjpeterson commented on #9527
Brad can be one pilot user. I asked Jennifer about another one and she's looking into it now. I know Brad already has access to eFolder Express and did submit some forms. I think he was advised to get eFolder and VSO functions for CSEM, but we'd have to double check. Maybe @msj0nes can help us see what CSEM functions he already has.

[2019-05-14 23:19] tomas-nava commented on #10698
More specifically, if you type a regex special character like `?`, `*`, `(` into the "Type to search..." field in a claims folder **_while showing all comments_** the page will go blank and throw `Uncaught SyntaxError: Invalid regular expression`

[2019-05-14 23:51] tomas-nava opened #10775 "Unprocessable Entity error on document index and show pages"
Sentry error: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2991/

This is raised by superagent when it gets a bad HTTP response from a server. We've seen 16 of these in the past seven days. A related error [has been discussed before.](https://github.com/department-of-veterans-affairs/caseflow/issues/10230)

[2019-05-15 00:42] Sjones352 commented on #10294
**User updates address while intake is in progress (after intake was started)**

File Number `700060407`
<img width="1445" alt="Screen Shot 2019-05-14 at 8 15 28 PM" src="https://user-images.githubusercontent.com/23080951/57740519-45304f80-7686-11e9-8006-3d5bbd9263dc.png">

<img width="1164" alt="Screen Shot 2019-05-14 at 8 22 25 PM" src="https://user-images.githubusercontent.com/23080951/57740522

[2019-05-15 01:15] #10680 closed

[2019-05-15 05:37] tomas-nava opened #10776 "TypeError when rendering document title if selectedDoc() returns undefined"
Sentry error: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3615/

[2019-05-15 11:51] laurjpeterson commented on #9020
Tagging folks for visibility again - @Chingujo, take a look at how Allyce designed canceled hearing requests in Case Timeline. What do you think? https://app.mural.co/t/workqueue2001/m/workqueue2001/1556035219909/9317bc82fd2cf504e3e8539a172a33750c406a0d

And @Chingujo - do you know if we already update Case Details with the canceled hearing disposition for AMA appeals?

cc: @sneha-pai

[2019-05-15 11:53] laurjpeterson commented on #9382
Adding most recent [Mural](https://app.mural.co/t/workqueue2001/m/workqueue2001/1556035219909/9317bc82fd2cf504e3e8539a172a33750c406a0d) with new designs. I think this Mural covers all items in the original ticket. We might be able to close this ticket in favor of other development tickets (to be created after we discuss with engineering). @sneha-pai what do you think?

[2019-05-15 11:56] laurjpeterson commented on #9044
There's another ticket for Waived Evidence Window task, so closing this one.

[2019-05-15 11:56] #9044 closed

[2019-05-15 12:03] laurjpeterson commented on #7601
Closing. We know now that BVA Dispatchers can send tasks to judges.

[2019-05-15 12:03] #7601 closed

[2019-05-15 12:04] laurjpeterson commented on #10016
If an AOD motion is granted, we require users to mark a reason for the AOD which includes those options above. Do AOD users want this for denied motions as well?

[2019-05-15 12:05] laurjpeterson commented on #9975
I've given Nina Lit Support team admin so she can do this for Lit Support. We need to add her to be team admin for AOD and mail, too.

[2019-05-15 12:17] laurjpeterson commented on #7784
Looks like both tickets that were blocking this one have been closed. @lowellrex - can we begin working on this (if prioritized for a sprint)? Do we have any solution for POA changes in BGS in place today?

[2019-05-15 12:39] lowellrex commented on #7784
When POA changes for a VSO [the following already happens](https://github.com/department-of-veterans-affairs/caseflow/blob/2d6fc81174a51c640e5e57b04027940fc46a26e2/app/models/tasks/track_veteran_task.rb#L33):
* We cancel any existing tasks assigned to the old VSO (tracking and IHP tasks)
* We create a `TrackVeteranTask` for the new VSO and an IHP task if the AMA appeal is in the hearing docket

Ac

[2019-05-15 13:02] lowellrex commented on #9527
Created a Field VSO organization for CCK for testing with Bradley Hennings. Steps to finish testing:
* Allow [the `UpdateAppellantRepresentationJob`](https://github.com/department-of-veterans-affairs/caseflow/blob/2d6fc81174a51c640e5e57b04027940fc46a26e2/app/jobs/update_appellant_representation_job.rb#L5) to create `TrackVeteranTask`s for appeals CCK represents (should be done within a day or two,

[2019-05-15 13:10] laurjpeterson commented on #7784
Thank you! Ok, will keep this open.

[2019-05-15 13:21] lowellrex commented on #7784
How do we want to pause the deciding of the appeal? By placing the existing tasks on hold while the IHP is written, or by cancelling the existing tasks and redistributing the appeal when the IHP has been written?

[2019-05-15 13:36] monfresh commented on #9899
Re-opening because this is still happening. We fixed one scenario that resulted in this error, but it looks like there's another way users can get in this state.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3283/events/334267/

[2019-05-15 13:46] monfresh opened #10777 "Cannot read property 'then' of undefined in QueueFlowModal.jsx"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5019/events/333906/

[2019-05-15 14:19] carolaponce commented on #10202
Pasting in a Slack comment from Rachel Sauter:

...sometimes the POA fills out a form for the veteran, but in that scenario, they are standing in the shoes of the veteran - just filling out the form doesn't make them the claimant. The only other thing I can think of is the fee agreement case. In those cases, the rep would have held POA in the veteran's claim for benefits, but then once that claim

[2019-05-15 15:39] #8878 closed

[2019-05-15 15:45] #10575 closed

[2019-05-15 15:56] pkarman opened #10780 "Save edited contention text to server"
This is step 4 of editing contention title text.

## Acceptance Criteria

* When an issue's title has been edited and the "Submit" button is clicked, the Save button activates if it isn't already active (see #10597).
* When the "Save" button is clicked the edited title text is sent to the server instead of the original text, and is stored in the `edited_description` column on the `RequestIssue`.
*

[2019-05-15 15:59] #9178 closed

[2019-05-15 15:59] #9769 closed

[2019-05-15 16:00] #9971 closed

[2019-05-15 16:10] #10018 closed

[2019-05-15 18:51] laurjpeterson commented on #10373
There's an AMA issues component ticket, so closing this one.

[2019-05-15 18:51] #10373 closed

[2019-05-15 18:53] Sjones352 commented on #10294
@leikkisa this is passing in VBMS-UAT. I checked VBMS and the address is updated to what `425 I ST NW`

[2019-05-15 19:34] Sjones352 commented on #10070
Looks like I will have to ask for another file number to have a locked rating

[2019-05-15 19:45] #10294 closed

[2019-05-15 20:25] laurjpeterson commented on #7784
I can confirm with BVA, but I think they'll choose `By placing the existing tasks on hold while the IHP is written` because the judge/attorney team may have already started working on the appeal. Should we create a separate ticket for this?

[2019-05-15 20:42] laurjpeterson commented on #9536
@lowellrex @sharonwarner - is this issue still relevant? is filtering available in hearing schedule at all?

[2019-05-15 20:43] laurjpeterson commented on #9614
@lomaxap - i see your PR on this has been merged! can this ticket be closed?

[2019-05-15 20:44] laurjpeterson commented on #8095
hey @hschallhorn - i see your PR on this issue has been merged! can this ticket be closed?

[2019-05-15 20:44] #8095 closed

[2019-05-15 20:52] laurjpeterson commented on #5150
@lowellrex - i see a PR of yours has been merged here. can this ticket be closed?

[2019-05-15 20:53] laurjpeterson commented on #4961
Closing this, because Caseflow Intake does this mapping now.

[2019-05-15 20:53] #4961 closed

[2019-05-15 20:55] laurjpeterson commented on #5285
@amprokop can we close this issue?

[2019-05-15 20:57] pkarman opened #10787 "HLR fails to establish with internal exception"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3467/events/335603/

[code]

VBMS claims it is bad XML in the request. Running `.establish!` manually does not reveal anything unusual in our XML.

[2019-05-15 20:59] pkarman opened #10788 "JS exception TypeError during login"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5032/

`Cannot read property 'value' of null`

[2019-05-15 21:00] laurjpeterson commented on #6015
We do this! We could enhance this by grouping tasks together in a more obvious way, but closing because we've hit the min. AC

[2019-05-15 21:00] #6015 closed

[2019-05-15 21:01] laurjpeterson commented on #6014
We can already do this, so closing.

[2019-05-15 21:01] #6014 closed

[2019-05-15 21:01] aroltsch commented on #10490
This is done.

[2019-05-15 21:01] #10490 closed

[2019-05-15 21:01] laurjpeterson commented on #7391
@lowellrex - i see you merged a PR here. can this be closed?

[2019-05-15 21:02] laurjpeterson commented on #1917
This is from very long ago! Closing.

[2019-05-15 21:02] #1917 closed

[2019-05-15 21:04] laurjpeterson commented on #1586
We haven't worked on this in a while. Closing.

[2019-05-15 21:04] #1586 closed

[2019-05-15 21:10] #10723 closed

[2019-05-15 21:30] hschallhorn opened #10792 "ama_acd_task feature is still being toggled in tests"
Automatic case distribution [has been enabled](https://github.com/department-of-veterans-affairs/appeals-deployment/pull/1974/files) since ama day, but we [still have tests](https://github.com/department-of-veterans-affairs/caseflow/search?q=ama_acd_tasks+path%3A%2Fspec&unscoped_q=ama_acd_tasks+path%3A%2Fspec) that rely on enabling and disabling this feature.

## AC
- [ ] Remove all references to

[2019-05-15 21:35] pkarman commented on #5024
done in 99863a280c58ed684e795b66856c030c5e0ec93b

[2019-05-15 21:35] #5024 closed

[2019-05-15 22:09] pkarman commented on #10717
We could achieve the same result if we moved the polling behavior to the browser side. That has the advantage of keeping the HTTP cycle short (releasing the db connection faster).

So instead of
[code]
we could
[code]
we'd end up with more (but shorter) HTTP requests to Caseflow over time, but the same number of HTTP requests to Efolder.

We might want to leave the polling behavior in `ExternalApi

[2019-05-15 22:50] #10736 closed

[2019-05-16 00:39] leikkisa opened #10794 "Add Update Contention to VBMS Service"
### Acceptance criteria
- VBMSService in Caseflow has a method for updating contention text in VBMS
- Caseflow's gemfile and gemfile.lock point to the latest version of connect_vbms

### Technical notes
This will be added in caseflow/app/services/external_api/vbms_service.rb
and in caseflow/lib/fakes/vbms_service.rb

### Validation
In the console for Caseflow UAT:
- Find an open End Product Establ

[2019-05-16 01:08] leikkisa opened #10795 "Update edited contentions in VBMS"
### Acceptance criteria
- Anytime a user updates a request issue's contention text, that update is processed in VBMS asynchronously

### Technical notes
- One approach would be to add "updated_request_issue_ids" to RequestIssuesUpdate

[2019-05-16 01:12] leikkisa commented on #10780
@Sjones352 As part of this PR, can we disable the "edit contention text" feature during regular intakes, and only allow it during "edit"?  Thank you.

[2019-05-16 13:31] monfresh opened #10799 "Invariant Violation: update(): $merge expects a target of type 'object'; got undefined"
This is an intermittent error we've seen in Sentry since December. It always happens on the queue URL: https://appeals.cf.ds.va.gov/queue

Here is the latest event:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3177/events/335986/

It looks like the `update` function in app/queue/reducers.js on line 506 is what is causing this.

[2019-05-16 13:34] lowellrex opened #10800 "Place tasks on hold to give new POA chance to write IHP"
Follow-up work from #7784.

When POA changes to a VSO who writes IHPs after an appeal has been distributed to a judge for a decision the VSO should have the opportunity to write an IHP for that appeal before the Board continues doing any work on making a decision. In order to accomplish this we need to put all active tasks on hold when the IHP is created and take them back off hold when the IHP's

[2019-05-16 13:34] lowellrex commented on #7784
Done! #10800

[2019-05-16 13:34] #7784 closed

[2019-05-16 13:34] lowellrex commented on #9536
I think we can close it out!

[2019-05-16 13:34] #9536 closed

[2019-05-16 13:34] monfresh commented on #10799
Here's another instance in a different URL:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3147/events/335842/

This is one is in:
https://appeals.cf.ds.va.gov/queue/appeals/3023721/tasks/3023721/draft_decision/dispositions

This time it's on line 303 of `app/queue/reducers.js`

[2019-05-16 13:35] #5150 closed

[2019-05-16 13:36] lowellrex commented on #7391
Closing this out since this work will be completed as part of #10049.

[2019-05-16 13:36] #7391 closed

[2019-05-16 13:49] monfresh commented on #10775
This is one of our most common errors. In Sentry, there have been over 10,000 of these errors affecting over 1000 users due to bad HTTP responses. If you click on the Sentry link above, you'll see the total number of events and users affected.

[2019-05-16 13:51] monfresh commented on #10775
Also, the various HTTP errors happen in various parts of the app, but the Unprocessable Entity errors seems to be specific to documents: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2991/events/?query=unprocessable

[2019-05-16 13:55] monfresh opened #10802 "404 not found Frontend errors on various queue pages (superagent/lib/client in u.<anonymous>)"
These errors happen several times each month, mostly on the `/queue` index page, but also other endpoints, like `organizations/privacy`, `queue/:id/assign`, `queue/appeals/:id`, and others you can see here:

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2991/events/?query=not+found

[2019-05-16 15:18] Sjones352 opened #10804 "Change text "Please contact the Caseflow Team""
Since we have disabled the feedback button and Caseflow support phone, we need to change the text in our code that states `Please contact the Caseflow Team` / `please contact Caseflow support` because it very confusing to our users.

[2019-05-16 16:56] lowellrex commented on #10609
This bug popped back up again: https://dsva.slack.com/archives/C4JECDLSE/p1558013859294600

We fixed the immediate issue it was causing by giving a task that did not have an assignee the "unidentified" `BusinessLine`:
[code]

[2019-05-16 16:57] lowellrex commented on #10048
Needed to add `JudgeTeam`s for SSCs who did not already have them (https://dsva.slack.com/archives/C6E41RE92/p1558021749140200).

[code]

[2019-05-16 16:59] ferristseng opened #10805 "Still active module error Fakes::VADotGovService"
Seeing this error occasionally in the Rails server log after it reloads code.

[code]

The error goes away when stopping, and starting the Rails server manually.

[2019-05-16 17:01] pkarman commented on #10804
@laurjpeterson we should think about how we direct users to contact us now that we have changed to YourIT.

[2019-05-16 17:23] laurjpeterson commented on #9527
Next tester:
- Name: Katrina Eagle
- firm email: katrina@eagleveteranslaw.com
- VA email: katrina.eagle@va.gov
- CSS ID: VBA/ATNKEAGL. If this doesn't work, let me know and I'll recheck.
   - LP's note: not sure about the slashes in a CSS ID, i've never seen that. we may need to try it with and without the slashes and play around.
- Station ID: 377 for San Diego

[2019-05-16 17:27] laurjpeterson commented on #10804
Agree. Can you remind me where this text shows up in the application?

@msj0nes - I'll defer to you on language here. Thinking it could be "Please contact YourIT for support?"

[2019-05-16 17:51] lowellrex commented on #10551
In order to support SSC at the current moment they all have `JudgeTeam`s where they are the only member. The tech spec that comes out of this ticket needs to consider whether we want to continue that arrangement, what its implications are, and what some alternative arrangements might be. Here is a link to the Github comment that outlines how we did that: https://github.com/department-of-veterans-a

[2019-05-16 18:34] #10805 closed

[2019-05-16 19:32] pkarman commented on #10804
https://github.com/department-of-veterans-affairs/caseflow/search?q=%22Please+contact%22&unscoped_q=%22Please+contact%22

[2019-05-16 19:48] pkarman commented on #10355
@aroltsch should we close this?

[2019-05-16 19:50] lowellrex commented on #10002
Started the process to clean up the tasks in a bad state. Went from 21 to 20. More work left to do, but this is a solid pattern we can follow:

[code]

[2019-05-16 19:58] pkarman commented on #7708
we've got processes in place we are now following.

[2019-05-16 19:58] #7708 closed

[2019-05-16 19:59] #4910 closed

[2019-05-16 20:04] lowellrex commented on #10690
XS. Confirm that the `AttorneyRewriteTask` label does not affect any logic or routing on the front-end, and make the appropriate fixes if it does.

[2019-05-16 20:08] lowellrex commented on #10691
MEDIUM. Should not have to create any new task actions for this class. Use Tomas' handy rake task to update live tasks in production.

[2019-05-16 20:08] lowellrex commented on #10691
@laurjpeterson which actions should `AttorneyQualityReviewTask`s have? Namely, should attorneys go through checkout process again?

[2019-05-16 20:11] lowellrex commented on #10792
XS. Make sure that all tests assume this flag is on now. Remove old tests that test what happens when it is off (since that won't happen anymore). After this is live let's remove the flag from the config in appeals-deployment (different PR).

[2019-05-16 20:14] lowellrex commented on #10800
MEDIUM. May break tests. Investigate how this affects LegacyAppeals if at all (do we create IHP tasks for legacy appeals?).

[2019-05-16 20:30] lowellrex commented on #9207
MEDIUM amount of work remains.

[2019-05-16 20:39] msj0nes commented on #10804
@laurjpeterson and @pkarman

Or something along those lines. If the word YourIT could be hyperlinked to **_https://yourit.va.gov/va_** that would be great.

[2019-05-16 20:59] laurjpeterson commented on #10691
Yes!

[2019-05-16 21:10] leikkisa commented on #10560
I am following up on this.  When this is resolved, we should also respond here in this support ticket:
https://github.com/department-of-veterans-affairs/appeals-support/issues/5285

[2019-05-16 21:32] pkarman opened #10810 "Document our sprint team practices"
* [ ] Rituals
* [ ] ZenHub
* [ ] Schedule
* [ ] PR review

Example: https://github.com/18F/foia-recommendations/blob/master/team-practices.md

[2019-05-16 21:40] pkarman commented on #10810
https://github.com/department-of-veterans-affairs/appeals-pm/tree/master/how-we-work

[2019-05-16 23:19] tomas-nava opened #10812 ""bad encoding in flate stream" error from pdf.js with certain documents"
Sentry error: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3013/events/336170/

[pdf.js](https://github.com/mozilla/pdf.js) has trouble rendering some PDFs, [possibly due to incompatible font issues](https://github.com/mozilla/pdf.js/issues/5798), and errors with the message "Bad encoding in flate stream". This doesn't appear to affect the ability of the user to view the

[2019-05-16 23:43] tomas-nava opened #10813 ""Loading chunk failed" error from webpack"
Sentry issue: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3020/events/336094/

Webpack will occasionally throw this error when it has trouble loading a chunk (a part of a bundle); [this appears to be a common error](https://github.com/webpack/webpack/issues/7502) that often corresponds to network issues, though I'm not confident that that's the problem here; it [may als

[2019-05-16 23:46] tomas-nava commented on #10664
I opened a separate issue for _3020_, #10813,  as I believe it's not a mark-as-read endpoint issue.

[2019-05-17 01:29] aroltsch commented on #10355
I think we can!

[2019-05-17 01:29] #10355 closed

[2019-05-17 01:40] leikkisa opened #10815 "Difference of Opinion | Handle dispositions"
### Story
The basic point of a higher level review (HLR) is for a senior adjudicator to review a claim and potentially make a different determination based on the same evidence. In some cases, a higher level reviewer will determine that evidence is missing from a claim, even though it's not a DTA error. In such cases, the HLR reviewer will need to close out the HLR and establish a supplemental cla

[2019-05-17 12:48] #7126 closed

[2019-05-17 14:05] lowellrex commented on #9527
@laurjpeterson I could not find Katrina Eagle in Caseflow's `users` table (as expected because she's never used Caseflow) nor in BGS using station ID 377 and each of the following CSS IDs: VBA/ATNKEAGL, VBAATNKEAGL, and VBATNKEAGL and she. Can we confirm that the CSS ID and station ID are correct?

But we have great news for the test with Bradley Hennings and CCK:
[code]
CCK has 8 cases assigned t

[2019-05-17 15:21] pkarman opened #10817 "scheduled_time_string is null"
Incoming http param for task update has a missing value for `scheduled_time_string`.

https://github.com/department-of-veterans-affairs/caseflow/pull/10816

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5057/events/336714/

[2019-05-17 15:29] pkarman commented on #10817
@lomaxap reports this is likely a caching issue since we had just deployed new js with new param naming scheme.

[2019-05-17 15:29] #10817 closed

[2019-05-17 16:02] lowellrex commented on #8810
Made some progress on investigating this issue with @hschallhorn with AMA appeals (didn't dig into the Legacy Appeals). See notes below:

[code]

Open questions to investigate further:
* `RootTask` cancels all child `TrackVeteranTask`s when it completes. Should it also cancel `TranslationTask`s?
* Should tasks other than blocking `MailTask`s (`HearingTask`, `InformalHearingPresentationTask`, and `

[2019-05-17 16:57] hschallhorn commented on #10792
@lowellrex  noticed `ama_auto_case_distribution` feature references as well which is also enabled in prod. Do we want to loop that feature into this issue as well?

[2019-05-17 17:00] #10639 closed

[2019-05-17 17:16] lowellrex commented on #10792
Yes please! Looks like [we turned this feature toggle on](https://github.com/department-of-veterans-affairs/appeals-deployment/pull/1982) on AMA day and we don't expect to ever turn it off so we can go ahead and remove the code that executes in the false condition.

[2019-05-17 17:55] lowellrex commented on #10609
Same bug again (https://dsva.slack.com/archives/C4JECDLSE/p1558105150001000):

[code]

[2019-05-17 18:33] pshahVA opened #10820 "Error merging appeals in Hearings"
This appeal along with quite a few others are taking the merged appeal out of 99 complete status and in turn making them workable in caseflow when they've already been merged with another appeal. Resulting in erroneous hearings being scheduled.

https://github.com/department-of-veterans-affairs/appeals-support/issues/5120

[2019-05-17 18:37] Chingujo commented on #10820
### Some context on my end

@pshahVA

Mmmm interesting. When an appeal is merged if legacy, the newer appeal is usually merged into the older. So one is closed and the other is kept active while maintaining the older docket

If we are pulling closed appeals as a result of a legacy merge either into the location or assigning tasks, then it would be a Caseflow thing.

So for example, —-> appeal merg

[2019-05-17 19:15] #10306 closed

[2019-05-17 22:48] pkarman commented on #10609
@laurjpeterson @leikkisa we should talk through the desired behavior here. We rely on the `benefit_type` for a request issue in order to assign a LOB (BusinessLine) org task. However, unidentified issues (not rating or non-rating) don't have a `benefit_type` -- where should they be assigned?

[2019-05-19 20:08] Sjones352 commented on #10780
@leikkisa not sure what you mean as the feature toggle is only allowed in `edit` but please send me an example where it shows on regular intake. I will also remove it from appeal as it does not apply to appeals. Please let me know if Colin said that this was good to go.

[2019-05-19 21:13] laurjpeterson commented on #9527
Emailed Katrina to confirm CSS ID and station ID today.

[2019-05-20 12:29] aroltsch opened #10822 "Connect BE with FE for Hearing Bulk Assignment"
Tech notes:
FE and BE is already implemented. We need modify FE to make a BE request and handle the response accordingly.

BE PR: https://github.com/department-of-veterans-affairs/caseflow/pull/10818

AC:
As any user from Hearing Management organization I should be able to bulk assign tasks.

[2019-05-20 12:55] laurjpeterson commented on #9527
@lowellrex here is her response:

I know for sure that the station ID is 377. The only other CSS username that it may be is just "ATNKEAGL" which actually makes sense since I am a private attorney, not a VA employee in any way.

If this doesn't work, I will follow up with my ISO tomorrow to see if she can access that information for me. Meanwhile, I located 2 more TMS certificates and hoping that

[2019-05-20 13:15] #10432 closed

[2019-05-20 13:38] lowellrex opened #10823 "Fix MailTask.pending_hearing_task?"
When we created [the `MailTask.pending_hearing_task?` method](https://github.com/department-of-veterans-affairs/caseflow/blob/21139ad42b84a3e39fea51a33f3d915afbf7c308/app/models/tasks/mail_task.rb#L64) we did not know how we would identify appeals with pending hearings. Since we are now holding hearings for AMA appeals and have the task pipeline created, we can use the existence of an open `Hearin

[2019-05-20 14:17] lowellrex opened #10824 "Automatically end IHP tasks after a set period of time"
Currently, tasks to draft informal hearing presentations (IHPs) are [only completed when the assigned VSO marks them as such](https://github.com/department-of-veterans-affairs/caseflow/blob/cb3cf31bc2e86d418fc45a4fd724adec0585215e/app/models/tasks/informal_hearing_presentation_task.rb#L9). This ticket exists to automatically mark IHP tasks complete after the deadline has passed.

## Acceptance cri

[2019-05-20 14:26] youngfreezyVA opened #10825 "create new scope in `Task` that finds actionable tasks that filters out `on_hold` tasks"
create a scope in `Task` that finds actionable tasks - this would entail renaming `active` to `open` and use `active` to mean actionable

- update all usages/instances of `tasks.active.where.not(status: :on_hold)` to use this new scope

- update `most_recently_assigned_to_label` in `app/models/appeal.rb ` to use this new scope

- fix the 30+ failing tests as a result of this change

[2019-05-20 14:40] lowellrex commented on #10825
Could we include renaming `inactive` to `closed` as well? So we end up with the following taxonomy:
![image](https://user-images.githubusercontent.com/32683958/58029892-880d7f80-7aeb-11e9-9a67-ca95b37580bd.png)

Where we currently have:
![image](https://user-images.githubusercontent.com/32683958/58029962-b25f3d00-7aeb-11e9-9120-9adfe37865bb.png)

[2019-05-20 14:46] lowellrex opened #10826 "Add back-end support for changing Task type"
#7126 created the front-end for changing `Task` types. This ticket exists to implement the back-end support for this new modal.

## Acceptance criteria
* [ ] Create new endpoint that accepts an existing task ID, a new task type, and any additional instructions we receive from the front-end (We can use the [Tasks/PlaceHoldController](https://github.com/department-of-veterans-affairs/caseflow/blob/m

[2019-05-20 15:00] lowellrex commented on #9527
`ATNKEAGL` worked! Created a `FieldVso` for Katrina Eagle (url: `katrina-eagle`) that should start receiving tracking tasks shortly so we can test with Ms. Eagle shortly as well.

[2019-05-20 15:05] lowellrex commented on #7556
## Ridgway sprint (20 May - 2 June) engineering priorities

@kevmo @lomky @hschallhorn, below are tickets that we will be working on related to this sprint.

### 1. Pagination
1. ⭐ (KEVIN) Use customColumns to build task table for OrganizationQueue #10619 (pagination)
1. ⭐ Build OrganizationQueue from static configuration #10620 (pagination)

### 2. Data cleanup
1. Investigate why attorney's signe

[2019-05-20 15:40] aroltsch opened #10827 "Throw 2xx status code when efolder doesn't respond within 10 seconds"
AC:
Throw 2xx status code when efolder doesn't respond within 10 seconds

[2019-05-20 15:42] pkarman opened #10828 "task claimant name undefined"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5114/

Throws JS TypeError on `return task.claimant.name.toLowerCase().includes(lowercaseSearchText)`

[2019-05-20 15:44] pkarman commented on #10827
I think we want 202 https://httpstatuses.com/202

[2019-05-20 16:17] #9906 closed

[2019-05-20 16:54] youngfreezyVA commented on #10825
sounds good! that makes sense. i'll also follow the bullet points above and look to replace usages of the old taxomony of closed/inactive

[2019-05-20 17:20] #10488 closed

[2019-05-20 17:23] laurjpeterson commented on #9587
Closing this issue in favor of (1) making this one an epic (2) opening tickets for each test that would fail if bullet was enabled, then (3) enabling bullet overall.

[2019-05-20 17:24] lomaxap commented on #9754
no longer creating cutoff for legacy hearings

[2019-05-20 17:24] #9754 closed

[2019-05-20 17:25] laurjpeterson commented on #10511
Discussion with Carola and LP 5/22. Will result in additional tickets.

[2019-05-20 17:26] #9581 closed

[2019-05-20 17:26] lomaxap commented on #9581
No longer need hearing prep printable view. duplicate of #9168

[2019-05-20 17:28] laurjpeterson commented on #8892
@aroltsch to take a look re: code climate issues

[2019-05-20 17:32] laurjpeterson commented on #8591
tagging @aroltsch to make sure it was merged.

[2019-05-20 17:32] #8620 closed

[2019-05-20 17:34] pkarman opened #10829 "Invariant Violation: Objects are not valid as a React child (found: object with keys {})."
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5055/events/345796/

At /hearings/schedule URL

[2019-05-20 17:37] laurjpeterson commented on #10323
@youngfreezyVA - let me know when this one has been deployed, because we could reach out to users and train them

[2019-05-20 17:38] laurjpeterson commented on #10323
Note: need to add Kate to Pulac-Cerullo organization

[2019-05-20 17:42] laurjpeterson commented on #10609
@laurjpeterson to schedule time to discuss with @pkarman @aroltsch @leikkisa

[2019-05-20 17:55] laurjpeterson commented on #10760
note: @laurjpeterson to confirm requirements

[2019-05-20 18:09] aroltsch commented on #8591
It is merged and deployed. Can we have a designer validate this in Demo @laurjpeterson?

[2019-05-20 20:28] aroltsch commented on #10665
Re: VBMSError::DocumentTooBig. We need to use VBMS paginated API. @nemodjuric looked into it. Nemo, could you please update us on the status of that api endpoint, where were you left off?

[2019-05-20 20:31] aroltsch opened #10830 "Cannot read property 'notes' of undefined"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5121/events/346046/

[2019-05-20 20:53] nemodjuric commented on #10665
I ran into a bug with this service and I let VBMS team know (you should be in that email thread @aroltsch). This is their response:

The new API endpoint has better performance. I ran some benchmark tests (3 x 1,000 sample) and it seems that FindPagedDocumentSeriesReferences performs on average 5% better.  However it's unreliable to be used as default. We can still try to use it in cases when resu

[2019-05-20 23:23] leikkisa commented on #10609
This assignment is temporary. Unidentified issues shouldn't be able to go through the process, someone is supposed to go back and update them with real issue.  We still need it to show up somewhere for someone to know to do that though.

We have been assuming that unidentified issues are most likely to be rating issues (particularly because the user can freely enter the description for nonrating i

[2019-05-21 00:08] lowellrex commented on #10324
Quick exploration of tasks that meet the criteria for the situation we are looking for here: https://caseflow-looker.va.gov/sql/cng5nvhz8d76m5

[code]

count | child_task_type | parent_task_type
-- | -- | --
32786 | ScheduleHearingTask | HearingTask
9715 | DispositionTask | HearingTask
2204 | HearingTask | DistributionTask
1084 | InformalHearingPresentationTask | DistributionTask
1007 | HearingAdm

[2019-05-21 04:10] laurjpeterson commented on #8591
tagging @sneha-pai!

[2019-05-21 12:58] lowellrex commented on #10609
Fixed two more (https://dsva.slack.com/archives/C4JECDLSE/p1558442353031700):

[code]

[2019-05-21 15:42] laurjpeterson commented on #9119
In judge training today, they requested that after they are in the Assign view and assign a case to the attorney. They are taken back to the Review cases view instead of the Assign view. Might this ticket help with that as well?

[2019-05-21 15:53] pkarman commented on #10516
* [ ] https://github.com/department-of-veterans-affairs/caseflow/pull/10079/commits/9c768e12c94d0394ed9376c003beec97bea8aec9
* [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/64702 (Reader Short list of documents Rotating documents - reader.reader_spec)
* [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/64781 (hearting schedule daily docket dropdown)
* [ ] ht

[2019-05-21 16:06] tomas-nava commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/65218 (`/spec/feature/queue/case_details_spec.rb:598` – font weight of visited cases; fails 1 out of 10 tries locally)
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/65218 (`/spec/services/hearing_time_service_spec.rb:46` – time flake; fails when run on circle near midnight)

[2019-05-21 17:11] pkarman opened #10839 "timeoutError fetching document_count from organization queue"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2989/events/346706/

## AC

* [ ] Improve the error message for better visibility in Slack
* [ ] Consider not raising a JS error for this particular request (or not logging it), but instead display an error message only. These are not mission critical requests.

[2019-05-21 17:40] youngfreezyVA opened #10840 "combine pre-selected org methods in task_action_repository into one method"
assign_to_privacy_team_data
assign_to_translation_team_data
assign_to_pulac_cerullo_data

can be combined into one method with some sort of a check on the task type. code climate picked this up.

[2019-05-21 18:48] aroltsch opened #10841 "Investigate where the duplicate appeal came from while there is an active supplemental claim"
Reference: https://dsva.slack.com/archives/C6E41RE92/p1558027963153500

[2019-05-21 19:22] Sjones352 commented on #10070
@leikkisa perhaps you would help me test this issue. Colin locked this rating 700060404 but I still can not recreate the `error message asking you to try again in 24 hours`.

Please view https://appeals.cf.uat.ds.va.gov/higher_level_reviews/c4630181-32aa-472d-843c-542d668badaa/edit
![Screen Shot 2019-05-21 at 3.14.05 PM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/ebd90ba5-f9

[2019-05-21 19:22] Sjones352 commented on #10070
@leikkisa perhaps you would help me test this issue. Colin locked this rating 700060404 but I still can not recreate the `error message asking you to try again in 24 hours`.

Please view https://appeals.cf.uat.ds.va.gov/higher_level_reviews/c4630181-32aa-472d-843c-542d668badaa/edit
![Screen Shot 2019-05-21 at 3.14.05 PM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/ebd90ba5-f9

[2019-05-21 19:28] #9397 closed

[2019-05-21 19:47] pkarman opened #10844 "current_user is nil"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3698/events/347069/

Possibly a race condition with Rails cookie session expiration.

[2019-05-21 20:41] pkarman commented on #10477
These appear to come from clicking the "Edit in Caseflow" link in VBMS for Supplemental Claims created for DTA errors. I am ignoring these in Sentry since we already present the appropriate message to the user.

[2019-05-21 20:41] #10477 closed

[2019-05-21 20:51] lowellrex commented on #10002
More progress! Only 17 remaining:

[code]

[2019-05-21 21:27] lomky commented on #10516
- [ ] [Circle](https://circleci.com/gh/department-of-veterans-affairs/caseflow/65387) (`/spec/models/hearing_day_spec.rb:380` - HearingDay Video Hearings returns video hearings that are not postponed [...] multiple hearings and multiple days...)

[2019-05-21 21:51] leikkisa commented on #10609
After looking at the issue, all of the tasks on the "Unidentified" business line are VeteranRecordRequest tasks. I don't think we need to create these for unidentified issues, we should create them once the issue is identified.

So I think for data clean up, we should just cancel all of those tasks.

We should also confirm that unidentified issues still show up in an appeal, so that someone knows

[2019-05-21 22:06] pkarman commented on #7385
@leikkisa This may be moot now but I am too far removed to know anymore.

[2019-05-21 22:30] #9728 closed

[2019-05-22 00:12] leikkisa commented on #7385
@pkarman I'd be down for closing this (I see that I re-opened it at some point lol).  I don't think we have a good way to know if there are locked ratings now, unless the only rating is locked, so that would make this hard.

[2019-05-22 00:12] #7385 closed

[2019-05-22 00:25] leikkisa commented on #10070
@Sjones352 I think the rating is still cached, because veteran.ratings is still returning the rating for me. They get cached for 1 day, so tomorrow the rating will be missing and you should be able to validate.

Backfilled and locked are a little different but I think for validating this ticket it should be okay.

[2019-05-22 00:26] leikkisa commented on #10070
@Sjones352 Did you mean to close this?

[2019-05-22 00:49] Sjones352 commented on #10070
Nope didn't mean to close it

[2019-05-22 12:45] #9621 closed

[2019-05-22 13:00] #10324 closed

[2019-05-22 13:25] lowellrex commented on #9119
I'm not entirely sure I understand the request here. When judges click into a case details page from the assign view and assign a case to an attorney they are taken to the review page.
![assign-from-case-details](https://user-images.githubusercontent.com/32683958/58177679-d436fc00-7c72-11e9-84dc-44f988fc8aa6.gif)

Or are they asking to be returned to the review cases page after they selectively as

[2019-05-22 14:29] pkarman opened #10846 "Document Hearing models and data flow"
## Acceptance Criteria

* [x] The `hearing*` models need column comments.
* [x] A narrative description of how the tables are related to one another and data models correspond to business flow. (Document in model files.)

### Notes
- There are differences in legacy vs. AMA cases relating to dates and times

[2019-05-22 14:44] aroltsch commented on #10846
This hearing task tree example is super helpful:

https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Project%20Folders/Caseflow%20Projects/Hearings/Hearing%20Schedule/Tech%20Specs/HearingTaskFlow.md#task-hierarchy

[2019-05-22 14:46] lowellrex commented on #8810
Peeling off the next dispatched AMA appeal that has active tasks and figure out what is going on.

[code]

Only 5 dispatched AMA appeals with incomplete tasks remaining.

[2019-05-22 14:47] aroltsch commented on #8591
@laurjpeterson @sneha-pai could you close this ticket once this is validated please. Thank you both!

[2019-05-22 14:57] lowellrex commented on #8810
4 dispatched AMA appeals with incomplete tasks remaining.

[code]

[2019-05-22 15:00] lowellrex commented on #8810
Down to 3!

[code]

[2019-05-22 15:23] lowellrex commented on #8810
Another QR task brings us down to 2!

[code]

[2019-05-22 15:35] #10069 closed

[2019-05-22 15:38] lowellrex commented on #8810
The lone remaining dispatched AMA appeal with an open task is for an appeal with a `BoardGrantEffectuationTask`. [Asking the intake experts](https://dsva.slack.com/archives/C2ZAMLK88/p1558539407494100)  on what we expect from this situation.

[code]

Moving on to looking at Legacy Appeals now.

[2019-05-22 15:55] #9861 closed

[2019-05-22 17:57] ferristseng commented on #9168
@Chingujo

Here's the PDF from the implementation I have on my branch:

[Daily Docket 2019-06-07.pdf](https://github.com/department-of-veterans-affairs/caseflow/files/3208668/Daily.Docket.2019-06-07.pdf)

[2019-05-22 19:44] pshahVA opened #10851 "Support VEText with Caseflow API"
## Background
VEText is an application that the VHA is using to send medical appointment reminder text messages to Veterans.  The hearings branch has asked to investigate the use of this system to send appeal hearings appointment reminders to Veterans.

### Hearings Branch Responsibilities
1. Schedule hearings for veterans that have requested them.
2. Gather availability of rooms, judges, as well

[2019-05-22 20:12] tomas-nava opened #10852 "Show "hearing not found" error when loading hearing details page for a hearing that doesn't exist in VACOLS"
Sentry error: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4354/events/347479/

[2019-05-22 20:24] lowellrex commented on #8810
We have 102 tasks attached to dispatched legacy appeals:
[code]

[2019-05-22 20:39] lowellrex commented on #8810
* Let's write a PR to only update VACOLS location code if the location code in Caseflow.
* Let's let the person who is assigned this task that they need to complete the task in Caseflow after we have fixed the re-charging location issue.

[code]

[2019-05-22 21:49] pkarman opened #10854 "Duplicate HearingTask on Legacy Appeals"
Reported in https://github.com/department-of-veterans-affairs/appeals-support/issues/5076

Perhaps related to #10643

This code can be run in production to identify duplicate tasks:

[code]

The chief culprit seems to be `HearingTask` where 2 (or more) are created at the same time.

[2019-05-22 21:50] pkarman commented on #10854
Running the sample code just now produced:

[code]

[2019-05-22 22:15] tomas-nava opened #10855 "Hearing schedule index times out loading for VSO users"
The hearing schedule page has started timing out for VSO users.

[Sentry error example](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5140/events/347499/)

Related slack threads: [one](https://dsva.slack.com/archives/C42P25D6H/p1557860730271700), [two](https://dsva.slack.com/archives/CHX8FMP28/p1558458958437100)

Closed PRs related to this work: #10796, #10819, #10845, #1

[2019-05-22 22:30] laurjpeterson commented on #8915
@sneha-pai - can i get your eyes on this one more time? I removed allyce's proposed behavior (which was for the modal to pop up the first time someone clicks to request cases) because I think this explanation needs to be available to users all the time.

allyce put together the instructional text component in #9879, but I don't think it will work based on where the `Request more cases` button is a

[2019-05-22 22:32] laurjpeterson commented on #9604
@youngfreezyVA - I unassigned you from the other instructional text for auto case distribution ticket and instead assigned you to this one as a stretch goal for this sprint. I think I actually meant to pull this ticket into this sprint. Let me know if that works for you and @aroltsch!

[2019-05-23 03:53] laurjpeterson commented on #9119
This one! Instead of being taken to the review page, they think it makes sense to be taken back to the assign page, since it's where they navigated to Case Details from

[2019-05-23 13:01] lowellrex commented on #9119
Yup! This ticket will address that scenario.

[2019-05-23 13:20] lomky commented on #10516
- [ ] [Circle](https://circleci.com/gh/department-of-veterans-affairs/caseflow/65580?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link) `./spec/feature/hearing_schedule/daily_docket_spec.rb:113` Hearing Schedule Daily Docket Daily docket for RO view user User can only update notes  `expected to find text "You have successfully updated" in "CaseflowHearings\n`

[2019-05-23 13:41] #10323 closed

[2019-05-23 14:00] #10827 closed

[2019-05-23 15:57] pkarman commented on #7954
Talked with @pshahVA about this idea. We agree getting communications about changes to Caseflow directly into users' hands is the best UX.

Open to using headwayapp.co if it will meet our needs and there are no VA obstacles. I'm not sure what "available on the VA network" means in this context @sunil-sadasivan -- do you mean that someone using Caseflow in production can also access that domain? I

[2019-05-23 16:34] pkarman opened #10863 "Report open Appeal and Legacy Appeals with no in-progress tasks"
We may have Appeals or Legacy Appeals that are "stuck" with no tasks assigned or in progress.

Write a service class to report on these, call-able via Rake task or background job.

[2019-05-23 16:35] #9999 closed

[2019-05-23 17:09] lomky commented on #10691
Changes are merged in, so all that's left to do is migrate the production tasks after it deploys tomorrow!

[2019-05-23 17:10] aroltsch opened #10864 "Reader: Not enough storage is available to complete this operation."
Reader periodically experiences "Not enough storage is available to complete this operation" errors

Sentry tickets:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2142/

[2019-05-23 17:35] pshahVA commented on #7954
@sneha-pai I wanted to get design input on something like this.

[2019-05-23 18:13] pkarman commented on #10731
can get this locally per instance with `curl http://169.254.169.254/latest/meta-data/instance-id`

[2019-05-23 18:15] #10690 closed

[2019-05-23 18:58] pkarman opened #10866 "Prevent intake using reserved file number"
File number 123456789 is so convenient to type for examples and test that it has a real Veteran record in production for BGS. The problem is that the record is so large that it will cause the initial intake response to time out fetching the record from upstream. If a user uses that number to test with, they will get stuck waiting for 24 hours for the intake-in-progress to expire.

As a work around

[2019-05-23 20:56] monfresh commented on #10764
@laurjpeterson Based on the current algorithm as defined in the [wiki](https://github.com/department-of-veterans-affairs/caseflow/wiki/Automatic-Case-Distribution), do you have any thoughts as to the correct proportion of withdrawn appeals? Would it be considered a priority or nonpriority appeal?

[2019-05-23 21:00] monfresh commented on #10764
I think that was the wrong question. Here's a better one: if an AOD appeal that would have previously been prioritized is now withdrawn, is it still considered a priority appeal, or should it now become nonpriority? Do all withdrawn appeals automatically become considered nonpriority?

[2019-05-23 22:00] #9168 closed

[2019-05-23 22:05] laurjpeterson opened #10872 "Allow BVA to see VeteranRecordRequest tasks in Case Details"
Some appeals only have paper files - Veteran documents have not been scanned into VBMS, for example. The Board needs these files in order to process the appeal.

Currently, when appeals are established with request issues with non-compensation or pension benefit types, Caseflow automatically creates a `VeteranRecordRequestTask` and assigns it to the correct business line. The task is listed in tha

[2019-05-23 22:42] laurjpeterson commented on #10872
Additional context from BVA:

<img width="965" alt="Screen Shot 2019-05-23 at 6 42 10 PM" src="https://user-images.githubusercontent.com/27704093/58291196-87464900-7d8a-11e9-936d-3c73a9472dbd.png">

[2019-05-23 22:59] laurjpeterson commented on #9604
Needs design and copy. Related: https://github.com/department-of-veterans-affairs/caseflow/issues/9879

[2019-05-23 23:11] laurjpeterson commented on #9583
Related: https://github.com/department-of-veterans-affairs/caseflow/issues/10872

[2019-05-23 23:11] laurjpeterson commented on #10872
Related: https://github.com/department-of-veterans-affairs/caseflow/issues/9583

[2019-05-24 03:36] Sjones352 commented on #10070
This is still not working. veteran.ratings is still returning the rating.

[2019-05-24 05:36] siaw23 commented on #10844
Link is dead.

[2019-05-24 13:37] #10767 closed

[2019-05-24 13:44] monfresh opened #10876 "Refactor automatic case distribution code"
**Why**: As I'm working with this code, I'm finding it hard to understand and test. In order to improve the readability of this code, I'd like to refactor it in small increments at a time. I typically start by addressing the [Long Method](https://refactoring.guru/smells/long-method) code smells by extracting smaller, well-named methods.

[2019-05-24 14:15] lomky commented on #10691
Production updated.
The 8 `AttorneyTask`s that were children of a `JudgeQualityReviewTask`s have been updated to be `AttorneyQualityReviewTask`s.
There was one `ColocatedTask` child of a `JudgeQualityReviewTask`. It was *not* affected by this change.

[code]

[2019-05-24 14:45] pshahVA opened #10878 "Allow certain users to manually distribute a case to a judge."
# Background
There are special AOD cases, ie. Terminally Ill Veterans need to bypass the case distribution algorithm in Caseflow and need to be distributed to a judge directly.

# Goals
Investigate a way of manually assigning a veteran to a judge.  Possibly allowing a Veteran to be manually pulled out of line while being mindful of legal and and policy implications.

# Idea

- Create organization

[2019-05-24 14:59] pkarman opened #10880 "Remove decision_reviews FeatureToggle"
The `decision_reviews` feature has been enabled since AMA day. Remove it from the code and from appeals_repository .yml file.

[2019-05-24 15:23] laurjpeterson commented on #10764
- I think so. @nicholasholtz to confirm

[2019-05-24 15:28] aroltsch opened #10882 "Unspecified error is thrown around paintImageMaskXObject"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5154/

[2019-05-24 15:31] aroltsch opened #10883 "Reader: Unprocessable Entity in Superagent"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2991/

[2019-05-24 15:46] nicholasholtz commented on #10764
I'm a little confused - who is marking this as withdrawn? Historically, at least in legacy, the case is still active and is assigned to the attorney, and the attorney marks it as withdrawn.

[2019-05-24 15:49] nicholasholtz commented on #10878
I would clarify that there is an open question here as to whether this should continue to be an engineering task, or whether the functionality should be built for a small group of users. I have no particular opinions there, other than the competing interests that (a)  it might make people's lives easier in the long run if that functionality was in place, and (b) providing the functionality is esse

[2019-05-24 16:10] #8682 closed

[2019-05-24 16:34] laurjpeterson commented on #10851
Notes from call with VEText team, PIF, the Board, and Caseflow on 5/24:

# VEText

## Requirements:
* One-way communication twice
	* 1 hearing reminder 2 weeks before
	* 2-3 days before
* BVA not open to 2-way communication yet based on law now
	* need to figure out copy/content for the text - telling the Veteran where they need to go to cancel / how they need to communicate

## VEText
* **Context

[2019-05-24 16:36] laurjpeterson commented on #10764
@nicholasholtz - some notes from my last convo's with rachel and jennifer for some context:
https://github.com/department-of-veterans-affairs/caseflow/issues/8936#issuecomment-490526695

they think that the case review / BVA intake team could mark the appeal as withdrawn as soon as the withdrawals come in.

this is different than today, when withdrawal of appeals mail tasks are assigned to VLJ sup

[2019-05-24 16:39] nicholasholtz commented on #10764
This might be neither here nor there, but this seems like something that, if they are still using the IDT, the IDT could essentially draft on its own and dispatch without having to go to an attorney. That would impact how attorneys got credit, but it would be faster and not waste time on something that is purely mechanical.

[2019-05-24 16:54] laurjpeterson commented on #8547
Notes about CUE:

As discussed, here is a c number for a CUE decision that may/not assist in determining EPs/notification to the ROs/tracking until final for section five.  Notably, I knew of a grant to-be-issued in Hopes, but that hasn’t been completely dispatched just yet.  I don’t readily have another that reflects CUE grant readily available.

Kristy, I’m looping you in because Nina and I were

[2019-05-24 16:55] lowellrex commented on #10854
Solutions here may be applicable to the epic seeking to address duplicate tasks of all kinds: https://github.com/department-of-veterans-affairs/caseflow/issues/10335

[2019-05-24 17:15] Chingujo commented on #9168
@ferristseng

Looking over this, as long as the all the data in the original is there and it prints on one day, this would be a good first step as users don't have this feature at the moment.

We can iteriate and improve upon as necessary with feedback since the design process is complete for this ticket.

Thank you so much for this!

cc: @pshahVA

[2019-05-24 17:19] pkarman commented on #10804
Include the "Issues not Editable" error message for intake.

[2019-05-24 17:32] laurjpeterson commented on #10764
i don't think the IDT can automatically add a judge signature though

[2019-05-24 18:58] lomky opened #10886 "Improved BVA Dispatch Tests"
Follow up from development in #10670

Create Model tests to cover the available actions on BVADispatch tasks for the assigned Bva Dispatcher, a non assigned dispatcher, and a non-assigned Bva Dispatch admin.

Create a full flow test [as @lowellrex suggested here](https://github.com/department-of-veterans-affairs/caseflow/pull/10670#discussion_r287478154)

[2019-05-27 00:05] Sjones352 opened #10890 "Refactor Edit Contention text Component"
The Edit contention text component needs to refactored to conform to the set style.
 ![Edit title 02](https://user-images.githubusercontent.com/11700545/55116058-53f57f80-50a3-11e9-9541-8db9df364e22.png)

[2019-05-27 01:51] Sjones352 opened #10891 "Edit contention text confirmation message"
When an Edit contention text is saved, it returns the the saved alert message. We should return another alert message saying that the contention was edited

## AC
- After a user edits contention text, they should return to the page they came from (e.g. case details) and see the below confirmation message
- Use COPY.json (so these messages can be easily updated later)

## Designs
![image](https://u

[2019-05-28 14:07] lowellrex opened #10894 "[Tech spec] Improve maintainability of tasks and task actions"
Maintenance and extension of the task model and task actions continues to occupy an extensive amount of developer time. This epic exists to address some of the issues that cause tasks and actions to occupy so much developer time.

### Process to add new task action

The rough outline of the process for adding a new action to a task is as follows:
1. Caseflow user group determines need for some act

[2019-05-28 14:15] #10601 closed

[2019-05-28 15:19] monfresh commented on #10764
The current logic for determining whether an appeal is ready for distribution is as follows:
- it has at least one Distribution Task with status `assigned`
AND
- it doesn't have any blocking Mail Tasks where the status is neither `completed` nor `cancelled`.

Another way of saying that last condition is:
- it doesn't have any blocking Mail Tasks where the status is `assigned`, `in_progress`, or `o

[2019-05-28 15:26] lowellrex opened #10896 "Remove old-style hold code and db column"
Completes the work from #9207.

## Acceptance criteria:
* [ ] Remove code that [assumes old-style holds](https://github.com/department-of-veterans-affairs/caseflow/blob/cb3cf31bc2e86d418fc45a4fd724adec0585215e/app/models/queues/generic_queue.rb#L9)
* [ ] Remove the vestigial `on_hold_duration` column from the `tasks` table
  * Wait until all old-style holds have expired before doing this so we don

[2019-05-28 15:35] Sjones352 commented on #10516
This test  https://circleci.com/gh/department-of-veterans-affairs/caseflow/65285 has been fixed. I used the `ensure_stable do` label and I see that it passes.

[2019-05-28 16:06] pshahVA commented on #10446
Are these still valid in light of the refactor of hearings prep?

[2019-05-28 17:02] aroltsch commented on #10760
Updated AC:

Request issue closed status:
Tech notes: https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/request_issue.rb#L40

Sometimes, request issues have dispositions aka closed_status. Veterans can opt to withdraw a request issue. Judges and other VA employees need to see that request issues already have dispositions, and therefore don't need a decision.

There

[2019-05-28 18:22] sharonwarner opened #10901 "Implement VBMS pagination API for connect VBMS gem"
### Sentry link:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5194/activity/

### Notes
Ask Anya Roltsch to forward the email regarding the API

### AC
- Implement VBMS pagination API for connect VBMS gem
- Create additional tickets as necessary to use it in caseflow. This is estimated as a 5, but could definitely be more.

[2019-05-28 18:56] sharonwarner opened #10902 "Page timeout"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4265/

The appeals endpoint is taking longer than 60 seconds in a few cases. I'm muting the Sentry alert for a month.

[2019-05-28 19:22] laurjpeterson commented on #10764
- Yes. If a user "removes" the appeal (right now, they remove all issues and choose to remove the entire appeal), all tasks will be canceled

- If all request issues on an appeal have the disposition of withdrawn

Adding @leikkisa because she worked on the withdrawn issue disposition stuff

[2019-05-28 19:30] laurjpeterson commented on #10878
Slack thread about this: https://dsva.slack.com/archives/C2ZAMLK88/p1558703774003200

[2019-05-28 19:38] pkarman opened #10903 "IDT API should return appeals by file number or SSN"
Given the ambiguity in how veteran id numbers are used (file number, participant id, SSN), our API should be generous in what it accepts. Right now it looks for filenumber or SSN. Let's make it return all appeals regardless of which one is supplied.

See https://dsva.slack.com/archives/CD5DAQNCU/p1559066919002100

[2019-05-28 20:00] #3846 closed

[2019-05-28 20:04] pkarman commented on #10645
@lomky I am seeing this alert has been re-opened. 😢

[2019-05-28 20:20] monfresh commented on #10760
This will require us to modify the appeal serializer to return withdrawn request issues, which it currently excludes via the `active_or_decided` scope: https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/serializers/work_queue/appeal_serializer.rb#L11

Would the correct scope be `active or decided or withdrawn`?

[2019-05-28 20:37] #9873 closed

[2019-05-28 20:44] aroltsch commented on #10760
Yes, we should either modify the existing scope if it is not being used anywhere else or create a new one.

[2019-05-28 21:14] pkarman commented on #10894
Another Drawback would be versioning -- if/when action chains change, there's no visibility into who/what/when as there is with code.

I like the idea of making this more self-serve. I worry that the drawbacks outweigh the savings in developer time (and shift the developer time burden to debugging things that are no longer in the code).

Do we have any sense from the business side whether the chur

[2019-05-28 21:31] lowellrex commented on #8810
@msj0nes Are folks still seeing these issues? If so can we reach out to (or as the attorney to reach out to) the VLJ support staff working on the task have them mark the task complete if it has been completed?

[2019-05-28 22:09] laurjpeterson commented on #10760
AC looks good to me. I updated the main issue above.

- How about we auto-populate it, but not restrict users from choosing others? The reason I'm thinking not to restrict it, is if there is any edge case that requires the decision issue to have something else, users wouldn't have to contact Caseflow to fix it

[2019-05-28 22:12] laurjpeterson commented on #10878
Question about this - are DistributionTasks assigned to an organization? I wonder if we could just create a queue for whatever organization that is, add some "super users" to that organization, and allow them to assign tasks to judges from there.

[2019-05-28 22:26] leikkisa commented on #10764
@laurjpeterson You have the correct answers above. It sounds like we might not want to cancel all tasks as part of withdrawing.  We didn't write the code for appeal level withdrawal status, so we might want to double check with @amprokop.

We can add a method to indicate whether an appeal was withdrawn based on whether the request issues were withdrawn, but there are some cases we'll want to talk

[2019-05-28 23:11] carolaponce commented on #10891
Short answer yes, the confirmation page would list everything that happened during the intake.  The confirmation for a contention title would appear back on the page where the user entered the Edit Issues page.  So if the user goes back to Queue the confirmation would show up in Queue, in the same format of the confirmation if you edit a review/withdraw issues or reviews.

[2019-05-28 23:14] carolaponce commented on #10891
![image](https://user-images.githubusercontent.com/11700545/58518340-afa3be00-8163-11e9-804f-8a8c61959b85.png)

[2019-05-28 23:15] carolaponce commented on #10891
![image](https://user-images.githubusercontent.com/11700545/58518363-c8ac6f00-8163-11e9-9f7a-dee2d961520d.png)

[2019-05-28 23:22] leikkisa opened #10906 "NCA | Handle Unlisted Non-Veteran Claimant"
### Story
Approximately 98% of NCA appellants are not the Veteran as the Veteran has passed.  Users are being stopped from proceeding because they select the Veteran is not the claimant, but the claimant is not a dependent of the veteran.  The claimants are not verified claimants in VBMS.  Currently many NCA claims are being blocked because they can't select a claimant.

### Acceptance criteria
-

[2019-05-28 23:57] laurjpeterson commented on #10891
@Sjones352 @carolaponce - i updated the main ticket body with AC and designs. can you review and see if we need to add anything else?

[2019-05-29 00:08] Sjones352 commented on #10891
@carolaponce how about `You have successfully updated  a contention title` or ` `You have successfully edited  a contention title`and that's because we are editing the contention title. Other than it looks good @laurjpeterson and I can work on it next sprint.

[2019-05-29 00:10] leikkisa opened #10907 "Do not show proposed rating issues in Caseflow"
### Story
The proposed ratings for Integrated Disability Evaluation System (IDES) claims are being pulled into Caseflow.  These are proposed claims and not claims that fall within the decision review lanes.

### Acceptance criteria
Proposed rating issues do not show up as options in the Add Issues modal.

![Screen Shot 2019-05-28 at 5.08.22 PM.png](https://images.zenhubusercontent.com/58f6b6eb51aa

[2019-05-29 12:24] lowellrex commented on #10878
Yup! `DistributionTask`s [are assigned to the mail team](https://github.com/department-of-veterans-affairs/caseflow/blob/338fab4208a2d9209426fe64b9571fa53a8f08ff/app/models/tasks/distribution_task.rb#L24) (I don't know why, but perhaps @amprokop recalls?).

That approach makes sense to me!

[2019-05-29 12:55] lowellrex commented on #10894
On previous projects that have allowed user-defined rules, we've just logged all the changes to the database so we could determine who and what changes were made.

I think you're totally right. The self-service idea is definitely the highest effort part of the proposal and potentially the lowest benefit (and biggest headache). However, I think each step along the path toward a self-service interfa

[2019-05-29 13:25] Sjones352 opened #10909 "Unterminated string constant"
Looks like the error is coming from this `RESET_DELETE_SUCCESSFUL`

Sentry error https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/1956/events/356971/

Issue
https://appeals.cf.ds.va.gov/hearings/schedule/docket/538

[2019-05-29 14:35] pkarman commented on #10828
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5135/events/356965/

[2019-05-29 16:23] RachelSauter commented on #10878
Question 1:

This is above my pay grade, but I can assist with making a recommendation to leadership if needed. In my opinion (not speaking for the Board) this is an important function and someone at the Board needs to be able to do this. But I agree that it would be dangerous to give a large group of people the ability to move cases around outside of the algorithm. I might put it with litigation

[2019-05-29 17:10] leikkisa commented on #10511
Adding these notes about missing ratings:
Reporting a couple of pension issues:
1.  Due to the unique workflow of pension work,  the PMCs are experiencing an issue with assigning the correct labels to 040s.  The PMC is unable to establish an 040 with the correct label when no rating was previously completed even if a rating is currently required.  The PMC requires the ability to select the appropr

[2019-05-29 17:40] laurjpeterson opened #10915 "Route Missing Hearing Transcript tasks to the Hearing branch"
When attorneys assign VLJ Support Staff the administrative action (`ColocatedTask`) of Missing Hearing Transcript, these tasks should be routed to the Hearing Management Branch organization, so the Hearing Management Branch can resolve the task.

## AC
- Missing Hearing Transcript tasks should have the option to assign to Hearing Branch.
- Remove option to assign to Privacy team.

## Current behav

[2019-05-29 18:12] carolaponce commented on #10891
Hi, taking a few steps back: you can add a contention title and you can edit a contention title.
This is only part of the edit flow - meaning post intake.
Can we have both messages?
**If the user Adds a CT:** You have successfully added...
**If the user Edit a CT:** You have successfully edited...

[2019-05-29 18:37] Sjones352 opened #10917 "Cannot read property 'scheduledFor' of undefined"
This is happening in component `app/hearings/components/AssignHearingsTabs` at `const date = moment(selectedHearingDay.scheduledFor).format('YYYY-MM-DD')`

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5230/
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5233/

[2019-05-29 18:44] pshahVA commented on #10878
Thanks @RachelSauter for the detailed response.
@laurjpeterson, I believe the next steps would be to determine if this is a backlog item or continue to do the manual backend fix (as @pshahVA suggested).  Maybe add this to the list of things to be prioritized?

[2019-05-29 18:44] laurjpeterson commented on #10551
@lowellrex - we're thinking about just giving users the VLJ role in VACOLS as a stop gap for the engineering work that needs to be done here. what do you think about that?

Supervisory Senior Counsel could assign tasks to DVC team admins (judges). They could then assign tasks to other judges.

It will have implications for Case Timeline, but maybe that's ok right to just solve their short term pro

[2019-05-29 18:47] laurjpeterson commented on #10878
@pshahVA - yep, going to ask JW about it today.

[2019-05-29 18:59] sharonwarner opened #10919 "Non-unique sattyids in staff table"
Email sent to Jed:

"""
When we are determining who a particular hearing is assigned to, we join the hearings table to the staff table using `hearsched.board_member = staff.sattyid`. Today, I realized there's at least one non-unique sattyid: "999". Is there a better way to join the tables to ensure uniqueness? Or is it possible to delete one of the staff entries for "999"?
"""

https://sentry.ds.v

[2019-05-29 19:02] leikkisa commented on #10907
Here is a list of pre-discharge EPs.  We are confirming if we can use this, and which ones to use to exclude "proposed" ratings.
[https://app.zenhub.com/files/51449239/a818aed5-af32-49ef-a9b5-3ca219cd2821/download](https://app.zenhub.com/files/51449239/a818aed5-af32-49ef-a9b5-3ca219cd2821/download)

[2019-05-29 19:27] amprokop commented on #10878
My memory of this is — we assign these tasks to the Mail organization because, if a Mail task comes in, it can then be added as a subtask and block distribution.

@lowellrex does that make sense to you?

[2019-05-29 20:14] pkarman opened #10922 "VSO error when clicking Feedback link"
When VSO users click the Feedback link in the Caseflow footer, they get a Drat error.

https://dsva.slack.com/archives/CHX8FMP28/p1559138021122300

[2019-05-29 20:47] sharonwarner commented on #10919
Jed deleted the duplicate sattyid from the STAFF table. I went through our db to see if we have any duplicate records and found 10.

[code]

I'm going through these tomorrow with @lomaxap to delete unnecessary entries and then will add a unique constraint on vacols_id

[2019-05-29 20:57] lowellrex commented on #10878
Makes sense!

[2019-05-29 21:15] pkarman commented on #10645
https://github.com/department-of-veterans-affairs/caseflow/network/alert/client/yarn.lock/tar/open

[2019-05-29 21:28] leikkisa commented on #10907
The ratings in the example above are associated with a "010DICI" End Product. Jane says the only ones that should have proposed ratings are "EP689", which is what 65342799 is (but is not connected to the issues above).  I want to try to dig into this a little more because we aren't seeing what we expect to see.

However, in the short term we may want to move ahead with excluding any rating issues

[2019-05-30 04:30] laurjpeterson commented on #10386
I don't think this was fixed in #9117 because Anya just manually moved the case from one judge to another in that case.

[2019-05-30 04:34] laurjpeterson commented on #8408
Moved to ready for dev pipeline because it's been estimated.

[2019-05-30 04:39] laurjpeterson commented on #8810
@lowellrex - I can help communicate with Corey and ask about this. He emailed me/Jennifer White about VLJ Support Staff still seeing old cases in their queues earlier this week, but that might be outdated.

[2019-05-30 04:44] laurjpeterson commented on #10824
On 5/18, we heard that the Chairman proposed 30 days for AODs and 120 for all other cases, starting June 1, but we were going to meet with the VSOs again before they finalized it.

[2019-05-30 04:52] laurjpeterson commented on #8636
I tried all three of these logins and station IDs and could not impersonate the users. Do we have the right CSS IDs and station IDs?

[2019-05-30 04:52] laurjpeterson commented on #6787
This is live, closing.

[2019-05-30 04:52] #6787 closed

[2019-05-30 04:54] laurjpeterson commented on #9838
Closing this one because we've confirmed that private attorneys can get access to eFolder Express through the CSEM process.

[2019-05-30 04:54] #9838 closed

[2019-05-30 05:02] laurjpeterson opened #10927 "Allow users to navigate from Caseflow products to eFolder express"
VSOs and private bar attorneys have access to eFolder Express, Queue, and Hearings. Let's make it easier for them to navigate between the apps.

## AC
- Users can use the Switch product toggle to navigate from Caseflow products, like Queue and Hearings, to eFolder express.

[2019-05-30 05:04] laurjpeterson commented on #9527
@wturne @lowellrex - FYI, I impersonated Brad just now.

**Queue:** He has an individual queue and can switch views to see Chisolm, Chisolm & Kilpatrick's cases. Note: they don't have any cases in their queue right now - you might need to make sure that Brad knows that Caseflow Queue for VSOs/private attorneys is _just_ for AMA cases right now (and I'll likely need to remind the Board too).

**Hea

[2019-05-30 05:07] laurjpeterson opened #10928 "Investigate: Allow certain users to move tasks to any team/person at any time"
Some BVA users need to "move cases" from any organization/person to any organization/person. This could be for a variety of reasons - someone is out on leave and a case needs to be moved; a Veteran is terminally ill and is allowed to quickly move from case storage to a judge; or other extenuating circumstances.

How might we support this request from the Board within the task model? Where does it

[2019-05-30 05:09] laurjpeterson commented on #10928
Related - allowing users to move cases from "case storage" outside of auto-case distribution - https://github.com/department-of-veterans-affairs/caseflow/issues/10878

[2019-05-30 05:11] laurjpeterson commented on #8288
Closing, because this has been implemented

[2019-05-30 05:11] #8288 closed

[2019-05-30 05:12] #5389 closed

[2019-05-30 05:18] laurjpeterson opened #10929 "Create landing page for all Board team queues"
We've created quite a few team queues across the Board. Some employees at BVA need insight into cases in all team queues. What if we created a landing page for all team queues, so "super admins" (like JW, DVCs, DVC admins) could easily navigate to see cases assigned to each team?

We could just add users to each of these organizations. The downside is that the "Switch views" toggle would become ve

[2019-05-30 05:30] laurjpeterson opened #10930 "Allow users to search for claim number OR SSN"
Right now, we only allow users to search for Veterans in Veteran Case Search using the Veteran's SSN. Some Veterans have SSNs, some have claim numbers, and some have both. We should allow users to use any of these numbers to search for Veterans, to have better feature parity with VACOLS.

## AC
- Users can search for Veterans by claims file number, if that claims file number is different than thei

[2019-05-30 05:34] laurjpeterson commented on #8810
If it's helpful, I can tell that

CSS ID | Case Details URL | Status
-- | -- | --
VACOULLERJ | https://appeals.cf.ds.va.gov/queue/appeals/2649463 | Still in attorney's On Hold queue, though Case Timeline says dispatched from BVA 1/08/2019 (and I can see the decision doc in Reader 1/8/2019 as well)

[2019-05-30 05:56] laurjpeterson commented on #10655
We've moved to separate sprint kickoffs/plannings. We're experimenting with Caseflow-wide standups for one sprint (starting June 3) and will evaluate whether we should separate into all 3 teams, or stay together. Closing!

[2019-05-30 05:56] #10655 closed

[2019-05-30 05:57] #2998 closed

[2019-05-30 05:57] laurjpeterson commented on #1388
@aroltsch - is this ticket still relevant?

[2019-05-30 06:00] laurjpeterson commented on #1641
Old ticket, so closing.

[2019-05-30 06:01] laurjpeterson commented on #1730
@amprokop - do you think we should keep this tech improvement ticket open? I'm doubtful we'll get to Caseflow Certification refactoring any time soon.

[2019-05-30 06:02] laurjpeterson commented on #1910
I think this is outdated, so closing.

[2019-05-30 06:02] #1910 closed

[2019-05-30 06:02] laurjpeterson commented on #1798
I think this is outdated, so closing.

[2019-05-30 06:02] #1798 closed

[2019-05-30 06:03] #2172 closed

[2019-05-30 06:04] laurjpeterson commented on #7673
Older, related ticket about POA addresses: #2311

[2019-05-30 06:04] laurjpeterson commented on #2311
Closing in favor of more recent discussion about POA addresses - #7673

[2019-05-30 06:04] #2311 closed

[2019-05-30 12:12] lowellrex commented on #10551
I don't know exactly what these users want to be able to do but I don't think they'll be able to do whatever it is they want with the VLJ VACOLS role alone because judge tasks are [restricted to the judge](https://github.com/department-of-veterans-affairs/caseflow/blob/6c73a230dcb661c4092c184cb195239d19f12182/app/models/tasks/judge_task.rb#L17) that is assigned that task.

[2019-05-30 12:39] aroltsch commented on #1388
It is done.

[2019-05-30 12:39] #1388 closed

[2019-05-30 12:48] lowellrex commented on #9527
@wturne and I masqueraded as Brad yesterday and were able to see AMA and legacy cases for Chisolm, Chisolm & Kilpatrick in their queue, so I'm not totally sure what is going on there but I can take a look together later on.

We were able to get a few hearings to load and so I think this is working as well!

[2019-05-30 12:55] msj0nes commented on #10551
SSC Team Admins (Jureka and Wendy) need to be able to:

I have confirmed that is all they will be doing in Caseflow.

The SSC Team Admins currently have AVLJ roles in VACOLS because they currently perform this assignment role, transferring cases from SSCs to VLJ in VACOLS. If Caseflow can recognize them as a VLJ this should resolve the issue so they can receive and transfer cases.

**_The main rea

[2019-05-30 13:04] lowellrex commented on #8810
It appears as if the appeal above (VACOLS ID: 2649463) has been remanded. The data is in the correct state, but maybe Caseflow is not behaving properly (we can write a ticket to address this and have Caseflow acknowledge remanded cases as closed). Either way, the open task is a `ColocatedTask` that is assigned to Tina Hunter so we can reach out Ms Hunter to see if she has completed work on the cas

[2019-05-30 14:00] leikkisa commented on #10548
We hear that the 18 release won't be until December.

[2019-05-30 14:12] pkarman opened #10933 "Filter Sentry-to-Slack alerts by exception class"
The "ignore" feature of Sentry does not work according to exception class names. Instead, add a filter to the sentry-to-slack lambda function to skip exceptions on an explicit list.

https://github.com/department-of-veterans-affairs/appeals-deployment/blob/master/ansible/roles/caseflow-jobs/files/sentry-to-slack/index.js

[2019-05-30 14:41] #10078 closed

[2019-05-30 14:48] sharonwarner opened #10934 "Duplicate Tasks"
We've seen this error for several different kinds of tasks:
- [ ] [ChangeHearingDispositionTask](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5237)
- [ ] [PrivacyActTask](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4902/)

[2019-05-30 15:01] pkarman opened #10935 "Document existing APIs"
We have at least 2 Caseflow APIs consumed by other apps (appeals-status/va.gov and IDT). Let's document them with `curl` examples, assuming an audience not familiar with Caseflow or Rails.

[2019-05-30 15:23] pkarman opened #10937 "Task with nil assigned_to"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5036/events/357404/

Should assigned_to be a required `not_null` column?

[2019-05-30 15:26] pkarman opened #10938 "Expired job report failing to alert"
Last reported on 5/21. https://dsva.slack.com/archives/C4JECDLSE/p1558487164040700

[2019-05-30 16:54] pkarman commented on #10937
These are VeteranRecordRequest tasks that should not have been created. Manually deleted them in db and opened PR to fix.

[2019-05-30 17:03] pkarman opened #10943 "Intake | Board Grant Effectuations | Add Board Grant EPs to list of special error messages for editing claims"
See #10548 for history.

## AC

When a VBMS user clicks the "Edit in Caseflow" button for an EP that Caseflow created as part of the outcoding process, it directs them to a not found page.  Currently these are not editable and there is not a UI to view them. Give the user a better error message with some directions.

See also #10021

[2019-05-30 17:23] pkarman opened #10945 "unknown benefit_type on request issues"
There are currently 9 request issues in production with a benefit_type of "unknown". They were all created since 16 May.

[2019-05-30 17:32] pkarman commented on #10945
All but 1 are `duplicate_of_rating_issue_in_active_review`

[2019-05-30 17:46] Sjones352 commented on #9555
@pkarman I tried reproducing this error and checking console for `Unable to get property 'value' of undefined or null reference` but there is nothing.  I enabled the ` FeatureToggle.enable!(:ramp_intake)` because it happens in the SelectForm component. I have a feeling this was a one off or it is no-longer happening. Not sure if we can close it since we disabled RAMP feature toggle.

[2019-05-30 18:01] pkarman commented on #10945
The remaining 1 had a parent contested decision issue, and the benefit type should inherit from there. h/t @leikkisa

[2019-05-30 18:05] #9758 closed

[2019-05-30 18:21] pkarman opened #10947 "Refactor classes into separate files"
Let's refactor our Task subclasses into separate files. It will make them easier to find and fixes Rails autoloading.

See https://devblast.com/b/sti-keeping-subclasses-file for background.

[2019-05-30 18:23] sharonwarner opened #10948 "AttorneyJudgeCheckoutError: Diagnostic code is not included in the list"
Validation failed: Benefit type is not included in the list

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4971/

[2019-05-30 18:24] pkarman commented on #9555
According to sentry it has happened several times but most recently over a month ago.

I'm happy to believe it was RAMP related and just close this as a won't fix. It it happens again we can re-visit.

[2019-05-30 18:24] #9555 closed

[2019-05-30 18:26] pkarman commented on #10948
possibly connected to #10945

[2019-05-30 18:30] pkarman commented on #10948
it's the `unidentified` benefit type that's the problem. We should be requiring those issues to be identified first. See #10609

[2019-05-30 19:13] pkarman opened #10950 "Queue | Add Decisions Flow | Attorney | Highlight unidentified appeal request issues in Case Details"
## Background
Appeals may have "unidentified" issues associated. These happen when Caseflow Intake users aren't sure what the issue on appeal is. These require further investigation to turn into rating or nonrating issues in order to go through the appeals process. (Note: most Board employees who work appeals do not understand rating vs. non-rating nuances)

We need to draw attention to them in Ca

[2019-05-30 19:15] aroltsch opened #10951 "Bulk Task Assignment should be available to other organizations"
There are a few places in the code where we hard code organization to be Hearing Management in order to make Bulk assignment work. We should make it so any organization can use this feature.

## AC

- [ ] Bulk Task Assignment is available to all organizations

[2019-05-30 19:44] pkarman commented on #10938
The previous job for prepare establish claim is failing in a `VBMS::Requests::FindDocumentVersionReference` call with an error:
[code]

[2019-05-30 21:13] pkarman commented on #10365
complete

[2019-05-30 21:13] #10365 closed

[2019-05-30 21:25] #10619 closed

[2019-05-30 21:36] pkarman commented on #2917
Efolder API is fully live. The `Document.fetch_content` method still talks directly to VBMS. Not clear to me whether it is still being used anywhere. Logging added to trace if deprecated method is still used.

[2019-05-30 21:37] #1641 closed

[2019-05-30 21:38] #2312 closed

[2019-05-30 21:40] laurjpeterson commented on #2737
Old, and I don't think relevant enough for us to keep open. Also, the out of service section of this ticket has been solved by Statuspage

[2019-05-30 21:40] #2737 closed

[2019-05-30 21:40] #2823 closed

[2019-05-30 21:40] #2856 closed

[2019-05-30 21:44] #3126 closed

[2019-05-30 21:45] laurjpeterson commented on #3322
Closing because Mark and team did a ton of refactoring after this ticket and into early 2018

[2019-05-30 21:45] #3322 closed

[2019-05-30 21:45] #3319 closed

[2019-05-30 21:46] pkarman commented on #10854
See also #10630

[2019-05-30 21:48] laurjpeterson commented on #3402
I think Mark fixed this on a more recent ticket before he left. Closing.

[2019-05-30 21:53] laurjpeterson commented on #3541
I don't think this search is relevant anymore because we've replaced Reader's Veteran search with Queue's. Closing.

[2019-05-30 21:53] #3541 closed

[2019-05-30 21:54] #3738 closed

[2019-05-30 21:55] #4096 closed

[2019-05-30 21:55] #4133 closed

[2019-05-30 21:55] #4144 closed

[2019-05-30 21:55] #4180 closed

[2019-05-30 21:56] #4392 closed

[2019-05-30 21:59] #5246 closed

[2019-05-30 22:01] laurjpeterson commented on #5406
A spec was written for AMA schema, so closing.

[2019-05-30 22:01] #5406 closed

[2019-05-30 22:01] #5195 closed

[2019-05-30 22:01] #5791 closed

[2019-05-30 22:03] laurjpeterson commented on #5850
@aroltsch is this ticket still relevant?

[2019-05-30 22:04] laurjpeterson commented on #6232
Closing because we're using caseflowdemo.com now

[2019-05-30 22:04] #6232 closed

[2019-05-30 22:04] #6367 closed

[2019-05-30 22:06] #6477 closed

[2019-05-30 22:10] #6645 closed

[2019-05-30 22:26] aroltsch commented on #5850
we can close it

[2019-05-30 22:26] #5850 closed

[2019-05-30 22:37] #4931 closed

[2019-05-30 22:45] laurjpeterson commented on #5313
@nemodjuric - is this ticket still relevant?

[2019-05-30 22:48] #8238 closed

[2019-05-30 22:48] #8756 closed

[2019-05-30 22:51] #4630 closed

[2019-05-30 22:52] laurjpeterson commented on #7918
@sharonwarner do you think this ticket is still relevant post-hearings refactoring?

[2019-05-30 22:55] laurjpeterson commented on #4843
Note: We now have Schedule Hearing tasks for both legacy and AMA appeals that can indicate whether a hearing is pending scheduling or not.

[2019-05-30 22:56] #7838 closed

[2019-05-30 22:57] #7105 closed

[2019-05-30 22:57] #7088 closed

[2019-05-30 22:57] #6655 closed

[2019-05-30 22:58] #2251 closed

[2019-05-30 22:59] laurjpeterson commented on #3021
Closing because we don't use Travis anymore.

[2019-05-30 22:59] #3021 closed

[2019-05-30 23:00] laurjpeterson commented on #7064
@aroltsch is this ticket still relevant?

[2019-05-30 23:00] laurjpeterson commented on #7065
@aroltsch is this ticket still relevant?

[2019-05-30 23:07] laurjpeterson commented on #2456
we don't use travis anymore, so closing.

[2019-05-30 23:07] laurjpeterson commented on #2831
@aroltsch do you think we could close this ticket?

[2019-05-30 23:08] laurjpeterson commented on #2878
@aroltsch - do you think we should keep this ticket open?

[2019-05-30 23:11] #3402 closed

[2019-05-30 23:14] #6243 closed

[2019-05-30 23:17] #3927 closed

[2019-05-30 23:24] #2462 closed

[2019-05-30 23:27] #7404 closed

[2019-05-30 23:29] laurjpeterson commented on #7152
@lowellrex is this ticket still relevant, given the work you've done on timed tasks / allowing all individual queue folks to place tasks on hold?

[2019-05-30 23:33] leikkisa commented on #10609
Peter pointed out that a lot of these were on ineligible issues, so I checked that any issues without a benefit type on those were ineligible and deleted the VeteranRecordRequests for those. There are still two left, we're waiting to hear back from Rachel if it's okay to delete those.

[2019-05-31 00:06] laurjpeterson commented on #9604
@aroltsch - I thought we also hid ineligible issues from the Issues section of Case Details, just like we hide them from check out flows. Could you help me confirm this?

If we already do hide ineligible issues from Case Details, then we can close this ticket.

[2019-05-31 00:07] #10176 closed

[2019-05-31 00:09] #9724 closed

[2019-05-31 00:11] laurjpeterson commented on #9133
We've done this! Closing.

[2019-05-31 00:11] #9133 closed

[2019-05-31 00:20] leikkisa commented on #10907
BGS says we shouldn't get these rating returned to us at all.  They are looking into the example from above.

[2019-05-31 00:29] leikkisa commented on #9179
SR for the data report from BGS that gives us reasons for why these were cleared: #SR-001884

[2019-05-31 10:58] #5313 closed

[2019-05-31 12:30] #10411 closed

[2019-05-31 12:44] #7064 closed

[2019-05-31 13:02] aroltsch opened #10955 "Spike - Determine whether we need to create a contested issue in BGS for withdrawn issues"
A request issue can get a closed status:

[code]

Open questions:
1. Should we allow an attorney/judge add a decision issue for these and select a different disposition? ```Yes```
1. Instead of having attorneys/judges adding a decision issue, we can create a decision issue on the BE with a corresponding disposition. For example, for a withdrawn request issue, we can create a decision issue with a

[2019-05-31 13:11] #7065 closed

[2019-05-31 13:15] #2831 closed

[2019-05-31 13:16] aroltsch commented on #2878
I think we can close it

[2019-05-31 13:16] #2878 closed

[2019-05-31 13:35] aroltsch commented on #9604
I am confused by this ticket. Is it for unidentified or ineligible request issues? I think these two "statuses" are different from each other? I think we'd still like to display an `unidentified` issue on case details so an attorney can correct this issue in the request issue edit page? Yes, ineligible request issues are hidden from Case Details.

[2019-05-31 13:36] lowellrex commented on #7152
Great find! You're totally right, this is completed by [the work we did](https://github.com/department-of-veterans-affairs/caseflow/blob/6edbd5334a4c6f1284b158d1058dc549042ccd72/app/models/task.rb#L77) for the timed hold tasks.

[2019-05-31 13:36] #7152 closed

[2019-05-31 13:38] pkarman commented on #2456
these tests are still skipped, putting this in backlog.

[2019-05-31 13:39] pkarman commented on #2462
`config.google_analytics_account = ENV["GA_TRACKING_ID"]`

[2019-05-31 14:16] sharonwarner opened #10956 "VACOLS::Case::InvalidLocationError for attorney"
It looks like nathan.kroes@va.gov doesn't have a valid VACOLS location.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2584/

[2019-05-31 14:17] sharonwarner commented on #10956
Whoops - closing in favor of other similar ticket. https://github.com/department-of-veterans-affairs/caseflow/issues/7566

[2019-05-31 14:17] #10956 closed

[2019-05-31 14:17] sharonwarner commented on #7566
Happening here as well: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2584/

[2019-05-31 15:36] Chingujo opened #10957 "Investigate that Schedulable Manilla Veterans are unblocked"
Verify that hearing coordinators can remove "verify address task" to unblock manilla veterans to be scheduled.

[2019-05-31 15:38] Chingujo commented on #10630
This duplicate task is related to:

#10522 Null dispostions not being created

#10854 Duplicate hearing tasks for legacy

[2019-05-31 16:11] pkarman commented on #10516
* [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/66869
Task.create_and_auto_assign_child_task when the task is assigned to an organization

[2019-05-31 16:12] lomaxap commented on #10522
will be resolved with #10630

[2019-05-31 16:12] #10522 closed

[2019-05-31 16:35] sharonwarner opened #10961 "Incorrect legacy_task URL"
It looks like this user is trying to navigate to a badly formed URL.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5248/

[2019-05-31 16:42] lomaxap commented on #10563
The [hearing day controller](https://github.com/department-of-veterans-affairs/caseflow/issues/6777) filters hearing days [based on the user's role](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/hearing_day.rb#L157). Would need to either add a parameter to request to bypass this logic, or return all hearing days and filter on the front end.

Inside the daily doc

[2019-05-31 17:21] lomaxap opened #10964 "Improve Hearing Worksheet Printout"
Grouping a few tickets into one Epic

- [x] #5390
- [x] #8885
- [x] #10291
- [x] #10314
- [x] #10555
- [x] #10293

[2019-05-31 17:45] pkarman opened #10965 "Route va.gov alerts in Slack"
Right now the va_dot_gov_service.rb failures show up unrouted in the #appeals-app-alerts channel. We should

* [ ] Name the exceptions better
* [x] Route them in Slack better

[2019-05-31 17:55] pkarman commented on #9604
@aroltsch is correct. `unidentified` is a category like `rated` or `nonrated`

Any one of those 3 could be ineligible.

[2019-05-31 18:17] leikkisa opened #10967 "Issue processed in AMA when not opted in"
https://dsva.slack.com/archives/C754H751T/p1559138769030700
https://dsva.slack.com/archives/CA1QBDLEL/p1559163273020700

There is an issue that was already in the legacy system.  The Veteran did not opt to withdraw their legacy appeals, but the CA did not select the matching legacy issue, so it was not marked as ineligible. Then it proceeded to get an AMA decision, and after that a disposition of

[2019-05-31 19:40] youngfreezyVA opened #10968 "remove duplicate appeals in assigned and on hold tabs"
https://github.com/department-of-veterans-affairs/appeals-support/issues/5293

potentially use new `active` scope instead of `open` in attorney_queue.rb

[2019-05-31 19:45] #10822 closed

[2019-05-31 20:45] kevmo commented on #10002
rails c> tasks_to_fix = Task.active.where(type: GenericTask.name, assigned_to: Colocated.singleton)
rails c> tasks_to_fix.count

# 11 left!

rails c> pp tasks_to_fix.first.appeal.tasks.order(:created_at).pluck(:id, :parent_id, :type, :status, :assigned_to_type, :assigned_to_id)

[1916, nil, "ColocatedTask", "on_hold", "Organization", 23],
 	[1917, 1916, "ColocatedTask", "on_hold", "User", 1967],

[2019-05-31 20:45] sharonwarner opened #10970 "User (VACOMATHEM1) not found in BGS"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5250/

[2019-05-31 20:51] pkarman commented on #10970
So they were a user when the task was assigned, but have stopped being a user upstream.

This feels like a manual clean up, where we'd need to re-assign to the user's org.

[2019-06-02 18:12] monfresh opened #10972 "Automatic Case Distribution: Replace boolean and other parameters with specific methods for each scenario"
Example: instead of:
[code]
create a better named method that calls the specific class and method directly:
[code]
This avoids having to go through Docket Coordinator as a middleman, just to fetch the right class.

[2019-06-02 22:30] laurjpeterson commented on #9604
@aroltsch - ah, sorry for the confusion. This ticket began by being about both ineligible and unidentified. Since Peter made another ticket about unidentified issues (#10950) I transferred all the info about unidentified issues from this one to that one, but didn't update the ticket title.

This ticket will just be about ineligible issues.

Do we already hide ineligible issues from the Issues sect

[2019-06-02 22:33] #9604 closed

[2019-06-02 22:48] laurjpeterson commented on #5385
The Board has appointed more acting judges. We haven't deprecated DAS yet (and aren't likely to do so in the next few months). Posting those acting judges here so we have them.

[01-19-03 AVLJ June.pdf](https://github.com/department-of-veterans-affairs/caseflow/files/3245328/01-19-03.AVLJ.June.pdf)

[2019-06-02 22:55] laurjpeterson commented on #8591
Demo may not be up to date, but I don't see this styling in demo to validate it - http://www.caseflowdemo.com/queue/appeals/d698f6c3-9a01-40d7-b76f-3d74f02800c7
<img width="1059" alt="Screen Shot 2019-06-02 at 6 55 04 PM" src="https://user-images.githubusercontent.com/27704093/58768356-07796500-8568-11e9-88af-1ff3592151e7.png">

[2019-06-02 23:00] laurjpeterson opened #10973 "Change which tasks we cancel when appeals are withdrawn"
Currently, we cancel all open tasks on an appeal when an appeal is withdrawn (all issues are withdrawn). We need to change this logic based on what we've learned about distributing withdrawn appeals to judges for decision.

## AC
- When all request issues on an appeal are withdrawn, cancel all open tasks except:
   - `RootTask`
   - `TrackVeteranTask`
- Add `DistributionTask` with status assigned

[2019-06-02 23:05] laurjpeterson commented on #10764
Good point, @leikkisa. We'll need to modify what we do when all issues are withdrawn. Started a ticket, here: https://github.com/department-of-veterans-affairs/caseflow/issues/10973.

I think it'd be the same for appeals with only ineligible issues and the rest being withdrawn. I don't think BVA needs to act on the ineligible issue, and we shouldn't count it being on appeal.

@monfresh - FYI I als

[2019-06-03 00:21] laurjpeterson opened #10974 "Fix Motion to Vacate task"
Litigation Support assigned the Motion to Vacate mail task to "unidentified". Let's investigate where this task now is, and move it back to being assigned to Litigation Support organization.

https://appeals.cf.ds.va.gov/queue/appeals/de87df4e-c8c9-4975-9c47-c862a78e42db

From Lit Support user, answering my question about how they did this:

[2019-06-03 00:24] laurjpeterson opened #10975 "Fix Pulac-Cerullo in Case Timeline"
Feedback from Lit Support users

## AC
- Pulac Cerullo task shows in Case Timeline in chronological order, above the Dispatched from BVA date.

[2019-06-03 12:32] lomky commented on #10691
I believe this ticket is complete! Closing. Reopen please, if I'm mistaken.

[2019-06-03 12:32] #10691 closed

[2019-06-03 12:37] aroltsch commented on #8591
@youngfreezyVA can you please check it out?

[2019-06-03 12:37] lomky commented on #8693
Main PR tests passed and m merged! A bit of follow up for more tests in #10886, and then this issue is complete.

[2019-06-03 13:03] lowellrex commented on #10915
Could benefit from the task model improvements suggested in #10894 (though `ColocatedTask`s might have to be [refactored to inherit from `GenericTask`](https://github.com/department-of-veterans-affairs/caseflow/issues/9057) before we could do that).

[2019-06-03 13:24] lowellrex commented on #10928
One key aspect of modeling the set of work tasks as a tree (with interconnected organizations) instead of a linear set of owners (as it is with VACOLS locations) was to ensure that cases proceed through some defined set of checkpoint (branches of the task tree). In order to understand how we could accomodate this request within that model (or if, perhaps, that model needs to be reconsidered), I th

[2019-06-03 13:39] lomaxap commented on #10562
@laurjpeterson we're not sure how to prioritize this for the next sprint. can you give us a sense? We think this should be ranked pretty

[2019-06-03 13:45] #9975 closed

[2019-06-03 14:56] lowellrex commented on #9527
Closing this ticket since work is complete. `PrivateBar` entities can be created in the Caseflow Team Management interface (#10960) and we changed the two pilot organizations from `FieldVso`s into `PrivateBar`s.

[code]

[2019-06-03 14:56] #9527 closed

[2019-06-03 15:36] lomaxap opened #10978 "All Canceled Hearings Should Get an EvidenceSubmissionWindowTask"
Currently, `EvidenceSubmissionWindowTask`s are only created if a `ScheduleHearingTask`is canceled (which means the hearing was withdrawn) or if the hearing is scheduled and held. All hearings that are cancelled should be given `EvidenceSubmissionWindowTask`

[2019-06-03 16:05] #8155 closed

[2019-06-03 16:05] lomky opened #10980 "Cannot read property 'isLegacyAppeal' of undefined in CaseDetailsView"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3630/

We've seen this error previously in another section of code #8229

[2019-06-03 16:09] lomaxap commented on #10630
depends on #10337

[2019-06-03 16:11] lomaxap commented on #10854
Removing caseflow-hearings label in favor of #10630

[2019-06-03 16:16] lomaxap commented on #10930
mostly an investigation ticket for now. Create a tech spec detailing how to implement search across multiple ids

[2019-06-03 16:18] lomaxap commented on #10152
also need to investigate whether or not production data currently violates this constraint

[2019-06-03 16:21] laurjpeterson commented on #10928
Additional information from Jennifer. Initially, she thinks that DVC team admins (she refers to them as staff assistants) would be the ones who would make various case moves.

Some case management scenarios I remember from judge research:
- Moving a JudgeDecisionReviewTask from one judge to another while that judge is on leave (I think this was addressed above)
- Moving a JudgeAssignTask from one

[2019-06-03 16:35] aroltsch commented on #10955
We can close it. Questions answered. cc @laurjpeterson

[2019-06-03 16:35] #10955 closed

[2019-06-03 17:02] laurjpeterson opened #10982 "Investigation | Allow Lit Support users to assign Motion to Vacate tasks to judges"
Judges are required to decide Motions, including Motions to Vacate. Litigation Support first receive Motion to Vacate mail tasks, but then assign them to judges to decide. They often assign them to the judge who originally wrote the decision.

Here's a picture of what we think the task tree needs to look like:
<img width="206" alt="Screen Shot 2019-06-03 at 12 58 18 PM" src="https://user-images.gi

[2019-06-03 17:14] #10764 closed

[2019-06-03 17:29] laurjpeterson commented on #10511
One scenario we're sure of is ratings are earlier than 2003. We should create a separate ticket for the implementation of this.

[2019-06-03 17:43] laurjpeterson opened #10984 "Reflect withdrawn appeals in Case Timeline (frontend)"
When an entire appeal has been withdrawn, users need to be able to see that event reflected in Case Timeline, so they don't add actions to an appeal that are not needed.

## AC
- If all issues on an appeal are withdrawn, use the maximum withdraw date. Show the withdrawn icon and event in Case Timeline per mocks below
- So, if multiple issues are withdrawn on different dates over time, use the date

[2019-06-03 18:00] #10825 closed

[2019-06-03 18:35] #10480 closed

[2019-06-03 18:39] #9207 closed

[2019-06-03 18:39] pkarman opened #10985 "Intake fails to recognize is_unidentified flag"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5265/events/359989/

Prelim investigation shows that the payload being sent from the Javascript browser side does not include the `is_unidentified` boolean flag, and so the `decision_text` is not being saved on the request issue.

From the AWS logs

dsva-appeals-certification-prod/opt/caseflow-certification/src/log/caseflow-ce

[2019-06-03 18:40] #8693 closed

[2019-06-03 18:42] laurjpeterson commented on #8810
LP will look again at the cases Martina posted and post what they would need to ask of other users to complete, so those tasks are no longer on hold.

[2019-06-03 18:45] leikkisa commented on #10609
Appeal 2525 (b954989a-478a-4bfb-a332-83b39055d144) and appeal 2962 (e5c281fb-4953-4ab9-9c78-86341ec4517a)

[2019-06-03 18:53] pkarman opened #10986 "Ineligible due to FK missing"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5266/events/360011/

When a request issue is manually deleted, and another request issue refers to it with the `ineligible_due_to` FK column, any request that attempts to refer to it may throw Ruby exception about nil object and undefined methods.

## Possible solutions

* Use `try` with some generic fallback text
* Real FK co

[2019-06-03 19:00] lowellrex commented on #7556
## Omaha sprint (3-16 June) engineering priorities

@kevmo @lomky @hschallhorn, below are tickets that we will be working on related to this sprint. We will be using [Zenhub](https://github.com/department-of-veterans-affairs/caseflow#zenhub) to track progress on tickets. This workload assumes that the Echo team will be able to dedicate 5 developer weeks of time this sprint.

### 1. Pagination
1. ⭐

[2019-06-03 19:05] pkarman commented on #10930
I would love to see a `VeteranFinder` service or query class that takes a SSN or file number of any flavor and returns an array of `Veteran` objects that matches. That would be very useful in several contexts. It would wrap around `Veteran.find_by_file_number_or_ssn` https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/veteran.rb#L223 and then double-checks that we mig

[2019-06-03 19:07] leikkisa commented on #10714
Passes in UAT

![Screen Shot 2019-06-03 at 12.04.45 PM.png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/85ee2996-1f34-46f6-a06b-cc6bd57691e9)

[2019-06-03 19:07] #10714 closed

[2019-06-03 19:11] leikkisa commented on #10070
We haven't been able to get Colin to successfully lock the rating (and for it to stay locked).  We are successfully getting this rating returned in the console, with "N" for the lockedRatingInd.

We are going to close this issue since we can't validate it in UAT.

[2019-06-03 19:11] #10070 closed

[2019-06-03 19:15] #9072 closed

[2019-06-03 19:15] leikkisa commented on #9072
![Screen Shot 2019-06-03 at 12.15.14 PM.png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/06964c25-b240-4e12-b49a-1054a54f5a0e)

[2019-06-03 19:27] ferristseng commented on #10665
Another FilenumberDoesNotExist error, but it's being reported as just a VBMSError for some reason.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5254/

[2019-06-03 19:29] laurjpeterson commented on #10542
Goal: draft email by 6/10.

Target audience (to be decided by next week 6/10):
- Caseflow Intake, at the end of the flow
- Attorneys
- VLJ Support Staff

[2019-06-03 19:38] laurjpeterson commented on #10043
@sneha-pai and I connected. We agree with changing the Judge Review queue to say "Your cases" especially because they will have more task types than just reviewing cases for decision signing.

Just a question - Is it possible to add the # of tasks in a person's queue to the Your cases title? like: "Your cases (x)" Reasoning:
- I could see judges asking for the total # cases in their queue back in

[2019-06-03 19:59] leikkisa commented on #10794
Validated in UAT:

![Screen Shot 2019-06-03 at 12.15.14 PM.png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/e6f81190-661d-4e4c-8e1a-539e99bce104)

[2019-06-03 19:59] #10794 closed

[2019-06-03 20:00] #10780 closed

[2019-06-03 20:02] leikkisa commented on #10780
Validated in UAT:
![Screen Shot 2019-06-03 at 1.02.14 PM.png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/23201c8b-8862-41fb-80e2-7c0c36d3b6a8)

[2019-06-03 20:05] leikkisa commented on #10597
Validated in UAT, this screenshot is after I saved the description to end with a !
![Screen Shot 2019-06-03 at 1.04.50 PM.png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/438920e9-89af-46dc-a9bb-5487f083f6aa)

[2019-06-03 20:05] #10597 closed

[2019-06-03 20:05] #10596 closed

[2019-06-03 20:08] leikkisa commented on #8892
I am closing this, because it is just a copy change, and we don't currently have any legacy issue opt-ins in UAT to make this easy.

[2019-06-03 20:08] #8892 closed

[2019-06-03 20:09] leikkisa commented on #10594
Validated at same time as 10780

[2019-06-03 20:09] #10594 closed

[2019-06-03 20:15] #10792 closed

[2019-06-03 20:17] leikkisa commented on #10609
Rachel confirmed we could delete the last two, and it is done!  There have been no new ones in the mean time, so I am closing this ticket.

[2019-06-03 20:17] #10609 closed

[2019-06-03 20:27] hschallhorn commented on #10826
@laurjpeterson I remember you mentioning a 3rd type of task this issue should cover other than `ColocatedTask` and `MailTask` (which are the only two this covers). What was the third if you don't mind reminding me?

[2019-06-03 20:52] lowellrex commented on #10826
Maybe [`HearingAdminActionTask`](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/tasks/hearing_admin_action_task.rb)?

[2019-06-03 21:14] ferristseng opened #10990 "Reader Invalid Callback Error"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5260/

Not really sure what's going on here because the error seems to be pretty cryptic. It looks like there may have been a connection error that leads to some other issues down the line.

The breadcrumbs log is pretty helpful. It looks like the user navigated from the hearings worksheet, then to reader, and some existing ca

[2019-06-03 21:16] monfresh commented on #10792
What about the `automatic_case_distribution` flag? That looks to be enabled in prod as well: https://github.com/department-of-veterans-affairs/appeals-deployment/blob/master/ansible/vars/features-config.yml#L91

[2019-06-03 21:52] pkarman commented on #10974
the task assigned to the “Unidentified” org is a “GenericTask” not specific to Motion to Vacate. It has instructions of “Testing vacate to VLJ” — do we really want to re-assign it? or just cancel it?

[2019-06-03 22:21] laurjpeterson commented on #10974
I think we want to cancel it! Then, the Motion to Vacate task would return to the Lit Support queue

[2019-06-03 22:43] laurjpeterson opened #10991 "Support AMA CAVC Remands (Scope/Plan)"
# Background
Lit Support encompasses customer service, correspondence, motions, and receiving and routing CAVC remands at the Board. I call them the department of edge cases, because they often handle complex appeals scenarios.

Lit Support responsibilities:

- Customer service = answering Veteran questions, like status inquiries
- Correspondence = sending correspondence to Veterans and other audi

[2019-06-04 12:44] hschallhorn opened #10993 "Remove automatic_case_distribution feature flag references"
[As with `ama_acd_task` and `ama_auto_case_distribution`](https://github.com/department-of-veterans-affairs/caseflow/issues/10792), `automatic_case_distribution` has been [enabled in production](https://github.com/department-of-veterans-affairs/appeals-deployment/blob/master/ansible/vars/features-config.yml#L91).

## AC
- [ ] Remove all references to the feature flag `automatic_case_distribution `

[2019-06-04 13:23] lomky commented on #10901
Sneaking mute avoider. Another example. Muted again.
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5147/

[2019-06-04 14:02] lomky opened #10995 "ActiveRecord::StaleObjectError: Attempted to update a stale object: EstablishClaim."
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4485/events/360319/

`ActiveRecord::StaleObjectError app/models/dispatch/task.rb in cancel!`

Possibly related to #1466 and #1559.

Error seen twice this year. Leaving idle, pending more alerts.

[2019-06-04 14:15] monfresh opened #10996 "Make Automatic Case Distribution code more resilient against 0 values"
`DocketCoordinator#interpolated_minimum_direct_review_proportion` crashes if `nonpriority_decisions_per_year` is zero. It's probably not likely that there will be zero nonpriority decisions within a year, but it might still be worth it to make the code more resilient.

[2019-06-04 14:23] pshahVA opened #10997 "Seeing Null cases in hearings admin team cases view."
When I log into caseflow hearings and switch to "hearings admin team cases" I see a "null".
![Capture](https://user-images.githubusercontent.com/49729315/58887002-c772c900-86b2-11e9-8f12-5f5867371981.PNG)

[2019-06-04 14:41] pkarman commented on #10938
EstablishClaim 128263 is the guilty party. The patch in #10953 did not fix it.

[2019-06-04 14:48] monfresh commented on #10996
Similarly, other parts of the code crash if there aren't any legacy appeals to distribute, which is more likely to happen in the future.

[2019-06-04 15:46] Chingujo commented on #10997
@pshahVA

This doesn't look right. The only time this can happen is if they completed all the admin tasks in this org queue, which isn't likely. We can confirm with Sal to be sure.

Would also be interested to see if the other org queue "Hearing management queue" has any tasks in there as well. If not then this is def a bug and a high one since it would mean that they hearings branch cannot work o

[2019-06-04 16:08] ferristseng opened #10998 "Handle invalid error gracefully in AppealHearingLocations"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3980/events/360374
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3980/events/360777

The breadcrumbs show a `0` response code from an AJAX request to `find_closest_hearing_locations`. A `0` indicates an accepted connection, that is terminated gracefully (https://stackoverflow.com/questions/872206/what

[2019-06-04 16:14] ferristseng commented on #10998
Also https://github.com/department-of-veterans-affairs/caseflow/issues/10505

[2019-06-04 17:12] monfresh opened #11001 "ACD Refactor: Move scopes from Appeal to Docket class"
There are several scopes in the Appeal class that only apply to automatic case distribution. It would be better to move them to the Docket class for now, since that's where they are used. Also, by having them in the Appeal class, they were being unit tested individually in the Appeal model spec, but some of the scopes are not used on their own. They are used in combination with other scopes and qu

[2019-06-04 17:16] monfresh opened #11002 "ACD Refactor: Make DirectReview#nonpriority_receipts_per_year easier to understand"
There is a lot of code to parse through and hold in your head when reading that method. What it's returning is not that complex, but the way it's written makes it hard to decipher.

[2019-06-04 17:22] lomaxap opened #11003 "Add Null State for Distance on Assign Hearings Location column"
![image](https://user-images.githubusercontent.com/2473869/58899598-62779d00-86cb-11e9-9bbd-1c0fc30ff9d4.png)
In some instances (when a veteran's RO is manually set from an Admin Action or the veteran is automatically associated with Manila because they live in the Phillipines), an `AvailableHearingLocation`'s distance may be `nil`.

- [ ] Remove distance text if available_hearing_location.distanc

[2019-06-04 17:26] monfresh commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/67668
Failure/Error: expect(task.task_timers).to eq(task_timers)
spec/models/task_spec.rb:698

[2019-06-04 17:44] ferristseng commented on #10883
Looks like the `/metrics/v1/histogram` route returns a 422 for some reason.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3021/events/360416/

[2019-06-04 17:53] lomky commented on #10878
For the four cases today, all were in the same state. JudgeAssignTask assigned to a SSC. We cancelled that task and created a new JudgeAssignTask assigned to the VLJ requested. Steps:

[code]

[2019-06-04 18:16] lomaxap commented on #7564
@Chingujo is this still an issue?

[2019-06-04 18:25] leikkisa commented on #10009
Adding a comment about being able to edit whether a Veteran opted in their legacy issues.  It seems like an important field to be able to correct, probably for 930s and also in edit generally.

https://dsva.slack.com/archives/CA1QBDLEL/p1559656638001000

[2019-06-04 18:30] #9753 closed

[2019-06-04 18:31] monfresh commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/67693
[code]

[2019-06-04 19:40] lowellrex opened #11007 "Fix single-table inheritance complaints."
Move `MailTask` and `HearingAdminActionTask` subclasses into their own files. Related [slack discussion](https://dsva.slack.com/archives/C2ZAMLK88/p1558735071019000).

[2019-06-04 20:13] pkarman opened #11009 "Proactively identify potential duplicate Intakes"
We already look for duplicate Intakes in progress based on Veteran file number.

Should we expand that error check to look for the same Veteran file number and receipt date and benefit type? We've had multiple cases where the same claim was intaken multiple times, days apart (thus missing the "in progress" qualifier).

https://dsva.slack.com/archives/CHX8FMP28/p1559676613045300

[2019-06-04 20:18] pkarman commented on #11007
see also #10947

[2019-06-04 20:21] leikkisa commented on #8317
Agree, that comment doesn't quite make sense.  I think it makes sense for this ticket to focus on not selecting duplicates within one intake session, and using the data on the front end.

Preventing duplicates that are not from the same same intake session seems like a different enough issue and approach that it could be a different ticket.  I'm kind of curious to look at the data and see which si

[2019-06-04 20:22] lomky opened #11010 "Business Line | Search bug when veteran has both in-progress and completed intake"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5242/

Context: https://dsva.slack.com/archives/CHX8FMP28/p1559676613045300

[2019-06-04 20:36] leikkisa opened #11011 "Allow users to edit remand supplemental claims"
### Story
When we automatically generate DTA/remand Supplemental Claims, we prevent users from being able to edit those in Caseflow.  The issue description on these, especially when they're from the board, make it difficult to process these claims at VBA.

### Acceptance criteria
- DTA claims that were generated from remand or dispositions are editable in Caseflow at the "Edit in Caseflow" URL lin

[2019-06-04 20:43] lowellrex commented on #10947
Work will be completed by #11008.

[2019-06-04 20:43] #10947 closed

[2019-06-04 20:46] ferristseng commented on #10799
Also seeing this on reader:

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3045/events/360437

In the `app/reader/Documents/DocumentsReducer.js`

[2019-06-04 21:17] tomas-nava opened #11016 "remove the use_representative_info_from_bgs feature flag"
The `use_representative_info_from_bgs` flag is on by default for all users, so we should stop checking for it in code.

[2019-06-04 21:24] pshahVA commented on #10878
Can we combine this with #10551

[2019-06-04 21:57] pkarman commented on #10974
I cancelled it. However, I think we also want to re-assign it, because we want to be able to delete the "Unidentified" organization completely, and this is the only task remaining on that org.

What org could I re-assign the cancelled task to? The Lit Support org?

[2019-06-04 22:23] leikkisa commented on #10907
The proposed issues are on a promulgated final rating, and not a proposed rating.  There are 49 rating issues on this rating total, 25 of them proposed and 24 that look like regular decisions. The proposed issues match up to the decisions, and it looks like two proposed got combined into one decision, which explains why there are fewer.

The current theory is that this was a mistake when the ratin