[2018-12-17 14:33] sharonwarner commented on #8288
I've only thought through the hearings docket, but I'm wondering if, instead of a nightly job, we could create the DistributionTask when the hearing is held or withdrawn, but then put various on hold tasks underneath the DistributionTask (Transcription & EvidenceWindow).

[2018-12-17 14:36] lowellrex commented on #8288
I really like the idea of a `when_child_task_created` method @cmgiven! We currently update the parent task's status to `on_hold` when a child task is created and it would be nice to move that to `when_child_task_created` so that the parent task can own that behaviour itself.

[2018-12-17 14:37] amprokop commented on #8288
Re: `when_child_task_completed` My current thought is — if we're going to need a nightly job for some distribution task creation (evidence period and IHP period expiration), I'd like to put all distribution task creation in the job, both to keep all the logic in one place for readability, and so we can keep failure, monitoring, and error handling in one place.

@cmgiven @lowellrex — how would you

[2018-12-17 14:37] Chingujo opened #8306 "Geo matching | Schedule Veterans | Add pagination"
As a hearing coordinator, I need to be able to see multiple pages of veterans to make sure I have enough veterans to create my schedule.

### AC
- [ ] Verify that in the Legacy Veterans Waiting and AMA Veterans Waiting there is pagination that follows the format in the mock

- [ ] Verify that the there are 30 veterans per page

### Mocks
**Legacy Veterans Waiting**
![geo matching 1](https://user-i

[2018-12-17 14:39] laurjpeterson commented on #7774
Conversation on 12/17 about how VSOs should view their AMA cases (without relying just on Caseflow tasks) will likely affect how we think about giving private bar attorneys access to Caseflow, too.

cc: @lowellrex for visibility

[2018-12-17 14:44] lowellrex commented on #8288
@amprokop I'm wary of cronjobs because it is not a pattern we use all that frequently and therefore don't have much experience with them as a team and haven't common practices about how or when to implement them.

I think we can create and update `DistributionTask`s correctly by hooking into the various lifecycle events of tasks as is and accomplish objective without needing any tasks at all. The

[2018-12-17 14:46] cmgiven commented on #8288
@amprokop How would you address an appeal no longer being ready for distribution because of a new mail task, in the job model?

[2018-12-17 15:02] Chingujo opened #8307 "Geo matching | Schedule Veterans | Case details modal error"
As a hearing coordinator, I need validations in the modal to ensure that I am not making any errors when I schedule.

### AC
- [ ] Verify that if the user tries to schedule without selecting a hearing location, date, or time we render an in line error.
- [ ] The format of the error should follow:
  - Title
   - Resolution:

### Mocks
![schedule veteran error](https://user-images.githubusercontent.

[2018-12-17 15:33] mdbenjam commented on #8288
Some thoughts around this.

I generally like the idea of a distribution task. I agree with @lowellrex that we should have a simple cron job which closes timed tasks, and then let the logic of creating new tasks live within each task type in `when_child_task_completed`. I also think @sharonwarner has suggested a pretty powerful way to address the problem @cmgiven just brought up. If we create the d

[2018-12-17 15:36] aroltsch opened #8308 "Do not throw Sentry error when case is already assigned"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2622/

[2018-12-17 16:00] pkarman commented on #8303
@shanear not sure which of the 3 failures you identified as flakey, but here's a fix for one of them: #8309

[2018-12-17 16:04] hschallhorn commented on #4034
@mdbenjam Any guidance on reproducing this error message?

[2018-12-17 16:31] hschallhorn commented on #4034
<img width="382" alt="screen shot 2018-12-17 at 11 22 52 am" src="https://user-images.githubusercontent.com/45575454/50100736-26b94b80-01ef-11e9-9488-a6607aa69579.png">
Still tracking down where to test how it looks with a comments error, but this is what I've got with the tags and category errors.

[2018-12-17 16:40] aroltsch opened #8310 "[BE] Return decision issues to IDT"

[2018-12-17 17:02] hschallhorn commented on #4034
<img width="258" alt="screen shot 2018-12-17 at 11 54 28 am" src="https://user-images.githubusercontent.com/45575454/50102633-8f0a2c00-01f3-11e9-98d0-984d6f8ee177.png">
Annnnnnd comments! Pushing changes and submitting a PR to close this.

[2018-12-17 17:07] amprokop commented on #8288
@lowellrex — hmm, I think maybe you might just be missing context on this. we have a pretty wide variety of nightly/more frequent scheduled jobs that run for Dispatch (preparing dispatch tasks), Intake (syncing various items with VBMS), Reader (fetching documents), as well as checking dependencies, reminders if apps are out of service, and others.

[2018-12-17 17:08] amprokop commented on #8288
[code]

I think maybe @mdbenjam's answer is the best. When making the mail task, we put the DistributionTask on hold or create it as a child task.

[2018-12-17 17:16] amprokop commented on #8288
[code]

@mdbenjam — maybe you could explain why `PastDueIHPTask` makes sense as a task. I've noticed your suggestions in other threads that we should treat more things as tasks that aren't necessarily an actionable item for a person to complete (e.g. `VsoVisibilityTask`). Wondering how you would respond to the pushback that we're overloading the concept of a task.

[2018-12-17 17:24] amprokop commented on #8288
Overall, though, I like the feedback that y'all are giving around creating children tasks, and think that approach is generally more consistent.

So for example:

-at Intake *always* create a DistributionTask.
-for all VSO-having IHP-writing appeals, create an open IHP task and put the DistributionTask on hold.
-for all evidence submission appeals, create an `EvidenceSubmissionTask` and put the IH

[2018-12-17 17:47] amprokop commented on #8288
@cmgiven — bah, humbug. Interesting thought. Some items to think through here:

For direct docket appeals without an IHP-writing POA at first, they are initially ready for distribution, but if they receive an IHP-writing POA at some point before they are distributed to the judge, do they then need to be pulled out of being ready for distribution and given an IHP-writing period? What about if they

[2018-12-17 18:03] lomaxap opened #8313 "False Validation Errors"
Sal reports Date of Hearing / Hearing Time "Required Fields" errors on the AssignHearingsModal even when both fields are filled in

[2018-12-17 18:03] amprokop commented on #8288
I like this idea. Even if there is already a child task, we could cancel the evidence submission task. And we could have a helper method `waived?` that just checks if the task is cancelled.

[2018-12-17 18:16] kencheeto commented on #6938
Test by flipping feature flag by hand, then open a pr to appeals-deployment if successful

[2018-12-17 18:41] kencheeto commented on #8188
Might be RAMP specific because RAMP intake does not allow selecting a non-veteran claimant

[2018-12-17 18:42] mdbenjam commented on #8288
AFAIK we haven't implemented a `canceled` state. We wanted more use cases before we did. Not sure if this pushes that over the edge.

Regarding changing POA or new POA. I think we need a nightly job to check for this, but I think that's a separate discussion. In fact, we're having a discussion around VSO visibility tasks later today where I think we'll have to consider this.

My basic answer is, c

[2018-12-17 18:43] kencheeto commented on #8188
Presence of a fiduciary means the veteran cannot change anything themselves in the VA universe*

*with exceptions

[2018-12-17 18:43] kencheeto commented on #8188
action item: ask Nate about this

[2018-12-17 19:03] kencheeto opened #8316 "Replace individual email address with an alias"
Currently we have a few places where we have a specific person's email address linked in the front-end. We would like to remove this (potentially by replacing with a generic email address such as intake-help@va.gov, or a form or something.

Followup on #7908

create an appropriate email alias in VA and replace the individual email address reference

[2018-12-17 19:04] #7864 closed

[2018-12-17 19:05] leikkisa opened #8317 "Prevent the same legacy issue from being opted in twice"
## Story
If a legacy issue is matched to a request issue during a decision review intake or during edit, grey it out so that it can't be connected to another request issue during the same intake.

A legacy issue can't be opted in (within the same intake) with connections to more than one request issue at a time.

## Notes
- If users tried this, we would throw an error asynchronously and this case

[2018-12-17 19:15] MeredithStewart commented on #7881
end point: station of jurisdiction?

[2018-12-17 19:20] laurjpeterson opened #8318 "Help judges distinguish attorney's On Hold cases from assigned cases"
When judges are assigning cases to their attorneys, they need to see an accurate number of cases that are on their attorney's plates.

## Quick Fix
- Hide cases that are on hold from judge view of attorney caseloads

[2018-12-17 19:38] laurjpeterson opened #8320 "QR selection for AMA appeals"
We no longer need to send all RAMP appeals to QR, and Josh decided he wants to keep the selection logic the same as legacy appeals.

## AC
- Change QR selection for AMA cases to be the `QUALITY_REVIEW_SELECTION_PROBABILITY` in `judge_case_review.rb`

[2018-12-17 19:39] #8124 closed

[2018-12-17 19:48] sharonwarner opened #8321 "Migrate Hearing table to LegacyHearing table"
To accommodate AMA hearings in Caseflow, we need to rename our current hearings table to legacy_hearings.

Modeled after how we handled LegacyAppeals (#5409)

[2018-12-17 19:50] amprokop commented on #8288
@mdbenjam — I'm starting to see what you mean, I

Can you help me understand what the complexity is here? Don't we just complete the IHPTask, which then triggers a `when_child_task_complete` or something hook on DistributionTask, which may or may not take it off of hold depending on whether it has any other open child tasks?

🤔 — can you explain why this would be the case?

[2018-12-17 20:04] kencheeto commented on #7991
@carolaponce looking for a gif recorded with licecap that shows how typing affects the list items

[2018-12-17 20:59] laurjpeterson commented on #8242
@lowellrex @sneha-pai - FYI, hearing schedule would be ready to use pagination of individual and team queues for the hearings management branch by friday, january 11th cc: @MeredithStewart @sharonwarner

[2018-12-17 21:01] oscarAtNava opened #8323 "Central Office Hearings Getting Incorrect time in UI"
In the Schedule Veterans page, Schedule tab, the hearing time is off for some veterans. This is related to the veteran's regional office designation in their veteran record. The existing code did try to account for the fact that all CO hearings are in DC but a refactor changed the name of the attribute the code was using (from :central_office to :central). Hence the code was not calculating the he

[2018-12-17 21:08] marvokdolor-gov commented on #7673
### Update 12/17/2018

Reached out to Joseph Shelley mentioned [above](https://github.com/department-of-veterans-affairs/caseflow/issues/7673#issuecomment-442951922). I'll be chatting with him and his team 12/20 at 11:30am.

He shared the following documents about the work to connect GCLAWS to Salesforce:
- [CLIN2015AA AIM Business Requirements Document (Accredited Representative V1-2 11012018)w c

[2018-12-17 21:13] sharonwarner commented on #8288
For hearings schedule, we're going to use ScheduleHearingTasks to determine which AMA appeals need to be scheduled for a hearing. Before case distribution, the appeal will also need a completed TranscriptionTask and a completed EvidenceWindowTask. I think it makes sense to have the TranscriptionTask and the EvidenceWindowTask live as on hold tasks underneath a CaseDistributionTask. So the path wou

[2018-12-17 21:31] shanear commented on #6903
Veteran. Confirmed with nate.

[2018-12-17 22:16] pkarman commented on #8303
@jiahuang fixed the other ones via #8325

[2018-12-17 22:16] #8303 closed

[2018-12-17 22:50] #7546 closed

[2018-12-17 23:03] mdbenjam commented on #8288
@amprokop we'd need to move it to the root task because we (I think) still want it to be visible to VSOs to write an IHP, even if they didn't meet the deadline. If we don't want it to block auto case distribution then we'd have to move it to be a child of `RootTask`.

@sharonwarner I think that mostly makes sense, though I don't know that `CaseDistributionTask` should be under `HoldHearingTask`? D

[2018-12-17 23:30] #8323 closed

[2018-12-18 00:18] shanear opened #8329 "Intake | Only show decision issues made before receipt date"
On intake and edit, we are showing decision issues that were made before the receipt date. It's impossible for them to have contested a decision that happened in the future.

## Acceptance Criteria
- On the intake or the intake edit page, the only decision issues that should show up as contestable are those where the decision date (or approximated decision date) is before the receipt date of the d

[2018-12-18 00:22] shanear opened #8330 "Intake Edit | Prevent editing request issues on appeals that have been outcoded"
If an appeal has been outcoded, then it's issues should no longer be editable.

## Acceptance Criteria
- If a user visits the edit issues page for an appeal that has been outcoded, show them a full page message with the copy below

## Copy
Title: Issues Not Editable
Text: This appeal has been outcoded and the issues are no longer editable.

## Mocks
It should look exactly like the page from https:

[2018-12-18 01:43] carolaponce commented on #7991
A few extra specs:
Purpose of Search - Give users the ability to quickly search this table, using any content.  Same functionality as Reader (screenshot attached).
Highlight is a nice to have.
<img width="1116" alt="screen shot 2018-12-17 at 12 57 08 pm" src="https://user-images.githubusercontent.com/11700545/50126799-49655780-0223-11e9-8edd-57f2d55a1e72.png">

[2018-12-18 01:58] carolaponce commented on #7991
Related: empty search message
#1101

[2018-12-18 02:31] monfresh commented on #8280
I cannot reproduce the issue as originally written. I tried in Chrome and Safari on macOS Mojave. What I see when I click the "Back" button at the bottom of the "Submit Draft Decision for Review" page is the "Add decisions" page with everything I had filled out still saved (assuming all dispositions are set to Allowed; I found a bug if one of the dispositions is set to Remanded). The `appeals-supp

[2018-12-18 12:44] amprokop commented on #8288
Interesting... I did not know this was a need, thank you for clarifying. Yeah in that case you're right — it would make sense to have two tasks, and open the second one on the RootTask only when the first one expires (would the past due task type have to be closed eventually as well? I'm not sure we'd want VSOs to be writing IHPs for cases that already have decisions, for example).

[2018-12-18 13:10] aroltsch commented on #8280
@monfresh Perfect. It has been resolved. We can close it.

[2018-12-18 13:10] #8280 closed

[2018-12-18 13:35] aroltsch opened #8331 "[FE] Fix scroll when editing decision issues"

[2018-12-18 13:36] aroltsch commented on #8331
![weird_scroll.gif](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5846dfa771234f0e00c9f5a7/125516c66e82c728ace21e0d46ff91933186bcba8cfbb04fa81fbcd6395428792c07b7692ac7b670ed4329075a564ca5410e5b44adfe892bf4b43970890e19f1c32f0e2a92624cf5f2d75dad0ba8218c4584b3b88f4dc4e83c23e78d8c4b2c53.gif)

[2018-12-18 13:44] #8310 closed

[2018-12-18 15:24] amprokop opened #8334 "Direct review and evidence submission appeals have distribution tasks created for them on intake"
We should create a `DistributionTask` to signal if an appeal is ready for distribution to a judge. If this task's status is `in_progress`, we take that to mean that the appeal can be distributed to a judge. If it is `on_hold`, the appeal is not ready for distribution to a judge.

Related to https://github.com/department-of-veterans-affairs/caseflow/issues/8288

# AC
- at Intake always create a Dis

[2018-12-18 15:29] monfresh opened #8335 "When adding decisions with multiple disposition types, only remanded ones get saved"
1. Run the app locally and go to http://localhost:3000/test/users
2. Switch to the user BVASCASPER1 (attorney with cases)
3. Click on `Your Queue`
4. Click on the first item under Case Details (http://localhost:3000/queue/appeals/e15981c8-c9c8-4b25-b3d6-f17df2e19e2b)
5. Under the `Actions` dropdown, select `Decision Ready for Review`
6. On the next page, click Continue
7. On the `Add decisions` pa

[2018-12-18 15:36] amprokop opened #8336 "Nightly job checks for POA changes"
All appeals that are between Intake and distribution should be checked for POA changes nightly:
- Ensures that if a POA is added to an appeal previously without one, the appropriate VSO is given the opportunity to write an IHP
- Pulls back appeal from judge/attorney for a second IHP if VSO is changed

[2018-12-18 15:36] monfresh commented on #8335
This is a duplicate of #8269. I will add the STR to that bug for completeness.

[2018-12-18 15:36] #8335 closed

[2018-12-18 15:38] amprokop commented on #8288
https://github.com/department-of-veterans-affairs/caseflow/issues/8336 opened this to track POA changing and what to do there

[2018-12-18 15:39] mdbenjam commented on #8288
I could be wrong on that requirement, but I think that's how IHPs have been treated in the past. Actually I think in legacy world they block moving to write a decision forever, but from my understanding we want to still provide folks an opportunity to write IHPs even if the window has closed. @laurjpeterson to confirm.

[2018-12-18 15:43] monfresh commented on #8269
For anyone new to the project, the following steps to reproduce might be helpful:
1. Run the app locally and go to http://localhost:3000/test/users
2. Switch to the user BVASCASPER1 (attorney with cases)
3. Click on `Your Queue`
4. Click on the first item under Case Details (http://localhost:3000/queue/appeals/e15981c8-c9c8-4b25-b3d6-f17df2e19e2b)
5. Under the `Actions` dropdown, select `Decision

[2018-12-18 15:45] amprokop opened #8338 "Shepherd appeals from intake to auto-case distribution"
### Creating IHP, evidence submission, and hearing tasks
 - [X] Create IHP and evidence submission window tasks on intake for direct docket and evidence submission appeals https://github.com/department-of-veterans-affairs/caseflow/issues/8334 https://github.com/department-of-veterans-affairs/caseflow/issues/7916
 - [X] Create task timing functionality days and make evidence submission tasks expire

[2018-12-18 15:48] laurjpeterson commented on #8249
One other thing that I think was captured somewhere, but not seeing it here.

Should judges have the option to select something in Hearing Prep that shows the Veteran has waived their 90-day evidence window, which then closes (or never opens) the 90-day evidence window task? cc: @amprokop @lowellrex

[2018-12-18 15:53] amprokop commented on #8288
Created a list of discrete tasks related to this here
https://github.com/department-of-veterans-affairs/caseflow/issues/8338

[2018-12-18 15:58] mdbenjam opened #8339 "Flakey checkout flow edit issue test"
https://circleci.com/gh/department-of-veterans-affairs/caseflow/27763

[code]

[2018-12-18 16:03] nicholasholtz opened #8340 "Need to capture when untimely evidence was received in attorney check-out"
Section 5 sub (t) of AMA requires that we capture data on how frequently a Veteran submits evidence at a time when it can't be considered. This includes:

1) submitting evidence for an appeal on the direct review lane;
2) submitting evidence outside the new evidence 90-day window on the evidence lane;
3) submitting evidence outside the post-hearing new evidence 90-day window on the hearing lane; a

[2018-12-18 16:03] laurjpeterson commented on #7481
Closing, because I think this will just show in Currently Active Tasks (Task Snapshot) window, which is front and center for all users.

[2018-12-18 16:03] #7481 closed

[2018-12-18 16:04] laurjpeterson commented on #8338
Should we add this ticket - creating 90-day evidence window tasks at Intake - to this list? https://github.com/department-of-veterans-affairs/caseflow/issues/7916

[2018-12-18 16:06] amprokop commented on #8338
Yes, your ticket is much better written than mine — sorry for not finding it!

[2018-12-18 16:06] mdbenjam opened #8341 "Flakey edit issues & add issues tests"
https://circleci.com/gh/department-of-veterans-affairs/caseflow/27546#tests/containers/0

[code]

[2018-12-18 16:16] mdbenjam commented on #8341
Looks like this might already be fixed!

[2018-12-18 16:16] #8341 closed

[2018-12-18 16:50] #8269 closed

[2018-12-18 17:09] lowellrex commented on #8095
One problem we are able to reproduce and pinpoint is the issue of tasks related to cases with new documents disappearing from the "on hold" tab. It appears as if the [`onHoldTasksByAssigneeCssIdSelector` selector](https://github.com/department-of-veterans-affairs/caseflow/blob/9079cd44ccfb30ec2af56627261b5862f627a345/client/app/queue/selectors.js#L207) is causing this because it is filtering out t

[2018-12-18 17:35] aroltsch commented on #8128
@monfresh let's silently truncate it

[2018-12-18 17:38] sneha-pai commented on #8241
@laurjpeterson can you please have a look at the proposed mock, and questions around if we include this column, which other column do we not show?

[2018-12-18 18:30] sharonwarner commented on #4843
@laurjpeterson This ticket is not fixed by the PR above. We still won't show unscheduled hearings. We're only updating the page to show hearings with null dispositions.

[2018-12-18 18:30] leikkisa commented on #8239
This looks good, I like the idea of cleaning them up!

Are contested_rating_issue_description and contested_rating_issue_decision_text two different fields?

It sounds like there's possibly a good case for separating rating and non-rating issues into their own separate tables, which you hinted at in the last paragraph.

[2018-12-18 18:30] #8172 closed

[2018-12-18 18:40] MeredithStewart opened #8348 "Updated location for hearings information in Case Details"
Logic
always show hearing preference

Previous logic (~ 2/18):

Hearing disposition | Show hearing disposition? | Show hearing date? | Show judge at hearing?
------| ------| ------| ------|
null | no | no | no
held | yes | yes | yes
no show | yes | yes | yes
postpone	| yes | yes | yes
cancelled	|yes | no | no

Update to Logic (12/18/18):

Hearing disposition | Show hearing disposition? | Show hear

[2018-12-18 18:49] laurjpeterson commented on #7404
Based on this [slack thread](https://dsva.slack.com/archives/CA1QBDLEL/p1545148239053500), we know that Veterans will send in correspondence to waive their 90-day evidence window.

Some approaches:
- If the mail team recognizes that the mail item is a waiver of the evidence window
    - Mail team closes the `90 day evidence window` task
- If the mail team does not recognize that the mail item was

[2018-12-18 18:55] laurjpeterson commented on #8338
Privacy/FOIA tasks should block distribution. So, if a case has open `FOIA Request`, `Privacy act request`, `Privacy complaints`, or `FOIA request & other actions` mail tasks or open `FOIA` admin action that was sent to Privacy team through VLJ support (co-located admin), it should not be distributed.

[2018-12-18 18:57] laurjpeterson commented on #8338
Privacy/FOIA tasks should block distribution.

So, if a case has open `FOIA Request`, `Privacy act request`, `Privacy complaints`, or `FOIA request & other actions` mail tasks or open `FOIA` admin action that was sent to Privacy team through VLJ support (co-located admin), it should not be distributed.

Does this comment belong on this ticket or another one?

[2018-12-18 19:00] laurjpeterson commented on #8338
@sharonwarner @MeredithStewart can you add some more information around AMA hearing tasks? the last we talked, we discussed a `ScheduleHearing` task, a `HoldHearing` task, and a `TranscribeHearing` task. (@amprokop - We should not distribute cases to judges without the hearing being transcribed.)

Could you also share the list of Hearing Branch admin actions here, and let us know if any of them sh

[2018-12-18 19:02] lomaxap commented on #7544
https://developer.va.gov/explore/facilities/docs/facilities

**response**
[code]

[2018-12-18 20:00] aroltsch commented on #8239
@pkarman suggested to rename `request_issues.decision_date` to  `nonrating_profile_date`

[2018-12-18 20:09] aroltsch commented on #8239
I personally would prefer to use `rating_issues` table to store some of these fields if possible. It is becoming more and more complicated to understand what all these columns mean on request_issues and decision_issues.

[2018-12-18 20:55] laurjpeterson commented on #8241
thank you @sneha-pai!

- Ok

- I think I'd prefer to remove the link to Reader, since users can navigate to Reader from Case Details
- Type is important for AOD, CAVC, etc. for legacy cases.
- I'd love @MeredithStewart @Chingujo @laurenrussell 's eyes on this too, for their thoughts on this w/r/t hearing branch

[2018-12-18 21:46] pkarman commented on #8239
I believe `rating_issues` table is set to be dropped, since we moved to syncing upstream ratings with the `decision_issues` table instead.

I agree about knowing what columns do what. There's been a lot of cooks in this kitchen. @shanear is working on a schema audit that might help #8239

[2018-12-18 21:50] #8131 closed

[2018-12-18 21:52] laurenrussell commented on #8241
@laurjpeterson I would agree, in that Type is important to stay on track when filling the docket.

[2018-12-18 21:54] Sjones352 commented on #8046
This has already been implemented. Closing ticket

[2018-12-18 21:54] #8046 closed

[2018-12-18 22:11] mdbenjam commented on #8192
For point 2, I think we can just look at all the users with a "Reader" role. I think all Queue users should have it.

[2018-12-18 22:34] sneha-pai opened #8352 "queue design checklist"
### Current Queue initiatives in development or ready for development

#### Team categories:

**Queue focus areas**
- task tree ( back-end mostly)
- single appeals views (case details, timeline)
- collection of appeals ( queue tables, search tables)
- pilots (when something has launched, features that come out of user-feedback)

**Decision focus areas**
- checkout flows
- issues
- outcoding/EP cre

[2018-12-18 23:33] steve-gov commented on #8092
These are currently with LRP. I'll check with them on progress periodically.

[2018-12-18 23:35] aroltsch commented on #8128
![image](https://user-images.githubusercontent.com/3811786/50189534-a2042580-02f3-11e9-90bc-772980b34317.png)

[2018-12-18 23:40] aroltsch commented on #8128
Attorney final checkout screen. It appears there is already a limit to 350 chars in the notes screen so I wonder what happens there.
![image](https://user-images.githubusercontent.com/3811786/50189635-1b9c1380-02f4-11e9-9015-5db1310d3d65.png)

[2018-12-18 23:58] laurjpeterson commented on #8242
Looks great! I agree we may not need Last if we always show the last page number.

I’m curious as to how many cases we should have per page. It might depend on how many cases could be in a queue as well as performance, so wonder what Lowell and Mark think here.

@meredithstewart - i think you mentioned this before, but how many cases do you think could be in hearings management branch’s team queue

[2018-12-19 00:35] mdbenjam commented on #8242
First, an ode to why Reader doesn't have pagination. I advocated against us using paging in Reader since I thought displaying "infinite-scroll" was better. My reasoning is why click when you don't have to 🤷‍♂️ . I generally think providing searching/filtering/sorting is more powerful. If folks are clicking through all of the pages to find something that seems no better, and maybe worse, than just

[2018-12-19 00:43] monfresh commented on #8128
Yeah, I saw the character limit on that screen as well, which made me wonder if the bug was on a different screen. Do we know which user caused this exception and what they were doing before that? On login.gov, I implemented an analytics framework that allowed to see step by step what each user did on the site, which was very helpful for troubleshooting. Do we have something like that on caseflow?

[2018-12-19 12:35] #8179 closed

[2018-12-19 12:35] #8235 closed

[2018-12-19 12:35] #8270 closed

[2018-12-19 12:37] aroltsch commented on #8128
Wow, this would be super useful. Unfortunately, we don't have that. It happened to 5 users. Here is an example of a text:

[code]

There are 349 chars here but Oracle claims there are 353 chars.

[code]

Can it be that Oracle treating certain chars differently? Perhaps whitespaces? Not sure.

[2018-12-19 13:11] lowellrex commented on #8242
➕to all of @mdbenjam's thoughts. I agree that we should try to handle all pagination the client side, but I also think it makes sense to consider how we will add pagination on the server side up front since it may inform how we implement pagination on the client side (I'm thinking specifically about how we deal with the hand off between client and server when we are paginated on both sides).

[2018-12-19 14:05] aroltsch opened #8358 "[BE] Return benefit type for issues instead of hard-coding it"
We have been hard-coding a benefit type to be "Compensation" for AMA appeals. Now there is a way to get a benefit type programmatically using request_issues.benefit_type column

[2018-12-19 14:32] MeredithStewart opened #8359 "User Testing Add/Edit/Remove/Lock Hearing Day"
## Add Hearing Day
- [x] Verify he can add a video hearing day after 4/1 --
- [x] Verify he can add a CO hearing after 1/1 --
- [x] Verify that there can select date for new hearing day
- [x] Verify that the user can select hearing type (Video or Central)
- [x] Verify that the user can select RO from a list of ROs that hold hearings
- [x] Verify that an VLJ can be added from of all VLJs
- [x] Veri

[2018-12-19 14:47] aroltsch commented on #8192
@hschallhorn When including AMA appeals to this job, we would have to only include actively worked appeals.You can get this information by looking at the `tasks` table that have non-completed status. The logic is something like that: get all non-completed tasks assigned to a user and query associated AMA appeals.

As I mentioned before that's where you would include this query: https://github.com/

[2018-12-19 15:18] mdbenjam opened #8360 "Flakey schedule veteran feature test"
https://circleci.com/gh/department-of-veterans-affairs/caseflow/28114

[code]

[2018-12-19 15:39] lowellrex commented on #8169
Added URLs to all `JudgeTeam`s that match their CSS IDs so @marvokdolor-gov can more easily find the user management page associated with the judge.

[code]

And the user management page for the judge team associated with the judge with CSS ID `BVAAABSHIRE` would be `https://appeals.cf.ds.va.gov/organizations/bvaaabshire/users`.

[2018-12-19 16:00] amprokop opened #8361 "[spec] TimedTasks"
### Goal
Create a simple and reusable way to implement appeals processes that require periods of time to be tracked, and for appeals to be moved to the next step/have some action happen after a certain amount of time. (For example, [evidence submission windows](https://github.com/department-of-veterans-affairs/caseflow/issues/7916) and IHP periods)

We could easily make this extensible to handle a

[2018-12-19 16:05] #4034 closed

[2018-12-19 16:27] sneha-pai opened #8363 "Styleguide component | Tables with nesting behavior"
**Need**
We encountered a new context in Appeals Case Search that requires the display of multiple line-items inside a standard table view.
#6710

**Past context/precedent**
#1425 addressed collapsable tables in Reader
![screen shot 2018-12-19 at 11 00 45 am](https://user-images.githubusercontent.com/31224257/50233326-349ed600-0381-11e9-815f-558ca451c294.png)

**Goal**
In a prioritized order, we w

[2018-12-19 16:46] MeredithStewart commented on #8359
Testing with Justin Madigan
* New video hearing day appeared for 4/1/19 - for Baltimore
* We need to show room Number # -- On daily docket -- We need to add this. -- So that it the "select room" is
* Language on that -- "Board Hearing Room not required." --
* "Assign Board Hearing Room" -- have it always checked, you need to check it if you don't want a board hearing room assigned.
* When the "edi

[2018-12-19 16:52] #7545 closed

[2018-12-19 16:53] monfresh commented on #8229
I cannot reproduce this. Can you show me how? Does it depend on the case?

[2018-12-19 16:56] pkarman commented on #8361
This sounds similar to [Asyncable](docs/asyncable-models.md). Could we maybe adapt it?

[2018-12-19 17:04] shanear commented on #8188
This came up in prod again today: https://github.com/department-of-veterans-affairs/appeals-support/issues/3665 so I'm going to look into it.

Asked caitlin from AMO, she says vets with a fiduciary should be still eligible for RAMP. Asking nate for some additional info.

[2018-12-19 17:13] shanear commented on #8188
So this looks like it could be pretty bad. It might be that we can't support the creation of claims through the ClaimService if the veteran has a fiduciary...

<img width="773" alt="screenshot 2018-12-19 12 09 58" src="https://user-images.githubusercontent.com/1596259/50236035-62871900-0387-11e9-824e-2aa869f44bad.png">

[2018-12-19 17:13] amprokop commented on #8361
Thanks for bringing this up, @pkarman!

Would love to explore that idea... a few initial thoughts.

The crucial piece we'd have to add to Asyncable is the ability to wait until X time before beginning to take action on a task.

The next piece would be, where do the fields required by Asyncable go? 🤔on a TaskTimer class? I'm a little bit hesitant to muddy the Task model as most Tasks will not requi

[2018-12-19 17:22] sharonwarner opened #8364 "Daily Docket | Add room number"
We want to display the hearing day's room number in the top righthand corner of the daily docket.

[2018-12-19 17:28] sharonwarner opened #8366 "Add Hearing Day | Room assignment logic"
Update logic to reflect updated hearing room logic - Rooms 2 = CO hearing room, Rooms 1, 3 - 13 for Video.

[2018-12-19 17:31] sharonwarner opened #8367 "Add Hearing Day | CO hearings can't be assigned an RO"
For CO hearings, make sure that RO isn't associated with the hearing. In testing, a CO hearing carried the RO for the previous Video hearing day added (Baltimore). Newly created hearing day showed up in both the CO Schedule Veterans view and the Baltimore Schedule Veterans view.

[2018-12-19 17:31] sharonwarner opened #8368 "Edit Hearing Day | Null state"
Add text to the null state for selectors, "Please Select..."

[2018-12-19 17:32] sharonwarner opened #8369 "Add Hearing Day | Saturday & Sunday"
If a Saturday or Sunday date has been selected, we will implement a new confirmation banner to indicate this and that they may want to delete the hearing day if this was done in error.

[2018-12-19 17:32] sharonwarner opened #8370 "Edit Hearing Day | Initial state"
We need to show the room number, vlj, and hearing coordinator what was selected in "Add Hearing day" to show when you first get into "Edit hearing day." They all showed as not selected - even though data had already been assigned through the Add Hearing day function.

[2018-12-19 17:33] sharonwarner opened #8371 "View Schedule | Dates should include the day"
Add the day of the way in front of the date on the View hearing schedule page. This will help place-make for the users and provide an alter if a Sat/Sun is accidentally scheduled.

[2018-12-19 17:37] amprokop commented on #8361
If it's easier to have this discussion with some code, I started a PR here https://github.com/department-of-veterans-affairs/caseflow/pull/8373. @pkarman feel free to comment or even push to that branch if it's easier to just make it work than to explain!

[2018-12-19 17:44] marvokdolor-gov commented on #7404
@laurjpeterson I have a little [Mail and Privacy Dashboard](https://caseflow-looker.va.gov/dashboards/19) going as a starting point for the [thought above](https://github.com/department-of-veterans-affairs/caseflow/issues/7404#issuecomment-443785053).

[2018-12-19 17:44] MeredithStewart commented on #8359
Once tickets have been completed from up above, re-test with Justin Madigan.

[2018-12-19 17:44] laurenrussell commented on #8368
<img width="1062" alt="dropdown-selector" src="https://user-images.githubusercontent.com/44249412/50237834-d88d7f00-038b-11e9-9d7e-b1e2e2e943d1.png">

[2018-12-19 17:45] laurenrussell commented on #8369
<img width="1440" alt="hearing-date-warning" src="https://user-images.githubusercontent.com/44249412/50237862-ed6a1280-038b-11e9-97cc-d1ee9647978f.png">

[2018-12-19 17:46] laurenrussell commented on #8370
<img width="1367" alt="vlj-daily docket" src="https://user-images.githubusercontent.com/44249412/50237901-0d013b00-038c-11e9-92d8-3cac4e934265.png">

[2018-12-19 18:03] pkarman commented on #8361
I do find code easier to flesh out ideas. Take a look at #8374

[2018-12-19 18:10] MeredithStewart opened #8375 "Testing Schedule CO Hearings with Sal"
Testing with Sal on CO Hearings 12/19 --

1. Check out time issues - are there any remaining? Any new time issues created?

2. Test the error that didn't let Sal schedule a Veteran.

3. Any Veterans scheduled (through Caseflow) still showing up in Veterans to schedule.

4. Check to make sure VACOLS button to add a Veteran to the CO schedule is disabled.

[2018-12-19 18:13] Chingujo opened #8376 "Epic - Organizational and Individual Queues"
The hearing management branch receives and addresses tens of thousands of admin like tasks a year, each with their own resolution. By implementing org queues and individual queues, our goal is to deprecate the four to five VACOLS reports used to see these actions. This implementation will further increase transparency of outstanding tasks reducing the risk of the HMB of misplacing an appeal.

[2018-12-19 18:14] mc-usds commented on #8188
Ticket submit by VBMS to BGS:
ECSP service request id: SR-001235
https://portal-prod-escp-south.prod.vaec.va.gov/ServiceRequest/Details/12692

[2018-12-19 18:14] MeredithStewart opened #8377 "Test schedule video hearings with Sal"
Testing schedule video hearings with Sal on 12/19/18

- What issues is he discovering?

Check to make sure VACOLS locations are updating.

Check to make sure Veteran doesn't appear on list of Veterans to be scheduled, after they are scheduled.

Check to make sure hearing dates and times are working as expected.

[2018-12-19 18:18] #8261 closed

[2018-12-19 18:34] Sjones352 commented on #8364
@laurenrussell and @MeredithStewart

<img width="1423" alt="screen shot 2018-12-19 at 1 31 36 pm" src="https://user-images.githubusercontent.com/23080951/50240411-ba774d00-0392-11e9-9f49-43eee77b2a31.png">

[2018-12-19 18:38] MeredithStewart commented on #8375
Testing with Sal - 12/19/18
* Veteran on the phone to reschedule CO hearing. He searched for the Veteran from their number.
* Spinner appeared loading date of hearing -- but no date because he did it from Search, he was able to select change and select a date.
* Selected "Save" and it's taking a while to load -- it says, loading and it's got a spinner on the save button.

[2018-12-19 18:50] #7935 closed

[2018-12-19 19:09] nicholasholtz commented on #8188
Sent email to John Dell on 12/19 at ~2pm. He is out of office, so added Jinmay Patel.

[2018-12-19 19:10] monfresh commented on #8128
Interesting. I can reproduce the bug by using this text in the specs. I will look into it.

[2018-12-19 20:38] allyceh opened #8382 "Remove header on evaluation page in judge checkout flow"
This ticket is an offshoot of conversations happening in https://github.com/department-of-veterans-affairs/caseflow/pull/8281.

Currently, we display our latest iteration of "Task Snapshot" at the top of the Evaluation page in the judge checkout flow. We also display the Task Snapshot on the Case Details page before the judge checks the case out to BVA Dispatch.

We can probably pare Task Snapshot

[2018-12-19 21:37] allyceh commented on #7965
@mdbenjam @aroltsch Re-opened and updated AC + mock.

[2018-12-19 21:44] allyceh commented on #7957
@mdbenjam @aroltsch Re-opened, updated mocks + ACs.

[2018-12-19 21:52] allyceh commented on #7963
@mdbenjam @aroltsch Re-opened and updated mocks.

[2018-12-19 22:31] oscarAtNava commented on #7881
@MeredithStewart provided me with two Legacy Appeal file numbers. For the file number starting with 3 the BRIEFF table shows 21 rows for this veteran. The row with an active location code(36) has an RO value of RO14 (Roanoke, VA) but the station of jurisdiction returned by BGS is 335 (St Paul, MN).

For the file number starting with 6 the BRIEFF table had 6 rows for this veteran. The row with an a

[2018-12-19 22:59] jiahuang commented on #7515
This can be validated by:
1. creating a decision review with a nonrating issue
2. create another decision review for the same veteran. Go to the nonrating issues modal and select the same category as the issue used for step 1
3. should see the radio buttons for step 1 pop up

[2018-12-19 23:41] leikkisa opened #8386 "Legacy Opt-in | Assign VACOLS opt in special issue per individual contention"
When we create contentions on a claim, we add can add special issue designations.  The "review by same office" special issue exists at the review-level and gets added to all contentions on a claim.

The vacols opt in special issue should only get added on the contentions for the issues with a vacols opt in associated with it.  Currently, it's getting added to all of the contentions at the time con

[2018-12-19 23:53] amprokop commented on #8202
Read a comment from @lomaxap that indicates that each Task serialization does 2 calls to VACOLS. This seems like the underlying problem IMO. Potentially we should think about batching those queries so there are a constant number of VACOLS queries.

See  https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/services/appeal_repository.rb#L597 and https://github.com/department-of

[2018-12-20 00:19] lowellrex commented on #8202
The two fields which are causing us to incur this VACOLS request overhead at serialization at `case_type` and `docket_number`. I think we need both of those on the frontend whenever we have a task, so I don't think we can lazy load them. I agree with @amprokop that batching is the way to go. Maybe we could do this in the TaskController so that we get the benefit of this for all legacy appeals. Per

[2018-12-20 01:11] leikkisa commented on #5882
Are the current issue categories all of the "Compensation" issue categories?

[2018-12-20 01:14] leikkisa opened #8388 "Nonrating issue decision date validation"
For non-rating issues, prevent the user from entering a decision date that is in the future.

[2018-12-20 15:32] #8371 closed

[2018-12-20 16:17] laurjpeterson opened #8394 "Change copy on link from Reader back to queue"
The link from Reader document list back to queue currently states "Back to Your Queue." Let's change it so it has the same title as the queue page - "Back to your cases"

<img width="230" alt="screen shot 2018-12-20 at 11 17 10 am" src="https://user-images.githubusercontent.com/27704093/50296601-d6d5c100-0448-11e9-9cdc-0f7436cfa623.png">

## AC
- Link displays "Back to your cases" when users come

[2018-12-20 17:40] marvokdolor-gov commented on #7673
### Update 12/20/2018
Call with Joseph Shelley and team mentioned above, Jonathan Taylor (OGC), ChrisG, MelissaC, Marvo
Goal: Explore the possibility of Caseflow having access to accredited representative address information being stored in Salesforce.

[2018-12-20 17:40] mdbenjam commented on #8361
I think using Asyncable makes sense. Peter's PR is pretty great.

[2018-12-20 18:22] mdbenjam opened #8396 "Reader deep link to comment"
The IDT wants users to be able to link directly to a comment in Reader. We need to add a button that generates a deep link to that comment. Then when that deep link is hit from the browser, we need to scroll the user to the relevant comment. We should use the comment's database id as the query param value, so that the IDT can link to a comment with just knowing the comment's id.

# AC
- [ ] Add a

[2018-12-20 19:12] amprokop commented on #8318
I think I won't have time for this fix before leaving, but leaving what I think the fix is here:

Look in `queue/selectors.js`

`getTasksByUserId` and `getAssignedTasks` should probably filter for tasks that are not on hold, as well as tasks that are complete. Then we need to test the judge assignment view while logged in as a judge to ensure that cases that an attorney has placed on hold are not

[2018-12-20 19:12] amprokop commented on #8318
See https://github.com/department-of-veterans-affairs/caseflow/pull/8158 which was a similar change

[2018-12-20 19:45] #8195 closed

[2018-12-20 19:59] monfresh opened #8399 "Flakey checkout_flows_spec test"
[code]
https://circleci.com/gh/department-of-veterans-affairs/caseflow/28750#tests/containers/1

[2018-12-20 20:52] #8128 closed

[2018-12-20 21:00] shanear commented on #6938
this is failing in prod 😢

[code]

[2018-12-20 21:07] shanear commented on #6938
[code]

This is probably why...

[2018-12-20 21:09] leikkisa commented on #6938
That makes sense. Is V5 ready to be enabled?

[2018-12-20 21:41] ShellySmithDSVA commented on #8231
https://va-gov.invisionapp.com/share/F6PQEGF2BTJ#/screens
https://app.mural.co/t/workqueue2001/m/workqueue2001/1544628544124/9024a431d5b9751d3ac144203bbc0f31d45f782d

We are leaning toward a Transcription Queue idea, although that may not be MVP.

[2018-12-20 22:12] mc-usds commented on #8188
This issue was discussed in the thursday Caseflow/BGS/VBMS meeting. This functionality is stalled because VBMS/BGS are both waiting for formal requirements for how to format the address.
Address format meaning what data should be put on address line 1, address line 2...etc.

SHARE is currently the only application that handles fiduciary addresses. Next step is Troy will contact Jennifer Umberhind

[2018-12-20 22:44] #7543 closed

[2018-12-20 22:44] #7544 closed

[2018-12-20 23:32] lowellrex commented on #8277
Fix for the issue mentioned in [this comment](https://github.com/department-of-veterans-affairs/caseflow/issues/8095#issuecomment-448296003) will relate to the solution here.

[2018-12-21 00:31] mc-usds commented on #7890
Ebenefits shows 8 statuses.

1. Claim Received
2. Under Review
3. Gathering of Evidence
4. Review of Evidence
5. Preparation for Decision
6. Pending Decision Approval | could go back a step
7. Preparation for Notification
8. Completed

These are "claim phases" http://vbacoweb01.vba.va.gov/plsql/typ_val.list_val?env=LINKTEST&typ_grp=BNFT_CLAIM_LC_PHASE_TYPE
I think only EbenefitsBnftClaimStatusWebS

[2018-12-21 00:32] #8370 closed

[2018-12-21 02:53] monfresh commented on #7606
Hello! While trying to understand how I would implement this, I came up with a few questions:

- To confirm, this would appear on a page such as http://localhost:3000/queue/appeals/fc17e01c-4469-41a9-9568-1fabf3b71846, right?
- Are the terms "appeal" and "case" interchangeable?
- The mocks on this issue suggest that an appeal/case can only have one Document ID, and that the Document ID is a main a

[2018-12-21 12:34] aroltsch commented on #7606
Yes.

Yes.

The document ID lives on the `attorney_case_reviews` table. An appeal can have many `attorney_case_reviews` with the latest being the valid one.

It applies to both. `attorney_case_reviews` table contains both legacy and AMA attorney reviews. When it comes to legacy, we will also need to update the document ID in VACOLS (`decass` table)

I think it makes perfect sense. I think it also

[2018-12-21 13:13] lowellrex opened #8408 "Stop changing JudgeTask type"
When a judge at the Board receives an appeal to make a decision on, they take a sequence of steps in order to hand the appeal off to the next person in the lifetime of an appeal. The judge is required to sign a decision on the appeal and in order to do so they always assign the appeal to an attorney on their team to draft the decision, and then sign that decision once the attorney has finished dra

[2018-12-21 14:30] shanear commented on #6938
Turning `:claims_service_v5` on today

[2018-12-21 14:51] shanear commented on #6938
Turned both feature flags on today, and we are still getting an error 😢

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3035/

[2018-12-21 15:16] amprokop commented on #8408
Agreed that the inconsistency is worth addressing.

Lean towards option 2 if these are the only options on offer, but I’m wondering if longer term we should consolidate and the JudgeAssignTask should just become an OrganizationTask, while JudgeReviewTask and AttorneyReviewTasks remain separate types.

That’s just a guess, and I know the LOE might be prohibitively high to tackle right now- but I’m

[2018-12-21 15:37] sharonwarner opened #8410 "Assign Veterans | Appeal type tag"
The three tabs on the assign veterans tag each have a column for docket number. Those three columns should all be updated to have the appeal type tag.

[2018-12-21 15:38] lowellrex commented on #8408
@amprokop I'm not sure I fully understand. Are you suggesting that we use the task tree described by approach 2 and set the assignee for the `JudgeAssignTask` to be the judge's `JudgeTeam` organization?

[2018-12-21 16:09] lowellrex opened #8411 "Persist legacy and caseflow tasks when loading case details page"
While working on the ticket to [show multiple tasks in active tasks component](https://github.com/department-of-veterans-affairs/caseflow/issues/8214) we encountered a situation where caseflow tasks associated with legacy appeals were being received by the front-end but would not be persisted in the global redux store. This is the result of [assumptions we make in the `CaseDetailsLoadingScreen`](h

[2018-12-21 16:35] #7682 closed

[2018-12-21 16:40] shanear commented on #6938
Alright, looks like it might be an issue with VBMS/BGS. Reached out to Joe from VBMS and he's looking into it.

[2018-12-21 16:50] #5417 closed

[2018-12-21 17:35] mdbenjam opened #8414 "Job to download AHL for Appeals"
# Problem
Before a Veteran can be scheduled for a hearing, we need to alert the hearing coordinator of any possible alternative hearing locations (AHL). Determining the AHLs is slow (about 1-2 seconds per Veteran). Unfortunately there are a lot of Veterans that need to be scheduled at once, making the requests to get the AHL for all these Veterans will take on the order of minutes. This means we c

[2018-12-21 17:38] mdbenjam commented on #8414
Open question, might we ever need to redo the AHL query for a veteran? to update it?

Also I realize that `VACOLS::Case.where(bfcurloc: 57).limit(500)` is not sufficient. We need to also make sure these appeals do not have AHL yet. When do appeals get schedule hearing tasks? It would be easier to do this if we used tasks instead of locations...

[2018-12-21 17:54] shanear commented on #6938
Confirmed with Joe, that there is a missing property on the VBMS side. They are turning it on but need approvals, they'll let me know when it's turned on.

[2018-12-21 18:15] laurjpeterson commented on #7774
In BVA leadership meeting 12/20, we learned that private bar attorneys will only be able to see their own cases, _not_ cases that their firm is working on. So, the assumption that Chisohlm and NOVA would be organizations is no longer true.

This means individual private attorneys will only have individual queues, and can only search cases for which they are the VSO.
- @lowellrex - could we assign

[2018-12-21 18:22] aroltsch commented on #8408
Leaning towards option 2 because it would be easier to introduce new logic based on the judge task type.

[2018-12-21 18:59] mdbenjam commented on #8414
Updated to handle the fact that we may not already have the appeals in our DB and might have to create them first.

[2018-12-21 19:23] laurjpeterson opened #8418 "Create Transcription team queue"
After a hearing is held, it must be transcribed. Some employees in the Hearings Management Branch will be responsible for transcription related tasks. The Hearing Schedule team's research shows that Transcription should be its own team queue (independent of the HMB team queue).

## AC
- Transcription team queue exists at `/organizations/transcription'

[2018-12-21 19:29] laurjpeterson opened #8420 "Create Transcription task"
After a hearing has the disposition of held, it must be transcribed. For the pre-MVP for AMA appeals, there will be a Transcription Task to track the highest level of transcription activities. This will especially help for AOD AMA hearings held prior to April 1, but is not enough functionality for the Transcription team to complete their tasks overall.

## AC
- For only AMA hearing docket appeals

[2018-12-21 19:33] MeredithStewart commented on #8420
I'm thinking it would be for all AMA hearings.

[2018-12-21 19:40] lomaxap commented on #8414
I think it's currently an open question whether AHL should be associated with a veteran or an appeal.

[2018-12-21 19:41] #8321 closed

[2018-12-21 19:43] sharonwarner opened #8421 "Create AMA Hearings Table!"
Woo!

[2018-12-21 19:55] #8418 closed

[2018-12-21 20:13] mdbenjam commented on #8414
So originally I was thinking we should associate it with a Veteran, and still think there's a compelling case for it. However, I thought appeal might be better to avoid questions of when we need to invalidate the cache. If we do it on a per appeal basis, then if a new appeal from the same Veteran comes to the Board we can look up the best hearing location for them at their current address, while n

[2018-12-21 20:36] nicholasholtz commented on #7774
Slight edit to Lauren's comment. (https://github.com/department-of-veterans-affairs/caseflow/issues/7774#issuecomment-449460436)

What LP described is the future state, which will come into play at some unknown time in the future. It still involves a good bit of wrangling/decision-making, apparent.

Current state is that organizations can have access.

That being said, NOVA is a unique organizatio

[2018-12-21 20:49] sharonwarner commented on #3622
We're moving the slots information to Caseflow. This ticket is no longer needed.

[2018-12-21 20:49] #3622 closed

[2018-12-21 20:49] sharonwarner commented on #7241
Fixed in a different ticket.

[2018-12-21 20:49] #7241 closed

[2018-12-21 20:50] sharonwarner commented on #7841
We moved the hearing days starting 1/1.

[2018-12-21 20:50] #7841 closed

[2018-12-21 20:59] lomaxap commented on #8414
For context, [here's the original tech spec Sharon and I drafted.](https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Projects/Hearings/Hearing%20Schedule/Tech%20Specs/AlternateHearingLocations.md)

I originally thought there were scenarios where an RO could change, and we'd need to invalidate it (but @sharon thinks that probably will never happen). I was also co

[2018-12-21 21:01] laurjpeterson opened #8423 "Configurations in queue"
## Background
We anticipate BVA teams and users benefiting from different behaviors and views for cases in their queue. Examples:
- [x] Hearing Management Branch needs a regional office column

- [ ]  Some other branches might want to add a user column to know who is assigned a task on their team

- [ ]  Some users within a team should work only certain types of tasks

## Assumptions
Individuals o

[2018-12-21 21:22] #8366 closed

[2018-12-21 21:50] #6049 closed

[2018-12-21 22:31] mdbenjam commented on #8414
I'm not sure I agree. We can make the `hearing_location` table have a polymorphic association with both legacy and ama appeals.

My concern around their address changing is not so much between the appeal being created and scheduling a hearing, but between two appeals. If someone has an appeal in 2019 and 2022 and has moved in-between, what do we do with the old save hearing locations connected to

[2018-12-21 23:05] mdbenjam commented on #8414
Another question is Redis or Postgres. I would suggest postgres since if we lose the cached info, we're hosed. It'll take an entire day to build the info back up into our cache, and that means 12 hours of people not scheduling hearings.

[2018-12-21 23:11] lomaxap commented on #8414
The hearing location and RO would still be saved on the actual Hearing. I'm currently thinking of the RO and AHL on the Veteran or Appeal as more of a default setting than a datapoint that we need a historical record of. We are only using it to work out which RO to associate a hearing with. I'm not sure it has any other use in AMA world (for legacy appeals, ROs on appeals were meaningful because t

[2018-12-21 23:18] rkreyhsig commented on #8289
@lowellrex would it be ok to create a new component specifically for this line right underneath?  called like CaseTitleSupportingDetails or something?

[2018-12-21 23:23] leikkisa opened #8425 "Deceased Veteran requires POA relationship"
## Story
For a deceased Veteran, our user on UAT is getting the "Something went wrong" error upon Search.

There is an error being returned when we fetch relationships for the Veteran:
Legacy POA for vet not found on Corporate Database. The POA data was not stored on the Corporate Database, however, the rest of the transaction was stored on the Corporate Database

We should investigate why this is

[2018-12-22 02:17] monfresh commented on #8360
Reopening this issue because I'm still seeing it: https://circleci.com/gh/department-of-veterans-affairs/caseflow/29239

[2018-12-25 01:18] leikkisa commented on #6335
Closing because this is old.

[2018-12-25 01:18] #6335 closed

[2018-12-25 01:19] leikkisa commented on #5949
Closing this because we'll eventually get rid of the stats page.

[2018-12-25 01:19] #5949 closed

[2018-12-26 13:38] #8202 closed

[2018-12-26 14:17] lowellrex opened #8434 "Pre-select judge to submit case to in attorney checkout"
During the attorney checkout process attorneys select the judge to which cases should be submitted. We can pre-select the judge using the [`assignedJudge` attribute of the appeal](https://github.com/department-of-veterans-affairs/caseflow/blob/6bea2aab4a10d6bf3de6b4b26ab1f229c9f5637a/client/app/queue/utils.js#L240). Doing this could save attorneys some time and make the process less error prone.

[2018-12-26 14:38] lowellrex opened #8435 "Explicitly exclude RootTasks from case timeline"
Completed `RootTask`s are currently excluded from the case timeline view [because they have child tasks assigned to individual users](https://github.com/department-of-veterans-affairs/caseflow/blob/6bea2aab4a10d6bf3de6b4b26ab1f229c9f5637a/app/models/appeal.rb#L246) (judge tasks are currently assigned directly to judge users). There is some discussion about [changing the way judge tasks are assigne

[2018-12-26 14:43] mc-usds commented on #8188
Had a call 12/22 with VBMS (Nathan Jolly) and SHARE(?) (Wayne Dalsing), BGS (John Dell) and Caseflow (Shane & myself). We all agreed that VBMS needs the address format in order to create a claim for a veteran that has an existing fiduciary. VBMS will not be adding or changing fiduciary.

Wayne will do some tests with the app (SHARE) to verify what the fiduciary address format should be and will se

[2018-12-26 14:53] lowellrex opened #8436 "Use JudgeTeam membership to determine judges and attorneys"
We currently use the `VACOLS.STAFF` table to [determine if a user is a judge or an attorney](https://github.com/department-of-veterans-affairs/caseflow/blob/6bea2aab4a10d6bf3de6b4b26ab1f229c9f5637a/app/repositories/user_repository.rb#L80) (by way of [methods on the User model](https://github.com/department-of-veterans-affairs/caseflow/blob/6bea2aab4a10d6bf3de6b4b26ab1f229c9f5637a/app/models/user.r

[2018-12-26 15:00] lowellrex opened #8437 "Put task creation functions inside of a transaction block"
Currently, when we create a parent task successfully but fail to create a child task for whatever reason we raise an error but persist the parent task to the database. We should not create any tasks in that lineage if we fail to create a child task. [`ColocatedTask`](https://github.com/department-of-veterans-affairs/caseflow/blob/6bea2aab4a10d6bf3de6b4b26ab1f229c9f5637a/app/models/tasks/colocated_

[2018-12-26 18:27] aroltsch opened #8439 "[Sentry] Do not send this exception to sentry - Error app/queue/uiReducer/uiActions in ?"
We need to catch this 400 error properly on the FE and not send it to Sentry.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3144/

![image](https://user-images.githubusercontent.com/3811786/50597972-41d6bd00-0e77-11e9-94ad-befeaf9072db.png)

[2018-12-26 19:45] #7920 closed

[2018-12-26 21:11] leikkisa commented on #8425
From a business perspective, POA is not required in the cases of a deceased veteran, so the system should not enforce that it is and would need to support claimants on deceased vetearns  without POAs.  (From the business side, it’s never required that a claimant have representation.)  There’s also definitely no connection/correlation on the business side between a POA and a fiduciary.  However, if

[2018-12-26 22:18] #8411 closed

[2018-12-27 15:46] aroltsch opened #8448 "[FE] Trim spaces before and after document ID"

[2018-12-27 16:00] MeredithStewart commented on #8420
Let's check in on the task model structure that Sharon and Alex were working on and make sure that this doesn't conflict. Perhaps it makes sense to have something pre-MVP, but we want to make sure we've got agreement on how we're developing the trees for the task model.

[2018-12-27 16:34] #8360 closed

[2018-12-27 17:33] allyceh opened #8451 "Intake | Contested Claims | Add Alert Banner and Copy"
### Background/Context
This issue stems from a conversation @marvokdolor-gov and I had with @shanear @steve-gov about how we'll handle contested claims for AMA appeals in the short term. cc: @carolaponce . Part of broader epic #8660

### Goals
- When the Intake team sees a case with a contested claim, they will funnel cases with contested claims to a legal detailee who will be working closely with

[2018-12-27 17:55] #8339 closed

[2018-12-27 18:15] MeredithStewart opened #8453 "EPIC | Hearing Details"
User Story: As part of hearing process, Hearing Coordinators sometimes need to update data for individual hearings, including room location, VLJ, and hearing coordinator. As part of the hearing process, data around transcription for individual hearings also needs to be recorded and updated as needed.

Note: This work is part of a pre-MVP for transcription. Additional work is forthcoming for MVP fo

[2018-12-27 18:35] MeredithStewart opened #8454 "Daily Docket & Case Details changes (AMA & Legacy)"
## User Stories
* As a hearing coordinator, I need to be able to access the hearing details from the daily docket and from Case details.
* As a hearing coordinator I need to be able to quickly see if a transcript has been requested and select if a transcript has been requested.

## Mocks
* Pages 1 and 2 of https://va-gov.invisionapp.com/share/TKPRX5QUMRW#/screens
* **Note:** Pages 3-6 are for othe

[2018-12-27 18:46] ShellySmithDSVA commented on #8231
Hearing Details Pre-MVP will be built first. This will be the Hearing Worksheet, VACOLS message, and Judge/Attorney views.

Task Flow Mural
https://app.mural.co/invitation/mural/workqueue2001/1545855493430?sender=michellesmith77044&key=17741766-fecf-4a59-8495-844088c3a6ba

Mocks here
https://va-gov.invisionapp.com/share/TKPRX5QUMRW#/338332664_Daily_Docket_W_Hearing_Details

[2018-12-27 18:48] #8231 closed

[2018-12-27 18:53] ShellySmithDSVA opened #8455 "Hearing Details for Legacy (go to VACOLS)"
## User Story
As a hearing coordinator, I will be looking at both AMA and legacy cases in Caseflow. I can't edit legacy hearing details in Caseflow, so I need to be reminded where to go to edit those changes.

## Mocks
Page 6 of following Invision Mock-up: https://va-gov.invisionapp.com/share/TKPRX5QUMRW#/338333096_Hearing_Details_VACOLS_2

## Acceptance Criteria
 - [ ] Verify hearing coordinators

[2018-12-27 19:16] allyceh commented on #6854
@laurjpeterson @aroltsch Latest mock is above for copy review. Updated based on @nicholasholtz feedback.

[2018-12-27 19:16] allyceh commented on #7216
@laurjpeterson @aroltsch Latest mock is above for copy review. Updated based on @nicholasholtz feedback.

[2018-12-27 19:29] MeredithStewart opened #8456 "Hearing Details (for AMA hearings)"
## User Stories
* As part of hearing process, Hearing Coordinators sometimes need to update data for individual hearings, including room location, VLJ, and hearing coordinator.
* As part of the hearing process, data around transcription for individual hearings also needs to be recorded and updated as needed.

## Mocks
* Page 4 of https://va-gov.invisionapp.com/share/TKPRX5QUMRW#/screens

## Accept

[2018-12-27 19:59] ShellySmithDSVA opened #8458 "Judge View of Hearing Details"
## User Story
As a judge or attorney, I should be able to view the details of the hearing, including if the transcript was requested and when. I don't need editing capabilities though, and should have a read only view.

## Mock Ups
Pages 4 & 5 of following InVision file
https://va-gov.invisionapp.com/d/main/#/console/16316031/338332809/preview

## Acceptance Criteria

For more details about the co

[2018-12-27 20:10] #8448 closed

[2018-12-27 20:36] leikkisa commented on #8425
Email sent to Nathan Jolly with UAT file numbers.

[2018-12-27 20:42] leikkisa commented on #7054
We are going to have a meeting with Linda and Colin next week. Colin says that backfilled ratings should be treated like regular ratings, and we should be able to process them.  However, most real backfilled ratings should be really old (so not timely).  According to Linda, if a recent rating is backfilled, it has a different meaning and it is not promulgated yet, and shouldn't be included in the

[2018-12-27 20:57] MeredithStewart commented on #8453
For questions on these tickets - @ShellySmithDSVA, @MeredithStewart.

[2018-12-27 21:09] MeredithStewart commented on #7607
All tickets done, tested with users, fixes recorded.

[2018-12-27 21:09] #7607 closed

[2018-12-27 21:16] leikkisa opened #8461 "Ramp refiling not working in demo"
Fix mock data for ramp refiling so that Will can demo it.

[2018-12-27 22:13] leikkisa commented on #7623
@carolaponce From the ticket description, it doesn't look like I'm supposed to work on the ineligibility message, but just wanted to check since there are mocks for it.

[2018-12-27 22:14] #8214 closed

[2018-12-27 23:39] leikkisa commented on #6938
I turned this off in UAT too, because it was giving Sandra issues (and she's confirmed that turning it off fixed things). So there might be something more we need to look at if we thought it was working in UAT before.

https://sentry.uat.ds.va.gov/sentry/caseflow-uat/issues/1056/

[2018-12-27 23:42] leikkisa commented on #6167
I got started on this, but it seems like it would make sense to wait for 8263 so I am pausing for now.

[2018-12-27 23:54] leikkisa commented on #8388
Closing, duplicate of #7378

[2018-12-27 23:54] #8388 closed

[2018-12-28 15:45] #7683 closed

[2018-12-28 16:06] lowellrex opened #8467 "Simplify logic in TaskSnapshot component"
![image](https://user-images.githubusercontent.com/32683958/50520574-2478ac00-0a8f-11e9-86d4-6533d869c16c.png)

There are three core pieces of a single task in the `TaskSnapshot` component: chronological information, narrative information, and the actions menu. The first two pieces that hold information have grown a bit unwieldy over the past few months and are due for a refactor. The information

[2018-12-28 16:11] mc-usds commented on #8188
Wayne Dalsing sent email with an initial description of what fields need to be filled in in a CEST transaction (create/insert benefit claim method) so that existing Fiduciaries are supporting by ensuring they are not updated.

[2018-12-28 16:14] pkarman commented on #7990
@jiahuang I believe once #8468 is merged, we can move this to validation?

[2018-12-28 17:11] rkreyhsig commented on #8217
@sneha-pai @allyceh @eric-nava I don't believe we have the comment icon for the link/button yet.  We will push the functionality with just the text for now.

[2018-12-28 19:15] MeredithStewart opened #8472 "EPIC | Hearing Disposition Flows"
## User Stories:

* As a hearing coordinator, I need to be able to postpone a Veteran immediately, send to "Schedule Veterans," for someone else to reschedule, or add an admin action that needs to be completed prior to scheduling Veterans.

* As a Judge, I need to be able to postpone a Veteran and send it to "Schedule Veterans," or make a note about admin actions that are needed based on informati

[2018-12-28 19:58] MeredithStewart opened #8473 "EPIC | AMA Hearing Prep Updates"
## User Stories

* As a VLJ, I need to be able to see which hearings are AMA hearings and which are Legacy hearings
* As a VLJ, I need to be able to see updated options available for AMA hearings vs. Legacy hearings
* As a VLJ, I need to be able to take notes on AMA issues, but not remove them from the hearing worksheet

## EPIC Tickets
* #8474 Hearing Prep Daily Docket Updates
* #8475 Hearing Pre

[2018-12-28 20:58] MeredithStewart opened #8474 "Hearing Prep Daily Docket Updates"
## User Stories

* As a VLJ, I need to be able to see which hearings are AMA hearings.
* As a VLJ, I need to be able to see the Case Details for each Veteran.
* As a VLJ, I need to be able to select AMA if a Veteran waives their 90 day evidence window.
* As a VLJ, I need to be able to edit the Hearings Worksheet.

## Mocks

* See mocks on link (page 1): https://va-gov.invisionapp.com/share/JMPS9DG

[2018-12-28 21:31] MeredithStewart commented on #8474
Ask @ShellySmithDSVA and @MeredithStewart for questions about this ticket.

[2018-12-28 21:34] MeredithStewart opened #8475 "Hearing Prep Hearing Worksheet Updates"
## User Stories
* As a VLJ, I need to be able to determine when an appeal is an AMA appeal.
* As a VLJ, I need to be able to take notes on AMA issues and have options only available for AMA appeals.
* As a VLJ, I need to be able to correct issues through Intake if I find an administrative error was made.
* As a VLJ, I need to be able to see the Case Details for each Veteran.

## Mocks
* For mocks

[2018-12-28 21:49] #8217 closed

[2018-12-28 21:53] lowellrex commented on #8271
Completed by #8446.

[2018-12-28 21:53] #8271 closed

[2018-12-28 22:20] MeredithStewart commented on #8475
@MeredithStewart and @ShellySmithDSVA -- Verify changes with Allyce, Lauren, Nicholas, and Chris Given on Wednesday.

[2018-12-31 19:45] pkarman commented on #8190
Findings:

* The VACOLS case has a `bfdc` value of `G` ("Advance Failure to Respond").

[2018-12-31 20:01] pkarman commented on #8189
The related VACOLS issue has an existing `isscode` of "15" but it does not appear to be getting cloned into the follow up issue being created:

https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/services/appeal_repository.rb#L475

[2019-01-02 13:32] lowellrex opened #8483 "Show task instructions for events in case timeline"
![image](https://user-images.githubusercontent.com/32683958/50593998-c1a95b00-0e68-11e9-8afe-ad8e35045656.png)

Display task instructions in case timeline similarly to how they appear in the task snapshot.

## Acceptance criteria
* [ ] Task instructions appear in case timeline

[2019-01-02 13:33] lowellrex commented on #7556
## Second helpings sprint (31 Dec-13 Jan) priorities

@joeyyang @rkreyhsig @tomas-nava, below are tickets related to this sprint's [higher-level priorities](https://dsva.slack.com/files/U51RH55BR/FDU6CP3E1/Queue_team_sprint_goals).

### 1. Single appeal view
1. [Show "+ Add a new task" button in active tasks title bar](https://github.com/department-of-veterans-affairs/caseflow/issues/8216)
1. [Sim

[2019-01-02 14:53] nicholasholtz commented on #5110
@nikitarockz How do we know that all tasks have not been completed? Has this been retested by the VA 508 team? Can you provide more specifics to explain why Nolawi's note of 10/4 is not accurate? Thanks.

[2019-01-02 14:58] MeredithStewart opened #8484 "AMA Veterans need to be associated with an RO"
## User Stories:

* A Hearing coordinator needs to schedule AMA Veterans for Board hearings by Regional Office and alternate locations associated with that RO.

## Notes:
*  VBA and the Board currently use this tool that matches a Veteran by their home address zip code to the VBA RO facility. Note that a Veteran isn't matched to an RO facility across state lines.
* We investigated using BGS data f

[2019-01-02 15:17] aroltsch opened #8485 "[FE] TypeError Cannot read property 'then' of undefined"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2879/

[2019-01-02 15:57] mdbenjam commented on #8484
Are there any other factors that determine a user's RO? Does the RO they worked with for their initial claim matter at all?

[2019-01-02 16:06] tomas-nava opened #8488 "upgrade RuboCop to >= 0.59.1"
Our current version of RuboCop (`0.52.1`) has a bug that flags properly formatted `strftime` tokens like the ones in this line:

[code]

with a [`Style/FormatStringToken` error](https://rubocop.readthedocs.io/en/latest/cops_style/#styleformatstringtoken).

This bug was [fixed at least by RuboCop `0.59.1`](https://github.com/rubocop-hq/rubocop/issues/6308). The current version is `0.62.0`. Is there

[2019-01-02 16:07] mdbenjam commented on #8221
Is this still relevant? I think we've implemented this right?

[2019-01-02 16:09] MeredithStewart commented on #8484
@mdbenjam  -- It might matter, but in our investigation, it seemed like the RO wasn't updated automatically when a Veteran moved across the country.

Because the ROs also change based on who is working on the processing, that is why the BGS fields aren't proving useful. When other ROs work the cases, it gets changed. We need a way to know which RO the Veteran would walk into -- and which they woul

[2019-01-02 16:11] mdbenjam commented on #7966
@allyceh In the future, I think it might be easier to create these updates as separate tickets. That way we keep a record of what was originally done, which I think will help other people pick up the tickets.

[2019-01-02 16:14] allyceh commented on #7966
@mdbenjam Will do!

[2019-01-02 16:14] mdbenjam commented on #8488
No concerns here.

[2019-01-02 16:24] MeredithStewart commented on #8484
From the developer of the VBA Jurisdiction tool (Michael Van Gaalen):

"As currently designed, the application and its database do not support an API, but that’s not to say one couldn’t be developed. Alternatively, the database tables themselves could be shared, although that could be messy and would also be snapshot in time. We don’t update the tables often, but updates do happen several times pe

[2019-01-02 16:38] mc-usds commented on #7890
Notes around "issues" - from chatting with Sally and Peter
----------------------------------------------------------
When an reivew option (appeal/HLR/SC) is created the rating issues associated with the appeal/claim are stored as Request issues in Caseflow.
For HLR/SC he request issues are associated to an end product establishment (one EPE to many request issues)

Rating issue: the existing rat

[2019-01-02 16:40] sneha-pai commented on #8475
adding Mark and myself for component-building consultation: @mdbenjam @sneha-pai

[2019-01-02 16:45] sharonwarner opened #8490 "Schedule Veterans | Veterans scheduled through VACOLS weren't showing up"
Meredith to confirm this issue.

[2019-01-02 16:54] #8078 closed

[2019-01-02 16:54] #8079 closed

[2019-01-02 18:37] aroltsch commented on #8221
Yes, it is done.

[2019-01-02 18:37] #8221 closed

[2019-01-02 18:43] lowellrex commented on #8320
Updating [`CaseReviewsController.create_quality_review_task`](https://github.com/department-of-veterans-affairs/caseflow/blob/33742a118979558e3131f2627488ec3840896fb4/app/controllers/case_reviews_controller.rb#L30) to something like the following (to mirror [what we do for legacy cases](https://github.com/department-of-veterans-affairs/caseflow/issues/6407#issuecomment-409271892)) should do the tr

[2019-01-02 18:46] aroltsch commented on #8175
Will create a new ticket

[2019-01-02 18:46] #8175 closed

[2019-01-02 18:51] aroltsch commented on #8331
Fixed

[2019-01-02 18:51] #8331 closed

[2019-01-02 18:55] MeredithStewart commented on #8367
@sharonwarner -- In testing this one in Demo, this is still not functioning as intended. Scheduling a video hearing is not showing as video - still showing as CO hearing day, but associated with an RO.

[2019-01-02 18:55] ShellySmithDSVA opened #8492 "Edit / Remove Hearing Day Link Correction"
Edit / Remove Hearing Day links need corrected spacing and icons added.

- Spacing should be added between links to distinguish each item
- Pencil icon should be added before Edit Hearing Day link
- X icon should be added before Remove Hearing Day link

### Mock Ups
See link treatment in the mocks below
https://va-gov.invisionapp.com/share/HQP70E6DWPY

### Parent Ticket
See ticket #8359 for comple

[2019-01-02 19:01] MeredithStewart commented on #8366
@sharonwarner -- When a user adds a CO hearing day on a day that there is already a CO hearing room, it doesn't actually add the new hearing day to the schedule in Demo. There is also no error message telling the user that it won't be added.

What we're looking for: If a user tries to add a CO hearing day on a day there is already one scheduled (thereby taking up room 2), the user should get an er

[2019-01-02 19:13] MeredithStewart commented on #8359
Reviewed tickets above and found two that have been completed have issues that need to be fixed. Two issues still open, couldn't test.

[2019-01-02 19:22] MeredithStewart commented on #8484
@mdbenjam -- We could do geo-matching within state boundaries and we'd probably be accurate most of the time, but it wouldn't align with their zip code matching. The only thing that's the wrinkle is that a Veteran's representation/POA is likely colocated at their Regional Office.

For alternate locations - we are clear that geomatching is the way to go - we're finding you the closest location, it'

[2019-01-02 19:23] MeredithStewart commented on #7881
From @mc-usds:  I was looking through BGS's documentation for something else and happened across this:
RORoutingService
Common Web Service

Service Description
The RO Routing Service is designed to publish regional office related oracle packages, procedures and decouple Lines of Business from oracle related packages, procedures.

Methods
•    GetRegionalOfficeByZipCode - Retrieve all the regional

[2019-01-02 19:38] leikkisa commented on #8425
This has been fixed in UAT, closing.

[2019-01-02 19:38] #8425 closed

[2019-01-02 19:41] MeredithStewart commented on #8490
I can confirm the issue for at least one Veteran. @sharonwarner -- you are correct, they are still showing up in the list of "Veterans to Schedule."

[2019-01-02 19:52] MeredithStewart commented on #8490
Last Veteran on daily docket for CO hearing on 1/23/19 shows up on docket, but is still on the list of Veterans to be scheduled.

[2019-01-02 20:37] #8410 closed

[2019-01-02 20:42] MeredithStewart commented on #7881
We aren't doing BGS. Closing ticket.

[2019-01-02 20:42] #7881 closed

[2019-01-02 21:05] leikkisa opened #8494 "Handle backfilled or converted rating error"
## Story
When we get the Backfilled or Converted rating error, it stops a user from being able to complete the intake.  It's possible that the user won't be getting ratings that could be eligible for a Decision Review, but if this is the case, the user should use the Unidentified Issue option.

## Acceptance criteria
If we get this error, return no ratings to the user and allow them to continue wi

[2019-01-02 21:09] leikkisa commented on #7054
Backfilled or converted ratings could possibly be a rating that could be eligible for a Decision Review. Formerly denials did not get promulgated.  If a change is made to an award, that does not get promulgated.  There is a legal question as to whether we should show these, if they do not have a legal document attached.

If there are any promulgated ratings, they should be returned and they should

[2019-01-02 21:10] leikkisa commented on #7054
Closing the investigation ticket. New development ticket opened here: https://github.com/department-of-veterans-affairs/caseflow/issues/8494

[2019-01-02 21:10] #7054 closed

[2019-01-02 21:21] allyceh opened #8495 "Decision issues: grey line connecting issues"
Closed out https://github.com/department-of-veterans-affairs/caseflow/issues/8175 and created a new issue for one remaining item.

We wanted to tighten up the spacing between decision issues on the Add Decisions and Case Details page. To do this, we can adjust the height of the grey line and the amount of white space between the line and each decision issue.

<img width="1191" alt="screen shot 201

[2019-01-02 21:30] MeredithStewart commented on #8367
When we refresh the page, it changes from Central to Video.

[2019-01-02 22:01] #8490 closed

[2019-01-02 22:10] MeredithStewart opened #8496 "Move Error for "No Rooms Available" to modal"
When a user is creating a new hearing day, but there are no rooms available, or they are creating a CO hearing day and room 2 is already taken, they receive an error message that says, No Rooms are available," on the View Schedule page, after selecting confirm on the modal. because the page doesn't align at the top of the page, you can't see the error message unless you scroll up.

Error message s

[2019-01-02 22:12] MeredithStewart commented on #8484
Based on conversation 1/2/18  -- We will geo-match Veterans to an RO and name that data element something like, "Hearing Regional Office."

[2019-01-02 22:38] sharonwarner opened #8497 "Regional offices for hearings"

[2019-01-02 22:48] sharonwarner opened #8498 "Assign Hearings | Page load optimizations"
We need to optimize the backend calls on the assign hearings page. There are two calls, one to index_with_hearings in hearing_day_controller and the other to ready_for_hearing_schedule in appeal_controller.

We then need to determine how many veterans we could reasonably call in one page load so we can decide whether or not we need backend pagination.

[2019-01-03 00:28] lowellrex opened #8499 "Judges can send cases not assigned to them to BVA dispatch"
## Steps to reproduce locally
* Re-seed VACOLS and Caseflow databases
* Log in as `BVAAABSHIRE` (a judge with cases assigned to them)
* Visit a legacy appeal not assigned to the judge we are logged in as (`/queue/appeals/2096907`, for instance)
* Notice that we have the option to mark this case "Ready for Dispatch"

![image](https://user-images.githubusercontent.com/32683958/50619021-9fddc180-0ec4

[2019-01-03 02:12] lowellrex commented on #8499
Looks like a refactor we did last week (and will be pushed live in tomorrow's deploy) fixes this bug! Can be tested by running those steps to reproduce above then doing the following:
* Checking out master at the merge before this PR was committed (`git checkout d4fd3123521800a9f0203e00a622540866fc2a22`)
* Refreshing the page and observing that the actions dropdown (as well as the rest of the info

[2019-01-03 14:47] mc-usds commented on #8188
Updating with email from Wayne regarding the address format when there is an existing fiduciary:

I did not of course list the mailing address fields, both normalized and 6x20, because VBMS already has to fill those in when generating a CEST. When there is a fiduciary, filling in the address fields is more complicated but they are not new fields that need to be filled in. Generation of the 6x20 is

[2019-01-03 14:56] aroltsch commented on #7606
@allyceh @laurjpeterson Moncef and I chatted about this ticket yesterday and we will tackle this ticket in multiple steps:
step 1. Allow editing of the latest document ID for AMA cases. Attorneys and judges would be able to edit a document ID at any point in time.
step 2. Allow editing of the latest document ID for legacy cases. This will update `attorney_case_reviews` table and `decass` table.
st

[2019-01-03 14:58] sharonwarner commented on #5110
@nikitarockz @nicholasholtz

We have definitely fixed *some* of these issues, but not all of them. Is it possible to hold off on the retest until after our February deadline? It will take some time to go through and confirm which issues have been corrected.

[2019-01-03 15:02] laurjpeterson commented on #7606
sounds good - thank you!

[2019-01-03 15:13] laurjpeterson commented on #8475
Looks great! I agree with the user stories here.

One potential design tweak - you could change "Docket Number" to just "Docket". Queue has changed this in the queue table, because that column contains docket type + docket number.

Also, this could be an opportunity to introduce some more contrast into the design, by bolding data titles like "Veteran name", "Veteran ID", so the worksheet is easier

[2019-01-03 15:50] pkarman commented on #8189
from @cmgiven ok to delete this CaseIssue.

[2019-01-03 16:09] laurjpeterson commented on #8484
Chiming in here - one of the reasons that queue could benefit from knowing the Veteran's RO under AMA is to automatically route tasks to Translation team (see: https://github.com/department-of-veterans-affairs/caseflow/issues/8226). This is primarily for appeals that originate from San Juan, Puerto Rico, and Manila, Philippines. I think we should aim for translation tasks to be completed as soon a

[2019-01-03 16:21] mdbenjam commented on #8498
Looking in the logs

`index_with_hearings in hearing_day_controller` makes a ton of calls to the VACOLS::CaseHearing table.

`ready_for_hearing_schedule in appeal_controller` makes a ton of calls to VACOLS::CaseHearing, VACOLS::RemandReason, and VACOLS: CaseIssue.descriptions

[2019-01-03 16:23] mdbenjam commented on #8484
Based on the Hearing Schedule conversation yesterday, it sounds like there isn't a great source to pull from within VA, so geo-matching feels like the right way to go for translation as well.

[2019-01-03 16:51] #8107 closed

[2019-01-03 16:52] #8032 closed

[2019-01-03 18:35] marvokdolor-gov commented on #8207
## Chat with Rachel about reports listed above
- we want to make sure the format is what Rachel wants
- request to Rachel to review and provide feedback

[2019-01-03 18:37] marvokdolor-gov opened #8501 "Build an MVP Data Dictionary"
## Request

Start building a data dictionary (for now a doc/pdf works) of the fields for the tables we'll be porting to Tableau.
- This is something helpful for us to leave the board with (e.g. documentation on the Caseflow tables).
- Connects #9559
- [x] The board has provided a requirements document via OIT:
[Caseflow Data Dictionary Requirements 29 Jan 19.pdf](https://github.com/department-of-v

[2019-01-03 19:18] steve-gov commented on #7984
First two codes validated (created a NR-HLR and a R-HLR for Veteran 123458314):

<img width="434" alt="screen shot 2019-01-03 at 11 13 50 am" src="https://user-images.githubusercontent.com/25468689/50656807-3e136b00-0f49-11e9-860a-d99ddf83fa28.png">
<img width="478" alt="screen shot 2019-01-03 at 11 15 57 am" src="https://user-images.githubusercontent.com/25468689/50656808-3e136b00-0f49-11e9-9f8d-

[2019-01-03 19:58] steve-gov commented on #8329
I created an HLR with an intake date earlier than the displayed decision dates and at least one rated-issue effective date:

![screencapture](https://user-images.githubusercontent.com/25468689/50658532-8aad7500-0f4e-11e9-9db0-d5c3ee1ce8f2.gif)

Shouldn't I NOT be able to select any of the issues with a decision date > 05/10/2018 in this case? I may be misunderstanding this ticket.

[2019-01-03 20:28] sharonwarner opened #8505 "View Hearing Schedule | Deletion/Addition success messages"
After deleting or adding a hearing day, the success messages never disappear. They should be unset on componentDidUpdate. We can copy the same logic from componentDidUpdate in hearingSchedule/containers/DailyDocketContainer.jsx.

[2019-01-03 21:32] steve-gov commented on #8329
Confirmed that this is not the desired behavior. In this example, I should not be able to select among issues decided on 10/10/2018 if my receipt date is 5/10/2018.

[2019-01-03 21:58] MeredithStewart commented on #8475
@sharonwarner -- This ticket is ready for dev. Mocks have been updated. Refer to @MeredithStewart and @ShellySmithDSVA for questions.

[2019-01-03 22:22] #8369 closed

[2019-01-03 22:42] steve-gov commented on #8223
Technical Validation: Will be validated as part of other completed tickets.

[2019-01-03 22:42] #8223 closed

[2019-01-03 22:42] #8348 closed

[2019-01-03 22:47] Sjones352 commented on #8077
Re-opening as it's on going till all these flakey tests are fixed.

[2019-01-03 22:56] steve-gov commented on #7908
I've tried 30 different fake SSNs and file numbers and can only trigger `veteran_not_accessible` instead of `veteran_not_found`. @jiahuang do you know of a file number that will cause `veteran_not_found` in UAT?

<img width="909" alt="screen shot 2019-01-03 at 2 53 30 pm" src="https://user-images.githubusercontent.com/25468689/50666001-affaad00-0f67-11e9-966d-7cecc133947c.png">

[2019-01-03 23:04] steve-gov commented on #5882
Validated. There will likely be some revisions before launch but no bigs.

[2019-01-03 23:04] #5882 closed

[2019-01-03 23:09] carolaponce commented on #8451
@carolaponce

[2019-01-03 23:12] mc-usds commented on #7890
Met with Rusty (James Neal) today to learn more about claim phase in ebenefits. The claim phases are derived from db triggers. It looks like these do not work with HLR and SC and the claim phase is not updated correctly.

Attached is the requirements documents when claim status was being built out in ebenefits. The first page describes what data is looked at to derive claim phase.

[Phase and Clai

[2019-01-03 23:20] carolaponce commented on #8451
@carolaponce

[2019-01-03 23:35] steve-gov commented on #7984
Contacted Nate for help with validating `040HDERPMC` and `040HDENRPMC`. Will leave it to @shanear to validate `040BDEIMOPMC`.

[2019-01-03 23:35] lowellrex opened #8510 "Update list of judges receiving RAMP cases"
Update the [list of judges who should receive RAMP cases](https://github.com/department-of-veterans-affairs/caseflow/blob/00d6714237a888702f07dc2bf5a30e48ddec48ee/lib/constants/ramp_judges.rb#L9).

Here is the list of judges who [should receive RAMP cases](https://dsva.slack.com/archives/C6E41RE92/p1546547237037800?thread_ts=1546539527.023100&cid=C6E41RE92) and here is the list of [judges who shou

[2019-01-03 23:49] steve-gov commented on #7985
Bullet 1 validated for HLR and SC.

Bullet 2 validated for HLR and SC.

<img width="938" alt="screen shot 2019-01-03 at 3 46 39 pm" src="https://user-images.githubusercontent.com/25468689/50667608-015a6a80-0f6f-11e9-9a17-e4bd5873b616.png">

Bullet 3 is technical and assumed correct.

[2019-01-03 23:49] #7985 closed

[2019-01-03 23:52] steve-gov opened #8511 "Non-Comp Intake | On confirmation page, remove copy references to EPs and contentions."
See https://github.com/department-of-veterans-affairs/caseflow/issues/7985

An EP is not established and a contention not created in the case of non-Compensation or non-Pension intakes. Remove references to establishing an EP or contention on the confirmation screen for noncomp intakes.

<img width="690" alt="screen shot 2019-01-03 at 3 43 31 pm" src="https://user-images.githubusercontent.com/2546

[2019-01-03 23:54] steve-gov commented on #8511
@carolaponce pinging for any input you might have

[2019-01-04 00:00] steve-gov commented on #7623
Bullet 1 validated:

<img width="938" alt="screen shot 2019-01-03 at 3 46 39 pm" src="https://user-images.githubusercontent.com/25468689/50667893-75e1d900-0f70-11e9-8f31-76915d517687.png">

[2019-01-04 00:10] steve-gov commented on #7623
Bullets 2-4 validated:

<img width="980" alt="screen shot 2019-01-03 at 4 09 24 pm" src="https://user-images.githubusercontent.com/25468689/50668119-fbb25400-0f71-11e9-84f7-2641a6802330.png">

[2019-01-04 00:10] #7623 closed

[2019-01-04 00:14] carolaponce commented on #8511
The formatting looks off.  Specifically spacing and alignment.  Here's a reference for that page.  The modification we have done to this template is to have the message left aligned.
http://www.caseflowdemo.com/styleguide#messages

[2019-01-04 00:20] carolaponce commented on #7623
@leikkisa  sorry for the late response _ my settings were off and I was not getting the messages.  These are not new designs - we were using this ticket to review styling modifications to the alerts but have not changed that style in development.  I will review with @allyceh and write a new ticket if necessary.

[2019-01-04 00:20] leikkisa commented on #8329
@steve-gov Sorry about that, the spec said "decision issues" which is a specific thing, but I will make a change to apply to rating issues as well.

[2019-01-04 00:30] steve-gov commented on #7990
Per a Slack thread and in person conversation, @jiahuang may have to manually establish an organization et. al. so this can be UATed.

[2019-01-04 00:44] steve-gov commented on #7990
Intook both a SC and HLR for `123458314` in the NCA LOB. Neither on are listed on the reviews landing page.

<img width="818" alt="screen shot 2019-01-03 at 4 44 11 pm" src="https://user-images.githubusercontent.com/25468689/50668890-d7a54180-0f76-11e9-9fe0-fd88573f4a11.png">

<img width="979" alt="screen shot 2019-01-03 at 4 43 59 pm" src="https://user-images.githubusercontent.com/25468689/506689

[2019-01-04 01:00] steve-gov commented on #8050
User validated in the field, will keep an eye on it.

[2019-01-04 01:00] #8050 closed

[2019-01-04 01:11] steve-gov commented on #7199
@mc-usds How would you recommend testing that this exists and works in production?

[2019-01-04 01:48] leikkisa commented on #7199
@steve-gov I added a find_claimant_letters(document_id) on DocumentService just in case we thought it'd be useful. I tried it on Prod and on UAT and it's working for me on UAT, but I believe it's not working on prod.  I'm getting a "Not found" error. Let me know if you want to see the detailed version.

[2019-01-04 01:51] leikkisa commented on #7984
040BDEIMOPMC actually has it's own ticket, so it's not part of this one.
https://github.com/department-of-veterans-affairs/caseflow/issues/6167

[2019-01-04 14:10] laurjpeterson commented on #5448
closing because the Board is reorganizing to 4 DVCs, each with 25 judges, and judge teams.

[2019-01-04 14:10] #5448 closed

[2019-01-04 14:11] #5872 closed

[2019-01-04 14:12] laurjpeterson commented on #5634
Closing this issue because the work on navigation is being tracked here: https://github.com/department-of-veterans-affairs/caseflow/issues/7503

[2019-01-04 14:12] #5634 closed

[2019-01-04 14:12] laurjpeterson commented on #5582
Closing because work on navigation is being tracked here: https://github.com/department-of-veterans-affairs/caseflow/issues/7503

[2019-01-04 14:12] #5582 closed

[2019-01-04 14:35] allyceh commented on #7216
@laurjpeterson @nicholasholtz @aroltsch I posted another mock above with updates based on feedback from Josh Freeman. Unless there is additional feedback, this mock is ready for dev.

Consensus: Attorneys aren't going to know what a non-rating issue is. If anyone has a better way to describe it, let me know your thoughts. Hopefully we can automatically check "non-rating issue" in the future if tho

[2019-01-04 14:39] allyceh commented on #6854
@laurjpeterson @aroltsch An updated mock for the special issues page for AMA appeals is ready as well. I ended up doing both since they were easy to update simultaneously.

Since attorneys will be seeing the updated verbiage and categorization for legacy appeals, can we also update the AMA special issues screen so that the experience is consistent for them?

[2019-01-04 14:58] lowellrex opened #8515 "VLJ support staff cannot see currently active tasks on case details page"
Randy reported this morning that he and Marvin are the only folks on the VLJ Support team who can see the active tasks when they go to the case details page. All other members of the team see a "No active tasks" message in the "Currently active tasks" area when they enter the case details page from their queue.

[2019-01-04 15:03] lowellrex opened #8516 "Tasks for completed legacy appeals appear in VLJ support staff queues"
Randy reported this morning that some cases (one example is the `LegacyAppeal` with ID 91343) have had decisions rendered on them but they still show up in the team members' queues. My hunch is that this is related to the issue we have encountered before where legacy cases are worked in VACOLS and the status of the task is never updated in Caseflow. This could also be caused by changes we made to

[2019-01-04 16:17] pkarman commented on #7990
I assume "In progress tasks" was also empty?

[2019-01-04 16:49] steve-gov commented on #7990
It was empty at the time I added the validation-failed tag, but immediately thereafter Jia made some updates that caused the HLR to appear in the "In progress tasks" tab.

[2019-01-04 17:23] shanear opened #8518 "VBMS decisions with no rating issue break DTA contentions"
If a decision issue synced from VBMS is not connected to a rating issue, it is also missing a `description` and a `decision_text`.

If that decision issue is a DTA error, then the follow up contention on the EP breaks because the description is blank

[2019-01-04 17:26] mdbenjam opened #8519 "Add keyboard short-cut to add tags"
https://github.com/department-of-veterans-affairs/appeals-support/issues/3783#event-2054949783

Users want to be able to add tags from the keyboard. I feel this is a reasonable ask and pretty simple to add.

Maybe:

alt+shift+m for medical
alt+shift+p for procedural
alt+shift+o for other

Also add these shortcuts to the list of shortcuts modal in Reader to make them more discoverable.

[2019-01-04 17:34] sneha-pai commented on #8519
I love this idea and am all for it. How may we help users understand and learn these shortcuts within the application? Do you think we could create a view of Reader keyboard shortcuts to toggle on and off as needed?

[2019-01-04 17:47] lowellrex commented on #8515
This issue is the result of some team members not being identified as members of the VLJ support staff in the `vacols.staff` table. Those team members see the following when they visit the case details page for a task they are assigned:

![image](https://user-images.githubusercontent.com/32683958/50701167-c3b31b80-101a-11e9-9cfe-a590669f38cd.png)

*Short term fix*: Identify these folks as members

[2019-01-04 17:47] lowellrex commented on #8515
Closing this ticket since it will be addressed by #8480 and can be fixed by updating the staff table for the affected folks.

[2019-01-04 17:47] #8515 closed

[2019-01-04 17:59] mdbenjam commented on #8519
We already have that! I'll add it to the ticket that we should add these to that list.
![screen shot 2019-01-04 at 12 59 05 pm](https://user-images.githubusercontent.com/3885236/50702983-99645c80-1020-11e9-842e-447be94eaa71.png)

[2019-01-04 18:04] laurjpeterson commented on #7606
Related - document ID validations ticket: https://github.com/department-of-veterans-affairs/caseflow/issues/5993

[2019-01-04 18:05] shanear commented on #8518
This is related to #4 on https://github.com/department-of-veterans-affairs/caseflow/issues/8239.

Going to tackle that first

[2019-01-04 18:18] mc-usds commented on #7199
I get this error in pre-prod. I wasn't seeing this before, I will reach out to BGS:

</env:Header><env:Body><tns:findClaimantLetters><documentId>12345</documentId></tns:findClaimantLetters></env:Body></env:Envelope>
D, [2019-01-04T13:13:13.291805 #345] DEBUG -- : HTTPI /peer POST request to bepprep.vba.va.gov (httpclient)
I, [2019-01-04T13:13:14.265016 #345]  INFO -- : SOAP response (status 500)
D

[2019-01-04 18:21] aroltsch opened #8521 "Add stay disposition back in for legacy cases"
Reference: https://dsva.slack.com/archives/C6E41RE92/p1546621820060200

[2019-01-04 19:55] #7957 closed

[2019-01-04 20:35] eric-nava opened #8524 "Congressional Inquiries"
### Context

A congressional inquiry is when a congressperson expresses interest in the status of a Veterans' appeal. If a Congressperson inquires about an appeal while it is being processed at the Board, BVA dispatch teams must notify them when that appeal is being dispatched.

Here's the general flow of how a congressional inquiry might happen:

1. Congresspeople can contact the board about the

[2019-01-04 21:41] #8497 closed

[2019-01-04 21:51] sharonwarner commented on #8359
Saturday/Sunday warning message was merged today. Fix for the CO hearings being assigned an RO will be merged later today.

[2019-01-04 22:07] pkarman commented on #7996
@jiahuang I would love your thoughts on how to make the column different for each tab. Other than that, this ticket seems complete.

[2019-01-04 22:19] mdbenjam commented on #8498
I think this is what made `ready_for_hearing_schedule` slow:

https://github.com/department-of-veterans-affairs/caseflow/pull/8353

[2019-01-04 22:38] mc-usds commented on #8188
BGS and VBMS working together on this one. EstablishClaimService is in unit testing and is estimated to be available to test with in the next day or two. Instead of generating the 6x20 address will read it and use that as input for the CEST

[2019-01-04 22:40] mc-usds commented on #5429
We learned from Jack that there exists tables that track when:

filenumber or ssn changes: PERSON_IDFCTN_HIST
participant id records that are merged: MERGED_PTCPNT
??didn't catch what this table tracked??: NON_MERGED_PTCPNT

Next step is to get a better understanding how these tables can be used. Both VBMS and Caseflow are interested in accessing these tables to known when a change has been made.

[2019-01-04 22:55] leikkisa commented on #7199
@mc-usds When a document didn't exist in UAT, I got the same error that you posted above. But in Prod, I think that the whole service isn't available yet.

@steve-gov the find_claimant_letters call uses the same service, but the nice thing about it is that it's read-only (so we don't have to actually generate a tracked item to see if the service is available).
<img width="1042" alt="screen shot 20

[2019-01-04 23:10] #8367 closed

[2019-01-04 23:13] mc-usds commented on #7199
D'oooooooh

[2019-01-07 13:23] lowellrex opened #8531 "Upgrade webpack-dev-server to mitigate vulnerability"
Github [automatically alerted us to a vulnerability](https://github.com/department-of-veterans-affairs/caseflow/network/alert/client/package.json/webpack-dev-server/open) in `webpack-dev-server` three days ago. Since this is only a dependency in our development environments it is not essential that we resolve it immediately. And since we are currently running version `^2.4.2` (and the mitigation s

[2019-01-07 14:31] lowellrex opened #8532 "Rely on automatic child task creation when assigning ColocatedTasks"
#8489 added the ability for tasks to [automatically create a child task when they are created](https://github.com/department-of-veterans-affairs/caseflow/blob/9adda2bd49f033c04f459c847d378f7fdbdbfb1c/app/models/task.rb#L13) so that we don't have to write that code for each task class that wants to implement this functionality. This ticket exists to use the new pattern established by #8489 to repla

[2019-01-07 14:36] lowellrex opened #8533 "Rely on automatic child task creation when assigning BvaDispatchTask"
#8489 added the ability for tasks to [automatically create a child task when they are created](https://github.com/department-of-veterans-affairs/caseflow/blob/9adda2bd49f033c04f459c847d378f7fdbdbfb1c/app/models/task.rb#L13) so that we don't have to write that code for each task class that wants to implement this functionality. This ticket exists to use the new pattern established by #8489 to repla

[2019-01-07 14:41] lowellrex opened #8534 "Replace RoundRobinAssigner with RoundRobinTaskDistributor in JudgeAssignTask"
#8489 decoupled the task class and the [next assignee factory](https://github.com/department-of-veterans-affairs/caseflow/blob/9adda2bd49f033c04f459c847d378f7fdbdbfb1c/app/models/round_robin_task_distributor.rb). This ticket exists to use the new way of determining the next assignee to in place of the old way [when creating `JudgeAssignTask`s](https://github.com/department-of-veterans-affairs/case

[2019-01-07 14:56] lowellrex opened #8535 "Rethink RoundRobinTaskDistributor.list_of_assignees interface"
[`RoundRobinTaskDistributor` was created](https://github.com/department-of-veterans-affairs/caseflow/blob/9adda2bd49f033c04f459c847d378f7fdbdbfb1c/app/models/round_robin_task_distributor.rb) to mirror the existing [`RoundRobinAssigner` class](https://github.com/department-of-veterans-affairs/caseflow/blob/9adda2bd49f033c04f459c847d378f7fdbdbfb1c/app/models/concerns/round_robin_assigner.rb). As we

[2019-01-07 15:04] nicholasholtz commented on #8510
*note - this list of who should/should not receive RAMP appeals is for this next distribution; beyond that, everyone should be available for distribution.

[2019-01-07 15:05] #8313 closed

[2019-01-07 15:05] #7507 closed

[2019-01-07 15:42] #8421 closed

[2019-01-07 16:42] #8467 closed

[2019-01-07 17:49] MeredithStewart opened #8541 "Training/Rollout to Hearing Branch"
We need to coordinate with the Hearings Branch to deliver rollout and training in partnership with them and what they are planning.

The Hearings Branch has determined that Sal, Ryan, and Tamisha will lead/develop their training plan ahead of February 14, 2019. Sal has already been working on training for using the VBMS Letter generator.

## Caseflow Trainings

**1.  Schedule Veterans, Edit Hearin

[2019-01-07 18:15] MeredithStewart opened #8542 "CSEM/Function Access for Hearing Branch"
Develop a spreadsheet to track who has access and what functions they have access.

Got names from Hearings Branch, sent to Martina on 1/9/19. Asked Hearings Branch supervisor for ids on 1/9/19.

[2019-01-07 18:29] shanear opened #8543 "Appeal Intake | Select benefit type per issue"
We need user to select benefit type when they are entering a non-comp issue.
Add another dropdown field to the nonrating modal, the first field. Based on what the user selects, the Category dropdown options will change.

## Acceptance Criteria
When a user is intake an appeal, and adding an issue:
- On the on non-comp modal, there should be a drop down at the top of the modal called "Benefit Type"

[2019-01-07 18:37] shanear commented on #7987
may want to take a look at the solution here since just a link vs a redirect

[2019-01-07 19:18] pkarman commented on #8189
Issue was deleted
[code]

[2019-01-07 19:18] #8189 closed

[2019-01-07 19:42] leikkisa commented on #6167
Shane says to wait until after some related bug fixes he is currently working on before starting this

[2019-01-07 19:45] #8396 closed

[2019-01-07 19:54] pkarman commented on #7992
covered by #8539

[2019-01-07 20:41] mc-usds commented on #7199
Nain Hwu (Weblogic server team) confirmed that the DocumentService was not deployed to the Prod Internal domain.

Seeing if it can be deployed as part of the deployment this weekend.

[2019-01-07 20:45] steve-gov commented on #5695
Validated:

<img width="962" alt="screen shot 2019-01-07 at 3 45 14 pm" src="https://user-images.githubusercontent.com/25468689/50792526-46461000-1293-11e9-8c2a-71e391653335.png">

[2019-01-07 20:45] #5695 closed

[2019-01-07 20:53] steve-gov commented on #7991
Validated:

![screencapture](https://user-images.githubusercontent.com/25468689/50792831-4bf02580-1294-11e9-9529-ecffa6fbfadd.gif)

[2019-01-07 20:53] #7991 closed

[2019-01-07 21:12] laurjpeterson opened #8547 "Motion to Vacate | Litigation Support | Post-Decisional Motions to Vacate"
**Current Status: Phase 3 - In Progress**

# Background
Lit Support encompasses customer service, correspondence, motions, and receiving and routing CAVC remands at the Board. I call them the department of edge cases, because they often handle complex appeals scenarios.

### BVA Litigation Support Responsibilities
- Customer service = answering Veteran questions, like status inquiries
- Correspond

[2019-01-07 21:20] #8414 closed

[2019-01-07 21:21] steve-gov commented on #7994
Strange: I can't type in the textarea inputs at all. (Or paste in text as per the gif below.)

![screencapture1](https://user-images.githubusercontent.com/25468689/50794114-3846be00-1298-11e9-96e6-67ae47a17de4.gif)

[2019-01-07 21:33] steve-gov commented on #8329
Validated: Confirmed that I was not able to select among issues decided in the future.

[2019-01-07 21:33] #8329 closed

[2019-01-07 21:36] steve-gov commented on #7990
Successfully "intook" three appeals for NCA, and each one immediately showed up on the In Progress tab.

[2019-01-07 21:36] #7990 closed

[2019-01-07 21:39] steve-gov commented on #7908
Shouldn't this trigger the error?

<img width="978" alt="screen shot 2019-01-07 at 4 38 46 pm" src="https://user-images.githubusercontent.com/25468689/50794967-befc9a80-129a-11e9-9999-934f17fae0a2.png">

[2019-01-07 21:57] carolaponce commented on #7908
@steve-gov Yes.  We are using the style you see as system errors.  Not user error.  I think we should have visual distinctions between the 2.  We have the inline error stye for this case.

[2019-01-08 02:14] amprokop opened #8553 "Assign RAMP tasks with VSO tasks complete to judges"
Now that IHP-writing VSOs have started marking those tasks complete, we can adjust the JudgeTasks  to assign those RAMP cases.

# AC
- `JudgeTask.assign_ramp_judge_tasks` assigns otherwise eligible cases where VSO tasks are complete to judges

[2019-01-08 02:42] amprokop commented on #8510
full list of css ids

["BVADHACHEY", "BVAESLEBOFF", "BVAEVPAREDEZ", "BVAHSCHARTZ", "BVAJFRANCIS", "BVAJHAGER", "BVAJMONROE", "BVAJREINHART", "BVAKGUNN", "BVAMAPAPPAS", "BVAMHYLAND", "BVAMLANE", "BVAPSORISIO", "BVARFEINBERG", "BVASHENEKS", "BVATASMITH", "BVACBRUCE", "BVALBCRYAN", "BVABWILSON", "BVAWDONNELLY", "BVACCRAWFOR", "BVAJLMARCH", "BVAKALLEN", "BVATCATINO", "BVARSCHARNB", "BVAMDONOHUE", "BVA

[2019-01-08 02:45] amprokop commented on #8510
[code]

overwrote list of users in the prod console

[2019-01-08 15:26] amprokop commented on #8510
I edited the script to include RAMP appeals with completed IHP tasks that need assignment and distributed another batch — all the 32 judges listed in that ticket have 2 RAMP appeals newly assigned to them now. This task is now complete, we don't actually need a code change now.

[2019-01-08 15:40] mc-usds commented on #7199
Had a call this morning. Found out that the DocumentService was only partially deployed to the prod internal domain.

Created an Incident: INC3803441
https://yourit.va.gov/nav_to.do?uri=%2Fincident.do%3Fsys_id%3Dded84f72dbba2b48356a7e0e0f96194d%26sysparm_view%3Dess%26sysparm_record_target%3Dincident%26sysparm_record_row%3D1%26sysparm_record_rows%3D1%26sysparm_record_list%3Dcaller_id%253Djavascript

[2019-01-08 15:52] mdbenjam commented on #8484
Thinking more about this. @MeredithStewart, do we want to restrict the RO lookup to within the Veteran's state? I know this was mentioned originally, but I can't remember if that was in our final decision.

Are we still using the RO in VACOLS for legacy appeals? Or are we using geomatching for all appeals?

[2019-01-08 15:56] aroltsch opened #8557 "[Sentry] Special issues view - cannot modify appeal data with vacols ID"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3283/

[2019-01-08 16:18] mdbenjam commented on #8498
Reopening to tackle second slow endpoint. The `index_with_hearings` part.

[2019-01-08 16:31] mc-usds commented on #7199
Updated from Michael Simpson (BGS team):
CO525848FY19  has been updated with Incident and scheduled for maintenance window this weekend (during CI).

Change Order: CO525848FY19
https://vaww.nsd.va.gov/CAisd/pdmweb.exe?OP=SEARCH+FACTORY=chg+SKIPLIST=1+QBE.EQ.id=953005

[2019-01-08 16:46] steve-gov commented on #7515
@jiahuang This validates except for bullet point 1.

![screencapture3](https://user-images.githubusercontent.com/25468689/50845317-8e6c3d80-133a-11e9-917d-2e2dde5d71d2.gif)

[2019-01-08 16:51] steve-gov commented on #7908
I'm just trying to actually trigger the error that gets the new copy. @jiahuang Would you have any idea what I could put in the search box in UAT to trigger the error?

[2019-01-08 16:59] steve-gov commented on #7997
Looks like this in UAT (Chrome 70 Mac), no checkboxes and weirdly large font:

<img width="900" alt="screen shot 2019-01-08 at 11 57 36 am" src="https://user-images.githubusercontent.com/25468689/50846236-acd33880-133c-11e9-8408-8ac24668d2e7.png">

[2019-01-08 17:55] #8358 closed

[2019-01-08 18:37] aroltsch opened #8567 "Do not send this exception to Sentry - Cannot find issue with vacols ID"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3284/

[2019-01-08 19:27] lomaxap opened #8573 "ScheduleVeteranTask should be created on Case Details page load for legacy cases and become a top-level Task"
A recent update to the case details page creates a timeline view of all open tasks with available actions. #8101 adds `ScheduleVeteranTask` as an action for the `RootTask`, but this is inconsistent with how Tasks are intended to be used, and offers no way to complete or block a `ScheduleVeteranTask` with additional admin/actions.

A `ScheduleVeteranTask` needs to be actionable on the Case Details

[2019-01-08 19:40] steve-gov commented on #7992
@pkarman In UAT default sort on both tabs is by Claimant as opposed to the order spec'ed in the acceptance criteria. Maybe a quick fix that doesn't require moving columns?

[2019-01-08 19:45] mdbenjam commented on #8484
In general I think geo matching for both legacy and AMA is good. It keep us consistent and allows us to work on a per-veteran level. I don't know what exactly the RO stored in VACOLS means. If a Veteran moves, if and when does that get updated? In terms of level of effort it's easy. If we're doing it for AMA, might as well do it for legacy.

[2019-01-08 19:47] MeredithStewart commented on #8484
Sounds good -- that's what I will pitch.  ROs are updated manually in VACOLS.

[2019-01-08 20:35] pkarman commented on #7992
Hm. The "Completed" sort should be by `completed_at` datetime. https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/controllers/decision_reviews_controller.rb#L38

Maybe it's just the visual cue that's the same (the column arrows)? Is it the actual data that is ordered by claimant name?

[2019-01-08 20:36] #7906 closed

[2019-01-08 20:51] #8492 closed

[2019-01-08 21:59] #8216 closed

[2019-01-08 23:18] laurjpeterson opened #8576 "Update RAMP distribution list with all judges"
We recently changed the [distribution list](https://github.com/department-of-veterans-affairs/caseflow/blob/00d6714237a888702f07dc2bf5a30e48ddec48ee/lib/constants/ramp_judges.rb#L9) to include only judges that have not been assigned a RAMP case yet. Now that all judges have been assigned a RAMP case, we can edit that list back to be inclusive of all judges for the next distribution.

## AC
- The l

[2019-01-09 14:42] carolaponce opened #8580 "AMO Meeting 1/10"

[2019-01-09 14:42] carolaponce opened #8581 "AMO Meeting 1/10"

[2019-01-09 15:02] marvokdolor-gov opened #8582 "Re-Assign VLJ Support Staff Case"
When testing access to the queue page for VLJ Support Staff I added myself to that team. I forgot to remove myself overnight and got assigned a case.

I have removed myself from the team at Lowell's direction.

### Next step:
- reassign that now orphan case to another VLJ Support Staff team member.

## Acceptance Criteria
- Case previously assigned to Marvourneen Dolor 01/08/2018, now assigned to

[2019-01-09 15:08] marvokdolor-gov opened #8583 "Ensure team administrator Corey Benjamin is not assigned cases"
Related to #7973: Corey Benjamin (bvacbenjamin) is Deputy Chief for the VLJ Support Branch. Therefore, just like Rolandus Branch, he should be a part of these teams (e.g. VLJ Support Staff) but not be assigned cases.
This pattern will repeat for other teams that have round-robin task assignment.

## Acceptance Criteria
- Corey Benjamin is part of the VLJ Support Staff team but cannot be assigned c

[2019-01-09 15:11] carolaponce opened #8584 "AMO Meeting 1/10"
I would like to use 20 minutes of our AMO meeting tomorrow to discuss trining.

I need to ask for names and contacts of all Caseflow Administrators and POC for training and review what materials will be ready next week:

Training Materials - Due on January 16
●	Training plan & dates
●	Outline of Knowledge-Base content
●	Step by Step Training manual PDF for Compensation and Non-compensation busines

[2019-01-09 15:12] carolaponce opened #8585 "AMO Meeting 1/10"

[2019-01-09 15:14] marvokdolor-gov commented on #8582
@lowellrex I'm wondering if you could/should also reassign Eugene Scott's cases since he's no longer at the Board and not showing up on the VLJ Support Staff team page.
He is, however, showing up in the VLJ Support Staff [looker report](https://caseflow-looker.va.gov/looks/78) as being assigned 20 cases.

[2019-01-09 15:51] sharonwarner opened #8586 "Upcoming Hearing Days | AMA hearings"
We need to pull in AMA hearings on the upcoming hearing days page in hearing prep.

[2019-01-09 15:56] laurjpeterson commented on #8241
Note: VLJ support staff would benefit from the user column on the team queue soon as well, so they can easily know when they need to reassign cases from user to user. cc: @sneha-pai @mdbenjam

[2019-01-09 17:05] #8521 closed

[2019-01-09 17:09] pkarman commented on #7992
Confirmed it is the visual cue only. PR in #8589

[2019-01-09 17:17] MeredithStewart commented on #8484
Update: Hearing Branch agreed that geo-matching Veterans to a Regional Office for both AMA and Legacy appeals. They also agreed that they need it to keep Veterans within State lines. They understood the limitations of geo-matching, but if a Veteran wanted to have a hearing at a different RO, they can always switch the Veteran.

They were excited that this data point - Hearing RO - would actually i

[2019-01-09 17:30] nikitarockz opened #8590 "Queue Navigation | Help | Update link to display Quick Reference Guide PDF"
As Lead Trainer, I would like add links that will display the Quick Reference Guide (QRG) pdf and update appropriate copy on the Help Page so that the users can obtain additional detailed information on how to use this product.

## Acceptance Criteria
**_Introduction Section_**
1. Verify that in the "Welcome to the Queue Help Page!" section, the copy has been updated to the following:

1. Verify t

[2019-01-09 19:14] #8580 closed

[2019-01-09 19:17] steve-gov commented on #7984
Otherwise validated; will close and validate 6167 when it comes up.

[2019-01-09 19:17] #7984 closed

[2019-01-09 19:17] #8581 closed

[2019-01-09 19:17] #8584 closed

[2019-01-09 19:18] #8585 closed

[2019-01-09 20:00] allyceh opened #8591 "Create AMA issues component"
### Context
We'd like to componentize the way that AMA issues appear in Caseflow. Other teams can leverage the AMA issues component so that AMA issue display is standardized across Caseflow. To start, the Hearings team would like to use this component in the AMA Hearing Prep tool.

### Current state of AMA issues
<img width="1230" alt="screen shot 2019-01-09 at 2 59 11 pm" src="https://user-images

[2019-01-09 20:18] mdbenjam commented on #8139
Can I ask why we need a red checkbox? What kind of meaning is this supposed to convey? I'm hesitant to add a new component that deviates from all our others.

[2019-01-09 20:19] mdbenjam commented on #8139
Similarly do we even need a checkbox? It seems the modal achieves the "Are you sure" result?

[2019-01-09 20:27] sharonwarner opened #8592 "Hearing Worksheet | Case Details Link"
On the hearing worksheet, for both legacy and ama appeals, we need to add a button in the top righthand corner that links to the Case Details page. We should use the Link component stylized as a button.

<img width="1035" alt="screen shot 2019-01-09 at 3 26 44 pm" src="https://user-images.githubusercontent.com/4306128/50926441-feee8980-1422-11e9-94f8-22ca83deee22.png">

[2019-01-09 20:52] lowellrex commented on #8582
Assigned Marvo's task to a member of the VLJ support staff:
[code]

[2019-01-09 21:12] Sjones352 commented on #8139
@sharonwarner should we close this ticket?

[2019-01-09 21:32] lowellrex commented on #8582
Will come back and reassign that Eugene Scott's last task after #8593 is live.

[2019-01-09 21:45] lowellrex commented on #8583
Added to the VLJ support staff as an admin so he won't get assigned tasks. There is a ticket to make it so existing admins can make other folks admins (#7974) that we should probably prioritize next sprint.

[2019-01-09 21:45] #8583 closed

[2019-01-09 21:50] sharonwarner opened #8595 "Add/Edit/Delete Hearing Day | Feature tests"
We need to add feature tests for adding, editing, and deleting hearing days.

[2019-01-09 22:29] kencheeto opened #8597 "Remove address requirement for deceased veterans"
Deceased vets who have not previously filed for benefits may be missing an address in VBMS / corp db, which prevents an intake from being completed (for burial claims, for instance).

For deceased veterans, we should remove the requirement for an address on intake.

## Acceptance Criteria
- When starting an intake from the intake search page, if the veteran searched for is deceased, do not perform

[2019-01-09 22:34] marvokdolor-gov opened #8598 "Re-Assign Antoinette Ford's VLJ Support Staff tasks"
Related to #8582:
Antoinette Ford is on temporary duty so her tasks should be reassigned, and she should be temporarily removed from the VLJ Support Staff team.

CSSID: **bvaaford**

Background:
The initial plan was to have Rolandus do this as part of a training exercise. However, the functionality to allow him to do this isn't quite ready and we don't want to risk more cases being automatically a

[2019-01-09 22:48] jiahuang commented on #7994
@steve-gov both of those validation issues will be fixed once https://github.com/department-of-veterans-affairs/caseflow/pull/8571 is merged

[2019-01-09 23:02] MeredithStewart commented on #8541
@wturne -- This is the schedule I'll be discussing with the Hearings Branch.

[2019-01-09 23:02] MeredithStewart commented on #8541
@ShellySmithDSVA @Chingujo -- For your awareness and planning.

[2019-01-09 23:13] laurjpeterson opened #8600 "Create IHP-writing VSO organizations"
We've begun working with all IHP-writing VSOs to get their required CSEM access to Caseflow so they can view and work AMA appeals. We'd like to ensure each VSO has an organization row in our DB.

## AC
- Organizations exist for all IHP-writing VSOs:
   - ✅American Red Cross
   - Catholic War Veterans
   - ✅Maryland Department of Veterans Affairs
   - ✅Military Order of the Purple Heart (MOPH)
   -

[2019-01-09 23:14] jiahuang commented on #8283
@steve-gov it will be easier to wait on validation for this ticket until #8299 is done

[2019-01-09 23:34] jiahuang commented on #7994
This is ready for re-validation

[2019-01-09 23:48] jiahuang commented on #8031
Doh, there's a bug where upon completion the `Date Sent` field isn't populated properly. I will fix this in a subsequent PR

[2019-01-10 14:04] #8320 closed

[2019-01-10 14:34] lowellrex opened #8603 "[Discussion] Reporting impact on application and database design"
Folks beyond the immediate Caseflow team have recently started to rely on the structure of the Caseflow application's data models in order to satisfy Board reporting requirements for AMA appeals. This has transformed the Caseflow database schema (and single-table inheritance) into an implicit external API. Prior to the introduction of this interface, the main Caseflow application had 3 well define

[2019-01-10 14:41] allyceh commented on #8591
cc: @ShellySmithDSVA @MeredithStewart @laurjpeterson

[2019-01-10 15:43] laurjpeterson opened #8604 "Make notes field required when placing case on hold"
When any BVA employee places a task on hold, they are required to write instructions/notes about why the case is on hold, so that other BVA employees know what's going on with the case.

## AC
- The notes field when placing a case on hold is a required field on all screens - VLJ support functionality and generic queue functionality
- If the user tries to continue without writing notes, show the re

[2019-01-10 16:01] aroltsch commented on #8399
Have we seen this again? @monfresh

[2019-01-10 16:32] marvokdolor-gov opened #8605 "Assign cases to the correct Pamela Totten-Browning"
### Problem to be solved:
- Pamela Totten-Browning (Pamela.Totten-Browning2@va.gov) has Caseflow access.
- [Looker](https://caseflow-looker.va.gov/looks/78) says she has 37 cases in assigned to her.
- However, she is not able to see those cases in her Queue.

### Acceptance Criteria
- Pamela Totten-Browning has cases in her Caseflow Queue **and** she can see them.

[2019-01-10 17:01] laurjpeterson opened #8607 "Allow team admins to view and action on currently active tasks"
Team admins (like branch chiefs, e.g. Rolandus) need to be able to reassign cases from one of their team members to another. So, when they click into a Case details page for a case assigned to one of their users, they need to see the currently active tasks assigned to their team/people in their team (even if it is not assigned to them) and be able to reassign them.

## AC
- When team admins view C

[2019-01-10 17:09] laurjpeterson commented on #8170
@lowellrex - I connected with @allyceh and @sneha-pai on this and updated the AC above. would love your input on if you think using the Switch Views dropdown will work for this for now.

[2019-01-10 17:11] Sjones352 commented on #8592
@Chingujo does the Case details page have to open in a new tab. Plus please view current screenshot
<img width="1455" alt="screen shot 2019-01-10 at 12 03 23 pm" src="https://user-images.githubusercontent.com/23080951/50984843-cd33fc00-14d0-11e9-9a6d-f7725926a36f.png">

[2019-01-10 17:11] monfresh commented on #8399
Not that I recall.

[2019-01-10 17:17] lowellrex commented on #8170
Sure! I think using the "Switch Views" dropdown will definitely work for now

[2019-01-10 17:26] laurjpeterson opened #8608 "Allow judges to send admin actions to VLJ support"
When judges identify admin actions on a case, they want to send the case to VLJ support, so VLJ support can act on it as quickly as possible.

This will be relevant for both Legacy and AMA cases, but if we need to, we can just do AMA cases first.

## AC
- Judges have the option to `Add admin action` from the Case details page, currently active tasks component, Actions dropdown
- When judges click

[2019-01-10 17:44] lowellrex commented on #8605
Ms. Totten-Browning has two users and the cases were assigned to the one she was not logging in as. This has been corrected by adding the `new_pam` user to the `Colocated` organization and removing the `old_pam` (using the organizations user admin page) and by running the following commands to update the task owner to the correct user:

[code]

@marvokdolor-gov will confirm this fix worked with Pa

[2019-01-10 17:50] aroltsch commented on #8399
We will close it for now.

[2019-01-10 17:50] #8399 closed

[2019-01-10 17:54] lowellrex opened #8610 "Allow task assignee to send note along with a task when it is completed"
There is currently no way for VLJ support staff to send a message to the attorney who created the admin action when VLJ support staff complete their task and send the case back to the attorney (see [related slack thread](https://dsva.slack.com/archives/C6E41RE92/p1547140305090400)). Attaching a note about what the resolution of the task was from the task assignee back to the task creator is a comm

[2019-01-10 18:01] lowellrex opened #8611 "Improve VLJ support staff test data"
Test data for our VLJ support staff user is fairly wonky. Improving this would make for a better training experience. The acceptance criteria includes a few examples but if we notice more improvements let's tackle those here:

## Acceptance criteria
* [ ] Make task instructions match the type of task (example of us doing this wrong is an Arneson type but instructions read "poa clarification")
* [

[2019-01-10 19:16] lowellrex commented on #8607
Related to #7999

[2019-01-10 19:19] lowellrex commented on #8220
@allyceh @eric-nava @sneha-pai Would it make sense to move the case timeline further up the page so that it is close to the task snapshot?

[2019-01-10 19:30] steve-gov opened #8612 "Appeal Intake Non-comp | On intake, create a "record request" task for non-VBMS business lines and add it to their queue"
When the board intakes an appeal for a non-VBMS LOB, that LOB must be notified to send the relevant records to the board for review.

To facilitate this:

- Create a "record request" task
- Add the task to the LOB's intake queue
- Link the task to a "record request" confirmation page
- On the confirmation page, allow the user to confirm that they have provided the necessary records
- Once confirme

[2019-01-10 19:36] carolaponce commented on #8543
I had this solution in my designs for that option. Let me know if you need anything else.
![issues_noncomp_1](https://user-images.githubusercontent.com/11700545/50992430-260d8f80-14e5-11e9-9034-d799aa7e8c93.png)

[2019-01-10 19:42] lomaxap opened #8614 "Story for closest_regional_office when Veteran's address (in BGS) is outside of US territories"
#8550 finds the closest regional office for veteran within their state (or US territory). We need a workflow for handling instances when a veteran has an address in BGS that is outside of US territories (US, Puerto Rico, the Republic of the Philippines, Virgin Islands, American Somao, Guam, Marshall Islands, Micronesia, Northern Mariana Islands, and Palau). This job currently fails in that scenari

[2019-01-10 19:45] lowellrex commented on #8582
#8593 has been merged and I was able to reassign Eugene Scott's last task.

[2019-01-10 19:45] #8582 closed

[2019-01-10 19:50] pkarman commented on #8543
Thanks @carolaponce

I note that this mock uses a dropdown to show the benefit type, while elsewhere we use a group of radio buttons.

![screen shot 2019-01-10 at 1 49 39 pm](https://user-images.githubusercontent.com/1205061/50993179-a250a480-14de-11e9-9b79-ce27d0541570.png)

Is the difference in these 2 presentations intentional? Could we standardize on one?

[2019-01-10 19:56] carolaponce commented on #8543
My intention was to keep user from scrolling in the modal.

[2019-01-10 19:58] MeredithStewart commented on #8614
Proposed Workflow:

- For these that don't match, we would want to have the "Schedule Veteran" root task blocked and a blocking admin task, "Foreign Veteran Case." That task would be unassigned and appear in the organization queue for the Hearing Branch to deal with. They send a letter and give a Veteran 60 days to respond to say whether they cancel their hearing request or want to continue and le

[2019-01-10 19:58] laurjpeterson opened #8615 "Route AMA Translation admin actions to Translation team queue"
For legacy cases: When attorneys identify documents needing translation, they assign a Translation admin action task to VLJ Support. VLJ Support can Send to Translation, which changes the case's location in VACOLS to 14.

We now have a Translation team queue, and would like to support Translation admin actions for AMA cases.

When VLJ Support is assigned a Translation admin action task from an att

[2019-01-10 20:00] MeredithStewart commented on #8614
@Chingujo -- I think we should add the "Foreign Veteran Case" as an admin action in the list of drop down. This it could be possible to discovered later (Veteran moves abroad).

[2019-01-10 20:03] laurjpeterson opened #8616 "Remove special issues page for AMA appeals"
Note: we can only do this when we've confirmed EP creation for AMA appeals is ready.

we can *hide* the special issues page from attorneys for AMA appeals. attorneys will *not* need to select special issues, nor will we need to pre-populate them, because the VBMS National Work Queue (NWQ) will be able to recognize special issues attributes that already exist in VBMS and route EPs correctly.

for e

[2019-01-10 20:16] marvokdolor-gov commented on #8605
Fix worked beautifully, thank you!
Closing.

[2019-01-10 20:16] #8605 closed

[2019-01-10 20:24] MeredithStewart opened #8617 "EPIC | Hearing Team Queue and Admin Actions"

[2019-01-10 20:25] MeredithStewart opened #8618 "EPIC | Queues and Admin Actions"
## User stories
* As a Hearing coordinator, I need to be able to be assigned tasks and be able to see the tasks assigned to me. As a hearing coordinator, I need to be able to add a task to be completed prior to scheduling a Veteran.
* As a Hearing Branch admin, I need to be able to manage which tasks are unassigned and see who has tasks assigned to them.

## Mocks
* All mocks here: https://va-gov.

[2019-01-10 20:26] pkarman opened #8619 "Appeal Intake | Set benefit type on rating issues"
When a rating request issue is created, we need to determine whether the contested rating issue is a pension or a compensation rating issue.

## Acceptance Criteria
- When a rating request issue is created, we should record the benefit type as "pension" or "compensation" depending on whether the rating issue is a pension or compensation.

## Technical Notes
We will need to figure out how to determ

[2019-01-10 20:27] ShellySmithDSVA opened #8620 "Bulk Assignment of Tasks to User"
## Acceptance Criteria
- As a caseflow user who has assigning privileges in organization/team queues, I can click on **"Assign tasks in bulk**" link in the **Unassigned tab** to view a modal that allows me to systematically select an appropriate range of tasks to assign to any given user in my organization, including myself.

## Mocks
![colocated-table-your cases-768 copy 4](https://user-images.gi

[2019-01-10 20:38] MeredithStewart opened #8622 "Hearing Branch Admin Actions"
## User Stories
* As a hearing coordinator, I need to be able to add a task to be completed before a Veteran can be scheduled.

## Mocks:
* Pages 26 - 44 here: https://va-gov.invisionapp.com/share/TUPWZLI7GBP

## Acceptance Criteria
* Verify that from the "Schedule Veterans" UI, the Hearing Coordinator can choose between "Schedule Veteran" and "Add Admin Action" on the Schedule Veteran task. (Page

[2019-01-10 20:42] #8617 closed

[2019-01-10 20:48] Chingujo opened #8623 "Individual Queues"
As a hearing coordinator, I need to be able to see all of my tasks so I can keep track of their statuses.

### Mocks
https://va-gov.invisionapp.com/share/TUPWZLI7GBP (pages 1 to 3)

### Acceptance Criteria

### Table and page layout
- [ ] Verify the banner has an arrow next to Caseflow, that when selected has two options:
  - Your Queue
   - Hearing Schedule
- [x] Verify that the title of the page

[2019-01-10 20:56] laurjpeterson commented on #7548
This is tracked in https://github.com/department-of-veterans-affairs/caseflow/issues/8233 so closing

[2019-01-10 20:56] #7548 closed

[2019-01-10 20:56] ShellySmithDSVA opened #8625 "Assignment of Tasks from Case Details"
## User Stories
As a Hearings Branch user, I should be able to assign open tasks to myself when I am viewing the case details of a particular case. This will allow me to work specific cases easily.

As a Hearings Branch user, I should be able to assign open tasks to other members of my team in the case details view. This will allow me to to assign or re-route tasks easily and break up works on a c

[2019-01-10 21:00] #7892 closed

[2019-01-10 21:00] Chingujo opened #8626 "Organizational Queues"
As a hearing branch management team, I need to have a place where all of the orgs tasks are clearly visible both to assign my cases to myself and others and to keep track of them.

### Mocks
https://va-gov.invisionapp.com/share/TUPWZLI7GBP (pages 13 to 15)

### Acceptance Criteria

#### General page and layout
- [x] Verify that the title of the page is Hearing Management Branch Queue
- [x] Verify

[2019-01-10 21:01] #7640 closed

[2019-01-10 21:04] laurjpeterson commented on #5873
Closing this github issue in favor of those created by the Hearing Schedule team:
- https://github.com/department-of-veterans-affairs/caseflow/issues/8617
- https://github.com/department-of-veterans-affairs/caseflow/issues/8618

cc: @MeredithStewart

[2019-01-10 21:04] #5873 closed

[2019-01-10 21:15] laurjpeterson commented on #7678
Creating another issue for: If Veteran is the same as the appellant, do not show appellant information

[2019-01-10 21:15] #7678 closed

[2019-01-10 21:16] laurjpeterson opened #8628 "If Veteran is the same as the appellant, do not show appellant information"

[2019-01-10 21:19] laurjpeterson opened #8629 "Create judge teams for former chief judges"
With the Board reorganization, chief judges are now line judges with their own attorney teams. We need to create organizations for each of these judges so we can associate their attorneys to their team.

## AC
- Organizations exist for these judges:

1. Bob Scharnberger
2. John Jones
3. Claudia Trueba
4. Keith Allen
5. Anthony Scire
6. Cynthia Bruce
7. Cherry Crawford
8. Theresa Catino
9. Bethany

[2019-01-10 21:19] Chingujo opened #8630 "Individual Queues Case Details Actions"
As a hearing coordinator, I want to be able to place tasks on hold, complete them, or re-assign them to someone else from my individual queue so I can effectively close out tasks, assign them as needed in case of error or sickness, and keep track of pending tasks.

### Mocks
https://va-gov.invisionapp.com/share/TUPWZLI7GBP#/screens/340231214 (4 to 12)

### General Page and Layout
- [x] Verify that

[2019-01-10 21:22] lomaxap opened #8631 "Prevent Double Calls to BGS"
`Veteran.accessible?` is redundant when also calling `BGSService.fetch_veteran_info` / `Veteran.fetch_bgs_record`

[2019-01-10 21:32] laurjpeterson commented on #5445
Note: there are no longer chief judges. Will need to determine who assigns overtime cases with the new BVA organization structure - it might continue to be senior counsel.

[2019-01-10 21:33] laurjpeterson commented on #6364
Closing. We are working on giving organization/team admins the ability to reassign cases to other members of their organization and we have a user management page for them to remove users from their organization.

[2019-01-10 21:33] #6364 closed

[2019-01-10 21:34] #6666 closed

[2019-01-10 21:34] laurjpeterson commented on #6857
Closing. We have a DVC Osborne VLJ Support report and there are other efforts around reporting with BVA through Tableau that are being tracked elsewhere.

[2019-01-10 21:34] #6857 closed

[2019-01-10 21:37] steve-gov commented on #7994
Cancel button validated! But still strange behavior on textarea. When I type in it, then select a disposition, I am prohibited from modifying textarea content in any way. Tried selecting, deleting, pasting, typing, nothing works:

![screencapture1](https://user-images.githubusercontent.com/25468689/50998592-f1ee9a80-14f5-11e9-9748-5c42dd5a9316.gif)

[2019-01-10 21:43] steve-gov commented on #7996
Happy path validated. Days Waiting should be Days Completed but that's referenced for correction in #7992.

![screencapture3](https://user-images.githubusercontent.com/25468689/50998861-c324f400-14f6-11e9-82d3-f30753c58ca5.gif)

[2019-01-10 21:43] #7996 closed

[2019-01-10 21:44] #7359 closed

[2019-01-10 21:53] lowellrex commented on #8598
Ms. Ford's tasks have been reassigned:
[code]

[2019-01-10 21:53] #8598 closed

[2019-01-10 21:59] lowellrex opened #8633 "Add "Send to AOD team" action for ColocatedTasks"
When VLJ support folks look through the documents attached to a case they sometimes notice that the Veteran should be AOD but isn't. If the process went perfectly (judge flagged Veteran as AOD, and mail was properly routed, etc.) then this should never occur, but since it does VLJ support staff have to handle this scenario. Currently they email the AOD team to let them know that the Veteran should

[2019-01-10 22:00] lowellrex opened #8634 "Add "Send to Judge for signature" action for ColocatedTasks"
One common admin action VLJ support staff take is sending extension request grant memos to the appellants' representatives. These memos are drafted by the VLJ support staff, sent to the judge for signature, returned to the VLJ support staff, and sent out to the representative by the VLJ support staff. The communication between VLJ support staff and judge currently happens over email but they would

[2019-01-10 22:07] eric-nava commented on #8220
This is something Sneha and I were discussing just now. If the intention of the timeline is to provide  information that is relevant to an action that any user needs to take, then re-prioritizing it wouldn't be bad. Conversely, it is structured similarly to the snapshot, so will users understand the difference between the two components? (open question - more rhetorical for the time being)

[2019-01-10 22:17] MeredithStewart opened #8635 "Cancel Hearing Request (before Scheduled)"
We need to add an action, perhaps at the root task of "Schedule Veteran" that allows the user to close the Schedule Veteran task when the user has opted to withdraw their hearing request - for both AMA and Legacy.

### Acceptance Criteria
- [ ] Verify that in the "Schedule task" action modal there is an additional task called " Withdraw hearing request"
- [ ] Verify that there is a modal that conf

[2019-01-10 22:19] laurjpeterson opened #8636 "Follow-up with VSO users belonging to two VSOs"
When all VSO organizations have been made and the below users have access, let's follow up with them to ensure their toggling between organizations is working as designed.

These users belong to both Military Order of the Purple Heart(MOPH) and National Veterans Legal Services Program (NVLSP).

Name | Email | CSS ID | Station
-- | -- | -- | --
Spinnicchia, Michael | Michael.Spinnicchia@va.gov | NV

[2019-01-10 22:22] MeredithStewart commented on #6593
New epic replaces this one: https://github.com/department-of-veterans-affairs/caseflow/issues/8618

[2019-01-10 22:22] #6593 closed

[2019-01-10 22:23] MeredithStewart commented on #7440
new epic replaces: https://github.com/department-of-veterans-affairs/caseflow/issues/8618

[2019-01-10 22:23] #7440 closed

[2019-01-10 22:23] MeredithStewart commented on #7441
new epic replaces: https://github.com/department-of-veterans-affairs/caseflow/issues/8618

[2019-01-10 22:23] #7441 closed

[2019-01-10 22:24] MeredithStewart commented on #7442
new epic replaces: https://github.com/department-of-veterans-affairs/caseflow/issues/8618

[2019-01-10 22:24] #7442 closed

[2019-01-10 22:24] MeredithStewart commented on #7443
new epic replaces: https://github.com/department-of-veterans-affairs/caseflow/issues/8618

[2019-01-10 22:24] #7443 closed

[2019-01-10 22:24] MeredithStewart commented on #7444
new epic replaces: https://github.com/department-of-veterans-affairs/caseflow/issues/8618

[2019-01-10 22:24] #7444 closed

[2019-01-10 22:24] MeredithStewart commented on #7445
new epic replaces: https://github.com/department-of-veterans-affairs/caseflow/issues/8618

[2019-01-10 22:24] #7445 closed

[2019-01-10 22:30] #7263 closed

[2019-01-10 22:31] pkarman commented on #7992
We share code with the queue team, so the column text change needs their 👀 . I opened a PR and pinged them.

The default sort cue is totally my bad -- fixed in that same PR #8637

[2019-01-11 00:06] lowellrex commented on #8629
Created `JudgeTeam`s for the 10 judges listed above:
[code]

[2019-01-11 00:06] #8629 closed

[2019-01-11 01:17] #7606 closed

[2019-01-11 13:50] #8334 closed

[2019-01-11 13:51] aroltsch opened #8640 "A user should be able to edit document ID for legacy appeals"
AC:
1. Display `edit` icon for users who have permissions to edit a document ID. Can use similar pattern as here: https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/serializers/work_queue/appeal_serializer.rb#L35
2. When editing a document ID for lagacy cases, update attorney_case_reviews table and VACOLS::Decass table with the correct document ID. To find associated

[2019-01-11 13:54] pkarman commented on #7992
This should be ready now.

[2019-01-11 13:54] aroltsch opened #8641 "[BE] Implement BE endpoint to allow IDT to upload any document to VBMS"
AC:

1. Implement a BE endpoint to allow IDT to upload any document to VBMS. Utilize existing functionality that was already implemented for outcoding the appeal.
https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/controllers/idt/api/v1/appeals_controller.rb#L40

2. Work with Paul Saindon to test the endpoint in UAT.

Tech notes: VBMS requires certain fields when uploading

[2019-01-11 13:58] aroltsch commented on #7606
Opened a new ticket to implement next steps

[2019-01-11 14:02] aroltsch opened #8643 "Encoding::UndefinedConversionError: U+2019 from UTF-8 to US-ASCII: INSERT INTO "VACOLS"."ISSUES""
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3307/

[2019-01-11 14:03] aroltsch opened #8644 "Caseflow::Error::AttorneyJudgeCheckoutError: Number of issues in the request does not match the number in the database"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3300/

[2019-01-11 14:50] lowellrex commented on #7478
The hearing badge currently only shows up on the case search page. The remaining work to be done here is to make the badge show up on the various queue pages.

## Steps to reproduce:
* Log in as `BVALSPORER` in local test environment
* Search for Veteran ID `213912991`
* Observe the hearing badge appears
* Return to `/queue` and find the row for "Jadyn N Daugherty (213912991)" in one of the tabs
*

[2019-01-11 15:15] Chingujo commented on #8592
@Sjones352 I believe we strayed away from doing things in new tabs meaning I don't think we have a pattern of opening tabs in new links in other products. So,  from my opinion, we can just open in that page assuming it is still the easier technical option and the user can go back to this page through app links or the browser.

Ccing @ShellySmithDSVA for her thoughts here as well, since this involv

[2019-01-11 15:15] #8484 closed

[2019-01-11 15:21] ShellySmithDSVA commented on #8592
Yes, case details opens in a new window/tab. This is how judges use the claims folder currently and is what they expected during user tests.

[2019-01-11 15:54] pkarman commented on #8190
This script should have the steps involved: https://gist.github.com/pkarman/6f3a99e2c311fb6836c50d78672f1b79

@kencheeto would appreciate your eyes on this. Perhaps we could pair on running the fix?

[2019-01-11 15:57] ShellySmithDSVA opened #8645 "Daily Docket Design Updates"
## User Stories
As a Hearings Schedule user, I need to be able to easily print my daily docket so that I can prepare the room and judges for the cases they are hearing that day.

As a Hearings Schedule user, I need to update information for the docket all in one place to accommodate last minute changes to judges, rooms, and other items via the link to the Edit Hearing Details.

## Mock Ups
See the

[2019-01-11 16:09] lowellrex commented on #8531
Also see #8253

[2019-01-11 16:10] aroltsch commented on #8644
Investigation results:
This checkout worked for a user one minute later. All issues have dispositions. Closing until we see it again.

[2019-01-11 16:10] #8644 closed

[2019-01-11 16:33] kencheeto commented on #8188
I've a wip pr that will surface this error message, along with the suggested workaround: https://github.com/department-of-veterans-affairs/caseflow/pull/8646

[2019-01-11 16:41] Chingujo commented on #8592
There you go @Sjones352 new tab wins!

[2019-01-11 16:44] allyceh commented on #8220
@lowellrex @eric-nava @sneha-pai I'm not opposed to changing the hierarchy! I've talked to a few attorneys/judges in the past few months who didn't even know timeline was there or didn't look for it. We had to tell them to scroll to the bottom of the page.

For context, how many past actions are we expecting are displayed in the timeline? Do we have any prediction of what the median amount will be

[2019-01-11 16:55] shanear opened #8647 "Business Line | Pension | Set payee code to "00" for burial and accrued pension claims"
For a particular classification of pension claims (Burial and Accrued), VBMS requires the payee code to be 00, even though the veteran is deceased. This is required to create the Burial and Accrued award, should it be granted.

### Acceptance Criteria
- [ ] If a claim review for a deceased veteran with a benefit type of "Pension" has a request issue that is a burial or accrual issue, establish the

[2019-01-11 17:05] #8532 closed

[2019-01-11 17:07] shanear opened #8648 "Skip address validation if veteran is deceased"
VBMS/BGS does not do address validation for deceased veterans, and many deceased veterans do not have addresses.

For this reason, we should not validate address fields when starting an intake for a deceased veteran.

## Acceptance Criteria
- When starting an intake from the intake search page, if the veteran searched for is deceased, do not perform address validations.

[2019-01-11 17:09] shanear commented on #8648
dup of https://github.com/department-of-veterans-affairs/caseflow/issues/8597

🙃
closing

[2019-01-11 17:09] #8648 closed

[2019-01-11 17:15] shanear opened #8649 "Additional validation matching payee code to claimant"
There are ways to default the payee code to the last used payee code for a claimant. This would help Claims Assistants not to make mistakes in adding an incorrect payee code for a claimant.

[2019-01-11 17:36] ShellySmithDSVA opened #8650 "EPIC | Hearing Dispositions"
## User Stories
As a Hearings Schedule user, I need to be able to successfully record a held hearing and make sure that hearing is transcribed fully and successfully.

As a Hearings Schedule user, I need to cancel hearing requests in a variety of different scenarios to keep the case from getting stuck in the scheduling queue.

As a Hearing Schedule user, I need to be able to record No Shows to hea

[2019-01-11 17:43] ShellySmithDSVA opened #8651 "Transcription Queue Pre MVP"
## User Stories
As a Hearings Schedule user, I need to be able to successfully record a held hearing and make sure that hearing is transcribed fully and successfully.

## Mocks
https://va-gov.invisionapp.com/share/MXPXWUDKSP6

## Acceptance Criteria
- [x] Verify the task can be closed by choosing Mark as complete: Transcribed. This will close the task and release the case to judge review.
- [x] Ve

[2019-01-11 17:52] lowellrex opened #8652 "Display task column in judge queue table view"
The only things that appeared in judges' queue table views prior to the quality review pilot were decisions to be signed. Now that judges can get quality review tasks we should show the task label in the queue table view to indicate what action they need to take on the appeal at a glance.

## Acceptance criteria
* [ ] Show task label in the judge queue view
* [ ] [Title case the task label](https:

[2019-01-11 17:54] lowellrex commented on #8652
cc @allyceh @eric-nava for thoughts on the visual appearance of this new tab (we don't have the ability to change the sort order yet, as a heads up). Maybe we should be upper-casing these strings though?

[2019-01-11 17:56] MeredithStewart opened #8653 "Add time selector for hearings"
## User Stories:
* As a hearing coordinator, I will sometimes need the ability to select a time that is different than or more specific than 8:30/12:30 for video hearings or 9:00/1:00 for CO hearings.
* As a hearing coordinator, if I will need to select a specific hearing time in half hour increment for Veterans for future Board telehearings.
* As a hearing coordinator, I may need to select a spec

[2019-01-11 17:59] allyceh commented on #8652
Visual appearance looks good to me. Can we use title case for these strings since "type" is also using title case? Ex: "Review", and "Quality Review"

[2019-01-11 18:04] ShellySmithDSVA opened #8654 "Hearing Disposition - Canceled"
## User Stories
As a Hearings Schedule user, I need to cancel hearing requests in a variety of different scenarios to keep the case from getting stuck in the scheduling queue.

## Mocks
Cancel disposition: https://va-gov.invisionapp.com/share/S5PSIOY36R8#/screens
Disposition confirmation screen: https://va-gov.invisionapp.com/share/BCQH822EWS9#/346408072_Daily_Docket_Change_Alert

## Acceptance Cr

[2019-01-11 18:04] ShellySmithDSVA opened #8655 "Hearing Disposition - Postponed"
## User Stories
As a Hearings Schedule or Hearing Prep user, I need to be able to postpone hearings for many reasons. I may also need to immediately re-schedule the vet, or put them back in the list, or further work the case to make sure the vet gets their hearing. I also need to be able to cancel and close the case should the circumstances and judge decisions point to that path.

## Mocks
Postpon

[2019-01-11 18:05] ShellySmithDSVA opened #8656 "Hearing Disposition - Held"
## User Stories
As a Hearings Schedule user, I need to be able to successfully record a held hearing and make sure that hearing is transcribed fully and successfully.

## Mocks
https://va-gov.invisionapp.com/share/WNPSIORRMGZ#/screens

Disposition confirmation screen: https://va-gov.invisionapp.com/share/BCQH822EWS9#/346408072_Daily_Docket_Change_Alert

## Acceptance Criteria
- [x] Verify when a h

[2019-01-11 18:05] ShellySmithDSVA opened #8657 "Hearing Disposition - No Show"
## User Stories
As a Hearing Schedule user, I need to be able to record No Shows to hearings, put them on hold, and track the further actions needed to either cancel or reschedule the vets.

## Mocks
https://va-gov.invisionapp.com/share/7FPSIP28KD6#/screens
Disposition confirmation screen: https://va-gov.invisionapp.com/share/BCQH822EWS9#/346408072_Daily_Docket_Change_Alert

## Acceptance Criteria

[2019-01-11 18:06] steve-gov commented on #7992
Woo hoo!

[2019-01-11 18:06] #7992 closed

[2019-01-11 18:06] monfresh opened #8658 "Flakey queue search spec"
spec/feature/queue/search_spec.rb:50
[code]

[2019-01-11 18:13] monfresh opened #8659 "Document ID should be validated on Submit Decision View for both legacy and ama apeals"
Currently, when an attorney is ready to submit an AMA or legacy decision, the Document ID field is not validated. Draft Decisions must have a specific format, but an attorney can enter the wrong format and neither the backend nor the frontend will complain.

[2019-01-11 18:19] nicholasholtz commented on #7774
Do we know how to get their participant IDs? Is that something we could ask them for when they file for access?

[2019-01-11 18:21] steve-gov commented on #7908
I'll just assume that this can't be triggered in UAT due to some kind of data/ environment constraints. We'll have to revalidate in prod.

[2019-01-11 18:21] #7908 closed

[2019-01-11 18:39] allyceh opened #8660 "Contested Claims MVP - Research"
## Background

By Feb 14, we need a way for BVA employees to know that a case has a contested claim so that they can handle it according to BVA processes. In the short term, we are proposing that:

**Intake team**
- When the Intake team sees a case with a contested claim, they will funnel cases with contested claims to a legal detailee who will be working closely with the Intake team to handle the

[2019-01-11 18:40] allyceh commented on #8660
@marvokdolor-gov @laurjpeterson FYI

[2019-01-11 18:53] allyceh opened #8661 "Rollout queue to BVA Dispatch team"
## Background

On 1/10, @eric-nava and I met with the BVA Dispatch team to discuss their feedback on the BVA Dispatch pilot and feature requests they had. They want to use a queue and queue functionality rather than work their cases exclusively from the IDT and via email.

Specifically, they requested:

**Team View**
- "We’d want the ability to assign cases"
- "Track cases by # of days waiting in

[2019-01-11 20:54] MeredithStewart commented on #8645
@ShellySmithDSVA -- Add RO for video hearings to upper right corner.

[2019-01-11 20:55] nicholasholtz commented on #6094
Reopening this issue based on discussions with Mary Kate. We are sending a classification for certain elements, and the contentions are locked by VBMS. There is a change in the works to make those contentions editable, but it is apparent that the classification we are sending is creating additional work of having to change the classifications.

We need AMO clarification on what the preferred class

[2019-01-11 21:12] laurjpeterson opened #8664 "Change color of Days waiting when IHP tasks are close to the deadline"
BVA is introducing a deadline for IHP tasks to be submitted. VSOs want a signal so they know which cases are almost due. Suggested solution: change color (red) of Days waiting when it is close to the deadline.

TODO:
- Wait for LRP to finalize the IHP deadline
- Discover when to change the color of Days waiting

[2019-01-11 21:41] leikkisa opened #8665 "CPL claims for deceased Veterans"
Someone (Nate? Colin?) says there can be CPL claims for deceased Veterans when the claim is with an organization.

[2019-01-11 21:46] MeredithStewart commented on #8645
@ShellySmithDSVA -- I removed the user story about the Judge, since we'd have to make these updates separately on the Hearing Prep daily docket page.

[2019-01-11 22:04] MeredithStewart opened #8666 "Create CO Hearing Days"
Create Central Office Hearing days for hearing dates 4/1/19-9/30/19, Monday through Thursday, in Hearing Room 2, but not on Board black out dates (below).

Central Office hearing days need to be created in advance of the Board running the Judge algorithm. CO hearing days should be created by mid-February.

Board Black out days:
10/31/18
4/18/19
5/23/19
5/24/19
5/27/19
6/20/19
7/1/19
7/2/19
7/3/19

[2019-01-11 22:06] MeredithStewart opened #8667 "Run RO algorithm and fixes with Hearing Branch"
Run RO algorithm on 1/11/19 with Hearing Branch and make manual fixes to dates to fully maximize the schedule.

[2019-01-11 22:06] MeredithStewart commented on #8667
Ran and updates made on these dates:

We needed to add:
1 hearing day for Baltimore
4 hearing days for St. Louis

We had 5 hearing days available for August 20, 2019.

We moved:
Two Winston-Salem days from June 27 to August 20.
One Reno hearing day from May 20 to August 20.
One Portland hearing day from Sept. 10 to August 20.
One LA hearing day from April 3 to August 20.

We added:
Baltimore heari

[2019-01-11 22:06] #8667 closed

[2019-01-11 22:13] MeredithStewart opened #8668 "Update # of slots for Video and CO Hearing Days"
According to Board policy changes, they will be increasing the number of slots for hearings by 1 across all time zones, and by 1 for Central Office hearings.

The increase in slots for CO hearings should be for hearings beginning February 1, 2019.

The increase in slots for video hearings beginning April 1, 2019.

Video hearing time slots - increase:
1. East Coast = 12 slots
2. Central = 10 slots

[2019-01-11 23:07] laurjpeterson commented on #7774
not sure. since these are BGS participant IDs, maybe @mc-usds would know?

[2019-01-11 23:21] #8592 closed

[2019-01-12 05:03] pkarman commented on #7994
fwiw this is working for me locally. I suspect what is happening is some "hidden" element is being positioned over the textarea box and preventing mouse clicks from registering in the box. In the gif above I can see the coloration change after selecting the disposition.

@jiahuang I am happy to pitch in on this, if we can duplicate it locally.

[2019-01-13 01:19] shanear commented on #8665
This is a dup of  #8649 closing

[2019-01-13 01:30] shanear opened #8674 "Appeal Intake | Create record request task"
When an appeal intake is processed, if it contains issues for a non-comp non-pension business line, we need to generate a task in their queue to send them documents necessary to process the appeal.

## Acceptance Criteria
- When an appeal intake was successfully processed. If it had any issues of a non-comp non-pension business line, a "Record Request" task should be created in the appropriate bus

[2019-01-13 01:39] shanear opened #8675 "Intake | Store the disability code for rating request issues"
Queue needs the ability to see the disability code for contested rating request issues. We should store these when the rating request issue is created.

## Acceptance Criteria
- When saving a rating request issue on an Appeal, the disability code of the contested rating issue should saved with the rating request issue (if it is present)

## Technical Notes
- To maintain consistency between the oth

[2019-01-13 01:43] shanear opened #8676 "Appeal DTA Errors | Set the DTA payee code for Appeal DTA errors correctly based on historic data"
For appeals intake, users do not input the payee code of the claimant.

If we create a follow up supplemental claim, then we don't know what payee code the claimant should be when we create the EPs.

Is there a way to properly determine the payee code even though the intake at the Board did not select it.

AMO Said if it would help, we could narrow the list down to:
<img width="533" alt="screen sh

[2019-01-13 01:45] shanear opened #8677 "Set the receipt date of DTA EPs to the decision date of the previous review"
We are currently setting the receipt date of DTA EPs to the time the EP is created. This is incorrect, we should be setting it to the decision date of the prior decision review. (per AMO)

[2019-01-13 03:08] colinjabercrombie commented on #8188
Validated today that claim for fiduciary is established properly in VBMS in UAT

[2019-01-13 03:10] colinjabercrombie commented on #8597
validated that claim was established for CPD record containing no mailing address for vet. PASS

[2019-01-13 22:31] ShellySmithDSVA commented on #8472
I have an epic for this under ticket #8650. I'll merge the info on this ticket with the other.

[2019-01-13 22:36] ShellySmithDSVA opened #8678 "Disposition Changes from Hearing Prep"
## User Story
As a Judge, I need to be able to postpone a Veteran and send it to "Schedule Veterans," or make a note about admin actions that are needed based on information they receive during the hearing.

## Mocks
https://va-gov.invisionapp.com/share/CMPYAG1ZWG3

Hearing Prep disposition changes and save states: https://va-gov.invisionapp.com/share/U2QH8PAKQT4

## Acceptance Criteria
- [x] Veri

[2019-01-14 13:07] lowellrex commented on #7556
## Drum major sprint (14-27 Jan) priorities

@joeyyang @rkreyhsig @tomas-nava, below are tickets related to this sprint's [higher-level priorities](https://dsva.slack.com/files/U51RH55BR/FDU6CP3E1/Queue_team_sprint_goals).

### 1. Single appeal view
1. [Show task instructions in case timeline](https://github.com/department-of-veterans-affairs/caseflow/issues/8483)
1. [Display incomplete but non-ac

[2019-01-14 13:24] aroltsch opened #8679 "[BE] Fix request issues seed data for local and demo environments"

[2019-01-14 13:31] aroltsch opened #8680 "Flake: expected to find visible css "label" with text "Before certification" 2 times, found 1 match"
https://circleci.com/gh/department-of-veterans-affairs/caseflow/33246?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

![image](https://user-images.githubusercontent.com/3811786/51115653-e097dd80-17d6-11e9-8df4-da6235e083cd.png)

[2019-01-14 13:57] MeredithStewart commented on #8668
1-14-19, confirmed with Hearing Branch that increase in CO hearings to 12 should begin Feb. 1.

[2019-01-14 15:20] lowellrex commented on #8220
Using the 103 RAMP appeals that have already been dispatched from the Board it looks like 6 is the median number of tasks we can expect in the case timeline.

![image](https://user-images.githubusercontent.com/32683958/51121454-7f2b3b00-17e5-11e9-97c4-bba156194e17.png)

I also expect the appeals with 8 and 9 tasks may actually have 1 or 2 fewer tasks that show up in the case timeline because we do

[2019-01-14 15:31] allyceh opened #8681 "Look into AMA issues modal formatting"
The formatting of the AMA issues modal seems to have changed recently. Specifically, the arrows on the drop down look cut off and the modal looks narrower (although, not certain). Creating this ticket to look into the cause.

![6275bc66-a5bc-45d8-ae08-c5dd5b06023a](https://user-images.githubusercontent.com/40216950/51122092-1349d200-17e7-11e9-8337-0ddf2663942f.png)

Note: we also have #8591 open t

[2019-01-14 15:44] sharonwarner opened #8682 "Daily Docket | AMA AOD functionality"
## User Stories
As a Judge, I need the ability to grant or deny AOD status for a Veteran based on evidence presented to me at a hearing.

As a Judge, I need to make sure my ruling is recorded properly with a reason, so that this can be referenced in the future and tracked.

As a Judge, I need to make sure my ruling is applied immediately so that it impacts the way the case is prioritized.

## Mock

[2019-01-14 16:17] #8375 closed

[2019-01-14 16:25] Chingujo commented on #8035
Change scheduled veteran to current schedule

[2019-01-14 16:33] Chingujo commented on #8041
Remove the other time selector to be addressed in #8653

[2019-01-14 16:42] amprokop opened #8684 "Make tasks timeable and have evidence submission tasks expire in 90 days"
https://github.com/department-of-veterans-affairs/caseflow/issues/8338

- Ensure evidence submission tasks are marked complete in 60 days
- Provide a generic interface to make other task classes timeable

[2019-01-14 17:03] marvokdolor-gov opened #8685 "Appeals API | Appeal Status V3 Overview - Work Tracker"
## Background Information/Useful Links
- Initial Appeal Status V3 ticket #7890
- [Research Plan](https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Products/Appeals%20Status/V3/User_Research/Research_Plan.md) using VA.gov resources
- Appeal Status [documentation](https://github.com/department-of-veterans-affairs/vets.gov-team/tree/master/Products/Appeals%20Status) over on

[2019-01-14 17:10] #8204 closed

[2019-01-14 18:07] steve-gov commented on #8612
@carolaponce for visibility

[2019-01-14 18:12] carolaponce commented on #8451
Per our meeting - we are not making modifications to the UI at this time.  We'll wait for feedback from the attorney working with intake and gather feedback fro UI updates.

[2019-01-14 18:13] ShellySmithDSVA commented on #8455
For ticket clarification, this message is displayed when users click on the Edit Hearing Details link for Legacy cases on either the Daily Docket or the Case Details view. Instead of opening the Hearing Details page, this opens a page that gives users a message directing them to go to VACOLS to edit Legacy hearing information.

![screen shot 2019-01-14 at 1 03 14 pm](https://user-images.githubuser

[2019-01-14 18:32] MeredithStewart opened #8688 "Vet360 Sync"
On 1/14/19 We will have a call with the Vet360 folks to discuss our use case for the address validation.

This meeting is with Vet360, the API Gateway, and the Appeals teams to discuss Appeals use case for the Address Validation service and what needs to happen to move to production.

Agenda
•	Introduction / Background (Alex)
•	Appeals use case and demonstration (Meredith/Appeals team)
•	Conversat

[2019-01-14 18:33] laurjpeterson commented on #8661
@allyceh - I think that BVA dispatchers may already have this functionality. One way to find out would be to ask Will or Libby to click the Caseflow logo and see if they navigate to their queue of assigned cases.

This list of assigned cases likely contains both AMA and legacy.

[2019-01-14 18:34] kencheeto commented on #8511
obsoleted by #7987

[2019-01-14 18:34] #8511 closed

[2019-01-14 18:36] kencheeto commented on #8649
We should ask VBMS to figure out what endpoint to hit to find the right default payee code

[2019-01-14 18:38] laurjpeterson opened #8689 "Backfill RAMP appeal issue editing data"
Attorneys and judges could not add/edit decision issues during the RAMP appeals pilot (started Oct. 1) because attorney magic functionality was not yet ready. As a workaround, attorneys emailed a BVA representative when issues needed editing, and Caseflow kept track of these cases in a spreadsheet. These cases moved forward in the process and were dispatched from the Board because the BVA decision

[2019-01-14 18:44] marvokdolor-gov opened #8690 "AMA Content on VA.gov"
# Call with VA.gov 01/11/2019

## Three touch points for content review (Allyce, Beth, Jennifer):

1. Week of  Jan. 14th: Allyce to sync with Beth to review VA style guide
2. Jan. 21st - Initial review
3. Feb. 1st: Final review

### Crosslinking between new/legacy process
- [x] Action item: Appeals team will take the 1st pass on adding content to direct users to the alternative process based on da

[2019-01-14 18:44] kencheeto commented on #6944
If it's quick to add sorting to the table, that would be nice

[2019-01-14 18:46] kencheeto commented on #8677
Likely use approx decision date of prior decision review

[2019-01-14 18:47] laurjpeterson opened #8691 "Reassign cases to correct judge CSS ID"
It looks like Judge Estela Velez has two CSS IDs and was assigned cases to each. We need to determine which CSS ID is hers, and reassign cases to the one CSS ID.

<img width="916" alt="screen shot 2019-01-14 at 1 43 38 pm" src="https://user-images.githubusercontent.com/27704093/51133391-e0add280-1802-11e9-9fd9-fc2a89dd35ab.png">

## AC
- All cases are assigned to CSS ID: BVAVELEZE

[2019-01-14 18:53] lowellrex opened #8693 "Allow BVA dispatch to return cases to Judges"
Board dispatch regularly needs to send cases back to judges for corrections. This ticket exists to present them with an option--[similar to the one members of the Quality Review team have](https://github.com/department-of-veterans-affairs/caseflow/issues/7462)--to send cases back to the signing judge.

## Acceptance criteria
* [x] Board dispatchers can select an option in the task actions dropdown

[2019-01-14 18:53] lowellrex commented on #8661
BVA dispatchers should have the following options available to them on the case details page:

![image](https://user-images.githubusercontent.com/32683958/51133037-dc34ea00-1801-11e9-82ea-9f7acbe0f987.png)

The "Re-assign to person" only allows us to reassign the task to somebody else on the Dispatch team, so we'll need to add an option to send the case back to the judge if the Dispatch team wants

[2019-01-14 18:54] MeredithStewart commented on #8688
Appeals Use Case:
* Digital Service at the Board of Veterans' Appeals, working on Caseflow Hearing Schedule, an application to take over the scheduling of Veterans for Board hearings with Veterans Law Judges.
* ~ 30,000 Veterans have hearings per year, a backlog of ~ 80,000 hearings.
* Our application mixes both legacy appeals and new appeals under the Appeals Modernization Act.
* The Board is to

[2019-01-14 18:55] kencheeto commented on #8239
do benefit types propagate for contestable nonrating issues chosen in the first add issues modal

[2019-01-14 18:56] lowellrex opened #8694 "Give BVA dispatch organization a team queue"
The BVA dispatch organization does not have a team queue because the url field of that row in the `organizations` table is empty. This ticket exists to update the `url` field to `board-dispatch`.

## Acceptance criteria
* [ ] Members of the BVA dispatch team can visit their team queue in production.
* [ ] Local version of the `BvaDispatch.singleton` data mirrors production data (has the `url` fiel

[2019-01-14 18:56] lowellrex commented on #8661
Created a ticket (#8694) to give dispathers a team queue.

[2019-01-14 19:14] #8597 closed

[2019-01-14 19:17] leikkisa commented on #8665
@shanear I added this because right now we default all claims to CPD if the Veteran is deceased, but in the BGS meeting, someone said that there are cases where they get a CPL claim (if the claim is with an organization).  So this is a different issue than the payee code issue.  It's a super edge case, so I don't think it needs to be handled soon, but I wanted to put it on the radar.

[2019-01-14 19:44] shanear opened #8695 "Intake | Add limit for contention text"
There is a BGS enforced character limit for contention text of 255 characters. We need to build a way that shortens contention text of the contentions that we create if they are too long.

[2019-01-14 19:46] lowellrex commented on #8516
Closing this out because it appears as if this case was worked in VACOLS instead of in Caseflow and therefore was not updated on the Caseflow side. We can close these tasks out on a case-by-case basis by request.

[2019-01-14 19:46] #8516 closed

[2019-01-14 20:13] MeredithStewart commented on #8688
Followup needed from the API team to us, then we do some testing, tell the team we did the testing, and then we will get access to Prod.

[2019-01-14 20:38] laurjpeterson opened #8700 "How might we allow users to action on On Hold tasks?"
Scenario: Hearing docket AMA Veteran. The schedule hearing task is on hold, because a hearing administrative action had to be done. Then, the Veteran sends in a request to withdraw their hearing request.

Since Veterans can withdraw their hearing at any time, users need to be able to cancel/resolve that schedule hearing task.

How might we support this type of scenario?

Ideas:
- Need to show On H

[2019-01-14 20:42] laurjpeterson opened #8701 "Add ability to cancel tasks in DB"
Certain tasks in the appeals process are canceled/resolved/closed rather than completed. Two examples of this are:
- If a Veteran withdraws their hearing request, the Schedule Veteran task is closed
- If a Veteran waives their 90-day evidence window, the 90-day Evidence window is closed

Note: this is different than unassigning a task that was assigned to you, making the top level task back the te

[2019-01-14 20:52] leikkisa commented on #8677
I am assuming that the approx decision date of any of the issues on the DTA Supplemental Claim is representative of the decision date of the review.  The end product last action date gets pulled once the end product is gets a status of CLR so that indicates that all of the issues are finished.

[2019-01-14 20:55] #8604 closed

[2019-01-14 21:10] #8576 closed

[2019-01-14 21:35] lowellrex commented on #8095
We can reproduce one bug by [replicating this test](https://github.com/department-of-veterans-affairs/caseflow/blob/82c86fb6523c20353427d37060dffde452b84ef6/spec/feature/queue/case_assignment_spec.rb#L41) that creates an admin action for a legacy appeal, makes the case disappear from the "assigned" tab but one does not appear in the "on hold" tab.

[2019-01-14 21:38] leikkisa commented on #6938
Shane turned this on for both Prod and UAT, now we are waiting for the week to see if there are any failures as a way of validating.

[2019-01-14 21:39] leikkisa commented on #6094
I asked VBMS, and they said we are setting this to null, and believe this is correct and that users will set it if need be.  Waiting to hear confirmation from AMO that this is correct.

[2019-01-14 22:00] #8273 closed

[2019-01-14 23:35] jiahuang commented on #7994
Was able to reproduce it locally and fixed it (locally at least).

[2019-01-14 23:35] kencheeto opened #8708 "Don't skip EP code 034"
We're unintentionally skipping EP code 034 for higher level reviews; looks like a typo in the list of EP codes to use.

https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/higher_level_review.rb#L6

[2019-01-15 00:06] shanear opened #8710 "Intake | system error thrown when NilRatingProfileListError"
Currently we're seeing a "Something went wrong" when going from the review page to the add issues page of an intake for any decision review if the `NilRatingProfileListError` is thrown.

Even if there are no ratings, we should still allow a user to intake a decision review for a veteran.

Alright, so there are 4 scenarios that we need tested/covered:

### 1. has both a backfilled/converted and pro

[2019-01-15 14:10] #8679 closed

[2019-01-15 14:28] MeredithStewart opened #8715 "Travel Board in Caseflow"
Initial: Showing Travel Board days, but editing still in VACOLS.

Medium/long term: Editing/Adding travel board days in Caseflow.

[2019-01-15 14:30] MeredithStewart opened #8716 "Updating RO algorithm - for 100% efficiency"
The RO algorithm isn't designed to fully utilize all available hearing days.

Updates will need to be made to improve the algorithm (~ last 5 hearing days) so that manual edits don't have to be made by stakeholders to fully fill the available hearing slots.

[2019-01-15 15:19] lowellrex commented on #8608
Should this be hidden behind a feature flag? Or do we believe this will be an infrequent enough occurrence to open it up to all judges right off the bat?

[2019-01-15 15:22] lowellrex commented on #8615
Checked off the first acceptance criteria since attorneys can already see "Translation" in their list of admin actions for AMA cases.

![image](https://user-images.githubusercontent.com/32683958/51190094-6dae6580-18af-11e9-830c-41e918a9b7bc.png)

[2019-01-15 15:37] lowellrex commented on #8615
For the "Assign to Privacy team" action available to VLJ support staff, we enabled that option for all `ColocatedTask`s regardless of the task type (to reduce confusion about which options are available when--folks may not be aware that the type/action of task determines which options are available, and to eliminate the need to change the "action" of of a task if an attorney accidentally selects t

[2019-01-15 15:42] pkarman commented on #8695
Do we rely on this text for matching caseflow records at all?

One pattern I have seen before is to truncate text to something like 239 bytes, and save the last 16 bytes for a checksum (first part of a md5 or sha digest) of the entire untruncated text, so that matching can still work later.

[2019-01-15 15:48] laurjpeterson commented on #8615
@lowellrex

- Yes, I think we should continue to update the VACOLS location, 14, for legacy Translation tasks. The main reason for this is to ensure their VACOLS reports work. I would much prefer that all legacy + AMA cases can be worked in Caseflow (Translation team and individual queues) from the get go, but know that not being backwards compatible with VACOLS may open a can of worms with regard

[2019-01-15 15:52] lowellrex commented on #8615
Sounds good!

[2019-01-15 15:57] pkarman commented on #8239
they will need to, yes. see #8619 (which needs more details still).

[2019-01-15 16:02] oscarAtNava commented on #8505
@sharonwarner I cannot recreate this. The state is reset for the messages in componendDidMount since Dec 12th.

[2019-01-15 16:55] lowellrex commented on #8607
One route to explore with this ticket is determining if it would be easy to make `ColocatedTask` inherit from `GenericTask` which would give us this ability for free. I abandoned an effort to do just that two months back (#8005).

[2019-01-15 16:59] #8474 closed

[2019-01-15 17:02] mc-usds commented on #7199
Tested in prod. No more 404 errors. I'm not sure if this is the expected response though.

irb(main):007:0> BGSService.new.find_claimant_letters(717228)
[2019-01-15 11:57:30 -0500] STARTED BGS: find claimant letter for document 717228
D, [2019-01-15T11:57:30.997066 #3990] DEBUG -- : HTTPI /peer GET request to localhost (httpclient)
I, [2019-01-15T11:57:31.192807 #3990]  INFO -- : SOAP request: htt

[2019-01-15 17:06] marvokdolor-gov opened #8722 "Investigate distinguishing DTA errors/post-DTA EPs"
Linking old EP with new one. Is this something that exists in VBMS and/or Caseflow.
We're hoping it already exists in Caseflow.

- [ ] MC to chat with Sally on this by 01/16/2019.

### Acceptance Criteria
- Question is answered and we know how to get DTA data.

[2019-01-15 17:14] marvokdolor-gov opened #8723 "Add in new models (Appeal, Higher-Level Review, Supplemental Claim)"
There is an existing Legacy Appeal object. Next steps include adding models for:
- Higher Level Reviews #8726
- Supplemental Claim #8727
- AMA Appeal #8728

[2019-01-15 17:16] shanear opened #8724 "Intake Confirmation | Improve messaging when no EP is created"
Even if all issues are ineligible and no EPs are created Caseflow:

- Says "If you need to edit this, go to VBMS claim details and click the "Edit in Caseflow" button. Which is incorrect, because there is no VBMS claim.
- Incorrectly shows a checkbox for "Informal Conference Tracked Item"

We should remove both of these items from the confirmation page in this case.

![image](https://user-images.g

[2019-01-15 17:16] marvokdolor-gov opened #8725 "Decide how to feature flag Appeal Status V3 work"
### Plan
MC to explore what is needed. This will likely be broken into sub-tickets.
- [ ] How do Caseflow feature flags work?
- [ ] Do we need to know how VA.gov feature flags work as well?
    - [ ] Either way, how would this be coordinated between the two systems, in order to turn everything on in the appropriate order?

### Notes
Caseflow has a feature toggle in UAT. So we could use that potent

[2019-01-15 17:35] marvokdolor-gov opened #8726 "Add in new model to Appeal Status API for Higher Level Reviews"
This work involves creating and serializing the model.
**Goal:** completed by 01/22/2019, stretch goal 01/18/2019.

### References
- [Swagger Docs](https://app.swaggerhub.com/apis/dsva-appeals/appeals-status/2.0.0#/default/appeals)

### Acceptance Criteria
- Model is created.
- Unit tests are created.

[2019-01-15 17:39] marvokdolor-gov opened #8727 "Add in new model to Appeal Status API for Supplemental Claims"
This work involves creating and serializing the model.
**Goal:** completed by 01/22/2019, stretch goal 01/18/2019.

### References
- [Swagger Docs](https://app.swaggerhub.com/apis/dsva-appeals/appeals-status/2.0.0#/default/appeals)

### Acceptance Criteria
- Model is created.
- Unit tests are created.

[2019-01-15 17:43] marvokdolor-gov opened #8728 "Add in new model to Appeal Status API for AMA Appeals"
This work involves creating and serializing the model.
**Goal:** completed by 01/22/2019, stretch goal 01/18/2019.

### References
- [Swagger Docs](https://app.swaggerhub.com/apis/dsva-appeals/appeals-status/2.0.0#/default/appeals)

### Acceptance Criteria
Model is created.
Unit tests are created.

[2019-01-15 18:00] marvokdolor-gov opened #8729 "API Refactor: How many people are on each docket (post-MVP)."
## Goal

We want to show an Appellant where they are in line for any of the Board dockets:
- Legacy Appeals (this already exists)
- Direct Review
- Evidence Submission
- Hearing

## ToDo:
- [ ] Add to Appeal Status work tracker #8685

[2019-01-15 18:16] laurjpeterson commented on #8693
With this github issue, judges will be able to distinguish these tasks from others.
https://github.com/department-of-veterans-affairs/caseflow/issues/8652

[2019-01-15 18:18] laurjpeterson opened #8731 "Display task column in attorney queue table view"
Soon, we are allowing judges to send rewrite tasks back to attorneys (https://github.com/department-of-veterans-affairs/caseflow/issues/8233), we want to help them distinguish these tasks from decision drafting tasks.

Related, for judges: https://github.com/department-of-veterans-affairs/caseflow/issues/8652

[2019-01-15 18:26] sharonwarner opened #8732 "Hearing Types | Remove hardcoded hearing types"
Throughout both hearing prep and hearing scheduling, we use "C", "V", and "T" to designate hearing types central, video, and travel. We should remove those hardcoded hearing types and use the HearingDay constant, `REQUEST_TYPES`.

[2019-01-15 18:35] #8611 closed

[2019-01-15 18:45] marvokdolor-gov commented on #8723
Being tracked in an [Epic/Milestone](https://github.com/department-of-veterans-affairs/caseflow/milestone/67) instead of this stub ticket.

[2019-01-15 18:45] #8723 closed

[2019-01-15 18:46] laurjpeterson commented on #8691
Alex finished this, so closing.

[2019-01-15 18:46] #8691 closed

[2019-01-15 18:54] steve-gov commented on #6710
Validated, at least for purposes of this issue:

![screencapture](https://user-images.githubusercontent.com/25468689/51202569-df88ae00-18b3-11e9-9542-6da013b43fca.gif)

[2019-01-15 18:55] steve-gov commented on #7994
Issue still present, at least in Chrome/ Mac. Demo'ed to Jia who's taking a look.

[2019-01-15 18:57] steve-gov commented on #7997
Slight padding issues, but gonna clear it:

<img width="339" alt="screen shot 2019-01-15 at 10 57 19 am" src="https://user-images.githubusercontent.com/25468689/51202773-5cb42300-18b4-11e9-96f8-49bece51081f.png">

[2019-01-15 19:16] RobertAlexanderUSDS opened #8734 "Configure Our Apps to Write Logs in the JSONL Format"
Moved from https://github.com/department-of-veterans-affairs/appeals-deployment/issues/1184

[2019-01-15 20:38] kencheeto opened #8738 "NoMethodError: undefined method `assign_attributes' for nil:NilClass"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3064/

[2019-01-15 20:39] kencheeto opened #8739 "Unprocessable Entity after SUBMIT_REVIEW_FAIL"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3252

[2019-01-15 20:55] #8077 closed

[2019-01-15 21:06] sharonwarner opened #8740 "Data Models | AMA Hearing Time"
The hearing times are not saving correctly on AMA hearings. Currently the scheduled_time is saved as a time, but rails incorrectly stores the date 1/1/2000 on the time.  We should change the database type to string, and then confirm the hearing times are displayed correctly on the hearing prep daily docket as well as in hearing schedule.

[2019-01-15 21:40] #8308 closed

[2019-01-15 21:46] sharonwarner opened #8742 "Daily Docket | Header updates"
The daily docket header in hearing prep needs some added information: the notes on the hearing day, the bva coordinator, and the room number.

*This information only needs to be displayed for Caseflow hearing days.*

<img width="1050" alt="screen shot 2019-01-15 at 4 45 14 pm" src="https://user-images.githubusercontent.com/4306128/51211957-f98eb480-18e4-11e9-8a74-42740a4db9b5.png">

[2019-01-15 21:53] #8615 closed

[2019-01-15 21:53] shanear commented on #6938
turned this on and it appears to be working. We'll check back in in a week.

[2019-01-15 22:37] laurjpeterson commented on #8233
@lowellrex, @tomas-nava - will this be implemented only for AMA cases, or both AMA and legacy? (thinking just AMA, but want to explicitly confirm.)

[2019-01-15 22:41] shanear commented on #6946
This scenario was brought up again by testers. Probably going to prioritize.

[2019-01-15 22:43] shanear commented on #8518
testing on fn: 635842354

[2019-01-15 22:44] #8496 closed

[2019-01-15 23:30] leikkisa commented on #6094
Some information from Joe:
[code]

[2019-01-15 23:31] leikkisa commented on #7199
That's not a real document ID in prod so it's probably good.

[2019-01-15 23:45] shanear commented on #6946
1. if there is no EP, we should not say "null" in EP Code
1. if the EP is not yet established the status should read "Establishing..."
1. if the EP is not yet established and there is any value in `establishment_error`, then it should stay "Establishment Failed. Support notified." Bonus points if this is a red color
1. remove "Decision Date" column

[2019-01-15 23:45] shanear commented on #7997
Some tweaks:
<img width="1029" alt="screen shot 2019-01-15 at 2 01 57 pm 1" src="https://user-images.githubusercontent.com/1596259/51217307-62bdfa00-18dc-11e9-8ce7-1005c29e448b.png">

1. if there is no EP, we should not say "null" in EP Code
1. if the EP is not yet established the status should read "Establishing..."
1. if the EP is not yet established and there is any value in `establishment_erro

[2019-01-15 23:46] #7997 closed

[2019-01-15 23:46] shanear commented on #6710
Some tweaks:
<img width="1029" alt="screen shot 2019-01-15 at 2 01 57 pm 1" src="https://user-images.githubusercontent.com/1596259/51217307-62bdfa00-18dc-11e9-8ce7-1005c29e448b.png">

1. if there is no EP, we should not say "null" in EP Code
1. if the EP is not yet established the status should read "Establishing..."
1. if the EP is not yet established and there is any value in `establishment_erro

[2019-01-15 23:51] steve-gov opened #8746 "Intake | Copy change: Add instructions on whom to email if non-Veteran claimant is not in VBMS"
Currently when selecting a claimant other than the Veteran in both Board reviews and HLR/SCs, the following options are present:

<img width="832" alt="screen shot 2019-01-15 at 3 51 09 pm" src="https://user-images.githubusercontent.com/25468689/51217591-9c433500-18dd-11e9-8faa-22447367573f.png">

Replace "If you do not see the claimant in the options below, add them in VBMS, then refresh this pag

[2019-01-16 00:18] jiahuang commented on #8739
Looked through the kibana logs. I can see 1 request fail and then immediately the next request completing in 30s, with the difference being this in their params:

Failed request:
Parameters: {"option_selected"=>"appeal", "appeal_docket"=>"evidence_submission", "id"=>"122971", "intake"=>{}}

Successful request:
Parameters: {"option_selected"=>"appeal", "receipt_date"=>"2018-11-20", "appeal_docket"=

[2019-01-16 00:19] shanear opened #8747 "Case Search | When a veteran has HLRs or SCs and no Appeals, the case search page shows nothing"
When a veteran has no appeals, but does have claim reviews, they do not show up on the case search page.

![bug2](https://user-images.githubusercontent.com/1596259/51218399-0f01df80-18e1-11e9-98a3-1b71b1a9daaa.gif)

Here is the response payload from the search request for the GIF above:
[code]

## Technical Notes
try 124592531 in UAT to reproduce this.

[2019-01-16 00:21] kencheeto opened #8748 "flaky hearing schedule test"
Hearing Schedule Get hearing schedule with default dates - VACOLS Only Get hearings for default dates - spec.requests.hearing_day_spec

Failure/Error: expect(JSON.parse(response.body)["hearings"].size).to be(1)

https://circleci.com/gh/department-of-veterans-affairs/caseflow/33971

[2019-01-16 00:55] steve-gov commented on #8543
Validated:

![screencapture](https://user-images.githubusercontent.com/25468689/51219531-35764980-18e6-11e9-8bcb-87c3ecd44474.gif)

[2019-01-16 00:58] steve-gov commented on #7994
Issue still present, will revalidate tomorrow morning.

[2019-01-16 01:40] jiahuang commented on #8738
Looked up the intake:

[code]

It has a detail id, but no Appeal with that id exists.

[2019-01-16 04:54] mdbenjam opened #8751 "Rethink when we create ScheduleHearingTasks for legacy appeals"
In this PR: https://github.com/department-of-veterans-affairs/caseflow/pull/8744 we began creating ScheduleHearingTasks for legacy appeals on page load of case details. This is kind of janky and creating these tasks ahead of this page load would likely be a better approach. Think through how we can do this.

1) Maybe a nightly job
2) Or hook into certification so we create these tasks up front
3)

[2019-01-16 04:58] #8573 closed

[2019-01-16 13:53] lowellrex opened #8752 "Stop Rails server from hanging in local development environments"
Since [we upgraded to Ruby 2.5.1](https://github.com/department-of-veterans-affairs/caseflow/pull/6461) in August of 2018, we have been plagued by the Rails server in our local developments hanging frequently. This ticket exists as a thread to collect examples of this hanging behaviour so we can discover patterns, gather reliable steps to reproduce a non-responsive rails server, and ultimately exp

[2019-01-16 14:41] aroltsch opened #8754 "[Sentry] Caseflow::Error::AttorneyJudgeCheckoutError: Number of issues in the request does not match the number in the database"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3219/
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3253/

[2019-01-16 14:43] allyceh commented on #8661
@laurjpeterson @lowellrex William responded to my email about seeing their queue. He says he can see the Ramp cases, but not the legacy cases assigned to him.

[2019-01-16 14:47] amprokop opened #8755 "TaskTimer job should handle failure and ensure that timer logic is retried"
The TaskTimer job should:

- ensure that all failures are piped to Sentry (for now— when this gets noisy, we can change it)
- ensure that individual timer errors do not cause the whole job to fail
- ensure that multiple TaskTimer jobs running at the same time cannot process the same timer row at the same time

[2019-01-16 14:54] amprokop opened #8756 "Track when appeals became ready for distribution"
We should ensure that we can track when appeals became ready for distribution. To do so, we can ensure that when DistributionTasks are marked as ready, we save the current time.

[2019-01-16 14:55] laurjpeterson commented on #8661
@allyceh - thanks! this means that queue is working as designed for the BVA dispatchers. right now, all teams (other than VLJ support) are only seeing/being assigned RAMP/AMA appeals.

[2019-01-16 15:38] lowellrex commented on #8233
This will be implemented for all cases that have been kicked back to the judge from the quality review team in Caseflow. Currently the only cases we are selecting for QR in Caseflow are AMA cases, but eventually I expect it will include Legacy cases as well. This approach should support Legacy cases as well (though the case will not be reassigned in VACOLS).

[2019-01-16 15:57] lowellrex opened #8757 "Allow judges to send admin actions to VLJ support for Legacy appeals"
#8608 enabled judges to send admin actions directly to VLJ support for AMA appeals. This ticket exists to allow judges to send admin actions to VLJ support for Legacy appeals.

## Acceptance criteria
* [ ] Judges have the option to `Add admin action` from the Case details page for Legacy appeals, currently active tasks component, Actions dropdown
* [ ] When judges click `Add admin action` for a Le

[2019-01-16 16:23] eric-nava commented on #8524
##Screens for production

- [ ] Mail team handling Congressional inquiry mail item
- [ ] Lit Support team lead receiving congressional inquiry
- [ ] TL assigning task to staff
- [ ] Staff receiving task
- [ ] Staff marking task as ready for dispatch

[2019-01-16 16:36] #8608 closed

[2019-01-16 16:37] lowellrex opened #8759 "Change mark task complete label for ColocatedTasks created by judges"
Currently the action that marks a `ColocatedTask` complete is labelled "Send back to attorney". With #8608 we added the enabled judges to send tasks to the VLJ support staff, so this label is no longer always accurate. This ticket exists to change the label of this action to more precisely explain what will happen when the action is taken. I imagine this could be accomplished by conditionally chan

[2019-01-16 17:32] shanear commented on #7336
For active but ineligible:

data setup
[code]

<img width="1552" alt="screenshot 2019-01-16 09 30 01" src="https://user-images.githubusercontent.com/1596259/51266978-7ebfab00-1971-11e9-98b3-ae112bda49f2.png">

<img width="1552" alt="screenshot 2019-01-16 09 30 07" src="https://user-images.githubusercontent.com/1596259/51266988-82ebc880-1971-11e9-9940-6fd0b0d43a27.png">

DB looks good too
[code]

[2019-01-16 17:35] shanear commented on #7336
For veteran didn't agree to opt in:
<img width="1552" alt="screenshot 2019-01-16 09 33 24" src="https://user-images.githubusercontent.com/1596259/51267148-f42b7b80-1971-11e9-9d62-840ebc101c36.png">

<img width="1552" alt="screenshot 2019-01-16 09 33 40" src="https://user-images.githubusercontent.com/1596259/51267158-f8f02f80-1971-11e9-8e05-7f5faf581bf9.png">

DB looks good:
[code]

[2019-01-16 17:35] shanear commented on #7336
Awesome work! this is 🍏

[2019-01-16 17:35] #7336 closed

[2019-01-16 18:00] laurjpeterson opened #8761 "Hide already decided issues from Reader"
When attorneys are reviewing a Veterans eFolder, they want to focus only on issues before them. In some cases, Regional Offices decide on issues prior to coming to the Board. Attorneys don't want to see those issues in Reader because they don't have to account for them in their decision.

## AC
Exclude issues with the following dispositions from appearing in the Issues sections of Reader (Claims f

[2019-01-16 18:05] shanear opened #8762 "Intake | CLR and CAN end products lock EP modifiers"
When creating EPs for AMA HLRs or SCs, the code that looks for an open modifier is counting EPs with CLR and CAN status to lock up modifiers.

If an EP is CLR or CAN, it should not block a modifier.

## Technical Notes
confirmed that `veteran.end_products` (here:
https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/end_product_establishment.rb#L454)
is returning all en

[2019-01-16 18:15] laurjpeterson opened #8763 "Add "Return to attorney for corrections" option for all JudgeDecisionReviewTasks (not just ones returning from QR)"
We're already implementing the ability for judges to return cases back to attorneys if they were stopped by Quality Review. We need to allow this for all cases, because the judge might request a rewrite for any case.

## AC
- judges can return any case back to an attorney for rewrite

[2019-01-16 18:16] laurjpeterson commented on #8233
Got it. I created another GH issue so we can return to attorney for corrections for all JudgeDecisionReviewTasks, not just ones that came back from QR - https://github.com/department-of-veterans-affairs/caseflow/issues/8763

[2019-01-16 18:17] shanear commented on #7337
<img width="1552" alt="screenshot 2019-01-16 10 16 29" src="https://user-images.githubusercontent.com/1596259/51269645-d3662480-1977-11e9-9971-d2dfe6f7d89c.png">

VACOLS issues should also ignore the AMA timeliness reqs too

[2019-01-16 18:19] ShellySmithDSVA opened #8764 "EPIC | Transcription Queue MVP"
## User Stories
As a Hearings Schedule user, I need to make sure each hearing is transcribed and goes onto the official record for the veteran.

As a Hearing Schedule user, I need to track where the hearing is in the transcription process so that it is delivered to the contractor and then returned in a timely manner.

As a Hearing Schedule user, I need to make sure a case isn't released from trans

[2019-01-16 18:57] lowellrex commented on #8763
This should be completed by #8233.