[2019-08-29 17:49] rubaiyat22 commented on #11882
@lomaxap @pshahVA

I did a benchmark test on retrieving all tasks of a current user of Hearing Management organization.
[code]
Task count: 5546

Run 1:
[code]
Run 2:
[code]
Run 3:
[code]
Real value is the elapsed time in minutes.

On average of **3** runs, **5546** tasks took **18.0731752923** minutes.

[2019-08-29 18:55] pshahVA commented on #11882
Does this mean that the volume coming back on the UI is too small?

[2019-08-29 18:58] pshahVA commented on #11802
worked with @lomaxap and he determined that the first one above doesn't have a legacy or ama appeal.

[2019-08-29 20:10] ferristseng commented on #11882
@pshahVA Are you talking about with the fix in place? I think we're returning 1000 right now. Do you think we should be returning more?

We were trying to judge how removing the fix would affect prod performance. It looks like there might still be timeout issues if we do revert it.

[2019-08-29 20:14] pshahVA commented on #11882
Yes. When I showed andrew, we only see like 300 on the UI. I wanted to make sure nothing was missing.

[2019-08-29 21:44] lomaxap commented on #11882
It looks like we're expecting children tasks to be [eagerly loaded](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/queues/generic_queue.rb#L49), so [this](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/task.rb#L151-L153) should not be an n+1 method. But my console output console out put is clearly showing that it is.

[2019-08-29 22:18] rubaiyat22 commented on #11882
Just for clarity, what is a n+1 method?

and I just tried the following code and got this result
[code]
[code]
It does seem that finding the *TimedHoldTask* child is taking the most time.

[2019-08-29 22:23] lomaxap commented on #11882
[this](https://medium.com/@bretdoucette/n-1-queries-and-how-to-avoid-them-a12f02345be5) is a pretty good explanation. Basically any query where there's an additional query for each record that's returned. Eagerly loading related tables with `#includes` allows us to get all related records at once instead of one at a time.

[2019-08-29 23:05] #10301 closed

[2019-08-30 15:43] #10733 closed

[2019-08-30 16:23] geronimoramos opened #11948 "Feature Request: In-App Chat"
Job to be done:
When users are working on a case collaboratively with another user, they want to communicate some comments/information back to the user who handed it off to them (or another related user) so that they can collect/gather any necessary information and/or materials to perform their current job/task.

[2019-08-30 17:00] msj0nes commented on #10511
# Scenarios With Missing Ratings
https://github.com/department-of-veterans-affairs/appeals-support/issues/5319#issuecomment-526672743

[2019-08-30 18:52] pkarman opened #11950 "Board Full Grants VBMS initial status"
via Jane

These claims come over from the Board (Caseflow Dispatch?) in the Initial Development life cycle (IDEV).  Can the life cycle be changed to Ready for Decision (RFD) for these particular claims?  The reason for this request is for claims routing efficiency.  When the claim comes over in RFD status, then National Work Queue (NWQ) will be able to route that straight to a decision maker (DRO

[2019-08-30 18:53] pkarman opened #11951 "Board Remands with Grant (or Partial Grants) VBMS initial status"
via Jane

These claims come over in IDEV status.  Ideally, these should come over in RFD status so then the decision maker can take action to address the Board grant portion first.  After the grant portion is addressed then it would go to a VSR to process the claim for the remand.  Again, it's another time reduction request with the change of the life cycle for these particular claims with regard

[2019-08-30 18:59] pshahVA opened #11952 "Display Modal when Virtual Hearing Time is Edited on a Daily Docket"
### User Story:
As a hearings scheduler, I need to be able to change the time of a scheduled virtual hearing.  When a time of a Virtual Hearing date/time is changed on the daily docket page, the system needs to update the Virtual Hearings emails sent and also update the invite in the Pexip system.

### Objective
Can most likely reuse component from #12333
When a hearing coordinator edits the heari

[2019-08-30 20:33] lomaxap commented on #11757
- We need to add an endpoint (i don't think we can change the existing `organization/tasks` endpoint to meet our needs) for assign hearings table that returns a QueueConfig response with [tabs](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/queue_config.rb#L40-L46) that are specific to hearings. A Queue tab that looks something like:

[code]
- The `#tasks` method

[2019-08-30 21:02] nicholer commented on #11508
8/30 Design Sync

**Open Questions and Follow Ups**
- Do we store the POA (power of attorney) / representative email?
- If the hearing date or time is changed, Caseflow needs to be able to send another email to notify participants of the change

**Next Steps**
- Meeting with pilot Hearing Coordinators next week to determine if this first iteration functionality meets their needs
- Mock up an examp

[2019-08-30 21:33] pkarman commented on #11933
Code is merged and deployed. Starting the countdown timer for when we can remove the code.

If we don't hear anything in 60 days, let's delete.

[2019-08-30 22:07] pkarman commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/82502

[code]

[2019-09-03 14:22] carodew commented on #11554
How hard would it be to just link to the veteran's case in caseflow so the user doesn't have to manually search for it, but just click a link to go there? Saves a few steps and removes the chance of human error.

[2019-09-03 14:25] aroltsch commented on #11851
If we have the following scenario:
Request issue A gets a remanded decision issue which in turn creates a DTA supplemental claim with a new request issue B
then we'd like to correct a decision issue using the edit page which in turn would create a request issue C, we make a request.

`RequestIssue.active.find_by(contested_decision_issue_id: contested_decision_issue_id, correction_type: nil)` would

[2019-09-03 14:52] pkarman commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/82496

[code]

[2019-09-03 16:59] aroltsch commented on #11739
TODO items:

Create attorney tasks if motion is granted
Return task to the motions attorney if motion is not granted

[2019-09-03 17:05] pkarman opened #11963 "Warn users when removing last issue from active decision review"
Our current behavior is to cancel all active tasks when there are zero active request issues on a decision review:

https://github.com/department-of-veterans-affairs/caseflow/search?q=cancel_active_tasks

Users often are trying to re-use an existing decision review and do not intend for the tasks to be canceled. They are simply trying to remove an issue and add a new one.

The correct order for th

[2019-09-03 18:45] jimruggiero commented on #11256
@carodew @geronimoramos @rutvigupta-design @laurjpeterson I discussed with LP and Product would like to ship the functionality as designed above and use real world usage and feedback to inform future design iterations. I will queue this ticket for engineering estimation later this week and potential ENG work in the next two sprints.

[2019-09-03 18:58] lomaxap opened #11966 "Change HearingDay.bva_poc to refer to User.id"
We inherited from VACOLS using the users `full_name` to populate the hearings/legacy_hearings/hearing_days' `bva_poc`. We should change this to use the User id field

- add a `hearing_coordinator_id` column to `hearing_day` and `hearings` table. `legacy_hearings` uses the `bva_poc` field from VACOLS
- backfill hearing_coordinator field with ids mapped from `bva_poc` (something like `User.find_by(f

[2019-09-03 19:02] hschallhorn commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/82723?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
Inbox index multiple messages show all messages and allows user to mark as read
_spec/feature/inbox/inbox_spec.rb_
`Failure/Error: expect(page).to have_content("Read #{message.read_at.friendly_full_format}")`
`expected to find text "Read Tue

[2019-09-03 19:26] ferristseng commented on #11966
I'm wondering how the mapping step would work. Would we need to do a `User.find_by(full_name: bva_poc)` there? Is it possible for a coordinator `User` not to exist yet in Caseflow?

[2019-09-03 19:40] #11589 closed

[2019-09-03 19:42] aroltsch commented on #7789
It appears to me this is no longer needed

[2019-09-03 19:42] #7789 closed

[2019-09-03 19:59] jimruggiero commented on #11256
@geronimoramos and @rutvigupta-design Please let me know what information I should pull forward into the new subsequent issue other than the five questions in @carodew comment above to ensure nothing is lost when research continues.

[2019-09-03 20:39] lomaxap commented on #11966
The `HearingCoordinator` dropdown is populated from the [user table](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/controllers/users_controller.rb#L14-L15), so they _should_ exist in the database.

It doesn't look like the user's `full_name` stays consistent. @tomas-nava found at least 3 variations for full names for a single user. So it's possible it could change and

[2019-09-03 20:41] #11926 closed

[2019-09-03 21:04] jimruggiero opened #11969 "Litigation Support | Pulac-Cerullo reminders follow-ups"
The Pulac-Cerullo reminders enhancement has some follow-up questions that Product and Design want to monitor and potentially revisit with users, depending on user feedback and usage of the Pulac-Cerullo workflow enhancements, as developed in issue #11256

Current known questions are:
- [ ] Should we introduce more friction by changing the banner to a modal, so that users have to acknowledge it?
-

[2019-09-03 21:25] ferristseng commented on #11882
I was able to figure out which attributes that trigged database calls in the AMA task serializer were not necessary to how the organization tasks page functioned. The cost savings we observed was about 3x (from 30s to 10s for ~600 tasks).

We don't know the impact of how this would affect other parts of the code, but could look into it.

Here are the attributes with expensive calls we can remove:

[2019-09-03 22:18] pkarman commented on #11388
![Screen Shot 2019-09-03 at 5 04 44 PM](https://user-images.githubusercontent.com/1205061/64212389-ca768480-ce6e-11e9-8850-4743f9a58dcd.png)

We can add a link to the Confirmation page on all intakes.

[2019-09-04 00:11] hschallhorn opened #11971 "Allow AVLJs to be assigned legacy cases"
Started from [this slack thread](https://dsva.slack.com/archives/CHX8FMP28/p1567534420110500).

For attorneys and judges, we determine what type of task (and therefor what actions are available to them) for a legacy appeal assigned to them [based on their vacols role](https://github.com/department-of-veterans-affairs/caseflow/blob/a86c1e04e52faf6911b99281908576790fc692df/app/models/queues/legacy_w

[2019-09-04 14:10] #11316 closed

[2019-09-04 14:50] hschallhorn opened #11973 "Savon::SOAPFault: (S:Server) gov.va.vba.utils.ShareException"
[Sentry Alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6449/)

[2019-09-04 14:54] pkarman commented on #11973
Typically this is caught as a `BGS::ShareError` by the library so maybe this means we need an update to the ruby_bgs lib

[2019-09-04 16:24] leikkisa commented on #11851
We should be closing request issue B if the decision issue gets corrected, so it won't be active.

[2019-09-04 16:29] Sjones352 opened #11975 "Undefined method `stale_attributes?'"
Seems like the error is happening when the veteran has stale attributes
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6448/events/457136/

[2019-09-04 17:49] jimruggiero commented on #11554
@pkarman Is this issue also related to #11970 ?

[2019-09-04 18:11] jimruggiero commented on #11691
Additional resource here: https://app.mural.co/t/workqueue2001/m/workqueue2001/1542655242638/5629820b4b2c34a158c9dd7abb78137d0f9b8b74

[2019-09-04 18:13] #8845 closed

[2019-09-04 18:35] vacohitchs opened #11978 "query MOTH cases"
We got a request to list MOPH cases in caseflow.  Please advise the query : tables and columns.
MOPH – Military Order for the Purple Heart.
Thank you in advance.

[2019-09-04 19:26] laurjpeterson commented on #5594
@jimruggiero - this is related to the status of legacy appeals and how it displays in search results, because we're reliant on VACOLS data for those statuses.

option 1: we can remove it from case search epic, because the work for that project within that scope is over now (that scope was the first time we built case search). instead, it could be part of a future, to be created VACOLS deprecation/

[2019-09-04 19:27] laurjpeterson commented on #4843
@jimruggiero - this is actually part of case details, not search. so will remove it from the case search epic.

[2019-09-04 20:00] nicholer commented on #11859
- Feedback form was updated for veterans/representatives August 28, 2019 to include interview opt-in

[2019-09-04 20:19] carodew commented on #11720
@rutvigupta-design we added some bullets for what we _think_ needs to happen with this issue, but you should feel free to edit or revise based on your understanding.

[2019-09-04 20:29] carodew commented on #11758
@pkarman I'm going to bounce this to new ideas for the product team to triage, flesh out, and assign a priority. That said, it sounds like a pretty light design lift.

[2019-09-04 20:39] nicholer commented on #9625
Hey there! Design Team could use more context and a priority around this.

[2019-09-04 20:44] pkarman commented on #11554
I can include this change as part of #11970 sure -- it's a different page but similar files to touch.

[2019-09-04 20:45] nicholer commented on #6863
@pshahVA @jimruggiero We'd like to move this out of Ready for Design, given it won't be implemented in time for Hearings Branch to use this year and we have larger outstanding questions about use of the spreadsheet in future.

Where is the best place to move this issue?

[2019-09-04 20:49] pkarman commented on #11758
I started implementing this in #11970 as part of a larger effort. Screenshot in that PR. Happy to change based on design ideas.

[2019-09-04 20:51] nicholer commented on #10589
@pshahVA Do you have a sense of priority on this? Fwiw, design level of effort seems low.

[2019-09-04 20:58] #11975 closed

[2019-09-04 21:01] carodew commented on #11758
@pkarman aha, ye olde "You waited too long so I did it anyway" ... no worries! I just have a couple questions that I'll add to the PR if that's ok with you.

[2019-09-04 21:48] ferristseng commented on #11908
I think I can pair with @rubaiyat22 on this. We would have to tackle #11906 as a part of this too.

[2019-09-04 22:40] hschallhorn commented on #10980
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6456/

[2019-09-04 22:57] jimruggiero opened #11982 "Intake | Alphabetize Intake drop down menu items"
*** Story
As an intake user, I want to see menu items in all drop downs in my intake workflows listed in numeric, then alphabetical order, so that I can find what I need more quickly.

## AC:
1. Scenario: Login and initial form selection is required
     [ ] 1. Select form, list appears sorted as:
          - Decision Review Request: Board Appeal (Notice of Disagreement) - VA Form 10182

[2019-09-05 00:15] #11971 closed

[2019-09-05 07:16] stwards11 commented on #11397
User scenarios to be considered:

Scenario # 1 - A hearing has been held and the evidence window is open
Scenario # 2 - A veteran has scheduled a hearing
Scenario # 3 - A veteran has postponed a hearing
Scenario # 4 - A veteran does not have a hearing scheduled

[2019-09-05 12:32] aroltsch commented on #11851
@Sjones352 I chatted with Sally and my comment about DTA supplemental claim should be in a separate ticket. You ticket is for the following scenario.

[code]

[2019-09-05 12:51] aroltsch opened #11984 "EP 930s | When adding decision issues for correction should not make request issues ineligible"
Scenario 1: correcting a decision issue with an allowed disposition
Scenario 2: correction a decision issue with a remanded disposition that has a DTA supplemental claim

![image](https://user-images.githubusercontent.com/3811786/64343198-1550e300-cfba-11e9-9ef3-bd28eb1fef31.png)
None of these messages should be displayed. ^^
Correction request issue should not be marked as ineligible in the DB.

[2019-09-05 12:52] pkarman commented on #6279
I think we've already done as much as we can to minimize BGS access.

[2019-09-05 12:52] #6279 closed

[2019-09-05 12:53] pkarman commented on #8279
sensitivity level is per veteran, and we do that via BGS and current user matrix. See e.g. https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/services/external_api/bgs_veteran_station_user_conflict.rb

[2019-09-05 12:53] #8279 closed

[2019-09-05 13:42] lomky commented on #11666
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Estimating at a 3. Could be a 1 if the fix is super-obvious and simple, like if we need exactly 1000. Could be a 3 if it turns out we have a complicated rewrite with Oracle weirdness.

[2019-09-05 13:46] lomky commented on #11658
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Estimating at a 3, some concern over the possible number and complexity of seed & test fixes.

[2019-09-05 13:48] lomky commented on #11868
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Estimating at a 2. Might be a 1 if the labelling and inheritance chain is clear and obvious.

[2019-09-05 13:52] lomky commented on #11657
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Estimating at a 2. Fear and uncertainty for the possible 3. Possible easy solution for a 1.

[2019-09-05 13:54] lomky commented on #10886
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Estimating at a 2. Possible 1 because we've written these sorts of tests a lot, but it sounds like a little much code for a 1 though.

[2019-09-05 14:19] lomaxap commented on #9106
@pshahVA do we know if the Staff table in VACOLS is kept up-to-date when new Hearing Coordinators join?

[2019-09-05 14:48] pshahVA commented on #9106
@lomaxap I can't find your comment anymore, did you still want me to confirm that the hearings coordinators are kept up to date in VACOLS.

[2019-09-05 14:53] pshahVA commented on #10589
low priority!  Added label.

[2019-09-05 15:00] pshahVA commented on #6863
This should be part of a larger issue that we need to address in the usability of the "spreadsheet upload" experience.  It should be tackled when the design team has time.  What about design backlog?

[2019-09-05 15:12] hschallhorn opened #11985 "Ensure we are not calling VacolsHelper.day_only_str on nil values"
[Sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6467/) NoMethodErrorapp/helpers/vacols_helper.rb in day_only_str. Error introduced in #11977

[2019-09-05 15:40] hschallhorn commented on #10632
[Another!](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6460/)

[2019-09-05 15:42] hschallhorn commented on #10777
Closing in favor of #10632 because I found it first. 🤺

[2019-09-05 15:42] hschallhorn commented on #10777
Closing in favor of #10632 because I found it first. 🤺

[2019-09-05 15:42] #10777 closed

[2019-09-05 15:42] hschallhorn commented on #10632
Few more sentry alerts in #10777

[2019-09-05 16:30] nicholer commented on #6863
@carodew What are your thoughts on moving to `Design Backlog`?

Right now, my pipelines are displaying in the order `Define > Ready for Design > Design Backlog > Design in Progress` Is that how it's supposed to be?

[2019-09-05 16:45] laurjpeterson opened #11987 "Fix text wrapping for check boxes on Evaluate Decision screen"
We recently released new checkboxes on the Evaluate Decision page of the judge check out flow. This ticket is to adjust the text wrapping for a cleaner design.

PR for original ticket: https://github.com/department-of-veterans-affairs/caseflow/pull/11960

## AC
- The text should all left-align as indicated via the pink line here:

<img width="461" alt="positive-feedback-typography" src="https://us

[2019-09-05 16:47] carodew commented on #6863
Design backlog makes sense to me, I think we can put it there and then if/when we create tickets to address the larger spreadsheet issues, we can link as appropriate. Thanks all!

[2019-09-05 17:08] hschallhorn commented on #11590
woooooo now at *34*. Slow and steady ladies and gentlemen and other.

[2019-09-05 17:24] jimruggiero commented on #11984
Proposed approach:
1. change validation on the backend when creating a request issue and
2. either change a response hash for decision issues that are after receipt date, or on the frontend, skip those validations if it has a correction type

[2019-09-05 17:56] lomky commented on #10896
Down to [6 tasks](https://caseflow-looker.va.gov/sql/7vrsydq8xs2dd2) on hold using the old style hold.

![Screenshot from 2019-09-05 13-56-01](https://user-images.githubusercontent.com/6129479/64366785-f61b7b00-cfe4-11e9-8810-e3963b74e5fd.png)

[2019-09-05 18:39] laurjpeterson commented on #11397
Reviewed phase 4 - expediting hearing cases - with Carolyn today. next steps:
- create low-fidelity mock ups of each scenario, with their relevant tasks - Shawn
- write content to explain what the user is doing for each scenario - Shawn

Paper prototypes until Shawn gets Mural access

[2019-09-05 18:49] laurjpeterson opened #11988 "Add positive feedback to attorney evaluation screen for Legacy appeals"
Related #7929 - Add positive feedback to attorney evaluation screen for AMA appeals.

## AC
Back end:
- Determine whether we should ask Jed to add these checkboxes to VACOLS, so Caseflow can use them/backfill them
- Or, add these positive feedback to the Caseflow database for legacy appeals

Front end:
- Add the below positive feedback/checkboxes to the Evaluate Decision screen in the judge checko

[2019-09-05 19:00] #10452 closed

[2019-09-05 19:46] Sjones352 opened #11990 "undefined method `strip' for nil:NilClass"
Happening on the hearing_allocation_days method in file get_spreadsheet_data.rb

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6454/events/458679/

### Items to investigate
- Do we give the Hearing Coordinator (or other user) an appropriate error message?
- What is causing the error?

[2019-09-05 20:18] hschallhorn commented on #10615
This as well https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6389/

[2019-09-05 20:30] #11230 closed

[2019-09-05 20:32] laurjpeterson opened #11991 "Tech spec: administratively acting on behalf of other users"
See #11801 for context

# AC
- Write tech spec
- Seek feedback
- Write subsequent engineering tickets, if necessary

[2019-09-05 20:46] Sjones352 opened #11992 "Vacols Record Not Found"
I was able to find the record ```VACOLS::Case.find_by(bfkey: "681376")``` but wondering why Hearing record with this vacols id is not found
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5883/events/458725/

[2019-09-05 21:33] nicholer commented on #11508
9/4 Stakeholder Design Review - Takeaways and next steps:

- **Research / Design**
  - Hearing Coordinators need to change the time of telehearings, and they can do that from the Daily Docket (lessens the importance of the flow that goes through Case Details)
  - Explore what additional telehearing metadata would be useful to display (multi-/dual-point; whether VA facility is required; etc)
  - Ve

[2019-09-06 01:56] leikkisa commented on #11742
I was able to find the other participant_id for most of these by looking at the veteran's bgs record's soc_sec_number field.  We are getting our ssn from the (separate) ssn field.  This didn't work for one of them, and that veteran had two records in our own DB.

Here's an example:
[code]

[2019-09-06 12:16] laurjpeterson opened #11994 "Caseflow metrics instrumentation"
Ticket to capture allda Caseflow metrics. We have a lot of disparate tools for metrics, too, which we may want to consolidate.

Subsequent sections of this ticket will capture metrics & where they should go (if we know at this time)

# Goals
My overall goal for metrics instrumentation
- Concise - not too many tools, so it's not hard for any Caseflower to view metrics
- Appropriately capture produc

[2019-09-06 13:02] pkarman opened #11995 "clean up Fakes::BGSService"
clean up the class to reflect our coding standards.

[2019-09-06 13:49] pkarman opened #11996 "Task model documentation"
We need some top-of-the-file docs at the level of the individual Task model in the code.

I would find the following helpful comments in each `app/models/tasks/*.rb` file:

* what milestone in the overall Caseflow decision review process does this task map to?
* under what conditions would a record of this type be created?
* what parent record types would it potentially have? are any required?
* w

[2019-09-06 13:53] geoffreystienblock opened #11997 "Support Non-Veteran Claimants"
## Background/context
This epic covers supporting non-veteran claimants for OAR and for the Board of Veterans' Appeals. Any other business line support will be scoped in a separate ticket.

### OAR
As a Claims Assistant I want to be able to process appeals for claimants who may not be Veterans so that we can process and move appeals forward for people who may be designees of the Veteran and the ap

[2019-09-06 13:56] lomky commented on #11811
Morphed into Tech Spec task for next sprint, in collab with Product design

[2019-09-06 14:01] geoffreystienblock opened #11998 "BSE 65150 - Capability for Caseflow to Capture Data Related to Medical Opinion Requests"
**Requirement:**  PA&I needs ability to track remands based on medical opinion advisory from Board

**Value Statement:**  As a Board Caseflow user I need the ability to capture various data related to an advisory medical opinion (AMO) at an issue level, so that the system is able to adequately capture metrics related to AMOs for reporting purposes under Section 5 of the Appeals Modernization Act.

[2019-09-06 14:08] geoffreystienblock opened #11999 "BSE 65151 - Capability for Caseflow to Support Undifferentiated Gender"
**Requirement:**  Users need Caseflow to have an undifferentiated option concerning gender so that it can make the connection with VBMS.

**Value Statement:**  As a Caseflow user, I need for the Caseflow system to be able to establish an AMA claim in VBMS for a claimant who has no assigned gender in VBMS, so that Caseflow will be able to establish the claim in VBMS without any data issue related t

[2019-09-06 15:08] edmangimelli opened #12001 "Appeals API - HigherLevelReview show endpoint"
# Where we ended up:

an object in 2 pieces:
[code]
(this is how JSON:API wants us to format responses/requests)

**data:**
[code]
**included:**
[code]
*Notes on JSON:API:*

Relationships is a peculiarity of JSON:API. The relationships section has _references_ to object's associated to the object being returned (the HLR).
**_References_** --not full objects.

If you are returning an object, but wo

[2019-09-06 15:21] edmangimelli commented on #12001
I'm thinking I should also pull in:
[code]
(fields that are used in `search_table_ui_hash`)

[2019-09-06 16:18] pkarman commented on #12001
what are the potential consumers of this response going to want?

I'm imagining they are interested in the status of the establishment (`establishment_processed_at`).

How would this be different than the existing Status API? https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/controllers/api/v2/appeals_controller.rb

[2019-09-06 16:29] lomaxap opened #12002 "Investigate Hearings Performance Improvement"
- Investigate use of New Relic Browser for monitoring Performance
- Audit use of serializers -- are there ways to refactor for specific pages, removing unnecessary data
- Audit API calls / Promise chains -- can we render pieces of the page async rather then waiting for promises to finish

[2019-09-06 16:30] lomaxap opened #12003 "Investigate Number of LegacyHearings without VACOLS records"

[2019-09-06 16:58] lomaxap opened #12005 "Create Interface for Non-Availability / Judge Algorithm"

[2019-09-06 17:19] pshahVA commented on #11932
@nicholer @lomaxap , do you think we should flag the days that are full as a value added feature.  Right now we only show non full days, but maybe we show them all, but mark them as full?

[2019-09-06 17:48] pkarman commented on #11999
@geoffreystienblock I believe this was already resolved in March with #9709 -- is there some known defect that this new ticket represents?

[2019-09-06 18:16] leikkisa commented on #12001
+1 to including establishment processed at
The HLR can have many EPs, so if you want to include end_product_status you could do it on the request issue (which has endProductCleared right now), or you might want to include a separate section for each of the EPs.

* Relationships *
- this section is a little misleading, we use this to show the veteran's dependents, and I don't think those are necess

[2019-09-06 19:05] nicholer commented on #11932
@pshahVA Can you remind me why it's useful to show full hearing days in the sidebar?

I remember the Hearing Coordinator requesting to see the number of slots left per day.

[2019-09-06 19:10] pshahVA commented on #11932
So they can see the entire schedule right there, rather then going to the view schedule.

[2019-09-06 20:06] nicholer commented on #11932
Okay, I'll defer to your/others judgement here, since I don't have the context.

But if we're going to somehow indicate that days are full (i.e. have 0 slots), should we also roll in showing how many slots are remaining?

[2019-09-06 20:14] edmangimelli commented on #12001
re: Relationships

Relationships here is being used in the JSON:API sense.
https://jsonapi.org/format/#document-resource-object-relationships
That is, it's completely unrelated to `ui_hash`'s relationships field
It's more like, these objects (the veteran, and claimant) are independent resources associated with this HigherLevelReview object. So it's relationships for the HigherLevelReview, not the

[2019-09-06 20:21] pshahVA commented on #11932
I agree, that would also be a nice enhancement.  However, Now that this bug is high visibility, I'm thinking we break it up into two tickets.  One for the initial bug, and then one for improvements.

[2019-09-06 22:22] pkarman commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/83259

[code]

[2019-09-08 00:05] jimruggiero commented on #11488
@laurjpeterson can I close this one given your note above?

[2019-09-08 01:10] jimruggiero commented on #2776
@carodew - moving to your design backlog

[2019-09-09 12:18] hschallhorn commented on #11985
Resolved in #12006

[2019-09-09 12:18] #11985 closed

[2019-09-09 13:54] hschallhorn commented on #7556
## [Hines](https://en.wikipedia.org/wiki/Frank_T._Hines) sprint (9 Sept - 22 Sept) engineering priorities

@kevmo @lomky @lowellrex, below are tickets that we will be working on related to this sprint. We will be using [Zenhub](https://github.com/department-of-veterans-affairs/caseflow#zenhub) to track progress on tickets.

### 1. Pagination (epic #10470)
1. (KEVIN) Enable back-end sorting of task

[2019-09-09 14:01] aroltsch commented on #11252
FE implementation is here: https://github.com/department-of-veterans-affairs/caseflow/pull/11767

TODO:
1. Implement a POST request to assign the task to a judge
1. Create a new task called AddressMotionToVacateTask
1. Ensure AddressMotionToVacateTask tasks appear in the judge's queue

[2019-09-09 14:41] lomaxap opened #12009 "Investigate React Component Management Libraries"
Tools like storybook / styleguidist and bit ([see others](https://blog.bitsrc.io/11-react-ui-component-playgrounds-for-2018-eef5a87a1bf8)) allow us to create easily shareable directories of react components. We should create a list of all the options and the pros and cons for each.

- How easily sharable are they? (where would it have to be hosted?)
- How easy is it to integrate into our existing

[2019-09-09 14:59] edmangimelli commented on #12001
@leikkisa
could you expand on this:

I want to return as much info as possible about the end products. For the RequestIssues, as of right now, my plan is to return `end_product_cleared` and `end_product_status`. Is there something more I could do there? I suppose I should serialize `end_product_establishments` for my HLR?

[2019-09-09 15:02] edmangimelli commented on #12001
@pkarman

The major difference is that the status api returns statuses for _all_ of a veteran's decision reviews. This proposed endpoint would return *all info* about a _single_ HLR, which includes that HLR's status.

[2019-09-09 15:04] #11673 closed

[2019-09-09 15:09] lomaxap opened #12011 "Only Return legacy ScheduleHearingTasks where Case location is Caseflow"
related to #10820

In order to prevent deduped appeals from appearing in the assign hearings list, we should only [query legacy appeals](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/tasks/schedule_hearing_task.rb#L30) that are in `CASEFLOW`. We do this currently only for central office hearings

[2019-09-09 15:22] lomaxap opened #12012 "Tech Spec for Pexip API Integration"
See [rough notes](https://www.notion.so/navapbc/pexip-dfe4ca4d04c747e7abf217c1f74eef58)

Pexip provides an API that allows us to create a "meeting room" for a host and multiple guests. Each meeting room has a name, host pin, and guest pin that we are responsible for creating and destroying.

### AC

- Documentation on how to interact with Pexip API
- Tech spec of a caseflow service to interact wit

[2019-09-09 15:25] lomaxap opened #12014 "Document Current DAS Vacols Interface and Features"
We need a better sense of what we are actually deprecating. We should set up a time to walk through the current DAS interface with someone at the board.

[2019-09-09 15:50] lomaxap commented on #11932
@sharonwarner thinks we may have hardcoded a limit for a reason (maybe to ensure they fill earliear hearing days first). @pshahVA to ask around

[2019-09-09 15:56] jcq commented on #12009
One major consideration will likely be cost. For instance, while Bit has a free tier, we'd likely need organization account access, which requires the $12/user/mo tier, which may be a tougher sell.

[2019-09-09 16:43] edmangimelli commented on #12001
@leikkisa

Would it be useful to also include information about resulting decision issues once they're available?

Yes!  Should i just include what's returned from `myHLR.decision_issues`? Is there an appropriate serializer for decision issues? (there doesn't seem to be)

[2019-09-09 17:12] aroltsch commented on #10325
TODO:
1. Create a post request to save motion dispositions
2. Combine motion dispositions dismiss and withdraw on the BE and save as dismissed.

[2019-09-09 17:14] lomaxap commented on #9106
@pshahVA yes, we need to know

1. Is the list of people in the Hearings Management Organization correct and up to date for the list of hearing coordinators
and
2. (which will probably be answered with 1) We found 5 css_ids (“VACOUNSELL”, “BVAFTR1”, “VACOBROWNK3", “VACOBECKLT”, “VACOJOHNST9") that are in VACOLS "hearing coordinator" staff list but not in Caseflow, can you confirm that they should n

[2019-09-09 17:20] laurjpeterson commented on #11590
Note for LP and @pkarman - when this ticket is done, we will be able to easily define cases that are ready for distribution simply by `DistributionTask` with a status of `assigned`

[2019-09-09 17:23] lomaxap opened #12016 "Get Access to Pexip Dev Environment"
We need 5 developer accounts to allow us to test interacting with Pexip API. Lyn Dickerson is currently our point of contact.

[2019-09-09 17:23] sharonwarner commented on #11932
We're currently returning hearing days between the current date and 6 months from now. @pshahVA will reach out to the hearings branch to see if that's sufficient.

[2019-09-09 17:29] pshahVA commented on #11932
I have emailed the hearings branch, and awaiting a response.

[2019-09-09 17:55] pshahVA commented on #9106
I wonder if these are just older employees.  I asked the question to the hearings branch, but it may take some time to get an answer. It seems like unless we pragmatically keep them in sync, this can always happen.

[2019-09-09 18:21] edmangimelli commented on #12001
@leikkisa

This is a renaming (to be consistent with the intake API) of vacols_issue:
[code]

[2019-09-09 18:26] #11797 closed

[2019-09-09 18:37] edmangimelli commented on #12001
Here is what I'm currently thinking:
[code]

[2019-09-09 18:46] edmangimelli commented on #12001
@pkarman

From what I understand, the consumers of this endpoint will want a as-complete-as-possible picture of a HLR: the status, all of the attribute data, who the veteran is, the claimant (if not the veteran), and all of the objects associated (request issues, end products, generated decision issues?, generated rating issues)

[2019-09-09 18:55] #11995 closed

[2019-09-09 18:56] edmangimelli commented on #12001
The biggest questions for me, at the moment:
what is the shape of a vacols issue? i have no examples locally. how should it be serialized?
is pulling `end_product_establishments` everything i need to show a use a HLR's end products? if so, how should it be serialized?
the HLR can (eventually) generate both decision issues and rating issues? how should i go about retrieving these? calling `.decisio

[2019-09-09 18:57] pshahVA commented on #11932
Hearings branch is OK with the explanation that it only shows 6 months, no action is required.

[2019-09-09 18:57] #11932 closed

[2019-09-09 19:48] pkarman commented on #12001
If you must, you can use the same serialization method `Issue.intake_attributes` for VACOLS issues.

That said, my preference would be that VACOLS issues should not be returned as part of any API response. VACOLS issues are legacy that are "opted in" to AMA decision reviews, and we need only reference their `id` values, if necessary. I'd need to see a compelling use case from an actual API consume

[2019-09-09 20:24] pkarman commented on #11927
[code]

[2019-09-09 20:27] #11927 closed

[2019-09-09 20:44] pshahVA commented on #9106
According to the hearings branch, "We need all employee codes in CaseFlow except for BVAFTR1" I have asked them to update this via the UI.

[2019-09-09 20:46] ferristseng commented on #12002
https://github.com/department-of-veterans-affairs/caseflow/issues/11882#issuecomment-527646796

[2019-09-09 21:37] lowellrex opened #12021 "Close RootTask for LegacyAppeals on dispatch"
We close the `RootTask` for AMA `Appeal`s when those appeals are [outcoded by dispatch](https://github.com/department-of-veterans-affairs/caseflow/blob/476ae88ec068fcb3815ad9933e20490b11233b86/app/models/tasks/bva_dispatch_task.rb#L28) (and more precisely [here in `AmaAppealDispatch `](https://github.com/department-of-veterans-affairs/caseflow/blob/476ae88ec068fcb3815ad9933e20490b11233b86/app/work

[2019-09-09 21:45] jcq commented on #12009
Another thing to investigate:
What's the best way to mock some of the larger objects that components might use? If we have a component that takes an `appeal` as a prop, we should have some standardized way of creating a mock that will properly satisfy that type.

What would be best would be to utilize the existing FactoryBot logic already established on the Rails side to avoid needing to keep mult

[2019-09-09 21:50] ferristseng opened #12022 "Create AttorneyTask when a judge assigns a legacy case to an attorney"
It looks like this is the area where we are assigning the case to an attorney:

https://github.com/department-of-veterans-affairs/caseflow/blob/476ae88ec068fcb3815ad9933e20490b11233b86/app/models/judge_case_assignment_to_attorney.rb#L12-L22

The method creates a record in DECASS.

https://github.com/department-of-veterans-affairs/caseflow/blob/476ae88ec068fcb3815ad9933e20490b11233b86/app/repositor

[2019-09-09 22:20] leikkisa commented on #12001
Just adding a comment - with respect to End Product Establishments, since the consumer is the veteran/claimant, I don't think it's necessary to include information about those, which is really just internal processing information which would probably be confusing at best, and could cause problems if there are processing issues (at worse).

The establishment_processed_at field from the HLR includes

[2019-09-09 23:01] tomas-nava commented on #11879
This was a data problem, not a functionality problem. `HearingTask`s with the following IDs were open, but had no children:

[code]

I modified the `OpenHearingTasksWithoutActiveDescendantsChecker` to report `HearingTask`s in this state in #11957, and have resolved all but three of the related appeals.

Most were resolved by setting the `status` of the childless `HearingTask` to `cancelled` and (w

[2019-09-09 23:01] #11879 closed

[2019-09-09 23:27] Sjones352 commented on #11554
@sally what would the title be? Go to `veteran.name's claim` or `veteran.fileNumber's claim`  is too repetitive in the same message.
<img width="950" alt="Screen Shot 2019-09-09 at 7 24 31 PM" src="https://user-images.githubusercontent.com/23080951/64572968-7b7d9300-d337-11e9-9423-5aa9df98e7da.png">

[2019-09-10 02:01] pkarman commented on #11554
The text I am using in #11970 is `If needed, you can [correct issues]` with link on "correct issues".

[2019-09-10 07:28] #11838 closed

[2019-09-10 12:19] laurjpeterson opened #12026 "Auto case distribution | Change direct review distribution date"
The Board doesn't have enough cases ready for distribution to a judge. They'd like to change one of the variables for auto case distribution, to allow AMA direct review appeals to be distributed to a judge at 275 days waiting, rather than the current 305 days waiting (-60 days from the 365 day timeliness goal).

## AC
- Direct review docket appeals can be distributed at 275 days (90 days before th

[2019-09-10 13:05] pkarman commented on #12026
Should just be a matter of changing this constant:
https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/dockets/direct_review_docket.rb#L5

[2019-09-10 13:50] #11796 closed

[2019-09-10 13:50] #11802 closed

[2019-09-10 13:52] lomaxap commented on #9106
Thanks @pshahVA ! We'll check in again before we merge this to make sure that's done.

[2019-09-10 14:19] pkarman commented on #12026
@laurjpeterson should I interpret this as 90 days *or* 120 days is an acceptable change?

[2019-09-10 14:21] laurjpeterson commented on #12026
This should be 90 days, not 120. They want direct docket appeals to be distributed at 275 days instead of the current 305

[2019-09-10 15:01] Sjones352 commented on #11554
Going to hold off on this one till #11970 is merged.

[2019-09-10 15:50] #10641 closed

[2019-09-10 17:32] carodew commented on #11668
Delayed update – JW objected to the categories in the first question, saying that some users could be in more than one group and that some branches/roles were not represented (but didn't go into details). I think that might be a result of mixing role and branch in one question. I'm loathe to add another question to the survey since each addition reduces the likelihood of folks filling it out.

I d

[2019-09-10 17:36] pkarman commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/83793

[code]

[2019-09-10 17:55] aroltsch opened #12032 "Add issue type to decision issues table: rating, nonrating, unidentified"
### The goal of this work is to always know what type of a request issue we are creating to ensure data integrity.

### Background
Currently when creating a nonrating request issue we don't always have a nonrating issue category hence we can't recognize if the issue is nonrating. One way to check is to look at a contestable decision issue from which this nonrating request issue is born. In order t

[2019-09-10 17:57] aroltsch commented on #10985
Closing in favor of https://github.com/department-of-veterans-affairs/caseflow/issues/12032

[2019-09-10 17:57] #10985 closed

[2019-09-10 17:57] aroltsch commented on #11322
Closing in favor of https://github.com/department-of-veterans-affairs/caseflow/issues/12032

[2019-09-10 17:57] #11322 closed

[2019-09-10 19:35] laurjpeterson opened #12036 "Improve performance of adding users to organizations"
Currently, team/organization admins can navigate tp the URLs: `organizations/<org name>/users` to add users to their team/organization. The dropdown on this page is very slow when users type in names/CSS IDs. This is likely because there are ~18,000 Caseflow users in this dropdown.

## AC
- Investigate slow performance of this dropdown across all organizations in Caseflow (business lines, Board br

[2019-09-10 20:00] lowellrex opened #12037 "Prevent creation of child tasks of TimedHoldTasks"
`TimedHoldTask`s [should not have any child tasks](https://caseflow-looker.va.gov/sql/dns58vwdwyszry) (because they themselves are simply indications that the parent task is on hold for some period of time) but that is not strictly enforced in the code anywhere. This ticket exists to add a guardrail to prevent the creation of child tasks of `TimedHoldTask`s in the code. If we come up with a generi

[2019-09-10 21:28] pkarman commented on #12036
tech note: I recently changed the /test/users endpoint to get rid of pre-loading all 18k+ users. I suggest we move to a remote autocomplete pattern instead of preloading the entire users table (which also represents a security flaw).

[2019-09-10 22:00] #12026 closed

[2019-09-11 12:43] pkarman commented on #11713
Based on conversation with @laurjpeterson we have identified at least one instance where it is legitimate for a case to be re-distributed. An example of its task tree:

[code]

* more than a RootTask
* all tasks either cancelled or completed (closed) except for active `TrackVeteranTask`
* tasks include completed `ScheduleHearingColocatedTask` and cancelled `HearingTask`

In these cases we follow t

[2019-09-11 12:58] pkarman opened #12044 "SQL snippet library"
As we work on documenting our models ( see #11996 ) and creating more reference documentation (see #11852) it would be useful to start compiling a library of working and tested SQL statements that illustrate our business processes.

These SQL snippets could originate from Looker or Tableau but would now live in Caseflow repo where they can be tested as part of our standard spec suite and therefore

[2019-09-11 13:02] lowellrex commented on #11760
AMA appeal attribute caching takes ~10 seconds while legacy appeal attribute caching takes ~1000 seconds. We should focus our efforts there. I suspect we are taking this long primarily because network round trips to VACOLS are very slow.

![image](https://user-images.githubusercontent.com/32683958/64699375-a28caf80-d472-11e9-8d98-c1ebb2ca0963.png)
[Source: Datadog](https://app.datadoghq.com/metric

[2019-09-11 13:04] #11758 closed

[2019-09-11 13:08] pkarman commented on #11840
in production just now:

[code]

17 of which have already been decided.

[2019-09-11 13:56] pkarman commented on #10511
As noted here https://github.com/department-of-veterans-affairs/caseflow/issues/11840#issuecomment-530372123 we are seeing positive results from including the not service connected rating decisions as part of Intake. Not yet sure if it 100% resolves this problem, but a positive step.

[2019-09-11 13:58] #11388 closed

[2019-09-11 14:09] #11309 closed

[2019-09-11 14:26] carodew opened #12048 "Interactive decision template discovery study"
## Goals

- [ ] recommendations to the BVA on what to do with the Interactive Decision Template (e.g. build (and if so, how?), buy, discontinue, or something else entirely?)
- [ ] Prioritized list of use cases and/or user needs
- [ ] Possible metrics to evaluate success

## Background

## Resources

- [Our current documentation around ITD](https://github.com/department-of-veterans-affairs/appeals-

[2019-09-11 14:46] ferristseng commented on #10852
https://github.com/department-of-veterans-affairs/caseflow/pull/11655 may have resolved this

[2019-09-11 14:57] carodew commented on #12048
@laurjpeterson I thought I had previously written a more thorough project brief but apparently I misremembered. I created this epic to use as a framework for kicking off the IDT team next week, but I'm fuzzy on both the problem to be solved with IDT (other than that it's old) and the business goals for whatever it becomes in the next phase. I feel as though I was able to flesh out the rest of the

[2019-09-11 15:05] laurjpeterson commented on #5549
Closing, because documentation and discussion about user authorization and access permissions will continue with this PR https://github.com/department-of-veterans-affairs/caseflow/pull/12043

[2019-09-11 15:05] #5549 closed

[2019-09-11 16:00] pkarman commented on #11840
According to https://github.com/department-of-veterans-affairs/appeals-support/issues/5324 we may need to revisit the +/- 10 day date window comparison logic for whether a rating decision is contestable or not. See https://dsva.slack.com/archives/CHX8FMP28/p1568212423253600

[2019-09-11 16:27] #10852 closed

[2019-09-11 16:30] ferristseng opened #12053 "VacolsRecordNotFound error"
Sentry Alert: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5883/

See this thread for more info: https://dsva.slack.com/archives/C42P25D6H/p1568136245012200

https://github.com/department-of-veterans-affairs/caseflow/blob/3e03aa0d3aa15e13b15ae04b1c8f8eab848ce307/app/models/tasks/generic_task.rb#L102

[2019-09-11 17:34] pkarman commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/84152

[code]

[2019-09-11 18:18] ferristseng commented on #12002
Have we had any specific complaints for pages that have been slow in production?

[2019-09-11 18:23] lowellrex opened #12054 "Prevent creation of duplicate TrackVeteranTasks on intake"
A [Looker alert](https://caseflow-looker.va.gov/looks/183) notified us that there were two appeals with multiple open `TrackVeteranTask` assigned to the same VSO ([example Slack notification](https://dsva.slack.com/archives/CLRTL92TW/p1568210468097100)). This ticket exists to address the root cause of one of those scenarios (ticket #12055 exists to address the other).

When we intake an appeal [we

[2019-09-11 18:29] lowellrex opened #12055 "Prevent creation of duplicate TrackVeteranTasks in update representation job"
A [Looker alert](https://caseflow-looker.va.gov/looks/183) notified us that there were two appeals with multiple open `TrackVeteranTask` assigned to the same VSO ([example Slack notification](https://dsva.slack.com/archives/CLRTL92TW/p1568210468097100)). This ticket exists to address the root cause of one of those scenarios (ticket #12054 exists to address the other).

Given the example appeal bel

[2019-09-11 18:31] lowellrex commented on #12055
Resolved the data problem that caused the alert by cancelling the newer task:
[code]

[2019-09-11 18:45] lowellrex commented on #12054
Resolved the data problem that caused the alert by cancelling the task that was not created by the `InitialTasksFactory`:

[code]

[2019-09-11 19:09] #11739 closed

[2019-09-11 20:21] ferristseng opened #12059 "Shows tasks in Attorney queue"
Ensure that the attorney's queue is returning the newly created `AttorneyTask`s from #12022

`AttorneyLegacyTask` is the old way of tracking the task after it gets assigned to an attorney. We shouldn't return these tasks for the new workflow:

https://github.com/department-of-veterans-affairs/caseflow/blob/3ad02facb015b7228fb646eb75118546876ba430/app/models/legacy_tasks/attorney_legacy_task.rb#L23

[2019-09-11 20:30] #12054 closed

[2019-09-11 21:40] hschallhorn opened #12063 "Refactor `QueueTable.jsx` file to be fewer than 400 lines."
Currently we are disabling the max-lines-length ESlint check in QueueTable.jsx. Instead of doing that, refactor this file to remove all of the pure functions into their own file.

[2019-09-12 14:58] hschallhorn opened #12067 "Update address bar with url for the current state of queue"
With the new ability to navigate to a sorted/filtered/paged/tabbed OrganizationQueue page via a link introduced in #11055, we should update the address bar to show the url of the current tab/page/filter/sort the user is currently seeing.

### AC
- [ ] As the user clicks around their queue, update the URL in the address bar to reflect the current set of tabs, pages, filters, and sorts

[2019-09-12 15:09] pkarman opened #12068 "Migrate Looker reports and alerts"
Looker is going to be decommissioned. We need to migrate our existing SQL reports and alerts to some other mechanism.

### Proposal

Move the SQL to individual `.sql` files under the new `app/sql` directory as with #12044 and write a job that runs each one nightly just as Looker currently does.

[2019-09-12 16:00] lomky opened #12070 "Add updated_at to the cached_appeal_attributes table to inform bug investigations"
While investigating the job failing to run in #12069 we realized it would be nice to have an `updated_at` and `created_at`  value for the rows, especially since some rows get touched twice per run of the job!

This ticket is to add that column & make sure it gets updated appropriately by the job.

[2019-09-12 17:32] pkarman opened #12071 "Reconsideration task should un-close root task"
Ran across this issue today while researching something unrelated.

https://dsva.slack.com/archives/CHX8FMP28/p1568306720279800

[code]

The RootTask had a `closed_at` value and should not have. I manually fixed it. This ticket represents the research to discover if we have a bug in the code where a RootTask that has been re-opened needs to have its `closed_at` value reset to `nil` (which is what

[2019-09-12 17:36] laurjpeterson opened #12072 "Change claim label depending on the date of the VA decision"
When an issue/contention is chosen for a decision review, VBA wants to understand the level of effort for changing which EP claim label we use depending on the date of the decision.

For example:

If issue A is selected for a Supplemental Claim, that was from a VA decision more than 1 year from today's date, use claim label X.

If issue B is selected for a Supplemental Claim, that was from a VA de

[2019-09-12 18:56] pkarman opened #12074 "Test BVA decision progress SQL"
Follow on to #11921

Create tests for the BVA decision progress SQL.

## AC

- [ ] add app/sql/bva-decision-progress.sql
- [ ] specs for app/sql/bva-decision-progress.sql

[2019-09-12 19:12] leikkisa opened #12077 "Show alert to user if Duplicate Veteran record found"
### Story
When a veteran has a duplicate record, with a different participant ID, establishing their claim fails.

Related #11742

### Acceptance criteria
1. When a user searches for a veteran in intake, if that veteran has a duplicate record show the user an error alert
1. The error alert should include both participant IDs for the veteran, instructions to create an incident in YourIt, and to try

[2019-09-12 20:24] lomaxap opened #12080 "Create Test User Data for Hearing Coordinator"
BVAWARNER has a "Hearing Prep" role which gives the user the judge view on the hearing docket. We should create a test user that only has access to `Edit HearSched` and`Build HearSched` roles

[2019-09-12 20:31] aroltsch opened #12081 "TypeError BULK_ASSIGN_BUTTON_TEXT"
[Sentry link](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6539/)

TypeErrorapp/queue/components/BulkAssignButton in BULK_ASSIGN_BUTTON_TEXT
Cannot read property 'map' of undefined

[2019-09-12 21:23] lowellrex opened #12082 "Filtering by Case Type should be additive"
![image](https://user-images.githubusercontent.com/32683958/64821899-d99db680-d581-11e9-8ef8-1ff33d69e640.png)

## Acceptance criteria
* [ ] Selecting options in addition to "AOD" in the "Type(s)" column shows those options even if they are not AOD for organization queues using the pagination API

[2019-09-13 12:21] aroltsch opened #12086 "There are two appeals that have been dispatched and missing decision issues"
### Appeal IDs: 1025, 1394

### Tech notes:
These appeals potentially have their dispositions on request issues, we need to create decision issues for these if needed

[2019-09-13 14:13] pkarman commented on #4887
There is no mention in the README of this script and I never have used it.

[2019-09-13 14:13] #4887 closed

[2019-09-13 14:18] pkarman commented on #6680
This is still a generally valid problem, though more broadly in the app. We still log frequent `VBMS::FilenumberDoesNotExist` errors for reader, e.g.

I'll change the description.

[2019-09-13 14:20] #7512 closed

[2019-09-13 14:35] aroltsch commented on #12086
Following the steps in this [ticket](https://github.com/department-of-veterans-affairs/caseflow/issues/10060)

1. Created 3 decision issues with dismissed_death for appeal ID 1394 using request issues' closed status
2. Created 2 decision issues with denied for appeal ID 1025 by looking at the BVA decision document in Reader

[2019-09-13 14:35] #12086 closed

[2019-09-13 14:38] hschallhorn opened #12088 "Paginated filtering still shows additional pages"
When filtering multiple pages of tasks with the pagination API, the later pages will display additional unfiltered tasks.

### Filtering without pagination

<kbd><img width="840" alt="Screen Shot 2019-09-13 at 10 21 23 AM" src="https://user-images.githubusercontent.com/45575454/64870767-e538be00-d611-11e9-9e93-eecb61dd7a22.png"></kbd>

_Only shows one available page_
_"Viewing 1-2 of 2 total"_

##

[2019-09-13 18:24] pkarman opened #12092 "Legacy VACOLS case incorrectly distributed via Caseflow"
Related to #11713 VACOLS id 3936518

Distributed on 8/15/2019

Board says:

[2019-09-13 18:32] pkarman commented on #12092
VACOLS location history:

[code]

[2019-09-13 18:43] lowellrex commented on #11760
Looks like all of the time spent in the `cache_legacy_appeals` method is in caching the VACOLS data as expected (20 seconds for Postgres vs ~17 minutes for VACOLS):
![image](https://user-images.githubusercontent.com/32683958/64886355-fabedf80-d633-11e9-9036-7045398fe546.png)
[_source: Datadog_](https://app.datadoghq.com/metric/explorer?live=true&page=0&is_auto=false&from_ts=1568226950077&to_ts=156

[2019-09-13 18:47] lowellrex commented on #11666
The instrumentation we added in #12047 suggests that this bug is no longer occurring.

![image](https://user-images.githubusercontent.com/32683958/64886835-22627780-d635-11e9-8796-1a53d6a83f03.png)
[_Source: Datadog_](https://app.datadoghq.com/metric/explorer?live=true&page=0&is_auto=false&from_ts=1568396744351&to_ts=1568400344351&tile_size=m&exp_metric=dsva_appeals.update_cached_appeals_attribute

[2019-09-13 18:56] leikkisa opened #12093 "Use claim date for submit date when creating contentions"
### Story
When we create contentions in VBMS, we set the "submit date" to today.  We have been asked to set that to the claim date of the end product establishment.

### Acceptance criteria
When we create contentions in VBMS, the submit_date is set to the claim date

### Technical notes
This will require multiple PRs.

1. First in the connect_vbms repo, update create_contentions to accept a claim_

[2019-09-13 19:18] pkarman commented on #12092
[code]

[2019-09-13 19:19] alisan16 opened #12094 "Queue table headers not being read by screen reader"
Table header cells with filtering capabilities are read as "filter by column_name button" with screen readers. Column_names should be read without the "filter by" button being selected.

Suggested fix: Add <th> tags to table header

From Section 508 Audit: Data in columns with filtering capabilities are read as filter by when reviewing information with assistive technology programs and table comma

[2019-09-13 19:22] alisan16 opened #12095 "Section 508 Accessibility Audit"
This epic tracks the effort to correct issues surfaced by the [Section 508 Accessibility Audit on the Caseflow Demo website](https://dsva.slack.com/files/U51RH55BR/FMSE83EH1/appeals_modernization_bva_caseflow_quick_test_20190904-lkd-1_final.docx
). Most issues are related to inadequate support for using the website with assistive technology (AT), the most common of which are [screen readers](https

[2019-09-13 19:22] alisan16 opened #12096 "Table used for layout in case timeline"
A layout table is used to indicate if a specific task has been completed.  This table is used to visually stylize information and should not be coded as a table for assistive technology users. (New: 08/21/2019)

Suggested fix: Make sure layout table doesn't have data table markup: https://webaim.org/techniques/tables/

[2019-09-13 19:23] alisan16 opened #12097 "Veteran ID – copy function not accessible to assistive technology (AT)"
The role of the Veteran ID cannot be determined with assistive technology programs. Visually there is an icon indicating this is a copy function as well as a mouse over that reads Click to Copy. (New: 08/22/2019)

[2019-09-13 19:23] alisan16 opened #12098 "Decision document ID – copy function not accessible to AT"
The role of the Decision Document ID cannot be determined with assistive technology programs. Visually there is an icon indicating this is a copy function as well as a mouse over that reads: Click to Copy. (New: 08/22/2019)

[2019-09-13 19:24] alisan16 opened #12099 "The label for Veteran ID needs to be read by AT"
When viewing a case, the Veteran ID is displayed. Assistive technology only reads the case number. The label Veteran ID as well as the number should be read by assistive technology programs. (New: 08/22/2019)  the labels need to be read with AT

Suggested fix: Add label to the Veteran ID button to indicate clicking on it copies the ID

[2019-09-13 19:24] alisan16 opened #12100 "Label "decision document ID" not read with the copy button"
The label Decision Document ID is not read with the button to copy this number. The label decision Document ID should be read with the number as well as the function that it is a button. (New: 08/22/2019) the lablels need to be read with AT

<img width="1312" alt="Screen Shot 2019-09-16 at 9 41 44 AM" src="https://user-images.githubusercontent.com/1198106/64962910-49ec5680-d866-11e9-8252-1e69ae9b4

[2019-09-13 19:25] alisan16 opened #12101 "Search label text in Queue > Reader reads "Search small" by AT. It should just read "Search""
The label for the search element is incorrectly read as Search Small for assistive technology users. Visually the label reads: Type to Search. This defect occurs throughout the web hosted application with the search function improperly being read as Search Small. (New: 08/27/2019) Ensure you can hear what is visually being seen to ensure compliance

Noting – we should also check the search tips an

[2019-09-13 19:30] pkarman commented on #12092
MBRASWELL assigned to location "81" (case storage) on 8/15/2019 and Caseflow correctly picked it up for distribution.

[2019-09-13 19:30] #12092 closed

[2019-09-13 19:36] pshahVA opened #12102 "Add POA email address to hearings details"
### User Story:
As a hearings branch member, I need to be able to schedule a virtual hearing.  This requires Caseflow to have the POA email.   Add the POA email to the information that is displayed in the CaseDetails page, similar to how we have it for the Veteran.  In addition, the hearings team needs to be able to update the POA email address just for use with this hearing.

### Designs:
Display

[2019-09-13 20:00] pkarman opened #12103 "Silence BGS::ShareError sentry alerts"
BGS::ShareError exceptions are caused by sensitivity validations or other problems preventing a particular user from accessing a particular veteran record in BGS. We can't act on that situation, so stop logging those errors to Sentry and/or silence their communication to Slack.

[2019-09-13 20:10] pshahVA commented on #12102
@lomaxap, the difference here between the veteran email, is that we are adding the capability to change it, so we would have to store it. However, it only makes sense to tie it to a hearing.

[2019-09-13 20:15] #11657 closed

[2019-09-13 20:38] pkarman commented on #12092
Responded to BVA email thread with summary of above and link to this ticket.

[2019-09-13 21:36] #11666 closed

[2019-09-13 21:36] kevmo commented on #11666
This bug appears to have been solved.

[2019-09-14 17:30] leikkisa commented on #11787
Adding info from a duplicate ticket
https://dsva.slack.com/archives/CCB97HZJL/p1565188103098600 VBMS cannot find record by claim number 67421457 when attempting to sync end product establishment.

[2019-09-14 17:33] leikkisa commented on #11787
Update from meeting on Tuesday:
There's also SR 1101900 for this

During the meeting, we found that VBMS has additional validation checking the veteran's participant ID during list contentions that they believe should not be there, so they are planning on removing it.

I am moving this to the backlog instead of ready for dev, pending updates on that change, in case we don't need to code an alert f

[2019-09-14 17:33] leikkisa commented on #11695
Dupe of https://github.com/department-of-veterans-affairs/caseflow/issues/11787

I will put this info into that ticket, and close this one.

[2019-09-14 17:33] #11695 closed

[2019-09-16 13:08] #11055 closed

[2019-09-16 13:25] lowellrex commented on #11055
@hschallhorn #12060 looks great! But do we have a ticket to make the URL in the address bar reflect the current set of tabs, pages, filters, and sorts (it could also serve double duty as the source of truth for that information instead of relying on local state or the redux store)?

In the example below I would expect the `tab` parameter in the URL to change to reflect the current tab. Doing this

[2019-09-16 13:40] hschallhorn commented on #11055
I did not! I actually like that better than creating an entire modal to get the sharable link. updating the address bar seems more intuitive. I'll update that ticket.

[2019-09-16 14:19] aplybeah commented on #12009
# Recommendations for React Component Management

## Context
Response to #12009. The goal of this investigation is to find tools that will isolate our react components so that we can have a live preview of how the component works, and have directories of components that can be shared between projects.

## Overview

The tools considered are Docz, React Styleguidist and Storybook. These were chosen

[2019-09-16 15:12] hschallhorn commented on #11318
Note on this.
We display assigner name as `#{task.assigned_by.full_name.split(' ').first} #{task.assigned_by.full_name.split(' ').last}`, but we have 37 users with `full_name`s like `Joe Dirt ["JR" | "I" | "II" | "III" | "IV" | "V"]` which would display the assigner as `Joe ["JR" | "I" | "II" | "III" | "IV" | "V"]`.  Don't know if we want to address this.

[2019-09-16 15:38] lowellrex commented on #11318
For this ticket let's just reach parity with the front-end. If the front-end sorts those names incorrectly, let's sort them incorrectly just the same and create a new ticket to fix sorting on both the back- and front-end.

[2019-09-16 17:06] leikkisa commented on #11193
Waiting on a new list of EP codes, it seems like we are missing some

[2019-09-16 19:03] hschallhorn commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/84890?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
Basic SQL Snippet Library Test one Appeal exists runs SQL
_spec/sql/basic_spec.rb_
[code]

[2019-09-16 20:16] ferristseng opened #12108 "Create Utility to Enable DAS Deprecation Feature for Judge and Attorney Team"
Right now, the `FeatureToggle` API is pretty limited with. It can enable a feature for a single user, or an RO, but not for a Judge/Attorney team. Since the DAS deprecation workflow will be piloted with a Judge/Attorney team, we should add an easier way we can enable this in prod. I imagine it can be in the form of something we can run from the rails console.

Something like this?

[code]

It coul

[2019-09-16 21:01] nicholer commented on #12102
@pshahVA I added a visual for the display-only email address in the Power of Attorney section.

Correct me if I'm wrong, but edits will happen from Hearing Details at the time a virtual hearing is scheduled, and therefore won't affect/update the email here on Case Details.

[2019-09-16 21:41] pkarman commented on #12108
Since feature toggles are ultimately controlled via the .yml file in appeals-deployment, how would this feature differ from simply outputting the list of users as .yml for copy/paste into a PR?

[2019-09-16 21:46] ferristseng commented on #12108
Oops, didn't realize that was how we set feature flags in prod. I think that would work better! Going too close...

[2019-09-16 21:46] #12108 closed

[2019-09-16 22:10] #11318 closed

[2019-09-16 22:13] pkarman opened #12110 "Prevent DecisionReviewTask from work when zero active request issues"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6584/

If a task's decision review no longer has any active request issues, the task is supposed to be closed (see #11963). However, we are seeing instances where that did not happen.

If a task has zero actionable request issues, it should not show in the LOB noncomp queue for work.

## AC

- [x] Hide noncomp DecisionReviewTa

[2019-09-16 22:55] lowellrex opened #12111 "Migrate pending incomplete and uncancelled task timers alert from Looker"
[Looker is going away](https://github.com/department-of-veterans-affairs/caseflow/issues/12068) and we need to migrate the [pending incomplete and uncanceled task timers alert](https://caseflow-looker.va.gov/looks/199) from Looker into Caseflow application code.

## Acceptance criteria
* [ ] Pending incomplete and uncanceled task timers alert is running in Caseflow application code.

[2019-09-16 23:07] hschallhorn opened #12113 "Stop using user's suffix as their last name"
As found in #11318, we store full names for users, some of which end in a suffix such as "JR" or "IV". With the introduction of #12107, we [sort on the back end](https://github.com/department-of-veterans-affairs/caseflow/blob/bd09097eddccba82a0a743318b82a767653e1bfc/app/models/task_sorter.rb#L75) the same way we [sort on the front end](https://github.com/department-of-veterans-affairs/caseflow/blo

[2019-09-17 02:18] leikkisa commented on #12110
I canceled the following "DecisionReviewTasks" that were assigned and had no active request issues:
[227629, 171353, 270379, 225103, 225579, 402032, 293867, 336230, 338052, 382189]

All of them had one ineligible request issue

[2019-09-17 02:22] leikkisa commented on #10087
Closing this issue, I believe it has been resolved thanks to @pkarman beefing up the access checks during intake with a few more checks.

[2019-09-17 02:22] #10087 closed

[2019-09-17 02:28] leikkisa commented on #9711
@jimruggiero How would you feel about closing this ticket since other follow up issues have been created? We could move the mural link.  Alternatively we could make this an epic with the related issues attached.

[2019-09-17 02:33] leikkisa commented on #10358
Closing this issue, thanks to @pkarman 's work here: https://github.com/department-of-veterans-affairs/caseflow/pull/11970

[2019-09-17 02:33] #10358 closed

[2019-09-17 03:25] #11488 closed

[2019-09-17 03:30] geronimoramos commented on #11723
![VLJ_grant_sep16.gif](https://images.zenhubusercontent.com/5d080bf47b35df3ba36deb06/2a0763c1-0c08-46fb-bb3f-4a9811596b22)

design as of Sep 16th, 2019

[2019-09-17 03:33] geronimoramos commented on #11812
Geronimo / Rutvi - Documentation day for this research on Sep 18th, 2019

[2019-09-17 13:05] lomky opened #12115 "Allow Judges to Cancel AttorneyTasks & Return Cases to JudgeAssignTask"
Spun out of this discussion in slack: https://dsva.slack.com/archives/C6E41RE92/p1568660503005300

There's been scenarios where a Judge or SSC wants to take a case back from an attorney while BVA clarifies something. They don't want to reassign to someone else just hold it until clarification is done and then address assigning it to an attorney later.

This **shouldn't** include any cases with a t

[2019-09-17 14:19] alisan16 opened #12119 "eFolder: Display: 'block' prevents screen readers from reading data in table"
The names of files are displayed in a table visually with the column headers: Document Type, Source, and Receipt Date. This information is read as paragraph text for assistive technology users. This information should be coded as a table as it appears visually on the page. (New: 08/27/2019) the table is coded as a table however in Styles the display: block is checked, when I unchecked it JAWs read

[2019-09-17 14:21] alisan16 opened #12121 "Add Hearings Page: content behind modal is read by a screen reader, but shouldn't be."
If a user selects the Add hearing Date element, a modal window is displayed visually. Page content can be accessed by assistive technology users when this modal window is displayed. Visually users know a modal is displayed and cannot access other features in the background while this window has focus. (New: 08/27/2019) you can see in the screen shot below that focus is on the “digital service at V

[2019-09-17 14:23] alisan16 opened #12122 "Caseflow product navigation bar: Users cannot use the keyboard to tab to the Caseflow > Switch Product element"
Users who are using only keyboard access (no mouse) cannot get to the Caseflow > Switch Product button. The Switch Product element cannot be accessed with a keyboard. (New: 08/20/2019) I see it is listed as text verses a drop down box or a menu item.

[2019-09-17 14:24] alisan16 opened #12123 "Dispatch: Special Issues checkboxes are not grouped together (End: 7/10)"
Checkboxes need to be grouped and labeled for 'Special Issues' on Establish Next Claim page

On the Establish Next claim page the label: Special Issue(s) is not read with the check box selections for assistive technology users. (New: 08/27/2019) The boxes need to be grouped and the label read “select special issue(s)” with all the checkboxes

Suggested fix: https://www.w3.org/WAI/tutorials/forms/g

[2019-09-17 14:25] alisan16 opened #12124 "Caseflow > Switch product should be an expanding/collapsing button and not a link"
The Switch Product element is incorrectly read as a link for assistive technology users. Functionally this is an expanding and collapsing element and should be read as an expanding and collapsing   button. (New: 08/20/2019)

[2019-09-17 14:26] alisan16 opened #12125 "Switch View button not focusable + Fix order of buttons that are focused upon clicking tab on Hearings schedule pages"
After the Apply button the Switch view element does not receive focus. Focus skips to the Download Current View element. (New: 08/27/2019) The focus does shift around in the wrong order on this page in particular

- Switch View button is not being read by AT
- The order of which buttons are focused on while navigating the page via tab is strange and should be made more orderly (i.e. focus on ""Sch

[2019-09-17 14:27] alisan16 opened #12126 "Table sort functionality not accessible to keyboard-only or other AT users. Sort buttons should be included in the tab order and be operable by keyboard"
Sorting functions such as: Case Details, task(s), Types, Docket Issues, and Days Waiting cannot be accessed with a keyboard. (New: 08/21/2019) You have to be able to do everything with a keyboard to include filter and sort, there is no tab stop on the headers to be able to sort and the filter buttons do nothing when you activate them

[2019-09-17 14:55] #12001 closed

[2019-09-17 15:38] lomaxap commented on #12102
Right

@pshahVA, I don't think we should be storing email addresses that conflict with BGS records. It's hard to keep track of which is stale and which is up to date and to know which ones to use where. Since this is only for virtual hearings, when we save the virtual-related data, maybe we can also save along side it the email address *at the time of that hearing*.

We should set up some time to

[2019-09-17 17:35] #11919 closed

[2019-09-17 17:48] hschallhorn opened #12129 "<<blank>> shows up as a filter option but is not filterable when pagination is enabled"
<img width="893" alt="Screen Shot 2019-09-17 at 11 46 25 AM" src="https://user-images.githubusercontent.com/45575454/65057591-d5d2b100-d940-11e9-8060-41f70d8c1f2f.png">

This can be caused by two things

### There is a nil value in one of the table columns paged tasks pulls from

This is only slightly handled by [`QueueFilterParameter`](https://github.com/department-of-veterans-affairs/caseflow/bl

[2019-09-17 17:55] pshahVA commented on #12102
@nicholer, you are right, its only where we are scheduling the virtual hearings.
@lomaxap, I was thinking along the same lines as you.  After talking to the hearings branch, nichole, and then a quick call with Peter (as he was helping me find the data), this was the reasoning and the problem I was trying to solve.
1.) Veterans and VSO's may have very old email addresses in the system (ie @aol.com

[2019-09-17 19:29] carodew commented on #11668
Here's how I'm interpreting the above in Survey Monkey, noting that we don't have the option to group checkmarks under headings so it looks slightly different – 

![image](https://user-images.githubusercontent.com/10144074/65072893-c7e05880-d95f-11e9-949c-ea29853530de.png)

[2019-09-17 19:34] carodew commented on #11668
@laurjpeterson if the above screenshot looks good to you, do you think we should schedule another meeting or is this something that would be better resolved via email? I kind of suspect the former but wanted to get your take since we're already asking for a chunk of time for other ventures.

[2019-09-17 19:35] laurjpeterson commented on #11668
That looks good to me! I think we should email Jennifer and John directing them to look at the survey preview, and offer a meeting time if they'd like to talk through it.

[2019-09-17 20:51] alisan16 opened #12134 "Queue: When a column has a filter applied, AT does not read to users that a filter is applied."
The state of the Filter elements Task, Types and Docket is not read by assistive technology programs. If a filter is applied, visually a user can see this change has been applied to the data, however this change is not read by assistive technology programs. It should read "Column_name filtered by filter_criteria". (New: 08/21/2019) in caseflowdemo (under Queue/your queue/assigned)

[2019-09-17 20:53] alisan16 opened #12135 "Reader: "Receipt Date" and "Document Type" do not read the role as sortable for assistive technology users."
The elements Receipt Date and document Type do not read the role as sortable for assistive technology users. (New: 08/27/2019)

[2019-09-17 20:54] alisan16 opened #12136 "Echo: Table in Queue > Reader headers when sorted are not announced by screen reader"
Update on 4/24/2020: The headers in the table are not being read correctly. When you sort (e.g. ascending) it is not announced by the screen reader "Sorted ascending"

----

Table is styled incorrectly
https://developer.mozilla.org/en-US/docs/Learn/HTML/Tables/Advanced

Noting that this table styling (esp. sort, filter) is inconsistent with Queue tables, this could be an opportunity to tighten thi

[2019-09-17 20:57] alisan16 opened #12137 "Assign, On hold, and Completed should be read as tabs with AT"
https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Tab_Role

The elements Assign, On Hold and completed are read as tab button windows with assistive technology programs. Functionally these elements are tabs and should be read as tabs. (New: 08/21/2019)

- Probably needs to be fixed in the higher level tab component

[2019-09-17 20:58] alisan16 opened #12138 "under dispatch/Work Assignments the elements Hourly, Daily, Weekly and Monthly should be coded as tabs, and read as tabs by AT"
https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Tab_Role

On the view Dashboard page under dispatch/Work Assignments the elements Hourly, Daily, Weekly and Monthly are visually stylized as headings, but are read as links for assistive technology users. Functionally these are tabs and should be coded and read as tabs for assistive technology users. (New: 08/27/2019)

[2019-09-17 21:00] alisan16 opened #12139 "In Document Viewer, Category check boxes aren't accessible to AT"
Once you select a document on the Labels for check box elements are not properly read for assistive technology users. All check boxes read as Object Object. The labels that appear visually with these check boxes Procedural, Medical, Other Evidence and Case Summary should be read for assistive technology users. (New: 08/27/2019)

[2019-09-17 21:00] lowellrex opened #12140 "Advanced response caching for queue pagination API"
#11310 implemented naive caching for the queue pagination API. This ticket exists to extend that caching implementation to encompass other scenarios where a request to the queue pagination endpoint would be redundant. When the API has returned a single page of results, the front-end will have access to all of the rows that the back-end could possibly return so any subsequent filters and sorts woul

[2019-09-17 21:03] alisan16 opened #12141 "Mouseover tool tips not accessible to keyboard-only or other AT users – they should be"
https://www.sarasoueidan.com/blog/accessible-tooltips/

Information regarding a hearing is displayed with Mouse Overs. This information cannot be viewed with a keyboard or read by assistive technology programs. (New: 08/21/2019)

[2019-09-17 21:04] alisan16 opened #12143 "Claims folder details element should be read as a button with expanding/collapsing functionality"
The Claims folder Details element is read as a tab for assistive technology users. This element is a button with an expanding and collapsing feature and should not be read as a tab. (New: 08/27/2019)

This component comes directly from the U.S. Web Design System, it might be worth reaching out to the FE designer on that system to ask about why they coded it that way (I can put in touch)

[2019-09-17 21:04] alisan16 opened #12145 "In Document Viewer: Sidebar section headers (e.g. Categories, Issues) cannot be accessed via keyboard – users should be able to tab to these elements and operate them via keyboard"
The Categories and Issue tags buttons cannot be accessed with a keyboard. These elements can only be clicked with a mouse. (New: 08/27/2019) the only button that looks to be actionable is the filter button which are not accessible via the keyboard

[2019-09-17 21:20] pshahVA opened #12146 "Change Headway App to Widget"
### Use Widget for Headway
## User Story
The headway app is implemented in production successfully, however it is hard for the end user to gain visibility into when a change has occurred unless they actively click on the release notes menu item.  If a widget is used instead of a link then it can show an icon when something has changed.

## AC
The widget for headway shows up and it updates when cha

[2019-09-17 21:33] pshahVA opened #12147 "Investigate Judge Email address"
### User Story
As part of virtual hearings, the system will need to send an email to a judge.  This ticket is to investigate if that email is available to Caseflow and if it can be accessed at the time of scheduling a virtual hearing.

## AC
The email is available and ready to be used for virtual hearings.

## Feature Toggle
n/a

[2019-09-17 21:33] pshahVA commented on #12147
@nicholer, do you think we need to display this or allow the user to change it?  I figured these do not change much.

[2019-09-17 21:44] pkarman opened #12150 "Monthly metrics report job"
A CaseflowJob run monthly that sends a message to Slack with useful metrics for reporting up to OIT. See #11994 and #11198 for details.

## AC

Send 2 sets of numbers via Slack message to the #appeals-job-alerts channel.

* number of Appeals established during the previous month.
* using ClaimReviewAsyncStatsReporter, number of claim reviews established within 7 days (count + %), plus total, cance

[2019-09-17 21:54] leikkisa opened #12151 "Populate contested benefit type for issues from rating decisions"
Related:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6423/events/470431/

https://dsva.slack.com/archives/CCB97HZJL/p1568656600043000
https://dsva.slack.com/archives/CHX8FMP28/p1568753577026300

If a request issue is created from a rating decision, assume the benefit type is "compensation" since these are coming from rating disabilities.

[2019-09-17 22:02] laurjpeterson commented on #11713
Yep, this is a legitimate scenario where a case is distributed a second time. It's not uncommon to see processing errors with legacy hearing cases - somehow, the request for a legacy hearing was missed, the attorney or judge identified this when reviewing the Veteran's file, they add an administrative action saying the hearing was missed, and the appeal goes backwards in the process for hearing sc

[2019-09-17 23:33] #12151 closed

[2019-09-17 23:46] leikkisa opened #12153 "Noncomp review - Do not ask for decisions on ineligible issues"
### Background
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6584/
https://dsva.slack.com/archives/C4JECDLSE/p1568749213015900

### AC
If a request issue is ineligible, do not try to get a decision for it in a noncomp review

[2019-09-17 23:50] #11760 closed

[2019-09-18 13:36] #11310 closed

[2019-09-18 13:43] nicholer commented on #12147
I assumed we wouldn't display it or allow the Hearing Coordinator to change it. I could very well be wrong, but I would expect Caseflow user account emails for VA employees to be their VA email address?

I'd be interested to learn more about what, if any, account management UI exists. I can't tell from demo.

[2019-09-18 14:47] jimruggiero commented on #11691
Upon further team discussion on 9/5/2019, this item was deemed an epic because the requirement to ensure nothing related to these appeals surfaces to veteran's, their representatives, appellants or other claimants in any way, requires ENG to draft a tech spec that identifies all of the touch points in intake workflows that surface data to others beyond the attorney or agent claimant. From this res

[2019-09-18 14:49] hschallhorn commented on #11590
[code]
Spinning out a PR to investigate why this happened

[2019-09-18 14:54] hschallhorn opened #12156 "Investigate why a blocking MailTask was created as the child of a RootTask"
As of #11845, we have been creating blocking `MailTasks` as children of `DistributionTasks` in an effort to simplify how blocking tasks are implemented. BUT, [we found](https://github.com/department-of-veterans-affairs/caseflow/issues/11590#issuecomment-532720053) an errant blocking `MailTask` that is a child of a `RootTask` that has been created since this code's implementation. This ticket exist

[2019-09-18 15:20] #12153 closed

[2019-09-18 15:45] #10615 closed

[2019-09-18 15:46] pkarman opened #12157 "Tasks with closed_at but not closed"
There are tasks in production with a `closed_at` value but a status not `completed` or `canceled`. These are likely due to manual clean up of some kind.

## AC

- [x] Null out existing closed_at values where that is true
- [x] Write data integrity check for nightly job

[2019-09-18 15:47] jimruggiero commented on #11982
Per Lauren S on 9/18 via email, AMO is good with these changes.

[2019-09-18 16:21] pkarman opened #12158 "Mask more exceptions from Sentry -> Slack alerts"
* ClaimReview::NotYetProcessed (filter in lambda code)
* BGS::ShareError (needs investigation)
* VBMS::HTTPError (needs investigation)
* HTTPClient::ConnectTimeoutError (update bgs and/or vbms libs to recognize this as `.ignorable?`)

Create a more specific error class for BGS::ShareError that are ignorable. Same for VBMS::HTTPError if that seems right after investigation.

Examples:
https://sentr

[2019-09-18 18:00] leikkisa opened #12159 "Create more useful decision text for decisions on appeals"
### Story
When board users make decisions on issues on appeal, the decision text should include more information, potentially including:
- The issue
- The disposition
- Effective date

### Context
https://dsva.slack.com/archives/CFBLH2LR4/p1568822838025500

[2019-09-18 18:55] leikkisa commented on #12158
I want to ask more about masking ShareError and VBMS::HTTPError, I think those might be useful to keep.

[2019-09-18 19:46] pkarman opened #12160 "Log CaseflowJob to DataDog after every run"
We need some proactive alarms when our jobs stop running.

Let's start by logging each successful job run to DataDog.

## AC

- [ ] Log each CaseflowJob after `perform` to datadog
- [ ] Create DD monitor to alert us if N number of jobs per timeframe are *not* run.

[2019-09-18 20:18] pkarman commented on #12110
I think we're proactive enough on this now to close.

[2019-09-18 20:18] #12110 closed

[2019-09-18 20:20] #9106 closed

[2019-09-18 20:58] pkarman commented on #12158
see #12103

[2019-09-18 20:59] pkarman commented on #12158
see #11482

[2019-09-18 22:08] pkarman commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/85379

[code]

[2019-09-18 22:10] pkarman commented on #12157
fixed manually in prod
[code]

[2019-09-18 22:31] jimruggiero commented on #11256
@geronimoramos Based on our earlier conversation should we move this back into Design/In Progress?

[2019-09-18 22:39] laurjpeterson commented on #11669
User research in September 2019 recommends that judges do not select issues for new decisions after they've granted motions to vacate. Instead, this is a decision drafting attorney's task, and we should use what we've learned from creating 930 EPs and what we've already built for correcting issues on appeal to inform new story tickets.

[2019-09-18 23:19] jimruggiero opened #12162 "Intake: Attorney/Agent Fee Tech Spec"
BVA and VBA require Caseflow to support the ability for Attorneys and Agents to appeal the fee associated with granted benefits to those they represent. All detail for these appeals must be hidden from veterans, other claimants and appellants. This requires a review of intake workflows to determine and document all touch points for where information related to these appeals or the appeals themselv

[2019-09-19 01:25] leikkisa commented on #12158
I looked into the "no records returned" for the BGSShareError, and we have a different file number and SSN stored for that participant ID :-/.  I think this is related to the great de-duping effort happening externally, but do still think it's useful to get alerted to this with the BGSShareError rather than silencing it.

[2019-09-19 01:52] leikkisa commented on #12158
Here's one for the VBMS::HTTPError that I don't think we should ignore:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5436/events/471146/

[2019-09-19 02:24] leikkisa opened #12165 "Establish claim error - share exception in findFiduciary"
### Story
We are getting this from VBMS during claim establishment:
ShareException thrown in findFiduciary for FileNumber

### Impacted reviews
Review type and ID | INC | YourIT Link
--- | --- | ---
SC 133737 | INC7707288 | https://yourit.va.gov/va?id=ticket&table=incident&sys_id=23332128db58c8d4ceac76740f96191b
SC 135482 | INC7707288 | https://yourit.va.gov/va?id=ticket&table=incident&sys_id=2333

[2019-09-19 02:39] leikkisa opened #12166 "BGS::ShareError No Records Returned"
## Description
We're getting alerts for BGS::ShareError: No records returned, when syncing an established end product. This may be related to de-duping veteran records. When I looked up the veteran by participant ID, I got a different record for them. The current filenumber and SSN don't match, and no longer return a veteran record.

- [ ] Add an error class to ruby-bgs so that this doesn't come t

[2019-09-19 09:15] pkarman commented on #7911
The VACOLS encoding issue is solved. I believe the only piece remaining here is verifying whether BGS supports UTF-8 and providing some work around if it does not. See the VACOLS solution in #11563 for one pattern to follow.

[2019-09-19 09:55] pkarman opened #12167 "[Tech Spec] Task event history"
## Problem

The Bat team often finds itself trying to debug the state of an Appeal or LegacyAppeal, whether it's part of [Automatic Case Distribution](#11713) or in response to some support request. While at any given moment we can see the state of an Appeal through viewing the structure of its tasks, we cannot easily see the chronology of how the tasks arrived at their current state: who triggere

[2019-09-19 10:01] #12157 closed

[2019-09-19 10:22] pkarman commented on #11093
fixed in #11418

[2019-09-19 10:22] #11093 closed

[2019-09-19 10:28] pkarman commented on #11174
BGS doesn't always return PID so we can't require it.

[2019-09-19 10:28] #11174 closed

[2019-09-19 13:39] hschallhorn commented on #12021
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Could be an easy fix if testing is straightforward.

[2019-09-19 13:46] hschallhorn commented on #12037
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Purely preventative. This has not actually happened. Scope of the ticket is pretty straightforward. Estimating at a three if we attempt to generalize this to the base model early. Also is a different way to restrict parent/child relationships.

[2019-09-19 13:53] hschallhorn commented on #12055
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Could be a one as this sounds pretty simple. Investigation could take quite a bit of time to track down why this is happening (as a few hours have already been dedicated to investigating this).

[2019-09-19 13:57] pkarman opened #12168 "Research: "Withdraw hearing" -> "Cancel hearing request" label change"
discussion: https://dsva.slack.com/archives/CHX8FMP28/p1568822584039000

https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/constants/TASK_ACTIONS.json#L224

Proposed language change would help clarify for users. UX research needed.

[2019-09-19 14:03] hschallhorn commented on #12063
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

We're 180 lines over the limit, should be an easy refactor or extraction of functions into a new file. Estimating at a 2 as this isn't exactly a trivial fix.

[2019-09-19 14:10] hschallhorn commented on #12067
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Seems like a simple fix, a few lines of code in the places we update the tab/sorting/filtering. We also have a `requestUrl()` function that will create the URL we want to display in the address bar. Could be a heavier lift as this will need to be done in multiple functions. Testing and ensuring

[2019-09-19 14:12] hschallhorn commented on #12082
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Could be a two based on past heartbreak with filtering and sorting flakes. Should be a simple update from an AND to an OR and a quick test.

[2019-09-19 14:18] hschallhorn commented on #12088
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Believe this could be a 1 if we simply aren't updating the total number of tasks and pages on the front end when we get tasks from the pagination API. Could be a 3 if the above reasons are not the cause of the problem.

[2019-09-19 14:21] hschallhorn commented on #12070
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Simple migration. Not a 0 though. Sorry.

[2019-09-19 14:24] kevmo commented on #12111
Possibly helpful references:
example SQL: https://github.com/department-of-veterans-affairs/caseflow/pull/12065

https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/jobs/data_integrity_checks_job.rb

[2019-09-19 14:29] hschallhorn commented on #12111
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Could be a one as we already have the data integrity check written and testing is straightforward. Replicating behavior from one environment to another could introduce unseen bugs.

[2019-09-19 14:31] hschallhorn commented on #12113
TODO: Kick this to design to ask them why we don't use full names everywhere.

[2019-09-19 14:44] hschallhorn commented on #12129
Kick this to product to discuss with users if:
- [ ] Blank is being displayed to users at all
- [ ] What they believe it means
- [ ] If just not displaying that filter is an acceptable fix (?)

TODO: Write ticket to create an alert to notify us when something is blank in the cache_appeals_attributes table when we wouldn't expect it to be.

[2019-09-19 14:50] #11906 closed

[2019-09-19 14:50] #11908 closed

[2019-09-19 15:05] pshahVA commented on #11158
@lomaxap. Do you think this ticket is too big. My feeling is that if the email integration, and pexip stuff is already done in another ticket, then this ticket is probably ok, but I wanted your opinion.  (it just may take the developer the entire sprint)

[2019-09-19 15:19] carodew commented on #11668
Per email thread, Jennifer seems ok with the survey (or at least has not objected) and will need to get it approved by leadership. Since this seems out of our hands for now, shall we mark this issue done but keep the epic open?

[2019-09-19 15:25] ferristseng commented on #12059
I think this actually might not require any changes, but the refactors I made might still be useful

[2019-09-19 16:25] pshahVA opened #12170 "Convert a Virtual Hearing to a Video Hearing"
As a hearing coordinator, I need to be able to convert a virtual hearing back to a video hearing.
### AC

- [ ] Caseflow docket for that hearing day indicates that the hearing is now a video hearing.
- [ ] The video conference link is removed
- [ ] Caseflow would have created a reservation in the VH system, this needs to be deleted.
- [ ] An email would be sent to the judge, POA, and Veteran cance

[2019-09-19 16:30] jimruggiero commented on #11554
@Sjones352 can you add a screenshot of the final version of this message to this ticket?

[2019-09-19 16:31] jimruggiero commented on #11623
@Sjones352 can you add a screenshot to this ticket?

[2019-09-19 16:33] jimruggiero commented on #11835
@Sjones352 can you add a screen shot in the comments for this one?

[2019-09-19 16:33] Sjones352 commented on #11554
With cleared Ep
<img width="1186" alt="Screen Shot 2019-09-11 at 3 50 32 PM" src="https://user-images.githubusercontent.com/23080951/64736836-94ae4d00-d4b9-11e9-96f5-3b031deec376.png">

Without cleared Ep
<img width="984" alt="Screen Shot 2019-09-11 at 3 59 08 PM" src="https://user-images.githubusercontent.com/23080951/64736933-c58e8200-d4b9-11e9-8303-d9bb5c645127.png">

[2019-09-19 16:35] pshahVA opened #12171 "Change excel printout of schedule to include the Veteran name and claim number"
User Story:
When a hearings branch user exports the schedule to excel, they would like to see the veterans that are listed on each docket along with the vet ID.

AC
The spreadsheet will include the schedule as well as the veteran ID.

Release notes
Yes

Feature Flag:
No

Other notes:
Please see current functionality
Explanation to client:
I believe I found the functionality that was referred to to

[2019-09-19 16:38] Sjones352 commented on #11623
<img width="1014" alt="Screen Shot 2019-09-11 at 10 30 44 AM" src="https://user-images.githubusercontent.com/23080951/64706862-2e590880-d480-11e9-93a0-ead07e917d7d.png">

[2019-09-19 16:40] Sjones352 commented on #11835
Connects  #11835
<img width="1076" alt="Screen Shot 2019-08-27 at 12 18 13 AM" src="https://user-images.githubusercontent.com/23080951/63778991-d634da80-c8b3-11e9-8ff9-50d16c40c607.png">

[2019-09-19 16:44] laurjpeterson commented on #11668
Yes, that sounds right

[2019-09-19 16:44] #11668 closed

[2019-09-19 16:45] hschallhorn commented on #12113
@carodew or design in general, Any insight on this?

We display assigner's name in queue as the first full word of their full name and the last full word of their full name (presumably to cut out their middle names). Is there any reason we don't just use their full name? A variation of this is shown in case details, where we only show the first letter of the assigner's first name, along with the l

[2019-09-19 16:57] leikkisa commented on #7961
Closing as dupe of https://github.com/department-of-veterans-affairs/caseflow/issues/7734

[2019-09-19 16:57] #7961 closed

[2019-09-19 17:37] #12080 closed

[2019-09-19 17:57] jimruggiero commented on #9925
Tagging as an investigation ticket. Peter may have fixed this, but need to confirm - Sally to ping him and circle back here after.

[2019-09-19 18:08] hschallhorn opened #12173 "Reassign ColocatedTasks assigned to non VLJ support team members"
VSCLHALL and ADJEWILH were added to the Colocated org in Caseflow although they do not work for the VLJ support team at the board. This has left them with automatically assigned `ColocatedTask`s due to the fact that tasks assigned to the colocated org get automatically assigned to anyone in the organization.

## Blocked By
- [x] These non team members should be removed from the Colocated org in th

[2019-09-19 18:26] lomky opened #12175 "[Tech Spec] Special Case Movement: Acting on Behalf of Others"
## Problem
In our user space it is not uncommon for an action to be Officially done by a person, but actually done by a person acting on their behalf. The most common use case for this is the Deputy Vice Chairman (DVC) judges and their team.

The need is for one or more users to be able to act on behalf of one or more other users. My current understanding of the space is the ratio is most often on

[2019-09-19 19:08] carodew commented on #12113
Yeah that strikes me as a pretty peculiar way of displaying names. The only UI consideration I can think of is length of name vs. space in the interface. I imagine those questions were considered when these interface elements were designed, but I don't have the historical context to know what those decisions were based on. My gut is to agree – that we should specifically use the last name in the d

[2019-09-19 19:11] carodew commented on #12113
Oh, also for relatively brief questions (Drive-by Opinions™, as it were) I'm happy to just be pinged and comment without moving pipelines, but didn't realize that the question in Slack was a relatively small ask. But don't worry too much about whether or not a thing should be moved, we can always fix it later.

[2019-09-19 19:19] hschallhorn commented on #12113
30 characters is the longest full name in our system, which is "DONOTDELETE CASEFLOWSYSTEMACCT".  The second longest (and an actual person) is 28 characters.

Naming conventions were also brought up when we talked about this ticket, which obviously gave us more reason to want to display full names.

[2019-09-19 19:22] hschallhorn commented on #12113
Annnnnd how this would look in these two instances
<img width="1094" alt="Screen Shot 2019-09-19 at 3 21 36 PM" src="https://user-images.githubusercontent.com/45575454/65274424-40c2ea00-daf1-11e9-9e4e-23d18d65b439.png">
<img width="955" alt="Screen Shot 2019-09-19 at 3 21 47 PM" src="https://user-images.githubusercontent.com/45575454/65274425-428cad80-daf1-11e9-8063-d6e9477e663d.png">

[2019-09-19 19:44] carodew commented on #12113
Basically it just wraps, which I think is fine for most instances.

I tested a 30 character name in the `assign to` dropdown in Queue, which got a little weird at narrower widths:

![image](https://user-images.githubusercontent.com/10144074/65274713-fd1cb000-daf1-11e9-878b-93ab679bc466.png)

In most other places, it seems to just wrap. I haven't checked on all the places it could appear in the UI.

[2019-09-19 20:23] pshahVA opened #12176 "Allow Hearings Coordinators to sort by POI"
## User Story:
When a hearings coordinator schedules a hearing, they want be able to filter by POA (Power of attorney)
## AC
Veterans can be filtered by their POA.

Release notes
Yes

## Feature Flag:
No

## Other notes:

[2019-09-19 20:41] pkarman commented on #12113
FWIW I believe the SAML payload we get on PIV log in has separate fields for first and last name, and we just happen to be truncating them. If it would help, we could investigate what it would take to actually store the separate name fields in our User table to make this simpler.

[2019-09-19 21:10] #12074 closed

[2019-09-19 23:55] leikkisa opened #12177 "Assign view - do not show "Loading..." if there are no options"
### Story
When a judge was in their queue in the "assign" view, they could not assign tasks to attorneys.  In the detail view, they could reassign to a judge.

This specific judge didn't have any attorneys on their team.  It would be great if there's a way to indicate to the judge that there are no users on their team instead of "Loading" which could be misleading.

![image (3).png](https://images

[2019-09-20 14:12] carodew commented on #12113
Yeah, IDK how hard it would be and it does seem like a small change, but it may also be worthwhile since 1) it seems like the way names are currently displayed could create confusion while assigning things, which could have small but existent impacts on timeliness, and 2) people's sense of identity are closely tied up with their names and therefore emotions can run strong when their name is wrong,

[2019-09-20 14:31] lomaxap commented on #12016
thanks for pushing this forward @pshahVA !

[2019-09-20 14:31] #12016 closed

[2019-09-20 15:45] pshahVA commented on #12147
@lomaxap confirmed that we have this.

[2019-09-20 15:45] #12147 closed

[2019-09-20 17:17] #8437 closed

[2019-09-20 18:12] pshahVA opened #12182 "Integrate Email Service with Caseflow"
### User Story:
The caseflow system needs to be able to access the email functionality and build the appropriate methods to call the AWS lambda function.

## Release notes
n/a

## Feature flag
no
## Permissions:
n/a

## Design ticket with screen shots:

[2019-09-20 19:15] pkarman commented on #12182
which email service is this? AWS SES? https://docs.aws.amazon.com/govcloud-us/latest/UserGuide/setting-up-ses.html or some VA service?

[2019-09-20 20:32] pkarman commented on #7736
Example to find Veteran records with same participant_id and different file_number:
[code]
(just returns first 5)

[2019-09-20 21:12] pkarman commented on #9793
Taking this one on as it will help @rajinderbhanot work on ETL.

[2019-09-20 22:27] jimruggiero commented on #11193
@leikkisa can you add a screen shot or gif to this ticket when it's ready to be merged?

[2019-09-20 22:28] jimruggiero commented on #11984
@leikkisa can you add a screen shot or gif to this ticket when it's ready to be merged (if it differs from the one Anya included above)?

[2019-09-20 23:46] leikkisa commented on #11193
@jimruggiero sure, I can add a screenshot. I think I'll add one of the confirmation screen, because this ticket is all backend.

I am going to keep this in progress until we hear more about some missing dta correction pension codes.

[2019-09-20 23:52] leikkisa commented on #11193
![Screen Shot 2019-09-20 at 4.52.00 PM.png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/03cc355a-9a73-4353-97b1-1a27001064d7)

[2019-09-21 00:03] leikkisa opened #12186 "For DTA Supplemental claims, only send the review's decision issues in contestable issues"
### Story
For DTA Supplemental claims, request issues are automatically created based on the DTA'd decisions.  We want to allow users to edit the contention text on those automatically created request issues, but we do not want to allow them to add or remove issues.  However, in the case where a user is editing a DTA claim to make a correction on one of the decisions for that review, we want the u

[2019-09-22 18:16] #11506 closed

[2019-09-23 13:17] laurjpeterson commented on #11669
Reopening, because we are in fact building a screen for this.

[2019-09-23 13:39] hschallhorn commented on #7556
## [Little Rock](https://en.wikipedia.org/wiki/Little_Rock_Nine#Armed_escort) sprint (Sept 23 - Oct 6) engineering priorities

@kevmo @lomky @lowellrex, sprint priorities for this sprint!

### Pagination (epic #10470)
1. Correctly label DecisionReviewTasks in paginated queue filter dropdowns #11868
1. Paginated filtering still shows additional pages #12088

### Queue table view
1. Improve responsi

[2019-09-23 15:34] pshahVA commented on #12171
closed after talking to DVC McLeod

[2019-09-23 16:37] #12100 closed

[2019-09-23 16:37] #12097 closed

[2019-09-23 16:37] #12098 closed

[2019-09-23 16:37] #12099 closed

[2019-09-23 17:01] pkarman commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/85721

[code]

[2019-09-23 17:30] #9793 closed

[2019-09-23 17:30] #12070 closed

[2019-09-23 18:01] carodew commented on #11256
Noting the accessibility issues around the click to copy functionality elsewhere in Caseflow: https://github.com/department-of-veterans-affairs/appeals-team/issues/1195

[2019-09-23 18:41] laurjpeterson commented on #11849
@tomas-nava why did you reopen this?

[2019-09-23 18:46] laurjpeterson commented on #11311
This is done!

[2019-09-23 18:46] #11311 closed

[2019-09-23 18:51] laurjpeterson commented on #11631
Next step is to create engineering tickets that spawn from this tech spec cc: @hschallhorn

Proposed user flow: On Caseflow team management page, team admin searches for user and then marks them inactive.

[2019-09-23 18:51] #11631 closed

[2019-09-23 20:20] pshahVA opened #12188 "Clean virtual hearings room after hearing is finished"
### User Story:
The Caseflow system needs to clean up hearings after the virtual hearing has been conducted.
Description:
After the virtual hearing date has passed, the hearing needs to be removed from the pexip system.  The virtual hearings conference rooms do not "expire" on their own.

## AC:
1.  job will clean up all virtual hearings the day after they were scheduled to be held.
2. The job is

[2019-09-23 22:46] tomas-nava commented on #11849
I don't think I intended to! Closing again.

[2019-09-23 22:46] #11849 closed

[2019-09-24 15:24] edmangimelli opened #12194 "Appeals API - Issues endpoint"
## Update (10/8)

Peter, Philip, and I had a video conference to discuss this. Sending back the ContestableIssue in the shape that is currently being received by the Intake UI was agreed upon by all parties as the correct way to go. Afterwards, Kelly Lein was updated and my misunderstanding about returning all issues (contestable or not) was cleared up --that was _not_ a requirement of this endpoi

[2019-09-24 18:56] yoomlam commented on #12099
Useful ARIA usage: https://developer.paciellogroup.com/blog/2018/09/describing-aria-describedby/

Solution:
1. adding `aria-label` will cause AT to read the atttribute value.  Using `aria-labelledby="vIdLabel"` will only read "Veteran ID"
2. adding `describedby`will cause AT to read the referenced element's content (after `aria-label` is read).

[code]

[2019-09-24 20:49] laurjpeterson commented on #10170
@lowellrex @hschallhorn @stwards11 - i see this one is still in current sprint column, but wonder if this ticket should actually be closed given the work already done to improve response times. should this ticket be closed, and if there is any additional work to be done, we create other tickets for it?

[2019-09-24 20:49] laurjpeterson commented on #7102
@lowellrex i moved this to backlog, but, should it actually be closed?

[2019-09-24 22:22] pkarman commented on #11840
New BGS endpoint at

[code]

but currently returning SOAP error.

[2019-09-25 01:48] laurjpeterson opened #12201 "Search | Allow search by Veteran name"
Users need to be able to search for AMA and legacy appeals by Veteran name. Sometimes, file number, SSN, and docket number are not available for users.

[2019-09-25 02:10] laurjpeterson opened #12202 "Caseflow feedback from Decision Management Branch (Board Dispatch)"
Corey Benjamin, Decision Management Branch Chief, emailed these queue enhancement requests on Tuesday, 9/3.

## Layouts of Caseflow Dispatch:
- Veteran’s POA - Placing the Veteran’s POA at the top of the page would be helpful as this is an area that can cause the appeal to not be dispatched.  We want to spot this immediately in the dispatching process.
- Veteran address – Would like for this to be

[2019-09-25 14:21] hschallhorn commented on #12094
@alisan16 am I correct in assuming that the acceptance criteria on this ticket is that
- [ ] The user can tab through each of the table headers
- [ ] The table headers are read by the screen reader as just the column name (without the "filter by", unless the filter button is selected)

[2019-09-25 14:57] lowellrex commented on #7102
I think we can close this puppy out!

[2019-09-25 14:57] #7102 closed

[2019-09-25 15:25] #12121 closed

[2019-09-25 15:30] alisan16 commented on #12094
@hschallhorn Yes, and that the "filter by" buttons can also be accessed by the user through tabbing and are read as "filter by column_name"

[2019-09-25 15:30] pkarman opened #12208 "Jobs Slack messages should indicate actions to be taken"
We currently send our job Slack messages to #appeals-job-alerts channel.

Some are FYI only, and should be prefixed with `[INFO]` and/or sent to DataDog instead.

Some require action, and should be prefixed with `[ERROR]` with specific action steps to be taken.

This should help Bat Team respond.

[2019-09-25 15:50] yoomlam commented on #12094
Ok, good. That is the behavior after these commits.

[2019-09-25 16:10] pkarman commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/85930

[code]

seems related to https://github.com/department-of-veterans-affairs/caseflow/issues/10516#issuecomment-534190476

[2019-09-25 16:26] yoomlam commented on #12094
Here's the behavior I observe:

When testing on the master branch (I just pulled it), VO reads col name. I move right, VO reads col name (again). I move right, VO reads “Filter by <COL>“, skipping the “sort by” element group.

After my changes, VO reads the col name. When I move to the right, VO reads “Sort by <COL>“. When I move the right again, VO reads “Filter by <COL>“. This seems reasonable t

[2019-09-25 17:32] hschallhorn opened #12209 "Create an alert for nil values in the cache_appeals_attributes table"
As discussed when estimating #12129, we don't expect any values in `cache_appeals_attributes` to be nil (other than things such as vacols_id for ama appeals). This alert should ignore appeals with no open tasks.

## AC
- [ ] Alert notifies #queue-app-alerts slack channel about nil values in  in the `cache_appeals_attributes` table
- [ ]  Alert should include details about how to fix next.

[2019-09-25 17:44] jcq commented on #11252
This is complete

[2019-09-25 17:52] leikkisa opened #12210 "Improve messaging on edit when review is not yet established"
### Story
A user went to case search, and clicked on the link that brings them to the edit page.  The review was still being established.  Currently this brings them to a "Something went wrong" page, with a note that the review is not yet established and a link to the job page.  This is the currently expected behavior, but the messaging is misleading and results in support tickets.

### Acceptance

[2019-09-25 17:52] hschallhorn opened #12211 "Add task action "Death Dismissal" to LegacyAppeals"
Specifically for FNOD - Deceased veterans are being scheduled hearings (receiving letters, taking up hearing spots for other vets). As VACOLS users are no longer able to move cases out of caseflow with vacols, we need to give them this option within the caseflow application.
Selecting this action will change the case's location in VACOLS to location 66 and cancel all open tasks for judge to start

[2019-09-25 17:52] jcq commented on #10325
This also connects to https://github.com/department-of-veterans-affairs/caseflow/issues/11253

The judge "Address Motion to Vacate" portion of this is complete, connected via PRs:

- https://github.com/department-of-veterans-affairs/caseflow/pull/12064
- https://github.com/department-of-veterans-affairs/caseflow/pull/12109

There is additional work that needs to be ticketed and done for handling `

[2019-09-25 17:52] hschallhorn commented on #12211
@laurjpeterson Anything to add on this?

[2019-09-25 17:52] leikkisa commented on #12210
This is the current screen:
![image (5).png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/71ea3caa-b7f3-472b-9a0f-277515f80311)

[2019-09-25 17:53] jcq commented on #11253
This is complete

[2019-09-25 18:07] hschallhorn opened #12212 "Create UI for marking users inactive"
Spun out of #11631. Team admins need a way to mark users inactive so they do not have tasks assigned to them.

Create a new endpoint to manage all users. Users who can access this endpoint should be limited to members of the BVA admin team. Add option in users_controller to fetch all users (this should include users of all statuses). Add endpoint to users_controller (not within organizations/users

[2019-09-25 19:54] hschallhorn commented on #12209
[See this guide](https://github.com/department-of-veterans-affairs/appeals-deployment/blob/master/docs/setting-up-a-caseflow-cron-job.md)

[2019-09-25 20:56] laurjpeterson commented on #12211
Looks good to me! Fixed minor wording in main entry.

[2019-09-25 20:59] pkarman opened #12214 "[Tech Spec] Async job notes"
## Problem

When async claim establishment jobs (for HLR, SC and RequestIssueUpdate) fail with errors, we usually need to create incident tickets in YourIT. We need a reliable way of communicating that a stuck async job is being addressed in an upstream system, so that anyone looking at the job in Caseflow can know that (a) someone has seen the problem, (b) they have created a ticket and (c) what

[2019-09-25 21:01] ferristseng opened #12215 "Legacy Cases being moved back to Location 55"
https://dsva.slack.com/archives/CHX8FMP28/p1569353446139100

Investigate this further. @lomaxap suggested it could be caused by the `hearing_disposition_change_job`.

I noticed that one of the tasks seemed like it was modified by the job because the `updated_at` timestamp was a few minutes after the job ran:

[code]

Every `AssignHearingDispositionTask` for the appeals mentioned in the Slack messa

[2019-09-25 21:04] hschallhorn opened #12216 "Remove use_task_pages_api feature toggle"
Since [pagination is turned on for all users](https://github.com/department-of-veterans-affairs/appeals-deployment/pull/2224), we can remove tests that require pagination be enabled, checks that pagination is enabled for a user, and any other mention of the `use_task_pages_api` feature toggle

## AC
- [ ] All mention of `use_task_pages_api` feature toggle are removed

[2019-09-25 21:20] leikkisa commented on #12214
This looks great!

Should we make "notes" `t.text`, in case people want to write some context in with the URLs?

I think access to that page is partially restricted now, my guess on reasoning was that the error can contain veteran information and not everyone can see all veterans.  Should we open it up?

[2019-09-25 21:24] yoomlam opened #12217 "Fix labels with a parenthetical pluralization"
**Goal**: For accessibility, text should be clearly communicated when read by a screen reader.
**Problem**: Words with parenthetical pluralization are not read correctly by MacOS's VoiceOver screen reader.

**Example**: As a resulting of investigating #12094, a column name in a table header may have a pluralization in parenthesis, such as "Task(s)". MacOS's VoiceOver screen reader reads it as “Tas

[2019-09-25 21:26] pkarman commented on #11907
Based on conversations with Jane C, Lauren S and Fred S, we think the following messaging pattern will work:

* No messaging sent to `Admin Intake` supervisors at this point. Only the Intake user will receive messages.
* If an async claim review establishment is still failing after 24 hours, a message will be sent to the intake user. The content of the message will depend on whether an incident ti

[2019-09-25 21:42] pkarman commented on #12214
in practice, an AR `string` becomes a postgresql `varchar` which has a limit of 1G. But that's harder to see in a db migration, where we seem to use `text` to mean "a lot of bytes".

See https://stackoverflow.com/questions/4848964/postgresql-difference-between-text-and-varchar-character-varying

[2019-09-25 21:42] leikkisa opened #12218 "Bump Redux"
### Description
Upgrade Redux, and related fixes

[2019-09-25 21:52] pkarman commented on #12214
I don't want to conflate authorization rules for the job page with the notes. That's why I phrased it as "anyone who can view". Right now it's `Global Admin`, `Admin Intake` and the specific user who created each Intake job.

[2019-09-25 23:42] jcq commented on #11256
Just to be clear, is this new nomenclature and flow replacing the existing "Notify OGC of Pulac-Cerullo" action?

[2019-09-25 23:51] geronimoramos commented on #11256
@jcq correct, "Notify Litigation Support of CAVC jurisdictional conflict" will copy-wise replace "Notify OGC of Pulac-Cerullo" because it is incorrect nomenclature. The user is not notifying OGC, it is a Lit Support lead who communicates with OGC.

I don't believe it will replace the action itself that already exists. "Notify Lit Support" will assign the task back to a Lit Support Lead/Admin which

[2019-09-26 15:42] msj0nes commented on #12168
## Amplifying the need to get the verbiage changed
Conversation with Hearing team member who submitted 3 tickets for one veteran on an action that she can complete herself but was concerned about 'withdrawing' a hearing already held thinking it would edit that hearing detail.

![image](https://user-images.githubusercontent.com/41164406/65703204-605a9500-e052-11e9-8d83-d98a365e6787.png)

[2019-09-26 16:27] pkarman commented on #11840
Ongoing list of rating issues still missing from intake screen: https://github.com/department-of-veterans-affairs/appeals-support/issues/5319#issuecomment-526672743

[2019-09-26 16:47] pkarman opened #12225 "Stuck Request Issues on decision issue sync"
`RequestIssue.potentially_stuck.count` is currently over 16k records, dating back to AMA day. It grows every day.

We need to identify the various categories of failure to sync decision issues and systematically resolve them. This will likely involve a combination of manually backfilling data and identifying why rating issues do not seem to be created for cleared end products that we are expecting

[2019-09-26 22:30] pkarman commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/86254

[code]

[2019-09-26 23:54] leikkisa commented on #11193
I am moving this issue over, because the "missing EP codes" weren't in the original requirements for VBMS, and I think it might take a while to resolve that. I'll open a new (blocked) issue to handle that once we get some answers on it.

[2019-09-27 01:48] leikkisa opened #12230 "930 Enhancement - show correction type for issues"
### Story
When a user is creating a 930 claim, display the correction type selected for each issue.  For example, "This issue will be added to a 930 local quality error EP for correction".

This screenshot shows what is currently there:
![Screen Shot 2019-09-26 at 7.09.33 PM.png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/198a1497-dc81-4467-9b6e-709a129196b4)

### Context
https:

[2019-09-27 02:20] leikkisa opened #12231 "Add classification code when creating contentions"
### Story
After contentions are created in VBMS, users need to manually add a classification code.  The classification code is related to the medical condition.  We've received multiple requests to pre-populate the classification code.

### Investigation
We don't know if this is something we can do yet.  First we need to understand what the classification codes look like, and if there's a way for

[2019-09-27 04:55] edmangimelli commented on #12194
## Questions:

From DecisionReview's `ui_hash` method (shown below for reference),
[code]
it seemed to me that the following fields were important for populating the issues in the Intake UI:
[code]
**Are `requestIssues` and `activeNonratingRequestIssues` relevant to intaking a new DecisionReview?** These can't be contested, correct? That is, besides noting a duplicate/correction/ineligibility, Req

[2019-09-27 07:53] pkarman commented on #12194
You are correct. The `contestableIssuesByDate` are the ones that populate the Add Issue modal screen. Those are made up of decision_issues from Caseflow, and rating issues and rating decisions from BGS. Everything else is used for client-side validation.

`legacyAppeals` are legacy VACOLS issues that may be opted in to the new AMA decision review based on whether the Veteran has checked the `legac

[2019-09-27 13:00] pkarman commented on #11787
I got notice that SR-002150 was closed as resolved.

As of this morning we are still receiving the error though:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6642/events/485188/

[2019-09-27 13:16] pkarman opened #12236 "BVA progress SQL shows "dispatched" instead of "on hold""
Example where a `BvaDispatchTask` is completed but subsequent tasks are assigned.

[code]

[2019-09-27 15:50] ferristseng commented on #12215
The appeals also are all have a disposition of "Dismissed, Withdrawn" and status of "Complete":

[code]

I think the job can be modified to skip tasks where the appeal is closed to prevent this from happening

[2019-09-27 18:09] pkarman opened #12237 "Audit *_views tables to determine best storage options"
We are accruing millions of db records in these tables:

* api_views
* appeals_views
* document_views
* hearing_views

Investigate whether these tables are still necessary and what need(s) they are helping to fulfill. If the original need was reporting statistics, perhaps some other data storage would be appropriate (e.g. DataDog, Google Analytics, separate RDS instance).

[2019-09-27 18:10] pkarman commented on #12167
verified this is working in production as deployed.

[2019-09-27 18:10] #12167 closed

[2019-09-27 18:10] pkarman commented on #7254
Implemented by #12167

[2019-09-27 18:10] #7254 closed

[2019-09-27 18:25] pkarman opened #12238 "Dispatched cases still open"
Investigation and data clean up required.

https://github.com/department-of-veterans-affairs/dsva-vacols/issues/78#issuecomment-534651120

The section "Was distributed to a judge, now already dispatched from the Board" in the link above needs:

* [x] data integrity check(s) to proactively catch these in the future
* [x] investigate the existing cases to determine what manual clean up is necessary

[2019-09-27 18:27] pkarman commented on #12238
https://github.com/department-of-veterans-affairs/caseflow/pull/12204 may help address

[2019-09-27 18:38] pkarman commented on #11198
subsumed by #11994

[2019-09-27 18:38] #11198 closed

[2019-09-27 18:49] leikkisa opened #12239 "Edit confirmation page bug"
### Story
This is coming from a batteam support request.

A claim review had an unidentified issue on it, which was on a rating EP. The user removed that issue, and added an ineligible issue.  The EP got canceled, but the confirmation page shows that it was updated instead of removed.

For this issue, please double check that the ineligibility reason is correct on the edit page, and the confirmati

[2019-09-27 19:16] pkarman commented on #11840
As part of this effort we should write a report showing the number of unidentified issues vs rating decision issues week-over-week. That should illustrate whether we are making any progress.

[2019-09-27 20:03] aroltsch commented on #12237
1. A PR that adds `appeal_views` used by Reader: https://github.com/department-of-veterans-affairs/caseflow/pull/2349/files#diff-e952e317643190646a1a08902bd13111R6
1. A PR that adds `api_views` to record every time the API is accessed, record the VBMS id, API key, and time: https://github.com/department-of-veterans-affairs/caseflow/pull/4540
1. A PR that adds `document_views` to mark opened docume

[2019-09-27 20:20] nicholer commented on #11508
@pshahVA @lomaxap I was trying to work through the scenario of when a virtual hearing disposition changes and Caseflow sends an email if it's been cancelled or postponed.

I could use more info about the usual workflow for hearing disposition changes. I've read through some tickets about nightly jobs and looked at demo, but I'm still uncertain of (1) when an email notification should be sent to th

[2019-09-27 21:10] alisan16 opened #12241 "Certification: On Matching Dates Page, invisible cancel button shares focus with the Continue or Refresh buttons"
On the Matching Dates page an invisible cancel button and the Continue button both have a visual indication of focus. Only one element should have a visual indication of focus (the dotted line or the black outline). (New: 08/22/2019)

<img width="754" alt="Screen Shot 2019-09-27 at 5 08 43 PM" src="https://user-images.githubusercontent.com/1198106/65802433-a5152780-e149-11e9-91b3-b7ae588ae053.png"

[2019-09-27 21:13] alisan16 opened #12242 "Navigation bar: User dropdown menu not accessible via tabbing"
In all applications the user name in the upper right hand corner is not keyboard accessible (New: 9/5/2019)  below is the image of it being clicked on via mouse.

<img width="1094" alt="Screen Shot 2019-09-27 at 5 12 33 PM" src="https://user-images.githubusercontent.com/1198106/65802555-05a46480-e14a-11e9-9a4f-25c9b6822935.png">

[2019-09-27 21:14] alisan16 opened #12243 "Reader: When table is sorted, assistive technology should report that it is sorted"
When sort functions are applied such as Receipt Date and document Type the sort that is applied is not read by assistive technology programs. These sorts should read as content updated for assistive technology users. (New: 08/27/2019) see above same area the column header should read something link “document type select button to sort” then once sorted it should read something like “document type

[2019-09-27 21:16] alisan16 opened #12244 "Reader: Table being read as paragraphs and lists instead of a table"
The following occurs with the Reader application: Data displayed visually on the page beginning with the column headers: Categories, Receipt Date, Document Type, Issue Tags and Comments should be coded as a table for assistive technology users. This text content is read as paragraph text and links. Assistive technology users cannot understand the information and structure that is presented visuall

[2019-09-27 21:19] alisan16 opened #12245 "Reader Document Viewer: Page loses visual indication of focus after tabbing through `Search cases`"
When a document is selected to be displayed in the reader, there is no visual indication of focus after the Search Text element. (New: 08/27/2019) I used my tool to show the focus in yellow below however you cannot visually see this focus without the tool on.  This loss of focus happens for seven tab stops.

<img width="1310" alt="Screen Shot 2019-09-27 at 5 18 59 PM" src="https://user-images.gith

[2019-09-27 21:21] alisan16 opened #12246 "Dispatch > Work Assignments > View Dashboard: Mouseover numbers not accessible"
On the View Dashboard page under Work Assignments, the elements Hourly, Daily, Weekly and Monthly have mouse over functions to review and reveal data per hour for 24 hours. None of this information can be accessed with a keyboard or read by assistive technology programs. This information can be found on all four tabs displayed visually. (New: 08/27/2019) when with the mouse in the boxes “all” “ful

[2019-09-27 21:57] ferristseng opened #12247 "ActiveRecord::StatementInvalid in Reader"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6788/events/486128/

Seeing this error:

[code]

Looks like a temporary issue, but seems like it has occurred in the past:

https://github.com/department-of-veterans-affairs/caseflow/issues/2616
https://github.com/department-of-veterans-affairs/caseflow/issues/10708

[2019-09-27 22:35] #11043 closed

[2019-09-27 23:03] jcq commented on #11256
Notes from further convo w/ @geronimoramos:

- no 120-day check (for now at least)
- alert is displayed conditionally if there exists a `VacateMotionMailTask` related to the appeal
- "Notify Lit Support" action & modal copy replaces that from current OGC one, but uses same workflow
- judge flow has new modal inserted to branch during "ready for dispatch" action, but also has the same "notify lit s

[2019-09-30 04:10] edmangimelli commented on #12194
Some asymmetry that's kind of bugging me:
In my proposal, **/issues returns objects that make a point to specify their type** (RatingIssue, RatingDecision, LegacyAppealIssue, etc.) (following the JSON:API standard https://jsonapi.org), **but you don't make this distinction when you create request issues for a HLR** (using the HLR create endpoint (happy path))--you just create a RequestIssue and po

[2019-09-30 15:03] pkarman commented on #12247
When I've seen this in the past it seems like the cached handle has timed out due to some long-running process. Not sure if there's an automatic way around it, or to detect and re-create the handle.

[2019-09-30 15:05] pkarman commented on #12194
I think the /issues endpoint should return `ContestableIssue` objects. That's our abstraction layer.

[2019-09-30 15:08] edmangimelli commented on #12194
Because ContestableIssue isn't an actual table, and therefore doesn't have an ID (it does and it doesn't --you know what I mean), I didn't feel like it meshed well with JSON:API.
@erluti thoughts?

[2019-09-30 15:25] pkarman commented on #11840
Summary of research based on https://github.com/department-of-veterans-affairs/appeals-support/issues/5319

## Scenarios

### Missing disability_date

Rating Decision relies on an `effective_date` to determine which rating to associate it with (the definition of `contestable?` relies on a date match). We were ignoring the `dis_dt` BGS value. That is now mapped to `disability_date` per https://gith

[2019-09-30 15:33] pkarman commented on #11840
Previous slack discussion of which dates to use https://dsva.slack.com/archives/C754H751T/p1566338841221200

[2019-09-30 15:41] pkarman commented on #12194
ContestableIssue is what is presented to CA users during the UI intake process.

[2019-09-30 19:38] pshahVA opened #12251 "Update VEText api"
### User or job story

The VEText team has consumes an API to get hearings information from Caseflow.

1. The API needs to be modified so that only address1 from the va.gov API.

1. create a hard-coded entry for the central office.
 Name: Board of Veterans’ Appeals CO Office
Address: 425 I St., Washington, DC 20001.

### Success criteria
only address1 field is returned by the hearings api.
The cen

[2019-09-30 22:40] #12251 closed

[2019-10-01 01:35] leikkisa opened #12254 "Upstream Error | Invalid POA results in DuplicateEP error"
### Story
When a veteran has an invalid Power of Attorney, establishing a claim for the veteran fails.  For the example that we've dug into, the POA's accreditation had expired.  Upon attempting to establish a claim for the veteran, a PIF will get locked.  One way to identify these is if they get the DuplicateEP error during claim establishment, but their list of end product show no past claims of

[2019-10-01 02:12] #10203 closed

[2019-10-01 02:34] leikkisa opened #12255 "Intake | Upstream error | Do not attempt address update when veteran has incident flash"
### Story
When a veteran has a fraud alert on their account, we get an Incident Flash error when attempting to establish a claim for them.  Users have been directed to send a request to the Incident team to have this temporarily unlocked while they establish their claim.  However, if a review creates a remand supplemental claim (which is automatic), no users are getting the alert to make this supp

[2019-10-01 13:12] pkarman commented on #12214
still todo:

- [ ] Notes may optionally trigger a Message to the user who created the Intake (job).

[2019-10-01 15:14] pkarman commented on #10516
- [ ] https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/86543/parallel-runs/1/steps/1-116

[code]

[2019-10-01 17:50] leikkisa opened #12262 "ShareException thrown in findFiduciary"
### Story
We are getting this from VBMS during claim establishment:
ShareException thrown in findFiduciary for FileNumber

### Impacted reviews
Review type and ID | INC | YourIT Link
--- | --- | ---
SC 133737 | INC7707288 | https://yourit.va.gov/va?id=ticket&table=incident&sys_id=23332128db58c8d4ceac76740f96191b
SC 135482 | INC7707288 | https://yourit.va.gov/va?id=ticket&table=incident&sys_id=2333

[2019-10-01 17:54] leikkisa commented on #12262
Oops, closing as dupe of: https://github.com/department-of-veterans-affairs/caseflow/issues/12165

[2019-10-01 17:54] #12262 closed

[2019-10-01 18:48] #12021 closed

[2019-10-01 19:10] hschallhorn commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/86602?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
AppealTaskHistory#history when Task changes records the changeset
_spec/services/appeal_task_history_spec.rb_
[code]

[2019-10-01 19:37] pshahVA opened #12265 "Update VEText api to remove empty addresses"
### Story
The Vet Text API should not send hearing info for when the address of the hearing location is empty.

### Success criteria
Empty address hearings will be filtered from the vet text API results.

### Release notes:
n/a
### Designs
n/a
### Feature toggle
n/a

#12251

[2019-10-01 19:49] pshahVA opened #12266 "Hearings have empty locations"
### User Story
Some hearings locations are empty, even thought they are scheduled for an RO.

### Success criteria
Scheduled hearings should not have nil addresses.
Undue the work around in the following PR.  #12265

### Release notes
n/a

Designs
n/a

related to
#10851
#12265

[2019-10-01 20:01] hschallhorn commented on #12088
Closed in #12213

[2019-10-01 20:01] hschallhorn commented on #12088
Closed in #12213

[2019-10-01 20:01] #12088 closed

[2019-10-01 20:10] #11697 closed

[2019-10-01 20:51] leikkisa opened #12268 "Send denied motions to vacate to BVA Dispatch"
### Story
When a judge denies a motion to vacate, it creates a DeniedMotionToVacateTask assigned to the motions attorney.  The motion attorney should [TBD] to route the denial to a BVADispatch task.

### Question
- What action does the motions attorney need to take to send the task to BVADispatch?
- What information is needed for for the BVA dispatch task?

### Acceptance criteria
TBD

### Out of

[2019-10-01 20:58] leikkisa opened #12269 "Send dismissed/withdrawn motions to vacate to BVA dispatch"
### Story
When a judge dismisses or withdraws a motion to vacate, it creates a DismissedMotionToVacateTask assigned to the motions attorney.  The motion attorney should [TBD] to route the denial to a BVADispatch task.

### Question
- What action does the motions attorney need to take to send the task to BVADispatch?
- What information is needed for for the BVA dispatch task?

### Acceptance criter

[2019-10-01 21:06] leikkisa opened #12270 "Motion to Vacate | Granted | After a VLJ signs a granted motion to vacate, send to BVA dispatch"
### Story
When a motion to vacate is granted it creates either a VacateAndDeNovoTask or a StraightVacateAndReadjudicationTask which is assigned to the drafting attorney.  The drafting attorney does [xyz] to send this to the VLJ to sign.

Once the VLJ signs the motion to vacate, a BVA Dispatch task should get created.

### Questions
* Is the part where the drafting attorney takes action to create t

[2019-10-01 21:08] leikkisa commented on #10325
The following tickets have been created to handle the denied, dismissed/withdrawn, and granted motions to vacate.
https://github.com/department-of-veterans-affairs/caseflow/issues/12268
https://github.com/department-of-veterans-affairs/caseflow/issues/12269
https://github.com/department-of-veterans-affairs/caseflow/issues/12270

I am closing this ticket since the scope for this ticket (and then so

[2019-10-01 22:39] hschallhorn opened #12271 "Remove 'create' events from PaperTrail::Versions table"
Since #12261, we will no longer be storing version information when documents and annotations are created, only when they are updated or destroyed. We should remove all `PaperTrail::Version` rows that have the `event` "create" for `item_type`s "Annotation", "Document", and "DocumentsTag"

[2019-10-02 00:55] pkarman opened #12274 "Closed tasks being re-opened"
Investigation into bug surfaced in #12157

Steps to follow:

* `tasks = Task.open.where.not(closed_at: nil)`
* `pp tasks.sort_by(&:updated_at).map { |t| t.versions.first }`

Seems to be a lot of RootTask and HearingTask going from `completed` or `cancelled` to `on_hold`.

Definitely happening as a result of user interaction with the app, not via manual engineer clean up.

## Acceptance criteria
*

[2019-10-02 01:45] leikkisa opened #12275 "Unexpected error during claim establishment"
### Description
When attempting to establish claim, we're getting a VBMS HTTP error saying that an unexpected error happened.

Claim not established. System error with BGS.
An error occurred while establishing the claim: Unable to establish claim: GUIE99998 - An unexpected error was encountered.  Please contact the System Administrator.

### Technical notes
Continue to re-attempt establishment, be

[2019-10-02 02:39] leikkisa opened #12276 "Asynchronous Claims | Background Jobs"
### Description
This epic is here to connect all of the individual upstream error issues and describe the overall process for handling them.

This process is new and evolving, so please feel free to make improvements.

### Goals
1. Identify errors and ensure that they all have Incident reports, GitHub issues and job notes. We will use these as a form of communication to clients and users.
1. Ultim

[2019-10-02 03:00] #11583 closed

[2019-10-02 14:42] hschallhorn opened #12279 "Remove references to tasks classed by action"
As of #12272, we no longer store the action field of a task as it is no longer used. However, we still have [many](/department-of-veterans-affairs/caseflow/blob/master/app/controllers/tasks_controller.rb#L211) leftover [references](https://github.com/department-of-veterans-affairs/caseflow/blob/b5a9df63f9403f0e7d1081a6b30bef1c853fb46e/app/controllers/tasks_controller.rb#L221) to [the](https://gith

[2019-10-02 14:44] #10322 closed

[2019-10-02 14:49] hschallhorn opened #12280 "Remove checks and toggles of use_task_pages_api feature"
Now that [pagination is enabled for all users](https://github.com/department-of-veterans-affairs/appeals-deployment/pull/2224), we should remove all references to the `use_task_pages_api` feature toggle.

## AC
- [ ] Remove conditionals that reference `use_task_pages_api` as it is enabled for all users
- [ ] Remove toggles of `use_task_pages_api` in specs as tests should pass without disabling the

[2019-10-02 18:44] hschallhorn commented on #11868
Putting this in backlog for reasons that will be outlined shortly, but for now, "woof".

[2019-10-02 22:29] kevmo commented on #11868
This is a bigger issue than anticipated:

* DecisionReviewTask labels work differently from other tasks, at least some of them, relying on the appeal state for their evaluation.  As such, some of labels could belong on the `cached_appeal_attributes` table.
* The `/decision_reviews/<org>` views aren't using the queue table infrastructure we built out for pagination in the `/queue` view.
* This invo

[2019-10-03 01:30] #9057 closed

[2019-10-03 12:05] jimruggiero opened #12283 "Lit Support: Create a motion to vacate task from case details"
## Story
As a Lit Support Member, I need the ability to create a motion to vacate task from a Veteran's Case Details page in the event that a motion comes through channels other than the mail portal.

## AC:
- [ ] **Should already exist**: A Lit Support user has the "Add a new task" button on the Case Details page
- [ ] **Should already exist**: One of the action options is the existing "Motion to

[2019-10-03 12:13] jimruggiero opened #12284 "Lit Support: Route case assignments for inactive attorney profiles to the general work queue"
### User or job story
User story: When a Motions Attorney, who was originally working a given case no longer works at BVA or in Lit Support, I want the the case returned to the team queue, so that it can be re-assigned to a different attorney.

### Acceptance criteria
- This work is behind a feature toggle: "review_motion_to_vacate".
- When motions attorney profiles are marked as inactive in Casef

[2019-10-03 15:59] jimruggiero opened #12285 "Make multiple claims (030 & 040 exist) for the same disability issue to be separate issues so that they can be independently tracked"
### User or job story
Job story:
When a veteran submits a claim for higher evaluation, as well as a HLR for an earlier effective date for the same disability, AMO Intake users should be able to select these as two separate issues, so that both can be independently trackable.

###Scenario Context Example:
- Veteran was granted service connection for PTSD
- Veteran submitted Supplemental claim for a

[2019-10-03 16:42] jimruggiero opened #12286 "Automatically reassign Motions to Vacate tasks back to motions attorneys when denied or withdrawn/dismissed"
### User or job story
User story:

As a judge, when I deny or withdraw/dismiss a motion to vacate, the new deny or withdraw/dismiss task for that motion will be completed and assigned back to the prior motions attorney, so that the motions attorney can dispatch the denial or withdrawal/dismissal.

### Acceptance criteria
- If prior motions attorney's profile is inactive [i.e. no longer works at th

[2019-10-03 18:02] hschallhorn opened #12287 "Investigate JudgeDecisionReviewTasks without child AttorneyTasks for AVLJ user"
[Relavent slack thread](https://dsva.slack.com/archives/CHX8FMP28/p1570119561297400).

Appears as if `AttorneyTask`s were not created when the AVLJ assigned the case
[code]

Based on the fact that `JudgeDecisionReviewTask`s cannot be cancelled by a user, I wonder if this state was reached by manually creating and cancelling in the prod console.

[2019-10-03 18:12] hschallhorn opened #12288 "Investigate orphaned ScheduleHearingTasks with cancelled parent HearingTasks for LegacyAppeals"
[Relevant slack thread](https://dsva.slack.com/archives/CHX8FMP28/p1570018944279700)

3 appeals were brought to the attention of the batteam that were showing up with duplicate schedule hearing tasks. All three appeals had a similar task tree with two `HearingTask`s, one of which was cancelled with an assigned `ScheduleHearingTask` child.
[code]

There are currently a few others in this state as w

[2019-10-03 18:42] Sjones352 commented on #11621
Closing ticket in favor of #11916

[2019-10-03 18:52] hschallhorn commented on #12280
closing in favor of #12216

[2019-10-03 18:52] #12280 closed

[2019-10-03 19:06] kevmo commented on #12173
1 | |||||||||
2 | |||
3 |
5 |
8 |

1.

[2019-10-03 19:10] kevmo commented on #12211
1 |
2 |
3 | |||||||||
5 | |||
8 |

3.  Straight-forward, but involves VACOLS, lending uncertainty and some 5 votes.

[2019-10-03 19:13] hschallhorn commented on #12173
See [this tech spec](https://github.com/department-of-veterans-affairs/caseflow/pull/12197/files#diff-33a91cd5134bf0c5a4522e456e900342R38) for some guidance. Buddy up on this!

[2019-10-03 19:17] kevmo commented on #12115
1 |
2 | |||||
3 | ||||||
5 | |
8 |

Answer to first question is probably yes.  Second question - does it matter?  But probably yes.

Make sure you check Slack messages for commands run.

3.  Potential 5 - inserting this into user flow could be more complex than manually changing database.

[2019-10-03 19:23] kevmo commented on #11761
1 |
2 | |||
3 | |||||
5 | ||||
8 |

(How do we know someone is a judge? `User.judge_in_vacols?` methods)

Though the votes say "3", subsequent discussion has made this group decide this is a

# 5

Rant incoming.

[2019-10-03 19:28] kevmo commented on #12212
1 |
2 |
3 | |
5 | ||||||||
8 | |||

Involves a lot of F/E and B/E changes.

5.

Look for ways to break this into multiple PRs. If any additional work appears, raise flag early! 🎏

[2019-10-03 19:32] kevmo commented on #11190
1 |
2 | ||||
3 | |||||||
5 | |
8 |

3.  Could be straightforward.  Featuring testing and other uncertainties could expand this to a 5.  3 feels like a safe estimate.

[2019-10-03 19:35] leikkisa opened #12289 "Allow user to add issues after the receipt date"
### User or job story
User story: As a Claims Assistant, when intaking a veteran's form, I need to be able to add issues whose promulgation date are in the future of the receipt date.

### Acceptance criteria
- [ ] This is behind a feature toggle - show_future_ratings
- [ ] During intake rating issues with promulgation dates after the receipt date are shown in the list of issues
- [ ] This does no

[2019-10-03 19:37] kevmo commented on #12156
1 |
2 | |||
3 | ||||||||
5 | |
8 |

Seems pretty open-ended - should we put an upper limit on this? 🤔  Has only been one of these so far, so not super-high priority.  If we cannot figure it out, a data integrity alert is sufficient.

3.  Try to limit to a 3's worth of effort. Potential 2 because this _could_ be pretty straight-forward. 5 because it's an investigation task. 🕵️‍♀️

[2019-10-03 19:40] kevmo commented on #12216
1 | ||||||||
2 | ||||
3 |
5 |
8 |

1.  Because this sounds easy. Potential 2 because "lots of tests blew up the last time I removed a feature toggle."

[2019-10-03 19:45] hschallhorn commented on #12274
There have been 24 reopened tasks in 2 weeks

[2019-10-03 19:47] kevmo commented on #12274
1 |
2 |
3 | ||||||
5 | |||||
8 | |

3. This is a distressing ticket that needs to get fixed, somewhat irrespective of level of effort.  In the event that a fix is not found after 2-3 points worth of effort, implement an alert.

[2019-10-03 19:53] kevmo commented on #11705
1 |
2 | |
3 | ||||
5 | |||||||
8 |

5.  Potential 2 - if all we want to do is ensure that we don't show _wrong_ info, fairly straightforward. If we need to interrogate VACOLS, potential 5.  Team leaning towards 5.  No logic behind what the disposition of the case is on the frontend --> quite a bit to potentially implement.

[2019-10-03 19:57] kevmo commented on #12209
1 | |||
2 | ||||||
3 | |||
5 |
8 |

2.  Potential 1 because this seems easy.  Potential 3 because of testing.

[2019-10-03 20:03] kevmo commented on #12279
1 |
2 | ||||||||||
3 | ||
4 |
5 |

2. This is straight-forward, but there are some legitimate uses of the word "action" in codebase -- cannot just grep and remove.

[2019-10-03 20:12] hschallhorn commented on #11761
From the Judge assign page, a judge can select a case and any attorney user (this includes judges and acting judges) and hit "Assign". We determine if the judge meant to reassign the `JudgeAssignTask` to another judge or assign an `AttorneyTask` to an attorney based on [if the assignee is a judge](https://github.com/department-of-veterans-affairs/caseflow/blob/a4bc0aaff66df7a821f30d67dd8eccbf5a9da

[2019-10-04 17:17] pshahVA commented on #11158
Spec update: The link to the virtual hearing should either not show up for the POA, or the link will be different than the Judges.  I believe the Judges link should have full control over the hearing.

[2019-10-04 18:04] pshahVA opened #12290 "Cancel Virtual Hearing"
### User Story:
As a hearings scheduler, I need to be able to cancel a virtual hearing.  The system needs to update the Virtual Hearings emails sent with a cancellation notice and also delete the reservation in the pexip system.

## Release notes
This will all be part of the coordinated roll out of virtual hearings.

## Feature flag
This should be behind a feature flag.
## Permissions:
The same as

[2019-10-04 18:12] pshahVA opened #12291 "VEText api should return only valid hearings."
### User or job story
The VEText team  consumes an API to get hearings information from Caseflow.

The API needs to be modified so that only scheduled hearings are returned, and we exclude previously scheduled hearings such as postponed or cancelled.

### Success criteria
The API does't return postponed or cancelled hearings.
### Release notes
n/a

### Designs
n/a

related to #10851

[2019-10-05 05:19] edmangimelli opened #12292 "Implement IntakeStatuses show endpoint - Appeals API"
As an API consumer, I need a way to check on the status (asyncable status) of a DecisionReview intake that I've created.
[code]
### Acceptance criteria
- Implement the endpoint as planned out in the spec (go to editor.swagger.io, and either paste in https://raw.githubusercontent.com/department-of-veterans-affairs/caseflow/master/app/controllers/api/docs/v3/decision_reviews.yaml or load it view the

[2019-10-06 16:55] kevmo commented on #7556
## [Cornwallis surrender](https://www.history.com/this-day-in-history/cornwallis-surrenders-at-yorktown) sprint (Oct 7 - Oct 20) engineering priorities

sprint priorities for this sprint!

### Pagination (epic #10470)
- Sorting by Case Type should be additive #12082

### Queue table view
- Update address bar with url for the current state of queue #12067
- (HUNTER) Improve responsiveness of reques

[2019-10-07 14:42] pkarman opened #12293 "Appeal with no active request issues but with active tasks"
Should not be creating tasks or dispatching appeals that have zero active request issues (e.g. if they are all ineligible).

Example https://dsva.slack.com/archives/CHX8FMP28/p1570458025367200

## AC

- [ ] Add data integrity check for appeals with zero active request issues and active tasks
- [ ] Prevent tasks from being created on such appeals
  - [ ] Add spec

## Open questions

- Confirm who i

[2019-10-07 15:31] pkarman commented on #12289
I am in favor of this. Need to confirm with AMO. See https://github.com/department-of-veterans-affairs/caseflow/issues/11840#issuecomment-536614144

[2019-10-07 17:01] jimruggiero opened #12296 "Litigation Support: Give the attorneys the ability to close denied and dismissed/withdrawn MTV tasks"
### User or job story
User story: As a motions attorney, I want the ability to close denied or dismissed/withdrawn motions to vacate tasks, so that these tasks will be removed from my work queue when I've drafted and dispatched a letter to the veteran.

### Acceptance criteria
- The prior motions attorney (or other from their team, if reassigned) can take action to complete the task and dispatch t

[2019-10-07 17:07] jimruggiero commented on #12286
The prior motions attorney (or other from their team, if reassigned) can take action to complete the task and dispatch the appropriate letter to the veteran. #12296

[2019-10-07 17:27] ferristseng opened #12297 "TypeError in OrganizationQueue"
#### Background/context

Seeing a sentry alert for a `TypeError` in the `OrganizationQueue`:

[code]

for this line:

[code]

It's happening on this URL:

https://appeals.cf.ds.va.gov/organizations/vlj-support-staff

#### Resources/other links

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6214/events/503594/

[2019-10-07 18:47] ferristseng opened #12299 "NoMethodError in legacy appeal dispatch complete_root_task!"
#### Background/context

Seeing a `NoMethodError` in `app/workflows/legacy_appeal_dispatch.rb` in `complete_root_task!`. The error is:

[code]

Looks like there's a nil `root_task` for an appeal:

[code]

#### Resources/other links

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6924/events/503803/

[2019-10-07 18:52] yoomlam commented on #12082
@lowellrex and I did a pairing session on Sept 27th for this ticket. The fix for this specific issue was straightforward, but when testing we uncovered a bigger issue that warrants another ticket (something about filtering on multiple columns maybe). Not sure why Lowell didn't assign this ticket to himself and didn't commit his fix.

[2019-10-07 19:09] pshahVA commented on #11881
@lomaxap , I updated the location codes.

[2019-10-07 19:34] hschallhorn commented on #12211
When cancelling all tasks, ensure that we do not have situation where we leave zombie open tasks that may have been opened when a task is cancelled.

[2019-10-07 19:43] pshahVA commented on #11508
Nichole, I was on a call, and there was thought of "resending" the email invite if the veteran lost it.  It would not be part of this first build, but maybe we could think of it as part of the design (in the future)

[2019-10-07 20:48] hschallhorn commented on #12173
- [ ] Start with assigned and in_progress (active) colocated tasks
[code]

Test on one, confirm new assignee, confirm next_assignee increments
- [ ] Handle on_hold tasks
- [ ] Track down other task types that were assigned to Colocated team

[2019-10-07 21:22] alisan16 opened #12301 "AASM::InvalidTransition error in Dispatch"
app/models/establish_claim.rb in block in assign_existing_end_product!

AASM::InvalidTransition: Event 'complete' cannot transition from 'completed'.

complete!(status: :assigned_existing_ep, outgoing_reference_id: end_product_id)

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6695/events/503920/

 - [ ] Timebox ticket to a 5
 - [ ] Investigate cause of alert
 - [ ] Fix b

[2019-10-07 21:36] alisan16 opened #12302 "Caseflow::Error::AttorneyJudgeCheckoutError: Validation failed: Diagnostic code is not included in the list"
Sentry alert: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6763/

Also thrown with this error: ActiveRecord::RecordInvalid
Validation failed: Diagnostic code is not included in the list

app/models/concerns/issue_updater.rb in rescue in update_issue_dispositions_in_caseflow!

[2019-10-07 21:44] hschallhorn commented on #12173
@stwards11, as of this moment, just under 550 of the tasks in these two user's queues have been reassigned evenly amongst the 21 VLJ support team members. That's about 26 new tasks that should show up in these users queues if you want to make Maria aware that this has happened. We still have fewer than 55 tasks to reassign, so this is not completely done, but the bulk of it is.

[code]

[2019-10-07 21:50] hschallhorn commented on #12115
Currently, `AttorneyTask`s are not created in caseflow for legacy appeals, however, there is work to start doing this with the depreciation of DAS in #12022. It seems unwise to attempt to wrestle with vacols and case assignment and reassignments if we are going to be using `AttorneyTask`s in the near future. Also, of all the cases where the Bat Team has manually done this, each appeal has been an

[2019-10-08 12:49] hschallhorn opened #12303 "Remove inactive users from organizations with automatic assignment of tasks"
When  #12212 is complete, admins will be able to mark users as inactive. This will not stop automatic task distributors from assigning them tasks.

[code]

### AC
- [ ] When a user is made inactive, they are removed from any team with round robin task assigning.

[2019-10-08 13:05] kevmo commented on #12115
Blocked by #12022.

Once #12022 is completed and PR #12295 is merged, this functionality described by this ticket _should_ exist.  We are leaving this ticket open as a reminder to check back in and make sure that is actually the case.

[2019-10-08 14:00] pkarman opened #12304 "duplicate phone number error: open SR for BGS"
We continue to have problems when the BGS API returns an error due to faulty phone number data in CorpDB. We need specific error cases before we open the SR though, so this ticket is a placeholder for us to accumulate those cases and remind us to open the SR.

Per BGS:

We want to request a change to BGS API behavior.

A request to change BGS API behavior for the findVeteranByFileNumber service.

[2019-10-08 14:24] pkarman commented on #10901
Email thread summary about this problem:

[code]

[code]

[code]

[code]

[code]

[2019-10-08 15:01] yoomlam commented on #12096
@alisan16
I'm trying to identify the problem using http://www.caseflowdemo.com/queue/appeals/0a5e7042-537c-4f68-949c-7a855cde302e.

I see no `caption` or `th` markups for the Case Timeline as instructed [here](https://webaim.org/techniques/tables/#linearization):

Not sure what other "data table markup" to look for. The `td` markups are necessary for separating table cells.

VoiceOver reads the ta

[2019-10-08 15:22] alisan16 commented on #12096
@carodew Can you follow up with Section 508 about this issue? If the contents of the Case Timeline section are being read in the wrong order by JAWS, we may need to remove the <table> markup and use a different styling technique, but according to @yoomlam above, the contents are being read in the correct order with VoiceOver.

[2019-10-08 15:24] pkarman commented on #11432
A fix was deployed. Waiting for confirmation from IDT that it resolves the problem.

[2019-10-08 16:05] pkarman commented on #12238
Need investigation:

- [ ] https://appeals.cf.ds.va.gov/queue/appeals/5f529e50-14e0-4860-9312-107cdf63c64b
- [ ] https://appeals.cf.ds.va.gov/queue/appeals/872846d3-2377-4427-9bd7-b65390d6bd22
- [ ] https://appeals.cf.ds.va.gov/queue/appeals/15135ebf-4ea6-474e-9e1f-40962ca10713
- [ ] https://appeals.cf.ds.va.gov/queue/appeals/6fe29e4a-e3c6-4cfb-a2e6-d1a769257efc
- [ ] https://appeals.cf.ds.va.gov/

[2019-10-08 16:09] nicholer commented on #11508
@pshahVA Got it - added email resends to my list future functionality

[2019-10-08 16:17] leikkisa opened #12307 "BGS | VSOs cannot view case details or hearing info on non-veterans claimants they represent"
### Description
When a user that is part of a veteran service organization searches for a veteran that has that VSO as their Power of Attorney, they get the following error from BGS:
Power of Attorney of Folder is none. Access to this record is denied.

The user is the admin for his veteran service organization, which is the VSO that is the Power of Attorney for this veteran.

### Impacted cases
V

[2019-10-08 16:17] pkarman commented on #12236
Other instances reported in https://github.com/department-of-veterans-affairs/dsva-vacols/issues/80

[2019-10-08 17:57] leikkisa commented on #11742
I am saving this data from the summary, but we've been instructed to stop sending YourIT tickets for these and to email someone directly.  The instructions have been updated above.

veteran_id | participant_id | participant_id2 | YourIT Incident number | YourIT INC Link | YourIT ticket resolved? | Veteran data fixed in Caseflow? | Establishment reattempted?
--- | --- | --- | --- | --- | --- | ---

[2019-10-08 18:06] lomaxap opened #12314 "Create ExternalApi::PexipService Class"
[See full tech spec for context and Pexip API details](https://docs.google.com/document/d/1dbpHbywtPlxk1SzWnW-SuHzzzmDcM1Y7-OopAacWStM/edit#bookmark=id.sq4q38e7tkzq)

### Background
When a user selects "virtual hearing" on the hearing details page, an asynchronous job will need to create a single conference through the Pexip API. Additionally, after virtual hearings are held, another job will purg

[2019-10-08 18:18] lomaxap opened #12315 "Create virtual_hearings table"
### Background
We need to be able to store data that is specific to virtual hearings in a separate table. This table should have a 1:1 polymorphic relationship with `legacy_hearings` and `hearings`

### Objective

Create a table related to `hearing` and `legacy_hearing` that allows us to store information related to `virtual_hearing`

### Schema

| column | type | description |
|--------|------|--

[2019-10-08 18:19] geronimoramos commented on #11256
![Check CAVC before Dispatch Modal](https://user-images.githubusercontent.com/49766982/66421788-5e32f780-e9bd-11e9-8bc3-2d4d5c3599ca.png)
@jcq update is here!
-> yes will continue with 'Ready for Dispatch' flow
-> no will assign to Lit Support for Pulac-Cerullo check stuff

[2019-10-08 18:38] lomaxap opened #12316 "Create VirtualHearing Class"
### Background
related to #12315

### Objective
Create an ActiveRecord class that allows us to query virtual_hearings. We should be able to access virtual hearing data from the parent hearing with `hearing.virtual_hearing`. We should also be able to test if a hearing is virtual with `hearing.virtual?` where there is a related `virtual_hearing` record that is `active`

Hearing serializers should re

[2019-10-08 18:55] leikkisa opened #12318 "MTV - Add option for partial grant and select issues"
### Story
Sometimes, judges partially grant Veterans' motions to vacate. This means that only some, not all, of the issues on the original appeal decision will be vacated and decided again on the new decision.

Judges (or potentially other users, to be determined) need to select some, not all, issues that are vacated, to be decided on the new decision. (And then, follow the typical assign to attor

[2019-10-08 18:58] carodew commented on #12096
I suspect that this is primarily a semantic HTML thing, in that table mark up is used for non-tabular information, but I'm happy to double check.

[2019-10-08 19:06] msj0nes commented on #12215
@ferristseng any update on this?

[2019-10-08 19:27] yoomlam commented on #12096
@carodew Some background to help make our case: The WebAIM and https://accessibility.umn.edu/tutorials/data-vs-layout-tables state that it is okay to use table markups as long as ATs can navigate and read/interpret/convey the content. In this case, VoiceOver is reading the table contents in sensible order.

We could probably do better but I'm going for low-hanging fruit and taking the least-resist

[2019-10-08 19:45] #12236 closed

[2019-10-08 19:50] hschallhorn commented on #12175
#11801 calls out some very specific scenarios.
  - Reassign judge review tasks
  - Assigning cases to attorneys
  - Requesting cases for judges

Assigning and reassigning cases reads as if we could simply add users as admins to judge teams and modify some available_actions functions to allow judge team admins these two. Requesting cases for judges is a bit more complex with the way that requesting

[2019-10-08 20:19] alisan16 opened #12320 "ActionView::Template::Error: undefined method `ui_hash' for LegacyAppeal"
ActionView::Template::Error: undefined method `ui_hash' for #<LegacyAppeal:0x00007f718a4ad7a8>

app/views/appeals/edit.html.erb in block in _app_views_appeals_edit_html_erb__2619788785479411407_70063144735820

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6971/

[2019-10-08 20:24] ferristseng opened #12321 "NotNullViolation when getting CO hearing days"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6962/events/505923/

Seeing this error on `/hearings/hearing_day.json`. It's causing this issue: https://dsva.slack.com/archives/CHX8FMP28/p1570555326407700

The issue happens when initializing the LegacyAppeal that's supposed to be associated with the hearing. The `folder_nr` field on the case hearing from VACOLS is null, and

[2019-10-08 20:36] ferristseng opened #12323 "ArgumentError in Address initialization"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6963/events/506058/

This is causing the FetchHearingLocationsForVeteransJob to fail. The payload we get back from BGS has a `type` field that seems to be new

[2019-10-08 21:00] carodew commented on #12096
Yeah, I think they tested with JAWS, so there might be a difference. I can ask the Section 508 office is they can provide us both with JAWS on any GFE (as far as I'm aware only LP has one) and/or JAWS training.

[2019-10-08 21:08] pkarman commented on #12320
We shouldn't ever be acting on LegacyAppeal instances at that endpoint. I wonder if we just randomly hit a id collision?

[2019-10-08 22:37] jcq opened #12327 "NoAvailableModifiers Error"
This is an open ticket for handling data cleanup until a longer term solution is identified.

We are seeing the `NoAvailableModifiers` error when establishing a claim. The veteran had 10 end products created (most canceled).

### Impacted reviews:
HLRs: [39860, 63957, 67526, 69050, 69119, 69135, 69114, 69137]

[2019-10-09 13:13] lomaxap opened #12329 "Get GovDelivery Account"
see conversation https://dsva.slack.com/archives/C2ZAMLK88/p1564502322130100

We need access to VA's GovDelivery service in order to send emails judges, veterans, and representatives when a virtual hearing is scheduled.

@pshahVA to get in contact with VA contact about getting credentials and specs.

[2019-10-09 13:23] lomaxap opened #12330 "Create ActionMailers for Virtual Hearing Emails"
### Background
related to: #12329
When a hearing is switched from central or video to virtual, a confirmation email with instructions will need to be sent to veteran, representative, and judge.

### Objective
Create Mailers and Mailer layouts for
- Notice that virtual hearing was cancelled to Judge, Veteran, and Representativee
- Confirmation that virtual hearing was scheduled

[reference](https:/

[2019-10-09 13:34] lomky commented on #11176
@stwards11 Any updates on how this is going? Let me know if you need me to pull any info for the various situations.

[2019-10-09 13:35] lomaxap opened #12331 "VirtualHearingConferenceJob"
### Background
[Full tech spec](https://docs.google.com/document/d/1dbpHbywtPlxk1SzWnW-SuHzzzmDcM1Y7-OopAacWStM/edit). When a hearing is switched from central or video to a virtual hearing, we need to send an email to the veteran, the representative, and the judge and schedule a conference via the Pexip API (#12314)

When a virtual hearing is cancelled or postponed, we need to be able to send an e

[2019-10-09 14:08] lomaxap opened #12332 "Add Virtual Hearings Parameters to Hearings Controller"
### Background
When a user switches a hearing from central or video to virtual, we need to store information related to the virtual hearing and kick off an async process to send emails and schedule a conference via Pexip API

### Objective
Modify Hearings controller to handle parameters for virtual hearings that allow us to `create`, `update`, or "`delete`" virtual hearings.

---
 hearing controll

[2019-10-09 14:12] #12303 closed

[2019-10-09 14:21] lomaxap opened #12333 "VirtualHearing Dropdown and Modal"
### Background
See also #11508 for full user flow and https://va-gov.invisionapp.com/share/F7U0FOLT63R#/screens/384864183. For this issue, we will be focusing exclusively on building the modal that opens when a user switches dropdown from `video` to `virtual` and clicks save. We will be ignoring for the now the Pexip Integration. We also won't be concerned with populating the dropdown with data fr

[2019-10-09 14:51] lomaxap opened #12334 "Integrate Virtual Hearing Modal with Controller"
### Background
#12333 created a modal that appears after a user switches from central to virtual hearings and vice versa, we now need to send `virtual_hearings` params to the HearingsController (#12332)

### Objective
There will be 2 requests when virtual hearings data changes. One to the virtual_hearing endpoint and another to the hearings endpoint. These requests should be chained in that order.

[2019-10-09 15:15] #12323 closed

[2019-10-09 15:57] #12170 closed

[2019-10-09 15:58] #11158 closed

[2019-10-09 15:58] #12290 closed

[2019-10-09 15:59] #12182 closed

[2019-10-09 16:10] lomaxap commented on #11730
closing in favor of #12314

[2019-10-09 16:30] #12321 closed

[2019-10-09 17:10] leikkisa commented on #10164
Moving this to the backlog since there aren't any active occurrences of it.

[2019-10-09 17:23] lomaxap opened #12336 "VirtualHearingsConferenceJob when Editing Disposition and/or Hearing Time on Hearings"
### Background
See ticket for job: #12331
As a hearings scheduler, I need to be able to change the time of a scheduled virtual hearing.  When a time of a Virtual Hearing date/time is changed on the daily docket page, the system needs to update the Virtual Hearings emails sent and also update the invite in the Pexip system.

### Objective
1. A cancellation email should be sent if the Hearing dispos

[2019-10-09 17:30] leikkisa commented on #12275
Moving this ticket to backlog since the one instance of it has been resolved.  If we don't get any more for a while we can close it.

[2019-10-09 17:36] lomaxap opened #12337 "Notify Hearing Branch users when virtual hearing emails fail or conference creation fails"
#### User Story
As a Hearing Coordinator, I need to feel confident that I have Hearings Branch-wide visibility into the status of pending or failed attempts to schedule virtual hearings.

### Background
When a user changes a hearing to Virtual, the VirtualHearingsConferenceJob (#12331) sends a series of emails to the veteran, the representative, and the judge, and creates a conference via the Pexi

[2019-10-09 17:50] lomky commented on #12211
- Who should be able to do this?
   - The Judge on the case. Not the Attorney.
 - When should the Judge be able to do this? Anytime the case is at the Judge or Attorney.

[2019-10-09 17:52] yoomlam commented on #12101
Reproduced at http://www.caseflowdemo.com/search using VoiceOver focused on search field, as well as associated label.

https://www.w3.org/TR/WCAG20-TECHS/ARIA14.html:

**Solution**
Setting the label as an empty string (when a `title` is not specified) causes VoiceOver to skip the label entirely, which makes sense in this case (there’s other perhaps redundant descriptions of the search field).

[2019-10-09 17:57] lomaxap opened #12339 "Add Veteran and POA email fields to Hearing Details"
Updated designs: https://va-gov.invisionapp.com/d/main#/console/18813206/391798212/preview

### Background
- Once a hearing is switched to virtual, 2 fields appear for the Veteran's and POA's email.
- Veteran Email field is **required**
- POA/Representative Email field is **not required**
- When the Hearing Type is Virtual, and the Hearing Coordinator changes either the Veteran Email or the POA/Re

[2019-10-09 19:39] lomaxap commented on #12330
Question: Should we assume that recipient's email can handle HTML? Do we need to make sure that is accessible?

[2019-10-09 19:52] lomaxap opened #12343 "Get Range of Numbers that Can Be Used as Conference Ids"
Lynn informed us that we will need to use a range of 7 digit numbers when generating conference ids (#12314). This will allow veterans to eventually call into a number.

@pshahVA Can you follow up with Lynn and get these range of numbers?

[2019-10-09 19:55] lomaxap opened #12344 "Confirm that Production URL for Pexip Conferences is Accessible Outside of VA network"
related to #12314

We need credentials for creating conferences in Pexip for Pexip's Production environment. We also need to confirm that the urls we generate in production will be accessible outside of the VA network

@pshahVA can you follow up with Lynn about production credentials so we can test this / confirm with him that they will be accessible when we start making requests in production?

[2019-10-09 20:11] #12344 closed

[2019-10-09 20:18] pshahVA commented on #12329
email sent to Tuscher, Joshua <Joshua.Tuscher@va.gov> on 10/9

[2019-10-09 20:22] ferristseng commented on #12344
https://care.va.gov/vvc-app/#/

[2019-10-09 20:25] lomaxap opened #12345 "Email Copy for Virtual Hearing Confirmations and Updates"
### User story
As a Veteran / Representative / Judge, I need to receive email notifications when my virtual hearing is scheduled or updated.

This ticket addresses the following 8 use cases:
- 1) When a virtual hearing is scheduled or a new email address is entered on the Hearing Details page:
  - **1a) As a Veteran**, I need an email confirming that I have a virtual hearing scheduled with a date,

[2019-10-09 20:29] #11731 closed

[2019-10-09 20:39] pshahVA commented on #12345
The email needs to have a calendar invite, so it can be imported into the Judges and Veterans Cal.  Do we want a separate ticket for this or add it to this?

[2019-10-09 20:47] lomaxap opened #12347 "Add Virtual Hearing Links to Daily Docket and Hearing Details"
Hearing Details
![Screenshot 2019-10-09 16.46.32.png](https://images.zenhubusercontent.com/5cd05a11cdc0ba05ef4f13f6/8d40f5b6-de02-4aa6-91cf-89b5763765c5)
https://va-gov.invisionapp.com/share/8AUO95JMRW7#/screens/391733361

Daily Docket
![Screenshot 2019-10-09 16.45.25.png](https://images.zenhubusercontent.com/5cd05a11cdc0ba05ef4f13f6/c1ce0986-f828-4823-a5fe-6c8cc84fcb6d)
https://va-gov.invisionapp

[2019-10-09 20:53] lomaxap opened #12348 "Add Virtual Hearing Type to Column on Hearing Schedule List"
![Screenshot 2019-10-09 16.49.08.png](https://images.zenhubusercontent.com/5cd05a11cdc0ba05ef4f13f6/60a0939a-9835-4a2a-8c96-fb963382e70a)

The Your Hearing Schedule page displays Virtual in the Type column, and Virtual is included as a value in the column filter.
- If there are multiple Hearing Types for one day, all types are listed, separated by a comma.

[2019-10-09 20:56] lomaxap opened #12349 "Add Virtual Hearing Type to Daily Docket Print"
The print view of the Daily Docket displays the Type.

https://va-gov.invisionapp.com/share/F7U0FOLT63R#/screens/385699963

### Objective

When a user downloads a printable version of their daily docket, it should reflect that the hearing is virtual

[2019-10-09 21:22] Sjones352 opened #12350 "RemandReasonRepositoryError"
### Description
We getting RemandReasonRepositoryError when attempting to establish a claim.  This ticket is to investigate what is causing this, and to fix it if possible.

### Impacted reviews
HLR 35327 - Resolved
HLR 57317 - Resolved
HLR 152006 - Resolved
HLR 153395 - Resolved
HLR 147776 - Resolved
HLR 511618 - Resolved

### Tech notes
The EPs are being established just fine, but it is failing

[2019-10-09 22:11] edmangimelli opened #12352 "User.api_user needs to be able to intake any veteran"
From this thread:
https://dsva.slack.com/archives/CKUCFQAHJ/p1569851414024700

The Appeals API's api_user (User.api_user), which is the user used for all Appeals API requests (request made by any API consumer), needs to be able to intake any veteran file. Currently, when attempting to do fake intakes in the UAT environment, :veteran_not_modifiable errors are being returned.

A separate authorizati

[2019-10-09 23:02] leikkisa commented on #11742
Adding a comment from discussion that has a YourIT article about this. It mainly affirms that these are handled through YourIT, but mentions a Corporate Trouble Ticket Request Form, which I couldn't find.  I added the escalation number to all of the duplicate veteran record INC reports.

https://yourit.va.gov/kb_view.do?sysparm_article=KB0012827

[2019-10-09 23:18] lomaxap commented on #12345
i'm fine adding it to this ticket

[2019-10-10 01:08] leikkisa opened #12355 "Convert ui_hash to serializers (decision review files)"
### Description
As a tech improvement ticket, in order to improve consistency and code quality, and reduce the size of our models, we can convert ui_hash method to use serializers instead.

Acceptance criteria
- Decision review files use serializers instead of ui_hash:
    - decision_review
    - claim_review
    - higher_level_review
    - supplemental_claim
    - appeal
- Any new files include t

[2019-10-10 13:41] #12212 closed

[2019-10-10 14:02] hschallhorn commented on #12212
@stwards11 This is going live today and has a release notes tag!

[2019-10-10 14:28] pshahVA commented on #12343
Correspondence

[2019-10-10 14:34] pshahVA commented on #12343
Thanks Lyn,

Lyn

[2019-10-10 16:43] pkarman opened #12357 "Cache VACOLS::Staff in CachedUser table"
We spend a non-trivial amount of time in Caseflow talking to VACOLS in order to coordinate user information across the 2 systems. Mostly that user information doesn’t change often (names, id, usernames, roles). Right now we cache a lot of VACOLS info in Redis, but we also do some real-time look ups for things like hearing scheduling. Notably, we also do cross-schema joins for metrics and reporting

[2019-10-10 17:37] #11730 closed

[2019-10-10 17:37] ferristseng commented on #12012
https://github.com/department-of-veterans-affairs/appeals-team/pull/1201

[2019-10-10 19:35] alisan16 opened #12359 "Update eslint camelcase rules to ignore "UNSAFE_" method names"
These warnings are useless:
$ eslint --max-warnings 0 --cache $(git diff --name-only --relative $(git merge-base $(git rev-parse --abbrev-ref HEAD) origin/master) *.js *.jsx)

/home/circleci/project/client/app/components/SearchBar.jsx
  45:3  warning  Identifier 'UNSAFE_componentWillReceiveProps' is not in camel case  camelcase

Based on this [eslint PR](https://github.com/eslint/eslint/pull/10783

[2019-10-10 19:37] pkarman commented on #12175
I prefer "JudgeTeam Refactor" and setting aside time to refactor authorization rules generally.

I have used https://github.com/varvet/pundit before on multiple Rails apps and it works pretty well. The hard part is going to be documenting all our different existing systems and overlaying the ideal business rules we'd like to arrive at.

[2019-10-10 19:39] pshahVA commented on #12329
some notes on how to get started:
Add GovDelivery gem:
https://github.com/department-of-veterans-affairs/vets-api/blob/6dafa7bd33645c6e966e0cf933f391ec41dda802/Gemfile#L51
Configure the app to use GovDelivery for emails:
https://github.com/department-of-veterans-affairs/vets-api/blob/master/lib/config_helper.rb
Use config in environment config files.  Production example:
https://github.com/departm

[2019-10-10 21:00] lomky commented on #8436
Copying in a slack convo around Judge on Legacy Tasks:I'm reading up on the JudgeLegacyTasks, and I noticed a discrepancy in how we determine `judge`ness across the various task types.

`JudgeLegacyDecisionReviewTask` gives available actions to the judge, and decides if someone is a judge via the method `current_user.judge_in_vacols?` (see 1)
`JudgeLegacyAssignTask` gives available actions to the

[2019-10-10 22:35] #12357 closed

[2019-10-11 14:35] kevmo commented on #12175
I also prefer JudgeTeam refactor route.  As Kat notes, it's easier to deliver and less of a burden on our users.
I also agree that we should starting thinking about simpler way to organize our authorization rules.

[2019-10-11 14:41] hschallhorn commented on #12173
Reassigning active non `ColocatedTask` as other task types can be assigned to the colocated team. We'll be excluding `EvidenceOrArgumentMailTask`s for now

[code]

[2019-10-11 15:25] #12125 closed

[2019-10-11 16:37] hschallhorn commented on #12173
All that's left is to handle the on hold tasks in these user's queues! Down to a final 23 tasks!
[code]

For every task, it would appear that the user was correctly putting these tasks on hold. I would suggest that we keep these children on hold tasks. Thankfully, the [reassign function](https://github.com/department-of-veterans-affairs/caseflow/blob/e1a5d717fb51a34aeac10f276fc86a895266969f/app/mo

[2019-10-11 16:37] #12173 closed

[2019-10-11 16:50] hschallhorn opened #12365 "Update the task reassign function"
[As found](https://github.com/department-of-veterans-affairs/caseflow/issues/12173#issuecomment-541136486) when reassigning tasks in #12173, There are two pitfalls with our current reassign function.
1. If the task to be reassigned has a child `TimedHoldTask`, it will be [cancelled](https://github.com/department-of-veterans-affairs/caseflow/blob/e1a5d717fb51a34aeac10f276fc86a895266969f/app/models/

[2019-10-11 17:58] yoomlam commented on #12082
To reproduce, http://localhost:3000/organizations/vlj-support as "VLJ_SUPPORT_ADMIN (VACO)".

"AOD" filtering option is only enabled for tables with pagination, which is enabled for organizations.
From Hunter:

[2019-10-11 18:35] #11011 closed

[2019-10-11 19:26] hschallhorn opened #12367 "Fix paginated caching for first response when navigating via a deep link"
### What currently happens
When navigating to a paginated queue via a deep link, navigating away from the tab and back sends off a request to the pages api, even though we should have cached this result already.

#### Demo
![bug](https://user-images.githubusercontent.com/45575454/66678584-3b614700-ec3a-11e9-8f77-c5d21cc0c063.gif)

#### Steps to reproduce
1. Log in as a VLJ support team member (VLJ

[2019-10-11 20:19] leikkisa commented on #12286
@geronimoramos @rutvigupta-design Can one of you update the copy and design screen when you get a chance?

[2019-10-11 20:20] #12101 closed

[2019-10-11 20:44] leikkisa opened #12370 "MTV - Save partial grant to database with selected issues"
### User or job story
This is a backend ticket. This story covers what happens when a Judge "Submits" a partially granted motion to vacate with issues selected.

### Acceptance criteria
- The post decision motion disposition is partial_grant
- When the user submits the Address Motion to Vacate task, the IDs of the selected issues are saved in the post decision motions table
- Document new db colum

[2019-10-11 21:10] leikkisa opened #12373 "MTV - Create request issues for vacated decisions"
### User or job story
When a judge grants a motion to vacate for an issue, create a new request issue for that decision on the same appeal.

### Acceptance criteria
- [ ] Request issues are automatically created for granted motion to vacate issues, on the same appeal
- [ ] These request issues contest the decision issue that is being vacated (contested_decision_issue_id)
- [ ] The request issue da

[2019-10-11 21:23] lomaxap opened #12374 "Efolder Not Showing All Docs from VBMS"
https://dsva.slack.com/archives/CHX8FMP28/p1570803493080500

Efolder shows 0 documents for VBMS
![image](https://user-images.githubusercontent.com/2473869/66685884-b3843880-ec4b-11e9-83a2-05ad2dbdc364.png)

however, initial digging shows that at least some documents exist
[code]

[2019-10-11 21:46] leikkisa opened #12375 "MTV - When mail team creates Motion to Vacate task, select issues the veteran is requesting"
### User or job story
When a veteran submits a motion to vacate, the specific issues they are requesting need to be selected and stored.  These should be the only issues that appear as selectable for the judge when deciding the disposition for the MTV.

### Acceptance criteria
- On the motion to vacate mail task, all decision issues on the appeal are available to select as options.
- Instructions

[2019-10-11 21:48] leikkisa commented on #12375
Hi @rutvigupta-design @geronimoramos, this ticket is requesting a new screen to be designed for the Motion To Vacate flow.  This is the intake workflow screen that will show all of an appeals decision issues when creating the motion to vacate task.  The selected issues will be which issues to vacate.  Can you please let us know when you'll be able to create designs for this so that we can slot it

[2019-10-11 23:19] geronimoramos commented on #12286
@jcq @leikkisa updated the ticket with the copy and designs including removed drop down and the confirmation banners after submitting

[2019-10-13 02:16] jimruggiero commented on #12283
@geronimoramos @rutvigupta-design Can you provide an update on the progress of this design?

[2019-10-13 02:35] jimruggiero commented on #12285
@leikkisa This issue was reported by Jane in the EP 930 slack channel last week. Can I get your input on what additional AC's should be added, if any and whether any new screens would be required from Design in order for the team to estimate this one?

[2019-10-13 04:02] #12352 closed

[2019-10-13 05:34] yoomlam commented on #12082
Examining React component tree for the page, QueueTable's props.rowObjects always has the same 5 objects, while its child component BodyRows's props.rowObjects changes depending on the filtering selection. Hence, rowObjects are being filtered somewhere in between.

QueueTable's constructor calls requestTasks(), which calls endpointUrl for filtering the tasks, e.g., `/organizations/vlj-support/task

[2019-10-14 16:24] leikkisa opened #12378 "Add decision date to unidentified issue"
### User or job story
As a user intaking or editing a decision review, I can add a decision date to unidentified issues.

### Acceptance criteria
- This work is behind a feature toggle - unidentified_issue_decision_date
- On the Unidentified issues modal the user can enter a decision date
- The decision date is displayed with the unidentified issue after the issue is added
- The decision date is s

[2019-10-14 23:11] leikkisa opened #12380 "Add checkbox for verifying unidentified issue"
### User or job story
As a VSR, when I am editing a decision review's unidentified issues, I can click a checkbox to confirm that I verified that the issue is a valid past decision.

### Acceptance criteria
- [ ] This work should be behind a feature toggle: `verify_unidentified_issue`
- [ ] On the edit screen only, the unidentified issues modal shows a checkbox that the user can check to indicate

[2019-10-15 00:54] leikkisa opened #12381 "Check timeliness eligibility on unidentified issues"
### User or job story
As a user, when I add an unidentified issue that is ineligible due to its decision date, I should see the red ineligible reason on the edit screen.

### Acceptance criteria
- This work is behind the feature toggle: unidentified_issue_decision_date
  -  Note this should already be implemented via #12378
- Unidentified issues on Higher Level Reviews are checked for timeliness b

[2019-10-15 01:32] leikkisa opened #12382 "Missing Ratings | Handle save for verified unidentified issue"
### User or job story
As a user, when I create a verified unidentified issue, if a contention is created in VBMS, its contention text matches the issue's description.

### Acceptance criteria
- [ ] This work is behind the feature toggle: `verify_unidentified_issue`
  - [ ] This feature toggle was added in #12380
- [ ] The request_issues table has a new column called verified_unidentified_issue whi

[2019-10-15 13:08] msj0nes commented on #12036
@laurjpeterson  VHA and OIT is requesting an update on when to expect this to be completed. Related to YourIT ticket INC7193329 opened 2 months ago.

**Last Follow Up**: Sept 24th
https://dsva.slack.com/archives/C6E41RE92/p1569349181016500?thread_ts=1569348669.016400&cid=C6E41RE92

[2019-10-15 13:11] SusanRKagan opened #12383 "BSE 66139 - Capability to Create Separate Contentions for Effective Date and Evaluation Level"
### Requirement
Capability to Create Separate Contentions for Service Connection, Effective Date and Evaluation Level

### Value Statement
As a Caseflow user, I need the ability to split out a single AMA contention into multiple contentions that track back to the original contention to support the scenario where an appellant disagrees with the service connection, effective date and/or evaluation l

[2019-10-15 13:18] SusanRKagan opened #12384 "BSE 66141: Capability to Set Status of Grants and Remand Partial Grants to RFD in Caseflow"
### Requirement
Capability to Set Status of Grants and Remand Partial Grants to RFD in Caseflow

### Value Statement
As a Caseflow user, I need the system to automatically set the lifecycle status of Board full grants or remanded partial grants to "Ready for Decision" (RFD), so that the NWQ system can more expeditiously route and distribute the work to the correct decision maker and improve proces

[2019-10-15 13:19] msj0nes commented on #12239
## YourIT Information

YourIT Ticket   Number | Date Ticket Created | Case Details URL | Missing Contentions/Issues (Separated by   Commas)
-- | -- | -- | --
INC7623133 | 9/25/19 | https://appeals.cf.ds.va.gov/search?veteran_ids=250328 | Sleep Apnea

[2019-10-15 14:28] SusanRKagan opened #12386 "BSE 66125 – Capability for Caseflow to Track Proposals of Adverse Action Requiring Due Process – Track Claims Under EP600"
### Requirement
For proposals of adverse action requiring due process, Caseflow needs to be able to track these claims under an EP600 as the final decision is rendered under that EP

### Value Statement
As a Caseflow user, I need the ability to clear an AMA claim so that the station is still given credit for processing the claim, while also closing the claim without the need to authorize an award,

[2019-10-15 14:29] #8207 closed

[2019-10-15 15:05] nicholer commented on #12330
@lomaxap I'd need to do more research myself (this HHS guide doesn't seem to require a plain text version? https://www.hhs.gov/web/section-508/making-files-accessible/checklist/email-508-checklist/index.html). But it would be good for accessibility if we were able to send a multi-part message with both a text-only version and the HTML version.

[2019-10-15 15:06] pshahVA commented on #12343
Is this still blocking?

[2019-10-15 15:17] hschallhorn commented on #7461
Reopening as this was reverted in #11994 7547

[2019-10-15 15:25] pshahVA commented on #11508
@nicholer , I went through this one more time, and I had a question on the page where we update the hearing to "virtual".  Should we change the location to empty?
However, I'm not sure if we should do that, because then if you change it back, we need to know what to set the location to.

[2019-10-15 15:36] nicholer commented on #11508
@pshahVA Good question. I think it'd make sense to change the Hearing Location to 'Virtual'. And if the type was switched back, then the Hearing Coordinator could either manually edit the Location on the Daily Docket page (probably not the best experience), or we require them to enter it in the modal when they're switching back?

[2019-10-15 18:19] jcq opened #12388 "Create JS Util Function for Formatting Strings with New Line Chars to <br> or <p> Tags"
### Developer story
We often have copy that is intended to contain line or paragraph breaks. We want to be able to add this sort of item to the COPY.json file without needing to split it into multiple chunks.

### Acceptance criteria
- [ ] Properly replaces newline `\n` characters with `<br>` tags

[2019-10-15 19:51] alisan16 opened #12389 "Deliver Quarterly OIT Metrics Report"
Deliver quarterly metrics report to the OIT

Metric ID | 2. Metric Description | 3. Unit of Measure | 4. Performance Measurement Category Mapping | 5. Agency Baseline Capability | 6. 2018 Target | 7. 2019 Target | 8. Measurement Condition | 9. Reporting Frequency
-- | -- | -- | -- | -- | -- | -- | -- | --|
1709076052 | Caseflow Dispatch - Percent of non-denial decisions with an EP created within 7

[2019-10-15 19:53] alisan16 opened #12390 "Instrument Quarterly Hearings Show Rate metric"
This metric is required by OIT (Metric ID: 1812216039) and is critical to understand how the Caseflow Hearings products are helping to improve the appeals hearings process.

Metric definition: (Total scheduled meetings held – postposed hearings) / total scheduled meetings from Caseflow Hearing Schedule

Example SQL for AMA appeals from https://caseflow-looker.va.gov/looks/193
[code]

Once this met

[2019-10-15 19:56] laurjpeterson commented on #12036
Hi there - I don't have a time estimate to share with those stakeholders. Right now, we'll have to respond that it's still in the backlog. Is it possible to close the YourIT ticket because it's in our backlog so it doesn't affect our support team metrics?

[2019-10-15 19:56] laurjpeterson commented on #10009
@jimruggiero @leikkisa - whaddaya say we close this one?!

[2019-10-15 21:19] laurjpeterson commented on #11669
This is now a duplicate of the more recently created https://github.com/department-of-veterans-affairs/caseflow/issues/12318

[2019-10-15 21:19] #11669 closed

[2019-10-15 21:31] lomaxap commented on #12175
My understanding is that organizations generally limit access to queues and actions related to Tasks. Will giving the attorney access to the JudgeTeam give them access to all the functionality they need to act on behalf of a judge for this ask? (e.g: in the [LegacyDecisionReviewTask](https://github.com/department-of-veterans-affairs/caseflow/blob/d5fa44f66a2b576e9c75e5b7381b97c4539faa65/app/models

[2019-10-15 21:52] leikkisa commented on #10009
@laurjpeterson That sounds good to me! There's a couple of small PRs still to get done but we can go ahead and close this epic.

[2019-10-15 22:07] pkarman commented on #10516
- [ ] https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/88394/parallel-runs/1?filterBy=FAILED

Likely a missing `:all_dbs` clean up for VACOLS in some unrelated spec.

[code]

[2019-10-15 22:15] lowellrex opened #12392 "Queue knowledge share"
This Github issue exists to collect questions about various Queue-related features, implementation characteristics, and decision-making processes so that we can pass on that knowledge and inform decision-making into the future! A lot of information [related to Queue is captured in the wiki](https://github.com/department-of-veterans-affairs/caseflow/wiki/Caseflow-Queue) (topics covered so far in th

[2019-10-15 22:17] lowellrex commented on #12392
* [ ] What is the difference between `TimedHoldTask`s, `TimeableTask`s, and `TaskTimers`?

[2019-10-15 22:50] lowellrex opened #12394 "Create method to reassign all open tasks for a given user"
When a Caseflow user becomes inactive we need some mechanism to reassign the open tasks assigned to that person. This ticket exists to implement the solution [outlined in the tech spec](https://github.com/department-of-veterans-affairs/caseflow/pull/12197/files#diff-33a91cd5134bf0c5a4522e456e900342) from PR #12197.

### Acceptance criteria
* [ ] Create rake task that reassigns open tasks for a giv

[2019-10-15 23:01] lowellrex opened #12395 "Create data integrity check for stalled appeals"
After #12394 is implemented, we will be able to reassign tasks assigned to inactive Caseflow users. While reviewing the tech spec, @yoomlam [identified the possibility](https://github.com/department-of-veterans-affairs/caseflow/pull/12197/files#r329171990) that these tasks may be reassigned to organizations whose queues are not actively monitored and may be ignored for extended periods of time. As