[2017-06-22 13:41] gnakm commented on #1750
@Sjones352 updated above ^

[2017-06-22 13:46] sharonwarner opened #2408 "User unable to create end product"
https://github.com/department-of-veterans-affairs/appeals-support/issues/194

[2017-06-22 13:49] sharonwarner opened #2409 "Can't process cases for veterans with no SSN"
https://github.com/department-of-veterans-affairs/appeals-support/issues/193

[2017-06-22 13:52] #2399 closed

[2017-06-22 14:14] mdbenjam commented on #1959
@kierachell I think this should be fixed with the scrolling changes. Would love your confirmation.

[2017-06-22 14:36] kierachell commented on #1959
Now it's not the same issue, but there's a LOT of lag with big documents
- I think you already know about the status bar loading
![lotsa pages](https://user-images.githubusercontent.com/18075411/27439239-7d1226f2-5735-11e7-8935-a45ba5506d2f.gif)

- There's also all these network calls, not sure if intended:
![loadingeverything](https://user-images.githubusercontent.com/18075411/27439702-8f15dd3e-5

[2017-06-22 15:07] mdbenjam commented on #1959
Let's make a new ticket for this.

We are downloading future PDFs while displaying the first one. But this is good to see firsthand. These downloads are taking forever. There might be a way to reduce the impact on current viewing. This is a little hard to fake out, so it's hard to see while dev-ing. This is also something that eFolder Express integration might help. A change is in CR that will add

[2017-06-22 15:52] kierachell opened #2412 "Document Viewer | Loading nearby PDFs hold up rendering of current view"
# Description
When loading a large document or a case with many documents,
sometimes it takes forever to render the current PDF into view because it seems like other PDFs are loading in the background

## Reproduction Steps

**Scenario 1 -**

1. Go to a case with many documents (1255968 in `uat`)
1. Go to view a document
1. Watch the network calls in the background
1. Move about to a document with

[2017-06-22 15:52] kierachell commented on #1959
**PASSED**
new issue captuer in #2412

[2017-06-22 15:52] #1959 closed

[2017-06-22 15:57] kierachell commented on #1789
**PASSED**
<img width="929" alt="screen shot 2017-06-22 at 11 56 37 am" src="https://user-images.githubusercontent.com/18075411/27443707-f999bd5a-5741-11e7-9934-bf8a70fb770a.png">
<img width="729" alt="screen shot 2017-06-22 at 11 56 43 am" src="https://user-images.githubusercontent.com/18075411/27443706-f9962bb8-5741-11e7-809a-daac88b256c7.png">
<img width="1173" alt="screen shot 2017-06-22 at 11

[2017-06-22 15:57] #1789 closed

[2017-06-22 16:14] kierachell opened #2413 "[v1] Form 8 | Editing fields requires two reloads of Form 8 for values to update properly"
# Description
When **Going back to make edits** the Caseworker has to reload the Form 8 PDF twice before the changes to the edited fields are reflected in the PDF.

## Reproduction Steps

**Scenario 1 -**

1. Go to Certification v1
1. Input values in Remarks or whatever
1. Go view PDF
1. Go back to make edits
1. Edit fields
1. Go Preview PDF again
1. See changed **NOT HAPPEN**
1. Be sad.
1. Go bac

[2017-06-22 17:59] slj commented on #1696
Solution screenshot:
<img width="663" alt="screen shot 2017-06-22 at 1 58 30 pm" src="https://user-images.githubusercontent.com/1053255/27448497-fe6f88ee-5752-11e7-8fd0-59a199c5b87c.png">

[2017-06-22 18:38] cmgiven opened #2416 "Decisions with remanded issues return bva_remand"
VACOLS will mark any decision with an allowed issue with the disposition of allowed. We use this appeal disposition to determine what kind of event to return from the Status API. We need to instead look to the issues, marking any decision with at least one remand as `bva_remand` regardless of whether the other issues are allowed or not.

## AC

* Appeals with at least one remanded issue have a `bv

[2017-06-22 18:45] cmgiven opened #2417 "Differentiate pre- and post- remand SSOCs"
Currently, all SSOCs are given as events of the same type. However, the front-end needs to be able to distinguish between SSOCs that occur prior to certification, and those that occur after a remand, in order for the content to describe why each SSOC has occurred.

## AC

* If the SSOC date is before the certification date (`BRIEFF.BF41STAT`), the API should return an event of the type `ssoc`.
* I

[2017-06-22 18:52] mdbenjam commented on #2364
@gnakm I really like this! But--it will not be possible until we move rendering the header from Rails to React :/

[2017-06-22 18:52] amprokop commented on #2416
@cmgiven — can you add a little bit more detail, or point to some documentation? What fields, specifically, are we looking at?

[2017-06-22 19:17] amprokop commented on #2416
I'm looking for something along the lines of— "Previously we used TABLEX.FIELDY to determine whether the appeal was remanded, but we need to instead look at all the entries of TABLEA where FIELDZ is equal to the appeal id and check if FIELD0 is 'REMAND'"

[2017-06-22 19:24] cmgiven commented on #2416
Previously we looked simply to the appeal disposition (`BRIEFF.BFDC`), grouping in the types here: https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/appeal_event.rb#L4

If `BRIEFF.BFDC` is equal to `1` ("Allowed"), however, this could still be a decision that contained both an allowance and a remand ("partial grant" in Dispatch-speak). So in that case, we need to in

[2017-06-22 19:27] kierachell commented on #2416
Possible ISSDC:
[code]

[2017-06-22 19:47] mdbenjam commented on #2337
Closing this in favor of an issue in the eFolder repo: https://github.com/department-of-veterans-affairs/caseflow-efolder/issues/504

[2017-06-22 19:47] #2337 closed

[2017-06-22 19:48] cmgiven commented on #2416
We only need to care about ISSDC=3.

[2017-06-22 19:48] mdbenjam commented on #2334
Closing in favor of an issue in the eFolder repository: https://github.com/department-of-veterans-affairs/caseflow-efolder/issues/505

[2017-06-22 19:48] #2334 closed

[2017-06-22 20:42] mogrenAtWork commented on #1744
This was not fixed with the latest version of Chromedriver. I suspect it will take some additional shell commands in .travis.yml to start chromedriver before the test runs.

I'm going to wait until we have a discussion on Docker/CircleCI before sinking any time into this.

Will set up meeting with @NickHeiner and @askldjd

[2017-06-22 20:49] joofsh opened #2418 "Analytics | Add timestamps to all Reader tables"
Currently we do not store `created_at` or `updated_at` timestamps for annotations. We're losing data that would be potentially useful for analytics in the future.

#### Acceptance Criteria:
- the 2 timestamp columns (created_at, updated_at) have been added to all Reader tables
- The new timestamp columns are automatically set on create and update

[2017-06-22 20:50] amprokop opened #2419 "Bug: Ensure loading indicator appears when Form 9 is loading on UAT and prod"
The Form 9 is slow, so we should definitely have a loading indicator. It seems to appear on demo, but for some reason it didn't show up in prod. Let's check UAT and ensure that it shows up.

This seems to be exclusive to IE:
- The PDF is force downloading, instead of rendering the thing. Maybe PDFJS is broke?
<img width="1062" alt="screen shot 2017-07-07 at 11 27 43 am" src="https://user-images.gi

[2017-06-22 20:51] amprokop opened #2420 "[V2 - For St. Pete] Modify text of the hearing question"
### Acceptance Criteria

@astewarttistatech  This _can_ be validated in `demo` as it requires no integration whatsoever - just Certification v2 access

1. Instructions underneath the Confirm Hearing heading are: "Check the eFolder for the appellant’s most recent hearing preference."
2. The first question on the Confirm Hearing page is: "Has the appellant requested a change to their hearing prefere

[2017-06-22 20:56] amprokop opened #2421 "Prefill DRO's name and title on the Sign and Certify page"
As a Caseflow Certification user, I would like my name to auto-populate on the Sign & Certify page so that I don't have to type it in each time I certify a case.

It doesn't appear to be possible to prefill the user's title.

Acceptance Criteria:
- When the user gets to the Sign & Certify page, their name auto-populates into the Name field.
- Use the CSS user object to get the user's name.
- Name

[2017-06-22 21:13] mdbenjam opened #2422 "React on Rails | Move header from Rails to React"
We currently render the page header in a Rails erb file. This leads to several problems:

1. We cannot make the homepage link a React-Router Link, so it forces us to make a network request when we could stay within the SPA.
1. We cannot modify the header within the SPA with things like the veteran's name, or breadcrumbs about which page you're on.

# AC
- [x] Verify there is a new React component

[2017-06-22 21:28] mdbenjam opened #2424 "Accordion Component"
We need an Accordion Component for Reader.

[2017-06-22 21:29] mdbenjam commented on #2424
Duplicate of #1482

[2017-06-22 21:29] #2424 closed

[2017-06-22 21:57] mdbenjam opened #2425 "Header | Names with Capital Letters not properly titlecased"
Our method veteran_full_name currently splits names with capital letters into two words. i.e. VanBuren -> Van Buren.

We're using the method titleize in the method veteran_full_name. [Titleize](https://apidock.com/rails/ActiveSupport/Inflector/titleize) first splits words that have camel case into separate words. Then it capitalizes the first letter of each word. Instead, we should just capitalize

[2017-06-22 22:49] NickHeiner commented on #1482
Where are accordions used in the app currently?

[2017-06-22 22:49] NickHeiner commented on #1482
Ah, nm, I see in #2424 that it's planned for Reader.

[2017-06-22 23:30] Sjones352 commented on #1750
@gnakm and @abbyraskin  Currently It looks like this
![reader](https://user-images.githubusercontent.com/23080951/27460269-c77f0ebc-5780-11e7-9fe1-5a6b982c9eaa.gif)

[2017-06-22 23:31] shellicious opened #2427 "[V2] Investigate: how many Form 9s in VBMS have the same date"
Multiple Form 9s with the same date came up twice during the NYRO pilot. Before investing design/dev resources into building a feature around this edge case, we wanted to assess how prevalent this problem is.

It would be great to know:
- In VBMS, how many Form 9s have the same date?
- What percentage of Form 9s have the same date?

[2017-06-23 02:45] askldjd opened #2430 "Make Google Analytics useful"
We need a sensible way to record and understand Google Analytics stuff

## Acceptance criteria
- [x] Configure GA to work with `certification.cf.ds.va.gov` and `appeals.cf.ds.va.gov`
- [x] Make it easy to send page events to Google Analytics
- [x] Investigate whether we can send the page name (ie. `Document Page`) vs the page url (ie. `/document/1234`)
- [x] Get unique page views working (ideally

[2017-06-23 04:22] tejans24 opened #2431 "Use environment variable for google analytics config"

[2017-06-23 11:05] aroltsch commented on #2383
There are a few files having `report` in their name in app/services. Ok, good point on `bgs` and `vbms`. Should we nest `bgs` and `vbms` under `app/services/external_api`? And we can place vacols repositories under `app/services/vacols`?
@amprokop @joofsh @mdbenjam

[2017-06-23 13:05] amprokop commented on #2383
Sure, that sounds good.

[2017-06-23 13:10] kierachell commented on #1999
### AC is missing the URL for the welcome page: `reader/appeal`

### Going back from other pages can result in a beautiful JSON:
![jsonhistory](https://user-images.githubusercontent.com/18075411/27483538-ca4cb4f0-57f3-11e7-9c55-3abe42fee3ef.gif)

[2017-06-23 14:00] mdbenjam commented on #1999
JSON is interesting, let me look into that.

[2017-06-23 14:11] kierachell commented on #2300
**PASSED**
saw them emails

[2017-06-23 14:11] #2300 closed

[2017-06-23 14:16] gnakm commented on #2229
In Nick's Voice, "meEeegaa filter."

Abby/ Gina convo:

With the filter alert coming up each time, we thought it was jarring and redundant. It gave us a space to explore what a mega filter would look like.

- allows the combination of seeing all filter-able options including
- It might be a better alternative to the filter + expand all situation
- It helps separate from the search box yet easily s

[2017-06-23 15:06] kierachell commented on #2333
## Action items:
- SPIKE: other CI tools: jenkins, circle ci? vets.gov swarm
- New testing style: contract frontent vs backend test, with less feature tests
- Address current Pending tests per app:
- Explore a way to setup parallel tests: feature tests in parallel?
- Document "How we do testing!" - `ensure stable helper`

[2017-06-23 15:07] NickHeiner commented on #2333
This is the [`ensure_stable`](https://github.com/department-of-veterans-affairs/caseflow/blob/master/spec/feature/reader_spec.rb#L5) helper.

[2017-06-23 15:30] mogrenAtWork opened #2436 "Create Dockerfile and new Jenkinsfile to mock Travis setup"
- [x] Create a Dockerfile to at least mock the test environment to be used with Jenkins/CircleCi/locally/or any other CI pipeline that accepts Docker.
- [x] Create a new Jenkinsfile (separate of the current Jenkinsfile) that sets up a Kubernetes cluster with Postgres, Redis and the Ruby containers to be used for the Jenkins instance Vets.gov has set up
- [x] Set up a Jenkins job (in the new instan

[2017-06-23 15:36] askldjd commented on #2333
Just an update on the shared CI pipeline with vets.gov.

@CyberKoz has a prototype Jenkins k8s cluster ready and @mogrenAtWork will start developing against it. There are the steps.
1. Create a base container
1. Migrate Travis steps into shell scripts
1. Add the jobs to Jenkins prototype for testing and performance evaluation.
1. Deploy to production

There are two key advantages for this setup.

[2017-06-23 15:38] kierachell commented on #1999
## Bad time with the header
![whatsupwithheader](https://user-images.githubusercontent.com/18075411/27489404-706c47e2-5808-11e7-80ce-5cecde9cfc60.gif)

## It's not exactly loading new documents for a different case if the previous one failed

[2017-06-23 15:49] cmgiven commented on #2427
Are we looking for the prevalence of two appeals for the same Veteran that have the same Form 9 date? Or do we need to look to VBMS to understand whether they have multiple documents? (Querying VBMS is difficult, so hoping the former.)

[2017-06-23 15:54] NickHeiner commented on #2333
Why?

Regardless, this does increase the devops cost on DSVA overall. I am still not sold that we shouldn't use a SaaS solution to decrease our devops burden. @askldjd what are the benefits of Jenkins over CircleCI? I agree that Jenkins costs less money, but the budget may not be the biggest concern here.

[2017-06-23 16:02] slj opened #2437 "Fix Hearings Schedule"
Related to #1883

When the user visits the hearings schedule page, the browser should show a loader then make an API request for dockets, which, when loaded, are displayed in a table where the first column (date) links to each docket.

**This will make the page match the screenshot in the AC of #1883.**

[ SCREEN SHOT ]

Currently, the API returns an array of dockets:
<img width="366" alt="screen

[2017-06-23 16:04] askldjd commented on #2333
Arbitrary. We can discuss this.

Personally, I would much prefer to have the infrastructure stack to line up with vets.gov team. Having two CI solution for DSVA seems to make no sense.

Performance. I haven't seen performance number from Circle CI. However, they are [unlikely to be able to match the performance](https://circleci.com/blog/why-is-my-build-slow/) of a custom Jenkin swarm.

[2017-06-23 16:06] lakohl commented on #2197
@abbyraskin I'm not exactly sure what you mean by the email gaps. can we sync up on this?

[2017-06-23 16:07] lakohl commented on #1868
Waiting for feedback form AMO.

[2017-06-23 16:14] lakohl commented on #2104
Dependent on #1762

[2017-06-23 16:20] lakohl commented on #1562
@gnakm lets check in on this

[2017-06-23 16:22] lakohl commented on #1705
closing for #2104

[2017-06-23 16:22] #1705 closed

[2017-06-23 16:33] abbyraskin commented on #2197
I'm also unclear on what is meant by gaps, but it sounds like there's a scenario where there are multiple "tier 3" (email, no EP) special issues, so we don't know who to email? Or are we missing specific email addresses?

[2017-06-23 16:35] lakohl commented on #1010
@gnakm I think this might be a duplicate of what we discussed in our design mtg yesterday

[2017-06-23 16:36] lakohl commented on #2227
Private Attorney claims should start showing here. Need to gather more info on what other types of claims could flow through Caseflow Dispatch and are not today

[2017-06-23 16:41] lakohl commented on #2227
@cmgiven Can we talk about this on monday?

[2017-06-23 17:15] amprokop commented on #2427
If you think the former is a reasonable proxy for the latter, then the former is probably fine IMO — thoughts @shellicious?

[2017-06-23 17:24] mmlumba commented on #1482
@gnakm would it be possible to put the accordion text within the ticket also?

[2017-06-23 17:33] cmgiven commented on #2427
Yeah, I think it's the difference between how many Veterans _should_ have two Form 9 documents with the same date, versus how many _do_ have two Form 9 documents.

[2017-06-23 17:55] NickHeiner commented on #2436
See also: #2293.

/cc @kierachell in case you have also done work with Docker for this.

[2017-06-23 17:58] slj opened #2438 "Create LoadingSymbol component"
Supports #2437 etc

This component can initially be used on loading dialogs and loading buttons.  Currently, loading buttons take an `app` property which maps to one of several SVGs loaded via the CSS `background:` property.  While it served its purpose at the time, now that we're really building components, it's time to make this change.  As a plus, the component can use inline SVG, eliminating a

[2017-06-23 18:03] kierachell commented on #1897
**PASSED**

<img width="712" alt="screen shot 2017-06-23 at 2 02 41 pm" src="https://user-images.githubusercontent.com/18075411/27494625-be47fe66-581c-11e7-84b3-114e8afebafb.png">

[2017-06-23 18:03] #1897 closed

[2017-06-23 18:03] mmlumba commented on #1482
Potential third party React plugins:
*react-sanfona*: accessible React accordions https://github.com/daviferreira/react-sanfona

[2017-06-23 18:10] shanear commented on #2293
of our ~18 min total build time right now, these are some steps we could take to shave some time off of that:

- < 1 min - Cache as much as the environment setup as we can (ruby, npm, gems, etc.). We already to this to a large degree on travis.
- 3 min - Do steps that are easy to parallelize in parallel. (lint, js tests, rspec test, security)
- 5 min - Parallelize the rspec test (unit, feature 1,

[2017-06-23 18:13] shellicious commented on #2427
We'd like to assess approximately how often the edge case of two Form 9s for the same veteran occurs (could be the same appeal, could be different appeals, there's no way to tell without reading the Form 9s and other docs). If it's really infrequent, we can deprioritize designing/building around this edge case. If it is frequent enough, then we should prioritize designing/building a future.

I'd p

[2017-06-23 18:19] cmgiven commented on #2427
To actually look at documents in VBMS will take some time, but I ran the easier numbers, and the results surprised me.

Of all Veterans who have appeals that have been perfected (have a Form 9) but have not been certified, *6%* have two or more appeals with the same Form 9 date. That's a pretty decent number. Perhaps that's sufficient to help with prioritization?

[code]

[2017-06-23 20:00] mmlumba opened #2439 "Page up/down keyboard shortcuts do not work in FF"
<h1>Template</h1>

**Description:**

When in Caseflow Reader on the single document view, pressing `alt+up arrow` or `alt+down arrow` keys does not cause the page to move up or down in Firefox.

**Expected Results (If Any):**

The page up and page down shortcuts should work

**Browser Found:** Firefox

**Environment Found:** Demo

**Associated Issues/Stories:**

#2107

***

- [ ]    5 - Data loss,

[2017-06-23 20:12] mdbenjam commented on #1999
Header is a known limitation of doing the page layout in Rails not React. Here is the ticket: https://github.com/department-of-veterans-affairs/caseflow/issues/2422. I'll look into two and three.

[2017-06-23 21:09] mmlumba opened #2441 "Viewport tests for Reader fail on 13 inch Mac"
Description:
When running a test locally on a 13 inch Macbook, any tests with the `in_viewport` helper fail because Capybara cannot generate a large enough screen size. Also Capybara does not scroll to the element in the viewport.

Example:
[code]

[2017-06-23 21:21] joofsh opened #2443 "Move fake vacols DB out of Rails auto-reload path"
Right now we save our in-memory fake "VACOLS DB" on `Fakes::AppealRepository.records` and `Fakes::HearingRepository.hearing_records`, etc. These classes get auto-reloaded by Rails in development mode on file save. This causes our in-memory DB to get wiped every save.

#### Acceptance Critiera:
Move storing fakes from a class that is auto-reloaded by Rails to one that is explicitly outside the auto

[2017-06-23 21:27] joofsh opened #2444 "Remove all create() calls from Generators' build() methods"
Currently, we call `create` on other models [from within our generators](https://github.com/department-of-veterans-affairs/caseflow/blob/master/lib/generators/establish_claim.rb#L6). This means, even if you call `build()` and create the model in memory, you are still persisting the associated model to the DB. If possible, we should not be calling `create` inside generator `build` methods.

#### Ac

[2017-06-23 22:03] NickHeiner commented on #2293
It's been said elsewhere but just for anyone following along here: we can have a public Jenkins setup.

[2017-06-23 22:04] NickHeiner commented on #2430
@shanear is going to take this on.

[2017-06-23 22:07] NickHeiner commented on #2436
/cc @shanear

[2017-06-23 22:10] NickHeiner commented on #2333
I agree with this. Unless CircleCI competency is trivial compared to the work of maintaining more Jenkins environments.

I agree, but I wonder why DSVA doesn't use a SaaS solution instead of Jenkins for CI as well! :smile:

This is a good data point. I would love to chat with them more about why they chose Jenkins.

I agree that we still need to investigate further, but I wouldn't be surprised if

[2017-06-23 22:32] kierachell opened #2445 "Appeal List | Add loading indicator"
# Description
When going to Reader for the first time
it can take a bit of time to load all the appeals/veteran info,
but there's no indication about how long...

## AC
- [ ] Add loader similar to the loader for loading document list page
   - [ ] [Style guide reference](https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/styleguide#loaders)
- [ ] Copy should say "Loa

[2017-06-23 22:37] joofsh opened #2446 "How can we improve our seed/fakes setup?"
Lately we've had issues regarding our seed/fakes setup. The `AppealRepository.seed!` gets run on every pageload, which creates new records & spam in the logs. Open to ideas on how we might improve this setup.

2 ideas that come to mind for me are:
- [Remove all create calls from our generators](https://github.com/department-of-veterans-affairs/caseflow/issues/2444)
- [Move fake vacols DB out of Ra

[2017-06-26 00:04] kierachell commented on #1776
**PASSED**
But doesn't quite work with keyboard ?
![readmebabyonemoretime](https://user-images.githubusercontent.com/18075411/27520815-72b0d1a0-59e1-11e7-8471-4853d016a104.gif)

[2017-06-26 00:04] #1776 closed

[2017-06-26 00:16] kierachell commented on #2367
**PASSED**
Technically passes the AC, but... something is off:
![loadmebabyonemoretime](https://user-images.githubusercontent.com/18075411/27520903-24d99ae6-59e3-11e7-9174-92d6d51b0aca.gif)

[2017-06-26 00:16] #2367 closed

[2017-06-26 00:16] kierachell commented on #1960
### There seems to be a new issue when navigating between many documents quickly:

[2017-06-26 00:28] Sjones352 commented on #1750
Currently looks like this.
![reader](https://user-images.githubusercontent.com/23080951/27520949-e4c49cb6-59e3-11e7-8814-4b823d341d5e.gif)

[2017-06-26 00:31] kierachell commented on #2416
VACOLS:
[code]

API:
[code]

[2017-06-26 00:32] kierachell commented on #2416
VACOLS:
[code]

API:
[code]

[2017-06-26 00:33] kierachell commented on #2416
VACOLS:
[code]

API:
[code]

[2017-06-26 00:33] kierachell commented on #2416
**PASSED**
I think :D

[2017-06-26 00:33] #2416 closed

[2017-06-26 00:43] kierachell commented on #2376
Still blocked:
[code]

[2017-06-26 00:58] kierachell commented on #1849
### So the code is there
<img width="504" alt="screen shot 2017-06-25 at 8 56 13 pm" src="https://user-images.githubusercontent.com/18075411/27521269-dccc33a2-59e8-11e7-950a-a65b094bed67.png">

### But the screen reader is not recognizing it:

[code]

[2017-06-26 02:33] shellicious commented on #2427
Wow, that seems higher than I expected. Thanks @cmgiven! @laurjpeterson @amprokop, what do you think about prioritizing this as a feature to design this or next sprint?

[2017-06-26 03:06] mmlumba commented on #1849
@kierachell which screen reader are you using for this?

[2017-06-26 06:20] kierachell commented on #1849
https://en.m.wikipedia.org/wiki/JAWS_(screen_reader) and I also have NVDA.

[2017-06-26 10:05] lakohl commented on #2218
Updated Invision link under AC

[2017-06-26 10:37] aroltsch opened #2447 "Organize directory structure for external dependencies in Caseflow"
1. Remove app/repositories directory as it is unclear what it means.
2. Place BGS and VBMS code under app/services/external_api* and Vacols repositories under app/services/vacols/*
3. Place report code under app/services/reports/* directory
4. Leave local services in app/services/* directory

[2017-06-26 10:37] #2383 closed

[2017-06-26 11:52] mogrenAtWork commented on #1776
@kierachell do we need a ticket for this to work with the keyboard?

[2017-06-26 12:39] kierachell commented on #1776
- It hasn't really worked for a while.... in many different forms: either just erroring, or 404ing, or not marking as read...or a lot of ways.
https://github.com/department-of-veterans-affairs/caseflow/issues/1734

[2017-06-26 13:21] gnakm commented on #1750
@Sjones352 Yes! That's exactly how we wanted it to look like :)

[2017-06-26 13:35] astewarttistatech commented on #2168
Still validating James, Edward, B (879325488) in Dispatch.

[2017-06-26 13:42] cmgiven commented on #2416
Confirmed.

[2017-06-26 13:43] mdbenjam opened #2449 "Tests | Javascript based testing"
As per our discussion in https://github.com/department-of-veterans-affairs/caseflow/issues/2333, we need to investigate the best setup for Javascript feature tests in Reader.

[2017-06-26 13:45] gnakm opened #2450 "Document list | change loader message"
**Description**
We are now calling Documents list --> Claims folder.

## AC
- New copy: Loading claims folder in Reader…

## Mock up:
![image](https://user-images.githubusercontent.com/13420618/27542083-282a1c2c-5a54-11e7-8c66-6a3039fb93e7.png)

[2017-06-26 14:05] mdbenjam commented on #1960
I think this is unrelated to the bug I just fixed. I've heard about this before, but never seen it with my own eyes. Are you sure this didn't happen before this change? @kierachell

[2017-06-26 14:16] abbyraskin commented on #1849
@kierachell is this browser specific?

[2017-06-26 14:21] gnakm commented on #2445
Thanks @kierachell. Moved original copy here and edited it for the AC above.

# Description
When going to Reader for the first time
it can take a bit of time to load all the appeals/veteran info,
but there's no indication about how long...

## Reproduction Steps

**Scenario 1 -**

1. Go to Reader for the first time
1. See nothing
1. Wait
1. See something
1. Wonder if lag

**Validated in the follow

[2017-06-26 14:23] sharonwarner opened #2451 "Create unit tests for 'When there is an existing 070 EP' test"

[2017-06-26 14:31] laurjpeterson commented on #2427
That is surprising! @shellicious yep, I think it makes sense to get a design out for this. cc: @cmgiven @amprokop

[2017-06-26 15:07] gnakm commented on #1084
@mmlumba This gets tricky because different header levels can have technical notes and it might be confusing for those using screen readers to think that a technical note is another header.

Could we have it so that we just bold Technical notes instead? That way it feels like it is a part of the body. Also, I don't think it's necessary to italicize the word React. So for this example it would be:

[2017-06-26 15:21] NickHeiner commented on #1849
Hmm. I wonder if those the screen readers are ignoring `aria-label` for `a` elements. If that's the case, I would not worry about this. I am curious what VoiceOver on macOS does.

[2017-06-26 15:26] abbyraskin commented on #1849
It works in VoiceOver.

[2017-06-26 15:26] slj commented on #2438
Component in action:
![loading_symbol](https://user-images.githubusercontent.com/1053255/27546890-24d0321a-5a62-11e7-80dc-e236d5b9adfb.gif)

[2017-06-26 15:32] gnakm commented on #1482
@mmlumba I added the text to the Copy section under AC above. I'm advertising for USDS 😛

[2017-06-26 15:33] mdbenjam opened #2454 "Dispatch Test Suite Updates"
Dispatch's feature tests are not in a good state. We currently skip several of them, and even the tests we do run are flaky and unreliable. We need to determine why the tests are flaky and update the test suite.

# AC
1. Stop skipping tests
1. Run the entire test suite wrapped with [ensure_stable](https://github.com/department-of-veterans-affairs/caseflow/blob/master/spec/feature/reader_spec.rb#L5

[2017-06-26 15:34] mdbenjam opened #2455 "Fix skipped tests | Reader Spec"
We currently skip the following test(s):

"Zooming changes the size of pages"

# AC
1. Stop skipping the test(s)
1. Run the test(s) wrapped with [ensure_stable](https://github.com/department-of-veterans-affairs/caseflow/blob/master/spec/feature/reader_spec.rb#L5) and make sure it passes locally and on travis 10 times.

[2017-06-26 15:35] mdbenjam opened #2456 "Fix skipped tests | Login Spec"
We currently skip the following test(s):

"With valid credentials"
"Logging out redirects to home page"
"Single Sign On is down"

# AC
1. Stop skipping the test(s)
1. Run the test(s) wrapped with [ensure_stable](https://github.com/department-of-veterans-affairs/caseflow/blob/master/spec/feature/reader_spec.rb#L5) and make sure it passes locally and on CI 10 times.

[2017-06-26 15:37] mdbenjam opened #2457 "Fix skipped tests | Certification Specs"
We currently skip the following test(s):

"Trying to skip steps" - save_certification_spec
"When user tries to skip by manually entering URL"  - start_certification_spec

# AC
1. Stop skipping the test(s)
1. Run the test(s) wrapped with [ensure_stable](https://github.com/department-of-veterans-affairs/caseflow/blob/master/spec/feature/reader_spec.rb#L5) and make sure it passes locally and on travi

[2017-06-26 15:40] mdbenjam opened #2458 "SPIKE: Investigate parallelization of test suite"

[2017-06-26 15:40] mdbenjam commented on #2333
I'm closing this discussion ticket. With the following opened to track action items:

#2449
#2293
#2455
#2457
#2456
#2454
#2458

[2017-06-26 15:40] #2333 closed

[2017-06-26 15:57] kierachell opened #2459 "Document Viewer | Navigating between documents locks up `Loading` state"
- After navigating too far away from a loaded document too fast (I am using arrow keys), they stop really rendering.
- It takes about 5-6 documents to cause rendering issues
- The only solution is to reload the page
![loadmebabyonemoretime](https://user-images.githubusercontent.com/18075411/27520909-3cf0336a-59e3-11e7-9a82-663bacf52151.gif)

[2017-06-26 16:04] gnakm commented on #1750
@Sjones352 So the problem we discussed in person is that without an icon, it's hard to tell if one of the sortable headers is clickable. I added a new icon to replace the previous icon we had.

[2017-06-26 16:41] mmlumba commented on #1084
@gnakm I removed that section from this component since it no longer applies, but I'll keep in mind the feedback for future style guide tickets (and/or current components that need this section). Thanks!

[2017-06-26 17:27] gnakm commented on #2364
^^^ @lakohl @joofsh Curious to know how you guys are/were planning to build breadcrumbs for Hearings Prep

[2017-06-26 18:21] NickHeiner commented on #1849
Ok, then I think we should close this issue and say we've satisfied it.

[2017-06-26 18:26] lakohl commented on #1562
Ready to go

[2017-06-26 18:27] NickHeiner commented on #1849
I know that our users are not on Macs, but if we are creating accessible technology to the spec. If screen readers decide not to adhere to that spec, it gets into diminishing returns quickly for us to try to hack around it. Unless someone specifically complains that this is blocking them, I recommend closing this issue.

[2017-06-26 18:33] mdbenjam opened #2461 "Tests | Upgrade testing gems"
One possible cause for the slow tests and random failures may be due to using old testing gems. We should upgrade all of our tests, and look into migrating to Rails 5.

[2017-06-26 18:38] abbyraskin commented on #1849
@kierachell per conversation above + official decree from NTH2017, I'm closing this out (note that it works with Voiceover OSX and ChromeVox).

[2017-06-26 18:38] #1849 closed

[2017-06-26 18:48] nickheiner-usds commented on #273
@kierachell what are you referring to specifically?

[2017-06-26 18:52] tejans24 opened #2462 "Fetch google analytics tracking id from the environment variable"

[2017-06-26 18:52] NickHeiner commented on #2249
There is consensus that we should have good commit messages. Closing this out.

[2017-06-26 18:52] #2249 closed

[2017-06-26 18:58] abbyraskin commented on #2364
@gnakm i added #2422 as a dependent story in your AC :-D

[2017-06-26 19:43] Sjones352 commented on #1750
@gnakm Currently

![reader](https://user-images.githubusercontent.com/23080951/27557014-fc9f6a4e-5a85-11e7-9a34-61d9b7cb30f9.gif)

[2017-06-26 19:52] nemodjuric commented on #2294
After talking to @gnakm, the mock is missing bottom border from cf-nav.

[2017-06-26 20:02] gnakm commented on #1750
@Sjones352 sorry i re-uploaded the double arrow svg file (it's updated in the AC) because the space between the two arrows looked too tight. https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Projects/Styleguide/Design%20files/Icons/Double%20arrow.svg

[2017-06-26 20:16] Chingujo opened #2466 "[v2 - For St. Pete] Refresh page error after NOD date discrepancy error"
## Description
When user click "Refresh this Page" after correcting the NOD date in VBMS, instead of getting a green success page, takes them to an erroed "Review Form 8 page." This error occurred three times. Once organically and once artificially as we re-created the issue.

## Reproduction Steps
1.) NOD not found after launching Caseflow Certification V2
<img width="378" alt="screen shot 2017-0

[2017-06-26 20:25] amprokop opened #2467 "Rspec doesn't pick up the latest build"
Popular belief has it that rspec often doesn’t pick up the latest local build unless you manually run `npm run build`.

NTH 2017 commented, "Yes."

He continued on:
[code]

[2017-06-26 20:26] lakohl commented on #632
Closing no longer needed

[2017-06-26 20:26] #632 closed

[2017-06-26 20:27] joofsh opened #2468 "[Backend] Update upcoming_hearings_for_judge Query"
Currently the logic identifies master records incorrectly, doesn't pull in records with dispositions (during the day, judges would lose access to their hearings after they fill out the disposition) and doesn't pull in empty dockets.

Acceptance Criteria:
- Ensure we pull in hearings records from VACOLS such that we know about video empty dockets
- Ensure we are correctly identifying and handling m

[2017-06-26 20:31] joofsh commented on #2467
I believe this is due to running hot module reloading. In HMR mode, the compiled assets are served from memory. Before that, running `npm run dev` was watching for file saves and recompiling constantly. That way when running tests, you always got the freshest assets.

Compiling the assets before every test run is slow, so in order to avoid slowness we added a caching mechanism here: https://github

[2017-06-26 20:35] laurjpeterson commented on #892
Related issue: #799

[2017-06-26 20:35] joofsh opened #2469 "[Backend] [Spike] Investigate where we can pull periods of service from in BGS"
We would like to pre-fill the hearings worksheet with the Veteran's periods of service. We believe we can pull this from a BGS endpoint. For this ticket, investigate which BGS endpoint & data would fit these needs.

If we successfully find a way to prefill this,  we should create a new ticket implementing this

Note: We may want to reach out to the VBMS team in the `dsva-vbms` repo and creae an is

[2017-06-26 20:35] laurjpeterson commented on #892
Related ticket: #799 - SPIKE: Can we change ROJ in VACOLS?

[2017-06-26 20:42] laurjpeterson commented on #2409
Note: per conversations already had with BGS, it cannot support appeals for Veterans without SSNs. there is no way for us to change this.

[2017-06-26 20:47] joofsh opened #2472 "[Backend] Pull in issue "notes" from VACOLS"
Right now when we pull in issues from VACOLS, we don't include the issue's "note". Now we want to include those as well.

Technical Note:
- Determine which table/column the notes are stored in (ask Chris or Jed)
- Add that attribute to the Issue model `load_from_vacols`

[2017-06-26 20:49] lakohl commented on #773
Closing in favor of new PDF viewer

[2017-06-26 20:49] #773 closed

[2017-06-26 20:49] joofsh opened #2473 "[Frontend] Persist daily docket changes to redux"
Hook up the daily docket page to the Redux store

Acceptance Criteria:
- Create a redux store for Hearing Prep
- Initially load the hearings into the redux store
- On user input change, update the redux store accordingly

Note:
- No backend integration needed in this ticket

[2017-06-26 20:49] laurjpeterson commented on #2409
Adding an error message to address Veterans without SSNs in #2252

[2017-06-26 20:49] #2409 closed

[2017-06-26 20:52] lakohl commented on #1043
this is done

[2017-06-26 20:52] #1043 closed

[2017-06-26 20:52] joofsh opened #2474 "[Frontend] Hearing Worksheet : Persist Appellant/Veteran Information to redux"
Hook up the editable fields in the Appellant/Veteran Information section on the hearing worksheet page to the Redux store

Acceptance Criteria:
- Ensure rep name and witness/observer in the Appellant/Veteran information is initially saved to redux store on pageload
- On user input change, update the redux store accordingly

Notes:

Do not send the information to the backend.
Do not hook up any add

[2017-06-26 20:56] joofsh opened #2475 "[Frontend] Add "save" component"
Create component for save loading spinner & save callback mechanism

#### Acceptance Criteria
- Create component that shows the saving text & loading spinner
- Save event should be triggered on any inputs:
  - before page close
  - Every X seconds, trigger a function that determines if a save is necessary. If so, call the save action &  display the saving text. For Hearing Prep this configurable p

[2017-06-26 20:56] lakohl commented on #973
Closing

[2017-06-26 20:56] #973 closed

[2017-06-26 21:52] gnakm opened #2478 "Style guide component | Toggle buttons"
## Description
As a developer or designer, I want to know what a component that can helps users toggle between views looks like.

## AC
- Under the button section add a subsection for Toggle
- The selected view should be in [primary button default](https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/styleguide#buttons) and have a drop shadow
- The unselected view shou

[2017-06-26 22:10] mdbenjam commented on #1999
Additional error. Tried in Prod and Jane Nicholas couldn't access her cases. There were two reasons for this:

1. We are not saving VACOLS user ids in our database, but assumed we were. Therefore we were querying with a null user which turned up nothing.
1. We were looking for when the decision signed date was null, instead we should be looking for when the received date is null.

[2017-06-26 22:58] mmlumba commented on #1084
Original AC for 7:

[2017-06-26 23:23] kierachell commented on #2466
Can't exactly reproduce this...weird:
![fixdate](https://user-images.githubusercontent.com/18075411/27564346-f765aeca-5aa4-11e7-81ec-cae7f8d44e86.gif)

[2017-06-27 11:28] kierachell commented on #2174
**PASSED**
<img width="723" alt="screen shot 2017-06-27 at 7 28 18 am" src="https://user-images.githubusercontent.com/18075411/27585422-33c99c5e-5b0a-11e7-82d7-d44a34f928ef.png">

[2017-06-27 11:28] #2174 closed

[2017-06-27 11:43] kierachell commented on #2231
**PASSED**
![aaaaaand_search](https://user-images.githubusercontent.com/18075411/27585946-3ed7c34e-5b0c-11e7-9e28-dacc1dfba5dd.gif)

[2017-06-27 11:43] #2231 closed

[2017-06-27 11:44] kierachell commented on #1960
**PASSED**
The other issue is captured in #2459
<img width="274" alt="screen shot 2017-06-27 at 7 41 06 am" src="https://user-images.githubusercontent.com/18075411/27585985-5733dc70-5b0c-11e7-8acd-87e0c144f105.png">

[2017-06-27 11:44] #1960 closed

[2017-06-27 13:18] kierachell commented on #273
We're currently using `2.2.4` which is behind `2.2.7` and that one is in "In security maintenance phase (will EOL soon!)"
So it would be good to move up to `2.3.4` at least.

[2017-06-27 14:16] nickheiner-usds commented on #273
![image](https://user-images.githubusercontent.com/25331532/27592107-9ed26d66-5b21-11e7-92f0-c559cca6ad46.png)

From [Ruby branch maintenance](https://www.ruby-lang.org/en/downloads/branches/).

Looks like EOL isn't too soon. :smile:

[2017-06-27 14:24] tejans24 commented on #1507
The current Table component is not dynamic, i.e it doesn't re-render when a new valueFuncition is passed to the Table component.

There are two options:
* Update the current Table component to support new re-renders
* Create a new Table component that better matches the requirements of Reader

I am currently looking into how other parts of the Table work to see if the current table can suit the ne

[2017-06-27 14:35] astewarttistatech commented on #1696
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Dispatch as a manager
2. Access the Manager Dashboard
3. Validate the table titles for the Manage Work Assignments

Screenshots:
<img width="1080" alt="screen shot 2017-06-27 at 10 33 41 am" src="https://user-images.githubusercontent.com/23038505/27593066-330d9d3c-5b24-11e7-9a3f-e046a5fc47d8.png">

[2017-06-27 14:36] #1696 closed

[2017-06-27 14:40] tejans24 commented on #1974
There are a few problems that need to be solved for this issue:
- [ ] Url in Google Analytics needs to be corrected
- [ ] Google Analytics Id needs to be fetched from an environment variable in Caseflow
- [ ] Google analytics accounts need to be created for different environments
- [ ] Update deployment configuration to include the GA id's based on the environment in the Appeals-deployment reposit

[2017-06-27 14:48] #1084 closed

[2017-06-27 15:27] gnakm commented on #2015
@mdbenjam I don't think this is really an issue. The chances of creating an issue again with the space after the word is very rare and I don't think it will cause confusion to users because regardless they will have an opportunity to make an issue. If you agree, can you close this?

[2017-06-27 15:28] shanear commented on #2430
Current plan of attack:

- [ ] Make it easy to send page events to Google Analytics
- [ ] Get a sensible GA dashboard that gets rid of all the online marketing mumbo jumbo that's useless to us (bounce rate, funnel metrics, etc), and highlights events.
- [ ] Figure out how to share that dashboard with the rest of the team.
- [ ] Investigate whether we can send the page name (ie. `Document Page`) vs

[2017-06-27 15:57] astewarttistatech commented on #2168
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Dispatch as a caseworker and produce claims that have no decisions
2. Access Dispatch as a Manager
3. Navigate to the BVA reports section and view the Missing Decisions page
4. Validate that the Missing Decisions page matches all the criteria mentioned in the AC and mocks.

Screenshots:
<img width="1076" alt="scree

[2017-06-27 15:57] #2168 closed

[2017-06-27 17:35] #2438 closed

[2017-06-27 18:20] NickHeiner commented on #2333
As a follow-up to my earlier comments: I chatted with @CyberKoz today. Vets.gov went to Jenkins instead of a SaaS CI because they were frustrated with Travis being too slow even at the max subscription level and were afraid that other SaaS products would have the same problem. He thinks that the additional overhead of Appeals running PR builds on Vets.gov Jenkins would be negligible. Extra work to

[2017-06-27 18:23] abbyraskin commented on #2229
We also probably need an empty state if there are no documents with notes.

[2017-06-27 18:27] abbyraskin commented on #1998
@gnakm do we have a ticket for adding the "Joe Snuffy's Claims Folder" to the top? Also, we might want to think about how long someone's name could be, and whether there will always be enough room between the name and the doc count.

[2017-06-27 18:32] NickHeiner commented on #2333
For what it's worth, a few other SaaS CI providers:

* https://www.cloudbees.com/
* https://semaphoreci.com
* https://codeship.com/

[2017-06-27 18:33] NickHeiner commented on #2333
Update from talking to @CyberKoz: the problem that Vets.gov had with Travis was **horizontal** scaling, not vertical. CircleCI offers up to 62 concurrent builders. I think we'd have a hard time hitting that.

For me, the biggest unknown will be how fast a single build runs. Let's try both CircleCI and custom Jenkins side-by-side and see how they compare.

[2017-06-27 18:40] abbyraskin commented on #2010
This is not an engineering task. Also, I don't think we have any clear next steps at this point, so I'm closing this out.

[2017-06-27 18:40] #2010 closed

[2017-06-27 19:15] shellicious opened #2482 "[V2] Enable V2 for 1 Montgomery user by 10AM EST, Thursday 6/29"
We had to reschedule 1 DRO's pilot session of V2 to 10am - 12pm EST, Thursday 6/29. He needs to have V2 enabled shortly before then.

His CSS ID is: VSCGDEES.

[2017-06-27 19:59] #2451 closed

[2017-06-27 20:36] tejans24 commented on #1507
@abbyraskin @gnakm
* should we highlight Receipt Date text as well when a date matches the query?
* Also when a user is searching, if the text in the comment doesn’t match the search query but it matches the doc type or tag text, should we still expand the comment section of the result?

[2017-06-28 01:00] mogrenAtWork commented on #2381
Highlighting the link when using keyboard navigation to be addressed with #1851

[2017-06-28 11:32] slj commented on #2437
Solution in action:

![load_hearings](https://user-images.githubusercontent.com/1053255/27635145-ec1471e8-5bd3-11e7-8d5d-e53b39170609.gif)

[2017-06-28 13:39] gnakm commented on #1507
Dropping our convo here and adding to AC above.

- Yes highlight Receipt date
- Do no expand comment; highlight doc type and issue tag
- When search query is removed from the search box (reset search), hide all comments

[2017-06-28 13:45] mmlumba commented on #2424
@mdbenjam @gnakm Is there a story for implementing accordions into Reader?

[2017-06-28 13:47] gnakm commented on #2424
@mmlumba  yes here: https://github.com/department-of-veterans-affairs/caseflow/issues/2161

[2017-06-28 13:49] askldjd commented on #1814
Closing this issue since we haven't observed any anomaly since.

[2017-06-28 14:33] #2482 closed

[2017-06-28 14:43] nickheiner-usds commented on #1896
## Discussion Notes

[2017-06-28 14:54] astewarttistatech commented on #1750
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Reader
2. Navigate to the sorting columns in the Document List view.
3. Validate that the headers indicated have been changed from font awesome to svg files.

Screenshots:
<img width="1069" alt="screen shot 2017-06-28 at 10 50 15 am" src="https://user-images.githubusercontent.com/23038505/27643820-1add5a96-5bf0-11e

[2017-06-28 14:54] #1750 closed

[2017-06-28 15:56] #1896 closed

[2017-06-28 16:14] kierachell commented on #2413
[code]

[2017-06-28 16:19] astewarttistatech commented on #2413
![cv1issue](https://user-images.githubusercontent.com/23038505/27648276-055ccd62-5bfc-11e7-9e54-98cdddfa73e8.gif)
![cv1issue2](https://user-images.githubusercontent.com/23038505/27648275-0557ed9c-5bfc-11e7-941d-63ed9639170f.gif)

[2017-06-28 16:27] kierachell commented on #1999
### Show cases in the order of when it was assigned to user (newest on top, oldest on bottom)
How can one tell? Does this even matter?

### If case has already been viewed by that user, show secondary button styling with word "Continue". If case in brand new, show primary button with word "New"

Does not work when using browser's back button:

Only works by clicking the logo.
![backtoappeals](http

[2017-06-28 16:32] kierachell commented on #2413
related sentry error: https://sentry.uat.ds.va.gov/sentry/caseflow-uat/issues/171/

[2017-06-28 16:46] askldjd commented on #1381
We don't need this anymore now that we have Utility VPC.

[2017-06-28 16:46] #1381 closed

[2017-06-28 16:54] abbyraskin commented on #1999
@mdbenjam @kierachell I will take out the AC about ordering -- we can explore this in a future enhancement ticket after we test this with users. re: your second point, ideally this would work with the browser's back button as well.

[2017-06-28 17:04] astewarttistatech commented on #2413
![cv1issue3](https://user-images.githubusercontent.com/23038505/27650232-4cc21f58-5c02-11e7-99cf-78bb80323b5c.gif)

[2017-06-28 17:33] NickHeiner opened #2488 "Rethink how permissions work for prod"
Currently, we only have one permission level. If someone can access AWS and `ssh` into prod boxes, they can do quite a lot. It would be nice to have more granular permissions levels. Operating with a high permissions level is dangerous because you can easily break things. We would prefer to have a safer permissions level that can still be used to diagnose issues without as much risk of creating ne

[2017-06-28 17:41] Sjones352 commented on #2362
![screen shot 2017-06-28 at 1 40 25 pm](https://user-images.githubusercontent.com/23080951/27651768-6a25a218-5c07-11e7-8f62-8062ec18d67f.png)

[2017-06-28 17:41] askldjd commented on #2488
For reference, here are the available access that we give to everyone with access today.

Vault password access, which allows you to decrypt all private keys and accounts in appeals-deployment.

Prod access to jumpbox, which leads to BGS/VACOLS/VBMS/VVA read/write access. It also allows ssh'ing to Prod EC2 instance, which allows you to read/write Redis/PG data.

AWS resource access (see image for

[2017-06-28 18:03] kierachell commented on #1999
**PASSED**
I guess

[2017-06-28 18:03] #1999 closed

[2017-06-28 18:11] gnakm commented on #2362
lgtm!

[2017-06-28 18:13] nikitarockz commented on #1250
# Update
This request was passed to another team who specifically hands local station (397 specific) updates, since this is not an enterprise wide change.

[2017-06-28 18:15] nikitarockz commented on #1250
# Update
The following link and folders are now available to the users at station 397 (AMC).

Start > All Programs > Local Apps > Caseflow

Here is a screen shot of what it will look like.

![dispatch shortcut link](https://cloud.githubusercontent.com/assets/23063044/26799461/c9b56c2e-4a03-11e7-8a28-fc01d1a36117.png)

[2017-06-28 18:16] gnakm opened #2490 "Documents List | No notes empty state"
Description
`We` also probably need an empty state if there are no documents with notes (or no documents with note AND ___ if we go with above implementation)

We need to figure out what if looks like when there are
- no notes + no filters
- no notes + yes filters

## Related
#2229

[2017-06-28 18:17] gnakm commented on #2229
@abbyraskin Agreed on explicitly calling it out.

Toggling between documents and notes works as a filter. It works as an AND with the categories and issue tags filters.

- Filters should apply to both toggle views
    - ex. The common super user use case we saw was those who filtered categories first and then clicked the expand all buttons.
- If you search, it should be applicable to both toggle v

[2017-06-28 18:54] gnakm opened #2492 "Style Guide | Create Intro section"
**Description**
This was feedback from the style guide ticket

## AC
Create an intro section with the following

`h2` Purpose of style guide copy
`h3` Instructions
  - Link to creating a style guide ticket
  - Link to how to use style guide

`h3` Files for Designers
- Link to Sketch UI kit master file
- Link to SVG files folder

## Related
#2353

[2017-06-28 19:18] sharonwarner commented on #2252
Assigning @lakohl to determine the correct error message to display.

[2017-06-28 20:01] kierachell commented on #1250
**PASSED**
The link is there and was clicked (afaik)

[2017-06-28 20:01] #1250 closed

[2017-06-28 20:03] nicholasholtz commented on #1999
@abbyraskin I know this is closed, but wouldn't the correct order be based on currently-assigned due dates? (which are subject to revision, of course)

[2017-06-28 20:32] abbyraskin commented on #1999
technically it's random for now, but I think that's a good approach.

[2017-06-28 21:52] gnakm opened #2496 "Documents List | Filtering by message"
## Description
Currently our filtered alert is too abrupt and confusing some users. We instead will use text that is less jarring yet still informative to our users.

## AC
- Instead of the blue information alert box that shows limited results, show text underneath the search box that says what the documents are being filtered by and the number of filters per section.
    - Example: Filtering by:

[2017-06-28 21:56] gnakm opened #2497 "Documents list | Add heading with Veteran's name"
## Story
As an attorney or judge, I want to know whose claims folder I am reviewing.

## AC
- Add h1 ([see style guide](https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/styleguide#typography)) with the name of the Veteran
- Veteran's name should match the name showing in the welcome gate (First Last)
## Mock up

![image](https://user-images.githubusercontent.com/13

[2017-06-28 21:58] gnakm commented on #2490
Closing this because it was added in the AC for issues #2496 and #2229

[2017-06-28 21:58] #2490 closed

[2017-06-28 22:04] gnakm opened #2498 "Documents list | Show number of documents viewed"
**Story**
As an attorney or judge, I want to know how many documents I have already viewed. This helps the user set expectations on their workload.

## AC
- At the right of the Veteran's name, show the message, "You've viewed x of y documents" in <p>
  - Ex. You’ve viewed 50 out of 100 documents
- Make sure it is right-aligned with the accordion

## Mock up

![image](https://user-images.githubuser

[2017-06-29 01:07] kierachell commented on #2363
[code]
Need to test that by changing `connect_vbms` and seeing if that works. @sharonwarner

[2017-06-29 13:03] astewarttistatech commented on #2381
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Reader
2. Open a document from the Document List view
3. Verify that the "Back to Documents" button has changed to "Back to Claims folder"

Screenshots:
<img width="1076" alt="screen shot 2017-06-29 at 8 57 58 am" src="https://user-images.githubusercontent.com/23038505/27688783-dcebc744-5ca9-11e7-82de-4d28e6ac1c67.

[2017-06-29 13:03] #2381 closed

[2017-06-29 13:08] astewarttistatech commented on #2362
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access the living style guide
2. Navigate to the buttons section
3. Validate the copy against the AC

Screenshots:
<img width="1086" alt="screen shot 2017-06-29 at 9 05 20 am" src="https://user-images.githubusercontent.com/23038505/27688980-78167f5c-5caa-11e7-8e6c-37abb2c0c3b7.png">

[2017-06-29 13:08] #2362 closed

[2017-06-29 13:21] #2099 closed

[2017-06-29 13:24] #2044 closed

[2017-06-29 13:38] mogrenAtWork commented on #1744
@kierachell this is super low priority but take a look at this and see if you can figure out what's wrong. I imagine we'll have to start the chromedriver and possibly xvfb a little differently in our travis.yml with the updated version.

[2017-06-29 13:40] amprokop commented on #2318
@mdbenjam @aroltsch — is it possible for us to use the new eFolder Express API for this? We could potentially make a call to the API right when certification is started, thus stashing the Form 9 in S3, then grabbing it from S3 on page 3. Thoughts?

[2017-06-29 13:42] #2006 closed

[2017-06-29 13:44] gnakm commented on #2247
I just tested this and it's been fixed. Closing.

[2017-06-29 13:44] #2247 closed

[2017-06-29 13:58] kierachell commented on #2417
- Before:
[code]
- After:
[code]

[2017-06-29 13:59] #2417 closed

[2017-06-29 15:40] shellicious commented on #2254
Added certification color to the Description @kierachell

[2017-06-29 16:13] lakohl commented on #2252
Update error message to read:

Select Cancel at the bottom of the page to release this claim and proceed to process it outside of Caseflow.

@abbyraskin if you have a sec could you take a look at this copy ^

[2017-06-29 16:16] lakohl commented on #2252
@sharonwarner at what point is Dispatch aware that the claim cannot be processed in Caseflow? Once the user hits 'Route Claim' on the Decision page? or before that?

[2017-06-29 16:40] shellicious commented on #2420
![confirm hearing wording change](https://user-images.githubusercontent.com/1178390/27699371-17fa885c-5cc8-11e7-9455-3ff17dd4a9eb.png)

Updated wording!

[2017-06-29 18:10] aroltsch commented on #2413
I could not re-produce the issue locally. According to Alan, "so because we scaled up to 3 instance, it is a ~67% chance that the file is not on disk and because you can't see this problem locally, it might be a 12 factor issue".
I have tried deleting the file locally and grabbing the file from s3 and still each time correct PDF was displayed. I am pretty sure it has something to do with what Alan

[2017-06-29 19:15] gnakm opened #2503 "Style guide| Loader copy enhancement"
**Story**
As a user, I need to be informed that the loader color should match the color of the Caseflow app I am working on

## AC
- [x] Replace current description with the copy below
- [x] Make sure that there is a text link that goes to the colors section below.

## Copy

A large Caseflow loading indicator in the center of the page is used when some information has been retrieved but other info

[2017-06-29 19:44] abbyraskin opened #2505 "Change "comment" to "note" everywhere in Reader"
Comments are now "notes."

Places where we currently use the word comment in the UI:
- Document list table header
- "Add a comment" button on document viewer
- Comments header on annotation menu
- "Comments" copy in keyboard shortcuts menu
- Keyboard shortcut (should be alt+n)

[2017-06-29 19:50] abbyraskin commented on #2207
This is a duplicate of #2418, closing.

[2017-06-29 19:50] #2207 closed

[2017-06-29 19:55] mdbenjam opened #2506 "Document Viewer | Adding comments from keyboard bugs"
Adding comments from the keyboard takes a really long time. We need to increase the speed with which the arrow keys move comments. Also, when zoomed out you cannot choose which page to put a comment on.

[2017-06-29 20:12] sharonwarner commented on #2252
@lakohl It's on the very last page. Right after they click 'Create End Product'.

[2017-06-29 20:19] abbyraskin commented on #2380
Hold until Mark's mega-refactor is complete :-D

[2017-06-29 20:49] lakohl commented on #2252
Ok. So in the event that we are not creating an EP, but are updating VACOLS loc + adding a diary note or sending an email would they see this message when they click 'Finish Routing Claim'? or does that not generate an error?

[2017-06-29 20:51] mogrenAtWork commented on #2380
Blocked by #2459

[2017-06-29 21:12] abbyraskin commented on #1752
This was fixed - closing.

[2017-06-29 21:12] #1752 closed

[2017-06-29 21:31] lakohl commented on #2252
@sharonwarner I updated the AC above

[2017-06-30 15:18] amprokop commented on #2413
This is a high priority bug because it could potentially affect any PDF modification we do in the future, and it also affects users' confidence in our systems. We should definitely track it down. @aroltsch— if you're up for continuing to work on it, please do. If you run out of steam, let's re-assign it to someone else. Sound good?

cc @laurjpeterson

[2017-06-30 15:30] mdbenjam opened #2508 "Drag and Drop | Text dropped onto a page"
We use drag and drop to move comments on pages. However, we don't validate the event.dataTransfer object in onCommentDrop in Pdf.jsx.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/267/activity/

# AC
1. Verify that dragging non-comments onto a pdf page does not cause an error, but that it does fire a Google Analytics event.

[2017-06-30 15:41] sharonwarner commented on #2057
I'll add the constants for reference.

[2017-06-30 16:21] abbyraskin commented on #2505
Holding on this for now - may try to slate this in as an enhancement before 3rd milestone, pending higher priorities.

[2017-06-30 16:23] abbyraskinUSDS opened #2509 "Investigate IE support"
We have had various problems when users access Reader from IE, including the dreaded stack overflow error: https://github.com/department-of-veterans-affairs/caseflow/issues/2021/. We need to fix this error, and uncover any remaining errors in IE.

# AC
1. Verify the stack overflow error is fixed.
1. Verify any new errors are documented in tickets.

[2017-06-30 18:37] kierachell commented on #2407
1h of logs is over 50 mb sometimes :(

[2017-06-30 19:25] amprokop opened #2510 "Certification | What do we do when VBMS /other dependency requests are taking a long time?"
## Problem ##

@shellicious observed in a Montgomery pilot that when users entered Certification, the page was blank and loading for several minutes and never loaded. We determined that this was because the VBMS request was taking between 2 and 5 minutes to successfully complete. Evidently, our user’s browser request was timing out before the VBMS request returned.

Right now, we don't launch the

[2017-06-30 19:28] amprokop commented on #2510
@shellicious @laurjpeterson — wrote down an idea here. Please refine/mock up/do whatever. Feel free to have a post-standup discussion about it next week if you like.

[2017-06-30 19:45] joofsh commented on #1814
Reopening this issue.

`PrepareEstablishClaimTasksJob` failed on the morning of 06/30/2017

[2017-06-30 20:10] abbyraskin opened #2511 "Welcome Gate | populate table with VACOLS locations instead of DAS assignments"
Currently, we're using assignment data from DECASS to build the list of work assignments; instead, we should pull in cases in the user's current location in VACOLS.

## AC
- Welcome Gate page is updated to reflect the mockup below
    - 'Work Assignments' `h2` title is now 'Cases Checked In'
    - Rename **View case file** to **View claims folder**
    - 'Learn more about Reader on our Help Page'

[2017-06-30 22:09] kierachell opened #2512 "Sidekiq | Unable to Enqueue Jobs from UI"
## Description

connects https://github.com/mperham/sidekiq/issues/1289

## Steps

this seems to be related to the way session cookies are shared between SidekiqUI and our own session

1. Login to Caseflow normally
1. Then access `/sidekiq` and attempt to "submit any forms": retry jobs, delete jobs, etc.
1. Get `Forbidden` message.
1. Check cookies that you got
1. Delete `caseflow_session` cookie

[2017-06-30 22:25] kierachell opened #2513 "Sidekiq | Prepare Tasks job silently doesn't happen"
## Description

On the night of June 29th to 30th the Sidekiq `PrepareEstablishClaimTasksJob` job just didn't happen;
<img width="914" alt="screen shot 2017-06-30 at 3 53 36 pm" src="https://user-images.githubusercontent.com/18075411/27756071-5cd02c16-5dc2-11e7-968c-805c664343be.png">

The logs do not show it happening
The UI shows that it did not run.
Reasons? Unknown. I wish I had more info.
Man

[2017-06-30 22:48] mperham commented on #2513
1. You are using an old version of sidekiq-cron.  Upgrade, maybe the bug was fixed?
2. Have you considered Sidekiq Enterprise and its periodic job support?

[2017-06-30 22:55] kierachell opened #2514 "App Canvas | Re-enable "System Admin" functionality in Production"
# Description
A member of our Developer/Support/etc team attempts to smoke-test/access our application in Production - we do not have access to `/functions` page or any other `admin-access` page for that matter.

@nikitarockz tagged to confirm if/when/how "System Admin" will be disabled for our users
@amprokop tagges because he can remove `Cert v2` function and leave it as `FeatureToggle` only
@Ni

[2017-06-30 22:57] kierachell commented on #2397
1. Clone repo
1. Bundle install
1. Npm install
1. Run `git status`
1. Run `ls -la spec/support`
1. Run `bundle exec rake`
1. Run `ls -la spec/support`
1. Find `form8-TEST.pdf` in there
1. Be sad!

[2017-06-30 23:22] kierachell opened #2515 "VACOLS | How to handle cases where BFCORLID != SSN"
# Description
When API call is made using a veteran's SSN, we assume that BFCORLID field in VACOLS will end with `S` and that it will match the SSN. However:
[code]
That's 1340476 appeals that veterans cannot access if BGS is out or something is off anyway.

@cmgiven tagged to provide guidance

## Reproduction Steps

**Scenario 1 -**

1. Go to `curl` the API with an SSN
1. See that VACOLS stores B

[2017-06-30 23:32] kierachell commented on #2067
**PASSED**

Thank you @nemodjuric !!!!!

<img width="1211" alt="screen shot 2017-06-30 at 7 27 39 pm" src="https://user-images.githubusercontent.com/18075411/27757027-d1c2a136-5dca-11e7-81a5-84c28f041316.png">
<img width="1121" alt="screen shot 2017-06-30 at 7 32 01 pm" src="https://user-images.githubusercontent.com/18075411/27757028-d1c61c12-5dca-11e7-8e20-6917089bdb2b.png">

[2017-06-30 23:32] #2067 closed

[2017-06-30 23:39] kierachell opened #2516 "Logging | Log API return body ...somewhere..."
# Description
When our Appeal Status API is is used, we log the API Key call and VACOLS fetching data,
but we do not log what we're returning to the requester - this will make debugging a whole lot easier.

## Reproduction Steps

**Scenario 1 -**

1. Go hit our API endpoint
1. Watch logs
1. Wonder wtf is going on?
1. Get a call from vets.gov team saying we're sending them crap data.
1. Scratch hea

[2017-07-01 03:41] mdbenjam commented on #2439
We realized that alt + up/down only works on chrome. Changed the shortcuts to space, shift + space to work across browsers.

[2017-07-01 03:41] #2439 closed

[2017-07-01 03:48] mdbenjam commented on #1724
I think this was fixed a while ago. Moving to in validation to double check.

[2017-07-01 03:55] mdbenjam commented on #1777
Duplicate of #1714

[2017-07-01 03:55] #1777 closed

[2017-07-01 04:03] mdbenjam commented on #1848
This seems to work now. Moving to in validation

[2017-07-01 14:55] kierachell commented on #2511
1. Does this mean `CURLOC` value?
1. What is DAS? Do you mean DECASS?:
These are the column names from `DECASS` in VACOLS
[code]

[2017-07-02 15:50] kierachell commented on #1724
**PASSED**
Seems fixed now :D

<img width="1057" alt="screen shot 2017-07-02 at 11 49 47 am" src="https://user-images.githubusercontent.com/18075411/27771457-ac58c1e8-5f1c-11e7-8482-973143337618.png">

[2017-07-02 15:50] #1724 closed

[2017-07-02 15:54] kierachell commented on #1714
### Verify there is no loading spinner in the new tab, that it loads just the one document.

Nope :(
![newtab](https://user-images.githubusercontent.com/18075411/27771481-27475ec8-5f1d-11e7-97c4-ac4f3c5446cb.gif)

### Verify there is no back to all documents button in the tab.

Nope :(

![tabnew](https://user-images.githubusercontent.com/18075411/27771482-2747668e-5f1d-11e7-89c1-94e0638bfaab.gif)

[2017-07-02 16:05] kierachell opened #2517 "Comments | Adding empty/blank/whitespace comments raises Sentry alarms"
# Description
When adding empty/blank/whitespace comments I am unable to do so and I get an error message
but it doesn't need to go to Sentry :|

<img width="461" alt="screen shot 2017-07-02 at 12 06 12 pm" src="https://user-images.githubusercontent.com/18075411/27771563-da61f990-5f1e-11e7-90a6-d64718c7da02.png">

## Reproduction Steps

**Scenario 1 -**

1. Go to Reader
1. Attempt to add blank com

[2017-07-03 12:29] slj commented on #2057
I can just use `Appeal#regional_office`, no?

[2017-07-03 13:11] cmgiven commented on #2515
This contradicts my understanding of what the API is doing. I thought we were looking up the SSN using BGS to identify the file number? @shanear, can you clarify?

[2017-07-03 13:31] sharonwarner commented on #2057
@slj yeah, that sounds good!

[2017-07-03 13:41] kierachell commented on #2515
None of the cases where I set the file number to have `C` at the end have ever worked.

[2017-07-03 13:47] abbyraskin commented on #2511
Yeah, I think we're pulling in DEASSIGN from DAS now. @mdbenjam or @mogrenAtWork please add any technical AC here. @gnakm do you have an updated design for this page we should use?

[2017-07-03 13:52] gnakm opened #2521 "Welcome Gate | Add issues column"
## Story
As an attorney, it is hard to distinguish the difference between different appeals of the same Veteran at a glance on the welcome gate page.

We will be adding the Issues as a new column.

## AC

- [ ] Add a new header column labeled Issues between Veteran ID and View claims folder and have appropriate Issues matching the appeal. This information is currently labeled "Levels.." in VACOLS

[2017-07-03 14:05] abbyraskinUSDS opened #2522 "Document Viewer | Rotate page"
I want to rotate a document from the PDF viewer when a document was scanned upside down, so I can read it.

## AC
- Selecting the rotate button turns the page 90 degrees clockwise
- Button is selectable from keyboard
- If I navigate away, the page remains rotated
- Button clicks are tracked as an event in Google Analytics
- Icon should be located right of fit to screen icon
- Add a line divider be

[2017-07-03 14:06] abbyraskin commented on #2522
Note: this may get moved into Milestone 2.

[2017-07-03 14:07] mogrenAtWork commented on #2511
@kierachell to answer your questions:
1. I'll work with you and @cmgiven to determine the best query for this since I don't know the VACOLS schema
2. The welcome gate is currently querying DECASS, I corrected the description above to reflect this.

Do we have the schema anywhere I can access?

[2017-07-03 14:10] kierachell commented on #2107
### centered aligned in the annotation menu aligned with features on toolbar

It's aligned with the whole Menu sidebar, but not against the scrollbar (for annotiations) line on the right - which do you want?
<img width="386" alt="screen shot 2017-07-03 at 9 59 24 am" src="https://user-images.githubusercontent.com/18075411/27796007-6270d8a8-5fd6-11e7-8546-e5e8634f2d75.png">

<img width="387" alt="s

[2017-07-03 14:20] abbyraskin commented on #2511
@mogrenAtWork Chris certainly can answer this question better than I can, but this folder may be helpful as a starting point (it includes my personal favorite document, all the tables in VACOLS!): https://github.com/department-of-veterans-affairs/appeals-pm/tree/f56963df7cd26c10e671566981fe1163efd6b320/VA%20Tech%20System%20Documentation/VACOLS

[2017-07-03 14:24] kierachell commented on #1852
### Verify that comment is saved by entering alt+enter

On Mac, using Chrome:
I can start entering text after pressing `alt+enter` but I cannot Save comment

[2017-07-03 14:26] abbyraskin commented on #2342
@mdbenjam can you take a look at this and add any clarifying technical details if needed?

[2017-07-03 14:33] cmgiven commented on #2511
The welcome gate is currently querying DECASS. After initial testing with users, we learned that this pulls in a number of cases that users do not expect to see, cases that were once assigned to them, and which they no longer own despite the assignment being incomplete.

Instead, we should pull those cases where the current location is the user. That would be where `BRIEFF.BFCURLOC` is equal to `S

[2017-07-03 14:35] gnakm commented on #2107
@mmlumba
1. Can we have the Icon and button link for View keyboard shortcut center aligned with the annotation box
1. There is an underline for a space before the View keyboard shortcut link. Could we take that out?
1. I'm going to take padding AC out since it should be whatever the modal is

Adjusting the AC with these comments.

/cc: @artem

[2017-07-03 14:37] abbyraskin commented on #2511
(FYI the VACOLS report attorneys use for this purpose today is called "Cases checked in" -- Mark is reaching out to Jed to verify the data pulled here, but current location seems correct at first glance.)

[2017-07-03 14:39] gnakm commented on #2511
I added a mock up above. The `h2` is labeled Cases checked in and it should represent the cases checked into their location.

[2017-07-03 14:39] abbyraskin commented on #2521
@cmgiven can you clarify which column in VACOLS we should look at here? Is it BFCASEV?

[2017-07-03 14:49] cmgiven commented on #2521
It's `ISSUES.ISSPROG`, which need to be joined on `ISSREF.PROG_CODE` in order to get the label (`ISSREF.PROG_DESC`). Alternatively, we could hardcode our preferred labels and skip the join, which may be preferable anyway, as some of the program names are quite long.

[2017-07-03 14:51] cmgiven commented on #2521
(Also note that we'll need to allow for the possibility of multiple program areas, probably comma separated? Two program areas is a reasonably common edge case. Three is possible but rare.)

[2017-07-03 14:56] gnakm commented on #2279
I just tested this and it's been fixed. Feel free to re-open if problem persists.

[2017-07-03 14:56] #2279 closed

[2017-07-03 17:40] kierachell commented on #2363
So removing the header as suggested above has worked:
Using branch: https://github.com/department-of-veterans-affairs/connect_vbms/tree/sharon-vbms-header

[code]

[2017-07-03 18:40] gnakm commented on #2229
^ For anybody reading this thread, we've decided to stick to comment because it's a bigger scrub to change everything and wasn't hi-priority or urgent enough to change on UX side.

[2017-07-03 18:44] mdbenjam commented on #2015
I agree, this seems like a non-issue. From a data analytics side, this seems like desired behavior. It seems unlikely that users will even see this prompt that they're creating a new tag, since they'll probably let the autocomplete do its job. I'm going to close it, since I don't think it's worth fixing.

[2017-07-03 18:44] #2015 closed

[2017-07-03 18:48] kierachell commented on #2328
So uh... how does this happen again? What am I to validate?

[2017-07-03 19:00] abbyraskin commented on #2521
Thanks!

[2017-07-03 19:01] abbyraskin commented on #1985
Closing this out, as we're unable to reproduce the error and it hasn't happened again recently.

[2017-07-03 19:01] #1985 closed

[2017-07-03 19:03] kierachell commented on #2513
We will try that, @mperham
Can't really validate it any other way that I can think of.

[2017-07-03 19:18] mogrenAtWork commented on #2511
Awesome, thanks all! I'll get cracking on this

[2017-07-03 19:20] gnakm commented on #2521
@abbyraskin

How about stacking instead of commas? The some of the programs are kind of long and stacking might look cleaner.

![image](https://user-images.githubusercontent.com/13420618/27805504-1439b862-6003-11e7-8d0d-501860db58ac.png)

I don't think this really effects other views:
![image](https://user-images.githubusercontent.com/13420618/27805433-9b142404-6002-11e7-9e1c-40ea896d9391.png)

![

[2017-07-03 19:30] abbyraskin commented on #2521
definitely agree @gnakm!

[2017-07-03 19:33] abbyraskin commented on #1852
@kierachell alt+enter is meant to place the comment. updated.

[2017-07-03 19:47] kierachell commented on #2413
**PASSED**

worked this time and a few others.
![backedits](https://user-images.githubusercontent.com/18075411/27806153-e8ecbaca-6006-11e7-84f5-7830514f8753.gif)

[2017-07-03 19:47] #2413 closed

[2017-07-03 19:48] laurjpeterson commented on #535
@nemodjuric - Can you confirm that we are tracking cancellations? Since #1173 was created after this one, it seems like we might be.

https://github.com/department-of-veterans-affairs/caseflow/issues/1173

[2017-07-03 19:56] aroltsch commented on #2413
Yay!!!! Woot woot.

[2017-07-03 19:57] laurjpeterson opened #2529 "Add fuzzy date match to Certification stats page"
We would like to track how often documents match within the fuzzy date range so that we can understand how big of a problem this is for ROs.

We would also like to see which ROs have more fuzzy date matching documents than others.

[2017-07-03 20:01] tejans24 commented on #2021
As discussed on Slack with @mdbenjam , we might need to looking catching this error and not letting it get to sentry as we are working on fixing this issue for IE.

[2017-07-03 20:09] kierachell commented on #1852
**PASSED**

Verified in Chrome and Firefox.
IE - does not work

[2017-07-03 20:09] #1852 closed

[2017-07-03 20:27] mdbenjam opened #2531 "Jump to comment | needs to scroll as pages are rendered"
Currently if you jump to a comment that is far down in the document, you lose your place as new pages above the comment are rendered. We need to keep your location as other pages are rendered.

# AC
1. Add a comment on a later page of a large document. Verify that when you jump to the comment from the list view, the scroll position doesn't shift while other pages are being loaded.
1. Scroll around

[2017-07-03 20:27] kierachell commented on #2057
## Verify that the [city, state] (e.g. Newark, NJ) of the Regional Office holding the hearing is displayed in each date row.

Looks like that value has more than State in it.
<img width="1278" alt="screen shot 2017-07-03 at 4 25 41 pm" src="https://user-images.githubusercontent.com/18075411/27807046-4ccdd15a-600c-11e7-8273-85ab433c4e97.png">

## Also the mock has title `Hearing Schedule` not `Hear

[2017-07-03 20:31] mdbenjam opened #2532 "PDFJS Workers | Investigate why so many workers are created on each page switch"
PDFJS Worker threads seem to get cleaned up properly now, but you can create a lot of them by navigating between pages quickly. Investigate why we create so many.

[2017-07-03 20:40] ghost opened #2533 "Document Viewer | Tabbing through Tag textbox creates last deleted tag"
# Description
When tabbing around the Viewer,
if I delete an Issue Tag,
then I tab around some more,
upon tabbing in and out of the Issue Tag textbox - it ends up creating last deleted Tag, instead of moving focus

## Reproduction Steps

**Scenario 1 -**

1. Go to Document Viewer
1. Create some Issue Tags
1. Delete them all
1. Focus elsewhere
1. Start tabbing into the Issue Tags textbox
1. Tab out

[2017-07-03 21:03] mdbenjam commented on #1714
Let's sync Wednesday about this. I'm not seeing the same behavior as you. It looks like both of these things work.

[2017-07-03 21:30] abbyraskin commented on #2521
note to figure out what our preferred hardcoded labels are for all of these - i think that's a better route

[2017-07-03 21:50] abbyraskin commented on #2229
@gnakm I'm confused about last AC: "When comments = empty state, show all documents and make sure that filtering by text mentions comments."

[2017-07-03 21:55] abbyraskin commented on #2270
Do you remember why this was important? Will close this ticket and add to #2496 if we think it's necessary.

[2017-07-03 21:57] abbyraskin commented on #2181
Closing in favor of #2496

[2017-07-03 21:57] #2181 closed

[2017-07-04 20:11] kierachell commented on #2532
That was my bigger concern with the "memory leak" issue. It seemed like PDFjs was going nuts without getting cleaned up.

[2017-07-05 12:48] kierachell commented on #1848
**PASSED**

Seems to be working for all the cases listed above.
![keyboardallthethings](https://user-images.githubusercontent.com/18075411/27864969-beed18d8-615e-11e7-91e2-231414145348.gif)

[2017-07-05 12:48] #1848 closed

[2017-07-05 12:51] kierachell commented on #1734
Actually, now it always opens a single document from keyboard... so that's awkward cause I can't go back to Document List:
![whynewtab](https://user-images.githubusercontent.com/18075411/27865087-30277804-615f-11e7-94fe-904fa11d7352.gif)

[2017-07-05 13:18] kierachell commented on #2466
JUST DID IT!

It is specific to IE!
![refresh](https://user-images.githubusercontent.com/18075411/27866040-e777bd22-6162-11e7-9f6d-d2c8d11cad0d.gif)
<img width="1048" alt="screen shot 2017-07-05 at 9 04 00 am" src="https://user-images.githubusercontent.com/18075411/27866039-e7766896-6162-11e7-99d3-f63b73eef233.png">
<img width="615" alt="screen shot 2017-07-05 at 9 04 04 am" src="https://user-imag

[2017-07-05 13:56] kierachell commented on #2252
## What about `city` and `state`?:
[code]

## Here's a sample:
[code]

[2017-07-05 14:11] abbyraskin commented on #2521
@cmgiven how many program areas are there? could you paste them here when you have a chance? (or direct us to them? tried finding them myself and failed!)

[2017-07-05 14:19] sharonwarner commented on #2252
@kierachell We have another card for the rest of the validations.

[2017-07-05 14:32] cmgiven commented on #2521
[code]

[code]

[2017-07-05 14:39] sharonwarner commented on #2246
Fields remaining to be validated:

- City
- State

[2017-07-05 14:47] kierachell commented on #1714
**PASSED**
WOOOO

[2017-07-05 14:47] #1714 closed

[2017-07-05 14:49] gnakm commented on #2521
@abbyraskin I wonder if we should make a separate issue for cleaning up program data and check-in with Lara since it effects hearings stuff as well.

[2017-07-05 15:00] laurjpeterson commented on #2437
Per most recent Invision mocks, the title of this page should be 'Upcoming Hearing Days'. We changed it because we will be building a separate Hearing Schedule solution.

https://va-gov.invisionapp.com/d/main/#/console/11372263/240352625/preview

cc: @lakohl @slj @kierachell @sharonwarner

[2017-07-05 15:11] mmlumba commented on #2161
@gnakm For the 4th AC you mention using `$color-gray-light` but the ticket you reference uses `$color-gray-warm-light`. Which color am I using for the Hide Menu bar?

[2017-07-05 15:32] gnakm commented on #2229
@abbyraskin I updated the AC. Basically even if there aren't any comments, we should still have in the filtered text message that it is being filtered by comments.

[2017-07-05 15:48] mdbenjam commented on #2511
According to Jed:

The report uses the current location field in the BRIEFF table and their VACOLS logon id STAFF.SLOGID.

BRIEFF.BFCURLOC = STAFF.SLOGID

[2017-07-05 15:55] kierachell opened #2537 "Hearings | Hearing events are not showing up correctly"
## Description

When looking for Hearing Events, we are showing Postponed hearings even when they're not really a scheduled event anymore...

## Steps:
- Use SSN: 093216192
- See result
[code]
- Question life and @cmgiven about what is supposed to show up.

### How does one even know what happened to the hearing in the first place? Was it held? Cancelled? What?

## Steps:

- Use SSN: 091788897
- G

[2017-07-05 16:05] cmgiven commented on #2537
So two separate issues here. On is that we should only show a hearing in the scheduled hearings if its `HEARING_DISP` is null.

The other is that there appears to be an issue with at least held hearings appearing in the main events list.

[2017-07-05 16:57] Sjones352 commented on #1739
@gnakm after speaking to @mmlumba I would like to update the AC to the options being 14px padding and Clear category filiter plus clear filter to 14px margin.

Currently Looking like this
![reader-padding](https://user-images.githubusercontent.com/23080951/27875200-5f0b6dee-6180-11e7-9be1-6e51234a8ca5.gif)

[2017-07-05 17:45] kierachell commented on #2057
**PASSED**
<img width="1204" alt="screen shot 2017-07-05 at 1 45 14 pm" src="https://user-images.githubusercontent.com/18075411/27877347-406102b6-6188-11e7-90e1-d50145cf5cdd.png">

[2017-07-05 17:45] #2057 closed

[2017-07-05 18:04] gnakm commented on #1739
@Sjones352 sounds good to me!

[2017-07-05 18:08] kierachell commented on #2107
**PASSED**

Lookin' spiffy!
<img width="227" alt="screen shot 2017-07-03 at 9 52 25 am" src="https://user-images.githubusercontent.com/18075411/27878165-56c2ea80-618b-11e7-8dc7-4ec2dcbabb5e.png">
<img width="386" alt="screen shot 2017-07-03 at 9 59 24 am" src="https://user-images.githubusercontent.com/18075411/27878166-56cdfe52-618b-11e7-8fce-28751b1938bd.png">

[2017-07-05 18:08] #2107 closed

[2017-07-05 18:15] mdbenjam opened #2541 "Comments | When on three digit pages, are not sorted properly"
![screen shot 2017-07-05 at 2 15 29 pm](https://user-images.githubusercontent.com/3885236/27878517-7a3a5844-618c-11e7-8382-cb68f1f17f5b.png)

[2017-07-05 18:17] kierachell commented on #2466
**PASSED**

WOooo! Fixed it!
![refreshagain](https://user-images.githubusercontent.com/18075411/27878579-b51436ec-618c-11e7-920a-83263a1045cb.gif)

[2017-07-05 18:17] #2466 closed

[2017-07-05 18:20] kierachell commented on #2246
We'll deploy this and hope this never shows up in prod ever again!

[2017-07-05 18:24] joofsh commented on #2246
@kierachell @sharonwarner Are we sure we want/need to validate city and state for *all* addresses? Like does a state exist for foreign addresses? If we don't know, we may want to initially scope these to US/Canada addresses only

[2017-07-05 18:26] kierachell commented on #2246
Not sure about `state` since it is not editable for International Addresses

[2017-07-05 18:52] kierachell commented on #2450
**PASSED**
![loader](https://user-images.githubusercontent.com/18075411/27880008-86d379d2-6191-11e7-9a1b-42a2aff18090.gif)

[2017-07-05 18:52] #2450 closed

[2017-07-05 18:58] tejans24 opened #2542 "RecordNotUnique exception thrown for certification_cancellations"
[code]

Link to Sentry Logs:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/273/

[2017-07-05 21:41] mdbenjam commented on #2342
The second AC in Search should probably be removed. As for technical details, I'll throw a question back to you. How do we know if we should show a case? Are we showing all cases associated with the veteran ever? If so, program alone is probably not enough to distinguish. If we're only showing cases that

[2017-07-05 21:51] mdbenjam opened #2546 "Analytics | Add audit tables for annotations, tags, and categories"
We want to store which user created which tag and category. We also want to keep a record of when these were last changed. This seems like a job for audit tables. Investigate adding https://github.com/airblade/paper_trail or some other rails library to audit these tables. This can be broken down into multiple tickets if it's too large.

# AC
1. Verify there is a paper trail for each DocumentsTag e

[2017-07-05 21:52] mdbenjam opened #2547 "Analytics | Add document metadata to documents table"
We have the opportunity to learn a lot about what documents users find interesting. To that end Chris would like to do queries about document metadata. It'll be easiest if we store this information in our caseflow document database. We get all this information from eFolder express, now we just need to save it.

# AC
1. Verify we're storing doc type to documents table
1. Verify we're storing receip

[2017-07-05 21:56] mdbenjam opened #2548 "Analytics | Appeal and Document views"
We want to record every view of each document, and of each appeal.

# AC
1. Verify we create a new DB record whenever a user views a document.
1. Verify we create a new DB record whenever a user opens an appeal. Where opening means loading the SPA.

[2017-07-05 21:57] mdbenjam opened #2549 "Analytics | Don't remove data"
We don't want to lose data. Currently if a user edits a comment, or deletes a tag, we don't have any record of that. We need to either make an audit log, or have some way of tracking changes.

[2017-07-05 22:02] gnakm commented on #2342
@mdbenjam I think @abbyraskin and I talked about even having a tab at one point that shows current ones vs. old ones but for the scope of this ticket, I think we need to lock down the ability to search for current claims folder. I believe VACOLs shows it that way today (current vs history).

But going back to original concern, are we feeling confident that programs provide enough distinction betwe

[2017-07-05 22:03] gnakm commented on #2342
@mdbenjam also, should 2nd AC in search be removed because it's unnecessary or because the flow is incorrect?

[2017-07-05 22:05] mdbenjam commented on #2342
The flow is incorrect right? It goes to the modal, not the documents page right?

If we're only saying current cases, then program should be enough to distinguish.

[2017-07-05 22:07] gnakm commented on #2342
@mdbenjam I just updated the AC -- the modal pops up only when there are more than 1 appeal for the Veteran ID, which in that case user has to choose.

[2017-07-05 22:38] kierachell commented on #2002
seems to have been fixed in IE11, weird.

[2017-07-05 22:38] #2002 closed

[2017-07-05 23:19] kierachell commented on #2397
**PASSED**
the folder is empty and `tmp/pdfs` is not tracked anyway so should be ok :D

[2017-07-05 23:19] #2397 closed

[2017-07-06 05:37] astewarttistatech commented on #1482
**PASSED**

Validated in : Dev
Browsers: FF and Chrome

Steps to Validate:
1. Access the living style guide
2. Navigate to the accordions section via navbar or by manual scrolling.
3. Verify the functionality of each accordion based on AC
4. Verify the copy based on mocks and AC

Screenshots:
![accordions](https://user-images.githubusercontent.com/23038505/27897030-ad8718c2-61eb-11e7-8730-cd9d7cc7

[2017-07-06 05:37] #1482 closed

[2017-07-06 05:39] astewarttistatech commented on #1989
@Sjones352 is this to be verified across Certification V2?

[2017-07-06 11:06] kierachell opened #2550 "Reassign Old Tasks Job | Assigned tasks cannot be expired - kills cron job."
# Description
Seems like a user might leave **Work History** page with `assigned` tasks,
so then next day the `Reassign` tasks job will fail on that task because it needs to `start` the task before it can `expire` it.

## Reproduction Steps

**Scenario 1 -**

1. Go to Work History with 1 task assigned to you
1. Fall asleep
1. Wake up next day to Sentry alerts.
1. See that no one else got their tas

[2017-07-06 13:01] kierachell commented on #2437
@laurjpeterson I know it's a small change, but let's make that a separate issue for when that page actually comes out so that we can see the full flow together.

[2017-07-06 13:14] mogrenAtWork commented on #2338
Waiting until #2511 is complete to be able to test load of query and make sure we don't bring down VACOLS the first time this is run

[2017-07-06 13:58] Sjones352 commented on #1989
@astewarttistatech  please verify it in Styleguide.

[2017-07-06 14:28] mdbenjam commented on #1739
@gnakm is the bottom padding also supposed to be 14px?

[2017-07-06 14:39] abbyraskinUSDS opened #2552 "Reader Help | FAQs | Update question/answer"
As a Product Owner, I would like the copy for all sections on the Help page to be updated which includes new content for FAQs and answers so that they reflect the most recent information.

**_Note:  Several questions and answers have changed as well as order._**

## Acceptance Criteria
1. Verify that Header copy "Caseflow Reader Help" is changed to "Welcome to the Reader Help Page!".
1. Verify tha

[2017-07-06 15:20] laurjpeterson commented on #2437
@kierachell good point. will create a ticket to make that update. thank you!

[2017-07-06 15:31] laurjpeterson opened #2553 "Update Hearing Prep landing page copy to be 'Upcoming Hearing Days'"
As a Judge, I would like the hearing prep landing page to be called 'Upcoming Hearing Days' instead of 'Hearing Schedule', so that I do not confuse it with Caseflow Hearing Schedule (to be built).

Acceptance Criteria for `demo`:
- Visit `/test/users`
- Make yourself as `Hearings` user
- Visit `Hearings Prep`
- Title of page reads 'Upcoming Hearing Days'
- Breadcrumbs read ' Upcoming Hearing Days'

[2017-07-06 15:34] gnakm commented on #1739
@mdbenjam  yes.
@Sjones352 ^^ I changed AC for awareness.

[2017-07-06 17:21] shanear commented on #2430
Proposed google analytics event structure for the events:
(see https://support.google.com/analytics/answer/1033068#Anatomy)

"Controls"
"focus"
"Search"

"Controls"
"click"
"Search Box"

"Controls"
"click"
"Expand all"

"Controls"
"click"
"Category filter"

"Controls"
"click"
"Clear category filter"

"Documents"
"order"
"Receipt date", "Document type"

"Documents"
"filter-by-category"
"Medical", "

[2017-07-06 18:19] joofsh commented on #2549
A couple thoughts:

If we are  interested in keeping deleted comments/tags, then we should consider implementing [soft deletes](https://github.com/rubysherpas/paranoia). This is a pretty commonly used pattern with several benefits (fixing human errors)

If we are interested in seeing edits (and tracking every change in a comment's text), then we'll need to setup a separate "audit table". This can

[2017-07-06 20:06] abbyraskin commented on #1734
@kierachell that's tracked here in #2406 - can we close this ticket?

[2017-07-06 23:13] kierachell commented on #1734
Is there an issue to track that opening a document with keyboard opens it as a single document?

If yes, link it here and close.

[2017-07-06 23:59] kierachell commented on #2459
**PASSED**
Woohoo! 🏃
![loadddddding](https://user-images.githubusercontent.com/18075411/27937518-a75a3282-6285-11e7-859d-99f9db751f52.gif)

[2017-07-06 23:59] #2459 closed

[2017-07-07 15:25] Sjones352 commented on #1739
@gnakm and @mdbenjam currently looks like this. A couple more adjustments then I will push the PR
![padding](https://user-images.githubusercontent.com/23080951/27964555-aea07c14-6306-11e7-90c1-6d043babbefd.gif)

[2017-07-07 15:31] slj commented on #2037
@lakohl / @laurjpeterson  I'm concerned about the appearance of Saving.../Last saved at.

The original mock asks for a bold text like the table headers but a slightly lighter color.  I think it should stand out more, perhaps with both a different color and an italic font, like so:
![daily_italics](https://user-images.githubusercontent.com/1053255/27964864-b2906522-6307-11e7-8cbd-f9d26ae821e3.gif)

[2017-07-07 15:56] shanear opened #2561 "Analytics | Record search values"
As a designer, I want to be able to see all of the things our attorneys are searching so I can make good design decisions :1st_place_medal:.

## Acceptance Criteria
- When I enter a value into the search bar on the Document list page, and either:
    - Wait 0.5 seconds
    - Unfocus the search element
- The value that I entered into the search bar should be saved to the Caseflow database.

## Note

[2017-07-07 16:25] kierachell commented on #1693
**PASSED**
Can't even get that message to show, so that's pretty bullet-proof
![tasks](https://user-images.githubusercontent.com/18075411/27966901-f94024ce-630e-11e7-9081-1aadea48dba7.gif)

[2017-07-07 16:25] #1693 closed

[2017-07-07 16:34] slj commented on #2037
Here's a sample with a slightly smaller font using Arial as the face:
![daily_bold_italics_arial](https://user-images.githubusercontent.com/1053255/27967260-5c1fb432-6310-11e7-90bb-7aa6f6ae496b.gif)

[2017-07-07 18:23] laurjpeterson opened #2563 "Google Analytics for Certification"
Enable google analytics for events in Caseflow Certification so we can track user behavior.

We want to be able to answer questions like:
- How long are RO staff spending one each page?
- What % of appeals started in Certification aren't finished in the same session?
- Do all users make it through all of Certification? On what pages do they drop off?

## Acceptance Criteria
- Track event for the C

[2017-07-07 19:15] Sjones352 commented on #1989
@astewarttistatech  I have verified across Certification V2, V1, Dispatch and Reader so issue is ready for validation.

[2017-07-07 19:40] gnakm commented on #1739
@Sjones352 I don't think there should be a scroll for the issue tags dropdown. It should be the same height as the categories dropdown.

[2017-07-07 20:14] Sjones352 commented on #1739
@gnakm scroll was originally there but I can take it out if you like? Any suggestions @mdbenjam ?

[2017-07-08 00:10] kierachell commented on #2254
**PASSED**
![laodeooda](https://user-images.githubusercontent.com/18075411/27980778-55771acc-6350-11e7-8ff5-529ffe65025d.gif)

[2017-07-08 00:38] kierachell commented on #2553
**PASSED**
works in UAT!
<img width="507" alt="screen shot 2017-07-07 at 8 35 19 pm" src="https://user-images.githubusercontent.com/18075411/27981064-26b91e98-6354-11e7-9ed5-32a402b3f68a.png">
<img width="207" alt="screen shot 2017-07-07 at 8 36 07 pm" src="https://user-images.githubusercontent.com/18075411/27981065-26bad3d2-6354-11e7-819a-b1be2d86e7e5.png">

[2017-07-08 00:38] #2553 closed

[2017-07-08 00:40] kierachell commented on #2420
**PASSED**
from `uat`
<img width="898" alt="screen shot 2017-07-07 at 8 39 14 pm" src="https://user-images.githubusercontent.com/18075411/27981093-65af47ee-6354-11e7-806a-06f735c19b10.png">

[2017-07-08 00:40] #2420 closed

[2017-07-08 00:42] kierachell commented on #2352
**PASSED**
![success](https://user-images.githubusercontent.com/18075411/27981103-b534b376-6354-11e7-98dc-3772d274c1ef.gif)

[2017-07-08 01:14] kierachell commented on #1744
So it's running in a docker composer now with latest chromedriver. I think this might be a Travis-specific failure:
<img width="652" alt="screen shot 2017-07-07 at 12 18 14 pm" src="https://user-images.githubusercontent.com/18075411/27981384-3c989bf8-6359-11e7-8876-fa71ee2d4a4f.png">
<img width="499" alt="screen shot 2017-07-07 at 12 20 36 pm" src="https://user-images.githubusercontent.com/1807541

[2017-07-09 21:08] lakohl commented on #1693
Am I crazy, or are the table headers moving?

Sent with Good (www.good.com)

-----Original Message-----
From: Artem Vovk [notifications@github.com<mailto:notifications@github.com>]
Sent: Friday, July 07, 2017 12:26 PM Eastern Standard Time
To: department-of-veterans-affairs/caseflow
Cc: Kohl, Lara; Assign
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/caseflow] Manager View | Don't allow

[2017-07-09 21:10] lakohl commented on #2037
We actually have 'saving' in italic in later versions, so that is fine. But we should stick to colors and type faces from the style guide. I'm concerned that lighter grays may not be 508 compliant, but if you find one in the USWDS that is, I'm game to take a look.

Sent with Good (www.good.com)

-----Original Message-----
From: Shade L. Jenifer [notifications@github.com<mailto:notifications@github

[2017-07-09 21:55] kierachell commented on #1693
Oh it's been doing that since the table was implemented. This is way less than it used to.

[2017-07-10 02:34] shellicious commented on #2563
this looks good to me!

[2017-07-10 11:22] mogrenAtWork commented on #1744
Let's keep the scope of this issue focused on Travis since there is another ticket to tackle Docker.

This is most likely due to the latest version of chromium-browser and not chromedriver itself.

Have you tried running the tests in Travis with the latest chromedriver and using the `no-sandbox` option that Alan figured out?

For reference, if you try to execute `chromium-browser` with the latest

[2017-07-10 13:11] nemodjuric opened #2567 "Delete"

[2017-07-10 13:46] astewarttistatech commented on #1989
**PASSED**

Validated in: UAT and Dev
Browsers: FF and Chrome

Steps to Validate:
1. Go through the flow for every product in the Caseflow suite
2. Validate Checkboxes, Radio buttons, Dropdown Menus, character limit, text area, text input areas for their respective spacing of 8px or 20px

Screenshots:
not necessary for this test sweep | smoke test

[2017-07-10 13:46] #1989 closed

[2017-07-10 14:35] shanear commented on #2537
So the current logic is this:

1. Any appeal that has `hearing_date` set and `clsdate` not set will appeal in `scheduled_hearings`
2. Any appeal that has `clsdate` set will appear in the main events list

As far as I know, this is what we agreed upon, but it seems like it's not really working. Based on your feedback @cmgiven, it seems like it should be:

1. Any appeal that has `hearing_date` set a

[2017-07-10 14:40] cmgiven commented on #2537
Ah, `clsdate` is obsolete. We need to keep off of `hearing_disp` instead. The date, for both pending and closed hearings, should always come from the `hearing_date` column.

[2017-07-10 15:21] kierachell commented on #2254
However, Dispatch was recolored as well :(
![nooo](https://user-images.githubusercontent.com/18075411/28025625-e9bc84ca-6561-11e7-836f-ef65532c3205.gif)

[2017-07-10 15:33] kierachell commented on #2376
![pacase](https://user-images.githubusercontent.com/18075411/28026279-904d4756-6563-11e7-82ae-485fb9f12498.gif)
<img width="829" alt="screen shot 2017-07-10 at 11 32 34 am" src="https://user-images.githubusercontent.com/18075411/28026290-958dbc82-6563-11e7-961e-0df279d4597e.png">
<img width="705" alt="screen shot 2017-07-10 at 11 32 42 am" src="https://user-images.githubusercontent.com/18075411/28

[2017-07-10 16:08] Sjones352 commented on #1739
@gnakm currently looks like this

![padding](https://user-images.githubusercontent.com/23080951/28027793-6d2b9728-6568-11e7-97a4-179a4a727d62.gif)

[2017-07-10 17:24] abbyraskin commented on #2509
@mdbenjam Russ reported issues seeing his comments in IE. When he added a comment, he could see it (sometimes, possibly always - he couldn't remember) once he opened the specific document, BUT the comment count would be missing from the documents list view (so it appeared there were no comments until he opened the document).

[2017-07-10 17:25] abbyraskin commented on #2509
He also said sometimes IE would freeze and display "something about running a long script"

[2017-07-10 17:26] abbyraskin commented on #2509
He also experienced a bug when opening a document from the documents list page -- it would appear to be the only document in case (no previous/next document arrows)

[2017-07-10 17:26] kierachell commented on #2252
**PASSED**
<img width="1117" alt="screen shot 2017-07-10 at 1 25 11 pm" src="https://user-images.githubusercontent.com/18075411/28030834-5f6ec2b2-6573-11e7-973f-b6f13de2a50c.png">

[2017-07-10 17:26] #2252 closed

[2017-07-10 17:27] kierachell commented on #2246
**PASSED**
<img width="1117" alt="screen shot 2017-07-10 at 1 25 11 pm" src="https://user-images.githubusercontent.com/18075411/28030834-5f6ec2b2-6573-11e7-973f-b6f13de2a50c.png">

[2017-07-10 17:27] #2246 closed

[2017-07-10 17:28] kierachell commented on #2509
I had that happen (no prev/next)

[2017-07-10 17:32] abbyraskin commented on #2509
@kierachell no prev/next only in IE?

[2017-07-10 17:48] kierachell commented on #2509
It was in IE last week but I think @mdbenjam fixed it.

[2017-07-10 18:15] mdbenjam commented on #1734
I'm using this one for the enter bug :). And I just finished it.

[2017-07-10 18:35] #2376 closed

[2017-07-10 18:46] kierachell commented on #1734
**PASSED**
- IE11
![enterdocument](https://user-images.githubusercontent.com/18075411/28034081-264a0fae-657e-11e7-84aa-ccff5f9784e5.gif)
- Chrome
![onchrome](https://user-images.githubusercontent.com/18075411/28034194-869710f0-657e-11e7-9856-a2e9f2e8e8e6.gif)

[2017-07-10 18:46] #1734 closed

[2017-07-10 18:53] kierachell commented on #2363
Seems to have been resolved; marking `Obsolete`
[code]

[2017-07-10 18:54] #2363 closed

[2017-07-10 19:34] tejans24 commented on #1507
Removed the aria tag for search result. The highlighted text is wrapped in <mark> tag

[2017-07-10 21:51] abbyraskin commented on #1809
@Sjones352 wanna take this one?

[2017-07-10 23:08] slj opened #2571 "PropType violations are creating lots of log output from React unit tests"
As noted [here](https://github.com/department-of-veterans-affairs/caseflow/pull/2564#discussion_r126552575), we need to make sure the contracts in our React components are correct and engaged correctly.

The execution of `npm run test` yields lots of log output complaining about these violations.

[2017-07-11 00:30] Sjones352 commented on #1809
@gnakm yes since I am fixing it already lol.

[2017-07-11 11:29] slj commented on #2037
@lakohl in the mock at the very top, the Representative column has two values, the first, based on my experience, is the name of the representative organization (VFW).  What value is "Patrick O'Sullivan"?

[2017-07-11 12:19] lakohl commented on #2037
Patrick O'Sullivan is the name of the Representative

[2017-07-11 12:44] #2567 closed

[2017-07-11 13:38] askldjd opened #2573 "Jenkins PR builder Plan"
## Things to do / think about:

- Inject `JENKINS_PR_BUILDER` env to Rails during PR build. This way, we can avoid setting `--no-sandbox` in `karma.conf.js` and `rails_helper.rb` in developer's machine.

- For the 2 tests that are skipped, how do we fix it?

- The `docker-compose.yml` file in Caseflow still doesn't quite work for me. What should the developer experience be?

- We need a pipeline t

[2017-07-11 14:18] mogrenAtWork commented on #2573
I agree with the rollout plan, addressing the 'things to think about' section in order below:
1. I'm not sure how injecting the `JENKINS_PR_BUILDER` env would fix this problem. I'd love to fix this problem though as the `no-sandbox` option is not ideal. Could you explain this solution a little more?
1. We absolutely need to address these. I can't put my finger on the exact problem, from speaking w

[2017-07-11 14:32] askldjd commented on #2573
I wasn't thinking of anything fancy. By defining the env, we can do some `if/else` magic to skip the `no-sandbox` option if the env variable is defined.

Regarding docker-compose setup, are you expecting dev to mount their folder to the local folder? I am still a bit confused about how I would set it up.

[2017-07-11 14:48] tejans24 commented on #2573
@mogrenAtWork For 3, is it meant for actively developing on docker containers as part of the development flow, or is it mostly for debuting tests and other setup related things?

[2017-07-11 14:54] mogrenAtWork commented on #2573
@tejans24 all of it. I think debugging tests and setup is included in development flow. Also, this isn't mandatory, it's optional for quick setup.

[2017-07-11 15:01] kierachell commented on #2573
I will do the two issues that do not block this from working:
- New issue for `docker-compose` for developers
- New issue for `docker image bake` on current Jenkins

Optimizations to add:
- Parallel test
- Yarn for faster build?
- Fail-fast for failing parallel stages

[2017-07-11 15:12] tejans24 commented on #2573
@mogrenAtWork gotcha, thanks. I think it would be nice to actively use docker as part of the development flow. It think it might be helpful for the db container to have a persistent volume attached and hot reload for react to work. But that could be part of a future iteration as well.

[2017-07-11 15:33] kierachell commented on #2098
### So I presume you want `BFSO` to change based on #2097 ?
e.g:
[code]

- will change to `BFSO=D`? and not `O`?

[2017-07-11 15:34] kierachell commented on #2098
### So does this change to `nil` or `3` ???
[code]

[2017-07-11 15:38] gnakm opened #2574 "Style guide component | Add Checkbox-group and Radiobutton-group"
[WIP]

Description

We currently have a 40px margin button for both checkboxes and radio button but we want those to be only for the checkbox groups. We want to have 2 components for both checkboxes and radio buttons, one where the components are in a list with set margins and one where there are set margins for the whole group.

## Related
https://github.com/department-of-veterans-affairs/caseflo

[2017-07-11 15:41] kierachell commented on #2098
### What if it's `Unlisted` is it still `O` or `nil`?
[code]

[2017-07-11 15:45] shanear commented on #2430
@abbyraskin is it okay if we just track referrals (ie. users navigate to the help page from the document viewer page) instead of link clicks for the logo and the help click? They happen to be a little tricky and Google recommends to just use pageviews instead:

https://developers.google.com/analytics/devguides/collection/analyticsjs/events#outbound_link_and_form_tracking

[2017-07-11 16:00] mdbenjam opened #2575 "Tests | Audit the test suite to find slowest tests"
Spoiler Alert: Our tests are slow. Let's figure out where we can make the largest gains.

# AC
1. Verify that local tests and Travis prints out the time each test takes.
1. Verify that at the end of each test run we print out the list of slowest five tests.
1. Identify tests that should be speeded up or removed, and post them here

[2017-07-11 16:03] abbyraskin commented on #2430
@shanear to make sure i'm understanding, we'll know what page they were on when they clicked the logo (for example), but will have no sense of frequency for the element itself?

[2017-07-11 16:06] kierachell commented on #2098
Here is the main case that need to be tested:
1. If the user indicates that VBMS is correct, we should update Vacols representative info from BGS (edited)

2. If BGS representative type is “Service Organization”, we should use  BGS reprsentative name to map to a Vacols code using this map https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/mappers/power_of_attorney_mapper.rb

[2017-07-11 16:28] mogrenAtWork opened #2576 "Reader feature test scenario "Open a document and return to list" failing in Jenkins env"
Fix the [Reader feature test](spec/feature/reader_spec.rb#809) for the scenario "Open a document and return to list". It is consistently failing in our new [Jenkins env](https://a54c945d65e0311e7843f0206c2f3847-1313167371.us-gov-west-1.elb.amazonaws.com) and randomly in the TravisCi environment:

[code]

This may be due Selenium moving too fast or our headless testing setup is missing additional c

[2017-07-11 16:32] mogrenAtWork opened #2577 "Certification feature test for context "Save certification data in the DB" failing in Jenkins"
Fix the [Certification feature test](spec/feature/save_certification_spec.rb#372) for the scenario "Save certification data in the DB". It is consistently failing in our new [Jenkins env](https://a54c945d65e0311e7843f0206c2f3847-1313167371.us-gov-west-1.elb.amazonaws.com) but not in the TravisCi environment with the error:
[code]

This may be due Selenium moving too fast or our headless testing se

[2017-07-11 16:33] mogrenAtWork commented on #2577
Running the tests again now to reproduce the error message and will add it to the ticket.

[2017-07-11 16:33] mogrenAtWork commented on #2576
Running the tests again now to reproduce the error message and will add it to the ticket.

[2017-07-11 16:35] mogrenAtWork commented on #2573
@tejans24 good points. As of now, the DB container mounts from a `pgdata` directory on your local file system within the project, so this will be persisted. Hot-reload should work as well. I'll clarify those in the description.

[2017-07-11 16:44] kierachell commented on #2537
### Hearing Held in VACOLS
[code]

### But not in API???
[code]

[2017-07-11 17:08] shanear commented on #2537
@kierachell that's because the hearing is type "F". Which according to @cmgiven should not show up in appeals status.

[2017-07-11 17:14] Sjones352 commented on #1809
Screenshot
<img width="248" alt="screen shot 2017-07-11 at 1 12 58 pm" src="https://user-images.githubusercontent.com/23080951/28080676-c30be404-663a-11e7-9d26-ed51fd5992a7.png">

[2017-07-11 17:24] shanear commented on #2537
Its because according to @cmgiven all hearings must have an assigned judge to be recognized by caseflow
[code]
returns no results.

[2017-07-11 17:36] kierachell commented on #2575
Rspec has `--profile` option:
[code]

[2017-07-11 18:10] cmgiven commented on #2537
I get a result for that query in dev. It's a central office hearing that was held on March 25, 2009.

[2017-07-11 18:13] gnakm commented on #1809
@Sjones352 Hover? 😃

[2017-07-11 18:14] kierachell commented on #2537
I just changed the BOARD_MEMBER to one that exists in STAFF and it worked.
Is there a case when `BOARD_MEMBER` is not found in `STAFF`? @cmgiven

[2017-07-11 18:24] Sjones352 commented on #1809
@gnakm  Hover.

![hover](https://user-images.githubusercontent.com/23080951/28083761-790664ce-6644-11e7-9415-8a00ceffac25.gif)

[2017-07-11 18:25] cmgiven commented on #2537
Ah, right. Sorry. Shane, that should be a left join. There are plenty of nulls, and we should include them.

[2017-07-11 18:39] mogrenAtWork commented on #2573
@askldjd

The docker-compose.yml file already has all of the volumes mounted to specific directories within the project, so the dev will not need to alter anything to get this working. These directories are also excluded from git appropriately using `.gitignore`

[2017-07-11 18:59] askldjd commented on #2573
ok, i will give this a spin later tonight. Thanks

[2017-07-11 19:06] kierachell commented on #2098
**PASSED**

### BEFORE
[code]

<img width="573" alt="screen shot 2017-07-11 at 12 22 17 pm" src="https://user-images.githubusercontent.com/18075411/28078678-af1d3274-6633-11e7-8ff6-466e9960e765.png">

### AFTER
[code]

[2017-07-11 19:06] #2098 closed

[2017-07-11 19:52] kierachell commented on #2537
### Original case:
[code]
Seems right

[2017-07-11 19:58] kierachell commented on #2575
You're not gonna be happy, @mdbenjam :(
[code]

[2017-07-11 20:06] mdbenjam commented on #2510
Two things I'll add:
1. Are we sure those load times happen? Reader is under the same constraints and I haven't heard about these timeouts. Maybe this order of magnitude of wait times is when people start saying VBMS is down.
1. Is there any chance to prefetch files?

[2017-07-11 20:17] askldjd commented on #2510
Just looking at a Prometheus counter on `FetchDocumentById`.
![image](https://user-images.githubusercontent.com/3258724/28088640-4cb666c0-6654-11e7-819c-2d84fea046d5.png)

At the 99% quantile, I am seeing that most documents are fetched in 6s. The multi-minutes latency is a rare event.

[2017-07-11 20:18] kierachell commented on #2537
### "Postponed will not appear in the event list. No show and cancelled should. Note that these are `HEARING_DISP`s, not `HEARING_TYPE`."

What's going on here:
[code]

#### Does not return a cancelled hearing:
[code]

[2017-07-11 20:23] askldjd commented on #2510
Ah, I misread your issue. I didn't realize `ListDocuments` is the problematic API.

![image](https://user-images.githubusercontent.com/3258724/28088903-34ecdaa0-6655-11e7-8ab2-419366de8535.png)

It looks like 30s latency for this API is not uncommon.

[2017-07-11 20:40] kierachell opened #2580 "SPIKE | Investigate a strategy for logging/saving writes to VACOLS and other integrations to maintain data integrity"
## Connects:
- https://github.com/department-of-veterans-affairs/appeals-deployment/issues/691
- https://github.com/department-of-veterans-affairs/caseflow/issues/2268
- https://github.com/department-of-veterans-affairs/caseflow/issues/2292

## Problem

There is a possibility of data corruption when we deploy something buggy. This data corruption can propagate quickly down the Appeal stream and af

[2017-07-11 21:00] kierachell opened #2581 "Setup `docker-compose` dev/test because that's cool nowadays"
## Connects
- https://github.com/department-of-veterans-affairs/caseflow/issues/2573
- https://github.com/department-of-veterans-affairs/caseflow/pull/2448

The docker-compose environment should contain all dependencies for devs to get started quickly. The steps to initialize the caseflow project should be:

 - Install Docker and checkout the project
    1. Run docker-compose to create a environme

[2017-07-11 21:14] amprokop commented on #2510
Maybe 30s is the wrong number! Should it be more like 10 or 15 seconds? For users of a consumer-facing website, if it's longer than 10s, they're probably gone :) but VA is different of course.

[2017-07-11 21:24] laurjpeterson opened #2582 "Investigate bug where the user can't copy/paste on Sign & Certify page"
Investigate why the name of certifying official clears out when the user copies and pastes text into the field and changes the radio button of their title.

During St. Pete pilot, we saw a user copy & paste their name into the 'Name of certifying official' field on the Sign & Certify page. 'Other was selected by default as the 'Title of certifying official'. When the user changed her role to DRO,

[2017-07-11 21:25] laurjpeterson opened #2583 "Remove 'Other' radio button from being selected by default on Sign & Certify page"
As a user, I do not want any title to be selected by default in the 'Title of certifying official' section of the Sign & Certify page, so that I can select my title myself.

Acceptance Criteria:
- No radio button is selected under 'Title of certifying official' when the user navigates to the Sign & Certify page.

[2017-07-11 22:14] amprokop commented on #2510
to @mdbenjam:

@shellicious shadowed a certification where VBMS wait times caused Cert not to start at all — likely the browser request timed out before the ListDocument request finished.

We tell users to change the VBMS dates to match VACOLS dates, and we use the ListDocuments call to tell whether or not dates are matching, so we can't cache that call. We could potentially prefetch the form itse

[2017-07-12 02:07] kierachell commented on #2537
**PASSED**
- Held
-Cancelled....lllelllleleleleed
-No Show

- Checked that this does not show:
  - Postponed
  - `F` types

[2017-07-12 02:08] #2537 closed

[2017-07-12 10:47] kierachell commented on #2513
**PASSED**
The issue has not come up in a week.
I made a separate ticket for capturing potential failures.

[2017-07-12 10:47] #2513 closed

[2017-07-12 11:03] kierachell opened #2586 "ARC Work Assignments | Table columns shift when editing quotas"
# Description
When managing team/user quotas on the ARC Work Assignments page,
then table headers/columns/rows move around and it looks fugly.

## Reproduction Steps

**Scenario 1 -**

1. Go to Dispatch Manager page
1. Edit quotas
1. See table shift around
1. Be sad
1. Compare this to VBMS....

**Validated in the following Environment(s)**
- [ ] Dev
- [x] UAT
- [x] Preprod
- [ ] Prod

## Screensho

[2017-07-12 11:05] kierachell commented on #2407
- Directly from the deploy! (using demo for PII and stuffs)
![screen shot 2017-07-12 at 7 05 13 am](https://user-images.githubusercontent.com/18075411/28114829-7f52b486-66d0-11e7-838d-68d3e01b065f.png)

[2017-07-12 13:51] mogrenAtWork commented on #2576
@mmlumba had a good thought that this might be related to #2441 as our Xvfb server runs at 1024x768

[2017-07-12 14:32] shanear commented on #1974
this was completed by https://github.com/department-of-veterans-affairs/caseflow/pull/2578

[2017-07-12 14:32] #1974 closed

[2017-07-12 15:01] joofsh opened #2590 "[Backend] Update `upcoming_for_judge` VACOLS query"
Currently we are looking up the judge's hearings by using the attyid (attorney id). Instead we should change this query to look the hearings up using the judge's `css_id` (instead of the current `staff.stafkey` matches the user's `vacols_id` in the caseflow DB). This also makes the User's `vacols_id` column unnecessary in the Caseflow DB, and it should be removed.

##Acceptance Criteria
- Update `

[2017-07-12 17:14] kierachell commented on #1809
**PASSED**
![peek 2017-07-12 13-12](https://user-images.githubusercontent.com/18075411/28130141-efaae52c-6703-11e7-836b-8a121832f418.gif)

[2017-07-12 17:14] #1809 closed

[2017-07-12 17:22] kierachell commented on #1739
**PASSED**
![screenshot_2017-07-12_13-17-43](https://user-images.githubusercontent.com/18075411/28130506-deacad9a-6704-11e7-8eaa-12ff6117b5ba.png)
![screenshot_2017-07-12_13-18-23](https://user-images.githubusercontent.com/18075411/28130505-dea49fec-6704-11e7-945c-ee4e5ba64945.png)

[2017-07-12 18:21] nemodjuric commented on #2294
@gnakm @abbyraskin Do you expect to see the banner on login and help page too, or only when a user is authenticated?

[2017-07-12 18:58] gnakm commented on #2294
@nemodjuric I think it makes sense to only show when user is logged in.

[2017-07-12 19:05] gnakm commented on #2521
Closing because this has been combined with #2511

[2017-07-12 19:05] #2521 closed

[2017-07-12 19:10] gnakm opened #2593 "Welcome Gate | Show AOD and CAVC"
## Description
Users have given us feedback that it would be helpful to see AOD and CAVC at a glance from the landing page. It will help users prioritize their reviews.

## AC
Reuses work from #1998
  - If the case is AOD, show the word AOD in `$color-secondary` in a second line under Veteran's name.
  - If the case is CAVC, show the word CAVC in `$color-secondary` in a second line under Veteran's

[2017-07-12 20:11] askldjd opened #2594 "/health-check is passing even though demo env crashes"
Demo env was down in 20170712 04:05PM EST

All requests return 500s.
![image](https://user-images.githubusercontent.com/3258724/28137779-724a4118-671c-11e7-9bcc-a10e787c2a21.png)

`/health-check` returns 200
![image](https://user-images.githubusercontent.com/3258724/28137798-87f8c93a-671c-11e7-8b10-627a73f20073.png)

This shouldn't happen. `/health-check` should at least verify that the main page

[2017-07-12 23:50] kierachell commented on #2563
- Where do I see this?
- Is there a GA account? Where do I find it?
- How do the metrics appear in GA?
- Is this actually connected to UAT?

[2017-07-12 23:58] kierachell commented on #1739
**PASSED**

Go Sandra! Go Sandra!
![screenshot_2017-07-12_19-54-37](https://user-images.githubusercontent.com/18075411/28144910-60d44148-673c-11e7-82aa-8930283744e3.png)
![screenshot_2017-07-12_19-57-14](https://user-images.githubusercontent.com/18075411/28144911-60d9ec24-673c-11e7-84ab-4429998257a2.png)

[2017-07-12 23:58] #1739 closed

[2017-07-13 00:04] kierachell commented on #2254
**PASSED**
![peek 2017-07-12 20-03](https://user-images.githubusercontent.com/18075411/28145045-40917d3c-673d-11e7-997e-c841aae40d19.gif)

![peek 2017-07-12 20-00](https://user-images.githubusercontent.com/18075411/28145041-3c4ca8b4-673d-11e7-8df7-a9daa7956b5f.gif)

[2017-07-13 00:04] #2254 closed

[2017-07-13 00:23] kierachell commented on #2352
**PASSED**
![peek 2017-07-12 20-05](https://user-images.githubusercontent.com/18075411/28145392-f60ee2f6-673f-11e7-887e-3b5c181916e7.gif)

[2017-07-13 00:23] #2352 closed

[2017-07-13 01:12] kierachell commented on #2407
There was a rogue instance in production that resulted in the spam continuing beyond the fix.
Killed the instances.
Logs are clean.

[2017-07-13 01:12] mdbenjam commented on #2498
I have most of the changes here. Waiting to do this with #2497

[2017-07-13 01:13] mdbenjam commented on #2497
Have most of the changes here. Waiting until Teja is done with #1998 before I proceed.

[2017-07-13 03:01] Sjones352 commented on #2478
@gnakm please let me know if the drop shadow is thick so I can reduce it. Still working on the margins.
![togglebutton](https://user-images.githubusercontent.com/23080951/28148617-ee550cfa-6755-11e7-9097-107afd690b4f.gif)

[2017-07-13 11:46] astewarttistatech commented on #1507
@tejans24 Put that comment in the AC cause as of now it is failed.

[2017-07-13 12:01] astewarttistatech commented on #1507
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Reader with multiple documents
2. Comment and add tags to multiple documents with a consistent theme
3. On the Documents List page, search for the term
4. Validate that the search results leave the term in a highlit state
5. Validate that the search results are expanded
6. Validate the search results based on the r

[2017-07-13 12:01] #1507 closed

[2017-07-13 13:48] mogrenAtWork opened #2595 "Add GH hook to push events to the new Jenkins instance"
Currently, the new Jenkins instance polls the GH repo every minute for changes to the caseflow repository.

Add a Github hook to push events to the [new Jenkins instance](https://a54c945d65e0311e7843f0206c2f3847-1313167371.us-gov-west-1.elb.amazonaws.com) to execute the tests for all PRs in parallel with Travis. This will start Jenkins jobs instantaneously when a commit is pushed, saving any delay

[2017-07-13 17:49] kierachell commented on #2531
## Not sure if this is intended....
- from Chrome
![weirdjump](https://user-images.githubusercontent.com/18075411/28180069-fa27ba1a-67d1-11e7-90dd-1229630da394.gif)

[2017-07-13 17:57] astewarttistatech commented on #2531
![jump_to_comments](https://user-images.githubusercontent.com/23038505/28180476-32c0a32c-67d3-11e7-8a46-f03ca2a894a3.gif)

[2017-07-13 18:27] abbyraskin commented on #2342
Needs updated mock to show issue code

[2017-07-13 18:29] abbyraskin commented on #1997
@gnakm we should prioritize nailing down some of these design/functionality details :D

[2017-07-13 18:30] abbyraskin commented on #1997
@aroltsch would love to sync with you on this soon

[2017-07-13 18:58] gnakm opened #2597 "Welcome Gate | Expandable table for many issues"
## Description
There are many cases where the list of issues can get very long and users should have the option  to expand and collapse these long lists so that they can easily see all the cases at a glance.

## AC
- [ ] Verify that after 3 issues, there is a See More link that allows users to expand the table row and see all issues
- [ ] Verify that at the bottom of the list, there is a See less

[2017-07-13 20:43] mdbenjam commented on #2531
@kierachell what did you do to make that happen? Were you clicking any buttons offscreen?

[2017-07-14 00:00] kierachell commented on #2531
I did not touching anything extra.
- Add a comment to a 10+ page document on the last page
- Go to Document List
- Expand the comment section for that document
- Click jump to section
- Wait for the document to slowly load

NB:
- Maybe screen size affects the display - it seems like zoom level is not saved between views
- Rendering multiple pages on the screen (based on above) might still cause th

[2017-07-14 00:58] joofsh commented on #727
After talking with Alan, we've decided to solve this by updating the `/health-check` endpoint to return a 400 if the connection to VACOLS becomes dead. To QA this we can:

- Verify regular healthcheck requests still return 200
- Run [tcpkill](https://gist.github.com/vdw/09efee4f264bb2630345) on the UAT instance. I did this by running `sudo tcpkill -i eth0 -9 port 1526` (blocking all traffic to VAC

[2017-07-14 03:41] mogrenAtWork commented on #2595
This is blocked until @CyberKoz is back and can set the URL for the Jenkins in AWS and create the appropriate permissions needed for GH to push to Jenkins

[2017-07-14 03:53] mogrenAtWork commented on #2511
@gnakm should there be any indentation for the `issue levels` below the issue description?

[2017-07-14 04:13] mogrenAtWork commented on #1998
@tejans24 just a heads up, I've added a `levels` attribute to the `Issue` model that may help you: https://github.com/department-of-veterans-affairs/caseflow/pull/2530/files#diff-b4d2426dbdcb62ca15098fd8b5be9f0dR79

[2017-07-14 04:38] mogrenAtWork commented on #2573
I've updated the tech spec for the Jenkins migration with the discussion from this thread: https://github.com/department-of-veterans-affairs/appeals-pm/blob/master/caseflow/tech_specs/migrate_to_jenkins_for_all_ci.md

Let me know if anything needs to be changed, otherwise, I'll close this issue out.

[2017-07-14 13:32] gnakm commented on #2511
@mogrenAtWork Yes! So it should always be that the texts are left aligned to each other and not the numbers.

[2017-07-14 13:40] mogrenAtWork commented on #1744
Welp, adding the `no-sandbox` flags didn't seem to work on Travis. I'm removing myself as an assignee and just letting Artem take over

[2017-07-14 13:54] NickHeiner commented on #2510
+💯. This is what Reader does. It makes the app feel more responsive.

If we're living in full SPA land, then the initial SPA load should be as lightweight as possible. Don't make any data calls on the backend, especially ones to slow services. Instead, return just the HTML and JS to load the page, display a spinner, and then start on the data requests.

Another benefit of this is it makes it easy

[2017-07-14 13:57] astewarttistatech commented on #2407
**PASSED**

Steps to Validate:
1. Access AWS Cloudwatch
2. Go into the logs for Preprod, Prod, and UAT for currently running instances
3. Validate that the logs do not contain "Cache Read" logs

Screenshots:
<img width="1168" alt="screen shot 2017-07-14 at 9 50 11 am" src="https://user-images.githubusercontent.com/23038505/28215112-d868b538-687a-11e7-82bf-fa1690aea35a.png">
<img width="1174" alt="

[2017-07-14 13:57] #2407 closed

[2017-07-14 14:22] nemodjuric opened #2604 "Make DependenciesReportServiceLogJob print to the app log stream"
... instead of sidekiq log.
See https://github.com/department-of-veterans-affairs/caseflow/pull/2554

[2017-07-14 14:25] nemodjuric opened #2605 "Add PerformanceDegradationBanner to application_alt.html.erb template"
Similar to #2294

[2017-07-14 14:58] amprokop commented on #2510
# Discussion notes
- there was consensus that this is a valuable improvement
- we agreed that it should be implemented before full certification v2 rollout
- @shellicious to take a pass at design

@shellicious — Hearings Prep and Reader have a similar spinner on app load. We'd like to make this as similar to theirs as possible. From a design perspective, do we want to show the user any messaging?

[2017-07-14 15:30] joofsh opened #2606 "Unify application.html.erb templates"
Tango team diverged application templates between hearing prep and the previous apps.
Keeping these two templates in parallel has created confusion & churn as changes are made to them.

Acceptance Criteria:
- Unify the templates such that only 1 is used across all products
- Ensure the template is still able to support narrow & wide viewpoints

[2017-07-14 15:40] amprokop commented on #2582
This may be IE only. @kierachell can you reproduce this?

[2017-07-14 16:01] NickHeiner commented on #2510
👍

[2017-07-14 16:02] slj commented on #2605
If the changes exist in `application.html.erb` then this ticket will be fixed via https://github.com/department-of-veterans-affairs/caseflow/issues/2606

[2017-07-14 16:02] NickHeiner commented on #2510
From an implementation perspective, @amprokop, this would be a great place to ensure that we're sharing components as much as possible. In addition to the spinner itself, it would be nice to share a component that does the "show the spinner until the data is loaded, then show this other content" logic.

[2017-07-14 16:08] kierachell commented on #727
**PASSED**

- Killed the connection to VACOLS with iptables
- Got ELB to rotate the instance
![screenshot_2017-07-14_11-53-21](https://user-images.githubusercontent.com/18075411/28220371-2dff7506-688d-11e7-820f-e38e675de63f.png)

[2017-07-14 16:08] #727 closed

[2017-07-14 17:09] NickHeiner commented on #1744
If we are using the latest Chromedriver on a new CI setup, then this ticket can be considered successfully resolved.

[2017-07-14 17:15] abbyraskin commented on #2342
@mdbenjam assigning you, as you expressed interest in picking this up, but reassign accordingly as needed :D

[2017-07-14 17:17] abbyraskinUSDS opened #2607 "Welcome Gate | Add a "due date" column"
## Story
When opening Reader, I want to know case due dates at a glance, so I can prioritize my work assignments.

## Acceptance Criteria
- Gate includes a due date column, using due dates from DAS (DD/MM/YYYY)
- Cases appear in the order in which they are due - cases that are due soonest are at the top

## Mocks
![image](https://user-images.githubusercontent.com/13420618/28136085-78302508-6716-11

[2017-07-14 17:20] abbyraskin commented on #2607
@gnakm @mdbenjam hmmm - will judges see this column? will it always be blank for them?

[2017-07-14 17:23] abbyraskin commented on #2607
er, never mind. it would just show the date it's due for the assigned attorney.

[2017-07-14 17:26] abbyraskin commented on #2607
(I believe due dates are assigned at the time a judge checks a case in to their attorney, so I don't think they'd ever see one...)

[2017-07-14 17:27] gnakm commented on #2607
@abbyraskin Can we run this by a judge over lync? My guess was that they wouldn't see it.

[2017-07-14 17:56] slj opened #2608 "HTTPClient::ReceiveTimeoutError: execution expired during BGS file fetch via SSN"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/295/

[2017-07-14 17:56] abbyraskin commented on #2607
I suggest we hold off on implementing this until we can make it meaningful for both VLJs and attorneys.

[2017-07-14 18:03] slj opened #2609 "VMBS Service throwing VBMS::ClientError during fetch_document_for()"
https://sentry.ds.va.gov/department-of-veterans-affairs/efolder/issues/285/

[2017-07-14 18:15] slj opened #2610 "HTTPClient::ReceiveTimeoutError during BGS Service find_by_file_number()"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/294/

[2017-07-14 18:18] slj opened #2611 "HTTPClient::ReceiveTimeoutError during MetricsService client.can_access?()"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/233/

[2017-07-14 18:24] slj opened #2612 "VBMS::HTTPError on MetricsService send_request()"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/262/

[2017-07-14 18:24] #2612 closed

[2017-07-14 18:27] slj opened #2613 "AASM::InvalidTransition in Dispatch"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/293/

[2017-07-14 18:29] slj opened #2614 "ActiveRecord::StatementInvalid in Dispatch"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/291/

[2017-07-14 18:31] slj opened #2615 "AASM::InvalidTransition in Dispatch (task/cancel!)"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/268/

#1394

[2017-07-14 18:34] slj opened #2616 "ActiveRecord::StatementInvalid OCIException: OCI8 already closed"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/287/

[2017-07-14 18:41] gnakm opened #2617 "Welcome Gate | Issues alignment"
## Description
Left-aligning the header "Issues" with the issues descriptions (not numbers) is clearer to read and balances unnecessary white space.

## AC
- [ ] Left-aligning the header "Issues" with the issues descriptions (not numbers) text.

## Mock ups

![image](https://user-images.githubusercontent.com/13420618/28226042-a91937a8-68a2-11e7-9c57-1dad168e14ed.png)

![image](https://user-images.

[2017-07-14 18:49] amprokop commented on #2510
Absolutely, @NickHeiner — once we have some design guidance, we can hammer out those details (you spelled out mostly what i've been thinking though)

[2017-07-14 18:51] abbyraskin opened #2618 "Welcome Gate | Loading indicator"
**Story**
As a user, I want to know when my checked in cases are still loading, so I don't think my list is blank.

## AC
- Add loader (4 pt stars) to Welcome Gate page with [reader green from style guide](https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/styleguide#loaders)
- Copy underneath the loader is "Loading cases in Reader..."
-  Loader should appear below t

[2017-07-14 19:27] mdbenjam opened #2619 "[Friday 7/21] How to get more realistic VACOLS data in UAT"
When working on the welcome gate ticket for Reader we had some problems with getting accurate data to test with. We had assumptions based on what we thought the data should look like, I asked Artem to create data based on these assumptions and the tickets passed. However, they failed in prod, because the data was not what we expected. I would like to explore how to migrate scrubbed data from Prod

[2017-07-14 19:34] nikitarockz opened #2620 "[V2] Feature Flag | Enable District ROs - Southeast (7/28/2017)"
As Product Owner, I would like the following ROs to have the Certification v2 feature flag enabled on Friday, 7/28/2017 so that the users in the Southeast District can begin using Certification v2.

### ROs
District|BFREGOFF|Name
---|---|---
Southeast|RO17|St. Petersburg, FL
Southeast|RO16|Atlanta, GA
Southeast|RO22|Montgomery, AL
Southeast|RO55|San Juan, PR
Southeast|RO19|Columbia, SC
Southeast|R

[2017-07-14 19:47] mdbenjam opened #2621 "[Friday 7/21] Preventing bad writes to VACOLS"
We've had a couple of instances of writing bad data to VACOLS. We want to discuss team norms to minimize the chances of this happening. After our first incident we had originally updated our team norms to require two reviews on every write to an external system, but maybe this is not enough. What else should we do to prevent this from happening?

[2017-07-15 14:53] askldjd opened #2625 "[MONDAY 07/24] Strategy to deal with Dispatch cron job failure"
Recently, we had sidekiq job failures that lead to Dispatch errors. https://github.com/department-of-veterans-affairs/caseflow/issues/2512 https://github.com/department-of-veterans-affairs/caseflow/issues/1814

I would like to come up with a list of action item that we can do to mitigate disruptions to the user.

Here are some thoughts:
 - Cron job failure should be reported to Sentry (then theref

[2017-07-15 15:33] askldjd commented on #2625
Verified that Raven does capture exceptions in Sidekiq. At minimum, we should be able to wrap up all cron jobs in the Raven scope.

Here's an experiment using the Heartbeat Task.

## Sauce
[code]

## Sentry integration
![image](https://user-images.githubusercontent.com/3258724/28240499-28b7479e-6951-11e7-89f9-b90c831d2dc2.png)

## Sentry -> Slack integration
![image](https://user-images.githubuser

[2017-07-15 17:29] kierachell commented on #2294
### This isn't exactly "help page" but it does not require login to be shown. This is the basic `/` route.

- Also consider the `/whats-new` route. (you can even just check with `rake routes` for other possible pages)
![screenshot_2017-07-14_17-41-02](https://user-images.githubusercontent.com/18075411/28241387-860f7118-6961-11e7-8f52-24d5bef2a6ca.png)

[2017-07-15 17:51] kierachell commented on #2625
Please see #1814 for proper suggestions. It's an old issue and has not been prioritized, so I updated it cause it needs to be resolved for our sanity.

[2017-07-15 23:11] kierachell commented on #2621
Related to https://github.com/department-of-veterans-affairs/caseflow/issues/2580

[2017-07-15 23:28] kierachell commented on #2619
## VACOLS data
  - Our VACOLS data is fine it is pretty darn realistic compared to many other situations you might find yourself.
- Currently I am working on https://github.com/department-of-veterans-affairs/appeals-deployment/issues/635 which will help resolve the issue - we will be able to have people go in with read-only access into prod - safe and sound
- Furthermore, I did reach out to you wi

[2017-07-16 01:06] mdbenjam commented on #2619
@kierachell thanks for the detailed response. I didn't have a good handle on what you are capable of doing wtih VACOLS UAT. I'm too isolated in my nice little fake data island :). I wasn't aware of https://github.com/department-of-veterans-affairs/appeals-deployment/issues/635 but that is super exciting. Thanks for highlighting how I can work better next time.

[2017-07-16 19:52] kierachell commented on #2619
I like to have these discussions in person, so maybe this Thursday (heads-down day) would not be ideal.
Maybe schedule the discussion for a day when most can be at BVA so I can be on the VA network and show the data live? I do want to hear more about how to make VACOLS and other dependencies more accessible so that you can know what your code will be hitting.

Additionally: @aroltsch can show her

[2017-07-17 14:28] mdbenjam commented on #2619
Gah I always forget about heads-down-thursday. Let's move to Friday.

[2017-07-17 14:50] joofsh commented on #1814
Some food for thought:
- +1 Alan's idea of moving the job to 4pm.
- +1 Adding slack integration directly to caseflow. Having that infrastructure in general will be good for many things going forward.
- The reason the `PrepareEstablishClaimTasksJob` is so "unstable" is that we're updating *all* appeals in the same 1 job. This is not a good use of Sidekiq, as it will stop if any 1 error occurs. The

[2017-07-17 14:55] abbyraskin commented on #2375
@gnakm I think the CAVC/AOD handling AC and mock is outdated now, to keep it consistent with changes in claims folder details accordion

[2017-07-17 15:03] abbyraskin commented on #2593
- still needs notes about accessibility

[2017-07-17 15:03] shanear opened #2626 "Make sure dependency failure error messaging for API"
Whenever we have a failure from a dependency, the error message we send in our API should communicate that appropriately.

[2017-07-17 15:09] cmgiven commented on #2625
Yeah, I would suggest maybe run reassign and create at 4:30, and then prepare at 5:30?

Side note: we are recording the number of appeals prepared on the dispatch stats page. As it turns out, I don't have sufficient permissions to access them, but they should be there.

[2017-07-17 15:17] astewarttistatech opened #2627 "Hearings | How is a user getting a "vacols_id"?"
**Description:**
Currently, when a user tries to access Hearings when the feature is toggled on and the function is enabled, if the css_id being used doesn't have a "vacols_id" (nil) then they will receive a 404 error and a "Page Not Found" page. This results in the hardcoding of a "vacols_id".

**Expected:**
unknown

**Steps to Recreate:**
1. Log into the Caseflow app with "CASEFLOW1" css id.
2.

[2017-07-17 15:25] mogrenAtWork opened #2628 "Welcome Gate | Update query to include cases assigned to judges"
Currently, the Welcome Gate only works for attorneys since we only use the DECASS table to query from in app/models/vacols/case_assignment.rb. We'd like to include all cases assigned to judges as well. None of the judges' cases have the sdomainid = css_id of the judge.

We'll need to figure out the correct query to pull the judges' cases in as well.

# AC
- Cases displayed on welcome gate include

[2017-07-17 15:59] astewarttistatech commented on #2037
**PASSED**

Validated in: UAT
Browser: FF and Chrome

Steps to Recreate:
1. Access a css login that doesn't have a "nil" vacols_id
2. Toggle on the "Hearings" feature
3. Enable the "Hearings" function
4. Access the daily docket page from one of the dates found on the Docket page for Hearings prep. Format: /hearings/dockets/YYYY-MM-DD

Screenshots:
![dailydocket](https://user-images.githubuserconte

[2017-07-17 15:59] #2037 closed

[2017-07-17 16:18] astewarttistatech opened #2629 "Hearings | Selecting a date from the "Dockets" page re-routes, adding an extra "/dockets" to the URL"
**Description:**
Currently, if on the /hearings/dockets page and a hyer-linked date is selected, when the page routes to the Daily Docket page the URL has an extra "/dockets" added, resulting in a blank page

**Expected:**
URL should be /hearings/dockets/YYYY-MM-DD instead of /hearings/dockets/dockets/YYYY-MM-DD

**Steps to Recreate:**
1. Log into the Caseflow app with a user who has access to Hea

[2017-07-17 16:38] astewarttistatech opened #2630 "User is not prompted to log in when trying to access URLs in UAT"

[2017-07-17 17:14] kierachell commented on #2294
### You set the wrong monitor url - add `/sample`
[code]

### Banner does show up for a not-logged in user

![screenshot_2017-07-17_13-13-27](https://user-images.githubusercontent.com/18075411/28280458-d0a04b9e-6af1-11e7-8783-5fa6c22327a2.png)

Otherwise it looks pretty good

[2017-07-17 17:36] nemodjuric commented on #2294
@kierachell Thanks for catching that, that should be fixed as part of appeals-deployment issue
When it comes to not-logged in user issue - our application controller checks for authentication. If the user is authenticated, then it will show the banner, if it's not then it will redirect to login page. Does it show when there is no user login?

[2017-07-17 19:38] gnakm commented on #2593
@tejans24 We made edits here. Both AOD and CAVC is in red. Could you add the data that Chris shared with us in the AC above?

[2017-07-17 20:51] joofsh commented on #2628
Hey, it look like this might relate to a hearing prep ticket https://github.com/department-of-veterans-affairs/caseflow/issues/2590 . We were going to change our setup to mimic Reader. Is this not valid for Judges? If so, can you update that ticket with what you've learned?

[2017-07-17 20:57] laurjpeterson opened #2632 "Allow Judge to add an issue on the Hearing Worksheet"
WIP ticket

As a Judge, I need the ability to add an issue to the Hearing Worksheet, so that I can hear an additional issue from another appeals stream during a hearing and/or so that I can make a correction to existing issues on the worksheet

[2017-07-17 21:08] mdbenjam opened #2633 "Document View | Refreshing with metadata moves to single page view"
When you click on a link in the document list we send you to the document view, but put metadata in the link. This causes a problem where if you refresh the backend expects this to be a single document view, and so only sends info for the one document. Then the back to all documents button is missing.

[2017-07-17 21:08] laurjpeterson opened #2634 "Allow Judge to delete an issue on the Hearing Worksheet"
WIP ticket

As a Judge, I would like to be able to delete an issue on the Hearing Worksheet, so that only the issues I actually hear are listed.

[2017-07-17 21:21] mogrenAtWork commented on #2573
Closing this out

[2017-07-17 21:21] #2573 closed

[2017-07-17 22:11] abbyraskin commented on #2593
AOD is determined by "Type Action" field (if the value is 7).

AOD is a bit more complicated, pasting Chris' info here for now:

There are two ways that an appeal can be marked as AOD, either by the AOD office, or by a judge during a hearing. If the former, we'll look for a diary marking it as AOD in the `ASSIGN` table. If the latter, we'll look for a hearing where AOD was granted in the `HEARSCHE

[2017-07-17 22:41] kierachell commented on #2294
### There seems to be some kind application view error; this comes up on pages where I don't expect to see the banner but it is shown:
[code]

[2017-07-18 11:09] kierachell opened #2639 "BGS | Return proper error when only one of the services is down."
# Description
When BGS is down but VACOLS is up,
We're doing a filenumber lookup using the SSN in BGS.
But BGS is down - a lot - so we can't find the SSN/Filenumber...
and we return 404 when it's actually an outage/degradation

## Possible solution:
- can we cache more permanently all the SSNs and Filenumbers? Presumably those don't change
- Report **degradations* `(c) VBMS, 2017`  as 500 and not

[2017-07-18 11:58] kierachell opened #2640 "Health-Check | VACOLS connection potential issues"
# Description

## Concern 1
Current `health-check` reboots the server if a call to VACOLS fails 2+ times
However, if VACOLS is really down - there's no point in rebooting all the servers and causing Pager Duty alarms at 3AM on a Saturday night

Maybe have the HealthCheck read degradation cache if VACOLS is down:
https://github.com/department-of-veterans-affairs/caseflow/blob/4f737c5c714aff94c4bbc8

[2017-07-18 12:10] kierachell commented on #1744
Need to fix PR builder before closing

[2017-07-18 12:20] kierachell commented on #2582
### Tried Chrome/FF and IE... nothing
![iesign](https://user-images.githubusercontent.com/18075411/28316691-d4359354-6b91-11e7-9fa6-80617bbf5c9d.gif)

[2017-07-18 12:38] aroltsch opened #2641 "Periodic error when running caseflow pointing to staging envs"
The following error happens periodically:
```ExternalApi::VBMSService has been removed from the module tree but is still active```

[2017-07-18 13:06] Sjones352 commented on #2478
@gnakm and @mmlumba  this is the toggle button.
![togglebutton](https://user-images.githubusercontent.com/23080951/28318229-07512f7c-6b98-11e7-8665-055f457ffeed.gif)

[2017-07-18 14:27] aroltsch commented on #1814
Reasons why a job might fail:
1. VBMS doesn't respond
`"CMSERR0001 - A system error occurred. Please reference the GUID when contacting the help desk.```
2. BGS responds with error
3. Vacols is not functional:
`OCIException: OCI8 was already closed.: SELECT "VACOLS"."BRIEFF".* FRO`

[2017-07-18 14:43] kierachell commented on #2617
**PASSED**
<img width="449" alt="screen shot 2017-07-18 at 10 42 47 am" src="https://user-images.githubusercontent.com/18075411/28323104-db8fe9d8-6ba5-11e7-81e6-c137c9613f1e.png">

[2017-07-18 14:43] #2617 closed

[2017-07-18 14:43] slj commented on #2627
The completion of https://github.com/department-of-veterans-affairs/caseflow/issues/2590 may solve this issue.

[2017-07-18 14:50] Sjones352 commented on #2478
![togglebutton](https://user-images.githubusercontent.com/23080951/28323441-da985e4c-6ba6-11e7-91fc-884aadd0fcd7.gif)

[2017-07-18 15:14] kierachell commented on #2511
#### We discussed this and there were some redundant joins BRIEFF -> DECASS -> CASES_VACOLS_DECASS_JOIN:
[code]

[2017-07-18 15:26] aroltsch commented on #1814
@joofsh  and I had a discussion and came up with the following.
1. This ticket will focus on `PrepareEstablishClaimTasksJob`.
2. If "preparation" of the task fails, we will catch VBMS error and continue with the next task.
3. We will keep track of the tasks that failed and log them to the log file.
4. We will have Slack integration to log to the `devops-alerts` channel “PrepareEstablishClaimTasksJ

[2017-07-18 16:02] kierachell commented on #1851
**PASSED**
- Tabbed through all the bars in Chrome
- IE did not work for extraneous reasons.
![overlycompliant](https://user-images.githubusercontent.com/18075411/28327199-bf50cf2a-6bb0-11e7-9fdd-632bc77a48d4.gif)
<img width="1053" alt="screen shot 2017-07-18 at 12 01 49 pm" src="https://user-images.githubusercontent.com/18075411/28327266-e6ff3b2e-6bb0-11e7-89f7-9c892308b17e.png">

[2017-07-18 16:02] #1851 closed

[2017-07-18 17:54] shanear commented on #2515
This is not the case. We look up the file number by SSN in BGS. We then convert the file number to a VACOLS BFCORLID according to the following logic.
[code]
We use the BFCORLID to look up appeals in VACOLS.

The problem here, is that it relies on BGS being up. If BGS is down. All non-cached appeals are down.

@kierachell

[2017-07-18 18:03] mogrenAtWork opened #2647 "establish_claim_spec failed on line 444 in Travis"
Line 444 on the establish_claim_spec.rb failed once on the master branch in https://travis-ci.org/department-of-veterans-affairs/caseflow/builds/254617816#L3305 for commit 2820e6b.

From NTH:
To test, wrap the test in the `ensure_stable` wrapper to execute 10 - 100 times both locally and on Travis to see if you can reproduce. The test failed with a `StaleElementReferenceError` meaning that we sele

[2017-07-18 18:29] mogrenAtWork commented on #2338
We have 25 users currently with a rough average of 5 assignments per user. Worst case scenario could be that each assignment contains 200+ documents, so 25 * 5 * 200 = 25,000 documents to upload. We're about to open this up to 50 more users, which would then result in an initial load of 50k docs the first night the app is available to them. Then when we release to everyone at BVA this puts us at 5

[2017-07-18 19:18] mogrenAtWork opened #2648 "Refactor Case class to include VACOLS::CaseAssignment"
Refactor `Case` to include a one-to-one relationship with `User` as an assignee and include the query performed in `VACOLS::CaseAssignment` to pull all relevant data.

The `User` model will also need to be refactored to reflect this relationship as one-to-many.

This can be lazy loaded to avoid the N+1 query problem.

[2017-07-18 19:28] amprokop opened #2649 "Have a list of services needed for each application, and only display performance degradation banner if one of them is down."
VVA stability is not high, and although we don't use it for any Caseflow app, we'll currently display the performance degradation banner for it. We should manually list dependencies for each application, and only display the banner if one of those dependencies is reporting an outage.

Certification's dependencies:
BGS, VBMS, VACOLS

Reader's dependencies:
VBMS, VACOLS

Hearing Prep's dependencies:

[2017-07-18 19:50] mogrenAtWork commented on #2628
@joofsh
A case is usually not "assigned" to a judge, instead it remains assigned to an attorney and the `BRIEFF.BFCURLOC` column is updated with the judge's `css_id` when it is checked out to a judge.

Our original query included a join on the DECASS table where `STAFF.SATTYID = DECASS.DEATTY`, which limited the results to only attorneys since `DECASS.DEATTY` was going to remain the attorney's `cs

[2017-07-18 20:21] kierachell commented on #2294
**PASSED**

![vvadown](https://user-images.githubusercontent.com/18075411/28337910-184b9596-6bd5-11e7-8d90-5ccde4767a62.gif)

<img width="2" alt="screen shot 2017-07-18 at 3 51 30 pm" src="https://user-images.githubusercontent.com/18075411/28337251-0b255ec6-6bd3-11e7-8e00-152571a3fbed.png">
<img width="1090" alt="screen shot 2017-07-18 at 3 52 18 pm" src="https://user-images.githubusercontent.com/

[2017-07-18 20:21] #2294 closed

[2017-07-18 21:17] nickheiner-usds commented on #1352
More changes made to the prod squad doc. Closing again. :smile:

[2017-07-18 21:50] mdbenjam commented on #2531
I was able to reproduce what you saw, and I think I fixed it.

[2017-07-18 22:43] #1352 closed

[2017-07-18 22:58] slj opened #2652 "Explicitly include :html as a format for rendering templates in app/views/errors"
Both locally and on Travis builds, Rails complains about a missing template:

<img width="922" alt="screen shot 2017-07-18 at 6 52 26 pm" src="https://user-images.githubusercontent.com/1053255/28343312-b86a1e16-6bea-11e7-8ced-df5598f8145f.png">

But it doesn't look for HTML templates.  Until the root is truly known, it's perfectly fine to explicitly add :html as a format and quiet the noise.

[2017-07-19 13:00] lakohl commented on #2033
@annienguyenUSDS This is a page for judges to sign in with their VLJ number, the first time they use Hearing Prep, so we can feed them the proper schedule.

[2017-07-19 13:10] kierachell commented on #2652
**PASSED**
Fixed Travis and Test spam (sorry don't have logs)
And fixed a `prod-alert`:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/304/

[2017-07-19 13:10] #2652 closed

[2017-07-19 13:14] lakohl commented on #2198
@sharonwarner let touch base on this briefly so we can close it out or create a new PMC issue

[2017-07-19 13:56] astewarttistatech commented on #2104
@lakohl The AC doesn't say what URL has been created or how to "cest" lol

[2017-07-19 14:28] astewarttistatech commented on #2531
**PASSED**

Env: UAT
Browsers: FF, Chrome, IE

Steps to Validate:
1. Access a Reader session with multi-page documents
2. In the Document Lists section, locate a section that has comments
3. Use the "Jump to Section" button to verify that Reader will jump to the page where the comment is visible.

Screenshots:
![jumptosection](https://user-images.githubusercontent.com/23038505/28372191-03a8f096-6c

[2017-07-19 14:28] #2531 closed

[2017-07-19 15:06] astewarttistatech commented on #2228
**PASSED**

Env: UAT
Browsers: FF, Chrome, IE

Steps to Validate:
1. Access Reader
2. Select a document from the Document List view
3. Verify that the title of the document should be a link and there should be an icon to open the document in a new window

Screenshots:
<img width="1135" alt="screen shot 2017-07-19 at 11 01 21 am" src="https://user-images.githubusercontent.com/23038505/28374295-53bc

[2017-07-19 15:06] #2228 closed

[2017-07-19 15:09] aroltsch commented on #1814
OLD AC:

## The Dispatch Problem:
We have no clue when Sidekiq fails and why until everything is on fire.
`Rails.logger` is a terrible way of finding out at 4AM (after browsing through Cloudwatch logs) that Sidekiq job failed.

## Solutions:

- Sidekiq announces to Slack that the job ran successfully or failed and what was the result
- Sidekiq announces to the UI the real results of each job
- Dis

[2017-07-19 15:28] kierachell commented on #2628
It's  working!:

Attorney:
![screenshot_2017-07-19_11-21-04](https://user-images.githubusercontent.com/18075411/28375024-67011a90-6c74-11e7-9a53-da163d818c99.png)
Judge:
![screenshot_2017-07-19_11-27-48](https://user-images.githubusercontent.com/18075411/28375370-50a29188-6c75-11e7-9338-7eee67e37126.png)

[2017-07-19 15:28] #2628 closed

[2017-07-19 15:30] shanear commented on #2563
<img width="691" alt="screen shot 2017-07-19 at 11 28 14 am" src="https://user-images.githubusercontent.com/1596259/28375497-a3cf9f0e-6c75-11e7-86ee-bfd7ef4aeccc.png">
@shellicious this look good to you? also we should be getting a flow chart soon. I had to make a small tweak

[2017-07-19 15:48] kierachell commented on #2606
**PASSED**
![hearrrr](https://user-images.githubusercontent.com/18075411/28376460-29a23d4c-6c78-11e7-8f5b-3d03753f5f07.gif)
![readerddd](https://user-images.githubusercontent.com/18075411/28376458-298a35a8-6c78-11e7-8608-4388d2aaa49a.gif)
![screenshot_2017-07-19_11-47-03](https://user-images.githubusercontent.com/18075411/28376457-29895ca0-6c78-11e7-8757-238a069eabfd.png)
![screenshot_2017-07-19_1

[2017-07-19 15:48] #2606 closed

[2017-07-19 15:55] askldjd commented on #2640
I have set PagerDuty to restrict the SRE hours from 6am - 12am.

![image](https://user-images.githubusercontent.com/3258724/28376832-213254a2-6c79-11e7-85dd-096b76b7f5c3.png)

[2017-07-19 16:41] kierachell commented on #2511
#### Not all issues per appeal are showing up:

 - I see 3
[code]

- But only 1 in reader:
![screenshot_2017-07-19_12-41-39](https://user-images.githubusercontent.com/18075411/28378838-a1380362-6c7f-11e7-86af-ce82d1fea910.png)

[2017-07-19 16:57] slj opened #2655 "Unified layout not rendering properly for test/setup"
It looks like this:
![screenshot_2017-07-19_12-44-40](https://user-images.githubusercontent.com/1053255/28379453-ae4357bc-6c81-11e7-8c83-d34c5ca1e4c0.png)

and should look like this (notably, the header content should align with the main content:
![test_setup](https://user-images.githubusercontent.com/1053255/28379444-a2a9a6cc-6c81-11e7-850a-057caf0f29d0.gif)

[2017-07-19 17:08] kierachell commented on #2198
Currently causing Prod alerts:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/262/

[2017-07-19 17:50] astewarttistatech commented on #2478
**PASSED**

Env: UAT
Browsers: FF, IE, Chrome

Steps to Validate:
1. Access Styleguide
2. Navigate to Toggle Buttons
3. Verify criteria against Mocks and AC

Screenshots:
<img width="1136" alt="screen shot 2017-07-19 at 1 48 17 pm" src="https://user-images.githubusercontent.com/23038505/28381520-2d65a5d4-6c89-11e7-8483-bbd74a56340e.png">
<img width="1139" alt="screen shot 2017-07-19 at 1 48 54 pm"

[2017-07-19 17:50] #2478 closed

[2017-07-19 17:52] kierachell commented on #2655
**PASSED**
![screenshot_2017-07-19_13-51-39](https://user-images.githubusercontent.com/18075411/28381591-6bcd9e12-6c89-11e7-932d-41082b846d07.png)

[2017-07-19 17:53] #2655 closed

[2017-07-19 18:28] shanear commented on #2563
Validated in prod by @shellicious. Moving header analytics to a different story.

[2017-07-19 18:31] kierachell commented on #2436
One fix was added at 12:30pm today

I am basically waiting for the Jenkins builder to stabilize:
![screenshot_2017-07-19_14-30-50](https://user-images.githubusercontent.com/18075411/28383270-e8788f30-6c8e-11e7-8844-52bbd8eb1228.png)

[2017-07-19 18:54] astewarttistatech commented on #2437
**PASSED**

Env: UAT
Browsers: Chrome and FF

Steps to Validate:
1. Log into the Caseflow app with an CSS login that works for Hearings (Caseflow_397)
2. Turn on Hearings function
3. Toggle on the Hearings function
4. Access /hearings/dockets
5. Check the network console for the json response for arrays

Screenshots:
<img width="1430" alt="screen shot 2017-07-19 at 2 37 11 pm" src="https://user-im

[2017-07-19 18:54] #2437 closed

[2017-07-19 19:37] mogrenAtWork commented on #2511
@kierachell I've updated the AC to be a little cleared about the format to expect in the Issues column:
[code]

The number `1` corresponds to the issue for the case, if there are multiple issues for the case, you'll see numbers 1,2,3....

[2017-07-19 19:49] NickHeiner commented on #2117
@gnakm, is this ticket for updating only the styleguide, or for going through and making sure that all existing app content matches this as well?

[2017-07-19 19:52] nemodjuric opened #2658 "ArgumentError: comparison of NilClass with ActiveSupport::TimeWithZone failed"
Sentry link: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/302/events/

There are appeals with no events.

To verify:
Go to appeals status, pick appeal that has no document events and make sure the error does not show.

[2017-07-19 19:53] gnakm commented on #2117
@NickHeiner This change should go across all existing apps. Updating AC now.

[2017-07-19 21:36] slj opened #2660 "Fix Hearing Prep logo"
This:
<img width="240" alt="screen shot 2017-07-19 at 5 34 19 pm" src="https://user-images.githubusercontent.com/1053255/28390572-954c334c-6ca8-11e7-8c54-dbe633b1b1ef.png">

Should be this:
<img width="247" alt="screen shot 2017-07-19 at 5 34 35 pm" src="https://user-images.githubusercontent.com/1053255/28390574-9a5a0148-6ca8-11e7-8935-c2728cfe0d76.png">

[2017-07-20 12:21] amprokop commented on #2625
https://deadmanssnitch.com/ a tool to evaluate — basically do something like `curl deadmansnitch.com/4898332c` at the end of each job and it will tell you when those jobs don’t run
Dead Man’s Snitch
Dead Man's Snitch — A dead simple cron job monitoring tool.
Dead Man’s Snitch is a cron job monitoring tool that keeps an eye on your periodic processes and notifies you when something doesn’t happen.

[2017-07-20 12:40] kierachell commented on #2511
### So what I am not seeing is:
from @cmgiven
[code]

<img width="1053" alt="screen shot 2017-07-20 at 8 36 19 am" src="https://user-images.githubusercontent.com/18075411/28417653-ec73d458-6d26-11e7-88f2-7eea0392ed65.png">

 - expected:
[code]
- 8 issues

[2017-07-20 12:56] aroltsch commented on #2625
There are two different issues here:
1. Cron job doesn't run at all. We need to figure out why this might be happening. Add more monitoring if the job doesn't run.
2. Cron job fails in the middle due to some error.

Each job should be handled differently:

PrepareEstablishClaimTasksJob:
1. If "preparation" of the task fails, we will catch VBMS error and continue with the next task.
2. We will keep

[2017-07-20 13:44] amprokop commented on #2515
@kierachell — does shane's response here satisfy you? can you take a look and modify this ticket or close it if there'sno action to take?

[2017-07-20 13:46] amprokop opened #2666 "Show spinner at Certification start"
**Story**
As a user, I want to understand that Caseflow Certification is loading while VBMS is slow.
For more context, see this post-standup discussion: https://github.com/department-of-veterans-affairs/caseflow/issues/2510#issuecomment-312354083

## AC
- Add loader at default size to the app canvas with certification blue from the style guide:
 (https://dsva-appeals-certification-dev-1895622301.u

[2017-07-20 13:50] amprokop opened #2667 "Refactor LoadingScreen.jsx to be a reusable component."
LoadingScreen.jsx currently has a lot of Reader-specific logic in it. Let's refactor it to remove the reader-specific logic such that we can reuse it across all Caseflow apps.

## AC
- LoadingScreen should be generic and should take in:
  - spinnerColor (for different apps)
  - message
  - anything else necessary

[2017-07-20 14:04] amprokop opened #2668 "Refactor Certification backend to allow us to render v2 without VACOLS/VBMS calls having finished"

[2017-07-20 14:22] mogrenAtWork opened #2669 "Create Fakes::EfolderService to mock EfolderService calls to fetch documents"
Create a Fakes::EfolderService class to mock the /files endpoint that is being created to allow Reader to pull documents from eFolder rather than S3/VBMS.

The EfolderService will be implemented with calls to eFolder with #2339

# AC
1. Set  the feature toggle for `efolder_docs_api` to `true` for the environment: `FeatureToggle.enable!(:efolder_docs_api)`
1. Go to http://localhost:3000/reader/appe

[2017-07-20 15:02] NickHeiner commented on #2161
![image](https://user-images.githubusercontent.com/829827/28424150-e3f11eee-6d3a-11e7-846c-cba6ef4876b2.png)

@gnakm when the accordions are all collapsed, we don't want this vertical spacing between them, right?

[2017-07-20 15:05] NickHeiner commented on #2161
@gnakm If I hit `alt+c` to start placing a comment from the keyboard when the comment UI is in a closed accordion, we enter a weird state. The user hits `alt+enter` to place a comment, but there's no feedback that anything happened:

![comments with accordion collapsed](https://user-images.githubusercontent.com/829827/28424295-3d282e26-6d3b-11e7-83e9-eeecc8a3ecfa.gif)

(I can explain over videocha

[2017-07-20 15:06] gnakm commented on #2161
@mmlumba @NickHeiner No please. Every space we can save will be helpful!

[2017-07-20 15:11] gnakm commented on #2161
@NickHeiner +1 for being a thorough human being.

Yeah I didn't think about that. When a user hits`alt+enter`, the comment accordion should expand and show the appropriate comment box highlighted. Adding that to the AC.

[2017-07-20 15:19] kierachell commented on #2515
closing in favor of https://github.com/department-of-veterans-affairs/caseflow/issues/2639

[2017-07-20 15:19] #2515 closed

[2017-07-20 15:21] kierachell commented on #2625
- I think we could benefit from a blanked job monitor - success or not.

- ReassignOldTasksJob does not completely fail, but it has a bug where `assigned` tasks will not `expire` so it just gets stuck in a loop trying to `expire!` it. This can be resolved by adding `start!`

[2017-07-20 16:30] NickHeiner commented on #2161
The spacing is not going to be pixel-perfect to what is in the mocks. @gnakm is it ok if that's a follow-up ticket?

[2017-07-20 16:32] nolawi commented on #2586
@kierachell what is the route/url for `Dispatch Manager page` is it team/user ?

[2017-07-20 17:28] Sjones352 commented on #2116
@gnakm 648px in rem is 44 rem not 70 rem. Correct me if I am wrong.
<img width="1245" alt="screen shot 2017-07-20 at 1 26 00 pm" src="https://user-images.githubusercontent.com/23080951/28430613-29243654-6d4f-11e7-97cf-3064789656dd.png">

[2017-07-20 18:31] kierachell commented on #2586
I wish I knew anymore... Apparently it moved to
`/dispatch/work-assignments` based on:
https://github.com/department-of-veterans-affairs/caseflow/pull/2637

[2017-07-20 18:38] Sjones352 commented on #2116
@gnakm if I change the max-width of body-text. This is how it will look like. Compare the first paragraph that has been changed and the second one that has not been changed.

<img width="1280" alt="screen shot 2017-07-20 at 2 34 09 pm" src="https://user-images.githubusercontent.com/23080951/28433289-0f96e70e-6d59-11e7-878f-7171825f126f.png">

[2017-07-20 18:45] shellicious opened #2673 "[V2] Confirm hearings step: multiple Form 9s with the same VACOLS/VBMS date"
**Story**

A small and significant percentage of appeals have multiple Form 9s with the same date.  This date is the VACOLS Form 9 date. Often they are duplicates. Caseflow is unable to tell which Form 9 is correct for the appeal being certified.  As a DRO, I would like to see all Form 9s with the same date, and report hearing preferences from the correct one.

**AC**
- If the user answers "No" to

[2017-07-20 19:33] kierachell commented on #2511
**PASSED**
Gonna make a separate issue to make this display better:
![andithoughtihaveissues](https://user-images.githubusercontent.com/18075411/28435398-b8706a56-6d60-11e7-8eb3-29067ca05925.gif)

[2017-07-20 19:33] #2511 closed

[2017-07-20 19:34] mogrenAtWork commented on #2338
Artem ran some rough load tests for downloading documents in UAT and each document averaged 1.26 seconds to download. 4432606 documents were download.

From this, it makes more comfortable attempting to download 1500 each night and having it finish before midnight (when the other jobs will run)

[2017-07-20 19:50] kierachell commented on #2640
The one last concern is that `health-check` exposes VACOLS to ddosing

[2017-07-20 20:31] tejans24 opened #2674 "Appeal AOD query needs to be cached for performance reasons"
Currently the aod method in Appeals uses -> Vacols::Case.aod method to query vacols db to see if an appeal is aod. This might need to be cached since the aod status doesn't change once an appeal is aod and it performs a Vacols query every time a to_hash method is called on an appeal.

[2017-07-20 21:50] gnakm opened #2675 "Document list | Error message when claims folder detail fails"
## Story
There are 2 different types of error/ latency feedback we should show when there is a delay retrieving the claims folder detail.

## AC
- [ ] Show the following errors for each situation

1.  **Scenario 1 -** Currently, it is faster to retrieve the API for documents list than the VACOLs claims detail information. When there we still cannot retrieve the claims folder details 0-30 seconds.

[2017-07-20 21:51] gnakm commented on #2675
Consider what it would be like for document viewer side menu as well.

[2017-07-20 22:28] kierachell commented on #2218
### Are these meant to be checkable?
- Checkboxes checkable?
- Textboxes expandable?
![click](https://user-images.githubusercontent.com/18075411/28441469-015daa4a-6d79-11e7-8064-2290cf5099dc.gif)

### Is this to be populated with real data now or is there backend ticket?
<img width="1233" alt="screen shot 2017-07-20 at 6 15 45 pm" src="https://user-images.githubusercontent.com/18075411/28441475-0a

[2017-07-21 12:18] slj opened #2678 "HTTPClient::ConnectTimeoutError During BGS Fetch by SSN"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/305/

[2017-07-21 12:28] nicholasholtz commented on #2375
Looking at mock vs. AC - under type, the mock indicates one option as "Remand". Is this part of the AC? If so, would "Post-Remand" be more appropriate language?

[2017-07-21 12:49] slj opened #2679 "VBMS::HTTPErrorapp/services/external_api/vbms_service.rb"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/300/

Seems related to VBMS::Requests::UploadDocumentWithAssociations

[2017-07-21 13:23] kierachell commented on #2419
### Currently in UAT

![form9](https://user-images.githubusercontent.com/18075411/28465199-e3b25a40-6df5-11e7-96cb-f49f67c44907.gif)
![form999](https://user-images.githubusercontent.com/18075411/28465200-e3d754bc-6df5-11e7-89f0-cf5a3b48938e.gif)

- JS Console log:
[code]
Presumably it loads:
![screen shot 2017-07-21 at 9 22 52 am](https://user-images.githubusercontent.com/18075411/28465294-3942221

[2017-07-21 13:31] abbyraskin commented on #2375
@nicholasholtz correct, it's not a perfect real world example - just a mock (we aren't hard coding these, so the "Type" should always reflect the actual options available in VACOLS...will call out these options in AC, sorry for confusion)

[2017-07-21 13:33] kierachell commented on #1893
**PASSED**

### Certified:
[code]
![screen shot 2017-07-21 at 9 29 10 am](https://user-images.githubusercontent.com/18075411/28465531-1cd3eb3a-6df7-11e7-9494-da7c74d3cfda.png)
#### Attempt to recertify
![screen shot 2017-07-21 at 9 30 04 am](https://user-images.githubusercontent.com/18075411/28465586-45f88bba-6df7-11e7-89c4-b0223bd2d5b6.png)

[code]

### Going back in the browser still allows me t

[2017-07-21 13:33] #1893 closed

[2017-07-21 13:43] kierachell commented on #2161
### Do we need that extra scrollbar?
- Windows 7
- IE and Chrome
![whatamiscrolling](https://user-images.githubusercontent.com/18075411/28465911-765bb0b0-6df8-11e7-95b8-6934103d3e0b.gif)

![screen shot 2017-07-21 at 9 35 56 am](https://user-images.githubusercontent.com/18075411/28465906-7128a99a-6df8-11e7-81e2-c5150f36d8a3.png)

### There's some weird interaction between issue tag - clicking - acc

[2017-07-21 13:47] kierachell commented on #2581
**PASSED**
merged and done

[2017-07-21 13:47] #2581 closed

[2017-07-21 13:49] cmgiven commented on #2221
Well there's a lot going on here. From Jed, I haven't read through yet:

The program loops through all the entries and Updates the Team, Room number, and user and date last updated.  You’ll need to add the room number to you screen.
[code]

If the AOD is granted the a ‘B’ diary gets generated, if the VSO is ‘G’ (Paralyzed Vets of America) then a second ‘B1’ diary gets generated.
[code]

If Hold Da

[2017-07-21 14:23] astewarttistatech commented on #2660
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access the /hearings/dockets url
2. Validate that the Hearings logo matches the one in the mocks and AC.

Screenshots:
<img width="676" alt="screen shot 2017-07-21 at 10 22 11 am" src="https://user-images.githubusercontent.com/23038505/28467687-a65fd772-6dfe-11e7-9d84-3b898aa9fe05.png">

[2017-07-21 14:24] #2660 closed

[2017-07-21 14:26] astewarttistatech commented on #2503
**PASSED**

Validated in: UAT
Browsers: FF, IE, Chrome

Steps to Validate:
1. Access the living style guide
2. Navigate to the Loaders section
3. Verify the copy against what is listed in the AC

Screenshots:
<img width="1246" alt="screen shot 2017-07-21 at 10 25 08 am" src="https://user-images.githubusercontent.com/23038505/28467811-16dd3dbe-6dff-11e7-804c-6d927565f17b.png">

[2017-07-21 15:09] lakohl commented on #2218
@kierachell yes, the preliminary impression boxes should be checkable

[2017-07-21 15:31] mdbenjam opened #2680 "RDS Snapshot | Investigate creating a regular RDS snapshot of VACOLS to dev against"
Based on our conversation from https://github.com/department-of-veterans-affairs/caseflow/issues/2619 we would like to create a regular RDS snapshot of VACOLS that we can connect to and dev against.

[2017-07-21 15:33] mdbenjam commented on #2619
# Action Items
1. Get Read-Only VACOLS access (https://github.com/department-of-veterans-affairs/appeals-deployment/issues/635)
1. Use this to validate against real data when needed with *precautions*
  - Precautions mean to pair with someone who can validate the queries we're running to avoid harming VACOLS.
1. Investigate creating a weekly/daily snapshot of VACOLS in RDS (https://github.com/depa

[2017-07-21 15:34] NickHeiner commented on #2293
This is being taken care of by @askldjd @mogrenAtWork @CyberKoz @kierachell.

[2017-07-21 15:34] #2293 closed

[2017-07-21 15:35] mdbenjam opened #2681 "[Research Spike] Audit Table for VACOLS writes"
Based on our conversation from this ticket https://github.com/department-of-veterans-affairs/caseflow/issues/2621 we want to create an audit table for any writes to VACOLS. This way it is easy to restore corrupted data, or to catch such corruptions early.

## Edits from @nickheiner
The output of this ticket should be a tech spec. The ticket can be closed when the tech spec is socialized across the

[2017-07-21 15:35] mdbenjam commented on #2621
1. Create audit table for VACOLS writes (https://github.com/department-of-veterans-affairs/caseflow/issues/2681)
1. Use copy of VACOLS in RDS to dev (https://github.com/department-of-veterans-affairs/caseflow/issues/2680)

[2017-07-21 15:47] aroltsch commented on #2221
From Chris:

[code]

[2017-07-21 16:00] kierachell commented on #2218
@lakohl
- Are the textfield values going to be saved eventually? Should there be limits?
- AC does not state if those text field should expand?

[2017-07-21 17:05] lakohl commented on #2198
It seems like we should up the modifier when VBMS required, for all 070 labels (including PMC ones) rather than throwing an error.

[2017-07-21 17:06] kierachell commented on #2198
![screen shot 2017-07-21 at 1 06 14 pm](https://user-images.githubusercontent.com/18075411/28474155-73901f02-6e15-11e7-81f7-8c23693d5387.png)

[2017-07-21 17:28] kierachell commented on #2218
@sharonwarner
- Can we break up the backend AC/tickets into manageable chunks
  - e.g. pull VACOLS data properly
  - Pull Document data properly (VACOLS data vs VBMS date?)
  - Representative name?
  - Saving our own values to PG
  - Redux/responsiveness stuff?
  - Textfield limits?
  - Is this even writing to VACOLS?

[2017-07-21 17:29] kierachell commented on #2218
@slj
### One more nit: that line under Relevant Docs and Issues
![screen shot 2017-07-21 at 1 11 16 pm](https://user-images.githubusercontent.com/18075411/28474983-a2c0acf8-6e18-11e7-9089-e9347ead62d9.png)

[2017-07-21 17:36] aroltsch opened #2684 "[Backend] Changes to daily docket update HEARSCHED"
This issue is a child of #2221.

tech notes:
notes = `HEARSCHED.NOTES1` (note this has a 100 character max)
disposition = `HEARSCHED.HEARING_DISP` (`H` is held, `C` is canceled, `P` is postponed, and `N` is no-show)
hold open = `HEARSCHED.HOLDDAYS` (I'm going to check on this one and make sure that VACOLS doesn't also open a diary, VACOLS currently uses null instead of 0 for those not held open)
a

[2017-07-21 18:24] NickHeiner commented on #1762
@lakohl @laurjpeterson is this a thing that we want to implement from a product / design perspective? Or should we close this ticket?

[2017-07-21 19:39] nikitarockz opened #2688 "[V2] Feature Flag | Enable District ROs - North Atlantic (8/4/2017)"
As Product Owner, I would like the following ROs to have the Certification v2 feature flag enabled on Friday, 8/4/2017 so that the users in the North Atlantic District can begin using Certification v2.

### ROs

District|BFREGOFF|Name
---|---|---
North Atlantic|RO13|Baltimore, MD
North Atlantic|RO01|Boston, MA
North Atlantic|RO07|Buffalo, NY
North Atlantic|RO08|Hartford, CT
North Atlantic|RO15|Hun

[2017-07-21 19:44] cmgiven opened #2690 "[Backend] HEARSCHED changes update MDUSER and MDTIME"
This issue is a child of #2221.

## Steps to Validate:

1. Start `rails c`` and ensure you are connected to Vacols dev env
2. Find a hearing in the hearings table (make sure it exists in Vacols)
`h = Hearing.find(id)`
3 Update any field on the hearing object which will trigger an update on the HEARSHED table. For example,
[code]
4. Make sure Hearshed table's MDUSER and MDTIME are updated in accord

[2017-07-21 19:44] cmgiven opened #2691 "[Backend] Granting AOD on daily docket creates diary entry"
This issue is a child of #2221.

AC:

1. When AOD is checked on the daily docket, a new diary entry is created in the `ASSIGN` table.
    - `ASSIGN.TASKNUM` should be set to `BRIEFF.BFKEY` + 'D' + the next available number 1 through 99. So the first diary for appeal '2222222' would be '2222222D1'. If that already exists, the next diary would be '2222222D2'.
    - `ASSIGN.TSKACTCD` should be set to

[2017-07-21 19:44] cmgiven opened #2692 "[Backend] Holding a case open on daily docket creates diary entry"
This issue is a child of #2221.

AC:

1. If a number greater than 0 is selected in "Hold Open" dropdown menu, a new diary entry is created in the `ASSIGN` table.
    - `ASSIGN.TASKNUM` should be set to `BRIEFF.BFKEY` + 'D' + the next available number 1 through 99. So the first diary for appeal '2222222' would be '2222222D1'. If that already exists, the next diary would be '2222222D2'.
    - `ASSIG

[2017-07-21 19:44] cmgiven opened #2693 "[Backend] Changes to daily docket disposition update BRIEFF.BFHA"
This issue is a child of #2221.

## Steps to Validate:
1. Start `rails c` and ensure you are connected to Vacols dev env
2. Find a hearing in the hearings table (make sure it exists in Vacols)
`h = Hearing.find(id)`
3. Update the disposition on the hearing object:
[code]
4. BRIEFF.BFHA associated with that hearing should be updated in accordance with the AC above

## AC:

1. If the disposition is

[2017-07-21 19:47] cmgiven commented on #2221
Updated the description to reference the five child issues.

[2017-07-21 19:47] kierachell commented on #2116
### Sad :(
![screen shot 2017-07-21 at 11 47 22 am](https://user-images.githubusercontent.com/18075411/28479759-d8cf9026-6e2b-11e7-91ca-ecbbab455703.png)

![screen shot 2017-07-21 at 1 53 39 pm](https://user-images.githubusercontent.com/18075411/28479777-ebbfda42-6e2b-11e7-907a-a5302a26b0f5.png)

[2017-07-21 19:48] kierachell commented on #2117
### Seems to have some side effects

![screen shot 2017-07-21 at 1 53 39 pm](https://user-images.githubusercontent.com/18075411/28479802-09deaa8a-6e2c-11e7-8897-d3bb79819388.png)

![screen shot 2017-07-21 at 11 47 22 am](https://user-images.githubusercontent.com/18075411/28479813-1258702e-6e2c-11e7-8818-ad810e5b09c8.png)

[2017-07-21 20:00] nikitarockz opened #2694 "[V2] Feature Flag | Enable District ROs - Continental (8/11/2017)"
As Product Owner, I would like the following ROs to have the Certification v2 feature flag enabled on Friday, 8/11/2017 at 4:10 pm so that the users in the **_Continental_** District can begin using Certification v2.

### Continental District ROs

District|BFREGOFF|Name
---|---|---
Continental|RO62|Houston, TX
Continental|RO21|New Orleans, LA
Continental|RO49|Waco, TX
Continental|RO39|Denver, CO
C

[2017-07-21 20:04] gnakm commented on #1997
Note for self:

[2017-07-21 20:39] lakohl commented on #1762
What we did in Dispatch is provide the Manager (who is the only user with two roles) with two different links. One gives them access to the Manager View, and the other gives them access to the Claims Assistant view in the event that they have to establish a claim themselves.

[2017-07-21 20:40] nikitarockz opened #2695 "[V2] Feature Flag | Enable District ROs - Midwest (8/18/2017)"
As Product Owner, I would like the following ROs to have the Certification v2 feature flag enabled on Friday, 8/18/2017 any time after 4:30 pm so that the users in the **_Midwest_** District can begin using Certification v2.

### Midwest District ROs

District|BFREGOFF|Name
---|---|---
Midwest|RO28|Chicago, IL
Midwest|RO25|Cleveland, OH
Midwest|RO29|Detroit, MI
Midwest|RO37|Fargo, ND
Midwest|RO26|

[2017-07-21 20:42] joofsh commented on #2033
@annekainicUSDS @lakohl hey sorry to get to this so late, it looks like we don't actually need this page anymore. The 2FA update to VACOLS means we now have a way to directly link a user in our system to VACOLS. We no longer need to look up their VLJ ID one time (we can instead use their css_id).

I'm going to close this ticket

[2017-07-21 20:43] #2033 closed

[2017-07-21 20:50] lakohl commented on #2033
OK. Cool. I think you meant to flag @annienguyenUSDS !

[2017-07-22 11:54] slj opened #2698 "Reader - ArgumentError: comparison of Fixnum with Hash failed"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/309/

ArgumentError
comparison of Fixnum with Hash failed

app/jobs/retrieve_appeals_documents_for_reader_job.rb in block in perform at line 24

[2017-07-22 12:25] kierachell commented on #2338
@mogrenAtWork
Can you verify that https://github.com/department-of-veterans-affairs/caseflow/blob/0bd8960c2109fe69ef45801008c3f54fc8daf87c/config/sidekiq_cron.yml#L36 passes `lmit=1500` and not a hash.
Seems to have cause some Sentry alerts because it's comparing Fixnum to Hash in `perform`

[2017-07-23 01:10] Sjones352 commented on #2117
@kierachell This is not in connection with ticket #2116. I am sure this one passes validation. #2116 has also been fixed.

[2017-07-23 16:46] kierachell commented on #2117
**PASSED**
Looks spiffy in the styleguide!

[2017-07-23 16:46] #2117 closed

[2017-07-23 16:49] Sjones352 commented on #2116
@gnakm and @kierachell so for this issue I have added the max-width style to the help page and Styleguide containers. I have to dig deep to find out how going to change it for all our app pages.

<img width="1000" alt="screen shot 2017-07-21 at 8 05 12 pm" src="https://user-images.githubusercontent.com/23080951/28501221-553115fc-6fa5-11e7-916f-3b93d644396a.png">

[2017-07-24 11:03] #2503 closed

[2017-07-24 11:47] astewarttistatech commented on #2419
Still not showing up in IE

[2017-07-24 14:31] #2619 closed

[2017-07-24 14:31] #2621 closed

[2017-07-24 14:33] #2563 closed

[2017-07-24 15:06] amprokop opened #2702 "Out of service mode should be toggled per individual application"
We should keep the global mode probably, but we should allow individual out of service toggles.

## AC
- setting `certification_out_of_service` to true in the Rails cache should bring just Certification down, but not other apps
- ^^ same for dispatch, reader, and hearings prep (`dispatch_out_of_service`, `reader_out_of_service`, `hearings_prep_out_of_service`)

This issue is prerequisite to #2861

[2017-07-24 15:15] amprokop opened #2703 "Performance Degradation banner should be manually toggleable"
On the morning 07/24, we noticed that 13% of efolder requests that morning seemed to be failing, but that monitor didn't pick it up. We had no way to inform users of this partial outage. This convinced us that we should be able to manually toggle the performance degradation banner. We'll keep the manual toggle global for now (i.e. we don't need to break it out by application)

## AC
- We should be

[2017-07-24 15:56] Sjones352 commented on #2116
@gnakm  when I changed  the width of heading and body-text to 70rem, the text only takes up 70rem within the parent element, and not from the whole page. This is why Reader was breaking because I added the style directly to to parent element.

### Suggestions
 Since the text in those screenshots(Reader) are centered whereas text in styleguide and help pages are not centered, can we  change the AC

[2017-07-24 15:59] NickHeiner commented on #2580
Proposed solution from our discussion in #2621: create a table that provides a complete audit log of all writes to VACOLS. Columns could include:

* Timestamp
* App doing the write (eg Reader, Certification, Dispatch, Hearings Prep)
* Optionally another string label for the app to document why the write is happening, if it's otherwise ambiguous.
* Previous value
* Next value

[2017-07-24 16:03] NickHeiner commented on #1762
Ok, so is there more work to do here for the other apps?

[2017-07-24 17:26] sharonwarner opened #2704 "VBMS Error - Claim not established. BGS code; PIF is already in use."
We need to handle this error and give the user a descriptive error message.

[2017-07-24 17:28] amprokop commented on #2265
https://github.com/department-of-veterans-affairs/caseflow/issues/2702 will supersede this, closing. Add any thoughts about this there please.

[2017-07-24 17:28] #2265 closed

[2017-07-24 17:37] NickHeiner commented on #2514
@kierachell do you need help from me on this?

[2017-07-24 17:40] #2704 closed

[2017-07-24 17:40] sharonwarner commented on #2704
Closed in favor of this one: https://github.com/department-of-veterans-affairs/caseflow/issues/2198

[2017-07-24 17:41] amprokop commented on #2514
Is the problem that we used to have a user with the System Admin role, but we don't have one anymore? So therefore we can't access stats or functions pages?

[2017-07-24 17:42] sharonwarner opened #2705 "Invalid state transition : complete -> completed"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/268/

My guess is that a user already created an end product and then attempted to cancel.

[2017-07-24 17:46] NickHeiner commented on #2681
Proposed solution from our discussion in #2621: create a table that provides a complete audit log of all writes to VACOLS. Columns could include:

* Timestamp
* App doing the write (eg Reader, Certification, Dispatch, Hearings Prep)
* Optionally another string label for the app to document why the write is happening, if it's otherwise ambiguous.
* Previous value
* Next value

We should create a me

[2017-07-24 17:46] NickHeiner commented on #2580
Closing in favor of #2681.

[2017-07-24 17:46] #2580 closed

[2017-07-24 17:57] kierachell commented on #2253
## VACOLS only hearing changed
![screenshot_2017-07-24_13-53-49](https://user-images.githubusercontent.com/18075411/28537136-e33c0320-7077-11e7-8863-4cb72b6cc604.png)

## POA updated
![screenshot_2017-07-24_13-55-24](https://user-images.githubusercontent.com/18075411/28537146-e9a9fb04-7077-11e7-8670-55571a98d253.png)

[2017-07-24 17:57] #2253 closed

[2017-07-24 17:58] gnakm commented on #2116
@Sjones352 I see what you mean. I'll change AC so that it only applies to left aligned text.

[2017-07-24 18:15] kierachell commented on #2667
**PASSED**
???? I guess ????
## Reader is still there...
![screenshot_2017-07-24_14-14-10](https://user-images.githubusercontent.com/18075411/28537918-72388f6a-707a-11e7-8dda-4bcbe6e7a30d.png)

## Hearings too

![screenshot_2017-07-24_14-15-31](https://user-images.githubusercontent.com/18075411/28537963-98b4faca-707a-11e7-869e-075a7a64ce0c.png)

[2017-07-24 18:15] #2667 closed

[2017-07-24 19:39] nolawi commented on #2244
@shanear @slj is this issue still an issue?

[2017-07-24 19:47] astewarttistatech opened #2706 "eFolder | "List Documents" hangs randomly"
Currently, in eFolder Express if you search a file number/SSN the "List Documents"/page with the loader will hang for 30+ minutes.

**Expected:** Something tells me, this isn't supposed to hang for half of a hour.

Steps to Recreate:
1. Access efolder
2. Search a valid file number/ssn
3. Repeat til it hangs.

Screenshots:

[2017-07-24 20:03] amprokop opened #2707 "Certification | move logic associated with certification.start! to the StartCertificationJob"
Once we enable v2 everywhere, we should move logic that's just used to start certifications to the StartCertificationJob.

## AC
- All the same data should show up when starting a certification (no visible change)

[2017-07-24 20:22] NickHeiner opened #2708 "Share perf analysis logic across all apps"
Reader supports showing wasted React renders, such as:

![image](https://user-images.githubusercontent.com/829827/28542979-45c9178a-708c-11e7-9111-39452d76fb36.png)

We would like to extend this functionality to be available across all apps. The other apps will probably not have nearly as much use for it, but we might as well make it available.

## AC
I can go to any React app in Caseflow and do t

[2017-07-24 22:10] NickHeiner commented on #1762
Based on an in-person conversation with @laurjpeterson, I'm going to close this. We have already done the Dispatch-relevant work here, as @lakohl notes.

[2017-07-24 22:10] #1762 closed

[2017-07-24 22:27] NickHeiner commented on #2229
![image](https://user-images.githubusercontent.com/829827/28547594-97cc6012-709d-11e7-8b54-0a968a74850d.png)

@gnakm when you're in the Comments view, should the user still be able to click on the comments indicator (the `4 v` in this screenshot) to expand / collapse comments for an individual document?

[2017-07-24 22:28] NickHeiner commented on #2229
If a user has comments expanded for a doc when in the Documents view, and then they switch to the Comments view, then back to the Documents view, do we want the comments for that doc to still be expanded?

[2017-07-24 22:29] NickHeiner commented on #2229
If #2496 is not done by the time I'm ready to merge this, then that ticket can include updating the filtered-by message based on whether the user is on Documents or Comments.

[2017-07-24 22:30] NickHeiner commented on #2229
For some reason, `18px` is very easy to make look good, but `20px` will require more effort. Can I just make it 18? :smile:

[2017-07-24 22:30] NickHeiner commented on #2229
I am not sure what this means.

[2017-07-24 22:41] kierachell commented on #2116
**PASSED**

Checked Styleguide and Help pages lgtm
![screenshot_2017-07-24_18-41-25](https://user-images.githubusercontent.com/18075411/28548029-b949df06-709f-11e7-9588-4fea8a7f6a83.png)

[2017-07-24 22:41] #2116 closed

[2017-07-24 22:44] gnakm commented on #2229
@NickHeiner
1. 18px is fine.
2. When there are 0 comments but the toggle is on comments, the little filter message below the search bar should still list comments.

[2017-07-24 23:40] kierachell commented on #2514
Users with `System Admin` role (provided by CSUM and CSS login) are not able to access `functions` or any other admin pages.

[2017-07-25 02:40] tejans24 opened #2712 "Issue tags can't be created in Reader"
Issue tags can't be created in Reader. It looks like the document controller is returning documents without a tags[] object. When the reducer is updating the tags object, it's pushing to an undefined object.

* Select a document without any tags
* Click on the document type link to get to the pdf view
* **added by @nickheiner** Refresh the page
* Add a new tag
* Notice the error

<img width="927"

[2017-07-25 03:21] tejans24 commented on #2496
I have a branch issue-1998 with most of the code done, it's a dependent on #2229 to be completed to show the comment filter message.

[2017-07-25 12:31] nikitarockz opened #2714 "[V2] Feature Flag | Enable District ROs - Pacific (8/25/2017)"
As Product Owner, I would like the following ROs to have the Certification v2 feature flag enabled on Friday, 8/25/2017 after 8:30 pm so that the users in the **_Pacific_** District can begin using Certification v2.

### Pacific District ROs

District | BFREGOFF | Name
-- | -- | --
Pacific | RO43 | Oakland,   CA
Pacific | RO46 | Seattle,   WA
Pacific | RO48 | Portland,   OR
Pacific | RO40 | Albuqu

[2017-07-25 13:50] NickHeiner commented on #2229
I don't see the "{count} documents" message in the mocks. Is that going away?

![image](https://user-images.githubusercontent.com/829827/28575357-afbd20f4-711e-11e7-9e9f-97a88bba5c76.png)

[2017-07-25 14:41] NickHeiner commented on #2137
Do you mean that the frontend should determine which documents belong in this category? I think it would be cleaner if it was just presented by the backend as another category on the returned document JSON object.

[2017-07-25 15:01] gnakm commented on #2229
1. The count message is being moved to the top on the right side of `h1`
The format has also changed so that it shows x out of y documents viewed.
![image](https://user-images.githubusercontent.com/13420618/27708143-e55ff404-5ce5-11e7-9065-792e3dcbc534.png)

2. > If a user has comments expanded for a doc when in the Documents view, and then they switch to the Comments view, then back to the Docume

[2017-07-25 15:43] shanear commented on #2681
I'm sorry if I'm back tracking here, but the more I think about this, the more I'm thinking this might be an over engineered solution to the problem.

It should be difficult, but doable to restore data. I'd like to put more effort into getting the VACOLS writes correct the first time. Did these VACOLS bugs happen even after 2 code reviews and Artem's QA gauntlet?

And when we do need to restore da

[2017-07-25 16:09] askldjd commented on #2681
This is how we recovered from the last VACOLS disaster.
https://github.com/department-of-veterans-affairs/caseflow/issues/2268

Regardless of how you try to make it right the first time, mistakes will be made. Therefore, we need to be able to recover when that day comes.

The VACOLS situation is bad. We rely on VA IT to recover snapshots, but the timing is not reliable. (Imagine NSD level support)

[2017-07-25 17:43] joofsh commented on #2137
Good question. To clarify I mean the system (Caseflow) should artificially determine which documents are flagged as being in this new category. Whether it goes on the backend or frontend is an implementation detail (I wasn't trying to be too prescriptive yet).

Pros of doing it on the backend:
- Simplifies reader frontend code

Downside:
- slightly slower? This will slow down every Reader pageload

[2017-07-25 18:21] NickHeiner commented on #2137
I'm generally fine with not being prescriptive. But my intuition is that this won't make an appreciable perf difference, and should thus be done on the backend. But if we do measure a perf difference, that would be a good reason to do it on the frontend.

[2017-07-25 18:52] joofsh commented on #2137
Either way, updating the original description to clarify what I meant! Sorry about the confusion

[2017-07-25 18:58] kierachell commented on #2708
**PASSED**

<img width="1180" alt="screen shot 2017-07-25 at 2 58 02 pm" src="https://user-images.githubusercontent.com/18075411/28588809-c0575d00-7149-11e7-9334-09c0df5859bb.png">

[2017-07-25 18:58] #2708 closed

[2017-07-25 19:24] kierachell commented on #2561
**PASSED**
<img width="531" alt="screen shot 2017-07-25 at 3 23 12 pm" src="https://user-images.githubusercontent.com/18075411/28589733-51619560-714d-11e7-9c98-695fdda9ecec.png">

[code]

[2017-07-25 19:24] #2561 closed

[2017-07-25 19:31] kierachell commented on #2586
### The columns still move about :(
![tableshit](https://user-images.githubusercontent.com/18075411/28589937-3efc56e8-714e-11e7-85f2-f71f9d4addf5.gif)

[2017-07-25 19:43] nolawi commented on #2586
oh ok will fix @kierachell

[2017-07-25 20:09] mogrenAtWork commented on #504
Some of this was completed in `efolder_service.rb` for #2685

I removed unused code at the time that may be useful here in 0e24e72bfd7f52c3d9d5020eafaa82babf253d0a

[2017-07-25 20:14] kierachell commented on #1562
### Completed all assigned works, but then:
<img width="1131" alt="screen shot 2017-07-25 at 4 12 22 pm" src="https://user-images.githubusercontent.com/18075411/28591526-0f3ec70a-7154-11e7-8100-ebd915930a41.png">

### What if...

- Worker started a claim
- Manager reduced the Quota for the worker
- Worker sees weird things and can still do more claims
<img width="1128" alt="screen shot 2017-07-25

[2017-07-25 20:16] kierachell commented on #1562
**PASSED**
<img width="1093" alt="screen shot 2017-07-25 at 4 16 37 pm" src="https://user-images.githubusercontent.com/18075411/28591717-ae33c176-7154-11e7-96c1-9bf7da91ecc8.png">

[2017-07-25 20:16] #1562 closed

[2017-07-25 20:21] kierachell commented on #1564
**PASSED**
<img width="1125" alt="screen shot 2017-07-25 at 4 21 18 pm" src="https://user-images.githubusercontent.com/18075411/28591919-5577f60a-7155-11e7-8a3b-1f4468f3a7bd.png">

[2017-07-25 20:27] kierachell opened #2719 "Work Assignments | Changing worker numbers deletes tasks/claims"
# Description
When a Manager edits number of Workers,
sometimes Tasks and Claims can disappear/act weird in the UI

## Reproduction Steps

**Scenario 1 -**

1. Assign Tasks to workers and lock in the numbers
1. Reduce amount of people working today
1. Notice the amount of claims in queue decrease

**Scenario 1 -**

1. Have a worker start their tasks
1. As a Manager reduce a worker's quota below wh

[2017-07-25 21:08] Sjones352 commented on #2216
@lakohl, @aroltsch  and @shellicious if this has not yet been done, I can do it this sprint.

[2017-07-26 00:52] #1564 closed