[2017-03-14 20:25] abbyraskin opened #1197 "Document Review | Document filename should link to a new browser tab"
**Story**
When reviewing a document, I want to open the current document in a new window so I can keep moving through documents while keeping important documents open separately for reference.

**Description**
Hyperlink the document filename in the top viewer toolbar so that it opens the document in a new browser tab (single document view) when clicked.

[screenshot]

[2017-03-14 21:50] nikitarockz commented on #845
Duplicate - #1115

[2017-03-14 21:50] #845 closed

[2017-03-14 21:53] abbyraskin opened #1201 "Search | Delay search execution"
**Current**
The application currently sends a search query after every keypress, which sometimes creates a jumpy experience for users.

**Expected**
Only trigger the search after:
 - A user stops typing (1-2 second delay)
-  A user presses return on their keyboard
-  A user presses the blue search icon next to the search field

[2017-03-14 22:05] nikitarockz commented on #1111
**Original Info**
All new functionality should be hidden behind a feature flag like so:
[code]

[2017-03-14 22:09] nikitarockz commented on #1110
Original comments
We might download a Form 9 [here](https://www.va.gov/vaforms/va/pdf/VA9.pdf) and fill it out with stub info. This page should be built using React, and we should ditch the rails pdf viewer. These changes should only affect local and demo environments, the next ticket will be to fetch the real form 9 from VBMS. We should associate this Form 9 with Certification 123C, and make sure

[2017-03-14 22:56] mdbenjam commented on #763
Closing this, to track progress in individual issues.

[2017-03-14 22:56] #763 closed

[2017-03-14 22:57] #1188 closed

[2017-03-14 22:59] mdbenjam commented on #681
I think this was fixed a while ago, and isn't even relevant anymore. Moving it to done.

[2017-03-14 22:59] #681 closed

[2017-03-14 23:01] mdbenjam commented on #681
@nikitarockz Just for awareness. I'm cleaning up things with my name on them :)

[2017-03-14 23:30] kierachell commented on #1036
**PASSED**

good work, comrade:
![screenshot_2017-03-14_19-29-57](https://cloud.githubusercontent.com/assets/18075411/23926785/ac3e7c42-08ec-11e7-8c97-a84b337fe57d.png)

[2017-03-14 23:30] #1036 closed

[2017-03-14 23:34] nikitarockz commented on #681
@mdbenjam LOLOL, Ok,

[2017-03-14 23:52] kierachell commented on #1147
**PASSED**
Didn't totally break Dispatch, so should be ok.
validated on `uat` when trying to create EPs with previously unsupported SIC.

[2017-03-14 23:52] #1147 closed

[2017-03-15 00:55] #1191 closed

[2017-03-15 13:33] astewarttistatech commented on #1033
@lakohl do you know how to get to the "Route Claim: Process outside of claim", because of now, the National Cemetery Administration (which has a typo on the mocks) doesn't route to that page.

[2017-03-15 13:39] slj commented on #976
@lakohl I'd like to revisit the loading pill specs.

[2017-03-15 13:47] astewarttistatech commented on #1033
**PASSED**
Validated in: UAT
Steps to Validate:
1. Go to Dispatch as a caseworker and select several special issue categories in order to route EPs to different places.
2. Verify the titles in each of the route claim pages.

Screenshots:
<img width="1263" alt="screen shot 2017-03-15 at 9 13 03 am" src="https://cloud.githubusercontent.com/assets/23038505/23951431/67db6aa6-0964-11e7-9179-037876b7e85

[2017-03-15 13:48] #1033 closed

[2017-03-15 13:48] #791 closed

[2017-03-15 14:01] astewarttistatech commented on #883
@sharonwarner Please link the stats page to the actual view dashboard page. Pushing back to In Progress.

Current view:
<img width="1334" alt="screen shot 2017-03-15 at 10 00 51 am" src="https://cloud.githubusercontent.com/assets/23038505/23952009/636813e6-0966-11e7-9ddc-857f48708c7d.png">

[2017-03-15 14:10] sharonwarner commented on #883
That is the stats page, the graphs just aren't there yet.

[2017-03-15 14:12] astewarttistatech commented on #883
Until page is finished, this issue has failed validation. AC can be changed as a possible solution with @lakohl

[2017-03-15 14:25] abbyraskin opened #1206 "Manager View | Default "Number of people" to yesterday's value"
Currently, if the "Number of people" is not manually entered by the manager on a given day, there appear to be no cases in the queue to complete. When processing claims, claim assistants want to know how many cases they need to work that day -- sometimes they need to know this information before a manager has time to log in and manually set the value.

## Acceptance Criteria
- When the "Number of

[2017-03-15 14:27] astewarttistatech commented on #883
Per my conversation with @lakohl this issue is

**PASSED**

Validated In: UAT
Steps to Validate:
1. As a manager role, go to dispatch to view it as manager and click the view "View Dashboard" link.
2. Verify that View Dashboard link takes you to the correct page (stats page).

Screenshots:
<img width="1334" alt="screen shot 2017-03-15 at 10 00 51 am" src="https://cloud.githubusercontent.com/assets

[2017-03-15 14:28] #883 closed

[2017-03-15 17:46] nikitarockz commented on #1089
As a user, I want clear actions to efficiently move through the app and complete my tasks accurately.

As a developer and designer, I want clear and consistent actions to increase design and development efficiency across apps.

*** Depends on the use case/perspective you want to use. User for front end changes and the second for the living style guide (what exists in commons).

## Acceptance Crite

[2017-03-15 20:53] nikitarockz commented on #1089
# Story Review

I like the perspective of the design and engineer because they will be grabbing the code and using them to make mocks.  The user basically is going to say I want a button.  As a Product Owner, I am going to say make the button match the style guide.  So I feel these are more for designers and engineers.

- For AC 1, Is there specific location for where this new title will be displa

[2017-03-16 04:51] #1195 closed

[2017-03-16 04:51] #1197 closed

[2017-03-16 05:02] gnakm commented on #1089
This issue is still a WIP and below are things to go over the design meeting tomorrow 3/16. The current actionable links/button placements are different from the one that was found in the styleguide.

## Current Layout Actions

**Form 8**
![image](https://cloud.githubusercontent.com/assets/13420618/23982197/3b83c358-09e2-11e7-9a1f-48ee183b259f.png)

**eFolder Express**
![image](https://cloud.githu

[2017-03-16 13:34] shanear opened #1212 "Add high importance Prometheus metrics"
Add these metrics to the metrics endpoint.

- [x] total threads [gauge]
- [x] available threads [gauge]
- [x] avg time for VACOLS requests to resolve (by request) [gauge, summary]
- [x] avg time for VBMS requests to resolve [gauge, summary]
- [x] avg time for BGS requests to resolve [gauge, summary]
- [x] postgres DB total connections [gauge]
- [x] postgres DB available connections [gauge]
- [x] a

[2017-03-16 13:37] shanear opened #1213 "Add medium importance Prometheus metrics"
Add these metrics to the metrics endpoint.

- [ ] response size of BGS requests [gauge, summary]
- [ ] response size of VBMS requests [gauge, summary]
- [ ] duration of job processed by name [gauge]

Also, can we add them in such a way that they can be added to eFolder too?

see for reference: https://github.com/department-of-veterans-affairs/appeals-deployment/issues/451

[2017-03-16 13:40] shanear opened #1214 "Start recording logins (or last login?) in the database"
We decided that it would be valuable to know the login/logout information about users, and that it would probably be best to record this in the database.

See: https://github.com/department-of-veterans-affairs/appeals-deployment/issues/451

[2017-03-16 14:05] kierachell opened #1215 "Review Decision | Special Issue Categories columns differ in height on IE"
# Description
When a Caseworker starts a new Task for Establishing a claim and Reviews Decision
And then scrolls down to select a Special Issue categories (on IE11).

**Expected behaviour:** columns to be the same ( or 1>= difference) in height.

**Environment:**
- [ ] Production
- [X] UAT
- [ ] Demo
- [ ] Development

**Type of Bug:**
- [ ] Performance
- [X] Design
- [ ] Security
- [ ] Functional

[2017-03-16 14:10] gnakm commented on #1002
@shanear Could we add a section called` Link buttons` under buttons? It is will a subsection under button but as planned for now, it will be flat.

[2017-03-16 14:27] kierachell commented on #1001
**PASSED**
check on styleguide

[2017-03-16 14:27] #1001 closed

[2017-03-16 14:28] gnakm commented on #1081
@tejans24 can you chat up with @mdbenjam so he could share his knowledge with you? 😺

[2017-03-16 15:31] askldjd opened #1216 "Support Service Degraded Mode"
This issue is created from the [BGS Outage Postmortem](https://github.com/department-of-veterans-affairs/appeals-deployment/issues/531).

During backend outages, we should put up a banner to warn the users that the service quality is degraded.

This is not out-of-service mode where we block all features from the site. Under this mode, the site should continue to operate.

[2017-03-16 16:33] gnakm commented on #1138
@tejans24 @mmlumba @shanear @ariperez @slj

This is reference for how the styleguide should look!

[2017-03-16 17:00] astewarttistatech commented on #976
**PASSED**

Validated In: UAT

Steps to Validate:
1.As a caseworker, go to dispatch and start the process to establish a claim
2.As the Review Decision page loads, where the decision document is loading, the large favicon appears.
3.Verify the favicon matches what is intended in the mocks.

Screenshots:
<img width="541" alt="screen shot 2017-03-16 at 12 58 46 pm" src="https://cloud.githubuserconte

[2017-03-16 17:00] #976 closed

[2017-03-16 17:45] gnakm commented on #1089
Final design and story after design meeting discussion.

--

As a user, I want clear actions to efficiently move through the app and complete my tasks accurately.

As a developer and designer, I want clear and consistent actions to increase design and development efficiency across apps.

## Acceptance Criteria

- [ ] Verify that the below copy is beneath the title (see Copy below)
- [ ] Verify tha

[2017-03-16 18:04] gnakm commented on #1103
I am going to close this issue since there is already an issue for this. Also, I think the x- close icon should be enough to get users to get out of the modal.

[2017-03-16 18:04] #1103 closed

[2017-03-16 18:06] gnakm commented on #1101
@shanear Did you get a chance to look at this?

[2017-03-16 18:12] gnakm commented on #1084
Could designers edit this comment and write out how the following error messages are being used in every app?

### Dispatch
Success Status (Green) -
Warning Status (Yellow) -
Error Status (Red) -
Informative Status (Blue) -

### Certification
Success Status (Green) -
Warning Status (Yellow) -
Error Status (Red) -
Informative Status (Blue) -

### eFolder Express
Success Status (Green) -
Warning Sta

[2017-03-16 18:54] kierachell opened #1219 "App Canvas | Cancel/Back/Close button incorrect hover and onClick styling; also potential JS error (in IE)"
# Description
When a Caseworker is working on a Claim;
if a Caseworker attempts to _Cancel_ a claim or _Go Back_ at any point in the process;
The `hover` and `onClick` styling for links turns them into a `btn-primary` styling (see screenshots)
*Expected Behaviour* see Styleguide or Designers.

*NB* Sometimes, it seems, that clicking on the link will freeze the page for several seconds.
JS Error:
[

[2017-03-16 19:15] kierachell commented on #889
**PASSED**
Now that it's fixed...
![screenshot_2017-03-16_15-13-17](https://cloud.githubusercontent.com/assets/18075411/24014443/582aad68-0a5b-11e7-8bc9-c4a15c0f50de.png)
![screenshot_2017-03-16_15-13-32](https://cloud.githubusercontent.com/assets/18075411/24014442/582457e2-0a5b-11e7-92ce-d2fe16b7531c.png)

![screenshot_2017-03-16_15-13-49](https://cloud.githubusercontent.com/assets/18075411/24014

[2017-03-16 19:15] #889 closed

[2017-03-16 20:07] lakohl opened #1220 "Route Special 4 Special Issues currently listed, but not handled in Caseflow"
Send email for Full Grants. Chang eVACOLS Location and add a Diary Note for Partials/Remands.

Vocational Rehabilitation & Employment (VR&E)
Home Loan Guarantee -
NCA -
VAMC/VHA -

[2017-03-16 20:15] lakohl commented on #1220
See:
https://github.com/department-of-veterans-affairs/appeals-design-research/issues/82
https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Projects/Dispatch/Routing%20EPs/Email%20Routing%20Table.md

[2017-03-16 20:32] gnakm commented on #1133
@mmlumba It looks like we're going to move forward with embedding a source code for the living styleguide. Since you're away, please confirm when you get back and then we can close out this issue.

[2017-03-16 23:43] tejans24 commented on #1090
@gnakm For the 150px between the button and the top of the footer, it's hard to know which elements exist on a page and how much margin and padding they can each contain.

It might be better to have padding-top: 125px to the top of the footer regardless of the content above?

[2017-03-16 23:47] tejans24 commented on #819
@cmgiven A quite a few of these stats require information from VACOLS to get the status of an appeal. Those queries might be quite expensive to fetch the data. Let's have a chat to find a bit more efficient solution for this tomorrow.

cc @shanear

[2017-03-17 00:03] kierachell commented on #1125
The mocks are the same :(

[2017-03-17 00:23] kierachell commented on #1026
So... uh, do you want a shorter text box or no?
Currently on `uat`:
The only thing I can validate is sentence case.
![screenshot_2017-03-16_20-22-16](https://cloud.githubusercontent.com/assets/18075411/24023979/4a05d0ca-0a86-11e7-8b49-f4948e566aa5.png)
IMHO the whole thing is too close to PDF iFrame.

[2017-03-17 00:30] kierachell commented on #1025
**PASSED**

![screenshot_2017-03-16_20-29-09](https://cloud.githubusercontent.com/assets/18075411/24024126/43f7b882-0a87-11e7-8226-316e34685c56.png)

[2017-03-17 00:30] #1025 closed

[2017-03-17 00:39] kierachell commented on #1125
**PASSED**
but the decision type in the note is incorrect :(
![screenshot_2017-03-16_20-38-19](https://cloud.githubusercontent.com/assets/18075411/24024275/89e44864-0a88-11e7-8548-e7d35a1bfe65.png)

[2017-03-17 00:39] #1125 closed

[2017-03-17 00:43] slj commented on #711
@lakohl I have not personally tested in prod, but as soon as https://github.com/department-of-veterans-affairs/caseflow/pull/1131 gets merged into master we can find out.  The only button on which I did not implement the loading flag is item 6:
[code]
If a loading button proves necessary it's a quick change.

[2017-03-17 12:53] cmgiven commented on #819
I think the notion should be that we need to cache any such fields in Caseflow. But as far as I see, there are only two: the type of decision and the outcoding date. Both are already being used in the app, just perhaps not being cached.

[2017-03-17 14:14] lakohl commented on #1026
AC Updated

[2017-03-17 14:27] gnakm commented on #1090
@tejans24 Could we go with 125px? I'll change the above once you give the 👌

[2017-03-17 14:31] mmlumba commented on #1133
@gnakm This sounds good to me. Closing.

[2017-03-17 14:37] ariperez-gov commented on #1026
@kierachell , I validated with @lakohl that the length of the text box is correct now, I used `usa-half-width`which lowered it by a few pixels.

that covers points 1 & 2, and we opened a separate issue for 3

[2017-03-17 15:05] amprokop opened #1224 "Add React-Router and stub routes"

[2017-03-17 15:26] tejans24 commented on #1090
@gnakm yea, that works.

[2017-03-17 15:54] astewarttistatech commented on #1027
**PASSED**

<img width="1266" alt="screen shot 2017-03-17 at 10 50 10 am" src="https://cloud.githubusercontent.com/assets/23038505/24051290/0be3f42a-0b08-11e7-946c-c15f119d4574.png">
<img width="1242" alt="screen shot 2017-03-17 at 10 50 24 am" src="https://cloud.githubusercontent.com/assets/23038505/24051289/0be2f1d8-0b08-11e7-869c-d20df0acec0d.png">
<img width="1344" alt="screen shot 2017-03-17

[2017-03-17 16:07] askldjd opened #1225 "Logger timestamps are stale"
The timestamps below are all marked at `2017-03-16 12:52:17 -0400`. But in reality, the events are second apart.

The `log_tag` is [evaluated as a lambda](https://github.com/department-of-veterans-affairs/caseflow-commons/blob/master/config/initializers/logger.rb#L10), but do we have any guarantee that it is being called everytime we do `Rails.logger.info`? Based on observation, the `log_tag` is o

[2017-03-17 16:12] shanear commented on #998
@mmlumba I thought we decided to just link to the source code of the styleguide component on Github? (e.g. `StyleGuideTabs.jsx`) Who decided otherwise?

[2017-03-17 19:32] tejans24 opened #1227 "Store additional VACOL fields in the caseflow database"
For #819 - Showing dispatch stats, the fields (the type of decision(status) and the outcoding date) are needed for querying information for the graphs. We need a way store and retrieve this information without having to connect to VACOLS for every query, which is inefficient.

One option is to add additional columns to the current Caseflow database to store the information needed.

Any thoughts/su

[2017-03-17 21:14] mmlumba commented on #1133
@shanear Source code ticket for reference

[2017-03-17 21:24] mdbenjam opened #1230 "Loading Icon Is Off Center"
The loading indicator in the iFrame is off-center.

[2017-03-18 21:08] kierachell opened #1235 "Review Decision | PDF loading indicator is split up in two and overlaps parts of the page"
# Description
As a Caseworker reviewing a decision
When I go to Dispatch and click **Establish next claim**
When I land on the **Review Decision** page with *multiple documents*
The loading indicator for the PDF is off (see screenshot) and switching between documents causes
"Unexpected server response" error.
also, the procedure is really heavy on the client.

**Environment:**
- [X] Production
- [

[2017-03-18 23:19] ariperez-gov commented on #1026
Based on our discussion, this only validates a the sentence case.  The previously discussed below items are to be addressed by @tejans24 in https://github.com/department-of-veterans-affairs/caseflow-commons/issues/69 :

1. Text box should be 380px
1. Spacing between the text box label and text box should be increased to match the distance between 'Select Special Issues(s)' and the first special Is

[2017-03-18 23:52] kierachell commented on #1026
**PASSED**
<img width="733" alt="screen shot 2017-03-18 at 7 50 53 pm" src="https://cloud.githubusercontent.com/assets/18075411/24076952/55337af8-0c14-11e7-8483-babef33413f7.png">

[2017-03-18 23:52] #1026 closed

[2017-03-19 16:41] kierachell commented on #1026
@ariperez
I think I might've forgotten to mention in our discussion that one issue can have multiple pull requests attached to it; so, yes, it is possible that you would have to implement changes in Commons and Dispatch separately to complete the functionality for one issue.

[2017-03-19 22:10] kierachell opened #1238 "Claim processing discontinued | Clicking Establish next claim returns JSON instead of HTML"
# Description
As a Caseworker when I completed a Dispatch task and attempt to **Establish next claim**
from either **Success** or *Discontinued** page
I expect to see **Review Decision** page but I get a JSON back. Workaround - go to **Work History** page first.

**Environment:**
- [ ] Production
- [X] UAT
- [X] Demo
- [ ] Development

**Type of Bug:**
- [X] Performance
- [ ] Design
- [ ] Security

[2017-03-20 13:43] astewarttistatech opened #1239 "Caseworker | Review Decision Large Loading Indicator Seperated"
**Description:**
When a caseworker accesses the Review Decision page and views the loading indicator in place of the pdf, it shows the icon separated spinning in opposite directions.

**Expected:** The loading indicator should be layered, looking as if it were one favicon.

**Steps to Recreate:**
1. Go to Dispatch as a caseworker
2. Establish the next claim in the queue
3. At the review decision p

[2017-03-20 13:48] abbyraskin commented on #1206
@shanear @lakohl re-pinging...this issue came up again this morning. it's confusing for users to have no cases assigned to them at the beginning of the day (may not be as big of an issue when george has access -- though some CAs start earlier than him). can we set this to default to the same # of people assigned the day before?

[2017-03-20 13:50] #1027 closed

[2017-03-20 13:53] shanear opened #1241 "Serve Raven JS from the VA"
Right now, we are serving Raven from the Raven CDN. We should move it to a CDN that the VA owns.

See:
https://github.com/department-of-veterans-affairs/caseflow/pull/1240#pullrequestreview-27846214
for info

[2017-03-20 13:55] astewarttistatech commented on #1076
Feedback's current view is different from the various images posted. The lines are darker than the hex code used in other parts of Caseflow.

@gnakm can you confirm?

<img width="1270" alt="screen shot 2017-03-20 at 9 53 32 am" src="https://cloud.githubusercontent.com/assets/23038505/24102705/2de41184-0d53-11e7-9ab9-fe8db523f842.png">

[2017-03-20 14:02] abbyraskin opened #1242 "Missing Decisions Page: "Decision Date" displays as "aN/aN/NaN" if outcoding_date is empty"
A claim on the Claims Missing Decisions page displayed a blank Decision Type, and "aN/aN/NaN" as the Decision Date --@cmgiven can you elaborate on what is going on here if you know more (and any recommendations for handling)?

[2017-03-20 14:08] cmgiven commented on #1242
This full grant was dispatched (probably mistakenly), and thus placed in history status, and given the decision date of Thursday. On Friday, someone identified an error, and reopened the case, moving it back into active status, and removing the decision date. At no point was the decision uploaded, so despite our failing to catch this exception, it was never shown as ready to be CESTed.

Recommenda

[2017-03-20 14:22] shanear commented on #1063
Because of how Sentry is set up in UAT, this must be validated in Prod.

[2017-03-20 14:24] shanear commented on #1206
@abbyraskin anything is possible 😄

I think that would be a relatively easy change too.

[2017-03-20 14:54] astewarttistatech commented on #1239
DUPLICATE ISSUE

[2017-03-20 14:54] #1239 closed

[2017-03-20 16:08] astewarttistatech commented on #1124
**PASSED**

Validated in: UAT
Validated Browsers: FF, Chrome

Steps to Validate:
1. As a caseworker, go to dispatch and try to establish a PG or a REM with the appropriate SIC
2. Validate that when the EP gets to the correct routing screen that the numbered bullet points are replaced with letters, as shown in AC.

Screenshots:
<img width="1141" alt="screen shot 2017-03-20 at 12 06 31 pm" src="http

[2017-03-20 16:08] #1124 closed

[2017-03-20 16:23] kierachell commented on #1063
cool

[2017-03-20 16:23] #1063 closed

[2017-03-20 16:27] gnakm commented on #1076
@shanear Right now on the styleguide link, the header is padded a little more than the paddings in the rows below. Could you make sure that the headers are also 15px padded so they look just like all the other rows?

![image](https://cloud.githubusercontent.com/assets/13420618/24109844/413628a2-0d68-11e7-989a-0b4fd2a32743.png)

@astewarttistatech You're right. The table currently in caseflow feedb

[2017-03-20 16:42] gnakm commented on #1081
@tejans24
RE: our convo on having the text input actually in the text box, here are the newer mocks

![image](https://cloud.githubusercontent.com/assets/13420618/24110775/b8c49b54-0d6a-11e7-893d-a74b3eb4d4b7.png)

[2017-03-20 17:13] gnakm opened #1243 "Styleguide component | Dropdown"
As a developer and designer, I want a consistent way to incorporate drop downs across our apps so users can easily select relevant options in an easy and accessible way.

## Acceptance Criteria

1. Verify that the title "Dropdown" appears
1. Verify that there is a horizontal line above the title
1. Verify that the "Dropdown" appears under the copy with the related react component
1. Verify that th

[2017-03-20 18:02] ariperez-gov commented on #1115
@amprokop , I'm going to grab this one.  Might move a bit slower so if I'm holding up someone just let me know and we can pair or something.

[2017-03-20 18:35] amprokop commented on #1115
@ariperez-gov — great! i'll sync with you on slack here.

[2017-03-20 19:19] tejans24 commented on #1227
Additional fields for storing Tasks information
———————————————————————
* Create an additional Table Establish Claim
* Create new columns decision status and out coding date
* Populate the table with information from VACOLS(decision status, out coding date) * see 1 *
* Update the column data when dispatch is completed through Caseflow

1). When background job is fetching new tasks information - ge

[2017-03-20 19:32] kierachell opened #1244 "Existing EP | Can't assign existing EP and no error is logged."
<img width="1250" alt="screen shot 2017-03-20 at 3 14 46 pm" src="https://cloud.githubusercontent.com/assets/18075411/24117683/92519f1e-0d81-11e7-9f8d-6a7f1aaa9c7d.png">

<img width="1095" alt="screen shot 2017-03-20 at 3 30 50 pm" src="https://cloud.githubusercontent.com/assets/18075411/24117917/575d28b4-0d82-11e7-82b3-ea1ab78983df.png">

There's no error log of any kind so this is the best you g

[2017-03-20 22:01] lakohl opened #1246 "App Canvas | Links turn into blue buttons upon hover"
When using IE if a user hovers over the Cancel button a dark blue box appears (with no text)

Related to #1219

[2017-03-20 22:04] lakohl opened #1247 "Existing EP | Cancel modal does not allow text input"
When the user clicks Cancel on the Existing EP page the Modal displays but does not allow the user to type an Explanation in the text box. Therefore the user cannot Stop Processing the Claim and is stuck at this step.

Not reproducible except for in IE with specific Full Grant EPs only available in `prod`

[2017-03-20 22:10] lakohl opened #1248 "Route Claim: Assign Existing EP | won't assign EP"
On the Route Claim: Assign Existing EP page, when the user clicks the 'Assign to claim' button, Caseflow displays an Error message. It does not Assign the EP to the claim, and it does not allow the user to move forward.

The user verified that the EP did exist as it was  in VBMS.
<img width="966" alt="screen shot 2017-03-20 at 3 30 43 pm" src="https://cloud.githubusercontent.com/assets/18075411/24

[2017-03-20 22:23] lakohl opened #1249 "Route Claim: Send Email notification | separate email addresses with a semicolon"
Send Email Notification page, currently the email addresses are separated by a comma only (with no space). When the user copies & pastes the email addresses into Outlook they don't register properly. We should separate emails with a semicolon followed by a space and verify that when they are copy/pasted into Outlook together they display correctly.

## Acceptance Criteria
- Validate that on the "R

[2017-03-20 22:35] lakohl opened #1250 "SPIKE | Investigate best way to create desktop link for Caseflow Dispatch"
Create a link (Dispatch Icon with) that users can click on to access Caseflow Dispatch from their desktop.

Options to explore:
- A way to click a button and automatically add the link to their desktop
- A section in the help page describing how to do it.
- Having one of us go to each user and manually make the link on their desktop

# Related Issues
App Shortcut Link | Identify process for enabli

[2017-03-20 22:38] lakohl opened #1251 "3/20 Usability Notes from ARC"
Sat with Larry for about 3hrs today to observe him using Caseflow Dispatch.
Also processed on claim with Charles.

notes are in process...

[2017-03-20 22:50] lakohl commented on #1251
## **Observations**

The majority of grants in Larry's queue were Full Grants

**MAPD**
I observed that he is still using MAPD to 'RFD' the claim when he has finished processing it in Caseflow.

**Denied Claims**
Larry asked what he should do if a 'Denied' claim/decision slips through. He said that normally he would create an EP for the RO and alert his manager. This could still be the process but

[2017-03-20 22:52] lakohl commented on #1251
Closing, wrong repo :(

[2017-03-20 22:52] #1251 closed

[2017-03-20 22:59] kierachell commented on #1248
Has been reported earlier but called a "test data problem", re-reported as #1244

[2017-03-20 23:24] lakohl commented on #1084
assigning myself to this issue so I remember to update it tomorrow!

[2017-03-20 23:26] lakohl commented on #1220
Add mocks/Invision Links

[2017-03-20 23:27] kierachell commented on #1244
Best I could get was this and I don't even think it's related:
[code]

[2017-03-20 23:28] kierachell opened #1252 "Review Decision | Switching between Documents results in "unexpected server response error""
![documenterrorjs](https://cloud.githubusercontent.com/assets/18075411/24126241/5132c702-0da3-11e7-9254-26f7d9880101.gif)

nuff said

[2017-03-21 00:56] kierachell commented on #1242
Confirmed that it is possible to pull a HIS/REM status claims without `TIOCTIME` (we only really check for `TIVBMS`)

[2017-03-21 12:28] shanear opened #1254 ""Assign Existing End Product" failures in production"
Larry has been seeing some failures while assigning an existing end product.

They show up in sentry:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/118/

[2017-03-21 12:39] shanear commented on #1244
this is a dup of https://github.com/department-of-veterans-affairs/caseflow/issues/1254

[2017-03-21 12:39] #1244 closed

[2017-03-21 12:42] shanear commented on #1235
This low-ish priority because appeals having multiple decisions is very rare and this is a non-breaking bug.

[2017-03-21 12:52] shanear commented on #1017
@mdbenjam please add screenshots or more information.

[2017-03-21 12:55] shanear commented on #848
Can I close this issue? seems not relevant

[2017-03-21 13:00] shanear commented on #988
What's the plan here?

[2017-03-21 13:02] shanear commented on #1046
@askldjd have we been working on this? What is the status of this?

[2017-03-21 13:02] shanear commented on #1029
@gnakm bump. this is a styleguide thing

[2017-03-21 13:08] shanear commented on #1032
@sharonwarner can you provide more context on this issue? I'm not sure I understand.

[2017-03-21 13:33] kierachell commented on #1254
Known issue:

- #1248
- #1244

[2017-03-21 13:35] shanear commented on #1247
@lakohl after our deploy this afternoon, we should have a lot better vision into this issue.

[2017-03-21 13:36] shanear commented on #1250
Hmm... this is a task that has to be done on people's machines. There may be a way to automate it. I can look into that.

[2017-03-21 13:37] shanear commented on #1248
this is a dup of https://github.com/department-of-veterans-affairs/caseflow/issues/1254

I will be working on it ASAP

[2017-03-21 13:37] #1248 closed

[2017-03-21 13:40] shanear commented on #712
@lakohl what do we want to do here?

[2017-03-21 13:51] mmlumba commented on #1009
@gnakm @lakohl Do you have a description for the Progress Bar for the style guide?

[2017-03-21 14:08] shanear opened #1256 "Invalidate Establish Claim Tasks for Appeals which are no longer ready for Claims Establishment"
This week we witnessed a situation where:
1. An appeal was ready for claims establishment, and a Establish Claim task was created correctly for it.
2. Someone changed the appeal in VACOLS, removing the outcoding_date and decision_date, rendering that appeal no long ready for claims establishment.
3. The Establish Claim task however, was left behind, causing https://github.com/department-of-veteran

[2017-03-21 14:54] lakohl commented on #1250
Cool. I think this could add a lot of value.

[2017-03-21 15:40] shanear commented on #1256
Assigning to @joofsh and @cmgiven  for feedback

[2017-03-21 15:42] cmgiven commented on #1256
Note that outcoding date (`TICOTIME`) is not nulled by BVA dispatch pulling the case back. I'm watching to see whether it will be updated when the case that flagged this issue is re-dispatched, but my reading of what I think is the relevant part of VACOLS source code is that it is. But if `TIOCTIME` is not updated, we'd need to have a holding pen for such decisions, rather than marking them as inv

[2017-03-21 15:44] shanear commented on #1076
The padding issue was addressed.

As for the Feedback table. Can we make another issue about that in `caseflow-feedback`? It is outside the scope of this issue.

[2017-03-21 16:22] mdbenjam commented on #1017
Okay, I don't know why I didn't add a screenshot when I filed this. But I think the App Header was a link that was blue. This is no longer the case. Closing.

[2017-03-21 16:22] #1017 closed

[2017-03-21 16:35] astewarttistatech commented on #1076
The feedback table was used in the AC. If that is not in scope, we need new AC written up for this issue. @shanear @gnakm

[2017-03-21 16:50] shanear commented on #1076
@astewarttistatech updated

[2017-03-21 17:12] abbyraskin opened #1259 "Document Viewer | Rearrange and show/hide toolbar controls"
The toolbar controls should reflect the most important/necessary tools needed at BVA.

**Top Toolbar**
-  Move the zoom +/- and full screen controls to top toolbar
-  No change: "Back to all documents" link (left aligned) - no change
-  Zoom -, full screen, zoom + (center aligned)
-  Document Type (right aligned)
- The left of Document Type displays any selected category tag(s)
- All elements shou

[2017-03-21 17:22] abbyraskin opened #1260 "Documents List | Bold unread documents"
**Story**
When reviewing documents, I want to know whether I've already reviewed a document or not, so I can easily keep track of progress while reviewing a long case.

**Description**
If a document has NOT been opened by the user, the Receipt Date, Document Type, filename, and comments text should all be bold. Read/unread state is set per user.

<img width="808" alt="screen shot 2017-03-21 at 1 1

[2017-03-21 17:23] abbyraskin commented on #1260
@mdbenjam this is an updated version of #1192 to reflect new designs

[2017-03-21 17:25] amprokop commented on #848
yep

[2017-03-21 17:25] #848 closed

[2017-03-21 18:00] abbyraskin opened #1261 "Document Viewer | Ability to show/hide comments menu"
**Story**
When reviewing documents, I want to hide the comments menu, so I can focus on reading the document when I don't need to add a comment.

**Description**
If a user clicks on the `Hide Menu` button, the righthand comments pane hides, and the document is centered on the page. If a user clicks the `Open Menu` button, the comments pane displays and the document adjusts left.

## Acceptance Cri

[2017-03-21 18:00] abbyraskin commented on #1261
cc: @gnakm

[2017-03-21 18:14] amprokop opened #1263 "Port over stub versions of `already_certified`, `not_ready`, and `mismatched_documents` with fake data to React components"
In the certification controller, we currently only render the case when the appeal can be certified in Certification v2. See the `new` method:

[code]

We should port over the other cases to React components and make sure they can be rendered using fake data.

In `Certification.jsx`, the `EntryPointRedirect` currently redirects to `/certifications/${match.params.vacols_id}/check_documents`.

We co

[2017-03-21 18:25] amprokop commented on #1263
See the components in `client/app/certification` for inspiration, and use the components in `client/app/components` to build the new stuff when you can. For now, don't worry about behavior or data. Just make the new pages look identical to the old ones.

[2017-03-21 18:31] abbyraskin opened #1264 "Documents List | Remove "Filename" from table and add "Document Type" link"
Remove "Filename" from Documents List page, and make "Document Type" a link that navigates to the individual document on click.

## Acceptance Criteria
- Validate that clicking on any "Document Type" link from the Documents List page navigates the user to the first page of the clicked document (mimics current behavior of filename link)

## Mockup

![image](https://cloud.githubusercontent.com/asset

[2017-03-21 18:47] shanear commented on #998
closing as a dup of #1133

[2017-03-21 18:48] mdbenjam opened #1265 "Comments | Store user info"
Since we would like to provide access control to comments down the line, we should start recording which user owns which comments.
AC
- When a user adds a comment, that user's id should be stored with the comment in our DB.

[2017-03-21 18:49] #998 closed

[2017-03-21 18:52] shanear commented on #1138
This should reference styleguide components like h1's and p's instead of defining px values

[2017-03-21 19:09] abbyraskin opened #1266 "Documents List | Show last read indicator"
**Story**
When returning to the Documents List page, I want to know where I left off, so I don't lose my place.

**Description**
When a user navigates to the Documents List page, a last read icon (see mock) is displayed next to the document last shown to the user.

## Mockup
![image](https://cloud.githubusercontent.com/assets/13420618/24181501/a518a226-0e91-11e7-951c-d87544f91223.png)

[Last read

[2017-03-21 19:09] mdbenjam opened #1267 "Do not send VBMS 500 errors to Pager Duty"
We currently get paged whenever VBMS returns a 500. Now that we log these errors in Sentry, we should not be getting paged on them.

[2017-03-21 19:30] abbyraskin opened #1268 "Documents List | Comments: expand/collapse view"
**Story**
As a user, I want to expand or collapse individual comments so I can read my comments from the Documents List page.

**Description**
A document with one or more comments has a comments count link that expands or collapses on click.

Each comment has an associated:
- Page number
- "Jump to section" link
- Each comment is right aligned comment header
- Each comment height depends on length

[2017-03-21 19:45] mdbenjam opened #1269 "Refactor | Replace sorted list of documents with sorted list of ids"
We currently have two lists of documents in DecisionReviewer.jsx. Whenever data is changed in one, it must also be changed in the other... We should consolidate this to one array of documents, and one sorted array of ids that references the main array. This way data is only modified in one place.

[2017-03-21 20:51] kierachell opened #1270 "Route Claim | Send Email Notification | Back button missing"
When working on a Full Grant, it would be helpful to see a "Back to Decision Review" link for pages where it is possible to do so.

## Acceptance Criteria
- Validate that when on either the "Send Email Notification" page or the "Process Outside of Caseflow" page, there is a "< Back to Decision Review" link that takes the user back to the Decision Review page (exactly like the one on the "Create EP

[2017-03-21 20:52] kierachell commented on #1270
Additionally missing here:
<img width="1109" alt="screen shot 2017-03-21 at 4 44 04 pm" src="https://cloud.githubusercontent.com/assets/18075411/24170251/b6792fbc-0e56-11e7-986a-949ac53a86aa.png">

[2017-03-21 21:22] kierachell commented on #1270
also this:

The page does not have a yellow box until you try to go back.
<img width="1021" alt="screen shot 2017-03-21 at 5 21 18 pm" src="https://cloud.githubusercontent.com/assets/18075411/24171429/d57481a6-0e5a-11e7-967f-24d52c454593.png">

[2017-03-21 21:32] kierachell opened #1273 "Review Decision | Multiple decision documents tabs are stacking strangely."
**AC**
1. Verify that decisions tabs show side by side. (Not stacked)
1. Verify that we can show up to 'x' number of tabs. (waiting on number)
1. Verify that the Tabs sit directly above the decision.
1. Verify that the type in the tabs is regular weight.

**Mocks:**
_Current:_

<img width="1099" alt="screen shot 2017-03-21 at 5 30 04 pm" src="https://cloud.githubusercontent.com/assets/18075411/241

[2017-03-21 21:41] abbyraskin commented on #1266
@gnakm Do you think this icon should display if the user takes _any_ action on a page, or only if it was most recently opened? For example, if the user has multiple windows open...opens one document from the documents list, then adds a comment to a different document that was already opened, which one gets the indicator?

[2017-03-21 21:42] mmlumba commented on #1000
@gnakm I'm going to add all the pixel specifications you asked me to make from Slack messages to this ticket, but can you also add other specifications that are necessary for validation?

[2017-03-21 21:48] mmlumba commented on #1000
Specifications (so far):
![pasted image at 2017_03_10 12_36 pm](https://cloud.githubusercontent.com/assets/4773320/24172408/74d52874-0e5e-11e7-9455-eb407f9f912e.png)
disabled background #F1F1F1
disabled foreground (text) #5B616B
-3px is perfect for the :white_check_mark:
-4pm is perfect for the :x:

[2017-03-21 21:52] abbyraskin opened #1274 "Document Viewer | Categories: associate document to category"
**Story**
When reviewing a document, I want to select a category so I can filter by similar documents when writing a decision.

#### Dev Notes
- Includes persisting category selection to server

## Acceptance Criteria
- Validate that there are 3 category checkboxes with label icons and the words associated with each color under Receipt Date
![image](https://cloud.githubusercontent.com/assets/13420

[2017-03-21 22:24] kierachell commented on #937
Waiting for another outage to really validate this.

[2017-03-21 22:25] kierachell commented on #1143
Did not find any additional bugs yet; will keep validating for a bit more.

[2017-03-21 22:29] shanear opened #1275 "Alias the "Manage Claim Establishme" role to "Manage Claim Establishment""
Because of a character limit that we were not aware of, the permission in css roles is "Manage Claim Establishme". We need to add this permission as an alias to all the things "Manage Claim Establishment" allows you to access.

[2017-03-21 22:36] shanear opened #1277 "Establish Claim fails if veteran is missing address info in BGS"
Every once in a while, a veteran will be missing a piece of their address in BGS. This will cause the establish claim action in VBMS to always fail. We should show them a better error message and ask them to update.

## Acceptance Criteria
- Validate that a claim is able to be established in VBMS for a veteran with an international address

## Technical Notes
- It seems like this error occurs with

[2017-03-21 23:25] kierachell opened #1278 "Work History | Race condition when working on tasks outside of the assigned quota"
# Description
Two or more caseworkers might end up working on the same task if it was not assigned to anyone. The latter caseworker will be forced to find his/her way to the Work History page to proceed.

**Environment:**
- [ ] Production
- [X] UAT
- [X] Demo
- [ ] Development

**Type of Bug:**
- [X] Performance
- [ ] Design
- [ ] Security
- [X] Functional

# Reproduction Steps
Scenario 1 - Overac

[2017-03-21 23:44] lakohl opened #1279 "Route Claim: Special Issue Not handled by Caseflow, missing back button and Required"
Route Claim: Special Issue Not handled by Caseflow, missing back button and Required

**AC:**
1. Verify that the link:

displays in the bottom right.

1. Verify that the word:

appears in red italic to the right of the check box label.

_Current:_
<img width="1109" alt="screen shot 2017-03-21 at 4 44 04 pm" src="https://cloud.githubusercontent.com/assets/18075411/24170251/b6792fbc-0e56-11e7-986a-9

[2017-03-21 23:55] lakohl commented on #1270
@kierachell I think the screenshot in the comment above might actually show the app working as desired. If they tried to go Back from that screen, that message in yellow would be appropriate.

[2017-03-22 00:24] lakohl opened #1280 "Route Claim | Confirm VACOLS Update | Allow user to go back without Alert"
On the `Route Claim: Confirm VACOLS Update` page that's shown when **no EP is created**, when a user attempts to go back to the `Decision Review` page using the browser **_Back_** button, they are presented with an Alert message that isn't accurate. It says that an EP has been created.

## Acceptance Criteria
When on the "Route Claim: Confirm VACOLS Update" page, and no EP has been created for the

[2017-03-22 00:25] lakohl commented on #1280
@avrildavid any ideas on a better way to express the yellow warning message in the second screenshot above?

[2017-03-22 02:17] shanear commented on #1256
@cmgiven is there any way we can test this in UAT VACOLS?

[2017-03-22 02:30] shanear opened #1281 "Handle VBMS error where there is an existing cancelled EP more gracefully"
Occasionally there will be a 172 EP that has been cancelled within the last 24 hours for an Appeal for which a claim is being established. As a caseworker, I would like to know that this is the cause of a VBMS claims establishment failure.

## Acceptance Criteria
- Validate that when there is a VBMS establish claim failure because of a conflicting EP that was cancelled within 24-48 hours, show a m

[2017-03-22 02:32] shanear commented on #1246
Is this related to #1219, or a duplicate of #1219?

[2017-03-22 03:53] gnakm commented on #1266
@abbyraskin That's a really good question. I want to say takes any action, even if that includes just opening to read it.

So scenario 1: I just clicked on a document, skimmed it for 10 seconds and when back to document list page. I want to see the indicator to in order to know which document I just viewed.

scenario 2: I just opened 1 document so I can read it side by side with the 5 other docume

[2017-03-22 04:13] gnakm opened #1282 "Document Viewer | Update comment icon"
**Story**
As a user, I want to be able to see a clear comment icon or indicator on the document to annotate my note in a specific section.

## Mockup
![image](https://cloud.githubusercontent.com/assets/13420618/24181796/cb81c4fe-0e93-11e7-9107-a3f2fc7cf2db.png)

[SVG file](https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Projects/Styleguide/Design%20files/Icons

[2017-03-22 04:24] gnakm opened #1283 "Document Viewer | Save and edit comment"
## Story
As a user, I want to be able to save or cancel a comment when I am adding a new comment or editing it.

## Acceptance Criteria
- Verify that this box comes up when I am both adding a comment or editing a comment.
- Verify that the outline of the box is hex #323a45 (USWDS gray-dark)
- Verify that there is a blinking cursor inside
- Verify that hitting cancel will go back to save position o

[2017-03-22 11:13] kierachell commented on #1270
I think my question is more about the whole flow: is there a warning or something clear indication to the user that they are about to do an operation that cannot be undone?
What I experience is: **Route claim** leads me down a variety of paths (exisitng EPs, creating new EP page, add VBMS note, VACOLS Note, cannot process claim). Some of these allow me do "go back" and some do not. I understand th

[2017-03-22 13:37] avrildavid commented on #1280
@lakohl

**A few suggestions if helpful:**
This step/action cannot be reversed in Caseflow
You cannot reverse this step in Caseflow
This step/action is permanent

[2017-03-22 14:14] abbyraskin commented on #1266
@gnakm that was my instinct as well.

@mdbenjam curious to hear your perspective; i believe our suggested implementation adds some complexity.

[2017-03-22 14:35] abbyraskin commented on #1281
I will loop around with George (ARC's manager) on this as a starting point.

My instinct is to push for the first option, as it prevents cases from slipping through the cracks.

That said, according to George, they really should not be canceling EPs -- we could go with a version of your second option where we specifically tell them to alert their manager so he has visibility into when this happens

[2017-03-22 14:46] cmgiven commented on #1256
I'm going to just ask Jed. That'll be easiest.

[2017-03-22 14:46] abbyraskin commented on #1277
We should also figure out exactly which fields are required (and which are not).

[2017-03-22 14:56] cmgiven commented on #1256
@shanear: `TIOCTIME` is overwritten when it is dispatched. So yes, we need to invalidate the task.

[2017-03-22 15:05] abbyraskin opened #1287 "Header | Rename "Caseflow Reader" and link to Documents List page"
Currently, Caseflow Decision links to the Certification Help page. Rename Caseflow Reader and link to the Documents List page for the active case.

## Acceptance criteria
- [ ] Verify that you are you using the Reader logo for the header
You can find the [reader logo in SVG here](https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Projects/Styleguide/Design%20file

[2017-03-22 15:13] astewarttistatech opened #1288 "DUPLICATE | UAT | Caseworker | Canceling EP results in unexpected page"
**Description:**
Currently as a caseworker in Dispatch UAT, if you cancel an EP during its creation, after you receive the cancelation confirmation page and try to establish the next claim in the queue, you are taken to a page that only says "{"next_task_id":1187}".

**Expectation:** Caseworker is directed to their next task in the queue.

**Environment found:** UAT
**Browser found:** FF and Chrom

[2017-03-22 15:57] astewarttistatech commented on #1076
@gnakm @shanear

Current View of Style Guide:
![caseflow-tables](https://cloud.githubusercontent.com/assets/23038505/24207214/bdbbe17a-0ef6-11e7-9866-bfc95f4ca16f.png)

[2017-03-22 16:10] ariperez-gov commented on #1115
#1129 PR implements the majority of this story.  Can merge and follow up with another PR after Redux is implemented to wrap everything up. 🚀

[2017-03-22 16:12] Chingujo commented on #1076
@astewarttistatech @gnakm @shanear

I edited the above story following the template I created with Gina earlier on how to finalize Style Guide stories. This should be much easier to follow and validate. @gnakm Can you please verify that this is correct.

The above template is how issues ready to be worked on should look like in the future.

[2017-03-22 17:01] astewarttistatech commented on #1235
@shanear the overlapping loading indicator happens wherever PDFs are being loaded, so it isn't as rare as once thought.

[2017-03-22 17:08] kierachell commented on #1177
**PASSED**

![certv2](https://cloud.githubusercontent.com/assets/18075411/24210800/93c5c1ce-0f00-11e7-8424-460ad1ccf6c5.gif)

[2017-03-22 17:08] #1177 closed

[2017-03-22 17:31] shanear commented on #1281
R - Sex
R - First name
R - Last name
R - SSN
R - Address, addressLine1
X - Address, addressLine2
X - Address, addressLine3
R - Address, city
R - Address, state
R - Address, zip code

R = required
X = not required

@abbyraskin

[2017-03-22 17:48] sharonwarner commented on #1032
<img width="1138" alt="screen shot 2017-03-22 at 1 47 33 pm" src="https://cloud.githubusercontent.com/assets/4306128/24212564/2446afec-0f06-11e7-99ba-8fc3fcc5a99a.png">

Our completion codes are showing up on the Work History page, but some of our codes would be meaningless to the workers.

[2017-03-22 18:02] shanear commented on #1032
assigning to @abbyraskin and @lakohl for guidance

[2017-03-22 18:29] #1192 closed

[2017-03-22 18:30] astewarttistatech commented on #1000
The current view of this page doesn't match what is displayed, style-wise.

Current View:

(insert screenshot here when internet isn't being a dingus)

[2017-03-22 18:49] gnakm commented on #1000
@astewarttistatech Sorry. This went through some iterations and Marian and I sorta worked on this adhoc via slack. I just updated the first comment to what should be most accurate.

/cc: @mmlumba

[2017-03-22 18:51] kierachell commented on #925
Looks fine now.
![siccolumnschrome](https://cloud.githubusercontent.com/assets/18075411/24215384/f9defc6a-0f0e-11e7-8791-73c694830786.gif)

[2017-03-22 18:51] #925 closed

[2017-03-22 18:52] astewarttistatech commented on #1275
I am not too sure how this should be validated @shanear . Is this a correct way?

Validated in: UAT
Browsers Validated in: FF, Chrome

Steps to Validate:
1. Go to the Functions page in Caseflow and "Inspect" the user role for "Manage Claim Establishment".
2. Validate that the user role alias is correct.

<img width="1382" alt="screen shot 2017-03-22 at 2 50 38 pm" src="https://cloud.githubusercont

[2017-03-22 18:56] astewarttistatech commented on #1000
The current view of this page doesn't match what is displayed, style-wise.

Current View:

(insert screenshot here when internet isn't being a dingus)

[2017-03-22 19:02] kierachell commented on #1275
@abbyraskin

[2017-03-22 19:23] mdbenjam commented on #1266
Yeah, for the first round let's keep it at just most recently opened. What we're talking about here requires some level of syncing with the server to poll for new comments etc. Which we're not doing right now. This is also a concern since someone could add comments to a page and not see it if they have that same document open in another tab.

[2017-03-22 19:37] abbyraskin commented on #1277
R - Sex
R - First name
R - Last name
R - SSN
R - Address, addressLine1
X - Address, addressLine2
X - Address, addressLine3
R - Address, city
R - Address, state
R - Address, zip code

R = required
X = not required

[2017-03-22 21:39] kierachell commented on #1254
**PASSED**

Validated in `uat` with full and partial grants

<img width="1048" alt="screen shot 2017-03-22 at 5 35 13 pm" src="https://cloud.githubusercontent.com/assets/18075411/24221850/56180a00-0f26-11e7-9d43-26b84d838d39.png">
<img width="1093" alt="screen shot 2017-03-22 at 5 37 46 pm" src="https://cloud.githubusercontent.com/assets/18075411/24221849/56176604-0f26-11e7-9b21-f3620bd76b06.png">

[2017-03-22 21:39] #1254 closed

[2017-03-22 21:39] kierachell commented on #1244
or #1254 is a dup of this ;)

[2017-03-22 21:48] kierachell commented on #1143
**PASSED**

triple checked on `uat`; no new bugs found

[2017-03-22 21:48] #1143 closed

[2017-03-23 00:41] kierachell commented on #937
**PASSED**
Validated by timing things out in UAT.

[2017-03-23 00:41] #937 closed

[2017-03-23 00:54] kierachell commented on #1288
duplicate of #1238

[2017-03-23 02:33] kierachell commented on #946
[code]
and
[code]

[2017-03-23 02:45] kierachell commented on #946
[code]

and
[code]

[2017-03-23 02:56] tejans24 opened #1298 "Document the 5 step PR process with code samples as a gist for renaming columns"
* Add a new column
* Read/write data from both old and new columns
* Do database migration to transfer data to a new column on already existing records
* Remove read/write from the old column
* Delete the old column (edited)

[2017-03-23 11:20] kierachell commented on #1275
Merged to prod last night -
@abbyraskin is a champ!

[2017-03-23 12:32] lakohl opened #1299 "Route Claim: Send Email Notification + VBMS Note"
Route Claim: Send Email Notification + VBMS Note

Add a VBMS Note to Full Grant claims that we email to ROs.

[2017-03-23 12:34] lakohl commented on #1299
@abbyraskin Should we do this for all emailed claims or only some? If the latter, could you suggest which ones?

Also trying to thing about what would be the best order of the two actions. Email first, so they really do it? then VBMS Note? Will discuss with devs as well.

[2017-03-23 12:48] lakohl commented on #1273
@cmgiven can you confirm how many decisions might appear in a 'multiple decision' worst case scenario?

[2017-03-23 12:54] lakohl commented on #1280
thanks @avrildavid !

[2017-03-23 13:09] #1030 closed

[2017-03-23 14:09] cmgiven commented on #1273
Seven. You did ask for a worst case scenario. That happened in 2015.

But don't design for that. As long as this remains functional, we should almost never see more than four decisions, and that's pretty rare. Here's a table of how often decisions were cluster for the last three fiscal years. 1 indicates single cases, 2 indicates pairs of cases, and so on. There are only sixteen cases, or four gro

[2017-03-23 14:18] cmgiven commented on #1273
(Note that this is just looking at multiple decisions issued in a given time period. The other way this could occur is if multiple PDFs of the same decision were mistakenly uploaded. But I assume that 1. that is unlikely to happen five times, and 2. unlikely to cooccur with actual multiple decisions.)

[2017-03-23 14:21] kierachell commented on #932
fixed by #1234

[2017-03-23 14:21] #932 closed

[2017-03-23 14:23] shanear commented on #1275
George was able to log into the manager view. Closing this one.

[2017-03-23 14:23] #1275 closed

[2017-03-23 14:24] gnakm commented on #1088
Closing because it's now combined with #1085

[2017-03-23 14:24] #1088 closed

[2017-03-23 14:25] gnakm commented on #1087
Closing this because it's related to #1085

[2017-03-23 14:25] #1087 closed

[2017-03-23 14:33] gnakm opened #1302 "Styleguide component | Form fields | Text Input"
As a developer and designer, I want a clear and consistent way to implement text inputs so our users can enter important information in an accessible way across our apps.

## Acceptance Criteria
1. Verify that this is found in the living style guide there is a subsection titled `Text Input` under `Form Fields`
1. Verify that the description for `Text Input` appears underneath the title (see copy)

[2017-03-23 14:34] mdbenjam opened #1303 "Tests | Add unit tests for newly refactored Reader components"

[2017-03-23 14:35] mdbenjam opened #1304 "Refactor | Continue to split out Reader components into smaller components"

[2017-03-23 14:37] astewarttistatech commented on #1076
**PASSED**

Validated in: UAT
Browsers Validated in: FF and Chrome

Steps to Validate:
1. Go to the style guide and verify that the mocks in the AC, match what is being displayed for the "Tables" portion.

Screenshot: (see above)

[2017-03-23 15:15] astewarttistatech commented on #1076
The copy does not match. @shanear

[2017-03-23 15:44] slj commented on #711
@lakohl FYI all the buttons mentioned in the original spec render the Loading status, even if the change is too quick to notice.

[2017-03-23 15:54] lakohl commented on #1273
Thanks for the insight @cmgiven!

[2017-03-23 15:58] lakohl commented on #711
Super. thanks @slj !!

[2017-03-23 16:26] lakohl opened #1307 "History: Display most recent search at the top of the list"
Currently eX History shows the files that have been searched for in order from oldest (at top of the list) to newest (at bottom of the list). It should be the opposite.

**AC**
Verify that the most recently searched efolder shows at the top of the History and the oldest search shows at the bottom of the list.

**Mock**
When this issue is implemented DEMO987 would represent the most recent search a

[2017-03-23 16:27] abbyraskin commented on #1277
George said they currently update the address in VBMS if something is missing -- George advises them to look in VACOLS, where they can usually find the address info (or Share, which is the same db as BGS).

[2017-03-23 16:28] abbyraskin commented on #1277
We'll work on language for the error message -- I think we can go with Option 2, with guidance on where to update the address and how to find it.

[2017-03-23 16:35] astewarttistatech commented on #1076
Associated PR : #1306

[2017-03-23 16:48] lakohl commented on #1277
How high a priority is this?/How often does it happen?

[2017-03-23 17:05] lakohl commented on #1270
The only time we don't have a back button is on the VACOLS Updated step. This is because it's a step that the system is performing, not the user. The inability to go back was more a technical solution then a design decision. If VACOLS can Update when we leave the Route Claim page then we could pose the VACOLS Update as a question (with a back button). That would be better for the user.

[2017-03-23 17:11] lakohl opened #1308 ".pdf viewer"
Add back in:
1. Page forward/backwards arrows
1. Magnifying glass

[2017-03-23 17:13] kierachell commented on #946
**PASSED**
<img width="960" alt="screen shot 2017-03-22 at 10 42 10 pm" src="https://cloud.githubusercontent.com/assets/18075411/24260495/692780e0-0fca-11e7-973f-4b07bf5a1408.png">
<img width="1180" alt="screen shot 2017-03-22 at 10 42 44 pm" src="https://cloud.githubusercontent.com/assets/18075411/24260496/6938d840-0fca-11e7-905b-bf32ffdb5487.png">
<img width="871" alt="screen shot 2017-03-22 at

[2017-03-23 17:13] #946 closed

[2017-03-23 17:16] lakohl commented on #712
In my view the button that was clicked should show a loading indicator. If you think that the other buttons should not be clickable (cause it will disrupt our system) then we should freeze the rest of the page while the button loading indicator shows. But I would refrain from changing all the other buttons to a passive state. It makes the page look broken.

[2017-03-23 17:27] astewarttistatech commented on #1133
**PASSED**

Validated in: UAT
Browsers Validated in: FF and Chrome

Steps to Verify:
1. Go to the Style Guide and check the specs of the "View Source Code" button on the tabs section against the AC of this ticket

Screenshot:
<img width="1273" alt="screen shot 2017-03-23 at 1 25 23 pm" src="https://cloud.githubusercontent.com/assets/23038505/24261166/7cddf860-0fcc-11e7-89ad-dfb92d8badcb.png">

[2017-03-23 17:50] lakohl opened #1309 "Route Claim | VACOLS Update | Update wording"
As a caseworker, I'd like to see more clear wording that VACOLS **will** be updated, instead of the current wording which makes it seem like it has already been updated.

## Acceptance Criteria
- Verify that on the "Update VACOLS" page, the heading is changed to "Route Claim: Confirm VACOLS Update"
- Verify that the copy of the directions is changed from:

to

[2017-03-23 17:56] alex opened #1310 "Upgrade nokogiri for all caseflow repos"
Latest nokogiri release resolves some security issues :https://github.com/rubysec/ruby-advisory-db/blob/master/gems/nokogiri/CVE-2016-4658.yml

[2017-03-23 17:58] alex commented on #1310
`bundle update nokogiri` in all relevant repos should do the trick

[2017-03-23 18:21] kierachell commented on #1246
duplicate of #1219

[2017-03-23 18:21] #1246 closed

[2017-03-23 18:32] amprokop opened #1312 "Create certification success page for Certification v2."
From the mock (note that our progress bar will only have 3 sections for now):

We should change the word `Congratulations!` to `Success!` to be consistent with dispatch.

![image](https://cloud.githubusercontent.com/assets/3781835/24264017/6a0ad786-0fd5-11e7-990a-3eb54b2e6919.png)

This should be displayed after the user clicks "Certify Appeal" on the Sign & Certify page.

[2017-03-23 18:42] amprokop opened #1313 "Sign & Certify | Transmit Certification v2 info to the server and ensure that the form8 is still generated on the backend. [2]"
# Acceptance Criteria

When the user clicks "Certify Appeal", we should:

 - Send the information from this page to the server
 - Save it in the database (all the fields already exist from certification v1)
 - Generate a form 8 (make sure to test that this still happens)
 - Upload the form 8  to VBMS
 - Certify the appeal in VACOLS

### Developer Notes
We have code that already does all of this fr

[2017-03-23 18:46] amprokop opened #1314 "SPIKE | Figure out how to reconcile Rails key names with React key names."
We'll likely have to convert underscore delimited keys (ex: `foo_bar`) from rails to camel case keys (ex: `fooBar`). We'll receive the server data in `Certification.jsx`, and we'll send data to the server on both the Confirm Hearings page and the Sign and Certify page, so we'll need to convert the key names in multiple places.

Look at the way Dispatch does this. Is it problematic? Should we impro

[2017-03-23 18:46] shanear commented on #1279
folding this into #1270, closing

[2017-03-23 18:46] #1279 closed

[2017-03-23 18:47] shanear commented on #1277
It's happened 2-3 times with Larry so far @lakohl

[2017-03-23 18:49] amprokop opened #1315 "Hook up all the pages in the "1. Check Documents" step to live data"
We send certification data down to the client and store it in the Redux store. We should connect all these pages to the Redux store so we can display live data in them.

To validate this, go to `/certifications/new/XXX`and `/certifications/new/XXX` in UAT and check that the data from VACOLS and VBMS for form9, nod, soc, and ssoc dates are being accurately displayed. We should try scenarios where:

[2017-03-23 18:52] amprokop opened #1316 "Certification v2 styling touch-ups."
- The spacing & margins  in the Confirm Hearings page is off. Make sure we match the mock as well as we can.
- The radio buttons should display vertically in most cases, but our `RadioField` component didn't yet have that implemented. Make sure the radio buttons in the Confirm Hearings page and Sign & Certify page are vertical where the mocks say so.
- Do a pass on other styles to make sure they d

[2017-03-23 18:55] amprokop opened #1317 "Determine if we want to save new fields in the db"
We might need to run a db migration adding new columns to correspond to new data types in Certification v2. We would need fields called:

`vbms_hearing_document_found` (Boolean)
`has_statement_in_lieu_of_form9` (Boolean)
`hearing_type_requested` <-- we may be able to just reuse "hearing type"

TODO alex: think through this a bit more—do we actually need these?

[2017-03-23 18:59] amprokop opened #1318 "Make the Cancel Certification modal work with Certification v2 [2]"
The link currently does nothing. Sad! Make sure that the modal renders and functions properly in v2. It should function identically to the modal in v1.

[2017-03-23 19:00] amprokop opened #1319 "Add the header from Certification v1 to Certification v2"
We want to add this header:

Make sure we have live data from the server.

![image](https://cloud.githubusercontent.com/assets/3781835/24265703/ca5a4f9a-0fda-11e7-9260-b195e71688de.png)

[2017-03-23 19:00] shanear commented on #1220
VAMC is already handled how you are suggesting.

[2017-03-23 19:19] lakohl commented on #1220
I think we currently have the wrong VACOLS location code for VAMC

[2017-03-23 19:21] shanear commented on #1242
This will be subsumed by:
https://github.com/department-of-veterans-affairs/caseflow/issues/1256

closing

[2017-03-23 19:21] #1242 closed

[2017-03-23 19:24] shanear commented on #1307
This should be an efolder express issue 😝

[2017-03-23 19:25] shanear commented on #1307
https://github.com/department-of-veterans-affairs/caseflow-efolder/issues/434

closing

[2017-03-23 19:25] #1307 closed

[2017-03-23 19:33] shanear commented on #1238
@lakohl @abbyraskin have yall seen this in production?

[2017-03-23 19:43] shanear commented on #1220
👍 AC updated.

[2017-03-23 19:47] #1110 closed

[2017-03-23 19:49] lakohl commented on #1220
@Chingujo can you fill in the missing RO info at the top?

[2017-03-23 19:51] amprokop commented on #1112
To fully have this match the mocks, we need the `RadioField` component to be able to display buttons vertically. @slj is working on this now, that'll be implemented after his PR is merged.

[2017-03-23 19:55] lakohl commented on #1280
AC needs to be re-written

[2017-03-23 20:14] amprokop commented on #1316
Let's wait until the end of next week to start this, and then ask @shellicious for an audit of the styles we have implemented already.

[2017-03-23 20:27] mdbenjam opened #1320 "508 | Fix what's not compliant..."
Running list of things to address

- [x] aria-labels/labels

[2017-03-23 20:30] abbyraskin opened #1321 "Document Viewer | "Add Comment" button styling"
As a user, I want to be able to easily find a way to add a comment in the PDF viewer.

## Note:
In our first iteration, we used a text link for adding a comment and users weren't able to find it easily. We received feedback to make it more prominent. We tried this new style with the button for iteration 2 and users successfully found it.

## Acceptance Criteria
- Validate that the add comment butt

[2017-03-23 21:05] lakohl opened #1323 "SPIKE: Investigate if any VAMC claims ended up in the wrong location"
Investigate if any VAMC claims ended up in the wrong location (51 instead of 54)

[2017-03-23 21:39] gnakm opened #1324 "Document Viewer | Comment states: selecting comments"
## Story

As a user, I want to see which pages each comment on the side are correlated with.

## Description
When a user clicks a comment box on the side menu, s/he should see the document on the left with comment icon associated with the comment in the selected state.

## Acceptance Criteria
- Verify that when a comment box is selected, the document viewer displays the page containing the comment

[2017-03-23 21:42] mmlumba commented on #1133
@gnakm The "View Source" button uses color #0071bc with a hover color of #205493. This should be similar to all the other blue action buttons used in Caseflow.

[2017-03-23 21:57] gnakm opened #1325 "Document Viewer | Comment box when selected vs unselected"
## Story

As a user, I want to know when my comments are selected or unselected so I know where I am in relation to the open document.

## Acceptance Criteria

- Verify that an unselect comment has a `grey-lighter` outline
- Verify that a selected comment has USWDS focus blue

## Mockup

![image](https://cloud.githubusercontent.com/assets/13420618/24272039/e41d5442-0ff1-11e7-9f99-4e9160cb2cfe.png)

[2017-03-23 22:01] Chingujo commented on #1220
@lakohl Updated the issue with the the RO Code for NCA (98) and Home Loan (88)

[2017-03-23 22:03] gnakm commented on #1133
@mmlumba
RE: The "View Source" button uses color #0071bc with a hover color of #205493. This should be similar to all the other blue action buttons used in Caseflow.

^ This statement is correct.

[2017-03-23 22:04] shanear commented on #1299
This has be slated for ARC Dispatch V2

[2017-03-23 22:15] lakohl commented on #1220
Thanks @Chingujo! you're a star

[2017-03-23 22:17] lakohl commented on #1220
@Chingujo It turns out that above, we actually need the VBMS info for the RO, station and actual city, state.

For example:
<img width="736" alt="screen shot 2017-03-23 at 6 16 27 pm" src="https://cloud.githubusercontent.com/assets/4975959/24272741/0857edce-0ff5-11e7-9324-bf259497fecc.png">

[2017-03-23 22:19] #1308 closed

[2017-03-23 22:30] Chingujo commented on #1220
Ah gotcha. I know that NCA and Home Loan was just transitioning/starting to use VBMS when I chatted with them over the past two weeks.

Will follow up first thing to get the above tomorrow.

[2017-03-23 22:50] lakohl commented on #1220
Or if they don't have a station, maybe we could at least say where it is we are sending it, e.g. 'PMC - Philadelphia, PA'

[2017-03-23 23:01] kierachell commented on #1323
https://github.com/department-of-veterans-affairs/caseflow/blob/f8d39d6e5c527f6a53f90bbaa83b61e54f29a04e/app/services/appeal_repository.rb#L215

@shanear
![nich](https://cloud.githubusercontent.com/assets/18075411/24273861/200a0762-0ffb-11e7-8b6a-fa495f048aaf.png)

[2017-03-24 04:38] gnakm commented on #1029
@lakohl @abbyraskin What are your thoughts on adding a button that says "copy text" that would automatically copy that text? Abby mentioned a feature like this for reader and I think it would give users more direction on what to do next.

[2017-03-24 04:46] gnakm commented on #1138
new mock and ACs updated above.

[2017-03-24 12:17] Chingujo commented on #1220
Sounds good. i will ask on the VBMS code. In case they don't see below for the locations following the format above.

#### Locations

'Home Loan Guarantee  - Atlanta, GA'

_Note that HL's used to be processed in Salem, NC (RO 88) and Atlanta just took over that box when they became the appeals center for HL. _I would use ATL as that is where Jennifer sits_. Just FYI if your wondering why the RO lo

[2017-03-24 13:14] #1133 closed

[2017-03-24 13:50] aroltsch commented on #769
I cannot establish TCP connection with the VVA Dev environment:
```Errno::ECONNREFUSED: Failed to open TCP connection to vbaphi5dopp.vba.va.gov:7002 (Connection refused - connect(2) for "vbaphi5dopp.vba.va.gov" port 7002)```

However, I can establish TCP connection with the VVA Test environment (username is incorrect because the VVA team only shared username/password for the Dev env and not the Te

[2017-03-24 14:03] lakohl commented on #1029
I like it! I believe we have that in Certification for the Vet ID and could use in in Dispatch for the email message as well as the VBMS note. We should make it a Style Guide component.

[2017-03-24 14:04] lakohl commented on #1220
Thank you. Ping me if you are having trouble finding this today as it's high priority - already in the Ready for Dev column for next sprint!

[2017-03-24 14:06] lakohl commented on #1220
@kierachell do you know where we are pulling the RO field (VBMS station? - city, state) on the Route Claim: Send Email Notification page from?

[2017-03-24 14:10] astewarttistatech opened #1329 "Establish Next Claim/ SIC are misaligned"
**Description:**

After establishing one claim as a caseworker in Dispatch, "Rice Compliance" and "Manlincon" Special Categories shift too close to their corresponding check box and are italicized .

**Expected:**

Every time a caseworker accesses the Review Decision page, all of the SIC should remain in their original positions.

**Environment Found:** UAT
**Browsers Found:** FF and Chrome

**Ste

[2017-03-24 15:54] astewarttistatech opened #1332 "Wrong Loading Icon in Dispatch"
**Description:**

Now in Dispatch, the "new" loading icon is wrong.

**Expected:**

Dispatch should have the loading icon found in the style guide.

**Environment found:** UAT
**Browser  found in:** FF and Chrome

**Steps to Recreate:**
1. Go to Dispatch as a caseworker and try to establish a claim.
2. On the Review Decision page, after selecting all applicable options, select Route Claim and see

[2017-03-24 16:32] shanear commented on #1329
@astewarttistatech good catch 👍

[2017-03-24 16:48] Chingujo commented on #1220
@lakohl

Whew. Got the station codes or the Station Id (what users log into VBMS with):

Home Loan Guarantee - 316

*There is one associated with RO 88 (the VACOLS code for HL). HOWEVER, Jennifer has never used the login associated with it.

National Cemetery Administration - 852

[2017-03-24 19:34] abbyraskin opened #1335 "Decision Review | Add "Remand BVA or CAVC" as a Document Type in ARC's work queue"
## Context
Denese noticed that a case with an uploaded decision was showing up on the Missing Decisions page. I looked at the eFolder in VBMS, and noticed it's a Document Type we aren't accounting for in Caseflow. I talked to George he confirmed we should be including these in Caseflow.

## Description
Include "Remand BVA or CAVC" as a Document Type in Caseflow.

## Related Stories
https://github.

[2017-03-24 19:40] abbyraskin commented on #1335
@shanear @lakohl I'll leave it to you all to figure out if we can fit this in to next sprint. In general, folks are supposed to only use the BVA Decision label, but right now there are still some remands with this label, and I want to make sure these aren't left lingering erroneously on the Missing Decisions page.

[2017-03-24 19:48] abbyraskin commented on #1260
This has been implemented...Design may reiterate on unread docs indicator, stay tuned for future story.

[2017-03-24 19:48] #1260 closed

[2017-03-24 19:55] lakohl commented on #1335
If it's not too big a lift, it would be great to get this in this sprint (after ARC Manager View tickets). The BVA Dispatch Manager has access and will be piloting their view this week.

[2017-03-24 20:05] lakohl commented on #1220
@shanear Currently, where we pull the RO field on the Route Claim: Send Email Notification page from?

[2017-03-24 20:06] Chingujo commented on #1094
@gnakm Updated the AC's copy, and added a link

[2017-03-24 20:08] astewarttistatech commented on #1076
**PASSED**

Changes are in. See screenshots for copy change.
<img width="1399" alt="screen shot 2017-03-24 at 4 07 12 pm" src="https://cloud.githubusercontent.com/assets/23038505/24311805/1be2bec0-10ac-11e7-8647-9a8feb3e3c2c.png">

[2017-03-24 20:08] #1076 closed

[2017-03-24 20:11] lakohl commented on #1220
@abbyraskin do you have any thoughts on how we should display the RO field for the instances above?

[2017-03-24 20:18] abbyraskin commented on #1220
Voc Rehab should be treated like any other RO (RO's station and city).

VAMC - I would just say "VHA Central Office - Washington, D.C." since that's actually where we are sending it.
NCA: display as "National Cemetery Administration - St. Louis, MO"
Home Loan Guaranty - "Home Loan Guaranty - Atlanta, GA"

[2017-03-24 20:33] Chingujo commented on #1096
@gina

Updated AC, added mock, craft link, and copy labels

[2017-03-24 20:36] Chingujo commented on #1097
@gnakm

Updated AC, added craft link and mock image, copy labels

[2017-03-24 21:33] gnakm commented on #1082
@Chingujo We should actually hold off on this... this is a 508 issues. I need to think a little more about this but basically, when a user clicks into the text box, you lose the instructions as you type. Also for those who are using screen readers, MM/DD/YYYY will be phonetically read out loud.

We could either:
1. Go back to the way were were using date input, or
2. Put together better content be

[2017-03-24 21:51] lakohl commented on #1220
I updated the AC above to include what we should put in the RO field for Home Loan Guaranty and NCA.

@shanear I don't have visibility into what we are currently showing in the RO field on the Route Claim: Send Email Notification page for VAMC, but per @abbyraskin ^ it should say: **VHA Central Office - Washington, D.C.** I'll let you update the AC if needed.

[2017-03-24 21:54] lakohl commented on #1096
Hey guys, we might want to differentiate between Alert Banners Messages  (see below)
<img width="740" alt="screen shot 2017-03-24 at 5 53 31 pm" src="https://cloud.githubusercontent.com/assets/4975959/24314999/e64130d0-10ba-11e7-94e0-a29f94e128e2.png">
and other kinds of alerts?

[2017-03-24 22:18] lakohl commented on #1084
In Dispatch, after a user has clicked the 'Finish routing claim' button they land on the Confirmation page. At that point they are done. If they try to move backwards using the browser back button, they get the message below. Wondering if you think it should be yellow or red?

<img width="613" alt="screen shot 2017-03-24 at 6 16 33 pm" src="https://cloud.githubusercontent.com/assets/4975959/243156

[2017-03-25 15:21] shanear commented on #1076
awesome job getting in to the code @astewarttistatech 👊 🎶 🎶 🎶

[2017-03-27 05:33] gnakm opened #1336 "Styleguide component | Checkboxes"
As a developer and designer, I want a clear and consistent way to implement check boxes across or apps so users can easily make important selections across our Caseflow app.

## Acceptance Criteria
1. Verify that this is found in the living style guide there is a section titled `Checkboxes`
1. Verify that the description for `Checkboxes` appears underneath the title (see copy)
1. Verify that the c

[2017-03-27 12:46] kierachell commented on #1225
**PASSED**
was deployed without any sort of validation, so who cares.

[2017-03-27 12:46] #1225 closed

[2017-03-27 12:48] kierachell commented on #1144
**PASSED**
deployed to `prod` without any sort of validation so who cares.

[2017-03-27 12:48] #1144 closed

[2017-03-27 12:52] kierachell commented on #1000
**PASSED**
was deployed to `prod` anyway so who cares

[2017-03-27 12:52] #1000 closed

[2017-03-27 13:07] aroltsch commented on #769
I am able to make a successful request to VVA using: https://vbaphid521ldb.vba.va.gov:7002/VABFI/services/vva

Request:

[code]

Response:

[code]

Note: real username and password have been removed

[2017-03-27 13:12] Chingujo commented on #1008
@gnakm

Updated AC's, mocks, craft links, and copy

[2017-03-27 13:57] Chingujo commented on #1096
@lakohl

Yup =D. We have a separate issue for the above

[2017-03-27 14:20] shanear opened #1338 "Adding React structure through Redux"
The React code in dispatch is quite messy and unstructured. We should discuss how Redux could help clean it up and how to move forward.

## Action Items
- Redux is officially the direction we are moving in for all React features that need state.
- Over communicate about potential Redux patterns on #appeals-engineering.

[2017-03-27 14:21] #1227 closed

[2017-03-27 14:24] astewarttistatech commented on #1009
**PASSED**

Validated in: UAT
Validated Browsers: FF and Chrome

Steps to Validate:
1. Go to Dispatch as a caseworker and monitor the progress bar as you create EPs with duplicates and special issues

Screenshots:
<img width="1355" alt="screen shot 2017-03-10 at 4 11 50 pm" src="https://cloud.githubusercontent.com/assets/23038505/24361083/073ca7c4-12d7-11e7-979f-147a67144018.png">
<img width="1339

[2017-03-27 14:50] lakohl opened #1339 "Decision Review: Large Loading Indicator - ovelay two icons"
Large loading indicator on Decision Review Page should show with grey and purple icons overlaid and spinning directly on top of each other:

<img width="183" alt="screen shot 2017-03-27 at 10 49 51 am" src="https://cloud.githubusercontent.com/assets/4975959/24362547/208b823c-12db-11e7-8cf5-04e9b6b9f6dd.png">

Currently, they display side by side.

[2017-03-27 14:53] gnakm commented on #1009
As a designer and developer, I want to know what it looks like for a user to see what a past, current and future step in a process looks like.

# Acceptance Criteria

- [ ] Verify that the height of the process bars are 7px height
- [ ] Verify that current and past completed steps is in  `gray-dark` (#323A45) and future step is in `gray-light` (#AEB0B5)
- [ ] Verify that the text for all process,

[2017-03-27 14:57] abbyraskin commented on #1238
@shanear i haven't actually seen it myself, but yes, i believe this is an error Larry has previously described. he mentioned that he returns to Work History to continue.

[2017-03-27 15:02] astewarttistatech commented on #1009
There is no place where the mocks or the description reside @gnakm @mmlumba Marking this as failed.

[2017-03-27 15:05] abbyraskin commented on #1266
OK - AC updated

[2017-03-27 15:35] abbyraskin commented on #1220
VAMC: "RO99 - VHA Central Office - Washington, D.C." since that's actually where we are sending it.
NCA: "RO98 - National Cemetery Administration - St. Louis, MO"
Home Loan Guaranty: "RO 88 - Home Loan Guaranty - Atlanta, GA"

[2017-03-27 15:35] abbyraskin commented on #1220
This is how similar Level 3 special issues are handled today:

<img width="871" alt="screen shot 2017-03-27 at 11 28 23 am" src="https://cloud.githubusercontent.com/assets/4042181/24364662/792af57a-12e1-11e7-9943-7bc4b464fb2b.png">

[2017-03-27 15:43] mmlumba commented on #1167
@lakohl Would this go under the "Text Input" section of styleguide or would this be its own section?

[2017-03-27 15:44] lakohl commented on #1220
Thanks @abbyraskin !!!

[2017-03-27 15:45] lakohl commented on #1167
@mmlumba That sounds right, but I don't know what else you've got under 'Text Input' ;)

[2017-03-27 16:55] gnakm commented on #1259
@abbyraskin yep! it's been edited.

[2017-03-27 17:42] shanear opened #1345 "Remove unhandled email address code"
Because of #1220, we no longer have unhandled email special issues. We can remove code related to that path when we've locked that decision in.

[2017-03-27 17:50] astewarttistatech commented on #1009
@mmlumba sorry to be a nit picker but "grey-dark" isn't highlighted in the copy on the page currently. @gnakm Do you want to continue this way?

<img width="1344" alt="screen shot 2017-03-27 at 1 47 30 pm" src="https://cloud.githubusercontent.com/assets/23038505/24370121/3c297e22-12f4-11e7-9af0-50af76d55a5c.png">

[2017-03-27 17:54] Chingujo commented on #1336
@gnakm

Updated story, AC, link, added required checkbox, edited copy

[2017-03-27 18:32] abbyraskin opened #1349 "Tech Improvement | Production pipeline"
#### Description
- Finish feature tests: document scenarios for QA

#### Goals
- Rely on automated testing for all existing functionality
- QA is able to validate stories

[2017-03-27 18:37] kierachell commented on #1162
Seems to be a non-issue
**IE11:**
<img width="485" alt="screen shot 2017-03-27 at 2 35 02 pm" src="https://cloud.githubusercontent.com/assets/18075411/24372090/d21eb3ce-12fa-11e7-86d9-3c54aceed068.png">
**Chrome:**
<img width="998" alt="screen shot 2017-03-27 at 2 35 42 pm" src="https://cloud.githubusercontent.com/assets/18075411/24372091/d226804a-12fa-11e7-9b14-9aa5215af3d7.png">

[2017-03-27 18:37] #1162 closed

[2017-03-27 18:39] gnakm commented on #1009
@astewarttistatech Nit-picking is good. I just added it to the issue above.

/cc: @mmlumba for awareness.

[2017-03-27 19:05] Chingujo opened #1350 "Styleguide Component | Caseflow Logos"
As a developer and designer, I want a clear and consistent way to implement logos across our applications to increase brand awareness with our users and help them identify the various apps.

## Acceptance Criteria
 1. Verify that there is a section titled `Logos`in the style guide
1.  Verify that the description for `Logos` appears underneath the title (see copy)
1.  Verify that the `Logo` compone

[2017-03-27 20:59] mmlumba commented on #1009
@astewarttistatech The changes @gnakm proposed for the highlights should be deployed now

[2017-03-28 03:35] shanear opened #1352 "Prod Squad Improvements"
Prod squad has been going down for almost a month now, and it looks like there are some ways we can better equip everyone to be ready when they're on the squad.

Let's discuss and make the appropriate improvements.

## Action Items
- create prod squad playbook @shanear
## When a new issue comes up in Sentry
1) Create a github issue or match the sentry error to an existing issue
2) Add the link to

[2017-03-28 11:32] kierachell commented on #1144
<img width="1071" alt="screen shot 2017-03-28 at 7 31 07 am" src="https://cloud.githubusercontent.com/assets/18075411/24402911/9aad4084-1388-11e7-9c45-42f34107dd7f.png">
for real?

[2017-03-28 12:01] kierachell opened #1354 "Create End Product | Duplicate EP modifier error handling"
# Description
As a Caseworker routing a Partial/Remand thingy,
when creating a New End Product
if there's already an existing EP with a modifier (170-179)
and I attempt to create a new EP with that same modifier
Caseflow shows a not-very-informative _System Error_ alert.

VBMS is kind enough to tell us that we're trying to create a duplicate EP. So maybe we can parse that?
[code]

**Environment:**

[2017-03-28 12:03] astewarttistatech commented on #1009
**PASSED**

Validated in: UAT
Validated on: FF and Chrome

Steps to Validate:
1. Go to the style guide and match the copy and mocks of the AC to what is displayed in actual style-guide.

Screenshots:
<img width="1267" alt="screen shot 2017-03-28 at 8 01 33 am" src="https://cloud.githubusercontent.com/assets/23038505/24403903/fa9ae2d6-138c-11e7-93b6-33929b2c35d4.png">

[2017-03-28 12:03] #1009 closed

[2017-03-28 12:08] astewarttistatech commented on #1107
**PASSED**

Environment Validated In: UAT
Browsers Validated In: FF and Chrome

Steps to Validate:
1. Go to Dispatch and select the role to certify claims (v2)
2. Use the BFKEY of an applicable veteran to preform the document check.
3. Validate the success page shown in the AC is also shown when working with Certification V2.

Screenshots:
![certificationv2](https://cloud.githubusercontent.com/ass

[2017-03-28 12:08] #1107 closed

[2017-03-28 12:43] abbyraskin commented on #1220
updated AC

[2017-03-28 14:33] shanear opened #1357 "Missing Decisions page crashes when there are too many decisions."
Now that we've turned on the firehose, the missing decisions page is crashing because the request is taking > 55s because there are too many appeals missing decisions which are all making calls to VACOLS.

I'm going to get this page working again by possibly adding pagination and a total.

[2017-03-28 14:40] aroltsch commented on #769
We test with the following claim numbers in the Development environment:
·         987987987 – Currently, this has a total of 45 documents with 13 restricted documents and 32 non-restricted documents.
·         456456456 – Currently, this has a total of 27 documents with 20 restricted documents and 7 non-restricted documents.
·         123123123 – Currently, this has a total of 7179 documents with

[2017-03-28 14:58] askldjd commented on #1352
Here's the Prod Squad survival kit. Everyone assigned to Prod Squad **must** have the following ready.
 - AWS Console Access
 - Prod Access
 - SSH Access (and have shortcut configured on their laptop)
 - Know how to quickly verify that the offending application is healthy
 - Know how to find logs quickly (through awslogs)
 - Know how to get to Sentry and Grafana
 - Know the basics setup for each a

[2017-03-28 15:10] shanear commented on #1354
This is a dup of https://github.com/department-of-veterans-affairs/caseflow/issues/1281

closing

[2017-03-28 15:10] #1354 closed

[2017-03-28 15:14] shanear opened #1360 "Deal with sensitivity when processing claims establishments."
If a user doesn't have the sensitivity level to deal with a case, then it will stop them cold in their tracks.
(see: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/126/)

We should either:
- Enforce sensitivity. (This will be complex and may introduce a lot of edge cases)

OR

- Use the Caseflow system account to send BGS requests. (this could be problematic

[2017-03-28 15:28] ariperez-gov commented on #1352
in terms of who can be on call, contract says “Normal Business Hours”
agreed with Matt to give contractors an opt out if its out of hours

Agree with @ToddStumpf that we can set the rotation up so contractors are only paged during business hours, and have DS oncall extended hours

[2017-03-28 15:55] ariperez-gov commented on #1280
@avrildavid , can you choose the best text here since Laura is out.  Just add an updated Acceptance criteria to check for new text.

[2017-03-28 16:01] kierachell commented on #1277
Update: this seems to happen when a veteran's mailing address is not within USA. (can be set to international)

[2017-03-28 16:39] abbyraskin commented on #1277
@kierachell just to clarify...does it also happen if they're missing required address info, or only if it's an international address?

[2017-03-28 16:56] kierachell commented on #1277
I can only edit VACOLS and VBMS data. No idea how to get into BGS. So that is all I was able to test.

[2017-03-28 18:34] kierachell opened #1362 "Success! Page | Action list line alignment"
When completing a task with multiple actions and observing the *Success!* page. The alignment of the 2nd line of the completed action (next to checkmarks) seems off.

_Current:_

<img width="1026" alt="screen shot 2017-03-28 at 11 46 12 am" src="https://cloud.githubusercontent.com/assets/18075411/24421098/10d91cda-13c3-11e7-8188-034e749a7e74.png">
<img width="979" alt="screen shot 2017-03-28 at 3

[2017-03-28 18:51] avrildavid commented on #1280
@ariperez please see the third bullet under acceptance criteria

[2017-03-28 19:31] kierachell commented on #1220
# Vocational Rehab Full Grant
<img width="1072" alt="screen shot 2017-03-28 at 3 30 25 pm" src="https://cloud.githubusercontent.com/assets/18075411/24423608/92693048-13cb-11e7-8887-cf3c317c6c9c.png">

[2017-03-28 19:38] abbyraskin commented on #1280
I'm a little confused. Is this supposed to be a scenario where the EP was created? If so, they would be on the` Route Claim: VACOLS Updated, Add VBMS Note` page, I think.

If this is meant to be a scenario where no EP was created, I would not expect the message to say "Cannot edit end product" in the title.

The AC is somewhat contradictory -- are we allowing them to go back to the Decision Review

[2017-03-28 19:43] avrildavid commented on #1280
@abbyraskin @ariperez - I'll remove that bullet. It also wasn't clear to me if there was a bug that had to be addressed first (i.e., it was showing an inaccurate warning) or if this was in reference to the right page.

[2017-03-28 20:38] kierachell commented on #1220
<img width="1081" alt="screen shot 2017-03-28 at 4 37 54 pm" src="https://cloud.githubusercontent.com/assets/18075411/24426226/ef453880-13d4-11e7-9327-a00b9de36807.png">
😢

[2017-03-28 20:49] kierachell commented on #1220
When trying to create Partial/Remand with VAMC SIC
https://10.236.66.247/sentry/caseflow-uat/issues/150/

[2017-03-29 13:26] astewarttistatech commented on #711
No spinner on the loader button currently.

Current view:
<img width="563" alt="screen shot 2017-03-29 at 9 21 38 am" src="https://cloud.githubusercontent.com/assets/23038505/24456645/ae48c832-1461-11e7-95fd-f12d94e25025.png">

Pushing back to in progress.

[2017-03-29 13:59] sharonwarner opened #1366 "Add Redux to Dispatch"

[2017-03-29 14:10] gnakm commented on #1167
@mmlumba

We have a section for Text input but let's specifically call those Form Text Input and this one Inline Text Input.

**Title**: Inline Text Input

**Description**: Text input allows users to insert numbers or text into a field. The width of the input field will vary according to the context, whether it is for a number or name of a state, so that users are primed to know what to type in.

[2017-03-29 14:25] mmlumba commented on #1219
@kierachell Which browsers is this reproducible in?

[2017-03-29 15:48] kierachell commented on #1249
**PASSED**
<img width="787" alt="screen shot 2017-03-29 at 11 46 04 am" src="https://cloud.githubusercontent.com/assets/18075411/24463659/5fe5f5fc-1475-11e7-8d41-92f54b9bfe56.png">

[2017-03-29 15:48] #1249 closed

[2017-03-29 15:51] sharonwarner commented on #1270
I can comment on the issue as well, but there's one more case we need to cover. We should be able to go backwards on the Partial Grant / Remand page for special issues that we don't create an EP for.

<img width="1225" alt="screen shot 2017-03-29 at 11 47 28 am" src="https://cloud.githubusercontent.com/assets/4306128/24463849/f71ab994-1475-11e7-9397-bebdda3d48f6.png">

[2017-03-29 15:52] sharonwarner commented on #1270
I think there's one more case we need to cover. We should be able to go backwards on the Partial Grant / Remand page for special issues that we don't create an EP for.

<img width="1225" alt="screen shot 2017-03-29 at 11 47 28 am" src="https://cloud.githubusercontent.com/assets/4306128/24463849/f71ab994-1475-11e7-9397-bebdda3d48f6.png">

[2017-03-29 16:03] astewarttistatech opened #1369 "TOO INCONSISTENT | Full Grants can't route Tier 1 and Tier 2 Special Issues properly"
**Description:**
As a caseworker in Dispatch trying to Create an EP for a full grant with special issues from the 1st or 2nd tier. When user lands on the Route Claim page, a error message is displayed at the top. This gives the caseworker the only option of canceling.

**Expected:** Tier 1 and 2 Special Issues should route a full grant to the appropriate pages.

**Browser Found:** FF and Chrome
**

[2017-03-29 16:06] astewarttistatech commented on #1309
Blocked by #1369

[2017-03-29 16:13] kierachell commented on #1149
**PASSED**

<img width="505" alt="screen shot 2017-03-29 at 12 12 26 pm" src="https://cloud.githubusercontent.com/assets/18075411/24464795/10449554-1479-11e7-987b-92f7359f4fcb.png">

[2017-03-29 16:13] #1149 closed

[2017-03-29 16:39] kierachell commented on #1280
updated AC to match current functionality

[2017-03-29 16:41] abbyraskin commented on #1280
@ariperez [this document](https://github.com/department-of-veterans-affairs/appeals-design-research/edit/master/Projects/Dispatch/Routing%20EPs/Special%20Issue%20Tiers.md) will help you identify all special issues that do not get EPs.

[2017-03-29 17:16] astewarttistatech commented on #711
**PASSED**

Validated in: UAT
Validated on: FF and Chrome

Steps to Validated:
1. Go to Dispatch as a caseworker and go through the flow of creating an EP
2. Check all of the loading buttons for their new look

Screenshots:
<img width="320" alt="screen shot 2017-03-29 at 12 07 25 pm" src="https://cloud.githubusercontent.com/assets/23038505/24467279/e78c6d5e-1481-11e7-94c0-bd7945ab7ba0.png">

[2017-03-29 17:16] #711 closed

[2017-03-29 17:32] astewarttistatech commented on #1309
Screenshot
<img width="1395" alt="screen shot 2017-03-29 at 1 31 39 pm" src="https://cloud.githubusercontent.com/assets/23038505/24467858/2d047f82-1484-11e7-9022-226f85d9c36b.png">

[2017-03-29 17:36] #1309 closed

[2017-03-29 17:37] astewarttistatech commented on #1369
Too Inconsistent. Closing Issue.

[2017-03-29 17:38] #1369 closed

[2017-03-29 19:39] mmlumba commented on #1002
@gnakm Where would the link go for the sections that don't currently exist in the living style guide?

[2017-03-29 20:58] gnakm commented on #1002
@mmlumba I was thinking of adding Links under the Buttons sections (but nested as a subcategory if that makes sense).

[2017-03-29 21:13] mmlumba commented on #1277
Update acceptance criteria because these errors are actually happening because we weren't handling international addresses properly. We are fixing that, and will reopen this issue if we see the problem again. Thanks for the find @kierachell

## Old Acceptance Criteria
- Validate that when there is a VBMS establish claim failure because of missing veteran information, show a more descriptive error

[2017-03-29 23:14] ariperez-gov commented on #1270
@sharonwarner is this covered by this story?

https://github.com/department-of-veterans-affairs/caseflow/issues/1280

I'm currently working on that one too and struggling on understanding when EPs are created and when they are not as thats still not clear to me at that point.  Might need your help. :)

[2017-03-29 23:18] ariperez-gov commented on #1280
@joofsh or @sharonwarner , I might need to need to Pair Program with one of you tomorrow on this.  I'm not quite clear programmatically when the EP is created on the above page and when it is not.  Let me know who's best to work with.

[2017-03-30 05:41] slj opened #1376 "Enable components to accept a string or an array (of strings) for className"
When adding a component to the DOM, the `className` property should be definable as a string:
[code]
or an array of strings:
[code]

[2017-03-30 13:23] aroltsch commented on #1352
I think the best way to learn is by doing it. Whenever there is an issue, Alan and Shane should try and not get involved and let whoever is on call to figure it out first. However, some developers have a very minimal devops experience. We could set up pager duty in a way that these developers have a more experienced secondary on call who can guide them through.

[2017-03-30 13:24] aroltsch commented on #1352
@ariperez what is considered "Normal Business Hours"?

[2017-03-30 13:24] kierachell commented on #1277
**PASSED**
It worked!
That veteran was in India
<img width="1123" alt="screen shot 2017-03-30 at 9 24 01 am" src="https://cloud.githubusercontent.com/assets/18075411/24506194/b0182080-152a-11e7-9f70-2ad87e5e612f.png">

[2017-03-30 13:24] #1277 closed

[2017-03-30 13:34] abbyraskin opened #1377 "Documents List | Read/unread indicator: only bold the "Document Type""
**Context**
Currently, if a document has not yet been opened in Caseflow, we bold the entire row on the Documents List; however, we received some feedback that it was a bit overwhelming to users, and it was sometimes confused for communicating importance.

**Description**
Bold only the name of the "Document Type" for each unread document.

## Acceptance Criteria
- Validate that any document on the

[2017-03-30 13:36] kierachell opened #1378 "Create End Product | Unable to create EP for a Veteran with a Military type address"
# Description
As a Caseworker when creating an End Product for a Veteran with a Military Type address,
I expect to be able to do that.

**Environment:**
- [ ] Production
- [X] UAT
- [ ] Demo
- [ ] Development

**Type of Bug:**
- [X] Performance
- [ ] Design
- [ ] Security
- [X] Functional

# Reproduction Steps
Scenario 1 - Creating EP

1. Go to Dispatch and start Establishing next claim

1. Click

[2017-03-30 14:07] #1304 closed

[2017-03-30 14:18] mdbenjam commented on #1325
@gnakm What's the radius on the border curve?

[2017-03-30 14:25] mdbenjam commented on #1287
@gnakm I'd like to add the caseflow logo to this as well. Do you have that SVG for me to use?

[2017-03-30 14:28] askldjd opened #1381 "Setup Prod Jenkins"
Setup a prod Jenkins for things that can only be done through Prod VPC.
 - Setup Jenkins base URL to /jenkins
 - Add credentials to Jenkins
 - ELB
 - Update Utility Proxy

[2017-03-30 14:41] mdbenjam commented on #1282
@gnakm Should AC 1 read:
When document reader is open, and we're in the state of adding a note, cursor should be the icon? Or is it just always the icon.

[2017-03-30 14:53] mmlumba commented on #1002
@gnakm Just to clarify, I wanted to know where the link would "jump" to in the style guide if the section doesn't exist yet (ie if the link would not go anywhere, lead to a "coming soon" section, etc).

[2017-03-30 15:26] kierachell commented on #1357
@shanear found it @shanear documented it @shanear fixed it @shanear validated it

Full Stack For The Win!

[2017-03-30 15:26] #1357 closed

[2017-03-30 17:07] mdbenjam commented on #1268
@gnakm What's the max width of these comments?

[2017-03-30 17:49] aroltsch opened #1388 "Remove VBMS eDocument v4 requests"
As we move forward with the VBMS eFolder v1, we should remove eDocument v4 requests.

Tech details:
1. Look for `FeatureToggle.enabled?(:vbms_efolder_service_v1)`
2. Remove the following calls:
* VBMS::Requests::ListDocuments
* VBMS::Requests::FetchDocumentById
* VBMS::Requests::UploadDocumentWithAssociations

[2017-03-30 18:58] abbyraskin opened #1390 "Styleguide component: Change buttons to sentence case"
**Description**
Buttons displayed in Caseflow Commons buttons should reflect our own pattern for button text capitalization -- sentence case.

**Current State**
<img width="159" alt="screen shot 2017-03-30 at 2 06 05 pm" src="https://cloud.githubusercontent.com/assets/4042181/24519125/2e9fdab6-1552-11e7-8393-9918033e7524.png">

**Expected**
[Sentence case]

## Acceptance Criteria
- Verify that if

[2017-03-30 20:18] gnakm commented on #1002
@mmlumba gotcha! How about title of the component and in body "This component is not ready yet. Stay tuned! :) "

[2017-03-30 22:44] kierachell opened #1393 "Create End Product | Not checking for existing/cancelled EPs and duplicate modifiers"
**NB** this might a duplicate issue; but **OVER-DOCUMENTATION FOR THE WIN**

# Steps:

1. When a Caseworker is trying to create a new End Product for a Partial/Remand

1. And that claim had EP recently cancelled (516517673S on `UAT`)

1. Dispatch will attempt to create a new EP with the lowest possible modifier (170)

1. However VBMS will return a 500 error shown below

**NB** It is still possible

[2017-03-31 03:45] mdbenjam opened #1394 "State Machine | Users get error if try to cancel completed task"
Our AASM setup does not allow tasks to be cancelled once they are completed. We try to prevent a user from doing this on the frontend, but they might still be able to. For example if they have two tabs open with the same task, complete one, and cancel the other. Or if they complete a task, hit back before it's completed and then cancel it.

In any case, we should provide some UI to explain to the

[2017-03-31 04:21] slj opened #1395 "Special Issues with italics are flush against checkbox"
Noticed in dispatch - could be a duplicate issue.

This:

<img width="210" alt="screen shot 2017-03-31 at 12 04 16 am" src="https://cloud.githubusercontent.com/assets/1053255/24536007/a91af8b8-15a5-11e7-9994-627ee0aa9989.png">

should look like this:

<img width="213" alt="screen shot 2017-03-31 at 12 03 49 am" src="https://cloud.githubusercontent.com/assets/1053255/24536011/ac0d37c0-15a5-11e7-82f

[2017-03-31 13:01] kierachell commented on #1263
It seems like either user authorization has changed or:
[code]

1. I am able to see `123C` page _only_ if I enable both Certification functions: Certification and Certification v2

1. I am **Unauthorized** to see any new pages using the Certification v2 function

1. If I enable both Certification (v1 and v2) functions - I receive the error logged above for pages other than `123C1

[2017-03-31 14:14] astewarttistatech commented on #1270
Based on @lakohl 's comment about the only pages not having the back button is for when VACOLS is updated, this ticket is being pushed back

<img width="1272" alt="screen shot 2017-03-31 at 9 43 47 am" src="https://cloud.githubusercontent.com/assets/23038505/24554191/b306453a-15fa-11e7-8af9-b9daa809ca31.png">
<img width="1181" alt="screen shot 2017-03-31 at 9 43 16 am" src="https://cloud.githubuse

[2017-03-31 14:18] astewarttistatech commented on #1167
Positioning is off @mmlumba

<img width="1409" alt="screen shot 2017-03-31 at 10 17 15 am" src="https://cloud.githubusercontent.com/assets/23038505/24554374/4d9bc0d4-15fb-11e7-8e12-b62ab3487c93.png">

[2017-03-31 15:33] slj commented on #1206
@shanear did you address this?  While at ARC George mentioned that the workers count was not 0 this morning.

[2017-03-31 15:43] aroltsch opened #1398 "SPIKE | Investigate why form8 is nil in the certifications controller"
Technical details:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/134/

[2017-03-31 16:08] mdbenjam opened #1399 "Make vacols_id part of the route not a get parameter"
Currently the URL for Reader uses a get parameter vacols_id=...

This should be part of the URL instead.

[2017-03-31 16:44] kierachell commented on #1395
**PASSED**
<img width="1013" alt="screen shot 2017-03-31 at 12 44 25 pm" src="https://cloud.githubusercontent.com/assets/18075411/24560209/cb0257e0-160f-11e7-8945-22debe16a8f4.png">

[2017-03-31 16:44] #1395 closed

[2017-03-31 16:59] gnakm opened #1400 "App Canvas | Route Claim | Add a "Copy note" button"
As a user, I want to be able to quickly copy a lot of text and paste it at another application (such as email).

# Acceptance Criteria

- Verify that the button style is [USWDS secondary button](https://standards.usa.gov/components/buttons/) (blue font on white)
- Verify that it says `Copy note` in sentence case
- Verify that it is located 17 px below the text box and aligned to the left
- Verify

[2017-03-31 17:00] gnakm commented on #1390
@mmlumba Could you make this change in our buttons in the style guide?

[2017-03-31 17:02] gnakm commented on #1029
@lakohl the button situation is now in this issue: https://github.com/department-of-veterans-affairs/caseflow/issues/1400

[2017-03-31 17:03] abbyraskin opened #1401 "Header: hide the "S" or "C" in the Veteran ID"
## Context
Currently, the Vet ID contains an S or a C at the end of the ID, which makes it difficult for users to copy and paste the number as needed.

## Description
Hide the S (if 9 digits) or the C (if 8 digits) in the UI anywhere a Vet ID is displayed in the application:
- Work History page
- Success page
- Header

## Dev Notes
- Reuse sanitized_vbms_id method from Certification, see [appeal.r

[2017-03-31 17:34] mmlumba commented on #1390
I actually did this in a recent PR, so I'm moving this ticket to "In Validation"

[2017-03-31 19:51] gnakm opened #1405 "Route Claim | Inactive Text Input"
# Description
The route claim text fields all have black borders, which makes it look like they're editable. I want to put in a saved text field that is inactive in the living style guide and make sure that it is consistent throughout all of our products.

**Environment:**
- [ ] Production
- [x] UAT
- [x] Demo
- [ ] Development

**Type of Bug:**
- [ ] Performance
- [x] Design
- [ ] Security
- [ ]

[2017-03-31 20:21] abbyraskin opened #1406 "Create End Product | Increment modifier if irrelevant pending EP 170 code exists so it doesn't fail"
## Context
Only a certain subset of EP 170 labels are relevant to claim establishment (e.g., 170 Remand). We already validate for these when checking for existing EPs. However, there are additional EP 170 claim labels that may be pending on a case for a different reason, and we should still increment the modifier if these exist so the Create EP call doesn't fail.

## Story
If a veteran has a pendi

[2017-03-31 20:51] gnakm opened #1408 "Styleguide component | Form fields | Text Input Error"
As a developer and designer, I want a clear and consistent way to implement text input errors so our users can clearly know when they missed an important task across our apps.

## Acceptance Criteria
1. Verify that this is found in the living style guide there is a subsection titled `Text Input Error` under `Form Fields`
1. Verify that the description for `Text Input Error` appears underneath the

[2017-03-31 20:59] gnakm opened #1409 "Styleguide component | Form fields | Text Area"
As a developer and designer, I want a clear and consistent way to implement text areas a so our users can accurately input information across our apps.

## Acceptance Criteria
1. Verify that this is found in the living style guide there is a subsection titled `Text Area` under `Form Fields`
1. Verify that the description for `Text Area` appears underneath the title (see copy)
1. Verify that the co

[2017-03-31 21:05] gnakm opened #1411 "Styleguide component | Form fields | Character Limit"
As a developer and designer, I want a clear and consistent way to implement a character limit for form fields to help users input the right information across our apps.

## Acceptance Criteria
1. Verify that this is found in the living style guide there is a subsection titled `Character Limit` under `Form Fields`
1. Verify that the description for `Character Limit appears underneath the title (see

[2017-03-31 21:07] shanear commented on #1281
Changed the message copy

### Old Message Copy
At this time, we are unable to assign or create a new EP for this claim.
A 172-BVA Grant EP previously created for this claim was cancelled within the last day, but has not cleared. Please select Cancel at the bottom of the page to Release this claim from Caseflow.

[2017-03-31 21:12] gnakm opened #1412 "Styleguide | Form fields section overview"
As a developer and content writer, I want to see the order of how the form fields section and subsection will look like in the living style guide

# Acceptance Criteria
1. Verify that there is a title for Form Fields
1. Verify that there is Form Fields in the side nav of the style guide
1. Verify that clicking on Form Fields in the side nav takes you to the section
1. Verify that there are subsect

[2017-03-31 21:14] gnakm commented on #1412
@Chingujo FYI. You can click through each issue to see more. 🐼

[2017-03-31 23:28] kierachell commented on #1264
**PASSED**
validated on `uat`
![documenttypeview](https://cloud.githubusercontent.com/assets/18075411/24572620/2ca7c358-1648-11e7-931e-ae7cdd9e6abf.gif)

[2017-03-31 23:28] #1264 closed

[2017-04-01 00:07] slj commented on #1332
@astewarttistatech is this should be closeable now.

[2017-04-01 01:58] kierachell commented on #1219
Hah, sorry with late reply @mmlumba I should've mentioned that in the ticket (not just the title).
This is IE11.

[2017-04-01 02:00] kierachell commented on #1084
We have **Download Anyway** page in eFolder:
https://dsva-appeals-efolder-dev-972029178.us-gov-west-1.elb.amazonaws.com
search for `DEMO3`
<img width="1116" alt="screen shot 2017-03-31 at 10 00 37 pm" src="https://cloud.githubusercontent.com/assets/18075411/24574249/80ae5952-165d-11e7-9dcd-55d062b0cad2.png">

[2017-04-01 15:16] kierachell commented on #1281
It seems like there's another issue involved here: We are not validating/sending SSN info? Note differing SSNs between VACOLS and VBMS - that is intentional

## Steps:
1. Get a recently cancelled Full Grant like this (VBMS ID 516517673):
<img width="1018" alt="screen shot 2017-04-01 at 11 10 43 am" src="https://cloud.githubusercontent.com/assets/18075411/24579895/6603eada-16cc-11e7-9774-204fc85121

[2017-04-01 15:35] kierachell commented on #1281
# Partial/Remand Not Working Either

## Steps

1. Grab a Partial/Remand ID where a 170 EP was created then cancelled
  - BFKEY 2734975  BFCORLID	516517671S

1. Attempt to route it again

1. See that default Modifier on **Create End Product** page is 170

1. Attempt to Create New End Product

1. Get an _non-informative error message_

1. Retry with modifier 171

1. Succeed

[code]

[2017-04-01 20:33] shanear opened #1416 "NoMethodError: undefined method `complete_establish_claim_path'"
Seems like this is just a missing method of an untested, low use logic path. Need to investigate.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/139/

[2017-04-01 20:46] shanear opened #1417 "Better error message for vets that are missing required information like SSN"
We had an instance occur where the Claims Establishment was blocked because of a vet not having an SSN. We should show a more informative error message for this. Or figure out why a vet would not have an SSN to begin with.

## Acceptance Criteria
- When a user attempts to establish a claim for a veteran with no SSN, a customized error message should show up.

### Error Message Copy:
**Header**: Th

[2017-04-01 20:59] shanear opened #1418 "Mysterious React on Rails javascript errors"
Lots of js errors rolled in today. No clue what the effect, or what's causing them.

They all appear to have happened on the same task. Probably worth looking into whatever is happening with that task.

[code]

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/137/events/2950/

[2017-04-01 21:02] shanear opened #1419 "Certification DoubleRenderError"
Certification has been going for a long time and I've never seen this. Needs investigation.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/136/

[2017-04-01 21:44] shanear commented on #1281
Need to add: Claim not established. BGS code; PIF is already in use.

[2017-04-03 03:54] shanear commented on #1281
added AC:
- Validate that when EPs with modifiers of 170, 171, 175, etc. but with a non-dispatch related EP Code (e.g. "Notice of Disagreement") exist. The EPs are not shown on the "Existing EP" page, but are removed from the options on the "Create EP" page.

[2017-04-03 11:33] kierachell commented on #1419
I think this happens when someone enables both Certification functions (v1 and v2).

[2017-04-03 12:53] Chingujo commented on #1412
Woot @gnakm! well played

[2017-04-03 12:57] kierachell commented on #1390
**PASSED**
<img width="969" alt="screen shot 2017-04-03 at 8 57 29 am" src="https://cloud.githubusercontent.com/assets/18075411/24610178/96615732-184b-11e7-83fe-ff444b96bf8f.png">

[2017-04-03 12:57] #1390 closed

[2017-04-03 13:02] kierachell commented on #1008
**PASSED**
Looking spiffy!
<img width="826" alt="screen shot 2017-04-03 at 9 02 09 am" src="https://cloud.githubusercontent.com/assets/18075411/24610349/3c034ad8-184c-11e7-8b97-7169fb5f539b.png">

[2017-04-03 13:02] #1008 closed

[2017-04-03 13:42] gnakm commented on #1282
@mdbenjam I think the cursor should be an icon one when it is in a state of adding a note. When it is not in adding state, it should just be the regular, default cursor.

[2017-04-03 13:45] gnakm commented on #1325
@mdbenjam 3 px !

[2017-04-03 14:14] abbyraskin opened #1421 "Decision Review | Decision Type: Distinguish New and Material allowances"
**Context**

Sometimes BVA grants a claim to reopen an issue due to new and material evidence -- in this scenario, Caseflow recognizes the new and material allowance as a grant, even if there's no monetary grant associated and thus no EP to create.

For example, if a claimant is has 1 issue remanded and 1 issue granted for new and material evidence, Caseflow thinks this is a partial grant, even th

[2017-04-03 14:15] abbyraskin commented on #1421
@cmgiven can you elaborate on how to detect new and material issues?

[2017-04-03 14:27] shanear commented on #1206
@slj Not that I know of. Might want to continue looking into it

[2017-04-03 14:28] shanear commented on #1281
the AC above is a dup of
https://github.com/department-of-veterans-affairs/caseflow/issues/1406#event-1024717482

[2017-04-03 14:38] ariperez-gov commented on #769
@nikitarockz , we are blocked on this only with ATO and Implementation plan.  Should discuss, I created a bare bones implementation file.

https://github.com/department-of-veterans-affairs/appeals-pm/blob/master/caseflow/Implementation%20Plans/VVA_eFolder_Integration.md

FYI: @nicholasholtz

[2017-04-03 14:51] astewarttistatech commented on #1167
**PASSED**

Validated in: UAT
Browsers Validated in: FF and Chrome

Steps to Validate:
1. Go to Dispatch as a manager and view the ARC Work Queue
2. Validate that the view matches the mocks

Screenshots:
<img width="1288" alt="screen shot 2017-04-03 at 10 50 00 am" src="https://cloud.githubusercontent.com/assets/23038505/24615158/8765ea4e-185b-11e7-9304-6dc683ec1213.png">

[2017-04-03 14:56] ariperez-gov opened #1422 "Enabling/Disabling Linting Rules"
There are often situations where the best option may be disabling a linting rule.  What is the process prior to enabling or disabling a rule?

Example:
ESLint - Pluggable JavaScript linter

http://eslint.org/docs/rules/no-prototype-builtins

[2017-04-03 15:16] Chingujo opened #1423 "Styleguide | Searches"
As a developer and designer, I want to a easy and consistent way to incorporate search bars so users can find and get to important information in an accessible way across our apps.

## Acceptance Criteria
1. Verify that this is found in the living style guide there is a section called `Searches`
1. Verify that the description for `Searches` appears underneath the title (see copy)
1. Verify that th

[2017-04-03 15:20] gnakm commented on #1350
Note for myself -- Gina to add new one for Reader!

[2017-04-03 15:22] gnakm commented on #1079
@Chingujo to add description

[2017-04-03 15:24] shanear commented on #1352
- create prod squad playbook @shanear
## When a new issue comes up in Sentry
1) Create a github issue or match the sentry error to an existing issue
2) Add the link to sentry in the issue
3) Add the link to the issue in sentry
4) resolve the issue in sentry
5) move the issue to current sprint and assign to tech lead of that swim lane. (and ping them on slack in #appeals-engineering)

Add urls and

[2017-04-03 15:26] gnakm commented on #1083
I am going to close this because required fields are being addressed granularly in form fields. Related to #1412

[2017-04-03 15:26] #1083 closed

[2017-04-03 15:26] amprokop opened #1424 "Add momentjs and make dates human-readable!"
Currently, certification v2 dates are not the prettiest!

![image](https://cloud.githubusercontent.com/assets/3781835/24616698/e44a2956-185f-11e7-9e77-2f77d0a13818.png)

We should use [momentjs](https://momentjs.com/) to make all dates human readable.

How to add momentjs:

[code]

Then `import moment from 'moment'` when you want to use it.

Make sure to commit the package.json and the shrinkwrap.

[2017-04-03 15:28] abbyraskin commented on #1206
@shanear @slj FYI it is still resetting to 0 after all -- just asked George.

[2017-04-03 15:30] shanear commented on #1338
- Redux is officially the direction we are moving in for all React features that need state.
- Over communicate about potential Redux patterns on #appeals-engineering.

[2017-04-03 15:31] gnakm opened #1425 "Styleguide | Table: Expandable/ Collapsable Tables"
As a developer and content writer, I want to see what an expandable table will look like in the living style guide

## Acceptance Criteria

- [x] Verify that there is a title for Expandable table
- [x] Verify that there is Expandable table in the side nav of the style guide, under Table
- [x] Verify that the copy below is under the title and above the UI component
- [ ] Verify that there is a text

[2017-04-03 15:33] amprokop opened #1426 "Ensure all dummy data cases render correctly in certification v2"
We removed a return here: `render "v2", layout: "application" if verify_certification_v2_access` and it breaks the app when Certification V2 is enabled and we navigate to an appeal that's not ready to certify. Ensure that all those cases render correctly.

All the below cases should render correctly when Certification V2 is enabled, and they should match their Certification V1 counterparts where a

[2017-04-03 15:38] amprokop commented on #1315
These two issues are both components of this issue:

https://github.com/department-of-veterans-affairs/caseflow/issues/1426
https://github.com/department-of-veterans-affairs/caseflow/issues/1424

[2017-04-03 15:39] amprokop commented on #1263
thanks @kierachell — @nemodjuric this is a bug related to the removal of a return from the certification controller. let's fix it when we can.

[2017-04-03 15:40] aroltsch opened #1427 "Log aggregation: each instance must write to its own log stream"

[2017-04-03 15:40] amprokop commented on #1314
Complete. We made a custom mapping function and we'll manually map React to Rails keys.

[2017-04-03 15:40] amprokop commented on #1314
No validation necessary.

[2017-04-03 15:40] amprokop commented on #1109
talked with shane about this. will add notes.

[2017-04-03 16:02] Chingujo commented on #1423
@gnakm

We didn't have a copy for search bars so just made one for review =D. I also believe we add a spinning icon to our searches.

[2017-04-03 16:04] slj commented on #1206
Got it.

[2017-04-03 16:08] #1338 closed

[2017-04-03 16:13] shanear commented on #1406
closing because the AC is captured in #1281

[2017-04-03 16:13] #1406 closed

[2017-04-03 16:15] shanear commented on #1417
Asking @nicholasholtz to look this person up and see why they may not have an SSN

[2017-04-03 16:46] gnakm commented on #1287
@mdbenjam I updated the above with link to SVG!

[2017-04-03 17:12] mmlumba opened #1429 "Savon::SOAPFault"
(S:Server) Sensitive File - Access Violation ! Access level of 6 required to access record

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/140/

[2017-04-03 17:12] shanear commented on #1422
I say bring it up in appeals-engineering and get the thumbs up from ppl

[2017-04-03 17:14] shanear commented on #1422
Also, that lint rule seems fine. There is a work around. Why do you want to remove it?

[2017-04-03 17:24] ToddStumpf commented on #1352
Anything we can automate, the happier we will be -- having process that isn't automated, when it's around incidents should be examined for diminishing returns -- is it better to be handling the process? or fixing the incident?

So, it's good to have the playbooks available in some always-available-place -- PD itself uses S3.  That may be something we want to consider.  The playbooks will undoubted

[2017-04-03 17:25] nikitarockz opened #1430 "Navigation | Help | Create Dispatch help page"
As a Caseworker or BVA Manager, I would like to see FAQ help for Dispatch so that when I don't understand and/or need more information I can look it up.

# Acceptance Criteria
1. Verify that a new Dispatch Help page has been created with the following sections and their sub-copy (refer to mockup):

     Section |Header|Sub-copy
     ---|---|---
     Introduction|Welcome to Dispatch Help Page!|Here

[2017-04-03 17:37] abbyraskin opened #1431 "Documents List | "View All Comments" tab"
As a user, I want to be able to see all annotations on documents in a quick and easy way, without having to go through each document.

## Acceptance Criteria

- [ ] Verify that the table header is fixed
- [ ] Verify that table header is same as the one in All document list view: **Categories**, **Receipt** **Date**, **Document Type**, **Issue Tags**, **Comments**
- [ ] Verify that user can filter

[2017-04-03 17:38] abbyraskin opened #1432 "Documents List | Categories: filter by one or more category"
**Story**
When looking at the Documents List, I want to sort by document category so I can limit the view to the category/categories relevant to me.

## Dependent Story
#1478 Category filter component

## Acceptance Criteria
- Verify that no categories are selected by default when a user logs in, and the filter icon is set to the unselected state
-  Verify that the selected filter(s) persists if a

[2017-04-03 17:47] abbyraskin opened #1433 "Document Viewer | Delete comment confirmation"
**Story**
When clicking "delete" on a document, I want to receive a confirmation message, so I don't delete a comment by accident.

## Acceptance Criteria
- Clicking the "Delete" link on a given comment should launch a cancelation modal
- Clicking the `Confirm delete` button on the modal should close the modal and remove the comment
- Clicking the `Cancel` button on the modal undos the action -- c

[2017-04-03 17:48] abbyraskin commented on #1433
@gnakm this needs some mock love when you have a chance

[2017-04-03 17:49] abbyraskin commented on #1433
Also, does clicking outside the modal (the grayed area) cancel the action as well?

[2017-04-03 18:30] ariperez-gov commented on #1422
Bringing it up in #appeals-engineering can just be the process for now.

It was just really ugly code and @amprokop also recommended turning it off.  As of today it's less relevant as we are writing the code in a different manner.

[2017-04-03 18:30] #1422 closed

[2017-04-03 18:33] Chingujo commented on #1430
@nikitarockz

**Dispatch Help Page FAQ Only**
![dispatch help page](https://cloud.githubusercontent.com/assets/23316107/24624549/3cffdc2a-187a-11e7-80b4-7322523b4f6c.png)

**Dispatch Help Page**
(left e-Folder express videos but would be replaced by dispatch ones)
![dispatch faq](https://cloud.githubusercontent.com/assets/23316107/24624567/48dceb3c-187a-11e7-8356-00c7144a30ed.png)

[2017-04-03 18:37] joofsh commented on #1422
@ariperez for what it's worth, we've been slowly disabling/enabling rules we dislike as they come up.  They are very much fluid at the moment. Posting them in #appeals-engineering is the best way to get feedback

[2017-04-03 18:58] kierachell commented on #1263
**PASSED**
even works on `uat`!!!
<img width="1043" alt="screen shot 2017-04-03 at 2 55 07 pm" src="https://cloud.githubusercontent.com/assets/18075411/24625712/dd692d08-187d-11e7-8c49-6bd0d37155ff.png">
![Uploading Screen Shot 2017-04-03 at 2.57.46 PM.png…]()

[2017-04-03 18:58] #1263 closed

[2017-04-03 19:41] nikitarockz opened #1435 "Navigation Bar | User Menu | Help link goes to Certification Help page"
# Description
When the user clicks on the Help link in the User Menu, they are taken to the Certification Help page.  This is not helpful.  They should be taken to the Dispatch Help page.

**Validated in the following Environment(s):**
- [ ] Production
- [ ] UAT
- [x] Demo
- [ ] Development

## Reproductive Steps
1. Log into Dispatch.
2. In the User Menu, click on the link "Help".  The Certificati

[2017-04-03 20:29] abbyraskin commented on #1324
@mdbenjam here's the story we mentioned -- awesome if you can pull it in to this sprint (or if it logically makes sense to work on next?), but I'll leave it in ready for dev for now

[2017-04-03 21:06] abbyraskin opened #1437 "Document Viewer | Issue tags: associate an existing issue tag to doc via searchable dropdown"
**Story**
When looking at a document, I want to search for or select an existing issue tag so I can easily organize lengthy files.

## Acceptance Criteria

**Selecting an existing issue**
- Validate that when a user types in any existing letter, the options below narrow down to existing issues
- Validate that the options in the dropdown are tags created in any of the documents in the case.
- Valid

[2017-04-03 21:09] abbyraskin opened #1438 "Documents List | Issue tags: filter Documents List view by issue tag(s)"
**Story**
When looking at the Documents List, I want to filter by issue tag(s) so I can only see documents relevant to the issue I'm working on.

## Dependent Story
**_Note: For more details and specs about dropdown, check issue on issue filter dropdown_** #1477

## Acceptance Criteria
**Filter Icon and dropdown**
- Validate that when the filter icon is clicked, the filter icon next to the word Is

[2017-04-04 00:29] amprokop opened #1440 "Consolidate all the documents check components under one component and one route"
We currently have separate routes for already certified, documents check, not ready for certification, etc. These should be consolidated under one `certifications/VACOLS_ID/documents_check` route. We want to allow the user to enter certification, have the documents check fail, go off and modify other documents in VACOLS or VBMS, then reload the page and see the documents check succeed.

# Acceptan

[2017-04-04 01:05] amprokop opened #1441 "Extract Footer into a component that appears only once"
The Footer component is currently duplicated across all the Certification pages. We can pretty easily extract it so it's used only once.

Let's extract it and have it appear only in Certification.jsx, connect it to Redux, and have it determine the `nextPageUrl` from the redux store's `currentSection` property instead of having it passed in explicitly.

Ask Alex for more guidance if needed.

Accept

[2017-04-04 01:15] amprokop opened #1442 "Create PropTypes for all Components"
We're sadly missing PropTypes so far. It's a widely accepted best practice. Let's go through and add PropTypes for all the tickets.

[2017-04-04 01:50] amprokop opened #1444 "Figure out how to allow reloads in certification v2"
Currently, Certification V2 breaks if you reload the page. This is because it's a SPA that modifies the URL bar, but doesn't serve the application on all of those URLS. Make the Rails app serve Certification V2 on all of the routes, and ensure that users can navigate around and reload.

# Acceptance Criteria
The user should be able to successfully view a veteran's check documents page in Certifica

[2017-04-04 02:43] #1303 closed

[2017-04-04 03:36] amprokop opened #1447 "Investigate "Application uninitialized" warning message"
This appears when we start up certification. Would be good to look into it and fix it if necessary.

[2017-04-03 23:33:33 -0400] Application uninitialized: Try calling YourApp::Application.initialize!

Acceptance Criteria: When starting the local Caseflow dev environment, `[2017-04-03 23:33:33 -0400] Application uninitialized: Try calling YourApp::Application.initialize!` does not appear **or** th

[2017-04-04 12:24] aroltsch opened #1448 "Add `zero_downtime_migrations` gem"
https://github.com/LendingHome/zero_downtime_migrations

[2017-04-04 12:42] shanear opened #1449 "Investigate PhantomJS alternatives"
Findings after a little bit of research

## PhantomJS / Poltergeist / Sniffybara
- Already set up in Travis, and has automated 508 testing.
- Driving us crazy with the crashes

## Capybara-webdriver
- Not a full browser
- Could have similar issues. It uses an old version of QT, to run just the webdriver.
- Difficult to set up. Have to intstall QT, then build the gem, which fails on build. Still ne

[2017-04-04 12:59] astewarttistatech commented on #1325
**PASSED**

Validated In: UAT
Browsers Checked: FF and Chrome

Steps to Validate:
1. Go to reader for an appropriate veteran
2. Select one of the documents with comments (without, you have to add them).
3. Select one of the multiple comments and compared the one selected to one that is not
4. Verify that the view matches AC.

Screenshots:
<img width="1389" alt="screen shot 2017-04-04 at 8 55 52 am

[2017-04-04 13:00] #1325 closed

[2017-04-04 13:09] astewarttistatech commented on #1336
Mocks are wrong @slj @gnakm

Current view:
![buttons](https://cloud.githubusercontent.com/assets/23038505/24657993/59b8081e-1916-11e7-99ec-0a2f21974131.png)

[2017-04-04 13:15] astewarttistatech commented on #1238
**PASSED**

Validated In: UAT
Browsers: FF and Chrome

Steps to Validate:
1. In Dispatch as a caseworker, cancel an EP during its creation.
2. On the cancelation page, select "Establish Next Claim"
3. Validate that Caseflow directs you to the Review Decision page for the next veteran in the queue

Screenshots:
<img width="1075" alt="screen shot 2017-04-04 at 9 13 28 am" src="https://cloud.githubus

[2017-04-04 13:16] #1238 closed

[2017-04-04 13:31] gnakm commented on #1325
@mdbenjam another thing to add is that it looks like there is an active comment box in a comment box. An active comment box should be the same width as a saved comment.

[2017-04-04 14:02] cmgiven commented on #1421
The vast majority of these are to establish service connection for a compensation claim. As such, we should disregard the disposition of any issue where:

[code]

There are a handful of cases where "new and material" is only established in comments on the issue. For example, if the issue is new and material evidence relating to the character of discharge or the cause of death on a DIC claim. The a

[2017-04-04 14:17] Chingujo commented on #1079
@gnakm

Description added above for review =D.

[2017-04-04 14:32] #1115 closed

[2017-04-04 14:38] gnakm opened #1450 "Document Viewer | Page number reference for saved comment box"
As a user, I want to know which page I annotated my comments from that way other attorneys, judges and I can jump back to those pages for reference.

## Acceptance criteria
- Verify that the word `Page` and `#` is located at the top left of every comment box after a comment has been saved
- Page # should be in `gray-dark`
- Verify that the page number matches the page where the yellow comment box

[2017-04-04 14:38] #1314 closed

[2017-04-04 14:39] #1109 closed

[2017-04-04 15:07] joofsh commented on #1212
QA note:
- Easiest way to validate these is to go into UAT prometheus and query for each metric
- You can find a list of the metrics here: https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/services/prometheus_service.rb#L7-L103

[2017-04-04 15:42] amprokop opened #1451 "V2: "other representative type" is wiped on page navigation"
After filling our "other representative type", then clicking "Continue", then going back, it's wiped out.

![bug](https://cloud.githubusercontent.com/assets/3781835/24665517/9f889bd2-192b-11e7-9ab9-655509ac6447.gif)

# Acceptance Criteria

- The value in the "Specify other representative type" text field remains out if the user fills it out, then clicks "Continue", then navigates back in the brows

[2017-04-04 17:22] lakohl commented on #1144
If we are going to go this direction, I don't think we should be so shy about it.

[2017-04-04 17:49] gnakm commented on #1336
@slj Could we have it so that none of the radio buttons are selected and once one of the buttons are clicked, the required field disappears? The change that has to happen in the living style guide is to take out the red focus outline around the two choices.

Should look like this:
![image](https://cloud.githubusercontent.com/assets/13420618/24670697/1105c80a-193d-11e7-8387-924c080419c6.png)

Not t

[2017-04-04 18:02] lakohl commented on #1405
@gnakm I do like the clean look of the second (Hex #D6D7D9), but the USWD standards use the first pattern for filling in boxes (they don't have a pattern for pre-filled text fields). Let's discuss.

Also, when I look at the decenders, it feels like our labels are tiny bit too close to the top of the field?

[2017-04-04 18:15] lakohl commented on #1084
Thanks for adding that last one @kierachell

[2017-04-04 18:27] slj commented on #1336
The radio buttons are highlighted because the field is in a post-submission invalid state.  Normally, a required field has just *Required* in red to the right (no text in red underneath the label).  But if the user failed to respond, the radios are highlighted and an error message (The field is required) is shown.  Once you click a button the error state goes away.

[2017-04-04 18:28] gnakm commented on #1433
@abbyraskin I answered your questions in AC above.

[2017-04-04 18:58] gnakm commented on #1405
@lakohl Let's leave it as it is for now. This is super not urgent. I do agree that labels are too close to the text fields. I think they should be 8px distance from fields. Adding it to [style guide form fields](https://github.com/department-of-veterans-affairs/caseflow/issues/1412).

![image](https://cloud.githubusercontent.com/assets/13420618/24673611/e9b0bb52-1946-11e7-9058-01e41382f898.png)

[2017-04-04 19:11] shanear commented on #1281
"RFD" claims also cause the issue. Adding that

[2017-04-04 19:15] abbyraskin commented on #1259
@gnakm moving this back to Triage for now until we have category placement nailed down

[2017-04-04 19:17] gnakm commented on #1336
@slj I get that. I think that the invalid state should still not have the circles highlighted because with radio buttons, users have to choose 1 option and by having both circles highlighted, it looks like both are required.

[2017-04-04 19:53] kierachell commented on #1111
**PASSED**
got one from VBMS in `uat`
<img width="1002" alt="screen shot 2017-04-04 at 3 52 08 pm" src="https://cloud.githubusercontent.com/assets/18075411/24675895/cf458998-194e-11e7-8205-a42dfbaa4ae8.png">

[2017-04-04 19:53] #1111 closed

[2017-04-04 21:25] joofsh commented on #1449
why do you think it would be so hard to get sniffybara working with Selenium/Chrome? We waste much more than 8% of our time waiting on test failures. I'd personally prefer to get phantomJS entirely out of our stack.

But if it's truly easier to setup that chrome fallback, we can certainly try it first

[2017-04-04 21:50] kierachell commented on #1281
RFD = Ready For Decision
RW = Ready to Work

[2017-04-04 22:43] gnakm commented on #1259
@abbyraskin please review changes!

[2017-04-04 22:51] slj commented on #712
Per my discussion with @lakohl the assign claim button will be faded in a way that bring attention back to the button in its loading state, as the attached demo shows.  Simple fix.  Mini demo:
[AssignClaimDemo.zip](https://github.com/department-of-veterans-affairs/caseflow/files/894736/AssignClaimDemo.zip)

[2017-04-04 23:00] gnakm commented on #1437
@abbyraskin Please check the story and see if it needs love!

[2017-04-04 23:09] gnakm commented on #1274
@abbyraskin Please audit + add love !

[2017-04-04 23:35] kierachell commented on #1230
**PASSED**
YAS!!!!!
![sljfromdowntown](https://cloud.githubusercontent.com/assets/18075411/24683564/d84a8e20-196d-11e7-9750-f03c4ab70620.gif)

[2017-04-04 23:35] #1230 closed

[2017-04-04 23:58] kierachell commented on #835
**PASSED**
looking spiffy in `uat`!
<img width="1053" alt="screen shot 2017-04-04 at 7 57 53 pm" src="https://cloud.githubusercontent.com/assets/18075411/24684025/18276722-1971-11e7-9b49-5f1fbec57fb5.png">
<img width="1012" alt="screen shot 2017-04-04 at 7 58 00 pm" src="https://cloud.githubusercontent.com/assets/18075411/24684024/1826f882-1971-11e7-96af-4c5c68506f7c.png">
<img width="1039" alt="s

[2017-04-04 23:58] #835 closed

[2017-04-05 00:13] amprokop commented on #1449
Another point. How well does Sniffybara work with SPAs? I can't remember it ever failing to be honest.

[2017-04-05 00:15] amprokop commented on #1449
Bumping the retries to 10 probably shaves off *some* of the problem but doesn't seem like a fix to me. I've observed failures even with 10 retries. It seems like phantom can get in a state where it just crashes over and over. No idea what's up with that.

[2017-04-05 00:59] shanear commented on #1449
@amprokop Yeah, they def work with react, and they are pretty important for our ability to deploy daily.

They caught a bunch of stuff with Reader (https://github.com/department-of-veterans-affairs/caseflow/pull/1379/files#r108937012)

@joofsh maybe it's not as bad as I think :/. The current implementation is pretty coupled to Poltergeist, and I don't really know how the Selenium capybara driver r

[2017-04-05 01:01] shanear commented on #1449
@amprokop yeah that's so weird, sounds like retry 10 isn't really a good stop gap.

Will try and get the Chrome fallback solution within the week, and then we can look into going all Chrome (with sniffy converted over to Chrome)

[2017-04-05 12:45] kierachell commented on #1429
Can't exactly set sensitivity level on UAT yet :|

[2017-04-05 12:45] #1429 closed

[2017-04-05 12:49] kierachell commented on #1106
**PASSED**
however, data is not being pulled from anywhere and _Required_ fields are not preventing me from moving forward.
<img width="1058" alt="screen shot 2017-04-05 at 8 49 15 am" src="https://cloud.githubusercontent.com/assets/18075411/24706157/c44bc726-19dc-11e7-893a-af2d681f64c2.png">

[2017-04-05 12:49] #1106 closed

[2017-04-05 13:52] astewarttistatech commented on #1112
So... Nothing matches. @amprokop I'm moving this back into "In Progress" for you.

Current View:
<img width="1040" alt="screen shot 2017-04-05 at 9 49 24 am" src="https://cloud.githubusercontent.com/assets/23038505/24708581/45d17194-19e5-11e7-85d3-fccc4a4819b3.png">

[2017-04-05 14:14] abbyraskin commented on #1437
@gnakm added a couple little notes...for the bullet that says "Validate that if there are more than 4 options" should the end of that phrase be  "the dropdown is scrollable"?

Also, if you delete a selected issue by clicking the x, the issue is removed from the selected issues list, but is not removed from the dropdown of options, correct? That would be my expectation, but now I'm wondering if we

[2017-04-05 14:25] abbyraskin commented on #1421
Thanks @cmgiven. Updating AC.

[2017-04-05 14:31] abbyraskin commented on #1421
One more question for the sake of prioritization...Do you know how often this occurs @cmgiven? Nicholas estimated 5-10%.

[2017-04-05 14:40] abbyraskin commented on #1437
Summarizing what we discussed in person -- we won't have the ability to remove saved issues from the dropdown itself in v1 -- doesn't seem very risky given that issues don't persist across cases, and that we'll eventually populate these automatically from VACOLS. (And we'll make sure this is noted in their pilot training)

[2017-04-05 14:46] sthenning commented on #1360
@Sjones352 @department-of-veterans-affairs/dsva-appeals-caseflow

Is this the issue with Dispatch where users are receiving errors when they try to access the record?  If so users have been able to use VBMS to access the record which would indicate they DO have a sufficient sensitivity level.  Need to validate user sensitivity level against record level to validate where the issue lies.

[2017-04-05 14:50] astewarttistatech commented on #1219
**PASSED**

Validated in: UAT
Browsers tested: Chrome and FF

Steps to Validate:
1. Go to Dispatch as a caseworker, establishing a claim
2. Hover over the Cancel button on the Review Decision page
3. Notice that only the color of the text darkens
4. Select the Cancel button
5. On the Stop Processing Claim modal, hover then select the Close button
6. Notice that the text of the button only got dark

[2017-04-05 14:51] cmgiven commented on #1421
Nicholas FTW! 5.7% of FG/PG/remand cases. 13.8% if I look only at what would otherwise be marked as full grants or partial grants.

[code]

[2017-04-05 14:51] tejans24 commented on #1081
<img width="765" alt="screen shot 2017-04-05 at 10 48 22 am" src="https://cloud.githubusercontent.com/assets/1976755/24711397/d6d024bc-19ed-11e7-9769-18f0dd68c0db.png">

[2017-04-05 14:52] #1219 closed

[2017-04-05 14:55] Chingujo commented on #1081
@gnakm

What exists now. The use case here is when a user has already selected an issue and instead of searching they use the dropdown to scroll through the options.

In the above case there needs to be contrast between the selected and the search as the user moves down the options.

[2017-04-05 14:57] abbyraskin commented on #1349
@shanear can I close this?

[2017-04-05 15:32] gnakm commented on #1081
@Chingujo

I liked the Max width suggestion. As for hover vs. selected, I think having two colors isn't ideal.
What about keeping the already selected in bold and hover always in #5B616B

ex. https://semantic-ui.com/modules/dropdown.html > Search Dropdown

[2017-04-05 15:56] Chingujo commented on #1081
nice @gnakm

Selected:

<img width="500" alt="screen shot 2017-04-05 at 11 48 16 am" src="https://cloud.githubusercontent.com/assets/23316107/24714442/86b5c85c-19f6-11e7-8f97-8c75d10eccb8.png">

When scroll over selected:

<img width="510" alt="screen shot 2017-04-05 at 11 51 55 am" src="https://cloud.githubusercontent.com/assets/23316107/24714595/f14eebe4-19f6-11e7-84a9-e7db1bdd58c5.png">

[2017-04-05 16:35] gnakm commented on #1268
@mdbenjam max width is 625px.
This issue is related to: https://github.com/department-of-veterans-affairs/appeals-design-research/issues/158

[2017-04-05 17:03] gnakm commented on #1081
Dropping our slack conversation here:
Looks like we may have been communicating through a previous version we had.
What should happen is an option is selected when it is clicked. Once it is clicked, the option should show below the dropdown.

With that said, there is no need to show what was previously selected because it will show up as an option in a button style. For reader, we are giving users

[2017-04-05 17:13] mmlumba opened #1460 "$ is undefined"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/132/

Occurs in IE 11

`/certifications/new/2744290`

[2017-04-05 17:20] mmlumba opened #1461 "Address line and zip code not meeting length requirements"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/142/
`>PersonalInfo Address AddressLine1</fieldName><errorType xmlns="http://vbms.vba.va.gov/external/ClaimService/v4">MINIMUM_LENGTH_NOT_SATISFIED</errorType>`
`PersonalInfo Address ForeignMailCode (PostalCode)</fieldName><errorType xmlns="http://vbms.vba.va.gov/external/ClaimService/v4">MINIMUM_LENGTH_NOT_SATIS

[2017-04-05 18:05] mmlumba commented on #1378
Sentry related issue: #1461

[2017-04-05 18:33] mmlumba commented on #1418
@shanear Could it be possible that this claim has no decision documents? The error reminds me of something I'd see often when React tabs fail to render. In Dispatch when a decision only has one document, `page[0]` renders the first (and only) document available.

[2017-04-05 18:38] #769 closed

[2017-04-05 18:52] astewarttistatech commented on #1336
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

1. Go to styleguide and verify the Checkbox section against the mocks and it's copy

Screenshots:
![styleguide](https://cloud.githubusercontent.com/assets/23038505/24721796/6e6efe12-1a0f-11e7-8470-d7a1796079d4.png)

[2017-04-05 18:52] #1336 closed

[2017-04-05 22:55] kierachell commented on #1212
I checked all the methods in `uat` but I reckon this needs to be more properly validated in `prod` by appropriate parties - reassigned to @askldjd and @shanear

[2017-04-06 13:09] slj commented on #1416
Hey @shanear @mmlumba and I were looking at this yesterday - seems to me the simple fix is change the `verify_not_complete` method of `task_controller.rb` from:
[code]

to:
[code]

And this is probably a temp solution anyway since you're refactoring Dispatch/EstablishClaim, right?

I appreciate your thoughts.

[2017-04-06 13:49] mmlumba opened #1466 "ActiveRecord::StaleObjectError on assignment race condition"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/143/
app/models/task.rb in assign_user at line 129
ActiveRecord::StaleObjectError: Attempted to update a stale object: EstablishClaim

[2017-04-06 14:59] abbyraskin opened #1467 "Help | Create Reader Help Page"
**Story**
When I don't understand something or need more information, I want to access a Help page so I can quickly find answers to my questions.

**Description**
Create a Help page, accessed via the Help link in the header menu, that follows the same structure as Help pages for other Caseflow applications. Initially this page will contain FAQ content (training videos TBD in future stories)

## Ac

[2017-04-06 15:40] abbyraskin opened #1469 "Search | Ability to search by issue tag"
**Story**
When drafting a decision on a case, I want to search by issue tag, so I can filter my list of documents by issue.

**Description**https://github.com/department-of-veterans-affairs/caseflow/issues/1469
- Expands scope of existing search functionality/behavior to include issue tags created by user

## Acceptance Criteria
- Validate that user's issue tags (created per case) are included as

[2017-04-06 15:40] abbyraskin opened #1470 "Search | Search by category label"
**Story**
When drafting a decision on a case, I want to search by category label, so I can filter my list of documents by category.

**Description**
- Expands scope of existing search functionality/behavior to include category labels

## Acceptance Criteria
- Validate that the three category labels ("Procedural", "Medical", and "Other Evidence") are included as valid search criteria -- searching f

[2017-04-06 16:03] abbyraskin opened #1471 "Documents List | Top menu: fixed on page"
**Description**
When scrolling on the Documents List page, I want the column headers to stay fixed on the page, so I don't lose important context about what I'm viewing.

## Acceptance Criteria
- Validate that the header row and everything in it (**Category,** **Receipt Date,** **Document Type**, **Issues**, and **Comments** and filter icons) is visible at all times
- Validate that Search, # of do

[2017-04-06 17:01] amprokop commented on #1112
@astewarttistatech — your screenshot is of the "Confirm Case Details" page. The page that this ticket involves is the "Confirm Hearing" page. There was an error at the beginning of this ticket description (it said "Confirm Claim Details") which I have fixed.

Please take a look at https://github.com/department-of-veterans-affairs/appeals-design-research/issues/25, which describes the overall flow.

[2017-04-06 17:22] abbyraskin commented on #1471
@gnakm assigning to you for final review in case the table headers change. and does it make sense to you to keep the tabs fixed as well?

[2017-04-06 17:38] #1288 closed

[2017-04-06 17:59] #712 closed

[2017-04-06 17:59] kierachell commented on #712
**PASSED**

[2017-04-06 18:07] abbyraskin commented on #1032
Action | Context
--- | ----
 EP created for ARC - 397 | user created EP for ARC, no special issues |
EP created for RO [station] | user created an EP for an RO, tier 1 or 2 special issue |
Emailed - [special issue name] Special Issue | full grant, tier 3 special issue |
Canceled | user canceled out of processing |
Released to Work Queue | user held claim too long |
Assigned Existing EP | user assi

[2017-04-06 18:15] kierachell opened #1472 "Create End Product | New EP created even when we lose connection with VACOLS"
## Reproduction Steps

- Start **Establishing next claim** for Remand like (078941654S)
- Don't select any SIC
- Get to **Create End Product** page
- Click **Create new end product**
- Get generic Error
- Double check in VBMS that EP was created
- Check in VACOLS that location was not changed because VACOLS connection timed out
https://10.236.66.247/sentry/caseflow-uat/issues/169/

- Get sad becau

[2017-04-06 18:38] astewarttistatech commented on #1112
@shellicious @amprokop Since this ticket is "stale" can the AC be freshened up with new mocks and scenarios? That'd be great.

The current view has a scenario is not accounted for.
<img width="1266" alt="screen shot 2017-04-06 at 2 36 16 pm" src="https://cloud.githubusercontent.com/assets/23038505/24770089/b36542f2-1ad6-11e7-8532-a7cdc3742f4e.png">

[2017-04-06 19:25] abbyraskin commented on #1432
@gnakm would you mind making this AC a little clearer once the interactions are fleshed out (particularly the last bullet and anything I missed)

[2017-04-06 20:11] gnakm commented on #1471
@abbyraskin Yup! I updated the mock so that it is accurate.

[2017-04-06 20:15] slj opened #1476 "Route Claim | Create End Product : Back link should be "Back to Review Decision""
Per direction from @lakohl, in order to stay consistent with the Progress Bar:

<img width="448" alt="screen shot 2017-04-06 at 5 26 52 pm" src="https://cloud.githubusercontent.com/assets/1053255/24776356/630fd9b2-1aee-11e7-99f2-cb4323355142.png">

The back link should be changed from:

<img width="456" alt="screen shot 2017-04-06 at 5 24 31 pm" src="https://cloud.githubusercontent.com/assets/1053

[2017-04-06 20:36] gnakm opened #1477 "Documents List | Issue tags: filter dropdown component"
When filtering documents by issue tags, I want to see a dropdown that shows all of the issues and choices for filtering, and what it is currently filtered by.

## Acceptance Criteria
- Validate that the dropdown contains all of the issue types user has entered (see #1437)
- Validate that when an issue is selected (either by clicking the name or specifically the checkbox), the dropdown shows it bei

[2017-04-06 21:12] #1349 closed

[2017-04-06 21:21] gnakm opened #1478 "Documents List | Categories: dropdown filter component"
**Story**
When filtering documents by categories, I want to see a dropdown that shows all the category options, and what it is currently filtered by.

## Acceptance Criteria

- Validate that the dropdown contains **Clear category filter**, **Procedural**, **Medical** and **Other evidence**
  - [Procedural SVG](https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Pr

[2017-04-06 21:51] gnakm commented on #1432
@abbyraskin

RE: `- Verify that the colored category icon displays next to each document row after selecting a filter, and that any additional categories associated with the document that were NOT selected in the filter are displayed in an [outline state??]`

I think if there are additional categories associated with the doc that were not selected, we should just show as it is (see mocks above). I

[2017-04-06 22:00] abbyraskin commented on #1432
okay, awesome, that makes sense to me (and I like that it avoids adding an unnecessary additional state!). I'll edit the AC.

[2017-04-07 01:47] shanear commented on #1349
The QA's are prepared. All Reader tickets should go through "In Validation" now.

[2017-04-07 01:47] shanear commented on #1212
Can we set up the Graphana charts? That seems like the best way to validate.

[2017-04-07 11:06] astewarttistatech commented on #1206
**PASSED**

Validated in: UAT
Browsers:Chrome and FF

Steps to Validate:
1. Go to dispatch as a manager and set the number of employees to a value greater than 0
2. Return the next day (24+ hours) to see if the number set on the following day is the same

Value set yesterday: 2
Screenshots:
<img width="1217" alt="screen shot 2017-04-07 at 7 01 22 am" src="https://cloud.githubusercontent.com/assets

[2017-04-07 11:06] #1206 closed

[2017-04-07 12:21] astewarttistatech commented on #1169
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
Scenario 1
1. Go to Dispatch as a caseworker and select establish a claim with a full grant.
2. On the Review Decision page, select "Home Loan Guarantee" as the SIC
3. Validate the Route Claim Page matches mocks displayed in AC

Scenario 2
1. Go to Dispatch as a caseworker and select a establish a claim with a remand or part

[2017-04-07 13:03] astewarttistatech commented on #1169
**PASSED**

After selecting a second tier Special Issue for a partial grant, the claim was routed properly. Please see screenshots.

Screenshots:
<img width="1019" alt="screen shot 2017-04-07 at 8 55 05 am" src="https://cloud.githubusercontent.com/assets/23038505/24801179/149867b2-1b71-11e7-8c1f-7be26a82b401.png">
<img width="1016" alt="screen shot 2017-04-07 at 8 57 20 am" src="https://cloud.gith

[2017-04-07 13:03] #1169 closed

[2017-04-07 13:46] astewarttistatech commented on #1476
Blocked for UAT testing going on today

[2017-04-07 14:22] lakohl commented on #1146
@gnakm should we make this a Style Guide component?

[2017-04-07 14:37] gnakm opened #1482 "Styleguide | Accordions"
As a developer and content writer, I want to see what the accordions section will look like in the living style guide

## Acceptance Criteria

- [ ] Verify that there is a title for Accordion and three subsections: Border, Borderless, Border with outline
- [ ] Verify that the border and borderless accordion looks like ones available on [USWDS accordion design](https://standards.usa.gov/components/

[2017-04-07 14:38] gnakm commented on #1146
@lakohl We have an issue for it. We can bump it up in priority at our 11a meeting. If you agree, I think we can close this issue :) all the power to you!

https://github.com/department-of-veterans-affairs/caseflow/issues/1090

[2017-04-07 14:47] lakohl commented on #1090
@gnakm you are the best!

[2017-04-07 14:47] lakohl commented on #1146
Closing in favor of #1090

[2017-04-07 14:47] #1146 closed

[2017-04-07 14:52] abbyraskin commented on #1431
@gnakm would you mind dropping the most updated mock here and I can work on AC?

[2017-04-07 14:53] NickHeiner opened #1483 "Setup docs may be incorrect"
I am trying to follow the setup docs and I got the following error:

[code]

If I examine what exists in Postgres, I see two databases:

[code]

But neither have any tables:

[code]

When I was hacking around earlier, I actually saw a schema in `_test` but not in `_development`. Now I don't see one in either. I am not sure what I did to cause that difference. ¯\_(ツ)_/¯

I tried doing a fresh clone

[2017-04-07 15:39] amprokop opened #1484 "Fields should be validated on "Confirm Case Details", "Confirm Hearing", and "Sign and Certify" [5]"
Add validation to the Confirm Case Details, Confirm Hearing, and Sign & Certify pages. See the Dispatch application for reference code and design.

# Acceptance Criteria

- On the Confirm Case Details page, if any field marked "Required" is on the page and is not filled out when the user clicks "Continue", the page should scroll to the required field, and there should be red text that spells out t

[2017-04-07 15:48] gnakm commented on #1431
@abbyraskin yes and it has been saved in a markdown in case github decides to erase it's memory again.

[2017-04-07 15:51] tejans24 opened #1485 "Migrations failing when running on a newly created db"
[code]

[2017-04-07 15:55] tejans24 commented on #1485
It's seems like a problem with Document being referenced Fakes::Initializer

[2017-04-07 15:56] abbyraskin opened #1486 "Search | Display search results"
Users can search from the Documents List page by typing into the search bar -- the results display as the user types.

- Users can search by comment text, VBMS metadata, issue tag name, category name
- If a user searches for terms with matching comment text or issue tags, the document(s) with those terms is shown in the expanded view
  - The expanded view will be only for the documents with the ma

[2017-04-07 16:26] lakohl commented on #1339
Closing duplicate of #1339

[2017-04-07 16:26] #1339 closed

[2017-04-07 16:32] kierachell opened #1487 "Review Decision | TypeError E[0] is undefined in `dev`"
## Reproduction Steps

**Envrionment(s)**
- [X] Dev
- [ ] UAT
- [ ] Preprod
- [ ] Prod

**Scenario 1 -**

1. Go to Dispatch

1. Click Establish next claim

1. Find everything broken: `TypeError: E[0] is undefined`

## Screenshots
**_Scenario 1 - [Review Decision]_**

https://github.com/department-of-veterans-affairs/caseflow/search?utf8=%E2%9C%93&q=hasMultipleDecisions&type=
<img width="1432" alt=

[2017-04-07 17:01] abbyraskin commented on #1431
Note: we no longer have any tab navigation on the page

[2017-04-07 17:03] abbyraskin commented on #1432
Note: we removed the tabs menu

[2017-04-07 17:21] astewarttistatech commented on #1476
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Go to Dispatch as a caseworker and start the process to establish a claim
2. On the Review Decision page do not select any SIC but continue to the Route Claim page
3. On the Route Claim page verify that the "Back to the Review Decision" button is present in the bottom right corner of the screen.

Screenshots:
<img width="

[2017-04-07 17:22] #1476 closed

[2017-04-07 17:22] amprokop opened #1488 ""Continue" button should not appear on the initial page if the appeal is not ready for certification"
Currently, the user can continue through the certification flow even if the appeal cannot be certified. We should hide the continue button if the appeal is not ready to be certified.

# Acceptance criteria

- The user should be able to continue to the Confirm Case Details page after navigating to a certification that is ready to start.

- The user should not be able to continue to the Confirm Case

[2017-04-07 17:55] shellicious opened #1489 "[V2 polish] Center align single icon in document table"
## Current View
![screen shot 2017-04-07 at 1 54 51 pm](https://cloud.githubusercontent.com/assets/1178390/24812873/d3332fc2-1b99-11e7-8b2f-0072c3f45cac.png)

The red x or green check mark in the above table should be center aligned with the table heading above it.

## Expected
They should be aligned like this instead:
<img width="310" alt="screen shot 2017-04-19 at 9 29 46 am" src="https://cloud.

[2017-04-07 18:07] abbyraskin commented on #1431
Moving to backlog as we are removing this tab for first release...will possibly revisit later

[2017-04-07 18:23] shellicious opened #1490 "[V2 polish] Form 9 dates should be bold and in consistent format"
# Acceptance Criteria

The Form 9 upload dates in step 3 should be bolded and in the MM/DD/YYYY format.

## Current View

![screen shot 2017-04-07 at 2 17 28 pm](https://cloud.githubusercontent.com/assets/1178390/24813707/10d28032-1b9d-11e7-9dbe-02dfa873863a.png)

## Expected

The progress bar shown in the Current View above is correct (Confirm hearing step in the progress bar should have darkened

[2017-04-07 18:25] abbyraskin commented on #1438
General note: we are no longer using the tabs shown in the mock (everything else is the same though)

[2017-04-07 18:26] gnakm opened #1491 "Reader | Expand all button"
**Story**
As a user, I want to be able to see all the details of each document (comments and issue tags) in a quick and easy way.

## Acceptance Criteria
- [x] Verify that the button is right-aligned with the table
- [x] Verify that `Expand all` is sentence cased and in USWDS - primary
- [x] Verify that the document number is on the right of the search bar
- [x] Verify that when Expand all button

[2017-04-07 18:26] abbyraskin commented on #1471
General note: we are no longer using the tabs shown in the mock, so this will only apply to the  column headers

[2017-04-07 18:27] joofsh opened #1492 "Add frontend code coverage for React"
Similar to how we use simple cov to verify code test coverage in ruby, we need to add a similar tool for our frontend infrastructure.

Acceptance Criteria:
- Add Istanbul JS code coverage library
- Force some % of code coverage for all our Redux reducers & actions across all apps
- Consider adding code coverage to our /components directory too

[2017-04-07 18:28] shanear commented on #1064
All merged in!

[2017-04-07 18:28] #1064 closed

[2017-04-07 18:54] gnakm commented on #1182
Related to #1196

[2017-04-07 18:58] gnakm commented on #1266
Keep state of last read in front end
Keep that state in back end for future

@mdbenjam

[2017-04-07 19:00] gnakm opened #1493 "Delay page execution"
When a user quickly moves between PDFs we try to render every PDF in between. Instead, we should wait until a user has stopped moving, and then render only the last PDF.
AC
- When quickly moving between PDFs intermediate PDFs should never be loaded.

[2017-04-07 19:19] shellicious opened #1495 "[V2] Pre-fill form fields that we have data for on Step 2"
On Step 2: Confirm Case Details, prefill the type and name of Representative if it's available from BGS

If it's not available and the radio buttons are unchecked, or the form field for Representative is blank, the "continue" button should be disabled.

![screen shot 2017-04-07 at 3 18 37 pm](https://cloud.githubusercontent.com/assets/1178390/24816108/915be4b6-1ba5-11e7-993a-be56153e1664.png)

Acc

[2017-04-07 19:25] kierachell commented on #1427
**PASSED**

<img width="418" alt="screen shot 2017-04-07 at 3 25 27 pm" src="https://cloud.githubusercontent.com/assets/18075411/24816364/7661d50c-1ba6-11e7-8acb-7678c8d9a6d1.png">

[2017-04-07 19:25] #1427 closed

[2017-04-07 19:26] shellicious opened #1496 "[V2] Pre-fill form fields we have data for on Step 4"
On Step 4: Sign & certify, these fields should be pre-filled:
- Name and location of certifying office
- Organizational elements...
- Decision Date

![screen shot 2017-04-07 at 3 18 26 pm](https://cloud.githubusercontent.com/assets/1178390/24816383/8602048c-1ba6-11e7-8b0b-18b042fe1f5f.png)

# Acceptance Criteria
- Certifying username should be populated from `case_record.bfregoff`
- Name of certif

[2017-04-07 19:35] shellicious opened #1497 "[V2] Copy and tweaks to confirmation page [1]"
Make changes to this page to match changes to template for success confirmation page (https://github.com/department-of-veterans-affairs/caseflow/issues/1094):

- Change "Congratulations!" to "Success!"
- Descriptive paragraph under "Success!" reads: "_____'s case has been certified. You can now close this window and open another appeal in VACOLS."
- Remove "were" so that last bullet point reads: "

[2017-04-07 19:35] amprokop opened #1498 "Get Nikita all the info she needs to open up the BGS POA endpoint in prod"
Get the ball rolling with BGS to open up the endpoint.

[2017-04-07 19:38] amprokop opened #1499 "Revise Appeals Status API spec"

[2017-04-07 19:53] shellicious opened #1500 "[1] Add gray line between instructional text and questions/form elements"
We should use an existing styleguide component for this.

Like so on step 2:

![screen shot 2017-04-07 at 3 49 06 pm](https://cloud.githubusercontent.com/assets/1178390/24817331/1ee23e08-1baa-11e7-89c0-a950bac819c5.png)

And so on step 3:

![screen shot 2017-04-07 at 3 49 13 pm](https://cloud.githubusercontent.com/assets/1178390/24817330/1ecd42dc-1baa-11e7-8aae-51f5c1580701.png)

And on step 4:

!

[2017-04-07 20:02] gnakm opened #1501 "Caseworker Landing | No more assigned, claims in queue"
**Story**

As a caseworker, I want to know if I have completed all the claims assigned to me and still have the option to establish more claims.

## Description
This is a case where x assigned, y completed numbers are the same and there are still more claims to be established in the queue. At this point, a caseworker can stop or continue establishing more claims.

## Acceptance Criteria
- Verify t

[2017-04-08 14:00] shanear opened #1502 "Guidance on test plan for PRs (4/19)"
As an additional way to ensure our PRs aren't breaking caseflow. We may want to introduce the practice of writing a test plan with each PRs, outlining the testing strategy for the code you wrote.

Discussion after standup on 4/19.

[2017-04-08 20:00] shanear commented on #962
Chromedriver fixed this 💅

[2017-04-08 20:00] #962 closed

[2017-04-10 12:31] astewarttistatech commented on #1104
@nikitarockz or @amprokop the progress bar on the mocks are not consistent with the stories recently done. I do not know them off the top of my head and they have since been archived. The progress bar should match the page that is currently being viewed. (Ex. Review Decision page / Review Decision progress indicator bolded)
Current View:
![caseflow certification](https://cloud.githubusercontent.co

[2017-04-10 12:53] aroltsch commented on #1267
@mdbenjam We get paged when there are two 500 errors within 2 minutes.

[2017-04-10 13:36] kierachell commented on #1176
### Certification
- Upload Document: BFKEY: 2765716 BFCORLID: 516517690
- Upload Document: BFKEY: 2765717 BFCORLID: 516517678
https://10.236.66.247/sentry/caseflow-uat/issues/176/
[code]

[2017-04-10 13:50] joofsh commented on #1487
Tested it this morning on demo and it's no longer an issue. I believe it was Shane's generator refactor that naturally fixed this. https://github.com/department-of-veterans-affairs/caseflow/pull/1480

[2017-04-10 14:12] joofsh commented on #1418
Perhaps we should more gracefully handle this "bad state" where somehow a task gets in to the prepared state despite not having a decision.

At the very least, we can show them an warning/error alert that no decision exists and to cancel out of the task

CC @shanear @mmlumba

[2017-04-10 14:38] nicholasholtz commented on #1421
@joofsh

**Potential Dispositions: New and Material**

The "new and material" arises when a claim has been previously denied (by the RO or Board) and become final by result of either not being appealed or being appealed and denied. If a new and material claim is granted, then the issue itself will be considered on the merits. Generally, a "new and material grant" is not relevant to ARC; the only w

[2017-04-10 15:14] kierachell commented on #1281
Still ain't working!
https://10.236.66.247/sentry/caseflow-uat/issues/168/
<img width="960" alt="screen shot 2017-04-10 at 11 12 30 am" src="https://cloud.githubusercontent.com/assets/18075411/24868650/afba93d6-1dde-11e7-9f84-f1c1c2dc1251.png">

[2017-04-10 16:00] shanear commented on #1032
@abbyraskin need some clarification for "EP created for RO" text formatting

A. "EP created for RO Station 344 - Los Angeles"
B. "EP created for RO Station 344"
C. Something else

[2017-04-10 16:03] abbyraskin commented on #1032
@shanear I was thinking we'd reuse the format we use elsewhere, e.g., the station field:

EP created for RO 344 - Los Angeles, CA

[2017-04-10 16:03] shanear commented on #1032
@abbyraskin also, if there are multiple special issues, should we put all of them in seperated by commas?

This is close to what we do on the success page:
"Emailed - Radiation; VAMC Special Issue(s)"

[2017-04-10 16:04] shanear commented on #1032
@abbyraskin I'll do that. However on the success page we just use the city not the state. That cool?

[2017-04-10 16:07] abbyraskin commented on #1032
Yes, better without state, especially if it's a pattern from another page 😃
Separated by semicolons works! Updated the little table above to reflect what we discussed:

Action | Context
--- | ----
EP created for ARC - 397 | user created EP for ARC, no special issues |
EP created for RO [Station - City] | user created an EP for an RO, tier 1 or 2 special issue |
Emailed - [special issue 1; special

[2017-04-10 16:08] shanear commented on #1032
@abbyraskin added examples to the AC up top. Let me know if they are good

[2017-04-10 16:10] abbyraskin commented on #1032
@shanear they are good!

[2017-04-10 16:27] shanear commented on #1032
Changing "Special Issue(s)" to "Issue(s)" since that's what we use on the success page.

[2017-04-10 16:49] gnakm commented on #1091
For design meeting:

*Horizontal line*: When is it used? What are the specs?

Things we've discussed:

- 40px above and below horizontal line? Case by case?
- Is it used to separate sections? What are the use cases?
- Does this affect margins of a canvas?

[2017-04-10 16:54] abbyraskin opened #1507 "Documents List | Search: highlight search results"
**Description**
Make documents list search better! Right now, our search results do not give users enough feedback. We want to highlight results and make sure everything related to the search is visible.

## AC

- [x] Verify that the comment section expands and highlights the word that's being searched
- [x] Verify that words that exactly match are in bold and highlighted in `$color-gold-lightest`

[2017-04-10 17:08] amprokop commented on #1498
-names of endpoints
-data that we need
-justification for needing it

[2017-04-10 17:16] amprokop commented on #1104
@astewarttistatech and @shellicious and i just talked— we're not going to add the confirmation page on the progress bar unless anyone else raises hell about it.

[2017-04-10 17:18] kierachell commented on #1176
It will be helpful to add a timestamp or some kind of `GUID` to the filename to avoid name clashes.

[2017-04-10 17:19] amprokop commented on #1104
This resulted from an inconsistency between the mocks and the style guide. The style guide currently suggests that the page currently being viewed has its progress bar section bolded/dark.

[2017-04-10 17:22] amprokop commented on #1497
@shellicious — can you add the new Form 8 bullet copy to this ticket?

[2017-04-10 17:26] amprokop commented on #1496
in form8.rb, this is where the info currently comes from:
[code]

[2017-04-10 17:29] amprokop commented on #1496
In VACOLS, `regional_office_key` is stored in `case_record.bfregoff`

[2017-04-10 17:34] shanear opened #1509 "Consider merging EstablishClaim::Claim and EndProduct"
These two classes represent essentially the same thing. One is used for reads and one is used for writes.

See if we can't merge the logic into one unified class.

[2017-04-10 17:46] shanear opened #1510 "Refactor Task Model Spec"
There are tons of unnecessary db calls in `models/task_spec.rb` which slow down the tests. In addition, there are a lot of unfocused tests.

Lets clean those up.

[2017-04-10 17:47] amprokop commented on #1114
@astewarttistatech — yo yo can you add the values that should be in the Vacols fields?

[2017-04-10 17:49] shanear opened #1512 "Find a way to get better test coverage of AppealRepository"
AppealRepository logic is one of our biggest blind spots in test coverage and we have an ever-increasing amount of logic stored there.

My thought is that we may want to use the pattern of `ExternalAPI::BGSService` for VACOLS and VBMS. This way we could stub all of those in tests instead of Appeal repository.

We can use generators to extract the correct stubs :)

As part of this we should be test

[2017-04-10 17:52] shanear opened #1513 "Make PrepareEstablishClaimTasksJob dependency on CreateEstablishClaimTasksJob more explicit"
The daily run of `PrepareEstablishClaimTasksJob` is very dependent on `CreateEstablishClaimTasksJob` having completed first.

Right now we run `PrepareEstablishClaimTasksJob` 1 hour later than `CreateEstablishClaimTasksJob`, but I feel like this could cause issues if `CreateEstablishClaimTasksJob` takes longer than an hour, or if we change the times for some reason since the dependency isn't very

[2017-04-10 18:00] shanear opened #1514 "Remove safe_click_on"
`safe_click_on` was an attempt to resolve PhantomJS crashes that we no longer need any more. Remove it

[2017-04-10 18:09] abbyraskin commented on #1437
Note: break into two separate issues (creating tags, selecting existing)

[2017-04-10 18:12] gnakm opened #1515 "Document Viewer | Issue tags: Creating issue for the first time"
**Story**
When looking at a document, I want a quick and easy way to create a new issue tag for documents.

## Acceptance Criteria

**Creating an issue tag for the first time**

- Validate that `Click in the box to select, or add issue(s)` is the text label above the search-in box
- Validate that when clicking in searchable dropdown, any issue tag that has not been saved primes a `Create an issue

[2017-04-10 18:21] abbyraskin commented on #1274
note: we need svgs for category icons

[2017-04-10 18:25] mdbenjam commented on #1283
This was mostly completed in: #1380

[2017-04-10 18:27] abbyraskin commented on #1187
@nicholasholtz in which direction is it off by one day?

[2017-04-10 18:29] shanear commented on #1466
This is an okay exception. It's basically catching a race condition where two people tried to pick up a new task at the same time.

Maybe we should rescue the exception and try again?

[2017-04-10 18:33] joofsh commented on #1466
I was just looking at this this morning and trying to decide a course of action.

I don't personally feel 100% confident that this is a race condition with two people trying to assign the same task. It determines the "next task" _after_ you click the button (all server side). The odds of a two people clicking to assign in the same 100ms span on a small team like ARC dispatch seems highly unlikely

[2017-04-10 18:33] amprokop opened #1516 "Add unit tests for the Redux store. [5]"
This ticket will require some investigation into Redux testing best practices.

We don't currently have any unit tests for our Redux code in Certification V2. We should add some! These tests should cover:

- the global reducer
- specific actions (let's start with the actions that are more than one statement long)
- dispatch functions

Let's spend some time researching common Redux testing patterns

[2017-04-10 18:37] shanear commented on #1466
Agreed. Moved to backlog

[2017-04-10 18:41] joofsh commented on #1461
This one looks more serious. We should move this into the current sprint

[2017-04-10 18:47] joofsh commented on #1461
Closing this, it's a dup of the connected ticket

[2017-04-10 18:47] #1461 closed

[2017-04-10 18:51] #1316 closed

[2017-04-10 18:51] abbyraskin commented on #1265
@mdbenjam please elaborate :)

[2017-04-10 18:59] abbyraskin commented on #1486
- independent of filters (searches all documents)
- expanded view

[2017-04-10 19:13] abbyraskin commented on #1493
@mdbenjam can you flesh this out?

[2017-04-10 19:19] amprokop commented on #1315
@nemodjuric, make sure we add the SSOC dates, then we can put this in Validation.

[2017-04-10 19:23] mdbenjam opened #1517 "Roles | Add a new Reader role"
Currently only System Admin users can access the Reader. We need to add a new 'Reader' role to give non System Admin's access.

**Acceptance Criteria**
1. Add a 'Reader' role
2. Add a link to switch to the 'Reader' role on the Test User page
3. Add a link to the Reader on the Test User page

[2017-04-10 19:29] mdbenjam opened #1518 "Only show pages of documents when a user has stopped scrolling"
Currently Reader only renders pages the user can see, or is almost able to see. However, if a user scrolls quickly past many pages, it will try to render several of those pages. We should wait until you stop scrolling to render.

**Acceptance Criteria**
1. When scrolling quickly we shouldn't render intermediate pages. Quickly means grabbing the scrollbar and dragging it down through several pages.

[2017-04-10 19:34] amprokop commented on #1488
@aroltsch — check with @nemodjuric before you start this.

[2017-04-10 19:52] nicholasholtz commented on #1187
Caseflow Decision is behind by a day.

[2017-04-10 20:25] #1345 closed

[2017-04-10 20:54] abbyraskin commented on #1266
@gnakm assigning to you to provide svg magic

[2017-04-10 20:59] abbyraskin commented on #1486
- Filter and search are independent: if a user searches, the filter resets to filter from all documents; if a user filters first then searches, they are searching all documents.

[2017-04-10 21:00] abbyraskin commented on #1324
Note: this is an outdated mock, so ignore any info in design not related to this specific story.

@gnakm assigning to you to create an svg for the selected comment state.

[2017-04-10 22:01] lakohl opened #1522 "Confirmation page: Fix spacing of list items"
## **AC**
1. Verify that the second line of a list item indents to start under the first line.
1. Verify that the second line of a list item does not wrap under the check box.

## **Mocks**
_Current:_
<img width="426" alt="screen shot 2017-04-10 at 6 06 02 pm" src="https://cloud.githubusercontent.com/assets/4975959/24884652/68377382-1e18-11e7-913c-108c5be8d16b.png">

_Desired:_
<img width="503" al

[2017-04-10 22:09] NickHeiner commented on #1483
There was an error with how the db was being set up, but it has since been resolved.

[2017-04-10 22:09] #1483 closed

[2017-04-10 22:13] lakohl opened #1523 "Confirmation: Adjust spacing between cases assigned copy and button"
## **AC**
Verify that there are 30px between the 'x cases assigned, y completed' copy and the 'Establish next claim' button at the bottom of the Confirmation page.

## **Mocks**

_Current:_
<img width="513" alt="screen shot 2017-04-10 at 6 17 44 pm" src="https://cloud.githubusercontent.com/assets/4975959/24884967/077e1904-1e1a-11e7-9291-2bff0df939e8.png">

_Desired:_
<img width="569" alt="screen s

[2017-04-10 22:22] lakohl commented on #1523
@gnakm flagging you bc this seem like a style guide issue?

[2017-04-10 22:31] lakohl opened #1524 "Confirmation: Remove vet ID from Success Message"
We show the veteran Name and ID at the top of the page, so it is redundant to restate it.
The copy under the Success message was changed the last time we reorganized this page, however the copy update was not incorporated.

## **AC**
1. Verify that the Vet ID is removed from the Success message.
1. Verify that the copy under the word 'Success' reads as follows:

You can now establish the next clai

[2017-04-10 22:43] lakohl opened #1525 "Help: header, URL"
Header should show the appropriate application name.
Determine URL pattern for Dispatch and Certification.

[2017-04-10 23:40] mmlumba commented on #999
@gnakm Is there copy I can use for this component?

[2017-04-11 01:46] tejans24 opened #1527 "Format and style document list table for Reader"
- [x] Verified that the document list table styling is updated to look like the Mocks show below

[2017-04-11 01:47] tejans24 opened #1528 "Reformat the document list table header for Reader"
- [x]  Header is refactored to another react component
- [x]  Header looks similar to the mocks provided for Reader

[2017-04-11 02:03] tejans24 commented on #1081
This only includes the single select dropdown, there is another issue for multi-select

[2017-04-11 03:08] tejans24 commented on #1485
#1494 fixed this issue

[2017-04-11 03:08] #1485 closed

[2017-04-11 12:01] cmgiven commented on #1114
## BFHR
[code]

## BFDOCIND
[code]

[2017-04-11 13:29] abbyraskin commented on #1478
@gnakm another call for svgs please! :-D

[2017-04-11 13:30] abbyraskin commented on #1467
on hold until FAQs are complete

[2017-04-11 13:33] Sjones352 opened #1529 "Form 8| Preview| Not Capturing Edited Changes"
**Add the following Severity Level Labels:**
- [ ]    bug-high-priority - Data loss, data corruption or system unavailable
- [x]    bug-medium-priority - Important functionality is unavailable but there is a workaround
- [ ]    bug-low-priority - Secondary functionality is unavailable and there is a workaround
- [ ]    bug-ui - Cosmetic issues or some functionality unavailable but has a simple wor

[2017-04-11 13:34] Sjones352 commented on #1529
### User replied
Weirdest thing – previewing the Form 8 did not reflect the changes, but Certifying it DID.    The uploaded Form 8 did show the latest changes.

So I’m not sure it’s worth complaining??

[2017-04-11 13:59] Sjones352 commented on #1400
### Tasks
[ ] Verify that the button style is [USWDS secondary button](https://standards.usa.gov/components/buttons/) (blue font on white)
[ ] Verify that it says `Copy note` in sentence case
[ ] Verify that it is located 17 px below the text box and aligned to the left
[ ] Verify that when clicking the button, the note inside the text box is copied
[ ] Verify that icon is on the right of copy
[ ]

[2017-04-11 14:25] NickHeiner opened #1530 "Mocha tests fail when new dep is brought in"
**Impact:**
* Blocks #1547.
* Slows dev velocity because merging `npm-shrinkwrap.json` changes is much harder
* Prevents us from making other substantial dep changes.

## Overview
There is a dependency update that breaks the mocha tests. I am not sure what it is, but if I `npm install` without the shrinkwrap file present, I'll see an error when I go to run the tests. The error also occurs if too d

[2017-04-11 14:43] NickHeiner opened #1531 "Use yarn instead of npm"
We should consider using yarn instead of npm.

# Acceptance Criteria
* See the using `yarn` to install dependencies locally produces a working dev environment.
* See that deploys to AWS environments work.

# Benefits

*Note*: these benefits compare our current version of npm, `3.10.10`, to Yarn. The latest version of npm may have substantial improvements.

## Performance
Both of these tests were r

[2017-04-11 15:09] #1449 closed

[2017-04-11 15:10] amprokop opened #1532 "Discuss pushing appeals status updates to Vets.gov with the Appeals Status API"
Vets.gov and the intake team agree that the single biggest improvement to the appeals status experience would be if we could push appeals status updates to Vets.gov, allowing Vets.gov to send an SMS or email to the Veteran when the status of their appeal changes. We'd love to collect some brainstorm-level thoughts from the team about that possibility.

Note that this is not part of any currently p

[2017-04-11 15:57] sharonwarner opened #1533 "Stats page mouse highlighting is broken"
You used to be able to scroll through the charts and highlight certain time periods. The scrolling doesn't work anymore.

[2017-04-11 16:12] askldjd commented on #1531
No problem with this. Just need to test it against our npm caching server (sinopia). If it works, great. If it doesn't, we can find a caching server that is compatible with Yarn.

[2017-04-11 16:27] gnakm commented on #1002
@mmlumba Let me know if this makes sense. If it does, I will add it to the AC on top
The body scroll will always be longer than the side navigation so,
- The page should be anchored at the top of canvas before allowing scrolling within the canvas
- Side navigation scroll should only scroll to the last component listed on the left (in this case modal)
- Body scroll goes all the way to the bottom of

[2017-04-11 16:30] shanear commented on #1378
Figuring out the proper way to do this with the VBMS team

[2017-04-11 16:31] shanear commented on #1378
UAT data for a vet with a military address
[code]

[2017-04-11 16:39] shanear commented on #1352
Changes made to Prod squad doc:
https://github.com/department-of-veterans-affairs/appeals-pm/pull/1268

closing

[2017-04-11 17:08] shanear opened #1535 "How should we handle Appeal not found?"
Today we found a situation where the BFKEY in VACOLS for an appeal had changed underneath our feet. It was test veteran in prod, but it still blew up the missing decisions page.

We might want to handle that error more gracefully. Or invalidate tasks with no Appeal in VACOLS.

## Acceptance Criteria
- Validate that when you delete a case record in VACOLS for an unprepared task, the missing decisio

[2017-04-11 17:17] shanear commented on #1323
Dug in on this issue. There have been 3 appeals with VAMC special issue checked. 2 Full grants and 1 Remand. The Remand is currently in location 54. We are good.

[2017-04-11 17:17] #1323 closed

[2017-04-11 18:42] mmlumba commented on #1435
@shanear @lakohl Since there will be more than one help page (and the help page is normally the root of the application), where should the homepage of the app lead to?

[2017-04-11 19:18] sharonwarner opened #1537 "Move reusable stats logic to caseflow-commons"
dispatch_stats_controller.rb and certification_stats_controller.rb both share two methods that should be moved to caseflow-commons. Additionally, format_time_duration_stat needs to be updated to allow units longer than minutes as time_to_establich_claim is measured in days.

[2017-04-11 20:33] gnakm opened #1538 "Document list | Specs for Column Spacing"
**Story**

As a developer, I want to know the spacing between each column so that the column headers do not create a double line.

## Acceptance Criteria
- Validate that spacing matches the pixels shown in the mock below
  - Categories: 106 px
  - Receipt Date: 116px
  - Document Type: 226px
  - Issue tags: 225px
  - Comments: 85px
  - 16 px from far left and far right
  - Spacing between Categori

[2017-04-11 20:56] joofsh commented on #1466
5 events exist in sentry for this error. Too many to be a race condition. Someone should investigate this further

[2017-04-11 21:03] Sjones352 commented on #1430
**Current Page Developed**

<img width="1280" alt="screen shot 2017-04-11 at 5 02 03 pm" src="https://cloud.githubusercontent.com/assets/23080951/24930762/b56bcc64-1ed8-11e7-8900-05cf43ec3e95.png">

[2017-04-11 21:13] mdbenjam opened #1540 "Remove any :nocov: in Reader"
In our haste early on in development we added some :nocov: comments in the backend code. Many of these may not be necessary--but if they are, we need to write tests to provide coverage.

# AC
1. Verify there are no more :nocov: in reader code.

[2017-04-11 21:23] shanear commented on #1035
This looks well defined. Assigning to alex and shelly for prioritization

[2017-04-12 14:04] astewarttistatech commented on #1287
UAT VACOLS IDs are not working in the new UAT link. https://certification.cf.uat.ds.va.gov/reader/appeal/<vacolsid>/documents. Time boxing.

[2017-04-12 14:06] astewarttistatech commented on #1104
Waiting for UI in AC to be updated to match. Functionality is present.

[2017-04-12 14:33] astewarttistatech commented on #1032
Test data is currently tied up. So far this is what has been tested in UAT:

<img width="1324" alt="screen shot 2017-04-12 at 10 31 59 am" src="https://cloud.githubusercontent.com/assets/23038505/24962974/61759106-1f6b-11e7-8444-4c05a8df34bc.png">

Moving into blocked until able to test the rest

[2017-04-12 14:38] astewarttistatech commented on #1081
Blocked due to an issue getting working VACOLs IDs in the UAT environment

[2017-04-12 14:45] astewarttistatech commented on #1081
**PASSED**

Validated in Demo
Validated on FF (Chrome browser is experiencing issues)

Steps to Validate:
1. Go to Style Guide and verify the section for searchable dropdown

Screenshots:
<img width="1286" alt="screen shot 2017-04-12 at 10 42 36 am" src="https://cloud.githubusercontent.com/assets/23038505/24963643/2846c68c-1f6d-11e7-8fac-ce8a5c4e3f26.png">

[2017-04-12 15:23] astewarttistatech commented on #1500
@shellicious Am I supposed to check the width of the grey line break as well as the color? If so, do I go by the hex code in the mocks, displayed. I do not know the spec of the line width.

[2017-04-12 15:29] astewarttistatech commented on #1488
@amprokop or @shellicious  if there are any mocks for this, it would be good to add them to the References sections. As a possible solution, after testing is complete, screenshots that are taken for validation can get looked over and placed in Acceptance Criteria in lieu of mocks.

[2017-04-12 15:45] astewarttistatech commented on #1440
@amprokop @shellicious if there are any mocks of the failed scenario to add to AC, that would be helpful.

[2017-04-12 15:48] kierachell opened #1543 "Update Documentation!"
https://github.com/department-of-veterans-affairs/caseflow/blob/master/README.md

Is super out of date:
- we're not using PhantomJS that much, we need to add Chromedriver
- add Yarn setup documentation once that goes through
- rake DB setups?

[2017-04-12 16:06] kierachell commented on #1281
**PASSED**
AYYY!

[2017-04-12 16:06] #1281 closed

[2017-04-12 16:22] astewarttistatech commented on #1484
Hey @shellicious and @amprokop I need a little more context on what "visibly disabled" means. If you can provide a mock or a more in-depth description, that would be great.

[2017-04-12 16:38] shanear commented on #1247
@lakohl @abbyraskin I haven't seen any errors for this. Is this still happening for people?

[2017-04-12 16:45] slj commented on #1401
@abbyraskin is it sufficient to treat "application" as dispatch for this issue (for now)?

[2017-04-12 16:45] amprokop commented on #1484
great! @shellicious do you have an example of this? i'm not 100% sure what you want from a design perspective

[2017-04-12 16:56] astewarttistatech commented on #1490
@shellicious Could you update the "expected" mock to not have the header bar if it is not completed/ or at its desired state. It is very confusing.

[2017-04-12 16:57] shellicious commented on #1484
Like this @amprokop and @astewarttistatech:

(From the UI Kit)

![screen shot 2017-04-12 at 12 56 08 pm](https://cloud.githubusercontent.com/assets/1178390/24969664/7f36465e-1f7f-11e7-942a-a5f8d3051fa2.png)

Hex color is D6D7D9 for the gray background.

In context, it would look something like this (color is off due to this being an older wireframe):

![screen shot 2017-04-12 at 12 54 02 pm](https

[2017-04-12 16:58] lakohl commented on #1247
I have not, and I asked Support and they have not either. Let's keep this issue open until we do the follow up training/Q & A tomorrow in case it come up. Some folks may not have reported it. If it doesn't appear to be happening anymore I'll close the issue.

[2017-04-12 16:59] astewarttistatech commented on #1489
Should there be a mock for the red X's?

[2017-04-12 17:03] shellicious commented on #1440
@astewarttistatech added a mock above, @amprokop let me know if i misinterpreted what you meant by fail state.

[2017-04-12 17:05] shellicious commented on #1490
@astewarttistatech updated

[2017-04-12 17:06] astewarttistatech commented on #1516
Should @amprokop the "Tech Improvement" label be added, in order for this ticket to follow through the Waffle board and QA doesn't have to "try and validate" this issue?

[2017-04-12 17:06] shellicious commented on #1489
@astewarttistatech they should be displayed in the exact same way as the green checkmarks, so I don't believe it's necessary. There could also be combinations of red x's and green checkmarks, which I also don't think are necessary to mock up.

[2017-04-12 17:12] shellicious commented on #1104
Updated UI @astewarttistatech

[2017-04-12 17:13] shellicious commented on #1500
@astewarttistatech this ticket is still in feature definition, which means that I and other designers will finalize the spec (margins, width, color, etc.) in this Thursday's design meeting. After that meeting, I'll update the ticket with more detailed instructions.

[2017-04-12 17:14] astewarttistatech commented on #1444
@amprokop could you add Acceptance Criteria in this ticket. What was listed seems to be steps to validate.

[2017-04-12 17:18] mdbenjam commented on #1433
@gnakm Should we have an 'x' in the top right corner to close. The modal in the styleguide has this.

[2017-04-12 17:37] kierachell opened #1546 "ARC Work Assignments | Cases Assigned vs Cases Completed vs Cases Remaining makes no sense"
# Description
When Manager assigns Dispatch tasks to workers - the numbers Assigned and Remaining are calculated in a very mysterious manner.

## Reproduction Steps

1. As a Manager, go to Dispatch

1. Start messing with # of workers for the day

1. See noting happen because no one did any tasks.

1. Let some workers complete some of their tasks

1. Mess with the numbers again

1. Observe wonky ca

[2017-04-12 17:38] mdbenjam commented on #1433
@gnakm Question 2: The modal on the styleguide currently grays out the header. Are we changing that behavior here?

[2017-04-12 17:46] gnakm commented on #1433
@mdbenjam Yes can we add that x ? I can add that to the AC
Let's gray out the header as well. Will change in the mocks as well.

[2017-04-12 17:59] NickHeiner commented on #1274
We have those SVGs.

Does this include the filtering functionality in the PDF List view?

[2017-04-12 18:12] abbyraskin commented on #1401
@slj yes, this refers specifically to Caseflow Dispatch -- I believe Certification and eFolder Express have their own handling (though I don't know to what extent they differ).

[2017-04-12 18:18] NickHeiner commented on #1274
![image](https://cloud.githubusercontent.com/assets/829827/24972847/c5348cb4-1f8a-11e7-8b39-ff8148362845.png)

@abbyraskin @gnakm what do you think about this? Do we want the category icons to always appear in the same columns? (eg green is always on the far right, even if there are no other categories.) I can explain in person if this is not making sense.

[2017-04-12 18:26] mmlumba commented on #1418
@joofsh and I were working on this issue and we added a "state" in which a decision has no document:
<img width="1280" alt="screen shot 2017-04-12 at 1 53 51 pm" src="https://cloud.githubusercontent.com/assets/4773320/24973176/deef5200-1f8b-11e7-9152-5abde901ff77.png">

@lakohl @gnakm Could you create a mock for the copy/style that should be used for this scenario?

[2017-04-12 18:42] abbyraskin commented on #1274
@NickHeiner this ticket is only intended to cover adding categories to a PDF - category filtering functionality is documented in #1432

Goooood question. I think we'd want each color to have a predefined "position" (e.g., green on the far right) so it's a little easier on the eyes when scanning through a long list. What do you think @gnakm? As to what those specific positions should be, I have zer

[2017-04-12 18:47] abbyraskin commented on #1274
Hmm, caveat to suggestion above: I think they will generally only use one category (note: this is an assumption to test in the pilot!), so having them default to one position (e.g., far left) might make more sense. I defer to Gina's wisdom on this one.

[2017-04-12 19:05] gnakm commented on #1274
@abbyraskin @NickHeiner

Fun question. I like keeping it in the order so, procedural(blue), med(pink), others(green) but always starting from the far left as Abigail mentioned. The screenshot that Nick posted 3 comments above reflects that!

Could we do the same thing for categories in PDF?
![image](https://cloud.githubusercontent.com/assets/13420618/24974789/6e14fd18-1f91-11e7-8220-ab4a4b665ef7.p

[2017-04-12 19:17] slj commented on #1280
@abbyraskin @lakohl etc Is this the desired behavior?

![vacols-update-back](https://cloud.githubusercontent.com/assets/1053255/24975290/201f7000-1f93-11e7-8670-909b43157af6.gif)

[2017-04-12 19:18] NickHeiner commented on #1274
:+1: sounds good. I already had it in a consistent order, so I'll keep it that way, but I won't worry about making the columns be the same for now.

[2017-04-12 20:08] tejans24 commented on #1081
<img width="496" alt="screen shot 2017-04-12 at 4 05 22 pm" src="https://cloud.githubusercontent.com/assets/1976755/24977179/3533d3f8-1f9a-11e7-956d-faca874399f9.png">

Here is the updated mock for this

[2017-04-12 20:23] slj commented on #1270
The alert pages in this issue seem to be deprecated.  I think the buttonLink back to Review Decision is everywhere it needs to be  The acceptance criteria might need an update.

[2017-04-12 20:44] tejans24 commented on #1527
<img width="1003" alt="screen shot 2017-04-12 at 4 39 53 pm" src="https://cloud.githubusercontent.com/assets/1976755/24978596/38f16e06-1f9f-11e7-87dd-89a90e5ce00c.png">

[2017-04-12 21:00] lakohl commented on #1280
@slj it looks good to me!

[2017-04-12 21:17] lakohl commented on #1418
@mmlumba I will!

[2017-04-12 21:27] lakohl opened #1556 "Missing Decisions - shows decisions that have been uploaded"
Rolandus, the head of BVA Dispatch told us that our BVA Manager view for Missing Decisions is showing cases whose decisions were already uploaded to VBMS the day before (or further in the past). He says this is the case with several of the cases shown in our table.

he and I pulled the Vet ID at the top of today's list (last name Young) and checked it in VBMS. Indeed it did have an uploaded 'BVA D

[2017-04-12 21:27] gnakm commented on #1084
## Lo-fi Error Message Rubric

| Success | Warning | Error | Status |
| -- | -- | -- | -- |
When a user completes a task and needs a validation that something went through. | When there is a systems error, or user needs to be aware of a task that potentially cannot be done or that it will be done differently than expected. This is to create expectation before the user continues to do something.  |