[2017-05-24 21:30] mdbenjam opened #2136 "Fit to Page | Doesn't work until scrolled"
Currently the fit to page button doesn't make the documents the correct size, unless the user has scrolled the document first.

## AC
1. Verify fit to page zooms the pages such that the page height equals the scroll window height.
1. Verify fit to page zooms the pages such that the page height equals the scroll window height when it is clicked before a user has scrolled.

[2017-05-24 21:55] mdbenjam commented on #1966
In general this makes sense. It feels a little weird to give the user an option to immediately try again. It seems that we should just try again for them if we fail, and if we fail 2-3 times surface this error saying that we aren't able to save right now and that they should try again later. Similar idea around moving a comment. If it normally works the second time, we should just try twice before

[2017-05-24 21:56] joofsh opened #2137 "Create new category in Reader"
Create a 4th read-only category in Reader, called "Case Summary". Selecting this category will filter to show:
- original claim (if possible)
- NOD
- SOC
- Form 9
- VA 8 Certification of Appeal
- BVA Decision (all prior)
- SSOC (all SSOCS after the SOC date)
- DD214 (all)
- Rating Decision Codesheet (most recent)

#### Acceptance Criteria
- New category is listed for filtering documents
- New cate

[2017-05-24 22:00] NickHeiner commented on #1966
Makes sense to me. One ticket is fine.

[2017-05-24 22:16] NickHeiner commented on #1896
Ok, thanks for those insights.

[2017-05-25 00:18] kierachell commented on #2082
### For SSN 163278285
[code]

[2017-05-25 12:53] kierachell commented on #1913
### This kinda broke the hearings page:
[code]

[2017-05-25 14:29] kierachell commented on #2115
Yes

[2017-05-25 14:35] gnakm commented on #2115
@NickHeiner Could you add a line break after the 2nd sentence so it looks like this:

It looks like Caseflow was unable to load this case.
Please refresh the page and try again.

[2017-05-25 14:44] aroltsch opened #2142 "Find representative type in BGS that maps to Vacols rep code "P""
Vacols representative code "P" maps to "Army & Air Force Mutual Aid Assn."
Find BGS POA name that maps to "P" in Vacols.
See this ticket for more details: https://github.com/department-of-veterans-affairs/caseflow/issues/2097

[2017-05-25 14:48] slj commented on #2134
# To Verify Fix

Visit an inline form an enter `+, . or e`.  The field should be cleared immediately.  If you enter a number followed by a dot and tab away, the field should be updated to just the number.  Basically anything other than integer N or N. should get cleared.

[2017-05-25 15:07] lakohl commented on #2012
I updated the AC above with the most recent codes and EP labels. They can now be implemented behind a feature flag. We need to alert AMO before we release them. If whomever works this ticket can give me a day when they believe they will be ready to go I can prep AMO in advance.

[2017-05-25 15:23] NickHeiner commented on #1581
The mock has a period at the end of the search query, but the AC in the ticket does not.

Mock:

AC:

Which should we do?

I prefer

[2017-05-25 15:24] gnakm commented on #1581
Yes let's add the period.

[2017-05-25 15:24] NickHeiner commented on #1581
So, you want the "mock" option above?

[2017-05-25 15:28] gnakm commented on #1581
Yes.

[2017-05-25 16:08] billhunt-usds opened #2144 "Content fix for Style Guide"
I really enjoyed seeing the Style Guide during the demo yesterday, this is a fantastic resource.  However, I see that we're using the term `spirit animal` under the `Tables` examples in a way that isn't appropriate.  Please replace this with a different term, perhaps `Favorite Animal` or `Patronus`.

More on the use of `spirit animal` as cultural appropriation:

* https://studybreaks.com/2016/06/1

[2017-05-25 16:16] NickHeiner commented on #1852
@abbyraskin @gnakm how about a hotkey for exiting annotation-leaving mode? `Esc` sounds good, but we should verify that that won't overlap with any existing browser functionality.

[2017-05-25 16:32] NickHeiner commented on #1852
This will be most easily done after #2121 is done.

[2017-05-25 16:34] NickHeiner commented on #1669
This should be done after #2121.

[2017-05-25 16:35] NickHeiner commented on #2075
So does this ticket have any actual work in it? Or is it entirely split out into sub tickets?

[2017-05-25 16:41] kierachell commented on #1958
**PASSED**
<img width="812" alt="screen shot 2017-05-25 at 12 40 25 pm" src="https://cloud.githubusercontent.com/assets/18075411/26460384/7ad24d80-4147-11e7-9e0c-9f12c2f5d7b9.png">

[2017-05-25 16:41] #1958 closed

[2017-05-25 16:48] gnakm commented on #2075
@NickHeiner Yeah it's split out into sub tickets. We thought this might provide a better overview.

[2017-05-25 16:49] kierachell commented on #1883
@astewarttistatech
You can use CF_Q_317 user to access this page in UAT

[2017-05-25 16:56] cmgiven opened #2146 "Status: Look up SSN in BGS"
As the corporate database is more accurate than VACOLS, use BGS to retrieve the Veteran ID from the given social security number.

## Acceptance Criteria
- Verify that the file number used to look up appeals for the list appeals endpoint is retrieved from BGS and the SSN from VACOLS is not used.
- Verify that if the veteran with the SSN passed is not present in BGS, a 404 is returned.

[2017-05-25 16:56] cmgiven opened #2147 "Status: Cache API requests by Veteran"
To prevent repeatedly retrieving the same information, cache requests per Veteran. Bust that cache daily. (Other schedules are possible, but that needs to be communicated to Vets.gov to ensure content is reflective of that frequency of update.)

[2017-05-25 17:14] gnakm commented on #2144
@billhunt-usds Thanks Bill. We'll change it to Patronus.

/cc: @mmlumba

[2017-05-25 17:17] mmlumba commented on #2144
@Sjones352 Since we are changing the `StyleGuideTables` component anyways could you also fix this console error?  (I'm fine with you selecting either prop option)
<img width="1276" alt="screen shot 2017-05-25 at 1 16 29 pm" src="https://cloud.githubusercontent.com/assets/4773320/26461845/80dc1eea-414c-11e7-98f9-f153580f10dc.png">

[2017-05-25 17:19] NickHeiner commented on #2075
Ok – I think I'd recommend closing this ticket then. Having the overall mock is helpful, but it's confusing for a ticket to have no work associated with it.

[2017-05-25 17:21] #2075 closed

[2017-05-25 17:24] NickHeiner commented on #1884
This is blocked on #1984.

[2017-05-25 17:26] mmlumba commented on #2144
For validation:
1. Verify that the use of "Spirit Animal" is no longer used on Style Guide
2. Verify that the `<Table>` console error no longer appears

[2017-05-25 17:50] NickHeiner commented on #1581
Why does the story say:

Shouldn't it just be:

[2017-05-25 17:52] abbyraskin commented on #1581
@NickHeiner the story used to be about search results, but was repurposed for empty state. I'll update it :)

[2017-05-25 18:14] shanear opened #2149 "Improvements to Repository objects"
Now that we have a bunch of repository objects floating around there are some refactoring tasks we could do to clean them all up:

- Move them all to one place. They are split between `app/services` and `app/repositories` right now.

- Move some of the common logic into a base class like `normalize_vacols_date`

[2017-05-25 19:47] amprokop opened #2151 "Refactor POA test data from BGS/VACOLS"
There's some hardcoded stuff. Specifically, the power_of_attorney_spec should set its own bgs and vacols test data with generators or somesuch, so the spec isn't quite so tied to the application test data.

[2017-05-25 19:54] amprokop commented on #2134
who sez `e` isn't a number

[2017-05-25 20:16] NickHeiner commented on #2076
@gina do you want the arrow to have the same hover fill as the text?

![image](https://cloud.githubusercontent.com/assets/829827/26468726/77b2dc46-4165-11e7-9dbd-0e2d8d041004.png)

[2017-05-25 20:18] gnakm commented on #2076
@NickHeiner Yes on the having both text and icon hover fill and thanks you fixing mis-alignment in advance 😬

[2017-05-25 20:35] gnakm opened #2154 "Document Viewer | Back button too big"
**Description**
Back button at hover is huge!

## AC
- Make the button hover stop right right after the 's.'

## Mock up

Ah! This is wrong!
![image](https://cloud.githubusercontent.com/assets/13420618/26469375/c2ffa2ea-4167-11e7-95c4-367e8cb8d9e7.png)

[2017-05-25 20:39] nicholasholtz commented on #2012
@lark John Shriver called today and asked about this. He might be a good contact for AMO notice.

[2017-05-25 20:44] lakohl commented on #2012
@nicholasholtz I spoke to John about this last week and to Amy earlier this week. Did he have any new news?

[2017-05-25 20:48] nicholasholtz commented on #2012
He just wanted to know status of implementing the changes. Based on your comment above, https://github.com/department-of-veterans-affairs/caseflow/issues/2012#issuecomment-304034292, I assumed status had changed. Sorry my comment wasn't clear above!

[2017-05-25 20:51] lakohl commented on #2012
@nicholasholtz I'm writing him now:) will cc: you

[2017-05-25 20:57] gnakm opened #2156 "Document Viewer | Placing annotation between different documents"
**Story**
Right now, a user can be in annotation mode when switching between documents. This is confusing because users may be adding comments to a document they weren't intending to.

## AC
- [ ] When a user is in annotation mode and switches to another document, document should be automatically taken out of annotation mode.

## Related Issue
#1768

[2017-05-25 20:59] kierachell commented on #2115
@gnakm Is the title supposed to be `title` case as it is in the Styleguide?

<img width="762" alt="screen shot 2017-05-25 at 4 52 35 pm" src="https://cloud.githubusercontent.com/assets/18075411/26470182/c445e620-416a-11e7-87c3-1e7ddcfccb89.png">

[2017-05-25 21:01] NickHeiner commented on #2076
Ha, @gnakm this is getting an accessibility test failure because of insufficient color contrast. Can you recommend an alternate color?

[code]

[2017-05-25 21:10] gnakm commented on #2076
Lawl. Of course.

Could we do: #02bfe7
[Secondary state color from USWDS](https://standards.usa.gov/components/colors/#palette)

Needs to be added to style guide because our blues ain't working for contrast.

[2017-05-25 21:34] kierachell commented on #2082
**PASSED**
`apiRes.first.data.map(&:attributes).map(&:events)`
[code]

[2017-05-25 21:34] #2082 closed

[2017-05-25 21:35] gnakm opened #2159 "Style guide | Add colors"
Description
As a developer or designer, I want to know about ALL the colors that are available to me including the new `primary-alt` and `gray-warm-alt` colors soon to be used in Reader.

## AC
- [x] Add `gray-warm-light` color in primary colors section
- [x] Add `primary-alt` color in secondary colors section

[Colors can be found in USWDS](https://standards.usa.gov/components/colors/)

![image](

[2017-05-25 22:06] gnakm opened #2160 "Document Viewer | Accessibility: New hover color"
**Description**
Our hover color on toolbar failed 508 :( This is a new color, now being added to the style guide, that passes WCAG AA.

## AC
- [x] Verify that the new hover color is #02bfe7 `primary-alt` Not in style guide yet but can be found in this [issue](https://github.com/department-of-veterans-affairs/caseflow/issues/2159)
- [x] Verify that the following now has new hover color
    - Back

[2017-05-25 22:33] gnakm opened #2161 "Document Viewer | Annotation menu redesign"
**Description**
A major feedback we've received from users is that on a smaller screen, the comments are hard to reach. We added accordions to each section.

## AC
- [ ] Verify that Document Information, Categories, Issue Tags and Comments are now accordions and should be expand and collapsable. Note: We don't have it in our Style Guide yet but we have a ticket #1482 and it follows the [pattern fr

[2017-05-25 23:43] NickHeiner commented on #2076
Curiously, the color that caused the accessibility fail was the same color that we'd been using for other PDF toolbar buttons all along, like the "Back to all documents" button. I don't know why it only just now started triggering a warning. Maybe because the markup is slightly different?

All the more reason that the accessibility checker is not to be fully trusted; it's a nice tool but not the b

[2017-05-26 01:14] nemodjuric commented on #2085
@shellicious Just to confirm,
1. Is the first column 'Document' or 'Documents'?
2. Mock contains a text change as well - "Caseflow could not find the documents marked with an in the appellant's eFolder. This usually happens when something doesn't match up. Try checking:" - is what we have right now, vs "If the document status is marked with an X, try checking:" - is what's shown in mock here (but

[2017-05-26 11:54] shanear commented on #1675
<img width="1070" alt="screen shot 2017-05-26 at 7 52 46 am" src="https://cloud.githubusercontent.com/assets/1596259/26493604/7ed6a1a0-41e8-11e7-997c-28c73c7a7358.png">

Another one today

[2017-05-26 13:27] amprokop commented on #2085
1. `Document` is right

2. Let's follow the mock. Note that there's a new link there. "Learn more about document dates" should link to a section on the help page that doesn't exist yet, `/certification/help#document-dates`. @shellicious — can you provide copy for this section?

[2017-05-26 14:05] shanear commented on #1675
<img width="1067" alt="screen shot 2017-05-26 at 10 05 02 am" src="https://cloud.githubusercontent.com/assets/1596259/26497834/e27b106c-41fa-11e7-97c1-c9403e9e3bab.png">

and another

[2017-05-26 14:25] shellicious commented on #2085
Yup, copy for the answer on the FAQ will be posted on this issue: https://github.com/department-of-veterans-affairs/caseflow/issues/2087 I'll have a first draft by the start of next week!

[2017-05-26 15:01] gnakm commented on #2076
Hmm interesting.

![image](https://cloud.githubusercontent.com/assets/13420618/26500012/77cee0b0-4202-11e7-8522-a4ec89356bc4.png)

![image](https://cloud.githubusercontent.com/assets/13420618/26500041/8f0b5394-4202-11e7-835d-066f29c3feb0.png)

[2017-05-26 15:02] shanear commented on #1675
<img width="1050" alt="screen shot 2017-05-26 at 11 01 27 am" src="https://cloud.githubusercontent.com/assets/1596259/26500093/bf6d20d0-4202-11e7-863d-7a327c0d52df.png">

[2017-05-26 15:02] gnakm commented on #2115
We talked about this on slack but let's leave it sentence case the way it is in this mock. We're going to change style guide messages from title case > sentence case.

[2017-05-26 15:28] kierachell commented on #1913
**PASSED**
[code]

[2017-05-26 15:37] kierachell commented on #2050
**PASSED**
[code]

[2017-05-26 15:38] mmlumba commented on #2144
@gnakm we're gonna use "Favorite Animal instead"

[2017-05-26 15:46] NickHeiner commented on #1675
@shanear that most recent test should now be fixed.

[2017-05-26 16:36] kierachell commented on #2058
**PASSED**
<img width="918" alt="screen shot 2017-05-26 at 12 36 26 pm" src="https://cloud.githubusercontent.com/assets/18075411/26503765/f6162d68-420f-11e7-9a1f-d1631c7c8df5.png">

[2017-05-26 16:36] #2058 closed

[2017-05-26 16:38] nemodjuric commented on #2085
@amprokop @shellicious I will be changing usa-alert-heading message (with red background) to the one in the mock. Currently is "Cannot find documents in VBMS
Some of the files listed in VACOLS could not be found in VBMS."

[2017-05-26 16:39] kierachell commented on #1035
**PASSED**
<img width="499" alt="screen shot 2017-05-26 at 12 38 19 pm" src="https://cloud.githubusercontent.com/assets/18075411/26503848/4f7f302a-4210-11e7-9f93-7bd7822f8731.png">

[2017-05-26 16:39] #1035 closed

[2017-05-26 16:47] kierachell commented on #1581
## Whitespace validation is kinda weird
## And so it numeric??
![searchspace](https://cloud.githubusercontent.com/assets/18075411/26504154/66d42a86-4211-11e7-89fe-5ca57523709e.gif)

[2017-05-26 16:55] NickHeiner commented on #1581
The reason adding a `9` produces additional results is that it matches `09` in the date of the SSOC doc.

[2017-05-26 17:07] shellicious commented on #2087
@amprokop @avrildavid @wturne, what are your thoughts on the new Help page text above, explaining document date matching rules?

[2017-05-26 17:14] lakohl opened #2168 "BVA Manager Missing Decisions page - UI updates"
As the BVA Manager, I would like to easily see how many cases are truly missing decisions.

## AC
1. Verify that the veterans/claims whose decisions have been missing (in queue/outcoded) for 0 days are no shown.
1. Verify that h1 text is updated to read: 'Claims Missing Decisions in VBMS'
1. Verify that 'Total missing: [number of claims]' is added to the upper right corner.
1. Verify that 'Total m

[2017-05-26 17:19] lakohl commented on #1935
duplicate of #2093

[2017-05-26 17:19] #1935 closed

[2017-05-26 17:41] mdbenjam opened #2169 "Sensitivity | Make sure we're checking for sensitivity before returning documents"
- Check to see if they have the Reader role
- Figure out which fiduciary docs in VVA users should not see

[2017-05-26 18:09] avrildavid commented on #2087
@shellicious - Looks great to me. I think this explanation is really clear.

[2017-05-26 18:25] kierachell commented on #2144
**PASSED**
<img width="746" alt="screen shot 2017-05-26 at 2 23 49 pm" src="https://cloud.githubusercontent.com/assets/18075411/26507588/0e941170-421f-11e7-99db-351023d48f19.png">

[2017-05-26 18:25] #2144 closed

[2017-05-26 18:46] kierachell commented on #1581
**PASSED**

[2017-05-26 18:46] #1581 closed

[2017-05-26 18:51] kierachell opened #2171 "Document List | Make Search Great Again"
## Searching by date
![datesearch](https://cloud.githubusercontent.com/assets/18075411/26508329/5e878b5a-4222-11e7-973d-0d56bb629177.gif)

## Tokenization between spaces is awkward; why not `,` or `;` or `/`?
![searchspace](https://cloud.githubusercontent.com/assets/18075411/26508342/65f46480-4222-11e7-87c3-9c260b1aa311.gif)

## Search empty state has `.` in the `"` marks.
<img width="60" alt="scr

[2017-05-26 18:57] wturne commented on #2087
@shellicious - Agreed, it looks good to me too.

[2017-05-26 19:10] NickHeiner commented on #1675
![image](https://cloud.githubusercontent.com/assets/829827/26509091/40c53c4a-4225-11e7-83ac-4d01e9e0ee96.png)

This issue is clearly aXe's fault. It complains that our element does not have an `aria-label` attribute, but it does.

We should see if we can repro this with a failing test case in [aXe](https://github.com/dequelabs/axe-core) and fix their bug. If not, maybe there is a way to ignore thi

[2017-05-26 19:18] kierachell commented on #2050
Actually; chatted with @cmgiven

## We are returning multiple cavc decisions for each issue on the same date; it should be unique per date, because there's actually only one decision (just multiple issues)
[code]

[2017-05-26 20:00] #1913 closed

[2017-05-26 20:08] gnakm commented on #1966
One thing Mark and I talked about is having feedback for when we try again on our end.
Curious to know if the delete comment one is a bit excessive?

|Actions|Processing|Error alerts|
|----|-----|----|
|Annotation handlings|When we try to save from our end|When we fail|
|Save new comment|![image](https://cloud.githubusercontent.com/assets/13420618/26508858/620824e0-4224-11e7-82ff-72ec3f825e5b.png)

[2017-05-26 20:22] lakohl commented on #2168
@shanear this is for your train ride...

[2017-05-26 20:54] gnakm opened #2172 "Document List"

[2017-05-26 21:01] gnakm opened #2173 "Document List | Jump to section error"
Story
Currently when you jump to a section from the expanded comment section in the document list page, it always jumps to the first page of the document.

## AC
- [ ] Verify that when you click jump to section, it lands on the appropriate page in the document viewer.

[2017-05-26 21:41] gnakm opened #2174 "Documents List | Search: empty search"
**Description**
It seems like overkill to show the "no results found" view if a user has only typed a space.

## AC
- If a user types a space (or multiple spaces with no other characters), we do not perform a search, as if the field is completely blank -- we do NOT show them the "no search results found" view, and the documents list is unchanged.

## Related Issue
#2171

[2017-05-26 21:42] gnakm commented on #2171
@mdbenjam So, Artem has a lot of concerns.

- We already have an issue for searching by date: #1789
- `,` , `;`, `/` - I think this sorta goes hand in hand with the form 9 giphy above.
  Currently, our search is "or" but it's throwing users off. Heard about 2 other times a user typed in "form" and when they typed "9," more information showed up because it picked up on receipt dates. I don't know i

[2017-05-27 21:10] kierachell opened #2175 "Document Viewer | Saving ` ` annotation causes DB error"
# Description
When a user attempts to save a purely blank comment = ` `,
Then whitespace validation happens on the DB level, which will always cause a sentry alarm,
probably don't want that.

## Reproduction Steps

**Scenario 1 -**

1. Go to view documents
1. Start making a new comment
1. Put in ` `
1. Attempt to save.
1. Get Sentry error and scare @askldjd

**Validated in the following Envrionmen

[2017-05-29 13:52] slj commented on #1936
Solution in action:

![link_to_missing_docs](https://cloud.githubusercontent.com/assets/1053255/26552284/803375be-4454-11e7-9081-6b35542bf832.gif)

[2017-05-29 19:29] Sjones352 commented on #1423
<img width="782" alt="screen shot 2017-05-29 at 3 28 08 pm" src="https://cloud.githubusercontent.com/assets/23080951/26560324/886de17c-4483-11e7-8995-549a516cc337.png">

[2017-05-30 13:45] kierachell commented on #1984
**PASSED**
Yeah, it's faster:
![fastprerender](https://cloud.githubusercontent.com/assets/18075411/26586282/be0c8d6c-451c-11e7-8e39-22d567c79a94.gif)

[2017-05-30 13:45] #1984 closed

[2017-05-30 13:50] kierachell commented on #1982
**PASSED**
I guess we're checking if network calls are being made on previously rendered documents? is that the AC here?
![network calls](https://cloud.githubusercontent.com/assets/18075411/26586494/4fa205e0-451d-11e7-8863-bc47404bab41.gif)

[2017-05-30 13:50] #1982 closed

[2017-05-30 14:24] kierachell commented on #2154
Same for categories
<img width="430" alt="screen shot 2017-05-30 at 10 24 23 am" src="https://cloud.githubusercontent.com/assets/18075411/26588051/2c9b7dc4-4522-11e7-9561-350e66b959d2.png">

[2017-05-30 14:57] shanear commented on #1916
confirmed this is working. Sent instructions to #appeals-status on slack.

[2017-05-30 16:21] aroltsch commented on #2090
`vacols_representative_type` should also be updated.

[2017-05-30 16:35] astewarttistatech commented on #1085
This component isn't visible currently in UAT. Please move this issue back when it has been deployed. @Sjones352

[2017-05-30 16:39] kierachell commented on #2049
NICE
[code]

NICE!!!
[code]

## What if I disable feature toggle; should the API be even callable?
[code]

[2017-05-30 16:41] kierachell commented on #1916
[code]
Whatever was posted didn't work

[2017-05-30 16:43] astewarttistatech commented on #2080
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access the style guide
2. Manipulate the scrolling for the main content and navi-menu.
3. Validate the behavior based on the AC

Screenshots:
![scroll](https://cloud.githubusercontent.com/assets/23038505/26594433/985bd4d8-4535-11e7-9caf-2c2c7dbe3161.gif)

[2017-05-30 16:43] #2080 closed

[2017-05-30 16:53] astewarttistatech commented on #2045
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Login with indicated user
2. Access /hearings/dockets/

Screenshots:
<img width="1033" alt="screen shot 2017-05-30 at 12 52 56 pm" src="https://cloud.githubusercontent.com/assets/23038505/26594782/0b87f878-4537-11e7-8589-f7c3c42660f1.png">

[2017-05-30 16:53] #2045 closed

[2017-05-30 16:56] astewarttistatech commented on #1883
**PASSED**

Validated: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access /hearings/dockets
2. Login with the indicated user

Screenshots:
<img width="1033" alt="screen shot 2017-05-30 at 12 52 56 pm" src="https://cloud.githubusercontent.com/assets/23038505/26594859/5d13503e-4537-11e7-925f-1cf60ca8df0c.png">

[2017-05-30 16:56] #1883 closed

[2017-05-30 16:59] aroltsch commented on #2101
Blocked by https://github.com/department-of-veterans-affairs/caseflow/pull/2157

[2017-05-30 17:22] astewarttistatech commented on #1954
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access reader with large documents
2. Validate that the total page count appears at the bottom of the page
3. Validate the amount of pages in the document

Screenshot:
<img width="799" alt="screen shot 2017-05-30 at 1 20 19 pm" src="https://cloud.githubusercontent.com/assets/23038505/26595938/fce191fe-453a-11e7-92bc-722d6

[2017-05-30 17:22] #1954 closed

[2017-05-30 17:24] mdbenjam opened #2179 "FeatureFlag | Update feature flag user check to be case insensitive"
Currently our feature flag for whitelisted users is doing a check for whether a user with a known css_id is logging into the system. After the recent CSS bug where people were not able to access Reader due to the change in CSS_ID capitalization, we should be case insensitive in our checks.

[2017-05-30 17:25] astewarttistatech commented on #1973
**Failed** There is no next and previous buttons and their corresponding arrows. @NickHeiner

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access reader
2. Validate progress indicator against AC and mocks

Screenshots:
<img width="799" alt="screen shot 2017-05-30 at 1 20 19 pm" src="https://cloud.githubusercontent.com/assets/23038505/26596012/4da89d58-453b-11e7-8823-5d372c3d3d2

[2017-05-30 17:44] Sjones352 commented on #1843
<img width="1180" alt="screen shot 2017-05-30 at 1 37 24 pm" src="https://cloud.githubusercontent.com/assets/23080951/26596817/01699700-453e-11e7-925c-491bedb972b3.png">

[2017-05-30 17:52] shanear commented on #1916
The ApiKey got wiped before my PR got deployed i think. Fixed the key on the message in the #appeals-status channel.

[2017-05-30 18:19] gnakm commented on #1843
@Sjones352
Could you decrease the space between the loader and the copy by 40px?
Could you make sure Gathering information in VBMS now... is center-aligned with the loader?

[2017-05-30 18:23] kierachell commented on #1916
**PASSED**
worked this time

[2017-05-30 18:23] #1916 closed

[2017-05-30 18:28] laurjpeterson commented on #2087
@shellicious - Thanks for writing this up! Noticed one small thing:

For #5: should "Caseflow will tell you it cannot find documents in VBMS if it cannot detect these documents." be "Caseflow will tell you if it cannot find these documents in VBMS."

[2017-05-30 18:34] gnakm opened #2181 "Document list | Filter alert enhancement"
**Story**
As a user, I want to have more clear and accurate information about filtered documents list.

## AC
- [ ] Verify that new copy is in information alert when documents list is being filtered.
- [ ] Verify that copy lists, in italics, the categories and issue tags the documents are being filtered by.
- [ ] Verify that 'clear all filters' is a link that allows users to clear filters and see

[2017-05-30 18:35] shellicious commented on #2087
Good work, Lauren "Eagle Eyes" Peterson! @laurjpeterson, I'll fix the typo!

[2017-05-30 19:14] slj commented on #2031
For consistency, going with link "View Canceled Tasks" instead of "...Cancelled..."

[2017-05-30 19:46] slj commented on #2031
Solution in action (Connects #2030 as well):

![link_to_canceled_eps](https://cloud.githubusercontent.com/assets/1053255/26601745/0bca8a7c-454f-11e7-9992-160e63879e24.gif)

[2017-05-30 20:03] lakohl opened #2185 "Design Meeting 6/1"
Add your issues here:

| Topic 💡 | Time 🕚  | Who 👯 |
|-------------------- | ------ | --- |
Design Issue Checklist | 5 mins | Gina
V2 pilot usability/discovery questions | 10 mins | Shelly
Style guide topics | 5 mins | Shelly/anyone
Appeals-design-research folder structure | 5 mins | Shelly/Phillip
Consistent Versioning | 3 mins | Phillip

[2017-05-30 20:28] amprokop commented on #2098
@sharonwarner — let's huddle and think of a list of test scenarios for this tomorrow!

[2017-05-30 21:38] kierachell commented on #1936
**PASSED**
<img width="578" alt="screen shot 2017-05-30 at 5 37 13 pm" src="https://cloud.githubusercontent.com/assets/18075411/26606126/bb7904e4-455e-11e7-9253-61830866aaa6.png">
<img width="829" alt="screen shot 2017-05-30 at 5 37 26 pm" src="https://cloud.githubusercontent.com/assets/18075411/26606127/bb7bdd04-455e-11e7-8e2c-579bb73fae9c.png">

[2017-05-30 21:38] #1936 closed

[2017-05-30 22:19] kierachell opened #2187 "Establish Claim Full Grant Test | Travis Master Build Failing"
## So I looked at the commits to master lately
<img width="159" alt="screen shot 2017-05-30 at 4 29 29 pm" src="https://cloud.githubusercontent.com/assets/18075411/26607344/0a5ac908-4564-11e7-9e4b-720638f6869a.png">

## Most of the failing builds are in Dispatch:
[code]
- Travis is nice enough to provide potential solutions in the link above:
https://docs.travis-ci.com/user/common-build-problems/#

[2017-05-30 22:22] NickHeiner commented on #1966
Why do we have the spinners for the processing state? Our convention thus far has been to optimistically update the UI, and only show the error state if the action fails.

[2017-05-30 22:24] NickHeiner commented on #1973
The "next" and "previous" buttons are not in the AC. They are in the mocks, because it's part of an overhaul of the toolbar, but for this ticket, they're not in scope.

@gnakm @abbyraskin we could have been clearer about the mock being a superset of the ACs. :smile:

[2017-05-30 22:28] lakohl commented on #1936
I realize this was not in the AC, but can we make the page title for Claims Missing Decisions = 'Claims Missing Decisions'?

[2017-05-30 22:36] gnakm commented on #1973
@astewarttistatech yes Nick is right about this being the subset of a bigger section. This is specifically for the Document # of total documents.

[2017-05-30 22:41] gnakm commented on #1966
@NickHeiner I had a chat with @mdbenjam about this and I may have totally misinterpret it when we talked about us taking time to update the UI. The process is for when it's taking a long time for us to retry some of these actions. My followup question is how long would that take and also, do we have to account for any latencies? The spinners may generally be excessive for these situations but a pr

[2017-05-30 23:01] kierachell commented on #2030
**PASSED**
<img width="971" alt="screen shot 2017-05-30 at 6 59 25 pm" src="https://cloud.githubusercontent.com/assets/18075411/26608573/4e471486-456a-11e7-8285-8261fae20b46.png">

[2017-05-30 23:01] #2030 closed

[2017-05-30 23:21] kierachell commented on #2050
**PASSED**
[code]

[2017-05-30 23:21] #2050 closed

[2017-05-30 23:49] kierachell opened #2188 "Sidekiq | create_establish_claim_tasks_job loses connection to VACOLS"
## Midnight job randomly loses connection to VACOLS in UAT
[code]

## Upon 1-2 retries, the connection is re-established:
[code]

## There are 3 UAT instances and only one succeeds to run queries:
```Instance:  i-0aa1f2ba2cb456ed2 (dsva-appeals-certification-uat)Private IP: 172.30.67.120```
[code]
Both fail

 ```Instance:  i-047d6e2df8528e162 (dsva-appeals-certification-uat)Private IP: 172.30.71.1

[2017-05-31 00:35] abbyraskin commented on #1973
Sorry for the confusion.

[2017-05-31 00:45] kierachell commented on #2188
## Thanks to @ToddStumpf - it was just some orphaned UAT instance

[code]
[code]

[2017-05-31 00:45] #2188 closed

[2017-05-31 00:45] slj commented on #1936
@lakohl I'll create an issue to make the change once https://github.com/department-of-veterans-affairs/caseflow/pull/2184 is merged.

[2017-05-31 04:43] joofsh commented on #2012
@kierachell can we validate this first thing in the morning please. Thank you!

[2017-05-31 05:06] slj opened #2191 "Change window title for Missing Decisions and Canceled EPs"
As requested [here](https://github.com/department-of-veterans-affairs/caseflow/issues/1936#issuecomment-305026962), when the ARC manager clicks "View Claims Missing Decisions", a new tab/window should open with the title "Claims Missing Decisions".  Likewise, when "View Canceled EPs" is clicked, the new tab/window should open with the title "Canceled EPs".

[2017-05-31 05:57] slj commented on #2191
Solution in action:

![tabs_are_titled](https://cloud.githubusercontent.com/assets/1053255/26617693/887e10a2-45a4-11e7-88ca-b40ffdd0aad1.gif)

[2017-05-31 12:07] nikitarockz commented on #407
@shanear I have already submitted a request for adding links.  Would you like me to hold off until you can get a Manager link?  Right now I gave the same link for both.

[2017-05-31 12:50] kierachell commented on #2012
## Cannot release claim?
[code]
<img width="988" alt="screen shot 2017-05-31 at 8 47 48 am" src="https://cloud.githubusercontent.com/assets/18075411/26632430/2a772ee6-45de-11e7-8d60-ecf380e2dc94.png">

[2017-05-31 14:50] astewarttistatech commented on #1085
@gnakm Those mocks are a tad bit confusing, since I really cannot reference that layout. Could you ditch it?

[2017-05-31 14:56] shanear commented on #2091
A couple other advantages of using efolder express is that we get all the permissions logic & sensitivity checking which is nice.

[2017-05-31 14:56] NickHeiner commented on #1966
Let's chat synchronously about this.

[2017-05-31 15:21] shellicious commented on #2185
I'd also like to talk about the use of the "Required" tag on form field questions. In particular: if all of the questions on a page are required, do we need to show "Required" on every question? I'm adding a general "Style guide topics" agenda item to cover that and any other style guide things folks might want to talk about. cc @gnakm @lakohl

[2017-05-31 15:31] gnakm commented on #2185
@shellicious Great question -- let's talk about it manana~

[2017-05-31 15:47] shanear commented on #2091
I think the TLDR here is (correct me if I'm wrong, @mdbenjam):

**We need to support downloading all the documents in a folder before-hand asynchronously for a variety of reasons. How should we do this?**

Options:
1) Use eFolder Express
2) Do it in Caseflow

We should separate this decision from the decision on how to integrate with DAS. The integration with DAS just complicates the decision.

[2017-05-31 15:58] shanear commented on #2091
I'm very partial to option 1 for the following reasons:

a) We don't need to duplicate logic. There is a ton of permissions logic and integration logic that we can avoid.
b) This allows us to possibly move eFolder Express front end into Caseflow (or into its own repo?). Which can be the first step in potentially splitting our front-end and back-end over an API. It also allows us to consolidate our

[2017-05-31 16:00] astewarttistatech commented on #1085
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access the living style guide
2. Navigate to the layout section
3. Validate the UI and copy against the AC and mocks.

Screenshots:
![screen shot 2017-05-31 at 10 27 24 am](https://cloud.githubusercontent.com/assets/23038505/26641485/c0be5860-45f8-11e7-9bd9-b3f9ed799d6d.png)

[2017-05-31 16:00] #1085 closed

[2017-05-31 16:04] #1973 closed

[2017-05-31 16:36] astewarttistatech commented on #2191
This will be tested after UAT dispatch testing

[2017-05-31 16:49] astewarttistatech commented on #2134
**Failed** @slj field gets cleared entirely if a "+, . or e" is entered into the field anywhere (between numbers and after them)

Current view:
![inlineform](https://cloud.githubusercontent.com/assets/23038505/26643484/79659198-45ff-11e7-847c-9338a4f5a480.gif)

[2017-05-31 17:23] kierachell commented on #2134
**PASSED**
![validation](https://cloud.githubusercontent.com/assets/18075411/26644906/5767f7ca-4604-11e7-9b1d-26c01f4247fd.gif)

[2017-05-31 17:23] #2134 closed

[2017-05-31 17:55] astewarttistatech commented on #2031
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Dispatch as a manager after tasks have been completed.
2. Validate the link for canceled EPs has been created

Screenshots:
![caseflow dispatch](https://cloud.githubusercontent.com/assets/23038505/26646221/d4f53dca-4608-11e7-874a-449f9216f4b6.png)

[2017-05-31 17:55] #2031 closed

[2017-05-31 18:04] astewarttistatech commented on #2191
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Dispatch as a manager with claims established
2. On the manager dashboard select the option for "View Claims Missing Decisions" under BVA Reports subheading
3. Validate that a whole new tab/window opened.

Screenshots:
![missingclaims](https://cloud.githubusercontent.com/assets/23038505/26646529/fdd1ba9c-4609-11e7-

[2017-05-31 18:04] #2191 closed

[2017-05-31 19:33] kierachell commented on #2090
## No POA found error:
[code]

[2017-05-31 20:06] kierachell commented on #1894
## The error type is not initialized, so there is a 500 but for a wrong reason
[code]

[2017-05-31 21:53] amprokop commented on #2090
Cool, looks like we have to handle that error.

[2017-05-31 22:26] amprokop commented on #1894
@nemodjuric — can you take a look at this?

[2017-05-31 22:45] amprokop commented on #2090
@aroltsch — think you might have time to take this on in the next couple days?

[2017-05-31 23:09] Sjones352 commented on #1843
<img width="1217" alt="screen shot 2017-05-31 at 7 08 18 pm" src="https://cloud.githubusercontent.com/assets/23080951/26657887/acdb51b8-4634-11e7-9ed9-6274118c8feb.png">

[2017-05-31 23:44] kierachell opened #2195 "Form 8 | Certification Date no longer passed to the PDF"
# Description
When filling out old Form 8,
the Certification date is no longer passed to the PDF,
makes people sad.

## Reproduction Steps

**Scenario 1 -**

1. Go to Certification v1
1. Fill out all the fields with whatever
1. Observe Date for question 17c
1. Preview Form 8 (old version)
1. Not see the Date
1. Be sad
1. Find out that new Form 8 also doesn't get the date...
1. Be real sad.

**Scen

[2017-06-01 00:29] kierachell commented on #2085
## Trying to learn about document dates doesn't scroll to the actual section in Help
<img width="849" alt="screen shot 2017-05-31 at 8 22 07 pm" src="https://cloud.githubusercontent.com/assets/18075411/26659486/f3a13748-463e-11e7-9b47-dd513b2d119e.png">

## Multiple SSOCs with the same date are validated against the same VBMS document
- If VACOLS has SSOC1 and SSOC2 dates that are the same-ish
- A

[2017-06-01 00:33] kierachell commented on #1889
## If SSOC dates in VACOLS are within the fuzzy time and there's _one_ SSOC document in VBMS then it matches to both VACOLS dates?
<img width="951" alt="screen shot 2017-05-31 at 8 32 18 pm" src="https://cloud.githubusercontent.com/assets/18075411/26659668/552e69f8-4640-11e7-8ebc-9d4104800b1b.png">

<img width="809" alt="screen shot 2017-05-31 at 8 27 25 pm" src="https://cloud.githubusercontent.co

[2017-06-01 00:53] aroltsch commented on #2090
@amprokop I have time

[2017-06-01 01:21] amprokop commented on #2090
we should discuss how to solve this in Ruby-bgs potentially!
On Wed, May 31, 2017 at 20:53 Anya Roltsch <notifications@github.com> wrote:

[2017-06-01 14:15] astewarttistatech commented on #2018
**PASSED**

Validated in: UAT
Browser: FF and Chrome

Steps to Validate:
1. Access a veteran's documents in Reader. (Must have more than 2)
2. Validate that the Receipt Date has a arrow facing up (UI indicator that the sort is on)
3. Manually validate that the order of the documents is by newest Receipt Date to oldest.

Screenshots:
<img width="1107" alt="screen shot 2017-06-01 at 10 07 11 am" src

[2017-06-01 14:15] #2018 closed

[2017-06-01 14:17] lakohl commented on #2185
wrong repo, my bad moving this to: https://github.com/department-of-veterans-affairs/appeals-design-research/issues/249

[2017-06-01 14:17] #2185 closed

[2017-06-01 14:17] kierachell opened #2197 "Release Claim | Unable to release for Foreign Pension"
# Description
When processing a claim and assigning SIC - Foreign pension, DIC (the one that cannot be process in Caseflow),
I am unable to release the claim - have to cancel.

## Reproduction Steps

**Scenario 1 -**

1. Go to Establish next claim
1. Review decision and add *Foreign pension, DIC* SIC
1. Attempt to move on
1. Try to *Release claim*
1. Get error

**Validated in the following Envrion

[2017-06-01 14:22] kierachell opened #2198 "Existing EPs | How to handle recently cancelled EPs"
This is an investigation - so I consider it a bug because I have no clue if any of the things below are "features".

### VBMS throws an error message when we try to create an EP when one was cancelled that same day.

[code]
- If you go into VBMS you won't find that EP/code
- There is a 24-ish hour cache in VBMS that won't allow you to create an EP with the same modifier if one was cancelled that s

[2017-06-01 14:24] kierachell commented on #2012
**PASSED**
Didn't kill anyone in prod;
made new issues from whatever is actually happening

[2017-06-01 14:24] #2012 closed

[2017-06-01 14:25] lakohl commented on #2198
@abbyraskin digging into your memory on this. If I recall correctly, cleared EPs are ones where the work is completed - correct? As a result, we should not be able to assign them?

[2017-06-01 14:27] astewarttistatech commented on #2147
@shanear @cmgiven How would this be tested?

[2017-06-01 14:29] kierachell opened #2199 "API | Health-Check call somehow propagates to API endpoint?"
So there's a constant spam in all production environments that is returning the `Serializer` null render.
The only serializer we have is from the `API`.
Is this because `API` has an `ApplicationController`?
Or because it's initialized weird...

WHY! :D

[code]

[2017-06-01 14:31] cmgiven commented on #2147
Ensure that the second and subsequent requests with the same SSN, made on the same day, do not result in new queries hitting VACOLS.

[2017-06-01 14:35] lakohl commented on #2198
@abbyraskin ignore the comment above. Apparently we do support this functionality currently.

[2017-06-01 15:26] amprokop opened #2202 "Cancel Certification link should not have white background on hover"
![image](https://cloud.githubusercontent.com/assets/3781835/26687143/0b9101c0-46bd-11e7-97ca-89777f488698.png)

[2017-06-01 15:32] mdbenjam commented on #1999
@gnakm I think that's doable. We'd have to create new DB entries, but that could lead to some interesting data so I think it's worth doing.

[2017-06-01 16:08] avrildavid commented on #2087
https://github.com/department-of-veterans-affairs/appeals-training/blob/master/Certification%20V2/Cert%20v1%20FAQs_for%20editing.docx - revised FAQs are living here at the moment.  Includes changes following our 5/31 review meeting.

[2017-06-01 16:22] mdbenjam opened #2203 "IE | Add warning banner to use Chrome"
Add a warning banner to the top of Reader to say that Reader is not supported on IE, and that users should use Chrome.
## AC
- Use Warning banner [Current style guide issue](https://github.com/department-of-veterans-affairs/caseflow/issues/1084), [USWDS](https://standards.usa.gov/components/alerts/)

## Mock up
![image](https://cloud.githubusercontent.com/assets/13420618/26695830/518c348e-46da-11e

[2017-06-01 17:34] amprokop opened #2204 "Form 8 date is being transposed: "06/01/2017" becomes "01/06/2017""
See report here: https://github.com/department-of-veterans-affairs/appeals-support/issues/172

### Acceptance Criteria ###
- Form 8 date matches the date the user entered on Certification v1

[2017-06-01 18:26] mmlumba commented on #2092
@abbyraskin What should the text say (or should there even be a banner) if the user scrolls to the end of the last document in their list, or if the user scrolls to the beginning of the first document in the list?

[2017-06-01 18:54] abbyraskin commented on #1974
Note: now that we're using Chrome instead of Firefox, we should check what's enabled/tracked.

[2017-06-01 18:55] NickHeiner commented on #2203
Before we put this in, can we spend a few moments trying to fix it in IE? It may be that we can fix the root cause.

Also, how do we plan on determining what browser the user is on? UA sniffing can be really brittle.

[2017-06-01 18:58] shellicious opened #2206 "[V2] Scenarios in demo environment for V2 NYC pilot training"
We should prepare the following scenarios in the demo environment for the V2 training session in NYC on Monday, 6/12/17:

Situation 1 [This one is close to the current path in demo]
- Step 1: Documents match.
- Step 2: VBMS and VACOLS do not match (user can pick either to move forward, or select a representative manually and see the range of options (Attorney/Agent/Other/Service organization that

[2017-06-01 19:21] amprokop commented on #2206
[code]

@shellicious ^ do you mean that we want a scenario where the user goes to an ID, then sees a mismatch, then refreshes the page and the docs are then matching? that will be kinda difficult. we already have `456C`, an id where the documents are not matching—any chance we can just use that, and then have Step 1 of Situation 2 just show matching docs?

[2017-06-01 19:31] astewarttistatech commented on #2154
**Failed**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:

1. Access Reader
2. Open a document and verify the top toolbar's back button

Screenshot:
<img width="1003" alt="screen shot 2017-06-01 at 3 28 36 pm" src="https://cloud.githubusercontent.com/assets/23038505/26697257/4cb1f9b2-46df-11e7-9b93-da32ee6bf0c1.png">

[2017-06-01 19:37] astewarttistatech commented on #2022
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Reader
2. Access a document
3. Validate the download button in the top toolbar.

Screenshots:
<img width="1003" alt="screen shot 2017-06-01 at 3 28 36 pm" src="https://cloud.githubusercontent.com/assets/23038505/26697477/3278d65a-46e0-11e7-82a4-8989606ae7c7.png">

[2017-06-01 19:37] #2022 closed

[2017-06-01 20:00] mdbenjam opened #2207 "Annotation | Add created_at updated_at times to annotation table"

[2017-06-01 20:01] abbyraskin commented on #1985
per a user's feedback, this is still happening, at least in IE.

[2017-06-01 20:11] joofsh commented on #1675
Reader zoom test is often failing for me locally on master:
<img width="1655" alt="screen shot 2017-06-01 at 4 10 55 pm" src="https://cloud.githubusercontent.com/assets/2256237/26698688/ebbedb60-46e4-11e7-8917-5368aa8a7c77.png">

[2017-06-01 20:28] amprokop opened #2208 "Rename all instances of “UnconnectedComponent” to just “Component”, and `export default` those classes"
This is an example of our currently preferred style.
[code]

[2017-06-01 21:17] shellicious commented on #2206
@amprokop that sounds good to me for showing mismatched docs. The other thing situation 2 shows is the edge case in which "VBMS" is selected, but the user still has to manually add the address in VACOLS.

We could leave Situation 1 unchanged, then ask users to view the mismatched docs page, then ask them to do Situation 2 with starting with matching docs.

I'll update the situations accordingly

[2017-06-01 21:28] shellicious commented on #2206
Update: got rid of situation 3 (VBMS/VACOLS data matches) since it can be explained easily with words, added a stub of a situation (calling it Situation 2) for seeing the mismatched documents page.

[2017-06-01 21:49] NickHeiner commented on #1974
I don't see any GA hits for Reader today. Odd.

[Analytics Caseflow All Web Site Data Overview 20170601-20170601.pdf](https://github.com/department-of-veterans-affairs/caseflow/files/1046129/Analytics.Caseflow.All.Web.Site.Data.Overview.20170601-20170601.pdf)

[2017-06-01 22:44] askldjd opened #2211 "Enhancement: Display site degradation banner automatically"
As a user, I would like to be informed that Caseflow's dependencies may be experiencing an outage so I can decide whether to continue using Caseflow or come back later.

This may take the form of a site-wide banner, a modal, or a page that we redirect to.

### Potential copy ###
"We've detected some issues with the systems that Caseflow depends on. We're aware of the issue and will remove this mes

[2017-06-01 23:00] gnakm opened #2212 "Style guide | Buttons"
**Story**
As a developer and designer, I want an easy way to see what the buttons should look like across Caseflow apps!

## AC
- [x] Verify that these components are in the Buttons section of style guide
- [x] Verify that there are two subsections, Primary and Secondary with the appropriate buttons (see mock below)
- [x] **_NOTE: Take out the grey button at the bottom. That may be used for future

[2017-06-02 00:02] kierachell opened #2213 "Check Documents | We are not checking BFMPRO to be `ADV` to determine whether appeal is ready to certify"
After a `BRIEFF`ing from @cmgiven it has been determined that we're sorta "just trusting VACOLS" to give us Appeals ready to certify:

- The following appeal with `HIS` status:
[code]
- Shows up just fine in Certification
<img width="1023" alt="screen shot 2017-06-01 at 7 58 01 pm" src="https://cloud.githubusercontent.com/assets/18075411/26705587/f8427fd4-4704-11e7-8880-87a906200434.png">

- Even

[2017-06-02 00:09] mdbenjam opened #2214 "DAS | Create DAS repository"
We'll need to pull information from DAS to complete several tasks, here we'll create a DAS repository to interface with what cases have been assigned to whom. In VACOLS DAS is represented by the DECASS table.

Some notes about DECASS:

IN STAFF
SATTYID - 4 digit attorney id
SLOGID is the CSS_ID (or VACOLS ID)

IN DECASS
DEATTY - 4 digit attorney id
DEFOLDER - BFKEY
DEASSIGN - When the case was ass

[2017-06-02 00:17] kierachell commented on #2061
You might be getting
[code]
As they are not really handled at `ruby-bgs` level right now

[2017-06-02 00:18] kierachell commented on #2085
**PASSED**
based on updated AC

[2017-06-02 00:18] #2085 closed

[2017-06-02 01:31] kierachell commented on #2147
**PASSED**
Add `?reload=true` at the end of the query to force a reload:
[code]

without `reload`
[code]

@shanear the 24 hr timeout will have to be validated in prod

[2017-06-02 01:31] #2147 closed

[2017-06-02 01:33] kierachell commented on #2049
[code]

Why is this one returning `{}`?

It's in VACOLS!:
[code]

[2017-06-02 01:39] kierachell commented on #1891
So this caused the `prod` issue with Date field and there has been no directive to change the formatting;

@amprokop how _exactly_ should the date be formatted?
- old
<img width="553" alt="screen shot 2017-06-01 at 3 45 27 pm" src="https://cloud.githubusercontent.com/assets/18075411/26707410/a8e26810-4712-11e7-9638-af5af83d3d9d.png">

<img width="1137" alt="screen shot 2017-06-01 at 3 45 56 pm" sr

[2017-06-02 01:44] kierachell commented on #2054
## Are we handling going back and editing values?
![poaselect](https://cloud.githubusercontent.com/assets/18075411/26707495/49a473ba-4713-11e7-9426-6c0f87e8483c.gif)

1. Select "Matches"
1. Click *Continue*
1. Go back
1. Select "Not Matches"
1. Select "VBMS" <- sets value to `true`
1. Click *Continue*
1. Go back
1. Click "Matches"
1. Click *Continue*
1. Observe that `poa_correct_in_bgs?` is still

[2017-06-02 12:20] aroltsch commented on #2090
@kierachell Re: https://github.com/department-of-veterans-affairs/caseflow/issues/2090#issuecomment-305661020. This a question to @amprokop and @cmgiven. We only look up the REP table if brieff.bfso has the following code: Other (code: "O"), Attorney (code: "T"), Agent (code "U"), or One Time Representative (code: "W") .

In the case you described above for vacols_id 888901, the brieff.bfso has a

[2017-06-02 12:26] cmgiven commented on #2213
I have a very low pun tolerance.

[2017-06-02 12:49] kierachell commented on #2090
So the *AC* should say:
- do not even look at `REP` table when `BFSO=L`

[2017-06-02 13:36] kierachell commented on #2049
**PASSED**
After a discussion with @shanear (and based on a _word_ from @cmgiven ) we can trust BFCORLID to be reliable
[code]

[2017-06-02 13:36] lakohl opened #2216 "Implement new styling for Veteran Name and ID"
As a user, I would like to see consistent styling of the Veteran Name and ID across Caseflow apps.

## AC
1. Verify that the veteran name and ID number currently to the the right of the application name 'eFolder Express' are removed.
1. Verify that the user name displays in title case, 17px, color #5B616B
1. Verify that the Veteran Name is left aligned and displays in all caps, 22px, color #323A44

[2017-06-02 13:42] gnakm commented on #2092
@mmlumba I don't think we need anything for beginning and end because we have those page indicators that show where users are.

[2017-06-02 13:48] gnakm commented on #1843
lgtm! 👍

[2017-06-02 13:49] lakohl commented on #2216
In cases where there already a box/border under the Vet Name and ID, we can elect to add a line with the it's pre-assigned padding of 40px.

<img width="714" alt="screen shot 2017-06-02 at 9 32 24 am" src="https://cloud.githubusercontent.com/assets/4975959/26728605/c6c5d84c-4778-11e7-9180-47340fbb5e28.png">

<img width="679" alt="screen shot 2017-06-02 at 9 33 14 am" src="https://cloud.githubuserc

[2017-06-02 13:50] kierachell commented on #2049
## We're still expecting _something_ for SSN
`{"errors":[{"status":"500","title":"Unknown error occured","detail":"undefined method `length' for nil:NilClass (Sentry event id: 6db84a18bd6f45d2b4708db4a5db347c)"}]}`

[code]
from
[code]

[2017-06-02 13:51] kierachell commented on #2146
**PASSED**
Seeing BGS calls.

[2017-06-02 13:51] #2146 closed

[2017-06-02 14:06] astewarttistatech commented on #1996
**Failed**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Reader
2. Access a document in Reader
3. Validate the behavior and UI of the top toolbar redesign against mocks and AC

Screenshots:
<img width="1002" alt="screen shot 2017-06-02 at 10 01 28 am" src="https://cloud.githubusercontent.com/assets/23038505/26729226/ea92c602-477a-11e7-810e-394764bf7556.png">

[2017-06-02 14:07] gnakm commented on #2216
This is great and I like the use of the horizontal line. 40px makes the most sense because as you mentioned we have the margin-bottom padding for the horizontal line. I do get a little concerned that the canvas is pushed down a lot and content won't be visible.

[2017-06-02 14:17] gnakm commented on #1996
I think the back arrow looks fine but @mmlumba could we move it 1px down so that it looks more center aligned with the back to all documents button link?

[2017-06-02 14:19] lakohl commented on #2216
@gnakm I had/have the same concern, though I realize we use 40px padding on top in bottom in Certification today. Here are examples with 30px, let me know if you prefer them.

<img width="752" alt="screen shot 2017-06-02 at 10 14 14 am" src="https://cloud.githubusercontent.com/assets/4975959/26729664/4d03a044-477c-11e7-891c-2fac3b9145a7.png">
<img width="743" alt="screen shot 2017-06-02 at 10 13 5

[2017-06-02 14:21] gnakm commented on #2216
I like it wayyyy better! Does that mean we should change horizontal margin-bottom to 30px? Cue: Angry devs 😬

[2017-06-02 14:24] astewarttistatech commented on #1843
**PASSED**  @gnakm Should the message under the loader be centered?

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access the living style guide
2. Navigate to the Loaders section
3. Validate the UI against the AC displayed in the ticket

Screenshots:
![loaders](https://cloud.githubusercontent.com/assets/23038505/26730036/ab015514-477d-11e7-8e15-4321fb0c59a2.gif)

[2017-06-02 14:25] #1843 closed

[2017-06-02 14:40] amprokop commented on #2211
We'll have a discussion on this next Tuesday, June 6th after standup.

[2017-06-02 14:44] amprokop commented on #2211
@shellicious is planning to produce a mockup before then to aid discussion! can you post it in here once complete, shelly?

[2017-06-02 14:54] askldjd commented on #2211
And adding a bit more background.

- VBMS prod has been down for the past 3 weekends for maintenance and upgrade. Our Dispatch user were experiencing failures on Saturday.

- BGS/Siteminder prod has gone down twice in May during business hours. During the outage, I was about 30min to 1 hour behind on taking the site down.

On each occasion, we have received a number of error 500s. If we can give u

[2017-06-02 15:07] cmgiven commented on #2211
So this is not the same as taking the site offline, as does the manual toggle today? This would instead be warning users that they may experience issues?

For the message, could we change "server issues" to something like "issues with the VA systems that Caseflow depends on" and change "we are working on it" to something like "we're aware of the issue and will remove this message when functionalit

[2017-06-02 15:32] joofsh commented on #2032
@kierachell For now QA can just be:
1) Did the new columns get added to hearings, did the new issue table get created?

[2017-06-02 15:39] joofsh opened #2218 "Create "Hearing Worksheet" page"
As a judge, I would like to see detailed information about a Veteran and their hearing, and be able to take notes on the hearing.

## AC:
- Page renders and is styled properly.
- Data is hardcoded for now

Technical Notes:
  - ignore rep name for now
  - No need to hook up the page to redux store yet
  - we don't need to save the values to the DB
  - For SSOC documents, show the newest date only

[2017-06-02 15:53] joofsh opened #2219 "Hearing Worksheet | Add save functionality to Hearing Worksheet"
As a judge, I would like to save my hearing worksheet notes.

Prerequisite ticket: https://github.com/department-of-veterans-affairs/caseflow/issues/2475

#### Acceptance Criteria:
Todo

#### Notes:
- Do not make any backend calls
- Stub out an API call

[2017-06-02 15:54] joofsh commented on #1082
@mmlumba @gnakm Is this ticket ready to be worked on? If it's still blocked I'll move it back to triage

[2017-06-02 15:57] shellicious opened #2220 "[V2] Copy tweak: Change confirmation page heading from "Congratulations!" to "Success!""
## Acceptance Criteria

- Heading on Confirmation page should say "Success!", not "Congratulations!"

## Mock ups

![confirmation](https://cloud.githubusercontent.com/assets/1178390/26734030/b1d7476a-478a-11e7-8c71-fbdeb7431d9a.png)

[2017-06-02 16:00] astewarttistatech commented on #2086
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Certification V2
2. Upload documents needed, if needed
3. Validate the success message on the check documents page.

Screenshots:
<img width="1073" alt="screen shot 2017-06-02 at 11 57 54 am" src="https://cloud.githubusercontent.com/assets/23038505/26734104/e89dcbde-478a-11e7-9684-c562da36c175.png">

[2017-06-02 16:00] #2086 closed

[2017-06-02 16:00] joofsh opened #2221 "[Backend] Add hearing integration code for Daily Docket page. Persist updates to daily docket back to VACOLS"
Save daily docket information back to VACOLS hearsched table

the UI for context:
<img width="1229" alt="screen shot 2017-06-11 at 9 46 14 pm" src="https://user-images.githubusercontent.com/2256237/27016572-737a07b6-4eef-11e7-8d51-0d0852a89a85.png">

This is the parent issue for each of the following five issues:

- [x] Changes to daily docket update HEARSCHED #2684
- [x] HEARSCHED changes update

[2017-06-02 16:06] joofsh opened #2222 "On pageload into Reader's pdf list view, category filter by query param"
As a reader user, I would like to enter reader and already see the documents filtered by my desired category.

Technical notes:
- Add a query param that gets used on react app boot to determine the initial category filters

Acceptance Criteria:
- Button on hearing worksheet page should go to the welcome page. (In a future PR, we'll link to the correct page)

[2017-06-02 16:07] joofsh commented on #2137
CC @lakohl can you update the list of desired documents?
@laurjpeterson Can you sync with the Reader team on the final name for this new category. Does "Case Summary" work for everyone?

[2017-06-02 16:07] askldjd commented on #2211
Yes. This is just a warning that they _may_ experience issues. We are not taking down the site during this period.

As for wording, please feel free to change it. I have little opinion and expertise in this matter. Thanks!

[2017-06-02 16:07] joofsh commented on #2222
CC @laurjpeterson @mdbenjam for awareness

[2017-06-02 16:10] joofsh commented on #2197
CC @lakohl Does this sound right?

[2017-06-02 16:46] kierachell commented on #2090
### So what if `BFSO` matches a type, but there's not info the REP table?
<img width="1047" alt="screen shot 2017-06-02 at 12 46 04 pm" src="https://cloud.githubusercontent.com/assets/18075411/26735813/76ce7c0e-4791-11e7-8d57-ebff19351f7f.png">

[2017-06-02 16:58] kierachell opened #2224 "Confirm Hearing | Form 9 PDF is missing"
# Description
When Confirming Hearing and I try to see the Form 9,
the PDF won't show up and explode in the logs too.

## Reproduction Steps

**Scenario 1 -**

1. Go to certification
1. On *Confirm hearing* page select *No* then *Form 9*
1. See a weird-ass error

**Validated in the following Envrionment(s)**
- [ ] Dev
- [X] UAT
- [ ] Preprod
- [ ] Prod

## Logs:

[code]

## Sentry:

https://10.236

[2017-06-02 17:06] kierachell commented on #1894
# Why is the following certification not working? What data is being validated?

### With empty VACOLS data:
<img width="1047" alt="screen shot 2017-06-02 at 12 46 04 pm" src="https://cloud.githubusercontent.com/assets/18075411/26736466/22706732-4794-11e7-99bf-997f12dc683e.png">

### Error:

[code]

### Data in the DB:
[code]

[2017-06-02 17:09] kierachell commented on #2052
**PASSED**

using real data now:
<img width="1033" alt="screen shot 2017-06-02 at 11 43 50 am" src="https://cloud.githubusercontent.com/assets/18075411/26736554/a2830204-4794-11e7-8fcb-4c3207e9b5e6.png">

[2017-06-02 17:09] #2052 closed

[2017-06-02 17:10] kierachell commented on #2003
**PASSED**
mocks are old af, but ok
<img width="1033" alt="screen shot 2017-06-02 at 11 43 50 am" src="https://cloud.githubusercontent.com/assets/18075411/26736590/c931ea64-4794-11e7-8f69-6ed254391a71.png">
<img width="1047" alt="screen shot 2017-06-02 at 12 46 04 pm" src="https://cloud.githubusercontent.com/assets/18075411/26736591/c934cc52-4794-11e7-93ce-31cea7afd3cf.png">

[2017-06-02 17:10] #2003 closed

[2017-06-02 18:26] mmlumba commented on #2154
@astewarttistatech These are the size differences I made (viewable in dev tools). See below:
_Before_
![image](https://cloud.githubusercontent.com/assets/4773320/26739330/6938ad54-479f-11e7-9d81-bc24df629ffc.png)

_After_
<img width="261" alt="screen shot 2017-06-02 at 2 25 02 pm" src="https://cloud.githubusercontent.com/assets/4773320/26739349/79750c30-479f-11e7-996d-68a4acec5ee8.png">

[2017-06-02 18:26] kierachell commented on #1892
**PASSED**
![skipme](https://cloud.githubusercontent.com/assets/18075411/26739363/82c4f3b8-479f-11e7-9ab2-00f968fa7b1a.gif)
![skiptest](https://cloud.githubusercontent.com/assets/18075411/26739364/82c709f0-479f-11e7-9a00-099e4ba71407.gif)

[2017-06-02 18:26] #1892 closed

[2017-06-02 18:28] joofsh commented on #2053
Closing as duplicate

[2017-06-02 18:28] #2053 closed

[2017-06-02 18:29] kierachell commented on #2049
**PASSED**
[code]

[2017-06-02 18:29] #2049 closed

[2017-06-02 18:31] joofsh commented on #2218
CC @lakohl Can you add the latest designs & any AC you think are appropriate?

[2017-06-02 18:31] joofsh commented on #2056
Closing. Stale

[2017-06-02 18:31] #2056 closed

[2017-06-02 18:45] mmlumba commented on #1082
@joofsh The ticket is ready to be worked on

[2017-06-02 18:55] lakohl opened #2227 "BVA Dispatch Manager View- show all missing decisions"
**Show all Claims Missing Decisions**

Rolandus Branch, the BVA Dispatch Manager, asked if we could surface a comprehensive list of the claims that are missing decisions. Currently on the BVA Dispatch Manager view, we only surface claims that are missing decisions which are being routed to ARC - so we filter out Denials, claims with a Private Attorney, VHA claims etc...

It would be helpful if we

[2017-06-02 19:09] cmgiven commented on #2227
So there are only two exclusions that we do not capture on the missing decisions page:

1. Private attorneys.
2. Non-VBMS cases (those that do not have the VBMS checkbox ticked in VACOLS).

1 will soon be incorporated.

Is there a need to check 2? Would a paper case still have a decision uploaded to VBMS?

[2017-06-02 19:25] kierachell commented on #2094
**PASSED**

<img width="901" alt="screen shot 2017-06-02 at 3 25 21 pm" src="https://cloud.githubusercontent.com/assets/18075411/26741533/b8587574-47a7-11e7-82e0-13e1a1e8a8df.png">

<img width="1047" alt="screen shot 2017-06-02 at 12 46 04 pm" src="https://cloud.githubusercontent.com/assets/18075411/26741507/a26ac8f2-47a7-11e7-8cf5-3917b8429b9b.png">

<img width="1006" alt="screen shot 2017-06-02

[2017-06-02 19:25] #2094 closed

[2017-06-02 23:26] kierachell commented on #2032
- can we have the PR for this...just for context?

## New columns in Hearings
[code]

## Issue table:
[code]

## Ticket says "pulled from VACOLS" but that's not actually happening yet...

[2017-06-03 00:03] kierachell commented on #2056
There's `obsolete` label for these types of tickets :D

[2017-06-03 00:07] kierachell commented on #2195
Fixed in #2204

[2017-06-03 00:07] #2195 closed

[2017-06-05 12:20] astewarttistatech commented on #2154
Based on the above comment, **PASSED**

Validated: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access reader
2. Open a document
3. Inspect the back button
4. Validate the specs against the Mocks and AC.

Screenshot:
see above

[2017-06-05 12:20] #2154 closed

[2017-06-05 13:45] gnakm opened #2228 "Document viewer | Top toolbar: Open link in new tab indicator"
**Description**
We've received a couple of comments on the top tool bar icons:
1. Document Type link on the top toolbar doesn't look like it will open in a new tab. Make link look like it will open in a new-tab!
2. The zoom icons aren't that obvious. We are solving this by putting the zoom in and out ones together so that + and - have more context next to each other and swapping out old fit to scr

[2017-06-05 13:46] gnakm commented on #1082
@mmlumba I defer to you!

[2017-06-05 14:07] abbyraskin opened #2229 "Documents List | Comments filter"
When viewing the documents list, I want to quickly filter to show/expand only those documents with comments, so I can read through all my comments at once.

## AC
- Add new toggle feature that allows users to toggle between all documents and all comments
   - Documents: Should show everything within filtered view.
   - Comments: Should show all comments expanded and filtered only.
- The `ToggleBut

[2017-06-05 14:13] abbyraskin commented on #2229
@gnakm it seems like we should combine the expand all with comment filtering, rather than having them disjointed; I don't see a use case for using one but not the other (and i think the expand all will be more useful if it's limiting the view) - thoughts?

[2017-06-05 14:14] abbyraskin commented on #2229
this also gives us an opportunity to clarify the label of the button, since i think there's some confusion

[2017-06-05 14:33] joofsh commented on #1082
@mmlumba thanks!

[2017-06-05 14:38] NickHeiner commented on #1896
The in-person discussion for this will happen directly after standup on Friday, June 9th.

[2017-06-05 14:43] shellicious commented on #2216
@lakohl @gnakm update: I discussed foxtrot building this out with @amprokop, who said that the team had bandwidth next sprint (beginning Monday 6/12). Let us know if you find engineers to implement this before then, otherwise we'll plan on foxtrot building the component next sprint.

Are the designs in the most recent comment finalized?

[2017-06-05 14:59] amprokop commented on #2211
To refocus this discussion, i've added some edits, take a look and add more thoughts as they arise!

[2017-06-05 15:01] amprokop commented on #2211
This will be discussed after standup on Tuesday, June 6th.

[2017-06-05 15:02] kierachell commented on #2211
So if BGS goes down, then we're totally down.
If VACOLS goes down, then Certification/Dispatch/Reader/Hearings/API go down.
If VBMS goes down, then... well it depends.

[2017-06-05 15:04] lakohl commented on #2218
New Invision link for the first three pages of Hearing Prep is here: https://va-gov.invisionapp.com/share/PGC0HUR64

Hearing Worksheet:
![hearing worksheet online mvp 4](https://cloud.githubusercontent.com/assets/4975959/26789568/b39388ec-49de-11e7-82a0-ab3081a3bdfc.png)

[2017-06-05 15:05] shellicious commented on #2211
Thanks for the edits @amprokop, I'll post mocks here later today

[2017-06-05 15:08] gnakm opened #2230 "Document Viewer | Bottom toolbar shift bug"
**Description**
Currently, the page and document number at the bottom of the toolbar shifts when switching between documents.

Wondering if this can be fixed when [page indicator](https://github.com/department-of-veterans-affairs/caseflow/issues/1884) is being implemented 🤔

## AC
- [ ] Verify that Page [#] of [total] and document number is not moving when switching between documents.

**_Note: Pa

[2017-06-05 15:09] lakohl commented on #2216
@shellicious It would be great if Foxtrot could take this on this sprint (we are down to 1 engineer on Tango and Whiskey also just lost Nick). I would suggest that they create it first as a Certification update and then as a Style Guide update. The AC above are correct and ready to go.

[2017-06-05 15:10] gnakm commented on #1884
@tejans24 We have a bug where the [bottom toolbar page and document numbers shift between documents](https://github.com/department-of-veterans-affairs/caseflow/issues/2230). Wonder if this issue will fix the problem.

[2017-06-05 15:11] lakohl commented on #2197
@abbyraskin may need some help from you on this

[2017-06-05 15:18] joofsh commented on #2197
@kierachell What was the regional_office_key for this appeal? This may be bad test data (or a bug in our code).

@abbyraskin @lakohl Looking at our code for email look ups, it seems we have some gaps. Like if the appeal was assigned to RO80, and was a pension case, we would fail to look up an email address

[2017-06-05 15:18] shellicious commented on #2216
We'd love to put it in this sprint, but the team has it's collective hands full getting V2 ready for the demo. If there is space next week / not too many bugs to fix during the pilot, we can add it in. Right now it's looking like the next sprint is best for this ticket.

[2017-06-05 15:30] abbyraskin opened #2231 "Document List | Search: "and" instead of "or" logic"
**Context**
Currently, we search using "or" logic; users have reported some confusion, as they  expect to see a more refined (shorter) list of results as they enter more text into search.

## Acceptance Criteria
- When a user enters more than one word into search, the results are narrowed to  show only those results that match the entire phrase
  - e.g., entering "Form 9" would show documents matc

[2017-06-05 15:37] gnakm opened #2233 "Documents List | Add strong tag for read/unread"
**Description**
Currently unread document types are tagged as `<b>` when it should be `<strong>`. This will be helpful for users who use screen readers.

## AC
- Change `<b>` tag to `<strong>` for unread messages (bold).

[2017-06-05 15:44] mdbenjam commented on #2137
Case Summary is fine with me.

[2017-06-05 15:50] gnakm commented on #2174
@abbyraskin RE our in person discussion, I'm going to change this issue so that when a user searches a blank or spacebar, it doesn't do anything. Technically we shouldn't filter anything and I don't think it will cause any confusions. Please 👍 if you concur.

[2017-06-05 16:00] Sjones352 commented on #2159
![screen shot 2017-06-05 at 12 00 03 pm](https://cloud.githubusercontent.com/assets/23080951/26791889/8f69b858-49e6-11e7-9109-f99977801c0e.png)

[2017-06-05 16:07] gnakm commented on #2159
@Sjones352 lgtm!

[2017-06-05 16:17] gnakm commented on #2171
@abbyraskin I think we should close this issue because all of the 4 concerns above are now being resolved or talked about in other tickets. If you agree, please close!

[2017-06-05 16:19] gnakm commented on #2229
@abbyraskin I totally agree with this. The button is too detached and missing a function. I think we should decide on design end of this week as we synthesize findings and define our product more this week.

[2017-06-05 16:23] gnakm commented on #2171
Actually, reopening it again because we should make sure that the "and" search issue is neatly written out.

[2017-06-05 16:24] amprokop commented on #2224
@kierachell — does this happen with every certification in UAT?

[2017-06-05 16:26] abbyraskin commented on #2171
"and" is documented in #2231 fyi

[2017-06-05 16:29] lakohl commented on #2218
I took out the original claim. Uploaded mock at the top of the issues.

[2017-06-05 16:31] lakohl commented on #2218
@joofsh down the road, we will want to show all the SSOCs associated with the appeal stream being heard.

[2017-06-05 16:32] Sjones352 commented on #1091
@gnakm should add this component in the layout section?

[2017-06-05 16:52] lakohl commented on #2137
Updated doc list above

[2017-06-05 17:27] abbyraskin commented on #2174
@gnakm yes! updated the AC, and moving it over

[2017-06-05 17:33] gnakm commented on #1091
@Sjones352 Added instruction in AC!

[2017-06-05 17:50] mmlumba commented on #2107
@gnakm What is the color going to be for the keyboard keys (alt, enter, c)? Red on grey text or grey on black text?

[2017-06-05 17:57] amprokop commented on #2090
When merged, https://github.com/department-of-veterans-affairs/caseflow/pull/2235 should solve this

[2017-06-05 17:59] amprokop commented on #1889
Great testing. In practice, I think this should be an edgy edge case, since it should only affect SSOCs where there are multiple released in a <4 day period.

[2017-06-05 18:02] amprokop commented on #1889
My impression is that which SSOC slot a document is in (SSOC1-5) doesn't have any significance really — they're just arbitrary buckets to put SSOCs in, it doesn't matter where an SSOC is. @cmgiven, can you confirm this?

[2017-06-05 18:06] amprokop opened #2236 "Even with fuzzy date matching, SSOCs should only match 1:1"
If SSOC dates in VACOLS are within the fuzzy time and there's one SSOC document in VBMS, then it currently matches to both VACOLS dates. We should ensure that SSOCs in VBMS -> VACOLS have a 1:1 relationship.

![image](https://cloud.githubusercontent.com/assets/3781835/26796519/c8d02774-49f7-11e7-97ad-5e2feba98489.png)

### Acceptance Criteria ###
- If VACOLS SSOC dates are 06/01/2017, 06/02/2017,

[2017-06-05 18:07] cmgiven commented on #1889
That's correct. They are separate fields in the VACOLS interface, but for our purposes, there's no difference.

[2017-06-05 18:07] amprokop commented on #1889
I have opened https://github.com/department-of-veterans-affairs/caseflow/issues/2236 to track the edgy edge case, though it's low priority. @kierachell can you revalidate?

[2017-06-05 18:09] amprokop commented on #1891
@kierachell — plz revalidate? https://github.com/department-of-veterans-affairs/caseflow/pull/2205 should have fixed this

[2017-06-05 18:09] amprokop commented on #1894
@nemodjuric — can you take a look at this once you finish your current task?

[2017-06-05 18:38] #2171 closed

[2017-06-05 19:15] cmgiven commented on #1897
I like the idea of separating V1 and V2 stats while in transition. I think that goes away once we've fully converted, though.

What do you hope to learn from the number with fuzzy date matches?

[2017-06-05 19:26] kierachell opened #2238 "App Canvas | Required field error not cleared on ConfirmCaseDetails page"
# Description
When entering values for previously errored _Required_ fields, the warning does not disappear

## Reproduction Steps

**Scenario 1 -**

1. Go to any _Required_ field
1. Don't fill it out and click *Continue*
1. Get error
1. Enter value for that field
1. See error persist.

**Validated in the following Envrionment(s)**
- [ ] Dev
- [X] UAT
- [ ] Preprod
- [ ] Prod

## Screenshots
**_Sc

[2017-06-05 19:33] amprokop commented on #1897
Yep, definitely goes away once we're fully converted.

[2017-06-05 19:34] amprokop commented on #1897
With the fuzzy date match # — I'd like to get a general sense of how big of a problem it was for ROs.

[2017-06-05 19:43] NickHeiner commented on #2211
General idea LGTM. I agree with Chris' points that we should be clear that we're not actively trying to fix our dependencies, but are aware of the issue. And I think this is much better than just failing randomly.

[2017-06-05 19:49] kierachell opened #2239 "Document List | Expanding long comments is fun"
# Description
When a Comment has a really long word, then the UI breaks.

Spaces are handled... ok? still a bit ugly.

## Reproduction Steps

**Scenario 1 -**

1. Go to *Document View*
1. Write a really long no-space string
1. See UI break when you save it
1. Go to *Document List*
1. Expand the Comment
1. See the table explode

**Validated in the following Envrionment(s)**
- [ ] Dev
- [X] UAT
- [

[2017-06-05 19:51] kierachell opened #2240 "Document View | Moving comment adds a `+` to cursor"
# Description
When moving a *Comment* about, there's a weird `+` that shows up on the cursor.
Makes me think I am _adding_ a comment. Unless it is intended???

## Reproduction Steps

**Scenario 1 -**

1. Go to *Document View*
1. Add a comment
1. Be happy.
1. Start moving comment.
1. See `+`
1. Be worried.

**Validated in the following Envrionment(s)**
- [ ] Dev
- [X] UAT
- [ ] Preprod
- [ ] Prod

[2017-06-05 19:55] kierachell commented on #2016
![faceroflcoptertothekeyboard](https://cloud.githubusercontent.com/assets/18075411/26800452/5a02efec-4a07-11e7-9764-9ee4a1b7b36a.gif)
more fun

[2017-06-05 20:24] gnakm opened #2242 "Document Viewer | Open menu button relocation"
**Description**
The open menu button link on the top toolbar is placed at the wrong location.

## AC
- [ ] Place Open Menu button link 40 px left of edge of toolbar and zoom options + download icons 40px to the right of it

Current view:
![image](https://cloud.githubusercontent.com/assets/13420618/26799970/8d402304-4a05-11e7-966b-ad3cccae8eef.png)

Expected view:
![image](https://cloud.githubuserc

[2017-06-05 20:56] slj opened #2244 "Hearings Schedule should only show dockets on each line"
If a docket is a group of hearings on the same date, then I think the current display is problematic:
<img width="678" alt="screen shot 2017-06-05 at 4 45 48 pm" src="https://cloud.githubusercontent.com/assets/1053255/26802608/1dff274c-4a0f-11e7-8835-e6032493b030.png">
because multiple hearings on the same day are showing on separate lines.  Instead we should only see the line dated 5/26/2017 wher

[2017-06-05 21:40] gnakm commented on #1966
Original comment

**_Needs definition_**
We probably need better comment error handling overall. Right now, if you add, edit, move, or delete a comment and the call fails, the user receives a somewhat generic error message above the comment box (see #1854).

This handling seems to make sense for the add comment flow, as it appears above the comment box itself. For other error scenarios, it's less

[2017-06-05 21:48] kierachell commented on #2244
I think this is how the `dev` environment data is configured. In UAT it's showing groups by date.

[2017-06-05 21:54] shellicious commented on #2211
Mocks! with these goals in mind:
- inform Caseflow app users that they may experience difficulties using the app
- enable Caseflow app users to continue using the app

and assumptions:
- Users are aware of how to contact the support team and send feedback. We don't need to emphasize ways to submit feedback in the warning message, especially because displaying the warning means we've detected issue

[2017-06-05 22:08] cmgiven commented on #2211
Looks great. Add to the design meeting agenda this week?

[2017-06-05 22:10] shellicious commented on #2211
@cmgiven sure! I will be out, i trust y'all to come to a conclusion. We are also discussing this tomorrow (tues 6/6) after standup.

[2017-06-05 22:19] joofsh opened #2245 "Hearing Worksheet | [Backend] Load all appeal streams into hearing model"
For a given hearing and Veteran, load information about all active appeal streams.

#### Acceptance Criteria
- create an `active_appeal_streams` method on the hearing model. This method returns all appeals associated to this hearing (through `folder_nr`), have a form 9 submitted, and have no decision yet

Technical Notes:
- A hearing is directly associated to 1 appeal (through FOLDER_NR). Through

[2017-06-05 23:26] kierachell commented on #2115
**PASSED**
FINE

BE THAT WAY 👁

[2017-06-05 23:26] #2115 closed

[2017-06-06 01:13] laurjpeterson commented on #1897
I like seeing fuzzy date match # as well - can we separate these out by RO to see if it affects all time zones?

[2017-06-06 12:11] kierachell opened #2246 "Create EP | Validate data completeness before Establishing Claim and causing all kinds of errors"
## Medium priority because this is numbing and we know exactly what the problem is:
- Obnoxious on Slack
<img width="473" alt="screen shot 2017-06-06 at 7 46 24 am" src="https://cloud.githubusercontent.com/assets/18075411/26827675/59a04e8e-4a8c-11e7-9a45-4ffdae544295.png">

- and on Sentry
<img width="1303" alt="screen shot 2017-06-06 at 7 49 19 am" src="https://cloud.githubusercontent.com/assets/

[2017-06-06 12:51] kierachell commented on #2076
- The space from the left arrow to the edge of the window is not the same as right arrow to edge of viewer
<img width="1056" alt="screen shot 2017-06-06 at 8 47 28 am" src="https://cloud.githubusercontent.com/assets/18075411/26829869/01034c46-4a95-11e7-8724-61b5d75c140c.png">

- Not sure what you wanted on hover color: 02bfe7 is what it is now. LGMT but wanted to confirm.
<img width="151" alt="scr

[2017-06-06 13:14] amprokop commented on #2224
@kierachell confirmed that this feature doesn't work anymore. We need to fix this!

[2017-06-06 13:17] kierachell opened #2247 "Document List | Filtered state preserves documents which no longer fit the criteria"
# Description
When viewing a _filtered_ Document List,
Then going to view a Document from that list and removing/editing the attribute/tag/comment that caused that Document to be in the filtered view,
if I return to the Document List, it will keep the "no longer applicable" Document in the list.

## Reproduction Steps

**Scenario 1 -**

1. Go to Document List
1. Filter by something and get `x` amo

[2017-06-06 13:25] kierachell commented on #1889
**PASSED**
Edge case captured in #2236

[2017-06-06 13:25] #1889 closed

[2017-06-06 13:27] kierachell commented on #1891
## The date format is still "new":
<img width="562" alt="screen shot 2017-06-06 at 9 26 52 am" src="https://cloud.githubusercontent.com/assets/18075411/26831449/52f45284-4a9a-11e7-8dd0-6d08170a23fb.png">

[2017-06-06 13:43] cmgiven commented on #1897
I think we're reaching the point where we should address this through a separate report, like the utilization report. There's value in keeping these dashboards simple.

[2017-06-06 13:46] amprokop commented on #2098
@sharonwarner  — mind typing out some steps to validate here?

[2017-06-06 13:49] lakohl commented on #2211
Agree that this would be a good to pic for the Design mtg. as it will be a pattern that we use across apps. Personally I like the first version. (possibly with a little more grey space between it and the Vet ID).  It's the easiest to read and lets the user know they can continue working regardless. I would suggest a slight adjustment to the message - so we don't say we are working on fixing the pr

[2017-06-06 13:53] kierachell commented on #2206
Add the numbers/test cases here! https://github.com/department-of-veterans-affairs/appeals-qa/blob/master/docs/dev.md

[2017-06-06 14:03] NickHeiner opened #2249 "Discussion: Commit Practice"
![image](https://cloud.githubusercontent.com/assets/829827/26832869/d3b84c0a-4a9e-11e7-9a6c-6ec925ee890a.png)

When you use the "Squash and Merge" button on GitHub, it defaults to creating a commit message that's just the concatenation of each squashed commit message. For example, see d5ab5a00:

![image](https://cloud.githubusercontent.com/assets/829827/26832923/f3826bd8-4a9e-11e7-91a4-266f139c0c7

[2017-06-06 14:07] laurjpeterson opened #2250 "Discussion: Appeals Team Norms (discussion after standup Wednesday, 6/21)"
Last retro (6/2) surfaced some new ideas about meeting norms, which started a discussion around overall team norms. Many of these team norms already exist or came out of retro, and Nick, Abby, Sharon and I discussed others that we'd love the team's input on. Here's a ticket for us to discuss these norms. Comment away!

Once we have the discussion as a team, the outcome will be posting these on git

[2017-06-06 14:15] askldjd commented on #2249
This is a good guideline that I've always liked.
https://chris.beams.io/posts/git-commit/

Also, at one point, we were going to use git logs to generate changelogs. Is that still on the roadmap?

[2017-06-06 14:19] NickHeiner commented on #2249
I have no knowledge of this, but I'm happy to look into it if there's a strong need.

[2017-06-06 14:22] NickHeiner commented on #2250
LGTM. Everything here matches what we already do, or what we've said we'd like to do.

[2017-06-06 14:26] slj commented on #2249
As much I love to hit `Squash and merge` and keep it moving, we can definitely benefit from more concise commits.  If that means I have to get better at (gulp) `git rebase`, well...time to grow...

[2017-06-06 14:31] amprokop opened #2251 "Make a list of all State Service Organizations in BGS"
So we can correctly set BFSO to "I" and put the state service org name in the rep table

[2017-06-06 14:37] joofsh commented on #2032
@kierachell Sorry about that, I've linked the relevant PR. A lot of what was originally in this ticket was more raw notes, I've moved them to a separate section and created real AC to validate against

[2017-06-06 14:49] lakohl commented on #2218
@slj I updated the mock above per our conversation yesterday.

[2017-06-06 15:08] amprokop commented on #2211
We decided to pursue this via unanimous consent.

We came to a consensus that taking the site down on an automated basis is not something we want to do. Outages are a spectrum. We can revisit this topic if we begin to believe we’re really good at automatic detection of outages. Alan described his experience with VBMS partial outages.

Shelly expressed a preference for the separate page option. Ale

[2017-06-06 15:10] NickHeiner commented on #2249
Nothing we're discussing involves getting better at `git rebase`, although that is a good life goal. :smile:

We're just talking about editing this text field instead of accepting the default value, which is a concatenation of every commit message:

![image](https://user-images.githubusercontent.com/829827/26836367-aa7a9866-4aa8-11e7-8f13-b132cae625c0.png)

[2017-06-06 15:18] amprokop commented on #1897
Hmm. Is the utilization report updated in real-time? How often are these things generated? And who are the most common users of the stats page? I've only looked at it 3 or 4 times in 6 or 7 months myself, so I don't really know.

[2017-06-06 15:20] kierachell commented on #2097
blocked cause waiting for #2046

[2017-06-06 15:22] joofsh commented on #2244
@kierachell this is a real bug in how it groups the hearings. If 2 start at 8am and 2 others at 10am, they should be grouped within 1 docket. Right now they are being grouped by the exact timestamp, rather than by the date. If we want to catch this on UAT, we should set some of the hearings to different times but on the same date

[2017-06-06 15:35] cmgiven commented on #1897
Currently it's just internal to the team. Goal is to be able to quickly diagnose yes, the tool continues to be used, and there aren't any weird issues that have suddenly sprung up (i.e. we're suddenly missing a lot more documents). The reports are periodic, updated as needed, and intended to dive deeper in a specific area of inquiry. The utilization report is updated monthly (or as I get pinged to

[2017-06-06 15:52] kierachell commented on #1893
# Seems like hearing preference is still being update for "already certified" appeal
[code]
- Visit `certifications/new/1790222`
[code]

- Update BFHR in VACOLS to 5, just for shits:
[code]
- Visit `certifications/new/1790222`
[code]

[2017-06-06 15:56] kierachell commented on #2061
### Ruby-bgs is causing Sentry errors when `no person found for participant id`:
https://10.236.66.249/sentry/caseflow-uat/issues/245/
[code]
- from:
[code]
This is not "breaking" the process, but will explode sentry with 500s.

[2017-06-06 16:04] mdbenjam commented on #1999
Two notes.
1. To the dev who works on this: I'll have a DasRepository merged today that you can use to get the current cases assigned to a user.
1. @gnakm I think it's best to remove the issue/number of documents columns for now. The issues should be easy to add. I can work on that when I get back from the offsite. The number of documents should probably wait until we've integrated with eFolder Ex

[2017-06-06 16:15] amprokop commented on #2061
@kierachell — this error is handled here. It should not block the user though it will be sent to Sentry (<- is this true in your experience?). I'd actually like to know how often this happens in production, so I'd prefer to keep it as a Sentry error at least at first so we have maximum visibility. What do you think?

https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models

[2017-06-06 16:24] joofsh opened #2252 "Add Veteran information validations"
When establishing a claim, we pull the veteran's information from BGS. Sometimes, we know the establish claim request will fail because the veteran's information is not valid. Add validations to the veteran object to determine if the veteran is "valid" for establishing claims.

Known ways a Veteran object would be invalid for establishing a claim:
- The veteran does not have a SSN
- The veteran ha

[2017-06-06 16:41] slj commented on #2249
I'll definitely be doing that from now on.

[2017-06-06 16:55] gnakm commented on #1999
@mdbenjam Sounds good.

Dropping this here for future:
![image](https://cloud.githubusercontent.com/assets/13420618/26698207/0c19f6a8-46e3-11e7-850b-e740c7393586.png)

[2017-06-06 18:08] kierachell commented on #2220
**PASSED**
that was easy...
<img width="1043" alt="screen shot 2017-06-06 at 2 07 23 pm" src="https://user-images.githubusercontent.com/18075411/26844501-a5a95eda-4ac1-11e7-9eb9-726d0db9090d.png">

[2017-06-06 18:09] #2220 closed

[2017-06-06 18:11] NickHeiner commented on #2214
Maybe this is already what you have in mind, but these AC do not look like something that Artem / Alexis should validate, since there is nothing user-facing. If we want this ticket to not have user-facing impact, which is fine, let's self-validate.

[2017-06-06 18:15] kierachell opened #2253 "Success Page | Message defaults to "updated VACOLS fields" even when they weren't"
# Description
When Certifying an Appeal,
If I verify that VACOLS POA info is correct,
Upon finishing certification I am still told that VACOLS POA was updated

@shellicious will provide proper wording for scenarios:
- When VACOLS POA was not updated
- Is there ever a case when hearing preference is not updated?

## Acceptance Criteria
- The Success Page shows the new hearings copy "Hearing fields

[2017-06-06 18:21] kierachell opened #2254 "Form 9 | Loader color doesn't match Certification"
# Description
The color for Form 9 PDF loader does not match Certification's color!

The color for the loader should be #459fd7, Certification's logo color.

## Reproduction Steps

**Scenario 1 -**

1. Go to Certify an Appeal
1. Get to Form 9 to see it
1. Be disappoint with loader color.

**Validated in the following Envrionment(s)**
- [ ] Dev
- [X] UAT
- [ ] Preprod
- [ ] Prod

## Screenshots
**_

[2017-06-06 18:22] amprokop commented on #2061
To reiterate, we want to make sure that this error will not block the user, but if it's sent to Sentry, that's fine for now (we actually don't know how often it will happen in production)

[2017-06-06 18:45] kierachell opened #2256 "Confirm Case Details | How to handle missing BGS POA data"
# Description
When attempting to Certify an Appeal,
and BGS returns `no POA found` or throws `incorrect participant id` error,
no useful information is displayed in Caseflow,
and `nil` values are saved in DB if user says that VBMS data is correct.

## Reproduction Steps

**Scenario 1 -**

1. Go to Certify an appeal
1. on Confirm Case Details page get blank values from BGS
1. Select that VBMS is co

[2017-06-06 18:48] abbyraskin commented on #1999
@gnakm i can't capitalize Attorney/Judge. it hurts my soul too much.

[2017-06-06 18:50] abbyraskin commented on #1999
also, I can take point on updating FAQs with @wturne. 😄

[2017-06-06 19:01] abbyraskin commented on #1999
@mdbenjam to what extent does including the search functionality here increase the scope of this ticket (is it something we can reuse from another application?)? i'm wondering if we should break it out as its own ticket or if you think it makes sense to develop all of this at once.

[2017-06-06 19:04] mdbenjam commented on #2028
Duplicate of #2051

[2017-06-06 19:04] #2028 closed

[2017-06-06 19:17] NickHeiner commented on #2076
I think that @gnakm does want `#02bfe7`, based on her comment above.

@gnakm @abbyraskin I don't have time to fix the spacing issue. Please make a new issue / re-assign this one if you think it's worth fixing.

[2017-06-06 19:19] gnakm commented on #2076
@kierachell color is correct
@NickHeiner I will make the issue

[2017-06-06 19:20] NickHeiner commented on #2076
Thanks. @kierachell in that case, let's close this issue as-is, and the spacing issue will be fixed in @gnakm's followup.

[2017-06-06 19:26] gnakm opened #2258 "Document Viewer | Bottom toolbar spacing"
**Description**
Padding in both left and right of previous and next button links are inconsistent

## AC
- [ ] Verify that the padding left of previous button link is the same as right of next button link. Both should total to 40px.

## Mock up

![image](https://user-images.githubusercontent.com/13420618/26847697-fcc3f6a8-4acb-11e7-8bdd-f7342e26923f.png)

Current situation
![image](https://user-im

[2017-06-06 19:27] gnakm commented on #2076
New issue here: #2258

[2017-06-06 20:05] kierachell commented on #2252
Is this kind of a duplicae of #2246?

[2017-06-06 20:37] nemodjuric opened #2259 "[v2] ConfirmCaseDetails dropdown should have different default value"
On ConfirmCaseDetails page, the dropdown for 'Service organization name' should have "Select an organization" as the default selection.

[2017-06-07 12:52] aroltsch commented on #2061
blocked by #1894

[2017-06-07 12:56] amprokop commented on #2061
@kierachell @aroltsch — this is complete, not blocked. As long as the error on `client.address.find_by_participant_id(participant_id)` does not block the user, we're fine with it showing up in Sentry for now.

[2017-06-07 13:52] aroltsch commented on #2090
#2235 is merged

[2017-06-07 14:15] astewarttistatech commented on #2159
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access the living style guide
2. Check the added colors match what is listed in the AC and mocks

Screenshots:
![styleguide colors](https://user-images.githubusercontent.com/23038505/26883110-4049ba5e-4b6a-11e7-9eff-77c18cdd2c22.gif)

[2017-06-07 14:15] #2159 closed

[2017-06-07 14:20] astewarttistatech commented on #1996
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Reader
2. Compare the redesign of the top toolbar to what is stated in AC and Mocks
3. Make sure that the back arrow is centered aligned with text.

Screenshots:
<img width="1137" alt="screen shot 2017-06-07 at 10 18 44 am" src="https://user-images.githubusercontent.com/23038505/26883354-f7357df2-4b6a-11e7-8a2b-cc1

[2017-06-07 14:20] #1996 closed

[2017-06-07 14:35] astewarttistatech commented on #2224
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access a ready case for certification
2. Continue through the Certification V2 flow
3. On the Confirm Hearing page, select Form 9 to see the pdf associated with the case being certified, uploads.

Screenshots:
![form9present](https://user-images.githubusercontent.com/23038505/26884132-08074ef6-4b6d-11e7-86fe-71d9e77892b6.

[2017-06-07 14:35] #2224 closed

[2017-06-07 14:50] abbyraskin commented on #2092
@mdbenjam the AC here needs to be updated to reflect our conversation earlier this week

[2017-06-07 15:12] kierachell opened #2265 "App Canvas | Enable a "per application" out of service mode"
Sometimes only one part of *Caseflow* will have an issue. But others are just fine, so we need a way to disable one applications, while others function:

1. Break Dispatch
1. Certification is fine
1. Get scared because we need to take Dispatch out of service
1. Not want to stop Certifications from happening
1. Get sad.

- Tagged all the tech leads for visibility.
Discuss:

## Related Issue

https:

[2017-06-07 15:53] gnakm commented on #1999
@abbyraskin I vote that we make a separate issue for the top as well. I beefed up the AC for the search part at the top.

@mdbenjam Also, could you tell me some use cases of errors for searching ID number? The :tumbler_glass: Check list told me to check in with you about this 😛
![image](https://user-images.githubusercontent.com/13420618/26887738-d0e553a0-4b76-11e7-8861-56314b8077ad.png)

[2017-06-07 15:54] laurjpeterson commented on #2211
I noticed this banner in Slack yesterday that's related to the problem we are trying to solve here and ran it by Shelly - something to reference for the design discussion tomorrow, if helpful. Slack provides users with more information by linking to a status update page, a strategy that may or may not be useful/possible for our use case as we think about banner vs. separate page vs. both.

<img wi

[2017-06-07 16:00] gnakm commented on #1423
Had a quick chat with Nick. We probably don't have to add any searches that currently don't exist. I rather us be iterative and add more as we go, mostly because we're constantly improve things.

Caveat, we should add it if an app that is currently being worked on is about to add it. ex. Hearings Prep, Reader

[2017-06-07 17:02] kierachell opened #2268 "Post-mortem: Certification v2 interfering with Certification v1 | 10:28AM June 7th, 2017"
## Events:

10:03 : Deployed Caseflow to production. [Build 105](https://appealsjenkins.ds.va.gov/job/deploy-prod/job/with-migration/job/caseflow/105/)

10:22 : Sentry reported a BGS Soapfault on `findPersonByPtcpntld`. The searched person was not found. This brought to our attention immediately because this BGS endpoint is not supposed to be called in Certification V1.

10:42 : @amprokop  posted

[2017-06-07 17:03] Chingujo commented on #1423
@gnakm @mmlumba @Sjones352

AC, Mocks, and Copy changed to reflect the above decision =D

[2017-06-07 17:35] Sjones352 commented on #1423
eFolder uses the big search
<img width="698" alt="screen shot 2017-06-07 at 1 34 15 pm" src="https://user-images.githubusercontent.com/23080951/26892359-095e4fa2-4b86-11e7-9489-a1abb74d2e4b.png">

[2017-06-07 17:40] gnakm commented on #2247
Interesting situation.

- When a user un-clicks a category and goes back to documents list, we should no longer show that document.
- In this scenario, we should jump to last last document in the view

@mdbenjam Curious to hear your thoughts on this
/cc @abbyraskin

[2017-06-07 17:45] abbyraskinUSDS opened #2270 "Documents list | Clearing the filters navigates a user to the top of the page"
When a user clears any selected filter(s), either from the filter checkbox menu or the "click here to see all documents" link, they are navigated to the top of the document list.

[2017-06-07 17:46] abbyraskin opened #2271 "Document Viewer | change "back to all documents" button label"
## Current:
Button says "Back to all documents"

## Expected:
Change label to "Back to claims folder"

[2017-06-07 18:06] nemodjuric commented on #2046
"One Time Representative" is missing from "Service Organization" list comparing what I found in case.rb for REPRESENTATIVES. Was this intentional?
@amprokop @shellicious

[2017-06-07 18:33] askldjd commented on #2268
So this bug slipped past all three gate - Code Review, Unit Test and Integration Test.

Thoughts:
 - Adding more gates will not help. We need to resolve this issue in one of the existing stages.
 - Code Review stage is likely in best position to capture this issue. All mutation to external system (VACOLS, BGS, VBMS) must be gated with feature flags.
 - Like @kierachell posted, all mutation to exte

[2017-06-07 18:38] NickHeiner opened #2272 "Create RO Picker Design to replace Caseflow login screen"
*Ticket cloned from https://github.com/department-of-veterans-affairs/appeals-design-research/issues/248*.

## Context
VACOLS is moving to 2 factor authentication on June 10th (earliest) or mid-July. When this happens, users at ROs that have more than 1 VACOLS RO ID to their 1 VBMS Station ID will not be able to access Caseflow. Caseflow login screen currently tries to use their VACOLS login to lo

[2017-06-07 18:44] tejans24 opened #2273 "Failing Reader test with zooming of pages"
![untitled](https://user-images.githubusercontent.com/1976755/26895475-bc46b42a-4b8f-11e7-957d-9253cca64bcb.png)

[code]

[2017-06-07 18:44] nemodjuric opened #2274 "[v2] ConfirmCaseDetails dropdown should be sorted in alphabetical order"
On ConfirmCaseDetails page, the dropdown for 'Service organization name' should have its list in alphabetical order.

[2017-06-07 18:47] tejans24 opened #2275 "Reader tests failing: no session error for Selenium WebDriver"
[code]

<img width="961" alt="screen shot 2017-06-07 at 2 05 07 pm" src="https://user-images.githubusercontent.com/1976755/26895645-2e602bc2-4b90-11e7-8949-e308dd86ab51.png">

[2017-06-07 20:06] NickHeiner commented on #2272
@gnakm what should the error state be if the server has an error when the user clicks the "login" button?

[2017-06-07 20:17] gnakm commented on #2272
@NickHeiner  Great question! I was **_just_** about to ask you what are the potential errors in this situation.

I have this generic one. If you can tell me more in detail what is happening in the backend, that would be helpful. Other wise, this might work.
![image](https://user-images.githubusercontent.com/13420618/26899256-9338a478-4b9c-11e7-8ac3-37a3ff641f26.png)

:tumbler_glass: 📋

[2017-06-07 20:18] gnakm commented on #2272
ehhh

**Please refresh the page and try again.** is probably better because try is redundant.

[2017-06-07 20:36] ToddStumpf commented on #2268
the mutation log is a powerful but dangerous thing: to be useful it must be accurate, to be accurate, it must have PII.  If it has PII -- can it be in CW?  it may have to reside on local disk...

the VACOLS backups only persist for 3 days; if the error hadn't been caught quickly, the prior states could have been lost.  A more robust backup policy for the db would be:
* hourly retained for several

[2017-06-07 21:02] askldjd commented on #2268
CW already have PII. I brought up this topic months ago, and as far as I can tell, there is no reason why PII can not be in CW.

[2017-06-07 21:15] ToddStumpf commented on #2268
I've been trying to think of any technique that would be expected to catch this before going out, except code review.

[2017-06-07 21:34] abbyraskin opened #2277 "Reader Pilot Wrap-Up Conversation"
- Scheduling for next Thursday at 2pm

Agenda:
https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Projects/Reader/Product%20and%20Launch%20Documents/Pilot%20Recap%20Meeting.md

[2017-06-07 22:22] ToddStumpf commented on #2268
An approach that was talked about on slack may be a good addition:
* maintain a set of companion tables that record prior state right in the db itself

Updating that could be done manually, although if we're using Oracle, it seems to have triggers which could fire automatically to populate the companion tables (I've heard them called "audit tables", but "history tables" or "prior-value tables" als

[2017-06-07 22:35] shanear commented on #2268
I don't think feature flags are the problem here. This would have been a bad bug even if all our users were on Cert V2.

The offending line of code was a logic branch that had no associated unit tests, which would have prevented this sort of issue.

@kierachell was this deployed before or after you had a chance to QA this story? This could be our example of a bug that was introduced because we dep

[2017-06-07 22:37] shanear commented on #2268
I like this idea. VACOLS updates could have better logging.

@ToddStumpf CW can have PII in it.

[2017-06-07 23:42] gnakm commented on #2272
@NickHeiner Let me know if you want ^^the above to be a separate issue.

[2017-06-07 23:52] kierachell commented on #2268
I QA'd part of the story, however:
- The issue that raised the alert is this: https://github.com/department-of-veterans-affairs/caseflow/issues/2061
- The issue that caused data mess is this: https://github.com/department-of-veterans-affairs/caseflow/issues/2098

I helped create the logic for #2098, so I was aware of needing to validate it `n` and it would've silently passed both v1 and v2 because

[2017-06-08 00:20] gnakm commented on #2107
`gray-dark` please! Yes the red will cause 508 issues.

[2017-06-08 00:34] gnakm opened #2279 "Document Viewer | Commenting on zoomed out view"

[2017-06-08 00:37] gnakm commented on #2279
@mdbenjam Do you remember how many pages were in the doc you tested out?

[2017-06-08 03:41] amprokop commented on #2046
@nemodjuric — thanks for raising this. you're right, one time representative is missing. Yes, this was intentional — we expect users will select "Other" from the radio button group under "What type of representative did the appellant request" if the rep is a one time representative. However, it's probably a decision worth reconsidering at some point. @shellicious, this is still what we want right?

[2017-06-08 11:14] kierachell commented on #2061
**PASSED**
The call happens at the start:
[code]

<img width="428" alt="screen shot 2017-06-08 at 7 13 40 am" src="https://user-images.githubusercontent.com/18075411/26926071-157408ba-4c1a-11e7-8bf1-e605780a0140.png">
<img width="641" alt="screen shot 2017-06-08 at 7 13 51 am" src="https://user-images.githubusercontent.com/18075411/26926072-15743362-4c1a-11e7-9812-9d2eeaf2a2c7.png">

[2017-06-08 11:14] #2061 closed

[2017-06-08 11:33] kierachell commented on #2090
**PASSED**

## Test case O
[code]
<img width="737" alt="screen shot 2017-06-08 at 7 25 49 am" src="https://user-images.githubusercontent.com/18075411/26926436-b66d6e9a-4c1b-11e7-96cf-15075043f73d.png">

## Test Case T
[code]

<img width="745" alt="screen shot 2017-06-08 at 7 28 29 am" src="https://user-images.githubusercontent.com/18075411/26926524-1528788a-4c1c-11e7-8064-736c12afcb2e.png">

## Te

[2017-06-08 11:39] kierachell commented on #2098
## So what if we're updating what used to be an Agent to a Service Organization of some sort? Do we set ADDR1 to its name, but do we clear the First/Last name?
<img width="927" alt="screen shot 2017-06-08 at 7 36 18 am" src="https://user-images.githubusercontent.com/18075411/26926912-917e7f46-4c1d-11e7-83af-fe61f268735c.png">

- Before in VACOLS:
[code]
- After in VACOLS:
[code]

[2017-06-08 12:18] kierachell commented on #2244
So I got this `HROBERT` guy in UAT:
[code]

and he shows only 3 dockets:
<img width="1165" alt="screen shot 2017-06-08 at 8 17 54 am" src="https://user-images.githubusercontent.com/18075411/26928165-082c4402-4c23-11e7-9984-4066a79a7daf.png">

[2017-06-08 12:24] kierachell commented on #2244
## Another pass with randomized date-time values:
[code]
<img width="1199" alt="screen shot 2017-06-08 at 8 24 27 am" src="https://user-images.githubusercontent.com/18075411/26928375-e64ad9f6-4c23-11e7-8f17-53c662df9e15.png">

HE'S A BUSY GUY, HUH...

[2017-06-08 12:36] aroltsch commented on #2268
Unit Test and Integration Test would not catch a bug like that.

1. We need to be notified (via Sentry?) that the code that should hidden behind the feature flag is being used in Production. However, in this case, we forgot to hide the code behind the feature flag in the first place
2. Be careful mixing the current code with the code hidden behind the feature flag
3. QA needs to be aware and valid

[2017-06-08 12:54] askldjd commented on #2268
_"I don't think feature flags are the problem here. This would have been a bad bug even if all our users were on Cert V2. The offending line of code was a logic branch that had no associated unit tests, which would have prevented this sort of issue."_

I am not sure if unit test would've prevented this unless the unit test is written with the intent of preventing feature leak. Keep in mind, there

[2017-06-08 13:25] amprokop commented on #2268
Yeah. Potentially, we should have done nil checking and thrown an exception — I don't think there's a business case where we actually want to update the VACOLS rep to nil here.

We *could* have caught this with a unit test, but it would have had to be awfully specific. Potentially we can establish a team norm that you have to test that all code behind a feature flag does not run unless the feature

[2017-06-08 13:36] kierachell commented on #2268
If we're looking at `FeatureToggle`, then a good place to validate something like this is @NickHeiner 's checklist:
https://github.com/department-of-veterans-affairs/caseflow/blob/master/docs/nick-cr-how-to.pdf
- When working with `FeatureToggle`-able code - double-check that it's behind the flag.

Would it help to make this a full on discussion for next week? Say... Wednesday?
Action items I see:

[2017-06-08 13:38] aroltsch commented on #2098
@sharonwarner did you have a chance to get steps to validate this?

[2017-06-08 13:49] amprokop commented on #2268
Another issue here that we should consider is— we knew the problem and the fix and had the code on hand for somewhere between 30-45 minutes before we were able to merge it into master. In this case, the absolute amount of data that was affected was very low. But it would have been halved if we had a reliable build.

There are two problems here:
- Travis is unreliable.
- We weren't able to take onl

[2017-06-08 13:54] askldjd commented on #2268
Yes, the timing was really weird. We found the anomaly about 10 min after deployment. It _looked_ like a easy fix, but Travis PR build time really hurt us. Because of the Travis PR penalty, maybe a rollback should've been chosen as the default path.

[2017-06-08 13:56] amprokop commented on #2268
I think we either have an immediate rollback *or* we immediately take the site down after we realize we have a bug that potentially affects production data.

[2017-06-08 13:57] amprokop commented on #2268
Or a combination of both— we could take the site down then rollback.

[2017-06-08 14:19] amprokop commented on #2098
@sharonwarner — can you take a look at Artem and Anya's questions?

[2017-06-08 14:34] astewarttistatech commented on #1884
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access reader
2. Access a document with over 4 pages
3. View the pages of the document in a 2-page view.
4. Enter in random unsequential numbers into the bottom toolbar for pages.
5. Validate that the pages change based on the numbers entered and that they don't shift randomly.

Screenshots:
![readerpageview](https://user

[2017-06-08 14:34] #1884 closed

[2017-06-08 14:46] sharonwarner commented on #2098
@kierachell I talked with @cmgiven, and he said it's better to not wipe any data for now. That could change in the future.

@aroltsch I'll add steps to validate on the PR.

[2017-06-08 14:53] askldjd commented on #2268
Good point. I am going to take an action item on fast rollback using ASG/LC. https://github.com/department-of-veterans-affairs/appeals-deployment/issues/595

[2017-06-08 15:03] astewarttistatech commented on #2173
Theres a few errors in here i don't know what to make of. I can't decipher if they are related to the ticket or not. @gnakm @tejans24

1. It goes to the first page first, then goes to the page the comment was on.
2. If you push the the back button to switch to the previous document in that order and then press the next button (like i did by mistake (hehe), it doesn't take you to the first page of

[2017-06-08 15:31] kierachell commented on #2268
Going from what @amprokop and @askldjd  mentioned I made an issue:
https://github.com/department-of-veterans-affairs/caseflow/issues/2265
- I leave Travis snafu up to ya'll, but the above will be able to address several problems:
    - Service degradation
    - Stop bleeding for app-specific bugs

[2017-06-08 15:34] amprokop commented on #2268
So, here's a summary of the action items

1. Clearer norms around unit testing (Do we have any team guidelines at all?). Discussion issue TBD.
2. Clearer norms around new service integrations. Discussion issue TBD.
3. CI is slow and unreliable. @mdbenjam to make action items for himself/whiskey (anyone else?)
4. More granular way to take down specific apps, captured in https://github.com/departmen

[2017-06-08 15:55] gnakm commented on #2173
@astewarttistatech @tejans24 Yes. these are all wrong.

1. This is a bug. It is a concoction of what's incorrect + correct.  It should go straight to the correct page of the icon + comment.
2. If you jump to a section and leave that document (whether going back to document list or different document), user should never land back at that section again unless s/he decides to jump to specific section

[2017-06-08 16:04] Sjones352 commented on #1091
<img width="690" alt="screen shot 2017-06-06 at 10 09 45 pm" src="https://user-images.githubusercontent.com/23080951/26859330-ef6bf7c4-4b04-11e7-8334-cedf0d9e1c4c.png">

[2017-06-08 16:09] gnakm commented on #1091
@Sjones352 Could you change the content to say ...`have 30 px of space between the bottom...`

[2017-06-08 17:11] astewarttistatech commented on #1091
Current view:
<img width="1299" alt="screen shot 2017-06-08 at 1 11 08 pm" src="https://user-images.githubusercontent.com/23038505/26941299-0491985a-4c4c-11e7-8b7c-8e181634323e.png">

pushing back because the copy is wrong based on gina's comment

[2017-06-08 17:13] astewarttistatech commented on #2173
I will make a new bug for the second issue and push this issue back.

[2017-06-08 17:32] kierachell opened #2285 "Styleguide | Nav menu scrolling is dependent on the main window scrolling"
# Description
When scrolling about in our GLORIOUS STYLEGUIDE OF DESTINY,
I am unable to scroll down the left side Nav Menu without scrolling down the main page

## Reproduction Steps

**Scenario 1 -**

1. Go to styleguide
1. See menu on the left side
1. Have an urgent desire to see what's down the menu
1. Start scrolling
1. Keep scrolling and see that the main window is scrolling, not the menu
1.

[2017-06-08 17:59] nemodjuric opened #2287 "[v2] Make sure representativeType and representativeName values are stored in form8 upon certifying"
Currently in v2, if we pick 'No' for 'Does the representative information from VBMS and VACOLS match?' and 'VBMS' for 'Which information source shows the correct representative for this appeal?',
it will not update form8 with representativeName and representativeType values upon certifying.
Example:

![poa-info](https://user-images.githubusercontent.com/4960030/26943197-b7ee964a-4c52-11e7-9418-42a

[2017-06-08 18:14] Sjones352 commented on #1091
<img width="685" alt="screen shot 2017-06-08 at 2 13 58 pm" src="https://user-images.githubusercontent.com/23080951/26943802-d10edfa2-4c54-11e7-86aa-429ebc33fa63.png">

[2017-06-08 18:18] nemodjuric commented on #2084
It seems to me that this was fix with https://github.com/department-of-veterans-affairs/caseflow/pull/2170 @shellicious can you confirm that everything looks good? Changes are already in master (DEMO) or you can refer to screenshot in PR.
However, #2087 is still open. @amprokop would you like me to prioritize this one instead?

[2017-06-08 18:29] kierachell commented on #1987
**PASSED**
worked this time
[code]

[2017-06-08 18:29] #1987 closed

[2017-06-08 18:31] kierachell commented on #1891
**PASSED**
We're back in business, baby!
<img width="616" alt="screen shot 2017-06-08 at 2 26 39 pm" src="https://user-images.githubusercontent.com/18075411/26944568-17d76f24-4c57-11e7-9635-e4fd6edcee74.png">

[2017-06-08 18:31] #1891 closed

[2017-06-08 18:46] gnakm commented on #1091
@Sjones352 So sleek and elegant. LGTM!

[2017-06-08 18:53] kierachell opened #2289 "App Canvas | Ability to go back and recertify an Appeal"
# Description
When I finished Certifying an Appeal,
I am able to go back to any page and change the values,
Then I am able to Recertify the Appeal as much as I like...

## Reproduction Steps

**Scenario 1 -**

1. Go to v2
1. Certify an Appeal
1. See VACOLS updated, VMBS updated, Form8 uploaded
1. Click back in Browser
1. Go back to any page in the process
1. Recertify appeal
1. See data rewritten.

[2017-06-08 19:46] nicholasholtz commented on #2268
Re: https://github.com/department-of-veterans-affairs/caseflow/issues/2268#issuecomment-307102330

@amprokop If I understand what this feature is doing, there definitely could be a situation where a rep in VACOLS is replaced with nil; sometimes Vets decide to drop their reps without replacing them.

[2017-06-08 20:08] kierachell commented on #2054
**PASSED**
@nemodjuric is the man!
![clear values](https://user-images.githubusercontent.com/18075411/26948339-fc07ae6e-4c63-11e7-8b3f-8739e6ca3311.gif)
## Skipping still fails, which is good!
[code]

[2017-06-08 20:08] #2054 closed

[2017-06-08 20:09] kierachell commented on #1894
**PASSED**
[code]

[2017-06-08 20:09] #1894 closed

[2017-06-08 20:31] kierachell commented on #2197
## What's wrong with RO22
[code]

![whatro](https://user-images.githubusercontent.com/18075411/26949433-e3f87958-4c67-11e7-9ee6-e3d887a0c7bb.gif)

[2017-06-08 21:25] NickHeiner commented on #2272
Nah, I'll do it in this PR. Thanks!

[2017-06-08 21:54] NickHeiner commented on #1665
We can open a future issue for additional lint fixes.

[2017-06-08 21:54] #1665 closed

[2017-06-08 21:59] lakohl opened #2292 "Strange VACOLS Diary Notes are showing up for Dispatch claims whose EPs that have already been cested"
AMO contacted @abbyraskin and I this afternoon to let us know that they were seeing odd VACOLS Diary notes show up when they ran the 97 VACOLS report (in transit to ARC but not cested) even though the EPs already had been cested.

'So they had an assistant coach review some of them and he decided on his own the diaries were the reason these cases were showing up on the report.  That' when they dec

[2017-06-08 22:16] NickHeiner opened #2293 "Improve CI"
This came out of retro on 6/2/17.

CI is painful:

1. Tests are flakey.
1. The job takes too long to run.
1. (minor) It's annoying that restarting a build on Travis wipes away the previous build, instead of creating a new build like on Jenkins.

Look at how to improve this.

[2017-06-08 22:17] gnakm opened #2294 "Site degradation banner"
**Story**
As a user, I would like to be informed that Caseflow's dependencies may be experiencing an outage so I can decide whether to continue using Caseflow or come back later.

**Technical Details**

At first, we'll display the banner across all Caseflow apps if any of our dependencies (BGS, VACOLS, VBMS) shows evidence of being down. We can narrow this down in a future story if we think it's t

[2017-06-08 22:19] gnakm commented on #2211
Ticket for implementation can now be found here: #2294
Thanks everybody for your input!

[2017-06-08 22:19] #2211 closed

[2017-06-08 22:25] lakohl commented on #2292
@abbyraskin and I were in a Lync conversation with Amy Chelgreen and John Shrive (AMO) this afternoon, I've excerpted what seem like the most useful parts:

<img width="360" alt="screen shot 2017-06-08 at 6 22 06 pm" src="https://user-images.githubusercontent.com/4975959/26953281-706d1146-4c77-11e7-91d2-191dc0921255.png">(answer is yes)

<img width="583" alt="screen shot 2017-06-08 at 6 18 38 pm"

[2017-06-08 22:28] fartbagxp commented on #2268
This is why we need Certification V3 to fix all the bad with Certification V2 and V1 and make it great again.

[2017-06-08 22:29] lakohl commented on #2292
@nicholasholtz ^ for awareness

[2017-06-08 22:48] askldjd commented on #2268
:man_facepalming:

[2017-06-08 23:03] nemodjuric commented on #2206
"Situation 3
...
Step 2: VBMS and VACOLS do not match. When user selects "VBMS", they see a message stating that the address could not be updated, and it needs to be manually changed in VACOLS."
@amprokop I am not familiar with this user case scenario. In which case when user picks VBMS we show a message that it needs to be manually changed in VACOLS?

[2017-06-09 00:27] kierachell commented on #2292
## Just processing a good old partial grant. No SIC or anything
[code]

[2017-06-09 00:43] kierachell commented on #2292
## Same for a Remand:
[code]

## Happens regardless of whether any SIC were selected or not

[2017-06-09 00:49] kierachell commented on #2292
https://github.com/department-of-veterans-affairs/caseflow/blob/8b2702ffc36da0cd1a3de817970db4f6545076bb/app/controllers/establish_claims_controller.rb#L151
Where do these params come from? And if they're `" "` are they treated as `nil`?

[2017-06-09 01:36] kierachell commented on #2046
## It was all going so well, until...

American Legion is the default value and it seems like *Contiunue* button expects value to be changed before proceeding
![defaultselect](https://user-images.githubusercontent.com/18075411/26957358-7608a7d0-4c92-11e7-969f-f6b2fc72ccc4.gif)

[2017-06-09 01:46] kierachell commented on #2098
## I selected "Unlisted Service Org" and entered custom name for the following certification, we're still writing `null`????
[code]

[2017-06-09 01:59] #2076 closed

[2017-06-09 01:59] kierachell commented on #2076
**PASSED**

cause what they said

[2017-06-09 02:04] kierachell opened #2295 "Sign and Certify | Certifying Official Title "Other" is not-customizable"
# Description
When a caseworker is about to Certify an appeal,
if they select _Other_ as *Certifying Official title*,
they cannot enter any value for that  field.

The user should be able to specify another title, and that other title should be filled in the Form 8.

## Reproduction Steps

**Scenario 1 -**

1. Go to Cert v2
1. Get to *Sign and Certify* page
1. Select _Other_ as *Certifying officia

[2017-06-09 02:31] kierachell commented on #2258
It also moves when there is no left or right arrow:
![movingtoolbar](https://user-images.githubusercontent.com/18075411/26958718-28357fd0-4c9a-11e7-8037-ce320df86fd2.gif)

[2017-06-09 03:46] nemodjuric commented on #2046
There is an issue for default value that will be pushed out tomorrow (since Dropdown component did not support default Value at the time and it was broken into separate issue). #2259

[2017-06-09 04:29] raquelromano-gov opened #2296 "Advise 508 office on running manual audits against Caseflow / Appeals"
_Note: Please move/refile/reassign if needed_

From [6/5/2017 Vets.gov/508 office meeting](https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Work%20Practices/Accessibility%20and%20508/meeting-notes/2017-06-05-meeting-508-office.md)

Caseflow / Appeals:
 * dequeue worldspace audit; in past, does an automated scan; last one seen was back in March
 * dequeue products are bei

[2017-06-09 12:47] kierachell commented on #2046
Feel free to change the AC and mention that in there

[2017-06-09 13:07] kierachell opened #2297 "BGS Service | Handle `No BIRLS record found` error"
# Description
Apparently sometimes there might not be a BIRLS record for when we `fetch_veteran_info`,
and the user gets stuck on that Task and is unable to move on.

## Reproduction Steps

**Scenario 1 -**

1. Go to Dispatch
1. Get a veteran that has no BIRLS record
1. Try to process his claim
1. Fail
1. Get stuck

**Validated in the following Envrionment(s)**
- [ ] Dev
- [ ] UAT
- [ ] Preprod
-

[2017-06-09 14:48] kierachell commented on #2256
## Steps:
1. With a VBMS POA data missing
1. On Confirm Case Details say VBMS is correct

It tries to save
[code]

[2017-06-09 14:54] NickHeiner commented on #2272
I don't think that a more specific error message is needed.

[2017-06-09 15:04] kierachell opened #2299 "Form 8 v2 | Error when certifying an appeal with an informal form9"
# Description
When trying to Certify an Appeal in Certification v2,
the Location is not being saved properly to Form 8 when `Statement in lieu of Form 9` is selected and `form8_v2` is enabled.

## Reproduction Steps

**Scenario 1 -**
1. Enable Form8 v2 with `FeatureToggle.enable!(:form8_v2)`
1. Go to Certification v2
1. Select VBMS POA info as correct on Case Details page
1. On Confirm Hearing sel

[2017-06-09 15:44] kierachell commented on #2274
**PASSED**
![list](https://user-images.githubusercontent.com/18075411/26983197-f5eb7e34-4d08-11e7-85f0-293625d04166.gif)

[2017-06-09 15:44] #2274 closed

[2017-06-09 15:44] kierachell commented on #2259
**PASSED**
![list](https://user-images.githubusercontent.com/18075411/26983219-0afc475e-4d09-11e7-947f-f62243a23e4c.gif)

[2017-06-09 15:44] #2259 closed

[2017-06-09 15:47] Chingujo opened #2300 "Update Routing Information for Philadelphia PMC"
Got an email from Matthew Wright that they are closing the older Philadelphia PMC General Inbox:  PMCAPPEALS.VBAPHI@va.gov

For appeals routed to PMC Philadelphia we should now be sending it to Matthew, Andrea, and the new inbox. Please see below.

Matthew Wright: matthew.wright1@va.gov
Andrea Gaetano: andrea.gaetano@va.gov
New General Inbox: PensionCenter.vbaphi@va.gov

[2017-06-09 15:51] nemodjuric commented on #2084
@kierachell is working on #2087

[2017-06-09 16:18] ghost opened #2301 "Document List | Loader stuck when there are no documents in VBMS"
# Description
When there are 0 documents in VBMS,
the initial loader for Document List gets stuck...

## Reproduction Steps

**Scenario 1 -**

1. Go to reader for an appeal that has no VBMS documents
1. Watch loader forever

**Validated in the following Envrionment(s)**
- [ ] Dev
- [X] UAT
- [ ] Preprod
- [ ] Prod

## Screenshots
**_Scenario 1 - [VBMS]_**

<img width="972" alt="screen shot 2017-06

[2017-06-09 16:26] laurjpeterson commented on #2206
@nemodjuric Here's a ticket that accounts for this message - when the address needs to be manually changed in VACOLS.

https://github.com/department-of-veterans-affairs/caseflow/issues/2063

[2017-06-09 17:19] astewarttistatech commented on #2135
No form 9 shown in demo @aroltsch | Pushing this back into "In Progress" for you.

Current view of form 9 for 123C:
![certification demo](https://user-images.githubusercontent.com/23038505/26986592-24a66b32-4d16-11e7-8d56-027695b0c2c9.gif)

[2017-06-09 17:35] NickHeiner commented on #2268
I'm on this. See #2293.

[2017-06-09 17:36] NickHeiner commented on #2268
Yes, I'll take this on.

[2017-06-09 17:38] NickHeiner commented on #2268
I agree with the previously stated action items.

I am skeptical that we can have enough automated testing to drive risk down to 0%. It's easy to write tests for known issues. It's hard to write tests for every way that any thing could possibly go wrong. Maybe we could have used more testing here, but I don't want to rely on that.

I would like a stronger team norm around code review for code that

[2017-06-09 17:52] NickHeiner commented on #2293
Storing log for false failures here: https://github.com/department-of-veterans-affairs/caseflow/tree/travis-logs/travis

[2017-06-09 18:04] shellicious commented on #2084
@nemodjuric, screenshot in PR looks good to me!

[2017-06-09 18:16] astewarttistatech commented on #2135
**PASSED**

Validate: Demo/Dev and Local
Browsers: FF and Chrome

[2017-06-09 18:16] amprokop commented on #2268
@nicholasholtz — VACOLS actually has a "No Representative" value ("L" in BFSO), so we would always set it to "L", never nil.

[2017-06-09 19:07] aroltsch commented on #2101
Validation Steps:

For representative_type that is  Attorney, Agent, or Other, we need to update the REP table:

1. Representative is a person and address is available
    1. Vacols rep name should be updated with the BGS rep name
    2. Vacols address_one should be updated with BGS address_line_1
    3. Vacols address_two should be updated with BGS address_line_1 and address_line_2
2. Representat

[2017-06-09 19:07] #2135 closed

[2017-06-09 19:19] astewarttistatech commented on #1423
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access the living style guide
2. Navigate to the Search section of the style guide
3. Verify the copy and behavior/UI of the search functionality.

Screenshots:
![styleguidesearch](https://user-images.githubusercontent.com/23038505/26991094-0a4bbc5e-4d27-11e7-9156-4698c2cf6ee5.gif)

[2017-06-09 19:19] #1423 closed

[2017-06-09 20:04] abbyraskin commented on #2294
Possible copy/preposition edit from convo (also added "technical" here as a suggestion but i do not have strong feelings about this, does it fit?)

We've detected technical issues in our system. You can continue working, though some users may experience errors or delays.

[2017-06-09 21:04] gnakm commented on #2294
@abbyraskin Lara and I went back and forth about adding the work technical in there as well. I'm pretty split half and half... maybe 51/49 on adding back technical because just issues might sound like it is something else.

How about:

![image](https://user-images.githubusercontent.com/13420618/26994369-64018b8a-4d35-11e7-8a2e-06d14432cc17.png)

I took out errors.

[2017-06-09 21:57] lakohl commented on #1989
Also - perhaps for another issue:

- Label styling: sentence or title case?
- Margin-bottom below text input boxes

[2017-06-09 22:07] lakohl commented on #1988
AMO was finding that there was a long delay between the decision date and when Private Attorney cases were cested.

Today, we exclude Full Grants with Private Attorney (they go to 99) from Caseflow.
- We could elect not to exclude them from Caseflow.

Today PA Partials and Remands (Return from  BVA) are sent directly to ->50
- We could ask Jed if VACOLS could send Remands or Partial to ->97 (Reman

[2017-06-10 00:22] kierachell commented on #2272
**PASSED**

[code]

[2017-06-10 00:24] kierachell commented on #2272
**PASSED**
![multiro](https://user-images.githubusercontent.com/18075411/26998430-9692a2ac-4d51-11e7-8b41-9c6af58856e9.gif)

[2017-06-10 00:24] #2272 closed

[2017-06-10 01:02] kierachell commented on #2214
@mdbenjam I would like to have some context on this so I can see what's in VACOLS Dev and collect/update proper data for future integration checks. To help with that, can you give me expected values and ranges for AC 3?

## Here's columns from DECASS:
[code]

Here's sample data that I can find, I do not see any PII. Note that DEATTY is 3 digits
[code]

## Here's columns in STAFF:
[code]

- Here's

[2017-06-10 01:06] kierachell commented on #2101
So...this is blocked because there is no address data for any `ptcpnt_id` in BGS

[2017-06-10 15:17] amprokop commented on #2063
Ah we need a copy change here.

If we can't find the address in BGS and we're updating the REP table in VACOLS, when we certify,  we wipe the address in the REP table. So if the user updates the POA address manually in VACOLS before continuing, we'll wipe it on certification.

@shellicious @laurjpeterson  — we need to change it to say something like "After you certify this appeal" instead of "Befo

[2017-06-10 15:38] laurjpeterson commented on #2063
"After you certify this appeal" sounds right to me.

I know we're not tackling the POA address quite yet with V2. But in the spirit of certification paving the way for accurate data down the line, if we go with this solution I'm thinking we'll also need a reminder for the user on the success page that we couldn't find the address in VBMS and they have to update the address in VACOLS after certific

[2017-06-10 18:49] amprokop commented on #2063
Ok, since it's the weekend we'll go with this for now. I can change it to whatever y'all want later

            `Caseflow could not find an address for the repnresentative in VBMS. After
             this appeal is certified in Caseflow, the representative’s address
             will need to be updated in VACOLS.`

[2017-06-10 19:02] amprokop commented on #2063
Take a look at this PR when you get a chance. Had to update more of the copy on this page due to the fact that the user shouldn't update POA address until after they certify. Happy to push up any tweaks.

https://github.com/department-of-veterans-affairs/caseflow/pull/2302

[2017-06-11 15:24] kierachell commented on #2187
Currently hanging locally with 10 attempts under my belt.:
<img width="1131" alt="screen shot 2017-06-11 at 11 23 30 am" src="https://user-images.githubusercontent.com/18075411/27012146-6fedd570-4e98-11e7-938a-b41f781ab844.png">

[2017-06-11 15:34] kierachell opened #2310 "Help | Login system updated documentation"
# Description
When I go to the new Login page, I get confused,
so I go to Help page to figure out what I am supposed to do,
and I find that **Help** is not.. helpful

## Reproduction Steps

**Scenario 1 -**

1. Go to Help page section 4
1. Be even more confused

**Validated in the following Envrionment(s)**
- [ ] Dev
- [X] UAT
- [ ] Preprod
- [ ] Prod

## Screenshots
**_Scenario 1 - [Section 4]_**

[2017-06-11 16:18] kierachell commented on #2287
Currently failing:

[code]

[2017-06-11 16:31] kierachell commented on #2097
Currently we are not fetching POA from `REPADDR1` if BFSO = `O`...
[code]

<img width="981" alt="screen shot 2017-06-11 at 12 30 55 pm" src="https://user-images.githubusercontent.com/18075411/27012652-d48c660a-4ea1-11e7-9dff-0da7f5316191.png">

[2017-06-11 16:33] kierachell commented on #2090
## Currently we are not fetching VACOLS POA from `REPADDR1` if BFSO = `O`...
[code]

<img width="981" alt="screen shot 2017-06-11 at 12 30 55 pm" src="https://user-images.githubusercontent.com/18075411/27012652-d48c660a-4ea1-11e7-9dff-0da7f5316191.png">

[2017-06-11 17:58] amprokop commented on #2097
Yep! This is by design. We never decided that it was desirable to assume
that something in REPADDR1 was a rep org name, we only decided that writing
rep org names to REPADDR1 was safe since ROs do that sometimes. My sense is
maybe we should look at the data. In a sample of 1000 prod REP rows where
REPFIRST is null, REPLAST is null, and REPADDR1 is not null, how often is
REPADDR1 the org name?

If

[2017-06-11 19:23] kierachell commented on #2097
But we are putting org name in REPADDR1... so the logic here is a bit confusing to me.

[2017-06-12 00:53] joofsh commented on #1866
I believe this has bene resolved. Closing

[2017-06-12 00:53] #1866 closed

[2017-06-12 00:55] joofsh commented on #2297
@kierachell What do you mean by the user gets stuck? If this is before EP creation they should be able to cancel still, right?

[2017-06-12 01:26] amprokop commented on #1897
The Given comments above seem like an argument **for** adding these live stats. @shellicious and @laurjpeterson especially might want to be able to monitor certification v2 usage when we start rolling out to whole groups of users that we aren't personally talking to. It's not a large engineering task to do so — we basically just have to copy over the metrics that already exist in `certification_st

[2017-06-12 01:27] amprokop commented on #2098
@sharonwarner can you take a look at this?

[2017-06-12 01:28] #2063 closed

[2017-06-12 01:31] joofsh commented on #2252
This is a subset of #2246. We'll treat that as an epic and split it off into smaller tickets

[2017-06-12 02:27] amprokop opened #2311 "How should we get POA addresses?"
The POA address being not present or out of date in VACOLS is a persistent pain point. We wanted to address this with Certification v2— we were advised that BGS contained more up to date POA information. However, we recently determined that BGS production does not contain the addresses we expected it to. [See this issue in ruby-bgs](https://github.com/department-of-veterans-affairs/ruby-bgs/issues

[2017-06-12 02:45] amprokop commented on #2311
I just did a run-through of the BGS API documents and I don't see any other service that looks like it would be a likely candidate for serving up POA addresses. @aroltsch, can you take a pass at the BGS documents and double-check?

[2017-06-12 10:48] aroltsch commented on #2311
I'll take a look @amprokop.

[2017-06-12 12:13] astewarttistatech commented on #1091
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access the living style guide
2. Navigate to the Horizontal Line section
3. Verify the copy based on AC

Screenshots:
<img width="1267" alt="screen shot 2017-06-09 at 3 35 31 pm" src="https://user-images.githubusercontent.com/23038505/27033353-f2fea9b8-4f46-11e7-94eb-9755c8c39827.png">

[2017-06-12 12:13] #1091 closed

[2017-06-12 12:15] astewarttistatech commented on #2084
**PASSED**

Verified in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Certification V2, with a veteran who is missing 1 or more documents
2. On the Check Documents page, identify the error message at the bottom of the page
3. Validate the copy and UI from the AC and mocks posted in this ticket.

Screenshots:
<img width="1249" alt="screen shot 2017-06-12 at 8 11 22 am" src="https://use

[2017-06-12 12:15] #2084 closed

[2017-06-12 12:15] aroltsch commented on #2090
@amprokop can you please clarify what is needed for this to pass validation. Thanks!

[2017-06-12 12:16] aroltsch commented on #2097
@amprokop can you please clarify what is needed to pass validation.

[2017-06-12 12:25] amprokop opened #2312 "POA: Should we fetch VACOLS POA from REPADDR1 if BFSO = O and first name and last name are blank?"
If we guess that a name is an organization, we put it in REPADDR1 when updating POA from the BGS POA. However, we don't fetch the POA name from REPADDR1 if first and last name is blank. We should analyze this option and post our decision here.

[2017-06-12 12:26] amprokop commented on #2090
@kierachell @aroltsch — Artem's comment above will be resolved by https://github.com/department-of-veterans-affairs/caseflow/issues/2312.

[2017-06-12 12:27] amprokop commented on #2097
@kierachell @aroltsch — Artem's comment above will be resolved by https://github.com/department-of-veterans-affairs/caseflow/issues/2312. It should not block validation of this ticket.

[2017-06-12 12:31] astewarttistatech commented on #2206
Situation 1:
![path1cv2](https://user-images.githubusercontent.com/23038505/27033881-46fc00b8-4f49-11e7-8957-dbe5bc100561.gif)

Situation 2:
![mismatchdemo](https://user-images.githubusercontent.com/23038505/27033893-50575518-4f49-11e7-9d2f-4516e1382d60.png)

Situation 3:

[2017-06-12 12:32] amprokop commented on #2046
@nemodjuric — can we set a character limit on the organization name here? Let's do 40 characters for now.

[2017-06-12 12:47] kierachell commented on #2097
**PASSED**
Issue will be addressed #2312
Based on the comments.

[2017-06-12 13:26] amprokop opened #2313 "Demo scenarios for Certification v2"
Scenario 1:
- All documents found on the Check Documents step
- On the Confirm Case Details step, POA information doesn't match between VBMS and VACOLS
- VBMS, VACOLS, or "None of the above" can be chosen for follow-up POA question.
- On the Confirm Hearing step, any radio button can be selected in response to questions.

http://dsva-appeals-certification-demo-1715715888.us-gov-west-1.elb.amazonaw

[2017-06-12 13:38] shellicious commented on #2046
@amprokop @nemodjuric: Yes, One Time Representative is not currently in the dropdown, since a one time rep is not the same as a service organization. We'll see how usability testing goes. We might have to change the radio button options, or change the way "Other" works if many people are confused.

[2017-06-12 13:48] aroltsch commented on #2311
[code]

[2017-06-12 14:11] mdbenjam commented on #2250
I agree that this looks good. I like the meeting stuff. Especially

[2017-06-12 14:21] mmlumba commented on #2258
@kierachell https://github.com/department-of-veterans-affairs/caseflow/issues/2230 handles the shift when there's no left/right arrow

[2017-06-12 14:57] mmlumba commented on #2107
Per @NickHeiner and @mdbenjam:

If the PR is approved before all the keyboard shortcuts work (???), add a "mini" feature flag that keeps all the code but hides the UI components for the button and the modal.

[2017-06-12 15:04] mdbenjam commented on #2214
I updated the second AC. Hopefully that clears things up. We'll need fake data where the logged in user has cases assigned to them in the DECASS table where the signed date is null. A future ticket: #1999 will implement the UI, so no need to test too fully until then.

[2017-06-12 15:09] aroltsch commented on #2250
I think it looks great! Thank you for putting it all together!

I can see you opened this issue under the Caseflow project. Is it a desired place for it?

[2017-06-12 15:13] NickHeiner commented on #2250
Yes, I think that's the desired place. It can go in a `.md` file in the `docs` directory.

[2017-06-12 15:14] abbyraskin commented on #2173
@astewarttistatech @tejans24 let's break out alexis' noted bugs into separate tickets (i will create one for the 1st issue) so we can have a slight fix for users in the meantime.

@astewarttistatech can you link to any bug issue you've already created?

[2017-06-12 15:18] #2206 closed

[2017-06-12 15:26] abbyraskinUSDS opened #2316 "Jump to section: initially navigates to first page of document"
## Current State
When a user clicks the "Jump to section" link from the doc list view, the user is initially navigated to the first page of the document.

## Expected
When a user clicks on the "jump to section" link, we should jump them to (load) the correct page without showing the first page of the document first.

![readerjumptosection](https://user-images.githubusercontent.com/23038505/2693549

[2017-06-12 15:29] abbyraskin commented on #2173
I made a ticket for your first bullet point, here: https://github.com/department-of-veterans-affairs/caseflow/issues/2316

I think I need more info about the second issue.

[2017-06-12 16:23] mmlumba commented on #2250
Everything on this document is very helpful! This also seems like a good resource for onboarding new team members. I would also like to add one other thing regarding standup:

I know we do that already, but it is a good thing to add should someone new come onboard and have no idea what to do when they miss standup.

[2017-06-12 16:38] kierachell commented on #2297
So... there's a fun case when an `Error` banner shows up the `Cancel` button will not be clickable - as in, I click and it just does nothing. No JS errors or anything, I am forced to go back a page and cancel from there...

[2017-06-12 16:57] lakohl commented on #1988
Denese replied:

'Claims without attorney’s, having a service representative or no rep that are allowances and/or remands go to the Appeals Management Office/Center.

Claims involving education – go to the designated education center.

Claims for National Cemetery go back to that location. The insurance claims go back to the designated insurance centers.

The Education, National Cemetery, and Insu

[2017-06-12 17:06] kierachell commented on #2090
**PASSED**
issues addressed by the comments above

[2017-06-12 17:06] #2090 closed

[2017-06-12 17:06] amprokop commented on #2311
Well then! Let's try that approach and see if it works!

[2017-06-12 17:13] kierachell opened #2318 "Hearing Details Form 9 | Prefetch Form 9 cause it takes forever to load"
# Description
When I am validating hearing details on Form9, it would be nice to not have to wait forever for it to load

## Reproduction Steps

**Scenario 1 -**

1. Go to Cert v2
1. Get to Hearing Details page
1. Wait for form 9 to load
1. Fall asleep

**Validated in the following Envrionment(s)**
- [ ] Dev
- [X] UAT
- [ ] Preprod
- [X] Prod

## Screenshots
**_Scenario 1 - [LOAD SO SLOW]_**
![loa

[2017-06-12 17:26] kierachell opened #2319 "App Canvas | Text field length limit"
# Description
Some custom fields allow us to enter endless strings, which will break VACOLS and our own DB

## Reproduction Steps

**Scenario 1 -**

1. Go to Confirm Case Details
1. Opt to enter `Unlisted Service Org`
1. Spawn a monster of an `Org Name`
1. See it saved to DB
1. Go to Sign and Certify
1. Spawn a monster of `Certifying Official name`
1. See it explode DB

See limit below:
[code]

**

[2017-06-12 17:30] kierachell commented on #2098
**PASSED**
New issue captured here:
https://github.com/department-of-veterans-affairs/caseflow/issues/2312

[2017-06-12 17:35] mdbenjam commented on #2091
Tech spec has been merged: https://github.com/department-of-veterans-affairs/appeals-pm/blob/master/caseflow/tech_specs/prefetching_files_for_reader.md. Thanks for everyone's feedback!

[2017-06-12 17:35] #2091 closed

[2017-06-12 18:02] kierachell commented on #2214
**PASSED**
[code]

[2017-06-12 18:02] #2214 closed

[2017-06-12 18:10] kierachell commented on #2287
**PASSED**

seems to be form8 v2 specific

[2017-06-12 18:10] #2287 closed

[2017-06-12 18:46] Sjones352 commented on #2212
@gnakm  and @mmlumba we already have Link buttons that are exactly the same as the secondary buttons that I am adding.  Please let me know what I should do.
 <img width="697" alt="screen shot 2017-06-12 at 2 40 44 pm" src="https://user-images.githubusercontent.com/23080951/27049394-33088fe8-4f7d-11e7-8d51-658e32fac800.png">
I think we would move the first set of Link buttons and make them secondar

[2017-06-12 19:03] ToddStumpf commented on #2293
So a matrix build in travis is kicked off by defining multiple values for the same variable.

We can get parallelism by sharding the rake targets, and running them in parallel on different VMs, something like this:
[code]
but going deeper and splitting up the targets into roughly equally sized units of work.

Running parallel tests in the same VM can also gain speed, but that seems to introduce fl

[2017-06-12 19:09] mmlumba commented on #2212
That approach makes sense to me. What do you think @gnakm ?

[2017-06-12 20:20] nicholasholtz commented on #2311
@amprokop

We are investigating this with OGC. Had a conversation with the folks who own the accreditation database last week, and have discussed the likelihood of a discovery sprint to investigate. Ultimately, they want/need a new database (plus some additional functionality), and our ultimate options are either to a) use this data now and then be ready to adjust to however they set up the databa

[2017-06-12 20:26] NickHeiner commented on #2293
Another idea: move fast-failing tasks like `lint` to the beginning of the process, so if they're going to fail a build, they can do it quickly.

[2017-06-12 20:48] NickHeiner commented on #2293
This effort is helped by #2305.

[2017-06-12 20:48] NickHeiner commented on #1675
See also: #2305.

[2017-06-12 20:51] lakohl commented on #1988
@sharonwarner when you get a chance, could you let me know when you think this ticket might be completed? Not wanting to pressure you. But, I'd like to let AMO know so they can alert the ROs this functionality is coming.

[2017-06-12 21:12] Sjones352 commented on #2212
@gnakm would you like to add a description at button section. Currently it looks like this.
<img width="692" alt="screen shot 2017-06-12 at 5 08 23 pm" src="https://user-images.githubusercontent.com/23080951/27055253-cd10ac6a-4f91-11e7-9093-ea09ee8ee8ec.png">

[2017-06-12 21:13] gnakm commented on #2212
I'm issue creepin a bit but can we do it like this:

Buttons

Primary buttons
Default | Hover | Active

Secondary buttons
Default | Hover | Active

Disabled buttons

Button color: $color-gray-lighter
Button text color: $color-gray-dark

Link buttons
Default | Hover | Active

![image](https://user-images.githubusercontent.com/13420618/27055186-a006d3e8-4f91-11e7-92e3-838932faf207.png)

[2017-06-12 21:17] Sjones352 commented on #2212
@gnakm is  Disabled button a subsection?

[2017-06-12 22:26] Sjones352 commented on #2212
@mmlumba Currently looks like this
<img width="690" alt="screen shot 2017-06-12 at 6 22 43 pm" src="https://user-images.githubusercontent.com/23080951/27057932-4805f178-4f9c-11e7-82f0-7686613b3f0e.png">

[2017-06-12 22:27] joofsh commented on #2187
@sharonwarner based on all the recent flakiness in the test builds, I've moved this up to the top of the sprint (still no pressure to work on tango stuff, do cert v2 tickets first!)

[2017-06-12 23:01] joofsh commented on #2293
Link to flakey dispatch tests here: https://github.com/department-of-veterans-affairs/caseflow/issues/2187

They are being worked on next by Tango team

[2017-06-12 23:08] joofsh commented on #2293
@ToddStumpf For some more context, we tested parallelizing our test suite a few months back (that is, running them all in parallel on the same VM) and it only gained ~15 seconds. Travis seems mostly capped to 1 processor/VM

The challenge with splitting the tests up across VMS is that we can quickly gain a lot of speed, but it immediately breaks our code coverage (simplecov). Soon as you split the

[2017-06-13 01:41] NickHeiner commented on #2293
Notes on CircleCI:

* Easy access to ssh into boxes to see what's going wrong
* More insights & stats (median build time, success rate, etc) than Travis
* Logging is a bit nicer to parse, because it is split into sections

[2017-06-13 02:20] joofsh commented on #2293
@NickHeiner fwiw we also cache the bundler gems with our travis setup https://github.com/department-of-veterans-affairs/caseflow/blob/master/.travis.yml#L48-L50 . It similarly shaves off a few minutes (though perhaps circleCI is somehow more efficient)

[2017-06-13 02:47] joofsh commented on #2293
also @NickHeiner we _were_ using an old NodeJS because travis' base image "forced" us to. Then Alan helped remind me how small the node install is, so now we do manually install the latest node LTS

[2017-06-13 12:30] kierachell commented on #2319
**PASSED**
<img width="1134" alt="screen shot 2017-06-13 at 8 29 28 am" src="https://user-images.githubusercontent.com/18075411/27082402-8b7b5d46-5012-11e7-984f-1bac676aeee4.png">
<img width="821" alt="screen shot 2017-06-13 at 8 29 53 am" src="https://user-images.githubusercontent.com/18075411/27082401-8b7a626a-5012-11e7-84fa-1d957fbf1433.png">

[2017-06-13 12:30] #2319 closed

[2017-06-13 13:25] slj commented on #2093
Solution in action:

![new_missing_hdr](https://user-images.githubusercontent.com/1053255/27084513-2f13face-501a-11e7-94b7-4ff66d265e3b.gif)

[2017-06-13 13:33] mdbenjam opened #2326 "Adding comments | Scroll Window jumps to the first page"
A user reported a bug when trying to add a comment:

"Watched Paul Rubin work with comments. He had already placed one comment on a document on page 1, and clicked "jump to location". He scrolled down to page 14, and clicked Add a Comment. When he clicked that, the document view jumped back to page 1. To add the comment, he had to scroll back down to the page he was on, then click on the document.

[2017-06-13 13:34] mdbenjam opened #2327 "Jump to page | Trying to change pages after jumping to a comment fails"
A user reported that using the text box on the bottom toolbar to jump to a page failed after he had already jumped to a comment. I was unable to reproduce it, but wanted to capture the bug here.

[2017-06-13 14:26] sharonwarner opened #2328 "Sentry Error: nil for tasks_completed_count"
ActionView::Template::Error: undefined method `tasks_completed_count' for nil:NilClass
Culprit
----------------
app/views/establish_claims/complete.html.erb in _app_views_establish_claims_complete_html_erb___4092885392400982242_47271956138760 at line 9

[2017-06-13 15:30] nemodjuric opened #2331 "App Canvas | Required field error not cleared on ConfirmHearing and SignAndCertify page"
Related to #2238

[2017-06-13 18:26] laurjpeterson commented on #2250
Discussion will occur on Monday, 6/19

[2017-06-13 18:54] mdbenjam opened #2333 "Test suite discussion (Friday June 23)"
It seems every couple of months we have a discussion about our test suite. There are two main complaints:

1. It takes too long
1. Flakey tests make the CI process, and testing in general, frustrating.

# Proposal
Capybara tests have proved to be difficult to maintain. I suggest that we  move away from Capybara feature tests by doing the following.

1. Beef up our unit tests of React components an

[2017-06-13 18:58] kierachell commented on #2333
https://martinfowler.com/bliki/IntegrationContractTest.html

[2017-06-13 19:04] mdbenjam opened #2334 "eFolder Express Integration | Adding /file/:file_number endpoint"
Read the full eFolder Express integration tech spec [here](https://github.com/department-of-veterans-affairs/appeals-pm/blob/master/caseflow/tech_specs/prefetching_files_for_reader.md).

We need to create a new endpoint at /file/:file_number in eFolder Express to allow other apps to request the list of files associated with a veteran's file number.

# AC
1. Verify the downloads table is indexed by

[2017-06-13 19:16] nicholasholtz commented on #1999
For the copy, you might be better off going with "claims folder" rather than "case file". That is the language people use, anyway. But I defer to all of you wise folks.

[2017-06-13 19:59] NickHeiner commented on #2333
See also #2293.

[2017-06-13 21:22] kierachell commented on #2101
[code]
<img width="912" alt="screen shot 2017-06-13 at 5 19 28 pm" src="https://user-images.githubusercontent.com/18075411/27105160-96b11de6-505c-11e7-88dd-d7a05ff53f0f.png">

## After Certification
[code]

[2017-06-13 21:44] kierachell commented on #2097
## So why is `BFSO=3` reading as `Service Organization`?
[code]
<img width="755" alt="screen shot 2017-06-13 at 5 44 17 pm" src="https://user-images.githubusercontent.com/18075411/27106099-f1bdbbe2-505f-11e7-9549-6298892f0b34.png">

[2017-06-13 21:48] kierachell commented on #2046
**PASSED**

<img width="1134" alt="screen shot 2017-06-13 at 8 29 28 am" src="https://user-images.githubusercontent.com/18075411/27106252-8f92ac42-5060-11e7-834d-55e879f2c939.png">
<img width="821" alt="screen shot 2017-06-13 at 8 29 53 am" src="https://user-images.githubusercontent.com/18075411/27106253-8f93296a-5060-11e7-8ff2-f412172f06ca.png">

[2017-06-13 21:48] #2046 closed

[2017-06-13 23:23] joofsh commented on #2333
Some initial thoughts:

1) Before we discuss this, I think it's important everyone reads [this long article](https://bibwild.wordpress.com/2016/02/18/struggling-towards-reliable-capybara-javascript-testing/) about JS-heavy applications and capybara. It goes into great detail about a setup identical to ours, running into similar problems, and the way they went about solving it.

2) One key insight

[2017-06-14 13:18] astewarttistatech commented on #2093
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Log into Dispatch as a manager
2. Navigate to the ARC Dashboard
3. Under BVA Reports, select "Claims Missing Decisions"
4. Validate the titles of the table against the AC and mocks.

Screenshots:
<img width="1241" alt="screen shot 2017-06-14 at 9 14 36 am" src="https://user-images.githubusercontent.com/23038505/27134098-7

[2017-06-14 13:19] #2093 closed

[2017-06-14 13:45] astewarttistatech commented on #2230
**FAILED**

Shifts when you go back to the first document.

Current view:
![readerbottomshift](https://user-images.githubusercontent.com/23038505/27135291-24ba13de-50e6-11e7-8c50-07b34ed3c4b7.gif)

[2017-06-14 13:58] abbyraskin commented on #1999
Thanks, let's go with that if @gnakm is okay with it! (I think I've had "c-file" engrained in me since my very formative eFolder Express days.)

It looks like the AC could use a little updating in general, as we removed some of the columns. I will tidy it up and post the old AC here. (note there will be small copy changes that differ from mocks @mdbenjam)

[2017-06-14 13:59] abbyraskin commented on #1999
(Old AC for reference)

## Description
This is operation, **"Let's get rid of URL hack!"** Currently users have to type in the Veteran ID number in the URL in order to access Reader. Let's give them a better experience!

## AC
### Welcome message
- [ ] Welcome message `h1` from styleguide
- [ ] Body message in lead paragraph
[Text styling in style guide](https://dsva-appeals-certification-dev-1895

[2017-06-14 14:14] mdbenjam opened #2337 "eFolder Express Integration | Adding /documents/:document_id endpoint"
Read the full eFolder Express integration tech spec [here](https://github.com/department-of-veterans-affairs/appeals-pm/blob/master/caseflow/tech_specs/prefetching_files_for_reader.md).

/documents/:document_id - will stream the document with document_id from S3

# AC
1. Verify that if the file has been uploaded to S3, then stream the file directly to the user.
1. Verify that if the file has not b

[2017-06-14 14:17] mdbenjam opened #2338 "eFolder Express Integration | Document Download Job"
Read the full eFolder Express integration tech spec [here](https://github.com/department-of-veterans-affairs/appeals-pm/blob/master/caseflow/tech_specs/prefetching_files_for_reader.md).

We need a job to download all the relevant documents for a given case at night, so they are ready to be worked in the morning.

# AC
1. Verify 1500 documents assigned to Reader users are loaded into the S3 bucket

[2017-06-14 14:22] mdbenjam opened #2339 "eFolder Express Integration | Feature Toggle functionality"
Updating the Appeals model to pull from the eFolder endpoint `/api/v1/files/<vbms_id>` when `config.efolder_enabled` is set to `true` and the application is `Reader`. These will be displayed on the document list for an appeal in Reader.

Read the full eFolder Express integration tech spec [here](https://github.com/department-of-veterans-affairs/appeals-pm/blob/master/caseflow/tech_specs/prefetchin

[2017-06-14 14:26] mdbenjam opened #2340 "eFolder Express Integration | Point Reader at `/documents/:document_id`"
Read the full eFolder Express integration tech spec [here](https://github.com/department-of-veterans-affairs/appeals-pm/blob/master/caseflow/tech_specs/prefetching_files_for_reader.md).

Currently Reader hits the Caseflow backend which triggers file downloads from VBMS. Now we want to hit eFolder Express to stream our files.

# AC
1. Verify that files are retrieved from `/api/v1/documents/:documen

[2017-06-14 14:28] mdbenjam opened #2341 "eFolder Express Integration | Modify S3 bucket cleanup policy"
Read the full eFolder Express integration tech spec [here](https://github.com/department-of-veterans-affairs/appeals-pm/blob/master/caseflow/tech_specs/prefetching_files_for_reader.md).

Since attorneys may work a case over several days. Let's update the S3 bucket policy to keep files around for 2 weeks.

# AC
1. Verify this policy change does not violate our ATO
1. Verify that the S3 bucket is cl

[2017-06-14 14:32] abbyraskinUSDS opened #2342 "Welcome Gate | Ability to search for a claims folder"
## Story
When chatting about a case with another attorney, I want to search for a claims folder not assigned to me, so I can quickly open the case for reference.

## AC
### Search
- [x] The [style guide search component](https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/styleguide#search) is currently being added to the style guide. Incase it's not ready on time, he

[2017-06-14 14:32] abbyraskin commented on #1999
Search story tracked in https://github.com/department-of-veterans-affairs/caseflow/issues/2342

[2017-06-14 14:57] astewarttistatech opened #2343 "Switching between documents takes you where you last were inside of a doc"
**Description:**
Currently, if you are in a multi-page document in Reader, if you switch to the previous document and then back to the original document, instead of taking you to the beginning of that multi-page document, you are back to the last page you were on within the document.

**Found in:** UAT
**Browsers:** FF and Chrome

**Steps to Reproduce: **
1. Access Reader for a veteran who has mul

[2017-06-14 15:09] #2173 closed

[2017-06-14 15:42] tejans24 commented on #2230
It seems like the changes for this were reverted by https://github.com/department-of-veterans-affairs/caseflow/pull/2291 by accident. I will commit these changes again.

[2017-06-14 15:59] astewarttistatech commented on #2087
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Toggle on Certification V2
2. Access the help page
3. Verify the copy and UI against mocks and AC

Screenshots:
![caseflow_help](https://user-images.githubusercontent.com/23038505/27142405-ec886b88-50f8-11e7-8166-c9b76f6e3bf1.png)

[2017-06-14 15:59] #2087 closed

[2017-06-14 17:08] askldjd commented on #2067
Sound sourcemap be enabled for demo or UAT?

UAT in theory is our only deployment gate. It is risky to have configuration custom for this env.

For sure, enabling sourcemap will slow down site loading significantly.

[2017-06-14 17:23] amprokop commented on #2067
@askldjd — @kierachell is the main user of UAT, and he is willing to trade off speed for functionality here. Do you have an objection if we go through with this, then revert if we find it's problematic?

[2017-06-14 17:25] amprokop commented on #2067
@askldjd — what if we just set it as an ENV var and passed it down to the client, instead of having a new node env?

[2017-06-14 17:48] nemodjuric commented on #2067
It seems that we don't have source maps enabled in demo, would that do instead of UAT? @amprokop

[2017-06-14 17:49] amprokop commented on #2067
This is up to @kierachell, I'm guessing no though.

[2017-06-14 18:09] nemodjuric commented on #2202
After talking to design team, we decided to apply this change globally.

[2017-06-14 18:42] kierachell commented on #2067
I guess the better solution would be to: create a new `NODE_ENV` that can be used in demo? Then the `dev` can use the source maps - I assume JS errors will be mostly frontend anyway so we don't need a full integration to see them?

[2017-06-14 18:54] joofsh commented on #2067
+1 creating a new `NODE_ENV` for demo, with source maps on. I would prefer to keep them off on UAT if at all possible. It's important that UAT perfectly mirrors the build steps of production, otherwise we are flying blind moving into production. We should be able to catch most if not all JS errors on demo.

[2017-06-14 18:59] nikitarockz commented on #1250
# Update
The following links are now available on the BVA intranet. https://vaww.bva.va.gov

ID|Shortcut Name|Shortcut URL
---|---|---|
1|Caseflow Dispatch|https://appeals.cf.ds.va.gov/dispatch/establish-claim
2|Caseflow Dispatch Manager|https://appeals.cf.ds.va.gov/dispatch/establish-claim

[2017-06-14 19:20] amprokop commented on #2067
Sure, that solution sounds fine, if @kierachell is happy with it.

[2017-06-14 19:23] kierachell commented on #2294
See https://github.com/department-of-veterans-affairs/appeals-qa/issues/33 for maps of how systems are connected.

[2017-06-14 20:02] nemodjuric commented on #2253
@shellicious @amprokop Can we get wording for these?

[2017-06-14 20:03] amprokop commented on #2067
@nemodjuric looks like we can go with demo ^

[2017-06-14 20:04] kierachell commented on #2067
@sharonwarner made a redux logger too which can be taken out of prod env the same way? Is that correct?

[2017-06-14 20:23] shellicious commented on #2253
@nemodjuric @amprokop

Thanks for bringing this up. Here's copy for 2 bullet points.

This one will show up for all certified appeals, since hearing prefs are always updated.
- Hearing fields updated in VACOLS

This one will appear if the POA has been updated in VACOLS -- is the tech lift to determine this relatively low?
- Representative fields updated in VACOLS

[2017-06-14 21:26] amprokop opened #2352 "[v2 - For St. Pete] | Sign & Certify and Success pages scroll down on load"
Potentially, we're scrolling to the first element with focus on page load. It's a little jarring to be scrolled halfway down.

### AC ###
- When loading Sign & Certify and Success pages, we should be at the top of the page

[2017-06-14 22:10] gnakm opened #2353 "Style guide | Survey action items"
### Summary
Marian and I reviewed the results from the Style Guide Feedback Survey, debriefed on our findings and put together some next step action items

### TODO
- [ ] Instructions on how to update Style guide (Gina/Marian)
- [ ] Adding a section with sketch file and icon (Gina)
- [ ] Make announcements on slack channels
- [ ] Engineering perspective - Add more documentation of use cases (Maria

[2017-06-15 02:50] lakohl commented on #2227
@cmgiven I I would like to know more about non-VBMS cases.

This was Denese's description of claims not sent to/processed at ARC:

'Claims involving **education** – go to the designated education center.
Claims for **National Cemetery** go back to that location.
The **insurance** claims go back to the designated insurance centers.
The Education, National Cemetery, and Insurance Offices are the onl

[2017-06-15 12:25] kierachell commented on #2202
**PASSED**

<img width="461" alt="screen shot 2017-06-15 at 8 21 42 am" src="https://user-images.githubusercontent.com/18075411/27181132-3ae3d4ce-51a4-11e7-989d-96f215001e60.png">
<img width="1209" alt="screen shot 2017-06-15 at 8 25 27 am" src="https://user-images.githubusercontent.com/18075411/27181134-3ae72246-51a4-11e7-8cd8-37a279a3839a.png">
<img width="301" alt="screen shot 2017-06-15 at 8 2

[2017-06-15 12:25] #2202 closed

[2017-06-15 12:30] kierachell commented on #2238
**PASSED**

![requiredssss](https://user-images.githubusercontent.com/18075411/27181282-efeeb37a-51a4-11e7-8327-9a3695149a6b.gif)

[2017-06-15 12:30] #2238 closed

[2017-06-15 12:39] kierachell commented on #1669
**PASSED**

![arrowaround](https://user-images.githubusercontent.com/18075411/27181570-1df8fc0c-51a6-11e7-96f5-5b0c55a6b86b.gif)

[2017-06-15 12:39] #1669 closed

[2017-06-15 12:43] aroltsch commented on #2101
@amprokop could you please respond to @kierachell's question.

[2017-06-15 12:53] aroltsch commented on #2236
@amprokop I think this is done. See my PR: https://github.com/department-of-veterans-affairs/caseflow/pull/2225

[2017-06-15 13:44] astewarttistatech commented on #2230
**PASSED**

Validated in: UAT and Dev
Browsers: FF and Chrome

Steps to Validate:
1. Access Reader
2. Select a multi-page document
3. Shift between all page and see if the footer toolbar shifts at all

Screenshots:
![readerbottomshift](https://user-images.githubusercontent.com/23038505/27184139-2b1d4ede-51af-11e7-9e2c-6820336c2ab9.gif)

[2017-06-15 13:44] #2230 closed

[2017-06-15 13:47] astewarttistatech commented on #2212
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access the living style guide
2. Navigate to the Buttons section by navibar or by scrolling
3. Validate the UI and copy of the buttons section against mocks and AC

Screenshots:
![sgbuttons](https://user-images.githubusercontent.com/23038505/27184263-b1657930-51af-11e7-8161-220bc47e3d62.gif)

[2017-06-15 13:47] #2212 closed

[2017-06-15 13:59] amprokop opened #2354 "Should we display "Other" under VACOLS Rep?"
We should revisit the question of whether to display "Other" in the VBMS/VACOLS rep info section.

We display this value when `BRIEFF.BFSO` is "O". In VACOLS, the POA dropdown just says "Other".  We have this mapped in `case.rb` to `"O" => { full_name: "Other Service Organization", short: "Other", rep_name_in_rep_table: true },`

An example of weirdness caused by this is brought up by Artem below.

[2017-06-15 14:10] amprokop commented on #2101
@kierachell @aroltsch — the conversion of POA data is sometimes lossy right now :( it's not 100% clear to me what we should do about this, so i've opened https://github.com/department-of-veterans-affairs/caseflow/issues/2354 and kicked it to design/product.

[2017-06-15 14:18] amprokop commented on #2236
@aroltsch — i agree. We can close this. 👍 :clinking_glasses:

[2017-06-15 14:24] #2236 closed

[2017-06-15 14:34] mdbenjam commented on #1675
Closing this for now. Since we've made Reader tests significantly better!

[2017-06-15 14:34] #1675 closed

[2017-06-15 14:54] abbyraskin commented on #2092
@mdbenjam @gnakm @mmlumba
- We decided to hold on supporting infinite scroll, as we did not feel confident that the less complex experience was worth shipping.
- We estimate about ~1 week's worth of work to make the code changes necessary to improve infinite scroll to a degree we feel comfortable releasing.
- After we've released new/improved keyboard shortcuts, we will test with users to evaluate

[2017-06-15 14:54] #2092 closed

[2017-06-15 15:18] joofsh commented on #2250
+1 all these points! I think this is an important positive direction for the team

I would maybe add that all to-dos or actionable items should be assigned to someone to take ownership of.

Thanks @laurjpeterson for putting this together!

[2017-06-15 16:03] kierachell commented on #2333
I was able to spin up a Travis-like VM where these tests can be debugged and _tested_...
All the flaky tests have repeatedly failed there with no particular consistency. However, this allows for clear debugging and screenshot access for anyone willing.

[2017-06-15 16:06] abbyraskin commented on #2161
@gnakm we should start finalizing designs for this -- receipt date edit will come later, but if we want to include any issues info from VACOLS, I think we should show that here.

[2017-06-15 17:09] abbyraskin commented on #1905
I'm closing this out, as we're changing the way people access cases. May want to reevaluate a version of this messaging when we've implemented search in the "welcome gate."

[2017-06-15 17:09] #1905 closed

[2017-06-15 17:11] abbyraskin commented on #1974
@tejans24 is this blocked?

[2017-06-15 18:50] astewarttistatech commented on #2258
Is there any way to validate the space between the arrows and the edge of the page? @mmlumba

Please view the video of validation below
![footerspacing](https://user-images.githubusercontent.com/23038505/27196788-dd90371e-51d9-11e7-8e5a-0f0c39a7019a.gif)

[2017-06-15 19:15] abbyraskin commented on #2342
Note: add info about selecting VACOLS appeal

[2017-06-15 19:17] abbyraskin commented on #1671
We're going to inherit this from eX integration - closing this ticket.

[2017-06-15 19:18] #1671 closed

[2017-06-15 19:21] abbyraskin commented on #1903
closing this out because this will no longer be an issue when we have the welcome gate

[2017-06-15 19:21] #1903 closed

[2017-06-15 20:37] mmlumba commented on #2258
@astewarttistatech you could download the chrome extension Page Ruler and measure the space between the end of the arrow on "Next" and the end of the toolbar

[2017-06-15 22:52] gnakm commented on #1998
@abbyraskin According to Lara, we currently cannot pull the original claim date but Shane is planning to work on it when he get's back so we can punt that for later. I also took out documents number because it should be added below.

Questions for you:
- I took out the diagnostic codes but this is a product decision on whether or not we want our users to use it.
- Do you remember what an "office n

[2017-06-15 22:55] gnakm commented on #2161
@abbyraskin Yup! Updated the mock. There are still pressing questions related to #1998 we should talk about it. Afterwards, I'll update this AC with new DAS stuff.

Note: This was the previous mock.

![image](https://cloud.githubusercontent.com/assets/13420618/26472875/1f099678-4176-11e7-852f-7094d5057554.png)

[2017-06-16 00:28] kierachell commented on #2268
@amprokop @nickheiner-usds @askldjd
Seems like the discussion is over: I will extract action items and close this

[2017-06-16 00:29] mogrenAtWork commented on #1875
@gnakm as a user is typing a new tag, should the text they're typing break onto the next line as well (similar to your label example above) or continue on in a single line of text (example below)?
![](http://g.recordit.co/j23JPSQJdb.gif)

[2017-06-16 00:32] #2268 closed

[2017-06-16 00:39] kierachell commented on #273
I know this is "blocked", but... winter is coming:
https://www.ruby-lang.org/en/downloads/

mentioning the one true @nickheiner-usds for visibility.

[2017-06-16 12:19] gnakm commented on #2229
@abbyraskin For our discussion later

1. View all comments tab

![image](https://user-images.githubusercontent.com/13420618/27226165-a8ffac2c-526b-11e7-8c62-13c2b0bf8f09.png)

![image](https://user-images.githubusercontent.com/13420618/27226173-b246bee2-526b-11e7-8954-bca1af62d386.png)

![image](https://user-images.githubusercontent.com/13420618/27226255-1562ae00-526c-11e7-8e0b-19b83b51a695.png)

[2017-06-16 14:16] kierachell commented on #2295
## Just add length limit same as Certifying Official Name to keep everything sane:

[code]

<img width="683" alt="screen shot 2017-06-16 at 10 12 08 am" src="https://user-images.githubusercontent.com/18075411/27230146-497cf028-527c-11e7-9f60-5824699460e5.png">

[2017-06-16 14:25] kierachell commented on #2101
**PASSED**

all 4 scenarios pass

[2017-06-16 14:25] #2101 closed

[2017-06-16 14:56] joofsh commented on #2032
@kierachell hey moving this back to in validation finally (sorry about that!). I updated the original AC per your wise suggestion :)

[2017-06-16 15:37] mmlumba commented on #2353
`Don't show`
^ ...not sure if that was supposed to start a sentence

[2017-06-16 16:13] nemodjuric commented on #2067
After looking into this and talking to few of you, the obvious solution is to have RAILS_ENV: demo
Then in rails_on_react.rb, have something like if Rails.env.demo? then config.npm_build_test_command = "npm run build:test"
(Will check if config.npm_build_demo_command = "npm run build:test" would work).
What everyone else thinks about this solution?
@askldjd @amprokop @joofsh @mdbenjam @tejans24 @k

[2017-06-16 16:57] kierachell commented on #2032
**PASSED**

<img width="1207" alt="screen shot 2017-06-16 at 12 57 33 pm" src="https://user-images.githubusercontent.com/18075411/27236538-61bc6b20-5293-11e7-8d1e-7cd233c36eb6.png">

[2017-06-16 16:57] #2032 closed

[2017-06-16 17:56] abbyraskin commented on #1998
Notes / decisions from call with @gnakm :
(1) Claim detail --> Case details
(2) Change Description to Notes; description is generally 2 lines, but will scroll if longer.
(3) AOD/CAVC color coding from VACOLS (finding out what this is)
(4) Hold off on issue notes section until Hearings team has built on this field

[2017-06-16 18:10] abbyraskin commented on #1998
AOD = red
CAVC = blue

[2017-06-16 18:30] nemodjuric commented on #1897
The difference between v1 and v2 fields once certification is loaded comes from fetch_power_of_attorney! method which includes bgs and vacols rep name, type and address fields

However,  there are cases when bgs record may be empty. This would bring v2 in the same position as v1 and no way to tell the difference.
If we exclude certification started stat (including the very first step), there are s

[2017-06-16 20:50] gnakm commented on #1999
@mdbenjam Sorry for getting back to you late on the comment width. I added this to the AC above - Width of "new" button should match "continue" button. Basically the padding on the button is correct according to style guide but I'm going to add when buttons are STACKED, they should all be same width. It's an exception we're going to have to add.

[2017-06-16 20:56] gnakm opened #2362 "Style guide | Change button description"
**Description**
As a designer or developer, I want to know how to use the buttons in Caseflow so that they are consistent across all apps.

## AC
- [ ] Verify that the description for buttons (see copy below) is added to the Buttons section above the UI components
**_Note: Nothing should change in the source code_** 😸

## Copy
Primary actions are visually prioritized by being solid blue `usa-butto

[2017-06-16 23:20] shanear commented on #2333
I know I'm on vacay but I couldn't help but add some thoughts :)

1) There are a couple really big advantages of our Capybara tests that we would be leaving behind:
    -  They test almost every feature of our application with the front and back end integrated. This is extremely valuable and has prevented countless bugs. The fact that we've only had 1 regression bug in almost a year and a half of

[2017-06-17 15:42] kierachell commented on #2097
**PASSED**
Remaining issue captured in: https://github.com/department-of-veterans-affairs/caseflow/issues/2354

[2017-06-17 15:42] #2097 closed

[2017-06-17 15:54] kierachell commented on #1875
**PASSED**
WOOHOO @mogrenAtWork from downtown with them bugfixes!
![taglongasf](https://user-images.githubusercontent.com/18075411/27254292-982965c6-5353-11e7-9b1e-20c0c84ca34b.gif)

[2017-06-17 15:54] #1875 closed

[2017-06-17 15:58] kierachell commented on #1789
### Technically this is passed, but I was wondering if users would like "by year" and or "by month" filtering.

There's a cool side-effect to current functionality by entering `/` or `//` is this ok @abbyraskin ?

![dates](https://user-images.githubusercontent.com/18075411/27254333-4e7d74e8-5354-11e7-94a7-c2b490ba4588.gif)

[2017-06-17 16:38] kierachell commented on #2292
### Stopped getting these notes after the code was merged, yay!

[code]

[2017-06-17 16:43] kierachell commented on #2292
**PASSSED**
[code]

[2017-06-17 16:43] #2292 closed

[2017-06-17 16:53] kierachell opened #2363 "Create New EP | How is VBMS changing Establish Claim and WHY?!?!?!"
# Description
So VBMS changed how they do establish claim, it seems:
From VBMS team:
[code]
So, let's try removing:
https://github.com/department-of-veterans-affairs/connect_vbms/blob/0b275309ea58399a79e8ed9d6e99aa703cdd687c/lib/vbms/requests/establish_claim.rb#L23

## Reproduction Steps

**Scenario 1 -**

1. Go to Dispatch
1. Attempt to create a new EP
1. See VBMS complain
**Validated in the foll

[2017-06-18 22:53] nicholasholtz commented on #2363
@kierachell Is this blocking all EP creation?

[2017-06-19 11:09] gnakm opened #2364 "Reader | Breadcrumb"
**Description**
As a user, I would like to quickly and easily navigate between different pages on Reader that is consistent to other Caseflow applications.

## AC
- [ ] Verify that clicking the word "Reader" in Caseflow Reader will bring user to the [welcome gate page](https://github.com/department-of-veterans-affairs/caseflow/issues/1999)
- [ ] Verify that clicking Claims Folder will bring user t

[2017-06-19 11:36] gnakm commented on #1875
@mogrenAtWork I am so sorry that I missed this but what you did ^^ is beautiful. Thank you!

[2017-06-19 11:55] gnakm commented on #2079
Closing this because we generally have this down and recent priorities was around handling comment errors. Re-open if you disagree.

[2017-06-19 11:55] #2079 closed

[2017-06-19 12:15] mogrenAtWork commented on #1875
No worries at all!

[2017-06-19 12:38] kierachell commented on #2299
**PASSED**
Certified v2 without errors:
[code]

[2017-06-19 12:38] #2299 closed

[2017-06-19 13:00] astewarttistatech commented on #2258
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Reader
2. Open a document and navigate to the bottom toolbar
3. While using various browser extensions, verify the elements in the bottom toolbar against mocks and AC

Screenshot:
see above

[2017-06-19 13:00] #2258 closed

[2017-06-19 14:01] abbyraskin commented on #1789
@kierachell good catch. @tejans24 i think we should broaden the scope slightly to allow users to more intuitively search by day or year. right now, they have to enter // before a year, or / before a day for it to return the docs.

Examples:
- searching for /2017 or 2017 should return documents with receipt dates in the year 2017
- searching for /20 or 20 should return documents with a receipt date

[2017-06-19 14:03] NickHeiner commented on #2333
@mdbenjam when is this conversation actually happening? Is it the time that would be right after standup today if there were standup?

[2017-06-19 14:47] #2277 closed

[2017-06-19 14:52] sharonwarner commented on #2198
- The cleared EPs should not show up as existing EPs
- @lakohl will look into the pmc-routed EPs

[2017-06-19 15:37] mdbenjam opened #2367 "Switching Between Documents | Footer doesn't load"
When switching quickly between documents, the footer doesn't load for a very long time, and document stays blank.

# AC
1. Verify the footer never disappears when switching between documents
1. Verify a message `Document Loading...` in italics is displayed where the page indicator will be when the document fully loads.

[2017-06-19 15:41] gnakm commented on #1998
Old mocks... just incase.

[2017-06-19 15:47] aroltsch opened #2368 "ArgumentError: comparison of Date with nil failed"
Sentry link: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow-certification/issues/252/events/

This error happens when vbms_document doesn't have a received date.

Acceptance Criteria:
When a VBMS document does not have a received date, we should not match that VBMS document to any Vacols documents.

[2017-06-19 16:06] lakohl commented on #2218
Revised mock based on feedback form judges and Reader designs. For now we will only have the judge edit the Description but not the issue itself.
![hearing worksheet online mvp 7](https://user-images.githubusercontent.com/4975959/27290450-4e19ce06-54db-11e7-8964-a77f21cc3b9f.png)

[2017-06-19 16:41] mogrenAtWork commented on #2233
@gnakm did you want the unread items in the list to stay bold? `<em>` will italicize them, `<strong>` will keep the item bold but will be useful for screen readers.

[2017-06-19 16:45] mdbenjam opened #2372 "Move seeds from setup_fakes to seeds.rb"
We currently do a lot of DB seeding in the various fake repositories. Instead, we should be seeding only in seeds.rb

[2017-06-19 17:00] gnakm commented on #2233
@mogrenAtWork unread should be bold 😄

[2017-06-19 17:32] abbyraskinUSDS opened #2373 "Create a Reader stats page"
**Stats page stats:**
- category tags used (how many of each of the 3)
- documents opened
- issue tags created per case
- notes
- average size of notes
- users

[2017-06-19 17:47] gnakm opened #2375 "Document Viewer | DAS information in side menu"
**Story**
As a user, I would like to see VACOLS information at this interface so that I don't have to go back and forth comparing issues and information from another system.

## AC
- [ ] Verify that the Document Information section has the following information
  - Veteran ID (Claim number)
  - Docket number
  - Type (Type action)

[code]

  - If the case is AOD, show the word AOD in `$color-secon

[2017-06-19 18:04] sharonwarner opened #2376 "Prioritize PA SI Correctly"
From @lakohl : I just chatted with Abby and it seems they will be rare, but on claims that have tier 2 or 3 special issues those special issues should take precedence. e.g. They should be routed to the tier 2/3 RO or Specialty Center rather than the ROJ

## AC:
- Go to Dispatch
- Start establishing next claim with Private Attorney preselected
- Choose a level 2 and/or 3 Special Isssue
- Make sure

[2017-06-19 18:14] slj commented on #2168
Solution screenshot:
<img width="656" alt="screen shot 2017-06-19 at 2 13 31 pm" src="https://user-images.githubusercontent.com/1053255/27299213-995eff1c-54f9-11e7-8eae-e2ec414410a8.png">

[2017-06-19 19:08] amprokop commented on #1896
@NickHeiner @Chingujo — did this happen?

[2017-06-19 19:23] mogrenAtWork opened #2380 "Investigate speeding up PDF page rendering when zooming out"
Investigate speeding up PDF page rendering when the user is zooming out of the canvas.

We may be able to use CSS transforms to scale the rendered images down quickly, without having to re-render them each zoom.

[2017-06-19 19:38] abbyraskin commented on #2364
^^ yes, i like that. claims folder sounds better.

[2017-06-19 20:41] gnakm opened #2381 "Document Viewer | Back button copy edit"
**Description**
We are now calling the documents list page the claims folder page, so we need to change that name everywhere.

## AC
- [ ] Verify that the copy for the "Back to Documents" button link is now "Back to claims folder"

## Mock ups
![image](https://user-images.githubusercontent.com/13420618/27304947-cdd44f72-550d-11e7-995e-a718d2400e4d.png)

[2017-06-20 00:39] Sjones352 commented on #2160
<img width="1271" alt="screen shot 2017-06-19 at 8 37 42 pm" src="https://user-images.githubusercontent.com/23080951/27311507-550a6474-552f-11e7-89bf-b6f96a2b9cc8.png">

[2017-06-20 12:17] kierachell commented on #1988
**PASSED**

using:
[code]

<img width="1017" alt="screen shot 2017-06-20 at 8 08 23 am" src="https://user-images.githubusercontent.com/18075411/27332387-b417f85e-558f-11e7-97e5-0910fac15dd9.png">
<img width="979" alt="screen shot 2017-06-20 at 8 09 12 am" src="https://user-images.githubusercontent.com/18075411/27332407-c2b24612-558f-11e7-8622-748fa28bc4a4.png">

## Where should PA Full Grants be r

[2017-06-20 12:17] #1988 closed

[2017-06-20 12:23] aroltsch opened #2383 "Organize directory structure for external dependencies in Caseflow"
I would like to propose the following directory structure:
1. Remove `app/repositories` directory as it is unclear what it means.
2. Place external APIs under the following directories: `app/services/vacols/*`, `app/services/bgs/*`, `app/services/vbms/*`. We have an issue to re-factor `appeal_repository.rb` to separate Vacols and VBMS code.
3. Place report code under `app/services/reports/*` direc

[2017-06-20 12:25] kierachell commented on #2368
**PASSED**
Would be fun to find a single document that has no receipt date :D - prod it shall be!

[2017-06-20 12:25] #2368 closed

[2017-06-20 13:58] kierachell commented on #2363
Yes. At least in `uat`, however VBMS team has responded with:

Whatever that means.

[2017-06-20 14:36] kierachell commented on #2067
That should work
👍 from me

[2017-06-20 15:05] mdbenjam commented on #2383
I don't have strong feelings about this. But I think this approach makes sense.

[2017-06-20 15:21] astewarttistatech commented on #1847
**FAILED**  @mmlumba

Cannot be focused in on with 'tab' key from keyboard. See below:
![buttonsreader](https://user-images.githubusercontent.com/23038505/27341198-8bf8c6da-55aa-11e7-82ad-8ad5d45d4d23.gif)

[2017-06-20 15:26] astewarttistatech commented on #1924
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access the living style guide
2. Navigate to the Radio buttons section
3. Check the spacing between each EXAMPLE of radio buttons, not the individual buttons themselves.

Screenshots:
![fieldsetradio](https://user-images.githubusercontent.com/23038505/27341447-48da33a6-55ab-11e7-97ef-7420002cc0c6.gif)

[2017-06-20 15:26] #1924 closed

[2017-06-20 15:29] astewarttistatech commented on #1925
First 2 checkboxes couldn't be verified. @Sjones352 Any suggestions on how to verify this in UAT?

See below:
![fieldsetcheckboxes](https://user-images.githubusercontent.com/23038505/27341597-bc7c4c7c-55ab-11e7-94b0-ee329a8762c1.gif)

[2017-06-20 15:34] astewarttistatech commented on #2233
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Reader
2. In the Document List view, "inspect" a document that hasn't been viewed yet (should appear bold in type)
3. Verify that it's tag is <strong> instead of <b> for bold.

Screenshots:
<img width="1295" alt="screen shot 2017-06-20 at 11 33 05 am" src="https://user-images.githubusercontent.com/23038505/27341840

[2017-06-20 15:34] #2233 closed

[2017-06-20 15:40] amprokop commented on #2067
sounds good to me too!

[2017-06-20 15:40] astewarttistatech commented on #2160
**PASSED**

Verified in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Reader
2. Add a comment to a document
3. While the hover is active, use the digital color meter (Mac) to locate the RGB and convert it to HEX
4. Verify the hex colors match.

Screenshots:
<img width="1304" alt="screen shot 2017-06-20 at 11 35 58 am" src="https://user-images.githubusercontent.com/23038505/27342152-48

[2017-06-20 15:40] #2160 closed

[2017-06-20 15:42] joofsh commented on #2383
The goal with `app/repositories` was to be the location for all our external dependency code. I agree though that it's very similar to the `services` directory, and am totally fine nesting them back in there.

LGTM 👍

[2017-06-20 17:20] mdbenjam opened #2385 "Pdf.jsx | Refactor and add unit tests"
Pdf.jsx is getting super long. We've push a tremendous amount of logic into one file. The methods are long, tangled, and we're still using local state. To that end, we should consider a refactor to make it easier to read, easier to add code, and more testable.

[2017-06-20 18:04] kierachell commented on #2295
**PASSED**
Yaaay!
<img width="679" alt="screen shot 2017-06-20 at 2 04 02 pm" src="https://user-images.githubusercontent.com/18075411/27348242-5bb076be-55c1-11e7-861e-c5d00f9c5d41.png">

[2017-06-20 18:04] #2295 closed

[2017-06-20 20:37] mdbenjam commented on #1789
@abbyraskin you mention searching by date and year, but do we also want it for months?

[2017-06-20 20:41] mdbenjam commented on #1789
In hindsight, I don't think this matters. Since month is the first in the date we get that behavior for free.

[2017-06-20 21:00] laurjpeterson opened #2391 "Certification users by RO"
Pull a list of Certification users and their CSS IDs by RO so we know the CSS IDs of users we need to give access to for pilots and rollout.

For reference, we know the # of users per RO in May based on this report Chris ran - https://github.com/department-of-veterans-affairs/appeals-design-research/issues/260

[2017-06-20 21:11] mdbenjam commented on #2367
@gnakm Does this look okay:
![screen shot 2017-06-20 at 5 10 33 pm](https://user-images.githubusercontent.com/3885236/27356150-750ec34e-55db-11e7-8fe5-16c450ef21bb.png)

[2017-06-20 21:44] abbyraskin commented on #1789
@mdbenjam yep, I left it out for that reason (I do think it's valuable to have that option as well) ☺️

[2017-06-20 21:45] nemodjuric commented on #2294
@gnakm @abbyraskin Would you please update issue description to what is supposed to look like if necessary? (Not sure if we decided to go with word 'technical' or not)

[2017-06-20 23:18] abbyraskin commented on #2294
@nemodjuric i updated the content section -- it should read "We've detected technical issues in our system. You can continue working, though some users may experience delays."

[2017-06-20 23:43] kierachell commented on #2187
**PASSED**

Based on running `rake` about 50 times: there are other tests that are failing now.

[2017-06-20 23:43] #2187 closed

[2017-06-21 03:35] slj commented on #1696
Solution in action:
![arc_manager](https://user-images.githubusercontent.com/1053255/27365953-1945b5b4-5611-11e7-9db3-49023da31043.gif)

[2017-06-21 13:10] astewarttistatech commented on #2242
@mmlumba its 41px on the right side of the Open Menu button. See below
<img width="1302" alt="screen shot 2017-06-21 at 9 08 56 am" src="https://user-images.githubusercontent.com/23038505/27385668-6acacfa0-5661-11e7-8b60-d32a69a78e7e.png">
![Uploading Screen Shot 2017-06-21 at 9.09.17 AM.png…]()

[2017-06-21 13:14] astewarttistatech commented on #1925
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access style guide
2. Navigate to checkbox section
3. Verify that each example is 40 px apart according to AC

Screenshots:
see above as well as
<img width="1300" alt="screen shot 2017-06-21 at 9 11 23 am" src="https://user-images.githubusercontent.com/23038505/27385871-0024e36a-5662-11e7-9540-fb2e9b2a44a2.png">
<img widt

[2017-06-21 13:14] #1925 closed

[2017-06-21 13:15] tejans24 commented on #2231
I'm working on this

[2017-06-21 13:24] mmlumba commented on #2242
@astewarttistatech Here's 40px on this screenshot:
<img width="1280" alt="screen shot 2017-06-21 at 9 23 40 am" src="https://user-images.githubusercontent.com/4773320/27386323-734f8aa6-5663-11e7-8965-892b0b1a26ae.png">

[2017-06-21 13:30] astewarttistatech commented on #1847
**PASSED**

Validated in: UAT
Browsers: FF and Chrome

Steps to Validate:
1. Access Reader
2. In the Document List view page, tab between the column  names and on "Receipt Date" and "Document Type" select enter to view that they do sort by those categories.
3. Make sure that the "Receipt Date" and "Document Type" headers are also functional buttons by clicking on them as well.

Screenshots:
![read

[2017-06-21 13:30] #1847 closed

[2017-06-21 13:32] astewarttistatech commented on #2242
**PASSED**

Validated in: UAT/Dev
Browsers: FF and Chrome

Steps to Validate:
1. Access reader
2. Close the open menu, to the right of the screen
3. Verify that the Open Menu button is there
4. Verify the button's spacing from the right to the end of the page and from the left to the next web element.

Screenshots:
see above

[2017-06-21 13:32] #2242 closed

[2017-06-21 13:32] cmgiven commented on #2227
Can you say more about what you'd like to know? What are we trying to determine?

[2017-06-21 13:38] astewarttistatech commented on #2168
**FAILED**

The veterans/claims whose decisions have been missing (in queue/outcoded) for 0 days are being shown. @slj
![missingdecisions](https://user-images.githubusercontent.com/23038505/27386963-623844c2-5665-11e7-8707-9bd1008c1037.gif)

[2017-06-21 14:03] amprokop commented on #2383
do we need the extra directories for `bgs` and vbms`? those files really aren't that big, as most of the logic lives in the gems

[2017-06-21 14:08] amprokop commented on #2383
also, what's report code?

[2017-06-21 14:18] mmlumba commented on #1849
@abbyraskin shouldn't it be that a document title that is bold is unread and that a regular document title is read?

[2017-06-21 14:50] lakohl commented on #2227
I'd like to compile a list of the types of claims that aren't flowing through Caseflow Dispatch and therefore aren't showing on the missing decisions pg

Sent with Good (www.good.com)

-----Original Message-----
From: Chris Given [notifications@github.com<mailto:notifications@github.com>]
Sent: Wednesday, June 21, 2017 09:33 AM Eastern Standard Time
To: department-of-veterans-affairs/caseflow
Cc:

[2017-06-21 15:25] abbyraskin commented on #1998
@gnakm would you mind if we made this "details" (plural) instead of "detail"? singular sounds a little awkward to me.

[2017-06-21 15:48] NickHeiner commented on #1896
Not yet. We were waiting for @cmgiven to get back. I'm going to reschedule it now that he's here.

[2017-06-21 15:51] mogrenAtWork opened #2397 "Cleanup spec/support/form8-TEST.pdf after test executes"
# Description
Make sure the spec/support/form8-TEST.pdf file is deleted after the test that generates it is executed.

# AC
- [ ] `rake ci` is executed and the spec/support/form8-TEST.pdf file does not exist

[2017-06-21 16:43] astewarttistatech commented on #2376
Currently blocked, due to VBMS error
![claimrouting](https://user-images.githubusercontent.com/23038505/27395851-36500e70-567f-11e7-8271-2fa41c943d45.gif)

[2017-06-21 16:46] nemodjuric commented on #1897
Wrote https://github.com/department-of-veterans-affairs/caseflow-commons/issues/101

[2017-06-21 17:29] NickHeiner commented on #2293
We are a little behind the latest LTS for NodeJS. But thanks for that clarification!

[2017-06-21 17:39] abbyraskin commented on #1849
Per our conversation, changed it to "unopened" and "opened" because the screen reader said "read" in the present tense, when the doc type ends in a number (in some ways opened/unopened is more accurate anyhow).

[2017-06-21 17:52] NickHeiner opened #2399 "Tests fail with timeout error"
![image](https://user-images.githubusercontent.com/829827/27398743-b26c979a-5688-11e7-9224-24bc81c5beec.png)

For example builds, see: [master](https://travis-ci.org/department-of-veterans-affairs/caseflow/builds/245427694?utm_source=github_status&utm_medium=notification) [PR](https://travis-ci.org/department-of-veterans-affairs/caseflow/builds/245461336?utm_source=github_status&utm_medium=notific

[2017-06-21 17:53] #2250 closed

[2017-06-21 17:55] NickHeiner commented on #2399
Also, as long as you're looking at these tests, "mistmatched" is misspelled. :smile:

[2017-06-21 20:00] mmlumba commented on #1084
@gnakm What do you think of this look for the "Technical Notes" section?
<img width="987" alt="screen shot 2017-06-21 at 3 58 43 pm" src="https://user-images.githubusercontent.com/4773320/27404033-9d05bb4a-569a-11e7-927e-9a94504211a8.png">

Basically if a section is <h2>, the "Technical Notes" section is <h3>; if its <h3> then the notes section is <h4>, etc.

[2017-06-21 23:16] gnakm commented on #2229
@abbyraskin This is combo of what we played with a little before and your suggestions:
- Moved search to top right corner
- Put process # of documents where search used to be
- Put show all buttons on top

Question for us -- do we want to give users the option to expand all AND filter in any order? The invision link has it so that you can only expand all when you filter comments only.

[Invision L

[2017-06-22 13:06] Sjones352 commented on #1750
@gnakm and @abbyraskin  I can't seem to find a corresponding arrow-up.svg in the design/icon repo.
<img width="132" alt="screen shot 2017-06-22 at 9 02 14 am" src="https://user-images.githubusercontent.com/23080951/27435270-9ff2ba80-5729-11e7-918e-7121b15a9007.png">
We only have the Arrow-down svg. I am currently blocked.
<img width="133" alt="screen shot 2017-06-22 at 9 05 15 am" src="https://use

[2017-06-22 13:22] kierachell commented on #2051
**PASSED**
Works with even like 100 pages
![renderme](https://user-images.githubusercontent.com/18075411/27436147-53f6f17a-572c-11e7-9406-e36d9fe25efb.gif)

[2017-06-22 13:22] #2051 closed

[2017-06-22 13:24] kierachell opened #2406 "PDF Viewer | Viewing a case with only one document hides "Back to all documents" link"
# Description
When viewing a Case where there is only 1 document,
if I go to the PDF Viewer  - the `back to all documents` button is not there :(

## Reproduction Steps

**Scenario 1 -**

1. Go to a case with 1 document
1. View that 1 document
1. Note the `back to all documents` link missing
1. Be sad

**Validated in the following Envrionment(s)**
- [ ] Dev
- [X] UAT
- [ ] Preprod
- [ ] Prod

## S

[2017-06-22 13:29] askldjd opened #2407 "Cache Read messages are spamming Caseflow log files"
When Prometheus queries the the application `/metrics` endpoint, there are a set of **Cache Read**  messages written to the log files. They are very verbose, and we should disable them to increase the signal-to-noise ratio.

![image](https://user-images.githubusercontent.com/3258724/27436235-981a383a-572c-11e7-88ea-a636c908dd35.png)

After some quick searches, the issue might be related to [our ca