[2018-10-10 14:02] aroltsch commented on #7248
BE is competed. FE needs to be done.

[2018-10-10 14:14] #6948 closed

[2018-10-10 14:18] mdbenjam commented on #7254
Regarding multiple holds: @amprokop I'm generally against putting a JSON column to store structured information. If that's really the approach we want to take then it seems at least hold information should be split out into its own table. That said, an alternative could be to create a new "HoldTask" type. This task would automatically expire after a certain period of time. It would be a subtask of

[2018-10-10 14:18] #7243 closed

[2018-10-10 14:32] #7100 closed

[2018-10-10 14:34] #1694 closed

[2018-10-10 14:38] nolawi commented on #4188
There is a new date input[ component in USWDS 2 ](https://federalist-proxy.app.cloud.gov/preview/uswds/uswds/release-2.0/components/detail/date-input.html)

[2018-10-10 14:43] #575 closed

[2018-10-10 14:43] #936 closed

[2018-10-10 14:44] #939 closed

[2018-10-10 14:44] #1042 closed

[2018-10-10 14:44] dannysellers commented on #4188
It looks good, though the validation isn't working quite right for me, and it could use some UX improvements (for example, after typing 2 numbers in the first field I have to manually switch to the next field). That said, it's still in beta, so 👍

<details><summary>gif</summary>
<img src="https://user-images.githubusercontent.com/8533004/46744469-12415b80-cc60-11e8-9f40-ceabfb3cb105.gif">
</detail

[2018-10-10 14:45] lowellrex commented on #7254
@laurjpeterson regarding how we would differentiate diaries and messages in this new event log, I think we have a few options supposing we go forward with this new table: *1)* Add a column to determine the `category` of the event so that we can more precisely differentiate between diaries and messages so we can display them differently on the case details screen, or *2)* Not differentiate between

[2018-10-10 14:50] Chingujo commented on #7106
Mocks updated

[2018-10-10 14:53] #543 closed

[2018-10-10 14:54] aroltsch opened #7328 "If a user is a judge, he/she can modify any task"

[2018-10-10 14:57] #7316 closed

[2018-10-10 15:02] #1150 closed

[2018-10-10 15:51] nolawi opened #7331 "Make webpack bundle improvements"
Related #6864

1. Upgrade to webpack 4
2. Split bundle into two files (vendor files) [separately](https://webpack.js.org/guides/code-splitting/#entry-points).

Additional wants

1. Lazy loading
2. webpack-bundle-analyzer

[2018-10-10 16:31] shanear commented on #7293
Via the data we store in https://github.com/department-of-veterans-affairs/caseflow/issues/7178

[2018-10-10 16:43] Chingujo opened #7332 "CO and Video Release | Epic Table | RO has no up and coming hearing days"
As a hearing coordinator, I need to know when an RO has no up and coming hearing days so I don't schedule one on accident or can resolve as necessary.

### Acceptance Criteria
- [ ] Verify that there is an error message for when an RO. has no up and coming hearing days but available slots.
- [ ] Verify that the date selector on the right and the tabs are disabled
- [ ] Verify that there is a gray

[2018-10-10 16:50] shanear commented on #6186
[code]

worked!

[2018-10-10 16:56] #6186 closed

[2018-10-10 16:57] shanear commented on #6168
<img width="1176" alt="screen shot 2018-10-10 at 12 56 41 pm" src="https://user-images.githubusercontent.com/1596259/46752732-f81d7280-cc8b-11e8-82d8-f955fafb769c.png">
woohoo!

Checked everything linked up correctly in the DB as well

[2018-10-10 16:57] #6168 closed

[2018-10-10 17:01] mkhandekar commented on #6195
I think this is live. Right @evankroske?

[2018-10-10 17:12] suzchap opened #7333 "Legacy Opt-in | Review page | add opt-in question"
## Story
[Mural showing all opt-in screens](https://app.mural.co/t/workqueue2001/m/workqueue2001/1538676663322/098da798af658862105ea8d4d5aeb03fa7aaf99a)

When a user has a legacy appeal, they will be allowed to "opt-in" to move one or more of those issues into an AMA lane. The AMA paper forms will have a question on them for the applicant to acknowledge that by checking that box, they understand t

[2018-10-10 17:16] mkhandekar commented on #6195
I've updated the original post with designs.

[2018-10-10 17:21] suzchap opened #7334 "Legacy Opt-in | Add issue | Rated and non-rated issue modals"
## Story
[Mural showing all opt-in screens](https://app.mural.co/t/workqueue2001/m/workqueue2001/1538676663322/098da798af658862105ea8d4d5aeb03fa7aaf99a)

When a user has a legacy appeal, they will be allowed to "opt-in" to move one or more of those issues into an AMA lane. The AMA paper forms will have a question on them for the applicant to acknowledge that by checking that box, they understand t

[2018-10-10 17:23] suzchap opened #7335 "Legacy Opt-in | Add issue | VACOLS modal"
## Story
[Mural showing all opt-in screens](https://app.mural.co/t/workqueue2001/m/workqueue2001/1538676663322/098da798af658862105ea8d4d5aeb03fa7aaf99a)

When a user has a legacy appeal, they will be allowed to "opt-in" to move one or more of those issues into an AMA lane. The AMA paper forms will have a question on them for the applicant to acknowledge that by checking that box, they understand t

[2018-10-10 17:25] suzchap opened #7336 "Legacy Opt-in | Add Issue landing and conf | if ineligible"
## Story
[Mural showing all opt-in screens](https://app.mural.co/t/workqueue2001/m/workqueue2001/1538676663322/098da798af658862105ea8d4d5aeb03fa7aaf99a)

When a user has a legacy appeal, they will be allowed to "opt-in" to move one or more of those issues into an AMA lane. The AMA paper forms will have a question on them for the applicant to acknowledge that by checking that box, they understand t

[2018-10-10 17:25] suzchap opened #7337 "Legacy Opt-in | Add Issue landing and conf | if eligible"
## Story
[Mural showing all opt-in screens](https://app.mural.co/t/workqueue2001/m/workqueue2001/1538676663322/098da798af658862105ea8d4d5aeb03fa7aaf99a)

When a user has a legacy appeal, they will be allowed to "opt-in" to move one or more of those issues into an AMA lane. The AMA paper forms will have a question on them for the applicant to acknowledge that by checking that box, they understand t

[2018-10-10 18:07] #687 closed

[2018-10-10 18:08] #759 closed

[2018-10-10 18:21] laurjpeterson commented on #7016
Attempt at mapping the requirements for searching for appeals we have so far. Could each product async edit this comment so we can add to and clarify this list? This is more of a requirements gathering confirmation request than a design request.
- Hearing Schedule - @Chingujo, @MeredithStewart
- Intake - @shanear
- Queue - @laurjpeterson, @sneha-pai

**Assumption:** Hearing Prep and Reader do not

[2018-10-10 18:42] mdbenjam commented on #7331
Great I'll dig into all of this.

[2018-10-10 18:43] mkhandekar commented on #6963
Related: https://github.com/department-of-veterans-affairs/caseflow/issues/6005

[2018-10-10 18:52] shanear commented on #7240
Haven't heard anything back about this. Gonna close it until we hear about any problems

[2018-10-10 18:52] #7240 closed

[2018-10-10 18:56] #368 closed

[2018-10-10 18:57] allyceh commented on #6369
@sneha-pai @mkhandekar and I had a conversation about removing "due date" and just having "days waiting" as a stand alone, sortable column. This is based on user feedback.

[2018-10-10 18:59] mkhandekar commented on #6146
@allyceh @sneha-pai -- We could do something like this, but waiting for content strategy guidance:

![image](https://user-images.githubusercontent.com/1598889/46759305-ef28a300-cc83-11e8-8f95-86c1b3a95b24.png)

[2018-10-10 19:27] mkhandekar commented on #6022
Handing off to @sneha-pai + @allyceh who will prioritize with guidance from @laurjpeterson ❤️(per conversation on Oct 10)

[2018-10-10 19:28] mkhandekar commented on #6015
Handing off to @sneha-pai + @allyceh who will talk with @mdbenjam to get an update on any new multiple admin work, then prioritize with guidance from @laurjpeterson ❤️(per conversation on Oct 10)

[2018-10-10 19:29] mkhandekar commented on #6480
Handing off to @sneha-pai + @allyceh who will talk with @mdbenjam to get an update on any new multiple admin work, then prioritize with guidance from @laurjpeterson ❤️(per conversation on Oct 10)

[2018-10-10 19:29] mkhandekar commented on #6014
Handing off to @sneha-pai + @allyceh who will talk with @mdbenjam to get an update on any new multiple admin work, then prioritize with guidance from @laurjpeterson ❤️(per conversation on Oct 10)

[2018-10-10 19:29] #7328 closed

[2018-10-10 19:36] shanear commented on #7201
![screen shot 2018-10-10 at 3 35 32 pm](https://user-images.githubusercontent.com/1596259/46761369-48073400-cca2-11e8-913f-c10d3c955bbb.png)
nice!

[2018-10-10 19:36] #7201 closed

[2018-10-10 19:50] nolawi commented on #5639
this was resolved with updates in padding etc.

[2018-10-10 19:50] #5639 closed

[2018-10-10 19:52] kencheeto commented on #7292
subsumed by #7291

[2018-10-10 19:52] #7292 closed

[2018-10-10 19:55] laurjpeterson commented on #5581
URLs:
- PVA: `appeals.cf.ds.va.gov/organizations/pva`
- American Legion: `appeals.cf.ds.va.gov/organizations/american-legion`
- DAV: `appeals.cf.ds.va.gov/organizations/disabled-american-veterans`
- VVA: `appeals.cf.ds.va.gov/organizations/vietnam-veterans-of-america`

[2018-10-10 20:34] kencheeto opened #7344 "Add issue edge cases | Add Issue Landing | if ineligible lane (just Appeal -> HLR and Appeal -> Appeal)"
## Story
When a user adds issues, they may encounter edge cases where the issue is ineligible. We will not indicate that an issue isn't eligible on any of the add issue selection pages but will indicate it on the Add issue landing page and Confirmation Page so they have the information they need to inform the applicant in the letter they send following intake data entry. If an issue is ineligible

[2018-10-10 20:44] suzchap commented on #7313
1) so we just need a little alternate language? Something like "The EP is removed..." if all related issues have been removed and the standard "The EP is being established..." if new issues have been added.

2) this bit is from design I inherited from Abby so I don't actually know much about it... do you think it's useful to have non-exact information or should we just cut it out?

[2018-10-10 20:51] allyceh commented on #5950
@laurjpeterson @lowellrex @mdbenjam

Open questions that will help us define backend requirements:

- Does the mail team ever create multiple mail tasks in VACOLS if they know a task is meant for two teams?
- What is an actual example of when mail applies to two or more appeals streams?
- How do teams processing mail tasks determine the order in which tasks needs to be completed?
- Which tasks can

[2018-10-10 21:16] shanear commented on #5760
@laurjpeterson

We need confirmation on this before we can close this story out
<img width="829" alt="screen shot 2018-10-10 at 5 15 10 pm" src="https://user-images.githubusercontent.com/1596259/46766490-2319bd80-ccb0-11e8-96f1-a4d610b321bf.png">

[2018-10-10 21:18] suzchap commented on #7313
@shanear and I talked and decided to just cut the #2 stuff and to keep those headings as "updating" which vaguely applies to all the scenarios in #1. Mocks and copy have been updated.

[2018-10-10 22:35] lowellrex commented on #7290
Added the row to the production database to associate QR employees' VACOLS staff records with the caseflow QR organization (`StaffFieldForOrganization.create!(organization: QualityReview.singleton, name: "sdept", values: %w[QR])`) so they should be able to go to `/organizations/quality-review` tomorrow to see the QR tasks when they are created after outcoding (there are currently none). cc @laurjp

[2018-10-11 01:00] #7218 closed

[2018-10-11 01:00] #7170 closed

[2018-10-11 02:17] laurjpeterson commented on #7167
Mark, Nicholas, and Alex had a conversation on this topic 9/27:

Their takeaways were:
- We expect that on the high end, the number of RAMP cases we'll process in October where an attorney would want to add an issue would be in the low hundreds
- We should obtain the updated attorney performance formula
- Given those bits of information, we should make a guess re: when we can realistically expect

[2018-10-11 02:17] #7167 closed

[2018-10-11 02:19] laurjpeterson commented on #5961
Progress update:
- Scenarios 1 and 2: Intake designs in this [mural](https://app.mural.co/t/workqueue2001/m/workqueue2001/1537795938997/f5834747503f5a248340b9f3426fbac652812400)
- Scenarios 3 and 4: Queue prototypes in this [mural](https://app.mural.co/t/workqueue2001/m/workqueue2001/1537369023440/f8fafbe08dd07a43d270af0d9b26851fd175eab5)

[2018-10-11 02:43] laurjpeterson commented on #6167
[Mural](https://app.mural.co/t/workqueue2001/m/workqueue2001/1534279378866/d4531cbe67b6690068a6bd052d4deed55f6ab131) with mapping of issue dispositions, remand reasons, EPs, and whether or not to make a supplemental claim.

[2018-10-11 13:47] lowellrex opened #7355 "Create database rows for Mail, FOIA, and AOD organizations"
Now that we know [how VACOLS identifies members of these teams](https://github.com/department-of-veterans-affairs/dsva-vacols/issues/42), all that is left to do in order to give these teams access to the full power of Caseflow is to add the database rows for the Mail, FOIA, and AOD organizations by running the following commands in a production Rails console:
[code]

We should hold off on doing th

[2018-10-11 13:58] amprokop commented on #7355
Nice! Is it better to add those organizations in a PR so it's more traceable and auditable? Seems like that's the path we were going for before, correct me if I'm wrong or if it seems like a lot of work!

[2018-10-11 14:15] suzchap commented on #7303
Copy and mocks have been updated to remove mention of the EP code. If more than one EP is created, there would just be a green check mark section for each.

[2018-10-11 14:21] mdbenjam opened #7356 "Fix colocated assignment of legacy cases back to attorney"
When a colocated task is assigned to colocated and is a schedule hearing or translation task, the colocated user has the option to send it back to the attorney. However, this option sends the same request to the backend as sending it to the hearing schedule or translation team. Therefore the task is simply moved to those teams, not back to the attorney.

Frontend code:
https://github.com/departmen

[2018-10-11 16:29] amprokop commented on #7355
Yeah. Not concerned with this particular instance, just concerned with treating this sort of thing as a normal long-term path.

- How many times do you anticipate having to do this?
- What would happen if we made a mistake? How would we know, and how would we fix it?
- Do we also have to manually run these commands in lower environments?

[2018-10-11 17:21] laurjpeterson opened #7359 "Insight to implementation discussion (10/11/2018)"
## Problem to solve
What is a _lean_ process we can all align on as we go from our user needs/feedback to product decisions and modifications?

## Discussion
- We have a solid process of research --> design exploration --> usability testing --> scope definition --> implementation --> launch for those topics we know little about
	- A lot of our recent research and design has been focused on these l

[2018-10-11 17:34] mdbenjam commented on #7359
I think the time boxing has to depend on the substantiveness of the task. I think for small things it's reasonable to expect an answer within 24 hour. For more complex initiatives, 2-3 days. Obviously this is all subjective, but I'm not sure how to make it less so.

If someone is on PTO then the other designer, or engineer involved gives the definitive answer unless they think the person on PTO ha

[2018-10-11 17:43] laurjpeterson opened #7360 "Add Assigned to for AMA/RAMP appeals"
When Lit Support is trying to understand the story of an appeal so they can answer status/congressional inquiries, they want to see who at the Board currently has responsibility for the appeal, so they can complete their investigation.

## AC
- Populate the CSS ID of the user who currently has the appeal in the `Assigned to` column of the Case list for AMA appeals.

<img width="1072" alt="screen s

[2018-10-11 17:54] lowellrex commented on #7359
Agree with all of @mdbenjam's points above.

A default timebox of 24 hours is reasonable and the person who has been asked to provide input can work with the requestor if they think it will take longer than 24 hours. All disagreements should be resolved by the product owner (LP) at any stage of this process.

[2018-10-11 18:08] lowellrex commented on #7360
If there is no attorney assigned to an appeal (or if the attorney has already drafted a decision or requested OMO), then display the CSS ID or organization name of the entity with most immediate responsibility for the appeal (most-nested child task, tie-breaking on most recently created if need be).

[2018-10-11 18:38] leikkisa commented on #7206
SR 837173 (for using in meetings with BGS)

[2018-10-11 18:41] evankroske opened #7362 "Queue | Judges | Cases returning from OMO should appear in Judges' Assign Tab"
When cases return from OMO (an OMO individual charges the case back to the judge's location), Judges need to be able to assign them to an attorney, so a decision can be drafted.

Caseflow can't distinguish cases that have returned from the OMO team from cases that need to be dispatched to the OMO team because both have Decass records with an OMO deprod value (VHA, IME, etc.) This causes cases from

[2018-10-11 18:46] evankroske commented on #7362
I asked a VLJ, BVARKESSEL, how he knows whether an OMO case needs to be assigned. He said that he receives an email from the attorney or OMO team member that he uses to decide what to do with the case. He also said that he can look at a case's assign date (deassign) to determine what to do with it: if the assign date is really long ago, then the case has returned from the OMO team.

[2018-10-11 19:31] sharonwarner opened #7366 "Private Attorney Special Issue"
I need to do some more research on this, but when we pull appeals from VACOLS, we set private_attorney_or_agent equal to true if case_record.bfso == "T" and false otherwise. I believe that introduced a bug such that if a user selects private attorney to true on the special issues page, but case_record.bfso != "T", the special issue gets reset back to false the next time we try to pull the appeal f

[2018-10-11 19:54] #5686 closed

[2018-10-11 21:04] allyceh commented on #6812
@mdbenjam For legacy and AMA appeals in Caseflow, is the POA data source BGS? Or, does the legacy POA come from VACOLS?

@laurjpeterson and I are looking to clarify.

[2018-10-11 21:09] mdbenjam commented on #6812
POA comes from BGS for AMA and VACOLS for legacy. At least for now. I'd like to eventually pull everything from BGS.

[2018-10-11 21:14] evankroske commented on #7362
Jed says that preliminary creates a new Decass record if the existing record is an OMO case, and he explained the code that implements it. When [this code](https://github.com/department-of-veterans-affairs/VACOLS/blob/1d31c01e5410d9b1c5a52fd5d454914ab6f56da4/src/decass.pbl-dump/w_update_prelim_2017.srw#L160) checks for an existing Decass record, it uses [this query](https://github.com/department-o

[2018-10-11 22:29] kencheeto opened #7369 "Legacy Opt-in | Reopen VACOLS issues if AMA issue is removed"
in #7337 we are going to start closing VACOLS issues and/or appeals when legacy issues are linked - if those AMA issues are removed, we will need to reopen the VACOLS issues / appeals.

requires https://github.com/department-of-veterans-affairs/caseflow/issues/7337

## Acceptance Criteria
- If an issue associated with an "opted-in" VACOLS issue (via #7337) is removed from any decision review via t

[2018-10-11 23:09] shanear commented on #6215
This is obsoleted due to https://github.com/department-of-veterans-affairs/caseflow/issues/6941

[2018-10-11 23:09] #6215 closed

[2018-10-12 00:27] shanear commented on #7176
Because our code isn't DRY, this is breaking for RampRefilings (works for AMA claim reviews)

[2018-10-12 03:01] #7297 closed

[2018-10-12 12:52] evankroske commented on #7362
Now I'm trying to figure out how DAS and VACOLS handle the two Decass records. Does the VLJ Master list show both of the records? If not, how does it decide which Decass record to use?

[2018-10-12 13:19] evankroske commented on #7362
VLJ Master list code:

- [Data window](https://github.com/department-of-veterans-affairs/VACOLS/blob/1d31c01e5410d9b1c5a52fd5d454914ab6f56da4/src/decass.pbl-dump/d_cases_charged_to_vlj.srd)
- [Print preview screen](https://github.com/department-of-veterans-affairs/VACOLS/blob/1d31c01e5410d9b1c5a52fd5d454914ab6f56da4/src/decass.pbl-dump/w_print_preview_vlj_master.srw)

[2018-10-12 13:20] evankroske commented on #7362
## Hypothesis
The VLJ master list only uses the most recent Decass record of each case.

[2018-10-12 13:47] evankroske commented on #7362
After reading the code, it seems like the table will show two rows for cases with two Decass records.

[2018-10-12 14:03] evankroske commented on #7362
I'm convinced that the table shows both Decass records, but I don't think that matters. When a judge assigns a case, both rows would disappear because the case would no longer be assigned to the judge according to Brieff.bfcurloc. Caseflow can probably just use the latest Decass record.

[2018-10-12 16:53] shanear opened #7375 "AMA Intake | Skip first "rating issue" modal if there are no promulgated ratings"
If the veteran has no ratings, Caseflow currently shows a system error when submitting the review page. We confirmed with AMO that even if the user has no ratings, we should still allow decision reviews for potential non-rating issues, so allow them to go through the flow.

Additionally, no business lines except compensation and pension even use ratings.

requires #7383

## Acceptance Criteria
Whe

[2018-10-12 18:17] amprokop commented on #5601
I did think of one complication here. I'm not sure how we would fetch representative data for contesting claimants from BGS. We would need either file number or participant id for the contesting claimants to do so. Potentially we should continue fetching that from VACOLS, or just flag for users that they need to find POA information for contesting claimants elsewhere.

@laurjpeterson @aroltsch wha

[2018-10-12 18:30] laurjpeterson commented on #5601
Are we showing contesting claimant POA or any other contesting claimant information from VACOLS for legacy appeals in Case details right now?

[2018-10-12 18:41] amprokop commented on #5601
Nope. We're only surfacing it to the IDT.

[2018-10-12 18:51] laurjpeterson commented on #5601
If it is simple to show contesting claimants for legacy appeals and their POA since we already do it for the IDT, I say we do it! I don't know how it should look on the Case details page, though. We'd likely want @allyceh's eyes for that on Monday.

[2018-10-12 19:12] shanear opened #7378 "AMA Intake | Don't allow non rating decision dates in the future"
We currently allow free form decision dates in the future. We should have a way of preventing this, either when the issue is added, or when the intake is completed

[2018-10-12 19:28] shanear commented on #6988
<img width="853" alt="screen shot 2018-10-12 at 3 27 18 pm" src="https://user-images.githubusercontent.com/1596259/46889972-5afd3e00-ce33-11e8-9aff-a9b710aa805e.png">
Mostly good! I think we should have a period after the description though if one isn't there?

Otherwise it looks weird, with the description running into the decision date (see the screenshot attached)

[2018-10-12 19:35] shanear commented on #6988
![screen shot 2018-10-12 at 3 34 05 pm](https://user-images.githubusercontent.com/1596259/46890295-54bb9180-ce34-11e8-957d-4737bc3f71ee.png)

It correctly creates the EP too 👍 But the contention should also have the category in it. Not just the description. I know this wasn't part of the original AC, but might be good to fix as part of this issue.

[2018-10-12 19:45] pkarman commented on #6988
I would be highly in favor of presenting the decision date in a structured HTML way, unless it needs to be included in the saved description text.

e.g.
[code]

which gives us far more presentation options.

[2018-10-12 20:33] shanear commented on #7323
![screen shot 2018-10-12 at 4 32 33 pm](https://user-images.githubusercontent.com/1596259/46892707-728cf480-ce3c-11e8-9d04-7f357747ed76.png)
This looks like it's still happening in UAT.

https://sentry.uat.ds.va.gov/sentry/caseflow-uat/issues/984/

[2018-10-12 20:35] shanear commented on #7323
Aaaaand, this is because the code hasn't deployed to UAT, because jenkins is broken. hanging on to this one to re-test.

[2018-10-12 21:13] shanear commented on #7323
![screen shot 2018-10-12 at 5 12 45 pm](https://user-images.githubusercontent.com/1596259/46894316-11681f80-ce42-11e8-9fe8-c43166aa6ab1.png)
super

[2018-10-12 21:13] #7323 closed

[2018-10-12 21:13] shanear commented on #7176
👍

[2018-10-12 21:13] #7176 closed

[2018-10-12 21:28] shanear commented on #7178
working!

[code]

I think we'll probably need to work out some edge cases for this for when the data is funky or not like we expected, but I'm cool with closing this for now

[2018-10-12 21:28] #7178 closed

[2018-10-12 21:29] shanear opened #7383 "AMA Intake/Edit | Show prior decided non-rating issues in Add Issue flow"
In order to properly distinguish duplicates and issue chains for non-rating issues, we need CA's to be able to match incoming non-rating issues to prior decided non-rating issues. In order to do this we need to show them in the Add issues flow.

## Technical Notes
This is the mural for the nonrating issue data structure:
https://app.mural.co/t/workqueue2001/m/workqueue2001/1540421981879/ba39075927

[2018-10-12 21:31] shanear opened #7384 "AMA Edit | Prevent editing of DTA Supplemental Claims"
We should not allow editing the issues on supplemental claim errors, since there cannot be an intake mistake on those.

## Acceptance Criteria
- When a user clicks the edit button for a supplemental claim that was created as a result of a DTA error, then instead of seeing the edit screen, the user should see a screen that says that the issues are not editable.

## Copy
Title: Issues Not Editable
T

[2018-10-12 21:33] shanear opened #7385 "AMA Intake | Add better error message on intake when a user has a locked rating"
It might be a little while before https://github.com/department-of-veterans-affairs/caseflow/issues/6221 gets fixed. In the mean time we may want to show a user friendly message on what to do.

[2018-10-12 21:40] shanear opened #7386 "AMA Edit | Prevent editing issues on claim reviews with EPs that have already been decided"
When a HLR or SC has two EPs associated with it, it's possible the user will want to edit the issues when one of the EPs has already been cleared. We should prevent removing any issues that are part of the cleared EP.

## Technical Notes
* there is a `status_cleared?` method on the EP model
* the `sync!` method will ensure that the EP in Caseflow's db mirrors the current state in BGS

## Acceptanc

[2018-10-12 21:41] shanear opened #7387 "AMA Intake Review | Update question wording clarity"
Feedback from AMO:

[2018-10-12 21:43] shanear opened #7388 "AMA Complete Page | Improve clarity of wording for ineligible decision reviews"
Feedback from AMO:

[2018-10-12 22:37] mc-usds commented on #7199
DocumentService was not available in preprod because MapD was not deployed to the internal domain. That was deployed and now the call in preprod is working. My understanding is that service is already deployed in prod, but when I tested, the call is still failing. I'm following up with John to find out what else needs to be done for prod to work.

[2018-10-12 23:58] shanear commented on #6206
Confirmed with AMO that the 21-22a is the only way to set a "Limited POA" (claim based POA)

[2018-10-15 14:37] MeredithStewart commented on #6444
For the first part of the test, "2. Test that RO non-availability days are filtered out," the algorithm is applying a CO Hearing day for a FRIDAY (should be a Wed.) and it has a judge in the output. It would be good for @sharonwarner to take a look.

[2018-10-15 14:47] MeredithStewart commented on #6444
For the first part of test, "3. Test that CO non-availability days are filtered out," update the input spreadsheet to remove the RO non-avail days (putting in N/A along top rows) and then add the 4 non-avail days to the tab, "Board Non-Avail Dates." Then re-run and see if output puts all hearing dates for the ROs on the same day.

[2018-10-15 14:49] mc-usds commented on #7199
Had a call with John this morning and learned a couple more things. Baseline is the term for the build deployed. MapD is a legacy application that has the functionality for developing a claim (contentions, tracked items...and stuff). John confirmed that the Mapd baseline 11752 is deployed to Prod internal domain. He has asked a developer Nain Hwu to investigate further.

[2018-10-15 14:58] MeredithStewart commented on #6444
For test #4 - to make sure travel board dates are filtered out -- will need help from @sharonwarner.

[2018-10-15 15:02] #6596 closed

[2018-10-15 15:13] lowellrex opened #7391 "Move tabs logic inside TaskTable component"
Currently when we draw tabs, we create separate `TaskTable` components for each tab. This ticket exists to move the tabs logic inside of the `TaskTable` (first discussed as [a comment on a PR](https://github.com/department-of-veterans-affairs/caseflow/pull/7389#discussion_r225183195)).

Two ideas for how this could work are:
1. Calling code passes `TaskTable` an array of objects that have titles,

[2018-10-15 15:21] allyceh commented on #5591
Potential update to user stories: Last time around, we discovered that it's not required by law that the decision date on the letter match the upload date in VBMS. This is an internal policy to encourage VBMS uploads. Noting this so that we know that it's amendable.

[2018-10-15 16:08] mc-usds commented on #7199
Had another call with John. The dev found out that DocumentService is not deployed to Prod internal domain. It can be deployed in the Dec CI. There is no Nov CI, if we would like to have the DocumentService deployed before Dec CI, we will need to escalate.

Additional learning: The BGS team (John's team) does not have access to Production. There is a webpage that they look at to see what has been

[2018-10-15 16:09] Sjones352 opened #7392 "Assign Hearings | Dates should be in chronological order"
- The dates on the lefthand panel should be in chronological order
- The hearings on the Scheduled Hearings tab should be in chronological order and then alphabetical order
- The hearings on the Daily Docket should be in chronological order and then alphabetical order

[2018-10-15 16:51] pkarman commented on #6988
I refactored how the date is displayed in #7393

[2018-10-15 17:01] laurjpeterson commented on #6812
Ticket to add POA from BGS for legacy appeals - https://github.com/department-of-veterans-affairs/caseflow/issues/5601

[2018-10-15 17:29] leikkisa commented on #6984
Sometimes Caseflow users open it on half of the screen

[2018-10-15 17:42] Chingujo opened #7396 "Release 2 | On hold functionality"
As a hearing coordinator, I want to be able to place a scheduling task on hold to track and account for scheduling tasks that can not immediately be scheduled. This prevents the from "losing them" and looking up redundant tasks.

[2018-10-15 18:00] leikkisa opened #7397 "AMA Intake/Edit | Error handling for save"
When saving changes on the Add/Remove Issues screen of the edit flow, there are a couple reasons why the changes may be invalid.

## Acceptance criteria
- When a user saves an AMA review edit or intake, if there is an error with that submission, caseflow should display an error message in an alert.

## Technical notes
- The backend for these validations already exists here: (https://github.com/dep

[2018-10-15 19:00] laurjpeterson commented on #5591
Hypothesis: if we own batching uploading to VBMS and creating EPs automatically, it will reduce time from dispatch to claim adjustment.

Strategy:

- Phase 1: Upload decisions to VBMS but do not create EPs
- Should we do AMA and legacy cases concurrently? Yes, for uploading.

To do's:

**Phase 1: Get legacy appeals ready**
1. Finish POA address from BGS for legacy appeals
1. Veteran name and addre

[2018-10-15 19:45] amprokop commented on #5601
Nice! Can you explain what the three states are again?

On Mon, Oct 15, 2018 at 3:25 PM allyceh <notifications@github.com> wrote:

[2018-10-15 20:46] evankroske commented on #7320
Duplicate of https://github.com/department-of-veterans-affairs/dsva-vacols/issues/43

[2018-10-15 20:46] #7320 closed

[2018-10-15 21:44] steve-gov commented on #6990
<img width="921" alt="screen shot 2018-10-15 at 2 41 15 pm" src="https://user-images.githubusercontent.com/25468689/46980158-92185d00-d088-11e8-9810-34bbf11dab03.png">

Validation curiosities:
1. Empty "decision date" field renders any time a new issue is added; see all three added lines of the screenshot.
2. Field should have basic validation to ensure data integrity; in the third line of the scr

[2018-10-15 22:02] steve-gov commented on #6988
As per https://github.com/department-of-veterans-affairs/caseflow/issues/6988#issuecomment-429438735, as part of this issue the Category and a hyphen should be prepended to the issue description, eg. "Apportionment - Issue description".

[2018-10-15 22:06] mkhandekar commented on #6721
- [ ] Research done
- [ ] Research synthesized - [see mural](https://app.mural.co/t/workqueue2001/m/workqueue2001/1539492522400/d4ac00ebf3791b4f482339a91acc4daa44924796)
- [ ] Research summary & post-research designs - [see mural](https://app.mural.co/t/workqueue2001/m/workqueue2001/1539617928773/5395225e41f6d15acc49696422ecf49603f49d87)
- [ ] and here's the [room with all issues murals](https://a

[2018-10-15 22:06] #7312 closed

[2018-10-15 22:07] laurjpeterson opened #7404 "Create generic tasks / mail rollout"
# Background
Veterans and appellants send in all different types of mail at any point in the appeals process. Mail is typically sent to the central mail processing center in Janesville, Wisconsin. Mail comes into the VBA or BVA P.O. Box. Employees in Janesville upload the mail in the Mail Portal. If the mail is for BVA, BVA employees process it in the following way:
- Mail supervisor assigns mail

[2018-10-15 22:08] #6721 closed

[2018-10-15 22:29] shanear commented on #7291
Sorry the AC was not clearly worded here. It said "another AMA lane", but we really want the issues to be ineligible if they are active in "any AMA lane".

For example:
If issue B is being appealed, a request issue for issue B on a future appeal should be ineligible

[2018-10-15 23:36] steve-gov commented on #7268
<img width="953" alt="screen shot 2018-10-15 at 4 35 46 pm" src="https://user-images.githubusercontent.com/25468689/46984103-7321c700-d098-11e8-8603-930ba16e1c15.png">

Accepted!

[2018-10-15 23:36] #7268 closed

[2018-10-15 23:42] shanear opened #7407 "AMA Edit | Edit link should work for all EPs associated with a claim review"
Right now, only the edit link for the rating EP associated with a claim review properly takes you to the edit page. We need that to work for the non-rating EP and any other EPs associated with the claim review.

[2018-10-15 23:52] shanear commented on #5591
Sierra can assist with the development of this part

[2018-10-16 00:16] shanear opened #7408 "Unknown prod error for create contentions for ramp refiling"
We're getting this error in prod for a successful RAMP refiling. It keeps retrying and failing.

[code]

Sent to Nate, their team is looking into it

[2018-10-16 14:06] allyceh commented on #5601
<img width="349" alt="screen shot 2018-10-16 at 10 04 25 am" src="https://user-images.githubusercontent.com/40216950/47022180-e96f0980-d12a-11e8-9a89-d94da38b916a.png">

Here are the three scenarios, explained + sketched. TBD how the design would look, but this could be our content + data.

These are very much from the perspective of BVA Dispatch information needs. I would be curious to see what a

[2018-10-16 14:37] laurjpeterson commented on #5760
Emailed AMO 10/16 to confirm the 040BDEIMO Board DTA Error with IMO

[2018-10-16 14:55] #6574 closed

[2018-10-16 16:57] Chingujo commented on #7106
@sharonwarner @Sjones352

Here are mocks for:

1.) There are no veterans to assign.

Assuming we are pulling Veterans for that regional office from location 57. So, it makes sense to have RO specific no veterans messages because some RO's may still have veterans to assign. Is this right? In that case we can do this to perserve the work that was done already. In the future a smaller messaging might

[2018-10-16 20:08] shanear commented on #7313
Assigning @allyceh to help with some of the copy for appeals

[2018-10-16 20:41] leikkisa commented on #6984
For reference, my Windows GFE has a screen resolution of 1366x768

[2018-10-16 20:45] sharonwarner opened #7416 "Assign Hearings | AOD/CAVC cases"
I don't think the AOD query is working correctly. Also, hearing type is not correctly mapping to AOD or CAVC.

[2018-10-16 21:07] laurjpeterson commented on #5760
Confirmed mapping with AMO and LRP 10/16

`independent medical opinion` = `advisory medical opinion`, and is separate from medical opinions.

only issues with the following characteristics should result in a `040BDEIMO Board DTA Error with IMO` EP:
- disposition - remand
- remand reason category - `medical exams and opinions`
- remand reason - `advisory medical opinion`

The `040BDEIMOPMC PMC Boar

[2018-10-16 21:16] laurjpeterson commented on #5760
See Mural with updated, approved issue disposition, remand reason (if applicable), EP, and supplemental claim mapping - @shanear

https://app.mural.co/t/workqueue2001/m/workqueue2001/1534279378866/d4531cbe67b6690068a6bd052d4deed55f6ab131

[2018-10-16 21:18] shanear commented on #5760
awesome. That's all i needed to close this one out.

[2018-10-16 21:18] #5760 closed

[2018-10-16 21:39] shanear opened #7419 "Intake | Cancel detail when intake is expired"
Currently, we expire intakes after 1 day, but when we expire them, the detail sticks around. This was find with RAMP reviews, but those leftover appeals are being picked up by queue search. I don't think there is any reason to keep the detail around when the intake expires. We should close it.

## Acceptance Criteria
- When an intake is expired we should cancel the detail too (which means deleting

[2018-10-16 22:09] laurjpeterson commented on #6715
Closing. We're "outcoding" from the IDT for RAMP appeals, and working through #5591 for future state outcoding work.

[2018-10-16 22:09] #6715 closed

[2018-10-16 23:31] shanear commented on #6990
<img width="599" alt="screen shot 2018-10-16 at 7 30 59 pm" src="https://user-images.githubusercontent.com/1596259/47053236-07178f80-d17a-11e8-9b40-80b00f0cf44b.png">
yay! both of these issues were fixed

[2018-10-16 23:31] #6990 closed

[2018-10-16 23:36] shanear commented on #7408
Nate said it was fixed, but it looks like its still happening. Pinging him again.

[2018-10-17 01:34] pkarman commented on #7291
The "active claim review" is the part I'm missing, then. How is that indicated or implemented? I see `EndProductEstablishment` `status_active?` but all the other "active" mentions seem to be in RAMP related models.

[2018-10-17 13:19] laurjpeterson commented on #7290
Scheduled time for @lowellrex and I to meet with Josh, QR chief tomorrow 10/18.

[2018-10-17 13:33] aroltsch opened #7426 "Return veteran address from BGS for legacy appeals"
Veteran name and address should be pulled from BGS for legacy appeals

[2018-10-17 15:36] mdbenjam opened #7427 "Cleaning up user organizations"
## Problem
We currently have a mishmash of ways in which we control who is in each organization. For example:

- Attorney <-> Judge team mappings are stored in `Constants::AttorneyJudgeTeams`
- Co-located team for round robin purposes is stored in `Constants::CoLocatedTeams`
   - Co-located is also retrieved from VACOLS using the condition `staff_record.stitle == "A1" || staff_record.stitle == "A2

[2018-10-17 15:58] lowellrex commented on #7427
I second everything Mark proposes here with the slight exception that I think he may be downplaying how much of a pain relying on VACOLS for team membership information is.

[2018-10-17 16:29] shanear commented on #7291
We only need to account for it for AMA decision reviews. And yeah you are right, it is if the end product establishment attached to it is active

[2018-10-17 17:01] pkarman commented on #7291
Should there be a unique index on `RequestIssue` `[:rating_issue_reference_id, :removed_at]`?

[2018-10-17 17:16] shanear opened #7428 "RAMP Intake | "Activated" appeals should no longer be eligible for RAMP"
AMO & the Board have decided that any VACOLS appeals in Activated (`ACT`) status should no longer be eligible for RAMP (no exceptions).

## Acceptance criteria
- When intaking a RAMP election, it does not include any appeals in `ACT` status as appeals that will be closed out.
- When intaking a RAMP election, if a veteran has ineligible compensation appeals in `ACT` status and no other eligible app

[2018-10-17 17:34] sharonwarner opened #7429 "Daily Docket | Hearing coordinator"
The daily docket should have the hearing coordinator displayed in the top righthand corner. This field will come from VACOLS (vdbvapoc) and should be pulled in from select_schedule_days in VACOLS::CaseHearing.

<img width="1126" alt="screen shot 2018-10-17 at 1 34 11 pm" src="https://user-images.githubusercontent.com/4306128/47105240-5eb50a00-d211-11e8-9720-92325ae9a64a.png">

[2018-10-17 17:41] laurjpeterson commented on #7313
@shanear - the story says that this flow starts by clicking the `Edit in Caseflow` link in VBMS, and there are mocks for Board appeals. Would a VBA/VBMS user ever be able to Edit issues in VBMS for Board appeals, or only Supplemental Claims and Higher Level Reviews?

I'm thinking you're asking for input on the copy for appeals because that same page could be used for an edit issue flow that a BVA

[2018-10-17 19:36] #6547 closed

[2018-10-17 19:39] sharonwarner opened #7431 "Search | Link to case details page"
The search link on `/hearings/schedule` currently uses the same functionality as queue's search bar. That is, the results are displayed on `/cases/${id}` and when a user clicks on a result link, they're taken to queue's Case Details page `/queue/appeals/2096907/${id}`.

In hearing scheduling, when a user is searching for a veteran, it's because they want to schedule the veteran for a hearing. The

[2018-10-17 20:35] amprokop commented on #7427
Sounds good to me.

My only hesitation is maintaining redundant lists of users— it would be a little confusing if VACOLS and Caseflow have competing lists of users in group X.

If we need to introduce many new organizations at this point, then it may make sense to do this!

However, I want to propose an option 3 as well— maintaining the list of users in source control (probably in the appeals-depl

[2018-10-17 20:36] amprokop commented on #7427
But happy to go with whatever approach makes sense, with the caveat that maybe we could start off with the lightest weight option and defer building a UI until outsourcing is imminent.

[2018-10-17 21:34] mdbenjam commented on #7427
How easy is it to setup the Jenkins job that pulls from one of these YAML files? It's not something I've done before so I don't know how difficult it is. Presumably it's mostly just copying and pasting from the existing ones.

There are definitely some advantages to option 3. One downside, however, is option 3 doesn't lend itself to eventually be outsourced. i.e. building a UI in Caseflow around a

[2018-10-17 21:41] lowellrex commented on #7427
I prefer option 2 because I think the other two options attempt to approximate the mapping table that we would be implementing in option 2. The goal of this effort is to establish the relationship between users and organizations in the Caseflow application. The users and organizations are currently identified in the `users` and `organizations` tables in the caseflow database so it seems natural th

[2018-10-17 22:34] laurjpeterson commented on #7427
I think this is something we could feasibly outsource to the Board, but we'd have to pitch it.
- Someone in the Front Office already updates a BVA-wide org chart. They could do this too.
- BVA is looking for a special counsel to replace Dustin. This might not be the most exciting task for that position, but it's possible we could provide reasons for it to be part of it

However, I could also see B

[2018-10-17 22:40] mdbenjam commented on #7427
What do you think about letting anyone within an organization add a member to that organization? At least for now? We would just have to add the first user to each organization and then they can add the rest. In the future we could create an admin role where only administrators could do it. But I don't think that's necessary at first. These are relatively small organizations, I don't see people in

[2018-10-17 23:07] shanear opened #7437 "Intake | Add case search link to the navbar"
Claims Assistants sometimes want to be able to search for Appeals and other claims they just created to double check that everything looks right. In order to do this, we'll provide a search link in the header of intake.

## Acceptance Criteria
- On every page in the intake flow, there should be a link to the Case Search page. When clicked, t should open the search page in another window, not the s

[2018-10-17 23:16] amprokop commented on #7427
obligatory notification that scope creep is happening :)

On Wed, Oct 17, 2018 at 18:40 Mark Benjamin <notifications@github.com>
wrote:

[2018-10-18 00:43] jiahuang commented on #6938
I have a branch https://github.com/department-of-veterans-affairs/connect_vbms/pull/206 that adds the correct header however there is a blocking issue in that the logged in user on caseflow needs to already have a vbms account for this header to work.

[2018-10-18 12:36] amprokop commented on #7427
Hmm are you saying that it’s simpler than your proposed option 1? I’m not sure I understand how.

[2018-10-18 12:50] amprokop commented on #7427
Oh maybe your proposed option 2. Sure, sounds good.

[2018-10-18 14:30] laurjpeterson commented on #7016
@shanear, cc: @carolaponce
- who is the audience for EP code? would these be VBMS users? (just for my understanding)
- what are the possible statuses for EPs?

@MeredithStewart, cc: @Chingujo
- what are your thoughts on RO, hearing disposition, review option, and business line?

[2018-10-18 14:35] #5800 closed

[2018-10-18 15:08] lowellrex commented on #7437
PR where I finally put the link to case search in the correct place: https://github.com/department-of-veterans-affairs/caseflow/pull/7347

[2018-10-18 15:46] Chingujo opened #7440 "Release 2 | On hold | On hold table view"
As a hearing coordinator, I want to be able to place "admin" type actions on hearings that can't be scheduled to make sure they do not get lost. I also want to be tied to a Regional Office, because I am assigned entire RO's that change frequently.

### Acceptance Criteria
- [ ] Verify that there is a toggle above the date selector
- [ ] Verify that the toggle is called "on hold vetearns"
- [ ] Ver

[2018-10-18 15:49] Chingujo opened #7441 "Release 2 | On hold | Case details place on hold"
As a hearing coordinator, I want to be able to place an appeal on hold in the case details view, so I can make a decision while reviewing the case.

### Acceptance criteria
- [ ] Verify that there is an option called "on hold"
- [ ] Verify this takes them to a page that allows them to the place on hold page

### Mocks

[2018-10-18 15:55] Chingujo opened #7442 "Release 2 | On hold | On hold checkout page"
As a hearing coordinator, I want a simple way to place something on hold where I can select the reason, the duration, and task instruction.

### Acceptance criteria
- [ ] Verify that this page is called Place [Veteran's name] case on hold
- [ ] Verify that the veteran ID appears underneath the title in the following format
     **Veteran ID:** #
- [ ] Verify that there is a HZ line separating the

[2018-10-18 15:57] Chingujo opened #7443 "Release 2 | On hold | Confirmation of on hold"
As a hearing coordinator, I need to know when a case has been succcesssfully placed on hold.

### Acceptance Criteria
- [ ] Verify that when a user clicks the place on hold button in the create on hold page, that they are sent to the table with the following confirmation
- [ ] Title [Veteran Name] has been placed on hold for [#] days
- [ ] Body: When this hold is completed, it will be automaticall

[2018-10-18 16:01] Chingujo opened #7444 "Release 2 | On hold | Mark as complete"
As a hearing coordinator, I want to be able to mark an admin action as complete and move it back to the assignment queue

### Acceptance Critiera
- [ ] Verify that when a user clicks on the case details in the on hold tab, there is an action called
"send back to hearing assignment"
- [ ] Verify that when the user clicks this a modal pops up with the title "Mark as complete"
- [ ] Verify this modal

[2018-10-18 16:08] Chingujo opened #7445 "Release 2 | On hold | Confirmation of completed on hold"
As a hearing coordinator, I want to be able to confirm that I completed an on hold task and that it has been removed form the on hold queue of the RO.

### Acceptance Criteria
- [ ] Verify that when a user completes a task in the on hold toggle of the RO, the user gets the following confirmation message
- [ ] Title: [Veteran's name] has been marked as complete
- [ ] Body: If you made a mistake, pl

[2018-10-18 16:10] Chingujo opened #7446 "Release 2 | On hold epic"
As a hearing coordinator, I need to place unschedulable Veterans on hold by Regional Office. This way they do not get lost and stay with the RO instead of floating with an individual.

### Related Issues
#7440 On hold toggle in table
#7441 Case details action on hold
#7442 On hold checkout page
#7443 Conformation of on hold
#7444 Mark as complete
#7445 Confirmation of mark as complete

[2018-10-18 16:13] Chingujo opened #7447 "Release 2 | Hearings search | Search on all pages"
As a hearing coordinator, I need to search for individual veterans based on AOD's, congressional requests, to respond to VSO status requests, and fix errors.

### Acceptance criteria
- [ ] Verify that search is implemented across the following pages
  - Assign table
  - Schedule
  - Case details
  - Daily docket
- [ ] Verify we are implementing the most up to date search where there is al ink in t

[2018-10-18 16:16] Chingujo opened #7448 "Release 2| Hearing search | Assign via case details"
As a hearing coordinator, I need to be able to assign a hearing relevant case from the search page. Otherwise, I would have to go back to the assign table and reach a dead end in the flow making it cubersome.

### Acceptance criteira
- [ ] Verify that when a user clicks on the case details from the search page that has a schedulable hearing it has the following actions:

- Assign hearing
- Place o

[2018-10-18 16:18] Chingujo opened #7449 "Release 2 | hearings search"
As a hearing coordinator, I need to search for individual veterans based on AOD's, congressional requests, to respond to VSO status requests, and fix errors. We expect a volume to 30 to 50 a week and for it to increase drastically when the board takes over scheduling.

### All issues
#7447 Implement search across pages
#7448 Hearing actions from search

[2018-10-18 17:10] leikkisa opened #7450 "Discussion: Naming conventions"
Let's discuss coming up with a standard for naming non-rating issues. Some known variations:
non-rating
nonrating
non-rated (nonrated?)

There may be other naming conventions we'd like to standardize so this discussion is open to those as well.

Comment in the ticket, and let's plan to discuss in a week.

[2018-10-18 17:14] sharonwarner opened #7451 "Hearing Prep/Schedule | Hearing types"
We're currently using different display values for hearing types. We need to pick our default display values and use them consistently across both (all) applications.

"C" => "Central" or "CO"
"V" => "Video"
"T" => "Travel"

[2018-10-18 17:32] sharonwarner opened #7452 "Hearing Prep/Schedule | CO hearing location"
We currently have different logic in AssignHearings.jsx, DailyDocket.jsx, and ListSchedule.jsx determine the hearing location for Central Office hearings. We should move all that logic to one backend function.

[2018-10-18 18:21] pkarman commented on #7300
@shanear We have been using `Rating.promulgation_date` to determine timeliness.

There is currently no `promulgation_date` for the child `RatingIssue`, only a `profile_date`. Do we always inherit the `Rating` parent's `promulgation_date`?

Is there a `promulgation_date` in the BGS response for each issue that we are currently not using?

What is the relationship with `profile_date`? Could we be us

[2018-10-18 18:56] leikkisa commented on #7300
@pkarman I believe the profile_date is when the decision is made, and the promulgation_date is when it's made official and the letter is sent out. So promulgation_date (which I think is generally a few days after profile_date) is used for determining timeliness, but the date that Vets know about (and fill in on their forms) is the decision_date, so we show the decision_date on the UI so that the c

[2018-10-18 18:56] jiahuang commented on #6213
Looked through some code and I believe that this is already being done.

Upon a higher level review or supplemental claim update, we call `request_issues_update.perform!` which in turn calls `review.create_issues!(new_issues)` which creates new eps if needed for each issue.

Will add tests to confirm functionality.

[2018-10-18 19:50] sneha-pai opened #7455 "Adding and removing users in a team/organization"
### Context
Certain caseflow users will be able to add and remove users from a team/organization. This functionality has already been built (#7454), to aim for Feb 2019 readiness. Once we have some bandwidth, a queue designer should revisit this view to reimagine the composition.

### Example of a team or organization view (in add/remove mode)
![organizationusers](https://user-images.githubusercon

[2018-10-18 19:59] #7073 closed

[2018-10-18 20:17] MeredithStewart commented on #7016
@laurjpeterson -- @Chingujo and I took a look from the perspective of hearings and made edits above. We have a question -- is search currently being envisioned as global (same for all apps) or local? We can touch base during Monday sync if that works.

[2018-10-18 20:22] leikkisa commented on #6213
Yeah, during sprint planning we suspected that but thought it'd be good for someone to confirm!  Thanks for looking at it and adding tests!

[2018-10-18 20:42] lowellrex opened #7457 "Display Document IDs in Case Snapshot for QR tasks"
As part of [the QR queue rollout effort](https://github.com/department-of-veterans-affairs/caseflow/issues/7290) we need to display the Document ID for cases that relate to Quality Review tasks in Case Snapshot. We should probably display this information for everybody except VSO employees for all cases that have document IDs.

[2018-10-18 20:44] lowellrex opened #7458 "Display task actions for QR team tasks"
As part of [the QR queue rollout effort](https://github.com/department-of-veterans-affairs/caseflow/issues/7290) we need to display the three generic task actions for Quality Review team tasks. When LP and I sat down with the head of QR this afternoon those task actions were not displaying. Related slack thread: https://dsva.slack.com/archives/C6E41RE92/p1539895124000200

## Acceptance criteria
*

[2018-10-18 20:47] lowellrex opened #7459 "Ensure individual QR tasks show up in individual attorney's queues"
As part of [the QR queue rollout effort](https://github.com/department-of-veterans-affairs/caseflow/issues/7290) we expect QR team tasks will spawn child tasks assigned to individual attorneys. We need to ensure that QR tasks show up in their individual task queues after they are distributed from the QR team queue. Related slack thread: https://dsva.slack.com/archives/C6E41RE92/p1539895128000200

[2018-10-18 20:49] lowellrex opened #7460 "Create BVA Dispatch task after QR task marked complete"
As part of [the QR queue rollout effort](https://github.com/department-of-veterans-affairs/caseflow/issues/7290) we need to create BVA Dispatch tasks when QR is done reviewing a case.

## Acceptance criteria
* Marking a QR team task complete results in a BVA dispatch task being created.

[2018-10-18 20:50] evankroske opened #7461 "Queue | Caseflow is creating duplicate Decass (DAS) records"
For example, the case 3289614 has two Decass records that were created 10/16 and 10/17. This isn't supposed to be possible.

[2018-10-18 20:51] lowellrex opened #7462 "Add custom actions for individual's QR tasks"
As part of [the QR queue rollout effort](https://github.com/department-of-veterans-affairs/caseflow/issues/7290) we need to allow individual quality reviewers to do two actions:
1. Return the case to the judge who signed the decision (specific to the QR process) and
2. Mark the task complete (maybe called something like "ready for dispatch" eventually)

[2018-10-18 20:54] lowellrex opened #7463 "Display "returned from QR" tasks in judge queues"
As part of [the QR queue rollout effort](https://github.com/department-of-veterans-affairs/caseflow/issues/7290) we anticipate some cases returning to the signing judges for corrections. We need to ensure that these tasks show up in the judges' individual task queues after they are returned to them by a quality reviewer.

## Acceptance criteria
* Cases returned to the singing judge from QR display

[2018-10-18 22:05] lowellrex commented on #7460
Turns out, I already implemented this logic when we created the QR task in #7281. Good for me!

[2018-10-18 22:05] #7460 closed

[2018-10-18 22:19] mc-usds commented on #7199
Plot twist. DocumentService was removed from preprod.

Prod ETA is still Dec CI

[2018-10-19 15:05] #7427 closed

[2018-10-19 15:13] mkhandekar commented on #5592
@sneha-pai and I walked through my sketches that tried to consolidate many of the ideas we talked about during this whiteboarding session.

https://app.mural.co/t/workqueue2001/m/workqueue2001/1531849576358/38b753bff1e25963a76d8ebecf9679d6445c39b3  (scroll to the right >>> )

Next steps are for @sneha-pai to:
1.  walk this more-ideal state to a MVP version 2, a more lightweight and simple version

[2018-10-19 15:47] shanear commented on #7199
lol. I love this movie

[2018-10-19 15:57] shanear commented on #6938
A couple things:

1) Any removal of contentions should happen via the [system user](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/user.rb#L276), because we don't want to rely on the user having the ability to remove contentions.

2) EPs created as part of HLR or SC intake should use the user that intook them.

3) EPs created by Caseflow Dispatch should use the u

[2018-10-19 17:45] #7426 closed

[2018-10-19 17:57] #7457 closed

[2018-10-19 18:05] sharonwarner opened #7471 "Hearing Prep/Schedule | Hearing vs hearing day fields"
There are several discrepancies between different fields in hearing.rb and hearing_day.rb (hearing_date vs date, hearing_type vs request_type, etc). We should decide on a standard and update the fields to match.

[2018-10-19 18:34] laurjpeterson commented on #7016
@MeredithStewart @Chingujo - thank you!

Some of my goals for mapping requirements across hearing schedule, intake, and queue:
- Document overlaps among product search result requirements so we could evaluate the possibility that we could come up with global search results. (No decision here yet, because this would be a decision that included all parties Intake, Hearings, Queue)
- Incorporate supp

[2018-10-19 18:59] nikitarockz commented on #5110
# Re-opening
All tasks have not been completed.

[2018-10-19 20:35] shanear commented on #5042
@kencheeto did this 🎉

[2018-10-19 20:35] #5042 closed

[2018-10-19 22:52] laurjpeterson commented on #6623
We've completed this! Closing.

[2018-10-19 22:52] #6623 closed

[2018-10-19 22:57] #6608 closed

[2018-10-19 22:59] #6467 closed

[2018-10-19 23:00] laurjpeterson commented on #6365
closing. we're moving forward with a lightweight UI for now.

[2018-10-19 23:00] #6365 closed

[2018-10-19 23:08] laurjpeterson commented on #6246
Closing because this information is stored elsewhere - the Mural and an Editing AMA issues Epic.

[2018-10-19 23:08] #6246 closed

[2018-10-19 23:09] #5627 closed

[2018-10-19 23:10] #5583 closed

[2018-10-19 23:11] laurjpeterson commented on #5566
Taken care of in another ticket. We display copy to explain there are no cases assigned but users can search for cases.

[2018-10-19 23:11] #5566 closed

[2018-10-19 23:11] #5401 closed

[2018-10-19 23:38] laurjpeterson commented on #5565
Good morning,

I am the coordinator for the Specialty Case Teams, a pilot the Board is running in which attorneys predominately draft decisions in one or two assigned topic areas.  I have met a few weeks ago with Lauren Peterson about the pilot and the needs we will have under AMA.

There have been some changes to the SCT program that you will need to be aware of.

Cases involving 1151 and SC/IR d

[2018-10-19 23:39] laurjpeterson commented on #5581
Sat with DAV user 10/16.
Confirmed that all users from PVA, DAV, American Legion, and VVA have been able to log into Caseflow.
VFW users at a conference this week.
AMVETS users have yet to get CSEM access.

[2018-10-19 23:43] #7298 closed

[2018-10-19 23:49] laurjpeterson commented on #6573
@mdbenjam @lowellrex @sneha-pai and @laurjpeterson met on 10/16 to discuss path forward with generic queues.

Notes from the discussion captured in this [mural](https://app.mural.co/t/workqueue2001/m/workqueue2001/1539709516244/6f439b9eb42f9b962443641a96ecde413e4c1ff9).

To do's discussed, that span generic queue initiatives discussed in the top comment:
1. Create task on root tasks (first use cas

[2018-10-19 23:55] laurjpeterson commented on #6443
This work is tracked here: https://github.com/department-of-veterans-affairs/caseflow/issues/6573

[2018-10-19 23:55] #6443 closed

[2018-10-19 23:56] #6254 closed

[2018-10-19 23:57] laurjpeterson commented on #6111
Case search link is now in the nav bar! Closing.

[2018-10-19 23:57] #6111 closed

[2018-10-19 23:59] laurjpeterson commented on #5590
Closing because we've delivered a solution for BVA dispatchers for October 1, 2018 RAMP appeals pilot. We'll continue BVA dispatch work with #5591

[2018-10-19 23:59] #5590 closed

[2018-10-20 00:00] laurjpeterson commented on #5486
Judge check out launched to all judges September 27, 2018. Closing.

[2018-10-20 00:00] #5486 closed

[2018-10-20 00:00] #5435 closed

[2018-10-20 00:01] laurjpeterson commented on #5433
Rolled out judge assignment to attorneys to all judges September 27, 2018. Closing. Individual issues can still be added to this epic as needed.

[2018-10-20 00:01] #5433 closed

[2018-10-20 00:04] laurjpeterson commented on #5448
We've decided to hold off on supporting senior counsel and judge views of their teams' work within queue because we think it can be taken care of by BVA data analysts' reports.

[2018-10-20 00:12] laurjpeterson opened #7478 "Add Hearing icon to queue/case views"
When judges are assigning work to their attorneys, they want to see if a hearing has been held for a case. We think this will be useful to more users than just judges, so will apply this to more than just judge views.

## AC
- Wherever there is a table (attorneys, judges assign/review, co-located, generic), there is an icon indicating that a hearing has been held on the case
- This indicator only

[2018-10-20 00:15] laurjpeterson opened #7479 "Add completed tab for VSO queues"
When VSOs complete their Submit IHP task, they want to see a list of cases where they've completed the IHPs, so they can still see Veterans for whom they are the VSO.

## AC
- Create completed tab for individual VSO queues

[2018-10-20 00:16] laurjpeterson opened #7480 "Allow VSO users to assign cases to VSO users"
When a VSO user is viewing AMA appeals needing an IHP, they want to assign the case to a member of their organization, so the IHP can be written.

## AC
- In the Actions dropdown of Case details, a VSO user has the option to assign the task to a user within their organization

## Related
https://github.com/department-of-veterans-affairs/caseflow/issues/9693

[2018-10-20 00:20] laurjpeterson opened #7481 "Show 90 day evidence window in Case details"
If an appellant chooses the Evidence Submission docket when they submit their AMA NOD, they are able to submit evidence through 90 days after the receipt date of their NOD.

VSOs typically don't start writing their IHPs until this evidence window is complete, or until they know the evidence window has been waived.

But, this evidence window information is of interest to other users at the Board wh

[2018-10-20 00:25] laurjpeterson opened #7482 "Determine navigation structure for users that belong to multiple organizations"
Some users will belong to multiple organizations in Caseflow. Also, some users will need to navigate between their organization's queue and their own individual queue.

Some examples:
- If a user is a supervisor assigning work to individuals on their team
- If a user is part of both VFW and VVA (two VSOs)
- If a user is an attorney and an acting judge
- If a user is a supervisor for both the mail

[2018-10-20 00:26] laurjpeterson opened #7483 "Endpoint to upload a document (decision doc) to Caseflow"
Build an endpoint to upload document to Caseflow

[2018-10-20 00:30] laurjpeterson commented on #5961
@allyceh is taking over this work! this week, we discussed:
- Phase 1: allowing attorneys (or other users) to correct issues by re-using as much of the Caseflow Intake edit/correct issues designs as possible
- Phase 2: allowing attorney magic editing

[2018-10-22 12:00] Chingujo opened #7485 "CO Release | Epic - daily docket | Postponement logic"
As a hearing coordinator, I can only edit the hearing location and date when the disposition is a postponement. When I change the hearing date/location, it should automatically select postponement as a disposition so I don't make a mistake and risk the appeal getting lost.

### Acceptance Criteria
- [x] Verify that the disposition select is now the first choice a user has
- [x] Verify that the def

[2018-10-22 12:13] Chingujo opened #7486 "CO Release | Daily docket | Default date selection"
As a hearing coordinator, I need a way to pick the original date of the daily docket in case I change it on accident.

### Acceptance Criteria
- [ ] Verify that the dropdown shows the default date with a line underneath
- [ ] Verify that it freezes as the user scrolls
OR
- [ ] Verify that the top date is always the default date

**The first would be very useful. Included second option incase loe i

[2018-10-22 12:17] Chingujo opened #7487 "CO Release | Daily docket | Move save button"
### Acceptance Criteria
- [ ] Move save button to make it more in lined with the rest of the edits

### Mocks
![screen shot 2018-10-22 at 8 17 06 am](https://user-images.githubusercontent.com/23316107/47291773-e19fe100-d5d2-11e8-9ed8-afeb891442d5.png)

[2018-10-22 12:17] Chingujo opened #7488 "CO Release | Daily Docket | Move back to hearing schedule ink up"

[2018-10-22 12:18] Chingujo opened #7489 "CO Release | Daily Docket | Move back to hearing schedule ink up"
### Acceptance Criteria
- [ ] Verify that the back to view schedule link is tied to the header not the table

### Mocks
![screen shot 2018-10-22 at 8 18 29 am](https://user-images.githubusercontent.com/23316107/47291826-13b14300-d5d3-11e8-80be-c8f8b7a1e30e.png)

[2018-10-22 12:21] Chingujo opened #7490 "Co Video Release | Daily Docket | Cancel edits"
As a user, I want to be able to have a way to revert or cancel my changes if I don't want to save them.
Right now, we do not have a way for a user to go back or exit out of the save. Otherwise the user will have to manually revert the changes made and the disposition increasing user error

### Acceptance Criteria
- [ ] Verify that there is a cancel that reverts the edits
- [ ] Verify that the hear

[2018-10-22 12:24] Chingujo opened #7491 "CO Video Release | Daily docket | link to Case Details"
As a hearing coordinator, I want to be able to see detailed claims information when managing or editing the daily docket without having to look through VBMS, VACOLS, or a data heavy UI.

### AC
- [ ] Verify that the veteran name is link
- [ ] Verify that clicking this link in the daily docket takes them to Case Details

### Mocks
_Veteran name_
![screen shot 2018-10-22 at 8 23 38 am](https://user-

[2018-10-22 12:24] Chingujo commented on #7488
duplicate

[2018-10-22 12:24] #7488 closed

[2018-10-22 13:02] Chingujo opened #7492 "Build schedule | Validation copy clean up"
### Acceptance Criteria

#### Video

- [ ] The start date, end date, or file are missing -->
The start date, end date, or file is missing. Please verify you have uploaded a file and inputed a date range.

- [ ] The end date is before the start date --> Please verify that the end date is before the start date

- [ ] You have already uploaded a file for these dates --> You have already uploaded a fi

[2018-10-22 13:59] MeredithStewart commented on #7485
@Chingujo -- If there's no hard lock, can they proceed in the UI with selecting a new location/new hearing day and cancel?

[2018-10-22 15:08] mc-usds commented on #7206
Per 10/18 meeting update, the fix should be in UAT.
Is this something that is tested through connect_vbms?

[2018-10-22 15:09] pkarman commented on #7300
@shanear I will need some help understanding how to do this:

[2018-10-22 15:26] aroltsch opened #7493 "Return legacy cases through Caseflow API for BVA Dispatch IDT (currently, Caseflow is only sending AMA cases)"
AC
1. Return legacy cases through Caseflow API for BVA Dispatch IDT
2. Use the following logic to find cases assigned to a BVA Dispatch user:
https://github.com/department-of-veterans-affairs/dsva-vacols/issues/32#issuecomment-422457879

[2018-10-22 17:15] shanear commented on #6938
Another thing, need to make sure our prod system user has the appropriate permissions

[2018-10-22 17:38] shanear commented on #6167
First outcome, figure out how decision issues are going to be modeled and how they are going map to DTA error supplemental claims.

[2018-10-22 17:39] shanear opened #7494 "AMA Decisions | How will decision issues be modeled and mapped to DTA error SC's"

[2018-10-22 18:11] laurjpeterson opened #7496 "New co-located pilot user"
Tim Owens is out on military leave, so we will bring Marvin Koroma into the list.

## AC
- Transfer all of Tim Owens' assigned tasks to Marvin Koroma in the same way they are in Tim's queue (e.g. on hold tasks go to the on hold column (unless hold times have finished)
- Change round robin work to go to Marvin Koroma instead of Tim Owens

[2018-10-22 20:20] #7356 closed

[2018-10-23 13:04] pkarman opened #7500 "Refactor HLR and SC controllers"
The `HigherLevelReviewsController` and `SupplementalClaimsController` are virtually identical and could be DRY'd up into a common `ClaimReviewController` base class.

[2018-10-23 13:57] nicholasholtz commented on #7333
Does this question show up for all AMA review intakes, or does this show up specifically because of something the user has done to indicate that this will be an opt-in?

[2018-10-23 14:44] MeredithStewart commented on #7485
![disposition for daily docket](https://user-images.githubusercontent.com/36775274/47368961-aa076680-d6b0-11e8-82a1-8408da0fd397.jpg)

[2018-10-23 15:29] laurjpeterson opened #7503 "Caseflow navigation among queues and products"
### Context and Background questions
We've built quite a few applications, now becoming more connected by queue functionality. It's time to evaluate top level Caseflow navigation.

How can Caseflow users navigate:
**1. from their individual queue to their organization queue**
   -  As a quality review attorney, I want to view cases that were assigned to me for QR and also all cases that have a QR

[2018-10-23 15:46] laurjpeterson commented on #7016
Reviewed with @sneha-pai 10/23 - plan to explore 2 views: (1) SCs/HLRs/appeals in one table and (2) two separate tables, one with appeals and one with SCs/HLRs (VBA stuff)

[2018-10-23 15:59] laurjpeterson opened #7504 "Manually create BVA dispatch tasks for QR'ed RAMP appeals"
Josh Freeman confirmed that his team has finished QRing 5 RAMP appeals. The five appeals are in this report - https://caseflow-looker.va.gov/looks/61. We need to create BVA dispatch tasks for them so they can be dispatched from the Board

## AC
- BVA dispatch tasks have been manually created for the 5 appeals in this report - https://caseflow-looker.va.gov/looks/61

[2018-10-23 16:05] laurjpeterson opened #7505 "discussion/suggestion: foxtrot Slack channels"
#### Current state
- appeals-queue - for design, engineering, and product conversations + queue alerts
- appeals-foxtrot - for team conversations, including status updates (e.g. wfh today), PTO, standup calls, retro action items, and other team chatter

#### Proposal
- move queue alerts to appeals-foxtrot channel because it is used less than appeals-queue
- move team conversations to appeals-queue

[2018-10-23 16:09] lowellrex opened #7506 "Use new organization membership in application"
In #7427 we implemented a new method for recognizing which folks are members of which teams. We should now use that instead of relying on constants for pilot users, and VACOLS (Board employees) and BGS (VSOs) for team membership.

It remains an open question about whether or not we want to move [the attorney-judge team mapping](https://github.com/department-of-veterans-affairs/caseflow/blob/master

[2018-10-23 16:14] marvokdolor-gov commented on #7505
1. yes
2. yes
3. no ma'am

[2018-10-23 16:16] MeredithStewart opened #7507 "Facility Locator & Geolocation APIs (Research)"
**Facility Locator API & Geolocation API (Research)**
Will be updating this ticket with information related to how we'll be matching Veterans to hearing locations.

At a high level -- we'll match Veterans to the closest hearing location based on geolocation. Hearing locations can be VBA Regional Offices or alternate locations, including VHA Medical Centers, VHA Clinics, and Vet Centers.

**Facilit

[2018-10-23 16:44] MeredithStewart commented on #7507
**Background**

* When we began to do research into the Board taking over scheduling Veterans for hearings, we uncovered that there were about 100 alternate locations in use that weren't in the data in VACOLS.
*  The Board wasn't aware of the extent of these "multi-point" hearings - where the Judge is in DC, the Veteran Service Organization rep is at the Regional Office, and the Veteran is at a th

[2018-10-23 17:07] laurjpeterson commented on #7482
whoops. created a duplicate of this issue so deleting: https://github.com/department-of-veterans-affairs/caseflow/issues/7503

[2018-10-23 17:07] #7482 closed

[2018-10-23 17:17] oscarAtNava commented on #6874
@Chingujo The veteran address is in the 'About the Veteran' section of the Case Details page. I do not think we should duplicate the address in the Task section. What is displayed there is the task information.

[2018-10-23 17:29] mdbenjam commented on #7503
I think Reader -> Queue could also use improvement.

[2018-10-23 17:43] lowellrex commented on #7504
Done! The looker still has the cached statuses of those tasks, but they have been marked complete and `BvaDispatchTask`s have been created for those 5 appeals.

[2018-10-23 17:43] #7504 closed

[2018-10-23 18:06] shanear commented on #7450
Since the EP is called "Nonrating", I'm thinking we either want that, or have it hyphenated (i.e. "Non-rating"). I definitely don't think it should be non-rated or nonrated.

Also:

1) Use "AMA" as little as possible in the codebase, this will future proof the codebase, and reduce the number of acronyms used.

2) Decision review: Term used to refer to an AMA appeal, HLR, or SC

[2018-10-23 18:07] laurjpeterson opened #7508 "Update tasks in Case Timeline with new user-facing task names"
Scope: Focusing on AMA and AMA + legacy tasks right now, excluding legacy only tasks.

# Goals

- Any BVA user (regardless of their role) should be able to pop in to Caseflow and understand the status of an open task with little context
- Make task names consistent, understandable, and plain language

# Writing Rules

Proposed rules for writing Caseflow tasks:
- Always start with an action verb so

[2018-10-23 18:19] lowellrex commented on #7496
All 10 of Tim Owens's incomplete tasks (7 of which were on hold) were reassigned to Marvin Koroma.

[2018-10-23 18:19] #7496 closed

[2018-10-23 18:36] annienguyenUSDS commented on #7503
For Hearing Prep:
I think we can provide a link to HP app from Queue to open a window (homepage is their upcoming hearing schedule). What are VLJs need in HP outside the worksheet access when they are in Queue?

[2018-10-23 19:03] evankroske commented on #7461
## Problem
When a judge assigns a case to another judge, Caseflow creates a Decass record for the case. When the second judge assigns the case to an attorney, Caseflow creates another Decass record. The duplicate Decass records may be skewing productivity reports for judges.

## Implemented Short-Term Fix
I modified the code that Caseflow uses to assign cases from judges to attorneys to throw an e

[2018-10-23 19:04] Chingujo commented on #6874
@oscarAtNava

Agreed =D. Was an older mock

[2018-10-23 19:33] evankroske opened #7512 "Caseflow job errors are still being misrouted"
[Example](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2447/). I tried to fix this issue in https://github.com/department-of-veterans-affairs/caseflow/pull/6718, but my fix didn't work. I think that begin_perform is, inexplicably, being run in a different thread than the rest of the job. However, I've noticed that data sent to Sentry from JobRavenReporterMiddleware, such

[2018-10-23 19:43] evankroske commented on #7461
## Proposed Fix: Allow Assignee to Specify Assignment Type
As I understand it, DAS requires the user to choose which type of assignment to use. I think that Caseflow should adopt the same approach. Judges would be able to choose whether to create a Decass record for an assignment. We should use the same language as DAS to make the distinction between the two types of assignment clear.

[2018-10-23 20:12] MeredithStewart commented on #7503
Other Hearing navigation issues:
* I'm a hearing coordinator, I search for a Veteran, in search results, I need to be able to click on case details and see the schedule hearing tasks available to me. (Current: case details' actions are queue's -- not the org's)
* +other search navigation flows (needing to navigate back to the app you were)

[2018-10-23 21:39] shanear commented on #5961
Not sure what is different about these two

[2018-10-23 21:42] lowellrex commented on #7458
Resolved by the work in #7423 because folks on the QR team are identified in VACOLS.

[2018-10-23 21:42] #7458 closed

[2018-10-23 21:45] shanear commented on #5961
It looks like you have adding and connecting as two separate stories. I was thinking it might be easiest to add a decision already connected to a request issue? This way you don't have to worry about the complexity of connecting after the fact.

[2018-10-23 22:17] laurjpeterson commented on #6737
we haven't started this project yet. going to close this issue in favor of ones created when we do start the project.

[2018-10-23 22:17] #6737 closed

[2018-10-23 22:18] laurjpeterson commented on #6724
Closing. Mark has built a way for our users to map individuals to teams and we acquired the October 2018 BVA org chart.

[2018-10-23 22:18] #6724 closed

[2018-10-23 23:37] shanear opened #7515 "AMA Intake | Show active non-rating issues in Add Issue flow"

[2018-10-24 00:14] shanear opened #7516 "AMA Edit | Confirmation for updating appeal issues"
When the request issues for an appeal are successfully updated we should redirect to the Case Details page for that appeal. Possibly with some sort of success alert.

## Notes
This was decided after a conversation with @allyceh, @laurjpeterson, and @shanear

related https://github.com/department-of-veterans-affairs/caseflow/issues/7313

[2018-10-24 00:35] shanear commented on #7516
Assigned to @allyceh to determine if this is the correct functionality and to provide guidance on the alert copy.

[2018-10-24 00:36] shanear commented on #7313
Breaking confirmation flow for appeals into it's own story

AMA Edit | Confirmation for updating appeal issues #7516

[2018-10-24 00:46] shanear opened #7517 "AMA Intake | Fix question spacing"
The spacing on the rating issues Add Issues modal is off, we should fix that.

## Technical Notes
- We should look for an opportunity to improve the shared modal component - if this looks reasonable, create a followup issue for that and tag @kencheeto , but keep the scope of this issue limited to the mentioned modal.

## Acceptance Criteria
- The spacing between ratings on the first Add Issues mod

[2018-10-24 13:32] lowellrex commented on #7503
I wonder if we could consolidate this into two general navigation problems to solve, the first being a combination of 1 and 2 and the second combining 3 and 4.

### Selecting different queues (1 and 2)
I am very much in support of using the dropdown to select whichever queue we are displaying to the Board employee at any given point in time (proposed in #5385). We could default to the individual t

[2018-10-24 13:58] lowellrex commented on #6391
This is complete! The second improvement was completed in #6786.

[2018-10-24 13:58] #6391 closed

[2018-10-24 14:12] sharonwarner opened #7520 "Hearing Prep | Add VACOLS hearings fields to Caseflow"

[2018-10-24 14:12] MeredithStewart commented on #7503
@lowellrex -- It does not work today showing up hearing tasks in case details when you get there from search. @oscarAtNava @sharonwarner

[2018-10-24 14:13] sharonwarner opened #7521 "Hearing Prep | Read from Caseflow"
Update hearing prep to read hearings from Caseflow if the hearing date is April 1st or later

[2018-10-24 14:54] MeredithStewart commented on #7503
@lowellrex -- apologies, we think this actually does work! We'll be checking after a PR is merged today.

[2018-10-24 15:20] #5419 closed

[2018-10-24 15:45] aroltsch opened #7523 "[Discussion] Not all legacy appeals have Veteran info in BGS"
How do we handle legacy appeals that don't have veteran info in BGS

### Options:

#### 1. Default to Vacols.

Pros:
* A Caseflow user can see VACOLS info

Cons:
* Addresss (Veteran, Appellant, and POA) are difficult to parse from VACOLS
* Code base will need to handle two different paths
* No single source of truth

#### 2. Ask a user to update this info in SHARE

Pros:
* One source of truth
* Co

[2018-10-24 16:54] shanear commented on #7383
@carolaponce this was created based on our conversation yesterday. Me and ken think it's ready for dev, but would be good for you to take another look and get your thoughts

[2018-10-24 16:57] shanear commented on #5695
@carolaponce need thoughts or designs on what alert should happen on this screen when the veteran has no relationships recorded

[2018-10-24 17:09] shanear commented on #7515
@carolaponce this is based on our conversation yesterday. We initially leaned towards option 1, but after writing the story, I think there are some big problems with that approach.

Modal 1 is centered around past decisions. We are essentially asking "Does the claimant disagree with any of these decisions?". The question would be different for active issues, if we put them on that page. We'd be as

[2018-10-24 17:29] laurjpeterson commented on #7523
Is it possible to get a count of how many legacy appeals don't have Veteran information in BGS? (maybe we just look at active appeals?)

I think option 2 is possible, but depends on how many there are and therefore how big the task is.

[2018-10-24 17:43] sharonwarner opened #7525 "Assign Hearings | AOD Status"
- The AOD query on line 281 in appeal_repository.rb is not correct. We need that query to pull *only* AOD cases in location 57.
- We need to send AOD status to the frontend for all of the cases returned in `appeals_ready_for_hearing_schedule`. It should be a boolean stored on each of the appeals (for example, appeal.aod = true/false)
- On the frontend, if AOD is set to true, we need to display tha

[2018-10-24 17:56] laurjpeterson opened #7526 "Add tabs for organization queues"
Currently, organizational queue views only display one table with all cases that have incomplete tasks assigned to that team, even if the task assigned to the organization has a child task that has been assigned to a member of that team.

We should add tabs to this the organizational queue views that correctly indicate the state of the organization's task. For example, after someone assigns a case

[2018-10-24 18:07] laurjpeterson opened #7528 "Create co-located organization"
We need a co-located organization. This is in prep for mail teams assigning tasks to co-located in Caseflow.

## Acceptance criteria
* Selecting "Co-located admin staff" (or whatever we end up naming the team) from the "Assign to team" task action dropdown assigns a task to a member of the co-located team using the round robin assignment mechanism we current implement.

[2018-10-24 18:32] #6874 closed

[2018-10-24 19:05] #7416 closed

[2018-10-24 19:28] nicholasholtz opened #7530 "Display copy change for when CorpDB does not have a POA"
Right now for RAMP appeals where VBMS does not have a POA for a Veteran, Caseflow displays this as:

![image](https://user-images.githubusercontent.com/16781398/47455958-3abd6f80-d7a1-11e8-81f7-d2b08cff6e8f.png)

(For reference, VBMS displays:
![image](https://user-images.githubusercontent.com/16781398/47455994-4f9a0300-d7a1-11e8-86b6-c4e27a05a782.png)

There needs to be a copy change so that when

[2018-10-24 20:02] nicholasholtz commented on #7530
I would also suggest that the copy underneath, where it says "contact an administrator with access to SHARE", needs to be updated.

- Attorneys will not necessarily know what SHARE is.
- The term "administrator" is misleading - should indicate "co-located support personnel" or the like. Perhaps "administrative professional on the co-located support team".

[2018-10-24 21:11] leikkisa commented on #7450
Decision
rating issue - the issue we get from BGS

request issues - the issue we generate during a Decision Review in Caseflow
- rating request issue
- nonrating request issue (no hyphens)
- unidentified request issue

Word for AMA reviews (Appeal/NOD, Higher-level Review, Supplemental Claim)
- Decision Review
This is used in the world

The reviews that create an End Product, only compensation and

[2018-10-24 21:22] lowellrex opened #7533 "Show "send to team" options for all colocated legacy tasks"
Currently if an attorney creates an administrative task with a type (in the action field) of either "Schedule hearing" or "Translation" (for a legacy appeal) then the colocated staffer can send the case to that team in (charge the case to the correct location in VACOLS). However, if the task type is not either of those two actions (say it is other because the attorney didn't take the time to read

[2018-10-24 22:42] lowellrex opened #7534 "Make case details sidebar responsive"
Currently, at small screen widths the table of contents sidebar become hard to read and rob us of valuable screen real estate. This ticket exists to make the sidebar collapse into a smaller version of itself at small screen widths.

### Current state
![image](https://user-images.githubusercontent.com/32683958/47465768-58e49900-d7bc-11e8-910b-95530629cd4f.png)

### Future mocks
![image](https://use

[2018-10-24 22:45] lowellrex commented on #6146
First objective of this ticket was completed by https://github.com/department-of-veterans-affairs/caseflow/pull/7389

[2018-10-24 22:51] carolaponce commented on #7383
WIP - This interface can be used for Comp & non-comp.  The wording and type of issues would change accordingly.  Using the existing UI patter to identify active decision issues.

[2018-10-24 22:53] carolaponce commented on #7383
![issues - active decisions copy](https://user-images.githubusercontent.com/11700545/47466178-2045bf00-d7be-11e8-95cf-837e9de37801.png)

[2018-10-24 22:54] carolaponce commented on #7383
![3 issues](https://user-images.githubusercontent.com/11700545/47466194-2fc50800-d7be-11e8-9a6c-8bfe99f11eab.png)

[2018-10-24 23:00] carolaponce commented on #7383
![issues - active decisions](https://user-images.githubusercontent.com/11700545/47466400-09ec3300-d7bf-11e8-9775-3614685fb026.png)

[2018-10-24 23:00] carolaponce commented on #7383
![issues - active decisions copy](https://user-images.githubusercontent.com/11700545/47466402-0e185080-d7bf-11e8-94ef-8506b677936b.png)

[2018-10-24 23:00] carolaponce commented on #7383
![3 issues](https://user-images.githubusercontent.com/11700545/47466409-13759b00-d7bf-11e8-974c-f369943a4644.png)

[2018-10-24 23:02] carolaponce commented on #7383
So the rule is that if they identify the issue as an "Active decision" we don't allow them to add it, if they think it is not a duplicate then they have the ability to add it again and not select one of the active decisions.  I am not sure if the terminology is correct - any feedback @shanear?

[2018-10-24 23:03] lowellrex opened #7535 "Create team view for co-located team"
Currently, ColocatedTasks are assigned directly to individual employees at the board. As we move membership in that group to the organization_users table (#7506), we should be able to easily create an organizational queue that lists all tasks assigned to members of the colocated team.

## Acceptance criteria
* Add queue table view for the Co-located team

[2018-10-24 23:15] lowellrex commented on #7479
I think this will be accomplished by completing the work in #7526.

[2018-10-24 23:20] lowellrex commented on #7355
Closing this issue since we have settled on a new strategy for associating users and organizations: #7506.

[2018-10-24 23:20] #7355 closed

[2018-10-24 23:44] shanear commented on #7383
This issue is referring specifically to nonrating issues that have a decision recorded already. Active nonrating issues are captured in this issue: https://github.com/department-of-veterans-affairs/caseflow/issues/7515

[2018-10-24 23:49] shanear commented on #7450
Thoughts on refactoring stories needed:

- Non-rated, Non-rating -> Nonrating
- use rating_request_issue, nonrating_request_issue, and unidentified_request_issue where appropriate
- AMAReview -> DecisionReview
- Create decision_issues and decision_rating_issues for HLRs and SCs (will probably need to wait until we know more about how decision issues should work for appeals and if we want to combin

[2018-10-25 12:46] aroltsch commented on #7493
Putting this on hold for now.

[2018-10-25 12:46] #7493 closed

[2018-10-25 13:49] lowellrex opened #7538 "Mark task complete"

[2018-10-25 13:52] lowellrex opened #7539 ""Mark task complete" action spins forever for QR tasks"
The Chief of Quality Review reports that he and another member of the QR team have tried and failed to mark a `QualityReviewTask` complete in the UI, but that doing so just results in "it just loading forever". We should fix this.

## Acceptance criteria
* Quality Task team members are able to mark QR tasks as complete.

[2018-10-25 13:59] lowellrex opened #7540 "Add tab for "Completed" and "On hold" tasks for AMA cases in attorney queues"
Related to #7211. Currently the attorney queue table view displays only one page with no tabs. We should add at least two tabs for "Completed" and "On hold".

When somebody marks a task as complete that case disappears from their queue because we filter out completed tasks from the task table. We should allow attorneys to see tasks they have recently (past 30 days? past 20 tasks?) completed just a

[2018-10-25 14:01] lowellrex commented on #7211
I believe the only work left to be done here is to add the "on hold"-ish tab to generic queues.

[2018-10-25 14:11] carolaponce commented on #7383
![3 issues](https://user-images.githubusercontent.com/11700545/47506569-5a56a580-d83e-11e8-8e50-2bfff08187ff.png)

[2018-10-25 15:08] sharonwarner opened #7543 "AHL | VETS360 API | Testing"
We need to confirm that we can send a curl request to the VETS360 API and receive the expected response as described in this documentation.

https://github.com/department-of-veterans-affairs/caseflow/issues/7507

[2018-10-25 15:09] sharonwarner opened #7544 "AHL | Facilities Locator API | Testing"
We need to confirm that we can send a curl request to the Facilities Locator API and receive the expected response as described in this documentation.

#7507

[2018-10-25 15:16] #7539 closed

[2018-10-25 15:21] sharonwarner opened #7545 "AHL | Dev Implementation"
Because the VETS360 and Facility Locator APIs are only available with the proper certificates, we'll need to have a faked dev mode version of this functionality. We currently do this with our vbms_service and our bgs_service.

We should create two files called locator service, one in lib/fakes and one in app/services/external_api. For now, the external_api file can just have one function that retu

[2018-10-25 15:29] sharonwarner opened #7546 "AHL | All alternate hearing locations for an RO"
We need a json object that contains all alternate hearing locations for an RO. We should create a new file called `alternate_hearing_locations.rb` that contains a json object in the following format:

[code]

We should add a method in `regional_office.rb` that will retrieve the alternate hearing locations for any RO.

[Consolidated Alt Locations & Facility Locator.xlsx](https://github.com/departme

[2018-10-25 15:40] lowellrex commented on #6851
Work completed by #7102.

[2018-10-25 15:40] #6851 closed

[2018-10-25 15:44] lowellrex commented on #6524
Completed by #6528.

[2018-10-25 15:44] #6524 closed

[2018-10-25 16:06] MeredithStewart commented on #7546
@sharonwarner @lomaxap attached spreadsheet here -- we should pull the addresses from the facility locator:
[Consolidated Alt Locations & Facility Locator.xlsx](https://github.com/department-of-veterans-affairs/caseflow/files/2515826/Consolidated.Alt.Locations.Facility.Locator.xlsx)

We won't include those locations I've identified as back up locations. Keep in mind that we will drop one of the Ma

[2018-10-25 16:31] allyceh commented on #7505
I agree with this!

[2018-10-25 17:08] laurjpeterson opened #7548 "Allow judges to sent RAMP/AMA appeals back to attorneys"
When judges notice an issue with the draft decision that attorneys have written, they want to send it back to the attorney to correct those issues, so that the decision can be correct.

RAMP appeal/AMA appeal cases only for now.

We propose implementing the option for Judges to send cases back to attorneys from their `Review cases view`. When the judge sends the case back to the attorney, Caseflow

[2018-10-25 17:30] mdbenjam commented on #7431
I'm closing this, since we are now using the same URL as queue.

[2018-10-25 17:30] #7431 closed

[2018-10-25 17:42] Chingujo commented on #7487
closed in favor of #7490

[2018-10-25 17:42] #7487 closed

[2018-10-25 17:45] shanear opened #7549 "Deal with wild RAMPS"

[2018-10-25 17:57] laurjpeterson commented on #7523
@shanear @cmgiven @mdbenjam - if you have any thoughts here

[2018-10-25 18:22] aroltsch commented on #7523
@laurjpeterson I ran a sample in production and out of 400 appeals, 358 had veteran information.

[2018-10-25 19:59] Chingujo commented on #7490
@sharonwarner @laurenrussell

This is updated based on quick design sesh. Clicking cancel should revert back to default as in
non-editable fields for hearing location and date and select disposition

[2018-10-25 20:02] lowellrex commented on #6014
@laurjpeterson @sneha-pai I'm combing through some old issues and am a little confused about what the problem here is. Is it that an attorney might have two different tasks related to the same appeal at once, and we would like to display those as distinct rows in their queue table?

[2018-10-25 20:11] lowellrex opened #7551 "Simplify task access/assign controls"
Currently we have three different functions that control access to tasks:
* [ApplicationController.can_assign_task?](https://github.com/department-of-veterans-affairs/caseflow/blob/70ab6077583e03e108e7b776e2934bf517e429f8/app/controllers/application_controller.rb#L133)
* [Task.verify_user_access!](https://github.com/department-of-veterans-affairs/caseflow/blob/70ab6077583e03e108e7b776e2934bf517e42

[2018-10-25 20:13] #7075 closed

[2018-10-25 20:15] #6598 closed

[2018-10-25 20:36] lowellrex opened #7552 "Add ability to attach notes to a task"
Board employees have the option to add text to the task's instructions field (an array of strings) when a task is initially assigned to somebody or when the task is placed on hold. In our pilots we found that co-located staffers used the "place task on hold" action to add notes to the task so they could have record what happened when and jog their memory whenever they resume work on that task (sla

[2018-10-25 20:37] lowellrex commented on #7552
cc @sneha-pai for your consideration. Do we want to support folks having the ability to add a note to a task even if the state of the task has not changed?

[2018-10-25 21:41] #7459 closed

[2018-10-25 21:41] #7462 closed

[2018-10-25 21:41] #7463 closed

[2018-10-25 22:02] lowellrex opened #7556 "Echo engineering team lines of effort"
Echo engineering team's objective is to enable all teams to track and act on appeals as they move through the board. To that end we have four major lines of effort:
1. Viewing information about a single appeal
2. Displaying collections of appeals
3. Representing work on appeals as elements of a task tree
4. Staggered pilot releases of the above functionality to different Board teams

The broader C

[2018-10-25 22:07] #7290 closed

[2018-10-25 22:26] lowellrex opened #7557 "Determine which tasks for an appeal are actionable for a given user"
Currently we have a handful of places on the frontend where we decide which task to show for a given appeal and user combination (tasksForAppealAssignedToUserSelector, tasksForAppealAssignedToAttorneySelector, organizationTasksByAssigneeIdSelector, incompleteOrganizationTasksByAssigneeIdSelector). A [recent PR added a way](https://github.com/department-of-veterans-affairs/caseflow/pull/7423/files#

[2018-10-26 00:12] leikkisa opened #7560 "Fix flakey tests caused by contention ordering"
Noticed in this Circle Build that some tests flake because the order of the data in the array changes.  It seems like this might happen in quite a few places, so we could see if there's a better way to test this.

https://circleci.com/gh/department-of-veterans-affairs/caseflow/17719

[2018-10-26 00:18] shanear commented on #7549
Done. Sent all remarks to Paul.

[2018-10-26 00:18] #7549 closed

[2018-10-26 00:27] laurjpeterson opened #7561 "Remand reasons typo"
On the Caseflow Queue checkout for reasons for remand. It should say "clarification" from appellant and not "certification."

## AC
- Typo is corrected on the Remand Reasons screen for legacy appeals, for both judge and attorney check out flows

[2018-10-26 01:11] laurjpeterson commented on #6014
This is related just to the `On hold` tab, when we have it. If an attorney assigns co-located two admin actions, then the attorneys should see both of those admin actions listed on the `On hold` tab.

[2018-10-26 14:33] Chingujo opened #7563 "Reduce length of dropdown - component"

[2018-10-26 14:33] Chingujo opened #7564 "Assign Hearings | Gray box should end further to the left"
Reduce the gray space after the date selector and make sure that there is enough space between the date selector and the table.

[2018-10-26 14:34] Chingujo opened #7565 "Date selector (display the correct room)"
During the demo, St. Petersburg was still displaying the board room numbers instead of Room 1 versus Room 2.

[2018-10-26 14:44] aroltsch opened #7566 "Duplicate user in Caseflow/VACOLS"
Sentry error:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2584/events/154781/

We have been seeing that some users don't have slogid in VACOLS.

[2018-10-26 14:45] Chingujo opened #7567 "Add link to daily docket in hearings section"
As a user, I want to be able to go the daily docket of a hearing that I already scheduled for that day. Especially, if I am searching an individual veteran who was already scheduled.

### Acceptance criteria
- [ ] Verify that when there is no task and the veteran has already been scheduled, the task information and action section is blank
- [ ] Verify that in the hearing section in case detail for

[2018-10-26 14:45] Chingujo opened #7568 "Change Assign Hearings to Schedule Veterans"
We want to use the schedule copy to better reflect how users communicate the need to schedule veterans task. This was also identified in usability. Below are all areas in which this needs to be changed.

**Veteran should always be capitalized**

### Schedule Page
_Button title_
(we removed the instructional text for now so ignore it)
<img width="595" alt="screen shot 2018-10-26 at 1 03 16 pm" src=

[2018-10-26 15:06] aroltsch commented on #7505
I am okay with this approach.

[2018-10-26 15:08] aroltsch commented on #7523
Well, surprisingly I am seeing better results now. I ran 3 samples randomly selecting 400 legacy appeals. All of them had veteran info.

[code]

[2018-10-26 15:42] cmgiven commented on #7523
Head scratcher.

[2018-10-26 16:01] cyber-gov-shane commented on #7523
Just a note, this is going to be an even bigger problem with AMA and non-comp business lines, so VACOLS is not the answer. I think we need to work out a method for anyone in the VA to get a veteran added to the VBA corp database. Not sure how that would work, but that should be the first course of action.

[2018-10-26 16:57] amprokop opened #7571 "Fix duplicate DAS record creation when assigning from judge to judge"
On the Assign Cases page, we currently use the following code to decide who to show in the dropdown where the judge chooses the user to assign to:

```VACOLS::Staff.where(sactive: "A").where.not(sattyid: nil)```

This query has the (unintended?) effect of displaying judges as well as attorneys, since judges (often? always?) have attorney ids (sattyid).

Currently, when a judge assigns a case to an

[2018-10-26 17:03] shanear commented on #6965
Everywhere I've checked looks good!

[2018-10-26 17:03] #6965 closed

[2018-10-26 17:04] shanear commented on #6984
Nice!
![screen shot 2018-10-26 at 1 03 58 pm](https://user-images.githubusercontent.com/1596259/47581560-afb6b380-d91f-11e8-829f-42b5e3fd9821.png)

[2018-10-26 17:04] #6984 closed

[2018-10-26 17:04] shanear commented on #6984
responsive AF

[2018-10-26 17:08] shanear commented on #7437
It appears to be opening the search page in the same window

[2018-10-26 17:09] shanear commented on #7428
Deployed to prod with We'll assume this one is working until we get feedback that it isn't

[2018-10-26 17:09] #7428 closed

[2018-10-26 17:12] shanear commented on #7300
Something is off about how this is working with nonrating issues. They all appear to be invalid.

<img width="1112" alt="screen shot 2018-10-26 at 1 12 06 pm" src="https://user-images.githubusercontent.com/1596259/47581921-d5908800-d920-11e8-9752-9951256f5b53.png">

[2018-10-26 17:21] leikkisa commented on #7437
Oops, I missed that spec. Thanks Shane!

[2018-10-26 17:40] shanear commented on #7303
If I make a HLR with 1 unidentified issue, we don't say that we are establishing an EP. We are establishing an EP:

 ![screen shot 2018-10-26 at 1 15 52 pm](https://user-images.githubusercontent.com/1596259/47582071-50f23980-d921-11e8-9b16-e8b4502682e4.png)

[2018-10-26 17:42] kencheeto commented on #7303
Ah, I will add handling of unidentified issues, good catch

[2018-10-26 17:42] Chingujo commented on #6576
@oscarAtNava

The only thing we are keeping about this ticket is the confirmation banner copy

[2018-10-26 17:48] shanear commented on #7303
![screen shot 2018-10-26 at 1 47 49 pm](https://user-images.githubusercontent.com/1596259/47583532-c95af980-d925-11e8-9ac8-7a9b3983cb58.png)
Also the checkbox section appears to be a little squished

[2018-10-26 18:10] allyceh commented on #7530
@laurjpeterson @nicholasholtz and cc: @lowellrex

Proposed update 1: If the veteran doesn't have a POA, I say we don't display the POA section on Case Details. This is consistent with how we handle the About the Appellant and Hearings sections on Case Details today. Thoughts about this approach?

I also noticed that the POA section for legacy appeals looks the same as the POA section for RAMP appe

[2018-10-26 18:31] shanear commented on #5928
<img width="742" alt="screen shot 2018-10-26 at 2 30 41 pm" src="https://user-images.githubusercontent.com/1596259/47585599-bd723600-d92b-11e8-901a-a037bf400786.png">

The EP was correctly routed via the NWQ

[2018-10-26 18:31] #5928 closed

[2018-10-26 18:31] shanear commented on #7010
![screen shot 2018-10-26 at 2 24 39 pm](https://user-images.githubusercontent.com/1596259/47585621-cd8a1580-d92b-11e8-9cef-46ac545a5136.png)
Looking good 👍

[2018-10-26 18:35] #7452 closed

[2018-10-26 18:36] shanear commented on #7291
![screen shot 2018-10-26 at 2 35 52 pm](https://user-images.githubusercontent.com/1596259/47585837-7d5f8300-d92c-11e8-8ed5-2e079a5f20ac.png)
![screen shot 2018-10-26 at 2 35 45 pm](https://user-images.githubusercontent.com/1596259/47585839-7e90b000-d92c-11e8-9469-abb12f7b06d6.png)

This is still not marking duplicates appeal/appeal as invalid.

[2018-10-26 18:52] #7076 closed

[2018-10-26 18:54] shanear commented on #7397
![screen shot 2018-10-26 at 2 50 20 pm](https://user-images.githubusercontent.com/1596259/47586773-1394a880-d92f-11e8-8ef9-5e9882de25c4.png)
![screen shot 2018-10-26 at 2 54 36 pm](https://user-images.githubusercontent.com/1596259/47586775-142d3f00-d92f-11e8-8d0e-7f9188993d91.png)
Got there 👍👍

[2018-10-26 18:54] #7397 closed

[2018-10-26 18:55] shanear commented on #7271
![screen shot 2018-10-26 at 2 47 26 pm](https://user-images.githubusercontent.com/1596259/47586829-30c97700-d92f-11e8-8c1e-3665563e019e.png)
Working great 👍

[2018-10-26 18:55] #7271 closed

[2018-10-26 18:56] shanear commented on #7272
Works great (forgot to capture a screen shot 😬)

[2018-10-26 18:56] #7272 closed

[2018-10-26 18:57] sharonwarner opened #7574 "Daily Docket | Notes field bug"
Currently when we edit the notes field, we save the edits on a field called editedNotes. The value of the notes field is editedNotes if it's set, and notes if it's not set. The problem is that the user is no longer able to delete the notes field because editedNotes isn't displayed when it's empty. We need to display editedNotes when editedNotes is set to ''.

[2018-10-26 18:59] shanear commented on #7010
oh no, it looks like when you add an unidentified contention in the Edit page, it does not use this text:

[code]

[2018-10-26 19:01] shanear commented on #7269
So it looks like create contentions fails when you save an edit. This is editing an EP created with the new internal domain code :/

https://sentry.uat.ds.va.gov/sentry/caseflow-uat/issues/1013/

[2018-10-26 19:04] pkarman commented on #7010
@shanear it seems like doing things from the Edit page were not in the original scope of this ticket. Am I misreading it?

[2018-10-26 19:42] #7490 closed

[2018-10-26 19:43] #7485 closed

[2018-10-26 19:45] #6873 closed

[2018-10-26 19:45] #6597 closed

[2018-10-26 19:46] #7332 closed

[2018-10-26 19:54] #7489 closed

[2018-10-26 19:57] #6591 closed

[2018-10-26 20:05] pkarman commented on #7300
Should be fixed in master now @shanear -- please give it another go

[2018-10-26 20:07] laurjpeterson opened #7575 "Populate decision date for AMA appeals in search"
We are not showing the decision date in the Search results/case list for decided AMA appeals.

[2018-10-26 20:44] shanear commented on #7276
![screen shot 2018-10-26 at 4 43 52 pm](https://user-images.githubusercontent.com/1596259/47591645-5f9b1980-d93e-11e8-8ad9-15397bad8f5d.png)
The new form names make the wording fairly awkward now 🤔

[2018-10-26 20:46] shanear commented on #7276
@kencheeto think we could take "Request for" out of the copy?

i.e. change

[2018-10-26 20:47] shanear commented on #7270
![screen shot 2018-10-26 at 2 45 08 pm](https://user-images.githubusercontent.com/1596259/47591782-d46e5380-d93e-11e8-932d-5789f3fae730.png)
works like a charm 👍

[2018-10-26 20:47] #7270 closed

[2018-10-26 21:36] shanear commented on #7206
Woohoo this works in UAT! @mc-usds

[2018-10-26 21:36] #7206 closed

[2018-10-26 21:41] shanear commented on #6938
<img width="769" alt="screen shot 2018-10-26 at 5 39 14 pm" src="https://user-images.githubusercontent.com/1596259/47593708-46966680-d946-11e8-84dc-bf8672577ec5.png">

It looks like it's establishing the EP in the station of the user, which I don't think is correct 🦍... Will need to ask VBMS about this.

[2018-10-26 21:43] shanear commented on #7419
Just started an appeal on 123458312, will check monday to see it's expired and the appeal is gone.

[2018-10-26 22:03] shanear commented on #7523
Gave the AMA scenario some more thoughts. Tracking options here:

https://github.com/department-of-veterans-affairs/appeals-design-research/issues/1050

[2018-10-26 22:07] shanear commented on #7010
It's certainly not clear from the ticket that it's part of the scope, this was more of a problem with the ticket that the dev work on it.

Either way we still need contentions to work like this even when created from the edit page. Would you mind doing that as part of this ticket?

[2018-10-26 22:10] laurjpeterson opened #7579 "Investigate case list"
Jebby reported a case where there are only 3 cases associated with the Veteran ID in Caseflow ( showing in the Case list/search results) but may more in VACOLS. Can we investigate why Caseflow isn't showing all of the results?
![unnamed](https://user-images.githubusercontent.com/27704093/47594759-c6becb00-d94a-11e8-9080-3d5693809054.png)

[2018-10-26 22:15] shanear commented on #7300
<img width="1131" alt="screen shot 2018-10-26 at 6 14 25 pm" src="https://user-images.githubusercontent.com/1596259/47594799-02599500-d94b-11e8-9284-a053033b7101.png">
works! Now i just need to get colin to get me a veteran with an old rating... 😑

[2018-10-26 22:29] mc-usds commented on #6221
Tested in UAT with (700017078 700017075) and the fix appears to working.

[2018-10-26 22:29] #6221 closed

[2018-10-29 13:07] #7571 closed

[2018-10-29 13:45] #7575 closed

[2018-10-29 14:52] Chingujo commented on #7568
@MeredithStewart

If you find any other instances where this needs to be changed, please add it here

[2018-10-29 15:00] #7525 closed

[2018-10-29 15:16] MeredithStewart commented on #7568
All instance of "veteran," needs to be capitalized, "Veteran."

@Chingujo -- I like either options for "Schedule a Veteran" and "Veterans to schedule" -- I think I prefer "Veterans to schedule" since that title evokes that it's the list of Veterans (the common list for all hearing days).

[2018-10-29 15:21] aroltsch commented on #7566
I am going to keep an eye on this issue. I've checked every single user and they have slogid now. I can't tell when these STAFF records were added because `stadtime` is nil.

[2018-10-29 15:23] MeredithStewart commented on #7568
@Chingujo -- I've gone through the flow and I think you've got them all. Except that the modal and the confirmation banner that pop up don't seem to be correct in Demo -- there might be more "schedule Veteran" language in those two items.

[2018-10-29 16:00] shanear commented on #7419
Bummer. It looks like it's still open:

https://appeals.cf.uat.ds.va.gov/queue/appeals/9a3c14e6-b280-4080-a2be-40a154125eed

This has been around for 2-3 days.

[2018-10-29 16:25] shanear opened #7587 "AMA Edit | Timely issues showing as untimely"
I created a higher level review with two rating issues, which worked correctly. When I went to edit those issues, they registered as untimely. This is a bug.

030 HLR on 123458315 in UAT

Here's a screenshot of the edit page:
![screen shot 2018-10-29 at 12 12 05 pm](https://user-images.githubusercontent.com/1596259/47664576-b474a500-db75-11e8-90a8-c09cc6852829.png)

[2018-10-29 16:44] kencheeto commented on #7375
@mdbenjam this could be a fairly straightforward issue to pick up that is still meaningful.

[2018-10-29 16:45] shanear commented on #7437
works! thanks sally 🙌

[2018-10-29 16:45] #7437 closed

[2018-10-29 16:51] aroltsch opened #7588 "As a BVA dispatch user [or as a judge], I need to upload the final, errorless BVA decision to VBMS, so that BVA has the correct system of record."
As a BVA dispatch user [or as a judge], I need to upload the final, errorless BVA decision to VBMS, so that BVA has the correct system of record.

[2018-10-29 17:32] sharonwarner opened #7589 "Release 2 | Testing"
Assign Hearings - CO
- [ ] What days should be listed on the lefthand side?
- [ ] The scheduled hearings for each day match VACOLS
- [ ] Under the assign hearings tab:
        - All CAVC cases in location 57 are listed first in docket order
        - All AOD cases in location 57 are listed second in docket order
        - All other cases in location 57 are listed third in docket order

Assign Hear

[2018-10-29 18:25] aroltsch opened #7590 "[Tech Spec Draft] Upload decision document to VBMS"
1. Upload decision document to s3 and VBMS asynchronously - use Intake team approach
* With this approach Caseflow won't be able to respond to IDT immediately on whether the upload succeeded
* How do we handle error statement
2. Upload decision document to s3 and VBMS synchronously. This approach will be easier for IDT to tell the user immediately on whether the upload succeeded.
3. The `decisions

[2018-10-29 18:48] laurjpeterson commented on #7530
1. I want to agree that we can remove the POA section if the Veteran does not have a POA, but I have the slightest bit of hesitation because POA data is so crucial and is often wrong. What if we said something like "Appellant does not have representative data stored in VBMS" or something so it's super clear that there isn't missing data and users don't need to go searching around?

I think we'll b

[2018-10-29 20:50] shanear opened #7594 "AMA Edit | Create appeal edit link and modify save to update appeal issues as well"
We have a URL that directs a user to the edit screen in Caseflow for supplemental claims and higher level reviews, but

## Technical Notes
- This will likely require changes to `RequestIssuesUpdate` in order to make it work for updates to appeals, which do not have EPs

## Acceptance Criteria
- For any appeal, there should be a url `/appeals/[appeal_uuid]/edit` that takes the user to the edit issu

[2018-10-29 22:19] shanear commented on #6939
RemoveContentions is not working with the permissions VBMS gave our system user. This is blocked until we fix that 😞

[2018-10-29 22:51] shanear commented on #7276
Looks great 💯 👍

[2018-10-29 22:57] shanear commented on #7408
<img width="465" alt="screen shot 2018-10-29 at 6 57 31 pm" src="https://user-images.githubusercontent.com/1596259/47685334-82cb0080-dbac-11e8-9caf-0d3cc6ff94c2.png">
Not a clue what was causing this... But it's stopped. So closing

[2018-10-29 22:59] #7408 closed

[2018-10-29 22:59] #7276 closed

[2018-10-29 23:25] shanear opened #7595 "AMA Intake | Payee code is required when claimant not veteran"
When the Payee code is needed, it should also be required, because we'll need it to create the EP properly.

## Acceptance Criteria
- When intaking a compensation or pension claim review, if the claimant is not the veteran, the payee code should be required.

## Notes
Related to https://github.com/department-of-veterans-affairs/caseflow/issues/7524

[2018-10-29 23:54] shanear commented on #7333
need the feature flag set in UAT to test this

[2018-10-30 01:49] #7164 closed

[2018-10-30 12:46] amprokop opened #7599 "Serializer should not silently drop records with no value for `id`"
See https://github.com/department-of-veterans-affairs/caseflow/pull/7598/files

If multiple appeals are passed with nil values for id to our serializers, the serializer drops all but one appeal (it treats nil as a unique id even though it's not). As a result, if more than one appeal without a LegacyAppeal row in our DB was found in case search, all but one would be dropped by the serializer and no

[2018-10-30 13:00] #7579 closed

[2018-10-30 13:19] laurjpeterson commented on #7530
<img width="640" alt="screen shot 2018-10-30 at 9 19 16 am" src="https://user-images.githubusercontent.com/27704093/47720709-e85ad380-dc24-11e8-8b01-8a52b2c0b955.png">

@allyceh - you were correct. POA clarifications should be sent to co-located.

[2018-10-30 13:20] laurjpeterson opened #7601 "Allow BVA dispatchers to send AMA appeals to judges, vlj support, etc."
The Chairman does not want BVA dispatchers to be able to edit POA. (No one should edit POA address.)

If a BVA dispatcher comes across a POA error, I think we should allow them to:
1. Create a POA clarification task that puts the Dispatch decision task on hold
2. Assign that POA clarification task to Co-located organization
3. Co-located can work the POA clarification task and when complete, the c

[2018-10-30 13:20] laurjpeterson commented on #7530
This means we may need functionality for BVA dispatchers to create a task and send it to co-located admin. will create another ticket for that. https://github.com/department-of-veterans-affairs/caseflow/issues/7601

[2018-10-30 13:38] laurjpeterson commented on #7601
Agree - I think doing #7528 first makes sense.

- BVA dispatchers view the Case details page, and I think they could assign tasks to co-located from there

[2018-10-30 14:07] allyceh commented on #7530
Okay! To recap, here is what we're changing:

- When veterans don't have a POA, we can display copy that indicates that to provide some reassurance for attorneys. Thoughts about "The veteran does not have a representative."? I kept it short and to the point so that it's easy to read and scannable on the Case Details page.

It seems we're still deciding between whether or not we update the instruct

[2018-10-30 14:12] Chingujo opened #7602 "Release 2 | Editing the schedule | Add hearing day"
As a hearing admin, I want to be able to add a hearing date to the schedule to accommodate for varying availability at Regional Offices, and add dates as needed to accommodate AOD Veterans.

### Mocks
* https://va-gov.invisionapp.com/share/G6P70ASQTR3

### Acceptance Criteria
- [ ] Verify that there can select date for new hearing day
- [ ] Verify that the user can select hearing type (Video or Ce

[2018-10-30 14:32] laurjpeterson commented on #7530
Completely agree with this!

[2018-10-30 14:36] Chingujo commented on #7602
@MeredithStewart

Thinking through do we ever need to add a range of dates? I put that in the AC from some UX but that was 2 months ago. Might be good to double check?

[2018-10-30 14:46] Chingujo opened #7604 "Release 2 | Editing Schedule - Remove hearing days"
### User Story - Remove hearing day
* As a Hearing Branch administrator, I want to be able to remove hearing days from the schedule when an error has been made in adding a new hearing day.

Note: If Veterans have already been scheduled for that hearing day, Veterans will be postponed and a note will be made on the hearing day indicating the change in date, but the hearing day will not be removed.

[2018-10-30 14:49] Chingujo commented on #7604
@MeredithStewart

I know we talked about this for removing a day from the schedule that we would want to prevent the deletion if there are already veterans scheduled for that day. In this case I propose the following solution:

- We render an error say that all veterans must be moved to a different day before deleting. In this case they would have to postpone and move the veteran, or in the case o

[2018-10-30 14:54] Chingujo opened #7605 "Release 2 | Build Schedule Remove VLJs"
As a hearing coordinator, I want to be able to remove a Veteran Law Judge from the schedule to account for changes in VLJ availability.

### Acceptance Criteria
- [ ] Verify that there is a way for the user to remove a VLJ from the Build schedule UI
- [ ] Verify that there is a confirmation when the action is completed

[2018-10-30 14:57] Chingujo commented on #7605
@MeredithStewart

We talked about removing judges when they retire or leave, but we would want to add as well? Otherwise they would have to run the judge algorithm every time they added/removed dates?

[2018-10-30 14:58] laurjpeterson opened #7606 "Edit document ID in Queue"
## Background

We've gotten 3 different attorneys asking how to edit Document ID. How might we help attorneys edit Document ID in Case details?

## Mocks

Context: These mocks show what editing individual data points in Case Details could look like. As we're reviewing these designs, let's consider how they would scale across different editing scenarios.

User first clicks "Edit" from Case details:

[2018-10-30 14:59] Chingujo opened #7607 "Release 2 | Epic 2 - Editing the schedule (All tickets in Current Sprint)"
As a Hearing Management Branch Admin, I need to be able to able to add a hearing day and edit a hearing day, and remove a hearing day that was created in error.

As a Hearing Management Coordinator, I need to be able to edit attributes of the hearing day.

### Issues
#7602 Add hearing day
https://va-gov.invisionapp.com/share/G6P70ASQTR3

#7605 Edit hearing day
https://va-gov.invisionapp.com/share/

[2018-10-30 15:05] sharonwarner opened #7608 "Assign Hearings | Loading spinner"
Currently when the user selects a regional office (http://localhost:3000/hearings/schedule/assign), the VACOLS call can take up to 10 seconds. The way the page is setup, we don't have a loading spinner during that process. Additionally, the user sees an error message that the RO doesn't have any upcoming hearing days while we make the VACOLS call.

AC:
- User sees a loading spinner during the back

[2018-10-30 15:28] Chingujo commented on #7564
I can upload a mock if needed

[2018-10-30 15:47] laurjpeterson commented on #5581
Chatted with @lowellrex about VSO queues 10/30:
- Not all cases with VSOs require IHPs. All co-located VSOs write IHPs only for Evidence Submission, Direct Review, and Legacy cases without hearing requests EXCEPT for PVA, who write IHPs for all appeals.
- Because of this, it likely makes sense to populate the list of cases that each VSO has in a different way, other than them having VSO tasks asso

[2018-10-30 15:58] laurjpeterson commented on #7480
https://github.com/department-of-veterans-affairs/caseflow/issues/5581#issuecomment-434355384

[2018-10-30 17:01] amprokop commented on #7579
@laurjpeterson — i confirmed that the fix works in prod. previously Caseflow Case Search only returned 4 cases for the user, now we return 28.

[2018-10-30 17:56] amprokop opened #7610 "When docket number is missing from VACOLS, case details should still be clickable"
Don't know why appeals would be missing docket numbers! Here's what it looks like in prod:

![image](https://user-images.githubusercontent.com/3781835/47739349-91b4c000-dc4b-11e8-9752-ca47df58cf45.png)

Go to https://appeals.cf.ds.va.gov/cases/122055

# AC
- if an appeal has no docket number, a link should say "No docket number"

[2018-10-30 17:58] amprokop opened #7611 "Tweak copy when no representative is found"
<img width="658" alt="screen shot 2018-10-30 at 1 01 47 pm" src="https://user-images.githubusercontent.com/3781835/47739508-e6f0d180-dc4b-11e8-9ec8-45d084f60255.png">

[2018-10-30 18:16] amprokop opened #7612 "Judge to Judge assignment of RAMP tasks fails"
![image](https://user-images.githubusercontent.com/3781835/47740016-1d7b1c00-dc4d-11e8-86c3-7d570632b06e.png)

Since RAMP task assignment was built to create an AttorneyTask, it is a POST to `/tasks`. This correctly fails validation if the assigned to user is a judge. Right now, judges cannot push RAMP tasks to other judges. Unclear if anyone has tried this in production.

Possibilities for remedi

[2018-10-30 18:20] MeredithStewart commented on #7589
**Assign Hearings - CO**
* Only showing 10/31 as hearing date (when there are others with open slots)
* Showing Veterans from combined two days 10/31 & 11/1.
* Not showing Veteran Names

[2018-10-30 18:42] aroltsch commented on #7483
Duplicate

[2018-10-30 18:42] #7483 closed

[2018-10-30 18:48] MeredithStewart commented on #7589
**Assign Hearings - Video (Albuquerque, NM)**
* Hearing days -- checked against VACOLS -- seems to be good.
* Albuquerque -- Date for 11/26 is showing up - only 7 Veterans are slotted (but there are 9 slots), but it shows at the top that there are 0 Slots remaining. For some reason Albuquerque shows only 7 slots, but should have 9. It's showing up in the "Schedule Veterans" but it's not showing th

[2018-10-30 19:05] sharonwarner opened #7614 "Appellant name vs. veteran name"
On the assign hearings page, we currently display the appellant name on the Scheduled tab and the Schedule a Veteran tab. The appellant name isn't always set. We want to display appellant name if it's set, otherwise display the veteran name.

[2018-10-30 19:08] sharonwarner opened #7615 "Daily Docket | CO hearings time zone"
For CO hearings, we don't need to display the hearing time in the RO's time zone. We should just display the east coast time.

[2018-10-30 19:19] sharonwarner opened #7616 "Assign Hearings | AOD Cases"
AOD cases are not being pulled to the top in the `Schedule a Veteran` tab on the Assign Hearings page. The cases should be sorted 1) All CAVC cases, 2) All AOD cases, 3) All other cases.

[2018-10-30 19:46] allyceh commented on #7611
This is being handled here: https://github.com/department-of-veterans-affairs/caseflow/issues/7530#issuecomment-433496695

[2018-10-30 20:58] sharonwarner opened #7618 "BGS Integration | Too many requests"
Yesterday when testing Hearing Scheduling, we flooded BGS with requests (150 calls/minute). We need to determine where these requests are coming from and reduce the number of requests.

https://dsva.slack.com/archives/C4JECDLSE/p1540930968014400

[2018-10-30 20:59] lowellrex commented on #7612
I am a little confused about what the problem here is. As I understand the scenario above, a judge is trying to assign a case to an attorney for them to draft a decision but we are wrongly identifying that attorney as a judge. So is the problem that attorneys are being misidentified as judges?

[2018-10-30 21:03] #5676 closed

[2018-10-30 21:03] shanear opened #7619 "AMA Intake | Allow SSN for search box"
Some business lines do not use file numbers to identify veterans, and they do not use the mail portal. They instead need to use the social security number to begin a veteran's intake.

## Acceptance Criteria
- TODO

[2018-10-30 21:17] sharonwarner opened #7620 "Daily Docket | Save hearing date changes"
- When hearing date changes, set original hearing to postponed and create a new hearing for the new date

[2018-10-30 21:33] amprokop commented on #7612
Nope.

The class and method names in the codebase implies that we’re only
returning attorneys, so that’s misleading.

But if you look at the Assign Tasks view, it says something like “select an
attorney or a judge” when you select “Other” in the dropdown- we intended
to support judge to judge assignment but it does not work.

On Tue, Oct 30, 2018 at 17:03 Lowell Wood <notifications@github.com> wro

[2018-10-30 21:39] allyceh commented on #7594
@laurjpeterson @shanear @amprokop

I went through this Mural of the Intake flow (https://app.mural.co/t/workqueue2001/m/workqueue2001/1540909080413/09248d7c6c7c77d1b5b21867b8573ce503e71e6b) and a sketch file that contains the more of the validation scenarios and messaging. Below, I've pulled out screens that I feel we can better tailor to attorneys who will be correcting the issues on appeal. Twea

[2018-10-30 21:45] lowellrex commented on #7612
So would judge X be asking judge Z to draft a decision in this example? Or is judge X just trying to change the ownership of this case to judge Z so judge Z can ask one of their attorneys to draft a decision?

[2018-10-30 21:51] #7610 closed

[2018-10-30 22:09] laurjpeterson commented on #7610
I investigated the appeals listed https://appeals.cf.ds.va.gov/cases/122055 in VACOLS.

Two of them validly don't have docket numbers, but I think we should still have a Case details link for them so users can see the issues associated with the appeal record.

@lowellrex - does your change allow the user to navigate to Case details, still?

[2018-10-30 22:25] shanear commented on #7594
## Appeal only changes
1) Update copy on "Remove Issue" modal
1) "Receipt date of this form" => "NOD receipt date"
1) Remove "Form being processed

## Candidates for copy updates on HLR/SC/Appeals (need to chat with @carolaponce)
1) Copy update to the Add Issue past decisions modal.
1) Copy update to unidentified issue warning modal
1) Styling for ineligible issues

[2018-10-30 22:26] shanear commented on #7594
Going to capture these changes in other tickets

[2018-10-30 22:27] shanear opened #7623 "AMA Edit | Edit appeal copy changes"
There should be some copy differences when editing the issues on an appeal. These will help the edit flow cater better to attorneys who will be using it.

## Acceptance Criteria
When editing any decision review:
- The call to action buttons on the bottom should read "Save" and "Cancel"

When editing the issues on a Board Appeal:
- The "Form being processed" row should be hidden
- "Receipt date on

[2018-10-30 22:52] shanear opened #7625 "Filter ineligible issues from Queue"
In Intake, we save ineligible issues on appeals to keep a record of how often veterans request ineligible issues. However, these issues should not appear in the rest of queue. The should also not require decisions

[2018-10-31 02:08] #5684 closed

[2018-10-31 12:30] lowellrex opened #7630 "Refactor JudgeTask to inherit from GenericTask"
Following the merge of #7585, JudgeTask will share a lot of similarities with GenericTask and should probably do that. Currently JudgeTask inherits from Task.

[2018-10-31 12:52] lowellrex commented on #7612
Gotcha gotcha. I didn't know that we supported this behaviour.

I think the simplest thing to do is just to [change the copy](https://github.com/department-of-veterans-affairs/caseflow/blob/e2dfaa4735e2cfcc8ec9c380aec8e45a29a9b602/client/COPY.json#L166) for now and manually reassign judge tasks for now if a judge requests that. We should definitely eventually add the ability for judges to reassign

[2018-10-31 13:13] amprokop commented on #7612
We launched this view to a group of chief judges, who I believe mostly use
it to assign legacy cases to other judges. Last week, when I fixed a
duplicate DAS bug, the duplicates created were all judge -> judge
assignments. If we want to roll that back, you probably need to take it up
with Lauren, would probably require telling chief judges not to use
Caseflow.

But if you want to not fix RAMP judg

[2018-10-31 13:40] lowellrex commented on #7612
So, the work to do on this ticket is:
* [ ] Make judge to judge assignment work for AMA cases

[2018-10-31 13:48] lowellrex opened #7631 "Prevent creating duplicate Tasks on backend"
Some tasks have a uniqueness constraint that is not represented in the database and, as a result, we can create multiple tasks when really we should only create a single task. This ticket exists to prevent the creation of duplicate tasks on the backend (either in controllers or models, whichever makes most sense).

An example of a "somewhat unique" task is the BvaDispatchTask (part of a solution i

[2018-10-31 14:10] pkarman commented on #7010
https://github.com/department-of-veterans-affairs/caseflow/pull/7626 may address some of this.

[2018-10-31 14:10] aroltsch opened #7632 "[BUG] Able to complete/reassign a QR task that is already completed"
Steps to Repro:
1. Dispatch an AMA case using any judge
2. Go to http://localhost:3000/organizations/quality-review
3. Go to actions, assign to a QR user
4. Go to actions, mark task as complete
5. Go back to actions, you can assign a completed task to a QR user again
6. Go back to actions, you can complete a completed task again
7. Result is a bunch of bad data

![image](https://user-images.github

[2018-10-31 14:16] lowellrex commented on #7610
Yup! Instead of there being no link for cases that do not have docket numbers we will show a link with text that reads "Missing docket number".

[2018-10-31 14:20] lowellrex commented on #7625
In case I'm not able to get around to this today, I think we can add a field to the [WorkQueue::AppealSerializer's issues property](https://github.com/department-of-veterans-affairs/caseflow/blob/27113d39006726cd578cf515e5dbbec612ee66dc/app/models/serializers/work_queue/appeal_serializer.rb#L5) to check if the issue is `eligible?` and filter those that are not out [on the frontend](https://github.

[2018-10-31 15:13] laurjpeterson opened #7635 "Privacy/FOIA rollout"
## Functionality in scope
- ~~FOIA~~ Privacy team queue
   - New, Assigned, Completed
- Privacy individuals have an individual queue
  - Tabs
  - Table
  - Case details

## Proposed scope
1. Co-located can send FOIA tasks to FOIA queue - legacy and AMA
1. Mail team can send FOIA mail tasks to FOIA queue - AMA

## To do
- [x] Add FOIA organization row
- [x] Meet with Meg Peak, match people to FOIA

[2018-10-31 15:14] nicholasholtz commented on #7530
would this be a situation where they would assign an admin task via caseflow to co-located?

If so, should the text say soemthing about using caseflow (i.e., provide them instructions for a specific avenue, because i am sure some will send email, and then it could get overlooked)

[2018-10-31 15:43] MeredithStewart commented on #6444
@sharonwarner -- @Sjones352 and I have attempted to complete testing outputs, but we keep having issues having the algorithm run. Maybe you and I can knock this out next week?

[2018-10-31 16:04] laurjpeterson opened #7637 "Show comments from judges in Case details"
Attorneys need to see the comments judges make on their decision after the judge checks it out.

[2018-10-31 16:13] shanear commented on #7516
This was subsumed by https://github.com/department-of-veterans-affairs/caseflow/issues/7594, closing.

[2018-10-31 16:13] #7516 closed

[2018-10-31 17:04] jiahuang opened #7638 "Editing intake issue | Adding a request issue with previously canceled ep will create new ep"
Acceptance criteria:
- Adding a new rating/nonrating request issue on the same review should result in the issue being added to the new rating/nonrating ep, not the previously canceled one
- any logic depending on selecting the correct rating/nonrating ep should take into account "canceled" status, and not use any eps that are canceled
- any logic depending on showing the right eps for a review sh

[2018-10-31 17:19] shanear commented on #7384
![screen shot 2018-10-31 at 1 19 25 pm](https://user-images.githubusercontent.com/1596259/47806240-a3f83200-dd0f-11e8-9793-ab59cf9c9bf6.png)
strong 💪

[2018-10-31 17:19] #7384 closed

[2018-10-31 17:25] laurjpeterson opened #7640 "Rollout admin action functionality to more co-located folks + attorneys"
Current status:
- 2 co-located folks can view attorney admin actions in their queue
- 9 attorneys can assign legacy admin actions
- Any attorney can assign AMA admin actions

Next step for rollout:
- Any attorney can assign legacy admin actions to co-located

Dependencies:
- [x] Meet with Kim Osborne. _Scheduled for 9am 11/7_ - LP
- [x] Notify the union - ask if there are any issues - LP
- [x] Ref

[2018-10-31 17:38] allyceh commented on #7530
@nicholasholtz Good point. Right now, we are catering to a couple different groups: 1) Attorneys who are able to assign tasks to the co-located team and two BVA Dispatchers who use Caseflow for AMA appeals, but don't have the ability to assign a task just yet.

Since the attorneys are the majority here, we could say "POA data comes from VBMS. To update POA, please assign an admin action to the co-

[2018-10-31 17:44] shanear commented on #7291
I found another problem. It seems like issues that were removed via edit are still tripping this constraint:

![screen shot 2018-10-31 at 1 41 28 pm](https://user-images.githubusercontent.com/1596259/47807622-f129d300-dd12-11e8-957d-1093d05a935f.png)

So in this screenshot, "Service connection for Back is denied." was on this supplemental claim but removed via the edit screen. It's still showing u

[2018-10-31 17:47] shanear commented on #7269
works!

[2018-10-31 17:47] #7269 closed

[2018-10-31 17:53] shanear commented on #7333
![screen shot 2018-10-31 at 1 27 21 pm](https://user-images.githubusercontent.com/1596259/47806717-c8a0d980-dd10-11e8-85c2-967e0a30b5e2.png)

need to validate in the db on the supplemental claim on 123458319 in UAT

[2018-10-31 17:57] leikkisa commented on #7291
Ah, so when we remove an issue, we should recalculate the eligibility for other issues that have been created afterwards. Which one should get a contention created for it... the one that was intaken first?

[2018-10-31 17:59] shanear commented on #6938
Works for intake 👍

Need to test for dispatch. Getting in touch with @Sjones352 to help.

[2018-10-31 18:00] pkarman commented on #7291
#7576 should fix this issue too

[2018-10-31 18:39] laurjpeterson commented on #7610
Excellent thank you

[2018-10-31 18:43] oscarAtNava opened #7641 "Remove rails log statements"
Used during debugging while developing. Forgot to remove them in my most recent PR.

[2018-10-31 18:49] allyceh commented on #7623
A second set of eyes would be great before we're ready for dev. @laurjpeterson or @sneha-pai , can you take a look? Sneha, if you need more context, happy to walk you through things, too.

[2018-10-31 18:52] lowellrex opened #7643 "Unbold "no cases" text in queue view"
When looking at an empty queue view (like the one below), we should keep the body copy unbolded, and only bold the hyperlink so it looks something like "You have no cases assigned to you. You can **search for cases**".

![image](https://user-images.githubusercontent.com/32683958/47796665-2f1afd00-dcfb-11e8-9f3f-913440f80cbe.png)

[2018-10-31 18:58] #7641 closed

[2018-10-31 19:13] laurjpeterson commented on #7611
Closing, because this is a duplicate ticket to what Allyce commented above.

[2018-10-31 19:13] #7611 closed

[2018-10-31 19:40] #7615 closed

[2018-10-31 20:51] shanear commented on #7450
https://app.mural.co/t/workqueue2001/m/workqueue2001/1540421981879/ba39075927b4039387697e094436e6a236fe7fa4

[2018-10-31 21:08] laurjpeterson commented on #7530
Updating to use the formal name of colocated folks - the VLJ support management branch.

"POA data comes from VBMS. To update POA, please send a request to the VLJ support management branch."

I agree with @nicholasholtz that we should have more instructions, but we don't yet have a way for all users to send tasks to co-located.

For BVA dispatchers, we'd need to add the `Add admin action` functio

[2018-10-31 21:32] laurjpeterson opened #7647 "Add admin action "Multiple admin actions - see notes""
Some attorneys find multiple admin actions to assign to a co-located admin support person. Let's add a way for them to signify there are multiple admin actions without having to build the fully-fledged design just yet.

LP to confirm this isn't already happening with attorneys using the Other category

[2018-10-31 21:35] shanear commented on #7299
![screen shot 2018-10-31 at 5 35 03 pm](https://user-images.githubusercontent.com/1596259/47820256-5e4d6080-dd33-11e8-95f6-3856045acf3b.png)
Works!

[2018-10-31 21:35] #7299 closed

[2018-10-31 21:37] leikkisa opened #7648 "Intake Refactor | Create a snake_case to camelCase converter for data sent to the front end"
Outcome of the naming discussion on 10/31. We're going to create a client side way to convert snake_case data from the back end into camelCase data on the client app.

## Acceptance Criteria
- Fix all instances of `.ui_hash` on the back end so that we consistently use snake_case.
- Create a function to convert snake_case data from the back-end to camelCase on the front end, to be used in the view

[2018-10-31 21:53] shanear commented on #6939
Confirmed this is working with Joe 👍

[2018-10-31 21:53] #6939 closed

[2018-10-31 21:54] shanear commented on #7333
[code]

nailed it 💯

[2018-10-31 21:54] #7333 closed

[2018-10-31 21:57] mdbenjam opened #7650 "Flakey test: `Search queue case search for appeals using veteran id when backend encounters an error searching in search bar produces another error`"
spec.feature.queue.search_spec spec/feature/queue/search_spec.rb

Failure/Error: let(:veteran_with_no_appeals) { FactoryBot.create(:veteran) }
[code]
https://circleci.com/gh/department-of-veterans-affairs/caseflow/18680

[2018-10-31 22:04] shanear commented on #7010
This works now 👍
![screen shot 2018-10-31 at 1 49 22 pm](https://user-images.githubusercontent.com/1596259/47821552-6effd580-dd37-11e8-815f-5fe8e1c896fa.png)

[2018-10-31 22:04] #7010 closed

[2018-10-31 22:22] shanear commented on #7300
This seems like it's not working :(

![screen shot 2018-10-31 at 6 21 42 pm](https://user-images.githubusercontent.com/1596259/47822286-f2bac180-dd39-11e8-98c4-8dd96e847d1f.png)

[2018-10-31 22:30] shanear opened #7652 "Intake Refactor | Store decision issues instead of rating issues in the DB"
Right now, in order to connect the rating issues that resulted from a request issue on a HLR or SC, we store that connection issue in the `rating_issues` table. After many fruitful discussions about the data model, we decided we should be storing this relationship in the same table that will eventually be used by appeals, which is `decision_issues`.

## Acceptance criteria
- When an EP for a suppl

[2018-10-31 22:41] shanear commented on #7419
This one should be gone in two days:
https://appeals.cf.uat.ds.va.gov/queue/appeals/1fc7d608-75d9-4889-a75f-4ca648b16987

[2018-10-31 22:51] #7614 closed

[2018-10-31 22:52] #7568 closed

[2018-10-31 22:54] shanear commented on #6938
Validated with dispatch 👍

I think we're ready to move forward with a plan to go to prod

[2018-10-31 23:00] lowellrex opened #7654 "Display completed tasks in case timeline"
Currently case timeline only displays events for the receipt of the form 9 and NOD (image below). We should return additional information about any tasks (judge, attorney, dispatch, etc.) that have been completed and show those in the timeline as well (mocks for this exist in [the mural related to case timeline](https://app.mural.co/t/workqueue2001/m/workqueue2001/1531849576358/38b753bff1e25963a76

[2018-10-31 23:01] leikkisa commented on #7291
One conversation that Peter and I had, which I think is a separate issue, is if an issue is removed in a way that affects the eligibility of issues that come after it, there should maybe be a way to communicate this to the user.

[2018-10-31 23:35] shanear commented on #7300
Doh. In my first failed attempt I was doing it on a supplemental claim. So this works 😎

[2018-10-31 23:39] shanear opened #7656 "AMA Intake | Don't show ineligible issues as having been added to an appeal"
Currently, ineligible issues are shown as having been added to an appeal. Even though we save them to the database, they should not considered to be issues on the appeal (similar to HLRs and SCs, where we do not create a contention)

## Acceptance Criteria
- Ineligible issues should not show up on the confirmation page of an appeal intake

## Screenshot
In this screen shot, one of these two issues

[2018-11-01 00:11] shanear opened #7658 "Intake Refactor | Remove old"
- Remove the code for `:intake_enable_add_issues_page` feature toggle
- Remove the code for the old AMA intake finish page code

[2018-11-01 00:11] shanear opened #7659 "Intake Refactor | Remove old AMA Intake finish page code"
Now that we've launched the AMA Add Issues flow, we can clear out the code for the old flow.

## Technical Notes
- There may be test coverage gaps between the old tests using the finish page and the feature tests exercising the add issues page
- There may be opportunity to refactor some of the delta above into lower level tests (controller, etc)

## Acceptance Criteria
- Remove the code for `:inta

[2018-11-01 00:11] shanear opened #7660 "Intake Refactor | Remove old"
- Remove the code for `:intake_enable_add_issues_page` feature toggle
- Remove the code for the old AMA intake finish page code

[2018-11-01 00:11] shanear opened #7661 "Intake Refactor | Remove old"
- Remove the code for `:intake_enable_add_issues_page` feature toggle
- Remove the code for the old AMA intake finish page code

[2018-11-01 00:11] shanear opened #7662 "Intake Refactor | Remove old"
- Remove the code for `:intake_enable_add_issues_page` feature toggle
- Remove the code for the old AMA intake finish page code

[2018-11-01 00:11] shanear opened #7663 "Intake Refactor | Remove old"
- Remove the code for `:intake_enable_add_issues_page` feature toggle
- Remove the code for the old AMA intake finish page code

[2018-11-01 00:12] #7658 closed

[2018-11-01 00:12] #7660 closed

[2018-11-01 00:12] #7661 closed

[2018-11-01 00:12] #7662 closed

[2018-11-01 00:12] #7663 closed

[2018-11-01 12:53] lowellrex opened #7665 "Make queue table view description more generic"
Currently the descriptions for the different tabs in the queue table view are very specific to the co-located admin team. Since this view will be the basis of all generic queues that we roll out to all of the different teams (and individuals on those teams) going forward we need to make these more generic. If it is possible to retain the current text for the colocated queue table view then we shou

[2018-11-01 13:33] #7574 closed

[2018-11-01 14:06] sharonwarner opened #7666 "Daily Docket | Numbering of hearings"
I accidentally hard coded `1.` on line 227. That should be a number that increments for each hearing.

[2018-11-01 14:11] sharonwarner opened #7667 "Upcoming Hearing Days | Available slots logic"
- For upcoming hearing days - show all hearing days with available slots
- Available slots = total slots - postponed hearings - cancelled hearings
- Move cancelled hearings to the Previously Scheduled section on the Daily Docket

[2018-11-01 14:19] #7608 closed

[2018-11-01 14:20] pkarman commented on #7291
yes. The rating issues are cached for 24 hours per https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/ama_review.rb#L17

I suspect that to test this adequately, you'd need to manually clear the cache via rails console after creating the rating issue.

[2018-11-01 14:20] #6875 closed

[2018-11-01 14:20] pkarman commented on #7291
Alternately, we could set a different cache TTL depending on the `RAILS_ENV`.

[2018-11-01 14:20] #6576 closed

[2018-11-01 14:21] #7238 closed

[2018-11-01 14:30] mdbenjam opened #7669 "Remand reason flakey test"
Looks like we're doing a time comparison.

[code]

https://circleci.com/gh/department-of-veterans-affairs/caseflow/18894#tests/containers/0

[2018-11-01 14:40] marvokdolor-gov commented on #7640
A couple of questions/ideas @laurjpeterson :
- We have our monthly touch base with Osborne on 11/14 at 3pm as a back-up opportunity to talk to her if we're not able to get on the calendar before that.
- On that note, should we talk to Jennifer Jessup and Rolandus, ahead of Osborne, or is that just over-complicating things?
- Either way happy to help get whatever we decide scheduled, so assigning m

[2018-11-01 14:50] MeredithStewart opened #7670 "After Assigning Veteran hearing day in case details, navigation should send you back to CO available hearing days"
Currently, it goes back to Schedule Veterans, and you have to select the RO/CO that you want to schedule. This will be difficult flow for schedulers doing any amount of volume. Needs to be fixed prior to rollout to more than CO.

[2018-11-01 15:14] allyceh commented on #7530
That is good with me!

[2018-11-01 16:02] marvokdolor-gov opened #7673 "Public version: Finding Source of Truth for VSO Addresses"
## Update 02/20/2019
Our original hypothesis was that the address that OGC associates with VSOs would be the best source of truth. This is because OGC accredits VSOs. Exploration of the validity of this hypothesis is on hold until OGC updates their database to Salesforce ~ May 2019.

## Background
The Corporate Database/BGS currently only stores addresses for Power of Attorney holders who are Priv

[2018-11-01 16:11] pkarman commented on #7656
I think this is covered by #7308

[2018-11-01 17:15] joeyyang commented on #7643
Closed in https://github.com/department-of-veterans-affairs/caseflow/pull/7651.

[2018-11-01 17:15] #7643 closed

[2018-11-01 17:37] MeredithStewart commented on #6771
Closing this because the algorithms will only run 2 more times before we don't write back to VACOLS.

[2018-11-01 17:37] #6771 closed

[2018-11-01 17:37] laurjpeterson opened #7678 "Case details corrections for VSO views"
I screenshared with American Legion and identified these issues with Case details:

1. **Power of Attorney**
   - VSO view: POA section of Case details says "We're unable to load this information. If the problem persists, please submit feedback through Caseflow."
   - My view: I searched in Caseflow prod and the correct VSO, American Legion, was showing.

2. **About the Veteran, About the Appellan

[2018-11-01 17:37] MeredithStewart commented on #6775
Moving to backlog, need to test what kind of optimizations we'll need when we are just in Caseflow (not VACOLS).

[2018-11-01 17:43] joeyyang commented on #7665
Hi everyone! Not 100% sure I'm getting the meaning correct, but I took a stab at reducing the UI copy down for scannability and comprehension:

| Tab | Co-located text | Generic text |
| --- | --- | --- |
| New | These are new administrative actions that have been assigned to you | New cases assigned to you |
| Pending action | When a hold is complete, the case will appear here. Cases with new doc

[2018-11-01 17:43] laurjpeterson commented on #7665
- Can you explain this a bit further? Why would something assigned to some other team require some action from the individual again and be in the pending action tab, instead of the New tab?

[2018-11-01 17:48] MeredithStewart commented on #5643
Closing. Pending another 508 review post updates to Hearing Prep in November 2018, new 508 recommendations will come in to be worked.

[2018-11-01 17:48] #5643 closed

[2018-11-01 17:50] #5620 closed

[2018-11-01 17:51] MeredithStewart commented on #5371
This will be easier to do post February in Caseflow.

[2018-11-01 17:52] MeredithStewart commented on #4928
Fixed with new hearing schedule daily docket.

[2018-11-01 17:52] #4928 closed

[2018-11-01 17:55] MeredithStewart commented on #969
Closing since use of Caseflow Dispatch will be ended.

[2018-11-01 17:55] #969 closed

[2018-11-01 18:04] MeredithStewart commented on #7567
We want to re-visit.

[2018-11-01 18:07] MeredithStewart commented on #7565
Will get feedback from users if this is confusing.

[2018-11-01 18:08] MeredithStewart commented on #7564
@Chingujo -- Add a mock for this to be worked.

[2018-11-01 18:11] MeredithStewart commented on #7486
Resolved with cancel introduced.

[2018-11-01 18:11] #7486 closed

[2018-11-01 18:12] mdbenjam commented on #7375
@kencheeto just want to make sure I understand y'alls terminology. Since this requires #7383, that means I should wait until that ticket is done before starting this one?

[2018-11-01 18:12] MeredithStewart commented on #6777
Refer to this ticket: https://github.com/department-of-veterans-affairs/caseflow/issues/7492

[2018-11-01 18:15] MeredithStewart commented on #7448
@MeredithStewart -- To test with Justin to confirm this is working from the Search implementation on View Schedule home page.

[2018-11-01 18:16] MeredithStewart commented on #7447
On hold until requested for by users.

[2018-11-01 18:16] #7447 closed

[2018-11-01 18:50] #7666 closed

[2018-11-01 19:46] lowellrex opened #7681 "Hide link to edit AOD from people who cannot edit AOD"
Currently everybody can see the link to edit a case's type and set AOD status. We should limit who can see this link to only members of the AOD team because they are the only ones who should be able to change AOD status.

![image](https://user-images.githubusercontent.com/32683958/47875159-366e0380-ddec-11e8-8e20-0fa271482b15.png)

## Acceptance Criteria
* Limit the set of people who can see the e

[2018-11-01 19:54] lowellrex commented on #7678
Ticketed item 3 as #7681.

[2018-11-01 20:02] lowellrex opened #7682 "Move active tasks from case snapshot into a lockup below universal case title"
_Lowell: The final version of case timeline (mocks in [this mural](https://app.mural.co/t/workqueue2001/m/workqueue2001/1531849576358/38b753bff1e25963a76d8ebecf9679d6445c39b3)), we will include the incomplete tasks above the completed tasks in a continuous linear view. In order to get there we need to be able to view multiple tasks at once. I think the mocks provide a good example of how this coul

[2018-11-01 20:13] lowellrex opened #7683 "Improve appearance of on hold label for tasks with no on_hold_duration"
Currently if a task is on hold it displays text that indicates how many days it has been on hold out of how many days total (8 of 30, for example). This makes sense for tasks that have a hold duration, but results in nonsense for tasks with no on_hold_duration (8 of ?). We should display only the number of days a task has been on hold if there is no on_hold_duration.

## Acceptance criteria
* Days

[2018-11-01 20:46] laurjpeterson commented on #7623
looks good to me!

[2018-11-01 21:20] #7479 closed

[2018-11-01 21:40] mc-usds commented on #7673
Notes from BGS meeting:
There is a business rule for no address being stored in corpDB for National/Regional/State POAs. They can have multiple locations and it was agreed that instead the address of the Regional Office in the Veteran's jurisdiction would be used for mailing correspondence. VSOs have an office or mailbox at the Regional Office accessible to the VSO representative.

[2018-11-01 22:06] joeyyang commented on #7478
Hi @sneha-pai! I'm almost ready to get to this in the next day or two, just checking in on mocks.

[2018-11-01 22:10] lowellrex commented on #7478
Perhaps we will use the "H" badge from this mock from ticket #6963?
![image](https://user-images.githubusercontent.com/1598889/45507289-a6063180-b75f-11e8-951c-5f5b73afe2ba.png)

[2018-11-01 22:33] shanear commented on #7560
I'm gonna assume this is good since its not really a product thing

[2018-11-01 22:33] #7560 closed

[2018-11-01 22:34] shanear commented on #7291
I think we would want to cache whatever comes from BGS, and not whatever is being changed in Caseflow

[2018-11-01 22:58] shanear commented on #6214
This is failing. I think due to this error: https://sentry.uat.ds.va.gov/sentry/caseflow-uat/issues/1061/

[2018-11-01 23:00] shanear commented on #6213
<img width="811" alt="screen shot 2018-11-01 at 6 56 15 pm" src="https://user-images.githubusercontent.com/1596259/47884724-472c7280-de08-11e8-937d-1d8feaea4fc8.png">

<img width="797" alt="screen shot 2018-11-01 at 6 59 58 pm" src="https://user-images.githubusercontent.com/1596259/47884754-6aefb880-de08-11e8-8949-dea26576d744.png">

Nice! This is working 👍

[2018-11-01 23:00] #6213 closed

[2018-11-01 23:01] shanear commented on #7303
<img width="676" alt="screen shot 2018-11-01 at 6 41 38 pm" src="https://user-images.githubusercontent.com/1596259/47884793-8a86e100-de08-11e8-9d47-f510ac98ae1d.png">

This is not the actual text of the contention we make, and I'm wondering if that matters. I'm thinking it should say "UNIDENTIFIED ISSUE - Please click "Edit in Caseflow" button to fix", what do you think @kencheeto?

[2018-11-01 23:07] shanear commented on #7517
I think this fix may have made things very squishy on the review page:
![screen shot 2018-11-01 at 7 07 09 pm](https://user-images.githubusercontent.com/1596259/47884999-5829b380-de09-11e8-85bb-6969f15e0def.png)

[2018-11-02 13:45] #7669 closed

[2018-11-02 13:58] pkarman commented on #7517
fix in #7690

[2018-11-02 14:07] #7616 closed

[2018-11-02 14:15] pkarman commented on #7291
@shanear I believe that is what we are doing. We should discuss.

[2018-11-02 14:18] allyceh commented on #7623
Great. I’d say we’re good to start dev.

[2018-11-02 14:32] laurjpeterson opened #7691 "Support One Touch Hearings"
We have been asked to implement a checkbox, like Jed has done in DAS, to identify a One Touch Hearing. I think we have two options:

**Option 1:**
- Replicate what Jed implemented in DAS and add a check box to Caseflow judge check out screen for legacy cases
- Show in Case details, hearing section, that the case is a One Touch Hearing

### VACOLS logic
- The field is DECASS.DE1TOUCH, it's a checkb

[2018-11-02 14:50] oscarAtNava opened #7693 "Schedule Veteran - Date offset bug prevents CO hearing update"
When confirming the scheduling of a veteran from the Case Details modal the date is being converted to UTC in the back-end and we cannot find the row to update. Modal correctly reports an error.

[2018-11-02 17:09] shanear commented on #7419
worked!

[2018-11-02 17:09] #7419 closed

[2018-11-02 17:18] shanear commented on #7587
this is working!

[2018-11-02 17:18] #7587 closed

[2018-11-02 17:48] kencheeto commented on #7303
@shanear to come to a decision here - wdyt of showing the contention text only (esp since it's prefixed with "Contention" already), and only showing the unidentified description as a part of the warning alert at the top when we add it in #7304 ?

[2018-11-02 17:49] shanear commented on #7303
I like that plan

[2018-11-02 17:57] joeyyang commented on #7665
Hi everyone — threw together a PR here: https://github.com/department-of-veterans-affairs/caseflow/pull/7697. Let me know your thoughts on copy and I can change. Thanks!

[2018-11-02 17:59] sharonwarner opened #7698 "Daily Docket | CSS Updates"
AC:

1) The hearing prep daily docket should use the table component
1) We should remove the hearing prep daily docket CSS and reuse the glamor code we use for hearing schedule's daily docket

[2018-11-02 18:45] laurjpeterson commented on #5385
during 10/31 BVA leadership/DS meeting, BVA leadership decided we should not focus on building functionality for acting judges because she will be reassessing whether AVLJs will still be in use come January

[2018-11-02 20:59] pkarman opened #7701 "Timezones for tests"
We should clarify expectations around:

* the timezone of the browser
* the timezone of the server

and verify those with our tests.

[2018-11-02 22:00] mdbenjam opened #7703 "Failing RAMP test"
[code]

https://circleci.com/gh/department-of-veterans-affairs/caseflow/19584?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-11-02 22:17] pkarman commented on #7701
standardizing browser timezone can be as simple as:

[code]

[2018-11-02 23:05] mdbenjam commented on #7557
Fixed here: https://github.com/department-of-veterans-affairs/caseflow/pull/7646

[2018-11-02 23:05] #7557 closed

[2018-11-02 23:28] leikkisa opened #7705 "Move more intake constants to the shared constants folder"
Look for opportunities to move some of the intake constants to the folder in client/constants.

Examples of past constants include benefit types and form names.

[2018-11-02 23:50] shanear commented on #7303
So for this issue the fix is to say "UNIDENTIFIED ISSUE - Please click "Edit in Caseflow"

[2018-11-05 14:02] amprokop commented on #7625
@shanear @pkarman -

Was thinking about this a bit. A few downstream changes are necessary I believe due to this change.

- reporting on the number of issues on an appeal should probably filter out ineligible issues
- IDT API needs to change to not return these issues
- productivity reporting for attorneys (this will be based on number of issues on an appeal going forward- likely that ineligible i

[2018-11-05 14:16] lowellrex commented on #7625
This case seems exemplary of the types of issues we run into not infrequently, where expectations about what data exists in a table is different from team to team, or where changes made to the extensively shared sections of the codebase impact one team in a way that is unexpected. I wonder if now is the right time to schedule a larger conversation about practices we can adopt to avoid these types

[2018-11-05 14:37] mdbenjam opened #7708 "Post Standup Discussion: How to coordinate shared DB schema"
We've had some troubles in the past with coordinating database schema design/changes between teams. For example: https://github.com/department-of-veterans-affairs/caseflow/issues/7625

Another example is the claimant-appeal relationship. Claimants really reflect the relationship between a person and an appeal, but the Queue team assumed that the claimant represented the person appealing.

How can

[2018-11-05 14:38] mdbenjam commented on #7625
👋

I think that probably makes sense. I think this is something that has hurt the Queue team in the past. I had a little bit of a hard time getting AMA cases into Queue since Intake and Queue were changing some of the models at the same time. Maybe this is a good opportunity for a good ole fashioned post-standup-discussion: https://github.com/department-of-veterans-affairs/caseflow/issues/7708

[2018-11-05 14:42] MeredithStewart commented on #7604
@Chingujo -- Let me confirm with Justin this is desired behavior. I will also check on date ranges, but I think that's a most MVP thing if needed.

[2018-11-05 14:43] MeredithStewart commented on #7602
@Chingujo -- @laurenrussell and I will check with Justin and report back. If needed, I would think this would be post MVP functionality.

[2018-11-05 14:46] MeredithStewart commented on #7605
@Chingujo yes, need ability to add VLJ to the schedule - this will happen as frequently as the remove functionality. The judge algorithm wouldn't be good to run for these -- it's designed for bulk, 1 x use prior to the quarter.

[2018-11-05 15:03] #7693 closed

[2018-11-05 15:12] lowellrex opened #7709 "Return all tasks accessible to the current user"
Currently we return a subset of the tasks accessible to the current user as they use queue. When they load their queue we return the tasks assigned to that individual user (and optionally role). When they load an organizational queue we return tasks assigned to that organization. When they load the case details page we load all tasks associated with that appeal. When they modify a task (mark it as

[2018-11-05 15:22] #7520 closed

[2018-11-05 15:40] sharonwarner opened #7711 "Hearing Prep/Schedule | Claimant vs Appellant vs Veteran"
In hearing prep and hearing schedule we have logic all over the place to display appellant if it exists, otherwise display veteran. There's a method `claimant` that already built this logic in. We should use that instead.

[2018-11-05 15:45] laurjpeterson commented on #7691
Since this is stored in a DECASS table, Option 2 outlined above is moot. The DECASS row is only created when the case is assigned to the attorney. We'll have to move forward with option 1.

[2018-11-05 16:01] pkarman commented on #7625
@amprokop we didn't consider adding a separate table.

To your point, I didn't completely understand the cascading impact of storing eligible and ineligible request issues together. That's a breakdown in our process, I think.

Another way to solve this problem would be to add an `eligible` scope to the `RequestIssue` model and make it the [default scope](https://apidock.com/rails/ActiveRecord/Scop

[2018-11-05 16:14] laurjpeterson commented on #7625
@shanear - Would love to connect with you to clarify what should happen to ineligible issues after intake. I see your note that these issues should not show in queue. Is there any reason for BVA employees / attorneys to see these issues down the line?

[2018-11-05 16:17] MeredithStewart commented on #7448
@sharonwarner -- Tested with Justin Madigan 11/5/18 -- "Schedule Veteran does not appear."

[2018-11-05 16:22] mdbenjam commented on #7625
@pkarman didn't know about default scope, that's a really cool thing.

[2018-11-05 16:43] MeredithStewart commented on #7589
Testing with Justin 11/5

**Assign Hearings - Video**
* Schedule is taking a very long time to load, timed out twice
* Baltimore -- showed hearing days correctly, matches VACOLS
* Veterans listed for hearing day appears to match VACOLS
* in Schedule Veterans, in the list of Veterans already scheduled, clicking on Veteran name does not pull up Case details, instead says, "Information cannot be foun

[2018-11-05 16:44] MeredithStewart commented on #7589
Testing with Justin 11/5

**Assign Hearings - CO**
* Central wouldn't load, spinner timed out twice (this is a new issue, we didn't get testing last week)
*

[2018-11-05 16:49] MeredithStewart commented on #7589
Testing with Justin 11/5

** Daily dockets**
* Wouldn't load

[2018-11-05 16:56] sharonwarner opened #7714 "Assign Hearings | Update video hearings logic"
For veterans awaiting scheduling for a video hearing, we currently pull all veterans in location 57. We should update the logic to only pull veterans who are in location 57 and have requested a video hearing.

[2018-11-05 17:00] sharonwarner opened #7715 "Hearing Schedule | Timeout page"
If a request times out, we should display an appropriate error message.

[2018-11-05 17:38] shanear commented on #7293
![screen shot 2018-11-05 at 12 31 16 pm](https://user-images.githubusercontent.com/1596259/48015289-c4046880-e0f6-11e8-8b3c-a0ef179ff805.png)
In this screen shot the "Service connection for right knee is denied." issue was the result of a higher level review, which should show up as ineligible. So this failed, and I think i know why.

I noticed that when Colin promulgated the rating and cleared th

[2018-11-05 17:57] laurjpeterson opened #7716 "Veteran name shows differently if legacy vs. AMA"
When searching for a Veteran ID and the Veteran has legacy and AMA tasks, the name can show differently.

Example:
- legacy cases show as: First MI Last
- AMA cases show as: First Last

## AC
- [ ] Legacy and AMA case both show First MI Last

[2018-11-05 18:06] lowellrex commented on #7360
After chatting with @laurjpeterson the final criteria should actually just be whoever has the most recent open task for an appeal.

@laurjpeterson if there are no open tasks for an appeal (case hasn't been distributed or the decision has been dispatched) what should this "assigned to" field read?

[2018-11-05 18:14] leikkisa commented on #7652
Need to have a conversation with Queue team since they use the Decision Issues model and now we want to do it. Mark is going to kick off a conversation.

Suggestions for collaboration:
- Start reviewing each others' PRs (Queue <> Intake).
- Have an ambassador on each team to attend each others' meetings (sprint planning)?

[2018-11-05 18:17] amprokop commented on #7625
+1 on default scope, nice feature. Given that @laurjpeterson is going to dig into this more, I think it makes sense to circle back on what the product requirements are for Queue and then revisit this topic, if that's okay with y'all.

[2018-11-05 18:38] leikkisa opened #7717 "Fix In Active Review on Edit page bug"

[2018-11-05 18:44] laurjpeterson commented on #6710
@shanear - circling back here. @sneha-pai put together some designs for this on Friday and is going to post them to this issue for your and @carolaponce's review.

After her exploration of combining all of the requirements listed in this [comment](https://github.com/department-of-veterans-affairs/caseflow/issues/7016#issuecomment-428678275), she came to the conclusion that we could not fit all SC,

[2018-11-05 18:48] leikkisa commented on #6842
Some info here: https://github.com/department-of-veterans-affairs/caseflow/issues/5878

[2018-11-05 18:50] leikkisa commented on #7595
Adding inline validation for this field.

[2018-11-05 18:51] laurjpeterson opened #7718 "Incorporate hearing info in case search"
We think Caseflow Queue users (attorneys, judges, admin support, etc.) will gain value from seeing hearing information in case search results. The Hearing Schedule team has also designed and implemented search results that include hearing data to meet their users' needs.

This design could also be leveraged in the queue table.

## Requirements
@sneha-pai completed an initial design exploration bas

[2018-11-05 18:53] laurjpeterson commented on #7016
Closing this github issue in favor of:
- Incorporate hearing info in case search #7718
- Case search / Case list | Add Higher Level Reviews and Supplemental Claims #6710

where work will continue

[2018-11-05 18:53] #7016 closed

[2018-11-05 19:35] sharonwarner opened #7722 "Daily Docket | Current day should always be an option"
Currently the initial value for the Hearing Date dropdown is blank. We need to update the logic such that the initial value is set to the hearing's master record's id, and the initial label is the hearing's current date.

[2018-11-05 19:55] MeredithStewart opened #7724 "Case details don't load for Veteran when selected"
In "Schedule Veterans," when you are looking at an RO or CO and you select a Veteran from the tab "Scheduled," the name appears hyperlinked, but it does not resolve to case details for that Veteran.

Instead the URL is:
https://appeals.cf.ds.va.gov/queue/appeals/undefined

Sharon to talk with Sandra about this issue.

[2018-11-05 20:21] sharonwarner opened #7725 "Hearing Prep/Schedule | Upcoming slots"
We should move the upcoming slots logic from judge.rb/hearing_docket.rb to the HearingDayRepository.

[2018-11-05 20:27] laurjpeterson opened #7726 "Show additional POA address info for legacy and AMA appeals"
In POA section of Case details, we are showing address line 1 and address line 4 for POA.

## AC
- Address lines 1, 2, 3, and 4 show for POA address in Case details for both AMA and legacy appeals

## Notes

This is what we currently have:
![poa](https://user-images.githubusercontent.com/27704093/48024878-cb843b80-e10f-11e8-9542-8d309af31d15.PNG)

This is what BGS has:
{:address_line_1=>"Collin An

[2018-11-05 20:30] #7429 closed

[2018-11-05 21:34] sharonwarner opened #7730 "Case Details | Schedule hearings task"
The Schedule Hearings task is not showing up for Justin, but it is showing up for Meredith. We need to determine why and then fix it so the correct task shows up for the correct people.

[2018-11-05 21:35] sharonwarner opened #7731 "Assign Hearings | Optimizations"
Yikes. We need to have fewer BGS calls, fewer VACOLS calls, and faster load time.

[2018-11-05 21:58] shanear commented on #7594
mostly good 👍 Just a small nit where the save button is being re-enabled before we redirect to the claim details page. I just showed jia.

[2018-11-05 22:06] shanear commented on #6214
new error 🙁

https://sentry.uat.ds.va.gov/sentry/caseflow-uat/issues/1087/

[2018-11-05 22:09] shanear commented on #7517
![screen shot 2018-11-05 at 5 07 36 pm](https://user-images.githubusercontent.com/1596259/48029920-7a7b4400-e11d-11e8-8246-9673684dacd4.png)
![screen shot 2018-11-05 at 5 08 49 pm](https://user-images.githubusercontent.com/1596259/48029921-7bac7100-e11d-11e8-98c2-72ad8b4965a2.png)

Looks awesome 💃

[2018-11-05 22:09] #7517 closed

[2018-11-05 23:09] shanear commented on #7291
So in trying to debug this, I retested it in UAT. Now it works lol.

I think there may have been some interaction between the old and the new cached values the first time I tested it.

[2018-11-05 23:09] #7291 closed

[2018-11-05 23:20] carolaponce commented on #7623
@allyceh  and I reviewed her UI/copy changes today and the needs of her users. There are a few things we want to clarify:

1. Based on the user (clerk, attorney, etc) a different version of this edit issues screens would appear.  We will have variations of copy based on the user. Correct? @shanear

2. Issues that are not valid or duplicates will not show up in the case details page of Queue, corre

[2018-11-05 23:21] carolaponce commented on #7594
@allyceh and I reviewed her UI/copy changes today and the needs of her users. There are a few things we want to clarify:

Based on the user (clerk, attorney, etc) a different version of this edit issues screens would appear. We will have variations of copy based on the user. Correct? @shanear

Issues that are not valid or duplicates will not show up in the case details page of Queue, correct?

Whe

[2018-11-05 23:26] kencheeto opened #7734 "Handle merged file numbers during BGS sync"
Shane discovered something while investigating Intake errors in Sentry: in cases where two file numbers exist for the same veteran, they can be merged and one of the file numbers deleted.

This means that occasionally, Caseflow references to a veteran's file number become orphaned. Intake typically encounters this when syncing with BGS. See https://sentry.ds.va.gov/department-of-veterans-affairs/c

[2018-11-05 23:45] kencheeto opened #7736 "Investigation: break reliance on veteran file number as an immutable veteran identifier"
in https://github.com/department-of-veterans-affairs/caseflow/issues/7734 we handle the known failure mode of a merged veteran file being deleted. Since Intake uses veteran file numbers in other tables, we need to determine how other Intake features are affected by file number references being orphaned, then figure out any system design changes necessary to account for mutable file numbers.

This

[2018-11-06 00:35] #7726 closed

[2018-11-06 00:48] carolaponce commented on #7594
@allyceh  + @shanear @laurenrussell
My feedback

**Title: Add/remove issues instead of Change issues**
This title is more true to the possible action in this flow

**Confirmation page:**
Keep the original fields like Form
For intake users it is important to keep this data field since there are confirming their intake in this page.

**"Are you sure" messages:**

**Remove issues** | Perfect

**Unide

[2018-11-06 00:49] carolaponce commented on #7594
![issues-sumary-exploration earking](https://user-images.githubusercontent.com/11700545/48035863-aea13580-e11a-11e8-8509-05f009c7bd16.png)
![issues-sumary-exploration error](https://user-images.githubusercontent.com/11700545/48035864-aea13580-e11a-11e8-9e69-0c389e62cbaa.png)

[2018-11-06 01:14] carolaponce commented on #7623
My comments in #7594

[2018-11-06 01:20] laurjpeterson commented on #7625
Connected with @shanear earlier today. I now understand that current state, Queue is showing ineligible issues by default in Case details, but not distinguishing ineligible from eligible. Shane presumed that we'd want to hide them, though I think it could be useful for attorneys and other BVA employees to see these ineligible issues and the reason for their ineligibility. Most folks review the NOD

[2018-11-06 01:32] laurjpeterson commented on #7691
@sneha-pai - do you think you could take a look at this this week and provide feedback on where this checkbox should go on the Evaluate attorney screen?

[2018-11-06 01:45] carolaponce commented on #7303
Left align looks great. Black sub-header per our conversation.  Thanks!

[2018-11-06 02:56] laurjpeterson commented on #6903
Below is the list of attributes applied to a special mission claim to properly identify and route.

311-Pittsburgh Foreign

Flash: Foreign Claim

323-Jackson Radiation

Special Issue: Radiation Radiogenic Disability Confirmed

327-Louisville CLCW

Special Issue: Environmental Hazard - Camp Lejeune – Louisville

335-St. Paul RACC (Restricted Access Claim Center)

Flash: Restricted Access

Further d

[2018-11-06 03:30] laurjpeterson commented on #7404
Reviewing [October 2018 Mail SOP](https://github.com/department-of-veterans-affairs/appeals-design-research/blob/master/Projects/Caseflow%20Queue/Research/Documents/PrinciplesOfMailManagementOct2016.pdf)

- **Some mail types have auto-assignment. Requiring mail users to add in the destination of the task for AMA mail tasks could be a risk, since they haven't had to do this before.**
<img width="67

[2018-11-06 13:51] lowellrex commented on #7360
I like `Case storage` for cases that haven't been distributed yet because it is language folks already know, and I think `Post decision` is slightly preferable to `N/A` since the former is a little more precise about what state the case is in.

[2018-11-06 14:00] laurjpeterson commented on #7360
Sounds good - let’s go with that! @sneha-pai, @cmgiven, or Amanda might have opinions to change it down the line, but I think we can go with these terms for now to get this out there

[2018-11-06 14:35] allyceh commented on #7594
@carolaponce Noting here that I will also test the verbiage with attorneys as you test with Intake, and we can compare our notes and iterate on this as needed.

[2018-11-06 14:57] laurjpeterson commented on #6903
From Dayna Ribnikar, AMO Ops, 11/6:

AMA Board Grant EPs will be routed to DROCs SeaTac and St. Petersburg – DC will not receive these cases. Distribution of such cases will occur via NWQ and will be based on capacity at St. Pete and SeaTac.

Station Numbers are:
SeaTac – 346
St. Petersburg – 317

We would like to create new station numbers for DROCs SeaTac and St. Petersburg but for now we are us

[2018-11-06 15:30] #7714 closed

[2018-11-06 16:19] #7618 closed

[2018-11-06 16:22] #6501 closed

[2018-11-06 16:56] pkarman commented on #7703
The exact behavior is that the rating and nonrating request issues are getting assigned to the wrong EndProductEstablishment records. I am investigating.

[2018-11-06 17:39] MeredithStewart opened #7744 "Add checkbox for Transcript requested to Daily Docket"
This is the same functionality currently available to judges in Hearing Prep. Stakeholders requested to see that on Hearings daily docket as well.

Check with Hearing Prep designs.

[2018-11-06 18:55] pkarman commented on #7703
This was a regression caused by `profile_date` not being sent as part of `RatingIssue.ui_hash`.

[2018-11-06 19:12] #7701 closed

[2018-11-06 19:52] sharonwarner opened #7746 "Assign Hearings | regional_office_name"
We're getting Sentry errors from regional_office_name because an appeal has a blank regional_office_name. We should update find! in regional_office.rb to fail gracefully if a location doesn't exist (return nil and log the error).

[2018-11-06 20:10] mdbenjam commented on #7650
Another case: https://circleci.com/gh/department-of-veterans-affairs/caseflow/20196

[2018-11-06 20:50] laurjpeterson commented on #5581
RAMP appeal VSOs as of 11/06/2018

<img width="926" alt="screen shot 2018-11-06 at 1 31 08 pm" src="https://user-images.githubusercontent.com/27704093/48092768-99401000-e1db-11e8-9471-e3731b15d86e.png">

[2018-11-06 21:21] allyceh commented on #7606
@laurjpeterson @sneha-pai @lowellrex I thought through a couple of options here.

1. In-line editing: Document ID is styled like veteran ID field. I created a couple of mocks on the veteran ID field to demonstrate what in-line editing behavior could be.

We could remove the outline around the document ID and veteran ID fields (for visual consistency).
<img width="157" alt="screen shot 2018-11-06 a

[2018-11-06 21:45] #7526 closed

[2018-11-06 21:52] shanear commented on #6214
woohoo, it worked 🔥 🔥
<img width="772" alt="screen shot 2018-11-06 at 4 51 37 pm" src="https://user-images.githubusercontent.com/1596259/48096074-49197b80-e1e4-11e8-88eb-70eccb32de57.png">

[2018-11-06 21:52] #6214 closed

[2018-11-06 22:36] shanear commented on #7303
![screen shot 2018-11-06 at 5 36 29 pm](https://user-images.githubusercontent.com/1596259/48098372-85e87100-e1ea-11e8-9c91-8fadf28dec94.png)
solid 💯

[2018-11-06 22:36] #7303 closed

[2018-11-06 22:44] shanear commented on #7301
![screen shot 2018-11-06 at 5 43 34 pm](https://user-images.githubusercontent.com/1596259/48098741-8e8d7700-e1eb-11e8-849a-7dfefb8c06f3.png)
I think the AC was misleading but this should also work for non-rating issues as well. The modal did not show up for the third issue i added here.

[2018-11-06 22:59] laurjpeterson opened #7750 "Create AMVETS organization"
AMVETS is an IHP-writing VSO. They have some RAMP appeals to write IHPs for, and 1 user already has the required CSEM access to Caseflow. We need to provide them with a unique link to see their RAMP appeals.

## AC
- Create AMVETS as an organization in the database

[2018-11-06 23:12] sneha-pai commented on #6710
@shanear here's a proposal for how higher level reviews and supplemental claims might appear when a veteran ID is searched for in Caseflow Search. [ @laurjpeterson ]

### Questions for your consideration:
- what would you call that list? Right now it's tentatively **VBA Reviews**.
- Is it important to see **Appellant Name** for HR reviews and Supplemental Claims?
- Are any table columns missing?

[2018-11-06 23:45] carolaponce commented on #7594
@allyceh
I reviewed some of the alert strategy with @shanear and here are my updates:

- Keeping the ability to remove the issue.
- The “warning” message is linked to the issue, therefore linked to the number of the issue.  It does not go to the bottom of the page under a different category.
- I used the yellow line as a warning but did not stand out as much as the red - let me know what you think

[2018-11-06 23:46] carolaponce commented on #7594
![issues-sumary-exploration error02](https://user-images.githubusercontent.com/11700545/48101208-1c149b00-e1db-11e8-8bfe-437096de5150.png)

[2018-11-06 23:51] carolaponce commented on #7594
![issues-sumary-exploration error02](https://user-images.githubusercontent.com/11700545/48101438-db695180-e1db-11e8-827c-a31bcdc00838.png)

[2018-11-07 00:46] laurjpeterson commented on #7606
I agree that in option 2, granting AOD seems disconnected from editing document ID.

I prefer option 1, but how would users know to click to edit it? Would it be too crowded to have the edit pencil icon near the copy icon? When the edit pencil icon is clicked, then the inline edit you designed would be there.

Another note I just thought of - we should have the same validations that exist when the

[2018-11-07 04:21] mdbenjam opened #7752 "Flakey Hearing Schedule Test: assign_judges_to_hearing_days_spec"
https://circleci.com/gh/department-of-veterans-affairs/caseflow/20318

[code]

[2018-11-07 14:06] lowellrex commented on #7750
We already have a VSO organization for AMVETS (path: "/organizations/amvets") and it looks like they have 2 appeals associated with them. Unless they are having trouble accessing caseflow, they should be able to see their queue.

[2018-11-07 15:01] lowellrex commented on #7556
## Election sprint (5-18 Nov) priorities

Hey @joeyyang @rkreyhsig, for the next few sprints I am going to attach tickets to the [priorities that we lay out in sprint planning](https://dsva.slack.com/archives/C6E41RE92/p1541106855268300) so we have a single reference point for which tickets we should focus on. We probably won't finish all of these tickets, but I think it could be a helpful way to

[2018-11-07 15:22] #7703 closed

[2018-11-07 15:34] pkarman opened #7753 "Intake | BGSyncError"
Steady stream of these production errors in the last 72 hours.

[code]

Likely due to the fact that all the upstream syncing is now taking longer than the default PG transaction length.

[2018-11-07 15:56] #7211 closed

[2018-11-07 16:46] #7750 closed

[2018-11-07 17:15] #7561 closed

[2018-11-07 17:49] allyceh commented on #7594
@carolaponce Looks good! I like the red bar. I do feel like the red, unbolded text stands out a little more, but I think that users will still notice the bar.

One other thing I noticed about the copy I wrote: I noticed I said "We record all issues the veteran lists..." Should it be "Caseflow records all issues the Veteran lists..."? Who is doing the recording?

It might be a good point to decide

[2018-11-07 18:01] shanear commented on #7594
Can we move this convo to https://github.com/department-of-veterans-affairs/caseflow/issues/7623

As this ticket was used to track the link?

[2018-11-07 18:02] aroltsch opened #7761 "[Tech Spec] Allow attorneys and judges to edit decision issues and set dispositions"
Currently, attorneys and judges can set dispositions on request issues but have no way of editing these issues. We need to introduce decision issues to allow for that.

### Allowed Scenarios:
1. one request issue to one decision issue
2. one request issue to many decision issues
3. one decision issue to many request issue
4. many decision issues to many request issues (maybe?)

### Assumptions:
1.

[2018-11-07 18:11] mdbenjam commented on #7691
@laurjpeterson do we need one touch hearings in AMA?

[2018-11-07 18:16] #4705 closed

[2018-11-07 18:38] #7746 closed

[2018-11-07 18:45] laurjpeterson opened #7763 "Show all issue information on Select Remand Reasons screen for AMA cases"
Nicholas and Allyce noticed that the Remand Reasons screen only showed the issue program area.

https://appeals.cf.ds.va.gov/queue/appeals/57d475c1-1e14-454a-9e21-8f62313b3c4e/tasks/676/draft_decision/remands

## AC
- Show the issue description on the Remand Reasons screen for AMA appeals (we do this for legacy)
- Ensure this works for both judge check out and attorney check out

[2018-11-07 18:47] shanear commented on #7625
1. There are a variety of reasons an issue can be ineligible (you can see those here: https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/request_issue.rb#L12, also this list will be growing). We store the reason in the DB. What they look like is WIP (see https://github.com/department-of-veterans-affairs/caseflow/issues/7594#issuecomment-436452141 with the latest).

3

[2018-11-07 18:50] laurjpeterson commented on #7691
@mdbenjam - Nope!

[2018-11-07 19:05] laurjpeterson commented on #7625
Cool - it looks like ineligible issues will look the same as others - the issue description sentence - but highlighted in a different color. I should have gotten that, whoops. So @allyceh - you can likely proceed with a design exploration!

[2018-11-07 19:07] laurjpeterson commented on #7640
Met with Kim, Rolandus, Jennifer Jessup, Jack Kenner, Martina Mills on  11/7:
- We will rollout Caseflow to all VLJ support staff no earlier than Tuesday, November 13th. Their training will occur tomorrow.
- We'd like to rollout to 100 attorneys, then all attorneys two weeks later. This allows the new VLJ support folks to ease into using Caseflow for admin actions.

[2018-11-07 19:11] laurjpeterson commented on #7535
In Caseflow, we should name this team/organization `VLJ Support Management` (as it is in the BVA org chart), not Co-located

[2018-11-07 19:16] allyceh commented on #7625
@laurjpeterson I had assumed we wanted to not display ineligible issues in Case Details since attorneys wouldn't be deciding on them. One of our error messages in the Intake flow addresses this situation like this (below):

<img width="458" alt="screen shot 2018-11-07 at 2 15 25 pm" src="https://user-images.githubusercontent.com/40216950/48154864-a15d8580-e297-11e8-884a-4029b1bf1b16.png">

 I will

[2018-11-07 19:46] laurjpeterson opened #7766 "Prevent multiple users from working the same task"
In Caseflow today, it's possible that two different users could enter Case details and initiate an action from the dropdown. We need a way to prevent this because Hearing Branch Coordinators should not work the same admin action task. This functionality could be transferrable to other teams at BVA, too.

We’re worried about the case where:
- person A enters case details
- person B enters case deta

[2018-11-07 21:12] marvokdolor-gov commented on #7640
@laurjpeterson how will we decide which 100 attorneys? Will we need Osborne (or Jebby or JJessup) to tell us which VLJ's attorneys should get the functionality?

[2018-11-07 21:47] laurjpeterson commented on #7640
Good q. I figure we should suggest 2 chief groups, and then ask Kim to respond. Might be easy to choose the 2 chiefs in charge, Claudia Trueba and Cynthia Bruce. Or just one. Each chief has 8 judges, ~9 attorneys per judge. ~72 attorneys total.

@lowellrex - would you be open to 2 chief groups, bringing us to ~150 attorneys, instead of 100 attorneys?

[2018-11-07 22:02] mdbenjam commented on #7691
@laurjpeterson But we'll need to store it ourselves at some point right? When we deprecate DECASS?

[2018-11-07 22:10] #4567 closed

[2018-11-07 22:19] mdbenjam commented on #7681
I think we should move this edit button into the task dropdown for the AOD team and maybe judges. Until we get mail working for AOD, we might need to make it an action on the root task.

[2018-11-07 23:05] #7650 closed

[2018-11-07 23:32] laurjpeterson commented on #6903
@aroltsch - next step is for @shanear and I to meet with Josh Will from NWQ to hammer out the details we don't know above for AMA appeal EP routing.

[2018-11-07 23:36] leikkisa opened #7772 "Edit page - removing and adding same issue"
On the Edit page, if a user removes the issue, and then re-adds it, it is shown as ineligible because it is already in active review.  However, it's in active review from the same intake.

This should be treated more like it was removed by accident (e.g. never removed at all).

### Acceptance criteria:
- Removing and re-adding an eligible issue on the edit page remains eligible on the UI and in th

[2018-11-07 23:39] oscarAtNava opened #7773 "Fixes for User Demo"
Fix error message user receives in Schedule Veteran modal when there are no available slots.

Add seed data for central office hearings as well as add a couple of veterans with central office hearing selection.

[2018-11-07 23:42] laurjpeterson opened #7774 "Plan for Private Bar access to Caseflow"
During BVA/DS meeting 11/7/2018, Cheri mentioned we need a plan for the Private Bar to get access to Caseflow, just like VSOs have.

## Questions
- Can we build organizations for this? Are all private bar attorneys part of an organization? (like NOVA)
    - If so, we should clean up how we populate a list of cases in VSO org queues first and replicate that for private bar
- Can Private Bar attorne

[2018-11-08 00:00] carolaponce commented on #7515
**UI for Adding non-rating issues**
If user selects an existing issue in the system, then the screen refreshes.
If user selects no it doesn't match, then go to existing screen for entering an issue.

[2018-11-08 00:01] carolaponce commented on #7515
![intake active non-rating issue category](https://user-images.githubusercontent.com/11700545/48168990-5bf48480-e2a6-11e8-8392-d70fbd256719.png)
![intake active non-rating issue no](https://user-images.githubusercontent.com/11700545/48168991-5bf48480-e2a6-11e8-8a60-ce7e9954fc4e.png)
![intake active non-rating issue select](https://user-images.githubusercontent.com/11700545/48168992-5c8d1b00-e2a6-1

[2018-11-08 01:42] carolaponce commented on #5695
Introducing a style from style-guide I don't think we are using, but I see applicable in this case.
I don't want to use red text because it is not an error - It is an alert.

Proposed text:
There are no Claimants in our records.
You can add the claimant in VBMS and refresh this page.

[2018-11-08 01:43] carolaponce commented on #5695
![review no relationship alert](https://user-images.githubusercontent.com/11700545/48172400-982ee180-e2b4-11e8-9884-6ea3825ddedf.png)

[2018-11-08 12:14] #7773 closed

[2018-11-08 13:34] lowellrex commented on #7640
I think either one or two chief groups would work. I'm fine with either.

[2018-11-08 14:50] #7724 closed

[2018-11-08 14:57] allyceh opened #7776 "Issue order in Case Details"
@nicholasholtz and I observed an attorney who was changing issues on appeal yesterday using the functionality leveraged from the Intake team. When she added two additional VA decisions (issues) to the veteran's appeal, she was actually adding a 7th and 8th issue, but the issues showed up as issue 1 and 2 on Case Details.

Is it possible for us to add new issues to the end of the issues list so tha

[2018-11-08 15:10] allyceh commented on #6854
@laurjpeterson Is this the one we should re-open for design + content for the special issues page?

When shadowing an attorney working a RAMP case yesterday, she saw the special issues page for the first time and noticed it was new. She understood it after we explained it to her, but some additional context around 1) what these special issues are, 2) what the attorney needs to do on this page, 3)

[2018-11-08 15:24] #7620 closed

[2018-11-08 15:31] mdbenjam commented on #7691
Unfortunately since this is a new field in VACOLS we'll need to update FACOLS.

[2018-11-08 17:51] laurjpeterson opened #7777 "Change new documents icon implementation"
We currently have a feature where a new documents icon shows when new documents have been added to the eFolder since the last time the user clicked into Reader. This moves cases into the `Pending action` tab for co-located (which we will eventually remove). However, this icon also shows if the user hasn't yet clicked into Reader at all, so it's often always on.

The goal of this feature is to catc

[2018-11-08 17:57] shanear commented on #7761
Yeah, there are some additional questions here. Like, can there be a decision with a benefit type different from the request? For HLRs and SCs the benefit type is specified up front.

[2018-11-08 17:58] shanear commented on #7761
I would think a request issue would not have a decision issue until it's actually been decided, meaning there should not be a decision issue for all request issues

[2018-11-08 17:59] shanear commented on #7761
I would prefer to add this when it becomes needed in the UI. I think this ticket should be about setting up required structure

[2018-11-08 18:05] lowellrex commented on #7681
I prefer leaving the ability to edit AOD as a link for now (though I am absolutely up for moving it into the task actions dropdown at some point) for two reasons:
1. Keeping the "Edit" link proximate to the area of the thing we want to change seems most natural to me. That is, if I want to change whether a case is AOD or not, I expect to look at where I can see if a case is AOD or not and make the

[2018-11-08 18:10] laurjpeterson commented on #6854
@allyceh - this is the ticket that includes fixing the copy for this page - https://github.com/department-of-veterans-affairs/caseflow/issues/7036. If we don't use this ticket, I suggest we create a new one to track your copy suggestions.

I agree that we should include the three things you mentioned ( 1) what these special issues are, 2) what the attorney needs to do on this page, 3) how we use a

[2018-11-08 18:39] #7590 closed

[2018-11-08 18:45] mdbenjam commented on #7681
That's fair. In fact I agree with number in that it is an action. But since we're going to need to make a task type for the AOD team, it seems like a good action on that task is "update aod". This could also be an option for judges who are hearing a case. The advantage of this over an edit button is it limits who can edit it within the permission structure we already have. But fine to leave it as

[2018-11-08 18:55] lowellrex commented on #7681
The existing permission structure is a huge advantage for sure. One upside keeping this edit functionality separate has is that we can start to see how this class of activity (editing attributes of a case) tends to be designed so we can start to see what the natural framework for this class of activity is in the near term.

[2018-11-08 19:25] lowellrex opened #7779 "Allow member of same team to re-assign an already assigned task"
#7210 allowed folks to reassign tasks that were assigned to themselves to other members of their team. This ticket exists to extend that functionality to other members of the same team. That is, if Amy Translation goes on vacation then Billie Translation should be able to reassign a task that is assigned to Amy.

## Acceptance criteria
* When a task is assigned to a member of a team and the parent

[2018-11-08 21:05] #7763 closed

[2018-11-08 21:30] #7691 closed

[2018-11-08 21:38] pkarman commented on #7761
@shanear wrote:

is it fair to provision a decision issue to hold the disposition ahead of time though? I.e. it would be a placeholder for a decision that will happen eventually. The `contention_reference_id` is what `RatingIssue` will look it up by and associate it later.

[2018-11-08 21:44] oscarAtNava commented on #7730
I reviewed the data in production and looked at the code that gets all tasks for an appeal to display in CaseDetails. I found the following:

The Task Controller find_for_appeal end point is used to get all tasks for an appeal to display on the top part of the CaseDetails page. The logic in that endpoint has three parts.
- It will return only tasks for VSOs if the user has a VSO role
- It will ret

[2018-11-08 21:45] #7588 closed

[2018-11-08 21:47] laurjpeterson opened #7784 "Tasks when POA changes in BGS"
Veterans can changes their VSO at any point in the appeals process. This will affect VSOs that are already assigned tasks. We propose a [nightly job that checks POA](https://github.com/department-of-veterans-affairs/caseflow/issues/8336). This issue catalogues requirements after that POA change is detected.

### Requirements
- [x] The correct, new VSO is assigned the IHP task and it appears in the

[2018-11-08 21:56] oscarAtNava commented on #7725
@sharonwarner Just want to confirm, we are referring to the following methods:

- In judge.rb the get_dockets_slots method
- In hearing_docket.rb the slots method

Thanks

[2018-11-08 22:11] oscarAtNava commented on #7711
Just to confirm, this claimant method is for Legacy Appeals only. AMA Appeals seem to have a Claimant class association and the logic is pretty different. This ticket will focus only on the LegacyAppeals as that is what we are currently delivering but will have to revisit for AMA.

[2018-11-08 22:56] kencheeto commented on #7385
an example error in sentry: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2918/events/

[2018-11-08 23:04] shanear commented on #7761
If this helps, I'm cool with this. I just don't think we should create the `decision_issue` record early without a reason to do so. I don't think holding the disposition that good of a reason, since it wouldn't have a disposition before a decision is made.

[2018-11-09 11:49] #7248 closed

[2018-11-09 14:12] pkarman commented on #7753
may be mitigated by #7652