[2019-06-04 23:55] #10993 closed

[2019-06-05 11:17] monfresh commented on #11001
Done in #10977

[2019-06-05 11:17] #11001 closed

[2019-06-05 13:31] lomky commented on #10255
Another today https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4671/

[2019-06-05 13:59] lomky opened #11020 "Fix 'VACOLS Hearing Record Not Found' Error Routing"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4909/

This error should be routing to the proper place for Hearings errors. Currently appears in general application alerts.

[2019-06-05 14:54] ferristseng opened #11023 "Failed to execute removeChild in Reader"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3117/events/360708

There's no stack trace unfortunately. Looks like it might be happening after a PDF document is being cleared?

[2019-06-05 15:25] ferristseng opened #11025 "NoMethodError when Cancelling and Assigning RO to Legacy Appeal"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5271/

NoMethodError for `assign_ro_and_update_ahls`.

Introduced here:

https://github.com/department-of-veterans-affairs/caseflow/pull/10887/files#diff-d38fdc00b17f61e0a6e1bd027f26224cR679

[2019-06-05 16:00] #2916 closed

[2019-06-05 16:07] pkarman opened #11028 "Review documentation"
Including but not exclusively:

* [ ] #10521 user authorization
* [x] #10935 APIs
* [ ] first responder
* [x] onboarding set up
* [x] onboarding checklist

[2019-06-05 16:20] #11007 closed

[2019-06-05 16:35] #10645 closed

[2019-06-05 17:49] laurjpeterson commented on #10974
Yes, Litigation Support org!

[2019-06-05 18:01] laurjpeterson commented on #10878
@lomky or others. I'm assuming SSCs are judges in VACOLS - is that true?

If they are judges in VACOLS, i though they would already be able to reassign tasks from one judge to another, fixed with this ticket. https://github.com/department-of-veterans-affairs/caseflow/issues/7612. if they are, then we can train SSCs how to reassign JudgeAssignTasks from one judge to another.

@pshahVA - i think thi

[2019-06-05 18:02] lomky commented on #10751
Same error through another call path

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5272/

[2019-06-05 18:07] laurjpeterson commented on #10826
I'd love @Chingujo and @pshahVA's thoughts on whether HearingAdminActionTasks should be included at this time.

Phillip - is there ever a time when a user may have accidentally assigned one HearingAdminActionTask and needs to change the task type to another HearingAdminActionTask?

[2019-06-05 18:07] nicholasholtz commented on #10878
@laurjpeterson I believe part of the issue here is policy; while having SSCs as a judge would grant them this capability, there is apparently a Board policy that prevents SSCs from transferring these cases. Thus, they want these admins to have the ability. Essentially it would look exactly the same on the back end, but from their process point of view, it would be an admin doing it, and not a SSC.

[2019-06-05 18:23] leikkisa commented on #10967
The following changes were made. See the Slack threads for more information.

- The issue has been updated with the disposition of "O"
- Leave "legacy_opt_in_approved" set to false for the higher level review

![Screen Shot 2019-06-05 at 10.41.25 AM.png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/76632ace-08e3-47de-abc7-d478eb021d2e)

[2019-06-05 18:26] leikkisa commented on #10967
I think this is closed! I will re-open if it resurfaces.

[2019-06-05 18:26] #10967 closed

[2019-06-05 18:40] lomky opened #11029 "HTTPClient::ReceiveTimeoutError in va_dot_gov_service.rb:send_va_dot_gov_request"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5048/
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5050/

[2019-06-05 19:54] youngfreezyVA commented on #10975
<img width="1230" alt="Screen Shot 2019-06-05 at 3 44 59 PM" src="https://user-images.githubusercontent.com/46791771/58985260-e9e70e00-87a8-11e9-95e3-9c1101af209d.png">
to confirm, should the "Dispatch from BVA pending" and "PulacCreulloTask Completed" timeline items be swapped? @laurjpeterson @aroltsch I'm not sure if this screenshot reproduces the issue... a screenshot or steps to reproduce woul

[2019-06-05 20:50] lowellrex commented on #10551
Did this manually Wednesday 5 June. https://dsva.slack.com/archives/CHX8FMP28/p1559754284017500

[2019-06-05 20:58] monfresh commented on #10973
Is there a particular status we want for the `RootTask` and `TrackVeteranTask`, or leave it at the last status it had?

[2019-06-05 21:01] #10607 closed

[2019-06-05 21:05] Sjones352 commented on #10713
@leikkisa I have back filled 4 of these issues. IDs: 21616 and 21619 are the same veteran. ID 21616 was  `created_at: "2019-04-08 13:19:11"` and 21619 was `created_at: "2019-04-08 13:19:57"`.  This looks like a user mistake as they were created a few seconds apart.  I also found 2 supplemental claims on this this veteran's file. One was had a decision_date of "2019-03-15" and the other form was a

[2019-06-05 22:35] #11025 closed

[2019-06-06 01:09] leikkisa commented on #10766
@laurjpeterson
I started looking into this, and I was wondering if I could ask you more to get a sense of the scope:
```Note: BVA Intake does not yet have a queue - that will need to be created prior to this ticket being completed.```

[2019-06-06 01:14] leikkisa commented on #10713
@Sjones352 Thank you Sandra! It looks great. You're right, one of those request issues got removed.  I just checked and they're all good now!  Closing this issue.

[2019-06-06 01:14] #10713 closed

[2019-06-06 01:22] leikkisa commented on #10560
Just confirmed that this is working now, woo!

[2019-06-06 01:22] #10560 closed

[2019-06-06 01:25] leikkisa commented on #9179
I sent a report yesterday to BGS with ~400 new claims.  The person who is assigned is out on vacation for a week though.

[2019-06-06 12:51] pkarman commented on #10938
ran succesfully last night.

[2019-06-06 12:51] #10938 closed

[2019-06-06 13:09] #8317 closed

[2019-06-06 13:56] lomky commented on #11029
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5047/

[2019-06-06 13:56] lomky commented on #11029
Similiar: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5223/

[2019-06-06 14:59] #10640 closed

[2019-06-06 15:32] ferristseng opened #11035 "VBMS MissingVeteranIdentifier for FetchDocumentForReaderUserJob"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5274/events/361143/

Looks like this could be happening because the appeal ID that's recorded in the sentry event does not exist. Seeing a `nil` file number in the VBMS request, which is probably why it's getting an error back.

[2019-06-06 16:40] leikkisa commented on #11011
Note from Jane:
Also as a heads up, we (AMO) are looking to request that the contentions in the Board grants and remands be editable as well.  I can't recall the exact language the contentions are worded but it's something like, "Service-connection for right knee tendinitis is remanded for a medical examination"   One, the contention is long and two, it can be confusing when the DRO/RVSR goes to m

[2019-06-06 16:45] leikkisa opened #11036 "Board Grant Effectuations | Allow users to edit contentions or issue title"
### Acceptance Criteria
- When a board grant EP is created, allow users to edit the contention text on the board grant EPs through the "Edit in Caseflow" button in VBMS
- Do not allow adding or removing issues

### Investigation required
Board grant EPs are created for decision issues, and we don't currently have an edit page for contentions on these EPs, so we will need to add something.

[2019-06-06 18:30] #10826 closed

[2019-06-06 19:47] pkarman opened #11040 "Claimant address validation during intake"
We should be validating claimant address is complete on initial Intake. Some examples where Supplemental Claims fail to establish: 5611 and 1571

[2019-06-06 19:53] lowellrex opened #11041 "Automatically add VSO staff to VSO organization in Caseflow"
A user's membership in a VSO is determined by [the relationship stored in BGS](https://github.com/department-of-veterans-affairs/caseflow/blob/9f31758c7b91795d825dfc5bd44b7a1d613eeb54/app/models/representative.rb#L6). We use this BGS relationship to ensure that we don't expose any Veteran data to people who are not staff of the appellant's elected VSO because BGS should always be up to date with t

[2019-06-06 19:54] pkarman opened #11042 "Upstream Error | Unable to retrieve veteran information"
ShareException thrown in findRatingData. Claim not established. Unable to retrieve Veteran information.

See Supplemental Claim 10562

Thread started in https://dsva.slack.com/archives/CK466V65V/p1559850750009700

[2019-06-06 20:00] pkarman opened #11043 "Consider modifiers on recently closed claims "taken""
Some VBMS modifiers look like they ought to be available (are on canceled EPs) but still throw errors when attempting to establish new EPs.

Update the EndProductModifierFinder workflow to consider a modifier taken if its end product was canceled or cleared within the last day or two.

## AC

* If a veteran's has an end product that was canceled or cleared recently, do not attempt to use it for es

[2019-06-06 20:16] pkarman opened #11044 "Async jobs page: filter "in process" vs "expired""
The /jobs page currently shows all jobs that are not yet processed, regardless of whether they are expired.

Let's visually distinguish the two categories so that we more accurately see what's normal (in process) vs what needs attention (expired).

## Ideas

Two tabs or two pages, "In Progress" and "Expired" each with a table that can be paginated.

[2019-06-06 20:39] ferristseng commented on #10852
Linking this too: https://github.com/department-of-veterans-affairs/caseflow/issues/11020

[2019-06-06 20:59] lowellrex opened #11045 "Use config from back-end to define organization queue tabs"
#10620 changes the way we build `OrganizationQueue` from using components to using a mostly static configuration defined on the front-end. #10049 sends the organization's table configuration from the back-end to the front-end. This ticket exists to use the configuration we receive from the back-end in place of the one we've defined on the front-end. We will continue to draw tasks from the global r

[2019-06-06 21:10] ferristseng opened #11047 "Could not obtain connection from Pool"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4042/events/361247

Looks like a potential issue for devops

[2019-06-06 21:20] lowellrex opened #11049 "Include tasks as part of the organization queue configuration"
#11045 uses the configuration the back-end passes to the front-end to generate the components for the `OrganizationQueue` while still drawing the tasks from the global redux state. This ticket exists to pass tasks that belong in each tab as part of that configuration and use those to populate the tables.

## Acceptance criteria
* [x] (back-end) Return tasks as an element of each tab in the queue c

[2019-06-06 21:25] leikkisa opened #11050 "Caseflow access for private attorneys and claims agents"
Adding a ticket as a placeholder for this until we know more information.

https://dsva.slack.com/archives/CFBLH2LR4/p1559852446026300

[2019-06-06 21:27] leikkisa commented on #10659
We will be turning this on for all users, per Jane.
https://dsva.slack.com/archives/CFBLH2LR4/p1559683336010700

[2019-06-06 21:42] lowellrex opened #11052 "Allow organization queue table configuration to accept sorting"
#11049 uses tasks from each tab's `tasks` element in the configuration returned from the back-end instead of the tasks from the global redux store. This ticket exists to enable the back-end to return those tasks ordered by their properties (the ability for the front-end to send these requests will be completed as part of a later PR). A quick sketch of one way this could look is below.

If we recei

[2019-06-06 21:52] lowellrex opened #11053 "Allow organization queue tasks endpoint to accept pagination"
#11052 introduces the ability to filter and sort sets of tasks assigned to an organization. This ticket exists to allow us to limit those sets of tasks to a single page of a defined size and offset. The [Kaminari](https://github.com/kaminari/kaminari) and [will_paginate](https://github.com/mislav/will_paginate) gems looks promising here.

## 🚫 Blocked by
* [ ] Allow organization queue table config

[2019-06-06 22:00] lowellrex opened #11054 "Enable TaskTable to use API requests to paginate and sort tasks"
This is the big "on switch" for organization queue pagination. The `TaskTable` component currently manages filtering, sorting, and pagination on the front-end. This ticket exists to move that to the back-end by way of API requests so that we can load queue table views with thousands of tasks. In order to support the pagination on the front-end (current way) at the same time as pagination on the ba

[2019-06-06 22:06] lowellrex opened #11055 "Allow direct navigation to filtered page of task table results using URL parameters"
#11054 completed the move from paginating, filtering, and sorting on the front-end to doing the same thing using API requests to the back-end. With that foundation we can enable direct navigation to a filtered, ordered page of tasks within a tab. For example, navigating directly to `/organizations/vlj-support-staff?tab=on_hold&page=3&sort_by=case_details_link&order=desc` would load the third page

[2019-06-06 22:14] pkarman opened #11056 "BGS error Set read error on cd_devactn_grp"
Reported during attempt to establish claim for HLR 6720

[code]

full stacktrace

[code]

[2019-06-06 23:17] #10917 closed

[2019-06-06 23:44] leikkisa commented on #10203
I sent an email for the following Decision Reviews to request to lift the incident flash restriction temporarily.
VAVBAWAS/CO/IncidenteBenefitsNotification
IncidenteBenefitnotification.VBAVACO@va.gov

SCs - [28454, 32159, 18427, 14179, 19915, 31693, 25425, 8660, 5378, 25377, 4465, 31866, 31874, 22006, 17335, 24865]

HLR - 4976

[2019-06-07 00:42] leikkisa commented on #10547
@pkarman Do you know if for this ticket if we are just wanting to hide the names on the front end, or unassign the judge/attorney instead?

[2019-06-07 01:56] Sjones352 commented on #10547
@pkarman, @leikkisa  or @aroltsch
Do you know if for this ticket if we are just wanting to hide the names on the front end, or unassign the judge/attorney instead? if we unassign judge/attorney then that means we have no record of who it was assigned to before it was withdrawn. I also think it will not show up on Judge's queue if it is removed.

Currently this is how I have it on the frontend. Ple

[2019-06-07 02:13] leikkisa commented on #10511
https://dsva.slack.com/archives/CFBLH2LR4/p1557853364144700

[2019-06-07 13:26] lomky commented on #10799
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5281/

[2019-06-07 14:04] ferristseng commented on #10812
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5286/

[2019-06-07 14:28] aroltsch commented on #10975
This is the case in question: https://appeals.cf.ds.va.gov/queue/appeals/de87df4e-c8c9-4975-9c47-c862a78e42db. It seems as Dispatched from BVA is not showing up in the right chronological order.

![image](https://user-images.githubusercontent.com/3811786/59111375-e5d50080-890e-11e9-863a-95b5e92ff351.png)

[2019-06-07 14:29] aroltsch commented on #10975
@youngfreezy I think you should try to reproduce this locally first. You need to figure out what determines "Dispatched from BVA" and where this date is coming from.

[2019-06-07 14:57] pkarman commented on #10547
I think it's remove the names visually on the frontend. We should preserve data integrity on the backend.

[2019-06-07 15:23] pkarman commented on #10851
I need to identify whether BGS has the Veteran ICN id available.

[2019-06-07 15:49] pkarman opened #11060 "Status API issue description is a hash"
legacy appeal 3908742 has an issue description that is a hash

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4887/events/360377/

[2019-06-07 16:15] #8361 closed

[2019-06-07 16:17] pkarman opened #11061 "Async jobs page: truncate error message"
The error message should be truncated vertically (with scrollbar or just hidden) to make it easier to scroll over an entire page. The first 100 chars are probably sufficient to show the exception name.

[2019-06-07 16:53] pkarman commented on #11009
See thread in https://github.com/department-of-veterans-affairs/caseflow/issues/10147#issuecomment-479939207

[2019-06-07 17:35] ferristseng commented on #10997
Primal and I discovered that we're getting a 504 Gateway Timeout for the request to `/organizations/hearings-management/tasks`.

Our initial plan was to increase the timeout on the frontend for the request to that route, but it looked like it was already set pretty high (5 minutes). From digging through New Relic, it seemed like that route generally responded in at least 2 minutes. The 504 was com

[2019-06-07 19:34] pshahVA opened #11063 "Geo matching to closest RO office, irrespective of state"
## Background
Current state: Geo matching to veterans allows the hearings team to determine the closest regional office to that veteran.  This regional office is usually limited to the same state as the veteran with some exceptions.

## Goals
Investigate the level of effort to change this alogorithm to look for the nearest regional office, irrespective of the state the Veteran lives in.

## AC
- I

[2019-06-08 01:08] monfresh commented on #10973
@laurjpeterson I came across one unresolved scenario while working on this. If an appeal has a mixture of eligible and ineligible request issues, and all the eligible ones are withdrawn but the ineligible ones are not changed, the cancellation of active tasks will not be triggered. Is this correct behavior?

We had discussed that ineligible request issues shouldn't count towards the total. That is

[2019-06-09 21:14] laurjpeterson commented on #10766
@leikkisa whoops! Lowell created a queue for the BVA Intake team (Case Review queue) last week.

[2019-06-10 16:05] leikkisa commented on #10021
One note, the decision document results in the Board Grant Effectuation (not the other way around).

Should we show the decision documents or the Board Grant Effectuations which have the EP?  It sounds like Jane may want Board Grant Effectuations to be editable, so we may want to show those. We don't currently have a UI for those though, so if we have them show up in the search results we won't be

[2019-06-10 17:43] pshahVA opened #11070 "Hearings branch cases don't have actions available"
Problem:
There are cases that are visible with the hearing branch (location 57) in VACOLS but the hearing branch can't perform a task on the case in Caseflow.  The short term fix has been to modify the case by the engineering team via the rails console, but we need to get to the root cause of this.

Technical work around done:

[2019-06-10 22:27] leikkisa commented on #10709
I confirmed that this is working. I think it wasn't showing up to me before due to some date validation.

Discovered another issue while working on this though (if a decision description isn't entered, there is no description in the contestable issues modal), will open a separate ticket for that.

[2019-06-10 22:27] #10709 closed

[2019-06-11 16:49] nemodjuric commented on #10965
Fix to route them to appeals-hearings was added. However, they still need to be named better. The suggestion is to catch JSON::ParserError and throw either VaDotGovServerError or a new VaDotGovTimeoutError. It's left up to hearings team to decide.

[2019-06-11 17:59] #11020 closed

[2019-06-11 20:17] leikkisa commented on #10997
@tomas-nava and I looked at this more. We didn't figure out the timeout issue, but there are two steps that are slow. The WorkQueue::TaskSerializer is very slow, it took over a minute for me.  AppealRepository.eager_load_legacy_appeals_for_tasks is also pretty slow, it took Tomas ~45 seconds.

In this thread https://dsva.slack.com/archives/C2ZAMLK88/p1559847165038300
@lowellrex suggested that we b

[2019-06-11 23:46] leikkisa commented on #10203
The actual email to send these to is IncidentTeam.VBASLC@va.gov (VAVBASLC/RO/VBAIncidentTeam), so that an encrypted email with the veteran SSNs can be sent.

The instructions should include the user contacting the veteran to confirm that it's a valid request, because these veteran's have been previous victims of fraud.

[https://app.zenhub.com/files/51449239/32b3602c-a242-4f70-bdb8-a2c37015e995/do

[2019-06-12 14:04] nemodjuric opened #11078 "Catch TypeError in IDT veterans_controller in informative and friendly way"
It seems that we are not catching an error in case some of the BGS data is missing.
For more details see:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5229/

[2019-06-12 14:33] leikkisa commented on #10574
From Nathan Jolly: This is related to the multiple POA cleanup which is still outstanding.

[2019-06-12 14:39] leikkisa commented on #11042
This was a veteran doing an intake for himself.  The veteran should have received a sensitivity error on searching for the veteran, I am looking into why that might not have happened.

For SC 10562, there was only one request issue on it, and the description was "blah".  I have decided to remove the request issue and cancel the job.

[2019-06-12 14:52] leikkisa commented on #11042
This was caused because we set a parameter to determine accessibility via veteran.find_by_file_number(ssn).nil?, which works for this veteran. The other option checks claimants.find_flashes(ssn).nil? which would have returned the correct error.

[2019-06-12 17:40] leikkisa commented on #8647
From Daniel McCargar:

There should be no need for Fiduciary to handle CPD Payee 00 awards.  They WILL need the ability to do CPD Payee 10 through 78.

Accrue benefit are essentially anything the Veteran claimed prior to passing away, so the rating issues can be claims for service connection, increase, etc, as well as the Pension Rating issues.  Here is what some of the backend things should look

[2019-06-12 18:41] youngfreezyVA commented on #10975
ok, I know why this is happening. I made a change a couple of months ago to sort the task list. the decision date is always hardcoded to appear above the task list, so the task list is sorted correctly, but in the decision date isn't since it isn't part of that list. looks like that is incorrect. I'll add the decision date to the task list so that it will be sorted correctly.

[2019-06-12 20:56] leikkisa commented on #11050
Note from Geoffrey:
Caseflow is currently testing with the 2nd Attorney.  Working thru some minor issues, but it is moving forward.

[2019-06-12 21:00] leikkisa commented on #11040
Jennifer checked on these two claims, and for both of them said that the spouses shouldn't be the claimants, and therefore aren't required to have an address.  The veteran gets paid, but their benefit is increased due to having a spouse.

This might require clarification with the veteran/claimant.  We may also want to check if this is a "contested claimant" situation.

This still should have been

[2019-06-12 21:03] leikkisa opened #11081 "DuplicateEP data cleanup"
This is an open ticket for handling data cleanup until a longer term solution is identified.  This ticket is specifically for handling when this error is caused by:
1. PIF not unlocked: The EP was manually closed, and the PIF wasn't synced to be unlocked

Two other reasons we might see this error:
1. Sync timing: An EP using the same modifier was closed within the last day, and the PIF hasn't sync

[2019-06-12 23:19] leikkisa commented on #10907
Jan says the rating decision looks normal.  He also said the proposed and decided issues should have been lumped together for the rating.  I'm not sure if the rating decision is the same as what's reflected in the rating profile.

I am still convinced this is a mistake in the rating profile issues data.

[2019-06-13 00:13] leikkisa commented on #10945
The ineligible ones had contested decision issues also, so I updated these to those benefit types, matching Peter's PR.  Here are their request issue IDs:

[57957, 62176, 52540, 58898, 55049, 59690, 63854, 70329]

Moving this ticket to in validation.

While investigating this, I noticed that all of these were ineligible due to the same "issue in active review", even though they are all coming from

[2019-06-13 00:18] leikkisa opened #11083 "Investigate request issues ineligible due to issue in active review"
These request issues are all listed as ineligible due to being a duplicate of an issue already in active review:
[57957, 62176, 52540, 58898, 55049, 59690, 63854, 70329]

They are all contesting different decision issues, but are all ineligible due to the same request issue (RI 5002):
[5723, 4021, 2396, 8546, 1427, 9884, 4553, 7249]

[2019-06-13 16:05] pkarman commented on #3367
We should verify this is still a problem.

[2019-06-13 16:06] pkarman opened #11084 "Status API should always return an array of appeals"
Verify that the Status API should always return an array of appeals regardless of whether the Veteran only has one.

See https://dsva.slack.com/archives/C2ZAMLK88/p1560396287096000

[2019-06-13 16:31] aroltsch opened #11086 "Collect network metrics on VBMS"
We currently setup VPC peering between Caseflow and VBMS.

Current state of Caseflow to VBMS setup:

caseflow ----- peering ------ VBMS proxies
      |
      |
    S3 (efolder documents are cached in S3 by the Reader job)

AC:
A short writeup on network metrics on VBMS.
- How much are we querying VBMS, at what time (chart would do best here) in Mbps?
- How much are we caching during business hours

[2019-06-13 16:47] leikkisa commented on #10907
We are closing this issue for now, it may be a data outlier.  If we see this again, we can revisit whether we want to filter out these issues.

For this particular case, if a VSR were to come upon a proposed issue on the claim, they could go back to the Intake edit page, remove it, and add the correct issue, since all of the proposed issues also have a decided equivalent on this rating.

https://d

[2019-06-13 16:47] #10907 closed

[2019-06-13 16:56] laurjpeterson commented on #10009
## 6/12: Observing VBA employees creating EP930s and a CA intaking a claim

## Goals
- see how claims assistants/VSRs work EPs *post-intake* so we can map our understanding of how issues/contentions, etc. flow from caseflow into VBMS
- see the 930 EP creation flow

## Interview guide
- LP: intros and roles
- LP: explain the goals of our meeting
- Opening questions for Claims Assistants:
   - How w

[2019-06-13 16:59] pkarman commented on #11081
thread in https://dsva.slack.com/archives/CK466V65V/p1559858057012300

[2019-06-13 17:03] pkarman commented on #11086
I think this is all in datadog.

[2019-06-13 18:20] #10620 closed

[2019-06-13 18:30] laurjpeterson commented on #10009
# 6/12 - interview with VBA
Tim Denley - supervisor for the Intake team in DROC
Lauren Sylvia - program admin within AMO
Jane Chi - AMO operations, Caseflow liaision
Dayna - AMO operations, Caseflow liaison backup
Liz - CA for DROC, one demo
Marc Mullin - Intake analyst for DROC Seattle
	* assigning work, reviewing, QR, working through bugs
Sheila - VSR at Seattle DROC, demo
Lynn - program admin c

[2019-06-13 20:27] lomky commented on #11055
@lowellrex We believe this is a duplicate of work we'll have already done in #11052. What do you see being done distinctly in this task?

[2019-06-13 20:30] lomky commented on #10554
Looks like we may have already fixed this. This task is now to confirm whether or not that's correct!

[2019-06-13 20:34] lomky commented on #10824
Would we want these to be marked `completed` or `cancelled` if the date has passed without the task being marked completed?

[2019-06-13 21:53] tomas-nava commented on #10337
I've dug into this and it's my conclusion that **this is not a bug in our code.**

## How I investigated

I modified Lowell's query to give me task `id`s and `created_at`s and ran it in Looker:
[code]

That returned **20** groups of "duplicate" `ColocatedTask`s created between January 9th and June 11th. Almost all of these are not actually duplicates, but tasks created with the "Submit admin actio

[2019-06-13 22:47] tomas-nava commented on #10337
I've dug into this and it's my conclusion that **this is not a bug in our code.**

## How I investigated

I modified Lowell's query to give me task `id`s and `created_at`s and ran it in Looker:
[code]

That returned **20** groups of "duplicate" `ColocatedTask`s created between January 9th and June 11th. Almost all of these are not actually duplicates, but tasks created with the "Submit admin actio

[2019-06-14 01:03] lowellrex commented on #11055
This is the front-end work. Navigating `/organizations/vlj-support-staff?tab=on_hold&page=3&sort_by=case_details_link&order=desc` should cause the front-end pagination, filtering, and sorting components to display correct, as well as making the correct API call to the back-end (which might be identical to the URL).

[2019-06-14 14:15] pkarman commented on #10824
I would think `cancelled` makes more sense. Maybe even `auto_cancelled` to indicate the "how"?

[2019-06-14 15:38] laurjpeterson opened #11091 "Remove Wilmington DE from spreadsheet"
Wilmington, DE Veterans are now mapped to the Philadelphia RO for hearings.

We need to remove Wilmington, DE from the drop down of ROs in the Schedule Veterans View.

## Related
#9756

[2019-06-14 16:18] pkarman opened #11092 "Show both legacy and AMA appeals for user regardless of VACOLS role"
https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/controllers/idt/api/v1/appeals_controller.rb#L32

https://dsva.slack.com/archives/CD5DAQNCU/p1560345498010200

Currently checking per-user for attorney or judge in VACOLS, and we want to ignore the VACOLS role. Legacy tasks for all users.

[2019-06-14 16:21] pkarman commented on #10337
+1 to those changes and actions. Nice research!

[2019-06-14 16:28] pkarman commented on #11092
Verify with `RDAVIS` in VACOLS id names

[2019-06-14 16:44] pkarman opened #11093 "async job errors should lead with exception class name"
To make it simpler to group and report on stuck async jobs, we should always stringify errors with the exception class name first.

[2019-06-14 16:49] pkarman commented on #10203
@leikkisa if you pick this up feel free to push/fork the branch/PR I started. Just added you as a reviewer.

[2019-06-14 18:37] leikkisa opened #11094 "Non-comp task search not working for user"
User VBAMUSLEEJ, station 351 can't use the search bar for "In progress" tasks for the Education business line.
The in progress page works fine without using the search. The search bar works fine on the completed tasks tab.  They tried on two browsers, and Martina also impersonated the user and noticed the same issue for this user, but not for other users, so it seems like it's not a browser issue.

[2019-06-14 18:38] leikkisa commented on #11094
The user has access to the organization, and the data is fine. I didn't see any relevant feature toggles.  I think it would be useful to look at this in prod to see what the error is.

[2019-06-14 19:47] lomky commented on #10569
- [ ] Bat Team discussion
  - Now that we've all been through it once, what are the teams overall thoughts?

[2019-06-14 20:25] laurjpeterson commented on #10824
is `auto_cancelled` already an option? i thought the closed statuses were just `completed` and `cancelled` so far. if we can add another one, that'd be great! it'd be more clear than both

[2019-06-14 21:09] leikkisa commented on #11094
User VBAMUSLEEJ, station 351 can't use the search bar for "In progress" tasks for the Education business line.
The in progress page works fine without using the search. The search bar works fine on the completed tasks tab. They tried on two browsers, and Martina also impersonated the user and noticed the same issue for this user, but not for other users, so it seems like it's not a browser issue.

[2019-06-14 21:10] leikkisa commented on #11094
Closing as dupe of https://github.com/department-of-veterans-affairs/caseflow/issues/11010

[2019-06-14 21:10] #11094 closed

[2019-06-14 21:12] leikkisa commented on #11010
Another instance of this:
User VBAMUSLEEJ, station 351 can't use the search bar for "In progress" tasks for the Education business line.
The in progress page works fine without using the search. The search bar works fine on the completed tasks tab. They tried on two browsers, and Martina also impersonated the user and noticed the same issue for this user, but not for other users, so it seems like

[2019-06-15 01:04] leikkisa commented on #10658
Moving this to backlog since we decided to wait until the feature toggle has been on for a while.

[2019-06-17 13:55] #10049 closed

[2019-06-17 14:01] lowellrex commented on #7556
## Marianas sprint (17-30 June) engineering priorities

@kevmo @lomky @hschallhorn, below are tickets that we will be working on related to this sprint. We will be using [Zenhub](https://github.com/department-of-veterans-affairs/caseflow#zenhub) to track progress on tickets. This workload assumes that the Echo team will be able to dedicate 7 developer weeks of time this sprint.

### 1. ⭐ Paginatio

[2019-06-17 15:54] lomaxap commented on #10073
Could address tech debt with this. Ideally the front end shouldn't have any conditional for displaying hearing location

[2019-06-17 16:01] lomaxap commented on #9625
Need to confirm that this is an OK flow with queue. could go with a notification pattern

[2019-06-17 16:45] #10473 closed

[2019-06-17 17:01] pkarman opened #11102 "Add not null constraint for advance on docket motions "reason""
Judges can now mark cases AOD from the Daily Docket. Let's make sure they mark a reason so we don't have any "null" reasons for AOD.

## AC
- The "reason" should be required for `AdvanceOnDocketMotion`

[2019-06-17 17:03] leikkisa opened #11103 "Multiple Legacy Issues | Allow matching multiple legacy issues to request issue"
### User Story
As a user, I would like to be able to opt-in multiple legacy issues per request issue.

Actual user story:
Claim ID: 72357682   VACOLS lists right and left hand as separate issues however decision in master record is "Service connection for loss of use of bilateral fingers and hands is denied. "  so when 030 established one issue (right hand) was left pending in the VACOLS record as

[2019-06-17 17:13] pkarman commented on #3039
we use shoryuken now

[2019-06-17 17:13] #3039 closed

[2019-06-17 17:24] pkarman opened #11104 "TypeError in NonCompTabs searchText"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5351/events/369220/

[2019-06-17 17:35] #10866 closed

[2019-06-17 17:35] #10547 closed

[2019-06-17 17:37] #10238 closed

[2019-06-17 17:38] #10659 closed

[2019-06-17 17:44] laurjpeterson commented on #11050
closing because this is being captured in #9527

[2019-06-17 17:44] #11050 closed

[2019-06-17 18:36] pshahVA opened #11106 "Bulk assignment in Hearings Management Team Queue"
1. When I try to select tasks by "Address Verification Task", it doesn't give a count of how many to select.

1. The Regional Office should include the state in the drop down.

![image](https://user-images.githubusercontent.com/49729315/59627964-7a104600-910d-11e9-9e6c-17220942d3c6.png)

[2019-06-17 18:38] #10919 closed

[2019-06-17 18:42] pshahVA opened #11107 "Hearings management queue filter by regional office errors"
I get the following error when I try to filter in the Hearings Management cases queue (by regional office)

[2019-06-17 18:43] pshahVA commented on #11107
![image](https://user-images.githubusercontent.com/49729315/59628274-4386fb00-910e-11e9-9e03-67ddeb6ee961.png)

[2019-06-17 18:50] leikkisa opened #11108 "Clarify that second "add issues" modal is for nonrating issues only"
### Acceptance criteria
Update the title on the nonrating issue modal to read:
"Add nonrating issue 1"

Below the title, add some text that reads:
If the issue is a rating issue, please select "None of these match, see more options and add it as an unidentified rating issue."

Update the heading below the title to read:
"Does issue 1 match any of these nonrating issue categories?"

[2019-06-17 19:01] pkarman opened #11109 "Nightly data integrity checks job"
We are starting to accrue the need for some nightly checks on data integrity. Let's have a single job that runs that performs the relevant queries and sends them to a Slack channel.

[2019-06-17 19:04] #10978 closed

[2019-06-17 19:33] laurjpeterson commented on #8591
VALIDATED IN PROD WOO

[2019-06-17 19:33] #8591 closed

[2019-06-17 19:59] pshahVA opened #11111 "Add Veterans to the daily docket"
## User Story
As a hearings coordinator, there are certain times when I need to add a veteran onto the docket at the last minute. I need certain hearings branch users to have these privileges.  The current docket no longer shows up as an available hearing day if the day is full.

_TLDR: We need to allow hearing coordinators the ability to schedule outside of a docket limit. This proposes a search

[2019-06-17 20:06] ferristseng commented on #10930
Still need to work on the front-end component of this, so reopened it

[2019-06-17 20:27] pkarman commented on #11028
https://github.com/department-of-veterans-affairs/appeals-pm/tree/master/how-we-work

[2019-06-17 20:38] leikkisa commented on #11108
@laurjpeterson The "unidentified" issue is intentionally vague because maybe the CA doesn't know if it's rating or not, but they get added to rating EPs.  Folks can somewhat add "unidentified" nonrating issues to the nonrating EP by saying it's an "Unknown" category.  The only time they might have to use the "unidentified" modal for a nonrating issue is if they don't have the decision date.

I sti

[2019-06-17 20:39] pkarman commented on #10021
It's fine to wait to show them in search results till we have some place to direct users.

[2019-06-17 20:44] pkarman commented on #10974
GenericTask id: 216598 assigned to LitigationSupport id: 213

[2019-06-17 20:44] #10974 closed

[2019-06-17 21:21] laurjpeterson commented on #10973
I think this is incorrect. I think that if all eligible issues are withdrawn, and the only issues left on appeal are ineligible for appeal, the entire appeal is withdrawn. I'll double check with LRP to confirm what should happen if the only issues left on appeal are ineligible.

Can you remind me the reasons for request issues being closed? I know there are:
- withdrawn
- removed
- stayed (to be b

[2019-06-17 21:27] pkarman commented on #10973
Valid "closed status" values are listed here: https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/request_issue.rb#L40

[2019-06-17 22:03] geronimoramos commented on #8547
Motion to Vacate flow storming
![IMG_4853](https://user-images.githubusercontent.com/49766982/59639733-e93b6980-9110-11e9-8224-cc0cc078ea43.png)
@sneha-pai

[2019-06-17 22:26] leikkisa commented on #10891
Validated:
![Screen Shot 2019-06-17 at 3.26.17 PM.png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/da733562-3bab-44c3-bf06-bc3c78954440)

[2019-06-17 22:27] #10891 closed

[2019-06-17 22:32] leikkisa commented on #9623
Validated:

![Screen Shot 2019-06-17 at 3.32.24 PM.png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/71b07193-32a0-45ba-a9f7-b478a6991bd2)

[2019-06-17 22:33] #9623 closed

[2019-06-17 23:15] leikkisa opened #11112 "VBMSError::FileNumberNotFoundForClaimId"
This request issue update is failing on "create_contentions" with the error:
VBMSError::FileNumberNotFoundForClaimId

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5273/events/361997/

The claim shows up as a pending claim in the veteran's end products with the same claim id. I confirmed that the file number is correct.

[2019-06-18 01:27] laurjpeterson commented on #10973
Yes, I think this is correct. Especially because either way, these cases are going to a judge/attorney for a decision.

[2019-06-18 02:50] laurjpeterson opened #11113 "Change routing of admin actions"
When attorneys identify admin actions, the VLJ Support Staff and the Board would like them to be routed directly to the team that needs to action on them, rather than going through VLJ Support Staff as a middleman.

This is different than our first implementation and set of requirements, which required all admin actions to go through VLJ Support Staff.

## AC
- Update the following `ColocatedTask`

[2019-06-18 03:27] laurjpeterson commented on #10906
@leikkisa - circling back on this. what if i suggested options 1 and 2 you laid out to NCA to see if option 1 is viable for them?

[2019-06-18 03:28] laurjpeterson opened #11114 "Attorney feedback from an email to my VA email"
Here is my personal ask: more colored tabs for discretionary use:
- An over-arching goal for a Decision Writer is to minimize scrolling to hunt for a particular document or group of documents.  With a choice of several identifiers (color tabs and issue labels) I would like to be able to pull up very short lists of suitable documents or just a single document.  The word search feature is great, but

[2019-06-18 13:57] laurjpeterson commented on #10542
Note: We need to give union notification for all users to be able to answer this email survey.

[2019-06-18 14:21] lomky commented on #10551
**BLUF**: We have several needs that have converged in this ticket. I am going to hopefully pull these efforts apart in this ticket for context and open the needed multiple other tickets for the other efforts.

## Efforts

### Overview

- Differentiating the needs and roles of:
  - DVC & DVC Administrative Assistants
  - SSCs
  - all Judges

- Both DVC & SSC needs have implications with
  - relian

[2019-06-18 14:30] lomky opened #11118 "SSC tech spec"
SSCs fit relatively well into the existing JudgeTeam organization structure, but have some additional capability.

SSCs need to be able to
  - Reassign JudgeTasks from _any_ judge to _another_ judge
  - Act as a Judge
    - Assign cases to Attorneys
    - Act as Acting Judges to Review Decisions
  - Act as an Attorney

Possible we will either update JudgeTeam to encompasses SSCs, or subclass Judge

[2019-06-18 14:45] lomky opened #11120 "Allow Judges to Reassign JudgeTasks to other Judges"
Judges have a missing ability that came out of this discussion in #10551

  - ~reassign any case assigned to another judge _to themselves_~
  - reassign any _of their cases_ to another judge

Attorneys can already select which Judge to return a decision review to, so it only makes sense to empower the judge with the same option. Additionally this would help with covering any Judge periods of leave

[2019-06-18 14:53] lomky opened #11122 "Support Users with both a Judge Queue and a Non-Judge Queue"
Moving forward we will have users whose work will require them to have both a Judge Queue (Assign/Review options) and a Non Judge Queue (i.e. Attorney - Assigned/On Hold/Completed).

SSCs #11118 and DVC Assistants #10551 are two example use cases.

[2019-06-18 15:06] lomky commented on #11118
This issue may have implications with regards to reliance on VACOLs for role and the possible  deprecation of DAS

[2019-06-18 16:13] pkarman opened #11124 "Add unique constraint on AOD"
Once per claimant per appeal for advance_on_docket_motions.

This can't currently be a db constraint given how schema is built, but could be enforced in code.

See also #11102

[2019-06-18 16:14] laurjpeterson commented on #11113
@lowellrex - can echo estimate this ticket during the next session? also, i think it might absorb this ticket which was already estimated - https://github.com/department-of-veterans-affairs/caseflow/issues/10915

I also think that VLJ Support would benefit from us manually moving their existing Missing hearing transcript, FOIA/Privacy Act, and Schedule hearing tasks to the Hearing Branch. Would we

[2019-06-18 16:26] laurjpeterson commented on #10973
Correcting my earlier comment:

Incorrect. If all issues are withdrawn or ineligible, the triggering of cancelling tasks CAN continue. This is because the case needs to go to the judge for decision for the withdrawn issues. The judge will kind of ignore the ineligible issues (they are hidden in Caseflow, though they could see the ineligible issues on the NOD). It's up to the judge to add mention o

[2019-06-18 17:08] lowellrex commented on #11113
We can estimate this ticket and we'll decide whether it makes sense to split it out into multiple tickets during estimation and if it does then we'll write those tickets.

[2019-06-18 17:13] leikkisa opened #11125 "Make legacy appeals with an S/SOC date before AMA day ineligible"
### Story
Veterans can only opt-in from an S/SOC if the S/SOC was issued on or after 2/19/2019.

https://dsva.slack.com/archives/C754H751T/p1560861871060000

### Acceptance criteria
1. If a legacy appeal has an S/SOC date before 2/19/2019, it is not eligible to be opted in. If a user selects it, they will get the "legacy_appeal_not_eligible" error message

### Technical notes
See eligible_for_soc_

[2019-06-18 17:24] lowellrex commented on #11122
Work on this ticket likely will tie in nicely with [the effort to unify](https://github.com/department-of-veterans-affairs/caseflow/issues/10043) the three different flavor of individual queue table view we have in the application at the moment.

[2019-06-18 17:54] laurjpeterson opened #11128 "Ability to edit NOD receipt date (i.e. docket date)"
Sometimes, Veterans send in multiple NODs for the same appeal. Caseflow Intake users might intake a newer NOD over an older NOD because of how they come into the Centralized Mail Portal. The Veteran should have the older docket date, so users would like the ability to edit the docket date to reflect the correct, earliest NOD that the Veteran sent in.

Current workaround is for Caseflow Intake user

[2019-06-18 17:57] aroltsch commented on #11106
Issues found at testing:
1. If task type is selected, only display regional office list based on the task type selected.
2. Fix blank lines in the dropdown list for regional office, user and task type
3. Do not allow to click assign tasks when required fields are missing
4. It appears, the number of tasks is not showing when there are a lot of tasks (more than a hard coded max value or smth)

[2019-06-18 18:25] pkarman opened #11129 "Improve Reader error when document cannot be fetched from VVA or VBMS"
Rather than "technical difficulties" specify the exact error. This can help alleviate user confusion when the document can be viewed natively in VBMS or VVA.

https://dsva.slack.com/archives/CHX8FMP28/p1560880112230100

## Background
- When users click into a document that isn't in VBMS or VVA, they navigate to a page that contains an error message that says "Technical difficulties"
- This is like

[2019-06-18 18:29] aroltsch commented on #8591
YAS!

[2019-06-18 18:45] #7378 closed

[2019-06-18 19:02] pkarman commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/69173

./spec/models/docket_spec.rb:132

[2019-06-18 19:15] pkarman commented on #10948
There have not been any `unidentified` errors since 6/7 when we cleaned up #10609

Instead we see `Diagnostic code is not included in the list` now. Different problem, same exception class.

[2019-06-18 19:36] pshahVA commented on #11106
Thank you @aroltsch.  Would this be in this sprint or do we need to prioritize this into the next one.

[2019-06-18 20:38] laurjpeterson commented on #10009
Potential MVP flow:
1. User clicks `Edit in Caseflow` in VBMS on the closed SC or HLR
1. User navigates to Add/Remove issues page
   - change the navigation, change error message/remove it
1. Add/Remove issues page contains all of the request issues from the closed EP
   - populate the correct request issues from former EP
1. User can add/remove issues ONLY
1. When user clicks Establish EP, a moda

[2019-06-18 20:50] leikkisa commented on #11056
We are getting this error because the claim is already cleared.  For this particular job, I canceled the establishment job and cleared the error.

To handle this in the future, I suggest checking if the EP's synced_status is CLR, and if it is canceling anything remaining on the establishment job.

[2019-06-18 21:00] pshahVA opened #11132 "Integrate virtual hearings into Caseflow"
## Epic
As a hearings coordinator, I need to schedule Virtual Hearings for Veterans. A new hearing type of Virtual should be fully integrated into Caseflow alongside other Video, Central Office, and Travel Board hearing types so that Veterans may opt-in or request this new type of hearing.

## Background
The Board of Veterans' Appeals would like to introduce and integrate virtual hearings into Cas

[2019-06-18 21:15] leikkisa commented on #11043
Response from BGS on why this is happening:
This happens when the BDN PIF is still present although the corporate claim has been cleared or cancelled (PCLR or PCAN).  This will ALWAYS happen within a timing window but may happen due to other situations/scenarios.

The timing window is best illustrated via a scenario:

The starting point is when a claim is created on both the BDN and on corporate w

[2019-06-18 21:21] leikkisa commented on #11043
It sounds like this is due to manually canceling or clearing EPs "off corporate", so we can expect CLR and CAN eps to have their modifiers be available again if they are properly closed.  CAN seems more common, but the example I see in prod right now looks like it's from a CLR claim. We may want to respond to that specific error with incrementing the modifier instead of filtering out CLR and CAN f

[2019-06-18 21:38] Sjones352 commented on #10984
@laurjpeterson and @sneha-pai should I add `WITHDRAWN ON` like this
![Screen Shot 2019-06-18 at 5.32.16 PM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/cdc517d9-2e07-4481-a431-85b918b6362e)

[2019-06-18 21:39] #11078 closed

[2019-06-18 21:42] #6611 closed

[2019-06-18 21:43] pkarman opened #11135 "Store claimant first/last name on claimants table"
To aid reporting, store the first and last name of the claimant on the `claimants` table, in a manner similar to how we store/cache veteran first/last on `veterans` table. This is basically a BGS cache.

[2019-06-18 22:26] laurjpeterson commented on #9195
Closing because I reviewed the content in this ticket - https://github.com/department-of-veterans-affairs/caseflow/issues/9990 - and prod and prod looks up to date!

[2019-06-18 22:26] laurjpeterson commented on #9990
Closing because I checked in prod and it looks up to date with the docs in this ticket!

[2019-06-18 22:26] #9990 closed

[2019-06-18 22:28] laurjpeterson commented on #10984
@Sjones352 yes, that looks great!

[2019-06-18 22:41] leikkisa commented on #10787
I am closing this because they have succeeded now.

[2019-06-18 22:41] #10787 closed

[2019-06-18 23:03] leikkisa commented on #11040
SC 1571's claimant has an address of nil, but it happened before the claimant address validation code was merged on March 22nd, so I think that's why that went through.

SC 5611 has an address that looks like this:
`{:address_line_1=>nil, :address_line_2=>nil, :address_line_3=>nil, :city=>nil, :country=>nil, :state=>nil, :zip=>nil}`

This is different than the address just being nil and wasn't bei

[2019-06-18 23:06] laurjpeterson commented on #10337
Reviewed Tomas' notes on my VA computer.

## Do not need to clarify with user and can go ahead in deleting tasks
- Group 3 - I agree with deleting the earlier task (159285) in favor of the more recent task (160498). We don't need to contact the user because they are v identical.
- Group 5 - Let's cancel the later task (165420) in favor of the earlier task (165418). We don't need to contact the use

[2019-06-19 00:59] monfresh commented on #10973
I think that last part might require more changes. From what I can tell, we currently only display [active or ineligible or withdrawn](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/decision_review.rb#L317-L321) request issues on the edit appeal page, which means issues that are closed for other reasons cannot be withdrawn from the UI currently. Am I misunderstan

[2019-06-19 14:03] lomky commented on #11122
See lots of discussion about this topic on #5385. Discussion is over a year old at this point, but lots of material points.

[2019-06-19 14:04] lomky commented on #11118
Are there ever cases where an Attorney would be designated an Acting Judge, but not be an SSC? @laurjpeterson

[2019-06-19 14:22] pkarman opened #11139 "Cache SSN on veterans table"
Similar to how we cache veteran name, cache the SSN on the veterans table.

This should hopefully reduce number of calls to BGS.

[2019-06-19 15:37] pkarman commented on #9298
The way I read the code, we are always searching Caseflow db first for file number, and then if we can't find it, fetching the file number from BGS via SSN. So we should only ever be writing file numbers to the Caseflow db. @leikkisa can you point me at the code where that is not true?

[2019-06-19 15:57] pkarman commented on #9298
There appear to be zero records with ssn as filenumber in the db currently:

[code]

[2019-06-19 15:58] pkarman commented on #9298
This query should find veterans in Caseflow with SSN-looking values in the `file_number` field:
[code]
currently there are 191165

[2019-06-19 16:00] tomas-nava commented on #10337
I just paired with @lowellrex to make the following changes:

**GROUP 1**
[code]

**GROUP 2**
[code]

**GROUP 3**
[code]

**GROUP 5**
[code]

**GROUP 6**
[code]

I will act (or not) on the tasks in group 4 when we hear back from the user.

[2019-06-19 16:19] pkarman commented on #9298
fwiw, I tested BGS service and it will return the SSN as the file number: `BGSService.new.fetch_file_number_by_ssn`

[2019-06-19 17:10] #10930 closed

[2019-06-19 18:04] laurjpeterson commented on #11118
Yes!

[2019-06-19 19:47] lomaxap commented on #10643
### notes
- Combed this list and manually created associations where it made sense
- The new cutoff for when hearings were no longer scheduled in VACOLS is on or before 04/12/2019
- There are a handful with no associations after that date that have tasks in a sensible state, so I will leave them be: `LegacyAppeal.where(vacols_id: ["3136809", "3601526", "3003035", "3126735"])`
- A few Legacy Appeal

[2019-06-19 19:52] aroltsch commented on #11106
I think I've fixed them all. I will create a PR shortly.

[2019-06-19 20:18] tomas-nava commented on #10152
Confirmed that no production data would violate this constraint with this query in Looker:

[code]

[2019-06-19 22:37] aroltsch opened #11151 "Bulk assignment model loading state when missing required fields"
When trying out the "Do not allow to click assign tasks when required fields are missing" and found a bug; if you click "Assign Tasks" before the form's ready, it gets stuck in a loading state and is never clickable again, even if I finish filling out the form correctly.

![submit-bug-smaller](https://user-images.githubusercontent.com/45415133/59799983-63e3c080-929a-11e9-9242-50ca943307e4.gif)

[2019-06-19 23:35] #11106 closed

[2019-06-19 23:55] leikkisa commented on #9298
I checked the last 1000 veterans, and 42 of them had the SSN stored as the file number, when the actual file number is different.  Often the filenumber and SSN are the same.

The issue is that some BGS calls work with file number OR ssn, but not all of them. I think we had previously assumed that the calls that use filenumber don't also work by SSN.

Here are the Caseflow IDs of some of them where

[2019-06-20 13:03] lowellrex opened #11152 "Fix ColocatedTasks for LegacyAppeals being charged to wrong location in VACOLS"
`ColocatedTask`s for `LegacyAppeal`s are sometimes being charged to the wrong location in VACOLS when they are marked complete. During initial investigation of this bug [we added a test](https://github.com/department-of-veterans-affairs/caseflow/pull/11134) that sought to confirm the fix deployed in #10853 fixed all scenarios where charging to the wrong location. That test works as expected, but t

[2019-06-20 13:17] laurjpeterson commented on #10337
@tomas-nava - Corey Benjamin, VLJ Support Staff lead, cancelled one of the tasks in group 4 so there is only one task left. No action needed from you, and I think this ticket could be closed!

[2019-06-20 13:49] laurjpeterson commented on #8810
CSS ID | Case Details URL | Situation
-- | -- | --
VACOULLERJ  |  https://appeals.cf.ds.va.gov/queue/appeals/2649463  |
vacomillee | https://appeals.cf.ds.va.gov/queue/appeals/6fe29e4a-e3c6-4cfb-a2e6-d1a769257efc |
bvaLCrohe | https://appeals.cf.ds.va.gov/queue/appeals/3800101 |

3.

4. Case: https://appeals.cf.ds.va.gov/queue/appeals/386439
Attorney: bvaNRippel
Situation:  This is not currently i

[2019-06-20 14:21] laurjpeterson commented on #11132
Email from Tele-hearing team:

Caseflow is projected to replace the current web scheduler.

The current web scheduler is basically a contractor created a proprietary windows service (no longer supported) that interfaces with IIS for web portion and also sends APIs to the node manager for  VMR creation/deletion—also sends the confirmation/reminder emails to the judge, Veteran’s rep and the Veteran.

[2019-06-20 15:57] ferristseng commented on #10017
I may have fixed this when I did #10073! Can we confirm this is still an issue after that fix goes out @pshahVA?

[2019-06-20 15:59] leikkisa commented on #10906
@laurjpeterson I think we should suggest option 1 from the get go to unblock their work. They are tracking data on their own, so we can backfill the data for "veteran_is_not_claimant" later. Then we can code option 2, and backfill the data.  I do like eventually coding option 2, so that it's less confusing for users intaking the claims.

[2019-06-20 16:15] aroltsch opened #11154 "Add feature tests to ensure case time line is sorted correctly."
Reference: https://github.com/department-of-veterans-affairs/caseflow/issues/10975
https://github.com/department-of-veterans-affairs/caseflow/pull/11080

[2019-06-20 16:20] pshahVA commented on #10073
![image](https://user-images.githubusercontent.com/49729315/59864920-cf3e9880-9355-11e9-8034-475966f92e3b.png)

[2019-06-20 16:50] #10643 closed

[2019-06-20 17:25] #10073 closed

[2019-06-20 17:37] lomaxap commented on #10630
[code]

[2019-06-20 17:55] #10975 closed

[2019-06-20 18:24] laurjpeterson commented on #11132
Adding more details I find in other email chains about the tele-hearings product

[Highlevel BVA Scheduler.pdf](https://github.com/department-of-veterans-affairs/caseflow/files/3311661/Highlevel.BVA.Scheduler.pdf)

1. Question: From what I understand based on the demo I saw a link was emailed to participants in the conference.  That link was then clicked on by both sides of the conference (called

[2019-06-20 18:25] pkarman commented on #9298
good research thanks @leikkisa .

I have a fix in #11156

[2019-06-20 18:54] #8408 closed

[2019-06-20 19:33] pshahVA opened #11158 "Convert a video or central office hearing to a Virtual Hearing (VH)"
As a hearing coordinator, I need to be able to convert a video hearing to a Virtual Hearing.

### AC

- [ ] Caseflow docket for that hearing day indicates that the hearing is a VH.
- [ ] There is a link to that VH conference that can be clicked on from Caseflow.
   **Update**: The link to the virtual hearing should either not show up for the POA, or the
   link will be different than the Judges.

[2019-06-20 19:39] pshahVA commented on #11158
Definition of Done:

1. Caseflow docket for that hearing day indicates that the hearing is a Tele-Hearing.
2. There is a link to that Tele-Hearing conference that takes the judge to that hearing (outside caseflow).

[2019-06-20 20:21] monfresh commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/69525
spec/feature/queue/bulk_task_assignment_spec.rb:33

[2019-06-20 20:57] lomky commented on #11120
This would be scoped to AMA JudgeTasks. For Legacy appeals, the judges can move the case in VACOLs.

[2019-06-20 21:15] #11151 closed

[2019-06-20 21:59] pkarman opened #11161 "Evaluate and document claim_establishment model"
Is this model/table still used? Let's document its columns.

[2019-06-20 22:00] #11002 closed

[2019-06-20 22:38] tomas-nava commented on #10630
- Since running this will affect more than 500 appeals, I think we should make it a rake task that logs its progress and the changes it makes.
- I get the exact same results whether I include the `appeal_id=legacy_appeals.id` condition in the query or not...and I'm not sure what it's supposed to do? It works in the context of the ActiveRecord query but not as straight SQL.
- I think there are some

[2019-06-20 22:47] leikkisa opened #11162 "NCA | Handling Non-Vet Claimants | Remove Current Claimant Validation and Allow Free Text Option"
### Background
Approximately 98% of NCA appellants are not the Veteran as the Veteran has passed. Many claimants are family, non-family, VSOs, etc. acting on behalf of decendents who died centuries ago.  Users are being stopped from proceeding because they select the Veteran is not the claimant, but the claimant is not a dependent of the veteran.  The claimants are not verified or processed claima

[2019-06-20 23:45] leikkisa commented on #10574
This is resolved! Closing.

[2019-06-20 23:45] #10574 closed

[2019-06-20 23:47] leikkisa commented on #11056
I asked in the BGS meeting today if we needed to worry about side effects of this claim being closed without the tracked item being generated and we decided that if the claim was closed it was okay. I also believe this was probably manually closed because it would have had to be closed quickly in order for this to repeatedly fail.

Closing this ticket.

[2019-06-20 23:47] #11056 closed

[2019-06-20 23:53] tomas-nava commented on #10152
Whoops, @lomaxap pointed out that my constraint was too narrow. There are 17 `LegacyHearing`s that have more than one `HearingTaskAssociation` pointing to them.

[code]

| hearing type | hearing id | association ids | count
| --- | --- | --- | --- |
| LegacyHearing | 84987 | 10162, 54 | 2 |
| LegacyHearing | 87462 | 5843, 928 | 2 |
| LegacyHearing | 87522 | 10329, 937 | 2 |
| LegacyHearing | 88564

[2019-06-21 12:59] pkarman commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/69785
Failure/Error: click_on(appeal.docket_number)

Capybara::ElementNotFound:
  Unable to find link or button "190619-1"
./spec/feature/queue/ama_queue_spec.rb:30:in `block (4 levels) in <top (required)>'

- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/69785
Failure/Error: expect(page).to have_content("C

[2019-06-21 14:04] laurjpeterson commented on #8936
Met with Maria Braswell, Chief of Case Review/Intake team and Kendra Jones, Chief of Mail Team and gave them an overview of this functionality.

They need:
- to be added to the Case Review organization
- to be able to get to the Edit Issues screen from Case Details, without having to change the URL - we need to add the Correct Issues link to their Case Details pages

[2019-06-21 14:31] lomky commented on #11120
There is currently the ability to reassign `JudgeAssignTasks` to another judge through the Assign to Attorney action and selecting Other, which makes available all Attorneys and Judges.

[2019-06-21 14:44] pkarman commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/69818

[2019-06-21 15:40] #11045 closed

[2019-06-21 15:46] laurjpeterson opened #11167 "Add Correct Issues link to Case Details for members of the Case Review organization"
The Case Review team will be processing the withdrawal of appeals tasks for AMA appeals. We've already changed the routing of these tasks to Case Review organization queue (which has been created).

To withdraw appeals, Case Review team users navigate to the edit issues screen to withdraw issues. When all issues are withdrawn, the appeal is considered withdrawn.

This issue will allow the Case Rev

[2019-06-21 16:26] lomaxap commented on #10630
👍

Ah, right. I was writing it as if it were a join ON statement. removing.

Got it. So there are some duplicates in there that weren't created by closed `ColocatedTask`s. The Safest bet may be to only automatically close ones that we know were duplicated there, and look at the others separately.

[code]

[2019-06-21 16:36] hschallhorn commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/69836
spec/feature/queue/search_spec.rb
Failure/Error: expect(page).to have_content("Could not find a Veteran matching the file number")
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/69864
spec/feature/queue/search_spec.rb
Failure/Error: expect(page).to have_content("Withdrawn")

[2019-06-21 16:42] pkarman commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/69831
Failure/Error: expect(page).to have_content("1 case found for")
  expected to find text "1 case found for" in "CaseflowQueue\nSearch cases\nCSS_ID96 (VACO)\nVeteran Case Search\nPlease enter a valid claims file number or SSN to search for all available cases.\nNo cases found for “300000001”\nPlease enter a valid claims fil

[2019-06-21 17:29] lowellrex commented on #11167
Looks like we should be able to make this happen by adding a check to see if the current user is a member of the Case Review team in the `User.can_edit_request_issues?` method. Perhaps something like the following:

[code]

[2019-06-21 18:00] lomaxap commented on #11109
What do you all think of a utility class like [this](https://github.com/department-of-veterans-affairs/caseflow/pull/11169/files) to check for duplicates.

[2019-06-21 18:30] pshahVA commented on #7954
I wanted to bring this thread back to life.  Would it make sense to use the trail version of this to see how it works.  I am not pointing to any particular solution, but I don't really know of any other better alternatives. I don't like the idea of custom coding as we have lots of release work to be done.

[2019-06-21 18:48] laurjpeterson commented on #7954
Agree! Let's get the trial version.

[2019-06-21 21:03] lomaxap commented on #10630
Tomas and I paired to close 493 duplicate hearing tasks. I still need to go through and assess the 12 appeals that could not be bucketed with the script below

final script:
[code]

[2019-06-21 21:25] pkarman opened #11174 "require Veteran participant_id"
Right now the column is allowed to be null. We have some that are but probably don't need to be:

[code]

## AC
* `Veteran.participant_id` is marked not null in schema
* backfilled data for existing records

[2019-06-21 21:49] lomaxap opened #11175 "VACOLS Case Cannot Be Found in BGS"
https://dsva.slack.com/archives/CHX8FMP28/p1561037045292900

A user was attempting to establish a claim for appeal with `vacols_id` `3858057`, but was unable to because the veteran could not be found in BGS.

As a temporary fix, I removed the claim from the list of claims that are to be completed
[code]
([see here for context](https://github.com/department-of-veterans-affairs/caseflow/blob/master/

[2019-06-21 21:49] lowellrex opened #11176 "[Epic] Prevent duplicate TranslationTasks for an appeal"
The [Translation team noticed](https://dsva.slack.com/archives/CHX8FMP28/p1560976113274800) that there are multiple tasks in their queue for the same appeal for two reasons.

1. The application automatically created a `TranslationTask` and Board employees later created another `TranslationTask` manually.
2. `ColocatedTask`s with open child `TranslationTask`s were marked as complete and additional

[2019-06-21 23:03] laurjpeterson commented on #11176
- I'm also curious about if it's not clear to users what tasks are open. We'd have to sit with VLJ Support Staff to learn this.
- I don't understand ColocatedTasks being closed, but it could be Friday brain. I wonder if users should be prevented to create a second TranslationTask if there is already an open one?

Some thoughts:
- I ask stakeholders if TranslationTasks should block distribution so

[2019-06-24 01:30] #10973 closed

[2019-06-24 02:27] monfresh opened #11181 "Move some HLR and SC edit_spec feature specs to model specs"
We have some feature specs that check for non-user facing DB changes. For example:
[code]
Feature specs are slow, so we want to minimize them. In this case, we are not testing anything user-facing. We're using a slow feature spec just to confirm what happens in the backend afterwards, which is not related to the edit appeal page visually.

Solution: move this and other similar feature specs to the

[2019-06-24 14:28] lowellrex opened #11183 "Fix CASEFLOW-charged VACOLS appeals with no active tasks"
While working on resolving the problem of `ColocatedTask`s for `LegacyAppeal`s being [charged to the wrong VACOLS location](https://github.com/department-of-veterans-affairs/caseflow/issues/11152) when they were completed, I decided to look into the question of whether there were any appeals charged to the "CASEFLOW" VACOLS location that do not have active tasks in Caseflow and discovered that the

[2019-06-24 14:48] lowellrex commented on #8810
Marked both of the root tasks for these cases as `completed`. Does any other work remain on this ticket or can we close it out?

[code]

[2019-06-24 15:08] msj0nes commented on #8810
@lowellrex  I have one more stuck one https://appeals.cf.ds.va.gov/queue/appeals/3896771. Still shows 'On Hold' in the attorney's queue

[2019-06-24 15:16] lowellrex commented on #8810
Legacy Appeal with VACOLS ID 3896771 is showing up in the attorney's on hold tab because they created an admin task that a member of the VLJ support staff has not yet completed.

[code]

I don't know if this task still needs to be completed (since the decision for this appeal has already been dispatched), but I propose we leave that decision to the VLJ support staff. If the attorney wants this tas

[2019-06-24 15:21] lomaxap commented on #11124
So this means (in the rare scenario) that an AOD was denied, but later granted, we should overwrite the user and data?

[2019-06-24 15:28] msj0nes commented on #8810
@lowellrex attorney is requesting the task be closed and it should automatically close because there is no case. VLJ support told the attorney this. Can we just close it? Shes the only attorney to come forward since I notified users the hold issue is fixed.

[2019-06-24 15:29] lomaxap commented on #9502
resolved with #9753 and #9752

[2019-06-24 15:29] #9502 closed

[2019-06-24 15:39] pkarman commented on #11124
I imagine we'd want to prompt the user that an AOD already exists with a different status, and allow them to explicitly override it. The current problem is silently creating a 2nd record.

[2019-06-24 15:54] lowellrex commented on #8810
If what they are asking to do is available to do in Caseflow then I believe it should be done in Caseflow (to reduce the burden on the development team and build their familiarity with Caseflow so they can be self sufficient if the development team is not available). If what they are asking to do is not available in Caseflow then we should create a ticket to develop some way for them to accomplish

[2019-06-24 16:06] msj0nes commented on #8810
These are the options available to Randy @lowell. So cancelling will send the case back to the attorney but what is the attorney to do with the case when its dispatched and no longer assigned to them.

![image](https://user-images.githubusercontent.com/41164406/60034338-6ec29a80-9678-11e9-8c4d-3780057bc105.png)

[2019-06-24 16:10] #10303 closed

[2019-06-24 16:35] #11041 closed

[2019-06-24 16:52] lowellrex commented on #8810
Perfect! Thanks @msj0nes !

[2019-06-24 16:52] lowellrex commented on #8810
Is there any remaining work to be done on this ticket or can we close it out?

[2019-06-24 16:58] msj0nes commented on #8810
@lowell I think its safe to close.

[2019-06-24 17:03] #8810 closed

[2019-06-24 17:27] sneha-pai commented on #10542
I've outlined 3 proposed approaches and 3 audiences (going from leanest to slightly more complex):

## Customer Effort Score
### What is it?

Instead of asking how *satisfied* the user was, you ask users to gauge the *ease of their experience*.

## Approach 1:

**Channel:**

Email a surveymonkey link to users

**Assumptions/Hypothesis:**

By ***emailing*** Queue users from different branches at BV

[2019-06-24 18:40] #10414 closed

[2019-06-24 19:00] leikkisa opened #11188 "Allow editing contention text on intake"
### Story
Currently users are only allowed to edit contention text for request issues during the "edit" step.
During the 6/20 AMO meeting, they requested that we allow users to edit contention text during the initial intake as well.

### Acceptance criteria
During intake, for reviews that are processed in VBMS, a user can edit the contention text for a request issue on the add issues page. When th

[2019-06-24 19:02] leikkisa opened #11189 "Prepopulate edit contention text area with current issue text"
### Story
During the 6/20 AMO meeting, they requested that when a user is editing the contention text for a request issue, that the text area is pre-populated with the current issue description.  Currently this text is used as a placeholder, but not the value.

[2019-06-24 19:07] aroltsch opened #11190 "Fix bulk assignment page reload on success"
Currently, when a bulk assignment is successful, we reload the entire page https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/app/queue/components/BulkAssignModal.jsx#L70. It doesn't provide good user experience. Instead we should dispatch a new action to update certain fields on that page.

### Acceptance Criteria
- [ ] Page does not refresh automaticvally after bulk as

[2019-06-24 19:17] laurjpeterson opened #11191 "MVP 930s| Establish 930 EP + success page"
Part of the MVP flow for creating 930 EPs epic

## AC
- When user clicks Establish EP, they navigate to the confirmation page that explains they established a Control 930 EP in VBMS and they can make further corrections in VBMS
    - Note: we propose we make them all Control 930 EPs for the MVP
- 930 EP with the claim label from the original EP (030 or 040) is established in VBMS
- Use confirmatio

[2019-06-24 19:19] laurjpeterson commented on #10009
Created #5 and added it to this epic - https://github.com/department-of-veterans-affairs/caseflow/issues/11191

[2019-06-24 19:36] aroltsch opened #11192 "Refactor TaskRows component"
Component `client/app/queue/components/TaskRows.jsx` has become overly complicated when we added withdrawn and cancel statuses to the task timeline. decisionDateTemplate() method has a lot of `if` statements which makes it difficult to understand. I propose that we move timeline logic into its container and think about how we can avoid so many if statements. I also propose that we create a new con

[2019-06-24 19:45] #11108 closed

[2019-06-24 19:59] aroltsch commented on #10516
https://circleci.com/gh/department-of-veterans-affairs/caseflow/70474
spec/workflows/appeal_withdrawal_spec.rb

[2019-06-24 20:01] aroltsch commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/70474
spec/controllers/intakes_controller_spec.rb

[2019-06-24 20:03] lomaxap commented on #11063
@pshahVA where are we with this?

[2019-06-24 20:06] lomaxap commented on #9131
closing in favor of #10516

[2019-06-24 20:06] #9131 closed

[2019-06-24 20:07] laurjpeterson commented on #10414
question on this - when deployed, would previously removed/canceled tasks now show with this icon? Or would we have to go back and fix those appeals?

[2019-06-24 20:12] lomaxap commented on #11124
@Chingujo I think this needs some design work

[2019-06-24 20:12] pshahVA commented on #11063
This is the email that was sent to the Board:

[2019-06-24 20:14] pshahVA commented on #11063
The investigation is closed, awaiting management feedback.

[2019-06-24 20:14] #11063 closed

[2019-06-24 20:22] pshahVA commented on #10017
Resolved.

[2019-06-24 20:22] lomaxap commented on #10630
Turns out, `ColocatedTask`s are duplicated [intentionally](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/task.rb#L400-L406) with another task being created as a child and assigned to a user with the original task as a parent. When the user completed that child task,  the parent task was also completed. This resulted in `ScheduleHearingTask.create` being called t

[2019-06-24 20:26] #10854 closed

[2019-06-24 20:27] #9013 closed

[2019-06-24 20:38] #8870 closed

[2019-06-24 20:42] #7564 closed

[2019-06-24 21:49] laurjpeterson commented on #11183
https://appeals.cf.ds.va.gov/queue/appeals/3107555
https://appeals.cf.ds.va.gov/queue/appeals/3228567
https://appeals.cf.ds.va.gov/queue/appeals/3263705
https://appeals.cf.ds.va.gov/queue/appeals/2741402
https://appeals.cf.ds.va.gov/queue/appeals/2594151
https://appeals.cf.ds.va.gov/queue/appeals/2766060
https://appeals.cf.ds.va.gov/queue/appeals/2891584
https://appeals.cf.ds.va.gov/queue/appeals/

[2019-06-24 22:32] laurjpeterson commented on #11183
I think this makes sense to do. Any appeals charged to CASEFLOW just without tasks, right?

[2019-06-24 22:42] lowellrex commented on #11183
Exactly.

[2019-06-24 23:06] leikkisa opened #11193 "Add HLR and SC 930 claim labels to end product codes"
### Story
Users will be able to edit DTA claims that are already cleared in order to make corrections. These claims should be established under the appropriate 930 end product codes.

### Acceptance criteria
- The below end product codes are added to the tree of end product codes referenced in request_issue.rb.  This could under "correction", and organized similarly to non-930 codes where dta and

[2019-06-24 23:40] leikkisa opened #11194 "Add 930 claim labels for board grant effectuations"
### Acceptance criteria
* Add the below end product claim labels to Board Grant Effectuations
* Also add them to the end product model
* Update the logic in board_grant_effectuation#end_product_code to select the correction EP code if the EP is for a correction

[code]

[2019-06-24 23:42] leikkisa commented on #11194
@laurjpeterson I don't think we included board grant effectuations as part of the MVP, but I wanted to connect this to the 930 work so I put it under this epic for now.

[2019-06-24 23:48] leikkisa opened #11195 "Allow decision reviews with cleared end products to be edited"
### Story
Currently, if a decision review has one or more cleared end products, we prevent the user from editing that claim.  Moving forward, if a user edits issues on a cleared end product, we will add those to a new corrective 930 claim.

### Acceptance criteria
* If a user clicks "Edit in Caseflow" in VBMS for a cleared claim, they are directed to that decision review's "Edit issues" page.
* Th

[2019-06-25 00:02] leikkisa opened #11196 "Use 930 EP modifiers if End Product Establishment is for a correction"
### Acceptance criteria
* If an End Product Establishment has a code that is one of the correction codes (the benefit claim type code starts with 930), then set the valid modifiers for the end product establishment to be in the 930 series, instead of using the valid modifiers from the EPE source:
`[930 931 932 933 934 935 936 937 938 939]`
* Continue to use the same logic that increments the modif

[2019-06-25 12:34] laurjpeterson opened #11198 "Caseflow metrics for OIT"
Metrics we need to share with OIT/OMB

Number | Metric | Status | Numerator | Denominator
---|---|---|---|---
1 | Percentage of all cases certified with Caseflow | Needs CorpDB data, blocked
2 | Percent of non-denial decisions with an EP created within 7 days | Needs CorpDB data, blocked
3 | Veteran show rates at Board hearings (Total scheduled meetings held – postposed hearings/total scheduled me

[2019-06-25 12:36] aroltsch commented on #10762
I think this will be done when this PR gets merged: https://github.com/department-of-veterans-affairs/caseflow/pull/11180

[2019-06-25 13:20] Chingujo commented on #11111
@nicholer @pshahVA

Updated the AC on this ticket and added some open questions

[2019-06-25 14:39] sharonwarner commented on #11183
We needed to schedule hearings for appeals 2741402, 2873340, and 2594151 pretty urgently, so @lomaxap and I created the ScheduleHearingTasks and HearingTasks for those 3 appeals.

[2019-06-25 14:44] #10017 closed

[2019-06-25 14:56] monfresh commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/70595
[code]

[2019-06-25 14:57] monfresh commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/70595
[code]

[2019-06-25 15:50] Chingujo commented on #10551
@laurjpeterson @lomky

Added myself and Nichole to the issue since it's the most up to date one and for awareness =D. Will post some design artifacts before our call at 10 tomorrow here

[2019-06-25 15:54] Chingujo commented on #11124
adding @nicholer for awareness.

Looking to sync about this tomorrow (Wednesday June 26th) with Andrew

[2019-06-25 16:33] edmangimelli opened #11202 "Proposed API endpoint for submitting Higher-Level Reviews"
As part of the Lighthouse Appeals API project, we're adding an external API endpoint for submitting a Higher-Level Review (eventually we'll do the same for Supplemental Claims and Board Appeals). The goal is to have this endpoint be a single step--sending all the info needed as JSON in a single post--unlike the intake UI (multi-step with validation and returned populated data between steps). After

[2019-06-25 17:01] laurjpeterson commented on #11183
LRP is going to take a look at the cases  tagged for them and get back to us.

[2019-06-25 17:08] laurjpeterson commented on #10433
PR: https://github.com/department-of-veterans-affairs/caseflow/pull/11199

[2019-06-25 17:57] #11053 closed

[2019-06-25 17:59] RachelSauter commented on #11183
The incarcerated Veteran one (https://appeals.cf.ds.va.gov/queue/appeals/3933377) is a post-remand (legacy) that has been certified back to the Board and is ready for a decision. I'm not sure why it went through hearing branch, which assigned it to Caseflow. We attempted several times to arrange for a hearing, but the Veteran is incarcerated for life and the facility would not cooperate with us. T

[2019-06-25 18:05] leikkisa commented on #11202
Hi Ed!

The part around starting a higher level review looks good.  The work around the issue selection is the most complicated part.  This looks like it would work for limited cases, such as if a veteran only had eligible nonrating issues that were not previously intaken through Caseflow and not connected to any legacy issues.

Part of what we're doing is creating an issue chain that tracks an is

[2019-06-25 18:25] leikkisa commented on #10548
I am closing this ticket, because we've been asked to make everything editable at this point.

[2019-06-25 18:25] #10548 closed

[2019-06-25 18:33] laurjpeterson opened #11205 "Add evidence window submission task to scheduled, then cancelled hearing"
In this case (https://appeals.cf.ds.va.gov/queue/appeals/967ddcf7-ff07-4ba6-b75b-e00755a37ddd), the Veteran cancelled the hearing request, and the case went right to the judge. It should have gotten the evidence submission task.

We've now added functionality that automatically adds the evidence submission window task when the hearing has been cancelled, but this occurred before that PR was deploy

[2019-06-25 18:47] laurjpeterson commented on #11198
Note: learned that OIT/OMB did not approve the metrics Chris suggested. Here is what was approved.

1. Metric ID | 2. Metric Description | 3. Unit of Measure | 4. Performance Measurement Category Mapping | 5. Agency Baseline Capability | 6. 2018 Target | 7. 2019 Target | 8. Measurement Condition | 9. Reporting Frequency
-- | -- | -- | -- | -- | -- | -- | -- | --
1709076050 | Caseflow - Percentage

[2019-06-25 18:51] leikkisa opened #11206 "Add link to decision reviews Edit page on the Case search page"
### Story
There is currently no way within Caseflow to navigate to the edit page for decision reviews that are processed in VBMS.  The case search page seems like a natural place to add a link.

### Acceptance criteria
1. On the case search page, for higher level reviews and supplemental claims that are listed for a veteran, add a link to the edit page for that higher level review or supplemental

[2019-06-25 19:18] pkarman commented on #11206
Amazed we don't have this yet! Good use case for the UUID in the URL.

[2019-06-25 20:24] #10179 closed

[2019-06-25 21:00] #10630 closed

[2019-06-25 21:32] erluti opened #11214 "API docs endpoint"
Part of the Lighthouse API project is sharing OpenAPI specs for endpoints.  As we develop new API endpoints in caseflow, we want to have endpoints for serving up that documentation.

The new Lighthouse API work will be in the controllers/api directory.  The docs will be served from a new controller in a docs directory.  That directory will also contain open api specs to describe the APIs.

[2019-06-26 07:24] edmangimelli commented on #11202
We're still getting familiar with the intake process (as you can tell!), but, something I was already envisioning doing to help an API consumer perform validation was making separate endpoints that would return the range of possible values for certain fields (something like `higher_level_reviews/payee_codes` and `higher_level_reviews/issue_categories`, or maybe just lump it all together as `higher

[2019-06-26 07:25] edmangimelli commented on #11202
And I just remembered, Philip had a similar idea on how to provide those constants
--was it a `/scopes` endpoint? @erluti

[2019-06-26 14:45] pkarman opened #11220 "Record who scheduled a hearing"
Add columns to the db to record who creates and updates a `Hearing` record.

See https://dsva.slack.com/archives/C42P25D6H/p1561497835100000

[2019-06-26 14:57] lomky commented on #10551
Discussion on cases: https://dsva.slack.com/archives/CJL810329/p1561559611094700

[2019-06-26 15:16] Chingujo opened #11221 "DVC Administrative Assistant Capability Design Work"
Currently, dvc administrators need a way to move cases to judges for special and escalated cases.

## To Do's

- [ ] Map out flows (Phillip)
- [ ] Start working on search screens with the following flow
   - DVC admins see assigned version of their queu
    - Use the search feature
    - Get to case details
    - Has the ability to assign
- [x] Meet LRP

[2019-06-26 15:26] #11154 closed

[2019-06-26 16:40] #11107 closed

[2019-06-26 16:41] erluti commented on #11202
It was an `/enums` endpoint, that supported a param for `scopes` so that you could only get back applicable enums

[2019-06-26 17:00] #11194 closed

[2019-06-26 17:53] Chingujo opened #11225 "Add AOD Modal on Daily Docket"
We are tying the AOD status of an appeal to one stable record. To retain the logic that a judge owns their own AOD decisions, we need to warn the user that they are overriding the field.

### Acceptance Criteria
- [ ] Verify that in the daily docket a modal appears when a Judge changes a previously recorded AOD appeal
- [ ] Verify that the copy of that modal is:
  - Title: There is a prior AOD Dec

[2019-06-26 17:53] #10337 closed

[2019-06-26 17:54] Chingujo commented on #11124
#1125 AOD Daily Docket Model

@lomaxap Explained the use case and I wrote it up here along with a design consideration on overwriting a prior AOD. Going to add cc: @pshahVA for any concerns stakeholder wise and will add to the above ticket

[2019-06-26 17:55] Chingujo commented on #11225
@pshahVA

The gist per andrew is that we are creating one stable AOD record instead of recording the AOD every time it changes. That means to keep the integrity of the logic that only the judge who granted the AOD can change it, we need to warn someone who is trying to change the AOD designation who wasn't the original arbiter

[2019-06-26 18:48] lomky commented on #10551
Discussion with LRP: https://dsva.slack.com/archives/CJL810329/p1561572176104500

[2019-06-26 18:52] pkarman opened #11226 "Remove Prometheus logging"
Our self-hosted instance of Prometheus [will be removed](https://github.com/department-of-veterans-affairs/appeals-deployment/issues/2123) so remove any client code that relies on it.

[2019-06-26 19:04] leikkisa commented on #10756
This is planned to be available in prod on 8/10.

[2019-06-26 19:18] aroltsch commented on #11086
@pkarman can you help me with Datadog on this? I would this graph to answer the first question https://app.datadoghq.com/dashboard/54w-efy-r5d/va-systems?from_ts=1558984032311&live=true&tile_size=m&to_ts=1561576032311&fullscreen_widget=285792531&fullscreen_section=overview. However, not sure how to answer the second question using Datagog

[2019-06-26 19:22] aroltsch commented on #11086
And I found this graph in Grafana:
https://prometheus.ds.va.gov/grafana/dashboard/db/reader?panelId=3&fullscreen&orgId=1

[2019-06-26 19:23] aroltsch commented on #11086
I think in order for us to generate graphs like that in Datadog, we need to send those events to DD the same way as we do for Prometheus.

[2019-06-26 19:39] #10487 closed

[2019-06-26 20:38] RachelSauter commented on #11183
This one (https://appeals.cf.ds.va.gov/queue/appeals/2741402) has a schedule hearing task, but that's not right. It needs to be assigned to VLJ Derek Brown, who held the hearing. Again, let me know if you can do this or if you need me to ask for help.

[2019-06-26 22:11] #11061 closed

[2019-06-26 22:15] pkarman commented on #10945
I see zero instances in production so I'm going to consider this validated.

[2019-06-26 22:15] #10945 closed

[2019-06-26 22:15] #10933 closed

[2019-06-26 22:17] #10747 closed

[2019-06-26 22:17] pkarman commented on #10804
done merged and deployed.

[2019-06-26 22:17] #10804 closed

[2019-06-26 22:24] pkarman commented on #7954
Fine with me to try the trial version. What do you need from engineering? Going to unassign myself for now.

[2019-06-26 22:26] pkarman commented on #10255
This PR may address this, since IMO this is a larger architectural issue.

https://github.com/department-of-veterans-affairs/appeals-deployment/pull/2092

I think we're blocked on this until we can get some space to consider our AWS provisioning.

[2019-06-26 22:27] #10937 closed

[2019-06-26 22:29] pkarman commented on #11043
This ultimately feels like a BGS data management problem, and not something Caseflow can work around in some cases (where all the modifiers are used up, as we have for some stuck jobs). I will work on escalation.

[2019-06-26 23:06] laurjpeterson commented on #10433
This is done, so closing!

[2019-06-26 23:06] #10433 closed

[2019-06-27 01:29] leikkisa commented on #11043
I agree. I was hoping it wouldn't happen this fast, but here we are! I will also bring it up in the BGS meeting tomorrow and ask if we can have a manual clean up done for the manually cleared and canceled claims.

They are working on removing a reliance on the PIF (seems to be another word for the modifier), but that is 6-8 months out.

[2019-06-27 01:31] leikkisa commented on #11202
The validation entails much more than whether a value falls within a set of specific values. It will be easier to describe when we do our walk through.

[2019-06-27 12:46] RachelSauter commented on #11183
Last one (https://appeals.cf.ds.va.gov/queue/appeals/3263705) needs an admin action task. Are you able to assign it to VLJ Support with the "missing records in file" task? The notes should say "The case file review worksheet references two Congressional emails dated 10/24/1018 and 5/16/2018, and states that these documents have been associated with the file. However, the Congressionals are not ass

[2019-06-27 13:20] lomky commented on #10551
After several discussions internally and with stakeholders, we're going to split the SuperAOD capability out completely from Super AOD. Tech spec updated & new ticket incoming for that.

[2019-06-27 13:23] lomky opened #11230 "New Org & Ability for Special Case Movement"
After several discussions internally and with stakeholders, it became clear that the capability of special advance on docket movement is a distinct capability not linked strongly to a Board Organization.

This ticket will create a caseflow org to manage the capability (org admin gives control of the membership, membership grants the ability).

See:
 - DVC tech spec
 - #10551
 - #10878
 - Discussio

[2019-06-27 13:49] hschallhorn commented on #11152
- [ ] Confirm that fix in #11177 works
- [ ] Determine if we want to fix cases charged to the wrong location in VACOLS

[2019-06-27 14:06] laurjpeterson commented on #11113
@lowellrex - added one more AC. Routing Translation Tasks to Translation team queue.

[2019-06-27 14:55] #11167 closed

[2019-06-27 15:06] pshahVA opened #11233 "Change Geo Matching to ignore state boundaries."
Background
Currently the geo matching to veterans allows the hearings team to determine the closest regional office to that veteran. This regional office is usually limited to the same state as the veteran with some exceptions.

Goals
This will keep the existing functionality, but match a Veteran to a regional office that is closest to their physical address, irrespective of state they live in.

Q

[2019-06-27 16:01] laurjpeterson commented on #7929
Hurrah! This was prioritized again by the Board! They're going to do another survey with judges to finalize the positive feedback to collect. When I hear back, I'll update the AC.

[2019-06-27 16:22] pshahVA opened #11235 "Update the bulk assignment feature to be compatible with pagination"
Background:
The bulk assignment was implemented prior to pagination.  However, the functionality needs to still work after pagination is implemented.

Related tickets for reference:
https://github.com/department-of-veterans-affairs/caseflow/issues/9621

## Acceptance criteria

- [ ] Bulk assignment continues to work as is once pagination features are complete

[2019-06-27 17:10] laurjpeterson commented on #10542
Connected with JW today. She proposes sneding this survey out to the entire BVA listserv so it's truly random, anonymous, and optional. She approves us adding a question about the user's role/team.

[2019-06-27 17:12] laurjpeterson commented on #11235
Another potentially relevant ticket - https://github.com/department-of-veterans-affairs/caseflow/issues/10951 - making bulk assignment work for other organizations.

VLJ Support Staff requested again today. Not urgent - he understands that things take time and would have to be prioritized by BVA.

[2019-06-27 18:43] pshahVA commented on #7954
I've reached out to headway to see if we can get a trial version to try it our in production.

[2019-06-27 20:20] #11049 closed

[2019-06-28 02:12] Sjones352 commented on #10203
@leikkisa can you please provide instructions on how I can validate this.

[2019-06-28 02:28] Sjones352 commented on #10795
Verified in Intake and VBMS that it updates asynchronously
![Screen Shot 2019-06-27 at 10.21.01 PM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/13d740ea-b95b-429a-a080-e21db2ff266c)

![Screen Shot 2019-06-27 at 10.21.17 PM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/e1535e0f-217a-4e88-a915-ac138098be4a)

https://appeals.cf.uat.ds.va.gov/higher_level_rev

[2019-06-28 02:30] #10795 closed

[2019-06-28 02:32] Sjones352 commented on #11125
@leikkisa can you please provide instructions on how this can be validated or rather do you have a file number with an S/SOC date before 2/19/2019 in UAT?

[2019-06-28 06:20] leikkisa commented on #11040
I canceled the above two claims. According to Jane SC 60137 was established for one of the above veterans (I believe this replaces SC 5611), and the other one was ineligible.

[2019-06-28 06:32] leikkisa commented on #10203
@Sjones352 We can only validate this in prod. We could validate it by trying to do an intake for for a known veteran with an incident flash. Veteran ID 282884 is one example.  It should prevent continuing with the intake for that veteran with an error message.

[2019-06-28 06:38] leikkisa commented on #10087
When I try the bgs version of can_access? directly with use_find_veteran_info set to false instead of true, it returns the correct error that the user cannot access the veteran.  I believe there was another ticket affected by this bug (unless it was the same issue!).

[2019-06-28 13:49] pshahVA opened #11240 "Display Email address of Veteran"
Background: A hearings coordinator needs to be able to see the Veterans email address as part of scheduling them for a tele hearing.

To do: Display the email address of the veteran in the "about the veteran" section near the address.

[2019-06-28 14:07] pkarman commented on #10087
You may have been thinking of #11042

It sounds like we might want to try both checks? Or revert to the BGS version? I'm not sure of the background on why the toggle-able option was added.

[2019-06-28 15:31] Chingujo commented on #8885
@ferristseng

Thank you so much for the awesome overview yesterday. Can you post a screenshot of the preview on this issue whenever you get the chance please?

@pshahVA was interested in seeing the view as well =D

[2019-06-28 15:49] ferristseng commented on #8885
@Chingujo @pshahVA Sure!

<img width="436" alt="Screen Shot 2019-06-28 at 11 34 36 AM" src="https://user-images.githubusercontent.com/1298274/60354713-d6d7f000-999a-11e9-9444-fa5f56b7ab4c.png">

[2019-06-28 16:24] pkarman commented on #11174
note on backfill:
[code]
should pull from BGS and write local.

[2019-06-28 17:21] pkarman commented on #11174
more backfill. where BGS record cannot be found, run:
[code]

[2019-06-28 17:22] pkarman commented on #11174
first pass taken at backfill in UAT and production.

[2019-06-28 18:04] pkarman opened #11243 "task closed_at not being set when status is completed"
See thread in https://dsva.slack.com/archives/C54QCEHAL/p1561740095098900

From production:
[code]

[code]

The before_update hook is apparently not always working. https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/task.rb#L460

[2019-06-28 18:34] pkarman commented on #10087
I think what's interesting is that `veteran.find_by_file_number` does not seem as strict about what the user can *write/modify* the veteran record. Whereas `claimants.find_flashes` is the more strict/accurate when it comes to whether the user can *write/modify*.

https://github.com/department-of-veterans-affairs/ruby-bgs/blob/2d0e08ea4157b725242777a6f876fc199f503b61/lib/bgs/services.rb#L72

What d

[2019-06-28 18:54] erluti commented on #10516
https://circleci.com/gh/department-of-veterans-affairs/caseflow/71526
[code]

[2019-06-28 21:11] laurjpeterson opened #11248 "Allow users to edit contentions when initially establishing a decision review"
The "sentence" issue text doesn't play well with other VBMS generated tools - like requests for exams or other letters. Users already now have the ability to edit the contention text in Caseflow _after_ an intake has been completed. They also want the ability to edit it as the decision review is being established.

## AC
- Users can edit contention text on the `Add/Remove Issues` screen before an

[2019-06-28 21:55] #8885 closed

[2019-06-28 21:55] #10291 closed

[2019-06-28 21:55] #10314 closed

[2019-06-28 21:55] #10555 closed

[2019-06-28 22:46] leikkisa opened #11249 "NoAvailableModifiers / Duplicate EP - modifier not being unlocked after claim closed"
### Background
Claims that are manually canceled or cleared in Share, and potentially in VBMS do not get their modifiers unlocked after they are closed.  This is causing claim establishment to fail, and we are unable to fix it ourselves in the case where all of a veteran's modifiers are locked due to this.

SR-001988 has been submitted to BGS.
https://escp.aac.va.gov/ServiceRequest/Details/13445?i

[2019-06-28 23:15] leikkisa opened #11250 "Veteran missing file number"
Slack thread:
https://dsva.slack.com/archives/CHX8FMP28/p1561568993027500

A veteran had a record returned when using fetch_veteran_info(file_number), but the record was missing a file_number so we were unable to create the Veteran. This caused a user to not be able to load dispatch/establish-claim

SR-001989
https://escp.aac.va.gov/ServiceRequest/Details/13446?isDraft=false

This requests a manua

[2019-06-28 23:24] leikkisa commented on #11175
Adding a note that the veteran doesn't seem to be missing from BGS altogether (I was able to do another BGS call for them), but they don't have a BIRLs record.  I have added this to the BGS agenda.

Related:
https://github.com/department-of-veterans-affairs/caseflow/issues/3660

[2019-06-28 23:35] #10152 closed

[2019-06-28 23:36] leikkisa commented on #10087
I think that's a good idea, that way we don't have to mess with where can_access is being used elsewhere.

[2019-06-29 02:43] pkarman commented on #11175
I worked around this with #11241 on the Caseflow side. We don't need to consider the file number present in the BGS response to know that a BGS record exists.

[2019-06-29 02:44] pkarman commented on #11250
We have worked around this on the Caseflow side with #11241

[2019-06-29 02:55] #11202 closed

[2019-06-29 02:55] #11214 closed

[2019-07-01 02:10] laurjpeterson opened #11252 "Motion to Vacate | Allow motions attorneys to assign Motion to Vacate tasks to judges"
As a Lit Support team member (commonly Motions Attorney, but keeping Lit Support team member to encompass other Lit Support roles we might not know about yet), I need to be able to assign a task to the judge who will decide the Motion to Vacate decision.

Here's a picture of what we think the task tree needs to look like:
https://app.mural.co/t/workqueue2001/m/workqueue2001/1564509468995/c8ff610a5

[2019-07-01 02:14] laurjpeterson opened #11253 "Motion to Vacate | Allow judges to assign motion to vacate tasks to decison-drafting attorneys"
After judges decide to grant the motion to vacate, they can create new tasks and assign them to their chosen their decision-drafting attorneys - either Straight Vacate and Readjudication or Vacate and De Novo.

If the judge chooses either `Straight Vacate and Readjudication` or `Vacate and De Novo`, they create the task as a child of the Judge Review Motion to Vacate task.

These tasks show in att

[2019-07-01 02:17] laurjpeterson opened #11254 "CANCELLED | Motion to Vacate | Decisions attorneys can check out drafted decisions back to their judge"
After decision-drafting attorneys write either the `Straight Vacate and Readjudication` or `Vacate and De Novo` decisions, they need to go through the typical attorney checkout flow to record their new decision (and new issue dispositions).

Check out consists of
- Action Send to judge
- Add decisions page
- Remand reasons (if applicable)
- Submit

### Straight Vacate and Readjudication (1 documen

[2019-07-01 02:22] laurjpeterson opened #11255 "Motion to Vacate | Judge check out"
Judges can check out `Straight Vacate and Readjudication` or `Vacate and De Novo` decisions to be dispatched by BVA dispatch.

Checkout flow includes:
- Ready for Dispatch Action
- Special issues (optional)
- Add decisions
- Remand reasons (optional)
- Evaluate decision

## AC
- Ensure these decision types can successfully go through the existing checkout flow

[2019-07-01 02:24] laurjpeterson opened #11256 "Litigation Support | Pulac-Cerullo reminders"
##### This is a subtask of #11683 and is the precedent for design follow-ups noted by Carolyn in comments below but now being tracked in #11969

## Story
As a..
- Lit support lead (?)
- motions attorney
- judge
- decision-drafting attorney
- dispatch team member
.. working a post-decisional motion case, I need to remember to (1) check the CAVC website for conflicts of jurisdiction and (2) notify L

[2019-07-01 12:04] lowellrex commented on #11113
Reminder that after we make the code changes for this PR that we should updated existing tasks that would have gotten bypassed had this code been live at the time they were created (the Missing hearing transcript, FOIA/Privacy Act, and Schedule hearing tasks [LP mentions above](https://github.com/department-of-veterans-affairs/caseflow/issues/11113#issuecomment-503206375)). That work can take plac

[2019-07-01 12:06] lowellrex commented on #7556
## Independence sprint (1-14 July) engineering priorities

@kevmo @lomky @hschallhorn, below are tickets that we will be working on related to this sprint. We will be using [Zenhub](https://github.com/department-of-veterans-affairs/caseflow#zenhub) to track progress on tickets.

### 1. Pagination (#10470)
1. Allow back-end to accept sorting and filtering #11052
1. Use API for sorting/filtering on

[2019-07-01 12:43] lowellrex commented on #11152
#1117 seems to have fixed the problem. #1117 was live in production at [10:48am eastern on 25 June 2019](https://dsva.slack.com/archives/C7VNGMYUQ/p1561473914075100). The one task (ID 152126) that was closed on 25 June and charged to the wrong VACOLS location was closed at 10:12am eastern, before this code was live.

![image](https://user-images.githubusercontent.com/32683958/60437263-fd389e00-9bd

[2019-07-01 13:28] lowellrex commented on #11152
We will relay the IDs of legacy appeals that are still charged to the incorrect VACOLS location to Corey and not attempt to change the VACOLS location on our end.

[2019-07-01 13:28] #11152 closed

[2019-07-01 14:33] lowellrex commented on #11183
Following up on this. The three appeals that @sharonwarner [created hearing tasks for](https://github.com/department-of-veterans-affairs/caseflow/issues/11183#issuecomment-505475295) have fallen off our list of legacy appeals charged to CASEFLOW with no active tasks in Caseflow. However, one new case has been charged to CASEFLOW that does not have any tasks in Caseflow (VACOLS ID 3465431), so we h

[2019-07-01 14:34] pkarman opened #11257 "Allow Intake for Veteran without a SSN"
A Veteran may legitimately not have a SSN and that should not prevent Intake.

During the initial Intake search, a missing SSN on the BGS record currently prevents the user from proceeding.

Contact @pkarman for an example file number.

[2019-07-01 15:34] #9614 closed

[2019-07-01 16:50] aroltsch commented on #10325
1. Where do we save dispositions for motion to vacate tasks?
1. Is this decision going to be appealed in the future?
1. If a user should see notes the motions attorney left them, does it mean that this task was under attorney's review first?

[2019-07-01 17:10] laurjpeterson commented on #10325
1. I'd love to hear a recommendation for this architecture for where motions dispositions should live in our data model.
2. Potentially, yes.

[2019-07-01 17:12] lomaxap commented on #11233
As of 07/01/2019, 30,000+ appeals RO distribution

| RO | # |
|:--:|:--:|
| RO63 | 120 |
| RO62 | 1585 |
| RO29 | 1420 |
| C | 1719 |
| RO19 | 797 |
| RO06 | 415 |
| RO25 | 893 |
| RO13 | 214 |
| RO09 | 1028 |
| RO18 | 1638 |
| RO35 | 592 |
| RO58 | 20 |
| RO27 | 390 |
| RO38 | 119 |
| RO03 | 34 |
| RO07 | 215 |
| RO02 | 161 |
| RO46 | 656 |
| RO77 | 675 |
| RO04 | 105 |
| RO44 | 845 |
| RO52 | 15

[2019-07-01 17:17] pkarman opened #11260 "hearing days created_by and updated_by should be FKs"
Right now we store CSS id on the `hearing_days` model for `created_by` and `updated_by`. We should use AR associations instead.

e.g.
[code]

This will require a schema change and data migration. Also, db seeds will likely need to change.

[2019-07-01 18:09] laurjpeterson commented on #9341
@lowellrex - can we estimate this, then prioritize it for next sprint?

[2019-07-01 18:21] geronimoramos commented on #11252
![LP AC](https://user-images.githubusercontent.com/49766982/60457969-3da31680-9bf2-11e9-9a66-180fa5458886.gif)
Quick mockup to reflect the AC, cc @laurjpeterson

[2019-07-01 18:22] laurjpeterson commented on #11252
Amazing! Thank you @geronimoramos

[2019-07-01 18:47] laurjpeterson commented on #11183
- go for it!

- Unfortunately I don't have VACOLS right now so I can't check prior locations. Do you know if this was at an attorney before it went to VLJ Support the first time?

- yes, I'll do this

[2019-07-01 19:09] lowellrex commented on #10915
Closing in favor of #11113.

[2019-07-01 19:09] #10915 closed

[2019-07-01 19:12] #10002 closed

[2019-07-01 19:20] laurjpeterson commented on #11230
Idea: start with cases that are ready to distribute --> JudgeAssignTask

[2019-07-01 19:21] lowellrex opened #11263 "Allow "Special case movement" org members to distribute cases out of order"
Related to #11230.

## Acceptance criteria
* [ ] Allow cases that are ready for distribution to be distributed to a specific judge if the current user is a member of a `Special case movement` organization

[2019-07-01 19:22] lomky commented on #11230
Pulled out the org creation and the simplest case (ready to distribute -> assigned to judge) out into the issue #11263

[2019-07-01 19:32] #7999 closed

[2019-07-01 19:33] laurjpeterson commented on #9677
Note: Team admins likely want the ability to do any of the same actions their team member could do - not just complete.

[2019-07-01 20:05] youngfreezy commented on #7556
Unsubscribe

On Mon, Jul 1, 2019 at 8:06 AM Lowell Wood <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2019-07-01 20:37] leikkisa commented on #11257
Some notes:
We have some Veterans who seem to be missing a file number (there is an SR to BGS to backfill these if possible), and now a Veteran who is legitimately missing an SSN because they are from the Philippines (this ticket).

Peter has added SSN to the Veteran table.   Currently many of our tables use file_number as a point of reference, so that would probably be preferred for now (eventual

[2019-07-02 12:30] #11196 closed

[2019-07-02 14:51] pkarman commented on #10087
I notice that we can find a user by participant_id as well, so that might help us identify the edge case where the user and the veteran are the same person.

[2019-07-02 15:16] monfresh opened #11268 "Refactor SelectDispositionsView.jsx to make it smaller"
Our [eslint config](https://github.com/department-of-veterans-affairs/eslint-config-appeals/blob/master/.eslintrc.js#L120) allows JS files to be up to 400 lines long. PR #11231 added one line to `SelectDispositionsView.jsx` that made it 401 lines long. I wasn't sure how to refactor the file, so we disabled the `max-lines` check in that file temporarily, and we are opening this issue to fix it with

[2019-07-02 15:52] monfresh commented on #11257
Could you please point me at the code where we specifically check for SSN in BGS? I've been looking at the path via `IntakesController#create`, which led me to `Veteran.find_by_file_number_or_ssn` and `Veteran.find_or_create_by_file_number`. From what I can tell, the validations are based on the `file_number` that is passed in as a param in the controller, which might or might not be an SSN, right

[2019-07-02 16:34] pkarman commented on #11257
https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/veteran.rb#L218

Here's the logical flow:

* for any string of length 9, we assume it is a SSN and ask BGS to tell us the corresponding file_number for that SSN.
* often, BGS will return the same string (the SSN) which is being used as the file number in BGS/VBMS. So we store it as the file_number on the veteran reco

[2019-07-02 17:22] leikkisa commented on #11257
@monfresh And here is where the validation happens for intake:
https://github.com/department-of-veterans-affairs/caseflow/blob/2bc4fd2d04b65ee0a5565a4bb12b182c3ea5a99e/app/models/veteran.rb#L19

[2019-07-02 18:00] leikkisa commented on #10087
Some notes from David Hamilton, in case we decide to use these (not sure if it's necessary).

There are two services you will need to call to determine if a veteran or a relative is employed at the station. First you will need to call

http://bepwebtest.vba.va.gov/PersonWebServiceBean/PersonWebService?wsdl
findEmployeeByFileNumber (or ParticipantId)

This will return an EmployeeDTO with a List of

[2019-07-02 18:04] lowellrex commented on #11183
Charged legacy appeal VACOLS ID 3933377 to VLJ Scire.

As far as I can tell, legacy appeal VACOLS ID 3263705 has never been assigned to an attorney. According to [our list of VACOLS locations](https://github.com/department-of-veterans-affairs/appeals-support/blob/master/Knowledge%20Base/VACOLS%20Location%20Codes.md) the previous locations for the appeal are as follows:

[code]

[2019-07-02 18:54] #11243 closed

[2019-07-02 19:18] pkarman commented on #11139
deployed to production. so far we can see a great deal of overlap in the SSN and the file number we have stored:
[code]

[2019-07-02 19:23] msj0nes commented on #11205
@laurjpeterson any update on this for VLJ Larkin

[2019-07-02 19:48] laurjpeterson commented on #11205
@lomaxap's got it!

[2019-07-02 20:00] #10823 closed

[2019-07-02 20:16] monfresh commented on #11257
Is there a stack trace for this particular veteran? I'd like to see the entire flow leading up to the error if possible. Otherwise, do we know the answers to these questions?

- Was the file number submitted 9 digits long?
- Did BGS return anything for that file number?
- If BGS returned something, was it the same as the string that was supplied?
- Was there already a Veteran record in Caseflow fo

[2019-07-02 20:23] pkarman commented on #11257
No. Typicaly 8 digit file number.

Yes. There is a veteran record in caseflow, id 274602

I assume you mean the `fetch_file_number_by_ssn` BGS call? That was not attempted because the file number is 8 digits.

Yes.

If you find the veteran in production with the id above, you can see the BGS ssn is nil with

[code]

[2019-07-02 20:34] laurjpeterson opened #11278 "Add `Stayed appeal` admin action task for AMA and Legacy appeals"
VA has issued a stay on blue water navy Veterans. The Board wants to add a `Stayed appeal` admin action task (also called `ColocatedTask`) to capture these appeals.

## AC
- Add `ColocatedTask` called `Stayed appeal`
- This task can be added to both Legacy and AMA appeals
- `Stayed appeal` is routed to VLJ Support Staff organization (which is then auto-routed to an individual on the VLJ Support St

[2019-07-03 00:07] leikkisa commented on #11175
I'm reopening this ticket due to the flurry of activity here:
https://dsva.slack.com/archives/CHX8FMP28/p1562074852159400

[2019-07-03 00:30] kevmo opened #11281 "Missing VACOLS hearing record causes page at /tasks/<id> to fail."
Sometimes VACOLS hearings have been deleted, but a reference to them remains in the Caseflow Postgres database. Then, when the `HearingRepository#load_vacols_data` method is run, the application fails.

This ticket exists to explore whether and how to deal with this situation such that the page still loads, but the missing hearing does not silently fail.

Related Slack messages: https://dsva.slack

[2019-07-03 01:06] leikkisa commented on #11175
In this case, the veteran's child was erroneously listed as the veteran on the legacy appeal.

I think we've seen this before, so here are two steps to find the veteran
1. BGS find_by_ssn on the legacy appeal's file number, this provided the person's participant id, and indicators that they were not in the military or a veteran.
2. BGS find_all_relationships with the person's participant_id, this

[2019-07-03 14:02] pkarman commented on #11109
As part of this it would be helpful if the `SlackService` library could route to different channels.

[2019-07-03 14:12] #11205 closed

[2019-07-03 14:29] lomaxap opened #11285 "Use Updated Table for Hearing Schedule"
We currently use an older version of the `Table` Component for both `/hearings/schedule` and `hearings/schedule/assign`, we should update this to use [`QueueTable`](https://github.com/department-of-veterans-affairs/caseflow/blob/master/client/app/queue/QueueTable.jsx)

this will also resolve #9674

[2019-07-03 16:20] pkarman commented on #11109
## Proposal

An abstract class called `DataIntegrityChecker`:

[code]

A single job called `DataIntegrityChecksJob` that loads all subclasses of `DataIntegrityChecker` and runs them. E.g.

[code]

[2019-07-03 16:46] laurjpeterson opened #11288 "Investigation | How to implement stays"
# Context
VA has issued a stay on blue water Navy Veterans. The Board would like our input in how we might easily implement stays.

There is no easy way to identify blue water Navy Veterans right now. That is, there is no single data point we can look to in any VA system. Attorneys would identify that the case needs a stay when they begin reviewing the file. So, these stayed cases would only be id

[2019-07-03 16:58] pkarman commented on #10851
Whomever picks this up should refer to the API doc draft here:

https://github.com/department-of-veterans-affairs/caseflow/blob/pek-api-docs/docs/caseflow-apis.md#vettext--hearings-draft

Veteran ssn is now cached locally in Caseflow so that should help performance.

[2019-07-03 17:00] pkarman commented on #11109
@lomaxap @tomas-nava @lowellrex @aroltsch curious to know what you think of this proposal.

[2019-07-03 17:11] lowellrex commented on #11109
Makes sense to me. Do we have a list of jobs that this model would replace?

[2019-07-03 17:23] pkarman commented on #11109
to start,

* UntrackedLegacyAppealsReportJob
* the async job report currently hacked in to PrepareEstablishClaimTasksJob
* some combination of #10925 and #11169

[2019-07-03 17:45] #11120 closed

[2019-07-03 18:10] #10293 closed

[2019-07-03 18:19] leikkisa commented on #11288
I would lean towards the second option. We use a similar pattern for remand supplemental claims, which will probably also be used for 930s.  So if there's a "Stayed" action on an issue, we can generate the "Stayed Appeal" (which is linked to the original appeal) and move the issue to it.

That is on the data side, and it's not hard to find them in the data.  That said, our UI for navigating remand

[2019-07-03 18:29] leikkisa commented on #11288
I'm still learning about the task world, but if stayed appeals need a task anyway (does that affect how it gets assigned?), then we might be able to make this a staged approach with a combination of 1 and 2.

[2019-07-03 18:52] laurjpeterson opened #11292 "Add Stayed as an option for a request issue"
Sometimes, VA issues a "stay" on certain issues or appeals. We'd like to mimic what we've done for withdrawn issues for stayed issues, and allow Caseflow users to mark certain request issues as Stayed from the Add/Remove Issues and Edit Issues screen of Caseflow Intake.

## AC
- The option `Stayed` has been added to the dropdown
- When the user selects `Stayed`, the request issue gets a `closed_at

[2019-07-03 19:00] hschallhorn commented on #11113
I've got a few questions after looking into this. Within Caseflow, it appears that VLJ Support Staff only have the ability to directly act on

1. `translation` tasks, by [sending to the translation team](https://github.com/department-of-veterans-affairs/caseflow/blob/dc0b6c493db899f11e5018e0df4e7eead0344111/client/constants/TASK_ACTIONS.json#L189)
2. `schedule_hearing` tasks, by [sending to the sc

[2019-07-03 19:02] aroltsch commented on #11109
This looks good to me!

[2019-07-03 19:11] laurjpeterson commented on #11113
1. VLJ Support Staff typically sends `missing_hearing_transcript` and `foia` tasks to their respective teams, hearing branch and privacy team. We didn't build the ability for them to send `missing_hearing_transcript` tasks to the hearing branch because we didn't have those requirements at the time (and now do!)

2. Yes!

[2019-07-04 01:20] #11257 closed

[2019-07-05 15:44] pkarman commented on #11175
Fixed in VACOLS. The steps were:

[code]

[2019-07-05 15:44] #11175 closed

[2019-07-05 16:49] pkarman opened #11301 "Relationship to veteran show correctly throughout Caseflow"
## Description
All claimants have a relationship to the veteran, whether it's a specific type of dependent (Parent, Child, Spouse), or an Attorney (for both listed and unlisted attorneys).  This is shown to the user on some pages, such as the Add Issues page and the non-compensation line of business queues.

At this point, we have confirmed that the relationship type is showing correctly on Add an

[2019-07-05 16:54] pkarman opened #11302 "DecisionReviewTask does not respect "closed" issues in validity check"
The `validate_decision_issue_per_request_issue` does not filter out closed issues (removed, withdrawn).

[2019-07-05 18:10] #11302 closed

[2019-07-05 19:14] kevmo commented on #11281
It appears as though this method is also raising errors in the `HearingDispositionChangeJob`.

[2019-07-08 13:19] lowellrex opened #11307 "Allow organization queue table configuration to accept filtering"
Spinning this out of #11052.

#11049 uses tasks from each tab's `tasks` element in the configuration returned from the back-end instead of the tasks from the global redux store. This ticket exists to enable the back-end to return those tasks filtered by their properties (the ability for the front-end to send these requests will be completed as part of a later PR). A quick sketch of one way this co

[2019-07-08 13:41] lomky commented on #10551
@laurjpeterson are you satisfied that our tech spec work is complete? I'm good to close this issue if you are!

[2019-07-08 13:42] kevmo opened #11308 "Legacy hearings getting stuck in cancelled disposition."
Hearings team is reporting that legacy hearings are getting stuck in location 57 in VACOLS.  Hearing dispositions become `cancelled` rather than `postponed`, and the users are unable to change dispositions, because the case becomes "locked" when put in location 57. User actions are also removed in this situation.

It is likely that we are not creating new ScheduleHearingTasks the way we should be

[2019-07-08 13:43] lowellrex opened #11309 "Enable TaskTable to use API requests to filter tasks"
Spun out of #11054.

The `TaskTable` component currently manages filtering only on the front-end. This ticket exists to enable us to pass filters from the front-end as part of the pagination API requests we make so that we can filter large queues. At some point we will migrate all queues to using the pagination API but are not doing that migration in a single step so we need to support both method

[2019-07-08 13:45] lowellrex opened #11310 "Cache responses from queue pagination API"
Implement some way to store responses from the pagination API in state (result sets keyed off of the combination of filters/sorts/pages?) so we don't have to make an API request for all new page requests, filter changes, and re-sorting with a loading spinner when those API requests are in flight. This caching allows us to prevent making additional API calls when the pagination API has already retu

[2019-07-08 13:46] #11054 closed

[2019-07-08 13:47] laurjpeterson commented on #10551
Yes!

[2019-07-08 13:50] lowellrex opened #11311 "Enable back-end sorting of tasks by docket type and number"
#11247 established the pattern for how the pagination API will sort tasks for the queue on the back-end but did not enable sorting by all fields. This ticket exists to enable sorting by docket type and number through the pagination API that mirrors [how we sort by that field on the front-end](https://github.com/department-of-veterans-affairs/caseflow/blob/0377b8d0a0d77a81a070c82c6bd336600885cfa3/c

[2019-07-08 13:52] #10551 closed

[2019-07-08 13:53] lowellrex opened #11312 "Enable back-end sorting of tasks by Veteran last name"
#11247 established the pattern for how the pagination API will sort tasks for the queue on the back-end but did not enable sorting by all fields. This ticket exists to enable sorting by Veteran last name through the pagination API that mirrors [how we sort by that field on the front-end](https://github.com/department-of-veterans-affairs/caseflow/blob/0377b8d0a0d77a81a070c82c6bd336600885cfa3/client

[2019-07-08 13:55] lowellrex opened #11313 "Enable back-end sorting of tasks by regional office"
#11247 established the pattern for how the pagination API will sort tasks for the queue on the back-end but did not enable sorting by all fields. This ticket exists to enable sorting by closest regional office city through the pagination API that mirrors [how we sort by that field on the front-end](https://github.com/department-of-veterans-affairs/caseflow/blob/0377b8d0a0d77a81a070c82c6bd336600885

[2019-07-08 13:56] lowellrex opened #11314 "Enable back-end sorting of tasks by issue count"
#11247 established the pattern for how the pagination API will sort tasks for the queue on the back-end but did not enable sorting by all fields. This ticket exists to enable sorting by issue count for the appeal through the pagination API that mirrors [how we sort by that field on the front-end](https://github.com/department-of-veterans-affairs/caseflow/blob/0377b8d0a0d77a81a070c82c6bd336600885cf

[2019-07-08 13:59] lowellrex opened #11315 "Enable back-end sorting of tasks by appeal type"
#11247 established the pattern for how the pagination API will sort tasks for the queue on the back-end but did not enable sorting by all fields. This ticket exists to enable sorting by appeal type (AOD, CAVC remand, original) through the pagination API that mirrors [how we sort by that field on the front-end](https://github.com/department-of-veterans-affairs/caseflow/blob/0377b8d0a0d77a81a070c82c

[2019-07-08 14:00] lowellrex opened #11316 "Enable back-end sorting of tasks by assignee name"
#11247 established the pattern for how the pagination API will sort tasks for the queue on the back-end but did not enable sorting by all fields. This ticket exists to enable sorting by assignee name through the pagination API that mirrors [how we sort by that field on the front-end](https://github.com/department-of-veterans-affairs/caseflow/blob/0377b8d0a0d77a81a070c82c6bd336600885cfa3/client/app

[2019-07-08 14:09] lowellrex opened #11317 "Enable back-end sorting of tasks by number of days on hold"
#11247 established the pattern for how the pagination API will sort tasks for the queue on the back-end but did not enable sorting by all fields. This ticket exists to enable sorting by number of days on hold through the pagination API that mirrors [how we sort by that field on the front-end](https://github.com/department-of-veterans-affairs/caseflow/blob/0377b8d0a0d77a81a070c82c6bd336600885cfa3/c

[2019-07-08 14:10] lowellrex opened #11318 "Enable back-end sorting of tasks by assigner"
#11247 established the pattern for how the pagination API will sort tasks for the queue on the back-end but did not enable sorting by all fields. This ticket exists to enable sorting by task assigner through the pagination API that mirrors [how we sort by that field on the front-end](https://github.com/department-of-veterans-affairs/caseflow/blob/0377b8d0a0d77a81a070c82c6bd336600885cfa3/client/app

[2019-07-08 14:14] #11052 closed

[2019-07-08 14:23] lowellrex opened #11319 "Unify how we sort task types on front- and back-end"
As [noted in the pull request](https://github.com/department-of-veterans-affairs/caseflow/pull/11247#pullrequestreview-257757985) that introduced back-end sorting of tasks by task type, the front-end and back-end do not return tasks in the same order when we request they be sorted by task type. The front-end uses the task's label field while the back-end uses a combination of task type name and th

[2019-07-08 15:16] lomky commented on #11263
Chatted with LP. Going to Name the Org/Ability ExtrodinaryCaseAdvancement, as apparently this is not related to AOD motionss (appellants are often already AOD) and I'd like to avoid conflating real AODs. Instead I'll allow the user to optionally mark AOD as a part of the action. Any current Judge associated with the case will be the default judge selected as the assignee. Instructions will be requ

[2019-07-08 15:20] lowellrex commented on #9757
Design team (@sneha-pai @carodew) do y'all have a preference about whether we show a tab or not for queue table views that only have a single tab?

With tab | Without tab
--- | ---
![image](https://user-images.githubusercontent.com/32683958/60821588-d812d500-a171-11e9-9fa6-e6dbca4efa13.png) | ![image](https://user-images.githubusercontent.com/32683958/60821796-3d66c600-a172-11e9-9c07-ddb597f1e0fa.

[2019-07-08 15:37] laurjpeterson commented on #11288
Can you say more about how you might define a "Stayed appeal" and how it's different than just adding a stayed issue to a newly established appeal?

I agree, it likely will end up being a combo of 1 and 2. Depending on the LOE and time it takes to build each of these, we'd give a suggestion for whether we implement 1 before 2. It seems like 1 is lower effort, but I'd love your engineering thoughts

[2019-07-08 16:00] lowellrex commented on #11311
Quick sketch at how we can at least sort by docket type in a single statement ([looker link](https://caseflow-looker.va.gov/sql/pv6rhp3fydjjd4)):

[code]

Including docket number in the sort requires a request to VACOLS so getting that information for `LegacyAppeal`s may be a little more involved.

[2019-07-08 16:05] #5390 closed

[2019-07-08 16:29] pkarman opened #11322 "request issue missing benefit type"
Some request issues are missing a `benefit_type` during intake, which results in a `nil` value for the corresponding `BusinessLine` assignment for non-comp task creation.

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5298/events/392841/

[2019-07-08 16:30] pkarman commented on #11322
Example of what is happening:
[code]

[2019-07-08 17:34] leikkisa commented on #11288
For your first question, the main difference is that a stayed appeal would be connected to the original appeal, where as a regular original appeal isn't connected to another appeal.

For your second question, that's what I was thinking too. So early on they could process appeals that are all stayed, and then we could add the functionality to have partially stayed appeals.

[2019-07-08 19:05] #11102 closed

[2019-07-08 19:16] erluti opened #11323 "Lighthouse API - expand spec to include status after HigherLevelReview is accepted"
This PR introduced a spec for upcoming lighthouse API work: https://github.com/department-of-veterans-affairs/caseflow/pull/11216
We need to add support for the status of an accepted HigherLevelReview.

[2019-07-08 20:14] carodew commented on #9757
hi @lowellrex ! Some context questions – do we expect that these users (VSOs?) will ever see other tabs in the queue table in future iterations? Are there other potential views for these users in which they'd see multiple tabs, or is it and will it only ever be the one tab/view? (also pinging @laurjpeterson in case she has ideas about what the future holds).

[2019-07-08 20:54] laurjpeterson commented on #11292
Discussion: adding this to the dropdown and closing them as stayed is easy. However, we would need to figure out how to "re-open" the Stayed issue, which is higher effort. We think we'll be doing a similar thing with post-decisional motions, in that they have to add another decision document on an appeal post-decision, and that might be a pattern to follow.

[2019-07-08 20:57] laurjpeterson commented on #9757
@carodew - Based on what we know now, I don't think field VSOs will need to see other tabs because they don't have tasks assigned to them. Field VSOs do not write IHPs like national VSOs do. (It can be confusing because national VSOs, like American Legion, might have people stationed in field offices. But they are different in kind because they do write IHPs.)

[2019-07-08 21:42] lowellrex commented on #11311
### Problem

On the front-end we can sort by docket type and number because those values are fetched during the task (really appeal) serialization step and are available on the front-end. The pagination API aims to be as efficient as possible and therefore (probably) cannot afford to load ~5,000 objects into memory before sorting.

In order to sort by docket number in addition to docket type (sort

[2019-07-08 22:34] erluti opened #11328 "Lighthouse API - mock response from creating a higher level review"
The route and endpoint should be set up so developers can start testing their code.  It should return mocked data, but not actually create any database entries.

[2019-07-09 13:10] lowellrex commented on #11314
We can sort by number of request issues for AMA `Appeal`s using the [following SQL statement](https://caseflow-looker.va.gov/sql/n86ys9yg2mzthr) (and probably some equivalent ActiveRecord function chain):

[code]

However, we run into a problem because request issues for `LegacyAppeal`s are stored in VACOLS so we need information from two databases. We avoid this problem on the front-end because w

[2019-07-09 13:32] lowellrex commented on #11315
Run into [the same previously described issue](https://github.com/department-of-veterans-affairs/caseflow/issues/11311#issuecomment-509403176) of needing information from two database systems. `LegacyAppeal`s get AOD and CAVC information from VACOLS's `brieff` table and `Appeal`s get this information from the Postgres database (with a call to BGS that we need to investigate as well). Will need to

[2019-07-09 13:38] carodew commented on #9757
Makes sense. In that case, I don't think there's any value in showing them one tab, since we're not trying to prime them to expect future tabs to be added, and they're not going to see these tabs in any other part of the interface (so they're unlikely to notice them missing and get confused). So my recommendation would be to go with the 'without tabs' version.

[2019-07-09 13:39] lowellrex commented on #9757
Sounds good! We'll go tabless!

[2019-07-09 13:48] sharonwarner opened #11331 "Submit undefined on QueueTaskModal"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5677/

It looks like `https://appeals.cf.ds.va.gov/queue/appeals/3966040/tasks/3966040/modal/assign_to_attorney` is not sending submit to the QueueTaskModal correctly.

[2019-07-09 13:53] sharonwarner opened #11332 "Object undefined in STAGE_APPEAL reducer"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5676/

Looks like this could be a data issue with this particular appeal.

[2019-07-09 14:19] hschallhorn commented on #11176
@laurjpeterson Did we even confirm whether or not we wanted to make translation tasks blocking? https://dsva.slack.com/archives/C6E41RE92/p1561552583119500

[2019-07-09 14:25] laurjpeterson commented on #11176
Yes, it Rachel confirmed it should be blocking:

https://dsva.slack.com/archives/C6E41RE92/p1561556004126000?thread_ts=1561552583.119500&cid=C6E41RE92

[2019-07-09 14:52] lowellrex opened #11334 "Only serialize fields displayed in columns for paginated queues"
Since we [use a configuration to determine which fields](https://github.com/department-of-veterans-affairs/caseflow/pull/11006) we are displaying on the queue table view, the back-end knows which fields are being displayed on the front-end and we can limit the amount of data our serializers collect and avoid unnecessary database/API requests as a result. Let's start by rolling this change out to p

[2019-07-09 14:55] ferristseng opened #11335 "Refactor print route to separate controller"
Refactor print method to new controller

Make authorization clearer by removing the inheritance chain

See https://dsva.slack.com/archives/C42P25D6H/p1562682961115800 for a discussion

[2019-07-09 15:16] monfresh opened #11336 "Exception in LoadingDataDisplay: Invariant Violation: Objects are not valid as a React child (found: object with keys {})."
[Sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5669/).

The offending line is:
[code]
because both `duplicateNumberTitle` and `accessDeniedTitle` are set to a hash:
[code]
as opposed to similar code where we set it to a String:
[code]
[code]

[2019-07-09 15:21] hschallhorn opened #11337 "Migrate ColocatedTasks to their respective subclasses"
As a midway point to #11113, we created subclasses for each Colocated task action in #11295. The next step in #9057 is to migrate all ColocatedTasks in production to their new subclasses.
This can be done by updating the type of the task.
[code]

### AC

- [ ] Update task type of all `ColocatedTask`s in production to their respective subclass

[2019-07-09 17:16] laurjpeterson commented on #11198
Questions clarified:

1. Can you confirm the time window we're evaluating for "Monthly" metrics is June 1 - June 30? and "Quarterly" metrics April 1 - June 30? If it's through the end of the month, what is the exact date that these metrics are due? Yes, it’s for the calendar month. And yes, it’s the calendar quarter, not the fiscal quarter, so you’ll give us from April 1 to June 30.
1. Mean (avera

[2019-07-09 17:25] lowellrex commented on #11311
We're going to proceed with option 1 here. We will create a table devoted specifically to caching fields that can be sorted/filtered in the queue table view. We will write a job that populates this table on a regular basis (at least daily, maybe as often as hourly) from two requests, one each to VACOLS and Caseflow.

Next step on this ticket will be to write the portion of that job that will fetch

[2019-07-09 17:33] monfresh commented on #10901
What is the reason for continuing to send this (and other known VBMS errors) to Sentry only to mute them? Why not stop sending them to Sentry forever?

[2019-07-09 17:49] monfresh commented on #10901
In this case, this seems like a VBMS issue. We are not posting any documents to VBMS. This error happens when we request documents for a particular appeal. It sounds like some appeals have a large result set that VBMS is unable to send back as a response? Searching for `DocumentTooBig` in Slack, I don't see any discussions about this. I will start one.

[2019-07-09 17:53] monfresh commented on #10901
According to this related issue, there is a VBMS pagination API we could be using: https://github.com/department-of-veterans-affairs/caseflow/issues/10665#issuecomment-494138528

[2019-07-09 18:09] edmangimelli opened #11339 "API Consumers don't have a list of the possible error responses/statuses for the HLR endpoint"
For the Lighthouse, Higher-Level Review endpoint, we want to enumerate all of the possible error responses that an API consumer can expect. Adding them to the openapi spec for the Higher Level Review endpoint as individual example error response seems like it would be the best way to go about this.

PR
https://github.com/department-of-veterans-affairs/caseflow/pull/11330

Lighthouse Ticket
https:/

[2019-07-09 18:12] edmangimelli commented on #11339
Related Lighthouse Ticket

https://app.zenhub.com/workspaces/developervagov-5ac272fff41bfa50c0e46c48/issues/department-of-veterans-affairs/vets-contrib/2589

[2019-07-09 18:14] monfresh opened #11340 "JSON::ParserError in efolder_service.rb"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4891/

At first glance, it looks like code assumes the response will always be a 200 and parseable as JSON. It doesn't handle the case where the request times out or returns some other unsuccessful response.

There are 54 events in Sentry, all in the same line of code when trying to fetch an appeal's documents in Reader. Most

[2019-07-09 18:58] lomky commented on #11263
- [ ] Selectable Task Action
  - [ ] Action based on org (see Generic)
  - [ ] TASK ACTION
  - [ ] Router in client app
- [ ] New Action Route (See EndOnHold)
  - [ ] New Modal
    - Judge to assign
    - checkbox for AOD
    - Instructions
  - [ ] new route
    - restricted to org users
- [ ] new org
  - Consider pulling out 'capablity' orgs versus 'structural' orgs oin model?
- [ ] New Task Type

[2019-07-09 19:23] lowellrex commented on #11183
@laurjpeterson do we have any updates on these cases?

[2019-07-09 20:33] pkarman opened #11342 "new exception class for no end products returned"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4110/

Create a custom exception class for when zero EPs are returned from BGS `get_end_products`

[2019-07-09 21:00] #10760 closed

[2019-07-09 21:19] monfresh opened #11343 "Remove feature toggle check for `decision_document_upload`"
It is now enabled for all users: https://github.com/department-of-veterans-affairs/appeals-deployment/pull/2135

[2019-07-09 21:21] #11109 closed

[2019-07-09 22:08] pkarman opened #11348 "Verify contentions exist in VBMS before allowing editing of request issues"
The most frequent error in our async job queue for `RequestIssuesUpdate` is the `ContentionNotFound` error. We believe this is because users are manually deleting contentions directly in VBMS, making the reference ids in Caseflow point at non-existing records.

In order to prevent those kinds of errors, we want to (a) limit manual deletion in VBMS (we have an open request for that) and (b) verify

[2019-07-10 13:30] lowellrex opened #11349 "Fix BulkAssignModal when front-end does not have access to all tasks"
The `BulkAssignModal` currently [populates values](https://github.com/department-of-veterans-affairs/caseflow/blob/a97f887101a5f6148798584e853b49edcf83c05c/client/app/queue/components/BulkAssignModal.jsx#L222) in the regional office and task type dropdown menus by collecting all unique values for those fields from the set of tasks available in the global redux store.

![image](https://user-images.

[2019-07-10 13:53] #9757 closed

[2019-07-10 14:47] pkarman opened #11351 "add created_by/updated_by to hearings model"
Similar to #11260 add a `created_by_id` and `updated_by_id` columns to the `hearings` model.

[2019-07-10 14:55] #10851 closed

[2019-07-10 15:20] pkarman commented on #11124
@Chingujo Is #1125 the correct link? that looks like a very old (closed) ticket.

[2019-07-10 15:47] pkarman opened #11353 "IDT outcode file name"
from Paul:

https://dsva.slack.com/archives/CD5DAQNCU/p1562770182062400

[2019-07-10 15:50] BVA-IDT commented on #11353
Filename here is the file description in VBMS, not the name of the file when downloaded.  By file description I mean what is shown when browsing the list of cases in Reader.

[2019-07-10 18:07] monfresh opened #11354 "IDT Outcode: Return more helpful error message when citation number already exists"
Currently, when IDT tries to outcode an appeal with an existing citation number (tied to a different appeal), the controller returns a 200 because the `ActiveRecord::RecordNotUnique` error message is not rescued.

Instead of raising exceptions for expected scenarios and rescuing them (an anti-pattern), we should be adding validations using `ActiveModel::Model` in `LegacyAppealDispatch` and `AmaApp

[2019-07-10 18:28] monfresh commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/72938
[code]

[2019-07-10 18:57] edmangimelli opened #11356 "Adding rating issues and unidentified issues to HLR endpoint issue types, and specifying ID for issues that already exist"
Two things:

As of right now, the HLR endpoint isn't set up for rating issues and unidentified issues (just non-rating issues)
[code]

Also, to make sure we tie issues back to where they already live in DBs, one should be able to optionally specify an ID.
More about this:
https://github.com/department-of-veterans-affairs/caseflow/pull/11330#discussion_r302214605

So I'm thinking that json above sh

[2019-07-10 19:41] monfresh opened #11359 "Cannot read property 'getOffsetForCell' of null in app/reader/PdfFile.jsx"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5670/

[2019-07-10 19:44] monfresh opened #11360 "Unspecified error in pdfjs-dist/build/pdf in save"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5673/

[2019-07-10 19:47] monfresh commented on #10864
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5674/

[2019-07-10 20:00] monfresh commented on #10698
I think this might be related:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5675/

[2019-07-10 20:09] monfresh opened #11361 "Reader: Invalid number:   (charCode 0)"
UnknownErrorExceptionpdfjs-dist/build/pdf in ?

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3013/

[2019-07-10 20:12] monfresh opened #11363 "Reader: Unexpected call to method or property access."
pdfjs-dist/build/pdf in ctx

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/2188/

[2019-07-10 20:15] monfresh commented on #10813
Another instance here while fetching efolder:
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3020/events/394341/

[2019-07-10 20:20] monfresh commented on #11336
Here's another one in the same file due to `PROMISE_RESULTS` being set to a hash.
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4885/events/394572/

[2019-07-10 20:22] monfresh commented on #11336
@hschallhorn I think you touched this code last. Any ideas here?

[2019-07-10 20:28] monfresh commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/73003
[code]

[2019-07-10 20:29] monfresh commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/72990

[code]

[2019-07-10 21:07] sharonwarner opened #11366 "DistributionError not handled correctly"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3584/

[2019-07-10 21:09] sharonwarner opened #11368 "AttorneyTask - User attempted to assign to a non-attorney"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3878/

[2019-07-10 21:10] sharonwarner opened #11369 "User attempted to create duplicate PrivacyActTasks"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4902/

[2019-07-10 21:11] sharonwarner commented on #11369
Closing in favor of #10934

[2019-07-10 21:11] #11369 closed

[2019-07-10 21:14] sharonwarner opened #11370 "Hearing Location Dropdown - Error body not always defined"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4237/

[2019-07-11 00:21] laurjpeterson opened #11373 "Obsolete"
.

[2019-07-11 03:10] #11339 closed

[2019-07-11 13:24] lomaxap commented on #11281
also see #10852

[2019-07-11 13:34] lomaxap commented on #11070
Write Data Integrity class (#11297) to find all appeals with an incomplete `HearingTask` that do not have an actionable child task

[2019-07-11 13:43] lomaxap opened #11377 "Add Association between HearingDay and LegacyHearing"
We currently cannot retrieve a list of `LegacyHearing`s for a given `HearingDay` without retrieving `VACOLS::CaseHearing.where(vdkey: hearingday.id)`. We should add an association between `HearingDay` and `LegacyHearing` to speed up queries where a trip to VACOLS is unnecessary

[2019-07-11 13:43] kevmo commented on #11349
2

[2019-07-11 13:43] lomaxap opened #11378 "Improve Hearing Models"

[2019-07-11 13:48] kevmo commented on #11319
3.

[2019-07-11 13:53] nicholer opened #11380 "Extraordinary case advancement from case distribution"
Design ticket for the simplest version of extraordinary case advancement: moving an appeal from the Ready for Distribution task to the Judge Assign task.

[2019-07-11 14:19] kevmo commented on #11337
This will require some degree of ongoing monitoring - be aware that code elsewhere may be relying on the existing task type.

[2019-07-11 14:43] lomaxap opened #11381 "Consider Moving VACOLS LegacyHearing fields to CASEFLOW"
Because there are systems that still rely on hearing data being available in VACOLS, we will still need to store data in VACOLS. However, fields on `LegacyHearing` that we access often in Caseflow could be moved to Caseflow's db to avoid unnecessary trips to VACOLS.

- Determine which fields, if any, can be moved to LegacyHearing model in caseflow
- Determine which fields, if any, should be cached

[2019-07-11 14:45] lomaxap opened #11382 "Add created_at / updated_at datetime columns to hearings"

[2019-07-11 15:15] #11335 closed

[2019-07-11 15:20] #10964 closed

[2019-07-11 15:39] lomaxap commented on #11260
Want to confirm the steps here @pkarman. HearingDay has an existing `created_by` column with that uses `css_id`. We want to replace that with a `created_by_id` foreign key column.

1. schema change
[code]
2. migrate day by mapping `css_id` to `user.id` and filling `created_by_id`
3. add AR association and remove `created_by` column

[2019-07-11 15:57] sharonwarner opened #11383 "Hearing Location request timing out"
An invalid address is making it through the vets.gov address validator. We're then making hundreds of requests to the API to try to find a matching regional office. Meanwhile, the frontend times out and we don't catch the error on the frontend.

Appeal vacols_id: 3842003
Sentry error: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5691/

[2019-07-11 16:01] laurjpeterson commented on #11183
Delayed.

Emailed mail folks about https://appeals.cf.ds.va.gov/queue/appeals/3465431

For legacy appeal VACOLS ID 3263705 - it seems like this case is at VLJ Support / or the paralegal situation for admin action. I'll reach out to Corey and see if we should charge it back to Location 11.

[2019-07-11 16:10] pkarman commented on #11260
yes that looks correct @lomaxap -- multiple PRs, with the 4th being the column drops

[2019-07-11 16:45] pkarman commented on #10332
all the issues here are closed so closing this epic.

[2019-07-11 16:45] #10332 closed

[2019-07-11 17:02] hschallhorn commented on #11113
@laurjpeterson More questions!

Right now, the implementation we've been running with is to automatically create
  - `TranscriptionTask` for `missing_hearing_transcripts`
  - `ScheduleHearingTask` for `schedule_hearing` (which automatically creates a `HearingTask` as well based on Caseflow's existing logic)
  - `PrivacyActTask` for `foia`
  - `TranslationTask` for `translation`

### The Questions

[2019-07-11 17:45] lomaxap commented on #11383
The address for this appeal is valid. This is happening with all facility locator queries for Louisville, KY (RO27) which has 23 facility ids associated with it. This appears to be a new issue since there are many appeals in RO27 that have distances to all AHLs.

[VADotGovService pages through results](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/services/external_api

[2019-07-11 17:51] laurjpeterson opened #11385 "MVP 930s | Allow users to "correct" request issues"
Users need to correct request issues via 930 EPs.

## AC

Before save:
- Add/remove issues page contains all of the request issues from the former EP, **but do not allow users to update the contention text, withdraw, or remove them**
- Add the option "Correct in VBMS, via 930 EP" in the dropdown (where withdraw/remove was), which adds a new request issue that's connected to that incorrect request

[2019-07-11 17:54] laurjpeterson opened #11386 "MVP 930s | Users can add missing request issues/contentions so they can go on an 930 EP"
Users might need to add missing contentions/request issues to a cleared claim, and they will go on the 930 EP

Note: This is back end work, on `request_issues_update` and `end_product_establishment`

## AC
- Users can add issues, using the same front end mechanism we have today, which will then go onto a 930 EP
- User clicks save

[2019-07-11 18:04] laurjpeterson opened #11387 "MVP 930s | Save confirmation modal"
When users click "Establish 930 EP", we want to show them a confirmation modal so they are extra sure.

## AC
- When users click "Establish 930 EP" button, modal with the below copy pops up.

## Copy
Heading: **Establish 930 EP**
Body: You are now creating a [930 EP + claim label] in VBMS.
Button: Yes, establish
Other button that looks like a link: Cancel

[2019-07-11 18:06] lomaxap commented on #11383
confirmed pagination works. not immediately obvious to me why requests don't stop after all pages are found.

[2019-07-11 18:15] laurjpeterson commented on #10511
[BSE 64638 - Capability to Expand Caseflow Capacity to Additional Decision Types and Dates.docx](https://github.com/department-of-veterans-affairs/caseflow/files/3383366/BSE.64638.-.Capability.to.Expand.Caseflow.Capacity.to.Additional.Decision.Types.and.Dates.docx)

[2019-07-11 18:18] pkarman opened #11388 ""Correct Issues" button availability"
There are instances where it would be helpful to correct an Intake immediately after clicking Save. How/where could we make available an "Edit Issues" or "Correct Issues" button that uses the same "Edit in Caseflow" URL that appears in VBMS, but for all Decision Reviews in Caseflow.

* What users should see that button?

[2019-07-11 18:18] lowellrex commented on #11337
We should be able to remove the `action` column from the tasks table after we do this migration #9057.

[2019-07-11 19:00] lowellrex commented on #10896
Still waiting on old-style holds to expire. [Exactly 100 remaining](https://caseflow-looker.va.gov/sql/jy6k9qqfchsstf)!

[code]

Count | Type
--- | ---
81 | ColocatedTask
18 | NoShowHearingTask
1 | HearingAdminActionOtherTask

[2019-07-11 19:13] laurjpeterson commented on #11183
This appeal - https://appeals.cf.ds.va.gov/queue/appeals/3465431 - can go to location 81.

[2019-07-11 19:40] #11323 closed

[2019-07-11 19:53] lowellrex opened #11392 "Prevent MailTeam members from acting on DistributionTasks"
This appears to be the result of a copy/paste error in #10772.

![image](https://user-images.githubusercontent.com/32683958/61080649-837e8c80-a3f3-11e9-98db-bb9739206e0a.png)

https://caseflow-looker.va.gov/sql/8gtymhkw7jfybw
[code]
| count | assigned_to_id | assigned_to_type
:---|:---|:---
3335 | 18 | Organization
4327 | 2 | Organization

## Acceptance criteria:
* [ ] Generic task actions are no

[2019-07-11 20:45] #11383 closed

[2019-07-11 21:03] lowellrex commented on #11311
Paired this afternoon to verify that this approach would work and made some progress. Collecting info from Caseflow DB should work just, still digging into how long it takes for VACOLS request to finish:

[code]

[2019-07-11 21:05] #11308 closed

[2019-07-11 21:25] #11392 closed

[2019-07-11 21:50] laurjpeterson commented on #11113
Can you also add what text the user sees for these tasks?

  -  `TranscriptionTask` for `missing_hearing_transcripts` - I'm not sure about this one. Let's see what @Chingujo's take is. cc: @pshahVA for context
  - `ScheduleHearingTask` for `schedule_hearing` (which automatically creates a `HearingTask` as well based on Caseflow's existing logic) - I think this theoretically makes sense, however I

[2019-07-11 22:08] hschallhorn commented on #11113
They see the instructions from whoever assigned the admin action. We could also add clarifying instructions if needed.
We can also show the admin action as its parent.

Other than that, I believe that they see would be mostly the same as a task that did not originate from an admin action.

For `schedule_hearing` we can keep the logic that requires additional confirmation before the real ScheduleHe

[2019-07-11 22:10] #11382 closed

[2019-07-11 23:03] laurjpeterson commented on #11388
We've enabled this for members of the "Case Review" organization (BVA Intake), because they will need the Correct issues link to withdraw appeals.

https://github.com/department-of-veterans-affairs/caseflow/issues/11167

If we need a stopgap right now, we can add other users to it now.

We also need to allow judges to correct issues for Veterans that they're holding a hearing for, documented but n

[2019-07-12 00:16] laurjpeterson commented on #10210
Adding this to post-decisional motions workflows because they could have multiple decision documents.

[2019-07-12 00:18] laurjpeterson commented on #11252
Adding blocked label until we know more about whether lit support should close the MTV task or not.

[2019-07-12 00:20] laurjpeterson commented on #11252
Sally's PR here: #11289

[2019-07-12 00:21] laurjpeterson commented on #10982
@leikkisa - going to close this one because it's investigation! the other one is #11252

[2019-07-12 00:21] #10982 closed

[2019-07-12 00:43] laurjpeterson commented on #10029
Note: acting judges (when they have the judge role in VACOLS) have the functionality they need now to serve as acting judges for AMA cases. they can reassign any judge task assigned to them. and, they can use VACOLS for legacy cases.

[2019-07-12 01:34] laurjpeterson commented on #9342
Closing because individual queue users can now place tasks on hold

[2019-07-12 01:34] #9342 closed

[2019-07-12 01:35] laurjpeterson commented on #8700
Closing because we can handle withdrawing hearing requests now

[2019-07-12 01:45] laurjpeterson commented on #5385
Note: another idea about acting judges - creating an organization, here https://github.com/department-of-veterans-affairs/caseflow/issues/10029. We may end up wanting to close this issue in favor of a more up to date one.

[2019-07-12 01:49] laurjpeterson commented on #10928
Closing this ticket because the design work is captured in #11380 and there are multiple tech specs capturing this work. cc: @lomky just in case seeing this ticket is useful at all anymore

[2019-07-12 01:49] #10928 closed

[2019-07-12 01:50] laurjpeterson commented on #10878
Moving this to design in progress pipeline!

[2019-07-12 01:51] laurjpeterson commented on #8451
Closing in favor of #8660

[2019-07-12 01:57] #10016 closed

[2019-07-12 01:58] #9195 closed

[2019-07-12 02:00] laurjpeterson commented on #8934
@lowellrex - wondering if we can close this considering all the work on pagination from the backend?

[2019-07-12 02:01] laurjpeterson commented on #7031
@aroltsch - no rush - do we support citation numbers in the IDT API?

[2019-07-12 02:02] laurjpeterson commented on #8338
the one last step here is #10023. since we're tracking that work there, closing this ticket now

[2019-07-12 02:02] #8338 closed

[2019-07-12 02:05] laurjpeterson commented on #1532
I think this issue is very outdated, so I'm going to close it.

[2019-07-12 02:05] #1532 closed

[2019-07-12 02:09] #8700 closed

[2019-07-12 02:12] laurjpeterson commented on #2639
Closing due to sheer age of this issue

[2019-07-12 02:12] #2639 closed

[2019-07-12 02:22] #10968 closed

[2019-07-12 02:24] laurjpeterson commented on #10855
@pkarman - do you think this ticket can be closed?

[2019-07-12 02:25] #10700 closed

[2019-07-12 02:28] laurjpeterson commented on #9890
Wow just discovering this ticket - this is so great!

[2019-07-12 02:33] laurjpeterson commented on #8021
@Chingujo @pshahVA is this feature still relevant?

[2019-07-12 02:34] laurjpeterson commented on #7396
@Chingujo I think this functionality exists, right? If so, let's close!

[2019-07-12 02:35] #7212 closed

[2019-07-12 02:35] #7130 closed

[2019-07-12 02:37] laurjpeterson commented on #6926
@Chingujo I think this one is done too! Feel free to close if so

[2019-07-12 02:38] laurjpeterson commented on #6904
Perhaps we can close this one too! @Chingujo

[2019-07-12 02:42] #6756 closed

[2019-07-12 02:45] #4766 closed

[2019-07-12 05:38] aroltsch commented on #7031
Yup! We can close it

[2019-07-12 05:38] #7031 closed

[2019-07-12 13:05] pshahVA commented on #8021
It looks like this feature is already completed.

[2019-07-12 13:54] lowellrex commented on #8934
I think this tech spec extends beyond the pagination work. This tech spec is about the asynchronous calls that the front-end makes after the queue table view has loaded: Hearing badges, new documents icons, and document counts.

I am happy to close this though since I don't think there is any active effort on this at the moment.

[2019-07-12 13:54] #8934 closed

[2019-07-12 14:18] pshahVA opened #11397 "Special case movement | Expediting cases"
# Context

Caseflow built critical functionality for AMA cases to be processed in time for the law’s implementation. The team focused on the most straightforward path (also known as the happy path) an appeal could take to meet this deadline, and get to a “minimum viable” state.

Caseflow is now iterating on this initial feature set to handle other paths an appeal could take.

# Goals for this func

[2019-07-12 14:33] pkarman commented on #10855
closing -- the optimization needed is tracked in other GH issues.

[2019-07-12 14:33] #10855 closed

[2019-07-12 14:34] pkarman commented on #9890
I think we met the need this issue raised with #10330

[2019-07-12 14:34] #9890 closed

[2019-07-12 14:41] pshahVA commented on #11397
@lomky @laurjpeterson @nicholer  Added this epic

[2019-07-12 14:52] Chingujo commented on #11225
Resolves #11124

[2019-07-12 15:17] Chingujo commented on #11111
I am putting this in ready for dev to discuss this design possibility during story time. Should give us a work around to having to change major displays or logic (i.e. showing full docket days in the schedule veterans UI)

[2019-07-12 15:56] lowellrex commented on #11392
[code]

[2019-07-12 15:58] hschallhorn commented on #11336
Wow. Ok so looked into this and I'm at a complete loss as to what's triggering in or even how to reproduce it. Lowell and I also glanced at a few of the other Invariant Violations and sentry has been a total lack of help in diagnosing what's causing them or even where it's getting thrown.

[2019-07-12 16:00] lowellrex commented on #11183
Changed VACOLS location code for 3465431 to 81.
[code]

There are still 6 lost cases charged to CASEFLOW in VACOLS. Five appeals that we are waiting to hear back from the hearings branch about what the VACOLS location code should be:

* https://appeals.cf.ds.va.gov/queue/appeals/2703865
* https://appeals.cf.ds.va.gov/queue/appeals/2766060
* https://appeals.cf.ds.va.gov/queue/appeals/2891584
* http

[2019-07-12 18:02] leikkisa opened #11401 "Set correct contention type when creating contention"
### Story
When we create contentions in VBMS, we hard code the contention type to "REP".  Users are then expected to update the contention type when they're working on the claim in VBMS.

VBMS added new contention types on August 10 so that we can now set it when we create the contentions.

### Acceptance criteria
1. When a contention is created for a request issue on an HLR, the contention type i

[2019-07-12 18:10] edmangimelli opened #11402 "change json keys to camel case to match Lighthouse API conventions"
Lighthouse has settled on using snake case for paths and camel case for json. Fix the existing spec to be in line with this

[2019-07-12 18:11] edmangimelli commented on #11402
PR
https://github.com/department-of-veterans-affairs/caseflow/pull/11403

[2019-07-12 19:57] kevmo commented on #11311
The session times out before `VACOLS::Folder.pluck(:ticknum, :tinum)` ever quits running.

[2019-07-12 20:42] ferristseng commented on #11311
Even just doing a count is super slow:

[code]

[2019-07-12 20:48] pkarman commented on #11356
there are certain combinations of values will not make sense or are ambiguous.

e.g. a payload like:

[code]
is ambiguous. Is it a rating or nonrating issue?

[2019-07-12 21:01] lowellrex commented on #11311
Interesting @ferristseng! I did not realize this table had 3.5 million rows! This is significantly more than the ~850,000 `LegacyAppeal`s we have in Caseflow.

I just played around with a slightly different approach where we only pull a specific set of rows from VACOLS in order to reduce the load and it ran much faster!

[code]

We loaded 1,000 rows in less than half a second! At that pace we can

[2019-07-12 21:36] pkarman commented on #10087
I tried the `find_flashes` BGS call for SC 69929 and it returned true (can_access) so in this case it didn't help. I am going to code up this suggest from David to see if that helps.

[2019-07-12 22:20] leikkisa commented on #10087
@pkarman You have to spoof the user on the intake, and set use_find_veteran_info to false.  That works for me anyway

[2019-07-12 22:44] pkarman commented on #10087
@leikkisa you tried that for SC 69929? That's what I thought I did and it returned the flashes w/ no error.

[2019-07-12 22:54] leikkisa commented on #10087
@pkarman Yeah, can access returned false, and this is in there:
```<?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><S:Fault xmlns:ns4="http://www.w3.org/2003/05/soap-envelope"><faultcode>S:Server</faultcode><faultstring>This is an employee record at your station</faultstring><detail><ns2:ShareException xmlns:ns2="http://services.share.b

[2019-07-12 22:56] pkarman commented on #10087
https://github.com/department-of-veterans-affairs/ruby-bgs/pull/79

[2019-07-13 05:19] edmangimelli commented on #11356
Sorry, I should have been more explicit. I'm envisioning that a request issue could take these shapes:

[code]

[code]

[code]

(actually, I'm not sure what the shape of `unidentified_issue` needs to be)

Therefore your example above would be malformed rather than ambiguous.

So I was talking specifically about a POST to either:

[code]

to *create* a new decision review.

I was envisioning that,

[2019-07-15 12:12] lowellrex commented on #10569
* [ ] [Managing Caseflow's multiple repositories](https://dsva.slack.com/archives/C2ZAMLK88/p1563192663481400)
  * What are the pain points?
  * Can we consolidate any of these repos to make our lives easier?

[2019-07-15 12:15] lowellrex commented on #7556
## Rapinoe sprint (15-28 July) engineering priorities

@kevmo @lomky @hschallhorn, below are tickets that we will be working on related to this sprint. We will be using [Zenhub](https://github.com/department-of-veterans-affairs/caseflow#zenhub) to track progress on tickets.

### 1. Pagination (#10470)
1. Enable back-end sorting of tasks by docket type and number #11311
1. Enable back-end sorting o

[2019-07-15 13:00] lomky commented on #10777
Happening during the `assign_to_attorney` modal. Another similar error.
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5787/

[2019-07-15 13:50] Sjones352 opened #11409 "RequestIssue::MissingDecisionDate"
I have verified in prod. This is missing a decision_date.
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4664/

[2019-07-15 14:31] lowellrex commented on #10824
We will need to backfill timers for a handful of existing IHP tasks. At the time of this writing, [there are 30 IHP tasks](https://caseflow-looker.va.gov/sql/ffhnq8b5mvrqxh) that are past due. We can use the following sql statement to confirm that the addition of the task timers to the existing IHP tasks was successfully by tracking whether these 30 IHP tasks are marked complete.

[code]

[2019-07-15 15:25] #9677 closed

[2019-07-15 15:44] Sjones352 commented on #11409
Connects to https://github.com/department-of-veterans-affairs/caseflow/issues/10713. Fixed

[2019-07-15 15:44] #11409 closed

[2019-07-15 15:52] lomaxap commented on #11281
see also #10852

[2019-07-15 15:58] tomas-nava commented on #11260
may need to consider changes to Tableau and Looker

[2019-07-15 16:15] Chingujo commented on #11111
@whoever is working on this, as discussed we can do this two wasy:

- The other date entry
- We can show all of the days in that drop down such as:

03/21/15 (8/8)
03/23/15(6/8)

To designate full and semi open days. THis would require a change in how we are rendering the hearing days. Currently, we hide all full days in the UI. Then it would be a consideration on whether we want to show all days

[2019-07-15 16:19] pkarman commented on #11356
When you create a new Decision Review, you always creating new Request Issues to go with it. We never reference existing Request Issues.

[2019-07-15 16:21] Chingujo commented on #11240
Add at the end of the "About the Veteran Section" in Case Details.

![Screen Shot 2019-07-15 at 12.21.43 PM.png](https://images.zenhubusercontent.com/5cd1c04a562e0605ea3b7719/c99ae149-ee86-4974-8928-ca1ec7c3fe82)

[2019-07-15 16:24] edmangimelli commented on #11356
The new request issues created in caseflow never reference VBMS (or BGS, or whatever outside system) IDs in any way?

[2019-07-15 16:31] pkarman commented on #11356
References to the contested rating issue are made via the `contested_rating_issue_reference_id`.

See all the attributes here: https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/request_issue.rb#L188

The confusion can be because the word "issue" is overloaded in this application.

* rating issue
* request issue
* rating request issue
* nonrating request issue
* unid

[2019-07-15 16:32] pkarman commented on #11356
The other naming convention that is important to note is that `id` always refers to an internal FK column, while `reference_id` always refers to an external identifier of some kind.

[2019-07-15 16:38] edmangimelli commented on #11356
ah, ok, so then maybe the create/reference scheme I was thinking of can just be an abstraction for the API consumer. That is, all issues included with the POST request to make a new decision review are new in caseflow, but, if an ID was provided, that's a reference id.

[2019-07-15 16:39] pkarman commented on #11356
I would not call the API attribute `id`. That will inevitably become ambiguous. Call it the `contested_rating_issue_reference_id` for clarify and accuracy.

[2019-07-15 16:40] edmangimelli commented on #11356
I need to mull on this and talk to @erluti about it. We're trying to follow JSON:API https://jsonapi.org/ to a T, and it's pretty strict on what things should be called.

[2019-07-15 16:41] edmangimelli commented on #11356
Technically, I don't think JSON:API even let's you creating multiple resources in one call. I'll talk about this with other lighthouse engineers

[2019-07-15 16:50] pkarman commented on #10087
@leikkisa I started on #11411 and will try and finish this week.

[2019-07-15 17:20] laurjpeterson commented on #11135
Questions:
- Are we going to check if this is stale and refresh it on a regular basis?

[2019-07-15 17:44] edmangimelli commented on #11356
So how about this:
[code]

[2019-07-15 17:52] edmangimelli commented on #11356
So that rating issue was fetched from an outside DB --when creating a new request issue in caseflow from an issue fetched from outside, is the rating issue copied into caseflow exactly with no changes? can the decision review process add or update info so that the issue in caseflow no longer mirrors the issue in the outside DB?

[2019-07-15 18:29] pkarman commented on #11356
TBH, the `type` is pretty irrelevant to Caseflow. It's all just a `RequestIssue` and the type is derived from the values of the attributes.

We copy just a few attributes from the rating issue to the request issue:

* `decision_date`
* `contested_rating_issue_diagnostic_code`
* `contested_rating_issue_reference_id`
* `contested_issue_description`

Anything else we just look up if necessary via the

[2019-07-15 18:31] pkarman commented on #11135
Yes, the same kind of `sync_name` logic should be built for this as for the Veteran model.

[2019-07-15 20:32] #2756 closed

[2019-07-15 20:32] #3040 closed

[2019-07-15 20:33] #3049 closed

[2019-07-15 20:34] #3055 closed

[2019-07-15 20:34] #3088 closed

[2019-07-15 20:35] #1912 closed

[2019-07-15 20:36] #1961 closed

[2019-07-15 20:36] #2577 closed

[2019-07-15 20:40] laurjpeterson commented on #11370
@sharonwarner - discussing this ticket in some light backlog grooming. Have you opened a PR for this? Peter remembers it came up in bat team last week.

[2019-07-15 20:56] laurjpeterson commented on #8394
Note - there are some times when users are taken back to Case Details instead of their cases, which might need to be in another ticket.

[2019-07-15 21:17] pkarman opened #11414 "Remove intake manager review"
Investigate whether the Intake manager review feature is still used and remove it if not.

[2019-07-15 21:37] lowellrex commented on #7916
This work was completed by #9340.

[2019-07-15 21:37] #7916 closed

[2019-07-16 11:58] lomky commented on #10732
This is happening a lot over the past month.

[2019-07-16 12:27] aroltsch commented on #11252
I think VacateMotionMailTask can stay on hold until judges log their Motion to Vacate decisions/dispositions.

[2019-07-16 13:10] lowellrex commented on #10824
We should be able to use [a query like the following](https://caseflow-looker.va.gov/sql/y8pbqrrnxbv9f9) to confirm that we have successfully started creating the task timers that will close the IHP tasks when they reach their deadline.

[code]

[2019-07-16 13:20] lomaxap commented on #11281
We need to create front end error message "Hearing cannot be found in VACOLS" on hearing worksheets, (see [sentry error](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3275/)), [hearing details](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4354/events/347479/) and case details pages.

[2019-07-16 14:18] lomky opened #11419 "More Informative Case Distribution Errors"
Make distribution failures more transparent to the end users, to better assist the user and tech support when issues arise.

Context:

Right now if case distribution fails the user only sees a generic error message.

![image (1)](https://user-images.githubusercontent.com/6129479/61301814-b25d7f80-a7b2-11e9-8a57-d22d8e7f738a.png)

We should tell the user why their distribution is failing. Possible

[2019-07-16 14:19] monfresh commented on #11035
This was fixed in #11326

[2019-07-16 14:19] #11035 closed

[2019-07-16 16:50] pshahVA commented on #11132
https://app.mural.co/t/workqueue2001/m/workqueue2001/1560455344175/baf8551fd0af01cef844f8eba2a72acb61b95dfb

[2019-07-16 17:00] pkarman commented on #11139
cache has been building over time.
[code]
closing as complete.

[2019-07-16 17:00] #11139 closed

[2019-07-16 17:04] pkarman commented on #10935
- [x] status API
- [ ] IDT API
- [x] Hearings API

[2019-07-16 17:09] pkarman commented on #6358
@laurjpeterson I think this Epic is complete?

[2019-07-16 17:37] laurjpeterson commented on #10824
@lowellrex - let's still consider this blocked. I spoke with John Gosnell, BVA chief of technical infrastructure, to see if he can help us track down answers.

I see that we have 3 potential options for the Board to choose from to comply with these IHP turnaround times:
1. When IHP timelines are finished, we **cancel** the task
1. When IHP timelines are finished, we **complete** the task
1. When I

[2019-07-16 18:13] laurjpeterson commented on #6358
Yep!

[2019-07-16 18:13] #6358 closed

[2019-07-16 19:22] pkarman commented on #10562
Let's feature flag this with `:allow_judge_edit_issues` so that rollout is in the hands of product folks.

@lomaxap not a high priority.

[2019-07-16 19:44] pkarman commented on #10658
Month is up! let's do it.

[2019-07-16 19:54] pkarman commented on #10386
Requires some investigation to see whether this is still a problem. Judges can assign tasks to other judges now. Not sure if this got fixed along the way. @lomky do you know?

[2019-07-16 19:55] #10658 closed

[2019-07-16 19:55] leikkisa commented on #10658
Sandra merged a PR for this last week. Moving to closed.

[2019-07-16 20:00] pkarman commented on #10514
We don't officially support IE so closing this.

[2019-07-16 20:00] #10514 closed

[2019-07-16 20:04] pkarman commented on #2918
not worth the effort

[2019-07-16 20:04] #2918 closed

[2019-07-16 20:05] #11351 closed

[2019-07-16 20:34] tomas-nava commented on #9756
take #11421 into account

[2019-07-16 21:02] lowellrex commented on #11349
Query that will return the cross-section that we want to return to the front-end (https://caseflow-looker.va.gov/sql/rmzbrxwqjskgdd).

[code]

[2019-07-16 21:15] erluti opened #11425 "Lighthouse API - update status endpoint docs"
The API docs endpoint uses `status` to denote the async status.  We want to change that terminology to `intake_status` so the end-user understands it's not the status of the Higher Level Review, but the status of it being processed.

[2019-07-16 22:20] #11425 closed

[2019-07-17 12:04] Chingujo commented on #11113
@lauren

Here are my thoughts :

- A transcription task for missing transcriptions (if I’m reading right) makes sense. It’ll allow the transcription team to identify appropriate appeals. Would assume based on prior UX they would want to do the same, since these are distributed to ovlj they would work on these.

Two important notes:

- Alerting the hearings team of new tasks so they can be assigned

[2019-07-17 12:38] pkarman opened #11432 "Use Veteran address when Veteran is appellant"
From https://dsva.slack.com/archives/CD5DAQNCU/p1563284371076900

For the IDT appeals API endpoint, if the Veteran is the appellant, the address should be obtained from the Veteran BGS endpoint rather than the appellant BGS endpoint. BGS can report different addresses for the same participant id, and we should prefer the Veteran's address.

## AC

- [x] Prefer the Mailing address, then the most re

[2019-07-17 13:06] pkarman opened #11434 "TypeError on 403 XHR response"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5790/

When trying to access a URL from the /queue/appeals/3430012/tasks/262160/modal/assign_to_person modal, a 403 response triggers a JS error.

[2019-07-17 13:11] pkarman commented on #10516
- [ ] https://circleci.com/gh/department-of-veterans-affairs/caseflow/73955
[code]

[2019-07-17 14:15] laurjpeterson commented on #10542
hey @sneha-pai and @carodew - I know you both have been doing work on this! could you give me an update on how the survey monkey is going? I can take the next step in communicating this with our BVA stakeholders, who will send the survey can go out

[2019-07-17 14:33] ferristseng commented on #11111
I think I'm going to take this approach. I started trying to do the manual date entry way, and think there might be some issues if that date doesn't map to a valid hearing day.

[2019-07-17 15:15] Sjones352 opened #11437 "EndProductModifierFinder::NoAvailableModifiers"
There is no modifier on the `EndProductEstablishment`

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5576/events/401052/

[2019-07-17 16:36] Chingujo commented on #11111
Sounds good @ferristseng

Let me know if you need anymore design clarity, I'll post updated mocks today as well

[2019-07-17 17:18] laurjpeterson commented on #10824
Got mor information about this today. The Chairman needs to make the decision on whether we "actually take these cases away from VSOs", i.e. that we can complete the task and the IHP task moves from assigned --> completed tabs. She is back on Monday, and can make the decision then.

They would like to see a list of cases and VSOs where the deadline has passed. Your SQL query/Looker repot gets us c

[2019-07-17 18:02] lomky commented on #10386
It looks like the problem is the Judge is not an Attorney in our system:

[2019-07-17 18:31] carodew commented on #11132
## Notes from 7/17 kick off meeting – 
- can we start with the ideal flow and degrade from there?
- possible option for story mapping

### next steps
- Nichole and Phillip to meet and hash out next steps and ideal journey
- share this with Premal
- start getting that in ui design, start usability testing
- come up with a few really good options for stakeholders to show
- Carolyn to look into what

[2019-07-17 19:41] pkarman commented on #11437
this is a known issue we're tracking in #11249

[2019-07-17 19:41] #11437 closed

[2019-07-17 19:52] pshahVA commented on #11132
@lomaxap The screen shot here is for a no longer supported application that will not be used.  The functionality will be recreated in Caseflow.  Notice how they looked up active directory to get the Veterans email.  I don't think we would have to integrate with AD if we just put the link in the daily docket.

[2019-07-17 20:11] laurjpeterson opened #11440 "Case search | Enhance to be able to search by docket number"
Allow users to search for Veterans' cases by docket number.

## AC
- users can search by docket number for both AMA and legacy appeals

[2019-07-17 20:51] lomky opened #11442 "TaskTimer Bug for Manually Closed Parent Tasks"
TaskTimerJobs are only run on TaskTimers that have active parent tasks. If the parent tasks are manually cancelled or otherwise closed, the Timers are left open and never triggered.

We should probably actively close out TaskTimers when their associated parent tasks are closed?

[Slack Context](https://dsva.slack.com/archives/CHX8FMP28/p1563395935454600)
[Looker of potential cases](https://caseflo

[2019-07-17 21:31] laurjpeterson commented on #11113
@hschallhorn - here's what i think makes sense, now:

**Unresolved:**
  - `ScheduleHearingTask` for `schedule_hearing`
       - Based on Phillip's notes, I wonder if we should actually create a HearingAdmin type of task for this, so the hearing branch can

**Resolved!**
  - `TranslationTask` for `translation` - yes
  -  `TranscriptionTask` for `missing_hearing_transcripts` - yes

**Open question f

[2019-07-17 21:43] ferristseng commented on #11111
@Chingujo does the user need to explicitly acknowledge the warning? Would they be prompted with a confirm button followed by the schedule button, or is it enough to just have the warning show before they hit the schedule button?

[2019-07-17 22:17] laurjpeterson commented on #10542
Posting comments here to be sure they come through!

My only suggestions are for question 1. Can we:
- add Supervisory Senior Counsel
- add Mail Management Branch
- add Litigation Support Branch
- add Quality Review team
- rename "Dispatch team" to "Decision Management Branch"
- rename to "VLJ Support Staff"
- rename "Intake" to "Case Review / Intake" team

[2019-07-18 01:52] #11334 closed

[2019-07-18 01:59] lowellrex commented on #10824
Once the code in #11426 that stops automatically creating timers for IHP tasks is in production we will need to remove the task timers that we created while that that code was live. As of this writing [we have created 11 timers](https://caseflow-looker.va.gov/sql/rcchcqhxtvyxsq).

[2019-07-18 13:50] lauren commented on #11113
@Chingujo: Wrong Lauren!

@laurjpeterson @lowellrex: Hi!

[2019-07-18 13:53] erluti opened #11445 "Lighthouse API - add user to represent API actions"
When creating decision review intakes through the API, we need a user associated with those that identify them as created by the API and not a Caseflow user.

[2019-07-18 14:16] pkarman opened #11447 "Hearings API missing station city and phone"
From VEText:

[2019-07-18 14:59] pshahVA opened #11448 "Print all hearings worksheets button only available to BVA"
The print all hearings worksheet button should not be available outside BVA. Should limit button visibility to users with `HearingPrep` role
https://github.com/department-of-veterans-affairs/appeals-support/issues/5317

[2019-07-18 15:15] carodew commented on #11132
Repeating here the links I posted in Slack, so they can be more easily found in relation to this work.
1. https://www.jpattonassociates.com/wp-content/uploads/2015/01/how_you_slice_it.pdf
2. https://www.jpattonassociates.com/the-new-backlog/
3. http://www.barryovereem.com/the-user-story-mapping-game/

[2019-07-18 15:23] laurjpeterson commented on #11448
@pshahVA - curious about this one. are you talking about ROs? or VSOs?

[2019-07-18 15:35] #6777 closed

[2019-07-18 17:12] Sjones352 opened #11451 "Remove Edit Contention Button on Unidentified issues in UAT"
In Intake, we do not edit text on Unidentified issues but in VBMS we instruct user to Edit issue in Caseflow. We should specify that that we do not edit-contention text on unidentified issues.

![Screen Shot 2019-07-18 at 12.58.49 PM.png](https://images.zenhubusercontent.com/5b8fddd1b2cc7b6c78ece9f9/e72eb777-85ea-407b-b05c-a0dbbd6a85c2)

I also found a bug in UAT which shows the Edit-Contention-Te

[2019-07-18 17:37] lomky commented on #11442
As a part of this ticket, check for any open orphaned TaskTimers that need to be closed out in prod.

See [the looker](https://caseflow-looker.va.gov/looks/118?qid=lWSrxlza5N6wrWlxwqxtg2)

[2019-07-18 18:31] laurjpeterson commented on #11113
@hschallhorn and i spoke this morning:

**Needs more product/requirements work:**

       - Based on Phillip's notes, I wonder if we should actually create a HearingAdmin type of task for this, so the hearing branch can review them first to differentiate this from normal ScheduleHearingTasks.

**Resolved!**
  - `TranslationTask` for `translation` - yes
  -  `TranscriptionTask` for `missing_hearing

[2019-07-18 18:42] pshahVA commented on #11113
@laurjpeterson is this still blocked?

[2019-07-18 18:58] lowellrex commented on #10824
@laurjpeterson [here is the list of 33 IHP tasks](https://caseflow-looker.va.gov/sql/gqnw7gnngdtrdv) older than 120 days with file number and VSO name:

[code]

Getting AOD status for these appellants will take a considerable amount more time, but if we want to add that information as well we can do that.

[2019-07-18 19:05] #11447 closed

[2019-07-18 19:06] pkarman commented on #11447
We do not store phone. City now included.

[2019-07-18 20:02] laurjpeterson commented on #11113
@pshahVA - no! will remove the `blocked` label now

[2019-07-18 20:21] #11328 closed

[2019-07-18 21:00] pkarman commented on #10511
The DRO/RVSR can associate the “unidentified issue” with the appropriate contention under the Issue Management tab from the drop down menu in VBMS-R.  VBMS-R is the program where DROs and RVSRs input the rating dispositions.

![jane-img1](https://user-images.githubusercontent.com/1205061/61491532-12038880-a975-11e9-9a3b-eb605f018bf2.png)

Please see the screenshots.  The Claim ID:  73128154  The e

[2019-07-18 21:23] #11445 closed

[2019-07-18 21:45] #11349 closed

[2019-07-18 22:25] #10089 closed

[2019-07-19 11:28] Chingujo commented on #10563
@lomaxap

For placement, the download current schedule link in the mocks above for the Judge VIew should be in place of the Add hearing date link in the "Build Schedule" role view of the hearing schedule.

![Screen Shot 2019-07-19 at 7.27.50 AM.png](https://images.zenhubusercontent.com/5cd1c04a562e0605ea3b7719/cb45879b-7eb4-4672-b4b9-ce21cd79e789)

_In the new Judge view_
![Schedule View.png](http

[2019-07-19 13:38] #11402 closed

[2019-07-19 15:09] lowellrex commented on #11337
Do we want update action to nil? Maybe we can do that in a second pass, so we still have the information if we mess anything up in the first pass.

Let's quickly see if we can get an idea of how many tasks this will update. Looker first: https://caseflow-looker.va.gov/sql/mrrydzw4m9pxcz

| count | action | type
--- | --- | ---
3726 | other | ColocatedTask
3209 | schedule_hearing | ColocatedTask
18

[2019-07-19 15:42] pkarman commented on #11198
We track many of these in DataDog. e.g. https://app.datadoghq.com/dashboard/jcd-hng-7gh/caseflow-service-level-indicators

[2019-07-19 16:10] sneha-pai commented on #10542
Hello Lauren and Carolyn,
Lauren, the survey has been edited to reflect all teams mentioned above.
If BVA stakeholders would like a walkthrough, we can share this [link](https://surveymonkey.com/tr/v1/te/akU_2BQc2vAhAsa_2B264x1g6_2FpF_2Fhy3EhxbpxJDHYpYZT0P78eISYPbM7EIxqvzaIoNt5f4JbzVF1VUd4AFcbXVBxzFGBrJv9dCC8IPwVJx3Y2yvRT44d6F585STziPSUNEcxADIiILbLJBmdZ_2BHz7DxcBkgkEz8KTbD5oymXcSN0NgFxujh0KhXpYbST

[2019-07-19 16:41] jcq opened #11463 "Webpack file-loader error"
Certain assets (fonts & images) are failing to load (404) in local dev environment. This includes various sourcesans font files & multiple icons from uswds.

This manifests with errors like this from Rails:
`ActionController::RoutingError (No route matches [GET] "/fonts/sourcesanspro-bold-webfont-86937a00b9e6bd153ddb2d25a296896d.ttf"):`

**Background:**
In the webpack config, we have rules for ass

[2019-07-19 16:45] #10563 closed

[2019-07-19 17:28] lauren commented on #10542
@sneha-pai Wrong Lauren.

[2019-07-19 18:28] laurjpeterson opened #11468 "Litigation Support | post-decisional motions for reconsideration"
Impact Estimate: 80 motions for reconsideration annually

[2019-07-19 18:28] laurjpeterson opened #11469 "Litigation Support | post-decisional clear and unmistakeable error motions"
Impact estimate: 3 CUE motions annually

[2019-07-19 18:39] laurjpeterson commented on #10542
@sneha-pai - I like the idea about sending BVA stakeholders the link, as you mentioned! I'll do that when @carodew acknowledges she's taken her pass.

They plan to send this to a massive listserv of all BVA employees, and I don't think we will be allowed to administer the survey by sending it out. Are you asking if we could get the list of people who are in that listserv?

[2019-07-19 21:28] erluti opened #11471 "Lighthouse API - expand docs to have a show route for Higher Level Reviews"
We need a new section in the openapi specs to describe the "show" route for a Higher Level Review.  This should give some meaningful details to a user who's intake has been processed and is waiting on the issues to be reviewed.

[2019-07-19 22:17] laurjpeterson commented on #11278
We officially got the go ahead to do this one!

[2019-07-19 23:01] leikkisa commented on #11191
Example copy:
A Higher-Level Review Rating Control 930 EP is being established

[2019-07-19 23:10] leikkisa commented on #11191
control, national_quality_error, local_quality_error

[2019-07-22 02:46] laurjpeterson commented on #9707
Closing because of our work on #11132

[2019-07-22 02:46] #9707 closed

[2019-07-22 13:57] pkarman commented on #11348
@leikkisa @jimruggiero @rutvigupta-design I have started on this in #11466

Right now I am just raising an error to prevent editing of the issues on the decision review, but this feels inadequate to me, and least useful for the user.

I'm leaning toward the easiest solution in the description of this ticket, which would be marking the troublesome issues as `removed` with a status like `contention_

[2019-07-22 14:01] pkarman opened #11477 "Audit efolder db usage"
Our db records are growing significantly. We should investigate what we are storing and if we need to continue.

[2019-07-22 14:02] pkarman commented on #11188
Dupe of #11248 ?

[2019-07-22 14:03] pkarman commented on #11248
@laurjpeterson is this the same as #11188?

[2019-07-22 15:54] hschallhorn opened #11478 "Stop throwing Caseflow::Error::ActionForbiddenError: Current user cannot access this task for Colocated users"
[Sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/3678/events/396317/).

This error was thrown because the task is not assigned to the user and CaseDetailsLink attempts to update the task to in_progress when [any colocated user](https://github.com/department-of-veterans-affairs/caseflow/blob/919548d0e91d7b5ed3ea66511d162feada68402b/client/app/queue/CaseDetailsL

[2019-07-22 15:54] hschallhorn commented on #11478
TODO: Update with link to offending code when github starts working again

[2019-07-22 16:55] laurjpeterson commented on #11288
As of Friday, July 19, the Board has asked we go ahead with option 1 and provide an LOE for option 2.

[2019-07-22 17:13] pkarman commented on #10571
This is happening because the contention has already received a rating issue.

We can resolve this in one of two ways:

1. prevent editing of a Claim Review where one or more request issues have already received a related rating issue on their contention. We do something similar when EPs are closed.
2. automatically close the relevant request issues with a `decided` status and otherwise allow edit

[2019-07-22 17:18] laurjpeterson commented on #11248
Yes! Closing.

[2019-07-22 17:18] #11248 closed

[2019-07-22 17:30] nicholer commented on #11132
### **Notes from 7/22 User Flow Sync**
Attendees: Premal, Phillip, Carolyn, Nichole

- Aligned on first flow we'll tackle: switching an already-scheduled veteran to a tele-hearing
- Planned course of action:
  - Nichole (and Phillip) to begin mocks for this flow + will look to sync with Lomax asap this week
  - Obtain usability feedback on mocks from hearing coordinators
 - Compile high-level poli

[2019-07-22 17:37] laurjpeterson commented on #11183
Corey got back to me. This appeal (https://appeals.cf.ds.va.gov/queue/appeals/3263705) should be moved to location 83.

---
There are still 5 lost cases charged to CASEFLOW in VACOLS. Five appeals that we are waiting to hear back from the hearings branch about what the VACOLS location code should be:

https://appeals.cf.ds.va.gov/queue/appeals/2703865
https://appeals.cf.ds.va.gov/queue/appeals/276

[2019-07-22 18:31] ferristseng opened #11480 "Duplicate Key Error for Hearing Appeal Stream Snapshots"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5851/events/405233

Happens in the LegacySerializer in the `current_issue_count` attribute, when getting active appeal streams. It looks like if there are no appeals, it will try to get some from VACOLS.

[2019-07-22 18:45] #11387 closed

[2019-07-22 18:48] ferristseng opened #11481 "Null Address Error from VA.gov Validator"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5084/events/404985/

I think we might be able to handle these errors in the FetchHearingLocationsForVeteransJob like we're doing for VaDotGovLimitErrors. They might not need to be captured in Sentry.

[2019-07-22 20:07] ferristseng opened #11482 "BGS::ShareError - Not Unique Result"
https://sentry.ds.va.gov/department-of-veterans-affairs/efolder/issues/5136/events/405293/

Looks like multiple records are coming back for `find_by_file_number`.

[code]

[2019-07-22 20:21] ferristseng opened #11483 "VBMSError - Unable to determine the validity of veteran"
https://sentry.ds.va.gov/department-of-veterans-affairs/efolder/issues/5178/events/403017/

Haven't seen this error before, but might be related to

https://github.com/department-of-veterans-affairs/caseflow/issues/10502

[code]

[2019-07-22 20:26] pkarman commented on #11482
this is a known VBMS data problem. The issue is multiple phone records, none of which (or all of which) are marked as primary. This is a solved problem in Caseflow but not yet in Efolder.

[2019-07-22 21:13] hschallhorn opened #11484 "Unprocessable Entity from POST to /reader/appeal/vacolsId}/claims_folder_searches"
[Sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/5807/events/405245/).

Code [literally says](https://github.com/department-of-veterans-affairs/caseflow/blob/919548d0e91d7b5ed3ea66511d162feada68402b/client/app/reader/DocumentListHeader.jsx#L15) to not worry if this fails. Do we want to stop reporting this to sentry then?

[2019-07-22 21:20] pkarman commented on #11484
Or ignore in Sentry forever? that will keep it from going to slack but we can still have the analytics if we need them.

[2019-07-22 21:21] hschallhorn commented on #11484
Sounds good to me!

[2019-07-23 01:07] carodew commented on #10542
Added my comments to the survey. Fair warning, I got pretty nit-picky on some of the text, the source of some of which was https://content-guide.18f.gov

I will also repeat here that I get nervous when people use Likert scales since statistically they're notoriously hard to analyze correctly, especially changes over time. I wonder if we would have an easier time if it was just a statement with jus

[2019-07-23 14:13] geoffreystienblock opened #11488 "BSE 64649 - Capability to Edit Contentions in Caseflow Intake"
**Requirement:**  Have the Add Issue field be editable at intake within Caseflow so contentions can be properly displayed in VBMS.
**Value Statement:**  As a Caseflow user, I need the ability to edit contentions in the Caseflow Intake screen, so that I can process AMA claims in the most efficient manner.
**Definition of done:**  1.Users are able to edit contention in the Caseflow Intake screen.

[2019-07-23 14:16] lowellrex commented on #11311
Did some benchmarking and the job to populate this table should take ~5 minutes to run.

[code]

[2019-07-23 14:17] geoffreystienblock opened #11489 "BSE 64638 - Capability to Expand Caseflow Capacity to Additional Decision Types and Dates"
**Requirement:**  Caseflow to link with all tables within  Corporate to pull all decisions to display in Caseflow and pull all decisions prior to 2005
**Value Statement:**  As a Caseflow user, I need the Caseflow application to be able to process all the decision types identified in Supporting Artifact 64638, so that I can process the large majority of AMA compensation claims using the Caseflow ap

[2019-07-23 14:20] geoffreystienblock opened #11490 "BSE 64654 – Ability to Editing EP Claim Labels Within the Same EP family | HLRs and SCs"
## Background/context
Per AMO, the request for this functionality is the ability to edit the claim label within the EP family so if a claim label needs to be edited/updated.

## Goals
VBA Intake users can successfully edit claim labels created by Caseflow within the same EP family

## Data
Claim Label Changes From [VBA Tableau](https://tableau.vba.va.gov/#/views/EPChangestoPendingClaims/ChangeDeta

[2019-07-23 14:48] ferristseng opened #11491 "null option when user uses backspace to clear judge dropdown"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/4204/events/405881/

I can reproduce this locally when you hit Backspace on a dropdown. The behavior is specified here:

https://github.com/department-of-veterans-affairs/caseflow/blob/919548d0e91d7b5ed3ea66511d162feada68402b/client/app/components/SearchableDropdown.jsx#L30-L39

[2019-07-23 15:27] ferristseng opened #11493 "VBMS NoSoapBody error"
https://sentry.ds.va.gov/department-of-veterans-affairs/efolder/issues/4811/events/405434/

Happening in the V2::SaveFileInS3Job.

The error is: `No SOAP body results found in response`, which looks like it leads to a `NoMethodError`:

[code]

[2019-07-23 16:22] leikkisa opened #11495 "Add modal to select correction type for 930s"
### Story
Corrections to end products can be regular corrections (such as those identified by the user), or the mistake can be discovered after the fact during local or national quality review.  We don't have a way to determine this automatically, so we are asking the user to identify the correction type.

### Acceptance criteria
- When a user corrects an existing issue, or adds a new correction i

[2019-07-23 16:27] carodew commented on #10542
I did some more reading on how to analyze Likert scale results, and it seems like a paired t-test is reasonably good enough if the results more or less follow a normal distribution.

How to analyze Likert Scale data: https://statisticsbyjim.com/hypothesis-testing/analyze-likert-scale-data/
tl;dr – you're probably ok with a paired t-test but understand that the test is really for continuous data, a