[2020-05-14 16:39] yoomlam commented on #13642
With the [Collecting Metrics page](https://github.com/department-of-veterans-affairs/appeals-team/blob/master/caseflow-team/Collecting-Data.md), DataDog metrics tickets (#13769 along with several associated PRs), the May 13th Wisdom Wed demoing Metabase and DataDog, and 4 Reader document metrics tickets (#14040, #14041, #14044, #14050); I'm closing this general ticket.

Teams will create their own

[2020-05-14 16:39] #13642 closed

[2020-05-14 16:54] araposo-tistatech opened #14298 "Investigate what occurs when Reader is refreshed"
## Description
Please look into what refreshing reader actually does. Does it check VBMS, etc for new documents or is it pulling documents from a cache?

## Acceptance criteria
- [x] Gather information what occurs when reader is refreshed
- [x] Add wiki page describing startup queries when Reader is refreshed

## Background/context/resources
Related to ticket #14081

## Technical notes
Per Alisa,

[2020-05-14 16:54] msj0nes commented on #14206
### Asking BVA today the questions above 5/14/20

- Does the rules provided impact all legacy issue opt-ins (for both BVA and VBA)?

- Using this rule. May 1st to June 30 would be exactly 60 days. To confirm, May 1st and June 30 should be included.

- Does the time zone we use for determining the current date matter? (to determine whether it's a weekend or not).

[2020-05-14 16:57] chandracarney opened #14299 "Set up logging for hearing dispositions"
## Description
Record when dispositions were set on hearings and what they were

## Acceptance criteria
- [ ] Write query
- [ ] Set up graphs in Metabase

## Background/context/resources
Long-term goal: increase hearing capacity
Short-term goal: allow more hearings to be held during Covid-19 stay-at-home orders

## Technical notes

[2020-05-14 16:58] hschallhorn opened #14300 "Update address bar for paginated pages, even when pulling from cache"
### Description
When paginated results are cached, the url bar does not update to reflect anymore changes in queue.

![ezgif-3-39cfac4105c2](https://user-images.githubusercontent.com/45575454/81962600-f5120300-95e1-11ea-9e30-9a94056382ce.gif)

### Steps to reproduce
1. Log in as BVALSPORER
2. Navigate to the vlj support queue /organizations/vlj-support?tab=assigned
3. Click the sort button on the

[2020-05-14 17:00] chandracarney opened #14301 "Set up report for days waiting in scheduling queue(s)"
## Questions to answer through looking at data
- Days Veterans wait in scheduling queue per RO (between when first ScheduleHearing task was created and final is ScheduleHearing completed).
  - End goal with this metric: How directly is a Veteran's physical location correlated to appeal decision timeliness?
- How many Veterans are scheduled on average, per RO, per month/year?
  - How do these dispo

[2020-05-14 17:09] chandracarney opened #14302 "Trim virtual hearing email value input"
## Description
Remove whitespace from email values that come in for virtual hearing email input.

## Background/context/resources
[Slack thread](https://dsva.slack.com/archives/C3EAF3Q15/p1589470354210000)

## Technical notes

[2020-05-14 17:11] lomky commented on #13995
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Possible fallback to just stopping the user from moving forward with both `None` and another, if the lift looks unmanagable.

#### Why 1?
-

#### Why 2?
-

#### Why 3?
- Larger front end lift to implement disabling other buttons and unchecking selected

[2020-05-14 17:15] lomky commented on #14269
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

#### Why 2?
- Borrow solution from #13995

#### Why 3?
- We've probably done it once, but we're in a whole different app (dispatch vs queue)
- State could be different here, hunter remembers it being very straightforward though.

[2020-05-14 17:17] lomky commented on #14272
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

#### Why 2?
- Why does this work for error alerts but not success?

#### Why 3?
- Uncertainty
- Unfamilairty

[2020-05-14 17:21] lomky commented on #14273
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Clarification: Hitting Continue on the Sp. Issues page, then hitting Back shows different selections.

#### Why 2?
- Hopefully just some clearing out on click?

#### Why 3?
- Pessimism
- Could be hairy if we're calling the backend vs state in different places

[2020-05-14 17:26] lomky commented on #14289
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Clarification: Hitting Continue on the Sp. Issues page, then hitting Back shows different selections.

#### Why 2?
- Hopefully just some clearing out on click?

#### Why 3?
- Pessimism
- Could be hairy if we're calling the backend vs state in different places

[2020-05-14 17:33] lomky commented on #14221
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

#### Why 1?
- might just be changing a scope or query

#### Why 2?
- Wariness

#### Why 3?
- Seems like it could be a specific issue with these appeals and not a caseflow related bug (editing vet data in vacols, etc.)

[2020-05-14 17:40] lomky commented on #14225
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Add a sentry alert to the Queue channel if we every try to Update the 'assigned_to' on any task (we should be cancelling and making anew). Might be in the task.update function, or as a hook as needed.

#### Why 1?
- Fix the call!

#### Why 2?
- tests affected?
- add sentry alert

#### Why 3?
-

[2020-05-14 17:45] lomky commented on #14290
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Judge Assign page can be used as an exemplar.
Definitely break up into multiple PRs.

#### Why 3?
- sounds like we may need to write a new call?

#### Why 5?
- A lot of task actions and tests to revise
- Tracking down all places where tasks are created and changed to make sure the resulting sta

[2020-05-14 17:48] lomky commented on #14291
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

#### Why 2?
- Should be able to reuse the serializer call in queue config

#### Why 3?
- Time to verify that the serializers are capturing everything needed.

#### Why 5?
- I'm not super familiar with our serializers

[2020-05-14 17:51] lomky commented on #14249
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Good opportunity to pair-develop with Design and make sure our visual interface is up to snuff!

#### Why 2?
- Just refactoring

#### Why 3?
- Doing it right!

[2020-05-14 17:55] lomky commented on #14266
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Use horizontal scrollbars, which should be provided by the browser.

#### Why 1?
- Should be a one line css fix (BUT WHICH ONE!?!?)

#### Why 2?
- Might be an easy twaek, after a bit of research

[2020-05-14 17:57] lomky commented on #14268
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

#### Why 1?
- Should just be clearing state?
- I really wanted a 1 this estimation session

#### Why 2?
- Add a test
- I don't trust a 1 with the word 'state' in it

[2020-05-14 18:01] yoomlam commented on #14289
Record in DataDog or server logs (to be viewed via AWS or Kibana).

[2020-05-14 18:31] hschallhorn opened #14303 "Alphabetize user selection dropdowns"
All dropdowns that display a list of users should be alphabetized for ease of searching. Can be done for all task actions in [users_to_options](https://github.com/department-of-veterans-affairs/caseflow/blob/7f1754a1599e1047dc545c3b9c1c6f3dc2afece1/app/repositories/task_action_repository.rb#L344). This will cover all user dropdowns for task actions, there are a few more floating around in caseflow

[2020-05-14 19:13] hschallhorn commented on #13914
@RyanRoyUX and @geronimoramos repinging on this. Here's what this would look like with full names as written in #14264
 - [ ] Queues show the name of the user assignee, rather than a mix of user id or css_id?

![Screen Shot 2020-05-12 at 8 56 16 PM](https://user-images.githubusercontent.com/45575454/81759679-5bd4d680-9493-11ea-9bd3-e41a3fc6ebba.png)

[2020-05-14 19:44] pkarman commented on #14193
Researching related efolder INC we discovered imagemagick error example:

[code]

We are wondering whether the tiff-to-pdf service is broken. Investigation in https://dsva.slack.com/archives/CAM9FJ85P/p1589485314027300

[2020-05-14 20:55] #13856 closed

[2020-05-15 15:01] hschallhorn commented on #14142
@araposo-tistatech The pagination of user (non attorney and judges) queues is merged and will be released after the weekend. This is behind a feature flag. Do we want to identify some users to test this out with before we enable it for all? Perhaps with the user from [this thread](https://dsva.slack.com/archives/CHX8FMP28/p1588194131026200) would be a good start.

[2020-05-15 15:05] rubaiyat22 opened #14306 "IDT API sort document list by most recently dispatched"
## Background/context
Recently Paul noticed that the order of  list of documents returned by IDT API have changed. This was because the list returned doesn't have a sort order so so the order might've changed because non-code related changes in database.

We should return the list in order of most recently dispatched document first.

Reference: [slack thread](https://dsva.slack.com/archives/CD5DAQ

[2020-05-15 15:07] lomky opened #14307 "Investigation: Discover any AMA appeal states that won't move forward automatically"
## Description
We recently had two appeals reported in an unexpected state where their Distribution Tasks were cancelled, but they had other trees open. We believe these were affected by a bug we corrected last year.

The goal of this ticket is to look into the state of current AMA appeals and discover any potential orphan path in our codebase currently, and if any are found.

## Acceptance criter

[2020-05-15 15:47] pkarman commented on #13733
in production just now:
[code]

[2020-05-15 15:55] #14023 closed

[2020-05-15 15:58] hschallhorn commented on #14023
@araposo-tistatech This has merged and will be released on Monday. Do we want to write something up in headway? For all users, cases assigned to them that they have not clicked into will appear as bolded in their queue. Once they veiw the case, the link will return to a "normal weight" (what the heck is better wording for that?)
![81850269-c0d90c80-9525-11ea-9ad2-10316cb99cf6](https://user-images.

[2020-05-15 16:04] araposo-tistatech commented on #14142
@hschallhorn absolutely, I can't immediately identify the user in the thread (slack is not taking me directly to the thread for some reason), but I will request users from a few organizations we can test with.

[2020-05-15 16:19] araposo-tistatech commented on #14142
Confirming user request was sent.

[2020-05-15 17:35] #14306 closed

[2020-05-16 01:47] #14040 closed

[2020-05-17 14:47] yoomlam commented on #13733
For comparison:
[code]

[2020-05-18 13:18] araposo-tistatech commented on #13780
@RyanRoyUX leaving a note here, the Board is requiring that all tasks (that are not blocking for dispatch only tasks) be canceled before the case can be moved.

[2020-05-18 14:17] hschallhorn commented on #13175
# [Amelia Earhart](https://en.wikipedia.org/wiki/Amelia_Earhart) sprint (May 4 - May 18) engineering priorities
@yoomlam, @ajspotts, @lomky, @geronimoramos, @RyanRoyUX, @araposo-tistatech, and @hschallhorn, here are the priorities for this sprint!
## Core Set
### Case movement #11801
- [ ] ⭐Case Movement_Non-Blocking Tasks | Assigned To Field Not Displaying Correct User #14214
- [ ] ⭐Update Copy i

[2020-05-18 14:22] ferristseng commented on #12710
Tabling for now because this has a change that breaks a test for one of the APIs that supports an external team (`spec.requests.api.v3.decision_review.higher_level_reviews_controller_spec`).

This also deprecates the `serialized_json` method, but it should be pretty straight-forward to replace

[2020-05-18 14:40] araposo-tistatech commented on #14164
@hschallhorn now that we've opened new tickets, should we close this one out? Also, just a reminder of the following notes from Troy:

1.	Logs show March 23 there were 421 documents downloaded but user claims on April 21 that not all documents were in Caseflow.  Does Caseflow use what is in Caseflow storage at the time the user views the record in Caseflow to report the number of documents or does

[2020-05-18 15:30] #13404 closed

[2020-05-18 16:01] chandracarney commented on #13626
# Amelia Earhart Sprint 5/18/2020 - 5/29/2020
- Tomas on batteam 5/18/20 - 5/22/20

## Priorities

## Virtual hearings national rollout improvements

## Virtual hearings (next use cases)

## Hearings sentry alerts, tech improvements

## Other products (IDT, eFolder)

[2020-05-18 16:08] araposo-tistatech opened #14319 "Caseflow User Role: Case Movement"
## Description
I am working on a matrix for the Case Movement team. The user list consists of members of different teams, but I do not know the exact role they are assigned as in Caseflow. Below is the list of the members and their titles some are self explanatory, like VLJ, but others are not. Please provide the role they are assigned as in Caseflow:

| {User | Title | Caseflow Role |
| -- | -- |

[2020-05-18 16:11] #13996 closed

[2020-05-18 16:24] ferristseng commented on #14148
Possibly fixed by https://github.com/department-of-veterans-affairs/caseflow-commons/pull/170?

[2020-05-18 16:25] geronimoramos commented on #13914
@hschallhorn CSS ID makes a lot of sense to me especially if it is maintaining consistency - much better than a VACOLs location. I also like the idea of displaying an organization like Lit Support since reaching out to a team lead is more the norm than an individual contributor team member. But happy to experiment with CSS ID first! I don't see any challenges with it.

[2020-05-18 17:51] leikkisa commented on #12692
Sprint 5/4/2020 - 5/15/2020

[2020-05-18 17:52] leikkisa commented on #12692
Sprint 5/8/2020 - 5/29/2020

[2020-05-18 18:26] chandracarney commented on #14148
@ferristseng Yeah, since Echo worked #12979 in Reader to solve the labeling, they wanted us to check if eFolder also had a labeling issue. Since our team is only somewhat familiar with eFolder we wanted to create an investigation ticket so we could allow enough time if it 1) was an issue and 2) was causing problems.

[2020-05-18 19:20] #14148 closed

[2020-05-18 19:47] rubaiyat22 opened #14324 "Research how jobs are retries from /jobs and implement if possible"
## Description
Research how jobs get started from `/job` and determine if it'll be possible to allow `CreateConferenceJob` to restarted by users

## Acceptance criteria
- [ ] Test / research how jobs are retries from /jobs. Make any changes necessary to actually rerun the job
- [ ] write unit tests (if implementation possible)

## Background/context/resources
Documentation: https://github.com/depa

[2020-05-18 19:50] #13914 closed

[2020-05-18 19:50] rubaiyat22 commented on #14125
closing in favor of https://app.zenhub.com/workspaces/caseflow-5915dd178f67e20b5553ba0c/issues/department-of-veterans-affairs/caseflow/14324

[2020-05-18 19:50] #14125 closed

[2020-05-18 20:15] hschallhorn commented on #13914
@araposo-tistatech This fix is in and should be out in next deployment. Can we check in with VLJ support to see if this solves their qualms with the "Assigned to" column in their queue?

### User Facing Changes
 - [x] Queues show the actual assignees of each task (no one assignee for all tasks for one case)

 BEFORE|AFTER
 ---|---
![Screen Shot 2020-05-12 at 8 53 39 PM](https://user-images.githubu

[2020-05-18 20:30] araposo-tistatech commented on #14084
@lomky unfortunately, the VLJ Support team has reported that this issue has not been resolved. Please see their findings below:

"It appears that the work distribution issue for VLJ Support has not been resolved.  Please see below chart which shows the amount of work assigned to each employee during the period of May 9 through May 16,  2020.  I pulled this information from Tableau because we are n

[2020-05-18 21:25] ferristseng opened #14329 "Create Tech Spec for Organizing Code for Backend"
## Description

One pain point we identified during the Backend Working Group meeting was around sharing code and the problems of having a partially-monolith, partially-microservices layout for our codebase. We decided it would be outside the purview of the Backend Working Group to migrate the codebase fully over to either microservices or a monolith app, but decided that we would be make some pro

[2020-05-18 21:34] #14020 closed

[2020-05-18 21:34] #14022 closed

[2020-05-18 22:07] pkarman commented on #14329
This sounds like Caseflow is adopting [Conway's Law](https://en.wikipedia.org/wiki/Conway%27s_law) as a virtue. Is that correct?

[2020-05-18 22:20] #14147 closed

[2020-05-18 22:22] ferristseng commented on #14329
I hadn't heard of that, but, yes, it sounds like we're moving towards adopting some form of that as a virtue! Would be interested to know if there are any criticisms of that that you have or that you are aware of!

[2020-05-18 22:45] #13733 closed

[2020-05-18 22:47] yoomlam commented on #14084
@araposo-tistatech My 2 cents: I wouldn't expect the numbers to even out immediately since cases that have already been assigned (before the fix) will stay with the current assignee.

[2020-05-19 04:05] leikkisa commented on #13738
![Screen Shot 2020-05-18 at 9.04.38 PM.png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/bd129dc4-2f9b-4046-aba5-dc7c36e27d0e)

[2020-05-19 12:36] araposo-tistatech commented on #14084
@yoomlam appreciate the input! I've gone back to VLJ Support with your note and will await feedback.

[2020-05-19 13:05] hschallhorn commented on #14164
@araposo-tistatech Wrong ticket? 😄

[2020-05-19 13:08] araposo-tistatech commented on #14164
🤦‍♀️

[2020-05-19 13:10] araposo-tistatech commented on #14081
Posted this to the wrong ticket:

@hschallhorn now that we've opened new tickets, should we close this one out? Also, just a reminder of the following notes from Troy:

1. Logs show March 23 there were 421 documents downloaded but user claims on April 21 that not all documents were in Caseflow. Does Caseflow use what is in Caseflow storage at the time the user views the record in Caseflow to repor

[2020-05-19 13:25] yoomlam commented on #13230
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/10242

<img width="773" alt="image" src="https://user-images.githubusercontent.com/55255674/82331765-2dcb2700-99aa-11ea-8eb1-cf36587ce5b4.png">

Breadcrumb (but I've seen this error for other non-hearings breadcrumbs):
* /appeals/3e482db2-7b3b-4775-98c5-fe97412e3078/hearings
* /appeals/4033559/hearings

Could this mean the use

[2020-05-19 13:46] hschallhorn commented on #14164
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2020-05-19 13:49] hschallhorn commented on #14164
Saving template here
[code]

[2020-05-19 14:56] pkarman commented on #13733
Email sent to stakeholders, scheduling time to review.

[2020-05-19 14:59] hschallhorn commented on #14164
[code]

[code]

[2020-05-19 15:12] hschallhorn commented on #14164
[code]

[code]

[2020-05-19 15:45] yoomlam commented on #14164
For user Larkin, there are multiple users:
[code]

The other 2 users are a VSO ("VBASPTLARKIJ") and Intake(?) user ("VSCBLARK").

[2020-05-19 16:16] araposo-tistatech commented on #14164
@yoomlam requesting the CSS ID for Larkin

[2020-05-19 16:24] ferristseng opened #14336 "Rename veteran email column to appellant email"
follow up to #14258

## Description

#14258 didn't introduce a new column to the DB. Instead, it created an alias for the `veteran_email` and `veteran_email_sent` fields.

This ticket exists to track the final steps in the work to migrate from veteran to appellant in our naming. We can do this in two PRs:

### PR 1
- [x] create new `appellant_email` and `appellant_email_sent` columns in a migratio

[2020-05-19 16:27] alisan16 commented on #14329
Can we include clear identification of the pain points and the user stories from the Caseflow developer perspective as part of this ticket? I want to make sure we are addressing real problems our team is facing with this effort rather than theoretical problems that people might have with the inconsistent microservices vs. monolith set up.

[2020-05-19 16:56] yoomlam commented on #14164
## vacoahsann
[code]

## vacocirilA
[code]

## vacokutroa
[code]

[2020-05-19 16:57] #14015 closed

[2020-05-19 17:06] yoomlam commented on #14164
@hschallhorn I have these task types to reassign for legacy appeals: `["FoiaTask", "HearingClarificationColocatedTask", "IhpColocatedTask", "PoaClarificationColocatedTask"]`.
I didn't see specific examples for how to handle these task types, so should these be handled in a similar manner, i.e., `legacy_tasks.update_all(assigned_by_id: new_user.id)`?

[2020-05-19 17:19] msj0nes commented on #14206
@Sjones352 @leikkisa response received from BVA

Sent: Tuesday, May 19, 2020 1:09 PM
To: Jones, M
Subject: RE: Caseflow Use of Calendar Days for Timeliness Checks [Now tracked via Github #14206
_________________________________

•	Does the rules provided impact all legacy issue opt-ins (for both BVA and VBA)?

**Yes, the rule impact all legacy issue opt-ins.**

•	Does the time zone we use for dete

[2020-05-19 17:24] araposo-tistatech commented on #14164
@yoomlam the CSS ID is BVAMELARKIN

[2020-05-19 17:40] leikkisa opened #14338 "Upstream Error | Add pay grade validation matching VBMS"
## Description
When establishing claims for veterans, if the veteran has an invalid pay grade it causes claim establishment to fail.

We previously implemented pay grade validation based on a list from BGS, but learned that it does not match the validation being used by VBMS.  That has been [reverted](https://github.com/department-of-veterans-affairs/caseflow/pull/14337).

From Linda:

VBMS said t

[2020-05-19 17:47] hschallhorn commented on #14164
[code]
@araposo-tistatech Also need a css_id for VLJ Rein to reassign Cavallaro, Briana (vacocavalb) cases

[2020-05-19 18:08] araposo-tistatech commented on #14164
@hschallhorn CSS ID is BVALREIN.

[2020-05-19 18:10] #14210 closed

[2020-05-19 18:16] hschallhorn commented on #14164
[code]

[2020-05-19 18:20] hschallhorn commented on #14084
We should direct them to make this user inactive in caseflow rather than making them an admin. This will ensure they are not assigned any more tasks, but the correct way

[2020-05-19 18:28] yoomlam commented on #14164
Skipping non-ColocatedTasks [convo](https://dsva.slack.com/archives/CJL810329/p1589911701055700?thread_ts=1589810578.010300&cid=CJL810329)

## vacoparsos
[code]

## VACOLEWELT
[code]

[2020-05-19 18:34] pshahVA commented on #13699
Category | Metric | Applicable? | Approx Impact | Notes
-- | -- | -- | -- | --
Reach | Veterans Impacted (annually) |   | 400 |  
Users   Impacted |   |   |  
Technical   Complexity | Level of effort | Medium |   |  
Alignment to Goals and ability to measure success | Increase adoption of caseflow?   (estimated increase in # of users) | x | 5 users |  
Support   more appeal types? (estimated incre

[2020-05-19 18:50] lomky commented on #14084
@araposo-tistatech The round robin is now working as intended:

[code]

[2020-05-19 18:50] pshahVA commented on #13699
Category | Metric | Applicable? | Approx Impact | Notes
-- | -- | -- | -- | --
Reach | Veterans Impacted (annually) |   |   |  
Users   Impacted |   |   |  
Technical   Complexity | Level of effort |   | Medium |  
Alignment to Goals and ability to measure success | Increase adoption of caseflow?   (estimated increase in # of users) |   |   |  
Support   more appeal types? (estimated increase in #

[2020-05-19 18:59] pshahVA commented on #13700
Category | Metric | Applicable? | Approx Impact | Notes
-- | -- | -- | -- | --
Reach | Veterans Impacted (annually) |   |   |  
Users   Impacted |   |   |  
Technical   Complexity | Level of effort |   | Medium |  
Alignment to Goals and ability to measure success | Increase adoption of caseflow?   (estimated increase in # of users) |   |   |  
Support   more appeal types? (estimated increase in #

[2020-05-19 19:25] pshahVA commented on #11128
Category | Metric | Applicable? | Approx Impact | Notes
-- | -- | -- | -- | --
Reach | Veterans Impacted (annually) |   |   |  
Users   Impacted |   |   |  
Technical   Complexity | Level of effort |   | Low |  
Alignment to Goals and ability to measure success | Increase adoption of caseflow?   (estimated increase in # of users) |   |   |  
Support   more appeal types? (estimated increase in # ap

[2020-05-19 19:57] yoomlam commented on #14164
## bvacbiggins
[code]

## vacowillin2
[code]

### aka acowillin22
[code]

[2020-05-19 20:04] lomky commented on #14164
## vacocaseyc
[code]
## vacogrodns

[code]

[2020-05-19 20:09] pkarman commented on #12834
The Board decided not to use ODS. Excerpt of their email below.

[2020-05-19 20:09] #12834 closed

[2020-05-19 20:10] #14190 closed

[2020-05-19 20:45] janechi1 commented on #13988
What is this functionality?

[2020-05-19 21:06] #13213 closed

[2020-05-19 21:11] lomky commented on #14164
## vacohatfit

[code]

[2020-05-19 21:31] yoomlam opened #14342 "AVLJ cannot assign to attorney in Case Details page"
## Description
AVLJ users cannot assign a case to an attorney because the second dropdown does not change from "Loading..." after "Other" is selected in the first dropdown box.

![image](https://user-images.githubusercontent.com/55255674/82379932-53c5eb00-99ed-11ea-8e7c-91fb095f7669.png)

Workaround: The AVLJ should be able to "Switch views" to the "Assign ... team cases" view and assign the case

[2020-05-19 21:36] wturne commented on #14124
@Hunter Schallhorn<mailto:hschallhorn@tistatech.com>

Sorry it took so long to get back to you.  Hope you're doing well and staying safe!

No, I don't have any training materials on bulk assignment of tasks.  However, if you let me know who the training is for (Mail Intake or VLJ Support Staff or etc.), I can create something.

Respectfully,

William.

________________________________
From: Hunter

[2020-05-19 21:46] yoomlam commented on #13230
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/10237

`/queue/BVAPSORISIO/assign in HTMLSpanElement.nrWrapper at line 6:19651`

<img width="735" alt="image" src="https://user-images.githubusercontent.com/55255674/82381540-ff703a80-99ef-11ea-9908-a5ff96153fcd.png">

Breadcrumb includes:
* appeals/<various>/document_count
* /appeals/8529cb1a-b223-4771-afca-16943222493c/docum

[2020-05-19 22:05] #13436 closed

[2020-05-19 22:48] yoomlam opened #14345 "Explore log management tools for Rails logs"
# Log management tools
Explore log search and log viewer tools.

## Context
We have Kibana and AWS Cloudwatch Logs to search through our Rails server logs and help diagnose problems. [Existing tools here](https://github.com/department-of-veterans-affairs/appeals-deployment/wiki/Bat-Team-Quick-Ref#%EF%B8%8F-handy-links-for-diagnosing-issues). However these tools are difficult and/or cumbersome to u

[2020-05-19 22:53] #13884 closed

[2020-05-19 22:55] yoomlam commented on #14224
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/10306

[2020-05-20 12:16] msj0nes commented on #13738
# Update

AMO stakeholder is requesting a demo of this work.

[2020-05-20 13:03] lomky commented on #14164
## Sherry Ross

[code]

## Pamela Werdal

[code]

[2020-05-20 13:12] lomky commented on #14164
## vaconguyea1

[code]

## vacocoogaj
[code]

## VACOAustiT
[code]

[2020-05-20 13:28] alisan16 commented on #14002
What was the result of this investigation? Is there an estimate of how many existing claims are attorney fee cases? And, were you also able to estimate the size of the wider pool of contested claims? cc @pshahVA

[2020-05-20 13:44] #13661 closed

[2020-05-20 14:20] pkarman commented on #14255
One example:

[code]

[2020-05-20 14:28] pkarman commented on #14255
Another example:

[code]

[2020-05-20 14:37] #13995 closed

[2020-05-20 15:08] yoomlam commented on #10799
For these:

The problem is similar but for different code (`editingIssue` is undefined):
<img width="743" alt="image" src="https://user-images.githubusercontent.com/55255674/82462658-786ba280-9a81-11ea-86bd-28da0dc62438.png">

[2020-05-20 15:18] ferristseng commented on #14329
IMO that point was mainly to set context, and this effort wouldn't be trying to fully address the larger issues with having the code be partially-monolith and partially-microservices.

That being said, the main example of how this crops up is with sharing code between Caseflow and eFolder. The `BgsService` class is one example where code basically has to be copied over from [Caseflow](https://gith

[2020-05-20 15:32] araposo-tistatech commented on #12096
Re-opening as the latest audit has found this issue is not resolved:

"Note 1, Defect 1: Information, structure and relationships conveyed through presentation cannot be understood.

* The following occur when viewing a case:
    * A layout table is used to indicate if a specific task has been completed. This table is used to visually stylize information and should not be coded as a table for assi

[2020-05-20 15:50] araposo-tistatech opened #14348 "Content not listed visually coded as list content"
## Description
Many lists are used to stylize information when viewing cases. As an example, when viewing a case, the Veteran ID and View All cases elements are read as a list of 2 items. No information on this page visually appears as a list. This content is not listed visually and should not be coded as list content. (Not Resolved: 12/13/2019) Some appear to be ok but others are not lists, just

[2020-05-20 15:57] araposo-tistatech commented on #12123
Reopening, per the latest accessibility audit this is not resolved:

* The following occurs with the Dispatch application:
    * On the Establish Next claim page the label: Special Issue(s) is not read with the check box selections for assistive technology users. (New: 08/27/2019) The boxes need to be grouped and the label read “select special issue(s)” with all the checkboxes (Not Resolved 3/26/2

[2020-05-20 16:14] araposo-tistatech commented on #12134
reopening as this has not been resolved per the latest audit:

"I couldn’t get it to function in Chrome  (3/26/2020 I was able to get to the filter but it was not read by JAWs once I activated (checked the box) of a filter)"

[2020-05-20 16:16] lomky commented on #14329
I figured one of the possible outcomes of the Tech Spec could be "this probably isn't worth it". But writing up the tech spec would let us evaluate the pros and cons.

[2020-05-20 16:57] rubaiyat22 commented on #14187
I've confirmed that this is indeed caused by csrf token being expired. For example, you can see here the user tries to update hearing [here](https://console.amazonaws-us-gov.com/cloudwatch/home?region=us-gov-west-1#logEventViewer:group=dsva-appeals-certification-prod/opt/caseflow-certification/src/log/caseflow-certification.out;stream=i-0da9a7ba8df8ee3e2;refid=3545564639413848725466226862936490789

[2020-05-20 17:17] hschallhorn commented on #14124
Once this will be implemented, it will be available to all orgs that can be assigned tasks.

[code]

[2020-05-20 18:06] araposo-tistatech opened #14351 "Add reason field to cancel task modal"
## User or job story
User story: As a user that has the ability to cancel a task, I need to be able to add reasoning as to why I cancelled the task, so that other users can see the reasoning without having to reach out to me outside of Caseflow when necessary.

## Acceptance criteria
- [x] There is an open text box field in the cancellation modal for instructions
- [x] The cancellation reasoning i

[2020-05-20 18:38] araposo-tistatech opened #14352 "Add ability for VLJs to edit attorney comments/feedback"
## User or job story
User story: As a VLJ, I need the ability to view and edit attorney feedback/comments after judge checkout and/or dispatch, so that reporting can be as accurate as possible.

## Acceptance criteria
- [ ] VLJs are able to view the attorney feedback or comments after they have checked out their decision
- [ ] VLJs are able to edit attorney feedback or comments after they have che

[2020-05-20 18:54] hschallhorn commented on #12096
@jimruggiero and @chandracarney we specifically recieved the following from the 508 office

This (tables should not have headers if only used for layout) directly conflicts with the response from the audit (Items are still listed in a table, if you have a table there has to be a header listed)

[2020-05-20 19:12] pkarman opened #14353 "VHA reporting data"
## User or job story
User story: As a VHA data analyst, I need to pull VHA-related data from Caseflow so that I can build reports reflecting cases and their issues, regardless of where those cases are in their lifecycles.

## Acceptance criteria
- [ ] Working SQL example of pulling VHA data
- [ ] Tests for SQL examples
- [ ] Updated documentation

### Out of scope

We are not pulling new data into

[2020-05-20 19:15] araposo-tistatech opened #14354 "Give auto-assign organizations the ability to control members of the auto-assign grouping"
## User or job story
User story: As an admin of an organization that has tasks auto-assigned to users, I need the ability to control what users are able to receive auto-assigned tasks, so that I can remove or add a user when necessary based on Board needs.

## Acceptance criteria
- [ ] Organizational admins are able to add or remove team members from the auto-assign group
- [ ] This feature should

[2020-05-20 19:26] lomky commented on #14214
Could not replicate. Okay to close @araposo-tistatech ?

![ID changes](https://user-images.githubusercontent.com/6129479/82488604-2bea8c00-9aae-11ea-841f-a06428d558c1.gif)

[2020-05-20 19:59] #14214 closed

[2020-05-20 20:30] tomas-nava opened #14355 "Research: options for early conversion of central to virtual hearings"
## Description
Research the relative merits of these solutions:

1. Create a new docket day on a nearby location (that is a video location) and transfer veterans there.
2. Make the central office a video location for now?
3. Create a new Washington, DC location with a different name that has video capabilities. There is an unused VACOLS location number 72 (also called 372 in longform) that we coul

[2020-05-20 20:50] #14182 closed

[2020-05-20 21:06] #14248 closed

[2020-05-20 21:06] leikkisa commented on #14248
Closing this ticket - sent a report out to Jane Chi and VBMS folks.

[2020-05-20 22:09] jimruggiero commented on #12096
@hschallhorn Thank you for raising this. I just sent a note to Linsey in the 508 office asking for clarification and next steps guidance on this one. I'll let you know when I hear back!

[2020-05-21 06:33] tomas-nava commented on #14282
closed by [appeals-deployment/pull/2735](https://github.com/department-of-veterans-affairs/appeals-deployment/pull/2735)

[2020-05-21 06:33] #14282 closed

[2020-05-21 07:00] tomas-nava commented on #14299
**[this query may be useful](https://github.com/department-of-veterans-affairs/dsva-vacols/issues/115#issuecomment-614318870)**

[2020-05-21 13:30] chandracarney commented on #13945
Wondering if our move to editing virtual hearing details on a full-page will resolve this issue?

[2020-05-21 14:41] nicholer commented on #13945
@chandracarney Unfortunately probably not. The problem is that there's no "delete" flow - I think we need at least a confirm modal and appropriate success message from a design perspective. And from an engineering perspective, it needs to actually delete :)

I think this would be good work for the new designer/researcher.

[2020-05-21 14:48] chandracarney opened #14362 "Preserve Counsel notes written in ConfirmScheduleHearing Task"
## Description
Preserve the instructions/notes in the tasks that Counsel writes in ConfirmScheduleHearing Task on Case timeline.

## Acceptance criteria
- [ ] Update task documentation
- [ ] Update seed script to generate data for instruction/notes field

## Background/context/resources
When the task is cleared from the Hearing Management Branch queue, the instructions/notes and history from Couns

[2020-05-21 14:58] chandracarney opened #14363 "Change ConfirmScheduleHearing task routing logic to follow routing of ScheduleHearing task"
## Description
Change routing on `ConfirmScheduleHearing` task to follow the routing of the `ScheduleHearing` task such that the appeal arrives back on the Schedule Veterans page(s).

If attorneys have the ability to create the `ScheduleHearing` task in their Actions menu, the `ConfirmScheduleHearing` task can be deprecated.

### Alternate (less ideal) options
- Keep both `ConfirmScheduleHearing`

[2020-05-21 14:59] chandracarney opened #14364 "Merge 'Hearings Management' and 'Hearing Admin'"
## Description
Merge `Hearings Management` and `Hearing Admin` queues to `TBD`.* All tasks should appear in one queue, rather than divided across two. The Hearing Management Branch team should all be members of the queue, with specific users as admins, who can take action on tasks.

*ideas for naming presented by the Deputy Branch Chief:
`Hearing Management`
`Hearing Management Team`
`Hearing Mana

[2020-05-21 15:05] araposo-tistatech commented on #14142
@hschallhorn below are the names of users I've received:

Michael Theriot
Chandra Tyler
Kristian Berhost
Robert Carter
Naheem Grant
Lazette Clanton
Ronald Bergeron
Andrew Kim
Shaliah Benton

[2020-05-21 15:45] ferristseng commented on #14299
We might be lacking the "what they were" part of this since a hearing can have its disposition changed. We do have the final disposition though, which I think _should_ be enough. My understanding is when a disposition is changed, it's mostly as a corrective measure (?).

[2020-05-21 15:46] ferristseng commented on #14299
Closing this in favor of #13687, which has points on it

[2020-05-21 15:46] #14299 closed

[2020-05-21 15:58] hschallhorn opened #14365 "Store cancelled_by_id in task table"
Currently, to show who has cancelled a task in case timeline, we are interrogating papertrail records to find out who cancelled a task
https://github.com/department-of-veterans-affairs/caseflow/blob/660bcf53cec1b933a8041a4955ae345186f84609/app/models/task.rb#L584-L594

Papertrail is a diagnostic and investigation tool, not something we should be using to display information to a user. Instead, we

[2020-05-21 16:09] hschallhorn commented on #14142
[code]
@araposo-tistatech Looks like our best bets are (in order of the most tasks)
1. LAZETTE CLANTON
1. RONALD BERGERON
1. ROBERT CARTER
1. SHALIAH BENTON

[2020-05-21 16:29] hschallhorn commented on #14307
is this a delta ticket?

[2020-05-21 16:42] hschallhorn commented on #14319
@araposo-tistatech What do you mean by role here. Some things I can think of are
- [ ] Are they a judge in vacols?
- [ ] Are they an acting judge in vacols?
- [ ] Are the an attorney vacols?
- [ ] Are they a colocated user in vacols?
- [ ] Are they a dispatch user in vacols?
- [ ] Are they an admin of any organizations (including judge teams)
- [ ] Are they a non admin of any organizations (includ

[2020-05-21 16:49] araposo-tistatech commented on #14319
@hschallhorn all items you listed, that is basically what I am trying to base the matrix on, what features/pages are we presenting to them in Caseflow.

If I know they are a colocated user then I know they see xyz page and can do xyz action. Does that make sense? Regrets, I think my user of the terminology "role" maybe the confusion. It's a bit different in Caseflow so I have to make sure I use th

[2020-05-21 17:05] yoomlam commented on #14298
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

#### Why 2?
* No code change; follow code and document

#### Why 3?
* Uncertainty around
  * Our upstream dependencies
  * Caching
  * Replicating this in development

[2020-05-21 17:10] yoomlam commented on #14351
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Should append to the instructions.

#### Why 2?
* Straightforward, acts like most our other modals, have example PR of adding this field to a modal and updating the backend if needed

#### Why 3?
* Maybe a little work to allow different UI title, wording, etc

[2020-05-21 17:15] yoomlam commented on #14365
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Review Bat Team docs and update any reference scripts that cancel to update this field

#### Why 3?
* add column, add code to update column and check column
* straightforward, but a few moving parts

#### Why 5?
*  May be hard to track down all places we cancel tasks. Will we have the cancellin

[2020-05-21 17:20] yoomlam commented on #14348
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Survey how much needs fixing. If easy, make the fix. Fix as much within timebox.
Focus on Case Details page initially. Scan other pages: Search page, etc.
Timebox to 3.

[2020-05-21 17:23] yoomlam commented on #14342
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Check where we pre-load attorneys in those 2 screens ([CaseDetailsLoadingScreen](https://github.com/department-of-veterans-affairs/caseflow/blob/a167f15862c8f20642d1e0f23192220eac6f3a0b/client/app/queue/CaseDetailsLoadingScreen.jsx#L1) vs [QueueLoadingScreen](https://github.com/department-of-ve

[2020-05-21 17:32] yoomlam commented on #14354
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Consider re-architecting Organizations Admin page to account for special handling of different orgs: JudgeTeam, auto-assign, etc.

Use OrganizationUser table to note whether a member is in the auto-assign pool. New org users should have autoassign set to true.

#### Why 3?
* a good amount of wo

[2020-05-21 17:41] geronimoramos commented on #14352
Designs Ideas:
- New view
- VLJ to access this view when searching up the case with a decision id attached to it already. From case details click something that says view or edit feedback on this case

[2020-05-21 17:44] yoomlam commented on #14352
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Currently no way to view feedback/comments.
Context: attorneys receive reports (disseminated by VLJ?) from Tableau reporting

JudgeCaseReview has those comments (4? fields).

Should this break out into more tickets? Let's check after design.

#### Why 3?
* Lots of changes, but straightfoward

#

[2020-05-21 17:45] yoomlam commented on #14345
Timebox to 3.

[2020-05-21 17:50] yoomlam commented on #14307
Timebox to 3.
Difference from StuckAppealsCheckerJob or OpenTasksWithClosedParentsCheckerJob?
How did appeals get here? What's their status? Where should they go?
May be relevant to RAMP appeals only, but should check if AMA appeals face similar problems.

[2020-05-21 18:05] leikkisa commented on #11787
Re-opening this ticket, as we have a new occurrence of this error.

[2020-05-21 18:40] ferristseng commented on #14355
### Data

[code]

- There are non-ET veterans. Majority are in ET, but there are enough that aren't that we shouldn't do it manually.

- (Ferris) I've done these requests for batteam, so it's a manual process that's not possible from the UI. It only has happened retroactively when a veteran has had a hearing in a place they weren't scheduled for
- We could write a script for that if there is a set

[2020-05-21 19:51] araposo-tistatech opened #14366 "Remove OT status for cases that are reassigned"
## Description
In the following situations the overtime status should be removed from the case:

Judge or case movement user reassigns case to another judge
Judge or case movement user reassigns attorney task to a new attorney

## Acceptance criteria
- [ ] This is only done for workmodes on an appeal, not updating the vacols decass record or attorney case review
- [ ]  OT status is removed when a

[2020-05-21 20:15] #12785 closed

[2020-05-21 21:24] rubaiyat22 commented on #14324
It is possible to allow users to restart `CreateConferenceJob` from `/job.`

The endpoint `/restart` in `AsyncJobsController` calls `restart!` method in `Asyncable` module. We need to override  `restart!` method in `VitualHearingEstablishment` like so
[code]

One thing stopping us from fully implementing this is being able to determine which type of email ("confirmation" or "updated_time_confirmat

[2020-05-21 21:35] ferristseng commented on #13687
Dashboard with hearings metrics: http://query.prod.appeals.va.gov/dashboard/5

[2020-05-21 21:35] #13687 closed

[2020-05-22 10:30] #13738 closed

[2020-05-22 12:27] araposo-tistatech commented on #14142
Hi @hschallhorn Lazette Clanton is all set to have the feature enabled on Tuesday. Let's work together to schedule a time to turn it on.

[2020-05-22 16:09] pkarman commented on #14193
Update: yes, TIFF service in EE was broken.

Still not the case that Caseflow Reader uses it, afaik.

[2020-05-22 16:16] yoomlam commented on #14193
Support ticket came up about this issue again: https://dsva.slack.com/archives/CHX8FMP28/p1590085212373400

[2020-05-22 16:56] araposo-tistatech opened #14372 "Assign, On Hold, and Completed not read by assistive technology programs"
## Description
The following occur with Veteran Michael_VSO at 101-Michael-VSO user Access in caseflowdemo (under Queue/your queue)
the state of the tabs Assign, On Hold and completed is not read by assistive technology programs. Visually the state is communicated using multiple lines to indicate which tab is currently selected. (New: 08/21/2019) You can’t tell which tab you are on presently see t

[2020-05-22 17:06] yoomlam commented on #14193
I have a sequence of actions that enable Reader to display TIFF as PDF:
[code]

[2020-05-22 17:17] msj0nes opened #14373 "Intake | The 'enter or select form box' and 'Which form' label is not read by assistive technology (End: 6/12)"
# Accessibility Issue Description

#### Defects Found:
_Defect 2:_ The name, role, state or value of user interface elements in the product cannot be understood.
_Defect 3:_ Labels and instructions are not provided when content requires user input.

#### Details
- The label and instructions _'Which Form Are You Processing_' is not read by assistive technology programs.
- The role for the _Enter or

[2020-05-22 17:37] chandracarney commented on #12096
Hey @hschallhorn we got a long response from Linsey, I'll pull some quotes. I think it boils down to what we're trying to accomplish with the table: layout vs. data table.

[2020-05-22 18:36] pkarman commented on #14193
@yoomlam that's good stuff. I would suggest working it into this https://github.com/department-of-veterans-affairs/appeals-deployment/issues/2718

[2020-05-22 19:15] msj0nes opened #14377 "Demo | Assistive technology does not read the access link for each product in demo (End: 6/12)"
# Accessibility Issue Description

#### Defects Found:
_Defect 1_: Information, structure and relationships conveyed through presentation cannot be understood.

#### Details
If a user selects one of the application elements such as Queue, a link is displayed visually under the list of applications that reads: Your Queue. Assistive technology users do not know this link is displayed after the list

[2020-05-22 19:54] yoomlam commented on #12297
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/9814
`tabs` is undefined:
<img width="690" alt="image" src="https://user-images.githubusercontent.com/55255674/82704811-fb385d00-9c3b-11ea-8a0b-6b5c6472933a.png">
 context:
<img width="689" alt="image" src="https://user-images.githubusercontent.com/55255674/82704833-09867900-9c3c-11ea-86d0-89f42e7cea69.png">

[2020-05-22 21:17] yoomlam commented on #14345
@nanotone Since you have some experience with Kibana and AWS Cloudwatch log tools, please add your input to this ticket.

[2020-05-22 22:38] rutvigupta-design commented on #14153
@jcq added the new designs that are ready for dev.

[2020-05-22 22:58] ajspotts commented on #14164
## vacoblackt3

[code]

## vacobryana

[code]

## vacoherdlb2

[code]

## vacokellyd

[code]

## vacolanek

[code]

## vacomagilj

[code]

## vacomarrak

[code]

## vacomccord

[code]

[2020-05-23 14:30] #13465 closed

[2020-05-23 18:25] #13415 closed

[2020-05-26 13:43] hschallhorn commented on #12096
Perfect, thank you so much for the insight!

[2020-05-26 14:07] nanotone opened #14380 "Contested Claims | Attorney Fees | Unlisted claimant storage"
## Description
Update the Caseflow DB to support storing unlisted claimants.

## Acceptance criteria
- [ ] New database migration to perform the update
- [ ] All checklist items required for changing the schema

## Background/context/resources
When intaking an attorney fee case where the attorney's name cannot be found in our database, the user will mark the claimant as not listed and include some

[2020-05-26 14:16] hschallhorn commented on #14142
@araposo-tistatech department-of-veterans-affairs/appeals-deployment#2747 Will enable this for Ronald as soon as it merges. Do we have a time he'd like this turned on?

[2020-05-26 14:37] araposo-tistatech commented on #14142
@hschallhorn 1pm please.

[2020-05-26 14:53] #12243 closed

[2020-05-26 14:53] araposo-tistatech commented on #12243
duplicate of #12136

[2020-05-26 15:10] #12096 closed

[2020-05-26 15:14] araposo-tistatech commented on #12094
Per the recent audit, this issue is not resolved:

Data in columns with filtering capabilities are read as filter by when reviewing information with assistive technology programs and table commands. Elements should only read as filter by in the first row when the filter button has focus visually. This occurs with numerous tables throughout the web hosted application. (Not Resolved: 12/13/2019) Eve

[2020-05-26 16:10] #14199 closed

[2020-05-26 19:03] jcq commented on #14107
So just to confirm, if the user checks this field, we should unset any incorrect claimant that had been selected from the dropdown ( `setClaimant(null)` in `AddClaimantModal` )? (Note that this requires updating the validation logic in `AddClaimantModal`.)

And @rutvigupta-design, what is the design for the text of the radio button shown after submitting the modal with this "claimant not listed" o

[2020-05-26 19:17] nanotone commented on #14283
This ticket is now identical to #14107. I've merged any new technical notes from here to the older ticket, and am now closing this one.

[2020-05-26 19:17] #14283 closed

[2020-05-26 19:31] ferristseng commented on #13956
Emailed Jed with some questions about how we can support virtual hearings in VACOLS (or whether we need to at all)

[2020-05-26 19:40] rutvigupta-design commented on #14107
@jcq please see the design of the radio button for unlisted claimants below. Did some design exploration but ultimately decided it's better for users to see the full extent of what they wrote out in case they'd like to immediately edit. Please let me know if I can further clarify!

![Review - Selected - Contested Claimant](https://user-images.githubusercontent.com/51714306/82943052-92fcba80-9f5e-1

[2020-05-26 20:22] chandracarney opened #14386 "Store Appellant/Veteran and POA timezone in database"
## Description

Store Veteran/Appellant and/or POA timezone in database to consider the field when displaying time of hearing.

## Acceptance criteria
- [ ] Ensure some of the existing time logic that pulls from the RO looks
  - [ ] Add unit tests
- [ ] Ensure if the TZ is set, the emails will display the time in the veteran/appellant/POA's timezone

## Background/context/resources

Supports the c

[2020-05-26 20:24] chandracarney opened #14387 "Build out feature flag for Central Office-to-virtual conversions"
## Description

Build out new feature flag for Central Office-to-virtual conversions

Proposed feature flag name: `schedule_virtual_hearings_for_central`

## Acceptance criteria

- [ ] Confirm user with feature flag can see hearing type dropdown for CO hearings
- [ ] Confirm user w/o feature flag _can't_ see hearing type dropdown for CO hearings

## Background/context/resources

N/A

## Technical

[2020-05-26 20:32] chandracarney opened #14388 "Add section cards, adjust layout and style of Hearing Details page"
### Description
Update the layout to use section cards and arrange hierarchy of the Hearing Details page.

### Designs
- Direct links to designs when [hearing type is Central/video](https://www.figma.com/file/V87TZArfdurCGJiEjQ73ES/Virtual-Hearings?node-id=5649%3A18613) and when [hearing type is virtual](https://www.figma.com/file/V87TZArfdurCGJiEjQ73ES/Virtual-Hearings?node-id=5649%3A20946)
- Mai

[2020-05-26 20:33] ferristseng commented on #14355
In dev, we were able to successfully:

  - Move a postponed Central hearing to a video hearing day by updating the `hearing_day_id`
  - Reschedule the postponed hearing to a different video hearing day
  - Change the hearing to a virtual hearing through the UI

The only issue we are having is we aren't able to "reverse" this process to ensure the integrity of the data. Once new hearings are schedu

[2020-05-26 20:41] chandracarney opened #14389 "Investigate new path for Convert to Virtual page"
## Description

There are a couple of options we could take to implement the new convert-to-virtual form. This ticket would be investing those options since this is a new-ish (?) way of going through a multi-step workflow.

- Create a completely new page, with a new route/path. Switching the hearing type dropdown would redirect to a new page
  - Q: Would this lose any current changes the user has?

[2020-05-26 20:51] chandracarney opened #14390 "Share existing Virtual Hearing modal code with Convert to Virtual page"
repurpose

[2020-05-26 21:03] pkarman commented on #14255
[code]

[2020-05-26 21:27] chandracarney opened #14393 "Hearing task routing enhancements"
## Background/context
[Requirements-gathering doc](https://docs.google.com/document/d/1kcnud1_ZdtVDUujLInp-W8PuZwQafZFZLjbKaOZNSp0/edit?usp=sharing)

Define and map out difference in `Hearings Management` and `Hearing Admin` queues queues, tasks within those hearing queues, and correct routing of tasks for the Hearing Management Branch's queues.

`Hearing Admin`tasks
- ChangeHearingDispositionTask

[2020-05-27 13:13] hschallhorn commented on #14081
From Yoom:

[2020-05-27 13:44] hschallhorn commented on #14142
@araposo-tistatech department-of-veterans-affairs/appeals-deployment#2762 Will enable this for Lazette when we hear back on when she'd like to try it out!

[2020-05-27 13:44] #14289 closed

[2020-05-27 13:54] hschallhorn commented on #14142
Thinking out loud.
Attorneys and judges cannot use pagination because legacy tasks are not persisted in our database (which means they cannot be sorted and filtered at the database level on the back end). HOWEVER, legacy tasks will never appear in a users on hold or completed tab as we can only pull legacy appeals from vacols that are currently assigned to the user. Could we implement pagination f

[2020-05-27 14:24] pkarman commented on #14255
[code]

[2020-05-27 14:44] rutvigupta-design commented on #13745
Designs complete. See #13807 for engineering progress.
<img width="553" alt="Screen Shot 2020-05-27 at 9 44 11 AM" src="https://user-images.githubusercontent.com/51714306/83035146-b6774200-9ffe-11ea-93b4-8a6b5710dd19.png">

[2020-05-27 14:44] #13745 closed

[2020-05-27 14:47] rutvigupta-design commented on #13667
Discovery Research findings for Attorney Fees [here](https://github.com/department-of-veterans-affairs/appeals-research/issues/14).

[2020-05-27 14:47] #13667 closed

[2020-05-27 15:08] rutvigupta-design commented on #13476
Closing because Motions to Vacate functionality has been piloted and users are being able to add URLs successfully.

[2020-05-27 15:08] #13476 closed

[2020-05-27 15:10] rutvigupta-design commented on #13775
Designs for Phase 1 (adding attorneys as claimants) added to #14283.

[2020-05-27 15:10] #13775 closed

[2020-05-27 15:40] ferristseng opened #14394 "Fix Hearing Day notes issue sometimes displaying and sometimes not displaying"
## Description

It looks like there's an issue where the notes on a hearing day sometimes displays and sometimes doesn't display when you create a new hearing day. The notes will show in the edit hearing day modal, but not anywhere else in the UI. When you edit the hearing day and add new notes, they display on the page

## Acceptance criteria
- [ ] Update documentation: [link]

## Background/cont

[2020-05-27 15:41] rutvigupta-design commented on #14066
Design added here. This has been de-prioritized until the Motions to Vacate pilot has been completed.

![Address MTV _ May 2020](https://user-images.githubusercontent.com/51714306/83041528-305ef980-a006-11ea-9349-9d9639cee9b9.jpg)

[2020-05-27 15:41] ferristseng commented on #14355
We found an option that is available through the UI to do this. Closing for now unless that option doesn't work in production.

[2020-05-27 15:41] #14355 closed

[2020-05-27 15:45] pkarman opened #14395 "Appeals API | Cancelled Appeals raise error"
## Description

Appeals that have been cancelled will not have decision dates. This causes an uncaught error in the Status API.

Business analysis should be done to discover how cancelled appeals should be handled: either filtered out of the API completely, or lack of decision date handled gracefully.

To reproduce (via rails console in prod):
[code]

## Acceptance criteria
- [ ] No error for canc

[2020-05-27 15:48] rutvigupta-design commented on #13761
@msj0nes the design for this was complete. Does an engineering ticket need to be written for this?

[2020-05-27 15:49] rutvigupta-design commented on #11830
Closing. Will potentially re-visit the need to research user groups in the future.

[2020-05-27 15:49] #11830 closed

[2020-05-27 15:50] rutvigupta-design commented on #11720
Closing for now. Will potentially revisit the need to research and understand this user group in the future.

[2020-05-27 15:50] #11720 closed

[2020-05-27 15:58] ferristseng commented on #13956
Some notes from my email with Jed:

  - The hearings team might not need to see the HEADSCHED data in VACOLS if they're using Caseflow already.
  - We will need to update `BRIEFF.BFHA` with a new code (possibly '7' for virtual hearing)

  - We could add a new location code, but that would be up to the hearings team as well.

It sounds like we might need to get some more requirements around what th

[2020-05-27 16:28] #14284 closed

[2020-05-27 17:27] ajspotts commented on #14212
Since #14321 we have replaced the offending `AssignWidget` with `AssignToAttorneyWidget` which means we no longer return the modal in the issues description's gif.  The new modal seems to work correctly with screenreader:

![ezgif com-video-to-gif1](https://user-images.githubusercontent.com/18618189/83048846-3c53b700-a018-11ea-90ca-afb50e2090e9.gif)

[2020-05-27 17:27] #14212 closed

[2020-05-27 19:26] chandracarney opened #14400 "Reported virtual hearing emails not received"
## Story
Some Caseflow users are intermittently letting Caseflow members that virtual hearing email recipients are reporting not receiving emails that are generated by Caseflow.

## Adding information to table
If an email is reported as not received, please add it to the table below with the status of "New". If you don't know the Hearing Detail or Daily Docket links, please leave that blank.

## R

[2020-05-27 19:38] msj0nes commented on #13282
# Status
Completed. Stakeholder approval received below. Notification of production release sent.

From: C, Jane L., VBAWASH
Sent: Friday, May 22, 2020 2:50 PM
To: ----
Subject: AMO Approves for Deployment - Caseflow Functionality to Prevent Contention Removal with a Pending Exam (5/22)

**Closed**
#13488 Intake | Add Contention service to ruby-bgs
#13675 Adding updated ruby-bgs gem to gemfile
#13

[2020-05-27 19:38] #13282 closed

[2020-05-27 21:40] rubaiyat22 commented on #14400
https://appeals.cf.ds.va.gov/hearings/743077/details

[code]

Checking granicus to see the status of email
[code]
Checking bgs email
[code]

will check back tomorrow to see if it has been updated

[2020-05-27 21:49] yoomlam commented on #13584
BEFORE|AFTER
 ---|---
<img width="885" alt="image" src="https://user-images.githubusercontent.com/55255674/83075756-fad40380-a039-11ea-87f8-3fc6afc9c3cc.png"> | <img width="862" alt="image" src="https://user-images.githubusercontent.com/55255674/83075492-92852200-a039-11ea-9d9c-baa2bec93846.png">

[2020-05-27 21:50] msj0nes commented on #11490
## EP Claim Label Families

EP 040 Series Family

EP Label | EP Label Name
-- | --
040ADONRPMC | PMC AMA Difference of Opinion - NR (040)
040ADORPMC | PMC AMA Difference of Opinion - Rating (040)
040AMADONR | AMA Difference of Opinion - NR (040)
040AMADOR | AMA Difference of Opinion - Rating (040)
040BDE | Board DTA Error
040BDEIMO | Board DTA Error - w/IMO
040BDEIMOPMC | PMC Board DTA Error - w/I

[2020-05-27 22:09] msj0nes commented on #11490
## Caseflow Established EP Labels

EP 040   Series Family | EP 930 Series Family | EP 030 Series Family
-- | -- | --
040ADONRPMC | 930AHCNRLPMC | 030HLRNR
040ADORPMC | 930AHCNRLQE | 030HLRNRPMC
040AMADONR | 930AHCNRNPMC | 030HLRR
040AMADOR | 930AHCNRNQE | 030HLRRPMC
040HDENR | 930AHCRLQPMC |  
040HDENRPMC | 930AHCRNQPMC |  
040HDER | 930AHDENLPMC |  
040HDERPMC | 930AHDENNPMC |  
040SCNR | 930AHDE

[2020-05-28 00:01] jcq commented on #14292
### Previous Behavior
![Screen Shot 2020-05-27 at 15 01 43](https://user-images.githubusercontent.com/2581274/83078102-9ca12380-a02d-11ea-8af8-743640fee093.png)

### Updated Behavior
![Screen Shot 2020-05-27 at 15 01 54](https://user-images.githubusercontent.com/2581274/83078118-a75bb880-a02d-11ea-98e6-2d8a2a5b0703.png)

[2020-05-28 12:44] rutvigupta-design opened #14408 "Caseflow Intake | New Teammate Onboarding Documentation"
## Background/context
Caseflow is receiving a new design lead and Team Foxtrot is receiving a new Product Manager. There is a need to visually communicate the basics of the product, and the design work that is in progress and upcoming.

## Success criteria
- [ ] `.5 points` Streams of Work for Design Lead (Notion)
- [ ] `.5 points` Streams of Work for Product (Notion)
- [ ] `2 points` Current Inta

[2020-05-28 13:01] rutvigupta-design opened #14409 "Caseflow Intake | Design/Research Ops"
## Problem statement

As a Foxtrot retro action item, there is a need to define and document goals and processes from various types of user and stakeholder sessions (who to invite, should we clarify scope before bringing in technical experts).

## Background/context

We need to add more structure to our stakeholder sessions and differentiate between info gathering/ kickoff meetings and user sessio

[2020-05-28 13:12] rutvigupta-design opened #14410 "Contested Claims | Attorney Fees | Outstanding Open Questions"
## User story
 Users need a way to successfully intake claims with attorneys (current or previously) as the claimant.

## What is out of scope?

- Design of displaying claimant's name and information on Queue (belongs to Echo)

## What questions do we hope to answer? What are our learning goals?
- What happens to these Appeals after they get Intaken? In the current context, we're not prepared to a

[2020-05-28 13:22] rutvigupta-design opened #14411 "Discovery Research Study: Non-Veteran Claimants | Research Planning"
## User story
VBA and BVA Intake users need a way to intake claims with non-veteran claimants in Caseflow.

## Problem statement

The team needs to establish an understanding of which non-veteran relationships need to be prioritized, and what information needs to be collected, as well as the end-to-end workflow and requirements.

## What is out of scope?

Any design solutions

## Background/contex

[2020-05-28 13:40] rutvigupta-design opened #14412 "Non-Veteran Claimants | BVA SME Session"
## User story
BVA Intake users need a way to intake claims with non-veteran claimants in Caseflow.

## Problem statement
The team needs to establish an understanding of which claimant types can be categorized, what information needs to be collected from users, and where this information should be displayed. We need to understand what happens with these claims outside of Intake, and what is needed

[2020-05-28 13:50] rutvigupta-design opened #14414 "Non-Veteran Claims | Design a way for users to free text claimant information"
## User story
BVA Intake users need a way to intake and process claims with claimants other than the Veteran or their direct relatives.

## Problem statement
Currently, users are unable to process claims if the claimant is someone other than the Veteran or their dependent (spouse, child, parent). If we are unable to integrate with external databases to search for these claimant names, users need a

[2020-05-28 14:18] pkarman commented on #8896
I believe this is due to `config.symlink_non_digested_assets_regex` not working in the react_on_rails feature. It is supposed to symlink all the static assets stored in `client/assets` but it is not.

You can see this clearly on the /certification/help page where all the image links are broken.

[2020-05-28 14:45] hschallhorn commented on #14142
Looking for attorneys to test!
[code]

[2020-05-28 15:18] rutvigupta-design opened #14416 "Caseflow Intake | Issues Flow Re-Design"
## User story
VBA Intake users need a way to correctly identify and add issues as rating or non-rating issues to avoid errors.

## Problem statement

Intake users are often adding rating issues as non-rating issues, because the current flow is:
1. Select from existing decisions
2. If the issue doesn't match any existing decisions, match the issue category (users are often adding the issue here as

[2020-05-28 15:31] leikkisa commented on #13807
@nanotone I think this is a dupe of #14137 and is in [Sandra's PR](https://github.com/department-of-veterans-affairs/caseflow/pull/14227).

[2020-05-28 15:32] leikkisa commented on #13806
@nanotone I think this might be a dupe also - can you confirm?

[2020-05-28 15:34] leikkisa commented on #11793
@nanotone This might be a ticket we can clean up as well

[2020-05-28 15:35] leikkisa commented on #13977
Just noting this previous ticket opened which has some more history and I think information on our previous attempt to fix this:
https://github.com/department-of-veterans-affairs/caseflow/issues/10571

[2020-05-28 15:37] leikkisa commented on #10571
We believe this can be solved through using a new rating data endpoint BGS created for us which allows us to see the in-progress ratings. Work to implement this is in:
https://github.com/department-of-veterans-affairs/caseflow/issues/13977

Closing this version of the ticket.

[2020-05-28 15:37] #10571 closed

[2020-05-28 15:50] #13584 closed

[2020-05-28 15:58] leikkisa opened #14417 "Intake | Upstream Error | Add error classes (and ignore in Sentry)"
## Description
For VBMS Upstream Errors we like to add error classes for different causes of the generic HTTP Error.  This allows us to ignore them in Slack.

that do not yet have their own

## Acceptance criteria
- [ ] Check upstream errors that currently have the generic VBMS HTTP Error class, and add classes for them (detect using a snippet of the error message)
- [ ] Add them to the list of er

[2020-05-28 16:08] #14132 closed

[2020-05-28 16:27] sahalliburton commented on #12299
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/10485/?referrer=webhooks_plugin

[2020-05-28 16:37] leikkisa commented on #14021
JC to own this PR, but we'll all try to contribute at least one storybook story (except maybe Sally).

[2020-05-28 16:48] msj0nes commented on #11490
# Status
Caseflow research is blocked and pending Board approval to proceed.

[2020-05-28 16:53] leikkisa commented on #14338
Sally to split up into two tickets - 2 + 2

[2020-05-28 16:54] rutvigupta-design commented on #13761
Note: Designs to be re-evaluated, copy could be interpreted as all 3 errors are affecting the claim?

[2020-05-28 16:58] leikkisa commented on #14066
We are waiting for confirmation from the stakeholder before moving forward on this. @rutvigupta-design to reach out.

[2020-05-28 17:01] araposo-tistatech commented on #13584
@wturne @RTOLSON we are removing the overtime field attorneys would typically see during their checkout process. Can we have the training documents updated?

[2020-05-28 17:08] ajspotts commented on #14366
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

might be two PRs, unless the changes are straightforward.

#### Why 1?
*

#### Why 2?
*

#### Why 3?
* Unsure of where this should happen. Easy enough to do in the reassign function to do a check on the task type
* Unsure of where this is handled for legacy appeals, probably.
  - can we reassig

[2020-05-28 17:15] ajspotts commented on #12245
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

#### Why 1?
*

#### Why 2?
* Optimism?
* This sounds straightforward once we get our bearings
* Looks like there are a few unseen elements that are being selected.

#### Why 3?
* General lack of knowledge around how active elements are determined and displayed

[2020-05-28 17:18] ajspotts commented on #14303
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

#### Why 1?
*

#### Why 2?
* Find all the user dropdowns
* Sort 'em
* Add tests

[2020-05-28 17:22] ajspotts commented on #14300
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

URL change is occurring in QueueTable

#### Why 1?
*

#### Why 2?
* A bit of digging to find the right place

#### Why 3?
* May take some unpacking of the link between only updating the address bar any time tasks need to be requested from the back end
* Learning how pagination is related to the

[2020-05-28 17:32] ajspotts commented on #14319
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Wiki page ref:
* [FeatureToggle](https://github.com/department-of-veterans-affairs/caseflow/wiki/User-access-permissions-in-Caseflow#2-feature-toggles)
* [User access permissions in Caseflow](https://github.com/department-of-veterans-affairs/caseflow/wiki/User-access-permissions-in-Caseflow)
*

[2020-05-28 18:03] chandracarney opened #14420 "Create timezone dropdown component"
## Description
Create new timezone dropdown to provide Hearing Coordinators time selection in a format that is consistent throughout the app.

- Format timezone naming
- List RO timezones at the top
  - Introduce line between RO timezones and all timezones
- Use searchable dropdown component

## Acceptance criteria
- [ ] Update storybook

## Detailed AC
### **Board** virtual Hearing Time dropdown

[2020-05-28 18:04] chandracarney opened #14421 "Build new Convert to Virtual page for Central Office hearings"
## User or job story
User story: As a Hearing Coordinator, I need to use a Convert to Virtual page, so that I can schedule Central Office hearings to virtual.

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: #14387
- [ ] This feature should be accessible to the following user groups: Hearing Coordinators
- [ ] Include screenshot(s) in the Github issue

## Detailed AC

[2020-05-28 19:18] wdrougas-tista commented on #14281
[code]

**Error when trying to establish EP in VBMS**
`VBMS::MissingData (status_code=500, body=<env:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header/><env:Body><env:Fault><faultcode>env:Server</faultcode><faultstring>Error validating ClaimService data input. GUID: 630a1f27-403f-4796-883c-e8f914494bbc</faultstring><detail><ns2:dataValidationFaultDetailBean xmlns:part="htt

[2020-05-28 19:25] rubaiyat22 commented on #14400
https://appeals.cf.ds.va.gov/hearings/525352a4-fc74-40e8-9ae2-18942b77dadb/details
https://appeals.cf.ds.va.gov/hearings/ac00af2d-f156-4eb3-b53c-299e4f1671d6/details

both of the representative emails were sent according to grancius

[2020-05-29 13:39] nicholer commented on #13938
Addressed by #13804

[2020-05-29 13:39] #13938 closed

[2020-05-29 17:03] pkarman opened #14427 "Search result UX for VA employees who do not have access to Veteran file"
## User story

As a Caseflow user who is a VA employee, I should have a search experience consistent with my access privileges.

## Problem statement

VSO employees and VA employees can see different search results messages when they do not have access to a Veteran record. The VSO employee gets a nice "you do not have access" message. The VA employee can see results, but trying to follow the links

[2020-05-29 17:04] pkarman commented on #13051
closing in favor of https://github.com/department-of-veterans-affairs/caseflow/issues/14427

[2020-05-29 19:11] jcq opened #14430 "Caseflow Intake | Bug | Fix Debounce for Add Claimant Search"
## Description
Looks like we had a reversion that causes debounce to not actually be preventing repeated API calls in `AddClaimantModal`

## Acceptance criteria
- [ ] Async fetch function is properly debounced

[2020-05-29 19:30] rubaiyat22 opened #14431 "Implement HearingDay model to represent virtual hearing"
## Description
The current `HearingDay` model looks as follows:

[code]

All of the above fields should be sufficient for a virtual hearing day. All fields except `room` should be relevant to track for a virtual hearing day since virtual hearings won't have room associated with them.

Currently, the `HearingDayAddModal` has a checkbox to indicate whether not to assign rooms for hearings (which is

[2020-05-29 19:31] rubaiyat22 commented on #13955
closing this in favor of new ticket https://app.zenhub.com/workspaces/caseflow-5915dd178f67e20b5553ba0c/issues/department-of-veterans-affairs/caseflow/14431

[2020-05-29 19:31] #13955 closed

[2020-05-29 19:56] ferristseng opened #14432 "Investigate performance issues on Daily Docket"
## Description

We are getting reports of the daily docket page being slow even when there is not a lot being displayed. Estimate reflects a timebox of the effort put into researching this issue.

## Acceptance criteria
- [ ] Update documentation: [link]

## Background/context/resources

Raised by Premal: https://dsva.slack.com/archives/C3EAF3Q15/p1590767139331800

- A place to start would be New

[2020-05-29 21:36] lomky opened #14433 "Dispatch & Special Issues Investigation"
While continuing to implement the New Contentions, https://github.com/department-of-veterans-affairs/caseflow/issues/13423, we've discovered some unexpected behavior in how Queue and Dispatch are interacting differently with Special Issues (SI). To proceed, we need to answer several questions so we can clarify the path forward.

**AC:**
 - [x] Essential questions are answered & documented in a wik

[2020-05-29 21:39] yoomlam commented on #14433
Mentioned elsewhere: https://github.com/department-of-veterans-affairs/caseflow/issues/13736#issuecomment-614069364

[2020-06-01 11:59] hschallhorn commented on #13175
# []() sprint (Jun 1 - Jun 14) engineering priorities
@yoomlam, @ajspotts, @lomky, @geronimoramos, @RyanRoyUX, @araposo-tistatech, and @hschallhorn, here are the priorities for this sprint!

## Core Set
### Case movement #11801 - 70% Complete
- [ ] ⭐  Case Movement_Non-Blocking Tasks | Assign Task Modal Selections Persist #14213
- [ ] ⭐  Case Movement_Non-Blocking Tasks | Display error when assign

[2020-06-01 13:41] rutvigupta-design commented on #14410
### Open questions:
1. Once the appeal has been intaken, what needs to happen?
2. What would need to be visible after the Intake process to aid in the continued processing of the claim?
   1. Would the claimant name need to be visible after the Intake process? To whom and for what purpose?
   1. Other than the claimant name, would any other claimant information ever be needed later in the process?

[2020-06-01 14:59] ajspotts opened #14439 "Cannot read property 'length' of undefined in QueueTableBuilder"
## Description
`QueueTableBuilder` returns `Cannot read property 'length' of undefined` on `numberOfPages={tabConfig.task_page_count}` in the `taskTableTabFactory` function

## Background

https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/10495
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/10497

[2020-06-01 16:00] msj0nes commented on #14153
Hi @jcq I'm providing sprint updates to Fred. Is this safe to close or is there additional work to be done?

[2020-06-01 16:00] msj0nes commented on #14294
Hi @nanotone  I'm providing sprint updates to Fred. Is this safe to close or is there additional work to be done?

[2020-06-01 16:04] rutvigupta-design commented on #14153
@jcq indicated the update to the instructions on the main Review page in #14107

[2020-06-01 16:05] yoomlam commented on #14298
@araposo-tistatech To make sure I'm on the right track, what does "refresh" mean in this ticket?

[2020-06-01 16:19] #14292 closed

[2020-06-01 16:19] #14153 closed

[2020-06-01 16:35] #14206 closed

[2020-06-01 16:37] araposo-tistatech commented on #14298
@yoomlam it means clicking the refresh button on the browser.

[2020-06-01 17:08] pkarman commented on #14307
One pattern is that we have appeals with closed root tasks but open child tasks.

See https://dsva.slack.com/archives/CJL810329/p1590527026173900 and `AppealsWithClosedRootTaskOpenChildrenQuery`.

Appeals with open child tasks should have open root tasks.

[2020-06-01 18:30] msj0nes opened #14441 "BVA | Support supplemental appeal stream for AMA cases"
## Background/context
This development aims to resolve AMA case scenarios where the Board missed, failed to adjudicate or decide on one of many issues. This issue then requires a post-decision must this must be done under the same docket in a supplemental appeal stream.

**In this instance:**
- The new supplemental appeal stream must be completed under the original docket number where it was misse

[2020-06-01 19:24] wdrougas-tista commented on #14293
<img width="762" alt="Screen Shot 2020-06-01 at 3 19 04 PM" src="https://user-images.githubusercontent.com/63597932/83446001-f7ff5700-a41b-11ea-8d09-86177e4841e1.png">

Attached is the updated UI

[2020-06-01 19:40] ajspotts commented on #14439
Related: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/10502

[2020-06-02 12:54] #13987 closed

[2020-06-02 13:00] #14293 closed

[2020-06-02 13:38] lomky opened #14444 "Add Timing Metrics to Queue Loading"
To keep an eye on how long it takes to load users queue, we should time the load and send this information, properly tagged, to Datadog. This will allow us to keep an eye on load times over time and across users, organizations, & queue types.

## AC
  - [ ] All Queues measure their load time & report it to Datadog
  - [ ] the data points are tagged with user type, organization, pagination_enabled,

[2020-06-02 14:29] yoomlam commented on #14444
Probably use `MetricsService` like https://github.com/department-of-veterans-affairs/caseflow/blob/ff59e90ed10c726493fd463e5035f102a0377102/app/controllers/legacy_tasks_controller.rb#L28-L29
to get a chart in DataDog:
<img width="920" alt="image" src="https://user-images.githubusercontent.com/55255674/83531552-bf5e8c80-a4b2-11ea-8199-06a214c96545.png">

May need to update `MetricsService` to allow

[2020-06-02 14:56] nanotone commented on #14294
@msj0nes No, this is still in progress.

[2020-06-02 15:24] #14216 closed

[2020-06-02 15:28] rubaiyat22 commented on #14387
PR for adding new flag in deployment: https://github.com/department-of-veterans-affairs/appeals-deployment/pull/2772

[2020-06-02 16:08] #14213 closed

[2020-06-02 16:22] leikkisa commented on #14430
# March Against Fear Sprint Sprint 6/1/2020 - 6/12/2020
Engineering capacity: 73%
- Yang PTO 6/1
- JC Batteam week of 6/1
- Sandra Batteam week of 6/8

## Sprint status
:arrow_right_hook: Carryover: 11
:arrow_right_hook: ✅Carryover completed:
:arrow_right_hook: Remaining:

⭐️ Points pulled in for this sprint: 17
⭐️✅Points from this sprint completed:
⭐️🚫Decided not to do:
⭐️Remaining:
⭐️🛑Blocked fo

[2020-06-02 16:40] #14217 closed

[2020-06-02 16:47] pkarman commented on #13571
Seems to correlate with EE scaling up/down. E.g. https://sentry.ds.va.gov/department-of-veterans-affairs/efolder/issues/7731/events/f97ac04978a14e6fa40d4f1c36d6a21a/

We've dealt with one instance of this in #14243 and silenced Sentry for the rest. Going to close this until there is something actionable.

[2020-06-02 16:47] #13571 closed

[2020-06-02 17:12] leikkisa commented on #12692
# March Against Fear Sprint Sprint 6/1/2020 - 6/12/2020
Engineering capacity: 73%
- Yang PTO 6/1
- JC Batteam week of 6/1
- Sandra Batteam week of 6/8

## Sprint status
:arrow_right_hook: Carryover: 11
:arrow_right_hook: ✅Carryover completed:
:arrow_right_hook: Remaining:

⭐️ Points pulled in for this sprint: 17
⭐️✅Points from this sprint completed:
⭐️🚫Decided not to do:
⭐️Remaining:
⭐️🛑Blocked fo

[2020-06-02 18:04] araposo-tistatech opened #14447 "Remove "Special" copy from Completed Task tab"
## Description
Now that Special Case Movement has been renamed to Case Movement we will need to ensure the task name is updated on the completed tab of the your cases page for case movement users.

![image (1)](https://user-images.githubusercontent.com/59883609/83553776-bc2ac700-a4d9-11ea-8e08-a65e8a21de90.png)

## Acceptance criteria
- [ ] Special Case Movement copy is updated to Case Movement on

[2020-06-02 18:19] chandracarney commented on #13626
# March Against Fear Sprint 6/1/2020 - 6/14/2020

## Priorities

### Virtual hearings bugs/triage

### Virtual hearings (next use cases)
⭐️ Build out feature flag for Central Office-to-virtual conversions (#14387)
⭐️ Determine Veteran's Timezone from Address (#13889)
⭐️ Investigate new path for Convert to Virtual page (#14389)
⭐️ Add section cards, adjust layout and style of Hearing Details page (

[2020-06-02 19:51] leikkisa commented on #10164
This error came up during UAT testing of Dispatch, and multiple different users got the error when trying to establish a claim for the same veteran. They appear to have the correct permissions. This might indicate that this is a problem with the veteran rather than user permissions.

[2020-06-02 19:52] araposo-tistatech commented on #14142
@hschallhorn below are the attorneys we are approved to test with and schedule for enabling the feature:
Robert Watkins - 6/03 at 10 am EST
Blake Temple - 6/04 at 10 am EST
Benton Komins - 6/04 at 10 am EST

[2020-06-02 19:54] hschallhorn commented on #14142
We'll probably need at least until next week before this work for attorneys in don.e Still working on priority stuff for this sprint before I can get back to this ticket!

[2020-06-02 20:16] pkarman opened #14451 "Investigation: IHPT open after root task closed"
## Description

InformalHearingPresentationTask are open but root task getting automatically closed.

## Technical notes

Locate with:

[code]

[2020-06-02 20:20] pkarman commented on #14451
see also #14451 and #14307

[2020-06-02 20:34] yoomlam commented on #14298
[WIP notes so far](https://hackmd.io/Dm7cR49cRgycy5g7oHiGwA)

[2020-06-02 21:51] pkarman commented on #14255
There are several buckets here.

* TrackVeteranTask open when root task is closed. This may require a nightly clean up job.
* [InformalHearingPresentationTask open when root task is closed](https://github.com/department-of-veterans-affairs/caseflow/issues/14451)
* Post-dispatch tasks (like BoardGrantEffectuationTask) are legitimately open and do not have a parent task (not in the RootTask tree). #

[2020-06-02 22:00] pkarman commented on #14451
Alternate way to identify them:

[code]
[code]

[2020-06-02 22:35] #14362 closed

[2020-06-02 22:58] janechi1 commented on #12383
Adding a comment to this epic.  The "Definition of Done" considers 3 aspects a Veteran can appeal or request a decision review for service connection, effective date, and/or the evaluation level assigned.  A user should be able to split out these 3 rating issues to address separately in the event all 3 are at issue.  It was noted that it was primarily for effective date and/or evaluation level but

[2020-06-02 23:02] rubaiyat22 commented on #14387
Incorporated the flag https://github.com/department-of-veterans-affairs/caseflow/pull/13832 with this commit https://github.com/department-of-veterans-affairs/caseflow/pull/13832/commits/7e174d2d0fc7aa550e302e0a2cb357e5ea3b5e72

[2020-06-03 00:21] yoomlam commented on #14193
Some more info as I'm digging into a related ticket #14298.
In Reader's Document View page, `DocumentController#pdf` is called for the current, next, and previous documents. (Note this is not the same `Reader::DocumentsController` used for Reader's Document List page.)

`DocumentController#pdf` will
   * serve up the [pdf file from directory `/tmp/pdfs/`](https://github.com/department-of-veterans-

[2020-06-03 00:26] tomas-nava opened #14455 "make the DocketRangeJob idempotent and schedule it to run at the end of each month"
## Description
The [DocketRangeJob](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/jobs/docket_range_job.rb) was designed to be run at the end of each month, but it was never scheduled.

Also, the job should be modified to be idempotent. It'll currently update the last _n_ appeals on the hearing docket that don't have a `docket_range_date` set; it should also take into

[2020-06-03 12:19] lomky opened #14456 "Appeal Data Logging Audit"
As the echo team, we want to find and document all the ways the Appeal process logs data along its process through Caseflow, especially Queue. The goal is to be able to utilize logging when reconstructing the history of an appeal.

 - What stages of the process are logged to AWS? Which aren't?
 - How can we reliably query this?
 - What stages/changes are logged into our database versioning, PaperT

[2020-06-03 12:31] yoomlam commented on #14456
Related to #14345

[2020-06-03 14:14] chandracarney commented on #13846
Tango nationally rolled out **Caseflow Phase 1: Switching a Hearing from Video to Virtual (Gen 2)** described in this epic, along with #11508.

Closing the epic as the national rollout was successful and smooth. Any new issues that pop up will be captured and worked on in #13949 (epic for national rollout enhancements / support).

[2020-06-03 14:14] #13846 closed

[2020-06-03 15:25] sahalliburton commented on #14389
Investigation Notes (also see [writeup](https://hackmd.io/4Wv3uFPKSb6yalrFUD2mqQ)):

- Create a completely new page, with a new route/path. Switching the hearing type dropdown would redirect to a new page
    - Q: Would this lose any current changes the user has?
    - A: If the user is redirected to a new page, this would require a page reload and lose any unsaved changes that might already exist

[2020-06-03 16:13] msj0nes commented on #13711
# Status
Closing this investigation ticket. Our team reviewed the production cases above to help improve understanding of non-ratings visible between VBMS and Caseflow.

[2020-06-03 16:13] #13711 closed

[2020-06-03 16:18] msj0nes commented on #13088
# Last Status

Caseflow team has supplied BGS team with assessment data required to resolve missing ratings issue. Please contact Jim R. for additional details relating to the development

[2020-06-03 16:41] rubaiyat22 commented on #14387
confirm in prod console that feature flag is working

[2020-06-03 16:43] #14387 closed

[2020-06-03 17:06] yoomlam commented on #14081
Added [more notes in Part 3](https://hackmd.io/9DYl3EwdTqKCpALVbIWnQg#Part-3) -- nothing conclusive yet.

[2020-06-03 17:29] sahalliburton commented on #14386
Based on discussion with the team the following was decided as the best approach:

- Add 2 additional fields to the virtual_hearings table
  - poa_tz: 3 character string representation of the  Representative/POAs timezone
  - appellant_tz: 3 character string representation of the Appellant timezone
- Calculate the time on the frontend using MomentJS to parse the date based on the stored timezone

[2020-06-03 17:32] pkarman commented on #14386
could we store those tz values on `claimants` and `bgs_power_of_attorneys` instead so they are stored in one place? or is the idea that they might change from hearing to hearing?

[2020-06-03 17:46] sahalliburton commented on #14386
There is not an indication that I am aware of that they would change from hearing to hearing so that would make sense to me to store it in those places respectively so the data would not be duplicated. @ferristseng and @rubaiyat22 do you have any objections to us taking this approach?

[2020-06-03 18:45] wdrougas-tista commented on #11490
Below are the EP Labels not currently available in Caseflow

930AHDENLPMC
930AHDENNPMC
930AHDENRPMC
930AHDERLPMC
930AHDERNPMC
930AHDERPMC

[2020-06-03 18:56] msj0nes commented on #11490
Many thanks @wdrougas-tista

-

[2020-06-03 19:31] janechi1 commented on #11490
Those EP930s should be in Caseflow.  Sally deployed them in December 2019.  Here are the Slack discussion threads:
https://dsva.slack.com/archives/CFBLH2LR4/p1578509221007400?thread_ts=1578509221.007400
https://dsva.slack.com/archives/CFBLH2LR4/p1576508964017100?thread_ts=1576508964.017100

[2020-06-03 19:46] wdrougas-tista commented on #11490
Thanks @janechi1, threads indicate that but I am not seeing them in my local environment.

`CORRECTION_REVIEW_CODES = {
    "930ABGNRCLQE" => "AMA BVA Grant Non-Rating Correction of LQE",
    "930ABGNRCNQE" => "AMA BVA Grant Non-Rating Correction of NQE",
    "930ABGNRCPMC" => "AMA PMC BVA Grant Non-Rating Control",
    "930ABGRCLPMC" => "AMA PMC BVA Grant Rating Correction of LQE",
    "930ABGRCL

[2020-06-03 19:53] ferristseng commented on #14386
I think the value can change from hearing to hearing -- for example,  if someone moves. I think it could potentially be useful to have the historical data in that case. If it's useful to track the TZ on the claimant/POA-level too, we could save it in both places.

[2020-06-03 20:30] pkarman opened #14460 "TrackVeteranTask opened after case is complete"
## Description

We have instances where a TrackVeteranTask is opened after a RootTask is closed.

[code]

We need to either:

* [ ] discover if this is a code bug, fix it and clean up the data
* [ ] or, create an ongoing scheduled job to close these tasks

## Background/context/resources

https://dsva.slack.com/archives/CJL810329/p1591130098371200

See also #14255 #14307

## Technical notes

For A

[2020-06-03 20:33] pkarman commented on #14386
both/and seems useful. If we have a value on the `claimant` then we can offer that as a default. Same for POA.

[2020-06-03 20:59] yoomlam opened #14461 "Add tests for attorney behavior for acting judges in Queue"
## Description
When testing with attorneys, we probably don't check that acting judges should have the same capabilities.

Make sure we have tests for both types of attorneys: (pure) Attorneys and Acting Judges.

## Acceptance criteria
- [ ] Update any wiki documentation that describes attorneys to account for acting judges
- [ ] Tests for both types of attorneys going through the same scenarios,

[2020-06-04 03:53] yoomlam commented on #14298
Result: https://github.com/department-of-veterans-affairs/caseflow/wiki/Reader-Backend

[2020-06-04 04:05] #14302 closed

[2020-06-04 14:01] araposo-tistatech commented on #14084
Maria from the VLJ support team got back to us stating two users (Lazette Clanton & Ronald Bergeron) are still receiving more tasks then other users. Below is the report she provided (May 25th - June 3rd):

![Legacy Task Table](https://user-images.githubusercontent.com/59883609/83766008-daafd000-a649-11ea-8bdb-d2d507106f47.jpg)
![AMA Task Table](https://user-images.githubusercontent.com/59883609/8

[2020-06-04 14:29] #13374 closed

[2020-06-04 14:29] #12960 closed

[2020-06-04 14:32] #13112 closed

[2020-06-04 14:41] hschallhorn opened #14462 "Create DVC Teams"
When VLJs are unavailable, DVCs need the ability to remove the VLJ from the Auto-Case Distribution priority push algorithm. We do not currently have this information in caseflow and have received the go-ahead to track DVC teams like we do judge teams.

Creating DVC teams will also allow us to route tasks of VLJs that have departed the Board to their DVC.

## AC
- [ ] New organization type is creat

[2020-06-04 15:00] pkarman commented on #13438
Now at 618 open tasks.

[2020-06-04 15:04] hschallhorn commented on #14164
@araposo-tistatech Closing this. We can open a new on if we get a new round from the board. However, we may want to hold off on manually reassigning tasks as any more users would be good test cases for testing inactive user features

[2020-06-04 15:22] rubaiyat22 opened #14464 "Investigate hearing locations with nil facility_id in prod"
## Description
There are about 240 hearing locations in our db that have nil `facility_id` and other fields. We discovered this as part of [this investigation](https://dsva.slack.com/archives/C42P25D6H/p1591111718036800).
The investigation revealed that on update to hearing locations on daily docket, backend was creating a new location on every update but since we were only sending diff changes, i

[2020-06-04 16:35] hschallhorn opened #14465 "Identify ways JudgeTeams have diverged from organizations"
Although judge teams are an organizations and share many similar workflows, they have their own specific "assign cases" page. This ticket exists to captures all org/judge team differences in order to find ways we can sync up behaviors, workflows, and queues.

Shared Workflow|Organization|JudgeTeam
---|---|---
**Who are members of the org**|There are many users in an org and some can be admins|Ther

[2020-06-04 16:37] leikkisa commented on #11490
@janechi1 @msj0nes
I had gotten confused by the DOO codes before, I didn't recognize them so I thought they were new ones.

We do have the codes Will mentioned in our EP code selector (the code that chooses which EP code to use). We haven't had any attempts to establish those codes yet in our database.
 However, we are missing those codes in our end product validation, so if we get one we would ge

[2020-06-04 16:45] msj0nes commented on #13926
## Last Status
Caseflow team has supplied BGS team with assessment data required to resolve missing ratings issue. Please contact Jim R. for additional details relating to the development

[2020-06-04 16:45] #13926 closed

[2020-06-04 16:51] #14192 closed

[2020-06-04 17:05] hschallhorn commented on #14456
Timebox to a 3!

[2020-06-04 17:12] hschallhorn commented on #14460
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Check callbacks being skipped.
Check whether the calls that create TVT aren't properly checking appeal state

#### Why 2?
* Believe this could be related to the (many) open tasks we have on closed root tasks. Could be opening track veteran tasks when these other open tasks are processed (`sync_

[2020-06-04 17:14] hschallhorn commented on #14451
Timeboxing to a 3. Could be related to #14460 https://github.com/department-of-veterans-affairs/caseflow/blob/e82803c2cdb863b53ece9796ab1a2585739d1e5b/app/models/tasks/track_veteran_task.rb#L54

[2020-06-04 17:23] hschallhorn commented on #14444
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
#### Why 3?
* As queues load a lot of their information async, it may be tough to get a full picture of how long a user is sitting with a queue loading screen spinner. Can we find a way to link all async requests with a uniq identifier as each request will have its own uuid. Could then pull all

[2020-06-04 17:30] hschallhorn commented on #14439
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

#### Why 2?
* May just need to identify where the leak in our Redux state is that is causing this and plug that

#### Why 3?
* This this may be related to not having a fresh queue config. Hard to track down the exact scenario where this occurs.
* What is in our react state and when?
* somewhat

[2020-06-04 17:37] hschallhorn commented on #14275
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

#### Why 2?
* Could be as simple as moving the error to the component we want to scroll to the top to.

#### Why 3?
* Unfamiliarity around where and why we're scrolling
* Pessimism

[2020-06-04 17:40] hschallhorn commented on #14274
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

#### Why 1?
* No test changes
* 1 or 2 lines to change

#### Why 2?
* CSS is scary

[2020-06-04 17:43] hschallhorn commented on #14267
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

This is toggled by the highlight_errors redux action

#### Why 1?
* Could be a one line fix

#### Why 2?
* Tracking down where and what the one line fix is
* Unfamiliar code, could affect a lot of other places?

[2020-06-04 17:56] yoomlam commented on #14298
@araposo-tistatech Is the above wiki page sufficient for closing this ticket?
I describe some potential tickets arising from this investigation in [Slack](https://dsva.slack.com/archives/CJL810329/p1591280243407100).

[2020-06-04 18:17] msj0nes commented on #13893
# Update

The Board Intake team was provided with the current Caseflow logic on handling 'closed' issues. This includes issues with th

## Caseflow ‘closed’ Issues rules

Board Intake response to the current rules in place was provided by K.Sosna via email

Sent: Wednesday, June 3, 2020 11:50 AM
To: Jones, Martina (TISTA) <Martina.Jones@va.gov>; Santiago, Armando <Armando.Santiago@va.gov>; Scire,

[2020-06-04 18:19] msj0nes commented on #13893
@leikkisa when possible can you assess the responses above and provide engineering feedback on whether additional information is needed for development action or if this is sufficient to proceed with required changes.

[2020-06-04 20:12] #14288 closed

[2020-06-04 20:18] msj0nes commented on #10105
Closing this ticket until the Board can provide a listing of cases that were processed using a workaround that needs to be backfilled.

[2020-06-04 20:18] #10105 closed

[2020-06-04 23:05] jcq commented on #11081
Code for handling a single stuck EP:

[code]

[2020-06-04 23:30] jcq opened #14472 "Add Caching of EPs to Avoid Timeouts during Lookup"
## Description
At least in one case, the lookup of associated ratings can take a long enough time that the user encounters server timeout errors.

## Acceptance criteria
- [ ] Add caching for EPs in Redis so that `fetch_associated_rating` in `EndProductEstablishment` is more performant

## Background/context/resources
- [🦇 thread](https://dsva.slack.com/archives/CHX8FMP28/p1591277936051900)
- [Add

[2020-06-05 00:17] msj0nes commented on #8547
# Status

Motion to Vacate has been released on 6/1/10.

**Completed**
- Deployment plan  [supplied to stakeholder POC]
- Pilot Bug Assessment  [supplied to stakeholder POC]
- Headway Release Note  [available to all users in Caseflow]

[2020-06-05 02:09] leikkisa opened #14473 "Manual Fix | Close "Failure to respond" legacy appeals"
## Description
When legacy appeals have the "Failure to respond" disposition ("G" code disposition), but all of the issues on it get opted-in to AMA, the legacy appeal is not being opted into AMA with the "O" disposition. This is due to some code in AppealRepository preventing us from "closing" the legacy appeal that is already closed.

## Background/context/resources/related

## Instances reporte

[2020-06-05 18:48] msj0nes opened #14476 "BVA | Intake claims listed with a G code disposition in VACOLS"
## User or job story
As a BVA Intake user, I need to be able to intake claims listed with a G code disposition in VACOLS

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: [toggle name]
- [ ] This feature should be accessible to the following user groups:
- [ ] Include screenshot(s) in the Github issue if there are front-end changes
- [ ] Update documentation: [link]

##

[2020-06-05 19:07] msj0nes commented on #13963
This is more of a data tracking verification ticket for the team to assess all label changes being reportable.

[2020-06-05 19:18] ferristseng opened #14477 "[Flaky Test] Appeal Edit issues allows adding/removing issues"
## Description

[code]

Note: It's looking for `2. Military Retired Pay - nonrating description`. The actual seems to have it mislabeled or in a different order: `1. Military Retired Pay - nonrating description`.

## Background/context/resources

 - Circle CI Error:  [Appeal Edit issues allows adding/removing issues - spec.feature.intake.appeal.edit_spec](https://app.circleci.com/pipelines/github/

[2020-06-05 20:15] #14388 closed

[2020-06-06 01:06] #14281 closed

[2020-06-06 01:06] #14183 closed

[2020-06-06 01:07] #14017 closed

[2020-06-08 04:08] Sjones352 commented on #14373
@leikkisa and @jcq. Upon reviewing this ticket, this SelectForm is inheriting/using from the SearchableDropdown props. The SearchableDropdown component uses the react-select api https://react-select.com/props which sets the Selectform at a combobox role. Chrome + Voiceover does not  announce the "focused" option when using the arrow keys on the dropdown listbox.

FireFox + Voiceover announces the

[2020-06-08 16:12] hschallhorn opened #14483 "Reassign Tasks for Inactive Accounts Part 2!"
# OLD TICKET: Do not add to this ticket -- add to Part 3 #16275 instead.

---

Part 2 of #14164

### Inactive User Reassigns
N.B. - ✔️ , 🏁, and DONE are equivalent to each other.

"Nothing to do" is effectively also done, but indicates that there was nothing to reassign.

"NO" indicates that we have not gotten to those rows yet.

Done|Previous Assignee|New assignee|Notes
---|---|---|---
:heavy_che

[2020-06-08 16:45] #14394 closed

[2020-06-08 18:56] pkarman commented on #14477
again https://app.circleci.com/pipelines/github/department-of-veterans-affairs/caseflow/32177/workflows/a9589b51-e7cf-4889-8fb5-04b647751fc5/jobs/117960/parallel-runs/2?filterBy=FAILED

[2020-06-08 19:40] hschallhorn commented on #14273
Could not replicate with Kat! Looks like we fixed this one somewhere else!

[2020-06-08 19:40] #14273 closed

[2020-06-08 20:15] rutvigupta-design opened #14488 "Caseflow Intake: Review page spacing consistency"
## User story
As an Intake user, I want to be able to differentiate between different categories of questions so my workflow is not disrupted.

## Problem statement
The spacing between various form fields on the Intake Review page can potentially throw users off and is inconsistent. For some questions, it is difficult to differentiate between ones that are related, and ones that are separate categ

[2020-06-08 21:03] rutvigupta-design commented on #14488
@jcq I know we had roughly discussed this two weeks ago, so wanted to see if there's anything I can clarify or add to this ticket!

[2020-06-08 21:18] ajspotts commented on #14195
I am not getting the errors described in the ticket.  I tried to recreate the circumstances from dogfooding (i.e. active JudgeAssign task, no legacy_das_deprecation FeatureToggle) and I get 2 separate outcomes:

1. With a Judge I am able to successfully assign a legacy case to an attorney
2. With a CM, I receive the following error:

![ezgif com-video-to-gif](https://user-images.githubusercontent.

[2020-06-08 21:31] ferristseng opened #14489 "JSON Parser error in HearingsController#show"
## Description

Caused by an error in eFolder, but not sure what the root cause is

[code]

I don't think the request ever reaches the eFolder rails server. I wasn't able to find the same request in the rails log. This could probably fail more gracefully, but it seems mostly like a transient issue.

## Acceptance criteria

N/A

## Background/context/resources

https://sentry.ds.va.gov/department-o

[2020-06-08 21:33] jcq commented on #14373
This might be a good time/reason to finally upgrade `react-select`; we're using a quite old version (1.0.0-rc.4) and I know they've addressed ARIA stuff on a number of releases since then. Can't guarantee it remedies this, but certainly couldn't hurt!

[2020-06-08 21:45] pkarman commented on #14489
seems related to #13998 and #14243

the 502 gateway error is from nginx. It may be that rails puma threads are all busy?

[2020-06-08 21:47] jcq opened #14490 "Update `react-select` to Latest"
## Description
We are using a _very_ outdated version of `react-select` (v1.0.0-rc.4), which was released over 3 years ago. We should update to the latest for performance, accessibility, and other improvements

## Acceptance criteria
- [ ] Update `react-select` to latest
- [ ] Make any necessary changes to `SearchableDropdown`

## Background/context/resources
- [Breaking changes from 2.x => 3.x](h

[2020-06-08 23:38] jcq commented on #14488
@rutvigupta-design This is really helpful; looking forward to us fixing the spacing! :)

[2020-06-09 00:07] tomas-nava commented on #14187
Closing because @rubaiyat22's PRs address the critical aspects of the issue. We will work on speeding up the daily docket page so that people don't feel the need to leave it open for long periods of time without reloading.

[2020-06-09 00:07] #14187 closed

[2020-06-09 00:18] rutvigupta-design commented on #14488
@leikkisa this is a general Intake improvement (but related to attorney fees designs) that is ready for dev

[2020-06-09 14:09] hschallhorn commented on #14195
That looks like the error described. I think if you open up the dev console, you'll see the actual error returned from the back end (Deadusr/Deteam can't be blank)

[2020-06-09 14:15] araposo-tistatech commented on #14298
@yoomlam closing, thanks!

[2020-06-09 14:15] #14298 closed

[2020-06-09 14:47] #13542 closed

[2020-06-09 14:49] #12643 closed

[2020-06-09 14:50] pkarman commented on #12709
This effort seems to have been abandoned as a priority by the Board. The feature is in Caseflow and needs only to be enabled via feature toggle.

[2020-06-09 14:50] #12709 closed

[2020-06-09 15:14] rutvigupta-design opened #14492 "Caseflow Intake | Test Issue | Onboarding"
## Background/context

## Goals

## Success criteria

## Stakeholders

## Requirements/stories

## Open questions

## References/Resources

### Designs and workflows

### Business value

### Dependencies

[2020-06-09 15:16] #14492 closed

[2020-06-09 15:16] rutvigupta-design commented on #14492
Closing as an example for Rebecca.

[2020-06-09 15:59] rubaiyat22 commented on #14386
I think it might be better to store the timezone as "full name" (not sure what to call it) as opposed to abbreviations like `America/New_York` over`EST` because it's easy to convert time for a specific timezone using ruby `in_time_zone` method which only takes the full string. For example

ArgumentError (Invalid Timezone: PST)

Mentioned in https://en.wikipedia.org/wiki/Time_zone

The other option

[2020-06-09 16:15] #13889 closed

[2020-06-09 16:40] ajspotts opened #14493 "Clear success messages in Mark Cases as OT modal"
## Description
Since #14437 we display errors in `QueueFlowModal` and all of its child components.  One of these components is `SetOvertimeSuccessModal`, which instead of errors is displaying the success messages from the mark/remove OT status actions.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/18618189/84175321-c86cd200-aa4d-11ea-9084-78c9f76364a4.gif)

## Acceptance cri

[2020-06-09 17:01] hschallhorn commented on #14493
🤦  Forgot to tell you I was wrapping the fix into #14453 https://github.com/department-of-veterans-affairs/caseflow/pull/14453/files#r437468677. Closing!

[2020-06-09 17:05] hschallhorn commented on #14493
Whoops

[2020-06-09 17:46] araposo-tistatech commented on #13914
@hschallhorn VLJ Support confirmed this looks good.

[2020-06-09 18:28] ferristseng opened #14495 "Method error when canceling TranscriptionTask"
## Description

Getting a `NoMethodError` when canceling a Transcription Task:

[code]

This is caused here where the hearing task can't be found because `parent.parent` is returning `nil`

https://github.com/department-of-veterans-affairs/caseflow/blob/3ea72fe327deadbd76e179746076d4453de55aa9/app/models/tasks/transcription_task.rb#L44-L53

This seems like it would only only affect `TranscriptionT

[2020-06-09 18:39] jimruggiero commented on #11490
[AMA Claim Labels (06092020).xlsx](https://github.com/department-of-veterans-affairs/caseflow/files/4754142/AMA.Claim.Labels.06092020.xlsx)
Updated list of EP Claim Labels --> This version removes legacy EP930-specific labels. Only AMA labels should now appear in this list.

[2020-06-09 19:45] #14181 closed

[2020-06-09 21:13] RebeccaBaumTT commented on #14476
This is a duplicate of #13893. I am closing it as such.

[2020-06-09 21:13] #14476 closed

[2020-06-09 22:01] RebeccaBaumTT opened #14500 "Intake | G Code | Store original legacy appeal data in case of rollback"
## Description
When a legacy issue opt-in closes the last issue on a legacy appeal, we normally also close the legacy appeal with the "AMA SOC/SSOC Opt-in" disposition.  When the legacy appeal is already closed, such as with the "Failure to respond" (G) disposition, then currently this last step fails due to validation preventing closing an appeal that is already closed.

The business would like t

[2020-06-10 00:37] #14430 closed

[2020-06-10 15:52] nanotone opened #14502 "Contested Claims | Attorney Fees | Refactor Claimant model into subclasses"
## Description
Split up the current Claimant model into VeteranClaimant and DependentClaimant subclasses, leaving any common code in a new Claimant base class if needed.

## Acceptance criteria
- [ ] New subclasses named VeteranClaimant and DependentClaimant
- [ ] Database migration for updating the `type` column to match each record's new class name

## Background/context/resources
The goal is to

[2020-06-10 16:01] nanotone opened #14503 "Contested Claims | Attorney Fees | Add new Claimant subclasses"
## Description
Implement two new subclasses of Claimant: AttorneyClaimant and OtherClaimant

## Acceptance criteria
- [ ] Implement new AttorneyClaimant subclass
  - [ ] Each AttorneyClaimant model should be linked to a BgsAttorney model.
- [ ] Implement new OtherClaimant subclass
  - [ ] The OtherClaimant model should have validation to ensure that its notes field isn't empty.

Out of scope:
- Lo

[2020-06-10 16:31] tomas-nava opened #14504 "change the from address for virtual hearings emails"
## Description
Change the address that virtual hearings emails are sent from to `BoardofVeteransAppealsHearings@messages.va.gov`.

🚨 Do not merge until we resolve timing with Granicus, as per [the conversation in this Slack thread](https://dsva.slack.com/archives/C3EAF3Q15/p1591735752412400).

## Acceptance criteria
- [ ] address is updated [for sending virtual hearings emails](https://github.com/

[2020-06-10 16:32] nanotone opened #14505 "Contested Claims | Attorney Fees | Update intake review endpoint"
## Description
Update implementation of `IntakesController#review` and related code to support intaking attorney claimants

## Acceptance criteria
- [ ] Intaking a known AttorneyClaimant (with participant_id) is supported, saving the participant ID and type of "AttorneyClaimant"
- [ ] Intaking an attorney OtherClaimant (with additional notes) is supported, and type of "OtherClaimant"
- [ ] Update

[2020-06-10 21:41] ferristseng opened #14509 "RecordNotUnique for BgsPowerOfAttorney in Jobs"
## Description

Error:

[code]

- https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/10410/?referrer=webhooks_plugin
- https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/10307/?referrer=webhooks_plugin

This is happening in: `UpdateCachedAppealsAttributesJob` and `WarmBgsCachesJob`

## Acceptance criteria
- [ ] Fix bug

## Background/context/resources

Sen

[2020-06-11 00:08] leikkisa commented on #11787
INC10874112 looks like it's resolved now, we're able to successfully fetch contentions for the veteran's end products.

A note from the last BGS meeting - the theory was that the file number was missing somewhere in the veteran's data.  @wdrougas-tista and I looked at the veteran's data today (fetching the veteran info and person info using the participant ID), and the file number was always popul

[2020-06-11 02:51] pkarman commented on #14509
Seems to be happening because there are 2 rows: one with a `nil` file number and one with file number not nil.

The reason we did not treat PID as unique by itself at the db layer was because we were pretty sure there might be multiple file numbers per-PID (like there are for Veterans). But maybe we need to add some logic to only save a new POA record is one does not already exist for *either* pid

[2020-06-11 03:07] pkarman commented on #14509
Correction: in at least some cases there are multiple rows with same PID and different file number (as we expected) but bug seems to be like we are trying to update a row with filenumber A and it conflicts with existing record for filenumber B. Perhaps we should delete all and insert rather than update.

Looks like there are 22 of these situations.

[code]

[2020-06-11 03:17] pkarman commented on #14509
There are 33 duplicate PIDs:

[code]

[2020-06-11 03:19] pkarman commented on #14509
So maybe we give up in the face of messy data and drop the unique constraint and just rely on the non-unique indices on PID and fn.

[2020-06-11 14:19] araposo-tistatech commented on #14124
@wturne please see above the organizations this functionality will be available for.

[2020-06-11 14:47] hschallhorn commented on #11190
Let's attempt to un-flake this test as well: https://github.com/department-of-veterans-affairs/caseflow/blob/cab5d1d28de8699b78fb693159a042aeca6a8324/spec/feature/queue/bulk_task_assignment_spec.rb#L26

[2020-06-11 14:52] ferristseng opened #14514 "TypeError for 500 XHR on Veteran Component"
## Description

[code]

## Acceptance criteria
- [ ] Improve error handling to not throw

## Background/context/resources

[Sentry Alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/10677/?referrer=webhooks_plugin)

Seeing this in the breadcrumbs:

[code]

## Technical notes

[2020-06-11 14:55] wturne commented on #14124
@araposo-tistatech Will this functionality work the same way for all organizations?  If so, I'm thinking we may be able to create one QRG that specifically covers this functionality.

cc: @Theresa1976

[2020-06-11 15:00] araposo-tistatech commented on #14124
@wturne confirming this will work the same for all organizations. I agree one QRG specifically covering this functionality should cover this.

[2020-06-11 15:24] hschallhorn commented on #12014
@pshahVA Do we know if this ever took place or have access to any documentation that came out of this?

[2020-06-11 15:28] hschallhorn opened #14515 "DAS Deprecation Deep Dive"
Last year we began implementing das deprecation based on the tech spec outlined in #9588. This effort was halted by the board due to various reasons. Based on the epic #9930, there is only one ticket remaining to fully implement DAS, #12059. This ticket exists to catch up on the work done and to identify any gaps in implementation.

## Open questions
_Note that this list in non exhaustive_
- [ ] A

[2020-06-11 16:07] hschallhorn opened #14518 "Write tech spec to solve incorrect reader documents"
The board has raised some incidents where the documents available in VBMS did not match the documents shown in reader (#14081). This led to us digging into what occurs when a user refreshed reader (#14298). The documentation around that investigation resides in https://github.com/department-of-veterans-affairs/caseflow/wiki/Reader-Backend. This raised multiple concerns.

## Concerns
- In `EfolderS

[2020-06-11 16:11] chandracarney opened #14519 "Disallow Veterans to be matched cross-state lines for hearing scheduling"
## Description
The Hearing Branch would like to pause Vets from populating cross-border RO scheduling queues in Caseflow.

## Acceptance criteria
- [ ] Veterans are matched with their **state's** closest RO
- [ ] Approved alternate scheduling sites (within the Veteran's state) should still appear in the dropdown
- [ ] Update documentation: [geomatching](https://github.com/department-of-veterans-af

[2020-06-11 16:12] yoomlam commented on #14518
Out of scope but FYI: There a new AWS lambda for converting TIFFs to PDFs (https://github.com/department-of-veterans-affairs/appeals-lambdas/pull/68). eFolder Express (which Reader queries) will need to be updated to use the lambda.
PDF conversion errors should probably be logged/stored so it can be reported to the user.

[2020-06-11 16:13] pkarman commented on #14365
Note that this info should already be available w/o adding a new column.
the task.versions should have record of who changed the status and when.

[2020-06-11 16:17] hschallhorn commented on #12988
None seen in 6 mo

[2020-06-11 16:17] #12988 closed

[2020-06-11 16:18] hschallhorn commented on #12994
Fixed in #13407

[2020-06-11 16:18] hschallhorn commented on #13145
Haven't seen in 6 months

[2020-06-11 16:18] #13145 closed

[2020-06-11 16:30] hschallhorn commented on #14300
[Where we update the url after requesting new tasks](https://github.com/department-of-veterans-affairs/caseflow/blob/7270430ceb0dbb64ac7a124f0d83ddda92d8cecc/client/app/queue/QueueTable.jsx#L497)
[Where we exit the function early if we already have the response cached](https://github.com/department-of-veterans-affairs/caseflow/blob/7270430ceb0dbb64ac7a124f0d83ddda92d8cecc/client/app/queue/QueueTab

[2020-06-11 17:13] lomky commented on #14462
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

We don't expect all DVCs to be judges

Do not reimplement the judge team logic that is set to be rolled back.

Be sure that when we exclude judge teams from pulling all orgs, we also exclude dvc teams

Consider implementing this with a superclass shared with JudgeTeam

#### Why 3?
* Lot of repl

[2020-06-11 17:17] lomky commented on #12920
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Delete the function `blocking?` in this mail subtask
Query all open tasks of this type, grab their root task, update all.

Do open mail tasks block dispatch? No.

#### Why 1?
* two easy changes

#### Why 2?
* One line change

#### Why 3?
* Data cleanup in prod

[2020-06-11 17:22] lomky commented on #14518
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

#### Why 3?
* Normal timebox

#### Why 5?
* Requires investigation & confirmation
* Requires spin up
* Solution may require re-architecting of some aspects of Reader-eFolder interaction

[2020-06-11 17:31] lomky commented on #14515
Timebox investigation to 3.

Document what is currently implements, concerns, what needs to get done to complete this.

AC: document possible new tickets and gaps

Is this a _tech_ spec, or user questions? Informs product

Consider a call with folks with context around DAS deprecation (Ferris, Rubaiyat, Dustin, Anya)

[2020-06-11 17:33] lomky commented on #14493
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Should be pretty easy, find where it isn't be cleared and do so. Be sure to update all queue flow modals that do this individually to reduce redundant calls.

#### Why 1?
* do this https://github.com/department-of-veterans-affairs/caseflow/blob/69d7138c9afd7b0e3b1cf245b754abe0e506e9e3/client/ap

[2020-06-11 17:35] lomky commented on #14447
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

run `git grep -i "\<Special"` and check stuff!

#### Why 1?
* Add label to override the task type being displayed

#### Why 2?
* Nvmd: Update frontend to use `label` <- already does
* Update tests

[2020-06-11 17:38] yoomlam commented on #12864
[code]
<img width="790" alt="image" src="https://user-images.githubusercontent.com/55255674/84420984-82944300-abe0-11ea-9f09-d531922857f2.png">

[2020-06-11 17:41] lomky commented on #12864
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

If this is indicating a user-addressable error:
 - If this is alerting both the user and us, we should silence this alert to us.
 - If this isn't telling the user, or isn't telling the user enough to fix the issue, then we need to address that, and then silence the alert to us.
If its a bug in

[2020-06-11 17:47] lomky commented on #12931
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Looks like this happens after reassigning a bva dispatch task. We're calling `where` on the old assigned user rather than the new assignee

Kat: Not to be confused with `Dispatch::Task`s!!!

#### Why 1?
*

#### Why 2?
* Spin up on BvaDispatch tasks and logic around why this validation exists

[2020-06-11 17:49] yoomlam commented on #12896
[code]

[2020-06-11 17:51] lomky commented on #12896
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Do we expect `appeal_receipt_date` to have system-reasonable entries? Some 'dates' in caseflow are based on form info, not system-dates.

These fields are nullable. Should they be? Look into that. Get a count of null values for this field in prod?

#### Why 2?
* Could be a simple fix based on t

[2020-06-11 17:53] hschallhorn commented on #12920
Will be completed in #14057

[2020-06-11 17:53] #12920 closed

[2020-06-11 18:10] #14295 closed

[2020-06-11 19:21] araposo-tistatech commented on #14124
@hschallhorn below are our pilot users:

Got our users:
Disabled American Veteran - Roy Spicer (roy.spicer@va.gov)
American Legion - Marty Callaghan (marty.callaghan@va.gov)
Veterans of Foreign Wars - Jeff Wishneski (Jeffrey.Wishneski@va.gov)
Privacy Team -
Jessie Retan (Jessie.Retan@va.gov)
Kary Charlebois (Kary.Charlebois@va.gov)
Mail Team - Kendra Jones (Kendra.Jones5@va.gov)
Transcription Team

[2020-06-11 22:50] yoomlam opened #14522 "Fix S3 file expiration rule for the Form 8 folder"
## Description
When investigating Reader document cache storage in S3, discovered non-functional S3 expiration rule causing consumption of 47GB.

The `form_8` rule is not working because there is a space after the prefix: `form_8 `.  As a result, there are 80k files and the earliest file in the `form8` folder has timestamp Sep 14, 2018.

It seems like we can [edit the rule](https://console.amazona

[2020-06-11 23:02] yoomlam commented on #14522
Peter thinks this ticket should be moved to the appeals-deployment repo.

[2020-06-11 23:05] #14380 closed

[2020-06-11 23:27] jcq commented on #14377
Best I can tell, this is an issue with accessibility on the `TabWindow` component. It will require refactoring to match the best practices for accessibility for tabs.

This will involve better ARIA labeling/linking between tabs and the tab (content) panes, and implementing keyboard navigation (along with adjusting tabindex prop so that hitting tab goes to the tab content/pane).

### Background
- [

[2020-06-12 14:07] yoomlam commented on #14044
[Report](https://docs.google.com/document/d/1cD6wzNfew2ueViWAufIH1c4WsgHBzmSd-T2clZQmuzg/edit#)

[2020-06-12 15:30] pkarman commented on #14509
Fix suggested in #14517 that would change the BGS lookup logic based on existing vs new records.

[2020-06-12 15:45] #14336 closed

[2020-06-12 16:25] #14509 closed

[2020-06-12 17:10] #14472 closed

[2020-06-12 17:10] #14294 closed

[2020-06-12 17:10] #14285 closed

[2020-06-12 17:34] hschallhorn commented on #13927
Closing in favor of #13272

[2020-06-12 17:34] #13927 closed

[2020-06-12 17:50] wdrougas-tista commented on #14417
## Error Classes Added:

EmptyContentionTitle
InvalidBenefitTypePayeeCodeOrEPCode
CannotDeleteContention - This error class already existed but the error response of "Retrieving Contention list failed. System error" did not trigger it
InvalidClaimAccess
InvalidClaimModifier
AddressInvalidCharacterError

[2020-06-12 18:00] #14272 closed

[2020-06-12 19:20] lomky opened #14524 "Queue Special Issues Questions"
## Description
The research in #14433 led to a couple more open questions we need to answer

## Acceptance criteria
 - [ ] Clarify expectations of Special Issues Selection in Queue
 - [ ] Confirm behavior of Special Issues List & Legacy Special Issues noted in #14433

## Background/context/resources
[Caseflow-Dispatch](https://github.com/department-of-veterans-affairs/caseflow/wiki/Caseflow-Dispat

[2020-06-12 20:29] #14044 closed

[2020-06-12 20:35] pkarman commented on #14255
[code]

[2020-06-12 20:48] yoomlam commented on #14518
@pshahVA provided some information that could be considered in the tech spec: VBMS was migrated to the cloud, so documents may already be in the cloud for access by Caseflow. [VBMS API convo](https://dsva.slack.com/archives/C2ZAMLK88/p1588016484385900), [VBMS eFolder API](https://dsva.slack.com/archives/CK466V65V/p1577386201000700?thread_ts=1576864485.000800&cid=CK466V65V)

Questions:
   1. Where

[2020-06-12 21:15] geronimoramos opened #14525 "Bulk Assignment Usability Testing"
## User story

As an admin user of an organization, I should have the ability to bulk assign tasks to myself or other users who are part of my organization, so that I can quickly and efficiently assign tasks.

## Problem statement

Assigning individual tasks takes time and slows down the appeals processing process.

## Working files
[Form survey for both moderated and unmoderated
](https://www.sur

[2020-06-12 21:18] ferristseng opened #14526 "Legacy Hearing is missing HearingTaskAssociation"
## Description

There is a legacy hearing with a bunch of hearing task, but it is missing a hearing task association. The appeal has a single hearing that isn't related to any hearing tasks. It looks like this hearing task was deleted or was never there?

[code]

## Acceptance criteria
- [ ] Timebox and figure out cause
- [ ] Resolve issue

## Background/context/resources

Sentry: https://dsva.sla

[2020-06-12 21:30] pkarman commented on #14255
considering the investigation piece closed. mitigations in other tickets.

[2020-06-12 21:30] #14255 closed

[2020-06-15 14:20] rutvigupta-design commented on #13695
Closing because V1 of the user flow has been designed in Mural, can be re-visited in the future if a more detailed user flow is required (dependency - generative research with Intake users).

[2020-06-15 14:20] #13695 closed

[2020-06-15 16:17] nicholer commented on #14143
Merged with larger workflow ticket: #14145 Redesign Withdraw Scheduled Hearing workflow and copy

[2020-06-15 16:17] #14143 closed

[2020-06-15 18:57] leikkisa commented on #12692
# Stonewall Sprint Sprint 6/15/2020 - 6/26/2020
Engineering capacity: 83%
- Yang batteam week of 6/15
- Nava holiday 6/19 (JC, Sally, Yang)

## Sprint status
:arrow_right_hook: Carryover: 15
:arrow_right_hook: ✅Carryover completed:
:arrow_right_hook: Pushed back:
:arrow_right_hook: Remaining:

⭐️ Points pulled in for this sprint: 11
⭐️✅Points from this sprint completed:
⭐️🚫Decided not to do:
⭐️🛑Bl

[2020-06-15 19:54] rutvigupta-design commented on #14410
More detailed in [Mural](https://app.mural.co/t/workqueue2001/m/workqueue2001/1584461830155/62b9c582babb829ffcb5996a945950f2eac1f76f).

1. After the appeal has been intaken, a notice letter is sent to the appellant (person who filed) and the contested claimant. The contested claimant can file an NOD (and subsequently request another docket type, in which case a new appeal stream would be created a

[2020-06-15 19:55] #14410 closed

[2020-06-15 19:56] rutvigupta-design commented on #13667
See more on what happens after Intake to process attorney fees claims in #14410

[2020-06-15 19:59] yoomlam commented on #13175
# Stonewall sprint (Jun 15 - Jun 28) engineering priorities
@yoomlam, @ajspotts, @lomky, @geronimoramos, @RyanRoyUX, @mbaenatan, @araposo-tistatech, and @hschallhorn, here are the priorities for this sprint!
## Core Set
### Case movement #11801 - 86% Complete
- [ ] ⭐ Remove "Special" copy from Completed Task tab #14447
### Adding New Contentions #13423 - 58% Complete (Rolling Over)
- [ ] ⭐ Possibl

[2020-06-15 20:08] hschallhorn commented on #13175
# [Stonewall](https://en.wikipedia.org/wiki/Stonewall_riots) sprint (Jun 15 - Jun 28) engineering priorities
@yoomlam, @ajspotts, @lomky, @geronimoramos, @RyanRoyUX, @mbaenatan, @araposo-tistatech, and @hschallhorn, here are the priorities for this sprint!
## Core Set
### Case movement #11801 - 86% Complete
- [ ] ⭐ Remove "Special" copy from Completed Task tab #14447
### Adding New Contentions #13

[2020-06-15 20:19] nanotone opened #14531 "Create summary report for document count mismatches"
## Description
Document count mismatch errors, implemented in #14385, are occurring much more frequently than initially anticipated, and would benefit from a summary report rather than individual Slack messages.

## Background/context/resources/related
[Sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/10431/)
[Slack thread](https://dsva.slack.com/archives/CJL81

[2020-06-15 20:33] chandracarney commented on #13626
# March Against Fear Sprint 6/1/2020 - 6/14/2020

## Priorities

### Virtual hearings bugs/triage/enhancements
⭐️ change the from address for virtual hearings emails (#14504)

### Virtual hearings (next use cases)
↪️ [in progress] Investigate new path for Convert to Virtual page (#14389)
⭐️ Create timezone dropdown component (#14420)
⭐️ Build new Convert to Virtual page for Central Office hearings

[2020-06-15 20:39] araposo-tistatech commented on #13780
@RyanRoyUX can we update the designs on this ticket?

[2020-06-15 20:46] lomky commented on #14055
Notes from spitballing with @hschallhorn!

AMA we can use similar logic to blocking distribution. Legacy... not sure we can do this in caseflow? Might be a matter of the VACOLS status?

AMA
Is there some way we can utilize 'children of root tasks' as representing the main flow we're at, and block there?
Consider using concerns, 'Blockable' for Dispatch & Distribution, or 'Blockerable' (:thinking:)

[2020-06-15 20:51] hschallhorn commented on #14055
Kat and I briefly discussed this in pairing. Dumping some thoughts here in case neither of us are the ones who pick this up!

### Relation to blocking Distribution
We already implement the concept of a mail task that blocks distribution. This is easy enough as every appeal is created with a distribution task.

_Question_: Do we want to similarly create a dispatch task for all appeals upon creation

[2020-06-15 20:58] hschallhorn commented on #14366
Closed in #14452

[2020-06-15 20:58] hschallhorn commented on #14225
Closed in #14452

[2020-06-15 20:58] #14225 closed

[2020-06-15 21:45] yoomlam commented on #12245
The initially hidden search bar `cf-search-bar` constitutes 4 tab stops:
<img width="507" alt="image" src="https://user-images.githubusercontent.com/55255674/84708919-f73fe800-af26-11ea-90c8-63fb518da5a7.png">

The `cf-pdf-scroll-view` requires 3 tab stops (one for each `ReactVirtualized__Grid`):
<img width="550" alt="image" src="https://user-images.githubusercontent.com/55255674/84709229-77664d80

[2020-06-15 22:41] leikkisa commented on #12123
@araposo-tistatech
I tested the current page, as well as the page in the guidelines on https://www.w3.org/WAI/tutorials/forms/grouping/

The Mac screen reader only reads the checkbox group once the first time you interact with it.  Subsequently, it does not include the group information when reading each checkbox.  This behavior is happening on the Dispatch page, as well as the W3 page.

The code

[2020-06-15 22:43] leikkisa commented on #12123
Here's a screenshot of the first time the voiceover reader interacts with a checkbox within the group. Same happens if it's another checkbox, but only if it's the first one we interact with.

![Screen Shot 2020-06-15 at 3.42.18 PM.png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/779b1c29-16f9-4e4d-902f-e9e793c7a6bf)

[2020-06-15 23:17] leikkisa commented on #13358
@nanotone I believe this is done (prod data currently shows `["original", "vacate"]`).  I just wanted to double check with you before closing the ticket.

[2020-06-16 01:58] leikkisa commented on #12902
@araposo-tistatech
I set up JAWS on a virtual machine with Windows 10 and navigated to the Queue Table on Caseflow demo using Chrome.  I am able to navigate to the filter checkboxes using my keyboard, and select them using the space key while JAWS is running.  It seems to be working normally.

I did notice that the checkbox doesn't get outlined in red with JAWS. I visited another checkbox elsewher

[2020-06-16 02:23] leikkisa commented on #12902
![Queue Table Filter Keyboard Nav JAWS.gif](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/a54c4eaf-1f76-4e35-be5c-dabe288154db)

[2020-06-16 14:41] nanotone commented on #13358
@leikkisa I think the bulk of this actually got done in your PR, and everything generally seems to work. But the one unfulfilled AC (and probably a big reason I considered this a "difficult" ticket) is this one:
- [ ] Types are still stored in their current format in the Postgres database

Checking in prod, they're actually stored lowercase currently, which of course makes it easy for the rest of

[2020-06-16 15:07] ajspotts commented on #12134
@araposo-tistatech Using Chrome, JAWS was able to successfully read the filter option.  In the screenshot you can see the red box (which is indicative of JAWS focus) highlighting the filter.

<img width="1258" alt="Screen Shot 2020-06-16 at 10 43 02 AM" src="https://user-images.githubusercontent.com/18618189/84791908-42a6d480-afc1-11ea-915e-293935a2a467.png">

[2020-06-16 15:14] araposo-tistatech commented on #12134
@chandracarney please see Alec's note above and advise how we should move forward. We are unable to replicate the issue.

[2020-06-16 15:14] araposo-tistatech commented on #12123
@chandracarney please see the above and advise how we should move forward.

[2020-06-16 15:48] yoomlam commented on #14447
BEFORE|AFTER
 ---|---
<img width="1015" alt="image" src="https://user-images.githubusercontent.com/55255674/84796771-a380dd80-afbe-11ea-9e38-c92dd203c8ff.png"> | <img width="1000" alt="image" src="https://user-images.githubusercontent.com/55255674/84796343-22c1e180-afbe-11ea-9f09-0a3ebb6f80ff.png">

[2020-06-16 16:51] araposo-tistatech commented on #14124
@hschallhorn I checked off the users that are ready for tomorrow at 10am EST above.

[2020-06-16 16:54] hschallhorn opened #14538 "Automatic Case Distribution Updates"
The board has requested changes to the ACD algorithm.

## REQUEST 1

#### Translation
1. Remove priority target. “Request more cases” should distribute all priority if there are enough in the backlog to “fill the order”. https://github.com/department-of-veterans-affairs/caseflow/blob/5bbbe90117365a8689e3f894a3cc4223ea229569/app/models/concerns/ama_case_distribution.rb#L35-L39
1. Currently we distr

[2020-06-16 17:25] carodew commented on #12134
I think what this is saying is that when a filter is currently in effect that the screen reader should announce what filter is applied when the header cell for that column receives focus, so that the user knows that there is a filter applied (versus the table showing all data). Worth confirming with Linsey, though.

[2020-06-16 17:52] ajspotts commented on #12134
I believe there are 2 separate issues, 1 from the original audit (listed in Alisa's issue description) and then the issue that Ann-Marie mentioned from the most recent audit when she re-opened this issue.  Alisa's issue describing the problem with the column header was taken care of in a [PR](https://github.com/department-of-veterans-affairs/caseflow/pull/13049) from Hunter.  Ann-Marie's issue fro

[2020-06-16 17:53] hschallhorn opened #14541 "Capture stats on current AMA Automatic Case Distributions"
The board has requested some changes around how cases are selected for distribution (#14538). Before we work on the implementation of this, we need to provide statistics on current distributions and the affect these changes will have on the distribution of other dockets.

## Stats we would like to capture
### At what rate are priority appeals "ready" to be distributed?
  - Ama cases are
    - [Rea

[2020-06-16 19:09] hschallhorn opened #14542 "Update case orders logic"
Update case distribution order to:
1. Reduce backlog of legacy hearing cases tied to the judge to 30
1. Continue with current algorithm

<details><summary> Newer old requirements </summary>

User Story: When a Veteran Law Judge requests more cases, the case distribution logic should be as follows to ensure cases are worked in the correct order:

1. Distribute non-priority cases tied to the judge

[2020-06-16 19:36] hschallhorn opened #14543 "Distribute down to 30 nonpriority legacy hearings before continuing with ACD"
We [distribute legacy and ama hearing cases that are associated with the judge](https://github.com/department-of-veterans-affairs/caseflow/blob/5bbbe90117365a8689e3f894a3cc4223ea229569/app/models/concerns/ama_case_distribution.rb#L30-L33). The board would like judges to have no more than s 30 case backlog of legacy hearing cases, meaning before we distribute any cases to a judge, we should check t

[2020-06-16 19:53] hschallhorn commented on #14124
Roy Spicer is not an admin for Disabled American Veterans and will not be able to see the bulk assign button. THOMAS WENDEL (Thomas.Wendel@va.gov) is the only admin for this VSO.

Similarly, Jeff Wishneski is not an admin for Veterans of Foreign Wars and will not be able to see the bulk assign button. There are no admins for this VSO.

We would either need to make these users admins of their organ

[2020-06-16 20:20] #14447 closed

[2020-06-16 20:28] lomky commented on #14483
[code]
[code]

[2020-06-16 22:15] yoomlam commented on #14542
Looking at `Distribution.statistics.priority_count` in [Nov 2018](http://query.prod.appeals.va.gov/question#eyJuYW1lIjpudWxsLCJkYXRhc2V0X3F1ZXJ5Ijp7ImRhdGFiYXNlIjoyLCJ0eXBlIjoicXVlcnkiLCJxdWVyeSI6eyJzb3VyY2UtdGFibGUiOjE1LCJvcmRlci1ieSI6W1siYXNjIixbImZpZWxkLWlkIiwyOTZdXV19fSwiZGlzcGxheSI6InRhYmxlIiwidmlzdWFsaXphdGlvbl9zZXR0aW5ncyI6e319), why is there a significant drop for `batch_size` and `total_b

[2020-06-16 22:25] #12245 closed

[2020-06-16 22:43] yoomlam commented on #14543
If a judge has less than 30 legacy hearing cases and no more of such cases come into case storage, then will any of those 30 cases ever get distributed to a judge? For this question, let's assume there are an infinite number of non-priority legacy hearing cases NOT associated with a judge.

[2020-06-16 22:59] yoomlam commented on #14541
This is a great start! More questions will likely arise during the investigation.

[2020-06-17 01:42] pkarman commented on #14542
Nov 2018 was when the ACD algorithm was being developed afaik. See https://github.com/department-of-veterans-affairs/caseflow/pull/7692

AMA was then being added in during Jan/Feb in anticipation of Feb 19 launch. https://github.com/department-of-veterans-affairs/caseflow/pull/9046

[2020-06-17 11:57] araposo-tistatech commented on #14124
@hschallhorn Looks like this was flagged with John as I see he has noted via email that Roy Spicer was added as an admin.

Also, is there anyway (other than impersonating a user in production as that is something PMs cannot do) that I can determine if a user is an admin myself? That way I can catch this immediately in the future.

[2020-06-17 12:48] alisan16 commented on #12902
Data in columns with filtering capabilities are read as filter by when reviewing information with assistive technology programs and table commands. **Elements should only read as filter by in the first row when the filter button has focus visually.** This occurs with numerous tables throughout the web hosted application. (Not Resolved: 12/13/2019) Every table cell with a header filter reads as if

[2020-06-17 14:16] nicholer opened #14546 "Diary research study with Veterans participating in virtual hearings"
### Background / context
TKTK

### Learning goals
TKTK

### Checklist
- [ ] Research plan approved
- [ ] Diary study questions complete
- [ ] Participant recruit complete
- [ ] Technical rehearsal / pre-test
- [ ] Diary study start date
- [ ] Diary study complete
- [ ] Synthesis complete
- [ ] Research readout

[2020-06-17 15:05] RyanRoyUX commented on #13780
Here is a link to the Figma. Will this work? @araposo-tistatech
https://www.figma.com/file/KrRlTBObGlAUlD78TtAS8N/Case-Movement?node-id=0%3A1
This is a link to the Prototype too (Same questions as ^)
https://www.figma.com/proto/KrRlTBObGlAUlD78TtAS8N/Case-Movement?node-id=0%3A1&scaling=min-zoom

Also we should put in the ticket the info about making updates to the timeline.

[2020-06-17 17:04] yoomlam commented on #14541
We should re-run the [simulation](https://github.com/department-of-veterans-affairs/docketeer), updated with the new algorithm.

[2020-06-17 17:15] chandracarney commented on #12134
@ajspotts Thanks for checking in! I haven't had a chance to test this out on my own, but I do wonder if this part was taken care of by @sahalliburton's recent changes in #14513? Though not yet merged, I know there was a big overhaul of how tables work for screen readers.

If not, I am happy to 1) make some time to test myself to understand behavior, and 2) check in with Linsey for more context or

[2020-06-17 18:00] alisan16 commented on #12902
Actually this ticket looks like a duplicate of #12134, where Alec already confirmed that the filter button is read by JAWS and the column is read as "filtered by X" when the filtering is applied. @leikkisa let's hold off on further work here.

@chandracarney @carodew can you check with Linsey? On our side, it looks all fixed, but we'll hold off on closing both tickets until we get more confirmatio

[2020-06-17 18:01] alisan16 commented on #12134
Potential duplicate of #12902, blocked until we get further confirmation from Section 508

[2020-06-17 18:33] rubaiyat22 commented on #14504
tested that alias is supported by granicus on UAT (but using the current "from" address
![Screen Shot 2020-06-17 at 2.31.44 PM.png](https://images.zenhubusercontent.com/5d518fc3e04e3134e624281f/fd2bfe02-8575-4f51-8991-aa91cc5871a7)![Screen Shot 2020-06-17 at 2.31.49 PM.png](https://images.zenhubusercontent.com/5d518fc3e04e3134e624281f/4c0d35ed-3561-439a-8db2-34e22d96b77e)

[2020-06-17 19:39] lomky commented on #12997
[Additional Bat Team issue](https://dsva.slack.com/archives/CHX8FMP28/p1592326192031800)

[2020-06-17 19:54] carodew commented on #12902
@chandracarney is that something you're working on or should it bounce to @jimruggiero ?

[2020-06-17 20:05] jcq commented on #14490
### Accessibility Issues
Here are various issues identified by `axe` automated testing (as seen via Storybook):

#### With default value
![Screen Shot 2020-06-17 at 12 59 46](https://user-images.githubusercontent.com/2581274/84944336-7144ae00-b09a-11ea-9778-06a29a2550fe.png)

#### With `readOnly` prop set (`disabled` passed to `react-select`)
![Screen Shot 2020-06-17 at 13 02 48](https://user-imag

[2020-06-17 20:07] jimruggiero commented on #12902
Thanks for flagging @carodew - this one's me! I'm pulling together an update for Linsey and will include this one in the messaging!

[2020-06-17 20:49] rubaiyat22 opened #14549 "Update COPY on representative emails to say Appellant if appellant is not the veteran"
## Description
The representative say `You have a Veteran` even when the appellant is not the veteran. We need to change  this to say `You have an appellant` if appellant is not the veteran. This is a follow up from this [PR](https://github.com/department-of-veterans-affairs/caseflow/pull/14527) which shows appellant name on the  when appellant is not the veteran.

## Acceptance criteria
- [ ] Upd

[2020-06-17 22:58] leikkisa commented on #12902
Ok - I am testing Stephen's JAWS setup instructions (success!), and I can hear the audio and connect to the dev environment.  Below is the readout (thanks to Alisa's tip!), and I think I understand what the problem is now (bolded below).

Thanks everyone for the help so far, will start looking at the fix now.

**JAWS Readout when applying the filter**
Tasks Sort by Tasks Filter by task column hea

[2020-06-18 00:28] leikkisa opened #14551 "Clear session info on logout"
## Description
When we log out of Caseflow, we clear the user from the session manually. Currently, we do not clear the saml_uid or saml_session_index.  Someone else who uses the same computer could see information for the last person who logged in after they've logged out.

## Acceptance criteria
- [ ] After logging out of Caseflow, the following data is deleted from the session:
  - [ ] saml_uid

[2020-06-18 00:58] leikkisa commented on #12123
Checked this out with JAWS today too, and am seeing similar behavior. The first checkbox item gets the group title announced, but not every checkbox. Same for the W3 page.  If navigating away from the checkbox group, and then back again, it reads the group name again for the first checkbox item.

Here's some notes from the JAWS voice text:
**This is from the element above:**
Decision type read on

[2020-06-18 02:26] #14417 closed

[2020-06-18 15:07] hschallhorn commented on #9781
Now that we have been creating hearing tasks for these "schedule hearing" tasks, we have open hearing tasks and judge tasks on the same appeal.

[code]

Path forward should be
1. Close parent judge and attorney tasks
1. Add a prefix to the previous distributed case so it can be distributed again
1. Open a new distribution task as the parent for these hearing tasks.

[Where this schedule hearing ta

[2020-06-18 16:34] hschallhorn commented on #9916
Closed in #14277

[2020-06-18 16:34] #9916 closed

[2020-06-18 16:37] hschallhorn commented on #9921
10mo old. Closing

[2020-06-18 16:37] #9921 closed

[2020-06-18 16:38] hschallhorn commented on #10275
No new errors in a year

[2020-06-18 16:38] #10275 closed

[2020-06-18 16:38] hschallhorn commented on #10292
None in a year, closing

[2020-06-18 16:38] #10292 closed

[2020-06-18 16:40] hschallhorn commented on #10321
#8936

[2020-06-18 16:40] #10321 closed

[2020-06-18 16:41] hschallhorn commented on #10376
Year old. Closing

[2020-06-18 16:41] #10376 closed

[2020-06-18 16:45] hschallhorn commented on #10386
Fixed in #14226

[2020-06-18 16:45] #10386 closed

[2020-06-18 16:45] hschallhorn commented on #11368
No alert in 10mo

[2020-06-18 16:45] #11368 closed

[2020-06-18 16:45] #10416 closed

[2020-06-18 16:46] hschallhorn commented on #10417
No alert in 10mo

[2020-06-18 16:46] #10417 closed

[2020-06-18 16:47] hschallhorn commented on #10425
#9921

[2020-06-18 16:47] #10425 closed

[2020-06-18 16:48] #10478 closed

[2020-06-18 16:51] hschallhorn commented on #10671
#10864

[2020-06-18 16:51] hschallhorn commented on #10617
Still happening https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/10104/

[2020-06-18 17:13] yoomlam commented on #14541
Split into 2 tickets:
* Legacy
[code]
 - A one-time query, not a job
 - How do we query VACOLS for large things like this?
   - the connection is slow to setup, but runs quickly after that

* AMA
[code]
  * A one-time query, not a job

#### Why 1?
*

#### Why 2?
*

#### Why 3?
*

#### Why 5?
* Lot of vacols SQL to fiddle with

[2020-06-18 17:16] yoomlam commented on #14542
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

#### Why 3?
* Simple implementation (Remove priority limit, move current step 2 to step 3)

#### Why 5?
* Writing tests for this may take a lot of time given the current tests not being straightforward
* Verify desired behavior with updated simulation
* Some spinup

[2020-06-18 17:19] yoomlam commented on #14543
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

New VACOLS queries!
New tests!

#### Why 3?
* optimism

#### Why 5?
* Lot of vacols sql to muck around with.
* May be hard to set up tests

[2020-06-18 17:22] yoomlam commented on #14461
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

#### Why 2?
* pull tests out into shared_examples and reuse for acting judge

#### Why 3?
* Lotta tests

[2020-06-18 17:24] yoomlam commented on #9433
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

#### Why 1?
*

#### Why 2?
* Delete that code! and tests. and mocks/factories/generator things?

[2020-06-18 17:32] yoomlam commented on #10617
Timeboxed to a 3.

#### Why 3?
* Investigate and fix if possible, or create a ticket if over time.

[2020-06-18 17:35] yoomlam commented on #10864
Timeboxed to 3.

#### Why 3?
* Investigate and fix if possible, or create a ticket if over time.

[2020-06-18 17:39] hschallhorn opened #14554 "Capture stats on current Legacy Automatic Case Distributions"
Legacy version of #14541

## Stats we would like to capture
### At what rate are priority appeals "ready" to be distributed?
  - Legacy cases are
    - [Ready](https://github.com/department-of-veterans-affairs/caseflow/blob/e135ea3d7bb179f67ec62a85e1531b974c930e4d/app/models/vacols/case_docket.rb#L62-L74) if the appeal
      1. The appeal is active
      1. Location code is 81 or 83
      1. It is

[2020-06-18 17:42] hschallhorn commented on #14554
[code]
 - A one-time query, not a job
 - How do we query VACOLS for large things like this?
   - the connection is slow to setup, but runs quickly after that

[2020-06-18 17:48] hschallhorn commented on #14541
[Metabase query for first stat ](http://query.prod.appeals.va.gov/question/39#eyJuYW1lIjoiUmVhZHkgQXQgYnkgRG9ja2V0IFR5cGUgYW5kIFByaW9yaXR5IiwiZGVzY3JpcHRpb24iOm51bGwsImRhdGFzZXRfcXVlcnkiOnsibmF0aXZlIjp7InF1ZXJ5IjoiU0VMRUNUXG4gIHRhc2tzLmFzc2lnbmVkX2F0IEFTIHJlYWR5X2F0LFxuICBhcHBlYWxzLmRvY2tldF90eXBlLFxuICBhZHZhbmNlX29uX2RvY2tldF9tb3Rpb25zLmNyZWF0ZWRfYXQgPiBhcHBlYWxzLmVzdGFibGlzaGVkX2F0IEFORCBhZHZhbm

[2020-06-18 17:49] pkarman opened #14555 "Populate UAT appeals data"
## Description

In order to test reporting performance in our UAT environment, it would be helpful to be able to scale up the amount of data we have available in the Caseflow database. This would be analogous to the `rake db:seed` strategy in local development/demo, but with actual Veteran data from BGS/VBMS in the UAT environment.

According to B3, the relevant tables that would benefit from more

[2020-06-18 21:06] ferristseng opened #14557 "Research Code Organization Patterns in Intake"
## Description

Pair and research what patterns we have for organizing code in the Intake codebase.

Timebox this ticket

## Acceptance criteria

N/A

## Background/context/resources

The backend workgroup is planning to meet to determine how to organize our codebase after researching existing patterns in our codebase.

See: https://app.zenhub.com/workspaces/caseflow-5915dd178f67e20b5553ba0c/issue

[2020-06-18 21:06] ferristseng opened #14558 "Research Code Organization Patterns in Queue"
## Description

Pair and research what patterns we have for organizing code in the Queue codebase.

Timebox this ticket

## Acceptance criteria

N/A

## Background/context/resources

The backend workgroup is planning to meet to determine how to organize our codebase after researching existing patterns in our codebase.

See: https://app.zenhub.com/workspaces/caseflow-5915dd178f67e20b5553ba0c/issues

[2020-06-18 21:07] ferristseng opened #14559 "Research Code Organization Patterns in Reader"
## Description

Pair and research what patterns we have for organizing code in the Reader codebase.

Timebox this ticket

## Acceptance criteria

N/A

## Background/context/resources

The backend workgroup is planning to meet to determine how to organize our codebase after researching existing patterns in our codebase.

See: https://app.zenhub.com/workspaces/caseflow-5915dd178f67e20b5553ba0c/issue

[2020-06-18 21:07] ferristseng opened #14560 "Research Code Organization Patterns in Dispatch"
## Description

Pair and research what patterns we have for organizing code in the Dispatch codebase.

Timebox this ticket

## Acceptance criteria

N/A

## Background/context/resources

The backend workgroup is planning to meet to determine how to organize our codebase after researching existing patterns in our codebase.

See: https://app.zenhub.com/workspaces/caseflow-5915dd178f67e20b5553ba0c/iss

[2020-06-18 21:07] ferristseng opened #14561 "Research Code Organization Patterns in Hearings and eFolder"
## Description

Pair and research what patterns we have for organizing code in the Hearings and eFolder codebases.

Timebox this ticket

## Acceptance criteria

N/A

## Background/context/resources

The backend workgroup is planning to meet to determine how to organize our codebase after researching existing patterns in our codebase.

See: https://app.zenhub.com/workspaces/caseflow-5915dd178f67e20

[2020-06-18 21:08] ferristseng opened #14562 "Investigate Conventions for Organizing Rails Code"

[2020-06-18 21:08] ferristseng opened #14563 "Reorganize Backend Code Structure"
Encapsulates all the work in order to restructure the backend code base based on a standard convention.

See: https://docs.google.com/document/d/1yD1jHkt8xRNIH1QYEIOX2yiiE0EgZKSoRiWhufKWivs/edit#

[2020-06-18 21:39] hschallhorn commented on #14554
[From Yoom](https://github.com/department-of-veterans-affairs/caseflow/issues/14541#issuecomment-645053157):

[2020-06-18 22:13] yoomlam commented on #13692
Oldie but goodie: https://github.com/department-of-veterans-affairs/appeals-qa/blob/master/docs/FeatureToggle.md#current-features

[2020-06-18 22:32] leikkisa commented on #13358
@nanotone Previously, there was a method called `Appeal.type` that was hardcoded to return "Original".  Now it returns the title-cased stream type, or "Original" as a default.

The title-casing matches how the stream types are stored in VACOLS. From what I can tell, logic in the code referring to "Original" is for legacy appeals. Maybe because AMA appeals were all the same type before, there wasn'

[2020-06-18 23:17] nanotone commented on #13358
Ah, I was misremembering: I thought downstream data consumers depended on stream type because they depended on another attribute that went from Ruby method to new column: docket number -- see this [SQL reimplementation](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/sql/ama-cases.sql#L463-L468).

But it seems that stream type was never reimplemented in SQL. So my worry

[2020-06-18 23:27] nanotone opened #14564 "Investigation | Unmatched issues on associated ratings"
## Description

When a VBMS-processed claim review (HLR or SC for compensation or pension) has rating request issues and gets decided, the end product gets associated with a new rating profile. The request issues subsequently create matching decision issues, based on which of the new rating issues decide which of the contentions.

However, we sometimes see that not every request issue has matching

[2020-06-19 03:16] yoomlam commented on #14562
Found the link I mentioned: https://github.com/jwipeout/rails-directory-structure-guide

I like the intent of this. We'll need to do further investigation to see what works for Caseflow.

[2020-06-19 15:23] pkarman commented on #13460
wrapped the test with `ensure_stable` and ran `ENSURE_STABLE=100 bspec spec/models/user_spec.rb:761`

could not induce failure. closing ticket as not reproducable.

[2020-06-19 15:23] #13460 closed

[2020-06-19 19:32] lomky commented on #9781
[How batteam is handling these manually](https://github.com/department-of-veterans-affairs/appeals-deployment/wiki/Bat-Team-Quick-Ref#appeal-has-open-hearing-task-but-is-still-in-the-judges-queue)

[2020-06-22 13:43] yoomlam commented on #14555
Where is UAT data populated? What changes need to be made?

[2020-06-22 14:10] pkarman commented on #14555
By "UAT data" we mean the Caseflow database in the UAT environment. The intent of this ticket is to create a rake task that would act much like `rake db:seed` does: create Caseflow records like https://github.com/department-of-veterans-affairs/caseflow/blob/master/db/seeds/tasks.rb#L270

[2020-06-22 15:01] hschallhorn commented on #14220
Other types of appeals can be merged in vacols: https://dsva.slack.com/archives/CHX8FMP28/p1592600856091300

[2020-06-22 16:42] yoomlam commented on #14555
Draft steps to complete this ticket.

Create a Rake task that does the following:
1. Copy or get read access to [VBMS UAT file numbers](https://github.com/department-of-veterans-affairs/appeals-team/pull/1296#)#1296 in the UAT env
2. Randomly select specified number of file numbers from the file
3. For each file number, populate the relevant tables in Caseflow's DB.
   ("generate" means to generat

[2020-06-22 17:53] araposo-tistatech opened #14573 "CAVC Remand: Add new task action to Dispatched (Completed) Appeals"
## User or job story
User story: As a Litigation Support user, I need the ability to intake a CAVC remand, so that the Board can issue a new decision.

The intake process should kick off by adding a new task action to dispatched (completed) appeals.

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: CAVC Remand
- [ ] This feature should be accessible to the following use

[2020-06-22 17:54] araposo-tistatech commented on #14573
@geronimoramos This ticket is just to name the task action that will kickoff the CAVC remand process. Please feel free to update the above with the name design decides on.

[2020-06-22 18:58] leikkisa opened #14574 "Intake | G Code | Add ability to process "G" code opt-ins"
## Description
When a legacy issue opt-in closes the last issue on a legacy appeal, we normally also close the legacy appeal with the "AMA SOC/SSOC Opt-in" disposition.  When the legacy appeal is already closed, such as with the "Failure to respond" (G) disposition, then currently this last step fails due to validation preventing closing an appeal that is already closed.

The business would like t

[2020-06-22 19:10] leikkisa opened #14575 "Intake | G Code | Backfill original legacy appeal data"
## Description
When a legacy issue opt-in closes the last issue on a legacy appeal, we normally also close the legacy appeal with the "AMA SOC/SSOC Opt-in" disposition.  When the legacy appeal is already closed, such as with the "Failure to respond" (G) disposition, then currently this last step fails due to validation preventing closing an appeal that is already closed.

The business would like t

[2020-06-22 19:31] leikkisa opened #14576 "Intake | G Code | Process the backlog of "G" code legacy appeals"
## Description
When a legacy issue opt-in closes the last issue on a legacy appeal, we normally also close the legacy appeal with the "AMA SOC/SSOC Opt-in" disposition.  When the legacy appeal is already closed, such as with the "Failure to respond" (G) disposition, then currently this last step fails due to validation preventing closing an appeal that is already closed.

The business would like t

[2020-06-23 13:50] wdrougas-tista opened #14580 "Upstream Error | VBMS::UnknownUser"
## Description

## Impacted Reviews
SCs[81667, 129571, 127832, 151334, 295760, 295736]

## Background/Context/Resources (such as related issues, Slack threads)
Appears when attempting to establish claims in VBMS

## YourIT ticket and defect number

[2020-06-23 15:57] hschallhorn commented on #9781
As raised in https://github.com/department-of-veterans-affairs/caseflow/pull/14578#discussion_r444312880, we should also check for any appeals with completed `ScheduleHearingColocatedTask`s without a `ScheduleHearingTask`

[2020-06-23 16:18] hschallhorn commented on #9781
[code]

[2020-06-23 16:48] #14439 closed

[2020-06-23 17:49] leikkisa opened #14584 "Legacy opt-in functionality"
## Background/context
Veterans can move their legacy issues to the AMA process through legacy issue opt-ins.  There are edge cases that are not all handled by the current code, so this epic is to start addressing them.

## Goals
The goal is to support all legacy issue opt-ins in order to help reduce the backlog of legacy appeals at BVA.

## Success criteria
All eligible legacy issues and legacy ap

[2020-06-23 17:57] chandracarney commented on #13310
Though we can't confirm much about this through Caseflow, if it was in fact a wider problem, we have uncovered an issue outlined in #14577 that may have positive impact.

VEText has been turned off since March 20 when all non-virtual hearings were postponed until further notice so we won't know more for several months.

[2020-06-23 18:20] #13164 closed

[2020-06-23 18:28] wdrougas-tista opened #14585 "Upstream Error | VBMS::DownForMaintenance"
## Description
Found on Request Issues Updates, which represents a change to a decision review, consisting of additions, removals, edits, withdrawals, and corrections of RequestIssues.

## Impacted Reviews
RIUs[16014, 30033, 30157, 63564, 77638, 81087, 89666]

## Background/Context/Resources (such as related issues, Slack threads)
The request for all of the impacted claims above is listing content

[2020-06-23 18:29] hschallhorn commented on #9781
Plan of attack
[code]

[code]

[code]

[2020-06-23 18:42] hschallhorn commented on #9781
Let's try the above on one of each, just to make sure the instructions are right

[code]

[code]

[code]

[2020-06-23 20:04] yoomlam commented on #14555
De-escalated and paused until further investigation and decisions are made regarding copying prod data to the pre-prod environment, which should obviate the need for this ticket since stakeholders will then be able to do their testing in pre-prod instead of UAT.

[2020-06-23 20:56] rubaiyat22 opened #14587 "Collect email addresses for veterans/appellants with recently postponed hearings"
## Description
The hearing branch would like a list of emails they can send out to inform veterans/appellants about the opportunity for them to opt into virtual hearings. We need to collect a list of email addresses for veterans/appellants whose hearings have been postponed recently.

## Acceptance criteria
- [ ] Collect and send list to @pshahVA

## Background/context/resources
- [Request from @p

[2020-06-24 13:14] yoomlam commented on #13438
Update:
[code]
Investigation:
[code]

[2020-06-24 13:35] yoomlam commented on #13438
Look at a few of the easy ones:
[code]
Next:
[code]
From https://dsva.slack.com/archives/CQCUMFA0H/p1585691768119100:

This appeal seems to be actively being worked; re-opening RootTask:
[code]

Ignoring MailTasks and TrackVeteranTask:
[code]

[2020-06-24 14:20] yoomlam commented on #13438
[code]

[code]
Case has been decided and dispatched. Since EvidenceSubmissionWindowTask is related to MailTasks, I'm leaving this alone.

[code]
Since parent HearingTask 217224 is cancelled, child 217225 should be cancelled but its open child was recently updated. The case is assigned to the same person but assigned by different people. Suggestions?
[code]

[2020-06-24 15:06] yoomlam commented on #13438
[code]
HearingTask was cancelled and a new one created. Cancelling old `HearingAdminActionIncarceratedVeteranTask` parent and child tasks since they are assigned to the same person AND the children of the cancelled task were updated before the new HearingTask was created.
[code]

Posted [help-request to Team Tango for 5 legacy appeals](https://dsva.slack.com/archives/C3EAF3Q15/p1593010944050400).

[2020-06-24 15:54] yoomlam commented on #13438
Addressing "InformalHearingPresentationTask, RootTask"=>57:
[code]

Identified 3 scenarios so far:

### 1. IHPTask created before dispatch (closed RootTask)
UPDATED_AT is same as CREATED_AT.
Plan on cancelling these tasks.
[code]

### 2. IHPTask created before dispatch but assigned after dispatch (closed RootTask)
Suggestions?
[code]

### 3. IHPTask (and TrackVeteranTask) created after dispatch (c

[2020-06-24 16:05] rmahdav opened #14591 "How can the risk of feature toggle technical debt be reduced?"
Dear developers,

I, Rezvan Mahdavi Hezaveh (rmahdav@ncsu.edu), and my colleague, Nirav Ajmeri (najmeri@ncsu.edu), software engineering researchers from North Carolina State University are conducting an academic study of feature toggles and technical debt.

In our investigations on GitHub repositories, we noticed that you are using feature toggles in your repository. For instance, this [commit](ht

[2020-06-24 16:21] leikkisa opened #14592 "Intake | Bug | No legacy appeal found for issue"
## Description
On the edit screen for an appeal, we're getting the error:
`No legacyAppeal found for '${issue.vacolsId}'`, which is causing the user to not be able to load the page.

This is happening for a legacy appeal that exists, but is not being sent to the front end in the list of legacy appeals.

The list of legacy appeals is filtered depending on the appeals status, and whether the veteran

[2020-06-24 17:03] yoomlam commented on #13438
2 cases with open TranslationTask, where child TimedHoldTask was created after dispatch. Is this normal? Should it be fixed?
[code]

[2020-06-24 17:08] yoomlam commented on #13438
Recently dispatched but new tasks created!
[code]

[2020-06-24 17:10] yoomlam commented on #13438
No clue what do to here for `VeteranRecordRequest` task:
[code]

[2020-06-24 17:29] hschallhorn commented on #14543
@yoomlam GREAT question. This should be handled by the remaining_docket_proportions part of the code. https://github.com/department-of-veterans-affairs/caseflow/blob/5bbbe90117365a8689e3f894a3cc4223ea229569/app/models/concerns/ama_case_distribution.rb#L44-L49

After the backlog hits 30, cases can still be pulled from that backlog in this section

[2020-06-24 18:13] leikkisa commented on #14592
Just noticed this other ticket in "Define" - I think it might be related to the same bug:
https://github.com/department-of-veterans-affairs/caseflow/issues/13904

[2020-06-24 19:38] sahalliburton opened #14595 "Investigate the way Hearings Details data is loaded into the hearings forms"
## Description
Currently when the Hearings Details page loads, it maps the hearings object that is serialized by ruby into a custom object that is used throughout the hearings Details sub-components to handle the different form updates to the hearing (see [this function](https://github.com/department-of-veterans-affairs/caseflow/blob/0dfbe43cfe8533a5f90fd286b5e7e332692c1e6a/client/app/hearings/com

[2020-06-24 19:42] pkarman commented on #13438
A`VeteranRecordRequest` is typically closed by the BusinessLine assigned to it. That happens in a flow outside Queue, afaik. @leikkisa may have more insight.

[2020-06-24 19:59] hschallhorn commented on #9781
Let's get to this!
[code]
[code]

[2020-06-24 20:04] #14591 closed

[2020-06-24 20:05] sahalliburton opened #14596 "Fix issue with the way data is loaded from ruby into Caseflow"
## Description
Currently there is an issue with the way data is loaded into the Caseflow UI specifically around how list data (arrays) is loaded. This issue comes from a gotcha with the lodash function `isObject` which is currently being used [here](https://github.com/department-of-veterans-affairs/caseflow/blob/0dfbe43cfe8533a5f90fd286b5e7e332692c1e6a/client/app/util/ApiUtil.js#L125) to determine

[2020-06-24 20:08] hschallhorn commented on #9781
Let's clean up open hearing tasks with closed parents!

``ruby
orphaned_hearing_tasks = HearingTask.open.where(parent: Task.closed)
orphaned_hearing_tasks.group(:appeal_type).count
=> {"Appeal"=>5, "LegacyAppeal"=>401}
# Check on legacy appeal and what a completed root task means

orphaned_hearing_tasks = orphaned_hearing_tasks.where(appeal_type: Appeal.name)
=> 5
orphaned_hearing_tasks.all? { |ta

[2020-06-24 20:27] yoomlam commented on #13438
@hschallhorn fixed some of `"HearingTask, RootTask"=>402` in https://github.com/department-of-veterans-affairs/caseflow/issues/9781#issuecomment-649043554.

[2020-06-24 20:30] hschallhorn commented on #9781
Let's clean up appeals with more than one open hearing task
[code]

[2020-06-24 20:46] alisan16 opened #14597 "Investigate priority legacy cases that have been stuck at ready to distribute"
Priority cases are cases that are AOD/CAVC remands that the Board is legislated to work on in priority order and the Board wants to get done asap due the outstanding circumstances on the case. During background investigation around the incoming requests to modify the automatic case distribution algorithm, I discovered that there are ~100 or so of these cases that have been waiting over 1 month to

[2020-06-24 20:52] hschallhorn commented on #9781
Let's clean up completed hearing tasks with open hearing tasks
[code]

[2020-06-24 21:10] hschallhorn commented on #9781
Note to look into appeal id: 45327
[code]

[2020-06-24 22:03] yoomlam commented on #13438
## PrivacyActTask

No action taken yet.

40 legacy appeals + 2 AMA appeals with this child-parent relationship:
[code]

[code]

### AMA
Parent `OtherColocatedTask` was completed or cancelled after child was updated but child `PrivacyActTask` was left as assigned.
[code]

### Legacy
[code]

[2020-06-24 22:15] yoomlam commented on #13438
## NoShowHearingTask

Seems like we can child tasks complete since parent tasks are complete.

[code]

[2020-06-24 22:32] yoomlam commented on #13438
## Status: end of day
Need to get 👀 on the above comments before taking action.
All have been investigated except for `"HearingTask, RootTask"=>401`, which are all legacy appeals.

[2020-06-25 00:21] leikkisa opened #14598 "Manual Fix | Rolling back opt-ins for legacy appeals with "M" disposition"
## Description
This is a ticket to keep track of cases where we want to revert an AMA opt-in on a legacy appeal that has been closed with the "M" disposition, which stands for Merged Appeal.

## Background/context/resources/related
Users are removing issues that have legacy issues opted in where the legacy issue's parent appeal has an "M" disposition.  Rolling back the opt-in is failing due to val

[2020-06-25 03:20] Sjones352 commented on #13075
Similar csv code https://github.com/department-of-veterans-affairs/caseflow/pull/12707

[2020-06-25 16:15] yoomlam opened #14600 "Ensure original tasks are cancelled during bulk reassignment"
## Description
Ensure original tasks and their children and descendants are cancelled when doing bulk assignment.

## Acceptance criteria
- [ ] original tasks and their children and descendants are closed after bulk reassignment.

## Background/context/resources

From working on "Clean up open tasks with closed parents" https://github.com/department-of-veterans-affairs/caseflow/issues/13438#issuec

[2020-06-25 17:44] rutvigupta-design opened #14601 "Discovery Research Study: Change Docket Type"
## User story
BVA Intake users need a way to change the docket type of an appeal.

## Problem statement

The team needs to establish an understanding of scenarios under which a Veteran or someone else would request a docket type change and what that process looks like, and BVA Intake's current workflow to manage these requests. The team then needs to work with BVA to define requirements and needs

[2020-06-25 17:53] rutvigupta-design opened #14602 "Discovery Research Study: Intake Generative Research"
## User story
As an Intake user, I need a way to share my needs and ideas in order to improve the product.

## Problem statement

Currently, there is no clear way for Intake users to relay issues they are facing with the product outside of support tickets and moreover, express any needs or ideas to improve their workflow and user experience.

## What is out of scope?

Any design solutions

## Back

[2020-06-25 18:02] rutvigupta-design opened #14603 "Discovery + User Research Study: Editing EP Claim Labels"
## User story
VBA users need a way to edit EP claim labels.

## Problem statement

Users need a way to view and edit EP claim labels in Caseflow in order to ensure claims are being routed to the correct destination. User research is needed to understand what users need in order to confidently and successfully edit EP claim labels.

## What is out of scope?

Any design solutions

## Background/cont

[2020-06-25 18:39] araposo-tistatech opened #14604 "Create Auto-Distribution Job for Priority Cases"
## User or job story
User story: As a VLJ, I need priority cases (AOD & CAVC Remands) to be auto-distributed to me, so that I work these cases before legacy hearing & general population cases. These cases should also move to the top of my queue list.

Logic:
Auto-distribute priority cases evenly across judges, over the course of a month, authorized to receive auto-distributed cases (calculate # of

[2020-06-25 19:07] yoomlam commented on #13438
## HearingTask

Investigating `"HearingTask, RootTask"=>401`.
What does it mean to have a `completed` RootTask on a LegacyAppeal?

[code]

[2020-06-25 19:55] leikkisa opened #14605 "Motions to Vacate | Create internal report"
## Description
Motions to Vacate is in use and we would like to be able to collect feedback from users early on after their experiences. As a team, we are also interested in exploring using reporting more overall.  This ticket is first to investigate which reporting option seems to be the best.  Some options include:

1. Metabase
1. Datadog
1. Slack reports

## Acceptance criteria
- [ ] Research r

[2020-06-25 19:56] #12902 closed

[2020-06-25 19:57] #12123 closed

[2020-06-25 19:57] #14107 closed

[2020-06-25 20:24] yoomlam commented on #14562
Running list of directory structure conventions:
* https://github.com/phstc/shoryuken/wiki/Rails-Integration-Active-Job:

[2020-06-25 20:43] ajspotts commented on #12134
@alisan16 @jimruggiero I see that we've closed the other issue that was also awaiting confirmation.  Do we know if we can go ahead and close this one as well?

[2020-06-25 21:03] araposo-tistatech opened #14608 "Create Front End for adding or removing VLJs from Auto-Distribution of Cases"
## User or job story
User story: As a DVC, I need the ability to add or remove VLJs from the case auto-distribution feature, so that judges do not receive cases while they are on leave.

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: Priority Case Auto-Distribution
- [ ] This feature should be accessible to the following user groups: DVCs
- [ ] Include screenshot(s) i

[2020-06-25 21:40] jimruggiero commented on #12134
Hi Alec,

Thanks for the follow up. We don't know yet. I will reach out to Linsey
and let you know when I hear back.

Thanks,
Jim

On Thu, Jun 25, 2020 at 4:43 PM Alec Spottswood <notifications@github.com>
wrote:

[2020-06-25 23:10] #14287 closed

[2020-06-26 00:53] leikkisa commented on #13963
We got an email with two reports created, I think they might be related to this ticket

Claim establishments
https://tableau.vba.va.gov/#/views/CaseflowClaimsEstablishmentReport/CaseflowCESTReport

EP changes to pending claims
The system of establishment is now available as a filter in the change details view of the EP change dashboard.
https://tableau.vba.va.gov/#/views/EPChangestoPendingClaims/C

[2020-06-26 01:05] leikkisa commented on #8547
I'm going to re-open this for now.  There are a couple of open ends and since this is newly being used, we're learning there are a few more requirements to handle.

[2020-06-26 01:14] leikkisa commented on #13338
There is another epic which duplicates this one, but has requirements related to reporting. @wdrougas-tista has started delivering a weekly report and delivering it for review during the weekly integration meeting.  So I am pasting the data from the other epic here to retain it, but closing that issue as a dupe.

## Reporting
In an effort to calculate ROI and properly account for issue resolution

[2020-06-26 01:14] leikkisa commented on #13444
I'm closing this as a dupe of #13338, I moved some of the info above about reporting to that epic. A weekly report is being produced and presented to the stakeholders.

[2020-06-26 01:14] #13444 closed

[2020-06-26 01:26] leikkisa commented on #13978
Adding this note from another dupe ticket:
Veterans can choose an appeal lane, but can change their mind at any time; Caseflow should always honor the original docket date (i.e. the very first time the 10182 was submitted) each time a lane change happens.

[2020-06-26 01:26] leikkisa commented on #13090
I believe this is a duplicate of two other things that now have epics:
- [Ability to change docket type](https://github.com/department-of-veterans-affairs/caseflow/issues/13978)
- [Ability to change NOD receipt date](https://github.com/department-of-veterans-affairs/caseflow/issues/11128)

I copied some of the info above and am closing this ticket.

[2020-06-26 01:26] #13090 closed

[2020-06-26 01:30] leikkisa commented on #11490
Adding a note that Nathan Jolly does not need we need to take any additional action to re-route a claim after we update it in BGS - he says the change is synced to VBMS. ([Slack thread](https://dsva.slack.com/archives/CK466V65V/p1593133280020100))

[2020-06-26 13:13] hschallhorn commented on #14604
Some concerns:
1. Some judges will most likely have more cases linked to them than other judges. Should we try to make sure the distribution is as even as possible? Rather than splitting genpop across all judges, we could split them up so that all judges receive a similar amount
**Example**:
Judge A: 10 priority cases linked to them
Judge B: 3 Priority cases linked to them
Judge C: None
15 Remaini

[2020-06-26 13:17] lomky commented on #14597
Estimating at a 3 for investigation.

Find out why they're stuck, and fix/file ticket to fix it. (If the other tickets won't fix it already)

[2020-06-26 13:27] lomky commented on #14542
Re-estimating

_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Affinity to judge (AMA) != Tied to judge (Legacy)
* Affinity = not necessary to distribute to associated judge; already implemented

We don't have to update distribution logic to implement new functionality. We're updating ordering and removing some criteria.

Implement this assu

[2020-06-26 13:49] lomky commented on #14604
_[what is this chart?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

126 judges
~700 priority cases
Average of ~7 cases each, ignoring tied cases and judge team size

what do we do with cases tied to a no-longer authorized judges?
 - make gen pop priority?
 - No, legal requirement to process by the judge
 	- vet has the right to waive them
 - Do we need a new ta

[2020-06-26 13:56] lomky commented on #14604
Feature Flag:

 - already hard to implement this logic
 - how can we consider the individual judges?

Alternative:
 This is the last PR, no feature flag in this one.

Conclusion:
 - No feature flag for the auto-distribution job
 - Feature Flag on ACD will be turned off after this job is out and running
 - This code goes out when we want it to happen, and no sooner!

[2020-06-26 13:56] #14377 closed

[2020-06-26 14:06] hschallhorn commented on #14518
Reimplement doc count mismatch: https://github.com/department-of-veterans-affairs/caseflow/pull/14586/files

[2020-06-26 14:06] lomky commented on #14219
I am unable to recreate this situation. My hypothesis is we have either solved this problem as a part of some other fix, or that the users were expected another tab with their Queue to reload automatically (it does not).

[Investigation Notes](https://hackmd.io/kgFGE_J8TtugddC1SN0PpA?edit)

[2020-06-26 14:55] ajspotts commented on #14524
[Resulting investigation](https://hackmd.io/BiwHywxcTeePht2N6NMFOQ?view)
[Epic for Dispatch deprecation](https://github.com/department-of-veterans-affairs/caseflow/issues/10024)

TLDR:
- Special Issues exist in both the Dispatch and Queue applications however their presence in each serve different purposes.
  - SIs in Dispatch are added by dispatch users and play a role in determining the routing

[2020-06-26 14:55] #14524 closed

[2020-06-26 15:01] hschallhorn commented on #9781
Completed here: https://github.com/department-of-veterans-affairs/caseflow/issues/9781#issuecomment-649038862

[2020-06-26 15:01] #9781 closed

[2020-06-26 15:37] lomky opened #14609 "Document Special Issues Findings"
After the completion of the Special Issues investigations, we want to capture the information we learned about Special Issues in Queue.

### AC
 - [ ] Create a Special Issues page
  - Document general special issues information
  - Document the disconnection between Special Issues in Queue vs in Caseflow Dispatch
  - Link to Queue SI page / section, Link to Caseflow Dispatch SI section
- [ ] Creat

[2020-06-26 16:18] ajspotts commented on #14609
Related Issues:
[Dispatch & Special Issues Investigation](https://github.com/department-of-veterans-affairs/caseflow/issues/14433)
[Queue Special Issues Questions](https://github.com/department-of-veterans-affairs/caseflow/issues/14524)

[2020-06-26 17:10] #14504 closed

[2020-06-26 17:22] geronimoramos opened #14611 "CAVC Remand Design and Research: Phase 1 and 2"
## Activity Timeline

### Week 1

- [x] Design ux workflows mid to high fidelity
- [x] While collecting internal feedback
- [x] Reach out to Lit Support to schedule check-in and testing for next week

### Week 2
- [x] Continue designs on intake setup and activating core remand flow
- [x] Validate with Lit support stakeholders

## Phase 1: Intake

**Scope:**

Finding the relevant case in Caseflow b

[2020-06-26 17:24] #13784 closed

[2020-06-26 18:12] hschallhorn opened #14612 "Stale sync alert in reader"
In [PdfListView](https://github.com/department-of-veterans-affairs/caseflow/blob/b4aa4f6be059ca11491deb6e8e48980045ed1eb3/client/app/reader/PdfListView.jsx#L71), we display an [alert](https://github.com/department-of-veterans-affairs/caseflow/blob/b4aa4f6be059ca11491deb6e8e48980045ed1eb3/client/app/reader/LastRetrievalAlert.jsx#L43-L46) that tells a user if the last time we fetched documents from

[2020-06-26 20:27] yoomlam commented on #13438
(Putting it back for someone with more insight. Also, it's the end of sprint.)
I've catalogued the (potentially) problematic task trees and described some possible actions.
For the next assignee: review the checkboxes in my comments above to identify action items.

[2020-06-26 20:50] #14219 closed

[2020-06-26 21:09] hschallhorn commented on #14608
Some places we discussed where this could live!

Where|Current View
---|---
As a button or toggle on the team management page, next to each judge team|![Screen Shot 2020-06-26 at 4 59 43 PM](https://user-images.githubusercontent.com/45575454/85901349-a904d180-b7cf-11ea-9d06-7a2938c8601d.png)
As a button or toggle on the judge team team management page|![Screen Shot 2020-06-26 at 5 05 53 PM](https:

[2020-06-29 11:31] hschallhorn commented on #13175
# [Thurgood Marshall](https://en.wikipedia.org/wiki/Thurgood_Marshall) sprint (Jun 29 - Jul 12) engineering priorities
@yoomlam, @ajspotts, @lomky, @geronimoramos, @RyanRoyUX, @mbaenatan, @araposo-tistatech, and @hschallhorn, here are the priorities for this sprint!
## Core Set
### New Special Issues #13423
- [ ] ⭐ (Kat) Validate against special issue selections made on Review Decision Page #14269

[2020-06-29 12:36] hschallhorn commented on #14543
Doing a bit of digging before I get into it.

Noticed `legacy_docket_range` https://github.com/department-of-veterans-affairs/caseflow/blob/5bbbe90117365a8689e3f894a3cc4223ea229569/app/models/concerns/ama_case_distribution.rb#L30-L32

This is written up here https://github.com/department-of-veterans-affairs/caseflow/wiki/Automatic-Case-Distribution#legacy-docket-range

The range is calculated here

[2020-06-29 12:53] hschallhorn commented on #14543
Let's look at how we would pull the number of legacy hearing in a judge's backlog

[code]

[2020-06-29 13:34] #14433 closed

[2020-06-29 14:00] hschallhorn commented on #13692
https://github.com/department-of-veterans-affairs/caseflow/wiki/Adding-a-Feature-Flag-with-FeatureToggle#currently-implemented-toggles

[2020-06-29 14:41] chandracarney opened #14613 "Investigate and fix issues related to incorrect hearing times"
## Description
June 16:
Users are reporting 2 issues occurring on Daily Docket pages:

- [x] When selecting a hearing time for Veteran, another (not selected) Veteran’s Virtual hearing modal pops up asking to confirm the time change and send emails for the wrong Veteran. PRs: #14535, #14539, #14540
- [x] When a new hearing time is selected, it is set for 2 hours behind the selected time. PR: #1457

[2020-06-29 14:55] chandracarney opened #14614 "Understand any Caseflow constraints for creating new hearing day without a room associated"
## Description
Investigate and understand if Caseflow adds constraints around building new (single) hearing days. Hearing Coordinator admins have the ability to add one-off hearing days, however, they have reported that they cannot add a new day and assign a new VLJ because:
- VLJs cannot be assigned to a docket unless a room is added
- All rooms are taken and a room cannot be double-booked
- Vete

[2020-06-29 17:05] #14420 closed

[2020-06-29 18:30] #14432 closed

[2020-06-29 19:29] RyanRoyUX commented on #14608
BVA Admins: Some of these are Nava/Tista
JENNIFER WHITE
- MARTINA JONES
JOHN GOSNELL
- RAVEN TOLSON
SHALANDA BOYKIN
MICHAEL SANFORD
WILLIAM TURNER JR
JEROME JOHN
DHONYALE GIBSON-TAYLOR
IGOR GIL

[2020-06-29 20:52] jcq opened #14617 "Consolidate Feature Toggles into Single Endpoint"
## Description
Instead of having duplicate structures for every entry point, it makes sense to consolidate all functionality regarding population of feature toggle info in a single stack, with a backend endpoint and single Redux store on the frontend.

## Acceptance criteria
- [ ] Update documentation: [link]
- [ ] Implement API endpoint for requesting feature toggle status for the given user
- [

[2020-06-29 21:58] araposo-tistatech commented on #14608
@RyanRoyUX @hschallhorn I confirmed Jennifer should no longer have access.

[2020-06-30 01:40] leikkisa commented on #14574
Based on feedback we decided to break up this ticket into two tickets, the first one pointed at a 3 and the second one at a 2 so that it could be parallelized.

[2020-06-30 01:43] leikkisa opened #14619 "Intake | G Code | Add ability to process "G" code rollbacks"
## Description
When a legacy issue opt-in closes the last issue on a legacy appeal, we normally also close the legacy appeal with the "AMA SOC/SSOC Opt-in" disposition.  When the legacy appeal is already closed, such as with the "Failure to respond" (G) disposition, then currently this last step fails due to validation preventing closing an appeal that is already closed.

The business would like t

[2020-06-30 01:50] leikkisa commented on #12692
# Thurgood Marshall Sprint Sprint 6/29/2020 - 7/10/2020
Engineering capacity: 80%
- Sally batteam week of 7/6
- Independence day 7/3 (JC, Sally, Yang)

## Sprint status
:arrow_right_hook: Carryover: 14
:arrow_right_hook: ✅Carryover completed:
:arrow_right_hook: Pushed back:
:arrow_right_hook: Remaining:

⭐️ Points pulled in for this sprint: 20
⭐️✅Points from this sprint completed:
⭐️🚫Decided not t

[2020-06-30 06:46] #13358 closed

[2020-06-30 12:48] hschallhorn commented on #14543
Let's look at whether or not `legacy_docket_range` actually makes a difference in production
[code]
For this judge, all cases in their backlog would not be limited by the `legacy_docket_range` as all the docket_indexes of their cases are less than `legacy_docket_range`.

Let's look at the second judge
[code]
This judge's cases would just _barely_ not be limited by the legacy docket range.

[2020-06-30 13:45] chandracarney commented on #13956
Emailed the Hearing Management Branch regarding Jed's questions. We're blocked until the Branch makes a decision and the updates are made to VACOLS.

[2020-06-30 13:55] chandracarney commented on #13626
# Thurgood Marshall 6/29/2020 -
- batteam week of 6/29

## Priorities

### Virtual hearings bugs/triage/enhancements

### Virtual hearings (next use cases)
⭐️ Build new Convert to Virtual page for Central Office hearings (#14421)
↪️ [in review] Store Appellant/Veteran and POA timezone in database (#14386)
↪️ [in progress] Ensure conditional logic can handle "virtual" type (#13957)
☘️🛑  Research: n

[2020-06-30 14:31] yoomlam commented on #14164
For Support ticket [INC11361382](https://dsva.slack.com/archives/CHX8FMP28/p1593465554192400).

Re-assign inactive user tasks:
- VACOWHITEB1 to VLJ  bvakmillikan
- VACOKILBRE to VLJ bvaaIshiz
- VACOshahn1 to VLJ  bvaaIshiz

## VACOWHITEB1
[code]

## VACOKILBRE
[code]

## VACOshahn1
[code]

[2020-06-30 14:55] #14549 closed

[2020-06-30 15:26] rubaiyat22 opened #14620 "Clean up the shared_examples in virtual_hearing_mailer_spec"
## Description
The [PR](https://github.com/department-of-veterans-affairs/caseflow/pull/14521) to store timezone added some more complex logic in testing various states of timezones in emails. We need to revisit that test file and figure out a way make timezone testing more consistent and readable. Additional comments can be found in the PR.

## Acceptance criteria
- [ ] Ensure existing testing lo

[2020-06-30 15:31] rubaiyat22 opened #14621 "Create controller-schema for Hearings controller"
## Description
Read through Yang's documentation of creating controller-schema [here](https://github.com/department-of-veterans-affairs/caseflow/wiki/Controller-Schemas) and create a controller-schema for hearings controller.

## Acceptance criteria
- [ ] Ensure existing tests pass

## Background/context/resources

## Technical notes
- [Yang's implementation as a guide ](https://github.com/departm

[2020-06-30 16:41] hschallhorn commented on #14543
Include 0s in backlog counts (includes AVLJs). Also grab css_ids
[code]

[2020-06-30 17:39] chandracarney opened #14623 "Unscheduled Veteran requests virtual hearing"
## Story
Caseflow users (Hearing Coordinators, Intake, etc.) should be able to identify if a Veteran has requested a virtual hearing for any existing hearing type on appeal, and mark a request if one has not yet been processed.

## Goals
Caseflow users should be able to identify if a Veteran has requested a virtual hearing, and Veterans should be able to request a virtual hearing in the following

[2020-06-30 17:45] #14386 closed

[2020-06-30 17:49] nicholer opened #14625 "Virtual scheduling queue"
# Background

Until last year, the Board offered three options for hearings: in-person hearings at the Central Office in DC, video hearings at a Veteran’s regional office, or Travel Board hearings where a VLJ tours regional offices across the country for in-person hearings. All three options are constrained by geography, since Veterans are typically scheduled in their regional office queue, and sp

[2020-06-30 17:56] hschallhorn opened #14626 "Unify the many caseflow sort icons!"
The sort icons in queue and reader are not the same

Order|Queue|Reader
---|---|---
None|<img width="139" alt="Screen Shot 2020-06-30 at 1 53 35 PM" src="https://user-images.githubusercontent.com/45575454/86160015-2cc50380-bad9-11ea-8535-111d400fe88f.png">|<img width="130" alt="Screen Shot 2020-06-30 at 1 53 02 PM" src="https://user-images.githubusercontent.com/45575454/86159999-2898e600-bad9-11ea

[2020-06-30 18:24] chandracarney opened #14627 "Veteran virtual hearing communications"
## Story
Veterans, representatives, and Veterans Law Judges should receive communication and reminders about their virtual hearings in order to prepare.

## Background/context
Hearing Coordinators at the Board are currently contacting Veterans individually via phone and email to convert hearings to virtual during the pandemic. The Board would like to more widely adopt virtual hearings and in so do

[2020-06-30 19:00] chandracarney commented on #14519
Written approval on 6/29/20 from DVC this has been okayed by the Chairman. Moved to current sprint.

[2020-06-30 19:12] chandracarney commented on #14519
This issue can close #13432, #12927, #13434, and the epic #13954.

[2020-06-30 20:02] lomky opened #14629 "Identify problem with or collect information on RoundRobin Automatic Task Assignments"
## Description
We are seeing unexpectedly unbalanced distribution of tasks from the round robin assignment of VLJ support tasks. We want to collect what is actually happening in order to correct this.

## Data we would like to capture
 - Org Task generating the assignment
 - user task being assigned
 - appeal
 - assignee_pool
 - last task being used to generate the last assignee
 - the next_assign

[2020-06-30 22:41] leikkisa commented on #13075
@Sjones352 I found a report created for Loan Guaranty from a batteam request.  It has PII in it, but here's a [Slack thread](https://dsva.slack.com/archives/CHX8FMP28/p1591631037072000?thread_ts=1591619997.067600&cid=CHX8FMP28) with a script:

[code]

[2020-07-01 14:02] araposo-tistatech commented on #13780
@lomky do you think I should break out the Case Timeline updates? Not sure what that work looks like for the Engineering team.

[2020-07-01 14:24] #13662 closed

[2020-07-01 16:27] lomky commented on #13780
I think that its fine here - the task will appear in the timeline by default, we're just clarifying the requirements on it

[2020-07-01 17:57] yoomlam opened #14634 "Map BGS::ShareErrors to non-500 errors"
Ensure calls to `BGSService` handle `BGS::ShareError`s so they do not inappropriately return 500 error codes, which can cause PagerDuty alerts.

Search Sentry alerts for `BGS::ShareError` to see instances where a controller returns this error.

Subclasses of `BGS::ShareError` that can be caught and `rescue_from`: https://github.com/department-of-veterans-affairs/ruby-bgs/blob/b6d05017344a861b4b858

[2020-07-01 18:15] yoomlam commented on #14634
Intake:
* https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6641: "BGS::ShareError: No record found for file number"

GET https://appeals.cf.ds.va.gov/appeals
* https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/10344: "BGS::ShareError: gov.va.vba.utils.ShareException"

[2020-07-01 18:48] araposo-tistatech commented on #14124
@hschallhorn looks like the list of organizations that will have access to this functionality was too extensive:

AOD
American Legion
American Red Cross
American Veterans
Armed Forces Services Corporation
Blinded Veterans Association
Board Dispatch
Board of Veterans' Appeals
Case Review
Disabled American Veterans
Education
Fiduciary
Fleet Reserve Association
Hearing Admin
Hearings Management
Insur

[2020-07-01 21:44] yoomlam commented on #14526
[Recent Support ticket](https://dsva.slack.com/archives/CHX8FMP28/p1593639652220400?thread_ts=1593630954.212000&cid=CHX8FMP28) that involved this problem.

[2020-07-01 22:17] #14455 closed

[2020-07-02 12:46] araposo-tistatech opened #14637 "Record AOD for claimants 75 & Older in Caseflow Database"
## User or job story
Job story: When the AOD flag is set in Caseflow for claimants 75 or older, the AOD needs to be captured in the Caseflow database, so that the Board can pull reporting against it.

## Acceptance criteria
- [ ] AOD for claimants/Veterans 75 or older is recorded in the Caseflow database
- [ ] Field & Database Table where this is recorded is provided to PM to send to the Board
  -

[2020-07-02 13:49] RyanRoyUX commented on #14608
Caseflow ACD - BVA Admins (Full permissions)
https://www.figma.com/proto/Zg5mJV7q5RzvVGeKLpu9Cx/ACD2?node-id=18%3A0&scaling=scale-down-width

Caseflow ACD - DVC's & Assistants (Lite Permissions)
https://www.figma.com/proto/Zg5mJV7q5RzvVGeKLpu9Cx/ACD2?node-id=32%3A2333&scaling=scale-down-width

VLJ's Team Managment Page (VLJ Permissions)
https://www.figma.com/proto/Zg5mJV7q5RzvVGeKLpu9Cx/ACD2?node-

[2020-07-02 14:51] carodew opened #14638 "Lean user research: what are the key pain points and use cases for the Caseflow style guide across functional teams?"
## Problem statement

The user experience is inconsistent across Caseflow products and has caused confusion internally (when designers or engineers don’t know which elements should be used in a given scenario) and externally (when users see different patterns for the same task in different areas of Caseflow).

## Current challenges
The style guide is outdated and hasn’t been maintained. Patterns i

[2020-07-02 14:57] chandracarney opened #14639 "New copy for (formerly-Central) hearing emails with updated timezone info"
## Description
Develop another email (and copy) to send Veterans/POAs when hearing time zone has changed, but the Board time has not changed.

([Figma link to start of flow](https://www.figma.com/file/V87TZArfdurCGJiEjQ73ES/Virtual-Hearings?node-id=5649%3A22954))

## Acceptance criteria

## Background/context/resources

## Technical notes

[2020-07-02 15:12] mikesanford commented on #14637
@araposo-tistatech Just a small point, the appeal is AOD'd when the claimant/Veteran is 75 or older, the technical notes says that the Veteran must be over 75.

[2020-07-02 15:19] araposo-tistatech commented on #14637
Thank you @mikesanford! I've updated the notes.

[2020-07-02 16:13] chandracarney opened #14640 "Update virtual (formerly-Central) hearing time"
## Description
Update Daily Docket to capture virtual hearing updates and implement updates to Central-to-virtual workflow
([Figma link to start of flow](https://www.figma.com/file/V87TZArfdurCGJiEjQ73ES/Virtual-Hearings?node-id=5649%3A25353))

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: #14387
- [ ] This feature should be accessible to the following user groups: H

[2020-07-02 16:17] chandracarney opened #14641 "Build out feature flag for full page video-to-virtual conversions"
## Description
Build out new feature flag for new full page video-to-virtual conversions

Proposed feature flag name: `full_page_video_to_virtual `

## Acceptance criteria
- [x] Confirm user with feature flag can see new page
- [x] Confirm user w/o feature flag _can't_ see new page, can still see modal
- [ ] Add toggle configuration to [the appeals-deployment repo](https://github.com/department-of