[2019-10-16 00:18] leikkisa opened #12397 "Create table to connect a request issue to many legacy issues"
### User or job story
As a user, I would like to be able to connect multiple legacy issues to a request issue.

### Acceptance criteria
- Create a new table called request_legacy_issues
  - Add a table DB comment (see "copy" below)
- Add the following fields to the new table, with DB comments
  - id (primary key)
  - timestamps
  - request_issue_id (required, foreign key)
  - vacols_id (required)

[2019-10-16 04:46] edmangimelli opened #12399 "Need a shortcut for clearing out the client's node modules and package lock"
### User or job story
User story: As a Caseflow Dev, I was unable to run Caseflow locally until I cleared out node_modules and package-lock.json from the front end. This seems like a common enough utility that it should be included in the makefile.

[2019-10-16 12:32] lomaxap commented on #12315
@ferristseng can you update this ticket with the new schema?

[2019-10-16 13:10] #12067 closed

[2019-10-16 13:15] lomky commented on #12175
@lomaxap the methodology I'm imagining will mirror User Impersonation/Global Admin, giving the user the session value of the user they're acting on behalf of. If anything, I'm worried they will be too able to act as the other user, and we'll want to put checks in place for the session variable storing the acting_on_behalf to check a person is actually themselves, in some places.

[2019-10-16 13:17] hschallhorn opened #12400 "Disallow queue deep links that do not exist"
As brought up in [#12372](https://github.com/department-of-veterans-affairs/caseflow/pull/12372#pullrequestreview-302052309), we should limit deep link parameters to ones that exist.

## Scenarios that need handling

### Specifying a higher page number than exists

**Problem**: queue displays no tasks and no way to get to the first page

/organizations/vlj-support?tab=assigned&page=**2**

<img wid

[2019-10-16 13:25] lomaxap commented on #12175
@lomky ah, ok. So if you go with the JudgeTeam refactor option, you would also implement part of the "User Switch" from the DVC Team Option?:

[2019-10-16 13:34] lomky commented on #12175
I was interested in getting feedback from Design on what the interface should look like, but I imagine the background work would be largely similar, yes

[2019-10-16 13:38] lomky commented on #12175
Ah, no I had muddled the options. In the JudgeTeam scenario it would be teaching the code to ask if the judge of the team the admin is on has permission, regardless of which admin is actually doing the action. That's part of why this implementation is a bit straining on our existing system

[2019-10-16 13:57] hschallhorn commented on #11761
Unless I'm missing something, as our code currently stands, judges have the ability to reassign any [AMA judge task](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/tasks/judge_task.rb#L13), but only have the ability to reassign a `JudgeLegacyAssignTask` via [initialAssignTasksToUser or reassignTasksToUser](https://github.com/department-of-veterans-affairs/caseflo

[2019-10-16 16:26] #11221 closed

[2019-10-16 16:27] laurjpeterson commented on #10470
This is done! Closing.

[2019-10-16 16:27] #10470 closed

[2019-10-16 16:39] lowellrex commented on #12400
For this example (and the similar sorting scenarios), I think we might want to update the URL to reflect what that default value is (in this case `unassigned`). Though that request may be beyond the scope of this ticket.

[2019-10-16 16:44] hschallhorn commented on #12400
I agree! This could definitely be within this ticket's scope as it may be easiest to validate and fix the provided params, then pass those to where we update the page and the url

[2019-10-16 16:55] #12388 closed

[2019-10-16 16:58] tomas-nava opened #12404 "Retry automatically once for document count before returning a 500 error"
### Job story
When a user loads a page that shows document counts, they need Caseflow to retry failed requests, so that the counts are accurate.

Currently if our first request to efolder for document count fails, we return a 500 error. If document requests happen during a server restart, we can get a flurry of failures that trigger alerts.

### Acceptance criteria
- [ ] if a request to efolder fo

[2019-10-16 18:07] tomas-nava commented on #7461
### query to find duplicate DAS records:

_SQL_
[code]

_ActiveRecord_
[code]

### Work product abbreviations

Decass records with the `deprod` (work product) abbreviations below are excluded in the query because when any of those work products are used, we expect a second work product to follow.

| abbreviation | meaning |
| --- | --- |
| AFI | Another type of opinion |
| IME | Independent Medica

[2019-10-16 18:32] laurjpeterson commented on #12375
Hey all - this ticket doesn't need to exist. Mail team members do not choose issues that are vacated. This can only happen after a judge decides to grant the motion to vacate, and as seen in this ticket, judges are going to choose full or partial vacatur. If they choose partial vacatur, then they have to choose which issues to vacate.

This is all captured here! https://github.com/department-of-ve

[2019-10-16 18:32] #12375 closed

[2019-10-16 18:39] laurjpeterson commented on #12318
@leikkisa @jimruggiero @geronimoramos @rutvigupta-design - i updated this ticket for clarity.

If a judge selects "partial vacatur", all issues from the previously decided decision (that has the request for vacatur) should show in the checkboxes you display in the design. This way, the judge can choose which of those issues are actually being vacated.

So the flow would look something like this. D

[2019-10-16 19:14] carodew commented on #12175
Hi! @lomky reached out to me to get some Design Opinions™ on how this should be implemented in the front end and I'm summarizing my thoughts here for posterity and also for all interested parties.

The question posed to me was, should the UI link to view a DVC's (judge's) Queue be in the user menu (far upper right?) or the Queue actions dropdown?

Simple, right?

Actually it's pretty tricky, becau

[2019-10-16 19:24] RyanSibley opened #12406 "Create stakeholder interview guide"
Create an interview guide to use during conversations with stakeholders to help us meet our learning goals.

The stakeholder interview scratch pad can be found here:

https://docs.google.com/document/d/1uPOV6PJ3CRLsqYiMPEvHpVWPYNFZ6O08LbfIPDEC0zw/edit#

AC:

* Interview guide created with input from team Bravo
* Interview guide placed into Eric's template

[2019-10-16 19:28] RyanSibley opened #12407 "Create user interview guide"
Create an interview guide to use during conversations with users to help us meet our learning goals.

The user interview scratch pad can be found here:

https://docs.google.com/document/d/1uPOV6PJ3CRLsqYiMPEvHpVWPYNFZ6O08LbfIPDEC0zw/edit#

AC:

Interview guide created with input from team Bravo
Interview guide placed into Eric's template

[2019-10-16 19:29] #11761 closed

[2019-10-16 20:19] leikkisa opened #12408 "Decision issue - convert ui_hash to serializer"
### Description
As a tech improvement ticket, in order to improve consistency and code quality, and reduce the size of our models, we can convert ui_hash method to use serializers instead.

### Acceptance criteria
 - Decision issues use a serializer instead of ui_hash

### Background
This is a small conversion to start. We'll be expanding this to the other ui_hash methods in the code

[2019-10-16 20:32] leikkisa opened #12409 "Convert ui_hash to serializers (intake files)"
### Description
As a tech improvement ticket, in order to improve consistency and code quality, and reduce the size of our models, we can convert ui_hash method to use serializers instead.

### Acceptance criteria
 - Intake files use serializers instead of ui_hash:
    - intake
    - decision_review_intake
    - appeal_intake
    - claim_review_intake
    - higher_level_review_intake
    - ramp_el

[2019-10-16 20:42] leikkisa opened #12410 "Convert ui_hash to serializers (issues)"
### Description
As a tech improvement ticket, in order to improve consistency and code quality, and reduce the size of our models, we can convert ui_hash method to use serializers instead.

### Acceptance criteria

- "Issue" files use serializers instead of ui_hash:
    - ramp_issue
    - rating_issue
    - request_issue
    - rating
- Any new files include top line comments for documentation

Ple

[2019-10-16 20:45] leikkisa opened #12411 "Convert ui_hash to serializers (tasks and other)"
### Description
As a tech improvement ticket, in order to improve consistency and code quality, and reduce the size of our models, we can convert ui_hash method to use serializers instead.

### Acceptance criteria
- The following files use serializers instead of ui_hash:
    - business_line_task
    - decision_review_task
    - job_note
    - relationship
- Any new files include top line comments

[2019-10-16 20:46] lowellrex commented on #12392
Added a section to the [tasks wiki page](https://github.com/department-of-veterans-affairs/caseflow/blob/61a87f3b356cfd3d31dbd2be36e0bf311fd66e85/app/models/tasks/evidence_submission_window_task.rb#L6) that links to a dedicated [wiki page for timed tasks](https://github.com/department-of-veterans-affairs/caseflow/wiki/Timed-Tasks).

[2019-10-16 21:03] leikkisa opened #12412 "Do not show actions for MTV Judge tasks on_hold"
### User or job story
As a Judge user, when my motions to vacate tasks are on hold, I shouldn't be able to perform actions on them.

### Open questions
Was the default "on_hold" behavior overwritten in JudgeTask on purpose? Please check with the person who created "actions_available?" in JudgeTask, or someone who is familiar with the desired behavior for one of the other judge tasks.  Another pote

[2019-10-16 21:23] leikkisa opened #12414 "Upgrade our build tooling on the frontend to Webpack 4"
### Story
When front end changes are made, we need to rebuild webpack files in order for those changes to be reflected when running tests.  This process is very slow.  Upgrading Webpack can help speed up build times.

### Out of Scope
- [Upgrading Babel](https://github.com/department-of-veterans-affairs/caseflow/issues/12434)

### Resources

- [Migration guide for Webpack 3.x => 4.x](https://webpa

[2019-10-16 23:37] #11916 closed

[2019-10-16 23:37] #12186 closed

[2019-10-16 23:37] #7929 closed

[2019-10-16 23:37] #10325 closed

[2019-10-16 23:37] #11193 closed

[2019-10-16 23:37] #11401 closed

[2019-10-16 23:37] #11621 closed

[2019-10-16 23:37] #11622 closed

[2019-10-16 23:37] #11836 closed

[2019-10-16 23:37] #11837 closed

[2019-10-16 23:37] #11982 closed

[2019-10-16 23:37] #11984 closed

[2019-10-16 23:37] #12093 closed

[2019-10-16 23:37] #12218 closed

[2019-10-16 23:37] #10762 closed

[2019-10-16 23:37] #10984 closed

[2019-10-16 23:37] #11040 closed

[2019-10-16 23:37] #11189 closed

[2019-10-16 23:37] #11206 closed

[2019-10-16 23:37] #11385 closed

[2019-10-16 23:37] #11386 closed

[2019-10-16 23:37] #11554 closed

[2019-10-16 23:37] #11623 closed

[2019-10-16 23:37] #11835 closed

[2019-10-16 23:37] #11851 closed

[2019-10-16 23:37] #7850 closed

[2019-10-16 23:37] #10756 closed

[2019-10-16 23:37] #10766 closed

[2019-10-16 23:37] #11125 closed

[2019-10-16 23:37] #11191 closed

[2019-10-16 23:37] #11195 closed

[2019-10-16 23:37] #11252 closed

[2019-10-16 23:37] #11253 closed

[2019-10-16 23:37] #11432 closed

[2019-10-16 23:37] #11495 closed

[2019-10-17 01:27] leikkisa opened #12416 "Transition logic for legacy issues to new request_legacy_issues table"
### Story

### Acceptance criteria
- Confirm in prod that the data in request_legacy_issues is fully populated with the relevant data from request_issues and legacy_issue_optins. Backfill any missing data.
- When a request issue is created, and it is connected to a vacols issue, the relevant data (vacols_id, vacols_sequence_id, and legacy_issue_optin_id) are stored directly in the request_legacy_i

[2019-10-17 07:10] #12292 closed

[2019-10-17 13:02] lowellrex commented on #12134
![image](https://user-images.githubusercontent.com/32683958/67010956-adafac80-f0bc-11e9-8c15-4f5f29cabb8a.png)

Is the issue here that the "Filtering by: Case Type (1)" text is not being read, or that when the "Type(s)" column heading is read, there is no indication that a filter has been applied?

[2019-10-17 13:42] kevmo commented on #12394
1 |
2 | ||
3 | |||||||||
5 | |
8 |

3. The big variable here is testing.  Test lightly to begin.

Note: The scope is limited to only creating the Rake task (and documenting that task for the bat team).  Expect Rake task to be run manually for the time being.

[2019-10-17 13:55] hschallhorn commented on #11761
@stwards11 and @msj0nes This is closed and ready to go out today. Here are some key changes:

AMA cases cannot be reassigned to a judge from their "Assign cases" page. They will need to use the "Re-assign to judge" dropdown action on the case details screen for that specific case.

This allows them to stipulate how they would like to assign a case to an acting judge:
1. If the judge would like to

[2019-10-17 14:02] kevmo commented on #11713
[code]

 ### AC
1. Understand problem that is occurring. Write a tech spec, then write a ticket.
2. Simultaneously have at least 1 team member building subject matter expertise in Automatic Case Distribution. This is important!

Estimating at a 5.  We are thinking of this as being time-boxed.  If it's going to take more than a 3's worth of effort, bring it up to the rest of the team. ❤️ communicat

[2019-10-17 14:09] kevmo commented on #12365
[code]

Appears that no tests have failed because of this -- i.e. we probably don't have good tests for this.

2.

[2019-10-17 14:09] #12012 closed

[2019-10-17 14:19] kevmo commented on #12400
[code]

One potential avenue: If invalid URL, backend responds as such, then frontend shows default view instead.

Validate on front-end and back-end.

The filtering will likely be most difficult.  Look at doing it on the front-end first (may be harder than we initially think), then look at backend.

Estimating at a 3.

[2019-10-17 14:22] kevmo commented on #12367
[code]

[2019-10-17 14:31] kevmo commented on #10896
[code]

Fields in Tasks table, `placed_on_hold_at` and on_hold_duration, switched to new system documented in new wiki (https://github.com/department-of-veterans-affairs/caseflow/wiki/Timed-Tasks).

Begin by ignoring `on_hold_duration`, then remove it later. `placed_on_hold_at` is still useful (updated when status is updated to `on_hold` - while imprecise, still often useful).

Probably could dele

[2019-10-17 14:58] alisan16 commented on #12134
I believe it is the latter, that when the column heading is read, the state of the filter isn't being described. There was also an open question of whether the filter itself could be applied using keyboard navigation (primarily tab, and ctrl+alt+arrow within a table). cc @carodew

This was the description provided to us:

"The state of the Filter elements Task, Types and Docket is not read by assi

[2019-10-17 15:00] lowellrex commented on #11122
What is the acceptance criteria for this ticket? Do we want to add a dropdown box link to the "Assign Cases" view for SSCs and DVC assistants?

[2019-10-17 18:21] pshahVA commented on #12102
I thought this was complete?

[2019-10-17 18:28] kevmo commented on #12394
Blocked by https://github.com/department-of-veterans-affairs/caseflow/issues/12365

[2019-10-17 18:29] hschallhorn commented on #11761
@stwards11 and @msj0nes now that #12402 is merged, after deployment tomorrow, the same actions above should be taken for assigning/reassigning **legacy** appeals to acting judges. "Assign cases" page and the "Assign to attorney" dropdown on the case details page will assign the case to them as an attorney and "Re-assign to judge" dropdown action on the case details page will assign the case to the

[2019-10-17 18:40] pshahVA commented on #12339
In terms of changing email addresses, it can get tricky because we should ideally:
1.)  Send a meeting cancellation to the old email address
2.) Fire off an email to the new address.  I'm thinking step 1, could be put into a later release if its difficult.

[2019-10-17 18:50] #12399 closed

[2019-10-17 18:54] pshahVA opened #12418 "Add POA to the Schedule Veterans screen"
### User or job story
As a Coordinator scheduling hearings, I need to be able to group Veterans by their POA so I can quickly assemble a full docket day of virtual hearings.

### Background/context
The process for identifying virtual hearing candidates in this phase of feasibility testing relies heavily on POAs. Since some POAs have given blanket agreement to participate, Hearing Coordinators need

[2019-10-17 18:55] pshahVA commented on #12418
@nicholer , this will need a small screenshot when you get time.

[2019-10-17 19:49] jcq commented on #11787
participant id | review type | review id
--- | --- | ---
10237330 | SupplementalClaim | 158156

[2019-10-17 20:21] lomky opened #12420 "SCM: Extend the organizations_user with judge & attorney roles"
In order to allow others to act on behalf of Judges, add clear roles to members of Judge Teams.

## Acceptance Criteria
 - [ ] `organizations_users` table has a column `judge_team_role`, valid values of nil, `judge`, and `attorney`
 - [ ] Judge teams can only have only have one judge

This ticket _does not_ include updating the code base to do anything with these fields, nor updating the existing

[2019-10-17 20:23] ferristseng commented on #12316
@lomaxap Testing this, and it looks like `hearing_type` has to be 1 character. Any ideas for what this should be? cc @pshahVA

[2019-10-17 20:25] lomky opened #12421 "SCM: Migrate existing Judge Teams to use Judge & Attorney Roles"
Followup to #12420 to update the existing JudgeTeams to mark their Judges & Attorneys before we add any new admins to teams.

### Acceptance Criteria
 - [x] Current JudgeTeam admins have the role `JudgeTeamLead`
 - [x] Current JudgeTeam non-admins have the role `DecisionDraftingAttorney`

Part of #11801

[2019-10-17 20:30] jcq commented on #12286
@geronimoramos Can you remind me.... what happens in the "Return to Litigation Support" flow? Do we A) create some sort of new task that is child of the judge task (putting it on hold); B) close the judge task and reopen the previous `VacateMotionMailTask` (with additional instructions added by judge); C) something else

We could add code for any of these, but just want to understand what will be

[2019-10-17 20:38] lomky opened #12422 "SCM: Update Code using JudgeTeam Admin to Determine Judge / Attorney"
Update existing Judge & Attorney assumptions based on judge_team admin/non-admin to use the roles implemented in #12420

### Acceptance Criteria
 - [x] Update functions in `JudgeTeam` model that assume JudgeTeam admins are the judge to use
   - [x] `for_judge` & `create_for_judge`
   - [x] Update helper function `judgeteam.judge`s to answer 'who is the judge?' based on role
   - [x] Update helper

[2019-10-17 20:44] geronimoramos commented on #12286
@jcq motions attorney gets a signed draft ruling letter and take it from there to upload to VBMS and dispatch it out to the Veteran.

And I'm going with B! There's no need for it to go back to the Judge and is still in the same realm of `VacateMotionMailTask` at least in the mind of the Motions Attorney

[2019-10-17 20:52] leikkisa commented on #12286
@jcq I think if the draft decision is missing, it'd have to go back to the Motions attorney, and then back to the Judge again right?  Because that means there's no draft ruling for them to sign, so they wouldn't pick one of the deny/grant etc. options.

I am inclined to make a new ticket for this flow, and consider it out of scope for this ticket, to keep the separate pieces clear (and so we can b

[2019-10-17 20:56] leikkisa commented on #12286
That said, I wonder if canceling the JudgeAddressMotionToVacate task would assign it back to the user?  If not, I think we'd want it to create a new VacateMotionMailTask for the user.

[2019-10-17 20:59] lomky opened #12423 "SCM: SCM Team can view Judge's Assign Queue"
Give SCM Team members the ability to see all Judge assign queues.

### Acceptance Criteria
  - [ ] SCM Team members can view all Judge Assign Queues
![Screenshot from 2019-10-17 16-57-09](https://user-images.githubusercontent.com/6129479/67046903-318a8880-f0ff-11e9-977c-68aa10941b6a.png)
 - [ ] Functionality is tied to the feature flag.
    - Existing JudgeTeams with multiple admins need to be una

[2019-10-17 21:03] lomky opened #12424 "SCM: Allow SCM Team members to perform actions for judges"
Update the following Judge actions to be available to Special case movement team (ie supersuers).

### Acceptance Criteria
 - [ ] Supersuers can
   - [x] Request Cases on behalf of the Judge (This is what is blocked by #12423, can proceed on other 3 if we want to work the tickets in parallel)
   - [x] Assign ama tasks to an attorney by acting on a JudgeAssignTask assigned to a judge
   - [ ] Assig

[2019-10-17 21:03] msj0nes commented on #12036
@laurjpeterson unfortunately I can't.

Any quick fix possibilities?

- Place a condition for add users for business line URLs where the list only populates for users with CSEM function 'Mail Intake' or 'Admin Intake'.  Right now the list just searches everyone with CSEM access. We don't necessarily have to fix the other organizations as they aren't using the add users function themselves (support

[2019-10-17 21:05] lomky commented on #11801
Breakout of the work for this epic, based on the tech spec #12211
1. Extend organizations_user with judge & attorney roles #12420
1. Migrate the existing Judge Teams #12421
1. Update existing Judge & Attorney assumptions based on judge_team admin/non-admin to use the roles #12422
1. Give JudgeTeam Admins dropdowns to select their JudgeTeam queues #12423
1. Update Judge actions to be available to a

[2019-10-17 21:06] jcq commented on #12286
@leikkisa I agree that we should likely declare at least a portion of it out of scope for this ticket and create a new one. I've already implemented all the frontend portions, but I could unhook or hide any subset for the purposes of this ticket. Where should we draw the line?

As for the other bit, it looks like the default behavior for a generic task is to cancel it if all of its children are ca

[2019-10-17 21:07] lomky commented on #12175
Work to finish this ticket:

  - [x] Break out tickets for work under the epic #11801
  - [ ] Create Epic for the Followup Work

[2019-10-17 21:10] leikkisa commented on #12286
@jcq It's all behind a feature toggle, so it's totally cool that you added the front-end portion.

I'll work on another ticket. Maybe this can be a case where we create the other VacateMotionMailTask first, then cancel the JudgeAddressMotionToVacateTask (an idea that Tomas brought up for another situation).

[2019-10-17 22:23] leikkisa commented on #12318
@laurjpeterson Thanks, that answers a big question of mine. So the veteran can only request to vacate a whole appeal, they can't request to vacate specific issues.  We thought that might be a possibility before.

[2019-10-17 22:55] leikkisa opened #12425 "Handle canceled remand supplemental claims"
### User or job story
As a user, if a remand supplemental claim got canceled, I need to be able to re-establish it.

### Acceptance criteria

### Release notes
Users can now re-establish canceled remand supplemental claims.

#### Designs
N/A

#### Background/context
When an end product is canceled, the request issue gets closed.  For regular claims, a user could then create a new version of the cl

[2019-10-18 15:15] #12333 closed

[2019-10-18 15:18] #12343 closed

[2019-10-18 15:39] jcq commented on #12318
Does the "partial vacatur" option only apply to the judge view, or is there a case where the motions attorney might suggest a partial vactur? (While that is out of scope of this ticket, they currently share the same code/components.)

[2019-10-18 15:52] rutvigupta-design commented on #12318
@jcq since motions attorneys aren't actually logging their recommended dispositions in the BE, we decided that they didn't need an option to suggest a partial vacatur (they would indicate so in their notes).

[2019-10-18 16:50] jcq commented on #12392
What is the automated behavior regarding tasks when the user to which they are assigned is marked inactive?

If a user is marked inactive, currently assigned tasks go to the organization?

What happens if you try to create/assign a task to a currently inactive user? Does it automatically go to the org, throw an error, something else...?

[2019-10-18 17:03] kevmo commented on #12420
Estimating at 1.

[2019-10-18 17:05] kevmo commented on #12421
Estimating at 2.  Do as a Rake task.

[2019-10-18 17:11] lomky opened #12433 "SCM: Add Judge & Attorney Selectors to JudgeTeam Team Page"
Give JudgeTeam Admins the ability to flag users as Judge or Attorneys on the JudgeTeam page

### Acceptance Criteria
 - [ ] JudgeTeam page has the ability to flag users as Judge, Attorney.
 - [ ] Functionality is tied to feature flag.
 - [ ] Please include one or more screenshots when complete.

Part of #11801

[2019-10-18 17:15] jcq opened #12434 "Upgrade to Babel 7+"
### Description
Caseflow currently uses Babel 6.x, which was originally released in October 2015. Babel 7 was released in August 2018, and has since had 6 minor (point) releases. Among other things, Babel 7 brings numerous speed and performance improvements, as well as much better configuration options.

### Resources

- [Migration guide for Babel 6.x => 7.x](https://babeljs.io/docs/en/v7-migratio

[2019-10-18 17:26] ajspotts commented on #12119
Alisa I'm having trouble tracking down which view this issue is referring to.  Can you tell me where the view this is located at (the url) and which user type this pertains to.

[2019-10-18 17:33] ajspotts commented on #12123
Alisa can you tell me where this view (the url) is located?

[2019-10-18 17:44] lowellrex commented on #12392
Great question! This has not yet been implemented (will be implemented by #12394), but [the tech spec has more detail](https://github.com/department-of-veterans-affairs/caseflow/pull/12197/files?short_path=33a91cd#diff-33a91cd5134bf0c5a4522e456e900342) about how the automated re-assignment should behave. I expect the implementation will follow the tech spec. A quick summary of the various outcomes

[2019-10-18 17:55] lowellrex commented on #12392
I don't think we currently have any protection in the code that prevents inactive users from receiving tasks. I'd imagine we'll want to exclude them from [automatic task assignment](https://github.com/department-of-veterans-affairs/caseflow/blob/86c848a5a3e5d03e84332b081875593c3bbf656a/app/models/colocated_task_distributor.rb#L4) as well as [receiving tasks directly](https://github.com/department-

[2019-10-18 18:19] #10009 closed

[2019-10-18 18:27] laurjpeterson commented on #5950
This was an idea that I had about improving mail processes. I'm going to close it, because it isn't something we pursued.

[2019-10-18 18:27] #5950 closed

[2019-10-18 18:35] #12082 closed

[2019-10-18 19:25] alisan16 commented on #12123
Sure - these issues are all related to Caseflow Demo: www.caseflowdemo.com

This specific issue is on http://www.caseflowdemo.com/dispatch/establish-claim/1#/decision
You can test it out with test user: BVAAABSHIRE (VACO) on Caseflow Demo and then navigating to Dispatch > Work History > Establish Next Claim then scroll down the page until you see the checkboxes.

<img width="1054" alt="Screen Shot

[2019-10-18 19:37] alisan16 commented on #12119
To reproduce this, you can load efolder locally and search for efolders: 561349913
eFolder Express is a Caseflow product that is in its own repo, so you'll need to follow these instructions to set it up: https://github.com/department-of-veterans-affairs/caseflow-efolder

[2019-10-18 20:50] lomky opened #12437 "Authorization, Role, & Permission System Refactor"
### Background/context
Over the lifetime of Caseflow we have integrated several permission systems and created a few more to solve various problems as they've arisen.

We now integrate with VBMS, DAS, and VACOLS user systems. We share authorization with the Efolder application. We have Caseflow users who have Roles, Organization membership, Organization Admins, JudgeTeam membership (Judge, Attorne

[2019-10-18 21:16] pkarman commented on #3920
This is typically known as SLO (single log out) the corresponding feature to SSO (single sign on) and is part of the SAML standard.

To implement I think we would need to add the correct config to caseflow efolder's omniauth config.

I'm inclined to close this as a won't fix since IMO the effort outweighs the benefit, esp since we've not heard from any actual users about this.

[2019-10-18 21:18] pkarman commented on #9719
@wturne I tagged you on this ticket because it has zero requirements. If you can even remember what "realistic demo data" means, we'd be happy to add some as part of our db seeds.

[2019-10-18 21:19] pkarman commented on #6824
While QA remains a live topic, I'm going to close this as not actionable for now.

[2019-10-18 21:19] #6824 closed

[2019-10-18 21:21] pkarman opened #12438 "caseflowdemo site has db:seed bug"
Clicking the Reseed DB button gives a 500 error because the final steps in the `rake db:seed` process error. Can't be reproduced locally.

[2019-10-18 21:30] jcq opened #12439 "Persistent Redux Store"
### Background
Currently the entire contents of the Redux store is lost and regenerated if the user reloads the page. While this can have its advantages (guaranteeing that the page is using fresh data from the server), it can also have significant downsides. Reloading while on certain routes can end up without the requisite data in the store, losing state and pushing the user off of the route they

[2019-10-18 21:38] pkarman commented on #12439
This runs into the 2nd hardest problem in computer science, cache invalidation. Since we're talking about persisting data on the browser, presumably, that makes invalidation trickier, IMO.

I guess I'm feeling like "tread carefully" is important here. What specific routes cause problems on reload? If we're losing state that impacts UX I'd be interested in exploring how/why we've built the app the

[2019-10-19 02:15] #12036 closed

[2019-10-21 14:07] jimruggiero commented on #7556
## [Name TBD](URL TBD) sprint (Oct 21 - Oct 31) engineering priorities

@hschallhorn @lomky @lowellrex @yoomlam, sprint priorities for this sprint! Reduced capacity due to Caseflow Offsite in week 1.

### Inactive Users
⭐️ 1. Update the task reassign function #12365

### SCM: Administratively Acting on Behalf of Others
⭐️ 1. Extend the organizations_user with judge & attorney roles #12420
⭐️ 2. Cr

[2019-10-21 14:18] #11938 closed

[2019-10-21 14:19] #12230 closed

[2019-10-21 14:31] lomaxap opened #12441 "Document AssignHearingDispositionJob"

[2019-10-21 14:42] yoomlam commented on #12392
Can a TimeableTask be cancelled?

[2019-10-21 14:42] lomaxap opened #12442 "undefined method `bfso' for nil:NilClass"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6649/

appeal with an external id `3606367` does not have a vacols record and is returning this error when attempting to geomatch

[code]

[2019-10-21 14:55] lowellrex commented on #12420
@lomky Love this idea! Super pumped to stop overloading the `admin` column for `JudgeTeam`s!

How do you feel about moving the new `judge_team_role` column into a different table since it will only apply to judge teams? That field will only have values for `OrganzationUser`s associated with `JudgeTeam`s and right now less than a third of the rows in that table are associated with `JudgeTeam`s. Tha

[2019-10-21 14:55] #12314 closed

[2019-10-21 15:23] laurjpeterson commented on #12212
@hschallhorn - can you add a screenshot to this? or let me know how i can see it in prod or demo? want to share it with stakeholders. thank you!

cc: @jimruggiero

[2019-10-21 15:25] hschallhorn commented on #12212
@laurjpeterson Should have some screens on the PR (#12312). In demo, login as TEAM_ADMIN and click the main dropdown to get to "Caseflow user management"

[2019-10-21 15:28] laurjpeterson commented on #12212
![image (19)](https://user-images.githubusercontent.com/27704093/67219334-d655e000-f3f5-11e9-9760-08183b2c3b70.png)

[2019-10-21 15:28] laurjpeterson commented on #12212
Thanks @hschallhorn!

[2019-10-21 15:30] lowellrex opened #12443 "Enable attorneys to recover from accidental AttorneyTask cancellation"
An attorney recently accidentally cancelled an `AttorneyTask` ([see Slack conversation](https://dsva.slack.com/archives/CHX8FMP28/p1571669690183100)). Restoring the task tree to the correct state where the attorney could submit their decision via the "attorney checkout" process required developer intervention to correct. Though accidentally cancelling an `AttorneyTask` is a rare event, the implica

[2019-10-21 15:35] #12365 closed

[2019-10-21 15:59] #12122 closed

[2019-10-21 16:01] lowellrex commented on #12392
Yup! Added a [section with more detail](https://github.com/department-of-veterans-affairs/caseflow/wiki/Timed-Tasks#can-a-timeabletask-be-cancelled) to the wiki page for timed tasks.

[2019-10-21 16:37] wturne commented on #9719
@pkarman "Realistic Demo Data" (to me) would means data, such as the Veteran ID, associated to one Veteran.  For example, Veteran ID 963360019 is associated to Veteran Bob Smith and Veteran Jacinto A Erdman, depending on whether you click on the Legacy case or the AMA case.
Another example would be having a Veteran listed on the Review Cases (VLJ Role) page in Queue and clicking on the Veteran's n

[2019-10-21 17:25] leikkisa commented on #12255
My YourIT incident got closed, and the YourIT folks said that I need to request an enhancement.

Kristin mentioned to go through AMO here:
https://dsva.slack.com/archives/CK466V65V/p1570653017001800

Asking Jane Chi about it here:
https://dsva.slack.com/archives/CFBLH2LR4/p1571678666053600

[2019-10-21 17:40] laurjpeterson commented on #11991
This is a duplicate of #12175, so closing

[2019-10-21 17:40] #11991 closed

[2019-10-21 17:48] leikkisa commented on #12255
Sent email to Mike Palmer to ask about submitting an enhancement request.

[2019-10-21 19:27] hschallhorn commented on #12394
Possible user to test this function on in production once finished:

[2019-10-21 19:44] leikkisa commented on #10511
Created SR-002323 to fix the new ratings endpoint in prod:
https://escp.aac.va.gov/ServiceRequest/Details/13780?isDraft=false

[2019-10-21 20:31] leikkisa opened #12445 "Auto-establish Difference of Opinion supplemental claims."
### User or job story
When an issue gets a difference of opinion disposition, a follow up supplemental claim should automatically be established for that issue.

### Acceptance criteria

### Release notes
Difference of Opinion Supplemental Claims will be automatically established when an issue gets a difference of opinion disposition.

#### Designs

#### Background/context
Include as needed, espec

[2019-10-22 15:11] cabeaulac opened #12446 "If a judge clicks "no show" for a hearing, they should be able to undo it for 60 minutes"
### User or job story
User story: As an VA Judge, I need to be able to undo setting a hearing to "no show" for at least 60 minutes, so that hearings may happen when a Veteran is late to the appointment. (_why 60 minutes? why not until end-of-day?_)

### Acceptance criteria
- After a Judge marks a hearing as "no show", they are allowed to undo that for up to 60 minutes.
- Please include a screensho

[2019-10-22 15:27] leikkisa opened #12447 "Choose correct claimant and payee code for board grant effectuations"
### User or job story
As a user who is processing a board grant effectuation, if the payee code is wrong then I have to manually create a new claim with the correct data, and the prior incorrect claim needs to be canceled.

### Acceptance criteria
- When creating a board grant effectuation EP, the claimant_participant_id should be set to the appeal's claimant's participant_id
- If the claimant has

[2019-10-22 15:31] nicholer commented on #12446
Similar issue occurs when Judge sets the hearing status to 'Postponed'

[2019-10-22 15:46] lowellrex opened #12448 "Clarify determination of which VSOs write IHPs"
This ticket exists to clarify the application's logic for determining whether a Veterans Service Organization (VSO) will prepare an informal hearing presentation (IHP) for an appeal. We were reminded of this opportunity to improve the clarity here by [a recent investigation](https://dsva.slack.com/archives/C2ZAMLK88/p1571699566186000) into which VSOs prepare IHPs. The convoluted logic in the appli

[2019-10-22 16:23] lowellrex commented on #12420
We're going to proceed as follows:
1. Create new `JudgeTeamRole` single-table inheritance models (slightly modified approach described above).
2. Start creating these objects in the application code.
3. Backfill data where `JudgeTeamRole`s should exist.
4. Cut over to identifying judges and attorneys using `JudgeTeamRole`s (#12422)

[2019-10-22 17:26] pkarman commented on #3920
Reopening because we have now seen this in action for Judges in production. It affects users who share computers.

[2019-10-22 17:32] jcq opened #12450 "Add Support for "Help" Text to RadioField"
### Description
We want the ability to optionally display "help" text under `RadioField` options

### Acceptance criteria
- Add new `help` prop to `RadioField` of type `string` that, if set, will display under the option
- Add example of it to styleguide

### Designs

<img width="527" alt="mtv_radio_help" src="https://user-images.githubusercontent.com/2581274/67313290-bd6e2d00-f4d0-11e9-8951-a87d8

[2019-10-22 17:32] pkarman commented on #3920
Sent email to OIT requesting documentation on SLO.

[2019-10-22 17:51] lomky commented on #12420
@lowellrex number 3 is a follow-on ticket, as well. #12421

[2019-10-22 17:53] jcq commented on #12318
@rutvigupta-design @geronimoramos Are the "(1 document)" / "(2 document)" labels always the same? I mean, those apply to all instances of their respective type of vacate, not something specific to the given case, right?

[2019-10-22 18:08] leikkisa commented on #10815
Current expected claim labels (pension TBD):
- 040 Rating Difference of Opinion
- 040 Non-Rating Difference of Opinion
- 930 AMA Supplemental Rating Difference of Opinion
- 930 AMA Supplemental Non-Rating Difference of Opinion

[2019-10-22 18:08] leikkisa commented on #12445
Closing as dupe of https://github.com/department-of-veterans-affairs/caseflow/issues/10815

[2019-10-22 18:08] #12445 closed

[2019-10-22 18:37] leikkisa opened #12453 "VSO is unable to access case details for veteran"
### User or job story
As a VSO, I need to be able to access the case details page for one of my veterans.  I am also designated as the veteran's POA. I am receiving the error: BGS::ShareError (Power of Attorney of Folder is none. Access to this record is denied.)

### Background/Context
User ID 2124 is the VSO for veteran ID 272634, but is not able to access their bgs record, and therefore cannot

[2019-10-22 19:10] rutvigupta-design commented on #12318
@jcq yes, those labels will be static!

[2019-10-22 19:32] hschallhorn opened #12455 "Task timestamps deep dive"
## OR: What do these timestamps even mean?

Spawned from [this](https://dsva.slack.com/archives/CHX8FMP28/p1571764377224900) slack conversation.
Currently, we have a bunch of timestamps on every task.

1. `created_at`: When the `ActiveRecord` was created (done automatically by rails)
1. `updated_at`: When any field of the `ActiveRecord` was last updated (done automatically by rails)
1. `assigned_a

[2019-10-22 20:29] jcq opened #12456 "Design Change — Add line-height to usa-alert-text"
### Description
Spacing is a bit wonky on our Alert component. The uswds examples all use `<p>` tags for the element with "usa-alert-text" class, which gives it a `line-height` of 1.5. We should match that w/ our `div` element

### Acceptance criteria
- Give `line-height` 1.5 to `.usa-alert-text` element

[2019-10-22 22:26] erluti opened #12458 "API v3 - show endpoint for HigherLevelReviews"
### User story
As an api-consumer
I want to see details of my higher level review
So that I can inform my users about it's details

### Acceptance criteria
Returns the details of the Higher Level Review

Implements endpoint designed here https://github.com/department-of-veterans-affairs/caseflow/issues/12001

Ticket from vets-contrib: https://app.zenhub.com/workspaces/developervagov-5ac272fff41bfa

[2019-10-22 23:58] pkarman commented on #12455
I believe we should set `assigned_at` to `Time.zone.now` and `placed_on_hold_at` to `nil` when we clone tasks. The task should apply to the state of the current assignment, and not carry over old data for those 2 timestamps.

If we need to compute the "Days Waiting" for reporting on case lifetime, we should look at the oldest `assigned_at` value of the relevant task. Maybe for the queue display we

[2019-10-23 00:00] pkarman commented on #12455
There are currently 39 assigned tasks fitting this description:
[code]

[2019-10-23 00:50] #6573 closed

[2019-10-23 13:02] jimruggiero commented on #12268
@rutvigupta-design @geronimoramos when you have designs complete for this, can you link them to this ticket?

[2019-10-23 13:03] jimruggiero commented on #12269
@rutvigupta-design @geronimoramos when you have designs complete for this, can you link them to this ticket?

[2019-10-23 13:03] jimruggiero commented on #12270
@rutvigupta-design @geronimoramos when you have designs complete for this, can you link them to this ticket?

[2019-10-23 13:38] leikkisa commented on #10511
AMO is having users test taking in unidentified issues that are not connected to a rating, but where the actual description is sent as the contention text.  This is to test a new flow for adding "verified" unidentified issues.

Logging the details of the "test case" here:
https://dsva.slack.com/archives/CFBLH2LR4/p1571395289043600

[2019-10-23 13:51] yoomlam opened #12461 "Page refreshes during disposition user interaction"
### User or job story
User story: As a Judge with a long list of hearings in my Daily Docket, I need to set a timed hold for a case with minimal cognitive disruption, so that I'm able to focus on a single case.

### Acceptance criteria
- Page does not refresh (and hence scrolls to the top of the page) after setting the disposition, particularly for a case that is listed lower on the page.

### Rel

[2019-10-23 13:53] rutvigupta-design commented on #12269
@jimruggiero this ticket is no longer needed since dismissed motions to vacate are not sent to BVA Dispatch (they are sent to the veteran by the motions attorney).

[2019-10-23 13:53] rutvigupta-design commented on #12268
@jimruggiero this ticket is no longer needed since denied motions to vacate are not sent to BVA Dispatch (they are sent to the veteran by the motions attorney).

[2019-10-23 14:02] cabeaulac commented on #12461
Yeah, page refresh outside any user interaction with the page is a bad experience. Independent scrolling of a page while a user is viewing it also degrades the experience.

[2019-10-24 03:15] erluti opened #12476 "API v3 - Fix documentation"
### User story
As a developer, I need clarity in the documentation, so that I can leverage the api.

Vets-Contrib story: https://app.zenhub.com/workspaces/developervagov-5ac272fff41bfa50c0e46c48/issues/department-of-veterans-affairs/vets-contrib/3354

[2019-10-24 21:49] tomas-nava opened #12480 "Fix tasks that were put on hold without a child TimedHoldTask when reassigned"
Connects #12365

### Description
Before #11293 and #12419 were merged, reassigning tasks that were on hold with a child `TimedHoldTask` could result in a new on hold task with no `TimedHoldTask` child:

_before reassign_
[code]

_after reassign_
[code]

This results in an open task that causes the case to be seen in a user's queue, but cannot be acted upon.

**This ticket exists to repair any case

[2019-10-25 12:57] lowellrex opened #12481 "Create JudgeTeamRole objects in application"
Follow-on ticket from #12420. That ticket created the tables and classes, this ticket exists to create those objects in the application code.

## Acceptance criteria
* [x] Create `JudgeTeamLead` wherever we currently [create a "judge" for a `JudgeTeam`](https://github.com/department-of-veterans-affairs/caseflow/blob/c82d3f8e65ad7d5d079468ff3a79964bfbaddbdd/app/models/organizations/judge_team.rb#L8

[2019-10-25 12:58] lowellrex commented on #12420
Closing this ticket since all remaining work will happen in #12481, #12421, and #12422.

[2019-10-25 12:58] #12420 closed

[2019-10-25 13:39] carodew commented on #12096
@yoomlam @alisan16 – we can open a support ticket to have someone help us figure out how to navigate this table with JAWS, I just added general instructions on how to do that here: https://github.com/department-of-veterans-affairs/appeals-team/blob/master/caseflow-team/0-how-we-work/accessibility.md#resources-and-support

@yoomlam if you want, we can find a time to submit the ticket together since

[2019-10-25 14:52] #12316 closed

[2019-10-25 19:23] rutvigupta-design commented on #12318
### Help text styles:
color: 5B616B
font-family: ‘Source Sans Pro’
font-style: Italic
font-weight: 400
font-size: 17px
line-height: 1.5em/26px

cc @jcq

[2019-10-25 19:25] #12135 closed

[2019-10-25 19:47] #12476 closed

[2019-10-25 20:10] leikkisa commented on #11081
I asked Dwight about submitting ESCP tickets for these, since the guidance to use YourIT was misguided (BGS is not in YourIT).  I am waiting to hear back, but that's the next course of action.

[2019-10-27 22:25] #12022 closed

[2019-10-27 22:45] #11881 closed

[2019-10-28 12:57] jimruggiero commented on #11779
@carodew passing this to your backlog to confirm that Anya's recommendation is the desired interaction for caseflow reverse navigation. Can you confirm or provide alternate guidance?

[2019-10-28 13:16] carodew commented on #11779
Best practice is to never break the browser's back button, so without knowing anything else about the workflow this sounds right.

Is there also a way in the UI to navigate back to add more issues? How many issues is a person likely to add in one go (aka, is there a need for a bulk or multiple add functionality?)

[2019-10-28 13:21] lowellrex commented on #11607
Looks like our application is still creating `GenericTask`s (perhaps by way of [the `AssignToView`](https://github.com/department-of-veterans-affairs/caseflow/blob/5834be47e5145a31bf0f928a70b87d7d504f78d1/client/app/queue/AssignToView.jsx#L72)?). Adding that as an acceptance criteria.

[_Source: Looker_](https://caseflow-looker.va.gov/sql/4jpxsz3rcyfmjy)
![image](https://user-images.githubusercont

[2019-10-28 13:56] yoomlam commented on #12096
@carodew Sure, we can submit the ticket together. Want to create a Google calendar event for this?

[2019-10-28 13:58] lowellrex opened #12486 "Pass type when creating MailTask children in AssignToView"
While working on [unifying `GenericTask`s and `Task`s](https://github.com/department-of-veterans-affairs/caseflow/issues/11607) we [discovered](https://github.com/department-of-veterans-affairs/caseflow/issues/11607#issuecomment-546942653) that the application was still creating new `GenericTask` instances. The majority of [`GenericTask`s created in the past few months](https://caseflow-looker.va.

[2019-10-28 16:16] jimruggiero commented on #11779
Great questions, but all TBD. Currently, there's no way for an intake user
to go back if they make a data entry mistake...happy path only. They
basically have to cancel mid-stream and start over. Others can remove
erroneous issues, if required. Additionally, Sally wants to redesign the
Add Issues portion of the Intake workflow, as the AMA model currently in
Production is no longer sufficient to sc

[2019-10-28 16:21] lowellrex commented on #10569
* [ ] Should we VACOLS and posgtres
    * Regularly causes test failures because our human-intensive solution for identifying when we need to clean databases leaks state.
    * The runtime of our rspec builds in CircleCI has not decreased meaningfully as a result of these changes. [Initial discussion](https://dsva.slack.com/archives/C2ZAMLK88/p1564150196079500) expected reduction in runtime from 1

[2019-10-28 16:53] tomas-nava opened #12490 "user can access documents in VBMS but not reader"
User `VACOLAURID` is able to access documents for the legacy appeal with VACOLS id `3989095` in VBMS, but attempting to load the same documents through reader results in a `403` error with the message: "This efolder contains sensitive information you do not have permission to view. Please contact your supervisor."

[relevant Slack thread](https://dsva.slack.com/archives/CHX8FMP28/p1571671942186100

[2019-10-28 17:04] #9784 closed

[2019-10-28 17:33] jimruggiero commented on #12284
Please reference work that Echo is doing to hook into inactive user/general queue task assignments (see ticket XXXXX).

[2019-10-28 17:46] jimruggiero commented on #12225
@leikkisa to review and document more granular detail.

[2019-10-28 18:48] leikkisa commented on #12450
<img width="412" alt="Screen Shot 2019-10-28 at 11 47 05 AM" src="https://user-images.githubusercontent.com/6589610/67708082-d0717900-f978-11e9-8f1b-471069570a92.png">

[2019-10-28 18:51] lowellrex opened #12492 "Prevent judges from being removed from their JudgeTeams"
Right now, any admin of a `JudgeTeam` can remove the judge associated with that `JudgeTeam`. This ticket exists to create a control in the application that prevents folks from doing that.

![remove-aabshire](https://user-images.githubusercontent.com/32683958/67708328-58b04800-f992-11e9-839c-7d02dca130c7.gif)
Admins should not be able to do this ☝️

## Acceptance criteria
* [ ] `JudgeTeam` admins c

[2019-10-28 18:51] jcq commented on #12450
### Screenshot of implementation:
<img width="381" alt="Screen Shot 2019-10-28 at 11 48 55" src="https://user-images.githubusercontent.com/2581274/67708330-365e0080-f979-11e9-8bdf-b3ca1e0214fb.png">

[2019-10-28 19:48] lomaxap commented on #12437
I think this is a good start!

This feels like a very large task. Do you think we can come up with a refactor spec by simply inferring from our current use of these systems? I'm assuming our current implementation meets basic user needs.

[2019-10-28 20:18] monfresh commented on #10569
@lowellrex I saw your comment pop up in my email. What a coincidence! I recently finished a blog post about the work I did to speed up the test suite (not yet published). I spent time measuring the time savings in Circle CI by taking the average of the longest RSpec runs for 5 builds before and after my changes, and the difference was 0.65 minutes. I also looked at the average number of builds ove

[2019-10-28 20:52] lowellrex opened #12496 "Add method to Organizations class to add user to an org"
Currently, in order to associate a `User` with an `Organization` we call the function `OrganizationsUser.add_user_to_organization` with user and organization instances ([like in `Organization::UsersController`](https://github.com/department-of-veterans-affairs/caseflow/blob/5453cdcfd5d9c1bf283fad51dc92160e4cd29de6/app/controllers/organizations/users_controller.rb#L18) for example). This ticket exi

[2019-10-29 14:21] pkarman commented on #11779
Note that the Confirmation page (end of Intake) now has an "Edit issues" link on it that should take the user to the correct page to add/delete/edit the issues.

[2019-10-29 14:41] pkarman commented on #12437
I interpreted

as "document the behavior in our existing specs as a baseline" under the assumption that some minimal authz rules were applied during development.

[2019-10-29 14:49] pkarman commented on #12496
I think the built-in associations let you do this:

[code]

[2019-10-29 16:25] jimruggiero commented on #11779
Yep. Thank you, Peter. Forgot about the edit feature.

On Tue, Oct 29, 2019 at 10:21 AM Peter Karman <notifications@github.com>
wrote:

[2019-10-29 16:50] tomas-nava opened #12500 "Tasks assigned to an attorney on the VLJ support team are persisting in their assigned queue, no matter what their status is"
### User story
User story: As an attorney on the VLJ support team, I need Caseflow to respect the status of Colocated tasks assigned to me, so that my queue isn't cluttered with tasks I've already completed.

### Acceptance criteria
- [ ] Colocated tasks assigned to a colocated team member who is an attorney in VACOLS are shown under the tabs appropriate to their status.

#### Background/context
T

[2019-10-29 18:17] hschallhorn opened #12502 "Show automatically routed ColocatedTasks in attorney's on hold tab"
### User or job story
As an attorney, I need to see all admins actions I have created in my on hold tab, so that I can properly track my tasks

### Acceptance criteria
- [ ] Automatically routed `ColocatedTask`s created by an attorney are shown in their "On hold tab" (`MissingHearingTranscriptsColocatedTask`, `FoiaColocatedTask`, `ScheduleHearingColocatedTask`, `TranslationColocatedTask`)

#### Ba

[2019-10-29 18:32] hschallhorn opened #12505 "Determine what to do with children of cancelled tasks assigned to inactive users"
Spun out of #12483.

[Some slack chatter.](https://dsva.slack.com/archives/CJL810329/p1572295303028100)

In some scenarios, when we "reassign" tasks of an inactive user, some tasks are merely cancelled to be reassigned manually by a judge, team admin, quality reviewer, bva dispatch team member, etc. On occasion these tasks will have children that become orphaned due to their parent being cancelled

[2019-10-29 18:39] pkarman commented on #11713
Note there is an outstanding PR on this to work around the problem. See #12190 -- it just needs to be extended to fit the business cases where re-distribution is legit.

[2019-10-29 18:57] hschallhorn opened #12506 "Add instructions to reassigned tasks of inactive users"
Spun out of #12483.

[Some slack chatter.](https://dsva.slack.com/archives/CJL810329/p1572369656018000?thread_ts=1572295303.028100&cid=CJL810329)

We should be documenting reasoning why we are cancelling or reassigning tasks of inactive users so that the history exists in the database. An additional benefit of doing this is so that users can see why they are receiving a task or why downstream chil

[2019-10-29 20:42] carodew commented on #12096
Update – @yoomlam and I discovered that we have access to JAWS via Citrix Gateway, so we tested the case timeline on the remote desktop in caseflow demo. In our test, JAWS read the content in the correct order and didn't announce that it was a table. Aka, we were not able to reproduce the defect. I'll follow up with the Section 508 office and make the case that this should not be considered a defe

[2019-10-29 21:00] ferristseng opened #12507 "Hearing details page reverts updates after saving"
### Bug

When a user updates the hearing details page, it reverts the changes they made. The changes show up when the user refreshes the page.

#### Background/context

Observed this bug fix in my local environment on the master branch.

[2019-10-29 22:45] #12502 closed

[2019-10-30 14:37] pkarman opened #12510 "AMO bi-weekly intake numbers"
### User story

As an AMO member, I need bi-weekly numbers reflecting Intake stats.

### Acceptance criteria
- A new cron job uses the ClaimReviewAsyncStatsReporter to send CSV output to the #caseflow-vbms-intake channel, similar to how MonthlyMetricsReportJob works.
- Job should also report current number of stuck SC and HLR async jobs.

[2019-10-30 16:01] dwhitted commented on #11840
OIT is requesting a status on this open engineering ticket?

[2019-10-30 16:04] pkarman commented on #10732
some stats:

[code]

[2019-10-30 17:53] hschallhorn opened #12514 "Ignore tasks that are not actionable when determining the assigned to location of an appeal"
[Related slack thread](https://dsva.slack.com/archives/CJL810329/p1572358195003400).

When [displaying who a case is assigned to](https://github.com/department-of-veterans-affairs/caseflow/blob/20ae9aa3ea0cb77a10b7608db2f481c5dc6aa224/app/models/legacy_appeal.rb#L732) we typically show the assignee of the most [recently assigned task](https://github.com/department-of-veterans-affairs/caseflow/blob

[2019-10-30 18:11] yoomlam commented on #12514
Approach 1 is to enumerate each task type to be ignored and ignore any tasks in the enumeration when showing the task assignee. Straightforward but not robust.

Approach 2 is to mark/characterize these ignorable task types as 'ignoreForCaseAssignee'. We'll have to describe & distinguish what these characterizations mean to avoid misinterpretation. Any new tasks that should be ignored are more easi

[2019-10-30 18:25] hschallhorn opened #12515 "Clarify "Parent has open child tasks" error"
[Relevant slack chat](https://dsva.slack.com/archives/C6E41RE92/p1571335729037500). When VLJs attempt to assign a task to someone in certain scenarios, they receive a cryptic error of "Parent has open child tasks". Instead, we should be presenting the user with an error that provides context for what they're attempting to complete with their workflow. e.g. "Drafting decisions for this case has alr

[2019-10-30 18:48] lomaxap commented on #12242
@alisan16 is this a duplicate of #12122? if so, @aplybeah thinks that [this PR](https://github.com/department-of-veterans-affairs/caseflow-frontend-toolkit/pull/53) in the frontend toolkit resolves this

[2019-10-30 18:58] jcq commented on #12370
The AC on here specifies that the new disposition be `partial_grant`, but all the others are past tense (`granted`, `denied`, etc). I had previously implemented it as just `partial`, which doesn't actually fit that pattern either. Should we match the AC? Should we match the pattern? Is `partially_granted` too long?

[2019-10-30 18:59] pkarman commented on #10516
TaskSorter continues to have unpredictable sorting problems.

https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/90368

[code]

[2019-10-30 19:00] #10390 closed

[2019-10-30 19:00] alisan16 commented on #12242
@lomaxap This one is about the user dropdown menu on the top right, #12122 is about the product dropdown on the top left

<img width="1036" alt="Screen Shot 2019-10-30 at 3 00 33 PM" src="https://user-images.githubusercontent.com/1198106/67889890-0b64df80-fb26-11e9-87ad-d42856e362b8.png">

[2019-10-30 19:01] leikkisa commented on #12370
To the extent that I can make it up, I would say partially_granted is fine. We should check with @jimruggiero too, in case there is other disposition-related knowledge I'm not thinking of.

[2019-10-30 19:21] dwhitted commented on #11840
This relates to INC7951455 do we have an eta on a solution or what's the plan for resolution?

[2019-10-30 19:32] dwhitted commented on #11840
INC7528208 this SNOw ticket seems to be related and appears to be an open ticket over 30 days

[2019-10-30 19:37] leikkisa opened #12517 "Motions attorney get assigned Deny or Dismiss MotionToVacateTask"
### User or job story
As a judge, when I deny or dismiss a motion to vacate, I want the judge address motion to vacate task to be marked as completed, and the prior motions attorney to be assigned a Deny or DismissMotionToVacateTask.

Note: The motions attorney's subsequent action on this task would be to complete it.

### Acceptance criteria
- This work is behind a feature toggle: "review_motion_

[2019-10-30 19:46] leikkisa opened #12518 "Motions attorney completes Deny or Dismiss motion to vacate"
### User or job story
As a motions attorney, I want the ability to close a review motion to vacate (denial or dismissal) task, so that I can generate and send a letter to the Veteran.

### Acceptance criteria
- This work is behind a feature toggle: "review_motion_to_vacate".
- Motions attorneys have the action "Mark task as complete" on their Deny or Dismiss Motions to Vacate tasks
- When the Moti

[2019-10-30 19:58] pkarman commented on #11840
This is a systemic problem we are tackling from a variety of angles, ongoing since April. It is sometimes referred to as the "missing rating data" problem.

We have a number of communication threads going with BGS, AMO and VBMS. For INC7951455 and INC7528208 we do not yet have an ETA, but the plan is to discover how best to provide the missing data for those Intakes (as well as many others).

Acco

[2019-10-30 20:02] lomaxap opened #12519 "Refactor Hearing Details to Only Send Edited Data"
Currently, the hearing details sends all form data regardless of whether the data has changed. https://github.com/department-of-veterans-affairs/caseflow/blob/20ae9aa3ea0cb77a10b7608db2f481c5dc6aa224/client/app/hearings/components/Details.jsx#L121-L127

#12488 is written to expect only data that has changed in the params.

AC
- [ ] Only params that have been changed should be sent to hearings cont

[2019-10-30 20:15] pkarman opened #12520 "Async job CSV export"
### User story
As a Caseflow user, I need to export Async Job metadata as a CSV in order to perform analysis outside of Caseflow.

### Acceptance criteria
- The /jobs page has a "Download as CSV" link, when clicked responds with a file named in the convention `async-jobs-YMD.csv`

#### Background/context
Requested by AMO during breakout session 10/23.

#### Success criteria
Include as needed, espe

[2019-10-30 20:25] pkarman opened #12521 "Backfill Veteran records where SSN stored as file number"
Related to #10732

Proactively identify Veteran records where we are storing SSN as `file_number` and create a 2nd record with the actual correct BGS file number. The participant_id can be used to look up the legit file number.

[code]

[2019-10-30 20:50] #11952 closed

[2019-10-30 20:54] laurjpeterson opened #12523 "Inactive users"
### Background/context
Caseflow users could decide to leave their jobs at the Board of Veterans' Appeals, and therefore their active tasks need to be reassigned to other users to be worked. If their tasks aren't reassigned, a Veterans' appeal could be "stuck", and unnecessarily take more time to process.

### Goals
- Prevent unnecessary delays in appeals processing due to stuck tasks assigned to u

[2019-10-30 21:10] #12507 closed

[2019-10-30 23:04] jimruggiero commented on #12370
partially_granted works

[2019-10-30 23:04] leikkisa opened #12524 "Async job notes trigger a message to the user"
### User or job story
As a user, when my asynchronous job gets a note added, I'd like to get a message in my inbox.

### Acceptance criteria
- When a job note is added to an async job with the "send_to_intake_user" flag set to true, the user connected to the job gets a message delivered to their inbox with the note
- The user does not get a message if they're the one that added the note
- Include

[2019-10-30 23:05] #12214 closed

[2019-10-30 23:05] leikkisa commented on #12214
Closing this issue, created:
https://github.com/department-of-veterans-affairs/caseflow/issues/12524

As a follow on for the remaining piece (messaging the user)

[2019-10-30 23:21] jcq commented on #12284
Had a convo w/ Echo re MTV task tree.

Takeaways:
- Our general task structure is fine
- Suggested we replace `AbstractMotionToVacateTask` with `JudgeSignMotionToVacateTask` in the grant/partial cases, as that follows how other judge tasks are handled. This would create the `JudgeSignMotionToVacateTask` right away and put it on hold (judges don't currently have an "on-hold" tab, but they will once

[2019-10-30 23:54] jimruggiero commented on #12284
Hey JC,

Thanks for all of this due diligence. Bullets 1-3 - great news!

Regarding the last bullet (De Novo and Straight Vacate), I'm wondering if
shifting the lens through which we're defining the problem space would
help. If these tasks were going to be shown in Timeline where, in some
ideal future state we are truly showing each incremental step (i.e. full
audit history for all appeals, issues

[2019-10-31 00:06] leikkisa opened #12525 "MTV - Return to Lit Support when missing draft"
### User or job story
As a Judge, when I am assigned an AddressMotionToVacate task, but the motions attorney did not include the link for a valid draft decision, I want to be able to return the task back to them so that they can link the appropriate document and then resend the AddressMotionToVacate task to me.

### Acceptance criteria
- This work is behind a feature toggle: "review_motion_to_vaca

[2019-10-31 01:53] jimruggiero commented on #12518
@leikkisa @geronimoramos @rutvigupta-design C/Should MTV notes go here?
![MTV_Notes](https://user-images.githubusercontent.com/52474028/67912197-8dbdc580-fb5f-11e9-9284-c1e0fdc4747c.jpg)

[2019-10-31 02:10] jimruggiero commented on #12517
Do we want to close all parent tasks for the address motion to vacate? Or keep them open until the full MTV is handled? I believe these should be closed only when the attorney completes the work (i.e. full MTV is handled), which should in turn, enable the original tasks on these issues be able to be worked as they would have been prior to an MTV task being created.

Do we want to provide any addit

[2019-10-31 02:24] jimruggiero commented on #12518
@rutvigupta-design @geronimoramos Can you confirm that the instructions text box in the modal above is optional (i.e. does not require content) to Mark complete?

[2019-10-31 02:43] jimruggiero commented on #12517
Also need to confirm that instructions text boxes to be populated by Judges are not required to advance in the workflow(s).

[2019-10-31 13:53] lowellrex commented on #12506
Note: Run this _verbiage_ by design/product before releasing into the wild. Also, make sure to put this copy in `COPY.json` so design/product can more easily update this.

_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Estimating this at 2. Maybe a 3 because we may want to display this particular type of message different than how we displa

[2019-10-31 14:03] jimruggiero commented on #12515
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Uncertainty around isolating the error. Error appears to be infrequent and low priority, since it's recoverable.

[2019-10-31 14:06] jimruggiero commented on #12514
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

[2019-10-31 14:14] rutvigupta-design commented on #12518
@jimruggiero my understanding was the notes appear as **task instructions** for the judge/attorneys (i.e. under the "assigned by" next to the Actions drop-down. The notes mentioned in the image refer to notes on specific issues that the veteran is requesting, so the pattern of relating that to tasks in this case might be confusing.

Yes, the Mark complete instructions text box should be optional.

[2019-10-31 14:20] rutvigupta-design commented on #12517
For instruction text boxes populated by Judges, I actually think making them required could help in encouraging judges to give attorneys more specific instructions. We learned from users that there's a spectrum of how detailed judges' instructions are, and that may leave some attorneys to "figure it out" in the dark. Thoughts @geronimoramos ?

[2019-10-31 14:20] jimruggiero commented on #12443
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]
Estimate is specifically for implementing option 4 only. Assuming this is one callback of cancelling the judge root task and that action cascading up. May be a 2 if additional callbacks are found. Bug and testing should be straightforward.

[2019-10-31 15:19] aplybeah commented on #12242
@alisan16 Both of the dropdown menus in the navigation bar are rendered by the `DropdownMenu` component in the front-end toolkit. I believe that the current hash being used to connect the front-end to Caseflow isn't the branch where these changes actually are.
<img width="1675" alt="Screen Shot 2019-10-31 at 11 12 19 AM" src="https://user-images.githubusercontent.com/37313082/67959634-71597180-fbc

[2019-10-31 15:57] lowellrex commented on #12274
## [In progress] Investigation notes:

When were these tasks that were re-opened closed?
[_Source: Looker_](https://caseflow-looker.va.gov/sql/dxhk6j3pkvfvtp) (31 October 2019)
![image](https://user-images.githubusercontent.com/32683958/67962632-bda6b080-fbd3-11e9-9688-ff28852edbd5.png)
Looks like two main clusters, October and June of this year.
* Possible avenues for further exploration:
    * P

[2019-10-31 16:12] alisan16 commented on #12242
@aplybeah Thanks for clarifying! That is great that it's the same component. Can we update the front-end-toolkit hash being used to load Caseflow?

[2019-10-31 16:25] leikkisa commented on #12268
Closing this ticket in favor of: https://github.com/department-of-veterans-affairs/caseflow/issues/12517

[2019-10-31 16:25] #12268 closed

[2019-10-31 16:26] leikkisa commented on #12269
Closing this ticket in favor of: https://github.com/department-of-veterans-affairs/caseflow/issues/12517

[2019-10-31 16:26] #12269 closed

[2019-10-31 16:34] leikkisa commented on #12518
@jimruggiero @rutvigupta-design I agree, instructions don't go on the issue, they go on the task.

In the past, these modals have resulted in a new "task", which is where the instructions would typically go.  Since this is completing a task, there is no new task to put the instructions.

I think we should either take it away, or we could append it to the instructions that are already there for the

[2019-10-31 16:38] leikkisa commented on #12517
@jimruggiero I agree, I took off marking anything as complete from this ticket and it is in the next ticket.

I like the instructions that Jim mentioned.  Note, I was talking about the task instructions though, not the banner after it is complete.  We will need to add some stuff to the instructions anyway (link to the ruling letter).

[2019-10-31 16:45] #11698 closed

[2019-10-31 16:55] ajspotts commented on #12123
@alisan16 Does a solution to this problem require testing with JAWS or is VoiceOver testing considered to be sufficient? Asking after I peaked in on [issue 12096](https://github.com/department-of-veterans-affairs/caseflow/issues/12096)

[2019-10-31 17:10] #12332 closed

[2019-10-31 17:14] alisan16 commented on #12123
@ajspotts Yes, please take a look at the linked epic for instructions for how to reproduce and test the issues. You can use the standard screenreader installed on your computer, which on Mac is Voiceover and on Windows is Narrator, I believe. If you have access to a GFE or CAG Windows computer, the JAWS program should be installed and you can use that as well.

https://github.com/department-of-vet

[2019-10-31 17:20] aplybeah commented on #12242
@alisan16 It's possible, but I'd like to check with someone like @jcq first.

[2019-10-31 17:27] pkarman opened #12534 "Intake confirmation page messaging"
### User story
As an Intake User, I need the Intake confirmation page messaging to communicate clearly the status of the Intake.

### Acceptance criteria
- TBD (AMO to provide text changes)

#### Designs
Current page example:

![caseflow-intake-confirmation-page](https://user-images.githubusercontent.com/1205061/67970855-b2568380-fbd9-11e9-9dfd-b6a355ba9ed9.png)

#### Background/context
Requested

[2019-10-31 17:48] jcq commented on #12242
@aplybeah You should be good to go to do a PR for main caseflow repo that updates the hash for the caseflow-frontend-toolkit. Bump that hash, update w/ `yarn`, verify that everything is working, and should be all set!

[2019-10-31 17:50] pkarman opened #12536 "User autocomplete error"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7077/events/529834/

The org management XHR autocomplete feature has a bug the org cannot be excluded.

`NoMethodError: undefined method `-' for nil:NilClass`

[2019-10-31 18:11] lomaxap opened #12537 "Add VirtualHearingJob to Hearings Controller"
Kick off job from hearing controller after a virtual hearing is created, emails are updated, or status is changed to cancelled.

[2019-10-31 19:02] #7635 closed

[2019-10-31 19:11] jcq commented on #12517
@leikkisa One question on this that also sort of applies to the other tasks that come after `AddressMotionToVacateTask`...
It makes sense to add logic for this stuff into the `PostDecisionMotionUpdater`, since that's where we currently create the new tasks. However, at what point do we decide that's too bloated? It might make sense to pull out some of the code for individual tasks into separate fi

[2019-10-31 19:12] lomky commented on #12505
Throwing a 2 at this after scoping it to planning out the work needed.

[2019-10-31 19:14] lomky commented on #12481
Estimating while in flight at a 2

[2019-10-31 19:31] lomky commented on #11713
Reference and update the ACD wiki https://github.com/department-of-veterans-affairs/caseflow/wiki/Automatic-Case-Distribution

[2019-10-31 20:27] pshahVA opened #12539 "Automatically transfer No Show hearing tasks"
### Story
When a hearing No Show task has been open for more than 30 days, the task is automatically completed and the appeal is transferred to the appropriate location.

### Acceptance criteria
- no feature flag needed

Once a No Show hearing task has been open for 30 days:
If the appeal is Legacy, assign it to:
- 55 if the POA / representative type is a Co-located Veteran Service Organization (V

[2019-10-31 20:40] #12139 closed

[2019-10-31 20:50] pkarman commented on #12404
Search cloudwatch logs with a filter like `[ip, id, user, timestamp, request, status_code=5*, size]`

[2019-10-31 22:05] hschallhorn commented on #10516
https://circleci.com/gh/department-of-veterans-affairs/caseflow/90724
- [ ] DataIntegrityChecksJob#perform does not send slack notifications unless there is a report
_spec/jobs/data_integrity_checks_job_spec.rb_
`Failure/Error: expect(slack_service).to_not have_received(:send_notification)`
- [ ] DataIntegrityChecksJob#perform expired async jobs exist sends slack notification if there is a report

[2019-11-01 04:48] pkarman commented on #10516
[code]

[2019-11-01 13:26] D-L-Ware commented on #12238
- [ ] https://appeals.cf.ds.va.gov/queue/appeals/5f529e50-14e0-4860-9312-107cdf63c64b
              has no currently active tasks
              has been signed by a judge and dispatched
              mail tasks were opened post dispatch but have all been completed
- [ ] https://appeals.cf.ds.va.gov/queue/appeals/872846d3-2377-4427-9bd7-b65390d6bd22
               has no currently active tasks

[2019-11-01 13:29] D-L-Ware commented on #12238
I hope the above is helpful.  They all have the same scenario in one way or another.  Judges signs, appeal dispatched, mail tasks assigned post dispatch (general, reconsideration, vacate), all tasks completed at this point.

I cannot speak to the two sensitive appeals, however, given the consistency of the pattern in the other appeals I expect they are the same.  I can likely reach out to someone

[2019-11-01 15:37] hschallhorn commented on #10516
https://circleci.com/gh/department-of-veterans-affairs/caseflow/90852?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
- [ ] NonComp Dispositions Task Page with an existing organization when there is an error saving Shows an error when something goes wrong
_spec/feature/non_comp/dispositions_spec.rb_
`Failure/Error: expect(page).to have_content("Something went wro

[2019-11-01 15:55] rutvigupta-design commented on #12518
@leikkisa I do think we should keep it just to keep enforcing the user pattern to write out a final note whenever they're taking a major action. If I'm understanding correctly, this would only show up in the task instructions when we are creating a new task but in this case, we are not - correct?

Little confused about appending it to the existing instructions because that would be the judge's ins

[2019-11-01 16:57] pkarman commented on #10516
- [ ] https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/90902/parallel-runs/3?filterBy=FAILED

[code]

[2019-11-01 18:25] #12394 closed

[2019-11-01 19:19] hschallhorn commented on #12271
[Done!](https://dsva.slack.com/archives/C7VNGMYUQ/p1572635596088600?thread_ts=1572630539.080900&cid=C7VNGMYUQ)

[2019-11-01 19:19] #12271 closed

[2019-11-01 20:10] chandracarney commented on #12407
Scratchpad and notes were formed into a functional user interview template. This was reviewed by the direct team along with other Caseflow members before being utilized with attorneys and judges. It can be found here: https://docs.google.com/document/d/1VkTmzPiu4pvyXc1kbzfukC5e2is0kFyTDK1NFzGHRqI/edit

[2019-11-01 20:10] #12407 closed

[2019-11-01 20:14] chandracarney commented on #12406
Scratchpad and notes were formed into a functional stakeholder interview template. This was reviewed by the direct team along with other Caseflow members before being utilized with stakeholder research sessions. It can be found here: https://docs.google.com/document/d/1ZcMbsU9NBXF5IIh79yHzRXQBIsEuvywpzugfS0-1bHM

[2019-11-01 20:14] #12406 closed

[2019-11-01 20:26] alisan16 opened #12551 "Quarterly Metric: Caseflow Dispatch % 7-day non-denial decisions"
This metric is required by OIT (Metric ID: 1709076052).

Caseflow Dispatch - Percent of non-denial decisions with an EP created within 7 days
Metric description: Caseflow facilitates the transfer of cases to the Regional Office following issuance of a Board of Veterans’ Appeals decision, with an end product (EP) created to track work. Not creating an EP increases the possibility of miscommunicatio

[2019-11-01 20:28] alisan16 opened #12553 "Quarterly Metric: Caseflow outage recovery time"
This metric is required by OIT (Metric ID: 1812216044).

Metric description: Outage recovery time minus outage report time

Metric definition: Mean (average) time to recovery (minutes)

This may need to be captured and measured manually. https://docs.google.com/spreadsheets/d/1259gGLynm0GeTunINmfhenGoZv6MrsjHDLmX1VqX1Ag/edit

Sources
* Statuspage.io updates
* Post mortem docs (appeals-deployment/d

[2019-11-01 20:30] alisan16 opened #12554 "Monthly Metric: Caseflow certifications percentage of total certifications"
This metric is required by OIT (Metric ID: 1709076050).

Metric description: Caseflow - Percentage of all cases certified with Caseflow, which assists Agency Original Jurisdiction in uploading all required documents of record to a shared electronic file repository and automatically prepares the Certification of Appeal to transfer the appeal to the Board of Veterans’ Appeals.

Metric definition: (N

[2019-11-01 20:33] alisan16 opened #12555 "Deliver Annual OIT Metrics Report"
Annual means FY, according to 10/30 call with Susan Kagan. First target delivery is September 2020.

Status | Metric ID | 2. Metric Description | 3. Unit of Measure | 4. Performance Measurement Category Mapping | 5. Agency Baseline Capability | 6. 2018 Target | 7. 2019 Target | 8. Measurement Condition | 9. Reporting Frequency
-- | -- | -- | -- | -- | -- | -- | -- | -- | --|
Not Started | 18122160

[2019-11-01 20:35] alisan16 opened #12556 "Annual Metric: Caseflow Reader adoption"
This metric is required by OIT (Metric ID: 1909040940).

Metric description: Adoption of Caseflow Reader for appeal decisions (percentage)

Metric definition: (Date of decision minus date of appeal establishment/number of appeals processed)

[2019-11-01 20:41] RyanSibley opened #12557 "Synthesize early IDT research learnings"
As a team of researchers, to retain and make use of the information we've gathered through interviews done so far in the first round of research, we need to synthesize our findings and takeaways so they can be presented to our stakeholders and considered for our final recommendations to the board.

### Acceptance criteria

- Complete affinity mapping in Mural for stakeholders and users to to creat

[2019-11-01 20:42] chandracarney opened #12558 "Research - Phase 1"
### Research - Phase 1
As a team of IDT researchers, I need to conduct research and market analysis, so that we can create a recommendation for the IDT.

We will conduct interviews with various types of users and stakeholders, synthesize our findings, checkin with product management, and conduct a readout with stakeholders.

### Acceptance criteria
- Interview 7 attorneys
- Interview 3 judges
- In

[2019-11-01 20:53] RyanSibley opened #12560 "Conduct competitive analysis for phase 1 of IDT research"
As a stakeholder I need to understand the options for replacing the IDT with another software solution as well as the implications of maintaining the current IDT.

###
- Identify potential software solutions that meet the user and stakeholder needs identified through research.
- Clarify and surface what the Board of Veterans Appeals would need to do to create a sustainable path towards maintaining

[2019-11-01 21:05] RyanSibley opened #12561 "Complete user interviews"
As a researcher, I need to interview users to understand the the needs and concerns of people tasked with decision writing.

Acceptance criteria:
- Interview 7 attorneys
- interview 3 judges
- Interview 2 BVA dispatch
- Interview 1-2 admin professionals
- synthesize findings

[2019-11-01 21:09] chandracarney opened #12562 "Create deck for initial stakeholder review"
### User story
As a stakeholder at the Board, I need to see a presentation with initial comprehensive research findings and market analysis, so that I can begin to understand options available for the future of the IDT.

### Acceptance criteria
- Deck created with findings and market analysis
- Review deck with product and design leads
- Present to the Board

#### Background/context
The team resea

[2019-11-01 21:15] RyanSibley opened #12564 "Complete stakeholder interviews"
As a researcher, I need to interview stakeholders to understand their priorities and concerns regarding the decision writing process.

Acceptance criteria:

- interview 1-2 DVC
- synthesize findings

[2019-11-01 21:15] chandracarney opened #12565 "Schedule user interviews"
# Schedule for user interviews
As a researcher, I need to schedule and coordinate time with users so that we can conduct interviews to understand the IDT needs.

## Acceptance criteria
- Schedule with attorneys
- Schedule with judges

[2019-11-01 21:22] chandracarney opened #12566 "Schedule stakeholder interviews"
# Schedule for stakeholder interviews
As a researcher, I need to schedule and coordinate time with users so that we can conduct interviews to understand the IDT needs.

## Acceptance criteria
- Schedule with DVCs
- Schedule with SMEs

[2019-11-01 21:31] #12565 closed

[2019-11-01 21:31] #12566 closed

[2019-11-01 22:18] pkarman commented on #12534
AMO has approved the existing messaging. No changes needed.

https://dsva.slack.com/archives/CFBLH2LR4/p1572542981135000

[2019-11-01 22:18] #12534 closed

[2019-11-01 23:55] #12077 closed

[2019-11-04 14:13] lomky commented on #7556
## [Susan B. Anthony](https://en.wikipedia.org/wiki/Susan_B._Anthony) Sprint (Nov 4 - Nov 15) engineering priorities

@hschallhorn @lomky @lowellrex @yoomlam @ajspotts sprint priorities for this sprint!

### Special Case Movement
1. [2] ⭐️ (YOOM) Create JudgeTeamRole objects in application #12481
1. [2] ⭐️ Add method to Organizations class to add user to an org #12496
1. [2] ⭐️ Migrate existing Ju

[2019-11-04 14:28] lomky commented on #12115
#12022 is closed & #12295 complete! How's this looking @hschallhorn @kevmo ?

[2019-11-04 14:31] hschallhorn commented on #11590
[code]

[2019-11-04 14:37] lomky commented on #11811
@lowellrex @hschallhorn I see a finished PR for the tech spec and an issue for implementation spun out from there. Is this task complete?

[2019-11-04 14:38] #12175 closed

[2019-11-04 14:50] hschallhorn commented on #12115
<img width="1026" alt="Screen Shot 2019-11-04 at 9 49 55 AM" src="https://user-images.githubusercontent.com/45575454/68129955-82b0bf80-fee8-11e9-8800-86392882f950.png">
🚀

[2019-11-04 14:51] msj0nes commented on #12480
# YourIT Tickets Impacted

Opened | Ticket Number
-- | --
10/10/2019 | INC7848607

[2019-11-04 14:53] #12115 closed

[2019-11-04 15:17] lowellrex opened #12569 "Prevent changes that break db:seed by adding Circle CI check."
A recent change made it so that `bundle exec rake db:seed` failed for all developers on the master branch (see [related Slack conversation](https://dsva.slack.com/archives/CJL810329/p1572876599165300) for more details and investigation). Developer time is one of the most scarce resources we have on the Caseflow project. In order to protect this time from being spent on chasing down issues with the

[2019-11-04 15:25] pkarman opened #12570 "CI step for db migrations"
Run db migrations as a separate step in CircleCI builds.

See also #12569

[2019-11-04 16:11] chandracarney commented on #12562
Beginning agenda and discussion points for the check-in: https://docs.google.com/document/d/1JS2xQuWUlNBpMUhVRW33kp4cWXqvNAD9rUyK4-IYUjk/edit#heading=h.o6a29q39fmx0

[2019-11-04 16:17] lowellrex commented on #11811
I think the only thing left is to connect the script (added in #12483) with the front-end that removes folks and a back-end hook (or regular job monitor?) that re-assigns tasks when somebody leaves an organization. Do we have a ticket written to do this work?

[2019-11-04 16:25] #12458 closed

[2019-11-04 16:39] lowellrex opened #12574 "Prevent TrackVeteranTask creation from re-opening closed appeals"
One component of #12274 where we are investigating why closed tasks are being re-opened. This ticket exists to address one scenario where closed `RootTask`s are being re-opened: when `TrackVeteranTask`s are being created.

Investigation continued [from previous research](https://github.com/department-of-veterans-affairs/caseflow/issues/12274#issuecomment-548444683) on the parent ticket:

[code]

T

[2019-11-04 16:39] lowellrex commented on #12274
Spun one ticket out of this one to address a specific scenario where new `TrackVeteranTask`s are re-opening `RootTask`s (#12574)

[2019-11-04 17:26] pkarman opened #12577 "Duplicate AOD records"
In #11124 we attempted to implement a unique constraint on `advance_on_docket_motions` records.

However, we appear to continue getting "duplicate" records.
https://github.com/department-of-veterans-affairs/dsva-vacols/issues/85

[2019-11-04 17:34] lowellrex commented on #12574
I believe this `RootTask`s are being re-opened by `TrackVeteranTask`s created in the `update_appellant_representation_job`. Even though the job has a [check to ensure that only active AMA `Appeal`s](https://github.com/department-of-veterans-affairs/caseflow/blob/1e404c33027f36050c508c5a7ace9d3def67538f/app/jobs/update_appellant_representation_job.rb#L77) have their appellant representation updated

[2019-11-04 17:35] #12574 closed

[2019-11-04 17:38] tomas-nava commented on #12077
This is what the alert looks like:

![Screen Shot 2019-11-01 at 2 34 35 PM](https://user-images.githubusercontent.com/45415133/68143679-cf939680-fee6-11e9-9603-aea6990870f4.png)

[2019-11-04 17:46] lowellrex commented on #12274
I propose finishing this ticket by taking the following two actions:
* [ ] Writing a data integrity checker that notifies us whenever we have a task with a value in the `closed_at` field that is not actually closed, so that we can investigate closer to when the precipitating event occurs.
* [ ] Updating the status of the affected tasks in production.

@pkarman how does that sound to you?

[2019-11-04 18:40] pkarman commented on #12274
there is already a data integrity checker for this. (it's how we know it's a problem.)

yes, manually fixing affected tasks is good.

are we confident we have stemmed the root cause?

[2019-11-04 19:37] #12378 closed

[2019-11-04 19:37] #12318 closed

[2019-11-04 19:37] #12450 closed

[2019-11-04 19:37] #11256 closed

[2019-11-04 19:37] #12408 closed

[2019-11-04 19:38] #12286 closed

[2019-11-04 19:39] #11987 closed

[2019-11-04 19:58] Sjones352 opened #12580 "VBMS Testing"
VBMS provides the Caseflow team with matrix data to test efolder, Dispatch and Intake in UAT every 2 months.

[2019-11-04 20:15] lomky commented on #12443
I am not immediately able to recreate the failure as we think it happened in the cited case. As best I can tell, option 4 is indeed the current state of the code. I'm going to look more into the production case to see if we have some older task-tree states that led to this issue

Development Appeal state after cancelling Attorney Task:
[code]

Test coverage of this scenario:
https://github.com/dep

[2019-11-04 20:22] pkarman opened #12581 "[Tech Spec] ETL infrastructure"
## Problem

Currently, the Caseflow PostgreSQL db is mirrored once a day, overnight, to a Redshift instance. The Redshift instance is used by Tableau to provide metrics/reporting to BVA. Zero transformation is attempted on the schema, so it is a Extract/Load process (as opposed to Extract/Transform/Load (ETL)).

In its highly normalized structure in Redshift, the schema is slow to query. It is opt

[2019-11-04 21:05] hschallhorn opened #12583 "task_classes fails when a VSO attempts to place a task on hold"
[Sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7248/events/536017/).

[`create_params` in PlaceHoldController](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/controllers/tasks/place_hold_controller.rb#L19) expects a single task, which overrides [`create_params` in TasksController](https://github.com/department-of-veterans-affairs/

[2019-11-04 21:24] hschallhorn commented on #10402
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6241/

[2019-11-04 21:33] hschallhorn commented on #12320
We've gotten this 7 times on 3 different appeals at this point https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6971/events/latest/

[2019-11-04 21:34] leikkisa opened #12584 "Allow re-establishment of canceled board grant effectuations"
### User or job story
When a board grant effectuation gets canceled, users have no way to re-establish it.

This ticket is to create a way to re-establish these manually from the backend, only for canceled board grant effectuations.  This should create a new end product establishment that is basically a duplicate of the canceled EP (same source, contentions, etc).

### Acceptance criteria
- Add a

[2019-11-04 21:38] hschallhorn commented on #10799
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7258/

[2019-11-04 21:43] lowellrex commented on #12274
[Still investigating](https://docs.google.com/spreadsheets/d/1cUTMDbVBhe4We3rckb6QQ4lb3C0BKsfWXskJAOE8YwY/edit?usp=sharing) the remaining 11, but 58 of the 69 tasks with `closed_at` values that are not closed fall into 3 categories
* 13 `RootTask`s re-opened by new `TrackVeteranTask`s ([Looker](https://caseflow-looker.va.gov/sql/f4v3jd8ykqj6cf))
    * The root cause here is fixed by #12574
* 14 `R

[2019-11-04 21:45] leikkisa commented on #12584
I manually re-established the case from Jane above by creating a copy of the EPE with the relevant fields only, changing it to a rating EP, and establishing it. It over-rode the contention ID of the effectuation with the new contention ID.

The resulting end product establishment ID is 279008, which duplicates the following fields from EPE 89924:
- source_type
- source_id
- veteran_file_number
- c

[2019-11-04 21:52] lowellrex commented on #12581
What's the advantage of using a different data store over something within the existing data store (like materialized views and [a primary/replica model](https://en.wikipedia.org/wiki/Master/slave_(technology)#Terminology_concerns))?

[2019-11-04 21:52] alisan16 opened #12585 "Investigate a11y testing: Sniffybara"
Investigate whether Sniffybara is running on rspec feature tests and make updates as needed to get it running in order to tackle accessibility debt long-term.

Related to #12095

[2019-11-04 21:55] hschallhorn commented on #12583
@lowellrex, was about to get started on this. Is it worthwhile? Should VSOs be able to put IHP Tasks on hold?

[2019-11-04 22:10] lowellrex commented on #12583
If we give them the option to place the task on hold then I think we should make sure it works. And since [we give them that option](https://github.com/department-of-veterans-affairs/caseflow/blob/0984143c50af430785c640867c529bdec1d51eb2/app/models/tasks/informal_hearing_presentation_task.rb#L16) I think this is worthwhile, yeah.

[2019-11-04 23:06] pkarman commented on #12581
Offhand, performance and flexibility. We already have a replica, but it's a replica of the normalized data. What we need is denormalized data, similar to the output of https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/sql/ama-cases.sql . The goal is to "flatten" the data.

We could experiment with something like views in PostgreSQL, it just becomes a question of where you

[2019-11-04 23:10] leikkisa opened #12587 "Bug - do not save multiple claimants for decision reviews"
### Description
If a user is intaking a decision review, and they go back to the "review request" page and change the claimant, a second claimant gets added.  However, in the code the first claimant is what is used for things.  This can also lead to a disconnect between the "veteran_is_not_claimant" field, and the claimant.

### Acceptance criteria
- If someone re-submits the review request page,

[2019-11-04 23:39] jcq commented on #12525
@rutvigupta-design @geronimoramos @jimruggiero
What copy do we want to use in pre-populating the instructions?

I'm temporarily setting it to "The decision draft is missing. Please produce that and resubmit for review."

[2019-11-05 00:08] enriquemanuel commented on #12581
Wouldnt this benefit from having an ETL service and maybe using another RDS?
My point is that having an even more monolithic app can become problematic and more task intensive.

There is a service called Glue that we can maybe start exploring https://aws.amazon.com/glue/

[2019-11-05 00:43] cabeaulac commented on #12581
I've used Glue to Athena before for large datasets. Good suggestion @enriquemanuel
This is a pretty good read too: https://aws.amazon.com/blogs/big-data/orchestrating-an-etl-process-using-aws-step-functions-for-amazon-redshift/
I'm not a big fan of growing the caseflow ruby base.

[2019-11-05 00:49] cabeaulac commented on #12581
It's possible to dump all the denormalized data as json or parquet and use Spark, AWS EMR, Athena, Redshift, Kinesis Data Firehose. The list is long. We should put @enriquemanuel Redshift tuning analysis on this page too.

[2019-11-05 01:16] leikkisa opened #12590 "ORACLE ERROR when attempting to store BNFT CLAIM"
### Description
When attempting to establish a claim, we are getting this error:
An error occurred while establishing the claim: Unable to establish claim: ORACLE ERROR when attempting to store BNFT CLAIM  ORA-20001: Invalid data for BNFT_CLAIM_TYPE_CD

The benefit type is set to 1, indicating the veteran is alive.  Checking the veteran's records, the veteran is not yet deceased.

### Impacted rev

[2019-11-05 01:45] leikkisa opened #12591 "XCPUPMAILADDR Service call failed"
### Description
When attempting to establish a claim, we are getting the following error:
`An error occurred while establishing the claim: Unable to establish claim: GUIE50022&amp;ERROR!! XCPUPMAILADDR Service call failed.  FILE: FAProcessShareRequestRule.cpp  LINE: 536 - An unexpected error was encountered.  Please contact the System Administrator. Error is: GUIE50022&amp;ERROR!! XCPUPMAILADDR Se

[2019-11-05 02:01] yoomlam commented on #12581
1. What are your decision metrics? Your writeup suggests you want to get something up and running quickly using existing DB and infrastructure that we know works. How does ease-of-maintenance, long-term cost, ease-of-use, and other metrics rank in comparison?

2. It sounds like the input DBs will be ETL'd in batches daily, either in their entirety or queried for the latest changes. Do you want to

[2019-11-05 02:09] leikkisa opened #12592 "Intake | Upstream Error | Address has invalid character error"
### Description
When attempting to establish a claim, we are getting the following error:
`An error occurred while establishing the claim: Unable to establish claim: insertBenefitClaim: AddressLine1 has invalid character(s)</ns2:exception><ns2:message>Claim not established. System error with BGS.`

The veteran's address just has regular alphanumeric characters in it.

### Impacted reviews and inci

[2019-11-05 02:46] leikkisa opened #12593 "User is not authorized error"
### Description
We are getting the "User is not authorized" error when attempting to establish a claim.  As the user, there are no sensitivity reasons being returned and may_modify? is returning true.

### Impacted reviews and incident report submitted
SCs impacted: [69929, 74256, 90312, 133310, 181842]
Users: [2321, 3309, 5290, 7739, 12788]

INC8206336
https://yourit.va.gov/va?id=ticket&table=inc

[2019-11-05 13:50] #12496 closed

[2019-11-05 14:33] yoomlam opened #12594 "Tech Spec: Relationship labels"
From discussion on relationship labels: https://github.com/department-of-veterans-affairs/caseflow/pull/12493#discussion_r339793138

Currently an organization distinguishes between admin and non-admin members via an admin boolean flag in the organizations_users table. I propose having a label that describes the relationship of the member to the organization.

**Problem 1**: Currently, a user can b

[2019-11-05 15:56] ajspotts commented on #12123
Resolved by this [ticket](https://github.com/department-of-veterans-affairs/caseflow/pull/12559)

[2019-11-05 16:00] msj0nes commented on #4564
# Ticket Obsolete

[2019-11-05 16:00] #4564 closed

[2019-11-05 16:12] pkarman commented on #12581
@enriquemanuel @cabeaulac There are all kinds of data stores available to us. As I tried to outline in the assumptions section:

This tech spec is trying to focus on the mechanism of transforming the data as a separate question.

Enrique asks:

That is exactly what this tech spec recommends. The only question is: where should the ETL service live? Should it be a separate repo? If it's in a separat

[2019-11-05 16:18] pkarman commented on #12581
I am in favor of high ease of maintenance, low long-term cost, high ease-of-use. I think we hit all those things by staying consistent with the existing code base and leveraging our existing technologies. That makes context switching easier for engineers, and helps decrease the chance that a change to our production code will run afoul of the ETL process.

I am not sure there is a clear business n

[2019-11-05 16:27] lomky opened #12597 "Create Seed Data for SCM: Manual Distribution Use Case"
For Training and development purposes, we need to have examples of AMA cases ready to be distributed to Judges with reliable IDs.

## AC
 - [ ] ~30 realistic AMA Appeals with known Veteran IDs

[2019-11-05 16:29] rutvigupta-design commented on #12525
@jcq here's updated copy for the instructions: "I am missing the correct ruling letter. Please draft that and resubmit so I can review and sign."

[2019-11-05 16:30] lomky commented on #12443
Digging further in, it looks like the Attorney cancelled the case by removing the last issue, rather than cancelling their task via the task action. Coordinated with @wturne to clarify how cancel paths work in attorney training docs. Closing issue as a no-op.

[2019-11-05 16:30] #12443 closed

[2019-11-05 16:35] #12577 closed

[2019-11-05 17:03] jimruggiero commented on #12525
Should we assume the letter wasn’t drafted in our copy, or just that the
draft wasn’t linked? Surfacing so our messaging isn’t potentially viewed as
punitive by users or management/judges. Thoughts?

On Tue, Nov 5, 2019 at 11:48 AM Rutvi Gupta <notifications@github.com>
wrote:

[2019-11-05 17:39] nicholer opened #12600 "[duplicate ticket created in error]"

[2019-11-05 17:40] nicholer opened #12601 "[duplicate ticket created in error]"

[2019-11-05 17:40] nicholer opened #12602 "[duplicate ticket created in error]"

[2019-11-05 17:41] nicholer opened #12603 "[duplicate ticket created in error]"
#### User Story
As a Hearing Coordinator, I need to feel confident that I have Hearings Branch-wide visibility into the status of pending or failed attempts to schedule virtual hearings (i.e. the status of creating the videoconference via Pexip and sending email invitations to hearing participants).

#### Background
For the first iteration of virtual hearings, we're looking to provide this visibil

[2019-11-05 17:41] nicholer opened #12604 "Resend email invite to virtual hearing"
#### User Story
As a Hearing Coordinator, I want to resend the virtual hearing email invitation if one of the participants (Veteran, POA / Representative) cannot locate the original email.

[2019-11-05 17:50] leikkisa commented on #12165
YourIT keeps closing my ticket, but there is a VBMS defect number now: 742324

[2019-11-05 17:58] nicholer commented on #12347
@lomaxap @pshahVA

1. For VSO users, we don't want the VLJ Virtual Hearing Link to display on their Daily Docket. Should we note that here?
2. Should I create a separate ticket if we want the regular participant link (i.e. the link emailed to Veterans and Representatives) to display on the VSO Daily Docket?

[2019-11-05 18:07] nicholer commented on #12347
@lomaxap @pshahVA

Also, since we now have an in-progress state for the VLJ Virtual Hearing Link, should that go in this ticket as well?

Hearing Details: https://va-gov.invisionapp.com/share/8AUO95JMRW7#/screens/391731030
Daily Docket: https://va-gov.invisionapp.com/share/8AUO95JMRW7#/screens/391731333

[2019-11-05 18:21] aplybeah opened #12605 "Update VSO Test Users"
### User or job story
Right now, we have several VSO test users and it is currently unclear which VSOs are actually available for testing, or what their general purpose is. In addition, none of the below mentioned VSO users have seed data to simulate the screens that they see or abilities that they have in the Hearings app. Three of the users (BILLIE_VSO, MICHAEL_VSO, and WINNIE_VSO) have one case

[2019-11-05 18:27] rutvigupta-design commented on #12525
Great point, @jimruggiero both cases are very valid, but we definitely don't want to assume.
How does this sound (thinking framing it as a missing link covers it not being drafted yet too):
_"I am missing a link to the draft ruling letter. Please resubmit so I can review and sign."_

[2019-11-05 18:49] nicholer opened #12607 "Update time of a virtual hearing (Gen2 functionality)"
## Story
As a Hearing Coordinator, I want to update the time of a virtual hearing.

## Designs
### Invision Link
https://va-gov.invisionapp.com/share/8AUO95JMRW7#/screens/391956041

### Description
- When the Hearing Type is Virtual, and the Hearing Coordinator changes the hearing time on the **Daily Docket** and selects 'Save', a **modal** appears with the following read-only information:
  - Hea

[2019-11-05 18:56] nicholer opened #12609 "Update emails associated with virtual hearing (Gen2 functionality)"
## Story
As a Hearing Coordinator, I want to change the Veteran and/or Representative email address(es) associated with a virtual hearing.

## Designs
### Invision Link
https://va-gov.invisionapp.com/share/8AUO95JMRW7#/screens/391798212

### Description
- Veteran Email field is **required**
- POA/Representative Email field is **not required**
- When the Hearing Type is Virtual, and the Hearing Coo

[2019-11-05 18:59] nicholer opened #12610 "Switch virtual hearing back to video (Gen2 functionality)"
## Story
As a Hearing Coordinator, I want to switch a virtual hearing back to video (or Central).

## Designs
### Invision Link
https://va-gov.invisionapp.com/share/8AUO95JMRW7#/screens/391798747

### Description
When the Hearing Type is Virtual, and the Hearing Coordinator changes the hearing back to its original type (most likely Video, but possibly Central) on **Hearing Details** and selects 'S

[2019-11-05 19:04] jimruggiero commented on #12525
@Rutvi Gupta <rutvi@navapbc.com> love the change!

On Tue, Nov 5, 2019 at 1:27 PM Rutvi Gupta <notifications@github.com> wrote:

[2019-11-05 19:04] hschallhorn commented on #12442
Similar: https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6988/
Resolution: https://dsva.slack.com/archives/CLRTL92TW/p1572876013003100

[2019-11-05 19:05] nicholer opened #12612 "Judge view of virtual hearing on the Daily Docket (Gen2 functionality)"
## Story
As a Veterans Law Judge (VLJ), I want to be able to see and join virtual hearings from my Daily Docket.

## Designs
### Invision Link
https://va-gov.invisionapp.com/share/8AUO95JMRW7#/screens/391807680

### Description
- When the Hearing Type is Virtual, the Judge user view of the Actions section on the Daily Docket displays the 'VLJ Virtual Hearing Link'
  - Clicking the link/label opens

[2019-11-05 19:07] hschallhorn commented on #12442
Had the wrong vacols_id, not resolved

[2019-11-05 19:13] #12500 closed

[2019-11-05 19:45] yoomlam commented on #12481
All tickets associated with Acceptance Criteria are complete.

[2019-11-05 19:45] pkarman commented on #8896
@wturne can you please give us the correct URLs and we can correct the links?

[2019-11-05 19:46] D-L-Ware commented on #12581
Minor thing, the spec starts with the assumption of approximately 60k new appeal records annually, which I believe is a slight under count.  An old legacy model VBA/the Board had circa 2017 assumed 160,000 new NODs a year with about half, 80k, becoming appeals that got certified to the Board.  This was based on historical inputs.

As such, I think assuming in the range of 80k to 160k new records a

[2019-11-05 19:50] pkarman commented on #12601
Note that the /jobs page should provide status on all async jobs already. If there is additional functionality needed for Hearings, specifically, we should identify that.

[2019-11-05 20:45] #12583 closed

[2019-11-05 20:51] pshahVA commented on #12581
Just some questions and thoughts.

[2019-11-05 20:57] leikkisa opened #12615 "Multiple Legacy Issues | Use new table for legacy issue opt ins"
### User or job story
As a user, I should be able to connect multiple legacy issues to one request issue.

This step is to switch logic to use the new table that was created in #12397

### Acceptance criteria
- First check that the existing legacy issue data has been completely backfilled in the new table
- Add appropriate ActiveRecord associations (each legacy opt in will have a request issue, an

[2019-11-05 21:00] #12603 closed

[2019-11-05 21:01] #12601 closed

[2019-11-05 21:01] #12602 closed

[2019-11-05 21:15] #12275 closed

[2019-11-05 21:15] leikkisa commented on #12275
Closing this ticket since there have been no new instances

[2019-11-05 21:39] pkarman opened #12616 "Identify first Tableau report to port to denormalized schema"
One action item from the breakout session with B3 the week of 10/22 was to identify the first Tableau report we will port to a new denormalized data source.

Per @D-L-Ware we have some candidates:

## Acceptance criteria

* [x] Identify which Tableau report to port
* [x] Obtain the latest Tableau data store SQL used for the report
* [x] Define the ideal schema definition to support this report

[2019-11-05 21:41] #1730 closed

[2019-11-05 21:41] jimruggiero commented on #1730
Closing ticket - stale; could refactor if new certification issues around this code surface.

[2019-11-05 21:45] lomaxap commented on #12288
see #10630 for context

[2019-11-05 21:47] jimruggiero commented on #6723
Closing ticket - stale.

[2019-11-05 21:47] #6723 closed

[2019-11-05 21:51] jimruggiero commented on #7648
Closing because this issue will be addressed when alternate serializer tickets are completed in current or near-term sprint.

[2019-11-05 21:51] #7648 closed

[2019-11-05 21:55] hschallhorn opened #12617 "Ensure task paper trails are being saved when AMA appeals are cancelled"
[Relavent slack](https://dsva.slack.com/archives/CHX8FMP28/p1572990272137100?thread_ts=1572989139.136500&cid=CHX8FMP28).

It appears as if all changes to tasks are not creating a paper trail, specifically when AMA appeals are cancelled by removing the last request issue on the appeal.

#### To reproduce

1. Log in as BVACASPER and find an AMA appeal assigned to you
[code]
2. Remove the last issue

[2019-11-05 22:04] jimruggiero commented on #10251
@leikkisa Can you create two new tickets breaking out the backend work described above, link them to each other, and then we can create a new Epic to link all of these, plus the new frontend tickets (e.g. adding variants of "other" to NCA intake, etc).

[2019-11-06 00:07] leikkisa commented on #10164
There are two new occurrences of this. The user may not actually have permissions. Moving back to "icebox" where we're keeping these.

[2019-11-06 00:31] jcq commented on #12518
Just to confirm, was this envisioning using the existing "Mark task complete" functionality / modal? Your copy is slightly different (e.g. "Mark task as complete" vs the default w/o "as"), but largely it mimics it. Are we OK just utilizing the existing one (with its copy), or should I hide that one and add a new one that basically does the same thing but has different copy?

And secondly, this ful

[2019-11-06 00:45] leikkisa commented on #12518
@jcq Go ahead and use the existing copy

For your second question - yes! Right now our assumption is that the motions attorney will know what to do to complete these (e.g. send a letter to the veteran), and then they'll mark as complete.  We don't need to do anything with decision documents or dispatch, because no decision issues are changing.

[2019-11-06 13:05] D-L-Ware commented on #12616
[Tableau - Proposed Items to be Prioritized.pptx](https://github.com/department-of-veterans-affairs/caseflow/files/3814519/Tableau.-.Proposed.Items.to.be.Prioritized.pptx)

[2019-11-06 13:06] D-L-Ware commented on #12616
The above is the proposed Tableau report prioritization for the B3 team to get to production.   This can also be informative on the conversation.

[2019-11-06 14:20] #12597 closed

[2019-11-06 14:30] hschallhorn commented on #10630
Another one:
[code]

[2019-11-06 14:54] rutvigupta-design commented on #12518
@jcq Echoing what Sally said!

[2019-11-06 15:10] lowellrex commented on #10630
Closed 487 `ScheduleHearingTask`s that should have been closed by the cancellation of their parent task in the earlier cleanup.

[code]

Working on investigating `ScheduleHearingTask`s that were not cancelled in the initial cleanup but that were worked on and were not in an "open" state this morning.

[2019-11-06 15:30] #12349 closed

[2019-11-06 15:51] pkarman commented on #11713
See https://dsva.slack.com/archives/C3EAF3Q15/p1572991590133500 for one background on why cases might change location to VACOLS and then come back again.

[2019-11-06 16:05] #12605 closed

[2019-11-06 16:37] hschallhorn opened #12621 "TypeError - app/queue/ColocatedTaskListView in length error: Cannot read property 'length' of undefined"
[Sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7294/events/latest/). Looks like `tasksForTab` is returning undefined. My first guess would be that `queueConfig` is not getting set properly on the front end. Assumed related to #12499. Unable to reproduce locally.

### What we know

- Started happening after our deploy on [Monday, November 4th, 2019](https://d

[2019-11-06 16:50] yoomlam commented on #12481
All associated sub-tickets have been merged.

[2019-11-06 16:50] #12481 closed

[2019-11-06 17:06] lomaxap opened #12622 "Remove json_hearing_days from HearingDayController"
`json_hearing_days` adds attributes for regional office city and room label, we should remove this in favor of attributes on a serializer.

[2019-11-06 17:08] lomaxap opened #12623 "Document Hearing Day"

[2019-11-06 17:24] pkarman opened #12624 "Add AppealStatus model"
In order to programmatically enforce/reflect business rules for reporting about the status of an Appeal, create a new `AppealStatus` model that reflects the current business logic represented in https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/sql/bva-decision-progress.sql

Example:

[code]

## Background

Current B3 SQL being used to compute status. Evaluate for comparis

[2019-11-06 17:28] hschallhorn commented on #12621
### Reproduce locally!

1. Log in as BILLIE_VSO
1. Navigate to http://localhost:3000/organizations/veterans-service-organization?tab=unassigned&page=1
1. Select a case and assign it to anyone
1. **Via the back button**, navigate back to the unassigned tab
1. Select a case and assign the case to anyone
1. White screen of death.

### What's happening?
Production is a bit slower than our test or dev

[2019-11-06 19:47] hschallhorn commented on #11963
Here's what we currently display to users after they have changed the number of issues and they select "Save"

#### When an issue has been added
<img width="512" alt="Screen Shot 2019-11-06 at 2 34 31 PM" src="https://user-images.githubusercontent.com/45575454/68332164-45912c80-00a4-11ea-9512-f291d1e5cdbc.png">

#### When an issue has been removed (but there are still more issues)
<img width="506"

[2019-11-06 20:06] laurjpeterson commented on #11397
Posting w/r/t blocking hearing docket appeal tasks. Certain users (I assume hearing coordinators?) can access the Hearing Details page and check the box "Waive 90 day evidence window", which, I assume, cancels the Evidence Window task

<img width="1105" alt="Screen Shot 2019-11-06 at 3 05 04 PM" src="https://user-images.githubusercontent.com/27704093/68333623-de28ac00-00a6-11ea-980e-f33dd8c07d9c.p

[2019-11-06 20:12] D-L-Ware commented on #12616
Dustin Ware
@pkarman do you want to have a call about which report to start with?  I proposed Active Summary
1. Both the SQL and the spreadsheet Juan sent over speak to way to transform the data;
2. It delivers user value while not being too high level;
3. This report categorizes appeals based on caseflow data so it appears there is a clear opportunity to do some transformation.

Peter agreed.

[2019-11-06 20:14] pkarman commented on #12581
@pshahVA your summary is correct.

The primary answer is that the number of rows is modest, but the number of tables is large, because the data in Redshift is still normalized. [JOINs in Redshift are slow](https://docs.aws.amazon.com/redshift/latest/dg/c_designing-queries-best-practices.html), but normalized data means lots of JOINs in order to generate a report.

This new ETL infra will support d

[2019-11-06 20:41] lowellrex commented on #12486
The heart of the problem is that tasks that are created through the "Assign to team" task action do [not pass the type](https://github.com/department-of-veterans-affairs/caseflow/blob/46fcb00a4ce2f724d76665c3473290da7fd1bbfa/app/repositories/task_action_repository.rb#L5) of task to be created and default to `Task`. Explore if we can instead pass the `type`.

[2019-11-06 20:55] lomaxap commented on #12437
Just because I was curious, breakdown of Roles by Organizations:

| org_name | User | Mail Intake | VSR | Admin Intake | System Admin | Certify Appeal | RVSR | Establish Claim | Download eFolder | RO ViewHearSched | Case Details | VSO | Edit HearSched | Build HearSched | Hearing Prep | Reader | Manage Claims Establishme | Manage Claim Establishment | DRO |
| ---- | ---- | ---- | ---- | ---- | ----

[2019-11-06 21:33] laurjpeterson commented on #10023
Per this [PR](https://github.com/department-of-veterans-affairs/caseflow/pull/8333/files) Evidence Window Submission tasks are assigned to the Mail team. This decision was made because, logically, the mail team would receive physical mail with the Veterans' request to waive the Evidence Window, and could fulfill those waiver requests.

The Evidence Submission Window tasks already have the followin

[2019-11-06 21:45] pshahVA commented on #12581
Thank you Peter,
This is probably a very naive question, but could we migrate to non redshift and maintain the same schema?  Would that help with performance?

[2019-11-06 22:17] pkarman commented on #12581
Yes. That is what I hope we do. RDS (PostgreSQL) and Redshift could have identical schemas, but RDS is 1/25th the cost and should perform just as well given the size of our data.

[2019-11-06 22:20] pkarman commented on #12581
@pshahVA I have updated the summary to make this RDS recommendation more explicit.

[2019-11-06 23:31] yoomlam commented on #10569
I notice some recurring themes. Personally, I've spent way too many hours babysitting CircleCI as I rerun 15-minute rspec tests to determine if failures are caused by me, a flakey test, or a new non-deterministically-failing test.

Some considerations:
1. If developers are copy-and-pasting existing test files to create new tests, we should point them to well-written tests so as to promote performa

[2019-11-07 00:21] #12239 closed

[2019-11-07 00:22] #12370 closed

[2019-11-07 13:58] lomky commented on #11397
Generally speaking yes, @laurjpeterson. Specifically, that checkbox will prevent the creation of the Evidence Window task altogether. The Transcription task is created regardless, though, which still blocks distribution.

[2019-11-07 14:08] pkarman commented on #10569
@yoomlam I think it's fine to re-visit our approach to flakey tests as part of Huddle. Some things to be aware of:

* If tests are failing on Circle CI that are not related to your PR, it's quite likely they are flakes. We track those in #10516 so that's the first place I go to check if it's a known flake or something new.
* The Bat Team does work on flakes as time allows. See https://github.com/d

[2019-11-07 15:10] pkarman opened #12634 "Rails 6 upgrade"
With the release of Rails 6 we are now a few revisions behind. We should plot out what's involved in an upgrade.

[2019-11-07 15:13] hschallhorn opened #12635 "Users unable to reassign PreRoutingColocatedTasks"
[Sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6953/).

This fails as we do not allow the creation of new `PreRoutingColocatedTask`s, which occurs when we use the reassign function.

[2019-11-07 16:03] hschallhorn commented on #12617
Mildly related to #11963

[2019-11-07 16:05] hschallhorn commented on #11963
Any chance we can bump the priority on this? Batteam is fielding at least 2 of these a day.

[2019-11-07 16:10] #12621 closed

[2019-11-07 16:48] lowellrex commented on #12274
Closed 239 `ScheduleHearingTask`s that should have been closed by the cancellation of their parent task in [an earlier cleanup this June](https://github.com/department-of-veterans-affairs/caseflow/issues/10630#issuecomment-550353088). This should prevent more `HearingTask`s from being re-opened.

[There are now 34 `HearingTask`s](https://caseflow-looker.va.gov/sql/rrwzqnk4gjrycp) with non-null `cl

[2019-11-07 17:10] #12331 closed

[2019-11-07 17:19] hschallhorn opened #12637 "Investigate request issues being removed from appeals by mystery user"
There has been an uptick in users reporting appeals being closed due to the removal of issues. Initially we though this may be due to the lack of training that this would occur or unclear copy in the warning (#11963). However, based on the wording from multiple users, they are not the ones removing these issues.

Some pings to support on this:
https://dsva.slack.com/archives/CHX8FMP28/p15720167652

[2019-11-07 18:08] hschallhorn commented on #12637
[Possible insight as to what is happening ](https://dsva.slack.com/archives/CHX8FMP28/p1573149554167100?thread_ts=1573141385.156800&cid=CHX8FMP28)

[2019-11-07 18:45] pkarman commented on #11840
@dwhitted we have deployed #12599 which we are hoping will resolve the open INC tickets.

[2019-11-07 18:56] nanotone opened #12640 "Async job CSV export unpaginated"
### User
As a Caseflow user, I need to export all Async Jobs as a CSV (possibly filtered by job type), in order to perform analysis outside of Caseflow without concatenating many CSVs.

### Acceptance criteria
- The CSV-format responses for `/jobs` and `asyncable_jobs/JobType/jobs` are not paginated.

#### Background/context
Users of the current Download as CSV functionality will find that the dow

[2019-11-07 20:00] pkarman opened #12641 "FACOLS Docker images public access"
Our FACOLS Docker images are no longer publicly available due to Oracle licensing restrictions.
Instead, we require AWS access to download them. AWS access is contingent on successfully taking VA security trainings and security checks. Therefore new engineers cannot fully run the Caseflow app locally until many days after they have started on the project.

Fix this by making FACOLS optional for lo

[2019-11-07 20:13] ferristseng opened #12642 "Review usages of "let" in tests"
### Description

This is a reminder to review how `let` is being used in our test suite, and whether or not we should rethink when we are using it.

Couple of points that were brought up during the engineering huddle:

  - Distinction b/w `let` and `let!`. I think this could be something we include in our testing best practices. I think the preference would be to use `let` where possible because i

[2019-11-07 20:42] pkarman opened #12643 "ETL Infrastructure for Data Warehouse"
## Background/context

Caseflow must provide its data to the BVA Data Warehouse (live on demand storage) and Data Lake (persistent long term snapshot storage).

*NOTE*:  The Data Lake work is *not* reflected in this epic; here for context only.

### Data Warehouse

Currently, the Caseflow PostgreSQL db is mirrored once a day, overnight, to a Redshift instance. The Redshift instance is used by Tabl

[2019-11-07 21:08] pkarman commented on #12643
Rough outline for needed GH issues

* Rails `etl` database provisioning/config
* RDS provisioning
* Rails `etl` models
* Service class to create/update etl rows
* Cron job to call etl service class
* CSV exporter
* Service class to use CSV exporter
* Cron job to call csv service class

[2019-11-07 21:31] #10810 closed

[2019-11-07 21:31] #11028 closed

[2019-11-07 22:16] lomaxap commented on #12581
I think doing the transformation step inside Caseflow makes a lot of sense for the reasons you mentioned.

A thought: does the data warehouse have to be postgres? If, like your [post](https://18f.gsa.gov/2016/04/08/how-we-get-high-availability-with-elasticsearch-and-ruby-on-rails/) says, we're essentially creating a document object, could we use a DB more suited to that structure like Mongo? Then

[2019-11-07 22:23] pkarman commented on #12581
No. It could be anything Tableau supports (including MongoDB). One of the reasons I've tried to delineate the *transform* from the *storage* is to break the link between them, mentally, and give us more flexibility.

I suggested RDS/PostgreSQL to start with only because it minimizes the tech stack overhead at this stage in development. It's a known product we already use and should work Well Enoug

[2019-11-07 22:26] pkarman opened #12644 "Mail tasks leave Root Task on hold"
As discovered in #12238 and discussed in https://dsva.slack.com/archives/CJL810329/p1573140116295400 in some cases we appear to be opening Mail Tasks post-dispatch and leaving the Root Task open in `on_hold` status indefinitely. We should fix that.

## AC

- [ ] When all tasks are closed on an Appeal, make sure the Root Task also closes.
- [x] Clean up (close) existing Root Task records that shoul

[2019-11-07 23:28] lowellrex commented on #12274
Including the 3 `HearingTask`s corrected above, we corrected the state of 33 `HearingTask`s. They fall into two categories:
1. Task tree is in correct state but `HearingTask` was reopened after incorrectly being closed so the `closed_at` value stuck around. These were corrected by updating the value of the `closed_at` field to `nil`. Fixed **14** appeals in this situation.
2. A hearing has been sc

[2019-11-08 00:40] leikkisa commented on #11742
Folks said they were ready to merge the records after a demo from me, which was last Thursday.  The PIDs that will be retained are shown in green in the following screenshot.  The row that doesn't have a green highlight is actually the same veteran as the row above it.  I haven't heard a timeline yet on when the records will actually be merged.

![image (11).png](https://images.zenhubusercontent.c

[2019-11-08 13:22] yoomlam opened #12645 "Task Tree Clustering"
## Background/context
Several problems are being addressed:
1. Identifying failure states (i.e., invalid task trees) for an appeal (e.g., when diagnosing problems for ACD or Bat Team);
2. Documenting valid task trees for understanding how an appeal got to its current state;
3. Automating the above to minimize long-term maintenance costs.

The biggest direct beneficiaries are engineers who must und

[2019-11-08 14:19] lowellrex commented on #12644
As of Tuesday this week (and this PR: https://github.com/department-of-veterans-affairs/caseflow/pull/12576), opening a `MailTask` on a closed `RootTask` no longer changes the status of that `RootTask`.

[2019-11-08 14:21] hschallhorn opened #12646 "Cannot read property 'isLegacyAppeal' of undefined"
[Sentry alert](https://github.com/department-of-veterans-affairs/caseflow/issues/10980)

Also see #10980 and #8229

[2019-11-08 15:12] lowellrex commented on #12274
Closed 11 `RootTask`s re-opened by the `TrackVeteranTask`s

[code]

[2019-11-08 15:23] pshahVA opened #12648 "Display Veteran's state of residence on Schedule Veterans screen"
### User story
As a Board Hearing Coordinator, I want to know when a Veteran is being scheduled to a hearing location that's outside the state (or territory) in which they currently reside, so that I can notify all relevant parties and anticipate issues with representatives who will not participate in out-of-state hearings.

### Background / context
After the implementation of geomatching Veterans

[2019-11-08 15:25] pshahVA commented on #12648
@nicholer , I've begun to create this ticket so we can start to formulate our thoughts and begin to think of a design and if this is the correct way to solve this problem.

[2019-11-08 15:25] #12623 closed

[2019-11-08 15:26] lomaxap opened #12649 "Document Hearing Tasks"

[2019-11-08 15:32] pkarman commented on #11779
This is causing production data integrity problems. See https://dsva.slack.com/archives/CHX8FMP28/p1573222890187100

I believe what we should do is invalidate the local redux store on successful confirmation page, and then detect that state on page load, so that the Back button "works" but will give the user a message and a button/link to click indicating they need to "edit" rather than re-use the

[2019-11-08 16:00] hschallhorn opened #12650 "Cannot read property 'id' of undefined"
[Sentry alert](https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/6628/). TypeError app/queue/caseEvaluation/EvaluateDecisionView in id.

#### Related
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7045/
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7002/
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/

[2019-11-08 16:22] pshahVA opened #12651 "FNOD flash similar to the Paper Case flash for hearings"
## User or job story
User story: The hearings branch needs to be made aware when a Veteran is deceased when scheduling or if one that is already scheduled for a hearing is deceased. FNOD=Final Notice of Death

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: [toggle name]
- [ ] This feature should be accessible to the following user groups:
- [ ] Include screenshot(s) i

[2019-11-08 16:22] pshahVA commented on #12651
@nicholer, this will need research.

[2019-11-08 16:28] D-L-Ware commented on #12651
Note, this functionality likely overlaps with functionality that will be need in Queue as more than just the hearing branch needs to know when a final notice of death is logged for a Veteran.

[2019-11-08 18:12] pshahVA opened #12653 "Allow Hearing Branch to change docket without cancelling or postponing"
## User story
As a hearings branch user I need to correct a docket without having to mark the appeal as cancelled, postponed, or withdrawn.

## Background/context
When mistakes are made while scheduling hearings, there is no way to undo a mistake without canceling, postponing, or withdrawing a hearing.
- A cancelation, postponement, or withdraw are recorded in the disposition, even though it is re

[2019-11-08 18:18] pshahVA opened #12654 "Hearings branch case movement"
This is a placeholder ticket to write down the following request from the hearing branch.  This ticket needs a lot of research and design prior to proceeding.

## User or job story
User story: As a [user], I need [x], so that [y]
Job story: When a [user] does [x], they need [y], so that [z]

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: [toggle name]
- [ ] This featu

[2019-11-08 18:18] pshahVA commented on #12654
@nicholer

[2019-11-08 18:21] pshahVA opened #12655 "Track Letter sent to Veteran"
## User or job story
User story: As a Hearings Branch coordinator, I need to track that I sent a letter in Caseflow.

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: [toggle name]
- [ ] This feature should be accessible to the following user groups:
- [ ] Include screenshot(s) in the Github issue if there are front-end changes

## Release notes

### Out of scope

### D

[2019-11-08 18:21] pshahVA commented on #12655
@nicholer

[2019-11-08 19:18] pkarman opened #12656 "ETL database configuration and provisioning"
Rails support [multiple databases in a single app](https://guides.rubyonrails.org/active_record_multiple_databases.html) similar to how we currently configure VACOLS.

Add a new configuration entry for our `etl` database.

## AC

- [x] Create a new database config section for all envs (development, test, uat, preprod, prod)
- [x] Create relevant Makefile and Rake tasks to bootstrap creation of the

[2019-11-08 19:20] pkarman opened #12657 "Provision new RDS instances for ETL"
We'll need 3 new RDS instances for `uat`, `preprod` and `prod` environments.

## AC

- [x] Following current AWS naming/labeling conventions, work with DevOps to create/provision 3 PostgreSQL RDS instances, one for each environment.

[2019-11-08 19:22] pkarman opened #12658 "Initial ETL ActiveRecord models"
We need a base model class and an initial table-backed class.

## AC

- [x] Base `ETL::Record` model
- [x] Initial `ETL::Appeal` model
- [x] Initial db migration (can be a simple placeholder with known attributes from the existing Appeal model -- do not need to wait for #12616)

[2019-11-08 19:31] pkarman opened #12659 "ETL syncer service"
Once we have created the ETL database and models, we will need a basic syncer service class structure that can take an origin model and target model and keep them in sync.

Example:

[code]

## AC

- [x] Syncer classes for
  * [x] Organization
  * [x] Person
  * [x] OrganizationsUser
  * [x] User
  * [x] Appeal
  * [x] Task

[2019-11-08 22:02] chandracarney commented on #12560
The IDT research competitive analysis and considerations document is well underway for Phase 1 of the project and is on track to be used for next week's meeting to present at the Board: https://docs.google.com/document/d/1Y060Qplv8H2zXPEupmdSSC1t7RxqB86lkzo4RBnM-e8/edit#

[2019-11-08 22:49] jcq opened #12662 "UI Bug — "Switch Views" Misaligned when Alert is Present"
## Description
The "Switch views" dropdown on Queue page is positioned absolutely within its container, placing it in the upper right. While this looks OK in the default state of that page, things get weird when an alert (success, etc) is present (see screeenshot)

## Acceptance criteria
- [ ] Position of "Switch views" dropdown isn't wonky when alert is present (i.e. retains its default state pos

[2019-11-08 22:50] #12188 closed

[2019-11-09 14:09] pkarman commented on #3920
Re-sent email to wider audience

[2019-11-09 15:10] yoomlam opened #12665 "Quick Dive into Task Tree Clustering"
Initial dive into #12645.

## Description

This ticket describes a small level of effort for clustering task trees to assess the utility of the results and feasibility of the approach. Immediate uses of the results include (1) automatic detection of invalid appeal states and (2) documentation of existent valid appeal states and state transitions from actual data, both of which will expedite diagno

[2019-11-09 18:14] yoomlam opened #12666 "Data-Driven Documentation of Task Trees"
## Description
Generate documentation of valid appeal states and state transitions based on actual data. Not only will the documentation be useful for onboarding, it will expedite diagnosis and hence remediation of user problems.

Expands https://github.com/department-of-veterans-affairs/caseflow/wiki/Tasks documentation, and validates and exemplifies LP's [Task slide deck](https://docs.google.com

[2019-11-09 21:17] #12150 closed

[2019-11-11 18:47] leikkisa opened #12670 "Message user when their asyncable job succeeds after 24 hours"
## User or job story
As a user, I'd like to know when my asyncable job succeeds if it took more than 24 hours. That will let me know that the issue has been resolved, and that I no longer need this issue to be handled by support.

## Acceptance criteria
- [ ] When an asyncable job gets successfully processed more than 24 hours after it was submitted, automatically send the user a message to their

[2019-11-11 19:03] leikkisa opened #12672 "Message user when their asyncable job has been canceled"
## User or job story
As a user, I'd like to know when my asyncable job has been canceled.

## Acceptance criteria
- [ ] Add a method such as "cancel_job_with_note" that cancels an asyncable job and sends a job note to the users inbox with a message, indicating whether further action is necessary.
- [ ] The message should automatically include a link to the job detail page where the user can see jo

[2019-11-12 01:54] jimruggiero commented on #2917
@pkarman Can you check the logs added last May and let me know if Document.fetch_content is still being used?

[2019-11-12 05:13] jimruggiero opened #12674 "Route Request for IHP tasks to the appropriate VSO"

[2019-11-12 14:12] pkarman commented on #10516
- [ ] https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/92418/parallel-runs/1?filterBy=FAILED

[code]

[2019-11-12 14:30] #12536 closed

[2019-11-12 14:51] lomky commented on #12421
Dry run in production found a small bug with passing in an argument for an alert message.

Also discovered there are two extant judge teams with multiple admins already (!!). These two teams will not be affected by the rake task, and will be manually corrected instead as they are in what is currently considered a bad state.

Notes:
[code]

[2019-11-12 15:38] lowellrex opened #12678 "Close open HearingTasks for closed LegacyAppeals"
While [investigating re-opened tasks](https://github.com/department-of-veterans-affairs/caseflow/issues/12274), we discovered that there are a handful of `LegacyAppeal`s in VACOLS location 99 (closed) with closed `RootTask`s, but still have open `HearingTask`s. Consider the following example:

[code]

It appears that the appeal should not have any open tasks and yet it does (for related chatter, s

[2019-11-12 15:40] lowellrex commented on #10630
Closed a re-opened `RootTask` and `TrackVeteranTask` previously missed:

[code]

And created a ticket to address active `HearingTask`s related to re-opened `RootTask`s: #12678.

[2019-11-12 15:41] lowellrex commented on #12274
Closed a re-opened `RootTask` and `TrackVeteranTask` previously missed:

[code]

And created a ticket to address active `HearingTask`s related to re-opened `RootTask`s: #12678.

[2019-11-12 16:20] #12348 closed

[2019-11-12 16:42] lomky commented on #12421
Run in production. Log of the run can be found [on slack](https://dsva.slack.com/archives/CJL810329/p1573574528009800)

Todo:
 - [ ] File ticket for investigation & cleanup for empty judge teams
 - [ ] Update epic with warning of existing double-admin teams

[2019-11-12 16:46] lomky opened #12680 "Inactive JudgeTeams"
Right now there are ~25 JudgeTeams with no members. We should implement a way to show these teams are inactive, and when querying JudgeTeams in the app, only request active teams.

# AC
 - [x] The codebase recognizes Inactive JudgeTeams
 - [x] Code requesting lists of JudgeTeams only receives active teams
 - [ ] Existing empty JudgeTeams in prod are fixed
 - [x] File follow on ticket to hook up In

[2019-11-12 16:47] lomky commented on #12680
Fell out from #12421, see output from the run [on slack](https://dsva.slack.com/archives/CJL810329/p1573574528009800)

[2019-11-12 16:50] lomaxap commented on #12389
is there a particular format we need to deliver these metrics to OIT in? And how do they expect to access these reports?

[2019-11-12 16:52] lomky commented on #12422
:red_circle: WARNING: There exist _two_ judgeteams in prod now with multiple Admins. Implementing the code will likely remove capabilities (if any exist?) from those two teams for the non-judge admin.

@jimruggiero some guidance moving forward here is needed. It looks like these two teams added extra admins to their Judge teams, which we do not have documented behavior for as of today. We may need

[2019-11-12 16:58] alisan16 commented on #12389
Initially we'll follow the same delivery format as monthly reports, which is simply via email. Fred and I will coordinate delivery of the metrics to OIT, and it consists of an email with basic metrics and an excel spreadsheet attachment with a deeper dive.

In terms of what format we should deliver the metrics in - we have the flexibility to define it. Example output for the monthly appeals establ

[2019-11-12 17:47] lomaxap opened #12681 "Investigate How to Handle Appeal Merging in Caseflow"
On occasion, a veteran will have a duplicate appeal in VACOLS and/or Caseflow. This often causes conflicts where the user needs to consolidate tasks between appeals and keep track of which appeal is stale and which is current

A few issues that arose as a result of merged appeals:
https://dsva.slack.com/archives/C42P25D6H/p1556804167161700
https://dsva.slack.com/archives/CHX8FMP28/p157357044622460

[2019-11-12 18:05] D-L-Ware commented on #12681
Response for more background on merges (I am happy to talk about this in person or on a call if anyone is interested):

The most common reason for a merge to be need is when there are two separate legacy appeals for the same Veteran that arrive at the Board in close proximity.

Example:
Vet applies for benefits and receives a Rating Decision in July 2015 denying Service Connection for right knee a

[2019-11-12 18:11] D-L-Ware commented on #12681
Also worth mentioning, before anyone gets any ideas about automation, there is more to merging an appeal that simply having two different appeals for the same veteran before the Board at the same time.  Jurisdiction issues such as if one appeal was from VBA and the other from VHA would mean merging is unnecessary.

[2019-11-12 18:44] leikkisa opened #12683 "Look at jobs page architecture"
## Description
The jobs page fetches all jobs at `/jobs` which seems to be an alias for `/asyncable_jobs`
specific job class indexes are found at `/asyncable_jobs/:JobClassName/jobs`,
and a specific job "show" at `/asyncable_jobs/:JobClassName/jobs/:id`

These are all handled through the asyncable jobs controller.  This is a discussion/investigation ticket to see if we should consider following a

[2019-11-12 19:37] pshahVA opened #12685 "Use asyncable concern for virtual hearings"
## Description

## Background/context/resources

Virtual hearings reaches out to external job to
1.) Send emails
2.) Connect the Virtual hearings solution (pexip)
The caseflow team has developed   [asyncable concern](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/concerns/asyncable.rb) to allow external dependencies that are not reliable to be retried over an ext

[2019-11-12 19:39] pkarman commented on #12683
Splitting into 2 separate controllers with a controller concern for shared code is fine too.

[2019-11-12 19:46] pshahVA commented on #12685
@ferristseng @lomaxap I created a stub tech ticket, please modify as needed.

[2019-11-12 20:02] lomky opened #12686 "Migrate Looker Alert - Pending Decision Documents not uploaded to VBMS"
This alert shows up Appeals with Pending Decisions not yet uploaded to VBMS.

We determine this in Looker now by finding Decision Documents with `nil` Processed Date and Submitted Date of 2 or more days ago.

Possibly helpful references of other reports we've migrated:
example SQL: #12065
https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/jobs/data_integrity_checks_job.rb

[2019-11-12 20:15] leikkisa opened #12688 "Remove legacy issue fields from request issue table"
### User or job story
As a user I need to be able to connect multiple legacy issues to a request issue.

At this point, a new table to store legacy issue opt in data has been created and is being used instead of the request issue table. The fields in the request issue table should be ignored.  This step is to remove the obsolete columns.

### Acceptance criteria
- Delete vacols_id and vacols_seque

[2019-11-12 20:18] leikkisa opened #12689 "Send users a message when their asyncable job hasn't succeeded after 24 hours"
## User or job story
As a user, I'd like to know when a job that I submitted hasn't succeeded after 24 hours, and why it hasn't succeeded. This will let me know if I should contact support.

## Acceptance criteria
- [ ] When a job has been re-tried more than 24 hours after it has been submitted, and it still fails, send a message to the users inbox (see copy below)
- [ ] In order to prevent duplic

[2019-11-12 21:30] laurjpeterson commented on #11801
@lomky q for you about the above:

Does "Reassign to another judge" include reassigning JudgeDecisionReviewTasks to other judges? Or just JudgeAssignTasks?

[2019-11-12 21:32] laurjpeterson commented on #11801
Another quick q to think about (and I realize it might be late). There are ~100 judges. If all 4 DVCs want the ability to act on behalf of all 100 judges, how might we assign them to be admins of all 100 judges in bulk instead of one by one?

[2019-11-12 21:55] laurjpeterson commented on #5385
Closing this ticket because it's over a year old.

Acting judges _can_ complete all their work for AMA cases. They're still working on legacy cases in VACOLS.

[2019-11-12 21:55] #5385 closed

[2019-11-12 23:01] ferristseng commented on #12685
Looking into how we can use the `AsyncableConcern`

[2019-11-12 23:07] leikkisa opened #12691 "Fix action permissions for MTV tasks"
## User or job story
As a user processing an MTV task, I should not be able to take action on another user's task, or a task that I don't have permissions to act on.

Screenshot of a user being able to act on both a judge task and an attorney task
![Screen Shot 2019-11-08 at 4.19.24 PM.png](https://images.zenhubusercontent.com/58f6b6eb51aa2c30577bb60e/fe66dc32-b27e-4d3c-87c5-ab487e21c5ce)

## Acce

[2019-11-12 23:12] leikkisa opened #12692 "Foxtrot team planning"
This is an epic to track Foxtrot's sprint goals on various lines of effort.

[Foxtrot's tickets in ZenHub](https://app.zenhub.com/workspaces/caseflow-5915dd178f67e20b5553ba0c/board?labels=foxtrot&repos=51449239,40141397,52119791,50130088,68742817,130378872,79498890&showPipelineDescriptions=false)

#### Emojis!
✅- Did it!
Please update points completed when adding a checkmark

↪️- Tickets carried o

[2019-11-12 23:18] leikkisa commented on #12692
# Sprint 11/18 - 11/29
Engineering capacity: 58%

## Asyncable jobs

## Missing ratings

## Multiple legacy opt in issues

## Motions to vacate
1. [Fix action permissions for MTV tasks](https://github.com/department-of-veterans-affairs/caseflow/issues/12691)

[2019-11-12 23:33] leikkisa commented on #12692
# Sprint 11/18 - 11/29
Engineering capacity: 58%

[2019-11-12 23:41] leikkisa commented on #12692
# Sprint 11/18 - 11/29
Engineering capacity: 58%

## Sprint work

## Other work

[2019-11-12 23:52] jcq commented on #12517
@jimruggiero @leikkisa @rutvigupta-design
Just to confirm, are we changing the instruction text just for denied/dismissed dispositions? Does the copy noted above for instructions completely replace the existing copy that we already had (see below)?

**Example:**
[code]
(Note that the "Here's why I made my decision..." bit references instructions the judge actually entered into the textarea field)

[2019-11-12 23:56] leikkisa opened #12693 "Multiple Legacy Issues | UI support for multiple legacy opt-ins per request issue"
## User or job story
User story: As an intake user, I'd like to be able to connect multiple legacy issues to a request issue

## Acceptance criteria
- [ ] The legacy opt-in issues modal should show checkboxes instead of radio buttons
- [ ] The front end should send data to the backend that supports multiple legacy issues (such as a JSON object, or an array of vacols_ids and vacols_sequence_ids whe

[2019-11-13 00:27] leikkisa opened #12694 "Allow unidentified issues to be connected to legacy issues"
## User or job story
As an intake user, when I add an unidentified request issue, I should be able to connect legacy issues to it for opt-in.

## Acceptance criteria
- [ ] Please put this work behind the feature toggle: verify_unidentified_issue
- [ ] When adding an unidentified issue, trigger the legacy opt-in modal after the user adds an unidentified issue
- [ ] This should happen in the same or

[2019-11-13 00:38] lowellrex commented on #12274
A [handful of tasks](https://caseflow-looker.va.gov/sql/hbbxrcvfbxkrhx) were incorrectly routed to Board teams when they should have raised ["Appeal is not active at the Board."](https://github.com/department-of-veterans-affairs/caseflow/blob/639a10bba1c0c4c70bedff37c04a8744dcf467aa/lib/caseflow/error.rb#L191) errors.

`MailTask`s have always been created [as the children of `RootTask`s](https://g

[2019-11-13 15:20] #12265 closed

[2019-11-13 15:22] pshahVA commented on #12265
addressed in #12263

[2019-11-13 15:24] alisan16 commented on #12643
Is there a reason why we need a separate ETL for the Data Lake? I was under the assumption that initially, we would just extend the existing Redshift mirroring process to also export the CSVs/load into the Data Lake.

Taking a stab at the open questions:

- What data goes into the data lake?
  Based on the early conversations and timeline (targeting Feb 2020), initially we should start with the ex

[2019-11-13 15:47] lowellrex commented on #12274
There are now [fewer than 20 re-opened `RootTask`s](https://caseflow-looker.va.gov/sql/msnpwyngkhfbjb). These fall into two main categories:

* `MailTask`s that were incorrectly routed to Board teams when they should have been sent to ROs. We are waiting to hear back from @jimruggiero before closing these errantly opened tasks are closed (https://dsva.slack.com/archives/CJL810329/p1573655233027400

[2019-11-13 15:55] lomky commented on #11801
All Judge*Tasks!

We could do this in bulk for the existing teams. Then it would be up to the org to do it moving forward with new JudgeTeams. We could look at doing additional work maybe around automatically adding certain users as admins to newly created JudgeTeams, but that's out of scope of this work.

[2019-11-13 17:27] pkarman commented on #12643
@alisan16 good questions. I'm going to scope this Epic down to just the Data Warehouse and address the Data Lake as a different set of work.

[2019-11-13 17:38] pkarman opened #12697 "Data Lake"
## Background/context

Caseflow must provide its data to the BVA Data Warehouse (live on demand storage) and Data Lake (persistent long term snapshot storage).

The BVA data lake is an S3 bucket where Caseflow needs to deposit CSV files of raw db data.

See [Data Warehouse Epic](https://github.com/department-of-veterans-affairs/caseflow/issues/12643)

## Goals

Raw db deposits should reflect point

[2019-11-13 17:40] pkarman commented on #12697
Infra ticket: https://github.com/department-of-veterans-affairs/appeals-deployment/issues/2316

[2019-11-13 17:57] hschallhorn commented on #12492
Did we determine this would be front end or back end or both? I remember discussing it in estimation, but it looks like that did not make it into the ticket

[2019-11-13 18:06] lomky commented on #12129
@jimruggiero this ticket could use some help from Product! See @hschallhorn comment above.

[2019-11-13 18:34] lowellrex commented on #12492
Definitely on the back-end. Also on the front-end if we're going for extra credit.

[2019-11-13 18:42] laurjpeterson commented on #12515
@carodew FYI, this content ticket exists!

[2019-11-13 19:11] laurjpeterson commented on #11118
I think I'm going to move this back to `Define` pipeline, because I think there's more problem definition work to determine whether there needs to be any specific functionality for Supervisory Senior Counsel. Plus, after we make progress on #11801, we may find that this is not necessary.

[2019-11-13 19:35] SusanRKagan opened #12700 "BSE 66302: Ability to Create Supplemental Claim in Caseflow for Difference of Opinion Returns"
As a Caseflow user, I need the system to automatically create an EP040 whenever a user in VBMS returns a rating or non-rating claim based on Difference of Opinion, so that I can ensure that the claim being returned is not lost.

## Acceptance criteria
• Caseflow supports the auto-creation and establishment of an EP040/930 whenever an EP030/930 is closed out as "Difference of Opinion" in VBMS.
• Th

[2019-11-13 19:36] yoomlam commented on #12665
If deeper analysis is desired, try examining changes to the location code in VACOLS mentioned in https://dsva.slack.com/archives/C3EAF3Q15/p1573667863033800:
[code]
Example location history:
[code]

[2019-11-13 19:43] #12421 closed

[2019-11-13 20:54] pkarman commented on #2917
It is being actively used. Kibana shows log calls as recently as this week.

[2019-11-13 22:02] pkarman commented on #10516
- [ ] https://app.circleci.com/jobs/github/department-of-veterans-affairs/caseflow/92731

[code]

[2019-11-13 22:04] edmangimelli opened #12705 "accept contact info for a veteran when intaking a HLR (v3 api)"
## Description

[Form 20-0996](https://www.va.gov/decision-reviews/forms/higher-level-review-20-0996.pdf) has a section for updating a veteran's contact info. Currently, our only decision review creation endpoint, _create a higher_level_review_, does not support this.

[2019-11-13 22:25] #12624 closed

[2019-11-13 22:25] jcq commented on #12518
## Updated Workflow
![cf-12518-workflow](https://user-images.githubusercontent.com/2581274/68809741-6405a380-0621-11ea-8e8c-b0ee8f1ea53b.gif)

[2019-11-13 22:45] #12102 closed

[2019-11-13 23:22] yoomlam commented on #11713
PR #12190 is an attempt to address this ticket.  Add other case scenarios to the `RedistributedCase.ok_to_redistribute?` method in order to have such appeals automatically redistributed.

[2019-11-13 23:42] pkarman commented on #12705
this is going to be tricky. Currently Caseflow does not support writing to BGS, so there is no place for us to store this contact info. If CAs are currently updating CorpDB manually as part of intake, that is not happening via Caseflow.

[2019-11-14 00:11] jcq opened #12708 "Rewrite Webpack Config"
## Description
After we've completed the minimal Webpack 4 upgrade, we should rewrite our Webpack configs.

We can utilize the `devServer` key on normal Webpack config, then change our launch script to simply call `webpack-dev-server`. ([docs](https://webpack.js.org/guides/development/#using-webpack-dev-server))

[2019-11-14 14:13] D-L-Ware commented on #12643
My thoughts on open questions
* I assume the tables in Redshift but leave it to engineers to articulate a better alternative is there is one.
* I think it makes sense to start with daily for both, however, the Board, long term, will likely want to support some reports being able to be updated more frequently.  Nevertheless, given how much they just want reporting I believe we can get away with dai

[2019-11-14 14:50] lomky commented on #12665
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Putting at a 5. We feel like this is the minimal worthwhile timebox. Debating splitting this up into smaller workable chunks?

[2019-11-14 14:56] lomky commented on #12423
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Estimate at a 3. Likely need to do some work around finding the judge (judge assign is based on the judge id), and making sure to update the page appropriately

[2019-11-14 15:03] lomky commented on #12424
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Possibly implemented throught JudgeTeam functions. The logging as actual users should already work, just the assign by will need overridden. Consider breaking it into distinct PRs for the various AC.

Estimating at a 3. Possibly a 2 as it could be pretty straightforward. Repalce judge with admi

[2019-11-14 15:09] lomky commented on #12433
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Estimating at a 3. Possibly a 2 as its largely making a front end update to match the back end. Possibly a 5 as it cleaves off a whole new page, and we need new controllers. A lot of code, straightforward, but a lot. This particular component doesn't currently care about what organization it is

[2019-11-14 15:16] lomky commented on #12666
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

Parallel to #12665.

How many state transitions are there? Each new task creation, possibly also status transitions? Estimate 15-30 state transitions.

Estimating at a 3. Might be a 5 based on uncertainty on how to do step 3. Step 3 could be accomplished by translate the JSON(?) structure to a

[2019-11-14 15:26] lomky commented on #12680
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

What's the downside to keeping these? Nothing other than cruft. Maybe we want to keep this, as we just never wanna delete anything. Maybe we do an inactive flag instead.Valuable to mark these different somehow.

Reworking this ticket to be discovery & implementation of marking JudgeTeams that a

[2019-11-14 15:28] hschallhorn commented on #12680
#11810 for reference on adding active status to user

[2019-11-14 15:31] lomky commented on #12617
_[What is this graph?](https://github.com/department-of-veterans-affairs/caseflow/issues/11533)_
[code]

The way we cancel AMA appeals with the ActiveRecord update_all, which skips callbacks. Papertrail uses these callbacks. Do we need only some callbacks, or was this being overly defensive? Unsure, but the update_all was intentional originally.

Can we explicitly save a version in papertrail? We

[2019-11-14 15:36] hschallhorn commented on #12617
Where [`update_all` is called](https://github.com/department-of-veterans-affairs/caseflow/blob/4f7193226d94b01ea3ba1f2cff61998c4c172b60/app/models/task.rb#L512)

[2019-11-14 16:36] yoomlam commented on #12514
Hunter and Kat recommend Approach 2 and following the pattern used by `hide_from_task_snapshot`.

[2019-11-14 16:50] pkarman opened #12709 "Visualize Appeal Task tree"
## User story
As a BVA Tableau user, I would like to see a visualization of the Task tree for any Appeal.

## Acceptance criteria
- [x] Please put this work behind the feature toggle: `:appeal_viz`
- [x] This feature should be accessible to the same users who can view the Appeal
- [x] Include screenshot(s) in the Github issue if there are front-end changes

### Designs
![appeal-task-tree-viz](http

[2019-11-14 16:56] pkarman opened #12710 "Evaluate fast_jsonapi"
The existing Netflix gem [appears to be abandoned](https://github.com/Netflix/fast_jsonapi/issues/433) and a [new fork](https://github.com/fast-jsonapi/fast_jsonapi/issues/1) has sprung up.

We should monitor this new fork and consider switching.

[2019-11-14 17:13] jcq commented on #12517
After a chat w/ @rutvigupta-design, we decided to keep the instruction text as it currently is for denied/dismissed. It's possible that there will be some changes to the default instructions for grant-type dispositions, but those will be handled in a future ticket.

As a result, this ticket is likely moot/invalid, as the remaining functionality should already exist.

[2019-11-14 17:15] #12334 closed

[2019-11-14 17:25] pkarman opened #12711 "Request Issue reporting"
## Description
In order to know whether #11840 solutions are improving the rate of unidentified issues (by decreasing them), we need a week-by-week breakdown of request issues by type: rating, nonrating and unidentified.

We are looking for trends that we can corollate to the various changes we have made over the last 3 months.

[2019-11-14 17:46] pshahVA opened #12712 "Premal Sprint Planning"

[2019-11-14 17:47] pshahVA commented on #12712
Complete:
Integrate Virtual Hearing Modal with Controller#12334 1
Add POA email address to hearings details#12102 1
Add Virtual Hearing Type to Column on Hearing Schedule List#12348 1
Clean virtual hearings room after hearing is finished#12188 3
Document Hearing Day#12623 3
VirtualHearingConferenceJob#12331 5
Add Virtual Hearing Type to Daily Docket Print#12349 1

In Progress:
Add VirtualHearingJo

[2019-11-14 17:54] lowellrex opened #12713 "Task model frustrations"
### Goals
This ticket exists to collect frustrations we experience as developers with the Task model. The goal of this ticket is to discover common themes in our daily frustrations so that we can understand what they are and how we might best address them (better documentation, code/database changes, re-naming, improved tooling, perhaps even doing nothing at all).

### Non-goals
This ticket will n

[2019-11-14 17:54] lowellrex commented on #12713
### Difficult to describe which actions are available at a task at a glance
We are often asked by teams at the Board, newcomers to the team, and designers which actions are available for a task in a given state. In order to answer this question we must either find a task in this state and ask it directly (`task.available_actions(user)`) or climb through the code, being mindful of method inheritanc

[2019-11-14 17:55] lowellrex commented on #12713
### Hard to determine why a task's state changed
With the introduction of [Task `versions`](https://github.com/department-of-veterans-affairs/caseflow/pull/12192) it is easier than ever to see *what* happened to a given task. However, I find it difficult to understand *why* that change happened by looking at the task tree, appeal state, or digging through the code. Tasks are updated in a ton of di

[2019-11-14 18:03] lomky commented on #12713
### Differing Usages Across Teams / Code Pieces

Tasks in Queue, Hearings or Intake have slightly different behaviors

  - Intake tasks don't stem off of root task
  - Org/Child Tasks or not
  - when do we create anew off of Root Task vs create a holding parent task (i.e. HearingTask)

[2019-11-14 18:03] pkarman commented on #12711
[code]

[2019-11-14 18:05] leikkisa commented on #12124
@leikkisa look for screenshot

[2019-11-14 18:07] leikkisa commented on #9279
We are waiting to see this in action before picking it up

[2019-11-14 18:23] lowellrex commented on #12713
### Expect task tree to reveal state of appeal
We rely on the state of the task tree to [determine the status of AMA `Appeal`s](https://github.com/department-of-veterans-affairs/caseflow/blob/3a3e085234ec6e18f063b4c393cc69faa7438643/app/services/bva_appeal_status.rb#L75). These are really two distinct pieces of information (the status of the appeal, and the state of the appeal's task tree) but we

[2019-11-14 18:28] hschallhorn commented on #12713
### Confusion between the many ways to create a task
Certain tasks rely on `create_many_from_params` or `create_from_params` to ensure they are in the correct state after creation, but developers that do not know this may simply use `ActiveRecord#create`

[2019-11-14 18:48] lowellrex commented on #12713
### Difficult to learn
We have a lot of custom behaviour tied to each task class, increasing the volume of information needed to be learned before feeling comfortable with Tasks more generally. One aspiration of [the initial generic Task effort](https://github.com/department-of-veterans-affairs/caseflow/issues/6573) was to create a framework for quickly and easily creating new task types for diffe

[2019-11-14 19:00] #12705 closed

[2019-11-14 19:30] #12336 closed

[2019-11-14 20:38] pshahVA opened #12716 "Virtual Hearings should not require judge email on the backend"
## Description
For this initial MVP, do not require the judge email as part of scheduling a virtual hearing.

## Background/context/resources
The judge will be able to see the virtual hearing link on their docket, so the email isn't required.

## Technical notes

[2019-11-14 20:55] #12486 closed

[2019-11-14 21:08] lomky commented on #12216
Go ahead and enable for all organizations, while we're at it!

[2019-11-14 21:12] jcq commented on #8253
Closing in favor of duplicate #12704

[2019-11-14 21:12] #8253 closed

[2019-11-14 21:12] jcq commented on #8531
Closing in favor of #12704, which will include this dependency bump

[2019-11-14 21:12] #8531 closed

[2019-11-14 21:19] ferristseng commented on #10521
@pkarman Does the documentation that Lauren wrote up cover this? (https://github.com/department-of-veterans-affairs/caseflow/wiki/User-access-permissions-in-Caseflow)

[2019-11-14 21:21] ferristseng commented on #9943
Related: https://github.com/department-of-veterans-affairs/caseflow/issues/12634

[2019-11-14 21:24] yoomlam commented on #12514
Should https://github.com/department-of-veterans-affairs/caseflow/blob/a2866f15b051296d78e3105d6eb084e0a41b6a51/app/models/appeal.rb#L694 be using `:updated_at` like https://github.com/department-of-veterans-affairs/caseflow/blob/a2866f15b051296d78e3105d6eb084e0a41b6a51/app/models/task.rb#L141?

[2019-11-14 21:27] laurjpeterson commented on #10032
@jimruggiero FYI, this is really good refactoring and tech debt work for echo to close out as they have time when other priority initiatives are blocked. We currently have 4 types of individual queues (judge, attorney, vlj support, and individual), which is confusing!

[2019-11-14 21:36] laurjpeterson commented on #11776
@leikkisa - I think this ticket can be closed because the evidence window submission task timer already starts on the NOD receipt date. See #7916, and lowell's comment stating that the work was completed with https://github.com/department-of-veterans-affairs/caseflow/issues/9340

[2019-11-14 21:43] ferristseng opened #12717 "Add additional status information to Asyncable"
## Description

For virtual hearings, it would nice to be able to see a high-level description of the status of the job. Since there are 2 steps to the `create_conference_job` (creating the conference in Pexip and sending the emails), it would be useful to know which steps have failed and which have succeeded. This information could be exposed through a `asyncable_description` method or maybe even

[2019-11-14 21:51] pkarman commented on #10521
yup!

[2019-11-14 21:51] #10521 closed

[2019-11-14 22:03] erluti opened #12719 "APIv3 - Specs do not align with show response"
## Description
HigherLevelReview#show is returning lower case types in the included section of the response.  Also part of the response is not included in the spec.

## Background/context/resources
Discussion took place in DSVA slack here https://dsva.slack.com/archives/CKUCFQAHJ/p1573513535008500

[2019-11-14 22:05] #12685 closed

[2019-11-14 22:11] yoomlam commented on #12514
Do we have a Ruby method or understanding of what an 'actionable' task is? Possibly `Task.actions_available?(user)`.
Do we want to assess 'actionable' task with respect to all possible users? I.e., just because the current user has no available actions doesn't mean another user doesn't have actions, hence making the task actionable by some user.

For this ticket, considering the AC, I'll define ac

[2019-11-14 22:13] yoomlam commented on #12514
Yes. https://dsva.slack.com/archives/CJL810329/p1573766754082900

[2019-11-14 22:34] edmangimelli opened #12723 "accept informal conference rep and time slots preference when intaking a HLR (v3 api)"
[Form 20-0996](https://www.va.gov/decision-reviews/forms/higher-level-review-20-0996.pdf) has a section for specifying preferred contact times and a preferred representative for informal conference. Currently, our only decision review creation endpoint, _create a higher_level_review_, does not support this.

[2019-11-14 22:49] leikkisa opened #12724 "Investigation | Fix scopes for "rating" in request issues"
## Description
This is a ticket to fix the rating and nonrating scopes in Request Issue.  More investigation is required, and there are probably different approaches that could be used. They may involve adding at type to the request issue table, or other architectural changes.

This could start off with investigation and a tech spec.

## Background/context/resources

The rating and nonrating scope

[2019-11-14 22:55] #12723 closed

[2019-11-15 00:42] lowellrex opened #12725 "Clean both databases between every test"
During [engineering huddle last week](https://github.com/department-of-veterans-affairs/caseflow/issues/10569#issuecomment-547026308), the team decided to explore rolling back the change to selectively clean the test databases (introduced in #11470) because we believe the selective cleaning has introduced additional "flaky" tests and not reduced the runtime of our rspec test suite in Circle CI.

#

[2019-11-15 00:53] lowellrex commented on #12725
In order to determine whether these changes will have an effect on the running time of our rspec tests in Circle CI we need to collect some benchmarks. We collected the benchmarks by visiting the public webpage that listed the results of our `master` branch builds: https://circleci.com/gh/department-of-veterans-affairs/caseflow/tree/master?page=0. We ran the following script in the browser's Javas

[2019-11-15 01:13] yoomlam commented on #12514
Appeals check that tasks are `visible_in_queue_table_view`:
https://github.com/department-of-veterans-affairs/caseflow/blob/a2866f15b051296d78e3105d6eb084e0a41b6a51/app/models/appeal.rb#L83
whereas LegacyAppeals don't:
https://github.com/department-of-veterans-affairs/caseflow/blob/20ae9aa3ea0cb77a10b7608db2f481c5dc6aa224/app/models/legacy_appeal.rb#L734

Do we want both to have the same behavior?

[2019-11-15 13:57] yoomlam commented on #12514
Hunter says we want `visible_in_queue_table_view` for both appeal types. https://dsva.slack.com/archives/CJL810329/p1573825920099100?thread_ts=1573766754.082900&cid=CJL810329

[2019-11-15 14:10] #12719 closed

[2019-11-15 14:55] #12711 closed

[2019-11-15 16:27] ferristseng opened #12728 "Research if Code Climate or another tool can detect unused code"
## Description

Research to see if Code Climate can detect unused code. We shouldn't spend time maintaining unused code.

See: https://dsva.slack.com/archives/C3EAF3Q15/p1573834819075800

## Background/context/resources

Found an unused class, that might be able to be removed

[2019-11-15 16:56] lowellrex commented on #12725
Gathered data for the month before and after the changes in #11470 went live on 30 July 2019 (https://docs.google.com/spreadsheets/d/1ORnvebEnhbAPLfgA8XUYWPKALUdjGcVLu_Dpg3TWLgM/edit#gid=1433492087).

![image](https://user-images.githubusercontent.com/32683958/68960706-b4eed680-079e-11ea-91c1-37bd2c7c1fd4.png)
_Rolling 5 iteration average of successful rspec build between 1 July and 31 August._

[2019-11-15 17:04] #12492 closed

[2019-11-15 17:07] #12490 closed

[2019-11-15 19:10] #12537 closed

[2019-11-15 21:51] ajspotts commented on #12119
Resolved with issue [#1130](https://github.com/department-of-veterans-affairs/caseflow-efolder/pull/1130)

[2019-11-15 21:51] #12119 closed

[2019-11-15 22:08] erluti opened #12731 "APIv3 - Create spec for /legacy_appeal_issues"
Describe the request and response for getting a list of issues to associate with a ContestableIssue when creating a decision review.
## Description
LegacyAppealIssues should be added to ContestableIssues on the creation of a decision review, so this endpoint needs to be specified for documentation and design.

[2019-11-16 07:28] edmangimelli opened #12733 "forgo RequestIssues abstraction - v3 api"
After discussing the importance of the shape of RequestIssues with @leikkisa, @erluti and I, after more discussion, decided that a RequestIssue is _not_ a useful abstraction for our API consumers. This abstraction, however well-suited it may be for storing data on what is being contested on a decision review, seems to us to be unintuitive and unnecessary for an API consumer. Our proposal is instea

[2019-11-18 15:36] #12581 closed

[2019-11-18 16:09] hschallhorn commented on #7556
## [Gettysburg Address](https://en.wikipedia.org/wiki/Gettysburg_Address) Sprint  (Nov 18 - Nov 29) engineering priorities
@hschallhorn @lomky @lowellrex @yoomlam @ajspotts @jimruggiero sprint priorities for this sprint!
### Special Case Movement
1. Update Code using JudgeTeam Admin to Determine Judge / Attorney #12422
### Accessibility
1. Table sort functionality not accessible to keyboard-only o

[2019-11-18 16:23] lowellrex commented on #12725
The failure rate of rspec builds on CircleCI was 27% for the month before the change took place on held steady at 27% for the month after the change.

[2019-11-18 17:50] leikkisa opened #12736 "Foxtrot - codebase frustrations"
## Description
This ticket is a place for the Foxtrot team to note frustrations in the code.  These frustrations can create stop energy, and may also reveal some tech debt.  This will help us get a better sense of areas of technical improvement that we can focus on to improve our experience with coding.

We will collect some issues here before deciding on how to proceed with prioritizing and tackl

[2019-11-18 17:57] lowellrex commented on #12274
Closing this ticket since all categories of re-opened appeals have been corrected or accounted for in follow-up tickets.

[2019-11-18 17:57] #12274 closed

[2019-11-18 18:28] #12284 closed

[2019-11-18 18:28] #12587 closed

[2019-11-18 18:28] #12517 closed

[2019-11-18 18:28] #12381 closed

[2019-11-18 18:28] #12518 closed

[2019-11-18 18:28] #12447 closed

[2019-11-18 18:28] #12640 closed

[2019-11-18 18:28] #12525 closed

[2019-11-18 18:28] #12520 closed

[2019-11-18 18:28] #12137 closed

[2019-11-18 18:28] #12580 closed

[2019-11-18 18:28] #12412 closed

[2019-11-18 18:37] jcq opened #12738 "Fix Redux Behavior w/ HMR"
## Description
While we have hot module replacement working for React components, we end up missing out on the true benefits due to losing Redux state on hot reloads.

## Resources
- [Redux docs](https://redux.js.org/recipes/configuring-your-store/#hot-reloading)
- [react-hot-loader docs](https://github.com/gaearon/react-hot-loader)

## Acceptance Criteria
- [ ] We maintain Redux state through hot

[2019-11-18 18:58] alisan16 commented on #12124
This task refers to the Switch Product button in the header and what html element it's being implemented with.

<img width="1339" alt="Screen Shot 2019-11-18 at 1 57 13 PM" src="https://user-images.githubusercontent.com/1198106/69081147-61cd8b80-0a0b-11ea-9198-8223ecfa49c5.png">

[2019-11-18 19:41] leikkisa commented on #12692
# Sprint 12/2 - 12/13
Engineering capacity: 100%
Asyncable job duty: Sally (12/2), JC (11/25)

## Sprint status
:arrow_right_hook: Carryover:
:arrow_right_hook: ✅Carryover completed:

⭐️ Points pulled in for this sprint:
⭐️✅Points from this sprint completed:

👾Space invaders pulled in:
👾✅Space invaders completed:

Total points completed:
Not started and in-progress estimate:

## Sprint activities

[2019-11-18 20:40] #12622 closed

[2019-11-18 20:49] pshahVA commented on #10446
@nicholer, I think we can close this, what do you think?

[2019-11-18 20:54] pshahVA commented on #9585
We removed this vacols integration.

[2019-11-18 20:54] #9585 closed

[2019-11-18 21:07] pshahVA commented on #10589
No longer an integration with VACOLS.

[2019-11-18 21:07] #10589 closed

[2019-11-18 21:08] pshahVA commented on #10820
@lomaxap, with regards to recent bat team work, do you think this is still relevant?

[2019-11-18 21:09] pshahVA commented on #11882
no longer necessary due to pagination being implemented on this page.

[2019-11-18 21:09] #11882 closed

[2019-11-18 21:18] leikkisa commented on #12386
Linking a Slack thread with a prod example of this:
https://dsva.slack.com/archives/CFBLH2LR4/p1573509618192600

[2019-11-18 21:21] leikkisa commented on #11907
The remaining work for this ticket has been broken out into the 3 tickets referenced above, so closing this version of the issue.

[2019-11-18 21:21] #11907 closed

[2019-11-18 21:33] pshahVA commented on #9781
Is this still blocked?

[2019-11-18 21:36] pshahVA commented on #10033
@lowellrex , do you have any context here?  It looks like it was about to be implemented, then removed from scope.

[2019-11-18 21:38] pshahVA commented on #10997
@lomaxap, isn't this no longer an issue with the pagination we implemented?

[2019-11-18 21:42] lowellrex commented on #10033
I think we're good to close this. Doing so now.

[2019-11-18 21:42] #10033 closed

[2019-11-18 23:23] leikkisa commented on #12700
We are waiting on the EP codes from VBMS before we can actually implement this.

One option is that we can start implementing this behind a feature toggle and "bogus" placeholder codes, so that when we do get the codes we can finish implementation quickly.

[2019-11-18 23:31] jimruggiero commented on #12700
@msj0nes This one just came in from VBA/AMO. We need to do a few things:

1.) Validate that the labels above match the latest from Michael Palmer last week on 11/13.
2.) Create two tickets to right-size the work for ENG
3.) Get EP claim label equivalents for these from VBMS

Ideally, we use this ticket for building the ability to add the EP codes. Then create a second ticket whose scope is establi

[2019-11-18 23:34] jimruggiero commented on #12700
@leikkisa We should hold off until we get codes from VBMS.

[2019-11-19 12:52] lomaxap commented on #12437
Interesting, relevant quirk of our authorization system: #8178

[2019-11-19 14:00] D-L-Ware commented on #12556
So the confusion comes from the fact that this metric is proposed to be changed from "Average time (days) to process an appeal" to "Adoption of Caseflow Reader for appeal decisions (percentage))"

The non-sequitur like description of the metric comes from the fact that the description has not been changed yet.

[2019-11-19 14:00] D-L-Ware commented on #12556
ooks like we probably have a little room to define how to measure Reader adoption.  Here is the change justification in case it helps "An outcome-oriented metric that is more directly connected to the value that Caseflow offers is in usage of Caseflow Reader by attorneys and Veterans Law Judges. Reader is designed for these users to help them more efficiently complete time-consuming tasks related

[2019-11-19 14:08] pshahVA commented on #10033
How did we end up solving this problem anyway?

[2019-11-19 14:19] D-L-Ware commented on #12556
It looks like this metrics number has been changed to 1909040940 with the number reference above referring to the metric before it was changed.

The goal is 98% adoption.

[2019-11-19 14:20] lowellrex commented on #10033
Mark implemented what he described in [this comment](https://github.com/department-of-veterans-affairs/caseflow/issues/10033#issuecomment-474079119) with [this code change](https://github.com/department-of-veterans-affairs/caseflow/pull/10019/files) and [an associated change](https://github.com/department-of-veterans-affairs/appeals-deployment/pull/2016/files) in the `appeals-deployment` to make i

[2019-11-19 14:45] alisan16 opened #12748 "Caseflow OIT Metrics"
## Background/context
We are required to deliver these 7 metrics to OIT on the scheduled reporting frequency. Metrics were approved in June 2019.

Metrics listed on this [VA Sharepoint site](https://dvagov.sharepoint.com/:x:/r/sites/epmoepmd/benefits/_layouts/15/guestaccess.aspx?e=sIhwv4&share=EUgfXGIOUjNDgl67Ni70fVcBr5qddsswVWjhnbI3kC9DCw)

Metric ID | 2. Metric Description | 3. Unit of Measure |

[2019-11-19 14:47] pshahVA opened #12749 "Disallow waiving the 90 submission evidence window waiver after a hearing"
## User or job story
The job that locks the hearing after it has completed needs to mark the "90 evidence submission window" as read only so that it cannot be changed by the hearings coordinator.  Currently this checkbox is editable, but the back end doesn't actually cancel the evidence submission window.

## Acceptance criteria
- [ ] When the hearing is locked, do not allow editing of the "waive

[2019-11-19 14:52] nicholer commented on #10446
@pshahVA Looking in demo, it seems most of these have been addressed except for

That alignment fix could be rolled into the changes we make to add the POA?

[2019-11-19 14:53] alisan16 commented on #12389
Closing to track in #12748 instead

[2019-11-19 14:53] #12389 closed

[2019-11-19 14:53] alisan16 commented on #12555
Closing to track in #12748 instead

[2019-11-19 14:53] #12555 closed

[2019-11-19 14:55] pshahVA commented on #12749
@nicholer, see the questions that may need to be researched.

[2019-11-19 14:56] carodew commented on #12126
Linsey sent me the specific WCAG criterion related to this issue: https://www.w3.org/TR/WCAG20-TECHS/F46.html

Reading this, I think we can consider this not a defect. I recommend we close this issue and if the Section 508 Office disagrees we can always reinvestigate.

[2019-11-19 14:57] carodew commented on #12096
The Section 508 office sent me the specific WCAG criterion related to this issue: https://www.w3.org/TR/WCAG20-TECHS/F46.html

Reading this, I think we can consider this not a defect. I recommend we close this issue and if the Section 508 Office disagrees we can always reinvestigate.

[2019-11-19 15:05] #10446 closed

[2019-11-19 15:05] yoomlam commented on #12096
I agree. There is no `th`, `summary`, or `caption` elements for the table in question.

[2019-11-19 15:47] D-L-Ware commented on #7874
Note there are policy implications here such that we likely would want to clear this functionality with Board leadership before developing.

[2019-11-19 15:48] ferristseng opened #12750 "Virtual Hearing Modal - Display validation error for email in form"
## Description

Update the virtual hearing modal to display any validation errors in the modal's form as opposed to on the hearing details page.

Currently, when there is a validation error, the virtual hearing modal closes, and the error is displayed on the hearing details page.

## Background/context/resources

Design: https://va-gov.invisionapp.com/share/8AUO95JMRW7#/screens/391731032

## Techn

[2019-11-19 18:35] #12347 closed

[2019-11-19 18:36] #12562 closed

[2019-11-19 20:43] carodew commented on #5268
@jimruggiero this seems appropriate to me to remove this line from the footer, if for nothing else than the VA.gov style guide does not contain this in the footer and it could be potentially confuse users (small risk of that to be fair, but not none). If nothing else there's a missing space in that line that if we left it, we should fix.

I don't think it needs design attention at this point, movi

[2019-11-19 20:49] carodew commented on #5445
@jimruggiero this is from 2018. I don't have context on this to know it's relative priority or if it's outdated. Suggest we move this to Icebox or New Issues until we have more clarification?

It doesn't, on it's face, appear too difficult from the design perspective but I'm not sure what designer or team we'd ask to do it.

[2019-11-19 20:59] carodew commented on #6146
This is what I see when I impersonate a judge and assign all my cases to my team – 

![image](https://user-images.githubusercontent.com/10144074/69185600-0f609d80-0ae5-11ea-9499-0075221302ed.png)

Since there's a request new cases button right there on the screen, I think the current version is perfectly cromulent. There are some relatively minor usability errors on the screen (assign 0 cases butt

[2019-11-19 23:33] lowellrex commented on #6146
Agreed @carodew ! Definitely cromulent. I'll close this ticket out.

[2019-11-19 23:33] #6146 closed

[2019-11-20 12:09] lomaxap opened #12759 "Virtual Hearing Confirmation Messages"
Create confirmation when a hearing is change to / from virtual.

- When changing to Virtual for the first time:
https://va-gov.invisionapp.com/share/8AUO95JMRW7#/screens/391731030
- When changing back to video / central from virtual:
https://va-gov.invisionapp.com/share/8AUO95JMRW7#/screens/391798749
- When updating 1 or 2 emails
https://va-gov.invisionapp.com/share/8AUO95JMRW7#/screens/391798214

[2019-11-20 12:13] lomaxap opened #12760 "Change virtual modal copy based on user action"
We've currently only implemented a virtual hearing modal where both email fields are editable (https://va-gov.invisionapp.com/share/8AUO95JMRW7#/screens/391731031). There are a few additional states for this modal

- When changing back to Video / Central hearing on hearing details
https://va-gov.invisionapp.com/share/8AUO95JMRW7#/screens/391798748
- When updating 1 or 2 emails on hearing details
h

[2019-11-20 12:34] lomaxap opened #12761 "Resend Emails When Hearing Time Changes"
We need to resend emails after the hearing time changes on the daily docket.
Once #12753 is merged, [check for `scheduled_time_string` changes in hearing updates](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/hearings/forms/base_hearing_update_form.rb#L38) when evaluating `email_sent_flag`.

### AC
- [ ] Emails are sent to veteran, representative and/or judge wh

[2019-11-20 13:05] #12716 closed

[2019-11-20 13:46] pkarman commented on #12510
Still needs:

[2019-11-20 14:10] lomaxap opened #12762 "Investigate Hearing Tasks with No Children"
OpenHearingTasksWithoutActiveDescendantsChecker
Found 3 open HearingTasks with no active descendant tasks.
The hearings may not progress without manual intervention.
HearingTask.where(id: [47055, 105364, 114033])

https://dsva.slack.com/archives/CN3FQR4A1/p1574244240001200

[2019-11-20 16:05] #12519 closed

[2019-11-20 16:21] pkarman commented on #12237
Adding Dangerfile warning about these tables if we keep them and need to modify them.

https://github.com/department-of-veterans-affairs/caseflow/pull/12764/files

[2019-11-20 17:35] lomaxap opened #12765 "Don't Allow User to Send Empty Form Data"
https://sentry.ds.va.gov/department-of-veterans-affairs/caseflow/issues/7446/

suspected scenario: user changes something then changes it back to original value. the “save” button is still there, but no new data will be sent to backend when user clicks save.

we need a better [way of determining if the save button should be shown](https://github.com/department-of-veterans-affairs/caseflow/blob/mas

[2019-11-20 20:01] pkarman commented on #12453
According to John Dell this is fixed and we should confirm.

[2019-11-20 20:06] alisan16 commented on #741
Closing this issue as it is now obsolete. Will re-open if the issue comes out again.

[2019-11-20 20:06] #741 closed

[2019-11-20 20:07] alisan16 commented on #1214
Closing this issue as it is now obsolete. Will re-open if the issue comes out again.

[2019-11-20 20:07] #1214 closed

[2019-11-20 20:07] alisan16 commented on #2149
Closing this issue as it is now obsolete. Will re-open if the issue comes out again.

[2019-11-20 20:07] #2149 closed

[2019-11-20 20:07] alisan16 commented on #2151
Closing this issue as it is now obsolete. Will re-open if the issue comes out again.

[2019-11-20 20:07] #2151 closed

[2019-11-20 20:08] alisan16 commented on #1845
Closing this issue as it is now obsolete. Will re-open if the issue comes out again.

[2019-11-20 20:08] #1845 closed

[2019-11-20 20:09] alisan16 commented on #2100
Closing this issue as it is now obsolete. Will re-open if the issue comes out again.

[2019-11-20 20:09] #2100 closed

[2019-11-20 20:09] alisan16 commented on #2443
Closing this issue as it is now obsolete. Will re-open if the issue comes out again.

[2019-11-20 20:09] #2443 closed

[2019-11-20 20:09] alisan16 commented on #2444
Closing this issue as it is now obsolete. Will re-open if the issue comes out again.

[2019-11-20 20:09] #2444 closed

[2019-11-20 20:10] alisan16 commented on #2467
Closing this issue as it is now obsolete. Will re-open if the issue comes out again.

[2019-11-20 20:10] #2467 closed

[2019-11-20 20:11] alisan16 commented on #2906
Closing this issue as it is now obsolete. Will re-open if the issue comes out again.

[2019-11-20 20:11] #2906 closed

[2019-11-20 20:11] alisan16 commented on #2488
Closing this issue as it is now obsolete. Will re-open if the issue comes out again.

[2019-11-20 20:11] #2488 closed

[2019-11-20 20:20] alisan16 commented on #1082
Closing as this is now obsolete.

[2019-11-20 20:20] #1082 closed

[2019-11-20 20:21] alisan16 commented on #2776
Closing as this is now obsolete.

[2019-11-20 20:21] #2776 closed

[2019-11-20 20:22] alisan16 commented on #3349
Closing as this is now obsolete.

[2019-11-20 20:22] #3349 closed

[2019-11-20 20:22] alisan16 commented on #3372
Closing as this is now obsolete.

[2019-11-20 20:22] #3372 closed

[2019-11-20 20:23] alisan16 commented on #3883
Closing as this is now obsolete.

[2019-11-20 20:23] #3883 closed

[2019-11-20 20:23] alisan16 commented on #3906
Closing as this is now obsolete.

[2019-11-20 20:23] #3906 closed

[2019-11-20 20:23] alisan16 commented on #3919
Closing as this is now obsolete.

[2019-11-20 20:23] #3919 closed

[2019-11-20 20:25] alisan16 commented on #3403
Closing as this is now obsolete.

[2019-11-20 20:25] #3403 closed

[2019-11-20 20:26] alisan16 commented on #4188
Closing as this is now obsolete.

[2019-11-20 20:26] #4188 closed

[2019-11-20 20:26] alisan16 commented on #4299
Closing as this is now obsolete.

[2019-11-20 20:26] #4299 closed

[2019-11-20 20:26] alisan16 commented on #4301
Closing as this is now obsolete.

[2019-11-20 20:26] #4301 closed

[2019-11-20 20:26] alisan16 commented on #4613
Closing as this is now obsolete.

[2019-11-20 20:26] #4613 closed

[2019-11-20 20:27] alisan16 commented on #4614
Closing as this is now obsolete.

[2019-11-20 20:27] #4614 closed

[2019-11-20 20:27] alisan16 commented on #4666
Closing as this is now obsolete.

[2019-11-20 20:27] #4666 closed

[2019-11-20 20:27] alisan16 commented on #4669
Closing as this is now obsolete.

[2019-11-20 20:27] #4669 closed

[2019-11-20 20:27] alisan16 commented on #4675
Closing as this is now obsolete.

[2019-11-20 20:27] #4675 closed

[2019-11-20 20:27] alisan16 commented on #4680
Closing as this is now obsolete.

[2019-11-20 20:27] #4680 closed

[2019-11-20 20:27] alisan16 commented on #4681
Closing as this is now obsolete.

[2019-11-20 20:27] #4681 closed

[2019-11-20 20:27] alisan16 commented on #4682
Closing as this is now obsolete.

[2019-11-20 20:27] #4682 closed

[2019-11-20 20:27] alisan16 commented on #4698
Closing as this is now obsolete.

[2019-11-20 20:27] #4698 closed

[2019-11-20 20:27] alisan16 commented on #4708
Closing as this is now obsolete.

[2019-11-20 20:27] #4708 closed

[2019-11-20 20:28] alisan16 commented on #4813
Closing as this is now obsolete.

[2019-11-20 20:28] #4813 closed

[2019-11-20 20:29] alisan16 commented on #5080
Closing as this is now obsolete.

[2019-11-20 20:29] #5080 closed

[2019-11-20 20:29] alisan16 commented on #5166
Closing as this is now obsolete.

[2019-11-20 20:29] #5166 closed

[2019-11-20 20:30] alisan16 commented on #5386
Closing as this is now obsolete.

[2019-11-20 20:30] #5386 closed

[2019-11-20 20:30] alisan16 commented on #5471
Closing as this is now obsolete.

[2019-11-20 20:30] #5471 closed

[2019-11-20 20:30] alisan16 commented on #5521
Closing as this is now obsolete.

[2019-11-20 20:30] #5521 closed

[2019-11-20 20:31] alisan16 commented on #5785
Closing as this is now obsolete.

[2019-11-20 20:31] #5785 closed

[2019-11-20 20:31] alisan16 commented on #5835
Closing as this is now obsolete.

[2019-11-20 20:31] #5835 closed

[2019-11-20 20:33] D-L-Ware commented on #4203
Closed as part of clean up of Reader tickets.

[2019-11-20 20:33] #4203 closed

[2019-11-20 20:33] D-L-Ware commented on #4134
Closed as part of clean up of Reader tickets.

[2019-11-20 20:33] #4134 closed

[2019-11-20 20:33] D-L-Ware commented on #3977
Closed as part of clean up of Reader tickets.

[2019-11-20 20:33] #3977 closed

[2019-11-20 20:34] D-L-Ware commented on #3898
Closed as part of clean up of Reader tickets.

[2019-11-20 20:39] #3898 closed

[2019-11-20 20:40] D-L-Ware commented on #3897
Closed as part of clean up of Reader tickets.

[2019-11-20 20:40] #3897 closed

[2019-11-20 20:42] D-L-Ware commented on #3841
Closed as part of clean up of Reader tickets.

[2019-11-20 20:42] #3841 closed

[2019-11-20 21:43] pshahVA opened #12768 "VEText timezone should be of the hearing location"
## User or job story
User story: As a Veteran, the text message should indicate the timezone of my hearing location, not my regional office.

Current text message for a Veteran that lives in MST, but the regional office is CST.  He was scheduled for an alternate regional office that is in MST.
Caseflow sent the following message:
You have an upcoming Board of Veterans' Appeals hearing with a Veter

[2019-11-21 13:06] D-L-Ware commented on #3824
Closed as part of Reader ticket clean up.

[2019-11-21 13:06] #3824 closed

[2019-11-21 13:06] D-L-Ware commented on #3727
Closed as part of Reader ticket clean up.

[2019-11-21 13:06] #3727 closed

[2019-11-21 13:06] D-L-Ware commented on #3522
Closed as part of Reader ticket clean up.

[2019-11-21 13:06] #3522 closed

[2019-11-21 13:13] D-L-Ware commented on #3490
Closed as part of Reader ticket clean up.

[2019-11-21 13:13] #3490 closed

[2019-11-21 13:13] D-L-Ware commented on #3418
Closed as part of Reader ticket clean up.

[2019-11-21 13:13] #3418 closed

[2019-11-21 13:13] D-L-Ware commented on #3341
Closed as part of Reader ticket clean up.

[2019-11-21 13:13] #3341 closed

[2019-11-21 13:14] D-L-Ware commented on #3340
Closed as part of Reader ticket clean up.

[2019-11-21 13:14] #3340 closed

[2019-11-21 13:14] D-L-Ware commented on #3339
Closed as part of Reader ticket clean up.

[2019-11-21 13:14] #3339 closed

[2019-11-21 13:14] D-L-Ware commented on #3148
Closed as part of Reader ticket clean up.

[2019-11-21 13:14] #3148 closed

[2019-11-21 13:14] D-L-Ware commented on #3147
Closed as part of Reader ticket clean up.

[2019-11-21 13:14] #3147 closed

[2019-11-21 13:20] D-L-Ware commented on #2745
Closed as part of Reader ticket clean up.

[2019-11-21 13:20] #2745 closed

[2019-11-21 13:20] D-L-Ware commented on #2675
Closed as part of Reader ticket clean up.

[2019-11-21 13:20] #2675 closed

[2019-11-21 13:21] D-L-Ware commented on #2533
Closed as part of Reader ticket clean up.

[2019-11-21 13:21] #2533 closed

[2019-11-21 13:21] D-L-Ware commented on #2455
Closed as part of Reader ticket clean up.

[2019-11-21 13:21] #2455 closed

[2019-11-21 13:21] D-L-Ware commented on #2441
Closed as part of Reader ticket clean up.

[2019-11-21 13:21] #2441 closed

[2019-11-21 13:21] D-L-Ware commented on #2301
Closed as part of Reader ticket clean up.

[2019-11-21 13:21] #2301 closed

[2019-11-21 13:21] D-L-Ware commented on #1997
Closed as part of Reader ticket clean up.

[2019-11-21 13:21] #1997 closed

[2019-11-21 13:22] D-L-Ware commented on #1792
Closed as part of Reader ticket clean up.

[2019-11-21 13:22] #1792 closed

[2019-11-21 13:22] D-L-Ware commented on #1706
Closed as part of Reader ticket clean up.

[2019-11-21 13:22] #1706 closed

[2019-11-21 13:23] D-L-Ware commented on #3115
Closed as part of Reader ticket clean up.

[2019-11-21 13:23] #3115 closed

[2019-11-21 13:28] D-L-Ware commented on #3086
Closed as part of Reader ticket clean up.

[2019-11-21 13:28] #3086 closed

[2019-11-21 13:28] D-L-Ware commented on #3004
Closed as part of Reader ticket clean up.

[2019-11-21 13:28] #3004 closed

[2019-11-21 13:28] D-L-Ware commented on #2976
Closed as part of Reader ticket clean up.

[2019-11-21 13:28] #2976 closed

[2019-11-21 13:28] D-L-Ware commented on #2926
Closed as part of Reader ticket clean up.

[2019-11-21 13:28] #2926 closed

[2019-11-21 13:28] D-L-Ware commented on #2917
Closed as part of Reader ticket clean up.

[2019-11-21 13:28] #2917 closed

[2019-11-21 13:29] D-L-Ware commented on #2901
Closed as part of Reader ticket clean up.

[2019-11-21 13:29] #2901 closed

[2019-11-21 13:29] D-L-Ware commented on #2872
Closed as part of Reader ticket clean up.

[2019-11-21 13:29] #2872 closed

[2019-11-21 13:29] D-L-Ware commented on #2789
Closed as part of Reader ticket clean up.

[2019-11-21 13:29] #2789 closed

[2019-11-21 13:29] D-L-Ware commented on #2948
Closed as part of Reader ticket clean up.

[2019-11-21 13:29] #2948 closed

[2019-11-21 13:35] D-L-Ware commented on #4292
Closed as part of Reader ticket clean up.

[2019-11-21 13:35] #4292 closed

[2019-11-21 13:35] D-L-Ware commented on #4791
Closed as part of Reader ticket clean up.

[2019-11-21 13:35] #4791 closed

[2019-11-21 13:36] D-L-Ware commented on #4821
Closed as part of Reader ticket clean up.

[2019-11-21 13:36] #4821 closed

[2019-11-21 13:36] D-L-Ware commented on #4859
Closed as part of Reader ticket clean up.

[2019-11-21 13:36] #4859 closed

[2019-11-21 13:36] D-L-Ware commented on #4930
Closed as part of Reader ticket clean up.

[2019-11-21 13:36] #4930 closed

[2019-11-21 13:36] D-L-Ware commented on #4946
Closed as part of Reader ticket clean up.

[2019-11-21 13:36] #4946 closed

[2019-11-21 13:36] D-L-Ware commented on #4991
Closed as part of Reader ticket clean up.

[2019-11-21 13:37] D-L-Ware commented on #7874
Closed as part of Reader ticket clean up.

[2019-11-21 13:37] #7874 closed

[2019-11-21 14:06] pkarman commented on #4991
This affects our data integrity so I'm going to re-open this one.

[2019-11-21 16:34] pkarman opened #12771 "Migrate Looker report for AMA Intakes by Type"
The appeals-api channel has a custom Looker report for the first of the month that breaks intakes completed down by decision review type.

Confirm whether the monthly metrics report is a suitable substitute.

[2019-11-21 16:40] kellylein commented on #12771
The existing Monthly Metric Report will cover our needs.

[2019-11-21 16:43] nicholer commented on #12648
In a meeting with the Hearings Branch, they suggested that Docket Number is not an important column on the Schedule Veterans screen (the list is already sorted in docket order). Perhaps removing the Docket Number column can create space for an original Regional Office column.

[2019-11-21 16:44] #12771 closed

[2019-11-21 17:00] #12656 closed

[2019-11-21 18:45] #12514 closed

[2019-11-21 19:34] yoomlam opened #12773 "Long-term Data Integrity Planning"
## Background/context

In Team Echo's sprint retro, we commented on the lack of any single team responsible for the [data integrity](https://en.wikipedia.org/wiki/Data_integrity) of Caseflow's DB.
Why is this important?
- Caseflow's DB is the system of record for AMA appeals.
- The DB schema evolves over time, introducing potential inconsistencies with past data records.
- Potential mis-interpreta

[2019-11-21 20:05] #12658 closed

[2019-11-21 20:56] leikkisa opened #12776 "Intake | Upstream error | Benefit Type, Payee code or EP Code is not valid"
## Description
We are getting the following error when trying to establish an EP:
Benefit Type, Payee code or EP Code is not valid.  Benefit Type must be CPD, Payee code must be 00, 10 - 29, 50, 60 or 70 - 78.

However, the veteran does not have a date_of_death so we are not considering the veteran deceased, and we're setting the benefit_type_code to 1 (CPL).

## Background/context/resources
INC R

[2019-11-21 21:13] ferristseng opened #12778 "Backend Workgroup Tech Improvements"
Tickets for the backend workgroup

[2019-11-21 21:18] kevmo commented on #11607
Changed 834 `GenericTask`s to `Task`s.

Here's the relevant portion of the Rake task output. Contains IDs of those tasks whose `type` has been changed + the reverting rake command.
[code]

[2019-11-21 22:52] #12731 closed

[2019-11-21 23:09] edmangimelli commented on #12705
@pkarman from the accompanying PR:

[2019-11-21 23:15] #12733 closed

[2019-11-22 12:48] pkarman commented on #12397
The story in #11103 says

which seems different than "connecting multiple". AFAIK the current Add Issues flow only gives the modal for connecting legacy issues when the opt-in box is checked, effectively making all connections == opt-ins.

I'm curious: where did the business requirement originate for connecting legacy issues w/o opting them in? What does it mean, from a business standpoint, to con

[2019-11-22 15:08] hschallhorn opened #12781 "Remove code that limits tasks for Vso and HearingsManagement organization queues"
Since [pagination is turned on for all users](https://github.com/department-of-veterans-affairs/appeals-deployment/pull/2224) and both [`Vso`](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/organizations/vso.rb#L4) and [`HearingsManagement`](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/organizations/hearings_management.rb#L16)

[2019-11-22 15:30] hschallhorn opened #12782 "Show NoShowHearingTasks in the HearingsManagement on hold tab"
When no `NoShowHearingTask`s are created, they are [automatically put on hold](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/tasks/assign_hearing_disposition_task.rb#L95) resulting in the following task tree.
[code]
An organization's [assigned](https://github.com/department-of-veterans-affairs/caseflow/blob/master/app/models/queue_tabs/organization_assigned_task

[2019-11-22 15:52] lowellrex commented on #12725
Looking at the first 3 days of data it looks like we've increased the runtime of our rspec tests reliably by ~90 seconds. Failure rate of 4/24 (~17%) over that time which is slightly less than the 23% failure rate of the two months prior, though probably not a meaningful number yet because there are only 24 examples so far. Let's gather some more data (2 weeks?) before making any decisions about h

[2019-11-22 15:59] lowellrex commented on #12725
Handing off future work here to @kevmo